---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:9:\"API title\";s:7:\"version\";s:5:\"0.0.1\";}"
host: api.3commas.io
basePath: /public/api
paths: ~
produces:
- application/json
definitions: !php/object "O:8:\"stdClass\":7:{s:10:\"PongEntity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"pong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"'pong'\";}}s:11:\"description\";s:68:\"Test
  connectivity to the Rest API (Permission: NONE, Security: NONE)\";}s:10:\"TimeEntity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"server_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:10:\"1525533222\";}}s:11:\"description\";s:100:\"Test
  connectivity to the Rest API and get the current server time (Permission: NONE,
  Security: NONE)\";}s:10:\"DealEntity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":62:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";s:1:\"1\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Deal::ShortDeal\";}s:6:\"bot_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";s:3:\"111\";}s:17:\"max_safety_orders\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;}s:14:\"deal_has_error\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:16:\"from_currency_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:10:\"DEPRECATED\";}s:14:\"to_currency_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10;s:11:\"description\";s:10:\"DEPRECATED\";}s:10:\"account_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:121;}s:26:\"active_safety_orders_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-08-08
  08:08:08\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-09-09
  09:09:09\";}s:9:\"closed_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-10-10
  10:10:10\";}s:9:\"finished?\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:34:\"current_active_safety_orders_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;}s:28:\"current_active_safety_orders\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:10:\"DEPRECATED\";}s:29:\"completed_safety_orders_count\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;s:11:\"description\";s:41:\"completed
  safeties (not including manual)\";}s:36:\"completed_manual_safety_orders_count\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;s:11:\"description\";s:25:\"completed
  manual safeties\";}s:12:\"cancellable?\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"panic_sellable?\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"trailing_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:11:\"tsl_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:25:\"stop_loss_timeout_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:28:\"stop_loss_timeout_in_seconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;}s:4:\"pair\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"'BTC_ADA'\";s:11:\"description\";s:18:\"Format:
  QUOTE_BASE\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'failed'\";s:11:\"description\";s:345:\"Values:
  created, base_order_placed, bought, cancelled, completed, failed, panic_sell_pending,
  panic_sell_order_placed, panic_sold, cancel_pending, stop_loss_pending, stop_loss_finished,
  stop_loss_order_placed, switched, switched_take_profit, ttp_activated, ttp_order_placed,
  liquidated, bought_safety_pending, bought_take_profit_pending, settled\";}s:11:\"take_profit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"'1.23'\";s:11:\"description\";s:10:\"Percentage\";}s:17:\"base_order_volume\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'0.001'\";}s:19:\"safety_order_volume\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'0.0015'\";}s:28:\"safety_order_step_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"'1.11'\";}s:13:\"bought_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'1.5'\";}s:13:\"bought_volume\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'150'\";}s:20:\"bought_average_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'100'\";}s:11:\"sold_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'1.5'\";}s:11:\"sold_volume\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'150'\";}s:18:\"sold_average_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'100'\";}s:16:\"take_profit_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"'base'\";s:11:\"description\";s:19:\"Values:
  base, total\";}s:12:\"final_profit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"'-0.00051'\";}s:22:\"martingale_coefficient\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'1.2'\";s:11:\"description\";s:10:\"Percentage\";}s:20:\"stop_loss_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'3.6'\";}s:13:\"error_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:26:\"'Error
  placing base order'\";}s:15:\"profit_currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"'quote_currency'\";s:11:\"description\";s:37:\"Values:
  quote_currency, base_currency\";}s:14:\"stop_loss_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"'stop_loss'\";s:11:\"description\";s:44:\"Values:
  stop_loss, stop_loss_and_disable_bot\";}s:24:\"safety_order_volume_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"'quote_currency'\";s:11:\"description\";s:51:\"Values:
  quote_currency, base_currency, percent, xbt\";}s:22:\"base_order_volume_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"'base_currency,'\";s:11:\"description\";s:51:\"Values:
  quote_currency, base_currency, percent, xbt\";}s:13:\"from_currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'BTC'\";}s:11:\"to_currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'ADA'\";}s:13:\"current_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'102'\";}s:17:\"take_profit_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'105'\";}s:23:\"final_profit_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'4.2'\";}s:24:\"actual_profit_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'3.4'\";}s:8:\"bot_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"My
  bot\";}s:12:\"account_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"My
  Account\";}s:16:\"usd_final_profit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"'3.3523452'\";}s:13:\"actual_profit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'0.0023'\";}s:17:\"actual_usd_profit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'0.0023'\";}s:14:\"failed_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Failed\";}s:18:\"reserved_base_coin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"1.3423523\";}s:20:\"reserved_second_coin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"0.1412454\";}s:18:\"trailing_deviation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"0.14\";}s:18:\"trailing_max_price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"0.1412454\";s:11:\"description\";s:62:\"Highest
  price met in case of long deal, lowest price otherwise\";}s:13:\"tsl_max_price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"0.1412454\";s:11:\"description\";s:69:\"Highest
  price met in TSL in case of long deal, lowest price otherwise\";}s:8:\"strategy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'short'\";s:11:\"description\";s:13:\"short
  or long\";}}}s:9:\"BotEntity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":46:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;}s:10:\"account_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10;}s:10:\"is_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:17:\"max_safety_orders\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;}s:26:\"active_safety_orders_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;}s:5:\"pairs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:33:\"['BTC_LTC',
  'BTC_ETH', 'BTC_ADA']\";s:11:\"description\";s:25:\"Format: [QUOTE_BASE, ...]\";}s:13:\"strategy_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:91:\"[{'options'=>{'time'=>'5m',
  'type'=>'buy_or_strong_buy'}, 'strategy'=>'trading_view'}, ...]\";}s:16:\"max_active_deals\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;}s:18:\"active_deals_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;}s:10:\"deletable?\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-08-08
  08:08:08\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-08-10
  10:10:10\";}s:16:\"trailing_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:11:\"tsl_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:24:\"deal_start_delay_seconds\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:60;s:11:\"description\";s:27:\"Deal
  start delay in seconds\";}s:25:\"stop_loss_timeout_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:28:\"stop_loss_timeout_in_seconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;}s:25:\"disable_after_deals_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;}s:13:\"deals_counter\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;}s:26:\"allowed_deals_on_same_pair\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"'Test
  Bot'\";}s:11:\"take_profit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'1.5'\";s:11:\"description\";s:12:\"'Percentage'\";}s:17:\"base_order_volume\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'0.002'\";}s:19:\"safety_order_volume\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'0.0015'\";}s:28:\"safety_order_step_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'1.1'\";}s:16:\"take_profit_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"'base'\";s:11:\"description\";s:19:\"Values:
  base, total\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"'Bot::SingleBot'\";s:11:\"description\";s:61:\"Values:
  [\"Bot::MultiBot\", \"Bot::SingleBot\", \"Bot::SwitchBot\"]\";}s:29:\"martingale_volume_coefficient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'1.3'\";}s:27:\"martingale_step_coefficient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'0.9'\";}s:20:\"stop_loss_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'5.5'\";}s:8:\"cooldown\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'200'\";}s:8:\"strategy\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";s:6:\"'long'\";s:11:\"description\";s:19:\"Values:
  long, short\";}s:18:\"min_volume_btc_24h\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'500.5'\";}s:15:\"profit_currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"'quote_currency'\";s:11:\"description\";s:37:\"Values:
  quote_currency, base_currency\";}s:9:\"min_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'0.0245'\";}s:9:\"max_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'0.0123'\";}s:14:\"stop_loss_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"'stop_loss'\";s:11:\"description\";s:44:\"Values:
  stop_loss, stop_loss_and_disable_bot\";}s:24:\"safety_order_volume_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"'base_currency'\";s:11:\"description\";s:51:\"Values:
  quote_currency, base_currency, percent, xbt\";}s:22:\"base_order_volume_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"'percent'\";s:11:\"description\";s:51:\"Values:
  quote_currency, base_currency, percent, xbt\";}s:12:\"account_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"'My
  account'\";}s:18:\"trailing_deviation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"0.14\";}s:25:\"finished_deals_profit_usd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12.14\";}s:20:\"finished_deals_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"252.1\";}s:13:\"leverage_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"'not_specified'\";s:11:\"description\";s:36:\"Values:
  custom, cross, not_specified\";}s:21:\"leverage_custom_value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"'1'\";}s:16:\"start_order_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'limit'\";s:11:\"description\";s:21:\"Values:
  limit, market\";}}}s:13:\"AccountEntity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":40:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:12;}s:19:\"auto_balance_period\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:12;}s:25:\"auto_balance_portfolio_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:452;}s:34:\"auto_balance_currency_change_limit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;}s:19:\"autobalance_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:9:\"is_locked\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:23:\"smart_trading_supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:23:\"smart_selling_supported\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:47:\"DEPRECATED.
  use smart_trading_supported instead\";}s:21:\"available_for_trading\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:15:\"stats_supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:17:\"trading_supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:20:\"market_buy_supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:21:\"market_sell_supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:25:\"conditional_buy_supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:12:\"bots_allowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:5:\"false\";}s:16:\"bots_ttp_allowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:5:\"false\";}s:16:\"bots_tsl_allowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:5:\"false\";}s:18:\"multi_bots_allowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:5:\"false\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-08-08
  08:08:08\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-08-22
  02:25:08\";}s:17:\"last_auto_balance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-08-21
  08:08:08\";}s:7:\"api_key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"''\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"'Binance
  2 '\";}s:19:\"auto_balance_method\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";s:6:\"'time'\";s:11:\"description\";s:29:\"Values:
  time, currency_change\";}s:18:\"auto_balance_error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"'Failed
  to autobalance'\";}s:11:\"lock_reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"'API
  key is invalid'\";}s:10:\"btc_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"'0.01134219'\";}s:10:\"usd_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"'70.93146245'\";}s:14:\"day_profit_btc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"'-0.00006'\";}s:14:\"day_profit_usd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"'-0.02147'\";}s:25:\"day_profit_btc_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'-0.26'\";}s:25:\"day_profit_usd_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'-1.23'\";}s:10:\"btc_profit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"'0.0001625'\";s:11:\"description\";s:12:\"Month
  period\";}s:10:\"usd_profit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"'5.05764787'\";s:11:\"description\";s:12:\"Month
  period\";}s:21:\"usd_profit_percentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"'6.25'\";s:11:\"description\";s:12:\"Month
  period\";}s:21:\"btc_profit_percentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"'2.36'\";s:11:\"description\";s:12:\"Month
  period\";}s:16:\"total_btc_profit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"'0.0012456'\";}s:16:\"total_usd_profit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"'6.123181'\";}s:19:\"pretty_display_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"'BittresxAccount'\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:44:\"'0xe00000dded00bbb08725d77777777ff070aa7aa7'\";}}}s:16:\"SmartTradeEntity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":62:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;}s:10:\"account_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:68;}s:18:\"trailing_stop_loss\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:16:\"from_currency_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10;}s:39:\"trailing_stop_loss_condition_percentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;}s:20:\"trailing_take_profit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:17:\"stop_loss_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:26:\"panic_sell_market_order_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:756;}s:19:\"take_profit_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:20:\"trailing_buy_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:25:\"stop_loss_timeout_seconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:300;}s:25:\"stop_loss_timeout_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:14:\"panic_sellable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:5:\"false\";}s:8:\"editable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:8:\"finished\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:5:\"false\";}s:11:\"cancellable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:5:\"false\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-08-08
  08:08:08\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-09-09
  09:09:09\";}s:40:\"trailing_stop_loss_last_price_updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-09-09
  09:09:09\";}s:42:\"trailing_take_profit_last_price_updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-09-09
  09:09:09\";}s:9:\"closed_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-10-10
  10:10:10\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'bought'\";s:11:\"description\";s:301:\"Values:
  buy_order_placed, bought, stop_loss_order_placed, take_profit_order_placed, stop_loss_finished,
  take_profit_finished, cancelled, failed, panic_sell_order_placed, panic_sell_finished,
  trailing_take_profit_activated, conditional_order_waiting_price, trailing_buy_activated,
  simple_trade_finished\";}s:27:\"take_profit_price_condition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"'105.125'\";}s:23:\"take_profit_price_order\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'106.01'\";}s:25:\"stop_loss_price_condition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'95.84'\";}s:21:\"stop_loss_price_order\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'94.88'\";}s:12:\"units_to_buy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'1.0525'\";}s:9:\"buy_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'101.12'\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"'106.4288'\";}s:17:\"average_buy_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'100.3'\";}s:18:\"average_sell_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'105.5'\";}s:13:\"error_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"'order
  cancelled'\";}s:25:\"trailing_take_profit_step\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'2.3'\";s:11:\"description\";s:10:\"Percentage\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"'SmartTrade::Classic'\";s:11:\"description\";s:248:\"Values:
  SmartTrade::Classic, SmartTrade::ConditionalBuy, SmartTrade::SmartSale, SmartTrade::SellBuyBack,
  SmartTrade::ConditionalSell, SmartTrade::SimpleBuy, SmartTrade::ConditionalSimpleBuy,
  SmartTrade::ConditionalSimpleSell, SmartTrade::SimpleSell\";}s:22:\"stop_loss_price_method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'bid'\";s:11:\"description\";s:22:\"Values:
  bid, ask, last\";}s:24:\"take_profit_price_method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'ask'\";s:11:\"description\";s:22:\"Values:
  bid, ask, last\";}s:29:\"trailing_stop_loss_last_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'94.545'\";}s:31:\"trailing_take_profit_last_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"'106.242'\";}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"'Best
  pair'\";}s:10:\"buy_method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'market'\";s:11:\"description\";s:42:\"Values:
  [\"limit\", \"market\", \"conditional\"]\";}s:16:\"take_profit_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"'step_sell'\";s:11:\"description\";s:26:\"Values:
  classic, step_sell\";}s:14:\"stop_loss_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"'classic'\";s:11:\"description\";s:26:\"Values:
  classic, step_sell\";}s:21:\"stop_loss_sell_method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'limit'\";s:11:\"description\";s:21:\"Values:
  market, limit\";}s:23:\"take_profit_sell_method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'market'\";s:11:\"description\";s:21:\"Values:
  market, limit\";}s:28:\"take_profit_sell_order_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'105.12'\";}s:26:\"stop_loss_sell_order_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'96.12'\";}s:17:\"trailing_buy_step\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'1.5'\";}s:17:\"profit_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'15.26'\";}s:13:\"current_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'103.26'\";}s:14:\"account_market\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"'BinanceMarket'\";}s:12:\"account_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'my
  acc'\";}s:18:\"from_currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'ETH'\";}s:18:\"from_currency_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"'Ethereum'\";}s:26:\"from_currency_display_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"'Ethereum
  (ETH)'\";}s:16:\"to_currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'BTC'\";}s:16:\"to_currency_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"'Bitcoin'\";}s:24:\"to_currency_display_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"'Bitcoin
  (BTC)'\";}s:10:\"usd_profit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"'-0.5'\";}s:17:\"smart_trade_steps\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SmartTradeStepEntity\";}s:17:\"take_profit_steps\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SmartTradeStepEntity\";}s:15:\"stop_loss_steps\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SmartTradeStepEntity\";}s:9:\"buy_steps\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SmartTradeStepEntity\";}}}s:20:\"SmartTradeStepEntity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;}s:8:\"editable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:8:\"position\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:23:\"For
  TP type = step_sell\";}s:8:\"order_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:128;}s:14:\"smart_trade_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:505;}s:13:\"is_panic_sell\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:5:\"false\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-09-09
  09:09:09\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-10-10
  10:11:12\";}s:30:\"trailing_last_pirce_updated_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-10-10
  10:12:12\";s:11:\"description\";s:10:\"DEPRECATED\";}s:30:\"trailing_last_price_updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-10-10
  10:12:12\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:32:\"'SmartTradeStep::TakeProfitStep'\";s:11:\"description\";s:290:\"SmartTradeStep::TrailingStopLossStep,
  SmartTradeStep::StopLossStep, SmartTradeStep::TrailingStopLossBuyStep, SmartTradeStep::StopLossBuyStep,
  SmartTradeStep::TakeProfitStep, SmartTradeStep::TrailingTakeProfitStep, SmartTradeStep::TakeProfitBuyStep,
  SmartTradeStep::TrailingTakeProfitBuyStep\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'102.15'\";}s:20:\"average_result_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'103.1'\";}s:19:\"deviation_condition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'1.4'\";}s:12:\"price_method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"'bid'\";s:11:\"description\";s:14:\"bid,
  ask ,last\";}s:19:\"trailing_last_pirce\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'103.4'\";s:11:\"description\";s:10:\"DEPRECATED\";}s:19:\"trailing_last_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'103.4'\";}s:11:\"sell_method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'market'\";s:11:\"description\";s:21:\"Values:
  market, limit\";}s:16:\"sell_order_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"'103.5'\";}s:7:\"percent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"'25.6'\";}s:4:\"pair\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"'BTC_LTC'\";s:11:\"description\";s:10:\"QUOTE_BASE\";}s:14:\"initial_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"'50'\";}s:13:\"initial_total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'5107.5'\";}s:13:\"actual_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"'48'\";}s:12:\"actual_total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"'4903.2'\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"'enqueued'\";s:11:\"description\";s:85:\"Values:
  idle, enqueued, need_check, processed, skipped, failed, cancelled, panic_sold\";}s:15:\"market_order_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";i:606;}s:12:\"market_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"'BinanceMarket'\";}s:16:\"price_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"'10.2'\";}}}}"
...
