---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"KYC Registry API\";s:7:\"version\";s:10:\"1.0.0-oas2\";s:5:\"title\";s:7:\"KYC
  API\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:39:\"SWIFT API Collaboration
  Group Agreement\";s:3:\"url\";s:90:\"https://www2.swift.com/dlc/download/files/API_Collaboration_Group_Agreement_19June2018.pdf\";}}"
host: kycregistry.swift.com
basePath: /v1/api
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":106:{s:5:\"Token\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"token\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"EyjhB2adERxt45sEE.aGhYyDDuIO\";s:11:\"description\";s:91:\"This
  is used for authorization for subsequent API call, it is set as Bearer Token in
  Header\";}}s:5:\"title\";s:5:\"Token\";s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"token\";s:28:\"EyjhB2adERxt45sEE.aGhYyDDuIO\";}}s:6:\"Entity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"bic\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"GLOBDESTXXX\";s:11:\"description\";s:0:\"\";}s:3:\"lei\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"B81CK4ESI35472RHJ606\";s:11:\"description\";s:0:\"\";}s:9:\"legalName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"GLOBAL
  BANK BADEN-WUERTTEMBERG\";s:11:\"description\";s:0:\"\";}s:17:\"registeredAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:43:\"MAIN
  STREET 1, MANNHEIM 68165, Germany (DE)\";s:11:\"description\";s:0:\"\";}s:11:\"tradingName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"GLOBAL
  BANK BADEN-WUERTTEMBERG\";s:11:\"description\";s:0:\"\";}s:16:\"operatingAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:57:\"POB
  10 60 49 MAIN STREET 1, STUTTGART 70173, Germany (DE)\";s:11:\"description\";s:0:\"\";}s:7:\"folders\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Folders\";}}s:5:\"title\";s:6:\"Entity\";}s:7:\"Folders\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"identificationOfCustomer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DataIoc\";}s:28:\"ownershipManagementStructure\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DataOms\";}s:14:\"typeOfBusiness\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DataTob\";}s:10:\"compliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DataCom\";}s:8:\"taxation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DataTax\";}}s:5:\"title\";s:7:\"Folders\";}s:7:\"DataIoc\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Data_IOC\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataIoc_inner\";}}s:4:\"Data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:14:\"LegalFormLocal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"Joint
  stock company\";s:11:\"description\";s:0:\"\";}s:19:\"LegalFormAnglicised\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"Joint
  stock company\";s:11:\"description\";s:0:\"\";}s:14:\"LegalNameLocal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"GLOBAL
  BANK\";s:11:\"description\";s:0:\"\";}s:17:\"LegalNamePrevious\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:16:\"TradingNameLocal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:23:\"IndustryClassifications\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/IndustryClassifications\";}s:8:\"SICCodes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SICCodes\";}s:15:\"EmployeesNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"1-50\";s:11:\"description\";s:0:\"\";}s:18:\"RegistrationNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"111-222-3333\";s:11:\"description\";s:0:\"\";}s:28:\"RegistrationAuthorityCountry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Germany\";s:11:\"description\";s:0:\"\";}s:21:\"RegistrationAuthority\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:40:\"Unternehmens-register
  - Company Register\";s:11:\"description\";s:0:\"\";}s:28:\"RegistrationAuthorityWebsite\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:17:\"IncorporationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"1/1/2002
  12:00:00 AM\";s:11:\"description\";s:0:\"\";}s:7:\"Website\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:16:\"RegulatoryStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Fully
  Regulated\";s:11:\"description\";s:0:\"\";}s:9:\"ShellBank\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:23:\"RegulatorCountryPrimary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Germany\";s:11:\"description\";s:0:\"\";}s:20:\"RegulatorNamePrimary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:90:\"Bundesanstalt
  f\xFCr Finanzdienstleistungsaufsicht - Federal Financial Supervisory Authority\";s:11:\"description\";s:0:\"\";}s:23:\"RegulatorWebsitePrimary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:17:\"PassportedLicence\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:12:\"LicencesInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LicencesInfo\";}}s:5:\"title\";s:4:\"Data\";}s:23:\"IndustryClassifications\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"IndustryClassification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"SIC\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:23:\"IndustryClassifications\";}s:8:\"SICCodes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"SICCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:32:\"6021
  - National Commercial Banks\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:8:\"SICCodes\";}s:12:\"LicencesInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"LicenceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/LicenceInfo\";}}s:5:\"title\";s:12:\"LicencesInfo\";}s:11:\"LicenceInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"LicenceTypes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LicenceTypes\";}s:22:\"OffshoreBankingLicense\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:18:\"LicenceRestriction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:13:\"LicenceNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:23:\"LicenceAuthorityCountry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Germany\";s:11:\"description\";s:0:\"\";}s:20:\"LicenceAuthorityName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:90:\"Bundesanstalt
  f\xFCr Finanzdienstleistungsaufsicht - Federal Financial Supervisory Authority\";s:11:\"description\";s:0:\"\";}s:30:\"RegulatedFinancialServicesYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"2004\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:11:\"LicenceInfo\";}s:12:\"LicenceTypes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"LicenceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Full
  Licence\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:12:\"LicenceTypes\";}s:13:\"DocumentModel\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"documentId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"SWAAABU99027\";s:11:\"description\";s:0:\"\";}s:12:\"documentType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"Proof
  of regulation\";s:11:\"description\";s:0:\"\";}s:8:\"fileName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"GLOBDESTXXX_POR_English.pdf\";s:11:\"description\";s:0:\"\";}s:8:\"language\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"English\";s:11:\"description\";s:0:\"\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"/documents/SWAAABU99027\";s:11:\"description\";s:0:\"\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2020-01-01T00:00:00.000Z\";s:11:\"description\";s:0:\"\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"Proof
  Of Regulation\";s:11:\"description\";s:0:\"\";}s:14:\"documentStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:21:\"documentStatusComment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:31:\"This
  document is not applicable\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:13:\"DocumentModel\";s:7:\"example\";O:8:\"stdClass\":6:{s:12:\"documentType\";s:19:\"Proof
  of regulation\";s:8:\"fileName\";s:27:\"GLOBDESTXXX_POR_English.pdf\";s:8:\"language\";s:7:\"English\";s:3:\"url\";s:23:\"/documents/SWAAABU99027\";s:10:\"expiryDate\";s:24:\"2020-01-01T00:00:00.000Z\";s:11:\"description\";s:19:\"Proof
  Of Regulation\";}}s:7:\"DataOms\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Data_OMS\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataOms_inner\";}}s:6:\"Data11\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:17:\"OrganisationForms\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrganisationForms\";}s:16:\"SharesPercentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"12\";s:11:\"description\";s:0:\"\";}s:27:\"StockExchangeCountryPrimary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Germany\";s:11:\"description\";s:0:\"\";}s:24:\"StockExchangeNamePrimary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"B\xF6rse
  Stuttgart AG\";s:11:\"description\";s:0:\"\";}s:27:\"StockExchangeWebsitePrimary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"http://www.boerse-stuttgart.de\";s:11:\"description\";s:0:\"\";}s:24:\"StockExchangeCodePrimary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"XSTU\";s:11:\"description\";s:0:\"\";}s:29:\"StockExchangeCountrySecondary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:12:\"BearerShares\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:29:\"ShareholdingEntitiesStatement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:94:\"We
  confirm that no company owns directly and/or indirectly 10 % or more of the entity's
  shares\";s:11:\"description\";s:0:\"\";}s:16:\"TrustInStructure\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:10:\"TrustsInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TrustsInfo\";}s:21:\"FoundationInStructure\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:13:\"UBOsStatement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:174:\"We
  confirm that our Ultimate Beneficial Owners are as follows and that no other natural
  person controls or owns directly and/or indirectly 10 % or more of the entity's
  shares\";s:11:\"description\";s:0:\"\";}s:8:\"UBOsInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/UBOsInfo\";}s:14:\"FactualControl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:18:\"KeyControllersInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/KeyControllersInfo\";}s:19:\"AuditedAnnualReport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:13:\"AuditorsNames\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AuditorsNames\";}s:17:\"ReportingCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"EUR
  - EURO\";s:11:\"description\";s:0:\"\";}s:22:\"SourceOfWealthBusiness\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:38:\"Funding
  from parent / beneficial owner\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:6:\"Data11\";}s:17:\"OrganisationForms\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"OrganisationForm\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Publicly
  traded\";}}}s:5:\"title\";s:17:\"OrganisationForms\";}s:10:\"TrustsInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TrustInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TrustInfo\";}}}s:5:\"title\";s:10:\"TrustsInfo\";}s:9:\"TrustInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"LegalNameTrust\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"Great
  Imperial Trust\";s:11:\"description\";s:0:\"\";}s:22:\"RegisteredAddressTrust\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RegisteredAddressTrust\";}s:11:\"SettlorType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Entity\";s:11:\"description\";s:0:\"\";}s:16:\"TrusteeTypeTrust\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Entity\";s:11:\"description\";s:0:\"\";}s:24:\"BeneficiariesNumberTrust\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"More
  than 5\";s:11:\"description\";s:0:\"\";}s:23:\"RegulatorCountryTrustee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:13:\"ProtectorName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:9:\"TrustInfo\";}s:22:\"RegisteredAddressTrust\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:29:\"RegisteredAddressCountryTrust\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Denmark\";}}}s:5:\"title\";s:22:\"RegisteredAddressTrust\";}s:8:\"UBOsInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"UBOInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/UBOInfo\";}}}s:5:\"title\";s:8:\"UBOsInfo\";}s:7:\"UBOInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"UBOType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Family
  member\";s:11:\"description\";s:0:\"\";}s:13:\"FamilyNameUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Rothschild\";s:11:\"description\";s:0:\"\";}s:7:\"NameUBO\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/NameUBO\";}s:9:\"GenderUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Male\";s:11:\"description\";s:0:\"\";}s:10:\"AddressUBO\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AddressUBO\";}s:16:\"NationalitiesUBO\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NationalitiesUBO\";}s:18:\"SourcesOfWealthUBO\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SourcesOfWealthUBO\";}s:16:\"OwnerhsipTypeUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Direct\";s:11:\"description\";s:0:\"\";}s:18:\"OwnershipLevelsUBO\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/OwnershipLevelsUBO\";}s:21:\"IntermediateEntityUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:29:\"NonDilutedSharesPercentageUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"45\";s:11:\"description\";s:0:\"\";}s:26:\"DilutedSharesPercentageUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"10\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:7:\"UBOInfo\";}s:7:\"NameUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"FirstNameLatinUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Damien\";s:11:\"description\";s:0:\"\";}s:18:\"MiddleNameLatinUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Henry\";s:11:\"description\";s:0:\"\";}s:16:\"LastNameLatinUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Rothschild\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:7:\"NameUBO\";}s:10:\"AddressUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"AddressCountryUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Denmark\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:10:\"AddressUBO\";}s:16:\"NationalitiesUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"NationalityUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"United
  Kingdom\";}}}s:5:\"title\";s:16:\"NationalitiesUBO\";}s:18:\"SourcesOfWealthUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"SourceOfWealthUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:26:\"Active
  Wealth/ Investments\";}}}s:5:\"title\";s:18:\"SourcesOfWealthUBO\";}s:18:\"OwnershipLevelsUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"OwnershipLevelUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"3\";}}}s:5:\"title\";s:18:\"OwnershipLevelsUBO\";}s:18:\"KeyControllersInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"KeyControllerInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/KeyControllerInfo\";}}}s:5:\"title\";s:18:\"KeyControllersInfo\";}s:17:\"KeyControllerInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"NameKeyController\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/NameKeyController\";}s:19:\"GenderKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Female\";s:11:\"description\";s:0:\"\";}s:24:\"DateOfBirthKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Not
  disclosed\";s:11:\"description\";s:0:\"\";}s:24:\"YearOfBirthKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Not
  disclosed\";s:11:\"description\";s:0:\"\";}s:20:\"AddressKeyController\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AddressKeyController\";}s:26:\"NationalitiesKeyController\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/NationalitiesKeyController\";}s:22:\"JobTitlesKeyController\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/JobTitlesKeyController\";}s:23:\"MembershipKeyController\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/MembershipKeyController\";}}s:5:\"title\";s:17:\"KeyControllerInfo\";}s:17:\"NameKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:27:\"FirstNameLatinKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Jessie\";s:11:\"description\";s:0:\"\";}s:26:\"LastNameLatinKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Lim\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:17:\"NameKeyController\";}s:20:\"AddressKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:27:\"AddressCountryKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"China\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:20:\"AddressKeyController\";}s:26:\"NationalitiesKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"NationalityKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"China\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:26:\"NationalitiesKeyController\";}s:22:\"JobTitlesKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"JobTitleKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"Chair
  of the Audit Committee\";}}}s:5:\"title\";s:22:\"JobTitlesKeyController\";}s:23:\"MembershipKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"MembershipTypesKeyController\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/MembershipTypesKeyController\";}}s:5:\"title\";s:23:\"MembershipKeyController\";}s:28:\"MembershipTypesKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:27:\"MembershipTypeKeyController\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"Board
  of Directors\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:28:\"MembershipTypesKeyController\";}s:13:\"AuditorsNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"AuditorName\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Deloitte\";}}}s:5:\"title\";s:13:\"AuditorsNames\";}s:7:\"DataTob\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Data_TOB\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataTob_inner\";}}s:6:\"Data34\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":58:{s:26:\"ProductsAndServicesOffered\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ProductsAndServicesOffered\";}s:23:\"DomesticBanksCBServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:28:\"DomesticBanksDwnstrmServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:22:\"ForeignBanksCBServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:27:\"ForeignBanksDwnstrmServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:13:\"MsbCBservices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:18:\"MsbDwnstrmServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:21:\"CashServicesToCustody\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:38:\"CorrespondentClearingServicesToCustody\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"DwnstrmCorrespondentClearingServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:54:\"DwnstrmCorrespondentClearingServicesDomesticAffiliates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:64:\"DwnstrmCorrespondentClearingServicesDomesticAffiliatesCurrencies\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:78:\"#/definitions/DwnstrmCorrespondentClearingServicesDomesticAffiliatesCurrencies\";}s:53:\"DwnstrmCorrespondentClearingServicesForeignAffiliates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:49:\"DwnstrmCorrespondentClearingServicesDomesticBanks\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:48:\"DwnstrmCorrespondentClearingServicesForeignBanks\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:17:\"AnonymousAccounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:24:\"BusinessForFictiousNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:31:\"WireTransfersRevenueSignificant\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"FinancialProductsThroughThirdParties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:19:\"InternetOnlyChannel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:39:\"ProductsAndServicesApplicableToBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:13:\"CustomerBases\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CustomerBases\";}s:31:\"ProportionIndividualsMassRetail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"<10%\";s:11:\"description\";s:0:\"\";}s:23:\"WalkInCustomersServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:27:\"NonAccountCustomersServices\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/NonAccountCustomersServices\";}s:38:\"NonAccountsCustomersServicesCurrencies\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/NonAccountsCustomersServicesCurrencies\";}s:38:\"NonAccountsCustomersTransactionsLimits\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:40:\"NonAccountsCustomersTransactionScreening\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:18:\"ShellBanksServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:28:\"OffshoreCustomersSignificant\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:12:\"MSBCustomers\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:29:\"RegulatedMsbCustomersServices\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/RegulatedMsbCustomersServices\";}s:27:\"RegulatedMSBCustomersNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"26-50\";s:11:\"description\";s:0:\"\";}s:30:\"CountriesRegulatedMsbCustomers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/CountriesRegulatedMsbCustomers\";}s:31:\"UnregulatedMSBCustomersServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:17:\"FormerMSBServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:34:\"PrivateInvestmentCompaniesServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"CompaniesIssuingBearerSharesServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:32:\"VirtualCurrencyExchangesServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:22:\"FXAggregatorsCustomers\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:22:\"FXAggregatorsProviders\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:27:\"AggregatorProvidersLicensed\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:25:\"GamblingCompaniesServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:26:\"GamblingCompaniesRegulated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:33:\"InternetGamblingCompaniesServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:39:\"FiftyPercentOfRevenueFromOneKeyCustomer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:28:\"KeyCustomerPrimaryIndustries\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/KeyCustomerPrimaryIndustries\";}s:20:\"CustomerBaseIndustry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:15:\"EntityPresences\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityPresences\";}s:27:\"EntityPresencesNorthAmerica\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/EntityPresencesNorthAmerica\";}s:27:\"FiftyPercentOfAssestCountry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:18:\"CustomersPresences\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CustomersPresences\";}s:30:\"CustomersPresencesNorthAmerica\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/CustomersPresencesNorthAmerica\";}s:28:\"CustomersPresencesMiddleEast\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/CustomersPresencesMiddleEast\";}s:31:\"TenPercentOfCustomerBaseCountry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:26:\"TenPercentOfRevenueCountry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:30:\"SanctionedJurisdictionPresence\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"SanctionedJurisdictionFuturePresence\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:6:\"Data34\";}s:26:\"ProductsAndServicesOffered\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"ProductAndServiceOffered\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"Correspondent
  Banking\";}}}s:5:\"title\";s:26:\"ProductsAndServicesOffered\";}s:64:\"DwnstrmCorrespondentClearingServicesDomesticAffiliatesCurrencies\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:62:\"DwnstrmCorrespondentClearingServicesDomesticAffiliatesCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"EUR
  - EURO\";}}}s:5:\"title\";s:64:\"DwnstrmCorrespondentClearingServicesDomesticAffiliatesCurrencies\";}s:13:\"CustomerBases\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"CustomerBase\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"Individuals
  - Mass Retail\";}}}s:5:\"title\";s:13:\"CustomerBases\";}s:27:\"NonAccountCustomersServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"NonAccountCustomersService\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Foreign
  exchange\";}}}s:5:\"title\";s:27:\"NonAccountCustomersServices\";}s:38:\"NonAccountsCustomersServicesCurrencies\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:36:\"NonAccountsCustomersServicesCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"MYR
  - MALAYSIAN RINGGIT\";}}}s:5:\"title\";s:38:\"NonAccountsCustomersServicesCurrencies\";}s:29:\"RegulatedMsbCustomersServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"RegulatedMSBCustomersService\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"Local
  Currency Clearing\";}}}s:5:\"title\";s:29:\"RegulatedMsbCustomersServices\";}s:30:\"CountriesRegulatedMsbCustomers\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"CountryRegulatedMSBCustomers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Algeria\";}}}s:5:\"title\";s:30:\"CountriesRegulatedMsbCustomers\";}s:28:\"KeyCustomerPrimaryIndustries\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"KeyCustomerPrimaryIndustry\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"10-14
  Mining\";}}}s:5:\"title\";s:28:\"KeyCustomerPrimaryIndustries\";}s:15:\"EntityPresences\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"EntityPresence\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"North
  America\";}}}s:5:\"title\";s:15:\"EntityPresences\";}s:27:\"EntityPresencesNorthAmerica\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"EntityPresenceNorthAmerica\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Jamaica\";}}}s:5:\"title\";s:27:\"EntityPresencesNorthAmerica\";}s:18:\"CustomersPresences\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"CustomersPresence\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"North
  America\";}}}s:5:\"title\";s:18:\"CustomersPresences\";}s:30:\"CustomersPresencesNorthAmerica\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:29:\"CustomersPresenceNorthAmerica\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"United
  States\";}}}s:5:\"title\";s:30:\"CustomersPresencesNorthAmerica\";}s:28:\"CustomersPresencesMiddleEast\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:27:\"CustomersPresenceMiddleEast\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Israel\";}}}s:5:\"title\";s:28:\"CustomersPresencesMiddleEast\";}s:7:\"DataCom\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Data_COM\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataCom_inner\";}}s:6:\"Data49\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":126:{s:16:\"ContactDetailsML\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:34:\"Money
  Laundering Reporting Officer\";s:11:\"description\";s:0:\"\";}s:18:\"MLReportingOfficer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/MLReportingOfficer\";}s:18:\"ComplianceOfficers\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Not
  disclosed\";s:11:\"description\";s:0:\"\";}s:17:\"ContactDetailsAML\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Not
  disclosed\";s:11:\"description\";s:0:\"\";}s:29:\"NonUSToUSRelationInSecurities\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:22:\"ComplianceAtGroupLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"No,
  the entity is not part of a group\";s:11:\"description\";s:0:\"\";}s:22:\"IndependentAMLFunction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:28:\"IndependentSanctionsFunction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:23:\"EntitySubjectToLocalLaw\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:15:\"MinAMLStandards\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MinAMLStandards\";}s:29:\"EmployeesNumberInAMLSanctions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"10-50\";s:11:\"description\";s:0:\"\";}s:47:\"EntityConfidentialABCWhistleblowingAvailability\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:24:\"AMLSanctionsApprovalFreq\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:26:\"LastAMLSanctionsReviewDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"8/9/2017
  12:00:00 AM\";s:11:\"description\";s:0:\"\";}s:28:\"AMLSanctionsReportingToBoard\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:24:\"AMLSanctionsByThirdParty\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:35:\"AMLSanctionsApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:34:\"ABCConsistencyOnDocumentedPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:20:\"ABCSetupMinStandards\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:15:\"ABCSetupOfficer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:21:\"ABCSetupAdequateStaff\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:7:\"ABCProg\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/ABCProg\";}s:11:\"ABCPolicies\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ABCPolicies\";}s:34:\"ABCPoliciesEffectivenessMonitoring\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:19:\"ABCReportingToBoard\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:25:\"ABCAssessmentToEnterprise\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:13:\"ABCRiskRating\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:15:\"ABCRiskCoverage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ABCRiskCoverage\";}s:33:\"ABCPoliciesCoveredByInternalAudit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:11:\"ABCTraining\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ABCTraining\";}s:27:\"ABCTrainingForSpecificRoles\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:19:\"WhistleBlowerPolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:36:\"ABCInvestigationOnPotentialViolation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:33:\"ABCProcessApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:19:\"PoliciesConsistency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PoliciesConsistency\";}s:23:\"PoliciesUpdatedAnnually\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:11:\"PoliciesGap\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PoliciesGap\";}s:22:\"RiskToleranceStatement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:19:\"RetentionProcedures\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:45:\"PolicyToMonitorHighMoneyLaunderingRiskAccount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:52:\"ProcessToIdentifyDownstreamRelationWithDomesticBanks\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:51:\"ProcessToIdentifyDownstreamRelationWithForeginBanks\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:42:\"ProcessToIdentifyDownstreamRelationWithMSB\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:31:\"PoliciesApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:17:\"AMLRARiskCoverage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AMLRARiskCoverage\";}s:20:\"AMLRAControlCoverage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AMLRAControlCoverage\";}s:17:\"AMLRALast12Months\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:23:\"SanctionsRARiskCoverage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/SanctionsRARiskCoverage\";}s:26:\"SanctionsRAControlCoverage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/SanctionsRAControlCoverage\";}s:23:\"SanctionsRALast12Months\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:18:\"AMLHighRiskGeoArea\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:37:\"AMLSanctionsRAApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:15:\"IOCVerification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:29:\"PoliciesToEnsureCDDCompletion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:19:\"InfoRetainmentOnCDD\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/InfoRetainmentOnCDD\";}s:16:\"DDIdentification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DDIdentification\";}s:45:\"MinThresholdBeneficialOwnershipIdentification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"20%\";s:11:\"description\";s:0:\"\";}s:12:\"KYCApprovers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KYCApprovers\";}s:43:\"KYCProcessDifferenceForRenewalAndOnboarding\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:17:\"KYCRenewalTrigger\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:24:\"HasCentralisedKYCProcess\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:22:\"CustRiskClassification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:27:\"CustScreeningOnAdverseMedia\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:34:\"CustScreeningOnAdverseMediaMethods\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/CustScreeningOnAdverseMediaMethods\";}s:20:\"EntityPEPDefinitions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EntityPEPDefinitions\";}s:25:\"LocalAndForeignPEPCompare\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:18:\"CustScreeningOnPEP\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:25:\"CustScreeningOnPEPMethods\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/CustScreeningOnPEPMethods\";}s:17:\"ListPEPScreenings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ListPEPScreenings\";}s:17:\"PEPScreeningFreqs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PEPScreeningFreqs\";}s:21:\"PEPScreeningProcedure\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:14:\"CustInfoReview\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CustInfoReview\";}s:14:\"DDReviewReport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:13:\"EDDCategories\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EDDCategories\";}s:12:\"EDDProcesses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EDDProcesses\";}s:17:\"EDDQualityControl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:29:\"EDDProcessApplicableToAllCust\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:32:\"KYCCDDEDDApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:41:\"TransactionMonitoringOnSuspiciousActivity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:48:\"TransactionMonitoringOnSuspiciousActivityMethods\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/TransactionMonitoringOnSuspiciousActivityMethods\";}s:40:\"AMLMonitoringApplicableToAllTransactions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:20:\"CurrencyReportingReq\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:36:\"PoliciesToComplyCurrencyReportingReq\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"PoliciesToReviewCurrencyReportingReq\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:16:\"CashReportingReq\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:32:\"CashReportingAutomatedMonitoring\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:27:\"TransactionMonitoringLevels\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TransactionMonitoringLevels\";}s:30:\"TransactionMonitoringCriterias\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/TransactionMonitoringCriterias\";}s:32:\"SuspiciousAlertsReviewGovernance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:27:\"SuspiciousAlertsReviewStaff\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:26:\"SuspiciousAlertsEscalation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:22:\"ReportSuspiciousAlerts\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:42:\"MonitoringReportingApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:14:\"WBPTSAdherence\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:14:\"FATFCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FATFCompliance\";}s:20:\"ProcessToRespondRFIs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:29:\"IPMControlsForAccurateOriInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:33:\"IPMControlsForRequiredBeneficiary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:42:\"PaymentTransparencyApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:25:\"CompliedSanctionsPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:38:\"PoliciesToPreventUseOfAnotherFIAccount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:38:\"PoliciesToDetectActionToEvadeSanctions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:28:\"SanctionsScreeningOnCustData\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:41:\"SanctionsScreeningOnSanctionsRelevantData\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:20:\"SanctionsListsInUsed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SanctionsListsInUsed\";}s:36:\"SanctionsListUpdateFreqOnNewEntities\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"Within
  3 to 5 days\";s:11:\"description\";s:0:\"\";}s:39:\"PhysicalPresenseInSanctionsJurisdiction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:32:\"SanctionsApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:17:\"MandatoryTraining\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MandatoryTraining\";}s:24:\"MandatoryTrainingGivenTo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/MandatoryTrainingGivenTo\";}s:23:\"AMLSanctionsCTRTraining\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:27:\"AMLSanctionsCTRTrainingFreq\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Annually\";s:11:\"description\";s:0:\"\";}s:21:\"CustomizedAMLTraining\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:40:\"TrainingEducationApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:9:\"QAProcess\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:20:\"IndependentQAProcess\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:25:\"QAApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:21:\"InternalAuditFunction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:9:\"AuditFreq\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AuditFreq\";}s:13:\"AuditCoverage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AuditCoverage\";}s:18:\"AuditFindingsOnAML\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:21:\"AuditFindingsTracking\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:29:\"LastAMLInspectionByRegulators\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"5/24/2008
  12:00:00 AM\";s:11:\"description\";s:0:\"\";}s:23:\"AMLFindingsByRegulators\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:28:\"HasViolationWithinThreeYears\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:28:\"AuditApplicableToAllBranches\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:6:\"Data49\";}s:18:\"MLReportingOfficer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:27:\"FirstNameMLReportingOfficer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Jacob\";s:11:\"description\";s:0:\"\";}s:26:\"LastNameMLReportingOfficer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Ethan\";s:11:\"description\";s:0:\"\";}s:23:\"EmailMLReportingOfficer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"jacob.ethan@global.com\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:18:\"MLReportingOfficer\";}s:15:\"MinAMLStandards\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:32:\"MinAMLStandardOnAppointedOfficer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:29:\"MinAMLStandardOnCashReporting\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:19:\"MinAMLStandardOnCDD\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:19:\"MinAMLStandardOnEDD\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:35:\"MinAMLStandardOnBeneficialOwnership\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:34:\"MinAMLStandardOnIndependentTesting\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:30:\"MinAMLStandardOnPeriodicReview\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:34:\"MinAMLStandardOnPoliciesProcedures\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:30:\"MinAMLStandardOnRiskAssessment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:25:\"MinAMLStandardOnSanctions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:28:\"MinAMLStandardOnPEPScreening\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"MinAMLStandardOnAdverseInfoScreening\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:43:\"MinAMLStandardOnSuspiciousActivityReporting\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:24:\"MinAMLStandardOnTraining\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:37:\"MinAMLStandardOnTransactionMonitoring\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:15:\"MinAMLStandards\";}s:7:\"ABCProg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"ABCProgForJointVentures\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:22:\"ABCProgForThirdParties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:7:\"ABCProg\";}s:11:\"ABCPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"ABCPoliciesWithNoBribes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:30:\"ABCPoliciesWithPublicOfficials\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:46:\"ABCPoliciesWithProhibitionAgainstFalsification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:11:\"ABCPolicies\";}s:15:\"ABCRiskCoverage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:35:\"ABCRiskCoverageOnPotentialLiability\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"ABCRiskCoverageOnCorruptionCountries\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:45:\"ABCRiskCoverageOnTrasactionProductionServices\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:32:\"ABCRiskCoverageOnCorruptionGifts\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:32:\"ABCRiskCoverageOnBusinessChanges\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:15:\"ABCRiskCoverage\";}s:11:\"ABCTraining\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"ABCTrainingForBoard\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:23:\"ABCTrainingForFirstLine\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:24:\"ABCTrainingForSecondLine\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:23:\"ABCTrainingForThirdLine\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:24:\"ABCTrainingForThirdParty\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:26:\"ABCTrainingForNonEmployees\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:11:\"ABCTraining\";}s:19:\"PoliciesConsistency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:25:\"PoliciesConsistencyForAML\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:40:\"PoliciesConsistencyForTerroristFinancing\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:40:\"PoliciesConsistencyForSanctionsViolation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:19:\"PoliciesConsistency\";}s:11:\"PoliciesGap\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:29:\"PoliciesGapAgainstUSStandards\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:29:\"PoliciesGapAgainstEUStandards\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:11:\"PoliciesGap\";}s:17:\"AMLRARiskCoverage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:25:\"AMLRARiskCoverageOnClient\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:26:\"AMLRARiskCoverageOnProduct\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:26:\"AMLRARiskCoverageOnChannel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:28:\"AMLRARiskCoverageOnGeography\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:17:\"AMLRARiskCoverage\";}s:20:\"AMLRAControlCoverage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:43:\"AMLRAControlCoverageOnTransactionMonitoring\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:25:\"AMLRAControlCoverageOnCDD\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:39:\"AMLRAControlCoverageOnPEPIdentification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:42:\"AMLRAControlCoverageOnTransactionScreening\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:35:\"AMLRAControlCoverageOnNameScreening\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:42:\"AMLRAControlCoverageOnTrainingAndEducation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:32:\"AMLRAControlCoverageOnGovernance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:30:\"AMLRAControlCoverageOnMgmtInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:20:\"AMLRAControlCoverage\";}s:23:\"SanctionsRARiskCoverage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:31:\"SanctionsRARiskCoverageOnClient\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:32:\"SanctionsRARiskCoverageOnProduct\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:32:\"SanctionsRARiskCoverageOnChannel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:34:\"SanctionsRARiskCoverageOnGeography\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:23:\"SanctionsRARiskCoverage\";}s:26:\"SanctionsRAControlCoverage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:31:\"SanctionsRAControlCoverageOnCDD\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:48:\"SanctionsRAControlCoverageOnTransactionScreening\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:41:\"SanctionsRAControlCoverageOnNameScreening\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"SanctionsRAControlCoverageOnListMgmt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:48:\"SanctionsRAControlCoverageOnTrainingAndEducation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:38:\"SanctionsRAControlCoverageOnGovernance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"SanctionsRAControlCoverageOnMgmtInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:26:\"SanctionsRAControlCoverage\";}s:19:\"InfoRetainmentOnCDD\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:40:\"InfoRetainmentOnCDDForOwnershipStructure\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:40:\"InfoRetainmentOnCDDForCustIdentification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:38:\"InfoRetainmentOnCDDForExpectedActivity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"InfoRetainmentOnCDDForBusinessNature\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:34:\"InfoRetainmentOnCDDForProductUsage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:40:\"InfoRetainmentOnCDDForRelationshipNature\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:25:\"InfoRetainmentOnCDDForSOF\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:25:\"InfoRetainmentOnCDDForSOW\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:19:\"InfoRetainmentOnCDD\";}s:16:\"DDIdentification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"DDIdentificationOnUBO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:39:\"DDIdentificationOnAuthorisedSignatories\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:32:\"DDIdentificationOnKeyControllers\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:38:\"DDIdentificationOnOtherRelevantParties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:16:\"DDIdentification\";}s:12:\"KYCApprovers\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"KYCApprover\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Business\";}}}s:5:\"title\";s:12:\"KYCApprovers\";}s:34:\"CustScreeningOnAdverseMediaMethods\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:33:\"CustScreeningOnAdverseMediaMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Manual\";}}}s:5:\"title\";s:34:\"CustScreeningOnAdverseMediaMethods\";}s:20:\"EntityPEPDefinitions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"EntityPEPDefinition\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"Wolfsberg
  definition\";}}}s:5:\"title\";s:20:\"EntityPEPDefinitions\";}s:25:\"CustScreeningOnPEPMethods\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"CustScreeningOnPEPMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Automated\";}}}s:5:\"title\";s:25:\"CustScreeningOnPEPMethods\";}s:17:\"ListPEPScreenings\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ListPEPScreening\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Factiva
  Dow Jones\";}}}s:5:\"title\";s:17:\"ListPEPScreenings\";}s:17:\"PEPScreeningFreqs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"PEPScreeningFreq\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"At
  on-boarding\";}}}s:5:\"title\";s:17:\"PEPScreeningFreqs\";}s:14:\"CustInfoReview\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"CustInfoReviewOnKYCRenewal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:28:\"CustInfoReviewOnTriggerEvent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:14:\"CustInfoReview\";}s:13:\"EDDCategories\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:27:\"EDDCategoryOnNonAccountCust\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:41:\"EDD
  & restricted on a risk based approach\";s:11:\"description\";s:0:\"\";}s:25:\"EDDCategoryOnOffshoreCust\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:22:\"EDDCategoryOnShellBank\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:20:\"EDDCategoryOnMSBCust\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:16:\"EDDCategoryOnPEP\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:23:\"EDDCategoryOnPEPRelated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:30:\"EDDCategoryOnPEPCloseAssociate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:30:\"EDDCategoryOnCorrespondentBank\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:17:\"EDDCategoryOnArms\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:24:\"EDDCategoryOnAtomicPower\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:16:\"EDDCategoryOnEnv\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:41:\"EDD
  & restricted on a risk based approach\";s:11:\"description\";s:0:\"\";}s:26:\"EDDCategoryOnPreciousMetal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:31:\"EDDCategoryOnUnregulatedCharity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:29:\"EDDCategoryOnRegulatedCharity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:21:\"EDDCategoryOnRedLight\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:16:\"EDDCategoryOnNGO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:28:\"EDDCategoryOnVirtualCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:22:\"EDDCategoryOnMarijuana\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:22:\"EDDCategoryOnEmbassies\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:21:\"EDDCategoryOnGambling\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}s:36:\"EDDCategoryOnPaymentServicesProvider\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"None
  of the above\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:13:\"EDDCategories\";}s:12:\"EDDProcesses\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"EDDProcess\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"Geographic
  areas of business\";}}}s:5:\"title\";s:12:\"EDDProcesses\";}s:48:\"TransactionMonitoringOnSuspiciousActivityMethods\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:47:\"TransactionMonitoringOnSuspiciousActivityMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Manual\";}}}s:5:\"title\";s:48:\"TransactionMonitoringOnSuspiciousActivityMethods\";}s:27:\"TransactionMonitoringLevels\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"TransactionMonitoringLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Branch
  level\";}}}s:5:\"title\";s:27:\"TransactionMonitoringLevels\";}s:30:\"TransactionMonitoringCriterias\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:29:\"TransactionMonitoringCriteria\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Rules
  / Scenarios\";}}}s:5:\"title\";s:30:\"TransactionMonitoringCriterias\";}s:14:\"FATFCompliance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:37:\"FATFComplianceOnRecommendationSixteen\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:31:\"FATFComplianceOnLocalRegulation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:14:\"FATFCompliance\";}s:20:\"SanctionsListsInUsed\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:22:\"SanctionsListsInUsedUN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SanctionsListsInUsedUN\";}s:24:\"SanctionsListsInUsedOFAC\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/SanctionsListsInUsedOFAC\";}s:24:\"SanctionsListsInUsedOFSI\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/SanctionsListsInUsedOFSI\";}s:22:\"SanctionsListsInUsedEU\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SanctionsListsInUsedEU\";}s:22:\"SanctionsListsInUsedG7\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SanctionsListsInUsedG7\";}}s:5:\"title\";s:20:\"SanctionsListsInUsed\";}s:22:\"SanctionsListsInUsedUN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"SanctionsListInUsedUN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:72:\"Used
  for screening customers and beneficial owners (i.e. reference data)\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:22:\"SanctionsListsInUsedUN\";}s:24:\"SanctionsListsInUsedOFAC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"SanctionsListInUsedOFAC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:72:\"Used
  for screening customers and beneficial owners (i.e. reference data)\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:24:\"SanctionsListsInUsedOFAC\";}s:24:\"SanctionsListsInUsedOFSI\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"SanctionsListInUsedOFSI\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:72:\"Used
  for screening customers and beneficial owners (i.e. reference data)\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:24:\"SanctionsListsInUsedOFSI\";}s:22:\"SanctionsListsInUsedEU\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"SanctionsListInUsedEU\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:49:\"Used
  for filtering transactional data (MT fields)\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:22:\"SanctionsListsInUsedEU\";}s:22:\"SanctionsListsInUsedG7\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"SanctionsListInUsedG7\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:49:\"Used
  for filtering transactional data (MT fields)\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:22:\"SanctionsListsInUsedG7\";}s:17:\"MandatoryTraining\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:42:\"MandatoryTrainingOnReportingForAuthorities\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:30:\"MandatoryTrainingOnAMLExamples\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:35:\"MandatoryTrainingOnInternalPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:28:\"MandatoryTrainingOnNewIssues\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"MandatoryTrainingOnConductAndCulture\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:17:\"MandatoryTraining\";}s:24:\"MandatoryTrainingGivenTo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:29:\"MandatoryTrainingGivenToBoard\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:31:\"MandatoryTrainingGivenTo1stLine\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:31:\"MandatoryTrainingGivenTo2ndLine\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:31:\"MandatoryTrainingGivenTo3rdLine\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:34:\"MandatoryTrainingGivenTo3rdParties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:35:\"MandatoryTrainingGivenToContractors\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:24:\"MandatoryTrainingGivenTo\";}s:9:\"AuditFreq\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"AuditFreqByInternal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Yearly\";s:11:\"description\";s:0:\"\";}s:19:\"AuditFreqByExternal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Every
  18 months\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:9:\"AuditFreq\";}s:13:\"AuditCoverage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"AuditCoverageOnAML\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:18:\"AuditCoverageOnKYC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:36:\"AuditCoverageOnTransactionMonitoring\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:35:\"AuditCoverageOnTransactionScreening\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:28:\"AuditCoverageOnNameScreening\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:32:\"AuditCoverageOnTrainingEducation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:19:\"AuditCoverageOnTech\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:25:\"AuditCoverageOnGovernance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:24:\"AuditCoverageOnReporting\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:35:\"AuditCoverageOnSuspiciousActivities\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:23:\"AuditCoverageOnWideRisk\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:18:\"AuditCoverageOther\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:13:\"AuditCoverage\";}s:9:\"Documents\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"document\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Document\";}}s:5:\"title\";s:9:\"Documents\";}s:8:\"Document\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"language\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"English\";s:11:\"description\";s:0:\"\";}s:8:\"fileName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"GLOBDESTXXX_WBQ_English.pdf\";s:11:\"description\";s:0:\"\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:8:\"Document\";}s:7:\"DataTax\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Data_TAX\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataTax_inner\";}}s:6:\"Data90\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"FATCAStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"In
  scope\";s:11:\"description\";s:0:\"\";}s:19:\"FATCAClassification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:52:\"Deemed
  Compliant Foreign Financial Institution (FFI)\";s:11:\"description\";s:0:\"\";}s:4:\"GIIN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:12:\"ContactFATCA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:19:\"ContactDetailsFATCA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"FATCA
  contact department\";s:11:\"description\";s:0:\"\";}s:23:\"ContactDepartmentsFATCA\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ContactDepartmentsFATCA\";}s:14:\"EntityUnderCRS\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:0:\"\";}s:10:\"ContactCRS\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:0:\"\";}s:17:\"ContactDetailsCRS\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Not
  disclosed\";s:11:\"description\";s:0:\"\";}s:9:\"TaxNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Not
  applicable\";s:11:\"description\";s:0:\"\";}s:12:\"TaxCountries\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TaxCountries\";}}s:5:\"title\";s:6:\"Data90\";}s:23:\"ContactDepartmentsFATCA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"ContactDepartmentFATCA\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ContactDepartmentFATCA\";}}}s:5:\"title\";s:23:\"ContactDepartmentsFATCA\";}s:22:\"ContactDepartmentFATCA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"DepartmentNameFATCA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"FATCA
  Department\";s:11:\"description\";s:0:\"\";}s:20:\"DepartmentEmailFATCA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"facta@global.com\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:22:\"ContactDepartmentFATCA\";}s:12:\"TaxCountries\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"TaxCountry\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Germany\";}}}s:5:\"title\";s:12:\"TaxCountries\";}s:10:\"EntityList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"myEntity\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DataMyentity\";}}}s:5:\"title\";s:10:\"EntityList\";}s:12:\"DataMyentity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"legalName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"GLOBAL
  BANK BADEN-WUERTTEMBERG\";s:11:\"description\";s:0:\"\";}s:3:\"bic\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"GLOBDESTXXX\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:13:\"Data_myEntity\";}s:20:\"ListOfCounterparties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"myCounterparty\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DataMycounterparty\";}}}s:5:\"title\";s:20:\"ListOfCounterparties\";}s:18:\"DataMycounterparty\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"bic\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"LONGAEADXXX\";s:11:\"description\";s:0:\"\";}s:9:\"legalName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"LONGBRIDGE
  BANK N.A.\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:19:\"Data_myCounterparty\";}s:11:\"DocumentObj\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:11:\"DocumentObj\";}s:11:\"Document201\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"documents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DocumentObj\";}}}s:5:\"title\";s:11:\"Document201\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"401\";s:11:\"description\";s:0:\"\";}s:12:\"errorMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Unauthorised\";s:11:\"description\";s:0:\"\";}s:13:\"correlationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"321-123-321\";s:11:\"description\";s:0:\"\";}}s:5:\"title\";s:5:\"Error\";}s:13:\"DataIoc_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"publicationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2018-03-28\";s:11:\"description\";s:0:\"\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Data\";}s:9:\"documents\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":6:{s:12:\"documentType\";s:19:\"Proof
  of regulation\";s:8:\"fileName\";s:27:\"GLOBDESTXXX_POR_English.pdf\";s:8:\"language\";s:7:\"English\";s:3:\"url\";s:23:\"/documents/SWAAABU99027\";s:10:\"expiryDate\";s:24:\"2020-01-01T00:00:00.000Z\";s:11:\"description\";s:19:\"Proof
  Of Regulation\";}}s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DocumentModel\";}}}}s:13:\"DataOms_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"publicationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2018-03-28\";s:11:\"description\";s:0:\"\";}s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"GH\";s:11:\"description\";s:60:\"this
  attribute shown where is the data linked from(optional)\";}s:6:\"linked\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"true\";s:11:\"description\";s:57:\"this
  attribute shown whether the data is linked(optional)\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Data11\";}s:9:\"documents\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":3:{s:12:\"documentName\";s:19:\"Proof
  of regulation\";s:14:\"documentStatus\";s:14:\"Not Applicable\";s:21:\"documentStatusComment\";s:19:\"document
  not exists\";}}s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DocumentModel\";}}}}s:13:\"DataTob_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"publicationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2018-03-28\";s:11:\"description\";s:0:\"\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Data34\";}}}s:13:\"DataCom_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"publicationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2018-03-28\";s:11:\"description\";s:0:\"\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Data49\";}s:9:\"documents\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Documents\";}}}s:13:\"DataTax_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Data90\";}s:9:\"documents\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":6:{s:12:\"documentType\";s:19:\"Proof
  of regulation\";s:8:\"fileName\";s:27:\"GLOBDESTXXX_CRS_English.pdf\";s:8:\"language\";s:7:\"English\";s:3:\"url\";s:23:\"/documents/SWAAABU99027\";s:10:\"expiryDate\";s:24:\"2020-01-01T00:00:00.000Z\";s:11:\"description\";s:19:\"Proof
  Of Regulation\";}}s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DocumentModel\";}}}}}"
...
