---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:135:\"REFUGE is a web
  application that seeks to provide safe restroom access for transgender, intersex,
  and gender nonconforming individuals.\";s:5:\"title\";s:16:\"Refuge Restrooms\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#4C4C4C\";s:3:\"url\";s:69:\"https://pbs.twimg.com/profile_images/432717338270380032/BZWevLrA.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.5.0\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:51:\"http://www.refugerestrooms.org/api/swagger_doc.json\";s:7:\"version\";s:3:\"1.2\";}}s:14:\"x-providerName\";s:19:\"refugerestrooms.org\";s:11:\"x-preferred\";b:1;}"
host: www.refugerestrooms.org
basePath: /api
paths:
  /v1/restrooms.json:
    get:
      operationId: GET--version-restrooms---format-
      parameters:
      - description: Page offset to fetch.
        in: query
        name: page
        required: false
        type: integer
      - description: Number of results to return per page.
        in: query
        name: per_page
        required: false
        type: integer
      - description: Pad a number of results.
        in: query
        name: offset
        required: false
        type: integer
      - description: Only return restrooms that are ADA accessible.
        in: query
        name: ada
        required: false
        type: boolean
      - description: Only return restrooms that are unisex.
        in: query
        name: unisex
        required: false
        type: boolean
      responses:
        200:
          description: No response was specified
      summary: Get all restroom records ordered by date descending.
      tags:
      - restrooms
  /v1/restrooms/by_date.json:
    get:
      operationId: GET--version-restrooms-by_date---format-
      parameters:
      - description: Page offset to fetch.
        in: query
        name: page
        required: false
        type: integer
      - description: Number of results to return per page.
        in: query
        name: per_page
        required: false
        type: integer
      - description: Pad a number of results.
        in: query
        name: offset
        required: false
        type: integer
      - description: Only return restrooms that are ADA accessible.
        in: query
        name: ada
        required: false
        type: boolean
      - description: Only return restrooms that are unisex.
        in: query
        name: unisex
        required: false
        type: boolean
      - description: Return restroom records updated (rather than created) since given
          date
        in: query
        name: updated
        required: false
        type: boolean
      - description: Day
        in: query
        name: day
        required: true
        type: integer
      - description: Month
        in: query
        name: month
        required: true
        type: integer
      - description: Year
        in: query
        name: year
        required: true
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Search for restroom records updated or created on or after a given
        date
      tags:
      - restrooms
  /v1/restrooms/by_location.json:
    get:
      operationId: GET--version-restrooms-by_location---format-
      parameters:
      - description: Page offset to fetch.
        in: query
        name: page
        required: false
        type: integer
      - description: Number of results to return per page.
        in: query
        name: per_page
        required: false
        type: integer
      - description: Pad a number of results.
        in: query
        name: offset
        required: false
        type: integer
      - description: Only return restrooms that are ADA accessible.
        in: query
        name: ada
        required: false
        type: boolean
      - description: Only return restrooms that are unisex.
        in: query
        name: unisex
        required: false
        type: boolean
      - description: latitude
        format: float
        in: query
        name: lat
        required: true
        type: number
      - description: longitude
        format: float
        in: query
        name: lng
        required: true
        type: number
      responses:
        200:
          description: No response was specified
      summary: Search by location.
      tags:
      - restrooms
  /v1/restrooms/search.json:
    get:
      operationId: GET--version-restrooms-search---format-
      parameters:
      - description: Page offset to fetch.
        in: query
        name: page
        required: false
        type: integer
      - description: Number of results to return per page.
        in: query
        name: per_page
        required: false
        type: integer
      - description: Pad a number of results.
        in: query
        name: offset
        required: false
        type: integer
      - description: Only return restrooms that are ADA accessible.
        in: query
        name: ada
        required: false
        type: boolean
      - description: Only return restrooms that are unisex.
        in: query
        name: unisex
        required: false
        type: boolean
      - description: Your search query.
        in: query
        name: query
        required: true
        type: string
      responses:
        200:
          description: No response was specified
      summary: Perform full-text search of restroom records.
      tags:
      - restrooms
produces:
- application/xml
- application/json
- application/vnd.api+json
- text/plain
schemes:
- https
...
