---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Calendar\";s:11:\"description\";s:923:\"The
  calendar API provides means to create calendar entries to identities.\nYou can e.g.
  create an event for a housing company identity, a reservation\nto a room identity,
  or just a regular calendar entry to any identity you want.<br/>\n\nThe calendar
  entry requires a `\"to\"`-identity, the ID of the identity to which\nthe calendar
  entry applies to. Specify a type for the entry, e.g.\n`Event`, `Reservation`, `CalendarEntry`.
  Give the calendar entry a title, e.g.\n\"Housewarming party\", a start date, when
  the entry starts, and an end date\nwhen the entry ends. The dates are in RFC3339
  format, and will be saved in UTC\ntime. <br/>\n\nYou can specify if an entry repeats,
  as defined in ISO 8601 repeating\nintervals. A location can be added as well, if
  needed, as a string, e.g.\n\"Living room\".<br/>\n\nThe `cc` is a list of user IDs
  to whom the calendar entry can be CC'd to.\nA notification about the entry will
  be sent to these users.\n\";s:7:\"version\";s:2:\"v1\";}"
host: api-sandbox.oftrust.net
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:8:\"calendar\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"toIdentity\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  \"to\" identity ID to which the calendar is created for.\";s:7:\"example\";s:36:\"d36c4cd0-26c9-446e-a93f-0a90029f3a7f\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  type of the calendar entry.\";s:7:\"example\";s:5:\"Event\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  title of the calendar entry\";s:7:\"example\";s:29:\"April fool's day festivities.\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  start date of the calendar entry in RFC3339 format.\";s:7:\"example\";s:25:\"2019-04-01T15:00:00+00:00\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"endDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  end date of the calendar entry in RFC3339 format.\";s:7:\"example\";s:25:\"2019-04-01T18:00:00+00:00\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"repeats\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"Whether
  the calendar entry repeats or not. As defined in ISO 8601\nrepeating intervals.
  E.g. Repeat the interval of \"P1Y2M10DT2H30M\"\nfive times starting at \"2008-03-01T13:00:00Z\",\nuse
  \"R5/2008-03-01T13:00:00Z/P1Y2M10DT2H30M\".\n\";s:7:\"example\";s:38:\"R5/2008-03-01T13:00:00Z/P1Y2M10DT2H30M\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  text body of the calendar entry.\";s:7:\"example\";s:42:\"April fool's event, held
  on the courtyard.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  location of the calendar entry\";s:7:\"example\";s:26:\"Courtyard at Teststreet
  12\";s:4:\"type\";s:6:\"string\";}s:2:\"cc\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"List
  of IDs to CC the message to.\";s:7:\"example\";a:2:{i:0;s:36:\"323bde80-4cc2-472e-bb77-e6a3e95a1253\";i:1;s:36:\"0827e9c3-9664-479f-b0ec-956a35d72e4b\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:5:{i:0;s:10:\"toIdentity\";i:1;s:4:\"type\";i:2;s:5:\"title\";i:3;s:9:\"startDate\";i:4;s:7:\"endDate\";}}}"
...
