---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:7:\"Context\";s:11:\"description\";s:378:\"The
  Context API provides means to list available JSON-LD contexts in the\nPlatformOfTrust/standards
  repository in GitHub.\n\nThe contexts defines the semantic meaning of the keys in
  the responses from the APIs.\nWhen creating a new identity, choose which type of
  identity to create by\nchoosing the correct context. The context will then define
  the attributes the\nidentity can have.\n\";s:7:\"version\";s:2:\"v1\";}"
host: api-sandbox.oftrust.net
paths:
  /contexts/{version}:
    get:
      description: Returns a list of all defined contexts
      operationId: GET_contexts-version
      responses:
        200:
          description: ""
          schema:
            example:
              '@context': https://schema.org/
              '@type': collection
              ItemList:
              - type: Identity
                name: Building
                url: https://example.com/contexts/identity-building.jsonld
              - type: Link
                name: Owner
                url: https://example.com/contexts/link-owner.jsonld
            properties:
              '@context':
                description: The context URL
                example: https://schema.org/
                type: string
              '@type':
                description: The type of the response object
                example: collection
                type: string
              ItemList:
                description: The list of contexts
                type: array
                items:
                  $ref: '#/definitions/context'
            required:
            - '@context'
            - '@type'
            - ItemList
    parameters:
    - type: string
      in: path
      name: version
      required: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:7:\"context\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  type of the context: either \"Identity\", which is used for identities,\nor \"Link\",
  which is used for linking identities.\n\";s:7:\"example\";s:8:\"Identity\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  name of the context.\";s:7:\"example\";s:8:\"Building\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  URL to the context. This should be saved as the context for the identity or link.\";s:7:\"example\";s:53:\"https://example.com/contexts/identity-building.jsonld\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:4:\"name\";i:2;s:3:\"url\";}}}"
...
