---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"libertyapi@o2.cz\";}s:11:\"description\";s:365:\"Transit
  API can be used to obtain time-aggregated data representing moving the people between
  various spatial points within the Czech republic. Having A - 'from' and B - 'to'
  points, the API can return count of people traveling from A to B or people that
  are from A and traveling to B, etc. The mobility data is based on moving mobile
  stations in O2 mobile network.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"O2
  Czech Republic a.s.\";s:3:\"url\";s:34:\"https://developer.o2.cz/portal/vop\";}s:5:\"title\";s:8:\"Mobility\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"telecom\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_443742048365985792_Zech6Z-m_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:57:\"https://developer.o2.cz/mobility/sandbox/api/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:5:\"o2.cz\";s:13:\"x-serviceName\";s:8:\"mobility\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"o2_cz_mobility\";s:4:\"type\";s:7:\"openapi\";}}"
host: developer.o2.cz
basePath: /mobility/sandbox/api
paths:
  /info:
    get:
      consumes:
      - application/json
      description: ""
      operationId: getInfo
      parameters: []
      responses:
        200:
          description: Response with the requested content.
          schema:
            $ref: '#/definitions/InfoResult'
      summary: Information about versions of application and data.
      tags:
      - info
  /transit/{from}/{to}:
    get:
      description: Get count of objects that were moving between basic residential
        units or objects that were visiting these basic residential units. Specific
        object's occurence type in the base residential unit can be requested. If
        none occurence type is present in the request or both occurence types are
        zero, the result will be aggregation of all types of occurence for given base
        residential units. More about base residential units can be found at https://www.czso.cz/csu/rso/zsj_rso
        (czech).
      operationId: transit
      parameters:
      - description: source basic residential unit
        in: path
        name: from
        required: true
        type: string
        x-example: "127752"
      - description: destination basic residential unit
        in: path
        name: to
        required: true
        type: string
        x-example: "127761"
      - description: occurence type in the source basic residential unit (1 - transit,
          2 - visit, 0 - both)
        in: query
        name: fromType
        required: false
        type: string
      - description: occurence type in the destination basic residential unit (1 -
          transit, 2 - visit, 0 - both)
        in: query
        name: toType
        required: false
        type: string
      - description: all or only uniques (0 - all, 1 - uniques)
        in: query
        name: uniques
        required: true
        type: string
        x-example: "0"
      responses:
        200:
          description: Response with the requested content.
          schema:
            $ref: '#/definitions/CountResult'
        204:
          description: The request is valid, but the platform is not able to serve
            the data. The reason may be restriction (e.g. differential privacy) or
            no data were found.
        400:
          description: Invalid request provided, missing or invalid parameter.
          schema:
            $ref: '#/definitions/ErrorResult'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/ErrorResult'
      summary: Transit between basic residential units
      tags:
      - transit
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:11:\"CountResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Response
  with the result\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Final
  count as the result of the request\";s:7:\"example\";s:5:\"62984\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ErrorResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Response
  with error message\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Error
  response message content\";s:7:\"example\";s:22:\"Error message example.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"InfoResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Response
  to the info request\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"appName\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Application
  name\";s:7:\"example\";s:21:\"Mobility API Frontend\";s:4:\"type\";s:6:\"string\";}s:9:\"appVendor\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Application
  vendor\";s:7:\"example\";s:22:\"O2 Czech Republic a.s.\";s:4:\"type\";s:6:\"string\";}s:10:\"appVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Application
  version\";s:7:\"example\";s:15:\"1.0-M6-SNAPSHOT\";s:4:\"type\";s:6:\"string\";}s:14:\"backendAppName\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Backend
  application name\";s:7:\"example\";s:20:\"Mobility API Backend\";s:4:\"type\";s:6:\"string\";}s:16:\"backendAppVendor\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Backend
  application vendor\";s:7:\"example\";s:22:\"O2 Czech Republic a.s.\";s:4:\"type\";s:6:\"string\";}s:17:\"backendAppVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Backend
  application version\";s:7:\"example\";s:15:\"1.0-M6-SNAPSHOT\";s:4:\"type\";s:6:\"string\";}s:15:\"backendDataFrom\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"For
  which day are data valid\";s:7:\"example\";s:10:\"2017-07-31\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
