---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:17:\"support@art19.com\";s:4:\"name\";s:22:\"ART19
  Engineering Team\";s:9:\"x-twitter\";s:7:\"art19co\";}s:11:\"description\";s:407:\"The
  ART19 Content API conforms to the JSON-API specification. Details and examples can
  be found at http://jsonapi.org. <br/><br/>API requests <b>MUST</b> use the HTTP
  Accept header:<br/><code>Accept: application/vnd.api+json</code><br/><br/>API requests
  <b>MUST</b> be authenticated using the HTTP Authorization header: <br/><code>Authorization:
  Token token=\"your-token\", credential=\"your-credential\"</code>\";s:14:\"termsOfService\";s:32:\"https://art19.com/business-terms\";s:5:\"title\";s:13:\"ART19
  Content\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_art19co_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:53:\"https://art19.com/swagger_json/v1/external/1.0.0.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"art19.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"art19\";s:4:\"type\";s:7:\"openapi\";}}"
host: art19.com
basePath: /
paths:
  /classification_inclusions:
    get:
      parameters:
      - description: Filter by ID's
        in: query
        name: ids[]
        type: string
      - description: Filter by page number
        in: query
        name: page[number]
        type: integer
      - description: Change page size
        in: query
        name: page[size]
        type: integer
      - description: Sort by created_at
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ClassificationInclusionDocument'
        401:
          description: Unauthorized
        406:
          description: Not Acceptable
      summary: Fetch resource collection
      tags:
      - ClassificationInclusion
      operationId: classification_inclusions.get
  /classification_inclusions/{id}:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ClassificationInclusion'
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not Acceptable
      summary: Fetch resource
      tags:
      - ClassificationInclusion
      operationId: classification_inclusions.id.get
  /classifications:
    get:
      parameters:
      - description: Filter by ID's
        in: query
        name: ids[]
        type: string
      - description: Filter by type
        in: query
        name: type
        type: string
      - description: Filter by value
        in: query
        name: q
        type: string
      - description: Filter by page number
        in: query
        name: page[number]
        type: integer
      - description: Change page size
        in: query
        name: page[size]
        type: integer
      - description: Sort by created_at, value, updated_at
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ClassificationDocument'
        401:
          description: Unauthorized
        406:
          description: Not Acceptable
      summary: Fetch resource collection
      tags:
      - Classification
      operationId: classifications.get
  /classifications/{id}:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Classification'
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not Acceptable
      summary: Fetch resource
      tags:
      - Classification
      operationId: classifications.id.get
  /credits:
    get:
      parameters:
      - description: Filter by ID's
        in: query
        name: ids[]
        type: string
      - description: Filter by creditable_id
        in: query
        name: creditable_id
        type: string
      - description: Filter by creditable_type
        in: query
        name: creditable_type
        type: string
      - description: Filter by page number
        in: query
        name: page[number]
        type: integer
      - description: Change page size
        in: query
        name: page[size]
        type: integer
      - description: Sort by created_at, position, updated_at
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreditDocument'
        401:
          description: Unauthorized
        406:
          description: Not Acceptable
      summary: Fetch resource collection
      tags:
      - Credit
      operationId: credits.get
  /credits/{id}:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Credit'
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not Acceptable
      summary: Fetch resource
      tags:
      - Credit
      operationId: credits.id.get
  /episodes:
    get:
      parameters:
      - description: Filter by ID's
        in: query
        name: ids[]
        type: string
      - description: Filter by page number
        in: query
        name: page[number]
        type: integer
      - description: Change page size
        in: query
        name: page[size]
        type: integer
      - description: Filter by Series
        in: query
        name: series_id
        type: string
      - description: Filter by Season
        in: query
        name: season_id
        type: string
      - description: Filter by title
        in: query
        name: q
        type: string
      - description: Filter by released_at year
        in: query
        name: year
        type: string
      - description: Filter by released_at month
        in: query
        name: month
        type: string
      - description: Filter by RSS episodes only
        in: query
        name: rss
        type: boolean
      - description: Sort by created_at, released_at, released_or_created_at, sort_title,
          title, updated_at
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/EpisodesDocument'
        400:
          description: Bad Request - At least one filter (ids, series_id, or season_id)
            must be provided
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not Acceptable
        429:
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: Number of seconds before a retry may succeed
              type: integer
      summary: Fetch resource collection
      tags:
      - Episode
      operationId: episodes.get
  /episodes/{id}:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Series'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not Acceptable
        429:
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: Number of seconds before a retry may succeed
              type: integer
      summary: Fetch resource
      tags:
      - Episode
      operationId: episodes.id.get
  /episodes/{id}/next_sibling:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      - description: Filter by RSS episodes only
        in: query
        name: rss
        type: boolean
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Series'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not Acceptable
        429:
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: Number of seconds before a retry may succeed
              type: integer
      summary: Fetch next resource
      tags:
      - Episode
      operationId: episodes.id.next_sibling.get
  /episodes/{id}/previous_sibling:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      - description: Filter by RSS episodes only
        in: query
        name: rss
        type: boolean
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Series'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not Acceptable
        429:
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: Number of seconds before a retry may succeed
              type: integer
      summary: Fetch previous resource
      tags:
      - Episode
      operationId: episodes.id.previous_sibling.get
  /images:
    get:
      parameters:
      - description: Filter by ID's
        in: query
        name: ids[]
        required: true
        type: string
      - description: Filter by page number
        in: query
        name: page[number]
        type: integer
      - description: Change page size
        in: query
        name: page[size]
        type: integer
      - description: Sort by created_at
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ImageDocument'
        401:
          description: Unauthorized
        406:
          description: Not Acceptable
      summary: Fetch resource collection
      tags:
      - Image
      operationId: images.get
  /images/{id}:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Image'
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not Acceptable
      summary: Fetch resource
      tags:
      - Image
      operationId: images.id.get
  /media_assets:
    get:
      parameters:
      - description: Filter by ID's
        in: query
        name: ids[]
        required: true
        type: string
      - description: Filter by page number
        in: query
        name: page[number]
        type: integer
      - description: Change page size
        in: query
        name: page[size]
        type: integer
      - description: Sort by created_at
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/MediaAssetDocument'
        401:
          description: Unauthorized
        406:
          description: Not Acceptable
      summary: Fetch resource collection
      tags:
      - MediaAsset
      operationId: media_assets.get
  /media_assets/{id}:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/MediaAsset'
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not Acceptable
      summary: Fetch resource
      tags:
      - MediaAsset
      operationId: media_assets.id.get
  /networks:
    get:
      parameters:
      - description: Filter by ID's
        in: query
        name: ids[]
        type: string
      - description: Filter by name
        in: query
        name: q
        type: string
      - description: Filter by page number
        in: query
        name: page[number]
        type: integer
      - description: Change page size
        in: query
        name: page[size]
        type: integer
      - description: Sort by created_at, name, updated_at
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/NetworkDocument'
        401:
          description: Unauthorized
        406:
          description: Not Acceptable
      summary: Fetch resource collection
      tags:
      - Network
      operationId: networks.get
  /networks/{id}:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Network'
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not Acceptable
      summary: Fetch resource
      tags:
      - Network
      operationId: networks.id.get
  /people:
    get:
      parameters:
      - description: Filter by ID's
        in: query
        name: ids[]
        type: string
      - description: Filter by first_name and last_name
        in: query
        name: q
        type: string
      - description: Filter by page number
        in: query
        name: page[number]
        type: integer
      - description: Filter by excluding ids
        in: query
        name: exclude_ids[]
        type: integer
      - description: Change page size
        in: query
        name: page[size]
        type: integer
      - description: Sort by created_at, first_name, last_name, updated_at
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PersonDocument'
        401:
          description: Unauthorized
        406:
          description: Not Acceptable
      summary: Fetch resource collection
      tags:
      - Person
      operationId: people.get
  /people/{id}:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Person'
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not Acceptable
      summary: Fetch resource
      tags:
      - Person
      operationId: people.id.get
  /seasons:
    get:
      parameters:
      - description: Filter by ID's
        in: query
        name: ids[]
        type: string
      - description: Filter by Series
        in: query
        name: series_id
        type: string
      - description: Filter by page number
        in: query
        name: page[number]
        type: integer
      - description: Change page size
        in: query
        name: page[size]
        type: integer
      - description: Sort by created_at, sort_title, title, updated_at
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SeasonDocument'
        401:
          description: Unauthorized
        406:
          description: Not Acceptable
      summary: Fetch resource collection
      tags:
      - Season
      operationId: seasons.get
  /seasons/{id}:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Season'
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not Acceptable
      summary: Fetch resource
      tags:
      - Season
      operationId: seasons.id.get
  /series:
    get:
      parameters:
      - description: Filter by ID's
        in: query
        name: ids[]
        type: string
      - description: Filter by Network
        in: query
        name: network_id
        type: string
      - description: Filter by page number
        in: query
        name: page[number]
        type: integer
      - description: Change page size
        in: query
        name: page[size]
        type: integer
      - description: Filter by title
        in: query
        name: q
        type: string
      - description: Sort by created_at, episode_released_at, sort_title, title, updated_at
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SeriesDocument'
        401:
          description: Unauthorized
        406:
          description: Not Acceptable
      summary: Fetch resource collection
      tags:
      - Series
      operationId: series.get
  /series/{id}:
    get:
      parameters:
      - description: UUID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Series'
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not Acceptable
      summary: Fetch resource
      tags:
      - Series
      operationId: series.id.get
produces:
- application/vnd.api+json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:14:\"Classification\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"parent_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:9:\"tree_path\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"value_path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:22:\"ClassificationDocument\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Classification\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:23:\"ClassificationInclusion\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"classification_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:19:\"classification_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"classified_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:15:\"classified_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"classification\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:31:\"ClassificationInclusionDocument\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ClassificationInclusion\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:6:\"Credit\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"creditable_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:15:\"creditable_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"person\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:14:\"CreditDocument\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Credit\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:7:\"Episode\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:19:\"allow_user_comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Credential
  must own the series\";s:4:\"type\";s:7:\"boolean\";}s:23:\"cascaded_cover_image_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:14:\"cover_image_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"description_is_html\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"description_plain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"file_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listen_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Credential
  must have stats access to series\";s:4:\"type\";s:7:\"integer\";}s:14:\"premium_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"release_immediately\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Credential
  must own the series\";s:4:\"type\";s:7:\"boolean\";}s:11:\"released_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"rss_guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sort_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:18:\"Episode.Attributes\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:25:\"classification_inclusions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:24:\"ClassificationInclusions\";}s:7:\"credits\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:7:\"Credits\";}s:21:\"default_marker_points\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Credential
  must own the series\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:19:\"DefaultMarkerPoints\";}s:16:\"episode_versions\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Credential
  must own the series\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:15:\"EpisodeVersions\";}s:6:\"images\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:6:\"Images\";}s:6:\"season\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}}s:5:\"title\";s:6:\"Season\";}s:13:\"segment_lists\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Credential
  must own the series\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:12:\"SegmentLists\";}s:6:\"series\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}}s:5:\"title\";s:6:\"Series\";}s:8:\"taggings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:8:\"Taggings\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:4:\"Tags\";}}s:5:\"title\";s:21:\"Episode.Relationships\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:12:\"Episode.Data\";}}}s:16:\"EpisodesDocument\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Episode\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:5:\"Image\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"bucket_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:11:\"bucket_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"crop_data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"height\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"left\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"top\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"media_assets\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:13:\"ImageDocument\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:5:\"Links\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"first\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"last\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"next\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"prev\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"MediaAsset\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"attachment_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:15:\"attachment_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"cdn_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"file_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"file_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"size_height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"size_width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"style\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:18:\"MediaAssetDocument\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MediaAsset\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:7:\"Network\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"cover_image_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"facebook_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"global_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"linkedin_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"public_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"public_page_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tumblr_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"twitter_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"website_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"images\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:6:\"series\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:15:\"NetworkDocument\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Network\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:6:\"Person\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"avatar_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:9:\"biography\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"born\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"died\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"from_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"from_locality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"from_region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"public_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:14:\"PersonDocument\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:18:\"ResourceIdentifier\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Season\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:23:\"cascaded_cover_image_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:14:\"cover_image_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"description_is_html\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"description_plain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"first_released_episode_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:24:\"last_released_episode_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:10:\"sort_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:25:\"classification_inclusions\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"credits\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"episodes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:6:\"images\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:6:\"series\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}}}s:8:\"taggings\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:4:\"tags\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:14:\"SeasonDocument\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Season\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:6:\"Series\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":24:{s:14:\"cover_image_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"description_is_html\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"description_plain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"facebook_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"global_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"itunes_subscription_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"linkedin_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"podcast_subscription_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"public_page_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"rss_author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"rss_copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"rss_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"rss_owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sort_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"stitcher_subscription_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tumblr_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"twitter_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"website_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:25:\"classification_inclusions\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"credits\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"episodes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:6:\"images\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"network\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}}}s:7:\"seasons\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"taggings\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}s:4:\"tags\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:14:\"SeriesDocument\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Series\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}}"
...
