---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:7:\"HSBC_UK\";}s:5:\"title\";s:7:\"HSBC
  UK\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"financial\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_HSBC_UK_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:52:\"https://developer.hsbc.com/swagger/combined-api.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:8:\"hsbc.com\";}"
host: api.hsbc.com
paths:
  /open-banking/v1.2/atms:
    get:
      description: This API will return data about all our ATMs and is prepared to
        the Open Banking standards as defined by the Open Banking Implementation Entity
        (OBIE) in data dictionary version 1.2.4. It is regulated by the UK Competition
        and Markets Authority (CMA). Data is only available for the United Kingdom.
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ATMDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - ATMs
  /open-banking/v1.2/branches:
    get:
      description: This API will return the branch details for all branches and is
        prepared to the Open Banking standards as defined by the Open Banking Implementation
        Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK
        Competition and Markets Authority (CMA). Data is only available for the United
        Kingdom.
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BranchDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Branches
  /open-banking/v1.2/business-current-accounts:
    get:
      description: This API will return data about all BCA productsand is prepared
        to the Open Banking standards as defined by the Open Banking Implementation
        Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK
        Competition and Markets Authority (CMA). Data is only available for the United
        Kingdom.
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BCADefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Products BCA
  /open-banking/v1.2/commercial-credit-cards:
    get:
      description: This API will return data about all commercial credit cards productsand
        is prepared to the Open Banking standards as defined by the Open Banking Implementation
        Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK
        Competition and Markets Authority (CMA). Data is only available for the United
        Kingdom.
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CCCDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Products Commercial Credit Cards
  /open-banking/v1.2/personal-current-accounts:
    get:
      description: This API will return data about all PCA productsand is prepared
        to the Open Banking standards as defined by the Open Banking Implementation
        Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK
        Competition and Markets Authority (CMA). Data is only available for the United
        Kingdom.
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PCADefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Products PCA
  /open-banking/v1.2/unsecured-sme-loans:
    get:
      description: This API will return data about all SME lending productsand is
        prepared to the Open Banking standards as defined by the Open Banking Implementation
        Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK
        Competition and Markets Authority (CMA). Data is only available for the United
        Kingdom.
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SMELendingDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Products SME Lending
  /x-open-banking/v1.2/atms/country/{country}:
    get:
      description: This extended API will return data about all ATMs in the specified
        country. It is based-on the Open Banking standards as defined by the Open
        Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The
        extended functionality may not fully adhere to the non-functional requirements
        of the regulator. Data is only available for the United Kingdom.
      parameters:
      - description: The ISO country code e.g. &quot;GB&quot;
        in: path
        name: country
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ATMDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - ATMs
  /x-open-banking/v1.2/atms/country/{country}/town/{town}:
    get:
      description: This extended API will return data about all ATMs in the specified
        town. It is based-on the Open Banking standards as defined by the Open Banking
        Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended
        functionality may not fully adhere to the non-functional requirements of the
        regulator. Data is only available for the United Kingdom.
      parameters:
      - description: The ISO country code e.g. &quot;GB&quot;
        in: path
        name: country
        required: true
        type: string
      - description: Town name, not case sensitive
        in: path
        name: town
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ATMDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - ATMs
  /x-open-banking/v1.2/atms/geo-location/lat/{latitude}/long/{longitude}:
    get:
      description: This extended API will data about all ATMs within a specified radius
        (1 to 10 miles) of the specified latitude and longitude. It is based-on the
        Open Banking standards as defined by the Open Banking Implementation Entity
        (OBIE) in data dictionary version 1.2.4. The extended functionality may not
        fully adhere to the non-functional requirements of the regulator. Data is
        only available for the United Kingdom.
      parameters:
      - description: Positive or negative decimal value in degrees. eg &quot51.50551621597067&quot
        in: path
        name: latitude
        required: true
        type: string
      - description: Positive or negative decimal value in degrees. eg &quot-0.0180120225995&quot
        in: path
        name: longitude
        required: true
        type: string
      - description: Number of miles (1 to 10) as an integer. Default = 1
        in: query
        name: radius
        required: true
        type: number
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/ATMDefinition'
            type: array
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - ATMs
  /x-open-banking/v1.2/atms/postcode/{postcode}:
    get:
      description: This extended API will return data about all ATMs within a 5 mile
        radius of the specified postcode. It is based-on the Open Banking standards
        as defined by the Open Banking Implementation Entity (OBIE) in data dictionary
        version 1.2.4. The extended functionality may not fully adhere to the non-functional
        requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
      - description: Letters and numerals only. No spaces or special characters. eg  &quotSW1A1AA&quot
        in: path
        name: postcode
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/ATMDefinition'
            type: array
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - ATMs
  /x-open-banking/v1.2/branches/country/{country}:
    get:
      description: This extended API will return the branch details for all branches
        in the specified country. It is based-on the Open Banking standards as defined
        by the Open Banking Implementation Entity (OBIE) in data dictionary version
        1.2.4. The extended functionality may not fully adhere to the non-functional
        requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
      - description: The ISO country code e.g. &quot;GB&quot;
        in: path
        name: country
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BranchDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Branches
  /x-open-banking/v1.2/branches/country/{country}/town/{town}:
    get:
      description: This extended API will return the branch details for all branches
        in the specified town. It is based-on the Open Banking standards as defined
        by the Open Banking Implementation Entity (OBIE) in data dictionary version
        1.2.4. The extended functionality may not fully adhere to the non-functional
        requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
      - description: The ISO country code e.g. &quot;GB&quot;
        in: path
        name: country
        required: true
        type: string
      - description: Town name, not case sensitive
        in: path
        name: town
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BranchDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Branches
  /x-open-banking/v1.2/branches/geo-location/lat/{latitude}/long/{longitude}:
    get:
      description: This API will return the branch details for all branches within
        a specified radius (1 to 10 miles) of the specified latitude and longitude.
        It is based-on the Open Banking standards as defined by the Open Banking Implementation
        Entity (OBIE) in data dictionary version 1.2.4. The extended functionality
        may not fully adhere to the non-functional requirements of the regulator.
        Data is only available for the United Kingdom.
      parameters:
      - description: Positive or negative decimal value in degrees. eg &quot51.50551621597067&quot
        in: path
        name: latitude
        required: true
        type: string
      - description: Positive or negative decimal value in degrees. eg &quot-0.0180120225995&quot
        in: path
        name: longitude
        required: true
        type: string
      - description: Number of miles (1 to 10) as an integer. Default = 1
        in: query
        name: radius
        required: true
        type: number
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/BranchDefinition'
            type: array
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Branches
  /x-open-banking/v1.2/branches/postcode/{postcode}:
    get:
      description: This extended API will return the branch details for all branches
        within a 5 mile radius of the specified postcode. It is based-on the Open
        Banking standards as defined by the Open Banking Implementation Entity (OBIE)
        in data dictionary version 1.2.4. The extended functionality may not fully
        adhere to the non-functional requirements of the regulator. Data is only available
        for the United Kingdom.
      parameters:
      - description: Letters and numerals only. No spaces or special characters. eg.
          &quotSW1A1AA&quot
        in: path
        name: postcode
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/BranchDefinition'
            type: array
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Branches
  /x-open-banking/v1.2/branches/sortcode/{sortcode}:
    get:
      description: This extended API will return the branch details for a branch specified
        by its sort code. It is based-on the Open Banking standards as defined by
        the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4.
        The extended functionality may not fully adhere to the non-functional requirements
        of the regulator. Data is only available for the United Kingdom.
      parameters:
      - description: 6 digit number with no spaces or special characters. eg. &quot400003&quot
        in: path
        name: sortcode
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BranchDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Branches
  /x-open-banking/v1.2/business-current-accounts/segment/{segment}:
    get:
      description: This extended API will return data about all BCA products for the
        specified segment. It is based-on the Open Banking standards as defined by
        the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4.
        The extended functionality may not fully adhere to the non-functional requirements
        of the regulator. Data is only available for the United Kingdom.
      parameters:
      - description: Segment name from this list&#58; &quot;Basic&quot;, &quot;Business&quot;,
          &quot;General&quot;, &quot;Graduate&quot;, &quot;International&quot;, &quot;Packaged&quot;,
          &quot;Personal&quot;, &quot;Premium&quot;, &quot;Reward&quot;, &quot;SME&quot;,
          &quot;Student&quot;, &quot;YoungAdult&quot;, &quot;Youth&quot;.
        in: path
        name: segment
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BCADefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Products BCA
  /x-open-banking/v1.2/commercial-credit-cards/segment/{segment}:
    get:
      description: This extended API will return data about all commercial credit
        cards products for the specified segment. It is based-on the Open Banking
        standards as defined by the Open Banking Implementation Entity (OBIE) in data
        dictionary version 1.2.4. The extended functionality may not fully adhere
        to the non-functional requirements of the regulator. Data is only available
        for the United Kingdom.
      parameters:
      - description: Segment name from this list&#58 &quot;Cashback&quot;, &quot;Corporate&quot;,
          &quot;General&quot;, &quot;Reward&quot;, &quot;SME&quot;.
        in: path
        name: segment
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CCCDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Products Commercial Credit Cards
  /x-open-banking/v1.2/personal-current-accounts/segment/{segment}:
    get:
      description: This extended API will return data about all PCA products for the
        specified segment. It is based-on the Open Banking standards as defined by
        the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4.
        The extended functionality may not fully adhere to the non-functional requirements
        of the regulator. Data is only available for the United Kingdom.
      parameters:
      - description: Segment name from this list&#58; &quot;Basic&quot;, &quot;Business&quot;,
          &quot;General&quot;, &quot;Graduate&quot;, &quot;International&quot;, &quot;Packaged&quot;,
          &quot;Personal&quot;, &quot;Premium&quot;, &quot;Reward&quot;, &quot;SME&quot;,
          &quot;Student&quot;, &quot;YoungAdult&quot;, &quot;Youth&quot;.
        in: path
        name: segment
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PCADefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Products PCA
  /x-open-banking/v1.2/unsecured-sme-loans/segment/{segment}:
    get:
      description: This extended API will return data about all SME lending products
        for the specified segment. It is based-on the Open Banking standards as defined
        by the Open Banking Implementation Entity (OBIE) in data dictionary version
        1.2.4. The extended functionality may not fully adhere to the non-functional
        requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
      - description: Segment name from this list&#58; &quot;AgricultureSector&quot;,
          &quot;AllSegmentsCorporate&quot;, &quot;Corporate&quot;, &quot;FixedGroup&quot;,
          &quot;FlexibleBusinessLoan&quot;, &quot;GovernmentScheme&quot;, &quot;NewCustomersOnly&quot;,
          &quot;SmallLoan&quot;, &quot;SpecialisedSector&quot;, &quot;SwitchersOnly&quot;.
        in: path
        name: segment
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SMELendingDefinitionMeta'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        408:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        429:
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        500:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        503:
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
      - Products SME Lending
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:13:\"ATMDefinition\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":14:{s:5:\"ATMID\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"ATM
  terminal device identification for the acquirer and the issuer\";s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"ATMServices\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"Information
  about ATM services\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Information
  about ATM services\";s:4:\"enum\";a:15:{i:0;s:7:\"Balance\";i:1;s:12:\"BillPayments\";i:2;s:12:\"CashDeposits\";i:3;s:14:\"CashWithdrawal\";i:4;s:15:\"CharityDonation\";i:5;s:17:\"ChequeBookRequest\";i:6;s:14:\"ChequeDeposits\";i:7;s:8:\"FastCash\";i:8;s:13:\"MiniStatement\";i:9;s:25:\"MobileBankingRegistration\";i:10;s:25:\"MobilePaymentRegistration\";i:11;s:16:\"MobilePhoneTopUp\";i:12;s:14:\"OrderStatement\";i:13;s:13:\"PINActivation\";i:14;s:9:\"PINChange\";}s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:18:\"AccessibilityTypes\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Information
  about the accessibility\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Information
  about the accessibility\";s:4:\"enum\";a:10:{i:0;s:16:\"AudioCashMachine\";i:1;s:14:\"AutomaticDoors\";i:2;s:11:\"ChairAccess\";i:3;s:9:\"DriveThru\";i:4;s:12:\"ExternalRamp\";i:5;s:13:\"InductionLoop\";i:6;s:12:\"InternalRamp\";i:7;s:11:\"LevelAccess\";i:8;s:17:\"LowerLevelCounter\";i:9;s:16:\"WheelchairAccess\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:21:\"AdditionalATMServices\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"ATM
  Service Description\";s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"maxLength
  350 text\";s:9:\"maxLength\";i:350;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"Address\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:14:\"Postal
  Address\";s:10:\"properties\";O:8:\"stdClass\":7:{s:20:\"BuildingNumberOrName\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Number
  or Name that identifies the position of a building on a street\";s:9:\"maxLength\";i:350;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Nation
  with its own government\";s:7:\"pattern\";s:8:\"[A-Z]{2}\";s:4:\"type\";s:6:\"string\";}s:18:\"CountrySubDivision\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Identifies
  a subdivision of a country such as state, region, county\";s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:20:\"OptionalAddressField\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Directions
  for customers\";s:9:\"maxLength\";i:350;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"PostCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:122:\"Identifier
  consisting of a group of letters and/or numbers that is added to a postal address
  to assist the sorting of mail\";s:9:\"maxLength\";i:16;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"StreetName\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Name
  of a street or thoroughfare\";s:9:\"maxLength\";i:70;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"TownName\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Name
  of a built-up area, with defined boundaries, and a local government\";s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"StreetName\";i:1;s:8:\"PostCode\";i:2;s:7:\"Country\";}s:4:\"type\";s:6:\"object\";}s:20:\"BranchIdentification\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"Unique
  and unambiguous identification of a retail branch of a financial institution\";s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"Currency\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"Defines
  currency type available for dispense\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Active
  or Historic Currency Code\";s:7:\"pattern\";s:8:\"[A-Z]{3}\";s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:18:\"GeographicLocation\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:22:\"Geographic
  Coordinates\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  Latitude measured in decimal format according to ISO 213\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,8}$\";s:4:\"type\";s:6:\"string\";}s:9:\"Longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  longitude measured in decimal format according to ISO 213\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,8}$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"Latitude\";i:1;s:9:\"Longitude\";}s:4:\"type\";s:6:\"object\";}s:16:\"LocationCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Indicates
  the environment of the ATM\";s:4:\"enum\";a:33:{i:0;s:7:\"Airport\";i:1;s:21:\"BankSpecialisedOutlet\";i:2;s:14:\"BranchExternal\";i:3;s:14:\"BranchInternal\";i:4;s:11:\"BranchLobby\";i:5;s:14:\"BureauDeChange\";i:6;s:12:\"CoachStation\";i:7;s:23:\"CommercialSpaceInternal\";i:8;s:16:\"ConvenienceStore\";i:9;s:16:\"ExhibitionCentre\";i:10;s:15:\"FactoryOrOffice\";i:11;s:14:\"FillingStation\";i:12;s:20:\"FinancialInstitution\";i:13;s:16:\"GovernmentOffice\";i:14;s:8:\"Hospital\";i:15;s:5:\"Hotel\";i:16;s:8:\"KioskPod\";i:17;s:13:\"LeisureCentre\";i:18;s:12:\"PleasurePark\";i:19;s:11:\"PublicHouse\";i:20;s:14:\"RailwayStation\";i:21;s:10:\"RemoteUnit\";i:22;s:23:\"RetailerDepartmentStore\";i:23;s:14:\"RetailerOutlet\";i:24;s:15:\"SeaportTerminal\";i:25;s:14:\"ServiceStation\";i:26;s:22:\"ShoppingCentreExternal\";i:27;s:22:\"ShoppingCentreInternal\";i:28;s:12:\"StorageDepot\";i:29;s:19:\"SupermarketExternal\";i:30;s:19:\"SupermarketInternal\";i:31;s:25:\"UndergroundRailwayStation\";i:32;s:19:\"UniversityOrCollege\";}s:4:\"type\";s:6:\"string\";}s:21:\"MinimumValueDispensed\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Minimum
  currency denominations usually available\";s:4:\"enum\";a:5:{i:0;s:3:\"\xA35\";i:1;s:4:\"\xA310\";i:2;s:4:\"\xA320\";i:3;s:4:\"\xA350\";i:4;s:5:\"\xA3100\";}s:4:\"type\";s:6:\"string\";}s:12:\"Organisation\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:12:\"Organisation\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Brand\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:5:\"Brand\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"TrademarkID\";O:8:\"stdClass\":4:{s:11:\"description\";s:132:\"The
  trademark number that has been registered with the Intellectual Property Office.
  Note: The 2 letter IPO prefix should be omitted\";s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"TrademarkIPOCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"The
  Intellectual Property Office (IPO) is the official body responsible for intellectual
  property (IP) rights including patents, designs, trademarks and copyright. (Code:
  UK or EU only)\";s:4:\"enum\";a:2:{i:0;s:2:\"UK\";i:1;s:2:\"EU\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"TrademarkIPOCode\";i:1;s:11:\"TrademarkID\";}s:4:\"type\";s:6:\"object\";}s:18:\"ParentOrganisation\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:19:\"Parent
  organisation\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"BIC\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  BIC from the organisation\";s:7:\"pattern\";s:41:\"[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?\";s:4:\"type\";s:6:\"string\";}s:3:\"LEI\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  LEI ID of the organisation\";s:7:\"pattern\";s:27:\"^[A-Z0-9]{18,18}[0-9]{2,2}$\";s:4:\"type\";s:6:\"string\";}s:16:\"OrganisationName\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:17:\"Organisation
  Name\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"LegalName\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Legal
  Name of the organisation\";s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"LegalName\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:16:\"OrganisationName\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:18:\"ParentOrganisation\";i:1;s:5:\"Brand\";}s:4:\"type\";s:6:\"object\";}s:6:\"SiteID\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Site
  identifying code, where ATM is located\";s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"SiteName\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Site
  identifying name, where ATM is located\";s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"SupportedLanguages\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Languages
  that the ATM supports\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"must
  be ISO 693-2 codes\";s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:7:{i:0;s:12:\"Organisation\";i:1;s:5:\"ATMID\";i:2;s:7:\"Address\";i:3;s:18:\"GeographicLocation\";i:4;s:18:\"SupportedLanguages\";i:5;s:11:\"ATMServices\";i:6;s:8:\"Currency\";}s:5:\"title\";s:3:\"ATM\";s:4:\"type\";s:6:\"object\";}s:17:\"ATMDefinitionMeta\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ATMDefinition\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MetaDefinition\";}}s:8:\"required\";a:2:{i:0;s:4:\"meta\";i:1;s:4:\"data\";}}s:13:\"BCADefinition\";O:8:\"stdClass\":5:{s:11:\"description\";s:24:\"Business
  current account\";s:10:\"properties\";O:8:\"stdClass\":32:{s:14:\"AccessChannels\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Ways
  to interact with the bank when managing account\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Channel\";s:4:\"enum\";a:12:{i:0;s:3:\"ATM\";i:1;s:6:\"Branch\";i:2;s:24:\"BusinessCommercialCentre\";i:3;s:10:\"CallCentre\";i:4;s:10:\"MobileApps\";i:5;s:13:\"MobileBanking\";i:6;s:6:\"Online\";i:7;s:5:\"Phone\";i:8;s:4:\"Post\";i:9;s:10:\"PostOffice\";i:10;s:19:\"RelationshipManager\";i:11;s:4:\"Text\";}s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:8:\"Benefits\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:7:\"Benefit\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Benefit\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describe
  \ one or more benefits if they exist\";s:4:\"type\";s:7:\"boolean\";}s:12:\"BenefitGroup\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:22:\"Benefit
  Interest Group\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"BenefitItem\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:12:\"Benefit
  Item\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"BenefitDetail\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:14:\"Benefit
  detail\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"BenefitDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  textual explanation of what the benefit is\";s:4:\"type\";s:6:\"string\";}s:9:\"BenefitID\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Unique
  benefit identifier per organisation\";s:4:\"type\";s:6:\"string\";}s:11:\"BenefitName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the benefit\";s:4:\"type\";s:6:\"string\";}s:11:\"BenefitType\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Type
  that represents the nature of the benefit\";s:4:\"type\";s:6:\"string\";}s:12:\"BenefitValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  value or values permissible for a specific benefit for an individual product representing
  a product characteristic\";s:4:\"type\";s:6:\"string\";}s:7:\"Counter\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Counter
  for the criteria (e.g. number of DD)\";s:4:\"type\";s:7:\"integer\";}s:12:\"CriteriaType\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Criteria
  that is required in order to be eligible for the Benefit\";s:4:\"enum\";a:7:{i:0;s:11:\"CashDeposit\";i:1;s:7:\"Deposit\";i:2;s:11:\"DirectDebit\";i:3;s:14:\"InitialDeposit\";i:4;s:13:\"InternetLogon\";i:5;s:11:\"MobileLogon\";i:6;s:14:\"RegularDeposit\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"DefaultToAccounts\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Is
  the benefit part of the default account\";s:4:\"type\";s:7:\"boolean\";}s:15:\"MaximumCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Maximum
  amount for the criteria\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:15:\"MinimumCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Minimum
  amount for the criteria\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:16:\"PromotionEndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"If
  the benefit is temporal the end date is when the benefit is no longer applicable\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:18:\"PromotionStartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"If
  the benefit is temporal the start date is when the benefit comes into effect\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"DateOfChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Date
  of the change if it refers to future terms\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:23:\"LengthPromotionalInDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Describes
  the length if only a duration is given instead of a date in days\";s:4:\"type\";s:7:\"integer\";}s:27:\"StartPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  the start date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:26:\"StopPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Describes
  the end date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BenefitSubType\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Benefit
  Subtype Code\";s:4:\"enum\";a:3:{i:0;s:19:\"FutureMultipleTerms\";i:1;s:11:\"Promotional\";i:2;s:7:\"Regular\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"BenefitItem\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"Benefit\";}s:4:\"type\";s:6:\"object\";}s:9:\"CAPricing\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:10:\"Card
  Price\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"CAPricingItem\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:12:\"Card
  Pricing\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DateOfChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Date
  of the change if it refers to future terms\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:22:\"ExchangeRateAdjustment\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"The
  margin added, by certain card issuers, to the scheme rate in order to arrive at
  the exchange rate qouted as the reference exchange rate to the cardholder\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:23:\"LengthPromotionalInDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Describes
  the length if only a duration is given instead of a date\";s:4:\"type\";s:7:\"integer\";}s:27:\"StartPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  the start date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:26:\"StopPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Describes
  the end date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ProductSubType\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Describes
  if the offering is promotional, regular or a description of a future state\";s:4:\"enum\";a:3:{i:0;s:19:\"FutureMultipleTerms\";i:1;s:11:\"Promotional\";i:2;s:7:\"Regular\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:14:\"ProductSubType\";i:1;s:13:\"CAPricingItem\";}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:9:\"CardNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Optional
  additional notes to supplement the card details\";s:4:\"type\";s:6:\"string\";}s:8:\"CardType\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Card
  Type available\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Indicates
  the card scheme\";s:4:\"enum\";a:11:{i:0;s:9:\"BasicCard\";i:1;s:22:\"BusinessQuickLodgeCard\";i:2;s:8:\"Cashcard\";i:3;s:19:\"ContactlessCashcard\";i:4;s:26:\"ContactlessDebitMastercard\";i:5;s:20:\"ContactlessDebitVisa\";i:6;s:15:\"DebitMastercard\";i:7;s:9:\"VisaDebit\";i:8;s:11:\"DepositCard\";i:9;s:12:\"OperatorCard\";i:10;s:8:\"POCACard\";}s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:19:\"CardWithdrawalLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  daily Limit that a customer can get via the ATM. This describes the default limit
  rather than the maximum\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:19:\"ChequeBookAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Can
  a chequebook be issued\";s:4:\"type\";s:7:\"boolean\";}s:11:\"Contactless\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Does
  the card issued have contactless facility\";s:4:\"type\";s:7:\"boolean\";}s:14:\"CreditInterest\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:15:\"Credit
  Interest\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"CreditCharged\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Is
  credit paid to the account. The answer will be the condition of all other fields
  to be filled\";s:4:\"type\";s:7:\"boolean\";}s:19:\"CreditInterestGroup\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:21:\"Credit
  Interest Group\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"CreditInterestItem\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:20:\"Credit
  Interest item\";s:10:\"properties\";O:8:\"stdClass\":13:{s:20:\"CalculationFrequency\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"How
  often is interest applied to account\";s:4:\"enum\";a:3:{i:0;s:5:\"Month\";i:1;s:4:\"Week\";i:2;s:4:\"Year\";}s:4:\"type\";s:6:\"string\";}s:17:\"CalculationMethod\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Method
  for interest calculation\";s:4:\"enum\";a:3:{i:0;s:6:\"Banded\";i:1;s:6:\"Tiered\";i:2;s:5:\"Whole\";}s:4:\"type\";s:6:\"string\";}s:12:\"DateOfChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Date
  of the change if it refers to future terms\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"If
  interest is charged on a specific date range as end date (often used for promotion)\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:19:\"FixedInterestLength\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Fixed
  interest length in days\";s:4:\"type\";s:7:\"integer\";}s:13:\"InterestNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Additional
  notes to supplement the interest details\";s:4:\"type\";s:6:\"string\";}s:16:\"InterestRateType\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Credit
  Interest Payment Rate Type\";s:4:\"enum\";a:2:{i:0;s:5:\"Fixed\";i:1;s:8:\"Variable\";}s:4:\"type\";s:6:\"string\";}s:13:\"InterestTiers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:21:\"Credit
  Interest Tiers\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"APRAERRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"AER
  or APR Rate for comparison\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:21:\"DailyChargeForMaximum\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Special
  charge on tiered overdraft\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:21:\"DailyChargeForMinimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Special
  charge on tiered overdraft\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:12:\"InterestTier\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Identifier
  for the tier\";s:4:\"type\";s:6:\"string\";}s:4:\"Rate\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Rate
  being paid by the bank (gross)\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:18:\"RateComparisonType\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Rate
  Comparison Type\";s:4:\"enum\";a:5:{i:0;s:3:\"APR\";i:1;s:3:\"AER\";i:2;s:5:\"Gross\";i:3;s:3:\"Net\";i:4;s:6:\"RepApr\";}s:4:\"type\";s:6:\"string\";}s:16:\"TierValueMaximum\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Max
  Value of interst tier\";s:9:\"maxLength\";i:15;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"TierValueMinimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Lower
  value of interest tier\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:23:\"LengthPromotionalInDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Describes
  the length if only a duration is given instead of a date\";s:4:\"type\";s:7:\"integer\";}s:13:\"PaymentMethod\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Credit
  Interest Payment Method Code\";s:4:\"enum\";a:4:{i:0;s:8:\"Compound\";i:1;s:7:\"PayAway\";i:2;s:10:\"SelfCredit\";i:3;s:14:\"SimpleInterest\";}s:4:\"type\";s:6:\"string\";}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"If
  interest is charged on a specific date range as start date (often used for promotion)\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:27:\"StartPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  the start date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:26:\"StopPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Describes
  the end date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InterestTierSubType\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Describes
  if the offering is promotional, regular or a description of a future state\";s:4:\"enum\";a:3:{i:0;s:19:\"FutureMultipleTerms\";i:1;s:11:\"Promotional\";i:2;s:7:\"Regular\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:18:\"CreditInterestItem\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:13:\"CreditCharged\";}s:4:\"type\";s:6:\"object\";}s:52:\"CreditScoringPartOfAccountOpeningForGettingAnAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Indicates
  whether a credit check performed on an inquiry to open an account is submitted\";s:4:\"type\";s:7:\"boolean\";}s:50:\"CreditScoringPartOfAccountOpeningForIDVerification\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Indicates
  whether a credit check is used to check the address of a potential new account holder\";s:4:\"type\";s:7:\"boolean\";}s:71:\"CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Indicates
  the type of scoring\";s:4:\"enum\";a:2:{i:0;s:4:\"Hard\";i:1;s:4:\"Soft\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:51:\"CreditScoringPartOfAccountOpeningIDVerificationText\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Details
  on the specific credit scoring\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:57:\"CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Describes
  the type of credit scoring\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Indicates
  the type of scoring\";s:4:\"enum\";a:2:{i:0;s:4:\"Hard\";i:1;s:4:\"Soft\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:37:\"CreditScoringPartOfAccountOpeningText\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Details
  on the specific credit scoring\";s:4:\"type\";s:6:\"string\";}s:8:\"Currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Currency
  of the Account. Default to GBP at present\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Active
  or Historic Currency Code\";s:7:\"pattern\";s:8:\"[A-Z]{3}\";s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:11:\"Eligibility\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:11:\"Eligibility\";s:10:\"properties\";O:8:\"stdClass\":33:{s:13:\"AgeRestricted\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Indicates
  a customer's age is part of eligibility criteria\";s:4:\"type\";s:7:\"boolean\";}s:22:\"AnnualBusinessTurnover\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Annual
  Business Turnover\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:30:\"AnnualBusinessTurnoverCurrency\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Annual
  Business Turnover Currency\";s:7:\"pattern\";s:8:\"[A-Z]{3}\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"One
  paragraph detailing the eligibility\";s:4:\"type\";s:6:\"string\";}s:15:\"EligibilityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Free
  text description, denotes non standard eligibilities not included in the code list\";s:4:\"type\";s:6:\"string\";}s:16:\"EligibilityNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Optional
  additional notes to supplement the eligibility conditions. Only used for very specific
  conditions\";s:4:\"type\";s:6:\"string\";}s:15:\"EligibilityType\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Eligibility
  type\";s:4:\"enum\";a:19:{i:0;s:19:\"AnyBusinessCustomer\";i:1;s:12:\"BusinessOnly\";i:2;s:10:\"CreditCard\";i:3;s:13:\"CreditScoring\";i:4;s:12:\"EmailAddress\";i:5;s:17:\"ExistingCustomers\";i:6;s:6:\"IdAndV\";i:7;s:8:\"Mortgage\";i:8;s:15:\"NoArrearsOnLoan\";i:9;s:19:\"NoCustomerInArrears\";i:10;s:25:\"NoOverOverdraftThirtyDays\";i:11;s:25:\"NoSoleUkAccountOrBankrupt\";i:12;s:3:\"NTB\";i:13;s:11:\"NTBBusiness\";i:14;s:18:\"SoleStudentAccount\";i:15;s:13:\"SoleUkAccount\";i:16;s:12:\"StudentsOnly\";i:17;s:22:\"TwoMonthsOfCourseStart\";i:18;s:20:\"UCASFulltimeTwoYears\";}s:4:\"type\";s:6:\"string\";}s:15:\"IncomeCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"Stipulates
  any particular definition of income that applies to the income eligibility and/or
  method by which income must paid into the account (eg Salary DD)\";s:4:\"type\";s:6:\"string\";}s:21:\"IncomeTurnoverRelated\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Indicates
  if eligibility linked to income\";s:4:\"type\";s:7:\"boolean\";}s:20:\"MarketingEligibility\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Specific
  eligibility for marketing\";s:4:\"enum\";a:4:{i:0;s:17:\"ExistingCustomers\";i:1;s:16:\"NewCustomersOnly\";i:2;s:13:\"SwitchersOnly\";i:3;s:7:\"StartUp\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:19:\"MaxNumberOfAccounts\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Maximum
  number of the same prodcut the customer may hold\";s:4:\"type\";s:6:\"string\";}s:10:\"MaximumAge\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Maximum
  age, in years, allowed to hold the account\";s:4:\"type\";s:7:\"integer\";}s:16:\"MaximumAgeToOpen\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Maximum
  age, in years, to open an account\";s:4:\"type\";s:7:\"integer\";}s:20:\"MaximumOpeningAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  maximum amount to be deposited at opening\";s:4:\"type\";s:7:\"boolean\";}s:32:\"MinIncomeTurnoverPaidIntoAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Minimum
  Income Amount required to paid into the account\";s:4:\"type\";s:7:\"integer\";}s:10:\"MinimumAge\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Minimum
  age, in years, required to hold an account\";s:4:\"type\";s:7:\"integer\";}s:14:\"MinimumDeposit\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"A
  minimum deposit required to hold this account\";s:4:\"type\";s:7:\"boolean\";}s:22:\"MinimumIncomeFrequency\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  frequency that the minimum mentioned before is deposited in the account. Yearly
  is very important for premium accounts\";s:4:\"enum\";a:6:{i:0;s:12:\"AcademicTerm\";i:1;s:10:\"HalfYearly\";i:2;s:7:\"Monthly\";i:3;s:9:\"Quarterly\";i:4;s:6:\"Weekly\";i:5;s:6:\"Yearly\";}s:4:\"type\";s:6:\"string\";}s:27:\"MinimumIncomeTurnoverAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Minimum
  income / Turnover required to hold the product\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:29:\"MinimumIncomeTurnoverCurrency\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Minimum
  income / Turnover Currency\";s:7:\"pattern\";s:8:\"[A-Z]{3}\";s:4:\"type\";s:6:\"string\";}s:23:\"MinimumOperatingBalance\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Minimum
  Operating Balance\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:31:\"MinimumOperatingBalanceCurrency\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Minimum
  Operating Balance currency\";s:7:\"pattern\";s:8:\"[A-Z]{3}\";s:4:\"type\";s:6:\"string\";}s:29:\"MinimumOperatingBalanceExists\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Is
  there a Minimum Operating Balance?\";s:4:\"type\";s:7:\"boolean\";}s:27:\"OpeningDepositMaximumAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Maximum
  Amount to be depositing at opening\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:29:\"OpeningDepositMaximumCurrency\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  currency of the Minimum Amount to be depositing at opening\";s:7:\"pattern\";s:8:\"[A-Z]{3}\";s:4:\"type\";s:6:\"string\";}s:21:\"OpeningDepositMinimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Minimum
  Amount to be held on account\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:29:\"OpeningDepositMinimumCurrency\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  currency of the Minimum Amount to be depositing at opening\";s:7:\"pattern\";s:8:\"[A-Z]{3}\";s:4:\"type\";s:6:\"string\";}s:29:\"OtherFinancialHoldingRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Indicates
  that it is necessary to hold another product with the bank in order to be eligible
  for this product or feature\";s:4:\"type\";s:7:\"boolean\";}s:18:\"PreviousBankruptcy\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Describes
  if a previous bankruptcy / insolvency disqualfies for this account Details in ELI-280\";s:4:\"type\";s:7:\"boolean\";}s:19:\"ResidencyRestricted\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Indicates
  a customer's residency forms part of the eligibility criteria\";s:4:\"type\";s:7:\"boolean\";}s:25:\"ResidencyRestrictedRegion\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Indicates
  a customer must be current resident of a geographic area/country\";s:4:\"enum\";a:9:{i:0;s:2:\"UK\";i:1;s:3:\"EEA\";i:2;s:2:\"EU\";i:3;s:4:\"EFTA\";i:4;s:8:\"GB
  - ENG\";i:5;s:8:\"GB - NIR\";i:6;s:8:\"GB - SCT\";i:7;s:8:\"GB - WLS\";i:8;s:3:\"IRL\";}s:4:\"type\";s:6:\"string\";}s:17:\"SingleJointIncome\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"Minimum
  Income Source. For certain products a minimum income is required. This can be mandated
  as to the single income or to a joint income. This field describes this\";s:4:\"enum\";a:4:{i:0;s:5:\"Joint\";i:1;s:10:\"SoleIncome\";i:2;s:11:\"SoleOrJoint\";i:3;s:8:\"Turnover\";}s:4:\"type\";s:6:\"string\";}s:24:\"ThirdSectorOrganisations\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Is
  the product available to operate as a Clubs or Societies account?\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:7:{i:0;s:13:\"AgeRestricted\";i:1;s:29:\"OtherFinancialHoldingRequired\";i:2;s:11:\"Description\";i:3;s:21:\"IncomeTurnoverRelated\";i:4;s:19:\"ResidencyRestricted\";i:5;s:24:\"ThirdSectorOrganisations\";i:6;s:18:\"PreviousBankruptcy\";}s:4:\"type\";s:6:\"object\";}s:7:\"Feature\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Account
  Features\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"DateOfChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Date
  of the change if it refers to future terms\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:15:\"ExistingFeature\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Indicates
  whether the account has any feature\";s:4:\"type\";s:7:\"boolean\";}s:14:\"FeatureDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Feature
  details\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Feature
  Details\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"CriteriaType\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Criteria
  that is required in order to be eligible for the feature\";s:4:\"type\";s:6:\"string\";}s:12:\"DateOfChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Date
  of the change if it refers to future terms\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:18:\"FeatureDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"A
  textual explanation of what the feature\";s:4:\"type\";s:6:\"string\";}s:11:\"FeatureName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the feature\";s:4:\"type\";s:6:\"string\";}s:14:\"FeatureSubType\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:3:{i:0;s:19:\"FutureMultipleTerms\";i:1;s:11:\"Promotional\";i:2;s:7:\"Regular\";}s:4:\"type\";s:6:\"string\";}s:11:\"FeatureType\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Type
  that represents the nature of the feature\";s:4:\"type\";s:6:\"string\";}s:12:\"FeatureValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  value or values permissible for a specific feature for an individual product representing
  a product characteristic\";s:4:\"type\";s:6:\"string\";}s:23:\"LengthPromotionalInDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Describes
  the length if only a duration is given instead of a date\";s:4:\"type\";s:7:\"integer\";}s:27:\"StartPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  the start date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:26:\"StopPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Describes
  the end date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:23:\"LengthPromotionalInDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Describes
  the length if only a duration is given instead of a date\";s:4:\"type\";s:7:\"integer\";}s:14:\"ProductSubType\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Describes
  if the offering is promotional, regular or a description of a future state\";s:4:\"enum\";a:3:{i:0;s:19:\"FutureMultipleTerms\";i:1;s:11:\"Promotional\";i:2;s:7:\"Regular\";}s:4:\"type\";s:6:\"string\";}s:27:\"StartPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  the start date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:26:\"StopPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Describes
  the end date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:15:\"ExistingFeature\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:14:\"FeesAndCharges\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:16:\"Fees
  And Charges\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Fees\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:4:\"Fees\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"DateOfChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Date
  of the change if it refers to future terms\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:10:\"FeeDetails\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:11:\"Fee
  Details\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"FeeDetail\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:10:\"Fee
  Detail\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"DateOfChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Date
  of the change if it refers to future terms\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:13:\"FeeSubDetails\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:15:\"Fee
  Sub Details\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"FeeAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Fee
  in GBP\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:12:\"FeeFrequency\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Triggering
  frequency of the fee\";s:4:\"enum\";a:21:{i:0;s:12:\"AcademicTerm\";i:1;s:14:\"AccountClosing\";i:2;s:14:\"AccountOpening\";i:3;s:21:\"AtTimeOfLoanRepayment\";i:4;s:14:\"ChargingPeriod\";i:5;s:5:\"Daily\";i:6;s:21:\"EveryFiveBusinessDays\";i:7;s:4:\"Item\";i:8;s:7:\"Monthly\";i:9;s:20:\"OnAccountAnniversary\";i:10;s:7:\"PerHour\";i:11;s:13:\"PerOccurrence\";i:12;s:8:\"PerSheet\";i:13;s:20:\"PerTransactionAmount\";i:14;s:24:\"PerTransactionPercentage\";i:15;s:9:\"Quarterly\";i:16;s:10:\"SixMonthly\";i:17;s:11:\"StartOfLoan\";i:18;s:16:\"StatementMonthly\";i:19;s:6:\"Weekly\";i:20;s:6:\"Yearly\";}s:4:\"type\";s:6:\"string\";}s:13:\"FeeHigherTier\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Higher
  occurrence / range boundary e.g. For returned cheques this could be 10, which means
  the first 10 returned cheque fits into this range\";s:4:\"type\";s:7:\"integer\";}s:12:\"FeeLowerTier\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Lower
  occurrence / range boundary e.g. For returned cheques this could be 0, which means
  the first returned cheque fits into this range\";s:4:\"type\";s:7:\"integer\";}s:6:\"FeeMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Fee
  in GBP\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:6:\"FeeMin\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Fee
  in GBP\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:7:\"FeeRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"%
  Rate\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:19:\"FeesAndChargesNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Supplementary
  information for fees and charges\";s:4:\"type\";s:6:\"string\";}s:10:\"Negotiable\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Indicates
  that this Fee Rate or Fee Amount is negotiable based on risk or other factor\";s:4:\"type\";s:7:\"boolean\";}s:18:\"RepresentativeRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Representative
  Rate\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"FeeFrequency\";i:1;s:10:\"Negotiable\";}s:4:\"type\";s:6:\"object\";}s:7:\"FeeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  description of the Fee type\";s:4:\"enum\";a:369:{i:0;s:11:\"ATMDonation\";i:1;s:17:\"ATMDeposATMPaidIn\";i:2;s:17:\"ReportCertBalance\";i:3;s:22:\"ATMAbroadConVisaCredit\";i:4;s:21:\"ATMAbroadConVisaDebit\";i:5;s:15:\"ATMCardnetEnvIn\";i:6;s:25:\"ATMCashGroupATMCreditCard\";i:7;s:29:\"ATMCashNonGroupATMCredittcard\";i:8;s:24:\"ATMCashGroupATMDebitCard\";i:9;s:27:\"ATMCashNonGroupATMDebitcard\";i:10;s:14:\"ATMConGroupATM\";i:11;s:9:\"ATMAbroad\";i:12;s:21:\"ATMForeignCashDebCard\";i:13;s:22:\"ATMAbroadGoldVisaDebit\";i:14;s:16:\"ATMSpainCashCard\";i:15;s:17:\"ATMSpainDebitCard\";i:16;s:27:\"ATMSpainConversionDebitCard\";i:17;s:26:\"ATMSpainConversionCashCard\";i:18;s:24:\"ATMNonSterlingWithdrawal\";i:19;s:19:\"ATMAbroadVisaCredit\";i:20;s:18:\"ATMAbroadVisaDebit\";i:21;s:25:\"ATMAbroadConVisaGoldDebit\";i:22;s:16:\"ATMWidthdrawCash\";i:23;s:20:\"BACSOnLineAncilliary\";i:24;s:9:\"BACSBatch\";i:25;s:14:\"BACSOnLineFile\";i:26;s:12:\"BACSFileItem\";i:27;s:16:\"BACSOnLineSetup
  \";i:28;s:8:\"BACSItem\";i:29;s:19:\"BACSItemInterbranch\";i:30;s:13:\"BACSBulkBatch\";i:31;s:19:\"BACSOnLineOverlimit\";i:32;s:17:\"BACSOnLinePayment\";i:33;s:14:\"BACSRecallItem\";i:34;s:17:\"BACSOnLineService\";i:35;s:16:\"BACSBulkInternet\";i:36;s:22:\"BACSTELDirDebSmartCard\";i:37;s:20:\"BACSTELDirDebWebInit\";i:38;s:19:\"BACSTELirDebWebInit\";i:39;s:22:\"BACSTELDirDebOverlimit\";i:40;s:20:\"BACSTELDirDebPayment\";i:41;s:20:\"BACSTELDirDebService\";i:42;s:23:\"BACSTELDirDebAncilliary\";i:43;s:21:\"BACSDirectItemProfile\";i:44;s:17:\"BACSTELAncilliary\";i:45;s:16:\"BACSTELSmartCard\";i:46;s:11:\"BACSTELFile\";i:47;s:13:\"BACSTELSetup
  \";i:48;s:16:\"BACSTELOverlimit\";i:49;s:14:\"BACSTELPayment\";i:50;s:14:\"BACSTELService\";i:51;s:14:\"CHAPSOutBranch\";i:52;s:17:\"CHAPSCancellation\";i:53;s:24:\"CHAPSOutOnlineDepositAcc\";i:54;s:7:\"CHAPSIn\";i:55;s:17:\"CHAPSOutInterBank\";i:56;s:14:\"CHAPSInterBank\";i:57;s:12:\"CHAPSOutPost\";i:58;s:19:\"CHAPSOutInterBranch\";i:59;s:8:\"CHAPSOut\";i:60;s:14:\"CHAPSOutOnline\";i:61;s:18:\"CHAPSandForeignPay\";i:62;s:14:\"CHAPSOutManual\";i:63;s:19:\"CardCardReplacement\";i:64;s:13:\"DraftsCounter\";i:65;s:13:\"DraftsBankers\";i:66;s:23:\"DraftsIntlPayableAbroad\";i:67;s:16:\"DraftsLostStolen\";i:68;s:20:\"CardPersonalisedCard\";i:69;s:26:\"DraftsIntlStoppedCancelled\";i:70;s:12:\"EuroChqXLess\";i:71;s:12:\"EuroChqXPlus\";i:72;s:17:\"FPSOutFutureDated\";i:73;s:15:\"FPSOutImmediate\";i:74;s:6:\"FPSOut\";i:75;s:9:\"FPSOutOwn\";i:76;s:11:\"FPSInBranch\";i:77;s:14:\"FPSUKPayUrgent\";i:78;s:19:\"LegalArticlesReport\";i:79;s:12:\"LegalSealing\";i:80;s:21:\"LegalBondAndGuarantee\";i:81;s:15:\"LegalCourtOrder\";i:82;s:13:\"LegalCoSearch\";i:83;s:22:\"LegalDepositAssignment\";i:84;s:18:\"LegalGuaranteePrep\";i:85;s:21:\"LegalLifePolicyPrepCo\";i:86;s:27:\"LegalLifePolicyPrepPersonal\";i:87;s:22:\"LegalPriorityPariPassu\";i:88;s:27:\"LegalSubordinationAgreement\";i:89;s:22:\"DirDebDirectDebitAdmin\";i:90;s:23:\"DirDebDirectDebitCancel\";i:91;s:22:\"IntlPayBIBForeignLimit\";i:92;s:22:\"IntlPayCreditTransCust\";i:93;s:25:\"IntlPayCreditTransNonCust\";i:94;s:27:\"IntlPayUrgentPaymentForeign\";i:95;s:24:\"IntlPayExpressMoneyMover\";i:96;s:19:\"IntlPayEEAPayUrgent\";i:97;s:21:\"IntlPayIrishPayUrgent\";i:98;s:13:\"IntlPayEEAPay\";i:99;s:22:\"IntlPayForeignIn1CPlus\";i:100;s:28:\"IntlPayForeignPaymentInUKAcc\";i:101;s:20:\"IntlPayForeignCharge\";i:102;s:26:\"IntlPayForeignCancellation\";i:103;s:31:\"IntlPayForeignStandardEUEuroBIC\";i:104;s:16:\"IntlPayFXFeeRate\";i:105;s:22:\"IntlPayForeignInternet\";i:106;s:14:\"IntlPayForeign\";i:107;s:21:\"IntlPayForeignInbound\";i:108;s:19:\"IntlPayFXPaymentOut\";i:109;s:21:\"IntlPayForeignInSub1C\";i:110;s:13:\"IntlPayFXRate\";i:111;s:33:\"IntlPayForeignStandardEUEuroNoBIC\";i:112;s:21:\"IntlPayFXPaymentOutIR\";i:113;s:12:\"IntlPayFXFee\";i:114;s:26:\"IntlPayPurchaseNonSterling\";i:115;s:25:\"IntlPayPostPaymentForeign\";i:116;s:30:\"IntlPayPurchaseRateNonSterling\";i:117;s:21:\"IntlPayPaymentTracing\";i:118;s:25:\"IntlPayStandardMoneyMover\";i:119;s:23:\"IntlPayMT101Transaction\";i:120;s:23:\"IntlPayTransNonSterling\";i:121;s:27:\"IntlPayTransRateNonSterling\";i:122;s:29:\"IntlPayForeignUrgentEUEuroBIC\";i:123;s:31:\"IntlPayForeignUrgentEUEuroNoBIC\";i:124;s:25:\"IntlPayUrgentPaymentGroup\";i:125;s:22:\"IntlPayUrgentPaymentUK\";i:126;s:19:\"IntlPayUSAPayUrgent\";i:127;s:23:\"IntlPayCurrencyPurchase\";i:128;s:22:\"IntlPayWorldpayPayment\";i:129;s:23:\"IntlPayCurrencyWithdraw\";i:130;s:22:\"InvPayBankDetailsWrong\";i:131;s:17:\"InvPayForeignBCNR\";i:132;s:19:\"InvPayForeignRecall\";i:133;s:13:\"InvGeneralInq\";i:134;s:17:\"InvOldInstruction\";i:135;s:19:\"InvPayPaymentRecall\";i:136;s:23:\"InvPayReturnDebitXVLess\";i:137;s:23:\"InvPayReturnDebitXVPlus\";i:138;s:17:\"InvPayStopPayment\";i:139;s:23:\"InvPayStandingOrdUnpaid\";i:140;s:14:\"SafeKeepAccess\";i:141;s:18:\"SafeKeepDeedMedium\";i:142;s:19:\"SafeKeepingEnvelope\";i:143;s:21:\"SafeKeepingInspection\";i:144;s:20:\"SafeKeepingLargeItem\";i:145;s:21:\"SafeKeepMultipleItems\";i:146;s:17:\"SafeKeepingParcel\";i:147;s:17:\"SafeKeepDeedSmall\";i:148;s:15:\"SafeKeepOneItem\";i:149;s:19:\"SafeKeepSafeCustody\";i:150;s:20:\"LoanArrangementFeePC\";i:151;s:15:\"LoanArrangement\";i:152;s:18:\"LoanEarlyRepayment\";i:153;s:15:\"LoanLatePayment\";i:154;s:20:\"LoanSMEUnsecuredLoan\";i:155;s:21:\"LoanTieredArrangement\";i:156;s:26:\"NightSafeNightSafeBankOpen\";i:157;s:20:\"NightSafeCreditSub5K\";i:158;s:18:\"NightSafeNightSafe\";i:159;s:24:\"NightSafeNightSafePaidIn\";i:160;s:21:\"OverdraftAnnualReview\";i:161;s:22:\"OverdraftTempOverdraft\";i:162;s:30:\"OverdraftUnauthorisedBorrowing\";i:163;s:25:\"POPostOfficeCounterCredit\";i:164;s:22:\"POPostOfficeCashCredit\";i:165;s:19:\"POPostOfficeCashOut\";i:166;s:22:\"POPostOfficeWithdrawal\";i:167;s:26:\"ChqBookTheftLossAllStopped\";i:168;s:20:\"ChqIssuedCurrencyAcc\";i:169;s:7:\"ChqCopy\";i:170;s:8:\"ChqDraft\";i:171;s:5:\"ChqIn\";i:172;s:16:\"ChqDraftSterling\";i:173;s:12:\"ChqOutIssued\";i:174;s:25:\"ChqSpecialChqPresentation\";i:175;s:16:\"ChqCounterCheque\";i:176;s:23:\"ChqChequeswithStatement\";i:177;s:10:\"ChqStopped\";i:178;s:8:\"ChqTrans\";i:179;s:10:\"ChqDraftFX\";i:180;s:17:\"ChqForeignCourier\";i:181;s:20:\"ChqForeignNegTenThou\";i:182;s:20:\"ChqForeignNegHundred\";i:183;s:21:\"ChequeForeignBankDivi\";i:184;s:22:\"ChqForeignNegFiftyThou\";i:185;s:16:\"ChqPensionCheque\";i:186;s:22:\"ChequeForeignOtherDivi\";i:187;s:21:\"ChqForeignNegFiveThou\";i:188;s:16:\"ChqForeignNegMax\";i:189;s:20:\"ChqForeignGBPMMDPlus\";i:190;s:13:\"ChqGiftCheque\";i:191;s:19:\"ChqCounterLodgement\";i:192;s:20:\"ChqCashDropLodgement\";i:193;s:18:\"ChqChequePhotocopy\";i:194;s:19:\"ChqPostOfficeCredit\";i:195;s:28:\"ChqPostOfficeChequeCollected\";i:196;s:18:\"ChqChequeRetrieval\";i:197;s:26:\"ChqReconcilliationPerTrans\";i:198;s:27:\"ChqSpecialPresentationCount\";i:199;s:25:\"ChqSpecialPresentationPTT\";i:200;s:15:\"ChqUnpaidCharge\";i:201;s:16:\"ChqUnpaidTransIn\";i:202;s:17:\"ChqUnpaidTransOut\";i:203;s:15:\"ChqUnpaidCheque\";i:204;s:17:\"ReportAuditLetter\";i:205;s:25:\"ReportFAXAdviceAdditional\";i:206;s:25:\"ReportTelAdviceAdditional\";i:207;s:19:\"ReportCreditHistory\";i:208;s:27:\"ReportCertInterestDuplicate\";i:209;s:18:\"ReportCertInterest\";i:210;s:35:\"ReportCreditHistoryAdditionalInYear\";i:211;s:26:\"ReportForeignStatusEnqElec\";i:212;s:22:\"ReportForeignStatusEnq\";i:213;s:28:\"ReportCashBackorInterestAnal\";i:214;s:23:\"ReportStatementChqDaily\";i:215;s:29:\"ReportStatementChqFortnightly\";i:216;s:25:\"ReportStatementChqMonthly\";i:217;s:24:\"ReportStatementChqWeekly\";i:218;s:25:\"ReportStatementAndDiviChq\";i:219;s:15:\"ReportReference\";i:220;s:18:\"ReportReferralItem\";i:221;s:20:\"ReportStatementByATM\";i:222;s:23:\"ReportStatementByBranch\";i:223;s:26:\"ReportStatementCopyRegular\";i:224;s:19:\"ReportStatusEnquiry\";i:225;s:23:\"ReportStatementFrequent\";i:226;s:22:\"ReportStatementMonthly\";i:227;s:20:\"ReportStatementCopy1\";i:228;s:23:\"ReportStatementToBranch\";i:229;s:33:\"ReportSMSTextMiniStatementorAlert\";i:230;s:26:\"ReportStatementFortnightly\";i:231;s:29:\"ReportSMSTextMiniStatementWoM\";i:232;s:25:\"ReportSMSTextAlertBalance\";i:233;s:18:\"ReportSMSTextAlert\";i:234;s:13:\"ReportTaxCert\";i:235;s:21:\"ReportWeeklyStatement\";i:236;s:24:\"ReportTextMessageBanking\";i:237;s:16:\"SEPACancellation\";i:238;s:10:\"SEPABranch\";i:239;s:10:\"SEPACredit\";i:240;s:15:\"SEPADirectDebit\";i:241;s:6:\"SEPAIn\";i:242;s:8:\"SEPAEuro\";i:243;s:7:\"SEPAOut\";i:244;s:10:\"SEPAUnpaid\";i:245;s:25:\"SEPAWinbitsAnnual
  Service\";i:246;s:22:\"SEPAWinbitsTransaction\";i:247;s:22:\"TransBillPaymentBranch\";i:248;s:16:\"TransBillCollect\";i:249;s:25:\"TransTelephoneBillPayment\";i:250;s:16:\"TransBankPayment\";i:251;s:25:\"TransBillPaymentTelephone\";i:252;s:25:\"TransCorrespondentBankFee\";i:253;s:30:\"TransCreditTransferUKDifferent\";i:254;s:25:\"TransCreditTransferUKSame\";i:255;s:11:\"TransCredit\";i:256;s:19:\"TransCreditTransfer\";i:257;s:17:\"TransBranchCredit\";i:258;s:10:\"TransDebit\";i:259;s:15:\"TransDebCardDeb\";i:260;s:13:\"TransUKDirDeb\";i:261;s:14:\"TransManualDeb\";i:262;s:22:\"TransBuyForeignWithGBP\";i:263;s:17:\"TransGoodValueReq\";i:264;s:22:\"TransSWIFTOutUKForeign\";i:265;s:26:\"TransInconpleteInstruction\";i:266;s:18:\"TransManualEntries\";i:267;s:16:\"TransManualTrans\";i:268;s:16:\"TransNonSterling\";i:269;s:19:\"TransPOSSaleForeign\";i:270;s:19:\"TransPriPaymentPost\";i:271;s:14:\"TransPOSSaleUK\";i:272;s:18:\"TransReturnPayment\";i:273;s:27:\"TransReconciliationPerTrans\";i:274;s:21:\"TransStandingOrdAdmin\";i:275;s:16:\"TransStandingOrd\";i:276;s:22:\"TransStandingOrdManPay\";i:277;s:27:\"TransTravellersChqOtherBank\";i:278;s:36:\"TransTelBusiPriPaymentForeignToUKAcc\";i:279;s:13:\"TransTeleItem\";i:280;s:30:\"TransTelBusiPriPaymentToGrpAcc\";i:281;s:22:\"TransTravellersChqRate\";i:282;s:20:\"TransTransferExGroup\";i:283;s:26:\"TransUnauthorisedPaidTrans\";i:284;s:24:\"TransUrgentPaymentPostal\";i:285;s:16:\"TransUnpaidTrans\";i:286;s:33:\"TransTelBusiPriPaymentToNonGrpAcc\";i:287;s:27:\"TransSWIFTOutNonEEASterling\";i:288;s:14:\"AutoAutoCredit\";i:289;s:20:\"AutoAutomatedEntries\";i:290;s:23:\"AutoAutoCreditPhoneInet\";i:291;s:18:\"AutoAutomatedTrans\";i:292;s:23:\"AutoDebitCardCommercial\";i:293;s:17:\"AutoFPSAutoCredit\";i:294;s:24:\"VisaConvertAbroadForeign\";i:295;s:18:\"VisaBureauDeChange\";i:296;s:27:\"VisaTravellersChqorCurrency\";i:297;s:25:\"OnlineInternetBillPayment\";i:298;s:31:\"OnlineBusinessOnlineEuroPayment\";i:299;s:37:\"OnlineBusinessOnlineUrgentEuroPayment\";i:300;s:34:\"OnlineBusinessOnlineForeignPayment\";i:301;s:23:\"OnlineInterbankTransfer\";i:302;s:26:\"OnlineInterbankPerTransfer\";i:303;s:25:\"OnlineInterbranchTransfer\";i:304;s:28:\"OnlineInterbranchPerTransfer\";i:305;s:25:\"OnlineSubscriptionMonthly\";i:306;s:20:\"OnlineBankingPayment\";i:307;s:25:\"OnlineBankingSubscription\";i:308;s:13:\"OnlinePOSSale\";i:309;s:28:\"OnlinePersonalCustAncillarys\";i:310;s:25:\"OnlinePersonalCustService\";i:311;s:28:\"OnlinePersonalCustOverlimits\";i:312;s:27:\"OnlineReplacementCardReader\";i:313;s:23:\"OnlinePersonalCustSetUp\";i:314;s:29:\"OnlinePersonalCustTransaction\";i:315;s:22:\"OnlinePaymentinGBPtoUK\";i:316;s:19:\"OnlineUrgentPayment\";i:317;s:22:\"OnlinePaymentinUSDtoUS\";i:318;s:27:\"OnlineBulkDirectDebSterling\";i:319;s:14:\"ForeignChqSent\";i:320;s:14:\"ForeignChqSelf\";i:321;s:20:\"ForeignChqEncashment\";i:322;s:20:\"ForeignFXInwardsCust\";i:323;s:21:\"ForeignFXTransfersROI\";i:324;s:21:\"ForeignFXForwardTrans\";i:325;s:21:\"ForeignFXTransfersBOI\";i:326;s:20:\"ForeignExMaintenance\";i:327;s:23:\"ForeignFXInwardsNonCust\";i:328;s:17:\"ForeignFXOutwards\";i:329;s:15:\"ForeignPurchase\";i:330;s:16:\"ForeignStatusRep\";i:331;s:15:\"ForeignChqDraft\";i:332;s:15:\"ForeignChqCLess\";i:333;s:15:\"ForeignChqMLess\";i:334;s:15:\"ForeignChqOther\";i:335;s:15:\"ForeignChqMPlus\";i:336;s:13:\"ForeignChqCCC\";i:337;s:18:\"ServiceCAccountFee\";i:338;s:25:\"ServiceCAccountFeeMonthly\";i:339;s:27:\"ServiceCAccountFeeQuarterly\";i:340;s:23:\"ServiceCBalanceHandling\";i:341;s:19:\"ServiceCFixedTariff\";i:342;s:26:\"ServiceCBusiDepAccBreakage\";i:343;s:20:\"ServiceCMonitorDaily\";i:344;s:21:\"ServiceCManagementFee\";i:345;s:25:\"ServiceCMinimumMonthlyFee\";i:346;s:22:\"ServiceCMonitorMonthly\";i:347;s:21:\"ServiceCMonitorWeekly\";i:348;s:19:\"ServiceCSecurityFee\";i:349;s:25:\"ServiceCMT940AccountFirst\";i:350;s:30:\"ServiceCMT940AccountSubsequent\";i:351;s:13:\"ServiceCOther\";i:352;s:19:\"CounterCoinHandling\";i:353;s:13:\"CounterCashIn\";i:354;s:18:\"CounterCashInNotUs\";i:355;s:14:\"CounterCashOut\";i:356;s:12:\"CounterCashX\";i:357;s:21:\"CounterForeignCashMax\";i:358;s:26:\"CounterForeignNoteHandling\";i:359;s:21:\"CounterForeignCashOut\";i:360;s:18:\"CounterCashFeeRate\";i:361;s:23:\"CounterForeignCashOutTx\";i:362;s:23:\"CounterCounterLodgement\";i:363;s:24:\"CounterCashDropLodgement\";i:364;s:18:\"CounterNotesLodged\";i:365;s:15:\"CounterNotesOut\";i:366;s:16:\"CounterCashInOwn\";i:367;s:16:\"CounterPaidTrans\";i:368;s:21:\"CounterCashFeePercent\";}s:4:\"type\";s:6:\"string\";}s:23:\"LengthPromotionalInDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Describes
  the length if only a duration is given instead of a date\";s:4:\"type\";s:7:\"integer\";}s:5:\"Other\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Describe
  other fee type\";s:4:\"type\";s:6:\"string\";}s:27:\"StartPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  the start date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:26:\"StopPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Describes
  the end date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"FeeType\";i:1;s:13:\"FeeSubDetails\";}s:4:\"type\";s:6:\"object\";}s:10:\"FeeSubType\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Fee
  Sub Type code\";s:4:\"enum\";a:3:{i:0;s:19:\"FutureMultipleTerms\";i:1;s:11:\"Promotional\";i:2;s:7:\"Regular\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"FeeSubType\";i:1;s:9:\"FeeDetail\";}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:13:\"FeeHigherTier\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Higher
  occurrence / range boundary e.g. For returned cheques this could be 10, which means
  the first 10 returned cheque fits into this range\";s:4:\"type\";s:7:\"integer\";}s:12:\"FeeLowerTier\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Lower
  occurrence / range boundary e.g.. For returned cheques this could be 0, which means
  the first returned cheque fits into this range\";s:4:\"type\";s:7:\"integer\";}s:23:\"LengthPromotionalInDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Describes
  the length if only a duration is given instead of a date\";s:4:\"type\";s:7:\"integer\";}s:27:\"StartPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  the start date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:26:\"StopPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Describes
  the end date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"FeeDetails\";}s:4:\"type\";s:6:\"object\";}s:14:\"ProductSubType\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Describes
  if the offering is promotional, regular or a description of a future state\";s:4:\"enum\";a:3:{i:0;s:19:\"FutureMultipleTerms\";i:1;s:11:\"Promotional\";i:2;s:7:\"Regular\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:14:\"ProductSubType\";i:1;s:4:\"Fees\";}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:30:\"InternationalPaymentsSupported\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Indicates
  that the account supports international payments\";s:4:\"type\";s:7:\"boolean\";}s:20:\"MaximumMonthlyCharge\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  maximum Relevant Charges that could accrue\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:12:\"MobileWallet\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"Mobile
  wallet supported by this product. A mobile wallet being any electronic device that
  allows an individual to make electronic commerce transactions\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"Mobile
  wallet supported by this product. A mobile wallet being any electronic device that
  allows an individual to make electronic commerce transactions\";s:4:\"enum\";a:8:{i:0;s:10:\"AndroidPay\";i:1;s:8:\"ApplePay\";i:2;s:15:\"IssuerMobileApp\";i:3;s:16:\"MobileBankingApp\";i:4;s:5:\"Other\";i:5;s:4:\"PayM\";i:6;s:10:\"SamsungPay\";i:7;s:14:\"VodafoneWallet\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"Organisation\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:12:\"Organisation\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Brand\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:5:\"Brand\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"TrademarkID\";O:8:\"stdClass\":4:{s:11:\"description\";s:132:\"The
  trademark number that has been registered with the Intellectual Property Office.
  Note: The 2 letter IPO prefix should be omitted\";s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"TrademarkIPOCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"The
  Intellectual Property Office (IPO) is the official body responsible for intellectual
  property (IP) rights including patents, designs, trademarks and copyright. (Code:
  UK or EU only)\";s:4:\"enum\";a:2:{i:0;s:2:\"UK\";i:1;s:2:\"EU\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"TrademarkIPOCode\";i:1;s:11:\"TrademarkID\";}s:4:\"type\";s:6:\"object\";}s:18:\"ParentOrganisation\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:19:\"Parent
  organisation\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"BIC\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  BIC from the organisation\";s:7:\"pattern\";s:41:\"[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?\";s:4:\"type\";s:6:\"string\";}s:3:\"LEI\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  LEI ID of the organisation\";s:7:\"pattern\";s:27:\"^[A-Z0-9]{18,18}[0-9]{2,2}$\";s:4:\"type\";s:6:\"string\";}s:16:\"OrganisationName\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:17:\"Organisation
  Name\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"LegalName\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Legal
  Name of the organisation\";s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"LegalName\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:16:\"OrganisationName\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:18:\"ParentOrganisation\";i:1;s:5:\"Brand\";}s:4:\"type\";s:6:\"object\";}s:9:\"Overdraft\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:9:\"Overdraft\";s:10:\"properties\";O:8:\"stdClass\":19:{s:16:\"AnnualRenewalFee\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Fee
  payable per term for overdraft\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:17:\"AnnualRenewalRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Rate
  to renew overdraft\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:12:\"DateOfChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Date
  of the change if it refers to future terms\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:22:\"InterestProductSubType\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Describes
  if the offering is promotional, regular or a description of a future state\";s:4:\"enum\";a:3:{i:0;s:19:\"FutureMultipleTerms\";i:1;s:11:\"Promotional\";i:2;s:7:\"Regular\";}s:4:\"type\";s:6:\"string\";}s:23:\"LengthPromotionalInDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Describes
  the length if only a duration is given instead of a date\";s:4:\"type\";s:7:\"integer\";}s:27:\"MaximumDailyOverdraftCharge\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Maximum
  daily overdraft charge\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:29:\"MaximumMonthlyOverdraftCharge\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Maximum
  monthly overdraft charge\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:10:\"MinimumFee\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Minimum
  overdraft fee\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:17:\"MinimumRenewalFee\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  minimum amount charged for the annual renewal\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:15:\"MinimumSetupFee\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  minimum amount charged for an overdraft set up\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:16:\"OverdraftPricing\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:17:\"Overdraft
  Pricing\";s:10:\"properties\";O:8:\"stdClass\":18:{s:12:\"ApplicableTo\";O:8:\"stdClass\":6:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:23:\"Personal
  Interest Tiers\";s:13:\"maxProperties\";i:1;s:13:\"minProperties\";i:1;s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"InterestTierPersonal\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Identifier
  for the tier\";s:4:\"type\";s:6:\"string\";}s:15:\"InterestTierSME\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"Identifier
  for tier only where it has been supplied under Part 8 (article 32 or the CMA order),
  value reflects upper tier value\";s:4:\"enum\";a:8:{i:0;s:6:\"\xA35000\";i:1;s:7:\"\xA310000\";i:2;s:7:\"\xA315000\";i:3;s:7:\"\xA320000\";i:4;s:7:\"\xA325000\";i:5;s:5:\"Other\";i:6;s:11:\"TierMaximum\";i:7;s:11:\"TierMinimum\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"BufferAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Amount
  on overdraft that is prearranged\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:11:\"DailyCharge\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Maximum
  daily overdraft charge\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:14:\"IndicativeRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Indicative
  Rate that the client will get\";s:4:\"type\";s:6:\"string\";}s:28:\"InterestApplicationFrequency\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"When
  the interest is applied\";s:4:\"enum\";a:5:{i:0;s:6:\"Annual\";i:1;s:5:\"Daily\";i:2;s:7:\"Monthly\";i:3;s:9:\"Quarterly\";i:4;s:13:\"StatementDate\";}s:4:\"type\";s:6:\"string\";}s:13:\"InterestNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Optional
  additional notes to supplement the interest details\";s:4:\"type\";s:6:\"string\";}s:12:\"InterestRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"interest
  rate applied to tier\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:32:\"InterestRateCalculationFrequency\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Frequency
  at which interest is calculated and accrued\";s:4:\"enum\";a:4:{i:0;s:6:\"Annual\";i:1;s:5:\"Daily\";i:2;s:7:\"Monthly\";i:3;s:9:\"Quarterly\";}s:4:\"type\";s:6:\"string\";}s:17:\"InterestRateEARpa\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Interest
  rate applied to tier\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:10:\"ItemCharge\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Arranged
  overdraft item charge\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:28:\"MinUnarrangedOverdraftAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Minimum
  Unarranged Overdraft Amount if applicable\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:13:\"MonthlyCharge\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Maximum
  monthly overdraft charge\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:11:\"OtherCharge\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Other
  flat charge levied when overdrawn (Arranged)\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:14:\"OverdraftNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Supplementary
  notes for overdrafts\";s:4:\"type\";s:6:\"string\";}s:18:\"RatesAreNegotiable\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Value
  that expresses if the rates are negotiable\";s:4:\"enum\";a:2:{i:0;s:2:\"No\";i:1;s:3:\"Yes\";}s:4:\"type\";s:6:\"string\";}s:18:\"RepresentativeRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Interest
  rate at AER\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:5:\"Tiers\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:5:\"Tiers\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"TierType\";O:8:\"stdClass\":6:{s:20:\"additionalProperties\";b:0;s:11:\"description\";s:9:\"Tier
  Type\";s:13:\"maxProperties\";i:1;s:13:\"minProperties\";i:1;s:10:\"properties\";O:8:\"stdClass\":2:{s:29:\"ArrangedOverdraftInterestTier\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Arranged
  overdraft interest tier\";s:9:\"maxLength\";i:10;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:31:\"UnarrangedOverdraftInterestTier\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unarranged
  overdraft interest tier\";s:9:\"maxLength\";i:10;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"TierValueMaximum\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Max
  Value of interest tier\";s:9:\"maxLength\";i:15;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"TierValueMinimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Lower
  value of interest tier\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:26:\"TotalOverdraftChargeAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"All
  charges that a customer could incur as a result of exceeding or attempting to exceed
  a Pre-agreed credit limit\";s:4:\"enum\";a:3:{i:0;s:6:\"Banded\";i:1;s:6:\"Tiered\";i:2;s:5:\"Whole\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"ApplicableTo\";i:1;s:5:\"Tiers\";}s:4:\"type\";s:6:\"object\";}s:13:\"OverdraftType\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Opposite
  of repayable on demand\";s:4:\"enum\";a:2:{i:0;s:9:\"Committed\";i:1;s:8:\"OnDemand\";}s:4:\"type\";s:6:\"string\";}s:11:\"RenewalRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Rate
  to renew overdraft\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:9:\"ReviewFee\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Fee
  to review overdraft limit\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:15:\"SetUpFeesAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Fees
  to set up the overdraft\";s:7:\"pattern\";s:21:\"^-?\\d{1,10}\\.\\d{1,2}$\";s:4:\"type\";s:6:\"string\";}s:13:\"SetUpFeesRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Rate
  to set up the overdraft\";s:7:\"pattern\";s:20:\"^-?\\d{1,3}\\.\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:27:\"StartPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  the start date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:26:\"StopPromotionOrFutureTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Describes
  the end date\";s:7:\"pattern\";s:62:\"^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$\";s:4:\"type\";s:6:\"string\";}s:4:\"Term\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  duration of the overdraft, if it is non permanent\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:16:\"OverdraftOffered\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Indicates
  whether an overdraft offered for this account\";s:4:\"type\";s:7:\"boolean\";}s:18:\"ProductDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Description
  of the product provided by the parent organisation\";s:4:\"type\";s:6:\"string\";}s:17:\"ProductIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Identifier
  within the parent organisation for the product. Must be unique in the organisation\";s:4:\"type\";s:6:\"string\";}s:11:\"ProductName\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  name of the product used for marketing purposes from a customer perspective. i.e.
  what the customer would recognise\";s:4:\"type\";s:6:\"string\";}s:14:\"ProductSegment\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Marketing
[...]
