---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:315:\"<fullname>Amazon
  EC2 Auto Scaling</fullname> <p>Amazon EC2 Auto Scaling is designed to automatically
  launch or terminate EC2 instances based on user-defined policies, schedules, and
  health checks. Use this service in conjunction with the AWS Auto Scaling, Amazon
  CloudWatch, and Elastic Load Balancing services.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:12:\"Auto
  Scaling\";s:7:\"version\";s:10:\"2011-01-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:95:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/autoscaling-2011-01-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:11:\"autoscaling\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"amazonaws_autoscaling\";s:4:\"type\";s:7:\"openapi\";}}"
host: autoscaling.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":222:{s:10:\"Activities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Activity\";}s:4:\"type\";s:5:\"array\";}s:14:\"ActivitiesType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"Activities\";a:1:{i:0;O:8:\"stdClass\":9:{s:10:\"ActivityId\";s:36:\"f9f2d65b-f1f2-43e7-b46d-d86756459699\";s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:5:\"Cause\";s:260:\"At
  2013-08-19T20:53:25Z a user request created an AutoScalingGroup changing the desired
  capacity from 0 to 1.  At 2013-08-19T20:53:29Z an instance was started in response
  to a difference between desired and actual capacity, increasing the capacity from
  0 to 1.\";s:11:\"Description\";s:40:\"Launching a new EC2 instance: i-4ba0837f\";s:7:\"Details\";s:7:\"details\";s:7:\"EndTime\";s:20:\"2013-08-19T20:54:02Z\";s:8:\"Progress\";i:100;s:9:\"StartTime\";s:24:\"2013-08-19T20:53:29.930Z\";s:10:\"StatusCode\";s:10:\"Successful\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Activities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Activities\";s:11:\"description\";s:110:\"The
  scaling activities. Activities are sorted by start time. Activities still in progress
  are described first.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:120:\"The
  token to use when requesting the next set of items. If there are no additional items
  to return, the string is empty.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Activities\";}s:4:\"type\";s:6:\"object\";}s:8:\"Activity\";O:8:\"stdClass\":4:{s:11:\"description\";s:164:\"Describes
  scaling activity, which is a long-running process that represents a change to your
  Auto Scaling group, such as changing its size or replacing an instance.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"ActivityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:23:\"The
  ID of the activity.\";}s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:5:\"Cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/XmlStringMaxLen1023\";s:11:\"description\";s:30:\"The
  reason the activity began.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:53:\"A
  friendly, more verbose description of the activity.\";}s:7:\"Details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:31:\"The
  details about the activity.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TimestampType\";s:11:\"description\";s:29:\"The
  end time of the activity.\";}s:8:\"Progress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Progress\";s:11:\"description\";s:70:\"A
  value between 0 and 100 that indicates the progress of the activity.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TimestampType\";s:11:\"description\";s:31:\"The
  start time of the activity.\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ScalingActivityStatusCode\";s:11:\"description\";s:35:\"The
  current status of the activity.\";}s:13:\"StatusMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:60:\"A
  friendly, more verbose description of the activity status.\";}}s:8:\"required\";a:5:{i:0;s:10:\"ActivityId\";i:1;s:20:\"AutoScalingGroupName\";i:2;s:5:\"Cause\";i:3;s:9:\"StartTime\";i:4;s:10:\"StatusCode\";}s:4:\"type\";s:6:\"object\";}s:11:\"ActivityIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";}s:4:\"type\";s:5:\"array\";}s:12:\"ActivityType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Activity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Activity\";s:11:\"description\";s:19:\"A
  scaling activity.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AdjustmentType\";O:8:\"stdClass\":3:{s:11:\"description\";s:235:\"<p>Describes
  a policy adjustment type.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/as-scale-based-on-demand.html\">Dynamic
  Scaling</a> in the <i>Auto Scaling User Guide</i>.</p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"AdjustmentType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:149:\"The
  policy adjustment type. The valid values are <code>ChangeInCapacity</code>, <code>ExactCapacity</code>,
  and <code>PercentChangeInCapacity</code>.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AdjustmentTypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AdjustmentType\";}s:4:\"type\";s:5:\"array\";}s:5:\"Alarm\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Describes
  an alarm.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"AlarmARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:44:\"The
  Amazon Resource Name (ARN) of the alarm.\";}s:9:\"AlarmName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:22:\"The
  name of the alarm.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Alarms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Alarm\";}s:4:\"type\";s:5:\"array\";}s:18:\"AlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"You
  already have an Auto Scaling group or launch configuration with this name.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AsciiStringMaxLen255\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"[A-Za-z0-9\\-_\\/]+\";s:4:\"type\";s:6:\"string\";}s:24:\"AssociatePublicIpAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"AttachInstancesQuery\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:11:\"InstanceIds\";a:1:{i:0;s:10:\"i-93633f9b\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:11:\"InstanceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/InstanceIds\";s:11:\"description\";s:61:\"The
  IDs of the instances. You can specify up to 20 instances.\";}}s:8:\"required\";a:1:{i:0;s:20:\"AutoScalingGroupName\";}s:4:\"type\";s:6:\"object\";}s:40:\"AttachLoadBalancerTargetGroupsResultType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"AttachLoadBalancerTargetGroupsType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:15:\"TargetGroupARNs\";a:1:{i:0;s:91:\"arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:15:\"TargetGroupARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TargetGroupARNs\";s:11:\"description\";s:93:\"The
  Amazon Resource Names (ARN) of the target groups. You can specify up to 10 target
  groups.\";}}s:8:\"required\";a:2:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:15:\"TargetGroupARNs\";}s:4:\"type\";s:6:\"object\";}s:29:\"AttachLoadBalancersResultType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"AttachLoadBalancersType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:17:\"LoadBalancerNames\";a:1:{i:0;s:16:\"my-load-balancer\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:17:\"LoadBalancerNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LoadBalancerNames\";s:11:\"description\";s:73:\"The
  names of the load balancers. You can specify up to 10 load balancers.\";}}s:8:\"required\";a:2:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:17:\"LoadBalancerNames\";}s:4:\"type\";s:6:\"object\";}s:16:\"AutoScalingGroup\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  an Auto Scaling group.\";s:10:\"properties\";O:8:\"stdClass\":24:{s:19:\"AutoScalingGroupARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:57:\"The
  Amazon Resource Name (ARN) of the Auto Scaling group.\";}s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AvailabilityZones\";s:11:\"description\";s:45:\"One
  or more Availability Zones for the group.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TimestampType\";s:11:\"description\";s:40:\"The
  date and time the group was created.\";}s:15:\"DefaultCooldown\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Cooldown\";s:11:\"description\";s:109:\"The
  amount of time, in seconds, after a scaling activity completes before another scaling
  activity can start.\";}s:15:\"DesiredCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/AutoScalingGroupDesiredCapacity\";s:11:\"description\";s:30:\"The
  desired size of the group.\";}s:14:\"EnabledMetrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EnabledMetrics\";s:11:\"description\";s:34:\"The
  metrics enabled for the group.\";}s:22:\"HealthCheckGracePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/HealthCheckGracePeriod\";s:11:\"description\";s:136:\"The
  amount of time, in seconds, that Auto Scaling waits before checking the health status
  of an EC2 instance that has come into service.\";}s:15:\"HealthCheckType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen32\";s:11:\"description\";s:101:\"The
  service to use for the health checks. The valid values are <code>EC2</code> and
  <code>ELB</code>.\";}s:9:\"Instances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Instances\";s:11:\"description\";s:44:\"The
  EC2 instances associated with the group.\";}s:23:\"LaunchConfigurationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:48:\"The
  name of the associated launch configuration.\";}s:14:\"LaunchTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/LaunchTemplateSpecification\";s:11:\"description\";s:34:\"The
  launch template for the group.\";}s:17:\"LoadBalancerNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LoadBalancerNames\";s:11:\"description\";s:53:\"One
  or more load balancers associated with the group.\";}s:7:\"MaxSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AutoScalingGroupMaxSize\";s:11:\"description\";s:30:\"The
  maximum size of the group.\";}s:7:\"MinSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AutoScalingGroupMinSize\";s:11:\"description\";s:30:\"The
  minimum size of the group.\";}s:32:\"NewInstancesProtectedFromScaleIn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InstanceProtected\";s:11:\"description\";s:106:\"Indicates
  whether newly launched instances are protected from termination by Auto Scaling
  when scaling in.\";}s:14:\"PlacementGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:265:\"The
  name of the placement group into which you'll launch your instances, if any. For
  more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement
  Groups</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}s:20:\"ServiceLinkedRoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:133:\"The
  Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group
  uses to call other AWS services on your behalf.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:81:\"The
  current state of the group when <a>DeleteAutoScalingGroup</a> is in progress.\";}s:18:\"SuspendedProcesses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SuspendedProcesses\";s:11:\"description\";s:50:\"The
  suspended processes associated with the group.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TagDescriptionList\";s:11:\"description\";s:23:\"The
  tags for the group.\";}s:15:\"TargetGroupARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TargetGroupARNs\";s:11:\"description\";s:76:\"The
  Amazon Resource Names (ARN) of the target groups for your load balancer.\";}s:19:\"TerminationPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TerminationPolicies\";s:11:\"description\";s:39:\"The
  termination policies for the group.\";}s:17:\"VPCZoneIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/XmlStringMaxLen2047\";s:11:\"description\";s:258:\"<p>One
  or more subnet IDs, if applicable, separated by commas.</p> <p>If you specify <code>VPCZoneIdentifier</code>
  and <code>AvailabilityZones</code>, ensure that the Availability Zones of the subnets
  match the values for <code>AvailabilityZones</code>.</p>\";}}s:8:\"required\";a:8:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:7:\"MinSize\";i:2;s:7:\"MaxSize\";i:3;s:15:\"DesiredCapacity\";i:4;s:15:\"DefaultCooldown\";i:5;s:17:\"AvailabilityZones\";i:6;s:15:\"HealthCheckType\";i:7;s:11:\"CreatedTime\";}s:4:\"type\";s:6:\"object\";}s:31:\"AutoScalingGroupDesiredCapacity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"AutoScalingGroupMaxSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"AutoScalingGroupMinSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"AutoScalingGroupNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";}s:4:\"type\";s:5:\"array\";}s:25:\"AutoScalingGroupNamesType\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:21:\"AutoScalingGroupNames\";a:1:{i:0;s:21:\"my-auto-scaling-group\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"AutoScalingGroupNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AutoScalingGroupNames\";s:11:\"description\";s:104:\"The
  names of the Auto Scaling groups. If you omit this parameter, all Auto Scaling groups
  are described.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:107:\"The
  maximum number of items to return with this call. The default value is 50 and the
  maximum value is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AutoScalingGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AutoScalingGroup\";}s:4:\"type\";s:5:\"array\";}s:21:\"AutoScalingGroupsType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:17:\"AutoScalingGroups\";a:1:{i:0;O:8:\"stdClass\":19:{s:19:\"AutoScalingGroupARN\";s:139:\"arn:aws:autoscaling:us-west-2:123456789012:autoScalingGroup:930d940e-891e-4781-a11a-7b0acd480f03:autoScalingGroupName/my-auto-scaling-group\";s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:17:\"AvailabilityZones\";a:1:{i:0;s:10:\"us-west-2c\";}s:11:\"CreatedTime\";s:24:\"2013-08-19T20:53:25.584Z\";s:15:\"DefaultCooldown\";i:300;s:15:\"DesiredCapacity\";i:1;s:14:\"EnabledMetrics\";a:0:{}s:22:\"HealthCheckGracePeriod\";i:300;s:15:\"HealthCheckType\";s:3:\"EC2\";s:9:\"Instances\";a:1:{i:0;O:8:\"stdClass\":6:{s:16:\"AvailabilityZone\";s:10:\"us-west-2c\";s:12:\"HealthStatus\";s:7:\"Healthy\";s:10:\"InstanceId\";s:10:\"i-4ba0837f\";s:23:\"LaunchConfigurationName\";s:16:\"my-launch-config\";s:14:\"LifecycleState\";s:9:\"InService\";s:20:\"ProtectedFromScaleIn\";b:0;}}s:23:\"LaunchConfigurationName\";s:16:\"my-launch-config\";s:17:\"LoadBalancerNames\";a:0:{}s:7:\"MaxSize\";i:1;s:7:\"MinSize\";i:0;s:32:\"NewInstancesProtectedFromScaleIn\";b:0;s:18:\"SuspendedProcesses\";a:0:{}s:4:\"Tags\";a:0:{}s:19:\"TerminationPolicies\";a:1:{i:0;s:7:\"Default\";}s:17:\"VPCZoneIdentifier\";s:15:\"subnet-12345678\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"AutoScalingGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AutoScalingGroups\";s:11:\"description\";s:11:\"The
  groups.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:120:\"The
  token to use when requesting the next set of items. If there are no additional items
  to return, the string is empty.\";}}s:8:\"required\";a:1:{i:0;s:17:\"AutoScalingGroups\";}s:4:\"type\";s:6:\"object\";}s:26:\"AutoScalingInstanceDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Describes
  an EC2 instance associated with an Auto Scaling group.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:52:\"The
  name of the Auto Scaling group for the instance.\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:39:\"The
  Availability Zone for the instance.\";}s:12:\"HealthStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen32\";s:11:\"description\";s:223:\"The
  last reported health status of this instance. \"Healthy\" means that the instance
  is healthy and should remain in service. \"Unhealthy\" means that the instance is
  unhealthy and Auto Scaling should terminate and replace it.\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen19\";s:11:\"description\";s:23:\"The
  ID of the instance.\";}s:23:\"LaunchConfigurationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:137:\"The
  launch configuration used to launch the instance. This value is not available if
  you attached the instance to the Auto Scaling group.\";}s:14:\"LaunchTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/LaunchTemplateSpecification\";s:11:\"description\";s:37:\"The
  launch template for the instance.\";}s:14:\"LifecycleState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen32\";s:11:\"description\";s:226:\"The
  lifecycle state for the instance. For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html\">Auto
  Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.\";}s:20:\"ProtectedFromScaleIn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InstanceProtected\";s:11:\"description\";s:93:\"Indicates
  whether the instance is protected from termination by Auto Scaling when scaling
  in.\";}}s:8:\"required\";a:6:{i:0;s:10:\"InstanceId\";i:1;s:20:\"AutoScalingGroupName\";i:2;s:16:\"AvailabilityZone\";i:3;s:14:\"LifecycleState\";i:4;s:12:\"HealthStatus\";i:5;s:20:\"ProtectedFromScaleIn\";}s:4:\"type\";s:6:\"object\";}s:20:\"AutoScalingInstances\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AutoScalingInstanceDetails\";}s:4:\"type\";s:5:\"array\";}s:24:\"AutoScalingInstancesType\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"AutoScalingInstances\";a:1:{i:0;O:8:\"stdClass\":7:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:16:\"AvailabilityZone\";s:10:\"us-west-2c\";s:12:\"HealthStatus\";s:7:\"HEALTHY\";s:10:\"InstanceId\";s:10:\"i-4ba0837f\";s:23:\"LaunchConfigurationName\";s:16:\"my-launch-config\";s:14:\"LifecycleState\";s:9:\"InService\";s:20:\"ProtectedFromScaleIn\";b:0;}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AutoScalingInstances\";s:11:\"description\";s:14:\"The
  instances.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:120:\"The
  token to use when requesting the next set of items. If there are no additional items
  to return, the string is empty.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"AutoScalingNotificationTypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";}s:4:\"type\";s:5:\"array\";}s:17:\"AvailabilityZones\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:33:\"BlockDeviceEbsDeleteOnTermination\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"BlockDeviceEbsEncrypted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"BlockDeviceEbsIops\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:20000;s:7:\"minimum\";i:100;s:4:\"type\";s:7:\"integer\";}s:24:\"BlockDeviceEbsVolumeSize\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:16384;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:24:\"BlockDeviceEbsVolumeType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"BlockDeviceMapping\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Describes
  a block device mapping.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"DeviceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:102:\"The
  device name exposed to the EC2 instance (for example, <code>/dev/sdh</code> or <code>xvdh</code>).\";}s:3:\"Ebs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Ebs\";s:11:\"description\";s:44:\"The
  information about the Amazon EBS volume.\";}s:8:\"NoDevice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NoDevice\";s:11:\"description\";s:220:\"<p>Suppresses
  a device mapping.</p> <p>If this parameter is true for the root device, the instance
  might fail the EC2 health check. Auto Scaling launches a replacement instance if
  the instance fails the health check.</p>\";}s:11:\"VirtualName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:70:\"The
  name of the virtual device (for example, <code>ephemeral0</code>).\";}}s:8:\"required\";a:1:{i:0;s:10:\"DeviceName\";}s:4:\"type\";s:6:\"object\";}s:19:\"BlockDeviceMappings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BlockDeviceMapping\";}s:4:\"type\";s:5:\"array\";}s:28:\"ClassicLinkVPCSecurityGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";}s:4:\"type\";s:5:\"array\";}s:29:\"CompleteLifecycleActionAnswer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"CompleteLifecycleActionType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:21:\"LifecycleActionResult\";s:8:\"CONTINUE\";s:20:\"LifecycleActionToken\";s:36:\"bcd2f1b8-9a78-44d3-8a7a-4dd07d7cf635\";s:17:\"LifecycleHookName\";s:17:\"my-lifecycle-hook\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen19\";s:11:\"description\";s:23:\"The
  ID of the instance.\";}s:21:\"LifecycleActionResult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LifecycleActionResult\";s:11:\"description\";s:109:\"The
  action for the group to take. This parameter can be either <code>CONTINUE</code>
  or <code>ABANDON</code>.\";}s:20:\"LifecycleActionToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LifecycleActionToken\";s:11:\"description\";s:219:\"A
  universally unique identifier (UUID) that identifies a specific lifecycle action
  associated with an instance. Auto Scaling sends this token to the notification target
  you specified when you created the lifecycle hook.\";}s:17:\"LifecycleHookName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AsciiStringMaxLen255\";s:11:\"description\";s:31:\"The
  name of the lifecycle hook.\";}}s:8:\"required\";a:3:{i:0;s:17:\"LifecycleHookName\";i:1;s:20:\"AutoScalingGroupName\";i:2;s:21:\"LifecycleActionResult\";}s:4:\"type\";s:6:\"object\";}s:8:\"Cooldown\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"CreateAutoScalingGroupType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":8:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:22:\"HealthCheckGracePeriod\";i:120;s:15:\"HealthCheckType\";s:3:\"ELB\";s:23:\"LaunchConfigurationName\";s:16:\"my-launch-config\";s:7:\"MaxSize\";i:3;s:7:\"MinSize\";i:1;s:15:\"TargetGroupARNs\";a:1:{i:0;s:91:\"arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067\";}s:17:\"VPCZoneIdentifier\";s:32:\"subnet-4176792c,
  subnet-65ea5f08\";}s:10:\"properties\";O:8:\"stdClass\":20:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:98:\"The
  name of the Auto Scaling group. This name must be unique within the scope of your
  AWS account.\";}s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AvailabilityZones\";s:11:\"description\";s:108:\"One
  or more Availability Zones for the group. This parameter is optional if you specify
  one or more subnets.\";}s:15:\"DefaultCooldown\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Cooldown\";s:11:\"description\";s:315:\"<p>The
  amount of time, in seconds, after a scaling activity completes before another scaling
  activity can start. The default is 300.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/Cooldown.html\">Auto
  Scaling Cooldowns</a> in the <i>Auto Scaling User Guide</i>.</p>\";}s:15:\"DesiredCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/AutoScalingGroupDesiredCapacity\";s:11:\"description\";s:284:\"The
  number of EC2 instances that should be running in the group. This number must be
  greater than or equal to the minimum size of the group and less than or equal to
  the maximum size of the group. If you do not specify a desired capacity, the default
  is the minimum size of the group.\";}s:22:\"HealthCheckGracePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/HealthCheckGracePeriod\";s:11:\"description\";s:494:\"<p>The
  amount of time, in seconds, that Auto Scaling waits before checking the health status
  of an EC2 instance that has come into service. During this time, any health check
  failures for the instance are ignored. The default is 0.</p> <p>This parameter is
  required if you are adding an <code>ELB</code> health check.</p> <p>For more information,
  see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/healthcheck.html\">Health
  Checks</a> in the <i>Auto Scaling User Guide</i>.</p>\";}s:15:\"HealthCheckType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen32\";s:11:\"description\";s:385:\"<p>The
  service to use for the health checks. The valid values are <code>EC2</code> and
  <code>ELB</code>.</p> <p>By default, health checks use Amazon EC2 instance status
  checks to determine the health of an instance. For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/healthcheck.html\">Health
  Checks</a> in the <i>Auto Scaling User Guide</i>.</p>\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen19\";s:11:\"description\";s:661:\"<p>The
  ID of the instance used to create a launch configuration for the group. You must
  specify one of the following: an EC2 instance, a launch configuration, or a launch
  template.</p> <p>When you specify an ID of an instance, Auto Scaling creates a new
  launch configuration and associates it with the group. This launch configuration
  derives its attributes from the specified instance, with the exception of the block
  device mapping.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/create-asg-from-instance.html\">Create
  an Auto Scaling Group Using an EC2 Instance</a> in the <i>Auto Scaling User Guide</i>.</p>\";}s:23:\"LaunchConfigurationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:139:\"The
  name of the launch configuration. You must specify one of the following: a launch
  configuration, a launch template, or an EC2 instance.\";}s:14:\"LaunchTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/LaunchTemplateSpecification\";s:11:\"description\";s:149:\"The
  launch template to use to launch instances. You must specify one of the following:
  a launch template, a launch configuration, or an EC2 instance.\";}s:30:\"LifecycleHookSpecificationList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/LifecycleHookSpecifications\";s:11:\"description\";s:28:\"One
  or more lifecycle hooks.\";}s:17:\"LoadBalancerNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LoadBalancerNames\";s:11:\"description\";s:346:\"<p>One
  or more Classic Load Balancers. To specify an Application Load Balancer, use <code>TargetGroupARNs</code>
  instead.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/create-asg-from-instance.html\">Using
  a Load Balancer With an Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>\";}s:7:\"MaxSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AutoScalingGroupMaxSize\";s:11:\"description\";s:30:\"The
  maximum size of the group.\";}s:7:\"MinSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AutoScalingGroupMinSize\";s:11:\"description\";s:30:\"The
  minimum size of the group.\";}s:32:\"NewInstancesProtectedFromScaleIn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InstanceProtected\";s:11:\"description\";s:106:\"Indicates
  whether newly launched instances are protected from termination by Auto Scaling
  when scaling in.\";}s:14:\"PlacementGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:265:\"The
  name of the placement group into which you'll launch your instances, if any. For
  more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement
  Groups</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}s:20:\"ServiceLinkedRoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:260:\"The
  Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group
  uses to call other AWS services on your behalf. By default, Auto Scaling uses a
  service-linked role named AWSServiceRoleForAutoScaling, which it creates if it does
  not exist.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:233:\"<p>One
  or more tags.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/autoscaling-tagging.html\">Tagging
  Auto Scaling Groups and Instances</a> in the <i>Auto Scaling User Guide</i>.</p>\";}s:15:\"TargetGroupARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TargetGroupARNs\";s:11:\"description\";s:53:\"The
  Amazon Resource Names (ARN) of the target groups.\";}s:19:\"TerminationPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TerminationPolicies\";s:11:\"description\";s:383:\"<p>One
  or more termination policies used to select the instance to terminate. These policies
  are executed in the order that they are listed.</p> <p>For more information, see
  <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-termination.html\">Controlling
  Which Instances Auto Scaling Terminates During Scale In</a> in the <i>Auto Scaling
  User Guide</i>.</p>\";}s:17:\"VPCZoneIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/XmlStringMaxLen2047\";s:11:\"description\";s:442:\"<p>A
  comma-separated list of subnet identifiers for your virtual private cloud (VPC).</p>
  <p>If you specify subnets and Availability Zones with this call, ensure that the
  subnets' Availability Zones match the Availability Zones specified.</p> <p>For more
  information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/asg-in-vpc.html\">Launching
  Auto Scaling Instances in a VPC</a> in the <i>Auto Scaling User Guide</i>.</p>\";}}s:8:\"required\";a:3:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:7:\"MinSize\";i:2;s:7:\"MaxSize\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateLaunchConfigurationType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:18:\"IamInstanceProfile\";s:11:\"my-iam-role\";s:7:\"ImageId\";s:12:\"ami-12345678\";s:12:\"InstanceType\";s:9:\"m3.medium\";s:23:\"LaunchConfigurationName\";s:16:\"my-launch-config\";s:14:\"SecurityGroups\";a:1:{i:0;s:11:\"sg-eb2af88e\";}}s:10:\"properties\";O:8:\"stdClass\":18:{s:24:\"AssociatePublicIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AssociatePublicIpAddress\";s:11:\"description\";s:661:\"<p>Used
  for groups that launch instances into a virtual private cloud (VPC). Specifies whether
  to assign a public IP address to each instance. For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/asg-in-vpc.html\">Launching
  Auto Scaling Instances in a VPC</a> in the <i>Auto Scaling User Guide</i>.</p> <p>If
  you specify this parameter, be sure to specify at least one subnet when you create
  your group.</p> <p>Default: If the instance is launched into a default subnet, the
  default is to assign a public IP address. If the instance is launched into a nondefault
  subnet, the default is not to assign a public IP address.</p>\";}s:19:\"BlockDeviceMappings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BlockDeviceMappings\";s:11:\"description\";s:282:\"One
  or more mappings that specify how block devices are exposed to the instance. For
  more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html\">Block
  Device Mapping</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}s:16:\"ClassicLinkVPCId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:330:\"The
  ID of a ClassicLink-enabled VPC to link your EC2-Classic instances to. This parameter
  is supported only if you are launching EC2-Classic instances. For more information,
  see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a>
  in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}s:28:\"ClassicLinkVPCSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ClassicLinkVPCSecurityGroups\";s:11:\"description\";s:361:\"The
  IDs of one or more security groups for the specified ClassicLink-enabled VPC. This
  parameter is required if you specify a ClassicLink-enabled VPC, and is not supported
  otherwise. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a>
  in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}s:12:\"EbsOptimized\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EbsOptimized\";s:11:\"description\";s:539:\"Indicates
  whether the instance is optimized for Amazon EBS I/O. By default, the instance is
  not optimized for EBS I/O. The optimization provides dedicated throughput to Amazon
  EBS and an optimized configuration stack to provide optimal I/O performance. This
  optimization is not available with all instance types. Additional usage charges
  apply. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html\">Amazon
  EBS-Optimized Instances</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}s:18:\"IamInstanceProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/XmlStringMaxLen1600\";s:11:\"description\";s:573:\"<p>The
  name or the Amazon Resource Name (ARN) of the instance profile associated with the
  IAM role for the instance.</p> <p>EC2 instances launched with an IAM role will automatically
  have AWS security credentials available. You can use IAM roles with Auto Scaling
  to automatically enable applications running on your EC2 instances to securely access
  other AWS resources. For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/us-iam-role.html\">Launch
  Auto Scaling Instances with an IAM Role</a> in the <i>Auto Scaling User Guide</i>.</p>\";}s:7:\"ImageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:365:\"<p>The
  ID of the Amazon Machine Image (AMI) to use to launch your EC2 instances.</p> <p>If
  you do not specify <code>InstanceId</code>, you must specify <code>ImageId</code>.</p>
  <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/finding-an-ami.html\">Finding
  an AMI</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen19\";s:11:\"description\";s:693:\"<p>The
  ID of the instance to use to create the launch configuration. The new launch configuration
  derives attributes from the instance, with the exception of the block device mapping.</p>
  <p>If you do not specify <code>InstanceId</code>, you must specify both <code>ImageId</code>
  and <code>InstanceType</code>.</p> <p>To create a launch configuration with a block
  device mapping or override any other instance attributes, specify them as part of
  the same request.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/create-lc-with-instanceID.html\">Create
  a Launch Configuration Using an EC2 Instance</a> in the <i>Auto Scaling User Guide</i>.</p>\";}s:18:\"InstanceMonitoring\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceMonitoring\";s:11:\"description\";s:154:\"Enables
  detailed monitoring (<code>true</code>) or basic monitoring (<code>false</code>)
  for the Auto Scaling instances. The default is <code>true</code>.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:391:\"<p>The
  instance type of the EC2 instance.</p> <p>If you do not specify <code>InstanceId</code>,
  you must specify <code>InstanceType</code>.</p> <p>For information about available
  instance types, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#AvailableInstanceTypes\">Available
  Instance Types</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> </p>\";}s:8:\"KernelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:45:\"The
  ID of the kernel associated with the AMI.\";}s:7:\"KeyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:211:\"The
  name of the key pair. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html\">Amazon
  EC2 Key Pairs</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}s:23:\"LaunchConfigurationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:100:\"The
  name of the launch configuration. This name must be unique within the scope of your
  AWS account.\";}s:16:\"PlacementTenancy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen64\";s:11:\"description\";s:744:\"<p>The
  tenancy of the instance. An instance with a tenancy of <code>dedicated</code> runs
  on single-tenant hardware and can only be launched into a VPC.</p> <p>You must set
  the value of this parameter to <code>dedicated</code> if want to launch Dedicated
  Instances into a shared tenancy VPC (VPC with instance placement tenancy attribute
  set to <code>default</code>).</p> <p>If you specify this parameter, be sure to specify
  at least one subnet when you create your group.</p> <p>For more information, see
  <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/asg-in-vpc.html\">Launching
  Auto Scaling Instances in a VPC</a> in the <i>Auto Scaling User Guide</i>.</p> <p>Valid
  values: <code>default</code> | <code>dedicated</code> </p>\";}s:9:\"RamdiskId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:47:\"The
  ID of the RAM disk associated with the AMI.\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecurityGroups\";s:11:\"description\";s:717:\"<p>One
  or more security groups with which to associate the instances.</p> <p>If your instances
  are launched in EC2-Classic, you can either specify security group names or the
  security group IDs. For more information about security groups for EC2-Classic,
  see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html\">Amazon
  EC2 Security Groups</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>
  <p>If your instances are launched into a VPC, specify security group IDs. For more
  information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html\">Security
  Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>\";}s:9:\"SpotPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SpotPrice\";s:11:\"description\";s:393:\"The
  maximum hourly price to be paid for any Spot Instance launched to fulfill the request.
  Spot Instances are launched when the price you specify exceeds the current Spot
  market price. For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/US-SpotInstances.html\">Launching
  Spot Instances in Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.\";}s:8:\"UserData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringUserData\";s:11:\"description\";s:267:\"The
  user data to make available to the launched EC2 instances. For more information,
  see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html\">Instance
  Metadata and User Data</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}}s:8:\"required\";a:1:{i:0;s:23:\"LaunchConfigurationName\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateOrUpdateTagsType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"Tags\";a:2:{i:0;O:8:\"stdClass\":5:{s:3:\"Key\";s:4:\"Role\";s:17:\"PropagateAtLaunch\";b:1;s:10:\"ResourceId\";s:21:\"my-auto-scaling-group\";s:12:\"ResourceType\";s:18:\"auto-scaling-group\";s:5:\"Value\";s:9:\"WebServer\";}i:1;O:8:\"stdClass\":5:{s:3:\"Key\";s:4:\"Dept\";s:17:\"PropagateAtLaunch\";b:1;s:10:\"ResourceId\";s:21:\"my-auto-scaling-group\";s:12:\"ResourceType\";s:18:\"auto-scaling-group\";s:5:\"Value\";s:8:\"Research\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:17:\"One
  or more tags.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:29:\"CustomizedMetricSpecification\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configures
  a customized metric for a target tracking policy.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MetricDimensions\";s:11:\"description\";s:29:\"The
  dimensions of the metric.\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:23:\"The
  name of the metric.\";}s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MetricNamespace\";s:11:\"description\";s:28:\"The
  namespace of the metric.\";}s:9:\"Statistic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MetricStatistic\";s:11:\"description\";s:28:\"The
  statistic of the metric.\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricUnit\";s:11:\"description\";s:23:\"The
  unit of the metric.\";}}s:8:\"required\";a:3:{i:0;s:10:\"MetricName\";i:1;s:9:\"Namespace\";i:2;s:9:\"Statistic\";}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteAutoScalingGroupType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:11:\"ForceDelete\";b:1;}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:11:\"ForceDelete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ForceDelete\";s:11:\"description\";s:221:\"Specifies
  that the group will be deleted along with all instances associated with the group,
  without waiting for all instances to be terminated. This parameter also deletes
  any lifecycle actions associated with the group.\";}}s:8:\"required\";a:1:{i:0;s:20:\"AutoScalingGroupName\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteLifecycleHookAnswer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteLifecycleHookType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:17:\"LifecycleHookName\";s:17:\"my-lifecycle-hook\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:17:\"LifecycleHookName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AsciiStringMaxLen255\";s:11:\"description\";s:31:\"The
  name of the lifecycle hook.\";}}s:8:\"required\";a:2:{i:0;s:17:\"LifecycleHookName\";i:1;s:20:\"AutoScalingGroupName\";}s:4:\"type\";s:6:\"object\";}s:35:\"DeleteNotificationConfigurationType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:8:\"TopicARN\";s:47:\"arn:aws:sns:us-west-2:123456789012:my-sns-topic\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:8:\"TopicARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:85:\"The
  Amazon Resource Name (ARN) of the Amazon Simple Notification Service (SNS) topic.\";}}s:8:\"required\";a:2:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:8:\"TopicARN\";}s:4:\"type\";s:6:\"object\";}s:16:\"DeletePolicyType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:10:\"PolicyName\";s:7:\"ScaleIn\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:10:\"PolicyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:53:\"The
  name or Amazon Resource Name (ARN) of the policy.\";}}s:8:\"required\";a:1:{i:0;s:10:\"PolicyName\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteScheduledActionType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:19:\"ScheduledActionName\";s:19:\"my-scheduled-action\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:19:\"ScheduledActionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:33:\"The
  name of the action to delete.\";}}s:8:\"required\";a:2:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:19:\"ScheduledActionName\";}s:4:\"type\";s:6:\"object\";}s:14:\"DeleteTagsType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"Tags\";a:1:{i:0;O:8:\"stdClass\":4:{s:3:\"Key\";s:4:\"Dept\";s:10:\"ResourceId\";s:21:\"my-auto-scaling-group\";s:12:\"ResourceType\";s:18:\"auto-scaling-group\";s:5:\"Value\";s:8:\"Research\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:17:\"One
  or more tags.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeAccountLimitsAnswer\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":4:{s:28:\"MaxNumberOfAutoScalingGroups\";i:20;s:31:\"MaxNumberOfLaunchConfigurations\";i:100;s:25:\"NumberOfAutoScalingGroups\";i:3;s:28:\"NumberOfLaunchConfigurations\";i:5;}s:10:\"properties\";O:8:\"stdClass\":4:{s:28:\"MaxNumberOfAutoScalingGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/MaxNumberOfAutoScalingGroups\";s:11:\"description\";s:94:\"The
  maximum number of groups allowed for your AWS account. The default limit is 20 per
  region.\";}s:31:\"MaxNumberOfLaunchConfigurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/MaxNumberOfLaunchConfigurations\";s:11:\"description\";s:110:\"The
  maximum number of launch configurations allowed for your AWS account. The default
  limit is 100 per region.\";}s:25:\"NumberOfAutoScalingGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/NumberOfAutoScalingGroups\";s:11:\"description\";s:50:\"The
  current number of groups for your AWS account.\";}s:28:\"NumberOfLaunchConfigurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/NumberOfLaunchConfigurations\";s:11:\"description\";s:65:\"The
  current number of launch configurations for your AWS account.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeAdjustmentTypesAnswer\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:15:\"AdjustmentTypes\";a:3:{i:0;O:8:\"stdClass\":1:{s:14:\"AdjustmentType\";s:16:\"ChangeInCapacity\";}i:1;O:8:\"stdClass\":1:{s:14:\"AdjustmentType\";s:12:\"ExactCapcity\";}i:2;O:8:\"stdClass\":1:{s:14:\"AdjustmentType\";s:23:\"PercentChangeInCapacity\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"AdjustmentTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AdjustmentTypes\";s:11:\"description\";s:28:\"The
  policy adjustment types.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeAutoScalingInstancesType\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"InstanceIds\";a:1:{i:0;s:10:\"i-4ba0837f\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"InstanceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/InstanceIds\";s:11:\"description\";s:190:\"The
  instances to describe; up to 50 instance IDs. If you omit this parameter, all Auto
  Scaling instances are described. If you specify an ID that does not exist, it is
  ignored with no error.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:106:\"The
  maximum number of items to return with this call. The default value is 50 and the
  maximum value is 50.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:4:\"type\";s:6:\"object\";}s:42:\"DescribeAutoScalingNotificationTypesAnswer\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:28:\"AutoScalingNotificationTypes\";a:5:{i:0;s:31:\"autoscaling:EC2_INSTANCE_LAUNCH\";i:1;s:37:\"autoscaling:EC2_INSTANCE_LAUNCH_ERROR\";i:2;s:34:\"autoscaling:EC2_INSTANCE_TERMINATE\";i:3;s:40:\"autoscaling:EC2_INSTANCE_TERMINATE_ERROR\";i:4;s:29:\"autoscaling:TEST_NOTIFICATION\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"AutoScalingNotificationTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AutoScalingNotificationTypes\";s:11:\"description\";s:23:\"The
  notification types.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeLifecycleHookTypesAnswer\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:18:\"LifecycleHookTypes\";a:2:{i:0;s:34:\"autoscaling:EC2_INSTANCE_LAUNCHING\";i:1;s:36:\"autoscaling:EC2_INSTANCE_TERMINATING\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"LifecycleHookTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AutoScalingNotificationTypes\";s:11:\"description\";s:25:\"The
  lifecycle hook types.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeLifecycleHooksAnswer\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"LifecycleHooks\";a:1:{i:0;O:8:\"stdClass\":8:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:13:\"DefaultResult\";s:7:\"ABANDON\";s:13:\"GlobalTimeout\";i:172800;s:16:\"HeartbeatTimeout\";i:3600;s:17:\"LifecycleHookName\";s:17:\"my-lifecycle-hook\";s:19:\"LifecycleTransition\";s:34:\"autoscaling:EC2_INSTANCE_LAUNCHING\";s:21:\"NotificationTargetARN\";s:47:\"arn:aws:sns:us-west-2:123456789012:my-sns-topic\";s:7:\"RoleARN\";s:51:\"arn:aws:iam::123456789012:role/my-auto-scaling-role\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"LifecycleHooks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/LifecycleHooks\";s:11:\"description\";s:44:\"The
  lifecycle hooks for the specified group.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeLifecycleHooksType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:18:\"LifecycleHookNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LifecycleHookNames\";s:11:\"description\";s:104:\"The
  names of one or more lifecycle hooks. If you omit this parameter, all lifecycle
  hooks are described.\";}}s:8:\"required\";a:1:{i:0;s:20:\"AutoScalingGroupName\";}s:4:\"type\";s:6:\"object\";}s:39:\"DescribeLoadBalancerTargetGroupsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:108:\"The
  maximum number of items to return with this call. The default value is 100 and the
  maximum value is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:8:\"required\";a:1:{i:0;s:20:\"AutoScalingGroupName\";}s:4:\"type\";s:6:\"object\";}s:40:\"DescribeLoadBalancerTargetGroupsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:24:\"LoadBalancerTargetGroups\";a:1:{i:0;O:8:\"stdClass\":2:{s:26:\"LoadBalancerTargetGroupARN\";s:91:\"arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067\";s:5:\"State\";s:5:\"Added\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"LoadBalancerTargetGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/LoadBalancerTargetGroupStates\";s:11:\"description\";s:36:\"Information
  about the target groups.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:120:\"The
  token to use when requesting the next set of items. If there are no additional items
  to return, the string is empty.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeLoadBalancersRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:108:\"The
  maximum number of items to return with this call. The default value is 100 and the
  maximum value is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:8:\"required\";a:1:{i:0;s:20:\"AutoScalingGroupName\";}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeLoadBalancersResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"LoadBalancers\";a:1:{i:0;O:8:\"stdClass\":2:{s:16:\"LoadBalancerName\";s:16:\"my-load-balancer\";s:5:\"State\";s:5:\"Added\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"LoadBalancers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LoadBalancerStates\";s:11:\"description\";s:19:\"The
  load balancers.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:120:\"The
  token to use when requesting the next set of items. If there are no additional items
  to return, the string is empty.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeMetricCollectionTypesAnswer\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"Granularities\";a:1:{i:0;O:8:\"stdClass\":1:{s:11:\"Granularity\";s:7:\"1Minute\";}}s:7:\"Metrics\";a:8:{i:0;O:8:\"stdClass\":1:{s:6:\"Metric\";s:12:\"GroupMinSize\";}i:1;O:8:\"stdClass\":1:{s:6:\"Metric\";s:12:\"GroupMaxSize\";}i:2;O:8:\"stdClass\":1:{s:6:\"Metric\";s:20:\"GroupDesiredCapacity\";}i:3;O:8:\"stdClass\":1:{s:6:\"Metric\";s:23:\"GroupInServiceInstances\";}i:4;O:8:\"stdClass\":1:{s:6:\"Metric\";s:21:\"GroupPendingInstances\";}i:5;O:8:\"stdClass\":1:{s:6:\"Metric\";s:25:\"GroupTerminatingInstances\";}i:6;O:8:\"stdClass\":1:{s:6:\"Metric\";s:21:\"GroupStandbyInstances\";}i:7;O:8:\"stdClass\":1:{s:6:\"Metric\";s:19:\"GroupTotalInstances\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"Granularities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/MetricGranularityTypes\";s:11:\"description\";s:34:\"The
  granularities for the metrics.\";}s:7:\"Metrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/MetricCollectionTypes\";s:11:\"description\";s:20:\"One
  or more metrics.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"DescribeNotificationConfigurationsAnswer\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:26:\"NotificationConfigurations\";a:2:{i:0;O:8:\"stdClass\":3:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:16:\"NotificationType\";s:29:\"autoscaling:TEST_NOTIFICATION\";s:8:\"TopicARN\";s:49:\"arn:aws:sns:us-west-2:123456789012:my-sns-topic-2\";}i:1;O:8:\"stdClass\":3:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:16:\"NotificationType\";s:29:\"autoscaling:TEST_NOTIFICATION\";s:8:\"TopicARN\";s:47:\"arn:aws:sns:us-west-2:123456789012:my-sns-topic\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:120:\"The
  token to use when requesting the next set of items. If there are no additional items
  to return, the string is empty.\";}s:26:\"NotificationConfigurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/NotificationConfigurations\";s:11:\"description\";s:32:\"The
  notification configurations.\";}}s:8:\"required\";a:1:{i:0;s:26:\"NotificationConfigurations\";}s:4:\"type\";s:6:\"object\";}s:38:\"DescribeNotificationConfigurationsType\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:21:\"AutoScalingGroupNames\";a:1:{i:0;s:21:\"my-auto-scaling-group\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"AutoScalingGroupNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AutoScalingGroupNames\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:107:\"The
  maximum number of items to return with this call. The default value is 50 and the
  maximum value is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribePoliciesType\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:112:\"The
  maximum number of items to be returned with each call. The default value is 50 and
  the maximum value is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}s:11:\"PolicyNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PolicyNames\";s:11:\"description\";s:261:\"The
  names of one or more policies. If you omit this parameter, all policies are described.
  If an group name is provided, the results are limited to that group. This list is
  limited to 50 items. If you specify an unknown policy name, it is ignored with no
  error.\";}s:11:\"PolicyTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PolicyTypes\";s:11:\"description\";s:99:\"One
  or more policy types. Valid values are <code>SimpleScaling</code> and <code>StepScaling</code>.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeScalingActivitiesType\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"ActivityIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ActivityIds\";s:11:\"description\";s:346:\"The
  activity IDs of the desired scaling activities. If you omit this parameter, all
  activities for the past six weeks are described. If you specify an Auto Scaling
  group, the results are limited to that group. The list of requested activities cannot
  contain more than 50 items. If unknown activities are requested, they are ignored
  with no error.\";}s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:108:\"The
  maximum number of items to return with this call. The default value is 100 and the
  maximum value is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeScheduledActionsType\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TimestampType\";s:11:\"description\";s:109:\"The
  latest scheduled start time to return. If scheduled action names are provided, this
  parameter is ignored.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:107:\"The
  maximum number of items to return with this call. The default value is 50 and the
  maximum value is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}s:20:\"ScheduledActionNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ScheduledActionNames\";s:11:\"description\";s:393:\"<p>Describes
  one or more scheduled actions. If you omit this parameter, all scheduled actions
  are described. If you specify an unknown scheduled action, it is ignored with no
  error.</p> <p>You can describe up to a maximum of 50 instances with a single call.
  If there are more items to return, the call returns a token. To get the next set
  of items, repeat the call with the returned token.</p>\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TimestampType\";s:11:\"description\";s:111:\"The
  earliest scheduled start time to return. If scheduled action names are provided,
  this parameter is ignored.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DescribeTagsType\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"Filters\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"Name\";s:18:\"auto-scaling-group\";s:6:\"Values\";a:1:{i:0;s:21:\"my-auto-scaling-group\";}}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Filters\";s:11:\"description\";s:42:\"A
  filter used to scope the tags to return.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:107:\"The
  maximum number of items to return with this call. The default value is 50 and the
  maximum value is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeTerminationPolicyTypesAnswer\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:22:\"TerminationPolicyTypes\";a:5:{i:0;s:25:\"ClosestToNextInstanceHour\";i:1;s:7:\"Default\";i:2;s:14:\"NewestInstance\";i:3;s:14:\"OldestInstance\";i:4;s:25:\"OldestLaunchConfiguration\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"TerminationPolicyTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TerminationPolicies\";s:11:\"description\";s:216:\"The
  termination policies supported by Auto Scaling (<code>OldestInstance</code>, <code>OldestLaunchConfiguration</code>,
  <code>NewestInstance</code>, <code>ClosestToNextInstanceHour</code>, and <code>Default</code>).\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DetachInstancesAnswer\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"Activities\";a:1:{i:0;O:8:\"stdClass\":8:{s:10:\"ActivityId\";s:36:\"5091cb52-547a-47ce-a236-c9ccbc2cb2c9\";s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:5:\"Cause\";s:123:\"At
  2015-04-12T15:02:16Z instance i-93633f9b was detached in response to a user request,
  shrinking the capacity from 2 to 1.\";s:11:\"Description\";s:34:\"Detaching EC2
  instance: i-93633f9b\";s:7:\"Details\";s:7:\"details\";s:8:\"Progress\";i:50;s:9:\"StartTime\";s:24:\"2015-04-12T15:02:16.179Z\";s:10:\"StatusCode\";s:10:\"InProgress\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Activities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Activities\";s:11:\"description\";s:78:\"The
  activities related to detaching the instances from the Auto Scaling group.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DetachInstancesQuery\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:11:\"InstanceIds\";a:1:{i:0;s:10:\"i-93633f9b\";}s:30:\"ShouldDecrementDesiredCapacity\";b:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:11:\"InstanceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/InstanceIds\";s:11:\"description\";s:61:\"The
  IDs of the instances. You can specify up to 20 instances.\";}s:30:\"ShouldDecrementDesiredCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ShouldDecrementDesiredCapacity\";s:11:\"description\";s:115:\"Indicates
  whether the Auto Scaling group decrements the desired capacity value by the number
  of instances detached.\";}}s:8:\"required\";a:2:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:30:\"ShouldDecrementDesiredCapacity\";}s:4:\"type\";s:6:\"object\";}s:40:\"DetachLoadBalancerTargetGroupsResultType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"DetachLoadBalancerTargetGroupsType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:15:\"TargetGroupARNs\";a:1:{i:0;s:91:\"arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:15:\"TargetGroupARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TargetGroupARNs\";s:11:\"description\";s:93:\"The
  Amazon Resource Names (ARN) of the target groups. You can specify up to 10 target
  groups.\";}}s:8:\"required\";a:2:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:15:\"TargetGroupARNs\";}s:4:\"type\";s:6:\"object\";}s:29:\"DetachLoadBalancersResultType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DetachLoadBalancersType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:17:\"LoadBalancerNames\";a:1:{i:0;s:16:\"my-load-balancer\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:17:\"LoadBalancerNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LoadBalancerNames\";s:11:\"description\";s:73:\"The
  names of the load balancers. You can specify up to 10 load balancers.\";}}s:8:\"required\";a:2:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:17:\"LoadBalancerNames\";}s:4:\"type\";s:6:\"object\";}s:29:\"DisableMetricsCollectionQuery\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:7:\"Metrics\";a:1:{i:0;s:20:\"GroupDesiredCapacity\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:7:\"Metrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Metrics\";s:11:\"description\";s:534:\"<p>One
  or more of the following metrics. If you omit this parameter, all metrics are disabled.</p>
  <ul> <li> <p> <code>GroupMinSize</code> </p> </li> <li> <p> <code>GroupMaxSize</code>
  </p> </li> <li> <p> <code>GroupDesiredCapacity</code> </p> </li> <li> <p> <code>GroupInServiceInstances</code>
  </p> </li> <li> <p> <code>GroupPendingInstances</code> </p> </li> <li> <p> <code>GroupStandbyInstances</code>
  </p> </li> <li> <p> <code>GroupTerminatingInstances</code> </p> </li> <li> <p> <code>GroupTotalInstances</code>
  </p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:20:\"AutoScalingGroupName\";}s:4:\"type\";s:6:\"object\";}s:14:\"DisableScaleIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"Ebs\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Describes
  an Amazon EBS volume.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"DeleteOnTermination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/BlockDeviceEbsDeleteOnTermination\";s:11:\"description\";s:98:\"Indicates
  whether the volume is deleted on instance termination. The default is <code>true</code>.\";}s:9:\"Encrypted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/BlockDeviceEbsEncrypted\";s:11:\"description\";s:531:\"Indicates
  whether the volume should be encrypted. Encrypted EBS volumes must be attached to
  instances that support Amazon EBS encryption. Volumes that are created from encrypted
  snapshots are automatically encrypted. There is no way to create an encrypted volume
  from an unencrypted snapshot or an unencrypted volume from an encrypted snapshot.
  For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html\">Amazon
  EBS Encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}s:4:\"Iops\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BlockDeviceEbsIops\";s:11:\"description\";s:152:\"<p>The
  number of I/O operations per second (IOPS) to provision for the volume.</p> <p>Constraint:
  Required when the volume type is <code>io1</code>.</p>\";}s:10:\"SnapshotId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:23:\"The
  ID of the snapshot.\";}s:10:\"VolumeSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BlockDeviceEbsVolumeSize\";s:11:\"description\";s:447:\"<p>The
  volume size, in GiB. For <code>standard</code> volumes, specify a value from 1 to
  1,024. For <code>io1</code> volumes, specify a value from 4 to 16,384. For <code>gp2</code>
  volumes, specify a value from 1 to 16,384. If you specify a snapshot, the volume
  size must be equal to or larger than the snapshot size.</p> <p>Default: If you create
  a volume from a snapshot and you don't specify a volume size, the default is the
  snapshot size.</p>\";}s:10:\"VolumeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BlockDeviceEbsVolumeType\";s:11:\"description\";s:334:\"<p>The
  volume type. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSVolumeTypes.html\">Amazon
  EBS Volume Types</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>
  <p>Valid values: <code>standard</code> | <code>io1</code> | <code>gp2</code> </p>
  <p>Default: <code>standard</code> </p>\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EbsOptimized\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:28:\"EnableMetricsCollectionQuery\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:11:\"Granularity\";s:7:\"1Minute\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:11:\"Granularity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:103:\"The
  granularity to associate with the metrics to collect. The only valid value is <code>1Minute</code>.\";}s:7:\"Metrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Metrics\";s:11:\"description\";s:533:\"<p>One
  or more of the following metrics. If you omit this parameter, all metrics are enabled.</p>
  <ul> <li> <p> <code>GroupMinSize</code> </p> </li> <li> <p> <code>GroupMaxSize</code>
  </p> </li> <li> <p> <code>GroupDesiredCapacity</code> </p> </li> <li> <p> <code>GroupInServiceInstances</code>
  </p> </li> <li> <p> <code>GroupPendingInstances</code> </p> </li> <li> <p> <code>GroupStandbyInstances</code>
  </p> </li> <li> <p> <code>GroupTerminatingInstances</code> </p> </li> <li> <p> <code>GroupTotalInstances</code>
  </p> </li> </ul>\";}}s:8:\"required\";a:2:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:11:\"Granularity\";}s:4:\"type\";s:6:\"object\";}s:13:\"EnabledMetric\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Describes
  an enabled metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Granularity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:76:\"The
  granularity of the metric. The only valid value is <code>1Minute</code>.\";}s:6:\"Metric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:472:\"<p>One
  of the following metrics:</p> <ul> <li> <p> <code>GroupMinSize</code> </p> </li>
  <li> <p> <code>GroupMaxSize</code> </p> </li> <li> <p> <code>GroupDesiredCapacity</code>
  </p> </li> <li> <p> <code>GroupInServiceInstances</code> </p> </li> <li> <p> <code>GroupPendingInstances</code>
  </p> </li> <li> <p> <code>GroupStandbyInstances</code> </p> </li> <li> <p> <code>GroupTerminatingInstances</code>
  </p> </li> <li> <p> <code>GroupTotalInstances</code> </p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:14:\"EnabledMetrics\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EnabledMetric\";}s:4:\"type\";s:5:\"array\";}s:18:\"EnterStandbyAnswer\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"Activities\";a:1:{i:0;O:8:\"stdClass\":8:{s:10:\"ActivityId\";s:36:\"ffa056b4-6ed3-41ba-ae7c-249dfae6eba1\";s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:5:\"Cause\";s:131:\"At
  2015-04-12T15:10:23Z instance i-93633f9b was moved to standby in response to a user
  request, shrinking the capacity from 2 to 1.\";s:11:\"Description\";s:42:\"Moving
  EC2 instance to Standby: i-93633f9b\";s:7:\"Details\";s:7:\"details\";s:8:\"Progress\";i:50;s:9:\"StartTime\";s:24:\"2015-04-12T15:10:23.640Z\";s:10:\"StatusCode\";s:10:\"InProgress\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Activities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Activities\";s:11:\"description\";s:74:\"The
  activities related to moving instances into <code>Standby</code> mode.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"EnterStandbyQuery\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:11:\"InstanceIds\";a:1:{i:0;s:10:\"i-93633f9b\";}s:30:\"ShouldDecrementDesiredCapacity\";b:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:11:\"InstanceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/InstanceIds\";s:11:\"description\";s:61:\"The
  IDs of the instances. You can specify up to 20 instances.\";}s:30:\"ShouldDecrementDesiredCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ShouldDecrementDesiredCapacity\";s:11:\"description\";s:140:\"Indicates
  whether to decrement the desired capacity of the Auto Scaling group by the number
  of instances moved to <code>Standby</code> mode.\";}}s:8:\"required\";a:2:{i:0;s:20:\"AutoScalingGroupName\";i:1;s:30:\"ShouldDecrementDesiredCapacity\";}s:4:\"type\";s:6:\"object\";}s:23:\"EstimatedInstanceWarmup\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ExecutePolicyType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:13:\"HonorCooldown\";b:1;s:10:\"PolicyName\";s:7:\"ScaleIn\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:15:\"BreachThreshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricScale\";s:11:\"description\";s:152:\"<p>The
  breach threshold for the alarm.</p> <p>This parameter is required if the policy
  type is <code>StepScaling</code> and not supported otherwise.</p>\";}s:13:\"HonorCooldown\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/HonorCooldown\";s:11:\"description\";s:374:\"<p>Indicates
  whether Auto Scaling waits for the cooldown period to complete before executing
  the policy.</p> <p>This parameter is not supported if the policy type is <code>StepScaling</code>.</p>
  <p>For more information, see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/Cooldown.html\">Auto
  Scaling Cooldowns</a> in the <i>Auto Scaling User Guide</i>.</p>\";}s:11:\"MetricValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricScale\";s:11:\"description\";s:583:\"<p>The
  metric value to compare to <code>BreachThreshold</code>. This enables you to execute
  a policy of type <code>StepScaling</code> and determine which step adjustment to
  use. For example, if the breach threshold is 50 and you want to use a step adjustment
  with a lower bound of 0 and an upper bound of 10, you can set the metric value to
  59.</p> <p>If you specify a metric value that doesn't correspond to a step adjustment
  for the policy, the call returns an error.</p> <p>This parameter is required if
  the policy type is <code>StepScaling</code> and not supported otherwise.</p>\";}s:10:\"PolicyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:30:\"The
  name or ARN of the policy.\";}}s:8:\"required\";a:1:{i:0;s:10:\"PolicyName\";}s:4:\"type\";s:6:\"object\";}s:17:\"ExitStandbyAnswer\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"Activities\";a:1:{i:0;O:8:\"stdClass\":8:{s:10:\"ActivityId\";s:36:\"142928e1-a2dc-453a-9b24-b85ad6735928\";s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:5:\"Cause\";s:136:\"At
  2015-04-12T15:14:29Z instance i-93633f9b was moved out of standby in response to
  a user request, increasing the capacity from 1 to 2.\";s:11:\"Description\";s:46:\"Moving
  EC2 instance out of Standby: i-93633f9b\";s:7:\"Details\";s:7:\"details\";s:8:\"Progress\";i:30;s:9:\"StartTime\";s:24:\"2015-04-12T15:14:29.886Z\";s:10:\"StatusCode\";s:12:\"PreInService\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Activities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Activities\";s:11:\"description\";s:76:\"The
  activities related to moving instances out of <code>Standby</code> mode.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ExitStandbyQuery\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";s:21:\"my-auto-scaling-group\";s:11:\"InstanceIds\";a:1:{i:0;s:10:\"i-93633f9b\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the Auto Scaling group.\";}s:11:\"InstanceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/InstanceIds\";s:11:\"description\";s:61:\"The
  IDs of the instances. You can specify up to 20 instances.\";}}s:8:\"required\";a:1:{i:0;s:20:\"AutoScalingGroupName\";}s:4:\"type\";s:6:\"object\";}s:6:\"Filter\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Describes
  a filter.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:162:\"The
  name of the filter. The valid values are: <code>\"auto-scaling-group\"</code>, <code>\"key\"</code>,
  <code>\"value\"</code>, and <code>\"propagate-at-launch\"</code>.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Values\";s:11:\"description\";s:24:\"The
  value of the filter.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Filters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}s:4:\"type\";s:5:\"array\";}s:11:\"ForceDelete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"GlobalTimeout\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"HealthCheckGracePeriod\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"HeartbeatTimeout\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"HonorCooldown\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"Instance\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Describes
  an EC2 instance.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:55:\"The
  Availability Zone in which the instance is running.\";}s:12:\"HealthStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen32\";s:11:\"description\";s:222:\"The
  last reported health status of the instance. \"Healthy\" means that the instance
  is healthy and should remain in service. \"Unhealthy\" means that the instance is
  unhealthy and Auto Scaling should terminate and replace it.\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen19\";s:11:\"description\";s:23:\"The
  ID of the instance.\";}s:23:\"LaunchConfigurationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:54:\"The
  launch configuration associated with the instance.\";}s:14:\"LaunchTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/LaunchTemplateSpecification\";s:11:\"description\";s:37:\"The
  launch template for the instance.\";}s:14:\"LifecycleState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/LifecycleState\";s:11:\"description\";s:103:\"A
  description of the current lifecycle state. Note that the <code>Quarantined</code>
  state is not used.\";}s:20:\"ProtectedFromScaleIn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InstanceProtected\";s:11:\"description\";s:93:\"Indicates
  whether the instance is protected from termination by Auto Scaling when scaling
  in.\";}}s:8:\"required\";a:5:{i:0;s:10:\"InstanceId\";i:1;s:16:\"AvailabilityZone\";i:2;s:14:\"LifecycleState\";i:3;s:12:\"HealthStatus\";i:4;s:20:\"ProtectedFromScaleIn\";}s:4:\"type\";s:6:\"object\";}s:11:\"InstanceIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen19\";}s:4:\"type\";s:5:\"array\";}s:18:\"InstanceMonitoring\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Describes
  whether detailed monitoring is enabled for the Auto Scaling instances.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoringEnabled\";s:11:\"description\";s:93:\"If
  <code>true</code>, detailed monitoring is enabled. Otherwise, basic monitoring is
  enabled.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"InstanceProtected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"Instances\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}s:4:\"type\";s:5:\"array\";}s:16:\"InvalidNextToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  <code>NextToken</code> value is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"LaunchConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Describes
  a launch configuration.\";s:10:\"properties\";O:8:\"stdClass\":19:{s:24:\"AssociatePublicIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AssociatePublicIpAddress\";s:11:\"description\";s:75:\"[EC2-VPC]
  Indicates whether to assign a public IP address to each instance.\";}s:19:\"BlockDeviceMappings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BlockDeviceMappings\";s:11:\"description\";s:75:\"A
  block device mapping, which specifies the block devices for the instance.\";}s:16:\"ClassicLinkVPCId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:329:\"The
  ID of a ClassicLink-enabled VPC to link your EC2-Classic instances to. This parameter
  can only be used if you are launching EC2-Classic instances. For more information,
  see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a>
  in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}s:28:\"ClassicLinkVPCSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ClassicLinkVPCSecurityGroups\";s:11:\"description\";s:372:\"The
  IDs of one or more security groups for the VPC specified in <code>ClassicLinkVPCId</code>.
  This parameter is required if you specify a ClassicLink-enabled VPC, and cannot
  be used otherwise. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a>
  in the <i>Amazon Elastic Compute Cloud User Guide</i>.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TimestampType\";s:11:\"description\";s:56:\"The
  creation date and time for the launch configuration.\";}s:12:\"EbsOptimized\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EbsOptimized\";s:11:\"description\";s:103:\"Controls
  whether the instance is optimized for EBS I/O (<code>true</code>) or not (<code>false</code>).\";}s:18:\"IamInstanceProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/XmlStringMaxLen1600\";s:11:\"description\";s:109:\"The
  name or Amazon Resource Name (ARN) of the instance profile associated with the IAM
  role for the instance.\";}s:7:\"ImageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:41:\"The
  ID of the Amazon Machine Image (AMI).\";}s:18:\"InstanceMonitoring\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceMonitoring\";s:11:\"description\";s:129:\"Controls
  whether instances in this group are launched with detailed (<code>true</code>) or
  basic (<code>false</code>) monitoring.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:36:\"The
  instance type for the instances.\";}s:8:\"KernelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:45:\"The
  ID of the kernel associated with the AMI.\";}s:7:\"KeyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:25:\"The
  name of the key pair.\";}s:22:\"LaunchConfigurationARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the launch configuration.\";}s:23:\"LaunchConfigurationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:37:\"The
  name of the launch configuration.\";}s:16:\"PlacementTenancy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringMaxLen64\";s:11:\"description\";s:212:\"The
  tenancy of the instance, either <code>default</code> or <code>dedicated</code>.
  An instance with <code>dedicated</code> tenancy runs in an isolated, single-tenant
  hardware and can only be launched into a VPC.\";}s:9:\"RamdiskId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:47:\"The
  ID of the RAM disk associated with the AMI.\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecurityGroups\";s:11:\"description\";s:52:\"The
  security groups to associate with the instances.\";}s:9:\"SpotPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SpotPrice\";s:11:\"description\";s:47:\"The
  price to bid when launching Spot Instances.\";}s:8:\"UserData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/XmlStringUserData\";s:11:\"description\";s:41:\"The
  user data available to the instances.\";}}s:8:\"required\";a:4:{i:0;s:23:\"LaunchConfigurationName\";i:1;s:7:\"ImageId\";i:2;s:12:\"InstanceType\";i:3;s:11:\"CreatedTime\";}s:4:\"type\";s:6:\"object\";}s:27:\"LaunchConfigurationNameType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:23:\"LaunchConfigurationName\";s:16:\"my-launch-config\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"LaunchConfigurationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:37:\"The
  name of the launch configuration.\";}}s:8:\"required\";a:1:{i:0;s:23:\"LaunchConfigurationName\";}s:4:\"type\";s:6:\"object\";}s:24:\"LaunchConfigurationNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";}s:4:\"type\";s:5:\"array\";}s:28:\"LaunchConfigurationNamesType\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:24:\"LaunchConfigurationNames\";a:1:{i:0;s:16:\"my-launch-config\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:24:\"LaunchConfigurationNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/LaunchConfigurationNames\";s:11:\"description\";s:100:\"The
  launch configuration names. If you omit this parameter, all launch configurations
  are described.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:107:\"The
  maximum number of items to return with this call. The default value is 50 and the
  maximum value is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LaunchConfigurations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LaunchConfiguration\";}s:4:\"type\";s:5:\"array\";}s:24:\"LaunchConfigurationsType\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"LaunchConfigurations\";a:1:{i:0;O:8:\"stdClass\":10:{s:24:\"AssociatePublicIpAddress\";b:1;s:19:\"BlockDeviceMappings\";a:0:{}s:11:\"CreatedTime\";s:24:\"2014-05-07T17:39:28.599Z\";s:12:\"EbsOptimized\";b:0;s:7:\"ImageId\";s:12:\"ami-043a5034\";s:18:\"InstanceMonitoring\";O:8:\"stdClass\":1:{s:7:\"Enabled\";b:1;}s:12:\"InstanceType\";s:8:\"t1.micro\";s:22:\"LaunchConfigurationARN\";s:140:\"arn:aws:autoscaling:us-west-2:123456789012:launchConfiguration:98d3b196-4cf9-4e88-8ca1-8547c24ced8b:launchConfigurationName/my-launch-config\";s:23:\"LaunchConfigurationName\";s:16:\"my-launch-config\";s:14:\"SecurityGroups\";a:1:{i:0;s:11:\"sg-67ef0308\";}}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"LaunchConfigurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LaunchConfigurations\";s:11:\"description\";s:26:\"The
  launch configurations.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:120:\"The
  token to use when requesting the next set of items. If there are no additional items
  to return, the string is empty.\";}}s:8:\"required\";a:1:{i:0;s:20:\"LaunchConfigurations\";}s:4:\"type\";s:6:\"object\";}s:18:\"LaunchTemplateName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:3;s:7:\"pattern\";s:21:\"[a-zA-Z0-9\\(\\)\\.-/_]+\";s:4:\"type\";s:6:\"string\";}s:27:\"LaunchTemplateSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Describes
  a launch template.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"LaunchTemplateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:88:\"The
  ID of the launch template. You must specify either a template ID or a template name.\";}s:18:\"LaunchTemplateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LaunchTemplateName\";s:11:\"description\";s:90:\"The
  name of the launch template. You must specify either a template name or a template
  ID.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen255\";s:11:\"description\";s:367:\"The
  version number, <code>$Latest</code>, or <code>$Default</code>. If the value is
  <code>$Latest</code>, Auto Scaling selects the latest version of the launch template
  when launching instances. If the value is <code>$Default</code>, Auto Scaling selects
  the default version of the launch template when launching instances. The default
  value is <code>$Default</code>.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"LifecycleActionResult\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"LifecycleActionToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:36;s:9:\"minLength\";i:36;s:4:\"type\";s:6:\"string\";}s:13:\"LifecycleHook\";O:8:\"stdClass\":3:{s:11:\"description\";s:354:\"<p>Describes
  a lifecycle hook, which tells Auto Scaling that you want to perform an action whenever
  it launches instances or whenever it terminates instances.</p> <p>For more information,
  see <a href=\"http://docs.aws.amazon.com/autoscaling/latest/userguide/lifecycle-hooks.html\">Auto
  Scaling Lifecycle Hooks</a> in the <i>Auto Scaling User Guide</i>.</p>\";s:10:\"properties\";O:8:\"stdClass\":9:{s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:58:\"The
[...]
