---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:48:\"Fabric location
  operation endpoints and objects.\";s:5:\"title\";s:17:\"FabricAdminClient\";s:7:\"version\";s:10:\"2016-05-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:175:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2016-05-01/FabricLocation.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:23:\"azsadmin-FabricLocation\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"azure_azsadmin_fabriclocation\";s:4:\"type\";s:7:\"openapi\";}}"
host: adminmanagement.local.azurestack.external
paths:
  /subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations:
    get:
      description: Get a list of all fabric locations.
      operationId: FabricLocations_List
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        type: string
        x-ms-parameter-location: method
      - default: "2016-05-01"
        description: Client Api Version.
        in: query
        name: api-version
        required: true
        type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        type: string
        x-ms-parameter-location: method
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FabricLocationList'
      tags:
      - FabricLocations
      x-ms-examples:
        List all fabric locations:
          parameters:
            api-version: "2016-05-01"
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            200:
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                  location: local
                  name: local
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations
      x-ms-odata: '#/definitions/FabricLocation'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{fabricLocation}
  : get:
      description: Get a fabric location.
      operationId: FabricLocations_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/FabricLocationParameter'
      - default: "2016-05-01"
        description: Client Api Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FabricLocation'
      tags:
      - FabricLocations
      x-ms-examples:
        Get a fabric location:
          parameters:
            api-version: "2016-05-01"
            fabricLocation: local
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            200:
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                location: local
                name: local
                tags: []
                type: Microsoft.Fabric.Admin/fabricLocations
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:14:\"FabricLocation\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Base
  Resource Object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"URI
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Region
  Location of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Name
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:24:\"List
  of key value pairs.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Type
  of resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:33:\"Place
  holder for fabric location.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"FabricLocationList\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Pageable
  list of fabric locations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URI
  to the next page.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"List
  of fabric locations for this page.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FabricLocation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
