---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:42:\"The Admin Subscriptions
  Management Client.\";s:5:\"title\";s:29:\"SubscriptionsManagementClient\";s:7:\"version\";s:10:\"2015-11-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:181:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Quota.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:14:\"azsadmin-Quota\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: adminmanagement.local.azurestack.external
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas:
    get:
      description: Get the list of quotas at a location.
      operationId: Quotas_List
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: The AzureStack location.
        in: path
        name: location
        required: true
        type: string
        x-ms-parameter-location: method
      - default: "2015-11-01"
        description: Client Api Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QuotaList'
      tags:
      - Quotas
      x-ms-examples:
        Get the list of quotas at a location.:
          parameters:
            api-version: "2015-11-01"
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            200:
              body:
                value:
                - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                  location: local
                  name: local/delegatedProviderQuota
                  properties:
                    allowCustomPortalBranding: false
                  type: Microsoft.Subscriptions.Admin/locations/quotas
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas/{quota}:
    get:
      description: Gets a quota by name.
      operationId: Quotas_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: The AzureStack location.
        in: path
        name: location
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/QuotaParameter'
      - default: "2015-11-01"
        description: Client Api Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Quota'
      tags:
      - Quotas
      x-ms-examples:
        Gets a quota by name.:
          parameters:
            api-version: "2015-11-01"
            location: local
            quota: local/delegatedProviderQuota
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            200:
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                location: local
                name: local/delegatedProviderQuota
                properties:
                  allowCustomPortalBranding: false
                type: Microsoft.Subscriptions.Admin/locations/quotas
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:5:\"Quota\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Base
  Resource Object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"URI
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Location
  of the resource\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Name
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:24:\"List
  of key-value pairs.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Type
  of resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:30:\"Quotas
  for DelegatedProviders.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:29:\"#/definitions/QuotaProperties\";s:11:\"description\";s:30:\"Quotas
  for DelegatedProviders.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:9:\"QuotaList\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"List
  of quotas.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"URI
  to next page.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"List
  of quotas.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Quota\";}s:4:\"type\";s:5:\"array\";}}}s:15:\"QuotaProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Quotas
  for DelegatedProviders.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:25:\"allowCustomPortalBranding\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Value
  indicating whether custom portal branding is allowed.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}"
...
