---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Virtual Network
  admin operation endpoints and objects.\";s:5:\"title\";s:28:\"NetworkAdminManagementClient\";s:7:\"version\";s:10:\"2015-06-15\";}"
host: adminmanagement.local.azurestack.external
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminVirtualNetworks:
    get:
      x-ms-examples:
        List of all virtual networks.:
          $ref: ./examples/VirtualNetworks/List.json
      tags:
      - VirtualNetworks
      description: Get a list of all virtual networks.
      operationId: VirtualNetworks_List
      parameters:
      - $ref: Network.json#/parameters/SubscriptionIdParameter
      - $ref: Network.json#/parameters/ApiVersionParameter
      - $ref: Network.json#/parameters/FilterParameter
      - $ref: Network.json#/parameters/OrderByParameter
      - $ref: Network.json#/parameters/TopParameter
      - $ref: Network.json#/parameters/SkipParameter
      - $ref: Network.json#/parameters/InlineCountParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VirtualNetworksList'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/VirtualNetwork'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:14:\"VirtualNetwork\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"This
  represents a virtual network.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Properties
  of a virtual network.\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:38:\"#/definitions/VirtualNetworkProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"Network.json#/definitions/Resource\";}}}s:24:\"VirtualNetworkProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Properties
  of a virtual network.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"configurationState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  virtual network configuration state.\";s:4:\"$ref\";s:46:\"#/definitions/VirtualNetworkConfigurationState\";}}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"Network.json#/definitions/ProvisionedResource\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"Network.json#/definitions/TenantResource\";}}}s:32:\"VirtualNetworkConfigurationState\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  virtual network configuration state.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:27:\"The
  virtual network status.\";s:4:\"enum\";a:6:{i:0;s:7:\"Failure\";i:1;s:7:\"Warning\";i:2;s:7:\"Success\";i:3;s:13:\"Uninitialized\";i:4;s:10:\"InProgress\";i:5;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:42:\"VirtualNetworkConfigurationStateStatusType\";}s:8:\"readOnly\";b:1;}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Last
  updated time for the running state.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:29:\"virtualNetworkInterfaceErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"List
  of NIC errors associated with the resource.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/VirtualNetworkConfigurationStatus\";}}s:10:\"hostErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"List
  of NIC errors associated with the resource.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/VirtualNetworkConfigurationStatus\";}}}}s:33:\"VirtualNetworkConfigurationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Virtual
  network configuration status.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:41:\"The
  virtual network configuration status.\";s:4:\"enum\";a:6:{i:0;s:7:\"Failure\";i:1;s:7:\"Warning\";i:2;s:7:\"Success\";i:3;s:13:\"Uninitialized\";i:4;s:10:\"InProgress\";i:5;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:37:\"VirtualNetworkConfigurationStatusType\";}s:8:\"readOnly\";b:1;}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Last
  updated time for the configuration status.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}}}s:19:\"VirtualNetworksList\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Pageable
  list of virtual networks.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"List
  of virtual networks for this page.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/VirtualNetwork\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URI
  to the next page.\";s:4:\"type\";s:6:\"string\";}}}}"
...
