---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:42:\"InfraRole operation
  endpoints and objects.\";s:5:\"title\";s:17:\"FabricAdminClient\";s:7:\"version\";s:10:\"2016-05-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:170:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2016-05-01/InfraRole.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:18:\"azsadmin-InfraRole\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: adminmanagement.local.azurestack.external
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles
  : get:
      description: Get a list of all infra roles at a location.
      operationId: InfraRoles_List
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        type: string
        x-ms-parameter-location: method
      - default: "2016-05-01"
        description: Client Api Version.
        in: query
        name: api-version
        required: true
        type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        type: string
        x-ms-parameter-location: method
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/InfraRoleList'
      tags:
      - InfraRoles
      x-ms-examples:
        List all infra roles:
          parameters:
            api-version: "2016-05-01"
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            200:
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Active
                    Directory Federation Services
                  location: local
                  name: Active Directory Federation Services
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ADFS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Authorization
                    service (Administrator)
                  location: local
                  name: Authorization service (Administrator)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Authorization
                    service (User)
                  location: local
                  name: Authorization service (User)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Azure
                    bridge
                  location: local
                  name: Azure bridge
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Azure
                    Resource Manager (Administrator)
                  location: local
                  name: Azure Resource Manager (Administrator)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Azure
                    Resource Manager (User)
                  location: local
                  name: Azure Resource Manager (User)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Backup
                    controller
                  location: local
                  name: Backup controller
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Backup
                    Restore Resource Provider
                  location: local
                  name: Backup Restore Resource Provider
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Capacity
                  location: local
                  name: Capacity
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Certificate
                    management
                  location: local
                  name: Certificate management
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-CA01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Compute
                  location: local
                  name: Compute
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Compute
                    controller
                  location: local
                  name: Compute controller
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Directory
                    management
                  location: local
                  name: Directory management
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-DC01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Edge
                    gateway
                  location: local
                  name: Edge gateway
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Gwy01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Gallery
                    service (Administrator)
                  location: local
                  name: Gallery service (Administrator)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Gallery
                    service (User)
                  location: local
                  name: Gallery service (User)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Health
                    controller
                  location: local
                  name: Health controller
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Infrastructure
                    deployment
                  location: local
                  name: Infrastructure deployment
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Infrastructure
                    management controller
                  location: local
                  name: Infrastructure management controller
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Infrastructure
                    role controller
                  location: local
                  name: Infrastructure role controller
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Insights
                    service (Administrator)
                  location: local
                  name: Insights service (Administrator)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Insights
                    service (User)
                  location: local
                  name: Insights service (User)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Internal
                    data store
                  location: local
                  name: Internal data store
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Sql01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Key
                    Vault
                  location: local
                  name: Key Vault
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Key
                    Vault controller (Administrator)
                  location: local
                  name: Key Vault controller (Administrator)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Key
                    Vault controller (User)
                  location: local
                  name: Key Vault controller (User)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Key
                    Vault name manager
                  location: local
                  name: Key Vault name manager
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Key
                    Vault service (Administrator)
                  location: local
                  name: Key Vault service (Administrator)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Key
                    Vault service (User)
                  location: local
                  name: Key Vault service (User)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Load
                    balancer multiplexer
                  location: local
                  name: Load balancer multiplexer
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-SLB01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Network
                  location: local
                  name: Network
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Network
                    controller
                  location: local
                  name: Network controller
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-NC01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Partition
                    request broker (Administrator)
                  location: local
                  name: Partition request broker (Administrator)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Partition
                    request broker (User)
                  location: local
                  name: Partition request broker (User)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Portal
                    (Administrator)
                  location: local
                  name: Portal (Administrator)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Portal
                    (User)
                  location: local
                  name: Portal (User)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Privileged
                    endpoint
                  location: local
                  name: Privileged endpoint
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Region
                    Management
                  location: local
                  name: Region Management
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Storage
                  location: local
                  name: Storage
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Storage
                    controller
                  location: local
                  name: Storage controller
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Storage
                    services
                  location: local
                  name: Storage services
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ACS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Subscriptions
                    service
                  location: local
                  name: Subscriptions service
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Updates
                  location: local
                  name: Updates
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Usage
                    Bridge host
                  location: local
                  name: Usage Bridge host
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Usage
                    service (Administrator)
                  location: local
                  name: Usage service (Administrator)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Usage
                    service (User)
                  location: local
                  name: Usage service (User)
                  properties:
                    instances:
                    - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
      x-ms-odata: '#/definitions/InfraRole'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles/{infraRole}
  : get:
      description: Get an infra role description.
      operationId: InfraRoles_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/InfraRoleParameter'
      - default: "2016-05-01"
        description: Client Api Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/InfraRole'
      tags:
      - InfraRoles
      x-ms-examples:
        Get a infra role:
          parameters:
            api-version: "2016-05-01"
            infraRole: Storage services
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            200:
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Storage
                  services
                location: local
                name: Storage services
                properties:
                  instances:
                  - subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ACS01
                tags: []
                type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:9:\"InfraRole\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Base
  Resource Object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"URI
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Region
  Location of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Name
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:24:\"List
  of key value pairs.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Type
  of resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:30:\"Get
  an infra role description.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/InfraRoleModel\";s:11:\"description\";s:22:\"Infra
  role properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:13:\"InfraRoleList\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Pageable
  list of infra roles.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URI
  to the next page.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"List
  of infra roles for this page.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/InfraRole\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"InfraRoleModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Infra
  role properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"instances\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of infra role instances.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
