---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:36:\"The Admin Storage
  Management Client.\";s:5:\"title\";s:23:\"StorageManagementClient\";s:7:\"version\";s:18:\"2015-12-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:171:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2016-05-01/storage.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:16:\"azsadmin-storage\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: adminmanagement.local.azurestack.external
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:13:\"AggregateType\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"Aggregate
  type.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:7:\"Average\";i:2;s:5:\"Total\";i:3;s:7:\"Minimum\";i:4;s:7:\"Maximum\";i:5;s:4:\"Last\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"AggregateType\";}}s:7:\"Display\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Contains
  the localized display information for this particular operation / action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"The
  localized friendly description for the operation, as it should be shown to the user.
  It should be thorough, yet concise \u2013 it will be used in tool tips and detailed
  views.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  localized friendly name for the operation, as it should be shown to the user.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"The
  localized friendly form of the resource provider name \u2013 it is expected to also
  include the publisher/company responsible. It should use Title Casing and begin
  with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\"
  or \"Microsoft Compute.\"\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"The
  localized friendly form of the resource type related to this action/operation \u2013
  it should match the public documentation for the resource provider.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"HealthStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"Current
  health status.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:7:\"Healthy\";i:2;s:7:\"Warning\";i:3;s:8:\"Critical\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"HealthStatus\";}}s:17:\"LocalizableString\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Localizable
  string.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Localized
  value of the string.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Value
  of the string.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Metric\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Metric
  information.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Metric
  end time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"metricUnit\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Metric
  unit.\";s:4:\"enum\";a:5:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:14:\"CountPerSecond\";i:4;s:14:\"BytesPerSecond\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"MetricUnit\";}}s:12:\"metricValues\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"List
  of metric values.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Metric
  value.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"average\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Average
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"count\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Count
  of metric values.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Maximum
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"minimum\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Minimum
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Metric
  value properties.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"timeStamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Timestamp
  of metric value.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Total
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Localizable
  string.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Localized
  value of the string.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Value
  of the string.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Metric
  start time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Metric
  time grain.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"MetricAvailability\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Metric
  availability.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"retention\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Retention
  of metric.\";s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Time
  grain.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MetricDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Metric
  definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"metricAvailabilities\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Metric
  availabilities.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Metric
  availability.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"retention\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Retention
  of metric.\";s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Time
  grain.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Localizable
  string.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Localized
  value of the string.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Value
  of the string.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"primaryAggregationType\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"Aggregate
  type.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:7:\"Average\";i:2;s:5:\"Total\";i:3;s:7:\"Minimum\";i:4;s:7:\"Maximum\";i:5;s:4:\"Last\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"AggregateType\";}}s:4:\"unit\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Metric
  unit.\";s:4:\"enum\";a:5:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:14:\"CountPerSecond\";i:4;s:14:\"BytesPerSecond\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"MetricUnit\";}}}s:4:\"type\";s:6:\"object\";}s:20:\"MetricDefinitionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Pageable
  list of metric definitions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"URI
  to the next page.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"List
  of metric definitions.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Metric
  definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"metricAvailabilities\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Metric
  availabilities.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Metric
  availability.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"retention\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Retention
  of metric.\";s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Time
  grain.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Localizable
  string.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Localized
  value of the string.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Value
  of the string.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"primaryAggregationType\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"Aggregate
  type.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:7:\"Average\";i:2;s:5:\"Total\";i:3;s:7:\"Minimum\";i:4;s:7:\"Maximum\";i:5;s:4:\"Last\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"AggregateType\";}}s:4:\"unit\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Metric
  unit.\";s:4:\"enum\";a:5:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:14:\"CountPerSecond\";i:4;s:14:\"BytesPerSecond\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"MetricUnit\";}}}s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MetricList\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Pageable
  list of metrics.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"URI
  to the next page.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"List
  of metrics.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Metric
  information.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Metric
  end time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"metricUnit\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Metric
  unit.\";s:4:\"enum\";a:5:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:14:\"CountPerSecond\";i:4;s:14:\"BytesPerSecond\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"MetricUnit\";}}s:12:\"metricValues\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"List
  of metric values.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Metric
  value.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"average\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Average
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"count\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Count
  of metric values.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Maximum
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"minimum\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Minimum
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Metric
  value properties.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"timeStamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Timestamp
  of metric value.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Total
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Localizable
  string.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Localized
  value of the string.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Value
  of the string.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Metric
  start time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Metric
  time grain.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MetricUnit\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Metric
  unit.\";s:4:\"enum\";a:5:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:14:\"CountPerSecond\";i:4;s:14:\"BytesPerSecond\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"MetricUnit\";}}s:11:\"MetricValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Metric
  value.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"average\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Average
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"count\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Count
  of metric values.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Maximum
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"minimum\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Minimum
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Metric
  value properties.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"timeStamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Timestamp
  of metric value.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Total
  value of metric.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}}s:9:\"Operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Describes
  the supported REST operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Contains
  the localized display information for this particular operation / action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"The
  localized friendly description for the operation, as it should be shown to the user.
  It should be thorough, yet concise \u2013 it will be used in tool tips and detailed
  views.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  localized friendly name for the operation, as it should be shown to the user.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"The
  localized friendly form of the resource provider name \u2013 it is expected to also
  include the publisher/company responsible. It should use Title Casing and begin
  with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\"
  or \"Microsoft Compute.\"\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"The
  localized friendly form of the resource type related to this action/operation \u2013
  it should match the public documentation for the resource provider.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  name of the operation being performed on this particular object. It should match
  the action name that appears in RBAC / the event service.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:13:\"OperationList\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Pageable
  list of supported operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"URI
  to the next page of operations.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of operations\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Describes
  the supported REST operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Contains
  the localized display information for this particular operation / action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"The
  localized friendly description for the operation, as it should be shown to the user.
  It should be thorough, yet concise \u2013 it will be used in tool tips and detailed
  views.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  localized friendly name for the operation, as it should be shown to the user.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"The
  localized friendly form of the resource provider name \u2013 it is expected to also
  include the publisher/company responsible. It should use Title Casing and begin
  with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\"
  or \"Microsoft Compute.\"\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"The
  localized friendly form of the resource type related to this action/operation \u2013
  it should match the public documentation for the resource provider.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  name of the operation being performed on this particular object. It should match
  the action name that appears in RBAC / the event service.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Base
  resource object.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Resource
  location.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:7:\"Service\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Storage
  service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"healthStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"Current
  health status.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:7:\"Healthy\";i:2;s:7:\"Warning\";i:3;s:8:\"Critical\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"HealthStatus\";}}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Storage
  service version.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"WritableServiceSettings\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Storage
  service settings.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:28:\"frontEndCallbackThreadsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Front
  end callback threads count.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:62:\"frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Interval
  (in second) of CPU monitor for front end CPU based keep-alive throttling.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:42:\"frontEndCpuBasedKeepAliveThrottlingEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Switch
  of front end CPU based keep-alive throttling.\";s:4:\"type\";s:7:\"boolean\";}s:54:\"frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Threshold
  (% percentage) of front end CPU based keep-alive throttling.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:60:\"frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Threshold
  (% percentage) of requests to throttle in front end CPU based keep-alive throttling.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:43:\"frontEndMaxMillisecondsBetweenMemorySamples\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Maxium
  interval (in millisecond) between memory samples of front end.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:39:\"frontEndMemoryThrottleThresholdSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Front
  end memory throttle threshold settings.\";s:4:\"type\";s:6:\"string\";}s:31:\"frontEndMemoryThrottlingEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Switch
  of front end memory throttling.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"frontEndMinThreadPoolThreads\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Front
  end minimum number of threads in thread pool.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:53:\"frontEndThreadPoolBasedKeepAliveIOCompletionThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Threshold
  of front end thread pool based keep-alive IO completion.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:56:\"frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Monitor
  interval (in seconds) of front end thread pool based keep-alive monitor.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:42:\"frontEndThreadPoolBasedKeepAlivePercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Percentage
  (%) of front end thread pool based keep-alive.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:53:\"frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Threshold
  of front end thread pool based keep-alive worker thread.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:32:\"frontEndUseSlaTimeInAvailability\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Switch
  of whether front end uses SLA time in availability.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:29:\"Settings
  of storage services.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"frontEndHttpListenPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  HTTP port of the storage service front end.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"frontEndHttpsListenPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  HTTPs port of the storage service front end.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"WritableSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Storage
  service settings.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:28:\"frontEndCallbackThreadsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Front
  end callback threads count.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:62:\"frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Interval
  (in second) of CPU monitor for front end CPU based keep-alive throttling.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:42:\"frontEndCpuBasedKeepAliveThrottlingEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Switch
  of front end CPU based keep-alive throttling.\";s:4:\"type\";s:7:\"boolean\";}s:54:\"frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Threshold
  (% percentage) of front end CPU based keep-alive throttling.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:60:\"frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Threshold
  (% percentage) of requests to throttle in front end CPU based keep-alive throttling.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:43:\"frontEndMaxMillisecondsBetweenMemorySamples\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Maxium
  interval (in millisecond) between memory samples of front end.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:39:\"frontEndMemoryThrottleThresholdSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Front
  end memory throttle threshold settings.\";s:4:\"type\";s:6:\"string\";}s:31:\"frontEndMemoryThrottlingEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Switch
  of front end memory throttling.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"frontEndMinThreadPoolThreads\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Front
  end minimum number of threads in thread pool.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:53:\"frontEndThreadPoolBasedKeepAliveIOCompletionThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Threshold
  of front end thread pool based keep-alive IO completion.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:56:\"frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Monitor
  interval (in seconds) of front end thread pool based keep-alive monitor.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:42:\"frontEndThreadPoolBasedKeepAlivePercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Percentage
  (%) of front end thread pool based keep-alive.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:53:\"frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Threshold
  of front end thread pool based keep-alive worker thread.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:32:\"frontEndUseSlaTimeInAvailability\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Switch
  of whether front end uses SLA time in availability.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}"
...
