---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:49:\"Operation status
  operation endpoints and objects.\";s:5:\"title\";s:17:\"FabricAdminClient\";s:7:\"version\";s:10:\"2016-05-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:171:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2016-05-01/Operations.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:19:\"azsadmin-Operations\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: adminmanagement.local.azurestack.external
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/{provider}/fabricLocations/{location}/computeOperationResults/{computeOperationResult}
  : get:
      description: Get the status of a compute fabric operation.
      operationId: ComputeFabricOperations_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/ProviderParameter'
      - $ref: '#/parameters/ComputeOperationResultParameter'
      - default: "2016-05-01"
        description: Client Api Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        202:
          description: ACCEPTED
          schema:
            $ref: '#/definitions/OperationStatus'
      tags:
      - ComputeFabricOperations
  ? /subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/{provider}/fabricLocations/{location}/networkOperationResults/{networkOperationResult}
  : get:
      description: Get the status of a network fabric operation.
      operationId: NetworkFabricOperations_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/ProviderParameter'
      - $ref: '#/parameters/NetworkOperationResultParameter'
      - default: "2016-05-01"
        description: Client Api Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        202:
          description: ACCEPTED
          schema:
            $ref: '#/definitions/OperationStatus'
      tags:
      - NetworkFabricOperations
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:15:\"OperationStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Status
  of the compute operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/ProvisioningStateModel\";s:11:\"description\";s:27:\"The
  state of the operation.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"ProvisioningStateModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  state of the operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  state of the operation.\";s:4:\"type\";s:6:\"string\";}}}}"
...
