---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:18:\"2018-07-30-preview\";s:5:\"title\";s:32:\"ComputeDiskAdminManagementClient\";s:11:\"description\";s:41:\"The
  Admin Compute Disk Management Client.\";}"
host: adminmanagement.local.azurestack.external
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs:
    get:
      x-ms-examples:
        Returns a list of disk migration jobs.:
          $ref: ./examples/DiskMigrationJobs/List.json
      tags:
      - DiskMigrationJobs
      operationId: DiskMigrationJobs_List
      description: Returns a list of disk migration jobs.
      parameters:
      - $ref: ../2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter
      - $ref: ../2015-12-01-preview/Compute.json#/parameters/LocationParameter
      - $ref: DiskMigrationJobs.json#/parameters/MigrationJobStatusParameter
      - $ref: Disks.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK -- The list of disk migration jobs has been returned.
          schema:
            $ref: DiskMigrationJobs.json#/definitions/DiskMigrationJobList
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs/{migrationId}:
    get:
      x-ms-examples:
        Returns the requested disk migration job.:
          $ref: ./examples/DiskMigrationJobs/Get.json
      tags:
      - DiskMigrationJobs
      operationId: DiskMigrationJobs_Get
      description: Returns the requested disk migration job.
      parameters:
      - $ref: ../2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter
      - $ref: ../2015-12-01-preview/Compute.json#/parameters/LocationParameter
      - $ref: DiskMigrationJobs.json#/parameters/MigrationIdParameter
      - $ref: Disks.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK -- The disk migration job has been returned.
          schema:
            $ref: DiskMigrationJobs.json#/definitions/DiskMigrationJob
    put:
      x-ms-examples:
        Create a disk migration job.:
          $ref: ./examples/DiskMigrationJobs/Create.json
      tags:
      - DiskMigrationJobs
      operationId: DiskMigrationJobs_Create
      description: Create a disk migration job.
      parameters:
      - $ref: ../2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter
      - $ref: ../2015-12-01-preview/Compute.json#/parameters/LocationParameter
      - $ref: DiskMigrationJobs.json#/parameters/MigrationIdParameter
      - $ref: DiskMigrationJobs.json#/parameters/TargetShareParameter
      - $ref: DiskMigrationJobs.json#/parameters/DiskListParameter
      - $ref: Disks.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK --  Disk migration job is created successfully.
          schema:
            $ref: DiskMigrationJobs.json#/definitions/DiskMigrationJob
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs/{migrationId}/Cancel:
    post:
      x-ms-examples:
        Cancel a disk migration job.:
          $ref: ./examples/DiskMigrationJobs/Cancel.json
      tags:
      - DiskMigrationJobs
      operationId: DiskMigrationJobs_Cancel
      description: Cancel a disk migration job.
      parameters:
      - $ref: ../2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter
      - $ref: ../2015-12-01-preview/Compute.json#/parameters/LocationParameter
      - $ref: DiskMigrationJobs.json#/parameters/MigrationIdParameter
      - $ref: Disks.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK --  Disk migration job cancellation is called.
          schema:
            $ref: DiskMigrationJobs.json#/definitions/DiskMigrationJob
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:18:\"MigrationJobStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Migration
  job status.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:9:\"Undefined\";i:1;s:7:\"Running\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";i:4;s:8:\"Canceled\";i:5;s:7:\"Pending\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"MigrationJobStatus\";s:13:\"modelAsString\";b:1;}}s:22:\"MigrationSubTaskStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Migration
  child task status.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:9:\"Undefined\";i:1;s:7:\"Running\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";i:4;s:8:\"Canceled\";i:5;s:7:\"Pending\";i:6;s:7:\"Skipped\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"MigrationSubTaskStatus\";s:13:\"modelAsString\";b:1;}}s:26:\"MigrationSubTaskProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Disk
  migration child task properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:22:\"migrationSubtaskStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  disk migration child task status.\";s:4:\"$ref\";s:58:\"DiskMigrationJobs.json#/definitions/MigrationSubTaskStatus\";s:8:\"readOnly\";b:1;}s:6:\"reason\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  reason of task failure.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  task start time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"The
  task end time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:11:\"targetShare\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  target share of migration task.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"sourceShare\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  source share of migration task.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:27:\"targetDiskStateForMigration\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  disk status.\";s:4:\"$ref\";s:33:\"Disks.json#/definitions/DiskState\";s:8:\"readOnly\";b:1;}s:6:\"diskId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  id of disk.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:20:\"MigrationSubTaskList\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of disk migration tasks.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"DiskMigrationJobs.json#/definitions/MigrationSubTask\";}}s:16:\"MigrationSubTask\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Disk
  migration child task.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"migrationSubTaskId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  id of migration child task.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:62:\"DiskMigrationJobs.json#/definitions/MigrationSubTaskProperties\";s:11:\"description\";s:37:\"Disk
  migration child task properties.\";}}}s:26:\"DiskMigrationJobProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Disk
  migration job properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"migrationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  disk migration id.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  current status of disk migration job.\";s:4:\"$ref\";s:54:\"DiskMigrationJobs.json#/definitions/MigrationJobStatus\";s:8:\"readOnly\";b:1;}s:8:\"subtasks\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  list of child migration tasks.\";s:4:\"$ref\";s:56:\"DiskMigrationJobs.json#/definitions/MigrationSubTaskList\";s:8:\"readOnly\";b:1;}s:12:\"creationTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  job creation time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  job start time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  job end time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:11:\"targetShare\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  target share of migration job.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:16:\"DiskMigrationJob\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Disk
  migration job.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:62:\"DiskMigrationJobs.json#/definitions/DiskMigrationJobProperties\";s:11:\"description\";s:26:\"Disk
  migration properties.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../2015-12-01-preview/Compute.json#/definitions/Resource\";}}}s:20:\"DiskMigrationJobList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"List
  of disk migration jobs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of disk migration jobs.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"DiskMigrationJobs.json#/definitions/DiskMigrationJob\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URI
  to the next page.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"DiskListInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:14:\"List
  of disks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"Disks.json#/definitions/Disk\";}}}"
...
