---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:43:\"Scale unit operation
  endpoints and objects.\";s:5:\"title\";s:17:\"FabricAdminClient\";s:7:\"version\";s:10:\"2016-05-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:170:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2016-05-01/ScaleUnit.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:18:\"azsadmin-ScaleUnit\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"azure_azsadmin_scaleunit\";s:4:\"type\";s:7:\"openapi\";}}"
host: adminmanagement.local.azurestack.external
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits
  : get:
      description: Get a list of all scale units at a location.
      operationId: ScaleUnits_List
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        type: string
        x-ms-parameter-location: method
      - default: "2016-05-01"
        description: Client Api Version.
        in: query
        name: api-version
        required: true
        type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        type: string
        x-ms-parameter-location: method
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ScaleUnitList'
      tags:
      - ScaleUnits
      x-ms-examples:
        List all scale units:
          parameters:
            api-version: "2016-05-01"
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            200:
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                  location: local
                  name: S-Cluster
                  properties:
                    logicalFaultDomain: 0
                    nodes:
                    - /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1n25r2236
                    scaleUnitType: HyperConverged
                    state: Running
                    totalCapacity:
                      cores: 56
                      memoryGB: 255.875000
                  tags: []
                  type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits
      x-ms-odata: '#/definitions/ScaleUnit'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}
  : get:
      description: Get a scale unit.
      operationId: ScaleUnits_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/ScaleUnitParameter'
      - default: "2016-05-01"
        description: Client Api Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ScaleUnit'
      tags:
      - ScaleUnits
      x-ms-examples:
        Get a scale unit:
          parameters:
            api-version: "2016-05-01"
            location: local
            scaleUnit: S-Cluster
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            200:
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                location: local
                name: S-Cluster
                properties:
                  logicalFaultDomain: 0
                  nodes:
                  - /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1n25r2236
                  scaleUnitType: HyperConverged
                  state: Running
                  totalCapacity:
                    cores: 56
                    memoryGB: 255.875000
                tags: []
                type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:9:\"ScaleUnit\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Base
  Resource Object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"URI
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Region
  Location of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Name
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:24:\"List
  of key value pairs.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Type
  of resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:103:\"Represents
  a cluster - generally this will be a collection of Hosts backed by Failover Cluster
  Manager.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/ScaleUnitModel\";s:11:\"description\";s:27:\"Properties
  of a scale unit.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:17:\"ScaleUnitCapacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  capacity information for a physical machine.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cores\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  number of CPU cores for the physical machine.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"memoryGB\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  memory for the physical machine.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ScaleUnitList\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  pageable list of scale units.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URI
  to the next page.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  list of scale units on this page.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ScaleUnit\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ScaleUnitModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Properties
  of a scale unit.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"logicalFaultDomain\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Fault
  domain name of the cluster.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"model\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Model
  of the servers in the cluster.\";s:4:\"type\";s:6:\"string\";}s:5:\"nodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of nodes in the server.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"scaleUnitType\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Type
  of the cluster.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:11:\"ComputeOnly\";i:2;s:11:\"StorageOnly\";i:3;s:14:\"HyperConverged\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ScaleUnitType\";}}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Current
  state of the cluster.\";s:4:\"enum\";a:5:{i:0;s:7:\"Unknown\";i:1;s:8:\"Creating\";i:2;s:7:\"Running\";i:3;s:9:\"Upgrading\";i:4;s:8:\"Deleting\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"ScaleUnitState\";}}s:13:\"totalCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ScaleUnitCapacity\";s:11:\"description\";s:37:\"Capacity
  information for the cluster.\";}}s:4:\"type\";s:6:\"object\";}}"
...
