---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2016-01-01\";s:5:\"title\";s:22:\"AzureBridgeAdminClient\";s:11:\"description\";s:25:\"AzureBridge
  Admin Client.\";}"
host: adminmanagement.local.azurestack.external
paths:
  /providers/Microsoft.AzureBridge.Admin/operations:
    get:
      x-ms-examples:
        Returns the list of support REST operations.:
          $ref: ./examples/Operations/List.json
      description: Returns the list of support REST operations.
      tags:
      - AzureBridge
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationList'
      x-ms-pageable:
        nextLinkName: nextLink
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Base
  Resource Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"URI
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Name
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Type
  of resource.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Location
  of the resource\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"List
  of key value pairs.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"x-ms-azure-resource\";b:1;}s:9:\"Operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Describes
  the supported REST operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"The
  name of the operation being performed on this particular object. This name should
  match the name that appears in RBAC or the event service.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"display\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Contains
  the localized display information for this particular operation / action.\";s:4:\"$ref\";s:21:\"#/definitions/Display\";s:8:\"readOnly\";b:1;}}}s:7:\"Display\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Contains
  the localized display information for this particular operation / action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"The
  localized friendly form of the resource provider name \u2013 it is expected to also
  include the publisher/company responsible. It should use Title Casing and begin
  with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\"
  or \"Microsoft Compute.\"\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  localized, friendly version of the resource type related to this action or operation;
  the resource type should match the public documentation for the resource provider.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  localized, friendly name for the operation. Use the name as it will displayed to
  the user.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"The
  localized, friendly description for the operation. The description will be displayed
  to the user. It should be thorough and concise for used in both tooltips and detailed
  views.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:13:\"OperationList\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"List
  of Operations\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Array
  of operations\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"URI
  to the next page of operations.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:17:\"ProvisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  provisioning state of the resource.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:7:\"Stopped\";i:1;s:8:\"Starting\";i:2;s:7:\"Running\";i:3;s:8:\"Stopping\";i:4;s:9:\"Succeeded\";i:5;s:11:\"Downloading\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}s:11:\"ProductBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Base
  object for all product classes.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Name
  displayed for the product.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Description
  of the product.\";s:4:\"type\";s:6:\"string\";}s:20:\"publisherDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of publisher.\";s:4:\"type\";s:6:\"string\";}s:19:\"publisherIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Publisher
  identifier.\";s:4:\"type\";s:6:\"string\";}s:5:\"offer\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Offer
  name.\";s:4:\"type\";s:6:\"string\";}s:12:\"offerVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Offer
  version.\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Product
  SKU.\";s:4:\"type\";s:6:\"string\";}s:17:\"billingPartNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Billing
  part number.\";s:4:\"type\";s:6:\"string\";}s:19:\"galleryItemIdentity\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Gallery
  item identity.\";s:4:\"type\";s:6:\"string\";}s:8:\"iconUris\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Information
  about gallery icons.\";s:4:\"$ref\";s:26:\"#/definitions/GalleryIcons\";}s:13:\"payloadLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Size
  in bytes.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"productKind\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.\";s:4:\"type\";s:6:\"string\";}s:17:\"productProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"the
  product properties. At the moment only VirtualMachineProductProperties is allowed.\";s:4:\"$ref\";s:31:\"#/definitions/ProductProperties\";}}}s:12:\"GalleryIcons\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Icons
  for the gallery items.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"hero\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  hero (815x290) icon relative path.\";s:4:\"type\";s:6:\"string\";}s:5:\"large\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  large (115x115) icon relative path.\";s:4:\"type\";s:6:\"string\";}s:4:\"wide\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  wide (255x115) icon relative path.\";s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  medium (90x90) icon relative path.\";s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  small (40x40) icon relative path.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"ProductProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Additional
  properties of the product\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  version of the product\";s:4:\"type\";s:6:\"string\";}}}s:11:\"ProductLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Link
  to a product.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Displayed
  name of product.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"URI
  to product.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"ProductLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of product links.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ProductLink\";}}}"
...
