---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2016-01-01\";s:5:\"title\";s:22:\"AzureBridgeAdminClient\";s:11:\"description\";s:25:\"AzureBridge
  Admin Client.\";}"
host: adminmanagement.local.azurestack.external
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts
  : get:
      x-ms-examples:
        Get a list of downloaded products.:
          $ref: ./examples/DownloadedProduct/List.json
      description: Get a list of downloaded products.
      tags:
      - DownloadedProducts
      operationId: DownloadedProducts_List
      parameters:
      - $ref: AzureBridge.json#/parameters/SubscriptionIdParameter
      - $ref: AzureBridge.json#/parameters/ResourceGroupParameter
      - $ref: AzureBridge.json#/parameters/ActivationNameParameter
      - $ref: AzureBridge.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DownloadedProductResourcesPage'
      produces:
      - application/json
      consumes:
      - application/json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts/{productName}
  : get:
      x-ms-examples:
        Gets the specified downloaded product.:
          $ref: ./examples/DownloadedProduct/Get.json
      description: Get a downloaded product.
      tags:
      - DownloadedProducts
      operationId: DownloadedProducts_Get
      parameters:
      - $ref: AzureBridge.json#/parameters/SubscriptionIdParameter
      - $ref: AzureBridge.json#/parameters/ResourceGroupParameter
      - $ref: AzureBridge.json#/parameters/ActivationNameParameter
      - $ref: AzureBridge.json#/parameters/ProductNameParameter
      - $ref: AzureBridge.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DownloadedProductResource'
        404:
          description: Not Found
      produces:
      - application/json
      consumes:
      - application/json
    delete:
      x-ms-examples:
        Deletes the specified downloaded product.:
          $ref: ./examples/DownloadedProduct/Delete.json
      description: Delete a downloaded product.
      tags:
      - DownloadedProducts
      operationId: DownloadedProducts_Delete
      parameters:
      - $ref: AzureBridge.json#/parameters/SubscriptionIdParameter
      - $ref: AzureBridge.json#/parameters/ResourceGroupParameter
      - $ref: AzureBridge.json#/parameters/ActivationNameParameter
      - $ref: AzureBridge.json#/parameters/ProductNameParameter
      - $ref: AzureBridge.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: Accepted
          schema:
            $ref: '#/definitions/DownloadedProductResource'
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/DownloadedProductResource'
        404:
          description: Not Found
      x-ms-long-running-operation: true
      produces:
      - application/json
      consumes:
      - application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:25:\"DownloadedProductResource\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Downloaded
  product resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:27:\"Properties
  of the resource.\";s:4:\"$ref\";s:31:\"#/definitions/DownloadedProduct\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"AzureBridge.json#/definitions/Resource\";}}}s:17:\"DownloadedProduct\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Properties
  for aggregate usage.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"vmExtensionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Extension
  type of the VM.\";s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Gallery
  item identity.\";s:4:\"$ref\";s:42:\"AzureBridge.json#/definitions/ProductLinks\";}s:10:\"legalTerms\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Legal
  terms for the product.\";s:4:\"type\";s:6:\"string\";}s:13:\"privacyPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Privacy
  policy of the product.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Provisioning
  state of the resource.\";s:4:\"$ref\";s:47:\"AzureBridge.json#/definitions/ProvisioningState\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"AzureBridge.json#/definitions/ProductBase\";}}}s:30:\"DownloadedProductResourcesPage\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Holds
  an array of downloaded products and the URI to the next page.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Array
  of downloaded products.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DownloadedProductResource\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"URI
  to next page.\";s:4:\"type\";s:6:\"string\";}}}}"
...
