---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2015-11-01\";s:5:\"title\";s:29:\"SubscriptionsManagementClient\";s:11:\"description\";s:42:\"The
  Admin Subscriptions Management Client.\";}"
host: adminmanagement.local.azurestack.external
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/offers:
    get:
      x-ms-examples:
        Get the list of offers.:
          $ref: ./examples/Offer/List.json
      description: Get the list of offers.
      tags:
      - Offers
      operationId: Offers_ListAll
      parameters:
      - $ref: Subscriptions.json#/parameters/SubscriptionIdParameter
      - $ref: Subscriptions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OfferList'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers:
    get:
      x-ms-examples:
        Get the list of offers under a resource group.:
          $ref: ./examples/Offer/List.json
      description: Get the list of offers under a resource group.
      tags:
      - Offers
      operationId: Offers_List
      parameters:
      - $ref: Subscriptions.json#/parameters/SubscriptionIdParameter
      - $ref: Subscriptions.json#/parameters/ResourceGroupParameter
      - $ref: Subscriptions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OfferList'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}:
    get:
      x-ms-examples:
        Get the specified offer.:
          $ref: ./examples/Offer/Get.json
      description: Get the specified offer.
      tags:
      - Offers
      operationId: Offers_Get
      parameters:
      - $ref: Subscriptions.json#/parameters/SubscriptionIdParameter
      - $ref: Subscriptions.json#/parameters/ResourceGroupParameter
      - $ref: Subscriptions.json#/parameters/OfferParameter
      - $ref: Subscriptions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Offer'
    put:
      x-ms-examples:
        Create or update the offer.:
          $ref: ./examples/Offer/Create.json
      description: Create or update the offer.
      tags:
      - Offers
      operationId: Offers_CreateOrUpdate
      parameters:
      - $ref: Subscriptions.json#/parameters/SubscriptionIdParameter
      - $ref: Subscriptions.json#/parameters/ResourceGroupParameter
      - $ref: Subscriptions.json#/parameters/OfferParameter
      - $ref: Subscriptions.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/NewOfferParameter'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Offer'
        200:
          description: OK
          schema:
            $ref: '#/definitions/Offer'
    delete:
      x-ms-examples:
        Delete the specified offer.:
          $ref: ./examples/Offer/Delete.json
      description: Delete the specified offer.
      tags:
      - Offers
      operationId: Offers_Delete
      parameters:
      - $ref: Subscriptions.json#/parameters/SubscriptionIdParameter
      - $ref: Subscriptions.json#/parameters/ResourceGroupParameter
      - $ref: Subscriptions.json#/parameters/OfferParameter
      - $ref: Subscriptions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/metrics
  : get:
      x-ms-examples:
        Get the offer metrics.:
          $ref: ./examples/Offer/Metrics.json
      description: Get the offer metrics.
      tags:
      - Offers
      operationId: Offers_ListMetrics
      parameters:
      - $ref: Subscriptions.json#/parameters/SubscriptionIdParameter
      - $ref: Subscriptions.json#/parameters/ResourceGroupParameter
      - $ref: Subscriptions.json#/parameters/OfferParameter
      - $ref: Subscriptions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: Subscriptions.json#/definitions/MetricList
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/metricDefinitions
  : get:
      x-ms-examples:
        Get the metric definitions.:
          $ref: ./examples/Offer/MetricDefinitions.json
      description: Get the metric definitions.
      tags:
      - Offers
      operationId: Offers_ListMetricDefinitions
      parameters:
      - $ref: Subscriptions.json#/parameters/SubscriptionIdParameter
      - $ref: Subscriptions.json#/parameters/ResourceGroupParameter
      - $ref: Subscriptions.json#/parameters/OfferParameter
      - $ref: Subscriptions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: Subscriptions.json#/definitions/MetricDefinitionList
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/link:
    post:
      x-ms-examples:
        Links a plan to an offer.:
          $ref: ./examples/Offer/Link.json
      description: Links a plan to an offer.
      tags:
      - Offers
      operationId: Offers_Link
      parameters:
      - $ref: Subscriptions.json#/parameters/SubscriptionIdParameter
      - $ref: Subscriptions.json#/parameters/ResourceGroupParameter
      - $ref: Subscriptions.json#/parameters/OfferParameter
      - $ref: '#/parameters/PlanLinkParameter'
      - $ref: Subscriptions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Offer'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/unlink:
    post:
      x-ms-examples:
        Unlink a plan from an offer.:
          $ref: ./examples/Offer/Unlink.json
      description: Unlink a plan from an offer.
      tags:
      - Offers
      operationId: Offers_Unlink
      parameters:
      - $ref: Subscriptions.json#/parameters/SubscriptionIdParameter
      - $ref: Subscriptions.json#/parameters/ResourceGroupParameter
      - $ref: Subscriptions.json#/parameters/OfferParameter
      - $ref: '#/parameters/PlanLinkParameter'
      - $ref: Subscriptions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Offer'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:5:\"Offer\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"Represents
  an offering of services against which a subscription can be created.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:79:\"Represents
  an offering of services against which a subscription can be created.\";s:4:\"$ref\";s:29:\"#/definitions/OfferProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"Subscriptions.json#/definitions/Resource\";}}}s:15:\"OfferProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Represents
  an offering of services against which a subscription can be created.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the Offer.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Display
  name of offer.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Description
  of offer.\";s:4:\"type\";s:6:\"string\";}s:19:\"externalReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"External
  reference identifier.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Offer
  accessibility state.\";s:4:\"$ref\";s:32:\"#/definitions/AccessibilityState\";}s:17:\"subscriptionCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Current
  subscription count.\";s:4:\"type\";s:7:\"integer\";}s:26:\"maxSubscriptionsPerAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Maximum
  subscriptions per account.\";s:4:\"type\";s:7:\"integer\";}s:11:\"basePlanIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Identifiers
  of the base plans that become available to the tenant immediately when a tenant
  subscribes to the offer.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"addonPlans\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"References
  to add-on plans that a tenant can optionally acquire as a part of the offer.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AddonPlanDefinition\";}}}}s:18:\"AccessibilityState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Represents
  the state of the offer\";s:4:\"enum\";a:3:{i:0;s:7:\"Private\";i:1;s:6:\"Public\";i:2;s:14:\"Decommissioned\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:18:\"AccessibilityState\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  offer or plan is private. Only an Admin can see and manage it.\";s:4:\"name\";s:7:\"Private\";s:5:\"value\";s:7:\"Private\";}i:1;O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  offer or plan is public. Users can see and self-subscribe to it.\";s:4:\"name\";s:6:\"Public\";s:5:\"value\";s:6:\"Public\";}i:2;O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  offer or plan is decommissioned. Current subscriptions can still consume it but
  new subscriptions cannot.\";s:4:\"name\";s:14:\"Decommissioned\";s:5:\"value\";s:14:\"Decommissioned\";}}}}s:19:\"AddonPlanDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Contains
  the name of the desired plan to be linked or unlinked from an offer.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"planId\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Plan
  identifier.\";s:4:\"type\";s:6:\"string\";}s:19:\"maxAcquisitionCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Maximum
  number of instances that can be acquired by a single subscription. If not specified,
  the assumed value is 1.\";s:4:\"type\";s:7:\"integer\";}}}s:9:\"OfferList\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"List
  of offers.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"List
  of offers.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Offer\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"URI
  to next page.\";}}}s:18:\"PlanLinkDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Definition
  for linking and unlinking plans to offers.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"planName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the plan.\";s:4:\"type\";s:6:\"string\";}s:12:\"planLinkType\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Type
  of the plan link.\";s:4:\"$ref\";s:26:\"#/definitions/PlanLinkType\";}s:19:\"maxAcquisitionCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  maximum acquisition count by subscribers\";s:4:\"type\";s:7:\"integer\";}}}s:12:\"PlanLinkType\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Plan
  link type.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:4:\"Base\";i:2;s:5:\"Addon\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"PlanLinkType\";s:13:\"modelAsString\";b:1;}}}"
...
