---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:36:\"The Admin Gallery
  Management Client.\";s:5:\"title\";s:23:\"GalleryManagementClient\";s:7:\"version\";s:10:\"2015-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:171:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/gallery/Microsoft.Gallery.Admin/preview/2015-04-01/Gallery.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:16:\"azsadmin-Gallery\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: adminmanagement.local.azurestack.external
paths:
  /providers/Microsoft.Gallery.Admin/operations:
    get:
      operationId: Operations_List
      parameters:
      - default: "2016-05-01"
        description: Client API Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationList'
      summary: Gets the available gallery admin operations.
      tags:
      - Operations
      x-ms-examples:
        Gets the available gallery admin operations.:
          parameters:
            api-version: "2016-05-01"
          responses:
            200:
              body:
                value:
                - display:
                    description: Gets the gallery items.
                    operation: Get Gallery Items
                    provider: Microsoft Gallery Administration Service
                    resource: Gallery Item
                  name: Microsoft.Gallery.Admin/galleryItems/read
                - display:
                    description: Uploads a gallery item.
                    operation: Upload Gallery Item
                    provider: Microsoft Gallery Administration Service
                    resource: Gallery Item
                  name: Microsoft.Gallery.Admin/galleryItems/action
                - display:
                    description: Deletes a gallery item.
                    operation: Delete Gallery Item
                    provider: Microsoft Gallery Administration Service
                    resource: Gallery Item
                  name: Microsoft.Gallery.Admin/galleryItems/delete
                - display:
                    description: Lists the supported operations.
                    operation: List Operations
                    provider: Microsoft Gallery Administration Service
                    resource: Operation
                  name: Microsoft.Gallery.Admin/operations/read
      x-ms-pageable: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Represents
  a REST operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/OperationDisplayDefinition\";s:11:\"description\";s:37:\"Information
  about the REST operation.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Name
  of the REST operation.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Origin
  of the REST operation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"OperationDisplayDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Information
  about the REST operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Description
  of the REST operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Type
  of REST operation.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Provider
  of the REST operation.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Resource
  returned by the REST operation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"OperationList\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  of operations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  of operations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Base
  Resource Object.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"URI
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Location
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Name
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:24:\"List
  of key-value pairs.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Type
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}"
...
