---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Network admin operation
  endpoints and objects.\";s:5:\"title\";s:28:\"NetworkAdminManagementClient\";s:7:\"version\";s:10:\"2015-06-15\";}"
host: adminmanagement.local.azurestack.external
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminOverview:
    get:
      x-ms-examples:
        Get overview of the state of the network resource provider:
          $ref: ./examples/ResourceProviderState/Get.json
      tags:
      - Network
      description: Get an overview of the state of the network resource provider.
      operationId: ResourceProviderState_Get
      parameters:
      - $ref: Network.json#/parameters/SubscriptionIdParameter
      - $ref: Network.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AdminOverview'
  /providers/Microsoft.Network.Admin/operations:
    get:
      x-ms-examples:
        Returns the list of support REST operations.:
          $ref: ./examples/Operations/List.json
      description: Returns the list of support REST operations.
      tags:
      - Network
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationList'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Base
  Resource Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"URI
  of the resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Name
  of the resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Type
  of resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Region
  location of resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of key value pairs.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"x-ms-azure-resource\";b:1;}s:9:\"Operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Describes
  the supported REST operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"The
  name of the operation being performed on this particular object. This name should
  match the name that appears in RBAC or the event service.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"display\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Contains
  the localized display information for this particular operation / action.\";s:4:\"$ref\";s:21:\"#/definitions/Display\";s:8:\"readOnly\";b:1;}}}s:7:\"Display\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Contains
  the localized display information for this particular operation / action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"The
  localized friendly form of the resource provider name \u2013 it is expected to also
  include the publisher/company responsible. It should use Title Casing and begin
  with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\"
  or \"Microsoft Compute.\"\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  localized, friendly version of the resource type related to this action or operation;
  the resource type should match the public documentation for the resource provider.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  localized, friendly name for the operation. Use the name as it will displayed to
  the user.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"The
  localized, friendly description for the operation. The description will be displayed
  to the user. It should be thorough and concise for used in both tooltips and detailed
  views.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:13:\"OperationList\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"List
  of Operations\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Array
  of operations\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"URI
  to the next page of operations.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:19:\"ProvisionedResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Objects
  which have a provisioning state.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  provisioning state.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:14:\"TenantResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"These
  resources are utilized by a single tenant.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"subscriptionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  subscription ID.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"tenantResourceUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  tenant resource URI.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:13:\"AdminOverview\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Admin
  overview resource object.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Admin
  overview properties.\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:37:\"#/definitions/AdminOverviewProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}}s:23:\"AdminOverviewProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Admin
  overview properties.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  provisioning state.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:20:\"virtualNetworkHealth\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Health
  for all virtual networks as reported by the NC.\";s:4:\"$ref\";s:41:\"#/definitions/AdminOverviewResourceHealth\";}s:21:\"loadBalancerMuxHealth\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Health
  for all LB MUXes as reported by the NC.\";s:4:\"$ref\";s:41:\"#/definitions/AdminOverviewResourceHealth\";}s:20:\"virtualGatewayHealth\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Health
  for all gateways as reported by the NC.\";s:4:\"$ref\";s:41:\"#/definitions/AdminOverviewResourceHealth\";}s:20:\"publicIpAddressUsage\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Total
  Public IP usage as reported by the NC.\";s:4:\"$ref\";s:40:\"#/definitions/AdminOverviewResourceUsage\";}s:14:\"backendIpUsage\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Total
  Backend IP usage as reported by the NC.\";s:4:\"$ref\";s:40:\"#/definitions/AdminOverviewResourceUsage\";}s:15:\"macAddressUsage\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Total
  MAC address usage as reported by the NC.\";s:4:\"$ref\";s:40:\"#/definitions/AdminOverviewResourceUsage\";}}}s:27:\"AdminOverviewResourceHealth\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Resource
  health information.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"totalResourceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Total
  number of resources.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;}s:20:\"healthyResourceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Number
  of resources in the success state.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;}s:18:\"errorResourceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Number
  of resources in the error state.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;}s:20:\"warningResourceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Number
  of resources in the warning state.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;}s:18:\"healthUnknownCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Number
  of resources in an unknown state.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;}}}s:26:\"AdminOverviewResourceUsage\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Resource
  usage information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"totalResourceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Total
  number of resources.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;}s:18:\"inUseResourceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Number
  of resources in use.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;}}}}"
...
