---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:10:\"CBRAIN API\";s:11:\"description\";s:49:\"REST
  API for interacting with the CBRAIN Platform\";s:7:\"version\";s:5:\"5.0.2\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"GNU
  Public License, Version 3\";s:3:\"url\";s:39:\"https://opensource.org/licenses/GPL-3.0\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"CBRAIN
  Development Team\";s:3:\"url\";s:30:\"https://github.com/aces/cbrain\";}}"
host: portal.cbrain.mcgill.ca
basePath: /
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:33:\"Unique
  numerical ID for the user.\";}s:5:\"login\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"UNIX-style
  username.\";}s:8:\"password\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"password\";s:11:\"description\";s:14:\"Password
  field\";}s:21:\"password_confirmation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"password\";s:11:\"description\";s:45:\"Password
  field (generally same as 'password')\";}s:9:\"full_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Full
  name of the user.\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"email
  address of the user.\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"city
  where the user is located\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"country
  where the user is located\";}s:9:\"time_zone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"time-zone
  (should make it this an enum)\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:9:\"CoreAdmin\";i:1;s:11:\"SiteManager\";i:2;s:10:\"NormalUser\";}s:7:\"default\";s:10:\"NormalUser\";s:11:\"description\";s:39:\"Classification
  of user permission level\";}s:7:\"site_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:105:\"ID
  of the site affiliation for the user. If this is not specified, the user will go
  into the default Site\";}s:17:\"last_connected_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"dateTime\";s:11:\"description\";s:51:\"time
  of last connection by the user. (can be empty)\";}s:14:\"account_locked\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:37:\"Whether
  or not the account is locked.\";}}}s:10:\"ToolConfig\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"Unique
  numerical ID for the ToolConfig.\";}s:12:\"version_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"the
  version name of the configuration\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"a
  description of the configuration\";}s:7:\"tool_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:53:\"the
  ID of the tool associated with this configuration\";}s:11:\"bourreau_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:75:\"The
  ID of the execution server where this tool\nconfiguration is available.\n\";}s:9:\"env_array\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"additional
  environment variables\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"script_prologue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"A
  piece of bash script configured by the administrator to\nrun before the tool is
  launched.\n\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:59:\"the
  ID of the project controlling access to this ToolConfig\";}s:5:\"ncpus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:85:\"A
  hint at how many CPUs the CBRAIN task will allocate\nto run this tool configuration\n\";}}}s:3:\"Tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:29:\"Unique
  identifier for the tag\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"Name
  of the tag. This holds all the information about what the tag is supposed to indicate
  about your files.\n\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"The
  ID of the user that the tag belongs to.\n\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:45:\"The
  ID of the group that the tag belongs to.\n\";}}}s:8:\"Bourreau\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:37:\"Unique
  numerical ID for the bourreau.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Name
  given by the creator to the bourreau.\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:34:\"ID
  of the creator of the bourreau.\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"ID
  of the group allowed to use the bourreau.\";}s:6:\"online\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:6:\"online\";}s:9:\"read_only\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:63:\"Specifies
  whether the bourreau is read-only or can be modified.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Description
  of the bourreau.\";}}}s:12:\"DataProvider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:32:\"Unique
  ID for the Data Provider.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Name
  of the Data Provider.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:166:\"Type
  of Data Provider, which usually indicates whether it is a local Data Provider, has
  a flat internal directory structure, or is meant for file uploading to CBRAIN.\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"Creator
  and owner of the Data Provider.\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:54:\"ID
  of the group that has access to this Data Provider.\";}s:6:\"online\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:91:\"Boolean
  variable that indicates whether the system hosting the Data Provider is accessible.\";}s:9:\"read_only\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:76:\"Boolean
  variable that indicates whether the Data Provider can be written to.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Description
  of the Data Provider.\";}s:13:\"time_of_death\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"dateTime\";s:11:\"description\";s:124:\"The
  time, in the time zone of the system that hosts the Data Provider, that the Data
  Provider last successfully transmitted.\";}s:12:\"not_syncable\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:152:\"Boolean
  variable that indicates that the data residing on the Data Provider is not available
  to be transferred to any caches within the CBRAIN platform.\";}s:9:\"time_zone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Time
  zone of the system that hosts the Data Provider.\";}}}s:5:\"Group\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:23:\"ID
  number of the group.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of the group.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Type
  of group.\";}s:7:\"site_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:41:\"ID
  of the site associated with the group.\";}s:10:\"creator_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"ID
  of the User who created the group.\n\";}s:9:\"invisible\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:157:\"Specifies
  whether or not the group is visible to Normal Users.\nInvisible groups exist to
  specify levels of access to Userfiles,\nDataProviders and Bourreaux.\n\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Description
  of the group.\";}}}s:8:\"Userfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:22:\"ID
  number of the file.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Name
  of the file that the Userfile represents\";}s:4:\"size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"Number
  of bytes used to store the file.\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:28:\"ID
  of the owner of the file.\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:60:\"ID
  of the parent Userfile, if any exists, or null otherwise.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:231:\"Type
  of the file. This is important in determining what tools can be run on the file.
  The most generic file types, are the Single File, which represents one file, and
  the File Collection, which represents a directory full of files.\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:75:\"ID
  of the group that owns the file, which determines its visibility status.\";}s:16:\"data_provider_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:229:\"ID
  of the Data Provider that is hosting the persistent copy of the file. It may exist
  in caches across the systems that make up CBRAIN, as copies of the file are made
  in order to run scientific programs on them on remote systems.\";}s:14:\"group_writable\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:111:\"Boolean
  variable that specifies whether members of the owner group have access to modify
  or overwrite the file.\";}s:9:\"num_files\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:82:\"Number
  of files that the Userfiles represents. For Single Files, this is always 1.\";}s:6:\"hidden\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:89:\"Boolean
  variable that specifies whether this file is hidden or not in the user interface.\";}s:9:\"immutable\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:85:\"Boolean
  variable that specifies whether any user can modify the contents of the file.\";}s:8:\"archived\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:98:\"Boolean
  variable that specifies whether the file is available, uncompressed, or has been
  archived.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Description
  of the file.\";}}}s:10:\"CbrainTask\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:31:\"Unique
  identifier for the Task.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  task type\";}s:8:\"batch_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:160:\"ID
  of the batch this task was launched as part of. Batches of tasks consist of the
  same task, with the same parameters, being run on many different input files.\";}s:13:\"cluster_jobid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"ID
  of the task on the cluster associated with this task.\";}s:15:\"cluster_workdir\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Path
  on the cluster to the working directory.\";}s:6:\"params\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"Parameters
  used as inputs to the scientific calculation associated with the task.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Current
  status of the task.\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"dateTime\";s:11:\"description\";s:13:\"Date
  created.\";}s:10:\"updated_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"dateTime\";s:11:\"description\";s:13:\"Last
  updated.\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"ID
  of the User who created the Task.\";}s:11:\"bourreau_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"ID
  of the Bourreau the Task was launched on.\";}s:11:\"description\";O:8:\"stdClass\":1:{s:11:\"description\";s:24:\"Description
  of the Task.\";}s:13:\"prerequisites\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"List
  of prerequisites.\";}s:12:\"share_wd_tid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"share_wd_tid\";}s:10:\"run_number\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:57:\"The
  number of attempts that it has taken to run the task.\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:47:\"ID
  of the group that this task is being run in.\";}s:14:\"tool_config_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:192:\"ID
  number that specifies which Tool Config to use. The Tool Config specifies environment
  variables and other system-specific scripts necessary for the Task to be run in
  the target environment.\";}s:5:\"level\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:5:\"level\";}s:4:\"rank\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:4:\"rank\";}s:24:\"results_data_provider_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:91:\"ID
  of the Data Provider that contains the Userfile that represents the results of the
  task.\";}s:20:\"cluster_workdir_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:21:\"size
  of workdirectory\";}s:16:\"workdir_archived\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:161:\"Boolean
  variable that indicates whether the working directory of the task is available on
  the processing server or has been archived and is no longer accessible.\";}s:27:\"workdir_archive_userfile_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:115:\"ID
  of the userfile created as part of the archival process, if the working directory
  of the task has been archived.\";}}}s:4:\"Tool\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:31:\"Unique
  identifier for the Tool.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of the Tool.\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:20:\"Creator
  of the Tool.\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:34:\"Group
  that has access to the Tool.\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Category
  of the Tool\";}s:22:\"cbrain_task_class_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"The
  name of the Task class that will be created when jobs are launched using the Tool.\";}s:16:\"select_menu_text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Text
  that appears for Tool selection.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Description
  of the Tool.\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"URL
  of the website that describes the Tool and possibly has code for the Tool.\";}}}s:8:\"FileInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"userfile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:18:\"id
  of the userfile\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"the
  base filename\";}s:5:\"group\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"string
  representation of gid, the name of the group\";}s:3:\"gid\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:28:\"numeric
  group id of the file\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"string
  representation of uid, the name of the owner\";}s:3:\"uid\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:20:\"numeric
  uid of owner\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:38:\"an
  int interpreted in octal, e.g. 0640\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:21:\"size
  of file in bytes\";}s:8:\"state_ok\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:61:\"flag
  that tell whether or not it is OK to register/unregister\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"a
  message to give more information about the state_ok flag\";}s:13:\"symbolic_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"one
  of :regular, :symlink, :directory\";}s:5:\"atime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"access
  time (an int, since Epoch)\";}s:5:\"mtime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"modification
  time (an int, since Epoch)\";}}}}"
...
