---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:10:\"CBRAIN API\";s:11:\"description\";s:44:\"API
  for interacting with the CBRAIN Platform\";s:7:\"version\";s:5:\"5.1.0\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"GNU
  Public License, Version 3\";s:3:\"url\";s:39:\"https://opensource.org/licenses/GPL-3.0\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"CBRAIN
  Development Team\";s:3:\"url\";s:30:\"https://github.com/aces/cbrain\";}}"
host: portal.cbrain.mcgill.ca
basePath: /
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:11:\"SessionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"user_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:16:\"cbrain_api_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:33:\"Unique
  numerical ID for the user.\";}s:5:\"login\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"UNIX-style
  username.\";}s:8:\"password\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"password\";s:11:\"description\";s:14:\"Password
  field\";}s:21:\"password_confirmation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"password\";s:11:\"description\";s:45:\"Password
  field (generally same as 'password')\";}s:9:\"full_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Full
  name of the user.\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"email
  address of the user.\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"city
  where the user is located\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"country
  where the user is located\";}s:9:\"time_zone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"time-zone
  (should make it this an enum)\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"NormalUser\";s:11:\"description\";s:39:\"Classification
  of user permission level\";}s:7:\"site_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:40:\"ID
  of the site affiliation for the user.\";}s:17:\"last_connected_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"dateTime\";s:11:\"description\";s:51:\"time
  of last connection by the user. (can be empty)\";}s:14:\"account_locked\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:37:\"Whether
  or not the account is locked.\";}}}s:10:\"ToolConfig\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"Unique
  numerical ID for the ToolConfig.\";}s:12:\"version_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"the
  version name of the configuration\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"a
  description of the configuration\";}s:7:\"tool_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:53:\"the
  ID of the tool associated with this configuration\";}s:11:\"bourreau_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:75:\"The
  ID of the execution server where this tool\nconfiguration is available.\n\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:59:\"the
  ID of the project controlling access to this ToolConfig\";}s:5:\"ncpus\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:85:\"A
  hint at how many CPUs the CBRAIN task will allocate\nto run this tool configuration\n\";}}}s:3:\"Tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:29:\"Unique
  identifier for the tag\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"Name
  of the tag. This holds all the information about what the tag is supposed to indicate
  about your files.\n\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"The
  ID of the user that the tag belongs to.\n\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:45:\"The
  ID of the group that the tag belongs to.\n\";}}}s:8:\"Bourreau\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:37:\"Unique
  numerical ID for the bourreau.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Name
  given by the creator to the bourreau.\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:34:\"ID
  of the creator of the bourreau.\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"ID
  of the group allowed to use the bourreau.\";}s:6:\"online\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:6:\"online\";}s:9:\"read_only\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:63:\"Specifies
  whether the bourreau is read-only or can be modified.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Description
  of the bourreau.\";}}}s:12:\"DataProvider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:32:\"Unique
  ID for the Data Provider.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Name
  of the Data Provider.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:166:\"Type
  of Data Provider, which usually indicates whether it is a local Data Provider, has
  a flat internal directory structure, or is meant for file uploading to CBRAIN.\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"Creator
  and owner of the Data Provider.\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:54:\"ID
  of the group that has access to this Data Provider.\";}s:6:\"online\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:91:\"Boolean
  variable that indicates whether the system hosting the Data Provider is accessible.\";}s:9:\"read_only\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:76:\"Boolean
  variable that indicates whether the Data Provider can be written to.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Description
  of the Data Provider.\";}s:12:\"is_browsable\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}s:15:\"is_fast_syncing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}s:23:\"allow_file_owner_change\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}s:36:\"content_storage_shared_between_users\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}}}s:5:\"Group\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:23:\"ID
  number of the group.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of the group.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Description
  of the group.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Type
  of group.\";}s:7:\"site_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:41:\"ID
  of the site associated with the group.\";}s:10:\"creator_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"ID
  of the User who created the group.\n\";}s:9:\"invisible\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:157:\"Specifies
  whether or not the group is visible to Normal Users.\nInvisible groups exist to
  specify levels of access to Userfiles,\nDataProviders and Bourreaux.\n\";}}}s:8:\"Userfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:22:\"ID
  number of the file.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Name
  of the file that the Userfile represents\";}s:4:\"size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"Number
  of bytes used to store the file.\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:28:\"ID
  of the owner of the file.\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:60:\"ID
  of the parent Userfile, if any exists, or null otherwise.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:231:\"Type
  of the file. This is important in determining what tools can be run on the file.
  The most generic file types, are the Single File, which represents one file, and
  the File Collection, which represents a directory full of files.\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:75:\"ID
  of the group that owns the file, which determines its visibility status.\";}s:16:\"data_provider_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:229:\"ID
  of the Data Provider that is hosting the persistent copy of the file. It may exist
  in caches across the systems that make up CBRAIN, as copies of the file are made
  in order to run scientific programs on them on remote systems.\";}s:14:\"group_writable\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:111:\"Boolean
  variable that specifies whether members of the owner group have access to modify
  or overwrite the file.\";}s:9:\"num_files\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:82:\"Number
  of files that the Userfiles represents. For Single Files, this is always 1.\";}s:6:\"hidden\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:89:\"Boolean
  variable that specifies whether this file is hidden or not in the user interface.\";}s:9:\"immutable\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:85:\"Boolean
  variable that specifies whether any user can modify the contents of the file.\";}s:8:\"archived\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:98:\"Boolean
  variable that specifies whether the file is available, uncompressed, or has been
  archived.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Description
  of the file.\";}}}s:10:\"CbrainTask\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:31:\"Unique
  identifier for the Task.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  task type\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"ID
  of the User who created the Task.\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:47:\"ID
  of the group that this task is being run in.\";}s:11:\"bourreau_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"ID
  of the Bourreau the Task was launched on.\";}s:14:\"tool_config_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:192:\"ID
  number that specifies which Tool Config to use. The Tool Config specifies environment
  variables and other system-specific scripts necessary for the Task to be run in
  the target environment.\";}s:8:\"batch_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:160:\"ID
  of the batch this task was launched as part of. Batches of tasks consist of the
  same task, with the same parameters, being run on many different input files.\";}s:6:\"params\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:81:\"Parameters
  used as inputs to the scientific calculation associated with the task.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Current
  status of the task.\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"dateTime\";s:11:\"description\";s:13:\"Date
  created.\";}s:10:\"updated_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"dateTime\";s:11:\"description\";s:13:\"Last
  updated.\";}s:10:\"run_number\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:43:\"The
  number of times that this task was run.\";}s:24:\"results_data_provider_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:91:\"ID
  of the Data Provider that contains the Userfile that represents the results of the
  task.\";}s:20:\"cluster_workdir_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"size
  of workdirectory\";}s:16:\"workdir_archived\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:161:\"Boolean
  variable that indicates whether the working directory of the task is available on
  the processing server or has been archived and is no longer accessible.\";}s:27:\"workdir_archive_userfile_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:115:\"ID
  of the userfile created as part of the archival process, if the working directory
  of the task has been archived.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Description
  of the Task.\";}}}s:4:\"Tool\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:31:\"Unique
  identifier for the Tool.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of the Tool.\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:20:\"Creator
  of the Tool.\";}s:8:\"group_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:34:\"Group
  that has access to the Tool.\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Category
  of the Tool\";}s:22:\"cbrain_task_class_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"The
  name of the Task class that will be created when jobs are launched using the Tool.\";}s:16:\"select_menu_text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Text
  that appears for Tool selection.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Description
  of the Tool.\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"URL
  of the website that describes the Tool and possibly has code for the Tool.\";}}}s:16:\"RegistrationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"notice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"newly_registered_userfiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Userfile\";}}s:31:\"previously_registered_userfiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Userfile\";}}s:20:\"userfiles_in_transit\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Userfile\";}}s:16:\"num_unregistered\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"num_erased\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:8:\"FileInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"userfile_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"id
  of the userfile\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"the
  base filename\";}s:5:\"group\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"string
  representation of gid, the name of the group\";}s:3:\"gid\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:28:\"numeric
  group id of the file\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"string
  representation of uid, the name of the owner\";}s:3:\"uid\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:20:\"numeric
  uid of owner\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"an
  int interpreted in octal, e.g. 0640\";}s:4:\"size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"size
  of file in bytes\";}s:8:\"state_ok\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:61:\"flag
  that tell whether or not it is OK to register/unregister\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"a
  message to give more information about the state_ok flag\";}s:13:\"symbolic_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"one
  of :regular, :symlink, :directory\";}s:5:\"atime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"access
  time (an int, since Epoch)\";}s:5:\"mtime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"modification
  time (an int, since Epoch)\";}}}s:10:\"UserModReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:24:\"no_password_reset_needed\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"For
  new user accounts, the user must reset the password at first login\";s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:0;}s:20:\"force_password_reset\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"For
  existing accounts, boolean to force a password change\";s:4:\"type\";s:7:\"boolean\";}}}s:9:\"TagModReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"tag\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}}}s:11:\"GroupModReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}}s:14:\"UserfileModReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"userfile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Userfile\";}}}s:16:\"CbrainTaskModReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"cbrain_task\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CbrainTask\";}}}s:20:\"MultiUserfilesModReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"file_ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:26:\"data_provider_id_for_mv_cp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"specified_filename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"The
  name of the archive file that the Userfiles will be compressed into when downloading.\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:371:\"Used
  when affecting the synchronization status of files. Either \"sync_local\" or \"all_newer\".
  \"sync_local\" will ensure that the version of the file in the CBRAIN portal cache
  is the most recent version that exists on the Data Provider. \"all_newer\" will
  ensure that ALL caches known to CBRAIN are updated with the most recent version
  of the files in the host Data Provider.\";s:7:\"default\";s:10:\"sync_local\";}}}s:23:\"MultiRegistrationModReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"basenames\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"filetypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:251:\"An
  array containing the filetypes associated with the files to register; each element
  must be a string containing the cbrain file type, a single dash, and then a repeat
  of the basename found in the basenames parameters. For example, \"TextFile-abc.txt\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"as_user_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:42:\"The
  ID of the user to unregister files as.\";}s:6:\"delete\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:54:\"Specifies
  to delete the files once when unregistering.\";s:7:\"default\";b:0;}}}}"
...
