---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}s:5:\"title\";s:10:\"Clustering\";s:7:\"version\";s:2:\"v1\";s:9:\"x-service\";s:10:\"clustering\";}"
host: developer.openstack.org
basePath: /
paths: ~
produces:
- application/json
definitions: !php/object "O:8:\"stdClass\":25:{s:13:\"clusterAction\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"action\";O:8:\"stdClass\":3:{s:11:\"description\";s:1074:\"The
  action to trigger.\n\nEach action takes a different set of parameters.\n\nSupported
  actions include:\n\n- ``add_nodes`` Add one or more nodes, as a list, to a cluster.
  For\n  example:\n\n- ``del_nodes`` Delete one or more nodes, as a list, from a cluster.\n
  \ For example:\n\n- ``scale_out`` Enlarge the cluster by ``count`` number of nodes.\n
  \ For example:\n\n- ``scale_in`` Shrink the cluster by ``count`` number of nodes.
  For\n  example:\n\n- ``resize`` Change the size of the cluster by ``adjustment_type``,\n
  \ ``number``, ``min_step``, ``min_size``, ``max_size``, or\n  ``strict`` values.
  For example:\n\n- ``check`` Check the health status of a cluster. For example:\n\n-
  ``recover`` Recover a cluster from its current unhealthy status.\n  For example:\n\n-
  ``policy_attach`` Attach a policy to a cluster. The request body\n  contains parameters
  for the policy attachment:\n\n- ``policy_detach`` Detach a policy from a cluster.
  The request body\n  contains the ID of the policy:\n\n- ``policy_update`` Update
  the policy attachment. Specify the policy\n  ID and property settings in the request
  body:\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"action\";}s:4:\"type\";s:6:\"object\";}s:13:\"createCluster\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";O:8:\"stdClass\":1:{s:7:\"cluster\";O:8:\"stdClass\":7:{s:16:\"desired_capacity\";i:0;s:8:\"max_size\";i:-1;s:8:\"metadata\";O:8:\"stdClass\":0:{}s:8:\"min_size\";i:0;s:4:\"name\";s:12:\"test_cluster\";s:10:\"profile_id\";s:7:\"mystack\";s:7:\"timeout\";N;}}}s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  map of cluster details.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:16:\"desired_capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  capacity, or initial size, of the cluster. Default is 0.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"integer\";}s:8:\"max_size\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"The
  maximum size of the cluster. Default is ``-1``, which indicates\nthat no upper limit
  exists for the cluster size.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"integer\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  set of key and value pairs to associate with the cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:8:\"min_size\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  minimum size of the cluster. Default is 0.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  name of the cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  UUID of the parent cluster if the cluster is a nested cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"profile_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  ID or name of the profile for the cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  timeout value, in minutes, for cluster creation. Default is 60.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:7:\"cluster\";i:1;s:4:\"name\";i:2;s:10:\"profile_id\";i:3;s:16:\"desired_capacity\";}s:4:\"type\";s:6:\"object\";}s:17:\"createCluster_202\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"A
  map with the ``id``, ``name``, ``status``, and other fields for\nthe cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:7:\"cluster\";}s:4:\"type\";s:6:\"object\";}s:10:\"createNode\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";O:8:\"stdClass\":1:{s:4:\"node\";O:8:\"stdClass\":5:{s:10:\"cluster_id\";N;s:8:\"metadata\";O:8:\"stdClass\":0:{}s:4:\"name\";s:7:\"node009\";s:10:\"profile_id\";s:7:\"mystack\";s:4:\"role\";s:6:\"master\";}}}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"cluster_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  ID or shortID or name of the cluster the node lives in. If not\nspecified, the node
  created will be an orphaned node.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  set of key and value pairs to associate with the node.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  name of the node to be created.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"profile_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  ID or shortID or name of the profile for the node.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  string indicating the role this node plays in a cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:10:\"profile_id\";}s:4:\"type\";s:6:\"object\";}s:14:\"createNode_202\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"node\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Detailed
  data for the node, such as ``id``, ``name``, ``status``,\nand so on.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"node\";}s:4:\"type\";s:6:\"object\";}s:12:\"createPolicy\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"sp001\";s:4:\"spec\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"adjustment\";O:8:\"stdClass\":3:{s:8:\"min_step\";i:1;s:6:\"number\";i:1;s:4:\"type\";s:18:\"CHANGE_IN_CAPACITY\";}s:5:\"event\";s:16:\"CLUSTER_SCALE_IN\";}s:4:\"type\";s:21:\"senlin.policy.scaling\";s:7:\"version\";s:3:\"1.0\";}}}}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"cooldown\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  cooldown value, in seconds.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"integer\";}s:5:\"level\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"An
  integer value that represents the default enforcement level.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  name for the policy.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"A
  map with keys and values that specify the details for the policy\nto be created:\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:4:\"spec\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  detailed specification based on the policy type.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:3:{i:0;s:6:\"policy\";i:1;s:4:\"name\";i:2;s:4:\"spec\";}s:4:\"type\";s:6:\"object\";}s:16:\"createPolicy_201\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:666:\"A
  map with a set of keys and values that provides the details of\nthe policy.\n\n
  **Policy create response**\n\n- ``id`` An unique ID for the newly created policy.\n\n-
  ``name`` Name for the newly created policy.\n\n- ``type`` Name of policy type referenced
  by the policy.\n\n- ``spec`` Detailed specification based on the policy type.\n\n-
  ``created_at`` The UTC date and time stamp when the policy was\n  created.\n\n-
  ``updated_at`` The UTC date and time stamp when the policy was\n  updated.\n\n-
  ``domain`` The ID of the domain to which the profile belongs.\n\n- ``project`` The
  ID of the project to which the profile belongs.\n\n- ``user`` The ID of the user
  who created the profile.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:6:\"policy\";}s:4:\"type\";s:6:\"object\";}s:13:\"createProfile\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";O:8:\"stdClass\":1:{s:7:\"profile\";O:8:\"stdClass\":3:{s:8:\"metadata\";O:8:\"stdClass\":0:{}s:4:\"name\";s:10:\"test_prof1\";s:4:\"spec\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"disable_rollback\";b:0;s:11:\"environment\";O:8:\"stdClass\":1:{s:17:\"resource_registry\";O:8:\"stdClass\":1:{s:14:\"os.heat.server\";s:16:\"OS::Heat::Server\";}}s:5:\"files\";O:8:\"stdClass\":1:{s:26:\"file:///usr/test_script.sh\";s:47:\"#!/bin/bash\n\necho
  \"this is a test script file\"\n\";}s:10:\"parameters\";O:8:\"stdClass\":0:{}s:8:\"template\";O:8:\"stdClass\":4:{s:21:\"heat_template_version\";s:10:\"2014-10-16\";s:7:\"outputs\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:8:\"get_attr\";a:2:{i:0;s:6:\"random\";i:1;s:5:\"value\";}}}}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"file\";O:8:\"stdClass\":2:{s:7:\"default\";O:8:\"stdClass\":1:{s:8:\"get_file\";s:26:\"file:///usr/test_script.sh\";}s:4:\"type\";s:6:\"string\";}}s:9:\"resources\";O:8:\"stdClass\":1:{s:6:\"random\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"length\";i:64;}s:4:\"type\";s:22:\"OS::Heat::RandomString\";}}}s:7:\"timeout\";i:60;}s:4:\"type\";s:13:\"os.heat.stack\";s:7:\"version\";s:3:\"1.0\";}}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"metadata\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"A
  list of key and value pairs to associate with the profile.\";s:6:\"format\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name for the profile.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"spec\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Detailed
  specification based on the chosen profile type.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"spec\";}s:4:\"type\";s:6:\"object\";}s:17:\"createProfile_201\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"profile\";O:8:\"stdClass\":3:{s:11:\"description\";s:685:\"A
  dictionary with profile details.\n\n **Profile create response**\n\n- ``id`` An
  unique ID for the profile.\n\n- ``name`` Name for the profile.\n\n- ``type`` Name
  of policy type referenced by the profile.\n\n- ``spec`` Detailed specification based
  on the profile type.\n\n- ``metadata`` A list of key and value pairs that are attached
  to\n  the profile.\n\n- ``created_at`` The UTC date and time stamp when the profile
  was\n  created.\n\n- ``updated_at`` The UTC date and time stamp when the profile
  was\n  updated.\n\n- ``domain`` The ID of the domain to which the profile belongs.\n\n-
  ``project`` The ID of the project to which the profile belongs.\n\n- ``user`` The
  ID of the user who created the profile.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:7:\"profile\";}s:4:\"type\";s:6:\"object\";}s:14:\"createReceiver\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";O:8:\"stdClass\":1:{s:8:\"receiver\";O:8:\"stdClass\":5:{s:6:\"action\";s:17:\"CLUSTER_SCALE_OUT\";s:10:\"cluster_id\";s:36:\"cf99d754-3cdc-47f4-8a29-cd14f02f5436\";s:4:\"name\";s:15:\"cluster_inflate\";s:6:\"params\";O:8:\"stdClass\":1:{s:5:\"count\";s:1:\"1\";}s:4:\"type\";s:7:\"webhook\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"receiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:747:\"A
  map with detailed data for the receiver.\n\n **Receiver Create Request Body**\n\n-
  ``name`` Name for the receiver (optional).\n\n- ``cluster_id`` Name, ID, or short
  ID of the object targeted by the\n  receiver (required).\n\n- ``type`` The type
  of the receiver where the only valid value is\n  ``webhook`` currently (required).\n\n-
  ``action`` The action to initiate when the receiver is triggered.\n  A valid value
  should be the name of an action that can be applied\n  on a cluster.\n\n- ``actor``
  A map of key and value pairs to use for authentication.\n  If omitted, the requester
  is assumed to be the actor (optional).\n\n- ``params`` A map of key and value pairs
  to use for action\n  creation. Some actions might require certain input parameters\n
  \ (optional).\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"receiver\";}s:4:\"type\";s:6:\"object\";}s:18:\"createReceiver_201\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"receiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  receiver details, such as ``id``, ``name``, ``action``, and so\non.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"receiver\";}s:4:\"type\";s:6:\"object\";}s:16:\"listClusters_200\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"clusters\";O:8:\"stdClass\":4:{s:11:\"description\";s:173:\"List
  of cluster records. Each record contains fields such as\n``created_at``, ``id``,
  ``name``, ``profile_id``, ``size``,\n``nodes``, ``status``, ``status_reason``, and
  so on.\";s:6:\"format\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"clusters\";}s:4:\"type\";s:6:\"object\";}s:13:\"listNodes_200\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"nodes\";O:8:\"stdClass\":4:{s:11:\"description\";s:223:\"List
  of node records. Each record contains fields such as ``id``,\n``cluster_id``, ``name``,
  ``physical_id``, ``profile_id``,\n``created_at``, ``index``, ``status``, ``status_reason``,\n``metadata``,
  ``updated_at``, and so on.\";s:6:\"format\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"nodes\";}s:4:\"type\";s:6:\"object\";}s:16:\"listPolicies_200\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"policies\";O:8:\"stdClass\":4:{s:11:\"description\";s:108:\"List
  of policy records. Each record contains fields such as ``id``,\n``name``, ``type``,
  ``spec``, and so on.\";s:6:\"format\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"policies\";}s:4:\"type\";s:6:\"object\";}s:18:\"listPolicyType_200\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  name of the policy type.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:16:\"listProfiles_200\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"profiles\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"Profile
  records. Each record contains the ``id``, ``name``,\n``type``, ``spec``, ``metadata``,
  and other fields.\";s:6:\"format\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"profiles\";}s:4:\"type\";s:6:\"object\";}s:10:\"nodeAction\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"action\";O:8:\"stdClass\":3:{s:11:\"description\";s:241:\"The
  action to trigger.\n\nEach action takes a different set of parameters.\n\nSupported
  actions include:\n\n- ``check`` Check the health status of a node. For example:\n\n-
  ``recover`` Recover a node from its current unhealthy status. For\n  example:\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"action\";}s:4:\"type\";s:6:\"object\";}s:21:\"showClusterPolicy_200\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"cluster_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  UUID of the cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"cluster_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  name of the cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"cluster_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  type of the cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  status of the policy.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  UUID of the cluster policy.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"policy_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  UUID of the policy.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"policy_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  name of the policy.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:10:\"cluster_id\";i:1;s:12:\"cluster_name\";i:2;s:2:\"id\";i:3;s:9:\"policy_id\";i:4;s:11:\"policy_name\";i:5;s:12:\"cluster_type\";i:6;s:7:\"enabled\";}s:4:\"type\";s:6:\"object\";}s:13:\"updateCluster\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";O:8:\"stdClass\":1:{s:7:\"cluster\";O:8:\"stdClass\":4:{s:8:\"metadata\";N;s:4:\"name\";N;s:10:\"profile_id\";N;s:7:\"timeout\";s:2:\"30\";}}}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  map of cluster details.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  set of key and value pairs to associate with the cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  name of the cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  UUID of the parent cluster if the cluster is a nested cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"profile_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  ID or name of the profile for the cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  timeout value, in minutes, for cluster creation. Default is 60.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:7:\"cluster\";i:1;s:4:\"name\";i:2;s:10:\"profile_id\";}s:4:\"type\";s:6:\"object\";}s:17:\"updateCluster_202\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"A
  map with the ``id``, ``name``, ``status``, and other fields for\nthe cluster.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:7:\"cluster\";}s:4:\"type\";s:6:\"object\";}s:14:\"triggerWebhook\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";O:8:\"stdClass\":1:{s:6:\"params\";O:8:\"stdClass\":1:{s:5:\"count\";i:2;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"params\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Pass
  extra parameters in the request body for the action execution when triggering the
  webhook.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:6:\"params\";}s:4:\"type\";s:6:\"object\";}s:10:\"updateNode\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";O:8:\"stdClass\":1:{s:4:\"node\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"new_node_name\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"node\";O:8:\"stdClass\":3:{s:11:\"description\";s:432:\"A
  map with detailed data for the node.\n\n **Node update request body**\n\n- ``name``
  New name for the node (optional).\n\n- ``profile_id`` Name, ID, or short ID of the
  new profile to use by\n  the node. The new profile has to have the same profile
  type as\n  that of the node (optional).\n\n- ``role`` The new role this node plays
  in a cluster (optional).\n\n- ``metadata`` A list of key-value pairs to attach to
  the updated\n  node (optional).\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"node\";}s:4:\"type\";s:6:\"object\";}s:14:\"updateNode_202\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"node\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Detailed
  data for the node such as ``id``, ``name``, ``status``,\nand so on.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"node\";}s:4:\"type\";s:6:\"object\";}s:12:\"updatePolicy\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"new_name\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"A
  map with a set of key and value pairs that specify the details of\nthe policy:\n\n
  **Policy body**\n\n- ``name`` Name for the policy, if specified.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:6:\"policy\";}s:4:\"type\";s:6:\"object\";}s:13:\"updateProfile\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";O:8:\"stdClass\":1:{s:7:\"profile\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":0:{}s:4:\"name\";N;}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  list of key and value pairs to associate with the target profile.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"New
  name for the target profile.\";s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
