---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"Signiant Manager+Agents
  provides a RESTful API to automate user management, user group, agent groups, jobs,
  resource controls, and job groups.\n\nCustomers with a Media Exchange license can
  also automate channel management.\n\";s:7:\"version\";s:6:\"13.4.2\";s:5:\"title\";s:18:\"Manager+Agents
  API\";}"
host: manager.url
basePath: /signiant/spring/admin/v1.0
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":189:{s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/User_inner\";}}s:18:\"CreateUserResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"user1\";s:11:\"description\";s:58:\"The
  username of the user that is used to create the users.\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CreateUserResponse_users\";}}}}s:12:\"UserResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserResponse_inner\";}}s:12:\"ActivateUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ActivateUser_inner\";}}s:14:\"DeactivateUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ActivateUser_inner\";}}s:30:\"ActivateDeactivateUserResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"editor\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"user1\";s:11:\"description\";s:71:\"The
  username of the user that is used to activate/deactivate the users.\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/ActivateDeactivateUserResponse_users\";}}}}s:17:\"ListUsersResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ListUsersResponse_inner\";}}s:9:\"UserGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UserGroup_inner\";}}s:23:\"CreateUserGroupResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"user1\";s:11:\"description\";s:63:\"The
  username of the user that is used to create the user group.\";}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/CreateUserGroupResponse_groups\";}}}}s:17:\"UserGroupResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/UserGroupResponse_inner\";}}s:22:\"ListUserGroupsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ListUserGroupsResponse_inner\";}}s:7:\"Channel\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Channel_inner\";}}s:21:\"CreateChannelResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"user1\";s:11:\"description\";s:60:\"The
  username of the user that is used to create the channel.\";}s:8:\"channels\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/CreateChannelResponse_channels\";}}}}s:15:\"ChannelResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ChannelResponse_inner\";}}s:20:\"ListChannelsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ListChannelsResponse_inner\";}}s:8:\"JobGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/JobGroup_inner\";}}s:22:\"CreateJobGroupResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"user1\";s:11:\"description\";s:62:\"The
  username of the user that is used to create the job group.\";}s:9:\"jobGroups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/CreateJobGroupResponse_jobGroups\";}}}}s:16:\"JobGroupResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/JobGroupResponse_inner\";}}s:21:\"ListJobGroupsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ListJobGroupsResponse_inner\";}}s:15:\"ResourceControl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ResourceControl_inner\";}}s:29:\"CreateResourceControlResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"user1\";s:11:\"description\";s:69:\"The
  username of the user that is used to create the Resource Control.\";}s:16:\"resourceControls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/CreateResourceControlResponse_resourceControls\";}}}}s:23:\"ResourceControlResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ResourceControlResponse_inner\";}}s:28:\"ListResourceControlsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ListResourceControlsResponse_inner\";}}s:33:\"ActivateDeactivateResourceControl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/ActivateDeactivateResourceControl_inner\";}}s:42:\"ActivateDeactivateResourceControlsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"editor\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"user1\";s:11:\"description\";s:82:\"The
  username of the user that is used to activate/deactivate the Resource Control.\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/ActivateDeactivateResourceControlsResponse_users\";}}}}s:32:\"ListResourceControlQueueResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/ListResourceControlQueueResponse_inner\";}}s:10:\"AccessAcls\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"userName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";s:11:\"description\";s:10:\"User
  name.\";}s:6:\"remove\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:29:\"Remove
  acl of user/user group\";}s:7:\"execute\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:30:\"Execute
  acl of user/user group\";}s:4:\"edit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:27:\"Edit
  acl of user/user group\";}s:4:\"read\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:27:\"Read
  acl of user/user group\";}}s:11:\"description\";s:35:\"Access acls of users or user
  groups\";}s:4:\"Menu\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Groups\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Menu_parent\";}}}s:7:\"Success\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"true\";}}}s:10:\"AgentGroup\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"A
  Manager agent group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AgentGroup_inner\";}}s:13:\"GetAgentGroup\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"A
  Manager agent group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/GetAgentGroup_inner\";}}s:17:\"AgentGroupsObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"groupName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Agent
  group\";s:11:\"description\";s:21:\"The agent group name.\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AgentGroupsObject_fields\";}}s:11:\"description\";s:22:\"A
  Manager agent group.\";}s:20:\"GetAgentGroupsObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:11;s:11:\"description\";s:19:\"The
  agent group id.\";}s:9:\"groupName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Agent
  group\";s:11:\"description\";s:21:\"The agent group name.\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AgentGroupsObject_fields\";}}s:11:\"description\";s:22:\"A
  Manager agent group.\";}s:6:\"Agents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"A
  Manager agents.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Agents_inner\";}}s:11:\"AgentGroups\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:23:\"A
  Manager agent groups.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AgentGroups_inner\";}}s:7:\"Members\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"myagent.signiant.com\";s:11:\"description\";s:34:\"The
  name of the agent group member\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"HOST\";s:11:\"description\";s:28:\"The
  agent group member type.\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"Transfer
  Manager Host\";s:11:\"description\";s:35:\"The agent group member description.\";}s:12:\"organization\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"My
  organization\";s:11:\"description\";s:36:\"The agent group member organization.\";}s:17:\"loadBalanceMember\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:41:\"Does
  the agent group member is MX or not.\";}}s:11:\"description\";s:23:\"An agent group
  members.\";}s:6:\"Relays\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"myagent.example.com\";s:11:\"description\";s:28:\"An
  agent group relay address\";}s:7:\"udpPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:49221;s:11:\"description\";s:25:\"The
  udp port of the relay\";}s:7:\"tcpPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:49221;s:11:\"description\";s:25:\"The
  tcp port of the relay\";}s:8:\"httpPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:8080;s:11:\"description\";s:26:\"The
  http port of the relay\";}}s:11:\"description\";s:22:\"An agent group relays.\";}s:12:\"MxProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:24:\"downloadBandwidthProfile\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"System
  Default\";s:11:\"description\";s:39:\"Download MX profile of the agent group.\";}s:22:\"uploadBandwidthProfile\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"System
  Default\";s:11:\"description\";s:37:\"Upload MX profile of the agent group.\";}s:9:\"mxEnabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:41:\"Does
  the agent group is MX enabled or not\";}s:22:\"mxNetworkMaskProfileId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:58:\"Does
  the agent group has MX Network Mask Profile Id enable\";}s:18:\"licenses Remaining\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:44;s:11:\"description\";s:46:\"How
  much licenes remaining had the agent group\";}s:13:\"mxConcurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:44;s:11:\"description\";s:24:\"Number
  of mx concurrency\";}s:21:\"packageRepositoryPath\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"c:/tmp\";s:11:\"description\";s:22:\"The
  mx repository path\";}s:27:\"useMxRelaysFromMemberAgents\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:35:\"Does
  the agent group has relays set\";}s:6:\"relays\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Relays\";}}}s:11:\"description\";s:45:\"Media
  Exchange properties of the agent group.\";}s:9:\"AccessAcl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"userName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";s:11:\"description\";s:10:\"User
  name.\";}s:6:\"remove\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:48:\"Remove
  acl of user/user group to the agent group\";}s:7:\"execute\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:49:\"Execute
  acl of user/user group to the agent group\";}s:4:\"edit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:46:\"Edit
  acl of user/user group to the agent group\";}s:4:\"read\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:46:\"Read
  acl of user/user group to the agent group\";}}s:11:\"description\";s:54:\"Access
  acls of users or user groups to the agent group\";}s:24:\"CreateAgentGroupResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";s:11:\"description\";s:34:\"The
  agent group creator user name.\";}s:11:\"agentGroups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/CreateAgentGroupResponse_agentGroups\";}}}}s:3:\"Job\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"A
  Manager jobs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Job_inner\";}}s:7:\"EditJob\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"A
  Manager jobs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EditJob_inner\";}}s:7:\"JobArgs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":47:{s:35:\"MediaDistributor.Source.SourceAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"sourceagent.com\";}s:34:\"MediaDistributor.Source.SourceData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"c:/source/1.jpg\";}s:36:\"MediaDistributor.Source.IncludeFiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"*\";}s:36:\"MediaDistributor.Source.ExcludeFiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:45:\"MediaDistributor.Source.ExcludeSubdirectories\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Specified\";}s:41:\"MediaDistributor.Source.ExcludeSubDirList\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:46:\"MediaDistributor.Source.FileReadinessCheckType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"Stream
  Growing Files\";}s:47:\"MediaDistributor.Source.FileReadinessCheckDelay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:10;}s:62:\"MediaDistributor.Source.sourceDeletionsAfterSuccessfulTransfer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"None\";}s:66:\"MediaDistributor.Source.sourceDirectoriestoExcludefromDeletionScan\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:65:\"MediaDistributor.Source.sourceDatalocationAfterSuccessfulTransfer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:52:\"MediaDistributor.Source.skipSourceFileNotFoundOnSend\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:36:\"MediaDistributor.Target.TargetAgents\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"targetagent.com\";}s:39:\"MediaDistributor.Target.TargetDirectory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"c:/target\";}s:42:\"MediaDistributor.Target.PathMappingOptions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"Source
  Host,Job Date/Time\";}s:53:\"MediaDistributor.Target.maximumJobDateTimeDirectories\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:41:\"MediaDistributor.Target.RemoveTargetFiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:56:\"MediaDistributor.Target.removeExpiredDirectoriesonTarget\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:40:\"MediaDistributor.Target.expirationPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:30;}s:34:\"MediaDistributor.Transport._sp_udp\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:44:\"MediaDistributor.Transport.UseWANAccelerator\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:55:\"MediaDistributor.Transport.wANAcceleratorAggressiveness\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"high\";}s:41:\"MediaDistributor.Transport.BandwidthFloor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:43:\"MediaDistributor.Transport.BandwidthCeiling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:55:\"MediaDistributor.Transport.BandwidthThrottleByTimeOfDay\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"00:00;00:00;YYYYYYY;0;\";}s:39:\"MediaDistributor.Options._sp_encryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"No
  encryption - unsigned\";}s:37:\"MediaDistributor.Options.deliveryMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Log
  File Name\";}s:38:\"MediaDistributor.Options.CompressFiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:44:\"MediaDistributor.Options.followSymbolicLinks\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:44:\"MediaDistributor.Options.IncrementalTransfer\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:76:\"MediaDistributor.Options.verifyforsufficientdiskspacebeforeJobtransfersstart\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:52:\"MediaDistributor.Options.verifytargetdirectoryexists\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:54:\"MediaDistributor.NotificationAndLogging.EmailCondition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Always\";}s:47:\"MediaDistributor.NotificationAndLogging.EmailTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:47:\"MediaDistributor.NotificationAndLogging.EmailCc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:48:\"MediaDistributor.NotificationAndLogging.EmailBcc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:63:\"MediaDistributor.NotificationAndLogging.emailJobFailureReportTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:56:\"MediaDistributor.NotificationAndLogging._sp_log_severity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Info\";}s:49:\"MediaDistributor.sNMPProperties.sNMPTrapReceivers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:55:\"MediaDistributor.sNMPProperties.sNMPTrapCommunityString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:45:\"MediaDistributor.sNMPProperties.sNMPTrapTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:39:\"MediaDistributor.Schedule._sp_frequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"3
  H\";}s:38:\"MediaDistributor.Schedule._sp_start_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2017/12/20
  10:11:00\";}s:34:\"MediaDistributor.Schedule.timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Europe/Skopje\";}s:50:\"MediaDistributor.Schedule._sp_interrupt_on_failure\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:34:\"MediaDistributor.Schedule.priority\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"High\";}s:38:\"MediaDistributor.Schedule.finishBefore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}}s:17:\"CreateJobResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";s:11:\"description\";s:26:\"The
  job creator user name.\";}s:4:\"jobs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/CreateJobResponse_jobs\";}}}}s:9:\"DeleteJob\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DeleteJob_inner\";}}s:6:\"GetJob\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GetJob_inner\";}}s:8:\"ListJobs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ListJobs_inner\";}}s:5:\"Stats\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:71:{i:0;s:6:\"job_id\";i:1;s:12:\"package_name\";i:2;s:11:\"source_host\";i:3;s:11:\"target_host\";i:4;s:6:\"status\";i:5;s:12:\"package_type\";i:6;s:22:\"transport_type_display\";i:7;s:15:\"effective_bytes\";i:8;s:10:\"file_count\";i:9;s:15:\"directory_count\";i:10;s:10:\"byte_count\";i:11;s:17:\"files_transferred\";i:12;s:13:\"files_skipped\";i:13;s:13:\"files_deleted\";i:14;s:12:\"failed_files\";i:15;s:16:\"agent_start_time\";i:16;s:17:\"remote_start_time\";i:17;s:18:\"names_cmd_end_time\";i:18;s:19:\"transfer_start_time\";i:19;s:17:\"transfer_end_time\";i:20;s:15:\"remote_end_time\";i:21;s:14:\"agent_end_time\";i:22;s:18:\"bandwidth_throttle\";i:23;s:13:\"transfer_rate\";i:24;s:17:\"transfer_rate_max\";i:25;s:17:\"transfer_rate_min\";i:26;s:23:\"directories_transferred\";i:27;s:19:\"directories_skipped\";i:28;s:19:\"directories_deleted\";i:29;s:18:\"failed_directories\";i:30;s:15:\"file_data_bytes\";i:31;s:16:\"target_filebytes\";i:32;s:15:\"file_attr_bytes\";i:33;s:20:\"file_data_bytes_comp\";i:34;s:20:\"file_attr_bytes_comp\";i:35;s:18:\"file_bytes_skipped\";i:36;s:18:\"file_bytes_deleted\";i:37;s:19:\"rsync_bytes_skipped\";i:38;s:14:\"ovhd_src_rsync\";i:39;s:14:\"ovhd_tgt_rsync\";i:40;s:19:\"ovhd_src_mnfst_comp\";i:41;s:19:\"ovhd_tgt_mnfst_comp\";i:42;s:14:\"ovhd_src_prtcl\";i:43;s:14:\"ovhd_tgt_prtcl\";i:44;s:14:\"ovhd_src_cchnl\";i:45;s:14:\"ovhd_tgt_cchnl\";i:46;s:14:\"sf_bytes_recvd\";i:47;s:13:\"sf_bytes_sent\";i:48;s:15:\"ntwk_bytes_sent\";i:49;s:14:\"ntwk_bytes_ack\";i:50;s:16:\"ntwk_bytes_recvd\";i:51;s:18:\"udp_aggressiveness\";i:52;s:16:\"udp_payload_size\";i:53;s:15:\"udp_header_size\";i:54;s:13:\"udp_pkts_sent\";i:55;s:12:\"udp_pkts_ack\";i:56;s:14:\"udp_pkts_recvd\";i:57;s:15:\"udp_pkts_resent\";i:58;s:14:\"udp_pkts_rjctd\";i:59;s:11:\"udp_ceiling\";i:60;s:9:\"udp_floor\";i:61;s:11:\"rmt_cmd_twu\";i:62;s:11:\"rmt_cmd_wuc\";i:63;s:18:\"unrecovered_errors\";i:64;s:12:\"total_errors\";i:65;s:20:\"proc_data_bytes_sent\";i:66;s:26:\"proc_data_bytes_unconsumed\";i:67;s:20:\"tnnl_data_bytes_sent\";i:68;s:21:\"tnnl_data_bytes_recvd\";i:69;s:15:\"agent_stat_time\";i:70;s:8:\"time_est\";}}s:13:\"StatsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/StatsResponse_inner\";}}s:7:\"JobView\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/JobView_inner\";}}s:6:\"JobLog\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/JobLog_inner\";}}s:7:\"FileLog\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:15:\"deliveryRecords\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:10:\"validCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:14:\"certifiedCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:7:\"fileLog\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FileLog_fileLog\";}}}s:12:\"StatisticLog\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:8:\"statsLog\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/StatisticLog_statsLog\";}}}s:22:\"RevokeAgentCertificate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"agentName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"myagent.com\";}s:12:\"caPassphrase\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"managerpassphrase\";s:11:\"description\";s:18:\"Manager
  passphrase\";}}}s:14:\"ChangePassword\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"Change
  user password.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ChangePassword_inner\";}}s:14:\"StorageProfile\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"Create
  Local S3 Object Storage Profile.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/StorageProfile_inner\";}}s:22:\"CreateS3StorageProfile\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"storageType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"s3-object-storage-access\";s:11:\"description\";s:21:\"Local
  s3 storage type\";}s:13:\"storageServer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"s3
  storage server\";s:11:\"description\";s:23:\"Local s3 storage server\";}s:6:\"bucket\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"LocalS3_bucket\";s:11:\"description\";s:14:\"S3
  bucket name\";}s:9:\"subFolder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"LocalS3_subfolder\";s:11:\"description\";s:17:\"S3
  subfolder name\";}s:11:\"accessStyle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"virtual-domain\";s:11:\"description\";s:38:\"S3
  object storage profile access style\";}s:9:\"accessKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Locals3_accesskey\";s:11:\"description\";s:36:\"S3
  object storage profile access key\";}s:9:\"secretKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Locals3_secretkey\";s:11:\"description\";s:44:\"S3
  object storage profile encoded secret key\";}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}}s:11:\"description\";s:27:\"S3
  Object Storage Profiles.\";}s:20:\"EditS3StorageProfile\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"S3
  Object Storage Profiles.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/EditS3StorageProfile_inner\";}}s:27:\"CreateObjectStorageResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";s:11:\"description\";s:38:\"The
  storage profile creator user name.\";}s:15:\"storageProfiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/CreateObjectStorageResponse_storageProfiles\";}}}}s:19:\"GetS3StorageProfile\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"S3
  Object Storage Profiles.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GetS3StorageProfile_inner\";}}s:19:\"ListStorageProfiles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:35:\"List
  of S3 Object Storage Profiles.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ListStorageProfiles_inner\";}}s:25:\"CreateAzureStorageProfile\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"Azure
  Object Storage Profiles.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CreateAzureStorageProfile_inner\";}}s:25:\"CreateAWSS3StorageProfile\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"AWS
  S3 Object Storage Profiles.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CreateAWSS3StorageProfile_inner\";}}s:28:\"User_inner_user_fields_roles\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"isTemporary\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:15:\"isAdminGuiLogin\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:9:\"validFrom\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"validTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isSysAdmin\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:10:\"isOrgAdmin\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:15:\"isWorkflowAdmin\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:20:\"isWorkflowSupervisor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:12:\"isCompEditor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:13:\"isMonitorUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}}}s:36:\"User_inner_user_fields_mediaExchange\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":19:{s:7:\"mxAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"myagent.example.com\";}s:7:\"homeDir\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"c:/tmp\";}s:20:\"allowedToBrowseAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:16:\"transferJobGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Default\";}s:20:\"defaultUploadProfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"System
  Default\";}s:22:\"defaultDownloadProfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"System
  Default\";}s:24:\"allowedToCreateTempUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:21:\"allowedToSendPackages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:24:\"allowedToReceivePackages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:24:\"allowedToForwardPackages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:23:\"notifyInterestedParties\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:23:\"interestedPartiesEmails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"user2@example.com\";}s:23:\"notifySenderPackReceive\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:19:\"notifySendCopyEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:26:\"notifySenderReceiveFailure\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:24:\"notifySenderPackDownload\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:27:\"notifyReceiverPackAvaliable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:39:\"notifyReceiverForSelectedCategoriesOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:39:\"notifySenderReceiverAvailableCategories\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"channel1\";}}}s:22:\"User_inner_user_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":18:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Example\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"User\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"user@example.com\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"title\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"phone\";}s:4:\"cell\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"21313\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"321234\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"password\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"signiant\";}s:16:\"failedLoginCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"0\";}s:23:\"maxAllowedLoginAttempts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"10\";}s:21:\"failedLoginTimePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"24\";}s:31:\"ignoreAdministrationForSoapAuth\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"Media
  Exchange Users,Media Exchange Guest Users\";}s:5:\"roles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/User_inner_user_fields_roles\";}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}s:5:\"menus\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Menu\";}}s:13:\"mediaExchange\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/User_inner_user_fields_mediaExchange\";}}}s:15:\"User_inner_user\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"userName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"example3\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/User_inner_user_fields\";}}}s:10:\"User_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/User_inner_user\";}}}s:24:\"CreateUserResponse_users\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"325316\";s:11:\"description\";s:26:\"The
  id of the created user\";}s:8:\"userName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"example3\";s:11:\"description\";s:32:\"The
  username of the created user\";}}}s:29:\"UserResponse_inner_user_state\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Activated\";}s:16:\"lastLoginAttempt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2018-04-11T14:02:05.000Z\";}s:19:\"lastSuccessfulLogin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2018-04-11T14:02:05.000Z\";}s:15:\"lastLoginResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Success\";}s:5:\"guest\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}}}s:44:\"UserResponse_inner_user_fields_mediaExchange\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":20:{s:7:\"mxAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"myagent.example.com\";}s:7:\"homeDir\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"c:/tmp\";}s:20:\"allowedToBrowseAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:16:\"transferJobGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Default\";}s:20:\"defaultUploadProfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"System
  Default\";}s:22:\"defaultDownloadProfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"System
  Default\";}s:21:\"isTraceLoggingEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:24:\"allowedToCreateTempUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:21:\"allowedToSendPackages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:24:\"allowedToReceivePackages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:24:\"allowedToForwardPackages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:23:\"notifyInterestedParties\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:23:\"interestedPartiesEmails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"user2@example.com\";}s:23:\"notifySenderPackReceive\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:19:\"notifySendCopyEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:26:\"notifySenderReceiveFailure\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:24:\"notifySenderPackDownload\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:27:\"notifyReceiverPackAvaliable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:39:\"notifyReceiverForSelectedCategoriesOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:39:\"notifySenderReceiverAvailableCategories\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"channel1\";}}}s:30:\"UserResponse_inner_user_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Example\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"User\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"user@example.com\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"title\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"phone\";}s:4:\"cell\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"21313\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"321234\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"signiant\";}s:23:\"maxAllowedLoginAttempts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"10\";}s:21:\"failedLoginTimePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"24\";}s:31:\"ignoreAdministrationForSoapAuth\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"Media
  Exchange Users,Media Exchange Guest Users\";}s:5:\"roles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/User_inner_user_fields_roles\";}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}s:5:\"menus\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Menu\";}}s:13:\"mediaExchange\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/UserResponse_inner_user_fields_mediaExchange\";}}}s:23:\"UserResponse_inner_user\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"32442\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"example3\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/UserResponse_inner_user_state\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/UserResponse_inner_user_fields\";}}}s:18:\"UserResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/UserResponse_inner_user\";}}}s:23:\"ActivateUser_inner_user\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"userName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"user1\";}}}s:18:\"ActivateUser_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ActivateUser_inner_user\";}}}s:36:\"ActivateDeactivateUserResponse_users\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"325316\";s:11:\"description\";s:40:\"The
  id of the activated/deactivated user\";}s:8:\"userName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"example3\";s:11:\"description\";s:46:\"The
  username of the activated/deactivated user\";}}}s:49:\"ListUsersResponse_inner_user_fields_mediaExchange\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"mxAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"myagent.example.com\";}}}s:35:\"ListUsersResponse_inner_user_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Example\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"User\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Signiant\";}s:13:\"mediaExchange\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/ListUsersResponse_inner_user_fields_mediaExchange\";}}}s:28:\"ListUsersResponse_inner_user\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"34623\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"user1\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/UserResponse_inner_user_state\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/ListUsersResponse_inner_user_fields\";}}}s:23:\"ListUsersResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ListUsersResponse_inner_user\";}}}s:46:\"UserGroup_inner_userGroup_fields_mediaExchange\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"mxEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:12:\"canSubscribe\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}}}s:32:\"UserGroup_inner_userGroup_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"examplegroup\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Signiant\";}s:10:\"compEditor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:28:\"persistentForDirServiceUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:7:\"members\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:7:\"example\";a:3:{i:0;s:11:\"exampleuser\";i:1;s:8:\"testuser\";i:2;s:5:\"admin\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}s:5:\"menus\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Menu\";}}s:13:\"mediaExchange\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/UserGroup_inner_userGroup_fields_mediaExchange\";}}}s:25:\"UserGroup_inner_userGroup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"examplegroup\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/UserGroup_inner_userGroup_fields\";}}}s:15:\"UserGroup_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"userGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/UserGroup_inner_userGroup\";}}}s:30:\"CreateUserGroupResponse_groups\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"325316\";s:11:\"description\";s:32:\"The
  id of the created user group\";}s:9:\"groupName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"examplegroup\";s:11:\"description\";s:34:\"The
  name of the created user group\";}}}s:40:\"UserGroupResponse_inner_userGroup_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Signiant\";}s:10:\"compEditor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:28:\"persistentForDirServiceUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:7:\"members\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:7:\"example\";a:3:{i:0;s:11:\"exampleuser\";i:1;s:8:\"testuser\";i:2;s:5:\"admin\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}s:5:\"menus\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Menu\";}}s:13:\"mediaExchange\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/UserGroup_inner_userGroup_fields_mediaExchange\";}}}s:33:\"UserGroupResponse_inner_userGroup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"213342\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"examplegroup\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/UserGroupResponse_inner_userGroup_fields\";}}}s:23:\"UserGroupResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"userGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/UserGroupResponse_inner_userGroup\";}}}s:59:\"ListUserGroupsResponse_inner_userGroup_fields_mediaExchange\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"mxEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}}}s:45:\"ListUserGroupsResponse_inner_userGroup_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Signiant\";}s:13:\"mediaExchange\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/ListUserGroupsResponse_inner_userGroup_fields_mediaExchange\";}}}s:38:\"ListUserGroupsResponse_inner_userGroup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"213342\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"examplegroup\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/ListUserGroupsResponse_inner_userGroup_fields\";}}}s:28:\"ListUserGroupsResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"userGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/ListUserGroupsResponse_inner_userGroup\";}}}s:43:\"Channel_inner_channel_channel_parent_parent\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"topLevel\";}}}s:36:\"Channel_inner_channel_channel_parent\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"secondLevel\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/Channel_inner_channel_channel_parent_parent\";}}}s:29:\"Channel_inner_channel_channel\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"myChannelName\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/Channel_inner_channel_channel_parent\";}}}s:28:\"Channel_inner_channel_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"myChannelName\";}s:7:\"mxAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"myagent.example.com\";}s:18:\"notAvailableBefore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:12:\"expiresAfter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:15:\"packageDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"600000\";}s:22:\"createPackageDirectory\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:13:\"directoryType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"DELIVERY\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}}}s:21:\"Channel_inner_channel\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/Channel_inner_channel_channel\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/Channel_inner_channel_fields\";}}}s:13:\"Channel_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Channel_inner_channel\";}}}s:30:\"CreateChannelResponse_channels\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"325316\";s:11:\"description\";s:29:\"The
  id of the created channel\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"myChannelName\";s:11:\"description\";s:31:\"The
  name of the created channel\";}}}s:36:\"ChannelResponse_inner_channel_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"myChannelName\";}s:7:\"mxAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"myagent.example.com\";}s:18:\"notAvailableBefore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:12:\"expiresAfter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:15:\"packageDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"600000\";}s:13:\"directoryType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"DELIVERY\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}}}s:29:\"ChannelResponse_inner_channel\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"256243\";}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/Channel_inner_channel_channel\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/ChannelResponse_inner_channel_fields\";}}}s:21:\"ChannelResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ChannelResponse_inner_channel\";}}}s:41:\"ListChannelsResponse_inner_channel_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"myChannelName\";}s:7:\"mxAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"myagent.example.com\";}s:18:\"notAvailableBefore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:12:\"expiresAfter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Activated\";}s:15:\"packageDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}}}s:34:\"ListChannelsResponse_inner_channel\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"236732\";}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/Channel_inner_channel_channel\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/ListChannelsResponse_inner_channel_fields\";}}}s:26:\"ListChannelsResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ListChannelsResponse_inner_channel\";}}}s:30:\"JobGroup_inner_jobGroup_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"newjobgroup\";}s:16:\"groupDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"New
  Team job group\";}s:11:\"limitAccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"n\";}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}}}s:23:\"JobGroup_inner_jobGroup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"newjobgroup\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/JobGroup_inner_jobGroup_fields\";}}}s:14:\"JobGroup_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"jobGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/JobGroup_inner_jobGroup\";}}}s:32:\"CreateJobGroupResponse_jobGroups\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"325316\";s:11:\"description\";s:31:\"The
  id of the created job group\";}s:9:\"groupName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"newjobgroup\";s:11:\"description\";s:33:\"The
  name of the created job group\";}}}s:38:\"JobGroupResponse_inner_jobGroup_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"groupDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"New
  Team job group\";}s:11:\"limitAccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"n\";}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}}}s:31:\"JobGroupResponse_inner_jobGroup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"32623\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"newjobgroup\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/JobGroupResponse_inner_jobGroup_fields\";}}}s:22:\"JobGroupResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"jobGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/JobGroupResponse_inner_jobGroup\";}}}s:43:\"ListJobGroupsResponse_inner_jobGroup_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"groupDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"New
  Team job group\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"OrganizationName\";}s:18:\"resourceControlled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:12:\"alarmEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}}}s:36:\"ListJobGroupsResponse_inner_jobGroup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"32623\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"newjobgroup\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/ListJobGroupsResponse_inner_jobGroup_fields\";}}}s:27:\"ListJobGroupsResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"jobGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/ListJobGroupsResponse_inner_jobGroup\";}}}s:52:\"ResourceControl_inner_resourceControl_fields_filters\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"AGENT_TRANSFER_SOURCE\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:15:\"MX_CTE_DOWNLOAD\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:21:\"AGENT_TRANSFER_TARGET\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:20:\"AGENT_REMOTE_COMMAND\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:13:\"MX_CTE_UPLOAD\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}}}s:44:\"ResourceControl_inner_resourceControl_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:19:\"resourceControlName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"exampleAgentResourceControl\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Agent\";s:11:\"description\";s:60:\"It
  could be Agent, Job or Media Exchange Transfer Job Group.\";}s:5:\"scope\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"exampleagent.example.com\";s:11:\"description\";s:42:\"It
  should be Agent name or Job Group name.\";}s:11:\"concurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:7:\"ceiling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1048576;}s:5:\"floor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1048576;}s:8:\"throttle\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1048576;}s:7:\"filters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:70:\"It
  should be a list of transfer types, as well as agent remote command\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/ResourceControl_inner_resourceControl_fields_filters\";}}s:13:\"sourceToAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"exampleagent.example.com\";}s:15:\"targetFromAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"All
  Agents\";}s:10:\"precedence\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}}}s:37:\"ResourceControl_inner_resourceControl\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"resourceControlName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"exampleAgentResourceControl\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/ResourceControl_inner_resourceControl_fields\";}}}s:21:\"ResourceControl_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"resourceControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/ResourceControl_inner_resourceControl\";}}}s:46:\"CreateResourceControlResponse_resourceControls\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"325316\";s:11:\"description\";s:38:\"The
  id of the created Resource Control\";}s:19:\"resourceControlName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"exampleAgentResourceControl\";s:11:\"description\";s:40:\"The
  name of the created Resource Control\";}}}s:52:\"ResourceControlResponse_inner_resourceControl_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Agent\";s:11:\"description\";s:60:\"It
  could be Agent, Job or Media Exchange Transfer Job Group.\";}s:5:\"scope\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"exampleagent.example.com\";s:11:\"description\";s:42:\"It
  should be Agent name or Job Group name.\";}s:11:\"concurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:7:\"ceiling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1048576;}s:5:\"floor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1048576;}s:8:\"throttle\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1048576;}s:7:\"filters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:70:\"It
  should be a list of transfer types, as well as agent remote command\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/ResourceControl_inner_resourceControl_fields_filters\";}}s:13:\"sourceToAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"exampleagent.example.com\";}s:15:\"targetFromAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"All
  Agents\";}s:10:\"precedence\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}}}s:45:\"ResourceControlResponse_inner_resourceControl\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"23623\";}s:19:\"resourceControlName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"exampleAgentResourceControl\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/ResourceControlResponse_inner_resourceControl_fields\";}}}s:29:\"ResourceControlResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"resourceControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/ResourceControlResponse_inner_resourceControl\";}}}s:57:\"ListResourceControlsResponse_inner_resourceControl_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Agent\";s:11:\"description\";s:60:\"It
  could be Agent, Job or Media Exchange Transfer Job Group.\";}s:5:\"scope\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"exampleagent.example.com\";s:11:\"description\";s:42:\"It
  should be Agent name or Job Group name.\";}s:11:\"concurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:7:\"ceiling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1048576;}s:5:\"floor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1048576;}s:8:\"throttle\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1048576;}s:9:\"conflicts\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:7:\"running\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:6:\"queued\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2;}s:10:\"precedence\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:8:\"criteria\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:94:\"MX_CTE_UPLOAD
  MX_CTE_DOWNLOAD AGENT_TRANSFER_SOURCE AGENT_TRANSFER_TARGET AGENT_REMOTE_COMMAND\";}}}s:50:\"ListResourceControlsResponse_inner_resourceControl\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"23623\";}s:19:\"resourceControlName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"exampleAgentResourceControl\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:71:\"#/definitions/ListResourceControlsResponse_inner_resourceControl_fields\";}}}s:34:\"ListResourceControlsResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"resourceControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/ListResourceControlsResponse_inner_resourceControl\";}}}s:55:\"ActivateDeactivateResourceControl_inner_resourceControl\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"resourceControlName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"exampleAgentResourceControl\";}}}s:39:\"ActivateDeactivateResourceControl_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"resourceControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:69:\"#/definitions/ActivateDeactivateResourceControl_inner_resourceControl\";}}}s:48:\"ActivateDeactivateResourceControlsResponse_users\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"325316\";s:11:\"description\";s:52:\"The
  id of the activated/deactivated Resource Control\";}s:19:\"resourceControlName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"exampleAgentResourceControl\";s:11:\"description\";s:40:\"The
  name of the created Resource Control\";}}}s:62:\"ListResourceControlQueueResponse_inner_resourceConsumer_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"componentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"componentState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"componentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"finishBefore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"jobGroupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Default\";}s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"MediaAggregator\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Medium\";}s:15:\"requestingAgent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"resourceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"ResourceControlName\";}s:11:\"sourceAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"myagent.example.com\";}s:11:\"targetAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"myagent.example.com\";}}}s:55:\"ListResourceControlQueueResponse_inner_resourceConsumer\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"235732\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Job\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:76:\"#/definitions/ListResourceControlQueueResponse_inner_resourceConsumer_fields\";}}}s:38:\"ListResourceControlQueueResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"resourceConsumer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:69:\"#/definitions/ListResourceControlQueueResponse_inner_resourceConsumer\";}}}s:11:\"Menu_parent\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Jobs\";}}}s:16:\"AgentGroup_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"agentGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AgentGroupsObject\";}}}s:19:\"GetAgentGroup_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"agentGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GetAgentGroupsObject\";}}}s:24:\"AgentGroupsObject_fields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"The
  description of agent group\";s:11:\"description\";s:30:\"The description of agent
  group\";}s:12:\"organization\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"my_organization\";s:11:\"description\";s:31:\"The
  organization of agent group\";}s:11:\"loadBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:40:\"Does
  the agent group is mx enable or not\";}s:7:\"members\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Members\";}}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}s:12:\"mxProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MxProperties\";}}s:11:\"description\";s:23:\"The
  agent group fields.\";}s:25:\"Agents_inner_agent_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Manager\";s:11:\"description\";s:14:\"The
  agent type\";}s:12:\"organization\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"orgnization_name\";s:11:\"description\";s:30:\"The
  organization of the agent.\";}s:8:\"platform\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"Windows
  2000/2003/XP/7/2008\";s:11:\"description\";s:33:\"The Operating system of the agent\";}s:18:\"externalJobMonitor\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"Monitoring
  External Jobs\";s:11:\"description\";s:23:\"External job monitoring\";}s:20:\"mediaExchangeEnabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:34:\"Does
  the agent is MX enable or not\";}s:11:\"concurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;s:11:\"description\";s:27:\"Concurrency
  of the trasfers\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"The
  description of agent\";s:11:\"description\";s:24:\"The description of agent\";}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"13.3.0
  (76914)\";s:11:\"description\";s:20:\"The version of agent\";}s:8:\"imported\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:33:\"Does
  the agent is imported or not\";}}}s:18:\"Agents_inner_agent\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:14;}s:9:\"agentName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"myagent.com\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/Agents_inner_agent_fields\";}}}s:12:\"Agents_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"agent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Agents_inner_agent\";}}}s:35:\"AgentGroups_inner_agentGroup_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"agent
  group organization\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"The
  description of agent group\";s:11:\"description\";s:30:\"The description of agent
  group\";}s:11:\"loadBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:44:\"Does
  the agent group is load balanced or not\";}s:9:\"mxEnabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:41:\"Does
  the agent group is MX enabled or not\";}s:19:\"transferConcurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:11;}}}s:28:\"AgentGroups_inner_agentGroup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"agent
  group name\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/AgentGroups_inner_agentGroup_fields\";}}}s:17:\"AgentGroups_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"agentGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/AgentGroups_inner_agentGroup\";}}}s:36:\"CreateAgentGroupResponse_agentGroups\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"agent_group\";}}}s:20:\"Job_inner_job_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"jobGroupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:22:\"jobTemplateLibraryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"Media_Mover_Workflows\";}s:15:\"jobTemplateName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:7:\"jobArgs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JobArgs\";}}}s:13:\"Job_inner_job\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Job_inner_job_fields\";}}}s:9:\"Job_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"job\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Job_inner_job\";}}}s:24:\"EditJob_inner_job_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:12:\"jobGroupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:22:\"jobTemplateLibraryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"Media_Mover_Workflows\";}s:15:\"jobTemplateName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:7:\"jobArgs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JobArgs\";}}}s:17:\"EditJob_inner_job\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"MediaDistributor1\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EditJob_inner_job_fields\";}}}s:13:\"EditJob_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"job\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EditJob_inner_job\";}}}s:22:\"CreateJobResponse_jobs\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1222;}s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaAggregator1\";}}}s:26:\"DeleteJob_inner_job_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"jobGroupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}}}s:19:\"DeleteJob_inner_job\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:111;}s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DeleteJob_inner_job_fields\";}}}s:15:\"DeleteJob_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"job\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DeleteJob_inner_job\";}}}s:23:\"GetJob_inner_job_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"jobGroupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:22:\"jobTemplateLibraryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"Media_Mover_Workflows\";}s:15:\"jobTemplateName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:9:\"createdBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:9:\"createdOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-04-03T11:29:14\";}s:11:\"activeState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"IDLE\";}s:14:\"scheduledState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"DORMANT\";}s:12:\"lastExitCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:23:\"lastActiveStatusMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:14:\"activeFilename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Europe/Belgrade\";}s:7:\"jobArgs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JobArgs\";}}}s:16:\"GetJob_inner_job\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:111;}s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GetJob_inner_job_fields\";}}}s:12:\"GetJob_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"job\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/GetJob_inner_job\";}}}s:25:\"ListJobs_inner_job_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"jobGroupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Default\";}s:22:\"jobTemplateLibraryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"Media_Mover_Workflows\";}s:15:\"jobTemplateName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:9:\"createdBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:9:\"createdOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-04-03T11:29:14\";}s:11:\"activeState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"IDLE\";}s:14:\"scheduledState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"DORMANT\";}s:12:\"lastExitCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:23:\"lastActiveStatusMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:14:\"activeFilename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Europe/Belgrade\";}}}s:18:\"ListJobs_inner_job\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:111;}s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ListJobs_inner_job_fields\";}}}s:14:\"ListJobs_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"job\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ListJobs_inner_job\";}}}s:19:\"StatsResponse_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":71:{s:6:\"job_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"JOB_4501\";}s:12:\"package_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"SigniantDistribute1\";}s:11:\"source_host\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"myagent.com\";}s:11:\"target_host\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"myagent.com\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"COMPLETE\";}s:12:\"package_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"FILE_TRF\";}s:22:\"transport_type_display\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"WAN
  Accelerated\";}s:15:\"effective_bytes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:596653;}s:10:\"file_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2;}s:15:\"directory_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:10:\"byte_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:596653;}s:17:\"files_transferred\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2;}s:13:\"files_skipped\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:13:\"files_deleted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:12:\"failed_files\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:16:\"agent_start_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1522752016001514;}s:17:\"remote_start_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1522752016001514;}s:18:\"names_cmd_end_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1522752018349292;}s:19:\"transfer_start_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1522752018282589;}s:17:\"transfer_end_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1522752018559990;}s:15:\"remote_end_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1522752018727172;}s:14:\"agent_end_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1522752018776840;}s:18:\"bandwidth_throttle\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:13:\"transfer_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2490049;}s:17:\"transfer_rate_max\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2088659;}s:17:\"transfer_rate_min\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2088659;}s:23:\"directories_transferred\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:19:\"directories_skipped\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:19:\"directories_deleted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:18:\"failed_directories\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:15:\"file_data_bytes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:596653;}s:16:\"target_filebytes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:596653;}s:15:\"file_attr_bytes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:20:\"file_data_bytes_comp\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:577017;}s:20:\"file_attr_bytes_comp\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:18:\"file_bytes_skipped\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:18:\"file_bytes_deleted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:19:\"rsync_bytes_skipped\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:14:\"ovhd_src_rsync\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:14:\"ovhd_tgt_rsync\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:19:\"ovhd_src_mnfst_comp\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:77;}s:19:\"ovhd_tgt_mnfst_comp\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:77;}s:14:\"ovhd_src_prtcl\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:110;}s:14:\"ovhd_tgt_prtcl\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:42;}s:14:\"ovhd_src_cchnl\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:102927;}s:14:\"ovhd_tgt_cchnl\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:6025;}s:14:\"sf_bytes_recvd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:6110;}s:13:\"sf_bytes_sent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:680131;}s:15:\"ntwk_bytes_sent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:692376;}s:14:\"ntwk_bytes_ack\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:692376;}s:16:\"ntwk_bytes_recvd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:10379;}s:18:\"udp_aggressiveness\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"MEDIUM\";}s:16:\"udp_payload_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2040;}s:15:\"udp_header_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:8;}s:13:\"udp_pkts_sent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:402;}s:12:\"udp_pkts_ack\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:402;}s:14:\"udp_pkts_recvd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:9;}s:15:\"udp_pkts_resent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:14:\"udp_pkts_rjctd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:11:\"udp_ceiling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:9:\"udp_floor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:11:\"rmt_cmd_twu\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:11:\"rmt_cmd_wuc\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:18:\"unrecovered_errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:12:\"total_errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:20:\"proc_data_bytes_sent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:26:\"proc_data_bytes_unconsumed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:20:\"tnnl_data_bytes_sent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:21:\"tnnl_data_bytes_recvd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:15:\"agent_stat_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1522752018776570;}s:8:\"time_est\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}}}s:24:\"JobView_inner_job_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"activeFilename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:11:\"jobTemplate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:8:\"jobState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Completed\";}s:9:\"startedAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-04-04T11:59:37\";}s:15:\"percentComplete\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"100%\";}s:8:\"jobGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}}}s:17:\"JobView_inner_job\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:111;}s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"MediaDistributor\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/JobView_inner_job_fields\";}}}s:13:\"JobView_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"job\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/JobView_inner_job\";}}}s:19:\"JobLog_inner_jobLog\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1522752014000;}s:8:\"severity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Info\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Application\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:79:\"The
  Signiant supervisor V13.4.0[76984] (logbase: Default-ScheduledStart2.11860)\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:40136;}s:13:\"messageSource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Supervisor\";}s:5:\"agent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"myagent.com\";}s:11:\"jobTemplate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"ScheduledStart2\";}}}s:12:\"JobLog_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"jobLog\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/JobLog_inner_jobLog\";}}}s:15:\"FileLog_fileLog\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"12.jpg\";}s:9:\"certified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1530783005000;}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"myagent.com\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"myagent.com\";}s:10:\"sourceHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:39:\"9d2f843bb27f5492d6ddc039d584699c01171ae\";}s:10:\"targetHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:40:\"49d2f843bb27f5492d6ddc039d584699c01171ae\";}}}s:21:\"StatisticLog_statsLog\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":21:{s:11:\"packageName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"SigniantDistribute2\";}s:11:\"sourceAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"myagent.com\";}s:11:\"targetAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"myagent.com\";}s:17:\"intervalStartTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1532958238049;}s:15:\"intervalEndTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1532958238049;}s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Agent
  Start\";}s:13:\"ntwkBytesSent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:121604;}s:12:\"ntwkBytesAck\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:121604;}s:17:\"bandwidthThrottle\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:10:\"udpCeiling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:125000;}s:8:\"udpFloor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:125000;}s:7:\"cmdName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"reqcomponentrun\";}s:10:\"cmdProcess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"agent\";}s:9:\"cmdSource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"myagent.com\";}s:11:\"udpPktsSent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:10:\"udpPktsAck\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:12:\"udpPktsRecvd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:13:\"udpPktsResent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:12:\"udpPktsRjctd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:9:\"rmtCmdWuc\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:14:\"activeFilename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"1.jpg\";}}}s:32:\"ChangePassword_inner_user_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"newpassword\";}s:11:\"oldPassword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"oldpassword\";}}}s:25:\"ChangePassword_inner_user\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"userName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"test_user\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ChangePassword_inner_user_fields\";}}}s:20:\"ChangePassword_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ChangePassword_inner_user\";}}}s:35:\"StorageProfile_inner_storageProfile\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"Local
  S3 storage profile\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/CreateS3StorageProfile\";}}}s:20:\"StorageProfile_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"storageProfile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/StorageProfile_inner_storageProfile\";}}}s:48:\"EditS3StorageProfile_inner_storageProfile_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"S3
  storage profile new name\";s:11:\"description\";s:27:\"S3 storage profile new name\";}s:11:\"storageType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"s3-object-storage-access\";s:11:\"description\";s:31:\"S3
  Object storage profile type.\";}s:13:\"storageServer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"s3_storage\";s:11:\"description\";s:30:\"S3
  Object Storage profile name\";}s:6:\"bucket\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"S3_bucket\";s:11:\"description\";s:14:\"S3
  bucket name\";}s:9:\"subFolder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"S3_subfolder\";s:11:\"description\";s:17:\"S3
  subfolder name\";}s:11:\"accessStyle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"virtual-domain\";s:11:\"description\";s:38:\"S3
  object storage profile access style\";}s:9:\"accessKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"s3\";s:11:\"description\";s:36:\"S3
  object storage profile access key\";}s:9:\"secretKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"s3\";s:11:\"description\";s:44:\"S3
  object storage profile encoded secret key\";}s:10:\"accessAcls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccessAcls\";}}}}s:41:\"EditS3StorageProfile_inner_storageProfile\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"S3
  storage profile\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/EditS3StorageProfile_inner_storageProfile_fields\";}}}s:26:\"EditS3StorageProfile_inner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"storageProfile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/EditS3StorageProfile_inner_storageProfile\";}}}s:43:\"CreateObjectStorageResponse_storageProfiles\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1222;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"S3/Azure
  Storage Profile\";}}}s:47:\"GetS3StorageProfile_inner_storageProfile_fields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"storageType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"s3-object-storage-access\";s:11:\"description\";s:31:\"S3
  Object storage profile type.\";}s:13:\"storageServer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"s3_storage\";s:11:\"description\";s:30:\"S3
  Object Storage profile name\";}s:6:\"bucket\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"S3_bucket\";s:11:\"description\";s:14:\"S3
  bucket name\";}s:9:\"subFolder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"S3_subfolder\";s:11:\"description\";s:17:\"S3
  subfolder name\";}s:11:\"accessStyle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"virtual-domain\";s:11:\"description\";s:38:\"S3
[...]
