---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:64:\"Manages
  Hadoop-based clusters and jobs on Google Cloud Platform.\";s:5:\"title\";s:14:\"Cloud
  Dataproc\";s:7:\"version\";s:7:\"v1beta2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:63:\"https://dataproc.googleapis.com/$discovery/rest?version=v1beta2\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"dataproc\";}"
host: dataproc.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":59:{s:17:\"AcceleratorConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"Specifies
  the type and number of accelerator cards attached to the instances of an instance
  group (see GPUs on Compute Engine).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"acceleratorCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  number of the accelerator cards of this type exposed to this instance.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"acceleratorTypeUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:576:\"Full
  URL, partial URI, or short name of the accelerator type resource to expose to this
  instance. See Compute Engine AcceleratorTypes( /compute/docs/reference/beta/acceleratorTypes)Examples
  * https://www.googleapis.com/compute/beta/projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80
  * projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 * nvidia-tesla-k80Auto
  Zone Exception: If you are using the Cloud Dataproc Auto Zone Placement feature,
  you must use the short name of the accelerator type resource, for example, nvidia-tesla-k80.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Associates
  members with a role.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:830:\"Specifies
  the identities requesting access for a Cloud Platform resource. members can have
  the following values:\nallUsers: A special identifier that represents anyone who
  is  on the internet; with or without a Google account.\nallAuthenticatedUsers: A
  special identifier that represents anyone  who is authenticated with a Google account
  or a service account.\nuser:{emailid}: An email address that represents a specific
  Google  account. For example, alice@gmail.com .\nserviceAccount:{emailid}: An email
  address that represents a service  account. For example, my-other-app@appspot.gserviceaccount.com.\ngroup:{emailid}:
  An email address that represents a Google group.  For example, admins@example.com.\ndomain:{domain}:
  A Google Apps domain name that represents all the  users of that domain. For example,
  google.com or example.com.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Role
  that is assigned to members. For example, roles/viewer, roles/editor, or roles/owner.
  Required\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CancelJobRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  request to cancel a job.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Describes
  the identifying information, config, and status of a cluster of Compute Engine instances.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"clusterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Required.
  The cluster name. Cluster names within a project must be unique. Names of deleted
  clusters can be reused.\";s:4:\"type\";s:6:\"string\";}s:11:\"clusterUuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Output
  only. A cluster UUID (Unique Universal Identifier). Cloud Dataproc generates this
  value when it creates the cluster.\";s:4:\"type\";s:6:\"string\";}s:6:\"config\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ClusterConfig\";s:11:\"description\";s:127:\"Required.
  The cluster config. Note that Cloud Dataproc may set default values, and values
  may change when clusters are updated.\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:368:\"Optional.
  The labels to associate with this cluster. Label keys must contain 1 to 63 characters,
  and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values
  may be empty, but, if present, must contain 1 to 63 characters, and must conform
  to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be
  associated with a cluster.\";s:4:\"type\";s:6:\"object\";}s:7:\"metrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ClusterMetrics\";s:11:\"description\";s:165:\"Contains
  cluster daemon metrics such as HDFS and YARN stats.Beta Feature: This report is
  available for testing purposes only. It may be changed before final release.\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Required.
  The Google Cloud Platform project ID that the cluster belongs to.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ClusterStatus\";s:11:\"description\";s:28:\"Output
  only. Cluster status.\";}s:13:\"statusHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Output
  only. The previous cluster status.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ClusterStatus\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ClusterConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  cluster config.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"configBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:408:\"Optional.
  A Cloud Storage staging bucket used for sharing generated SSH keys and config. If
  you do not specify a staging bucket, Cloud Dataproc will determine an appropriate
  Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according
  to the Google Compute Engine zone where your cluster is deployed, and then it will
  create and manage this project-level, per-location bucket for you.\";s:4:\"type\";s:6:\"string\";}s:16:\"gceClusterConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GceClusterConfig\";s:11:\"description\";s:83:\"Required.
  The shared Compute Engine config settings for all instances in a cluster.\";}s:21:\"initializationActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:509:\"Optional.
  Commands to execute on each node after config is completed. By default, executables
  are run on master and all worker nodes. You can test a node's <code>role</code>
  metadata to run an executable on a master or worker node, as shown below using curl
  (you can also use wget):\nROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1beta2/instance/attributes/dataproc-role)\nif
  [[ \"${ROLE}\" == 'Master' ]]; then\n  ... master specific actions ...\nelse\n  ...
  worker specific actions ...\nfi\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/NodeInitializationAction\";}s:4:\"type\";s:5:\"array\";}s:15:\"lifecycleConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LifecycleConfig\";s:11:\"description\";s:62:\"Optional.
  The config setting for auto delete cluster schedule.\";}s:12:\"masterConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InstanceGroupConfig\";s:11:\"description\";s:82:\"Optional.
  The Compute Engine config settings for the master instance in a cluster.\";}s:21:\"secondaryWorkerConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InstanceGroupConfig\";s:11:\"description\";s:90:\"Optional.
  The Compute Engine config settings for additional worker instances in a cluster.\";}s:14:\"softwareConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SoftwareConfig\";s:11:\"description\";s:62:\"Optional.
  The config settings for software inside the cluster.\";}s:12:\"workerConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InstanceGroupConfig\";s:11:\"description\";s:79:\"Optional.
  The Compute Engine config settings for worker instances in a cluster.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ClusterMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"Contains
  cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is
  available for testing purposes only. It may be changed before final release.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"hdfsMetrics\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:17:\"The
  HDFS metrics.\";s:4:\"type\";s:6:\"object\";}s:11:\"yarnMetrics\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:17:\"The
  YARN metrics.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ClusterOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  cluster operation triggered by a workflow.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Output
  only. Indicates the operation is done.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Output
  only. Error, if operation failed.\";s:4:\"type\";s:6:\"string\";}s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Output
  only. The id of the cluster operation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ClusterOperationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Metadata
  describing the operation.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"clusterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Output
  only. Name of the cluster for the operation.\";s:4:\"type\";s:6:\"string\";}s:11:\"clusterUuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Output
  only. Cluster UUID for the operation.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Output
  only. Short description of operation.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:49:\"Output
  only. Labels associated with the operation\";s:4:\"type\";s:6:\"object\";}s:13:\"operationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Output
  only. The operation type.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ClusterOperationStatus\";s:11:\"description\";s:38:\"Output
  only. Current operation status.\";}s:13:\"statusHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Output
  only. The previous operation status.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ClusterOperationStatus\";}s:4:\"type\";s:5:\"array\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Output
  only. Errors encountered during operation execution.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ClusterOperationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  status of the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Output
  only. A message containing any operation metadata details.\";s:4:\"type\";s:6:\"string\";}s:10:\"innerState\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Output
  only. A message containing the detailed operation state.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Output
  only. A message containing the operation state.\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:7:\"PENDING\";i:2;s:7:\"RUNNING\";i:3;s:4:\"DONE\";}s:4:\"type\";s:6:\"string\";}s:14:\"stateStartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Output
  only. The time this state was entered.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ClusterSelector\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  selector that chooses target cluster for jobs based on metadata.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"clusterLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:68:\"Required.
  The cluster labels. Cluster must have all labels to match.\";s:4:\"type\";s:6:\"object\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"Optional.
  The zone where workflow process executes. This parameter does not affect the selection
  of the cluster.If unspecified, the zone of the first cluster matching the selector
  is used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ClusterStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  status of a cluster and its instances.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"detail\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Output
  only. Optional details of cluster's state.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Output
  only. The cluster's state.\";s:4:\"enum\";a:6:{i:0;s:7:\"UNKNOWN\";i:1;s:8:\"CREATING\";i:2;s:7:\"RUNNING\";i:3;s:5:\"ERROR\";i:4;s:8:\"DELETING\";i:5;s:8:\"UPDATING\";}s:4:\"type\";s:6:\"string\";}s:14:\"stateStartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Output
  only. Time when this state was entered.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"substate\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Output
  only. Additional state information that includes status reported by the agent.\";s:4:\"enum\";a:3:{i:0;s:11:\"UNSPECIFIED\";i:1;s:9:\"UNHEALTHY\";i:2;s:12:\"STALE_STATUS\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DiagnoseClusterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  request to collect cluster diagnostic information.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DiagnoseClusterResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  location of diagnostic output.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"outputUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Output
  only. The Cloud Storage URI of the diagnostic output. The output report is a plain
  text file with a summary of collected diagnostics.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DiskConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Specifies
  the config of disk options for a group of VM instances.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"bootDiskSizeGb\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Optional.
  Size in GB of the boot disk (default is 500GB).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"bootDiskType\";O:8:\"stdClass\":2:{s:11:\"description\";s:170:\"Optional.
  Type of the boot disk (default is \"pd-standard\"). Valid values: \"pd-ssd\" (Persistent
  Disk Solid State Drive) or \"pd-standard\" (Persistent Disk Hard Disk Drive).\";s:4:\"type\";s:6:\"string\";}s:12:\"numLocalSsds\";O:8:\"stdClass\":3:{s:11:\"description\";s:357:\"Optional.
  Number of attached SSDs, from 0 to 4 (default is 0). If SSDs are not attached, the
  boot disk is used to store runtime logs and HDFS (https://hadoop.apache.org/docs/r1.2.1/hdfs_user_guide.html)
  data. If one or more SSDs are attached, this runtime bulk data is spread across
  them, and the boot disk contains only basic config and installed binaries.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:341:\"A
  generic empty message that you can re-use to avoid defining duplicated empty messages
  in your APIs. A typical example is to use it as the request or the response type
  of an API method. For instance:\nservice Foo {\n  rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n}\nThe JSON representation for Empty is empty
  JSON object {}.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"GceClusterConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Common
  config settings for resources of Compute Engine cluster instances, applicable to
  all instances in the cluster.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"internalIpOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:411:\"Optional.
  If true, all instances in the cluster will only have internal IP addresses. By default,
  clusters are not restricted to internal IP addresses, and will have ephemeral external
  IP addresses assigned to each instance. This internal_ip_only restriction can only
  be enabled for subnetwork enabled networks, and all off-cluster dependencies must
  be configured to be accessible without external IP addresses.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:194:\"The
  Compute Engine metadata entries to add to all instances (see Project and instance
  metadata (https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata)).\";s:4:\"type\";s:6:\"object\";}s:10:\"networkUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:509:\"Optional.
  The Compute Engine network to be used for machine communications. Cannot be specified
  with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the
  \"default\" network of the project is used, if it exists. Cannot be a \"Custom Subnet
  Network\" (see Using Subnetworks for more information).A full URL, partial URI,
  or short name are valid. Examples:\nhttps://www.googleapis.com/compute/v1/projects/[project_id]/regions/global/default\nprojects/[project_id]/regions/global/default\ndefault\";s:4:\"type\";s:6:\"string\";}s:14:\"serviceAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:405:\"Optional.
  The service account of the instances. Defaults to the default Compute Engine service
  account. Custom service accounts need permissions equivalent to the following IAM
  roles:\nroles/logging.logWriter\nroles/storage.objectAdmin(see https://cloud.google.com/compute/docs/access/service-accounts#custom_service_accounts
  for more information). Example: [account_id]@[project_id].iam.gserviceaccount.com\";s:4:\"type\";s:6:\"string\";}s:20:\"serviceAccountScopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:566:\"Optional.
  The URIs of service account scopes to be included in Compute Engine instances. The
  following base set of scopes is always included:\nhttps://www.googleapis.com/auth/cloud.useraccounts.readonly\nhttps://www.googleapis.com/auth/devstorage.read_write\nhttps://www.googleapis.com/auth/logging.writeIf
  no scopes are specified, the following defaults are also provided:\nhttps://www.googleapis.com/auth/bigquery\nhttps://www.googleapis.com/auth/bigtable.admin.table\nhttps://www.googleapis.com/auth/bigtable.data\nhttps://www.googleapis.com/auth/devstorage.full_control\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"subnetworkUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:306:\"Optional.
  The Compute Engine subnetwork to be used for machine communications. Cannot be specified
  with network_uri.A full URL, partial URI, or short name are valid. Examples:\nhttps://www.googleapis.com/compute/v1/projects/[project_id]/regions/us-east1/sub0\nprojects/[project_id]/regions/us-east1/sub0\nsub0\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  Compute Engine tags to add to all instances (see Tagging instances).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"zoneUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:479:\"Optional.
  The zone where the Compute Engine cluster will be located. On a create request,
  it is required in the \"global\" region. If omitted in a non-global Cloud Dataproc
  region, the service will pick a zone in the corresponding Compute Engine region.
  On a get request, zone will always be present.A full URL, partial URI, or short
  name are valid. Examples:\nhttps://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]\nprojects/[project_id]/zones/[zone]\nus-central1-f\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Request
  message for GetIamPolicy method.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"HadoopJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:280:\"A
  Cloud Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html)
  jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"archiveUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"Optional.
  HCFS URIs of archives to be extracted in the working directory of Hadoop drivers
  and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"args\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"Optional.
  The arguments to pass to the driver. Do not include arguments, such as -libjars
  or -Dfoo=bar, that can be set as job properties, since a collision may occur that
  causes an incorrect job submission.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"fileUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"Optional.
  HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory
  of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"jarFileUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Optional.
  Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"loggingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LoggingConfig\";s:11:\"description\";s:51:\"Optional.
  The runtime log config for job execution.\";}s:9:\"mainClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  name of the driver's main class. The jar file containing the class must be in the
  default CLASSPATH or specified in jar_file_uris.\";s:4:\"type\";s:6:\"string\";}s:14:\"mainJarFileUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:251:\"The
  HCFS URI of the jar file containing the main class. Examples:  'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar'
  \ 'hdfs:/tmp/test-samples/custom-wordcount.jar'  'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:241:\"Optional.
  A mapping of property names to values, used to configure Hadoop. Properties that
  conflict with values set by the Cloud Dataproc API may be overwritten. Can include
  properties set in /etc/hadoop/conf/*-site and classes in user code.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:7:\"HiveJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"A
  Cloud Dataproc job for running Apache Hive (https://hive.apache.org/) queries on
  YARN.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"continueOnFailure\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Optional.
  Whether to continue executing queries if a query fails. The default value is false.
  Setting to true can be useful when executing independent parallel queries.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"jarFileUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"Optional.
  HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce
  (MR) tasks. Can contain Hive SerDes and UDFs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:275:\"Optional.
  A mapping of property names and values, used to configure Hive. Properties that
  conflict with values set by the Cloud Dataproc API may be overwritten. Can include
  properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and
  classes in user code.\";s:4:\"type\";s:6:\"object\";}s:12:\"queryFileUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  HCFS URI of the script that contains Hive queries.\";s:4:\"type\";s:6:\"string\";}s:9:\"queryList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/QueryList\";s:11:\"description\";s:18:\"A
  list of queries.\";}s:15:\"scriptVariables\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:104:\"Optional.
  Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";).\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InstanceGroupConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Optional.
  The config settings for Compute Engine resources in an instance group, such as a
  master or worker group.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"accelerators\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"Optional.
  The Compute Engine accelerator configuration for these instances.Beta Feature: This
  feature is still under development. It may be changed before final release.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AcceleratorConfig\";}s:4:\"type\";s:5:\"array\";}s:10:\"diskConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DiskConfig\";s:11:\"description\";s:38:\"Optional.
  Disk option config settings.\";}s:8:\"imageUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"Output
  only. The Compute Engine image resource used for cluster instances. Inferred from
  SoftwareConfig.image_version.\";s:4:\"type\";s:6:\"string\";}s:13:\"instanceNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Output
  only. The list of instance names. Cloud Dataproc derives the names from cluster_name,
  num_instances, and the instance group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"isPreemptible\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Optional.
  Specifies that this instance group contains preemptible instances.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"machineTypeUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:483:\"Optional.
  The Compute Engine machine type used for cluster instances.A full URL, partial URI,
  or short name are valid. Examples:\nhttps://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2\nprojects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2\nn1-standard-2Auto
  Zone Exception: If you are using the Cloud Dataproc Auto Zone Placement feature,
  you must use the short name of the machine type resource, for example, n1-standard-2.\";s:4:\"type\";s:6:\"string\";}s:18:\"managedGroupConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ManagedGroupConfig\";s:11:\"description\";s:141:\"Output
  only. The config for Compute Engine Instance Group Manager that manages this group.
  This is only used for preemptible instance groups.\";}s:14:\"minCpuPlatform\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Optional.
  Specifies the minimum cpu platform for the Instance Group. See Cloud Dataproc&rarr;Minimum
  CPU Platform.\";s:4:\"type\";s:6:\"string\";}s:12:\"numInstances\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Optional.
  The number of VM instances in the instance group. For master instance groups, must
  be set to 1.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:34:\"InstantiateWorkflowTemplateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  request to instantiate a workflow template.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:414:\"Optional.
  A tag that prevents multiple concurrent workflow instances with the same tag from
  running. This mitigates risk of concurrent instances started due to retries.It is
  recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The
  tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens
  (-). The maximum length is 40 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:86:\"Optional.
  Map from parameter names to values that should be used for those parameters.\";s:4:\"type\";s:6:\"object\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"Optional.
  The version of workflow template to instantiate. If specified, the workflow will
  be instantiated only if the current version of the workflow template has the supplied
  version.This option cannot be used to instantiate a previous version of workflow
  template.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Job\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  Cloud Dataproc job resource.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:21:\"driverControlFilesUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:208:\"Output
  only. If present, the location of miscellaneous control files which may be used
  as part of job setup and handling. If not present, control files may be placed in
  the same location as driver_output_uri.\";s:4:\"type\";s:6:\"string\";}s:23:\"driverOutputResourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Output
  only. A URI pointing to the location of the stdout of the job's driver program.\";s:4:\"type\";s:6:\"string\";}s:9:\"hadoopJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/HadoopJob\";s:11:\"description\";s:20:\"Job
  is a Hadoop job.\";}s:7:\"hiveJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/HiveJob\";s:11:\"description\";s:18:\"Job
  is a Hive job.\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:360:\"Optional.
  The labels to associate with this job. Label keys must contain 1 to 63 characters,
  and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values
  may be empty, but, if present, must contain 1 to 63 characters, and must conform
  to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be
  associated with a job.\";s:4:\"type\";s:6:\"object\";}s:6:\"pigJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/PigJob\";s:11:\"description\";s:17:\"Job
  is a Pig job.\";}s:9:\"placement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/JobPlacement\";s:11:\"description\";s:73:\"Required.
  Job information, including how, when, and where to run the job.\";}s:10:\"pysparkJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PySparkJob\";s:11:\"description\";s:21:\"Job
  is a Pyspark job.\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/JobReference\";s:11:\"description\";s:226:\"Optional.
  The fully qualified reference to the job, which can be used to obtain the equivalent
  REST path of the job resource. If this property is not specified when a job is created,
  the server generates a <code>job_id</code>.\";}s:10:\"scheduling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/JobScheduling\";s:11:\"description\";s:39:\"Optional.
  Job scheduling configuration.\";}s:8:\"sparkJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/SparkJob\";s:11:\"description\";s:19:\"Job
  is a Spark job.\";}s:11:\"sparkSqlJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SparkSqlJob\";s:11:\"description\";s:22:\"Job
  is a SparkSql job.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:168:\"Output
  only. The job status. Additional application-specific status information may be
  contained in the <code>type_job</code> and <code>yarn_applications</code> fields.\";}s:13:\"statusHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Output
  only. The previous job status.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";}s:4:\"type\";s:5:\"array\";}s:16:\"yarnApplications\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"Output
  only. The collection of YARN applications spun up by this job.Beta Feature: This
  report is available for testing purposes only. It may be changed before final release.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/YarnApplication\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"JobPlacement\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Cloud
  Dataproc job config.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"clusterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Required.
  The name of the cluster where the job will be submitted.\";s:4:\"type\";s:6:\"string\";}s:11:\"clusterUuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Output
  only. A cluster UUID generated by the Cloud Dataproc service when the job is submitted.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"JobReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Encapsulates
  the full scoping used to reference a job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:338:\"Optional.
  The job ID, which must be unique within the project. The job ID is generated by
  the server upon job submission or provided by the user as a means to perform retries
  without creating duplicate jobs. The ID must contain only letters (a-z, A-Z), numbers
  (0-9), underscores (_), or hyphens (-). The maximum length is 100 characters.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Required.
  The ID of the Google Cloud Platform project that the job belongs to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"JobScheduling\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Job
  scheduling options.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"maxFailuresPerHour\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"Optional.
  Maximum number of times per hour a driver may be restarted as a result of driver
  terminating with non-zero code before job is reported failed.A job may be reported
  as thrashing if driver exits with non-zero code 4 times within 10 minute window.Maximum
  value is 10.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"JobStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Cloud
  Dataproc job status.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Output
  only. Optional job state details, such as an error description if the state is <code>ERROR</code>.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Output
  only. A state message specifying the overall job state.\";s:4:\"enum\";a:10:{i:0;s:17:\"STATE_UNSPECIFIED\";i:1;s:7:\"PENDING\";i:2;s:10:\"SETUP_DONE\";i:3;s:7:\"RUNNING\";i:4;s:14:\"CANCEL_PENDING\";i:5;s:14:\"CANCEL_STARTED\";i:6;s:9:\"CANCELLED\";i:7;s:4:\"DONE\";i:8;s:5:\"ERROR\";i:9;s:15:\"ATTEMPT_FAILURE\";}s:4:\"type\";s:6:\"string\";}s:14:\"stateStartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Output
  only. The time when this state was entered.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"substate\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Output
  only. Additional state information, which includes status reported by the agent.\";s:4:\"enum\";a:4:{i:0;s:11:\"UNSPECIFIED\";i:1;s:9:\"SUBMITTED\";i:2;s:6:\"QUEUED\";i:3;s:12:\"STALE_STATUS\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LifecycleConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Specifies
  the cluster auto delete related schedule configuration.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"autoDeleteTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Optional.
  The time when cluster will be auto-deleted.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:13:\"autoDeleteTtl\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Optional.
  The life duration of cluster, the cluster will be auto-deleted at the end of this
  duration.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:13:\"idleDeleteTtl\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"Optional.
  The longest duration that cluster would keep alive while staying  idle; passing
  this threshold will cause cluster to be auto-deleted.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListClustersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  list of all clusters in a project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"clusters\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Output
  only. The clusters in the project.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"Output
  only. This token is included in the response if there are more results to fetch.
  To fetch additional results, provide this value as the page_token in a subsequent
  <code>ListClustersRequest</code>.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListJobsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  list of jobs in a project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"jobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Output
  only. Jobs list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"Optional.
  This token is included in the response if there are more results to fetch. To fetch
  additional results, provide this value as the page_token in a subsequent <code>ListJobsRequest</code>.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  response message for Operations.ListOperations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of operations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListWorkflowTemplatesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"A
  response to a request to list workflow templates in a project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:212:\"Output
  only. This token is included in the response if there are more results to fetch.
  To fetch additional results, provide this value as the page_token in a subsequent
  <code>ListWorkflowTemplatesRequest</code>.\";s:4:\"type\";s:6:\"string\";}s:9:\"templates\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Output
  only. WorkflowTemplates list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/WorkflowTemplate\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LoggingConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  runtime logging config of the job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"driverLogLevels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:17:\"LEVEL_UNSPECIFIED\";i:1;s:3:\"ALL\";i:2;s:5:\"TRACE\";i:3;s:5:\"DEBUG\";i:4;s:4:\"INFO\";i:5;s:4:\"WARN\";i:6;s:5:\"ERROR\";i:7;s:5:\"FATAL\";i:8;s:3:\"OFF\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:173:\"The
  per-package log levels for the driver. This may include \"root\" package name to
  configure rootLogger. Examples:  'com.google = FATAL', 'root = INFO', 'org.apache
  = DEBUG'\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ManagedCluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Cluster
  that is managed by the workflow.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"clusterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:289:\"Required.
  The cluster name prefix. A unique cluster name will be formed by appending a random
  suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens
  (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of
  between 2 and 35 characters.\";s:4:\"type\";s:6:\"string\";}s:6:\"config\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ClusterConfig\";s:11:\"description\";s:36:\"Required.
  The cluster configuration.\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:383:\"Optional.
  The labels to associate with this cluster.Label keys must be between 1 and 63 characters
  long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label
  values must be between 1 and 63 characters long, and must conform to the following
  PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can
  be associated with a given cluster.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ManagedGroupConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Specifies
  the resources used to actively manage an instance group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"instanceGroupManagerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Output
  only. The name of the Instance Group Manager for this group.\";s:4:\"type\";s:6:\"string\";}s:20:\"instanceTemplateName\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Output
  only. The name of the Instance Template used for the Managed Instance Group.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"NodeInitializationAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Specifies
  an executable to run on a fully configured node and a timeout period for executable
  completion.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"executableFile\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Required.
  Cloud Storage URI of executable file.\";s:4:\"type\";s:6:\"string\";}s:16:\"executionTimeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:280:\"Optional.
  Amount of time executable has to complete. Default is 10 minutes. Cluster creation
  fails with an explanatory error message (the name of the executable that caused
  the error and the exceeded timeout period) if the executable is not completed at
  end of the timeout period.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a network API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"If
  the value is false, it means the operation is still in progress. If true, the operation
  is completed, and either error or response is available.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:279:\"Service-specific
  metadata associated with the operation. It typically contains progress information
  and common metadata such as create time. Some services might not provide such metadata.
  Any method that returns a long-running operation should document the metadata type,
  if any.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"The
  server-assigned name, which is only unique within the same service that originally
  returns it. If you use the default HTTP mapping, the name should have the format
  of operations/some/unique/name.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:470:\"The
  normal response of the operation in case of success. If the original method returns
  no data on success, such as Delete, the response is google.protobuf.Empty. If the
  original method is standard Get/Create/Update, the response should be the resource.
  For other methods, the response should have the type XxxResponse, where Xxx is the
  original method name. For example, if the original method name is TakeSnapshot(),
  the inferred response type is TakeSnapshotResponse.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"OrderedJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  job executed by the workflow.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"hadoopJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/HadoopJob\";s:11:\"description\";s:20:\"Job
  is a Hadoop job.\";}s:7:\"hiveJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/HiveJob\";s:11:\"description\";s:18:\"Job
  is a Hive job.\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:365:\"Optional.
  The labels to associate with this job.Label keys must be between 1 and 63 characters
  long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label
  values must be between 1 and 63 characters long, and must conform to the following
  regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated
  with a given job.\";s:4:\"type\";s:6:\"object\";}s:6:\"pigJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/PigJob\";s:11:\"description\";s:17:\"Job
  is a Pig job.\";}s:19:\"prerequisiteStepIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Optional.
  The optional list of prerequisite job step_ids. If not specified, the job will start
  at the beginning of workflow.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"pysparkJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PySparkJob\";s:11:\"description\";s:21:\"Job
  is a Pyspark job.\";}s:10:\"scheduling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/JobScheduling\";s:11:\"description\";s:39:\"Optional.
  Job scheduling configuration.\";}s:8:\"sparkJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/SparkJob\";s:11:\"description\";s:19:\"Job
  is a Spark job.\";}s:11:\"sparkSqlJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SparkSqlJob\";s:11:\"description\";s:22:\"Job
  is a SparkSql job.\";}s:6:\"stepId\";O:8:\"stdClass\":2:{s:11:\"description\";s:402:\"Required.
  The step id. The id must be unique among all jobs within the template.The step id
  is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in
  prerequisiteStepIds field from other steps.The id must contain only letters (a-z,
  A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with
  underscore or hyphen. Must consist of between 3 and 50 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ParameterValidation\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Configuration
  for parameter validation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"regex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RegexValidation\";s:11:\"description\";s:40:\"Validation
  based on regular expressions.\";}s:6:\"values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ValueValidation\";s:11:\"description\";s:45:\"Validation
  based on a list of allowed values.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"PigJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"A
  Cloud Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"continueOnFailure\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Optional.
  Whether to continue executing queries if a query fails. The default value is false.
  Setting to true can be useful when executing independent parallel queries.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"jarFileUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"Optional.
  HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce
  (MR) tasks. Can contain Pig UDFs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"loggingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LoggingConfig\";s:11:\"description\";s:51:\"Optional.
  The runtime log config for job execution.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:273:\"Optional.
  A mapping of property names to values, used to configure Pig. Properties that conflict
  with values set by the Cloud Dataproc API may be overwritten. Can include properties
  set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in
  user code.\";s:4:\"type\";s:6:\"object\";}s:12:\"queryFileUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  HCFS URI of the script that contains the Pig queries.\";s:4:\"type\";s:6:\"string\";}s:9:\"queryList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/QueryList\";s:11:\"description\";s:18:\"A
  list of queries.\";}s:15:\"scriptVariables\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:98:\"Optional.
  Mapping of query variable names to values (equivalent to the Pig command: name=[value]).\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:1076:\"Defines
  an Identity and Access Management (IAM) policy. It is used to specify access control
  policies for Cloud Platform resources.A Policy consists of a list of bindings. A
  binding binds a list of members to a role, where the members can be user accounts,
  Google groups, Google domains, and service accounts. A role is a named list of permissions
  defined by IAM.JSON Example\n{\n  \"bindings\": [\n    {\n      \"role\": \"roles/owner\",\n
  \     \"members\": [\n        \"user:mike@example.com\",\n        \"group:admins@example.com\",\n
  \       \"domain:google.com\",\n        \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"\n
  \     ]\n    },\n    {\n      \"role\": \"roles/viewer\",\n      \"members\": [\"user:sean@example.com\"]\n
  \   }\n  ]\n}\nYAML Example\nbindings:\n- members:\n  - user:mike@example.com\n
  \ - group:admins@example.com\n  - domain:google.com\n  - serviceAccount:my-other-app@appspot.gserviceaccount.com\n
  \ role: roles/owner\n- members:\n  - user:sean@example.com\n  role: roles/viewer\nFor
  a description of IAM and its features, see the IAM developer's guide (https://cloud.google.com/iam/docs).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Associates
  a list of members to a role. bindings with no members will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:590:\"etag
  is used for optimistic concurrency control as a way to help prevent simultaneous
  updates of a policy from overwriting each other. It is strongly suggested that systems
  make use of the etag in the read-modify-write cycle to perform policy updates in
  order to avoid race conditions: An etag is returned in the response to getIamPolicy,
  and systems are expected to put that etag in the request to setIamPolicy to ensure
  that their change will be applied to the same version of the policy.If no etag is
  provided in the call to setIamPolicy, then the existing policy is overwritten blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Deprecated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"PySparkJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"A
  Cloud Dataproc job for running Apache PySpark (https://spark.apache.org/docs/0.9.0/python-programming-guide.html)
  applications on YARN.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"archiveUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"Optional.
  HCFS URIs of archives to be extracted in the working directory of .jar, .tar, .tar.gz,
  .tgz, and .zip.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"args\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"Optional.
  The arguments to pass to the driver. Do not include arguments, such as --conf, that
  can be set as job properties, since a collision may occur that causes an incorrect
  job submission.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"fileUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"Optional.
  HCFS URIs of files to be copied to the working directory of Python drivers and distributed
  tasks. Useful for naively parallel tasks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"jarFileUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Optional.
  HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"loggingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LoggingConfig\";s:11:\"description\";s:51:\"Optional.
  The runtime log config for job execution.\";}s:17:\"mainPythonFileUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Required.
  The HCFS URI of the main Python file to use as the driver. Must be a .py file.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:254:\"Optional.
  A mapping of property names to values, used to configure PySpark. Properties that
  conflict with values set by the Cloud Dataproc API may be overwritten. Can include
  properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.\";s:4:\"type\";s:6:\"object\";}s:14:\"pythonFileUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Optional.
  HCFS file URIs of Python files to pass to the PySpark framework. Supported file
  types: .py, .egg, and .zip.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"QueryList\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  list of queries to run on a cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"queries\";O:8:\"stdClass\":3:{s:11:\"description\";s:384:\"Required.
  The queries to execute. You do not need to terminate a query with a semicolon. Multiple
  queries can be specified in one string by separating each with a semicolon. Here
  is an example of an Cloud Dataproc API snippet that uses a QueryList to specify
  a HiveJob:\n\"hiveJob\": {\n  \"queryList\": {\n    \"queries\": [\n      \"query1\",\n
  \     \"query2\",\n      \"query3;query4\",\n    ]\n  }\n}\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RegexValidation\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Validation
  based on regular expressions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"regexes\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"Required.
  RE2 regular expressions used to validate the parameter's value. The provided value
  must match the regexes in its entirety, e.g. substring matches are not enough.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Request
  message for SetIamPolicy method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:222:\"REQUIRED:
  The complete policy to be applied to the resource. The size of the policy is limited
  to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform
  services (such as Projects) might reject them.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SoftwareConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Specifies
  the selection and config of software inside the cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"imageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:251:\"Optional.
  The version of software inside the cluster. It must be one of the supported Cloud
  Dataproc Versions, such as \"1.2\" (including a subminor version, such as \"1.2.29\"),
  or the \"preview\" version. If unspecified, it defaults to the latest version.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:459:\"Optional.
  The properties to set on daemon config files.Property keys are specified in prefix:property
  format, such as core:fs.defaultFS. The following are supported prefixes and their
  mappings:\ncapacity-scheduler: capacity-scheduler.xml\ncore: core-site.xml\ndistcp:
  distcp-default.xml\nhdfs: hdfs-site.xml\nhive: hive-site.xml\nmapred: mapred-site.xml\npig:
  pig.properties\nspark: spark-defaults.conf\nyarn: yarn-site.xmlFor more information,
  see Cluster properties.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"SparkJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"A
  Cloud Dataproc job for running Apache Spark (http://spark.apache.org/) applications
  on YARN.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"archiveUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"Optional.
  HCFS URIs of archives to be extracted in the working directory of Spark drivers
  and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"args\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"Optional.
  The arguments to pass to the driver. Do not include arguments, such as --conf, that
  can be set as job properties, since a collision may occur that causes an incorrect
  job submission.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"fileUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"Optional.
  HCFS URIs of files to be copied to the working directory of Spark drivers and distributed
  tasks. Useful for naively parallel tasks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"jarFileUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Optional.
  HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"loggingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LoggingConfig\";s:11:\"description\";s:51:\"Optional.
  The runtime log config for job execution.\";}s:9:\"mainClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  name of the driver's main class. The jar file that contains the class must be in
  the default CLASSPATH or specified in jar_file_uris.\";s:4:\"type\";s:6:\"string\";}s:14:\"mainJarFileUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  HCFS URI of the jar file that contains the main class.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:252:\"Optional.
  A mapping of property names to values, used to configure Spark. Properties that
  conflict with values set by the Cloud Dataproc API may be overwritten. Can include
  properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SparkSqlJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"A
  Cloud Dataproc job for running Apache Spark SQL (http://spark.apache.org/sql/) queries.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"jarFileUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Optional.
  HCFS URIs of jar files to be added to the Spark CLASSPATH.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"loggingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LoggingConfig\";s:11:\"description\";s:51:\"Optional.
  The runtime log config for job execution.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:176:\"Optional.
  A mapping of property names to values, used to configure Spark SQL's SparkConf.
  Properties that conflict with values set by the Cloud Dataproc API may be overwritten.\";s:4:\"type\";s:6:\"object\";}s:12:\"queryFileUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  HCFS URI of the script that contains SQL queries.\";s:4:\"type\";s:6:\"string\";}s:9:\"queryList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/QueryList\";s:11:\"description\";s:18:\"A
  list of queries.\";}s:15:\"scriptVariables\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:109:\"Optional.
  Mapping of query variable names to values (equivalent to the Spark SQL command:
  SET name=\"value\";).\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2337:\"The
  Status type defines a logical error model that is suitable for different programming
  environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc).
  The error model is designed to be:\nSimple to use and understand for most users\nFlexible
  enough to meet unexpected needsOverviewThe Status message contains three pieces
  of data: error code, error message, and error details. The error code should be
  an enum value of google.rpc.Code, but it may accept additional error codes if needed.
  The error message should be a developer-facing English message that helps developers
  understand and resolve the error. If a localized user-facing error message is needed,
  put the localized message in the error details or localize it in the client. The
  optional error details may contain arbitrary information about the error. There
  is a predefined set of error detail types in the package google.rpc that can be
  used for common error conditions.Language mappingThe Status message is the logical
  representation of the error model, but it is not necessarily the actual wire format.
  When the Status message is exposed in different client libraries and different wire
  protocols, it can be mapped differently. For example, it will likely be mapped to
  some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe
  error model and the Status message can be used in a variety of environments, either
  with or without APIs, to provide a consistent developer experience across different
  environments.Example uses of this error model include:\nPartial errors. If a service
  needs to return partial errors to the client, it may embed the Status in the normal
  response to indicate the partial errors.\nWorkflow errors. A typical workflow has
  multiple steps. Each step may have a Status message for error reporting.\nBatch
  operations. If a client uses batch request and batch response, the Status message
  should be used directly inside batch response, one for each error sub-response.\nAsynchronous
  operations. If an API call embeds asynchronous operation results in its response,
  the status of those operations should be represented directly using the Status message.\nLogging.
  If some API errors are stored in logs, the message Status could be used directly
  after any stripping needed for security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"A
  list of messages that carry the error details. There is a common set of message
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any user-facing error
  message should be localized and sent in the google.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"SubmitJobRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  request to submit a job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"job\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Job\";s:11:\"description\";s:27:\"Required.
  The job resource.\";}s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:472:\"Optional.
  A unique id used to identify the request. If the server receives two SubmitJobRequest
  requests with the same id, then the second request will be ignored and the first
  Job created and stored in the backend is returned.It is recommended to always set
  this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The
  id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens
  (-). The maximum length is 40 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TemplateParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  configurable parameter that replaces one or more fields in the template.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Optional.
  User-friendly description of the parameter. Must not exceed 1024 characters.\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:1812:\"Required.
  Paths to all fields that this parameter replaces. Each field may appear in at most
  one Parameter's fields list.Field path syntax:A field path is similar to a FieldMask.
  For example, a field path that references the zone field of the template's cluster
  selector would look like:placement.clusterSelector.zoneThe only differences between
  field paths and standard field masks are that:\nValues in maps can be referenced
  by key.Example: placement.clusterSelector.clusterLabels'key'\nJobs in the jobs list
  can be referenced by step id.Example: jobs'step-id'.hadoopJob.mainJarFileUri\nItems
  in repeated fields can be referenced by zero-based index.Example: jobs'step-id'.sparkJob.args0NOTE:
  Maps and repeated fields may not be parameterized in their entirety. Only individual
  map values and items in repeated fields may be referenced. For example, the following
  field paths are invalid: - placement.clusterSelector.clusterLabels - jobs'step-id'.sparkJob.argsParameterizable
  fields:Only certain types of fields may be parameterized, specifically: - Labels
  - File uris - Job properties - Job arguments - Script variables - Main class (in
  HadoopJob and SparkJob) - Zone (in ClusterSelector)Examples of parameterizable fields:Labels:labels'key'
  placement.managedCluster.labels'key' placement.clusterSelector.clusterLabels'key'
  jobs'step-id'.labels'key'File uris:jobs'step-id'.hadoopJob.mainJarFileUri jobs'step-id'.hiveJob.queryFileUri
  jobs'step-id'.pySparkJob.mainPythonFileUri jobs'step-id'.hadoopJob.jarFileUris0
  jobs'step-id'.hadoopJob.archiveUris0 jobs'step-id'.hadoopJob.fileUris0 jobs'step-id'.pySparkJob.pythonFileUris0Other:jobs'step-id'.hadoopJob.properties'key'
  jobs'step-id'.hadoopJob.args0 jobs'step-id'.hiveJob.scriptVariables'key' jobs'step-id'.hadoopJob.mainJarFileUri
  placement.clusterSelector.zone\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:291:\"Required.
  User-friendly parameter name. This name is used as a key when providing a value
  for this parameter when the template is instantiated. Must contain only capital
  letters (A-Z), numbers (0-9), and underscores (_), and must not start with a number.
  The maximum length is 40 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"validation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ParameterValidation\";s:11:\"description\";s:67:\"Optional.
  Validation rules to be applied to this parameter's value.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"TestIamPermissionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Request
  message for TestIamPermissions method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:218:\"The
  set of permissions to check for the resource. Permissions with wildcards (such as
  '*' or 'storage.*') are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"TestIamPermissionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Response
  message for TestIamPermissions method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  subset of TestPermissionsRequest.permissions that the caller is allowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ValueValidation\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Validation
  based on a list of allowed values.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Required.
  List of allowed values for this parameter.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"WorkflowGraph\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  workflow graph.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"nodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Output
  only. The workflow nodes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/WorkflowNode\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"WorkflowMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  Cloud Dataproc workflow template resource.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"clusterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Output
  only. The name of the managed cluster.\";s:4:\"type\";s:6:\"string\";}s:13:\"createCluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ClusterOperation\";s:11:\"description\";s:51:\"Output
  only. The create cluster operation metadata.\";}s:13:\"deleteCluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ClusterOperation\";s:11:\"description\";s:51:\"Output
  only. The delete cluster operation metadata.\";}s:5:\"graph\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WorkflowGraph\";s:11:\"description\";s:32:\"Output
  only. The workflow graph.\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:71:\"Map
  from parameter names to values that were used for those parameters.\";s:4:\"type\";s:6:\"object\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Output
  only. The workflow state.\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:7:\"PENDING\";i:2;s:7:\"RUNNING\";i:3;s:4:\"DONE\";}s:4:\"type\";s:6:\"string\";}s:8:\"template\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Output
  only. The \"resource name\" of the template.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Output
  only. The version of template at the time of workflow instantiation.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"WorkflowNode\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  workflow node.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Output
  only. The error detail.\";s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Output
  only. The job id; populated after the node enters RUNNING state.\";s:4:\"type\";s:6:\"string\";}s:19:\"prerequisiteStepIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Output
  only. Node's prerequisite nodes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Output
  only. The node state.\";s:4:\"enum\";a:6:{i:0;s:23:\"NODE_STATUS_UNSPECIFIED\";i:1;s:7:\"BLOCKED\";i:2;s:8:\"RUNNABLE\";i:3;s:7:\"RUNNING\";i:4;s:9:\"COMPLETED\";i:5;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:6:\"stepId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Output
  only. The name of the node.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"WorkflowTemplate\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  Cloud Dataproc workflow template resource.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Output
  only. The time template was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:211:\"Required.
  The template id.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores
  (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist
  of between 3 and 50 characters.\";s:4:\"type\";s:6:\"string\";}s:4:\"jobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Required.
  The Directed Acyclic Graph of Jobs to submit.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OrderedJob\";}s:4:\"type\";s:5:\"array\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:458:\"Optional.
  The labels to associate with this template. These labels will be propagated to all
  jobs and clusters created by the workflow instance.Label keys must contain 1 to
  63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).Label
  values may be empty, but, if present, must contain 1 to 63 characters, and must
  conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).No more than 32 labels
  can be associated with a template.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:200:\"Output
  only. The \"resource name\" of the template, as described in https://cloud.google.com/apis/design/resource_names
  of the form projects/{project_id}/regions/{region}/workflowTemplates/{template_id}\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"Optional.
  Template parameters whose values are substituted into the template. Values for these
  parameters must be provided when the template is instantiated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TemplateParameter\";}s:4:\"type\";s:5:\"array\";}s:9:\"placement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/WorkflowTemplatePlacement\";s:11:\"description\";s:50:\"Required.
  WorkflowTemplate scheduling information.\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Output
  only. The time template was last updated.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:538:\"Optional.
  Used to perform a consistent read-modify-write.This field should be left blank for
  a CreateWorkflowTemplate request. It is required for an UpdateWorkflowTemplate request,
  and must match the current server version. A typical update template flow would
  fetch the current template with a GetWorkflowTemplate request, which will return
  the current template with the version field filled in with the current server version.
  The user updates other fields in the template, then returns it as part of the UpdateWorkflowTemplate
  request.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:25:\"WorkflowTemplatePlacement\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Specifies
  workflow execution target.Either managed_cluster or cluster_selector is required.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"clusterSelector\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ClusterSelector\";s:11:\"description\";s:136:\"Optional.
  A selector that chooses target cluster for jobs based on metadata.The selector is
  evaluated at the time each job is submitted.\";}s:14:\"managedCluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ManagedCluster\";s:11:\"description\";s:52:\"Optional.
  A cluster that is managed by the workflow.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"YarnApplication\";O:8:\"stdClass\":3:{s:11:\"description\";s:257:\"A
  YARN application created by a job. Application information is a subset of <code>org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto</code>.Beta
  Feature: This report is available for testing purposes only. It may be changed before
  final release.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Required.
  The application name.\";s:4:\"type\";s:6:\"string\";}s:8:\"progress\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Required.
  The numerical progress of the application, from 1 to 100.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Required.
  The application state.\";s:4:\"enum\";a:9:{i:0;s:17:\"STATE_UNSPECIFIED\";i:1;s:3:\"NEW\";i:2;s:10:\"NEW_SAVING\";i:3;s:9:\"SUBMITTED\";i:4;s:8:\"ACCEPTED\";i:5;s:7:\"RUNNING\";i:6;s:8:\"FINISHED\";i:7;s:6:\"FAILED\";i:8;s:6:\"KILLED\";}s:4:\"type\";s:6:\"string\";}s:11:\"trackingUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:231:\"Optional.
  The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides
  application-specific information. The URL uses the internal hostname, and requires
  a proxy server for resolution and, possibly, access.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
