---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:29:\"Ingest Profiles API Reference\";s:7:\"version\";s:5:\"1.0.0\";s:11:\"description\";s:332:\"Reference
  for the Brightcove Ingest Profiles API, used to create and manage ingest profiles
  that specify video and image renditions to be created, along with instructions for
  archiving masters. To test API requests, you can use our <a href=\"https://support.brightcove.com/getting-access-tokens\"
  target=\"_blank\">API Testing Tools</a>\";}"
host: ingestion.api.brightcove.com
basePath: /v1
paths:
  /accounts/{account_id}/configuration:
    get:
      tags:
      - Account_Configuration
      summary: Get Default Profile
      description: 'Get the default ingest profile for the account. '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'Video Cloud account ID '
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Get_Default_Profile200'
        401:
          description: 'NOT_AUTHORIZED: Credentials are required to access this resource '
        404:
          description: 'NOT_FOUND: The api couldn&#39;t find the resource you requested '
      operationId: Get_Default_Profile
    post:
      tags:
      - Account_Configuration
      summary: Set Default Profile
      description: 'Sets an ingest profile as the default for the account. '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'Video Cloud account ID '
      - in: body
        name: Set_Default_ProfileBody
        description: 'Sets an ingest profile as the default for the account. '
        required: true
        schema:
          $ref: '#/definitions/Set_Default_ProfileBody'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Set_Default_Profile200'
        400:
          description: 'BAD_REQUEST: The JSON was not valid '
        401:
          description: 'NOT_AUTHORIZED: Credentials are required to access this resource. '
        404:
          description: 'NOT_FOUND: The api couldn&#39;t find the resource you requested '
        409:
          description: 'CONFLICT: Account configuration already exists for 57838016001;
            please delete the configuration first, or update it instead. '
      operationId: Set_Default_Profile
    put:
      tags:
      - Account_Configuration
      summary: Update Default Profile
      description: 'Updates the default ingest profile for the account. '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'Video Cloud account ID '
      - in: body
        name: Update_Default_ProfileBody
        description: 'Updates the default ingest profile for the account. '
        required: true
        schema:
          $ref: '#/definitions/Update_Default_ProfileBody'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Update_Default_Profile200'
        400:
          description: 'BAD_REQUEST: The JSON was not valid '
        401:
          description: 'NOT_AUTHORIZED: Credentials are required to access this resource. '
        404:
          description: 'NOT_FOUND: The api couldn&#39;t find the resource you requested '
        409:
          description: 'CONFLICT: Account configuration already exists for 57838016001;
            please delete the configuration first, or update it instead. '
      operationId: Update_Default_Profile
  /accounts/{account_id}/profiles:
    post:
      tags:
      - Profile
      summary: Create Ingest Profile
      description: 'Create a custom ingest profile for the account. Note that you
        can also do this through Video Cloud Studio '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'Video Cloud account ID. '
      - in: body
        name: Create_Ingest_ProfileBody
        description: 'Create a custom ingest profile for the account. Note that you
          can also do this through Video Cloud Studio '
        required: true
        schema:
          $ref: '#/definitions/Create_Ingest_ProfileBody'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Create_Ingest_Profile200'
        400:
          description: 'BAD_REQUEST: Invalid JSON &mdash; message varies according
            to the problem '
        401:
          description: 'NOT_AUTHORIZED: Credentials are required to access this resource. '
        404:
          description: 'NOT_FOUND:  Resource not found '
        409:
          description: 'CONFLICT: Could not create profile with this name and id (profile
            name or id already exists) '
        422:
          description: 'UNPROCESSABLE_ENTITY: required field missing &mdash; message
            varies according to the issue '
      operationId: Create_Ingest_Profile
    get:
      tags:
      - Profile
      summary: Get All Ingest Profiles
      description: 'Get an array of all the profiles valid for the account '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'Video Cloud account ID. '
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Get_All_Ingest_Profiles200'
        401:
          description: 'NOT_AUTHORIZED: Credentials are required to access this resource. '
        404:
          description: 'NOT_FOUND:    Error 404 NOT_FOUND  HTTP ERROR 404 Problem
            accessing /v1/accounts/578380001/profiles. Reason'
        409:
          description: 'PROFILE_ERROR: profile rendition count exceeds configured
            rendition limit '
      operationId: Get_All_Ingest_Profiles
  /accounts/{account_id}/profiles/{profile_id}:
    delete:
      tags:
      - Profile
      summary: Delete Ingest Profile
      description: 'Delete an ingest profile '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'Video Cloud account ID. '
      - name: profile_id
        in: path
        required: true
        type: string
        description: 'Video Cloud account ID. '
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      responses:
        401:
          description: 'NOT_AUTHORIZED: Credentials are required to access this resource. '
        404:
          description: 'NOT_FOUND:  Resource not found '
      operationId: Delete_Ingest_Profile
    get:
      tags:
      - Profile
      summary: Get Ingest Profile by ID
      description: 'Get a single profile map by its ID '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'Video Cloud account ID. '
      - name: profile_id
        in: path
        required: true
        type: string
        description: 'Video Cloud account ID. '
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Get_Ingest_Profile_by_ID200'
        401:
          description: 'NOT_AUTHORIZED: Credentials are required to access this resource. '
        404:
          description: 'NOT_FOUND:    Error 404 NOT_FOUND  HTTP ERROR 404 Problem
            accessing /v1/accounts/578380001/profiles. Reason'
      operationId: Get_Ingest_Profile_by_ID
    put:
      tags:
      - Profile
      summary: Update Ingest Profile
      description: 'Update an existing ingest profile - the existing profile will
        be deactivated, and replaced by the one specified in the request body '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'Video Cloud account ID. '
      - name: profile_id
        in: path
        required: true
        type: string
        description: 'the profile ID. '
      - in: body
        name: Update_Ingest_ProfileBody
        description: 'Update an existing ingest profile - the existing profile will
          be deactivated, and replaced by the one specified in the request body '
        required: true
        schema:
          $ref: '#/definitions/Update_Ingest_ProfileBody'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Update_Ingest_Profile200'
        400:
          description: 'BAD_REQUEST: Invalid JSON &mdash; message varies according
            to the problem '
        401:
          description: 'NOT_AUTHORIZED: Credentials are required to access this resource. '
        404:
          description: 'NOT_FOUND:  Resource not found '
        409:
          description: 'CONFLICT: Could not create profile with this name and id (profile
            name or id already exists) '
        422:
          description: 'UNPROCESSABLE_ENTITY: required field missing &mdash; message
            varies according to the issue '
      operationId: Update_Ingest_Profile
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":41:{s:22:\"Get_Default_Profile200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:23:\"Video
  Cloud account id \";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"configuration
  id \";}s:18:\"default_profile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"profile
  name for video-on-demand \";}s:23:\"default_live_profile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"default
  profile name for live streams \";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:58:\"when
  the profile was created (epoch time in milliseconds) \";}s:18:\"date_last_modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:64:\"when
  the profile was last modified (epoch time in milliseconds) \";}s:17:\"max_profile_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:50:\"maximum
  number of custom profiles for the account \";}s:19:\"max_rendition_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:41:\"maximum
  number of renditions per profile \";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"system-managed
  version number \";}}s:8:\"required\";a:9:{i:0;s:10:\"account_id\";i:1;s:2:\"id\";i:2;s:18:\"default_profile_id\";i:3;s:23:\"default_live_profile_id\";i:4;s:12:\"date_created\";i:5;s:18:\"date_last_modified\";i:6;s:17:\"max_profile_count\";i:7;s:19:\"max_rendition_count\";i:8;s:7:\"version\";}}s:23:\"Set_Default_ProfileBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:23:\"Video
  Cloud account ID \";}s:18:\"default_profile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  id or name of the profile you want to set as the default \";}s:23:\"default_live_profile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  id or name of the live profile you want to set as the default \";}}s:8:\"required\";a:2:{i:0;s:10:\"account_id\";i:1;s:18:\"default_profile_id\";}}s:22:\"Set_Default_Profile200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:23:\"Video
  Cloud account id \";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"configuration
  id \";}s:18:\"default_profile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"profile
  name for video-on-demand \";}s:23:\"default_live_profile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"default
  profile name for live streams \";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:58:\"when
  the profile was created (epoch time in milliseconds) \";}s:18:\"date_last_modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:64:\"when
  the profile was last modified (epoch time in milliseconds) \";}s:17:\"max_profile_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"maximum
  number of custom profiles for the account \";}s:19:\"max_rendition_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"maximum
  number of renditions per profile \";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"system-managed
  version number \";}}s:8:\"required\";a:9:{i:0;s:10:\"account_id\";i:1;s:2:\"id\";i:2;s:18:\"default_profile_id\";i:3;s:23:\"default_live_profile_id\";i:4;s:12:\"date_created\";i:5;s:18:\"date_last_modified\";i:6;s:17:\"max_profile_count\";i:7;s:19:\"max_rendition_count\";i:8;s:7:\"version\";}}s:26:\"Update_Default_ProfileBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:23:\"Video
  Cloud account ID \";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"the
  configuration id (if you don&#39;t have it, make a GET request to get it) \";}s:18:\"default_profile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  id or name of the profile you want to set as the default \";}s:23:\"default_live_profile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  id or name of the live profile you want to set as the default \";}}s:8:\"required\";a:3:{i:0;s:10:\"account_id\";i:1;s:2:\"id\";i:2;s:18:\"default_profile_id\";}}s:25:\"Update_Default_Profile200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:23:\"Video
  Cloud account id \";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"configuration
  id \";}s:18:\"default_profile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"profile
  name for video-on-demand \";}s:23:\"default_live_profile_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"default
  profile name for live streams \";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:58:\"when
  the profile was created (epoch time in milliseconds) \";}s:18:\"date_last_modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:64:\"when
  the profile was last modified (epoch time in milliseconds) \";}s:17:\"max_profile_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"maximum
  number of custom profiles for the account \";}s:19:\"max_rendition_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"maximum
  number of renditions per profile \";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"system-managed
  version number \";}}s:8:\"required\";a:9:{i:0;s:10:\"account_id\";i:1;s:2:\"id\";i:2;s:18:\"default_profile_id\";i:3;s:23:\"default_live_profile_id\";i:4;s:12:\"date_created\";i:5;s:18:\"date_last_modified\";i:6;s:17:\"max_profile_count\";i:7;s:19:\"max_rendition_count\";i:8;s:7:\"version\";}}s:25:\"Create_Ingest_ProfileBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"profile
  name (must be unique within the account) \";}s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Video
  Cloud account ID. \";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"description
  of the profile \";}s:14:\"digital_master\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Create_Ingest_ProfileBody.digital_master\";}s:14:\"dynamic_origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Create_Ingest_ProfileBody.dynamic_origin\";}s:10:\"renditions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"array
  of rendition maps Legacy Ingest only \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/Create_Ingest_ProfileBody.renditions\";}}s:8:\"packages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:72:\"array
  of package maps for DRM (see Content Security) Legacy Ingest only \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/Create_Ingest_ProfileBody.packages\";}}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:10:\"account_id\";i:2;s:14:\"dynamic_origin\";i:3;s:10:\"renditions\";i:4;s:8:\"packages\";}}s:40:\"Create_Ingest_ProfileBody.digital_master\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"rendition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:138:\"rendition
  to use as master - either passthrough (the source optimized for online delivery)
  or none if you do not want to archive a master \";}s:10:\"distribute\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:79:\"whether
  to make the master playable as a rendition by pushing it to the CDN(s) \";}}s:8:\"required\";a:0:{}}s:40:\"Create_Ingest_ProfileBody.dynamic_origin\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:166:\"names
  of audio and video renditions to include (audio only for CAE profiles) - see Standard
  Ingest Profiles - renditions for available renditions you can choose from \";}s:20:\"temporary_renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:156:\"names
  of video renditions for Fast Publish (only for CAE profiles) - see Standard Ingest
  Profiles - renditions for available renditions you can choose from \";}s:6:\"images\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:113:\"array
  of image specifications for poster and thumbnail (if omitted, no images will be
  captured during ingestion) \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/Create_Ingest_ProfileBody.dynamic_origin.images\";}}s:23:\"dynamic_profile_options\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Defines
  rendition options for CAE profiles only \";s:4:\"$ref\";s:78:\"#/definitions/Create_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options\";}}s:8:\"required\";a:3:{i:0;s:10:\"renditions\";i:1;s:20:\"temporary_renditions\";i:2;s:23:\"dynamic_profile_options\";}}s:47:\"Create_Ingest_ProfileBody.dynamic_origin.images\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"the
  kind of image this will be \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"the
  height of the image in pixels \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"the
  width of the image in pixels \";}}s:8:\"required\";a:0:{}}s:64:\"Create_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"min_renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:61:\"Minimum
  number of renditions to create for CAE profiles only \";}s:14:\"max_renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:61:\"Maximum
  number of renditions to create for CAE profiles only \";}s:14:\"min_resolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Defines
  the minimum resolution for for CAE profiles only renditions \";s:4:\"$ref\";s:93:\"#/definitions/Create_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options.min_resolution\";}s:14:\"max_resolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Defines
  the maximum resolution for renditions for CAE profiles only \";s:4:\"$ref\";s:93:\"#/definitions/Create_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options.max_resolution\";}s:11:\"max_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:61:\"Maximum
  bitrate for renditions in kbps for CAE profiles only \";}s:27:\"max_first_rendition_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:75:\"Maximum
  bitrate for lowest bitrate rendition in kbps for CAE profiles only \";}s:14:\"max_frame_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:62:\"Maximum
  framerate for renditions in fps for CAE profiles only \";}s:13:\"keyframe_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:196:\"The
  number of keyframes per second for renditions (So a value of 0.5 would result in
  one keyframe every two seconds; a value of 3 would result in three keyframes per
  second) for CAE profiles only \";}s:37:\"select_baseline_profile_configuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:90:\"At
  least one rendition used in the profile will be baseline profile for CAE profiles
  only \";}}s:8:\"required\";a:2:{i:0;s:14:\"min_renditions\";i:1;s:14:\"max_renditions\";}}s:79:\"Create_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options.min_resolution\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:52:\"Minimum
  height for renditions for CAE profiles only \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"Minimum
  width for renditions for CAE profiles only \";}}s:8:\"required\";a:0:{}}s:79:\"Create_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options.max_resolution\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:52:\"Maximum
  height for renditions for CAE profiles only \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"Maximum
  width for renditions for CAE profiles only \";}}s:8:\"required\";a:0:{}}s:36:\"Create_Ingest_ProfileBody.renditions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":42:{s:11:\"aspect_mode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"how
  to handle mismatch between source and rendition aspect ratio Legacy Ingest only
  \";}s:13:\"audio_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"audio
  bitrate in kbps Legacy Ingest only \";}s:14:\"audio_channels\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:44:\"number
  of audio channels Legacy Ingest only \";}s:11:\"audio_codec\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"audio
  codec, e.g. aac Legacy Ingest only \";}s:15:\"max_aac_profile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"max
  aaic profile - aac-lc is the recommended value Legacy Ingest only \";}s:16:\"constant_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:64:\"whether
  to use constant bitrate for encoding Legacy Ingest only \";}s:3:\"crf\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:46:\"1-51,
  not used by default. Legacy Ingest only \";}s:19:\"decoder_bitrate_cap\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:63:\"In
  kbps, the max bitrate fed to the decoder Legacy Ingest only \";}s:17:\"encryption_method\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"encryption_method
  to use, e.g. aes-128 Legacy Ingest only \";}s:30:\"encryption_key_rotation_period\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:112:\"use
  a different key for each set of segments, rotating to a new key after this many
  segments Legacy Ingest only \";}s:23:\"fixed_keyframe_interval\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:132:\"Forces
  a keyframe every X frames, but still allows additional keyframes &mdash; NOTE overrides
  keyframe_interval Legacy Ingest only \";}s:20:\"forced_keyframe_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:99:\"Force
  the keyframe rate, h264 only, ignored if forced_keyframe_interval is used Legacy
  Ingest only \";}s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"video
  format, e.g. mp4, ts (for HLS), flv, m4f for video, png or jpg for images Legacy
  Ingest only \";}s:10:\"frame_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"frame
  rate in frames per second Legacy Ingest only \";}s:12:\"h264_bframes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:47:\"number
  of bframes for h.264 Legacy Ingest only \";}s:10:\"h264_level\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:39:\"h.264
  profile level Legacy Ingest only \";}s:12:\"h264_profile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"h.264
  profile Legacy Ingest only \";}s:21:\"h264_reference_frames\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:59:\"number
  of h.264 reference frames to use Legacy Ingest only \";}s:16:\"hls_optimized_ts\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:51:\"Time
  segments optimized for HLS Legacy Ingest only \";}s:17:\"keyframe_interval\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:108:\"Maximum
  number of frames between keyframes (default is 250, and overrides keyframe_rate)
  Legacy Ingest only \";}s:13:\"keyframe_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:58:\"Maximum
  number of keyframes per second Legacy Ingest only \";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"Image
  type for image renditions; required for image renditions Legacy Ingest only \";}s:11:\"live_stream\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:65:\"Whether
  this will be for live streaming video Legacy Ingest only \";}s:28:\"live_sliding_window_duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:90:\"Duration
  of stream to keep available for LiveDVR delivery (in seconds) Legacy Ingest only
  \";}s:17:\"max_video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:54:\"Maximum
  video bitrate (h.264 only) Legacy Ingest only \";}s:14:\"max_frame_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:98:\"Limits
  the frame rate rather than sets it, use as an alternative to frame rate Legacy Ingest
  only \";}s:10:\"media_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"the
  media type of the rendition Legacy Ingest only \";}s:8:\"one_pass\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"force
  one-pass encoding Legacy Ingest only \";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"A
  reference id for the rendition that is unique within the account - required for
  DRM packaging Legacy Ingest only \";}s:15:\"segment_seconds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:112:\"number
  of seconds of content to include in segments (the default for HLS is 10; for DASH:
  2) Legacy Ingest only \";}s:4:\"skip\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:103:\"A
  set of conditions for skippiung creation of this rendition see Conditional Output
  Legacy Ingest only \";s:4:\"$ref\";s:55:\"#/definitions/Create_Ingest_ProfileBody.renditions.skip\";}s:10:\"skip_video\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:80:\"Set
  to true to skip video encoding for audio-only renditions Legacy Ingest only \";}s:5:\"speed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:193:\"a
  target transcoding speed. Slower transcoding allows for more advanced file compression,
  while faster transcoding is possible by skipping some advanced compression features
  Legacy Ingest only \";}s:25:\"streaming_delivery_format\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:164:\"Sets
  the format/protocol for an output that will be delivered using a specific streaming
  configuration, including necessary manifests, directory Legacy Ingest only \";}s:26:\"streaming_delivery_profile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"Sets
  the profile of the streaming delivery format, ensuring options are selected for
  compatibility with the profile Legacy Ingest only \";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"transmuxing
  type for HLS; typical value is segmented Legacy Ingest only \";}s:7:\"upscale\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:100:\"whether
  to upsize the frames if the source frame size is smaller than the target Legacy
  Ingest only \";}s:13:\"video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:48:\"target
  video bitrate in kbps Legacy Ingest only \";}s:11:\"video_codec\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"target
  video codec Legacy Ingest only \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:49:\"target
  frame height in pixels Legacy Ingest only \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:48:\"target
  frame width in pixels Legacy Ingest only \";}s:10:\"watermarks\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"array
  of watermark maps Legacy Ingest only \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/Create_Ingest_ProfileBody.renditions.watermarks\";}}}s:8:\"required\";a:9:{i:0;s:13:\"audio_bitrate\";i:1;s:11:\"audio_codec\";i:2;s:15:\"max_aac_profile\";i:3;s:6:\"format\";i:4;s:13:\"video_bitrate\";i:5;s:11:\"video_codec\";i:6;s:6:\"height\";i:7;s:5:\"width\";i:8;s:10:\"watermarks\";}}s:41:\"Create_Ingest_ProfileBody.renditions.skip\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"min_audio_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:78:\"the
  minimum audio bitrate that the source must have (kbps) Legacy Ingest only \";}s:17:\"max_audio_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:78:\"the
  maximum audio bitrate that the source must have (kbps) Legacy Ingest only \";}s:17:\"min_video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:78:\"the
  minimum video bitrate that the source must have (kbps) Legacy Ingest only \";}s:17:\"max_video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:78:\"the
  maximum video bitrate that the source must have (kbps) Legacy Ingest only \";}s:13:\"require_audio\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:66:\"if
  true the source must include an audio track Legacy Ingest only \";}s:13:\"require_video\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:65:\"if
  true the source must include a video track Legacy Ingest only \";}s:8:\"min_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"the
  source must be at least this resolution - string of the form &quot;widthxheight&quot;
  (e.g. &quot;400x225&quot;) Legacy Ingest only \";}s:8:\"max_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:137:\"the
  source must be at most this resolution - string of the form &quot;widthxheight&quot;
  (e.g. &quot;1920x1080&quot;) Legacy Ingest only \";}}s:8:\"required\";a:0:{}}s:47:\"Create_Ingest_ProfileBody.renditions.watermarks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"URL
  for the watermark image Legacy Ingest only \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:123:\"width
  in pixels or percent of frame width; e.g. 20 or 10% - decimal values like 10.5%
  are not permitted Legacy Ingest only \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:124:\"height
  in pixels or percent of frame width; e.g. 20 or 10% - decimal values like 10.5%
  are not permitted Legacy Ingest only \";}s:1:\"x\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:244:\"distance
  from left edge to center of image as pixels or precent of frame width; e.g. 20 or
  10% (use negative values like -10 to position the watermark relative to the right
  edge) - decimal values like 10.5% are not permitted Legacy Ingest only \";}s:1:\"y\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:245:\"distance
  from top edge to center if image as pixels or percent of frame height; e.g. 20 or
  10% (use negative values like -10 to position the watermark relative to the bottom
  edge) - decimal values like 10.5% are not permitted Legacy Ingest only \";}}s:8:\"required\";a:5:{i:0;s:3:\"url\";i:1;s:5:\"width\";i:2;s:6:\"height\";i:3;s:1:\"x\";i:4;s:1:\"y\";}}s:34:\"Create_Ingest_ProfileBody.packages\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"drm\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:114:\"for
  MPEG-DASH, array of DRM types to apply, e.g. [&quot;widevine&quot;, &quot;playready&quot;]
  Legacy Ingest only \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"package_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:127:\"for
  MPEG-DASH, the package type is dash; for other formats, the package type is the
  DRM type, e.g. widevine Legacy Ingest only \";}s:10:\"renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:192:\"for
  MPEG-DASH, the renditions will be set to the reference_id for a single rendition;
  for other formats, renditions is set equal to an array of rendition reference_id&#39;s
  Legacy Ingest only \";}}s:8:\"required\";a:3:{i:0;s:3:\"drm\";i:1;s:12:\"package_type\";i:2;s:10:\"renditions\";}}s:24:\"Create_Ingest_Profile200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"profile
  id \";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"profile
  name \";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:58:\"when
  the profile was created (epoch time in milliseconds) \";}s:18:\"date_last_modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:64:\"when
  the profile was last modified (epoch time in milliseconds) \";}s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:24:\"Video
  Cloud account ID. \";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"description
  of the profile \";}s:14:\"digital_master\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/digital_master\";}s:14:\"dynamic_origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dynamic_origin\";}s:10:\"renditions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"array
  of rendition maps \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/renditions\";}}s:8:\"packages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:53:\"array
  of package maps for DRM (see Content Security) \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/packages\";}}}s:8:\"required\";a:10:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:12:\"date_created\";i:3;s:18:\"date_last_modified\";i:4;s:10:\"account_id\";i:5;s:11:\"description\";i:6;s:14:\"digital_master\";i:7;s:14:\"dynamic_origin\";i:8;s:10:\"renditions\";i:9;s:8:\"packages\";}}s:14:\"digital_master\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"rendition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"rendition
  that will be used as master (passthrough = source optimized for online delivery)
  \";}s:10:\"distribute\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"whether
  source is available for playback as a rendition \";}}s:8:\"required\";a:2:{i:0;s:9:\"rendition\";i:1;s:10:\"distribute\";}}s:14:\"dynamic_origin\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"audio
  and video renditions to be created \";}s:6:\"images\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"specification
  for poster and thumbnail images \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/dynamic_origin.images\";}}s:23:\"dynamic_profile_options\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:43:\"defines
  rendition options for CAE profiles \";s:4:\"$ref\";s:52:\"#/definitions/dynamic_origin.dynamic_profile_options\";}}s:8:\"required\";a:3:{i:0;s:10:\"renditions\";i:1;s:6:\"images\";i:2;s:23:\"dynamic_profile_options\";}}s:21:\"dynamic_origin.images\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"the
  image type \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:17:\"the
  image height \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:16:\"the
  image width \";}}s:8:\"required\";a:3:{i:0;s:5:\"label\";i:1;s:6:\"height\";i:2;s:5:\"width\";}}s:38:\"dynamic_origin.dynamic_profile_options\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"min_renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"minimum
  number of renditions \";}s:14:\"max_renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"maximum
  number of renditions \";}s:14:\"min-resolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"defines
  the minimum resolution for renditions \";s:4:\"$ref\";s:67:\"#/definitions/dynamic_origin.dynamic_profile_options.min-resolution\";}s:14:\"max-resolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"defines
  the maximum resolution for renditions \";s:4:\"$ref\";s:67:\"#/definitions/dynamic_origin.dynamic_profile_options.max-resolution\";}s:11:\"max_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:31:\"maximum
  bitrate for renditions \";}s:27:\"max_first_rendition_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:49:\"maximum
  bitrate for the lowest bitrate rendition \";}s:14:\"max_frame_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"maximum
  framerate for the renditions \";}s:13:\"keyframe_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"keyframes
  per second for the renditions \";}s:37:\"select_baseline_profile_configuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:76:\"whether
  at least one rendition used in the profile will be baseline profile \";}}s:8:\"required\";a:9:{i:0;s:14:\"min_renditions\";i:1;s:14:\"max_renditions\";i:2;s:14:\"min-resolution\";i:3;s:14:\"max-resolution\";i:4;s:11:\"max_bitrate\";i:5;s:27:\"max_first_rendition_bitrate\";i:6;s:14:\"max_frame_rate\";i:7;s:13:\"keyframe_rate\";i:8;s:37:\"select_baseline_profile_configuration\";}}s:53:\"dynamic_origin.dynamic_profile_options.min-resolution\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"defines
  the minimum width for renditions \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:42:\"defines
  the minimum height for renditions \";}}s:8:\"required\";a:2:{i:0;s:5:\"width\";i:1;s:6:\"height\";}}s:53:\"dynamic_origin.dynamic_profile_options.max-resolution\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"defines
  the maximum width for renditions \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:42:\"defines
  the maximum height for renditions \";}}s:8:\"required\";a:2:{i:0;s:5:\"width\";i:1;s:6:\"height\";}}s:10:\"renditions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":42:{s:11:\"aspect_mode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"how
  to handle mismatch between source and rendition aspect ratio \";}s:13:\"audio_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:22:\"audio
  bitrate in kbps \";}s:14:\"audio_channels\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"number
  of audio channels \";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"the
  rendition id \";}s:11:\"audio_codec\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"audio
  codec, e.g. aac \";}s:16:\"constant_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:116:\"whether
  to use constant bitrate for encoding &mdash; this field is not relevant for h.264
  video and will be ignored \";}s:3:\"crf\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:27:\"1-51,
  not used by default. \";}s:19:\"decoder_bitrate_cap\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:44:\"In
  kbps, the max bitrate fed to the decoder \";}s:17:\"encryption_method\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"encryption_method
  to use, e.g. aes-128 \";}s:30:\"encryption_key_rotation_period\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:93:\"use
  a different key for each set of segments, rotating to a new key after this many
  segments \";}s:23:\"fixed_keyframe_interval\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:72:\"Forces
  a keyframe every X frames, but still allows additional keyframes \";}s:20:\"forced_keyframe_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:80:\"Force
  the keyframe rate, h264 only, ignored if forced_keyframe_interval is used \";}s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"video
  format, e.g. mp4, ts (for HLS), flv, m4f for video, png or jpg for images \";}s:10:\"frame_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"frame
  rate in frames per second \";}s:12:\"h264_bframes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:28:\"number
  of bframes for h.264 \";}s:10:\"h264_level\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:20:\"h.264
  profile level \";}s:12:\"h264_profile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"h.264
  profile \";}s:21:\"h264_reference_frames\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"number
  of h.264 reference frames to use \";}s:16:\"hls_optimized_ts\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Time
  segments optimized for HLS \";}s:17:\"keyframe_interval\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:89:\"Maximum
  number of frames between keyframes (default is 250, and overrides keyframe_rate)
  \";}s:13:\"keyframe_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Maximum
  number of keyframes per second \";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Image
  type for image renditions; required for image renditions \";}s:11:\"live_stream\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"Whether
  this will be for live streaming video \";}s:28:\"live_sliding_window_duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:71:\"Duration
  of stream to keep available for LiveDVR delivery (in seconds) \";}s:17:\"max_video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Maximum
  video bitrate (h.264 only) \";}s:14:\"max_frame_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:79:\"Limits
  the frame rate rather than sets it, use as an alternative to frame rate \";}s:10:\"media_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"the
  media type of the rendition \";}s:8:\"one_pass\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:24:\"force
  one-pass encoding \";}s:14:\"package_format\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:140:\"Creates
  a zip or tar file containing all the media files of an output, and uploads this
  single package rather than all the individual files \";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"A
  reference id for the rendition that is unique within the account - required for
  DRM packaging \";}s:4:\"skip\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:84:\"A
  set of conditions for skippiung creation of this rendition see Conditional Output
  \";s:4:\"$ref\";s:29:\"#/definitions/renditions.skip\";}s:10:\"skip_video\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:61:\"Set
  to true to skip video encoding for audio-only renditions \";}s:5:\"speed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:174:\"a
  target transcoding speed. Slower transcoding allows for more advanced file compression,
  while faster transcoding is possible by skipping some advanced compression features
  \";}s:25:\"streaming_delivery_format\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:145:\"Sets
  the format/protocol for an output that will be delivered using a specific streaming
  configuration, including necessary manifests, directory \";}s:26:\"streaming_delivery_profile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"Sets
  the profile of the streaming delivery format, ensuring options are selected for
  compatibility with the profile \";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"transmuxing
  type for HLS; typical value is segmented \";}s:7:\"upscale\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"whether
  to upsize the frames if the source frame size is smaller than the target \";}s:13:\"video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"target
  video bitrate in kbps \";}s:11:\"video_codec\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"target
  video codec \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"target
  frame height in pixels \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"target
  frame width in pixels \";}s:10:\"watermarks\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"array
  of watermark maps \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/renditions.watermarks\";}}}s:8:\"required\";a:42:{i:0;s:11:\"aspect_mode\";i:1;s:13:\"audio_bitrate\";i:2;s:14:\"audio_channels\";i:3;s:2:\"id\";i:4;s:11:\"audio_codec\";i:5;s:16:\"constant_bitrate\";i:6;s:3:\"crf\";i:7;s:19:\"decoder_bitrate_cap\";i:8;s:17:\"encryption_method\";i:9;s:30:\"encryption_key_rotation_period\";i:10;s:23:\"fixed_keyframe_interval\";i:11;s:20:\"forced_keyframe_rate\";i:12;s:6:\"format\";i:13;s:10:\"frame_rate\";i:14;s:12:\"h264_bframes\";i:15;s:10:\"h264_level\";i:16;s:12:\"h264_profile\";i:17;s:21:\"h264_reference_frames\";i:18;s:16:\"hls_optimized_ts\";i:19;s:17:\"keyframe_interval\";i:20;s:13:\"keyframe_rate\";i:21;s:5:\"label\";i:22;s:11:\"live_stream\";i:23;s:28:\"live_sliding_window_duration\";i:24;s:17:\"max_video_bitrate\";i:25;s:14:\"max_frame_rate\";i:26;s:10:\"media_type\";i:27;s:8:\"one_pass\";i:28;s:14:\"package_format\";i:29;s:12:\"reference_id\";i:30;s:4:\"skip\";i:31;s:10:\"skip_video\";i:32;s:5:\"speed\";i:33;s:25:\"streaming_delivery_format\";i:34;s:26:\"streaming_delivery_profile\";i:35;s:4:\"type\";i:36;s:7:\"upscale\";i:37;s:13:\"video_bitrate\";i:38;s:11:\"video_codec\";i:39;s:6:\"height\";i:40;s:5:\"width\";i:41;s:10:\"watermarks\";}}s:15:\"renditions.skip\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"min_audio_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:59:\"the
  minimum audio bitrate that the source must have (kbps) \";}s:17:\"max_audio_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:59:\"the
  maximum audio bitrate that the source must have (kbps) \";}s:17:\"min_video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:59:\"the
  minimum video bitrate that the source must have (kbps) \";}s:17:\"max_video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:59:\"the
  maximum video bitrate that the source must have (kbps) \";}s:13:\"require_audio\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:47:\"if
  true the source must include an audio track \";}s:13:\"require_video\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"if
  true the source must include a video track \";}s:8:\"min_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"the
  source must be at least this resolution - string of the form &quot;widthxheight&quot;
  (e.g. &quot;400x225&quot;) \";}s:8:\"max_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"the
  source must be at most this resolution - string of the form &quot;widthxheight&quot;
  (e.g. &quot;1920x1080&quot;) \";}}s:8:\"required\";a:8:{i:0;s:17:\"min_audio_bitrate\";i:1;s:17:\"max_audio_bitrate\";i:2;s:17:\"min_video_bitrate\";i:3;s:17:\"max_video_bitrate\";i:4;s:13:\"require_audio\";i:5;s:13:\"require_video\";i:6;s:8:\"min_size\";i:7;s:8:\"max_size\";}}s:21:\"renditions.watermarks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"URL
  for the watermark image \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"width
  in pixels or percent of frame width; e.g. 20 or 10% \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"height
  in pixels or percent of frame width; e.g. 20 or 10% \";}s:1:\"x\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"distance
  from left edge to center of image as pixels or precent of frame width; e.g. 20 or
  10% \";}s:1:\"y\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"distance
  from top edge to center if image as pixels or percent of frame height; e.g. 20 or
  10% \";}}s:8:\"required\";a:5:{i:0;s:3:\"url\";i:1;s:5:\"width\";i:2;s:6:\"height\";i:3;s:1:\"x\";i:4;s:1:\"y\";}}s:8:\"packages\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"drm\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:95:\"for
  MPEG-DASH, array of DRM types to apply, e.g. [&quot;widevine&quot;, &quot;playready&quot;]
  \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"package_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"for
  MPEG-DASH, the package type is dash; for other formats, the package type is the
  DRM type, e.g. widevine \";}s:10:\"renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"mixed\";s:11:\"description\";s:173:\"for
  MPEG-DASH, the renditions will be set to the reference_id for a single rendition;
  for other formats, renditions is set equal to an array of rendition reference_id&#39;s
  \";}}s:8:\"required\";a:3:{i:0;s:3:\"drm\";i:1;s:12:\"package_type\";i:2;s:10:\"renditions\";}}s:26:\"Get_All_Ingest_Profiles200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"profile
  id \";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"profile
  name \";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:58:\"when
  the profile was created (epoch time in milliseconds) \";}s:18:\"date_last_modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:64:\"when
  the profile was last modified (epoch time in milliseconds) \";}s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:24:\"Video
  Cloud account ID. \";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"description
  of the profile \";}s:14:\"digital_master\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/digital_master\";}s:14:\"dynamic_origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dynamic_origin\";}s:10:\"renditions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"array
  of rendition maps \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/renditions\";}}s:8:\"packages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:53:\"array
  of package maps for DRM (see Content Security) \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/packages\";}}}s:8:\"required\";a:10:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:12:\"date_created\";i:3;s:18:\"date_last_modified\";i:4;s:10:\"account_id\";i:5;s:11:\"description\";i:6;s:14:\"digital_master\";i:7;s:14:\"dynamic_origin\";i:8;s:10:\"renditions\";i:9;s:8:\"packages\";}}s:27:\"Get_Ingest_Profile_by_ID200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"profile
  id \";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"profile
  name \";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:58:\"when
  the profile was created (epoch time in milliseconds) \";}s:18:\"date_last_modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:64:\"when
  the profile was last modified (epoch time in milliseconds) \";}s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:24:\"Video
  Cloud account ID. \";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"description
  of the profile \";}s:14:\"digital_master\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/digital_master\";}s:14:\"dynamic_origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dynamic_origin\";}s:10:\"renditions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"array
  of rendition maps \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/renditions\";}}s:8:\"packages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:53:\"array
  of package maps for DRM (see Content Security) \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/packages\";}}}s:8:\"required\";a:10:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:12:\"date_created\";i:3;s:18:\"date_last_modified\";i:4;s:10:\"account_id\";i:5;s:11:\"description\";i:6;s:14:\"digital_master\";i:7;s:14:\"dynamic_origin\";i:8;s:10:\"renditions\";i:9;s:8:\"packages\";}}s:25:\"Update_Ingest_ProfileBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"profile
  name (must be unique within the account) \";}s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:24:\"Video
  Cloud account ID. \";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"description
  of the profile \";}s:14:\"digital_master\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Update_Ingest_ProfileBody.digital_master\";}s:14:\"dynamic_origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Update_Ingest_ProfileBody.dynamic_origin\";}s:10:\"renditions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"array
  of rendition maps \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/Update_Ingest_ProfileBody.renditions\";}}s:8:\"packages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:53:\"array
  of package maps for DRM (see Content Security) \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/Update_Ingest_ProfileBody.packages\";}}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:10:\"account_id\";i:2;s:14:\"dynamic_origin\";i:3;s:10:\"renditions\";i:4;s:8:\"packages\";}}s:40:\"Update_Ingest_ProfileBody.digital_master\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"rendition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:138:\"rendition
  to use as master - either passthrough (the source optimized for online delivery)
  or none if you do not want to archive a master \";}s:10:\"distribute\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:79:\"whether
  to make the master playable as a rendition by pushing it to the CDN(s) \";}}s:8:\"required\";a:0:{}}s:40:\"Update_Ingest_ProfileBody.dynamic_origin\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:136:\"names
  of audio and video renditions to include - see Standard Ingest Profiles - renditions
  for available renditions you can choose from \";}s:6:\"images\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:113:\"array
  of image specifications for poster and thumbnail (if omitted, no images will be
  captured during ingestion) \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/Update_Ingest_ProfileBody.dynamic_origin.images\";}}s:23:\"dynamic_profile_options\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:43:\"Defines
  rendition options for CAE profiles \";s:4:\"$ref\";s:78:\"#/definitions/Update_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options\";}}s:8:\"required\";a:2:{i:0;s:10:\"renditions\";i:1;s:23:\"dynamic_profile_options\";}}s:47:\"Update_Ingest_ProfileBody.dynamic_origin.images\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"the
  kind of image this will be \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:34:\"the
  height of the image in pixels \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:33:\"the
  width of the image in pixels \";}}s:8:\"required\";a:0:{}}s:64:\"Update_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"min_renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Minimum
  number of renditions to create \";}s:14:\"max_renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Maximum
  number of renditions to create \";}s:14:\"min_resolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"Defines
  the minimum resolution for renditions \";s:4:\"$ref\";s:93:\"#/definitions/Update_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options.min_resolution\";}s:14:\"max_resolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"Defines
  the maximum resolution for renditions \";s:4:\"$ref\";s:93:\"#/definitions/Update_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options.max_resolution\";}s:11:\"max_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:39:\"Maximum
  bitrate for renditions in kbps \";}s:27:\"max_first_rendition_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:53:\"Maximum
  bitrate for lowest bitrate rendition in kbps \";}s:14:\"max_frame_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:40:\"Maximum
  framerate for renditions in fps \";}s:13:\"keyframe_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:174:\"The
  number of keyframes per second for renditions (So a value of 0.5 would result in
  one keyframe every two seconds; a value of 3 would result in three keyframes per
  second) \";}s:37:\"select_baseline_profile_configuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:68:\"At
  least one rendition used in the profile will be baseline profile \";}}s:8:\"required\";a:2:{i:0;s:14:\"min_renditions\";i:1;s:14:\"max_renditions\";}}s:79:\"Update_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options.min_resolution\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"Minimum
  height for renditions \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:29:\"Minimum
  width for renditions \";}}s:8:\"required\";a:0:{}}s:79:\"Update_Ingest_ProfileBody.dynamic_origin.dynamic_profile_options.max_resolution\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"Maximum
  height for renditions \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:29:\"Maximum
  width for renditions \";}}s:8:\"required\";a:0:{}}s:36:\"Update_Ingest_ProfileBody.renditions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":42:{s:11:\"aspect_mode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"how
  to handle mismatch between source and rendition aspect ratio \";}s:13:\"audio_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:22:\"audio
  bitrate in kbps \";}s:14:\"audio_channels\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:25:\"number
  of audio channels \";}s:11:\"audio_codec\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"audio
  codec, e.g. aac \";}s:15:\"max_aac_profile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"max
  aaic profile - aac-lc is the recommended value \";}s:16:\"constant_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:45:\"whether
  to use constant bitrate for encoding \";}s:3:\"crf\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:27:\"1-51,
  not used by default. \";}s:19:\"decoder_bitrate_cap\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:44:\"In
  kbps, the max bitrate fed to the decoder \";}s:17:\"encryption_method\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"encryption_method
  to use, e.g. aes-128 \";}s:30:\"encryption_key_rotation_period\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:93:\"use
  a different key for each set of segments, rotating to a new key after this many
  segments \";}s:23:\"fixed_keyframe_interval\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:113:\"Forces
  a keyframe every X frames, but still allows additional keyframes &mdash; NOTE overrides
  keyframe_interval \";}s:20:\"forced_keyframe_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:80:\"Force
  the keyframe rate, h264 only, ignored if forced_keyframe_interval is used \";}s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"video
  format, e.g. mp4, ts (for HLS), flv, m4f for video, png or jpg for images \";}s:10:\"frame_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"frame
  rate in frames per second \";}s:12:\"h264_bframes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:28:\"number
  of bframes for h.264 \";}s:10:\"h264_level\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:20:\"h.264
  profile level \";}s:12:\"h264_profile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"h.264
  profile \";}s:21:\"h264_reference_frames\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:40:\"number
  of h.264 reference frames to use \";}s:16:\"hls_optimized_ts\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Time
  segments optimized for HLS \";}s:17:\"keyframe_interval\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:89:\"Maximum
  number of frames between keyframes (default is 250, and overrides keyframe_rate)
  \";}s:13:\"keyframe_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:39:\"Maximum
  number of keyframes per second \";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Image
  type for image renditions; required for image renditions \";}s:11:\"live_stream\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"Whether
  this will be for live streaming video \";}s:28:\"live_sliding_window_duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:71:\"Duration
  of stream to keep available for LiveDVR delivery (in seconds) \";}s:17:\"max_video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:35:\"Maximum
  video bitrate (h.264 only) \";}s:14:\"max_frame_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:79:\"Limits
  the frame rate rather than sets it, use as an alternative to frame rate \";}s:10:\"media_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"the
  media type of the rendition \";}s:8:\"one_pass\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:24:\"force
  one-pass encoding \";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"A
  reference id for the rendition that is unique within the account - required for
  DRM packaging \";}s:15:\"segment_seconds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:93:\"number
  of seconds of content to include in segments (the default for HLS is 10; for DASH:
  2) \";}s:4:\"skip\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:84:\"A
  set of conditions for skippiung creation of this rendition see Conditional Output
  \";s:4:\"$ref\";s:55:\"#/definitions/Update_Ingest_ProfileBody.renditions.skip\";}s:10:\"skip_video\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:61:\"Set
  to true to skip video encoding for audio-only renditions \";}s:5:\"speed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:174:\"a
  target transcoding speed. Slower transcoding allows for more advanced file compression,
  while faster transcoding is possible by skipping some advanced compression features
  \";}s:25:\"streaming_delivery_format\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:145:\"Sets
  the format/protocol for an output that will be delivered using a specific streaming
  configuration, including necessary manifests, directory \";}s:26:\"streaming_delivery_profile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"Sets
  the profile of the streaming delivery format, ensuring options are selected for
  compatibility with the profile \";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"transmuxing
  type for HLS; typical value is segmented \";}s:7:\"upscale\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"whether
  to upsize the frames if the source frame size is smaller than the target \";}s:13:\"video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"target
  video bitrate in kbps \";}s:11:\"video_codec\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"target
  video codec \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"target
  frame height in pixels \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"target
  frame width in pixels \";}s:10:\"watermarks\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"array
  of watermark maps \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/Update_Ingest_ProfileBody.renditions.watermarks\";}}}s:8:\"required\";a:9:{i:0;s:13:\"audio_bitrate\";i:1;s:11:\"audio_codec\";i:2;s:15:\"max_aac_profile\";i:3;s:6:\"format\";i:4;s:13:\"video_bitrate\";i:5;s:11:\"video_codec\";i:6;s:6:\"height\";i:7;s:5:\"width\";i:8;s:10:\"watermarks\";}}s:41:\"Update_Ingest_ProfileBody.renditions.skip\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"min_audio_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:59:\"the
  minimum audio bitrate that the source must have (kbps) \";}s:17:\"max_audio_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:59:\"the
  maximum audio bitrate that the source must have (kbps) \";}s:17:\"min_video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:59:\"the
  minimum video bitrate that the source must have (kbps) \";}s:17:\"max_video_bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:59:\"the
  maximum video bitrate that the source must have (kbps) \";}s:13:\"require_audio\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:47:\"if
  true the source must include an audio track \";}s:13:\"require_video\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"if
  true the source must include a video track \";}s:8:\"min_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"the
  source must be at least this resolution - string of the form &quot;widthxheight&quot;
  (e.g. &quot;400x225&quot;) \";}s:8:\"max_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"the
  source must be at most this resolution - string of the form &quot;widthxheight&quot;
  (e.g. &quot;1920x1080&quot;) \";}}s:8:\"required\";a:0:{}}s:47:\"Update_Ingest_ProfileBody.renditions.watermarks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"URL
  for the watermark image \";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"width
  in pixels or percent of frame width; e.g. 20 or 10% - decimal values like 10.5%
  are not permitted \";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"height
  in pixels or percent of frame width; e.g. 20 or 10% - decimal values like 10.5%
  are not permitted \";}s:1:\"x\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:225:\"distance
  from left edge to center of image as pixels or precent of frame width; e.g. 20 or
  10% (use negative values like -10 to position the watermark relative to the right
  edge) - decimal values like 10.5% are not permitted \";}s:1:\"y\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:226:\"distance
  from top edge to center if image as pixels or percent of frame height; e.g. 20 or
  10% (use negative values like -10 to position the watermark relative to the bottom
  edge) - decimal values like 10.5% are not permitted \";}}s:8:\"required\";a:5:{i:0;s:3:\"url\";i:1;s:5:\"width\";i:2;s:6:\"height\";i:3;s:1:\"x\";i:4;s:1:\"y\";}}s:34:\"Update_Ingest_ProfileBody.packages\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"drm\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:95:\"for
  MPEG-DASH, array of DRM types to apply, e.g. [&quot;widevine&quot;, &quot;playready&quot;]
  \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"package_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"for
  MPEG-DASH, the package type is dash; for other formats, the package type is the
  DRM type, e.g. widevine \";}s:10:\"renditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"mixed\";s:11:\"description\";s:173:\"for
  MPEG-DASH, the renditions will be set to the reference_id for a single rendition;
  for other formats, renditions is set equal to an array of rendition reference_id&#39;s
  \";}}s:8:\"required\";a:3:{i:0;s:3:\"drm\";i:1;s:12:\"package_type\";i:2;s:10:\"renditions\";}}s:24:\"Update_Ingest_Profile200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"profile
  id \";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"profile
  name \";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:58:\"when
  the profile was created (epoch time in milliseconds) \";}s:18:\"date_last_modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:64:\"when
  the profile was last modified (epoch time in milliseconds) \";}s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:24:\"Video
  Cloud account ID. \";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"description
  of the profile \";}s:14:\"digital_master\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/digital_master\";}s:14:\"dynamic_origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dynamic_origin\";}s:10:\"renditions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"array
  of rendition maps \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/renditions\";}}s:8:\"packages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:53:\"array
  of package maps for DRM (see Content Security) \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/packages\";}}}s:8:\"required\";a:10:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:12:\"date_created\";i:3;s:18:\"date_last_modified\";i:4;s:10:\"account_id\";i:5;s:11:\"description\";i:6;s:14:\"digital_master\";i:7;s:14:\"dynamic_origin\";i:8;s:10:\"renditions\";i:9;s:8:\"packages\";}}}"
...
