---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:34:\"developer-support@citrixonline.com\";s:4:\"name\";s:17:\"Developer
  Support\";s:3:\"url\";s:34:\"https://developer.citrixonline.com\";}s:11:\"description\";s:218:\"The
  SCIM API lets you manage users in your organization. You can then automate the provisioning
  of product licenses for these users, and they can use your company's Single Sign-On
  solution through an Identity Provider.\";s:14:\"termsOfService\";s:44:\"https://developer.citrixonline.com/terms-use\";s:5:\"title\";s:4:\"SCIM\";s:7:\"version\";s:3:\"N/A\";s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#5F6166\";s:3:\"url\";s:112:\"https://api.apis.guru/v2/cache/logo/https_developer.citrixonline.com_sites_all_themes_citrix_responsive_logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:83:\"https://developer.citrixonline.com/sites/default/files/citrix/citrix-apis/scim.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"citrixonline.com\";s:13:\"x-serviceName\";s:4:\"scim\";}"
host: api.citrixonline.com
basePath: /identity/v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:21:\"AuthenticationSchemes\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Specifies
  supported Authentication Scheme properties\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  description of the Authentication Scheme\";s:4:\"type\";s:6:\"string\";}s:16:\"documentationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"A
  HTTP addressable URL pointing to the Authentication Scheme's usage documentation\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  common authentication scheme name, e.g. HTTP Basic\";s:4:\"type\";s:6:\"string\";}s:7:\"specUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"A
  HTTP addressable URL pointing to the Authentication Scheme's specification\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:11:\"description\";i:2;s:7:\"specUrl\";i:3;s:16:\"documentationUrl\";}}s:4:\"Bulk\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Specifies
  BULK configuration options\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  whether the operation is supported\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:9:\"supported\";}}s:14:\"ChangePassword\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Specifies
  Change Password configuration options\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  whether the operation is supported\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:9:\"supported\";}}s:4:\"Etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Specifies
  Etag configuration options\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  whether the operation is supported\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:9:\"supported\";}}s:6:\"Filter\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Specifies
  FILTER options\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  whether the operation is supported\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:9:\"supported\";}}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Describes
  a group belonging to an organization\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  group's display name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  group's unique key\";s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"An
  array of members\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Member\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GroupMetadata\";s:11:\"description\";s:14:\"Group
  metadata\";}}s:8:\"required\";a:3:{i:0;s:4:\"meta\";i:1;s:2:\"id\";i:2;s:11:\"displayName\";}}s:15:\"GroupCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Class
  describing a collection of groups\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"An
  array of groups\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}s:12:\"totalResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  number of groups in the collection\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:9:\"resources\";i:1;s:12:\"totalResults\";}}s:15:\"GroupDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Describes
  the group to create\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  group's display name\";s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"An
  array of members\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Member\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:11:\"displayName\";}}s:13:\"GroupMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Group
  metadata\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  date and time the group was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL where the group can be accessed\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"created\";i:1;s:8:\"location\";}}s:6:\"Member\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  member of a group. This can be a group or an user\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  type of member\";s:4:\"enum\";a:2:{i:0;s:5:\"group\";i:1;s:4:\"user\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Depending
  on the member type this is a groupKey or an userKey\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:5:\"value\";}}s:5:\"Patch\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Specifies
  PATCH configuration options\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  whether the operation is supported\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:9:\"supported\";}}s:14:\"ResourceSchema\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Describes
  the attributes and metadata constituting a resource such as a user.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  resource's attributes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SchemaAttribute\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  resource's description\";s:4:\"type\";s:6:\"string\";}s:8:\"endpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  resource's HTTP addressable endpoint relative to the base URL, e.g. /Users.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  resource's id, e.g. urn:scim:schemas:core:1.0:User\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  resource's name, e.g. \"User\"\";s:4:\"type\";s:6:\"string\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  resource's associated schema, e.g. urn:scim:schemas:core:1.0\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:11:\"description\";i:3;s:6:\"schema\";i:4;s:8:\"endpoint\";i:5;s:10:\"attributes\";}}s:15:\"SchemaAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Describes
  a resource attribute\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"caseExact\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Indicates
  whether the attribute is case sensitive\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  attribute's description\";s:4:\"type\";s:6:\"string\";}s:11:\"multiValued\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Indicates
  whether the attribute can have multiple values\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  attribute's name\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Indicates
  whether the attribute is mutable\";s:4:\"type\";s:7:\"boolean\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Indicates
  whether the attribute is required\";s:4:\"type\";s:7:\"boolean\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  attribute's associated scheme, e.g. urn:scim:schemas:core:1.0\";s:4:\"type\";s:6:\"string\";}s:13:\"subAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  attribute's potential sub-attributes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SchemaSubAttribute\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  attribute's data type, e.g. String\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:11:\"multiValued\";i:3;s:11:\"description\";i:4;s:6:\"schema\";i:5;s:8:\"readOnly\";i:6;s:8:\"required\";i:7;s:9:\"caseExact\";}}s:18:\"SchemaSubAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Describes
  the sub-attribute of a resource attribute\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"caseExact\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Indicates
  whether the attribute is case sensitive\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  attribute's description\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  attribute's name\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Indicates
  whether the attribute is mutable\";s:4:\"type\";s:7:\"boolean\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Indicates
  whether the attribute is required\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  attribute's data type, e.g. String\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:11:\"description\";i:3;s:8:\"readOnly\";i:4;s:8:\"required\";i:5;s:9:\"caseExact\";}}s:22:\"ServiceProviderConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  the Service Provider's configuration\";s:10:\"properties\";O:8:\"stdClass\":9:{s:21:\"authenticationSchemes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AuthenticationSchemes\";s:11:\"description\";s:50:\"Specifies
  whether the XML data format is supported\";}s:4:\"bulk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bulk\";s:11:\"description\";s:36:\"Specifies
  BULK configuration options\";}s:14:\"changePassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChangePassword\";s:11:\"description\";s:47:\"Specifies
  Change Password configuration options\";}s:16:\"documentationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"An
  HTTP addressable URL pointing to the Service Provider's help documentation\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Etag\";s:11:\"description\";s:36:\"Specifies
  Etag configuration options\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";s:11:\"description\";s:24:\"Specifies
  FILTER options\";}s:5:\"patch\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Patch\";s:11:\"description\";s:37:\"Specifies
  PATCH configuration options\";}s:4:\"sort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Sort\";s:11:\"description\";s:36:\"Specifies
  Sort configuration options\";}s:13:\"xmlDataFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/XmlDataFormat\";s:11:\"description\";s:52:\"Specifies
  supported Authentication Scheme properties\";}}s:8:\"required\";a:9:{i:0;s:16:\"documentationUrl\";i:1;s:5:\"patch\";i:2;s:4:\"bulk\";i:3;s:6:\"filter\";i:4;s:14:\"changePassword\";i:5;s:4:\"sort\";i:6;s:4:\"etag\";i:7;s:21:\"authenticationSchemes\";i:8;s:13:\"xmlDataFormat\";}}s:4:\"Sort\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Specifies
  Sort configuration options\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  whether the operation is supported\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:9:\"supported\";}}s:4:\"User\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Describes
  a user belonging to an organization\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's display name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's unique key\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  user's language settings\";s:4:\"type\";s:6:\"string\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UserMetadata\";s:11:\"description\";s:13:\"User
  metadata\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UserFullName\";s:11:\"description\";s:20:\"The
  user's full name\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  user's time zone\";s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  user's username, usually their email address\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:11:\"displayName\";i:1;s:2:\"id\";i:2;s:6:\"locale\";i:3;s:4:\"meta\";i:4;s:4:\"name\";i:5;s:8:\"timezone\";i:6;s:8:\"userName\";}}s:14:\"UserCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Class
  describing a collection of users\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  list of users\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}s:12:\"totalResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  number of users in the collection\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:9:\"resources\";i:1;s:12:\"totalResults\";}}s:14:\"UserDefinition\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Describes
  a new user\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's display name\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  user's language settings\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UserFullName\";s:11:\"description\";s:20:\"The
  user's full name\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  user's password\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  user's time zone\";s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  user's username, usually their email address\";s:4:\"type\";s:6:\"string\";}}}s:12:\"UserFullName\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  full name of the user\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  user's surname\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's first name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"familyName\";i:1;s:9:\"givenName\";}}s:12:\"UserMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"User
  metadata\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  date and time the user was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  URL where the user can be accessed\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"created\";i:1;s:8:\"location\";}}s:13:\"XmlDataFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Specifies
  whether the XML data format is supported\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  whether the operation is supported\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:9:\"supported\";}}}"
...
