---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:34:\"developer-support@citrixonline.com\";s:4:\"name\";s:17:\"Developer
  Support\";s:3:\"url\";s:34:\"https://developer.citrixonline.com\";}s:11:\"description\";s:372:\"The
  GoToWebinar API provides seamless integration of webinar registrant and attendee
  data into your existing infrastructure or third-party applications. The ability
  to register participants, as well as pull lists of registrants and attendees for
  a webinar, allows organizers to manage the flow of information between their primary
  applications without manual intervention.\";s:14:\"termsOfService\";s:44:\"https://developer.citrixonline.com/terms-use\";s:5:\"title\";s:11:\"GoToWebinar\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#5F6166\";s:3:\"url\";s:112:\"https://api.apis.guru/v2/cache/logo/https_developer.citrixonline.com_sites_all_themes_citrix_responsive_logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:90:\"https://developer.citrixonline.com/sites/default/files/citrix/citrix-apis/gotowebinar.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"citrixonline.com\";s:13:\"x-serviceName\";s:11:\"gotowebinar\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"citrix_gotowebinar\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.citrixonline.com
basePath: /G2W/rest
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":51:{s:11:\"AccessCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Describes
  the access codes for organizer, panelists and attendees\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"attendee\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Access
  code for attendees\";s:4:\"type\";s:6:\"string\";}s:9:\"organizer\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Access
  code for the organizer\";s:4:\"type\";s:6:\"string\";}s:8:\"panelist\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Access
  code for panelists\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"organizer\";i:1;s:8:\"panelist\";i:2;s:8:\"attendee\";}}s:14:\"AccountWebinar\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Describes
  a webinar for an account within a given date range.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  short description of the webinar\";s:4:\"type\";s:6:\"string\";}s:9:\"impromptu\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"A
  boolean flag indicating if the webinar type is impromptu\";s:4:\"type\";s:7:\"boolean\";}s:19:\"isPasswordProtected\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:62:\"A
  boolean flag indicating if the webinar is password protected\";s:4:\"type\";s:7:\"boolean\";}s:12:\"organizerKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  key of the webinar organizer\";s:4:\"type\";s:6:\"string\";}s:15:\"registrationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  URL the webinar invitees can use to register\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  webinar subject\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  timezone where the webinar is taking place\";s:4:\"type\";s:6:\"string\";}s:5:\"times\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Array
  with startTime and endTime for the webinar sessions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeRange\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"single_session\";s:11:\"description\";s:26:\"Specifies
  the webinar type\";s:4:\"type\";s:6:\"string\";}s:9:\"webinarID\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  9-digit webinar ID\";s:4:\"type\";s:6:\"string\";}s:10:\"webinarKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  unique key of the webinar\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:11:{i:0;s:10:\"webinarKey\";i:1;s:9:\"webinarID\";i:2;s:7:\"subject\";i:3;s:11:\"description\";i:4;s:5:\"times\";i:5;s:8:\"timeZone\";i:6;s:12:\"organizerKey\";i:7;s:15:\"registrationUrl\";i:8;s:9:\"impromptu\";i:9;s:19:\"isPasswordProtected\";i:10;s:4:\"type\";}}s:15:\"AccountWebinars\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"webinars\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AccountWebinar\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"webinars\";}}s:23:\"AccountWebinarsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Describes
  a list of webinars for an account within a given date range\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"_embedded\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:29:\"#/definitions/AccountWebinars\";s:11:\"description\";s:59:\"The
  webinars array for an account within a given date range\";s:4:\"type\";s:6:\"object\";}s:4:\"page\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:18:\"#/definitions/page\";s:11:\"description\";s:50:\"The
  webinars page description. The first page is 0\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:9:\"_embedded\";i:1;s:4:\"page\";}}s:24:\"AnswerToAttendeeQuestion\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Describes
  an answer to a question asked by an attendee during a webinar session.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"An
  answer given to a question asked by an attendee during a webinar session\";s:4:\"type\";s:6:\"string\";}s:10:\"answeredBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  key of the organizer that answered the attendee's question\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"answer\";i:1;s:10:\"answeredBy\";}}s:10:\"Attendance\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Describes
  the times the attendee joined and left a webinar session.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"joinTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  time the attendee joined a webinar session\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"leaveTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  time the attendee left a webinar session\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"joinTime\";i:1;s:9:\"leaveTime\";}}s:20:\"AttendanceStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Describes
  attendance metrics for a webinar session.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:28:\"averageAttendanceTimeSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Average
  attendance time in seconds\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:20:\"averageAttentiveness\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Average
  based on the focus of the attendees Viewer during the webinar session\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:21:\"averageInterestRating\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Numerical
  value 1-100 (100 being most interested) indicating the average interest rating of
  the webinar attendees\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:20:\"percentageAttendance\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  percentage of registrants that actually attended the webinar session\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:15:\"registrantCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  number of registrations for the webinar\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:5:{i:0;s:15:\"registrantCount\";i:1;s:20:\"percentageAttendance\";i:2;s:21:\"averageInterestRating\";i:3;s:20:\"averageAttentiveness\";i:4;s:28:\"averageAttendanceTimeSeconds\";}}s:8:\"Attendee\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Describes
  the attendee of a webinar\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"attendance\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  list of times the attendee joined and left the webinar session\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attendance\";}s:4:\"type\";s:5:\"array\";}s:23:\"attendanceTimeInSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  total attendance time in seconds\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  attendee's email address\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  attendee's first name\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  attendee's last name\";s:4:\"type\";s:6:\"string\";}s:13:\"registrantKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  key of the webinar attendee\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"sessionKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  unique key of the webinar session\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:7:{i:0;s:13:\"registrantKey\";i:1;s:9:\"firstName\";i:2;s:8:\"lastName\";i:3;s:5:\"email\";i:4;s:23:\"attendanceTimeInSeconds\";i:5;s:10:\"attendance\";i:6;s:10:\"sessionKey\";}}s:16:\"AttendeeQuestion\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Describes
  the question asked by an attendee during a webinar session; includes the answers
  given to it.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"answers\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Answer
  to a question of an attendee and key of the organizer that answered\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AnswerToAttendeeQuestion\";}s:4:\"type\";s:5:\"array\";}s:7:\"askedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  email address of the attendee that asked the question\";s:4:\"type\";s:6:\"string\";}s:8:\"question\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  question asked by the attendee\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:7:\"answers\";i:1;s:8:\"question\";i:2;s:7:\"askedBy\";}}s:5:\"Audio\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Describes
  the audio/conferencing information for a webinar.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"confCallNumbers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CallNumbers\";}s:11:\"description\";s:575:\"The
  conference call numbers and access codes per country. This will be returned only,
  if 'type' is not set to 'Private'. Example for this object: \"confCallNumbers\":{\"CA\":{\"accessCodes\":{\"attendee\":\"159-309-045\",\"organizer\":\"791-426-085\",\"panelist\":\"690-270-339\"},\"tollFree\":\"1
  888 455 4198\"},\"FI\":{\"accessCodes\":{\"attendee\":\"159-309-045\",\"organizer\":\"791-426-085\",\"panelist\":\"690-270-339\"},\"toll\":\"+358
  (0) 338 79 4198\"},\"US\":{\"accessCodes\":{\"attendee\":\"159-309-045\",\"organizer\":\"791-426-085\",\"panelist\":\"690-270-339\"},\"toll\":\"+1
  (805) 879-4198\",\"tollFree\":\"1 888 455 4198\"}}\";s:4:\"type\";s:6:\"object\";}s:11:\"privateInfo\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/PrivateInfo\";s:11:\"description\";s:48:\"Phone
  numbers for an own conference call service\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AudioType\";s:11:\"description\";s:140:\"Indicates
  how to connect to the webinar's audio conference. The value of this field determines
  if other fields appear in the response or not\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:9:\"AudioType\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"How
  to connect to the webinar's audio conference\";s:4:\"enum\";a:4:{i:0;s:4:\"PSTN\";i:1;s:4:\"VOIP\";i:2;s:6:\"Hybrid\";i:3;s:7:\"Private\";}s:4:\"type\";s:6:\"string\";}s:11:\"AudioUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Defines
  the audio/conferencing settings for the specified webinar\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"privateInfo\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/PrivateInfoUpdate\";s:11:\"description\";s:53:\"Defines
  the audio data for an own conferencing system\";s:4:\"type\";s:6:\"object\";}s:8:\"pstnInfo\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/PstnInfoUpdate\";s:11:\"description\";s:99:\"Defines
  via two-letter Alpha-2-code which toll and toll-free PSTN numbers are available
  per country\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AudioType\";s:11:\"description\";s:58:\"Indicates
  how to connect to the webinar's audio conference\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:11:\"CallNumbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Conference
  call numbers per country.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"accessCodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AccessCodes\";s:11:\"description\";s:66:\"Describes
  the access codes for organizer, panelists and attendees.\";}s:4:\"toll\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Conference
  number for toll calls.\";s:4:\"type\";s:6:\"string\";}s:8:\"tollFree\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Conference
  number for toll-free calls.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"accessCodes\";i:1;s:4:\"toll\";}}s:11:\"Coorganizer\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Describes
  a webinar co-organizer. A co-organizer without a GoToWebinar account is marked as
  external and is returned without a surname\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  co-organizer's email address\";s:4:\"type\";s:6:\"string\";}s:8:\"external\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"If
  the co-organizer has no GoToWebinar account, this value is set to 'true'\";s:4:\"type\";s:7:\"boolean\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  co-organizer's given name\";s:4:\"type\";s:6:\"string\";}s:8:\"joinLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  co-organizer's join link\";s:4:\"type\";s:6:\"string\";}s:9:\"memberKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  co-organizer's organizer key. A new member key is created for external co-organizers\";s:4:\"type\";s:6:\"string\";}s:7:\"surname\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  co-organizer's surname. For external co-organizers this parameter is not returned\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:8:\"joinLink\";i:1;s:5:\"email\";i:2;s:9:\"memberKey\";i:3;s:8:\"external\";i:4;s:7:\"surname\";i:5;s:9:\"givenName\";}}s:20:\"CoorganizerReqCreate\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Details
  used for creating a co-organizer for a webinar. \";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"The
  co-organizer's email address. This parameter has to be passed only, if 'external'
  is set to 'true'\";s:4:\"type\";s:6:\"string\";}s:8:\"external\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"If
  the co-organizer has no GoToWebinar account, this value has to be set to 'true'\";s:4:\"type\";s:7:\"boolean\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"The
  co-organizer's given name. This parameter has to be passed only, if 'external' is
  set to 'true'\";s:4:\"type\";s:6:\"string\";}s:12:\"organizerKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  co-organizer's organizer key. This parameter has to be passed only, if 'external'
  is set to 'false'\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"external\";}}s:15:\"CreatedPanelist\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Describes
  a created panelist\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  panelist's email address\";s:4:\"type\";s:6:\"string\";}s:8:\"joinLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  panelist's join link\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  panelist's name\";s:4:\"type\";s:6:\"string\";}s:11:\"panelistKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  panelist's key\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:5:\"email\";i:2;s:8:\"joinLink\";i:3;s:11:\"panelistKey\";}}s:14:\"CreatedWebinar\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Describes
  a newly created webinar.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"webinarKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  unique key of the webinar.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"webinarKey\";}}s:13:\"CustomAnswers\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Answers
  to custom questions of the registrant\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Answer
  to a custom question when registering\";s:4:\"type\";s:6:\"string\";}s:8:\"question\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Custom
  question for registering\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"answer\";i:1;s:8:\"question\";}}s:13:\"DateTimeRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"A
  pair of DateTime values, the first of which serves as a start time and the second
  as an end time of an interval.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  ending time of an interval, e.g. 2015-07-13T22:00:00Z\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  starting time of an interval, e.g. 2015-07-13T10:00:00Z\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"startTime\";i:1;s:7:\"endTime\";}}s:17:\"HistoricalWebinar\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Describes
  a completed webinar\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  short description of the webinar\";s:4:\"type\";s:6:\"string\";}s:12:\"organizerKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  key of the webinar organizer\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  webinar subject\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  timezone where the webinar is taking place\";s:4:\"type\";s:6:\"string\";}s:5:\"times\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Array
  with startTime and endTime for the webinar sessions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeRange\";}s:4:\"type\";s:5:\"array\";}s:9:\"webinarID\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  9-digit webinar ID\";s:4:\"type\";s:6:\"string\";}s:10:\"webinarKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  unique key of the webinar\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:7:{i:0;s:5:\"times\";i:1;s:11:\"description\";i:2;s:7:\"subject\";i:3;s:12:\"organizerKey\";i:4;s:10:\"webinarKey\";i:5;s:9:\"webinarID\";i:6;s:8:\"timeZone\";}}s:8:\"Panelist\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Describes
  a webinar session panelist\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  panelist's email address\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"DEPRECATED.
  The fields 'firstName' and 'lastName' are replaced by the field 'name'\";s:4:\"type\";s:6:\"string\";}s:8:\"joinLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  co-organizer's join link\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"DEPRECATED.
  The fields 'firstName' and 'lastName' are replaced by the field 'name'\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  panelist's name\";s:4:\"type\";s:6:\"string\";}s:10:\"panelistId\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  panelist's ID\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:6:{i:0;s:8:\"joinLink\";i:1;s:8:\"lastName\";i:2;s:5:\"email\";i:3;s:4:\"name\";i:4;s:10:\"panelistId\";i:5;s:9:\"firstName\";}}s:17:\"PanelistReqCreate\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Describes
  a single panelist\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  panelist's email address\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  panelist's name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:4:\"name\";}}s:4:\"Poll\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"A
  poll or survey launched by an organizer during or after a webinar session; includes
  the responses given to it by the attendees.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"numberOfResponses\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  total number of responses received for this poll or survey\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"question\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  poll or survey question asked by the webinar organizer\";s:4:\"type\";s:6:\"string\";}s:9:\"responses\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  responses given by the attendees to the poll or survey\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PollResponse\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:9:\"responses\";i:1;s:8:\"question\";i:2;s:17:\"numberOfResponses\";}}s:10:\"PollAnswer\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Describes
  the answer given by a webinar attendee to a poll or survey launched by an organizer.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  answer given to the poll or survey question\";s:4:\"type\";s:6:\"string\";}s:8:\"question\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  poll or survey question\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"answer\";i:1;s:8:\"question\";}}s:12:\"PollResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"One
  of the potential responses/options to a poll or survey launched by an organizer
  during a webinar session.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"percentage\";O:8:\"stdClass\":5:{s:11:\"description\";s:63:\"The
  percentage of responses that favored this particular option\";s:6:\"format\";s:5:\"float\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  text of the response/option to a poll or survey\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"text\";i:1;s:10:\"percentage\";}}s:25:\"PollsAndSurveysStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Details
  on the polls and surveys for a webinar session.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"percentagePollsCompleted\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  percentage of polls completed by the attendees\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:26:\"percentageSurveysCompleted\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  percentage of surveys completed by the attendees\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"pollCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  number of polls launched at a webinar session\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"questionsAsked\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  number of questions asked at a webinar session\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"surveyCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  percentage of surveys launched at a webinar session\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:5:{i:0;s:9:\"pollCount\";i:1;s:11:\"surveyCount\";i:2;s:14:\"questionsAsked\";i:3;s:24:\"percentagePollsCompleted\";i:4;s:26:\"percentageSurveysCompleted\";}}s:11:\"PrivateInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Phone
  numbers for an own conference call service.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"attendee\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Text
  for the panelist when using an own conference call service\";s:4:\"type\";s:6:\"string\";}s:9:\"organizer\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Text
  for the organizer when using an own conference call service\";s:4:\"type\";s:6:\"string\";}s:8:\"panelist\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Text
  for the panelist when using an own conference call service\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"attendee\";}}s:17:\"PrivateInfoUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Defines
  the audio data for an own conferencing system\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"attendee\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Attendee
  phone number for own conference call system\";s:4:\"type\";s:6:\"string\";}s:9:\"organizer\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Organizer
  phone number for own conference call system\";s:4:\"type\";s:6:\"string\";}s:8:\"panelist\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Panelist
  phone number for own conference call system\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"attendee\";}}s:14:\"PstnInfoUpdate\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Defines
  the audio/conferencing settings for the specified webinar. It required to pass 'tollFreeCountries'
  or 'tollCountries' or both.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"tollCountries\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"Defines
  in which countries toll PSTN numbers are available. Possible values are AT, AU,
  BE, CA, CH, DE, DK, ES, FI, FR, GB, IE, IT, NL, NO, NZ, SE, US\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TollCountries\";}s:4:\"type\";s:5:\"array\";}s:17:\"tollFreeCountries\";O:8:\"stdClass\":3:{s:11:\"description\";s:307:\"Defines
  in which countries toll free PSTN numbers are available. Possible values are AE,
  AR, AT, AU, BE, BG, BH, BR, BY, CA, CH, CL, CN, CO, CZ, DE, DK, ES, FI, FR, GB,
  GR, HK, HU, ID, IE, IL, IN, IS, IT, JP, KR, LU, MX, MY, NL, NO, NZ, PA, PE, PH,
  PL, PT, RO, RU, SA, SE, SG, TH, TR, TW, UA, US, UY, VN, ZA\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TollFreeCountries\";}s:4:\"type\";s:5:\"array\";}}}s:10:\"Registrant\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Describes
  a webinar registrant\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  registrant's email address\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  registrant's first name\";s:4:\"type\";s:6:\"string\";}s:7:\"joinUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  URL the registrant will use to join the webinar\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  registrant's last name\";s:4:\"type\";s:6:\"string\";}s:13:\"registrantKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  registrant's key\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"registrationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  registration date and time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  registration status\";s:4:\"enum\";a:3:{i:0;s:8:\"APPROVED\";i:1;s:6:\"DENIED\";i:2;s:7:\"WAITING\";}s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  time zone where the webinar will take place\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:8:\"lastName\";i:1;s:5:\"email\";i:2;s:9:\"firstName\";i:3;s:13:\"registrantKey\";i:4;s:16:\"registrationDate\";i:5;s:6:\"status\";i:6;s:7:\"joinUrl\";i:7;s:8:\"timeZone\";}}s:17:\"RegistrantCreated\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Describes
  a newly created webinar registrant.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"joinUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  URL the registrant will use to join the webinar.\";s:4:\"type\";s:6:\"string\";}s:13:\"registrantKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  registrant's key\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:13:\"registrantKey\";i:1;s:7:\"joinUrl\";}}s:18:\"RegistrantDetailed\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Detailed
  description of a webinar registrant with all registration fields.\";s:10:\"properties\";O:8:\"stdClass\":27:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  registrant's address\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  registrant's city\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  registrant's country\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  registrant's email address\";s:4:\"type\";s:6:\"string\";}s:13:\"employeeCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  size in employees of the registrant's organization\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  registrant's first name\";s:4:\"type\";s:6:\"string\";}s:23:\"implementationTimeFrame\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  time frame within which the product will be purchased\";s:4:\"type\";s:6:\"string\";}s:8:\"industry\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  type of industry the registrant's organization belongs to\";s:4:\"type\";s:6:\"string\";}s:8:\"jobTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  registrant's job title\";s:4:\"type\";s:6:\"string\";}s:7:\"joinUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  URL the registrant will use to join the webinar\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  registrant's last name\";s:4:\"type\";s:6:\"string\";}s:17:\"numberOfEmployees\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  size in employees of the registrant's organization\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  registrant's organization\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  registrant's phone\";s:4:\"type\";s:6:\"string\";}s:14:\"purchasingRole\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  registrant's role in purchasing the product\";s:4:\"type\";s:6:\"string\";}s:19:\"purchasingTimeFrame\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  time frame within which the product will be purchased\";s:4:\"type\";s:6:\"string\";}s:20:\"questionsAndComments\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Any
  questions or comments the registrant made at the time of registration\";s:4:\"type\";s:6:\"string\";}s:13:\"registrantKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  registrant's key\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"registrationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  registration date and time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"responses\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Responses
  to custom questions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CustomAnswers\";}s:4:\"type\";s:5:\"array\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  source that led to the registration. This can be any string like 'Newsletter 123'
  or 'Marketing campaign ABC'\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  registrant's state (US only)\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  registration status\";s:4:\"enum\";a:3:{i:0;s:8:\"APPROVED\";i:1;s:6:\"DENIED\";i:2;s:7:\"WAITING\";}s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  time zone where the webinar will take place\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  type is REGULAR for 'One session' and 'Sequence' webinars. For webinar series this
  parameter is not passed\";s:4:\"enum\";a:1:{i:0;s:7:\"REGULAR\";}s:4:\"type\";s:6:\"string\";}s:12:\"unsubscribed\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Indicates
  whether the registrant opted-out from receiving other emails from this webinar's
  organizer\";s:4:\"type\";s:7:\"boolean\";}s:7:\"zipCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  registrant's zip (post) code\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:9:\"firstName\";i:1;s:8:\"lastName\";i:2;s:5:\"email\";i:3;s:13:\"registrantKey\";i:4;s:16:\"registrationDate\";i:5;s:6:\"status\";i:6;s:7:\"joinUrl\";i:7;s:8:\"timeZone\";}}s:16:\"RegistrantFields\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Detailed
  description of a all fields to register a registrant for a webinar.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  registrant's address\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  registrant's city\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  registrant's country\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  registrant's email address\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  registrant's first name\";s:4:\"type\";s:6:\"string\";}s:8:\"industry\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  type of industry the registrant's organization belongs to\";s:4:\"type\";s:6:\"string\";}s:8:\"jobTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  registrant's job title\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  registrant's last name\";s:4:\"type\";s:6:\"string\";}s:17:\"numberOfEmployees\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  size in employees of the registrant's organization\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  registrant's organization\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  registrant's phone\";s:4:\"type\";s:6:\"string\";}s:14:\"purchasingRole\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  registrant's role in purchasing the product\";s:4:\"type\";s:6:\"string\";}s:19:\"purchasingTimeFrame\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  time frame within which the product will be purchased\";s:4:\"type\";s:6:\"string\";}s:20:\"questionsAndComments\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Any
  questions or comments the registrant made at the time of registration\";s:4:\"type\";s:6:\"string\";}s:9:\"responses\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Set
  the answers of all questions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/RegistrantQAResponse\";}s:4:\"type\";s:5:\"array\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  source that led to the registration. This can be any string like 'Newsletter 123'
  or 'Marketing campaign ABC'\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  registrant's state (US only)\";s:4:\"type\";s:6:\"string\";}s:7:\"zipCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  registrant's zip (post) code\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"firstName\";i:1;s:8:\"lastName\";i:2;s:5:\"email\";}}s:20:\"RegistrantQAResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:468:\"Describes
  a completed registration question for a webinar registrant. If you use 'Multiple
  choice' questions the response contains the numeric answerKey, otherwise the answer
  text. Example:<br>{<br>  \"firstName\": \"First\",<br>  \"lastName\": \"Last\",<br>
  \ \"email\": \"First.Last@example.com\",<br>  \"responses\": [{<br>      \"questionKey\":
  17023549,<br>      \"responseText\": \"This is a short answer\"},{<br>      \"questionKey\":
  17023550,<br>      \"answerKey\": 17023553}  ]<br>}\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"answerKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  numeric key of the answer to a multiple-choice question.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"questionKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  unique key of the question\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"responseText\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Answer
  of the question.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"questionKey\";}}s:18:\"RegistrationAnswer\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Describes
  an answer to a multiple choice custom registration field.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  answer value\";s:4:\"type\";s:6:\"string\";}s:9:\"answerKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  answer key\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"answer\";i:1;s:9:\"answerKey\";}}s:17:\"RegistrationField\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Describes
  a field for a webinar registration.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"answers\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"List
  of choices for a multiple choice registration field\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name of the registration field\";s:4:\"type\";s:6:\"string\";}s:7:\"maxSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  character size of the custom registration field (max 128)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Indicates
  whether the custom registration field is compulsory\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:5:\"field\";i:1;s:8:\"required\";i:2;s:7:\"maxSize\";}}s:18:\"RegistrationFields\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  fields to be completed on the webinar registration form.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  default fields the organizer has selected for the webinar registration form\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RegistrationField\";}s:4:\"type\";s:5:\"array\";}s:9:\"questions\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Custom
  fields created by the organizer for the webinar registration form\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/RegistrationQuestion\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:9:\"questions\";i:1;s:6:\"fields\";}}s:20:\"RegistrationQuestion\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Describes
  a custom field for a webinar registration.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"answers\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  answers to a multiple choice custom registration field\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RegistrationAnswer\";}s:4:\"type\";s:5:\"array\";}s:7:\"maxSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  character size of the custom registration field (max 1000)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"question\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  value (text) of the custom registration field\";s:4:\"type\";s:6:\"string\";}s:11:\"questionKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  unique key of the custom registration field\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Indicates
  whether the custom registration field is compulsory\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"Indicates
  whether the custom registration field requires a single short answer or whether
  it is a multiple choice question\";s:4:\"enum\";a:2:{i:0;s:14:\"multipleChoice\";i:1;s:11:\"shortAnswer\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:11:\"questionKey\";i:1;s:8:\"question\";i:2;s:8:\"required\";i:3;s:4:\"type\";i:4;s:7:\"maxSize\";}}s:7:\"Session\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Describes
  a completed webinar session.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  ending time of the webinar session\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"registrantsAttended\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  number of registrants who attended the webinar session\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"sessionKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  unique key of the webinar session\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  starting time of the webinar session\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"webinarID\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  9-digit webinar ID\";s:4:\"type\";s:6:\"string\";}s:10:\"webinarKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  unique key of the webinar\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:6:{i:0;s:9:\"startTime\";i:1;s:19:\"registrantsAttended\";i:2;s:10:\"webinarKey\";i:3;s:9:\"webinarID\";i:4;s:10:\"sessionKey\";i:5;s:7:\"endTime\";}}s:18:\"SessionPerformance\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Describes
  performance details for webinar sessions\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"attendance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AttendanceStatistics\";s:11:\"description\";s:43:\"Attendance
  statistics for a webinar session\";}s:15:\"pollsAndSurveys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/PollsAndSurveysStatistics\";s:11:\"description\";s:39:\"Polls
  and surveys for a webinar session\";}}s:8:\"required\";a:2:{i:0;s:10:\"attendance\";i:1;s:15:\"pollsAndSurveys\";}}s:13:\"TollCountries\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Defines
  in which countries toll PSTN numbers are available.\";s:4:\"enum\";a:18:{i:0;s:2:\"AT\";i:1;s:2:\"AU\";i:2;s:2:\"BE\";i:3;s:2:\"CA\";i:4;s:2:\"CH\";i:5;s:2:\"DE\";i:6;s:2:\"DK\";i:7;s:2:\"ES\";i:8;s:2:\"FI\";i:9;s:2:\"FR\";i:10;s:2:\"GB\";i:11;s:2:\"IE\";i:12;s:2:\"IT\";i:13;s:2:\"NL\";i:14;s:2:\"NO\";i:15;s:2:\"NZ\";i:16;s:2:\"SE\";i:17;s:2:\"US\";}s:4:\"type\";s:6:\"string\";}s:17:\"TollFreeCountries\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Countries
  in which toll free PSTN numbers are available.\";s:4:\"enum\";a:56:{i:0;s:2:\"AE\";i:1;s:2:\"AR\";i:2;s:2:\"AT\";i:3;s:2:\"AU\";i:4;s:2:\"BE\";i:5;s:2:\"BG\";i:6;s:2:\"BH\";i:7;s:2:\"BR\";i:8;s:2:\"BY\";i:9;s:2:\"CA\";i:10;s:2:\"CH\";i:11;s:2:\"CL\";i:12;s:2:\"CN\";i:13;s:2:\"CO\";i:14;s:2:\"CZ\";i:15;s:2:\"DE\";i:16;s:2:\"DK\";i:17;s:2:\"ES\";i:18;s:2:\"FI\";i:19;s:2:\"FR\";i:20;s:2:\"GB\";i:21;s:2:\"GR\";i:22;s:2:\"HK\";i:23;s:2:\"HU\";i:24;s:2:\"ID\";i:25;s:2:\"IE\";i:26;s:2:\"IL\";i:27;s:2:\"IN\";i:28;s:2:\"IS\";i:29;s:2:\"IT\";i:30;s:2:\"JP\";i:31;s:2:\"KR\";i:32;s:2:\"LU\";i:33;s:2:\"MX\";i:34;s:2:\"MY\";i:35;s:2:\"NL\";i:36;s:2:\"NO\";i:37;s:2:\"NZ\";i:38;s:2:\"PA\";i:39;s:2:\"PE\";i:40;s:2:\"PH\";i:41;s:2:\"PL\";i:42;s:2:\"PT\";i:43;s:2:\"RO\";i:44;s:2:\"RU\";i:45;s:2:\"SA\";i:46;s:2:\"SE\";i:47;s:2:\"SG\";i:48;s:2:\"TH\";i:49;s:2:\"TR\";i:50;s:2:\"TW\";i:51;s:2:\"UA\";i:52;s:2:\"US\";i:53;s:2:\"UY\";i:54;s:2:\"VN\";i:55;s:2:\"ZA\";}s:4:\"type\";s:6:\"string\";}s:15:\"UpcomingWebinar\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Describes
  a scheduled webinar\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  short description of the webinar\";s:4:\"type\";s:6:\"string\";}s:9:\"inSession\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Indicates
  whether there is a webinar session currently in progress\";s:4:\"type\";s:7:\"boolean\";}s:12:\"organizerKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  key of the webinar organizer\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"registrationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  URL the webinar invitees can use to register\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  webinar subject\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  timezone where the webinar is taking place\";s:4:\"type\";s:6:\"string\";}s:5:\"times\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Array
  with startTime and endTime for the webinar sessions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeRange\";}s:4:\"type\";s:5:\"array\";}s:9:\"webinarID\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  9-digit webinar ID\";s:4:\"type\";s:6:\"string\";}s:10:\"webinarKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  unique key of the webinar\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:9:{i:0;s:5:\"times\";i:1;s:11:\"description\";i:2;s:7:\"subject\";i:3;s:9:\"inSession\";i:4;s:12:\"organizerKey\";i:5;s:10:\"webinarKey\";i:6;s:9:\"webinarID\";i:7;s:8:\"timeZone\";i:8;s:15:\"registrationUrl\";}}s:7:\"Webinar\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Describes
  a scheduled webinar\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  short description of the webinar\";s:4:\"type\";s:6:\"string\";}s:9:\"inSession\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Indicates
  whether there is a webinar session currently in progress\";s:4:\"type\";s:7:\"boolean\";}s:19:\"numberOfRegistrants\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  number of registrants at the webinar\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"organizerKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  key of the webinar organizer\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"registrationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  URL the webinar invitees can use to register\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  webinar subject\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  timezone where the webinar is taking place\";s:4:\"type\";s:6:\"string\";}s:5:\"times\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Array
  with startTime and endTime for the webinar sessions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeRange\";}s:4:\"type\";s:5:\"array\";}s:9:\"webinarID\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  9-digit webinar ID\";s:4:\"type\";s:6:\"string\";}s:10:\"webinarKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  unique key of the webinar\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:10:{i:0;s:19:\"numberOfRegistrants\";i:1;s:5:\"times\";i:2;s:11:\"description\";i:3;s:7:\"subject\";i:4;s:9:\"inSession\";i:5;s:12:\"organizerKey\";i:6;s:10:\"webinarKey\";i:7;s:9:\"webinarID\";i:8;s:8:\"timeZone\";i:9;s:15:\"registrationUrl\";}}s:12:\"WebinarByKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Describes
  a completed webinar\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  short description of the webinar\";s:4:\"type\";s:6:\"string\";}s:9:\"inSession\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Indicates
  whether there is a webinar session currently in progress\";s:4:\"type\";s:7:\"boolean\";}s:25:\"numberOfOpenedInvitations\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"This
  field is obsolete. It is always set to 0\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"numberOfRegistrants\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  number of registrants at the webinar\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:30:\"numberOfRegistrationLinkClicks\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"This
  field is obsolete. It is always set to 0\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"organizerKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  key of the webinar organizer\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"registrationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  URL the webinar invitees can use to register\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  webinar subject.\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  timezone where the webinar is taking place\";s:4:\"type\";s:6:\"string\";}s:5:\"times\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Array
  with startTime and endTime for the webinar sessions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeRange\";}s:4:\"type\";s:5:\"array\";}s:9:\"webinarID\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  9-digit webinar ID\";s:4:\"type\";s:6:\"string\";}s:10:\"webinarKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  unique key of the webinar\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:12:{i:0;s:19:\"numberOfRegistrants\";i:1;s:5:\"times\";i:2;s:11:\"description\";i:3;s:7:\"subject\";i:4;s:9:\"inSession\";i:5;s:12:\"organizerKey\";i:6;s:10:\"webinarKey\";i:7;s:9:\"webinarID\";i:8;s:8:\"timeZone\";i:9;s:25:\"numberOfOpenedInvitations\";i:10;s:15:\"registrationUrl\";i:11;s:30:\"numberOfRegistrationLinkClicks\";}}s:16:\"WebinarReqCreate\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Describes
  the details used to create a new single session webinar.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  short description of the webinar (2048 characters maximum)\";s:4:\"type\";s:6:\"string\";}s:19:\"isPasswordProtected\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:70:\"A
  boolean flag indicating if the webinar is password protected or not.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name/subject of the webinar (128 characters maximum)\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  time zone where the webinar is taking place (must be a valid time zone ID, see https://developer.citrixonline.com/time-zones).
  If this parameter is not passed, the timezone of the organizer's profile will be
  used\";s:4:\"type\";s:6:\"string\";}s:5:\"times\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Array
  with startTime and endTime for webinar. Since this call creates single session webinars,
  the array can only contain a single pair of startTime and endTime\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeRange\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"single_session\";s:11:\"description\";s:918:\"Specifies
  the webinar type. The default type value is \"single_session\", which is used to
  create a single webinar session. The possible values are \"single_session\", \"series\",
  \"sequence\". If type is set to \"single_session\", a single webinar session is
  created. If type is set to \"series\", a webinar series is created. In this case
  2 or more timeframes must be specified for each webinar. Example: \"times\": [{\"startTime\":
  \"...\", \"endTime\": \"...\"},{\"startTime\": \"...\", \"endTime\": \"...\"},{\"startTime\":
  \"...\", \"endTime\": \"...\"}. If type is set to \"sequence\" a sequence of webinars
  is created. The times object in the body must be replaced by the \"recurrenceStart\"
  object. Example: \"recurrenceStart\": {\"startTime\":\"2012-06-12T16:00:00Z\", \"endTime\":
  \"2012-06-12T17:00:00Z\" }.  The \"recurrenceEnd\" and \"recurrencePattern\" body
  parameter must be specified. Example: , \"recurrenceEnd\": \"2012-07-10\", \"recurrencePattern\":
  \"daily\".\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"subject\";i:1;s:5:\"times\";}}s:16:\"WebinarReqUpdate\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Describes
  the details of the webinar\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"A
  description of the webinar (2048 characters maximum)\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  webinar language\";s:4:\"enum\";a:6:{i:0;s:5:\"en_US\";i:1;s:5:\"de_DE\";i:2;s:5:\"es_ES\";i:3;s:5:\"fr_FR\";i:4;s:5:\"it_IT\";i:5;s:5:\"zh_CN\";}s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name/subject of the webinar (128 characters maximum)\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  time zone where the webinar is taking place (must be a valid time zone ID, see https://developer.citrixonline.com/time-zones).
  If this parameter is not passed, the timezone of the organizer's profile will be
  used\";s:4:\"type\";s:6:\"string\";}s:5:\"times\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  with start and end time(s) for webinar\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeRange\";}s:4:\"type\";s:5:\"array\";}}}s:9:\"firstPage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  first page link\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"href\";}}s:8:\"lastPage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  last page link\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"href\";}}s:4:\"page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  current page number. The first page is 0\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  page size\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"totalElements\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  total elements\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"totalPages\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  pages count\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:4:\"size\";i:1;s:13:\"totalElements\";i:2;s:10:\"totalPages\";i:3;s:6:\"number\";}}s:8:\"selfPage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  current page link\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"href\";}}}"
...
