---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:31:\"Solartis
  Rate API for ISO-GL-V2\";s:11:\"description\";s:70:\"To get rate for General Liability
  from Solartis Rate API with ISO ERC.\";}"
host: isoglbkbv4-2.solartis.net
basePath: /DroolsV4_4/DroolsService/FireEventV3
paths:
  /FireEventV3:
    post:
      description: Gets Rate for General Liability based on ISO ERC
      operationId: getRates
      produces:
      - application/json
      parameters:
      - name: Token
        in: header
        description: Authentication Token
        required: true
        type: string
        format: string
        default: QeRXLmUY7xEFSHjHMcCuhauJEl+in5Huh0cS+CLndfy+4m82ZwGrPI58uSH0CYZs4cazG0Em3MQf73wuurBsEeFBdKaiqqfDvabmpEfprzsaw3Q7JHhb1ZEcyCvKND2i6jHI5gOlLpkmJNncsa5FKyUXN0vQkdFsMZckXUjZJOTwN/JZxZbU0Q0pwv/YW6dLcWqUL677bxWW3Suj2AgTmdIwOH0RaC5+E0qUpAAp+2thdJjkopHpT7/cguUUVxNTyKAjDhxHSfSyfeT75v2YN6qfBMiIR9Ry5sQhau90fAC6t9RxzN2iCnn1rTYZMlWjMCiG0yzK/Y9ryC0de83rpGMpmpA70JCx33fcSww89zJoGTgLhPT1LGW1Wickra244f9r0PJF9s/qPMXEUDYFUWmVHnqnu/iGbCzHex2+u5NTZT4XqXxrfxa3rxA6Y5BikR6a7ERwdiXHvaNQlmhS1Vlk4maL91KdL3Cd8tPsuE5cMQc9gwMOMr41v+IEJEehpZbfRQKLWrEKCj7RaIFDHcJJHZSNZteG5vSmHzzCiEdx2Kbl+7l1V6PtNJ6KAvSDABcx/sh3eqadipKV37dZcHw3Ylb65AeKiPLwOAJ3Sf11o+pMDxkZgGpVuoJmIELzYEqGNDO+MDPOLor3RIYPNZTPUZq4JlkVMVzNavSAfC0LOJPTp5Gx6RWz19oKb5pFkT40VSO99ym2a1nXgyz629zG1Mwjrzw+Ei+iOtazKzplbiSGNPBv9mKtbxWhlnRH6HzBcwp+i4x5xBtzPGfCBfqXFbE7HWV0W53OGz4s9mDW7TnQLJnygnry5esOj7JKUK1yj4mIsjGpIb8l/PjYX333NJbABtGboz9YZkDjE9mKG19A6JhRgkPJlObp1C2FHm69NeNsT+Emy9lcGKE39Bgvuz+Jkbfss1meINQ9nrf+QXypF4mn3PqWOv90nSLusvJ0E9tBEemiJoCH5IifmRgvuz+Jkbfss1meINQ9nrdB6fdxQtO0PpsPPo6xUNoyKzKQxu5GFmchkU0ulZ3JGLk3XEFDJ2sMiC4orFYMjpfOVXM7dAWLJYxFGIkB9yhdbHnqZk4HmXQ6EZrrFJpQkU8lIAmbsL3lMDrkYq/mlhtBm+UmQv+S0DH5FOO6wVBQ2kdvsaGk535QmgdKJoY4kk8kKk3qBLD/iRjudOpbH7iAEDfkZmDamKCmDoAVNYTbk61AhSx7XHAon/uG3Jbl9hIkquzLCG79PFGmsQF3qI8Q5O8pmync1rD1ekEwgc+XTh0qFa3PAEWPfjVaHpNpy7thrLOsHp4Yft8mCFQX5zoZFWg+ktiVvyaXLk1CHT9Q9E+hueOvUPyPTThxapYMXN2SF4YfzxQjWbNqC8byXxzw55ECUNlfLucfcYnHw0WYfm1XAPtUAdmaanWRBJ6yvZ8/upvipu33grsX8eE4JmcoAK5OQu1pJJXLrO3sBi27QQhukVAMOodkVW8JA9z6olOY+6z32vdo8KGMJWthl8tI28oPAkZefZxv33QDVMzHJBn5oDvyRJAulYnokHhtmbY/0pGQhciwCEXR8XdsrVZch4Vr1dC3pCTjxpiv4Diu8CSLPa/x/Pi8favKQC6rr4bj6tEuhMlD9EpI568R7J5uAm8sUqbTdGxjtpi6g+l0n0Ix7+8FGpgQiG/2Bi5d1F6SEw9Jf3g34hgp2yGwSIuWhu+4H8IdCjHbDMdVBu9P0n0m9L0OQ0j4RLBIhAlrNQIbXShqjKcHtezTTYyxyEczqSQozijghbtJ2rG02pJLNbEY33zKcgE7Ejpk1QXt/r5mWYeXsiaKEug2C8zbeEn6NSwOr9+tuaG5YOXi/dQKsbUDUr6ClSu1pzX4Dh7zPqmXBSUOLFnuKg+EB4gnS4JhM3RvYhUtapPubeem1sccOf1wEgxWl77bz+eWDydn9Q==
      - name: Content-Type
        in: header
        description: Content Type
        required: true
        type: string
        format: string
        default: application/json
      - name: EventName
        in: header
        description: EventName
        required: true
        type: string
        format: string
        default: GL_RatingEvent_V1
      - name: Rating Request
        in: body
        description: For rating request
        required: true
        schema:
          $ref: '#/definitions/Request'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Success_Response'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:7:\"Request\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:14:\"ExpirationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2020-02-01\";}s:6:\"County\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:19:\"Borough
  of Richmond\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"AL\";}s:16:\"GeneralLiability\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":390:{s:24:\"GeneralLiabilityLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":32:{s:44:\"GeneralLiabilityDesignatedLocGeneralAggLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:26:\"OwnersContractorsTerritory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"999\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"AL\";}s:16:\"UniqueIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:26:\"ProdsCompldOpsBIDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:43:\"GeneralLiabilityDesignatedLocLiquorAggLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:18:\"PollutionTerritory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"999\";}s:18:\"TerrorismTerritory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"502\";}s:33:\"CertifiedActsOfTerrorismManhattan\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:28:\"ProdsCompldOpsBIPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:60:\"GeneralLiabilityExclAllHazardsInConnectionWithDesignatedPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:19:\"PremOpsBIDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:7:\"ZipCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"35005\";}s:28:\"CertifiedActsOfTerrorismTerr\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:26:\"ProdsCompldOpsPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:83:\"GeneralLiabilityExclDamageToWorkPerformedBySubcontractorsOnYourBehalfDesignSitesOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:21:\"PremOpsBIPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:39:\"GeneralLiabilityAddlInsdMgrsLessorsPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:45:\"GeneralLiabilityAddlInsdMgrsLessorsPremDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:16:\"LiquorDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"500
  Per Claim\";}s:23:\"ProdsCompldOpsTerritory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"999\";}s:69:\"GeneralLiabilityExclExplosionCollapseUndrgrdPropDmgHazardSpecifiedOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:19:\"PremOpsPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:61:\"GeneralLiabilityAddlInsdOwnersLesseesContrctrsCompldOpsLocLvl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:67:\"GeneralLiabilityAddlInsdOwnersLesseesContrctrsCompldOpsLocLvlDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:14:\"LiquorLiabTerr\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:27:\"ProductWithdrawalDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:77:\"GeneralLiabilityExclExplosionCollapseUndrgrdPropDmgHazardSpecifiedOpsExcepted\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:22:\"PremisesOperationsTerr\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:30:\"GeneralLiabilityClassification\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":109:{s:20:\"RailroadPremiumBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"Total
  Cost\";}s:19:\"PremOpsBIDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:73:\"GeneralLiabilityClassificationOwnersContractorsCoverage.ELPOverOneHundred\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"10000\";}s:42:\"ProdsCompldOpsBIPDDeductibleFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:24:\"LiquorExposureOnPremises\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:12:\"EDLClassCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"92900\";}s:25:\"ProductWithdrawalExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:25:\"OwnersContractorsExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:8:\"10000000\";}s:50:\"LeadIsResidentialRiskWithUnitsConstructedPrior1978\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:31:\"StopGapIncrdLimitFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:19:\"PremOpsPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:15:\"LiquorClassCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"59211\";}s:22:\"NumPassgrFreightTrains\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"21
  - 40\";}s:10:\"IfAnyBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:16:\"UniqueIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:26:\"ProdsCompldOpsPremiumBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"Total
  Cost\";}s:81:\"RiskLicensedOrCertifiedToUsePesticidesInComplianceWithTheStructuralPestControlAct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:33:\"PremOpsBIDeductibleFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:73:\"GeneralLiabilityClassificationOwnersContractorsCoverage.ELPOverOneMillion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"10000\";}s:17:\"ProdsCompldOpsCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:29:\"Products/Completed
  Operations\";}s:18:\"LiquorPremiumBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"Gross
  Sales\";}s:19:\"EDLClassDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:22:\"Payroll
  Exposure Basis\";}s:29:\"ProductWithdrawalPremiumBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"Gross
  Sales\";}s:29:\"OwnersContractorsPremiumBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"Total
  Cost\";}s:19:\"LeadNumUnitsWithLOC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:43:\"TotalCostWorkTrainsOrOtherRREquipmtAssigned\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:33:\"PremOpsPDDeductibleFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:22:\"LiquorClassDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:80:\"Package
  stores,retail establishment selling alcohol for consumption off premises\";}s:9:\"ClassCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"10010\";}s:26:\"OtherThanProdsCompldOpsCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:19:\"Premises/Operations\";}s:24:\"IfAnyBasisProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:25:\"ProductWithdrawalCoverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:29:\"Products/Completed
  Operations\";}s:33:\"SpecialProtectiveHighwayClassCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:21:\"PremOpsBIPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:32:\"GeneralLiabilityCanoesOrRowboats\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:25:\"ProdsCompldOpsELPOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:43:\"LmtdProdsWithdrawalDeductibleFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:11:\"EDLExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"99999\";}s:21:\"PublicOrPrivateSchool\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:18:\"PollutionClassCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"90100\";}s:20:\"LeadNumUnitsWithLOIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:12:\"USTClassCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:19:\"PremOpsPremiumBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"Total
  Cost\";}s:23:\"LiquorDedFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"1\";}s:16:\"ClassDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:80:\"Contrctrs-sub
  work connctn w/street,highway constrctn,recons repair-not elevated\";}s:27:\"ProductWithdrawalDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:26:\"OwnersContractorsClassCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"15192\";}s:33:\"InjurySuprvsrInspctrsOtherEmpsCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:8:\"Included\";}s:40:\"SpecialProtectiveHighwayClassDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:35:\"PremOpsBIPDDeductibleFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:42:\"GeneralLiabilitySnowplowOperationsCoverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:22:\"ProdsCompldOpsExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"9500000\";}s:26:\"LmtdProdsWithdrawalPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:20:\"EDLPremiumRatingBase\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"Payroll\";}s:17:\"RailroadClassCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"40013\";}s:25:\"PollutionClassDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:33:\"Pollution
  Liability Coverage Form\";}s:28:\"LeadNumUnitsWithoutLOCorLOIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:19:\"USTClassDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:26:\"ProdsCompldOpsBIDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:16:\"LiquorDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"500
  Per Claim\";}s:24:\"ClimbingFacilityOperator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:41:\"ProductWithdrawalDeductibleFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:33:\"OwnersContractorsClassDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:80:\"Principals
  Protective Liability-Liability To Independent Contractors-(Cov A)-NOC\";}s:32:\"SpecialProtectiveHighwayExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:18:\"PremOpsELPOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:25:\"GeneralLiabilityTerrorism\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:27:\"PremisesOperationsTerritory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"503\";}s:9:\"Territory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"502\";}}}}s:47:\"ProdsCompldOpsIncrdLimitTableAssignmentOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"A\";}s:16:\"MedPayCovForStud\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:32:\"ElevatorContractorsClassCategory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"Class
  I\";}s:24:\"RailroadClassDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:33:\"State
  or Federal Highway Projects\";}s:17:\"PollutionExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"9999\";}s:11:\"USTExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:40:\"ProdsCompldOpsBIDeductibleFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:17:\"LiquorELPOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"10\";}s:10:\"Contractor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:28:\"ProductWithdrawalELPOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:42:\"OwnersContractorsELPOverOneMillionOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"10000\";}s:19:\"LeadCovWithNoLetter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:15:\"PremOpsExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"9500000\";}s:36:\"SpecialProtectiveHighwayPremiumBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:23:\"EstdContractCostWORRHzd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"20\";}s:36:\"GeneralLiabilityElevatorsContractors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"BodilyInjuryLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:9:\"1,000,000\";}s:19:\"PropertyDamageLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"500,000\";}}}}s:26:\"ProdsCompldOpsPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:14:\"MiscIfAnyBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:16:\"RailroadExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"100000\";}s:21:\"PollutionPremiumBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:15:\"Number
  of Tanks\";}s:15:\"USTPremiumBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:28:\"ProdsCompldOpsBIPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:14:\"LiquorExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"1000000\";}s:23:\"DriverEducationProvider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:70:\"ProductWithdrawalExpensesAndLiabilityIncrdLimitTableAssignmentOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:28:\"OwnersContractorsELPOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"1000\";}s:40:\"PremOpsIncrdLimitTableAssignmentOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"N/A\";}s:41:\"LimitedCovForPersonalAndAdvertisingInjury\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:13:\"SprayPainting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:26:\"EstimatedContractCostRatio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"20\";}s:64:\"GeneralLiabilityMarylandChangesLiabilityForHazardsOfLeadClassLvl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:35:\"NumberOfUnitsDwellingBuilt1979After\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:36:\"NumberOfUnitsDwellingBuilt1979Before\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}}}}s:40:\"ProdsCompldOpsPDDeductibleFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:35:\"MunicipalityOperatesAFireDepartment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:56:\"LeadConstructedPriorto1978PrimaFacieEvidenceofCompliance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:43:\"LeadHaveAllPremisesConstructedInOrAfter1978\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:25:\"LeadNumberofUnitsLeadFree\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:62:\"LeadNumberofUnitsLeadMitigatedByIndependentClearanceInspection\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:53:\"LeadNumberofUnitsLeadMitigatedByPresumptiveCompliance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:48:\"LeadNumberofUnitsLeadMitigatedByVisualInspection\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:25:\"LeadNumberofUnitsLeadSafe\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:33:\"LeadPredominateStatusOfLeadSafety\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:30:\"LeadPremisesConsideredLeadFree\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:49:\"LeadRentalPropertyDefinedinRhodeIslandGeneralLaws\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}}}}s:19:\"LiquorLiabTerritory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"503\";}s:17:\"RailroadTerritory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"999\";}s:59:\"GeneralLiabilityLimitationOfCoverageToInsuredPremisesLocLvl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:27:\"PremisesOperationsTerritory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"503\";}}}}s:41:\"GeneralLiabilityExclusionProductTampering\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:53:\"GeneralLiabilityExclMedPayCovInmatesPatientsPrisoners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:60:\"GeneralLiabilityDesignatedConstrctnProjGeneralAggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:66:\"GeneralLiabilityDesignatedConstrctnProjGeneralAggregateLimitDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:89:\"GeneralLiabilityAddlInsdOwnersLesseesContrctrsAutomtcStatusWhenReqInConstrctnAgrmtWithYou\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:37:\"SRPLocationExposureOutsidePremisesPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"4%\";}s:24:\"PollutionRetroactiveDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2019-01-01\";}s:51:\"GeneralLiabilityNewYorkChangesNonBindingArbitration\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:23:\"ExperienceRatingApplies\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:72:\"GeneralLiabilityIllinoisChangesAdditionalInsuredCityOfChicagoScaffolding\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:56:\"ERPExposuresOnSpecialUWBasisThirdLatestYearProdCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"1\";}s:63:\"GeneralLiabilityTotalPollutionExclusionForDesignatedProdsOrWork\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:69:\"GeneralLiabilityTotalPollutionExclusionForDesignatedProdsOrWorkDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:52:\"GeneralLiabilityExclConstructionMngmtErrorsOmissions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:57:\"GeneralLiabilityAmndmtOfSectVExtddRptgPeriodsSpecificAccs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:63:\"GeneralLiabilityAmndmtOfSectVExtddRptgPeriodsSpecificAccsDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:16:\"YearInClaimsMade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"2\";}s:23:\"ProdsWithdrawalCoverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:7:\"ZipCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"35005\";}s:36:\"LiquorPropertyDamageCommonCauseLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"10,000\";}s:91:\"GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementLiquorClaimsMade\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:22:\"ERPSecondLatestYearYIP\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"3\";}s:34:\"SRPRiskRelativeDegreeOfExposurePct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"0%\";}s:30:\"CommercialPesticideApplicators\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:52:\"GeneralLiabilityProfessionalLiabExclWebSiteDesigners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:44:\"GeneralLiabilityHazardousMaterialContractors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:56:\"GeneralLiabilityExclSpecificAccidentsProdsWorkOrLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:41:\"GeneralLiabilityAddlInsdDesigntdPersonOrg\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:47:\"GeneralLiabilityAddlInsdDesigntdPersonOrgDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:20:\"SRPClassificationPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"0%\";}s:13:\"PackagePolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:44:\"GeneralLiabilityChangesNonBindingArbitration\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:35:\"EachPersonLossOfMeansOfSupportLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"25,000\";}s:43:\"GeneralLiabilityInsuredsConsentToExcessRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"ExcessRatedPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:18:\"ManualRatedPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:51:\"ERPExposuresOnSpecialUWBasisLatestYearProdCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"1\";}s:69:\"GeneralLiabilitySupplementalExtendedReportingPeriodEndtProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:46:\"GeneralLiabilityLimitedFungiOrBacteriaCoverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:31:\"FungiBacteriaLiabAggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:108:\"GeneralLiabilityExclusionOfCertifiedActsOfNuclearBiologicalChemicalActsTerrorismCapOnLossesFromCertifiedActs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:33:\"GeneralLiabilityExclFinancialServ\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:46:\"GeneralLiabilityConstrctnProjMngmtProtvLiabCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:27:\"PremOpsProdsRetroactiveDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2019-01-01\";}s:63:\"LeadIsMultiplePremieseRiskConstructedBefore1978AndInOrAfter1978\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:25:\"SRPReductionInExpensesPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"0%\";}s:25:\"ERPPeriodEnds6MonthsPrior\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:44:\"GeneralLiabilityWaiverTransferRightsRecovery\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:59:\"GeneralLiabilityPollutionExclLimitedExceptionShortTermEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:64:\"GeneralLiabilityExtendedReportingPeriodEndtForEmpBenefitsLiabCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:79:\"GeneralLiabilityExclProductsProfessionalServicesOpticalHearingAidEstablishments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:51:\"GeneralLiabilityEmploymentRelatedPracticesExclusion\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:59:\"GeneralLiabilityAmndmtOfCovTerrWorldwideCovWithSpecdExcptns\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:12:\"TRIAExtended\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:28:\"ERPYearsOfExperienceIncurred\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"3\";}s:46:\"GeneralLiabilityStructuralPesticideApplicators\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"BIEachOccurrenceLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"500,000\";}s:21:\"PDEachOccurrenceLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"500,000\";}}}}s:26:\"ERPActualExpectedLossRatio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:62:\"GeneralLiabilitySilicaOrSilicaRelatedDustExclusionPremOpsProds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:55:\"GeneralLiabilityLimitedCovForDesignatedUnmannedAircraft\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:92:\"GeneralLiabilityExclYear2000ComputerReltdOtherElectronicProblemsWithExceptionForBIOnYourPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:50:\"GeneralLiabilityExclDesignatedProfessionalServices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:29:\"GeneralLiabilityCollegeSchool\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:80:\"GeneralLiabilityDamageToPremisesRentedToYouCoverage.LimitGovernmentalSubdivision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:20:\"RailroadCoverageForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"Occurrence\";}s:31:\"OwnersContractorsAggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"50,000\";}s:74:\"GeneralLiabilityStateChangesSupplementalExtendedReportingPeriodEndorsement\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:37:\"GeneralLiabilityNonBindingArbitration\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:41:\"GeneralLiabilityExclusionUnmannedAircraft\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:50:\"GeneralLiabilityExclMedPayToChildrenDayCareCenters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:37:\"GeneralLiabilityDruggistsBroadenedCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:61:\"GeneralLiabilityAddlInsdOwnersLesseesContrctrsScheddPersonOrg\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:67:\"GeneralLiabilityAddlInsdOwnersLesseesContrctrsScheddPersonOrgDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:14:\"SRPPremisesPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"0%\";}s:19:\"PremOpsBIDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:21:\"GeneralAggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"200,000
  CSL\";}s:65:\"GeneralLiabilityIllinoisChangesContractorsHomeRepairAndRemodeling\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Deductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:26:\"ERPLatestYearEffectiveDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2011-08-01\";}s:53:\"GeneralLiabilityTotalPollutionExclusionProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:70:\"GeneralLiabilityExclSpecificAccidentsProdsWorkOrLocationProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:43:\"GeneralLiabilityExclDamageToPremRentedToYou\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:54:\"GeneralLiabilityAmndmtTravelAgencyToursLimitationOfCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:10:\"multistate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:29:\"ProductWithdrawalCoverageType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"Expense\";}s:21:\"LiquorRetroactiveDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2019-01-01\";}s:106:\"GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementPremOpsProdsCompldOpsClaimsMade\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:31:\"ERPThirdLatestYearEffectiveDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2009-08-01\";}s:48:\"GeneralLiabilityAlaskaChangesAttorneysFeesPolLvl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}}}}s:22:\"CondominiumAssociation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:64:\"GeneralLiabilityProflLiabExclSpasOrPersonalEnhancementFacilities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:37:\"GeneralLiabilityInsuredSiteDefinition\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:41:\"GeneralLiabilityContractualLiabLimitation\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:54:\"GeneralLiabilityAddlInsdEngrsArchsSrvyrsNotEngagedInsd\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:60:\"GeneralLiabilityAddlInsdEngrsArchsSrvyrsNotEngagedInsdDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:34:\"SRPCooperationMedicalFacilitiesPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"0%\";}s:14:\"PerPersonLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"100,000\";}s:24:\"SRPEmployeesSelectionPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"3%\";}s:26:\"EachPollutionIncidentLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"100,000\";}s:99:\"GeneralLiabilityGeorgiaLimitedFungiOrBacteriaCoverageSmallBusinessesOwnersContractorsProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:42:\"ERPExposuresOnSpecialUWBasisPremOpsCurrent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"1\";}s:87:\"GeneralLiabilitySupplementalExtendedReportingPeriodEndtSpecificAccsProdsWorkOrLocations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:51:\"GeneralLiabilityExclusionOfCertifiedActsOfTerrorism\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:31:\"GeneralLiabilityExclFuneralServ\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:34:\"TRIPTerminatesBeforeExpirationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:25:\"PremiumDiscountPercentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:56:\"LeadWishToPurchaseCoverageForPremisesCertifiedAsLeadFree\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:45:\"GeneralLiabilityPollutantsDefinitionAmendment\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:32:\"ERPSecondLatestYearEffectiveDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2010-08-01\";}s:89:\"GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsExclDesigntdLocsOpsProdsSrvcs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:14:\"AggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"600,000\";}s:75:\"GeneralLiabilityPollutionExclNamedPerilLimitedExcptnShortTermPollutionEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:59:\"GeneralLiabilityExtendedReportingPeriodForTerrorismCoverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:50:\"GeneralLiabilityExclProfessionalServicesBloodBanks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:75:\"GeneralLiabilityEmploymentRelatedPracticesExclusionOwnersContrctrsPollution\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:35:\"GeneralLiabilityAmndmtOfLimitsOfIns\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:95:\"GeneralLiabilityStateChangesSupplementalExtendedReportingPeriodEndorsementForPollutionLiability\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:32:\"EachCommonCauseBodilyInjuryLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"100,000\";}s:104:\"GeneralLiabilityColoradoAmendmentOfSectionVExtendedReportingPerSpecificAccidentsProdsWorkOrLocClaimsMade\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:27:\"ERPDramaticChangeOnExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:58:\"GeneralLiabilitySilicaOrSilicaRelatedDustExclusionRailroad\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:63:\"GeneralLiabilityLimitedCovForDesignatedUnmannedAircraftCovAOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:113:\"GeneralLiabilityExclusionAccessOrDisclosureOfConfidentialOrPersonalInfoAndDataRelatedLiabLmtdBIExcptnNotInclddCGL\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:34:\"GeneralLiabilityExclDesignatedWork\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:40:\"GeneralLiabilityCollegeSchoolLimitedForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:36:\"GeneralLiabilityMedPayCoverage.Limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"5,000\";}s:27:\"RailroadEachOccurrenceLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"50,000\";}s:29:\"OwnersContractorsCoverageForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"Occurrence\";}s:49:\"GeneralLiabilityUndergroundResourcesAndEquipmtCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:47:\"GeneralLiabilityOpticalHearingAidEstablishments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:49:\"GeneralLiabilityExclusionUnmannedAircraftCovAOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:31:\"GeneralLiabilityExclNewEntities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:55:\"GeneralLiabilityEarlierNoticeOfCancellationProvidedByUs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:31:\"GeneralLiabilityAddlInsdVendors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:37:\"GeneralLiabilityAddlInsdVendorsDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:33:\"ScheduleRatingModificationApplies\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:21:\"PremOpsBIPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:44:\"GeneralAggregateLimitGovernmentalSubdivision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"200,000\";}s:56:\"GeneralLiabilityMassachusettsResidentialFuelTankCoverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:32:\"ERPLatestYearLatestValuationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2013-02-01\";}s:52:\"GeneralLiabilityExclTestingConsultingErrorsOmissions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:69:\"GeneralLiabilityExclDamageToWorkPerformedBySubcontractorsOnYourBehalf\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:34:\"GeneralLiabilityBindingArbitration\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:49:\"GeneralLiabilityCompositeRating.CompositeExposure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"1\";}s:27:\"ProductWithdrawalDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:26:\"LiquorWrittenWithSubLimits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:99:\"GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementProdsCompldOpsClaimsMade\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:37:\"ERPThirdLatestYearLatestValuationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2013-02-01\";}s:56:\"GeneralLiabilityChangesAttorneysFeesProductWithdrawalEDL\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}}}}s:62:\"DoesThisRiskOperateScaffoldBuildingsInChicagoThatRequirePermit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:84:\"GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGermin\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:35:\"GeneralLiabilityLawnCareServicesCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:40:\"GeneralLiabilityContractualLiabRailroads\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:40:\"GeneralLiabilityAddlInsdGrantorFranchise\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:46:\"GeneralLiabilityAddlInsdGrantorFranchiseDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:30:\"SRPCooperationSafetyProgramPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"0%\";}s:25:\"PerPersonLimitOtherThanPD\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"287,000\";}s:23:\"SRPEmployeesTrainingPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"3%\";}s:18:\"ElevatorContractor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:89:\"GeneralLiabilityGeorgiaLimitedFungiOrBacteriaCoverageSmallBusinessesPremOpsProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:48:\"ERPExposuresOnSpecialUWBasisProdCompldOpsCurrent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"1\";}s:96:\"GeneralLiabilitySupplementalExtendedReportingPeriodEndtSpecificAccsProdsWorkOrLocsProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:49:\"GeneralLiabilityLimitedPollutionLiabExtensionEndt\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:63:\"GeneralLiabilityExclusionOfNewlyAcquiredOrganizationsAsInsureds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:49:\"GeneralLiabilityExclInjuryToVolunteerFirefighters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:17:\"TerrorismCoverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:28:\"ProdsCompldOpsAggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"200,000
  CSL\";}s:18:\"LiquorCoverageForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"Occurrence\";}s:76:\"GeneralLiabilityNorthCarolinaExtendedReportingPeriodEndorsementPollutionLiab\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:38:\"ERPSecondLatestYearLatestValuationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2013-03-01\";}s:78:\"GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsExclProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:13:\"AnnualRevenue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:41:\"GeneralLiabilityPollutionLiabCovExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:78:\"GeneralLiabilityFinancialInstitutionsRptgProvisionLmtnToFiduciaryOrRepInterest\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:52:\"GeneralLiabilityExclProfessionalVeterinarianServices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:38:\"GeneralLiabilityExcessProvisionVendors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:38:\"GeneralLiabilityAmndmtOfLiquorLiabExcl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:36:\"OwnersContractorsEachOccurrenceLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"25,000\";}s:53:\"GeneralLiabilityStateChangesVolunteerWorkersExclusion\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:20:\"EachCommonCauseLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"500,000\";}s:77:\"GeneralLiabilityChangesExtendedReportingPeriodForEmployeeBenefitsLiabilityCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:26:\"ERPExpenseVariationApplies\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:37:\"GeneralLiabilityStevedoringOperations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:63:\"GeneralLiabilityLimitedCovForDesignatedUnmannedAircraftCovBOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:86:\"GeneralLiabilityExclusionAccessOrDisclosureOfConfidentialOrPersonalInformationCovBOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:13:\"ExposureBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}}}}s:41:\"GeneralLiabilityExclDiagnosticTestingLabs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:44:\"GeneralLiabilityCommunicableDiseaseExclusion\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:96:\"GeneralLiabilityTerrorismEndorsementCoverage.CertifiedActsofTerrorismExposureClassFactorOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:30:\"ERPLatestYearTotalIncludedLoss\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:50:\"GeneralLiabilityVoluntaryCleanUpCostsReimbursement\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:34:\"GeneralLiabilityPersonalInjuryLiab\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:49:\"GeneralLiabilityExclusionUnmannedAircraftCovBOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:38:\"GeneralLiabilityExclOilGasProducingOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:72:\"GeneralLiabilityEarlierNoticeOfCancellationProvidedByUsOwnersContractors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:52:\"GeneralLiabilityAmendmentOfInsuredContractDefinition\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"AL\";}s:19:\"PremOpsPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:23:\"GovernmentalSubdivision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:76:\"GeneralLiabilityMassachusettsResidentialFuelTankCoverageSeparateDefenseLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:56:\"GeneralLiabilityLimitationOfCovToDesignatedPremOrProject\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:51:\"GeneralLiabilityExclUndergroundStorageTankIncidents\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:58:\"GeneralLiabilityExclDescribedHazardsCarnivalsCircusesFairs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:21:\"GeneralLiabilityBoats\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:47:\"GeneralLiabilityCompositeRating.CompositeRating\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:40:\"ProductWithdrawalParticipationPercentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:27:\"LossSupportPerInjuredPerson\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:9:\"84,061.32\";}s:78:\"GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementUST\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:35:\"ERPThirdLatestYearTotalIncludedLoss\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"1000\";}s:78:\"GeneralLiabilitySupplementalExtendedReportingPeriodEndtElectronicDataLiability\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:28:\"DoesThisRiskOperateScaffolds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:93:\"GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminNotIncldd\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:45:\"GeneralLiabilityExclIntercompanyProductsSuits\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:41:\"GeneralLiabilityCovForInjuryLeasedWorkers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:43:\"GeneralLiabilityAddlInsdLessorLeasedEquipmt\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:49:\"GeneralLiabilityAddlInsdLessorLeasedEquipmtDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:15:\"SRPEmployeesPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"3%\";}s:16:\"PerPersonLimitPD\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:9:\"68,777.44\";}s:18:\"SRPPremisesCarePct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"0%\";}s:37:\"ElevatorContractorLimitTypeSplitLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:49:\"GeneralLiabilityAmendmentOfDefinitionOfPollutants\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:51:\"ERPExposuresOnSpecialUWBasisSecondLatestYearPremOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"1\";}s:38:\"GeneralLiabilityTotalPollutionExclEndt\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:57:\"GeneralLiabilityLimitedProductWithdrawalExpenseEndtPolLvl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:9:\"1,000,000\";}s:10:\"Deductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:75:\"GeneralLiabilityExclusionOfPunitiveDamagesRelatedToACertifiedActOfTerrorism\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:56:\"GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:62:\"GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivsDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:17:\"USTAggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:26:\"ProdsCompldOpsBIDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:16:\"LiquorDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"500
  Per Claim\";}s:83:\"GeneralLiabilityNorthCarolinaExtendedReportingPeriodEndorsementPollutionLiabLimited\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:36:\"ERPSecondLatestYearTotalIncludedLoss\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"91250\";}s:76:\"GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLimitedCovOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:82:\"GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLimitedCovOptionDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:35:\"ByLawsCreatedOrAmendedOnOrAfterDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:64:\"GeneralLiabilityPrimaryAndNoncontributoryOtherInsuranceCondition\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:40:\"GeneralLiabilityFungiOrBacteriaExclusion\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:62:\"GeneralLiabilityExclRiotCivilCommotionMobActionGovtSubdivision\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:39:\"GeneralLiabilityExclAdultDayCareCenters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:91:\"GeneralLiabilityNewJerseyChangesCoverageAndExclusionLiabilityForHazardsLeadMultiplePremises\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:40:\"EachCommonCauseLossOfMeansOfSupportLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"100,000\";}s:56:\"GeneralLiabilityChangesExtendedReportingPeriodForPremOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:41:\"ERPExperienceModificationAllOtherSublines\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:68:\"GeneralLiabilitySupplementalExtendedReportingPeriodEndorsementCG3057\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:54:\"GeneralLiabilityLimitedExclContractorsProfessionalLiab\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:76:\"GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsOwnersContractors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:58:\"GeneralLiabilityExclEmployeesAndVolunteerWorkersAsInsureds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:58:\"GeneralLiabilityCommunicableDiseaseExclusionProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:36:\"GeneralLiabilityAbuseMolestationExcl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:22:\"RetroactiveDateApplies\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:62:\"GeneralLiabilityInspectionAgenciesBoilerAndPressureVesselUnits\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"BIEachOccurrenceLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"500,000\";}s:21:\"PDEachOccurrenceLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"100,000\";}}}}s:25:\"ERPLatestYearTypeOfPolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"Claims
  Made\";}s:40:\"GeneralLiabilityWaiverCharitableImmunity\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:49:\"GeneralLiabilityPesticideOrHerbicideApplicatorCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:61:\"GeneralLiabilityExclusionUnmannedAircraftOwnersAndContractors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:45:\"GeneralLiabilityExclPersonalAdvertisingInjury\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:38:\"GeneralLiabilityElectronicDataLiabEndt\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:13:\"ExposureBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}}}}s:65:\"GeneralLiabilityAmendmentOfPersonalAndAdvertisingInjuryDefinition\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:7:\"StopGap\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:24:\"PremOpsProdsCoverageForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"Claims
  Made\";}s:13:\"IncidentLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"25,000\";}s:107:\"GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminNotInclddProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:76:\"GeneralLiabilityLimitationOfCoverageForTerrorismSubLimitAnnualAggregateBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"200,000\";}s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:36:\"GeneralLiabilityExclVolunteerWorkers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:40:\"GeneralLiabilityExclDesignatedOngoingOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:55:\"GeneralLiabilityCapOnLossesFromCertifiedActsOfTerrorism\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:60:\"GeneralLiabilityCompositeRating.CompositeRatingExposureBasis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"Gross
  Sales\";}s:32:\"ProductsWithdrawalAggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:9:\"1,000,000\";}s:25:\"ManufacturedHomeInstaller\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:66:\"GeneralLiabilityStopGapEmployersLiabilityCoverageEndorsementPolLvl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"LimitBodilyInjuryByAccident\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:35:\"LimitBodilyInjuryByDiseaseAggregate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:38:\"LimitBodilyInjuryByDiseaseEachEmployee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:30:\"ERPThirdLatestYearTypeOfPolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"Claims
  Made\";}s:72:\"GeneralLiabilityChangesExtendedReportingPeriodForElectronicDataLiability\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:42:\"DoesThisRiskPerformHomeRepairAndRemodeling\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:79:\"GeneralLiabilityExclInternetServicePrvdrsAndInternetAccessPrvdrsErrorsOmissions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:64:\"GeneralLiabilityCovForInjuryLeasedWorkersUndergroundStorageTanks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:85:\"GeneralLiabilityAddlInsdLessorOfLeasedEquipmtAutomtcStatusWhenReqdInLeaseAgrmtWithYou\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:15:\"SRPEquipmentPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"0%\";}s:23:\"PollutionAggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"200,000\";}s:23:\"SRPPremisesConditionPct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"0%\";}s:29:\"ExistenceHazardAggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:60:\"GeneralLiabilityAmendmentOfDefinitionOfPollutantsRailRoadCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:57:\"ERPExposuresOnSpecialUWBasisSecondLatestYearProdCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"1\";}s:78:\"GeneralLiabilityTotalPollutionExclWithABldgHeatgEquipmtExcptnHostileFireExcptn\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:108:\"GeneralLiabilityLimitedTerrorismExclOtherThanCertifiedActsOfTerrorismCapOnLossesFromCertifiedActsOfTerrorism\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:70:\"GeneralLiabilityExclusionOfTerrorismNuclearBiologicalChemicalTerrorism\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:76:\"GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivsProductsCompletedOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:37:\"UndergroundStorageTankRetroactiveDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:10:\"2019-01-01\";}s:28:\"ProdsCompldOpsBIPDDeductible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"No
  Deductible\";}s:44:\"LiquorEachCommonCauseOtherPecuniaryLossLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"100,000\";}s:113:\"GeneralLiabilityNorthCarolinaSupplementalExtddRptgPerEndtSpecificAccsProdsWorkLocsPremOpsProdsCompldOpsClaimsMade\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:31:\"ERPSecondLatestYearTypeOfPolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"Claims
  Made\";}s:88:\"GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLmtdCovOptionsProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:94:\"GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLmtdCovOptionsProdsCompldOpsDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:17:\"CPPGoverningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:43:\"GeneralLiabilityPrincipalsProtectiveLiabCov\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:23:\"WorkersCompensationRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\".0001\";}}}}s:74:\"GeneralLiabilityFungiOrBacteriaExclusionOwnersContractorsProductsCompleted\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:52:\"GeneralLiabilityExclRollingStockRailroadConstruction\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:46:\"GeneralLiabilityExclAthleticSportsParticipants\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:8:\"RiskType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"Motel/Hotel\";}s:21:\"PackageModEligibility\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:87:\"GeneralLiabilityNewJerseyChangesCoverageForLiabilityForHazardsLeadWithoutSublimitPolLvl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:31:\"EachElectronicDataIncidentLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:66:\"GeneralLiabilityChangesExtendedReportingPeriodForProdCompldOpsLiab\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:33:\"ERPExperienceModificationOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:55:\"GeneralLiabilitySupplementalExtendedReportingPeriodEndt\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:73:\"GeneralLiabilityLimitedExclDesignatedOpsCovByConsolidatedWrapUpInsProgram\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:71:\"GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsPremOpsProds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:67:\"GeneralLiabilityExclExistenceOrMaintenanceOfStreetsRdsHwysOrBridges\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:92:\"GeneralLiabilityConditionalExclusionOfTerrorismNuclearBiologicalChemicalDispositionOfAct2002\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:72:\"GeneralLiabilityAbuseOrMolestationExclusionSpecifiedProfessionalServices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:55:\"InspectionAgenciesPerformBoilerPressureVesselInspection\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:93:\"GeneralLiabilityElevatorsContractorsAndInspectorsChangesCancellationAndSplitLimitsOfInsurance\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"BodilyInjuryLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:19:\"PropertyDamageLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}}}}s:28:\"ERPLatestYearWithSameCarrier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:42:\"GeneralLiabilityWaiverGovernmentalImmunity\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:66:\"GeneralLiabilityPesticideOrHerbicideApplicatorCovOwnersContractors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:84:\"GeneralLiabilityExtendedReportingPeriodEndorsementForElectronicDataLiabilityCoverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:53:\"GeneralLiabilityExclProductsCompletedOperationsHazard\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:51:\"GeneralLiabilityElectronicDataLiabilityCoverageForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:49:\"GeneralLiabilityAmndmtOfCovTerrAddlSchddCountries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:55:\"GeneralLiabilityAmndmtOfCovTerrAddlSchddCountriesDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:7:\"Subline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:53:\"Premises/Operations
  and Products/Completed Operations\";}s:31:\"PremOpsProdsEachOccurrenceLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"100,000
  CSL\";}s:17:\"EDLAggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:98:\"GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminProdsCompldOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:63:\"GeneralLiabilityLimitedContractualLiabCovPersonalAdvertisingInj\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:59:\"GeneralLiabilityExclYear2000ComputerReltdElectronicProblems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:72:\"GeneralLiabilityExclDesignatedOpsCovByConsolidatedWrapUpInsProgramPolLvl\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:100:\"GeneralLiabilityCertifiedActsOfTerrorismAggregateLimitCapOnLossesFromCertifiedActsOfTerrorismPremOps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AggregateLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"100,000\";}s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:68:\"GeneralLiabilityCompositeRating.CompositeRatingExposureBasisOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}s:40:\"RadonMeasurementAndMitigationContractors\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"No\";}s:17:\"NumberOfEmployees\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:61:\"GeneralLiabilityStateAmndmtOfLiquorLiabExclExcptnScheddActivs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:67:\"GeneralLiabilityStateAmndmtOfLiquorLiabExclExcptnScheddActivsDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}}}}s:33:\"ERPThirdLatestYearWithSameCarrier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Yes\";}s:49:\"GeneralLiabilityChangesExtendedReportingPeriodUST\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:61:\"GeneralLiabilityExclusionProductReplacementRepairOrRepurchase\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:44:\"GeneralLiabilityExclLawEnforcementActivities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:67:\"GeneralLiabilityCoverageExtensionCoverageAProductRestorationExpense\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:1:\"0\";}}}}s:97:\"GeneralLiabilityAddlInsdOwnersLesseesContrctrsAutomtcStatusForOtherPartiesWhenReqInConstrctnAgrmt\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ManualPremium\";O:8:\"stdClass\":2:
[...]
