---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:26:\"hetras Hotel API Version
  0\";s:7:\"version\";s:2:\"v0\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_hetras_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:57:\"https://developer.hetras.com/swagger/spec/HotelAPIv0.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:24:\"hetras-certification.net\";s:13:\"x-serviceName\";s:5:\"hotel\";}"
host: api.hetras-certification.net
basePath: /
paths: ~
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":46:{s:17:\"AccessControlInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"channel_codes\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"List
  of codes of distribution channels\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"channel_group\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Code
  of the distribution channel group\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CodeBaseEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"The
  code value. This value you will see in reservations as market code and in other\r\n
  \           resources like the revenue buckets in transactions\";s:4:\"type\";s:6:\"string\";}s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"This
  attribute tells you if this code is the default code for the specific type or not.\r\n
  \           Not all the types of codes need to have a default code\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  id of the code\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name of the code that usually is more human readable\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  type or category of the code\";s:4:\"enum\";a:27:{i:0;s:12:\"GuestRequest\";i:1;s:14:\"RequestDietary\";i:2;s:9:\"VIPStatus\";i:3;s:19:\"ReasonForRateChange\";i:4;s:7:\"Regrets\";i:5;s:14:\"MarketSegments\";i:6;s:16:\"SourceOfBusiness\";i:7;s:14:\"LoyaltyProgram\";i:8;s:18:\"CancellationReason\";i:9;s:11:\"AccountType\";i:10;s:11:\"AccountRank\";i:11;s:8:\"VIPLevel\";i:12;s:5:\"Title\";i:13;s:15:\"ContactFunction\";i:14;s:9:\"Territory\";i:15;s:18:\"CorrespondenceType\";i:16;s:19:\"ExternalProgramType\";i:17;s:13:\"RevenueBucket\";i:18;s:23:\"AdditionalRevenueBucket\";i:19;s:27:\"AdditionalStatisticsBuckets\";i:20;s:10:\"MealPeriod\";i:21;s:12:\"BillingCycle\";i:22;s:13:\"ReminderCycle\";i:23;s:19:\"MajorMarketSegments\";i:24;s:12:\"DocumentType\";i:25;s:12:\"ActivityType\";i:26;s:17:\"ReservationLabels\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CodeFullEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"The
  code value. This value you will see in reservations as market code and in other\r\n
  \           resources like the revenue buckets in transactions\";s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  comment for this code\";s:4:\"type\";s:6:\"string\";}s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"This
  attribute tells you if this code is the default code for the specific type or not.\r\n
  \           Not all the types of codes need to have a default code\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  id of the code\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name of the code that usually is more human readable\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CodeBaseEntry\";s:11:\"description\";s:89:\"Some
  codes can have a hierarchy and a child code always points to\r\n            the
  parent\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The type
  or category of the code\";s:4:\"enum\";a:27:{i:0;s:12:\"GuestRequest\";i:1;s:14:\"RequestDietary\";i:2;s:9:\"VIPStatus\";i:3;s:19:\"ReasonForRateChange\";i:4;s:7:\"Regrets\";i:5;s:14:\"MarketSegments\";i:6;s:16:\"SourceOfBusiness\";i:7;s:14:\"LoyaltyProgram\";i:8;s:18:\"CancellationReason\";i:9;s:11:\"AccountType\";i:10;s:11:\"AccountRank\";i:11;s:8:\"VIPLevel\";i:12;s:5:\"Title\";i:13;s:15:\"ContactFunction\";i:14;s:9:\"Territory\";i:15;s:18:\"CorrespondenceType\";i:16;s:19:\"ExternalProgramType\";i:17;s:13:\"RevenueBucket\";i:18;s:23:\"AdditionalRevenueBucket\";i:19;s:27:\"AdditionalStatisticsBuckets\";i:20;s:10:\"MealPeriod\";i:21;s:12:\"BillingCycle\";i:22;s:13:\"ReminderCycle\";i:23;s:19:\"MajorMarketSegments\";i:24;s:12:\"DocumentType\";i:25;s:12:\"ActivityType\";i:26;s:17:\"ReservationLabels\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CodesListRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:201:\"Return
  all results matching the specified code. A code is unique in combination with the
  type\r\n            which means when you query for a code you could get multiple
  results each for a different type\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Return
  all codes for the specified type\";s:4:\"enum\";a:27:{i:0;s:12:\"GuestRequest\";i:1;s:14:\"RequestDietary\";i:2;s:9:\"VIPStatus\";i:3;s:19:\"ReasonForRateChange\";i:4;s:7:\"Regrets\";i:5;s:14:\"MarketSegments\";i:6;s:16:\"SourceOfBusiness\";i:7;s:14:\"LoyaltyProgram\";i:8;s:18:\"CancellationReason\";i:9;s:11:\"AccountType\";i:10;s:11:\"AccountRank\";i:11;s:8:\"VIPLevel\";i:12;s:5:\"Title\";i:13;s:15:\"ContactFunction\";i:14;s:9:\"Territory\";i:15;s:18:\"CorrespondenceType\";i:16;s:19:\"ExternalProgramType\";i:17;s:13:\"RevenueBucket\";i:18;s:23:\"AdditionalRevenueBucket\";i:19;s:27:\"AdditionalStatisticsBuckets\";i:20;s:10:\"MealPeriod\";i:21;s:12:\"BillingCycle\";i:22;s:13:\"ReminderCycle\";i:23;s:19:\"MajorMarketSegments\";i:24;s:12:\"DocumentType\";i:25;s:12:\"ActivityType\";i:26;s:17:\"ReservationLabels\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CodesListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"codes\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  list of codes matching the defined filter criteria\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CodeBaseEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DatePeriod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Start
  Date for this time period\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"End
  Date for this time period\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Derivation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"adjustment\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Mode
  for the calculation of the daily rates adjustment\";s:4:\"enum\";a:2:{i:0;s:6:\"Amount\";i:1;s:10:\"Percentage\";}s:4:\"type\";s:6:\"string\";}s:13:\"base_rateplan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RelatedRateplan\";s:11:\"description\";s:31:\"Details
  about the base rateplan\";}}s:4:\"type\";s:6:\"object\";}s:19:\"EmbeddedReservation\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Basic
  data about a reservation\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:12:\"arrival_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  arrival date of the guests\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"confirmation_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"he
  confirmation id for the booking which the guest can use to check in on the kiosk,
  add the \r\n            booking to the mobile app etc. It is used as identifier
  for all reservations done with the \r\n            same booking request\";s:4:\"type\";s:6:\"string\";}s:14:\"departure_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  departure date of the guests\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"reservation_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  reservation number of the reservation\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"reservation_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  current status of this reservation\";s:4:\"enum\";a:15:{i:0;s:9:\"Tentative\";i:1;s:10:\"Waitlisted\";i:2;s:9:\"OnRequest\";i:3;s:13:\"NonGuaranteed\";i:4;s:10:\"Guaranteed\";i:5;s:7:\"InHouse\";i:6;s:10:\"CheckedOut\";i:7;s:6:\"NoShow\";i:8;s:6:\"Denied\";i:9;s:9:\"Cancelled\";i:10;s:8:\"Released\";i:11;s:6:\"Walked\";i:12;s:7:\"Expired\";i:13;s:6:\"WalkIn\";i:14;s:10:\"Registered\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:15:\"confirmation_id\";i:1;s:18:\"reservation_number\";i:2;s:18:\"reservation_status\";i:3;s:12:\"arrival_date\";i:4;s:14:\"departure_date\";}s:4:\"type\";s:6:\"object\";}s:16:\"EmbeddedRoomType\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Basic
  data for a room type. To get the full details please follow the self link\r\n            from
  the links collection\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Code
  of the room type\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Description
  of the room type\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the room type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EmbeddedRoomTypeSimple\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Contains
  only a basic information about a room type. No cross-links available as well.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Code
  of the room type\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Description
  of the room type\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the room type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EmbeddedRoomWithStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Timestamp
  the room was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Description
  of the room\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the room\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Number
  of the room\";s:4:\"type\";s:6:\"string\";}s:9:\"room_type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedRoomType\";s:11:\"description\";s:74:\"Room
  type of the room. Contains only the basic properties of the room type\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RoomStatus\";s:11:\"description\";s:39:\"Contains
  information about room status.\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Timestamp
  of when the room was changed the last time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ExtendedRateplanEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":25:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:14:\"access_control\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"List
  of distribution channel groups and channels the rateplan is sold through\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccessControlInfo\";}s:4:\"type\";s:5:\"array\";}s:6:\"active\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Defines
  if the rateplan has been ended and is expired\";s:4:\"type\";s:7:\"boolean\";}s:14:\"active_periods\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"List
  of active periods. Arrival and departure day for reservations based on this rateplan
  need to\r\n            fit into one of these time periods\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DatePeriod\";}s:4:\"type\";s:5:\"array\";}s:15:\"booking_periods\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"List
  of booking periods. During these time periods the rateplan is sold\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DatePeriod\";}s:4:\"type\";s:5:\"array\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Code
  of the rateplan\";s:4:\"type\";s:6:\"string\";}s:14:\"commissionable\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Defines
  if this rateplan is setup with a commission\";s:4:\"type\";s:7:\"boolean\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Timestamp
  the rateplan was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"day_use\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Defines
  if this rateplan is used for day use reservations\";s:4:\"type\";s:7:\"boolean\";}s:10:\"derivation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Derivation\";s:11:\"description\";s:162:\"If
  this rateplan is derived from a base rateplan you will see some details about\r\n
  \           the base rateplan and the mode for the adjustment of the daily rates\";}s:17:\"derived_rateplans\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Details
  about all the derived rateplans if any\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RelatedRateplan\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Description
  of the rateplan\";s:4:\"type\";s:6:\"string\";}s:10:\"folio_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Text
  defining how the room charges for this rateplan are shown on the folio and\r\n            invoice
  for the guest\";s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RateplanGroup\";s:11:\"description\";s:32:\"Details
  about the rateplan group\";}s:17:\"included_services\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"List
  of codes for the included services sold with this rateplan\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"is_yieldable\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Gives
  the information if this rateplan is Yieldable rateplan\";s:4:\"type\";s:7:\"boolean\";}s:11:\"market_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  code of the market segment the rate plan is linked to\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the rateplan\";s:4:\"type\";s:6:\"string\";}s:13:\"noshow_policy\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  code of the noshow policy for this rateplan\";s:4:\"type\";s:6:\"string\";}s:12:\"restrictions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Restrictions\";s:11:\"description\";s:58:\"Generic
  rateplan restrictions valid on all booking periods\";}s:10:\"room_types\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"List
  of all room types sold through this rateplan\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedRoomType\";}s:4:\"type\";s:5:\"array\";}s:9:\"suspended\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"Defines
  if a rateplan is suspended and no new reservations can be created for this\r\n            rateplan
  at the moment\";s:4:\"type\";s:7:\"boolean\";}s:14:\"taxes_included\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Defines
  if the daily rates include VAT or not\";s:4:\"type\";s:7:\"boolean\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Timestamp
  of when the rateplan was changed the last time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Defines
  if this rateplan is visible to the public or only for specific customers\";s:4:\"enum\";a:2:{i:0;s:6:\"Public\";i:1;s:10:\"Negotiated\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetAvailableRoomsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"adults\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Specifies
  number of adults the returned rooms will have to be able to house. The default value
  is 1.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:9:\"amenities\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Return
  result only for rooms having all of the given amenities. You can provide a comma
  seperated list of \r\n            amenity codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:229:\"Rooms
  returned will not be assigned to a reservation or be under maintenance between this
  date\r\n            and the specified to date. Still there could be departing reservations
  or ending maintenances\r\n            for this date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"includeOutOfService\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Should
  rooms that are set OutOfService in the defined time period be returned as available.
  By default\r\n            they are not.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"Return
  result only for rooms having at least one of the specified locations. You can provide
  a comma seperated list of \r\n            location codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"roomTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Return
  result only for rooms for the given room types. Allows to pass a comma-separated
  list of room types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:233:\"Rooms
  returned will not be assigned to a reservation or be under maintenance between the
  specified\r\n            from date and this date. Still there could be arriving
  reservations or beginning maintenances\r\n            for this date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"Return
  result only for rooms having at least one of the specified views. You can provide
  a comma seperated list of \r\n            view codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:4:\"from\";i:1;s:2:\"to\";}s:4:\"type\";s:6:\"object\";}s:15:\"GetRatesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Expand\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"You
  can expand the supplements per room type on demand. By default they are not shown.\";s:4:\"enum\";a:1:{i:0;s:19:\"RoomTypeSupplements\";}s:4:\"type\";s:6:\"string\";}s:4:\"From\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"Defines
  the last business day you would like to get rates for. The maximum time span between
  <i>from</i>\xB4and <i>to</i>\r\n            is limited to 365 days.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"To\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Defines
  the first business day you would like to get rates for.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"From\";i:1;s:2:\"To\";}s:4:\"type\";s:6:\"object\";}s:18:\"GetRoomListRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"amenities\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Return
  result only for rooms having all of the given amenities. You can provide a comma
  seperated list of \r\n            amenity codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"conditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Return
  results only for rooms that have the given room condition status.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:17:\"CleanNotInspected\";i:1;s:5:\"Clean\";i:2;s:5:\"Dirty\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"Return
  result only for rooms having at least one of the specified locations. You can provide
  a comma seperated list of \r\n            location codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"maintenances\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Return
  results only for rooms that have the given maintenance status.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"NotSet\";i:1;s:4:\"None\";i:2;s:14:\"OutOfInventory\";i:3;s:10:\"OutOfOrder\";i:4;s:12:\"OutOfService\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"occupancy\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Return
  results only for rooms that have the given frontdesk ocuppancy status.\";s:4:\"enum\";a:2:{i:0;s:8:\"Occupied\";i:1;s:6:\"Vacant\";}s:4:\"type\";s:6:\"string\";}s:9:\"roomTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Return
  result only for rooms for the given room types. Allows to pass a comma-separated
  list of room types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"Return
  result only for rooms having at least one of the specified views. You can provide
  a comma seperated list of \r\n            view codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Hotel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  city the hotel is located in\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  code of the hotel\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:340:\"The
  country the hotel is located. The country code is in ISO 3166-1 alpha-2 format\r\n
  \           (see: <a href=\"http://www.iso.org/iso/country_codes/iso_3166_code_lists/country_names_and_code_elements.htm\"
  onfocus=\"this.blur()\" target=\"_blank\">http://www.iso.org/iso/country_codes/iso_3166_code_lists/country_names_and_code_elements.htm</a>)\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Timestamp
  the hotel was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:20:\"current_business_day\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Return
  the current business day of the hotel in the ISO-8601 format \"YYYY-MM-DD\"\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"desc\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  descriptive text for the the hotel\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  email address of the hotel\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  fax number of the hotel\";s:4:\"type\";s:6:\"string\";}s:8:\"hotel_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  id of the hotel\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"The
  latitude for the geolocation of the hotel. This allows you to show the hotel on
  a map\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  longitude for the geolocation of the hotel. This allows you to show the hotel on
  a map\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the hotel\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  main phone number to call the hotel\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  postal code of the hotel\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  state the hotel is located in\";s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  street address of the hotel\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Timestamp
  of when the hotel was changed the last time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  homepage URL of the hotel\";s:4:\"type\";s:6:\"string\";}s:10:\"utc_offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:278:\"The
  current time offset of the hotel to UTC. This is taking into account daylight saving
  times and shows the offset for the time the request is handled. The response\r\n
  \           will be in the format of \"UTC\xB1hh:mm\". If there is no offset to
  UTC it will be shown as \"UTC+00:00\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"JsonPatchDocument[RatePatchRequest]\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/Operation[RatePatchRequest]\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:35:\"JsonPatchDocument[RoomPatchRequest]\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/Operation[RoomPatchRequest]\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:10:\"LinkObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  Link Object represents a hyperlink from the containing resource to a URI.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"deprecation\";O:8:\"stdClass\":2:{s:11:\"description\";s:636:\"<para>The
  \"deprecation\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its presence
  indicates that the link is to be deprecated (i.e.\r\n            removed) at a future
  date.  Its value is a URL that SHOULD provide\r\n            further information
  about the deprecation.\r\n            A client SHOULD provide some notification
  (for example, by logging a\r\n            warning message) whenever it traverses
  over a link that has this\r\n            property.  The notification SHOULD include
  the deprecation property's\r\n            value so that a client maintainer can
  easily find information about\r\n            the deprecation.</para>\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:276:\"<para>The
  \"href\" property is REQUIRED.</para>\r\n<para>\_</para>\r\n<para>Its value is either
  a URI [RFC3986] or a URI Template [RFC6570].\r\n            If the value is a URI
  Template then the Link Object SHOULD have a\r\n            \"templated\" attribute
  whose value is true.</para>\";s:4:\"type\";s:6:\"string\";}s:8:\"hreflang\";O:8:\"stdClass\":2:{s:11:\"description\";s:209:\"<para>The
  \"hreflang\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value
  is a string and is intended for indicating the language of\r\n            the target
  resource (as defined by [RFC5988]).</para>\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"<para>The
  \"name\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value MAY
  be used as a secondary key for selecting Link Objects\r\n            which share
  the same relation type.</para>\";s:4:\"type\";s:6:\"string\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"<para>The
  \"profile\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is
  a string which is a URI that hints about the profile.</para>\";s:4:\"type\";s:6:\"string\";}s:9:\"templated\";O:8:\"stdClass\":2:{s:11:\"description\";s:304:\"<para>The
  \"templated\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value
  is boolean and SHOULD be true when the Link Object's \"href\"\r\n            property
  is a URI Template.\r\n            Its value SHOULD be considered false if it is
  undefined or any other\r\n            value than true.</para>\";s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:211:\"<para>The
  \"title\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is
  a string and is intended for labelling the link with a\r\n            human-readable
  identifier (as defined by [RFC5988]).</para>\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:202:\"<para>The
  \"type\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is a
  string used as a hint to indicate the media type\r\n            expected when dereferencing
  the target resource.</para>\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"href\";}s:4:\"type\";s:6:\"object\";}s:17:\"ListRateplanEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:14:\"access_control\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"List
  of distribution channel groups and channels the rateplan is sold through\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccessControlInfo\";}s:4:\"type\";s:5:\"array\";}s:6:\"active\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Defines
  if the rateplan has been ended and is expired\";s:4:\"type\";s:7:\"boolean\";}s:14:\"active_periods\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"List
  of active periods. Arrival and departure day for reservations based on this rateplan
  need to\r\n            fit into one of these time periods\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DatePeriod\";}s:4:\"type\";s:5:\"array\";}s:13:\"base_rateplan\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Code
  of the base rateplan if this rateplan is derived\";s:4:\"type\";s:6:\"string\";}s:15:\"booking_periods\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"List
  of booking periods. During these time periods the rateplan is sold\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DatePeriod\";}s:4:\"type\";s:5:\"array\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Code
  of the rateplan\";s:4:\"type\";s:6:\"string\";}s:14:\"commissionable\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Defines
  if this rateplan is setup with a commission\";s:4:\"type\";s:7:\"boolean\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Timestamp
  the rateplan was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"day_use\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Defines
  if this rateplan is used for day use reservations\";s:4:\"type\";s:7:\"boolean\";}s:17:\"derived_rateplans\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of codes for all derived rateplans if any\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Description
  of the rateplan\";s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Code
  of the rateplan group\";s:4:\"type\";s:6:\"string\";}s:17:\"included_services\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"List
  of codes for the included services sold with this rateplan\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"is_yieldable\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Gives
  the information if this rateplan is Yieldable rateplan\";s:4:\"type\";s:7:\"boolean\";}s:11:\"market_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  code of the market segment the rate plan is linked to\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the rateplan\";s:4:\"type\";s:6:\"string\";}s:10:\"room_types\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"List
  of all room types sold through this rateplan\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EmbeddedRoomTypeSimple\";}s:4:\"type\";s:5:\"array\";}s:9:\"suspended\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"Defines
  if a rateplan is suspended and no new reservations can be created for this\r\n            rateplan
  at the moment\";s:4:\"type\";s:7:\"boolean\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Timestamp
  of when the rateplan was changed the last time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Defines
  if this rateplan is visible to the public or only for specific customers\";s:4:\"enum\";a:2:{i:0;s:6:\"Public\";i:1;s:10:\"Negotiated\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"Operation[RatePatchRequest]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"op\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Object\";}}s:4:\"type\";s:6:\"object\";}s:27:\"Operation[RoomPatchRequest]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"op\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Object\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PagedDataRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"inlinecount\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Return
  total number of items for a given filter criteria.\";s:4:\"enum\";a:2:{i:0;s:4:\"None\";i:1;s:8:\"AllPages\";}s:4:\"type\";s:6:\"string\";}s:4:\"skip\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Amount
  of items to skip.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"top\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Amount
  of items to select.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  description of the policy\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the policy\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PriceDerivation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"adjustment\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Mode
  for the calculation of the daily rates adjustment\";s:4:\"enum\";a:2:{i:0;s:6:\"Amount\";i:1;s:10:\"Percentage\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  value the rate of the base rateplan is adjusted by based on the calculation mode\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"RateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:10:\"base_price\";O:8:\"stdClass\":3:{s:11:\"description\";s:374:\"The
  price for this business day for the default room type and occupancy of one adult.
  The price is\r\n            only available for base rateplans. Please be aware that
  it might be the case that the default room\r\n            type is not sold by the
  rateplan. Nevertheless the supplements will always be added to the price for \r\n
  \           the default room type and one adult\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"business_day\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  business day\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"cancellation_policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:23:\"The
  cancellation policy\";}s:10:\"derivation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PriceDerivation\";s:11:\"description\";s:61:\"Information
  on how the rate is derived from its base rateplan\";}s:22:\"minimum_guarantee_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  minimum guarantee\";s:4:\"enum\";a:12:{i:0;s:7:\"PM4Hold\";i:1;s:7:\"PM6Hold\";i:2;s:21:\"GuaranteeToCreditCard\";i:3;s:23:\"GuaranteeToGuestAccount\";i:4;s:22:\"GuaranteeByTravelAgent\";i:5;s:18:\"GuaranteeByCompany\";i:6;s:7:\"Deposit\";i:7;s:7:\"Voucher\";i:8;s:10:\"Prepayment\";i:9;s:13:\"NonGuaranteed\";i:10;s:9:\"Tentative\";i:11;s:8:\"Waitlist\";}s:4:\"type\";s:6:\"string\";}s:20:\"per_person_surcharge\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  surcharge per additional adult staying in the room. It is only available on base
  rateplans\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:21:\"room_type_supplements\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"List
  of supplements added to the price per room type\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RoomTypeSupplement\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"RateplanGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Code
  of the rateplan group\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Name
  of the rateplan group\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"RateplansListRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"baseRateplan\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Return
  all rateplans having the specified rateplan as base rateplan\";s:4:\"type\";s:6:\"string\";}s:11:\"channelCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Return
  all rateplans sold through the specified channel\";s:4:\"type\";s:6:\"string\";}s:12:\"channelGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Return
  all rateplans that are sold through at least one channel out of the specified channel
  group\";s:4:\"type\";s:6:\"string\";}s:14:\"commissionable\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Return
  all rateplans having commisionable status\";s:4:\"type\";s:7:\"boolean\";}s:5:\"group\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Return
  all rateplans belonging to the specified rateplan group\";s:4:\"type\";s:6:\"string\";}s:16:\"includedServices\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Return
  all rateplans having at least one of the specified services included\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"marketCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Return
  all rateplans having one of the specified values as a market code\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"roomTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Return
  all rateplans by which at least one of the specified room types are sold\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"sellingStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Specify
  which rateplans to return. If you do not specify a value you will by default get
  active\r\n            rateplans.\";s:4:\"enum\";a:3:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";i:2;s:3:\"All\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"RateplansListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  number of items matching your request in total for all pages.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:9:\"rateplans\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of rateplans\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ListRateplanEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"RatesBatchUpdateRequestItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"A
  rateplan update entry, for a given range and a given price.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"base_price\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  price of the rateplan for the default room type and single occupancy.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"Defines
  the first business day you would like to update rates. The maximum time span between
  <i>from</i>\xB4and <i>to</i>\r\n            is limited to 365 days.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"rateplan\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  rateplan code to be updated. NOTE: this must be a base rateplan and not a derived
  one.\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"Defines
  the last business day you would like to update rates. This can be same as {Hetras.PublicApi.Models.Hotels.Rateplans.Rates.RatesBatchUpdateRequestItem.To}
  if the update is for a single date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:10:\"base_price\";i:1;s:8:\"rateplan\";i:2;s:4:\"from\";i:3;s:2:\"to\";}s:4:\"type\";s:6:\"object\";}s:12:\"RatesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"From\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"Defines
  the last business day you would like to get rates for. The maximum time span between
  <i>from</i>\xB4and <i>to</i>\r\n            is limited to 365 days.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"To\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Defines
  the first business day you would like to get rates for.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"From\";i:1;s:2:\"To\";}s:4:\"type\";s:6:\"object\";}s:13:\"RatesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  number of items matching your request in total for all pages.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:5:\"rates\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  list of rates, cancellation policy and minimum guarantee per business day.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RateResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RelatedRateplan\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Code
  of the rateplan\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the rateplan\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Restrictions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"leadtime_to_book\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"Days
  this rateplan needs to be booked in advance. This value is mutual exclusive to the\r\n
  \           <i>max_advance_booking</i> and if no limit is set it is omitted\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"max_advance_booking\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"Days
  this rateplan can be booked in advance. This value is mutual exclusive to the\r\n
  \           <i>leadtime_to_book</i> and if no limit is set it is omitted\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Room\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Represents
  a room for a property.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:9:\"amenities\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"List
  of amenities for the room\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SimpleAttribute\";}s:4:\"type\";s:5:\"array\";}s:8:\"beddings\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Provides
  information about available beds in the room\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RoomBedding\";}s:4:\"type\";s:5:\"array\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Timestamp
  the room was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Description
  of the room\";s:4:\"type\";s:6:\"string\";}s:18:\"expected_occupancy\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  common amount of persons for the room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"extra_bed_allowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Is
  there an extra bed allowed in the room\";s:4:\"type\";s:7:\"boolean\";}s:5:\"floor\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Floor
  of the room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"List
  of locations for the room\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SimpleAttribute\";}s:4:\"type\";s:5:\"array\";}s:11:\"max_persons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Maximum
  number of allowed persons in the room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"min_persons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Minimum
  number of allowed persons in the room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the room\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Number
  of the room\";s:4:\"type\";s:6:\"string\";}s:12:\"reservations\";O:8:\"stdClass\":3:{s:11:\"description\";s:311:\"Current
  reservation(s) for the room. It shows reservations due to arrive today and the one
  still inhouse.\r\n            If there is a day-use reservation assigned for today
  it can show you up to 3 reservations. One that will\r\n            depart today,
  the day-use reservqation for today and the one due to arrive\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EmbeddedReservation\";}s:4:\"type\";s:5:\"array\";}s:9:\"room_type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedRoomType\";s:11:\"description\";s:74:\"Room
  type of the room. Contains only the basic properties of the room type\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RoomStatus\";s:11:\"description\";s:38:\"Contains
  information about room status\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Timestamp
  of when the room was changed the last time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of views for the room\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SimpleAttribute\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:7:{i:0;s:6:\"number\";i:1;s:9:\"room_type\";i:2;s:6:\"status\";i:3;s:11:\"min_persons\";i:4;s:11:\"max_persons\";i:5;s:18:\"expected_occupancy\";i:6;s:5:\"floor\";}s:4:\"type\";s:6:\"object\";}s:11:\"RoomBedding\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Information
  about room bedding\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Number
  of available beds of the specified type\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  type of bed\";s:4:\"enum\";a:10:{i:0;s:10:\"NotDefined\";i:1;s:6:\"Double\";i:2;s:5:\"Futon\";i:3;s:4:\"King\";i:4;s:9:\"MurphyBed\";i:5;s:5:\"Queen\";i:6;s:7:\"SofaBed\";i:7;s:10:\"TatamiMats\";i:8;s:4:\"Twin\";i:9;s:6:\"Single\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RoomListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  number of items matching your request in total for all pages.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:5:\"rooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"List
  of rooms\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EmbeddedRoomWithStatus\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RoomMaintenance\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Start
  date of the current maintenance work\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"A
  description about the reason for the ongoing maintenance work\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"End
  date of the current maintenance work\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Maintenance
  Status\";s:4:\"enum\";a:5:{i:0;s:6:\"NotSet\";i:1;s:4:\"None\";i:2;s:14:\"OutOfInventory\";i:3;s:10:\"OutOfOrder\";i:4;s:12:\"OutOfService\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RoomStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Represents
  current room status data.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Room
  Condition status\";s:4:\"enum\";a:3:{i:0;s:17:\"CleanNotInspected\";i:1;s:5:\"Clean\";i:2;s:5:\"Dirty\";}s:4:\"type\";s:6:\"string\";}s:19:\"frontdesk_occupancy\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  frontdesk occupancy is set by reservation checkin and checkout. It can differ from
  the\r\n            housekeeping occupancy\";s:4:\"enum\";a:2:{i:0;s:8:\"Occupied\";i:1;s:6:\"Vacant\";}s:4:\"type\";s:6:\"string\";}s:22:\"housekeeping_occupancy\";O:8:\"stdClass\":3:{s:11:\"description\";s:276:\"The
  housekeeping occupancy status is defined by the housekeeping staff. Usually it matches
  the\r\n            frontdesk occupancy, but sometimes the reservation is still inhouse,
  but it looks like there is no\r\n            guest in the room anymore. Then the
  statuses can differ.\";s:4:\"enum\";a:2:{i:0;s:8:\"Occupied\";i:1;s:6:\"Vacant\";}s:4:\"type\";s:6:\"string\";}s:11:\"maintenance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RoomMaintenance\";s:11:\"description\";s:50:\"Information
  about current ongoing room maintenance\";}}s:4:\"type\";s:6:\"object\";}s:8:\"RoomType\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Represent
  a room type for a property\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"amenities\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of amenities for the room type\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SimpleAttribute\";}s:4:\"type\";s:5:\"array\";}s:12:\"bedding_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  type of bed for the room type\";s:4:\"enum\";a:10:{i:0;s:10:\"NotDefined\";i:1;s:6:\"Double\";i:2;s:5:\"Futon\";i:3;s:4:\"King\";i:4;s:9:\"MurphyBed\";i:5;s:5:\"Queen\";i:6;s:7:\"SofaBed\";i:7;s:10:\"TatamiMats\";i:8;s:4:\"Twin\";i:9;s:6:\"Single\";}s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Code
  of the room type\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Timestamp
  the room type was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Specifies
  if the room type is the default room type of the hotel\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Description
  of the room type\";s:4:\"type\";s:6:\"string\";}s:18:\"expected_occupancy\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  common amount of persons for the room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"facilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"List
  of facilities for the room type\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SimpleAttribute\";}s:4:\"type\";s:5:\"array\";}s:11:\"max_persons\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Maximum
  number of allowed persons for that room type\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"min_persons\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Minimum
  number of allowed persons for that room type\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the room type\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Timestamp
  of when the room type was changed the last time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"List
  of views for the room type\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SimpleAttribute\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RoomTypeSupplement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  code of the room type\";s:4:\"type\";s:6:\"string\";}s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Specifies
  if the room type is the default room type of the hotel\";s:4:\"type\";s:7:\"boolean\";}s:11:\"supplements\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  supplements per adults in the room. The per person surcharge will be added on top\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Supplement\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SimpleAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Represents
  a simple attribute\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  code of the attribute\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the attribute\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Supplement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"adjustment\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Mode
  for the calculation of the supplement value\";s:4:\"enum\";a:2:{i:0;s:6:\"Amount\";i:1;s:10:\"Percentage\";}s:4:\"type\";s:6:\"string\";}s:6:\"adults\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  number of adults per room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"supplement\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  amount or percentage that will be added for this room type and number of adults
  per room\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TotalCountResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Returns
  the total count for all items matching the query parameters. If none is matching
  it will return 0.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:6:\"_count\";}s:4:\"type\";s:6:\"object\";}s:22:\"YieldableRateTimeSlice\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"number_of_persons\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Number
  of persons for which the rate price is saved\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"rate_value\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Rate
  value amount, which should be unique for the combination of rateplan, date, room
  type and numer of persons\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"room_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Room
  Type code for which the rate price is saved\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"room_type\";i:1;s:17:\"number_of_persons\";i:2;s:10:\"rate_value\";}s:4:\"type\";s:6:\"object\";}}"
...
