---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:5:\"title\";s:28:\"hetras Booking API Version
  0\";s:7:\"version\";s:2:\"v0\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:72:\"https://api.apis.guru/v2/cache/logo/https_hetras.zendesk.com_hc_logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:59:\"https://developer.hetras.com/swagger/spec/BookingAPIv0.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:24:\"hetras-certification.net\";s:13:\"x-serviceName\";s:7:\"booking\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"hetras_certification_booking\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.hetras-certification.net
basePath: /
paths: ~
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":92:{s:22:\"AcceptedGuaranteeTypes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"accepted\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"In
  this list you find all the accepted guarantee types for this offer. They are sorted
  in ascending\r\n            order.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:7:\"PM4Hold\";i:1;s:7:\"PM6Hold\";i:2;s:21:\"GuaranteeToCreditCard\";i:3;s:23:\"GuaranteeToGuestAccount\";i:4;s:22:\"GuaranteeByTravelAgent\";i:5;s:18:\"GuaranteeByCompany\";i:6;s:7:\"Deposit\";i:7;s:7:\"Voucher\";i:8;s:10:\"Prepayment\";i:9;s:13:\"NonGuaranteed\";i:10;s:9:\"Tentative\";i:11;s:8:\"Waitlist\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"minimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:452:\"Based
  on the rateplan a reservation does need to have a minimum guarantee. When you create
  a new booking you\r\n            can always use a higher guarantee type starting
  from the minimum. If you do not specify a guarantee when creating\r\n            a
  new booking using this offer this guarantee type will be used by default. See \r\n
  \           https://developer.hetras.com/docs/tutorials#payment for information
  about guarantee types and payment details\";s:4:\"enum\";a:12:{i:0;s:7:\"PM4Hold\";i:1;s:7:\"PM6Hold\";i:2;s:21:\"GuaranteeToCreditCard\";i:3;s:23:\"GuaranteeToGuestAccount\";i:4;s:22:\"GuaranteeByTravelAgent\";i:5;s:18:\"GuaranteeByCompany\";i:6;s:7:\"Deposit\";i:7;s:7:\"Voucher\";i:8;s:10:\"Prepayment\";i:9;s:13:\"NonGuaranteed\";i:10;s:9:\"Tentative\";i:11;s:8:\"Waitlist\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"AddonOffer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"breakdown\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"In
  this collection you will get an entry with price information for every day the addon
  service will be charged\r\n            to the folio of the reservation if the addon
  service is booked.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AddonOfferBreakdown\";}s:4:\"type\";s:5:\"array\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  code of the addon service\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  description of the addon service\";s:4:\"type\";s:6:\"string\";}s:9:\"frequency\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"The
  frequency this addon service will be charged to the reservation. This field is a
  string that can be displayed,\r\n            but is not supposed to be used for
  computation\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the addon service\";s:4:\"type\";s:6:\"string\";}s:9:\"rate_mode\";O:8:\"stdClass\":3:{s:11:\"description\";s:328:\"The
  price for an addon service can be per person or per room. All the prices in an offer
  are already calculated\r\n            for all rooms and number of persons per room.
  Based on this attribute you will be able to know how to calculate\r\n            the
  price per person and room, per room or per person depending on your needs.\";s:4:\"enum\";a:2:{i:0;s:7:\"PerRoom\";i:1;s:9:\"PerPerson\";}s:4:\"type\";s:6:\"string\";}s:10:\"total_stay\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AddonOfferRate\";s:11:\"description\";s:164:\"This
  object gives you the price information if this addon service is booked for the total
  stay defined in your\r\n            request by arrivalDate and departureDate\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AddonOfferBreakdown\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"business_day\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  business day the price for the addon service will be posted to the folio of the
  reservation\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  currency the addon service will be charged in.\";s:4:\"type\";s:6:\"string\";}s:12:\"included_tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  amount of taxes already included in the gross rate of the addon service also calculated
  for all rooms and\r\n            all persons.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"rate\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  gross rate of the addon service. It is the price calculated for all rooms and all
  persons.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AddonOfferRate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  currency the addon service will be charged in.\";s:4:\"type\";s:6:\"string\";}s:12:\"included_tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  amount of taxes already included in the gross rate of the addon service also calculated
  for all rooms and\r\n            all persons.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"rate\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  gross rate of the addon service. It is the price calculated for all rooms and all
  persons.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AddonRate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"business_day\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  business day the addon service should be charged\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  code of the addon service to be booked\";s:4:\"type\";s:6:\"string\";}s:4:\"rate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Total
  gross amount for the service\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Addons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"addon_services\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  collection of offers for addon services.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AddonOffer\";}s:4:\"type\";s:5:\"array\";}s:6:\"adults\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  number of adults per room the addon offers are requested for. The rates will then
  already reflects this.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"arrival_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  arrival date of the reservation the addon offers are supposed to be booked on.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"departure_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  departure date of the reservation the addon offers are supposed to be booked on.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"hotel_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  id of the hotel the addon offers will be valid for\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"hotel_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name of the hotel the addon offers will be valid for\";s:4:\"type\";s:6:\"string\";}s:9:\"rate_plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RatePlan\";s:11:\"description\";s:212:\"The
  rate plan all the addon offers are valid for. The reservation you want to book this
  addons for needs\r\n            to have the same rate plan otherwise you might see
  different prices on the target reservation.\";}s:4:\"room\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ReservationRoom\";s:11:\"description\";s:212:\"The
  room type all the addon offers are valid for. The reservation you want to book this
  addons for needs\r\n            to have the same room type otherwise you might see
  different prices on the target reservation.\";}s:5:\"rooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  number of rooms the addon offers are requested for. The rates will then already
  reflects this.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AssignRoomCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Represents
  a set of criteria for assigning a room\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"amenities\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"Ensure
  the assigned room will have all the amenities specified. You can provide a comma
  seperated list of amenity codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:261:\"Here
  you can define to limit the list of assignable rooms based on their current condition.
  This is only applicable if the underlying reservation\r\n            is due to arrive
  on the current business day. If not set by default only clean rooms will be assigned.\";s:4:\"enum\";a:4:{i:0;s:17:\"CleanNotInspected\";i:1;s:5:\"Clean\";i:2;s:5:\"Dirty\";i:3;s:3:\"Any\";}s:4:\"type\";s:6:\"string\";}s:22:\"include_out_of_service\";O:8:\"stdClass\":2:{s:11:\"description\";s:242:\"Sometimes
  you might want to assign rooms which are out of service (small repair needed) if
  no other rooms are available anymore. If you set\r\n            include_out_of_service
  to true even those rooms will be considered. The default is false.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Ensure
  the assigned room will have at least one of the specified locations. You can provide
  a comma seperated list of location codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:25:\"respect_guest_preferences\";O:8:\"stdClass\":2:{s:11:\"description\";s:250:\"Defines
  if the preferences for locations, amenities and views of the primary guest should
  be taken into account. All defined preferences in the guest\r\n            profile
  override any of the criteria defined in the request body. The default is false.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"room_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:280:\"If
  you define a specific room number this room will be assigned if not assigned to
  another reservation, has proper room type and is not OutOfOrder \r\n            or
  OutOfInventory for the stay duration of the underlying reservaton. If set all other
  filter criteria will be ignored.\";s:4:\"type\";s:6:\"string\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Ensure
  the assigned room will have at least one of the specified views. You can provide
  a comma seperated list of view codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AssignRoomResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Defines
  the response for room assignment operation\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"_warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Warnings
  that came up when your request was processed. Your request will still be processed
  successfull when\r\n            you see such warnings in your response\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"room_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  room number assigned\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AuthorizationDetails\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"AuthorizedAmount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"expiry_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Authorization
  ExpiryDate\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"merchant_reference\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Merchant
  Reference\";s:9:\"maxLength\";i:50;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:9:\"reference\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Authorization
  Reference\";s:9:\"maxLength\";i:255;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:17:\"shopper_reference\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Shopper
  Reference\";s:9:\"maxLength\";i:50;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"reference\";i:1;s:18:\"merchant_reference\";i:2;s:17:\"shopper_reference\";}s:4:\"type\";s:6:\"object\";}s:20:\"AuthorizationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"authorization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AuthorizationDetails\";s:11:\"description\";s:21:\"Authorization
  Details\";}s:25:\"no_authorization_required\";O:8:\"stdClass\":2:{s:11:\"description\";s:156:\"Whether
  hetras should skip authorization using the provided token when no authorization
  details are supplied.\r\n            Optional flag, defaults to false.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"payment_token\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  token you get from the payment service provider\";s:9:\"maxLength\";i:255;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"payment_token\";}s:4:\"type\";s:6:\"object\";}s:18:\"AvailabilityDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:9:\"available\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  number of rooms that were originally available to sell. This is the the house count
  reduced by rooms set\r\n            to OutOfOrder but increased by the set overbooking\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"blocked\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Blocked\";s:11:\"description\";s:31:\"The
  breakdown for rooms blocked\";}s:7:\"day_use\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  number of day use reservations\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"house_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  total count of physical rooms reduced by the number of rooms set to OutOfInventory\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"maintenance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Maintenance\";s:11:\"description\";s:41:\"The
  breakdown for rooms under maintenance\";}s:11:\"overbooking\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  manually set overbooking\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"room_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  total count of physical rooms\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"sold\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  count of rooms sold. It sums up the rooms sold through individual reservations plus
  rooms blocked definitely\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"to_sell\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  number of rooms still available to sell. It is available reduced by the already
  sold rooms\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AvailabilityResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  number of items matching your request in total for all pages.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:20:\"daily_availabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  list of availability numbers per business day\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DailyAvailability\";}s:4:\"type\";s:5:\"array\";}s:5:\"hotel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmbeddedHotel\";s:11:\"description\";s:56:\"The
  hotel info you requsted the availability numbers for\";}}s:4:\"type\";s:6:\"object\";}s:12:\"BaseResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"_warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Warnings
  that came up when your request was processed. Your request will still be processed
  successfull when\r\n            you see such warnings in your response\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"BlockInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:236:\"The
  code is composed of the hotel code a dash and the block code shown in the hetras
  UI. An \r\n            example block code on the API for a block with code TRAVEL1
  defined for the hotel with code ABC would \r\n            be ABC-TRAVEL1\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the block\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BlockListRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"countDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"If
  true it will include also details of block count per each room type.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Return
  all blocks where the block's last_departure is greater than specified date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"groupCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Filter
  the blocks by the specified group code\";s:4:\"type\";s:6:\"string\";}s:7:\"hotelId\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Only
  return blocks for this specific hotel.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"ratePlanCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Return
  all blocks that have related the specified comma-separated rate plans.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Return
  all blocks where the block status is one of the specified values.\";s:4:\"enum\";a:3:{i:0;s:9:\"Cancelled\";i:1;s:9:\"Tentative\";i:2;s:8:\"Definite\";}s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Return
  all blocks where the block's last_departure is less than specified date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Blocked\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"definite\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Number
  of rooms blocked defintely\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Number
  of definitely blocked rooms not picked up\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"tentative\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Number
  of rooms blocked tentatively\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"BookingListItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:15:\"confirmation_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"The
  confirmation id for the booking which the guest can use to check in on the kiosk,
  add the\r\n            booking to the mobile app etc. It is used as identifier for
  all reservations done with the same\r\n            booking request.\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Timestamp
  the booking was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"reservations\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Collection
  of reservations made with on booking request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BookingListReservationItem\";}s:4:\"type\";s:5:\"array\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Timestamp
  of when the booking was changed the last time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"BookingListRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:9:\"blockCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Return
  all bookings where the block code matches the specified value.\";s:4:\"type\";s:6:\"string\";}s:14:\"cancellationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Return
  bookings for this cancellation id.\";s:4:\"type\";s:6:\"string\";}s:12:\"channelCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Return
  all bookings where the channel code is one of the specified values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"companyEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"Return
  all bookings where the primary email address of the company or the travel agent
  profile contains the specified value. The search is executed case insensitive\r\n
  \           and also stripping of any whitespaces.\";s:4:\"type\";s:6:\"string\";}s:9:\"companyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Return
  all bookings the id of the company or travel agent profile matches the specified
  value.\";s:4:\"type\";s:6:\"string\";}s:11:\"companyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:202:\"Return
  all bookings where the name of the linked company or travel agent profile contains
  the specified value. The search is executed case insensitive\r\n            and
  also stripping of any whitespaces.\";s:4:\"type\";s:6:\"string\";}s:13:\"customerEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:209:\"Return
  all bookings where the primary email address of one of the guests or the contact
  contains the specified value. The search is executed case insensitive\r\n            and
  also stripping of any whitespaces.\";s:4:\"type\";s:6:\"string\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Return
  all bookings the id of one of the guests or the contact matches the specified value.\";s:4:\"type\";s:6:\"string\";}s:12:\"customerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"Return
  all bookings where the first or lastname of one of the guests or the contact contains
  the specified value. The search is executed case insensitive\r\n            and
  also stripping of any whitespaces.\";s:4:\"type\";s:6:\"string\";}s:10:\"dateFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"Select
  a date field you want to filter bookings by. Only one filter at a time can be applied.
  The to and from dates\r\n            will then define the time range.\";s:4:\"enum\";a:5:{i:0;s:11:\"ArrivalDate\";i:1;s:13:\"DepartureDate\";i:2;s:8:\"StayDate\";i:3;s:12:\"CreationDate\";i:4;s:16:\"ModificationDate\";}s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Return
  all bookings exactly matching the specified external id. This filter is case sensitive.\";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"Start
  date for the selected date filter. If you select arrival date as date filter the
  bookings returned will have at least\r\n            one reservation arriving on
  the specified date or later.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"hotelId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Only
  return bookings for this specific hotel.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Return
  all reservations with at least one of the specified labels.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"marketCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Return
  all bookings where the market code is one of the specified values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"ratePlanCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Return
  all bookings where the rate plan code is one of the specified values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"reservationNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:245:\"Return
  bookings matching this reservation number. Please note that reservation numbers
  are only unique within a hotel. If you\r\n            don\xB4t specify a hotel filter
  at the same time you could get back multiple bookings from different hotels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"reservationStatuses\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Return
  all bookings where the reservation status is one of the specified values.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:15:{i:0;s:9:\"Tentative\";i:1;s:10:\"Waitlisted\";i:2;s:9:\"OnRequest\";i:3;s:13:\"NonGuaranteed\";i:4;s:10:\"Guaranteed\";i:5;s:7:\"InHouse\";i:6;s:10:\"CheckedOut\";i:7;s:6:\"NoShow\";i:8;s:6:\"Denied\";i:9;s:9:\"Cancelled\";i:10;s:8:\"Released\";i:11;s:6:\"Walked\";i:12;s:7:\"Expired\";i:13;s:6:\"WalkIn\";i:14;s:10:\"Registered\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"roomNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Return
  all bookings having the specified room number assigned.\";s:4:\"type\";s:6:\"string\";}s:9:\"roomTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Return
  all bookings where the room type is one of the specified values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"subChannelCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Return
  all bookings where the subchannel code is one of the specified values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"End
  date for the selected date filter. If you select arrival date as date filter the
  bookings returned will have at least\r\n            one reservation arriving on
  the specified date or earlier.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BookingListReservationItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:6:\"adults\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  number of adults per room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"arrival_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  arrival date of the guests\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"balance\";O:8:\"stdClass\":3:{s:11:\"description\";s:331:\"The
  balance for all folios of this reservartion. It is calculated by all already charged
  room and service rates plus manual charges \r\n            or charges from other
  systems like POS minus all payments. A negative balance indicates the reservation
  is overpaid, a positive balance \r\n            that the guest owes the hotel money\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"block_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"If
  this reservation is a pick-up from a block you will see the appropriate block code
  here\";s:4:\"type\";s:6:\"string\";}s:15:\"cancellation_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  cancellation id if the reservation has been cancelled\";s:4:\"type\";s:6:\"string\";}s:12:\"channel_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"The
  code of the channel that was used when the booking has been created. It is also
  known as source. \r\n            Possible values can be OTA, GDS or DIRECT, but
  it is configurable per hotel\";s:4:\"type\";s:6:\"string\";}s:9:\"companies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CompaniesInfo\";s:11:\"description\";s:35:\"Information
  about related companies\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Timestamp
  the reservation was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"customers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CustomersInfo\";s:11:\"description\";s:27:\"Information
  about customers\";}s:14:\"departure_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  departure date of the guests\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"external_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:233:\"The
  external id for this reservation is the unique identifier from the system that created
  the booking in hetras. It could be the id of an\r\n            OTA like Expedia
  or booking.com or one of the GDS systems like Amadeus or Galileo\";s:4:\"type\";s:6:\"string\";}s:5:\"hotel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/HotelInfo\";s:11:\"description\";s:54:\"Information
  about the hotel the reservation belongs to\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  labels attached to this reservation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"market_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  code of the market segment the rate plan for this reservation is linked to\";s:4:\"type\";s:6:\"string\";}s:9:\"rate_plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RatePlan\";s:11:\"description\";s:52:\"The
  rate plan details this reservation is related to\";}s:18:\"reservation_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  reservation number of the reservation\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"reservation_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  current status of this reservation\";s:4:\"enum\";a:15:{i:0;s:9:\"Tentative\";i:1;s:10:\"Waitlisted\";i:2;s:9:\"OnRequest\";i:3;s:13:\"NonGuaranteed\";i:4;s:10:\"Guaranteed\";i:5;s:7:\"InHouse\";i:6;s:10:\"CheckedOut\";i:7;s:6:\"NoShow\";i:8;s:6:\"Denied\";i:9;s:9:\"Cancelled\";i:10;s:8:\"Released\";i:11;s:6:\"Walked\";i:12;s:7:\"Expired\";i:13;s:6:\"WalkIn\";i:14;s:10:\"Registered\";}s:4:\"type\";s:6:\"string\";}s:4:\"room\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RoomInfo\";s:11:\"description\";s:132:\"The
  room type this reservation is related to and if applicable the already assigned
  specific room for \r\n            this reservation\";}s:5:\"rooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:297:\"The
  number of rooms this reservation is valid for. After a multi-room booking is done
  there will be \r\n            one reservation in hetras for this booking for all
  rooms. The hotel staff then will split this reservation into\r\n            one
  reservation per room to be able to check in the guests\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"subchannel_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"The
  code of the subchannel that was used when the booking has been created. Possible
  values can be \r\n            BOOKING, EXPEDIA or WALKIN, but it is configurable
  per hotel\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Timestamp
  of when the reservation was changed the last time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BookingListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  number of items matching your request in total for all pages.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:8:\"bookings\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Collection
  of bookings that match the defined filter criteria.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BookingListItem\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CancellationPolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Description
  of the cancellation policy suitable for displaying to customers\";s:4:\"type\";s:6:\"string\";}s:3:\"fee\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  fee a guest has to pay when cancelling the reservation\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"fee_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  date and time in UTC from when the fee has to be paid in case of cancellation\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CancellationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Result
  of cancel operation\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"_warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Warnings
  that came up when your request was processed. Your request will still be processed
  successfull when\r\n            you see such warnings in your response\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"balance\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  current balance on the reservations folio without the cancellation fee\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"cancellation_fee\";O:8:\"stdClass\":3:{s:11:\"description\";s:237:\"The
  fee that might be charged to the folio of the reservation. The cancelled reservation
  will\r\n            show up in the cancellation and no show processing screen and
  the hotel staff will either charge\r\n            the fee or waive it.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"cancellation_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  id of the successful cancellation. With this id the hotel staff will be able to
  find the reservation\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CancellationToken\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"CanBeCanceled\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:23:\"IsCancellationRequested\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"WaitHandle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/WaitHandle\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:4:\"Card\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CheckInDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"client_identity\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Client
  identity\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CompaniesInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Company\";s:11:\"description\";s:38:\"The
  company linked to this reservation\";}s:12:\"travel_agent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Company\";s:11:\"description\";s:43:\"The
  travel agent linked to this reservation\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Company\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"company_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:247:\"The
  id of a company profile. The id is build out of the Supplier Code a dash and the
  profile id\r\n            shown in the hetras UI. An example id on the API for a
  profile with id 12345 on the level of supplier ABC \r\n            would be ABC-12345\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Contact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"customer_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:248:\"The
  id of a customer profile. The id is build out of the Supplier Code a dash and the
  profile id\r\n            shown in the hetras UI. An example id on the API for a
  profile with id 12345 on the level of supplier ABC \r\n            would be ABC-12345\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ContactResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:248:\"The
  id of a customer profile. The id is build out of the Supplier Code a dash and the
  profile id\r\n            shown in the hetras UI. An example id on the API for a
  profile with id 12345 on the level of supplier ABC \r\n            would be ABC-12345\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Customer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"customer_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:248:\"The
  id of a customer profile. The id is build out of the Supplier Code a dash and the
  profile id\r\n            shown in the hetras UI. An example id on the API for a
  profile with id 12345 on the level of supplier ABC \r\n            would be ABC-12345\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  primary email address of the guest\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"First
  name of the guest\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Gender\";s:4:\"enum\";a:3:{i:0;s:11:\"Unspecified\";i:1;s:4:\"Male\";i:2;s:6:\"Female\";}s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Last
  name of the guest\";s:4:\"type\";s:6:\"string\";}s:15:\"mailing_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MailingAddress\";s:11:\"description\";s:156:\"The
  home mailing address of the guest or if no home mailing address is specified it
  will\r\n            give you the first address found on the guest profile.\";}s:11:\"nationality\";O:8:\"stdClass\":2:{s:11:\"description\";s:170:\"The
  nationality of the guest in ISO 3166-1 alpha-2 format\r\n            (see: http://www.iso.org/iso/country_codes/iso_3166_code_lists/country_names_and_code_elements.htm)\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  primary phone number of the guest\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Defines
  if the guest is the primary guest of the reservation\";s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Title
  of the guest. Needs to be taken from the available titles defined in the codes\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CustomerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:248:\"The
  id of a customer profile. The id is build out of the Supplier Code a dash and the
  profile id\r\n            shown in the hetras UI. An example id on the API for a
  profile with id 12345 on the level of supplier ABC \r\n            would be ABC-12345\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  primary email address of the guest\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"First
  name of the guest\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Gender\";s:4:\"enum\";a:3:{i:0;s:11:\"Unspecified\";i:1;s:4:\"Male\";i:2;s:6:\"Female\";}s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Last
  name of the guest\";s:4:\"type\";s:6:\"string\";}s:15:\"mailing_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MailingAddress\";s:11:\"description\";s:156:\"The
  home mailing address of the guest or if no home mailing address is specified it
  will\r\n            give you the first address found on the guest profile.\";}s:11:\"nationality\";O:8:\"stdClass\":2:{s:11:\"description\";s:170:\"The
  nationality of the guest in ISO 3166-1 alpha-2 format\r\n            (see: http://www.iso.org/iso/country_codes/iso_3166_code_lists/country_names_and_code_elements.htm)\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  primary phone number of the guest\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Defines
  if the guest is the primary guest of the reservation\";s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Title
  of the guest. Needs to be taken from the available titles defined in the codes\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CustomersInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CustomerResponse\";s:11:\"description\";s:38:\"The
  contact linked to this reservation\";}s:6:\"guests\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  list of guest details for this reservation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CustomerResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DailyAvailability\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"business_day\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  business day the following availability numbers are shown for\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"house_level\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AvailabilityDetail\";s:11:\"description\";s:44:\"The
  availability numbers for the house level\";}s:10:\"room_types\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  availability numbers for all room types if the expand parameter is set appropriately\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RoomAvailabilityDetail\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DailyCalendarRate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"business_day\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"offers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DailyRateOffer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"DailyRate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"addon_services\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"List
  of addon services with additional price information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ServiceRate\";}s:4:\"type\";s:5:\"array\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Date
  the room rate will be charged to the folio\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"excluded_tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  amount of extra taxes also calculated for all rooms and all persons per room.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"included_services\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"List
  of codes for all services already included in the gross rate\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"included_tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  amount of taxes already included in the gross nightly rate also calculated for all
  rooms and\r\n            all persons per room.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"rate\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  gross room rate. It is the price calculated for all rooms and all persons per room.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"room_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Code
  of the room type which is booked for that day\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DailyRateCancellationPolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DailyRateHotel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DailyRateNoShowPolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DailyRateOffer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"cancellation_policy_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"guarantee_type_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"noshow_policy_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"rateplan_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"room_type_details\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DailyRateRoomOffer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DailyRatePlan\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Three
  letter ISO code.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DailyRateRoomOffer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"available_rooms_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"is_available\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"rates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DailyRoomRate\";}s:4:\"type\";s:5:\"array\";}s:12:\"restrictions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Restrictions\";}s:14:\"room_type_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"unavailable_reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"If
  there is an issue and this room offer is unavailable (IsAvailable=false) this message
  may be not empty.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DailyRatesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  number of items matching your request in total for all pages.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:11:\"daily_rates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DailyCalendarRate\";}s:4:\"type\";s:5:\"array\";}s:5:\"hotel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DailyRateHotel\";}s:8:\"policies\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Policies\";}s:9:\"rateplans\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DailyRatePlan\";}s:4:\"type\";s:5:\"array\";}s:10:\"room_types\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RoomType\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DailyRoomRate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"adults\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DepositPolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Deposit
  amount that has to be paid\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Description
  of the deposit policy suitable for displaying to customers\";s:4:\"type\";s:6:\"string\";}s:8:\"due_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Date
  the deposit amount has to be paid latest\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EmbeddedHotel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  code of the hotel\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  id of the hotel\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the hotel\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EmbeddedRoom\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Represents
  a short version of room information. To get the full version\r\n            please
  follow the self link from the links collection\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Description
  of the room\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the room\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Number
  of the room\";s:4:\"type\";s:6:\"string\";}s:9:\"room_type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedRoomType\";s:11:\"description\";s:74:\"Room
  type of the room. Contains only the basic properties of the room type\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EmbeddedRoomType\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Basic
  data for a room type. To get the full details please follow the self link\r\n            from
  the links collection\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:40:\"Collection
  of links to related resources\";s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Code
  of the room type\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Description
  of the room type\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the room type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"GeneralPolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Description
  of the general policy suitable for displaying to customers\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Name
  of the general policy\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetAddonsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"adults\";O:8:\"stdClass\":5:{s:11:\"description\";s:26:\"Number
  of adults per room.\";s:6:\"format\";s:4:\"byte\";s:7:\"maximum\";i:255;s:7:\"minimum\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"arrivalDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Date
  from when the addon service will be booked to the reservation in the ISO-8601 format
  \"YYYY-MM-DD\".\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"channelCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Channel
  Code the rate plan needs to be configured for.\";s:4:\"type\";s:6:\"string\";}s:13:\"departureDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Date
  until when the addon service will be booked to the reservation in the ISO-8601 format
  \"YYYY-MM-DD\".\r\n            This is usually the departure date of the reservation.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Expand
  the rates breakdown if required.\";s:4:\"enum\";a:2:{i:0;s:4:\"None\";i:1;s:9:\"Breakdown\";}s:4:\"type\";s:6:\"string\";}s:7:\"hotelId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Specifies
  the hotel id to request offers for.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ratePlanCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Only
  return offers for the specified rate plan code.\";s:4:\"type\";s:6:\"string\";}s:8:\"roomType\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Only
  return offers for the specified room type code.\";s:4:\"type\";s:6:\"string\";}s:5:\"rooms\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"Number
  of rooms.\";s:6:\"format\";s:4:\"byte\";s:7:\"maximum\";i:255;s:7:\"minimum\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:7:\"hotelId\";i:1;s:11:\"arrivalDate\";i:2;s:13:\"departureDate\";i:3;s:11:\"channelCode\";i:4;s:6:\"adults\";i:5;s:5:\"rooms\";i:6;s:8:\"roomType\";i:7;s:12:\"ratePlanCode\";}s:4:\"type\";s:6:\"object\";}s:22:\"GetAvailabilityRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"expand\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"You
  can expand the room types breakdown per business day for the availibility numbers
  if need be.\";s:4:\"enum\";a:1:{i:0;s:9:\"RoomTypes\";}s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Defines
  the first business day you would like to get availability numbers for.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"hotelId\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Specifies
  the hotel id to request the availability for.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"Defines
  the last business day you would like to get availability numbers for. The maximum
  time span between <i>from</i>\xB4and <i>to</i>\r\n            is limited to 365
  days.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:7:\"hotelId\";i:1;s:4:\"from\";i:2;s:2:\"to\";}s:4:\"type\";s:6:\"object\";}s:16:\"GetCardsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"cards\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Card\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetDailyRatesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"channelCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Define
  the channel code in order to look up the rates for.\";s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Define
  the sections you want to expand and get informed about rates for.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:8:\"Policies\";i:2;s:9:\"RatePlans\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"Define
  the first business day you would like to get availability numbers for. The day should
  not be in the past.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"hotelId\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Define
  the hotel id to request the availability for.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"ratePlanCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Define
  the codes of rate plans to show in the response. A list of comma ',' separated rate
  plan codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:211:\"Define
  the last business day you would like to get rates for (inclusive). The maximum time
  span between <i>'From'</i> and <i>'To'</i>\r\n            is limited to 365 days.
  This can't be less than the 'From' date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:7:\"hotelId\";i:1;s:4:\"from\";i:2;s:2:\"to\";i:3;s:11:\"channelCode\";}s:4:\"type\";s:6:\"object\";}s:9:\"Guarantee\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"guarantee_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"One
  of the accepted guarantee types from the offer you selected out of the rates response\";s:4:\"enum\";a:12:{i:0;s:7:\"PM4Hold\";i:1;s:7:\"PM6Hold\";i:2;s:21:\"GuaranteeToCreditCard\";i:3;s:23:\"GuaranteeToGuestAccount\";i:4;s:22:\"GuaranteeByTravelAgent\";i:5;s:18:\"GuaranteeByCompany\";i:6;s:7:\"Deposit\";i:7;s:7:\"Voucher\";i:8;s:10:\"Prepayment\";i:9;s:13:\"NonGuaranteed\";i:10;s:9:\"Tentative\";i:11;s:8:\"Waitlist\";}s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:94:\"The
  token to be used for capturing the reservations amount or to guarantee for the reservation\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GuaranteeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"guarantee_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  guarantee type of the reservation\";s:4:\"enum\";a:12:{i:0;s:7:\"PM4Hold\";i:1;s:7:\"PM6Hold\";i:2;s:21:\"GuaranteeToCreditCard\";i:3;s:23:\"GuaranteeToGuestAccount\";i:4;s:22:\"GuaranteeByTravelAgent\";i:5;s:18:\"GuaranteeByCompany\";i:6;s:7:\"Deposit\";i:7;s:7:\"Voucher\";i:8;s:10:\"Prepayment\";i:9;s:13:\"NonGuaranteed\";i:10;s:9:\"Tentative\";i:11;s:8:\"Waitlist\";}s:4:\"type\";s:6:\"string\";}s:11:\"valid_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"Tells
  you if there is a token for a valid creadit card on the reservation that can be
  used to\r\n            capture the reservations amount or to guarantee for the reservation\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"GuaranteeTypes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"accepted\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:7:\"PM4Hold\";i:1;s:7:\"PM6Hold\";i:2;s:18:\"GuaranteeByCompany\";i:3;s:22:\"GuaranteeByTravelAgent\";i:4;s:23:\"GuaranteeToGuestAccount\";i:5;s:21:\"GuaranteeToCreditCard\";i:6;s:7:\"Deposit\";i:7;s:10:\"Prepayment\";i:8;s:13:\"NonGuaranteed\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"HotelInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Hotel
  Code which is also called property or component code\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Hotel
  Identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:44:\"JsonPatchDocument[ReservationPatchableModel]\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/Operation[ReservationPatchableModel]\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:10:\"LinkObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  Link Object represents a hyperlink from the containing resource to a URI.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"deprecation\";O:8:\"stdClass\":2:{s:11:\"description\";s:636:\"<para>The
  \"deprecation\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its presence
  indicates that the link is to be deprecated (i.e.\r\n            removed) at a future
  date.  Its value is a URL that SHOULD provide\r\n            further information
  about the deprecation.\r\n            A client SHOULD provide some notification
  (for example, by logging a\r\n            warning message) whenever it traverses
  over a link that has this\r\n            property.  The notification SHOULD include
  the deprecation property's\r\n            value so that a client maintainer can
  easily find information about\r\n            the deprecation.</para>\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:276:\"<para>The
  \"href\" property is REQUIRED.</para>\r\n<para>\_</para>\r\n<para>Its value is either
  a URI [RFC3986] or a URI Template [RFC6570].\r\n            If the value is a URI
  Template then the Link Object SHOULD have a\r\n            \"templated\" attribute
  whose value is true.</para>\";s:4:\"type\";s:6:\"string\";}s:8:\"hreflang\";O:8:\"stdClass\":2:{s:11:\"description\";s:209:\"<para>The
  \"hreflang\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value
  is a string and is intended for indicating the language of\r\n            the target
  resource (as defined by [RFC5988]).</para>\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"<para>The
  \"name\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value MAY
  be used as a secondary key for selecting Link Objects\r\n            which share
  the same relation type.</para>\";s:4:\"type\";s:6:\"string\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"<para>The
  \"profile\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is
  a string which is a URI that hints about the profile.</para>\";s:4:\"type\";s:6:\"string\";}s:9:\"templated\";O:8:\"stdClass\":2:{s:11:\"description\";s:304:\"<para>The
  \"templated\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value
  is boolean and SHOULD be true when the Link Object's \"href\"\r\n            property
  is a URI Template.\r\n            Its value SHOULD be considered false if it is
  undefined or any other\r\n            value than true.</para>\";s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:211:\"<para>The
  \"title\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is
  a string and is intended for labelling the link with a\r\n            human-readable
  identifier (as defined by [RFC5988]).</para>\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:202:\"<para>The
  \"type\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is a
  string used as a hint to indicate the media type\r\n            expected when dereferencing
  the target resource.</para>\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"href\";}s:4:\"type\";s:6:\"object\";}s:14:\"MailingAddress\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  address details like street, number, and other in free format\";s:4:\"type\";s:6:\"string\";}s:12:\"address_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"One
  of the values from the enumeration of allowed address types\";s:4:\"enum\";a:4:{i:0;s:4:\"Home\";i:1;s:8:\"Business\";i:2;s:7:\"Billing\";i:3;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  city name for this address\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:320:\"The
  country code for this address in ISO 3166-1 alpha-2 format\r\n            (see:
  <a href=\"http://www.iso.org/iso/country_codes/iso_3166_code_lists/country_names_and_code_elements.htm\"
  onfocus=\"this.blur()\" target=\"_blank\">http://www.iso.org/iso/country_codes/iso_3166_code_lists/country_names_and_code_elements.htm</a>)\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  postal code for this address\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Maintenance\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"out_of_inventory\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Number
  of rooms set to OutOfInventory\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"out_of_order\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Number
  of rooms set to OutOfOrder\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"out_of_service\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Number
  of rooms set to OutOfService\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"NoShowPolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Description
  of the noshow policy suitable for displaying to customers\";s:4:\"type\";s:6:\"string\";}s:3:\"fee\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"The
  fee that will be charged to the reservations folio in case the guest does not show
  up\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Offer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LinkObject\";}s:11:\"description\";s:42:\"Link
  to request addon offers for this stay\";s:4:\"type\";s:6:\"object\";}s:6:\"adults\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Number
  of adults the offer is calculated for\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"available_rooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Number
  of currently available rooms for that specific offer\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"breakdown\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"In
  this collection you will get an entry with price information for every day.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RoomOfferDailyRate\";}s:4:\"type\";s:5:\"array\";}s:21:\"cancellation_policies\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"List
  of cancellation policies defined for that rate\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CancellationPolicy\";}s:4:\"type\";s:5:\"array\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  amounts of this offer are always in this currency\";s:4:\"type\";s:6:\"string\";}s:16:\"deposit_policies\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of Deposit policies defined for that rate\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DepositPolicy\";}s:4:\"type\";s:5:\"array\";}s:16:\"general_policies\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of general policies defined for that rate\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeneralPolicy\";}s:4:\"type\";s:5:\"array\";}s:15:\"guarantee_types\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AcceptedGuaranteeTypes\";s:11:\"description\";s:77:\"Accepted
  guarantee types and the minimum guarantee type defined for that rate\";}s:17:\"included_services\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of  of services included already in the rate for this offer\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"noshow_policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NoShowPolicy\";s:11:\"description\";s:36:\"No
  Show policy defined for that rate\";}s:14:\"rate_plan_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  code of the rate plan for this offer\";s:4:\"type\";s:6:\"string\";}s:10:\"total_stay\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Rate\";s:11:\"description\";s:37:\"The
  total stay amounts for this offer\";}}s:4:\"type\";s:6:\"object\";}s:36:\"Operation[ReservationPatchableModel]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"op\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Object\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PagedDataRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"inlinecount\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Return
  total number of items for a given filter criteria.\";s:4:\"enum\";a:2:{i:0;s:4:\"None\";i:1;s:8:\"AllPages\";}s:4:\"type\";s:6:\"string\";}s:4:\"skip\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Amount
  of items to skip.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"top\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Amount
  of items to select.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Policies\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"cancellation_policies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/DailyRateCancellationPolicy\";}s:4:\"type\";s:5:\"array\";}s:15:\"guarantee_types\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/GuaranteeTypes\";}s:4:\"type\";s:5:\"array\";}s:15:\"noshow_policies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DailyRateNoShowPolicy\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PreCheckInRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"With
  this request you can execute a precheckin on a reservation\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"device_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  device id that will be put on the reservation\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"device_id\";}s:4:\"type\";s:6:\"object\";}s:4:\"Rate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"addon_services\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"List
  of addon services with additional price information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ServiceRate\";}s:4:\"type\";s:5:\"array\";}s:12:\"excluded_tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  amount of extra taxes also calculated for all rooms and all persons per room.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"included_services\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"List
  of codes for all services already included in the gross rate\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"included_tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  amount of taxes already included in the gross nightly rate also calculated for all
  rooms and\r\n            all persons per room.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"rate\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  gross room rate. It is the price calculated for all rooms and all persons per room.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:8:\"RatePlan\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Code
  of the rate plan\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Description
  of the rate plan suitable for being displayed to customers\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the rate plan\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Rates\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"arrival_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  arrival date of the guest for this rate offer\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"departure_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  departure date of the guest for this rate offer\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"hotel_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  id of the hotel the rate offers will be valid for\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"hotel_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  name of the hotel the rate offers will be valid for\";s:4:\"type\";s:6:\"string\";}s:10:\"rate_plans\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"List
  of rate plans details for rates you can find offers in the room_offers\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RatePlan\";}s:4:\"type\";s:5:\"array\";}s:11:\"room_offers\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"List
  of room types with available rate offers ordered from ascending\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RoomOffer\";}s:4:\"type\";s:5:\"array\";}s:5:\"rooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"List
  of room type details for room types you can find offers in the room_offers\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ReservationRoom\";}s:4:\"type\";s:5:\"array\";}s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"List
  of service details for included services in offers you can find in the room_offers\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"RatesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"adults\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Number
  of adults per room.\";s:6:\"format\";s:4:\"byte\";s:7:\"minimum\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"arrivalDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Date
  of arrival for the guest in the ISO-8601 format \"YYYY-MM-DD\".\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"channelCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Channel
  Code the rate plan needs to be configured for.\";s:4:\"type\";s:6:\"string\";}s:13:\"departureDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Date
  of departure for the guest in the ISO-8601 format \"YYYY-MM-DD\".\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Expand
  the rates breakdown if required.\";s:4:\"enum\";a:2:{i:0;s:4:\"None\";i:1;s:9:\"Breakdown\";}s:4:\"type\";s:6:\"string\";}s:9:\"groupCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Only
  return offers for the specified group code.\";s:4:\"type\";s:6:\"string\";}s:7:\"hotelId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Specifies
  the hotel id to request offers for.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ratePlanCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Only
  return offers for the specified room type code.\";s:4:\"type\";s:6:\"string\";}s:8:\"roomType\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Only
  return offers with rates for the specified room type code.\";s:4:\"type\";s:6:\"string\";}s:5:\"rooms\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Number
  of rooms (default is 1).\";s:6:\"format\";s:4:\"byte\";s:7:\"minimum\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:7:\"hotelId\";i:1;s:11:\"arrivalDate\";i:2;s:13:\"departureDate\";i:3;s:11:\"channelCode\";i:4;s:6:\"adults\";}s:4:\"type\";s:6:\"object\";}s:11:\"Reservation\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":19:{s:6:\"addons\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"A
  list of addon service codes that should be booked for all reservations of this booking\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"adults\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  number of adults per room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"arrival_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  arrival date of the guests\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"channel_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  channel code for this reservation. You can find available channels in the codes
  for the hotel.\";s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  comment you want to add for this reservation\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Company\";s:11:\"description\";s:51:\"The
  company that will be linked to this reservation\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:51:\"The
  contact that will be linked to this reservation\";}s:14:\"departure_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  departure date of the guests\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"external_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"The
  external id for this reservation. You can put here your own id used by you or the
  external system\r\n            you integrate hetras with\";s:4:\"type\";s:6:\"string\";}s:10:\"group_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  group code based on which the reservation will be created.\";s:4:\"type\";s:6:\"string\";}s:9:\"guarantee\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Guarantee\";s:11:\"description\";s:163:\"The
  guarantee for this reservation. See https://developer.hetras.com/docs/tutorials#payment
  for information about\r\n            how to fill out the guarantee object\";}s:6:\"guests\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  list of guests with some basic guest details\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";}s:4:\"type\";s:5:\"array\";}s:8:\"hotel_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  id of the hotel this reservation is valid for\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"payment_method\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  payment method for this reservation\";s:4:\"enum\";a:11:{i:0;s:4:\"None\";i:1;s:4:\"Cash\";i:2;s:10:\"CreditCard\";i:3;s:12:\"WireTransfer\";i:4;s:15:\"ChargeToCompany\";i:5;s:5:\"Check\";i:6;s:7:\"Voucher\";i:7;s:9:\"DebitCard\";i:8;s:5:\"Token\";i:9;s:13:\"Miscellaneous\";i:10;s:14:\"DigitalPayment\";}s:4:\"type\";s:6:\"string\";}s:15:\"prepay_discount\";O:8:\"stdClass\":3:{s:11:\"description\";s:317:\"If
  you create a booking for a rateplan requiring prepayment this amount will be deducted
  from the booking value before\r\n            the prepayment will be taken. This
  feature is useful when the booker redeems a gift voucher and you want to \r\n            only
  capture the remaining amount from the guest\xB4s credit card\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"rate_plan\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  rate plan code this reservation is related to\";s:4:\"type\";s:6:\"string\";}s:9:\"room_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  room type code this reservation is related to\";s:4:\"type\";s:6:\"string\";}s:5:\"rooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"The
  number of rooms this reservation is for. After a multi-room booking is done there
  will be \r\n            one reservation in hetras for all rooms. The hotel staff
  then will split this reservation into\r\n            one reservation per room to
  be able to check in the guests\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"travel_agent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Company\";s:11:\"description\";s:57:\"The
  travel agency that will be linked to this reservation\";}}s:8:\"required\";a:1:{i:0;s:8:\"hotel_id\";}s:4:\"type\";s:6:\"object\";}s:23:\"ReservationConfirmation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"_warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Warnings
  that came up when your request was processed. Your request will still be processed
  successfull when\r\n            you see such warnings in your response\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"confirmation_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  confirmation id for the newly created booking which the guest can use to check in
  on the kiosk, add the\r\n            booking to the mobile app etc.\";s:4:\"type\";s:6:\"string\";}s:14:\"reservation_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  reservation number of the newly created reservation\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ReservationDetails\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":18:{s:11:\"addon_rates\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  breakdown of addon services with their prices for every stay day\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AddonRate\";}s:4:\"type\";s:5:\"array\";}s:6:\"adults\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  number of adults per room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"arrival_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  arrival date of the guests\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"channel_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  channel code for this reservation. You can find available channels in the codes
  for the hotel.\";s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  comment you want to add for this reservation\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Company\";s:11:\"description\";s:51:\"The
  company that will be linked to this reservation\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:51:\"The
  contact that will be linked to this reservation\";}s:14:\"departure_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  departure date of the guests\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"external_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"The
  external id for this reservation. You can put here your own id used by you or the
  external system\r\n            you integrate hetras with\";s:4:\"type\";s:6:\"string\";}s:10:\"group_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  group code based on which the reservation will be created.\";s:4:\"type\";s:6:\"string\";}s:9:\"guarantee\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Guarantee\";s:11:\"description\";s:163:\"The
  guarantee for this reservation. See https://developer.hetras.com/docs/tutorials#payment
  for information about\r\n            how to fill out the guarantee object\";}s:6:\"guests\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  list of guests with some basic guest details\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";}s:4:\"type\";s:5:\"array\";}s:8:\"hotel_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  id of the hotel this reservation is valid for\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"payment_method\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  payment method for this reservation\";s:4:\"enum\";a:11:{i:0;s:4:\"None\";i:1;s:4:\"Cash\";i:2;s:10:\"CreditCard\";i:3;s:12:\"WireTransfer\";i:4;s:15:\"ChargeToCompany\";i:5;s:5:\"Check\";i:6;s:7:\"Voucher\";i:7;s:9:\"DebitCard\";i:8;s:5:\"Token\";i:9;s:13:\"Miscellaneous\";i:10;s:14:\"DigitalPayment\";}s:4:\"type\";s:6:\"string\";}s:15:\"prepay_discount\";O:8:\"stdClass\":3:{s:11:\"description\";s:317:\"If
  you create a booking for a rateplan requiring prepayment this amount will be deducted
  from the booking value before\r\n            the prepayment will be taken. This
  feature is useful when the booker redeems a gift voucher and you want to \r\n            only
  capture the remaining amount from the guest\xB4s credit card\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"room_rates\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  breakdown of room rates specified for every stay day\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RoomRate\";}s:4:\"type\";s:5:\"array\";}s:5:\"rooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"The
  number of rooms this reservation is for. After a multi-room booking is done there
  will be \r\n            one reservation in hetras for all rooms. The hotel staff
  then will split this reservation into\r\n            one reservation per room to
  be able to check in the guests\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"travel_agent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Company\";s:11:\"description\";s:57:\"The
  travel agency that will be linked to this reservation\";}}s:8:\"required\";a:1:{i:0;s:8:\"hotel_id\";}s:4:\"type\";s:6:\"object\";}s:28:\"ReservationRequestParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"sendConfirmation\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Whether
  to send a confirmation email to the primary guest\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ReservationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":37:{s:9:\"_warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Warnings
  that came up when your request was processed. Your request will still be processed
  successfull when\r\n            you see such warnings in your response\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"addon_services\";O:8:\"stdClass\":3:{s:11:\"description\";s:189:\"A
  list of addon service codes that are currently booked on the reservation. Services
  which are charged\r\n            once per stay are only visible before and on the
  day they are booked for.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"adults\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  number of adults per room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"arrival_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  arrival date of the guests\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"balance\";O:8:\"stdClass\":3:{s:11:\"description\";s:329:\"The
  balance for all folios of this reservartion. It is calculated by all already charged
  room and service\r\n            rates plus manual charges or charges from other
  systems like POS minus all payments. A negative balance\r\n            indicates
  the reservation is overpaid, a positive balance that the guest owes the hotel money\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"block\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BlockInfo\";s:11:\"description\";s:85:\"If
  this reservation is a pick-up from a block you will see the appropriate block here\";}s:15:\"cancellation_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Given
  the reservation was cancelled, this field contains the cancellation id\";s:4:\"type\";s:6:\"string\";}s:21:\"cancellation_policies\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  cancellation policies that were applicable on the date the booking was done\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CancellationPolicy\";}s:4:\"type\";s:5:\"array\";}s:12:\"channel_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"The
  code of the channel that was used when the booking has been created. It is also
  known as source. \r\n            Possible values can be OTA, GDS or DIRECT, but
  it is configurable per hotel\";s:4:\"type\";s:6:\"string\";}s:12:\"checkin_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  real checkin time of the guests. It will be set after the checkin has been performed\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"checkout_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  real checkout time of the guests. It will be set after the checkout has been performed\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  comment for this reservation\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Company\";s:11:\"description\";s:38:\"The
  company linked to this reservation\";}s:15:\"confirmation_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:231:\"The
  confirmation id for the booking which the guest can use to check in on the kiosk,
  add the\r\n            booking to the mobile app etc. It is used as identifier for
  all reservations done with the same\r\n            booking request\";s:4:\"type\";s:6:\"string\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ContactResponse\";s:11:\"description\";s:38:\"The
  contact linked to this reservation\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Timestamp
  the reservation was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  currency all amounts of this reservation will be shown in\";s:4:\"type\";s:6:\"string\";}s:14:\"departure_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  departure date of the guests\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"external_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:233:\"The
  external id for this reservation is the unique identifier from the system that created
  the booking in hetras. It could be the id of an\r\n            OTA like Expedia
  or booking.com or one of the GDS systems like Amadeus or Galileo\";s:4:\"type\";s:6:\"string\";}s:16:\"general_policies\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  general policies that were applicable on the date the booking was done\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeneralPolicy\";}s:4:\"type\";s:5:\"array\";}s:9:\"guarantee\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/GuaranteeResponse\";s:11:\"description\";s:34:\"The
  guarantee for this reservation\";}s:6:\"guests\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  list of guest details for this reservation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CustomerResponse\";}s:4:\"type\";s:5:\"array\";}s:8:\"hotel_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  id of the hotel this reservation is valid for\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  list of labels that are attached to the reservation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"market_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  code of the market segment the rate plan for this reservation is linked to\";s:4:\"type\";s:6:\"string\";}s:13:\"noshow_policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NoShowPolicy\";s:11:\"description\";s:71:\"The
  noshow policy that were applicable on the date the booking was done\";}s:14:\"payment_method\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  payment method for this reservation\";s:4:\"enum\";a:11:{i:0;s:4:\"None\";i:1;s:4:\"Cash\";i:2;s:10:\"CreditCard\";i:3;s:12:\"WireTransfer\";i:4;s:15:\"ChargeToCompany\";i:5;s:5:\"Check\";i:6;s:7:\"Voucher\";i:7;s:9:\"DebitCard\";i:8;s:5:\"Token\";i:9;s:13:\"Miscellaneous\";i:10;s:14:\"DigitalPayment\";}s:4:\"type\";s:6:\"string\";}s:9:\"rate_plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RatePlan\";s:11:\"description\";s:52:\"The
  rate plan details this reservation is related to\";}s:18:\"reservation_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  reservation number of the reservation\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"reservation_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  current status of this reservation\";s:4:\"enum\";a:15:{i:0;s:9:\"Tentative\";i:1;s:10:\"Waitlisted\";i:2;s:9:\"OnRequest\";i:3;s:13:\"NonGuaranteed\";i:4;s:10:\"Guaranteed\";i:5;s:7:\"InHouse\";i:6;s:10:\"CheckedOut\";i:7;s:6:\"NoShow\";i:8;s:6:\"Denied\";i:9;s:9:\"Cancelled\";i:10;s:8:\"Released\";i:11;s:6:\"Walked\";i:12;s:7:\"Expired\";i:13;s:6:\"WalkIn\";i:14;s:10:\"Registered\";}s:4:\"type\";s:6:\"string\";}s:4:\"room\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmbeddedRoom\";s:11:\"description\";s:132:\"The
  room type this reservation is related to and if applicable the already assigned
  specific room for \r\n            this reservation\";}s:10:\"room_rates\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  breakdown for all daily room rates and service charges for this reservation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DailyRate\";}s:4:\"type\";s:5:\"array\";}s:5:\"rooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:297:\"The
  number of rooms this reservation is valid for. After a multi-room booking is done
  there will be \r\n            one reservation in hetras for this booking for all
  rooms. The hotel staff then will split this reservation into\r\n            one
  reservation per room to be able to check in the guests\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"A
  list of details for all services included and addon service booked on this reservation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}s:4:\"type\";s:5:\"array\";}s:15:\"subchannel_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"The
  code of the subchannel that was used when the booking has been created. Possible
  values can be \r\n            BOOKING, EXPEDIA or WALKIN, but it is configurable
  per hotel\";s:4:\"type\";s:6:\"string\";}s:10:\"total_stay\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Rate\";s:11:\"description\";s:43:\"The
  total stay amounts for this reservation\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Timestamp
  of when the reservation was changed the last time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ReservationRoom\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  description of the room type\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the room type\";s:4:\"type\";s:6:\"string\";}s:11:\"room_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  room number of the assigned room\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  code of the room type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ReservationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Reservation
  collection response model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"reservations\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"All
[...]
