---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:6:\"Policy\";s:11:\"description\";s:0:\"\";s:14:\"termsOfService\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"nugetvss\";s:5:\"email\";s:22:\"nugetvss@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"MICROSOFT
  SOFTWARE LICENSE TERMS\";s:3:\"url\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";}s:7:\"version\";s:3:\"4.1\";}"
host: fabrikam-fiber-inc.visualstudio.com
basePath: /
paths:
  /{project}/_apis/policy/evaluations/{evaluationId}:
    get:
      tags:
      - Evaluations
      x-ms-vss-resource: evaluations
      x-ms-vss-method: GetPolicyEvaluation
      description: ""
      operationId: Evaluations_Get
      produces:
      - application/json
      parameters:
      - in: path
        name: project
        description: Project ID or project name
        required: true
        type: string
      - in: path
        name: evaluationId
        description: ""
        required: true
        type: string
        format: uuid
      - $ref: '#/parameters/api-Version'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/PolicyEvaluationRecord'
      security:
      - oauth2:
        - vso.code
      x-internal-toc-name: Evaluations_Get
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:11:\"IdentityRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"directoryAlias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"inactive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"isAadIdentity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"isContainer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"profileUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"uniqueName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"JObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:10:\"JContainer\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"item\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"JToken\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:10:\"JTokenType\";}}}s:19:\"PolicyConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/VersionedPolicyConfigurationRef\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"isBlocking\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"isDeleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"isEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JObject\";}}}s:22:\"PolicyConfigurationRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PolicyTypeRef\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"PolicyEvaluationRecord\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:10:\"artifactId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"completedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PolicyConfiguration\";}s:7:\"context\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JObject\";}s:12:\"evaluationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"startedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:6:\"queued\";i:1;s:7:\"running\";i:2;s:8:\"approved\";i:3;s:8:\"rejected\";i:4;s:13:\"notApplicable\";i:5;s:6:\"broken\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.Policy.WebApi.PolicyEvaluationStatus\";}}}}s:10:\"PolicyType\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PolicyTypeRef\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"PolicyTypeRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"ReferenceLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"The
  class to represent a collection of REST reference links.  Example: `{ self: { href:
  \"http://localhost:8080/tfs/DefaultCollection/_apis/wit/workItems/1\" } }`\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"The
  readonly view of the links.  Because Reference links are readonly, we only want
  to expose them as read only.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:31:\"VersionedPolicyConfigurationRef\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PolicyConfigurationRef\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:24:\"VssJsonCollectionWrapper\";O:8:\"stdClass\":4:{s:11:\"description\";s:167:\"This
  class is used to serialized collections as a single JSON object on the wire, to
  avoid serializing JSON arrays directly to the client, which can be a security hole\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/VssJsonCollectionWrapperBase\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:1:\"T\";}}}s:28:\"VssJsonCollectionWrapperBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}"
...
