---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:3:\"Git\";s:11:\"description\";s:0:\"\";s:14:\"termsOfService\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"nugetvss\";s:5:\"email\";s:22:\"nugetvss@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"MICROSOFT
  SOFTWARE LICENSE TERMS\";s:3:\"url\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";}s:7:\"version\";s:3:\"4.1\";}"
host: fabrikam-fiber-inc.visualstudio.com
basePath: /
paths: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":177:{s:18:\"AssociatedWorkItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"assignedTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"REST
  url\";s:4:\"type\";s:6:\"string\";}s:6:\"webUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"workItemType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:29:\"AsyncGitOperationNotification\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"operationId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:45:\"AsyncRefOperationCommitLevelEventNotification\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/AsyncGitOperationNotification\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"commitId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:38:\"AsyncRefOperationCompletedNotification\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/AsyncGitOperationNotification\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"newRefName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:37:\"AsyncRefOperationConflictNotification\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/AsyncRefOperationCommitLevelEventNotification\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:43:\"AsyncRefOperationGeneralFailureNotification\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/AsyncGitOperationNotification\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:37:\"AsyncRefOperationProgressNotification\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/AsyncRefOperationCommitLevelEventNotification\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"progress\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:36:\"AsyncRefOperationTimeoutNotification\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/AsyncGitOperationNotification\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:10:\"Attachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Meta
  data for a file attached to an artifact\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  person that uploaded this attachment\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"contentHash\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Content
  hash of on-disk representation of file content. Its calculated by the server by
  using SHA1 hash function.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  time the attachment was uploaded\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  description of the attachment, can be null.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  display name of the attachment, can't be null or empty.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Id
  of the code review attachment\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PropertiesCollection\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  url to download the content of the attachment\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Change\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"changeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:15:{i:0;s:4:\"none\";i:1;s:3:\"add\";i:2;s:4:\"edit\";i:3;s:8:\"encoding\";i:4;s:6:\"rename\";i:5;s:6:\"delete\";i:6;s:8:\"undelete\";i:7;s:6:\"branch\";i:8;s:5:\"merge\";i:9;s:4:\"lock\";i:10;s:8:\"rollback\";i:11;s:12:\"sourceRename\";i:12;s:12:\"targetRename\";i:13;s:8:\"property\";i:14;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:70:\"Microsoft.TeamFoundation.SourceControl.WebApi.VersionControlChangeType\";}}s:4:\"item\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:1:\"T\";}s:10:\"newContent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ItemContent\";}s:16:\"sourceServerItem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"ChangeCountDictionary\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:10:\"ChangeList\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"allChangesIncluded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"changeCounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:7:\"changes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"Change\";}}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"commentTruncated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CheckinNote\";}}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ownerDisplayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ownerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:8:\"sortDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"ChangeListSearchCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Criteria
  used in a search for change lists\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:14:\"compareVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"If
  provided, a version descriptor to compare against base\";s:4:\"type\";s:6:\"string\";}s:14:\"excludeDeletes\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"If
  true, don't include delete history entries\";s:4:\"type\";s:7:\"boolean\";}s:13:\"followRenames\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Whether
  or not to follow renames for the given item being queried\";s:4:\"type\";s:7:\"boolean\";}s:8:\"fromDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"If
  provided, only include history entries created after this date (string)\";s:4:\"type\";s:6:\"string\";}s:11:\"fromVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"If
  provided, a version descriptor for the earliest change list to include\";s:4:\"type\";s:6:\"string\";}s:8:\"itemPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Path
  of item to search under. If the itemPaths memebr is used then it will take precedence
  over this.\";s:4:\"type\";s:6:\"string\";}s:9:\"itemPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"List
  of item paths to search under. If this member is used then itemPath will be ignored.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"itemVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Version
  of the items to search\";s:4:\"type\";s:6:\"string\";}s:4:\"skip\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Number
  of results to skip (used when clicking more...)\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"toDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"If
  provided, only include history entries created before this date (string)\";s:4:\"type\";s:6:\"string\";}s:3:\"top\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"If
  provided, the maximum number of history entries to return\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"toVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"If
  provided, a version descriptor for the latest change list to include\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Alias
  or display name of user who made the changes\";s:4:\"type\";s:6:\"string\";}}}s:11:\"CheckinNote\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Comment\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  author of the pull request comment.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"commentType\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Determines
  what kind of comment when it was created.\";s:4:\"enum\";a:4:{i:0;s:7:\"unknown\";i:1;s:4:\"text\";i:2;s:10:\"codeChange\";i:3;s:6:\"system\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:57:\"Microsoft.TeamFoundation.SourceControl.WebApi.CommentType\";}}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  comment's content.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  pull request comment id. It always starts from 1.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int16\";}s:9:\"isDeleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Marks
  if this comment was soft-deleted.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"lastContentUpdatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  date a comment content was last updated.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  date a comment was last updated.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"parentCommentId\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  pull request comment id of the parent comment. This is used for replies\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int16\";}s:13:\"publishedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  date a comment was first published.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"usersLiked\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  list of the users who've liked this comment.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}}}}s:23:\"CommentIterationContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Iteration
  context is used to specify comparing iteration Ids when a comment thread is added
  while comparing 2 iterations.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"firstComparingIteration\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"First
  comparing iteration Id. Minimum value is 1.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int16\";}s:24:\"secondComparingIteration\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Second
  comparing iteration Id. Minimum value is 1.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int16\";}}}s:15:\"CommentPosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"line\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Position
  line starting with one.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Position
  offset starting with zero.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:13:\"CommentThread\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Represents
  a given comment thread\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:8:\"comments\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"A
  list of the comments.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  comment thread id.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"isDeleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Specify
  if the thread is deleted which happens when all comments are deleted\";s:4:\"type\";s:7:\"boolean\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  time this thread was last updated.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"A
  list of (optional) thread properties.\";s:4:\"$ref\";s:34:\"#/definitions/PropertiesCollection\";}s:13:\"publishedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  time this thread was published.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  status of the comment thread.\";s:4:\"enum\";a:7:{i:0;s:7:\"unknown\";i:1;s:6:\"active\";i:2;s:5:\"fixed\";i:3;s:7:\"wontFix\";i:4;s:6:\"closed\";i:5;s:8:\"byDesign\";i:6;s:7:\"pending\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:65:\"Microsoft.TeamFoundation.SourceControl.WebApi.CommentThreadStatus\";}}s:13:\"threadContext\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Specify
  thread context such as position in left/right file.\";s:4:\"$ref\";s:34:\"#/definitions/CommentThreadContext\";}}}s:20:\"CommentThreadContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"filePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"File
  path relative to the root of the repository. It's up to the client to use any path
  format.\";s:4:\"type\";s:6:\"string\";}s:11:\"leftFileEnd\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Position
  of last character of the comment in left file.\";s:4:\"$ref\";s:29:\"#/definitions/CommentPosition\";}s:13:\"leftFileStart\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Position
  of first character of the comment in left file.\";s:4:\"$ref\";s:29:\"#/definitions/CommentPosition\";}s:12:\"rightFileEnd\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Position
  of last character of the comment in right file.\";s:4:\"$ref\";s:29:\"#/definitions/CommentPosition\";}s:14:\"rightFileStart\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Position
  of first character of the comment in right file.\";s:4:\"$ref\";s:29:\"#/definitions/CommentPosition\";}}}s:23:\"CommentTrackingCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Criteria
  to decide if and how a thread should be tracked\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:23:\"firstComparingIteration\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  first comparing iteration being viewed. Threads will be tracked if this is greater
  than 0.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"origFilePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Original
  filepath the comment was on before tracking\";s:4:\"type\";s:6:\"string\";}s:15:\"origLeftFileEnd\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Original
  position of last character of the comment in left file.\";s:4:\"$ref\";s:29:\"#/definitions/CommentPosition\";}s:17:\"origLeftFileStart\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Original
  position of first character of the comment in left file.\";s:4:\"$ref\";s:29:\"#/definitions/CommentPosition\";}s:16:\"origRightFileEnd\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Original
  position of last character of the comment in right file.\";s:4:\"$ref\";s:29:\"#/definitions/CommentPosition\";}s:18:\"origRightFileStart\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Original
  position of first character of the comment in right file.\";s:4:\"$ref\";s:29:\"#/definitions/CommentPosition\";}s:24:\"secondComparingIteration\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  second comparing iteration being viewed. Threads will be tracked if this is greater
  than 0.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:19:\"FileContentMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"contentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"encoding\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isBinary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"isImage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"vsLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"GitAnnotatedTag\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Tagging
  Message\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"objectId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"taggedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"User
  name, Email and date of tagging\";s:4:\"$ref\";s:25:\"#/definitions/GitUserDate\";}s:12:\"taggedObject\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Tagged
  git object\";s:4:\"$ref\";s:23:\"#/definitions/GitObject\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"GitAsyncRefOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:14:\"detailedStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GitAsyncRefOperationDetail\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GitAsyncRefOperationParameters\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"queued\";i:1;s:10:\"inProgress\";i:2;s:9:\"completed\";i:3;s:6:\"failed\";i:4;s:9:\"abandoned\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:69:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitAsyncOperationStatus\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"GitAsyncRefOperationDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"conflict\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"currentCommitId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"failureMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"progress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:4:\"none\";i:1;s:14:\"invalidRefName\";i:2;s:15:\"refNameConflict\";i:3;s:30:\"createBranchPermissionRequired\";i:4;s:23:\"writePermissionRequired\";i:5;s:19:\"targetBranchDeleted\";i:6;s:17:\"gitObjectTooLarge\";i:7;s:26:\"operationIndentityNotFound\";i:8;s:22:\"asyncOperationNotFound\";i:9;s:5:\"other\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:79:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitAsyncRefOperationFailureStatus\";}}s:8:\"timedout\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:30:\"GitAsyncRefOperationParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"generatedRefName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ontoRefName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"repository\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitRepository\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GitAsyncRefOperationSource\";}}}s:26:\"GitAsyncRefOperationSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"commitList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}}s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:24:\"GitBaseVersionDescriptor\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GitVersionDescriptor\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"baseVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Version
  string identifier (name of tag/branch, SHA1 of commit)\";s:4:\"type\";s:6:\"string\";}s:18:\"baseVersionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Version
  options - Specify additional modifiers to version (e.g Previous)\";s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:14:\"previousChange\";i:2;s:11:\"firstParent\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:63:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitVersionOptions\";}}s:15:\"baseVersionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Version
  type (branch, tag, or commit). Determines how Id is interpreted\";s:4:\"enum\";a:3:{i:0;s:6:\"branch\";i:1;s:3:\"tag\";i:2;s:6:\"commit\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:60:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitVersionType\";}}}}s:10:\"GitBlobRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"SHA1
  hash of git object\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Size
  of blob content (in bytes)\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"GitBranchStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"aheadCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"behindCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"commit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:13:\"isBaseVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"GitChange\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"Change\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"changeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Id
  of the change within the group.  For example, within the iteration\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:18:\"newContentTemplate\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"New
  Content template to be used\";s:4:\"$ref\";s:25:\"#/definitions/GitTemplate\";}s:12:\"originalPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Original
  path of item if different from current path\";s:4:\"type\";s:6:\"string\";}}}s:13:\"GitCherryPick\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GitAsyncRefOperation\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"cherryPickId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:9:\"GitCommit\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"push\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitPushRef\";}s:6:\"treeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"GitCommitChanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"changeCounts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ChangeCountDictionary\";}s:7:\"changes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GitChange\";}}}}s:14:\"GitCommitDiffs\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"aheadCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:18:\"allChangesIncluded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"baseCommit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"behindCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"changeCounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:7:\"changes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GitChange\";}}s:12:\"commonCommit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"targetCommit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"GitCommitRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitUserDate\";}s:12:\"changeCounts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ChangeCountDictionary\";}s:7:\"changes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GitChange\";}}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"commentTruncated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"commitId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"committer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitUserDate\";}s:7:\"parents\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"remoteUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"statuses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GitStatus\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"workItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceRef\";}}}}s:17:\"GitCommitToCreate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"baseRef\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/GitRef\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"pathActions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitPathAction\";}}}}s:11:\"GitConflict\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:10:\"conflictId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"conflictPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"conflictType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:15:{i:0;s:4:\"none\";i:1;s:6:\"addAdd\";i:2;s:9:\"addRename\";i:3;s:10:\"deleteEdit\";i:4;s:12:\"deleteRename\";i:5;s:13:\"directoryFile\";i:6;s:14:\"directoryChild\";i:7;s:10:\"editDelete\";i:8;s:8:\"editEdit\";i:9;s:13:\"fileDirectory\";i:10;s:10:\"rename1to2\";i:11;s:10:\"rename2to1\";i:12;s:9:\"renameAdd\";i:13;s:12:\"renameDelete\";i:14;s:12:\"renameRename\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitConflictType\";}}s:15:\"mergeBaseCommit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:11:\"mergeOrigin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/GitMergeOriginRef\";}s:17:\"mergeSourceCommit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:17:\"mergeTargetCommit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:15:\"resolutionError\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:4:\"none\";i:1;s:20:\"mergeContentNotFound\";i:2;s:9:\"pathInUse\";i:3;s:11:\"invalidPath\";i:4;s:13:\"unknownAction\";i:5;s:16:\"unknownMergeType\";i:6;s:10:\"otherError\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:64:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitResolutionError\";}}s:16:\"resolutionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:10:\"unresolved\";i:1;s:17:\"partiallyResolved\";i:2;s:8:\"resolved\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:65:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitResolutionStatus\";}}s:10:\"resolvedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:12:\"resolvedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"GitConflictAddAdd\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Data
  object for AddAdd conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GitResolutionMergeContent\";}s:10:\"sourceBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"targetBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}}}s:20:\"GitConflictAddRename\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Data
  object for RenameAdd conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"baseBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GitResolutionPathConflict\";}s:10:\"sourceBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"targetBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:18:\"targetOriginalPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"GitConflictDeleteEdit\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Data
  object for EditDelete conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"baseBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GitResolutionPickOneAction\";}s:10:\"targetBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}}}s:23:\"GitConflictDeleteRename\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Data
  object for RenameDelete conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"baseBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GitResolutionPickOneAction\";}s:10:\"targetBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:13:\"targetNewPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"GitConflictDirectoryFile\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Data
  object for FileDirectory conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GitResolutionPathConflict\";}s:10:\"sourceTree\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitTreeRef\";}s:10:\"targetBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}}}s:21:\"GitConflictEditDelete\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Data
  object for DeleteEdit conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"baseBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GitResolutionPickOneAction\";}s:10:\"sourceBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}}}s:19:\"GitConflictEditEdit\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Data
  object for EditEdit conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"baseBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GitResolutionMergeContent\";}s:10:\"sourceBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"targetBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}}}s:24:\"GitConflictFileDirectory\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Data
  object for DirectoryFile conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GitResolutionPathConflict\";}s:10:\"sourceBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"targetTree\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitTreeRef\";}}}s:21:\"GitConflictRename1to2\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Data
  object for Rename1to2 conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"baseBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GitResolutionRename1to2\";}s:10:\"sourceBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:13:\"sourceNewPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"targetBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:13:\"targetNewPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"GitConflictRename2to1\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Data
  object for Rename2to1 conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GitResolutionPathConflict\";}s:13:\"sourceNewBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:18:\"sourceOriginalBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:18:\"sourceOriginalPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"targetNewBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:18:\"targetOriginalBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:18:\"targetOriginalPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"GitConflictRenameAdd\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Data
  object for AddRename conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"baseBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GitResolutionPathConflict\";}s:10:\"sourceBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:18:\"sourceOriginalPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"targetBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}}}s:23:\"GitConflictRenameDelete\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Data
  object for DeleteRename conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"baseBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GitResolutionPickOneAction\";}s:10:\"sourceBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:13:\"sourceNewPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"GitConflictRenameRename\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Data
  object for RenameRename conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"baseBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:12:\"originalPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"resolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GitResolutionMergeContent\";}s:10:\"sourceBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:10:\"targetBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}}}s:23:\"GitConflictUpdateResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"conflictId\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Conflict
  ID that was provided by input\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"customMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Reason
  for failing\";s:4:\"type\";s:6:\"string\";}s:15:\"updatedConflict\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"New
  state of the conflict after updating\";s:4:\"$ref\";s:25:\"#/definitions/GitConflict\";}s:12:\"updateStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Status
  of the update on the server\";s:4:\"enum\";a:5:{i:0;s:9:\"succeeded\";i:1;s:10:\"badRequest\";i:2;s:17:\"invalidResolution\";i:3;s:23:\"unsupportedConflictType\";i:4;s:8:\"notFound\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:69:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitConflictUpdateStatus\";}}}}s:20:\"GitDeletedRepository\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"deletedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"deletedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}}}s:22:\"GitFilePathsCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"commitId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"paths\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:28:\"GitForkOperationStatusDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Status
  information about a requested fork operation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"allSteps\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"All
  valid steps for the forking process\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"currentStep\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Index
  into AllSteps for the current step\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Error
  message if the operation failed.\";s:4:\"type\";s:6:\"string\";}}}s:10:\"GitForkRef\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/GitRef\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"repository\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitRepository\";}}}s:19:\"GitForkRelationship\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:10:\"collection\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Team
  Project Collection where this Fork resides\";s:4:\"$ref\";s:44:\"#/definitions/TeamProjectCollectionReference\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Team
  Project where this Fork resides\";s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}s:12:\"relationship\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Relationship
  of this fork to the current repository context\";s:4:\"enum\";a:2:{i:0;s:6:\"parent\";i:1;s:5:\"child\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:62:\"Microsoft.TeamFoundation.SourceControl.WebApi.ForkRelationship\";}}s:12:\"repositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:14:\"repositoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"GitForkSyncRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Request
  to sync data between two forks.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Collection
  of related links\";s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:14:\"detailedStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/GitForkOperationStatusDetail\";}s:11:\"operationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Unique
  identifier for the operation.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Fully-qualified
  identifier for the source repository.\";s:4:\"$ref\";s:36:\"#/definitions/GlobalGitRepositoryKey\";}s:18:\"sourceToTargetRefs\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"If
  supplied, the set of ref mappings to use when performing a \"sync\" or create. If
  missing, all refs will be synchronized.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SourceToTargetRef\";}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"queued\";i:1;s:10:\"inProgress\";i:2;s:9:\"completed\";i:3;s:6:\"failed\";i:4;s:9:\"abandoned\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:69:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitAsyncOperationStatus\";}}}}s:28:\"GitForkSyncRequestParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Parameters
  for creating a fork request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Fully-qualified
  identifier for the source repository.\";s:4:\"$ref\";s:36:\"#/definitions/GlobalGitRepositoryKey\";}s:18:\"sourceToTargetRefs\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"If
  supplied, the set of ref mappings to use when performing a \"sync\" or create. If
  missing, all refs will be synchronized.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SourceToTargetRef\";}}}}s:20:\"GitImportFailedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"sourceRepositoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"targetRepository\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitRepository\";}}}s:18:\"GitImportGitSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Parameter
  for creating a git import request when source is Git version control\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"overwrite\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Tells
  if this is a sync request or not\";s:4:\"type\";s:7:\"boolean\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Url
  for the source repo\";s:4:\"type\";s:6:\"string\";}}}s:16:\"GitImportRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:14:\"detailedStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/GitImportStatusDetail\";}s:15:\"importRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Parameters
  for creating an import request\";s:4:\"$ref\";s:40:\"#/definitions/GitImportRequestParameters\";}s:10:\"repository\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitRepository\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"queued\";i:1;s:10:\"inProgress\";i:2;s:9:\"completed\";i:3;s:6:\"failed\";i:4;s:9:\"abandoned\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:69:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitAsyncOperationStatus\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"GitImportRequestParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Parameters
  for creating an import request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:38:\"deleteServiceEndpointAfterImportIsDone\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Option
  to delete service endpoint when import is done\";s:4:\"type\";s:7:\"boolean\";}s:9:\"gitSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Source
  for importing git repository\";s:4:\"$ref\";s:32:\"#/definitions/GitImportGitSource\";}s:17:\"serviceEndpointId\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Service
  Endpoint for connection to external endpoint\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:10:\"tfvcSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Source
  for importing tfvc repository\";s:4:\"$ref\";s:33:\"#/definitions/GitImportTfvcSource\";}}}s:21:\"GitImportStatusDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"allSteps\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"currentStep\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"GitImportSucceededEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"sourceRepositoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"targetRepository\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitRepository\";}}}s:19:\"GitImportTfvcSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Parameter
  for creating a git import request when source is tfvc version control\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"importHistory\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Set
  true to import History, false otherwise\";s:4:\"type\";s:7:\"boolean\";}s:27:\"importHistoryDurationInDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Get
  history for last n days (max allowed value is 180 days)\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Path
  which we want to import (this can be copied from Path Control in Explorer)\";s:4:\"type\";s:6:\"string\";}}}s:7:\"GitItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ItemModel\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"commitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"SHA1
  of commit item was fetched at\";s:4:\"type\";s:6:\"string\";}s:13:\"gitObjectType\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Type
  of object (Commit, Tree, Blob, Tag, ...)\";s:4:\"enum\";a:8:{i:0;s:3:\"bad\";i:1;s:6:\"commit\";i:2;s:4:\"tree\";i:3;s:4:\"blob\";i:4;s:3:\"tag\";i:5;s:4:\"ext2\";i:6;s:8:\"ofsDelta\";i:7;s:8:\"refDelta\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitObjectType\";}}s:21:\"latestProcessedChange\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"Shallow
  ref to commit that last changed this item Only populated if latestProcessedChange
  is requested May not be accurate if latest change is not yet cached\";s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Git
  object id\";s:4:\"type\";s:6:\"string\";}s:16:\"originalObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Git
  object id\";s:4:\"type\";s:6:\"string\";}}}s:17:\"GitItemDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"path\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Path
  to item\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"recursionLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Specifies
  whether to include children (OneLevel), all descendants (Full), or None\";s:4:\"enum\";a:4:{i:0;s:4:\"none\";i:1;s:8:\"oneLevel\";i:2;s:30:\"oneLevelPlusNestedEmptyFolders\";i:3;s:4:\"full\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:73:\"Microsoft.TeamFoundation.SourceControl.WebApi.VersionControlRecursionType\";}}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Version
  string (interpretation based on VersionType defined in subclass\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"versionOptions\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Version
  modifiers (e.g. previous)\";s:8:\"readOnly\";b:1;s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:14:\"previousChange\";i:2;s:11:\"firstParent\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:63:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitVersionOptions\";}}s:11:\"versionType\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"How
  to interpret version (branch,tag,commit)\";s:8:\"readOnly\";b:1;s:4:\"enum\";a:3:{i:0;s:6:\"branch\";i:1;s:3:\"tag\";i:2;s:6:\"commit\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:60:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitVersionType\";}}}}s:18:\"GitItemRequestData\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"includeContentMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Whether
  to include metadata for all items\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"includeLinks\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Whether
  to include the _links field on the shallow references\";s:4:\"type\";s:7:\"boolean\";}s:15:\"itemDescriptors\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Collection
  of items to fetch, including path, version, and recursion level\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/GitItemDescriptor\";}}s:21:\"latestProcessedChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Whether
  to include shallow ref to commit that last changed each item\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:17:\"GitLastChangeItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"commitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Gets
  or sets the commit Id this item was modified most recently for the provided version.\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets the path of the item.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"GitLastChangeTreeItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"commits\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  list of commits referenced by Items, if they were requested.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  last change of items.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/GitLastChangeItem\";}}s:16:\"lastExploredTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  last explored time, in case the result is not comprehensive. Null otherwise.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:17:\"GitMergeOriginRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:9:\"GitObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Git
  object id\";s:4:\"type\";s:6:\"string\";}s:10:\"objectType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Type
  of object (Commit, Tree, Blob, Tag)\";s:4:\"enum\";a:8:{i:0;s:3:\"bad\";i:1;s:6:\"commit\";i:2;s:4:\"tree\";i:3;s:4:\"blob\";i:4;s:3:\"tag\";i:5;s:4:\"ext2\";i:6;s:8:\"ofsDelta\";i:7;s:8:\"refDelta\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitObjectType\";}}}}s:13:\"GitPathAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:4:\"none\";i:1;s:4:\"edit\";i:2;s:6:\"delete\";i:3;s:3:\"add\";i:4;s:6:\"rename\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:60:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitPathActions\";}}s:13:\"base64Content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"rawTextContent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"targetPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"GitPathToItemsCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"array\";}}}}s:14:\"GitPullRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":33:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:10:\"artifactId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"autoCompleteSetBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:8:\"closedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:10:\"closedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"codeReviewId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"commits\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}}s:17:\"completionOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/GitPullRequestCompletionOptions\";}s:19:\"completionQueueTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"forkSource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitForkRef\";}s:6:\"labels\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/WebApiTagDefinition\";}}s:15:\"lastMergeCommit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:21:\"lastMergeSourceCommit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:21:\"lastMergeTargetCommit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:19:\"mergeFailureMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"mergeFailureType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"none\";i:1;s:7:\"unknown\";i:2;s:13:\"caseSensitive\";i:3;s:14:\"objectTooLarge\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:73:\"Microsoft.TeamFoundation.SourceControl.WebApi.PullRequestMergeFailureType\";}}s:7:\"mergeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:12:\"mergeOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GitPullRequestMergeOptions\";}s:11:\"mergeStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:6:\"notSet\";i:1;s:6:\"queued\";i:2;s:9:\"conflicts\";i:3;s:9:\"succeeded\";i:4;s:16:\"rejectedByPolicy\";i:5;s:7:\"failure\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:68:\"Microsoft.TeamFoundation.SourceControl.WebApi.PullRequestAsyncStatus\";}}s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"remoteUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"repository\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitRepository\";}s:9:\"reviewers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/IdentityRefWithVote\";}}s:13:\"sourceRefName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"notSet\";i:1;s:6:\"active\";i:2;s:9:\"abandoned\";i:3;s:9:\"completed\";i:4;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:63:\"Microsoft.TeamFoundation.SourceControl.WebApi.PullRequestStatus\";}}s:18:\"supportsIterations\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"targetRefName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"workItemRefs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceRef\";}}}}s:20:\"GitPullRequestChange\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GitChange\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"changeTrackingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Id
  used to track files through multiple changes\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:27:\"GitPullRequestCommentThread\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Represents
  a given user or system Pull Request comment thread\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CommentThread\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"pullRequestThreadContext\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Extended
  context information unique to pull requests\";s:4:\"$ref\";s:48:\"#/definitions/GitPullRequestCommentThreadContext\";}}}s:34:\"GitPullRequestCommentThreadContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"changeTrackingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"Used
  to track a comment across iterations. This value can be found by looking at the
  iteration's changes list. Must be set for pull requests with iteration support.
  Otherwise, it's not required for 'legacy' pull requests.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"iterationContext\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Specify
  comparing iteration Ids when a comment thread is added while comparing 2 iterations.\";s:4:\"$ref\";s:37:\"#/definitions/CommentIterationContext\";}s:16:\"trackingCriteria\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"The
  criteria used to track this thread. If this property is filled out when the thread
  is returned, then the thread has been tracked from its original location using the
  given criteria.\";s:4:\"$ref\";s:37:\"#/definitions/CommentTrackingCriteria\";}}}s:31:\"GitPullRequestCompletionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"bypassPolicy\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"bypassReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"deleteSourceBranch\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"mergeCommitMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"squashMerge\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"transitionWorkItems\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:23:\"GitPullRequestIteration\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:10:\"changeList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GitPullRequestChange\";}}s:7:\"commits\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}}s:15:\"commonRefCommit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"hasMoreCommits\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"push\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitPushRef\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:4:\"push\";i:1;s:9:\"forcePush\";i:2;s:6:\"create\";i:3;s:6:\"rebase\";i:4;s:7:\"unknown\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.SourceControl.WebApi.IterationReason\";}}s:15:\"sourceRefCommit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:15:\"targetRefCommit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}s:11:\"updatedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:30:\"GitPullRequestIterationChanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"changeEntries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GitPullRequestChange\";}}s:8:\"nextSkip\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"nextTop\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:26:\"GitPullRequestMergeOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"disableRenames\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:19:\"GitPullRequestQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  pull request query\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"queries\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  query to perform\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/GitPullRequestQueryInput\";}}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  results of the query\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:24:\"GitPullRequestQueryInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"The
  input required for a pull request query. Currently there is only one query: LastMergeCommit,
  which returns all pull requests whose LastMergeCommit is in the list of CommitIds.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  list commit ids to search for.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  type of query to perform\";s:4:\"enum\";a:3:{i:0;s:6:\"notSet\";i:1;s:15:\"lastMergeCommit\";i:2;s:6:\"commit\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:69:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitPullRequestQueryType\";}}}}s:35:\"GitPullRequestReviewFileContentInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  file change path.\";s:4:\"type\";s:6:\"string\";}s:8:\"sHA1Hash\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"Content
  hash of on-disk representation of file content. Its calculated by the client by
  using SHA1 hash function. Ensure that uploaded file has same encoding as in source
  control.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"GitPullRequestSearchCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"creatorId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:12:\"includeLinks\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Whether
  to include the _links field on the shallow references\";s:4:\"type\";s:7:\"boolean\";}s:12:\"repositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:10:\"reviewerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"sourceRefName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"sourceRepositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"notSet\";i:1;s:6:\"active\";i:2;s:9:\"abandoned\";i:3;s:9:\"completed\";i:4;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:63:\"Microsoft.TeamFoundation.SourceControl.WebApi.PullRequestStatus\";}}s:13:\"targetRefName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"GitPullRequestStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:146:\"This
  class contains the metadata of a service/extension posting pull request status.
  Status can be associated with a pull request or an iteration.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GitStatus\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"iterationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"ID
  of the iteration to associate status with. Minimum value is 1.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Custom
  properties of the status.\";s:4:\"$ref\";s:34:\"#/definitions/PropertiesCollection\";}}}s:7:\"GitPush\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitPushRef\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"commits\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitCommitRef\";}}s:10:\"refUpdates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GitRefUpdate\";}}s:10:\"repository\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitRepository\";}}}s:16:\"GitPushEventData\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"afterId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"beforeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"commits\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GitCommit\";}}s:10:\"repository\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitRepository\";}}}s:10:\"GitPushRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:17:\"pushCorrelationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:8:\"pushedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:6:\"pushId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"GitPushSearchCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"fromDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"includeLinks\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Whether
  to include the _links field on the shallow references\";s:4:\"type\";s:7:\"boolean\";}s:17:\"includeRefUpdates\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"pusherId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:7:\"refName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:27:\"GitQueryBranchStatsCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"baseCommit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GitVersionDescriptor\";}s:13:\"targetCommits\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GitVersionDescriptor\";}}}}s:23:\"GitQueryCommitsCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:5:\"$skip\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Number
  of entries to skip\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"$top\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Maximum
  number of entries to retrieve\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Alias
  or display name of the author\";s:4:\"type\";s:6:\"string\";}s:14:\"compareVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"If
  provided, the earliest commit in the graph to search\";s:4:\"$ref\";s:34:\"#/definitions/GitVersionDescriptor\";}s:14:\"excludeDeletes\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"If
  true, don't include delete history entries\";s:4:\"type\";s:7:\"boolean\";}s:12:\"fromCommitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"If
  provided, a lower bound for filtering commits alphabetically\";s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"If
  provided, only include history entries created after this date (string)\";s:4:\"type\";s:6:\"string\";}s:11:\"historyMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"What
  Git history mode should be used. This only applies to the search criteria when Ids
  = null.\";s:4:\"enum\";a:4:{i:0;s:17:\"simplifiedHistory\";i:1;s:11:\"firstParent\";i:2;s:11:\"fullHistory\";i:3;s:25:\"fullHistorySimplifyMerges\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:60:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitHistoryMode\";}}s:3:\"ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"If
  provided, specifies the exact commit ids of the commits to fetch. May not be combined
  with other parameters.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"includeLinks\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Whether
  to include the _links field on the shallow references\";s:4:\"type\";s:7:\"boolean\";}s:16:\"includeWorkItems\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Whether
  to include linked work items\";s:4:\"type\";s:7:\"boolean\";}s:8:\"itemPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Path
  of item to search under\";s:4:\"type\";s:6:\"string\";}s:11:\"itemVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"If
  provided, identifies the commit or branch to search\";s:4:\"$ref\";s:34:\"#/definitions/GitVersionDescriptor\";}s:10:\"toCommitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"If
  provided, an upper bound for filtering commits alphabetically\";s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"If
  provided, only include history entries created before this date (string)\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Alias
  or display name of the committer\";s:4:\"type\";s:6:\"string\";}}}s:20:\"GitQueryRefsCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"commitIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"List
  of commit Ids to be searched\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"refNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"List
  of complete or partial names for refs to be searched\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"searchType\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Type
  of search on refNames, if provided\";s:4:\"enum\";a:3:{i:0;s:5:\"exact\";i:1;s:10:\"startsWith\";i:2;s:8:\"contains\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:62:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitRefSearchType\";}}}}s:6:\"GitRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:8:\"isLocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"isLockedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"objectId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"peeledObjectId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"statuses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GitStatus\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"GitRefFavorite\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"identityId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"repositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"invalid\";i:1;s:6:\"folder\";i:2;s:3:\"ref\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.SourceControl.WebApi.RefFavoriteType\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"GitRefUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"isLocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"newObjectId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"oldObjectId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"repositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:18:\"GitRefUpdateResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"customMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Custom
  message for the result object For instance, Reason for failing.\";s:4:\"type\";s:6:\"string\";}s:8:\"isLocked\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Whether
  the ref is locked or not\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Ref
  name\";s:4:\"type\";s:6:\"string\";}s:11:\"newObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"New
  object ID\";s:4:\"type\";s:6:\"string\";}s:11:\"oldObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Old
  object ID\";s:4:\"type\";s:6:\"string\";}s:10:\"rejectedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Name
  of the plugin that rejected the updated.\";s:4:\"type\";s:6:\"string\";}s:12:\"repositoryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Repository
  ID\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"True
  if the ref update succeeded, false otherwise\";s:4:\"type\";s:7:\"boolean\";}s:12:\"updateStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Status
  of the update from the TFS server.\";s:4:\"enum\";a:16:{i:0;s:9:\"succeeded\";i:1;s:17:\"forcePushRequired\";i:2;s:16:\"staleOldObjectId\";i:3;s:14:\"invalidRefName\";i:4;s:11:\"unprocessed\";i:5;s:20:\"unresolvableToCommit\";i:6;s:23:\"writePermissionRequired\";i:7;s:28:\"manageNotePermissionRequired\";i:8;s:30:\"createBranchPermissionRequired\";i:9;s:27:\"createTagPermissionRequired\";i:10;s:16:\"rejectedByPlugin\";i:11;s:6:\"locked\";i:12;s:15:\"refNameConflict\";i:13;s:16:\"rejectedByPolicy\";i:14;s:23:\"succeededNonExistentRef\";i:15;s:19:\"succeededCorruptRef\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:64:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitRefUpdateStatus\";}}}}s:13:\"GitRepository\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:13:\"defaultBranch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:6:\"isFork\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"True
  if the repository was created as a fork\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"parentRepository\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/GitRepositoryRef\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}s:9:\"remoteUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"sshUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"validRemoteUrls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:26:\"GitRepositoryCreateOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"parentRepository\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/GitRepositoryRef\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}}}s:16:\"GitRepositoryRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"collection\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Team
  Project Collection where this Fork resides\";s:4:\"$ref\";s:44:\"#/definitions/TeamProjectCollectionReference\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}s:9:\"remoteUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"sshUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"GitRepositoryStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"activePullRequestsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"branchesCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"commitsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"repositoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"GitResolution\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:25:\"GitResolutionMergeContent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitResolution\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"mergeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:9:\"undecided\";i:1;s:17:\"takeSourceContent\";i:2;s:17:\"takeTargetContent\";i:3;s:10:\"autoMerged\";i:4;s:10:\"userMerged\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:68:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitResolutionMergeType\";}}s:14:\"userMergedBlob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GitBlobRef\";}s:17:\"userMergedContent\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"byte\";}}}}s:25:\"GitResolutionPathConflict\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitResolution\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:9:\"undecided\";i:1;s:22:\"keepSourceRenameTarget\";i:2;s:22:\"keepSourceDeleteTarget\";i:3;s:22:\"keepTargetRenameSource\";i:4;s:22:\"keepTargetDeleteSource\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:77:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitResolutionPathConflictAction\";}}s:10:\"renamePath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"GitResolutionPickOneAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GitResolution\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"undecided\";i:1;s:16:\"pickSourceAction\";i:2;s:16:\"pickTargetAction\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:70:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitResolutionWhichAction\";}}}}s:23:\"GitResolutionRename1to2\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GitResolutionMergeContent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:9:\"undecided\";i:1;s:14:\"keepSourcePath\";i:2;s:14:\"keepTargetPath\";i:3;s:13:\"keepBothFiles\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:75:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitResolutionRename1to2Action\";}}}}s:9:\"GitRevert\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GitAsyncRefOperation\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"revertId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:9:\"GitStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"This
  class contains the metadata of a service/extension posting a status.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"_links\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Reference
  links.\";s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:7:\"context\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Context
  of the status.\";s:4:\"$ref\";s:30:\"#/definitions/GitStatusContext\";}s:9:\"createdBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Identity
  that created the status.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Creation
  date and time of the status.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Status
  description. Typically describes current state of the status.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Status
  identifier.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"State
  of the status.\";s:4:\"enum\";a:5:{i:0;s:6:\"notSet\";i:1;s:7:\"pending\";i:2;s:9:\"succeeded\";i:3;s:6:\"failed\";i:4;s:5:\"error\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:60:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitStatusState\";}}s:9:\"targetUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"URL
  with status details.\";s:4:\"type\";s:6:\"string\";}s:11:\"updatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Last
  update date and time of the status.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:16:\"GitStatusContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Status
  context that uniquely identifies the status.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"genre\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Genre
  of the status. Typically name of the service/tool generating the status, can be
  empty.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Name
  identifier of the status, cannot be null or empty.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"GitSuggestion\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"GitTargetVersionDescriptor\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GitVersionDescriptor\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"targetVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Version
  string identifier (name of tag/branch, SHA1 of commit)\";s:4:\"type\";s:6:\"string\";}s:20:\"targetVersionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Version
  options - Specify additional modifiers to version (e.g Previous)\";s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:14:\"previousChange\";i:2;s:11:\"firstParent\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:63:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitVersionOptions\";}}s:17:\"targetVersionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Version
  type (branch, tag, or commit). Determines how Id is interpreted\";s:4:\"enum\";a:3:{i:0;s:6:\"branch\";i:1;s:3:\"tag\";i:2;s:6:\"commit\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:60:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitVersionType\";}}}}s:11:\"GitTemplate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the Template\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Type
  of the Template\";s:4:\"type\";s:6:\"string\";}}}s:11:\"GitTreeDiff\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"baseTreeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"ObjectId
  of the base tree of this diff.\";s:4:\"type\";s:6:\"string\";}s:11:\"diffEntries\";O:8:\"stdClass\":3:{s:11:\"description\";s:407:\"List
  of tree entries that differ between the base and target tree.  Renames and object
  type changes are returned as a delete for the old object and add for the new object.
  \ If a continuation token is returned in the response header, some tree entries
  are yet to be processed and may yeild more diff entries. If the continuation token
  is not returned all the diff entries have been included in this response.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/GitTreeDiffEntry\";}}s:12:\"targetTreeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"ObjectId
  of the target tree of this diff.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"REST
  Url to this resource.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"GitTreeDiffEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"baseObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"SHA1
  hash of the object in the base tree, if it exists. Will be null in case of adds.\";s:4:\"type\";s:6:\"string\";}s:10:\"changeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Type
  of change that affected this entry.\";s:4:\"enum\";a:15:{i:0;s:4:\"none\";i:1;s:3:\"add\";i:2;s:4:\"edit\";i:3;s:8:\"encoding\";i:4;s:6:\"rename\";i:5;s:6:\"delete\";i:6;s:8:\"undelete\";i:7;s:6:\"branch\";i:8;s:5:\"merge\";i:9;s:4:\"lock\";i:10;s:8:\"rollback\";i:11;s:12:\"sourceRename\";i:12;s:12:\"targetRename\";i:13;s:8:\"property\";i:14;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:70:\"Microsoft.TeamFoundation.SourceControl.WebApi.VersionControlChangeType\";}}s:10:\"objectType\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Object
  type of the tree entry. Blob, Tree or Commit(\"submodule\")\";s:4:\"enum\";a:8:{i:0;s:3:\"bad\";i:1;s:6:\"commit\";i:2;s:4:\"tree\";i:3;s:4:\"blob\";i:4;s:3:\"tag\";i:5;s:4:\"ext2\";i:6;s:8:\"ofsDelta\";i:7;s:8:\"refDelta\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitObjectType\";}}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Relative
  path in base and target trees.\";s:4:\"type\";s:6:\"string\";}s:14:\"targetObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"SHA1
  hash of the object in the target tree, if it exists. Will be null in case of deletes.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"GitTreeDiffResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"continuationToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  HTTP client methods find the continuation token header in the response and populate
  this field.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"treeDiff\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GitTreeDiff\";}}}s:15:\"GitTreeEntryRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"gitObjectType\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Blob
  or tree\";s:4:\"enum\";a:8:{i:0;s:3:\"bad\";i:1;s:6:\"commit\";i:2;s:4:\"tree\";i:3;s:4:\"blob\";i:4;s:3:\"tag\";i:5;s:4:\"ext2\";i:6;s:8:\"ofsDelta\";i:7;s:8:\"refDelta\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitObjectType\";}}s:4:\"mode\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Mode
  represented as octal string\";s:4:\"type\";s:6:\"string\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"SHA1
  hash of git object\";s:4:\"type\";s:6:\"string\";}s:12:\"relativePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Path
  relative to parent tree object\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Size
  of content\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"url
  to retrieve tree or blob\";s:4:\"type\";s:6:\"string\";}}}s:10:\"GitTreeRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"SHA1
  hash of git object\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Sum
  of sizes of all children\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"treeEntries\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Blobs
  and trees under this tree\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GitTreeEntryRef\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Url
  to tree\";s:4:\"type\";s:6:\"string\";}}}s:11:\"GitUserDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"GitVersionDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Version
  string identifier (name of tag/branch, SHA1 of commit)\";s:4:\"type\";s:6:\"string\";}s:14:\"versionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Version
  options - Specify additional modifiers to version (e.g Previous)\";s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:14:\"previousChange\";i:2;s:11:\"firstParent\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:63:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitVersionOptions\";}}s:11:\"versionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Version
  type (branch, tag, or commit). Determines how Id is interpreted\";s:4:\"enum\";a:3:{i:0;s:6:\"branch\";i:1;s:3:\"tag\";i:2;s:6:\"commit\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:60:\"Microsoft.TeamFoundation.SourceControl.WebApi.GitVersionType\";}}}}s:22:\"GlobalGitRepositoryKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Globally
  unique key for a repository.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"collectionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:12:\"repositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:12:\"HistoryEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"changeList\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  Change list (changeset/commit/shelveset) for this point in history\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:10:\"ChangeList\";}s:14:\"itemChangeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  change made to the item from this change list (only relevant for File history, not
[...]
