---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:16:\"WorkItemTracking\";s:11:\"description\";s:0:\"\";s:14:\"termsOfService\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"nugetvss\";s:5:\"email\";s:22:\"nugetvss@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"MICROSOFT
  SOFTWARE LICENSE TERMS\";s:3:\"url\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";}s:7:\"version\";s:3:\"4.1\";}"
host: fabrikam-fiber-inc.visualstudio.com
basePath: /
paths: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:7:\"Control\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Represent
  a control in the form.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"contribution\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Contribution
  for the control.\";s:4:\"$ref\";s:29:\"#/definitions/WitContribution\";}s:11:\"controlType\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Type
  of the control.\";s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Height
  of the control, for html controls.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  id for the layout node.\";s:4:\"type\";s:6:\"string\";}s:9:\"inherited\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"A
  value indicating whether this layout node has been inherited from a parent layout.
  \ This is expected to only be only set by the combiner.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"isContribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  value indicating if the layout node is contribution or not.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Label
  for the field\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Inner
  text of the control.\";s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"overridden\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"A
  value indicating whether this layout node has been overridden by a child layout.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"A
  value indicating if the control is readonly.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"visible\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"A
  value indicating if the control should be hidden or not.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"watermark\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Watermark
  text for the textbox.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"CreateProcessModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"parentProcessTypeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"referenceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Extension\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  the extensions part of the layout\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"FieldModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isIdentity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:14:{i:0;s:6:\"string\";i:1;s:7:\"integer\";i:2;s:8:\"dateTime\";i:3;s:9:\"plainText\";i:4;s:4:\"html\";i:5;s:8:\"treePath\";i:6;s:7:\"history\";i:7;s:6:\"double\";i:8;s:4:\"guid\";i:9;s:7:\"boolean\";i:10;s:8:\"identity\";i:11;s:15:\"picklistInteger\";i:12;s:14:\"picklistString\";i:13;s:14:\"picklistDouble\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:73:\"Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.FieldType\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"FieldRuleModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"actions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RuleActionModel\";}}s:10:\"conditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RuleConditionModel\";}}s:12:\"friendlyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:10:\"isDisabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"isSystem\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:10:\"FormLayout\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"extensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  and sets extensions list\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Extension\";}}s:5:\"pages\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Top
  level tabs of the layout.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}}s:14:\"systemControls\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Headers
  controls of the layout.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Control\";}}}}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Represent
  a group in the form that holds controls in it.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"contribution\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Contribution
  for the group.\";s:4:\"$ref\";s:29:\"#/definitions/WitContribution\";}s:8:\"controls\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Controls
  to be put in the group.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Control\";}}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  height for the contribution.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  id for the layout node.\";s:4:\"type\";s:6:\"string\";}s:9:\"inherited\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"A
  value indicating whether this layout node has been inherited from a parent layout.
  \ This is expected to only be only set by the combiner.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"isContribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  value indicating if the layout node is contribution are not.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Label
  for the group.\";s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Order
  in which the group should appear in the section.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"overridden\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"A
  value indicating whether this layout node has been overridden by a child layout.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"visible\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"A
  value indicating if the group should be hidden or not.\";s:4:\"type\";s:7:\"boolean\";}}}s:4:\"Page\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"contribution\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Contribution
  for the page.\";s:4:\"$ref\";s:29:\"#/definitions/WitContribution\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  id for the layout node.\";s:4:\"type\";s:6:\"string\";}s:9:\"inherited\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"A
  value indicating whether this layout node has been inherited from a parent layout.
  \ This is expected to only be only set by the combiner.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"isContribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  value indicating if the layout node is contribution are not.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  label for the page.\";s:4:\"type\";s:6:\"string\";}s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"A
  value indicating whether any user operations are permitted on this page and the
  contents of this page\";s:4:\"type\";s:7:\"boolean\";}s:5:\"order\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Order
  in which the page should appear in the layout.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"overridden\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"A
  value indicating whether this layout node has been overridden by a child layout.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"pageType\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  icon for the page.\";s:4:\"enum\";a:4:{i:0;s:6:\"custom\";i:1;s:7:\"history\";i:2;s:5:\"links\";i:3;s:11:\"attachments\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:72:\"Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.PageType\";}}s:8:\"sections\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  sections of the page.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Section\";}}s:7:\"visible\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"A
  value indicating if the page should be hidden or not.\";s:4:\"type\";s:7:\"boolean\";}}}s:12:\"ProcessModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"projects\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProjectReference\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProcessProperties\";}s:13:\"referenceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"typeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:17:\"ProcessProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"class\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"system\";i:1;s:7:\"derived\";i:2;s:6:\"custom\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:76:\"Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.ProcessClass\";}}s:9:\"isDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"isEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"parentProcessTypeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"ProjectReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"RuleActionModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"actionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"targetField\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"RuleConditionModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"conditionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Section\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  id for the layout node.\";s:4:\"type\";s:6:\"string\";}s:10:\"overridden\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"A
  value indicating whether this layout node has been overridden by a child layout.\";s:4:\"type\";s:7:\"boolean\";}}}s:18:\"UpdateProcessModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"isDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"isEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"VssJsonCollectionWrapper\";O:8:\"stdClass\":4:{s:11:\"description\";s:167:\"This
  class is used to serialized collections as a single JSON object on the wire, to
  avoid serializing JSON arrays directly to the client, which can be a security hole\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/VssJsonCollectionWrapperBase\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:1:\"T\";}}}s:28:\"VssJsonCollectionWrapperBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:15:\"WitContribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"contributionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  id for the contribution.\";s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  height for the contribution.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"inputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  dictionary holding key value pairs for contribution inputs.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:21:\"showOnDeletedWorkItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"A
  value indicating if the contribution should be show on deleted workItem.\";s:4:\"type\";s:7:\"boolean\";}}}s:16:\"WorkItemBehavior\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"abstract\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/WorkItemBehaviorField\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"inherits\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/WorkItemBehaviorReference\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"overriden\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"rank\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"WorkItemBehaviorField\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"behaviorFieldId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"WorkItemBehaviorReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"WorkItemStateResultModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"hidden\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"stateCategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"WorkItemTypeBehavior\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"behavior\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/WorkItemBehaviorReference\";}s:9:\"isDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"WorkItemTypeModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"behaviors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/WorkItemTypeBehavior\";}}s:5:\"class\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"system\";i:1;s:7:\"derived\";i:2;s:6:\"custom\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:81:\"Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.WorkItemTypeClass\";}}s:5:\"color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"inherits\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Parent
  WIT Id/Internal ReferenceName that it inherits from\";s:4:\"type\";s:6:\"string\";}s:10:\"isDisabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"layout\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FormLayout\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"states\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/WorkItemStateResultModel\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
