---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:5:\"Build\";s:11:\"description\";s:0:\"\";s:14:\"termsOfService\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"nugetvss\";s:5:\"email\";s:22:\"nugetvss@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"MICROSOFT
  SOFTWARE LICENSE TERMS\";s:3:\"url\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";}s:7:\"version\";s:11:\"4.1-preview\";}"
host: fabrikam-fiber-inc.visualstudio.com
basePath: /
paths: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":128:{s:14:\"AgentPoolQueue\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Represents
  a queue for running builds.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  ID of the queue.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the queue.\";s:4:\"type\";s:6:\"string\";}s:4:\"pool\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  pool used by this queue.\";s:4:\"$ref\";s:36:\"#/definitions/TaskAgentPoolReference\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  full http link to the resource.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"AgentPoolQueueReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Represents
  a reference to an agent queue.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  ID of the queue.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:20:\"AgentPoolQueueTarget\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Describes
  how a phase should run against an agent queue.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PhaseTarget\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:28:\"allowScriptsAuthAccessOption\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Enables
  scripts and other processes launched while executing phase to access the OAuth token\";s:4:\"type\";s:7:\"boolean\";}s:7:\"demands\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Demand\";}}s:16:\"executionOptions\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  execution options.\";s:4:\"$ref\";s:41:\"#/definitions/AgentTargetExecutionOptions\";}s:5:\"queue\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"The
  queue.\";s:4:\"$ref\";s:28:\"#/definitions/AgentPoolQueue\";}}}s:27:\"AgentTargetExecutionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Additional
  options for running phases against an agent queue.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Indicates
  the type of execution options.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:16:\"ArtifactResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Type-specific
  data about the artifact.\";s:4:\"type\";s:6:\"string\";}s:11:\"downloadUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  link to download the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Type-specific
  properties of the artifact.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  type of the resource: File container, version control folder, UNC path, etc.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  full http link to the resource.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"AuthorizationHeader\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Build\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Data
  representation of a build.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":42:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:11:\"buildNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  build number/name of the build.\";s:4:\"type\";s:6:\"string\";}s:19:\"buildNumberRevision\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  build number revision.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"controller\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  build controller. This is only set if the definition type is Xaml.\";s:4:\"$ref\";s:29:\"#/definitions/BuildController\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  definition associated with the build.\";s:4:\"$ref\";s:33:\"#/definitions/DefinitionReference\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Indicates
  whether the build has been deleted.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"deletedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  identity of the process or person that deleted the build.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"deletedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  date the build was deleted.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"deletedReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  description of how the build was deleted.\";s:4:\"type\";s:6:\"string\";}s:7:\"demands\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"A
  list of demands that represents the agent capabilities required by this build.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Demand\";}}s:10:\"finishTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  time that the build was completed.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  ID of the build.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"keepForever\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Indicates
  whether the build should be skipped by retention policies.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"lastChangedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  identity representing the process or person that last changed the build.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastChangedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  date the build was last changed.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"logs\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Information
  about the build logs.\";s:4:\"$ref\";s:31:\"#/definitions/BuildLogReference\";}s:17:\"orchestrationPlan\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  orchestration plan for the build.\";s:4:\"$ref\";s:44:\"#/definitions/TaskOrchestrationPlanReference\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  parameters for the build.\";s:4:\"type\";s:6:\"string\";}s:5:\"plans\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Orchestration
  plans associated with the build (build, cleanup)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/TaskOrchestrationPlanReference\";}}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  build's priority.\";s:4:\"enum\";a:5:{i:0;s:3:\"low\";i:1;s:11:\"belowNormal\";i:2;s:6:\"normal\";i:3;s:11:\"aboveNormal\";i:4;s:4:\"high\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:51:\"Microsoft.TeamFoundation.Build.WebApi.QueuePriority\";}}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  team project.\";s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PropertiesCollection\";}s:7:\"quality\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  quality of the xaml build (good, bad, etc.)\";s:4:\"type\";s:6:\"string\";}s:5:\"queue\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  queue. This is only set if the definition type is Build.\";s:4:\"$ref\";s:28:\"#/definitions/AgentPoolQueue\";}s:12:\"queueOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Additional
  options for queueing the build.\";s:4:\"enum\";a:2:{i:0;s:4:\"none\";i:1;s:8:\"doNotRun\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:50:\"Microsoft.TeamFoundation.Build.WebApi.QueueOptions\";}}s:13:\"queuePosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  current position of the build in the queue.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"queueTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  time that the build was queued.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"reason\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  reason that the build was created.\";s:4:\"enum\";a:11:{i:0;s:4:\"none\";i:1;s:6:\"manual\";i:2;s:12:\"individualCI\";i:3;s:9:\"batchedCI\";i:4;s:8:\"schedule\";i:5;s:11:\"userCreated\";i:6;s:17:\"validateShelveset\";i:7;s:16:\"checkInShelveset\";i:8;s:11:\"pullRequest\";i:9;s:9:\"triggered\";i:10;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildReason\";}}s:10:\"repository\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  repository.\";s:4:\"$ref\";s:29:\"#/definitions/BuildRepository\";}s:11:\"requestedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  identity that queued the build.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:12:\"requestedFor\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  identity on whose behalf the build was queued.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  build result.\";s:4:\"enum\";a:5:{i:0;s:4:\"none\";i:1;s:9:\"succeeded\";i:2;s:18:\"partiallySucceeded\";i:3;s:6:\"failed\";i:4;s:8:\"canceled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildResult\";}}s:17:\"retainedByRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the build is retained by a release.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"sourceBranch\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  source branch.\";s:4:\"type\";s:6:\"string\";}s:13:\"sourceVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  source version.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  time that the build was started.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  status of the build.\";s:4:\"enum\";a:7:{i:0;s:4:\"none\";i:1;s:10:\"inProgress\";i:2;s:9:\"completed\";i:3;s:10:\"cancelling\";i:4;s:9:\"postponed\";i:5;s:10:\"notStarted\";i:6;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildStatus\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"triggerInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Sourceprovider-specific
  information about what triggered the build\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  URI of the build.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  REST URL of the build.\";s:4:\"type\";s:6:\"string\";}s:17:\"validationResults\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/BuildRequestValidationResult\";}}}}s:10:\"BuildAgent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:14:\"buildDirectory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"controller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/XamlBuildControllerReference\";}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"messageQueueUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"reservedForBuild\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"server\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/XamlBuildServerReference\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:11:\"unavailable\";i:1;s:9:\"available\";i:2;s:7:\"offline\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.AgentStatus\";}}s:13:\"statusMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"updatedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"BuildAgentReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Name
  of the linked resource (definition name, controller name, etc.)\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  http link to the resource\";s:4:\"type\";s:6:\"string\";}}}s:13:\"BuildArtifact\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Represents
  an artifact produced by a build.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  artifact ID.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the artifact.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  actual resource.\";s:4:\"$ref\";s:30:\"#/definitions/ArtifactResource\";}}}s:23:\"BuildArtifactAddedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"artifact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BuildArtifact\";}}}s:10:\"BuildBadge\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Represents
  a build badge.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"buildId\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  ID of the build represented by this badge.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  link to the SVG resource.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"BuildChangesCalculatedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"changes\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Change\";}}}}s:19:\"BuildCompletedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:15:\"BuildController\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/XamlBuildControllerReference\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  date the controller was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  description of the controller.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Indicates
  whether the controller is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  status of the controller.\";s:4:\"enum\";a:3:{i:0;s:11:\"unavailable\";i:1;s:9:\"available\";i:2;s:7:\"offline\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.TeamFoundation.Build.WebApi.ControllerStatus\";}}s:11:\"updatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  date the controller was last updated.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  controller's URI.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"BuildDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Represents
  a build definition.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BuildDefinitionReference\";}}s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"badgeEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Indicates
  whether badges are enabled for this definition.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"buildNumberFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  build number format.\";s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"A
  save-time comment for the definition.\";s:4:\"type\";s:6:\"string\";}s:7:\"demands\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Demand\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  description.\";s:4:\"type\";s:6:\"string\";}s:12:\"dropLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  drop location for the definition.\";s:4:\"type\";s:6:\"string\";}s:21:\"jobAuthorizationScope\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  job authorization scope for builds queued against this definition.\";s:4:\"enum\";a:2:{i:0;s:17:\"projectCollection\";i:1;s:7:\"project\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.Build.WebApi.BuildAuthorizationScope\";}}s:25:\"jobCancelTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  job cancel timeout (in minutes) for builds cancelled by user for this definition.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:19:\"jobTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  job execution timeout (in minutes) for builds queued against this definition.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"latestBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:20:\"latestCompletedBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:7:\"options\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BuildOption\";}}s:7:\"process\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  build process.\";s:4:\"$ref\";s:26:\"#/definitions/BuildProcess\";}s:17:\"processParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  process parameters for this definition.\";s:4:\"$ref\";s:31:\"#/definitions/ProcessParameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PropertiesCollection\";}s:10:\"repository\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  repository.\";s:4:\"$ref\";s:29:\"#/definitions/BuildRepository\";}s:14:\"retentionRules\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"triggers\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:14:\"variableGroups\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VariableGroup\";}}s:9:\"variables\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BuildDefinitionVariable\";}}}}s:18:\"BuildDefinition3_2\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"For
  back-compat with extensions that use the old Steps format instead of Process and
  Phases\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BuildDefinitionReference\";}}s:10:\"properties\";O:8:\"stdClass\":20:{s:12:\"badgeEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Indicates
  whether badges are enabled for this definition\";s:4:\"type\";s:7:\"boolean\";}s:5:\"build\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BuildDefinitionStep\";}}s:17:\"buildNumberFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  build number format\";s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  comment entered when saving the definition\";s:4:\"type\";s:6:\"string\";}s:7:\"demands\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Demand\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  description\";s:4:\"type\";s:6:\"string\";}s:12:\"dropLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  drop location for the definition\";s:4:\"type\";s:6:\"string\";}s:21:\"jobAuthorizationScope\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  job authorization scope for builds which are queued against this definition\";s:4:\"enum\";a:2:{i:0;s:17:\"projectCollection\";i:1;s:7:\"project\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.Build.WebApi.BuildAuthorizationScope\";}}s:25:\"jobCancelTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  job cancel timeout in minutes for builds which are cancelled by user for this definition\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:19:\"jobTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  job execution timeout in minutes for builds which are queued against this definition\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"latestBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:20:\"latestCompletedBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:7:\"options\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BuildOption\";}}s:17:\"processParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Process
  Parameters\";s:4:\"$ref\";s:31:\"#/definitions/ProcessParameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PropertiesCollection\";}s:10:\"repository\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  repository\";s:4:\"$ref\";s:29:\"#/definitions/BuildRepository\";}s:14:\"retentionRules\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"triggers\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:9:\"variables\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BuildDefinitionVariable\";}}}}s:27:\"BuildDefinitionChangedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"changeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"add\";i:1;s:6:\"update\";i:2;s:6:\"delete\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.AuditAction\";}}s:10:\"definition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BuildDefinition\";}}}s:28:\"BuildDefinitionChangingEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"changeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"add\";i:1;s:6:\"update\";i:2;s:6:\"delete\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.AuditAction\";}}s:13:\"newDefinition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BuildDefinition\";}s:18:\"originalDefinition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BuildDefinition\";}}}s:24:\"BuildDefinitionReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Represents
  a reference to a build definition.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DefinitionReference\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:10:\"authoredBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  author of the definition.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:7:\"draftOf\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"A
  reference to the definition that this definition is a draft of, if this is a draft
  definition.\";s:4:\"$ref\";s:33:\"#/definitions/DefinitionReference\";}s:6:\"drafts\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"The
  list of drafts associated with this definition, if this is not a draft definition.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DefinitionReference\";}}s:7:\"metrics\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BuildMetric\";}}s:7:\"quality\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  quality of the definition document (draft, etc.)\";s:4:\"enum\";a:2:{i:0;s:10:\"definition\";i:1;s:5:\"draft\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:55:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionQuality\";}}s:5:\"queue\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  default queue for builds run against this definition.\";s:4:\"$ref\";s:28:\"#/definitions/AgentPoolQueue\";}}}s:23:\"BuildDefinitionRevision\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  a revision of a build definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"changedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  identity of the person or process that changed the definition.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"changedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  date and time that the definition was changed.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"changeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  change type (add, edit, delete).\";s:4:\"enum\";a:3:{i:0;s:3:\"add\";i:1;s:6:\"update\";i:2;s:6:\"delete\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.AuditAction\";}}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  comment associated with the change.\";s:4:\"type\";s:6:\"string\";}s:13:\"definitionUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"A
  link to the definition at this revision.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  name of the definition.\";s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  revision number.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:29:\"BuildDefinitionSourceProvider\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"definitionUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Uri
  of the associated definition\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"fields
  associated with this build definition\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Id
  of this source provider\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  lst time this source provider was modified\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Name
  of the source provider\";s:4:\"type\";s:6:\"string\";}s:21:\"supportedTriggerTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Which
  trigger types are supported by this definition source provider\";s:4:\"enum\";a:8:{i:0;s:4:\"none\";i:1;s:21:\"continuousIntegration\";i:2;s:28:\"batchedContinuousIntegration\";i:3;s:8:\"schedule\";i:4;s:12:\"gatedCheckIn\";i:5;s:19:\"batchedGatedCheckIn\";i:6;s:11:\"pullRequest\";i:7;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionTriggerType\";}}}}s:19:\"BuildDefinitionStep\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Represents
  a step in a build phase.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"alwaysRun\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Indicates
  whether this step should run even if a previous step fails.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"condition\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  condition that determines whether this step should run.\";s:4:\"type\";s:6:\"string\";}s:15:\"continueOnError\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Indicates
  whether the phase should continue even if this step fails.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  display name for this step.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Indicates
  whether the step is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"environment\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"inputs\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"refName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  reference name for this step.\";s:4:\"type\";s:6:\"string\";}s:4:\"task\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  task associated with this step.\";s:4:\"$ref\";s:37:\"#/definitions/TaskDefinitionReference\";}s:16:\"timeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  time, in minutes, that this step is allowed to run.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:23:\"BuildDefinitionTemplate\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Represents
  a template from which new build definitions can be created.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"canDelete\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Indicates
  whether the template can be deleted.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  template category.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"A
  description of the template.\";s:4:\"type\";s:6:\"string\";}s:5:\"icons\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"iconTaskId\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  ID of the task whose icon is used when showing this template in the UI.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  ID of the template.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the template.\";s:4:\"type\";s:6:\"string\";}s:8:\"template\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  actual template.\";s:4:\"$ref\";s:29:\"#/definitions/BuildDefinition\";}}}s:26:\"BuildDefinitionTemplate3_2\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"For
  back-compat with extensions that use the old Steps format instead of Process and
  Phases\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"canDelete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"icons\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"iconTaskId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"template\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BuildDefinition3_2\";}}}s:23:\"BuildDefinitionVariable\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Represents
  a variable used by a build definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"allowOverride\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the value can be set at queue time.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"isSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Indicates
  whether the variable's value is a secret.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  value of the variable.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"BuildDeletedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RealtimeBuildEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}}}s:15:\"BuildDeployment\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"deployment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildSummary\";}s:11:\"sourceBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/XamlBuildReference\";}}}s:19:\"BuildDestroyedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RealtimeBuildEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}}}s:8:\"BuildLog\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Represents
  a build log.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildLogReference\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"createdOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  date and time the log was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"lastChangedOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  date and time the log was last changed.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"lineCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  number of lines in the log.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:17:\"BuildLogReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Represents
  a reference to a build log.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  ID of the log.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  type of the log location.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  full link to the log resource.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"BuildMetric\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  metadata about builds in the system.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  date for the scope.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"intValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"The
  value.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the metric.\";s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"The
  scope.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"BuildOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Represents
  the application of an optional behavior to a build definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"definition\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  reference to the build option.\";s:4:\"$ref\";s:44:\"#/definitions/BuildOptionDefinitionReference\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Indicates
  whether the behavior is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"inputs\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:21:\"BuildOptionDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Represents
  an optional behavior that can be applied to a build definition.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BuildOptionDefinitionReference\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  description.\";s:4:\"type\";s:6:\"string\";}s:6:\"groups\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  list of input groups defined for the build option.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BuildOptionGroupDefinition\";}}s:6:\"inputs\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  list of inputs defined for the build option.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BuildOptionInputDefinition\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the build option.\";s:4:\"type\";s:6:\"string\";}s:7:\"ordinal\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"A
  value that indicates the relative order in which the behavior should be applied.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:30:\"BuildOptionDefinitionReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  a reference to a build option definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  ID of the referenced build option.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:26:\"BuildOptionGroupDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  a group of inputs for a build option.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  name of the group to display in the UI.\";s:4:\"type\";s:6:\"string\";}s:10:\"isExpanded\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Indicates
  whether the group is initially displayed as expanded in the UI.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  internal name of the group.\";s:4:\"type\";s:6:\"string\";}}}s:26:\"BuildOptionInputDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Represents
  an input for a build option.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  default value.\";s:4:\"type\";s:6:\"string\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  name of the input group that this input belongs to.\";s:4:\"type\";s:6:\"string\";}s:4:\"help\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  label for the input.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the input.\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Indicates
  whether the input is required to have a value.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Indicates
  the type of the input value.\";s:4:\"enum\";a:7:{i:0;s:6:\"string\";i:1;s:7:\"boolean\";i:2;s:10:\"stringList\";i:3;s:5:\"radio\";i:4;s:8:\"pickList\";i:5;s:9:\"multiLine\";i:6;s:12:\"branchFilter\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:58:\"Microsoft.TeamFoundation.Build.WebApi.BuildOptionInputType\";}}s:11:\"visibleRule\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  rule that is applied to determine whether the input is visible in the UI.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"BuildPollingSummaryEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:12:\"BuildProcess\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Represents
  a build process.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  type of the process.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:21:\"BuildProcessResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Represents
  resources used by a build process.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"endpoints\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ServiceEndpointReference\";}}s:5:\"files\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SecureFileReference\";}}s:6:\"queues\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AgentPoolQueueReference\";}}}}s:20:\"BuildProcessTemplate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"fileExists\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"serverPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"supportedReasons\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:4:\"none\";i:1;s:6:\"manual\";i:2;s:12:\"individualCI\";i:3;s:9:\"batchedCI\";i:4;s:8:\"schedule\";i:5;s:11:\"userCreated\";i:6;s:17:\"validateShelveset\";i:7;s:16:\"checkInShelveset\";i:8;s:11:\"pullRequest\";i:9;s:9:\"triggered\";i:10;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildReason\";}}s:11:\"teamProject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"templateType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"custom\";i:1;s:7:\"default\";i:2;s:7:\"upgrade\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:57:\"Microsoft.TeamFoundation.Build.WebApi.ProcessTemplateType\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"BuildQueuedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:14:\"BuildReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Represents
  a reference to a build.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:11:\"buildNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  build number.\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Indicates
  whether the build has been deleted.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"finishTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  time that the build was completed.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  ID of the build.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"queueTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  time that the build was queued.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"requestedFor\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  identity on whose behalf the build was queued.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  build result.\";s:4:\"enum\";a:5:{i:0;s:4:\"none\";i:1;s:9:\"succeeded\";i:2;s:18:\"partiallySucceeded\";i:3;s:6:\"failed\";i:4;s:8:\"canceled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildResult\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  time that the build was started.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  build status.\";s:4:\"enum\";a:7:{i:0;s:4:\"none\";i:1;s:10:\"inProgress\";i:2;s:9:\"completed\";i:3;s:10:\"cancelling\";i:4;s:9:\"postponed\";i:5;s:10:\"notStarted\";i:6;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildStatus\";}}}}s:19:\"BuildReportMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  information about a build report.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"buildId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  Id of the build.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  content of the report.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  type of the report.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"BuildRepository\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Represents
  a repository used by a build definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"checkoutSubmodules\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Indicates
  whether to checkout submodules.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"clean\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Indicates
  whether to clean the target folder when getting code from the repository.\";s:4:\"type\";s:6:\"string\";}s:13:\"defaultBranch\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  name of the default branch.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  ID of the repository.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  friendly name of the repository.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"rootFolder\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  root folder.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  type of the repository.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  URL of the repository.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"BuildRequestValidationResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  the result of validating a build request.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  message associated with the result.\";s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  result.\";s:4:\"enum\";a:3:{i:0;s:2:\"oK\";i:1;s:7:\"warning\";i:2;s:5:\"error\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.TeamFoundation.Build.WebApi.ValidationResult\";}}}}s:18:\"BuildResourceUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Represents
  information about resources used by builds in the system.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"distributedTaskAgents\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  number of build agents.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"paidPrivateAgentSlots\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  number of paid private agent slots.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"totalUsage\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"The
  total usage.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"xamlControllers\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  number of XAML controllers.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:11:\"BuildServer\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"agents\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BuildAgentReference\";}}s:10:\"controller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/XamlBuildControllerReference\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"isVirtual\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"messageQueueUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"requireClientCertificates\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"online\";i:1;s:7:\"offline\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:55:\"Microsoft.TeamFoundation.Build.WebApi.ServiceHostStatus\";}}s:17:\"statusChangedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:13:\"BuildSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Represents
  system-wide build settings.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:36:\"daysToKeepDeletedBuildsBeforeDestroy\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  number of days to keep records of deleted builds.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:22:\"defaultRetentionPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  default retention policy.\";s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}s:22:\"maximumRetentionPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  maximum retention policy.\";s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}}}s:29:\"BuildSourceProviderAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:22:\"defaultPollingInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  default interval to wait between polls\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:23:\"isBatchChangesSupported\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"If
  this repository type supports batch changes\";s:4:\"type\";s:7:\"boolean\";}s:22:\"isBranchFilterRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"If
  the branch filters are required\";s:4:\"type\";s:7:\"boolean\";}s:23:\"isBranchFilterSupported\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"If
  this repository type supports branch filters\";s:4:\"type\";s:7:\"boolean\";}s:22:\"isBranchQuerySupported\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"If
  the branch filters can be queried\";s:4:\"type\";s:7:\"boolean\";}s:21:\"isBuildForksSupported\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"If
  this repository type supports building forks\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isExternal\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Whether
  the repository type is external to TFS / VSTS servers\";s:4:\"type\";s:7:\"boolean\";}s:12:\"isHostedOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"If
  this source provider requires a hosted deployment in an on prem environment\";s:4:\"type\";s:7:\"boolean\";}s:20:\"isPathFilterRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"If
  the path filters are required\";s:4:\"type\";s:7:\"boolean\";}s:21:\"isPathFilterSupported\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"If
  this repository type supports path filters\";s:4:\"type\";s:7:\"boolean\";}s:18:\"isPollingSupported\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"If
  this repository supports polling as a means to detect changes\";s:4:\"type\";s:7:\"boolean\";}s:15:\"isYamlSupported\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Whether
  YAML builds are supported with this source provider\";s:4:\"type\";s:7:\"boolean\";}s:14:\"repositoryType\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  repository type name (see: WellKnownRepositoryTypes)\";s:4:\"type\";s:6:\"string\";}s:28:\"supportedWebhookTriggerTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  supported webhook triggers\";s:4:\"enum\";a:8:{i:0;s:4:\"none\";i:1;s:21:\"continuousIntegration\";i:2;s:28:\"batchedContinuousIntegration\";i:3;s:8:\"schedule\";i:4;s:12:\"gatedCheckIn\";i:5;s:19:\"batchedGatedCheckIn\";i:6;s:11:\"pullRequest\";i:7;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionTriggerType\";}}s:19:\"supportsSourceLinks\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Whether
  the repository supports links to source code\";s:4:\"type\";s:7:\"boolean\";}}}s:17:\"BuildStartedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:12:\"BuildSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/XamlBuildReference\";}s:10:\"finishTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"keepForever\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"quality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:4:\"none\";i:1;s:6:\"manual\";i:2;s:12:\"individualCI\";i:3;s:9:\"batchedCI\";i:4;s:8:\"schedule\";i:5;s:11:\"userCreated\";i:6;s:17:\"validateShelveset\";i:7;s:16:\"checkInShelveset\";i:8;s:11:\"pullRequest\";i:9;s:9:\"triggered\";i:10;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildReason\";}}s:12:\"requestedFor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:4:\"none\";i:1;s:10:\"inProgress\";i:2;s:9:\"completed\";i:3;s:10:\"cancelling\";i:4;s:9:\"postponed\";i:5;s:10:\"notStarted\";i:6;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildStatus\";}}}}s:12:\"BuildTrigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Represents
  a trigger for a buld definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"triggerType\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  type of the trigger.\";s:8:\"readOnly\";b:1;s:4:\"enum\";a:8:{i:0;s:4:\"none\";i:1;s:21:\"continuousIntegration\";i:2;s:28:\"batchedContinuousIntegration\";i:3;s:8:\"schedule\";i:4;s:12:\"gatedCheckIn\";i:5;s:19:\"batchedGatedCheckIn\";i:6;s:11:\"pullRequest\";i:7;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionTriggerType\";}}}}s:17:\"BuildUpdatedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RealtimeBuildEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}}}s:14:\"BuildWorkspace\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Represents
  a workspace mapping.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"mappings\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MappingDetails\";}}}}s:6:\"Change\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  a change associated with a build.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  author of the change.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:10:\"displayUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  location of a user-friendly representation of the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  identifier for the change. For a commit, this would be the SHA1. For a TFVC changeset,
  this would be the changeset ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  location of the full representation of the resource.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  description of the change. This might be a commit message or changeset description.\";s:4:\"type\";s:6:\"string\";}s:16:\"messageTruncated\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Indicates
  whether the message was truncated.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"pusher\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  person or process that pushed the change.\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  timestamp for the change.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  type of change. \"commit\", \"changeset\", etc.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ConsoleLogEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RealtimeBuildEvent\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"lines\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"timelineId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:16:\"timelineRecordId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:30:\"ContinuousDeploymentDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"connectedService\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  connected service associated with the continuous deployment\";s:4:\"$ref\";s:39:\"#/definitions/WebApiConnectedServiceRef\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  definition associated with the continuous deployment\";s:4:\"$ref\";s:37:\"#/definitions/XamlDefinitionReference\";}s:9:\"gitBranch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"hostedServiceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}s:12:\"repositoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"storageAccountName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"subscriptionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"webspace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:28:\"ContinuousIntegrationTrigger\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Represents
  a continuous integration (CI) trigger.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"batchChanges\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Indicates
  whether changes should be batched while another CI build is running.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"branchFilters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:28:\"maxConcurrentBuildsPerBranch\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  maximum number of simultaneous CI builds that will run per branch.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"pathFilters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"pollingInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  polling interval, in seconds.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"pollingJobId\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  ID of the job used to poll an external repository.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:21:\"DataSourceBindingBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"dataSourceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"endpointId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"endpointUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AuthorizationHeader\";}}s:10:\"parameters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"resultSelector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"resultTemplate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"DefinitionReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Represents
  a reference to a definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  date the definition was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  ID of the referenced definition.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  name of the referenced definition.\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  folder path of the definition.\";s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  reference to the project.\";s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}s:11:\"queueStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  value that indicates whether builds can be queued against this definition.\";s:4:\"enum\";a:3:{i:0;s:7:\"enabled\";i:1;s:6:\"paused\";i:2;s:8:\"disabled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionQueueStatus\";}}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  definition revision number.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  type of the definition.\";s:4:\"enum\";a:2:{i:0;s:4:\"xaml\";i:1;s:5:\"build\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:52:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionType\";}}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  definition's URI.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  REST URL of the definition.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Demand\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Represents
  a demand used by a definition or build.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  name of the capability referenced by the demand.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  demanded value.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:10:\"Dependency\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Represents
  a dependency.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"event\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  event. The dependency is satisfied when the referenced object emits this event.\";s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  scope. This names the object referenced by the dependency.\";s:4:\"type\";s:6:\"string\";}}}s:10:\"Deployment\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Represents
  the data from the build information nodes for type \"DeploymentInformation\" for
  xaml builds\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"DeploymentBuild\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Deployment
  information for type \"Build\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"buildId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:16:\"DeploymentDeploy\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Deployment
  information for type \"Deploy\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"DeploymentTest\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Deployment
  information for type \"Test\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"runId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:15:\"DesignerProcess\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Represents
  a build process supported by the build definition designer.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildProcess\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"phases\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Phase\";}}}}s:6:\"Folder\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  a folder that contains build definitions.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"createdBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  process or person who created the folder.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:9:\"createdOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  date the folder was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  description.\";s:4:\"type\";s:6:\"string\";}s:13:\"lastChangedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  process or person that last changed the folder.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastChangedDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  date the folder was last changed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  full path.\";s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"The
  project.\";s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}}}s:5:\"Forks\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Represents
  the ability to build forks of the selected repository.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"allowSecrets\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Indicates
  whether a build should use secrets when building forks of the selected repository.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Indicates
  whether the trigger should queue builds for forks of the selected repository.\";s:4:\"type\";s:7:\"boolean\";}}}s:19:\"GatedCheckInTrigger\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Represents
  a gated check-in trigger.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"pathFilters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:24:\"runContinuousIntegration\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Indicates
  whether CI triggers should run after the gated check-in succeeds.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"useWorkspaceMappings\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Indicates
  whether to take workspace mappings into account when determining whether a build
  should run.\";s:4:\"type\";s:7:\"boolean\";}}}s:11:\"IdentityRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"directoryAlias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"inactive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"isAadIdentity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"isContainer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"profileUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"uniqueName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"InformationNode\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Data
  representation of an information node associated with a build\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Fields
  of the information node\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"lastModifiedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Process
  or person that last modified this node\";s:4:\"type\";s:6:\"string\";}s:16:\"lastModifiedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Date
  this node was last modified\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"nodeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Node
  Id of this information node\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"parentId\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Id
  of parent node (xml tree)\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  type of the information node\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Issue\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Represents
  an issue (error, warning) associated with a build.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  category.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the issue.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  type (error, warning) of the issue.\";s:4:\"enum\";a:2:{i:0;s:5:\"error\";i:1;s:7:\"warning\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:47:\"Microsoft.TeamFoundation.Build.WebApi.IssueType\";}}}}s:17:\"JsonPatchDocument\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  JSON model for JSON Patch Operations\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:18:\"JsonPatchOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  JSON model for a JSON Patch operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  path to copy from for the Move/Copy operation.\";s:4:\"type\";s:6:\"string\";}s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  patch operation\";s:4:\"enum\";a:6:{i:0;s:3:\"add\";i:1;s:6:\"remove\";i:2;s:7:\"replace\";i:3;s:4:\"move\";i:4;s:4:\"copy\";i:5;s:4:\"test\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.VisualStudio.Services.WebApi.Patch.Operation\";}}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  path for the operation\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value for the operation. This is either a primitive or a JToken.\";s:4:\"type\";s:6:\"object\";}}}s:14:\"MappingDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Represents
  an entry in a workspace mapping.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"localPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  local path.\";s:4:\"type\";s:6:\"string\";}s:11:\"mappingType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  mapping type.\";s:4:\"type\";s:6:\"string\";}s:10:\"serverPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  server path.\";s:4:\"type\";s:6:\"string\";}}}s:29:\"MultipleAgentExecutionOptions\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Represents
  options for running a phase against multiple agents.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AgentTargetExecutionOptions\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"continueOnError\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Indicates
  whether failure on one agent should prevent the phase from running on other agents.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"maxConcurrency\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  maximum number of agents to use simultaneously.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:5:\"Phase\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Represents
  a phase of a build definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"condition\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  condition that must be true for this phase to execute.\";s:4:\"type\";s:6:\"string\";}s:12:\"dependencies\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Dependency\";}}s:21:\"jobAuthorizationScope\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  job authorization scope for builds queued against this definition.\";s:4:\"enum\";a:2:{i:0;s:17:\"projectCollection\";i:1;s:7:\"project\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.Build.WebApi.BuildAuthorizationScope\";}}s:25:\"jobCancelTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  cancellation timeout, in minutes, for builds queued against this definition.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:19:\"jobTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  job execution timeout, in minutes, for builds queued against this definition.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the phase.\";s:4:\"type\";s:6:\"string\";}s:5:\"steps\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BuildDefinitionStep\";}}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  target (agent, server, etc.) for this phase.\";s:4:\"$ref\";s:25:\"#/definitions/PhaseTarget\";}s:9:\"variables\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BuildDefinitionVariable\";}}}}s:11:\"PhaseTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Represents
  the target of a phase.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  type of the target.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:17:\"ProcessParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"dataSourceBindings\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DataSourceBindingBase\";}}s:6:\"inputs\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TaskInputDefinitionBase\";}}s:17:\"sourceDefinitions\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TaskSourceDefinitionBase\";}}}}s:20:\"PropertiesCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:346:\"The
  class represents a property bag as a collection of key-value pairs. Values of all
  primitive types (any type with a `TypeCode != TypeCode.Object`) except for `DBNull`
  are accepted. Values of type Byte[], Int32, Double, DateType and String preserve
  their type, other primitives are retuned as a String. Byte[] expected as base64
  encoded string.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  count of properties in the collection.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"item\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"keys\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  set of keys in the collection.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"values\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  set of values in the collection.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:18:\"PullRequestTrigger\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Represents
  a pull request trigger.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"branchFilters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"forks\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Forks\";}}}s:18:\"RealtimeBuildEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"buildId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:26:\"RecreateSubscriptionResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"eventType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"repositoryType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"ReferenceLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  class to represent a collection of REST reference links.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"The
  readonly view of the links.  Because Reference links are readonly, we only want
  to expose them as read only.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:11:\"ResourceRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"ResourceReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Represents
  a reference to a resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"alias\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"An
  alias to be used when referencing the resource.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"RetentionPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Represents
  a retention policy for a build definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"artifacts\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:21:\"artifactTypesToDelete\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"branches\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"daysToKeep\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  number of days to keep builds.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:17:\"deleteBuildRecord\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Indicates
  whether the build record itself should be deleted.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"deleteTestResults\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Indicates
  whether to delete test results associated with the build.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"minimumToKeep\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  minimum number of builds to keep.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"Schedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"branchFilters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"daysToBuild\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Days
  for a build (flags enum for days of the week)\";s:4:\"enum\";a:9:{i:0;s:4:\"none\";i:1;s:6:\"monday\";i:2;s:7:\"tuesday\";i:3;s:9:\"wednesday\";i:4;s:8:\"thursday\";i:5;s:6:\"friday\";i:6;s:8:\"saturday\";i:7;s:6:\"sunday\";i:8;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:50:\"Microsoft.TeamFoundation.Build.WebApi.ScheduleDays\";}}s:13:\"scheduleJobId\";O:8:\"stdClass\":3:{s:11:\"description\";s:383:\"The
  Job Id of the Scheduled job that will queue the scheduled build. Since a single
  trigger can have multiple schedules and we want a single job to process a single
  schedule (since each schedule has a list of branches to build), the schedule itself
  needs to define the Job Id. This value will be filled in when a definition is added
  or updated.  The UI does not provide it or use it.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:10:\"startHours\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Local
  timezone hour to start\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"startMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Local
  timezone minute to start\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"timeZoneId\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Time
  zone of the build schedule (String representation of the time zone ID)\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ScheduleTrigger\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Represents
  a schedule trigger.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"schedules\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";}}}}s:19:\"SecureFileReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Represents
  a reference to a secure file.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  ID of the secure file.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:12:\"ServerTarget\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Represents
  a phase target that runs on the server.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PhaseTarget\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"executionOptions\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  execution options.\";s:4:\"$ref\";s:42:\"#/definitions/ServerTargetExecutionOptions\";}}}s:28:\"ServerTargetExecutionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Represents
  options for running a phase on the server.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"The
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:24:\"ServiceEndpointReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Represents
  a referenec to a service endpoint.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  ID of the service endpoint.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:17:\"SvnMappingDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Represents
  a Subversion mapping entry.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"depth\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"The
  depth.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"ignoreExternals\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Indicates
  whether to ignore externals.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"localPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  local path.\";s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  revision.\";s:4:\"type\";s:6:\"string\";}s:10:\"serverPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  server path.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"SvnWorkspace\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Represents
  a subversion workspace.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"mappings\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SvnMappingDetails\";}}}}s:23:\"SyncBuildCompletedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:21:\"SyncBuildStartedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:22:\"TaskAgentPoolReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  a reference to an agent pool.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  pool ID.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"isHosted\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"A
  value indicating whether or not this pool is managed by the service.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  pool name.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"TaskDefinitionReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  reference to a task definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"definitionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  type of task (task or task group).\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  ID of the task.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"versionSpec\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  version of the task.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"TaskInputDefinitionBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"aliases\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"defaultValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"groupName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"helpMarkDown\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"validation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TaskInputValidation\";}s:11:\"visibleRule\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"TaskInputValidation\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Conditional
  expression\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Message
  explaining how user can correct if validation fails\";s:4:\"type\";s:6:\"string\";}}}s:35:\"TaskOrchestrationPlanGroupReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Represents
  a reference to a plan group.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"planGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  name of the plan group.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  project ID.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:39:\"TaskOrchestrationPlanGroupsStartedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"planGroups\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/TaskOrchestrationPlanGroupReference\";}}}}s:30:\"TaskOrchestrationPlanReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  a reference to an orchestration plan.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"orchestrationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  type of the plan.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"planId\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  ID of the plan.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:13:\"TaskReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Represents
  a reference to a task.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  ID of the task definition.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the task definition.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  version of the task definition.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"TaskSourceDefinitionBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"endpoint\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"keySelector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"selector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"TeamProjectReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  a shallow reference to a TeamProject.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"abbreviation\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Project
  abbreviation.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  project's description (if any).\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Project
  identifier.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Project
  name.\";s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Project
  revision.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Project
  state.\";s:4:\"enum\";a:7:{i:0;s:8:\"deleting\";i:1;s:3:\"new\";i:2;s:10:\"wellFormed\";i:3;s:13:\"createPending\";i:4;s:3:\"all\";i:5;s:9:\"unchanged\";i:6;s:7:\"deleted\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Core.WebApi.ProjectState\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Url
  to the full version of the object.\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Project
  visibility.\";s:4:\"enum\";a:3:{i:0;s:9:\"unchanged\";i:1;s:7:\"private\";i:2;s:12:\"organization\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.TeamFoundation.Core.WebApi.ProjectVisibility\";}}}}s:8:\"Timeline\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Represents
  the timeline of a build.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TimelineReference\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"lastChangedBy\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  process or person that last changed the timeline.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"lastChangedOn\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
[...]
