---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:5:\"Build\";s:11:\"description\";s:0:\"\";s:14:\"termsOfService\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"nugetvss\";s:5:\"email\";s:22:\"nugetvss@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"MICROSOFT
  SOFTWARE LICENSE TERMS\";s:3:\"url\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";}s:7:\"version\";s:3:\"4.1\";}"
host: fabrikam-fiber-inc.visualstudio.com
basePath: /
paths:
  /{project}/_apis/build/builds/{buildId}/properties:
    patch:
      tags:
      - Properties
      x-ms-vss-resource: properties
      x-ms-vss-method: UpdateBuildProperties
      description: Updates properties for a build.
      operationId: Properties_UpdateBuildProperties
      consumes:
      - application/json-patch+json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/JsonPatchDocument'
      - in: path
        name: project
        description: Project ID or project name
        required: true
        type: string
      - in: path
        name: buildId
        description: The build id.
        required: true
        type: integer
        format: int32
      - $ref: '#/parameters/api-Version'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/PropertiesCollection'
      security:
      - oauth2:
        - vso.build_execute
      x-internal-toc-name: Properties_UpdateBuildProperties
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":119:{s:14:\"AgentPoolQueue\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Name
  of the linked resource (definition name, controller name, etc.)\";s:4:\"type\";s:6:\"string\";}s:4:\"pool\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  pool used by this queue.\";s:4:\"$ref\";s:36:\"#/definitions/TaskAgentPoolReference\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  http link to the resource\";s:4:\"type\";s:6:\"string\";}}}s:20:\"AgentPoolQueueTarget\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PhaseTarget\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"demands\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Demand\";}}s:5:\"queue\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"The
  queue.\";s:4:\"$ref\";s:28:\"#/definitions/AgentPoolQueue\";}}}s:27:\"AgentTargetExecutionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:16:\"ArtifactResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  type-specific resource data. For example, \"#/10002/5/drop\", \"$/drops/5\", \"\\\\myshare\\myfolder\\mydrops\\5\"\";s:4:\"type\";s:6:\"string\";}s:11:\"downloadUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Link
  to the resource. This might include things like query parameters to download as
  a zip file\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Properties
  of Artifact Resource\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  type of the resource: File container, version control folder, UNC path, etc.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Link
  to the resource\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Build\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Data
  representation of a build\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":42:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:11:\"buildNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Build
  number/name of the build\";s:4:\"type\";s:6:\"string\";}s:19:\"buildNumberRevision\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Build
  number revision\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"controller\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  build controller. This should only be set if the definition type is Xaml.\";s:4:\"$ref\";s:29:\"#/definitions/BuildController\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  definition associated with the build\";s:4:\"$ref\";s:33:\"#/definitions/DefinitionReference\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Indicates
  whether the build has been deleted.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"deletedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Process
  or person that deleted the build\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"deletedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Date
  the build was deleted\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"deletedReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Description
  of how the build was deleted\";s:4:\"type\";s:6:\"string\";}s:7:\"demands\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Demands\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Demand\";}}s:10:\"finishTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Time
  that the build was completed\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Id
  of the build\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"keepForever\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"lastChangedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Process
  or person that last changed the build\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastChangedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Date
  the build was last changed\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"logs\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Log
  location of the build\";s:4:\"$ref\";s:31:\"#/definitions/BuildLogReference\";}s:17:\"orchestrationPlan\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Orchestration
  plan for the build\";s:4:\"$ref\";s:44:\"#/definitions/TaskOrchestrationPlanReference\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Parameters
  for the build\";s:4:\"type\";s:6:\"string\";}s:5:\"plans\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Orchestration
  plans associated with the build (build, cleanup)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/TaskOrchestrationPlanReference\";}}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  build's priority\";s:4:\"enum\";a:5:{i:0;s:3:\"low\";i:1;s:11:\"belowNormal\";i:2;s:6:\"normal\";i:3;s:11:\"aboveNormal\";i:4;s:4:\"high\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:51:\"Microsoft.TeamFoundation.Build.WebApi.QueuePriority\";}}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  team project\";s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PropertiesCollection\";}s:7:\"quality\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Quality
  of the xaml build (good, bad, etc.)\";s:4:\"type\";s:6:\"string\";}s:5:\"queue\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  queue. This should only be set if the definition type is Build.\";s:4:\"$ref\";s:28:\"#/definitions/AgentPoolQueue\";}s:12:\"queueOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Queue
  option of the build.\";s:4:\"enum\";a:2:{i:0;s:4:\"none\";i:1;s:8:\"doNotRun\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:50:\"Microsoft.TeamFoundation.Build.WebApi.QueueOptions\";}}s:13:\"queuePosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  current position of the build in the queue\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"queueTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Time
  that the build was queued\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"reason\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reason
  that the build was created\";s:4:\"enum\";a:11:{i:0;s:4:\"none\";i:1;s:6:\"manual\";i:2;s:12:\"individualCI\";i:3;s:9:\"batchedCI\";i:4;s:8:\"schedule\";i:5;s:11:\"userCreated\";i:6;s:17:\"validateShelveset\";i:7;s:16:\"checkInShelveset\";i:8;s:11:\"pullRequest\";i:9;s:9:\"triggered\";i:10;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildReason\";}}s:10:\"repository\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  repository\";s:4:\"$ref\";s:29:\"#/definitions/BuildRepository\";}s:11:\"requestedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  identity that queued the build\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:12:\"requestedFor\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  identity on whose behalf the build was queued\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  build result\";s:4:\"enum\";a:5:{i:0;s:4:\"none\";i:1;s:9:\"succeeded\";i:2;s:18:\"partiallySucceeded\";i:3;s:6:\"failed\";i:4;s:8:\"canceled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildResult\";}}s:17:\"retainedByRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Specifies
  if Build should be retained by Release\";s:4:\"type\";s:7:\"boolean\";}s:12:\"sourceBranch\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Source
  branch\";s:4:\"type\";s:6:\"string\";}s:13:\"sourceVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Source
  version\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Time
  that the build was started\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Status
  of the build\";s:4:\"enum\";a:7:{i:0;s:4:\"none\";i:1;s:10:\"inProgress\";i:2;s:9:\"completed\";i:3;s:10:\"cancelling\";i:4;s:9:\"postponed\";i:5;s:10:\"notStarted\";i:6;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildStatus\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"triggerInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Sourceprovider-specific
  information about what triggered the build\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Uri
  of the build\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"REST
  url of the build\";s:4:\"type\";s:6:\"string\";}s:17:\"validationResults\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/BuildRequestValidationResult\";}}}}s:10:\"BuildAgent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:14:\"buildDirectory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"controller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/XamlBuildControllerReference\";}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"messageQueueUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"reservedForBuild\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"server\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/XamlBuildServerReference\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:11:\"unavailable\";i:1;s:9:\"available\";i:2;s:7:\"offline\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.AgentStatus\";}}s:13:\"statusMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"updatedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"BuildAgentReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Name
  of the linked resource (definition name, controller name, etc.)\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  http link to the resource\";s:4:\"type\";s:6:\"string\";}}}s:13:\"BuildArtifact\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  artifact id\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of the artifact\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  actual resource\";s:4:\"$ref\";s:30:\"#/definitions/ArtifactResource\";}}}s:23:\"BuildArtifactAddedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"artifact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BuildArtifact\";}}}s:10:\"BuildBadge\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Data
  representation of a build badge\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"buildId\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Build
  id, if exists that this badge corresponds to\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Self
  Url that generates SVG\";s:4:\"type\";s:6:\"string\";}}}s:27:\"BuildChangesCalculatedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"changes\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Change\";}}}}s:19:\"BuildCompletedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:15:\"BuildController\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/XamlBuildControllerReference\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  date the controller was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  description of the controller.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Indicates
  whether the controller is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  status of the controller.\";s:4:\"enum\";a:3:{i:0;s:11:\"unavailable\";i:1;s:9:\"available\";i:2;s:7:\"offline\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.TeamFoundation.Build.WebApi.ControllerStatus\";}}s:11:\"updatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  date the controller was last updated.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  controller's URI.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"BuildDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BuildDefinitionReference\";}}s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"badgeEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Indicates
  whether badges are enabled for this definition\";s:4:\"type\";s:7:\"boolean\";}s:17:\"buildNumberFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  build number format\";s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  comment entered when saving the definition\";s:4:\"type\";s:6:\"string\";}s:7:\"demands\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Demand\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  description\";s:4:\"type\";s:6:\"string\";}s:12:\"dropLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  drop location for the definition\";s:4:\"type\";s:6:\"string\";}s:21:\"jobAuthorizationScope\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Gets
  or sets the job authorization scope for builds which are queued against this definition\";s:4:\"enum\";a:2:{i:0;s:17:\"projectCollection\";i:1;s:7:\"project\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.Build.WebApi.BuildAuthorizationScope\";}}s:25:\"jobCancelTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Gets
  or sets the job cancel timeout in minutes for builds which are cancelled by user
  for this definition\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:19:\"jobTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Gets
  or sets the job execution timeout in minutes for builds which are queued against
  this definition\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"latestBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:20:\"latestCompletedBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:7:\"options\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BuildOption\";}}s:7:\"process\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  build process.\";s:4:\"$ref\";s:26:\"#/definitions/BuildProcess\";}s:17:\"processParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Process
  Parameters\";s:4:\"$ref\";s:31:\"#/definitions/ProcessParameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PropertiesCollection\";}s:10:\"repository\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  repository\";s:4:\"$ref\";s:29:\"#/definitions/BuildRepository\";}s:14:\"retentionRules\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"triggers\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:14:\"variableGroups\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VariableGroup\";}}s:9:\"variables\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BuildDefinitionVariable\";}}}}s:18:\"BuildDefinition3_2\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"For
  back-compat with extensions that use the old Steps format instead of Process and
  Phases\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BuildDefinitionReference\";}}s:10:\"properties\";O:8:\"stdClass\":20:{s:12:\"badgeEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Indicates
  whether badges are enabled for this definition\";s:4:\"type\";s:7:\"boolean\";}s:5:\"build\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BuildDefinitionStep\";}}s:17:\"buildNumberFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  build number format\";s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  comment entered when saving the definition\";s:4:\"type\";s:6:\"string\";}s:7:\"demands\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Demand\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  description\";s:4:\"type\";s:6:\"string\";}s:12:\"dropLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  drop location for the definition\";s:4:\"type\";s:6:\"string\";}s:21:\"jobAuthorizationScope\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Gets
  or sets the job authorization scope for builds which are queued against this definition\";s:4:\"enum\";a:2:{i:0;s:17:\"projectCollection\";i:1;s:7:\"project\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.Build.WebApi.BuildAuthorizationScope\";}}s:25:\"jobCancelTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Gets
  or sets the job cancel timeout in minutes for builds which are cancelled by user
  for this definition\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:19:\"jobTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Gets
  or sets the job execution timeout in minutes for builds which are queued against
  this definition\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"latestBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:20:\"latestCompletedBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:7:\"options\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BuildOption\";}}s:17:\"processParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Process
  Parameters\";s:4:\"$ref\";s:31:\"#/definitions/ProcessParameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PropertiesCollection\";}s:10:\"repository\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  repository\";s:4:\"$ref\";s:29:\"#/definitions/BuildRepository\";}s:14:\"retentionRules\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"triggers\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:9:\"variables\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BuildDefinitionVariable\";}}}}s:27:\"BuildDefinitionChangedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"changeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"add\";i:1;s:6:\"update\";i:2;s:6:\"delete\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.AuditAction\";}}s:10:\"definition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BuildDefinition\";}}}s:28:\"BuildDefinitionChangingEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"changeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"add\";i:1;s:6:\"update\";i:2;s:6:\"delete\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.AuditAction\";}}s:13:\"newDefinition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BuildDefinition\";}s:18:\"originalDefinition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BuildDefinition\";}}}s:24:\"BuildDefinitionReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DefinitionReference\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:10:\"authoredBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  author of the definition.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:7:\"draftOf\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"If
  this is a draft definition, it might have a parent\";s:4:\"$ref\";s:33:\"#/definitions/DefinitionReference\";}s:7:\"metrics\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BuildMetric\";}}s:7:\"quality\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  quality of the definition document (draft, etc.)\";s:4:\"enum\";a:2:{i:0;s:10:\"definition\";i:1;s:5:\"draft\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:55:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionQuality\";}}s:5:\"queue\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  default queue which should be used for requests.\";s:4:\"$ref\";s:28:\"#/definitions/AgentPoolQueue\";}}}s:23:\"BuildDefinitionRevision\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"changedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"changedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"changeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"add\";i:1;s:6:\"update\";i:2;s:6:\"delete\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.AuditAction\";}}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"definitionUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:29:\"BuildDefinitionSourceProvider\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"definitionUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Uri
  of the associated definition\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"fields
  associated with this build definition\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Id
  of this source provider\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  lst time this source provider was modified\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Name
  of the source provider\";s:4:\"type\";s:6:\"string\";}s:21:\"supportedTriggerTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Which
  trigger types are supported by this definition source provider\";s:4:\"enum\";a:8:{i:0;s:4:\"none\";i:1;s:21:\"continuousIntegration\";i:2;s:28:\"batchedContinuousIntegration\";i:3;s:8:\"schedule\";i:4;s:12:\"gatedCheckIn\";i:5;s:19:\"batchedGatedCheckIn\";i:6;s:11:\"pullRequest\";i:7;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionTriggerType\";}}}}s:19:\"BuildDefinitionStep\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"alwaysRun\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"condition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"continueOnError\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"environment\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"inputs\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"refName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"task\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TaskDefinitionReference\";}s:16:\"timeoutInMinutes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:23:\"BuildDefinitionTemplate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"canDelete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"icons\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"iconTaskId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"template\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BuildDefinition\";}}}s:26:\"BuildDefinitionTemplate3_2\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"For
  back-compat with extensions that use the old Steps format instead of Process and
  Phases\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"canDelete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"icons\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"iconTaskId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"template\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BuildDefinition3_2\";}}}s:23:\"BuildDefinitionVariable\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"allowOverride\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"isSecret\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"BuildDeletedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RealtimeBuildEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}}}s:15:\"BuildDeployment\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"deployment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildSummary\";}s:11:\"sourceBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/XamlBuildReference\";}}}s:19:\"BuildDestroyedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RealtimeBuildEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}}}s:8:\"BuildLog\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Represents
  a build log.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildLogReference\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"createdOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  date the log was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"lastChangedOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  date the log was last changed.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"lineCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  number of lines in the log.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:17:\"BuildLogReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Data
  representation of a build log reference\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  id of the log.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  type of the log location.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  link to the log resource.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"BuildMetric\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Scoped
  date of the metric\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"intValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  int value of the metric\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the metric\";s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  scope of the metric\";s:4:\"type\";s:6:\"string\";}}}s:11:\"BuildOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"definition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BuildOptionDefinitionReference\";}s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"inputs\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:21:\"BuildOptionDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BuildOptionDefinitionReference\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BuildOptionGroupDefinition\";}}s:6:\"inputs\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BuildOptionInputDefinition\";}}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ordinal\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:30:\"BuildOptionDefinitionReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:26:\"BuildOptionGroupDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isExpanded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"BuildOptionInputDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"defaultValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"groupName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"help\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:6:\"string\";i:1;s:7:\"boolean\";i:2;s:10:\"stringList\";i:3;s:5:\"radio\";i:4;s:8:\"pickList\";i:5;s:9:\"multiLine\";i:6;s:12:\"branchFilter\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:58:\"Microsoft.TeamFoundation.Build.WebApi.BuildOptionInputType\";}}s:11:\"visibleRule\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"BuildPollingSummaryEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:12:\"BuildProcess\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"repositories\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BuildRepository\";}}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:20:\"BuildProcessTemplate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"fileExists\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"serverPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"supportedReasons\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:4:\"none\";i:1;s:6:\"manual\";i:2;s:12:\"individualCI\";i:3;s:9:\"batchedCI\";i:4;s:8:\"schedule\";i:5;s:11:\"userCreated\";i:6;s:17:\"validateShelveset\";i:7;s:16:\"checkInShelveset\";i:8;s:11:\"pullRequest\";i:9;s:9:\"triggered\";i:10;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildReason\";}}s:11:\"teamProject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"templateType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"custom\";i:1;s:7:\"default\";i:2;s:7:\"upgrade\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:57:\"Microsoft.TeamFoundation.Build.WebApi.ProcessTemplateType\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"BuildQueuedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:14:\"BuildReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:11:\"buildNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Build
  number/name of the build\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Indicates
  whether the build has been deleted.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"finishTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Time
  that the build was completed\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Id
  of the build\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"queueTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Time
  that the build was queued\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"requestedFor\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  identity on whose behalf the build was queued\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  build result\";s:4:\"enum\";a:5:{i:0;s:4:\"none\";i:1;s:9:\"succeeded\";i:2;s:18:\"partiallySucceeded\";i:3;s:6:\"failed\";i:4;s:8:\"canceled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildResult\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Time
  that the build was started\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Status
  of the build\";s:4:\"enum\";a:7:{i:0;s:4:\"none\";i:1;s:10:\"inProgress\";i:2;s:9:\"completed\";i:3;s:10:\"cancelling\";i:4;s:9:\"postponed\";i:5;s:10:\"notStarted\";i:6;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildStatus\";}}}}s:19:\"BuildReportMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"buildId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"BuildRepository\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"checkoutSubmodules\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"clean\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Indicates
  whether to clean the target folder when getting code from the repository. This is
  a String so that it can reference variables.\";s:4:\"type\";s:6:\"string\";}s:13:\"defaultBranch\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets the name of the default branch.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Gets
  or sets the friendly name of the repository.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"rootFolder\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the root folder.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets the type of the repository.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Gets
  or sets the url of the repository.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"BuildRequestValidationResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:2:\"oK\";i:1;s:7:\"warning\";i:2;s:5:\"error\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.TeamFoundation.Build.WebApi.ValidationResult\";}}}}s:18:\"BuildResourceUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"distributedTaskAgents\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"paidPrivateAgentSlots\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"totalUsage\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"xamlControllers\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:11:\"BuildServer\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"agents\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BuildAgentReference\";}}s:10:\"controller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/XamlBuildControllerReference\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"isVirtual\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"messageQueueUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"requireClientCertificates\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"online\";i:1;s:7:\"offline\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:55:\"Microsoft.TeamFoundation.Build.WebApi.ServiceHostStatus\";}}s:17:\"statusChangedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:13:\"BuildSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:36:\"daysToKeepDeletedBuildsBeforeDestroy\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:22:\"defaultRetentionPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}s:22:\"maximumRetentionPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}}}s:17:\"BuildStartedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:12:\"BuildSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/XamlBuildReference\";}s:10:\"finishTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"keepForever\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"quality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:4:\"none\";i:1;s:6:\"manual\";i:2;s:12:\"individualCI\";i:3;s:9:\"batchedCI\";i:4;s:8:\"schedule\";i:5;s:11:\"userCreated\";i:6;s:17:\"validateShelveset\";i:7;s:16:\"checkInShelveset\";i:8;s:11:\"pullRequest\";i:9;s:9:\"triggered\";i:10;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildReason\";}}s:12:\"requestedFor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:4:\"none\";i:1;s:10:\"inProgress\";i:2;s:9:\"completed\";i:3;s:10:\"cancelling\";i:4;s:9:\"postponed\";i:5;s:10:\"notStarted\";i:6;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildStatus\";}}}}s:12:\"BuildTrigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"triggerType\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"enum\";a:8:{i:0;s:4:\"none\";i:1;s:21:\"continuousIntegration\";i:2;s:28:\"batchedContinuousIntegration\";i:3;s:8:\"schedule\";i:4;s:12:\"gatedCheckIn\";i:5;s:19:\"batchedGatedCheckIn\";i:6;s:11:\"pullRequest\";i:7;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionTriggerType\";}}}}s:17:\"BuildUpdatedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RealtimeBuildEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}}}s:14:\"BuildWorkspace\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"mappings\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MappingDetails\";}}}}s:6:\"Change\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  a change associated with a build.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  author of the change.\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:10:\"displayUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  location of a user-friendly representation of the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Something
  that identifies the change. For a commit, this would be the SHA1. For a TFVC changeset,
  this would be the changeset id.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  location of the full representation of the resource.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"A
  description of the change. This might be a commit message or changeset description.\";s:4:\"type\";s:6:\"string\";}s:16:\"messageTruncated\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Indicates
  whether the message was truncated\";s:4:\"type\";s:7:\"boolean\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  timestamp for the change.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  type of change. \"commit\", \"changeset\", etc.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ConsoleLogEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RealtimeBuildEvent\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"lines\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"timelineId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:16:\"timelineRecordId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:30:\"ContinuousDeploymentDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"connectedService\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  connected service associated with the continuous deployment\";s:4:\"$ref\";s:39:\"#/definitions/WebApiConnectedServiceRef\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  definition associated with the continuous deployment\";s:4:\"$ref\";s:37:\"#/definitions/XamlDefinitionReference\";}s:9:\"gitBranch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"hostedServiceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}s:12:\"repositoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"storageAccountName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"subscriptionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"webspace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:28:\"ContinuousIntegrationTrigger\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"batchChanges\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"branchFilters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:28:\"maxConcurrentBuildsPerBranch\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"pathFilters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"pollingInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  polling interval in seconds.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"pollingJobId\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"This
  is the id of the polling job that polls the external repository.  Once the build
  definition is saved/updated, this value is set.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:21:\"DataSourceBindingBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"dataSourceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"endpointId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"endpointUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"resultSelector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"resultTemplate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"DefinitionReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  reference to a definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  date the definition was created\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Name
  of the linked resource (definition name, controller name, etc.)\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  path this definitions belongs to\";s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"The
  project.\";s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}s:11:\"queueStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"If
  builds can be queued from this definition\";s:4:\"enum\";a:3:{i:0;s:7:\"enabled\";i:1;s:6:\"paused\";i:2;s:8:\"disabled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionQueueStatus\";}}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  definition revision number.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  type of the definition.\";s:4:\"enum\";a:2:{i:0;s:4:\"xaml\";i:1;s:5:\"build\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:52:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionType\";}}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  Uri of the definition\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  http link to the resource\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Demand\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:10:\"Dependency\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"event\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Deployment\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Represents
  the data from the build information nodes for type \"DeploymentInformation\" for
  xaml builds\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"DeploymentBuild\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Deployment
  information for type \"Build\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"buildId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:16:\"DeploymentDeploy\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Deployment
  information for type \"Deploy\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"DeploymentTest\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Deployment
  information for type \"Test\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"runId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:15:\"DesignerProcess\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildProcess\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"phases\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Phase\";}}}}s:6:\"Folder\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"createdBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Process
  or person who created the folder\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:9:\"createdOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Creation
  date of the folder\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  description of the folder\";s:4:\"type\";s:6:\"string\";}s:13:\"lastChangedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Process
  or person that last changed the folder\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastChangedDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Date
  the folder was last changed\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  path of the folder\";s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"The
  project.\";s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}}}s:19:\"GatedCheckInTrigger\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"pathFilters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:24:\"runContinuousIntegration\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"useWorkspaceMappings\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:11:\"IdentityRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"directoryAlias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"inactive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"isAadIdentity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"isContainer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"profileUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"uniqueName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"InformationNode\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Data
  representation of an information node associated with a build\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Fields
  of the information node\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"lastModifiedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Process
  or person that last modified this node\";s:4:\"type\";s:6:\"string\";}s:16:\"lastModifiedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Date
  this node was last modified\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"nodeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Node
  Id of this information node\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"parentId\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Id
  of parent node (xml tree)\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  type of the information node\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Issue\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"error\";i:1;s:7:\"warning\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:47:\"Microsoft.TeamFoundation.Build.WebApi.IssueType\";}}}}s:17:\"JsonPatchDocument\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  JSON model for JSON Patch Operations\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:18:\"JsonPatchOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  JSON model for a JSON Patch operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  path to copy from for the Move/Copy operation.\";s:4:\"type\";s:6:\"string\";}s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  patch operation\";s:4:\"enum\";a:6:{i:0;s:3:\"add\";i:1;s:6:\"remove\";i:2;s:7:\"replace\";i:3;s:4:\"move\";i:4;s:4:\"copy\";i:5;s:4:\"test\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.VisualStudio.Services.WebApi.Patch.Operation\";}}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  path for the operation\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value for the operation. This is either a primitive or a JToken.\";s:4:\"type\";s:6:\"object\";}}}s:14:\"MappingDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"localPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"mappingType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"serverPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:29:\"MultipleAgentExecutionOptions\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AgentTargetExecutionOptions\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"maxConcurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:5:\"Phase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"condition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"dependencies\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Dependency\";}}s:21:\"jobAuthorizationScope\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Gets
  or sets the job authorization scope for builds which are queued against this definition\";s:4:\"enum\";a:2:{i:0;s:17:\"projectCollection\";i:1;s:7:\"project\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.Build.WebApi.BuildAuthorizationScope\";}}s:25:\"jobCancelTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Gets
  or sets the job cancel timeout in minutes for builds which are cancelled by user
  for this definition\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:19:\"jobTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Gets
  or sets the job execution timeout in minutes for builds which are queued against
  this definition\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the phase.\";s:4:\"type\";s:6:\"string\";}s:5:\"steps\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BuildDefinitionStep\";}}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PhaseTarget\";}s:9:\"variables\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BuildDefinitionVariable\";}}}}s:11:\"PhaseTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:17:\"ProcessParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"dataSourceBindings\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DataSourceBindingBase\";}}s:6:\"inputs\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TaskInputDefinitionBase\";}}s:17:\"sourceDefinitions\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TaskSourceDefinitionBase\";}}}}s:20:\"PropertiesCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  count of properties in the collection.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"item\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"keys\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  set of keys in the collection.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"values\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  set of values in the collection.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:18:\"PullRequestTrigger\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"branchFilters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:18:\"RealtimeBuildEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"buildId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:14:\"ReferenceLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"The
  class to represent a collection of REST reference links.  Example: `{ self: { href:
  \"http://localhost:8080/tfs/DefaultCollection/_apis/wit/workItems/1\" } }`\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"The
  readonly view of the links.  Because Reference links are readonly, we only want
  to expose them as read only.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:11:\"ResourceRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"RetentionPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"artifacts\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:21:\"artifactTypesToDelete\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"branches\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"daysToKeep\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:17:\"deleteBuildRecord\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"deleteTestResults\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"minimumToKeep\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"Schedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"branchFilters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"daysToBuild\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Days
  for a build (flags enum for days of the week)\";s:4:\"enum\";a:9:{i:0;s:4:\"none\";i:1;s:6:\"monday\";i:2;s:7:\"tuesday\";i:3;s:9:\"wednesday\";i:4;s:8:\"thursday\";i:5;s:6:\"friday\";i:6;s:8:\"saturday\";i:7;s:6:\"sunday\";i:8;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:50:\"Microsoft.TeamFoundation.Build.WebApi.ScheduleDays\";}}s:13:\"scheduleJobId\";O:8:\"stdClass\":3:{s:11:\"description\";s:383:\"The
  Job Id of the Scheduled job that will queue the scheduled build. Since a single
  trigger can have multiple schedules and we want a single job to process a single
  schedule (since each schedule has a list of branches to build), the schedule itself
  needs to define the Job Id. This value will be filled in when a definition is added
  or updated.  The UI does not provide it or use it.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:10:\"startHours\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Local
  timezone hour to start\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"startMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Local
  timezone minute to start\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"timeZoneId\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Time
  zone of the build schedule (string representation of the time zone id)\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ScheduleTrigger\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"schedules\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";}}}}s:12:\"ServerTarget\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PhaseTarget\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"executionOptions\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  execution options.\";s:4:\"$ref\";s:42:\"#/definitions/ServerTargetExecutionOptions\";}}}s:28:\"ServerTargetExecutionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:17:\"SvnMappingDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"depth\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"ignoreExternals\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"localPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"serverPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"SvnWorkspace\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"mappings\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SvnMappingDetails\";}}}}s:23:\"SyncBuildCompletedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:21:\"SyncBuildStartedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildUpdatedEvent\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:22:\"TaskAgentPoolReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"isHosted\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Gets
  or sets a value indicating whether or not this pool is managed by the service.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"TaskDefinitionReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"definitionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"versionSpec\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"TaskInputDefinitionBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"defaultValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"groupName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"helpMarkDown\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"validation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TaskInputValidation\";}s:11:\"visibleRule\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"TaskInputValidation\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Conditional
  expression\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Message
  explaining how user can correct if validation fails\";s:4:\"type\";s:6:\"string\";}}}s:35:\"TaskOrchestrationPlanGroupReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"planGroup\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:39:\"TaskOrchestrationPlanGroupsStartedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"planGroups\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/TaskOrchestrationPlanGroupReference\";}}}}s:30:\"TaskOrchestrationPlanReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"orchestrationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Orchestration
  Type for Build (build, cleanup etc.)\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"planId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:13:\"TaskReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"TaskSourceDefinitionBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"endpoint\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"keySelector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"selector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"TeamProjectReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  a shallow reference to a TeamProject.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"abbreviation\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Project
  abbreviation.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  project's description (if any).\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Project
  identifier.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Project
  name.\";s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Project
  revision.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Project
  state.\";s:4:\"enum\";a:7:{i:0;s:8:\"deleting\";i:1;s:3:\"new\";i:2;s:10:\"wellFormed\";i:3;s:13:\"createPending\";i:4;s:3:\"all\";i:5;s:9:\"unchanged\";i:6;s:7:\"deleted\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Core.WebApi.ProjectState\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Url
  to the full version of the object.\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Project
  visibility.\";s:4:\"enum\";a:4:{i:0;s:9:\"unchanged\";i:1;s:7:\"private\";i:2;s:12:\"organization\";i:3;s:6:\"public\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.TeamFoundation.Core.WebApi.ProjectVisibility\";}}}}s:8:\"Timeline\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TimelineReference\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"lastChangedBy\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"lastChangedOn\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"records\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TimelineRecord\";}}}}s:14:\"TimelineRecord\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:8:\"changeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"currentOperation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TimelineReference\";}s:10:\"errorCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"finishTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:6:\"issues\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Issue\";}}s:12:\"lastModified\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"log\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildLogReference\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"parentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:15:\"percentComplete\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:9:\"succeeded\";i:1;s:19:\"succeededWithIssues\";i:2;s:6:\"failed\";i:3;s:8:\"canceled\";i:4;s:7:\"skipped\";i:5;s:9:\"abandoned\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:48:\"Microsoft.TeamFoundation.Build.WebApi.TaskResult\";}}s:10:\"resultCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"pending\";i:1;s:10:\"inProgress\";i:2;s:9:\"completed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:57:\"Microsoft.TeamFoundation.Build.WebApi.TimelineRecordState\";}}s:4:\"task\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TaskReference\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"warningCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"workerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:27:\"TimelineRecordsUpdatedEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RealtimeBuildEvent\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"timelineRecords\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TimelineRecord\";}}}}s:17:\"TimelineReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"changeId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"VariableGroup\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/VariableGroupReference\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"variables\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BuildDefinitionVariable\";}}}}s:22:\"VariableGroupReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:40:\"VariableMultipliersAgentExecutionOptions\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AgentTargetExecutionOptions\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"maxConcurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"multipliers\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:41:\"VariableMultipliersServerExecutionOptions\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ServerTargetExecutionOptions\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"maxConcurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"multipliers\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:24:\"VssJsonCollectionWrapper\";O:8:\"stdClass\":4:{s:11:\"description\";s:167:\"This
  class is used to serialized collections as a single JSON object on the wire, to
  avoid serializing JSON arrays directly to the client, which can be a security hole\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/VssJsonCollectionWrapperBase\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:1:\"T\";}}}s:28:\"VssJsonCollectionWrapperBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:25:\"WebApiConnectedServiceRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"WorkspaceMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Mapping
  for a workspace\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"definitionUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Uri
  of the associated definition\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"depth\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Depth
  of this mapping\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"localItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"local
  location of the definition\";s:4:\"type\";s:6:\"string\";}s:11:\"mappingType\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"type
  of workspace mapping\";s:4:\"enum\";a:2:{i:0;s:3:\"map\";i:1;s:5:\"cloak\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:58:\"Microsoft.TeamFoundation.Build.WebApi.WorkspaceMappingType\";}}s:10:\"serverItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Server
  location of the definition\";s:4:\"type\";s:6:\"string\";}s:11:\"workspaceId\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Id
  of the workspace\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:17:\"WorkspaceTemplate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"definitionUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Uri
  of the associated definition\";s:4:\"type\";s:6:\"string\";}s:14:\"lastModifiedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  identity that last modified this template\";s:4:\"type\";s:6:\"string\";}s:16:\"lastModifiedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  last time this template was modified\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"mappings\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of workspace mappings\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/WorkspaceMapping\";}}s:11:\"workspaceId\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Id
  of the workspace for this template\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:28:\"XamlBuildControllerReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Name
  of the linked resource (definition name, controller name, etc.)\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  http link to the resource\";s:4:\"type\";s:6:\"string\";}}}s:19:\"XamlBuildDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DefinitionReference\";}}s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:9:\"batchSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Batch
  size of the definition\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"buildArgs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"continuousIntegrationQuietPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  continuous integration quiet period\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"controller\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  build controller\";s:4:\"$ref\";s:29:\"#/definitions/BuildController\";}s:9:\"createdOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  date this definition was created\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:19:\"defaultDropLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Default
  drop location for builds from this definition\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Description
  of the definition\";s:4:\"type\";s:6:\"string\";}s:9:\"lastBuild\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  last build on this definition\";s:4:\"$ref\";s:32:\"#/definitions/XamlBuildReference\";}s:10:\"repository\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  repository\";s:4:\"$ref\";s:29:\"#/definitions/BuildRepository\";}s:16:\"supportedReasons\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  reasons supported by the template\";s:4:\"enum\";a:11:{i:0;s:4:\"none\";i:1;s:6:\"manual\";i:2;s:12:\"individualCI\";i:3;s:9:\"batchedCI\";i:4;s:8:\"schedule\";i:5;s:11:\"userCreated\";i:6;s:17:\"validateShelveset\";i:7;s:16:\"checkInShelveset\";i:8;s:11:\"pullRequest\";i:9;s:9:\"triggered\";i:10;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Build.WebApi.BuildReason\";}}s:11:\"triggerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"How
  builds are triggered from this definition\";s:4:\"enum\";a:8:{i:0;s:4:\"none\";i:1;s:21:\"continuousIntegration\";i:2;s:28:\"batchedContinuousIntegration\";i:3;s:8:\"schedule\";i:4;s:12:\"gatedCheckIn\";i:5;s:19:\"batchedGatedCheckIn\";i:6;s:11:\"pullRequest\";i:7;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:59:\"Microsoft.TeamFoundation.Build.WebApi.DefinitionTriggerType\";}}}}s:18:\"XamlBuildReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Name
  of the linked resource (definition name, controller name, etc.)\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  http link to the resource\";s:4:\"type\";s:6:\"string\";}}}s:24:\"XamlBuildServerReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Name
  of the linked resource (definition name, controller name, etc.)\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  http link to the resource\";s:4:\"type\";s:6:\"string\";}}}s:23:\"XamlDefinitionReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Name
  of the linked resource (definition name, controller name, etc.)\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  http link to the resource\";s:4:\"type\";s:6:\"string\";}}}s:11:\"YamlProcess\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildProcess\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"yamlFilename\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
