---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:7:\"Project\";s:11:\"description\";s:0:\"\";s:14:\"termsOfService\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"nugetvss\";s:5:\"email\";s:22:\"nugetvss@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"MICROSOFT
  SOFTWARE LICENSE TERMS\";s:3:\"url\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";}s:7:\"version\";s:3:\"4.1\";}"
host: fabrikam-fiber-inc.visualstudio.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:17:\"JsonPatchDocument\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  JSON model for JSON Patch Operations\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:18:\"JsonPatchOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  JSON model for a JSON Patch operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  path to copy from for the Move/Copy operation.\";s:4:\"type\";s:6:\"string\";}s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  patch operation\";s:4:\"enum\";a:6:{i:0;s:3:\"add\";i:1;s:6:\"remove\";i:2;s:7:\"replace\";i:3;s:4:\"move\";i:4;s:4:\"copy\";i:5;s:4:\"test\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.VisualStudio.Services.WebApi.Patch.Operation\";}}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  path for the operation\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value for the operation. This is either a primitive or a JToken.\";s:4:\"type\";s:6:\"object\";}}}s:11:\"ProjectInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Contains
  information of the project\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"abbreviation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:14:\"lastUpdateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ProjectProperty\";}}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Current
  revision of the project\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:8:\"deleting\";i:1;s:3:\"new\";i:2;s:10:\"wellFormed\";i:3;s:13:\"createPending\";i:4;s:3:\"all\";i:5;s:9:\"unchanged\";i:6;s:7:\"deleted\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Core.WebApi.ProjectState\";}}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"visibility\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:9:\"unchanged\";i:1;s:7:\"private\";i:2;s:12:\"organization\";i:3;s:6:\"public\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.TeamFoundation.Core.WebApi.ProjectVisibility\";}}}}s:15:\"ProjectProperty\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:20:\"TeamProjectReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  a shallow reference to a TeamProject.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"abbreviation\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Project
  abbreviation.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  project's description (if any).\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Project
  identifier.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Project
  name.\";s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Project
  revision.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Project
  state.\";s:4:\"enum\";a:7:{i:0;s:8:\"deleting\";i:1;s:3:\"new\";i:2;s:10:\"wellFormed\";i:3;s:13:\"createPending\";i:4;s:3:\"all\";i:5;s:9:\"unchanged\";i:6;s:7:\"deleted\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Core.WebApi.ProjectState\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Url
  to the full version of the object.\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Project
  visibility.\";s:4:\"enum\";a:4:{i:0;s:9:\"unchanged\";i:1;s:7:\"private\";i:2;s:12:\"organization\";i:3;s:6:\"public\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.TeamFoundation.Core.WebApi.ProjectVisibility\";}}}}s:24:\"VssJsonCollectionWrapper\";O:8:\"stdClass\":4:{s:11:\"description\";s:167:\"This
  class is used to serialized collections as a single JSON object on the wire, to
  avoid serializing JSON arrays directly to the client, which can be a security hole\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/VssJsonCollectionWrapperBase\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:1:\"T\";}}}s:28:\"VssJsonCollectionWrapperBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:34:\"GET__projects__project__properties\";O:8:\"stdClass\":4:{s:10:\"parameters\";O:8:\"stdClass\":1:{s:7:\"project\";s:36:\"94e82dfb-8ce4-430c-aa97-07ee10c83d5f\";}s:9:\"responses\";O:8:\"stdClass\":1:{s:3:\"200\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:5:\"count\";i:8;s:5:\"value\";a:8:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:31:\"System.CurrentProcessTemplateId\";s:5:\"value\";s:36:\"2dc3221a-2d39-4138-a4e1-fc4d20d8912d\";}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"System.OriginalProcessTemplateId\";s:5:\"value\";s:36:\"2dc3221a-2d39-4138-a4e1-fc4d20d8912d\";}i:2;O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"System.ProcessTemplateType\";s:5:\"value\";s:36:\"adcc42ab-9882-485e-a3ed-7678f01f66bc\";}i:3;O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"System.Process
  Template\";s:5:\"value\";s:5:\"Agile\";}i:4;O:8:\"stdClass\":2:{s:4:\"name\";s:44:\"System.Microsoft.TeamFoundation.Team.Default\";s:5:\"value\";s:36:\"9b7ae5b9-826f-4353-99d6-daaa5cd94ec6\";}i:5;O:8:\"stdClass\":2:{s:4:\"name\";s:35:\"System.SourceControlCapabilityFlags\";s:5:\"value\";s:1:\"2\";}i:6;O:8:\"stdClass\":2:{s:4:\"name\";s:30:\"System.SourceControlGitEnabled\";s:5:\"value\";s:4:\"True\";}i:7;O:8:\"stdClass\":2:{s:4:\"name\";s:45:\"System.SourceControlGitPermissionsInitialized\";s:5:\"value\";s:4:\"True\";}}}}}s:17:\"x-ms-vss-migrated\";b:1;s:24:\"x-ms-vss-example-request\";O:8:\"stdClass\":1:{s:3:\"url\";s:120:\"https://fabrikam.visualstudio.com/_apis/projects/94e82dfb-8ce4-430c-aa97-07ee10c83d5f/properties?api-version=4.0-preview\";}}s:65:\"GET__projects__project__properties_keys-_propertyName_,_wildcard_\";O:8:\"stdClass\":4:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"keys\";s:47:\"System.CurrentProcessTemplateId,*SourceControl*\";s:7:\"project\";s:36:\"94e82dfb-8ce4-430c-aa97-07ee10c83d5f\";}s:9:\"responses\";O:8:\"stdClass\":1:{s:3:\"200\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:5:\"count\";i:4;s:5:\"value\";a:4:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:31:\"System.CurrentProcessTemplateId\";s:5:\"value\";s:36:\"2dc3221a-2d39-4138-a4e1-fc4d20d8912d\";}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:35:\"System.SourceControlCapabilityFlags\";s:5:\"value\";s:1:\"2\";}i:2;O:8:\"stdClass\":2:{s:4:\"name\";s:30:\"System.SourceControlGitEnabled\";s:5:\"value\";s:4:\"True\";}i:3;O:8:\"stdClass\":2:{s:4:\"name\";s:45:\"System.SourceControlGitPermissionsInitialized\";s:5:\"value\";s:4:\"True\";}}}}}s:17:\"x-ms-vss-migrated\";b:1;s:24:\"x-ms-vss-example-request\";O:8:\"stdClass\":1:{s:3:\"url\";s:173:\"https://fabrikam.visualstudio.com/_apis/projects/94e82dfb-8ce4-430c-aa97-07ee10c83d5f/properties?keys=System.CurrentProcessTemplateId,*SourceControl*&api-version=4.0-preview\";}}s:36:\"PATCH__projects__project__properties\";O:8:\"stdClass\":4:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:7:\"project\";s:36:\"94e82dfb-8ce4-430c-aa97-07ee10c83d5f\";s:4:\"body\";a:1:{i:0;O:8:\"stdClass\":3:{s:2:\"op\";s:3:\"add\";s:4:\"path\";s:6:\"/Alias\";s:5:\"value\";s:9:\"Frabrikam\";}}}s:9:\"responses\";O:8:\"stdClass\":1:{s:3:\"204\";O:8:\"stdClass\":0:{}}s:17:\"x-ms-vss-migrated\";b:1;s:24:\"x-ms-vss-example-request\";O:8:\"stdClass\":1:{s:3:\"url\";s:120:\"https://fabrikam.visualstudio.com/_apis/projects/94e82dfb-8ce4-430c-aa97-07ee10c83d5f/properties?api-version=4.0-preview\";}}s:37:\"PATCH__projects__project__properties2\";O:8:\"stdClass\":4:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:7:\"project\";s:36:\"94e82dfb-8ce4-430c-aa97-07ee10c83d5f\";s:4:\"body\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"op\";s:6:\"remove\";s:4:\"path\";s:6:\"/Alias\";}}}s:9:\"responses\";O:8:\"stdClass\":1:{s:3:\"204\";O:8:\"stdClass\":0:{}}s:17:\"x-ms-vss-migrated\";b:1;s:24:\"x-ms-vss-example-request\";O:8:\"stdClass\":1:{s:3:\"url\";s:120:\"https://fabrikam.visualstudio.com/_apis/projects/94e82dfb-8ce4-430c-aa97-07ee10c83d5f/properties?api-version=4.0-preview\";}}}"
...
