---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:12:\"ServiceHooks\";s:11:\"description\";s:0:\"\";s:14:\"termsOfService\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"nugetvss\";s:5:\"email\";s:22:\"nugetvss@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"MICROSOFT
  SOFTWARE LICENSE TERMS\";s:3:\"url\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";}s:7:\"version\";s:3:\"4.1\";}"
host: fabrikam-fiber-inc.visualstudio.com
basePath: /
paths:
  /_apis/hooks/subscriptions:
    get:
      tags:
      - Subscriptions
      x-ms-vss-resource: subscriptions
      x-ms-vss-method: ListSubscriptions
      description: ""
      operationId: Subscriptions_List
      produces:
      - application/json
      parameters:
      - in: query
        name: publisherId
        description: ""
        required: false
        type: string
      - in: query
        name: eventType
        description: ""
        required: false
        type: string
      - in: query
        name: consumerId
        description: ""
        required: false
        type: string
      - in: query
        name: consumerActionId
        description: ""
        required: false
        type: string
      - $ref: '#/parameters/api-Version'
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Subscription'
      x-internal-toc-name: Subscriptions_List
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":31:{s:8:\"Consumer\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Defines
  the data contract of a consumer.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"_links\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Reference
  Links\";s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:7:\"actions\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  this consumer's actions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ConsumerAction\";}}s:18:\"authenticationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Gets
  or sets this consumer's authentication type.\";s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:5:\"oAuth\";i:2;s:8:\"external\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:70:\"Microsoft.VisualStudio.Services.ServiceHooks.WebApi.AuthenticationType\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Gets
  or sets this consumer's localized description.\";s:4:\"type\";s:6:\"string\";}s:21:\"externalConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Non-null
  only if subscriptions for this consumer are configured externally.\";s:4:\"$ref\";s:45:\"#/definitions/ExternalConfigurationDescriptor\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets this consumer's identifier.\";s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Gets
  or sets this consumer's image URL, if any.\";s:4:\"type\";s:6:\"string\";}s:14:\"informationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Gets
  or sets this consumer's information URL, if any.\";s:4:\"type\";s:6:\"string\";}s:16:\"inputDescriptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Gets
  or sets this consumer's input descriptors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InputDescriptor\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets this consumer's localized name.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  url for this resource\";s:4:\"type\";s:6:\"string\";}}}s:14:\"ConsumerAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Defines
  the data contract of a consumer action.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_links\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Reference
  Links\";s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:28:\"allowResourceVersionOverride\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Gets
  or sets the flag indicating if resource version can be overridden when creating
  or editing a subscription.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"consumerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  or sets the identifier of the consumer to which this action belongs.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Gets
  or sets this action's localized description.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Gets
  or sets this action's identifier.\";s:4:\"type\";s:6:\"string\";}s:16:\"inputDescriptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Gets
  or sets this action's input descriptors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InputDescriptor\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Gets
  or sets this action's localized name.\";s:4:\"type\";s:6:\"string\";}s:19:\"supportedEventTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Gets
  or sets this action's supported event identifiers.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"supportedResourceVersions\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Gets
  or sets this action's supported resource versions.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"array\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  url for this resource\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Event\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Encapsulates
  the properties of an event.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Gets
  or sets the UTC-based date and time that this event was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"detailedMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Gets
  or sets the detailed message associated with this event.\";s:4:\"$ref\";s:35:\"#/definitions/FormattedEventMessage\";}s:9:\"eventType\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Gets
  or sets the type of this event.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Gets
  or sets the unique identifier of this event.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Gets
  or sets the (brief) message associated with this event.\";s:4:\"$ref\";s:35:\"#/definitions/FormattedEventMessage\";}s:11:\"publisherId\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Gets
  or sets the identifier of the publisher that raised this event.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Gets
  or sets the data associated with this event.\";s:4:\"type\";s:6:\"object\";}s:18:\"resourceContainers\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Gets
  or sets the resource containers.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceContainer\";}}s:15:\"resourceVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Gets
  or sets the version of the data associated with this event.\";s:4:\"type\";s:6:\"string\";}s:12:\"sessionToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Gets
  or sets the Session Token that can be used in further interactions\";s:4:\"$ref\";s:26:\"#/definitions/SessionToken\";}}}s:19:\"EventTypeDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Describes
  a type of event\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"A
  localized description of the event type\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"A
  unique id for the event type\";s:4:\"type\";s:6:\"string\";}s:16:\"inputDescriptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Event-specific
  inputs\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InputDescriptor\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  localized friendly name for the event type\";s:4:\"type\";s:6:\"string\";}s:11:\"publisherId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"A
  unique id for the publisher of this event type\";s:4:\"type\";s:6:\"string\";}s:25:\"supportedResourceVersions\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Supported
  versions for the event's resource payloads.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  url for this resource\";s:4:\"type\";s:6:\"string\";}}}s:31:\"ExternalConfigurationDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Describes
  how to configure a subscription that is managed externally.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"createSubscriptionUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Url
  of the site to create this type of subscription.\";s:4:\"type\";s:6:\"string\";}s:28:\"editSubscriptionPropertyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  name of an input property that contains the URL to edit a subscription.\";s:4:\"type\";s:6:\"string\";}s:10:\"hostedOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"True
  if the external configuration applies only to hosted.\";s:4:\"type\";s:7:\"boolean\";}}}s:21:\"FormattedEventMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Provides
  different formats of an event message\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"html\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Gets
  or sets the html format of the message\";s:4:\"type\";s:6:\"string\";}s:8:\"markdown\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Gets
  or sets the markdown format of the message\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets the raw text of the message\";s:4:\"type\";s:6:\"string\";}}}s:11:\"IdentityRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"directoryAlias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"inactive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"isAadIdentity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"isContainer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"profileUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"uniqueName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"InputDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Describes
  an input for subscriptions.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:18:\"dependencyInputIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  ids of all inputs that the value of this input is dependent on.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Description
  of what this input is used for\";s:4:\"type\";s:6:\"string\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  group localized name to which this input belongs and can be shown as a header for
  the container that will include all the inputs in the group.\";s:4:\"type\";s:6:\"string\";}s:26:\"hasDynamicValueInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"If
  true, the value information for this input is dynamic and should be fetched when
  the value of dependency inputs change.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Identifier
  for the subscription input\";s:4:\"type\";s:6:\"string\";}s:9:\"inputMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Mode
  in which the value of this input should be entered\";s:4:\"enum\";a:7:{i:0;s:4:\"none\";i:1;s:7:\"textBox\";i:2;s:11:\"passwordBox\";i:3;s:5:\"combo\";i:4;s:12:\"radioButtons\";i:5;s:8:\"checkBox\";i:6;s:8:\"textArea\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:51:\"Microsoft.VisualStudio.Services.FormInput.InputMode\";}}s:14:\"isConfidential\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Gets
  whether this input is confidential, such as for a password or application key\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Localized
  name which can be shown as a label for the subscription input\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Custom
  properties for the input which can be used by the service provider\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"Underlying
  data type for the input value. When this value is specified, InputMode, Validation
  and Values are optional.\";s:4:\"type\";s:6:\"string\";}s:23:\"useInDefaultDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Gets
  whether this input is included in the default generated action description.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"validation\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Information
  to use to validate this input's value\";s:4:\"$ref\";s:29:\"#/definitions/InputValidation\";}s:9:\"valueHint\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"A
  hint for input value. It can be used in the UI as the input placeholder.\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Information
  about possible values for this input\";s:4:\"$ref\";s:25:\"#/definitions/InputValues\";}}}s:11:\"InputFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Defines
  a filter for subscription inputs. The filter matches a set of inputs if any (one
  or more) of the groups evaluates to true.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"conditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Groups
  of input filter expressions. This filter matches a set of inputs if any (one or
  more) of the groups evaluates to true.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/InputFilterCondition\";}}}}s:20:\"InputFilterCondition\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"An
  expression which can be applied to filter a list of subscription inputs\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"caseSensitive\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  or not to do a case sensitive match\";s:4:\"type\";s:7:\"boolean\";}s:7:\"inputId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  Id of the input to filter on\";s:4:\"type\";s:6:\"string\";}s:10:\"inputValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  \"expected\" input value to compare with the actual input value\";s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  operator applied between the expected and actual input value\";s:4:\"enum\";a:2:{i:0;s:6:\"equals\";i:1;s:9:\"notEquals\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.VisualStudio.Services.FormInput.InputFilterOperator\";}}}}s:15:\"InputValidation\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Describes
  what values are valid for a subscription input\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"dataType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:4:\"none\";i:1;s:6:\"string\";i:2;s:6:\"number\";i:3;s:7:\"boolean\";i:4;s:4:\"guid\";i:5;s:3:\"uri\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:55:\"Microsoft.VisualStudio.Services.FormInput.InputDataType\";}}s:10:\"isRequired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"maxLength\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"maxValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"decimal\";}s:9:\"minLength\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"minValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"decimal\";}s:7:\"pattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"patternMismatchErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"InputValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Information
  about a single value for an input\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Any
  other data about this input\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:12:\"displayValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  text to show for the display of this value\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  value to store for this input\";s:4:\"type\";s:6:\"string\";}}}s:11:\"InputValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Information
  about the possible/allowed values for a given subscription input\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  default value to use for this input\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Errors
  encountered while computing dynamic values.\";s:4:\"$ref\";s:30:\"#/definitions/InputValuesError\";}s:7:\"inputId\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  id of the input\";s:4:\"type\";s:6:\"string\";}s:10:\"isDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Should
  this input be disabled\";s:4:\"type\";s:7:\"boolean\";}s:25:\"isLimitedToPossibleValues\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"Should
  the value be restricted to one of the values in the PossibleValues (True) or are
  the values in PossibleValues just a suggestion (False)\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isReadOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Should
  this input be made read-only\";s:4:\"type\";s:7:\"boolean\";}s:14:\"possibleValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Possible
  values that this input can take\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InputValue\";}}}}s:16:\"InputValuesError\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Error
  information related to a subscription input value.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error message.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"InputValuesQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"currentValues\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"inputValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  input values to return on input, and the result from the consumer on output.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InputValues\";}}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Subscription
  containing information about the publisher/consumer and the current input values\";s:4:\"type\";s:6:\"object\";}}}s:12:\"Notification\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Defines
  the data contract of the result of processing an event for a subscription.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Gets
  or sets date and time that this result was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Details
  about this notification (if available)\";s:4:\"$ref\";s:33:\"#/definitions/NotificationDetails\";}s:7:\"eventId\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  event id associated with this notification\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  notification id\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"modifiedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Gets
  or sets date and time that this result was last modified.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Result
  of the notification\";s:4:\"enum\";a:3:{i:0;s:7:\"pending\";i:1;s:9:\"succeeded\";i:2;s:6:\"failed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:70:\"Microsoft.VisualStudio.Services.ServiceHooks.WebApi.NotificationResult\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Status
  of the notification\";s:4:\"enum\";a:4:{i:0;s:6:\"queued\";i:1;s:10:\"processing\";i:2;s:17:\"requestInProgress\";i:3;s:9:\"completed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:70:\"Microsoft.VisualStudio.Services.ServiceHooks.WebApi.NotificationStatus\";}}s:12:\"subscriberId\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"The
  subscriber Id  associated with this notification. This is the last identity who
  touched in the subscription. In case of test notifications it can be the tester
  if the subscription is not created yet.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:14:\"subscriptionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  subscription id associated with this notification\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:19:\"NotificationDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Defines
  the data contract of notification details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:13:\"completedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Gets
  or sets the time that this notification was completed (response received from the
  consumer)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"consumerActionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Gets
  or sets this notification detail's consumer action identifier.\";s:4:\"type\";s:6:\"string\";}s:10:\"consumerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Gets
  or sets this notification detail's consumer identifier.\";s:4:\"type\";s:6:\"string\";}s:14:\"consumerInputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Gets
  or sets this notification detail's consumer inputs.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"dequeuedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Gets
  or sets the time that this notification was dequeued for processing\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"errorDetail\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Gets
  or sets this notification detail's error detail.\";s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Gets
  or sets this notification detail's error message.\";s:4:\"type\";s:6:\"string\";}s:5:\"event\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Gets
  or sets this notification detail's event content.\";s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:9:\"eventType\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Gets
  or sets this notification detail's event type.\";s:4:\"type\";s:6:\"string\";}s:13:\"processedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Gets
  or sets the time that this notification was finished processing (just before the
  request is sent to the consumer)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"publisherId\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Gets
  or sets this notification detail's publisher identifier.\";s:4:\"type\";s:6:\"string\";}s:15:\"publisherInputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Gets
  or sets this notification detail's publisher inputs.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"queuedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Gets
  or sets the time that this notification was queued (created)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"request\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Gets
  or sets this notification detail's request.\";s:4:\"type\";s:6:\"string\";}s:15:\"requestAttempts\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Number
  of requests attempted to be sent to the consumer\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"requestDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Duration
  of the request to the consumer in seconds\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"response\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Gets
  or sets this notification detail's reponse.\";s:4:\"type\";s:6:\"string\";}}}s:32:\"NotificationResultsSummaryDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Summary
  of a particular result and count.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"notificationCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Count
  of notification sent out with a matching result.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Result
  of the notification\";s:4:\"enum\";a:3:{i:0;s:7:\"pending\";i:1;s:9:\"succeeded\";i:2;s:6:\"failed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:70:\"Microsoft.VisualStudio.Services.ServiceHooks.WebApi.NotificationResult\";}}}}s:18:\"NotificationsQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Defines
  a query for service hook notifications.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:23:\"associatedSubscriptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  subscriptions associated with the notifications returned from the query\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Subscription\";}}s:14:\"includeDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"If
  true, we will return all notification history for the query provided; otherwise,
  the summary is returned.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"maxCreatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Optional
  maximum date at which the notification was created\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"maxResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Optional
  maximum number of overall results to include\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:25:\"maxResultsPerSubscription\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Optional
  maximum number of results for each subscription. Only takes effect when a list of
  subscription ids is supplied in the query.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"minCreatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Optional
  minimum date at which the notification was created\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"publisherId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Optional
  publisher id to restrict the results to\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Results
  from the query\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Notification\";}}s:10:\"resultType\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Optional
  notification result type to filter results to\";s:4:\"enum\";a:3:{i:0;s:7:\"pending\";i:1;s:9:\"succeeded\";i:2;s:6:\"failed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:70:\"Microsoft.VisualStudio.Services.ServiceHooks.WebApi.NotificationResult\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Optional
  notification status to filter results to\";s:4:\"enum\";a:4:{i:0;s:6:\"queued\";i:1;s:10:\"processing\";i:2;s:17:\"requestInProgress\";i:3;s:9:\"completed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:70:\"Microsoft.VisualStudio.Services.ServiceHooks.WebApi.NotificationStatus\";}}s:15:\"subscriptionIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Optional
  list of subscription ids to restrict the results to\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}s:7:\"summary\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Summary
  of notifications - the count of each result type (success, fail, ..).\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/NotificationSummary\";}}}}s:19:\"NotificationSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Summary
  of the notifications for a subscription.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  notification results for this particular subscription.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/NotificationResultsSummaryDetail\";}}s:14:\"subscriptionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  subscription id associated with this notification\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:9:\"Publisher\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Defines
  the data contract of an event publisher.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Reference
  Links\";s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  this publisher's localized description.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Gets
  this publisher's identifier.\";s:4:\"type\";s:6:\"string\";}s:16:\"inputDescriptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Publisher-specific
  inputs\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InputDescriptor\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  this publisher's localized name.\";s:4:\"type\";s:6:\"string\";}s:19:\"serviceInstanceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  service instance type of the first party publisher.\";s:4:\"type\";s:6:\"string\";}s:15:\"supportedEvents\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  this publisher's supported event types.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EventTypeDescriptor\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  url for this resource\";s:4:\"type\";s:6:\"string\";}}}s:14:\"PublisherEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Wrapper
  around an event which is being published\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"diagnostics\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"Add
  key/value pairs which will be stored with a published notification in the SH service
  DB.  This key/value pairs are for diagnostic purposes only and will have not effect
  on the delivery of a notificaton.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"event\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  event being published\";s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:14:\"notificationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Gets
  or sets the id of the notification.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"otherResourceVersions\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Gets
  or sets the array of older supported resource versions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/VersionedResource\";}}s:21:\"publisherInputFilters\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Optional
  publisher-input filters which restricts the set of subscriptions which are triggered
  by the event\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InputFilter\";}}}}s:15:\"PublishersQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Defines
  a query for service hook publishers.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"publisherIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Optional
  list of publisher ids to restrict the results to\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"publisherInputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Filter
  for publisher inputs\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Results
  from the query\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Publisher\";}}}}s:14:\"ReferenceLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"The
  class to represent a collection of REST reference links.  Example: `{ self: { href:
  \"http://localhost:8080/tfs/DefaultCollection/_apis/wit/workItems/1\" } }`\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"The
  readonly view of the links.  Because Reference links are readonly, we only want
  to expose them as read only.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:17:\"ResourceContainer\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  base class for all resource containers, i.e. Account, Collection, Project\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"baseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Gets
  or sets the container's base URL, i.e. the URL of the host (collection, application,
  or deploument) containing the container resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Gets
  or sets the container's specific Id.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets the container's name.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Gets
  or sets the container's REST API URL.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"SessionToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Represents
  a session token to be attached in Events for Consumer actions that need it.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  error message in case of error\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  access token\";s:4:\"type\";s:6:\"string\";}s:7:\"validTo\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  expiration date in UTC\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:12:\"Subscription\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Encapsulates
  an event subscription.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:6:\"_links\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Reference
  Links\";s:4:\"$ref\";s:28:\"#/definitions/ReferenceLinks\";}s:17:\"actionDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"consumerActionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"consumerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"consumerInputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Consumer
  input values\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"eventDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"eventType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:10:\"modifiedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:12:\"modifiedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"probationRetries\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"byte\";}s:11:\"publisherId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"publisherInputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Publisher
  input values\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"resourceVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"enabled\";i:1;s:11:\"onProbation\";i:2;s:14:\"disabledByUser\";i:3;s:16:\"disabledBySystem\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:70:\"Microsoft.VisualStudio.Services.ServiceHooks.WebApi.SubscriptionStatus\";}}s:10:\"subscriber\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"SubscriptionsQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Defines
  a query for service hook subscriptions.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"consumerActionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Optional
  consumer action id to restrict the results to (null for any)\";s:4:\"type\";s:6:\"string\";}s:10:\"consumerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Optional
  consumer id to restrict the results to (null for any)\";s:4:\"type\";s:6:\"string\";}s:20:\"consumerInputFilters\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Filter
  for subscription consumer inputs\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InputFilter\";}}s:9:\"eventType\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Optional
  event type id to restrict the results to (null for any)\";s:4:\"type\";s:6:\"string\";}s:11:\"publisherId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Optional
  publisher id to restrict the results to (null for any)\";s:4:\"type\";s:6:\"string\";}s:21:\"publisherInputFilters\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Filter
  for subscription publisher inputs\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InputFilter\";}}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Results
  from the query\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Subscription\";}}s:12:\"subscriberId\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Optional
  subscriber filter.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:17:\"VersionedResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Encapsulates
  the resource version and its data or reference to the compatible version. Only one
  of the two last fields should be not null.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"compatibleWith\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Gets
  or sets the reference to the compatible version.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Gets
  or sets the resource data.\";s:4:\"type\";s:6:\"object\";}s:15:\"resourceVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Gets
  or sets the version of the resource data.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"VssJsonCollectionWrapper\";O:8:\"stdClass\":4:{s:11:\"description\";s:167:\"This
  class is used to serialized collections as a single JSON object on the wire, to
  avoid serializing JSON arrays directly to the client, which can be a security hole\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/VssJsonCollectionWrapperBase\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:1:\"T\";}}}s:28:\"VssJsonCollectionWrapperBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}"
...
