---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:4:\"Test\";s:11:\"description\";s:0:\"\";s:14:\"termsOfService\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"nugetvss\";s:5:\"email\";s:22:\"nugetvss@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"MICROSOFT
  SOFTWARE LICENSE TERMS\";s:3:\"url\";s:46:\"https://go.microsoft.com/fwlink/?LinkId=329770\";}s:7:\"version\";s:3:\"4.1\";}"
host: fabrikam-fiber-inc.visualstudio.com
basePath: /
paths: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":105:{s:28:\"AggregatedDataForResultTrend\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"This
  is tests execution duration.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"TimeSpan\";}s:16:\"resultsByOutcome\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AggregatedResultsByOutcome\";}}s:18:\"testResultsContext\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TestResultsContext\";}s:10:\"totalTests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:25:\"AggregatedResultsAnalysis\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"TimeSpan\";}s:27:\"notReportedResultsByOutcome\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AggregatedResultsByOutcome\";}}s:15:\"previousContext\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TestResultsContext\";}s:16:\"resultsByOutcome\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AggregatedResultsByOutcome\";}}s:17:\"resultsDifference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AggregatedResultsDifference\";}s:10:\"totalTests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:26:\"AggregatedResultsByOutcome\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"TimeSpan\";}s:12:\"groupByField\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"groupByValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"outcome\";O:8:\"stdClass\":2:{s:4:\"enum\";a:16:{i:0;s:11:\"unspecified\";i:1;s:4:\"none\";i:2;s:6:\"passed\";i:3;s:6:\"failed\";i:4;s:12:\"inconclusive\";i:5;s:7:\"timeout\";i:6;s:7:\"aborted\";i:7;s:7:\"blocked\";i:8;s:11:\"notExecuted\";i:9;s:7:\"warning\";i:10;s:5:\"error\";i:11;s:13:\"notApplicable\";i:12;s:6:\"paused\";i:13;s:10:\"inProgress\";i:14;s:11:\"notImpacted\";i:15;s:8:\"maxValue\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:58:\"Microsoft.TeamFoundation.TestManagement.WebApi.TestOutcome\";}}}}s:27:\"AggregatedResultsDifference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"increaseInDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"TimeSpan\";}s:18:\"increaseInFailures\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:20:\"increaseInOtherTests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"increaseInPassedTests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:20:\"increaseInTotalTests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:13:\"BatchResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"responses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:47:{i:0;s:8:\"continue\";i:1;s:18:\"switchingProtocols\";i:2;s:2:\"oK\";i:3;s:7:\"created\";i:4;s:8:\"accepted\";i:5;s:27:\"nonAuthoritativeInformation\";i:6;s:9:\"noContent\";i:7;s:12:\"resetContent\";i:8;s:14:\"partialContent\";i:9;s:15:\"multipleChoices\";i:10;s:9:\"ambiguous\";i:11;s:16:\"movedPermanently\";i:12;s:5:\"moved\";i:13;s:5:\"found\";i:14;s:8:\"redirect\";i:15;s:8:\"seeOther\";i:16;s:14:\"redirectMethod\";i:17;s:11:\"notModified\";i:18;s:8:\"useProxy\";i:19;s:6:\"unused\";i:20;s:17:\"temporaryRedirect\";i:21;s:16:\"redirectKeepVerb\";i:22;s:10:\"badRequest\";i:23;s:12:\"unauthorized\";i:24;s:15:\"paymentRequired\";i:25;s:9:\"forbidden\";i:26;s:8:\"notFound\";i:27;s:16:\"methodNotAllowed\";i:28;s:13:\"notAcceptable\";i:29;s:27:\"proxyAuthenticationRequired\";i:30;s:14:\"requestTimeout\";i:31;s:8:\"conflict\";i:32;s:4:\"gone\";i:33;s:14:\"lengthRequired\";i:34;s:18:\"preconditionFailed\";i:35;s:21:\"requestEntityTooLarge\";i:36;s:17:\"requestUriTooLong\";i:37;s:20:\"unsupportedMediaType\";i:38;s:28:\"requestedRangeNotSatisfiable\";i:39;s:17:\"expectationFailed\";i:40;s:15:\"upgradeRequired\";i:41;s:19:\"internalServerError\";i:42;s:14:\"notImplemented\";i:43;s:10:\"badGateway\";i:44;s:18:\"serviceUnavailable\";i:45;s:14:\"gatewayTimeout\";i:46;s:23:\"httpVersionNotSupported\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:25:\"System.Net.HttpStatusCode\";}}}}s:18:\"BuildConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"branchName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"buildDefinitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"flavor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:12:\"repositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"sourceVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"BuildCoverage\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"codeCoverageFileUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BuildConfiguration\";}s:9:\"lastError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"modules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ModuleCoverage\";}}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"BuildReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"branchName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"buildSystem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"definitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"repositoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"CloneOperationInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:15:\"cloneStatistics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CloneStatistics\";}s:14:\"completionDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"If
  the operation is complete, the DateTime of completion. If operation is not complete,
  this is DateTime.MaxValue\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"DateTime
  when the operation was started\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:17:\"destinationObject\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Shallow
  reference of the destination\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:15:\"destinationPlan\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Shallow
  reference of the destination\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:18:\"destinationProject\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Shallow
  reference of the destination\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"If
  the operation has Failed, Message contains the reason for failure. Null otherwise.\";s:4:\"type\";s:6:\"string\";}s:4:\"opId\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  ID of the operation\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"resultObjectType\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  type of the object generated as a result of the Clone operation\";s:4:\"enum\";a:2:{i:0;s:9:\"testSuite\";i:1;s:8:\"testPlan\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:63:\"Microsoft.TeamFoundation.TestManagement.WebApi.ResultObjectType\";}}s:12:\"sourceObject\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Shallow
  reference of the source\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:10:\"sourcePlan\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Shallow
  reference of the source\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:13:\"sourceProject\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Shallow
  reference of the source\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Current
  state of the operation. When State reaches Suceeded or Failed, the operation is
  complete\";s:4:\"enum\";a:4:{i:0;s:6:\"failed\";i:1;s:10:\"inProgress\";i:2;s:6:\"queued\";i:3;s:9:\"succeeded\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:66:\"Microsoft.TeamFoundation.TestManagement.WebApi.CloneOperationState\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Url
  for geting the clone information\";s:4:\"type\";s:6:\"string\";}}}s:12:\"CloneOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"cloneRequirements\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"If
  set to true requirements will be cloned\";s:4:\"type\";s:7:\"boolean\";}s:13:\"copyAllSuites\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"copy
  all suites from a source plan\";s:4:\"type\";s:7:\"boolean\";}s:21:\"copyAncestorHierarchy\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"copy
  ancestor hieracrchy\";s:4:\"type\";s:7:\"boolean\";}s:23:\"destinationWorkItemType\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Name
  of the workitem type of the clone\";s:4:\"type\";s:6:\"string\";}s:18:\"overrideParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Key
  value pairs where the key value is overridden by the value.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"relatedLinkComment\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Comment
  on the link that will link the new clone  test case to the original Set null for
  no comment\";s:4:\"type\";s:6:\"string\";}}}s:15:\"CloneStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:23:\"clonedRequirementsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Number
  of Requirments cloned so far.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:22:\"clonedSharedStepsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Number
  of shared steps cloned so far.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:20:\"clonedTestCasesCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Number
  of test cases cloned so far\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:22:\"totalRequirementsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Total
  number of requirements to be cloned\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:19:\"totalTestCasesCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Total
  number of test cases to be cloned\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:16:\"CodeCoverageData\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Represents
  the build configuration (platform, flavor) and coverage data for the build\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"buildFlavor\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Flavor
  of build for which data is retrieved/published\";s:4:\"type\";s:6:\"string\";}s:13:\"buildPlatform\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Platform
  of build for which data is retrieved/published\";s:4:\"type\";s:6:\"string\";}s:13:\"coverageStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of coverage data for the build\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/CodeCoverageStatistics\";}}}}s:22:\"CodeCoverageStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Represents
  the code coverage statistics for a particular coverage label (modules, statements,
  blocks, etc.)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"covered\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Covered
  units\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"delta\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Delta
  of coverage\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:16:\"isDeltaAvailable\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Is
  delta valid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"label\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Label
  of coverage data (\"Blocks\", \"Statements\", \"Modules\", etc.)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Position
  of label\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"total\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Total
  units\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:19:\"CodeCoverageSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Represents
  the code coverage summary results Used to publish or retrieve code coverage summary
  against a build\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"build\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Uri
  of build for which data is retrieved/published\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:12:\"coverageData\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of coverage data and details for the build\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CodeCoverageData\";}}s:10:\"deltaBuild\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Uri
  of build against which difference in coverage is computed\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}}}s:18:\"CoverageStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"blocksCovered\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"blocksNotCovered\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"linesCovered\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"linesNotCovered\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"linesPartiallyCovered\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:15:\"CustomTestField\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"fieldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:25:\"CustomTestFieldDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"fieldId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"fieldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"fieldType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:3:\"bit\";i:1;s:8:\"dateTime\";i:2;s:3:\"int\";i:3;s:5:\"float\";i:4;s:6:\"string\";i:5;s:4:\"guid\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:66:\"Microsoft.TeamFoundation.TestManagement.WebApi.CustomTestFieldType\";}}s:5:\"scope\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:4:\"none\";i:1;s:7:\"testRun\";i:2;s:10:\"testResult\";i:3;s:6:\"system\";i:4;s:3:\"all\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:67:\"Microsoft.TeamFoundation.TestManagement.WebApi.CustomTestFieldScope\";}}}}s:21:\"DtlEnvironmentDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"This
  is a temporary class to provide the details for the test run environment.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"csmContent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"csmParameters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subscriptionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"FailingSince\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BuildReference\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"release\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReleaseReference\";}}}s:16:\"FunctionCoverage\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"class\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"namespace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sourceFile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"statistics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CoverageStatistics\";}}}s:11:\"IdentityRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"directoryAlias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"inactive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"isAadIdentity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"isContainer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"profileUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"uniqueName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"LastResultDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"dateCompleted\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"runBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}}}s:20:\"LinkedWorkItemsQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"automatedTestNames\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"planId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"pointIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"suiteIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:11:\"testCaseIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:16:\"workItemCategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"LinkedWorkItemsQueryResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"automatedTestName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"planId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"pointId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"suiteId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"testCaseId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"workItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkItemReference\";}}}}s:14:\"ModuleCoverage\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"blockCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"blockData\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"byte\";}}s:9:\"functions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FunctionCoverage\";}}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"signature\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:12:\"signatureAge\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"statistics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CoverageStatistics\";}}}s:13:\"NameValuePair\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:15:\"PlanUpdateModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:4:\"area\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:24:\"automatedTestEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TestEnvironment\";}s:21:\"automatedTestSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TestSettings\";}s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:15:\"buildDefinition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:16:\"configurationIds\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"iteration\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:21:\"manualTestEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TestEnvironment\";}s:18:\"manualTestSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TestSettings\";}s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:28:\"releaseEnvironmentDefinition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/ReleaseEnvironmentDefinitionReference\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:15:\"PointAssignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:6:\"tester\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}}}s:12:\"PointsFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"configurationNames\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"testcaseIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:7:\"testers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}}}}s:16:\"PointUpdateModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"outcome\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"resetToActive\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"tester\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}}}s:21:\"PointWorkItemProperty\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"workItem\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:11:\"PropertyBag\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"bag\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Generic
  store for test session data\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:10:\"QueryModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"query\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:37:\"ReleaseEnvironmentDefinitionReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"definitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:23:\"environmentDefinitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:16:\"ReleaseReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"definitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:23:\"environmentDefinitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:25:\"environmentDefinitionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"environmentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Response\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:47:{i:0;s:8:\"continue\";i:1;s:18:\"switchingProtocols\";i:2;s:2:\"oK\";i:3;s:7:\"created\";i:4;s:8:\"accepted\";i:5;s:27:\"nonAuthoritativeInformation\";i:6;s:9:\"noContent\";i:7;s:12:\"resetContent\";i:8;s:14:\"partialContent\";i:9;s:15:\"multipleChoices\";i:10;s:9:\"ambiguous\";i:11;s:16:\"movedPermanently\";i:12;s:5:\"moved\";i:13;s:5:\"found\";i:14;s:8:\"redirect\";i:15;s:8:\"seeOther\";i:16;s:14:\"redirectMethod\";i:17;s:11:\"notModified\";i:18;s:8:\"useProxy\";i:19;s:6:\"unused\";i:20;s:17:\"temporaryRedirect\";i:21;s:16:\"redirectKeepVerb\";i:22;s:10:\"badRequest\";i:23;s:12:\"unauthorized\";i:24;s:15:\"paymentRequired\";i:25;s:9:\"forbidden\";i:26;s:8:\"notFound\";i:27;s:16:\"methodNotAllowed\";i:28;s:13:\"notAcceptable\";i:29;s:27:\"proxyAuthenticationRequired\";i:30;s:14:\"requestTimeout\";i:31;s:8:\"conflict\";i:32;s:4:\"gone\";i:33;s:14:\"lengthRequired\";i:34;s:18:\"preconditionFailed\";i:35;s:21:\"requestEntityTooLarge\";i:36;s:17:\"requestUriTooLong\";i:37;s:20:\"unsupportedMediaType\";i:38;s:28:\"requestedRangeNotSatisfiable\";i:39;s:17:\"expectationFailed\";i:40;s:15:\"upgradeRequired\";i:41;s:19:\"internalServerError\";i:42;s:14:\"notImplemented\";i:43;s:10:\"badGateway\";i:44;s:18:\"serviceUnavailable\";i:45;s:14:\"gatewayTimeout\";i:46;s:23:\"httpVersionNotSupported\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:25:\"System.Net.HttpStatusCode\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"ResultRetentionSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:33:\"automatedResultsRetentionDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:30:\"manualResultsRetentionDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:13:\"ResultsFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"automatedTestName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"groupBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"maxCompleteDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"resultsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:18:\"testResultsContext\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TestResultsContext\";}s:9:\"trendDays\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:24:\"ResultUpdateRequestModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"actionResultDeletes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/TestActionResultModel\";}}s:13:\"actionResults\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/TestActionResultModel\";}}s:16:\"parameterDeletes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TestResultParameterModel\";}}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TestResultParameterModel\";}}s:14:\"testCaseResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TestCaseResultUpdateModel\";}}}s:25:\"ResultUpdateResponseModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:14:\"RunCreateModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":31:{s:9:\"automated\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:17:\"buildDropLocation\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"buildFlavor\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"buildPlatform\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"completeDate\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"configurationIds\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:10:\"controller\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"customTestFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomTestField\";}}s:17:\"dtlAutEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:18:\"dtlTestEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:7:\"dueDate\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"environmentDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DtlEnvironmentDetails\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RunFilter\";}s:9:\"iteration\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:8:\"pointIds\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:21:\"releaseEnvironmentUri\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"releaseUri\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"runTimeout\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"TimeSpan\";}s:14:\"sourceWorkflow\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:25:\"testConfigurationsMapping\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"testEnvironmentId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"testSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:4:\"type\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:9:\"RunFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"This
  class is used to provide the filters used for discovery\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"sourceFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"filter
  for the test case sources (test containers)\";s:4:\"type\";s:6:\"string\";}s:14:\"testCaseFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"filter
  for the test cases\";s:4:\"type\";s:6:\"string\";}}}s:12:\"RunStatistic\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"outcome\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"resolutionState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TestResolutionState\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"RunUpdateModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:17:\"buildDropLocation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"buildFlavor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"buildPlatform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"completedDate\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"controller\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:23:\"deleteInProgressResults\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:17:\"dtlAutEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:14:\"dtlEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:21:\"dtlEnvironmentDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DtlEnvironmentDetails\";}s:7:\"dueDate\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"iteration\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"logEntries\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/TestMessageLogDetails\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:21:\"releaseEnvironmentUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"releaseUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"sourceWorkflow\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"startedDate\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"substate\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"enum\";a:9:{i:0;s:4:\"none\";i:1;s:19:\"creatingEnvironment\";i:2;s:12:\"runningTests\";i:3;s:14:\"canceledByUser\";i:4;s:15:\"abortedBySystem\";i:5;s:8:\"timedOut\";i:6;s:15:\"pendingAnalysis\";i:7;s:8:\"analyzed\";i:8;s:22:\"cancellationInProgress\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:62:\"Microsoft.TeamFoundation.TestManagement.WebApi.TestRunSubstate\";}}s:17:\"testEnvironmentId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"testSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}}}s:16:\"ShallowReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"An
  abstracted reference to some other resource. This class is used to provide the build
  data contracts with a uniform way to reference other resources in a way that provides
  easy traversal through links.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Name
  of the linked resource (definition name, controller name, etc.)\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  http link to the resource\";s:4:\"type\";s:6:\"string\";}}}s:15:\"SharedStepModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:16:\"SuiteCreateModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"queryString\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"requirementIds\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:9:\"suiteType\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:10:\"SuiteEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"childSuiteId\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Id
  of child suite in a suite\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"sequenceNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Sequence
  number for the test case or child suite in the suite\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"suiteId\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Id
  for the suite\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"testCaseId\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Id
  of a test case in a suite\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:21:\"SuiteEntryUpdateModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"childSuiteId\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Id
  of child suite in a suite\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"sequenceNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Updated
  sequence number for the test case or child suite in the suite\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"testCaseId\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Id
  of a test case in a suite\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:13:\"SuiteTestCase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"pointAssignments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PointAssignment\";}}s:8:\"testCase\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkItemReference\";}}}s:16:\"SuiteUpdateModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:11:\"TeamContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  Team Context for an operation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  team project Id or name.  Ignored if ProjectId is set.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  Team Project ID.  Required if Project is not set.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"team\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  Team Id or name.  Ignored if TeamId is set.\";s:4:\"type\";s:6:\"string\";}s:6:\"teamId\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  Team Id\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:20:\"TeamProjectReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  a shallow reference to a TeamProject.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"abbreviation\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Project
  abbreviation.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  project's description (if any).\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Project
  identifier.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Project
  name.\";s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Project
  revision.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Project
  state.\";s:4:\"enum\";a:7:{i:0;s:8:\"deleting\";i:1;s:3:\"new\";i:2;s:10:\"wellFormed\";i:3;s:13:\"createPending\";i:4;s:3:\"all\";i:5;s:9:\"unchanged\";i:6;s:7:\"deleted\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"Microsoft.TeamFoundation.Core.WebApi.ProjectState\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Url
  to the full version of the object.\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Project
  visibility.\";s:4:\"enum\";a:4:{i:0;s:9:\"unchanged\";i:1;s:7:\"private\";i:2;s:12:\"organization\";i:3;s:6:\"public\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:54:\"Microsoft.TeamFoundation.Core.WebApi.ProjectVisibility\";}}}}s:21:\"TestActionResultModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TestResultModelBase\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"actionPath\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"iterationId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"sharedStepModel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SharedStepModel\";}s:14:\"stepIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:330:\"This
  is step Id of test case. For shared step, it is step Id of shared step in test case
  workitem; step Id in shared step. Example: TestCase workitem has two steps: 1) Normal
  step with Id = 1 2) Shared Step with Id = 2. Inside shared step: a) Normal Step
  with Id = 1 Value for StepIdentifier for First step: \"1\" Second step: \"2;1\"\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:14:\"TestAttachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"attachmentType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:17:\"generalAttachment\";i:1;s:8:\"afnStrip\";i:2;s:13:\"bugFilingData\";i:3;s:12:\"codeCoverage\";i:4;s:25:\"intermediateCollectorData\";i:5;s:9:\"runConfig\";i:6;s:17:\"testImpactDetails\";i:7;s:25:\"tmiTestRunDeploymentFiles\";i:8;s:32:\"tmiTestRunReverseDeploymentFiles\";i:9;s:19:\"tmiTestResultDetail\";i:10;s:17:\"tmiTestRunSummary\";i:11;s:10:\"consoleLog\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:61:\"Microsoft.TeamFoundation.TestManagement.WebApi.AttachmentType\";}}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"fileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:23:\"TestAttachmentReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"TestAttachmentRequestModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"attachmentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"stream\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"TestCaseResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":46:{s:10:\"afnStripId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"area\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:14:\"associatedBugs\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}}s:15:\"automatedTestId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"automatedTestName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"automatedTestStorage\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"automatedTestType\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"automatedTestTypeId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:14:\"buildReference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BuildReference\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"completedDate\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"computerName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"customFields\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomTestField\";}}s:12:\"durationInMs\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"failingSince\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FailingSince\";}s:11:\"failureType\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"iterationDetails\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TestIterationDetailsModel\";}}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"outcome\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:7:\"release\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:16:\"releaseReference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReleaseReference\";}s:10:\"resetCount\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"resolutionState\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"resolutionStateId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"runBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:10:\"stackTrace\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"startedDate\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"state\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"testCase\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:19:\"testCaseReferenceId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"testCaseTitle\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"testPlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:9:\"testPoint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:7:\"testRun\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:9:\"testSuite\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:29:\"TestCaseResultAttachmentModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"iterationId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:24:\"TestCaseResultIdentifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"testResultId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"testRunId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:25:\"TestCaseResultUpdateModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:19:\"associatedWorkItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:19:\"automatedTestTypeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"completedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"computerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"customFields\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomTestField\";}}s:12:\"durationInMs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"failureType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"outcome\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"resolutionState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"runBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:10:\"stackTrace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"startedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"testCasePriority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"testResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}}}s:17:\"TestConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"area\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Area
  of the configuration\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Description
  of the configuration\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Id
  of the configuration\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"isDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Is
  the configuration a default for the test plans\";s:4:\"type\";s:7:\"boolean\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Last
  Updated By  Reference\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Last
  Updated Data\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  of the configuration\";s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Project
  to which the configuration belongs\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Revision
  of the the configuration\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"State
  of the configuration\";s:4:\"enum\";a:2:{i:0;s:6:\"active\";i:1;s:8:\"inactive\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:69:\"Microsoft.TeamFoundation.TestManagement.WebApi.TestConfigurationState\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Url
  of Configuration Resource\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Dictionary
  of Test Variable, Selected Value\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/NameValuePair\";}}}}s:15:\"TestEnvironment\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:15:\"environmentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"TestFailureDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"testResults\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TestCaseResultIdentifier\";}}}}s:20:\"TestFailuresAnalysis\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"existingFailures\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TestFailureDetails\";}s:10:\"fixedTests\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TestFailureDetails\";}s:11:\"newFailures\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TestFailureDetails\";}s:15:\"previousContext\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TestResultsContext\";}}}s:25:\"TestIterationDetailsModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"actionResults\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/TestActionResultModel\";}}s:11:\"attachments\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/TestCaseResultAttachmentModel\";}}s:7:\"comment\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"completedDate\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"durationInMs\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"outcome\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TestResultParameterModel\";}}s:11:\"startedDate\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:21:\"TestMessageLogDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"An
  abstracted reference to some other resource. This class is used to provide the build
  data contracts with a uniform way to reference other resources in a way that provides
  easy traversal through links.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"dateCreated\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Date
  when the resource is created\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"entryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Message
  of the resource\";s:4:\"type\";s:6:\"string\";}}}s:10:\"TestMethod\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"container\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:22:\"TestOperationReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Class
  representing a reference to an operation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"TestPlan\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:4:\"area\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:24:\"automatedTestEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TestEnvironment\";}s:21:\"automatedTestSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TestSettings\";}s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:15:\"buildDefinition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:9:\"clientUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"iteration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"manualTestEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TestEnvironment\";}s:18:\"manualTestSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TestSettings\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:13:\"previousBuild\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:28:\"releaseEnvironmentDefinition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/ReleaseEnvironmentDefinitionReference\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"rootSuite\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"updatedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"TestPlanCloneRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"destinationTestPlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestPlan\";}s:7:\"options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CloneOptions\";}s:8:\"suiteIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}s:15:\"TestPlanHubData\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"selectedSuiteId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"testPlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestPlan\";}s:10:\"testPoints\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TestPoint\";}}s:10:\"testSuites\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TestSuite\";}}s:15:\"totalTestPoints\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:22:\"TestPlansWithSelection\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"lastSelectedPlan\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:17:\"lastSelectedSuite\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"plans\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestPlan\";}}}}s:9:\"TestPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:10:\"assignedTo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:9:\"automated\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:11:\"failureType\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"lastResolutionStateId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"lastResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:17:\"lastResultDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LastResultDetails\";}s:15:\"lastResultState\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"lastRunBuildNumber\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"lastTestRun\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"outcome\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"state\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"suite\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:8:\"testCase\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkItemReference\";}s:8:\"testPlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"workItemProperties\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:15:\"TestPointsQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"orderBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"points\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TestPoint\";}}s:12:\"pointsFilter\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PointsFilter\";}s:9:\"witFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:19:\"TestResolutionState\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}}}s:21:\"TestResultCreateModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":26:{s:4:\"area\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:19:\"associatedWorkItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:15:\"automatedTestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"automatedTestName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"automatedTestStorage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"automatedTestType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"automatedTestTypeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"completedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"computerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:12:\"customFields\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomTestField\";}}s:12:\"durationInMs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"failureType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"outcome\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"resolutionState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"runBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:10:\"stackTrace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"startedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"testCase\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:16:\"testCasePriority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"testCaseTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"testPoint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}}}s:18:\"TestResultDocument\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"operationReference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TestOperationReference\";}s:7:\"payload\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TestResultPayload\";}}}s:17:\"TestResultHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"groupByField\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"resultsForGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/TestResultHistoryDetailsForGroup\";}}}}s:32:\"TestResultHistoryDetailsForGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"groupByValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"latestResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TestCaseResult\";}}}s:19:\"TestResultModelBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"completedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"durationInMs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"outcome\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"startedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:24:\"TestResultParameterModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"actionPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"iterationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"parameterName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"stepIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:330:\"This
  is step Id of test case. For shared step, it is step Id of shared step in test case
  workitem; step Id in shared step. Example: TestCase workitem has two steps: 1) Normal
  step with Id = 1 2) Shared Step with Id = 2. Inside shared step: a) Normal Step
  with Id = 1 Value for StepIdentifier for First step: \"1\" Second step: \"2;1\"\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"TestResultPayload\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"stream\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"TestResultsContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BuildReference\";}s:11:\"contextType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"build\";i:1;s:7:\"release\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:69:\"Microsoft.TeamFoundation.TestManagement.WebApi.TestResultsContextType\";}}s:7:\"release\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReleaseReference\";}}}s:18:\"TestResultsDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"groupByField\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"resultsForGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/TestResultsDetailsForGroup\";}}}}s:26:\"TestResultsDetailsForGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"groupByValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TestCaseResult\";}}s:21:\"resultsCountByOutcome\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AggregatedResultsByOutcome\";}}}}s:16:\"TestResultsQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TestCaseResult\";}}s:13:\"resultsFilter\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ResultsFilter\";}}}s:17:\"TestResultSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:25:\"aggregatedResultsAnalysis\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AggregatedResultsAnalysis\";}s:11:\"teamProject\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TeamProjectReference\";}s:12:\"testFailures\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TestFailuresAnalysis\";}s:18:\"testResultsContext\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TestResultsContext\";}}}s:21:\"TestResultTrendFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"branchNames\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"buildCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"definitionIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:16:\"envDefinitionIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:15:\"maxCompleteDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"publishContext\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"testRunTitles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"trendDays\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:7:\"TestRun\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":43:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:18:\"buildConfiguration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BuildConfiguration\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"completedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"controller\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"customFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomTestField\";}}s:12:\"dropLocation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"dtlAutEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:14:\"dtlEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:29:\"dtlEnvironmentCreationDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DtlEnvironmentDetails\";}s:7:\"dueDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RunFilter\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"incompleteTests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"isAutomated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"iteration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"notApplicableTests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:11:\"passedTests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"phase\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:16:\"postProcessState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:7:\"release\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReleaseReference\";}s:21:\"releaseEnvironmentUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"releaseUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"runStatistics\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RunStatistic\";}}s:11:\"startedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"substate\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:4:\"none\";i:1;s:19:\"creatingEnvironment\";i:2;s:12:\"runningTests\";i:3;s:14:\"canceledByUser\";i:4;s:15:\"abortedBySystem\";i:5;s:8:\"timedOut\";i:6;s:15:\"pendingAnalysis\";i:7;s:8:\"analyzed\";i:8;s:22:\"cancellationInProgress\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:62:\"Microsoft.TeamFoundation.TestManagement.WebApi.TestRunSubstate\";}}s:15:\"testEnvironment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TestEnvironment\";}s:16:\"testMessageLogId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"testSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:10:\"totalTests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"unanalyzedTests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"webAccessUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"TestRunCoverage\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"lastError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"modules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ModuleCoverage\";}}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"testRun\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}}}s:16:\"TestRunStatistic\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"run\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:13:\"runStatistics\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RunStatistic\";}}}}s:11:\"TestSession\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:4:\"area\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Area
  path of the test session\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Comments
  in the test session\";s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Duration
  of the session\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Id
  of the test session\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Last
  Updated By  Reference\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Last
  updated date\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Owner
  of the test session\";s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Project
  to which the test session belongs\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:11:\"propertyBag\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Generic
  store for test session data\";s:4:\"$ref\";s:25:\"#/definitions/PropertyBag\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Revision
  of the test session\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"source\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Source
  of the test session\";s:4:\"enum\";a:7:{i:0;s:7:\"unknown\";i:1;s:9:\"xTDesktop\";i:2;s:15:\"feedbackDesktop\";i:3;s:5:\"xTWeb\";i:4;s:11:\"feedbackWeb\";i:5;s:10:\"xTDesktop2\";i:6;s:21:\"sessionInsightsForAll\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:64:\"Microsoft.TeamFoundation.TestManagement.WebApi.TestSessionSource\";}}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Start
  date\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"State
  of the test session\";s:4:\"enum\";a:6:{i:0;s:11:\"unspecified\";i:1;s:10:\"notStarted\";i:2;s:10:\"inProgress\";i:3;s:6:\"paused\";i:4;s:9:\"completed\";i:5;s:8:\"declined\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:63:\"Microsoft.TeamFoundation.TestManagement.WebApi.TestSessionState\";}}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Title
  of the test session\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Url
  of Test Session Resource\";s:4:\"type\";s:6:\"string\";}}}s:36:\"TestSessionExploredWorkItemReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TestSessionWorkItemReference\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"associatedWorkItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Workitem
  references of workitems filed as a part of the current workitem exploration.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TestSessionWorkItemReference\";}}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Time
  when exploration of workitem ended.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Time
  when explore of workitem was started.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:28:\"TestSessionWorkItemReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of the workitem\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Type
  of the workitem\";s:4:\"type\";s:6:\"string\";}}}s:12:\"TestSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Represents
  the test settings of the run. Used to create test settings and fetch test settings\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"areaPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Area
  path required to create test settings\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Description
  of the test settings. Used in create test settings.\";s:4:\"type\";s:6:\"string\";}s:8:\"isPublic\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Indicates
  if the tests settings is public or private.Used in create test settings.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"machineRoles\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Xml
  string of machine roles. Used in create test settings.\";s:4:\"type\";s:6:\"string\";}s:19:\"testSettingsContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Test
  settings content.\";s:4:\"type\";s:6:\"string\";}s:14:\"testSettingsId\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Test
  settings id.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"testSettingsName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Test
  settings name.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"TestSuite\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:7:\"areaUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"children\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TestSuite\";}}s:21:\"defaultConfigurations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:28:\"inheritDefaultConfigurations\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"lastError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"lastPopulatedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IdentityRef\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:11:\"queryString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"requirementId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"suites\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}}s:9:\"suiteType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"testCaseCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"testCasesUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"TestSuiteCloneRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"cloneOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CloneOptions\";}s:18:\"destinationSuiteId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:27:\"destinationSuiteProjectName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"TestSummaryForWorkItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/AggregatedDataForResultTrend\";}s:8:\"workItem\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkItemReference\";}}}s:19:\"TestToWorkItemLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"test\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TestMethod\";}s:9:\"workItems\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkItemReference\";}}}}s:12:\"TestVariable\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Description
  of the test variable\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Id
  of the test variable\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  of the test variable\";s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Project
  to which the test variable belongs\";s:4:\"$ref\";s:30:\"#/definitions/ShallowReference\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Revision\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Url
  of the test variable\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of allowed values\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:24:\"VssJsonCollectionWrapper\";O:8:\"stdClass\":4:{s:11:\"description\";s:167:\"This
  class is used to serialized collections as a single JSON object on the wire, to
  avoid serializing JSON arrays directly to the client, which can be a security hole\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/VssJsonCollectionWrapperBase\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:1:\"T\";}}}s:28:\"VssJsonCollectionWrapperBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:17:\"WorkItemReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"webUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"WorkItemToTestLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"tests\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TestMethod\";}}s:8:\"workItem\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkItemReference\";}}}}"
...
