---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1580:\"<fullname>AWS
  Cloud9</fullname> <p>AWS Cloud9 is a collection of tools that you can use to code,
  build, run, test, debug, and release software in the cloud.</p> <p>For more information
  about AWS Cloud9, see the <a href=\"https://docs.aws.amazon.com/cloud9/latest/user-guide\">AWS
  Cloud9 User Guide</a>.</p> <p>AWS Cloud9 supports these operations:</p> <ul> <li>
  <p> <code>CreateEnvironmentEC2</code>: Creates an AWS Cloud9 development environment,
  launches an Amazon EC2 instance, and then connects from the instance to the environment.</p>
  </li> <li> <p> <code>CreateEnvironmentMembership</code>: Adds an environment member
  to an environment.</p> </li> <li> <p> <code>DeleteEnvironment</code>: Deletes an
  environment. If an Amazon EC2 instance is connected to the environment, also terminates
  the instance.</p> </li> <li> <p> <code>DeleteEnvironmentMembership</code>: Deletes
  an environment member from an environment.</p> </li> <li> <p> <code>DescribeEnvironmentMemberships</code>:
  Gets information about environment members for an environment.</p> </li> <li> <p>
  <code>DescribeEnvironments</code>: Gets information about environments.</p> </li>
  <li> <p> <code>DescribeEnvironmentStatus</code>: Gets status information for an
  environment.</p> </li> <li> <p> <code>ListEnvironments</code>: Gets a list of environment
  identifiers.</p> </li> <li> <p> <code>UpdateEnvironment</code>: Changes the settings
  of an existing environment.</p> </li> <li> <p> <code>UpdateEnvironmentMembership</code>:
  Changes the settings of an existing environment member for an environment.</p> </li>
  </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:10:\"AWS
  Cloud9\";s:7:\"version\";s:10:\"2017-09-23\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:90:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloud9-2017-09-23.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:6:\"cloud9\";}"
host: cloud9.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an AWS Cloud9 development environment, launches an Amazon
        Elastic Compute Cloud (Amazon EC2) instance, and then connects from the instance
        to the environment.
      operationId: CreateEnvironmentEC2
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateEnvironmentEC2Request'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateEnvironmentEC2Result'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /#CreateEnvironmentMembership:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds an environment member to an AWS Cloud9 development environment.
      operationId: CreateEnvironmentMembership
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateEnvironmentMembershipRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateEnvironmentMembershipResult'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /#DeleteEnvironment:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes an AWS Cloud9 development environment. If an Amazon EC2
        instance is connected to the environment, also terminates the instance.
      operationId: DeleteEnvironment
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteEnvironmentRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteEnvironmentResult'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /#DeleteEnvironmentMembership:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes an environment member from an AWS Cloud9 development environment.
      operationId: DeleteEnvironmentMembership
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteEnvironmentMembershipRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteEnvironmentMembershipResult'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /#DescribeEnvironmentMemberships:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about environment members for an AWS Cloud9 development
        environment.
      operationId: DescribeEnvironmentMemberships
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEnvironmentMembershipsRequest'
      - description: Pagination limit
        in: query
        name: maxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEnvironmentMembershipsResult'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /#DescribeEnvironmentStatus:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets status information for an AWS Cloud9 development environment.
      operationId: DescribeEnvironmentStatus
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEnvironmentStatusRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEnvironmentStatusResult'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /#DescribeEnvironments:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about AWS Cloud9 development environments.
      operationId: DescribeEnvironments
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEnvironmentsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEnvironmentsResult'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /#ListEnvironments:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets a list of AWS Cloud9 development environment identifiers.
      operationId: ListEnvironments
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListEnvironmentsRequest'
      - description: Pagination limit
        in: query
        name: maxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListEnvironmentsResult'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /#UpdateEnvironment:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Changes the settings of an existing AWS Cloud9 development environment.
      operationId: UpdateEnvironment
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateEnvironmentRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateEnvironmentResult'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /#UpdateEnvironmentMembership:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Changes the settings of an existing environment member for an AWS
        Cloud9 development environment.
      operationId: UpdateEnvironmentMembership
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateEnvironmentMembershipRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateEnvironmentMembershipResult'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":49:{s:24:\"AutomaticStopTimeMinutes\";O:8:\"stdClass\":2:{s:7:\"maximum\";i:20160;s:4:\"type\";s:7:\"integer\";}s:19:\"BadRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  target request is invalid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"BoundedEnvironmentIdList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:19:\"[\\x20-\\x7E]{10,128}\";s:4:\"type\";s:6:\"string\";}s:17:\"ConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  conflict occurred.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"CreateEnvironmentEC2Request\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":6:{s:24:\"automaticStopTimeMinutes\";i:60;s:11:\"description\";s:37:\"This
  is my demonstration environment.\";s:12:\"instanceType\";s:8:\"t2.micro\";s:4:\"name\";s:19:\"my-demo-environment\";s:8:\"ownerArn\";s:41:\"arn:aws:iam::123456789012:user/MyDemoUser\";s:8:\"subnetId\";s:15:\"subnet-1fab8aEX\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:24:\"automaticStopTimeMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AutomaticStopTimeMinutes\";s:11:\"description\";s:103:\"The
  number of minutes until the running instance is shut down after the environment
  has last been used.\";}s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:303:\"<p>A
  unique, case-sensitive string that helps AWS Cloud9 to ensure this operation completes
  no more than one time.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Client
  Tokens</a> in the <i>Amazon EC2 API Reference</i>.</p>\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EnvironmentDescription\";s:11:\"description\";s:45:\"The
  description of the environment to create.\";}s:12:\"instanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InstanceType\";s:11:\"description\";s:88:\"The
  type of instance to connect to the environment (for example, <code>t2.micro</code>).\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EnvironmentName\";s:11:\"description\";s:121:\"<p>The
  name of the environment to create.</p> <p>This name is visible to other AWS IAM
  users in the same AWS account.</p>\";}s:8:\"ownerArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:186:\"The
  Amazon Resource Name (ARN) of the environment owner. This ARN can be the ARN of
  any AWS IAM principal. If this value is not specified, the ARN defaults to this
  environment's creator.\";}s:8:\"subnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";s:11:\"description\";s:104:\"The
  ID of the subnet in Amazon VPC that AWS Cloud9 will use to communicate with the
  Amazon EC2 instance.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:12:\"instanceType\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateEnvironmentEC2Result\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"environmentId\";s:32:\"8d9967e2f0624182b74e7690ad69ebEX\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";s:11:\"description\";s:43:\"The
  ID of the environment that was created.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"CreateEnvironmentMembershipRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"environmentId\";s:32:\"8d9967e2f0624182b74e7690ad69ebEX\";s:11:\"permissions\";s:10:\"read-write\";s:7:\"userArn\";s:46:\"arn:aws:iam::123456789012:user/AnotherDemoUser\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";s:11:\"description\";s:79:\"The
  ID of the environment that contains the environment member you want to add.\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MemberPermissions\";s:11:\"description\";s:308:\"<p>The
  type of environment member permissions you want to associate with this environment
  member. Available values include:</p> <ul> <li> <p> <code>read-only</code>: Has
  read-only access to the environment.</p> </li> <li> <p> <code>read-write</code>:
  Has read-write access to the environment.</p> </li> </ul>\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:73:\"The
  Amazon Resource Name (ARN) of the environment member you want to add.\";}}s:8:\"required\";a:3:{i:0;s:13:\"environmentId\";i:1;s:7:\"userArn\";i:2;s:11:\"permissions\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreateEnvironmentMembershipResult\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"membership\";O:8:\"stdClass\":4:{s:13:\"environmentId\";s:32:\"8d9967e2f0624182b74e7690ad69ebEX\";s:11:\"permissions\";s:10:\"read-write\";s:7:\"userArn\";s:46:\"arn:aws:iam::123456789012:user/AnotherDemoUser\";s:6:\"userId\";s:21:\"AIDAJ3BA6O2FMJWCWXHEX\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"membership\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EnvironmentMember\";s:11:\"description\";s:56:\"Information
  about the environment member that was added.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DeleteEnvironmentMembershipRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"environmentId\";s:32:\"8d9967e2f0624182b74e7690ad69ebEX\";s:7:\"userArn\";s:46:\"arn:aws:iam::123456789012:user/AnotherDemoUser\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";s:11:\"description\";s:64:\"The
  ID of the environment to delete the environment member from.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:88:\"The
  Amazon Resource Name (ARN) of the environment member to delete from the environment.\";}}s:8:\"required\";a:2:{i:0;s:13:\"environmentId\";i:1;s:7:\"userArn\";}s:4:\"type\";s:6:\"object\";}s:33:\"DeleteEnvironmentMembershipResult\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteEnvironmentRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"environmentId\";s:32:\"8d9967e2f0624182b74e7690ad69ebEX\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";s:11:\"description\";s:36:\"The
  ID of the environment to delete.\";}}s:8:\"required\";a:1:{i:0;s:13:\"environmentId\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteEnvironmentResult\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeEnvironmentMembershipsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"userArn\";s:41:\"arn:aws:iam::123456789012:user/MyDemoUser\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";s:11:\"description\";s:70:\"The
  ID of the environment to get environment member information about.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:67:\"The
  maximum number of environment members to get information about.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:422:\"During
  a previous call, if there are more than 25 items in the list, only the first 25
  items are returned, along with a unique string called a <i>next token</i>. To get
  the next batch of items in the list, call this operation again, adding the next
  token to the call. To get all of the items in the list, keep calling this operation
  with each subsequent next token that is returned, until no more next tokens are
  returned.\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PermissionsList\";s:11:\"description\";s:432:\"<p>The
  type of environment member permissions to get information about. Available values
  include:</p> <ul> <li> <p> <code>owner</code>: Owns the environment.</p> </li> <li>
  <p> <code>read-only</code>: Has read-only access to the environment.</p> </li> <li>
  <p> <code>read-write</code>: Has read-write access to the environment.</p> </li>
  </ul> <p>If no value is specified, information about all environment members are
  returned.</p>\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:174:\"The
  Amazon Resource Name (ARN) of an individual environment member to get information
  about. If no value is specified, information about all environment members are returned.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeEnvironmentMembershipsResult\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"memberships\";a:2:{i:0;O:8:\"stdClass\":5:{s:13:\"environmentId\";s:32:\"10a75714bd494714929e7f5ec4125aEX\";s:10:\"lastAccess\";s:20:\"2018-01-19T11:06:13Z\";s:11:\"permissions\";s:5:\"owner\";s:7:\"userArn\";s:41:\"arn:aws:iam::123456789012:user/MyDemoUser\";s:6:\"userId\";s:21:\"AIDAJNUEDQAQWFELJDLEX\";}i:1;O:8:\"stdClass\":5:{s:13:\"environmentId\";s:32:\"12bfc3cd537f41cb9776f8af5525c9EX\";s:10:\"lastAccess\";s:20:\"2018-01-19T11:39:19Z\";s:11:\"permissions\";s:5:\"owner\";s:7:\"userArn\";s:41:\"arn:aws:iam::123456789012:user/MyDemoUser\";s:6:\"userId\";s:21:\"AIDAJNUEDQAQWFELJDLEX\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"memberships\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EnvironmentMembersList\";s:11:\"description\";s:62:\"Information
  about the environment members for the environment.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:243:\"If
  there are more than 25 items in the list, only the first 25 items are returned,
  along with a unique string called a <i>next token</i>. To get the next batch of
  items in the list, call this operation again, adding the next token to the call.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeEnvironmentStatusRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"environmentId\";s:32:\"8d9967e2f0624182b74e7690ad69ebEX\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";s:11:\"description\";s:58:\"The
  ID of the environment to get status information about.\";}}s:8:\"required\";a:1:{i:0;s:13:\"environmentId\";}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeEnvironmentStatusResult\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"message\";s:27:\"Environment
  is ready to use\";s:6:\"status\";s:5:\"ready\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:62:\"Any
  informational message about the status of the environment.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EnvironmentStatus\";s:11:\"description\";s:583:\"<p>The
  status of the environment. Available values include:</p> <ul> <li> <p> <code>connecting</code>:
  The environment is connecting.</p> </li> <li> <p> <code>creating</code>: The environment
  is being created.</p> </li> <li> <p> <code>deleting</code>: The environment is being
  deleted.</p> </li> <li> <p> <code>error</code>: The environment is in an error state.</p>
  </li> <li> <p> <code>ready</code>: The environment is ready.</p> </li> <li> <p>
  <code>stopped</code>: The environment is stopped.</p> </li> <li> <p> <code>stopping</code>:
  The environment is stopping.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeEnvironmentsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"environmentIds\";a:2:{i:0;s:32:\"8d9967e2f0624182b74e7690ad69ebEX\";i:1;s:32:\"349c86d4579e4e7298d500ff57a6b2EX\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"environmentIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BoundedEnvironmentIdList\";s:11:\"description\";s:60:\"The
  IDs of individual environments to get information about.\";}}s:8:\"required\";a:1:{i:0;s:14:\"environmentIds\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeEnvironmentsResult\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:12:\"environments\";a:2:{i:0;O:8:\"stdClass\":6:{s:3:\"arn\";s:82:\"arn:aws:cloud9:us-east-2:123456789012:environment:8d9967e2f0624182b74e7690ad69ebEX\";s:11:\"description\";s:37:\"This
  is my demonstration environment.\";s:2:\"id\";s:32:\"8d9967e2f0624182b74e7690ad69ebEX\";s:4:\"name\";s:19:\"my-demo-environment\";s:8:\"ownerArn\";s:41:\"arn:aws:iam::123456789012:user/MyDemoUser\";s:4:\"type\";s:3:\"ec2\";}i:1;O:8:\"stdClass\":5:{s:3:\"arn\";s:82:\"arn:aws:cloud9:us-east-2:123456789012:environment:349c86d4579e4e7298d500ff57a6b2EX\";s:2:\"id\";s:32:\"349c86d4579e4e7298d500ff57a6b2EX\";s:4:\"name\";s:24:\"another-demo-environment\";s:8:\"ownerArn\";s:70:\"arn:aws:sts::123456789012:assumed-role/AnotherDemoUser/AnotherDemoUser\";s:4:\"type\";s:3:\"ssh\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"environments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EnvironmentList\";s:11:\"description\";s:53:\"Information
  about the environments that are returned.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Environment\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Information
  about an AWS Cloud9 development environment.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"The
  Amazon Resource Name (ARN) of the environment.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EnvironmentDescription\";s:11:\"description\";s:36:\"The
  description for the environment.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";s:11:\"description\";s:26:\"The
  ID of the environment.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EnvironmentName\";s:11:\"description\";s:28:\"The
  name of the environment.\";}s:8:\"ownerArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"The
  Amazon Resource Name (ARN) of the environment owner.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EnvironmentType\";s:11:\"description\";s:280:\"<p>The
  type of environment. Valid values include the following:</p> <ul> <li> <p> <code>ec2</code>:
  An Amazon Elastic Compute Cloud (Amazon EC2) instance connects to the environment.</p>
  </li> <li> <p> <code>ssh</code>: Your own server connects to the environment.</p>
  </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EnvironmentDescription\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:200;s:4:\"type\";s:6:\"string\";}s:13:\"EnvironmentId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:19:\"^[a-zA-Z0-9]{8,32}$\";s:4:\"type\";s:6:\"string\";}s:17:\"EnvironmentIdList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";}s:4:\"type\";s:5:\"array\";}s:15:\"EnvironmentList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Environment\";}s:4:\"type\";s:5:\"array\";}s:17:\"EnvironmentMember\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Information
  about an environment member for an AWS Cloud9 development environment.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";s:11:\"description\";s:53:\"The
  ID of the environment for the environment member.\";}s:10:\"lastAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:98:\"The
  time, expressed in epoch time format, when the environment member last opened the
  environment.\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Permissions\";s:11:\"description\";s:358:\"<p>The
  type of environment member permissions associated with this environment member.
  Available values include:</p> <ul> <li> <p> <code>owner</code>: Owns the environment.</p>
  </li> <li> <p> <code>read-only</code>: Has read-only access to the environment.</p>
  </li> <li> <p> <code>read-write</code>: Has read-write access to the environment.</p>
  </li> </ul>\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:57:\"The
  Amazon Resource Name (ARN) of the environment member.\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:86:\"The
  user ID in AWS Identity and Access Management (AWS IAM) of the environment member.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EnvironmentMembersList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EnvironmentMember\";}s:4:\"type\";s:5:\"array\";}s:15:\"EnvironmentName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:60;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"EnvironmentStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:5:\"error\";i:1;s:8:\"creating\";i:2;s:10:\"connecting\";i:3;s:5:\"ready\";i:4;s:8:\"stopping\";i:5;s:7:\"stopped\";i:6;s:8:\"deleting\";}s:4:\"type\";s:6:\"string\";}s:15:\"EnvironmentType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:3:\"ssh\";i:1;s:3:\"ec2\";}s:4:\"type\";s:6:\"string\";}s:18:\"ForbiddenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"An
  access permissions issue occurred.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"InstanceType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:20;s:9:\"minLength\";i:5;s:7:\"pattern\";s:24:\"^[a-z][1-9][.][a-z0-9]+$\";s:4:\"type\";s:6:\"string\";}s:28:\"InternalServerErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"An
  internal server error occurred.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  service limit was exceeded.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"ListEnvironmentsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:58:\"The
  maximum number of environments to get identifiers for.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:422:\"During
  a previous call, if there are more than 25 items in the list, only the first 25
  items are returned, along with a unique string called a <i>next token</i>. To get
  the next batch of items in the list, call this operation again, adding the next
  token to the call. To get all of the items in the list, keep calling this operation
  with each subsequent next token that is returned, until no more next tokens are
  returned.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListEnvironmentsResult\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"environmentIds\";a:2:{i:0;s:32:\"349c86d4579e4e7298d500ff57a6b2EX\";i:1;s:32:\"45a3da47af0840f2b0c0824f5ee232EX\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"environmentIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EnvironmentIdList\";s:11:\"description\";s:36:\"The
  list of environment identifiers.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:243:\"If
  there are more than 25 items in the list, only the first 25 items are returned,
  along with a unique string called a <i>next token</i>. To get the next batch of
  items in the list, call this operation again, adding the next token to the call.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:25;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:17:\"MemberPermissions\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:10:\"read-write\";i:1;s:9:\"read-only\";}s:4:\"type\";s:6:\"string\";}s:17:\"NotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  target resource cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"Permissions\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:5:\"owner\";i:1;s:10:\"read-write\";i:2;s:9:\"read-only\";}s:4:\"type\";s:6:\"string\";}s:15:\"PermissionsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Permissions\";}s:4:\"type\";s:5:\"array\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"SubnetId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:5;s:4:\"type\";s:6:\"string\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:24:\"TooManyRequestsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Too
  many service requests were made over the given time period.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"UpdateEnvironmentMembershipRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"environmentId\";s:32:\"8d9967e2f0624182b74e7690ad69ebEX\";s:11:\"permissions\";s:9:\"read-only\";s:7:\"userArn\";s:46:\"arn:aws:iam::123456789012:user/AnotherDemoUser\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";s:11:\"description\";s:87:\"The
  ID of the environment for the environment member whose settings you want to change.\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MemberPermissions\";s:11:\"description\";s:320:\"<p>The
  replacement type of environment member permissions you want to associate with this
  environment member. Available values include:</p> <ul> <li> <p> <code>read-only</code>:
  Has read-only access to the environment.</p> </li> <li> <p> <code>read-write</code>:
  Has read-write access to the environment.</p> </li> </ul>\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:91:\"The
  Amazon Resource Name (ARN) of the environment member whose settings you want to
  change.\";}}s:8:\"required\";a:3:{i:0;s:13:\"environmentId\";i:1;s:7:\"userArn\";i:2;s:11:\"permissions\";}s:4:\"type\";s:6:\"object\";}s:33:\"UpdateEnvironmentMembershipResult\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"membership\";O:8:\"stdClass\":4:{s:13:\"environmentId\";s:32:\"8d9967e2f0624182b74e7690ad69eb31\";s:11:\"permissions\";s:9:\"read-only\";s:7:\"userArn\";s:46:\"arn:aws:iam::123456789012:user/AnotherDemoUser\";s:6:\"userId\";s:21:\"AIDAJ3BA6O2FMJWCWXHEX\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"membership\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EnvironmentMember\";s:11:\"description\";s:69:\"Information
  about the environment member whose settings were changed.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateEnvironmentRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"This
  is my changed demonstration environment.\";s:13:\"environmentId\";s:32:\"8d9967e2f0624182b74e7690ad69ebEX\";s:4:\"name\";s:27:\"my-changed-demo-environment\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EnvironmentDescription\";s:11:\"description\";s:55:\"Any
  new or replacement description for the environment.\";}s:13:\"environmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EnvironmentId\";s:11:\"description\";s:45:\"The
  ID of the environment to change settings.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EnvironmentName\";s:11:\"description\";s:39:\"A
  replacement name for the environment.\";}}s:8:\"required\";a:1:{i:0;s:13:\"environmentId\";}s:4:\"type\";s:6:\"object\";}s:23:\"UpdateEnvironmentResult\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"UserArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:26:\"arn:aws:(iam|sts)::\\d+:\\S+\";s:4:\"type\";s:6:\"string\";}}"
...
