---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:20:\"EditSupport@bgbm.org\";}s:11:\"description\";s:97:\"The
  Unified Taxonomic Information Service (UTIS) is the taxonomic backbone for the EU-BON
  project\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"Mozilla Public
  License 2.0\";s:3:\"url\";s:31:\"http://www.mozilla.org/MPL/2.0/\";}s:14:\"termsOfService\";s:49:\"https://www.biodiversitycatalogue.org/services/79\";s:5:\"title\";s:11:\"EU
  BON UTIS\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_cybertaxonomy.eu_themes_cybertaxonomy_images_cdm-platform-header.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:43:\"http://cybertaxonomy.eu/eubon-utis/api-docs\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"cybertaxonomy.eu\";}"
host: cybertaxonomy.eu
basePath: /eu-bon/utis/1.0
paths: ~
produces:
- application/json
- application/xml
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":13:{s:12:\"AtomisedName\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"genusOrUninomial\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"infragenericEpithet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"infraspecificEpithet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"specificEpithet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"ClientStatus\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"checklistId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Duration
  of the request processing in the specific checklist client in milliseconds.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"statusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Status
  of the request, possible values are 'ok', 'timeout', 'interrupted', 'unsupported
  search mode'.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"HigherClassificationElement\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"rank\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"scientificName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"taxonID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"OtherNames\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"sources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:4:\"type\";s:5:\"array\";}s:9:\"taxonName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TaxonName\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  URL pointing to the original name record of the checklist provider.\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Query\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"clientStatus\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ClientStatus\";}s:4:\"type\";s:5:\"array\";}s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Request\";}s:8:\"response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"Request\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"addSynonymy\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"Indicates
  whether the synonymy of the accepted taxon should be included into the response.
  Turning this option on may lead to an increased response time.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"queryString\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"The
  query string to match a scientific name, vernacular name or identifier depending
  on the searchMode\";s:4:\"type\";s:6:\"string\";}s:10:\"searchMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"Specified
  the search mode to be usedPossible search modes are: scientificNameExact, scientificNameLike
  (begins with), vernacularNameExact, vernacularNameLike (contains).\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Response\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"checklist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"checklistCitation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"checklistId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"checklistUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"checklistVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"matchingNameString\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Refers
  to the name string of the accepted taxon, synonym or otherName which was matching
  the query string\";s:4:\"type\";s:6:\"string\";}s:16:\"matchingNameType\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Reports
  which of the names was matching the query string:  'taxon', 'synonym', 'vernacularName',
  or 'otherName'\";s:4:\"enum\";a:4:{i:0;s:5:\"TAXON\";i:1;s:7:\"SYNONYM\";i:2;s:15:\"VERNACULAR_NAME\";i:3;s:10:\"OTHER_NAME\";}s:4:\"type\";s:6:\"string\";}s:10:\"otherNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OtherNames\";}s:4:\"type\";s:5:\"array\";}s:8:\"synonyms\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  list synonyms related to the accepted taxon\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Synonym\";}s:4:\"type\";s:5:\"array\";}s:5:\"taxon\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Taxon\";s:11:\"description\";s:18:\"The
  accepted taxon\";}s:15:\"vernacularNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  common or vernacular name.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:19:\"ServiceProviderInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"copyrightUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"documentationUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"searchModes\";O:8:\"stdClass\":4:{s:11:\"description\";s:175:\"Set
  of the different SearchModes supported by the service provider and client implementation.Possible
  search modes are: scientificNameExact, scientificNameLike, vernacularName\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:13:\"subChecklists\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ServiceProviderInfo\";}s:4:\"type\";s:5:\"array\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Source\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"datasetName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  full not atomized source string.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Synonym\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"accordingTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"The
  reference to the source in which the specific taxon concept circumscription is defined
  or implied - traditionally signified by the Latin 'sensu' or 'sec.' (from secundum,
  meaning 'according to').\";s:4:\"type\";s:6:\"string\";}s:7:\"sources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:4:\"type\";s:5:\"array\";}s:9:\"taxonName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TaxonName\";}s:15:\"taxonomicStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"The
  taxonomic status string like 'invalid', 'misapplied', 'homotypic synonym', 'accepted',
  'synonym'. Corresponds to http://rs.tdwg.org/dwc/terms/taxonomicStatus\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  URL pointing to the original record of the checklist provider.\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Taxon\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"accordingTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"The
  reference to the source in which the specific taxon concept circumscription is defined
  or implied - traditionally signified by the Latin 'sensu' or 'sec.' (from secundum,
  meaning 'according to').\";s:4:\"type\";s:6:\"string\";}s:20:\"higherClassification\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/HigherClassificationElement\";}s:4:\"type\";s:5:\"array\";}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"sources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:4:\"type\";s:5:\"array\";}s:9:\"taxonName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TaxonName\";}s:15:\"taxonomicStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"The
  taxonomic status string like 'invalid', 'misapplied', 'homotypic synonym', 'accepted',
  'synonym'. Corresponds to http://rs.tdwg.org/dwc/terms/taxonomicStatus\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  URL pointing to the original record of the checklist provider.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"TaxonName\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"atomisedName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AtomisedName\";}s:10:\"authorship\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"canonicalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"Canonical
  name string consisting of only nomenclatural information, i.e. no authorship or
  taxonomic hierarchy information with the exception of the necessary placements within
  Genus or Species.\";s:4:\"type\";s:6:\"string\";}s:22:\"nomenclaturalReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"A
  reference for the publication in which the scientificName was originally established
  under the rules of the associated nomenclaturalCode.\";s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"scientificName\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  full scientific name, with authorship, publication date information and potentially
  further taxonomic information.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"TnrMsg\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"query\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:4:\"type\";s:5:\"array\";}}}}"
...
