---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:22:\"Video Game Information\";s:11:\"description\";s:239:\"This
  api will search any game on ign, gamespot, and metacritic and will give you the
  reviews of the critic and the users. It can also give you information about the
  game such as publisher, developer, genre, summary, release date, and more.\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"AhmedAKhan\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/55887729e4b0b94e3b8267ce_medium\";s:20:\"x-mashape-categories\";a:1:{i:0;s:13:\"Entertainment\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:60:\"https://market.mashape.com/ahmedakhan/video-game-information\";}}"
host: ahmedakhan-game-review-information-v1.p.mashape.com
basePath: ""
paths:
  /api/v1/information:
    get:
      description: This if for getting information about a specific game
      operationId: api-v1-information
      produces:
      - application/json
      parameters:
      - name: console
        in: query
        description: the platform or console the game is played on. for example xbox
          360, playstation 3, wii u, ...
      - name: game_name
        in: query
        description: This is the name of the game that you want information of
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /api/v1/search:
    get:
      description: This is for searching a game. Search for a game name and it will
        return the list of possible games that have similar names
      operationId: api-v1-search
      produces:
      - application/json
      parameters:
      - name: console
        in: query
        description: This is the console you want to search the game for
      - name: game_name
        in: query
        description: This is the name that you want to search
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
definitions: !php/object "O:8:\"stdClass\":6:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Result\";}}}s:6:\"Result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:8:\"websites\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"genre\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"developer\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"availablePlatform\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"publisher\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"averageScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"reasonForRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"rlsdate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ign\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Ign\";}s:10:\"gamesradar\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Gamesradar\";}s:10:\"metacritic\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Metacritic\";}s:8:\"gamespot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Gamespot\";}}}s:3:\"Ign\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"criticScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"userScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Gamespot\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"criticScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"userScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Gamesradar\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"criticScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Metacritic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"criticScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"userScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
