---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:0:\"\";s:5:\"title\";s:10:\"Foursquare\";s:11:\"description\";s:73:\"Checkin,
  explore your city and connect people and places <b>(API v2).</b>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:55:\"http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT\";}}"
host: api.foursquare.com
basePath: /v2/
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:5:\"group\";O:8:\"stdClass\":3:{s:5:\"title\";s:5:\"group\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:7:\"created\";i:1;s:6:\"edited\";i:2;s:8:\"followed\";i:3;s:7:\"friends\";i:4;s:9:\"suggested\";}}s:4:\"sort\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"sort\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"recent\";i:1;s:6:\"nearby\";i:2;s:7:\"popular\";}}s:7:\"section\";O:8:\"stdClass\":3:{s:5:\"title\";s:7:\"section\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:4:\"food\";i:1;s:6:\"drinks\";i:2;s:6:\"coffee\";i:3;s:5:\"shops\";i:4;s:4:\"arts\";i:5;s:8:\"outdoors\";}}s:6:\"intent\";O:8:\"stdClass\":3:{s:5:\"title\";s:6:\"intent\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"checkin\";i:1;s:6:\"browse\";i:2;s:5:\"match\";}}s:6:\"group4\";O:8:\"stdClass\":3:{s:5:\"title\";s:6:\"group4\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:7:\"created\";i:1;s:6:\"edited\";i:2;s:8:\"followed\";i:3;s:7:\"friends\";i:4;s:5:\"other\";}}s:6:\"group5\";O:8:\"stdClass\":3:{s:5:\"title\";s:6:\"group5\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"checkin\";i:1;s:5:\"venue\";}}s:5:\"sort6\";O:8:\"stdClass\":3:{s:5:\"title\";s:5:\"sort6\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"friends\";i:1;s:6:\"recent\";i:2;s:7:\"popular\";}}s:7:\"problem\";O:8:\"stdClass\":3:{s:5:\"title\";s:7:\"problem\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:10:\"mislocated\";i:1;s:6:\"closed\";i:2;s:9:\"duplicate\";i:3;s:13:\"inappropriate\";i:4;s:12:\"doesnt_exist\";i:5;s:10:\"event_over\";}}s:10:\"SETTING_ID\";O:8:\"stdClass\":3:{s:5:\"title\";s:10:\"SETTING_ID\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:13:\"sendToTwitter\";i:1;s:23:\"sendMayorshipsToTwitter\";i:2;s:19:\"sendBadgesToTwitter\";i:3;s:14:\"sendToFacebook\";i:4;s:24:\"sendMayorshipsToFacebook\";i:5;s:20:\"sendBadgesToFacebook\";i:6;s:12:\"receivePings\";i:7;s:19:\"receiveCommentPings\";}}s:5:\"value\";O:8:\"stdClass\":4:{s:5:\"title\";s:5:\"value\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:2:{i:0;s:7:\"Value_1\";i:1;s:7:\"Value_0\";}}s:4:\"type\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"type\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:5:\"mayor\";i:1;s:9:\"frequency\";i:2;s:5:\"count\";i:3;s:7:\"regular\";i:4;s:5:\"swarm\";i:5;s:7:\"friends\";i:6;s:5:\"flash\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:5:\"title\";s:6:\"status\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"pending\";i:1;s:6:\"active\";i:2;s:7:\"expired\";i:3;s:3:\"all\";}}s:9:\"problem12\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"problem12\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:14:\"not_redeemable\";i:1;s:12:\"not_valuable\";i:2;s:5:\"other\";}}}"
...
