---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"Naver Open API
  - Restful spec. You can find out more about Naver Open API at [https://developers.naver.com](https://developers.naver.com)\";s:7:\"version\";s:5:\"1.1.0\";s:5:\"title\";s:14:\"Naver
  Open API\";s:14:\"termsOfService\";s:43:\"https://developers.naver.com/products/terms\";}"
host: openapi.naver.com
basePath: /
paths:
  /v1/vision/face:
    post:
      tags:
      - Clova
      summary: uc5bcuad74uac10uc9c0 API
      description: uc5bcuad74 uc774ubbf8uc9c0ub97c uc785ub825ud558uba74 uc5bcuad74
        uac10uc9c0 uacb0uacfcub97c ub9acud134ud569ub2c8ub2e4.
      operationId: vision.face
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: image
        in: formData
        description: uc774ubbf8uc9c0
        required: true
        type: file
      responses:
        200:
          description: OK
      security:
      - clientId: []
      - clientSecret: []
  /v1/vision/celebrity:
    post:
      tags:
      - Clova
      summary: uc720uba85uc778 uc5bcuad74uc778uc2dd API
      description: uc5bcuad74 uc774ubbf8uc9c0ub97c uc785ub825ud558uba74 uc720uba85uc778uacfcuc758
        ub2eeuc740 uc815ub3c4ub97c ub9acud134ud569ub2c8ub2e4.
      operationId: vision.celebrity
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: image
        in: formData
        description: uc774ubbf8uc9c0
        required: true
        type: file
      responses:
        200:
          description: OK
      security:
      - clientId: []
      - clientSecret: []
  /v1/datalab/search:
    post:
      tags:
      - Naver Services
      summary: ub124uc774ubc84 ud1b5ud569 uac80uc0c9uc5b4 ud2b8ub80cub4dc API
      description: uc785ub825ub41c uc8fcuc81cuc5b4uc640 ud574ub2f9ud558ub294 uac80uc0c9uc5b4
        uadf8ub8f9uc5d0 ub300ud558uc5ec ub124uc774ubc84 ud1b5ud569uac80uc0c9uc5d0
        ub300ud55c uae30uac04ubcc4 ud2b8ub80cub4dc ub370uc774ud130ub97c ub9acud134ud569ub2c8ub2e4.
      operationId: search.datalab
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: ""
        description: uac80uc0c9 uc815ubcf4 uc694uccad JSON
        required: true
        schema:
          $ref: '#/definitions/DatalabSearchReq'
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/search/{serviceid}:
    get:
      tags:
      - Naver Services
      summary: 'uae30ubcf8 uac80uc0c9 API: ube14ub85cuadf8/ub274uc2a4/ucc45/ubc31uacfcuc0acuc804/uce74ud398uae00/uc9c0uc2ddiN/uc6f9ubb38uc11c/uc774ubbf8uc9c0/uc1fcud551/uc804ubb38uc790ub8cc/uc131uc778uac80uc0c9uc5b4
        ud310ubcc4 /uc624ud0c0ubcc0ud658'
      description: 'ub124uc774ubc84 ube14ub85cuadf8/ub274uc2a4/ucc45/ubc31uacfcuc0acuc804/uce74ud398uae00/uc9c0uc2ddiN/uc6f9ubb38uc11c/uc774ubbf8uc9c0/uc1fcud551/uc804ubb38uc790ub8cc/uc131uc778uac80uc0c9uc5b4
        ud310ubcc4 /uc624ud0c0ubcc0ud658 ub300uc0c1 uac80uc0c9uc785ub2c8ub2e4. '
      operationId: search.service
      consumes:
      - plain/text
      produces:
      - application/xml
      - application/json
      parameters:
      - name: serviceid
        in: path
        description: uac80uc0c9ub300uc0c1<br/> ube14ub85cuadf8-> blog, ub274uc2a4->
          news, ucc45-> book, ubc31uacfcuc0acuc804->encyc, uce74ud398uae00->cafearticle,
          uc9c0uc2dduc778->kin, uc6f9ubb38uc11c->webkr, uc774ubbf8uc9c0->image, uc1fcud551->shop,
          uc804ubb38uc790ub8cc->doc, uc131uc778uac80uc0c9uc5b4 ud310ubcc4->adult,
          uc624ud0c0ubcc0ud658->errata
        required: true
        default: blog
        type: string
      - name: query
        in: query
        description: uac80uc0c9uc5b4(UTF-8uc778ucf54ub529 ud544uc694)
        required: true
        default: uc9c4uc8fc
        type: string
      - name: display
        in: query
        description: 'uac80uc0c9uacb0uacfc ucd9cub825uac74uc218 (10 ~ 100) <br/> *uc801uc6a9
          ub300uc0c1: blog/ news/ book/ encyc/ cafearticle/ kin/ webkr/ image/ shop/
          doc <br/>* ube44uc801uc6a9 ub300uc0c1: adult/ errata'
        required: false
        default: 10
        type: integer
      - name: start
        in: query
        description: 'uac80uc0c9 uc2dcuc791 uc704uce58 (1~ 1000)<br/> * uc8fcuc758:**1000
          uc774uc0c1uc740 ubd88uac00**<br/> * uc801uc6a9 ub300uc0c1: blog/ news/ book/
          encyc/ cafearticle/ kin/ webkr/ image/ shop/ doc<br/>* ube44uc801uc6a9 ub300uc0c1:
          adult/ errata'
        required: false
        default: 1
        type: integer
      - name: sort
        in: query
        description: 'uc815ub82c uc635uc158: sim (uc720uc0acub3c4uc21c), date (ub0a0uc9dcuc21c)<br/>
          * uc801uc6a9 ub300uc0c1: blog/ news/ book/ cafearticle/ kin /image/ shop
          <br/> * ube44uc801uc6a9 ub300uc0c1: encyc/ webkr/ doc/adult/ errata <br/>
          - shop ucd94uac00 uc635uc158: asc(uac00uaca9uc624ub984ucc28uc21c) ,dsc(uac00uaca9ub0b4ub9bcucc28uc21c)<br/>
          - book ucd94uac00 uc635uc158: count(ud310ub9e4ub7c9uc21c)'
        required: false
        default: sim
        type: string
      - name: filter
        in: query
        description: 'uc774ubbf8uc9c0 uc0acuc774uc988 ud544ud130 uc635uc158 (***uc774ubbf8uc9c0
          uac80uc0c9ub9cc ud574ub2f9!!!***)<br/>uc0acuc774uc988 ud544ud130 uc635uc158:
          all(uc804uccb4), large(ud070 uc0acuc774uc988), medium(uc911uac04 uc0acuc774uc988),
          small(uc791uc740 uc0acuc774uc988)'
        required: false
        default: all
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/search/book_adv:
    get:
      tags:
      - Naver Services
      summary: ub124uc774ubc84 ucc45 uc0c1uc138 uac80uc0c9 API
      description: ucc45uc744 ub2e4uc591ud55c uc635uc158uc73cub85c uc0c1uc138ud558uac8c
        uac80uc0c9ud560 uc218 uc788ub294 APIuc785ub2c8ub2e4. <br/>ucc45 uc81cubaa9(d_titl),
        uc800uc790uba85(d_auth), ubaa9ucc28(d_cont), ISBN(d_isbn), ucd9cud310uc0ac(d_publ)
        5uac1c ud56dubaa9 uc911uc5d0uc11c 1uac1c uc774uc0c1 uac12uc744 uc785ub825ud574uc57c
        ud569ub2c8ub2e4.
      operationId: search.book_adv
      consumes:
      - plain/text
      produces:
      - application/xml
      - application/json
      parameters:
      - name: d_titl
        in: query
        description: ucc45 uc81cubaa9
        required: false
        default: api
        type: string
      - name: d_auth
        in: query
        description: uc800uc790uba85
        required: false
        default: okgosu
        type: string
      - name: d_cont
        in: query
        description: ubaa9ucc28 uac80uc0c9
        required: false
        default: uc11cubb38
        type: string
      - name: d_isbn
        in: query
        description: ISBN uac80uc0c9
        required: false
        default: "9788960771291"
        type: string
      - name: d_publ
        in: query
        description: ucd9cud310uc0ac uac80uc0c9
        required: false
        default: uc5d0uc774ucf58
        type: string
      - name: d_dafr
        in: query
        description: 'ucd9cuac04 uc2dcuc791uc77c(uc608: 20000203)'
        required: false
        default: "20000203"
        type: string
      - name: d_dato
        in: query
        description: ucd9cuac04 uc885ub8ccuc77c(uc608:20000203)
        required: false
        default: "20000203"
        type: string
      - name: d_catg
        in: query
        description: 'ucc45 uac80uc0c9 uce74ud14cuace0ub9ac : [uc0c1uc138ubaa9ub85dub9c1ud06c](https://developers.naver.com/inc/devcenter/downloads/categoryList.txt)'
        required: false
        default: "100"
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/search/local:
    get:
      tags:
      - Naver Services
      summary: ub124uc774ubc84 uc9c0uc5ed uac80uc0c9 API
      description: 'ub124uc774ubc84 uc9c0uc5ed uc11cube44uc2a4uc5d0 ub4f1ub85dub41c
        uac01 uc9c0uc5edubcc4 uc5c5uccb4 ubc0f uc0c1ud638 uac80uc0c9 uacb0uacfcub97c
        ucd9cub825ud574uc8fcub294 uac80uc0c9API uc785ub2c8ub2e4. <br/>(**uc8fcuc758
        : ud2b9uc815 uc704uce58 uae30ubc18 uac80uc0c9uc740 uc9c0uc6d0 uc548ud569ub2c8ub2e4.**)'
      operationId: search.local
      consumes:
      - plain/text
      produces:
      - application/xml
      - application/json
      parameters:
      - name: query
        in: query
        description: uac80uc0c9uc5b4(UTF-8uc778ucf54ub529 ud544uc694)
        required: true
        default: uc9c4uc8fc
        type: string
      - name: display
        in: query
        description: uac80uc0c9uacb0uacfc ucd9cub825uac74uc218 (10 ~ 100)
        required: false
        default: 10
        type: integer
      - name: start
        in: query
        description: uac80uc0c9 uc2dcuc791 uc704uce58 (1~ 1000, [**1000 uc774uc0c1uc740
          ubd88uac00**])
        required: false
        default: 1
        type: integer
      - name: sort
        in: query
        description: 'uc815ub82c uc635uc158: random(uc720uc0acub3c4uc21c), comment(uce74ud398/ube14ub85cuadf8
          ub9acubdf0 uac1cuc218 uc21c)'
        required: false
        default: random
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/search/movie:
    get:
      tags:
      - Naver Services
      summary: ub124uc774ubc84 uc601ud654 uac80uc0c9 API
      description: 'ub124uc774ubc84 uc9c0uc5ed uc11cube44uc2a4uc5d0 ub4f1ub85dub41c
        uac01 uc9c0uc5edubcc4 uc5c5uccb4 ubc0f uc0c1ud638 uac80uc0c9 uacb0uacfcub97c
        ucd9cub825ud574uc8fcub294 uac80uc0c9API uc785ub2c8ub2e4. <br/>(**uc8fcuc758
        : ud2b9uc815 uc704uce58 uae30ubc18 uac80uc0c9uc740 uc9c0uc6d0 uc548ud569ub2c8ub2e4.**)'
      operationId: search.movie
      consumes:
      - plain/text
      produces:
      - application/xml
      - application/json
      parameters:
      - name: query
        in: query
        description: uac80uc0c9uc5b4(UTF-8uc778ucf54ub529 ud544uc694)
        required: true
        default: starwars
        type: string
      - name: display
        in: query
        description: uac80uc0c9uacb0uacfc ucd9cub825uac74uc218 (10 ~ 100)
        required: false
        default: 10
        type: integer
      - name: start
        in: query
        description: uac80uc0c9 uc2dcuc791 uc704uce58 (1~ 1000, [**1000 uc774uc0c1uc740
          ubd88uac00**])
        required: false
        default: 1
        type: integer
      - name: genre
        in: query
        description: 'uc601ud654uc7a5ub974 uac80uc0c9 uc635uc158<br/>1: ub4dcub77cub9c8
          2: ud310ud0c0uc9c0 3: uc11cubd80 4: uacf5ud3ec 5: ub85cub9e8uc2a4 6: ubaa8ud5d8
          7: uc2a4ub9b4ub7ec 8: ub290uc640ub974 9: uceecud2b8 10: ub2e4ud050uba58ud130ub9ac
          11: ucf54ubbf8ub514 12: uac00uc871 13: ubbf8uc2a4ud130ub9ac 14: uc804uc7c1
          15: uc560ub2c8uba54uc774uc158 16: ubc94uc8c4 17: ubba4uc9c0uceec 18: SF
          21: uc5d0ub85c 22: uc11cuc2a4ud39cuc2a4 23: uc11cuc0ac 24: ube14ub799ucf54ubbf8ub514
          25: uc2e4ud5d8 26: uc601ud654uce74ud230 27: uc601ud654uc74cuc545 28: uc601ud654ud328ub7ecub514ud3ecuc2a4ud130'
        required: false
        default: ""
        type: string
      - name: country
        in: query
        description: uac80uc0c9 ub300uc0c1 uad6duac00 ucf54ub4dc (ub300ubb38uc790ub9cc
          uac00ub2a5)<br/>ud55cuad6d (KR), uc77cubcf8 (JP), ubbf8uad6d (US), ud64ducf69
          (HK), uc601uad6d (GB), ud504ub791uc2a4 (FR), uae30ud0c0 (ETC)
        required: false
        default: ""
        type: string
      - name: yearfrom
        in: query
        description: uc601ud654uc81cuc791ub144ub3c4 (ucd5cub300) <br/>yearfromuacfc
          yeartoub294 ud568uaed8 uc0acuc6a9
        required: false
        default: 2017
        type: integer
      - name: yearto
        in: query
        description: uc601ud654uc81cuc791ub144ub3c4 (ucd5cuc18c) <br/>yearfromuacfc
          yeartoub294 ud568uaed8 uc0acuc6a9
        required: false
        default: 2017
        type: integer
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/util/shorturl:
    get:
      tags:
      - Naver Services
      summary: ub124uc774ubc84 ub2e8ucd95 URL API
      description: uc785ub825ub41c URLuc744 me2.do ud615ud0dcub85c uc9e7uc740 URLub85c
        ubcc0ud658ud574uc8fcub294 REST APIuc785ub2c8ub2e4.
      operationId: util.shorturl
      consumes:
      - plain/text
      produces:
      - application/xml
      - application/json
      parameters:
      - name: url
        in: query
        description: ub2e8ucd95ud558uace0uc790 ud558ub294 uc6d0ubcf8 URL
        required: true
        default: https://developers.naver.com
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/captcha/nkey:
    get:
      tags:
      - Naver Services
      summary: uc774ubbf8uc9c0 ucea1ucc28 API - ud0a4ubc1cuae09/ube44uad50
      description: ucea1ucc28 ud0a4 ubc1cuae09/uc785ub825uac12 ube44uad50ud558ub294
        REST APIuc785ub2c8ub2e4.
      operationId: captcha.nkey
      consumes:
      - plain/text
      produces:
      - application/xml
      - application/json
      parameters:
      - name: code
        in: query
        description: '0: ud0a4ubc1cuae09,  1:ud0a4uc640 uc785ub825uac12 ube44uad50'
        required: true
        default: 0
        type: integer
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/captcha/ncaptcha.bin:
    get:
      tags:
      - Naver Services
      summary: uc774ubbf8uc9c0 ucea1ucc28 API - ucea1ucc28 uc774ubbf8uc9c0 uc694uccad
      description: ucea1ucc28 ud0a4 ubc1cuae09 ud6c4 ucea1ucc28 uc774ubbf8uc9c0ub97c
        uc694uccadud558ub294 REST APIuc785ub2c8ub2e4.
      operationId: captcha.ncaptcha
      consumes:
      - plain/text
      produces:
      - image/jpeg
      parameters:
      - name: code
        in: query
        description: ucea1ucc28 ud0a4 ubc1cuae09 API ud638ucd9cub85c ubc1buc740 ud0a4
          uac12
        required: true
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/captcha/skey:
    get:
      tags:
      - Naver Services
      summary: uc74cuc131 ucea1ucc28 API - ud0a4ubc1cuae09/ube44uad50
      description: ucea1ucc28 ud0a4 ubc1cuae09/uc785ub825uac12 ube44uad50ud558ub294
        REST APIuc785ub2c8ub2e4.
      operationId: captcha.skey
      consumes:
      - plain/text
      produces:
      - application/xml
      - application/json
      parameters:
      - name: code
        in: query
        description: '0: ud0a4ubc1cuae09,  1:ud0a4uc640 uc785ub825uac12 ube44uad50'
        required: true
        default: 0
        type: integer
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/captcha/scaptcha:
    get:
      tags:
      - Naver Services
      summary: uc74cuc131 ucea1ucc28 API - ucea1ucc28 uc74cuc131 uc694uccad
      description: ucea1ucc28 ud0a4 ubc1cuae09 ud6c4 ucea1ucc28 uc74cuc131uc744 uc694uccadud558ub294
        REST APIuc785ub2c8ub2e4.
      operationId: captcha.scaptcha
      consumes:
      - plain/text
      produces:
      - voice/wav
      parameters:
      - name: code
        in: query
        description: ucea1ucc28 ud0a4 ubc1cuae09 API ud638ucd9cub85c ubc1buc740 ud0a4
          uac12
        required: true
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/papago/n2mt:
    post:
      tags:
      - Papago
      summary: Papago NMT ubc88uc5ed API
      description: ud14duc2a4ud2b8uac12uc744 uc785ub825ubc1buc73cuba74 ubc88uc5ed
        uacb0uacfcub97c ub9acud134ud569ub2c8ub2e4.
      operationId: papago.nmt
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      - application/json
      parameters:
      - name: source
        in: formData
        description: 'ubc88uc5ed uc18cuc2a4 ud14duc2a4ud2b8uc758 uc5b8uc5b4 uc124uc815:
          ko : ud55cuad6duc5b4 en : uc601uc5b4 zh-CN : uc911uad6duc5b4 uac04uccb4
          kr<->en, ko <-> zh-CN ub9cc uac00ub2a5'
        required: true
        default: ko
        type: string
      - name: target
        in: formData
        description: ubc88uc5ed ub300uc0c1 uc5b8uc5b4, uac00ub2a5ud55c uac12uc740
          source ud30cub77cubbf8ud130uc640 ub3d9uc77c
        required: true
        default: ko
        type: string
      - name: text
        in: formData
        description: ubc88uc5edud560 ubb38uc7a5uc774uba70 UTF-8ub9cc uc9c0uc6d0
        required: true
        default: ub098ub294 ud55cuad6duc778uc785ub2c8ub2e4.
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/language/translate:
    post:
      tags:
      - Papago
      summary: Papago SMT ubc88uc5ed API
      description: ud14duc2a4ud2b8uac12uc744 uc785ub825ubc1buc73cuba74 ubc88uc5ed
        uacb0uacfcub97c ub9acud134ud569ub2c8ub2e4.
      operationId: papago.smt
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      - application/json
      parameters:
      - name: source
        in: formData
        description: 'ubc88uc5ed uc18cuc2a4 ud14duc2a4ud2b8uc758 uc5b8uc5b4 uc124uc815:
          (ko:ud55cuad6duc5b4, en:uc601uc5b4, ja:uc77cubcf8uc5b4, zh-CN:uc911uad6duc5b4(uac04uccb4),
          zh-TW:uc911uad6duc5b4(ubc88uccb4)'
        required: true
        default: ko
        type: string
      - name: target
        in: formData
        description: ubc88uc5ed ub300uc0c1 uc5b8uc5b4, uac00ub2a5ud55c uac12uc740
          source ud30cub77cubbf8ud130uc640 ub3d9uc77c
        required: true
        default: ko
        type: string
      - name: text
        in: formData
        description: ubc88uc5edud560 ubb38uc7a5uc774uba70 UTF-8ub9cc uc9c0uc6d0
        required: true
        default: ub098ub294 ud55cuad6duc778uc785ub2c8ub2e4.
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/krdict/romanization:
    get:
      tags:
      - Papago
      summary: ud55cuae00uc778uba85 - ub85cub9c8uc790 ubcc0ud658
      description: '''ud55cuae00ub85c ub41c uc774ub984uc744 ub85cub9c8uc790 ud45cuae30ub85c
        ubcc0ud658ud574uc8fcub294 APIuc785ub2c8ub2e4. ud604ud589 ub85cub9c8uc790 ud45cuae30ubc95uc744
        ub530ub77c ubcc0ud658ud55c uc774ub984uacfc ud1b5uacc4uc801uc73cub85c ub9ceuc774
        uc0acuc6a9ub418uace0 uc788ub294 ub85cub9c8uc790 uc774ub984ub3c4 ud568uaed8
        uc81cuc548 ubc1buc744 uc218 uc788uc2b5ub2c8ub2e4.'''
      operationId: papago.romanization
      consumes:
      - plain/text
      produces:
      - application/json
      parameters:
      - name: query
        in: query
        description: ub85cub9c8uc790ub85c ubc14uafb8ub824ub294 ud55cuae00 uc774ub984
          (UTF-8)
        required: true
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/voice/tts.bin:
    post:
      tags:
      - Clova
      summary: ud14duc2a4ud2b8ub97c uc74cuc131uc73cub85c ubcc0ud658
      description: uc785ub825ub41c ud14duc2a4ud2b8ub97c uc131uc6b0uc758 ub0adub3c5
        uc74cuc131uc73cub85c ud569uc131ud574 uc8fcub294 REST APIuc785ub2c8ub2e4.
      operationId: voice.tts
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - audio/mpeg
      parameters:
      - name: speaker
        in: formData
        description: 'uc74cuc131 ud569uc131ud560 ubaa9uc18cub9ac uc124uc815: ( mijin:ubbf8uc9c4(ud55cuad6duc5b4,
          uc5ecuc131), jinho:uc9c4ud638(ud55cuad6duc5b4, ub0a8uc131), clara:ud074ub77cub77c(uc601uc5b4,uc5ecuc131),
          matt:ub9e4ud29c(uc601uc5b4, ub0a8uc131), yuri:uc720ub9ac(uc77cubcf8uc5b4,
          uc5ecuc131), shinji:uc2e0uc9c0(uc77cubcf8uc5b4, ub0a8uc131),  meimei:uba54uc774uba54uc774(uc911uad6duc5b4,
          uc5ecuc131))'
        required: true
        default: mijin
        type: string
      - name: speed
        in: formData
        description: -5 ~ 5 uc0acuc774 uc815uc218ub85c -5uba74 0.5ubc30 ube60ub978,
          5uba74 0.5ubc30 ub290ub9b0, 0uc774uba74 uc815uc0c1 uc18dub3c4uc758 ubaa9uc18cub9acub85c
          ud569uc131
        required: true
        default: "0"
        type: string
      - name: text
        in: formData
        description: uc74cuc131ud569uc131ud560 ubb38uc7a5uc774uba70 UTF-8ub9cc uc9c0uc6d0
        required: true
        default: uc74cuc131ud569uc131 ud14cuc2a4ud2b8 uc785ub2c8ub2e4.
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/map/geocode:
    get:
      tags:
      - Maps
      summary: uc8fcuc18c->uc88cud45c ubcc0ud658 API
      description: uc9c0ubc88 ub610ub294 ub3c4ub85cuba85 uc8fcuc18cuc640 uac19uc774
        uc2e4uc81c uc874uc7acud558ub294 uc8fcuc18cuc5d0 ub300ud55c uc88cud45cub97c
        uac80uc0c9ud569ub2c8ub2e4. (uac74ubb3cuba85 ub610ub294 uc544ud30cud2b8uba85
        uac80uc0c9 ubd88uac00) uc9c0ubc88uc8fcuc18cuac00 uac19ub354ub77cub3c4, ub3c4ub85cuba85
        uc8fcuc18cuac00 ub2e4ub978 uacbduc6b0uac00 uc874uc7acud560 uc218 uc788uc2b5ub2c8ub2e4.
      operationId: maps.geocode
      consumes:
      - plain/text
      produces:
      - application/xml
      - application/json
      parameters:
      - name: query
        in: query
        description: uac80uc0c9ud560 uc8fcuc18cuac12 (UTF-8uc778ucf54ub529 ud544uc694)
        required: true
        default: ubd88uc815ub85c 6
        type: string
      - name: encoding
        in: query
        description: ucd9cub825 uacb0uacfc uc778ucf54ub529 uac12 (utf-8, euc-kr)
        required: false
        default: utf-8
        type: string
      - name: coordType
        in: query
        description: ucd9cub825 uc88cud45c uccb4uacc4 uac12(latlng(uc704uacbdub3c4),
          tm128(uce74ud14d) )
        required: false
        default: 1
        type: string
      - name: callback
        in: query
        description: outputuc774 jsonuc77c uacbduc6b0, jsonp ubc29uc2dduc73cub85c
          ud638ucd9cud558uae30 uc704ud55c callback ud568uc218uba85. callback ud30cub77cubbf8ud130ub97c
          uc9c0uc815ud560 uacbduc6b0uc5d0ub9cc jsonp ud638ucd9cuc774 uac00ub2a5
        required: false
        default: ""
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/map/reversegeocode:
    get:
      tags:
      - Maps
      summary: uc88cud45c-> uc8fcuc18c ubcc0ud658 API
      description: uc88cud45cuc5d0 ub300ud55c uc9c0ubc88 ub610ub294 ub3c4ub85cuba85
        uc8fcuc18cub97c uac80uc0c9ud569ub2c8ub2e4.
      operationId: maps.reversegeocode
      consumes:
      - plain/text
      produces:
      - application/xml
      - application/json
      parameters:
      - name: query
        in: query
        description: uac80uc0c9ud560 uc88cud45c uac12 (x,y ud615uc2dd)
        required: true
        default: 127.1141382,37.3599968
        type: string
      - name: encoding
        in: query
        description: ucd9cub825 uacb0uacfc uc778ucf54ub529 uac12 (utf-8, euc-kr)
        required: false
        default: utf-8
        type: string
      - name: coordType
        in: query
        description: ucd9cub825 uc88cud45c uccb4uacc4 uac12(latlng(uc704uacbdub3c4),
          tm128(uce74ud14d) )
        required: false
        default: 1
        type: string
      - name: callback
        in: query
        description: outputuc774 jsonuc77c uacbduc6b0, jsonp ubc29uc2dduc73cub85c
          ud638ucd9cud558uae30 uc704ud55c callback ud568uc218uba85. callback ud30cub77cubbf8ud130ub97c
          uc9c0uc815ud560 uacbduc6b0uc5d0ub9cc jsonp ud638ucd9cuc774 uac00ub2a5
        required: false
        default: ""
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/map/staticmap.bin:
    get:
      tags:
      - Maps
      summary: uc9c0uc815ub41c uc88cud45cuc758 ub124uc774ubc84 uc9c0ub3c4 uc774ubbf8uc9c0ub97c
        ucd9cub825
      description: uc9c0uc815ub41c uc88cud45cuc758 ub124uc774ubc84 uc9c0ub3c4 uc774ubbf8uc9c0ub97c
        ucd9cub825
      operationId: maps.staticmap
      consumes:
      - plain/text
      produces:
      - image/jpeg
      - image/png
      parameters:
      - name: clientId
        in: query
        description: uc560ud50cub9acucf00uc774uc158 ub4f1ub85d uc2dc ubc1cuae09ubc1buc740
          ud074ub77cuc774uc5b8ud2b8 uc544uc774ub514 uac12
        required: true
        type: string
      - name: url
        in: query
        description: ub4f1ub85dud55c uc560ud50cub9acucf00uc774uc158uc758 uc11cube44uc2a4
          URL uac12
        required: true
        type: string
      - name: scale
        in: query
        description: 'ud654uba74 ubc30uc728<br/>1: uae30ubcf8 ud0c0uc77c uc0acuc774uc988(256),
          2:uace0ud574uc0c1ub3c4 ud0c0uc77c uc0acuc774uc988(512)'
        default: 1
        required: false
        type: integer
      - name: crs
        in: query
        description: 'uc88cud45cuccb4uacc4<br/> 1. EPSG:4326 : WGS84 uacbduc704ub3c4
          2. NHN:2048 : UTMK 3. NHN:128 : uce74ud14d TM128 4. EPSG:4258 : GRS80 uacbduc704ub3c4
          5. EPSG:4162 : Bessel uacbduc704ub3c4 6. EPSG:2096 : Korea East Belt 7.
          EPSG:2097 : Korea Central Belt 8. EPSG:2098 : Korea West Belt 9. EPSG:3857
          or EPSG:9009 13 : Google Maps'
        default: EPSG:4326
        required: false
        type: string
      - name: exception
        in: query
        description: 'uc608uc678 ubc1cuc0dduc2dc ucc98ub9acubc29ubc95<br/> 1. json:
          json ud3ecub9f7uc73cub85c uc5d0ub7ec uc815ubcf4ub97c ubc18ud658ud55cub2e4.
          2. blank : ube48 uc774ubbf8uc9c0ub97c ubc18ud658ud55cub2e4. formatuc774
          pnguc77c ub54cub294 ud22cuba85 uc774ubbf8uc9c0, jpg(jpeg)uc77c ub54cub294
          ud770 uc0c9uc758 ubd88ud22cuba85 uc774ubbf8uc9c0ub97c ubc18ud658ud55cub2e4.
          3. xml : utf-8uc778ucf54ub529ud615uc2dduc73cub85c uc5d0ub7ec uc815ubcf4ub97c
          ub2f4uc740 xmlud30cuc77cuc744 ubc18ud658ud55cub2e4. 4. inimage : uc5d0ub7ec
          uc815ubcf4uac00 ud3ecud568ub41c uc774ubbf8uc9c0ub97c ubc18ud658ud55cub2e4.'
        default: json
        required: false
        type: string
      - name: center
        in: query
        description: uc774ubbf8uc9c0uc758 uc911uc2ec uc88cud45c(Xuc88cud45c, Yuc88cud45c)
          <br/>uc774 uc911uc2ec uc88cud45cub97c uae30uc900uc73cub85c uc694uccadud55c
          w, h ud53duc140 ud06cuae30ub85c uc774ubbf8uc9c0ub97c uc0dduc131ud55cub2e4.
          crs ud30cub77cubbf8ud130uc758 uc88cud45cuccb4uacc4 uc815uc758ub97c ub530ub978ub2e4.
          ucc38uace0ub85c uacbduc704ub3c4 uc88cud45c uccb4uacc4uc778 uacbduc6b0 uc785ub825
          ud615uc2dduc740 <uacbdub3c4,uc704ub3c4>uc774ub2e4. ex) center=127.1141382,37.3599968
        required: false
        type: string
      - name: level
        in: query
        description: ub124uc774ubc84uc9c0ub3c4 uc11cube44uc2a4uc5d0 uc815uc758ub418uc5b4
          uc788ub294 uc90c ub808ubca8uc774ub2e4. (1~14)
        default: 1
        required: false
        type: integer
      - name: x
        in: query
        description: uac00ub85c uc774ubbf8uc9c0 ud06cuae30(ud53duc140 ub2e8uc704)uc774ub2e4.
          (1 ~ 640)
        required: false
        type: integer
      - name: "y"
        in: query
        description: uc138ub85c uc774ubbf8uc9c0 ud06cuae30(ud53duc140 ub2e8uc704)uc774ub2e4.
          (1 ~ 640)
        default: 1
        required: false
        type: integer
      - name: baselayer
        in: query
        description: 'base uc9c0ub3c4 ub808uc774uc5b4<br/>  1. default : uc77cubc18
          uc9c0ub3c4 2. satellite : uc704uc131 uc9c0ub3c4 3. bl_vc_bg: uc8fcuae30uac00
          uc5c6ub294 ubc30uacbd uc9c0ub3c4 ex) baselayer=default'
        required: false
        type: string
      - name: overlayer
        in: query
        description: 'overlay uc9c0ub3c4 ub808uc774uc5b4<br/> uc0ddub7b5ud558uac70ub098
          uc5ecub7ec uac1cuc758 ub808uc774uc5b4ub97c uc870ud569 uac00ub2a5ud558uba70,
          ucf64ub9c8 uad6cubd84uc790ub85c uc21cuc11cub300ub85c uc911ucca9ud574uc11c
          uc9c0ub3c4 uc774ubbf8uc9c0ub97c ud45cuc2dcud55cub2e4. 1. anno_satellite:
          uc704uc131 uacb9uce68 uc9c0ub3c4 2. traffic: uc2e4uc2dcuac04 uad50ud1b5
          3. bicycle: uc790uc804uac70 4. roadview: uac70ub9acubdf0 ex)overlayers=anno_satellite,bicycle'
        required: false
        type: string
      - name: format
        in: query
        description: 'uc774ubbf8uc9c0 ud615uc2dd: png / jpeg(jpg) ud3ecub9f7uc744
          uc9c0uc6d0ud55cub2e4.'
        default: png
        required: false
        type: string
      - name: markers
        in: query
        description: uc9c0ub3c4 uc0c1uc5d0 ud540uc744 ud45cuc2dc<br/> marker uc694uccad
          ubcc0uc218 uac1cuc218ub9ccud07c ud540uc744 ud45cuc2dcud558uba70 uac12uc774
          uc5c6uc73cuba74 ud45cud604ud558uc9c0 uc54aub294ub2e4. crs ud30cub77cubbf8ud130uc5d0uc11c
          uc124uc815ud55c uc88cud45c uccb4uacc4ub97c ub530ub978ub2e4.  ucf64ub9c8ub97c
          uad6cubd84uc790ub85c uc21cuc11cub300ub85c 2uac1c ub2e8uc704ub85c uc88cud45c
          uac12uc744 ub04auc5b4uc11c ud558ub098uc758 ub9c8ucee4ub85c ud45cuc2dcud55cub2e4.
          ex) 2uac1c uc694uccad markers=127.1141382,37.3599968,127.1141382,37.3599968
        required: false
        type: string
      - name: markers_ab
        in: query
        description: uc9c0ub3c4 uc0c1uc5d0 uc54cud30cubcb3(A~J) ud540uc744 ud45cuc2dc<br/>
          ucf64ub9c8ub97c uad6cubd84uc790ub85c A~J uc21cuc11cub300ub85c 2uac1c ub2e8uc704ub85c
          uc88cud45c uac12uc744 ub04auc5b4uc11c ud558ub098uc758 ub9c8ucee4ub85c ud45cuc2dcud558uba70
          uc88cud45c uac12uc740 crs ud30cub77cubbf8ud130uc758 uc88cud45cuccb4uacc4
          uc815uc758ub97c ub530ub978ub2e4.ex) A, B uc54cud30cubcb3 ub9c8ucee4 uc694uccad
          markers=127.1141382,37.3599968,127.1141382,37.3599968
        required: false
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - clientId: []
      - clientSecret: []
  /v1/nid/me:
    get:
      tags:
      - Naver Login
      summary: ub124uc774ubc84 ud68cuc6d0 ud504ub85cud544 uc870ud68c
      description: '''ub124uc774ubc84 ub85cuadf8uc778uc744 ud1b5ud574 uc778uc99dubc1buc740
        ubc1buace0 uc815ubcf4 uc81cuacf5uc5d0 ub3d9uc758ud55c ud68cuc6d0uc5d0 ub300ud574
        ud68cuc6d0 uba54uc77c uc8fcuc18c, ubcc4uba85, ud504ub85cud544 uc0acuc9c4,
        uc0dduc77c, uc5f0ub839ub300 uac12uc744 uc870ud68cud560 uc218 uc788ub294 ub85cuadf8uc778
        uc624ud508 APIuc785ub2c8ub2e4'''
      operationId: nid.me
      consumes:
      - plain/text
      produces:
      - application/json
      responses:
        405:
          description: Invalid input
      security:
      - accessToken: []
  /blog/writePost:
    post:
      tags:
      - Naver Login
      summary: ube14ub85cuadf8 uae00uc4f0uae30
      description: ub124uc774ubc84 ub85cuadf8uc778uc744 ud1b5ud574 uc778uc99dubc1buc740
        uc0acuc6a9uc790uc758 ube14ub85cuadf8uc5d0 uae00uc4f0uac00ub2a5ud55c uc624ud508
        APIuc785ub2c8ub2e4
      operationId: blog.writePost
      consumes:
      - application/x-www-form-urlencoded
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: title
        in: formData
        description: ud3ecuc2a4ud2b8 uc81cubaa9
        required: true
        type: string
      - name: contents
        in: formData
        description: ubcf8ubb38 ub0b4uc6a9
        required: true
        type: string
      - name: image
        in: formData
        description: uc774ubbf8uc9c0 ucca8ubd80ud30cuc77c <br/> - image ud30cub77cubbf8ud130ub97c
          uc0acuc6a9ud560 ub54cub294 ub370uc774ud130ub97c multipart ud615uc2dduc73cub85c
          uc804uc1a1ud574uc57c ud55cub2e4. - uc774ubbf8uc9c0 ud30cuc77cuc744 2uac1c
          uc774uc0c1 ucca8ubd80ud560 ub54cub294 ud30cub77cubbf8ud130ub97c uc911ubcf5ud574uc11c
          uc0acuc6a9ud55cub2e4.
        required: false
        type: file
      - name: categoryNo
        in: formData
        description: uae00uc774 uc791uc131ub420 uce74ud14cuace0ub9ac ubc88ud638
        default: uccab ubc88uc9f8 uce74ud14cuace0ub9ac
        required: false
        type: integer
      - name: options.openType
        in: formData
        default: all
        description: 'uacf5uac1c uc124uc815 <br/> - all: uacf5uac1c - closed: ube44uacf5uac1c
          - neighbor: uc774uc6c3uacf5uac1c- agreedNeighbor: uc11cub85cuc774uc6c3uacf5uac1c '
        required: false
        type: string
      - name: options.allowComment
        in: formData
        default: true
        description: ub367uae00 ud5c8uc6a9
        required: false
        type: string
      - name: options.allowSympathy
        in: formData
        default: true
        description: uacf5uac10 ud5c8uc6a9
        required: false
        type: string
      - name: options.scrapType
        in: formData
        default: link
        description: 'ub2e4ub978 ube14ub85cuadf8/uce74ud398ub85c uc2a4ud06cub7a9 ud5c8uc6a9.<br/>
          - content : ubcf8ubb38 uc2a4ud06cub7a9 ud5c8uc6a9- link : ub9c1ud06c uc2a4ud06cub7a9
          ud5c8uc6a9 - closed : uc2a4ud06cub7a9 ubd88ud5c8'
        required: false
        type: string
      - name: options.allowSend
        in: formData
        default: true
        description: uc678ubd80 ubcf4ub0b4uae30 ud5c8uc6a9
        required: false
        type: string
      - name: options.allowSearch
        in: formData
        default: true
        description: uac80uc0c9 ud5c8uc6a9
        required: false
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - accessToken: []
  /blog/listCategory:
    get:
      tags:
      - Naver Login
      summary: ube14ub85cuadf8 uce74ud14cuace0ub9ac uc870ud68c
      description: ub124uc774ubc84 ub85cuadf8uc778uc744 ud1b5ud574 uc778uc99dubc1buc740
        uc0acuc6a9uc790uc758 ube14ub85cuadf8uc758 uce74ud14cuace0ub9acub97c uc870ud68cud558ub294
        uc624ud508 APIuc785ub2c8ub2e4
      operationId: blog.listCategory
      consumes:
      - plain/text
      produces:
      - application/json
      responses:
        405:
          description: Invalid input
      security:
      - accessToken: []
  /v1/cafe/{clubid}/members:
    post:
      tags:
      - Naver Login
      summary: ud2b9uc815 uce74ud398 uac00uc785ud558uae30
      description: ub124uc774ubc84 ub85cuadf8uc778uc744 ud1b5ud574 uc778uc99dubc1buc740
        uc0acuc6a9uc790 uacc4uc815uc73cub85c clubidub85c uc9c0uc815ub41c uce74ud398uc5d0
        uac00uc785ud558ub294 APIuc785ub2c8ub2e4
      operationId: cafe.members
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/json
      parameters:
      - name: clubid
        in: path
        description: uce74ud398 uc544uc774ub514 <br/> uce74ud398 uad00ub9ac ud398uc774uc9c0uc640
          uac19uc774 uce74ud398 ub0b4 uc774ub3d9 uc2dc clubidub85c ud45cud604ub418ub294
          ud30cub77cubbf8ud130ub294 uce74ud398uc758 uace0uc720 uc544uc774ub514uc785ub2c8ub2e4.
          (http://cafe.naver.com/ManageHome.nhn?clubid=14447337 uc758 14447337uac12uc774
          clubiduc785ub2c8ub2e4.)
        required: true
        type: string
      - name: nickname
        in: formData
        description: uce74ud398uc5d0 uac00uc785ud560 ub54c uc9c0uc815ud560 ubcc4uba85
          - -8 uc778ucf54ub529ud558uc5ec uc694uccad
        required: true
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - accessToken: []
  /v1/cafe/{clubid}/menu/{menuid}/articles:
    post:
      tags:
      - Naver Login
      summary: ud2b9uc815 uce74ud398 uac8cuc2dcud310uc5d0 uae00uc4f0uae30
      description: ub124uc774ubc84 ub85cuadf8uc778uc744 ud1b5ud574 uc778uc99dubc1buc740
        uc0acuc6a9uc790 uacc4uc815uc73cub85c clubidub85c uc9c0uc815ub41c uce74ud398uc758
        menuidub85c uc9c0uc815ub41c uac8cuc2dcud310uc5d0 uae00uc744 uc4f0ub294 APIuc785ub2c8ub2e4
      operationId: cafe.articles
      consumes:
      - application/x-www-form-urlencoded
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: clubid
        in: path
        description: uce74ud398 uc544uc774ub514 <br/> uce74ud398 uad00ub9ac ud398uc774uc9c0uc640
          uac19uc774 uce74ud398 ub0b4 uc774ub3d9 uc2dc clubidub85c ud45cud604ub418ub294
          ud30cub77cubbf8ud130ub294 uce74ud398uc758 uace0uc720 uc544uc774ub514uc785ub2c8ub2e4.
          (http://cafe.naver.com/ManageHome.nhn?clubid=14447337 uc758 14447337uac12uc774
          clubiduc785ub2c8ub2e4.)
        required: true
        type: string
      - name: menuid
        in: path
        description: uac8cuc2dcud310 uc544uc774ub514
        required: true
        type: string
      - name: subject
        in: formData
        description: uac8cuc2dcuae00 uc81cubaa9 - UTF-8 uc778ucf54ub529ud558uc5ec
          uc694uccad
        required: true
        type: string
      - name: image
        in: formData
        description: uc774ubbf8uc9c0 ucca8ubd80ud30cuc77c <br/> - image ud30cub77cubbf8ud130ub97c
          uc0acuc6a9ud560 ub54cub294 ub370uc774ud130ub97c multipart ud615uc2dduc73cub85c
          uc804uc1a1ud574uc57c ud55cub2e4. - uc774ubbf8uc9c0 ud30cuc77cuc744 2uac1c
          uc774uc0c1 ucca8ubd80ud560 ub54cub294 ud30cub77cubbf8ud130ub97c uc911ubcf5ud574uc11c
          uc0acuc6a9ud55cub2e4.
        required: false
        type: file
      - name: openyn
        in: formData
        default: false
        description: 'uac8cuc2dcuae00 uacf5uac1c uc124uc815: <br/>- true: uc804uccb4
          uacf5uac1c - false: uba64ubc84 uacf5uac1c'
        required: false
        type: string
      - name: searchopen
        in: formData
        default: true
        description: 'uac8cuc2dcuae00 uac80uc0c9 uc124uc815 <br/>- true: ub124uc774ubc84uc5d0uc11c
          uac80uc0c9 ud5c8uc6a9 - false: ub124uc774ubc84uc5d0uc11c uac80uc0c9 ud5c8uc6a9
          uc548 ud568 <br/>- openyn ud30cub77cubbf8ud130ub97c trueub85c uc124uc815ud558uba74
          searchopen ud30cub77cubbf8ud130ub294 trueub85c uc124uc815ub41cub2e4.'
        required: false
        type: string
      - name: replyyn
        in: formData
        default: true
        description: 'uac8cuc2dcuae00 ub367uae00 uc124uc815 <br/>- true: ub367uae00
          ud5c8uc6a9 - false: ub367uae00 ud5c8uc6a9 uc548 ud568'
        required: false
        type: string
      - name: metoo
        in: formData
        default: true
        description: 'ube14ub85cuadf8, uce74ud398 ubcf4ub0b4uae30 uc124uc815 <br/>-
          true: ubcf4ub0b4uae30 ud5c8uc6a9 - false: ubcf4ub0b4uae30 ud5c8uc6a9 uc548
          ud568'
        required: false
        type: string
      - name: autosourcing
        in: formData
        default: true
        description: 'uac8cuc2dcuae00 uc790ub3d9 ucd9cucc98 uc124uc815 <br/>- true:
          uc790ub3d9 ucd9cucc98 uc0acuc6a9 - false: uc790ub3d9 ucd9cucc98 uc0acuc6a9
          uc548 ud568'
        required: false
        type: string
      - name: rclick
        in: formData
        default: true
        description: 'ub9c8uc6b0uc2a4 uc624ub978ucabd ubc84ud2bc uc0acuc6a9 uc124uc815
          <br/>- true: ub9c8uc6b0uc2a4 uc624ub978ucabd ubc84ud2bc uc0acuc6a9 ud5c8uc6a9
          - false: ub9c8uc6b0uc2a4 uc624ub978ucabd ubc84ud2bc uc0acuc6a9 ud5c8uc6a9
          uc548 ud568'
        required: false
        type: string
      - name: ccl
        in: formData
        default: true
        description: 'CCL uc0acuc6a9 uc124uc815 <br/>- true: CCL uc0acuc6a9 - false:
          CCL uc0acuc6a9 uc548 ud568'
        required: false
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - accessToken: []
  /calendar/createSchedule.json:
    post:
      tags:
      - Naver Login
      summary: uce98ub9b0ub354 uc77cuc815 ucd94uac00
      description: ub124uc774ubc84 ub85cuadf8uc778uc744 ud1b5ud574 uc778uc99dubc1buc740
        uc0acuc6a9uc790uc758 uce98ub9b0ub354uc5d0 uc77cuc815uc744 ucd94uac00ud558ub294
        uc624ud508 APIuc785ub2c8ub2e4
      operationId: calendar.createSchedule
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/json
      parameters:
      - name: calendarId
        in: formData
        description: uc720ub2c8ud06cud55c uce98ub9b0ub354 uc544uc774ub514uac12<br/>
          uce98ub9b0ub354ID.defaultCalendarIdub97c uc785ub825ud558uba74 uae30ubcf8
          uce98ub9b0ub354uc5d0 uc77cuc815uc774 uc0dduc131ub41cub2e4.
        required: true
        type: string
      - name: scheduleIcalString
        in: formData
        description: iCalendar ub370uc774ud130 <br/>[uc608uc2dc]  <br/>BEGIN:VCALENDAR
          <br/>VERSION:2.0 <br/>PRODID:Naver Calendar <br/>CALSCALE:GREGORIAN <br/>BEGIN:VTIMEZONE
          <br/>TZID:Asia/Seoul <br/>BEGIN:STANDARD <br/>DTSTART:19700101T000000 <br/>TZNAME:GMT+09:00
          <br/>TZOFFSETFROM:+0900 <br/>TZOFFSETTO:+0900 <br/>END:STANDARD <br/>END:VTIMEZONE
          <br/>BEGIN:VEVENT <br/>SEQUENCE:0 <br/>CLASS:PUBLIC <br/>TRANSP:OPAQUE <br/>UID:6E12DA93-8B43-4576-9A8A-31B4BDC8
          <br/>DTSTART;TZID=Asia/Seoul:20140905T110000 <br/>DTEND;TZID=Asia/Seoul:20140905T120000
          <br/>SUMMARY:ub9e4uc8fcubc18ubcf5 uc0d8ud50c <br/>DESCRIPTION:uc0c1uc138
          uc124uba85uc601uc5ed <br/>LOCATION:uc5ecuae30uc5d0uc11c <br/>RRULE:FREQ=WEEKLY;BYDAY=FR;INTERVAL=1;UNTIL=20141030
          <br/>ORGANIZER;CN=ubcc4uba85:mailto:userid@sample.com <br/>ATTENDEE;ROLE=REQ-PARTICIPANT;PARTSTAT=NEEDS-ACTION;CN=ucc38uc11duc790:mailto:userId2@sample.com
          <br/>CREATED:20140905T015408Z <br/>LAST-MODIFIED:20140905T015408Z <br/>DTSTAMP:20140905T015409Z
          <br/>END:VEVENT <br/>END:VCALENDAR
        required: true
        type: string
      responses:
        405:
          description: Invalid input
      security:
      - accessToken: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:16:\"DatalabSearchReq\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:63:\"\uB124\uC774\uBC84
  \uD1B5\uD569 \uAC80\uC0C9\uC5B4 \uD2B8\uB80C\uB4DC API \uC694\uCCAD\uC744 \uC704\uD55C
  JSON \";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"(\uD544\uC218)
  \uAD6C\uAC04 \uC2DC\uC791 \uB0A0\uC9DC (2016.01.01 \uBD80\uD130 \uC81C\uACF5)\";s:7:\"example\";s:10:\"2017-01-01\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"(\uD544\uC218)\uAD6C\uAC04
  \uC885\uB8CC \uB0A0\uC9DC\";s:7:\"example\";s:10:\"2017-04-30\";}s:8:\"timeUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"(\uD544\uC218)\uAD6C\uAC04
  \uB2E8\uC704 (date, week, month)\";s:7:\"example\";s:5:\"month\";}s:13:\"keywordGroups\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:62:\"(\uD544\uC218)\uC8FC\uC81C\uC5B4,\uAC80\uC0C9\uC5B4
  \uADF8\uB8F9 (\uCD5C\uB300 5\uAC1C \uADF8\uB8F9 \uC9C0\uC6D0)\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"groupName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"(\uD544\uC218)\uC8FC\uC81C\uC5B4(\uAC80\uC0C9\uC5B4
  \uADF8\uB8F9\uD551)\";s:7:\"example\";s:6:\"\uD55C\uAE00\";}s:8:\"keywords\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:96:\"(\uD544\uC218)\uD574\uB2F9
  \uADF8\uB8F9\uC5D0 \uC18D\uD558\uB294 \uAC80\uC0C9\uC5B4 \uB9AC\uC2A4\uD2B8 (\uADF8\uB8F9\uB2F9
  \uCD5C\uB300 20\uAC1C \uAC80\uC0C9\uC5B4 \uC9C0\uC6D0)\";s:7:\"example\";s:20:\"[\"\uD55C\uAE00\",
  \"korean\"]\";}}}s:6:\"device\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"(\uC120\uD0DD)
  PC/\uBAA8\uBC14\uC77C \uD544\uD130 : pc/mo\";s:7:\"example\";s:2:\"mo\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"(\uC120\uD0DD)
  \uC131\uBCC4 \uD544\uD130 : m/f\";s:7:\"example\";s:1:\"F\";}s:4:\"ages\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"(\uC120\uD0DD)
  \uB098\uC774 \uD544\uD130 : 1~11, \uAD6C\uAC04 \uC815\uBCF4\uB294 \uC544\uB798 \uCC38\uC870\";s:7:\"example\";s:1:\"1\";}}}s:3:\"tts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"speaker\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"mijin\";}s:5:\"speed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:33:\"Naver
  TTS api \uD14C\uC2A4\uD2B8\uC785\uB2C8\uB2E4.\";}}}s:6:\"search\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"\uB124\uC774\uBC84
  \uAC1C\uBC1C\uC790\uC13C\uD130\";}}}s:11:\"ApiResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
