---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:37:\"Archiving
  and eDiscovery for G Suite.\";s:5:\"title\";s:13:\"G Suite Vault\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"storage\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:55:\"https://vault.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:5:\"vault\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"google_vault\";s:4:\"type\";s:7:\"openapi\";}}"
host: vault.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":21:{s:27:\"AddMatterPermissionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"Add
  an account with the permission specified. The role cannot be owner.\nIf an account
  already has a role in the matter, it will be\noverwritten.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"ccMe\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Only
  relevant if send_emails is true.\nTrue to CC requestor in the email message.\nFalse
  to not CC requestor.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"matterPermission\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MatterPermission\";s:11:\"description\";s:28:\"The
  MatterPermission to add.\";}s:10:\"sendEmails\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"True
  to send notification email to the added account.\nFalse to not send notification
  email.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CloseMatterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Close
  a matter by ID.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"CloseMatterResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Response
  to a CloseMatterRequest.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"matter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Matter\";s:11:\"description\";s:38:\"The
  updated matter, with state CLOSED.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CorpusQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Corpus
  specific queries.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"driveQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/HeldDriveQuery\";s:11:\"description\";s:64:\"Details
  pertaining to Drive holds. If set, corpus must be Drive.\";}s:11:\"groupsQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HeldGroupsQuery\";s:11:\"description\";s:66:\"Details
  pertaining to Groups holds. If set, corpus must be Groups.\";}s:17:\"hangoutsChatQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/HeldHangoutsChatQuery\";s:11:\"description\";s:80:\"Details
  pertaining to Hangouts Chat holds. If set, corpus must be\nHangouts Chat.\";}s:9:\"mailQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/HeldMailQuery\";s:11:\"description\";s:62:\"Details
  pertaining to mail holds. If set, corpus must be mail.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"HeldAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"An
  account being held in a particular hold. This structure is immutable.\nThis can
  be either a single user or a google group, depending on the corpus.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  account's ID as provided by the\n<a href=\"https://developers.google.com/admin-sdk/\">Admin
  SDK</a>.\";s:4:\"type\";s:6:\"string\";}s:8:\"holdTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"When
  the account was put on hold.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"HeldDriveQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Query
  options for Drive holds.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"includeTeamDriveFiles\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"If
  true, include files in Team Drives in the hold.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:15:\"HeldGroupsQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Query
  options for group holds.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  end time range for the search query. These timestamps are in GMT and\nrounded down
  to the start of the given date.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  start time range for the search query. These timestamps are in GMT and\nrounded
  down to the start of the given date.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"terms\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  search terms for the hold.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"HeldHangoutsChatQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Query
  options for hangouts chat holds.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"includeRooms\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"If
  true, include rooms the user has participated in.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"HeldMailQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Query
  options for mail holds.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  end time range for the search query. These timestamps are in GMT and\nrounded down
  to the start of the given date.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  start time range for the search query. These timestamps are in GMT and\nrounded
  down to the start of the given date.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"terms\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  search terms for the hold.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"HeldOrgUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"A
  organizational unit being held in a particular hold.\nThis structure is immutable.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"holdTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"When
  the org unit was put on hold. This property is immutable.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"orgUnitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  org unit's immutable ID as provided by the Admin SDK.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Hold\";O:8:\"stdClass\":3:{s:11:\"description\";s:280:\"Represents
  a hold within Vault. A hold restricts purging of\nartifacts based on the combination
  of the query and accounts restrictions.\nA hold can be configured to either apply
  to an explicitly configured set\nof accounts, or can be applied to all members of
  an organizational unit.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"accounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"If
  set, the hold applies to the enumerated accounts and org_unit must be\nempty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/HeldAccount\";}s:4:\"type\";s:5:\"array\";}s:6:\"corpus\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  corpus to be searched.\";s:4:\"enum\";a:5:{i:0;s:23:\"CORPUS_TYPE_UNSPECIFIED\";i:1;s:5:\"DRIVE\";i:2;s:4:\"MAIL\";i:3;s:6:\"GROUPS\";i:4;s:13:\"HANGOUTS_CHAT\";}s:4:\"type\";s:6:\"string\";}s:6:\"holdId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  unique immutable ID of the hold. Assigned during creation.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the hold.\";s:4:\"type\";s:6:\"string\";}s:7:\"orgUnit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HeldOrgUnit\";s:11:\"description\";s:162:\"If
  set, the hold applies to all members of the organizational unit and\naccounts must
  be empty. This property is mutable. For groups holds,\nset the accounts field.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CorpusQuery\";s:11:\"description\";s:74:\"The
  corpus-specific query. If set, the corpusQuery must match corpus\ntype.\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  last time this hold was modified.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListHeldAccountsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Returns
  a list of held accounts for a hold.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"accounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  held accounts on a hold.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/HeldAccount\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListHoldsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  holds for a matter.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"holds\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  list of holds.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Hold\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Page
  token to retrieve the next page of results in the list.\nIf this is empty, then
  there are no more holds to list.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListMattersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Provides
  the list of matters.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"matters\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"List
  of matters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Matter\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Page
  token to retrieve the next page of results in the list.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Matter\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Represents
  a matter.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  description of the matter.\";s:4:\"type\";s:6:\"string\";}s:8:\"matterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  matter ID which is generated by the server.\nShould be blank when creating a new
  matter.\";s:4:\"type\";s:6:\"string\";}s:17:\"matterPermissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"List
  of users and access to the matter. Currently there is no programmer\ndefined limit
  on the number of permissions a matter can have.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MatterPermission\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the matter.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  state of the matter.\";s:4:\"enum\";a:4:{i:0;s:17:\"STATE_UNSPECIFIED\";i:1;s:4:\"OPEN\";i:2;s:6:\"CLOSED\";i:3;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MatterPermission\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"Currently
  each matter only has one owner, and all others are collaborators.\nWhen an account
  is purged, its corresponding MatterPermission resources\ncease to exist.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  account id, as provided by <a href=\"https://developers.google.com/admin-sdk/\">Admin
  SDK</a>.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  user's role in this matter.\";s:4:\"enum\";a:3:{i:0;s:16:\"ROLE_UNSPECIFIED\";i:1;s:12:\"COLLABORATOR\";i:2;s:5:\"OWNER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"RemoveMatterPermissionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Remove
  an account as a matter collaborator.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  account ID.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ReopenMatterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Reopen
  a matter by ID.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"ReopenMatterResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Response
  to a ReopenMatterRequest.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"matter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Matter\";s:11:\"description\";s:36:\"The
  updated matter, with state OPEN.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"UndeleteMatterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Undelete
  a matter by ID.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
