---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:50:\"Social media management
  for marketers and agencies\";s:5:\"title\";s:9:\"Bufferapp\";s:7:\"version\";s:1:\"1\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:6:\"social\";i:1;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:101:\"https://api.apis.guru/v2/cache/logo/https_d389zggrogs7qo.cloudfront.net_images_app_buffer-logo@2x.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:104:\"https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/bufferapp.com/1/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"bufferapp.com\";s:16:\"x-unofficialSpec\";b:1;s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"bufferapp\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.bufferapp.com
basePath: /1/
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:13:\"configuration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"media\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"picture_filetypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"picture_size_max\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"picture_size_min\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:8:\"services\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"appdotnet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"types\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"profile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"character_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"link_attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"schedule_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"supported_interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"hashtag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"facebook\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"types\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"group\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"character_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"link_attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"schedule_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"supported_interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"character_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"link_attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"schedule_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"supported_interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"character_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"link_attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"schedule_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"supported_interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:6:\"google\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"types\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"character_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"link_attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"schedule_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"supported_interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"character_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"link_attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"schedule_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"supported_interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"linkedin\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"types\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"group\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"character_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"link_attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"schedule_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"supported_interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"character_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"link_attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"schedule_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"supported_interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"character_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"link_attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"schedule_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"supported_interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:7:\"twitter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"types\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"profile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"character_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"link_attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"schedule_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"supported_interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"cashtag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"hashtag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:17:\"individual-update\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"buffer_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"buffer_percentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"update\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:9:\"client_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"due_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"due_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"media\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"profile_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"profile_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"text_formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"via\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:12:\"interactions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"interactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"event\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"interaction_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"avatar\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"avatar_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"followers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"twitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"newUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"buffer_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"buffer_percentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"updates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"due_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"due_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"media\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"profile_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"profile_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"text_formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"via\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"avatar\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"formatted_username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"schedules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"days\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"times\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"service_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"service_username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"statistics\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"followers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"team_members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"profiles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":23:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"avatar\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"avatar_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"counts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"daily_suggestions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"drafts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"pending\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:11:\"cover_photo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"disabled_features\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:12:\"disconnected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"formatted_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"formatted_username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"has_used_suggestions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"schedules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"days\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"times\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"service_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"service_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"service_username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shortener\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"statistics\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"connections\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"utm_tracking\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"verb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"reorder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"updates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"due_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"due_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"profile_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"profile_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"text_formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"via\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"schedules\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"days\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"times\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"schedules-update\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:5:\"share\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:6:\"shares\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"shares\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:7:\"shuffle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"updates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"due_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"due_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"profile_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"profile_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"text_formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"via\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"success\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:6:\"update\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"due_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"due_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"profile_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"profile_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"sent_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"service_update_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"statistics\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"favorites\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"mentions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reach\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"retweets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"text_formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"via\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"updates-array\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"updates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"due_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"due_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"profile_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"profile_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"text_formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"via\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"user\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"activity_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"referral_link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"referral_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"secret_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
