---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:60:\"An
  API for creating and editing Google Slides presentations.\";s:5:\"title\";s:13:\"Google
  Slides\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:56:\"https://slides.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:6:\"slides\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"google_slides\";s:4:\"type\";s:7:\"openapi\";}}"
host: slides.googleapis.com
basePath: /
paths:
  /v1/presentations:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new presentation using the title given in the request.
        If anpresentationId is provided, uses it as the ID of the new presentation.nOtherwise,
        a new presentationId is generated.nReturns the created presentation.
      operationId: presentations.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Presentation'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Presentation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/presentations
      tags:
      - presentations
  /v1/presentations/{presentationId}:
    get:
      description: Gets the latest version of the specified presentation.
      operationId: presentations.get
      parameters:
      - description: The ID of the presentation to retrieve.
        in: path
        name: presentationId
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Presentation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/presentations
      - Oauth2:
        - https://www.googleapis.com/auth/presentations.readonly
      tags:
      - presentations
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/presentations/{presentationId}/pages/{pageObjectId}:
    get:
      description: Gets the latest version of the specified page in the presentation.
      operationId: presentations.pages.get
      parameters:
      - description: The object ID of the page to retrieve.
        in: path
        name: pageObjectId
        required: true
        type: string
      - description: The ID of the presentation to retrieve.
        in: path
        name: presentationId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Page'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/presentations
      - Oauth2:
        - https://www.googleapis.com/auth/presentations.readonly
      tags:
      - presentations
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail:
    get:
      description: Generates a thumbnail of the latest version of the specified page
        in thenpresentation and returns a URL to the thumbnail image.nnThis request
        counts as an [expensive read request](/slides/limits) fornquota purposes.
      operationId: presentations.pages.getThumbnail
      parameters:
      - description: The object ID of the page whose thumbnail to retrieve.
        in: path
        name: pageObjectId
        required: true
        type: string
      - description: The ID of the presentation to retrieve.
        in: path
        name: presentationId
        required: true
        type: string
      - description: The optional mime type of the thumbnail image.nnIf you don't
          specify the mime type, the default mime type will be PNG.
        enum:
        - PNG
        in: query
        name: thumbnailProperties.mimeType
        type: string
      - description: The optional thumbnail image size.nnIf you don't specify the
          size, the server chooses a default size of thenimage.
        enum:
        - THUMBNAIL_SIZE_UNSPECIFIED
        - LARGE
        in: query
        name: thumbnailProperties.thumbnailSize
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Thumbnail'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/presentations
      - Oauth2:
        - https://www.googleapis.com/auth/presentations.readonly
      tags:
      - presentations
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/presentations/{presentationId}:batchUpdate:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: 'Applies one or more updates to the presentation.nnEach request
        is validated beforenbeing applied. If any request is not valid, then the entire
        request willnfail and nothing will be applied.nnSome requests have replies
        tongive you some information about how they are applied. Other requests donnot
        need to return information; these each return an empty reply.nThe order of
        replies matches that of the requests.nnFor example, suppose you call batchUpdate
        with four updates, and only thenthird one returns information. The response
        would have two empty replies:nthe reply to the third request, and another
        empty reply, in that order.nnBecause other users may be editing the presentation,
        the presentationnmight not exactly reflect your changes: your changes maynbe
        altered with respect to collaborator changes. If there are noncollaborators,
        the presentation should reflect your changes. In any case,nthe updates in
        your request are guaranteed to be applied togethernatomically.'
      operationId: presentations.batchUpdate
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BatchUpdatePresentationRequest'
      - description: The presentation to apply the updates to.
        in: path
        name: presentationId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BatchUpdatePresentationResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/presentations
      - Oauth2:
        - https://www.googleapis.com/auth/spreadsheets
      - Oauth2:
        - https://www.googleapis.com/auth/spreadsheets.readonly
      tags:
      - presentations
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":128:{s:15:\"AffineTransform\";O:8:\"stdClass\":3:{s:11:\"description\";s:418:\"AffineTransform
  uses a 3x3 matrix with an implied last row of [ 0 0 1 ]\nto transform source coordinates
  (x,y) into destination coordinates (x', y')\naccording to:\n\n      x'  x  =   shear_y
  \ scale_y  translate_y  \n      1  [ 1 ]\n\nAfter transformation,\n\n     x' = scale_x
  * x + shear_x * y + translate_x;\n     y' = scale_y * y + shear_y * x + translate_y;\n\nThis
  message is therefore composed of these six matrix elements.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"scaleX\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  X coordinate scaling element.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"scaleY\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  Y coordinate scaling element.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"shearX\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  X coordinate shearing element.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"shearY\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  Y coordinate shearing element.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"translateX\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  X coordinate translation element.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"translateY\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  Y coordinate translation element.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  units for translate elements.\";s:4:\"enum\";a:3:{i:0;s:16:\"UNIT_UNSPECIFIED\";i:1;s:3:\"EMU\";i:2;s:2:\"PT\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"AutoText\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  TextElement kind that represents auto text.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  rendered content of this auto text, if available.\";s:4:\"type\";s:6:\"string\";}s:5:\"style\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TextStyle\";s:11:\"description\";s:38:\"The
  styling applied to this auto text.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  type of this auto text.\";s:4:\"enum\";a:2:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:12:\"SLIDE_NUMBER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BatchUpdatePresentationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Request
  message for PresentationsService.BatchUpdatePresentation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"requests\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  list of updates to apply to the presentation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Request\";}s:4:\"type\";s:5:\"array\";}s:12:\"writeControl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/WriteControl\";s:11:\"description\";s:54:\"Provides
  control over how write requests are executed.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"BatchUpdatePresentationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Response
  message from a batch update.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"presentationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  presentation the updates were applied to.\";s:4:\"type\";s:6:\"string\";}s:7:\"replies\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  reply of the updates.  This maps 1:1 with the updates, although\nreplies to some
  requests may be empty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}s:4:\"type\";s:5:\"array\";}s:12:\"writeControl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/WriteControl\";s:11:\"description\";s:53:\"The
  updated write control after applying the request.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Bullet\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Describes
  the bullet of a paragraph.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"bulletStyle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TextStyle\";s:11:\"description\";s:57:\"The
  paragraph specific text style applied to this bullet.\";}s:5:\"glyph\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  rendered bullet glyph for this paragraph.\";s:4:\"type\";s:6:\"string\";}s:6:\"listId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  ID of the list this paragraph belongs to.\";s:4:\"type\";s:6:\"string\";}s:12:\"nestingLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  nesting level of this paragraph in the list.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ColorScheme\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  palette of predefined colors for a page.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"colors\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  ThemeColorType and corresponding concrete color pairs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ThemeColorPair\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ColorStop\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  color and position in a gradient band.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"alpha\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  alpha value of this color in the gradient band. Defaults to 1.0,\nfully opaque.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"color\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OpaqueColor\";s:11:\"description\";s:31:\"The
  color of the gradient stop.\";}s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"The
  relative position of the color stop in the gradient band measured\nin percentage.
  The value should be in the interval [0.0, 1.0].\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateImageRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Creates
  an image.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"elementProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PageElementProperties\";s:11:\"description\";s:547:\"The
  element properties for the image.\n\nWhen the aspect ratio of the provided size
  does not match the image aspect\nratio, the image is scaled and centered with respect
  to the size in order\nto maintain aspect ratio. The provided transform is applied
  after this\noperation.\n\nThe PageElementProperties.size property is\noptional.
  If you don't specify the size, the default size of the image is\nused.\n\nThe PageElementProperties.transform
  property is\noptional. If you don't specify a transform, the image will be placed
  at the\ntop left corner of the page.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:443:\"A
  user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages
  and page elements\nin the presentation. The ID must start with an alphanumeric character
  or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include
  those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length
  of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an
  ID, a unique one is generated.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:366:\"The
  image URL.\n\nThe image is fetched once at insertion time and a copy is stored for\ndisplay
  inside the presentation. Images must be less than 50MB in size,\ncannot exceed 25
  megapixels, and must be in one of PNG, JPEG, or GIF\nformat.\n\nThe provided URL
  can be at most 2 kB in length. The URL itself is saved\nwith the image, and exposed
  via the Image.source_url field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateImageResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  result of creating an image.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  object ID of the created image.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateLineRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Creates
  a line.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"elementProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PageElementProperties\";s:11:\"description\";s:36:\"The
  element properties for the line.\";}s:12:\"lineCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  category of line to be created.\";s:4:\"enum\";a:3:{i:0;s:8:\"STRAIGHT\";i:1;s:4:\"BENT\";i:2;s:6:\"CURVED\";}s:4:\"type\";s:6:\"string\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:443:\"A
  user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages
  and page elements\nin the presentation. The ID must start with an alphanumeric character
  or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include
  those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length
  of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an
  ID, a unique one is generated.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateLineResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  result of creating a line.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  object ID of the created line.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateParagraphBulletsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:530:\"Creates
  bullets for all of the paragraphs that overlap with the given\ntext index range.\n\nThe
  nesting level of each paragraph will be determined by counting leading\ntabs in
  front of each paragraph. To avoid excess space between the bullet and\nthe corresponding
  paragraph, these leading tabs are removed by this request.\nThis may change the
  indices of parts of the text.\n\nIf the paragraph immediately before paragraphs
  being updated is in a list\nwith a matching preset, the paragraphs being updated
  are added to that\npreceding list.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"bulletPreset\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  kinds of bullet glyphs to be used. Defaults to the\n`BULLET_DISC_CIRCLE_SQUARE`
  preset.\";s:4:\"enum\";a:15:{i:0;s:25:\"BULLET_DISC_CIRCLE_SQUARE\";i:1;s:30:\"BULLET_DIAMONDX_ARROW3D_SQUARE\";i:2;s:15:\"BULLET_CHECKBOX\";i:3;s:25:\"BULLET_ARROW_DIAMOND_DISC\";i:4;s:25:\"BULLET_STAR_CIRCLE_SQUARE\";i:5;s:28:\"BULLET_ARROW3D_CIRCLE_SQUARE\";i:6;s:32:\"BULLET_LEFTTRIANGLE_DIAMOND_DISC\";i:7;s:36:\"BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE\";i:8;s:28:\"BULLET_DIAMOND_CIRCLE_SQUARE\";i:9;s:26:\"NUMBERED_DIGIT_ALPHA_ROMAN\";i:10;s:33:\"NUMBERED_DIGIT_ALPHA_ROMAN_PARENS\";i:11;s:21:\"NUMBERED_DIGIT_NESTED\";i:12;s:31:\"NUMBERED_UPPERALPHA_ALPHA_ROMAN\";i:13;s:36:\"NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT\";i:14;s:30:\"NUMBERED_ZERODIGIT_ALPHA_ROMAN\";}s:4:\"type\";s:6:\"string\";}s:12:\"cellLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TableCellLocation\";s:11:\"description\";s:128:\"The
  optional table cell location if the text to be modified is in a table\ncell. If
  present, the object_id must refer to a table.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  object ID of the shape or table containing the text to add bullets to.\";s:4:\"type\";s:6:\"string\";}s:9:\"textRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Range\";s:11:\"description\";s:79:\"The
  range of text to apply the bullet presets to, based on TextElement indexes.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateShapeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Creates
  a new shape.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"elementProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PageElementProperties\";s:11:\"description\";s:37:\"The
  element properties for the shape.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:436:\"A
  user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages
  and page elements\nin the presentation. The ID must start with an alphanumeric character
  or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include
  those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length
  of the ID must not be less than 5 or greater than 50.\nIf empty, a unique identifier
  will be generated.\";s:4:\"type\";s:6:\"string\";}s:9:\"shapeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  shape type.\";s:4:\"enum\";a:143:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:8:\"TEXT_BOX\";i:2;s:9:\"RECTANGLE\";i:3;s:15:\"ROUND_RECTANGLE\";i:4;s:7:\"ELLIPSE\";i:5;s:3:\"ARC\";i:6;s:10:\"BENT_ARROW\";i:7;s:13:\"BENT_UP_ARROW\";i:8;s:5:\"BEVEL\";i:9;s:9:\"BLOCK_ARC\";i:10;s:10:\"BRACE_PAIR\";i:11;s:12:\"BRACKET_PAIR\";i:12;s:3:\"CAN\";i:13;s:7:\"CHEVRON\";i:14;s:5:\"CHORD\";i:15;s:5:\"CLOUD\";i:16;s:6:\"CORNER\";i:17;s:4:\"CUBE\";i:18;s:17:\"CURVED_DOWN_ARROW\";i:19;s:17:\"CURVED_LEFT_ARROW\";i:20;s:18:\"CURVED_RIGHT_ARROW\";i:21;s:15:\"CURVED_UP_ARROW\";i:22;s:7:\"DECAGON\";i:23;s:15:\"DIAGONAL_STRIPE\";i:24;s:7:\"DIAMOND\";i:25;s:9:\"DODECAGON\";i:26;s:5:\"DONUT\";i:27;s:11:\"DOUBLE_WAVE\";i:28;s:10:\"DOWN_ARROW\";i:29;s:18:\"DOWN_ARROW_CALLOUT\";i:30;s:13:\"FOLDED_CORNER\";i:31;s:5:\"FRAME\";i:32;s:10:\"HALF_FRAME\";i:33;s:5:\"HEART\";i:34;s:8:\"HEPTAGON\";i:35;s:7:\"HEXAGON\";i:36;s:10:\"HOME_PLATE\";i:37;s:17:\"HORIZONTAL_SCROLL\";i:38;s:16:\"IRREGULAR_SEAL_1\";i:39;s:16:\"IRREGULAR_SEAL_2\";i:40;s:10:\"LEFT_ARROW\";i:41;s:18:\"LEFT_ARROW_CALLOUT\";i:42;s:10:\"LEFT_BRACE\";i:43;s:12:\"LEFT_BRACKET\";i:44;s:16:\"LEFT_RIGHT_ARROW\";i:45;s:24:\"LEFT_RIGHT_ARROW_CALLOUT\";i:46;s:19:\"LEFT_RIGHT_UP_ARROW\";i:47;s:13:\"LEFT_UP_ARROW\";i:48;s:14:\"LIGHTNING_BOLT\";i:49;s:11:\"MATH_DIVIDE\";i:50;s:10:\"MATH_EQUAL\";i:51;s:10:\"MATH_MINUS\";i:52;s:13:\"MATH_MULTIPLY\";i:53;s:14:\"MATH_NOT_EQUAL\";i:54;s:9:\"MATH_PLUS\";i:55;s:4:\"MOON\";i:56;s:10:\"NO_SMOKING\";i:57;s:19:\"NOTCHED_RIGHT_ARROW\";i:58;s:7:\"OCTAGON\";i:59;s:13:\"PARALLELOGRAM\";i:60;s:8:\"PENTAGON\";i:61;s:3:\"PIE\";i:62;s:6:\"PLAQUE\";i:63;s:4:\"PLUS\";i:64;s:10:\"QUAD_ARROW\";i:65;s:18:\"QUAD_ARROW_CALLOUT\";i:66;s:6:\"RIBBON\";i:67;s:8:\"RIBBON_2\";i:68;s:11:\"RIGHT_ARROW\";i:69;s:19:\"RIGHT_ARROW_CALLOUT\";i:70;s:11:\"RIGHT_BRACE\";i:71;s:13:\"RIGHT_BRACKET\";i:72;s:17:\"ROUND_1_RECTANGLE\";i:73;s:26:\"ROUND_2_DIAGONAL_RECTANGLE\";i:74;s:22:\"ROUND_2_SAME_RECTANGLE\";i:75;s:14:\"RIGHT_TRIANGLE\";i:76;s:11:\"SMILEY_FACE\";i:77;s:16:\"SNIP_1_RECTANGLE\";i:78;s:25:\"SNIP_2_DIAGONAL_RECTANGLE\";i:79;s:21:\"SNIP_2_SAME_RECTANGLE\";i:80;s:20:\"SNIP_ROUND_RECTANGLE\";i:81;s:7:\"STAR_10\";i:82;s:7:\"STAR_12\";i:83;s:7:\"STAR_16\";i:84;s:7:\"STAR_24\";i:85;s:7:\"STAR_32\";i:86;s:6:\"STAR_4\";i:87;s:6:\"STAR_5\";i:88;s:6:\"STAR_6\";i:89;s:6:\"STAR_7\";i:90;s:6:\"STAR_8\";i:91;s:19:\"STRIPED_RIGHT_ARROW\";i:92;s:3:\"SUN\";i:93;s:9:\"TRAPEZOID\";i:94;s:8:\"TRIANGLE\";i:95;s:8:\"UP_ARROW\";i:96;s:16:\"UP_ARROW_CALLOUT\";i:97;s:13:\"UP_DOWN_ARROW\";i:98;s:11:\"UTURN_ARROW\";i:99;s:15:\"VERTICAL_SCROLL\";i:100;s:4:\"WAVE\";i:101;s:21:\"WEDGE_ELLIPSE_CALLOUT\";i:102;s:23:\"WEDGE_RECTANGLE_CALLOUT\";i:103;s:29:\"WEDGE_ROUND_RECTANGLE_CALLOUT\";i:104;s:28:\"FLOW_CHART_ALTERNATE_PROCESS\";i:105;s:18:\"FLOW_CHART_COLLATE\";i:106;s:20:\"FLOW_CHART_CONNECTOR\";i:107;s:19:\"FLOW_CHART_DECISION\";i:108;s:16:\"FLOW_CHART_DELAY\";i:109;s:18:\"FLOW_CHART_DISPLAY\";i:110;s:19:\"FLOW_CHART_DOCUMENT\";i:111;s:18:\"FLOW_CHART_EXTRACT\";i:112;s:23:\"FLOW_CHART_INPUT_OUTPUT\";i:113;s:27:\"FLOW_CHART_INTERNAL_STORAGE\";i:114;s:24:\"FLOW_CHART_MAGNETIC_DISK\";i:115;s:24:\"FLOW_CHART_MAGNETIC_DRUM\";i:116;s:24:\"FLOW_CHART_MAGNETIC_TAPE\";i:117;s:23:\"FLOW_CHART_MANUAL_INPUT\";i:118;s:27:\"FLOW_CHART_MANUAL_OPERATION\";i:119;s:16:\"FLOW_CHART_MERGE\";i:120;s:24:\"FLOW_CHART_MULTIDOCUMENT\";i:121;s:26:\"FLOW_CHART_OFFLINE_STORAGE\";i:122;s:28:\"FLOW_CHART_OFFPAGE_CONNECTOR\";i:123;s:25:\"FLOW_CHART_ONLINE_STORAGE\";i:124;s:13:\"FLOW_CHART_OR\";i:125;s:29:\"FLOW_CHART_PREDEFINED_PROCESS\";i:126;s:22:\"FLOW_CHART_PREPARATION\";i:127;s:18:\"FLOW_CHART_PROCESS\";i:128;s:23:\"FLOW_CHART_PUNCHED_CARD\";i:129;s:23:\"FLOW_CHART_PUNCHED_TAPE\";i:130;s:15:\"FLOW_CHART_SORT\";i:131;s:27:\"FLOW_CHART_SUMMING_JUNCTION\";i:132;s:21:\"FLOW_CHART_TERMINATOR\";i:133;s:10:\"ARROW_EAST\";i:134;s:16:\"ARROW_NORTH_EAST\";i:135;s:11:\"ARROW_NORTH\";i:136;s:6:\"SPEECH\";i:137;s:9:\"STARBURST\";i:138;s:8:\"TEARDROP\";i:139;s:14:\"ELLIPSE_RIBBON\";i:140;s:16:\"ELLIPSE_RIBBON_2\";i:141;s:13:\"CLOUD_CALLOUT\";i:142;s:6:\"CUSTOM\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateShapeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  result of creating a shape.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  object ID of the created shape.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateSheetsChartRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"Creates
  an embedded Google Sheets chart.\n\nNOTE: Chart creation requires at least one of
  the spreadsheets.readonly,\nspreadsheets, drive.readonly, drive.file, or drive OAuth
  scopes.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"chartId\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  ID of the specific chart in the Google Sheets spreadsheet.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"elementProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PageElementProperties\";s:11:\"description\";s:269:\"The
  element properties for the chart.\n\nWhen the aspect ratio of the provided size
  does not match the chart aspect\nratio, the chart is scaled and centered with respect
  to the size in order\nto maintain aspect ratio. The provided transform is applied
  after this\noperation.\";}s:11:\"linkingMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  mode with which the chart is linked to the source spreadsheet. When\nnot specified,
  the chart will be an image that is not linked.\";s:4:\"enum\";a:2:{i:0;s:16:\"NOT_LINKED_IMAGE\";i:1;s:6:\"LINKED\";}s:4:\"type\";s:6:\"string\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:365:\"A
  user-supplied object ID.\n\nIf specified, the ID must be unique among all pages
  and page elements in\nthe presentation. The ID should start with a word character
  [a-zA-Z0-9_]\nand then followed by any number of the following characters [a-zA-Z0-9_-:].\nThe
  length of the ID should not be less than 5 or greater than 50.\nIf empty, a unique
  identifier will be generated.\";s:4:\"type\";s:6:\"string\";}s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  ID of the Google Sheets spreadsheet that contains the chart.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateSheetsChartResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  result of creating an embedded Google Sheets chart.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  object ID of the created chart.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateSlideRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Creates
  a new slide.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"insertionIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"The
  optional zero-based index indicating where to insert the slides.\n\nIf you don't
  specify an index, the new slide is created at the end.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:443:\"A
  user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages
  and page elements\nin the presentation. The ID must start with an alphanumeric character
  or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include
  those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length
  of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an
  ID, a unique one is generated.\";s:4:\"type\";s:6:\"string\";}s:21:\"placeholderIdMappings\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"An
  optional list of object ID mappings from the placeholder(s) on the layout to the
  placeholder(s)\nthat will be created on the new slide from that specified layout.
  Can only\nbe used when `slide_layout_reference` is specified.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/LayoutPlaceholderIdMapping\";}s:4:\"type\";s:5:\"array\";}s:20:\"slideLayoutReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LayoutReference\";s:11:\"description\";s:477:\"Layout
  reference of the slide to be inserted, based on the *current\nmaster*, which is
  one of the following:\n\n- The master of the previous slide index.\n- The master
  of the first slide, if the insertion_index is zero.\n- The first master in the presentation,
  if there are no slides.\n\nIf the LayoutReference is not found in the current master,
  a 400 bad\nrequest error is returned.\n\nIf you don't specify a layout reference,
  then the new slide will use the\npredefined layout `BLANK`.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateSlideResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  result of creating a slide.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  object ID of the created slide.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateTableRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Creates
  a new table.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"columns\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Number
  of columns in the table.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"elementProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PageElementProperties\";s:11:\"description\";s:311:\"The
  element properties for the table.\n\nThe table will be created at the provided size,
  subject to a minimum size.\nIf no size is provided, the table will be automatically
  sized.\n\nTable transforms must have a scale of 1 and no shear components. If no\ntransform
  is provided, the table will be centered on the page.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:443:\"A
  user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages
  and page elements\nin the presentation. The ID must start with an alphanumeric character
  or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include
  those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length
  of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an
  ID, a unique one is generated.\";s:4:\"type\";s:6:\"string\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Number
  of rows in the table.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateTableResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  result of creating a table.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  object ID of the created table.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateVideoRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Creates
  a video.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"elementProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PageElementProperties\";s:11:\"description\";s:360:\"The
  element properties for the video.\n\nThe PageElementProperties.size property is\noptional.
  If you don't specify a size, a default size is chosen by the\nserver.\n\nThe PageElementProperties.transform
  property is\noptional. The transform must not have shear components.\nIf you don't
  specify a transform, the video will be placed at the top left\ncorner of the page.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"The
  video source's unique identifier for this video.\n\ne.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0,\nthe
  ID is 7U3axjORYZ0.\";s:4:\"type\";s:6:\"string\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:443:\"A
  user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages
  and page elements\nin the presentation. The ID must start with an alphanumeric character
  or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include
  those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length
  of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an
  ID, a unique one is generated.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  video source.\";s:4:\"enum\";a:2:{i:0;s:18:\"SOURCE_UNSPECIFIED\";i:1;s:7:\"YOUTUBE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateVideoResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  result of creating a video.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  object ID of the created video.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CropProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:1043:\"The
  crop properties of an object enclosed in a container. For example, an\nImage.\n\nThe
  crop properties is represented by the offsets of four edges which define\na crop
  rectangle. The offsets are measured in percentage from the\ncorresponding edges
  of the object's original bounding rectangle towards\ninside, relative to the object's
  original dimensions.\n\n- If the offset is in the interval (0, 1), the corresponding
  edge of crop\nrectangle is positioned inside of the object's original bounding rectangle.\n-
  If the offset is negative or greater than 1, the corresponding edge of crop\nrectangle
  is positioned outside of the object's original bounding rectangle.\n- If the left
  edge of the crop rectangle is on the right side of its right\nedge, the object will
  be flipped horizontally.\n- If the top edge of the crop rectangle is below its bottom
  edge, the object\nwill be flipped vertically.\n- If all offsets and rotation angle
  is 0, the object is not cropped.\n\nAfter cropping, the content in the crop rectangle
  will be stretched to fit\nits container.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"angle\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  rotation angle of the crop window around its center, in radians.\nRotation angle
  is applied after the offset.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:12:\"bottomOffset\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"The
  offset specifies the bottom edge of the crop rectangle that is located\nabove the
  original bounding rectangle bottom edge, relative to the object's\noriginal height.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"leftOffset\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  offset specifies the left edge of the crop rectangle that is located to\nthe right
  of the original bounding rectangle left edge, relative to the\nobject's original
  width.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"rightOffset\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"The
  offset specifies the right edge of the crop rectangle that is located\nto the left
  of the original bounding rectangle right edge, relative to the\nobject's original
  width.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"topOffset\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"The
  offset specifies the top edge of the crop rectangle that is located\nbelow the original
  bounding rectangle top edge, relative to the object's\noriginal height.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteObjectRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Deletes
  an object, either pages or\npage elements, from the\npresentation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"The
  object ID of the page or page element to delete.\n\nIf after a delete operation
  a group contains\nonly 1 or no page elements, the group is also deleted.\n\nIf a
  placeholder is deleted on a layout, any empty inheriting shapes are\nalso deleted.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteParagraphBulletsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"Deletes
  bullets from all of the paragraphs that overlap with the given text\nindex range.\n\nThe
  nesting level of each paragraph will be visually preserved by adding\nindent to
  the start of the corresponding paragraph.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"cellLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TableCellLocation\";s:11:\"description\";s:128:\"The
  optional table cell location if the text to be modified is in a table\ncell. If
  present, the object_id must refer to a table.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  object ID of the shape or table containing the text to delete bullets\nfrom.\";s:4:\"type\";s:6:\"string\";}s:9:\"textRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Range\";s:11:\"description\";s:71:\"The
  range of text to delete bullets from, based on TextElement indexes.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteTableColumnRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Deletes
  a column from a table.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"cellLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TableCellLocation\";s:11:\"description\";s:258:\"The
  reference table cell location from which a column will be deleted.\n\nThe column
  this cell spans will be deleted. If this is a merged cell,\nmultiple columns will
  be deleted. If no columns remain in the table after\nthis deletion, the whole table
  is deleted.\";}s:13:\"tableObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  table to delete columns from.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteTableRowRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Deletes
  a row from a table.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"cellLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TableCellLocation\";s:11:\"description\";s:246:\"The
  reference table cell location from which a row will be deleted.\n\nThe row this
  cell spans will be deleted. If this is a merged cell, multiple\nrows will be deleted.
  If no rows remain in the table after this deletion,\nthe whole table is deleted.\";}s:13:\"tableObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  table to delete rows from.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteTextRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Deletes
  text from a shape or a table cell.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"cellLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TableCellLocation\";s:11:\"description\";s:129:\"The
  optional table cell location if the text is to be deleted from a table\ncell. If
  present, the object_id must refer to a table.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  object ID of the shape or table from which the text will be deleted.\";s:4:\"type\";s:6:\"string\";}s:9:\"textRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Range\";s:11:\"description\";s:724:\"The
  range of text to delete, based on TextElement indexes.\n\nThere is always an implicit
  newline character at the end of a shape's or\ntable cell's text that cannot be deleted.
  `Range.Type.ALL` will use the\ncorrect bounds, but care must be taken when specifying
  explicit bounds for\nrange types `FROM_START_INDEX` and `FIXED_RANGE`. For example,
  if the text\nis \"ABC\", followed by an implicit newline, then the maximum value
  is 2 for\n`text_range.start_index` and 3 for `text_range.end_index`.\n\nDeleting
  text that crosses a paragraph boundary may result in changes\nto paragraph styles
  and lists as the two paragraphs are merged.\n\nRanges that include only one code
  unit of a surrogate pair are expanded to\ninclude both code units.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Dimension\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"A
  magnitude in a single direction in the specified units.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"magnitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  magnitude.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  units for magnitude.\";s:4:\"enum\";a:3:{i:0;s:16:\"UNIT_UNSPECIFIED\";i:1;s:3:\"EMU\";i:2;s:2:\"PT\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DuplicateObjectRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:258:\"Duplicates
  a slide or page element.\n\nWhen duplicating a slide, the duplicate slide will be
  created immediately\nfollowing the specified slide. When duplicating a page element,
  the duplicate\nwill be placed on the same page at the same position as the original.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  ID of the object to duplicate.\";s:4:\"type\";s:6:\"string\";}s:9:\"objectIds\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:1034:\"The
  object being duplicated may contain other objects, for example when\nduplicating
  a slide or a group page element. This map defines how the IDs\nof duplicated objects
  are generated: the keys are the IDs of the original\nobjects and its values are
  the IDs that will be assigned to the\ncorresponding duplicate object. The ID of
  the source object's duplicate\nmay be specified in this map as well, using the same
  value of the\n`object_id` field as a key and the newly desired ID as the value.\n\nAll
  keys must correspond to existing IDs in the presentation. All values\nmust be unique
  in the presentation and must start with an alphanumeric\ncharacter or an underscore
  (matches regex `[a-zA-Z0-9_]`); remaining\ncharacters may include those as well
  as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`). The length of the new ID
  must not be less than 5 or\ngreater than 50.\n\nIf any IDs of source objects are
  omitted from the map, a new random ID will\nbe assigned. If the map is empty or
  unset, all duplicate objects will\nreceive a new random ID.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DuplicateObjectResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  response of duplicating an object.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  ID of the new duplicate object.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  PageElement kind representing a\njoined collection of PageElements.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"children\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  collection of elements in the group. The minimum size of a group is 2.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PageElement\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GroupObjectsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Groups
  objects to create an object group. For example, groups PageElements to create a
  Group on the same page as all the children.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"childrenObjectIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:259:\"The
  object IDs of the objects to group.\n\nOnly page elements can be grouped. There
  should be at least two page\nelements on the same page that are not already in another
  group. Some page\nelements, such as videos, tables and placeholder shapes cannot
  be grouped.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"groupObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:471:\"A
  user-supplied object ID for the group to be created.\n\nIf you specify an ID, it
  must be unique among all pages and page elements\nin the presentation. The ID must
  start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`);
  remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe
  length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify
  an ID, a unique one is generated.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GroupObjectsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  result of grouping objects.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  object ID of the created group.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  PageElement kind representing an\nimage.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"contentUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:268:\"An
  URL to an image with a default lifetime of 30 minutes.\nThis URL is tagged with
  the account of the requester. Anyone with the URL\neffectively accesses the image
  as the original requester. Access to the\nimage may be lost if the presentation's
  sharing settings change.\";s:4:\"type\";s:6:\"string\";}s:15:\"imageProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ImageProperties\";s:11:\"description\";s:28:\"The
  properties of the image.\";}s:9:\"sourceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  source URL is the URL used to insert the image. The source URL can be\nempty.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ImageProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  properties of the Image.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"brightness\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"The
  brightness effect of the image. The value should be in the interval\n[-1.0, 1.0],
  where 0 means no effect. This property is read-only.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"contrast\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  contrast effect of the image. The value should be in the interval\n[-1.0, 1.0],
  where 0 means no effect. This property is read-only.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:14:\"cropProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CropProperties\";s:11:\"description\";s:99:\"The
  crop properties of the image. If not set, the image is not cropped.\nThis property
  is read-only.\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Link\";s:11:\"description\";s:67:\"The
  hyperlink destination of the image. If unset, there is no link.\";}s:7:\"outline\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Outline\";s:11:\"description\";s:63:\"The
  outline of the image. If not set, the image has no outline.\";}s:7:\"recolor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Recolor\";s:11:\"description\";s:100:\"The
  recolor effect of the image. If not set, the image is not recolored.\nThis property
  is read-only.\";}s:6:\"shadow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Shadow\";s:11:\"description\";s:89:\"The
  shadow of the image. If not set, the image has no shadow. This property\nis read-only.\";}s:12:\"transparency\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"The
  transparency effect of the image. The value should be in the interval\n[0.0, 1.0],
  where 0 means no effect and 1 means completely transparent.\nThis property is read-only.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InsertTableColumnsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Inserts
  columns into a table.\n\nOther columns in the table will be resized to fit the new
  column.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"cellLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TableCellLocation\";s:11:\"description\";s:280:\"The
  reference table cell location from which columns will be inserted.\n\nA new column
  will be inserted to the left (or right) of the column where\nthe reference cell
  is. If the reference cell is a merged cell, a new\ncolumn will be inserted to the
  left (or right) of the merged cell.\";}s:11:\"insertRight\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Whether
  to insert new columns to the right of the reference cell location.\n\n- `True`:
  insert to the right.\n- `False`: insert to the left.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  number of columns to be inserted. Maximum 20 per request.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"tableObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  table to insert columns into.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InsertTableRowsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Inserts
  rows into a table.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"cellLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TableCellLocation\";s:11:\"description\";s:250:\"The
  reference table cell location from which rows will be inserted.\n\nA new row will
  be inserted above (or below) the row where the reference\ncell is. If the reference
  cell is a merged cell, a new row will be\ninserted above (or below) the merged cell.\";}s:11:\"insertBelow\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Whether
  to insert new rows below the reference cell location.\n\n- `True`: insert below
  the cell.\n- `False`: insert above the cell.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  number of rows to be inserted. Maximum 20 per request.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"tableObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  table to insert rows into.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"InsertTextRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Inserts
  text into a shape or a table cell.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"cellLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TableCellLocation\";s:11:\"description\";s:130:\"The
  optional table cell location if the text is to be inserted into a table\ncell. If
  present, the object_id must refer to a table.\";}s:14:\"insertionIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:330:\"The
  index where the text will be inserted, in Unicode code units, based\non TextElement
  indexes.\n\nThe index is zero-based and is computed from the start of the string.\nThe
  index may be adjusted to prevent insertions inside Unicode grapheme\nclusters. In
  these cases, the text will be inserted immediately after the\ngrapheme cluster.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  object ID of the shape or table where the text will be inserted.\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:648:\"The
  text to be inserted.\n\nInserting a newline character will implicitly create a new\nParagraphMarker
  at that index.\nThe paragraph style of the new paragraph will be copied from the
  paragraph\nat the current insertion index, including lists and bullets.\n\nText
  styles for inserted text will be determined automatically, generally\npreserving
  the styling of neighboring text. In most cases, the text will be\nadded to the TextRun
  that exists at the\ninsertion index.\n\nSome control characters (U+0000-U+0008,
  U+000C-U+001F) and characters\nfrom the Unicode Basic Multilingual Plane Private
  Use Area (U+E000-U+F8FF)\nwill be stripped out of the inserted text.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"LayoutPlaceholderIdMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  user-specified ID mapping for a placeholder that will be created on a\nslide from
  a specified layout.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"layoutPlaceholder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Placeholder\";s:11:\"description\";s:229:\"The
  placeholder on a layout that will be applied to a slide. Only type and index are
  needed. For example, a\npredefined `TITLE_AND_BODY` layout may usually have a TITLE
  placeholder\nwith index 0 and a BODY placeholder with index 0.\";}s:25:\"layoutPlaceholderObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  object ID of the placeholder on a layout that will be applied\nto a slide.\";s:4:\"type\";s:6:\"string\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:512:\"A
  user-supplied object ID for the placeholder identified above that to be\ncreated
  onto a slide.\n\nIf you specify an ID, it must be unique among all pages and page
  elements\nin the presentation. The ID must start with an alphanumeric character
  or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include
  those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length
  of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an
  ID, a unique one is generated.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"LayoutProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  properties of Page are only\nrelevant for pages with page_type LAYOUT.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  human-readable name of the layout.\";s:4:\"type\";s:6:\"string\";}s:14:\"masterObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  object ID of the master that this layout is based on.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the layout.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LayoutReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Slide
  layout reference. This may reference either:\n\n- A predefined layout\n- One of
  the layouts in the presentation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"layoutId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Layout
  ID: the object ID of one of the layouts in the presentation.\";s:4:\"type\";s:6:\"string\";}s:16:\"predefinedLayout\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Predefined
  layout.\";s:4:\"enum\";a:12:{i:0;s:29:\"PREDEFINED_LAYOUT_UNSPECIFIED\";i:1;s:5:\"BLANK\";i:2;s:12:\"CAPTION_ONLY\";i:3;s:5:\"TITLE\";i:4;s:14:\"TITLE_AND_BODY\";i:5;s:21:\"TITLE_AND_TWO_COLUMNS\";i:6;s:10:\"TITLE_ONLY\";i:7;s:14:\"SECTION_HEADER\";i:8;s:29:\"SECTION_TITLE_AND_DESCRIPTION\";i:9;s:15:\"ONE_COLUMN_TEXT\";i:10;s:10:\"MAIN_POINT\";i:11;s:10:\"BIG_NUMBER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Line\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"A
  PageElement kind representing a\nnon-connector line, straight connector, curved
  connector, or bent connector.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"lineProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/LineProperties\";s:11:\"description\";s:27:\"The
  properties of the line.\";}s:8:\"lineType\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  type of the line.\";s:4:\"enum\";a:11:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:20:\"STRAIGHT_CONNECTOR_1\";i:2;s:16:\"BENT_CONNECTOR_2\";i:3;s:16:\"BENT_CONNECTOR_3\";i:4;s:16:\"BENT_CONNECTOR_4\";i:5;s:16:\"BENT_CONNECTOR_5\";i:6;s:18:\"CURVED_CONNECTOR_2\";i:7;s:18:\"CURVED_CONNECTOR_3\";i:8;s:18:\"CURVED_CONNECTOR_4\";i:9;s:18:\"CURVED_CONNECTOR_5\";i:10;s:13:\"STRAIGHT_LINE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"LineFill\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  fill of the line.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"solidFill\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SolidFill\";s:11:\"description\";s:17:\"Solid
  color fill.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"LineProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  properties of the Line.\n\nWhen unset, these fields default to values that match
  the appearance of\nnew lines created in the Slides editor.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"dashStyle\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  dash style of the line.\";s:4:\"enum\";a:7:{i:0;s:22:\"DASH_STYLE_UNSPECIFIED\";i:1;s:5:\"SOLID\";i:2;s:3:\"DOT\";i:3;s:4:\"DASH\";i:4;s:8:\"DASH_DOT\";i:5;s:9:\"LONG_DASH\";i:6;s:13:\"LONG_DASH_DOT\";}s:4:\"type\";s:6:\"string\";}s:8:\"endArrow\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  style of the arrow at the end of the line.\";s:4:\"enum\";a:11:{i:0;s:23:\"ARROW_STYLE_UNSPECIFIED\";i:1;s:4:\"NONE\";i:2;s:13:\"STEALTH_ARROW\";i:3;s:10:\"FILL_ARROW\";i:4;s:11:\"FILL_CIRCLE\";i:5;s:11:\"FILL_SQUARE\";i:6;s:12:\"FILL_DIAMOND\";i:7;s:10:\"OPEN_ARROW\";i:8;s:11:\"OPEN_CIRCLE\";i:9;s:11:\"OPEN_SQUARE\";i:10;s:12:\"OPEN_DIAMOND\";}s:4:\"type\";s:6:\"string\";}s:8:\"lineFill\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LineFill\";s:11:\"description\";s:108:\"The
  fill of the line. The default line fill matches the defaults for new\nlines created
  in the Slides editor.\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Link\";s:11:\"description\";s:66:\"The
  hyperlink destination of the line. If unset, there is no link.\";}s:10:\"startArrow\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  style of the arrow at the beginning of the line.\";s:4:\"enum\";a:11:{i:0;s:23:\"ARROW_STYLE_UNSPECIFIED\";i:1;s:4:\"NONE\";i:2;s:13:\"STEALTH_ARROW\";i:3;s:10:\"FILL_ARROW\";i:4;s:11:\"FILL_CIRCLE\";i:5;s:11:\"FILL_SQUARE\";i:6;s:12:\"FILL_DIAMOND\";i:7;s:10:\"OPEN_ARROW\";i:8;s:11:\"OPEN_CIRCLE\";i:9;s:11:\"OPEN_SQUARE\";i:10;s:12:\"OPEN_DIAMOND\";}s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";s:11:\"description\";s:26:\"The
  thickness of the line.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Link\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  hypertext link.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"pageObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"If
  set, indicates this is a link to the specific page in this\npresentation with this
  ID. A page with this ID may not exist.\";s:4:\"type\";s:6:\"string\";}s:12:\"relativeLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"If
  set, indicates this is a link to a slide in this presentation,\naddressed by its
  position.\";s:4:\"enum\";a:5:{i:0;s:31:\"RELATIVE_SLIDE_LINK_UNSPECIFIED\";i:1;s:10:\"NEXT_SLIDE\";i:2;s:14:\"PREVIOUS_SLIDE\";i:3;s:11:\"FIRST_SLIDE\";i:4;s:10:\"LAST_SLIDE\";}s:4:\"type\";s:6:\"string\";}s:10:\"slideIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"If
  set, indicates this is a link to the slide at this zero-based index\nin the presentation.
  There may not be a slide at this index.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"If
  set, indicates this is a link to the external web page at this URL.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"List\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"A
  List describes the look and feel of bullets belonging to paragraphs\nassociated
  with a list. A paragraph that is part of a list has an implicit\nreference to that
  list's ID.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"listId\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  ID of the list.\";s:4:\"type\";s:6:\"string\";}s:12:\"nestingLevel\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/NestingLevel\";}s:11:\"description\";s:196:\"A
  map of nesting levels to the properties of bullets at the associated\nlevel. A list
  has at most nine levels of nesting, so the possible values\nfor the keys of this
  map are 0 through 8, inclusive.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MasterProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  properties of Page that are only\nrelevant for pages with page_type MASTER.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  human-readable name of the master.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"MergeTableCellsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Merges
  cells in a Table.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  object ID of the table.\";s:4:\"type\";s:6:\"string\";}s:10:\"tableRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TableRange\";s:11:\"description\";s:330:\"The
  table range specifying which cells of the table to merge.\n\nAny text in the cells
  being merged will be concatenated and stored in the\nupper-left (\"head\") cell
  of the range. If the range is non-rectangular\n(which can occur in some cases where
  the range covers cells that are\nalready merged), a 400 bad request error is returned.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"NestingLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Contains
  properties describing the look and feel of a list bullet at a given\nlevel of nesting.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"bulletStyle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TextStyle\";s:11:\"description\";s:47:\"The
  style of a bullet at this level of nesting.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"NotesProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  properties of Page that are only\nrelevant for pages with page_type NOTES.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"speakerNotesObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:380:\"The
  object ID of the shape on this notes page that contains the speaker\nnotes for the
  corresponding slide.\nThe actual shape may not always exist on the notes page. Inserting
  text\nusing this object ID will automatically create the shape. In this case, the\nactual
  shape may have different object ID. The `GetPresentation` or\n`GetPage` action will
  always return the latest object ID.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"OpaqueColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  themeable solid color value.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"rgbColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RgbColor\";s:11:\"description\";s:20:\"An
  opaque RGB color.\";}s:10:\"themeColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"An
  opaque theme color.\";s:4:\"enum\";a:17:{i:0;s:28:\"THEME_COLOR_TYPE_UNSPECIFIED\";i:1;s:5:\"DARK1\";i:2;s:6:\"LIGHT1\";i:3;s:5:\"DARK2\";i:4;s:6:\"LIGHT2\";i:5;s:7:\"ACCENT1\";i:6;s:7:\"ACCENT2\";i:7;s:7:\"ACCENT3\";i:8;s:7:\"ACCENT4\";i:9;s:7:\"ACCENT5\";i:10;s:7:\"ACCENT6\";i:11;s:9:\"HYPERLINK\";i:12;s:18:\"FOLLOWED_HYPERLINK\";i:13;s:5:\"TEXT1\";i:14;s:11:\"BACKGROUND1\";i:15;s:5:\"TEXT2\";i:16;s:11:\"BACKGROUND2\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"OptionalColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  color that can either be fully opaque or fully transparent.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"opaqueColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OpaqueColor\";s:11:\"description\";s:92:\"If
  set, this will be used as an opaque color. If unset, this represents\na transparent
  color.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Outline\";O:8:\"stdClass\":3:{s:11:\"description\";s:279:\"The
  outline of a PageElement.\n\nIf these fields are unset, they may be inherited from
  a parent placeholder\nif it exists. If there is no parent, the fields will default
  to the value\nused for new page elements created in the Slides editor, which may
  depend on\nthe page element kind.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"dashStyle\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  dash style of the outline.\";s:4:\"enum\";a:7:{i:0;s:22:\"DASH_STYLE_UNSPECIFIED\";i:1;s:5:\"SOLID\";i:2;s:3:\"DOT\";i:3;s:4:\"DASH\";i:4;s:8:\"DASH_DOT\";i:5;s:9:\"LONG_DASH\";i:6;s:13:\"LONG_DASH_DOT\";}s:4:\"type\";s:6:\"string\";}s:11:\"outlineFill\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OutlineFill\";s:11:\"description\";s:24:\"The
  fill of the outline.\";}s:13:\"propertyState\";O:8:\"stdClass\":3:{s:11:\"description\";s:323:\"The
  outline property state.\n\nUpdating the outline on a page element will implicitly
  update this field\nto `RENDERED`, unless another value is specified in the same
  request. To\nhave no outline on a page element, set this field to `NOT_RENDERED`.
  In\nthis case, any other outline fields set in the same request will be\nignored.\";s:4:\"enum\";a:3:{i:0;s:8:\"RENDERED\";i:1;s:12:\"NOT_RENDERED\";i:2;s:7:\"INHERIT\";}s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";s:11:\"description\";s:29:\"The
  thickness of the outline.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"OutlineFill\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  fill of the outline.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"solidFill\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SolidFill\";s:11:\"description\";s:17:\"Solid
  color fill.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Page\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  page in a presentation.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"layoutProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/LayoutProperties\";s:11:\"description\";s:59:\"Layout
  specific properties. Only set if page_type = LAYOUT.\";}s:16:\"masterProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MasterProperties\";s:11:\"description\";s:59:\"Master
  specific properties. Only set if page_type = MASTER.\";}s:15:\"notesProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NotesProperties\";s:11:\"description\";s:57:\"Notes
  specific properties. Only set if page_type = NOTES.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  object ID for this page. Object IDs used by\nPage and\nPageElement share the same
  namespace.\";s:4:\"type\";s:6:\"string\";}s:12:\"pageElements\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  page elements rendered on the page.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PageElement\";}s:4:\"type\";s:5:\"array\";}s:14:\"pageProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PageProperties\";s:11:\"description\";s:27:\"The
  properties of the page.\";}s:8:\"pageType\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  type of the page.\";s:4:\"enum\";a:5:{i:0;s:5:\"SLIDE\";i:1;s:6:\"MASTER\";i:2;s:6:\"LAYOUT\";i:3;s:5:\"NOTES\";i:4;s:12:\"NOTES_MASTER\";}s:4:\"type\";s:6:\"string\";}s:10:\"revisionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:737:\"The
  revision ID of the presentation containing this page. Can be used in\nupdate requests
  to assert that the presentation revision hasn't changed\nsince the last read operation.
  Only populated if the user has edit access\nto the presentation.\n\nThe format of
  the revision ID may change over time, so it should be treated\nopaquely. A returned
  revision ID is only guaranteed to be valid for 24\nhours after it has been returned
  and cannot be shared across users. If the\nrevision ID is unchanged between calls,
  then the presentation has not\nchanged. Conversely, a changed ID (for the same presentation
  and user)\nusually means the presentation has been updated; however, a changed ID
  can\nalso be due to internal factors such as ID format changes.\";s:4:\"type\";s:6:\"string\";}s:15:\"slideProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SlideProperties\";s:11:\"description\";s:57:\"Slide
  specific properties. Only set if page_type = SLIDE.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"PageBackgroundFill\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  page background fill.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"propertyState\";O:8:\"stdClass\":3:{s:11:\"description\";s:306:\"The
  background fill property state.\n\nUpdating the fill on a page will implicitly update
  this field to\n`RENDERED`, unless another value is specified in the same request.
  To\nhave no fill on a page, set this field to `NOT_RENDERED`. In this case,\nany
  other fill fields set in the same request will be ignored.\";s:4:\"enum\";a:3:{i:0;s:8:\"RENDERED\";i:1;s:12:\"NOT_RENDERED\";i:2;s:7:\"INHERIT\";}s:4:\"type\";s:6:\"string\";}s:9:\"solidFill\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SolidFill\";s:11:\"description\";s:17:\"Solid
  color fill.\";}s:20:\"stretchedPictureFill\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StretchedPictureFill\";s:11:\"description\";s:23:\"Stretched
  picture fill.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PageElement\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  visual element rendered on a page.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  description of the page element. Combined with title to display alt\ntext.\";s:4:\"type\";s:6:\"string\";}s:12:\"elementGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Group\";s:11:\"description\";s:54:\"A
  collection of page elements joined as a single unit.\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Image\";s:11:\"description\";s:22:\"An
  image page element.\";}s:4:\"line\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Line\";s:11:\"description\";s:20:\"A
  line page element.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  object ID for this page element. Object IDs used by\ngoogle.apps.slides.v1.Page
  and\ngoogle.apps.slides.v1.PageElement share the same namespace.\";s:4:\"type\";s:6:\"string\";}s:5:\"shape\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Shape\";s:11:\"description\";s:16:\"A
  generic shape.\";}s:11:\"sheetsChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SheetsChart\";s:11:\"description\";s:86:\"A
  linked chart embedded from Google Sheets. Unlinked charts are\nrepresented as images.\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Size\";s:11:\"description\";s:29:\"The
  size of the page element.\";}s:5:\"table\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Table\";s:11:\"description\";s:21:\"A
  table page element.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  title of the page element. Combined with description to display alt\ntext.\";s:4:\"type\";s:6:\"string\";}s:9:\"transform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AffineTransform\";s:11:\"description\";s:431:\"The
  transform of the page element.\n\nThe visual appearance of the page element is determined
  by its absolute\ntransform. To compute the absolute transform, preconcatenate a
  page\nelement's transform with the transforms of all of its parent groups. If the\npage
  element is not in a group, its absolute transform is the same as the\nvalue in this
  field.\n\nThe initial transform for the newly created Group is always the identity
  transform.\";}s:5:\"video\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Video\";s:11:\"description\";s:21:\"A
  video page element.\";}s:7:\"wordArt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/WordArt\";s:11:\"description\";s:24:\"A
  word art page element.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"PageElementProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"Common
  properties for a page element.\n\nNote: When you initially create a\nPageElement,
  the API may modify\nthe values of both `size` and `transform`, but the\nvisual size
  will be unchanged.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"pageObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  object ID of the page where the element is located.\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Size\";s:11:\"description\";s:24:\"The
  size of the element.\";}s:9:\"transform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AffineTransform\";s:11:\"description\";s:30:\"The
  transform for the element.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PageProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"The
  properties of the Page.\n\nThe page will inherit properties from the parent page.
  Depending on the page\ntype the hierarchy is defined in either\nSlideProperties
  or\nLayoutProperties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"colorScheme\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ColorScheme\";s:11:\"description\";s:194:\"The
  color scheme of the page. If unset, the color scheme is inherited from\na parent
  page. If the page has no parent, the color scheme uses a default\nSlides color scheme.
  This field is read-only.\";}s:18:\"pageBackgroundFill\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PageBackgroundFill\";s:11:\"description\";s:217:\"The
  background fill of the page. If unset, the background fill is inherited\nfrom a
  parent page if it exists. If the page has no parent, then the\nbackground fill defaults
  to the corresponding fill in the Slides editor.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ParagraphMarker\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  TextElement kind that represents the beginning of a new paragraph.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"bullet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Bullet\";s:11:\"description\";s:87:\"The
  bullet for this paragraph. If not present, the paragraph does not\nbelong to a list.\";}s:5:\"style\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ParagraphStyle\";s:11:\"description\";s:21:\"The
  paragraph's style\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ParagraphStyle\";O:8:\"stdClass\":3:{s:11:\"description\";s:625:\"Styles
  that apply to a whole paragraph.\n\nIf this text is contained in a shape with a
  parent placeholder, then these paragraph styles may be\ninherited from the parent.
  Which paragraph styles are inherited depend on the\nnesting level of lists:\n\n*
  A paragraph not in a list will inherit its paragraph style from the\n  paragraph
  at the 0 nesting level of the list inside the parent placeholder.\n* A paragraph
  in a list will inherit its paragraph style from the paragraph\n  at its corresponding
  nesting level of the list inside the parent\n  placeholder.\n\nInherited paragraph
  styles are represented as unset fields in this message.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"alignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  text alignment for this paragraph.\";s:4:\"enum\";a:5:{i:0;s:21:\"ALIGNMENT_UNSPECIFIED\";i:1;s:5:\"START\";i:2;s:6:\"CENTER\";i:3;s:3:\"END\";i:4;s:9:\"JUSTIFIED\";}s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  text direction of this paragraph. If unset, the value defaults to\nLEFT_TO_RIGHT
  since\ntext direction is not inherited.\";s:4:\"enum\";a:3:{i:0;s:26:\"TEXT_DIRECTION_UNSPECIFIED\";i:1;s:13:\"LEFT_TO_RIGHT\";i:2;s:13:\"RIGHT_TO_LEFT\";}s:4:\"type\";s:6:\"string\";}s:9:\"indentEnd\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";s:11:\"description\";s:180:\"The
  amount indentation for the paragraph on the side that corresponds to\nthe end of
  the text, based on the current text direction. If unset, the\nvalue is inherited
  from the parent.\";}s:15:\"indentFirstLine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";s:11:\"description\";s:125:\"The
  amount of indentation for the start of the first line of the paragraph.\nIf unset,
  the value is inherited from the parent.\";}s:11:\"indentStart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";s:11:\"description\";s:182:\"The
  amount indentation for the paragraph on the side that corresponds to\nthe start
  of the text, based on the current text direction. If unset, the\nvalue is inherited
  from the parent.\";}s:11:\"lineSpacing\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"The
  amount of space between lines, as a percentage of normal, where normal\nis represented
  as 100.0. If unset, the value is inherited from the parent.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"spaceAbove\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";s:11:\"description\";s:96:\"The
  amount of extra space above the paragraph. If unset, the value is\ninherited from
  the parent.\";}s:10:\"spaceBelow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";s:11:\"description\";s:96:\"The
  amount of extra space above the paragraph. If unset, the value is\ninherited from
  the parent.\";}s:11:\"spacingMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  spacing mode for the paragraph.\";s:4:\"enum\";a:3:{i:0;s:24:\"SPACING_MODE_UNSPECIFIED\";i:1;s:14:\"NEVER_COLLAPSE\";i:2;s:14:\"COLLAPSE_LISTS\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Placeholder\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  placeholder information that uniquely identifies a placeholder shape.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"The
  index of the placeholder. If the same placeholder types are present in\nthe same
  page, they would have different index values.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"parentObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"The
  object ID of this shape's parent placeholder.\nIf unset, the parent placeholder
  shape does not exist, so the shape does\nnot inherit properties from any other shape.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  type of the placeholder.\";s:4:\"enum\";a:17:{i:0;s:4:\"NONE\";i:1;s:4:\"BODY\";i:2;s:5:\"CHART\";i:3;s:8:\"CLIP_ART\";i:4;s:14:\"CENTERED_TITLE\";i:5;s:7:\"DIAGRAM\";i:6;s:13:\"DATE_AND_TIME\";i:7;s:6:\"FOOTER\";i:8;s:6:\"HEADER\";i:9;s:5:\"MEDIA\";i:10;s:6:\"OBJECT\";i:11;s:7:\"PICTURE\";i:12;s:12:\"SLIDE_NUMBER\";i:13;s:8:\"SUBTITLE\";i:14;s:5:\"TABLE\";i:15;s:5:\"TITLE\";i:16;s:11:\"SLIDE_IMAGE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Presentation\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  Google Slides presentation.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"layouts\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  layouts in the presentation. A layout is a template that determines\nhow content
  is arranged and styled on the slides that inherit from that\nlayout.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}s:4:\"type\";s:5:\"array\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  locale of the presentation, as an IETF BCP 47 language tag.\";s:4:\"type\";s:6:\"string\";}s:7:\"masters\";O:8:\"stdClass\":3:{s:11:\"description\";s:513:\"The
  slide masters in the presentation. A slide master contains all common\npage elements
  and the common properties for a set of layouts. They serve\nthree purposes:\n\n-
  Placeholder shapes on a master contain the default text styles and shape\n  properties
  of all placeholder shapes on pages that use that master.\n- The master page properties
  define the common page properties inherited by\n  its layouts.\n- Any other shapes
  on the master slide will appear on all slides using that\n  master, regardless of
  their layout.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}s:4:\"type\";s:5:\"array\";}s:11:\"notesMaster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Page\";s:11:\"description\";s:545:\"The
  notes master in the presentation. It serves three purposes:\n\n- Placeholder shapes
  on a notes master contain the default text styles and\n  shape properties of all
  placeholder shapes on notes pages. Specifically,\n  a `SLIDE_IMAGE` placeholder
  shape contains the slide thumbnail, and a\n  `BODY` placeholder shape contains the
  speaker notes.\n- The notes master page properties define the common page properties\n
  \ inherited by all notes pages.\n- Any other shapes on the notes master will appear
  on all notes pages.\n\nThe notes master is read-only.\";}s:8:\"pageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Size\";s:11:\"description\";s:38:\"The
  size of pages in the presentation.\";}s:14:\"presentationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  ID of the presentation.\";s:4:\"type\";s:6:\"string\";}s:10:\"revisionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:716:\"The
  revision ID of the presentation. Can be used in update requests\nto assert that
  the presentation revision hasn't changed since the last\nread operation. Only populated
  if the user has edit access to the\npresentation.\n\nThe format of the revision
  ID may change over time, so it should be treated\nopaquely. A returned revision
  ID is only guaranteed to be valid for 24\nhours after it has been returned and cannot
  be shared across users. If the\nrevision ID is unchanged between calls, then the
  presentation has not\nchanged. Conversely, a changed ID (for the same presentation
  and user)\nusually means the presentation has been updated; however, a changed ID
  can\nalso be due to internal factors such as ID format changes.\";s:4:\"type\";s:6:\"string\";}s:6:\"slides\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  slides in the presentation.\nA slide inherits properties from a slide layout.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  title of the presentation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Range\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Specifies
  a contiguous range of an indexed collection, such as characters in\ntext.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"endIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  optional zero-based index of the end of the collection.\nRequired for `FIXED_RANGE`
  ranges.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"startIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  optional zero-based index of the beginning of the collection.\nRequired for `FIXED_RANGE`
  and `FROM_START_INDEX` ranges.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  type of range.\";s:4:\"enum\";a:4:{i:0;s:22:\"RANGE_TYPE_UNSPECIFIED\";i:1;s:11:\"FIXED_RANGE\";i:2;s:16:\"FROM_START_INDEX\";i:3;s:3:\"ALL\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Recolor\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  recolor effect applied on an image.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"The
  name of the recolor effect.\n\nThe name is determined from the `recolor_stops` by
  matching the gradient\nagainst the colors in the page's current color scheme. This
  property is\nread-only.\";s:4:\"enum\";a:25:{i:0;s:4:\"NONE\";i:1;s:6:\"LIGHT1\";i:2;s:6:\"LIGHT2\";i:3;s:6:\"LIGHT3\";i:4;s:6:\"LIGHT4\";i:5;s:6:\"LIGHT5\";i:6;s:6:\"LIGHT6\";i:7;s:6:\"LIGHT7\";i:8;s:6:\"LIGHT8\";i:9;s:6:\"LIGHT9\";i:10;s:7:\"LIGHT10\";i:11;s:5:\"DARK1\";i:12;s:5:\"DARK2\";i:13;s:5:\"DARK3\";i:14;s:5:\"DARK4\";i:15;s:5:\"DARK5\";i:16;s:5:\"DARK6\";i:17;s:5:\"DARK7\";i:18;s:5:\"DARK8\";i:19;s:5:\"DARK9\";i:20;s:6:\"DARK10\";i:21;s:9:\"GRAYSCALE\";i:22;s:8:\"NEGATIVE\";i:23;s:5:\"SEPIA\";i:24;s:6:\"CUSTOM\";}s:4:\"type\";s:6:\"string\";}s:12:\"recolorStops\";O:8:\"stdClass\":3:{s:11:\"description\";s:240:\"The
  recolor effect is represented by a gradient, which is a list of color\nstops.\n\nThe
  colors in the gradient will replace the corresponding colors at\nthe same position
  in the color palette and apply to the image. This\nproperty is read-only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ColorStop\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"RefreshSheetsChartRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:245:\"Refreshes
  an embedded Google Sheets chart by replacing it with the latest\nversion of the
  chart from Google Sheets.\n\nNOTE: Refreshing charts requires  at least one of the
  spreadsheets.readonly,\nspreadsheets, drive.readonly, or drive OAuth scopes.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  object ID of the chart to refresh.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ReplaceAllShapesWithImageRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:210:\"Replaces
  all shapes that match the given criteria with the provided image.\n\nThe images
  replacing the shapes are rectangular after being inserted into\nthe presentation
  and do not take on the forms of the shapes.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"containsText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/SubstringMatchCriteria\";s:11:\"description\";s:80:\"If
  set, this request will replace all of the shapes that contain the\ngiven text.\";}s:18:\"imageReplaceMethod\";O:8:\"stdClass\":3:{s:11:\"description\";s:352:\"The
  image replace method.\n\nIf you specify both a `replace_method` and an `image_replace_method`,
  the\n`image_replace_method` takes precedence.\n\nIf you do not specify a value for
  `image_replace_method`, but specify a\nvalue for `replace_method`, then the specified
  `replace_method` value is\nused.\n\nIf you do not specify either, then CENTER_INSIDE
  is used.\";s:4:\"enum\";a:3:{i:0;s:32:\"IMAGE_REPLACE_METHOD_UNSPECIFIED\";i:1;s:13:\"CENTER_INSIDE\";i:2;s:11:\"CENTER_CROP\";}s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:366:\"The
  image URL.\n\nThe image is fetched once at insertion time and a copy is stored for\ndisplay
  inside the presentation. Images must be less than 50MB in size,\ncannot exceed 25
  megapixels, and must be in one of PNG, JPEG, or GIF\nformat.\n\nThe provided URL
  can be at most 2 kB in length. The URL itself is saved\nwith the image, and exposed
  via the Image.source_url field.\";s:4:\"type\";s:6:\"string\";}s:13:\"pageObjectIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"If
  non-empty, limits the matches to page elements only on the given pages.\n\nReturns
  a 400 bad request error if given the page object ID of a\nnotes page or a\nnotes
  master, or if a\npage with that object ID doesn't exist in the presentation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"replaceMethod\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"The
  replace method.\nDeprecated: use `image_replace_method` instead.\n\nIf you specify
  both a `replace_method` and an `image_replace_method`, the\n`image_replace_method`
  takes precedence.\";s:4:\"enum\";a:2:{i:0;s:13:\"CENTER_INSIDE\";i:1;s:11:\"CENTER_CROP\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ReplaceAllShapesWithImageResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  result of replacing shapes with an image.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"occurrencesChanged\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  number of shapes replaced with images.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:38:\"ReplaceAllShapesWithSheetsChartRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:316:\"Replaces
  all shapes that match the given criteria with the provided Google\nSheets chart.
  The chart will be scaled and centered to fit within the bounds\nof the original
  shape.\n\nNOTE: Replacing shapes with a chart requires at least one of the\nspreadsheets.readonly,
  spreadsheets, drive.readonly, or drive OAuth scopes.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"chartId\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  ID of the specific chart in the Google Sheets spreadsheet.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"containsText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/SubstringMatchCriteria\";s:11:\"description\";s:136:\"The
  criteria that the shapes must match in order to be replaced. The\nrequest will replace
  all of the shapes that contain the given text.\";}s:11:\"linkingMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  mode with which the chart is linked to the source spreadsheet. When\nnot specified,
  the chart will be an image that is not linked.\";s:4:\"enum\";a:2:{i:0;s:16:\"NOT_LINKED_IMAGE\";i:1;s:6:\"LINKED\";}s:4:\"type\";s:6:\"string\";}s:13:\"pageObjectIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"If
  non-empty, limits the matches to page elements only on the given pages.\n\nReturns
  a 400 bad request error if given the page object ID of a\nnotes page or a\nnotes
  master, or if a\npage with that object ID doesn't exist in the presentation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  ID of the Google Sheets spreadsheet that contains the chart.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"ReplaceAllShapesWithSheetsChartResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  result of replacing shapes with a Google Sheets chart.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"occurrencesChanged\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  number of shapes replaced with charts.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ReplaceAllTextRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Replaces
  all instances of text matching a criteria with replace text.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"containsText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/SubstringMatchCriteria\";s:11:\"description\";s:46:\"Finds
  text in a shape matching this substring.\";}s:13:\"pageObjectIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"If
  non-empty, limits the matches to page elements only on the given pages.\n\nReturns
  a 400 bad request error if given the page object ID of a\nnotes master,\nor if a
  page with that object ID doesn't exist in the presentation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"replaceText\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  text that will replace the matched text.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ReplaceAllTextResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  result of replacing text.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"occurrencesChanged\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  number of occurrences changed by replacing all text.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ReplaceImageRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Replaces
  an existing image with a new image.\n\nReplacing an image removes some image effects
  from the existing image.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"imageObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  ID of the existing image that will be replaced.\";s:4:\"type\";s:6:\"string\";}s:18:\"imageReplaceMethod\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  replacement method.\";s:4:\"enum\";a:3:{i:0;s:32:\"IMAGE_REPLACE_METHOD_UNSPECIFIED\";i:1;s:13:\"CENTER_INSIDE\";i:2;s:11:\"CENTER_CROP\";}s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:377:\"The
  URL of the new image.\n\nThe image is fetched once at insertion time and a copy
  is stored for\ndisplay inside the presentation. Images must be less than 50MB in
  size,\ncannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF\nformat.\n\nThe
  provided URL can be at most 2 kB in length. The URL itself is saved\nwith the image,
  and exposed via the Image.source_url field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Request\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  single kind of update to apply to a presentation.\";s:10:\"properties\";O:8:\"stdClass\":40:{s:11:\"createImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CreateImageRequest\";s:11:\"description\";s:17:\"Creates
  an image.\";}s:10:\"createLine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CreateLineRequest\";s:11:\"description\";s:15:\"Creates
  a line.\";}s:22:\"createParagraphBullets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/CreateParagraphBulletsRequest\";s:11:\"description\";s:31:\"Creates
  bullets for paragraphs.\";}s:11:\"createShape\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CreateShapeRequest\";s:11:\"description\";s:20:\"Creates
  a new shape.\";}s:17:\"createSheetsChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CreateSheetsChartRequest\";s:11:\"description\";s:40:\"Creates
  an embedded Google Sheets chart.\";}s:11:\"createSlide\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CreateSlideRequest\";s:11:\"description\";s:20:\"Creates
  a new slide.\";}s:11:\"createTable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CreateTableRequest\";s:11:\"description\";s:20:\"Creates
  a new table.\";}s:11:\"createVideo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CreateVideoRequest\";s:11:\"description\";s:16:\"Creates
  a video.\";}s:12:\"deleteObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DeleteObjectRequest\";s:11:\"description\";s:53:\"Deletes
  a page or page element from the presentation.\";}s:22:\"deleteParagraphBullets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/DeleteParagraphBulletsRequest\";s:11:\"description\";s:32:\"Deletes
  bullets from paragraphs.\";}s:17:\"deleteTableColumn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DeleteTableColumnRequest\";s:11:\"description\";s:30:\"Deletes
  a column from a table.\";}s:14:\"deleteTableRow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DeleteTableRowRequest\";s:11:\"description\";s:27:\"Deletes
  a row from a table.\";}s:10:\"deleteText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DeleteTextRequest\";s:11:\"description\";s:42:\"Deletes
  text from a shape or a table cell.\";}s:15:\"duplicateObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DuplicateObjectRequest\";s:11:\"description\";s:35:\"Duplicates
  a slide or page element.\";}s:12:\"groupObjects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GroupObjectsRequest\";s:11:\"description\";s:38:\"Groups
  objects, such as page elements.\";}s:18:\"insertTableColumns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/InsertTableColumnsRequest\";s:11:\"description\";s:29:\"Inserts
  columns into a table.\";}s:15:\"insertTableRows\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/InsertTableRowsRequest\";s:11:\"description\";s:26:\"Inserts
  rows into a table.\";}s:10:\"insertText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InsertTextRequest\";s:11:\"description\";s:40:\"Inserts
  text into a shape or table cell.\";}s:15:\"mergeTableCells\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/MergeTableCellsRequest\";s:11:\"description\";s:24:\"Merges
  cells in a Table.\";}s:18:\"refreshSheetsChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/RefreshSheetsChartRequest\";s:11:\"description\";s:32:\"Refreshes
  a Google Sheets chart.\";}s:25:\"replaceAllShapesWithImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ReplaceAllShapesWithImageRequest\";s:11:\"description\";s:57:\"Replaces
[...]
