---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:52:\"Indian Railways - National
  Train Enquiry System NTES\";s:11:\"description\";s:324:\"This API provides information
  related to Indian Railways Trains. You can get the list of stations, trains between
  stations, route of a train, current running status of the train and get PNR current
  status. This is unofficial NTES API. NTES provides train-running related and real-time
  status queries for all trains of India.\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:6:\"dev132\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/549ef710e4b0e73764746d35_medium\";s:20:\"x-mashape-categories\";a:2:{i:0;s:4:\"Data\";i:1;s:6:\"Travel\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:84:\"https://market.mashape.com/dev132/indian-railways-national-train-enquiry-system-ntes\";}}"
host: devru-ntes-national-train-enquiry-system-v1.p.mashape.com
basePath: ""
paths:
  /trainSchedule.php:
    get:
      description: Returns Schedule of a given Train
      operationId: 1-train-schedule
      produces:
      - application/json
      parameters:
      - name: train_no
        in: query
        description: Enter Train Number here
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /spotYourTrain_showRun.php:
    get:
      description: Returns run details of a train for a given Station
      operationId: 2-train-schedule-details
      produces:
      - application/json
      parameters:
      - name: date_type
        in: query
        description: 'Enter date_type; values { Today : TD; Tomorrow : TM; Yesterday
          : YS }'
        required: true
      - name: journey_station
        in: query
        description: Enter journey_station Code; Refer ENDPOINT 1
        required: true
      - name: train_no
        in: query
        description: Enter Train Number Here
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /liveStation.php:
    get:
      description: RETURNS all train details for a given Station
      operationId: 3-live-station
      produces:
      - application/json
      parameters:
      - name: in_next_hour
        in: query
        description: 'Enter TimeSpan for trains to find; Value is in hours; Example
          : 2, 3, 4 etc'
        required: true
      - name: journey_station
        in: query
        description: Enter Station name here
        required: true
      - name: to_station
        in: query
        description: '( OPTIONAL ) Going to Station ; Example: BHP'
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /trainBetweenStation.php:
    get:
      description: RETURNS train between stations
      operationId: 4-train-between-stations
      produces:
      - application/json
      parameters:
      - name: station_from
        in: query
        required: true
      - name: station_to
        in: query
        description: ""
        required: true
      - name: train_type
        in: query
        description: REFER train_type in DATA GROUP ENDPOINT
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /cancelledTrains.php:
    get:
      description: Returns Cancelled Trains For a Given Date
      operationId: 5-cancelled-trains
      produces:
      - application/json
      parameters:
      - name: date_type
        in: query
        description: 'values { Today : TD; Tomorrow : TM; Yesterday : YS }'
        required: true
      - name: excp_type
        in: query
        description: 'Cancelled train type : values { Fully Cancelled : EC , Partially
          Cancelled : EPC }'
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /divertedTrains.php:
    get:
      description: RETURNS Diverted trains
      operationId: 6-diverted-trains
      produces:
      - application/json
      parameters:
      - name: date_type
        in: query
        description: 'values { Today : TD; Tomorrow : TM; Yesterday : YS }'
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /rescheduledTrains.php:
    get:
      description: RETURNS Rescheduled Trains
      operationId: 7-rescheduled-trains
      produces:
      - application/json
      parameters:
      - name: date_type
        in: query
        description: 'values { Today : TD; Tomorrow : TM; Yesterday : YS }'
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
definitions: !php/object "O:8:\"stdClass\":2:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"Source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TrainNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"SourceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TrainType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"AlertMsg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"DaysOfRun\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TrainName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"TrainTypeDesc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"DestinationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"providedBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"stations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Station\";}}}}s:7:\"Station\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"STA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"STD\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"DayOfRun\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Distance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"StationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"Sr\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"StationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
