---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1584:\"<fullname>AWS
  Config</fullname> <p>AWS Config provides a way to keep track of the configurations
  of all the AWS resources associated with your AWS account. You can use AWS Config
  to get the current and historical configurations of each AWS resource and also to
  get information about the relationship between the resources. An AWS resource can
  be an Amazon Compute Cloud (Amazon EC2) instance, an Elastic Block Store (EBS) volume,
  an elastic network Interface (ENI), or a security group. For a complete list of
  resources currently supported by AWS Config, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources\">Supported
  AWS Resources</a>.</p> <p>You can access and manage AWS Config through the AWS Management
  Console, the AWS Command Line Interface (AWS CLI), the AWS Config API, or the AWS
  SDKs for AWS Config. This reference guide contains documentation for the AWS Config
  API and the AWS CLI commands that you can use to manage AWS Config. The AWS Config
  API uses the Signature Version 4 protocol for signing requests. For more information
  about how to sign a request with this protocol, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature
  Version 4 Signing Process</a>. For detailed information about AWS Config features
  and their associated actions or commands, as well as how to work with AWS Management
  Console, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/WhatIsConfig.html\">What
  Is AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:10:\"AWS
  Config\";s:7:\"version\";s:10:\"2014-11-12\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:90:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/config-2014-11-12.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:6:\"config\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"amazonaws_config\";s:4:\"type\";s:7:\"openapi\";}}"
host: config.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":253:{s:3:\"ARN\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"AccountAggregationSource\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"A
  collection of accounts and regions.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"AccountIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/AccountAggregationSourceAccountList\";s:11:\"description\";s:57:\"The
  12-digit account ID of the account being aggregated. \";}s:13:\"AllAwsRegions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:66:\"If
  true, aggregate existing AWS Config regions and future regions.\";}s:10:\"AwsRegions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AggregatorRegionList\";s:11:\"description\";s:36:\"The
  source regions being aggregated.\";}}s:8:\"required\";a:1:{i:0;s:10:\"AccountIds\";}s:4:\"type\";s:6:\"object\";}s:35:\"AccountAggregationSourceAccountList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:28:\"AccountAggregationSourceList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AccountAggregationSource\";}s:8:\"maxItems\";i:1;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:9:\"AccountId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:6:\"\\d{12}\";s:4:\"type\";s:6:\"string\";}s:31:\"AggregateComplianceByConfigRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:263:\"<p>Indicates
  whether an AWS Config rule is compliant based on account ID, region, compliance,
  and rule name.</p> <p>A rule is compliant if all of the resources that the rule
  evaluated comply with it. It is noncompliant if any of these resources do not comply.</p>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:46:\"The
  12-digit account ID of the source account.\";}s:9:\"AwsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:52:\"The
  source region from where the data is aggregated.\";}s:10:\"Compliance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Compliance\";s:11:\"description\";s:133:\"Indicates
  whether an AWS resource or AWS Config rule is compliant and provides the number
  of contributors that affect the compliance.\";}s:14:\"ConfigRuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConfigRuleName\";s:11:\"description\";s:32:\"The
  name of the AWS Config rule.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"AggregateComplianceByConfigRuleList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/AggregateComplianceByConfigRule\";}s:4:\"type\";s:5:\"array\";}s:24:\"AggregateComplianceCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Returns
  the number of compliant and noncompliant rules for one or more accounts and regions
  in an aggregator.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ComplianceSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ComplianceSummary\";s:11:\"description\";s:58:\"The
  number of compliant and noncompliant AWS Config rules.\";}s:9:\"GroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:64:\"The
  12-digit account ID or region based on the GroupByKey value.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"AggregateComplianceCountList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AggregateComplianceCount\";}s:4:\"type\";s:5:\"array\";}s:25:\"AggregateEvaluationResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:217:\"The
  details of an AWS Config evaluation for an account ID and region in an aggregator.
  Provides the AWS resource that was evaluated, the compliance of the resource, related
  time stamps, and supplementary information. \";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:46:\"The
  12-digit account ID of the source account.\";}s:10:\"Annotation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:87:\"Supplementary
  information about how the agrregate evaluation determined the compliance.\";}s:9:\"AwsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:52:\"The
  source region from where the data is aggregated.\";}s:14:\"ComplianceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ComplianceType\";s:11:\"description\";s:291:\"<p>The
  resource compliance status.</p> <p>For the <code>AggregationEvaluationResult</code>
  data type, AWS Config supports only the <code>COMPLIANT</code> and <code>NON_COMPLIANT</code>.
  AWS Config does not support the <code>NOT_APPLICABLE</code> and <code>INSUFFICIENT_DATA</code>
  value.</p>\";}s:21:\"ConfigRuleInvokedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:61:\"The
  time when the AWS Config rule evaluated the AWS resource.\";}s:26:\"EvaluationResultIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/EvaluationResultIdentifier\";s:11:\"description\";s:42:\"Uniquely
  identifies the evaluation result.\";}s:18:\"ResultRecordedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:66:\"The
  time when AWS Config recorded the aggregate evaluation result.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"AggregateEvaluationResultList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AggregateEvaluationResult\";}s:4:\"type\";s:5:\"array\";}s:22:\"AggregatedSourceStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  current sync status between the source and the aggregator account.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"AwsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:49:\"The
  region authorized to collect aggregated data.\";}s:13:\"LastErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:88:\"The
  error code that AWS Config returned when the source account aggregation last failed.\";}s:16:\"LastErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:82:\"The
  message indicating that the source account aggregation failed due to an error.\";}s:16:\"LastUpdateStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/AggregatedSourceStatusType\";s:11:\"description\";s:293:\"<p>Filters
  the last updated status type.</p> <ul> <li> <p>Valid value FAILED indicates errors
  while moving data.</p> </li> <li> <p>Valid value SUCCEEDED indicates the data was
  successfully moved.</p> </li> <li> <p>Valid value OUTDATED indicates the data is
  not the most recent.</p> </li> </ul>\";}s:14:\"LastUpdateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:28:\"The
  time of the last update.\";}s:8:\"SourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:41:\"The
  source account ID or an organization.\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AggregatedSourceType\";s:11:\"description\";s:38:\"The
  source account or an organization.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"AggregatedSourceStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AggregatedSourceStatus\";}s:4:\"type\";s:5:\"array\";}s:26:\"AggregatedSourceStatusType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"FAILED\";i:1;s:9:\"SUCCEEDED\";i:2;s:8:\"OUTDATED\";}s:4:\"type\";s:6:\"string\";}s:30:\"AggregatedSourceStatusTypeList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AggregatedSourceStatusType\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:20:\"AggregatedSourceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"ACCOUNT\";i:1;s:12:\"ORGANIZATION\";}s:4:\"type\";s:6:\"string\";}s:24:\"AggregationAuthorization\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"An
  object that represents the authorizations granted to aggregator accounts and regions.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"AggregationAuthorizationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  Amazon Resource Name (ARN) of the aggregation object.\";}s:19:\"AuthorizedAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:68:\"The
  12-digit account ID of the account authorized to aggregate data.\";}s:19:\"AuthorizedAwsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:49:\"The
  region authorized to collect aggregated data.\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:62:\"The
  time stamp when the aggregation authorization was created.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"AggregationAuthorizationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AggregationAuthorization\";}s:4:\"type\";s:5:\"array\";}s:20:\"AggregatorRegionList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:12:\"AllSupported\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"AwsRegion\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:21:\"BaseConfigurationItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  detailed configuration of a specified resource.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:57:\"The
  12 digit AWS account ID associated with the resource.\";}s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/ARN\";s:11:\"description\";s:47:\"The
  Amazon Resource Name (ARN) of the resource.\";}s:16:\"availabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AvailabilityZone\";s:11:\"description\";s:51:\"The
  Availability Zone associated with the resource.\";}s:9:\"awsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:38:\"The
  region where the resource resides.\";}s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Configuration\";s:11:\"description\";s:46:\"The
  description of the resource configuration.\";}s:28:\"configurationItemCaptureTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ConfigurationItemCaptureTime\";s:11:\"description\";s:56:\"The
  time when the configuration recording was initiated.\";}s:23:\"configurationItemStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ConfigurationItemStatus\";s:11:\"description\";s:30:\"The
  configuration item status.\";}s:20:\"configurationStateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfigurationStateId\";s:11:\"description\";s:83:\"An
  identifier that indicates the ordering of the configuration items of a resource.\";}s:20:\"resourceCreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ResourceCreationTime\";s:11:\"description\";s:45:\"The
  time stamp when the resource was created.\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:49:\"The
  ID of the resource (for example., sg-xxxxxx).\";}s:12:\"resourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:46:\"The
  custom name of the resource, if available.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:25:\"The
  type of AWS resource.\";}s:26:\"supplementaryConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/SupplementaryConfiguration\";s:11:\"description\";s:147:\"Configuration
  attributes that AWS Config returns for certain resource types to supplement the
  information returned for the configuration parameter.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:49:\"The
  version number of the resource configuration.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"BaseConfigurationItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BaseConfigurationItem\";}s:4:\"type\";s:5:\"array\";}s:14:\"BaseResourceId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:768;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:29:\"BatchGetResourceConfigRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"resourceKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceKeys\";s:11:\"description\";s:137:\"A
  list of resource keys to be processed with the current request. Each element in
  the list consists of the resource type and resource ID.\";}}s:8:\"required\";a:1:{i:0;s:12:\"resourceKeys\";}s:4:\"type\";s:6:\"object\";}s:30:\"BatchGetResourceConfigResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"baseConfigurationItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/BaseConfigurationItems\";s:11:\"description\";s:72:\"A
  list that contains the current configuration of one or more resources.\";}s:23:\"unprocessedResourceKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceKeys\";s:11:\"description\";s:338:\"A
  list of resource keys that were not processed with the current response. The unprocessesResourceKeys
  value is in the same form as ResourceKeys, so the value can be directly provided
  to a subsequent BatchGetResourceConfig operation. If there are no unprocessed resource
  keys, the response contains an empty unprocessedResourceKeys list. \";}}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"ChannelName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"ChronologicalOrder\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"Reverse\";i:1;s:7:\"Forward\";}s:4:\"type\";s:6:\"string\";}s:10:\"Compliance\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Indicates
  whether an AWS resource or AWS Config rule is compliant and provides the number
  of contributors that affect the compliance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"ComplianceContributorCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ComplianceContributorCount\";s:11:\"description\";s:122:\"The
  number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>,
  up to a maximum number.\";}s:14:\"ComplianceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ComplianceType\";s:11:\"description\";s:835:\"<p>Indicates
  whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant
  if it complies with all of the AWS Config rules that evaluate it. A resource is
  noncompliant if it does not comply with one or more of these rules.</p> <p>A rule
  is compliant if all of the resources that the rule evaluates comply with it. A rule
  is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns
  the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available
  for the AWS resource or AWS Config rule.</p> <p>For the <code>Compliance</code>
  data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>,
  and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code>
  value for the <code>Compliance</code> data type.</p>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ComplianceByConfigRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"Indicates
  whether an AWS Config rule is compliant. A rule is compliant if all of the resources
  that the rule evaluated comply with it. A rule is noncompliant if any of these resources
  do not comply.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Compliance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Compliance\";s:11:\"description\";s:51:\"Indicates
  whether the AWS Config rule is compliant.\";}s:14:\"ConfigRuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/StringWithCharLimit64\";s:11:\"description\";s:32:\"The
  name of the AWS Config rule.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ComplianceByConfigRules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ComplianceByConfigRule\";}s:4:\"type\";s:5:\"array\";}s:20:\"ComplianceByResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:268:\"Indicates
  whether an AWS resource that is evaluated according to one or more AWS Config rules
  is compliant. A resource is compliant if it complies with all of the rules that
  evaluate it. A resource is noncompliant if it does not comply with one or more of
  these rules.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Compliance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Compliance\";s:11:\"description\";s:95:\"Indicates
  whether the AWS resource complies with all of the AWS Config rules that evaluated
  it.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BaseResourceId\";s:11:\"description\";s:46:\"The
  ID of the AWS resource that was evaluated.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:48:\"The
  type of the AWS resource that was evaluated.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ComplianceByResources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ComplianceByResource\";}s:4:\"type\";s:5:\"array\";}s:26:\"ComplianceContributorCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  number of AWS resources or AWS Config rules responsible for the current compliance
  of the item, up to a maximum number.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"CapExceeded\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:47:\"Indicates
  whether the maximum count is reached.\";}s:11:\"CappedCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:99:\"The
  number of AWS resources or AWS Config rules responsible for the current compliance
  of the item.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ComplianceResourceTypes\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:33:\"ComplianceSummariesByResourceType\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/ComplianceSummaryByResourceType\";}s:4:\"type\";s:5:\"array\";}s:17:\"ComplianceSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  number of AWS Config rules or AWS resources that are compliant and noncompliant.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:26:\"ComplianceSummaryTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:56:\"The
  time that AWS Config created the compliance summary.\";}s:22:\"CompliantResourceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ComplianceContributorCount\";s:11:\"description\";s:122:\"The
  number of AWS Config rules or AWS resources that are compliant, up to a maximum
  of 25 for rules and 100 for resources.\";}s:25:\"NonCompliantResourceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ComplianceContributorCount\";s:11:\"description\";s:125:\"The
  number of AWS Config rules or AWS resources that are noncompliant, up to a maximum
  of 25 for rules and 100 for resources.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ComplianceSummaryByResourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  number of AWS resources of a specific type that are compliant or noncompliant, up
  to a maximum of 100 for each.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ComplianceSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ComplianceSummary\";s:11:\"description\";s:96:\"The
  number of AWS resources that are compliant or noncompliant, up to a maximum of 100
  for each.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:25:\"The
  type of AWS resource.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ComplianceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:9:\"COMPLIANT\";i:1;s:13:\"NON_COMPLIANT\";i:2;s:14:\"NOT_APPLICABLE\";i:3;s:17:\"INSUFFICIENT_DATA\";}s:4:\"type\";s:6:\"string\";}s:15:\"ComplianceTypes\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ComplianceType\";}s:8:\"maxItems\";i:3;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:24:\"ConfigExportDeliveryInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:217:\"Provides
  status of the delivery of the snapshot or the configuration history to the specified
  Amazon S3 bucket. Also provides the status of notifications about the Amazon S3
  delivery to the specified Amazon SNS topic.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"lastAttemptTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:40:\"The
  time of the last attempted delivery.\";}s:13:\"lastErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  error code from the last attempted delivery.\";}s:16:\"lastErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  error message from the last attempted delivery.\";}s:10:\"lastStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeliveryStatus\";s:11:\"description\";s:38:\"Status
  of the last attempted delivery.\";}s:18:\"lastSuccessfulTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:41:\"The
  time of the last successful delivery.\";}s:16:\"nextDeliveryTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:39:\"The
  time that the next delivery occurs.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ConfigRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:945:\"<p>An
  AWS Config rule represents an AWS Lambda function that you create for a custom rule
  or a predefined function for an AWS managed rule. The function evaluates configuration
  items to assess whether your AWS resources comply with your desired configurations.
  This function can run when AWS Config detects a configuration change to an AWS resource
  and at a periodic frequency that you choose (for example, every 24 hours).</p> <note>
  <p>You can use the AWS CLI and AWS SDKs if you want to create a rule that triggers
  evaluations for your resources when AWS Config delivers the configuration snapshot.
  For more information, see <a>ConfigSnapshotDeliveryProperties</a>.</p> </note> <p>For
  more information about developing and using AWS Config rules, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/evaluate-config.html\">Evaluating
  AWS Resource Configurations with AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"ConfigRuleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"The
  Amazon Resource Name (ARN) of the AWS Config rule.\";}s:12:\"ConfigRuleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  ID of the AWS Config rule.\";}s:14:\"ConfigRuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/StringWithCharLimit64\";s:11:\"description\";s:99:\"The
  name that you assign to the AWS Config rule. The name is required if you are adding
  a new rule.\";}s:15:\"ConfigRuleState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigRuleState\";s:11:\"description\";s:859:\"<p>Indicates
  whether the AWS Config rule is active or is currently being deleted by AWS Config.
  It can also indicate the evaluation status for the AWS Config rule.</p> <p>AWS Config
  sets the state of the rule to <code>EVALUATING</code> temporarily after you use
  the <code>StartConfigRulesEvaluation</code> request to evaluate your resources against
  the AWS Config rule.</p> <p>AWS Config sets the state of the rule to <code>DELETING_RESULTS</code>
  temporarily after you use the <code>DeleteEvaluationResults</code> request to delete
  the current evaluation results for the AWS Config rule.</p> <p>AWS Config temporarily
  sets the state of a rule to <code>DELETING</code> after you use the <code>DeleteConfigRule</code>
  request to delete the rule. After AWS Config deletes the rule, the rule and all
  of its evaluations are erased and are no longer available.</p>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/EmptiableStringWithCharLimit256\";s:11:\"description\";s:57:\"The
  description that you provide for the AWS Config rule.\";}s:15:\"InputParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/StringWithCharLimit1024\";s:11:\"description\";s:80:\"A
  string, in JSON format, that is passed to the AWS Config rule Lambda function.\";}s:25:\"MaximumExecutionFrequency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/MaximumExecutionFrequency\";s:11:\"description\";s:625:\"<p>The
  maximum frequency with which AWS Config runs evaluations for a rule. You can specify
  a value for <code>MaximumExecutionFrequency</code> when:</p> <ul> <li> <p>You are
  using an AWS managed rule that is triggered at a periodic frequency.</p> </li> <li>
  <p>Your custom rule is triggered when AWS Config delivers the configuration snapshot.
  For more information, see <a>ConfigSnapshotDeliveryProperties</a>.</p> </li> </ul>
  <note> <p>By default, rules with a periodic trigger are evaluated every 24 hours.
  To change the frequency, specify a valid value for the <code>MaximumExecutionFrequency</code>
  parameter.</p> </note>\";}s:5:\"Scope\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Scope\";s:11:\"description\";s:405:\"Defines
  which resources can trigger an evaluation for the rule. The scope can include one
  or more resource types, a combination of one resource type and one resource ID,
  or a combination of a tag key and value. Specify a scope to constrain the resources
  that can trigger an evaluation for the rule. If you do not specify a scope, evaluations
  are triggered when any resource in the recording group changes.\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:141:\"Provides
  the rule owner (AWS or customer), the rule identifier, and the notifications that
  cause the function to evaluate your AWS resources.\";}}s:8:\"required\";a:1:{i:0;s:6:\"Source\";}s:4:\"type\";s:6:\"object\";}s:27:\"ConfigRuleComplianceFilters\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Filters
  the compliance results based on account ID, region, compliance type, and rule name.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:47:\"The
  12-digit account ID of the source account. \";}s:9:\"AwsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:48:\"The
  source region where the data is aggregated. \";}s:14:\"ComplianceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ComplianceType\";s:11:\"description\";s:288:\"<p>The
  rule compliance status.</p> <p>For the <code>ConfigRuleComplianceFilters</code>
  data type, AWS Config supports only <code>COMPLIANT</code> and <code>NON_COMPLIANT</code>.
  AWS Config does not support the <code>NOT_APPLICABLE</code> and the <code>INSUFFICIENT_DATA</code>
  values.</p>\";}s:14:\"ConfigRuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConfigRuleName\";s:11:\"description\";s:32:\"The
  name of the AWS Config rule.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ConfigRuleComplianceSummaryFilters\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Filters
  the results based on the account IDs and regions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:46:\"The
  12-digit account ID of the source account.\";}s:9:\"AwsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:47:\"The
  source region where the data is aggregated.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"ConfigRuleComplianceSummaryGroupKey\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:10:\"ACCOUNT_ID\";i:1;s:10:\"AWS_REGION\";}s:4:\"type\";s:6:\"string\";}s:26:\"ConfigRuleEvaluationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:282:\"<p>Status
  information for your AWS managed Config rules. The status includes information such
  as the last time the rule ran, the last time it failed, and the related error for
  the last failure.</p> <p>This action does not return status information about custom
  AWS Config rules.</p>\";s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"ConfigRuleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"The
  Amazon Resource Name (ARN) of the AWS Config rule.\";}s:12:\"ConfigRuleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  ID of the AWS Config rule.\";}s:14:\"ConfigRuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/StringWithCharLimit64\";s:11:\"description\";s:32:\"The
  name of the AWS Config rule.\";}s:18:\"FirstActivatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:54:\"The
  time that you first activated the AWS Config rule.\";}s:22:\"FirstEvaluationStarted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:343:\"<p>Indicates
  whether AWS Config has evaluated your resources against the rule at least once.</p>
  <ul> <li> <p> <code>true</code> - AWS Config has evaluated your AWS resources against
  the rule at least once.</p> </li> <li> <p> <code>false</code> - AWS Config has not
  once finished evaluating your AWS resources against the rule.</p> </li> </ul>\";}s:13:\"LastErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:66:\"The
  error code that AWS Config returned when the rule last failed.\";}s:16:\"LastErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:69:\"The
  error message that AWS Config returned when the rule last failed.\";}s:24:\"LastFailedEvaluationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:85:\"The
  time that AWS Config last failed to evaluate your AWS resources against the rule.\";}s:24:\"LastFailedInvocationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:98:\"The
  time that AWS Config last failed to invoke the AWS Config rule to evaluate your
  AWS resources.\";}s:28:\"LastSuccessfulEvaluationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:89:\"The
  time that AWS Config last successfully evaluated your AWS resources against the
  rule.\";}s:28:\"LastSuccessfulInvocationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:102:\"The
  time that AWS Config last successfully invoked the AWS Config rule to evaluate your
  AWS resources.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ConfigRuleEvaluationStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ConfigRuleEvaluationStatus\";}s:4:\"type\";s:5:\"array\";}s:14:\"ConfigRuleName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"ConfigRuleNames\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/StringWithCharLimit64\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:15:\"ConfigRuleState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"DELETING\";i:2;s:16:\"DELETING_RESULTS\";i:3;s:10:\"EVALUATING\";}s:4:\"type\";s:6:\"string\";}s:11:\"ConfigRules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ConfigRule\";}s:4:\"type\";s:5:\"array\";}s:32:\"ConfigSnapshotDeliveryProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:2197:\"<p>Provides
  options for how often AWS Config delivers configuration snapshots to the Amazon
  S3 bucket in your delivery channel.</p> <note> <p>If you want to create a rule that
  triggers evaluations for your resources when AWS Config delivers the configuration
  snapshot, see the following:</p> </note> <p>The frequency for a rule that triggers
  evaluations for your resources when AWS Config delivers the configuration snapshot
  is set by one of two values, depending on which is less frequent:</p> <ul> <li>
  <p>The value for the <code>deliveryFrequency</code> parameter within the delivery
  channel configuration, which sets how often AWS Config delivers configuration snapshots.
  This value also sets how often AWS Config invokes evaluations for AWS Config rules.</p>
  </li> <li> <p>The value for the <code>MaximumExecutionFrequency</code> parameter,
  which sets the maximum frequency with which AWS Config invokes evaluations for the
  rule. For more information, see <a>ConfigRule</a>.</p> </li> </ul> <p>If the <code>deliveryFrequency</code>
  value is less frequent than the <code>MaximumExecutionFrequency</code> value for
  a rule, AWS Config invokes the rule only as often as the <code>deliveryFrequency</code>
  value.</p> <ol> <li> <p>For example, you want your rule to run evaluations when
  AWS Config delivers the configuration snapshot.</p> </li> <li> <p>You specify the
  <code>MaximumExecutionFrequency</code> value for <code>Six_Hours</code>. </p> </li>
  <li> <p>You then specify the delivery channel <code>deliveryFrequency</code> value
  for <code>TwentyFour_Hours</code>.</p> </li> <li> <p>Because the value for <code>deliveryFrequency</code>
  is less frequent than <code>MaximumExecutionFrequency</code>, AWS Config invokes
  evaluations for the rule every 24 hours. </p> </li> </ol> <p>You should set the
  <code>MaximumExecutionFrequency</code> value to be at least as frequent as the <code>deliveryFrequency</code>
  value. You can view the <code>deliveryFrequency</code> value by using the <code>DescribeDeliveryChannnels</code>
  action.</p> <p>To update the <code>deliveryFrequency</code> with which AWS Config
  delivers your configuration snapshots, use the <code>PutDeliveryChannel</code> action.</p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"deliveryFrequency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/MaximumExecutionFrequency\";s:11:\"description\";s:69:\"The
  frequency with which AWS Config delivers configuration snapshots.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ConfigStreamDeliveryInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"A
  list that contains the status of the delivery of the configuration stream notification
  to the Amazon SNS topic.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"lastErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  error code from the last attempted delivery.\";}s:16:\"lastErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  error message from the last attempted delivery.\";}s:10:\"lastStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeliveryStatus\";s:11:\"description\";s:312:\"<p>Status
  of the last attempted delivery.</p> <p> <b>Note</b> Providing an SNS topic on a
  <a href=\"http://docs.aws.amazon.com/config/latest/APIReference/API_DeliveryChannel.html\">DeliveryChannel</a>
  for AWS Config is optional. If the SNS delivery is turned off, the last status will
  be <b>Not_Applicable</b>.</p>\";}s:20:\"lastStatusChangeTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:37:\"The
  time from the last status change.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Configuration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"ConfigurationAggregator\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"The
  details about the configuration aggregator, including information about source accounts,
  regions, and metadata of the aggregator. \";s:10:\"properties\";O:8:\"stdClass\":6:{s:25:\"AccountAggregationSources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AccountAggregationSourceList\";s:11:\"description\";s:64:\"Provides
  a list of source accounts and regions to be aggregated.\";}s:26:\"ConfigurationAggregatorArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ConfigurationAggregatorArn\";s:11:\"description\";s:49:\"The
  Amazon Resource Name (ARN) of the aggregator.\";}s:27:\"ConfigurationAggregatorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ConfigurationAggregatorName\";s:11:\"description\";s:27:\"The
  name of the aggregator.\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:61:\"The
  time stamp when the configuration aggregator was created.\";}s:15:\"LastUpdatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:28:\"The
  time of the last update.\";}s:29:\"OrganizationAggregationSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/OrganizationAggregationSource\";s:11:\"description\";s:62:\"Provides
  an organization and list of regions to be aggregated.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ConfigurationAggregatorArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:82:\"arn:aws[a-z\\-]*:config:[a-z\\-\\d]+:\\d+:config-aggregator/config-aggregator-[a-z\\d]+\";s:4:\"type\";s:6:\"string\";}s:27:\"ConfigurationAggregatorList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ConfigurationAggregator\";}s:4:\"type\";s:5:\"array\";}s:27:\"ConfigurationAggregatorName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:7:\"[\\w\\-]+\";s:4:\"type\";s:6:\"string\";}s:31:\"ConfigurationAggregatorNameList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ConfigurationAggregatorName\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:17:\"ConfigurationItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  list that contains detailed configurations of a specified resource.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:57:\"The
  12-digit AWS account ID associated with the resource.\";}s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/ARN\";s:11:\"description\";s:47:\"The
  Amazon Resource Name (ARN) of the resource.\";}s:16:\"availabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AvailabilityZone\";s:11:\"description\";s:51:\"The
  Availability Zone associated with the resource.\";}s:9:\"awsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:38:\"The
  region where the resource resides.\";}s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Configuration\";s:11:\"description\";s:46:\"The
  description of the resource configuration.\";}s:28:\"configurationItemCaptureTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ConfigurationItemCaptureTime\";s:11:\"description\";s:56:\"The
  time when the configuration recording was initiated.\";}s:24:\"configurationItemMD5Hash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ConfigurationItemMD5Hash\";s:11:\"description\";s:199:\"<p>Unique
  MD5 hash that represents the configuration item's state.</p> <p>You can use MD5
  hash to compare the states of two or more configuration items that are associated
  with the same resource.</p>\";}s:23:\"configurationItemStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ConfigurationItemStatus\";s:11:\"description\";s:30:\"The
  configuration item status.\";}s:20:\"configurationStateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfigurationStateId\";s:11:\"description\";s:83:\"An
  identifier that indicates the ordering of the configuration items of a resource.\";}s:13:\"relatedEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RelatedEventList\";s:11:\"description\";s:433:\"<p>A
  list of CloudTrail event IDs.</p> <p>A populated field indicates that the current
  configuration was initiated by the events recorded in the CloudTrail log. For more
  information about CloudTrail, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/what_is_cloud_trail_top_level.html\">What
  Is AWS CloudTrail</a>.</p> <p>An empty field indicates that the current configuration
  was not initiated by any event.</p>\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RelationshipList\";s:11:\"description\";s:32:\"A
  list of related AWS resources.\";}s:20:\"resourceCreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ResourceCreationTime\";s:11:\"description\";s:45:\"The
  time stamp when the resource was created.\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:61:\"The
  ID of the resource (for example, <code>sg-xxxxxx</code>).\";}s:12:\"resourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:46:\"The
  custom name of the resource, if available.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:25:\"The
  type of AWS resource.\";}s:26:\"supplementaryConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/SupplementaryConfiguration\";s:11:\"description\";s:160:\"Configuration
  attributes that AWS Config returns for certain resource types to supplement the
  information returned for the <code>configuration</code> parameter.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:57:\"A
  mapping of key value tags associated with the resource.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:49:\"The
  version number of the resource configuration.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ConfigurationItemCaptureTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"ConfigurationItemList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ConfigurationItem\";}s:4:\"type\";s:5:\"array\";}s:24:\"ConfigurationItemMD5Hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"ConfigurationItemStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:2:\"OK\";i:1;s:18:\"ResourceDiscovered\";i:2;s:19:\"ResourceNotRecorded\";i:3;s:15:\"ResourceDeleted\";i:4;s:26:\"ResourceDeletedNotRecorded\";}s:4:\"type\";s:6:\"string\";}s:21:\"ConfigurationRecorder\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"An
  object that represents the recording of configuration changes of an AWS resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RecorderName\";s:11:\"description\";s:168:\"The
  name of the recorder. By default, AWS Config automatically assigns the name \"default\"
  when creating the configuration recorder. You cannot change the assigned name.\";}s:14:\"recordingGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RecordingGroup\";s:11:\"description\";s:88:\"Specifies
  the types of AWS resources for which AWS Config records configuration changes.\";}s:7:\"roleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:106:\"Amazon
  Resource Name (ARN) of the IAM role used to describe the AWS resources associated
  with the account.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ConfigurationRecorderList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ConfigurationRecorder\";}s:4:\"type\";s:5:\"array\";}s:29:\"ConfigurationRecorderNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RecorderName\";}s:4:\"type\";s:5:\"array\";}s:27:\"ConfigurationRecorderStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  current status of the configuration recorder.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"lastErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  error code indicating that the recording failed.\";}s:16:\"lastErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"The
  message indicating that the recording failed due to an error.\";}s:13:\"lastStartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:39:\"The
  time the recorder was last started.\";}s:10:\"lastStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RecorderStatus\";s:11:\"description\";s:43:\"The
  last (previous) status of the recorder.\";}s:20:\"lastStatusChangeTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:42:\"The
  time when the status was last changed.\";}s:12:\"lastStopTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:39:\"The
  time the recorder was last stopped.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  name of the configuration recorder.\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:61:\"Specifies
  whether or not the recorder is currently recording.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ConfigurationRecorderStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ConfigurationRecorderStatus\";}s:4:\"type\";s:5:\"array\";}s:20:\"ConfigurationStateId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:37:\"DeleteAggregationAuthorizationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"AuthorizedAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:68:\"The
  12-digit account ID of the account authorized to aggregate data.\";}s:19:\"AuthorizedAwsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:49:\"The
  region authorized to collect aggregated data.\";}}s:8:\"required\";a:2:{i:0;s:19:\"AuthorizedAccountId\";i:1;s:19:\"AuthorizedAwsRegion\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteConfigRuleRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"ConfigRuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/StringWithCharLimit64\";s:11:\"description\";s:56:\"The
  name of the AWS Config rule that you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:14:\"ConfigRuleName\";}s:4:\"type\";s:6:\"object\";}s:36:\"DeleteConfigurationAggregatorRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:27:\"ConfigurationAggregatorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ConfigurationAggregatorName\";s:11:\"description\";s:41:\"The
  name of the configuration aggregator.\";}}s:8:\"required\";a:1:{i:0;s:27:\"ConfigurationAggregatorName\";}s:4:\"type\";s:6:\"object\";}s:34:\"DeleteConfigurationRecorderRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"The
  request object for the <code>DeleteConfigurationRecorder</code> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:25:\"ConfigurationRecorderName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RecorderName\";s:11:\"description\";s:175:\"The
  name of the configuration recorder to be deleted. You can retrieve the name of your
  configuration recorder by using the <code>DescribeConfigurationRecorders</code>
  action.\";}}s:8:\"required\";a:1:{i:0;s:25:\"ConfigurationRecorderName\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteDeliveryChannelRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:110:\"The
  input for the <a>DeleteDeliveryChannel</a> action. The action accepts the following
  data, in JSON format. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"DeliveryChannelName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ChannelName\";s:11:\"description\";s:43:\"The
  name of the delivery channel to delete.\";}}s:8:\"required\";a:1:{i:0;s:19:\"DeliveryChannelName\";}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteEvaluationResultsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"ConfigRuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/StringWithCharLimit64\";s:11:\"description\";s:84:\"The
  name of the AWS Config rule for which you want to delete the evaluation results.\";}}s:8:\"required\";a:1:{i:0;s:14:\"ConfigRuleName\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteEvaluationResultsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  output when you delete the evaluation results for the specified AWS Config rule.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:38:\"DeletePendingAggregationRequestRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"RequesterAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:68:\"The
  12-digit account ID of the account requesting to aggregate data.\";}s:18:\"RequesterAwsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:40:\"The
  region requesting to aggregate data.\";}}s:8:\"required\";a:2:{i:0;s:18:\"RequesterAccountId\";i:1;s:18:\"RequesterAwsRegion\";}s:4:\"type\";s:6:\"object\";}s:35:\"DeleteRetentionConfigurationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"RetentionConfigurationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/RetentionConfigurationName\";s:11:\"description\";s:50:\"The
  name of the retention configuration to delete.\";}}s:8:\"required\";a:1:{i:0;s:26:\"RetentionConfigurationName\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeliverConfigSnapshotRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  input for the <a>DeliverConfigSnapshot</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"deliveryChannelName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ChannelName\";s:11:\"description\";s:73:\"The
  name of the delivery channel through which the snapshot is delivered.\";}}s:8:\"required\";a:1:{i:0;s:19:\"deliveryChannelName\";}s:4:\"type\";s:6:\"object\";}s:29:\"DeliverConfigSnapshotResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  output for the <a>DeliverConfigSnapshot</a> action, in JSON format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"configSnapshotId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"The
  ID of the snapshot that is being created.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DeliveryChannel\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  channel through which AWS Config delivers notifications and updated configuration
  states.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:32:\"configSnapshotDeliveryProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ConfigSnapshotDeliveryProperties\";s:11:\"description\";s:94:\"The
  options for how often AWS Config delivers configuration snapshots to the Amazon
  S3 bucket.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ChannelName\";s:11:\"description\";s:352:\"The
  name of the delivery channel. By default, AWS Config assigns the name \"default\"
  when creating the delivery channel. To change the delivery channel name, you must
  use the DeleteDeliveryChannel action to delete your current delivery channel, and
  then you must use the PutDeliveryChannel command to create a delivery channel that
  has the desired name.\";}s:12:\"s3BucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:459:\"<p>The
  name of the Amazon S3 bucket to which AWS Config delivers configuration snapshots
  and configuration history files.</p> <p>If you specify a bucket that belongs to
  another AWS account, that bucket must have policies that grant access permissions
  to AWS Config. For more information, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/s3-bucket-policy.html\">Permissions
  for the Amazon S3 Bucket</a> in the AWS Config Developer Guide.</p>\";}s:11:\"s3KeyPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"The
  prefix for the specified Amazon S3 bucket.\";}s:11:\"snsTopicARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:445:\"<p>The
  Amazon Resource Name (ARN) of the Amazon SNS topic to which AWS Config sends notifications
  about configuration changes.</p> <p>If you choose a topic from another account,
  the topic must have policies that grant access permissions to AWS Config. For more
  information, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/sns-topic-policy.html\">Permissions
  for the Amazon SNS Topic</a> in the AWS Config Developer Guide.</p>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeliveryChannelList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DeliveryChannel\";}s:4:\"type\";s:5:\"array\";}s:23:\"DeliveryChannelNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ChannelName\";}s:4:\"type\";s:5:\"array\";}s:21:\"DeliveryChannelStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"<p>The
  status of a specified delivery channel.</p> <p>Valid values: <code>Success</code>
  | <code>Failure</code> </p>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:25:\"configHistoryDeliveryInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ConfigExportDeliveryInfo\";s:11:\"description\";s:111:\"A
  list that contains the status of the delivery of the configuration history to the
  specified Amazon S3 bucket.\";}s:26:\"configSnapshotDeliveryInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ConfigExportDeliveryInfo\";s:11:\"description\";s:95:\"A
  list containing the status of the delivery of the snapshot to the specified Amazon
  S3 bucket.\";}s:24:\"configStreamDeliveryInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ConfigStreamDeliveryInfo\";s:11:\"description\";s:120:\"A
  list containing the status of the delivery of the configuration stream notification
  to the specified Amazon SNS topic.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"The
  name of the delivery channel.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DeliveryChannelStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryChannelStatus\";}s:4:\"type\";s:5:\"array\";}s:14:\"DeliveryStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"Success\";i:1;s:7:\"Failure\";i:2;s:14:\"Not_Applicable\";}s:4:\"type\";s:6:\"string\";}s:47:\"DescribeAggregateComplianceByConfigRulesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"ConfigurationAggregatorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ConfigurationAggregatorName\";s:11:\"description\";s:41:\"The
  name of the configuration aggregator.\";}s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ConfigRuleComplianceFilters\";s:11:\"description\";s:59:\"Filters
  the results by ConfigRuleComplianceFilters object. \";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/GroupByAPILimit\";s:11:\"description\";s:134:\"The
  maximum number of evaluation results returned on each page. The default is maximum.
  If you specify 0, AWS Config uses the default.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:8:\"required\";a:1:{i:0;s:27:\"ConfigurationAggregatorName\";}s:4:\"type\";s:6:\"object\";}s:48:\"DescribeAggregateComplianceByConfigRulesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:32:\"AggregateComplianceByConfigRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/AggregateComplianceByConfigRuleList\";s:11:\"description\";s:57:\"Returns
  a list of AggregateComplianceByConfigRule object.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"DescribeAggregationAuthorizationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:141:\"The
  maximum number of AggregationAuthorizations returned on each page. The default is
  maximum. If you specify 0, AWS Config uses the default.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:41:\"DescribeAggregationAuthorizationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:25:\"AggregationAuthorizations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AggregationAuthorizationList\";s:11:\"description\";s:84:\"Returns
  a list of authorizations granted to various aggregator accounts and regions.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeComplianceByConfigRuleRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ComplianceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComplianceTypes\";s:11:\"description\";s:159:\"<p>Filters
  the results by compliance.</p> <p>The allowed values are <code>COMPLIANT</code>,
  <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code>.</p>\";}s:15:\"ConfigRuleNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigRuleNames\";s:11:\"description\";s:72:\"Specify
  one or more AWS Config rule names to filter the results by rule.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:131:\"The
  <code>nextToken</code> string returned on a previous page that you use to get the
  next page of results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"DescribeComplianceByConfigRuleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"ComplianceByConfigRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ComplianceByConfigRules\";s:11:\"description\";s:70:\"Indicates
  whether each of the specified AWS Config rules is compliant.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:104:\"The
  string that you use in a subsequent request to get the next page of results in a
  paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeComplianceByResourceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"ComplianceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComplianceTypes\";s:11:\"description\";s:126:\"<p>Filters
  the results by compliance.</p> <p>The allowed values are <code>COMPLIANT</code>
  and <code>NON_COMPLIANT</code>.</p>\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:175:\"The
  maximum number of evaluation results returned on each page. The default is 10. You
  cannot specify a number greater than 100. If you specify 0, AWS Config uses the
  default.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:131:\"The
  <code>nextToken</code> string returned on a previous page that you use to get the
  next page of results in a paginated response.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BaseResourceId\";s:11:\"description\";s:197:\"The
  ID of the AWS resource for which you want compliance information. You can specify
  only one resource ID. If you specify a resource ID, you must also specify a type
  for <code>ResourceType</code>.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:233:\"The
  types of AWS resources for which you want compliance information (for example, <code>AWS::EC2::Instance</code>).
  For this action, you can specify that the resource type is an AWS account by specifying
  <code>AWS::::Account</code>.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeComplianceByResourceResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"ComplianceByResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ComplianceByResources\";s:11:\"description\";s:104:\"Indicates
  whether the specified AWS resource complies with all of the AWS Config rules that
  evaluate it.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:104:\"The
  string that you use in a subsequent request to get the next page of results in a
  paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:41:\"DescribeConfigRuleEvaluationStatusRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ConfigRuleNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigRuleNames\";s:11:\"description\";s:197:\"The
  name of the AWS managed Config rules for which you want status information. If you
  do not specify any names, AWS Config returns status information for all AWS managed
  Config rules that you use.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/RuleLimit\";s:11:\"description\";s:400:\"<p>The
  number of rule evaluation results that you want returned.</p> <p>This parameter
  is required if the rule limit for your account is more than the default of 50 rules.</p>
  <p>For information about requesting a rule limit increase, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_config\">AWS
  Config Limits</a> in the <i>AWS General Reference Guide</i>.</p>\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:131:\"The
  <code>nextToken</code> string returned on a previous page that you use to get the
  next page of results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:42:\"DescribeConfigRuleEvaluationStatusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:27:\"ConfigRulesEvaluationStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ConfigRuleEvaluationStatusList\";s:11:\"description\";s:55:\"Status
  information about your AWS managed Config rules.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:104:\"The
  string that you use in a subsequent request to get the next page of results in a
  paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeConfigRulesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ConfigRuleNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigRuleNames\";s:11:\"description\";s:141:\"The
  names of the AWS Config rules for which you want details. If you do not specify
  any names, AWS Config returns details for all your rules.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:131:\"The
  <code>nextToken</code> string returned on a previous page that you use to get the
  next page of results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeConfigRulesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ConfigRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ConfigRules\";s:11:\"description\";s:40:\"The
  details about your AWS Config rules.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:104:\"The
  string that you use in a subsequent request to get the next page of results in a
  paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:51:\"DescribeConfigurationAggregatorSourcesStatusRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"ConfigurationAggregatorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ConfigurationAggregatorName\";s:11:\"description\";s:41:\"The
  name of the configuration aggregator.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:138:\"The
  maximum number of AggregatorSourceStatus returned on each page. The default is maximum.
  If you specify 0, AWS Config uses the default.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}s:12:\"UpdateStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/AggregatedSourceStatusTypeList\";s:11:\"description\";s:280:\"<p>Filters
  the status type.</p> <ul> <li> <p>Valid value FAILED indicates errors while moving
  data.</p> </li> <li> <p>Valid value SUCCEEDED indicates the data was successfully
  moved.</p> </li> <li> <p>Valid value OUTDATED indicates the data is not the most
  recent.</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:27:\"ConfigurationAggregatorName\";}s:4:\"type\";s:6:\"object\";}s:52:\"DescribeConfigurationAggregatorSourcesStatusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"AggregatedSourceStatusList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/AggregatedSourceStatusList\";s:11:\"description\";s:42:\"Returns
  an AggregatedSourceStatus object. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"DescribeConfigurationAggregatorsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:28:\"ConfigurationAggregatorNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ConfigurationAggregatorNameList\";s:11:\"description\";s:42:\"The
  name of the configuration aggregators.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:141:\"The
  maximum number of configuration aggregators returned on each page. The default is
  maximum. If you specify 0, AWS Config uses the default.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"DescribeConfigurationAggregatorsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"ConfigurationAggregators\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ConfigurationAggregatorList\";s:11:\"description\";s:42:\"Returns
  a ConfigurationAggregators object.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:42:\"DescribeConfigurationRecorderStatusRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  input for the <a>DescribeConfigurationRecorderStatus</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"ConfigurationRecorderNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ConfigurationRecorderNameList\";s:11:\"description\";s:174:\"The
  name(s) of the configuration recorder. If the name is not specified, the action
  returns the current status of all the configuration recorders associated with the
  account.\";}}s:4:\"type\";s:6:\"object\";}s:43:\"DescribeConfigurationRecorderStatusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  output for the <a>DescribeConfigurationRecorderStatus</a> action, in JSON format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"ConfigurationRecordersStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ConfigurationRecorderStatusList\";s:11:\"description\";s:55:\"A
  list that contains status of the specified recorders.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeConfigurationRecordersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  input for the <a>DescribeConfigurationRecorders</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"ConfigurationRecorderNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ConfigurationRecorderNameList\";s:11:\"description\";s:39:\"A
  list of configuration recorder names.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"DescribeConfigurationRecordersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  output for the <a>DescribeConfigurationRecorders</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"ConfigurationRecorders\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ConfigurationRecorderList\";s:11:\"description\";s:79:\"A
  list that contains the descriptions of the specified configuration recorders.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeDeliveryChannelStatusRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  input for the <a>DeliveryChannelStatus</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"DeliveryChannelNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DeliveryChannelNameList\";s:11:\"description\";s:33:\"A
  list of delivery channel names.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeDeliveryChannelStatusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  output for the <a>DescribeDeliveryChannelStatus</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"DeliveryChannelsStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/DeliveryChannelStatusList\";s:11:\"description\";s:64:\"A
  list that contains the status of a specified delivery channel.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeDeliveryChannelsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  input for the <a>DescribeDeliveryChannels</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"DeliveryChannelNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DeliveryChannelNameList\";s:11:\"description\";s:33:\"A
  list of delivery channel names.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeDeliveryChannelsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  output for the <a>DescribeDeliveryChannels</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"DeliveryChannels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DeliveryChannelList\";s:11:\"description\";s:72:\"A
  list that contains the descriptions of the specified delivery channel.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"DescribePendingAggregationRequestsLimit\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:41:\"DescribePendingAggregationRequestsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/DescribePendingAggregationRequestsLimit\";s:11:\"description\";s:134:\"The
  maximum number of evaluation results returned on each page. The default is maximum.
  If you specify 0, AWS Config uses the default.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:42:\"DescribePendingAggregationRequestsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}s:26:\"PendingAggregationRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/PendingAggregationRequestList\";s:11:\"description\";s:44:\"Returns
  a PendingAggregationRequests object.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"DescribeRetentionConfigurationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:132:\"The
  <code>nextToken</code> string returned on a previous page that you use to get the
  next page of results in a paginated response. \";}s:27:\"RetentionConfigurationNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/RetentionConfigurationNameList\";s:11:\"description\";s:304:\"<p>A
  list of names of retention configurations for which you want details. If you do
  not specify a name, AWS Config returns details for all the retention configurations
  for that account.</p> <note> <p>Currently, AWS Config supports only one retention
  configuration per region in your account.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:39:\"DescribeRetentionConfigurationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:132:\"The
  <code>nextToken</code> string returned on a previous page that you use to get the
  next page of results in a paginated response. \";}s:23:\"RetentionConfigurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/RetentionConfigurationList\";s:11:\"description\";s:41:\"Returns
  a retention configuration object.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"EarlierTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:31:\"EmptiableStringWithCharLimit256\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:10:\"Evaluation\";O:8:\"stdClass\":4:{s:11:\"description\";s:116:\"Identifies
  an AWS resource and indicates whether it complies with the AWS Config rule that
  it was evaluated against.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"Annotation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:77:\"Supplementary
  information about how the evaluation determined the compliance.\";}s:20:\"ComplianceResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BaseResourceId\";s:11:\"description\";s:46:\"The
  ID of the AWS resource that was evaluated.\";}s:22:\"ComplianceResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:44:\"The
  type of AWS resource that was evaluated.\";}s:14:\"ComplianceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ComplianceType\";s:11:\"description\";s:663:\"<p>Indicates
  whether the AWS resource complies with the AWS Config rule that it was evaluated
  against.</p> <p>For the <code>Evaluation</code> data type, AWS Config supports only
  the <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>NOT_APPLICABLE</code>
  values. AWS Config does not support the <code>INSUFFICIENT_DATA</code> value for
  this data type.</p> <p>Similarly, AWS Config does not accept <code>INSUFFICIENT_DATA</code>
  as the value for <code>ComplianceType</code> from a <code>PutEvaluations</code>
  request. For example, an AWS Lambda function for a custom AWS Config rule cannot
  pass an <code>INSUFFICIENT_DATA</code> value to AWS Config.</p>\";}s:17:\"OrderingTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/OrderingTimestamp\";s:11:\"description\";s:345:\"The
  time of the event in AWS Config that triggered the evaluation. For event-based evaluations,
  the time indicates when AWS Config created the configuration item that triggered
  the evaluation. For periodic evaluations, the time indicates when AWS Config triggered
  the evaluation at the frequency that you specified (for example, every 24 hours).\";}}s:8:\"required\";a:4:{i:0;s:22:\"ComplianceResourceType\";i:1;s:20:\"ComplianceResourceId\";i:2;s:14:\"ComplianceType\";i:3;s:17:\"OrderingTimestamp\";}s:4:\"type\";s:6:\"object\";}s:16:\"EvaluationResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"The
  details of an AWS Config evaluation. Provides the AWS resource that was evaluated,
  the compliance of the resource, related time stamps, and supplementary information.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"Annotation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:77:\"Supplementary
  information about how the evaluation determined the compliance.\";}s:14:\"ComplianceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ComplianceType\";s:11:\"description\";s:389:\"<p>Indicates
  whether the AWS resource complies with the AWS Config rule that evaluated it.</p>
  <p>For the <code>EvaluationResult</code> data type, AWS Config supports only the
  <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>NOT_APPLICABLE</code>
  values. AWS Config does not support the <code>INSUFFICIENT_DATA</code> value for
  the <code>EvaluationResult</code> data type.</p>\";}s:21:\"ConfigRuleInvokedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:61:\"The
  time when the AWS Config rule evaluated the AWS resource.\";}s:26:\"EvaluationResultIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/EvaluationResultIdentifier\";s:11:\"description\";s:42:\"Uniquely
  identifies the evaluation result.\";}s:18:\"ResultRecordedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:56:\"The
  time when AWS Config recorded the evaluation result.\";}s:11:\"ResultToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:183:\"An
  encrypted token that associates an evaluation with an AWS Config rule. The token
  identifies the rule, the AWS resource being evaluated, and the event that triggered
  the evaluation.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"EvaluationResultIdentifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Uniquely
  identifies an evaluation result.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:25:\"EvaluationResultQualifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/EvaluationResultQualifier\";s:11:\"description\";s:119:\"Identifies
  an AWS Config rule used to evaluate an AWS resource, and provides the type and ID
  of the evaluated resource.\";}s:17:\"OrderingTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:288:\"The
  time of the event that triggered the evaluation of your AWS resources. The time
  can indicate when AWS Config delivered a configuration item change notification,
  or it can indicate when AWS Config delivered the configuration snapshot, depending
  on which event triggered the evaluation.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"EvaluationResultQualifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Identifies
  an AWS Config rule that evaluated an AWS resource, and provides the type and ID
  of the resource that the rule evaluated.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"ConfigRuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/StringWithCharLimit64\";s:11:\"description\";s:64:\"The
  name of the AWS Config rule that was used in the evaluation.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BaseResourceId\";s:11:\"description\";s:37:\"The
  ID of the evaluated AWS resource.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:44:\"The
  type of AWS resource that was evaluated.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"EvaluationResults\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EvaluationResult\";}s:4:\"type\";s:5:\"array\";}s:11:\"Evaluations\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Evaluation\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:11:\"EventSource\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:10:\"aws.config\";}s:4:\"type\";s:6:\"string\";}s:48:\"GetAggregateComplianceDetailsByConfigRuleRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:46:\"The
  12-digit account ID of the source account.\";}s:9:\"AwsRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsRegion\";s:11:\"description\";s:52:\"The
  source region from where the data is aggregated.\";}s:14:\"ComplianceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ComplianceType\";s:11:\"description\";s:328:\"<p>The
  resource compliance status.</p> <note> <p>For the <code>GetAggregateComplianceDetailsByConfigRuleRequest</code>
  data type, AWS Config supports only the <code>COMPLIANT</code> and <code>NON_COMPLIANT</code>.
  AWS Config does not support the <code>NOT_APPLICABLE</code> and <code>INSUFFICIENT_DATA</code>
  values.</p> </note>\";}s:14:\"ConfigRuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConfigRuleName\";s:11:\"description\";s:74:\"The
  name of the AWS Config rule for which you want compliance information.\";}s:27:\"ConfigurationAggregatorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ConfigurationAggregatorName\";s:11:\"description\";s:41:\"The
  name of the configuration aggregator.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:175:\"The
  maximum number of evaluation results returned on each page. The default is 50. You
  cannot specify a number greater than 100. If you specify 0, AWS Config uses the
  default.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:8:\"required\";a:4:{i:0;s:27:\"ConfigurationAggregatorName\";i:1;s:14:\"ConfigRuleName\";i:2;s:9:\"AccountId\";i:3;s:9:\"AwsRegion\";}s:4:\"type\";s:6:\"object\";}s:49:\"GetAggregateComplianceDetailsByConfigRuleResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"AggregateEvaluationResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/AggregateEvaluationResultList\";s:11:\"description\";s:45:\"Returns
  an AggregateEvaluationResults object.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:46:\"GetAggregateConfigRuleComplianceSummaryRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:27:\"ConfigurationAggregatorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ConfigurationAggregatorName\";s:11:\"description\";s:41:\"The
  name of the configuration aggregator.\";}s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/ConfigRuleComplianceSummaryFilters\";s:11:\"description\";s:75:\"Filters
  the results based on the ConfigRuleComplianceSummaryFilters object.\";}s:10:\"GroupByKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/ConfigRuleComplianceSummaryGroupKey\";s:11:\"description\";s:52:\"Groups
  the result based on ACCOUNT_ID or AWS_REGION.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/GroupByAPILimit\";s:11:\"description\";s:178:\"The
  maximum number of evaluation results returned on each page. The default is 1000.
  You cannot specify a number greater than 1000. If you specify 0, AWS Config uses
  the default.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:8:\"required\";a:1:{i:0;s:27:\"ConfigurationAggregatorName\";}s:4:\"type\";s:6:\"object\";}s:47:\"GetAggregateConfigRuleComplianceSummaryResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:25:\"AggregateComplianceCounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AggregateComplianceCountList\";s:11:\"description\";s:51:\"Returns
  a list of AggregateComplianceCounts object.\";}s:10:\"GroupByKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:52:\"Groups
  the result based on ACCOUNT_ID or AWS_REGION.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:118:\"The
  nextToken string returned on a previous page that you use to get the next page of
  results in a paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GetComplianceDetailsByConfigRuleRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"ComplianceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComplianceTypes\";s:11:\"description\";s:156:\"<p>Filters
  the results by compliance.</p> <p>The allowed values are <code>COMPLIANT</code>,
  <code>NON_COMPLIANT</code>, and <code>NOT_APPLICABLE</code>.</p>\";}s:14:\"ConfigRuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/StringWithCharLimit64\";s:11:\"description\";s:74:\"The
  name of the AWS Config rule for which you want compliance information.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:175:\"The
  maximum number of evaluation results returned on each page. The default is 10. You
  cannot specify a number greater than 100. If you specify 0, AWS Config uses the
  default.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:131:\"The
  <code>nextToken</code> string returned on a previous page that you use to get the
  next page of results in a paginated response.\";}}s:8:\"required\";a:1:{i:0;s:14:\"ConfigRuleName\";}s:4:\"type\";s:6:\"object\";}s:40:\"GetComplianceDetailsByConfigRuleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"EvaluationResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EvaluationResults\";s:11:\"description\";s:79:\"Indicates
  whether the AWS resource complies with the specified AWS Config rule.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:104:\"The
  string that you use in a subsequent request to get the next page of results in a
  paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GetComplianceDetailsByResourceRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"ComplianceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComplianceTypes\";s:11:\"description\";s:156:\"<p>Filters
  the results by compliance.</p> <p>The allowed values are <code>COMPLIANT</code>,
  <code>NON_COMPLIANT</code>, and <code>NOT_APPLICABLE</code>.</p>\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:131:\"The
  <code>nextToken</code> string returned on a previous page that you use to get the
  next page of results in a paginated response.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BaseResourceId\";s:11:\"description\";s:69:\"The
  ID of the AWS resource for which you want compliance information.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StringWithCharLimit256\";s:11:\"description\";s:71:\"The
  type of the AWS resource for which you want compliance information.\";}}s:8:\"required\";a:2:{i:0;s:12:\"ResourceType\";i:1;s:10:\"ResourceId\";}s:4:\"type\";s:6:\"object\";}s:38:\"GetComplianceDetailsByResourceResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"EvaluationResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EvaluationResults\";s:11:\"description\";s:75:\"Indicates
  whether the specified AWS resource complies each AWS Config rule.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:104:\"The
  string that you use in a subsequent request to get the next page of results in a
  paginated response.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"GetComplianceSummaryByConfigRuleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"ComplianceSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ComplianceSummary\";s:11:\"description\";s:119:\"The
  number of AWS Config rules that are compliant and the number that are noncompliant,
  up to a maximum of 25 for each.\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GetComplianceSummaryByResourceTypeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ResourceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceTypes\";s:11:\"description\";s:355:\"<p>Specify
  one or more resource types to get the number of resources that are compliant and
  the number that are noncompliant for each resource type.</p> <p>For this request,
  you can specify an AWS resource type such as <code>AWS::EC2::Instance</code>. You
  can specify that the resource type is an AWS account by specifying <code>AWS::::Account</code>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GetComplianceSummaryByResourceTypeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:33:\"ComplianceSummariesByResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/ComplianceSummariesByResourceType\";s:11:\"description\";s:227:\"The
  number of resources that are compliant and the number that are noncompliant. If
  one or more resource types were provided with the request, the numbers are returned
  for each resource type. The maximum number returned is 100.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"GetDiscoveredResourceCountsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:186:\"The
  maximum number of <a>ResourceCount</a> objects returned on each page. The default
  is 100. You cannot specify a number greater than 100. If you specify 0, AWS Config
  uses the default.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:131:\"The
  <code>nextToken</code> string returned on a previous page that you use to get the
  next page of results in a paginated response.\";}s:13:\"resourceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceTypes\";s:11:\"description\";s:659:\"<p>The
  comma-separated list that specifies the resource types that you want AWS Config
  to return (for example, <code>\"AWS::EC2::Instance\"</code>, <code>\"AWS::IAM::User\"</code>).</p>
  <p>If a value for <code>resourceTypes</code> is not specified, AWS Config returns
  all resource types that AWS Config is recording in the region for your account.</p>
  <note> <p>If the configuration recorder is turned off, AWS Config returns an empty
  list of <a>ResourceCount</a> objects. If the configuration recorder is not recording
  a specific resource type (for example, S3 buckets), that resource type is not returned
  in the list of <a>ResourceCount</a> objects.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:35:\"GetDiscoveredResourceCountsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:104:\"The
  string that you use in a subsequent request to get the next page of results in a
  paginated response.\";}s:14:\"resourceCounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ResourceCounts\";s:11:\"description\";s:117:\"The
  list of <code>ResourceCount</code> objects. Each object is listed in descending
  order by the number of resources.\";}s:24:\"totalDiscoveredResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:717:\"<p>The
  total number of resources that AWS Config is recording in the region for your account.
  If you specify resource types in the request, AWS Config returns only the total
  number of resources for those resource types.</p> <p class=\"title\"> <b>Example</b>
  </p> <ol> <li> <p>AWS Config is recording three resource types in the US East (Ohio)
  Region for your account: 25 EC2 instances, 20 IAM users, and 15 S3 buckets, for
  a total of 60 resources.</p> </li> <li> <p>You make a call to the <code>GetDiscoveredResourceCounts</code>
  action and specify the resource type, <code>\"AWS::EC2::Instances\"</code>, in the
  request.</p> </li> <li> <p>AWS Config returns 25 for <code>totalDiscoveredResources</code>.</p>
  </li> </ol>\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GetResourceConfigHistoryRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  input for the <a>GetResourceConfigHistory</a> action.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"chronologicalOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ChronologicalOrder\";s:11:\"description\";s:122:\"The
  chronological order for configuration items listed. By default, the results are
  listed in reverse chronological order.\";}s:11:\"earlierTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EarlierTime\";s:11:\"description\";s:193:\"The
  time stamp that indicates an earlier time. If not specified, the action returns
  paginated results that contain configuration items that start when the first configuration
  item was recorded.\";}s:9:\"laterTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LaterTime\";s:11:\"description\";s:84:\"The
  time stamp that indicates a later time. If not specified, current time is taken.\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:176:\"The
[...]
