---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:18:\"contact@1forge.com\";s:4:\"name\";s:6:\"1Forge\";s:3:\"url\";s:17:\"http://1forge.com\";}s:11:\"description\";s:40:\"Stock
  and Forex Data and Realtime Quotes\";s:5:\"title\";s:19:\"1Forge Finance APIs\";s:7:\"version\";s:5:\"0.0.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"financial\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#24292e\";s:3:\"url\";s:26:\"http://1forge.com/logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:30:\"http://1forge.com/openapi.json\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:10:\"1forge.com\";s:11:\"x-preferred\";b:1;}"
host: 1forge.com
basePath: /forex-quotes
paths:
  /quotes:
    get:
      description: Get quotes
      externalDocs:
        description: Find out more
        url: http://1forge.com/forex-data-api
      responses:
        200:
          description: A list of quotes
      summary: Get quotes for all symbols
      tags:
      - forex
      - finance
      - quotes
  /symbols:
    get:
      description: Symbol List
      externalDocs:
        description: Find out more
        url: http://1forge.com/forex-data-api
      responses:
        200:
          description: A list of symbols
          schema:
            example:
            - EURUSD
            - GBPJPY
            - AUDUSD
            items:
              type: string
            type: array
      summary: Get a list of symbols for which we provide real-time quotes
      tags:
      - forex
      - finance
      - quotes
produces:
- application/json
schemes:
- https
- http
...
