---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"Sylius Shop API
  documentation\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:15:\"Sylius Shop API\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:27:\"lukasz.chrusciel@sylius.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}}"
host: demo.sylius.org
basePath: /shop-api
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":33:{s:8:\"CartItem\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"CartItem\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:63:\"Cart
  item with calculated prices, quantity and related product.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2;}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";i:1000;}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}}s:4:\"Cart\";O:8:\"stdClass\":4:{s:5:\"title\";s:4:\"Cart\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:66:\"Cart
  with information about items, current state, totals and more.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"tokenValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"SDAOSLEFNWU35H3QLI5325\";}s:7:\"channel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"WEB_GB\";s:12:\"externalDocs\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Find
  out more about channels in the Sylius documentation.\";s:3:\"url\";s:65:\"http://docs.sylius.org/en/latest/book/configuration/channels.html\";}}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Code
  of the cart currency according to ISO 4217. This value is inherited from channel\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"GBP\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Code
  of the cart locale. This value is inherited from channel\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"en_GB\";}s:13:\"checkoutState\";O:8:\"stdClass\":5:{s:11:\"description\";s:28:\"Current
  state of a checkout.\";s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"cart\";s:12:\"externalDocs\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Find
  out more about checkout states in the Sylius documentation.\";s:3:\"url\";s:81:\"http://docs.sylius.org/en/latest/book/orders/checkout.html#checkout-state-machine\";}s:4:\"enum\";a:5:{i:0;s:4:\"cart\";i:1;s:9:\"addressed\";i:2;s:17:\"shipping_selected\";i:3;s:16:\"payment_selected\";i:4;s:9:\"completed\";}}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/CartItem\";}}s:6:\"totals\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Total
  cost of the cart. The sum of all properties below.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Total
  cost of the cart items.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:5:\"taxes\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Total
  amount of cart taxes.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:8:\"shipping\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Total
  cost of the cart shipment.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:9:\"promotion\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Total
  amount of cart promotions.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}}}s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:14:\"billingAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:8:\"payments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:27:\"Current
  state of a payment.\";s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"cart\";s:12:\"externalDocs\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Find
  out more about payment states in the Sylius documentation.\";s:3:\"url\";s:80:\"http://docs.sylius.org/en/latest/book/orders/payments.html#payment-state-machine\";}s:4:\"enum\";a:7:{i:0;s:4:\"cart\";i:1;s:3:\"new\";i:2;s:10:\"processing\";i:3;s:9:\"completed\";i:4;s:6:\"failed\";i:5;s:9:\"cancelled\";i:6;s:8:\"refunded\";}}s:6:\"method\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:27:\"#/definitions/PaymentMethod\";}}}}s:9:\"shipments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:28:\"Current
  state of a shipment.\";s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"cart\";s:12:\"externalDocs\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Find
  out more about shipment states in the Sylius documentation.\";s:3:\"url\";s:86:\"http://docs.sylius.org/en/latest/book/orders/shipments.html#the-shipment-state-machine\";}s:4:\"enum\";a:4:{i:0;s:4:\"cart\";i:1;s:5:\"ready\";i:2;s:9:\"cancelled\";i:3;s:7:\"shipped\";}}s:6:\"method\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:28:\"#/definitions/ShippingMethod\";}}}}s:13:\"cartDiscounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:22:\"#/definitions/Discount\";}}}}}}s:25:\"ChangeItemQuantityRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:25:\"ChangeItemQuantityRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:51:\"Body
  of request used to change quantity of an item.\";s:8:\"required\";a:1:{i:0;s:8:\"quantity\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2;}}}s:21:\"PutItemsToCartRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"PutItemsToCartRequest\";s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"Body
  of request used to put item to the cart.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:34:\"#/definitions/PutItemToCartRequest\";}}s:20:\"PutItemToCartRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:20:\"PutItemToCartRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:45:\"Body
  of request used to put item to the cart.\";s:8:\"required\";a:1:{i:0;s:11:\"productCode\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"LOGAN_HAT_CODE\";}s:8:\"quantity\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"example\";i:3;s:7:\"default\";i:1;}s:11:\"variantCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"SMALL_LOGAN_T_SHIRT_CODE\";}s:7:\"options\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:79:\"Keys
  reference to the code of an option and values to the code of option value.\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"HAT_SIZE_S\";}}}}s:17:\"PickupCartRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:17:\"PickupCartRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:36:\"Body
  of request with a channel code.\";s:8:\"required\";a:1:{i:0;s:7:\"channel\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"channel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"WEB_GB\";}}}s:16:\"AddReviewRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:16:\"AddReviewRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:36:\"Body
  of request with a channel code.\";s:8:\"required\";a:5:{i:0;s:11:\"channelCode\";i:1;s:5:\"title\";i:2;s:6:\"rating\";i:3;s:7:\"comment\";i:4;s:5:\"email\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"channelCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"WEB_GB\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Awesome
  product\";}s:6:\"rating\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:5;}s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:50:\"If
  I were a mug, I would like to be like this one!\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Email
  of an author.\";s:7:\"example\";s:20:\"customer@example.com\";}}}s:7:\"Product\";O:8:\"stdClass\":4:{s:5:\"title\";s:7:\"Product\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:81:\"Product
  with its basic information, variants, attributes, association and images.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"LOGAN_MUG_CODE\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Logan
  Mug\";}s:4:\"slug\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"logan-mug\";}s:13:\"averageRating\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";d:4.5;}s:6:\"taxons\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProductTaxon\";}s:8:\"variants\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Keys
  reference to code of a variant.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Variant\";}}}s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Attribute\";}}s:12:\"associations\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Keys
  reference to code of an association.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}}s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}}}s:7:\"Variant\";O:8:\"stdClass\":4:{s:5:\"title\";s:7:\"Variant\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:157:\"If
  the product is simple it will have only one variant with the same code and name.
  Otherwise, the product can have a list of variants with different fields.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"LOGAN_MUG_CODE\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Logan
  Mug\";}s:4:\"axis\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:44:\"List
  of codes of associated product options.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"HAT_SIZE_S\";}}s:8:\"nameAxis\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Map
  of keys from previous field to translated values of given variant.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}}}s:9:\"Attribute\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"Attribute\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"MUG_MATERIAL_CODE\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Mug
  material\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Wood\";}}}s:5:\"Taxon\";O:8:\"stdClass\":3:{s:5:\"title\";s:5:\"Taxon\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"CATEGORIES_CODE\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Categories\";}s:4:\"slug\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"categories\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:34:\"General
  category for all products.\";}s:8:\"children\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:160:\"Based
  on this tree one can build a breadcrumb on a frontend. Otherwise (e.g. presenting
  a tree of all taxons) children will contain all children of given taxon.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Taxon\";}}s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}}}s:12:\"TaxonDetails\";O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"TaxonDetails\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Taxon\";}s:10:\"parentTree\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Taxon\";}}}s:12:\"ProductTaxon\";O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"ProductTaxon\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"main\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"MAIN_TAXON_CODE\";}s:6:\"others\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"OTHER_TAXON_CODE\";}}}}s:12:\"ProductsPage\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"ProductsPage\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}}}}}s:18:\"ProductReviewsPage\";O:8:\"stdClass\":2:{s:5:\"title\";s:18:\"ProductReviewsPage\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Nice
  mug\";}s:6:\"rating\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:5;}s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"It
  is a really nice mug.\";}s:6:\"author\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"example@shop.com\";}}}}}s:14:\"ProductDetails\";O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"ProductDetails\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"breadcrumb\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"categories/mugs/logan-mug\";}}}}}s:8:\"Discount\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Discount\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Name
  of promotion.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Summer sale\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}}}s:5:\"Price\";O:8:\"stdClass\":3:{s:5:\"title\";s:5:\"Price\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"current\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Calculated
  price for given channel. Price is stored as an integer, so by default it should
  be divided by 100.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1000;}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"PLN\";}}}s:16:\"AddCouponRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:16:\"AddCouponRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:58:\"Body
  of request used to add promotion coupon code to cart.\";s:8:\"required\";a:1:{i:0;s:6:\"coupon\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"coupon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"BANANAS\";}}}s:22:\"CheckoutAddressRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:22:\"CheckoutAddressRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:41:\"Body
  of request used for cart addressing.\";s:8:\"required\";a:1:{i:0;s:15:\"shippingAddress\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:14:\"billingAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}}}s:23:\"AvailablePaymentMethods\";O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"AvailablePaymentMethods\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:43:\"Available
  payment methods for each payment.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"payments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"methods\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:27:\"#/definitions/PaymentMethod\";}}}}}}}s:24:\"AvailableShippingMethods\";O:8:\"stdClass\":4:{s:5:\"title\";s:24:\"AvailableShippingMethods\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:45:\"Available
  shipping methods for each shipment.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"shipments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"methods\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:28:\"#/definitions/ShippingMethod\";}}}}}}s:34:\"CheckoutChoosePaymentMethodRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:34:\"CheckoutChoosePaymentMethodRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"Body
  of request used to choose payment method.\";s:8:\"required\";a:1:{i:0;s:6:\"method\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Code
  of chosen payment method.\";s:7:\"example\";s:3:\"PBC\";}}}s:35:\"CheckoutChooseShippingMethodRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:35:\"CheckoutChooseShippingMethodRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:47:\"Body
  of request used to choose shipping method.\";s:8:\"required\";a:1:{i:0;s:6:\"method\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Code
  of chosen shipping method.\";s:7:\"example\";s:3:\"DHL\";}}}s:23:\"CheckoutCompleteRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:23:\"CheckoutCompleteRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:42:\"Body
  of request used to complete checkout.\";s:8:\"required\";a:1:{i:0;s:5:\"email\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Email
  of a customer.\";s:7:\"example\";s:20:\"customer@example.com\";}s:5:\"notes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Additional
  notes.\";s:7:\"example\";s:38:\"I'm only available between 3 and 8 PM.\";}}}s:7:\"Address\";O:8:\"stdClass\":3:{s:5:\"title\";s:7:\"Address\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Sherlock\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Holmes\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"GB\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Baker
  Street 221b\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"London\";}s:8:\"postcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"NW1\";}s:12:\"provinceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Greater
  London\";}}}s:13:\"PaymentMethod\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"PaymentMethod\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"PBC\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Pay
  by check\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"Some
  strange description.\";}}}s:14:\"ShippingMethod\";O:8:\"stdClass\":3:{s:5:\"title\";s:14:\"ShippingMethod\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"DHL\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"DHL
  Delivery\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:52:\"DHL
  Delivery will deliver your parcel even next day!\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}}}s:24:\"RequestPasswordResetting\";O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"RequestPasswordResetting\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"test@example.com\";}}}s:23:\"LoggedInCustomerDetails\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"LoggedInCustomerDetails\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Sherlock\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Holmes\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"sherlock@holmes.com\";}}}s:12:\"GeneralError\";O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"GeneralError\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:400;}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Validation
  failed\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Keys reference
  to the fields where the error occurred.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:39:\"sylius.shop_api.additionalProp.not_null\";}}}}}s:4:\"Page\";O:8:\"stdClass\":4:{s:5:\"title\";s:4:\"Page\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:20:\"Generic
  page object.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Current
  page number.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Number
  of items per page.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:10;}s:5:\"pages\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Number
  of available pages for given limit.\";s:4:\"type\";s:6:\"object\";s:7:\"example\";i:3;}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Amount
  of all paginated resources.\";s:4:\"type\";s:6:\"object\";s:7:\"example\";i:25;}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"self\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Link
  to the current page.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:35:\"/shop-api/some-path?page=1&limit=10\";}s:5:\"first\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Link
  to the fist page.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:35:\"/shop-api/some-path?page=1&limit=10\";}s:4:\"last\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Link
  to the last page.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:35:\"/shop-api/some-path?page=1&limit=10\";}s:4:\"next\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Link
  to the next page.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:35:\"/shop-api/some-path?page=1&limit=10\";}}}}}s:5:\"Image\";O:8:\"stdClass\":3:{s:5:\"title\";s:5:\"Image\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"thumbnail\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"/uo/mug.jpg\";}}}}"
...
