---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:2304:\"<fullname>AWS
  OpsWorks CM</fullname> <p> AWS OpsWorks for configuration management (CM) is a service
  that runs and manages configuration management servers. </p> <p> <b>Glossary of
  terms</b> </p> <ul> <li> <p> <b>Server</b>: A configuration management server that
  can be highly-available. The configuration management server runs on an Amazon Elastic
  Compute Cloud (EC2) instance, and may use various other AWS services, such as Amazon
  Relational Database Service (RDS) and Elastic Load Balancing. A server is a generic
  abstraction over the configuration manager that you want to use, much like Amazon
  RDS. In AWS OpsWorks CM, you do not start or stop servers. After you create servers,
  they continue to run until they are deleted.</p> </li> <li> <p> <b>Engine</b>: The
  engine is the specific configuration manager that you want to use. Valid values
  in this release include <code>Chef</code> and <code>Puppet</code>.</p> </li> <li>
  <p> <b>Backup</b>: This is an application-level backup of the data that the configuration
  manager stores. AWS OpsWorks CM creates an S3 bucket for backups when you launch
  the first server. A backup maintains a snapshot of a server's configuration-related
  attributes at the time the backup starts.</p> </li> <li> <p> <b>Events</b>: Events
  are always related to a server. Events are written during server creation, when
  health checks run, when backups are created, when system maintenance is performed,
  etc. When you delete a server, the server's events are also deleted.</p> </li> <li>
  <p> <b>Account attributes</b>: Every account has attributes that are assigned in
  the AWS OpsWorks CM database. These attributes store information about configuration
  limits (servers, backups, etc.) and your customer account. </p> </li> </ul> <p>
  <b>Endpoints</b> </p> <p>AWS OpsWorks CM supports the following endpoints, all HTTPS.
  You must connect to one of the following endpoints. Your servers can only be accessed
  or managed within the endpoint in which they are created.</p> <ul> <li> <p>opsworks-cm.us-east-1.amazonaws.com</p>
  </li> <li> <p>opsworks-cm.us-west-2.amazonaws.com</p> </li> <li> <p>opsworks-cm.eu-west-1.amazonaws.com</p>
  </li> </ul> <p> <b>Throttling limits</b> </p> <p>All API operations allow for five
  requests per second with a burst of 10 requests per second.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:30:\"AWS
  OpsWorks for Chef Automate\";s:7:\"version\";s:10:\"2016-11-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/opsworkscm-2016-11-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"opsworkscm\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"amazonaws_opsworks_cm\";s:4:\"type\";s:7:\"openapi\";}}"
host: opsworks-cm.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":71:{s:16:\"AccountAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Stores
  account attributes. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Maximum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:28:\"
  The maximum allowed value. \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:420:\"<p>
  The attribute name. The following are supported attribute names. </p> <ul> <li>
  <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers
  allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i>
  The number of current manual backups/maximum number of backups allowed. By default,
  you can have a maximum of 50 manual backups saved. </p> </li> </ul>\";}s:4:\"Used\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:96:\"
  The current usage, such as the current number of servers that are associated with
  the account. \";}}s:4:\"type\";s:6:\"object\";}s:17:\"AccountAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"
  A list of individual account attributes. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AccountAttribute\";}s:4:\"type\";s:5:\"array\";}s:20:\"AssociateNodeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"EngineAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EngineAttributes\";s:11:\"description\";s:728:\"<p>Engine
  attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes
  accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>:
  The Chef organization with which the node is associated. By default only one organization
  named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>:
  A PEM-formatted public key. This key is required for the <code>chef-client</code>
  agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes
  accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>:
  A PEM-formatted certificate-signing request (CSR) that is created by the node. </p>
  </li> </ul>\";}s:8:\"NodeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NodeName\";s:11:\"description\";s:22:\"The
  name of the node. \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:57:\"The
  name of the server with which to associate the node. \";}}s:8:\"required\";a:3:{i:0;s:10:\"ServerName\";i:1;s:8:\"NodeName\";i:2;s:16:\"EngineAttributes\";}s:4:\"type\";s:6:\"object\";}s:21:\"AssociateNodeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"NodeAssociationStatusToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/NodeAssociationStatusToken\";s:11:\"description\";s:142:\"Contains
  a token which can be passed to the <code>DescribeNodeAssociationStatus</code> API
  call to get the status of the association request. \";}}s:4:\"type\";s:6:\"object\";}s:13:\"AttributeName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[A-Z][A-Z0-9_]*\";s:4:\"type\";s:6:\"string\";}s:14:\"AttributeValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Backup\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Describes
  a single backup. \";s:10:\"properties\";O:8:\"stdClass\":24:{s:9:\"BackupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"The
  ARN of the backup. \";}s:8:\"BackupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BackupId\";s:11:\"description\";s:86:\"
  The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code>
  \";}s:10:\"BackupType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BackupType\";s:11:\"description\";s:82:\"
  The backup type. Valid values are <code>automated</code> or <code>manual</code>.
  \";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:108:\"
  The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code>
  \";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:93:\"
  A user-provided description for a manual backup. This field is empty for automated
  backups. \";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:78:\"
  The engine type that is obtained from the server when the backup is created. \";}s:11:\"EngineModel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:79:\"
  The engine model that is obtained from the server when the backup is created. \";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:81:\"
  The engine version that is obtained from the server when the backup is created.
  \";}s:18:\"InstanceProfileArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:207:\"
  The EC2 instance profile ARN that is obtained from the server when the backup is
  created. Because this value is stored, you are not required to provide the InstanceProfileArn
  again if you restore a backup. \";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"
  The instance type that is obtained from the server when the backup is created. \";}s:7:\"KeyPair\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:75:\"
  The key pair that is obtained from the server when the backup is created. \";}s:21:\"PreferredBackupWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TimeWindowDefinition\";s:11:\"description\";s:90:\"
  The preferred backup period that is obtained from the server when the backup is
  created. \";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TimeWindowDefinition\";s:11:\"description\";s:95:\"
  The preferred maintenance period that is obtained from the server when the backup
  is created. \";}s:10:\"S3DataSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:49:\"
  This field is deprecated and is no longer used. \";}s:9:\"S3DataUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"
  This field is deprecated and is no longer used. \";}s:8:\"S3LogUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"
  The Amazon S3 URL of the backup's log file. \";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:86:\"
  The security group IDs that are obtained from the server when the backup is created.
  \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:56:\"
  The name of the server from which the backup was made. \";}s:14:\"ServiceRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:83:\"
  The service role ARN that is obtained from the server when the backup is created.
  \";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BackupStatus\";s:11:\"description\";s:42:\"The
  status of a backup while in progress. \";}s:17:\"StatusDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"
  An informational message about backup status. \";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:78:\"
  The subnet IDs that are obtained from the server when the backup is created. \";}s:12:\"ToolsVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:108:\"
  The version of AWS OpsWorks CM-specific tools that is obtained from the server when
  the backup is created. \";}s:7:\"UserArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:98:\"
  The IAM user ARN of the requester for manual backups. This field is empty for automated
  backups. \";}}s:4:\"type\";s:6:\"object\";}s:8:\"BackupId\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:79;s:4:\"type\";s:6:\"string\";}s:30:\"BackupRetentionCountDefinition\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:12:\"BackupStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"IN_PROGRESS\";i:1;s:2:\"OK\";i:2;s:6:\"FAILED\";i:3;s:8:\"DELETING\";}s:4:\"type\";s:6:\"string\";}s:10:\"BackupType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"AUTOMATED\";i:1;s:6:\"MANUAL\";}s:4:\"type\";s:6:\"string\";}s:7:\"Backups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Backup\";}s:4:\"type\";s:5:\"array\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"CreateBackupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"
  A user-defined description of the backup. \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:49:\"The
  name of the server that you want to back up. \";}}s:8:\"required\";a:1:{i:0;s:10:\"ServerName\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateBackupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Backup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Backup\";s:11:\"description\";s:26:\"Backup
  created by request.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateServerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":17:{s:24:\"AssociatePublicIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:167:\"
  Associate a public IP address with a server that you are launching. Valid values
  are <code>true</code> or <code>false</code>. The default value is <code>true</code>.
  \";}s:8:\"BackupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BackupId\";s:11:\"description\";s:108:\"
  If you specify this field, AWS OpsWorks CM creates the server by using the backup
  represented by BackupId. \";}s:20:\"BackupRetentionCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/BackupRetentionCountDefinition\";s:11:\"description\";s:198:\"
  The number of automated backups that you want to keep. Whenever a new backup is
  created, AWS OpsWorks CM deletes the oldest backups if this number is exceeded.
  The default value is <code>1</code>. \";}s:22:\"DisableAutomatedBackup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:136:\"
  Enable or disable scheduled backups. Valid values are <code>true</code> or <code>false</code>.
  The default value is <code>true</code>. \";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:109:\"
  The configuration management engine to use. Valid values include <code>Chef</code>
  and <code>Puppet</code>. \";}s:16:\"EngineAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EngineAttributes\";s:11:\"description\";s:1154:\"<p>Optional
  engine attributes on a specified server. </p> <p class=\"title\"> <b>Attributes
  accepted in a Chef createServer request:</b> </p> <ul> <li> <p> <code>CHEF_PIVOTAL_KEY</code>:
  A base64-encoded RSA private key that is not stored by AWS OpsWorks for Chef Automate.
  This private key is required to access the Chef API. When no CHEF_PIVOTAL_KEY is
  set, one is generated and returned in the response. </p> </li> <li> <p> <code>CHEF_DELIVERY_ADMIN_PASSWORD</code>:
  The password for the administrative user in the Chef Automate GUI. The password
  length is a minimum of eight characters, and a maximum of 32. The password can contain
  letters, numbers, and special characters (!/@#$%^&amp;+=_). The password must contain
  at least one lower case letter, one upper case letter, one number, and one special
  character. When no CHEF_DELIVERY_ADMIN_PASSWORD is set, one is generated and returned
  in the response.</p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a
  Puppet createServer request:</b> </p> <ul> <li> <p> <code>PUPPET_ADMIN_PASSWORD</code>:
  To work with the Puppet Enterprise console, a password must use ASCII characters.</p>
  </li> </ul>\";}s:11:\"EngineModel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:139:\"
  The engine model of the server. Valid values in this release include <code>Monolithic</code>
  for Puppet and <code>Single</code> for Chef. \";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:205:\"
  The major release version of the engine that you want to use. For a Chef server,
  the valid value for EngineVersion is currently <code>12</code>. For a Puppet server,
  the valid value is <code>2017</code>. \";}s:18:\"InstanceProfileArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceProfileArn\";s:11:\"description\";s:451:\"
  The ARN of the instance profile that your Amazon EC2 instances use. Although the
  AWS OpsWorks console typically creates the instance profile for you, if you are
  using API commands instead, run the service-role-creation.yaml AWS CloudFormation
  template, located at https://s3.amazonaws.com/opsworks-cm-us-east-1-prod-default-assets/misc/opsworks-cm-roles.yaml.
  This template creates a CloudFormation stack that includes the instance profile
  you need. \";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:203:\"
  The Amazon EC2 instance type to use. For example, <code>m4.large</code>. Recommended
  instance types include <code>t2.medium</code> and greater, <code>m4.*</code>, or
  <code>c4.xlarge</code> and greater. \";}s:7:\"KeyPair\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyPair\";s:11:\"description\";s:164:\"
  The Amazon EC2 key pair to set for the instance. This parameter is optional; if
  desired, you may specify this parameter to connect to your instances by using SSH.
  \";}s:21:\"PreferredBackupWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TimeWindowDefinition\";s:11:\"description\";s:676:\"<p>
  The start time for a one-hour period during which AWS OpsWorks CM backs up application-level
  data on your server if automated backups are enabled. Valid values must be specified
  in one of the following formats: </p> <ul> <li> <p> <code>HH:MM</code> for daily
  backups</p> </li> <li> <p> <code>DDD:HH:MM</code> for weekly backups</p> </li> </ul>
  <p>The specified time is in coordinated universal time (UTC). The default value
  is a random, daily start time.</p> <p> <b>Example:</b> <code>08:00</code>, which
  represents a daily start time of 08:00 UTC.</p> <p> <b>Example:</b> <code>Mon:08:00</code>,
  which represents a start time of every Monday at 08:00 UTC. (8:00 a.m.)</p>\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TimeWindowDefinition\";s:11:\"description\";s:522:\"<p>
  The start time for a one-hour period each week during which AWS OpsWorks CM performs
  maintenance on the instance. Valid values must be specified in the following format:
  <code>DDD:HH:MM</code>. The specified time is in coordinated universal time (UTC).
  The default value is a random one-hour period on Tuesday, Wednesday, or Friday.
  See <code>TimeWindowDefinition</code> for more information. </p> <p> <b>Example:</b>
  <code>Mon:08:00</code>, which represents a start time of every Monday at 08:00 UTC.
  (8:00 a.m.) </p>\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:356:\"<p>
  A list of security group IDs to attach to the Amazon EC2 instance. If you add this
  parameter, the specified security groups must be within the VPC that is specified
  by <code>SubnetIds</code>. </p> <p> If you do not specify this parameter, AWS OpsWorks
  CM creates one new security group that uses TCP ports 22 and 443, open to 0.0.0.0/0
  (everyone). </p>\";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:225:\"
  The name of the server. The server name must be unique within your AWS account,
  within each region. Server names must start with a letter; then letters, numbers,
  or hyphens (-) are allowed, up to a maximum of 40 characters. \";}s:14:\"ServiceRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ServiceRoleArn\";s:11:\"description\";s:509:\"
  The service role that the AWS OpsWorks CM service backend uses to work with your
  account. Although the AWS OpsWorks management console typically creates the service
  role for you, if you are using the AWS CLI or API commands, run the service-role-creation.yaml
  AWS CloudFormation template, located at https://s3.amazonaws.com/opsworks-cm-us-east-1-prod-default-assets/misc/opsworks-cm-roles.yaml.
  This template creates a CloudFormation stack that includes the service role and
  instance profile that you need. \";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:652:\"<p>
  The IDs of subnets in which to launch the server EC2 instance. </p> <p> Amazon EC2-Classic
  customers: This field is required. All servers must run within a VPC. The VPC must
  have \"Auto Assign Public IP\" enabled. </p> <p> EC2-VPC customers: This field is
  optional. If you do not specify subnet IDs, your EC2 instances are created in a
  default subnet that is selected by Amazon EC2. If you specify subnet IDs, the VPC
  must have \"Auto Assign Public IP\" enabled. </p> <p>For more information about
  supported Amazon EC2 platforms, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-platforms.html\">Supported
  Platforms</a>.</p>\";}}s:8:\"required\";a:4:{i:0;s:10:\"ServerName\";i:1;s:18:\"InstanceProfileArn\";i:2;s:12:\"InstanceType\";i:3;s:14:\"ServiceRoleArn\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateServerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Server\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Server\";s:11:\"description\";s:43:\"The
  server that is created by the request. \";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteBackupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BackupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BackupId\";s:11:\"description\";s:165:\"The
  ID of the backup to delete. Run the DescribeBackups command to get a list of backup
  IDs. Backup IDs are in the format <code>ServerName-yyyyMMddHHmmssSSS</code>. \";}}s:8:\"required\";a:1:{i:0;s:8:\"BackupId\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteBackupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteServerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:31:\"The
  ID of the server to delete.\";}}s:8:\"required\";a:1:{i:0;s:10:\"ServerName\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteServerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeAccountAttributesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeAccountAttributesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AccountAttributes\";s:11:\"description\";s:56:\"
  The attributes that are currently set for the account. \";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeBackupsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"BackupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BackupId\";s:11:\"description\";s:27:\"Describes
  a single backup. \";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:338:\"To
  receive a paginated response, use this parameter to specify the maximum number of
  results to be returned with a single call. If the number of available results exceeds
  this maximum, the response includes a <code>NextToken</code> value that you can
  assign to the <code>NextToken</code> request parameter to get the next set of results.
  \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:617:\"NextToken
  is a string that is returned in some command responses. It indicates that not all
  entries have been returned, and that you must run at least one more request to get
  remaining items. To get remaining results, call <code>DescribeBackups</code> again,
  and assign the token from the previous results as the value of the <code>nextToken</code>
  parameter. If there are no more results, the response object's <code>nextToken</code>
  parameter value is <code>null</code>. Setting a <code>nextToken</code> value that
  was not returned in your previous results causes an <code>InvalidNextTokenException</code>
  to occur.\";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:62:\"Returns
  backups for the server with the specified ServerName. \";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeBackupsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Backups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Backups\";s:11:\"description\";s:65:\"Contains
  the response to a <code>DescribeBackups</code> request. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:618:\"NextToken
  is a string that is returned in some command responses. It indicates that not all
  entries have been returned, and that you must run at least one more request to get
  remaining items. To get remaining results, call <code>DescribeBackups</code> again,
  and assign the token from the previous results as the value of the <code>nextToken</code>
  parameter. If there are no more results, the response object's <code>nextToken</code>
  parameter value is <code>null</code>. Setting a <code>nextToken</code> value that
  was not returned in your previous results causes an <code>InvalidNextTokenException</code>
  to occur. \";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeEventsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:338:\"To
  receive a paginated response, use this parameter to specify the maximum number of
  results to be returned with a single call. If the number of available results exceeds
  this maximum, the response includes a <code>NextToken</code> value that you can
  assign to the <code>NextToken</code> request parameter to get the next set of results.
  \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:617:\"NextToken
  is a string that is returned in some command responses. It indicates that not all
  entries have been returned, and that you must run at least one more request to get
  remaining items. To get remaining results, call <code>DescribeEvents</code> again,
  and assign the token from the previous results as the value of the <code>nextToken</code>
  parameter. If there are no more results, the response object's <code>nextToken</code>
  parameter value is <code>null</code>. Setting a <code>nextToken</code> value that
  was not returned in your previous results causes an <code>InvalidNextTokenException</code>
  to occur. \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:57:\"The
  name of the server for which you want to view events.\";}}s:8:\"required\";a:1:{i:0;s:10:\"ServerName\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeEventsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:617:\"NextToken
  is a string that is returned in some command responses. It indicates that not all
  entries have been returned, and that you must run at least one more request to get
  remaining items. To get remaining results, call <code>DescribeEvents</code> again,
  and assign the token from the previous results as the value of the <code>nextToken</code>
  parameter. If there are no more results, the response object's <code>nextToken</code>
  parameter value is <code>null</code>. Setting a <code>nextToken</code> value that
  was not returned in your previous results causes an <code>InvalidNextTokenException</code>
  to occur. \";}s:12:\"ServerEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ServerEvents\";s:11:\"description\";s:64:\"Contains
  the response to a <code>DescribeEvents</code> request. \";}}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeNodeAssociationStatusRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"NodeAssociationStatusToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/NodeAssociationStatusToken\";s:11:\"description\";s:88:\"The
  token returned in either the AssociateNodeResponse or the DisassociateNodeResponse.
  \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:60:\"The
  name of the server from which to disassociate the node. \";}}s:8:\"required\";a:2:{i:0;s:26:\"NodeAssociationStatusToken\";i:1;s:10:\"ServerName\";}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeNodeAssociationStatusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"EngineAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EngineAttributes\";s:11:\"description\";s:143:\"Attributes
  specific to the node association. In Puppet, the attibute PUPPET_NODE_CERT contains
  the signed certificate (the result of the CSR). \";}s:21:\"NodeAssociationStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/NodeAssociationStatus\";s:11:\"description\";s:394:\"<p>The
  status of the association or disassociation request. </p> <p class=\"title\"> <b>Possible
  values:</b> </p> <ul> <li> <p> <code>SUCCESS</code>: The association or disassociation
  succeeded. </p> </li> <li> <p> <code>FAILED</code>: The association or disassociation
  failed. </p> </li> <li> <p> <code>IN_PROGRESS</code>: The association or disassociation
  is still in progress. </p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeServersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:338:\"To
  receive a paginated response, use this parameter to specify the maximum number of
  results to be returned with a single call. If the number of available results exceeds
  this maximum, the response includes a <code>NextToken</code> value that you can
  assign to the <code>NextToken</code> request parameter to get the next set of results.
  \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:618:\"NextToken
  is a string that is returned in some command responses. It indicates that not all
  entries have been returned, and that you must run at least one more request to get
  remaining items. To get remaining results, call <code>DescribeServers</code> again,
  and assign the token from the previous results as the value of the <code>nextToken</code>
  parameter. If there are no more results, the response object's <code>nextToken</code>
  parameter value is <code>null</code>. Setting a <code>nextToken</code> value that
  was not returned in your previous results causes an <code>InvalidNextTokenException</code>
  to occur. \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:51:\"Describes
  the server with the specified ServerName.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeServersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:618:\"NextToken
  is a string that is returned in some command responses. It indicates that not all
  entries have been returned, and that you must run at least one more request to get
  remaining items. To get remaining results, call <code>DescribeServers</code> again,
  and assign the token from the previous results as the value of the <code>nextToken</code>
  parameter. If there are no more results, the response object's <code>nextToken</code>
  parameter value is <code>null</code>. Setting a <code>nextToken</code> value that
  was not returned in your previous results causes an <code>InvalidNextTokenException</code>
  to occur. \";}s:7:\"Servers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Servers\";s:11:\"description\";s:352:\"<p>Contains
  the response to a <code>DescribeServers</code> request.</p> <p> <i>For Puppet Server:</i>
  <code>DescribeServersResponse$Servers$EngineAttributes</code> contains PUPPET_API_CA_CERT.
  This is the PEM-encoded CA certificate that is used by the Puppet API over TCP port
  number 8140. The CA certificate is also used to sign node certificates.</p>\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DisassociateNodeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"EngineAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EngineAttributes\";s:11:\"description\";s:388:\"<p>Engine
  attributes that are used for disassociating the node. No attributes are required
  for Puppet. </p> <p class=\"title\"> <b>Attributes required in a DisassociateNode
  request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef
  organization with which the node was associated. By default only one organization
  named <code>default</code> can exist. </p> </li> </ul>\";}s:8:\"NodeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NodeName\";s:11:\"description\";s:29:\"The
  name of the client node. \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:60:\"The
  name of the server from which to disassociate the node. \";}}s:8:\"required\";a:2:{i:0;s:10:\"ServerName\";i:1;s:8:\"NodeName\";}s:4:\"type\";s:6:\"object\";}s:24:\"DisassociateNodeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"NodeAssociationStatusToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/NodeAssociationStatusToken\";s:11:\"description\";s:145:\"Contains
  a token which can be passed to the <code>DescribeNodeAssociationStatus</code> API
  call to get the status of the disassociation request. \";}}s:4:\"type\";s:6:\"object\";}s:15:\"EngineAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  name and value pair that is specific to the engine of the server. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EngineAttributeName\";s:11:\"description\";s:34:\"The
  name of the engine attribute. \";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EngineAttributeValue\";s:11:\"description\";s:35:\"The
  value of the engine attribute. \";}}s:4:\"type\";s:6:\"object\";}s:19:\"EngineAttributeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"EngineAttributeValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"password\";s:4:\"type\";s:6:\"string\";}s:16:\"EngineAttributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EngineAttribute\";}s:4:\"type\";s:5:\"array\";}s:18:\"InstanceProfileArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:42:\"arn:aws:iam::[0-9]{12}:instance-profile/.*\";s:4:\"type\";s:6:\"string\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"InvalidNextTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"This
  occurs when the provided nextToken is not valid. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:87:\"Error
  or informational message that can contain more detail about a nextToken failure.
  \";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  resource is in a state that does not allow you to perform a specified action. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:138:\"Error
  or informational message that provides more detail if a resource is in a state that
  is not valid for performing a specified action. \";}}s:4:\"type\";s:6:\"object\";}s:7:\"KeyPair\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  limit of servers or backups has been reached. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:104:\"Error
  or informational message that the maximum allowed number of servers or backups has
  been exceeded. \";}}s:4:\"type\";s:6:\"object\";}s:17:\"MaintenanceStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"SUCCESS\";i:1;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"NodeAssociationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:394:\"<p>The
  status of the association or disassociation request. </p> <p class=\"title\"> <b>Possible
  values:</b> </p> <ul> <li> <p> <code>SUCCESS</code>: The association or disassociation
  succeeded. </p> </li> <li> <p> <code>FAILED</code>: The association or disassociation
  failed. </p> </li> <li> <p> <code>IN_PROGRESS</code>: The association or disassociation
  is still in progress. </p> </li> </ul>\";s:4:\"enum\";a:3:{i:0;s:7:\"SUCCESS\";i:1;s:6:\"FAILED\";i:2;s:11:\"IN_PROGRESS\";}s:4:\"type\";s:6:\"string\";}s:26:\"NodeAssociationStatusToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"NodeName\";O:8:\"stdClass\":3:{s:11:\"description\";s:386:\"The
  node name that is used by <code>chef-client</code> or <code>puppet-agent</code>for
  a new node. We recommend to use a unique FQDN as hostname. For more information,
  see the <a href=\"http://docs.aws.amazon.com/https:/docs.chef.io/nodes.html#about-node-names\">Chef</a>
  or <a href=\"http://docs.aws.amazon.com/https:/docs.puppet.com/puppet/4.10/man/agent.html\">Puppet</a>
  documentation. \";s:7:\"pattern\";s:19:\"^[\\-\\p{Alnum}_:.]+$\";s:4:\"type\";s:6:\"string\";}s:30:\"ResourceAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  requested resource cannot be created because it already exists. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:130:\"Error
  or informational message in response to a CreateServer request that a resource cannot
  be created because it already exists. \";}}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  requested resource does not exist, or access was denied. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:109:\"Error
  or informational message that can contain more detail about problems locating or
  accessing a resource. \";}}s:4:\"type\";s:6:\"object\";}s:20:\"RestoreServerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"BackupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BackupId\";s:11:\"description\";s:64:\"
  The ID of the backup that you want to use to restore a server. \";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:354:\"
  The type of the instance to create. Valid values must be specified in the following
  format: <code>^([cm][34]|t2).*</code> For example, <code>m4.large</code>. Valid
  values are <code>t2.medium</code>, <code>m4.large</code>, and <code>m4.2xlarge</code>.
  If you do not specify this parameter, RestoreServer uses the instance type from
  the specified backup. \";}s:7:\"KeyPair\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyPair\";s:11:\"description\";s:126:\"
  The name of the key pair to set on the new EC2 instance. This can be helpful if
  the administrator no longer has the SSH key. \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:50:\"
  The name of the server that you want to restore. \";}}s:8:\"required\";a:2:{i:0;s:8:\"BackupId\";i:1;s:10:\"ServerName\";}s:4:\"type\";s:6:\"object\";}s:21:\"RestoreServerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"Server\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Describes
  a configuration management server. \";s:10:\"properties\";O:8:\"stdClass\":23:{s:24:\"AssociatePublicIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:68:\"Associate
  a public IP address with a server that you are launching. \";}s:20:\"BackupRetentionCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:41:\"The
  number of automated backups to keep. \";}s:22:\"CloudFormationStackArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:72:\"The
  ARN of the CloudFormation stack that was used to create the server. \";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:77:\"Time
  stamp of server creation. Example <code>2016-07-29T13:38:47.520Z</code> \";}s:22:\"DisableAutomatedBackup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:108:\"Disables
  automated backups. The number of stored backups is dependent on the value of PreferredBackupCount.
  \";}s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:114:\"
  A DNS name that can be used to access the engine. Example: <code>myserver-asdfghjkl.us-east-1.opsworks.io</code>
  \";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:111:\"The
  engine type of the server. Valid values in this release include <code>Chef</code>
  and <code>Puppet</code>. \";}s:16:\"EngineAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EngineAttributes\";s:11:\"description\";s:1411:\"<p>The
  response of a createServer() request returns the master credential to access the
  server in EngineAttributes. These credentials are not stored by AWS OpsWorks CM;
  they are returned only as part of the result of createServer(). </p> <p class=\"title\">
  <b>Attributes returned in a createServer response for Chef</b> </p> <ul> <li> <p>
  <code>CHEF_PIVOTAL_KEY</code>: A base64-encoded RSA private key that is generated
  by AWS OpsWorks for Chef Automate. This private key is required to access the Chef
  API.</p> </li> <li> <p> <code>CHEF_STARTER_KIT</code>: A base64-encoded ZIP file.
  The ZIP file contains a Chef starter kit, which includes a README, a configuration
  file, and the required RSA private key. Save this file, unzip it, and then change
  to the directory where you've unzipped the file contents. From this directory, you
  can run Knife commands.</p> </li> </ul> <p class=\"title\"> <b>Attributes returned
  in a createServer response for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_STARTER_KIT</code>:
  A base64-encoded ZIP file. The ZIP file contains a Puppet starter kit, including
  a README and a required private key. Save this file, unzip it, and then change to
  the directory where you've unzipped the file contents.</p> </li> <li> <p> <code>PUPPET_ADMIN_PASSWORD</code>:
  An administrator password that you can use to sign in to the Puppet Enterprise console
  after the server is online.</p> </li> </ul>\";}s:11:\"EngineModel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:138:\"The
  engine model of the server. Valid values in this release include <code>Monolithic</code>
  for Puppet and <code>Single</code> for Chef. \";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:176:\"The
  engine version of the server. For a Chef server, the valid value for EngineVersion
  is currently <code>12</code>. For a Puppet server, the valid value is <code>2017</code>.
  \";}s:18:\"InstanceProfileArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  instance profile ARN of the server. \";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:152:\"
  The instance type for the server, as specified in the CloudFormation stack. This
  might not be the same instance type that is shown in the EC2 console. \";}s:7:\"KeyPair\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:41:\"The
  key pair associated with the server. \";}s:17:\"MaintenanceStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaintenanceStatus\";s:11:\"description\";s:105:\"The
  status of the most recent server maintenance run. Shows <code>SUCCESS</code> or
  <code>FAILED</code>. \";}s:21:\"PreferredBackupWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TimeWindowDefinition\";s:11:\"description\";s:54:\"The
  preferred backup period specified for the server. \";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TimeWindowDefinition\";s:11:\"description\";s:59:\"The
  preferred maintenance period specified for the server. \";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:161:\"
  The security group IDs for the server, as specified in the CloudFormation stack.
  These might not be the same security groups that are shown in the EC2 console. \";}s:9:\"ServerArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"The
  ARN of the server. \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  name of the server. \";}s:14:\"ServiceRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  service role ARN used to create the server. \";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ServerStatus\";s:11:\"description\";s:168:\"
  The server's status. This field displays the states of actions in progress, such
  as creating, running, or backing up the server, as well as the server's health state.
  \";}s:12:\"StatusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:177:\"
  Depending on the server status, this field has either a human-readable message (such
  as a create or backup error), or an escaped block of JSON (used for health check
  results). \";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:53:\"
  The subnet IDs specified in a CreateServer request. \";}}s:4:\"type\";s:6:\"object\";}s:11:\"ServerEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"An
  event that is related to the server, such as the start of maintenance or backup.
  \";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:34:\"The
  time when the event occurred. \";}s:6:\"LogUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  Amazon S3 URL of the event's log file.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"A
  human-readable informational or status message.\";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  name of the server on or for which the event occurred. \";}}s:4:\"type\";s:6:\"object\";}s:12:\"ServerEvents\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ServerEvent\";}s:4:\"type\";s:5:\"array\";}s:10:\"ServerName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:40;s:9:\"minLength\";i:1;s:7:\"pattern\";s:22:\"[a-zA-Z][a-zA-Z0-9\\-]*\";s:4:\"type\";s:6:\"string\";}s:12:\"ServerStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:13:{i:0;s:10:\"BACKING_UP\";i:1;s:15:\"CONNECTION_LOST\";i:2;s:8:\"CREATING\";i:3;s:8:\"DELETING\";i:4;s:9:\"MODIFYING\";i:5;s:6:\"FAILED\";i:6;s:7:\"HEALTHY\";i:7;s:7:\"RUNNING\";i:8;s:9:\"RESTORING\";i:9;s:5:\"SETUP\";i:10;s:17:\"UNDER_MAINTENANCE\";i:11;s:9:\"UNHEALTHY\";i:12;s:10:\"TERMINATED\";}s:4:\"type\";s:6:\"string\";}s:7:\"Servers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Server\";}s:4:\"type\";s:5:\"array\";}s:14:\"ServiceRoleArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:30:\"arn:aws:iam::[0-9]{12}:role/.*\";s:4:\"type\";s:6:\"string\";}s:23:\"StartMaintenanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"EngineAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EngineAttributes\";s:11:\"description\";s:88:\"Engine
  attributes that are specific to the server on which you want to run maintenance.
  \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:52:\"The
  name of the server on which to run maintenance. \";}}s:8:\"required\";a:1:{i:0;s:10:\"ServerName\";}s:4:\"type\";s:6:\"object\";}s:24:\"StartMaintenanceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Server\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Server\";s:11:\"description\";s:66:\"Contains
  the response to a <code>StartMaintenance</code> request. \";}}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Strings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:20:\"TimeWindowDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:342:\"<p>
  <code>DDD:HH:MM</code> (weekly start time) or <code>HH:MM</code> (daily start time).
  </p> <p> Time windows always use coordinated universal time (UTC). Valid strings
  for day of week (<code>DDD</code>) are: <code>Mon</code>, <code>Tue</code>, <code>Wed</code>,
  <code>Thr</code>, <code>Fri</code>, <code>Sat</code>, or <code>Sun</code>.</p>\";s:7:\"pattern\";s:65:\"^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$\";s:4:\"type\";s:6:\"string\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:35:\"UpdateServerEngineAttributesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";s:11:\"description\";s:44:\"The
  name of the engine attribute to update. \";}s:14:\"AttributeValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";s:11:\"description\";s:36:\"The
  value to set for the attribute. \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:34:\"The
  name of the server to update. \";}}s:8:\"required\";a:2:{i:0;s:10:\"ServerName\";i:1;s:13:\"AttributeName\";}s:4:\"type\";s:6:\"object\";}s:36:\"UpdateServerEngineAttributesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Server\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Server\";s:11:\"description\";s:79:\"Contains
  the response to an <code>UpdateServerEngineAttributes</code> request. \";}}s:4:\"type\";s:6:\"object\";}s:19:\"UpdateServerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"BackupRetentionCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:60:\"Sets
  the number of automated backups that you want to keep. \";}s:22:\"DisableAutomatedBackup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:135:\"Setting
  DisableAutomatedBackup to <code>true</code> disables automated or scheduled backups.
  Automated backups are enabled by default. \";}s:21:\"PreferredBackupWindow\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TimeWindowDefinition\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TimeWindowDefinition\";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServerName\";s:11:\"description\";s:34:\"The
  name of the server to update. \";}}s:8:\"required\";a:1:{i:0;s:10:\"ServerName\";}s:4:\"type\";s:6:\"object\";}s:20:\"UpdateServerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Server\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Server\";s:11:\"description\";s:62:\"Contains
  the response to a <code>UpdateServer</code> request. \";}}s:4:\"type\";s:6:\"object\";}s:19:\"ValidationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"One
  or more of the provided request parameters are not valid. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:88:\"Error
  or informational message that can contain more detail about a validation failure.
  \";}}s:4:\"type\";s:6:\"object\";}}"
...
