---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Headline : eWAY\u2019s
  products allow businesses to process credit card payments online through websites,
  email, mobile devices and manually.\";s:7:\"version\";s:3:\"3.1\";s:5:\"title\";s:9:\"Rapid
  API\";}"
host: api.ewaypayments.com
basePath: /
paths:
  /AccessCode/{AccessCode}:
    get:
      summary: Once the customer has been redirected to the next page, the merchant
        willrnneed to request the results from eWAY by calling the GetAccessCodeResultrnmethod
        of the Rapid 3.1 API web service.rn
      description: Once the customer has been redirected to the next page, the ...
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/accessCode'
    parameters:
    - name: AccessCode
      in: path
      description: ID of Access Code.
      required: false
      type: string
  /AccessCodes:
    post:
      summary: To request an Access Code, the merchant will make a server-side call
        to thernCreateAccessCode method of Rapid 3.1 API. The service will respond
        with anrnAccess Code and return the customer data.rnIf the request involves
        an existing Token customer, their details will bernreturned in the response
        including the masked credit card number.rnIf Token Payments are not in use
        for this transaction, the returned customerrndata will be an echo of the data
        in the request.rnrnAvailable MethodsrnRapid 3.1 API supports both regular
        one-off payments, Token Payments, Beagle Fraud Alerts andrnBeagle Fraud Alerts
        (Enterprise). Additionally, merchants can create or update their Token customersrnthrough
        Rapid 3.1 API by sending the appropriate value in the initial request.rnrnProcessPaymentrnThis
        method allows merchants to process a standard payment.rnrnTokenPaymentrnThis
        method allows merchants to process payments using Token customers they have
        stored withrneWAY. Merchants can either load an existing token customer by
        passing in their TokenCustomerID inrnthe initial request, or create a new
        Token customer by leaving the TokenCustomerID field blank.rnAny values passed
        in the Customer part of the initial request will be used to either create
        or updaternthe Token customer, depending on the TokenCustomerID value.rnWhen
        loading an existing Token customer, the customer's details will be returned
        by eWAY, includingrnthe masked credit card details. The masked card can be
        sent back to eWAY when the payment isrnprocessed if the customer wants to
        process the payment using the card on file.rnrnCreateTokenCustomerrnThis method
        allows merchants to create Token customers without processing a payment.rnrnUpdateTokenCustomerrnThis
        method allows merchants to update existing Token customers without processing
        a payment.rn
      description: To request an Access Code, the merchant will make a server-s...
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/customer-create'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/customer-response'
  /AccessCodesShared:
    post:
      summary: To request an Access Code, the merchant will make a server-side call
        to thernCreateAccessCodeShared method of Rapid 3.1 API. The service will respondrnwith
        an Access Code and return the customer data.rnIf the request involves an existing
        Token customer, their details will bernreturned in the response including
        the masked credit card number.rnIf Token Payments are not in use for this
        transaction, the returned customerrndata will be an echo of the data in the
        request.rn
      description: To request an Access Code, the merchant will make a server-s...
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/customer-create-schema'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/customerSharedCode-response'
  /Transaction:
    post:
      summary: 'Where environments are PCI-DSS compliant, card data may be submitted
        directlyrnto Rapid 3.1. This allows processing of transactions in one server
        side call.rnNote: Before being able to send credit card data via the direct
        API, eWAY mustrnenable it on the account (both live and sandbox). To be enabled
        on a livernaccount we must receive proof that the environment is PCI-DSS compliant.rnTransactions
        not involving credit card data (such as a recurring token payment)rnmay be
        processed without proof of compliance.rn'
      description: Where environments are PCI-DSS compliant, card data may be s...
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/customer-create-schema'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/customerTransaction-response'
  /Transaction/{ID}/Refund:
    get:
      summary: Request transaction results.rnThis is a direct call to the eWAY service
        allowing you to request therndetails that have been entered by the customer
        on the Responsive SharedrnPage. You only need to implement this if you have
        allowed the customerrndetails to be modifiable on the Responsive Shared Page.rn
      description: Request transaction results.rnThis is a direct call to the eW...
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/transactions'
    post:
      summary: 'Process a refund.rnNote: Before accessing the direct refund API you
        must add the Refund abilityrnto your API user role.rn'
      description: 'Process a refund.rnNote: Before accessing the direct refund A...'
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/refundTransaction'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/refundTransaction-response'
    parameters:
    - name: ID
      in: path
      description: Transaction ID or Access Code.
      required: false
      type: string
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:10:\"accessCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"AccessCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}s:17:\"AuthorisationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:6;}s:11:\"BeagleScore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:6;}s:18:\"BeagleVerification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:11;}s:5:\"Phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:11;}}}s:13:\"InvoiceNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:64;}s:16:\"InvoiceReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:64;}s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}}s:12:\"ResponseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:15:\"ResponseMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}s:15:\"TokenCustomerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TotalAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"TransactionID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"TransactionStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"Verification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"CVN\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}}s:27:\"customerSharedCode-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"AccessCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}s:8:\"Customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":27:{s:15:\"CardExpiryMonth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:14:\"CardExpiryYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:15:\"CardIssueNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:8:\"CardName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:10:\"CardNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:14:\"CardStartMonth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:13:\"CardStartYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:8:\"Comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:11:\"CompanyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:7:\"Country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:3:\"Fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:32;}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:8:\"IsActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"JobDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:8:\"LastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:6:\"Mobile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:5:\"Phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:9:\"Reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:7:\"Street1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:7:\"Street2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:5;}s:15:\"TokenCustomerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}}}s:6:\"Errors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FormActionURL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}s:7:\"Payment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:18:\"InvoiceDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:64;}s:13:\"InvoiceNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:16;}s:16:\"InvoiceReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:11:\"TotalAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:16:\"SharedPaymentUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}}}s:17:\"customer-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"AccessCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}s:8:\"Customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":27:{s:15:\"CardExpiryMonth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:14:\"CardExpiryYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:15:\"CardIssueNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:8:\"CardName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:10:\"CardNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:14:\"CardStartMonth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:13:\"CardStartYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:8:\"Comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:11:\"CompanyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:7:\"Country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:3:\"Fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:32;}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:8:\"IsActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"JobDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:8:\"LastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:6:\"Mobile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:5:\"Phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:9:\"Reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:7:\"Street1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:7:\"Street2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:5;}s:15:\"TokenCustomerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}}}s:6:\"Errors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}}s:13:\"FormActionURL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}s:7:\"Payment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:18:\"InvoiceDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:64;}s:13:\"InvoiceNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:16;}s:16:\"InvoiceReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:11:\"TotalAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}}s:12:\"transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"BeagleVerification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:6:\"Errors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"AuthorisationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"BeagleScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Comments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Fax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"JobDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PostalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Reference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Street1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Street2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"TokenCustomerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"InvoiceNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"InvoiceReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"ResponseCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ResponseMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ShippingAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Fax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PostalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ShippingMethod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Street1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Street2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"TokenCustomerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TotalAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"TransactionID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"TransactionStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"Verification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"CVN\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}}}}}s:26:\"refundTransaction-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"AuthorisationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:6;}s:8:\"Customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:11:\"CardDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"ExpiryMonth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:10:\"ExpiryYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:11:\"IssueNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:6:\"Number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:10:\"StartMonth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:9:\"StartYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}}}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:8:\"Comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:11:\"CompanyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:7:\"Country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:3:\"Fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:32;}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:14:\"JobDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:8:\"LastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:6:\"Mobile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:32;}s:5:\"Phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:32;}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:9:\"Reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:7:\"Street1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:7:\"Street2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:5;}s:15:\"TokenCustomerID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:16;}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}}}s:6:\"Errors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Refund\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:18:\"InvoiceDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"InvoiceNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:64;}s:16:\"InvoiceReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:64;}s:11:\"TotalAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"TransactionID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:8;}}}s:12:\"ResponseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:15:\"ResponseMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;}s:13:\"TransactionID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:8;}s:17:\"TransactionStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"Verification\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
