---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1332:\"<fullname>AWS
  CloudTrail</fullname> <p>This is the CloudTrail API Reference. It provides descriptions
  of actions, data types, common parameters, and common errors for CloudTrail.</p>
  <p>CloudTrail is a web service that records AWS API calls for your AWS account and
  delivers log files to an Amazon S3 bucket. The recorded information includes the
  identity of the user, the start time of the AWS API call, the source IP address,
  the request parameters, and the response elements returned by the service.</p> <note>
  <p>As an alternative to the API, you can use one of the AWS SDKs, which consist
  of libraries and sample code for various programming languages and platforms (Java,
  Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic
  access to AWSCloudTrail. For example, the SDKs take care of cryptographically signing
  requests, managing errors, and retrying requests automatically. For information
  about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools
  for Amazon Web Services page</a>.</p> </note> <p>See the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-user-guide.html\">AWS
  CloudTrail User Guide</a> for information about the data that is included with each
  AWS API call listed in the log files.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:14:\"AWS
  CloudTrail\";s:7:\"version\";s:10:\"2013-11-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudtrail-2013-11-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"cloudtrail\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"amazonaws_cloudtrail\";s:4:\"type\";s:7:\"openapi\";}}"
host: cloudtrail.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":91:{s:14:\"AddTagsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Specifies
  the tags to add to a trail.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:186:\"<p>Specifies
  the ARN of the trail to which one or more tags will be added. The format of a trail
  ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}s:8:\"TagsList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagsList\";s:11:\"description\";s:55:\"Contains
  a list of CloudTrail tags, up to a limit of 50\";}}s:8:\"required\";a:1:{i:0;s:10:\"ResourceId\";}s:4:\"type\";s:6:\"object\";}s:15:\"AddTagsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"ByteBuffer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"CloudTrailARNInvalidException\";O:8:\"stdClass\":3:{s:11:\"description\";s:194:\"<p>This
  exception is thrown when an operation is called with an invalid trail ARN. The format
  of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:42:\"CloudWatchLogsDeliveryUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Cannot
  set a CloudWatch Logs delivery for this region.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"CreateTrailRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Specifies
  the settings for each trail.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:25:\"CloudWatchLogsLogGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:212:\"Specifies
  a log group name using an Amazon Resource Name (ARN), a unique identifier that represents
  the log group to which CloudTrail logs will be delivered. Not required unless you
  specify CloudWatchLogsRoleArn.\";}s:21:\"CloudWatchLogsRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:93:\"Specifies
  the role for the CloudWatch Logs endpoint to assume to write to a user's log group.\";}s:23:\"EnableLogFileValidation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:685:\"<p>Specifies
  whether log file integrity validation is enabled. The default is false.</p> <note>
  <p>When you disable log file integrity validation, the chain of digest files is
  broken after one hour. CloudTrail will not create digest files for log files that
  were delivered during a period in which log file integrity validation was disabled.
  For example, if you enable log file integrity validation at noon on January 1, disable
  it at noon on January 2, and re-enable it at noon on January 10, digest files will
  not be created for the log files delivered from noon on January 2 to noon on January
  10. The same applies whenever you stop CloudTrail logging or delete a trail.</p>
  </note>\";}s:26:\"IncludeGlobalServiceEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:99:\"Specifies
  whether the trail is publishing events from global services such as IAM to the log
  files.\";}s:18:\"IsMultiRegionTrail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:101:\"Specifies
  whether the trail is created in the current region or in all regions. The default
  is false.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:520:\"<p>Specifies
  the KMS key ID to use to encrypt the logs delivered by CloudTrail. The value can
  be an alias name prefixed by \"alias/\", a fully specified ARN to an alias, a fully
  specified ARN to a key, or a globally unique identifier.</p> <p>Examples:</p> <ul>
  <li> <p>alias/MyAliasName</p> </li> <li> <p>arn:aws:kms:us-east-1:123456789012:alias/MyAliasName</p>
  </li> <li> <p>arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p>
  </li> <li> <p>12345678-1234-1234-1234-123456789012</p> </li> </ul>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:566:\"<p>Specifies
  the name of the trail. The name must meet the following requirements:</p> <ul> <li>
  <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores
  (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with
  a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li>
  <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code>
  and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address
  format (for example, 192.168.5.4)</p> </li> </ul>\";}s:12:\"S3BucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:225:\"Specifies
  the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon
  S3 Bucket Naming Requirements</a>.\";}s:11:\"S3KeyPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:319:\"Specifies
  the Amazon S3 key prefix that comes after the name of the bucket you have designated
  for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding
  Your CloudTrail Log Files</a>. The maximum length is 200 characters.\";}s:12:\"SnsTopicName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:127:\"Specifies
  the name of the Amazon SNS topic defined for notification of log file delivery.
  The maximum length is 256 characters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:12:\"S3BucketName\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateTrailResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:25:\"CloudWatchLogsLogGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:101:\"Specifies
  the Amazon Resource Name (ARN) of the log group to which CloudTrail logs will be
  delivered.\";}s:21:\"CloudWatchLogsRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:93:\"Specifies
  the role for the CloudWatch Logs endpoint to assume to write to a user's log group.\";}s:26:\"IncludeGlobalServiceEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:99:\"Specifies
  whether the trail is publishing events from global services such as IAM to the log
  files.\";}s:18:\"IsMultiRegionTrail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:67:\"Specifies
  whether the trail exists in one region or in all regions.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:240:\"<p>Specifies
  the KMS key ID that encrypts the logs delivered by CloudTrail. The value is a fully
  specified ARN to a KMS key in the format:</p> <p> <code>arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</code>
  </p>\";}s:24:\"LogFileValidationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:59:\"Specifies
  whether log file integrity validation is enabled.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"Specifies
  the name of the trail.\";}s:12:\"S3BucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:79:\"Specifies
  the name of the Amazon S3 bucket designated for publishing log files.\";}s:11:\"S3KeyPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:281:\"Specifies
  the Amazon S3 key prefix that comes after the name of the bucket you have designated
  for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding
  Your CloudTrail Log Files</a>.\";}s:11:\"SnsTopicARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:216:\"<p>Specifies
  the ARN of the Amazon SNS topic that CloudTrail uses to send notifications when
  log files are delivered. The format of a topic ARN is:</p> <p> <code>arn:aws:sns:us-east-1:123456789012:MyTopic</code>
  </p>\";}s:12:\"SnsTopicName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"This
  field is deprecated. Use SnsTopicARN.\";}s:8:\"TrailARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:163:\"<p>Specifies
  the ARN of the trail that was created. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DataResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:1014:\"<p>The
  Amazon S3 objects that you specify in your event selectors for your trail to log
  data events. Data events are object-level API operations that access S3 objects,
  such as <code>GetObject</code>, <code>DeleteObject</code>, and <code>PutObject</code>.
  You can specify up to 250 S3 buckets and object prefixes for a trail. </p> <p>Example</p>
  <ol> <li> <p>You create an event selector for a trail and specify an S3 bucket and
  an empty prefix, such as <code>arn:aws:s3:::bucket-1/</code>.</p> </li> <li> <p>You
  upload an image file to <code>bucket-1</code>.</p> </li> <li> <p>The <code>PutObject</code>
  API operation occurs on an object in the S3 bucket that you specified in the event
  selector. The trail processes and logs the event.</p> </li> <li> <p>You upload another
  image file to a different S3 bucket named <code>arn:aws:s3:::bucket-2</code>.</p>
  </li> <li> <p>The event occurs on an object in an S3 bucket that you didn't specify
  in the event selector. The trail doesn\u2019t log the event.</p> </li> </ol>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:127:\"The
  resource type in which you want to log data events. You can specify only the following
  value: <code>AWS::S3::Object</code>.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DataResourceValues\";s:11:\"description\";s:502:\"<p>A
  list of ARN-like strings for the specified S3 objects.</p> <p>To log data events
  for all objects in an S3 bucket, specify the bucket and an empty object prefix such
  as <code>arn:aws:s3:::bucket-1/</code>. The trail logs data events for all objects
  in this S3 bucket.</p> <p>To log data events for specific objects, specify the S3
  bucket and object prefix such as <code>arn:aws:s3:::bucket-1/example-images</code>.
  The trail logs data events for objects in this S3 bucket that match the prefix.</p>\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DataResourceValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:13:\"DataResources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DataResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"DeleteTrailRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  request that specifies the name of a trail to delete.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:168:\"Specifies
  the name or the CloudTrail ARN of the trail to be deleted. The format of a trail
  ARN is: <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> \";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteTrailResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeTrailsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Returns
  information about the trail.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"includeShadowTrails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:177:\"Specifies
  whether to include shadow trails in the response. A shadow trail is the replication
  in a region of a trail that was created in a different region. The default is true.\";}s:13:\"trailNameList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TrailNameList\";s:11:\"description\";s:930:\"<p>Specifies
  a list of trail names, trail ARNs, or both, of the trails to describe. The format
  of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p> <p>If an empty list is specified, information for the trail in the current
  region is returned.</p> <ul> <li> <p>If an empty list is specified and <code>IncludeShadowTrails</code>
  is false, then information for all trails in the current region is returned.</p>
  </li> <li> <p>If an empty list is specified and IncludeShadowTrails is null or true,
  then information for all trails in the current region and any associated shadow
  trails in other regions is returned.</p> </li> </ul> <note> <p>If one or more trail
  names are specified, information is returned only if the names match the names of
  trails belonging only to the current region. To return information about a trail
  in another region, you must specify its trail ARN.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeTrailsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"trailList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TrailList\";s:11:\"description\";s:26:\"The
  list of trail objects.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Event\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Contains
  information about an event that was returned by a lookup request. The result includes
  a representation of a CloudTrail event.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"CloudTrailEvent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:67:\"A
  JSON string that contains a representation of the event returned.\";}s:7:\"EventId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  CloudTrail ID of the event returned.\";}s:9:\"EventName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  name of the event returned.\";}s:11:\"EventSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"The
  AWS service that the request was made to.\";}s:9:\"EventTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:40:\"The
  date and time of the event returned.\";}s:9:\"Resources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";s:11:\"description\";s:53:\"A
  list of resources referenced by the event returned.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:84:\"A
  user name or role name of the requester that called the API in the event returned.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EventSelector\";O:8:\"stdClass\":3:{s:11:\"description\";s:439:\"<p>Use
  event selectors to specify whether you want your trail to log management and/or
  data events. When an event occurs in your account, CloudTrail evaluates the event
  selector for all trails. For each trail, if the event matches any event selector,
  the trail processes and logs the event. If the event doesn't match any event selector,
  the trail doesn't log the event.</p> <p>You can configure up to five event selectors
  for a trail.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"DataResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DataResources\";s:11:\"description\";s:371:\"<p>CloudTrail
  supports logging only data events for S3 objects. You can specify up to 250 S3 buckets
  and object prefixes for a trail.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html#logging-data-events\">Data
  Events</a> in the <i>AWS CloudTrail User Guide</i>.</p>\";}s:23:\"IncludeManagementEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:389:\"<p>Specify
  if you want your event selector to include management events for your trail.</p>
  <p> For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html#logging-management-events\">Management
  Events</a> in the <i>AWS CloudTrail User Guide</i>.</p> <p>By default, the value
  is <code>true</code>.</p>\";}s:13:\"ReadWriteType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReadWriteType\";s:11:\"description\";s:281:\"<p>Specify
  if you want your trail to log read-only events, write-only events, or all. For example,
  the EC2 <code>GetConsoleOutput</code> is a read-only API operation and <code>RunInstances</code>
  is a write-only API operation.</p> <p> By default, the value is <code>All</code>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:14:\"EventSelectors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EventSelector\";}s:4:\"type\";s:5:\"array\";}s:10:\"EventsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:4:\"type\";s:5:\"array\";}s:24:\"GetEventSelectorsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TrailName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:749:\"<p>Specifies
  the name of the trail or trail ARN. If you specify a trail name, the string must
  meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z,
  A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li>
  <p>Start with a letter or number, and end with a letter or number</p> </li> <li>
  <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores
  or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code>
  are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p>
  </li> </ul> <p>If you specify a trail ARN, it must be in the format:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}}s:8:\"required\";a:1:{i:0;s:9:\"TrailName\";}s:4:\"type\";s:6:\"object\";}s:25:\"GetEventSelectorsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"EventSelectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EventSelectors\";s:11:\"description\";s:54:\"The
  event selectors that are configured for the trail.\";}s:8:\"TrailARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"The
  specified trail ARN that has the event selectors.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GetTrailStatusRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  name of a trail about which you want the current status.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:315:\"<p>Specifies
  the name or the CloudTrail ARN of the trail for which you are requesting status.
  To get the status of a shadow trail (a replication of the trail in another region),
  you must specify its ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:22:\"GetTrailStatusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:9:\"IsLogging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:58:\"Whether
  the CloudTrail is currently logging AWS API calls.\";}s:33:\"LatestCloudWatchLogsDeliveryError\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:114:\"Displays
  any CloudWatch Logs error that CloudTrail encountered when attempting to deliver
  logs to CloudWatch Logs.\";}s:32:\"LatestCloudWatchLogsDeliveryTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:89:\"Displays
  the most recent date and time when CloudTrail delivered logs to CloudWatch Logs.\";}s:30:\"LatestDeliveryAttemptSucceeded\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"This
  field is deprecated.\";}s:25:\"LatestDeliveryAttemptTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"This
  field is deprecated.\";}s:19:\"LatestDeliveryError\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:605:\"<p>Displays
  any Amazon S3 error that CloudTrail encountered when attempting to deliver log files
  to the designated bucket. For more information see the topic <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error
  Responses</a> in the Amazon S3 API Reference. </p> <note> <p>This error occurs only
  when there is a problem with the destination S3 bucket and will not occur for timeouts.
  To resolve the issue, create a new bucket and call <code>UpdateTrail</code> to specify
  the new bucket, or fix the existing objects so that CloudTrail can again write to
  the bucket.</p> </note>\";}s:18:\"LatestDeliveryTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:102:\"Specifies
  the date and time that CloudTrail last delivered log files to an account's Amazon
  S3 bucket.\";}s:25:\"LatestDigestDeliveryError\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:609:\"<p>Displays
  any Amazon S3 error that CloudTrail encountered when attempting to deliver a digest
  file to the designated bucket. For more information see the topic <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error
  Responses</a> in the Amazon S3 API Reference. </p> <note> <p>This error occurs only
  when there is a problem with the destination S3 bucket and will not occur for timeouts.
  To resolve the issue, create a new bucket and call <code>UpdateTrail</code> to specify
  the new bucket, or fix the existing objects so that CloudTrail can again write to
  the bucket.</p> </note>\";}s:24:\"LatestDigestDeliveryTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:106:\"Specifies
  the date and time that CloudTrail last delivered a digest file to an account's Amazon
  S3 bucket.\";}s:34:\"LatestNotificationAttemptSucceeded\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"This
  field is deprecated.\";}s:29:\"LatestNotificationAttemptTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"This
  field is deprecated.\";}s:23:\"LatestNotificationError\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:248:\"Displays
  any Amazon SNS error that CloudTrail encountered when attempting to send a notification.
  For more information about Amazon SNS errors, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/welcome.html\">Amazon
  SNS Developer Guide</a>. \";}s:22:\"LatestNotificationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:147:\"Specifies
  the date and time of the most recent Amazon SNS notification that CloudTrail has
  written a new log file to an account's Amazon S3 bucket.\";}s:16:\"StartLoggingTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:103:\"Specifies
  the most recent date and time when CloudTrail started recording API calls for an
  AWS account.\";}s:15:\"StopLoggingTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:103:\"Specifies
  the most recent date and time when CloudTrail stopped recording API calls for an
  AWS account.\";}s:18:\"TimeLoggingStarted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"This
  field is deprecated.\";}s:18:\"TimeLoggingStopped\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"This
  field is deprecated.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"InsufficientEncryptionPolicyException\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"This
  exception is thrown when the policy on the S3 bucket or KMS key is not sufficient.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:35:\"InsufficientS3BucketPolicyException\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"This
  exception is thrown when the policy on the S3 bucket is not sufficient.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:35:\"InsufficientSnsTopicPolicyException\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"This
  exception is thrown when the policy on the SNS topic is not sufficient.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:41:\"InvalidCloudWatchLogsLogGroupArnException\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"This
  exception is thrown when the provided CloudWatch log group is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"InvalidCloudWatchLogsRoleArnException\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"This
  exception is thrown when the provided role is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"InvalidEventSelectorsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:546:\"<p>This
  exception is thrown when the <code>PutEventSelectors</code> operation is called
  with an invalid number of event selectors, data resources, or an invalid value for
  a parameter:</p> <ul> <li> <p>Specify a valid number of event selectors (1 to 5)
  for a trail.</p> </li> <li> <p>Specify a valid number of data resources (1 to 250)
  for an event selector.</p> </li> <li> <p>Specify a valid value for a parameter.
  For example, specifying the <code>ReadWriteType</code> parameter with a value of
  <code>read-only</code> is invalid.</p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"InvalidHomeRegionException\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"This
  exception is thrown when an operation is called on a trail from a region other than
  the region in which the trail was created.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidKmsKeyIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"This
  exception is thrown when the KMS key ARN is invalid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"InvalidLookupAttributesException\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Occurs
  when an invalid lookup attribute is specified.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"InvalidMaxResultsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"This
  exception is thrown if the limit specified is invalid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidNextTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"Invalid
  token or token that was previously used in a request with different parameters.
  This exception is thrown if the token is invalid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:36:\"InvalidParameterCombinationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"This
  exception is thrown when the combination of parameters provided is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"InvalidS3BucketNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  exception is thrown when the provided S3 bucket name is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidS3PrefixException\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  exception is thrown when the provided S3 prefix is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"InvalidSnsTopicNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  exception is thrown when the provided SNS topic name is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"InvalidTagParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"This
  exception is thrown when the key or value specified for the tag does not match the
  regular expression <code>^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-@]*)$</code>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidTimeRangeException\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"Occurs
  if the timestamp values are invalid. Either the start time occurs after the end
  time or the time range is outside the range of possible values.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Reserved
  for future use.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidTrailNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:604:\"<p>This
  exception is thrown when the provided trail name is not valid. Trail names must
  meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z,
  A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li>
  <p>Start with a letter or number, and end with a letter or number</p> </li> <li>
  <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores
  or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code>
  are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p>
  </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"KmsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"This
  exception is thrown when there is an issue with the specified KMS key and the trail
  can\u2019t be updated.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"KmsKeyDisabledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"This
  exception is deprecated.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"KmsKeyNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"This
  exception is thrown when the KMS key does not exist, or when the S3 bucket and the
  KMS key are not in the same region.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"ListPublicKeysRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Requests
  the public keys for a specified time range.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:151:\"Optionally
  specifies, in UTC, the end of the time range to look up public keys for CloudTrail
  digest files. If not specified, the current time is used.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:193:\"Optionally
  specifies, in UTC, the start of the time range to look up public keys for CloudTrail
  digest files. If not specified, the current time is used, and the current public
  key is returned.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListPublicKeysResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:13:\"PublicKeyList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PublicKeyList\";s:11:\"description\";s:137:\"<p>Contains
  an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity
  time ranges that overlap.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListTagsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Specifies
  a list of trail tags to return.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:14:\"ResourceIdList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ResourceIdList\";s:11:\"description\";s:205:\"<p>Specifies
  a list of trail ARNs whose tags will be listed. The list has a limit of 20 ARNs.
  The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}}s:8:\"required\";a:1:{i:0;s:14:\"ResourceIdList\";}s:4:\"type\";s:6:\"object\";}s:16:\"ListTagsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:15:\"ResourceTagList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResourceTagList\";s:11:\"description\";s:24:\"A
  list of resource tags.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LookupAttribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Specifies
  an attribute and value that filter the events returned.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"AttributeKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LookupAttributeKey\";s:11:\"description\";s:62:\"Specifies
  an attribute on which to filter the events returned.\";}s:14:\"AttributeValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"Specifies
  a value for the specified AttributeKey.\";}}s:8:\"required\";a:2:{i:0;s:12:\"AttributeKey\";i:1;s:14:\"AttributeValue\";}s:4:\"type\";s:6:\"object\";}s:18:\"LookupAttributeKey\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:7:\"EventId\";i:1;s:9:\"EventName\";i:2;s:8:\"Username\";i:3;s:12:\"ResourceType\";i:4;s:12:\"ResourceName\";i:5;s:11:\"EventSource\";}s:4:\"type\";s:6:\"string\";}s:20:\"LookupAttributesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LookupAttribute\";}s:4:\"type\";s:5:\"array\";}s:19:\"LookupEventsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Contains
  a request for LookupEvents.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:167:\"Specifies
  that only events that occur before or at the specified time are returned. If the
  specified end time is before the specified start time, an error is returned.\";}s:16:\"LookupAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LookupAttributesList\";s:11:\"description\";s:83:\"Contains
  a list of lookup attributes. Currently the list can contain only one item.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:84:\"The
  number of events to return. Possible values are 1 through 50. The default is 10.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:335:\"The
  token to use to get the next page of results after a previous API call. This token
  must be passed in with the same parameters that were specified in the the original
  call. For example, if the original call specified an AttributeKey of 'Username'
  with a value of 'root', the call with NextToken should include those same parameters.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:165:\"Specifies
  that only events that occur after or at the specified time are returned. If the
  specified start time is after the specified end time, an error is returned.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LookupEventsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Contains
  a response to a LookupEvents action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Events\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EventsList\";s:11:\"description\";s:166:\"A
  list of events returned based on the lookup attributes specified and the CloudTrail
  event. The events list is sorted by time. The most recent event is listed first.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:377:\"The
  token to use to get the next page of results after a previous API call. If the token
  does not appear, there are no more results to return. The token must be passed in
  with the same parameters as the previous call. For example, if the original call
  specified an AttributeKey of 'Username' with a value of 'root', the call with NextToken
  should include those same parameters.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:50;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:38:\"MaximumNumberOfTrailsExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"This
  exception is thrown when the maximum number of trails is reached.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:30:\"OperationNotPermittedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  exception is thrown when the requested operation is not permitted.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"PublicKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Contains
  information about a returned public key.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Fingerprint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  fingerprint of the public key.\";}s:15:\"ValidityEndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:46:\"The
  ending time of validity of the public key.\";}s:17:\"ValidityStartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:48:\"The
  starting time of validity of the public key.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ByteBuffer\";s:11:\"description\";s:50:\"The
  DER encoded public key value in PKCS#1 format.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PublicKeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PublicKey\";}s:4:\"type\";s:5:\"array\";}s:24:\"PutEventSelectorsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"EventSelectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EventSelectors\";s:11:\"description\";s:106:\"Specifies
  the settings for your event selectors. You can configure up to five event selectors
  for a trail.\";}s:9:\"TrailName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:749:\"<p>Specifies
  the name of the trail or trail ARN. If you specify a trail name, the string must
  meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z,
  A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li>
  <p>Start with a letter or number, and end with a letter or number</p> </li> <li>
  <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores
  or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code>
  are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p>
  </li> </ul> <p>If you specify a trail ARN, it must be in the format:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}}s:8:\"required\";a:2:{i:0;s:9:\"TrailName\";i:1;s:14:\"EventSelectors\";}s:4:\"type\";s:6:\"object\";}s:25:\"PutEventSelectorsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"EventSelectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EventSelectors\";s:11:\"description\";s:56:\"Specifies
  the event selectors configured for your trail.\";}s:8:\"TrailARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:184:\"<p>Specifies
  the ARN of the trail that was updated with event selectors. The format of a trail
  ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ReadWriteType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"ReadOnly\";i:1;s:9:\"WriteOnly\";i:2;s:3:\"All\";}s:4:\"type\";s:6:\"string\";}s:17:\"RemoveTagsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Specifies
  the tags to remove from a trail.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:180:\"<p>Specifies
  the ARN of the trail from which tags should be removed. The format of a trail ARN
  is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}s:8:\"TagsList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagsList\";s:11:\"description\";s:39:\"Specifies
  a list of tags to be removed.\";}}s:8:\"required\";a:1:{i:0;s:10:\"ResourceId\";}s:4:\"type\";s:6:\"object\";}s:18:\"RemoveTagsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Specifies
  the type and name of a resource referenced by an event.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ResourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:260:\"The
  name of the resource referenced by the event returned. These are user-created names
  whose values will depend on the environment. For example, the resource name might
  be \"auto-scaling-test-group\" for an Auto Scaling Group or \"i-1234567\" for an
  EC2 Instance.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:479:\"The
  type of a resource referenced by the event returned. When the resource type cannot
  be determined, null is returned. Some examples of resource types are: <b>Instance</b>
  for EC2, <b>Trail</b> for CloudTrail, <b>DBInstance</b> for RDS, and <b>AccessKey</b>
  for IAM. For a list of resource types supported for event lookup, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/lookup_supported_resourcetypes.html\">Resource
  Types Supported for Event Lookup</a>.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ResourceIdList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:12:\"ResourceList\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  list of resources referenced by the event returned.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  exception is thrown when the specified resource is not found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"ResourceTag\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"A
  resource tag.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"Specifies
  the ARN of the resource.\";}s:8:\"TagsList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagsList\";s:11:\"description\";s:15:\"A
  list of tags.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ResourceTagList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceTag\";}s:4:\"type\";s:5:\"array\";}s:33:\"ResourceTypeNotSupportedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"This
  exception is thrown when the specified resource type is not supported by CloudTrail.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"S3BucketDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"This
  exception is thrown when the specified S3 bucket does not exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"StartLoggingRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  request to CloudTrail to start logging AWS API calls for an account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:209:\"<p>Specifies
  the name or the CloudTrail ARN of the trail for which CloudTrail logs AWS API calls.
  The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:20:\"StartLoggingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"StopLoggingRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:89:\"Passes
  the request to CloudTrail to stop logging AWS API calls for the specified account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:222:\"<p>Specifies
  the name or the CloudTrail ARN of the trail for which CloudTrail will stop logging
  AWS API calls. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:19:\"StopLoggingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"A
  custom key-value pair associated with a resource such as a CloudTrail trail.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:152:\"The
  key in a key-value pair. The key must be must be no longer than 128 Unicode characters.
  The key must be unique for the resource to which it applies.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:96:\"The
  value in a key-value pair of a tag. The value must be no longer than 256 Unicode
  characters.\";}}s:8:\"required\";a:1:{i:0;s:3:\"Key\";}s:4:\"type\";s:6:\"object\";}s:26:\"TagsLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  number of tags per trail has exceeded the permitted amount. Currently, the limit
  is 50.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"TagsList\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"A
  list of tags.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:5:\"Trail\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  settings for a trail.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:25:\"CloudWatchLogsLogGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:134:\"Specifies
  an Amazon Resource Name (ARN), a unique identifier that represents the log group
  to which CloudTrail logs will be delivered.\";}s:21:\"CloudWatchLogsRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:93:\"Specifies
  the role for the CloudWatch Logs endpoint to assume to write to a user's log group.\";}s:23:\"HasCustomEventSelectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:50:\"Specifies
  if the trail has custom event selectors.\";}s:10:\"HomeRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  region in which the trail was created.\";}s:26:\"IncludeGlobalServiceEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:106:\"Set
  to <b>True</b> to include AWS API calls from AWS global services such as IAM. Otherwise,
  <b>False</b>.\";}s:18:\"IsMultiRegionTrail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:80:\"Specifies
  whether the trail belongs only to one region or exists in all regions.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:240:\"<p>Specifies
  the KMS key ID that encrypts the logs delivered by CloudTrail. The value is a fully
  specified ARN to a KMS key in the format:</p> <p> <code>arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</code>
  </p>\";}s:24:\"LogFileValidationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Specifies
  whether log file validation is enabled.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:90:\"Name
  of the trail set by calling <a>CreateTrail</a>. The maximum length is 128 characters.\";}s:12:\"S3BucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:223:\"Name
  of the Amazon S3 bucket into which CloudTrail delivers your trail files. See <a
  href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon
  S3 Bucket Naming Requirements</a>.\";}s:11:\"S3KeyPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:318:\"Specifies
  the Amazon S3 key prefix that comes after the name of the bucket you have designated
  for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding
  Your CloudTrail Log Files</a>.The maximum length is 200 characters.\";}s:11:\"SnsTopicARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:216:\"<p>Specifies
  the ARN of the Amazon SNS topic that CloudTrail uses to send notifications when
  log files are delivered. The format of a topic ARN is:</p> <p> <code>arn:aws:sns:us-east-1:123456789012:MyTopic</code>
  </p>\";}s:12:\"SnsTopicName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"This
  field is deprecated. Use SnsTopicARN.\";}s:8:\"TrailARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:146:\"<p>Specifies
  the ARN of the trail. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}}s:4:\"type\";s:6:\"object\";}s:27:\"TrailAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"This
  exception is thrown when the specified trail already exists.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"TrailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Trail\";}s:4:\"type\";s:5:\"array\";}s:13:\"TrailNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:22:\"TrailNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"This
  exception is thrown when the trail with the given name is not found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"TrailNotProvidedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"This
  exception is deprecated.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"UnsupportedOperationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  exception is thrown when the requested operation is not supported.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateTrailRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Specifies
  settings to update for the trail.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:25:\"CloudWatchLogsLogGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:212:\"Specifies
  a log group name using an Amazon Resource Name (ARN), a unique identifier that represents
  the log group to which CloudTrail logs will be delivered. Not required unless you
  specify CloudWatchLogsRoleArn.\";}s:21:\"CloudWatchLogsRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:93:\"Specifies
  the role for the CloudWatch Logs endpoint to assume to write to a user's log group.\";}s:23:\"EnableLogFileValidation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:675:\"<p>Specifies
  whether log file validation is enabled. The default is false.</p> <note> <p>When
  you disable log file integrity validation, the chain of digest files is broken after
  one hour. CloudTrail will not create digest files for log files that were delivered
  during a period in which log file integrity validation was disabled. For example,
  if you enable log file integrity validation at noon on January 1, disable it at
  noon on January 2, and re-enable it at noon on January 10, digest files will not
  be created for the log files delivered from noon on January 2 to noon on January
  10. The same applies whenever you stop CloudTrail logging or delete a trail.</p>
  </note>\";}s:26:\"IncludeGlobalServiceEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:99:\"Specifies
  whether the trail is publishing events from global services such as IAM to the log
  files.\";}s:18:\"IsMultiRegionTrail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:442:\"Specifies
  whether the trail applies only to the current region or to all regions. The default
  is false. If the trail exists only in the current region and this value is set to
  true, shadow trails (replications of the trail) will be created in the other regions.
  If the trail exists in all regions and this value is set to false, the trail will
  remain in the region where it was created, and its shadow trails in other regions
  will be deleted.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:520:\"<p>Specifies
  the KMS key ID to use to encrypt the logs delivered by CloudTrail. The value can
  be an alias name prefixed by \"alias/\", a fully specified ARN to an alias, a fully
  specified ARN to a key, or a globally unique identifier.</p> <p>Examples:</p> <ul>
  <li> <p>alias/MyAliasName</p> </li> <li> <p>arn:aws:kms:us-east-1:123456789012:alias/MyAliasName</p>
  </li> <li> <p>arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p>
  </li> <li> <p>12345678-1234-1234-1234-123456789012</p> </li> </ul>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:767:\"<p>Specifies
  the name of the trail or trail ARN. If <code>Name</code> is a trail name, the string
  must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters
  (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li>
  <li> <p>Start with a letter or number, and end with a letter or number</p> </li>
  <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods,
  underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code>
  are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p>
  </li> </ul> <p>If <code>Name</code> is a trail ARN, it must be in the format:</p>
  <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\";}s:12:\"S3BucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:225:\"Specifies
  the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon
  S3 Bucket Naming Requirements</a>.\";}s:11:\"S3KeyPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:319:\"Specifies
  the Amazon S3 key prefix that comes after the name of the bucket you have designated
  for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding
  Your CloudTrail Log Files</a>. The maximum length is 200 characters.\";}s:12:\"SnsTopicName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:127:\"Specifies
  the name of the Amazon SNS topic defined for notification of log file delivery.
  The maximum length is 256 characters.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:19:\"UpdateTrailResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Returns
  the objects or data listed below if successful. Otherwise, returns an error.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:25:\"CloudWatchLogsLogGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:101:\"Specifies
  the Amazon Resource Name (ARN) of the log group to which CloudTrail logs will be
  delivered.\";}s:21:\"CloudWatchLogsRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:93:\"Specifies
  the role for the CloudWatch Logs endpoint to assume to write to a user's log group.\";}s:26:\"IncludeGlobalServiceEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:99:\"Specifies
  whether the trail is publishing events from global services such as IAM to the log
  files.\";}s:18:\"IsMultiRegionTrail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:67:\"Specifies
  whether the trail exists in one region or in all regions.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:240:\"<p>Specifies
  the KMS key ID that encrypts the logs delivered by CloudTrail. The value is a fully
  specified ARN to a KMS key in the format:</p> <p> <code>arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</code>
  </p>\";}s:24:\"LogFileValidationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:59:\"Specifies
  whether log file integrity validation is enabled.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"Specifies
  the name of the trail.\";}s:12:\"S3BucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:79:\"Specifies
  the name of the Amazon S3 bucket designated for publishing log files.\";}s:11:\"S3KeyPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:281:\"Specifies
  the Amazon S3 key prefix that comes after the name of the bucket you have designated
  for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding
  Your CloudTrail Log Files</a>.\";}s:11:\"SnsTopicARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:216:\"<p>Specifies
  the ARN of the Amazon SNS topic that CloudTrail uses to send notifications when
  log files are delivered. The format of a topic ARN is:</p> <p> <code>arn:aws:sns:us-east-1:123456789012:MyTopic</code>
  </p>\";}s:12:\"SnsTopicName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"This
  field is deprecated. Use SnsTopicARN.\";}s:8:\"TrailARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:163:\"<p>Specifies
  the ARN of the trail that was updated. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>
  </p>\";}}s:4:\"type\";s:6:\"object\";}}"
...
