---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1017:\"<p>Amazon
  CloudWatch Events helps you to respond to state changes in your AWS resources. When
  your resources change state, they automatically send events into an event stream.
  You can create rules that match selected events in the stream and route them to
  targets to take action. You can also use rules to take action on a pre-determined
  schedule. For example, you can configure rules to:</p> <ul> <li> <p>Automatically
  invoke an AWS Lambda function to update DNS entries when an event notifies you that
  Amazon EC2 instance enters the running state.</p> </li> <li> <p>Direct specific
  API records from CloudTrail to an Amazon Kinesis stream for detailed analysis of
  potential security or availability risks.</p> </li> <li> <p>Periodically invoke
  a built-in target to create a snapshot of an Amazon EBS volume.</p> </li> </ul>
  <p>For more information about the features of Amazon CloudWatch Events, see the
  <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events\">Amazon CloudWatch
  Events User Guide</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:24:\"Amazon
  CloudWatch Events\";s:7:\"version\";s:10:\"2015-10-07\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:90:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/events-2015-10-07.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:6:\"events\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"amazonaws_events\";s:4:\"type\";s:7:\"openapi\";}}"
host: events.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":90:{s:6:\"Action\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:16:\"events:[a-zA-Z]+\";s:4:\"type\";s:6:\"string\";}s:3:\"Arn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1600;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:20:\"BatchArrayProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:249:\"The
  array properties for the submitted job, such as the size of the array. The array
  size can be between 2 and 10,000. If you specify array properties for a job, it
  becomes an array job. This parameter is used only if the target is an AWS Batch
  job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Size\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:101:\"The
  size of the array, if this is an array batch job. Valid values are integers between
  2 and 10,000.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"BatchParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"The
  custom parameters to be used when the target is an AWS Batch job.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"ArrayProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BatchArrayProperties\";s:11:\"description\";s:249:\"The
  array properties for the submitted job, such as the size of the array. The array
  size can be between 2 and 10,000. If you specify array properties for a job, it
  becomes an array job. This parameter is used only if the target is an AWS Batch
  job.\";}s:13:\"JobDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:125:\"The
  ARN or name of the job definition to use if the event target is an AWS Batch job.
  This job definition must already exist.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:81:\"The
  name to use for this execution of the job, if the target is an AWS Batch job.\";}s:13:\"RetryStrategy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchRetryStrategy\";s:11:\"description\";s:283:\"The
  retry strategy to use for failed jobs, if the target is an AWS Batch job. The retry
  strategy is the number of times to retry the failed job execution. Valid values
  are 1 to 10. When you specify a retry strategy here, it overrides the retry strategy
  defined in the job definition.\";}}s:8:\"required\";a:2:{i:0;s:13:\"JobDefinition\";i:1;s:7:\"JobName\";}s:4:\"type\";s:6:\"object\";}s:18:\"BatchRetryStrategy\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"The
  retry strategy to use for failed jobs, if the target is an AWS Batch job. If you
  specify a retry strategy here, it overrides the retry strategy defined in the job
  definition.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Attempts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:84:\"The
  number of times to attempt to retry, if the job fails. Valid values are 1 to 10.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:31:\"ConcurrentModificationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"There
  is concurrent modification on a rule or target.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteRuleRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeEventBusRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeEventBusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:95:\"The
  Amazon Resource Name (ARN) of the account permitted to write events to the current
  account.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:74:\"The
  name of the event bus. Currently, this is always <code>default</code>.\";}s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"The
  policy that enables the external account to send events to your account.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeRuleRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeRuleResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RuleArn\";s:11:\"description\";s:43:\"The
  Amazon Resource Name (ARN) of the rule.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RuleDescription\";s:11:\"description\";s:28:\"The
  description of the rule.\";}s:12:\"EventPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EventPattern\";s:11:\"description\";s:231:\"The
  event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events
  and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:72:\"The
  Amazon Resource Name (ARN) of the IAM role associated with the rule.\";}s:18:\"ScheduleExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ScheduleExpression\";s:11:\"description\";s:80:\"The
  scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/RuleState\";s:11:\"description\";s:50:\"Specifies
  whether the rule is enabled or disabled.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DisableRuleRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:13:\"EcsParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"The
  custom parameters to be used when the target is an Amazon ECS cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"TaskCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LimitMin1\";s:11:\"description\";s:91:\"The
  number of tasks to create based on the <code>TaskDefinition</code>. The default
  is one.\";}s:17:\"TaskDefinitionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:84:\"The
  ARN of the task definition to use if the event target is an Amazon ECS cluster.
  \";}}s:8:\"required\";a:1:{i:0;s:17:\"TaskDefinitionArn\";}s:4:\"type\";s:6:\"object\";}s:17:\"EnableRuleRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"EventId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"EventPattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"EventResource\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"EventResourceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EventResource\";}s:4:\"type\";s:5:\"array\";}s:9:\"EventTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"InputTransformer\";O:8:\"stdClass\":4:{s:11:\"description\";s:136:\"Contains
  the parameters needed for you to provide custom input to a target based on one or
  more pieces of data extracted from the event.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"InputPathsMap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TransformerPaths\";s:11:\"description\";s:163:\"Map
  of JSON paths to be extracted from the event. These are key-value pairs, where each
  value is a JSON path. You must use JSON dot notation, not bracket notation.\";}s:13:\"InputTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TransformerInput\";s:11:\"description\";s:129:\"Input
  template where you can use the values of the keys from <code>InputPathsMap</code>
  to customize the data sent to the target.\";}}s:8:\"required\";a:1:{i:0;s:13:\"InputTemplate\";}s:4:\"type\";s:6:\"object\";}s:23:\"InputTransformerPathKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:16:\"[A-Za-z0-9\\_\\-]+\";s:4:\"type\";s:6:\"string\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"InternalException\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"This
  exception occurs due to unexpected causes.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"InvalidEventPatternException\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  event pattern is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"KinesisParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:298:\"This
  object enables you to specify a JSON path to extract from the event and use as the
  partition key for the Amazon Kinesis stream, so that you can control the shard to
  which the event goes. If you do not include this parameter, the default is to use
  the <code>eventId</code> as the partition key.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"PartitionKeyPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/TargetPartitionKeyPath\";s:11:\"description\";s:283:\"The
  JSON path to be extracted from the event and used as the partition key. For more
  information, see <a href=\"http://docs.aws.amazon.com/streams/latest/dev/key-concepts.html#partition-key\">Amazon
  Kinesis Streams Key Concepts</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.\";}}s:8:\"required\";a:1:{i:0;s:16:\"PartitionKeyPath\";}s:4:\"type\";s:6:\"object\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"You
  tried to create more rules or add more targets to a rule than is allowed.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"LimitMax100\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"LimitMin1\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:28:\"ListRuleNamesByTargetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LimitMax100\";s:11:\"description\";s:40:\"The
  maximum number of results to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:74:\"The
  token returned by a previous call to retrieve the next set of results.\";}s:9:\"TargetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TargetArn\";s:11:\"description\";s:54:\"The
  Amazon Resource Name (ARN) of the target resource.\";}}s:8:\"required\";a:1:{i:0;s:9:\"TargetArn\";}s:4:\"type\";s:6:\"object\";}s:29:\"ListRuleNamesByTargetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:108:\"Indicates
  whether there are additional results to retrieve. If there are no more results,
  the value is null.\";}s:9:\"RuleNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RuleNameList\";s:11:\"description\";s:56:\"The
  names of the rules that can invoke the given target.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListRulesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LimitMax100\";s:11:\"description\";s:40:\"The
  maximum number of results to return.\";}s:10:\"NamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:34:\"The
  prefix matching the rule name.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:74:\"The
  token returned by a previous call to retrieve the next set of results.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListRulesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:108:\"Indicates
  whether there are additional results to retrieve. If there are no more results,
  the value is null.\";}s:5:\"Rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RuleResponseList\";s:11:\"description\";s:44:\"The
  rules that match the specified criteria.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListTargetsByRuleRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LimitMax100\";s:11:\"description\";s:40:\"The
  maximum number of results to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:74:\"The
  token returned by a previous call to retrieve the next set of results.\";}s:4:\"Rule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Rule\";}s:4:\"type\";s:6:\"object\";}s:25:\"ListTargetsByRuleResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:108:\"Indicates
  whether there are additional results to retrieve. If there are no more results,
  the value is null.\";}s:7:\"Targets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TargetList\";s:11:\"description\";s:33:\"The
  targets assigned to the rule.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"MessageGroupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"NextToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:29:\"PolicyLengthExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  event bus policy is too long. For more information, see the limits.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"Principal\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:12;s:9:\"minLength\";i:1;s:7:\"pattern\";s:11:\"(\\d{12}|\\*)\";s:4:\"type\";s:6:\"string\";}s:16:\"PutEventsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Entries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/PutEventsRequestEntryList\";s:11:\"description\";s:186:\"The
  entry that defines an event in your system. You can specify several parameters for
  the entry such as the source and type of the event, resources associated with the
  event, and so on.\";}}s:8:\"required\";a:1:{i:0;s:7:\"Entries\";}s:4:\"type\";s:6:\"object\";}s:21:\"PutEventsRequestEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Represents
  an event to be submitted.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"Detail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:112:\"A
  valid JSON string. There is no other schema imposed. The JSON string may contain
  fields and nested subobjects.\";}s:10:\"DetailType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:74:\"Free-form
  string used to decide what fields to expect in the event detail.\";}s:9:\"Resources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EventResourceList\";s:11:\"description\";s:136:\"AWS
  resources, identified by Amazon Resource Name (ARN), which the event primarily concerns.
  Any number, including zero, may be present.\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  source of the event.\";}s:4:\"Time\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EventTime\";s:11:\"description\";s:178:\"The
  timestamp of the event, per <a href=\"https://www.rfc-editor.org/rfc/rfc3339.txt\">RFC3339</a>.
  If no timestamp is provided, the timestamp of the <a>PutEvents</a> call is used.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"PutEventsRequestEntryList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PutEventsRequestEntry\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:17:\"PutEventsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Entries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/PutEventsResultEntryList\";s:11:\"description\";s:223:\"The
  successfully and unsuccessfully ingested events results. If the ingestion was successful,
  the entry has the event ID in it. Otherwise, you can use the error code and error
  message to identify the problem with the entry.\";}s:16:\"FailedEntryCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:29:\"The
  number of failed entries.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"PutEventsResultEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  an event that failed to be submitted.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";s:11:\"description\";s:62:\"The
  error code that indicates why the event submission failed.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:64:\"The
  error message that explains why the event submission failed.\";}s:7:\"EventId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/EventId\";s:11:\"description\";s:20:\"The
  ID of the event.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"PutEventsResultEntryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PutEventsResultEntry\";}s:4:\"type\";s:5:\"array\";}s:20:\"PutPermissionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Action\";s:11:\"description\";s:117:\"The
  action that you are enabling the other account to perform. Currently, this must
  be <code>events:PutEvents</code>.\";}s:9:\"Principal\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Principal\";s:11:\"description\";s:507:\"<p>The
  12-digit AWS account ID that you are permitting to put events to your default event
  bus. Specify \"*\" to permit any account to put events to your default event bus.</p>
  <p>If you specify \"*\", avoid creating rules that may match undesirable events.
  To create more secure rules, make sure that the event pattern for each rule contains
  an <code>account</code> field with a specific account ID from which to receive events.
  Rules with an account field do not match any events sent from other accounts.</p>\";}s:11:\"StatementId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StatementId\";s:11:\"description\";s:229:\"An
  identifier string for the external account that you are granting permissions to.
  If you later want to revoke the permission for this external account, specify this
  <code>StatementId</code> when you run <a>RemovePermission</a>.\";}}s:8:\"required\";a:3:{i:0;s:6:\"Action\";i:1;s:9:\"Principal\";i:2;s:11:\"StatementId\";}s:4:\"type\";s:6:\"object\";}s:14:\"PutRuleRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RuleDescription\";s:11:\"description\";s:26:\"A
  description of the rule.\";}s:12:\"EventPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EventPattern\";s:11:\"description\";s:231:\"The
  event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events
  and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:55:\"The
  name of the rule that you are creating or updating.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:72:\"The
  Amazon Resource Name (ARN) of the IAM role associated with the rule.\";}s:18:\"ScheduleExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ScheduleExpression\";s:11:\"description\";s:82:\"The
  scheduling expression. For example, \"cron(0 20 * * ? *)\" or \"rate(5 minutes)\".\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/RuleState\";s:11:\"description\";s:50:\"Indicates
  whether the rule is enabled or disabled.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:15:\"PutRuleResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"RuleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RuleArn\";s:11:\"description\";s:43:\"The
  Amazon Resource Name (ARN) of the rule.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PutTargetsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Rule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}s:7:\"Targets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TargetList\";s:11:\"description\";s:41:\"The
  targets to update or add to the rule.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Rule\";i:1;s:7:\"Targets\";}s:4:\"type\";s:6:\"object\";}s:18:\"PutTargetsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"FailedEntries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/PutTargetsResultEntryList\";s:11:\"description\";s:26:\"The
  failed target entries.\";}s:16:\"FailedEntryCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:29:\"The
  number of failed entries.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"PutTargetsResultEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Represents
  a target that failed to be added to a rule.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";s:11:\"description\";s:169:\"The
  error code that indicates why the target addition failed. If the value is <code>ConcurrentModificationException</code>,
  too many requests were made at the same time.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:63:\"The
  error message that explains why the target addition failed.\";}s:8:\"TargetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TargetId\";s:11:\"description\";s:21:\"The
  ID of the target.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"PutTargetsResultEntryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PutTargetsResultEntry\";}s:4:\"type\";s:5:\"array\";}s:23:\"RemovePermissionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"StatementId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StatementId\";s:11:\"description\";s:111:\"The
  statement ID corresponding to the account that is no longer allowed to put events
  to the default event bus.\";}}s:8:\"required\";a:1:{i:0;s:11:\"StatementId\";}s:4:\"type\";s:6:\"object\";}s:20:\"RemoveTargetsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Ids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TargetIdList\";s:11:\"description\";s:47:\"The
  IDs of the targets to remove from the rule.\";}s:4:\"Rule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Rule\";i:1;s:3:\"Ids\";}s:4:\"type\";s:6:\"object\";}s:21:\"RemoveTargetsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"FailedEntries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/RemoveTargetsResultEntryList\";s:11:\"description\";s:26:\"The
  failed target entries.\";}s:16:\"FailedEntryCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:29:\"The
  number of failed entries.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"RemoveTargetsResultEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Represents
  a target that failed to be removed from a rule.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";s:11:\"description\";s:168:\"The
  error code that indicates why the target removal failed. If the value is <code>ConcurrentModificationException</code>,
  too many requests were made at the same time.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:62:\"The
  error message that explains why the target removal failed.\";}s:8:\"TargetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TargetId\";s:11:\"description\";s:21:\"The
  ID of the target.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"RemoveTargetsResultEntryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/RemoveTargetsResultEntry\";}s:4:\"type\";s:5:\"array\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"An
  entity that you specified does not exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"RoleArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1600;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:4:\"Rule\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Contains
  information about a rule in Amazon CloudWatch Events.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RuleArn\";s:11:\"description\";s:43:\"The
  Amazon Resource Name (ARN) of the rule.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RuleDescription\";s:11:\"description\";s:28:\"The
  description of the rule.\";}s:12:\"EventPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EventPattern\";s:11:\"description\";s:243:\"The
  event pattern of the rule. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events
  and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:78:\"The
  Amazon Resource Name (ARN) of the role that is used for target invocation.\";}s:18:\"ScheduleExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ScheduleExpression\";s:11:\"description\";s:80:\"The
  scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/RuleState\";s:11:\"description\";s:22:\"The
  state of the rule.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"RuleArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1600;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"RuleDescription\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:512;s:4:\"type\";s:6:\"string\";}s:8:\"RuleName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"[\\.\\-_A-Za-z0-9]+\";s:4:\"type\";s:6:\"string\";}s:12:\"RuleNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";}s:4:\"type\";s:5:\"array\";}s:16:\"RuleResponseList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rule\";}s:4:\"type\";s:5:\"array\";}s:9:\"RuleState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:20:\"RunCommandParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:131:\"This
  parameter contains the criteria (either InstanceIds or a tag) used to specify which
  EC2 instances are to be sent the command. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"RunCommandTargets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RunCommandTargets\";s:11:\"description\";s:121:\"Currently,
  we support including only one RunCommandTarget block, which specifies either an
  array of InstanceIds or a tag.\";}}s:8:\"required\";a:1:{i:0;s:17:\"RunCommandTargets\";}s:4:\"type\";s:6:\"object\";}s:16:\"RunCommandTarget\";O:8:\"stdClass\":4:{s:11:\"description\";s:207:\"Information
  about the EC2 instances that are to be sent the command, specified as key-value
  pairs. Each <code>RunCommandTarget</code> block can include only one key, but this
  key may specify multiple values.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RunCommandTargetKey\";s:11:\"description\";s:75:\"Can
  be either <code>tag:</code> <i>tag-key</i> or <code>InstanceIds</code>.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/RunCommandTargetValues\";s:11:\"description\";s:208:\"If
  <code>Key</code> is <code>tag:</code> <i>tag-key</i>, <code>Values</code> is a list
  of tag values. If <code>Key</code> is <code>InstanceIds</code>, <code>Values</code>
  is a list of Amazon EC2 instance IDs.\";}}s:8:\"required\";a:2:{i:0;s:3:\"Key\";i:1;s:6:\"Values\";}s:4:\"type\";s:6:\"object\";}s:19:\"RunCommandTargetKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:29:\"^[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*$\";s:4:\"type\";s:6:\"string\";}s:21:\"RunCommandTargetValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"RunCommandTargetValues\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RunCommandTargetValue\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:17:\"RunCommandTargets\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RunCommandTarget\";}s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:18:\"ScheduleExpression\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:13:\"SqsParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"This
  structure includes the custom parameter to be used when the target is an SQS FIFO
  queue.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"MessageGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MessageGroupId\";s:11:\"description\";s:47:\"The
  FIFO message group ID to use as the target.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"StatementId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:14:\"[a-zA-Z0-9-_]+\";s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Target\";O:8:\"stdClass\":4:{s:11:\"description\";s:235:\"Targets
  are the resources to be invoked when a rule is triggered. Target types include EC2
  instances, AWS Lambda functions, Amazon Kinesis streams, Amazon ECS tasks, AWS Step
  Functions state machines, Run Command, and built-in targets.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TargetArn\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the target.\";}s:15:\"BatchParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BatchParameters\";s:11:\"description\";s:257:\"Contains
  the job definition, job name, and other parameters if the event target is an AWS
  Batch job. For more information about AWS Batch, see <a href=\"http://docs.aws.amazon.com/batch/latest/userguide/jobs.html\">Jobs</a>
  in the <i>AWS Batch User Guide</i>.\";}s:13:\"EcsParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EcsParameters\";s:11:\"description\";s:330:\"Contains
  the Amazon ECS task definition and task count to be used, if the event target is
  an Amazon ECS task. For more information about Amazon ECS tasks, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_defintions.html\">Task
  Definitions </a> in the <i>Amazon EC2 Container Service Developer Guide</i>.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TargetId\";s:11:\"description\";s:21:\"The
  ID of the target.\";}s:5:\"Input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TargetInput\";s:11:\"description\";s:251:\"Valid
  JSON text passed to the target. In this case, nothing from the event itself is passed
  to the target. For more information, see <a href=\"http://www.rfc-editor.org/rfc/rfc7159.txt\">The
  JavaScript Object Notation (JSON) Data Interchange Format</a>.\";}s:9:\"InputPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TargetInputPath\";s:11:\"description\";s:270:\"The
  value of the JSONPath that is used for extracting part of the matched event when
  passing it to the target. You must use JSON dot notation, not bracket notation.
  For more information about JSON paths, see <a href=\"http://goessner.net/articles/JsonPath/\">JSONPath</a>.\";}s:16:\"InputTransformer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InputTransformer\";s:11:\"description\";s:209:\"Settings
  to enable you to provide custom input to a target based on certain event data. You
  can extract one or more key-value pairs from the event and then use that data to
  send customized input to the target.\";}s:17:\"KinesisParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/KinesisParameters\";s:11:\"description\";s:213:\"The
  custom parameter you can use to control shard assignment, when the target is an
  Amazon Kinesis stream. If you do not include this parameter, the default is to use
  the <code>eventId</code> as the partition key.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:190:\"The
  Amazon Resource Name (ARN) of the IAM role to be used for this target when the rule
  is triggered. If one rule triggers multiple targets, you can use a different IAM
  role for each target.\";}s:20:\"RunCommandParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RunCommandParameters\";s:11:\"description\";s:77:\"Parameters
  used when you are using the rule to invoke Amazon EC2 Run Command.\";}s:13:\"SqsParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SqsParameters\";s:11:\"description\";s:69:\"Contains
  the message group ID to use when the target is a FIFO queue.\";}}s:8:\"required\";a:2:{i:0;s:2:\"Id\";i:1;s:3:\"Arn\";}s:4:\"type\";s:6:\"object\";}s:9:\"TargetArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1600;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"TargetId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"[\\.\\-_A-Za-z0-9]+\";s:4:\"type\";s:6:\"string\";}s:12:\"TargetIdList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TargetId\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:11:\"TargetInput\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:8192;s:4:\"type\";s:6:\"string\";}s:15:\"TargetInputPath\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:10:\"TargetList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Target\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:22:\"TargetPartitionKeyPath\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:23:\"TestEventPatternRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Event\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:61:\"The
  event, in JSON format, to test against the event pattern.\";}s:12:\"EventPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EventPattern\";s:11:\"description\";s:231:\"The
  event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events
  and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.\";}}s:8:\"required\";a:2:{i:0;s:12:\"EventPattern\";i:1;s:5:\"Event\";}s:4:\"type\";s:6:\"object\";}s:24:\"TestEventPatternResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:54:\"Indicates
  whether the event matches the event pattern.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"TransformerInput\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:8192;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"TransformerPaths\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/InputTransformerPathKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TargetInputPath\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:10;s:4:\"type\";s:5:\"array\";}}"
...
