---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:2:\"v1\";s:5:\"title\";s:16:\"Payengine
  Public\";s:11:\"description\";s:37:\"Documentation for Payengine API v1.0\n\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:55:\"http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT\";}}"
host: apitest.payengine.de
basePath: /v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":128:{s:14:\"HealthResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:14:\"HealthResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"systemHealth\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  aggregated system health\";s:4:\"enum\";a:2:{i:0;s:4:\"GOOD\";i:1;s:3:\"BAD\";}}}}s:18:\"GenderBaseTypeEnum\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"GenderBaseTypeEnum\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  gender of the persona.\";s:4:\"enum\";a:2:{i:0;s:4:\"MALE\";i:1;s:6:\"FEMALE\";}}s:20:\"ChannelsBaseTypeEnum\";O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"ChannelsBaseTypeEnum\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:155:\"The
  channel determine the kind of origin for this order. (optional, mandatory for creditcard,
  ratepay-invoice, ratepay-directdebit and ratepay-installment)\";s:4:\"enum\";a:2:{i:0;s:4:\"MOTO\";i:1;s:4:\"ECOM\";}}s:20:\"ProductsBaseTypeEnum\";O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"ProductsBaseTypeEnum\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  product used to create this order. (mandatory)\";s:4:\"enum\";a:18:{i:0;s:10:\"creditcard\";i:1;s:6:\"paypal\";i:2;s:9:\"paydirekt\";i:3;s:15:\"ratepay-invoice\";i:4;s:19:\"ratepay-directdebit\";i:5;s:19:\"ratepay-installment\";i:6;s:4:\"sepa\";i:7;s:6:\"sofort\";i:8;s:14:\"klarna-pay-now\";i:9;s:16:\"klarna-pay-later\";i:10;s:15:\"klarna-slice-it\";i:11;s:10:\"prepayment\";i:12;s:7:\"giropay\";i:13;s:3:\"eps\";i:14;s:5:\"ideal\";i:15;s:6:\"alipay\";i:16;s:10:\"bancontact\";i:17;s:10:\"wechat-pay\";}}s:4:\"Item\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Item\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  articles name used in your shop.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:13:\"articleNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  articles number used in your shop.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:10:\"totalPrice\";O:8:\"stdClass\":5:{s:11:\"description\";s:106:\"The
  total price for this item excluding taxes. The total amount should be given as smallest
  currency unit.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:17:\"totalPriceWithTax\";O:8:\"stdClass\":5:{s:11:\"description\";s:189:\"The
  total price for this item including taxes. The total amount should be given as smallest
  currency unit. If the item is of type discount, the value must be negative: min
  -9999998, max -1.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:9:\"unitPrice\";O:8:\"stdClass\":5:{s:11:\"description\";s:104:\"The
  unit price for this item excluding taxes. The unit amount should be given as smallest
  currency unit.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:16:\"unitPriceWithTax\";O:8:\"stdClass\":5:{s:11:\"description\";s:104:\"The
  unit price for this item including taxes. The unit amount should be given as smallest
  currency unit.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:3:\"tax\";O:8:\"stdClass\":5:{s:11:\"description\";s:181:\"The
  tax rate for the corresponding item. Will be returned in float format only if scale
  part contains no trailing zeros. 10.99 -> 10.99 10.90 -> 10.9 10.00 -> 10 10.0 ->
  10 10 -> 10\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"minimum\";i:0;s:7:\"maximum\";i:100;}s:8:\"quantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  quantity for this item.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;}s:8:\"discount\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"item
  specific discount\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:-99999998;s:7:\"maximum\";i:-1;}s:11:\"articleType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ArticleTypeEnum\";}}}s:19:\"NotificationContent\";O:8:\"stdClass\":4:{s:5:\"title\";s:19:\"NotificationContent\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:363:\"This
  is the data structure being sent to subscribed merchant notification URN.\n\nTo
  validate the notification contents please invoke an HTTPS POST to \"/notifications/validate?address=yourUrlencodedNotificationUrn\"
  with body carrying the NotificationContent exactly as received by the listener.\n\nValidation
  result would simply respond with \"VALIDATED\" or \"INVALID\".\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"eventId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  unique identifier for this event.\";}s:10:\"apiVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  API version that triggered the event.\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  ip address that caused the request.\";}s:13:\"globalTrackId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"A
  string corresponding to the ID of the request that cause the event. Can be null.\";}s:4:\"mode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"String
  \"live\" or \"test\".\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:159:\"There
  are many notification types. Very common and useful are:\n\norder.create.success\norder.update.success\ntransaction.create.success\ntransaction.update.success\";}s:14:\"notificationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  id of the configured notification that caused this event to be fired.\";}s:22:\"notificationApiVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Currently
  only \"1.0\" api version is available.\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:15:\"Unix
  timestamp.\";}s:7:\"payload\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:173:\"For
  create notifications, the payload contains the object being created. For update
  notifications, please see DiffPayload. The payload depends on NotificationContent's
  type.\";}}}s:11:\"DiffPayload\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"DiffPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:31:\"asyncNotificationSubscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Optional
  guid for this notification subscription. Present for all per-order notifications.\";}s:9:\"oldObject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:129:\"The
  object state before any changes. See DiffPayload.diff as a shortcut to find what
  has changed between oldObject and newObject.\";}s:9:\"newObject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:128:\"The
  object state after any changes. See DiffPayload.diff as a shortcut to find what
  has changed between oldObject and newObject.\";}s:4:\"diff\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChangeObject\";}}}}s:12:\"ChangeObject\";O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"ChangeObject\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Name
  of the changed property. For example for transaction's status: \"status\".\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"String
  representation of the property value before the change. For example for transaction's
  status: \"PENDING\".\";}s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"String
  representation of the property value after the change. For example for transaction's
  status: \"IN_PROGRESS\".\";}}}s:31:\"NotificationSubscriptionRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:31:\"NotificationSubscriptionRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:78:\"An
  data structure that specifies callback URN and any other callback settings.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"notificationUrn\";O:8:\"stdClass\":5:{s:11:\"description\";s:295:\"Callback
  URN which will receive the contents of the notification. For http listeners, use
  an URN like https://your-domain-listener/specific-handler. For email listeners,
  use an URN like mailto:specific-handler@your-domain-listener. See the content to
  expect in the listener: NotificationContent.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:9:\"minLength\";i:6;s:9:\"maxLength\";i:2048;}s:17:\"notificationState\";O:8:\"stdClass\":3:{s:11:\"description\";s:256:\"A
  choice of what kind of updates to receive by this handler as specified in this object's
  notificationUrn. Add \"CREATED\" to the array to receive notification on object
  creation. Add \"UPDATED\" to the array to receive notification on object property
  changes.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/NotificationStateEnum\";}}}s:8:\"required\";a:2:{i:0;s:15:\"notificationUrn\";i:1;s:17:\"notificationState\";}}s:5:\"Async\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"Async\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:58:\"Async
  object for asynchronous payment methods like PayPal.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"successUrl\";O:8:\"stdClass\":5:{s:11:\"description\";s:79:\"In
  case of a successful order the customer will be redirected to the given URL.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:9:\"minLength\";i:6;s:9:\"maxLength\";i:2048;}s:10:\"failureUrl\";O:8:\"stdClass\":5:{s:11:\"description\";s:75:\"In
  case of a failed order the customer will be redirected to the given URL.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:9:\"minLength\";i:6;s:9:\"maxLength\";i:2048;}s:9:\"cancelUrl\";O:8:\"stdClass\":5:{s:11:\"description\";s:92:\"In
  case of a cancellation by the customer, the customer will be redirected to the given
  URL.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:9:\"minLength\";i:6;s:9:\"maxLength\";i:2048;}s:13:\"notifications\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Optional
  notification subscription requests. This enables receiving notification for this
  order's transactions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/NotificationSubscriptionRequest\";}}}s:8:\"required\";a:3:{i:0;s:10:\"successUrl\";i:1;s:10:\"failureUrl\";i:2;s:9:\"cancelUrl\";}}s:18:\"OrderCreateRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"OrderCreateRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:13:\"initialAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Amount
  as smallest currency unit\ne.g 100\u20AC will be result in amount = 10000\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Currency
  code according to https://en.wikipedia.org/wiki/ISO_4217\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:5:\"async\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Async\";}s:15:\"transactionType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/InitialTransactionTypeBaseTypeEnum\";}s:5:\"terms\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"A
  timestamp in milliseconds of the approval of the customer to your terms and conditions.
  E.g. this is required for RatePAY orders.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"integer\";}s:7:\"privacy\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"A
  timestamp in milliseconds of the approval of the customer to your privacy policy.
  E.g. this is required for RatePAY orders.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"integer\";}s:15:\"merchantOrderId\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"The
  order id from your system/shop for Creditcards only 30 alphanumeric characters.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  description from your system/shop of this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:20:\"statementDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  statement description from your system/shop of this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:6:\"basket\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:8:\"customer\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  customer id which will be used to process this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:7:\"persona\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  persona id which will be used to process this order. note: the persona must be a
  persona from the given customer.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:14:\"billingAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  address id used as billing address for this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:15:\"shippingAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  address id used as shipping address for this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:9:\"ipAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ChannelsBaseTypeEnum\";}s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  source is a form free descriptor of the origin.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:15:\"allowedProducts\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  List of all valid products for this order.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductsBaseTypeEnum\";}}}s:8:\"required\";a:4:{i:0;s:13:\"initialAmount\";i:1;s:8:\"currency\";i:2;s:5:\"async\";i:3;s:15:\"transactionType\";}}s:21:\"NotificationStateEnum\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"NotificationStateEnum\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:222:\"A
  choice of what kind of updates to receive by this handler as specified in this object's
  notificationUrn. \"CREATED\" to receive notification on object creation. \"UPDATED\"
  to receive notification on object property changes.\";s:4:\"enum\";a:2:{i:0;s:7:\"CREATED\";i:1;s:7:\"UPDATED\";}}s:34:\"InitialTransactionTypeBaseTypeEnum\";O:8:\"stdClass\":4:{s:5:\"title\";s:34:\"InitialTransactionTypeBaseTypeEnum\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  type of the underlying Transaction\";s:4:\"enum\";a:2:{i:0;s:7:\"PREAUTH\";i:1;s:5:\"DEBIT\";}}s:18:\"OrderUpdateRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"OrderUpdateRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:5:\"terms\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"A
  timestamp in milliseconds of the approval of the customer to your terms and conditions.
  E.g. this is required for RatePAY orders.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"integer\";}s:7:\"privacy\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"A
  timestamp in milliseconds of the approval of the customer to your privacy policy.
  E.g. this is required for RatePAY orders.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"integer\";}s:15:\"merchantOrderId\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"The
  order id from your system/shop for Creditcards only 30 alphanumeric characters.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  description from your system/shop of this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:20:\"statementDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  statement description from your system/shop of this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:13:\"initialAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:77:\"Amount
  as smallest currency unit\ne.g 100\u20AC will be result in amount = 10000\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Currency
  code according to https://en.wikipedia.org/wiki/ISO_4217\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:6:\"basket\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:8:\"customer\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  customer id which will be used to process this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:7:\"persona\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  persona id which will be used to process this order. note: the persona must be a
  persona from the given customer.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:14:\"billingAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  address id used as billing address for this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:15:\"shippingAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  address id used as shipping address for this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:9:\"ipAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ChannelsBaseTypeEnum\";}s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  source is a form free descriptor of the origin.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:5:\"async\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Async\";}s:15:\"allowedProducts\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  List of all valid products for this order.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductsBaseTypeEnum\";}}s:15:\"transactionType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/InitialTransactionTypeBaseTypeEnum\";}s:12:\"executeOrder\";O:8:\"stdClass\":2:{s:11:\"description\";s:228:\"Paypal
  specific parameter. If true the order will be processed after the update. This property
  is used to finish the processing of order, when the Paypal debit or preauth is created
  with 'addressOverride=false'. Defaut is false.\";s:4:\"type\";s:7:\"boolean\";}}}s:16:\"OrderOpenRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"OrderOpenRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:13:\"initialAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:77:\"Amount
  as smallest currency unit\ne.g 100\u20AC will be result in amount = 10000\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Currency
  code according to https://en.wikipedia.org/wiki/ISO_4217\n\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductsBaseTypeEnum\";}s:5:\"async\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Async\";}s:5:\"terms\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"A
  timestamp in milliseconds of the approval of the customer to your terms and conditions.
  E.g. this is required for RatePAY orders.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"integer\";}s:7:\"privacy\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"A
  timestamp in milliseconds of the approval of the customer to your privacy policy.
  E.g. this is required for RatePAY orders.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"integer\";}s:15:\"merchantOrderId\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"The
  order id from your system/shop for Creditcards only 30 alphanumeric characters.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  description from your system/shop of this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:20:\"statementDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  statement description from your system/shop of this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:6:\"basket\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:8:\"customer\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  customer id which will be used to process this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:7:\"persona\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  persona id which will be used to process this order. note: the persona must be a
  persona from the given customer.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:14:\"billingAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  address id used as billing address for this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:15:\"shippingAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  address id used as shipping address for this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:9:\"ipAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ChannelsBaseTypeEnum\";}s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  source is a form free descriptor of the origin.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:7:\"payment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/OrderOpenPaymentRequest\";}s:11:\"deviceIdent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeviceIdentRequest\";}s:8:\"tracking\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"specific
  parameter for all payment methods, array of object of type Tracking\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Tracking\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MetaRequest\";}}s:8:\"required\";a:4:{i:0;s:13:\"initialAmount\";i:1;s:8:\"currency\";i:2;s:7:\"product\";i:3;s:5:\"async\";}}s:18:\"OrderCreditRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"OrderCreditRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:13:\"initialAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:77:\"Amount
  as smallest currency unit\ne.g 100\u20AC will be result in amount = 10000\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Currency
  code according to https://en.wikipedia.org/wiki/ISO_4217\n\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductsBaseTypeEnum\";}s:5:\"terms\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"A
  timestamp in milliseconds of the approval of the customer to your terms and conditions.
  E.g. this is required for RatePAY orders.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"integer\";}s:7:\"privacy\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"A
  timestamp in milliseconds of the approval of the customer to your privacy policy.
  E.g. this is required for RatePAY orders.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"integer\";}s:15:\"merchantOrderId\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"The
  order id from your system/shop for Creditcards only 30 alphanumeric characters.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  description from your system/shop of this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:20:\"statementDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  statement description from your system/shop of this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:6:\"basket\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:8:\"customer\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  customer id which will be used to process this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:7:\"persona\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  persona id which will be used to process this order. note: the persona must be a
  persona from the given customer.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:14:\"billingAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  address id used as billing address for this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:15:\"shippingAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  address id used as shipping address for this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:9:\"ipAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ChannelsBaseTypeEnum\";}s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  source is a form free descriptor of the origin.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:7:\"payment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/CreditOrderPaymentRequest\";}s:11:\"deviceIdent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeviceIdentRequest\";}}s:8:\"required\";a:4:{i:0;s:13:\"initialAmount\";i:1;s:8:\"currency\";i:2;s:7:\"product\";i:3;s:5:\"async\";}}s:23:\"OrderOpenPaymentRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"OrderOpenPaymentRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:59:\"Additional
  information Payment needed to proceed the order.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:19:\"paymentInstrumentId\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"An
  ID of an already created paymentinstrument. Used to proceed the order. (optional)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:10:\"cardNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:119:\"The
  Creditcard PAN used to proceed. (mandatory for creditcard, optional if a creditcard
  paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:12;s:9:\"maxLength\";i:19;}s:12:\"verification\";O:8:\"stdClass\":4:{s:11:\"description\";s:126:\"The
  verification number of the creditcard. (mandatory for creditcard, optional if a
  creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:4;}s:11:\"expiryMonth\";O:8:\"stdClass\":4:{s:11:\"description\";s:163:\"The
  expiry month of the creditcard. Format: 01 -> january, 02 -> February, etc. (mandatory
  for creditcard, optional if a creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:10:\"expiryYear\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"The
  expiry year of the creditcard. Format: 01 -> 2001, 02 -> 2002, etc. (mandatory for
  creditcard, optional if a creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:10:\"cardHolder\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  full name of the cardholder.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:128;}s:8:\"bankName\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"The
  name of the bank of the bank account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:4:\"iban\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"IBAN
  of the bank account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:34;}s:3:\"bic\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"BIC
  of the bank account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:8;s:9:\"maxLength\";i:11;}s:13:\"accountHolder\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  account holders name of the bank account. (mandatory for sepa, ideal, alipay, bancontact,
  wechat-pay optional if a paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:4;s:9:\"maxLength\";i:128;}s:8:\"deferred\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Indicates
  if the order should be deferred. (only available for paypal preauth/execute, optional)\";s:4:\"type\";s:7:\"boolean\";}s:13:\"numberOfRates\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Number
  of rates for ratepay installment\";s:4:\"type\";s:7:\"integer\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Rate
  for ratepay installment\";s:4:\"type\";s:7:\"integer\";}s:8:\"lastRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Last
  rate for ratepay installment\";s:4:\"type\";s:7:\"integer\";}s:12:\"interestRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Interest
  rate for ratepay installment\";s:4:\"type\";s:6:\"number\";}s:11:\"totalAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Total
  amount for ratepay installment\";s:4:\"type\";s:7:\"integer\";}s:30:\"initializeCustomerTokenization\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Only
  for Klarna preauth or debit. True if we want to create token and next orders will
  be as recurring, false otherwise. Organization customers can't use initializeCustomerTokenization.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"mandate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MandateRequest\";}s:14:\"recurringUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"For
  CreditCard only\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:4:\"null\";i:1;s:9:\"ONE_CLICK\";i:2;s:9:\"SCHEDULED\";i:3;s:11:\"UNSCHEDULED\";}}s:11:\"riskIdentId\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Only
  for RatePay preauth or debit.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:80;}s:11:\"countryCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:199:\"Only
  for WeChat Pay via PPRO debit. The 2-letter ISO country code of the country in which
  the payment instrument is issued/operated (e.g. DE) Format [https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2]\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}}}s:29:\"OrderCreditOpenPaymentRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"OrderOpenPaymentRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:59:\"Additional
  information Payment needed to proceed the order.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:19:\"paymentInstrumentId\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"An
  ID of an already created paymentinstrument. Used to proceed the order. (optional)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:10:\"cardNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:119:\"The
  Creditcard PAN used to proceed. (mandatory for creditcard, optional if a creditcard
  paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:12;s:9:\"maxLength\";i:19;}s:12:\"verification\";O:8:\"stdClass\":4:{s:11:\"description\";s:126:\"The
  verification number of the creditcard. (mandatory for creditcard, optional if a
  creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:4;}s:11:\"expiryMonth\";O:8:\"stdClass\":4:{s:11:\"description\";s:163:\"The
  expiry month of the creditcard. Format: 01 -> january, 02 -> February, etc. (mandatory
  for creditcard, optional if a creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:10:\"expiryYear\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"The
  expiry year of the creditcard. Format: 01 -> 2001, 02 -> 2002, etc. (mandatory for
  creditcard, optional if a creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:10:\"cardHolder\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  full name of the cardholder.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:128;}s:8:\"bankName\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"The
  name of the bank of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:4:\"iban\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"IBAN
  of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:34;}s:3:\"bic\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"BIC
  of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:8;s:9:\"maxLength\";i:11;}s:13:\"accountHolder\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  account holders name of the SEPA account. (mandatory for sepa, optional if a sepa
  paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:4;s:9:\"maxLength\";i:128;}s:8:\"deferred\";O:8:\"stdClass\":1:{s:11:\"description\";s:96:\"Indicates
  if the order should be deferred. (only available for paypal preauth/execute, optional)\";}}}s:25:\"CreditOrderPaymentRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:25:\"CreditOrderPaymentRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:59:\"Additional
  information Payment needed to proceed the order.\";s:10:\"properties\";O:8:\"stdClass\":22:{s:19:\"paymentInstrumentId\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"An
  ID of an already created paymentinstrument. Used to proceed the order. (optional)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:10:\"cardNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:119:\"The
  Creditcard PAN used to proceed. (mandatory for creditcard, optional if a creditcard
  paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:12;s:9:\"maxLength\";i:19;}s:12:\"verification\";O:8:\"stdClass\":4:{s:11:\"description\";s:126:\"The
  verification number of the creditcard. (mandatory for creditcard, optional if a
  creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:4;}s:11:\"expiryMonth\";O:8:\"stdClass\":4:{s:11:\"description\";s:163:\"The
  expiry month of the creditcard. Format: 01 -> january, 02 -> February, etc. (mandatory
  for creditcard, optional if a creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:10:\"expiryYear\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"The
  expiry year of the creditcard. Format: 01 -> 2001, 02 -> 2002, etc. (mandatory for
  creditcard, optional if a creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:10:\"cardHolder\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  full name of the cardholder.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:128;}s:8:\"bankName\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"The
  name of the bank of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:4:\"iban\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"IBAN
  of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:34;}s:3:\"bic\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"BIC
  of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:8;s:9:\"maxLength\";i:11;}s:13:\"accountHolder\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  account holders name of the SEPA account. (mandatory for sepa, optional if a sepa
  paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:4;s:9:\"maxLength\";i:128;}s:8:\"deferred\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Indicates
  if the order should be deferred. (only available for paypal preauth/execute, optional)\";s:4:\"type\";s:7:\"boolean\";}s:13:\"numberOfRates\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Number
  of rates for ratepay installment\";s:4:\"type\";s:7:\"integer\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Rate
  for ratepay installment\";s:4:\"type\";s:7:\"integer\";}s:8:\"lastRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Last
  rate for ratepay installment\";s:4:\"type\";s:7:\"integer\";}s:12:\"interestRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Interest
  rate for ratepay installment\";s:4:\"type\";s:6:\"number\";}s:11:\"totalAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Total
  amount for ratepay installment\";s:4:\"type\";s:7:\"integer\";}s:7:\"mandate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MandateRequest\";}s:12:\"emailSubject\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Only
  for paypal. The subject line of the email that PayPal sends when the transaction
  is completed.\";s:4:\"type\";s:6:\"string\";}s:12:\"receiverType\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Only
  for paypal. Indicates how you identify the recipients of payments in this call to
  MassPay. Must be either EmailAddress, PhoneNumber, or UserID.\";s:4:\"type\";s:6:\"string\";}s:13:\"receiverEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Only
  for paypal. Email address of recipient. Mandatory if receiverType is EmailAddress.\";s:4:\"type\";s:6:\"string\";}s:13:\"receiverPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Only
  for paypal. Mobile phone number of recipient. Mandatory if receiverType is PhoneNumber.\";s:4:\"type\";s:6:\"string\";}s:10:\"receiverId\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Only
  for paypal. Unique PayPal customer account number. Mandatory if receiverType is
  UserID.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"BasketRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:6:\"Basket\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:57:\"Basket
  of the customer (only mandatory for Klarna Orders)\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"name
  of the article\";s:4:\"type\";s:6:\"string\";}s:11:\"articleType\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"currently
  is used and is required only for Klarna. Here are the values it can be used- physical,
  digital, discount, shipping_fee, gift_card (it's possible with capital letters as
  well)\";s:4:\"type\";s:6:\"string\";}s:10:\"articleUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"this
  is the url of the item in the basket\";s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"the
  image url of the item in the basket\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"quantity
  of the article\";s:4:\"type\";s:6:\"number\";}s:9:\"unitPrice\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"unit
  price of the article\";s:4:\"type\";s:6:\"number\";}s:10:\"totalPrice\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"total
  price of the article\";s:4:\"type\";s:6:\"number\";}s:8:\"discount\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"it
  is negative value between -99999998 and -1\";s:4:\"type\";s:6:\"number\";}}}s:14:\"MandateRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:7:\"Mandate\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:45:\"SEPA
  mandate (only mandatory for SEPA orders)\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"mandateId\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"The
  mandateId assigned to the SEPA mandate (optional, payengine will generate the id
  if not present) The id needs to follow the following pattern '^[a-zA-Z0-9\\-]{1,35}'\";s:4:\"type\";s:6:\"string\";}s:15:\"createdDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Timestamp
  for mandate creation (mandatory)\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:11:\"mandateText\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Mandate
  text displayed to the customer (mandatory)\";s:4:\"type\";s:6:\"string\";}s:15:\"directDebitType\";O:8:\"stdClass\":4:{s:5:\"title\";s:15:\"DirectDebitType\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:305:\"The
  current mandate type of the direct debit type.\nThe mandate type can be one of the
  following.\nFIRST: It's the first execution of the mandate SINGLE: It's used only
  for one execution of the mandate RECURRING: It's used for recurring mandate usage
  FINAL: It's the last execution of the recurring mandate\n\";s:4:\"enum\";a:4:{i:0;s:5:\"FIRST\";i:1;s:6:\"SINGLE\";i:2;s:9:\"RECURRING\";i:3;s:5:\"FINAL\";}}}}s:13:\"OrderResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:13:\"OrderResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":34:{s:7:\"orderId\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  order id from payengine.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:13:\"initialAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:46:\"The
  initial amount given to create this order.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:19:\"preauthorizedAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:37:\"The
  amount which has been authorized.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:14:\"capturedAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  amount which has been captured.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:14:\"refundedAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  amount which has been refunded.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:14:\"canceledAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"The
  amount which has been cancelled.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Currency
  code according to https://en.wikipedia.org/wiki/ISO_4217\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:12:\"transactions\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  list of all underlying transactions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TransactionResponseChildren\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/OrderStatesBaseTypeEnum\";}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ChannelsBaseTypeEnum\";}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"This
  timestamp indicates the creation of this order.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:10:\"modifiedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"This
  timestamp indicates the last modification of this order.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:5:\"terms\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"A
  timestamp in milliseconds of the approval of the customer to your terms and conditions.
  E.g. this is required for RatePAY orders.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"integer\";}s:7:\"privacy\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"A
  timestamp in milliseconds of the approval of the customer to your privacy policy.
  E.g. this is required for RatePAY orders.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"integer\";}s:15:\"merchantOrderId\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"The
  order id from your system/shop for Creditcards only 30 alphanumeric characters.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:28:\"paymentProviderTransactionId\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  order id from the payment provider.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  description from your system/shop of this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:20:\"statementDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  statement description from your system/shop of this order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:6:\"basket\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CustomerResponse\";}s:7:\"persona\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PersonaResponse\";}s:14:\"billingAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AddressResponse\";}s:15:\"shippingAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AddressResponse\";}s:9:\"ipAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:17:\"paymentInstrument\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PaymentInstrumentResponse\";}s:11:\"redirectUrl\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"The
  URL which the customer needs to be redirected to.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:9:\"minLength\";i:6;s:9:\"maxLength\";i:2048;}s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  source of the order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductsBaseTypeEnum\";}s:15:\"allowedProducts\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  List of all valid products for this order.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductsBaseTypeEnum\";}}s:7:\"settled\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"A
  flag which indicates if this order has been settled or not.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"settlementDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  date of the settlement.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"transactionType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/InitialTransactionTypeBaseTypeEnum\";}s:11:\"deviceIdent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DeviceIdentResponse\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/OrderMetaInfResponse\";}}s:8:\"required\";a:12:{i:0;s:7:\"orderId\";i:1;s:13:\"initialAmount\";i:2;s:19:\"preauthorizedAmount\";i:3;s:14:\"capturedAmount\";i:4;s:14:\"refundedAmount\";i:5;s:14:\"canceledAmount\";i:6;s:8:\"currency\";i:7;s:12:\"transactions\";i:8;s:6:\"status\";i:9;s:7:\"channel\";i:10;s:9:\"createdAt\";i:11;s:10:\"modifiedAt\";}}s:20:\"OrderMetaInfResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"OrderMetaInfResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"deferred\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Indicates
  if the order is marked as deferred. Available only for paypal.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"emailSubject\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Available
  only for paypal. The subject line of the email that PayPal sends when the transaction
  is completed.\";s:4:\"type\";s:6:\"string\";}s:12:\"receiverType\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Available
  only for paypal. Indicates how you identify the recipients of payments in this call
  to MassPay.\";s:4:\"type\";s:6:\"string\";}s:13:\"receiverEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Available
  only for paypal. Email address of recipient.\";s:4:\"type\";s:6:\"string\";}s:13:\"receiverPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Available
  only for paypal. Mobile phone number of recipient.\";s:4:\"type\";s:6:\"string\";}s:10:\"receiverId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Available
  only for paypal. Unique PayPal customer account number.\";s:4:\"type\";s:6:\"string\";}s:14:\"recurringUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"For
  CreditCard only\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:4:\"null\";i:1;s:9:\"ONE_CLICK\";i:2;s:9:\"SCHEDULED\";i:3;s:11:\"UNSCHEDULED\";}}}}s:16:\"CustomerResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"CustomerResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"customerId\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  identifier of the customer. Created by payengine\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  customers email address. unique.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}s:18:\"merchantCustomerId\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  identifier of the customer. Created by you.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:9:\"addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"A
  list of all underlying addresses which are connected to the customer.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AddressResponse\";}}s:8:\"personas\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of all underlying personas which are connected to the customer.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PersonaResponse\";}}s:18:\"paymentInstruments\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"A
  list of all underlying paymentinstruments which are connected to the customer.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PaymentInstrumentResponse\";}}}s:8:\"required\";a:2:{i:0;s:10:\"customerId\";i:1;s:5:\"email\";}}s:15:\"AddressResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:15:\"AddressResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:9:\"addressId\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  identifier of the address. Created by payengine\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"This
  timestamp indicates the creation of this address.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:10:\"modifiedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"This
  timestamp indicates the last modification of this address.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:9:\"firstName\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  firstname of this address. limited to 35 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:8:\"lastName\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  lastname of this address. limited to 35 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:6:\"street\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  street of this address.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:11:\"houseNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  housenumber of the street.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:4:\"city\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  city of the address.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:3:\"zip\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  zip of the address.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:10;}s:7:\"country\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"The
  country of the address. Format [https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2]\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  state of the address.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:5:\"phone\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  phone of the address. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:16;}s:3:\"fax\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  fax of the address. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:16;}s:6:\"mobile\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  mobile of the address. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  title of the address.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:17:\"additionalDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Additional
  details for this address. This is a form free descriptor.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}}s:8:\"required\";a:3:{i:0;s:9:\"addressId\";i:1;s:9:\"createdAt\";i:2;s:10:\"modifiedAt\";}}s:15:\"PersonaResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:15:\"PersonaResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"personaId\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  identifier of the persona. Created by payengine\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"This
  timestamp indicates the creation of this persona.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:10:\"modifiedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"This
  timestamp indicates the last modification of this persona.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:9:\"firstName\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  firstname of this persona. limited to 35 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:8:\"lastName\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  lastname of this persona. limited to 35 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:5:\"phone\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  phone of the persona. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:16;}s:6:\"mobile\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  mobile of the persona. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:16;}s:3:\"fax\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  fax of the persona. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:16;}s:8:\"birthday\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  birthday of the persona. Format as milliseconds since epoch representing UTC Date.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/GenderBaseTypeEnum\";}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  title of the persona.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}}s:8:\"required\";a:3:{i:0;s:9:\"personaId\";i:1;s:9:\"createdAt\";i:2;s:10:\"modifiedAt\";}}s:25:\"PaymentInstrumentResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:25:\"PaymentInstrumentResponse\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:161:\"The
  paymentinstrument which has been used to process this order. note: If no paymentinstrument
  has been submitted, one has been created with your submitted data.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"paymentInstrumentId\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  identifier of the paymentinstrument. Created by payengine\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:27:\"merchantPaymentInstrumentId\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"The
  identifier of the paymentinstrument on your system. Created by you. limited to 100
  characters.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:6:\"origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductsBaseTypeEnum\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PaymentInstrumentType\";}s:9:\"recurring\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"This
  flag indicates if this paymentinstrument can be used for recurring payments.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Timestamp
  when it was created\";s:4:\"type\";s:7:\"integer\";}s:10:\"modifiedAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Timestamp
  when it was last updated\";s:4:\"type\";s:7:\"integer\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"Additional
  attributes of this paymentinstrument. E.g. masked bank- or creditcarddata. For Klarna
  we will have possibleTypes object in the response (e.g. klarna-pay-now, klarna-pay-later,
  klarna-slice-it) Also we will have country, and locale\";s:4:\"type\";s:6:\"object\";}s:16:\"recurringConsent\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"For
  CreditCard only\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:4:\"null\";i:1;s:8:\"NO_STORE\";i:2;s:9:\"ONE_CLICK\";i:3;s:18:\"MERCHANT_INITIATED\";i:4;s:28:\"ONE_CLICK,MERCHANT_INITIATED\";}}}s:8:\"required\";a:6:{i:0;s:19:\"paymentInstrumentId\";i:1;s:27:\"merchantPaymentInstrumentId\";i:2;s:6:\"origin\";i:3;s:4:\"type\";i:4;s:9:\"recurring\";i:5;s:10:\"attributes\";}}s:25:\"InstallmentConfigResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:25:\"InstallmentConfigResponse\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:26:\"Installment
  Configurations\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"rateMinNormal\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Minimum
  rate of a normal installment plan\";s:4:\"type\";s:7:\"integer\";}s:14:\"monthNumberMin\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Minimum
  duration of installment plan\";s:4:\"type\";s:7:\"integer\";}s:14:\"monthNumberMax\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Maximum
  duration of installment plan\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:13:\"rateMinNormal\";i:1;s:14:\"monthNumberMin\";i:2;s:14:\"monthNumberMax\";}}s:34:\"InstallmentCalculationRateResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:34:\"InstallmentCalculationRateResponse\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Installment
  Calculation Rate Response\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"totalAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Total
  of amount, interest-amount and service-charge\";s:4:\"type\";s:7:\"integer\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Price
  that has to be financed\";s:4:\"type\";s:7:\"integer\";}s:14:\"interestAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Total
  of all monthly paid interests\";s:4:\"type\";s:7:\"integer\";}s:13:\"serviceCharge\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Additional
  costs of financing\";s:4:\"type\";s:7:\"integer\";}s:12:\"interestRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Interest-rate
  which will be used to calculate the annual percentage rate\";s:4:\"type\";s:7:\"integer\";}s:20:\"annualPercentageRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Interest-rate
  based on service-charge and interest- rate\";s:4:\"type\";s:7:\"integer\";}s:20:\"monthlyDebitInterest\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Monthly
  interest rates based on annual-percentage- rate\";s:4:\"type\";s:7:\"integer\";}s:13:\"numberOfRates\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Number
  of months; duration of the installment plan\";s:4:\"type\";s:7:\"integer\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Monthly
  rate to be paid by the customer\";s:4:\"type\";s:7:\"integer\";}s:8:\"lastRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Last
  monthly rate to be paid by the customer\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:10:{i:0;s:11:\"totalAmount\";i:1;s:6:\"amount\";i:2;s:14:\"interestAmount\";i:3;s:13:\"serviceCharge\";i:4;s:12:\"interestRate\";i:5;s:20:\"annualPercentageRate\";i:6;s:20:\"monthlyDebitInterest\";i:7;s:13:\"numberOfRates\";i:8;s:4:\"rate\";i:9;s:8:\"lastRate\";}}s:34:\"InstallmentCalculationTimeResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:34:\"InstallmentCalculationTimeResponse\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Installment
  Calculation Time Response\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"totalAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Total
  of amount, interest-amount and service-charge\";s:4:\"type\";s:7:\"integer\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Price
  that has to be financed\";s:4:\"type\";s:7:\"integer\";}s:14:\"interestAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Total
  of all monthly paid interests\";s:4:\"type\";s:7:\"integer\";}s:13:\"serviceCharge\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Additional
  costs of financing\";s:4:\"type\";s:7:\"integer\";}s:12:\"interestRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Interest-rate
  which will be used to calculate the annual percentage rate\";s:4:\"type\";s:7:\"integer\";}s:20:\"annualPercentageRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Interest-rate
  based on service-charge and interest- rate\";s:4:\"type\";s:7:\"integer\";}s:20:\"monthlyDebitInterest\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Monthly
  interest rates based on annual-percentage- rate\";s:4:\"type\";s:7:\"integer\";}s:13:\"numberOfRates\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Number
  of months; duration of the installment plan\";s:4:\"type\";s:7:\"integer\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Monthly
  rate to be paid by the customer\";s:4:\"type\";s:7:\"integer\";}s:8:\"lastRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Last
  monthly rate to be paid by the customer\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:10:{i:0;s:11:\"totalAmount\";i:1;s:6:\"amount\";i:2;s:14:\"interestAmount\";i:3;s:13:\"serviceCharge\";i:4;s:12:\"interestRate\";i:5;s:20:\"annualPercentageRate\";i:6;s:20:\"monthlyDebitInterest\";i:7;s:13:\"numberOfRates\";i:8;s:4:\"rate\";i:9;s:8:\"lastRate\";}}s:27:\"TransactionResponseChildren\";O:8:\"stdClass\":4:{s:5:\"title\";s:27:\"TransactionResponseChildren\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TransactionType\";}s:13:\"transactionId\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  identifier of the transaction. Created by payengine\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/TransactionStatesBaseTypeEnum\";}s:13:\"initialAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:52:\"The
  initial amount given to create this transaction.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Currency
  code according to https://en.wikipedia.org/wiki/ISO_4217\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"The
  description from your system/shop of this transaction.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"This
  timestamp indicates the creation of this transaction.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:10:\"modifiedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"This
  timestamp indicates the last modification of this transaction.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:5:\"order\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  identifier of the connected order.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:12:\"transactions\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  list of underlying transactions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"parentTransaction\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  identifier of the parent transaction.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:10:\"descriptor\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Identifier
  which holds the orderId\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:10;}s:14:\"capturedAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  amount which has been captured.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:14:\"refundedAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  amount which has been refunded.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:14:\"canceledAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"The
  amount which has been cancelled.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:9:\"challange\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Challange\";}s:8:\"tracking\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"specific
  parameter for all payment methods, array of object of type Tracking\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Tracking\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TransactionMeta\";}}s:8:\"required\";a:13:{i:0;s:13:\"transactionId\";i:1;s:6:\"status\";i:2;s:13:\"initialAmount\";i:3;s:8:\"currency\";i:4;s:11:\"description\";i:5;s:9:\"createdAt\";i:6;s:10:\"modifiedAt\";i:7;s:5:\"order\";i:8;s:12:\"transactions\";i:9;s:17:\"parentTransaction\";i:10;s:14:\"capturedAmount\";i:11;s:14:\"refundedAmount\";i:12;s:14:\"canceledAmount\";}}s:25:\"TransactionResponseParent\";O:8:\"stdClass\":4:{s:5:\"title\";s:25:\"TransactionResponseParent\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TransactionType\";}s:13:\"transactionId\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  identifier of the transaction. Created by payengine\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/TransactionStatesBaseTypeEnum\";}s:13:\"initialAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:52:\"The
  initial amount given to create this transaction.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Currency
  code according to https://en.wikipedia.org/wiki/ISO_4217\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"The
  description from your system/shop of this transaction.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"This
  timestamp indicates the creation of this transaction.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:10:\"modifiedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"This
  timestamp indicates the last modification of this transaction.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OrderResponse\";}s:12:\"transactions\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  list of underlying transactions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TransactionResponseChildren\";}}s:17:\"parentTransaction\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TransactionResponseChildren\";}s:10:\"descriptor\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Identifier
  which holds the orderId\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:10;}s:14:\"capturedAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  amount which has been captured.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:14:\"refundedAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  amount which has been refunded.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:14:\"canceledAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"The
  amount which has been cancelled.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:9:\"challange\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Challange\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TransactionMeta\";}}s:8:\"required\";a:13:{i:0;s:13:\"transactionId\";i:1;s:6:\"status\";i:2;s:13:\"initialAmount\";i:3;s:8:\"currency\";i:4;s:11:\"description\";i:5;s:9:\"createdAt\";i:6;s:10:\"modifiedAt\";i:7;s:5:\"order\";i:8;s:12:\"transactions\";i:9;s:17:\"parentTransaction\";i:10;s:14:\"capturedAmount\";i:11;s:14:\"refundedAmount\";i:12;s:14:\"canceledAmount\";}}s:15:\"TransactionMeta\";O:8:\"stdClass\":4:{s:5:\"title\";s:15:\"TransactionMeta\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:76:\"Contains
  payment method specifc meta data. For prepayment TAN instructions.\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"tanSent\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Flag
  which indicates if the TAN was sent to the bank\n\";s:4:\"type\";s:7:\"boolean\";}s:9:\"tanSchema\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  TAN schema which was used to finalize a online bank transfer based refund\n\";s:4:\"type\";s:6:\"string\";}}}s:9:\"Challange\";O:8:\"stdClass\":4:{s:5:\"title\";s:9:\"Challange\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:76:\"Contains
  payment method specifc meta data. For prepayment TAN instructions.\n\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  title of the prepayment TAN challange (can be displayed in the TAN form)\n\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  label of the prepayment tan challange (can be displayed in the TAN form)\n\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  TAN format for prepayment (iTAN, photoTAN, etc.)\n\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Optional
  data field for prepayment is needed for some TAN formats e.g. photoTAN\n\";s:4:\"type\";s:6:\"string\";}}}s:29:\"TransactionStatesBaseTypeEnum\";O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"TransactionStatesBaseTypeEnum\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:159:\"The
  current status of the transaction.\nThe status can be one of the following.\nCREATED,
  PENDING, IN_PROGRESS, OK, SUCCESS, FAILURE, DECLINED, ABORTED, EXPIRED\n\";s:4:\"enum\";a:9:{i:0;s:7:\"CREATED\";i:1;s:7:\"PENDING\";i:2;s:11:\"IN_PROGRESS\";i:3;s:2:\"OK\";i:4;s:7:\"SUCCESS\";i:5;s:7:\"FAILURE\";i:6;s:8:\"DECLINED\";i:7;s:7:\"ABORTED\";i:8;s:7:\"EXPIRED\";}}s:23:\"OrderStatesBaseTypeEnum\";O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"OrderStatesBaseTypeEnum\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:163:\"The
  current status of the order\nIt can be one of the following\nCREATED, OPEN, CLOSED\nA
  order remains open until the initial amount has been refunded or cancelled.\n\";s:4:\"enum\";a:3:{i:0;s:7:\"CREATED\";i:1;s:4:\"OPEN\";i:2;s:6:\"CLOSED\";}}s:26:\"OrganizationEntityTypeEnum\";O:8:\"stdClass\":4:{s:5:\"title\";s:26:\"OrganizationEntityTypeEnum\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:293:\"Customers
  that are organizations use this to specify their entity type.\nLIMITED_COMPANY PUBLIC_LIMITED_COMPANY
  ENTREPRENEURIAL_COMPANY LIMITED_PARTNERSHIP_LIMITED_COMPANY LIMITED_PARTNERSHIP
  GENERAL_PARTNERSHIP REGISTERED_SOLE_TRADER SOLE_TRADER CIVIL_LAW_PARTNERSHIP PUBLIC_INSTITUTION
  OTHER\n\";s:4:\"enum\";a:11:{i:0;s:15:\"LIMITED_COMPANY\";i:1;s:22:\"PUBLIC_LIMITED_COMPANY\";i:2;s:23:\"ENTREPRENEURIAL_COMPANY\";i:3;s:35:\"LIMITED_PARTNERSHIP_LIMITED_COMPANY\";i:4;s:19:\"LIMITED_PARTNERSHIP\";i:5;s:19:\"GENERAL_PARTNERSHIP\";i:6;s:22:\"REGISTERED_SOLE_TRADER\";i:7;s:11:\"SOLE_TRADER\";i:8;s:21:\"CIVIL_LAW_PARTNERSHIP\";i:9;s:18:\"PUBLIC_INSTITUTION\";i:10;s:5:\"OTHER\";}}s:15:\"PreauthResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:15:\"PreauthResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"capturedAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  amount which has been captured.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}s:14:\"canceledAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"The
  amount which has been cancelled.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}}s:8:\"required\";a:2:{i:0;s:14:\"capturedAmount\";i:1;s:14:\"canceledAmount\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TransactionResponseParent\";}}}s:13:\"DebitResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:13:\"DebitResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"refundedAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  amount which has been refunded.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}}s:8:\"required\";a:1:{i:0;s:14:\"refundedAmount\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TransactionResponseParent\";}}}s:15:\"CaptureResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:15:\"CaptureResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"refundedAmount\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  amount which has been refunded.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:99999999;}}s:8:\"required\";a:1:{i:0;s:14:\"refundedAmount\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TransactionResponseParent\";}}}s:18:\"TransactionRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"TransactionRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"initialAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Amount
  as smallest currency unit\ne.g 100\u20AC will be result in amount = 10000\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Currency
  code according to https://en.wikipedia.org/wiki/ISO_4217\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"The
  description from your system/shop of this transaction.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:6:\"basket\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  basket of your transaction. (optional, mandatory for ratepay-invoice, ratepay-directdebit
  and ratepay-installment)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MetaRequest\";}}s:8:\"required\";a:2:{i:0;s:13:\"initialAmount\";i:1;s:8:\"currency\";}}s:15:\"CustomerRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:15:\"CustomerRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"email\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"The
  customers email address. unique.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:254;}s:18:\"merchantCustomerId\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  identifier of the customer. Created by you.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:12:\"customerType\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Customer
  type. Specified as \"organization\" for companies and organizations.\";s:4:\"type\";s:6:\"string\";}s:26:\"organizationRegistrationId\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Organization
  registration id. Only required for organization customer types.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:99;s:4:\"type\";s:6:\"string\";}s:17:\"organizationVatId\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Organization
  VAT id. Only used for organization customer types.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:99;s:4:\"type\";s:6:\"string\";}s:32:\"organizationRegistrationRegister\";O:8:\"stdClass\":4:{s:11:\"description\";s:185:\"Organization
  registers can be the court name that registered the company. The registry location
  name, or another other organization registering institution name. This field is
  optional.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:99;s:4:\"type\";s:6:\"string\";}s:22:\"organizationEntityType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/OrganizationEntityTypeEnum\";}s:11:\"companyName\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Company
  name. Required for organization customers. limited to 99 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:99;}s:9:\"reference\";O:8:\"stdClass\":4:{s:11:\"description\";s:134:\"Additional
  reference within the company. i.e. 'Department XYZ'. Can be specified for organization
  customers. limited to 99 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:99;}}s:8:\"required\";a:1:{i:0;s:5:\"email\";}}s:21:\"CustomerUpdateRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"CustomerUpdateRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"merchantCustomerId\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  identifier of the customer. Created by you.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}}}s:14:\"PersonaRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:14:\"PersonaRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"firstName\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  firstname of this persona. limited to 35 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:8:\"lastName\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  lastname of this persona. limited to 35 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:5:\"phone\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  phone of the persona. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:16;}s:6:\"mobile\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  mobile of the persona. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:16;}s:3:\"fax\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  fax of the persona. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:16;}s:8:\"birthday\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  birthday of the persona. Format as milliseconds since epoch representing UTC Date.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:9:\"date-time\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/GenderBaseTypeEnum\";}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  title of the persona.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}}}s:14:\"AddressRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:14:\"AddressRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"firstName\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  firstname of this address. limited to 35 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:8:\"lastName\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  lastname of this address. limited to 35 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:6:\"street\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  street of this address.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:11:\"houseNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  housenumber of the street.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:4:\"city\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  city of the address.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:3:\"zip\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  zip of the address.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:10;}s:7:\"country\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"The
  country of the address. Format [https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2]\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  state of the address.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:5:\"phone\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  phone of the address. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:16;}s:3:\"fax\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  fax of the address. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:16;}s:6:\"mobile\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  mobile of the address. limited to 16 characters!\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  title of the address.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:35;}s:17:\"additionalDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Additional
  details for this address. This is a form free descriptor.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}}}s:33:\"CustomerPaymentInstrumentRelation\";O:8:\"stdClass\":4:{s:5:\"title\";s:33:\"CustomerPaymentInstrumentRelation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"paymentInstrumentId\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"The
  identifier of a paymentinstrument which will be connected to the customer.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}}s:8:\"required\";a:1:{i:0;s:19:\"paymentInstrumentId\";}}s:24:\"PaymentInstrumentPayment\";O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"PaymentInstrumentPayment\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:10:\"cardNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:119:\"The
  Creditcard PAN used to proceed. (mandatory for creditcard, optional if a creditcard
  paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:12;s:9:\"maxLength\";i:19;}s:7:\"country\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  country which is used. (mandatory for klarna)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  currency which is used. (mandatory for klarna)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  locale which is used. (mandatory for klarna)\";s:4:\"type\";s:6:\"string\";}s:12:\"verification\";O:8:\"stdClass\":4:{s:11:\"description\";s:126:\"The
  verification number of the creditcard. (mandatory for creditcard, optional if a
  creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:4;}s:11:\"expiryMonth\";O:8:\"stdClass\":4:{s:11:\"description\";s:163:\"The
  expiry month of the creditcard. Format: 01 -> january, 02 -> February, etc. (mandatory
  for creditcard, optional if a creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:10:\"expiryYear\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"The
  expiry year of the creditcard. Format: 01 -> 2001, 02 -> 2002, etc. (mandatory for
  creditcard, optional if a creditcard paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:10:\"cardHolder\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  full name of the cardholder.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:128;}s:8:\"bankName\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"The
  name of the bank of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:4:\"iban\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"IBAN
  of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:34;}s:3:\"bic\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"BIC
  of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId
  was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:8;s:9:\"maxLength\";i:11;}s:13:\"accountHolder\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  account holders name of the SEPA account. (mandatory for sepa, optional if a sepa
  paymentInstrumentId was passed)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:4;s:9:\"maxLength\";i:128;}s:8:\"customer\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"ID
  of the customer\";s:4:\"type\";s:6:\"string\";}s:7:\"mandate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MandateRequest\";}s:6:\"basket\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BasketRequest\";}s:16:\"recurringConsent\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"For
  CreditCard only\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:4:\"null\";i:1;s:8:\"NO_STORE\";i:2;s:9:\"ONE_CLICK\";i:3;s:18:\"MERCHANT_INITIATED\";i:4;s:28:\"ONE_CLICK,MERCHANT_INITIATED\";}}}}s:24:\"PaymentInstrumentRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:24:\"PaymentInstrumentRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ProductEnum\";}s:27:\"merchantPaymentInstrumentId\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"The
  identifier of the paymentinstrument on your system. Created by you. limited to 100
  characters.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:7:\"payment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/PaymentInstrumentPayment\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:30:\"PaymentInstrumentUpdateRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:30:\"PaymentInstrumentUpdateRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Type
  of the selected payment method provided by Klarna. E.g. klarna-pay-later\";s:4:\"type\";s:6:\"string\";}s:12:\"verification\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  verification number of the creditcard. (CC only)\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:4;}s:11:\"expiryMonth\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  expiry month of the creditcard. (CC only)\";s:4:\"type\";s:6:\"string\";}s:10:\"expiryYear\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  expiry year of the creditcard. (CC only)\";s:4:\"type\";s:6:\"string\";}s:10:\"cardHolder\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  name of the creditcard holder. (CC only)\";s:4:\"type\";s:6:\"string\";}s:8:\"bankName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  name of the bank. (SEPA only)\";s:4:\"type\";s:6:\"string\";}s:3:\"bic\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  BIC of the bank. (SEPA only)\";s:4:\"type\";s:6:\"string\";}s:13:\"accountHolder\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  name of the bank account holder. (SEPA only)\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Country
  which is used\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Currency
  which is used\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Locale
  which is used\";s:4:\"type\";s:6:\"string\";}s:8:\"customer\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  id of the customer\";s:4:\"type\";s:6:\"string\";}s:14:\"billingAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  id of the billing address\";s:4:\"type\";s:6:\"string\";}s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  id of the shipping address\";s:4:\"type\";s:6:\"string\";}s:7:\"mandate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MandateRequest\";}s:6:\"basket\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BasketRequest\";}}}s:18:\"DeviceIdentRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"DeviceIdentRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"deviceIdentToken\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:128;}}}s:19:\"DeviceIdentResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"DeviceIdentResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"fraudscore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"fraudscoreRaw\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"ruleScores\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"fraudscoreRulematches\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"regioncode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"continent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"regionname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countrycode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"exactidCreated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"smartidCreated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"exactid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"confidencelevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"smartid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"confidencelevelhistory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"verifiedOs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"languages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"MetaRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:11:\"MetaRequest\";s:4:\"type\";s:6:\"object\";s:11:\"description\";s:60:\"Contains
  specific information for different payment methods.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"invoicing\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"RatePAY/PayPal
  specific parameter.\";s:4:\"$ref\";s:23:\"#/definitions/Invoicing\";}s:17:\"preferredLanguage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"Works
  with RatePay, iDEAL, Alipay, Bancontact and WeChat Pay. Two-letter language code,
  lower case.\";s:9:\"maxLength\";i:2;}s:11:\"referenceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"RatePAY
  specific parameter.\";s:9:\"maxLength\";i:255;}s:15:\"addressOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:140:\"Paypal
  specific parameter. If false the shipping address passed with the request will be
  editable on the paypal site. Default value is true.\";}s:3:\"tan\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Second
  factor for online bank transfer based refunds\";}s:10:\"mobileView\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:53:\"Set
  to true for the mobile enabled variant of Alipay.\";}}}s:9:\"Invoicing\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"Invoicing\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"invoiceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"For
  PayPal only this parameter is used.\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:11:\"invoiceDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Timestamp
  - earliest - 7 days before request, latest - day of request.\";s:4:\"type\";s:7:\"integer\";}s:12:\"deliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Timestamp
  - earliest - 365 days before request, latest - 365 days after request.\";s:4:\"type\";s:7:\"integer\";}s:7:\"dueDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Timestamp
  - not before date of request AND not before invoice-date (if present).\";s:4:\"type\";s:7:\"integer\";}}}s:8:\"Tracking\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Tracking\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"trackingId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:3:\"DPD\";i:1;s:3:\"GLS\";i:2;s:3:\"DHL\";i:3;s:3:\"HLG\";i:4;s:3:\"HVS\";i:5;s:3:\"UPS\";i:6;s:3:\"TNT\";i:7;s:3:\"OTH\";}}}}s:11:\"ProductEnum\";O:8:\"stdClass\":4:{s:5:\"title\";s:11:\"productEnum\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  product which is represented by a paymentinstrument.\";s:4:\"enum\";a:3:{i:0;s:10:\"creditcard\";i:1;s:4:\"sepa\";i:2;s:6:\"klarna\";}}s:11:\"AddressList\";O:8:\"stdClass\":4:{s:5:\"title\";s:11:\"AddressList\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"elements\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  list of addresses.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AddressResponse\";}}s:10:\"totalPages\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"A
  counter for the total pages returned.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:3:\"int\";s:7:\"minimum\";i:1;}}s:8:\"required\";a:2:{i:0;s:8:\"elements\";i:1;s:10:\"totalPages\";}}s:11:\"PersonaList\";O:8:\"stdClass\":4:{s:5:\"title\";s:11:\"PersonaList\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"elements\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"A
[...]
