---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:3:\"API\";s:11:\"description\";s:21:\"TODO:
  Add Description\";}"
host: api.lyfted.co
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":33:{s:12:\"LoginRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:12:\"loginRequest\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"email\";s:17:\"admin@yopmail.com\";s:8:\"password\";s:9:\"Chetu@123\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:17:\"admin@yopmail.com\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:9:\"Chetu@123\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:8:\"password\";}}s:21:\"ApiKeyGeneraterequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:23:\"api
  key generateRequest\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"email\";s:17:\"admin@yopmail.com\";s:8:\"password\";s:9:\"Chetu@123\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:17:\"admin@yopmail.com\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:9:\"Chetu@123\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:8:\"password\";}}s:17:\"GetSingleCustomer\";O:8:\"stdClass\":5:{s:5:\"title\";s:19:\"Get
  single customer\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"response\";b:1;s:4:\"data\";O:8:\"stdClass\":63:{s:7:\"picture\";O:8:\"stdClass\":3:{s:5:\"small\";s:74:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_small.jpg\";s:6:\"medium\";s:75:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_medium.jpg\";s:5:\"large\";s:74:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_large.jpg\";}s:4:\"city\";s:11:\"New
  Updated\";s:5:\"state\";s:3:\"LOS\";s:8:\"zip_code\";s:4:\"null\";s:12:\"phone_number\";s:11:\"92555855676\";s:17:\"phone_number_home\";s:0:\"\";s:13:\"phone_carrier\";s:0:\"\";s:17:\"contact_via_email\";b:1;s:8:\"resident\";b:1;s:16:\"contact_via_mail\";b:1;s:17:\"contact_via_phone\";b:1;s:22:\"drivers_license_number\";s:4:\"null\";s:25:\"drivers_license_expire_at\";s:22:\"\"2020-05-31T18:30:00Z\"\";s:15:\"passport_number\";s:4:\"null\";s:18:\"passport_expire_at\";s:4:\"null\";s:19:\"registration_number\";i:1;s:17:\"registration_date\";s:4:\"null\";s:9:\"caregiver\";s:0:\"\";s:9:\"physician\";s:0:\"\";s:19:\"verification_number\";s:0:\"\";s:16:\"verification_web\";s:0:\"\";s:31:\"primary_center_designation_date\";s:4:\"null\";s:14:\"primary_center\";b:0;s:24:\"customer_max_plant_count\";s:4:\"null\";s:16:\"newsletter_group\";s:0:\"\";s:8:\"referral\";s:0:\"\";s:18:\"referral_signature\";s:19:\"sjdfk934509hjh83095\";s:16:\"application_date\";s:22:\"\"2018-03-14T18:30:00Z\"\";s:14:\"custom_barcode\";s:0:\"\";s:20:\"custom_membership_id\";s:17:\"20130307937600155\";s:13:\"monthly_quota\";i:0;s:18:\"monthly_quota_unit\";s:0:\"\";s:10:\"tax_exempt\";b:0;s:9:\"wholesale\";b:0;s:9:\"confirmed\";b:1;s:14:\"confirmed_date\";s:4:\"null\";s:18:\"customer_signature\";s:4:\"null\";s:18:\"membership_expired\";s:26:\"\"2018-05-31T11:13:38.302Z\"\";s:17:\"available_credits\";i:0;s:12:\"total_visits\";i:0;s:12:\"created_date\";s:26:\"\"2018-03-19T17:06:14.363Z\"\";s:12:\"updated_date\";s:4:\"null\";s:10:\"is_deleted\";b:0;s:12:\"deleted_date\";s:4:\"null\";s:9:\"is_locked\";b:0;s:11:\"lock_reason\";s:4:\"null\";s:11:\"locked_date\";s:4:\"null\";s:13:\"unlocked_date\";s:4:\"null\";s:3:\"_id\";s:24:\"5aa3d8814ef6ec2b24bb868d\";s:10:\"created_at\";s:26:\"\"2018-03-10T13:00:46.967Z\"\";s:4:\"name\";s:11:\"Larry
  Davis\";s:7:\"address\";s:32:\"2890 Big Indian Kenner, LA 70062\";s:6:\"gender\";s:7:\"genddre\";s:5:\"email\";s:18:\"ldavis@yopmail.com\";s:3:\"dob\";s:22:\"19-06-12T00:00:00.000Z\";s:17:\"drivers_expire_at\";s:4:\"null\";s:15:\"card_expired_at\";s:22:\"\"2018-05-31T18:30:00Z\"\";s:15:\"membership_type\";i:1;s:12:\"license_type\";i:1;s:13:\"dispensary_id\";s:24:\"5b27e67bebfc350005fe2f40\";s:10:\"created_by\";s:24:\"5aa92816d493de2fb4c614f5\";s:17:\"patient_signature\";s:4:\"null\";s:3:\"__v\";i:0;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"response\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Data\";}}s:8:\"required\";a:2:{i:0;s:8:\"response\";i:1;s:4:\"data\";}}s:4:\"Data\";O:8:\"stdClass\":5:{s:5:\"title\";s:4:\"Data\";s:7:\"example\";O:8:\"stdClass\":63:{s:7:\"picture\";O:8:\"stdClass\":3:{s:5:\"small\";s:74:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_small.jpg\";s:6:\"medium\";s:75:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_medium.jpg\";s:5:\"large\";s:74:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_large.jpg\";}s:4:\"city\";s:11:\"New
  Updated\";s:5:\"state\";s:3:\"LOS\";s:8:\"zip_code\";N;s:12:\"phone_number\";s:11:\"92555855676\";s:17:\"phone_number_home\";s:0:\"\";s:13:\"phone_carrier\";s:0:\"\";s:17:\"contact_via_email\";b:1;s:8:\"resident\";b:1;s:16:\"contact_via_mail\";b:1;s:17:\"contact_via_phone\";b:1;s:22:\"drivers_license_number\";N;s:25:\"drivers_license_expire_at\";s:20:\"2020-05-31T18:30:00Z\";s:15:\"passport_number\";N;s:18:\"passport_expire_at\";N;s:19:\"registration_number\";i:1;s:17:\"registration_date\";N;s:9:\"caregiver\";s:0:\"\";s:9:\"physician\";s:0:\"\";s:19:\"verification_number\";s:0:\"\";s:16:\"verification_web\";s:0:\"\";s:31:\"primary_center_designation_date\";N;s:14:\"primary_center\";b:0;s:24:\"customer_max_plant_count\";N;s:16:\"newsletter_group\";s:0:\"\";s:8:\"referral\";s:0:\"\";s:18:\"referral_signature\";s:19:\"sjdfk934509hjh83095\";s:16:\"application_date\";s:20:\"2018-03-14T18:30:00Z\";s:14:\"custom_barcode\";s:0:\"\";s:20:\"custom_membership_id\";s:17:\"20130307937600155\";s:13:\"monthly_quota\";i:0;s:18:\"monthly_quota_unit\";s:0:\"\";s:10:\"tax_exempt\";b:0;s:9:\"wholesale\";b:0;s:9:\"confirmed\";b:1;s:14:\"confirmed_date\";N;s:18:\"customer_signature\";N;s:18:\"membership_expired\";s:24:\"2018-05-31T11:13:38.302Z\";s:17:\"available_credits\";i:0;s:12:\"total_visits\";i:0;s:12:\"created_date\";s:24:\"2018-03-19T17:06:14.363Z\";s:12:\"updated_date\";N;s:10:\"is_deleted\";b:0;s:12:\"deleted_date\";N;s:9:\"is_locked\";b:0;s:11:\"lock_reason\";N;s:11:\"locked_date\";N;s:13:\"unlocked_date\";N;s:3:\"_id\";s:24:\"5aa3d8814ef6ec2b24bb868d\";s:10:\"created_at\";s:24:\"2018-03-10T13:00:46.967Z\";s:4:\"name\";s:11:\"Larry
  Davis\";s:7:\"address\";s:32:\"2890 Big Indian Kenner, LA 70062\";s:6:\"gender\";s:7:\"genddre\";s:5:\"email\";s:18:\"ldavis@yopmail.com\";s:3:\"dob\";s:22:\"19-06-12T00:00:00.000Z\";s:17:\"drivers_expire_at\";N;s:15:\"card_expired_at\";s:20:\"2018-05-31T18:30:00Z\";s:15:\"membership_type\";i:1;s:12:\"license_type\";i:1;s:13:\"dispensary_id\";s:24:\"5b27e67bebfc350005fe2f40\";s:10:\"created_by\";s:24:\"5aa92816d493de2fb4c614f5\";s:17:\"patient_signature\";N;s:3:\"__v\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":63:{s:7:\"picture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Picture\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:11:\"New
  Updated\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"LOS\";s:4:\"type\";s:6:\"string\";}s:8:\"zip_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:11:\"92555855676\";s:4:\"type\";s:6:\"string\";}s:17:\"phone_number_home\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"phone_carrier\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"contact_via_email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:8:\"resident\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:16:\"contact_via_mail\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:17:\"contact_via_phone\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:22:\"drivers_license_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:25:\"drivers_license_expire_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"5/31/2020
  6:30:00 PM\";s:4:\"type\";s:6:\"string\";}s:15:\"passport_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"passport_expire_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"registration_number\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:17:\"registration_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"caregiver\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"physician\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"verification_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"verification_web\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:31:\"primary_center_designation_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"primary_center\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:24:\"customer_max_plant_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"newsletter_group\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"referral\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"referral_signature\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:19:\"sjdfk934509hjh83095\";s:4:\"type\";s:6:\"string\";}s:16:\"application_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"3/14/2018
  6:30:00 PM\";s:4:\"type\";s:6:\"string\";}s:14:\"custom_barcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"custom_membership_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:17:\"20130307937600155\";s:4:\"type\";s:6:\"string\";}s:13:\"monthly_quota\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:18:\"monthly_quota_unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"tax_exempt\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:9:\"wholesale\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:9:\"confirmed\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:14:\"confirmed_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"customer_signature\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"membership_expired\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:21:\"5/31/2018
  11:13:38 AM\";s:4:\"type\";s:6:\"string\";}s:17:\"available_credits\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"total_visits\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"created_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"3/19/2018
  5:06:14 PM\";s:4:\"type\";s:6:\"string\";}s:12:\"updated_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"is_deleted\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:12:\"deleted_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"is_locked\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:11:\"lock_reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"locked_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"unlocked_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5aa3d8814ef6ec2b24bb868d\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"3/10/2018
  1:00:46 PM\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:11:\"Larry
  Davis\";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:32:\"2890
  Big Indian Kenner, LA 70062\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:7:\"genddre\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:18:\"ldavis@yopmail.com\";s:4:\"type\";s:6:\"string\";}s:3:\"dob\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:22:\"19-06-12T00:00:00.000Z\";s:4:\"type\";s:6:\"string\";}s:17:\"drivers_expire_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"card_expired_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"5/31/2018
  6:30:00 PM\";s:4:\"type\";s:6:\"string\";}s:15:\"membership_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"license_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"dispensary_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5b27e67bebfc350005fe2f40\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5aa92816d493de2fb4c614f5\";s:4:\"type\";s:6:\"string\";}s:17:\"patient_signature\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"__v\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:63:{i:0;s:7:\"picture\";i:1;s:4:\"city\";i:2;s:5:\"state\";i:3;s:8:\"zip_code\";i:4;s:12:\"phone_number\";i:5;s:17:\"phone_number_home\";i:6;s:13:\"phone_carrier\";i:7;s:17:\"contact_via_email\";i:8;s:8:\"resident\";i:9;s:16:\"contact_via_mail\";i:10;s:17:\"contact_via_phone\";i:11;s:22:\"drivers_license_number\";i:12;s:25:\"drivers_license_expire_at\";i:13;s:15:\"passport_number\";i:14;s:18:\"passport_expire_at\";i:15;s:19:\"registration_number\";i:16;s:17:\"registration_date\";i:17;s:9:\"caregiver\";i:18;s:9:\"physician\";i:19;s:19:\"verification_number\";i:20;s:16:\"verification_web\";i:21;s:31:\"primary_center_designation_date\";i:22;s:14:\"primary_center\";i:23;s:24:\"customer_max_plant_count\";i:24;s:16:\"newsletter_group\";i:25;s:8:\"referral\";i:26;s:18:\"referral_signature\";i:27;s:16:\"application_date\";i:28;s:14:\"custom_barcode\";i:29;s:20:\"custom_membership_id\";i:30;s:13:\"monthly_quota\";i:31;s:18:\"monthly_quota_unit\";i:32;s:10:\"tax_exempt\";i:33;s:9:\"wholesale\";i:34;s:9:\"confirmed\";i:35;s:14:\"confirmed_date\";i:36;s:18:\"customer_signature\";i:37;s:18:\"membership_expired\";i:38;s:17:\"available_credits\";i:39;s:12:\"total_visits\";i:40;s:12:\"created_date\";i:41;s:12:\"updated_date\";i:42;s:10:\"is_deleted\";i:43;s:12:\"deleted_date\";i:44;s:9:\"is_locked\";i:45;s:11:\"lock_reason\";i:46;s:11:\"locked_date\";i:47;s:13:\"unlocked_date\";i:48;s:3:\"_id\";i:49;s:10:\"created_at\";i:50;s:4:\"name\";i:51;s:7:\"address\";i:52;s:6:\"gender\";i:53;s:5:\"email\";i:54;s:3:\"dob\";i:55;s:17:\"drivers_expire_at\";i:56;s:15:\"card_expired_at\";i:57;s:15:\"membership_type\";i:58;s:12:\"license_type\";i:59;s:13:\"dispensary_id\";i:60;s:10:\"created_by\";i:61;s:17:\"patient_signature\";i:62;s:3:\"__v\";}}s:7:\"Picture\";O:8:\"stdClass\":5:{s:5:\"title\";s:7:\"Picture\";s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"small\";s:74:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_small.jpg\";s:6:\"medium\";s:75:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_medium.jpg\";s:5:\"large\";s:74:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_large.jpg\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"small\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:74:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_small.jpg\";s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:75:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_medium.jpg\";s:4:\"type\";s:6:\"string\";}s:5:\"large\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:74:\"/images/profile/patient/patient_profile_5aa3d8814ef6ec2b24bb868d_large.jpg\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"small\";i:1;s:6:\"medium\";i:2;s:5:\"large\";}}s:17:\"AddPatientrequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:18:\"Add
  patientRequest\";s:7:\"example\";O:8:\"stdClass\":12:{s:4:\"name\";s:13:\"Tarun
  Sharma4\";s:5:\"email\";s:18:\"truns4@yopmail.com\";s:12:\"phone_number\";s:13:\"1234567981722\";s:19:\"registration_number\";s:11:\"00011144744\";s:17:\"registration_date\";s:10:\"2018-05-20\";s:15:\"card_expired_at\";s:10:\"2020-10-12\";s:15:\"membership_type\";i:1;s:12:\"license_type\";i:1;s:16:\"application_date\";s:10:\"2018-05-20\";s:7:\"address\";s:9:\"Noida,
  UP\";s:3:\"dob\";s:10:\"1990-10-20\";s:6:\"gender\";s:1:\"M\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:13:\"Tarun
  Sharma4\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:18:\"truns4@yopmail.com\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:13:\"1234567981722\";s:4:\"type\";s:6:\"string\";}s:19:\"registration_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:11:\"00011144744\";s:4:\"type\";s:6:\"string\";}s:17:\"registration_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:10:\"2018-05-20\";s:4:\"type\";s:6:\"string\";}s:15:\"card_expired_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:10:\"2020-10-12\";s:4:\"type\";s:6:\"string\";}s:15:\"membership_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"license_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"application_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:10:\"2018-05-20\";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:9:\"Noida,
  UP\";s:4:\"type\";s:6:\"string\";}s:3:\"dob\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:10:\"1990-10-20\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"M\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:12:{i:0;s:4:\"name\";i:1;s:5:\"email\";i:2;s:12:\"phone_number\";i:3;s:19:\"registration_number\";i:4;s:17:\"registration_date\";i:5;s:15:\"card_expired_at\";i:6;s:15:\"membership_type\";i:7;s:12:\"license_type\";i:8;s:16:\"application_date\";i:9;s:7:\"address\";i:10;s:3:\"dob\";i:11;s:6:\"gender\";}}s:13:\"AddNewPatient\";O:8:\"stdClass\":5:{s:5:\"title\";s:15:\"Add
  new Patient\";s:7:\"example\";O:8:\"stdClass\":3:{s:8:\"response\";b:1;s:7:\"message\";s:22:\"Patient
  has been added\";s:4:\"data\";O:8:\"stdClass\":8:{s:8:\"pre_data\";s:4:\"null\";s:9:\"post_data\";O:8:\"stdClass\":14:{s:4:\"name\";s:12:\"Tarun
  Sharma\";s:5:\"email\";s:17:\"truns@yopmail.com\";s:12:\"phone_number\";s:8:\"12345679\";s:19:\"registration_number\";s:9:\"000111444\";s:17:\"registration_date\";s:22:\"\"2018-05-20T00:00:00Z\"\";s:15:\"card_expired_at\";s:22:\"\"2020-10-12T00:00:00Z\"\";s:15:\"membership_type\";i:1;s:12:\"license_type\";i:1;s:16:\"application_date\";s:22:\"\"2018-05-20T00:00:00Z\"\";s:7:\"address\";s:9:\"Noida,
  UP\";s:3:\"dob\";s:22:\"\"1990-10-20T00:00:00Z\"\";s:6:\"gender\";s:1:\"M\";s:10:\"created_by\";s:24:\"5aa92816d493de2fb4c614f5\";s:13:\"dispensary_id\";s:24:\"5b27e67bebfc350005fe2f40\";}s:12:\"created_date\";s:26:\"\"2018-05-22T12:14:23.485Z\"\";s:3:\"_id\";s:24:\"5b0409e91cb98b2fe0264abd\";s:9:\"operation\";s:7:\"created\";s:6:\"module\";s:9:\"customers\";s:10:\"created_by\";s:24:\"5aa92816d493de2fb4c614f5\";s:3:\"__v\";i:0;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"response\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:22:\"Patient
  has been added\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Data7\";}}s:8:\"required\";a:3:{i:0;s:8:\"response\";i:1;s:7:\"message\";i:2;s:4:\"data\";}}s:5:\"Data7\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"Data7\";s:7:\"example\";O:8:\"stdClass\":8:{s:8:\"pre_data\";N;s:9:\"post_data\";O:8:\"stdClass\":14:{s:4:\"name\";s:12:\"Tarun
  Sharma\";s:5:\"email\";s:17:\"truns@yopmail.com\";s:12:\"phone_number\";s:8:\"12345679\";s:19:\"registration_number\";s:9:\"000111444\";s:17:\"registration_date\";s:20:\"2018-05-20T00:00:00Z\";s:15:\"card_expired_at\";s:20:\"2020-10-12T00:00:00Z\";s:15:\"membership_type\";i:1;s:12:\"license_type\";i:1;s:16:\"application_date\";s:20:\"2018-05-20T00:00:00Z\";s:7:\"address\";s:9:\"Noida,
  UP\";s:3:\"dob\";s:20:\"1990-10-20T00:00:00Z\";s:6:\"gender\";s:1:\"M\";s:10:\"created_by\";s:24:\"5aa92816d493de2fb4c614f5\";s:13:\"dispensary_id\";s:24:\"5b27e67bebfc350005fe2f40\";}s:12:\"created_date\";s:24:\"2018-05-22T12:14:23.485Z\";s:3:\"_id\";s:24:\"5b0409e91cb98b2fe0264abd\";s:9:\"operation\";s:7:\"created\";s:6:\"module\";s:9:\"customers\";s:10:\"created_by\";s:24:\"5aa92816d493de2fb4c614f5\";s:3:\"__v\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"pre_data\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"post_data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PostData\";}s:12:\"created_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:21:\"5/22/2018
  12:14:23 PM\";s:4:\"type\";s:6:\"string\";}s:3:\"_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5b0409e91cb98b2fe0264abd\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:7:\"created\";s:4:\"type\";s:6:\"string\";}s:6:\"module\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:9:\"customers\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5aa92816d493de2fb4c614f5\";s:4:\"type\";s:6:\"string\";}s:3:\"__v\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:8:{i:0;s:8:\"pre_data\";i:1;s:9:\"post_data\";i:2;s:12:\"created_date\";i:3;s:3:\"_id\";i:4;s:9:\"operation\";i:5;s:6:\"module\";i:6;s:10:\"created_by\";i:7;s:3:\"__v\";}}s:8:\"PostData\";O:8:\"stdClass\":5:{s:5:\"title\";s:8:\"PostData\";s:7:\"example\";O:8:\"stdClass\":14:{s:4:\"name\";s:12:\"Tarun
  Sharma\";s:5:\"email\";s:17:\"truns@yopmail.com\";s:12:\"phone_number\";s:8:\"12345679\";s:19:\"registration_number\";s:9:\"000111444\";s:17:\"registration_date\";s:20:\"2018-05-20T00:00:00Z\";s:15:\"card_expired_at\";s:20:\"2020-10-12T00:00:00Z\";s:15:\"membership_type\";i:1;s:12:\"license_type\";i:1;s:16:\"application_date\";s:20:\"2018-05-20T00:00:00Z\";s:7:\"address\";s:9:\"Noida,
  UP\";s:3:\"dob\";s:20:\"1990-10-20T00:00:00Z\";s:6:\"gender\";s:1:\"M\";s:10:\"created_by\";s:24:\"5aa92816d493de2fb4c614f5\";s:13:\"dispensary_id\";s:24:\"5b27e67bebfc350005fe2f40\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:12:\"Tarun
  Sharma\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:17:\"truns@yopmail.com\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:8:\"12345679\";s:4:\"type\";s:6:\"string\";}s:19:\"registration_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:9:\"000111444\";s:4:\"type\";s:6:\"string\";}s:17:\"registration_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:21:\"5/20/2018
  12:00:00 AM\";s:4:\"type\";s:6:\"string\";}s:15:\"card_expired_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:22:\"10/12/2020
  12:00:00 AM\";s:4:\"type\";s:6:\"string\";}s:15:\"membership_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"license_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"application_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:21:\"5/20/2018
  12:00:00 AM\";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:9:\"Noida,
  UP\";s:4:\"type\";s:6:\"string\";}s:3:\"dob\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:22:\"10/20/1990
  12:00:00 AM\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"M\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5aa92816d493de2fb4c614f5\";s:4:\"type\";s:6:\"string\";}s:13:\"dispensary_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5b27e67bebfc350005fe2f40\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:14:{i:0;s:4:\"name\";i:1;s:5:\"email\";i:2;s:12:\"phone_number\";i:3;s:19:\"registration_number\";i:4;s:17:\"registration_date\";i:5;s:15:\"card_expired_at\";i:6;s:15:\"membership_type\";i:7;s:12:\"license_type\";i:8;s:16:\"application_date\";i:9;s:7:\"address\";i:10;s:3:\"dob\";i:11;s:6:\"gender\";i:12;s:10:\"created_by\";i:13;s:13:\"dispensary_id\";}}s:18:\"EditPatientrequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:19:\"Edit
  patientRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"gender\";s:1:\"M\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"M\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"gender\";}}s:18:\"LockPatientrequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:19:\"Lock
  patientRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"lock_reason\";s:16:\"test
  lock reason\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"lock_reason\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:16:\"test
  lock reason\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"lock_reason\";}}s:20:\"UnlockPatientrequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:21:\"Unlock
  patientRequest\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"email\";s:16:\"sonu@yopmail.com\";s:8:\"password\";s:6:\"123456\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:16:\"sonu@yopmail.com\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:6:\"123456\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:8:\"password\";}}s:14:\"AddNoterequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:15:\"Add
  noteRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"note\";s:10:\"test note4\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"note\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:10:\"test
  note4\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"note\";}}s:15:\"EditNoterequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:16:\"Edit
  noteRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"note\";s:18:\"test note4
  updated\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"note\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:18:\"test
  note4 updated\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"note\";}}s:18:\"AddFavoriterequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:19:\"Add
  favoriteRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"favorite\";s:14:\"test
  favorite2\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"favorite\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:14:\"test
  favorite2\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"favorite\";}}s:19:\"EditFavoriterequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:20:\"Edit
  favoriteRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"favorite\";s:22:\"test
  favorite2 updated\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"favorite\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:22:\"test
  favorite2 updated\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"favorite\";}}s:23:\"GetPatientByLicenseType\";O:8:\"stdClass\":4:{s:5:\"title\";s:27:\"get
  patient by license type\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"response\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"count\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:4;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Data17\";}}}s:8:\"required\";a:3:{i:0;s:8:\"response\";i:1;s:5:\"count\";i:2;s:4:\"data\";}}s:6:\"Data17\";O:8:\"stdClass\":4:{s:5:\"title\";s:6:\"Data17\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":67:{s:7:\"picture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Picture\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:11:\"New
  Updated\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"LOS\";s:4:\"type\";s:6:\"string\";}s:8:\"zip_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:11:\"92555855676\";s:4:\"type\";s:6:\"string\";}s:17:\"phone_number_home\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"phone_carrier\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"contact_via_email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:8:\"resident\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:16:\"contact_via_mail\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:17:\"contact_via_phone\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:22:\"drivers_license_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:25:\"drivers_license_expire_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"5/31/2020
  6:30:00 PM\";s:4:\"type\";s:6:\"string\";}s:15:\"passport_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"passport_expire_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"registration_number\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:17:\"registration_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"caregiver\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"physician\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"verification_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"verification_web\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:31:\"primary_center_designation_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"primary_center\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:24:\"customer_max_plant_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"newsletter_group\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"referral\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"referral_signature\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:19:\"sjdfk934509hjh83095\";s:4:\"type\";s:6:\"string\";}s:16:\"application_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"3/14/2018
  6:30:00 PM\";s:4:\"type\";s:6:\"string\";}s:14:\"custom_barcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"custom_membership_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:17:\"20130307937600155\";s:4:\"type\";s:6:\"string\";}s:13:\"monthly_quota\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:18:\"monthly_quota_unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"tax_exempt\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:9:\"wholesale\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:9:\"confirmed\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:14:\"confirmed_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"customer_signature\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"membership_expired\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:21:\"5/31/2018
  11:13:38 AM\";s:4:\"type\";s:6:\"string\";}s:17:\"available_credits\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"total_visits\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"created_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"3/19/2018
  5:06:14 PM\";s:4:\"type\";s:6:\"string\";}s:12:\"updated_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"is_deleted\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:12:\"deleted_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"is_locked\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:11:\"lock_reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"locked_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"unlocked_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5aa3d8814ef6ec2b24bb868d\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:11:\"Larry
  Davis\";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:32:\"2890
  Big Indian Kenner, LA 70062\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:7:\"genddre\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:18:\"ldavis@yopmail.com\";s:4:\"type\";s:6:\"string\";}s:3:\"dob\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:22:\"19-06-12T00:00:00.000Z\";s:4:\"type\";s:6:\"string\";}s:15:\"card_expired_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"5/31/2018
  6:30:00 PM\";s:4:\"type\";s:6:\"string\";}s:15:\"membership_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"license_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"dispensary_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5b27e67bebfc350005fe2f40\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5aa92816d493de2fb4c614f5\";s:4:\"type\";s:6:\"string\";}s:17:\"patient_signature\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"__v\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"3/10/2018
  1:00:46 PM\";s:4:\"type\";s:6:\"string\";}s:17:\"drivers_expire_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"locked_by\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5aa92816d493de2fb4c614f5\";s:4:\"type\";s:6:\"string\";}s:11:\"unlocked_by\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_by\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5aa92816d493de2fb4c614f5\";s:4:\"type\";s:6:\"string\";}s:10:\"deleted_by\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5aa92816d493de2fb4c614f5\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:61:{i:0;s:7:\"picture\";i:1;s:4:\"city\";i:2;s:5:\"state\";i:3;s:8:\"zip_code\";i:4;s:12:\"phone_number\";i:5;s:17:\"phone_number_home\";i:6;s:13:\"phone_carrier\";i:7;s:17:\"contact_via_email\";i:8;s:8:\"resident\";i:9;s:16:\"contact_via_mail\";i:10;s:17:\"contact_via_phone\";i:11;s:22:\"drivers_license_number\";i:12;s:25:\"drivers_license_expire_at\";i:13;s:15:\"passport_number\";i:14;s:18:\"passport_expire_at\";i:15;s:19:\"registration_number\";i:16;s:17:\"registration_date\";i:17;s:9:\"caregiver\";i:18;s:9:\"physician\";i:19;s:19:\"verification_number\";i:20;s:16:\"verification_web\";i:21;s:31:\"primary_center_designation_date\";i:22;s:14:\"primary_center\";i:23;s:24:\"customer_max_plant_count\";i:24;s:16:\"newsletter_group\";i:25;s:8:\"referral\";i:26;s:18:\"referral_signature\";i:27;s:16:\"application_date\";i:28;s:14:\"custom_barcode\";i:29;s:20:\"custom_membership_id\";i:30;s:13:\"monthly_quota\";i:31;s:18:\"monthly_quota_unit\";i:32;s:10:\"tax_exempt\";i:33;s:9:\"wholesale\";i:34;s:9:\"confirmed\";i:35;s:14:\"confirmed_date\";i:36;s:18:\"customer_signature\";i:37;s:18:\"membership_expired\";i:38;s:17:\"available_credits\";i:39;s:12:\"total_visits\";i:40;s:12:\"created_date\";i:41;s:12:\"updated_date\";i:42;s:10:\"is_deleted\";i:43;s:12:\"deleted_date\";i:44;s:9:\"is_locked\";i:45;s:11:\"lock_reason\";i:46;s:11:\"locked_date\";i:47;s:13:\"unlocked_date\";i:48;s:3:\"_id\";i:49;s:4:\"name\";i:50;s:7:\"address\";i:51;s:6:\"gender\";i:52;s:5:\"email\";i:53;s:3:\"dob\";i:54;s:15:\"card_expired_at\";i:55;s:15:\"membership_type\";i:56;s:12:\"license_type\";i:57;s:13:\"dispensary_id\";i:58;s:10:\"created_by\";i:59;s:17:\"patient_signature\";i:60;s:3:\"__v\";}}s:18:\"AddEmployeerequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:19:\"Add
  employeeRequest\";s:7:\"example\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:9:\"firstname\";s:4:\"John\";s:8:\"lastname\";s:4:\"Rock\";}s:8:\"password\";s:6:\"123456\";s:14:\"quick_password\";s:4:\"test\";s:5:\"email\";s:17:\"jrock@yopmail.com\";s:6:\"access\";i:1;s:10:\"license_no\";s:7:\"1112233\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Name\";}s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:6:\"123456\";s:4:\"type\";s:6:\"string\";}s:14:\"quick_password\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:4:\"test\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:17:\"jrock@yopmail.com\";s:4:\"type\";s:6:\"string\";}s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"license_no\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:7:\"1112233\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:4:\"name\";i:1;s:8:\"password\";i:2;s:14:\"quick_password\";i:3;s:5:\"email\";i:4;s:6:\"access\";i:5;s:10:\"license_no\";}}s:4:\"Name\";O:8:\"stdClass\":5:{s:5:\"title\";s:4:\"Name\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"firstname\";s:4:\"John\";s:8:\"lastname\";s:4:\"Rock\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:4:\"John\";s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:4:\"Rock\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"firstname\";i:1;s:8:\"lastname\";}}s:18:\"AssignStorerequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:19:\"Assign
  storeRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"dispensary_id\";s:24:\"5b27e67bebfc350005fe2f40\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"dispensary_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5b27e67bebfc350005fe2f40\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"dispensary_id\";}}s:19:\"EditEmployeerequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:20:\"Edit
  employeeRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:9:\"firstname\";s:12:\"test
  updated\";s:8:\"lastname\";s:8:\"employee\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Name\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:14:\"AddMenurequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:15:\"Add
  menuRequest\";s:7:\"example\";O:8:\"stdClass\":11:{s:4:\"name\";s:8:\"501st OG\";s:8:\"category\";i:1;s:12:\"product_type\";i:2;s:15:\"activation_time\";i:0;s:11:\"description\";s:343:\"Our
  ACO capsules contain whole plant cannabis oil. The Master Growers Ethanol extraction
  process preserves the natural cannabinoids, terpenes and alkaloids of the cannabis
  plant. We combine our ACO with organic cacao butter to enhance absorp- tion and
  increase utilization. INGREDIENTS: 25 mg ACO, Organic Cacao Butter, Organic Gelatin
  Capsule\";s:5:\"price\";O:8:\"stdClass\":7:{s:9:\"half_gram\";d:23;s:8:\"one_gram\";d:23;s:8:\"two_gram\";d:23;s:12:\"one_eight_oz\";d:23;s:12:\"one_forth_oz\";d:23;s:7:\"half_oz\";d:23;s:6:\"one_oz\";d:23;}s:9:\"vendor_id\";s:24:\"5abb7da070c6b728e08e56c8\";s:12:\"batch_number\";s:6:\"000004\";s:11:\"stock_units\";s:3:\"0.0\";s:14:\"strain_profile\";O:8:\"stdClass\":2:{s:6:\"indica\";d:0;s:6:\"sativa\";d:0;}s:15:\"lab_test_result\";O:8:\"stdClass\":5:{s:11:\"thc_percent\";d:0;s:12:\"thca_percent\";d:0;s:11:\"cbd_percent\";d:0;s:12:\"cbda_percent\";d:0;s:11:\"cbn_percent\";d:0;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:8:\"501st
  OG\";s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"product_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:2;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"activation_time\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:343:\"Our
  ACO capsules contain whole plant cannabis oil. The Master Growers Ethanol extraction
  process preserves the natural cannabinoids, terpenes and alkaloids of the cannabis
  plant. We combine our ACO with organic cacao butter to enhance absorp- tion and
  increase utilization. INGREDIENTS: 25 mg ACO, Organic Cacao Butter, Organic Gelatin
  Capsule\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:9:\"vendor_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:24:\"5abb7da070c6b728e08e56c8\";s:4:\"type\";s:6:\"string\";}s:12:\"batch_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:6:\"000004\";s:4:\"type\";s:6:\"string\";}s:11:\"stock_units\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"0.0\";s:4:\"type\";s:6:\"string\";}s:14:\"strain_profile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/StrainProfile\";}s:15:\"lab_test_result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LabTestResult\";}}s:8:\"required\";a:11:{i:0;s:4:\"name\";i:1;s:8:\"category\";i:2;s:12:\"product_type\";i:3;s:15:\"activation_time\";i:4;s:11:\"description\";i:5;s:5:\"price\";i:6;s:9:\"vendor_id\";i:7;s:12:\"batch_number\";i:8;s:11:\"stock_units\";i:9;s:14:\"strain_profile\";i:10;s:15:\"lab_test_result\";}}s:5:\"Price\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"Price\";s:7:\"example\";O:8:\"stdClass\":7:{s:9:\"half_gram\";d:23;s:8:\"one_gram\";d:23;s:8:\"two_gram\";d:23;s:12:\"one_eight_oz\";d:23;s:12:\"one_forth_oz\";d:23;s:7:\"half_oz\";d:23;s:6:\"one_oz\";d:23;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"half_gram\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:23;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"one_gram\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:23;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"two_gram\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:23;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"one_eight_oz\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:23;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"one_forth_oz\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:23;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"half_oz\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:23;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:6:\"one_oz\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:23;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:7:{i:0;s:9:\"half_gram\";i:1;s:8:\"one_gram\";i:2;s:8:\"two_gram\";i:3;s:12:\"one_eight_oz\";i:4;s:12:\"one_forth_oz\";i:5;s:7:\"half_oz\";i:6;s:6:\"one_oz\";}}s:13:\"StrainProfile\";O:8:\"stdClass\":5:{s:5:\"title\";s:13:\"StrainProfile\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"indica\";d:0;s:6:\"sativa\";d:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"indica\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:6:\"sativa\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:2:{i:0;s:6:\"indica\";i:1;s:6:\"sativa\";}}s:13:\"LabTestResult\";O:8:\"stdClass\":5:{s:5:\"title\";s:13:\"LabTestResult\";s:7:\"example\";O:8:\"stdClass\":5:{s:11:\"thc_percent\";d:0;s:12:\"thca_percent\";d:0;s:11:\"cbd_percent\";d:0;s:12:\"cbda_percent\";d:0;s:11:\"cbn_percent\";d:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"thc_percent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"thca_percent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:11:\"cbd_percent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"cbda_percent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:11:\"cbn_percent\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:5:{i:0;s:11:\"thc_percent\";i:1;s:12:\"thca_percent\";i:2;s:11:\"cbd_percent\";i:3;s:12:\"cbda_percent\";i:4;s:11:\"cbn_percent\";}}s:15:\"EditMenurequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:16:\"Edit
  menuRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"description\";s:398:\"501st
  OG, bred by Rare Dankness, is an indica-dominant hybrid that crosses Skywalker OG
  with Rare Dankness #1. The colorful flowers are tinged with a wide spectrum of green,
  blue, red, and purple hues that give off a deep piney kush aroma that mixes with
  the sweetness of grape flavors. The potent indica effects make 501st OG a great
  nighttime strain to help with pain relief and trouble sleeping.\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:398:\"501st
  OG, bred by Rare Dankness, is an indica-dominant hybrid that crosses Skywalker OG
  with Rare Dankness #1. The colorful flowers are tinged with a wide spectrum of green,
  blue, red, and purple hues that give off a deep piney kush aroma that mixes with
  the sweetness of grape flavors. The potent indica effects make 501st OG a great
  nighttime strain to help with pain relief and trouble sleeping.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"description\";}}s:17:\"DeleteMenurequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:18:\"Delete
  menuRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"description\";s:398:\"501st
  OG, bred by Rare Dankness, is an indica-dominant hybrid that crosses Skywalker OG
  with Rare Dankness #1. The colorful flowers are tinged with a wide spectrum of green,
  blue, red, and purple hues that give off a deep piney kush aroma that mixes with
  the sweetness of grape flavors. The potent indica effects make 501st OG a great
  nighttime strain to help with pain relief and trouble sleeping.\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:398:\"501st
  OG, bred by Rare Dankness, is an indica-dominant hybrid that crosses Skywalker OG
  with Rare Dankness #1. The colorful flowers are tinged with a wide spectrum of green,
  blue, red, and purple hues that give off a deep piney kush aroma that mixes with
  the sweetness of grape flavors. The potent indica effects make 501st OG a great
  nighttime strain to help with pain relief and trouble sleeping.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"description\";}}s:20:\"AddDispensaryrequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:21:\"Add
  dispensaryRequest\";s:7:\"example\";O:8:\"stdClass\":6:{s:4:\"name\";s:23:\"831
  Organiks- NEW STORE\";s:7:\"address\";s:7:\"Oakland\";s:7:\"country\";s:7:\"America\";s:6:\"region\";s:7:\"oakland\";s:9:\"time_zone\";s:19:\"America/Los_Angeles\";s:12:\"license_type\";s:1:\"1\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:23:\"831
  Organiks- NEW STORE\";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:7:\"Oakland\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:7:\"America\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:7:\"oakland\";s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:19:\"America/Los_Angeles\";s:4:\"type\";s:6:\"string\";}s:12:\"license_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:4:\"name\";i:1;s:7:\"address\";i:2;s:7:\"country\";i:3;s:6:\"region\";i:4;s:9:\"time_zone\";i:5;s:12:\"license_type\";}}s:21:\"EditDispensaryrequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:22:\"Edit
  dispensaryRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"address\";s:20:\"Address
  test upadted\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"Address
  test upadted\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"address\";}}s:23:\"DeleteDispensaryrequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:24:\"Delete
  dispensaryRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"address\";s:20:\"Address
  test upadted\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"Address
  test upadted\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"address\";}}s:16:\"AddVendorrequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:17:\"Add
  vendorRequest\";s:7:\"example\";O:8:\"stdClass\":5:{s:4:\"name\";s:17:\"Organik
  farms -3 \";s:7:\"address\";s:21:\"Organik farms address\";s:12:\"license_type\";s:1:\"1\";s:5:\"email\";s:17:\"farm3@yopmail.com\";s:12:\"phone_number\";s:11:\"12345698727\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:17:\"Organik
  farms -3 \";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:21:\"Organik
  farms address\";s:4:\"type\";s:6:\"string\";}s:12:\"license_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:17:\"farm3@yopmail.com\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:11:\"12345698727\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:7:\"address\";i:2;s:12:\"license_type\";i:3;s:5:\"email\";i:4;s:12:\"phone_number\";}}s:17:\"EditVendorrequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:18:\"Edit
  vendorRequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"email\";s:23:\"ofarm-udate@yopmail.com\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:23:\"ofarm-udate@yopmail.com\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"email\";}}}"
...
