---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"FIM UI service
  API\";s:5:\"title\";s:14:\"FIM UI Service\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:15:\"info@qualys.com\";}}"
host: qualysguard.p04.eng.sjc01.qualys.com
basePath: /fim
paths:
  /rest/1.0/asset:
    get:
      tags:
      - asset-controller
      summary: API to get list of asset
      operationId: getUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: attributes
        in: query
        description: attributes
        required: false
        type: string
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: offset
        in: query
        description: offset
        required: false
        type: integer
        default: 0
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 50
        format: int32
      - name: order
        in: query
        description: order
        required: false
        type: string
      - in: body
        name: qualysSessionCookie
        description: qualysSessionCookie
        required: false
        schema:
          type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FimMonitoringAsset'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events:
    get:
      tags:
      - event-controller
      summary: API to  events
      operationId: getEventsUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: offset
        in: query
        description: offset
        required: false
        type: integer
        default: 0
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 50
        format: int32
      - name: order
        in: query
        description: order
        required: false
        type: string
      - name: isAssignedToIncident
        in: query
        description: isAssignedToIncident
        required: false
        type: string
      - name: incidentIds
        in: query
        description: incidentIds
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FimServiceEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/count:
    get:
      tags:
      - event-controller
      summary: API to  events
      operationId: getEventsCountUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: baseline
        in: query
        description: baseline
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: isAssignedToIncident
        in: query
        description: isAssignedToIncident
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            additionalProperties:
              type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/datalist/download/CSV:
    get:
      tags:
      - event-controller
      summary: API to download Event CSV report
      operationId: csvDownloadUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: order
        in: query
        description: order
        required: false
        type: string
      - name: isAssignedToIncident
        in: query
        description: isAssignedToIncident
        required: false
        type: string
      - name: incidentIds
        in: query
        description: incidentIds
        required: false
        type: string
      - name: timezone
        in: query
        description: timezone
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/ignore:
    get:
      tags:
      - event-controller
      summary: API to fetch ignore events
      operationId: getIgnoredEventsUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: offset
        in: query
        description: offset
        required: false
        type: integer
        default: 0
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 50
        format: int32
      - name: order
        in: query
        description: order
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FimServiceEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/ignore/byfilter:
    post:
      tags:
      - event-controller
      summary: Ignore events by filter
      operationId: ignoreEventByFilterUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: ignoreEvent
        description: ignoreEvent
        required: true
        schema:
          $ref: '#/definitions/FimServiceIgnoreEvent'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/ignore/byid:
    post:
      tags:
      - event-controller
      summary: Ignore events by id's
      operationId: ignoreEventByIdUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: ignoreEvent
        description: ignoreEvent
        required: true
        schema:
          $ref: '#/definitions/FimServiceIgnoreEvent'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/ignore/datalist/download/CSV:
    get:
      tags:
      - event-controller
      summary: API to downloadIgnored Event CSV report
      operationId: ignoredCSVDownloadUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: timezone
        in: query
        description: timezone
        required: false
        type: string
      - name: order
        in: query
        description: order
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/ignore/pivot:
    get:
      tags:
      - event-controller
      summary: API to fetch ignore events pivot
      operationId: ignoreEventPivotUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: groupBy
        in: query
        description: groupBy
        required: false
        type: string
      - name: interval
        in: query
        description: interval
        required: false
        type: string
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: OK
          schema:
            type: object
            additionalProperties:
              type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/ignore/{id}:
    get:
      tags:
      - event-controller
      summary: API to fetch ignore event details
      operationId: getIgnoreEventDetailsUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/pivot:
    get:
      tags:
      - event-controller
      summary: API to  events
      operationId: getEventsPivotUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: groupBy
        in: query
        description: groupBy
        required: false
        type: string
      - name: interval
        in: query
        description: interval
        required: false
        type: string
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        format: int32
      - name: isAssignedToIncident
        in: query
        description: isAssignedToIncident
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            additionalProperties:
              type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/restore/byfilter:
    post:
      tags:
      - event-controller
      summary: API to restore ignored events by filters
      operationId: restoreEventByFilterUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: restoreEvent
        description: restoreEvent
        required: true
        schema:
          $ref: '#/definitions/FimServiceRestoreEvent'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceRestoreEvent'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/restore/byid:
    post:
      tags:
      - event-controller
      summary: API to restore ignored events by id's
      operationId: restoreEventByIdUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: restoreEvent
        description: restoreEvent
        required: true
        schema:
          $ref: '#/definitions/FimServiceRestoreEvent'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceRestoreEvent'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/events/{id}:
    get:
      tags:
      - event-controller
      summary: API to  events
      operationId: getEventUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: fields
        in: query
        description: fields
        required: false
        type: string
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/incidents:
    get:
      tags:
      - incident-controller
      summary: API to  incidents
      operationId: listUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: offset
        in: query
        description: offset
        required: false
        type: integer
        default: 0
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 50
        format: int32
      - name: order
        in: query
        description: order
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FimServiceIncident'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - incident-controller
      summary: API to  incident details
      operationId: createUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: incident
        description: incident
        required: true
        schema:
          $ref: '#/definitions/FimServiceIncident'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceIncident'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/incidents/count:
    get:
      tags:
      - incident-controller
      summary: API to  incident count
      operationId: countUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: groupBy
        in: query
        description: groupBy
        required: false
        type: string
      - name: interval
        in: query
        description: interval
        required: false
        type: string
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        format: int32
      - name: isAssignedToIncident
        in: query
        description: isAssignedToIncident
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            additionalProperties:
              type: integer
              format: int64
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/incidents/datalist/download/CSV:
    get:
      tags:
      - incident-controller
      summary: API to download Event CSV report
      operationId: csvDownloadUsingGET_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: order
        in: query
        description: order
        required: false
        type: string
      - name: timezone
        in: query
        description: timezone
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/incidents/pivot:
    get:
      tags:
      - incident-controller
      summary: API to  incident pivot
      operationId: pivotUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: groupBy
        in: query
        description: groupBy
        required: false
        type: string
      - name: interval
        in: query
        description: interval
        required: false
        type: string
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        format: int32
      - name: isAssignedToIncident
        in: query
        description: isAssignedToIncident
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            additionalProperties:
              type: integer
              format: int64
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/incidents/{id}:
    get:
      tags:
      - incident-controller
      summary: API to  incident details
      operationId: getUsingGET_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: fields
        in: query
        description: fields
        required: false
        type: string
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceIncident'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - incident-controller
      summary: API to  incident details
      operationId: updateUsingPUT
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: incident
        description: incident
        required: true
        schema:
          $ref: '#/definitions/FimServiceIncident'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceIncident'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - incident-controller
      summary: API to delete incidents
      operationId: destroyUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/incidents/{id}/approve:
    patch:
      tags:
      - incident-controller
      summary: approve
      operationId: approveUsingPATCH
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: incident
        description: incident
        required: true
        schema:
          $ref: '#/definitions/FimServiceIncident'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceIncident'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/incidents/{id}/events:
    get:
      tags:
      - incident-controller
      summary: API to retrive events for incident
      operationId: listEventsUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: offset
        in: query
        description: offset
        required: false
        type: integer
        default: 0
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 50
        format: int32
      - name: order
        in: query
        description: order
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FimServiceEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/incidents/{id}/events/datalist/download/CSV:
    get:
      tags:
      - incident-controller
      summary: API to downloadIgnored Event CSV report
      operationId: ignoredCSVDownloadUsingGET_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: timezone
        in: query
        description: timezone
        required: false
        type: string
      - name: order
        in: query
        description: order
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/incidents/{id}/events/pivot:
    get:
      tags:
      - incident-controller
      summary: API to retrive events pivot for incident
      operationId: incidentEventPivotUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: groupBy
        in: query
        description: groupBy
        required: false
        type: string
      - name: interval
        in: query
        description: interval
        required: false
        type: string
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        format: int32
      - name: order
        in: query
        description: order
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            additionalProperties:
              type: integer
              format: int64
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/incidents/{id}/reopen:
    patch:
      tags:
      - incident-controller
      summary: reopen
      operationId: reopenUsingPATCH
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: incident
        description: incident
        required: true
        schema:
          $ref: '#/definitions/FimServiceIncident'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/incidents/{id}/{type}/download:
    get:
      tags:
      - incident-controller
      summary: downloadIncident
      operationId: downloadIncidentUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: type
        in: path
        description: type
        required: true
        type: string
      - name: timezone
        in: query
        description: timezone
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/monitoring_profiles:
    get:
      tags:
      - profile-controller
      summary: API to get list of profiles
      operationId: getProfilesUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: assetIdToExclude
        in: query
        description: assetIdToExclude
        required: false
        type: string
      - name: order
        in: query
        description: order
        required: false
        type: string
        default: -updatedBy
      - name: system
        in: query
        description: system
        required: false
        type: string
        default: "false"
      - name: offset
        in: query
        description: offset
        required: false
        type: integer
        default: 0
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 50
        format: int32
      - name: isAssetTagExpanded
        in: query
        description: isAssetTagExpanded
        required: false
        type: boolean
        default: false
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/MonitoringProfileFacade'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - profile-controller
      summary: API to create profile
      operationId: createProfileUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: facade
        description: facade
        required: true
        schema:
          $ref: '#/definitions/MonitoringProfileFacade'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MonitoringProfileFacade'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - profile-controller
      summary: API to delete multiple profile
      operationId: deleteMultipleProfileUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: profileIds
        description: profileIds
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/monitoring_profiles/categories:
    get:
      tags:
      - profile-controller
      summary: API to get list of categories
      operationId: getCategoriesUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: offset
        in: query
        description: offset
        required: false
        type: integer
        default: 0
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 50
        format: int32
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FimServiceCategory'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/monitoring_profiles/category:
    patch:
      tags:
      - profile-controller
      summary: API to create category
      operationId: createCategoryUsingPATCH
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: category
        description: category
        required: true
        schema:
          $ref: '#/definitions/FimServiceCategory'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceCategory'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/monitoring_profiles/category/{categoryId}:
    delete:
      tags:
      - profile-controller
      summary: API to update category
      operationId: deleteCategoryUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: categoryId
        in: path
        description: categoryId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
    patch:
      tags:
      - profile-controller
      summary: API to update category
      operationId: updateCategoryUsingPATCH
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: categoryId
        in: path
        description: categoryId
        required: true
        type: string
      - in: body
        name: category
        description: category
        required: true
        schema:
          $ref: '#/definitions/FimServiceCategory'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceCategory'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/monitoring_profiles/datalist/download/CSV:
    get:
      tags:
      - profile-controller
      summary: API to download profile CSV report
      operationId: csvDownloadUsingGET_2
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: timezone
        in: query
        description: timezone
        required: false
        type: string
      - name: order
        in: query
        description: order
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/monitoring_profiles/import:
    post:
      tags:
      - profile-controller
      summary: API to import profile
      operationId: importProfileUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: importFacadeList
        description: importFacadeList
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/MonitoringProfileImportFacade'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/MonitoringProfileFacade'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/monitoring_profiles/library/datalist/download/CSV:
    get:
      tags:
      - profile-controller
      summary: API to download library CSV report
      operationId: libraryCSVDownloadUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: timezone
        in: query
        description: timezone
        required: false
        type: string
      - name: order
        in: query
        description: order
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/monitoring_profiles/profile/rules:
    patch:
      tags:
      - profile-controller
      summary: API to update multiple profile and rules
      operationId: updateInclusionExclusionFilterUsingPATCH
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: facadeList
        description: facadeList
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/MonitoringProfileFacade'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/monitoring_profiles/{profileId}:
    get:
      tags:
      - profile-controller
      summary: API to get profile details
      operationId: getProfileUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      - name: system
        in: query
        description: system
        required: false
        type: string
        default: "false"
      - name: isAssetTagExpanded
        in: query
        description: isAssetTagExpanded
        required: false
        type: boolean
        default: false
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MonitoringProfileFacade'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - profile-controller
      summary: API to update profile
      operationId: updateProfileUsingPUT
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      - in: body
        name: facade
        description: facade
        required: true
        schema:
          $ref: '#/definitions/MonitoringProfileFacade'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MonitoringProfileFacade'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - profile-controller
      summary: API to delete profile
      operationId: deleteProfileUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/monitoring_profiles/{profileId}/activate:
    patch:
      tags:
      - profile-controller
      summary: API to activate profile
      operationId: activateProfileUsingPATCH
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/monitoring_profiles/{profileId}/assets:
    post:
      tags:
      - profile-controller
      summary: API to assign asset to profile
      operationId: assignAssetsToProfileUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      - in: body
        name: assets
        description: assets
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/monitoring_profiles/{profileId}/deactivate:
    patch:
      tags:
      - profile-controller
      summary: API to deactivate profile
      operationId: deactivateProfileUsingPATCH
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/monitoring_profiles/{profileId}/rules:
    get:
      tags:
      - profile-controller
      summary: Returns profile rule list
      operationId: getProfileRulesUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FimServiceRule'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/monitoring_profiles/{profileId}/rules/{ruleId}:
    get:
      tags:
      - profile-controller
      summary: Returns profile rule details
      operationId: getProfileRuleDetailsUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      - name: ruleId
        in: path
        description: ruleId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceRule'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    patch:
      tags:
      - profile-controller
      summary: API to update exisiting rule
      operationId: updateSpecificRuleUsingPATCH
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      - name: ruleId
        in: path
        description: ruleId
        required: true
        type: string
      - in: body
        name: ruleToUpdate
        description: ruleToUpdate
        required: true
        schema:
          $ref: '#/definitions/FimServiceRule'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/monitoring_profiles/{profileId}/sections/{sectionid}:
    post:
      tags:
      - profile-controller
      summary: Api to remove section from the rule
      operationId: deleteSectionFromProfileUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      - name: sectionId
        in: path
        description: sectionId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/profiles/{profileId}/sections:
    get:
      tags:
      - section-controller
      summary: API to list sections
      operationId: getSectionListUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FimServiceSection'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - section-controller
      summary: API to  create section
      operationId: createSectionUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: section
        description: section
        required: true
        schema:
          $ref: '#/definitions/FimServiceSection'
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceSection'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/profiles/{profileId}/sections/{id}:
    get:
      tags:
      - section-controller
      summary: API to section details
      operationId: getUsingGET_3
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceSection'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - section-controller
      summary: API to delete section
      operationId: destroyUsingDELETE_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
    patch:
      tags:
      - section-controller
      summary: API to  update section
      operationId: updateUsingPATCH
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: section
        description: section
        required: true
        schema:
          $ref: '#/definitions/FimServiceSection'
      - name: profileId
        in: path
        description: profileId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceSection'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/qconsul:
    get:
      tags:
      - qconsul-controller
      summary: API to qconsul
      operationId: getUsingGET_2
      consumes:
      - application/json
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceQconsulFacade'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/reports:
    get:
      tags:
      - report-controller
      summary: list reports
      operationId: listUsingGET_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: query
        in: query
        description: query
        required: false
        type: string
      - name: startAt
        in: query
        description: startAt
        required: false
        type: string
      - name: endAt
        in: query
        description: endAt
        required: false
        type: string
      - name: offset
        in: query
        description: offset
        required: false
        type: integer
        default: 0
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 50
        format: int32
      - name: order
        in: query
        description: order
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Report'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/reports/{id}:
    delete:
      tags:
      - report-controller
      summary: list reports
      operationId: deleteUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/reports/{id}/download:
    get:
      tags:
      - report-controller
      summary: list reports
      operationId: downloadUsingGET
      consumes:
      - application/json
      produces:
      - application/octet-stream
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/sectionCategories:
    get:
      tags:
      - section-categories-controller
      summary: API to get list of SectionCategories
      operationId: sectionCategoriesUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FimServiceSectionCategory'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - section-categories-controller
      summary: API to create sectionCategory
      operationId: createSectionCategoryUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: sectionCategory
        description: sectionCategory
        required: true
        schema:
          $ref: '#/definitions/FimServiceSectionCategory'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceSectionCategory'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /rest/1.0/sectionCategories/{sectionCategoryId}:
    get:
      tags:
      - section-categories-controller
      summary: API to get a sectionCategory
      operationId: getCategeoryByIdUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: sectionCategoryId
        in: path
        description: sectionCategoryId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - section-categories-controller
      summary: API to update sectionCategory
      operationId: deleteCategoryUsingDELETE_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: sectionCategoryId
        in: path
        description: sectionCategoryId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
    patch:
      tags:
      - section-categories-controller
      summary: API to update category
      operationId: updateCategoryUsingPATCH_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: sectionCategoryId
        in: path
        description: sectionCategoryId
        required: true
        type: string
      - in: body
        name: sectionCategory
        description: sectionCategory
        required: true
        schema:
          $ref: '#/definitions/FimServiceSectionCategory'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FimServiceSectionCategory'
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rest/1.0/welcome/tourStatus:
    get:
      tags:
      - welcome-controller
      summary: tourStatus
      operationId: tourStatusUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WelcomePageFacade'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
definitions: !php/object "O:8:\"stdClass\":43:{s:11:\"AssetFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"activationModules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"assetId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UserFacade\";}s:12:\"groupByPivot\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"havingQuery\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"host\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/HostAssetFacade\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"searchContext\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TagFacade\";}}s:9:\"updatedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UserFacade\";}}}s:14:\"CustomerFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"customerType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"qgSubscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"shortName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"FimMonitoringAsset\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"host\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/HostAssetFacade\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"manifest\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FimServiceAgentManifest\";}}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"profiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/FimServiceMonitoringProfile\";}}s:10:\"sourceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FimServiceSourceInfo\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/FimServiceTagFacade\";}}}}s:23:\"FimServiceActivationLog\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"actionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:20:\"activatedByUserFName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"activatedByUserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"activatedByUserLName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"FimServiceActor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"imagePath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"process\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"processID\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"userID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"FimServiceAgentManifest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"assignmentDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"publishedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"FimServiceAsset\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"agentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"agentVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"assetType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ec2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"fimActivatedAsset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"hostId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"interfaces\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/FimServiceAssetInterface\";}}s:13:\"lastCheckedIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"lastLoggedOnUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"netbiosName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"operatingSystem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"system\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/FimServiceAssetsSystemInfo\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}s:7:\"updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"FimServiceAssetInterface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"hostname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"interfaceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"macAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"FimServiceAssetsSystemInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"lastBoot\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:15:\"FimServiceAudit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"newAudit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"oldAudit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:18:\"FimServiceCategory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:10:\"customerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"deletedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"system\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}}}s:15:\"FimServiceEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:8:\"accessed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"actor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FimServiceActor\";}s:7:\"agentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"asset\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FimServiceAsset\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServiceAttribute\";}s:5:\"audit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FimServiceAudit\";}s:17:\"changedAttributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"customerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"dateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"eventClass\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fullPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ignoreDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"incidentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"incidentIds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"inheritance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ServiceInheritance\";}s:8:\"modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"newContent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"oldContent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ownerShip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServicePermission\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/FimServiceShortProfile\";}}s:8:\"profiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/FimServiceShortProfile\";}}s:8:\"severity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"FimServiceIgnoreEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"filter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"FimServiceIncident\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:14:\"approvalStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:8:\"Approved\";i:1;s:16:\"Policy
  Violation\";i:2;s:17:\"Unapproved Change\";i:3;s:3:\"N/A\";}}s:10:\"changeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"Manual\";i:1;s:9:\"Automated\";i:2;s:10:\"Compromise\";i:3;s:5:\"Other\";}}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:10:\"customerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"dateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"dispositionCategory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:8:\"Patching\";i:1;s:30:\"Pre-Approved
  by Change Control\";i:2;s:20:\"Configuration Change\";i:3;s:11:\"Human-Error\";i:4;s:15:\"Data
  Corruption\";i:5;s:16:\"Emergency Change\";i:6;s:24:\"Change Control Violation\";i:7;s:15:\"General
  Hacking\";i:8;s:7:\"Malware\";}}s:7:\"filters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:6:\"marked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"markupStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"reviewers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}}}s:27:\"FimServiceMonitoringProfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":31:{s:9:\"allowSync\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"assetIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"assetTagExpanded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"assetTagIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"assetUuids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"auditsForProfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FimServiceActivationLog\";}}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FimServiceCategory\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:15:\"createdByUserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"customerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"deletedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"locked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"osVersions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"ownerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profileCategoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"profileCategoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ruleIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"syncFromId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"syncType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"totalAssetCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:15:\"updatedByUserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"FimServiceQagent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"chirpStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"lastCheckedIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"localIpv4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"FimServiceQconsulFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"alertingEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"fimServiceUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"qwebUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"reportingEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"reportingServiceUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"FimServiceReferences\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:22:\"FimServiceRestoreEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"filter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"FimServiceRule\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"deletedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"exclusionFilter\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/FimServiceRulePattern\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"imagePath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"inclusionFilter\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/FimServiceRulePattern\";}}s:16:\"monitorOwnership\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"notify\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"profileId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"recursiveDepth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ruleNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"ruleType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"file\";i:1;s:9:\"directory\";}}s:7:\"section\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FimServiceSection\";}s:8:\"severity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"syncFromRuleId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"file\";i:1;s:9:\"directory\";}}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}}}s:21:\"FimServiceRulePattern\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"file\";i:1;s:9:\"directory\";}}s:8:\"patterns\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:17:\"FimServiceSection\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"categoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:10:\"customerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"deletedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"profileId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"references\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FimServiceReferences\";}}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}}}s:25:\"FimServiceSectionCategory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:10:\"customerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"deletedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"system\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}}}s:22:\"FimServiceShortProfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FimServiceCategory\";}s:10:\"categoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rule\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FimServiceRule\";}}s:5:\"rules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FimServiceRule\";}}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"FimServiceSourceInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"QAGENT\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FimServiceQagent\";}}}s:19:\"FimServiceTagFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"backgroundColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"foregroundColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"FimServiceUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"HostAssetFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"fqdn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"hostName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"lastLoggedOnUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"lastVmScanDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"netbiosName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"networkInterfaces\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/HostNetworkInterfaceFacade\";}}s:15:\"operatingSystem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"osFamily\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"WINDOWS\";i:1;s:3:\"MAC\";i:2;s:5:\"LINUX\";i:3;s:7:\"UNKNOWN\";}}s:10:\"userHostId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"HostNetworkInterfaceFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"dnsAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"gatewayAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"macAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"MonitoringProfileFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":34:{s:9:\"allowSync\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"assetIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"assetTagExpanded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"assetTagIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"assetUuids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"assets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AssetFacade\";}}s:16:\"auditsForProfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FimServiceActivationLog\";}}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FimServiceCategory\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:15:\"createdByUserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"customerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"deletedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"locked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"osVersions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"ownerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profileCategoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"profileCategoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ruleIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"rules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FimServiceRule\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"syncFromId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"syncType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TagFacade\";}}s:15:\"totalAssetCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:15:\"updatedByUserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:29:\"MonitoringProfileImportFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceUserAction\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"syncType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:12:\"UNRESTRICTED\";i:1;s:11:\"LOCKED_SYNC\";i:2;s:15:\"LOCKED_READONLY\";}}s:15:\"systemProfileId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Report\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"createdDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"moduleCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"resourceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"resourcePath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"sections\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Section\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"ResponseEntity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:64:{i:0;s:3:\"100\";i:1;s:3:\"101\";i:2;s:3:\"102\";i:3;s:3:\"103\";i:4;s:3:\"200\";i:5;s:3:\"201\";i:6;s:3:\"202\";i:7;s:3:\"203\";i:8;s:3:\"204\";i:9;s:3:\"205\";i:10;s:3:\"206\";i:11;s:3:\"207\";i:12;s:3:\"208\";i:13;s:3:\"226\";i:14;s:3:\"300\";i:15;s:3:\"301\";i:16;s:3:\"302\";i:17;s:3:\"303\";i:18;s:3:\"304\";i:19;s:3:\"305\";i:20;s:3:\"307\";i:21;s:3:\"308\";i:22;s:3:\"400\";i:23;s:3:\"401\";i:24;s:3:\"402\";i:25;s:3:\"403\";i:26;s:3:\"404\";i:27;s:3:\"405\";i:28;s:3:\"406\";i:29;s:3:\"407\";i:30;s:3:\"408\";i:31;s:3:\"409\";i:32;s:3:\"410\";i:33;s:3:\"411\";i:34;s:3:\"412\";i:35;s:3:\"413\";i:36;s:3:\"414\";i:37;s:3:\"415\";i:38;s:3:\"416\";i:39;s:3:\"417\";i:40;s:3:\"418\";i:41;s:3:\"419\";i:42;s:3:\"420\";i:43;s:3:\"421\";i:44;s:3:\"422\";i:45;s:3:\"423\";i:46;s:3:\"424\";i:47;s:3:\"426\";i:48;s:3:\"428\";i:49;s:3:\"429\";i:50;s:3:\"431\";i:51;s:3:\"451\";i:52;s:3:\"500\";i:53;s:3:\"501\";i:54;s:3:\"502\";i:55;s:3:\"503\";i:56;s:3:\"504\";i:57;s:3:\"505\";i:58;s:3:\"506\";i:59;s:3:\"507\";i:60;s:3:\"508\";i:61;s:3:\"509\";i:62;s:3:\"510\";i:63;s:3:\"511\";}}s:15:\"statusCodeValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:7:\"Section\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:16:\"ServiceAttribute\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"newAttribute\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"oldAttribute\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:16:\"ServiceEventUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"ServiceInheritance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"newInheritance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:14:\"oldInheritance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}s:17:\"ServicePermission\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"newPermission\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ServicePermissionDetail\";}}s:13:\"oldPermission\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ServicePermissionDetail\";}}}}s:23:\"ServicePermissionDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"ownershipType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"permission\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"permissionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServiceEventUser\";}}}s:17:\"ServiceUserAction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FimServiceUser\";}}}s:9:\"TagFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:16:\"assetTypeOrdinal\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"backgroundColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"canBeSticky\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UserFacade\";}s:11:\"defaultName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"deletable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"dynamicTagEngine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"dynamicTagRule\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"dynamicTagRuleExpires\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"favorite\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"foregroundColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"inScope\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"metaDataLocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"removable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"srcAssetGroupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:17:\"srcBusinessUnitId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"tagId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"updatedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UserFacade\";}}}s:10:\"UserFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:15:\"accessAllAssets\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CustomerFacade\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"emailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"registrationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"superuser\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"systemUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"userTimezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"usernameIsEmail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"WelcomePageFacade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"stepCompletionsStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}}"
...
