---
swagger: "2.0"
host: stock.adobe.io
basePath: /Rest
paths:
  /Checkout/1/Info/Pricing:
    get:
      tags:
      - Checkout
      summary: Return pricing information for specific price tier by locale, country
        code.
      description: STK-7034
      responses:
        200:
          description: Offering Price Information
          schema:
            $ref: '#/definitions/Response.PricingInfo'
        400:
          description: Required HTTP header is missing - X-Product
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Product code not found in mappings.
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Header.Vendor'
    - $ref: '#/parameters/Parameter.Get.ProductKey'
  /Checkout/1/Info/PurchaseStatus:
    get:
      tags:
      - Checkout
      summary: Returns purchase status.
      responses:
        200:
          description: Product purchase status
          schema:
            $ref: '#/definitions/Response.PurchaseStatus'
        400:
          description: Member is not specified, Required product key is missing, Please
            provide either reference_id or content_id
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Header.Vendor'
    - $ref: '#/parameters/Parameter.Get.ProductKey'
    - $ref: '#/parameters/Parameter.Get.ContentId.Optional'
    - $ref: '#/parameters/Parameter.Get.ReferenceId.Optional'
    - $ref: '#/parameters/Parameter.Get.MemberGuid'
    - $ref: '#/parameters/Parameter.Get.FulfillmentMethod'
  /Checkout/1/Info/PurchaseMethod:
    get:
      tags:
      - Checkout
      summary: Returns available purchase method.
      description: STK-7037
      responses:
        200:
          description: Purchase method
          schema:
            $ref: '#/definitions/Response.PurchaseMethod'
        400:
          description: Required product key is missing
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Header.Vendor'
    - $ref: '#/parameters/Parameter.Get.ProductKey'
  /Checkout/1/Action/OveragePurchase:
    post:
      tags:
      - Checkout
      summary: Make overage purchase.
      description: STK-7038
      consumes:
      - application/x-www-form-urlencoded
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Response.OveragePurchase'
        400:
          description: Cannot obtain SAO for the current member by the provided product
            key.
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Invalid Media ID.
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Vendor'
    - $ref: '#/parameters/Parameter.Post.ProductKey'
    - $ref: '#/parameters/Parameter.Post.ContentId.Optional'
    - $ref: '#/parameters/Parameter.Post.ReferenceId.Optional'
  /Checkout/1/Action/OverageAbandon:
    post:
      tags:
      - Checkout
      summary: Cancel overage purchasing workflow.
      consumes:
      - application/x-www-form-urlencoded
      responses:
        204:
          description: The operation has been completed successfully.
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Vendor'
    - $ref: '#/parameters/Parameter.Post.PurchaseMethod'
    - $ref: '#/parameters/Parameter.Post.ContentId.Optional'
    - $ref: '#/parameters/Parameter.Post.ReferenceId.Optional'
    - $ref: '#/parameters/Parameter.Post.License'
  /Checkout/1/Countries:
    get:
      tags:
      - Checkout
      summary: Returns a list of countries we support.
      responses:
        200:
          description: List countries we sell in
          schema:
            $ref: '#/definitions/Response.ListCountries'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.RequestId'
  /Checkout/1/Countries/{country_code}:
    get:
      tags:
      - Checkout
      summary: Returns banned or allowed depending on if stock is old in that country
      responses:
        200:
          description: Sellable status of the country
          schema:
            $ref: '#/definitions/Response.CheckCountry'
        400:
          description: Required parameter country_code is missing.
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - name: country_code
      in: path
      description: Country searching for
      required: true
      type: string
  /Entitlement/1/Member/Search:
    get:
      tags:
      - Entitlement
      summary: Search entitlements for one guid or one pattern
      responses:
        200:
          description: An array of Member profile details
          schema:
            $ref: '#/definitions/Response.Profiles'
        400:
          description: Missing parameter
          schema:
            $ref: '#/definitions/Response.Error'
        401:
          description: Please use a valid token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Member not found
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - name: email
      in: query
      description: Member email (member@example.com). Member email OR guid is required
      type: string
    - name: guid
      in: query
      description: Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID). Member email
        OR guid is required
      type: string
  /Entitlement/1/Allotment/List:
    get:
      tags:
      - Entitlement
      summary: List allotments corresponding to an entitlement
      responses:
        200:
          description: An array of allotments
          schema:
            $ref: '#/definitions/Response.Allotments'
        400:
          description: Missing parameter
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Get.EntitlementId'
    - $ref: '#/parameters/Parameter.Get.PageNumber'
  /Entitlement/1/Download/List:
    get:
      tags:
      - Entitlement
      summary: Retrieve the list of files downloaded with an entitlement
      responses:
        200:
          description: An array of downloads
          schema:
            $ref: '#/definitions/Response.Downloads'
        400:
          description: Missing parameter
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Get.EntitlementId'
    - $ref: '#/parameters/Parameter.Get.PageNumber'
  /Entitlement/1/License/Add:
    post:
      tags:
      - Entitlement
      summary: Add licenses to an entitlement
      consumes:
      - application/json
      - multipart/form-data
      responses:
        204:
          description: No content is returned by this call
        400:
          description: Missing or invalid parameter
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Adobe GUID not found
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Post.EntitlementId'
    - $ref: '#/parameters/Parameter.Post.MemberEntityRef'
    - $ref: '#/parameters/Parameter.Post.NbLicenses'
  /Entitlement/1/Allotment/Reopen:
    post:
      tags:
      - Entitlement
      summary: Reopen a closed allotment
      consumes:
      - application/json
      - multipart/form-data
      responses:
        204:
          description: No content is returned by this call
        400:
          description: Missing or invalid parameter
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Post.AllotmentId'
  /Entitlement/1/Entitlement/List:
    get:
      tags:
      - Entitlement
      summary: Returns a list of available entitlements for a member
      responses:
        200:
          description: A list of Member entitlements
          schema:
            $ref: '#/definitions/Response.ProfileExtended'
        401:
          description: Please use a valid token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Adobe GUID not found
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Missing required service token.
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - name: entity_ref
      in: query
      description: Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID)
      type: string
  /Entitlement/1/Entitlement/Select:
    post:
      tags:
      - Entitlement
      summary: Select the current active entitlement for an account
      consumes:
      - application/x-www-form-urlencoded
      responses:
        204:
          description: No content is returned by this call
        404:
          description: The Adobe GUID or the Entitlement was not found
          schema:
            $ref: '#/definitions/Response.Error'
        422:
          description: Entitlement does not belong to member
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error happened
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Post.EntitlementGuid'
    - name: entity_ref
      in: formData
      description: Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID)
      type: string
  /Entitlement/1/Credits/List:
    get:
      tags:
      - Credits
      summary: Returns a list of credit packs bought by the user
      responses:
        200:
          description: A list of Credit Packs
          schema:
            $ref: '#/definitions/Response.ListCredits'
        401:
          description: Please use a valid authentication token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Adobe GUID not found
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Missing required service token.
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - name: entity_ref
      in: query
      description: Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID)
      required: true
      type: string
  /Entitlement/1/Credits/Add:
    post:
      tags:
      - Credits
      summary: Adds credit pack for the member.
      consumes:
      - application/x-www-form-urlencoded
      responses:
        200:
          description: Credit pack details
          schema:
            $ref: '#/definitions/Response.AddCredits'
        404:
          description: The Adobe GUID or the Entitlement was not found
          schema:
            $ref: '#/definitions/Response.Error'
        400:
          description: Bad request or required params not supplied
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error happened
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - name: member_entity_ref
      in: formData
      description: Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID)
      required: true
      type: string
    - name: nb_credits
      in: formData
      description: Number of credits you want to add
      required: true
      type: integer
    - name: credit_type
      in: formData
      description: Type of credit. Defaults to individual if not specified
      type: string
    - name: expiration
      in: formData
      description: Expiration timestamp for these credits. Defaults to one year in
        the future if not specified
      type: string
    - name: user_country
      in: formData
      description: Member country ISO code (e.g. JP, US etc.)
      required: false
      type: string
    - name: order_number
      in: formData
      description: eCommerce order number (optional if free, required if paid)
      type: string
    - name: is_free
      in: formData
      description: Flag weather it's free credit pack
      type: integer
      default: 1
      enum:
      - 0
      - 1
  /Entitlement/1/Credits/Return:
    put:
      tags:
      - Credits
      summary: Select the current active entitlement for an account
      consumes:
      - application/x-www-form-urlencoded
      responses:
        200:
          description: Credit pack details
          schema:
            $ref: '#/definitions/Response.ReturnCredits'
        404:
          description: The Adobe GUID or the Entitlement was not found
          schema:
            $ref: '#/definitions/Response.Error'
        400:
          description: Bad request or required params not supplied
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error happened
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - name: member_entity_ref
      in: formData
      description: Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID)
      required: true
      type: string
    - name: order_number
      in: formData
      description: Number of credits you want to add
      required: true
      type: integer
  /1/team-usage/{entity_ref}/product-quantities:
    get:
      tags:
      - Team
      responses:
        200:
          description: Returns team entitlement quota consumption data
          schema:
            $ref: '#/definitions/Response.TeamProductQuantities'
        400:
          description: Missing parameter
          schema:
            $ref: '#/definitions/Response.Error'
        401:
          description: Invalid authorization token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Unknown organization
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: The server is currently unavailable
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Get.Locale'
    - $ref: '#/parameters/Parameter.Path.EntityRef'
  /FotoliaMigration/1/SuspendEntitlement/{fotolia_member_id}:
    put:
      tags:
      - FotoliaMigration
      summary: Toggle on/off the suspended status of a Fotolia member's entitlement
      consumes:
      - application/x-www-form-urlencoded
      responses:
        204:
          description: No content is returned by this call
        400:
          description: Missing or invalid parameter
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: No migration found for the fotolia member
          schema:
            $ref: '#/definitions/Response.Error'
        422:
          description: Wrong entitlement type
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error happened
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Path.FotoliaMemberId'
    - name: suspended
      in: formData
      description: Entitlement suspended status (eg. true)
      required: true
      type: boolean
  /FotoliaMigration/1/FotoliaProvision/{fotolia_member_id}:
    post:
      tags:
      - FotoliaMigration
      summary: Renew migrated Fotolia subscription
      consumes:
      - application/x-www-form-urlencoded
      responses:
        204:
          description: No content is returned by this call
        400:
          description: Missing or invalid parameter
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: No migration found for the fotolia member
          schema:
            $ref: '#/definitions/Response.Error'
        422:
          description: Provisionning not possible
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error happened
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Path.FotoliaMemberId'
    - $ref: '#/parameters/Parameter.Post.NbLicenses'
  /Gdpr/1/Fotolia/Export:
    post:
      tags:
      - Gdpr
      summary: Changes the state of a gdpr fotolia to DONE
      consumes:
      - application/x-www-form-urlencoded
      responses:
        204:
          description: No data is returned by this call
        400:
          description: Missing or invalid parameter
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: No Fotolia gdpr found for this uuid
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error happened
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - name: fotolia_uuid
      in: formData
      description: Fotolia gdpr uuid to update
      required: true
      type: string
  /Libraries/1/Content/Info:
    get:
      tags:
      - Libraries
      summary: Retrieve license info for a given asset
      responses:
        200:
          description: License details
          schema:
            $ref: '#/definitions/Response.BuyerPurchase'
        403:
          description: Content type not allowed
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Get.ContentId'
    - $ref: '#/parameters/Parameter.Get.License'
  /Libraries/1/Content/License:
    get:
      tags:
      - Libraries
      summary: License an asset with a specific license type
      parameters:
      - $ref: '#/parameters/Parameter.Header.Authorization.Required'
      - $ref: '#/parameters/Parameter.Header.ApiKey'
      - $ref: '#/parameters/Parameter.Header.Product.Optional'
      - $ref: '#/parameters/Parameter.Header.ProductLocation'
      - $ref: '#/parameters/Parameter.Get.ContentId'
      - $ref: '#/parameters/Parameter.Get.License'
      - name: license_again
        in: query
        description: Should the asset be licensed again if it has already been licensed
        required: false
        type: string
        default: 0
        enum:
        - ""
        - "0"
        - "1"
        - "true"
        - "false"
      - $ref: '#/parameters/Parameter.Get.Locale'
      responses:
        200:
          description: License details
          schema:
            $ref: '#/definitions/Response.BuyerPurchase'
        401:
          description: Please use a valid token
          schema:
            $ref: '#/definitions/Response.Error'
        403:
          description: Missing mandatory license reference
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Content metadata not found, Content is no longer available
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Wrong size found, The file does not support this license
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: Purchases currently unavailable, The file does not support
            this license, You cannot license this asset type with your current plan
          schema:
            $ref: '#/definitions/Response.Error'
    post:
      tags:
      - Libraries
      summary: License an asset with a specific license type
      consumes:
      - application/json
      - application/x-www-form-urlencoded
      parameters:
      - $ref: '#/parameters/Parameter.Header.Authorization.Required'
      - $ref: '#/parameters/Parameter.Header.ApiKey'
      - $ref: '#/parameters/Parameter.Header.Product.Optional'
      - $ref: '#/parameters/Parameter.Header.ProductLocation'
      - $ref: '#/parameters/Parameter.Post.ContentId'
      - $ref: '#/parameters/Parameter.Post.License'
      - name: license_again
        in: formData
        description: Should the asset be licensed again if it has already been licensed
        required: false
        type: string
        default: 0
        enum:
        - ""
        - "0"
        - "1"
      - $ref: '#/parameters/Parameter.Post.Locale'
      responses:
        200:
          description: License details
          schema:
            $ref: '#/definitions/Response.BuyerPurchase'
        403:
          description: Missing mandatory license reference
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Content metadata not found, Content is no longer available
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Wrong size found, The file does not support this license
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: Purchases currently unavailable, The file does not support
            this license, You cannot license this asset type with your current plan
          schema:
            $ref: '#/definitions/Response.Error'
  /Libraries/1/Member/Profile:
    get:
      tags:
      - Libraries
      summary: Return licensing capabilities for a specific user.
      responses:
        200:
          description: Return licensing capabilities for a specific user
          schema:
            $ref: '#/definitions/Response.Buyer'
        503:
          description: Purchases currently unavailable
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Get.ContentId.Optional'
    - name: format
      in: query
      description: 'Include the format value in response '
      required: false
      type: string
      enum:
      - ""
      - message_ccx
      - message_licensing_panel
    - $ref: '#/parameters/Parameter.Get.Locale'
  /Libraries/1/Member/LicenseHistory:
    get:
      tags:
      - Libraries
      summary: This function is used to retrive the license history for an user
      responses:
        200:
          description: Return license history for the current user
          schema:
            $ref: '#/definitions/Response.UserLicenseHistory'
        400:
          description: Unsupported result column
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - name: result_columns
      in: query
      description: List of columns to show in response
      required: false
      type: array
      items:
        type: string
      enum:
      - id
      - title
      - creator_name
      - creator_id
      - content_url
      - media_type_id
      - vector_type
      - content_type
      - height
      - width
    - name: search_parameters[limit]
      in: query
      description: Maximum number of media returned
      type: string
      default: "32"
    - name: search_parameters[offset]
      in: query
      description: Start position in query
      type: string
      default: "0"
    - name: search_parameters[thumbnail_size]
      in: query
      description: Thumbnail size (px)
      type: integer
      default: 400
      enum:
      - 110
      - 160
      - 400
    - name: all
      in: query
      description: Request all license history of the member's organization
      required: false
      type: string
    - $ref: '#/parameters/Parameter.Get.Locale'
  /Libraries/1/Member/Abandon:
    get:
      tags:
      - Libraries
      summary: Abandon a licensing operation
      responses:
        204:
          description: Abandon Member
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Get.ContentId.Optional'
    - $ref: '#/parameters/Parameter.Get.License'
    - name: state
      in: query
      description: ""
      required: false
      type: string
      enum:
      - cancelled
      - just_purchased
      - not_purchased
      - overage
      - possible
      - purchased
  /Libraries/Download/{download id}:
    get:
      tags:
      - Libraries
      summary: Download purchased file.
      produces:
      - image/jpeg
      - application/json
      responses:
        200:
          description: 'Download licensed asset. The response should be type=file,
            but is omitted here due a bug in our validation library: https://github.com/Maks3w/SwaggerAssertions/issues/45'
        302:
          description: URL Redirection to file in S3
        400:
          description: file not available
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: No route matched the request
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Product.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - name: format
      in: query
      description: 'What part of a compound file do you want returned '
      required: false
      type: string
      default: template
      enum:
      - ""
      - mogrt
      - png
      - json
      - template
    - name: download id
      in: path
      description: 'Download id of the asset you want to download '
      required: true
      type: string
    - $ref: '#/parameters/Parameter.Get.Size'
  /Libraries/Download/{content_id}/{license_id}:
    get:
      tags:
      - Libraries
      summary: Download purchased file.
      produces:
      - image/jpeg
      - application/json
      responses:
        200:
          description: 'Download licensed asset. The response should be type=file,
            but is omitted here due a bug in our validation library: https://github.com/Maks3w/SwaggerAssertions/issues/45.'
        302:
          description: URL Redirection to file in S3
        400:
          description: file not available
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: No route matched the request
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Product.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - name: format
      in: query
      description: 'What part of a compound file do you want returned '
      required: false
      type: string
      default: template
      enum:
      - ""
      - mogrt
      - png
      - json
      - template
    - name: content_id
      in: path
      description: 'Content ID of the asset you want to download '
      required: true
      type: integer
    - name: license_id
      in: path
      description: 'License ID that you want to download '
      required: true
      type: integer
      enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
    - $ref: '#/parameters/Parameter.Get.Size'
  /Libraries/Watermarked/Download/{content_id}/{license_id}:
    get:
      tags:
      - Libraries
      summary: Download watermarked file.
      produces:
      - image/jpeg
      - application/json
      responses:
        200:
          description: 'Download watermarked asset. The response should be type=file,
            but is omitted here due a bug in our validation library: https://github.com/Maks3w/SwaggerAssertions/issues/45.'
        302:
          description: URL Redirection to file in S3
        400:
          description: This is embarrassing, but this file cannot be downloaded.
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Product.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - name: content_id
      in: path
      description: 'Content ID of the asset that you want to download '
      required: true
      type: integer
    - name: license_id
      in: path
      description: License ID that you want to download
      required: true
      type: integer
      enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
  /Libraries/Watermarked/Download/{content_id}:
    get:
      tags:
      - Libraries
      summary: Download watermarked file.
      produces:
      - image/jpeg
      - application/json
      responses:
        200:
          description: 'Download watermarked asset. The response should be type=file,
            but is omitted here due a bug in our validation library: https://github.com/Maks3w/SwaggerAssertions/issues/45.'
        302:
          description: URL Redirection to file in S3
        400:
          description: This is embarrassing, but this file cannot be downloaded.
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Product.Optional'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - name: content_id
      in: path
      description: Content ID of the asset that you want to download
      required: true
      type: integer
  /1/organization-usage/{organization_guid}/product-quantities:
    get:
      tags:
      - Organization
      summary: Returns the consumption data for an entire organization or for a given
        group
      responses:
        200:
          description: Returns the consumption data for an entire organization
          schema:
            $ref: '#/definitions/Response.OrganizationProductQuantities'
        400:
          description: Missing parameter
          schema:
            $ref: '#/definitions/Response.Error'
        401:
          description: Member does not belong to the organization, Please provide
            access token, Unexpected service access token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Unknown Organization
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: The server is currently unavailable
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Product.Optional'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Get.Locale'
    - $ref: '#/parameters/Parameter.Path.OrganizationGuid'
  /1/organization-usage/{organization_guid}/product-quantities/{group_id}:
    get:
      tags:
      - Organization
      summary: Returns the consumption data for an entire organization or for a given
        group
      responses:
        200:
          description: Returns the consumption data for a given group.
          schema:
            $ref: '#/definitions/Response.ProductConfiguration'
        400:
          description: Missing parameter
          schema:
            $ref: '#/definitions/Response.Error'
        401:
          description: Member does not belong to the organization, Member is not admin
            of the PLC, Please provide access token, Unexpected service access token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Unknown Organization
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: The server is currently unavailable
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Product.Optional'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Get.Locale'
    - $ref: '#/parameters/Parameter.Path.OrganizationGuid'
    - name: group_id
      in: path
      description: 'Group ID '
      required: true
      type: string
  /1/organization-usage/{organization_guid}/product-quantities/list/{group_ids}:
    get:
      tags:
      - Organization
      summary: Returns the consumption data for an entire organization or for a given
        group
      responses:
        200:
          description: Returns the consumption data for a list of group IDs.
          schema:
            items:
              $ref: '#/definitions/Response.ProductConfiguration'
        400:
          description: Missing parameter
          schema:
            $ref: '#/definitions/Response.Error'
        401:
          description: Member does not belong to the organization, Member is not admin
            of the PLC, Please provide access token, Unexpected service access token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Unknown Organization
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: The server is currently unavailable
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Product.Optional'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Get.Locale'
    - $ref: '#/parameters/Parameter.Path.OrganizationGuid'
    - name: group_ids
      in: path
      description: 'list of Group IDs '
      required: true
      type: string
  /1/Organization/ContentsTypes:
    get:
      tags:
      - Organization
      summary: Get available asset types
      responses:
        200:
          description: 'Group Content Type ID: Group Content Type Label'
        401:
          description: Please provide access token, Unexpected service access token
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: The server is currently unavailable
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Product.Optional'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Get.Locale'
  /1/enterprise/{organization_guid}/products/{product_id}/license-configurations/{license_configuration_id}/permissions:
    get:
      tags:
      - Organization
      summary: Gets or updates PLC permissions
      responses:
        200:
          description: Gets PLC permissions
          schema:
            $ref: '#/definitions/Response.PLCPermissions'
        400:
          description: Missing Parameter
          schema:
            $ref: '#/definitions/Response.Error'
        401:
          description: Member does not belong to the organization, Please provide
            access token, Unexpected service access token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Organization does not have the requested product configuration
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: The server is currently unavailable
          schema:
            $ref: '#/definitions/Response.Error'
    put:
      tags:
      - Organization
      summary: Gets or updates PLC permissions
      consumes:
      - application/json
      - ""
      responses:
        204:
          description: No Content
        400:
          description: Missing Parameter, Invalid Payload
          schema:
            $ref: '#/definitions/Response.Error'
        401:
          description: Member does not belong to the organization, Please provide
            access token, Unexpected service access token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Unknown section content id, Unknown content group type, Unknown
            file type, Organization does not have the requested product configuration
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: The server is currently unavailable
          schema:
            $ref: '#/definitions/Response.Error'
    delete:
      tags:
      - Organization
      summary: Gets or updates PLC permissions
      responses:
        204:
          description: No Content
        400:
          description: Missing Parameter
          schema:
            $ref: '#/definitions/Response.Error'
        401:
          description: Member does not belong to the organization, Please provide
            access token, Unexpected service access token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Organization does not have the requested product configuration
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: The server is currently unavailable
          schema:
            $ref: '#/definitions/Response.Error'
    patch:
      tags:
      - Organization
      summary: Gets or updates PLC permissions
      consumes:
      - application/json
      - ""
      responses:
        204:
          description: No Content
        400:
          description: Missing Parameter, Invalid Payload
          schema:
            $ref: '#/definitions/Response.Error'
        401:
          description: Member does not belong to the organization, Please provide
            access token, Unexpected service access token
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Unknown section content id, Unknown content group type, Organization
            does not have the requested product configuration
          schema:
            $ref: '#/definitions/Response.Error'
        503:
          description: The server is currently unavailable
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.Authorization.Required'
    - $ref: '#/parameters/Parameter.Header.Product.Optional'
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Get.Locale'
    - $ref: '#/parameters/Parameter.Path.OrganizationGuid'
    - name: product_id
      in: path
      description: Product ID
      required: true
      type: string
    - name: license_configuration_id
      in: path
      description: License configuration ID
      required: true
      type: string
  /Media/1/Search/Files:
    get:
      tags:
      - Media
      summary: File search
      description: Search for media files offered for selling. See details <a href='https://wiki.corp.adobe.com/display/adobestock/Stock+Search+API#StockSearchAPI-Method:Rest/Media/1/Search/Files'>here</a>.
      responses:
        200:
          description: An array of search items
          schema:
            $ref: '#/definitions/Response.Files'
        400:
          description: Invalid input parameters
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Response.Error'
        403:
          description: Safe search is on
          schema:
            $ref: '#/definitions/Response.Error'
    post:
      tags:
      - Media
      summary: File search
      description: Search for media files offered for selling. See details <a href='https://wiki.corp.adobe.com/display/adobestock/Stock+Search+API#StockSearchAPI-Method:Rest/Media/1/Search/Files'>here</a>.
      consumes:
      - application/json
      - multipart/form-data
      parameters:
      - name: similar_image
        in: formData
        description: image data to use for visual similarity search. Use multipart/form-data.
          Ignored if search_parameters[similar_url] is specified.
        type: file
      responses:
        200:
          description: An array of search items
          schema:
            $ref: '#/definitions/Response.Files'
        400:
          description: Invalid input parameters
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Response.Error'
    parameters:
    - $ref: '#/parameters/Parameter.Header.ApiKey'
    - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
    - $ref: '#/parameters/Parameter.Header.Product'
    - $ref: '#/parameters/Parameter.Header.ProductLocation'
    - $ref: '#/parameters/Parameter.Header.RequestId'
    - $ref: '#/parameters/Parameter.Get.Locale'
    - name: search_parameters[words]
      in: query
      description: 'Keyword search (words can also be media_id, e.g. #20 #21 #22)'
      type: string
    - name: search_parameters[limit]
      in: query
      description: Maximum number of media returned
      type: string
      default: "32"
    - name: search_parameters[offset]
      in: query
      description: Start position in query
      type: string
      default: "0"
    - name: search_parameters[order]
      in: query
      description: Sort order
      type: string
      default: relevance
      enum:
      - relevance
      - price_1
      - creation
      - popularity
      - nb_views
      - nb_downloads
      - undiscovered
    - name: search_parameters[creator_id]
      in: query
      description: Search by creator
      type: integer
    - name: search_parameters[media_id]
      in: query
      description: Search by media id
      type: integer
    - name: search_parameters[model_id]
      in: query
      description: Search by same model
      type: integer
    - name: search_parameters[serie_id]
      in: query
      description: Search by same series
      type: integer
    - name: search_parameters[similar]
      in: query
      description: Search by similar media (similar_content_id)
      type: integer
    - name: search_parameters[category]
      in: query
      description: Search by category (e.g. 614)
      type: integer
    - name: search_parameters[filters][has_releases]
      in: query
      description: People filter
      type: string
      default: all
      enum:
      - "true"
      - "false"
      - all
    - name: search_parameters[filters][content_type:photo]
      in: query
      description: Search for photos
      type: integer
      default: 0
      enum:
      - 0
      - 1
    - name: search_parameters[filters][content_type:illustration]
      in: query
      description: Search for illustrations
      type: integer
      default: 0
      enum:
      - 0
      - 1
    - name: search_parameters[filters][content_type:vector]
      in: query
      description: Search for vectors
      type: integer
      default: 0
      enum:
      - 0
      - 1
    - name: search_parameters[filters][content_type:video]
      in: query
      description: Search for videos
      type: integer
      default: 0
      enum:
      - 0
      - 1
    - name: search_parameters[filters][content_type:template]
      in: query
      description: Search for templates
      type: integer
      default: 0
      enum:
      - 0
      - 1
    - name: search_parameters[filters][content_type:all]
      in: query
      description: Search for all files (default)
      type: integer
      default: 1
      enum:
      - 0
      - 1
    - name: search_parameters[filters][offensive:2]
      in: query
      description: Explicit/Charm/Nudity/Violence included
      type: integer
      default: 0
      enum:
      - 0
      - 1
    - name: search_parameters[filters][isolated:on]
      in: query
      description: Isolated contents
      type: integer
      default: 0
      enum:
      - 0
      - 1
    - name: search_parameters[filters][panoramic:on]
      in: query
      description: Panoramic images (can be combined with orientation)
      type: integer
      default: 0
      enum:
      - 0
      - 1
    - name: search_parameters[filters][orientation]
      in: query
      description: Image orientation
      type: string
      default: all
      enum:
      - horizontal
      - vertical
      - square
      - panoramic
      - all
    - name: search_parameters[filters][age]
      in: query
      description: Image age (weeks, months, years)
      type: string
      default: all
      enum:
      - 1w
      - 1m
      - 6m
      - 1y
      - 2y
      - all
    - name: search_parameters[filters][video_duration]
      in: query
      description: Max video duration (sec)
      type: string
      default: all
      enum:
      - "10"
      - "20"
      - "30"
      - all
    - name: search_parameters[filters][colors]
      in: query
      description: 'Comma separated listed of hexadecimal colors (without any # prefix)'
      type: string
    - name: search_parameters[thumbnail_size]
      in: query
      description: Thumbnail size (px)
      type: integer
      default: 400
      enum:
      - 110
      - 160
      - 400
    - name: search_parameters[filters][mogrt_source]
      in: query
      description: Comma separated listed of mogrt sources (aegraphic or prgraphic
        or both)
      type: string
    - name: search_parameters[filters][mogrt_api_version]
      in: query
      description: mogrt api version such as 1.3, 1.4, 1.5. (Negative number is invalid)
      type: string
    - name: search_parameters[filters][area_m_pixels]
      in: query
      description: Range in mega pixels such as 0-1, 10-50
      type: string
    - name: search_parameters[filters][mobile_compatibility_version]
      in: query
      description: mobile compatibility version of mogrt. (An example 201710)
      type: string
    - name: search_parameters[filters][image_width]
      in: query
      description: Width of an image in pixels. Min and max are optional and default
        to open ranges. An example of a range is 250-450
      type: string
    - name: search_parameters[filters][image_height]
      in: query
      description: Height of an image in pixels. Min and max are optional and default
        to open ranges. An example of a range is 250-450
      type: string
    - name: result_columns[]
      in: query
      description: Fields you want to have included in the search result ('is_licensed'
        requires authentication)
      type: array
      items:
        type: string
      collectionFormat: multi
      default:
      - nb_results
      - id
      - title
      - width
      - height
      - creator_name
      - creator_id
      - thumbnail_url
      - thumbnail_html_tag
      - thumbnail_width
      - thumbnail_height
      - media_type_id
      - vector_type
      - content_type
      - category
      - stock_id
      enum:
      - nb_results
      - id
      - title
      - creator_name
      - creator_id
      - country_name
      - width
      - height
      - media_type_id
      - vector_type
      - nb_views
      - nb_downloads
      - creation_date
      - keywords
      - has_releases
      - category
      - category_hierarchy
      - is_licensed
      - content_type
      - stock_id
      - thumbnail_url
      - thumbnail_html_tag
      - thumbnail_width
      - thumbnail_height
      - mogrt_metadata_url
      - comp_url
      - comp_width
      - comp_height
      - framerate
      - duration
      - comps
      - details_url
      - premium_level_id
      - is_illustrative
      - 3d_type_id
      - video_preview_url
      - video_preview_height
      - video_preview_width
      - video_preview_content_length
      - video_preview_content_type
      - video_small_preview_url
      - video_small_preview_height
      - video_small_preview_width
      - video_small_preview_content_length
      - video_small_preview_content_type
  /Media/1/Files/:
    get:
      tags:
      - Media
      summary: Bulk file data retrieval
      description: Retrieve media files in bulk. See <a href='https://wiki.corp.adobe.com/display/adobestock/Files+API'>the
        design document</a> for more details.
      parameters:
      - $ref: '#/parameters/Parameter.Header.ApiKey'
      - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
      - $ref: '#/parameters/Parameter.Header.Product'
      - $ref: '#/parameters/Parameter.Header.ProductLocation'
      - $ref: '#/parameters/Parameter.Header.RequestId'
      - $ref: '#/parameters/Parameter.Get.Locale'
      - name: ids
        in: query
        description: Comma-separated list of file IDs, e.g. 'ids=100,101'
        required: true
        type: string
      - name: result_columns[]
        in: query
        description: Fields you want to have included in the search result ('is_licensed'
          requires authentication)
        type: array
        items:
          type: string
        collectionFormat: multi
        default:
        - id
        enum:
        - nb_results
        - id
        - title
        - creator_name
        - creator_id
        - country_name
        - width
        - height
        - media_type_id
        - vector_type
        - nb_views
        - nb_downloads
        - creation_date
        - has_releases
        - category
        - category_hierarchy
        - is_licensed
        - is_illustrative
        - content_type
        - stock_id
        - thumbnail_url
        - thumbnail_html_tag
        - thumbnail_width
        - thumbnail_height
        - comp_url
        - comp_width
        - comp_height
        - framerate
        - duration
        - comps
        - details_url
        - premium_level_id
        - 3d_type_id
        - is_editorial
        - licenses
      responses:
        200:
          description: An array of file data
          schema:
            $ref: '#/definitions/Response.Files'
        400:
          description: Invalid input parameters
          schema:
            $ref: '#/definitions/Response.Error'
        404:
          description: Unknown id supplied in 'ids' parameter
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Response.Error'
  /Media/1/Search/CategoryTree:
    get:
      tags:
      - Media
      summary: Sub-categories details.
      description: Retrieve a list of 1th level sub-categories for the provided parent
        category. See details <a href='https://wiki.corp.adobe.com/display/adobestock/Category+Tree+API'>here</a>.
      parameters:
      - $ref: '#/parameters/Parameter.Header.ApiKey'
      - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
      - $ref: '#/parameters/Parameter.Header.Product'
      - $ref: '#/parameters/Parameter.Header.ProductLocation'
      - $ref: '#/parameters/Parameter.Header.RequestId'
      - $ref: '#/parameters/Parameter.Get.Locale'
      - $ref: '#/parameters/Parameter.Get.CategoryId'
      responses:
        200:
          description: A list of sub-categories
          schema:
            $ref: '#/definitions/Response.Categories'
          examples:
            application/json:
            - id: 615
              link: /Category/fall/615
              name: Fall
            - id: 616
              link: /Category/spring/616
              name: Spring
            - id: 617
              link: /Category/summer/617
              name: Summer
            - id: 618
              link: /Category/winter/618
              name: Winter
        400:
          description: Invalid input parameters
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Response.Error'
  /Media/1/Search/Category:
    get:
      tags:
      - Media
      summary: Category details.
      description: Retrieve category details by the provided id. See details <a href='https://wiki.corp.adobe.com/display/adobestock/Category+API'>here</a>.
      parameters:
      - $ref: '#/parameters/Parameter.Header.ApiKey'
      - $ref: '#/parameters/Parameter.Header.Authorization.Optional'
      - $ref: '#/parameters/Parameter.Header.Product'
      - $ref: '#/parameters/Parameter.Header.ProductLocation'
      - $ref: '#/parameters/Parameter.Header.RequestId'
      - $ref: '#/parameters/Parameter.Get.Locale'
      - $ref: '#/parameters/Parameter.Get.CategoryId'
      responses:
        200:
          description: Category details
          schema:
            $ref: '#/definitions/Response.Category'
          examples:
            application/json:
              id: 615
              link: /Category/fall/615
              name: Fall
        400:
          description: Invalid input parameters
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Response.Error'
  /Media/1/Search/Templates:
    get:
      tags:
      - Media
      summary: Retrieve templates from Adobe Stock.
      description: Retrieve templates. See <a href='https://wiki.corp.adobe.com/display/adobestock/Template+Search+API'>the
        design document</a> for more details.
      parameters:
      - $ref: '#/parameters/Parameter.Header.ApiKey'
      - $ref: '#/parameters/Parameter.Header.Product'
      - $ref: '#/parameters/Parameter.Header.ProductLocation'
      - $ref: '#/parameters/Parameter.Header.RequestId'
      - $ref: '#/parameters/Parameter.Get.Locale'
      - name: product
        in: query
        description: 'Templates will be returned based on product identifier and version.
          Example: PHXS/15.2.0'
        required: true
        type: string
      - name: country_code
        in: query
        description: Country code. Determines pricing
        type: string
        default: US
      - name: search_parameters[limit]
        in: query
        description: determines pagination limit
        type: integer
        default: "100"
      - name: search_parameters[offset]
        in: query
        description: determines pagination offset
        type: integer
        default: "0"
      responses:
        200:
          description: An array of file data
          schema:
            required:
            - templates
            properties:
              nb_results:
                description: Total number of templates found
                type: integer
              ExpirationDTS:
                description: expiration of content
                type: integer
              templates:
                description: Templates
                type: array
                items:
                  $ref: '#/definitions/Template'
            type: object
        400:
          description: Missing required parameter
          schema:
            $ref: '#/definitions/Response.Error'
        500:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Response.Error'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":69:{s:13:\"Response.Date\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:9:\"formatted\";i:1;s:9:\"timestamp\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Response.Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"case\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Response.Files\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:5:\"files\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"nb_results\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Total
  number of media files found\";s:4:\"type\";s:7:\"integer\";}s:5:\"files\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Media
  files\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Response.File\";}}}s:4:\"type\";s:6:\"object\";}s:13:\"Response.File\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":39:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Item
  id\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Item
  title\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Item
  width\";s:4:\"type\";s:7:\"integer\";}s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Item
  height\";s:4:\"type\";s:7:\"integer\";}s:12:\"creator_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Creator
  name\";s:4:\"type\";s:6:\"string\";}s:10:\"creator_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Creator
  unique id\";s:4:\"type\";s:7:\"integer\";}s:13:\"creation_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Creation
  date (e.g 2015-09-23 14:52:12.24501)\";s:4:\"type\";s:6:\"string\";}s:12:\"country_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Country
  name\";s:4:\"type\";s:6:\"string\";}s:13:\"media_type_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Type
  of media (1 - photo, 2 - illustration, 3 - vector, 4 - video, 7 - template)\";s:4:\"type\";s:7:\"integer\";s:4:\"enum\";a:5:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:7;}}s:11:\"vector_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"If
  the file is a vector indicates if its a svg or a ai/eps (reported as zip)\";s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:12:\"content_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Content
  type of the file (e.g. image/jpeg)\";s:4:\"type\";s:6:\"string\";}s:18:\"category_hierarchy\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Search
  item categories list\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Response.Category\";}}s:8:\"nb_views\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Number
  of views\";s:4:\"type\";s:7:\"integer\";}s:12:\"nb_downloads\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Number
  of downloads\";s:4:\"type\";s:7:\"integer\";}s:8:\"keywords\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Item
  keywords\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Response.Keyword\";}}s:12:\"has_releases\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"People
  boolean flag\";s:4:\"type\";s:7:\"integer\";s:4:\"enum\";a:2:{i:0;i:1;i:1;i:0;}}s:8:\"stock_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Stock
  identifier\";s:4:\"type\";s:6:\"string\";}s:11:\"is_licensed\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"License
  type\";s:4:\"type\";s:6:\"string\";}s:13:\"thumbnail_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Thumbnail
  URL\";s:4:\"type\";s:6:\"string\";}s:18:\"thumbnail_html_tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Thumbnail
  HTML img tag\";s:4:\"type\";s:6:\"string\";}s:15:\"thumbnail_width\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Thumbnail
  width\";s:4:\"type\";s:7:\"integer\";}s:16:\"thumbnail_height\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Thumbnail
  height\";s:4:\"type\";s:7:\"integer\";}s:8:\"comp_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Comp
  URL\";s:4:\"type\";s:6:\"string\";}s:10:\"comp_width\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Comp
  width\";s:4:\"type\";s:7:\"integer\";}s:11:\"comp_height\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Comp
  height\";s:4:\"type\";s:7:\"integer\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Video
  duration. If null then this response column was requested for an asset that is not
  a video.\";s:4:\"type\";a:2:{i:0;s:7:\"integer\";i:1;s:4:\"null\";}}s:9:\"framerate\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Video
  framerate. If null then this response column was requested for an asset that is
  not a video.\";s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:5:\"comps\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Response.Comps\";}s:11:\"details_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"URL
  to AdobeStock with content details\";s:4:\"type\";s:6:\"string\";}s:17:\"video_preview_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"URL
  to the regular video preview\";s:4:\"type\";s:6:\"string\";}s:19:\"video_preview_width\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Width
  of the regular video preview in pixels\";s:4:\"type\";s:7:\"integer\";}s:20:\"video_preview_height\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Height
  of the regular video preview in pixels\";s:4:\"type\";s:7:\"integer\";}s:28:\"video_preview_content_length\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"File
  size of the regular preview in bytes\";s:4:\"type\";s:7:\"integer\";}s:26:\"video_preview_content_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Content
  type (i.e. MIME type) of the regular preview\";s:4:\"type\";s:6:\"string\";}s:23:\"video_small_preview_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"URL
  to the small video preview\";s:4:\"type\";s:6:\"string\";}s:25:\"video_small_preview_width\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Width
  of the small video preview in pixels\";s:4:\"type\";s:7:\"integer\";}s:26:\"video_small_preview_height\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Height
  of the small video preview in pixels\";s:4:\"type\";s:7:\"integer\";}s:34:\"video_small_preview_content_length\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"File
  size of the small preview in bytes\";s:4:\"type\";s:7:\"integer\";}s:32:\"video_small_preview_content_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Content
  type (i.e. MIME type) of the small preview\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Response.Comps\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  of asset comps\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Standard\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Response.Comp\";}s:8:\"Video_HD\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Response.Comp\";}s:8:\"Video_4K\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Response.Comp\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Response.Comp\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Watermarked
  comp info\";s:8:\"required\";a:3:{i:0;s:3:\"url\";i:1;s:5:\"width\";i:2;s:6:\"height\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"URL
  to download watermarked comp file\";s:4:\"type\";s:6:\"string\";}s:12:\"content_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Comp
  MIME type (e.g. application/illustrator)\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Comp
  width\";s:4:\"type\";s:7:\"integer\";}s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Comp
  height\";s:4:\"type\";s:7:\"integer\";}s:9:\"framerate\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Video
  framerate\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Video
  duration\";s:4:\"type\";s:7:\"integer\";}s:14:\"content_length\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Video
  content length\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"Response.Keyword\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Search
  item keyword\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Keyword\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"Response.Categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  list of 1th level child categories\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Response.Category\";}}s:17:\"Response.Category\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Category
  details\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Category
  id\";s:4:\"type\";s:7:\"integer\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Relative
  URL pointing to category page at AdobeStock\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Category
  name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"Response.Profiles\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  list of member profiles\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Response.Profile\";}}s:16:\"Response.Profile\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Member
  profile details\";s:8:\"required\";a:2:{i:0;s:4:\"guid\";i:1;s:13:\"creation_date\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"guid\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Member
  GUID (e.g. EBB978DB554BC9237F000101@AdobeID)\";s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:13:\"creation_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Member
  registration date (e.g. 2015-05-07 15:20:55)\";s:4:\"type\";s:6:\"string\";}s:12:\"entitlements\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Response.Entitlement\";}}}s:4:\"type\";s:6:\"object\";}s:24:\"Response.ProfileExtended\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Member
  profile details\";s:8:\"required\";a:2:{i:0;s:4:\"guid\";i:1;s:13:\"creation_date\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"guid\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Member
  GUID (e.g. EBB978DB554BC9237F000101@AdobeID)\";s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}s:7:\"example\";s:32:\"EBB978DB554BC9237F000101@AdobeID\";}s:13:\"creation_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Member
  registration date (e.g. 2015-05-07 15:20:55)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2015-05-07
  15:20:55\";}s:13:\"organizations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Response.Organization\";}}}s:4:\"type\";s:6:\"object\";}s:21:\"Response.Organization\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Organization
  details\";s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:12:\"entitlements\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Organization
  id\";s:4:\"type\";a:2:{i:0;s:7:\"integer\";i:1;s:4:\"null\";}s:7:\"example\";s:6:\"123456\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Organization
  name\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Adobe Stock\";}s:12:\"entitlements\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/Response.EntitlementExtended\";}}}s:4:\"type\";s:6:\"object\";}s:20:\"Response.Entitlement\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Entitlement
  details\";s:8:\"required\";a:7:{i:0;s:14:\"entitlement_id\";i:1;s:5:\"label\";i:2;s:8:\"creation\";i:3;s:20:\"nb_active_allotments\";i:4;s:18:\"licenses_available\";i:5;s:13:\"licenses_used\";i:6;s:11:\"has_overage\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"entitlement_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Entitlement
  id\";s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Entitlement
  type label (e.g. Personal)\";s:4:\"type\";s:6:\"string\";}s:4:\"guid\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Entitlement
  GUID\";s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:8:\"creation\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Entitlement
  creation date (e.g. 2015-05-07 15:20:55)\";s:4:\"type\";s:6:\"string\";}s:20:\"nb_active_allotments\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Number
  of active allotments\";s:4:\"type\";s:7:\"integer\";}s:18:\"licenses_available\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Number
  of available licenses\";s:4:\"type\";s:7:\"integer\";}s:13:\"licenses_used\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Number
  of already used licences\";s:4:\"type\";s:7:\"integer\";}s:11:\"has_overage\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Flag
  whether overage is available for this entitlement\";s:4:\"type\";s:7:\"boolean\";}s:14:\"suspended_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Suspension
  date (e.g. 2015-05-07 15:20:55)\";s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}}s:4:\"type\";s:6:\"object\";}s:28:\"Response.EntitlementExtended\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Entitlement
  details\";s:8:\"required\";a:9:{i:0;s:14:\"entitlement_id\";i:1;s:5:\"label\";i:2;s:8:\"creation\";i:3;s:20:\"nb_active_allotments\";i:4;s:18:\"licenses_available\";i:5;s:13:\"licenses_used\";i:6;s:11:\"has_overage\";i:7;s:22:\"is_default_entitlement\";i:8;s:14:\"suspended_date\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"entitlement_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Entitlement
  id\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:6:\"123456\";}s:5:\"label\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Entitlement
  type label (e.g. Personal)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"New
  Stock Project\";}s:4:\"guid\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Entitlement
  GUID\";s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}s:7:\"example\";s:33:\"EBB978DB554BC9237F000101@AdobeOrg\";}s:8:\"creation\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Entitlement
  creation date (e.g. 2015-05-07 15:20:55)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2015-05-07
  15:20:55\";}s:20:\"nb_active_allotments\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Number
  of active allotments\";s:4:\"type\";s:7:\"integer\";}s:18:\"licenses_available\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Number
  of available licenses\";s:4:\"type\";s:7:\"integer\";}s:13:\"licenses_used\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Number
  of already used licences\";s:4:\"type\";s:7:\"integer\";}s:11:\"has_overage\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Flag
  whether overage is available for this entitlement\";s:4:\"type\";s:7:\"boolean\";}s:22:\"is_default_entitlement\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"True
  if this entitlement is the default one for given user\";s:4:\"type\";s:7:\"boolean\";}s:14:\"suspended_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Suspension
  date (e.g. 2015-05-07 15:20:55)\";s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}s:7:\"example\";s:19:\"2015-05-07
  15:20:55\";}}s:4:\"type\";s:6:\"object\";}s:25:\"Response.ShortEntitlement\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Entitlement
  details\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Entitlement
  id\";s:4:\"type\";s:7:\"integer\";}s:4:\"guid\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Entitlement
  GUID\";s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}}s:4:\"type\";s:6:\"object\";}s:19:\"Response.Allotments\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:8:\"nb_pages\";i:1;s:10:\"allotments\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nb_pages\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Total
  number of pages (50 allotments per page)\";s:4:\"type\";s:7:\"integer\";}s:10:\"allotments\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Allotments\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Response.Allotment\";}}}s:4:\"type\";s:6:\"object\";}s:18:\"Response.Allotment\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Allotment
  details\";s:8:\"required\";a:9:{i:0;s:12:\"allotment_id\";i:1;s:4:\"type\";i:2;s:11:\"product_key\";i:3;s:9:\"order_num\";i:4;s:3:\"sao\";i:5;s:18:\"creation_timestamp\";i:6;s:20:\"expiration_timestamp\";i:7;s:10:\"quota_used\";i:8;s:15:\"quota_available\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"allotment_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Id
  (e.g. 120079)\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Type
  (e.g. Overage, On-Demand, Yearly)\";s:4:\"type\";s:6:\"string\";}s:11:\"product_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Product
  key (e.g. /Applications/CC/PSLRStockBundle)\";s:4:\"type\";s:6:\"string\";}s:9:\"order_num\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Order
  number\";s:4:\"type\";s:6:\"string\";}s:3:\"sao\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"SAO
  id (e.g. 32432ECB555A4F970A74503A)\";s:4:\"type\";s:6:\"string\";}s:18:\"creation_timestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Creation
  timestamp (e.g. 1438976019.44047)\";s:4:\"type\";s:6:\"string\";}s:20:\"expiration_timestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Expiration
  timestamp (e.g. 1474570423.23173)\";s:4:\"type\";s:6:\"string\";}s:10:\"quota_used\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Number
  of licences used\";s:4:\"type\";s:7:\"integer\";}s:15:\"quota_available\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Number
  of licences available\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"Response.Downloads\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:8:\"nb_pages\";i:1;s:9:\"downloads\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nb_pages\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Total
  number of pages (50 downloads per page)\";s:4:\"type\";s:7:\"integer\";}s:9:\"downloads\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Download\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Response.Download\";}}}s:4:\"type\";s:6:\"object\";}s:17:\"Response.Download\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Download
  details\";s:8:\"required\";a:4:{i:0;s:7:\"file_id\";i:1;s:8:\"file_url\";i:2;s:15:\"downloaded_date\";i:3;s:7:\"license\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"file_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"File
  id (e.g. 63878698)\";s:4:\"type\";s:7:\"integer\";}s:8:\"file_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Absolute
  URL to download the file\";s:4:\"type\";s:6:\"string\";}s:15:\"downloaded_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Download
  date (e.g. 2015-09-22 18:52:51)\";s:4:\"type\";s:6:\"string\";}s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Response.License\";}}s:4:\"type\";s:6:\"object\";}s:25:\"Response.DownloadExtended\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Download
  details\";s:8:\"required\";a:4:{i:0;s:4:\"id32\";i:1;s:10:\"license_id\";i:2;s:9:\"member_id\";i:3;s:14:\"entitlement_id\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Download
  unique id\";s:4:\"type\";s:7:\"integer\";}s:4:\"id32\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Download
  unique hash\";s:4:\"type\";s:6:\"string\";}s:10:\"license_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Download
  license id\";s:4:\"type\";s:7:\"integer\";}s:15:\"license_type_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Download
  license type id\";s:4:\"type\";s:7:\"integer\";}s:9:\"member_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Download
  member id\";s:4:\"type\";s:7:\"integer\";}s:14:\"entitlement_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Download
  entitlement id\";s:4:\"type\";s:7:\"integer\";}s:10:\"content_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Download
  content id\";s:4:\"type\";s:7:\"integer\";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Download
  reference id\";s:4:\"type\";s:6:\"string\";}s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Response.Date\";}}s:4:\"type\";s:6:\"object\";}s:16:\"Response.License\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"License
  type\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:8:\"Standard\";i:1;s:8:\"Extended\";i:2;s:8:\"Video_HD\";i:3;s:8:\"Video_4K\";}}s:17:\"Response.Contents\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"63878698\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Response.ContentItem\";}}}s:4:\"type\";s:6:\"object\";}s:15:\"Response.Member\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Member
  info\";s:8:\"required\";a:1:{i:0;s:8:\"stock_id\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"stock_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Member
  id or content.id32 plus member id if content has been downloaded (e.g. '6521' or
  'h7JeafbSdXXVdnELwREfbg1zrgfqbxr8,6521')\";s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:7:\"integer\";}}}s:4:\"type\";s:6:\"object\";}s:20:\"Response.ShortMember\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Member
  info\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"guid\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Member
  id\";s:4:\"type\";s:7:\"integer\";}s:4:\"guid\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Member
  GUID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"Response.AvailableEntitlement\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Entitlement
  info\";s:8:\"required\";a:1:{i:0;s:5:\"quota\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"quota\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Number
  of available licences\";s:4:\"type\";s:7:\"integer\";}s:15:\"license_type_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"License
  type of combined asset and license\";s:4:\"type\";a:2:{i:0;s:7:\"integer\";i:1;s:4:\"null\";}}s:16:\"has_credit_model\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Has
  entitlement gen 2 enterprise offer\";s:4:\"type\";s:7:\"boolean\";}s:16:\"has_agency_model\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Has
  entitlement gen 3 enterprise offer\";s:4:\"type\";s:7:\"boolean\";}s:6:\"is_cce\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Is
  entitlement enterprise\";s:4:\"type\";s:7:\"boolean\";}s:22:\"full_entitlement_quota\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/Response.Full_Entitlement_Quota\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:31:\"Response.Full_Entitlement_Quota\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"More
  detailed information about the entitlements quota\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"image_quota\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Available
  quota for core images\";s:4:\"type\";s:7:\"integer\";}s:11:\"video_quota\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Available
  quota for HD videos\";s:4:\"type\";s:7:\"integer\";}s:13:\"credits_quota\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Available
  quota for all non core assets. If the entitlement does not have image_quota then
  credits_quota can also be used for core assets\";s:4:\"type\";s:7:\"integer\";}s:22:\"standard_credits_quota\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Available
  agency quota for core images\";s:4:\"type\";s:7:\"integer\";}s:21:\"premium_credits_quota\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Available
  agency quota for all non core assets\";s:4:\"type\";s:7:\"integer\";}s:23:\"universal_credits_quota\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Available
  agency quota that can be used for any asset\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";a:2:{i:0;s:5:\"array\";i:1;s:6:\"object\";}}s:20:\"Response.ContentItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Content
  item\";s:8:\"required\";a:3:{i:0;s:10:\"content_id\";i:1;s:4:\"size\";i:2;s:16:\"purchase_details\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"content_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"File
  id (e.g. 63878698)\";s:4:\"type\";s:7:\"integer\";s:7:\"default\";s:8:\"63878698\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Size
  type\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"Comp\";i:1;s:8:\"Original\";}}s:16:\"purchase_details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Response.Purchase\";}s:4:\"comp\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Response.Comp\";}s:9:\"thumbnail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Response.Thumbnail\";}}s:4:\"type\";s:6:\"object\";}s:17:\"Response.Purchase\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Content
  purchase info\";s:8:\"required\";a:1:{i:0;s:5:\"state\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Purchase
  state\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:9:\"purchased\";i:1;s:13:\"not_purchased\";i:2;s:9:\"cancelled\";i:3;s:14:\"just_purchased\";i:4;s:12:\"not_possible\";}}s:8:\"stock_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Member
  id\";s:4:\"type\";s:7:\"integer\";}s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Response.License\";}s:4:\"date\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Purchase
  date (e.g. 2016-01-07 20:42:22)\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"URL
  to download purchased file\";s:4:\"type\";s:6:\"string\";}s:12:\"content_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"File
  MIME type (e.g. application/illustrator)\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"File
  width\";s:4:\"type\";s:7:\"integer\";}s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"File
  height\";s:4:\"type\";s:7:\"integer\";}s:9:\"framerate\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Video
  framerate\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Video
  duration\";s:4:\"type\";s:7:\"integer\";}s:14:\"content_length\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Video
  content length\";s:4:\"type\";s:7:\"integer\";}s:9:\"cancelled\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Cancellation
  date (e.g. 2016-01-07 20:42:22)\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Message
  body\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"Response.Thumbnail\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Thumbnail
  info\";s:8:\"required\";a:4:{i:0;s:3:\"url\";i:1;s:12:\"content_type\";i:2;s:5:\"width\";i:3;s:6:\"height\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URL
  to thumbnail file\";s:4:\"type\";s:6:\"string\";}s:12:\"content_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Thumbnail
  MIME type (e.g. image/jpeg)\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Thumbnail
  width\";s:4:\"type\";s:7:\"integer\";}s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Thumbnail
  height\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Response.Buyer\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Member
  profile info\";s:8:\"required\";a:3:{i:0;s:21:\"available_entitlement\";i:1;s:6:\"member\";i:2;s:16:\"purchase_options\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"available_entitlement\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/Response.AvailableEntitlement\";}s:6:\"member\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Response.Member\";}s:16:\"purchase_options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/Response.PurchaseOptions\";}}s:4:\"type\";s:6:\"object\";}s:22:\"Response.BuyerPurchase\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Member
  purchase info\";s:8:\"required\";a:2:{i:0;s:6:\"member\";i:1;s:8:\"contents\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"available_entitlement\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/Response.AvailableEntitlement\";}s:6:\"member\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Response.Member\";}s:8:\"contents\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Response.Contents\";}}s:4:\"type\";s:6:\"object\";}s:24:\"Response.PurchaseOptions\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Buyer
  purchase options\";s:8:\"required\";a:2:{i:0;s:5:\"state\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Purchase
  ability state\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:8:\"possible\";i:1;s:7:\"overage\";i:2;s:12:\"not_possible\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Extra
  message\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Jump
  URL for users without any available entitlement\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"Response.PurchaseStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Product
  purchase status\";s:8:\"required\";a:2:{i:0;s:5:\"order\";i:1;s:8:\"offering\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Response.Order\";}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Response.Product\";}s:8:\"offering\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Response.Offering\";}}s:4:\"type\";s:6:\"object\";}s:17:\"Response.Offering\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"JIL
  offering\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:5:\"price\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"JIL
  offering id\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Response.MoneyAmount\";}s:10:\"promotions\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of available promotions\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Response.Promotion\";}}}s:4:\"type\";s:6:\"object\";}s:20:\"Response.MoneyAmount\";O:8:\"stdClass\":4:{s:11:\"description\";s:5:\"Price\";s:8:\"required\";a:3:{i:0;s:9:\"formatted\";i:1;s:8:\"currency\";i:2;s:6:\"number\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"formatted\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Formatted
  price with currency\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Currency
  ISO code\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Non
  formatted price number\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"Response.Promotion\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Promotion\";s:8:\"required\";a:1:{i:0;s:13:\"extended_code\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"extended_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Promotion
  extended code\";s:4:\"type\";s:6:\"string\";}s:13:\"commerce_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Promotion
  commerce code\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"Response.PurchaseMethod\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Content
  purchase method\";s:8:\"required\";a:1:{i:0;s:6:\"method\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"method\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Purchase
  method\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"overage\";i:1;s:8:\"checkout\";}}}s:4:\"type\";s:6:\"object\";}s:24:\"Response.OveragePurchase\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Overage
  purchase data\";s:8:\"required\";a:5:{i:0;s:5:\"order\";i:1;s:7:\"product\";i:2;s:6:\"member\";i:3;s:11:\"entitlement\";i:4;s:8:\"download\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Response.Order\";}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Response.Product\";}s:8:\"offering\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Response.Offering\";}s:6:\"member\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Response.ShortMember\";}s:11:\"entitlement\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/Response.ShortEntitlement\";}s:8:\"download\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/Response.DownloadExtended\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Response.Order\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Order
  data\";s:8:\"required\";a:1:{i:0;s:6:\"status\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Internal
  Adobe order id\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Public
  Adobe order number\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Adobe
  order status\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:18:{i:0;s:9:\"FULFILLED\";i:1;s:6:\"FAILED\";i:2;s:15:\"REVIEW_ACCEPTED\";i:3;s:4:\"OPEN\";i:4;s:12:\"UNAUTHORIZED\";i:5;s:9:\"CANCELLED\";i:6;s:13:\"FAILED_REVIEW\";i:7;s:14:\"REVIEW_EXPIRED\";i:8;s:9:\"IN_REVIEW\";i:9;s:18:\"IN_REVIEW_NOTIFIED\";i:10;s:20:\"HELD_OFFLINE_PAYMENT\";i:11;s:17:\"HELD_UNAUTHORIZED\";i:12;s:20:\"HELD_FOR_MANUAL_AUTH\";i:13;s:9:\"SUBMITTED\";i:14;s:11:\"IN_PROGRESS\";i:15;s:17:\"PAYPAL_INITIALIZE\";i:16;s:9:\"VALIDATED\";i:17;s:3:\"NEW\";}}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Response.Date\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Response.MoneyAmount\";}s:8:\"subtotal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Response.MoneyAmount\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Response.MoneyAmount\";}s:7:\"savings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Response.MoneyAmount\";}s:16:\"savings_with_tax\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Response.MoneyAmount\";}s:10:\"promotions\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of applied promotions\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Response.Promotion\";}}}s:4:\"type\";s:6:\"object\";}s:16:\"Response.Product\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Product\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"asset_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Internal
  product type name\";s:4:\"type\";s:6:\"string\";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"TypeKit
  reference id\";s:4:\"type\";s:6:\"string\";}s:11:\"product_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Product
  key\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"Response.LinksHref\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Links
  href\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URL
  for this resource\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"Response.LinksEnvelope\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Links
  envelope\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Response.LinksHref\";}}s:4:\"type\";s:6:\"object\";}s:18:\"Response.PackQuota\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Quota
  for a pack\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"total
  quota bought with a credit pack\";s:4:\"type\";s:7:\"integer\";}s:9:\"available\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"available
  quota of a credit pack\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Response.Pack\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Credit
  pack\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Uuid
  for credit pack\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Credit
  pack type\";s:4:\"type\";s:6:\"string\";}s:7:\"is_free\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Set
  to true if credit pack was added without an order to eComm\";s:4:\"type\";s:7:\"boolean\";}s:5:\"quota\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Response.PackQuota\";}s:10:\"expiration\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Credit
  pack expiration timestamp\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"Response.ListCredits\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Credit
  packs\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/Response.LinksEnvelope\";}s:5:\"packs\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"List
[...]
