---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:4:\"v1.0\";s:5:\"title\";s:27:\"Sample
  API information Data\";s:11:\"description\";s:36:\"Swagger specification for Sample
  API\";}"
host: api.lbg.xyz
basePath: /localhost
paths:
  /customerDetails:
    get:
      tags:
      - Products
      description: Gets Customer records
      produces:
      - application/json
      parameters:
      - name: AccountNumber
        in: query
        description: Account number
        required: true
        pattern: ^[0-9]{8}$
        type: string
      - name: SortCode
        in: query
        description: Sort Code
        type: string
        required: true
        pattern: ^[0-9]{6}$
      - name: ProductCategory
        in: query
        description: Product Category (BCA/PCA)
        type: string
        required: false
        enum:
        - BCA
        - PCA
      responses:
        200:
          description: Successful response with `Products` data
          headers:
            Strict-Transport-Security:
              type: string
              description: HTTPS strict transport security header
              default: max-age=0
            Etag:
              type: string
              description: A unique ID identifying whether this resource has changed
            Cache-Control:
              type: string
              description: Describes how long this response can be cached
              default: max-age=0
            X-Frame-Options:
              type: string
              description: Prevent this request from being loaded in any iframes
              default: DENY
            X-Content-Type-Options:
              type: string
              description: Ensures each page has a content type and prevents browsers
                from doing MIME type sniffing
              default: nosniff
          schema:
            $ref: '#/definitions/PartyDetails'
        400:
          description: The requested operation will not be carried out
          headers:
            Strict-Transport-Security:
              type: string
              description: HTTPS strict transport security header
            X-Frame-Options:
              type: string
              description: Prevent this request from being loaded in any iframes
              default: DENY
            X-Content-Type-Options:
              type: string
              description: Ensures each page has a content type and prevents browsers
                from doing MIME type sniffing
              default: nosniff
            Status Code:
              type: integer
              description: The HTTP status code defining the error
              default: 400
          schema:
            title: 400 Bad Request
            type: object
            properties:
              error:
                type: object
                properties:
                  statusCode:
                    type: string
                    enum:
                    - "400"
                  message:
                    type: string
                    enum:
                    - Account Request has malformed, missing or non-compliant JSON
                      body or URL parameters
                required:
                - statusCode
                - message
                additionalProperties: false
        401:
          description: The operation was refused access.
          headers:
            Strict-Transport-Security:
              type: string
              description: HTTPS strict transport security header
            X-Frame-Options:
              type: string
              description: Prevent this request from being loaded in any iframes
              default: DENY
            X-Content-Type-Options:
              type: string
              description: Ensures each page has a content type and prevents browsers
                from doing MIME type sniffing
              default: nosniff
            Status Code:
              type: integer
              description: The HTTP status code defining the error
              default: 401
          schema:
            title: 401 Unauthorized
            type: object
            properties:
              error:
                type: object
                properties:
                  statusCode:
                    type: string
                    enum:
                    - "404"
                  message:
                    type: string
                    enum:
                    - Authorization header missing or invalid token
                required:
                - statusCode
                - message
                additionalProperties: false
        403:
          description: The operation was refused access.
          headers:
            Strict-Transport-Security:
              type: string
              description: HTTPS strict transport security header
            X-Frame-Options:
              type: string
              description: Prevent this request from being loaded in any iframes
              default: DENY
            X-Content-Type-Options:
              type: string
              description: Ensures each page has a content type and prevents browsers
                from doing MIME type sniffing
              default: nosniff
            Status Code:
              type: integer
              description: The HTTP status code defining the error
              default: 403
          schema:
            title: 403 Forbidden
            type: object
            properties:
              error:
                type: object
                properties:
                  statusCode:
                    type: string
                    enum:
                    - "403"
                  message:
                    type: string
                    enum:
                    - Token invalid, has incorrect scope or a security policy was
                      violated
                required:
                - statusCode
                - message
                additionalProperties: false
        500:
          description: The operation failed.
          headers:
            Strict-Transport-Security:
              type: string
              description: HTTPS strict transport security header
            X-Frame-Options:
              type: string
              description: Prevent this request from being loaded in any iframes
              default: DENY
            X-Content-Type-Options:
              type: string
              description: Ensures each page has a content type and prevents browsers
                from doing MIME type sniffing
              default: nosniff
            Status Code:
              type: integer
              description: The HTTP status code defining the error
              default: 500
          schema:
            title: 500 Error object
            type: object
            properties:
              error:
                type: object
                properties:
                  statusCode:
                    type: string
                    enum:
                    - "500"
                  message:
                    type: string
                    enum:
                    - Something went wrong on the API gateway or micro-service
                required:
                - statusCode
                - message
                additionalProperties: false
        default:
          description: A standard error response.
          headers:
            Strict-Transport-Security:
              type: string
              description: HTTPS strict transport security header
            X-Frame-Options:
              type: string
              description: Prevent this request from being loaded in any iframes
              default: DENY
            X-Content-Type-Options:
              type: string
              description: Ensures each page has a content type and prevents browsers
                from doing MIME type sniffing
              default: nosniff
            Status Code:
              type: integer
              description: The HTTP status code defining the error
              default: 400
          schema:
            title: Error object
            type: object
            properties:
              error:
                type: object
                properties:
                  statusCode:
                    description: This corresponds to the HTTP status code
                    type: string
                  message:
                    description: Further details describing the error
                    type: string
                required:
                - statusCode
                - message
                additionalProperties: false
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:12:\"PartyDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"Party
  Details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"AccountNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:125:\"A
  unique and immutable identifier used to identify the account resource. This identifier
  has no meaning to the account owner.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:40;}s:8:\"SortCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Sort
  code\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:17:\"Available
  Balance\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Available Balance\";s:4:\"type\";s:6:\"string\";}}}}}}"
...
