---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:5:\"2.1.0\";s:5:\"title\";s:27:\"Global
  Miles E-commerce API\";s:11:\"description\";s:137:\"API for E-commerce Partners.
  This document includes Cart, Discount, Payment, Order and Return related endpoints
  provided by Global Miles.\";}"
host: api.sandbox.globalmiles.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":42:{s:11:\"OrderStatus\";O:8:\"stdClass\":6:{s:5:\"title\";s:11:\"OrderStatus\";s:11:\"description\";s:16:\"An
  order status.\";s:7:\"example\";s:7:\"pending\";s:15:\"x-enum-elements\";a:4:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"pending\";s:11:\"description\";s:7:\"Pending\";}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"refunded\";s:11:\"description\";s:8:\"Refunded\";}i:2;O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"processed\";s:11:\"description\";s:9:\"Processed\";}i:3;O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"partially_refunded\";s:11:\"description\";s:18:\"Partially
  Refunded\";}}s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"pending\";i:1;s:8:\"refunded\";i:2;s:9:\"processed\";i:3;s:18:\"partially_refunded\";}}s:22:\"StartMilePaymentResult\";O:8:\"stdClass\":6:{s:5:\"title\";s:22:\"StartMilePaymentResult\";s:11:\"description\";s:42:\"Result
  object of payment for start action.\";s:7:\"example\";O:8:\"stdClass\":1:{s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"payment_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  token represents a payment object for provisioning.\";s:7:\"example\";s:42:\"\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:23:\"payment_provision_token\";}}s:12:\"ReturnStatus\";O:8:\"stdClass\":6:{s:5:\"title\";s:12:\"ReturnStatus\";s:11:\"description\";s:16:\"A
  return status.\";s:7:\"example\";s:7:\"started\";s:15:\"x-enum-elements\";a:3:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"started\";s:11:\"description\";s:7:\"Started\";}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"cancelled\";s:11:\"description\";s:9:\"Cancelled\";}i:2;O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"completed\";s:11:\"description\";s:9:\"Completed\";}}s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"started\";i:1;s:9:\"cancelled\";i:2;s:9:\"completed\";}}s:22:\"RetrieveReturnResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:22:\"RetrieveReturnResponse\";s:11:\"description\";s:46:\"Response
  object of return for retrieve action.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}i:1;O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:2:\"ok\";s:6:\"result\";O:8:\"stdClass\":6:{s:22:\"return_provision_token\";s:40:\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\";s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"completed\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Return\";}}}}}s:24:\"StartMilePaymentResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"StartMilePaymentResponse\";s:11:\"description\";s:44:\"Response
  object of payment for start action.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}i:1;O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:2:\"ok\";s:6:\"result\";O:8:\"stdClass\":1:{s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/StartMilePaymentResult\";}}}}}s:21:\"RetrieveOrderResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"RetrieveOrderResponse\";s:11:\"description\";s:45:\"Response
  object of order for retrieve action.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}i:1;O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:2:\"ok\";s:6:\"result\";O:8:\"stdClass\":10:{s:17:\"transaction_token\";s:40:\"ort_b3b45895-f961-4cde-b9df-5b274fb757e7\";s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:12:\"completed_at\";s:19:\"2018-01-01T09:00:00\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"processed\";s:8:\"subtotal\";d:90;s:3:\"tax\";d:10.199999999999999;s:5:\"total\";d:100.2;s:8:\"currency\";s:3:\"USD\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BasicOrderResult\";}}}}}s:18:\"ListReturnResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"ListReturnResponse\";s:11:\"description\";s:42:\"Response
  object of return for list action.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}i:1;O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:2:\"ok\";s:6:\"result\";a:3:{i:0;O:8:\"stdClass\":6:{s:22:\"return_provision_token\";s:40:\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\";s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"completed\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}i:1;O:8:\"stdClass\":6:{s:22:\"return_provision_token\";s:40:\"rpt_a0d2070b-0676-4131-b315-c9d653a31505\";s:14:\"transaction_id\";s:36:\"42db67d6-fde6-47ce-81eb-121cf333e0d7\";s:10:\"created_at\";s:19:\"2018-01-02T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-02T10:10:00\";s:6:\"status\";s:9:\"cancelled\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}i:2;O:8:\"stdClass\":6:{s:22:\"return_provision_token\";s:40:\"rpt_0399bad5-fac3-45dd-88af-99604b153355\";s:14:\"transaction_id\";s:36:\"51424457-4997-4fa2-aed0-1a71aff88294\";s:10:\"created_at\";s:19:\"2018-01-03T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-03T10:10:00\";s:6:\"status\";s:9:\"completed\";s:8:\"residual\";O:8:\"stdClass\":2:{s:5:\"value\";d:5;s:8:\"currency\";s:3:\"USD\";}}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Result
  object of the response.\";s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":6:{s:22:\"return_provision_token\";s:40:\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\";s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"completed\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}i:1;O:8:\"stdClass\":6:{s:22:\"return_provision_token\";s:40:\"rpt_a0d2070b-0676-4131-b315-c9d653a31505\";s:14:\"transaction_id\";s:36:\"42db67d6-fde6-47ce-81eb-121cf333e0d7\";s:10:\"created_at\";s:19:\"2018-01-02T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-02T10:10:00\";s:6:\"status\";s:9:\"cancelled\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}i:2;O:8:\"stdClass\":6:{s:22:\"return_provision_token\";s:40:\"rpt_0399bad5-fac3-45dd-88af-99604b153355\";s:14:\"transaction_id\";s:36:\"51424457-4997-4fa2-aed0-1a71aff88294\";s:10:\"created_at\";s:19:\"2018-01-03T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-03T10:10:00\";s:6:\"status\";s:9:\"completed\";s:8:\"residual\";O:8:\"stdClass\":2:{s:5:\"value\";d:5;s:8:\"currency\";s:3:\"USD\";}}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Return\";}}}}}}s:13:\"OrderResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"OrderResponse\";s:11:\"description\";s:25:\"Response
  object of order.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}i:1;O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:2:\"ok\";s:6:\"result\";O:8:\"stdClass\":1:{s:17:\"transaction_token\";s:40:\"ort_b3b45895-f961-4cde-b9df-5b274fb757e7\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OrderResult\";}}}}}s:11:\"OrderResult\";O:8:\"stdClass\":6:{s:5:\"title\";s:11:\"OrderResult\";s:11:\"description\";s:30:\"Result
  object of the response.\";s:7:\"example\";O:8:\"stdClass\":1:{s:17:\"transaction_token\";s:40:\"ort_b3b45895-f961-4cde-b9df-5b274fb757e7\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"transaction_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  token represents an order object from Global Miles system.\";s:7:\"example\";s:42:\"\"ort_b3b45895-f961-4cde-b9df-5b274fb757e7\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:17:\"transaction_token\";}}s:19:\"CancelReturnRequest\";O:8:\"stdClass\":6:{s:5:\"title\";s:19:\"CancelReturnRequest\";s:11:\"description\";s:36:\"Request
  of return for cancel action.\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"store_code\";s:15:\"ECO123858493939\";s:22:\"return_provision_token\";s:40:\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"store_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  identifier for online store.\";s:7:\"example\";s:17:\"\"ECO123858493939\"\";s:4:\"type\";s:6:\"string\";}s:22:\"return_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  token represents a return object for provisioning.\";s:7:\"example\";s:42:\"\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"store_code\";i:1;s:22:\"return_provision_token\";}}s:13:\"PaymentStatus\";O:8:\"stdClass\":6:{s:5:\"title\";s:13:\"PaymentStatus\";s:11:\"description\";s:17:\"A
  payment status.\";s:7:\"example\";s:7:\"started\";s:15:\"x-enum-elements\";a:5:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"started\";s:11:\"description\";s:7:\"Started\";}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"completed\";s:11:\"description\";s:9:\"Completed\";}i:2;O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"cancelled\";s:11:\"description\";s:9:\"Cancelled\";}i:3;O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"refunded\";s:11:\"description\";s:8:\"Refunded\";}i:4;O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"used\";s:11:\"description\";s:4:\"Used\";}}s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:7:\"started\";i:1;s:9:\"completed\";i:2;s:9:\"cancelled\";i:3;s:8:\"refunded\";i:4;s:4:\"used\";}}s:24:\"RefundMilePaymentRequest\";O:8:\"stdClass\":6:{s:5:\"title\";s:24:\"RefundMilePaymentRequest\";s:11:\"description\";s:37:\"Request
  of payment for refund action.\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"store_code\";s:15:\"ECO123858493939\";s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"store_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  identifier for online store.\";s:7:\"example\";s:17:\"\"ECO123858493939\"\";s:4:\"type\";s:6:\"string\";}s:23:\"payment_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  token represents a payment object for provisioning.\";s:7:\"example\";s:42:\"\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\"\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:8:\"required\";a:3:{i:0;s:10:\"store_code\";i:1;s:23:\"payment_provision_token\";i:2;s:6:\"amount\";}}s:24:\"CancelMilePaymentRequest\";O:8:\"stdClass\":6:{s:5:\"title\";s:24:\"CancelMilePaymentRequest\";s:11:\"description\";s:37:\"Request
  of payment for cancel action.\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"store_code\";s:15:\"ECO123858493939\";s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"store_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  identifier for online store.\";s:7:\"example\";s:17:\"\"ECO123858493939\"\";s:4:\"type\";s:6:\"string\";}s:23:\"payment_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  token represents a payment object for provisioning.\";s:7:\"example\";s:42:\"\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"store_code\";i:1;s:23:\"payment_provision_token\";}}s:6:\"Return\";O:8:\"stdClass\":6:{s:5:\"title\";s:6:\"Return\";s:11:\"description\";s:22:\"Representing
  a return.\";s:7:\"example\";O:8:\"stdClass\":6:{s:22:\"return_provision_token\";s:40:\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\";s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"completed\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:22:\"return_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  token value of a return.\";s:7:\"example\";s:40:\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\";s:4:\"type\";s:6:\"string\";}s:14:\"transaction_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  ID of the transaction that represents the order.\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Create
  date time of return. The format is ISO 8601 date and time.\";s:7:\"example\";s:21:\"\"2018-01-01T10:00:00\"\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Last
  update date time of return. The format is ISO 8601 date and time.\";s:7:\"example\";s:21:\"\"2018-01-01T10:10:00\"\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReturnStatus\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:8:\"residual\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:8:\"required\";a:5:{i:0;s:22:\"return_provision_token\";i:1;s:14:\"transaction_id\";i:2;s:10:\"created_at\";i:3;s:10:\"updated_at\";i:4;s:6:\"status\";}}s:26:\"CompleteMilePaymentRequest\";O:8:\"stdClass\":6:{s:5:\"title\";s:26:\"CompleteMilePaymentRequest\";s:11:\"description\";s:39:\"Request
  of payment for complete action.\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"store_code\";s:15:\"ECO123858493939\";s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"store_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  identifier for online store.\";s:7:\"example\";s:17:\"\"ECO123858493939\"\";s:4:\"type\";s:6:\"string\";}s:23:\"payment_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  token represents a payment object for provisioning.\";s:7:\"example\";s:42:\"\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"store_code\";i:1;s:23:\"payment_provision_token\";}}s:23:\"StartMilePaymentRequest\";O:8:\"stdClass\":6:{s:5:\"title\";s:23:\"StartMilePaymentRequest\";s:11:\"description\";s:36:\"Request
  of payment for start action.\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"store_code\";s:15:\"ECO123858493939\";s:10:\"user_token\";s:39:\"ut_345021fb-9ed2-4c55-841e-3ffa95ca83bf\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"store_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  identifier for online store.\";s:7:\"example\";s:17:\"\"ECO123858493939\"\";s:4:\"type\";s:6:\"string\";}s:10:\"user_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"A
  token that is representing a Global Miles user for the current session.\";s:7:\"example\";s:41:\"\"ut_345021fb-9ed2-4c55-841e-3ffa95ca83bf\"\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:8:\"required\";a:3:{i:0;s:10:\"store_code\";i:1;s:10:\"user_token\";i:2;s:6:\"amount\";}}s:17:\"ListOrderResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"ListOrderResponse\";s:11:\"description\";s:41:\"Response
  object of order for list action.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}i:1;O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:2:\"ok\";s:6:\"result\";a:3:{i:0;O:8:\"stdClass\":10:{s:17:\"transaction_token\";s:40:\"ort_b3b45895-f961-4cde-b9df-5b274fb757e7\";s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:12:\"completed_at\";s:19:\"2018-01-01T09:00:00\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"processed\";s:8:\"subtotal\";d:90;s:3:\"tax\";d:10.199999999999999;s:5:\"total\";d:100.2;s:8:\"currency\";s:3:\"USD\";}i:1;O:8:\"stdClass\":10:{s:17:\"transaction_token\";s:39:\"ot_fd7bc94b-4fe4-4c5a-89fa-85ce017c2b0b\";s:14:\"transaction_id\";s:36:\"42db67d6-fde6-47ce-81eb-121cf333e0d7\";s:12:\"completed_at\";s:19:\"2018-01-02T09:00:00\";s:10:\"created_at\";s:19:\"2018-01-02T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-02T10:10:00\";s:6:\"status\";s:9:\"processed\";s:8:\"subtotal\";d:70;s:3:\"tax\";d:8.1999999999999993;s:5:\"total\";d:78.200000000000003;s:8:\"currency\";s:3:\"USD\";}i:2;O:8:\"stdClass\":10:{s:17:\"transaction_token\";s:39:\"ot_e59410fb-831a-47d2-9822-9de6efd3e39e\";s:14:\"transaction_id\";s:36:\"51424457-4997-4fa2-aed0-1a71aff88294\";s:12:\"completed_at\";s:19:\"2018-01-03T09:00:00\";s:10:\"created_at\";s:19:\"2018-01-03T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-03T10:10:00\";s:6:\"status\";s:8:\"refunded\";s:8:\"subtotal\";d:60;s:3:\"tax\";d:7.2000000000000002;s:5:\"total\";d:67.200000000000003;s:8:\"currency\";s:3:\"USD\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Result
  object of the response.\";s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":10:{s:17:\"transaction_token\";s:40:\"ort_b3b45895-f961-4cde-b9df-5b274fb757e7\";s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:12:\"completed_at\";s:19:\"2018-01-01T09:00:00\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"processed\";s:8:\"subtotal\";d:90;s:3:\"tax\";d:10.199999999999999;s:5:\"total\";d:100.2;s:8:\"currency\";s:3:\"USD\";}i:1;O:8:\"stdClass\":10:{s:17:\"transaction_token\";s:39:\"ot_fd7bc94b-4fe4-4c5a-89fa-85ce017c2b0b\";s:14:\"transaction_id\";s:36:\"42db67d6-fde6-47ce-81eb-121cf333e0d7\";s:12:\"completed_at\";s:19:\"2018-01-02T09:00:00\";s:10:\"created_at\";s:19:\"2018-01-02T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-02T10:10:00\";s:6:\"status\";s:9:\"processed\";s:8:\"subtotal\";d:70;s:3:\"tax\";d:8.1999999999999993;s:5:\"total\";d:78.200000000000003;s:8:\"currency\";s:3:\"USD\";}i:2;O:8:\"stdClass\":10:{s:17:\"transaction_token\";s:39:\"ot_e59410fb-831a-47d2-9822-9de6efd3e39e\";s:14:\"transaction_id\";s:36:\"51424457-4997-4fa2-aed0-1a71aff88294\";s:12:\"completed_at\";s:19:\"2018-01-03T09:00:00\";s:10:\"created_at\";s:19:\"2018-01-03T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-03T10:10:00\";s:6:\"status\";s:8:\"refunded\";s:8:\"subtotal\";d:60;s:3:\"tax\";d:7.2000000000000002;s:5:\"total\";d:67.200000000000003;s:8:\"currency\";s:3:\"USD\";}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BasicOrderResult\";}}}}}}s:6:\"Amount\";O:8:\"stdClass\":6:{s:5:\"title\";s:6:\"Amount\";s:11:\"description\";s:28:\"A
  complex object for amount.\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"A
  decimal value with two decimals in the string representation of amount.\";s:7:\"example\";d:10;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"ISO
  4217 currency code of the amount.\";s:7:\"example\";s:5:\"\"USD\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"value\";i:1;s:8:\"currency\";}}s:8:\"Response\";O:8:\"stdClass\":6:{s:5:\"title\";s:8:\"Response\";s:11:\"description\";s:31:\"A
  basic object of the response.\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:14:\"user_not_found\";s:7:\"message\";s:36:\"User
  not found with given attributes\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  status of the response. The value is always \"ok\" for successful responses otherwise
  it includes error code.\";s:7:\"example\";s:4:\"\"ok\"\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  message of the error. It is always null for successful responses.\";s:7:\"example\";s:38:\"\"User
  not found with given attributes\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"status\";}}s:12:\"CartDiscount\";O:8:\"stdClass\":6:{s:5:\"title\";s:12:\"CartDiscount\";s:11:\"description\";s:42:\"Representing
  a discount for shopping cart.\";s:7:\"example\";O:8:\"stdClass\":3:{s:8:\"discount\";d:10;s:8:\"currency\";s:3:\"USD\";s:24:\"discount_provision_token\";s:40:\"dpt_edb17503-c804-48bf-b798-1d5e7d8757c7\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"ISO-4217
  3-letter currency code.\";s:7:\"example\";s:5:\"\"USD\"\";s:4:\"type\";s:6:\"string\";}s:8:\"discount\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Amount
  of the current discount.\";s:7:\"example\";d:10;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:24:\"discount_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  token represents a discount object for provisioning.\";s:7:\"example\";s:42:\"\"dpt_edb17503-c804-48bf-b798-1d5e7d8757c7\"\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"An
  array of discounts for cart items.\";s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:9:\"344187961\";s:8:\"discount\";d:1;}i:1;O:8:\"stdClass\":2:{s:2:\"id\";s:9:\"344187960\";s:8:\"discount\";d:0.01;}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CartItemDiscount\";}}}s:8:\"required\";a:1:{i:0;s:8:\"currency\";}}s:7:\"Payment\";O:8:\"stdClass\":6:{s:5:\"title\";s:7:\"Payment\";s:11:\"description\";s:23:\"Representing
  a payment.\";s:7:\"example\";O:8:\"stdClass\":5:{s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"completed\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:23:\"payment_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  token represents a payment object for provisioning.\";s:7:\"example\";s:42:\"\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\"\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Create
  date time of payment. The format is ISO 8601 date and time.\";s:7:\"example\";s:21:\"\"2018-01-01T10:00:00\"\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Last
  update date time of payment. The format is ISO 8601 date and time.\";s:7:\"example\";s:21:\"\"2018-01-01T10:00:00\"\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PaymentStatus\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:8:\"required\";a:5:{i:0;s:23:\"payment_provision_token\";i:1;s:10:\"created_at\";i:2;s:10:\"updated_at\";i:3;s:6:\"status\";i:4;s:6:\"amount\";}}s:12:\"DiscountItem\";O:8:\"stdClass\":6:{s:5:\"title\";s:12:\"DiscountItem\";s:11:\"description\";s:34:\"Representing
  a discount for order.\";s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"type\";s:16:\"loyalty_discount\";s:6:\"amount\";d:1;s:24:\"discount_provision_token\";s:40:\"dpt_edb17503-c804-48bf-b798-1d5e7d8757c7\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DiscountType\";}s:6:\"amount\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Amount
  of the current discount.\";s:7:\"example\";d:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:24:\"discount_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  token represents a discount object for provisioning.\";s:7:\"example\";s:42:\"\"dpt_edb17503-c804-48bf-b798-1d5e7d8757c7\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:6:\"amount\";}}s:16:\"CartItemDiscount\";O:8:\"stdClass\":6:{s:5:\"title\";s:16:\"CartItemDiscount\";s:11:\"description\";s:47:\"Representing
  a discount for shopping cart item.\";s:7:\"example\";O:8:\"stdClass\":2:{s:2:\"id\";s:9:\"344187961\";s:8:\"discount\";d:1;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"An
  identifier to reference this product.\";s:7:\"example\";s:11:\"\"344187961\"\";s:4:\"type\";s:6:\"string\";}s:8:\"discount\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Amount
  of the current discount.\";s:7:\"example\";d:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:8:\"discount\";}}s:8:\"CartItem\";O:8:\"stdClass\":6:{s:5:\"title\";s:8:\"CartItem\";s:11:\"description\";s:34:\"Representing
  a shopping cart item.\";s:7:\"example\";O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187961\";s:8:\"quantity\";i:1;s:5:\"price\";d:20;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"An
  identifier to reference this product. Universal product code.\";s:7:\"example\";s:11:\"\"344187961\"\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  quantity of the item.\";s:7:\"example\";i:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"price\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  price of the item.\";s:7:\"example\";d:20;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:8:\"quantity\";i:2;s:5:\"price\";}}s:17:\"StartReturnResult\";O:8:\"stdClass\":6:{s:5:\"title\";s:17:\"StartReturnResult\";s:11:\"description\";s:41:\"Result
  object of return for start action.\";s:7:\"example\";O:8:\"stdClass\":1:{s:22:\"return_provision_token\";s:40:\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"return_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  token represents a return object for provisioning.\";s:7:\"example\";s:42:\"\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:22:\"return_provision_token\";}}s:19:\"StartReturnResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"StartReturnResponse\";s:11:\"description\";s:43:\"Response
  object of return for start action.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}i:1;O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:2:\"ok\";s:6:\"result\";O:8:\"stdClass\":1:{s:22:\"return_provision_token\";s:40:\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StartReturnResult\";}}}}}s:10:\"CartResult\";O:8:\"stdClass\":5:{s:5:\"title\";s:10:\"CartResult\";s:11:\"description\";s:30:\"Result
  object of the response.\";s:7:\"example\";O:8:\"stdClass\":2:{s:16:\"available_amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:100.2;s:8:\"currency\";s:3:\"USD\";}s:13:\"cart_discount\";O:8:\"stdClass\":3:{s:8:\"discount\";d:10;s:8:\"currency\";s:3:\"USD\";s:24:\"discount_provision_token\";s:40:\"dpt_edb17503-c804-48bf-b798-1d5e7d8757c7\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"available_amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:13:\"cart_discount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CartDiscount\";}}}s:12:\"OAuthRequest\";O:8:\"stdClass\":6:{s:5:\"title\";s:12:\"OAuthRequest\";s:11:\"description\";s:30:\"Representing
  an OAuth request.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"client_id\";s:13:\"{{client_id}}\";s:13:\"client_secret\";s:17:\"{{client_secret}}\";s:10:\"grant_type\";s:14:\"{{grant_type}}\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"client_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"ID
  of the client which is provided by Global Miles.\";s:7:\"example\";s:13:\"{{client_id}}\";s:4:\"type\";s:6:\"string\";}s:13:\"client_secret\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Secret
  of the client which is provided by Global Miles.\";s:7:\"example\";s:17:\"{{client_secret}}\";s:4:\"type\";s:6:\"string\";}s:10:\"grant_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Type
  of the OAuth flows. We support only one type of token: client_credentials\";s:7:\"example\";s:18:\"client_credentials\";s:4:\"type\";s:6:\"string\";s:7:\"default\";s:18:\"client_credentials\";}}s:8:\"required\";a:3:{i:0;s:9:\"client_id\";i:1;s:13:\"client_secret\";i:2;s:10:\"grant_type\";}}s:13:\"OAuthResponse\";O:8:\"stdClass\":6:{s:5:\"title\";s:13:\"OAuthResponse\";s:11:\"description\";s:31:\"Representing
  an OAuth response.\";s:7:\"example\";O:8:\"stdClass\":3:{s:12:\"access_token\";s:16:\"{{access_token}}\";s:10:\"token_type\";s:6:\"bearer\";s:10:\"created_at\";s:10:\"1496737098\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"access_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"An
  access token from the authorization server.\";s:7:\"example\";s:16:\"{{access_token}}\";s:4:\"type\";s:6:\"string\";}s:10:\"token_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  type of token this is, typically just the string \"bearer\".\";s:7:\"example\";s:8:\"\"bearer\"\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  time in unix time format when the access token was created.\";s:7:\"example\";s:12:\"\"1496737098\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"access_token\";i:1;s:10:\"token_type\";i:2;s:10:\"created_at\";}}s:11:\"PaymentItem\";O:8:\"stdClass\":6:{s:5:\"title\";s:11:\"PaymentItem\";s:11:\"description\";s:33:\"Representing
  a payment for order.\";s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"type\";s:12:\"mile_payment\";s:6:\"amount\";d:50;s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentType\";}s:6:\"amount\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Amount
  of current payment.\";s:7:\"example\";d:50;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:23:\"payment_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  token represents a payment object for provisioning.\";s:7:\"example\";s:42:\"\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:6:\"amount\";}}s:11:\"CartRequest\";O:8:\"stdClass\":6:{s:5:\"title\";s:11:\"CartRequest\";s:11:\"description\";s:27:\"Request
  of the cart object.\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"store_code\";s:15:\"ECO123858493939\";s:10:\"user_token\";s:36:\"b69c3393-54eb-471c-907d-8d4ed405f88e\";s:4:\"cart\";O:8:\"stdClass\":5:{s:8:\"subtotal\";d:90;s:3:\"tax\";d:10.199999999999999;s:5:\"total\";d:100.2;s:8:\"currency\";s:3:\"USD\";s:5:\"items\";a:3:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187961\";s:8:\"quantity\";i:1;s:5:\"price\";d:20;}i:1;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187960\";s:8:\"quantity\";d:2.2000000000000002;s:5:\"price\";d:0.91000000000000003;}i:2;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187965\";s:8:\"quantity\";i:5;s:5:\"price\";d:10;}}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"user_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"A
  token that is representing a Global Miles user for the current session.\";s:7:\"example\";s:41:\"\"ut_345021fb-9ed2-4c55-841e-3ffa95ca83bf\"\";s:4:\"type\";s:6:\"string\";}s:10:\"store_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  identifier for online store.\";s:7:\"example\";s:17:\"\"ECO123858493939\"\";s:4:\"type\";s:6:\"string\";}s:4:\"cart\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Cart\";}}s:8:\"required\";a:3:{i:0;s:10:\"user_token\";i:1;s:10:\"store_code\";i:2;s:4:\"cart\";}}s:9:\"OrderItem\";O:8:\"stdClass\":6:{s:5:\"title\";s:9:\"OrderItem\";s:11:\"description\";s:27:\"Representing
  an order item.\";s:7:\"example\";O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187960\";s:8:\"quantity\";d:2.2000000000000002;s:5:\"price\";d:0.91000000000000003;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"An
  identifier to reference this product.\";s:7:\"example\";s:11:\"\"344187960\"\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  quantity of the item.\";s:7:\"example\";d:2.2000000000000002;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"price\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  price of the item.\";s:7:\"example\";d:0.91000000000000003;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:8:\"quantity\";i:2;s:5:\"price\";}}s:12:\"OrderRequest\";O:8:\"stdClass\":6:{s:5:\"title\";s:12:\"OrderRequest\";s:11:\"description\";s:24:\"Request
  of order object.\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"store_code\";s:15:\"ECO123858493939\";s:10:\"user_token\";s:39:\"ut_345021fb-9ed2-4c55-841e-3ffa95ca83bf\";s:5:\"order\";O:8:\"stdClass\":9:{s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:12:\"completed_at\";s:19:\"2018-01-01T10:00:00\";s:8:\"subtotal\";d:90;s:3:\"tax\";d:10.199999999999999;s:5:\"total\";d:100.2;s:8:\"currency\";s:3:\"USD\";s:5:\"items\";a:3:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187961\";s:8:\"quantity\";i:1;s:5:\"price\";d:20;}i:1;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187960\";s:8:\"quantity\";d:2.2000000000000002;s:5:\"price\";d:0.91000000000000003;}i:2;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187965\";s:8:\"quantity\";i:5;s:5:\"price\";d:10;}}s:9:\"discounts\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"other\";s:6:\"amount\";d:1.5;}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:16:\"loyalty_discount\";s:6:\"amount\";d:1;s:24:\"discount_provision_token\";s:40:\"dpt_edb17503-c804-48bf-b798-1d5e7d8757c7\";}}s:8:\"payments\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"cash\";s:6:\"amount\";d:25.5;}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:12:\"mile_payment\";s:6:\"amount\";d:50;s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";}}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"store_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  identifier for online store.\";s:7:\"example\";s:17:\"\"ECO123858493939\"\";s:4:\"type\";s:6:\"string\";}s:10:\"user_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"A
  token that is representing a Global Miles user for the current session.\";s:7:\"example\";s:41:\"\"ut_345021fb-9ed2-4c55-841e-3ffa95ca83bf\"\";s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Order\";}}s:8:\"required\";a:3:{i:0;s:10:\"store_code\";i:1;s:10:\"user_token\";i:2;s:5:\"order\";}}s:16:\"BasicOrderResult\";O:8:\"stdClass\":6:{s:5:\"title\";s:16:\"BasicOrderResult\";s:11:\"description\";s:37:\"Representing
  an order in list result.\";s:7:\"example\";O:8:\"stdClass\":10:{s:17:\"transaction_token\";s:40:\"ort_b3b45895-f961-4cde-b9df-5b274fb757e7\";s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:12:\"completed_at\";s:19:\"2018-01-01T09:00:00\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"processed\";s:8:\"subtotal\";d:90;s:3:\"tax\";d:10.199999999999999;s:5:\"total\";d:100.2;s:8:\"currency\";s:3:\"USD\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"transaction_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  token represents an order object from Global Miles system.\";s:7:\"example\";s:42:\"\"ort_b3b45895-f961-4cde-b9df-5b274fb757e7\"\";s:4:\"type\";s:6:\"string\";}s:14:\"transaction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  ID of the transaction that represents the order.\";s:7:\"example\";s:38:\"\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\"\";s:4:\"type\";s:6:\"string\";}s:12:\"completed_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  date and time when the order was completed in partner side.\";s:7:\"example\";s:21:\"\"2018-01-01T09:00:00\"\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Create
  date time of order. The format is ISO 8601 date and time.\";s:7:\"example\";s:21:\"\"2018-01-01T10:00:00\"\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Last
  update date time of order. The format is ISO 8601 date and time.\";s:7:\"example\";s:21:\"\"2018-01-01T10:10:00\"\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OrderStatus\";}s:8:\"subtotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Total
  value of all order items without tax.\";s:7:\"example\";d:90;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"tax\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"The
  amount of tax.\";s:7:\"example\";d:10.199999999999999;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"total\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Total
  amount of order.\";s:7:\"example\";d:100.2;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"ISO-4217
  3-letter currency code.\";s:7:\"example\";s:5:\"\"USD\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:10:{i:0;s:17:\"transaction_token\";i:1;s:14:\"transaction_id\";i:2;s:12:\"completed_at\";i:3;s:10:\"created_at\";i:4;s:10:\"updated_at\";i:5;s:6:\"status\";i:6;s:8:\"subtotal\";i:7;s:3:\"tax\";i:8;s:5:\"total\";i:9;s:8:\"currency\";}}s:4:\"Cart\";O:8:\"stdClass\":6:{s:5:\"title\";s:4:\"Cart\";s:11:\"description\";s:29:\"Representing
  a shopping cart.\";s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"subtotal\";d:90;s:3:\"tax\";d:10.199999999999999;s:5:\"total\";d:100.2;s:8:\"currency\";s:3:\"USD\";s:5:\"items\";a:3:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187961\";s:8:\"quantity\";i:1;s:5:\"price\";d:20;}i:1;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187960\";s:8:\"quantity\";d:2.2000000000000002;s:5:\"price\";d:0.91000000000000003;}i:2;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187965\";s:8:\"quantity\";i:5;s:5:\"price\";d:10;}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"subtotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Total
  value of all cart items without tax.\";s:7:\"example\";d:90;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"tax\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"The
  amount of tax.\";s:7:\"example\";d:10.199999999999999;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"total\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Total
  amount of cart.\";s:7:\"example\";d:100.2;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"ISO-4217
  3-letter currency code.\";s:7:\"example\";s:5:\"\"USD\"\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"An
  array of cart items.\";s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187961\";s:8:\"quantity\";i:1;s:5:\"price\";d:20;}i:1;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187960\";s:8:\"quantity\";d:2.2000000000000002;s:5:\"price\";d:0.91000000000000003;}i:2;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187965\";s:8:\"quantity\";i:5;s:5:\"price\";d:10;}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/CartItem\";}}}s:8:\"required\";a:4:{i:0;s:8:\"subtotal\";i:1;s:3:\"tax\";i:2;s:5:\"total\";i:3;s:8:\"currency\";}}s:5:\"Order\";O:8:\"stdClass\":6:{s:5:\"title\";s:5:\"Order\";s:11:\"description\";s:22:\"Representing
  an order.\";s:7:\"example\";O:8:\"stdClass\":9:{s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:12:\"completed_at\";s:19:\"2018-01-01T10:00:00\";s:8:\"subtotal\";d:90;s:3:\"tax\";d:10.199999999999999;s:5:\"total\";d:100.2;s:8:\"currency\";s:3:\"USD\";s:5:\"items\";a:3:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187961\";s:8:\"quantity\";i:1;s:5:\"price\";d:20;}i:1;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187960\";s:8:\"quantity\";d:2.2000000000000002;s:5:\"price\";d:0.91000000000000003;}i:2;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187965\";s:8:\"quantity\";i:5;s:5:\"price\";d:10;}}s:8:\"payments\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"cash\";s:6:\"amount\";d:25.5;}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:12:\"mile_payment\";s:6:\"amount\";d:50;s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";}}s:9:\"discounts\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"other\";s:6:\"amount\";d:1.5;}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:16:\"loyalty_discount\";s:6:\"amount\";d:1;s:24:\"discount_provision_token\";s:40:\"dpt_edb17503-c804-48bf-b798-1d5e7d8757c7\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"transaction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  ID of the transaction that represents the order.\";s:7:\"example\";s:38:\"\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\"\";s:4:\"type\";s:6:\"string\";}s:12:\"completed_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  date and time when the order was completed in partner side.\";s:7:\"example\";s:21:\"\"2018-01-01T10:00:00\"\";s:4:\"type\";s:6:\"string\";}s:8:\"subtotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Total
  value of all order items without tax.\";s:7:\"example\";d:90;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"tax\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"The
  amount of tax.\";s:7:\"example\";d:10.199999999999999;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"total\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Total
  amount of order.\";s:7:\"example\";d:100.2;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"ISO-4217
  3-letter currency code.\";s:7:\"example\";s:5:\"\"USD\"\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"An
  array of order items.\";s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187961\";s:8:\"quantity\";i:1;s:5:\"price\";d:20;}i:1;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187960\";s:8:\"quantity\";d:2.2000000000000002;s:5:\"price\";d:0.91000000000000003;}i:2;O:8:\"stdClass\":3:{s:2:\"id\";s:9:\"344187965\";s:8:\"quantity\";i:5;s:5:\"price\";d:10;}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OrderItem\";}}s:9:\"discounts\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"An
  array of discount items.\";s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"other\";s:6:\"amount\";d:1.5;}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:16:\"loyalty_discount\";s:6:\"amount\";d:1;s:24:\"discount_provision_token\";s:40:\"dpt_edb17503-c804-48bf-b798-1d5e7d8757c7\";}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DiscountItem\";}}s:8:\"payments\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"An
  array of payment items.\";s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"cash\";s:6:\"amount\";d:25.5;}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:12:\"mile_payment\";s:6:\"amount\";d:50;s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentItem\";}}}s:8:\"required\";a:6:{i:0;s:14:\"transaction_id\";i:1;s:12:\"completed_at\";i:2;s:8:\"subtotal\";i:3;s:3:\"tax\";i:4;s:5:\"total\";i:5;s:8:\"currency\";}}s:12:\"CartResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"CartResponse\";s:11:\"description\";s:28:\"Response
  object of the cart.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}i:1;O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:2:\"ok\";s:6:\"result\";O:8:\"stdClass\":2:{s:16:\"available_amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:100.2;s:8:\"currency\";s:3:\"USD\";}s:13:\"cart_discount\";O:8:\"stdClass\":3:{s:8:\"discount\";d:10;s:8:\"currency\";s:3:\"USD\";s:24:\"discount_provision_token\";s:40:\"dpt_edb17503-c804-48bf-b798-1d5e7d8757c7\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CartResult\";}}}}}s:12:\"DiscountType\";O:8:\"stdClass\":6:{s:5:\"title\";s:12:\"DiscountType\";s:11:\"description\";s:19:\"A
  type of discount.\";s:7:\"example\";s:16:\"loyalty_discount\";s:15:\"x-enum-elements\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"loyalty_discount\";s:11:\"description\";s:47:\"This
  type indicates a discount by Global Miles.\";}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"other\";s:11:\"description\";s:24:\"Other
  type of discounts.\";}}s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:16:\"loyalty_discount\";i:1;s:5:\"other\";}}s:18:\"StartReturnRequest\";O:8:\"stdClass\":6:{s:5:\"title\";s:18:\"StartReturnRequest\";s:11:\"description\";s:35:\"Request
  of return for start action.\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"store_code\";s:15:\"ECO123858493939\";s:14:\"transaction_id\";s:36:\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"store_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  identifier for online store.\";s:7:\"example\";s:17:\"\"ECO123858493939\"\";s:4:\"type\";s:6:\"string\";}s:14:\"transaction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  ID of the transaction that represents the order.\";s:7:\"example\";s:38:\"\"6c1a75f2-d7de-4ac1-80e0-60ac83f7e083\"\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:8:\"required\";a:2:{i:0;s:10:\"store_code\";i:1;s:14:\"transaction_id\";}}s:21:\"CompleteReturnRequest\";O:8:\"stdClass\":6:{s:5:\"title\";s:21:\"CompleteReturnRequest\";s:11:\"description\";s:38:\"Request
  of return for complete action.\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"store_code\";s:15:\"ECO123858493939\";s:22:\"return_provision_token\";s:40:\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"store_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  identifier for online store.\";s:7:\"example\";s:17:\"\"ECO123858493939\"\";s:4:\"type\";s:6:\"string\";}s:22:\"return_provision_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  token represents a return object for provisioning.\";s:7:\"example\";s:42:\"\"rpt_f4dd4f17-da27-4c61-af29-f7b116efa0ef\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"store_code\";i:1;s:22:\"return_provision_token\";}}s:11:\"PaymentType\";O:8:\"stdClass\":6:{s:5:\"title\";s:11:\"PaymentType\";s:11:\"description\";s:18:\"A
  type of payment.\";s:7:\"example\";s:11:\"credit_card\";s:15:\"x-enum-elements\";a:9:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"credit_card\";s:11:\"description\";s:11:\"Credit
  Card\";}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"debit_card\";s:11:\"description\";s:10:\"Debit
  Card\";}i:2;O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"bank_transfer\";s:11:\"description\";s:48:\"Bank
  Transfers / Electronic Funds Transfer (EFT)\";}i:3;O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"cash\";s:11:\"description\";s:4:\"Cash\";}i:4;O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"digital_wallet\";s:11:\"description\";s:14:\"Digital
  Wallet\";}i:5;O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"mobile_payment\";s:11:\"description\";s:14:\"Mobile
  Payment\";}i:6;O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"gift_card\";s:11:\"description\";s:9:\"Gitf
  Card\";}i:7;O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"mile_payment\";s:11:\"description\";s:39:\"Pay
  with miles provided by Global Miles\";}i:8;O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"other\";s:11:\"description\";s:5:\"Other\";}}s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:11:\"credit_card\";i:1;s:10:\"debit_card\";i:2;s:13:\"bank_transfer\";i:3;s:4:\"cash\";i:4;s:14:\"digital_wallet\";i:5;s:14:\"mobile_payment\";i:6;s:9:\"gift_card\";i:7;s:12:\"mile_payment\";i:8;s:5:\"other\";}}s:23:\"ListMilePaymentResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"ListMilePaymentResponse\";s:11:\"description\";s:43:\"Response
  object of payment for list action.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}i:1;O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:2:\"ok\";s:6:\"result\";a:3:{i:0;O:8:\"stdClass\":5:{s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"completed\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}i:1;O:8:\"stdClass\":5:{s:23:\"payment_provision_token\";s:40:\"ppt_0d64fa6f-8871-4a3f-be3b-5a7c97853d10\";s:10:\"created_at\";s:19:\"2017-12-01T23:00:00\";s:10:\"updated_at\";s:19:\"2017-12-02T14:00:00\";s:6:\"status\";s:8:\"refunded\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:20;s:8:\"currency\";s:3:\"USD\";}}i:2;O:8:\"stdClass\":5:{s:23:\"payment_provision_token\";s:40:\"ppt_dadd0d63-dddf-4e82-b483-5c2aca9fb5a5\";s:10:\"created_at\";s:19:\"2017-11-01T12:00:00\";s:10:\"updated_at\";s:19:\"2017-11-01T12:05:00\";s:6:\"status\";s:9:\"cancelled\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:23;s:8:\"currency\";s:3:\"USD\";}}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Result
  object of the response.\";s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":5:{s:23:\"payment_provision_token\";s:40:\"ppt_4c558b3d-7146-4043-b559-4599434e2ad7\";s:10:\"created_at\";s:19:\"2018-01-01T10:00:00\";s:10:\"updated_at\";s:19:\"2018-01-01T10:10:00\";s:6:\"status\";s:9:\"completed\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:10;s:8:\"currency\";s:3:\"USD\";}}i:1;O:8:\"stdClass\":5:{s:23:\"payment_provision_token\";s:40:\"ppt_0d64fa6f-8871-4a3f-be3b-5a7c97853d10\";s:10:\"created_at\";s:19:\"2017-12-01T23:00:00\";s:10:\"updated_at\";s:19:\"2017-12-02T14:00:00\";s:6:\"status\";s:8:\"refunded\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:20;s:8:\"currency\";s:3:\"USD\";}}i:2;O:8:\"stdClass\":5:{s:23:\"payment_provision_token\";s:40:\"ppt_dadd0d63-dddf-4e82-b483-5c2aca9fb5a5\";s:10:\"created_at\";s:19:\"2017-11-01T12:00:00\";s:10:\"updated_at\";s:19:\"2017-11-01T12:05:00\";s:6:\"status\";s:9:\"cancelled\";s:6:\"amount\";O:8:\"stdClass\":2:{s:5:\"value\";d:23;s:8:\"currency\";s:3:\"USD\";}}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Payment\";}}}}}}}"
...
