---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:5:\"0.0.1\";s:5:\"title\";s:21:\"\u661F\u9A7F\u4ED8\u4EA4\u4E92\u63A5\u53E3\";s:11:\"description\";s:2893:\"<pre>\u4FE1\u606F\u8BF4\u660E</pre>\n*
  **auth-id:**\n\u6240\u6709\u7684\u63A5\u53E3\u8C03\u7528\u65F6\uFF0C\u62A5\u6587\u5934\u4E2D\u90FD\u5FC5\u987B\u5305\u542B\u6B64\u503C.\u4E0D\u540C\u7684\u63A5\u53E3\u53EF\u80FD\u4E0D\u540C\uFF0C\u8FD9\u4E2A\u662F\u5BF9\u63A5\u53E3\u8FDB\u884C\u9650\u91CF\u8282\u6D41\u53CA\u7EDF\u8BA1\u4F7F\u7528;\u5177\u4F53\u503C\u7531\u63A5\u53E3\u63D0\u4F9B\u65B9\u63D0\u4F9B\n*
  **\u52A0\u5BC6\u7B97\u6CD5:**\n\u52A0\u5BC6\u65F6,\u5C06**\u62A5\u6587\u4F53\u53C2\u6570**(auth-id\u662F\u5728\u62A5\u6587\u5934\u4E2D\u4F20\u9012,\u52A0\u5BC6\u5185\u5BB9\u65E0\u9700\u5305\u542B\u6B64\u53C2\u6570)\u5BF9\u8C61\u8F6C\u6362\u4E3Ajson\u5B57\u7B26\u4E32\u52A0\u4E0A\u5E73\u53F0\u7F16\u53F7(\u7531\u7EF4\u91D1\u63D0\u4F9B)\u8FDB\u884Csha1\u52A0\u5BC6\u751F\u621040\u4F4D\u5C0F\u5199\u5B57\u7B26\u4E32;\u82E5\u52A0\u5BC6\u63A5\u53E3\u4E2D\u6709\u975E\u5FC5\u586B\u5B57\u6BB5\u4E14\u4E0D\u4F20\u9012\u5177\u4F53\u503C\u65F6\uFF0C\u5728\u52A0\u5BC6\u65F6\u4F7F\u7528\u7A7A\u5B57\u7B26\u4E32(\"\")\u4EE3\u66FF;\n<br/>\u4F8B\u5982:\n```\n\u53C2\u6570\u5BF9\u8C61\u4E3A:\n{orderId:\"DEPOSIT00001\",memberId:\"1000001\",amount:\"100.00\"}\n\u5219\u52A0\u5BC6\u5BF9\u8C61\u4E3A:\n{plat:\"1234\",params:{orderId:\"DEPOSIT00001\",memberId:\"1000001\",amount:\"100.00\"}}\n\u5219\u52A0\u5BC6\u5B57\u7B26\u4E32\u4E3A\uFF1A(key\u6309\u7167\u5B57\u5178\u987A\u5E8F\u6392\u5217)\n'{\"params\":{\"amount\":\"100.00\",\"memberId\":\"1000001\",\"orderId\":\"DEPOSIT00001\"},\"plat\":\"1234\"}'\n\u5219\u52A0\u5BC6\u7ED3\u679C\u4E3A\uFF1A\n1eff6ba75a9b928cd8988dafb8ccf5cfa9cfe4f2\n```\n\u5BC6\u6587\u5728\u62A5\u6587\u5934\u4E2D\u901A\u8FC7
  **cryptograph** \u4F20\u9012\n* **A\u65B9\u3001B\u65B9:**\n\u5728\u672C\u6587\u6863\u4E2DA\u65B9\u4EE3\u8868\u7EF4\u91D1,B\u65B9\u4EE3\u8868\u661F\u9A7F\u4ED8\n*
  **\u8BA2\u5355\u7F16\u53F7:**\n\u6587\u6863\u4E2D\u51FA\u73B0\u7684\u6240\u6709\u8BA2\u5355\u7F16\u53F7\u90FD\u9700\u8981\u5177\u6709\u552F\u4E00\u6027;\u6700\u5927\u957F\u5EA6\u4E3A50\u4F4D,\u5EFA\u8BAE\u4F7F\u7528\u7C7B\u578B\u6807\u8BC6+UUID\n*
  **\u91D1\u989D:**\n\u6240\u6709\u91D1\u989D\u53C2\u6570\u90FD\u4E3ABigDecimal\u7C7B\u578B(\u4E24\u4F4D\u5C0F\u6570)\n*
  **\u54CD\u5E94\u7ED3\u679C:**\n\u54CD\u5E94\u72B6\u6001\u7801\u4E3A200\u7684\u54CD\u5E94\u662F\u6210\u529F\u54CD\u5E94\uFF0C\u5176\u4ED6\u72B6\u6001\u7801\u5747\u4E3A\u5931\u8D25\u54CD\u5E94,\u5728\u5931\u8D25\u54CD\u5E94\u4E2D\u9700\u5728\u5B57\u6BB5reason\u4E2D\u63D0\u4F9B\u54CD\u5E94\u5931\u8D25\u63CF\u8FF0\u4FE1\u606F;\n*
  **\u91CD\u8BD5\u673A\u5236:**\n\u5141\u8BB8\u91CD\u8BD5\u7684\u63A5\u53E3\u4E2D\uFF0C\u63A5\u53E3\u63D0\u4F9B\u65B9\u9700\u8981\u5141\u8BB8\u91CD\u8BD5,\u540C\u4E00\u8BA2\u5355\u53EA\u80FD\u88AB\u6210\u529F\u5904\u7406\u4E00\u6B21\uFF1B\u63A5\u53E3\u8C03\u7528\u65B9\u5728\u5F97\u5230\u5931\u8D25\u54CD\u5E94\u4E4B\u540E\u53EF\u4EE5\u7EE7\u7EED\u91CD\u8BD5\uFF0C\u76F4\u5230\u54CD\u5E94\u6210\u529F;\n*
  **\u56DE\u8C03\u673A\u5236:**\n\u4E0D\u80FD\u4E8B\u5B9E\u54CD\u5E94\u7684\u63A5\u53E3\uFF0C\u5728\u8C03\u7528\u65F6\u9700\u4F20\u9012\u56DE\u8C03\u5730\u5740\uFF0C\u5F85\u5904\u7406\u5B8C\u6210\u540E\u63A5\u53E3\u5B9E\u73B0\u65B9\u9700\u5C06\u5904\u7406\u7ED3\u679C\u901A\u8FC7\u56DE\u8C03\u5730\u5740\u53D1\u9001\u7ED9\u63A5\u53E3\u8C03\u7528\u65B9;\n*
  **B\u65B9\u63D0\u4F9B:**\n\u6B64\u6587\u6863\u4E2D\u51FA\u73B0\u7684B\u65B9\u63D0\u4F9B\u63A5\u53E3,B\u65B9\u9700\u6309\u7167\u63A5\u53E3\u5B9A\u4E49\u6765\u5B9E\u73B0\u63A5\u53E3\uFF0C\u4F46\u662F\u8DEF\u5F84\u53EF\u4EE5\u7531B\u65B9\u6307\u5B9A;\n\n<pre>\u6587\u6863\u4F7F\u7528\u8BF4\u660E</pre>\n*
  **\u6570\u636E\u6A21\u578B\u67E5\u770B\u65B9\u5F0F**:\n\u6587\u6863\u4E2D\u5C55\u793A\u6570\u636E\u7684\u65B9\u5F0F\u6709\u4E24\u79CD\uFF0C\u4E00\u79CD\u662F\u5C55\u793A\u6570\u636E\u7C7B\u578B\u7684(\u6A21\u578B\u7ED3\u6784),\u4E00\u79CD\u662F\u5C55\u793A\u6570\u636E\u63CF\u8FF0\u53CA\u662F\u5426\u5FC5\u987B\u7684\uFF0C\u672A\u6807\u660Eoptional\u7684\u5B57\u6BB5\u5747\u4E3A\u5FC5\u987B\u5B57\u6BB5\n*
  **\u63A5\u53E3\u8C03\u7528\u8BF4\u660E**:\n\u5728\u6587\u6863\u4E2D\u5BF9\u5E94\u4F4D\u7F6E\u586B\u5165\u76F8\u5E94\u53C2\u6570\u503C\uFF0C\u70B9\u51FB\u8BD5\u4E00\u8BD5\u5373\u53EF\u67E5\u770B\u54CD\u5E94\u7ED3\u679C\u53CA\u8C03\u7528\u65B9\u5F0F<br/>\n<a
  href=\"images/GIF.gif\">\u70B9\u6B64\u67E5\u770B\u6587\u6863\u4F7F\u7528\u52A8\u753B</a>\n\n<pre>Change
  Log</pre>\n## **20160317:** \n* \u6DFB\u52A0\u4E86\u63D0\u73B0\u56DE\u8C03\u63A5\u53E3\u53CA\u52A0\u5BC6\u6D4B\u8BD5\u63A5\u53E3\n*
  \u62A5\u6587\u5934\u4E2Dauth_id \u4FEE\u6539\u6210\u4E86auth-id\n* \u5E73\u53F0\u7F16\u53F7\u4F7F\u7528XINGYIFU2016,auth-id\u4F7F\u752856c67328e138234210000001c3684bbb000549445451f9f19fb9f27c\n\n##
  **20160323:**\n* \u4FEE\u6539\u4E86token\u9A8C\u8BC1\u63A5\u53E3\n\n## **20160325:**\n*
  \u5145\u503C\u63D0\u73B0\u63A5\u53E3\u4E2D\u7684memberId\u4FEE\u6539\u6210\u4E86token\n\n##
  **20160331\uFF1A**\n* \u5145\u503C\u63D0\u73B0\u63A5\u53E3\u53C2\u6570\u4FEE\u6539\n\n##
  **20160405:**\n* \u6DFB\u52A0\u5BF9\u8D26\u63A5\u53E3 ,\u8D26\u6237\u76F8\u5173->\u5BF9\u8D26\u6587\u4EF6\u4E0B\u8F7D\u63A5\u53E3\n\";}"
host: func92.vfinance.cn
basePath: /optimus-h5/api
paths:
  /test:
    post:
      tags:
      - u6d4bu8bd5
      summary: u52a0u5bc6u6d4bu8bd5n
      description: u67e5u8be2u8d26u6237u8d44u4ea7u603bu89c8u4fe1u606f
      parameters:
      - name: auth-id
        in: header
        description: u8ba4u8bc1u7f16u53f7,u89c1u6587u6863u5934u90e8u4fe1u606fu8bf4u660e
        type: string
        required: true
      - name: cryptograph
        in: header
        description: u52a0u5bc6u540eu7684u5bc6u6587uff0cu52a0u5bc6u7b97u6cd5u89c1u62a5u6587u5934
        required: true
        type: string
      - name: params
        in: body
        description: u8bf7u6c42u53c2u6570
        required: true
        schema:
          $ref: '#/definitions/Token'
      responses:
        200:
          description: u8fd4u56deu6536u5230u7684u53c2u6570u4fe1u606f
          schema:
            type: object
        default:
          description: u54cdu5e94u5931u8d25
          schema:
            $ref: '#/definitions/ErrorResponse'
  /index:
    post:
      tags:
      - u4f1au5458u76f8u5173
      summary: u7528u6237u767bu5f55u8df3u8f6cn
      description: Bu65b9u7528u6237u5355u70b9u767bu5f55u540eu643au5e26tokenu8df3u8f6cu81f3u6b64,Au65b9u6839u636etokenu4fe1u606fu53bbu9a8cu8bc1u6b64tokenu662fu5426u6709u6548;Bu65b9u9700u63d0u4f9bu9a8cu8bc1u63a5u53e3
      parameters:
      - name: auth-id
        in: header
        description: u8ba4u8bc1u7f16u53f7,u89c1u6587u6863u5934u90e8u4fe1u606fu8bf4u660e
        type: string
        required: true
      - name: cryptograph
        in: header
        description: u6839u636eu53c2u6570u503cu52a0u5bc6u540eu7684u5bc6u6587;
        required: true
        type: string
      - name: token
        in: body
        description: u7528u6237u767bu5f55u540eu5728Bu65b9u7684u6709u6548u6807u8bc6
        required: true
        schema:
          $ref: '#/definitions/Token'
      responses:
        200:
          description: u7406u8d22u5e73u53f0u9996u9875
        default:
          description: u9519u8befu4fe1u606fu9875
  /account/me:
    post:
      tags:
      - u4f1au5458u76f8u5173
      summary: u7528u6237u4e2au4ebau4e2du5fc3n
      description: Bu65b9u7528u6237u5355u70b9u767bu5f55u540eu643au5e26tokenu8df3u8f6cu81f3u6b64,Au65b9u6839u636etokenu4fe1u606fu53bbu9a8cu8bc1u6b64tokenu662fu5426u6709u6548;
      parameters:
      - name: auth-id
        in: header
        description: u8ba4u8bc1u7f16u53f7,u89c1u6587u6863u5934u90e8u4fe1u606fu8bf4u660e
        type: string
        required: true
      - name: cryptograph
        in: header
        description: u6839u636eu53c2u6570u503cu52a0u5bc6u540eu7684u5bc6u6587;
        required: true
        type: string
      - name: token
        in: body
        description: u7528u6237u767bu5f55u540eu5728Bu65b9u7684u6709u6548u6807u8bc6
        schema:
          $ref: '#/definitions/Token'
      responses:
        200:
          description: u7528u6237u4e2au4ebau4e2du5fc3u9875u9762
        default:
          description: u9519u8befu4fe1u606fu9875
  /account/deposit:
    post:
      tags:
      - u4f1au5458u76f8u5173
      summary: u8d26u6237u5145u503cu9875u9762n
      description: Bu65b9u7528u6237u5355u70b9u767bu5f55u540eu643au5e26tokenu8df3u8f6cu81f3u6b64,Au65b9u6839u636etokenu4fe1u606fu53bbu9a8cu8bc1u6b64tokenu662fu5426u6709u6548;
      parameters:
      - name: auth-id
        in: header
        description: u8ba4u8bc1u7f16u53f7,u89c1u6587u6863u5934u90e8u4fe1u606fu8bf4u660e
        type: string
        required: true
      - name: cryptograph
        in: header
        description: u6839u636eu53c2u6570u503cu52a0u5bc6u540eu7684u5bc6u6587;
        required: true
        type: string
      - name: token
        in: body
        description: u7528u6237u767bu5f55u540eu5728Bu65b9u7684u6709u6548u6807u8bc6
        required: true
        schema:
          $ref: '#/definitions/Token'
      responses:
        200:
          description: u5145u503cu9875u9762
        default:
          description: u9519u8befu4fe1u606fu9875
  /account/overview:
    post:
      tags:
      - u8d26u6237u76f8u5173
      summary: u8d26u6237u603bu89c8n
      description: u67e5u8be2u8d26u6237u8d44u4ea7u603bu89c8u4fe1u606f
      parameters:
      - name: auth-id
        in: header
        description: u8ba4u8bc1u7f16u53f7,u89c1u6587u6863u5934u90e8u4fe1u606fu8bf4u660e
        type: string
        required: true
      - name: cryptograph
        in: header
        description: u52a0u5bc6u540eu7684u5bc6u6587uff0cu52a0u5bc6u7b97u6cd5u89c1u62a5u6587u5934
        required: true
        type: string
      - name: token
        in: body
        description: u7528u6237u767bu5f55u540eu5728Bu65b9u7684u6709u6548u6807u8bc6
        required: true
        schema:
          $ref: '#/definitions/Token'
      responses:
        200:
          description: u6210u529fu54cdu5e94
          schema:
            type: object
            required:
            - totalAssets
            - balance
            properties:
              totalAssets:
                description: BigDecimalu7c7bu578b u603bu8d44u4ea7
                type: number
              balance:
                description: u8d26u6237u4f59u989d
                type: number
        default:
          description: u54cdu5e94u5931u8d25
          schema:
            $ref: '#/definitions/ErrorResponse'
  /account/checking:
    post:
      tags:
      - u8d26u6237u76f8u5173
      summary: u5bf9u8d26u6587u4ef6u4e0bu8f7du63a5u53e3n
      description: 'u4e0bu8f7du6700u8fd130u5929u5185u67d0u65e5(00:00:00 - 23:59:59)u7684u5145u503cu63d0u73b0u5bf9u8d26u6587u4ef6;u6587u4ef6u7c7bu578bu4e3atxt;u6587u4ef6u5185u5bb9u662fu5177u4f53u4ea4u6613u8bb0u5f55,u6bcfu884cu4e00u6761u8bb0u5f55,u4e0du5305u5217u540du4fe1u606f;u901au8fc7|u5206u9694u5217,u4f9du6b21u4e3a
        <pre> **u8ba2u5355u65f6u95f4:** Bu65b9u5904u7406u5b8cu6210u540eu8fd4u56deu7684u8ba2u5355u65f6u95f4,u683cu5f0fu662fyyyy-MM-dd
        HH:mm:ss</br> **u539fu59cbu8ba2u5355u7f16u53f7:** Au65b9u53d1u8d77u65f6u7684u8ba2u5355u7f16u53f7</br>
        **u5916u90e8u8ba2u5355u7f16u53f7:** Bu65b9u5904u7406u5b8cu6210u540eu8fd4u56deu7684Bu65b9u8ba2u5355u7f16u53f7</br>
        **u4f1au5458u7f16u53f7:** Bu65b9u4f1au5458u5728Bu65b9u7684memberId</br> **u8ba2u5355u7c7bu578b:**
        u53eau6709u4e24u79cd deposit:u5145u503c,withdraw:u63d0u73b0</br> **u91d1u989d:**
        u7cbeu786eu5230u4e24u4f4du5c0fu6570</br> **u8ba2u5355u72b6u6001:** u53eau6709u4e24u79cd
        S:u6210u529f,F:u5931u8d25</br> **u5907u6ce8:** u8ba2u5355u5904u7406u5907u6ce8u4fe1u606f
        </pre> u5185u5bb9u793au4f8b: <pre> 2016-03-31 13:15:07|2016033113150690001|xxxxxxx|test002|deposit|1000.00|S|u5145u503cu6210u529f!
        </pre>n'
      parameters:
      - name: auth-id
        in: header
        description: u8ba4u8bc1u7f16u53f7,u89c1u6587u6863u5934u90e8u4fe1u606fu8bf4u660e
        type: string
        required: true
      - name: cryptograph
        in: header
        description: u52a0u5bc6u540eu7684u5bc6u6587uff0cu52a0u5bc6u7b97u6cd5u89c1u62a5u6587u5934
        required: true
        type: string
      - name: date
        in: body
        description: u7528u6237u767bu5f55u540eu5728Bu65b9u7684u6709u6548u6807u8bc6
        required: true
        schema:
          type: object
          required:
          - date
          properties:
            date:
              description: u5bf9u8d26u65e5u671f,u683cu5f0fu4e3ayyyy-MM-dd
              type: string
      responses:
        200:
          description: u8fd4u56deu5bf9u5e94u5bf9u8d26u65e5u7684u4ea4u6613u8bb0u5f55u6587u4ef6
        default:
          description: u54cdu5e94u5931u8d25
          schema:
            $ref: '#/definitions/ErrorResponse'
  /callback/account/deposit:
    post:
      tags:
      - u8d26u6237u76f8u5173
      summary: u5145u503c(u8f6cu5165)u56deu8c03
      description: Au65b9u53d1u8d77u5145u503cu65f6u4f20u9012u56deu8c03u5730u5740,u5f85Bu65b9u5904u7406u5b8cu6210u540eu5c06u5904u7406u7ed3u679cu901au8fc7u56deu8c03u5730u5740u53d1u9001u7ed9Au65b9,u82e5Bu65b9u56deu8c03u65f6u6ca1u6709u6536u5230u6210u529fu54cdu5e94uff0cu9700u91cdu8bd5u76f4u81f3u6210u529fu54cdu5e94;
      parameters:
      - name: auth-id
        in: header
        description: u8ba4u8bc1u7f16u53f7,u89c1u6587u6863u5934u90e8u4fe1u606fu8bf4u660e
        type: string
        required: true
      - name: cryptograph
        in: header
        description: u6839u636eu53c2u6570u503cu52a0u5bc6u540eu7684u5bc6u6587uff0cu52a0u5bc6u7b97u6cd5u53c2u89c1u6587u6863u5934u90e8u63cfu8ff0;
          u82e5u54cdu5e94u5931u8d25Bu65b9u53efu4e00u76f4u91cdu8bd5u76f4u5230u6210u529f,Au65b9u4f1au6839u636eu8ba2u5355u7f16u53f7u6392u91cd,u540cu4e00u8ba2u5355u53f7u53eau4f1au6210u529fu5904u7406u4e00u6b21;
        required: true
        type: string
      - name: OrderInfo
        in: body
        description: u8ba2u5355u4fe1u606f
        required: true
        schema:
          $ref: '#/definitions/OrderResponse'
      responses:
        200:
          description: u56deu8c03u6210u529f
        default:
          description: u54cdu5e94statusu4e3a200u4ee5u5916u7684u60c5u51b5uff0cu5904u7406u5931u8d25
          schema:
            $ref: '#/definitions/ErrorResponse'
  /callback/account/redeem:
    post:
      tags:
      - u8d26u6237u76f8u5173
      summary: u63d0u73b0(u8f6cu51fa)u56deu8c03
      description: Au65b9u53d1u8d77u5145u503cu65f6u4f20u9012u56deu8c03u5730u5740,u5f85Bu65b9u5904u7406u5b8cu6210u540eu5c06u5904u7406u7ed3u679cu901au8fc7u56deu8c03u5730u5740u53d1u9001u7ed9Au65b9,u82e5Bu65b9u56deu8c03u65f6u6ca1u6709u6536u5230u6210u529fu54cdu5e94uff0cu9700u91cdu8bd5u76f4u81f3u6210u529fu54cdu5e94;
      parameters:
      - name: auth-id
        in: header
        description: u8ba4u8bc1u7f16u53f7,u89c1u6587u6863u5934u90e8u4fe1u606fu8bf4u660e
        type: string
        required: true
      - name: cryptograph
        in: header
        description: u6839u636eu53c2u6570u503cu52a0u5bc6u540eu7684u5bc6u6587uff0cu52a0u5bc6u7b97u6cd5u53c2u89c1u6587u6863u5934u90e8u63cfu8ff0;
          u82e5u54cdu5e94u5931u8d25Bu65b9u53efu4e00u76f4u91cdu8bd5u76f4u5230u6210u529f,Au65b9u4f1au6839u636eu8ba2u5355u7f16u53f7u6392u91cd,u540cu4e00u8ba2u5355u53f7u53eau4f1au6210u529fu5904u7406u4e00u6b21;
        required: true
        type: string
      - name: OrderInfo
        in: body
        description: u8ba2u5355u4fe1u606f
        required: true
        schema:
          $ref: '#/definitions/OrderResponse'
      responses:
        200:
          description: u56deu8c03u6210u529f
        default:
          description: u54cdu5e94statusu4e3a200u4ee5u5916u7684u60c5u51b5uff0cu5904u7406u5931u8d25
          schema:
            $ref: '#/definitions/ErrorResponse'
  /b/account/deposit:
    post:
      tags:
      - Bu65b9u63d0u4f9b
      summary: u5145u503c(u8f6cu5165)
      description: u5145u503cu63a5u53e3;Bu65b9u63d0u4f9b,Au65b9u53d1u8d77u5145u503cu65f6u4f20u9012u56deu8c03u5730u5740,u5f85Bu65b9u5904u7406u5b8cu6210u540eu5c06u5904u7406u7ed3u679cu901au8fc7u56deu8c03u5730u5740u53d1u9001u7ed9Au65b9,u82e5Bu65b9u56deu8c03u65f6u6ca1u6709u6536u5230u6210u529fu54cdu5e94uff0cu9700u91cdu8bd5u76f4u81f3u6210u529fu54cdu5e94;
      parameters:
      - name: cryptograph
        in: header
        description: u6839u636eu53c2u6570u503cu52a0u5bc6u540eu7684u5bc6u6587uff0cu52a0u5bc6u7b97u6cd5u53c2u89c1u6587u6863u5934u90e8u63cfu8ff0;
          u82e5u54cdu5e94u5931u8d25Bu65b9u53efu4e00u76f4u91cdu8bd5u76f4u5230u6210u529f,Au65b9u4f1au6839u636eu8ba2u5355u7f16u53f7u6392u91cd,u540cu4e00u8ba2u5355u53f7u53eau4f1au6210u529fu5904u7406u4e00u6b21;
        required: true
        type: string
      - name: OrderInfo
        in: body
        description: u8ba2u5355u4fe1u606f
        required: true
        schema:
          $ref: '#/definitions/OrderInfo'
      responses:
        200:
          description: u5145u503cu6210u529f
          schema:
            $ref: '#/definitions/OrderResponse'
        default:
          description: u54cdu5e94statusu4e3a200u4ee5u5916u7684u60c5u51b5uff0cu5904u7406u5931u8d25
          schema:
            $ref: '#/definitions/ErrorResponse'
  /b/account/redeem:
    post:
      tags:
      - Bu65b9u63d0u4f9b
      summary: u63d0u73b0(u8f6cu51fa)
      description: u63d0u73b0u662fAu65b9u53d1u8d77,u8fd9u4e2au662fAu65b9u8d26u6237u4e0eBu65b9u8d26u6237u4e4bu95f4u8d44u91d1u6d41u52a8,u4e0du6d89u53cau7b2cu4e09u65b9u652fu4ed8;
      parameters:
      - name: cryptograph
        in: header
        description: u6839u636eu53c2u6570u503cu52a0u5bc6u540eu7684u5bc6u6587uff0cu52a0u5bc6u7b97u6cd5u53c2u89c1u6587u6863u5934u90e8u63cfu8ff0;u5982u54cdu5e94u5931u8d25,Au65b9u4f1au4e00u76f4u91cdu8bd5,u76f4u5230u6210u529f,Bu65b9u8981u786eu4fddu540cu4e00u8ba2u5355u53eau4f1au88abu6210u529fu5904u7406u4e00u6b21;
        required: true
        type: string
      - name: OrderInfo
        in: body
        description: u8ba2u5355u4fe1u606f
        required: true
        schema:
          $ref: '#/definitions/OrderInfo'
      responses:
        200:
          description: u63d0u73b0u6210u529f
          schema:
            $ref: '#/definitions/OrderResponse'
        default:
          description: u54cdu5e94statusu4e3a200u4ee5u5916u7684u60c5u51b5uff0cu5904u7406u5931u8d25
          schema:
            $ref: '#/definitions/ErrorResponse'
  /b/member/token:
    post:
      tags:
      - Bu65b9u63d0u4f9b
      summary: ssou6821u9a8cu53cau4f1au5458u4fe1u606fu83b7u53d6
      description: u901au8fc7u6b64u63a5u53e3u8fdbu884cu5355u70b9u767bu5f55u9a8cu8bc1,tokenu662fBu65b9u8df3u8f6cu65f6u4f20u9012u8fc7u6765u7684u53c2u6570,Au65b9u6839u636eu6b64tokenu5411Bu65b9u53d1u8d77u7528u6237u8eabu4efdu6821u9a8c;u6839u636eu53c2u6570u51b3u5b9au662fu5426u8fd4u56deu7528u6237u57fau672cu4fe1u606f
      parameters:
      - name: token
        description: u9a8cu8bc1Bu65b9u7528u6237u8eabu4efdu6807u8bc6
        in: body
        required: true
        schema:
          $ref: '#/definitions/TokenValidate'
      responses:
        200:
          description: u63a5u53e3u8c03u7528u6210u529f
          schema:
            $ref: '#/definitions/UserInfo'
        default:
          description: u54cdu5e94statusu4e3a200u4ee5u5916u7684u60c5u51b5uff0cu5904u7406u5931u8d25
          schema:
            $ref: '#/definitions/ErrorResponse'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":6:{s:5:\"Token\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"token\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"B\u65B9\u767B\u5F55\u7528\u6237\u7684\u552F\u4E00\u6807\u8BC6\";}}}s:13:\"TokenValidate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"token\";i:1;s:8:\"needInfo\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"B\u65B9\u767B\u5F55\u7528\u6237\u7684\u552F\u4E00\u6807\u8BC6\";}s:8:\"needInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"\u662F\u5426\u8FD4\u56DEB\u65B9\u7528\u6237\u7684\u57FA\u672C\u4FE1\u606F\uFF0C0
  \u5426,1 \u662F;\";}}}s:9:\"OrderInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:7:\"orderId\";i:1;s:5:\"token\";i:2;s:6:\"amount\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"orderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"\u552F\u4E00\u7684\u8BA2\u5355\u7F16\u53F7.\";}s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"\u7528\u6237\u8DF3\u8F6C\u65F6\u643A\u5E26\u7684\u8EAB\u4EFD\u4FE1\u606F\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:12:\"\u5145\u503C\u91D1\u989D\";}s:3:\"pwd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"B\u65B9\u5E73\u53F0\u652F\u4ED8\u5BC6\u7801\";}s:9:\"notifyUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"\u56DE\u8C03\u5730\u5740,\u53EA\u6709\u9700\u8981\u56DE\u8C03\u7684\u63A5\u53E3\u624D\u9700\u8981\u6B64\u53C2\u6570,\u82E5\u4E0D\u9700\u8981\u6B64\u53C2\u6570\u7684\u63A5\u53E3\u52A0\u5BC6\u65F6\u4F7F\u7528\u7A7A\u503C(\"\")\";}}}s:13:\"OrderResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:7:\"orderId\";i:1;s:13:\"originOrderId\";i:2;s:9:\"orderTime\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"orderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"\u63A5\u53E3\u5B9E\u73B0\u65B9\u5904\u7406\u540E\u7684\u8BA2\u5355\u7F16\u53F7\";}s:13:\"originOrderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"\u539F\u59CB\u8BA2\u5355\u53F7,\u63A5\u53E3\u8C03\u7528\u65B9\u8C03\u7528\u65F6\u4F20\u9012\u7684\u8BA2\u5355\u7F16\u53F7\";}s:9:\"orderTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:47:\"\u8BA2\u5355\u5904\u7406\u5B8C\u6210\u65F6\u95F4,long\u7C7B\u578B\u7684\u6BEB\u79D2\u6570\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"SUCCESS
  \u8868\u793A\u6210\u529F,FAIL \u8868\u793A\u5931\u8D25\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u8BA2\u5355\u5904\u7406\u7ED3\u679C\u63CF\u8FF0\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:6:\"reason\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:15:\"\u54CD\u5E94\u72B6\u6001\u7801\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"\u4E0E\u4EBA\u53CB\u597D\u7684\u9519\u8BEF\u63CF\u8FF0\u4FE1\u606F\";}}}s:8:\"UserInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"memberId\";i:1;s:10:\"memberName\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"memberId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4F1A\u5458\u7F16\u53F7\";}s:10:\"memberName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"\u7528\u4E8E\u663E\u793A\u7684\u4F1A\u5458\u6635\u79F0\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u90AE\u7BB1\u5730\u5740\";}s:8:\"telphone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u624B\u673A\u53F7\";}s:8:\"realName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u771F\u5B9E\u59D3\u540D\";}s:8:\"idNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u8EAB\u4EFD\u8BC1\u7F16\u53F7\";}}}}"
...
