---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:68:\"U.S. EPA Enforcement and
  Compliance History Online (ECHO) - All Data\";s:11:\"description\";s:2252:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use.  ECHO provides integrated
  compliance and enforcement information for over 1 million regulated facilities nationwide.\n
  \  ECHO Rest Services provide multiple service endpoints, each with specific capabilities,
  to search and retrieve data on facilities regulated as Clean Air Act (CAA) stationary
  sources, Clean Water Act (CWA) dischargers, Resource Conservation and Recovery Act
  (RCRA) hazardous waste generators/handlers, and Safe Drinking Water Act (SDWA) public
  water systems.  Data of interest from other EPA sources, such as the Toxics Release
  Inventory, is also supplied for context.  \n \nThe get_facilities, get_map, get_qid,
  and get_download end points are meant to be used together, while the enhanced get_facility_info
  end point is self contained.\n    The get_facility_info end point returns either
  an array of state, county or zip clusters with summary statistics per cluster or
  an array of facilities.\n \nThe recommended use scenario for get_facilities, get_qid,
  get_map, and get_downoad is:\n \n <b>1)</b>  Use get_facilities to validate passed
  query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs
  are time sensitive and will be valid for approximately 30 minutes.\n <b>2)</b>  Use
  get_qid, with the returned QID, to paginate through arrays of facility results.\n
  <b>3)</b>  Use get_map, with the returned QID, to zoom in/out and pan on the clustered
  and individual facility coordinates that meet the QID query criteria.\n <b>4)</b>
  \ Use get_download, with the returned QID, to generate a Comma Separated Value (CSV)
  file of facility information that meets the QID query criteria.\n \n \nUse the qcolumns
  parameter to customize your search results.  Use the Metdata service endpoint for
  a list of available output objects, their Column Ids, and their definitions to help
  you build your customized output. \n \nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web
  Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About
  ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n
  \";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US EPA, OECA Integration,
  Targeting and Access Branch\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:7:\"version\";s:5:\"1.0.0\";}"
host: ofmpub.epa.gov
basePath: /echo
paths:
  /echo_rest_services.get_facilities:
    get:
      summary: Combined ECHO Facility Search Service
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.p_fn'
      - $ref: '#/parameters/q.p_sa'
      - $ref: '#/parameters/q.p_sa1'
      - $ref: '#/parameters/q.p_ct'
      - $ref: '#/parameters/q.p_co'
      - $ref: '#/parameters/q.p_fips'
      - $ref: '#/parameters/q.p_st'
      - $ref: '#/parameters/q.p_zip'
      - $ref: '#/parameters/q.p_frs'
      - $ref: '#/parameters/q.p_reg'
      - $ref: '#/parameters/q.p_sic'
      - $ref: '#/parameters/q.p_ncs'
      - $ref: '#/parameters/q.p_pen'
      - $ref: '#/parameters/q.p_c1lat'
      - $ref: '#/parameters/q.p_c1lon'
      - $ref: '#/parameters/q.p_c2lat'
      - $ref: '#/parameters/q.p_c2lon'
      - $ref: '#/parameters/q.p_usmex'
      - $ref: '#/parameters/q.p_sic2'
      - $ref: '#/parameters/q.p_sic4'
      - $ref: '#/parameters/q.p_fa'
      - $ref: '#/parameters/q.p_ff'
      - $ref: '#/parameters/q.p_act'
      - $ref: '#/parameters/q.p_maj'
      - $ref: '#/parameters/q.p_mact'
      - $ref: '#/parameters/q.p_fea'
      - $ref: '#/parameters/q.p_feay'
      - $ref: '#/parameters/q.p_feaa'
      - $ref: '#/parameters/q.p_feac'
      - $ref: '#/parameters/q.p_fea_5yr'
      - $ref: '#/parameters/q.p_iea'
      - $ref: '#/parameters/q.p_ieay'
      - $ref: '#/parameters/q.p_ieaa'
      - $ref: '#/parameters/q.p_iea_5yr'
      - $ref: '#/parameters/q.p_cs'
      - $ref: '#/parameters/q.p_qiv'
      - $ref: '#/parameters/q.p_naa'
      - $ref: '#/parameters/q.p_impw'
      - $ref: '#/parameters/q.p_trep'
      - $ref: '#/parameters/q.p_ocr'
      - $ref: '#/parameters/q.p_oct'
      - $ref: '#/parameters/q.p_pm'
      - $ref: '#/parameters/q.p_pd'
      - $ref: '#/parameters/q.p_ico'
      - $ref: '#/parameters/q.p_huc'
      - $ref: '#/parameters/q.p_pid'
      - $ref: '#/parameters/q.p_med'
      - $ref: '#/parameters/q.p_istatute'
      - $ref: '#/parameters/q.p_ysl'
      - $ref: '#/parameters/q.p_ysly'
      - $ref: '#/parameters/q.p_ysla'
      - $ref: '#/parameters/q.p_qs'
      - $ref: '#/parameters/q.p_sfs'
      - $ref: '#/parameters/q.p_tribeid'
      - $ref: '#/parameters/q.p_tribename'
      - $ref: '#/parameters/q.p_tribedist'
      - $ref: '#/parameters/q.p_wbd'
      - $ref: '#/parameters/q.p_fntype'
      - $ref: '#/parameters/q.p_icoo'
      - $ref: '#/parameters/q.p_fac_icos'
      - $ref: '#/parameters/q.p_ejscreen'
      - $ref: '#/parameters/q.p_limit_addr'
      - $ref: '#/parameters/q.p_lat'
      - $ref: '#/parameters/q.p_long'
      - $ref: '#/parameters/q.p_radius'
      - $ref: '#/parameters/q.p_ejscreen_over80cnt'
      - $ref: '#/parameters/q.p_agoo'
      - $ref: '#/parameters/q.p_neiu'
      - $ref: '#/parameters/q.queryset'
      - $ref: '#/parameters/q.responseset'
      - $ref: '#/parameters/q.tablelist'
      - $ref: '#/parameters/q.maplist'
      - $ref: '#/parameters/q.summarylist'
      - $ref: '#/parameters/q.callback'
      - name: qcolumns
        in: query
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      tags:
      - Facility Info
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/echo04'
            required:
            - Results
    post:
      summary: Combined ECHO Facility Search Service
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.p_fn'
      - $ref: '#/parameters/f.p_sa'
      - $ref: '#/parameters/f.p_sa1'
      - $ref: '#/parameters/f.p_ct'
      - $ref: '#/parameters/f.p_co'
      - $ref: '#/parameters/f.p_fips'
      - $ref: '#/parameters/f.p_st'
      - $ref: '#/parameters/f.p_zip'
      - $ref: '#/parameters/f.p_frs'
      - $ref: '#/parameters/f.p_reg'
      - $ref: '#/parameters/f.p_sic'
      - $ref: '#/parameters/f.p_ncs'
      - $ref: '#/parameters/f.p_pen'
      - $ref: '#/parameters/f.p_c1lat'
      - $ref: '#/parameters/f.p_c1lon'
      - $ref: '#/parameters/f.p_c2lat'
      - $ref: '#/parameters/f.p_c2lon'
      - $ref: '#/parameters/f.p_usmex'
      - $ref: '#/parameters/f.p_sic2'
      - $ref: '#/parameters/f.p_sic4'
      - $ref: '#/parameters/f.p_fa'
      - $ref: '#/parameters/f.p_ff'
      - $ref: '#/parameters/f.p_act'
      - $ref: '#/parameters/f.p_maj'
      - $ref: '#/parameters/f.p_mact'
      - $ref: '#/parameters/f.p_fea'
      - $ref: '#/parameters/f.p_feay'
      - $ref: '#/parameters/f.p_feaa'
      - $ref: '#/parameters/f.p_feac'
      - $ref: '#/parameters/f.p_fea_5yr'
      - $ref: '#/parameters/f.p_iea'
      - $ref: '#/parameters/f.p_ieay'
      - $ref: '#/parameters/f.p_ieaa'
      - $ref: '#/parameters/f.p_iea_5yr'
      - $ref: '#/parameters/f.p_cs'
      - $ref: '#/parameters/f.p_qiv'
      - $ref: '#/parameters/f.p_naa'
      - $ref: '#/parameters/f.p_impw'
      - $ref: '#/parameters/f.p_trep'
      - $ref: '#/parameters/f.p_ocr'
      - $ref: '#/parameters/f.p_oct'
      - $ref: '#/parameters/f.p_pm'
      - $ref: '#/parameters/f.p_pd'
      - $ref: '#/parameters/f.p_ico'
      - $ref: '#/parameters/f.p_huc'
      - $ref: '#/parameters/f.p_pid'
      - $ref: '#/parameters/f.p_med'
      - $ref: '#/parameters/f.p_istatute'
      - $ref: '#/parameters/f.p_ysl'
      - $ref: '#/parameters/f.p_ysly'
      - $ref: '#/parameters/f.p_ysla'
      - $ref: '#/parameters/f.p_qs'
      - $ref: '#/parameters/f.p_sfs'
      - $ref: '#/parameters/f.p_tribeid'
      - $ref: '#/parameters/f.p_tribename'
      - $ref: '#/parameters/f.p_tribedist'
      - $ref: '#/parameters/f.p_wbd'
      - $ref: '#/parameters/f.p_fntype'
      - $ref: '#/parameters/f.p_icoo'
      - $ref: '#/parameters/f.p_fac_icos'
      - $ref: '#/parameters/f.p_ejscreen'
      - $ref: '#/parameters/f.p_limit_addr'
      - $ref: '#/parameters/f.p_lat'
      - $ref: '#/parameters/f.p_long'
      - $ref: '#/parameters/f.p_radius'
      - $ref: '#/parameters/f.p_ejscreen_over80cnt'
      - $ref: '#/parameters/f.p_agoo'
      - $ref: '#/parameters/f.p_neiu'
      - $ref: '#/parameters/f.queryset'
      - $ref: '#/parameters/f.responseset'
      - $ref: '#/parameters/f.tablelist'
      - $ref: '#/parameters/f.maplist'
      - $ref: '#/parameters/f.summarylist'
      - $ref: '#/parameters/f.callback'
      - name: qcolumns
        in: formData
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      tags:
      - Facility Info
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/echo04'
            required:
            - Results
  /echo_rest_services.get_facility_info:
    get:
      summary: Combined ECHO Facility Enhanced Search Service
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/q.p_fn'
      - $ref: '#/parameters/q.p_sa'
      - $ref: '#/parameters/q.p_sa1'
      - $ref: '#/parameters/q.p_ct'
      - $ref: '#/parameters/q.p_co'
      - $ref: '#/parameters/q.p_fips'
      - $ref: '#/parameters/q.p_st'
      - $ref: '#/parameters/q.p_zip'
      - $ref: '#/parameters/q.p_frs'
      - $ref: '#/parameters/q.p_reg'
      - $ref: '#/parameters/q.p_sic'
      - $ref: '#/parameters/q.p_ncs'
      - $ref: '#/parameters/q.p_pen'
      - $ref: '#/parameters/q.xmin'
      - $ref: '#/parameters/q.ymin'
      - $ref: '#/parameters/q.xmax'
      - $ref: '#/parameters/q.ymax'
      - $ref: '#/parameters/q.p_usmex'
      - $ref: '#/parameters/q.p_sic2'
      - $ref: '#/parameters/q.p_sic4'
      - $ref: '#/parameters/q.p_fa'
      - $ref: '#/parameters/q.p_ff'
      - $ref: '#/parameters/q.p_act'
      - $ref: '#/parameters/q.p_maj'
      - $ref: '#/parameters/q.p_mact'
      - $ref: '#/parameters/q.p_fea'
      - $ref: '#/parameters/q.p_feay'
      - $ref: '#/parameters/q.p_feaa'
      - $ref: '#/parameters/q.p_feac'
      - $ref: '#/parameters/q.p_feac_5yr'
      - $ref: '#/parameters/q.p_iea'
      - $ref: '#/parameters/q.p_ieay'
      - $ref: '#/parameters/q.p_ieaa'
      - $ref: '#/parameters/q.p_iea_5yr'
      - $ref: '#/parameters/q.p_cs'
      - $ref: '#/parameters/q.p_qiv'
      - $ref: '#/parameters/q.p_naa'
      - $ref: '#/parameters/q.p_impw'
      - $ref: '#/parameters/q.p_trep'
      - $ref: '#/parameters/q.p_ocr'
      - $ref: '#/parameters/q.p_oct'
      - $ref: '#/parameters/q.p_pm'
      - $ref: '#/parameters/q.p_pd'
      - $ref: '#/parameters/q.p_ico'
      - $ref: '#/parameters/q.p_huc'
      - $ref: '#/parameters/q.p_pid'
      - $ref: '#/parameters/q.p_med'
      - $ref: '#/parameters/q.p_istatute'
      - $ref: '#/parameters/q.p_ysl'
      - $ref: '#/parameters/q.p_ysly'
      - $ref: '#/parameters/q.p_ysla'
      - $ref: '#/parameters/q.p_qs'
      - $ref: '#/parameters/q.p_sfs'
      - $ref: '#/parameters/q.p_tribeid'
      - $ref: '#/parameters/q.p_tribename'
      - $ref: '#/parameters/q.p_tribedist'
      - $ref: '#/parameters/q.p_wbd'
      - $ref: '#/parameters/q.p_fntype'
      - $ref: '#/parameters/q.p_icoo'
      - $ref: '#/parameters/q.p_fac_icos'
      - $ref: '#/parameters/q.p_ejscreen'
      - $ref: '#/parameters/q.p_limit_addr'
      - $ref: '#/parameters/q.p_lat'
      - $ref: '#/parameters/q.p_long'
      - $ref: '#/parameters/q.p_radius'
      - $ref: '#/parameters/q.p_ejscreen_over80cnt'
      - $ref: '#/parameters/q.p_agoo'
      - $ref: '#/parameters/q.p_neiu'
      - $ref: '#/parameters/q.responseset'
      - $ref: '#/parameters/q.callback'
      - name: qcolumns
        in: query
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facility Info
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The determination as to whether Facilities or Clusters are returned
            is based on the number of facilities that meet the specified criteria.
            Generally, if there are more than ~2000 facilities, the search will return
            clusters; otherwise individual facility records will be returned.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/echo08'
            required:
            - Results
    post:
      summary: Combined ECHO Facility Enhanced Search Service
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/f.p_fn'
      - $ref: '#/parameters/f.p_sa'
      - $ref: '#/parameters/f.p_sa1'
      - $ref: '#/parameters/f.p_ct'
      - $ref: '#/parameters/f.p_co'
      - $ref: '#/parameters/f.p_fips'
      - $ref: '#/parameters/f.p_st'
      - $ref: '#/parameters/f.p_zip'
      - $ref: '#/parameters/f.p_frs'
      - $ref: '#/parameters/f.p_reg'
      - $ref: '#/parameters/f.p_sic'
      - $ref: '#/parameters/f.p_ncs'
      - $ref: '#/parameters/f.p_pen'
      - $ref: '#/parameters/f.xmin'
      - $ref: '#/parameters/f.ymin'
      - $ref: '#/parameters/f.xmax'
      - $ref: '#/parameters/f.ymax'
      - $ref: '#/parameters/f.p_usmex'
      - $ref: '#/parameters/f.p_sic2'
      - $ref: '#/parameters/f.p_sic4'
      - $ref: '#/parameters/f.p_fa'
      - $ref: '#/parameters/f.p_ff'
      - $ref: '#/parameters/f.p_act'
      - $ref: '#/parameters/f.p_maj'
      - $ref: '#/parameters/f.p_mact'
      - $ref: '#/parameters/f.p_fea'
      - $ref: '#/parameters/f.p_feay'
      - $ref: '#/parameters/f.p_feaa'
      - $ref: '#/parameters/f.p_feac'
      - $ref: '#/parameters/f.p_feac_5yr'
      - $ref: '#/parameters/f.p_iea'
      - $ref: '#/parameters/f.p_ieay'
      - $ref: '#/parameters/f.p_ieaa'
      - $ref: '#/parameters/f.p_iea_5yr'
      - $ref: '#/parameters/f.p_cs'
      - $ref: '#/parameters/f.p_qiv'
      - $ref: '#/parameters/f.p_naa'
      - $ref: '#/parameters/f.p_impw'
      - $ref: '#/parameters/f.p_trep'
      - $ref: '#/parameters/f.p_ocr'
      - $ref: '#/parameters/f.p_oct'
      - $ref: '#/parameters/f.p_pm'
      - $ref: '#/parameters/f.p_pd'
      - $ref: '#/parameters/f.p_ico'
      - $ref: '#/parameters/f.p_huc'
      - $ref: '#/parameters/f.p_pid'
      - $ref: '#/parameters/f.p_med'
      - $ref: '#/parameters/f.p_istatute'
      - $ref: '#/parameters/f.p_ysl'
      - $ref: '#/parameters/f.p_ysly'
      - $ref: '#/parameters/f.p_ysla'
      - $ref: '#/parameters/f.p_qs'
      - $ref: '#/parameters/f.p_sfs'
      - $ref: '#/parameters/f.p_tribeid'
      - $ref: '#/parameters/f.p_tribename'
      - $ref: '#/parameters/f.p_tribedist'
      - $ref: '#/parameters/f.p_wbd'
      - $ref: '#/parameters/f.p_fntype'
      - $ref: '#/parameters/f.p_icoo'
      - $ref: '#/parameters/f.p_fac_icos'
      - $ref: '#/parameters/f.p_ejscreen'
      - $ref: '#/parameters/f.p_limit_addr'
      - $ref: '#/parameters/f.p_lat'
      - $ref: '#/parameters/f.p_long'
      - $ref: '#/parameters/f.p_radius'
      - $ref: '#/parameters/f.p_ejscreen_over80cnt'
      - $ref: '#/parameters/f.p_agoo'
      - $ref: '#/parameters/f.p_neiu'
      - $ref: '#/parameters/f.responseset'
      - $ref: '#/parameters/f.callback'
      - name: qcolumns
        in: formData
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facility Info
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The determination as to whether Facilities or Clusters are returned
            is based on the number of facilities that meet the specified criteria.
            Generally, if there are more than ~2000 facilities, the search will return
            clusters; otherwise individual facility records will be returned.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/echo08'
            required:
            - Results
  /echo_rest_services.get_qid:
    get:
      summary: Combined ECHO Paginated Results Service
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - $ref: '#/parameters/q.pageno'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.newsort'
      - $ref: '#/parameters/q.descending'
      - name: qcolumns
        in: query
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      tags:
      - Facility Info
      responses:
        200:
          description: Results are an array (page) Facility Registry System (FRS)  Facilities
            with the number of facilities equal to the responseset (page size).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/echo11'
            required:
            - Results
    post:
      summary: Combined ECHO Paginated Results Service
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - $ref: '#/parameters/f.pageno'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.newsort'
      - $ref: '#/parameters/f.descending'
      - name: qcolumns
        in: formData
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      tags:
      - Facility Info
      responses:
        200:
          description: Results are an array (page) Facility Registry System (FRS)  Facilities
            with the number of facilities equal to the responseset (page size).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/echo11'
            required:
            - Results
  /echo_rest_services.get_map:
    get:
      summary: Combined ECHO Map Service
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.tablelist'
      - $ref: '#/parameters/q.c1_lat'
      - $ref: '#/parameters/q.c1_long'
      - $ref: '#/parameters/q.c2_lat'
      - $ref: '#/parameters/q.c2_long'
      - $ref: '#/parameters/q.p_id'
      tags:
      - Facility Info
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              MapOutput:
                $ref: '#/definitions/echo02'
            required:
            - MapOutput
    post:
      summary: Combined ECHO Map Service
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.tablelist'
      - $ref: '#/parameters/f.c1_lat'
      - $ref: '#/parameters/f.c1_long'
      - $ref: '#/parameters/f.c2_lat'
      - $ref: '#/parameters/f.c2_long'
      - $ref: '#/parameters/f.p_id'
      tags:
      - Facility Info
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              MapOutput:
                $ref: '#/definitions/echo02'
            required:
            - MapOutput
  /echo_rest_services.get_download:
    get:
      summary: Combined ECHO Download Data Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma separated value (CSV) file of the facilities found.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - name: qcolumns
        in: query
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facility Info
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
    post:
      summary: Combined ECHO Download Data Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma separated value (CSV) file of the facilities found.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - name: qcolumns
        in: formData
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facility Info
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
  /echo_rest_services.get_info_clusters:
    get:
      summary: Combined ECHO Info Clusters Service
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/q.p_qid'
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facility Info
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
    post:
      summary: Combined ECHO Info Clusters Service
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/f.p_qid'
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facility Info
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
  /echo_rest_services.get_geojson:
    get:
      summary: Combined ECHO GeoJSON Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.newsort'
      - $ref: '#/parameters/q.descending'
      - name: qcolumns
        in: query
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facility Info
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            type: object
            description: GeoJSON Feature Collection Object
            properties:
              type:
                type: string
                title: Feature Collection
                example: FeatureCollection
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
              features:
                type: array
                title: Features Array
                description: Array of GeoJSON feature objects.
                items:
                  $ref: '#/definitions/echo09'
            required:
            - type
            - features
    post:
      summary: Combined ECHO GeoJSON Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.newsort'
      - $ref: '#/parameters/f.descending'
      - name: qcolumns
        in: formData
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facility Info
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            type: object
            description: GeoJSON Feature Collection Object
            properties:
              type:
                type: string
                title: Feature Collection
                example: FeatureCollection
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
              features:
                type: array
                title: Features Array
                description: Array of GeoJSON feature objects.
                items:
                  $ref: '#/definitions/echo09'
            required:
            - type
            - features
  /echo_rest_services.metadata:
    get:
      summary: Combined ECHO Metadata Service
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.callback'
      tags:
      - Metadata
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/met1'
            required:
            - Results
    post:
      summary: Combined ECHO Metadata Service
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.callback'
      tags:
      - Metadata
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/met1'
            required:
            - Results
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:3:\"qp0\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Query
  Parameters Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Parameter\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"QP\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Query
  Parameter\";s:7:\"example\";s:6:\"output\";s:11:\"description\";s:15:\"Query parameter\";}s:2:\"QV\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Query
  Value\";s:7:\"example\";s:4:\"JSON\";s:11:\"description\";s:11:\"Query value\";}}s:8:\"required\";a:2:{i:0;s:2:\"QP\";i:1;s:2:\"QV\";}}s:6:\"echo01\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:15:\"Map
  Data Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:6:\"Object\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"LAT\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:8:\"Latitude\";s:7:\"example\";s:9:\"38.798026\";s:11:\"description\";s:63:\"The
  latitude of the facility in degrees, to four decimal places\";}s:3:\"LON\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Longitude\";s:7:\"example\";s:10:\"-77.062981\";s:11:\"description\";s:64:\"The
  longitude of the facility in degrees, to four decimal places\";}s:4:\"ICON\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:4:\"Icon\";s:7:\"example\";s:15:\"CAA-IC-MN-N.png\";s:11:\"description\";s:53:\"Name
  of each individual icon file within the URL base\";}s:4:\"TYPE\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:4:\"Type\";s:7:\"example\";s:8:\"Facility\";s:11:\"description\";s:32:\"For
  DFR, this is always facility\";}s:4:\"NAME\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:4:\"Name\";s:7:\"example\";s:34:\"VIRGINIA
  CONCRETE ALEXANDRIA PLANT\";s:11:\"description\";s:74:\"For DFR, this is the Facility
  name. The name corresponds to the TYPE value\";}s:3:\"PUV\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Popup
  Value\";s:7:\"example\";s:12:\"110001891506\";s:11:\"description\";s:74:\"Pop up
  value. Combine with PopUpBaseURL to give the popup for the facility\";}s:10:\"SDWAstatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"SDWA
  3-Year Compliance Status\";s:7:\"example\";s:12:\"________VVSS\";s:11:\"description\";s:339:\"The
  system's 3-year compliance status history by quarter (3-month period) entered in
  the SDWA program database. Each character represents a quarter of compliance, going
  from oldest to most recent. Character values correspond to the following compliance
  statuses:\n_ -\_No Violation\nV -\_Violation\nS -\_Significant Violation\nU - Undetermined\";}s:10:\"RCRAstatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"RCRA
  3-Year Compliance Status\";s:7:\"example\";s:12:\"________VVSS\";s:11:\"description\";s:345:\"The
  facility's 3-year compliance status history by quarter (3-month period) entered
  in the RCRAInfo program database. Each character represents a quarter of compliance,
  going from oldest to most recent. Character values correspond to the following compliance
  statuses:\n_ -\_No Violation\nV -\_Violation\nS -\_Significant Violation\nU - Undetermined\";}s:9:\"CWAstatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"VV_______V_VV\";s:11:\"description\";s:135:\"Quarterly
  compliance status for the most recent 13 quarters. Each letter indicates the compliance
  status for the corresponding quarter.\";}s:9:\"CAAstatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"3-Year
  Compliance Status History\";s:7:\"example\";s:12:\"______UUUUUU\";s:11:\"description\";s:328:\"The
  facility's 3-year compliance status history by quarter (3-month period). Each character
  represents a quarter of compliance, going from oldest to most recent. Character
  values correspond to the following compliance statuses:\n_ -\_No Violation Identified\nV
  -\_Violation Identified\nS -\_High Priority Violation\nU - Undetermined\";}s:8:\"LastInsp\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Last
  Inspection\";s:7:\"example\";s:3:\"901\";s:11:\"description\";s:45:\"The unique
  identifier for the last inspection\";}s:11:\"FormalCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"Formal
  Count\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:82:\"The number of formal
  enforcement actions that have been taken against the facility\";}s:13:\"InformalCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Informal
  Count\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:84:\"The number of informal
  enforcement actions that have been taken against the facility\";}}s:8:\"required\";a:13:{i:0;s:3:\"LAT\";i:1;s:3:\"LON\";i:2;s:4:\"ICON\";i:3;s:4:\"TYPE\";i:4;s:4:\"NAME\";i:5;s:3:\"PUV\";i:6;s:10:\"SDWAstatus\";i:7;s:10:\"RCRAstatus\";i:8;s:9:\"CWAstatus\";i:9;s:9:\"CAAstatus\";i:10;s:8:\"LastInsp\";i:11;s:11:\"FormalCount\";i:12;s:13:\"InformalCount\";}}s:6:\"echo02\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"Map
  Output Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"QueryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Query
  Identifier\";s:7:\"example\";s:3:\"245\";s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";}s:11:\"IconBaseURL\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Icon
  Base URL\";s:7:\"example\";s:35:\"https://echo.epa.gov/app/map/icons/\";s:11:\"description\";s:35:\"URL
  where all the icons are located\";}s:12:\"PopUpBaseURL\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Popup
  Base URL\";s:7:\"example\";s:58:\"https://ofmpub.epa.gov/echo/cwa_rest_services.pop_up?p_id=\";s:11:\"description\";s:47:\"Combine
  this URL with the PUC to get popup info\";}s:7:\"MapData\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:8:\"Map
  Data\";s:11:\"description\";s:44:\"An array of facility geospatial information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/echo01\";}s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"MapData\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:4:{i:0;s:7:\"QueryID\";i:1;s:11:\"IconBaseURL\";i:2;s:12:\"PopUpBaseURL\";i:3;s:7:\"MapData\";}}s:6:\"echo03\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"Facilities
  Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Facility\";}s:10:\"properties\";O:8:\"stdClass\":192:{s:7:\"FacName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Facility
  Name\";s:7:\"example\";s:27:\"W M A T A CENTRAL MAINT FAC\";s:11:\"description\";s:16:\"Name
  of facility\";}s:9:\"FacStreet\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"Facility
  Street Address\";s:7:\"example\";s:22:\"3101 EISENHOWER AVENUE\";s:11:\"description\";s:363:\"Street
  address where facility is located, as maintained by each data system. Certain data
  systems also maintain mailing address information, which is not used in this report.
  The street address may differ across EPA databases due to differences in reported
  information (e.g., use of mailing address), change in ownership, use of parent or
  subsidiary address, etc.\";}s:7:\"FacCity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Facility
  City\";s:7:\"example\";s:10:\"ALEXANDRIA\";s:11:\"description\";s:39:\"The city
  where the facility is located.\";}s:8:\"FacState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Facility
  State\";s:7:\"example\";s:2:\"VA\";s:11:\"description\";s:14:\"Facility state\";}s:6:\"FacZip\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Facility
  Zip Code\";s:7:\"example\";s:5:\"22314\";s:11:\"description\";s:17:\"Facility ZIP
  code\";}s:10:\"RegistryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:6:\"FRS
  ID\";s:7:\"example\";s:12:\"110020837601\";s:11:\"description\";s:144:\"An internal
  12-digit Facility Registry Service (FRS) tracking number used to tie all facility
  data together in EPA regulatory program databases.\";}s:9:\"FacCounty\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Facility
  County\";s:7:\"example\";s:15:\"ALEXANDRIA CITY\";s:11:\"description\";s:41:\"The
  county where the facility is located.\";}s:12:\"FacEPARegion\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Facility
  EPA Region\";s:7:\"example\";s:2:\"03\";s:11:\"description\";s:133:\"The EPA region
  where the facility is located. EPA has 10 regional offices that execute programs
  within several states and territories\";}s:13:\"FacFederalFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"Federal
  Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:59:\"Indicates whether the
  facility is part of a federal agency.\";}s:20:\"FacFederalAgencyName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Federal
  Agency Name\";s:7:\"example\";s:3:\"EPA\";s:11:\"description\";s:150:\"Indicates
  the name of the federal agency, as classified in FRS. Federal agencies are installations
  that are owned and operated by the U.S. government.\";}s:17:\"FacIndianCntryFlg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:28:\"Facility
  Indian Country Flag\";s:11:\"description\";s:67:\"Flag showing Y/N whether the facility
  is located in Indian Country.\";}s:19:\"FacIndianSpatialFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Indian
  Spatial Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:355:\"Returns \u201CY\u201D
  if a facility is located within a tribal spatial boundary as defined by the U.S.
  Census Bureau 2010 tribal boundary layer data for tribes in the lower 48 states
  and Bureau of Land Management Alaska State Office data for native villages in Alaska.
  Returns \u201CN\u201D if a facility is not located within a tribal or native Alaskan
  village area.\";}s:16:\"FacDerivedTRIbes\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"FRS
  Spatially Derived Tribe\";s:7:\"example\";s:15:\"Cherokee Nation\";s:11:\"description\";s:84:\"The
  tribes or tribal territories located within 25 miles of the facility's location.\";}s:11:\"FacSICCodes\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"SIC
  Codes\";s:7:\"example\";s:3:\"811\";s:11:\"description\";s:154:\"Indicates the facility\u2019s
  or permit's primary Standard Industrial Classification (SIC) Code. The SIC code
  describes the primary activity of the facility.\";}s:13:\"FacNAICSCodes\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Facility
  NAICS Codes\";s:7:\"example\";s:9:\"8111 8134\";s:11:\"description\";s:75:\"The
  facility's North American Industry Classification System (NAICS) Codes.\";}s:6:\"FacLat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:8:\"Latitude\";s:7:\"example\";s:9:\"38.803076\";s:11:\"description\";s:267:\"The
  latitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";}s:7:\"FacLong\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Longitude\";s:7:\"example\";s:10:\"-77.085951\";s:11:\"description\";s:268:\"The
  longitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";}s:6:\"AIRIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"AIR
  Facility System ID\";s:7:\"example\";s:18:\"DC0000001100195254\";s:11:\"description\";s:29:\"Air
  Facility System (AFS) ID.\";}s:7:\"CamdIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:38:\"Clean
  Air Markets Division Identifiers\";s:11:\"description\";s:65:\"Facility identifiers
  for the Clean Air Markets Division database.\";}s:8:\"NPDESIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"ICS-NPDES
  Clean Water Act Identifier\";s:11:\"description\";s:131:\"Clean Water Act ID from
  the ICIS-NPDES (Integrated Compliance Information System - National Pollutant Discharge
  Elimination System)\";}s:7:\"RCRAIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"Resource
  Conservation and Recovery Act IDs\";s:7:\"example\";s:12:\"VAD981111784\";s:11:\"description\";s:100:\"A
  unique 12-character ID assigned for each record/permit/site/facility within the
  RCRAInfo database.\";}s:6:\"RmpIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"RMP
  IDs\";s:7:\"example\";s:6:\"110000\";s:11:\"description\";s:115:\"A unique ID assigned
  to each facility submitting a Risk Management Plan to EPA under the Risk Management
  Plan Rule.\";}s:7:\"SemsIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"SDWAIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"DC0000001\";s:11:\"description\";s:120:\"A
  unique 9-character ID assigned for each public water system within the Safe Drinking
  Water Information System (SDWIS).\";}s:6:\"TRIIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"Toxics
  Release Inventory Program IDs\";s:7:\"example\";s:15:\"20011FRTTT5001F\";s:11:\"description\";s:281:\"A
  unique 15-character ID assigned for each facility within the Toxics Release Inventory
  (TRI) program. The format is ZZZZZNNNNNSSSSS, where ZZZZZ = ZIP code, NNNNN = the
  first 5 consonants of the name, and SSSSS = the first 5 non-blank non-special characters
  in the street address.\";}s:6:\"EisIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"EIS
  IDs\";s:7:\"example\";s:8:\"12620001\";s:11:\"description\";s:96:\"A unique ID assigned
  for each facility within EPA\u2019s Emissions Inventory System (EIS) Database.\";}s:6:\"GHGIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"GHG
  IDs\";s:7:\"example\";s:6:\"110000\";s:11:\"description\";s:115:\"A unique ID assigned
  for each facility within EPA\u2019s Greenhouse Gas Reporting Program (GHGRP) Emissions
  Data Sets.\";}s:7:\"TscaIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:31:\"Toxic
  Substances Control Act ID\";s:11:\"description\";s:54:\"Toxic Substances Control
  Act ID assigned to a facility\";}s:14:\"CAAPermitTypes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Minor
  Emissions\";s:11:\"description\";s:131:\"ICIS AIR Permit Types associated with the
  FRS Facility:\n- Major\n- Federally Reportable Minor\n- Other Minor\n- Synthetic
  Minor\n- NULL\";}s:14:\"CWAPermitTypes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:28:\"Clean
  Water Act Permit Types\";s:11:\"description\";s:68:\"Indicates the facility's permit
  type or designation.\n- Major\n- Minor\";}s:15:\"RCRAPermitTypes\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"Resource
  Conservation and Recovery Act Permit Types\";s:7:\"example\";s:3:\"LQG\";s:11:\"description\";s:232:\"RCRA
  Facility Types include:\n- TSDF = Treatment, Storage and Disposal facility\n- LQG
  = Large Quantity Generator\n- SQG = Small Quantity Generator\n- CESQG = Conditionally-Exempt
  Small Quantity Generator\n- Operating TSDF\n- Transporters\";}s:15:\"SDWASystemTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"SDWIS
  System Types\";}s:9:\"FacSNCFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Facility
  SNC Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:356:\"The Significant
  Non-compliance (SNC) status for the facility during the most recent quarter reflects
  the time the records were extracted from the program data systems. \"Y\" indicates
  the facility is in SNC for the permit or site in question and may pose a more severe
  level of environmental threat. \"N\" indicates the permit or site is not considered
  in SNC.\";}s:13:\"FacQtrsWithNC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"Facility
  Quarters with Violation\";s:7:\"example\";s:1:\"8\";s:11:\"description\";s:106:\"The
  number of quarters, out of the last twelve quarters, in which the facility is considered
  in violation.\";}s:19:\"FacComplianceStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"Facility
  Compliance Status\";s:7:\"example\";s:12:\"No Violation\";s:11:\"description\";s:364:\"An
  indication of the facility's known overall compliance status. Status codes include:\nSNC/Serious
  Viol [significant noncompliance (SNC), high priority violation (HPV), or serious
  violator, depending on statute]\nIn Violation (in violation of an environmental
  regulation)\nNo Violation (no violations recorded in the national systems of record)\nNot
  Available\nUnknown\";}s:19:\"CAAComplianceStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"CAA
  Compliance Status\";s:7:\"example\";s:20:\"Violation Identified\";s:11:\"description\";s:777:\"An
  indication of the facility's compliance status under the Clean Air Act. When a source
  has a high priority violation (HPV), the specific type of HPV will be displayed.
  If more than one type applies to a source, this order of priority is used to determine
  which type appears:\nViolation Unaddressed, EPA has Lead Enforcement\nViolation
  Unaddressed, State has Lead Enforcement\nViolation Unaddressed, Local has Lead Enforcement\nViolation
  Addressed, EPA has Lead Enforcement\nViolation Addressed, State has Lead Enforcement\nViolation
  Addressed, Local has Lead Enforcement\nWhen there is no Federally-Reportable Violation
  determination date in the past year and no open High Priority Violation in the most
  recent quarter in the data system of record, \u201CNot Available\u201D is displayed.\";}s:19:\"CWAComplianceStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"CWA
  Compliance Status\";s:7:\"example\";s:12:\"No Violation\";s:11:\"description\";s:686:\"An
  indication of the facility's compliance status under the Clean Water Act. When a
  major source is in significant noncompliance (SNC) or a non-major source has a Category
  I violation, the specific type of SNC/Category I will be displayed. If more than
  one type applies to a facility, this order of priority is used to determine which
  code appears:\nS(CSchVio) - an enforcement action has been issued, and the facility
  is not meeting its compliance schedule\nE(EffViol) - effluent violations of monthly
  average limits\nX(EffNMth) - effluent violations of non-monthly average limits\nT(CSchRpt)
  - compliance schedule reporting violation\nD(DMR NR) - non-receipt of discharge
  monitoring report\";}s:20:\"RCRAComplianceStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"RCRA
  Compliance Status\";s:7:\"example\";s:12:\"No Violation\";s:11:\"description\";s:181:\"An
  indication of the facility's compliance status under the Resource Conservation and
  Recovery Act (Significant Violation = Significant Noncomplier, Noncompliance, or
  No Violation).\";}s:20:\"SDWAComplianceStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"SDWA
  Compliance Status\";s:7:\"example\";s:12:\"No Violation\";s:11:\"description\";s:135:\"An
  indication of the facility's compliance status under the Safe Drinking Water Act
  (Serious Violator, Noncompliance, or No Violation).\";}s:18:\"FacInspectionCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Facility
  Inspection Count\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:379:\"The number
  of inspections/compliance evaluations that have occurred at the facility, under
  the AIR, CWA, and RCRA, within the last five years. The last 5 years will include
  data from the 20 most recently completed quarters, plus data from the current quarter
  up until the refresh date. This count only includes inspection types that are counted
  as inspections in official counts.\";}s:21:\"FacDaysLastInspection\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:35:\"Days
  Since Last Facility Inspection\";s:7:\"example\";s:4:\"1197\";s:11:\"description\";s:179:\"The
  number of days from the last ECHO refresh to the date on which the most recent inspection
  of the facility took place based on data recorded into AFS, ICIS-NPDES, or RCRA
  Info.\";}s:21:\"FacDateLastInspection\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"Date
  of Last Facility Inspection\";s:7:\"example\";s:10:\"12/18/2012\";s:11:\"description\";s:325:\"The
  date on which most recent inspection of the facility took place. For the Clean Air
  Act, the date on which a Full Inspection (FCE) was completed. This date may or may
  not correspond to an actual site visit. A series of partial on- or off-site inspections
  may have been conducted during the fiscal year as part of this FCE.\";}s:18:\"CAAEvaluationCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:126:\"The
  number of inspections/compliance evaluations under the Clean Air Act, occurring
  at the facility within the last five years\";}s:18:\"CWAInspectionCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"Clean
  Water Act Inspection Count\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:129:\"The
  number of inspections/compliance evaluations under the Clean Water Act, occurring
  at the facility within the last five years.\";}s:19:\"RCRAInspectionCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:55:\"Resource
  Conservation and Recovery Act Inspection Count\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:151:\"The
  number of inspections/compliance evaluations under the Resource Conservation and
  Recovery Act, occurring at the facility within the last five years\";}s:13:\"Over80CountUs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"EJ
  Indexes Above 80th Percentile\";s:7:\"example\";s:1:\"3\";s:11:\"description\";s:174:\"The
  number of primary EJSCREEN environmental justice (EJ) indexes exceeding the 80th
  or higher national percentile for the Census block group that the facility is located
  in.\";}s:18:\"PctilePctpre1960Us\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"14.6\";s:11:\"description\";s:88:\"The
  national percentile of the census block group for the EJSCREEN Lead paint indicator.\";}s:11:\"PctileDpmUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"99\";s:11:\"description\";s:103:\"The
  national percentile of the census block group for the EJSCREEN diesel particulate
  matter indicator.\";}s:14:\"PctileCancerUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"99\";s:11:\"description\";s:105:\"The
  national percentile of the census block group for the EJSCREEN NATA air toxics cancer
  risk indicator.\";}s:12:\"PctileRespUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"99\";s:11:\"description\";s:107:\"The
  national percentile of the census block group for the EJSCREEN NATA respiratory
  hazard index indicator.\";}s:20:\"PctileTrafficScoreUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"92\";s:11:\"description\";s:106:\"The
  national percentile of the census block group for the EJSCREEN Traffic proximity
  and volume indicator.\";}s:22:\"PctileProximityNPDESUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"23.7\";s:11:\"description\";s:121:\"The
  national percentile of the census block group for the EJSCREEN proximity to major
  direct water dischargers indicator.\";}s:20:\"PctileProximityNplUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"96\";s:11:\"description\";s:127:\"The
  national percentile of the census block group for the EJSCREEN proximity to National
  Priorities List (NPL) sites indicator.\";}s:20:\"PctileProximityRmpUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"91\";s:11:\"description\";s:123:\"The
  national percentile of the census block group for the EJSCREEN proximity to Risk
  Management Plan (RMP) sites indicator.\";}s:21:\"PctileProximityTsdfUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"82\";s:11:\"description\";s:140:\"The
  national percentile of the census block group for the EJSCREEN proximity to Treatment
  Storage and Disposal Facilities (TSDFs) indicator.\";}s:10:\"PctileO3Us\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"94\";s:11:\"description\";s:83:\"The
  national percentile of the census block group for the EJSCREEN ozone indicator.\";}s:10:\"PctilePmUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"93\";s:11:\"description\";s:96:\"The
  national percentile of the census block group for the EJSCREEN particulate matter
  indicator.\";}s:9:\"FacPopDen\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"Facility
  Population Density\";s:7:\"example\";s:7:\"6716.34\";s:11:\"description\";s:200:\"The
  number of persons per square mile in the area being profiled. This field is the
  ratio of total persons (displayed in the Total Persons field) to total land area
  (displayed in the Land Area field).\";}s:18:\"FacPercentMinority\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Facility
  Percent Minority\";s:7:\"example\";s:6:\"45.379\";s:11:\"description\";s:174:\"Percent
  Minority is the percentage of the population of the given area that is considered
  minority. Statistics are shown for the area within a 3-mile radius of each facility.\";}s:16:\"FacInformalCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Count
  of Informal Actions\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:141:\"Indicates
  the total number of informal enforcement actions/notices of violations (NOVs) taken
  against the facility within the last five years\";}s:16:\"CAAInformalCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:160:\"Indicates
  the number of informal enforcement actions/notices of violations (NOVs) taken against
  the facility within the last five years under the Clean Air Act.\";}s:16:\"CWAInformalCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"Clean
  Water Act Informal Action Count\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:162:\"Indicates
  the number of informal enforcement actions/notices of violations (NOVs) taken against
  the facility within the last five years under the Clean Water Act.\";}s:17:\"RCRAInformalCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"RCRA
  Informal Action Count\";s:7:\"example\";s:1:\"3\";s:11:\"description\";s:185:\"Indicates
  the number of informal enforcement actions/notices of violations (NOVs) taken against
  the facility within the last five years under the Resource Conservation and Recovery
  Act.\";}s:17:\"SDWAInformalCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:169:\"Indicates
  the number of informal enforcement actions/notices of violations (NOVs) taken against
  the facility within the last five years under the Safe Drinking Water Act\";}s:20:\"FacFormalActionCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"Count
  of Formal Actions\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:213:\"Indicates
  the total number of enforcement actions taken against the facility within the last
  five years. NA indicates that this measure is not applicable for facilities with
  no associated CAA, CWA, or RCRA permits\";}s:23:\"FacDateLastFormalAction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"Date
  of Last Formal Action\";s:7:\"example\";s:8:\"5/7/2009\";s:11:\"description\";s:101:\"Indicates
  the effective date of the most recent listed enforcement action taken against the
  facility.\";}s:20:\"CAAFormalActionCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:122:\"Indicates
  the number of enforcement actions taken against the facility within the last five
  years under the Clean Air Act.\";}s:20:\"CWAFormalActionCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:35:\"Clean
  Water Act Formal Action Count\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:124:\"Indicates
  the number of enforcement actions taken against the facility within the last five
  years under the Clean Water Act.\";}s:21:\"RCRAFormalActionCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"RCRA
  Formal Action Count\";s:7:\"example\";s:1:\"5\";s:11:\"description\";s:147:\"Indicates
  the number of enforcement actions taken against the facility within the last five
  years under the Resource Conservation and Recovery Act.\";}s:21:\"SDWAFormalActionCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"11\";s:11:\"description\";s:131:\"Indicates
  the number of enforcement actions taken against the facility within the last five
  years under the Safe Drinking Water Act\";}s:17:\"FacTotalPenalties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Total
  Penalties\";s:7:\"example\";s:4:\"$850\";s:11:\"description\";s:117:\"The total
  dollar amount of either assessed (or final) penalties taken against the facility
  within the last five years\";}s:15:\"FacPenaltyCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Penalty
  Count\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:103:\"The total number
  of penalties assessed (or final) taken against the facility within the last five
  years\";}s:18:\"FacDateLastPenalty\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Date
  of Last Penalty\";s:7:\"example\";s:9:\"2/19/2011\";s:11:\"description\";s:103:\"Indicates
  the date on which the most recent assessed (or final) penalty was taken against
  the facility.\";}s:17:\"FacLastPenaltyAmt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Last
  Penalty Amount\";s:7:\"example\";s:4:\"$200\";s:11:\"description\";s:102:\"Indicates
  the dollar amount of the most recent assessed (or final) penalty taken against the
  facility.\";}s:12:\"CAAPenalties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"The
  total dollar amount of assessed (or final) penalties taken against the facility
  within the last five years under the Clean Air Act.\";}s:12:\"CWAPenalties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Clean
  Water Act Penalties\";s:11:\"description\";s:137:\"The total dollar amount of assessed
  (or final) penalties taken against the facility within the last five years under
  the Clean Water Act.\";}s:13:\"RCRAPenalties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"RCRA
  Penalties\";s:7:\"example\";s:4:\"$987\";s:11:\"description\";s:153:\"The total
  dollar amount of assessed (or final) penalties taken against the facility within
  the last five years, entered in the RCRAInfo program database.\";}s:14:\"GHGCO2Releases\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"Greenhouse
  Gas Reporting CO2 Releases\";s:11:\"description\";s:110:\"The sum of total release
  amounts of all linked Greenhouse Gas IDs reported as \"metric tons of CO2 equivalents\"\";}s:20:\"TRIReleasesTransfers\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"TRI
  Release Transfers\";s:7:\"example\";s:6:\"170878\";s:11:\"description\";s:136:\"Total
  chemical releases, in pounds, as reported to the Toxics Release Inventory (TRI)
  by the facility for the most recent reporting year\";}s:16:\"FacDerivedWBDHu8\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"WBD
  Hydrologic Unit Code (FRS)\";s:7:\"example\";s:7:\"2070003\";s:11:\"description\";s:76:\"Spatially
  derived HUC based on the facility's geographic coordinates in FRS.\";}s:20:\"FacDerivedWBDHu8Name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:38:\"WBD
  Hydrologic Unit Name (FRS Derived)\";s:7:\"example\";s:12:\"Cacapon-Town\";s:11:\"description\";s:145:\"The
  name of the hydrologic unit in which the facility is located within, derived spatially
  based on the facility's geographic coordinates in FRS.\";}s:19:\"FacDerivedRadWBDHu8\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Derived
  RAD WBD HUC-8\";s:7:\"example\";s:7:\"4120104\";s:11:\"description\";s:169:\"The
  8-digit Watershed Hydrologic Unit Code (HUC) derived from Reach Indexing the facility's
  spatial coordinate against the 12 digit Watershed Boundary Dataset from USGS.\";}s:23:\"FacDerivedRadWBDHu8Name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"Derived
  RAD WBD HUC-8 Name\";s:7:\"example\";s:6:\"Niagra\";s:11:\"description\";s:147:\"The
  8 digit watershed name derived from Reach Indexing the facility's spatial coordinate
  against the 12 digit Watershed Boundary Dataset from USGS.\";}s:12:\"FacMajorFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Facility
  Major Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:89:\"Indicates whether
  the facility is designated as a \u201Cmajor\u201D (usually a large facility).\";}s:25:\"FacDateLastInformalAction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:28:\"Date
  of Last Informal Action\";s:7:\"example\";s:8:\"8/6/2008\";s:11:\"description\";s:105:\"The
  date of the most recent informal action or NOV taken recorded in AFS, ICIS-NPDES,
  RCRA Info or SDWIS.\";}s:23:\"Fac3yrComplianceHistory\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"Facility
  3-Year Compliance History\";s:7:\"example\";s:12:\"________VVSS\";s:11:\"description\";s:302:\"The
  system's 3-year compliance status history by quarter (3-month period). Each character
  represents a quarter of compliance, going from oldest to most recent. Character
  values correspond to the following compliance statuses:\n_ -\_No Violation\nV -\_Violation\nS
  -\_Significant Violation\nU - Undetermined\";}s:22:\"CAA3yrComplQtrsHistory\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"CAA
  3-Year Compliance History\";s:7:\"example\";s:12:\"________VVSS\";s:11:\"description\";s:364:\"The
  facility's 3-year compliance status history by quarter (3-month period) entered
  in the CAA program database. Each character represents a quarter of compliance,
  going from oldest to most recent. Character values correspond to the following compliance
  statuses:\n_ -\_No Violation Identified\nV -\_Violation Identified\nS -\_High Priority
  Violation\nU - Undetermined\";}s:21:\"CWA13qtrsComplHistory\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"CWA
  3-Year Compliance History\";s:7:\"example\";s:12:\"________VVSS\";s:11:\"description\";s:340:\"The
  facility's 3-year compliance status history by quarter (3-month period) entered
  in the CWA program database. Each character represents a quarter of compliance,
  going from oldest to most recent. Character values correspond to the following compliance
  statuses:\n_ -\_No Violation\nV -\_Violation\nS -\_Significant Violation\nU - Undetermined\";}s:23:\"RCRA3yrComplQtrsHistory\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"RCRA
  3-Year Compliance History\";s:7:\"example\";s:12:\"________VVSS\";s:11:\"description\";s:339:\"The
  system's 3-year compliance status history by quarter (3-month period) entered in
  the RCRA program database. Each character represents a quarter of compliance, going
  from oldest to most recent. Character values correspond to the following compliance
  statuses:\n_ -\_No Violation\nV -\_Violation\nS -\_Significant Violation\nU - Undetermined\";}s:23:\"SDWA3yrComplQtrsHistory\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"SDWA
  3-Year Compliance History\";s:7:\"example\";s:12:\"____SS__VVUU\";s:11:\"description\";s:318:\"The
  system's 3-year compliance status history by quarter (3-month period). Each character
  represents a quarter of compliance, going from oldest to most recent. Character
  values correspond to the following compliance statuses:\n_ - No Violation Identified\nV
  - Noncompliance\nS - Significant Noncompliance\nU - Undetermined\";}s:10:\"FecCaseIDs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"All
  Case Numbers of Federal Enforcement Cases relating to the Facility from the ICIS
  System\";}s:11:\"FacFIPSCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"FIPS
  Code\";s:7:\"example\";s:5:\"55001\";s:11:\"description\";s:118:\"The 2-digit Federal
  Information Processing Standards (FIPS) code to identify the county that a facility
  is located in.\";}s:17:\"FacUsMexBorderFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Near
  US-Mexico Border\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:80:\"A Y/N flag
  indicating that the facility is within 100KM of the US-Mexico Border.\";}s:19:\"FacChesapeakeBayFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:41:\"Facility
  in Chesapeake Bay Watershed Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:113:\"Indicates
  whether the facility, based on the facility spatial coordinate, is within the Chesapeake
  Bay watershed.\";}s:10:\"FacNaaFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:8:\"NAA
  Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:282:\"Indicates whether
  the facility is located in a nonattainment area of the country, where air pollution
  levels persistently exceed the national ambient air quality standards. This flag
  does not indicate whether or not the facility has violated national ambient area
  quality standards.\";}s:10:\"FacMapIcon\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Facility
  Map Icon\";s:7:\"example\";s:15:\"CWA-NC-MJ-2.png\";s:11:\"description\";s:80:\"The
  default map icon image file calculated for the facility by the ECHO program.\";}s:19:\"FacCollectionMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:35:\"Facility
  Location Collection Method\";s:7:\"example\";s:14:\"State Centroid\";s:11:\"description\";s:130:\"Indicates
  the collection method used (GPS, Photo Interpolation, Address Geocode, etc) to determine
  a facility's spatial coodinate.\";}s:17:\"FacReferencePoint\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Facility
  Reference Point\";s:7:\"example\";s:31:\"CENTER OF A FACILITY OR STATION\";s:11:\"description\";s:67:\"A
  description of the location for the provided facility coordinate.\";}s:17:\"FacAccuracyMeters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"Facility
  Location Accuracy in Meters\";s:7:\"example\";s:5:\"35900\";s:11:\"description\";s:140:\"The
  estimate of accuracy, in meters, based on provided spatial metadata and quality
  assurance routines for the provided facility coordinate.\";}s:13:\"FacDerivedHuc\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Watershed
  (HUC Code)\";s:7:\"example\";s:6:\"552968\";s:11:\"description\";s:183:\"The 8-digit
  Hydrologic Unit Code (HUC) of the watershed in which the facility resides. A HUC
  number is assigned to every watershed in the nation and uniquely identifies the
  watershed.\";}s:13:\"FacDerivedWBD\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"12-Digit
  WBD HUC\";s:7:\"example\";s:11:\"20700100204\";s:11:\"description\";s:120:\"The
  Hydrologic Unit Code (HUC-12) of the waterbody in which the facility resides, derived
  based on location data in FRS.\";}s:19:\"FacDerivedStctyFIPS\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"Facility
  Derived FIPS Code\";s:11:\"description\";s:136:\"The Federal Information Processing
  Standard (FIPS) code which uniquely identifies the state and county in which the
  facility is located.\";}s:13:\"FacDerivedZip\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Derived
  ZIP Code\";s:7:\"example\";s:5:\"22126\";s:11:\"description\";s:50:\"The ZIP Code
  derived from the facility coordinate.\";}s:15:\"FacDerivedCd113\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"Derived
  113th Congressional District\";s:7:\"example\";s:2:\"05\";s:11:\"description\";s:70:\"The
  113th Congressional District derived from the facility coordinate.\";}s:16:\"FacDerivedCb2010\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Derived
  2010 Census Block\";s:7:\"example\";s:15:\"450850003003069\";s:11:\"description\";s:59:\"The
  2010 Census Block derived from the facility coordinate.\";}s:13:\"FacActiveFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Facility
  Active Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:123:\"Indicates whether
  any of the associated ICIS-Air, ICIS-NPDES, RCRAInfo or SDWIS permits/facilities
  are in an active status.\";}s:16:\"FacMyrtkUniverse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"My
  Right-to-Know Universe\";s:7:\"example\";s:3:\"NNN\";s:11:\"description\";s:177:\"A
  3-digit combination of Y/N flags indicating if the facility is considered a Right-to-Know
  Network (RTKNet) CAA (position 1), NPDES (position 2), or RCRA facility (position
  3).\";}s:18:\"FacProgramsWithSNC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:44:\"Facility
  Programs with Significant Violation\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:108:\"The
  number of programs (CAA, CWA, SDWA, RCRA) related to the facility that have a current
  serious violation.\";}s:7:\"AIRFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Clean
  Air Act Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:64:\"Indicates whether
  the facility has a Clean Air Act (CAA) permit.\";}s:9:\"NPDESFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:10:\"NPDES
  Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:66:\"Indicates whether the
  facility has a Clean Water Act (CWA) permit.\";}s:9:\"SDWISFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:10:\"SDWIS
  Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:87:\"Indicates whether the
  facility has a Safe Drinking Water Information System (SDWIS) ID.\";}s:8:\"RCRAFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:43:\"Resource
  Recovery and Conservation Act Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:93:\"Indicates
  whether the facility has a Resource Conservation and Recovery Action (RCRA) permit.\";}s:7:\"TRIFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"Toxics
  Release Inventory Program Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:75:\"Indicates
  whether the facility has a Toxics Release Inventory (TRI) permit.\";}s:7:\"GHGFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Greenhouse
  Gas Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:65:\"Indicates whether
  the facility has a Greenhouse Gas (GHG) permit.\";}s:8:\"CAANAICS\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"CAA
  NAICS\";s:7:\"example\";s:4:\"8111\";s:11:\"description\";s:85:\"The CAA permit's
  primary North American Industry Classification System (NAICS) Codes.\";}s:7:\"CAASICs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"CAA
  SIC\";s:7:\"example\";s:4:\"5496\";s:11:\"description\";s:72:\"The CAA permit's
  primary Standard Industrial Classification (SIC) Codes.\";}s:21:\"CAADaysLastEvaluation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"CAA
  Days Since Last Evaluation\";s:7:\"example\";s:4:\"7051\";s:11:\"description\";s:78:\"The
  number of days since a CAA Full Compliance Evaluation (FCE) was completed.\";}s:23:\"CAADateLastFormalAction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"CWA
  Date of Last Formal Enforcement Action\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:102:\"The
  effective date of the most recent listed enforcement action entered into the CAA
  program database.\";}s:18:\"CAALastPenaltyDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"CWA
  Date of Last Penalty\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:84:\"The
  effective date of the most recent penalty entered into the CAA program database.\";}s:17:\"CAALastPenaltyAmt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"CWA
  Last Penalty Amount\";s:7:\"example\";s:6:\"$17014\";s:11:\"description\";s:76:\"The
  amount of the most recent penalty entered into the CAA program database.\";}s:13:\"CAAQtrsWithNC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"CAA
  Quarters with Violation\";s:7:\"example\";s:1:\"8\";s:11:\"description\";s:108:\"The
  number of quarters, out of the last twelve quarters, in which the CAA permit is
  considered in violation.\";}s:10:\"CAAHpvFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"CAA
  HPV Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:351:\"The High Priority
  Violator (HPV) status for the facility during the most recent quarter reflects the
  time the records were extracted from the program data system. \"Y\" indicates the
  facility is in HPV for the permit or site in question and may pose a more severe
  level of environmental threat. \"N\" indicates the permit or site is not considered
  in HPV.\";}s:21:\"CWAComplianceTracking\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"CWA
  Compliance Tracking\";s:7:\"example\";s:2:\"On\";s:11:\"description\";s:154:\"The
  Compliance Tracking classifications which can assist in interpreting the facility's
  compliance status, particularly for non-major standard permittees.\";}s:8:\"CWANAICS\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"CWA
  NAICS Code\";s:7:\"example\";s:4:\"8111\";s:11:\"description\";s:85:\"The CWA permit's
  primary North American Industry Classification System (NAICS) Codes.\";}s:7:\"CWASICs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"CWA
  SIC Code\";s:7:\"example\";s:4:\"4596\";s:11:\"description\";s:72:\"The CWA permit's
  primary Standard Industrial Classification (SIC) Codes.\";}s:21:\"CWADaysLastInspection\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"CWA
  Days Since Last Inspection\";s:7:\"example\";s:3:\"184\";s:11:\"description\";s:56:\"The
  number of days since a CWA inspection was completed.\";}s:23:\"CWADateLastFormalAction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"CWA
  Date of Last Formal Enforcement Action\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:102:\"The
  effective date of the most recent listed enforcement action entered into the CWA
  program database.\";}s:18:\"CWALastPenaltyDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"CWA
  Date of Last Penalty\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:84:\"The
  effective date of the most recent penalty entered into the CWA program database.\";}s:17:\"CWALastPenaltyAmt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"CWA
  Last Penalty Amount\";s:7:\"example\";s:6:\"1000.0\";s:11:\"description\";s:76:\"The
  amount of the most recent penalty entered into the CWA program database.\";}s:13:\"CWAQtrsWithNC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"CWA
  Quarters with Violation\";s:7:\"example\";s:1:\"8\";s:11:\"description\";s:108:\"The
  number of quarters, out of the last twelve quarters, in which the CWA permit is
  considered in violation.\";}s:10:\"CWASNCFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"CWA
  SNC Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:360:\"The CWA Significant
  Non-compliance (SNC) status for the facility during the most recent quarter reflects
  the time the records were extracted from the program data systems. \"Y\" indicates
  the facility is in SNC for the permit or site in question and may pose a more severe
  level of environmental threat. \"N\" indicates the permit or site is not considered
  in SNC.\";}s:26:\"CWA13qtrsEfflntExceedances\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:40:\"Effluent
  Exceedances in past 13 Quarters\";s:7:\"example\";s:2:\"15\";s:11:\"description\";s:74:\"The
  number of effluent violations at the facility in the past 13 quarters.\";}s:15:\"CWA3YrQncrCodes\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"3
  Year QNCR Codes\";s:7:\"example\";s:1:\"S\";s:11:\"description\";s:48:\"No longer
  used.  Will be deleted in nthe future.\";}s:9:\"RCRANAICS\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"RCRA
  NAICS Code\";s:7:\"example\";s:4:\"8111\";s:11:\"description\";s:85:\"The RCRA permit's
  primary North American Industry Classification System (NAICS) Code.\";}s:22:\"RCRADaysLastEvaluation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:31:\"RCRA
  Days Since Last Evaluation\";s:7:\"example\";s:4:\"6848\";s:11:\"description\";s:57:\"The
  number of days since a RCRA inspection was completed.\";}s:24:\"RCRADateLastFormalAction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:43:\"RCRA
  Date of Last Formal Enforcement Action\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:103:\"The
  effective date of the most recent listed enforcement action entered into the RCRA
  program database.\";}s:19:\"RCRALastPenaltyDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"RCRA
  Last Penalty Date\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:145:\"Indicates
  the date on which the most recent assessed (or final) penalty was taken against
  the facility, entered in the RCRAInfo program database.\";}s:18:\"RCRALastPenaltyAmt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"RCRA
  Last Penalty Amount\";s:7:\"example\";s:6:\"1000.0\";s:11:\"description\";s:77:\"The
  amount of the most recent penalty entered into the RCRA program database.\";}s:14:\"RCRAQtrsWithNC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:28:\"RCRA
  Quarters with Violation\";s:7:\"example\";s:1:\"8\";s:11:\"description\";s:109:\"The
  number of quarters, out of the last twelve quarters, in which the RCRA permit is
  considered in violation.\";}s:11:\"RCRASNCFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"RCRA
  SNC Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:361:\"The RCRA Significant
  Non-compliance (SNC) status for the facility during the most recent quarter reflects
  the time the records were extracted from the program data systems. \"Y\" indicates
  the facility is in SNC for the permit or site in question and may pose a more severe
  level of environmental threat. \"N\" indicates the permit or site is not considered
  in SNC.\";}s:11:\"SDWASNCFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"SDWA
  SNC Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:59:\"Indicates whether
  the Water System has a Serious Violation.\";}s:17:\"TRIOnSiteReleases\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:40:\"Toxics
  Release Inventory Onsite Releases\";s:7:\"example\";s:5:\"11987\";s:11:\"description\";s:120:\"Total
  pounds per year released for Air Emissions, Surface Water Discharges, Underground
  Injections and Releases to Land.\";}s:19:\"TRIOffSiteTransfers\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:47:\"Toxics
  Release Inventory Offsite Transfer Count\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:43:\"Total
  pounds per year transferred off-site.\";}s:17:\"TRIReporterInPast\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:46:\"Toxics
  Release Inventory Reporter In Past Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:49:\"A
  'Y' indicates a TRI Reporter from a prior year.\";}s:16:\"FecNumberOfCases\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"Number
  of Enforcement Cases\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:110:\"The
  total number of Federal Enforcement Cases in the last 5 years related to this Facility
  in the ICIS system.\";}s:15:\"FecLastCaseDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"Last
  Enforcement Case Date\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:92:\"The
  date of the latest Federal Enforcement Case related to this Facility in the ICIS
  system.\";}s:17:\"FecTotalPenalties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Total
  Penalties\";s:7:\"example\";s:6:\"$34400\";s:11:\"description\";s:96:\"The total
  Federal Enforcement Case penalties assessed against this facility in the last 5
  years.\";}s:6:\"DfrUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"DFR
  URL\";s:11:\"description\";s:51:\"The URL to the facility's Detailed Facility Report.\";}s:24:\"FacDateLastInspectionEPA\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Date
  Last EPA Inspection\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:43:\"The
  date of the facility's last inspection.\";}s:26:\"FacDateLastInspectionState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"Date
  Last Inspection by State\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:103:\"The
  date on which the most recent \"olfficial\"  inspection of the facility by a state
  agency took place.\";}s:23:\"FacDateLastFormalActEPA\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:39:\"Date
  Last EPA Formal Enforcement Action\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:108:\"Indicates
  the effective date of the most recent listed formal enforcement action taken against
  the facility.\";}s:22:\"FacDateLastFormalActSt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:44:\"Date
  Last Formal Enforcement Action by State\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:116:\"The
  effective date of the most recent listed formal enforcement action taken against
  the facility by a state agency.\";}s:25:\"FacDateLastInformalActEPA\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:41:\"Date
  Last EPA Informal Enforcement Action\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:110:\"Indicates
  the effective date of the most recent listed informal enforcement action taken against
  the facility.\";}s:24:\"FacDateLastInformalActSt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:46:\"Date
  Last Informal Enforcement Action by State\";s:7:\"example\";s:10:\"12/12/2016\";s:11:\"description\";s:118:\"The
  effective date of the most recent listed informal enforcement action taken against
  the facility by a state agency.\";}s:16:\"FacFederalAgency\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Federal
  Agency\";s:7:\"example\";s:5:\"D5700\";s:11:\"description\";s:35:\"The facility's
  federal agency code.\";}s:11:\"TRIReporter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:33:\"Toxics
  Release Inventory Reporter\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:120:\"Indicates
  whether or not the facility reported to the Toxics Release Inventory (TRI) for the
  most recent reporting year.\";}s:14:\"FacImpWaterFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Impaired
  Waters Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:153:\"Indicates whether
  or not the facility discharges directly into category 4 or 5 impaired water, as
  designated under section 303(d) of the Clean Water Act.\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:7:\"example\";s:9:\"ALR040033\";s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";}s:2:\"NC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Non-compliance\_Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:162:\"Indicates
  whether or not the permit or site is considered either in Non-compliance (NC), Significant
  Non-compliance (SNC) or High Priority violation (HPV) status.\";}s:9:\"FacMapFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Facility
  Mapped Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:96:\"Graphical indicator
  denoting whether geographical data required to map a facility are available.\";}s:10:\"HasPollRpt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:3:\"???\";}s:16:\"CensusBlockGroup\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Census
  Block Group\";s:7:\"example\";s:12:\"110010096022\";s:11:\"description\";s:117:\"A
  geographic unit used by the United States Census Bureau, generally defined to contain
  between 600 and 3,000 people.\";}s:11:\"MaxPctileUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"98\";s:11:\"description\";s:63:\"The
  maximum percentile from all individual EJSCREEN indicators.\";}s:14:\"EjscreenFlagUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"EJ
  Screen Flag (US)\";s:11:\"description\";s:96:\"A Y/N indicator identifying whether
  or not the facility is within an Environmental Justice area.\";}s:12:\"EjscreenFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"EJ
  Screen Flag\";s:11:\"description\";s:96:\"A Y/N indicator identifying whether or
  not the facility is within an Environmental Justice area.\";}s:10:\"TRIbalFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Tribal
  Lands Flag\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:60:\"A flag indicating
  that the facility is within a tribal area.\";}s:10:\"CurrSvFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"Current
  Significant Violation Flag\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:70:\"Indicates
  if the facility has a current significant violation. 1 = Yes\";}s:8:\"ViolFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Violation
  Flag\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:74:\"Indicates if the facility
  had a violation within the last 3 years. 1 = Yes\";}s:11:\"CurrVioFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"Current
  Violation Flag\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:58:\"Indicates
  if the facility has a current violation. 1 = Yes\";}s:11:\"Insp5yrFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"Inspected
  Within Last Five Years Flag\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:76:\"Indicates
[...]
