---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US
  EPA, OECA Integration, Targeting and Access Branch\";}s:11:\"description\";s:2295:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated
  compliance and enforcement information for about 800,000 regulated facilities nationwide.\n<BR><BR>CASE
  Rest Services provide multiple service endpoints, each with specific capabilities,
  to search and retrieve data on civil cases entered into the \nIntegrated Compliance
  Information System (ICIS) and criminal cases entered into the Summary of Criminal
  Prosecutions database.  \nSee Enforcement Case Search Help (https://echo.epa.gov/help/enforcement-case-search-help)
  for additional information on searching civil and criminal cases. \n<BR><BR>\nThe
  get_cases, get_map, get_qid, and get_download end points are meant to be used together.<br>
  \ \nThe recommended use scenario for get_cases, get_qid, get_map, and get_downoad
  is:\n<br>\n<br><b>1)</b>  Use get_cases to validate passed query parameters, obtain
  summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and
  will be valid for approximately 30 minutes.\n<br><b>2)</b>  Use get_qid, with the
  returned QID, to paginate through arrays of case results.\n<br><b>3)</b>  Use get_map,
  with the returned QID, to zoom in/out and pan on the clustered and individual facility
  coordinates, related to the returned cases, that meet the QID query criteria.\n<br><b>4)</b>
  \ Use get_download, with the returned QID, to generate a Comma Separated Value (CSV)
  file of facility information that meets the QID query criteria.\n<br><br>\nIn addition
  to the service endpoints listed above there are two detailed case report services,
  one for civil cases (get_case_report) and one for criminal cases (get_crcase_report).
  \nSee the Civil Enforcement Case Report Help (https://echo.epa.gov/help/reports/enforcement-case-report-help)
  and the Criminal Case Report Help (https://echo.epa.gov/help/reports/criminal-case-report-help)
  for additional information \non then data returned from these two services.   \n<br>\nAdditional
  ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>,
  <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's
  Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n<br>\n\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:5:\"title\";s:83:\"U.S.
  EPA Enforcement and Compliance History Online (ECHO) - Enforcement Case Search\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:63:\"https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=CASE\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"epa.gov\";s:13:\"x-serviceName\";s:4:\"case\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"epa_gov_case\";s:4:\"type\";s:7:\"openapi\";}}"
host: ofmpub.epa.gov
basePath: /echo
paths:
  /case_rest_services.get_case_report:
    get:
      description: The get_case_report service endpoint returns a complex object of
        civil enforcement case details based on the provided case id.
      parameters:
      - description: Case Number. Enter the case number identifier to retrieve the
          case report.
        in: query
        name: p_id
        required: false
        type: string
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Returns a complex object containing detailed case information
            for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs1_Results'
            required:
            - Results
            type: object
      summary: Enforcement Case Summary Report Search
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_case_report.get
    post:
      description: The get_case_report service endpoint returns a complex object of
        civil enforcement case details based on the provided case id.
      parameters:
      - description: Case Number. Enter the case number identifier to retrieve the
          case report.
        in: query
        name: p_id
        required: false
        type: string
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Returns a complex object containing detailed case information
            for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs1_Results'
            required:
            - Results
            type: object
      summary: Enforcement Case Summary Report Search
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_case_report.post
  /case_rest_services.get_cases:
    get:
      description: The get_cases service end point searches for civil enforcement
        and criminal cases based on the provided selection criteria.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_case_category'
      - $ref: '#/parameters/p_case_status'
      - $ref: '#/parameters/p_milestone'
      - $ref: '#/parameters/p_from_date'
      - $ref: '#/parameters/p_to_date'
      - $ref: '#/parameters/p_milestone_fy'
      - $ref: '#/parameters/p_name'
      - $ref: '#/parameters/p_name_type'
      - $ref: '#/parameters/p_case_number'
      - $ref: '#/parameters/p_docket_number'
      - $ref: '#/parameters/p_activity_number'
      - $ref: '#/parameters/p_case_lead'
      - $ref: '#/parameters/p_case_sens_flg'
      - $ref: '#/parameters/p_region'
      - $ref: '#/parameters/p_state'
      - $ref: '#/parameters/p_district'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_sic_ao_naics'
      - $ref: '#/parameters/p_sic_primary_flg'
      - $ref: '#/parameters/p_sic_frs_flg'
      - $ref: '#/parameters/p_naics'
      - $ref: '#/parameters/p_naics_primary_flg'
      - $ref: '#/parameters/p_naics_frs_flg'
      - $ref: '#/parameters/p_enf_type'
      - $ref: '#/parameters/p_law'
      - $ref: '#/parameters/p_section'
      - $ref: '#/parameters/p_cp_citation'
      - $ref: '#/parameters/p_rank_order'
      - $ref: '#/parameters/p_enf_program'
      - $ref: '#/parameters/p_violation'
      - $ref: '#/parameters/p_priority_area'
      - $ref: '#/parameters/p_priority_area_desc'
      - $ref: '#/parameters/p_tribal'
      - $ref: '#/parameters/p_oeca_core'
      - $ref: '#/parameters/p_multimedia'
      - $ref: '#/parameters/p_fed_case'
      - $ref: '#/parameters/p_activity_contact'
      - $ref: '#/parameters/p_role'
      - $ref: '#/parameters/p_fed_penalty'
      - $ref: '#/parameters/p_total_fed_penalty'
      - $ref: '#/parameters/p_cost_recovery'
      - $ref: '#/parameters/p_total_cost_recovery'
      - $ref: '#/parameters/p_complying_actions'
      - $ref: '#/parameters/p_comp_act_val'
      - $ref: '#/parameters/p_total_comp_act_val'
      - $ref: '#/parameters/p_sep_cats'
      - $ref: '#/parameters/p_sep_val'
      - $ref: '#/parameters/p_total_sep_val'
      - $ref: '#/parameters/p_lodged_date'
      - $ref: '#/parameters/p_entered_date'
      - $ref: '#/parameters/p_facility_id'
      - $ref: '#/parameters/p_fac_city'
      - $ref: '#/parameters/p_fac_zip'
      - $ref: '#/parameters/p_fac_county'
      - $ref: '#/parameters/p_case_summary'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_c1lat'
      - $ref: '#/parameters/p_c1lon'
      - $ref: '#/parameters/p_c2lat'
      - $ref: '#/parameters/p_c2lon'
      - $ref: '#/parameters/p_voluntary'
      - $ref: '#/parameters/p_fed_indicator'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_civil_criminal_indicator'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/maplist'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Returns an array of cases that meet the selection criteria.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs2_Results'
            required:
            - Results
            type: object
      summary: Enforcement Case Search
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_cases.get
    post:
      description: The get_cases service end point searches for civil enforcement
        and criminal cases based on the provided selection criteria.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_case_category'
      - $ref: '#/parameters/p_case_status'
      - $ref: '#/parameters/p_milestone'
      - $ref: '#/parameters/p_from_date'
      - $ref: '#/parameters/p_to_date'
      - $ref: '#/parameters/p_milestone_fy'
      - $ref: '#/parameters/p_name'
      - $ref: '#/parameters/p_name_type'
      - $ref: '#/parameters/p_case_number'
      - $ref: '#/parameters/p_docket_number'
      - $ref: '#/parameters/p_activity_number'
      - $ref: '#/parameters/p_case_lead'
      - $ref: '#/parameters/p_case_sens_flg'
      - $ref: '#/parameters/p_region'
      - $ref: '#/parameters/p_state'
      - $ref: '#/parameters/p_district'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_sic_ao_naics'
      - $ref: '#/parameters/p_sic_primary_flg'
      - $ref: '#/parameters/p_sic_frs_flg'
      - $ref: '#/parameters/p_naics'
      - $ref: '#/parameters/p_naics_primary_flg'
      - $ref: '#/parameters/p_naics_frs_flg'
      - $ref: '#/parameters/p_enf_type'
      - $ref: '#/parameters/p_law'
      - $ref: '#/parameters/p_section'
      - $ref: '#/parameters/p_cp_citation'
      - $ref: '#/parameters/p_rank_order'
      - $ref: '#/parameters/p_enf_program'
      - $ref: '#/parameters/p_violation'
      - $ref: '#/parameters/p_priority_area'
      - $ref: '#/parameters/p_priority_area_desc'
      - $ref: '#/parameters/p_tribal'
      - $ref: '#/parameters/p_oeca_core'
      - $ref: '#/parameters/p_multimedia'
      - $ref: '#/parameters/p_fed_case'
      - $ref: '#/parameters/p_activity_contact'
      - $ref: '#/parameters/p_role'
      - $ref: '#/parameters/p_fed_penalty'
      - $ref: '#/parameters/p_total_fed_penalty'
      - $ref: '#/parameters/p_cost_recovery'
      - $ref: '#/parameters/p_total_cost_recovery'
      - $ref: '#/parameters/p_complying_actions'
      - $ref: '#/parameters/p_comp_act_val'
      - $ref: '#/parameters/p_total_comp_act_val'
      - $ref: '#/parameters/p_sep_cats'
      - $ref: '#/parameters/p_sep_val'
      - $ref: '#/parameters/p_total_sep_val'
      - $ref: '#/parameters/p_lodged_date'
      - $ref: '#/parameters/p_entered_date'
      - $ref: '#/parameters/p_facility_id'
      - $ref: '#/parameters/p_fac_city'
      - $ref: '#/parameters/p_fac_zip'
      - $ref: '#/parameters/p_fac_county'
      - $ref: '#/parameters/p_case_summary'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_c1lat'
      - $ref: '#/parameters/p_c1lon'
      - $ref: '#/parameters/p_c2lat'
      - $ref: '#/parameters/p_c2lon'
      - $ref: '#/parameters/p_voluntary'
      - $ref: '#/parameters/p_fed_indicator'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_civil_criminal_indicator'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/maplist'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Returns an array of cases that meet the selection criteria.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs2_Results'
            required:
            - Results
            type: object
      summary: Enforcement Case Search
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_cases.post
  /case_rest_services.get_crcase_report:
    get:
      description: The get_crcase_report service end point returns a complex object
        of criminal case detials based on the provided criminal case id.
      parameters:
      - description: Prosecution Summary Identifier. Enter the numeric prosecution
          summary identifier to retrieve the criminal case report.
        in: query
        name: p_id
        required: false
        type: string
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Returns a complex object containing detailed criminal case
            information for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs3_Results'
            required:
            - Results
            type: object
      summary: Enforcement Criminal Case Summary Report Search
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_crcase_report.get
    post:
      description: The get_crcase_report service end point returns a complex object
        of criminal case detials based on the provided criminal case id.
      parameters:
      - description: Prosecution Summary Identifier. Enter the numeric prosecution
          summary identifier to retrieve the criminal case report.
        in: query
        name: p_id
        required: false
        type: string
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Returns a complex object containing detailed criminal case
            information for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs3_Results'
            required:
            - Results
            type: object
      summary: Enforcement Criminal Case Summary Report Search
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_crcase_report.post
  /case_rest_services.get_download:
    get:
      description: Based on the QID obtained from a get_cases query, return a comma
        separated value (CSV) file of the cases found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Enforcement Case Download Data Service
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_download.get
    post:
      description: Based on the QID obtained from a get_cases query, return a comma
        separated value (CSV) file of the cases found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Enforcement Case Download Data Service
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_download.post
  /case_rest_services.get_map:
    get:
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_cases query. Currently, the maximum
        number of coordinates returned is 500. GET_MAP performs automatic clustering
        at the state, county, and zip code levels to maximize the number of coordinates
        returned.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/c1_lat'
      - $ref: '#/parameters/c1_long'
      - $ref: '#/parameters/c2_lat'
      - $ref: '#/parameters/c2_long'
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            description: Service call container.
            properties:
              MapOutput:
                $ref: '#/definitions/crs0_MapOutput'
            required:
            - MapOutput
            type: object
      summary: Enforcement Case Map Service
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_map.get
    post:
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_cases query. Currently, the maximum
        number of coordinates returned is 500. GET_MAP performs automatic clustering
        at the state, county, and zip code levels to maximize the number of coordinates
        returned.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/c1_lat'
      - $ref: '#/parameters/c1_long'
      - $ref: '#/parameters/c2_lat'
      - $ref: '#/parameters/c2_long'
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            description: Service call container.
            properties:
              MapOutput:
                $ref: '#/definitions/crs0_MapOutput'
            required:
            - MapOutput
            type: object
      summary: Enforcement Case Map Service
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_map.post
  /case_rest_services.get_qid:
    get:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_cases query. It then returns a CASES object containing all matching
        cases. The main purpose of GET_QID is for large querysets that contain multiple
        pages (responsesets) of output. GET_QID allows for pagination and for the
        selection and sorting of columns. '
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/pageno'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Results are an array (page)  of Cases from ICIS with the number
            of cases equal to the responseset (page size).
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs5_Results'
            required:
            - Results
            type: object
      summary: Enforcement Case Paginated Results Service
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_qid.get
    post:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_cases query. It then returns a CASES object containing all matching
        cases. The main purpose of GET_QID is for large querysets that contain multiple
        pages (responsesets) of output. GET_QID allows for pagination and for the
        selection and sorting of columns. '
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/pageno'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Results are an array (page)  of Cases from ICIS with the number
            of cases equal to the responseset (page size).
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs5_Results'
            required:
            - Results
            type: object
      summary: Enforcement Case Paginated Results Service
      tags:
      - Case Enforcement
      operationId: case_rest_services.get_qid.post
  /case_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_cases endpoint.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
            - Results
            type: object
      summary: Enforcement Case Metadata Service
      tags:
      - Metadata
      operationId: case_rest_services.metadata.get
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_cases endpoint.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
            - Results
            type: object
      summary: Enforcement Case Metadata Service
      tags:
      - Metadata
      operationId: case_rest_services.metadata.post
  /rest_lookups.icis_law_sections:
    get:
      description: Returns the ICIS Law Section Descriptions.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/statute_code'
      - $ref: '#/parameters/status_flag'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      - $ref: '#/parameters/sort_order'
      responses:
        200:
          description: Returns an array of icis_inspection_types codes and their description.
            If search term or search code is  not provided, all values are returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk51_Results'
            required:
            - Results
            type: object
      summary: ECHO ICIS Law Sections Lookup Service
      tags:
      - Lookups
      operationId: rest_lookups.icis_law_sections.get
    post:
      description: Returns the ICIS Law Section Descriptions.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/statute_code'
      - $ref: '#/parameters/status_flag'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      - $ref: '#/parameters/sort_order'
      responses:
        200:
          description: Returns an array of icis_inspection_types codes and their description.
            If search term or search code is  not provided, all values are returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk51_Results'
            required:
            - Results
            type: object
      summary: ECHO ICIS Law Sections Lookup Service
      tags:
      - Lookups
      operationId: rest_lookups.icis_law_sections.post
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":31:{s:10:\"crs0_Cases\";O:8:\"stdClass\":5:{s:11:\"description\";s:98:\"A
  summary of the violation(s), environmental problem(s), and a description of the
  cause of action.\";s:10:\"properties\";O:8:\"stdClass\":30:{s:10:\"ActivityId\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"The
  unique, system-generated identifier for an activity performed at or related to a
  particular site or Facility.\";s:7:\"example\";s:3:\"???\";s:5:\"title\";s:11:\"Activity
  ID\";s:4:\"type\";s:6:\"string\";}s:16:\"CaseCategoryCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:351:\"A
  three-character code that identifies the type of ICIS activity, which includes general
  categories such as information requests, inspections, compliance determinations,
  and enforcement.  Activities selected for the ECHO data download are restricted
  to two subcategories of enforcement:  administrative \u2013 formal (AFR), and judicial
  activities (JDC).\";s:7:\"example\";s:3:\"AIF\";s:5:\"title\";s:18:\"Case Category
  Code\";s:4:\"type\";s:6:\"string\";}s:16:\"CaseCategoryDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:1226:\"Identifies
  the type of action based on the enforcement authority used.  \n\nAdministrative
  Formal Cases are non-judicial enforcement actions taken by EPA or a state under
  its own authority, without involving a judicial court process. An administrative
  action by EPA or a state agency may be in the form of:\n- A notice of violation
  or a Superfund notice letter.\n-> An administrative order or order (either with
  or without penalties) directing an individual, a business, or other entity to take
  action to come into compliance, or to clean up a site.\n\nJudicial Cases are formal
  lawsuits, filed in court, against persons or entities that have failed to comply
  with statutory or regulatory requirements, with an administrative order, or who
  owe EPA response costs for cleaning up a Superfund site. These cases are filed by
  the U.S. Department of Justice on behalf of EPA and, in regulatory cases, by the
  State's Attorneys General for the states as well.\n\nCriminal Cases occur when EPA
  or a state enforce against a company or person through a criminal action. Criminal
  actions are usually reserved for the most serious violations, those that are willful,
  or knowingly committed. A court conviction can result in fines or imprisonment.\";s:7:\"example\";s:25:\"Administrative
  - Informal\";s:5:\"title\";s:25:\"Case Category Description\";s:4:\"type\";s:6:\"string\";}s:8:\"CaseName\";O:8:\"stdClass\":4:{s:11:\"description\";s:672:\"A
  unique number identifying the enforcement action. For EPA civil cases, these numbers
  begin with either the two digit EPA Region Code, \"HQ\" (headquarters initiated
  cases), and \"EF\" or \"WF\" (Eastern or Western Field Office CAA Mobile Source
  Program cases); followed by the fiscal year in which the action was initiated. After
  the fiscal year there is a sequence number. State NPDES civil cases start with the
  two character post abbreviation, followed by a sequence number.\nFor criminal cases,
  the ID was generated in ECHO based on the following format: CR [prosecution_summary_id].
  The source of the Prosecution Summary ID is the Summary of Criminal Prosecutions
  database.\";s:7:\"example\";s:26:\"Baltes Real Estate Company\";s:5:\"title\";s:9:\"Case
  Name\";s:4:\"type\";s:6:\"string\";}s:10:\"CaseNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:472:\"A
  unique number identifying the enforcement action. For EPA civil cases, these numbers
  begin with either the two digit EPA Region Code, \"HQ\" (headquarters initiated
  cases), and \"EF\" or \"WF\" (Eastern or Western Field Office CAA Mobile Source
  Program cases); followed by the fiscal year in which the action was initiated. After
  the fiscal year there is a sequence number. State NPDES civil cases start with the
  two character post abbreviation, followed by a sequence number.\";s:7:\"example\";s:12:\"05-200021274\";s:5:\"title\";s:11:\"Case
  Number\";s:4:\"type\";s:6:\"string\";}s:14:\"CaseStatusCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Code
  identifying the current status of an activity.\";s:7:\"example\";s:3:\"ACH\";s:5:\"title\";s:16:\"Case
  Status Code\";s:4:\"type\";s:6:\"string\";}s:14:\"CaseStatusDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"The
  description that identifies the current status of an activity.\";s:7:\"example\";s:8:\"Achieved\";s:5:\"title\";s:23:\"Case
  Status Description\";s:4:\"type\";s:6:\"string\";}s:22:\"CivilCriminalIndicator\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Civil
  vs. Criminal Indicator.\";s:7:\"example\";s:2:\"CI\";s:5:\"title\";s:24:\"Civil/Criminal
  Indicator\";s:4:\"type\";s:6:\"string\";}s:12:\"CostRecovery\";O:8:\"stdClass\":4:{s:11:\"description\";s:151:\"For
  civil enforcement actions, cost recovery awarded is the amount of cost recovery
  ordered or agreed to be repaid by the responsible party of parties.\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:20:\"Cost
  Recovery Amount\";s:4:\"type\";s:6:\"string\";}s:13:\"DOJDocketNmbr\";O:8:\"stdClass\":4:{s:11:\"description\";s:208:\"The
  docket number assigned by the Department of Justice to EPA's Enforcement Action.
  \ This number will identify cases in the Federal Register and in DOJ press releases
  when a settlement is lodged and entered.\";s:7:\"example\";s:8:\"Achieved\";s:5:\"title\";s:17:\"DOJ
  Docket Number\";s:4:\"type\";s:6:\"string\";}s:10:\"DateClosed\";O:8:\"stdClass\":4:{s:11:\"description\";s:366:\"The
  date the actions requested in the final order have been completed by the recipient;
  or the termination date of the final order (if such a date is specified) has passed;
  or the enforcement action has been withdrawn or dismissed; or the enforcement action
  has been superseded by, or combined into, another related enforcement action addressing
  the same violations.\";s:7:\"example\";s:10:\"07/21/2011\";s:5:\"title\";s:11:\"Date
  Closed\";s:4:\"type\";s:6:\"string\";}s:9:\"DateFiled\";O:8:\"stdClass\":4:{s:11:\"description\";s:257:\"The
  filed/issued date can have different meanings depending on the Case Category. The
  date the judicial complaint is filed in U.S. District Court by the U.S. Attorney.
  The date that an administrative order is issued or the administrative complaint
  is filed.\";s:7:\"example\";s:10:\"01/19/2005\";s:5:\"title\";s:10:\"Date Filed\";s:4:\"type\";s:6:\"string\";}s:10:\"DateLodged\";O:8:\"stdClass\":4:{s:11:\"description\";s:274:\"The
  date a proposed consent decree is given to the Clerk of the Court for lodging in
  the District Court.  Upon lodging a consent decree, a notice is published in the
  Federal Register indicating nature of the proposed settlement and the acceptance
  period for public comments.\";s:7:\"example\";s:10:\"04/28/2009\";s:5:\"title\";s:11:\"Date
  Lodged\";s:4:\"type\";s:6:\"string\";}s:10:\"EnfOutcome\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  result of the enforcement action.\";s:7:\"example\";s:24:\"Final Order With Penalty\";s:5:\"title\";s:19:\"Enforcement
  Outcome\";s:4:\"type\";s:6:\"string\";}s:10:\"FedPenalty\";O:8:\"stdClass\":4:{s:11:\"description\";s:547:\"For
  civil judicial Enforcement Actions, this amount is the Federal penalty assessed
  against the defendant(s) as specified in the final entered Consent Decree or Court
  Order.  For administrative Enforcement Actions, it is the penalty assessed in the
  Consent/Final Order.  It does not include the amount of the penalty mitigated due
  to a SEP or the amount shared with the state or local entities.  Interest payments
  associated with a penalty paid over time are not to be included in this amount.
  \ It is the total Federal amount for each Final Order.\";s:7:\"example\";s:9:\"$3,000.00\";s:5:\"title\";s:15:\"Federal
  Penalty\";s:4:\"type\";s:6:\"string\";}s:4:\"Lead\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  lead agency (e.g., EPA, State) conducting the inspection\";s:7:\"example\";s:3:\"EPA\";s:5:\"title\";s:11:\"Lead
  Agency\";s:4:\"type\";s:6:\"string\";}s:8:\"MaxScore\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"[Col.
  121]\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:9:\"Max Score\";s:4:\"type\";s:6:\"string\";}s:10:\"PrimaryLaw\";O:8:\"stdClass\":4:{s:11:\"description\";s:364:\"Identifies
  the primary statute/law violated and cited in the enforcement action. Many of EPA's
  judicial actions are based on incidents that are violations of more than one statute.
  One law entered into the ICIS record is designated the primary law, which is considered
  the law that is most seriously violated and/or for which the most significant relief
  is sought.\";s:7:\"example\";s:4:\"TSCA\";s:5:\"title\";s:17:\"Primary Law Cited\";s:4:\"type\";s:6:\"string\";}s:16:\"PrimaryNAICSCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:292:\"A
  6-digit code to classify industrial establishments, as identified in FRS. North
  American Industry Classification System (NAICS) has replaced the U.S. Standard Industrial
  Classification (SIC) system. For detailed information about NAICS, please refer
  to the U.S. Census Bureau NAICS webpage.\";s:7:\"example\";s:6:\"237310\";s:5:\"title\";s:18:\"Primary
  NAICS Code\";s:4:\"type\";s:6:\"string\";}s:14:\"PrimarySICCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:390:\"The
  Standard Industrial Classification (SIC) system code of the facility, as identified
  in FRS. SIC codes were established by the Census Bureau to identify processes, products
  and services. The SIC code describes the primary activity of the facility. The first
  two digits in the code define a major business sector; the last two digits denote
  a facility's specialty within the major sector.\";s:7:\"example\";s:4:\"1220\";s:5:\"title\";s:16:\"Primary
  SIC Code\";s:4:\"type\";s:6:\"string\";}s:14:\"PrimarySection\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Identifies
  the primary section violated and cited in the enforcement action.\";s:7:\"example\";s:3:\"409\";s:5:\"title\";s:21:\"Primary
  Section Cited\";s:4:\"type\";s:6:\"string\";}s:20:\"ProsecutionSummaryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Prosecution
  Summary Identifier.\";s:5:\"title\";s:22:\"Prosecution Summary ID\";s:4:\"type\";s:6:\"string\";}s:13:\"SEPCategories\";O:8:\"stdClass\":4:{s:11:\"description\";s:741:\"For
  civil enforcement actions, as part of a settlement, a defendant may voluntarily
  agree to undertake an environmentally beneficial project (Supplement Environmental
  Project) related to the violation in exchange for mitigation of the penalty to be
  paid.  It may not include activities a defendant must take to return to compliance
  with the law. The EPA has set out eight categories that can be acceptable SEPs:\n-
  Public Health\n- Pollution Prevention\n- Pollution Reduction\n- Environmental Restoration
  and Protection\n- Emergency Planning and Preparedness\n- Assessments and Audits\n-
  Environmental Compliance Promotion\n- Other Types of Projects\nDescriptions of each
  SEP category can be found on the EPA Supplemental Environmental Projects page.\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:46:\"Supplemental
  Environmental Projects Categories\";s:4:\"type\";s:6:\"string\";}s:7:\"SEPCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  total value of all SEPs for all settlements at the enforcement case.\";s:7:\"example\";s:9:\"$4,100.00\";s:5:\"title\";s:40:\"Supplemental
  Environmental Projects Cost\";s:4:\"type\";s:6:\"string\";}s:8:\"SEPTexts\";O:8:\"stdClass\":4:{s:11:\"description\";s:124:\"A
  description of the SEP. These actions do not include activities a violator must
  take to return to compliance with the law.\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:41:\"Supplemental
  Environmental Projects Texts\";s:4:\"type\";s:6:\"string\";}s:13:\"SettlementCnt\";O:8:\"stdClass\":4:{s:11:\"description\";s:276:\"For
  civil enforcement actions, the number of settlements associated with the case. Most
  enforcement actions tend to follow a one-case, one-settlement scenario. However,
  and in particular with judicial actions involving multiple defendants, more than
  one settlement may result.\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:16:\"Settlement
  Count\";s:4:\"type\";s:6:\"string\";}s:14:\"SettlementDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:320:\"For
  federal judicial actions, this is the date the settlement document is signed by
  the presiding judge and entered by the Clerk of the Court. At that point, the settlement
  becomes a binding court order. For administrative actions, this is the date that
  the final order is signed and issued by the enforcement authority.\";s:7:\"example\";s:9:\"05/5/2005\";s:5:\"title\";s:15:\"Settlement
  Date\";s:4:\"type\";s:6:\"string\";}s:18:\"StateLocPenaltyAmt\";O:8:\"stdClass\":2:{s:5:\"title\";s:26:\"State
  Local Penalty Amount\";s:4:\"type\";s:6:\"string\";}s:18:\"TotalCompActionAmt\";O:8:\"stdClass\":4:{s:11:\"description\";s:238:\"For
  civil enforcement actions, the value of the costs incurred by the defendant/respondent
  to attain compliance with the law and restore the environment. This value does not
  include penalties, cost recovery, or costs associated with SEPs.\";s:7:\"example\";s:6:\"279450\";s:5:\"title\";s:30:\"Total
  Compliance Action Amount\";s:4:\"type\";s:6:\"string\";}s:14:\"TribalLandFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Flag
  indicating if the case is located on tribal land.\";s:5:\"title\";s:16:\"Tribal
  Land Flag\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:30:{i:0;s:10:\"CaseNumber\";i:1;s:8:\"CaseName\";i:2;s:16:\"CaseCategoryCode\";i:3;s:16:\"CaseCategoryDesc\";i:4;s:14:\"CaseStatusCode\";i:5;s:14:\"CaseStatusDesc\";i:6;s:13:\"DOJDocketNmbr\";i:7;s:10:\"PrimaryLaw\";i:8;s:14:\"PrimarySection\";i:9;s:9:\"DateFiled\";i:10;s:14:\"SettlementDate\";i:11;s:10:\"FedPenalty\";i:12;s:7:\"SEPCost\";i:13;s:16:\"PrimaryNAICSCode\";i:14;s:14:\"PrimarySICCode\";i:15;s:10:\"ActivityId\";i:16;s:18:\"TotalCompActionAmt\";i:17;s:13:\"SettlementCnt\";i:18;s:14:\"TribalLandFlag\";i:19;s:20:\"ProsecutionSummaryId\";i:20;s:22:\"CivilCriminalIndicator\";i:21;s:10:\"DateLodged\";i:22;s:10:\"DateClosed\";i:23;s:10:\"EnfOutcome\";i:24;s:12:\"CostRecovery\";i:25;s:4:\"Lead\";i:26;s:18:\"StateLocPenaltyAmt\";i:27;s:13:\"SEPCategories\";i:28;s:8:\"SEPTexts\";i:29;s:8:\"MaxScore\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"Case\";}}s:12:\"crs0_MapData\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Data
  container providing locational information for each case.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"ICON\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Name
  of each individual icon file within the URL base\";s:7:\"example\";s:15:\"CAA-IC-MN-N.png\";s:5:\"title\";s:4:\"Icon\";s:4:\"type\";s:6:\"string\";}s:3:\"LAT\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  latitude of the facility in degrees, to four decimal places\";s:7:\"example\";s:9:\"38.798026\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:3:\"LON\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  longitude of the facility in degrees, to four decimal places\";s:7:\"example\";s:10:\"-77.062981\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:4:\"NAME\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"For
  DFR, this is the Facility name. The name corresponds to the TYPE value\";s:7:\"example\";s:34:\"VIRGINIA
  CONCRETE ALEXANDRIA PLANT\";s:5:\"title\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:3:\"PUV\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Pop
  up value. Combine with PopUpBaseURL to give the popup for the facility\";s:7:\"example\";s:12:\"110001891506\";s:5:\"title\";s:11:\"Popup
  Value\";s:4:\"type\";s:6:\"string\";}s:4:\"TYPE\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"For
  DFR, this is always facility\";s:7:\"example\";s:8:\"Facility\";s:5:\"title\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:3:\"LAT\";i:1;s:3:\"LON\";i:2;s:4:\"ICON\";i:3;s:4:\"TYPE\";i:4;s:4:\"NAME\";i:5;s:3:\"PUV\";}s:4:\"type\";s:6:\"object\";}s:14:\"crs0_MapOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Data
  container for visualizing case information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"IconBaseURL\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"URL
  where all the icons are located\";s:7:\"example\";s:35:\"https://echo.epa.gov/app/map/icons/\";s:5:\"title\";s:13:\"Icon
  Base URL\";s:4:\"type\";s:6:\"string\";}s:7:\"MapData\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/crs0_MapData\";}s:5:\"title\";s:8:\"Map
  Data\";s:4:\"type\";s:5:\"array\";}s:12:\"PopUpBaseURL\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Combine
  this URL with the PUC to get popup info\";s:7:\"example\";s:58:\"https://ofmpub.epa.gov/echo/cwa_rest_services.pop_up?p_id=\";s:5:\"title\";s:14:\"Popup
  Base URL\";s:4:\"type\";s:6:\"string\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";s:7:\"example\";s:3:\"245\";s:5:\"title\";s:16:\"Query
  Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:7:\"QueryID\";i:1;s:11:\"IconBaseURL\";i:2;s:12:\"PopUpBaseURL\";i:3;s:7:\"MapData\";}s:4:\"type\";s:6:\"object\";}s:18:\"crs1_CAEDDocuments\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Dummy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"crs1_CaseInformation\";O:8:\"stdClass\":5:{s:11:\"description\";s:148:\"The
  basic information section contains information that identifies the action and some
  key descriptive variables, such as case status and case type.\";s:10:\"properties\";O:8:\"stdClass\":22:{s:6:\"Branch\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  Branch or Unit of the Office of Regional Counsel assigned for the case.\";s:5:\"title\";s:6:\"Branch\";s:4:\"type\";s:6:\"string\";}s:8:\"CaseName\";O:8:\"stdClass\":4:{s:11:\"description\";s:672:\"A
  unique number identifying the enforcement action. For EPA civil cases, these numbers
  begin with either the two digit EPA Region Code, \"HQ\" (headquarters initiated
  cases), and \"EF\" or \"WF\" (Eastern or Western Field Office CAA Mobile Source
  Program cases); followed by the fiscal year in which the action was initiated. After
  the fiscal year there is a sequence number. State NPDES civil cases start with the
  two character post abbreviation, followed by a sequence number.\nFor criminal cases,
  the ID was generated in ECHO based on the following format: CR [prosecution_summary_id].
  The source of the Prosecution Summary ID is the Summary of Criminal Prosecutions
  database.\";s:7:\"example\";s:26:\"Baltes Real Estate Company\";s:5:\"title\";s:9:\"Case
  Name\";s:4:\"type\";s:6:\"string\";}s:10:\"CaseNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:472:\"A
  unique number identifying the enforcement action. For EPA civil cases, these numbers
  begin with either the two digit EPA Region Code, \"HQ\" (headquarters initiated
  cases), and \"EF\" or \"WF\" (Eastern or Western Field Office CAA Mobile Source
  Program cases); followed by the fiscal year in which the action was initiated. After
  the fiscal year there is a sequence number. State NPDES civil cases start with the
  two character post abbreviation, followed by a sequence number.\";s:7:\"example\";s:12:\"05-200021274\";s:5:\"title\";s:11:\"Case
  Number\";s:4:\"type\";s:6:\"string\";}s:10:\"CaseStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  status of the compliance event or enforcement action.\";s:7:\"example\";s:6:\"Closed\";s:5:\"title\";s:11:\"Case
  Status\";s:4:\"type\";s:6:\"string\";}s:14:\"CaseStatusDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  date of the most recent milestone activity.\";s:7:\"example\";s:10:\"08/12/1988\";s:5:\"title\";s:16:\"Case
  Status Date\";s:4:\"type\";s:6:\"string\";}s:11:\"CaseSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:284:\"The
  summary of the violation environmental problem and a description of the cause of
  action (basis of legal action).  The summary could be extracted from the referral
  transmission memo or letter or it could be required as the first section of a revised
  standardized referral document.\";s:5:\"title\";s:12:\"Case Summary\";s:4:\"type\";s:6:\"string\";}s:8:\"CaseType\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"The
  unique code that identifies a type of compliance event or enforcement action.\";s:7:\"example\";s:3:\"AFR\";s:5:\"title\";s:9:\"Case
  Type\";s:4:\"type\";s:6:\"string\";}s:15:\"DOJDocketNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  docket number assigned by the Department of Justice to EPA's Enforcement Action.\";s:5:\"title\";s:17:\"DOJ
  Docket Number\";s:4:\"type\";s:6:\"string\";}s:18:\"EnforcementOutcome\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  description of the mechanism by which the Enforcement Action is resolved.\";s:7:\"example\";s:13:\"Source
  Agrees\";s:5:\"title\";s:19:\"Enforcement Outcome\";s:4:\"type\";s:6:\"string\";}s:15:\"EnforcementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"A
  text description of the Enforcement Action type.\";s:7:\"example\";s:6:\"Formal\";s:5:\"title\";s:16:\"Enforcement
  Type\";s:4:\"type\";s:6:\"string\";}s:20:\"HeadquartersDivision\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  EPA Headquarters division that is tracking the case.\";s:7:\"example\";s:3:\"CER\";s:5:\"title\";s:21:\"Headquarters
  Division\";s:4:\"type\";s:6:\"string\";}s:4:\"Lead\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  lead agency (e.g., EPA, State) conducting the inspection\";s:7:\"example\";s:3:\"EPA\";s:5:\"title\";s:11:\"Lead
  Agency\";s:4:\"type\";s:6:\"string\";}s:14:\"MultiMediaCase\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"The
  flag indicating whether the activity was a multimedia action.\";s:7:\"example\";s:2:\"No\";s:5:\"title\";s:22:\"Multimedia
  Action Flag\";s:4:\"type\";s:6:\"string\";}s:20:\"RegionalDocketNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:203:\"The
  number the Clerk of the Court assigns to a case that is filed or to a consent decree
  when it is lodged.  For administrative cases, it is the number assigned to the case
  by the Regional Hearing Clerk.\";s:7:\"example\";s:12:\"III-88-40-DC\";s:5:\"title\";s:22:\"Regional
  Docket Number\";s:4:\"type\";s:6:\"string\";}s:12:\"ReliefSought\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  description for the type of relief requested in the complaint.\";s:5:\"title\";s:13:\"Relief
  Sought\";s:4:\"type\";s:6:\"string\";}s:19:\"ResultVolDisclosure\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"A
  flag that indicates the Enforcement Action was the result of a self disclosure.\";s:7:\"example\";s:2:\"No\";s:5:\"title\";s:35:\"Result
  of Voluntary Disclosure Flag\";s:4:\"type\";s:6:\"string\";}s:25:\"TotalComplianceActionCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:391:\"The
  estimated dollar value of injunctive relief and other physical/nonphysical costs
  of returning to compliance, from all settlements at a case. Injunctive relief represents
  the actions a defendant is ordered to undertake to achieve and maintain compliance,
  such as installing a new pollution control device to reduce air pollution, or preventing
  emissions of a pollutant in the first place.\";s:7:\"example\";s:4:\"$288\";s:5:\"title\";s:28:\"Total
  Compliance Action Cost\";s:4:\"type\";s:6:\"string\";}s:17:\"TotalCostRecovery\";O:8:\"stdClass\":4:{s:11:\"description\";s:262:\"The
  amount of the cost recovery ordered or agreed to be repaid by the responsible parties,
  cost recovery whole dollar amount awarded by the Court and due the the Superfund.
  For administrative cases, it is the cost recovery whole dollar amount of the Final
  Order.\";s:7:\"example\";s:6:\"$6,598\";s:5:\"title\";s:19:\"Total Cost Recovery\";s:4:\"type\";s:6:\"string\";}s:19:\"TotalFederalPenalty\";O:8:\"stdClass\":4:{s:11:\"description\";s:486:\"For
  civil judicial enforcement actions, this amount is the federal penalty assessed
  against the defendant(s)\_ as specified in the final entered Consent Decree or Court
  Order. For administrative enforcement actions, it is the penalty assessed in the
  Consent/Final Order. It does not include the amount of the penalty mitigated due
  to a SEP or the amount shared with the state or local entities. Interest payments
  associated with a penalty paid over time are not included in this amount.\";s:7:\"example\";s:7:\"$13,210\";s:5:\"title\";s:21:\"Total
  Federal Penalty\";s:4:\"type\";s:6:\"string\";}s:12:\"TotalSEPCost\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  total value of all SEPs for all settlements at the enforcement case.\";s:5:\"title\";s:46:\"Total
  Supplemental Environmental Projects Cost\";s:4:\"type\";s:6:\"string\";}s:17:\"TotalStatePenalty\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"The
  total dollar penalty amount from all settlements to be paid to a state or local
  enforcement authority that is party to a concluded enforcement action.\";s:5:\"title\";s:19:\"Total
  State Penalty\";s:4:\"type\";s:6:\"string\";}s:10:\"Violations\";O:8:\"stdClass\":4:{s:11:\"description\";s:3:\"???\";s:7:\"example\";s:29:\"General
  Facility Requirements\";s:5:\"title\";s:10:\"Violations\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:22:{i:0;s:10:\"CaseNumber\";i:1;s:8:\"CaseName\";i:2;s:8:\"CaseType\";i:3;s:10:\"CaseStatus\";i:4;s:14:\"CaseStatusDate\";i:5;s:20:\"RegionalDocketNumber\";i:6;s:15:\"DOJDocketNumber\";i:7;s:4:\"Lead\";i:8;s:12:\"ReliefSought\";i:9;s:18:\"EnforcementOutcome\";i:10;s:20:\"HeadquartersDivision\";i:11;s:6:\"Branch\";i:12;s:19:\"ResultVolDisclosure\";i:13;s:14:\"MultiMediaCase\";i:14;s:15:\"EnforcementType\";i:15;s:19:\"TotalFederalPenalty\";i:16;s:17:\"TotalStatePenalty\";i:17;s:12:\"TotalSEPCost\";i:18;s:25:\"TotalComplianceActionCost\";i:19;s:17:\"TotalCostRecovery\";i:20;s:11:\"CaseSummary\";i:21;s:10:\"Violations\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:15:\"CaseInformation\";}}s:19:\"crs1_CaseMilestones\";O:8:\"stdClass\":5:{s:11:\"description\";s:62:\"The
  major milestone events tracked for the enforcement action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ActualDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  actual date on which the event was completed/achieved.\";s:7:\"example\";s:10:\"08/12/1988\";s:4:\"type\";s:6:\"string\";}s:5:\"Event\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Identifies
  a major judicial or administrative enforcement action milestone.\";s:7:\"example\";s:31:\"Enforcement
  Action Data Entered\";s:5:\"title\";s:5:\"Event\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"Event\";i:1;s:10:\"ActualDate\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"CaseMilestone\";}}s:14:\"crs1_Citations\";O:8:\"stdClass\":5:{s:11:\"description\";s:131:\"The
  corresponding regulation in the Code of Federal Regulations (CFR) or U.S. Code (U.S.C.)
  associated with the enforcement action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Programs\";O:8:\"stdClass\":4:{s:11:\"description\";s:142:\"A
  description of the EPA program(s) under which an enforcement action has been taken,
  and which correspond to the cited statutes and sections.\";s:7:\"example\";s:41:\"Imminent
  & Substantial Endangerment Order\";s:5:\"title\";s:8:\"Programs\";s:4:\"type\";s:6:\"string\";}s:8:\"Sections\";O:8:\"stdClass\":4:{s:11:\"description\";s:3:\"???\";s:7:\"example\";s:3:\"106\";s:5:\"title\";s:8:\"Sections\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  title held by a person in an organization.\";s:7:\"example\";s:5:\"40CFR\";s:5:\"title\";s:5:\"Title\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"Title\";i:1;s:8:\"Sections\";i:2;s:8:\"Programs\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Citation\";}}s:24:\"crs1_ComplianceSchedules\";O:8:\"stdClass\":5:{s:11:\"description\";s:144:\"This
  section provides compliance schedule milestone activity information for a subset
  of EPA judicial consent decrees with compliance schedules.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"ActualDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  actual date on which the Compliance Schedule event was completed/achieved.\";s:7:\"example\";s:10:\"08/12/1988\";s:4:\"type\";s:6:\"string\";}s:31:\"EventAmount.ComplianceSchedules\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  dollar amount of a scheduled payment initiated through a penalty action or a cost
  recovery pursuant to a Final Order.\";s:4:\"type\";s:6:\"string\";}s:13:\"FacilityFRSID\";O:8:\"stdClass\":3:{s:11:\"description\";s:202:\"The
  number assigned by the Facility Linkage Application that is used to associate facility
  records from multiple environmental database systems that are known or believed
  to represent the same facility.\";s:5:\"title\";s:15:\"Facility FRS ID\";s:4:\"type\";s:6:\"string\";}s:19:\"ScheduleCommentText\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  free-text field used to store descriptive Compliance Schedule information.\";s:5:\"title\";s:21:\"Schedule
  Comment Text\";s:4:\"type\";s:6:\"string\";}s:12:\"ScheduleDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  date the event is scheduled to be completed (i.e. the due date).\";s:5:\"title\";s:13:\"Schedule
  Date\";s:4:\"type\";s:6:\"string\";}s:24:\"ScheduleEventDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  description of the particular event with which the permittee is scheduled to comply.\";s:5:\"title\";s:26:\"Schedule
  Event Description\";s:4:\"type\";s:6:\"string\";}s:14:\"ScheduleNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"A
  two-digit number which in combination with the Schedule Type and NPDES ID uniquely
  identifies a Compliance Schedule.\";s:5:\"title\";s:15:\"Schedule Number\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:13:\"FacilityFRSID\";i:1;s:14:\"ScheduleNumber\";i:2;s:19:\"ScheduleCommentText\";i:3;s:24:\"ScheduleEventDescription\";i:4;s:12:\"ScheduleDate\";i:5;s:10:\"ActualDate\";i:6;s:31:\"EventAmount.ComplianceSchedules\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:18:\"ComplianceSchedule\";}}s:21:\"crs1_ComplyingActions\";O:8:\"stdClass\":5:{s:11:\"description\";s:238:\"For
  civil enforcement actions, the value of the costs incurred by the defendant/respondent
  to attain compliance with the law and restore the environment. This value does not
  include penalties, cost recovery, or costs associated with SEPs.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"ComplyingActionCategory\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  category (i.e., Direct Environmental Reduction, Preventative, or Facility Management
  or Information Practice) to which a Complying Action belongs.\";s:7:\"example\";s:30:\"Direct
  Environmental Reduction\";s:5:\"title\";s:25:\"Complying Action Category\";s:4:\"type\";s:6:\"string\";}s:26:\"ComplyingActionDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:125:\"A
  text description of the type of the requirements obliging the defendant/respondent
  to take or refrain from certain actions.\";s:7:\"example\";s:70:\"Migrated Industrial/Municipal
  Process Change (Includes Flow Reduction)\";s:5:\"title\";s:28:\"Complying Action
  Description\";s:4:\"type\";s:6:\"string\";}s:17:\"ComplyingActionId\";O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"The
  unique identifier for an enforceable requirement obliging the defendant/respondent
  to take or refrain from certain specified actions.\";s:7:\"example\";s:10:\"2600823911\";s:5:\"title\";s:19:\"Complying
  Action ID\";s:4:\"type\";s:6:\"string\";}s:19:\"ComplyingActionType\";O:8:\"stdClass\":4:{s:11:\"description\";s:123:\"A
  code that uniquely identifies the requirements obliging the defendant/respondent
  to take or refrain from certain actions.\";s:7:\"example\";s:3:\"IPC\";s:5:\"title\";s:21:\"Complying
  Action Type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:17:\"ComplyingActionId\";i:1;s:19:\"ComplyingActionType\";i:2;s:26:\"ComplyingActionDescription\";i:3;s:23:\"ComplyingActionCategory\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:15:\"ComplyingAction\";}}s:15:\"crs1_Defendants\";O:8:\"stdClass\":5:{s:11:\"description\";s:119:\"This
  section lists each defendant's name and whether the defendant was named in the complaint
  and/or in the settlement.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"DefendantName\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"The
  name of the defendant, or respondent associated with the Enforcement Action.\";s:7:\"example\";s:25:\"AMERICAN
  CYANAMID COMPANY\";s:5:\"title\";s:14:\"Defendant Name\";s:4:\"type\";s:6:\"string\";}s:16:\"NamedInComplaint\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"A
  flag that indicates whether the Defendant or Respondent was named in the filed complaint.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:23:\"Named
  In Complaint Flag\";s:4:\"type\";s:6:\"string\";}s:17:\"NamedInSettlement\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"A
  flag that indicates whether the Defendant or Respondent was named in the Final Order.\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:24:\"Named
  in Settlement Flag\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:13:\"DefendantName\";i:1;s:16:\"NamedInComplaint\";i:2;s:17:\"NamedInSettlement\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Defendant\";}}s:27:\"crs1_EnforcementConclusions\";O:8:\"stdClass\":5:{s:11:\"description\";s:168:\"This
  section contains information about the conclusion(s) of the civil enforcement case,
  where it resulted in an order, consent decree, or other enforceable settlement.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:21:\"ActualTerminationDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  date on which the Final Order was terminated.\";s:4:\"type\";s:6:\"string\";}s:20:\"ComplianceActionCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  total value of all SEPs for all settlements at the enforcement case.\";s:7:\"example\";s:8:\"$279,450\";s:5:\"title\";s:22:\"Compliance
  Action Cost\";s:4:\"type\";s:6:\"string\";}s:19:\"ComplianceSchedules\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/crs1_ComplianceSchedules\";}s:5:\"title\";s:20:\"Compliance
  Schedules\";s:4:\"type\";s:5:\"array\";}s:16:\"ComplyingActions\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/crs1_ComplyingActions\";}s:5:\"title\";s:17:\"Complying
  Actions\";s:4:\"type\";s:5:\"array\";}s:12:\"CostRecovery\";O:8:\"stdClass\":4:{s:11:\"description\";s:151:\"For
  civil enforcement actions, cost recovery awarded is the amount of cost recovery
  ordered or agreed to be repaid by the responsible party of parties.\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:20:\"Cost
  Recovery Amount\";s:4:\"type\";s:6:\"string\";}s:27:\"EnforcementActionClosedDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:366:\"The
  date the actions requested in the final order have been completed by the recipient;
  or the termination date of the final order (if such a date is specified) has passed;
  or the enforcement action has been withdrawn or dismissed; or the enforcement action
  has been superseded by, or combined into, another related enforcement action addressing
  the same violations.\";s:7:\"example\";s:10:\"07/21/2011\";s:5:\"title\";s:30:\"Enforcement
  Action Closed Date\";s:4:\"type\";s:6:\"string\";}s:23:\"EnforcementConclusionId\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"The
  system-generated unique identifier of the Final Order to which the Compliance Action
  belongs.\";s:7:\"example\";s:10:\"2600006100\";s:5:\"title\";s:25:\"Enforcement
  Conclusion ID\";s:4:\"type\";s:6:\"string\";}s:25:\"EnforcementConclusionName\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"The
  name of a Final Order associated with an Enforcement Action as assigned by the Lead
  EPA Attorney for federal actions.\";s:7:\"example\";s:17:\"4 J International\";s:5:\"title\";s:27:\"Enforcement
  Conclusion Name\";s:4:\"type\";s:6:\"string\";}s:25:\"EnforcementConclusionType\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  description of the enforcement instrument used by EPA to settle the case.\";s:7:\"example\";s:62:\"Administrative
  Penalty Order With or Without Injunctive Relief\";s:5:\"title\";s:27:\"Enforcement
  Conclusion Type\";s:4:\"type\";s:6:\"string\";}s:22:\"FacilitiesInSettlement\";O:8:\"stdClass\":4:{s:11:\"description\";s:141:\"The
  unique identification number assigned to a facility in the Facility Registry Service
  (FRS), for each facility included in the settlement.\";s:7:\"example\";s:12:\"110001928317\";s:5:\"title\";s:24:\"Facilities
  in Settlement\";s:4:\"type\";s:6:\"string\";}s:14:\"FederalPenalty\";O:8:\"stdClass\":4:{s:11:\"description\";s:547:\"For
  civil judicial Enforcement Actions, this amount is the Federal penalty assessed
  against the defendant(s) as specified in the final entered Consent Decree or Court
  Order.  For administrative Enforcement Actions, it is the penalty assessed in the
  Consent/Final Order.  It does not include the amount of the penalty mitigated due
  to a SEP or the amount shared with the state or local entities.  Interest payments
  associated with a penalty paid over time are not to be included in this amount.
  \ It is the total Federal amount for each Final Order.\";s:7:\"example\";s:10:\"$65,000.00\";s:5:\"title\";s:15:\"Federal
  Penalty\";s:4:\"type\";s:6:\"string\";}s:18:\"FinalOrderStatuses\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/crs1_FinalOrderStatuses\";}s:5:\"title\";s:21:\"Final
  Order Statuses\n\";s:4:\"type\";s:5:\"array\";}s:19:\"PollutantReductions\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/crs1_PollutantReductions\";}s:5:\"title\";s:20:\"Pollutant
  Reductions\";s:4:\"type\";s:5:\"array\";}s:7:\"SEPCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  total value of all SEPs for all settlements at the enforcement case.\";s:7:\"example\";s:9:\"$4,100.00\";s:5:\"title\";s:40:\"Supplemental
  Environmental Projects Cost\";s:4:\"type\";s:6:\"string\";}s:21:\"SettlementEnteredDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:284:\"The
  civil case date the Final Order is signed by the presiding Judge and entered by
  the Clerk of the Court; it is the date the Clerk stamps on the document.  For an
  Administrative Formal EA, this is the Final Order Issued Date; for a Judicial EA,
  this is the Final Order Entered Date.\";s:7:\"example\";s:10:\"07/09/2011\";s:5:\"title\";s:23:\"Settlement
  Entered Date\";s:4:\"type\";s:6:\"string\";}s:20:\"SettlementLodgedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:180:\"The
  date the settlement document is given to the Clerk of the Court for lodging in the
  District Court; it is the date the Clerk stamps on the document. (Federal Judicial
  EAs only).\";s:5:\"title\";s:22:\"Settlement Lodged Date\";s:4:\"type\";s:6:\"string\";}s:12:\"StatePenalty\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  dollar penalty amount to be paid to a state or local enforcement authority that
  is party to a concluded enforcement action.\";s:7:\"example\";s:10:\"$43,000.00\";s:5:\"title\";s:13:\"State
  Penalty\";s:4:\"type\";s:6:\"string\";}s:33:\"SupplementalEnvironmentalProjects\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/crs1_SupplementalEnvironmentalProjects\";}s:5:\"title\";s:35:\"Supplemental
  Environmental Projects\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:18:{i:0;s:23:\"EnforcementConclusionId\";i:1;s:25:\"EnforcementConclusionType\";i:2;s:25:\"EnforcementConclusionName\";i:3;s:22:\"FacilitiesInSettlement\";i:4;s:21:\"SettlementEnteredDate\";i:5;s:20:\"SettlementLodgedDate\";i:6;s:14:\"FederalPenalty\";i:7;s:12:\"StatePenalty\";i:8;s:7:\"SEPCost\";i:9;s:20:\"ComplianceActionCost\";i:10;s:27:\"EnforcementActionClosedDate\";i:11;s:21:\"ActualTerminationDate\";i:12;s:12:\"CostRecovery\";i:13;s:19:\"PollutantReductions\";i:14;s:18:\"FinalOrderStatuses\";i:15;s:19:\"ComplianceSchedules\";i:16;s:16:\"ComplyingActions\";i:17;s:33:\"SupplementalEnvironmentalProjects\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:21:\"EnforcementConclusion\";}}s:15:\"crs1_Facilities\";O:8:\"stdClass\":5:{s:11:\"description\";s:132:\"This
  section provides detailed facility and address information on all of the facilities
  associated with the civil enforcement case.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"FRSNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  identification number assigned to a facility in the\_Facility Registry Service (FRS)\_to
  uniquely identify a facility site.\";s:7:\"example\";s:12:\"110007875353\";s:5:\"title\";s:10:\"FRS
  Number\";s:4:\"type\";s:6:\"string\";}s:15:\"FacilityAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:171:\"The
  address that describes the physical (geographic) location of the front door or main
  entrance of a Facility site, including urban-style street address or rural address.\";s:7:\"example\";s:16:\"WEST
  19TH STREET\";s:5:\"title\";s:16:\"Facility Address\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  city in which the facility is located\";s:7:\"example\";s:7:\"DECATUR\";s:5:\"title\";s:13:\"Facility
  City\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityName\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  name of the facility.\";s:7:\"example\";s:10:\"3M COMPANY\";s:5:\"title\";s:13:\"Facility
  Name\";s:4:\"type\";s:6:\"string\";}s:13:\"FacilityState\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  state in which the facility is located\";s:7:\"example\";s:2:\"AL\";s:5:\"title\";s:14:\"Facility
  State\";s:4:\"type\";s:6:\"string\";}s:11:\"FacilityZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  zip code of the area in which the facility is located\";s:7:\"example\";s:5:\"35609\";s:5:\"title\";s:16:\"Facility
  Zipcode\";s:4:\"type\";s:6:\"string\";}s:10:\"NAICSCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"A
  6-digit code to classify industrial establishments. For detailed information about
  NAICS, please refer to the U.S. Census Bureau\_NAICS\_webpage.\";s:5:\"title\";s:11:\"NAICS
  Codes\";s:4:\"type\";s:6:\"string\";}s:8:\"SICCodes\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"The
  Standard Industrial Classification codes applicable to the facility\";s:7:\"example\";s:14:\"2821
  2869 2873\";s:5:\"title\";s:9:\"SIC Codes\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:9:\"FRSNumber\";i:1;s:12:\"FacilityName\";i:2;s:15:\"FacilityAddress\";i:3;s:12:\"FacilityCity\";i:4;s:13:\"FacilityState\";i:5;s:11:\"FacilityZip\";i:6;s:8:\"SICCodes\";i:7;s:10:\"NAICSCodes\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Facility\";}}s:23:\"crs1_FinalOrderStatuses\";O:8:\"stdClass\":5:{s:11:\"description\";s:159:\"This
  section provides the compliance status for a subset of EPA judicial consent decrees
  with compliance schedules requiring more than three years to complete.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"FiscalYear\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  fiscal year in which the activity occurred.\";s:7:\"example\";s:4:\"2004\";s:5:\"title\";s:11:\"Fiscal
  Year\";s:4:\"type\";s:6:\"string\";}s:19:\"Q1StatusDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:5:\"title\";s:28:\"Quarter 1 Status Description\";s:4:\"type\";s:6:\"string\";}s:19:\"Q2StatusDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:5:\"title\";s:28:\"Quarter 2 Status Description\";s:4:\"type\";s:6:\"string\";}s:19:\"Q3StatusDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:5:\"title\";s:28:\"Quarter 3 Status Description\";s:4:\"type\";s:6:\"string\";}s:19:\"Q4StatusDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:5:\"title\";s:28:\"Quarter 4 Status Description\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:10:\"FiscalYear\";i:1;s:19:\"Q4StatusDescription\";i:2;s:19:\"Q3StatusDescription\";i:3;s:19:\"Q2StatusDescription\";i:4;s:19:\"Q1StatusDescription\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"FinalOrderStatus\";}}s:20:\"crs1_LawsAndSections\";O:8:\"stdClass\":5:{s:11:\"description\";s:72:\"Identifies
  the statute/law and sections cited in the enforcement action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"Law\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Code
  for the primary and non-primary laws that were violated.\";s:7:\"example\";s:6:\"CERCLA\";s:5:\"title\";s:3:\"Law\";s:4:\"type\";s:6:\"string\";}s:8:\"Programs\";O:8:\"stdClass\":4:{s:11:\"description\";s:142:\"A
  description of the EPA program(s) under which an enforcement action has been taken,
  and which correspond to the cited statutes and sections.\";s:7:\"example\";s:41:\"Imminent
  & Substantial Endangerment Order\";s:5:\"title\";s:8:\"Programs\";s:4:\"type\";s:6:\"string\";}s:8:\"Sections\";O:8:\"stdClass\":4:{s:11:\"description\";s:3:\"???\";s:7:\"example\";s:3:\"106\";s:5:\"title\";s:8:\"Sections\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"Law\";i:1;s:8:\"Sections\";i:2;s:8:\"Programs\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:14:\"LawAndSections\";}}s:24:\"crs1_PollutantReductions\";O:8:\"stdClass\":5:{s:11:\"description\";s:143:\"This
  section provides information relating complying actions and SEPs to their estimated
  or actual environmental impact on pollutant reduction.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"AnnualAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"The
  amount of reduction or elimination of each pollutant or waste in pounds, kilograms,
  or liquid measure that resulted from the SEP or Complying Actions.\";s:7:\"example\";s:6:\"61,802\";s:4:\"type\";s:6:\"string\";}s:17:\"ComplyingActionId\";O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"The
  unique identifier for an enforceable requirement obliging the defendant/respondent
  to take or refrain from certain specified actions.\";s:7:\"example\";s:10:\"2600823911\";s:5:\"title\";s:19:\"Complying
  Action ID\";s:4:\"type\";s:6:\"string\";}s:21:\"EnvironmentalImpactId\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"The
  system-generated unique identifier of the Environmental Impact record.\";s:7:\"example\";s:10:\"2600004336\";s:5:\"title\";s:23:\"Environmental
  Impact ID\";s:4:\"type\";s:6:\"string\";}s:5:\"Media\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"The
  name/description of the media where the pollutants or waste were emitted/discharged.\";s:7:\"example\";s:3:\"Air\";s:5:\"title\";s:15:\"Pollutant
  Media\";s:4:\"type\";s:6:\"string\";}s:9:\"Pollutant\";O:8:\"stdClass\":4:{s:11:\"description\";s:171:\"The
  name that EPA has selected as its preferred name for a substance (also known as
  registry name). If the registry name is not available, use the systematic name instead.\";s:7:\"example\";s:15:\"Carbon
  monoxide\";s:5:\"title\";s:9:\"Pollutant\";s:4:\"type\";s:6:\"string\";}s:5:\"SEPId\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  system-generated unique identifier of the SEP record affiliated with the Environmental
  Impact.\";s:5:\"title\";s:38:\"Supplemental Environmental Projects ID\";s:4:\"type\";s:6:\"string\";}s:9:\"SEPorComp\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"A
  flag that indicates whether the quantitative environmental impact pertains to a
  SEP or Complying Action.\";s:7:\"example\";s:1:\"C\";s:4:\"type\";s:6:\"string\";}s:5:\"Units\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"A
  code that uniquely identifies the pollutant unit of measurement.\";s:7:\"example\";s:6:\"PNDSYR\";s:5:\"title\";s:5:\"Units\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:17:\"ComplyingActionId\";i:1;s:21:\"EnvironmentalImpactId\";i:2;s:5:\"SEPId\";i:3;s:9:\"Pollutant\";i:4;s:12:\"AnnualAmount\";i:5;s:5:\"Units\";i:6;s:5:\"Media\";i:7;s:9:\"SEPorComp\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:18:\"PollutantReduction\";}}s:15:\"crs1_Pollutants\";O:8:\"stdClass\":5:{s:11:\"description\";s:90:\"The
  common name identifying the pollutant, waste material, substance, or chemical reduced.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"ChemicalAbstractNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"This
  is the unique number assigned to a chemical substance by the Chemical Abstracts
  Service.\";s:5:\"title\";s:24:\"Chemical Abstract Number\";s:4:\"type\";s:6:\"string\";}s:13:\"PollutantName\";O:8:\"stdClass\":4:{s:11:\"description\";s:174:\"The
  name designating the waste material substance or chemical involved at the facility
  that has a Quantitative Environmental Impact addressed in the SEP or Complying Actions.\";s:7:\"example\";s:4:\"NONE\";s:5:\"title\";s:14:\"Pollutant
  Name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:13:\"PollutantName\";i:1;s:22:\"ChemicalAbstractNumber\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Pollutant\";}}s:17:\"crs1_ProgramLinks\";O:8:\"stdClass\":5:{s:11:\"description\";s:65:\"Crosswalk
  between programs and facilities (identified by FRS ID).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"FRSNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  identification number assigned to a facility in the\_Facility Registry Service (FRS)\_to
  uniquely identify a facility site.\";s:7:\"example\";s:12:\"110007875353\";s:5:\"title\";s:10:\"FRS
  Number\";s:4:\"type\";s:6:\"string\";}s:7:\"Program\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  source database for the EPA programs information.\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:7:\"Program\";s:4:\"type\";s:6:\"string\";}s:9:\"ProgramID\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Unique
  identifier for the EPA program.\";s:7:\"example\";s:5:\"38957\";s:5:\"title\";s:10:\"Program
  ID\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"FRSNumber\";i:1;s:7:\"Program\";i:2;s:9:\"ProgramID\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"ProgramLink\";}}s:22:\"crs1_RelatedActivities\";O:8:\"stdClass\":5:{s:11:\"description\";s:174:\"This
  section provides an Activity Type description and date for other ICIS activities
  (e.g., inspections, or compliance assistance) that are linked to the enforcement
  action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ActualDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  actual date on which the event was completed/achieved.\";s:7:\"example\";s:10:\"08/12/1988\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"A
  description of the category of Supplemental Environment Project (SEP) for a settlement.\";s:5:\"title\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"Description\";i:1;s:10:\"ActualDate\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:15:\"RelatedActivity\";}}s:12:\"crs1_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  data returned by the service call.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"CAEDDocuments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/crs1_CAEDDocuments\";}s:4:\"type\";s:5:\"array\";}s:15:\"CaseInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/crs1_CaseInformation\";}s:14:\"CaseMilestones\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/crs1_CaseMilestones\";}s:5:\"title\";s:15:\"Case
  Milestones\";s:4:\"type\";s:5:\"array\";}s:9:\"Citations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/crs1_Citations\";}s:5:\"title\";s:9:\"Citations\";s:4:\"type\";s:5:\"array\";}s:10:\"Defendants\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/crs1_Defendants\";}s:5:\"title\";s:10:\"Defendants\";s:4:\"type\";s:5:\"array\";}s:22:\"EnforcementConclusions\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/crs1_EnforcementConclusions\";}s:5:\"title\";s:23:\"Enforcement
  Conclusions\";s:4:\"type\";s:5:\"array\";}s:10:\"Facilities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/crs1_Facilities\";}s:5:\"title\";s:10:\"Facilities\";s:4:\"type\";s:5:\"array\";}s:15:\"LawsAndSections\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/crs1_LawsAndSections\";}s:5:\"title\";s:17:\"Laws
  And Sections\";s:4:\"type\";s:5:\"array\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:10:\"Pollutants\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/crs1_Pollutants\";}s:5:\"title\";s:10:\"Pollutants\";s:4:\"type\";s:5:\"array\";}s:12:\"ProgramLinks\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/crs1_ProgramLinks\";}s:5:\"title\";s:13:\"Program
  Links\";s:4:\"type\";s:5:\"array\";}s:17:\"RelatedActivities\";O:8:\"stdClass\":4:{s:11:\"description\";s:174:\"This
  section provides an Activity Type description and date for other ICIS activities
  (e.g., inspections, or compliance assistance) that are linked to the enforcement
  action.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/crs1_RelatedActivities\";}s:5:\"title\";s:18:\"Related
  Activities\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:12:{i:0;s:7:\"Message\";i:1;s:15:\"CaseInformation\";i:2;s:15:\"LawsAndSections\";i:3;s:9:\"Citations\";i:4;s:12:\"ProgramLinks\";i:5;s:10:\"Facilities\";i:6;s:10:\"Defendants\";i:7;s:14:\"CaseMilestones\";i:8;s:10:\"Pollutants\";i:9;s:17:\"RelatedActivities\";i:10;s:22:\"EnforcementConclusions\";i:11;s:13:\"CAEDDocuments\";}s:4:\"type\";s:6:\"object\";}s:38:\"crs1_SupplementalEnvironmentalProjects\";O:8:\"stdClass\":5:{s:11:\"description\";s:358:\"As
  part of a settlement, a defendant may voluntarily agree to undertake an environmentally
  beneficial project (Supplement Environmental Project) related to the violation in
  exchange for mitigation of the penalty to be paid. It does not include activities
  a defendant must take to return to compliance with the law. A single settlement
  may have multiple SEPs.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"Category\";O:8:\"stdClass\":3:{s:11:\"description\";s:233:\"A
  code that uniquely identifies a category of Supplemental Environment Project (SEP)
  for a settlement (e.g., Assessments and Audits, Environmental Compliance Promotion,
  Emergency Planning and Preparedness, Environmental Restoration).\";s:5:\"title\";s:8:\"Category\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"A
  description of the category of Supplemental Environment Project (SEP) for a settlement.\";s:5:\"title\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:9:\"SEPAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"The
  cost applied to the type(s) of environmentally beneficial projects which a defendant/respondent
  agree to undertake in settlement of an enforcement action, but which the defendant/respondent
  is not otherwise legally required to perform.\";s:5:\"title\";s:42:\"Supplemental
  Environmental Projects Amount\";s:4:\"type\";s:6:\"string\";}s:5:\"SEPId\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  system-generated unique identifier of the SEP record affiliated with the Environmental
  Impact.\";s:5:\"title\";s:38:\"Supplemental Environmental Projects ID\";s:4:\"type\";s:6:\"string\";}s:7:\"SEPText\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  free-form textual description used to further describe the SEP.\";s:5:\"title\";s:41:\"Supplemental
  Environmental Projects Text'\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:8:\"Category\";i:1;s:11:\"Description\";i:2;s:5:\"SEPId\";i:3;s:7:\"SEPText\";i:4;s:9:\"SEPAmount\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:32:\"SupplementalEnvironmentalProject\";}}s:12:\"crs2_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  data returned by the service call.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"AFRRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Displays
  the number of Administrative Formal cases within the search results.\";s:7:\"example\";s:1:\"5\";s:4:\"type\";s:6:\"string\";}s:5:\"Cases\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"A
  summary of the violation(s), environmental problem(s), and a description of the
  cause of action.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/crs0_Cases\";}s:5:\"title\";s:5:\"Cases\";s:4:\"type\";s:5:\"array\";}s:12:\"CriminalRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Displays
  the number of criminal enforcement cases within the search results.\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:23:\"Count
  of Criminal Cases\";s:4:\"type\";s:6:\"string\";}s:10:\"FedPenRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Displays
  the number of cases with federal penalty assessed greater than $0.\";s:7:\"example\";s:1:\"3\";s:4:\"type\";s:6:\"string\";}s:7:\"JDCRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Displays
  the number of Judicial cases within the search results.\";s:7:\"example\";s:1:\"2\";s:5:\"title\";s:24:\"Judicial
  Cases Row Count\";s:4:\"type\";s:6:\"string\";}s:9:\"MapOutput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/crs0_MapOutput\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:6:\"PageNo\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  number of pages of results returned\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:11:\"Page
  Number\";s:4:\"type\";s:6:\"string\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";s:7:\"example\";s:3:\"245\";s:5:\"title\";s:16:\"Query
  Identifier\";s:4:\"type\";s:6:\"string\";}s:9:\"QueryRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Number
  of query results returned\";s:7:\"example\";s:1:\"5\";s:5:\"title\";s:15:\"Query
  Row Count\";s:4:\"type\";s:6:\"string\";}s:7:\"SEPRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Displays
  the number of cases with SEP amount greater than $0.\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:7:\"Message\";i:1;s:9:\"QueryRows\";i:2;s:7:\"JDCRows\";i:3;s:7:\"AFRRows\";i:4;s:10:\"FedPenRows\";i:5;s:7:\"SEPRows\";i:6;s:12:\"CriminalRows\";i:7;s:7:\"QueryID\";i:8;s:6:\"PageNo\";}s:4:\"type\";s:6:\"object\";}s:17:\"crs3_CRDefendants\";O:8:\"stdClass\":5:{s:11:\"description\";s:107:\"Provides
  identifying information about the defendants and courts involved in the criminal
  enforcement case.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"DefendantType\";O:8:\"stdClass\":4:{s:11:\"description\";s:212:\"The
  role of each defendant in the criminal enforcement case, either Principal Defendant
  or Defendant. Multiple defendants (up to fourteen) may be associated with one case,
  but only one is designated as principal.\";s:7:\"example\";s:19:\"Principal Defendant\";s:5:\"title\";s:14:\"Defendent
  Type\";s:4:\"type\";s:6:\"string\";}s:8:\"District\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"The
  United States district courts are the trial courts of the federal court system.\";s:7:\"example\";s:4:\"S.D.\";s:5:\"title\";s:14:\"Court
  District\";s:4:\"type\";s:6:\"string\";}s:12:\"DocketNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:203:\"The
  number the Clerk of the Court assigned to the case that is filed or to a consent
  decree when it is lodged. For administrative cases, this number is assigned to the
  case by the Regional Hearing Clerk.\";s:7:\"example\";s:16:\"04-20324-CR-FOOO\";s:5:\"title\";s:19:\"Court
  Docket Number\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":4:{s:11:\"description\";s:203:\"The
  name of the case assigned to the enforcement action by the lead attorney. Generally,
  the primary defendant's name is used as the case name. For civil CERCLA cases, the
  facility/site name may be used.\";s:7:\"example\";s:15:\"George D. Smith\";s:5:\"title\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:5:\"State\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"The
  two letter abbreviation that represents the state or state equivalent for the U.S.\";s:7:\"example\";s:2:\"FL\";s:5:\"title\";s:5:\"State\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:4:\"Name\";i:1;s:13:\"DefendantType\";i:2;s:8:\"District\";i:3;s:5:\"State\";i:4;s:12:\"DocketNumber\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"CRDefendants\";}}s:14:\"crs3_CRDetails\";O:8:\"stdClass\":5:{s:11:\"description\";s:237:\"A
  list of the violation(s), environmental problem(s), and a description of the cause
  of action organized by date of occurrence. The case details walk through each step
  of the case activities and displayed the date on which each occurred.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"DetailCitations\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"The
  corresponding regulation in the Code of Federal Regulations (CFR) or U.S. Code (U.S.C.)
  associated with the enforcement action case detail.\";s:5:\"title\";s:16:\"Detail
  Citations\";s:4:\"type\";s:6:\"string\";}s:10:\"DetailDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  date associated with an enforcement action case detail.\";s:7:\"example\";s:9:\"01-APR-02\";s:5:\"title\";s:11:\"Detail
  Date\";s:4:\"type\";s:6:\"string\";}s:10:\"DetailDesc\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  description of an enforcement action case detail.\";s:5:\"title\";s:18:\"Detail
  Description\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"DetailDate\";i:1;s:10:\"DetailDesc\";i:2;s:15:\"DetailCitations\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"CRDetails\";}}s:20:\"crs3_CaseInformation\";O:8:\"stdClass\":5:{s:11:\"description\";s:148:\"The
  basic information section contains information that identifies the action and some
  key descriptive variables, such as case status and case type.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"CaseIdentifier\";O:8:\"stdClass\":4:{s:11:\"description\";s:319:\"A
  unique number identifying the enforcement action. For EPA civil cases, these numbers
  begin with either the two digit EPA Region Code, \"HQ\" (headquarters initiated
  cases), and \"EF\" or \"WF\" (Eastern or Western Field Office CAA Mobile Source
  Program cases); followed by the fiscal year in which the action was initiated.\";s:7:\"example\";s:4:\"1000\";s:5:\"title\";s:15:\"Case
  Identifier\";s:4:\"type\";s:6:\"string\";}s:11:\"CaseSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:284:\"The
  summary of the violation environmental problem and a description of the cause of
  action (basis of legal action).  The summary could be extracted from the referral
  transmission memo or letter or it could be required as the first section of a revised
  standardized referral document.\";s:5:\"title\";s:12:\"Case Summary\";s:4:\"type\";s:6:\"string\";}s:9:\"Citations\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  corresponding regulation in the Code of Federal Regulations (CFR) or U.S. Code (U.S.C.)
  associated with the enforcement action.\";s:5:\"title\";s:9:\"Citations\";s:4:\"type\";s:6:\"string\";}s:10:\"FiscalYear\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  fiscal year in which the activity occurred.\";s:7:\"example\";s:4:\"2004\";s:5:\"title\";s:11:\"Fiscal
  Year\";s:4:\"type\";s:6:\"string\";}s:8:\"Statutes\";O:8:\"stdClass\":4:{s:11:\"description\";s:3:\"???\";s:7:\"example\";s:27:\"Title
  18 U.S. Criminal Code\";s:5:\"title\";s:9:\"Statuetes\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:14:\"CaseIdentifier\";i:1;s:10:\"FiscalYear\";i:2;s:8:\"Statutes\";i:3;s:9:\"Citations\";i:4;s:11:\"CaseSummary\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"CRCaseInformation\";}}s:14:\"crs3_Locations\";O:8:\"stdClass\":5:{s:11:\"description\";s:82:\"This
  section provides geographic locational information for the criminal activity.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"City\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"The
  name of the city, town, village or other locality, when identifiable, within whose
  boundaries (the majority of) the facility site is located. This is not always the
  same as the city used for USPS mail delivery.\";s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:6:\"County\";O:8:\"stdClass\":3:{s:11:\"description\";s:245:\"The
  name of the county, when identifiable, within whose boundaries (the majority of)
  the criminal activity was located. The county was derived in ECHO based on the latitude
  and longitude provided in the Summary of Criminal Prosecutions database.\";s:5:\"title\";s:6:\"County\";s:4:\"type\";s:6:\"string\";}s:9:\"EPARegion\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  EPA region in which the facility is located\";s:7:\"example\";s:2:\"04\";s:5:\"title\";s:10:\"EPA
  Region\";s:4:\"type\";s:6:\"string\";}s:8:\"Latitude\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"The
  latitude of the facility or permit holder as maintained in each data system.\";s:7:\"example\";s:9:\"34.606651\";s:6:\"format\";s:6:\"double\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:9:\"Longitude\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"The
  longitude of the facility or permit holder as maintained in each data system\";s:7:\"example\";s:10:\"-86.982419\";s:6:\"format\";s:6:\"double\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:5:\"State\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"The
  two letter abbreviation that represents the state or state equivalent for the U.S.\";s:7:\"example\";s:2:\"FL\";s:5:\"title\";s:5:\"State\";s:4:\"type\";s:6:\"string\";}s:3:\"Zip\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"US
  postal ZIP code, as maintained by ICIS.\";s:7:\"example\";s:5:\"53140\";s:5:\"title\";s:8:\"Zip
  Code\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:4:\"City\";i:1;s:5:\"State\";i:2;s:6:\"County\";i:3;s:3:\"Zip\";i:4;s:9:\"EPARegion\";i:5;s:8:\"Latitude\";i:6;s:9:\"Longitude\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Locations\";}}s:12:\"crs3_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  data returned by the service call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"CRCaseInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/crs3_CaseInformation\";}s:12:\"CRDefendants\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/crs3_CRDefendants\";}s:5:\"title\";s:36:\"Criminal
  Enforcement Case Defendants\";s:4:\"type\";s:5:\"array\";}s:9:\"CRDetails\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/crs3_CRDetails\";}s:5:\"title\";s:21:\"Criminal
  Case Details\";s:4:\"type\";s:5:\"array\";}s:9:\"Locations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/crs3_Locations\";}s:5:\"title\";s:9:\"Locations\";s:4:\"type\";s:5:\"array\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
[...]
