---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:73:\"U.S. EPA Enforcement and
  Compliance History Online (ECHO) - Clean Air Act\";s:11:\"description\";s:2003:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated
  compliance and enforcement information for over 1 million regulated facilities nationwide.\n\nAir
  Rest Services provides multiple service endpoints, each with specific capabilities,
  to search and retrieve data on facilities regulated under the Clean Air Act (CAA).
  The returned results reflect data drawn from EPA's ICIS-Air database.\n\nThe get_facilities,
  get_map, get_qid, and get_download end points are meant to be used together, while
  the enhanced get_facility_info end point is self contained.\nThe get_facility_info
  end point returns either an array of state, county or zip clusters with summary
  statistics per cluster or an array of facilities.\n\nThe recommended use scenario
  for get_facilities, get_qid, get_map, and get_downoad is:\n\n<b>1)</b>  Use get_facilities
  to validate passed query parameters, obtain summary statistics and to obtain a query_id
  (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.\n<b>2)</b>
  \ Use get_qid, with the returned QID, to paginate through arrays of facility results.\n<b>3)</b>
  \ Use get_map, with the returned QID, to zoom in/out and pan on the clustered and
  individual facility coordinates that meet the QID query criteria.\n<b>4)</b>  Use
  get_download, with the returned QID, to generate a Comma Separated Value (CSV) file
  of facility information that meets the QID query criteria.\n\nUse the qcolumns parameter
  to customize your search results.  Use the Metdata service endpoint for a list of
  available output objects, their Column Ids, and their definitions to help you build
  your customized output. \n\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web
  Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About
  ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US
  EPA, OECA Integration, Targeting and Access Branch\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:7:\"version\";s:5:\"0.0.0\";}"
host: ofmpub.epa.gov
basePath: /echo
paths:
  /air_rest_services.get_facilities:
    get:
      summary: Clean Air Act Facility Search
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.p_fn'
      - $ref: '#/parameters/q.p_sa'
      - $ref: '#/parameters/q.p_sa1'
      - $ref: '#/parameters/q.p_ct'
      - $ref: '#/parameters/q.p_co'
      - $ref: '#/parameters/q.p_fips'
      - $ref: '#/parameters/q.p_st'
      - $ref: '#/parameters/q.p_zip'
      - $ref: '#/parameters/q.p_lcon'
      - $ref: '#/parameters/q.p_frs'
      - $ref: '#/parameters/q.p_reg'
      - $ref: '#/parameters/q.p_sic'
      - $ref: '#/parameters/q.p_ncs'
      - $ref: '#/parameters/q.p_qnc'
      - $ref: '#/parameters/q.p_pen'
      - $ref: '#/parameters/q.p_opst'
      - $ref: '#/parameters/q.p_c1lat'
      - $ref: '#/parameters/q.p_c1lon'
      - $ref: '#/parameters/q.p_c2lat'
      - $ref: '#/parameters/q.p_c2lon'
      - $ref: '#/parameters/q.p_usmex'
      - $ref: '#/parameters/q.p_sic2'
      - $ref: '#/parameters/q.p_sic4'
      - $ref: '#/parameters/q.p_fa'
      - $ref: '#/parameters/q.p_act'
      - $ref: '#/parameters/q.p_maj'
      - $ref: '#/parameters/q.p_mact'
      - $ref: '#/parameters/q.p_nsps'
      - $ref: '#/parameters/q.p_nspsm'
      - $ref: '#/parameters/q.p_prog'
      - $ref: '#/parameters/q.p_fea'
      - $ref: '#/parameters/q.p_feay'
      - $ref: '#/parameters/q.p_feaa'
      - $ref: '#/parameters/q.p_iea'
      - $ref: '#/parameters/q.p_ieay'
      - $ref: '#/parameters/q.p_ieaa'
      - $ref: '#/parameters/q.p_qiv'
      - $ref: '#/parameters/q.p_naa'
      - $ref: '#/parameters/q.p_impw'
      - $ref: '#/parameters/q.p_trep'
      - $ref: '#/parameters/q.p_tri_cat'
      - $ref: '#/parameters/q.p_tri_amt'
      - $ref: '#/parameters/q.p_tri_any_amt'
      - $ref: '#/parameters/q.p_tri_pol'
      - $ref: '#/parameters/q.p_ghg_cat'
      - $ref: '#/parameters/q.p_ghg_amt'
      - $ref: '#/parameters/q.p_ghg_any_amt'
      - $ref: '#/parameters/q.p_ghg_yr'
      - $ref: '#/parameters/q.p_nei_pol'
      - $ref: '#/parameters/q.p_nei_amt'
      - $ref: '#/parameters/q.p_nei_any_amt'
      - $ref: '#/parameters/q.p_nei_yr'
      - $ref: '#/parameters/q.p_nei_cat'
      - $ref: '#/parameters/q.p_pm'
      - $ref: '#/parameters/q.p_pd'
      - $ref: '#/parameters/q.p_ico'
      - $ref: '#/parameters/q.p_huc'
      - $ref: '#/parameters/q.p_wbd'
      - $ref: '#/parameters/q.p_pid'
      - $ref: '#/parameters/q.p_med'
      - $ref: '#/parameters/q.p_ysl'
      - $ref: '#/parameters/q.p_ysly'
      - $ref: '#/parameters/q.p_ysla'
      - $ref: '#/parameters/q.p_stsl'
      - $ref: '#/parameters/q.p_stsly'
      - $ref: '#/parameters/q.p_stsla'
      - $ref: '#/parameters/q.p_stres'
      - $ref: '#/parameters/q.p_sttyp'
      - $ref: '#/parameters/q.p_qs'
      - $ref: '#/parameters/q.p_sfs'
      - $ref: '#/parameters/q.p_tribeid'
      - $ref: '#/parameters/q.p_tribename'
      - $ref: '#/parameters/q.p_tribedist'
      - $ref: '#/parameters/q.p_owop'
      - $ref: '#/parameters/q.p_agoo'
      - $ref: '#/parameters/q.p_idt1'
      - $ref: '#/parameters/q.p_idt2'
      - $ref: '#/parameters/q.p_stdt1'
      - $ref: '#/parameters/q.p_stdt2'
      - $ref: '#/parameters/q.p_pityp'
      - $ref: '#/parameters/q.p_cifdi'
      - $ref: '#/parameters/q.p_pfead1'
      - $ref: '#/parameters/q.p_pfead2'
      - $ref: '#/parameters/q.p_pfeat'
      - $ref: '#/parameters/q.p_psncq'
      - $ref: '#/parameters/q.p_pctrack'
      - $ref: '#/parameters/q.p_swpa'
      - $ref: '#/parameters/q.p_des'
      - $ref: '#/parameters/q.p_fntype'
      - $ref: '#/parameters/q.p_hpvmth'
      - $ref: '#/parameters/q.p_recvio'
      - $ref: '#/parameters/q.p_pollvio'
      - $ref: '#/parameters/q.p_ar'
      - $ref: '#/parameters/q.p_tri_yr'
      - $ref: '#/parameters/q.p_pidall'
      - $ref: '#/parameters/q.p_fac_ico'
      - $ref: '#/parameters/q.p_icoo'
      - $ref: '#/parameters/q.p_fac_icos'
      - $ref: '#/parameters/q.p_ejscreen'
      - $ref: '#/parameters/q.p_limit_addr'
      - $ref: '#/parameters/q.p_lat'
      - $ref: '#/parameters/q.p_long'
      - $ref: '#/parameters/q.p_radius'
      - $ref: '#/parameters/q.p_decouple'
      - $ref: '#/parameters/q.p_ejscreen_over80cnt'
      - $ref: '#/parameters/q.queryset'
      - $ref: '#/parameters/q.responseset'
      - $ref: '#/parameters/q.tablelist'
      - $ref: '#/parameters/q.maplist'
      - $ref: '#/parameters/q.summarylist'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.qcolumns'
      tags:
      - Facilities
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/air05'
            required:
            - Results
    post:
      summary: Clean Air Act Facility Search
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.p_fn'
      - $ref: '#/parameters/f.p_sa'
      - $ref: '#/parameters/f.p_sa1'
      - $ref: '#/parameters/f.p_ct'
      - $ref: '#/parameters/f.p_co'
      - $ref: '#/parameters/f.p_fips'
      - $ref: '#/parameters/f.p_st'
      - $ref: '#/parameters/f.p_zip'
      - $ref: '#/parameters/f.p_lcon'
      - $ref: '#/parameters/f.p_frs'
      - $ref: '#/parameters/f.p_reg'
      - $ref: '#/parameters/f.p_sic'
      - $ref: '#/parameters/f.p_ncs'
      - $ref: '#/parameters/f.p_qnc'
      - $ref: '#/parameters/f.p_pen'
      - $ref: '#/parameters/f.p_opst'
      - $ref: '#/parameters/f.p_c1lat'
      - $ref: '#/parameters/f.p_c1lon'
      - $ref: '#/parameters/f.p_c2lat'
      - $ref: '#/parameters/f.p_c2lon'
      - $ref: '#/parameters/f.p_usmex'
      - $ref: '#/parameters/f.p_sic2'
      - $ref: '#/parameters/f.p_sic4'
      - $ref: '#/parameters/f.p_fa'
      - $ref: '#/parameters/f.p_act'
      - $ref: '#/parameters/f.p_maj'
      - $ref: '#/parameters/f.p_mact'
      - $ref: '#/parameters/f.p_nsps'
      - $ref: '#/parameters/f.p_nspsm'
      - $ref: '#/parameters/f.p_prog'
      - $ref: '#/parameters/f.p_fea'
      - $ref: '#/parameters/f.p_feay'
      - $ref: '#/parameters/f.p_feaa'
      - $ref: '#/parameters/f.p_iea'
      - $ref: '#/parameters/f.p_ieay'
      - $ref: '#/parameters/f.p_ieaa'
      - $ref: '#/parameters/f.p_qiv'
      - $ref: '#/parameters/f.p_naa'
      - $ref: '#/parameters/f.p_impw'
      - $ref: '#/parameters/f.p_trep'
      - $ref: '#/parameters/f.p_tri_cat'
      - $ref: '#/parameters/f.p_tri_amt'
      - $ref: '#/parameters/f.p_tri_any_amt'
      - $ref: '#/parameters/f.p_tri_pol'
      - $ref: '#/parameters/f.p_ghg_cat'
      - $ref: '#/parameters/f.p_ghg_amt'
      - $ref: '#/parameters/f.p_ghg_any_amt'
      - $ref: '#/parameters/f.p_ghg_yr'
      - $ref: '#/parameters/f.p_nei_pol'
      - $ref: '#/parameters/f.p_nei_amt'
      - $ref: '#/parameters/f.p_nei_any_amt'
      - $ref: '#/parameters/f.p_nei_yr'
      - $ref: '#/parameters/f.p_nei_cat'
      - $ref: '#/parameters/f.p_pm'
      - $ref: '#/parameters/f.p_pd'
      - $ref: '#/parameters/f.p_ico'
      - $ref: '#/parameters/f.p_huc'
      - $ref: '#/parameters/f.p_wbd'
      - $ref: '#/parameters/f.p_pid'
      - $ref: '#/parameters/f.p_med'
      - $ref: '#/parameters/f.p_ysl'
      - $ref: '#/parameters/f.p_ysly'
      - $ref: '#/parameters/f.p_ysla'
      - $ref: '#/parameters/f.p_stsl'
      - $ref: '#/parameters/f.p_stsly'
      - $ref: '#/parameters/f.p_stsla'
      - $ref: '#/parameters/f.p_stres'
      - $ref: '#/parameters/f.p_sttyp'
      - $ref: '#/parameters/f.p_qs'
      - $ref: '#/parameters/f.p_sfs'
      - $ref: '#/parameters/f.p_tribeid'
      - $ref: '#/parameters/f.p_tribename'
      - $ref: '#/parameters/f.p_tribedist'
      - $ref: '#/parameters/f.p_owop'
      - $ref: '#/parameters/f.p_agoo'
      - $ref: '#/parameters/f.p_idt1'
      - $ref: '#/parameters/f.p_idt2'
      - $ref: '#/parameters/f.p_stdt1'
      - $ref: '#/parameters/f.p_stdt2'
      - $ref: '#/parameters/f.p_pityp'
      - $ref: '#/parameters/f.p_cifdi'
      - $ref: '#/parameters/f.p_pfead1'
      - $ref: '#/parameters/f.p_pfead2'
      - $ref: '#/parameters/f.p_pfeat'
      - $ref: '#/parameters/f.p_psncq'
      - $ref: '#/parameters/f.p_pctrack'
      - $ref: '#/parameters/f.p_swpa'
      - $ref: '#/parameters/f.p_des'
      - $ref: '#/parameters/f.p_fntype'
      - $ref: '#/parameters/f.p_hpvmth'
      - $ref: '#/parameters/f.p_recvio'
      - $ref: '#/parameters/f.p_pollvio'
      - $ref: '#/parameters/f.p_ar'
      - $ref: '#/parameters/f.p_tri_yr'
      - $ref: '#/parameters/f.p_pidall'
      - $ref: '#/parameters/f.p_fac_ico'
      - $ref: '#/parameters/f.p_icoo'
      - $ref: '#/parameters/f.p_fac_icos'
      - $ref: '#/parameters/f.p_ejscreen'
      - $ref: '#/parameters/f.p_limit_addr'
      - $ref: '#/parameters/f.p_lat'
      - $ref: '#/parameters/f.p_long'
      - $ref: '#/parameters/f.p_radius'
      - $ref: '#/parameters/f.p_decouple'
      - $ref: '#/parameters/f.p_ejscreen_over80cnt'
      - $ref: '#/parameters/f.queryset'
      - $ref: '#/parameters/f.responseset'
      - $ref: '#/parameters/f.tablelist'
      - $ref: '#/parameters/f.maplist'
      - $ref: '#/parameters/f.summarylist'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.qcolumns'
      tags:
      - Facilities
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/air05'
            required:
            - Results
  /air_rest_services.get_facility_info:
    get:
      summary: Clean Air Act Facility Enhanced Search
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/q.p_fn'
      - $ref: '#/parameters/q.p_sa'
      - $ref: '#/parameters/q.p_sa1'
      - $ref: '#/parameters/q.p_ct'
      - $ref: '#/parameters/q.p_co'
      - $ref: '#/parameters/q.p_fips'
      - $ref: '#/parameters/q.p_st'
      - $ref: '#/parameters/q.p_zip'
      - $ref: '#/parameters/q.p_lcon'
      - $ref: '#/parameters/q.p_frs'
      - $ref: '#/parameters/q.p_reg'
      - $ref: '#/parameters/q.p_sic'
      - $ref: '#/parameters/q.p_ncs'
      - $ref: '#/parameters/q.p_qnc'
      - $ref: '#/parameters/q.p_pen'
      - $ref: '#/parameters/q.p_opst'
      - $ref: '#/parameters/q.xmin'
      - $ref: '#/parameters/q.ymin'
      - $ref: '#/parameters/q.xmax'
      - $ref: '#/parameters/q.ymax'
      - $ref: '#/parameters/q.p_usmex'
      - $ref: '#/parameters/q.p_sic2'
      - $ref: '#/parameters/q.p_sic4'
      - $ref: '#/parameters/q.p_fa'
      - $ref: '#/parameters/q.p_act'
      - $ref: '#/parameters/q.p_maj'
      - $ref: '#/parameters/q.p_mact'
      - $ref: '#/parameters/q.p_nsps'
      - $ref: '#/parameters/q.p_nspsm'
      - $ref: '#/parameters/q.p_prog'
      - $ref: '#/parameters/q.p_fea'
      - $ref: '#/parameters/q.p_feay'
      - $ref: '#/parameters/q.p_feaa'
      - $ref: '#/parameters/q.p_iea'
      - $ref: '#/parameters/q.p_ieay'
      - $ref: '#/parameters/q.p_ieaa'
      - $ref: '#/parameters/q.p_qiv'
      - $ref: '#/parameters/q.p_naa'
      - $ref: '#/parameters/q.p_impw'
      - $ref: '#/parameters/q.p_trep'
      - $ref: '#/parameters/q.p_tri_cat'
      - $ref: '#/parameters/q.p_tri_amt'
      - $ref: '#/parameters/q.p_tri_any_amt'
      - $ref: '#/parameters/q.p_tri_pol'
      - $ref: '#/parameters/q.p_ghg_cat'
      - $ref: '#/parameters/q.p_ghg_amt'
      - $ref: '#/parameters/q.p_ghg_any_amt'
      - $ref: '#/parameters/q.p_ghg_yr'
      - $ref: '#/parameters/q.p_nei_pol'
      - $ref: '#/parameters/q.p_nei_amt'
      - $ref: '#/parameters/q.p_nei_any_amt'
      - $ref: '#/parameters/q.p_nei_yr'
      - $ref: '#/parameters/q.p_nei_cat'
      - $ref: '#/parameters/q.p_pm'
      - $ref: '#/parameters/q.p_pd'
      - $ref: '#/parameters/q.p_ico'
      - $ref: '#/parameters/q.p_huc'
      - $ref: '#/parameters/q.p_wbd'
      - $ref: '#/parameters/q.p_pid'
      - $ref: '#/parameters/q.p_med'
      - $ref: '#/parameters/q.p_ysl'
      - $ref: '#/parameters/q.p_ysly'
      - $ref: '#/parameters/q.p_ysla'
      - $ref: '#/parameters/q.p_stsl'
      - $ref: '#/parameters/q.p_stsly'
      - $ref: '#/parameters/q.p_stsla'
      - $ref: '#/parameters/q.p_stres'
      - $ref: '#/parameters/q.p_sttyp'
      - $ref: '#/parameters/q.p_qs'
      - $ref: '#/parameters/q.p_sfs'
      - $ref: '#/parameters/q.p_tribeid'
      - $ref: '#/parameters/q.p_tribename'
      - $ref: '#/parameters/q.p_tribedist'
      - $ref: '#/parameters/q.p_owop'
      - $ref: '#/parameters/q.p_agoo'
      - $ref: '#/parameters/q.p_idt1'
      - $ref: '#/parameters/q.p_idt2'
      - $ref: '#/parameters/q.p_stdt1'
      - $ref: '#/parameters/q.p_stdt2'
      - $ref: '#/parameters/q.p_pityp'
      - $ref: '#/parameters/q.p_cifdi'
      - $ref: '#/parameters/q.p_pfead1'
      - $ref: '#/parameters/q.p_pfead2'
      - $ref: '#/parameters/q.p_pfeat'
      - $ref: '#/parameters/q.p_psncq'
      - $ref: '#/parameters/q.p_pctrack'
      - $ref: '#/parameters/q.p_swpa'
      - $ref: '#/parameters/q.p_des'
      - $ref: '#/parameters/q.p_fntype'
      - $ref: '#/parameters/q.p_hpvmth'
      - $ref: '#/parameters/q.p_recvio'
      - $ref: '#/parameters/q.p_pollvio'
      - $ref: '#/parameters/q.p_ar'
      - $ref: '#/parameters/q.p_tri_yr'
      - $ref: '#/parameters/q.p_pidall'
      - $ref: '#/parameters/q.p_fac_ico'
      - $ref: '#/parameters/q.p_icoo'
      - $ref: '#/parameters/q.p_fac_icos'
      - $ref: '#/parameters/q.p_ejscreen'
      - $ref: '#/parameters/q.p_limit_addr'
      - $ref: '#/parameters/q.p_lat'
      - $ref: '#/parameters/q.p_long'
      - $ref: '#/parameters/q.p_radius'
      - $ref: '#/parameters/q.p_decouple'
      - $ref: '#/parameters/q.p_ejscreen_over80cnt'
      - $ref: '#/parameters/q.queryset'
      - $ref: '#/parameters/q.responseset'
      - $ref: '#/parameters/q.summarylist'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.qcolumns'
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facilities
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The search will return clusters if the number of facilities
            returned is greater than the resposeset size, otherwise individual facility
            records will be returned.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/air08'
            required:
            - Results
    post:
      summary: Clean Air Act Facility Enhanced Search
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/f.p_fn'
      - $ref: '#/parameters/f.p_sa'
      - $ref: '#/parameters/f.p_sa1'
      - $ref: '#/parameters/f.p_ct'
      - $ref: '#/parameters/f.p_co'
      - $ref: '#/parameters/f.p_fips'
      - $ref: '#/parameters/f.p_st'
      - $ref: '#/parameters/f.p_zip'
      - $ref: '#/parameters/f.p_lcon'
      - $ref: '#/parameters/f.p_frs'
      - $ref: '#/parameters/f.p_reg'
      - $ref: '#/parameters/f.p_sic'
      - $ref: '#/parameters/f.p_ncs'
      - $ref: '#/parameters/f.p_qnc'
      - $ref: '#/parameters/f.p_pen'
      - $ref: '#/parameters/f.p_opst'
      - $ref: '#/parameters/f.xmin'
      - $ref: '#/parameters/f.ymin'
      - $ref: '#/parameters/f.xmax'
      - $ref: '#/parameters/f.ymax'
      - $ref: '#/parameters/f.p_usmex'
      - $ref: '#/parameters/f.p_sic2'
      - $ref: '#/parameters/f.p_sic4'
      - $ref: '#/parameters/f.p_fa'
      - $ref: '#/parameters/f.p_act'
      - $ref: '#/parameters/f.p_maj'
      - $ref: '#/parameters/f.p_mact'
      - $ref: '#/parameters/f.p_nsps'
      - $ref: '#/parameters/f.p_nspsm'
      - $ref: '#/parameters/f.p_prog'
      - $ref: '#/parameters/f.p_fea'
      - $ref: '#/parameters/f.p_feay'
      - $ref: '#/parameters/f.p_feaa'
      - $ref: '#/parameters/f.p_iea'
      - $ref: '#/parameters/f.p_ieay'
      - $ref: '#/parameters/f.p_ieaa'
      - $ref: '#/parameters/f.p_qiv'
      - $ref: '#/parameters/f.p_naa'
      - $ref: '#/parameters/f.p_impw'
      - $ref: '#/parameters/f.p_trep'
      - $ref: '#/parameters/f.p_tri_cat'
      - $ref: '#/parameters/f.p_tri_amt'
      - $ref: '#/parameters/f.p_tri_any_amt'
      - $ref: '#/parameters/f.p_tri_pol'
      - $ref: '#/parameters/f.p_ghg_cat'
      - $ref: '#/parameters/f.p_ghg_amt'
      - $ref: '#/parameters/f.p_ghg_any_amt'
      - $ref: '#/parameters/f.p_ghg_yr'
      - $ref: '#/parameters/f.p_nei_pol'
      - $ref: '#/parameters/f.p_nei_amt'
      - $ref: '#/parameters/f.p_nei_any_amt'
      - $ref: '#/parameters/f.p_nei_yr'
      - $ref: '#/parameters/f.p_nei_cat'
      - $ref: '#/parameters/f.p_pm'
      - $ref: '#/parameters/f.p_pd'
      - $ref: '#/parameters/f.p_ico'
      - $ref: '#/parameters/f.p_huc'
      - $ref: '#/parameters/f.p_wbd'
      - $ref: '#/parameters/f.p_pid'
      - $ref: '#/parameters/f.p_med'
      - $ref: '#/parameters/f.p_ysl'
      - $ref: '#/parameters/f.p_ysly'
      - $ref: '#/parameters/f.p_ysla'
      - $ref: '#/parameters/f.p_stsl'
      - $ref: '#/parameters/f.p_stsly'
      - $ref: '#/parameters/f.p_stsla'
      - $ref: '#/parameters/f.p_stres'
      - $ref: '#/parameters/f.p_sttyp'
      - $ref: '#/parameters/f.p_qs'
      - $ref: '#/parameters/f.p_sfs'
      - $ref: '#/parameters/f.p_tribeid'
      - $ref: '#/parameters/f.p_tribename'
      - $ref: '#/parameters/f.p_tribedist'
      - $ref: '#/parameters/f.p_owop'
      - $ref: '#/parameters/f.p_agoo'
      - $ref: '#/parameters/f.p_idt1'
      - $ref: '#/parameters/f.p_idt2'
      - $ref: '#/parameters/f.p_stdt1'
      - $ref: '#/parameters/f.p_stdt2'
      - $ref: '#/parameters/f.p_pityp'
      - $ref: '#/parameters/f.p_cifdi'
      - $ref: '#/parameters/f.p_pfead1'
      - $ref: '#/parameters/f.p_pfead2'
      - $ref: '#/parameters/f.p_pfeat'
      - $ref: '#/parameters/f.p_psncq'
      - $ref: '#/parameters/f.p_pctrack'
      - $ref: '#/parameters/f.p_swpa'
      - $ref: '#/parameters/f.p_des'
      - $ref: '#/parameters/f.p_fntype'
      - $ref: '#/parameters/f.p_hpvmth'
      - $ref: '#/parameters/f.p_recvio'
      - $ref: '#/parameters/f.p_pollvio'
      - $ref: '#/parameters/f.p_ar'
      - $ref: '#/parameters/f.p_tri_yr'
      - $ref: '#/parameters/f.p_pidall'
      - $ref: '#/parameters/f.p_fac_ico'
      - $ref: '#/parameters/f.p_icoo'
      - $ref: '#/parameters/f.p_fac_icos'
      - $ref: '#/parameters/f.p_ejscreen'
      - $ref: '#/parameters/f.p_limit_addr'
      - $ref: '#/parameters/f.p_lat'
      - $ref: '#/parameters/f.p_long'
      - $ref: '#/parameters/f.p_radius'
      - $ref: '#/parameters/f.p_decouple'
      - $ref: '#/parameters/f.p_ejscreen_over80cnt'
      - $ref: '#/parameters/f.queryset'
      - $ref: '#/parameters/f.responseset'
      - $ref: '#/parameters/f.summarylist'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.qcolumns'
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facilities
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The search will return clusters if the number of facilities
            returned is greater than the resposeset size, otherwise individual facility
            records will be returned.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/air08'
            required:
            - Results
  /air_rest_services.get_qid:
    get:
      summary: Clean Air Act Search by Query ID
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - $ref: '#/parameters/q.pageno'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.newsort'
      - $ref: '#/parameters/q.descending'
      - $ref: '#/parameters/q.qcolumns'
      tags:
      - Facilities
      responses:
        200:
          description: Results are an array (page)  of CAA (ICIS Air) Facilities with
            the number of facilities equal to the responseset (page size).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/air12'
            required:
            - Results
    post:
      summary: Clean Air Act Search by Query ID
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - $ref: '#/parameters/f.pageno'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.newsort'
      - $ref: '#/parameters/f.descending'
      - $ref: '#/parameters/f.qcolumns'
      tags:
      - Facilities
      responses:
        200:
          description: Results are an array (page)  of CAA (ICIS Air) Facilities with
            the number of facilities equal to the responseset (page size).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/air12'
            required:
            - Results
  /air_rest_services.get_map:
    get:
      summary: Clean Air Act Map Service
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.tablelist'
      - $ref: '#/parameters/q.c1_lat'
      - $ref: '#/parameters/q.c1_long'
      - $ref: '#/parameters/q.c2_lat'
      - $ref: '#/parameters/q.c2_long'
      - $ref: '#/parameters/q.p_id'
      tags:
      - Facilities
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              MapOutput:
                $ref: '#/definitions/air11'
            required:
            - MapOutput
    post:
      summary: Clean Air Act Map Service
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.tablelist'
      - $ref: '#/parameters/f.c1_lat'
      - $ref: '#/parameters/f.c1_long'
      - $ref: '#/parameters/f.c2_lat'
      - $ref: '#/parameters/f.c2_long'
      - $ref: '#/parameters/f.p_id'
      tags:
      - Facilities
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              MapOutput:
                $ref: '#/definitions/air11'
            required:
            - MapOutput
  /air_rest_services.get_download:
    get:
      summary: Clean Air Act Download Data Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma sepated vaule (CSV) file of the facilities found.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - $ref: '#/parameters/q.qcolumns'
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facilities
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
    post:
      summary: Clean Air Act Download Data Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma sepated vaule (CSV) file of the facilities found.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - $ref: '#/parameters/f.qcolumns'
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facilities
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
  /air_rest_services.get_info_clusters:
    get:
      summary: Clean Air Act Info Clusters Service
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/q.p_qid'
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facilities
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
    post:
      summary: Clean Air Act Info Clusters Service
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/f.p_qid'
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facilities
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
  /air_rest_services.get_geojson:
    get:
      summary: Clean Air Act GeoJSON Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.newsort'
      - $ref: '#/parameters/q.descending'
      - $ref: '#/parameters/q.qcolumns'
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facilities
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            type: object
            description: GeoJSON Feature Collection Object
            properties:
              type:
                type: string
                title: Feature Collection
                example: FeatureCollection
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
              features:
                type: array
                title: Features Array
                description: Array of features in the feature collection.
                items:
                  $ref: '#/definitions/air09'
            required:
            - type
            - features
    post:
      summary: Clean Air Act GeoJSON Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.newsort'
      - $ref: '#/parameters/f.descending'
      - $ref: '#/parameters/f.qcolumns'
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facilities
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            type: object
            description: GeoJSON Feature Collection Object
            properties:
              type:
                type: string
                title: Feature Collection
                example: FeatureCollection
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
              features:
                type: array
                title: Features Array
                description: Array of features in the feature collection.
                items:
                  $ref: '#/definitions/air09'
            required:
            - type
            - features
  /air_rest_services.metadata:
    get:
      summary: Clean Air Act Metadata Service
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.callback'
      tags:
      - Metadata
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/met1'
            required:
            - Results
    post:
      summary: Clean Air Act Metadata Service
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.callback'
      tags:
      - Metadata
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/met1'
            required:
            - Results
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:3:\"qp0\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Query
  Parameters Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Parameter\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"QP\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Query
  Parameter\";s:7:\"example\";s:6:\"output\";s:11:\"description\";s:15:\"Query parameter\";}s:2:\"QV\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Query
  Value\";s:7:\"example\";s:4:\"JSON\";s:11:\"description\";s:11:\"Query value\";}}s:8:\"required\";a:2:{i:0;s:2:\"QP\";i:1;s:2:\"QV\";}}s:5:\"air00\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Cluster
  Data Object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:8:\"ObjectId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Object
  Identifier\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:64:\"Sequential number
  assigned to each facility or cluster returned.\";}s:15:\"ClusterLatitude\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Cluster
  Latitude\";s:7:\"example\";s:9:\"38.904149\";s:11:\"description\";s:75:\"The latitude
  in decimal degrees expressed using the NAD83 horizontal datum.\";}s:16:\"ClusterLongitude\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Cluster
  Longitude\";s:7:\"example\";s:10:\"-77.017094\";s:11:\"description\";s:76:\"The
  longitude in decimal degrees expressed using the NAD83 horizontal datum.\";}s:11:\"ClusterIcon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"Cluster
  Icon\";s:11:\"description\";s:43:\"The icon file used to reprsent the cluster.\";}s:11:\"ClusterType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"Cluster
  Type\";s:11:\"description\";s:91:\"The representative geographic area used for clustering.
  \ Examples:  State, County, Zip Code\";}s:11:\"ClusterName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"Cluster
  Name\";s:11:\"description\";s:112:\"THe name or the identifier of the geographic
  area used for clustering.  Examples:  Alaska, Fairfax County, 22314\";}s:12:\"ClusterValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Cluster
  Value\";s:11:\"description\";s:166:\"The value, internal to the database report
  object, that represents this cluster, like a state abbreviation, zip code, or county
  FIPS code.  Examples: AK, 22314, 50011\";}s:12:\"ClusterCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Cluster
  Count\";s:11:\"description\";s:49:\"The number of facilities or cases in the cluster.\";}s:17:\"IndianCountryRows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Indian
  Country Row Count\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:47:\"Number
  of facilities with tribal_flag populated\";}s:13:\"EPARegionCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"EPA
  Region Code\";s:7:\"example\";s:2:\"03\";s:11:\"description\";s:133:\"The EPA region
  where the facility is located. EPA has 10 regional offices that execute programs
  within several states and territories\";}s:6:\"SVRows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"Significant
  Violation Result Count\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:87:\"Number
  of facilities with curr_sv_flag populated (CWP_STATUS = \"Significant Violation\")\";}s:6:\"CVRows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:108:\"Summary
  count of the number of CWA facilities or SDWA public drinking water systems with
  current violations.\";}s:6:\"V3Rows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:96:\"Number
  of facilities having one or more quarters in non-compliance (QNC) in the last three
  years\";}s:7:\"FEARows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:97:\"Summary
  count of the number of facilities with a formal enforcement action in the past five
  years\";}s:10:\"InfFEARows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:79:\"Number
  of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT > 0)\";}s:8:\"INSPRows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:76:\"Number
  of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)\";}s:14:\"TotalPenalties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Total
  Penalties\";s:7:\"example\";s:8:\"$963,531\";s:11:\"description\";s:94:\"The total
  dollar amount of either assessed or final penalties within the five year time period\";}}s:8:\"required\";a:17:{i:0;s:8:\"ObjectId\";i:1;s:15:\"ClusterLatitude\";i:2;s:16:\"ClusterLongitude\";i:3;s:11:\"ClusterIcon\";i:4;s:11:\"ClusterType\";i:5;s:11:\"ClusterName\";i:6;s:12:\"ClusterValue\";i:7;s:12:\"ClusterCount\";i:8;s:17:\"IndianCountryRows\";i:9;s:13:\"EPARegionCode\";i:10;s:6:\"SVRows\";i:11;s:6:\"CVRows\";i:12;s:6:\"V3Rows\";i:13;s:7:\"FEARows\";i:14;s:10:\"InfFEARows\";i:15;s:8:\"INSPRows\";i:16;s:14:\"TotalPenalties\";}}s:5:\"air01\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"Cluster
  Output Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"ClusterData\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:12:\"Cluster
  Data\";s:11:\"description\";s:58:\"An array of state, county, or zip code cluster
  information\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/air00\";}}}}s:5:\"air02\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:15:\"Map
  Data Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:6:\"Object\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"LAT\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:8:\"Latitude\";s:7:\"example\";s:9:\"38.798026\";s:11:\"description\";s:63:\"The
  latitude of the facility in degrees, to four decimal places\";}s:3:\"LON\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Longitude\";s:7:\"example\";s:10:\"-77.062981\";s:11:\"description\";s:64:\"The
  longitude of the facility in degrees, to four decimal places\";}s:4:\"ICON\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:4:\"Icon\";s:7:\"example\";s:15:\"CAA-IC-MN-N.png\";s:11:\"description\";s:53:\"Name
  of each individual icon file within the URL base\";}s:4:\"TYPE\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:4:\"Type\";s:7:\"example\";s:8:\"Facility\";s:11:\"description\";s:32:\"For
  DFR, this is always facility\";}s:4:\"NAME\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:4:\"Name\";s:7:\"example\";s:34:\"VIRGINIA
  CONCRETE ALEXANDRIA PLANT\";s:11:\"description\";s:74:\"For DFR, this is the Facility
  name. The name corresponds to the TYPE value\";}s:3:\"PUV\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Popup
  Value\";s:7:\"example\";s:12:\"110001891506\";s:11:\"description\";s:74:\"Pop up
  value. Combine with PopUpBaseURL to give the popup for the facility\";}s:9:\"CAAstatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"3-Year
  Compliance Status History\";s:7:\"example\";s:12:\"______UUUUUU\";s:11:\"description\";s:328:\"The
  facility's 3-year compliance status history by quarter (3-month period). Each character
  represents a quarter of compliance, going from oldest to most recent. Character
  values correspond to the following compliance statuses:\n_ -\_No Violation Identified\nV
  -\_Violation Identified\nS -\_High Priority Violation\nU - Undetermined\";}s:8:\"LastInsp\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Last
  Inspection\";s:7:\"example\";s:3:\"901\";s:11:\"description\";s:45:\"The unique
  identifier for the last inspection\";}s:11:\"FormalCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"Formal
  Count\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:82:\"The number of formal
  enforcement actions that have been taken against the facility\";}s:13:\"InformalCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Informal
  Count\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:84:\"The number of informal
  enforcement actions that have been taken against the facility\";}}s:8:\"required\";a:10:{i:0;s:3:\"LAT\";i:1;s:3:\"LON\";i:2;s:4:\"ICON\";i:3;s:4:\"TYPE\";i:4;s:4:\"NAME\";i:5;s:3:\"PUV\";i:6;s:9:\"CAAstatus\";i:7;s:8:\"LastInsp\";i:8;s:11:\"FormalCount\";i:9;s:13:\"InformalCount\";}}s:5:\"air03\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"Facilities
  Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Facility\";}s:10:\"properties\";O:8:\"stdClass\":134:{s:7:\"AIRName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Air
  Facility Name\";s:7:\"example\";s:18:\"WEST PARK CLEANERS\";s:11:\"description\";s:29:\"The
  name of the AIR Facility.\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:7:\"example\";s:9:\"ALR040033\";s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";}s:9:\"AIRStreet\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"AIR
  Facility Street Address\";s:7:\"example\";s:18:\"2130 P STREET N.W.\";s:11:\"description\";s:48:\"The
  street address of the AIR facility location.\";}s:7:\"AIRCity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:4:\"City\";s:7:\"example\";s:10:\"Washington\";s:11:\"description\";s:43:\"The
  city where the AIR facility is located.\";}s:8:\"AIRState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"AIR
  Facility State\";s:7:\"example\";s:2:\"WI\";s:11:\"description\";s:44:\"The state
  where the AIR facility is located.\";}s:22:\"LocalControlRegionCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Local
  Control Region Code\";s:11:\"description\";s:65:\"Code for regions within a state.
  Search criteria for DFR in OTIS.\";}s:6:\"AIRZip\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"AIR
  Facility Zip Code\";s:7:\"example\";s:5:\"20037\";s:11:\"description\";s:44:\"The
  five-digit zip code of the AIR facility.\";}s:10:\"RegistryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:6:\"FRS
  ID\";s:7:\"example\";s:12:\"110020837601\";s:11:\"description\";s:144:\"An internal
  12-digit Facility Registry Service (FRS) tracking number used to tie all facility
  data together in EPA regulatory program databases.\";}s:9:\"AIRCounty\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Racine\";s:11:\"description\";s:57:\"The
  name of the county where the AIR facility is located.\";}s:12:\"AIREPARegion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"05\";s:11:\"description\";s:49:\"The
  EPA region where the AIR facility is located.\";}s:20:\"FacFederalAgencyCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:28:\"Facility
  Federal Agency Code\";s:7:\"example\";s:1:\"E\";s:11:\"description\";s:506:\"Indicates
  the federal agency, as classified in FRS. Federal agencies are installations that
  are owned and operated by the U.S. government. The five-character code consists
  of a letter followed by four numbers. There are four possible letters that can occupy
  the first character position: C = Civilian Federal Agency; D = Department of Defense;
  E = Department of Energy; X = Unknown. The second and third characters represent
  the agency code, while the fourth and fifth characters represent the bureau code.\";}s:20:\"FacFederalAgencyName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Federal
  Agency Name\";s:7:\"example\";s:3:\"EPA\";s:11:\"description\";s:150:\"Indicates
  the name of the federal agency, as classified in FRS. Federal agencies are installations
  that are owned and operated by the U.S. government.\";}s:13:\"FacDerivedHuc\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Watershed
  (HUC Code)\";s:7:\"example\";s:6:\"552968\";s:11:\"description\";s:183:\"The 8-digit
  Hydrologic Unit Code (HUC) of the watershed in which the facility resides. A HUC
  number is assigned to every watershed in the nation and uniquely identifies the
  watershed.\";}s:11:\"FacFIPSCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"FIPS
  Code\";s:7:\"example\";s:5:\"55001\";s:11:\"description\";s:118:\"The 2-digit Federal
  Information Processing Standards (FIPS) code to identify the county that a facility
  is located in.\";}s:17:\"FacIndianCntryFlg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:28:\"Facility
  Indian Country Flag\";s:11:\"description\";s:67:\"Flag showing Y/N whether the facility
  is located in Indian Country.\";}s:17:\"AIRIndianCntryFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"AIR
  Facility Indian Country Flag\";s:7:\"example\";s:1:\"N\";s:11:\"description\";s:70:\"Flag
  indicating whether the AIR facility is located in Indian country.\";}s:19:\"FacIndianSpatialFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Indian
  Spatial Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:355:\"Returns \u201CY\u201D
  if a facility is located within a tribal spatial boundary as defined by the U.S.
  Census Bureau 2010 tribal boundary layer data for tribes in the lower 48 states
  and Bureau of Land Management Alaska State Office data for native villages in Alaska.
  Returns \u201CN\u201D if a facility is not located within a tribal or native Alaskan
  village area.\";}s:16:\"FacDerivedTRIbes\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"FRS
  Spatially Derived Tribe\";s:7:\"example\";s:15:\"Cherokee Nation\";s:11:\"description\";s:84:\"The
  tribes or tribal territories located within 25 miles of the facility's location.\";}s:17:\"FacUsMexBorderFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Near
  US-Mexico Border\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:80:\"A Y/N flag
  indicating that the facility is within 100KM of the US-Mexico Border.\";}s:11:\"FacSICCodes\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"SIC
  Codes\";s:7:\"example\";s:3:\"811\";s:11:\"description\";s:154:\"Indicates the facility\u2019s
  or permit's primary Standard Industrial Classification (SIC) Code. The SIC code
  describes the primary activity of the facility.\";}s:8:\"AIRNAICS\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"NAICS
  Codes\";s:7:\"example\";s:6:\"812320\";s:11:\"description\";s:96:\"The facility\u2019s
  or permit's primary North American Industry Classification System (NAICS) Code.\";}s:6:\"FacLat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:8:\"Latitude\";s:7:\"example\";s:9:\"38.803076\";s:11:\"description\";s:267:\"The
  latitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";}s:7:\"FacLong\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Longitude\";s:7:\"example\";s:10:\"-77.085951\";s:11:\"description\";s:268:\"The
  longitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";}s:11:\"AIRPrograms\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"Air
  Programs\";s:7:\"example\";s:9:\"MACT, SIP\";s:11:\"description\";s:37:\"Comma-delimited
  list of AIR programs.\";}s:8:\"AIRMacts\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"MACT
  Subparts\";s:7:\"example\";s:5:\"ZZZZZ\";s:11:\"description\";s:86:\"The Maximum
  Achievable Control Technology (MACT) Subpart associated with the facility.\";}s:9:\"AIRStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Air
  Facility Status\";s:7:\"example\";s:18:\"Permanently Closed\";s:11:\"description\";s:40:\"The
  status of the AIR facility location.\";}s:11:\"AIRUniverse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"AIR
  Universe\";s:7:\"example\";s:15:\"Minor Emissions\";s:11:\"description\";s:374:\"The
  program office defines each CAA Source ID and the associated permits as being Federally
  Reportable or Non-Federally Reportable. Under the CAA, federally reportable source
  include majors, synthetic minors, NESHAP Part 61 minors, minors with an unresolved
  High Priority Violation (HPV), with recent enforcement action, or included on a
  Compliance Monitoring Strategy plan.\";}s:13:\"FacDerivedWBD\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"12-Digit
  WBD HUC\";s:7:\"example\";s:11:\"20700100204\";s:11:\"description\";s:120:\"The
  Hydrologic Unit Code (HUC-12) of the waterbody in which the facility resides, derived
  based on location data in FRS.\";}s:17:\"FacDerivedWBDName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:49:\"FRS
  Derived Watershed Boundary Dataset (WBD) Name\";s:7:\"example\";s:26:\"Fourmile
  Run-Potomac River\";s:11:\"description\";s:86:\"The 12 digit Watershed Boundary
  Dataset Name derived from the FRS Best Pick Coordinate\";}s:17:\"ChesapeakeBayFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Chesapeake
  Bay Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:76:\"Displays \"Y\"
  if the facility is located within the Chesapeake Bay watershed.\";}s:6:\"AIRIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"AIR
  Facility System ID\";s:7:\"example\";s:18:\"DC0000001100195254\";s:11:\"description\";s:29:\"Air
  Facility System (AFS) ID.\";}s:6:\"CWAIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"CWA
  IDs\";s:7:\"example\";s:9:\"DC0000001\";s:11:\"description\";s:158:\"A unique  ID
  assigned for each record/permit/site/facility within ICIS-NPDES. These identifiers
  are for used tracking purposes in the individual data systems.\";}s:7:\"RCRAIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"Resource
  Conservation and Recovery Act IDs\";s:7:\"example\";s:12:\"VAD981111784\";s:11:\"description\";s:100:\"A
  unique 12-character ID assigned for each record/permit/site/facility within the
  RCRAInfo database.\";}s:6:\"RmpIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"RMP
  IDs\";s:7:\"example\";s:6:\"110000\";s:11:\"description\";s:115:\"A unique ID assigned
  to each facility submitting a Risk Management Plan to EPA under the Risk Management
  Plan Rule.\";}s:7:\"SDWAIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"DC0000001\";s:11:\"description\";s:120:\"A
  unique 9-character ID assigned for each public water system within the Safe Drinking
  Water Information System (SDWIS).\";}s:6:\"TRIIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"Toxics
  Release Inventory Program IDs\";s:7:\"example\";s:15:\"20011FRTTT5001F\";s:11:\"description\";s:281:\"A
  unique 15-character ID assigned for each facility within the Toxics Release Inventory
  (TRI) program. The format is ZZZZZNNNNNSSSSS, where ZZZZZ = ZIP code, NNNNN = the
  first 5 consonants of the name, and SSSSS = the first 5 non-blank non-special characters
  in the street address.\";}s:6:\"GHGIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"GHG
  IDs\";s:7:\"example\";s:6:\"110000\";s:11:\"description\";s:115:\"A unique ID assigned
  for each facility within EPA\u2019s Greenhouse Gas Reporting Program (GHGRP) Emissions
  Data Sets.\";}s:6:\"EisIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"EIS
  IDs\";s:7:\"example\";s:8:\"12620001\";s:11:\"description\";s:96:\"A unique ID assigned
  for each facility within EPA\u2019s Emissions Inventory System (EIS) Database.\";}s:7:\"CamdIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:38:\"Clean
  Air Markets Division Identifiers\";s:11:\"description\";s:65:\"Facility identifiers
  for the Clean Air Markets Division database.\";}s:14:\"AIRComplStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Compliance
  Status\";s:7:\"example\";s:7:\"No Viol\";s:11:\"description\";s:63:\"The facility's
  recent violation status under the Clean Air Act.\";}s:12:\"AIRHpvStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:10:\"HPV
  Status\";s:7:\"example\";s:3:\"Yes\";s:11:\"description\";s:113:\"Indicates whether
  the facility currently has an unresolved High Priority Violation (HPV) under the
  Clean Air Act.\";}s:15:\"AIRMnthsWithHpv\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Months
  with HPV\";s:7:\"example\";s:1:\"3\";s:11:\"description\";s:126:\"The number of
  months in the last three years in which the permit or site is considered in High
  Priority Violation (HPV) status\";}s:14:\"AIRQtrsWithHpv\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Quarters
  with HPV\";s:7:\"example\";s:1:\"4\";s:11:\"description\";s:129:\"The number of
  quarters in the last three years in which the permit or site is considered in High
  Priority Violation (HPV) status.\";}s:15:\"AIRQtrsWithViol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"Quarters
  with Violation Reported\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:116:\"The
  number of quarters in the last three years in which the permit or site has had unresolved
  violation(s) reported.\";}s:17:\"AIRPollRecentViol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"Pollutants
  with Recent Violation\";s:7:\"example\";s:6:\"Sulfur\";s:11:\"description\";s:90:\"The
  names of pollutants or pollutant categories with violations reported in the last
  year.\";}s:16:\"AIRRecentViolCnt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"Recent
  Violation Count\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:51:\"The number
  of violations reported in the last year.\";}s:15:\"AIRLastViolDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Last
  Violation Date\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:57:\"The
  date on which the most recent violation was reported.\";}s:10:\"AIREvalCnt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"Compliance
  Evaluation Count\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:116:\"The number
  of compliance evaluations, under the Clean Air Act, occurring at the facility within
  the last five years.\";}s:15:\"AIRDaysLastEval\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"Days
  Since Last Compliance Evaluation\";s:7:\"example\";s:4:\"2806\";s:11:\"description\";s:79:\"The
  number of days since the most recent compliance evaluation of the facility.\";}s:15:\"AIRLastEvalDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:31:\"Last
  Compliance Evaluation Date\";s:7:\"example\";s:10:\"05/18/2009\";s:11:\"description\";s:122:\"The
  date on which the most recent Full Compliance Evaluation (FCE) of the facility by
  EPA or a state agency was completed.\";}s:18:\"AIRLastEvalDateEPA\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:28:\"Air
  Last EPA Inspection Date\";s:7:\"example\";s:10:\"05/16/2014\";s:11:\"description\";s:46:\"The
  last Air Inspection Date performed by EPA.\";}s:20:\"AIRLastEvalDateState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:31:\"Air
  Last State Insprection Date\";s:7:\"example\";s:10:\"05/18/2009\";s:11:\"description\";s:69:\"The
  last Air Inspection Date performed by State or local authorities.\";}s:11:\"LastDatePce\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"Date
  of Last Partial Compliance Evaluation\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:125:\"The
  date on which the most recent Partial Compliance Evaluation (PCE) of the facility
  by EPA or a state agency was completed.\";}s:14:\"LastDatePceEPA\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"Date
  of Last Partial Compliance Evaluation\_by\_EPA\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:107:\"The
  date on which the most recent Partial Compliance Evaluation (PCE) of the facility
  by EPA was completed.\";}s:14:\"LastDatePceSta\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"Date
  of Last Partial Compliance Evaluation by State\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:118:\"The
  date on which the most recent Partial Compliance Evaluation (PCE) of the facility
  by a state agency was completed.\";}s:19:\"AIRLastStckTestDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Last
  Stack Test Date\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:54:\"The
  date on which the most recent stack test occurred.\";}s:22:\"AIRLastStckTestResults\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"Last
  Stack Test Results\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:73:\"The
  result of the most recent stack test (Pass, Fail, Pending, or Blank).\";}s:18:\"AIRStackTest5YrAll\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AIRStackTest5YrFail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"FacNaaFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:8:\"NAA
  Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:282:\"Indicates whether
  the facility is located in a nonattainment area of the country, where air pollution
  levels persistently exceed the national ambient air quality standards. This flag
  does not indicate whether or not the facility has violated national ambient area
  quality standards.\";}s:14:\"FacTRIReporter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Facility
  TRI Reporter\";s:7:\"example\";s:1:\"B\";s:11:\"description\";s:109:\"Indicates
  whether facility reported to the Toxics Release Inventory (TRI) for the most recent
  reporting year.\";}s:17:\"FacTRIAIRReleases\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"TRI
  Releases\";s:7:\"example\";s:2:\"36\";s:11:\"description\";s:117:\"The total chemical
  releases to air, in pounds, as reported to TRI by the facility for the most recent
  reporting year.\";}s:21:\"FacTRICarcAIRReleases\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"TRI
  Carcinogen Releases\";s:7:\"example\";s:2:\"24\";s:11:\"description\";s:248:\"The
  pounds of chemicals considered to be carcinogens released to air, as reported to
  TRI for the most recent reporting year. Chemicals are classified as carcinogens
  under the requirements of the Occupational Safety and Health Administration (OSHA).\";}s:18:\"FacTRIHapsReleases\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"TRI
  HAPS Releases\";s:7:\"example\";s:4:\"35.5\";s:11:\"description\";s:160:\"The pounds
  of chemicals classified as hazardous air pollutants (HAPS) released to air in pounds
  per year, as reported to TRI for the most recent reporting year.\";}s:17:\"FacEisAIRReleases\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"EIS
  Releases\";s:7:\"example\";s:4:\"2.35\";s:11:\"description\";s:139:\"The amount
  of hazardous air pollutants released to air in tons per year, as reported in the
  most recent National Emissions Inventory (NEI).\";}s:17:\"FacGHGCO2Releases\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"GHG
  CO2 Releases\";s:7:\"example\";s:3:\"100\";s:11:\"description\";s:250:\"The annual
  sum of total release amounts and \"associated quantities\" of all linked Greenhouse
  Gas IDs from the Office of Air and Radiation \"Summary 2010 Greenhouse Gas Data.\"
  Units are reported as metric tons of CO2 equivalents per year (MTCO2e/year).\";}s:9:\"AIRIeaCnt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:33:\"Informal
  Enforcement Action Count\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:103:\"The
  total number of informal enforcement actions taken against the facility within the
  last five years.\";}s:9:\"AIRFeaCnt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:31:\"Formal
  Enforcement Action Count\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:101:\"The
  total number of formal enforcement actions taken against the facility within the
  last five years.\";}s:14:\"AIRLastIeaDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"Last
  Informal Enforcement Action Date\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:100:\"The
  effective date of the most recent listed informal enforcement action taken against
  the facility.\";}s:19:\"AIRLastIeaDateState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:43:\"Last
  State Informal Enforcement Action Date\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:118:\"The
  effective date of the most recent listed informal enforcement action taken against
  the facility by a state agency.\";}s:17:\"AIRLastIeaDateEPA\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:41:\"Last
  EPA Informal Enforcement Action Date\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:107:\"The
  effective date of the most recent listed informal enforcement action taken against
  the facility by EPA.\";}s:14:\"AIRLastFeaDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:35:\"Last
  Formal Enforcement Action Date\";s:7:\"example\";s:10:\"05/16/2014\";s:11:\"description\";s:98:\"The
  effective date of the most recent listed formal enforcement action taken against
  the facility.\";}s:19:\"AIRLastFeaDateState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:45:\"Air
  Last State Formal Enforcement Action Date\";s:7:\"example\";s:10:\"05/16/2014\";s:11:\"description\";s:79:\"The
  last Air Formal Enforcement Action Date take by State or Local authorities.\";}s:17:\"AIRLastFeaDateEPA\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:43:\"Air
  Last EPA Formal Enforcement Action Date\";s:7:\"example\";s:10:\"05/16/2014\";s:11:\"description\";s:56:\"The
  last Air Formal Enforcement Action Date take by EPA.\";}s:12:\"AIRPenalties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Penalties\";s:7:\"example\";s:4:\"$435\";s:11:\"description\";s:237:\"The
  total dollar amount of assessed (or final) penalties taken against the facility
  within the last five years under the Clean Air Act. This value only includes penalties
  that have been entered in the national program database, ICIS-Air.\";}s:18:\"AIRLastPenaltyDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Air
  Last Penalty Date\";s:7:\"example\";s:10:\"05/16/2014\";s:11:\"description\";s:111:\"Indicates
  the date on which the most recent assessed (or final) penalty was taken against
  the facility for AIR.\";}s:13:\"Over80CountUs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"EJ
  Indexes Above 80th Percentile\";s:7:\"example\";s:1:\"3\";s:11:\"description\";s:174:\"The
  number of primary EJSCREEN environmental justice (EJ) indexes exceeding the 80th
  or higher national percentile for the Census block group that the facility is located
  in.\";}s:18:\"PctilePctpre1960Us\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"14.6\";s:11:\"description\";s:88:\"The
  national percentile of the census block group for the EJSCREEN Lead paint indicator.\";}s:11:\"PctileDpmUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"99\";s:11:\"description\";s:103:\"The
  national percentile of the census block group for the EJSCREEN diesel particulate
  matter indicator.\";}s:14:\"PctileCancerUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"99\";s:11:\"description\";s:105:\"The
  national percentile of the census block group for the EJSCREEN NATA air toxics cancer
  risk indicator.\";}s:12:\"PctileRespUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"99\";s:11:\"description\";s:107:\"The
  national percentile of the census block group for the EJSCREEN NATA respiratory
  hazard index indicator.\";}s:20:\"PctileTrafficScoreUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"92\";s:11:\"description\";s:106:\"The
  national percentile of the census block group for the EJSCREEN Traffic proximity
  and volume indicator.\";}s:22:\"PctileProximityNPDESUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"23.7\";s:11:\"description\";s:121:\"The
  national percentile of the census block group for the EJSCREEN proximity to major
  direct water dischargers indicator.\";}s:20:\"PctileProximityNplUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"96\";s:11:\"description\";s:127:\"The
  national percentile of the census block group for the EJSCREEN proximity to National
  Priorities List (NPL) sites indicator.\";}s:20:\"PctileProximityRmpUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"91\";s:11:\"description\";s:123:\"The
  national percentile of the census block group for the EJSCREEN proximity to Risk
  Management Plan (RMP) sites indicator.\";}s:21:\"PctileProximityTsdfUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"82\";s:11:\"description\";s:140:\"The
  national percentile of the census block group for the EJSCREEN proximity to Treatment
  Storage and Disposal Facilities (TSDFs) indicator.\";}s:10:\"PctileO3Us\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"94\";s:11:\"description\";s:83:\"The
  national percentile of the census block group for the EJSCREEN ozone indicator.\";}s:10:\"PctilePmUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"93\";s:11:\"description\";s:96:\"The
  national percentile of the census block group for the EJSCREEN particulate matter
  indicator.\";}s:20:\"FacPopulationDensity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Population
  Density\";s:7:\"example\";s:7:\"9611.17\";s:11:\"description\";s:59:\"The number
  of persons per square mile in the profiled area.\";}s:18:\"FacPercentMinority\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Facility
  Percent Minority\";s:7:\"example\";s:6:\"45.379\";s:11:\"description\";s:174:\"Percent
  Minority is the percentage of the population of the given area that is considered
  minority. Statistics are shown for the area within a 3-mile radius of each facility.\";}s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"EPA
  Data System\";s:7:\"example\";s:3:\"ICP\";s:11:\"description\";s:1568:\"The EPA
  data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";}s:7:\"Statute\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Regulatory
  Statute\";s:7:\"example\";s:3:\"CWA\";s:11:\"description\";s:416:\"The name of the
  statute associated with each of the permits and identifiers linked to the facility:
  \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA = the Resource
  Conservation and Recovery Act\n- EP313 = the Emergency Planning and Community Right-to-Know
  Act, Section 313 (also known as the Toxics Release Inventory Program)\n- TSCA =
  the Toxic Substances Control Act\n- SDWA = the Safe Drinking Water Act\";}s:22:\"LocalControlRegionName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Local
  Control Region Name\";s:11:\"description\";s:56:\"Regions within a state. Search
  criteria for DFR in OTIS.\";}s:11:\"AIRFIPSCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"State
  County FIPS Code\";s:7:\"example\";s:5:\"11001\";s:11:\"description\";s:174:\"A
  5 digit combination of the 2 digit Federal Information Processing Standards (FIPS)
  code for the state and the 3 digit FIPS code of the county that a facility is located
  in.\";}s:15:\"AIRTRIbalEPAids\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Tribal
  EPA IDs\";s:11:\"description\";s:166:\"The EPA Tribal or Native Alaskan Village
  Identifier for facilities, that based on their Best Pick FRS spatial coordinate,
  are within a Tribal or Alaskan Village area.\";}s:14:\"AIRTRIbalNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"Tribal
  Names\";s:11:\"description\";s:160:\"The EPA Tribal or Native Alaskan Village Name
  for facilities, that based on their Best Pick FRS spatial coordinate, are within
  a Tribal or Alaskan Village area.\";}s:10:\"AIRCaseIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"05-1993-1585
  05-2014-5021\";s:11:\"description\";s:63:\"Space-delimited list of AIR cases associated
  with the facility.\";}s:18:\"AIRLastStckDateEPA\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Last
  EPA Stack Test Date\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:61:\"The
  date on which the most recent stack test by EPA occurred.\";}s:20:\"AIRLastStckDateState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"Last
  State Stack Test Date\";s:7:\"example\";s:10:\"04/25/2014\";s:11:\"description\";s:72:\"The
  date on which the most recent stack test by a state agency occurred.\";}s:9:\"FacMapFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Facility
  Mapped Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:96:\"Graphical indicator
  denoting whether geographical data required to map a facility are available.\";}s:10:\"FacMapIcon\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Facility
  Map Icon\";s:7:\"example\";s:15:\"CWA-NC-MJ-2.png\";s:11:\"description\";s:80:\"The
  default map icon image file calculated for the facility by the ECHO program.\";}s:14:\"FacGHGReporter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"GHG
  Reporter\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:86:\"Indicates whether
  the facility reports to the Greenhouse Gas Reporting Program (GHGRP)\";}s:14:\"FacEisReporter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"EIS
  Reporter\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:79:\"Indicates whether
  the facility reports to the Emissions Inventory System (EIS).\";}s:15:\"FacCamdReporter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"CAMD
  Reporter\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:80:\"Indicates whether
  the facility reports to the Clean Air Markets Division (CAMD).\";}s:19:\"AIRFacilityTypeCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Facility
  Type Code\";s:7:\"example\";s:3:\"POF\";s:11:\"description\";s:457:\"A three-character
  code indicating if plant is government facility.\nCOR - Corporation\nCNG - County
  Government\nDIS - District\nFDF - Federal Facility (U.S. Government)\nGOC - GOCO
  (Gov Owned/Contractor Operated)\nIND - Individual\nMXO - Mixed Ownership (e.g.,
  Public/Private)\nMWD - Municipal or Water District\nCTG\t- Municipality\nNON - Non-Government\nPOF
  - Privately Owned Facility\nSDT - School District\nSTF - State Government\nTRB -
  Tribal Government\nUNK - Unknown\";}s:12:\"AIRMajorFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:10:\"Major
  Flag\";s:7:\"example\";s:1:\"N\";s:11:\"description\";s:66:\"Indicated whether the
  facility is designated as a major facilitiy.\";}s:22:\"AIR3yrComplQtrsHistory\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"3-Year
  Compliance Status History\";s:7:\"example\";s:12:\"VV__SS_U__V_\";s:11:\"description\";s:328:\"The
  facility's 3-year compliance status history by quarter (3-month period). Each character
  represents a quarter of compliance, going from oldest to most recent. Character
  values correspond to the following compliance statuses:\n_ -\_No Violation Identified\nV
  -\_Violation Identified\nS -\_High Priority Violation\nU - Undetermined\";}s:10:\"HasPollRpt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:3:\"???\";}s:16:\"CensusBlockGroup\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Census
  Block Group\";s:7:\"example\";s:12:\"110010096022\";s:11:\"description\";s:117:\"A
  geographic unit used by the United States Census Bureau, generally defined to contain
  between 600 and 3,000 people.\";}s:11:\"MaxPctileUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"98\";s:11:\"description\";s:63:\"The
  maximum percentile from all individual EJSCREEN indicators.\";}s:14:\"EjscreenFlagUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"EJ
  Screen Flag (US)\";s:11:\"description\";s:96:\"A Y/N indicator identifying whether
  or not the facility is within an Environmental Justice area.\";}s:12:\"EjscreenFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"EJ
  Screen Flag\";s:11:\"description\";s:96:\"A Y/N indicator identifying whether or
  not the facility is within an Environmental Justice area.\";}s:10:\"TRIbalFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Tribal
  Lands Flag\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:60:\"A flag indicating
  that the facility is within a tribal area.\";}s:10:\"CurrSvFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"Current
  Significant Violation Flag\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:70:\"Indicates
  if the facility has a current significant violation. 1 = Yes\";}s:8:\"ViolFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Violation
  Flag\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:74:\"Indicates if the facility
  had a violation within the last 3 years. 1 = Yes\";}s:11:\"CurrVioFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"Current
  Violation Flag\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:58:\"Indicates
  if the facility has a current violation. 1 = Yes\";}s:11:\"Insp5yrFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"Inspected
  Within Last Five Years Flag\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:76:\"Indicates
  if the facility has an inspection within the last 5 years. 1 = Yes\";}s:9:\"Ea5yrFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:90:\"Indicates
  if the facility has a formal enforcement action within the last 5 years. 1 = Yes\";}s:12:\"Infea5yrFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:94:\"Indicates
  if the facility has an informal enforcement action within the last 5 years. 1 =
  Yes.\";}s:7:\"Lower48\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"Contiguous
  United States Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:84:\"Flag
  showing Y/N whether location is within the contiguous (lower 48) United States.\";}s:13:\"ActiveLower48\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"A
  Y/N indicator indicating that the facility is active and located within the lower
  48 contiguous US States.\";}s:16:\"CollectionMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Collection
  Method\";s:7:\"example\";s:29:\"ADDRESS MATCHING-HOUSE NUMBER\";s:11:\"description\";s:2:\"??\";}s:14:\"ReferencePoint\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Reference
  Point\";s:7:\"example\";s:39:\"ENTRANCE POINT OF A FACILITY OR STATION\";s:11:\"description\";s:2:\"??\";}s:24:\"CalculatedAccuracyMeters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"Calculated
  Accuracy in Meters\";s:7:\"example\";s:2:\"50\";s:11:\"description\";s:74:\"The
  estimated accuracy in Meters for the facility's geospatial coordinate.\";}s:3:\"Map\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:3:\"Map\";s:11:\"description\";s:15:\"No
  Longer Used.\";}s:7:\"WebDocs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Web
  Documents\";s:7:\"example\";s:2:\"C6\";s:11:\"description\";s:90:\"Contains flags
  that identify what web accessible documents are available for the facility.\";}s:13:\"NaaCategories\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"NAA
  Categories\";s:7:\"example\";s:18:\"8-HOUR OZONE(2015)\";s:11:\"description\";s:133:\"The
  nonattainment area categories that the facility is in, derived spatially based on
  the facility's geographic coordinates in FRS.\_\";}s:13:\"NaaPollutants\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"NAA
  Pollutants\";s:7:\"example\";s:5:\"OZONE\";s:11:\"description\";s:66:\"All criteria
  pollutants that the facility is in nonattainment for.\";}s:13:\"FacCountyName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"FRS
  Facility County Name\";s:7:\"example\";s:14:\"Fairfax County\";s:11:\"description\";s:60:\"The
  facility county name from EPA's Facility Registry System\";}s:16:\"FacStdCountyName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"FRS
  Standardized Facility County Name\";s:7:\"example\";s:14:\"Fairfax County\";s:11:\"description\";s:74:\"The
  standardized  facility county name from EPA's Facility Registry System\";}s:7:\"AIRNsps\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"NSPS
  Subpart\";s:7:\"example\";s:12:\"NSPS Part 60\";s:11:\"description\";s:81:\"The
  New Source Performance Standards (NSPS) Subpart associated with the facility.\";}s:8:\"AIRNspsm\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"NSPS
  Subpart (Non-Major)\";s:7:\"example\";s:12:\"NSPS Part 60\";s:11:\"description\";s:91:\"The
  Non-Major New Source Performance Standards (NSPS) Subpart associated with the facility.\";}s:5:\"Score\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:5:\"Score\";s:7:\"example\";s:1:\"1\";}s:8:\"MaxScore\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Max
  Score\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:33:\"A sorting score for
  internal use.\";}}s:8:\"required\";a:134:{i:0;s:7:\"AIRName\";i:1;s:8:\"SourceID\";i:2;s:9:\"AIRStreet\";i:3;s:7:\"AIRCity\";i:4;s:8:\"AIRState\";i:5;s:22:\"LocalControlRegionCode\";i:6;s:6:\"AIRZip\";i:7;s:10:\"RegistryID\";i:8;s:9:\"AIRCounty\";i:9;s:12:\"AIREPARegion\";i:10;s:20:\"FacFederalAgencyCode\";i:11;s:20:\"FacFederalAgencyName\";i:12;s:13:\"FacDerivedHuc\";i:13;s:11:\"FacFIPSCode\";i:14;s:17:\"FacIndianCntryFlg\";i:15;s:17:\"AIRIndianCntryFlg\";i:16;s:19:\"FacIndianSpatialFlg\";i:17;s:16:\"FacDerivedTRIbes\";i:18;s:17:\"FacUsMexBorderFlg\";i:19;s:11:\"FacSICCodes\";i:20;s:8:\"AIRNAICS\";i:21;s:6:\"FacLat\";i:22;s:7:\"FacLong\";i:23;s:11:\"AIRPrograms\";i:24;s:8:\"AIRMacts\";i:25;s:9:\"AIRStatus\";i:26;s:11:\"AIRUniverse\";i:27;s:13:\"FacDerivedWBD\";i:28;s:17:\"FacDerivedWBDName\";i:29;s:17:\"ChesapeakeBayFlag\";i:30;s:6:\"AIRIDs\";i:31;s:6:\"CWAIDs\";i:32;s:7:\"RCRAIDs\";i:33;s:6:\"RmpIDs\";i:34;s:7:\"SDWAIDs\";i:35;s:6:\"TRIIDs\";i:36;s:6:\"GHGIDs\";i:37;s:6:\"EisIDs\";i:38;s:7:\"CamdIDs\";i:39;s:14:\"AIRComplStatus\";i:40;s:12:\"AIRHpvStatus\";i:41;s:15:\"AIRMnthsWithHpv\";i:42;s:14:\"AIRQtrsWithHpv\";i:43;s:15:\"AIRQtrsWithViol\";i:44;s:17:\"AIRPollRecentViol\";i:45;s:16:\"AIRRecentViolCnt\";i:46;s:15:\"AIRLastViolDate\";i:47;s:10:\"AIREvalCnt\";i:48;s:15:\"AIRDaysLastEval\";i:49;s:15:\"AIRLastEvalDate\";i:50;s:18:\"AIRLastEvalDateEPA\";i:51;s:20:\"AIRLastEvalDateState\";i:52;s:11:\"LastDatePce\";i:53;s:14:\"LastDatePceEPA\";i:54;s:14:\"LastDatePceSta\";i:55;s:19:\"AIRLastStckTestDate\";i:56;s:22:\"AIRLastStckTestResults\";i:57;s:18:\"AIRStackTest5YrAll\";i:58;s:19:\"AIRStackTest5YrFail\";i:59;s:10:\"FacNaaFlag\";i:60;s:14:\"FacTRIReporter\";i:61;s:17:\"FacTRIAIRReleases\";i:62;s:21:\"FacTRICarcAIRReleases\";i:63;s:18:\"FacTRIHapsReleases\";i:64;s:17:\"FacEisAIRReleases\";i:65;s:17:\"FacGHGCO2Releases\";i:66;s:9:\"AIRIeaCnt\";i:67;s:9:\"AIRFeaCnt\";i:68;s:14:\"AIRLastIeaDate\";i:69;s:19:\"AIRLastIeaDateState\";i:70;s:17:\"AIRLastIeaDateEPA\";i:71;s:14:\"AIRLastFeaDate\";i:72;s:19:\"AIRLastFeaDateState\";i:73;s:17:\"AIRLastFeaDateEPA\";i:74;s:12:\"AIRPenalties\";i:75;s:18:\"AIRLastPenaltyDate\";i:76;s:13:\"Over80CountUs\";i:77;s:18:\"PctilePctpre1960Us\";i:78;s:11:\"PctileDpmUs\";i:79;s:14:\"PctileCancerUs\";i:80;s:12:\"PctileRespUs\";i:81;s:20:\"PctileTrafficScoreUs\";i:82;s:22:\"PctileProximityNPDESUs\";i:83;s:20:\"PctileProximityNplUs\";i:84;s:20:\"PctileProximityRmpUs\";i:85;s:21:\"PctileProximityTsdfUs\";i:86;s:10:\"PctileO3Us\";i:87;s:10:\"PctilePmUs\";i:88;s:20:\"FacPopulationDensity\";i:89;s:18:\"FacPercentMinority\";i:90;s:9:\"EPASystem\";i:91;s:7:\"Statute\";i:92;s:22:\"LocalControlRegionName\";i:93;s:11:\"AIRFIPSCode\";i:94;s:15:\"AIRTRIbalEPAids\";i:95;s:14:\"AIRTRIbalNames\";i:96;s:10:\"AIRCaseIDs\";i:97;s:18:\"AIRLastStckDateEPA\";i:98;s:20:\"AIRLastStckDateState\";i:99;s:9:\"FacMapFlg\";i:100;s:10:\"FacMapIcon\";i:101;s:14:\"FacGHGReporter\";i:102;s:14:\"FacEisReporter\";i:103;s:15:\"FacCamdReporter\";i:104;s:19:\"AIRFacilityTypeCode\";i:105;s:12:\"AIRMajorFlag\";i:106;s:22:\"AIR3yrComplQtrsHistory\";i:107;s:10:\"HasPollRpt\";i:108;s:16:\"CensusBlockGroup\";i:109;s:11:\"MaxPctileUs\";i:110;s:14:\"EjscreenFlagUs\";i:111;s:12:\"EjscreenFlag\";i:112;s:10:\"TRIbalFlag\";i:113;s:10:\"CurrSvFlag\";i:114;s:8:\"ViolFlag\";i:115;s:11:\"CurrVioFlag\";i:116;s:11:\"Insp5yrFlag\";i:117;s:9:\"Ea5yrFlag\";i:118;s:12:\"Infea5yrFlag\";i:119;s:7:\"Lower48\";i:120;s:13:\"ActiveLower48\";i:121;s:16:\"CollectionMethod\";i:122;s:14:\"ReferencePoint\";i:123;s:24:\"CalculatedAccuracyMeters\";i:124;s:3:\"Map\";i:125;s:7:\"WebDocs\";i:126;s:13:\"NaaCategories\";i:127;s:13:\"NaaPollutants\";i:128;s:13:\"FacCountyName\";i:129;s:16:\"FacStdCountyName\";i:130;s:7:\"AIRNsps\";i:131;s:8:\"AIRNspsm\";i:132;s:5:\"Score\";i:133;s:8:\"MaxScore\";}}s:5:\"air04\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"Map
  Output Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"QueryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Query
  Identifier\";s:7:\"example\";s:3:\"245\";s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";}s:11:\"IconBaseURL\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Icon
  Base URL\";s:7:\"example\";s:35:\"https://echo.epa.gov/app/map/icons/\";s:11:\"description\";s:35:\"URL
  where all the icons are located\";}s:12:\"PopUpBaseURL\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Popup
  Base URL\";s:7:\"example\";s:58:\"https://ofmpub.epa.gov/echo/cwa_rest_services.pop_up?p_id=\";s:11:\"description\";s:47:\"Combine
  this URL with the PUC to get popup info\";}s:7:\"MapData\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:8:\"Map
  Data\";s:11:\"description\";s:44:\"An array of facility geospatial information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/air02\";}s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"MapData\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:4:{i:0;s:7:\"QueryID\";i:1;s:11:\"IconBaseURL\";i:2;s:12:\"PopUpBaseURL\";i:3;s:7:\"MapData\";}}s:5:\"air05\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"Message\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"Message\";s:7:\"example\";s:7:\"Success\";s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";}s:9:\"QueryRows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Query
  Row Count\";s:7:\"example\";s:1:\"5\";s:11:\"description\";s:32:\"Number of query
  results returned\";}s:17:\"IndianCountryRows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Indian
  Country Row Count\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:47:\"Number
  of facilities with tribal_flag populated\";}s:6:\"SVRows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"Significant
  Violation Result Count\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:87:\"Number
  of facilities with curr_sv_flag populated (CWP_STATUS = \"Significant Violation\")\";}s:6:\"CVRows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:108:\"Summary
  count of the number of CWA facilities or SDWA public drinking water systems with
  current violations.\";}s:6:\"V3Rows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:96:\"Number
  of facilities having one or more quarters in non-compliance (QNC) in the last three
  years\";}s:7:\"FEARows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:97:\"Summary
  count of the number of facilities with a formal enforcement action in the past five
  years\";}s:10:\"InfFEARows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:79:\"Number
  of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT > 0)\";}s:8:\"INSPRows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:76:\"Number
  of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)\";}s:14:\"TotalPenalties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Total
  Penalties\";s:7:\"example\";s:8:\"$963,531\";s:11:\"description\";s:94:\"The total
  dollar amount of either assessed or final penalties within the five year time period\";}s:12:\"BadSystemIDs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Identifies
  which passed query system identifiers are invalid.\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Query
  Identifier\";s:7:\"example\";s:3:\"245\";s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";}s:6:\"PageNo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Page
  Number\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:39:\"The number of pages
  of results returned\";}s:10:\"Facilities\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:10:\"Facilities\";s:11:\"description\";s:40:\"A
  complex array of facility information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/air03\";}s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Facilities\";s:7:\"wrapped\";b:1;}}s:9:\"MapOutput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/air04\";}}s:8:\"required\";a:13:{i:0;s:7:\"Message\";i:1;s:9:\"QueryRows\";i:2;s:17:\"IndianCountryRows\";i:3;s:6:\"SVRows\";i:4;s:6:\"CVRows\";i:5;s:6:\"V3Rows\";i:6;s:7:\"FEARows\";i:7;s:10:\"InfFEARows\";i:8;s:8:\"INSPRows\";i:9;s:14:\"TotalPenalties\";i:10;s:12:\"BadSystemIDs\";i:11;s:7:\"QueryID\";i:12;s:6:\"PageNo\";}}s:5:\"air06\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"Facilities
  Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Facility\";}s:10:\"properties\";O:8:\"stdClass\":135:{s:8:\"ObjectId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Object
[...]
