---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US
  EPA, OECA Integration, Targeting and Access Branch\";}s:11:\"description\";s:2069:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated
  compliance and enforcement information for about 800,000 regulated facilities nationwide.\n<BR><BR>Air
  Rest Services provides multiple service endpoints, each with specific capabilities,
  to search and retrieve data on facilities regulated under the Clean Air Act (CAA).
  The returned results reflect data drawn from EPA's ICIS-Air database.\n<BR><BR>\nThe
  get_facilities, get_map, get_qid, and get_download end points are meant to be used
  together, while the enhanced get_facility_info end point is self contained.\n  The
  get_facility_info end point returns either an array of state, county or zip clusters
  with summary statistics per cluster or an array of facilities.\n<BR><BR>\nThe recommended
  use scenario for get_facilities, get_qid, get_map, and get_downoad is:\n<br>\n<br><b>1)</b>
  \ Use get_facilities to validate passed query parameters, obtain summary statistics
  and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately
  30 minutes.\n<br><b>2)</b>  Use get_qid, with the returned QID, to paginate through
  arrays of facility results.\n<br><b>3)</b>  Use get_map, with the returned QID,
  to zoom in/out and pan on the clustered and individual facility coordinates that
  meet the QID query criteria.\n<br><b>4)</b>  Use get_download, with the returned
  QID, to generate a Comma Separated Value (CSV) file of facility information that
  meets the QID query criteria.\n<br>\n<br>\nUse the qcolumns parameter to customize
  your search results.  Use the Metdata service endpoint for a list of available output
  objects, their Column Ids, and their definitions to help you build your customized
  output. \n<br><br>\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web
  Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About
  ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n<br>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:5:\"title\";s:73:\"U.S.
  EPA Enforcement and Compliance History Online (ECHO) - Clean Air Act\";s:7:\"version\";s:5:\"0.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:62:\"https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=AIR\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"epa.gov\";s:13:\"x-serviceName\";s:3:\"air\";}"
host: ofmpub.epa.gov
basePath: /echo
paths:
  /air_rest_services.get_download:
    get:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma sepated vaule (CSV) file of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/qcolumns'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Clean Air Act Download Data Service
      tags:
      - Facilities
    post:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma sepated vaule (CSV) file of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/qcolumns'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Clean Air Act Download Data Service
      tags:
      - Facilities
  /air_rest_services.get_facilities:
    get:
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_lcon'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_qnc'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/p_opst'
      - $ref: '#/parameters/p_c1lat'
      - $ref: '#/parameters/p_c1lon'
      - $ref: '#/parameters/p_c2lat'
      - $ref: '#/parameters/p_c2lon'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_prog'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_naa'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_tri_cat'
      - $ref: '#/parameters/p_tri_amt'
      - $ref: '#/parameters/p_tri_any_amt'
      - $ref: '#/parameters/p_tri_pol'
      - $ref: '#/parameters/p_ghg_cat'
      - $ref: '#/parameters/p_ghg_amt'
      - $ref: '#/parameters/p_ghg_any_amt'
      - $ref: '#/parameters/p_ghg_yr'
      - $ref: '#/parameters/p_nei_pol'
      - $ref: '#/parameters/p_nei_amt'
      - $ref: '#/parameters/p_nei_any_amt'
      - $ref: '#/parameters/p_nei_yr'
      - $ref: '#/parameters/p_nei_cat'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_stsl'
      - $ref: '#/parameters/p_stsly'
      - $ref: '#/parameters/p_stsla'
      - $ref: '#/parameters/p_stres'
      - $ref: '#/parameters/p_sttyp'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_owop'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/p_idt1'
      - $ref: '#/parameters/p_idt2'
      - $ref: '#/parameters/p_stdt1'
      - $ref: '#/parameters/p_stdt2'
      - $ref: '#/parameters/p_pityp'
      - $ref: '#/parameters/p_cifdi'
      - $ref: '#/parameters/p_pfead1'
      - $ref: '#/parameters/p_pfead2'
      - $ref: '#/parameters/p_pfeat'
      - $ref: '#/parameters/p_psncq'
      - $ref: '#/parameters/p_pctrack'
      - $ref: '#/parameters/p_swpa'
      - $ref: '#/parameters/p_des'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_hpvmth'
      - $ref: '#/parameters/p_recvio'
      - $ref: '#/parameters/p_pollvio'
      - $ref: '#/parameters/p_ar'
      - $ref: '#/parameters/p_tri_yr'
      - $ref: '#/parameters/p_pidall'
      - $ref: '#/parameters/p_fac_ico'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_decouple'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/maplist'
      - $ref: '#/parameters/summarylist'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/air2_Results'
            required:
            - Results
            type: object
      summary: Clean Air Act Facility Search
      tags:
      - Facilities
    post:
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_lcon'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_qnc'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/p_opst'
      - $ref: '#/parameters/p_c1lat'
      - $ref: '#/parameters/p_c1lon'
      - $ref: '#/parameters/p_c2lat'
      - $ref: '#/parameters/p_c2lon'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_prog'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_naa'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_tri_cat'
      - $ref: '#/parameters/p_tri_amt'
      - $ref: '#/parameters/p_tri_any_amt'
      - $ref: '#/parameters/p_tri_pol'
      - $ref: '#/parameters/p_ghg_cat'
      - $ref: '#/parameters/p_ghg_amt'
      - $ref: '#/parameters/p_ghg_any_amt'
      - $ref: '#/parameters/p_ghg_yr'
      - $ref: '#/parameters/p_nei_pol'
      - $ref: '#/parameters/p_nei_amt'
      - $ref: '#/parameters/p_nei_any_amt'
      - $ref: '#/parameters/p_nei_yr'
      - $ref: '#/parameters/p_nei_cat'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_stsl'
      - $ref: '#/parameters/p_stsly'
      - $ref: '#/parameters/p_stsla'
      - $ref: '#/parameters/p_stres'
      - $ref: '#/parameters/p_sttyp'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_owop'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/p_idt1'
      - $ref: '#/parameters/p_idt2'
      - $ref: '#/parameters/p_stdt1'
      - $ref: '#/parameters/p_stdt2'
      - $ref: '#/parameters/p_pityp'
      - $ref: '#/parameters/p_cifdi'
      - $ref: '#/parameters/p_pfead1'
      - $ref: '#/parameters/p_pfead2'
      - $ref: '#/parameters/p_pfeat'
      - $ref: '#/parameters/p_psncq'
      - $ref: '#/parameters/p_pctrack'
      - $ref: '#/parameters/p_swpa'
      - $ref: '#/parameters/p_des'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_hpvmth'
      - $ref: '#/parameters/p_recvio'
      - $ref: '#/parameters/p_pollvio'
      - $ref: '#/parameters/p_ar'
      - $ref: '#/parameters/p_tri_yr'
      - $ref: '#/parameters/p_pidall'
      - $ref: '#/parameters/p_fac_ico'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_decouple'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/maplist'
      - $ref: '#/parameters/summarylist'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/air2_Results'
            required:
            - Results
            type: object
      summary: Clean Air Act Facility Search
      tags:
      - Facilities
  /air_rest_services.get_facility_info:
    get:
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_lcon'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_qnc'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/p_opst'
      - $ref: '#/parameters/xmin'
      - $ref: '#/parameters/ymin'
      - $ref: '#/parameters/xmax'
      - $ref: '#/parameters/ymax'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_prog'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_naa'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_tri_cat'
      - $ref: '#/parameters/p_tri_amt'
      - $ref: '#/parameters/p_tri_any_amt'
      - $ref: '#/parameters/p_tri_pol'
      - $ref: '#/parameters/p_ghg_cat'
      - $ref: '#/parameters/p_ghg_amt'
      - $ref: '#/parameters/p_ghg_any_amt'
      - $ref: '#/parameters/p_ghg_yr'
      - $ref: '#/parameters/p_nei_pol'
      - $ref: '#/parameters/p_nei_amt'
      - $ref: '#/parameters/p_nei_any_amt'
      - $ref: '#/parameters/p_nei_yr'
      - $ref: '#/parameters/p_nei_cat'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_stsl'
      - $ref: '#/parameters/p_stsly'
      - $ref: '#/parameters/p_stsla'
      - $ref: '#/parameters/p_stres'
      - $ref: '#/parameters/p_sttyp'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_owop'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/p_idt1'
      - $ref: '#/parameters/p_idt2'
      - $ref: '#/parameters/p_stdt1'
      - $ref: '#/parameters/p_stdt2'
      - $ref: '#/parameters/p_pityp'
      - $ref: '#/parameters/p_cifdi'
      - $ref: '#/parameters/p_pfead1'
      - $ref: '#/parameters/p_pfead2'
      - $ref: '#/parameters/p_pfeat'
      - $ref: '#/parameters/p_psncq'
      - $ref: '#/parameters/p_pctrack'
      - $ref: '#/parameters/p_swpa'
      - $ref: '#/parameters/p_des'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_hpvmth'
      - $ref: '#/parameters/p_recvio'
      - $ref: '#/parameters/p_pollvio'
      - $ref: '#/parameters/p_ar'
      - $ref: '#/parameters/p_tri_yr'
      - $ref: '#/parameters/p_pidall'
      - $ref: '#/parameters/p_fac_ico'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_decouple'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/summarylist'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/qcolumns'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The search will return clusters if the number of facilities
            returned is greater than the resposeset size, otherwise individual facility
            records will be returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/air3_Results'
            required:
            - Results
            type: object
      summary: Clean Air Act Facility Enhanced Search
      tags:
      - Facilities
    post:
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_lcon'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_qnc'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/p_opst'
      - $ref: '#/parameters/xmin'
      - $ref: '#/parameters/ymin'
      - $ref: '#/parameters/xmax'
      - $ref: '#/parameters/ymax'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_prog'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_naa'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_tri_cat'
      - $ref: '#/parameters/p_tri_amt'
      - $ref: '#/parameters/p_tri_any_amt'
      - $ref: '#/parameters/p_tri_pol'
      - $ref: '#/parameters/p_ghg_cat'
      - $ref: '#/parameters/p_ghg_amt'
      - $ref: '#/parameters/p_ghg_any_amt'
      - $ref: '#/parameters/p_ghg_yr'
      - $ref: '#/parameters/p_nei_pol'
      - $ref: '#/parameters/p_nei_amt'
      - $ref: '#/parameters/p_nei_any_amt'
      - $ref: '#/parameters/p_nei_yr'
      - $ref: '#/parameters/p_nei_cat'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_stsl'
      - $ref: '#/parameters/p_stsly'
      - $ref: '#/parameters/p_stsla'
      - $ref: '#/parameters/p_stres'
      - $ref: '#/parameters/p_sttyp'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_owop'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/p_idt1'
      - $ref: '#/parameters/p_idt2'
      - $ref: '#/parameters/p_stdt1'
      - $ref: '#/parameters/p_stdt2'
      - $ref: '#/parameters/p_pityp'
      - $ref: '#/parameters/p_cifdi'
      - $ref: '#/parameters/p_pfead1'
      - $ref: '#/parameters/p_pfead2'
      - $ref: '#/parameters/p_pfeat'
      - $ref: '#/parameters/p_psncq'
      - $ref: '#/parameters/p_pctrack'
      - $ref: '#/parameters/p_swpa'
      - $ref: '#/parameters/p_des'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_hpvmth'
      - $ref: '#/parameters/p_recvio'
      - $ref: '#/parameters/p_pollvio'
      - $ref: '#/parameters/p_ar'
      - $ref: '#/parameters/p_tri_yr'
      - $ref: '#/parameters/p_pidall'
      - $ref: '#/parameters/p_fac_ico'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_decouple'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/summarylist'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/qcolumns'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The search will return clusters if the number of facilities
            returned is greater than the resposeset size, otherwise individual facility
            records will be returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/air3_Results'
            required:
            - Results
            type: object
      summary: Clean Air Act Facility Enhanced Search
      tags:
      - Facilities
  /air_rest_services.get_geojson:
    get:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - $ref: '#/parameters/qcolumns'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            description: GeoJSON Feature Collection Object
            properties:
              features:
                description: Array of features in the feature collection.
                items:
                  $ref: '#/definitions/air6_Feature'
                title: Features Array
                type: array
              type:
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
                example: FeatureCollection
                title: Feature Collection
                type: string
            required:
            - type
            - features
            type: object
      summary: Clean Air Act GeoJSON Service
      tags:
      - Facilities
    post:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - $ref: '#/parameters/qcolumns'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            description: GeoJSON Feature Collection Object
            properties:
              features:
                description: Array of features in the feature collection.
                items:
                  $ref: '#/definitions/air6_Feature'
                title: Features Array
                type: array
              type:
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
                example: FeatureCollection
                title: Feature Collection
                type: string
            required:
            - type
            - features
            type: object
      summary: Clean Air Act GeoJSON Service
      tags:
      - Facilities
  /air_rest_services.get_info_clusters:
    get:
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_qid'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Clean Air Act Info Clusters Service
      tags:
      - Facilities
    post:
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_qid'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Clean Air Act Info Clusters Service
      tags:
      - Facilities
  /air_rest_services.get_map:
    get:
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/c1_lat'
      - $ref: '#/parameters/c1_long'
      - $ref: '#/parameters/c2_lat'
      - $ref: '#/parameters/c2_long'
      - $ref: '#/parameters/p_id'
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            description: Root Object
            properties:
              MapOutput:
                $ref: '#/definitions/air4_MapOutput'
            required:
            - MapOutput
            type: object
      summary: Clean Air Act Map Service
      tags:
      - Facilities
    post:
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/c1_lat'
      - $ref: '#/parameters/c1_long'
      - $ref: '#/parameters/c2_lat'
      - $ref: '#/parameters/c2_long'
      - $ref: '#/parameters/p_id'
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            description: Root Object
            properties:
              MapOutput:
                $ref: '#/definitions/air4_MapOutput'
            required:
            - MapOutput
            type: object
      summary: Clean Air Act Map Service
      tags:
      - Facilities
  /air_rest_services.get_qid:
    get:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/pageno'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Results are an array (page)  of CAA (ICIS Air) Facilities with
            the number of facilities equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/air5_Results'
            required:
            - Results
            type: object
      summary: Clean Air Act Search by Query ID
      tags:
      - Facilities
    post:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/pageno'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Results are an array (page)  of CAA (ICIS Air) Facilities with
            the number of facilities equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/air5_Results'
            required:
            - Results
            type: object
      summary: Clean Air Act Search by Query ID
      tags:
      - Facilities
  /air_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
            - Results
            type: object
      summary: Clean Air Act Metadata Service
      tags:
      - Metadata
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
            - Results
            type: object
      summary: Clean Air Act Metadata Service
      tags:
      - Metadata
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:8:\"Geometry\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"GeoJSON
  Geometry Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Array
  of coordinate values in longitude, latitude format.\";s:7:\"example\";d:-87.862530000000007;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"title\";s:17:\"Coordinates
  Array\";s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"Indicator
  of the geometry represented in the GeoJSON Feature, for Echo will always be \"Point\".\";s:7:\"example\";s:5:\"Point\";s:5:\"title\";s:8:\"Geometry\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:11:\"coordinates\";}s:4:\"type\";s:6:\"object\";}s:16:\"air1_ClusterData\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Cluster
  Data Object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"CVRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Summary
  count of the number of CWA facilities or SDWA public drinking water systems with
  current violations.\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:12:\"ClusterCount\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Cluster
  Count\";s:4:\"type\";s:6:\"string\";}s:11:\"ClusterIcon\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"Cluster
  Icon\";s:4:\"type\";s:6:\"string\";}s:15:\"ClusterLatitude\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"The
  latitude in decimal degrees expressed using the NAD83 horizontal datum.\";s:7:\"example\";s:9:\"38.904149\";s:5:\"title\";s:16:\"Cluster
  Latitude\";s:4:\"type\";s:6:\"string\";}s:16:\"ClusterLongitude\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"The
  longitude in decimal degrees expressed using the NAD83 horizontal datum.\";s:7:\"example\";s:10:\"-77.017094\";s:5:\"title\";s:17:\"Cluster
  Longitude\";s:4:\"type\";s:6:\"string\";}s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"Cluster
  Name\";s:4:\"type\";s:6:\"string\";}s:11:\"ClusterType\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"Cluster
  Type\";s:4:\"type\";s:6:\"string\";}s:12:\"ClusterValue\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Cluster
  Value\";s:4:\"type\";s:6:\"string\";}s:13:\"EPARegionCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"The
  EPA region where the facility is located. EPA has 10 regional offices that execute
  programs within several states and territories\";s:7:\"example\";s:2:\"03\";s:5:\"title\";s:15:\"EPA
  Region Code\";s:4:\"type\";s:6:\"string\";}s:7:\"FEARows\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Summary
  count of the number of facilities with a formal enforcement action in the past five
  years\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:8:\"INSPRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Number
  of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:17:\"IndianCountryRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Number
  of facilities with tribal_flag populated\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:24:\"Indian
  Country Row Count\";s:4:\"type\";s:6:\"string\";}s:10:\"InfFEARows\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Number
  of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT > 0)\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:8:\"ObjectId\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Sequential
  number assigned to each facility returned\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:17:\"Object
  Identifier\";s:4:\"type\";s:6:\"string\";}s:6:\"SVRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Number
  of facilities with curr_sv_flag populated (CWP_STATUS = \"Significant Violation\")\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:34:\"Significant
  Violation Result Count\";s:4:\"type\";s:6:\"string\";}s:14:\"TotalPenalties\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  total dollar amount of either assessed or final penalties within the five year time
  period\";s:7:\"example\";s:8:\"$963,531\";s:5:\"title\";s:15:\"Total Penalties\";s:4:\"type\";s:6:\"string\";}s:6:\"V3Rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Number
  of facilities having one or more quarters in non-compliance (QNC) in the last three
  years\";s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:17:{i:0;s:8:\"ObjectId\";i:1;s:15:\"ClusterLatitude\";i:2;s:16:\"ClusterLongitude\";i:3;s:11:\"ClusterIcon\";i:4;s:11:\"ClusterType\";i:5;s:11:\"ClusterName\";i:6;s:12:\"ClusterValue\";i:7;s:12:\"ClusterCount\";i:8;s:17:\"IndianCountryRows\";i:9;s:13:\"EPARegionCode\";i:10;s:6:\"SVRows\";i:11;s:6:\"CVRows\";i:12;s:6:\"V3Rows\";i:13;s:7:\"FEARows\";i:14;s:10:\"InfFEARows\";i:15;s:8:\"INSPRows\";i:16;s:14:\"TotalPenalties\";}s:4:\"type\";s:6:\"object\";}s:18:\"air1_ClusterOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Cluster
  Output Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"ClusterData\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/air1_ClusterData\";}s:5:\"title\";s:12:\"Cluster
  Data\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"air1_MapData\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Map
  Data Object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"CAAstatus\";O:8:\"stdClass\":2:{s:7:\"example\";s:12:\"______UUUUUU\";s:4:\"type\";s:6:\"string\";}s:11:\"FormalCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"The
  number of formal enforcement actions that have been taken against the facility\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:12:\"Formal
  Count\";s:4:\"type\";s:6:\"string\";}s:4:\"ICON\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Name
  of each individual icon file within the URL base\";s:7:\"example\";s:15:\"CAA-IC-MN-N.png\";s:5:\"title\";s:4:\"Icon\";s:4:\"type\";s:6:\"string\";}s:13:\"InformalCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"The
  number of informal enforcement actions that have been taken against the facility\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:14:\"Informal
  Count\";s:4:\"type\";s:6:\"string\";}s:3:\"LAT\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  latitude of the facility in degrees, to four decimal places\";s:7:\"example\";s:9:\"38.798026\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:3:\"LON\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  longitude of the facility in degrees, to four decimal places\";s:7:\"example\";s:10:\"-77.062981\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:8:\"LastInsp\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  unique identifier for the last inspection\";s:7:\"example\";s:3:\"901\";s:5:\"title\";s:15:\"Last
  Inspection\";s:4:\"type\";s:6:\"string\";}s:4:\"NAME\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"For
  DFR, this is the Facility name. The name corresponds to the TYPE value\";s:7:\"example\";s:34:\"VIRGINIA
  CONCRETE ALEXANDRIA PLANT\";s:5:\"title\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:3:\"PUV\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Pop
  up value. Combine with PopUpBaseURL to give the popup for the facility\";s:7:\"example\";s:12:\"110001891506\";s:5:\"title\";s:11:\"Popup
  Value\";s:4:\"type\";s:6:\"string\";}s:4:\"TYPE\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"For
  DFR, this is always facility\";s:7:\"example\";s:8:\"Facility\";s:5:\"title\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:10:{i:0;s:3:\"LAT\";i:1;s:3:\"LON\";i:2;s:4:\"ICON\";i:3;s:4:\"TYPE\";i:4;s:4:\"NAME\";i:5;s:3:\"PUV\";i:6;s:9:\"CAAstatus\";i:7;s:8:\"LastInsp\";i:8;s:11:\"FormalCount\";i:9;s:13:\"InformalCount\";}s:4:\"type\";s:6:\"object\";}s:15:\"air2_Facilities\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Facilities
  Object\";s:10:\"properties\";O:8:\"stdClass\":125:{s:21:\"AIR3yrComplQtrsStatus\";O:8:\"stdClass\":2:{s:7:\"example\";s:12:\"______UUUUUU\";s:4:\"type\";s:6:\"string\";}s:10:\"AIRCaseIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Space-delimited
  list of AIR cases associated with the facility.\";s:7:\"example\";s:25:\"05-1993-1585
  05-2014-5021\";s:4:\"type\";s:6:\"string\";}s:7:\"AIRCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"AIRCounty\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  name of the county where the AIR facility is located.\";s:7:\"example\";s:6:\"Racine\";s:4:\"type\";s:6:\"string\";}s:18:\"AIRCurrComplStatus\";O:8:\"stdClass\":2:{s:7:\"example\";s:7:\"No
  Viol\";s:4:\"type\";s:6:\"string\";}s:10:\"AIRCurrHpv\";O:8:\"stdClass\":2:{s:7:\"example\";s:2:\"No\";s:4:\"type\";s:6:\"string\";}s:15:\"AIRDaysLastEval\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"2806\";s:4:\"type\";s:6:\"string\";}s:12:\"AIREPARegion\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  EPA region where the AIR facility is located.\";s:7:\"example\";s:2:\"05\";s:4:\"type\";s:6:\"string\";}s:10:\"AIREvalCnt\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:11:\"AIRFIPSCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AIRFacilityTypeCode\";O:8:\"stdClass\":2:{s:7:\"example\";s:3:\"POF\";s:4:\"type\";s:6:\"string\";}s:9:\"AIRFeaCnt\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}s:6:\"AIRIDs\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Air
  Facility System (AFS) ID.\";s:7:\"example\";s:18:\"DC0000001100195254\";s:5:\"title\";s:22:\"AIR
  Facility System ID\";s:4:\"type\";s:6:\"string\";}s:9:\"AIRIeaCnt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"AIRIndianCntryFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Flag
  indicating whether the AIR facility is located in Indian country.\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:32:\"AIR
  Facility Indian Country Flag\";s:4:\"type\";s:6:\"string\";}s:15:\"AIRLastEvalDate\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"05/18/2009\";s:4:\"type\";s:6:\"string\";}s:18:\"AIRLastEvalDateEPA\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"05/16/2014\";s:4:\"type\";s:6:\"string\";}s:20:\"AIRLastEvalDateState\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"05/18/2009\";s:4:\"type\";s:6:\"string\";}s:14:\"AIRLastFeaDate\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"05/16/2014\";s:4:\"type\";s:6:\"string\";}s:17:\"AIRLastFeaDateEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AIRLastFeaDateState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AIRLastIeaDate\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"04/25/2014\";s:4:\"type\";s:6:\"string\";}s:17:\"AIRLastIeaDateEPA\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"04/25/2014\";s:4:\"type\";s:6:\"string\";}s:19:\"AIRLastIeaDateState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"AIRLastPenaltyDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"AIRLastStckDateEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"AIRLastStckDateState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AIRLastStckTestDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"AIRLastStckTestResults\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"AIRLastViolDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"AIRMacts\";O:8:\"stdClass\":2:{s:7:\"example\";s:5:\"ZZZZZ\";s:4:\"type\";s:6:\"string\";}s:12:\"AIRMajorFlag\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"N\";s:4:\"type\";s:6:\"string\";}s:13:\"AIRMnthsInHpv\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}s:8:\"AIRNaics\";O:8:\"stdClass\":2:{s:7:\"example\";s:6:\"812320\";s:4:\"type\";s:6:\"string\";}s:7:\"AIRName\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  name of the AIR Facility.\";s:7:\"example\";s:18:\"WEST PARK CLEANERS\";s:5:\"title\";s:17:\"Air
  Facility Name\";s:4:\"type\";s:6:\"string\";}s:12:\"AIRPenalties\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"$435\";s:4:\"type\";s:6:\"string\";}s:17:\"AIRPollRecentViol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"AIRPrograms\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Comma-delimited
  list of AIR programs.\";s:7:\"example\";s:9:\"MACT, SIP\";s:5:\"title\";s:12:\"Air
  Programs\";s:4:\"type\";s:6:\"string\";}s:12:\"AIRQtrsInHpv\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:15:\"AIRQtrsWithViol\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}s:16:\"AIRRecentViolCnt\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:8:\"AIRState\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  state where the AIR facility is located.\";s:7:\"example\";s:2:\"WI\";s:5:\"title\";s:18:\"AIR
  Facility State\";s:4:\"type\";s:6:\"string\";}s:9:\"AIRStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  status of the AIR facility location.\";s:7:\"example\";s:18:\"Permanently Closed\";s:5:\"title\";s:19:\"Air
  Facility Status\";s:4:\"type\";s:6:\"string\";}s:9:\"AIRStreet\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  street address of the AIR facility location.\";s:7:\"example\";s:18:\"2130 P STREET
  N.W.\";s:5:\"title\";s:27:\"AIR Facility Street Address\";s:4:\"type\";s:6:\"string\";}s:15:\"AIRTRIbalEPAids\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AIRTRIbalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"AIRUniverse\";O:8:\"stdClass\":2:{s:7:\"example\";s:15:\"Minor
  Emissions\";s:4:\"type\";s:6:\"string\";}s:6:\"AIRZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  five-digit zip code of the AIR facility.\";s:7:\"example\";s:5:\"20037\";s:5:\"title\";s:21:\"AIR
  Facility Zip Code\";s:4:\"type\";s:6:\"string\";}s:13:\"ActiveLower48\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"CWAIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"CalculatedAccuracyMeters\";O:8:\"stdClass\":3:{s:7:\"example\";s:2:\"50\";s:5:\"title\";s:29:\"Calculated
  Accuracy in Meters\";s:4:\"type\";s:6:\"string\";}s:7:\"CamdIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Facility
  identifiers for the Clean Air Markets Division database.\";s:5:\"title\";s:38:\"Clean
  Air Markets Division Identifiers\";s:4:\"type\";s:6:\"string\";}s:16:\"CensusBlockGroup\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"A
  geographic unit used by the United States Census Bureau, generally defined to contain
  between 600 and 3,000 people.\";s:7:\"example\";s:12:\"110010096022\";s:5:\"title\";s:18:\"Census
  Block Group\";s:4:\"type\";s:6:\"string\";}s:17:\"ChesapeakeBayFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Displays
  \"Y\" if the facility is located within the Chesapeake Bay watershed.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:19:\"Chesapeake
  Bay Flag\";s:4:\"type\";s:6:\"string\";}s:16:\"CollectionMethod\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:29:\"ADDRESS
  MATCHING-HOUSE NUMBER\";s:5:\"title\";s:17:\"Collection Method\";s:4:\"type\";s:6:\"string\";}s:10:\"CurrSvFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Indicates
  if the facility has a current significant violation. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:34:\"Current
  Significant Violation Flag\";s:4:\"type\";s:6:\"string\";}s:11:\"CurrVioFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Indicates
  if the facility has a current violation. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:22:\"Current
  Violation Flag\";s:4:\"type\";s:6:\"string\";}s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:1568:\"The
  EPA data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";s:7:\"example\";s:3:\"ICP\";s:5:\"title\";s:15:\"EPA
  Data System\";s:4:\"type\";s:6:\"string\";}s:9:\"Ea5yrFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Indicates
  if the facility has a formal enforcement action within the last 5 years. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:6:\"EisIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"EjscreenFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"EjscreenFlagUs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"FacCamdReporter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FacDerivedHuc\";O:8:\"stdClass\":4:{s:11:\"description\";s:183:\"The
  8-digit Hydrologic Unit Code (HUC) of the watershed in which the facility resides.
  A HUC number is assigned to every watershed in the nation and uniquely identifies
  the watershed.\";s:7:\"example\";s:6:\"552968\";s:5:\"title\";s:20:\"Watershed (HUC
  Code)\";s:4:\"type\";s:6:\"string\";}s:16:\"FacDerivedTRIbes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FacDerivedWBD\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacDerivedWBDName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacEisAIRReleases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"FacEisReporter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"FacFIPSCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:118:\"The
  2-digit Federal Information Processing Standards (FIPS) code to identify the county
  that a facility is located in.\";s:7:\"example\";s:5:\"55001\";s:5:\"title\";s:9:\"FIPS
  Code\";s:4:\"type\";s:6:\"string\";}s:20:\"FacFederalAgencyCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:506:\"Indicates
  the federal agency, as classified in FRS. Federal agencies are installations that
  are owned and operated by the U.S. government. The five-character code consists
  of a letter followed by four numbers. There are four possible letters that can occupy
  the first character position: C = Civilian Federal Agency; D = Department of Defense;
  E = Department of Energy; X = Unknown. The second and third characters represent
  the agency code, while the fourth and fifth characters represent the bureau code.\";s:7:\"example\";s:1:\"E\";s:5:\"title\";s:29:\"Facility
  Federal Agency Code\n\";s:4:\"type\";s:6:\"string\";}s:20:\"FacFederalAgencyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacGHGCO2Releases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"FacGHGReporter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacIndianCntryFlg\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Flag
  showing Y/N whether the facility is located in Indian Country.\";s:5:\"title\";s:28:\"Facility
  Indian Country Flag\";s:4:\"type\";s:6:\"string\";}s:19:\"FacIndianSpatialFlg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"FacLat\";O:8:\"stdClass\":4:{s:11:\"description\";s:267:\"The
  latitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";s:7:\"example\";s:9:\"38.803076\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:7:\"FacLong\";O:8:\"stdClass\":4:{s:11:\"description\";s:268:\"The
  longitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";s:7:\"example\";s:10:\"-77.085951\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:9:\"FacMapFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"Graphical
  indicator denoting whether geographical data required to map a facility are available.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:20:\"Facility
  Mapped Flag\";s:4:\"type\";s:6:\"string\";}s:10:\"FacMapIcon\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"The
  default map icon image file calculated for the facility by the ECHO program.\";s:7:\"example\";s:15:\"CWA-NC-MJ-2.png\";s:5:\"title\";s:17:\"Facility
  Map Icon\";s:4:\"type\";s:6:\"string\";}s:10:\"FacNaaFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"FacPercentMinority\";O:8:\"stdClass\":4:{s:11:\"description\";s:174:\"Percent
  Minority is the percentage of the population of the given area that is considered
  minority. Statistics are shown for the area within a 3-mile radius of each facility.\";s:7:\"example\";s:6:\"45.379\";s:5:\"title\";s:26:\"Facility
  Percent Minority\n\";s:4:\"type\";s:6:\"string\";}s:20:\"FacPopulationDensity\";O:8:\"stdClass\":2:{s:7:\"example\";s:7:\"9611.17\";s:4:\"type\";s:6:\"string\";}s:11:\"FacSicCodes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacTRIAIRReleases\";O:8:\"stdClass\":2:{s:7:\"example\";s:2:\"36\";s:4:\"type\";s:6:\"string\";}s:21:\"FacTRICarcAIRReleases\";O:8:\"stdClass\":2:{s:7:\"example\";s:2:\"24\";s:4:\"type\";s:6:\"string\";}s:21:\"FacTRIHapsAIRReleases\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"35.5\";s:4:\"type\";s:6:\"string\";}s:14:\"FacTRIReporter\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Indicates
  whether facility reported to the Toxics Release Inventory (TRI) for the most recent
  reporting year.\";s:7:\"example\";s:1:\"B\";s:5:\"title\";s:21:\"Facility TRI Reporter\";s:4:\"type\";s:6:\"string\";}s:17:\"FacUsMexBorderFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"A
  Y/N flag indicating that the facility is within 100KM of the US-Mexico Border.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:21:\"Near
  US-Mexico Border\";s:4:\"type\";s:6:\"string\";}s:6:\"GHGIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"HasPollRpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"???\";s:7:\"example\";s:1:\"Y\";s:4:\"type\";s:6:\"string\";}s:12:\"Infea5yrFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Indicates
  if the facility has an informal enforcement action within the last 5 years. 1 =
  Yes.\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:11:\"Insp5yrFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Indicates
  if the facility has an inspection within the last 5 years. 1 = Yes\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:37:\"Inspected
  Within Last Five Years Flag\";s:4:\"type\";s:6:\"string\";}s:11:\"LastDatePce\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"LastDatePceEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"LastDatePceSta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"LocalControlRegionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Code
  for regions within a state. Search criteria for DFR in OTIS.\";s:5:\"title\";s:25:\"Local
  Control Region Code\";s:4:\"type\";s:6:\"string\";}s:22:\"LocalControlRegionName\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Regions
  within a state. Search criteria for DFR in OTIS.\";s:5:\"title\";s:25:\"Local Control
  Region Name\";s:4:\"type\";s:6:\"string\";}s:7:\"Lower48\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"Flag
  showing Y/N whether location is within the contiguous (lower 48) United States.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:29:\"Contiguous
  United States Flag\";s:4:\"type\";s:6:\"string\";}s:3:\"Map\";O:8:\"stdClass\":2:{s:5:\"title\";s:3:\"Map\";s:4:\"type\";s:6:\"string\";}s:11:\"MaxPctileUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  maximum percentile from all individual EJSCREEN indicators.\";s:7:\"example\";s:2:\"98\";s:4:\"type\";s:6:\"string\";}s:8:\"MaxScore\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"[Col.
  121]\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:9:\"Max Score\";s:4:\"type\";s:6:\"string\";}s:13:\"Over80CountUs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"PctileCancerUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  national percentile of the census block group for the EJSCREEN NATA air toxics cancer
  risk indicator.\";s:7:\"example\";s:2:\"99\";s:4:\"type\";s:6:\"string\";}s:11:\"PctileDpmUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  national percentile of the census block group for the EJSCREEN diesel particulate
  matter indicator.\";s:7:\"example\";s:2:\"99\";s:4:\"type\";s:6:\"string\";}s:10:\"PctileO3Us\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  national percentile of the census block group for the EJSCREEN ozone indicator.\";s:7:\"example\";s:2:\"94\";s:4:\"type\";s:6:\"string\";}s:18:\"PctilePctpre1960Us\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  national percentile of the census block group for the EJSCREEN Lead paint indicator.\";s:7:\"example\";s:4:\"14.6\";s:4:\"type\";s:6:\"string\";}s:10:\"PctilePmUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  national percentile of the census block group for the EJSCREEN particulate matter
  indicator.\";s:7:\"example\";s:2:\"93\";s:4:\"type\";s:6:\"string\";}s:22:\"PctileProximityNPDESUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  national percentile of the census block group for the EJSCREEN proximity to major
  direct water dischargers indicator.\";s:7:\"example\";s:4:\"23.7\";s:4:\"type\";s:6:\"string\";}s:20:\"PctileProximityNplUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"The
  national percentile of the census block group for the EJSCREEN proximity to National
  Priorities List (NPL) sites indicator.\";s:7:\"example\";s:2:\"96\";s:4:\"type\";s:6:\"string\";}s:20:\"PctileProximityRmpUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  national percentile of the census block group for the EJSCREEN proximity to Risk
  Management Plan (RMP) sites indicator.\";s:7:\"example\";s:2:\"91\";s:4:\"type\";s:6:\"string\";}s:21:\"PctileProximityTsdfUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  national percentile of the census block group for the EJSCREEN proximity to Treatment
  Storage and Disposal Facilities (TSDFs) indicator.\";s:7:\"example\";s:2:\"82\";s:4:\"type\";s:6:\"string\";}s:12:\"PctileRespUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
  national percentile of the census block group for the EJSCREEN NATA respiratory
  hazard index indicator.\";s:7:\"example\";s:2:\"99\";s:4:\"type\";s:6:\"string\";}s:20:\"PctileTrafficScoreUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  national percentile of the census block group for the EJSCREEN Traffic proximity
  and volume indicator.\";s:7:\"example\";s:2:\"92\";s:4:\"type\";s:6:\"string\";}s:7:\"RCRAIDs\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"A
  unique 12-character ID assigned for each record/permit/site/facility within the
  RCRAInfo database.\";s:7:\"example\";s:12:\"VAD981111784\";s:5:\"title\";s:42:\"Resource
  Conservation and Recovery Act IDs\";s:4:\"type\";s:6:\"string\";}s:14:\"ReferencePoint\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:39:\"ENTRANCE
  POINT OF A FACILITY OR STATION\";s:5:\"title\";s:15:\"Reference Point\";s:4:\"type\";s:6:\"string\";}s:10:\"RegistryID\";O:8:\"stdClass\":4:{s:11:\"description\";s:144:\"An
  internal 12-digit Facility Registry Service (FRS) tracking number used to tie all
  facility data together in EPA regulatory program databases.\";s:7:\"example\";s:12:\"110020837601\";s:5:\"title\";s:6:\"FRS
  ID\";s:4:\"type\";s:6:\"string\";}s:6:\"RmpIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"SDWAIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"A
  unique 9-character ID assigned for each public water system within the Safe Drinking
  Water Information System (SDWIS).\";s:7:\"example\";s:9:\"DC0000001\";s:4:\"type\";s:6:\"string\";}s:5:\"Score\";O:8:\"stdClass\":3:{s:7:\"example\";s:1:\"1\";s:5:\"title\";s:5:\"Score\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:7:\"Statute\";O:8:\"stdClass\":4:{s:11:\"description\";s:416:\"The
  name of the statute associated with each of the permits and identifiers linked to
  the facility: \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA =
  the Resource Conservation and Recovery Act\n- EP313 = the Emergency Planning and
  Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory
  Program)\n- TSCA = the Toxic Substances Control Act\n- SDWA = the Safe Drinking
  Water Act\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:18:\"Regulatory Statute\";s:4:\"type\";s:6:\"string\";}s:6:\"TRIIDs\";O:8:\"stdClass\":4:{s:11:\"description\";s:281:\"A
  unique 15-character ID assigned for each facility within the Toxics Release Inventory
  (TRI) program. The format is ZZZZZNNNNNSSSSS, where ZZZZZ = ZIP code, NNNNN = the
  first 5 consonants of the name, and SSSSS = the first 5 non-blank non-special characters
  in the street address.\";s:7:\"example\";s:15:\"20011FRTTT5001F\";s:5:\"title\";s:36:\"Toxics
  Release Inventory Program IDs\";s:4:\"type\";s:6:\"string\";}s:10:\"TRIbalFlag\";O:8:\"stdClass\":3:{s:7:\"example\";s:1:\"1\";s:5:\"title\";s:17:\"Tribal
  Lands Flag\";s:4:\"type\";s:6:\"string\";}s:8:\"ViolFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Indicates
  if the facility had a violation within the last 3 years. 1 = Yes\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:14:\"Violation
  Flag\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:118:{i:0;s:8:\"SourceID\";i:1;s:9:\"EPASystem\";i:2;s:10:\"RegistryID\";i:3;s:7:\"Statute\";i:4;s:7:\"AIRName\";i:5;s:9:\"AIRStreet\";i:6;s:7:\"AIRCity\";i:7;s:8:\"AIRState\";i:8;s:6:\"AIRZip\";i:9;s:9:\"AIRCounty\";i:10;s:22:\"LocalControlRegionCode\";i:11;s:22:\"LocalControlRegionName\";i:12;s:11:\"AIRFIPSCode\";i:13;s:12:\"AIREPARegion\";i:14;s:9:\"AIRStatus\";i:15;s:17:\"AIRIndianCntryFlg\";i:16;s:15:\"AIRTRIbalEPAids\";i:17;s:14:\"AIRTRIbalNames\";i:18;s:11:\"FacFIPSCode\";i:19;s:6:\"FacLat\";i:20;s:7:\"FacLong\";i:21;s:17:\"FacUsMexBorderFlg\";i:22;s:11:\"AIRUniverse\";i:23;s:8:\"AIRNaics\";i:24;s:11:\"FacSicCodes\";i:25;s:18:\"FacPercentMinority\";i:26;s:20:\"FacPopulationDensity\";i:27;s:20:\"FacFederalAgencyCode\";i:28;s:20:\"FacFederalAgencyName\";i:29;s:17:\"ChesapeakeBayFlag\";i:30;s:6:\"AIRIDs\";i:31;s:6:\"CWAIDs\";i:32;s:7:\"RCRAIDs\";i:33;s:6:\"TRIIDs\";i:34;s:7:\"SDWAIDs\";i:35;s:10:\"AIRCaseIDs\";i:36;s:6:\"GHGIDs\";i:37;s:6:\"EisIDs\";i:38;s:8:\"AIRMacts\";i:39;s:11:\"AIRPrograms\";i:40;s:10:\"AIRCurrHpv\";i:41;s:18:\"AIRCurrComplStatus\";i:42;s:12:\"AIRQtrsInHpv\";i:43;s:13:\"AIRMnthsInHpv\";i:44;s:15:\"AIRQtrsWithViol\";i:45;s:17:\"AIRPollRecentViol\";i:46;s:16:\"AIRRecentViolCnt\";i:47;s:15:\"AIRLastViolDate\";i:48;s:10:\"AIREvalCnt\";i:49;s:15:\"AIRLastEvalDate\";i:50;s:15:\"AIRDaysLastEval\";i:51;s:19:\"AIRLastStckTestDate\";i:52;s:18:\"AIRLastStckDateEPA\";i:53;s:20:\"AIRLastStckDateState\";i:54;s:22:\"AIRLastStckTestResults\";i:55;s:9:\"AIRIeaCnt\";i:56;s:14:\"AIRLastIeaDate\";i:57;s:9:\"AIRFeaCnt\";i:58;s:14:\"AIRLastFeaDate\";i:59;s:12:\"AIRPenalties\";i:60;s:18:\"AIRLastPenaltyDate\";i:61;s:18:\"AIRLastEvalDateEPA\";i:62;s:20:\"AIRLastEvalDateState\";i:63;s:17:\"AIRLastFeaDateEPA\";i:64;s:19:\"AIRLastFeaDateState\";i:65;s:17:\"AIRLastIeaDateEPA\";i:66;s:19:\"AIRLastIeaDateState\";i:67;s:14:\"FacTRIReporter\";i:68;s:17:\"FacTRIAIRReleases\";i:69;s:21:\"FacTRICarcAIRReleases\";i:70;s:21:\"FacTRIHapsAIRReleases\";i:71;s:17:\"FacEisAIRReleases\";i:72;s:17:\"FacGHGCO2Releases\";i:73;s:13:\"FacDerivedHuc\";i:74;s:13:\"FacDerivedWBD\";i:75;s:17:\"FacDerivedWBDName\";i:76;s:9:\"FacMapFlg\";i:77;s:10:\"FacMapIcon\";i:78;s:10:\"FacNaaFlag\";i:79;s:14:\"FacGHGReporter\";i:80;s:14:\"FacEisReporter\";i:81;s:15:\"FacCamdReporter\";i:82;s:19:\"AIRFacilityTypeCode\";i:83;s:12:\"AIRMajorFlag\";i:84;s:6:\"RmpIDs\";i:85;s:21:\"AIR3yrComplQtrsStatus\";i:86;s:10:\"HasPollRpt\";i:87;s:16:\"CensusBlockGroup\";i:88;s:18:\"PctilePctpre1960Us\";i:89;s:11:\"PctileDpmUs\";i:90;s:14:\"PctileCancerUs\";i:91;s:12:\"PctileRespUs\";i:92;s:20:\"PctileTrafficScoreUs\";i:93;s:22:\"PctileProximityNPDESUs\";i:94;s:20:\"PctileProximityNplUs\";i:95;s:20:\"PctileProximityRmpUs\";i:96;s:21:\"PctileProximityTsdfUs\";i:97;s:10:\"PctileO3Us\";i:98;s:10:\"PctilePmUs\";i:99;s:11:\"MaxPctileUs\";i:100;s:14:\"EjscreenFlagUs\";i:101;s:12:\"EjscreenFlag\";i:102;s:10:\"TRIbalFlag\";i:103;s:10:\"CurrSvFlag\";i:104;s:8:\"ViolFlag\";i:105;s:11:\"CurrVioFlag\";i:106;s:11:\"Insp5yrFlag\";i:107;s:9:\"Ea5yrFlag\";i:108;s:12:\"Infea5yrFlag\";i:109;s:7:\"Lower48\";i:110;s:13:\"ActiveLower48\";i:111;s:16:\"FacDerivedTRIbes\";i:112;s:17:\"FacIndianCntryFlg\";i:113;s:19:\"FacIndianSpatialFlg\";i:114;s:16:\"CollectionMethod\";i:115;s:14:\"ReferencePoint\";i:116;s:24:\"CalculatedAccuracyMeters\";i:117;s:3:\"Map\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Facility\";}}s:14:\"air2_MapOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Map
  Output Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"IconBaseURL\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"URL
  where all the icons are located\";s:7:\"example\";s:35:\"https://echo.epa.gov/app/map/icons/\";s:5:\"title\";s:13:\"Icon
  Base URL\";s:4:\"type\";s:6:\"string\";}s:7:\"MapData\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/air1_MapData\";}s:5:\"title\";s:8:\"Map
  Data\";s:4:\"type\";s:5:\"array\";}s:12:\"PopUpBaseURL\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Combine
  this URL with the PUC to get popup info\";s:7:\"example\";s:58:\"https://ofmpub.epa.gov/echo/cwa_rest_services.pop_up?p_id=\";s:5:\"title\";s:14:\"Popup
  Base URL\";s:4:\"type\";s:6:\"string\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";s:7:\"example\";s:3:\"245\";s:5:\"title\";s:16:\"Query
  Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:7:\"QueryID\";i:1;s:11:\"IconBaseURL\";i:2;s:12:\"PopUpBaseURL\";i:3;s:7:\"MapData\";}s:4:\"type\";s:6:\"object\";}s:12:\"air2_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"CVRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Summary
  count of the number of CWA facilities or SDWA public drinking water systems with
  current violations.\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:7:\"FEARows\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Summary
  count of the number of facilities with a formal enforcement action in the past five
  years\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:10:\"Facilities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/air2_Facilities\";}s:5:\"title\";s:10:\"Facilities\";s:4:\"type\";s:5:\"array\";}s:8:\"INSPRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Number
  of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:17:\"IndianCountryRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Number
  of facilities with tribal_flag populated\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:24:\"Indian
  Country Row Count\";s:4:\"type\";s:6:\"string\";}s:10:\"InfFEARows\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Number
  of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT > 0)\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:9:\"MapOutput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/air2_MapOutput\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:6:\"PageNo\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  number of pages of results returned\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:11:\"Page
  Number\";s:4:\"type\";s:6:\"string\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";s:7:\"example\";s:3:\"245\";s:5:\"title\";s:16:\"Query
  Identifier\";s:4:\"type\";s:6:\"string\";}s:9:\"QueryRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Number
  of query results returned\";s:7:\"example\";s:1:\"5\";s:5:\"title\";s:15:\"Query
  Row Count\";s:4:\"type\";s:6:\"string\";}s:6:\"SVRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Number
  of facilities with curr_sv_flag populated (CWP_STATUS = \"Significant Violation\")\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:34:\"Significant
  Violation Result Count\";s:4:\"type\";s:6:\"string\";}s:14:\"TotalPenalties\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  total dollar amount of either assessed or final penalties within the five year time
  period\";s:7:\"example\";s:8:\"$963,531\";s:5:\"title\";s:15:\"Total Penalties\";s:4:\"type\";s:6:\"string\";}s:6:\"V3Rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Number
  of facilities having one or more quarters in non-compliance (QNC) in the last three
  years\";s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:12:{i:0;s:7:\"Message\";i:1;s:9:\"QueryRows\";i:2;s:17:\"IndianCountryRows\";i:3;s:6:\"SVRows\";i:4;s:6:\"CVRows\";i:5;s:6:\"V3Rows\";i:6;s:7:\"FEARows\";i:7;s:10:\"InfFEARows\";i:8;s:8:\"INSPRows\";i:9;s:14:\"TotalPenalties\";i:10;s:7:\"QueryID\";i:11;s:6:\"PageNo\";}s:4:\"type\";s:6:\"object\";}s:15:\"air3_Facilities\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Facilities
  Object\";s:10:\"properties\";O:8:\"stdClass\":128:{s:21:\"AIR3yrComplQtrsStatus\";O:8:\"stdClass\":2:{s:7:\"example\";s:12:\"______UUUUUU\";s:4:\"type\";s:6:\"string\";}s:10:\"AIRCaseIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Space-delimited
  list of AIR cases associated with the facility.\";s:7:\"example\";s:25:\"05-1993-1585
  05-2014-5021\";s:4:\"type\";s:6:\"string\";}s:7:\"AIRCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"AIRCmsCategoryCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"AIR
  CMS Category Code\";s:5:\"title\";s:21:\"AIR CMS Category Code\";s:4:\"type\";s:6:\"string\";}s:18:\"AIRCmsCategoryDesc\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"AIR
  CMS Category Description\";s:5:\"title\";s:28:\"AIR CMS Category Description\";s:4:\"type\";s:6:\"string\";}s:9:\"AIRCounty\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  name of the county where the AIR facility is located.\";s:7:\"example\";s:6:\"Racine\";s:4:\"type\";s:6:\"string\";}s:18:\"AIRCurrComplStatus\";O:8:\"stdClass\":2:{s:7:\"example\";s:7:\"No
  Viol\";s:4:\"type\";s:6:\"string\";}s:10:\"AIRCurrHpv\";O:8:\"stdClass\":2:{s:7:\"example\";s:2:\"No\";s:4:\"type\";s:6:\"string\";}s:15:\"AIRDaysLastEval\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"2806\";s:4:\"type\";s:6:\"string\";}s:12:\"AIREPARegion\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  EPA region where the AIR facility is located.\";s:7:\"example\";s:2:\"05\";s:4:\"type\";s:6:\"string\";}s:10:\"AIREvalCnt\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:11:\"AIRFIPSCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AIRFacilityTypeCode\";O:8:\"stdClass\":2:{s:7:\"example\";s:3:\"POF\";s:4:\"type\";s:6:\"string\";}s:9:\"AIRFeaCnt\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}s:6:\"AIRIDs\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Air
  Facility System (AFS) ID.\";s:7:\"example\";s:18:\"DC0000001100195254\";s:5:\"title\";s:22:\"AIR
  Facility System ID\";s:4:\"type\";s:6:\"string\";}s:9:\"AIRIeaCnt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"AIRIndianCntryFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Flag
  indicating whether the AIR facility is located in Indian country.\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:32:\"AIR
  Facility Indian Country Flag\";s:4:\"type\";s:6:\"string\";}s:15:\"AIRLastEvalDate\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"05/18/2009\";s:4:\"type\";s:6:\"string\";}s:18:\"AIRLastEvalDateEPA\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"05/16/2014\";s:4:\"type\";s:6:\"string\";}s:20:\"AIRLastEvalDateState\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"05/18/2009\";s:4:\"type\";s:6:\"string\";}s:14:\"AIRLastFeaDate\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"05/16/2014\";s:4:\"type\";s:6:\"string\";}s:17:\"AIRLastFeaDateEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AIRLastFeaDateState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AIRLastIeaDate\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"04/25/2014\";s:4:\"type\";s:6:\"string\";}s:17:\"AIRLastIeaDateEPA\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"04/25/2014\";s:4:\"type\";s:6:\"string\";}s:19:\"AIRLastIeaDateState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"AIRLastPenaltyDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"AIRLastStckDateEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"AIRLastStckDateState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AIRLastStckTestDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"AIRLastStckTestResults\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"AIRLastViolDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"AIRMacts\";O:8:\"stdClass\":2:{s:7:\"example\";s:5:\"ZZZZZ\";s:4:\"type\";s:6:\"string\";}s:12:\"AIRMajorFlag\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"N\";s:4:\"type\";s:6:\"string\";}s:13:\"AIRMnthsInHpv\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}s:8:\"AIRNaics\";O:8:\"stdClass\":2:{s:7:\"example\";s:6:\"812320\";s:4:\"type\";s:6:\"string\";}s:7:\"AIRName\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  name of the AIR Facility.\";s:7:\"example\";s:18:\"WEST PARK CLEANERS\";s:5:\"title\";s:17:\"Air
  Facility Name\";s:4:\"type\";s:6:\"string\";}s:12:\"AIRPenalties\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"$435\";s:4:\"type\";s:6:\"string\";}s:17:\"AIRPollRecentViol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"AIRPrograms\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Comma-delimited
  list of AIR programs.\";s:7:\"example\";s:9:\"MACT, SIP\";s:5:\"title\";s:12:\"Air
  Programs\";s:4:\"type\";s:6:\"string\";}s:12:\"AIRQtrsInHpv\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:15:\"AIRQtrsWithViol\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}s:16:\"AIRRecentViolCnt\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:8:\"AIRState\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  state where the AIR facility is located.\";s:7:\"example\";s:2:\"WI\";s:5:\"title\";s:18:\"AIR
  Facility State\";s:4:\"type\";s:6:\"string\";}s:9:\"AIRStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  status of the AIR facility location.\";s:7:\"example\";s:18:\"Permanently Closed\";s:5:\"title\";s:19:\"Air
  Facility Status\";s:4:\"type\";s:6:\"string\";}s:9:\"AIRStreet\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  street address of the AIR facility location.\";s:7:\"example\";s:18:\"2130 P STREET
  N.W.\";s:5:\"title\";s:27:\"AIR Facility Street Address\";s:4:\"type\";s:6:\"string\";}s:15:\"AIRTRIbalEPAids\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AIRTRIbalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"AIRUniverse\";O:8:\"stdClass\":2:{s:7:\"example\";s:15:\"Minor
  Emissions\";s:4:\"type\";s:6:\"string\";}s:6:\"AIRZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  five-digit zip code of the AIR facility.\";s:7:\"example\";s:5:\"20037\";s:5:\"title\";s:21:\"AIR
  Facility Zip Code\";s:4:\"type\";s:6:\"string\";}s:13:\"ActiveLower48\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"CWAIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"CalculatedAccuracyMeters\";O:8:\"stdClass\":3:{s:7:\"example\";s:2:\"50\";s:5:\"title\";s:29:\"Calculated
  Accuracy in Meters\";s:4:\"type\";s:6:\"string\";}s:7:\"CamdIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Facility
  identifiers for the Clean Air Markets Division database.\";s:5:\"title\";s:38:\"Clean
  Air Markets Division Identifiers\";s:4:\"type\";s:6:\"string\";}s:16:\"CensusBlockGroup\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"A
  geographic unit used by the United States Census Bureau, generally defined to contain
  between 600 and 3,000 people.\";s:7:\"example\";s:12:\"110010096022\";s:5:\"title\";s:18:\"Census
  Block Group\";s:4:\"type\";s:6:\"string\";}s:17:\"ChesapeakeBayFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Displays
  \"Y\" if the facility is located within the Chesapeake Bay watershed.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:19:\"Chesapeake
  Bay Flag\";s:4:\"type\";s:6:\"string\";}s:16:\"CollectionMethod\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:29:\"ADDRESS
  MATCHING-HOUSE NUMBER\";s:5:\"title\";s:17:\"Collection Method\";s:4:\"type\";s:6:\"string\";}s:10:\"CurrSvFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Indicates
  if the facility has a current significant violation. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:34:\"Current
  Significant Violation Flag\";s:4:\"type\";s:6:\"string\";}s:11:\"CurrVioFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Indicates
  if the facility has a current violation. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:22:\"Current
  Violation Flag\";s:4:\"type\";s:6:\"string\";}s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:1568:\"The
  EPA data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";s:7:\"example\";s:3:\"ICP\";s:5:\"title\";s:15:\"EPA
  Data System\";s:4:\"type\";s:6:\"string\";}s:9:\"Ea5yrFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Indicates
  if the facility has a formal enforcement action within the last 5 years. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:6:\"EisIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"EjscreenFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"EjscreenFlagUs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"FacCamdReporter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FacDerivedHuc\";O:8:\"stdClass\":4:{s:11:\"description\";s:183:\"The
  8-digit Hydrologic Unit Code (HUC) of the watershed in which the facility resides.
  A HUC number is assigned to every watershed in the nation and uniquely identifies
  the watershed.\";s:7:\"example\";s:6:\"552968\";s:5:\"title\";s:20:\"Watershed (HUC
  Code)\";s:4:\"type\";s:6:\"string\";}s:16:\"FacDerivedTRIbes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FacDerivedWBD\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacDerivedWBDName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacEisAIRReleases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"FacEisReporter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"FacFIPSCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:118:\"The
  2-digit Federal Information Processing Standards (FIPS) code to identify the county
  that a facility is located in.\";s:7:\"example\";s:5:\"55001\";s:5:\"title\";s:9:\"FIPS
  Code\";s:4:\"type\";s:6:\"string\";}s:20:\"FacFederalAgencyCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:506:\"Indicates
  the federal agency, as classified in FRS. Federal agencies are installations that
  are owned and operated by the U.S. government. The five-character code consists
  of a letter followed by four numbers. There are four possible letters that can occupy
  the first character position: C = Civilian Federal Agency; D = Department of Defense;
  E = Department of Energy; X = Unknown. The second and third characters represent
  the agency code, while the fourth and fifth characters represent the bureau code.\";s:7:\"example\";s:1:\"E\";s:5:\"title\";s:29:\"Facility
  Federal Agency Code\n\";s:4:\"type\";s:6:\"string\";}s:20:\"FacFederalAgencyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacGHGCO2Releases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"FacGHGReporter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacIndianCntryFlg\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Flag
  showing Y/N whether the facility is located in Indian Country.\";s:5:\"title\";s:28:\"Facility
  Indian Country Flag\";s:4:\"type\";s:6:\"string\";}s:19:\"FacIndianSpatialFlg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"FacLat\";O:8:\"stdClass\":4:{s:11:\"description\";s:267:\"The
  latitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";s:7:\"example\";s:9:\"38.803076\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:7:\"FacLong\";O:8:\"stdClass\":4:{s:11:\"description\";s:268:\"The
  longitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";s:7:\"example\";s:10:\"-77.085951\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:9:\"FacMapFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"Graphical
  indicator denoting whether geographical data required to map a facility are available.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:20:\"Facility
  Mapped Flag\";s:4:\"type\";s:6:\"string\";}s:10:\"FacMapIcon\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"The
  default map icon image file calculated for the facility by the ECHO program.\";s:7:\"example\";s:15:\"CWA-NC-MJ-2.png\";s:5:\"title\";s:17:\"Facility
  Map Icon\";s:4:\"type\";s:6:\"string\";}s:10:\"FacNaaFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"FacPercentMinority\";O:8:\"stdClass\":4:{s:11:\"description\";s:174:\"Percent
  Minority is the percentage of the population of the given area that is considered
  minority. Statistics are shown for the area within a 3-mile radius of each facility.\";s:7:\"example\";s:6:\"45.379\";s:5:\"title\";s:26:\"Facility
  Percent Minority\n\";s:4:\"type\";s:6:\"string\";}s:20:\"FacPopulationDensity\";O:8:\"stdClass\":2:{s:7:\"example\";s:7:\"9611.17\";s:4:\"type\";s:6:\"string\";}s:11:\"FacSicCodes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacTRIAIRReleases\";O:8:\"stdClass\":2:{s:7:\"example\";s:2:\"36\";s:4:\"type\";s:6:\"string\";}s:21:\"FacTRICarcAIRReleases\";O:8:\"stdClass\":2:{s:7:\"example\";s:2:\"24\";s:4:\"type\";s:6:\"string\";}s:21:\"FacTRIHapsAIRReleases\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"35.5\";s:4:\"type\";s:6:\"string\";}s:14:\"FacTRIReporter\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Indicates
  whether facility reported to the Toxics Release Inventory (TRI) for the most recent
  reporting year.\";s:7:\"example\";s:1:\"B\";s:5:\"title\";s:21:\"Facility TRI Reporter\";s:4:\"type\";s:6:\"string\";}s:17:\"FacUsMexBorderFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"A
  Y/N flag indicating that the facility is within 100KM of the US-Mexico Border.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:21:\"Near
  US-Mexico Border\";s:4:\"type\";s:6:\"string\";}s:6:\"GHGIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"HasPollRpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"???\";s:7:\"example\";s:1:\"Y\";s:4:\"type\";s:6:\"string\";}s:12:\"Infea5yrFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Indicates
  if the facility has an informal enforcement action within the last 5 years. 1 =
  Yes.\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:11:\"Insp5yrFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Indicates
  if the facility has an inspection within the last 5 years. 1 = Yes\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:37:\"Inspected
  Within Last Five Years Flag\";s:4:\"type\";s:6:\"string\";}s:11:\"LastDatePce\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"LastDatePceEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"LastDatePceSta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"LocalControlRegionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Code
  for regions within a state. Search criteria for DFR in OTIS.\";s:5:\"title\";s:25:\"Local
  Control Region Code\";s:4:\"type\";s:6:\"string\";}s:22:\"LocalControlRegionName\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Regions
  within a state. Search criteria for DFR in OTIS.\";s:5:\"title\";s:25:\"Local Control
  Region Name\";s:4:\"type\";s:6:\"string\";}s:7:\"Lower48\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"Flag
  showing Y/N whether location is within the contiguous (lower 48) United States.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:29:\"Contiguous
  United States Flag\";s:4:\"type\";s:6:\"string\";}s:3:\"Map\";O:8:\"stdClass\":2:{s:5:\"title\";s:3:\"Map\";s:4:\"type\";s:6:\"string\";}s:11:\"MaxPctileUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  maximum percentile from all individual EJSCREEN indicators.\";s:7:\"example\";s:2:\"98\";s:4:\"type\";s:6:\"string\";}s:8:\"MaxScore\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"[Col.
  121]\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:9:\"Max Score\";s:4:\"type\";s:6:\"string\";}s:8:\"ObjectId\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Sequential
  number assigned to each facility returned\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:17:\"Object
  Identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"Over80CountUs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"PctileCancerUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  national percentile of the census block group for the EJSCREEN NATA air toxics cancer
  risk indicator.\";s:7:\"example\";s:2:\"99\";s:4:\"type\";s:6:\"string\";}s:11:\"PctileDpmUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  national percentile of the census block group for the EJSCREEN diesel particulate
  matter indicator.\";s:7:\"example\";s:2:\"99\";s:4:\"type\";s:6:\"string\";}s:10:\"PctileO3Us\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  national percentile of the census block group for the EJSCREEN ozone indicator.\";s:7:\"example\";s:2:\"94\";s:4:\"type\";s:6:\"string\";}s:18:\"PctilePctpre1960Us\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  national percentile of the census block group for the EJSCREEN Lead paint indicator.\";s:7:\"example\";s:4:\"14.6\";s:4:\"type\";s:6:\"string\";}s:10:\"PctilePmUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  national percentile of the census block group for the EJSCREEN particulate matter
  indicator.\";s:7:\"example\";s:2:\"93\";s:4:\"type\";s:6:\"string\";}s:22:\"PctileProximityNPDESUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  national percentile of the census block group for the EJSCREEN proximity to major
  direct water dischargers indicator.\";s:7:\"example\";s:4:\"23.7\";s:4:\"type\";s:6:\"string\";}s:20:\"PctileProximityNplUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"The
  national percentile of the census block group for the EJSCREEN proximity to National
  Priorities List (NPL) sites indicator.\";s:7:\"example\";s:2:\"96\";s:4:\"type\";s:6:\"string\";}s:20:\"PctileProximityRmpUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  national percentile of the census block group for the EJSCREEN proximity to Risk
  Management Plan (RMP) sites indicator.\";s:7:\"example\";s:2:\"91\";s:4:\"type\";s:6:\"string\";}s:21:\"PctileProximityTsdfUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  national percentile of the census block group for the EJSCREEN proximity to Treatment
  Storage and Disposal Facilities (TSDFs) indicator.\";s:7:\"example\";s:2:\"82\";s:4:\"type\";s:6:\"string\";}s:12:\"PctileRespUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
[...]
