---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US
  EPA, OECA Integration, Targeting and Access Branch\";}s:11:\"description\";s:2299:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use. \nECHO provides integrated
  compliance and enforcement information for about 800,000 regulated facilities nationwide.\n<BR><BR>ECHO
  Rest Services provide multiple service endpoints, each with specific capabilities,
  \nto search and retrieve data on facilities regulated as Clean Air Act (CAA) stationary
  sources, Clean Water Act (CWA) dischargers, \nResource Conservation and Recovery
  Act (RCRA) hazardous waste generators/handlers, and Safe Drinking Water Act (SDWA)
  public water systems. Data of interest from other EPA sources, \nsuch as the Toxics
  Release Inventory, is also supplied for context.\n<BR><BR>\nThe get_facilities,
  get_map, get_qid, and get_download end points are meant to be used together, while
  the enhanced get_facility_info end point is self contained.\n  The get_facility_info
  end point returns either an array of state, county or zip clusters with summary
  statistics per cluster or an array of facilities.\n<BR><BR>\nThe recommended use
  scenario for get_facilities, get_qid, get_map, and get_downoad is:\n<br>\n<br><b>1)</b>
  \ Use get_facilities to validate passed query parameters, obtain summary statistics
  and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately
  30 minutes.\n<br><b>2)</b>  Use get_qid, with the returned QID, to paginate through
  arrays of facility results.\n<br><b>3)</b>  Use get_map, with the returned QID,
  to zoom in/out and pan on the clustered and individual facility coordinates that
  meet the QID query criteria.\n<br><b>4)</b>  Use get_download, with the returned
  QID, to generate a Comma Separated Value (CSV) file of facility information that
  meets the QID query criteria.\n<br>\n<br>\nUse the qcolumns parameter to customize
  your search results.  Use the Metdata service endpoint for a list of available output
  objects, their Column Ids, and their definitions to help you build your customized
  output. \n<br><br>\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web
  Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About
  ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n<br>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:5:\"title\";s:68:\"U.S.
  EPA Enforcement and Compliance History Online (ECHO) - All Data\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:63:\"https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=ECHO\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"epa.gov\";s:13:\"x-serviceName\";s:4:\"echo\";}"
host: ofmpub.epa.gov
basePath: /echo
paths:
  /echo_rest_services.get_download:
    get:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma separated value (CSV) file of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Combined ECHO Download Data Service
      tags:
      - Facility Info
    post:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma separated value (CSV) file of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Combined ECHO Download Data Service
      tags:
      - Facility Info
  /echo_rest_services.get_facilities:
    get:
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_sid'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/p_c1lat'
      - $ref: '#/parameters/p_c1lon'
      - $ref: '#/parameters/p_c2lat'
      - $ref: '#/parameters/p_c2lon'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_ff'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_feac'
      - $ref: '#/parameters/p_fea_5yr'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_iea_5yr'
      - $ref: '#/parameters/p_cs'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_naa'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_ocr'
      - $ref: '#/parameters/p_oct'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_istatute'
      - $ref: '#/parameters/p_isection'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/maplist'
      - $ref: '#/parameters/summarylist'
      - $ref: '#/parameters/callback'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/ers1_Results'
            required:
            - Results
            type: object
            xml:
              name: Root
      summary: Combined ECHO Facility Search Service
      tags:
      - Facility Info
    post:
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_sid'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/p_c1lat'
      - $ref: '#/parameters/p_c1lon'
      - $ref: '#/parameters/p_c2lat'
      - $ref: '#/parameters/p_c2lon'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_ff'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_feac'
      - $ref: '#/parameters/p_fea_5yr'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_iea_5yr'
      - $ref: '#/parameters/p_cs'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_naa'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_ocr'
      - $ref: '#/parameters/p_oct'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_istatute'
      - $ref: '#/parameters/p_isection'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/maplist'
      - $ref: '#/parameters/summarylist'
      - $ref: '#/parameters/callback'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/ers1_Results'
            required:
            - Results
            type: object
            xml:
              name: Root
      summary: Combined ECHO Facility Search Service
      tags:
      - Facility Info
  /echo_rest_services.get_facility_info:
    get:
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_sid'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/xmin'
      - $ref: '#/parameters/ymin'
      - $ref: '#/parameters/xmax'
      - $ref: '#/parameters/ymax'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_ff'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_feac'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_iea_5yr'
      - $ref: '#/parameters/p_cs'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_naa'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_ocr'
      - $ref: '#/parameters/p_oct'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_istatute'
      - $ref: '#/parameters/p_isection'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/callback'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The determination as to whether Facilities or Clusters are returned
            is based on the number of facilities that meet the specified criteria.
            Generally, if there are more than ~2000 facilities, the search will return
            clusters; otherwise individual facility records will be returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/ers2_Results'
            required:
            - Results
            type: object
            xml:
              name: Root
      summary: Combined ECHO Facility Enhanced Search Service
      tags:
      - Facility Info
    post:
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_sid'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/xmin'
      - $ref: '#/parameters/ymin'
      - $ref: '#/parameters/xmax'
      - $ref: '#/parameters/ymax'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_ff'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_feac'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_iea_5yr'
      - $ref: '#/parameters/p_cs'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_naa'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_ocr'
      - $ref: '#/parameters/p_oct'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_istatute'
      - $ref: '#/parameters/p_isection'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/callback'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The determination as to whether Facilities or Clusters are returned
            is based on the number of facilities that meet the specified criteria.
            Generally, if there are more than ~2000 facilities, the search will return
            clusters; otherwise individual facility records will be returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/ers2_Results'
            required:
            - Results
            type: object
            xml:
              name: Root
      summary: Combined ECHO Facility Enhanced Search Service
      tags:
      - Facility Info
  /echo_rest_services.get_geojson:
    get:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            description: GeoJSON Feature Collection Object
            properties:
              features:
                description: Array of GeoJSON feature objects.
                items:
                  $ref: '#/definitions/ers5_Feature'
                title: Features Array
                type: array
              type:
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
                example: FeatureCollection
                title: Feature Collection
                type: string
            required:
            - type
            - features
            type: object
      summary: Combined ECHO GeoJSON Service
      tags:
      - Facility Info
    post:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            description: GeoJSON Feature Collection Object
            properties:
              features:
                description: Array of GeoJSON feature objects.
                items:
                  $ref: '#/definitions/ers5_Feature'
                title: Features Array
                type: array
              type:
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
                example: FeatureCollection
                title: Feature Collection
                type: string
            required:
            - type
            - features
            type: object
      summary: Combined ECHO GeoJSON Service
      tags:
      - Facility Info
  /echo_rest_services.get_info_clusters:
    get:
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_qid'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Combined ECHO Info Clusters Service
      tags:
      - Facility Info
    post:
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_qid'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Combined ECHO Info Clusters Service
      tags:
      - Facility Info
  /echo_rest_services.get_map:
    get:
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/c1_lat'
      - $ref: '#/parameters/c1_long'
      - $ref: '#/parameters/c2_lat'
      - $ref: '#/parameters/c2_long'
      - $ref: '#/parameters/p_id'
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            description: Root Object
            properties:
              MapOutput:
                $ref: '#/definitions/ers0_MapOutput'
            required:
            - MapOutput
            type: object
            xml:
              name: Root
      summary: Combined ECHO Map Service
      tags:
      - Facility Info
    post:
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/c1_lat'
      - $ref: '#/parameters/c1_long'
      - $ref: '#/parameters/c2_lat'
      - $ref: '#/parameters/c2_long'
      - $ref: '#/parameters/p_id'
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            description: Root Object
            properties:
              MapOutput:
                $ref: '#/definitions/ers0_MapOutput'
            required:
            - MapOutput
            type: object
            xml:
              name: Root
      summary: Combined ECHO Map Service
      tags:
      - Facility Info
  /echo_rest_services.get_qid:
    get:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/pageno'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      responses:
        200:
          description: Results are an array (page) Facility Registry System (FRS)  Facilities
            with the number of facilities equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/ers4_Results'
            required:
            - Results
            type: object
            xml:
              name: Root
      summary: Combined ECHO Paginated Results Service
      tags:
      - Facility Info
    post:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/pageno'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      responses:
        200:
          description: Results are an array (page) Facility Registry System (FRS)  Facilities
            with the number of facilities equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/ers4_Results'
            required:
            - Results
            type: object
            xml:
              name: Root
      summary: Combined ECHO Paginated Results Service
      tags:
      - Facility Info
  /echo_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
            - Results
            type: object
            xml:
              name: Root
      summary: Combined ECHO Metadata Service
      tags:
      - Metadata
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
            - Results
            type: object
            xml:
              name: Root
      summary: Combined ECHO Metadata Service
      tags:
      - Metadata
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:8:\"Geometry\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"GeoJSON
  Geometry Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Array
  of coordinate values in longitude, latitude format.\";s:7:\"example\";d:-87.862530000000007;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"title\";s:17:\"Coordinates
  Array\";s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"Indicator
  of the geometry represented in the GeoJSON Feature, for Echo will always be \"Point\".\";s:7:\"example\";s:5:\"Point\";s:5:\"title\";s:8:\"Geometry\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:11:\"coordinates\";}s:4:\"type\";s:6:\"object\";}s:12:\"ers0_MapData\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"Map
  Data Object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"CAAstatus\";O:8:\"stdClass\":2:{s:7:\"example\";s:12:\"______UUUUUU\";s:4:\"type\";s:6:\"string\";}s:9:\"CWAstatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Quarterly
  compliance status for the most recent 13 quarters. Each letter indicates the compliance
  status for the corresponding quarter.\";s:7:\"example\";s:13:\"VV_______V_VV\";s:4:\"type\";s:6:\"string\";}s:11:\"FormalCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"The
  number of formal enforcement actions that have been taken against the facility\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:12:\"Formal
  Count\";s:4:\"type\";s:6:\"string\";}s:4:\"ICON\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Name
  of each individual icon file within the URL base\";s:7:\"example\";s:15:\"CAA-IC-MN-N.png\";s:5:\"title\";s:4:\"Icon\";s:4:\"type\";s:6:\"string\";}s:13:\"InformalCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"The
  number of informal enforcement actions that have been taken against the facility\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:14:\"Informal
  Count\";s:4:\"type\";s:6:\"string\";}s:3:\"LAT\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  latitude of the facility in degrees, to four decimal places\";s:7:\"example\";s:9:\"38.798026\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:3:\"LON\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  longitude of the facility in degrees, to four decimal places\";s:7:\"example\";s:10:\"-77.062981\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:8:\"LastInsp\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  unique identifier for the last inspection\";s:7:\"example\";s:3:\"901\";s:5:\"title\";s:15:\"Last
  Inspection\";s:4:\"type\";s:6:\"string\";}s:4:\"NAME\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"For
  DFR, this is the Facility name. The name corresponds to the TYPE value\";s:7:\"example\";s:34:\"VIRGINIA
  CONCRETE ALEXANDRIA PLANT\";s:5:\"title\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:3:\"PUV\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Pop
  up value. Combine with PopUpBaseURL to give the popup for the facility\";s:7:\"example\";s:12:\"110001891506\";s:5:\"title\";s:11:\"Popup
  Value\";s:4:\"type\";s:6:\"string\";}s:10:\"RCRAstatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"SDWAstatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"TYPE\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"For
  DFR, this is always facility\";s:7:\"example\";s:8:\"Facility\";s:5:\"title\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:13:{i:0;s:3:\"LAT\";i:1;s:3:\"LON\";i:2;s:4:\"ICON\";i:3;s:4:\"TYPE\";i:4;s:4:\"NAME\";i:5;s:3:\"PUV\";i:6;s:10:\"SDWAstatus\";i:7;s:10:\"RCRAstatus\";i:8;s:9:\"CWAstatus\";i:9;s:9:\"CAAstatus\";i:10;s:8:\"LastInsp\";i:11;s:11:\"FormalCount\";i:12;s:13:\"InformalCount\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:6:\"Object\";}}s:14:\"ers0_MapOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Map
  Output Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"IconBaseURL\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"URL
  where all the icons are located\";s:7:\"example\";s:35:\"https://echo.epa.gov/app/map/icons/\";s:5:\"title\";s:13:\"Icon
  Base URL\";s:4:\"type\";s:6:\"string\";}s:7:\"MapData\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ers0_MapData\";}s:5:\"title\";s:8:\"Map
  Data\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"MapData\";s:7:\"wrapped\";b:1;}}s:12:\"PopUpBaseURL\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Combine
  this URL with the PUC to get popup info\";s:7:\"example\";s:58:\"https://ofmpub.epa.gov/echo/cwa_rest_services.pop_up?p_id=\";s:5:\"title\";s:14:\"Popup
  Base URL\";s:4:\"type\";s:6:\"string\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";s:7:\"example\";s:3:\"245\";s:5:\"title\";s:16:\"Query
  Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:7:\"QueryID\";i:1;s:11:\"IconBaseURL\";i:2;s:12:\"PopUpBaseURL\";i:3;s:7:\"MapData\";}s:4:\"type\";s:6:\"object\";}s:15:\"ers1_Facilities\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Facilities
  Object\";s:10:\"properties\";O:8:\"stdClass\":189:{s:7:\"AIRFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"AIRIDs\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Air
  Facility System (AFS) ID.\";s:7:\"example\";s:18:\"DC0000001100195254\";s:5:\"title\";s:22:\"AIR
  Facility System ID\";s:4:\"type\";s:6:\"string\";}s:13:\"ActiveLower48\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"BiosolidsFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  Yes/No field to indicate permits with biosolids management and compliance information.\";s:4:\"type\";s:6:\"string\";}s:22:\"CAA3yrComplQtrsHistory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"CAAComplianceStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"CAADateLastFormalAction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CAADaysLastEvaluation\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"7051\";s:4:\"type\";s:6:\"string\";}s:18:\"CAAEvaluationCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  number of inspections/compliance evaluations under the Clean Air Act, occurring
  at the facility within the last five years\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:20:\"CAAFormalActionCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Indicates
  the number of enforcement actions taken against the facility within the last five
  years under the Clean Air Act.\";s:4:\"type\";s:6:\"string\";}s:10:\"CAAHpvFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"CAAInformalCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"Indicates
  the number of informal enforcement actions/notices of violations (NOVs) taken against
  the facility within the last five years under the Clean Air Act.\";s:4:\"type\";s:6:\"string\";}s:17:\"CAALastPenaltyAmt\";O:8:\"stdClass\":2:{s:7:\"example\";s:6:\"$17014\";s:4:\"type\";s:6:\"string\";}s:18:\"CAALastPenaltyDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"CAANAICS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CAAPenalties\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"The
  total dollar amount of assessed (or final) penalties taken against the facility
  within the last five years under the Clean Air Act.\";s:4:\"type\";s:6:\"string\";}s:14:\"CAAPermitTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"ICIS
  AIR Permit Types associated with the FRS Facility:\n- Major\n- Federally Reportable
  Minor\n- Other Minor\n- Synthetic Minor\n- NULL\";s:7:\"example\";s:15:\"Minor Emissions\";s:4:\"type\";s:6:\"string\";}s:13:\"CAAQtrsWithNC\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"CAASICs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CWA13qtrsComplHistory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"CWA13qtrsEfflntExceedances\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"CWA3YrQncrCodes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"CWAComplianceStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CWAComplianceTracking\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"CWADateLastFormalAction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CWADaysLastInspection\";O:8:\"stdClass\":2:{s:7:\"example\";s:3:\"184\";s:4:\"type\";s:6:\"string\";}s:20:\"CWAFormalActionCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:124:\"Indicates
  the number of enforcement actions taken against the facility within the last five
  years under the Clean Water Act.\";s:7:\"example\";s:1:\"2\";s:5:\"title\";s:35:\"Clean
  Water Act Formal Action Count\";s:4:\"type\";s:6:\"string\";}s:16:\"CWAInformalCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:162:\"Indicates
  the number of informal enforcement actions/notices of violations (NOVs) taken against
  the facility within the last five years under the Clean Water Act.\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:37:\"Clean
  Water Act Informal Action Count\";s:4:\"type\";s:6:\"string\";}s:18:\"CWAInspectionCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:129:\"The
  number of inspections/compliance evaluations under the Clean Water Act, occurring
  at the facility within the last five years.\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:32:\"Clean
  Water Act Inspection Count\";s:4:\"type\";s:6:\"string\";}s:17:\"CWALastPenaltyAmt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"CWALastPenaltyDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"CWANAICS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CWAPenalties\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"The
  total dollar amount of assessed (or final) penalties taken against the facility
  within the last five years under the Clean Water Act.\";s:5:\"title\";s:25:\"Clean
  Water Act Penalties\";s:4:\"type\";s:6:\"string\";}s:14:\"CWAPermitTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Indicates
  the facility's permit type or designation.\n- Major\n- Minor\";s:5:\"title\";s:28:\"Clean
  Water Act Permit Types\";s:4:\"type\";s:6:\"string\";}s:13:\"CWAQtrsWithNC\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"CWASICs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"CWASNCFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"CamdIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Facility
  identifiers for the Clean Air Markets Division database.\";s:5:\"title\";s:38:\"Clean
  Air Markets Division Identifiers\";s:4:\"type\";s:6:\"string\";}s:16:\"CensusBlockGroup\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"A
  geographic unit used by the United States Census Bureau, generally defined to contain
  between 600 and 3,000 people.\";s:7:\"example\";s:12:\"110010096022\";s:5:\"title\";s:18:\"Census
  Block Group\";s:4:\"type\";s:6:\"string\";}s:10:\"CurrSvFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Indicates
  if the facility has a current significant violation. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:34:\"Current
  Significant Violation Flag\";s:4:\"type\";s:6:\"string\";}s:11:\"CurrVioFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Indicates
  if the facility has a current violation. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:22:\"Current
  Violation Flag\";s:4:\"type\";s:6:\"string\";}s:6:\"DfrUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Ea5yrFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Indicates
  if the facility has a formal enforcement action within the last 5 years. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:7:\"EisFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"EisIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"EjscreenFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"EjscreenFlagUs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"EpcraInspections5yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"Fac3yrComplianceHistory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacAccuracyMeters\";O:8:\"stdClass\":2:{s:7:\"example\";s:5:\"35900\";s:4:\"type\";s:6:\"string\";}s:13:\"FacActiveFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"FacChesapeakeBayFlg\";O:8:\"stdClass\":2:{s:5:\"title\";s:41:\"Facility
  in Chesapeake Bay Watershed Flag\";s:4:\"type\";s:6:\"string\";}s:7:\"FacCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  city where the facility is located.\";s:7:\"example\";s:10:\"ALEXANDRIA\";s:5:\"title\";s:13:\"Facility
  City\";s:4:\"type\";s:6:\"string\";}s:19:\"FacCollectionMethod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"FacComplianceStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FacCounty\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  county where the facility is located.\";s:7:\"example\";s:15:\"ALEXANDRIA CITY\";s:5:\"title\";s:15:\"Facility
  County\";s:4:\"type\";s:6:\"string\";}s:23:\"FacDateLastFormalActEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"FacDateLastFormalActSt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"FacDateLastFormalAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:128:\"Indicates
  the effective date of the most recent listed enforcement action taken against the
  facility within the last five years.\";s:7:\"example\";s:8:\"5/7/2009\";s:5:\"title\";s:26:\"Date
  of Last Formal Action\";s:4:\"type\";s:6:\"string\";}s:25:\"FacDateLastInformalActEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"FacDateLastInformalActSt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"FacDateLastInformalAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:105:\"The
  date of the most recent informal action or NOV taken recorded in AFS, ICIS-NPDES,
  RCRA Info or SDWIS.\";s:7:\"example\";s:8:\"8/6/2008\";s:5:\"title\";s:28:\"Date
  of Last Informal Action\";s:4:\"type\";s:6:\"string\";}s:21:\"FacDateLastInspection\";O:8:\"stdClass\":4:{s:11:\"description\";s:325:\"The
  date on which most recent inspection of the facility took place. For the Clean Air
  Act, the date on which a Full Inspection (FCE) was completed. This date may or may
  not correspond to an actual site visit. A series of partial on- or off-site inspections
  may have been conducted during the fiscal year as part of this FCE.\";s:7:\"example\";s:10:\"12/18/2012\";s:5:\"title\";s:32:\"Date
  of Last Facility Inspection\";s:4:\"type\";s:6:\"string\";}s:24:\"FacDateLastInspectionEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"FacDateLastInspectionState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"FacDateLastPenalty\";O:8:\"stdClass\":4:{s:11:\"description\";s:129:\"Indicates
  the date on which the most recent assessed (or final) penalty was taken against
  the facility within the last five years\";s:7:\"example\";s:9:\"2/19/2011\";s:5:\"title\";s:20:\"Date
  of Last Penalty\";s:4:\"type\";s:6:\"string\";}s:21:\"FacDaysLastInspection\";O:8:\"stdClass\":4:{s:11:\"description\";s:179:\"The
  number of days from the last ECHO refresh to the date on which the most recent inspection
  of the facility took place based on data recorded into AFS, ICIS-NPDES, or RCRA
  Info.\";s:7:\"example\";s:4:\"1197\";s:5:\"title\";s:35:\"Days Since Last Facility
  Inspection\";s:4:\"type\";s:6:\"string\";}s:16:\"FacDerivedCb2010\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"FacDerivedCd113\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FacDerivedHuc\";O:8:\"stdClass\":4:{s:11:\"description\";s:183:\"The
  8-digit Hydrologic Unit Code (HUC) of the watershed in which the facility resides.
  A HUC number is assigned to every watershed in the nation and uniquely identifies
  the watershed.\";s:7:\"example\";s:6:\"552968\";s:5:\"title\";s:20:\"Watershed (HUC
  Code)\";s:4:\"type\";s:6:\"string\";}s:20:\"FacDerivedRadWBDHu12\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"FacDerivedRadWBDHu12Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"FacDerivedRadWBDHu8\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"FacDerivedRadWBDHu8Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"FacDerivedStctyFIPS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"FacDerivedTRIbes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FacDerivedWBD\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"FacDerivedWBDHu12Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"FacDerivedWBDHu8\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"FacDerivedWBDHu8Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FacDerivedZip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"FacEPARegion\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"The
  EPA region where the facility is located. EPA has 10 regional offices that execute
  programs within several states and territories\";s:7:\"example\";s:2:\"03\";s:5:\"title\";s:19:\"Facility
  EPA Region\";s:4:\"type\";s:6:\"string\";}s:11:\"FacFIPSCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:118:\"The
  2-digit Federal Information Processing Standards (FIPS) code to identify the county
  that a facility is located in.\";s:7:\"example\";s:5:\"55001\";s:5:\"title\";s:9:\"FIPS
  Code\";s:4:\"type\";s:6:\"string\";}s:16:\"FacFederalAgency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"FacFederalAgencyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FacFederalFlg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"FacFormalActionCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:213:\"Indicates
  the total number of enforcement actions taken against the facility within the last
  five years. NA indicates that this measure is not applicable for facilities with
  no associated CAA, CWA, or RCRA permits\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:23:\"Count
  of Formal Actions\";s:4:\"type\";s:6:\"string\";}s:14:\"FacImpWaterFlg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacIndianCntryFlg\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Flag
  showing Y/N whether the facility is located in Indian Country.\";s:5:\"title\";s:28:\"Facility
  Indian Country Flag\";s:4:\"type\";s:6:\"string\";}s:19:\"FacIndianSpatialFlg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"FacInformalCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:141:\"Indicates
  the total number of informal enforcement actions/notices of violations (NOVs) taken
  against the facility within the last five years\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:25:\"Count
  of Informal Actions\";s:4:\"type\";s:6:\"string\";}s:18:\"FacInspectionCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:379:\"The
  number of inspections/compliance evaluations that have occurred at the facility,
  under the AIR, CWA, and RCRA, within the last five years. The last 5 years will
  include data from the 20 most recently completed quarters, plus data from the current
  quarter up until the refresh date. This count only includes inspection types that
  are counted as inspections in official counts.\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:25:\"Facility
  Inspection Count\";s:4:\"type\";s:6:\"string\";}s:17:\"FacLastPenaltyAmt\";O:8:\"stdClass\":4:{s:11:\"description\";s:128:\"Indicates
  the dollar amount of the most recent assessed (or final) penalty taken against the
  facility within the last five years\";s:7:\"example\";s:4:\"$200\";s:5:\"title\";s:19:\"Last
  Penalty Amount\";s:4:\"type\";s:6:\"string\";}s:6:\"FacLat\";O:8:\"stdClass\":4:{s:11:\"description\";s:267:\"The
  latitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";s:7:\"example\";s:9:\"38.803076\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:7:\"FacLong\";O:8:\"stdClass\":4:{s:11:\"description\";s:268:\"The
  longitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";s:7:\"example\";s:10:\"-77.085951\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:12:\"FacMajorFlag\";O:8:\"stdClass\":2:{s:5:\"title\";s:19:\"Facility
  Major Flag\";s:4:\"type\";s:6:\"string\";}s:9:\"FacMapFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"Graphical
  indicator denoting whether geographical data required to map a facility are available.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:20:\"Facility
  Mapped Flag\";s:4:\"type\";s:6:\"string\";}s:10:\"FacMapIcon\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"The
  default map icon image file calculated for the facility by the ECHO program.\";s:7:\"example\";s:15:\"CWA-NC-MJ-2.png\";s:5:\"title\";s:17:\"Facility
  Map Icon\";s:4:\"type\";s:6:\"string\";}s:16:\"FacMyrtkUniverse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FacNAICSCodes\";O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"Facility
  NAICS Codes\";s:4:\"type\";s:6:\"string\";}s:10:\"FacNaaFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"FacName\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Name
  of facility\";s:7:\"example\";s:27:\"W M A T A CENTRAL MAINT FAC\";s:5:\"title\";s:13:\"Facility
  Name\";s:4:\"type\";s:6:\"string\";}s:15:\"FacPenaltyCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:103:\"The
  total number of penalties assessed (or final) taken against the facility within
  the last five years\";s:7:\"example\";s:1:\"2\";s:5:\"title\";s:13:\"Penalty Count\";s:4:\"type\";s:6:\"string\";}s:18:\"FacPercentMinority\";O:8:\"stdClass\":4:{s:11:\"description\";s:174:\"Percent
  Minority is the percentage of the population of the given area that is considered
  minority. Statistics are shown for the area within a 3-mile radius of each facility.\";s:7:\"example\";s:6:\"45.379\";s:5:\"title\";s:25:\"Facility
  Percent Minority\";s:4:\"type\";s:6:\"string\";}s:9:\"FacPopDen\";O:8:\"stdClass\":4:{s:11:\"description\";s:200:\"The
  number of persons per square mile in the area being profiled. This field is the
  ratio of total persons (displayed in the Total Persons field) to total land area
  (displayed in the Land Area field).\";s:7:\"example\";s:7:\"6716.34\";s:5:\"title\";s:27:\"Facility
  Population Density\";s:4:\"type\";s:6:\"string\";}s:18:\"FacProgramsWithSNC\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FacQtrsWithNC\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacReferencePoint\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"FacSICCodes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FacSNCFlg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"FacState\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Facility
  state\";s:7:\"example\";s:2:\"VA\";s:5:\"title\";s:14:\"Facility State\";s:4:\"type\";s:6:\"string\";}s:9:\"FacStreet\";O:8:\"stdClass\":4:{s:11:\"description\";s:363:\"Street
  address where facility is located, as maintained by each data system. Certain data
  systems also maintain mailing address information, which is not used in this report.
  The street address may differ across EPA databases due to differences in reported
  information (e.g., use of mailing address), change in ownership, use of parent or
  subsidiary address, etc.\";s:7:\"example\";s:22:\"3101 EISENHOWER AVENUE\";s:5:\"title\";s:23:\"Facility
  Street Address\";s:4:\"type\";s:6:\"string\";}s:17:\"FacTotalPenalties\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  total dollar amount of either assessed (or final) penalties taken against the facility
  within the last five years\";s:7:\"example\";s:4:\"$850\";s:5:\"title\";s:15:\"Total
  Penalties\";s:4:\"type\";s:6:\"string\";}s:17:\"FacUsMexBorderFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"A
  Y/N flag indicating that the facility is within 100KM of the US-Mexico Border.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:21:\"Near
  US-Mexico Border\";s:4:\"type\";s:6:\"string\";}s:6:\"FacZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Facility
  ZIP code\";s:7:\"example\";s:5:\"22314\";s:5:\"title\";s:17:\"Facility Zip Code\";s:4:\"type\";s:6:\"string\";}s:10:\"FecCaseIDs\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"All
  Case Numbers of Federal Enforcement Cases relating to the Facility from the ICIS
  System\";s:4:\"type\";s:6:\"string\";}s:15:\"FecLastCaseDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"FecNumberOfCases\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:17:\"FecTotalPenalties\";O:8:\"stdClass\":2:{s:7:\"example\";s:6:\"$34400\";s:4:\"type\";s:6:\"string\";}s:19:\"FifraInspections5yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"GHGCO2Releases\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  sum of total release amounts of all linked Greenhouse Gas IDs reported as \"metric
  tons of CO2 equivalents\"\";s:5:\"title\";s:37:\"Greenhouse Gas Reporting CO2 Releases\";s:4:\"type\";s:6:\"string\";}s:7:\"GHGFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"GHGIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"HasPollRpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"???\";s:7:\"example\";s:1:\"Y\";s:4:\"type\";s:6:\"string\";}s:12:\"Infea5yrFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Indicates
  if the facility has an informal enforcement action within the last 5 years. 1 =
  Yes.\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:11:\"Insp5yrFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Indicates
  if the facility has an inspection within the last 5 years. 1 = Yes\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:37:\"Inspected
  Within Last Five Years Flag\";s:4:\"type\";s:6:\"string\";}s:7:\"Lower48\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"Flag
  showing Y/N whether location is within the contiguous (lower 48) United States.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:29:\"Contiguous
  United States Flag\";s:4:\"type\";s:6:\"string\";}s:11:\"MaxPctileUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  maximum percentile from all individual EJSCREEN indicators.\";s:7:\"example\";s:2:\"98\";s:4:\"type\";s:6:\"string\";}s:8:\"MaxScore\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"[Col.
  121]\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:9:\"Max Score\";s:4:\"type\";s:6:\"string\";}s:2:\"NC\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"NPDESFlag\";O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"NPDES
  Flag\";s:4:\"type\";s:6:\"string\";}s:8:\"NPDESIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Clean
  Water Act ID from the ICIS-NPDES (Integrated Compliance Information System - National
  Pollutant Discharge Elimination System)\";s:5:\"title\";s:36:\"ICS-NPDES Clean Water
  Act Identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"NaaCategories\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"NaaPollutants\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"Over80CountUs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"PctileCancerUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  national percentile of the census block group for the EJSCREEN NATA air toxics cancer
  risk indicator.\";s:7:\"example\";s:2:\"99\";s:4:\"type\";s:6:\"string\";}s:11:\"PctileDpmUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  national percentile of the census block group for the EJSCREEN diesel particulate
  matter indicator.\";s:7:\"example\";s:2:\"99\";s:4:\"type\";s:6:\"string\";}s:10:\"PctileO3Us\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  national percentile of the census block group for the EJSCREEN ozone indicator.\";s:7:\"example\";s:2:\"94\";s:4:\"type\";s:6:\"string\";}s:18:\"PctilePctpre1960Us\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  national percentile of the census block group for the EJSCREEN Lead paint indicator.\";s:7:\"example\";s:4:\"14.6\";s:4:\"type\";s:6:\"string\";}s:10:\"PctilePmUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  national percentile of the census block group for the EJSCREEN particulate matter
  indicator.\";s:7:\"example\";s:2:\"93\";s:4:\"type\";s:6:\"string\";}s:22:\"PctileProximityNPDESUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  national percentile of the census block group for the EJSCREEN proximity to major
  direct water dischargers indicator.\";s:7:\"example\";s:4:\"23.7\";s:4:\"type\";s:6:\"string\";}s:20:\"PctileProximityNplUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"The
  national percentile of the census block group for the EJSCREEN proximity to National
  Priorities List (NPL) sites indicator.\";s:7:\"example\";s:2:\"96\";s:4:\"type\";s:6:\"string\";}s:20:\"PctileProximityRmpUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  national percentile of the census block group for the EJSCREEN proximity to Risk
  Management Plan (RMP) sites indicator.\";s:7:\"example\";s:2:\"91\";s:4:\"type\";s:6:\"string\";}s:21:\"PctileProximityTsdfUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  national percentile of the census block group for the EJSCREEN proximity to Treatment
  Storage and Disposal Facilities (TSDFs) indicator.\";s:7:\"example\";s:2:\"82\";s:4:\"type\";s:6:\"string\";}s:12:\"PctileRespUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
  national percentile of the census block group for the EJSCREEN NATA respiratory
  hazard index indicator.\";s:7:\"example\";s:2:\"99\";s:4:\"type\";s:6:\"string\";}s:20:\"PctileTrafficScoreUs\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  national percentile of the census block group for the EJSCREEN Traffic proximity
  and volume indicator.\";s:7:\"example\";s:2:\"92\";s:4:\"type\";s:6:\"string\";}s:23:\"RCRA3yrComplQtrsHistory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"RCRAComplianceStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"RCRADateLastFormalAction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"RCRADaysLastEvaluation\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"6848\";s:4:\"type\";s:6:\"string\";}s:8:\"RCRAFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"RCRAFormalActionCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:147:\"Indicates
  the number of enforcement actions taken against the facility within the last five
  years under the Resource Conservation and Recovery Act.\";s:7:\"example\";s:1:\"5\";s:5:\"title\";s:24:\"RCRA
  Formal Action Count\";s:4:\"type\";s:6:\"string\";}s:7:\"RCRAIDs\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"A
  unique 12-character ID assigned for each record/permit/site/facility within the
  RCRAInfo database.\";s:7:\"example\";s:12:\"VAD981111784\";s:5:\"title\";s:42:\"Resource
  Conservation and Recovery Act IDs\";s:4:\"type\";s:6:\"string\";}s:17:\"RCRAInformalCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:185:\"Indicates
  the number of informal enforcement actions/notices of violations (NOVs) taken against
  the facility within the last five years under the Resource Conservation and Recovery
  Act.\";s:7:\"example\";s:1:\"3\";s:5:\"title\";s:26:\"RCRA Informal Action Count\";s:4:\"type\";s:6:\"string\";}s:19:\"RCRAInspectionCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:151:\"The
  number of inspections/compliance evaluations under the Resource Conservation and
  Recovery Act, occurring at the facility within the last five years\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:55:\"Resource
  Conservation and Recovery Act Inspection Count\";s:4:\"type\";s:6:\"string\";}s:18:\"RCRALastPenaltyAmt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"RCRALastPenaltyDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"RCRANAICS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"RCRAPenalties\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"$987\";s:4:\"type\";s:6:\"string\";}s:15:\"RCRAPermitTypes\";O:8:\"stdClass\":4:{s:11:\"description\";s:232:\"RCRA
  Facility Types include:\n- TSDF = Treatment, Storage and Disposal facility\n- LQG
  = Large Quantity Generator\n- SQG = Small Quantity Generator\n- CESQG = Conditionally-Exempt
  Small Quantity Generator\n- Operating TSDF\n- Transporters\";s:7:\"example\";s:3:\"LQG\";s:5:\"title\";s:51:\"Resource
  Conservation and Recovery Act Permit Types\";s:4:\"type\";s:6:\"string\";}s:14:\"RCRAQtrsWithNC\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"RCRASNCFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"RegistryID\";O:8:\"stdClass\":4:{s:11:\"description\";s:144:\"An
  internal 12-digit Facility Registry Service (FRS) tracking number used to tie all
  facility data together in EPA regulatory program databases.\";s:7:\"example\";s:12:\"110020837601\";s:5:\"title\";s:6:\"FRS
  ID\";s:4:\"type\";s:6:\"string\";}s:6:\"RmpIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"SDWA3yrComplQtrsHistory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"SDWAComplianceStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"SDWAFormalActionCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Indicates
  the number of enforcement actions taken against the facility within the last five
  years under the Safe Drinking Water Act\";s:7:\"example\";s:2:\"11\";s:4:\"type\";s:6:\"string\";}s:7:\"SDWAIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"A
  unique 9-character ID assigned for each public water system within the Safe Drinking
  Water Information System (SDWIS).\";s:7:\"example\";s:9:\"DC0000001\";s:4:\"type\";s:6:\"string\";}s:17:\"SDWAInformalCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"Indicates
  the number of informal enforcement actions/notices of violations (NOVs) taken against
  the facility within the last five years under the Safe Drinking Water Act\";s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}s:18:\"SDWAInspections5yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SDWAQtrsWithNC\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SDWASNCFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"SDWASystemTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"SDWIS
  System Types\";s:4:\"type\";s:6:\"string\";}s:9:\"SDWISFlag\";O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"SDWIS
  Flag\";s:4:\"type\";s:6:\"string\";}s:5:\"Score\";O:8:\"stdClass\":3:{s:7:\"example\";s:1:\"1\";s:5:\"title\";s:5:\"Score\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:7:\"TRIFlag\";O:8:\"stdClass\":2:{s:5:\"title\";s:37:\"Toxics
  Release Inventory Program Flag\";s:4:\"type\";s:6:\"string\";}s:6:\"TRIIDs\";O:8:\"stdClass\":4:{s:11:\"description\";s:281:\"A
  unique 15-character ID assigned for each facility within the Toxics Release Inventory
  (TRI) program. The format is ZZZZZNNNNNSSSSS, where ZZZZZ = ZIP code, NNNNN = the
  first 5 consonants of the name, and SSSSS = the first 5 non-blank non-special characters
  in the street address.\";s:7:\"example\";s:15:\"20011FRTTT5001F\";s:5:\"title\";s:36:\"Toxics
  Release Inventory Program IDs\";s:4:\"type\";s:6:\"string\";}s:19:\"TRIOffSiteTransfers\";O:8:\"stdClass\":3:{s:7:\"example\";s:1:\"0\";s:5:\"title\";s:47:\"Toxics
  Release Inventory Offsite Transfer Count\";s:4:\"type\";s:6:\"string\";}s:17:\"TRIOnSiteReleases\";O:8:\"stdClass\":3:{s:7:\"example\";s:5:\"11987\";s:5:\"title\";s:40:\"Toxics
  Release Inventory Onsite Releases\";s:4:\"type\";s:6:\"string\";}s:20:\"TRIReleasesTransfers\";O:8:\"stdClass\":4:{s:11:\"description\";s:136:\"Total
  chemical releases, in pounds, as reported to the Toxics Release Inventory (TRI)
  by the facility for the most recent reporting year\";s:7:\"example\";s:6:\"170878\";s:5:\"title\";s:21:\"TRI
  Release Transfers\";s:4:\"type\";s:6:\"string\";}s:11:\"TRIReporter\";O:8:\"stdClass\":2:{s:5:\"title\";s:33:\"Toxics
  Release Inventory Reporter\";s:4:\"type\";s:6:\"string\";}s:17:\"TRIReporterInPast\";O:8:\"stdClass\":2:{s:5:\"title\";s:46:\"Toxics
  Release Inventory Reporter In Past Flag\";s:4:\"type\";s:6:\"string\";}s:10:\"TRIbalFlag\";O:8:\"stdClass\":3:{s:7:\"example\";s:1:\"1\";s:5:\"title\";s:17:\"Tribal
  Lands Flag\";s:4:\"type\";s:6:\"string\";}s:8:\"TscaFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Flag
  indicating whether or not a facility has a TSCA ID\";s:5:\"title\";s:33:\"Toxic
  Substances Control Act Flag\";s:4:\"type\";s:6:\"string\";}s:7:\"TscaIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Toxic
  Substances Control Act ID assigned to a facility\";s:5:\"title\";s:31:\"Toxic Substances
  Control Act ID\";s:4:\"type\";s:6:\"string\";}s:18:\"TscaInspections5yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ViolFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Indicates
  if the facility had a violation within the last 3 years. 1 = Yes\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:14:\"Violation
  Flag\";s:4:\"type\";s:6:\"string\";}s:7:\"WebDocs\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"Contains
  flags that identify what web accessible documents are available for the facility.\";s:7:\"example\";s:2:\"C6\";s:5:\"title\";s:13:\"Web
  Documents\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:189:{i:0;s:7:\"FacName\";i:1;s:9:\"FacStreet\";i:2;s:7:\"FacCity\";i:3;s:8:\"FacState\";i:4;s:6:\"FacZip\";i:5;s:10:\"RegistryID\";i:6;s:9:\"FacCounty\";i:7;s:12:\"FacEPARegion\";i:8;s:13:\"FacFederalFlg\";i:9;s:20:\"FacFederalAgencyName\";i:10;s:17:\"FacIndianCntryFlg\";i:11;s:19:\"FacIndianSpatialFlg\";i:12;s:16:\"FacDerivedTRIbes\";i:13;s:11:\"FacSICCodes\";i:14;s:13:\"FacNAICSCodes\";i:15;s:6:\"FacLat\";i:16;s:7:\"FacLong\";i:17;s:6:\"AIRIDs\";i:18;s:7:\"CamdIDs\";i:19;s:8:\"NPDESIDs\";i:20;s:7:\"RCRAIDs\";i:21;s:6:\"RmpIDs\";i:22;s:7:\"SDWAIDs\";i:23;s:6:\"TRIIDs\";i:24;s:6:\"EisIDs\";i:25;s:6:\"GHGIDs\";i:26;s:7:\"TscaIDs\";i:27;s:14:\"CAAPermitTypes\";i:28;s:14:\"CWAPermitTypes\";i:29;s:15:\"RCRAPermitTypes\";i:30;s:15:\"SDWASystemTypes\";i:31;s:9:\"FacSNCFlg\";i:32;s:13:\"FacQtrsWithNC\";i:33;s:19:\"FacComplianceStatus\";i:34;s:19:\"CAAComplianceStatus\";i:35;s:19:\"CWAComplianceStatus\";i:36;s:20:\"RCRAComplianceStatus\";i:37;s:20:\"SDWAComplianceStatus\";i:38;s:18:\"FacInspectionCount\";i:39;s:21:\"FacDaysLastInspection\";i:40;s:21:\"FacDateLastInspection\";i:41;s:18:\"CAAEvaluationCount\";i:42;s:18:\"CWAInspectionCount\";i:43;s:19:\"RCRAInspectionCount\";i:44;s:13:\"Over80CountUs\";i:45;s:18:\"PctilePctpre1960Us\";i:46;s:11:\"PctileDpmUs\";i:47;s:14:\"PctileCancerUs\";i:48;s:12:\"PctileRespUs\";i:49;s:20:\"PctileTrafficScoreUs\";i:50;s:22:\"PctileProximityNPDESUs\";i:51;s:20:\"PctileProximityNplUs\";i:52;s:20:\"PctileProximityRmpUs\";i:53;s:21:\"PctileProximityTsdfUs\";i:54;s:10:\"PctileO3Us\";i:55;s:10:\"PctilePmUs\";i:56;s:9:\"FacPopDen\";i:57;s:18:\"FacPercentMinority\";i:58;s:16:\"FacInformalCount\";i:59;s:16:\"CAAInformalCount\";i:60;s:16:\"CWAInformalCount\";i:61;s:17:\"RCRAInformalCount\";i:62;s:17:\"SDWAInformalCount\";i:63;s:20:\"FacFormalActionCount\";i:64;s:23:\"FacDateLastFormalAction\";i:65;s:20:\"CAAFormalActionCount\";i:66;s:20:\"CWAFormalActionCount\";i:67;s:21:\"RCRAFormalActionCount\";i:68;s:21:\"SDWAFormalActionCount\";i:69;s:17:\"FacTotalPenalties\";i:70;s:15:\"FacPenaltyCount\";i:71;s:18:\"FacDateLastPenalty\";i:72;s:17:\"FacLastPenaltyAmt\";i:73;s:12:\"CAAPenalties\";i:74;s:12:\"CWAPenalties\";i:75;s:13:\"RCRAPenalties\";i:76;s:14:\"GHGCO2Releases\";i:77;s:20:\"TRIReleasesTransfers\";i:78;s:16:\"FacDerivedWBDHu8\";i:79;s:20:\"FacDerivedWBDHu8Name\";i:80;s:19:\"FacDerivedRadWBDHu8\";i:81;s:23:\"FacDerivedRadWBDHu8Name\";i:82;s:12:\"FacMajorFlag\";i:83;s:25:\"FacDateLastInformalAction\";i:84;s:23:\"Fac3yrComplianceHistory\";i:85;s:22:\"CAA3yrComplQtrsHistory\";i:86;s:21:\"CWA13qtrsComplHistory\";i:87;s:23:\"RCRA3yrComplQtrsHistory\";i:88;s:23:\"SDWA3yrComplQtrsHistory\";i:89;s:10:\"FecCaseIDs\";i:90;s:11:\"FacFIPSCode\";i:91;s:17:\"FacUsMexBorderFlg\";i:92;s:19:\"FacChesapeakeBayFlg\";i:93;s:10:\"FacNaaFlag\";i:94;s:10:\"FacMapIcon\";i:95;s:19:\"FacCollectionMethod\";i:96;s:17:\"FacReferencePoint\";i:97;s:17:\"FacAccuracyMeters\";i:98;s:13:\"FacDerivedHuc\";i:99;s:13:\"FacDerivedWBD\";i:100;s:19:\"FacDerivedStctyFIPS\";i:101;s:13:\"FacDerivedZip\";i:102;s:15:\"FacDerivedCd113\";i:103;s:16:\"FacDerivedCb2010\";i:104;s:13:\"FacActiveFlag\";i:105;s:16:\"FacMyrtkUniverse\";i:106;s:18:\"FacProgramsWithSNC\";i:107;s:7:\"AIRFlag\";i:108;s:9:\"NPDESFlag\";i:109;s:9:\"SDWISFlag\";i:110;s:8:\"RCRAFlag\";i:111;s:7:\"TRIFlag\";i:112;s:7:\"GHGFlag\";i:113;s:8:\"CAANAICS\";i:114;s:7:\"CAASICs\";i:115;s:21:\"CAADaysLastEvaluation\";i:116;s:23:\"CAADateLastFormalAction\";i:117;s:18:\"CAALastPenaltyDate\";i:118;s:17:\"CAALastPenaltyAmt\";i:119;s:13:\"CAAQtrsWithNC\";i:120;s:10:\"CAAHpvFlag\";i:121;s:21:\"CWAComplianceTracking\";i:122;s:8:\"CWANAICS\";i:123;s:7:\"CWASICs\";i:124;s:21:\"CWADaysLastInspection\";i:125;s:23:\"CWADateLastFormalAction\";i:126;s:18:\"CWALastPenaltyDate\";i:127;s:17:\"CWALastPenaltyAmt\";i:128;s:13:\"CWAQtrsWithNC\";i:129;s:10:\"CWASNCFlag\";i:130;s:26:\"CWA13qtrsEfflntExceedances\";i:131;s:15:\"CWA3YrQncrCodes\";i:132;s:9:\"RCRANAICS\";i:133;s:22:\"RCRADaysLastEvaluation\";i:134;s:24:\"RCRADateLastFormalAction\";i:135;s:19:\"RCRALastPenaltyDate\";i:136;s:18:\"RCRALastPenaltyAmt\";i:137;s:14:\"RCRAQtrsWithNC\";i:138;s:11:\"RCRASNCFlag\";i:139;s:11:\"SDWASNCFlag\";i:140;s:17:\"TRIOnSiteReleases\";i:141;s:19:\"TRIOffSiteTransfers\";i:142;s:17:\"TRIReporterInPast\";i:143;s:16:\"FecNumberOfCases\";i:144;s:15:\"FecLastCaseDate\";i:145;s:17:\"FecTotalPenalties\";i:146;s:6:\"DfrUrl\";i:147;s:24:\"FacDateLastInspectionEPA\";i:148;s:26:\"FacDateLastInspectionState\";i:149;s:23:\"FacDateLastFormalActEPA\";i:150;s:22:\"FacDateLastFormalActSt\";i:151;s:25:\"FacDateLastInformalActEPA\";i:152;s:24:\"FacDateLastInformalActSt\";i:153;s:16:\"FacFederalAgency\";i:154;s:11:\"TRIReporter\";i:155;s:14:\"FacImpWaterFlg\";i:156;s:8:\"SourceID\";i:157;s:2:\"NC\";i:158;s:9:\"FacMapFlg\";i:159;s:10:\"HasPollRpt\";i:160;s:16:\"CensusBlockGroup\";i:161;s:11:\"MaxPctileUs\";i:162;s:14:\"EjscreenFlagUs\";i:163;s:12:\"EjscreenFlag\";i:164;s:10:\"TRIbalFlag\";i:165;s:10:\"CurrSvFlag\";i:166;s:8:\"ViolFlag\";i:167;s:11:\"CurrVioFlag\";i:168;s:11:\"Insp5yrFlag\";i:169;s:9:\"Ea5yrFlag\";i:170;s:12:\"Infea5yrFlag\";i:171;s:7:\"Lower48\";i:172;s:13:\"ActiveLower48\";i:173;s:21:\"FacDerivedWBDHu12Name\";i:174;s:20:\"FacDerivedRadWBDHu12\";i:175;s:24:\"FacDerivedRadWBDHu12Name\";i:176;s:7:\"EisFlag\";i:177;s:8:\"TscaFlag\";i:178;s:7:\"WebDocs\";i:179;s:13:\"NaaCategories\";i:180;s:13:\"NaaPollutants\";i:181;s:19:\"EpcraInspections5yr\";i:182;s:19:\"FifraInspections5yr\";i:183;s:18:\"TscaInspections5yr\";i:184;s:18:\"SDWAInspections5yr\";i:185;s:14:\"SDWAQtrsWithNC\";i:186;s:13:\"BiosolidsFlag\";i:187;s:5:\"Score\";i:188;s:8:\"MaxScore\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Facility\";}}s:12:\"ers1_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:7:\"CAARows\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"CVRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Summary
  count of the number of CWA facilities or SDWA public drinking water systems with
  current violations.\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:7:\"CWARows\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"FEARows\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Summary
  count of the number of facilities with a formal enforcement action in the past five
  years\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:10:\"Facilities\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ers1_Facilities\";}s:5:\"title\";s:10:\"Facilities\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Facilities\";s:7:\"wrapped\";b:1;}}s:8:\"INSPRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Number
  of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:17:\"IndianCountryRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Number
  of facilities with tribal_flag populated\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:24:\"Indian
  Country Row Count\";s:4:\"type\";s:6:\"string\";}s:10:\"InfFEARows\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Number
  of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT > 0)\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:9:\"MapOutput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ers0_MapOutput\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:6:\"PageNo\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  number of pages of results returned\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:11:\"Page
  Number\";s:4:\"type\";s:6:\"string\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";s:7:\"example\";s:3:\"245\";s:5:\"title\";s:16:\"Query
  Identifier\";s:4:\"type\";s:6:\"string\";}s:9:\"QueryRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Number
  of query results returned\";s:7:\"example\";s:1:\"5\";s:5:\"title\";s:15:\"Query
  Row Count\";s:4:\"type\";s:6:\"string\";}s:7:\"RCRRows\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"SVRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Number
  of facilities with curr_sv_flag populated (CWP_STATUS = \"Significant Violation\")\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:34:\"Significant
  Violation Result Count\";s:4:\"type\";s:6:\"string\";}s:7:\"TRIRows\";O:8:\"stdClass\":2:{s:5:\"title\";s:34:\"Toxics
  Release Inventory Row Count\";s:4:\"type\";s:6:\"string\";}s:14:\"TotalPenalties\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  total dollar amount of either assessed or final penalties within the five year time
  period\";s:7:\"example\";s:8:\"$963,531\";s:5:\"title\";s:15:\"Total Penalties\";s:4:\"type\";s:6:\"string\";}s:6:\"V3Rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Number
  of facilities having one or more quarters in non-compliance (QNC) in the last three
  years\";s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}s:7:\"Version\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Version
  of the SDWA system service\";s:7:\"example\";s:15:\"v2016-02-02 14:\";s:5:\"title\";s:7:\"Version\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:17:{i:0;s:7:\"Message\";i:1;s:7:\"Version\";i:2;s:9:\"QueryRows\";i:3;s:17:\"IndianCountryRows\";i:4;s:6:\"SVRows\";i:5;s:6:\"CVRows\";i:6;s:6:\"V3Rows\";i:7;s:7:\"FEARows\";i:8;s:10:\"InfFEARows\";i:9;s:8:\"INSPRows\";i:10;s:14:\"TotalPenalties\";i:11;s:7:\"CAARows\";i:12;s:7:\"CWARows\";i:13;s:7:\"RCRRows\";i:14;s:7:\"TRIRows\";i:15;s:7:\"QueryID\";i:16;s:6:\"PageNo\";}s:4:\"type\";s:6:\"object\";}s:16:\"ers2_ClusterData\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Cluster
  Data Object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"CVRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Summary
  count of the number of CWA facilities or SDWA public drinking water systems with
  current violations.\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:12:\"ClusterCount\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Cluster
  Count\";s:4:\"type\";s:6:\"string\";}s:11:\"ClusterIcon\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"Cluster
  Icon\";s:4:\"type\";s:6:\"string\";}s:15:\"ClusterLatitude\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"The
  latitude in decimal degrees expressed using the NAD83 horizontal datum.\";s:7:\"example\";s:9:\"38.904149\";s:5:\"title\";s:16:\"Cluster
  Latitude\";s:4:\"type\";s:6:\"string\";}s:16:\"ClusterLongitude\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"The
  longitude in decimal degrees expressed using the NAD83 horizontal datum.\";s:7:\"example\";s:10:\"-77.017094\";s:5:\"title\";s:17:\"Cluster
  Longitude\";s:4:\"type\";s:6:\"string\";}s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"Cluster
  Name\";s:4:\"type\";s:6:\"string\";}s:11:\"ClusterType\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"Cluster
  Type\";s:4:\"type\";s:6:\"string\";}s:12:\"ClusterValue\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Cluster
  Value\";s:4:\"type\";s:6:\"string\";}s:13:\"EPARegionCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"The
  EPA region where the facility is located. EPA has 10 regional offices that execute
  programs within several states and territories\";s:7:\"example\";s:2:\"03\";s:5:\"title\";s:15:\"EPA
  Region Code\";s:4:\"type\";s:6:\"string\";}s:7:\"FEARows\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Summary
  count of the number of facilities with a formal enforcement action in the past five
  years\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:8:\"INSPRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Number
  of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:17:\"IndianCountryRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Number
  of facilities with tribal_flag populated\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:24:\"Indian
  Country Row Count\";s:4:\"type\";s:6:\"string\";}s:10:\"InfFEARows\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Number
  of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT > 0)\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:8:\"ObjectId\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Sequential
  number assigned to each facility returned\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:17:\"Object
  Identifier\";s:4:\"type\";s:6:\"string\";}s:6:\"SVRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Number
  of facilities with curr_sv_flag populated (CWP_STATUS = \"Significant Violation\")\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:34:\"Significant
  Violation Result Count\";s:4:\"type\";s:6:\"string\";}s:14:\"TotalPenalties\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  total dollar amount of either assessed or final penalties within the five year time
  period\";s:7:\"example\";s:8:\"$963,531\";s:5:\"title\";s:15:\"Total Penalties\";s:4:\"type\";s:6:\"string\";}s:6:\"V3Rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Number
  of facilities having one or more quarters in non-compliance (QNC) in the last three
  years\";s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:17:{i:0;s:8:\"ObjectId\";i:1;s:15:\"ClusterLatitude\";i:2;s:16:\"ClusterLongitude\";i:3;s:11:\"ClusterIcon\";i:4;s:11:\"ClusterType\";i:5;s:11:\"ClusterName\";i:6;s:12:\"ClusterValue\";i:7;s:12:\"ClusterCount\";i:8;s:17:\"IndianCountryRows\";i:9;s:13:\"EPARegionCode\";i:10;s:6:\"SVRows\";i:11;s:6:\"CVRows\";i:12;s:6:\"V3Rows\";i:13;s:7:\"FEARows\";i:14;s:10:\"InfFEARows\";i:15;s:8:\"INSPRows\";i:16;s:14:\"TotalPenalties\";}s:4:\"type\";s:6:\"object\";}s:18:\"ers2_ClusterOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Cluster
  Output Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"ClusterData\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ers2_ClusterData\";}s:5:\"title\";s:12:\"Cluster
  Data\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:11:\"ClusterData\";}s:4:\"type\";s:6:\"object\";}s:15:\"ers2_Facilities\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Facilities
  Object\";s:10:\"properties\";O:8:\"stdClass\":190:{s:7:\"AIRFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"AIRIDs\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Air
  Facility System (AFS) ID.\";s:7:\"example\";s:18:\"DC0000001100195254\";s:5:\"title\";s:22:\"AIR
  Facility System ID\";s:4:\"type\";s:6:\"string\";}s:13:\"ActiveLower48\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"BiosolidsFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  Yes/No field to indicate permits with biosolids management and compliance information.\";s:4:\"type\";s:6:\"string\";}s:22:\"CAA3yrComplQtrsHistory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"CAAComplianceStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"CAADateLastFormalAction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CAADaysLastEvaluation\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"7051\";s:4:\"type\";s:6:\"string\";}s:18:\"CAAEvaluationCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  number of inspections/compliance evaluations under the Clean Air Act, occurring
  at the facility within the last five years\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:20:\"CAAFormalActionCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Indicates
  the number of enforcement actions taken against the facility within the last five
  years under the Clean Air Act.\";s:4:\"type\";s:6:\"string\";}s:10:\"CAAHpvFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"CAAInformalCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"Indicates
  the number of informal enforcement actions/notices of violations (NOVs) taken against
  the facility within the last five years under the Clean Air Act.\";s:4:\"type\";s:6:\"string\";}s:17:\"CAALastPenaltyAmt\";O:8:\"stdClass\":2:{s:7:\"example\";s:6:\"$17014\";s:4:\"type\";s:6:\"string\";}s:18:\"CAALastPenaltyDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"CAANAICS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CAAPenalties\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"The
  total dollar amount of assessed (or final) penalties taken against the facility
  within the last five years under the Clean Air Act.\";s:4:\"type\";s:6:\"string\";}s:14:\"CAAPermitTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"ICIS
  AIR Permit Types associated with the FRS Facility:\n- Major\n- Federally Reportable
  Minor\n- Other Minor\n- Synthetic Minor\n- NULL\";s:7:\"example\";s:15:\"Minor Emissions\";s:4:\"type\";s:6:\"string\";}s:13:\"CAAQtrsWithNC\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"CAASICs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CWA13qtrsComplHistory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"CWA13qtrsEfflntExceedances\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"CWA3YrQncrCodes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"CWAComplianceStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CWAComplianceTracking\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"CWADateLastFormalAction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CWADaysLastInspection\";O:8:\"stdClass\":2:{s:7:\"example\";s:3:\"184\";s:4:\"type\";s:6:\"string\";}s:20:\"CWAFormalActionCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:124:\"Indicates
  the number of enforcement actions taken against the facility within the last five
  years under the Clean Water Act.\";s:7:\"example\";s:1:\"2\";s:5:\"title\";s:35:\"Clean
  Water Act Formal Action Count\";s:4:\"type\";s:6:\"string\";}s:16:\"CWAInformalCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:162:\"Indicates
  the number of informal enforcement actions/notices of violations (NOVs) taken against
  the facility within the last five years under the Clean Water Act.\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:37:\"Clean
  Water Act Informal Action Count\";s:4:\"type\";s:6:\"string\";}s:18:\"CWAInspectionCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:129:\"The
  number of inspections/compliance evaluations under the Clean Water Act, occurring
  at the facility within the last five years.\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:32:\"Clean
  Water Act Inspection Count\";s:4:\"type\";s:6:\"string\";}s:17:\"CWALastPenaltyAmt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"CWALastPenaltyDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"CWANAICS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CWAPenalties\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"The
  total dollar amount of assessed (or final) penalties taken against the facility
  within the last five years under the Clean Water Act.\";s:5:\"title\";s:25:\"Clean
  Water Act Penalties\";s:4:\"type\";s:6:\"string\";}s:14:\"CWAPermitTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Indicates
  the facility's permit type or designation.\n- Major\n- Minor\";s:5:\"title\";s:28:\"Clean
  Water Act Permit Types\";s:4:\"type\";s:6:\"string\";}s:13:\"CWAQtrsWithNC\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"CWASICs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"CWASNCFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"CamdIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Facility
  identifiers for the Clean Air Markets Division database.\";s:5:\"title\";s:38:\"Clean
  Air Markets Division Identifiers\";s:4:\"type\";s:6:\"string\";}s:16:\"CensusBlockGroup\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"A
  geographic unit used by the United States Census Bureau, generally defined to contain
  between 600 and 3,000 people.\";s:7:\"example\";s:12:\"110010096022\";s:5:\"title\";s:18:\"Census
  Block Group\";s:4:\"type\";s:6:\"string\";}s:10:\"CurrSvFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Indicates
  if the facility has a current significant violation. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:34:\"Current
  Significant Violation Flag\";s:4:\"type\";s:6:\"string\";}s:11:\"CurrVioFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Indicates
  if the facility has a current violation. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:22:\"Current
  Violation Flag\";s:4:\"type\";s:6:\"string\";}s:6:\"DfrUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Ea5yrFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Indicates
  if the facility has a formal enforcement action within the last 5 years. 1 = Yes\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:7:\"EisFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"EisIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"EjscreenFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"EjscreenFlagUs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"EpcraInspections5yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"Fac3yrComplianceHistory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FacAccuracyMeters\";O:8:\"stdClass\":2:{s:7:\"example\";s:5:\"35900\";s:4:\"type\";s:6:\"string\";}s:13:\"FacActiveFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"FacChesapeakeBayFlg\";O:8:\"stdClass\":2:{s:5:\"title\";s:41:\"Facility
  in Chesapeake Bay Watershed Flag\";s:4:\"type\";s:6:\"string\";}s:7:\"FacCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  city where the facility is located.\";s:7:\"example\";s:10:\"ALEXANDRIA\";s:5:\"title\";s:13:\"Facility
  City\";s:4:\"type\";s:6:\"string\";}s:19:\"FacCollectionMethod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"FacComplianceStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FacCounty\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  county where the facility is located.\";s:7:\"example\";s:15:\"ALEXANDRIA CITY\";s:5:\"title\";s:15:\"Facility
[...]
