---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US
  EPA, OECA Integration, Targeting and Access Branch\";}s:11:\"description\";s:1737:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated
  compliance and enforcement information for about 800,000 regulated facilities nationwide.\n<BR><BR>SDW
  Rest Services provides multiple service endpoints, each with specific capabilities,
  to search and retrieve data on public water systems regulated under the Safe Drinking
  Water Act (SDWA) .\nThe returned results reflect data drawn from EPA's Federal Safe
  Drinking Water Information System (SDWIS) database.\n<BR><BR>\nThe get_systems,
  get_qid, and get_download end points are meant to be used together.\n<br><br>\nThe
  recommended use scenario for get_systems, get_qid, and get_downoad is:\n<br>\n<br><b>1)</b>
  \ Use get_systems to validate passed query parameters, obtain summary statistics
  and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately
  30 minutes.\n<br><b>2)</b>  Use get_qid, with the returned QID, to paginate through
  arrays of water system results.\n<br><b>3)</b>  Use get_download, with the returned
  QID, to generate a Comma Separated Value (CSV) file of water system information
  that meets the QID query criteria.\n<br>\n<br>\nUse the qcolumns parameter to customize
  your search results.  Use the Metdata service endpoint for a list of available output
  objects, their Column Ids, and their definitions to help you build your customized
  output. \n<br><br>\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web
  Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About
  ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n<br>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:5:\"title\";s:83:\"U.S.
  EPA Enforcement and Compliance History Online (ECHO) - Safe Drinking Water Act\";s:7:\"version\";s:5:\"0.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:76:\"https://pbs.twimg.com/profile_images/632233890594299904/DgRDU6dx_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:62:\"https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=SDW\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:7:\"epa.gov\";s:13:\"x-serviceName\";s:3:\"sdw\";s:11:\"x-preferred\";b:1;}"
host: ofmpub.epa.gov
basePath: /echo
paths:
  /sdw_rest_services.get_download:
    get:
      description: Based on the QID obtained from a get_systems query, return a comma
        separated value (CSV) file of the water systems found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Safe Drinking Water Act (SDWA) Download Data Service
      tags:
      - Safe Drinking Water
    post:
      description: Based on the QID obtained from a get_systems query, return a comma
        separated value (CSV) file of the water systems found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/qcolumns'
      responses:
        200:
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Safe Drinking Water Act (SDWA) Download Data Service
      tags:
      - Safe Drinking Water
  /sdw_rest_services.get_qid:
    get:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_systems query. It then returns a Systems object containing all matching
        water systems. The main purpose of GET_QID is for large querysets that contain
        multiple pages (responsesets) of output. GET_QID allows for pagination and
        for the selection and sorting of columns. '
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/pageno'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      responses:
        200:
          description: Results are an array (page)  of SDWA (SDWIS) Water Systems
            with the number of systems equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/sdw2_Results'
            required:
            - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Paginated Results Service
      tags:
      - Safe Drinking Water
    post:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_systems query. It then returns a Systems object containing all matching
        water systems. The main purpose of GET_QID is for large querysets that contain
        multiple pages (responsesets) of output. GET_QID allows for pagination and
        for the selection and sorting of columns. '
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/pageno'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      responses:
        200:
          description: Results are an array (page)  of SDWA (SDWIS) Water Systems
            with the number of systems equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/sdw2_Results'
            required:
            - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Paginated Results Service
      tags:
      - Safe Drinking Water
  /sdw_rest_services.get_systems:
    get:
      description: Returns an array of public water systems that meet the specified
        search criteria.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_trb'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_owop'
      - $ref: '#/parameters/p_systyp'
      - $ref: '#/parameters/p_swtyp'
      - $ref: '#/parameters/p_popsv'
      - $ref: '#/parameters/p_cs'
      - $ref: '#/parameters/p_mr'
      - $ref: '#/parameters/p_health'
      - $ref: '#/parameters/p_other'
      - $ref: '#/parameters/p_pn'
      - $ref: '#/parameters/p_sv'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_pswpol'
      - $ref: '#/parameters/p_pswvio'
      - $ref: '#/parameters/p_pbale'
      - $ref: '#/parameters/p_cuale'
      - $ref: '#/parameters/p_rc350v'
      - $ref: '#/parameters/p_pbv'
      - $ref: '#/parameters/p_cuv'
      - $ref: '#/parameters/p_lcrv'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_qis'
      - $ref: '#/parameters/p_pfead1'
      - $ref: '#/parameters/p_pfead2'
      - $ref: '#/parameters/p_pfeat'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Returns an array of public water systems that meet the specified
            search criteria.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/sdw3_Results'
            required:
            - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Systems Search Service
      tags:
      - Safe Drinking Water
    post:
      description: Returns an array of public water systems that meet the specified
        search criteria.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_trb'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_owop'
      - $ref: '#/parameters/p_systyp'
      - $ref: '#/parameters/p_swtyp'
      - $ref: '#/parameters/p_popsv'
      - $ref: '#/parameters/p_cs'
      - $ref: '#/parameters/p_mr'
      - $ref: '#/parameters/p_health'
      - $ref: '#/parameters/p_other'
      - $ref: '#/parameters/p_pn'
      - $ref: '#/parameters/p_sv'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_pswpol'
      - $ref: '#/parameters/p_pswvio'
      - $ref: '#/parameters/p_pbale'
      - $ref: '#/parameters/p_cuale'
      - $ref: '#/parameters/p_rc350v'
      - $ref: '#/parameters/p_pbv'
      - $ref: '#/parameters/p_cuv'
      - $ref: '#/parameters/p_lcrv'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_qis'
      - $ref: '#/parameters/p_pfead1'
      - $ref: '#/parameters/p_pfead2'
      - $ref: '#/parameters/p_pfeat'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Returns an array of public water systems that meet the specified
            search criteria.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/sdw3_Results'
            required:
            - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Systems Search Service
      tags:
      - Safe Drinking Water
  /sdw_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_systems endpoint.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
            - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Metadata Service
      tags:
      - Metadata
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_systems endpoint.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
            - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Metadata Service
      tags:
      - Metadata
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:11:\"met_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:13:\"ResultColumns\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/met_ResultsColumns\";}s:5:\"title\";s:14:\"Result
  Columns\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:18:\"met_ResultsColumns\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Results
  Column Object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"ColumnID\";O:8:\"stdClass\":2:{s:5:\"title\";s:9:\"Column
  ID\";s:4:\"type\";s:6:\"string\";}s:10:\"ColumnName\";O:8:\"stdClass\":2:{s:5:\"title\";s:11:\"Column
  Name\";s:4:\"type\";s:6:\"string\";}s:10:\"DataLength\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Data
  length for EPA program database column.\";s:7:\"example\";s:2:\"10\";s:5:\"title\";s:11:\"Data
  Length\";s:4:\"type\";s:6:\"string\";}s:8:\"DataType\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Data
  type for EPA program database column.\";s:7:\"example\";s:6:\"NUMBER\";s:5:\"title\";s:9:\"Data
  Type\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"A
  description of the category of Supplemental Environment Project (SEP) for a settlement.\";s:5:\"title\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:10:\"ObjectName\";O:8:\"stdClass\":2:{s:5:\"title\";s:11:\"Object
  Name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:10:\"ColumnName\";i:1;s:8:\"DataType\";i:2;s:10:\"DataLength\";i:3;s:8:\"ColumnID\";i:4;s:10:\"ObjectName\";i:5;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:12:\"sdw2_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:6:\"PageNo\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  number of pages of results returned\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:11:\"Page
  Number\";s:4:\"type\";s:6:\"string\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";s:7:\"example\";s:3:\"245\";s:5:\"title\";s:16:\"Query
  Identifier\";s:4:\"type\";s:6:\"string\";}s:9:\"QueryRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Number
  of query results returned\";s:7:\"example\";s:1:\"5\";s:5:\"title\";s:15:\"Query
  Row Count\";s:4:\"type\";s:6:\"string\";}s:16:\"SDWSearchResults\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/sdw3_SDWSearchResults\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:4:{i:0;s:7:\"Message\";i:1;s:9:\"QueryRows\";i:2;s:7:\"QueryID\";i:3;s:6:\"PageNo\";}s:4:\"type\";s:6:\"object\";}s:12:\"sdw3_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"CVRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Summary
  count of the number of CWA facilities or SDWA public drinking water systems with
  current violations.\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:7:\"FEARows\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Summary
  count of the number of facilities with a formal enforcement action in the past five
  years\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:8:\"INSPRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Number
  of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:17:\"IndianCountryRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Number
  of facilities with tribal_flag populated\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:24:\"Indian
  Country Row Count\";s:4:\"type\";s:6:\"string\";}s:10:\"InfFEARows\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Number
  of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT > 0)\";s:7:\"example\";s:1:\"0\";s:4:\"type\";s:6:\"string\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:6:\"PageNo\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  number of pages of results returned\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:11:\"Page
  Number\";s:4:\"type\";s:6:\"string\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";s:7:\"example\";s:3:\"245\";s:5:\"title\";s:16:\"Query
  Identifier\";s:4:\"type\";s:6:\"string\";}s:9:\"QueryRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Number
  of query results returned\";s:7:\"example\";s:1:\"5\";s:5:\"title\";s:15:\"Query
  Row Count\";s:4:\"type\";s:6:\"string\";}s:16:\"SDWSearchResults\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/sdw3_SDWSearchResults\";}s:4:\"type\";s:5:\"array\";}s:6:\"SVRows\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Number
  of facilities with curr_sv_flag populated (CWP_STATUS = \"Significant Violation\")\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:34:\"Significant
  Violation Result Count\";s:4:\"type\";s:6:\"string\";}s:6:\"V3Rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Number
  of facilities having one or more quarters in non-compliance (QNC) in the last three
  years\";s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}s:7:\"Version\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Version
  of the SDWA system service\";s:7:\"example\";s:15:\"v2016-02-02 14:\";s:5:\"title\";s:7:\"Version\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:12:{i:0;s:7:\"Message\";i:1;s:7:\"Version\";i:2;s:9:\"QueryRows\";i:3;s:17:\"IndianCountryRows\";i:4;s:6:\"SVRows\";i:5;s:6:\"CVRows\";i:6;s:6:\"V3Rows\";i:7;s:7:\"FEARows\";i:8;s:10:\"InfFEARows\";i:9;s:8:\"INSPRows\";i:10;s:7:\"QueryID\";i:11;s:6:\"PageNo\";}s:4:\"type\";s:6:\"object\";}s:21:\"sdw3_SDWSearchResults\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Safe
  Drinking Water Search Results Object\";s:10:\"properties\";O:8:\"stdClass\":53:{s:3:\"ACT\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Activity
  status code:\n- A = Active\n- I = Inactive\";s:7:\"example\";s:1:\"A\";s:5:\"title\";s:20:\"Activity
  Status Code\";s:4:\"type\";s:6:\"string\";}s:12:\"ActivityDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Description
  of activity status code (ACT), e.g., active, inactive.\";s:7:\"example\";s:6:\"Active\";s:5:\"title\";s:20:\"Activity
  Description\";s:4:\"type\";s:6:\"string\";}s:2:\"CT\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"County\";s:7:\"example\";s:8:\"CAROLINE\";s:4:\"type\";s:6:\"string\";}s:3:\"CTY\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"City\";s:7:\"example\";s:10:\"ALEXANDRIA\";s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:10:\"CuALEIn5Yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CuViolIn5Yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"FEA\";O:8:\"stdClass\":3:{s:11:\"description\";s:230:\"Number
  of formal enforcement responses during the past 5 years (20 most recent quarters)
  as of the last quarterly refresh.  Formal enforcement actions compel a PWS to take
  specific actions by specific dates to return to compliance\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:4:\"FIPS\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Five-character
  Federal Information Processing Standards (FIPS) value: 2-character state || 3-character
  county\";s:7:\"example\";s:5:\"51033\";s:4:\"type\";s:6:\"string\";}s:10:\"HealthFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Indicates
  whether system has violations of health-based drinking water standards\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:11:\"Health
  Flag\";s:4:\"type\";s:6:\"string\";}s:3:\"ICO\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Indicates
  whether the system is located in Indian Country\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:4:\"Icon\";s:4:\"type\";s:6:\"string\";}s:3:\"IEA\";O:8:\"stdClass\":3:{s:11:\"description\";s:219:\"Number
  of informal enforcement responses during the past 5 years (20 most recent quarters)
  as of the last quarterly refresh.  Informal enforcement actions do not specify actions
  and deadlines for returning to compliance\";s:7:\"example\";s:1:\"3\";s:4:\"type\";s:6:\"string\";}s:6:\"MRFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Indicates
  whether system has monitoring and reporting violations\";s:7:\"example\";s:1:\"Y\";s:4:\"type\";s:6:\"string\";}s:10:\"NewVioFlag\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"N\";s:4:\"type\";s:6:\"string\";}s:9:\"OtherFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:135:\"Indicates
  whether system has other violations, such as failing to issue annual consumer confidence
  reports or maintain required records\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:10:\"Other
  Flag\";s:4:\"type\";s:6:\"string\";}s:5:\"Owner\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"Owner/Operator:\n-
  P = Private\n- F = Federal Government\n- S = State Government\n- L = Local Government\";s:7:\"example\";s:1:\"P\";s:5:\"title\";s:5:\"Owner\";s:4:\"type\";s:6:\"string\";}s:9:\"OwnerDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Description
  of Owner code\";s:7:\"example\";s:16:\"Local Government\";s:5:\"title\";s:17:\"Owner
  Description\";s:4:\"type\";s:6:\"string\";}s:6:\"PNFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"Indicates
  whether system has Public Notice Violations (failure to immediately alert consumers
  of serious problem with drinking water)\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:28:\"Public
  Notice Violation Flag\";s:4:\"type\";s:6:\"string\";}s:5:\"PWSId\";O:8:\"stdClass\":4:{s:11:\"description\";s:124:\"Unique
  identifying code for a public water system, consisting of a two-letter state or
  region code, followed by seven digits\";s:7:\"example\";s:9:\"VA0033235\";s:5:\"title\";s:30:\"Public
  Water System Identifier\";s:4:\"type\";s:6:\"string\";}s:10:\"PbALEIn5Yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"PbCuViolIn5Yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"PbViolIn5Yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PopulationServed\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Estimated
  average daily population served by a system\";s:7:\"example\";s:2:\"34\";s:5:\"title\";s:17:\"Population
  Served\";s:4:\"type\";s:6:\"string\";}s:3:\"QNC\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"Number
  of quarters the system was in violation over the past three years (12 most recent
  quarters)\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:25:\"Quarters in Noncompliance\";s:4:\"type\";s:6:\"string\";}s:13:\"QuartersInSNC\";O:8:\"stdClass\":2:{s:5:\"title\";s:37:\"Quarters
  in Significant Noncompliance\";s:4:\"type\";s:6:\"string\";}s:14:\"RC350ViolIn5Yr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"REG\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"EPA
  Region number where the system is located. Values range from 01 to 10.\";s:7:\"example\";s:1:\"3\";s:4:\"type\";s:6:\"string\";}s:14:\"RulesVio3YrCnt\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"5\";s:4:\"type\";s:6:\"string\";}s:15:\"RulesVioCurrCnt\";O:8:\"stdClass\":2:{s:7:\"example\";s:1:\"4\";s:4:\"type\";s:6:\"string\";}s:26:\"SDW3yrComplianceQtrsStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Quarterly
  compliance status for the most recent 12 quarters. Each letter indicates the compliance
  status for the corresponding quarter\";s:7:\"example\";s:12:\"_____VVV_SSV\";s:4:\"type\";s:6:\"string\";}s:24:\"SDWContaminantsInCurViol\";O:8:\"stdClass\":2:{s:7:\"example\";s:18:\"7500=Public
  Notice\";s:4:\"type\";s:6:\"string\";}s:24:\"SDWContaminantsInViol3Yr\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  contaminant name and code in violation of a SDWA regulation in the past three years\";s:7:\"example\";s:54:\"2456=Total
  Haloacetic Acids (HAA5); 7500=Public Notice\";s:4:\"type\";s:6:\"string\";}s:14:\"SDWDateLastFEA\";O:8:\"stdClass\":2:{s:7:\"example\";s:9:\"1/27/2013\";s:4:\"type\";s:6:\"string\";}s:17:\"SDWDateLastFEAEPA\";O:8:\"stdClass\":2:{s:7:\"example\";s:8:\"4/5/2011\";s:4:\"type\";s:6:\"string\";}s:19:\"SDWDateLastFEAState\";O:8:\"stdClass\":2:{s:7:\"example\";s:9:\"2/19/2010\";s:4:\"type\";s:6:\"string\";}s:14:\"SDWDateLastIEA\";O:8:\"stdClass\":2:{s:7:\"example\";s:9:\"6/30/2008\";s:4:\"type\";s:6:\"string\";}s:17:\"SDWDateLastIEAEPA\";O:8:\"stdClass\":2:{s:7:\"example\";s:9:\"4/11/2013\";s:4:\"type\";s:6:\"string\";}s:19:\"SDWDateLastIEAState\";O:8:\"stdClass\":2:{s:7:\"example\";s:9:\"7/17/2010\";s:4:\"type\";s:6:\"string\";}s:4:\"SSNC\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Current
  compliance status\";s:7:\"example\";s:12:\"No Violation\";s:4:\"type\";s:6:\"string\";}s:2:\"ST\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Two-letter
  state abbreviation\";s:7:\"example\";s:2:\"VA\";s:5:\"title\";s:5:\"State\";s:4:\"type\";s:6:\"string\";}s:30:\"SearchedContaminantsLastValues\";O:8:\"stdClass\":2:{s:7:\"example\";s:47:\"2,4,5-TP=NRM;
  HEXACHLOROBENZENE=NRM; Endrin=NRM\";s:4:\"type\";s:6:\"string\";}s:15:\"SeriousViolator\";O:8:\"stdClass\":4:{s:11:\"description\";s:177:\"Indicates
  whether system is a Serious Violator (has unresolved serious, multiple, and/or continuing
  violations that is designated as a priority candidate for formal enforcement)\";s:7:\"example\";s:2:\"No\";s:5:\"title\";s:16:\"Serious
  Violator\";s:4:\"type\";s:6:\"string\";}s:15:\"SourceWaterDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Description
  of SourceWaterType code\";s:7:\"example\";s:12:\"Ground Water\";s:5:\"title\";s:24:\"Source
  Water Description\";s:4:\"type\";s:6:\"string\";}s:15:\"SourceWaterType\";O:8:\"stdClass\":4:{s:11:\"description\";s:237:\"Source
  Water Type:\n- SW = Surface water\n- GW = Ground water\n- GU = Ground water under
  direct influence of (UDI) surface water\n- SWP = Purchased Surface water\n- GWP
  = Purchased Ground water\n- GUP = Purchased Ground water UDI surface water\";s:7:\"example\";s:2:\"GW\";s:5:\"title\";s:17:\"Source
  Water Type\";s:4:\"type\";s:6:\"string\";}s:10:\"SystemName\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Name
  of the system regulated under the Safe Drinking Water Act (SDWA)\";s:7:\"example\";s:20:\"ARBOR
  CHRISTIAN HOME\";s:5:\"title\";s:11:\"System Name\";s:4:\"type\";s:6:\"string\";}s:10:\"SystemType\";O:8:\"stdClass\":4:{s:11:\"description\";s:196:\"Type
  of public water system:\n- CWS   = Community water system\n- NCWS  = Non-community
  water system\n- NTCWS = Non-transient non-community water system\n- TNCWS = Transient
  non-community water system\";s:7:\"example\";s:5:\"TNCWS\";s:5:\"title\";s:11:\"System
  Type\";s:4:\"type\";s:6:\"string\";}s:14:\"SystemTypeDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:255:\"The
  type of public water system (PWS) and description of corresponding SystemType code.
  A public water system is a system for the provision to the public of piped water
  for human consumption, which has at least 15 service connections or regularly serves
  a\";s:7:\"example\";s:30:\"Transient non-community system\";s:5:\"title\";s:23:\"System
  Type Description\";s:4:\"type\";s:6:\"string\";}s:6:\"Tribes\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/sdw3_Tribes\";}s:5:\"title\";s:6:\"Tribes\";s:4:\"type\";s:5:\"array\";}s:16:\"VioPointsAccrued\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Sum
  of all violation points for violations reported during the past five years (20 most
  recent quarters), as of the last quarterly refresh\";s:7:\"example\";s:2:\"12\";s:4:\"type\";s:6:\"string\";}s:24:\"VioPointsFEANotCorrected\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Sum
  of violation points accrued during past five years (20 most recent quarters) that
  are under formal enforcement but not yet returned to compliance, as of the last
  quarterly refresh\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:16:\"VioPointsRTCwFEA\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"Sum
  of violation points during past 5 years (20 most recent quarters) that received
  formal enforcement and returned to compliance, as of the last quarterly refresh\";s:7:\"example\";s:1:\"6\";s:4:\"type\";s:6:\"string\";}s:17:\"VioPointsRTCwoFEA\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Sum
  of violation points during past 5 years (20 most recent quarters) that did not receive
  formal enforcement but did return to compliance, as of the last quarterly refresh\";s:7:\"example\";s:1:\"2\";s:4:\"type\";s:6:\"string\";}s:18:\"VioPointsRemaining\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"Sum
  of violation points that were not returned to compliance as of the last quarterly
  refresh.  Includes points that have received formal enforcement but have not returned
  to compliance\";s:7:\"example\";s:1:\"4\";s:4:\"type\";s:6:\"string\";}s:3:\"ZIP\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"ZIP
  code\";s:7:\"example\";s:5:\"22302\";s:5:\"title\";s:8:\"Zip Code\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:51:{i:0;s:5:\"PWSId\";i:1;s:10:\"SystemName\";i:2;s:2:\"CT\";i:3;s:3:\"CTY\";i:4;s:2:\"ST\";i:5;s:3:\"ZIP\";i:6;s:10:\"SystemType\";i:7;s:15:\"SourceWaterType\";i:8;s:16:\"PopulationServed\";i:9;s:3:\"QNC\";i:10;s:4:\"SSNC\";i:11;s:3:\"IEA\";i:12;s:3:\"FEA\";i:13;s:3:\"ACT\";i:14;s:16:\"VioPointsAccrued\";i:15;s:24:\"VioPointsFEANotCorrected\";i:16;s:16:\"VioPointsRTCwFEA\";i:17;s:17:\"VioPointsRTCwoFEA\";i:18;s:18:\"VioPointsRemaining\";i:19;s:3:\"REG\";i:20;s:5:\"Owner\";i:21;s:3:\"ICO\";i:22;s:4:\"FIPS\";i:23;s:6:\"MRFlag\";i:24;s:10:\"HealthFlag\";i:25;s:9:\"OtherFlag\";i:26;s:6:\"PNFlag\";i:27;s:14:\"SystemTypeDesc\";i:28;s:15:\"SourceWaterDesc\";i:29;s:12:\"ActivityDesc\";i:30;s:9:\"OwnerDesc\";i:31;s:15:\"SeriousViolator\";i:32;s:26:\"SDW3yrComplianceQtrsStatus\";i:33;s:24:\"SDWContaminantsInViol3Yr\";i:34;s:24:\"SDWContaminantsInCurViol\";i:35;s:14:\"SDWDateLastFEA\";i:36;s:19:\"SDWDateLastFEAState\";i:37;s:17:\"SDWDateLastFEAEPA\";i:38;s:14:\"SDWDateLastIEA\";i:39;s:19:\"SDWDateLastIEAState\";i:40;s:17:\"SDWDateLastIEAEPA\";i:41;s:10:\"PbALEIn5Yr\";i:42;s:10:\"CuALEIn5Yr\";i:43;s:14:\"RC350ViolIn5Yr\";i:44;s:11:\"PbViolIn5Yr\";i:45;s:11:\"CuViolIn5Yr\";i:46;s:13:\"PbCuViolIn5Yr\";i:47;s:13:\"QuartersInSNC\";i:48;s:10:\"NewVioFlag\";i:49;s:14:\"RulesVio3YrCnt\";i:50;s:15:\"RulesVioCurrCnt\";}s:4:\"type\";s:6:\"object\";}s:11:\"sdw3_Tribes\";O:8:\"stdClass\":5:{s:11:\"description\";s:13:\"Tribes
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"TribalCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Tribe
  code\";s:7:\"example\";s:3:\"610\";s:5:\"title\";s:11:\"Tribal Code\";s:4:\"type\";s:6:\"string\";}s:10:\"TribalName\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Tribe
  Name\";s:7:\"example\";s:32:\"Tohono O'Odham Nation of Arizona\";s:5:\"title\";s:11:\"Tribal
  Name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"TribalCode\";i:1;s:10:\"TribalName\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:5:\"Tribe\";}}}"
...
