---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:103:\"U.S. EPA Enforcement
  and Compliance History Online (ECHO) - Corporate Compliance Screener Rest Services\";s:11:\"description\";s:611:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated
  compliance and enforcement information for over one million regulated facilities
  nationwide. The Corporate Compliance Screener organizes existing ECHO facility data
  into reports that highlight recent compliance issues or enforcement actions based
  upon data entered into national data systems of record. \n\nFor guidance, please
  see https://echo.epa.gov/help/corporate-compliance-screener/corporate-compliance-screener-help#results.
  \";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US EPA, OECA Integration,
  Targeting and Access Branch\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:7:\"version\";s:5:\"0.0.0\";}"
host: ofmpub.epa.gov
basePath: /echo
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:5:\"css00\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Facility
  Violation Information Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"Message\";s:7:\"example\";s:7:\"Success\";s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";}s:11:\"CurrFacInfo\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:34:\"Facilities
  with Current Violations\";s:11:\"description\";s:54:\"A complex array of facilities
  with current violations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/css08\";}}}s:8:\"required\";a:2:{i:0;s:7:\"Message\";i:1;s:11:\"CurrFacInfo\";}}s:5:\"css03\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"Case
  Defendants Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:14:\"CaseDefendants\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"CaseDefName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Defendant
  Name\";s:11:\"description\";s:66:\"The name of the defendant, or respondent associated
  with the case.\";}}s:8:\"required\";a:1:{i:0;s:11:\"CaseDefName\";}}s:5:\"css04\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"Facilities
  Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Facility\";}s:10:\"properties\";O:8:\"stdClass\":43:{s:16:\"FacilityCaseName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Facility
  or Case Name\";s:11:\"description\";s:23:\"Facility or case  name.\";}s:22:\"FacilityCaseIDentifier\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"Facility
  or Case Identifier\";s:11:\"description\";s:28:\"Facility or case identifier.\";}s:14:\"CaseDefendants\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:15:\"Case
  Defendants\";s:11:\"description\";s:60:\"An array of case defendants related to
  the facility or case.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/css03\";}}s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:4:\"City\";s:11:\"description\";s:214:\"The
  name of the city, town, village or other locality, when identifiable, within whose
  boundaries (the majority of) the facility site is located. This is not always the
  same as the city used for USPS mail delivery.\";}s:5:\"State\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:5:\"State\";s:7:\"example\";s:2:\"FL\";s:11:\"description\";s:86:\"The
  two letter abbreviation that represents the state or state equivalent for the U.S.\";}s:9:\"EPARegion\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:10:\"EPA
  Region\";s:7:\"example\";s:2:\"04\";s:11:\"description\";s:47:\"The EPA region in
  which the facility is located\";}s:12:\"IcisAirNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"Clean
  Air Act (CAA) Facility Name(s)\";s:11:\"description\";s:62:\"Alternate facility
  name(s), as maintained in the CAA database.\";}s:9:\"CamdNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:50:\"Clean
  Air Markets Division (CAMD) Facility Name(s)\";s:11:\"description\";s:63:\"Alternate
  facility name(s), as maintained in the CAMD database.\";}s:8:\"EisNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:48:\"Emission
  Inventory System (EIS) Facility Name(s)\";s:11:\"description\";s:62:\"Alternate
  facility name(s), as maintained in the EIS database.\";}s:8:\"CWANames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:38:\"Clean
  Water Act (CWA) Facility Name(s)\";s:11:\"description\";s:62:\"Alternate facility
  name(s), as maintained in the CWA database.\";}s:9:\"RCRANames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:63:\"Resources
  Conservation and Recovery Act (RCRA) Facility Name(s)\";s:11:\"description\";s:63:\"Alternate
  facility name(s), as maintained in the RCRA database.\";}s:9:\"SDWANames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:47:\"Safe
  Drinking Water Act (SDWA) Facility Name(s)\";s:11:\"description\";s:63:\"Alternate
  facility name(s), as maintained in the SDWA database.\";}s:8:\"TRINames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:47:\"Toxics
  Release Inventory (TRI) Facility Name(s)\";s:11:\"description\";s:62:\"Alternate
  facility name(s), as maintained in the TRI database.\";}s:9:\"TscaNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:52:\"Toxic
  Substances Control Act (TSCA) Facility Name(s)\";s:11:\"description\";s:63:\"Alternate
  facility name(s), as maintained in the TSCA database.\";}s:6:\"AirIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"AIR
  Facility System ID\";s:11:\"description\";s:29:\"Air Facility System (AFS) ID.\";}s:8:\"NPDESIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"ICS-NPDES
  Clean Water Act Identifier\";s:11:\"description\";s:131:\"Clean Water Act ID from
  the ICIS-NPDES (Integrated Compliance Information System - National Pollutant Discharge
  Elimination System)\";}s:7:\"RCRAIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"Resource
  Conservation and Recovery Act IDs\";s:7:\"example\";s:12:\"VAD981111784\";s:11:\"description\";s:100:\"A
  unique 12-character ID assigned for each record/permit/site/facility within the
  RCRAInfo database.\";}s:7:\"SDWAIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"DC0000001\";s:11:\"description\";s:120:\"A
  unique 9-character ID assigned for each public water system within the Safe Drinking
  Water Information System (SDWIS).\";}s:15:\"MediaPrimaryLaw\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Statute
  in HPV/SNC/SV\";s:11:\"description\";s:156:\"The statute(s) in which the facility
  is currently considered a High Priority Violator (HPV), in Significant Noncompliance
  (SNC), or a Serious Violator (SV).\";}s:10:\"CurrSvFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"Current
  Significant Violation Flag\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:70:\"Indicates
  if the facility has a current significant violation. 1 = Yes\";}s:11:\"CurrVioFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"Current
  Violation Flag\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:58:\"Indicates
  if the facility has a current violation. 1 = Yes\";}s:15:\"FacilityCurrSNC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Violation
  Status\";s:11:\"description\";s:72:\"An indication of the facility's current known
  overall compliance status.\";}s:14:\"CAACurrHpvFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:45:\"Current
  CAA High Priority Violator (HPV) Flag\";s:11:\"description\";s:100:\"Indicates if
  the facility  currently considered a  High Priority Violator (HPV) violation under
  CAA.\";}s:14:\"CWACurrSNCFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:48:\"Current
  CWA Significant Noncompliance (SNC) Flag\";s:11:\"description\";s:101:\"Indicates
  if the facility is currently considered to be in Significant Noncompliance (SNC)
  under CWA.\";}s:15:\"RCRACurrSNCFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"Current
  RCRA Violation Flag\";s:11:\"description\";s:102:\"Indicates if the facility is
  currently considered to be in Significant Noncompliance (SNC) under RCRA.\";}s:15:\"SDWACurrSNCFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:39:\"Current
  SDWA Serious Violator (SV) Flag\";s:11:\"description\";s:91:\"Indicates if the facility
  is currently considered to be a Serious Violator (SV) under SDWA.\";}s:9:\"QtrsInSNC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"Quarters
  In Significant Noncompliance\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:149:\"The
  number of formal enforcement actions that have been taken against the facility,
  under the corresponding statute, within the five year time period\";}s:15:\"ActionCaseTypes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Type
  of Action\";s:11:\"description\";s:131:\"Identifies the type of action based on
  the enforcement authority used. The current options are Administrative - Formal
  or Judicial.\";}s:10:\"LeadAgency\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Lead
  Agency\";s:7:\"example\";s:5:\"State\";s:11:\"description\";s:60:\"The lead agency
  (e.g., EPA, State) conducting the inspection\";}s:14:\"SettlementDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Settlement
  Date\";s:7:\"example\";s:9:\"05/5/2005\";s:11:\"description\";s:320:\"For federal
  judicial actions, this is the date the settlement document is signed by the presiding
  judge and entered by the Clerk of the Court. At that point, the settlement becomes
  a binding court order. For administrative actions, this is the date that the final
  order is signed and issued by the enforcement authority.\";}s:10:\"StatusDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Case
  Status Date\";s:11:\"description\";s:75:\"The date of the most recent milestone
  activity reported in the case record.\";}s:14:\"PenaltiesGt50k\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"Penalties
  Greater Than $50,000\";s:11:\"description\";s:89:\"The count of penalties or injunctive
  relief greater than $50,000 in the past three years.\";}s:20:\"ComplyingActionValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"Complying
  Action Value\";s:11:\"description\";s:238:\"For civil enforcement actions, the value
  of the costs incurred by the defendant/respondent to attain compliance with the
  law and restore the environment. This value does not include penalties, cost recovery,
  or costs associated with SEPs.\";}s:8:\"SepValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"SEP
  Value\";s:11:\"description\";s:260:\"For civil enforcement actions, as part of a
  settlement, a defendant may voluntarily agree to undertake an environmentally beneficial
  project (Supplement Environmental Project (SEP)) related to the violation in exchange
  for mitigation of the penalty to be paid.\";}s:11:\"FacCaseFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Facility
  or Case Flag\";s:11:\"description\";s:109:\"Indicates if the record contains facility
  information or case information (values can be either FAC or CASE).\";}s:13:\"FacActiveFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Facility
  Active Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:123:\"Indicates whether
  any of the associated ICIS-Air, ICIS-NPDES, RCRAInfo or SDWIS permits/facilities
  are in an active status.\";}s:14:\"CaseCurrStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Current
  Case Status\";s:11:\"description\";s:128:\"The current status of the enforcement
  action. Status is based on the most recent milestone activity reported in the case
  record.\";}s:15:\"CAACurrViolFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"Current
  CAA Violation Flag\";s:11:\"description\";s:54:\"Indicates if the facility has a
  current CAA violation.\";}s:15:\"CWACurrViolFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"Current
  CWA Violation Flag\";s:11:\"description\";s:54:\"Indicates if the facility has a
  current CWA violation.\";}s:16:\"RCRACurrViolFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"Current
  RCRA Violation Flag\";s:11:\"description\";s:55:\"Indicates if the facility has
  a current RCRA violation.\";}s:16:\"SDWACurrViolFlag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"Current
  SDWA Violation Flag\";s:11:\"description\";s:55:\"Indicates if the facility has
  a current SDWA violation.\";}s:8:\"MaxScore\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Max
  Score\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:33:\"A sorting score for
  internal use.\";}}s:8:\"required\";a:43:{i:0;s:16:\"FacilityCaseName\";i:1;s:22:\"FacilityCaseIDentifier\";i:2;s:14:\"CaseDefendants\";i:3;s:7:\"Address\";i:4;s:4:\"City\";i:5;s:5:\"State\";i:6;s:9:\"EPARegion\";i:7;s:12:\"IcisAirNames\";i:8;s:9:\"CamdNames\";i:9;s:8:\"EisNames\";i:10;s:8:\"CWANames\";i:11;s:9:\"RCRANames\";i:12;s:9:\"SDWANames\";i:13;s:8:\"TRINames\";i:14;s:9:\"TscaNames\";i:15;s:6:\"AirIDs\";i:16;s:8:\"NPDESIDs\";i:17;s:7:\"RCRAIDs\";i:18;s:7:\"SDWAIDs\";i:19;s:15:\"MediaPrimaryLaw\";i:20;s:10:\"CurrSvFlag\";i:21;s:11:\"CurrVioFlag\";i:22;s:15:\"FacilityCurrSNC\";i:23;s:14:\"CAACurrHpvFlag\";i:24;s:14:\"CWACurrSNCFlag\";i:25;s:15:\"RCRACurrSNCFlag\";i:26;s:15:\"SDWACurrSNCFlag\";i:27;s:9:\"QtrsInSNC\";i:28;s:15:\"ActionCaseTypes\";i:29;s:10:\"LeadAgency\";i:30;s:14:\"SettlementDate\";i:31;s:10:\"StatusDate\";i:32;s:14:\"PenaltiesGt50k\";i:33;s:20:\"ComplyingActionValue\";i:34;s:8:\"SepValue\";i:35;s:11:\"FacCaseFlag\";i:36;s:13:\"FacActiveFlag\";i:37;s:14:\"CaseCurrStatus\";i:38;s:15:\"CAACurrViolFlag\";i:39;s:15:\"CWACurrViolFlag\";i:40;s:16:\"RCRACurrViolFlag\";i:41;s:16:\"SDWACurrViolFlag\";i:42;s:8:\"MaxScore\";}}s:5:\"css01\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:38:\"The
  data returned by the service call.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"Message\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"Message\";s:7:\"example\";s:7:\"Success\";s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Query
  Identifier\";s:7:\"example\";s:3:\"245\";s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";}s:9:\"QueryRows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Query
  Row Count\";s:7:\"example\";s:1:\"5\";s:11:\"description\";s:32:\"Number of query
  results returned\";}s:10:\"ActiveRows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Active
  Facility Count\";s:11:\"description\";s:62:\"Number of facilities designated as
  active (fac_active_flag=Y).\";}s:5:\"VRows\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"SNCRows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"Significant
  Violation Result Count\";s:11:\"description\";s:87:\"Number of facilities with curr_sv_flag
  populated (CWP_STATUS = \"Significant Violation\")\";}s:7:\"CAARows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Clean
  Air Act Count\";s:7:\"example\";s:2:\"50\";s:11:\"description\";s:94:\"The number
  of facilities or cases within the result set that have Clean Air Act (CAA) permits.\";}s:7:\"CWARows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Clean
  Water Act Count\";s:7:\"example\";s:2:\"50\";s:11:\"description\";s:97:\"The number
  of facilities or cases within the results set that have Clean Water Act (CWA) permits.\";}s:7:\"RCRRows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:44:\"Resource
  Recovery and Conservation Act Count\";s:7:\"example\";s:2:\"50\";s:11:\"description\";s:124:\"The
  number of facilities or cases within the results set that have Resource Conservation
  and Recovery Action (RCRA) permits.\";}s:8:\"SDWARows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"Safe
  Drinking Water Act Count\";s:7:\"example\";s:2:\"50\";s:11:\"description\";s:106:\"The
  number of facilities or cases within the results set that have Safe Drinking Water
  Act (SDWA) permits.\";}s:6:\"PageNo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Page
  Number\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:39:\"The number of pages
  of results returned\";}s:10:\"Facilities\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:10:\"Facilities\";s:11:\"description\";s:40:\"A
  complex array of facility information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/css04\";}}}s:8:\"required\";a:12:{i:0;s:7:\"Message\";i:1;s:7:\"QueryID\";i:2;s:9:\"QueryRows\";i:3;s:10:\"ActiveRows\";i:4;s:5:\"VRows\";i:5;s:7:\"SNCRows\";i:6;s:7:\"CAARows\";i:7;s:7:\"CWARows\";i:8;s:7:\"RCRRows\";i:9;s:8:\"SDWARows\";i:10;s:6:\"PageNo\";i:11;s:10:\"Facilities\";}}s:5:\"css12\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:41:\"EPA
  \"Open\" Civil Enforcement Cases Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"Message\";s:7:\"example\";s:7:\"Success\";s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";}s:16:\"EnforcementCases\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:17:\"Enforcement
  Cases\";s:11:\"description\";s:48:\"A complex array of enforcement case information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/css09\";}}}s:8:\"required\";a:2:{i:0;s:7:\"Message\";i:1;s:16:\"EnforcementCases\";}}s:5:\"css06\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:38:\"The
  data returned by the service call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Message\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"Message\";s:7:\"example\";s:7:\"Success\";s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";}s:9:\"QueryRows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Query
  Row Count\";s:7:\"example\";s:1:\"5\";s:11:\"description\";s:32:\"Number of query
  results returned\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Query
  Identifier\";s:7:\"example\";s:3:\"245\";s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";}s:6:\"PageNo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Page
  Number\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:39:\"The number of pages
  of results returned\";}s:10:\"Facilities\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:10:\"Facilities\";s:11:\"description\";s:40:\"A
  complex array of facility information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/css04\";}}}s:8:\"required\";a:5:{i:0;s:7:\"Message\";i:1;s:9:\"QueryRows\";i:2;s:7:\"QueryID\";i:3;s:6:\"PageNo\";i:4;s:10:\"Facilities\";}}s:5:\"css08\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Facility
  Violation Information Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"CurrFacInfo\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"RegistryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:6:\"FRS
  ID\";s:7:\"example\";s:12:\"110020837601\";s:11:\"description\";s:144:\"An internal
  12-digit Facility Registry Service (FRS) tracking number used to tie all facility
  data together in EPA regulatory program databases.\";}s:12:\"FacilityName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Facility
  Name\";s:7:\"example\";s:10:\"3M COMPANY\";s:11:\"description\";s:25:\"The name
  of the facility.\";}s:14:\"FacilityStreet\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Facility
  Street\";s:7:\"example\";s:20:\"1400 STATE DOCKS RD.\";s:11:\"description\";s:34:\"The
  street address of the facility\";}s:12:\"FacilityCity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Facility
  City\";s:7:\"example\";s:7:\"DECATUR\";s:11:\"description\";s:41:\"The city in which
  the facility is located\";}s:13:\"FacilityState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Facility
  State\";s:7:\"example\";s:2:\"AL\";s:11:\"description\";s:42:\"The state in which
  the facility is located\";}s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"EPA
  Data System\";s:7:\"example\";s:3:\"ICP\";s:11:\"description\";s:1568:\"The EPA
  data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:7:\"example\";s:9:\"ALR040033\";s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";}s:14:\"CurrViolStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"EventDesc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"QtrsInSNC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"Quarters
  In Significant Noncompliance\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:149:\"The
  number of formal enforcement actions that have been taken against the facility,
  under the corresponding statute, within the five year time period\";}s:13:\"CurrSNCStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:11:{i:0;s:10:\"RegistryID\";i:1;s:12:\"FacilityName\";i:2;s:14:\"FacilityStreet\";i:3;s:12:\"FacilityCity\";i:4;s:13:\"FacilityState\";i:5;s:9:\"EPASystem\";i:6;s:8:\"SourceID\";i:7;s:14:\"CurrViolStatus\";i:8;s:9:\"EventDesc\";i:9;s:9:\"QtrsInSNC\";i:10;s:13:\"CurrSNCStatus\";}}s:5:\"css09\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:39:\"EPA
  Open Civil Enforcement Cases Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"EnforcementCases\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"CaseNumber\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Case
  Number\";s:7:\"example\";s:12:\"05-200021274\";s:11:\"description\";s:472:\"A unique
  number identifying the enforcement action. For EPA civil cases, these numbers begin
  with either the two digit EPA Region Code, \"HQ\" (headquarters initiated cases),
  and \"EF\" or \"WF\" (Eastern or Western Field Office CAA Mobile Source Program
  cases); followed by the fiscal year in which the action was initiated. After the
  fiscal year there is a sequence number. State NPDES civil cases start with the two
  character post abbreviation, followed by a sequence number.\";}s:11:\"RegistryIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"CaseName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Case
  Name\";s:7:\"example\";s:26:\"Baltes Real Estate Company\";s:11:\"description\";s:672:\"A
  unique number identifying the enforcement action. For EPA civil cases, these numbers
  begin with either the two digit EPA Region Code, \"HQ\" (headquarters initiated
  cases), and \"EF\" or \"WF\" (Eastern or Western Field Office CAA Mobile Source
  Program cases); followed by the fiscal year in which the action was initiated. After
  the fiscal year there is a sequence number. State NPDES civil cases start with the
  two character post abbreviation, followed by a sequence number.\nFor criminal cases,
  the ID was generated in ECHO based on the following format: CR [prosecution_summary_id].
  The source of the Prosecution Summary ID is the Summary of Criminal Prosecutions
  database.\";}s:8:\"CaseType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Case
  Type\";s:7:\"example\";s:3:\"AFR\";s:11:\"description\";s:81:\"The unique code that
  identifies a type of compliance event or enforcement action.\";}s:10:\"CaseStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Case
  Status\";s:7:\"example\";s:6:\"Closed\";s:11:\"description\";s:57:\"The status of
  the compliance event or enforcement action.\";}s:10:\"StatusDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Case
  Status Date\";s:11:\"description\";s:75:\"The date of the most recent milestone
  activity reported in the case record.\";}s:17:\"PrimaryLawSection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"NumDefendants\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:10:\"CaseNumber\";i:1;s:11:\"RegistryIDs\";i:2;s:8:\"CaseName\";i:3;s:8:\"CaseType\";i:4;s:10:\"CaseStatus\";i:5;s:10:\"StatusDate\";i:6;s:17:\"PrimaryLawSection\";i:7;s:13:\"NumDefendants\";}}s:5:\"css07\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:38:\"The
  data returned by the service call.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"Message\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"Message\";s:7:\"example\";s:7:\"Success\";s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";}s:7:\"QueryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"Query
  Identifier\";s:7:\"example\";s:3:\"245\";s:11:\"description\";s:50:\"Sequential
  number assigned to entire search result\";}s:9:\"QueryRows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Query
  Row Count\";s:7:\"example\";s:1:\"5\";s:11:\"description\";s:32:\"Number of query
  results returned\";}s:10:\"ActiveRows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Active
  Facility Count\";s:11:\"description\";s:62:\"Number of facilities designated as
  active (fac_active_flag=Y).\";}s:5:\"VRows\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"SNCRows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"Significant
  Violation Result Count\";s:11:\"description\";s:87:\"Number of facilities with curr_sv_flag
  populated (CWP_STATUS = \"Significant Violation\")\";}s:7:\"CAARows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Clean
  Air Act Count\";s:7:\"example\";s:2:\"50\";s:11:\"description\";s:94:\"The number
  of facilities or cases within the result set that have Clean Air Act (CAA) permits.\";}s:7:\"CWARows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Clean
  Water Act Count\";s:7:\"example\";s:2:\"50\";s:11:\"description\";s:97:\"The number
  of facilities or cases within the results set that have Clean Water Act (CWA) permits.\";}s:7:\"RCRRows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:44:\"Resource
  Recovery and Conservation Act Count\";s:7:\"example\";s:2:\"50\";s:11:\"description\";s:124:\"The
  number of facilities or cases within the results set that have Resource Conservation
  and Recovery Action (RCRA) permits.\";}s:8:\"SDWARows\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"Safe
  Drinking Water Act Count\";s:7:\"example\";s:2:\"50\";s:11:\"description\";s:106:\"The
  number of facilities or cases within the results set that have Safe Drinking Water
  Act (SDWA) permits.\";}s:11:\"CurrFacInfo\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:34:\"Facilities
  with Current Violations\";s:11:\"description\";s:54:\"A complex array of facilities
  with current violations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/css08\";}}s:11:\"Settlements\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:11:\"Settlements\";s:11:\"description\";s:43:\"A
  complex array of settelement information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/css10\";}}s:16:\"EnforcementCases\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:17:\"Enforcement
  Cases\";s:11:\"description\";s:48:\"A complex array of enforcement case information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/css09\";}}}s:8:\"required\";a:13:{i:0;s:7:\"Message\";i:1;s:7:\"QueryID\";i:2;s:9:\"QueryRows\";i:3;s:10:\"ActiveRows\";i:4;s:5:\"VRows\";i:5;s:7:\"SNCRows\";i:6;s:7:\"CAARows\";i:7;s:7:\"CWARows\";i:8;s:7:\"RCRRows\";i:9;s:8:\"SDWARows\";i:10;s:11:\"CurrFacInfo\";i:11;s:11:\"Settlements\";i:12;s:16:\"EnforcementCases\";}}s:5:\"css10\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:51:\"EPA
  and State Formal Enforcement Settlements Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"Settlements\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"RegistryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:6:\"FRS
  ID\";s:7:\"example\";s:12:\"110020837601\";s:11:\"description\";s:144:\"An internal
  12-digit Facility Registry Service (FRS) tracking number used to tie all facility
  data together in EPA regulatory program databases.\";}s:12:\"FacilityName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Facility
  Name\";s:7:\"example\";s:10:\"3M COMPANY\";s:11:\"description\";s:25:\"The name
  of the facility.\";}s:14:\"FacilityStreet\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Facility
  Street\";s:7:\"example\";s:20:\"1400 STATE DOCKS RD.\";s:11:\"description\";s:34:\"The
  street address of the facility\";}s:12:\"FacilityCity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Facility
  City\";s:7:\"example\";s:7:\"DECATUR\";s:11:\"description\";s:41:\"The city in which
  the facility is located\";}s:13:\"FacilityState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Facility
  State\";s:7:\"example\";s:2:\"AL\";s:11:\"description\";s:42:\"The state in which
  the facility is located\";}s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"EPA
  Data System\";s:7:\"example\";s:3:\"ICP\";s:11:\"description\";s:1568:\"The EPA
  data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:7:\"example\";s:9:\"ALR040033\";s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";}s:10:\"ActionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"LeadAgency\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Lead
  Agency\";s:7:\"example\";s:5:\"State\";s:11:\"description\";s:60:\"The lead agency
  (e.g., EPA, State) conducting the inspection\";}s:10:\"SettleDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Penalty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"CompActionValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"SEPValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ActivityID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:14:{i:0;s:10:\"RegistryID\";i:1;s:12:\"FacilityName\";i:2;s:14:\"FacilityStreet\";i:3;s:12:\"FacilityCity\";i:4;s:13:\"FacilityState\";i:5;s:9:\"EPASystem\";i:6;s:8:\"SourceID\";i:7;s:10:\"ActionType\";i:8;s:10:\"LeadAgency\";i:9;s:10:\"SettleDate\";i:10;s:7:\"Penalty\";i:11;s:15:\"CompActionValue\";i:12;s:8:\"SEPValue\";i:13;s:10:\"ActivityID\";}}s:5:\"css11\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:51:\"EPA
  and State Formal Enforcement Settlements Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"Message\";s:7:\"example\";s:7:\"Success\";s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";}s:11:\"Settlements\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:11:\"Settlements\";s:11:\"description\";s:43:\"A
  complex array of settelement information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/css10\";}}}s:8:\"required\";a:2:{i:0;s:7:\"Message\";i:1;s:11:\"Settlements\";}}s:4:\"met2\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"Results
  Column Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"ResultColumn\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"ColumnName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Column
  Name\";}s:8:\"DataType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Data
  Type\";s:7:\"example\";s:6:\"NUMBER\";s:11:\"description\";s:42:\"Data type for
  EPA program database column.\";}s:10:\"DataLength\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Data
  Length\";s:7:\"example\";s:2:\"10\";s:11:\"description\";s:44:\"Data length for
  EPA program database column.\";}s:8:\"ColumnID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Column
  ID\";}s:10:\"ObjectName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Object
  Name\";s:7:\"example\";s:8:\"CaseName\";s:11:\"description\";s:43:\"The JSON name
  used for the database column.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Column
  Description\";}}s:8:\"required\";a:6:{i:0;s:10:\"ColumnName\";i:1;s:8:\"DataType\";i:2;s:10:\"DataLength\";i:3;s:8:\"ColumnID\";i:4;s:10:\"ObjectName\";i:5;s:11:\"Description\";}}s:4:\"met1\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"Message\";s:7:\"example\";s:7:\"Success\";s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";}s:13:\"ResultColumns\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:14:\"Result
  Columns\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/met2\";}s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"ResultColumns\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}}}"
...
