---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:95:\"U.S. EPA Enforcement and
  Compliance History Online (ECHO) - Clean Water Act (CWA) Rest Services\";s:11:\"description\";s:2108:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated
  compliance and enforcement information for over 1 million regulated facilities nationwide.\n
  CWA Rest Services provides multiple service endpoints, each with specific capabilities,
  to search and retrieve data on facilities regulated under the Clean Water Act (CWA)
  and managed under the National Pollutant Discharge Elimination System (NPDES) program.
  The returned results reflect data drawn from EPA's ICIS-NPDES database.\n \nThe
  get_facilities, get_map, get_qid, and get_download end points are meant to be used
  together, while the enhanced get_facility_info end point is self contained.\n  The
  get_facility_info end point returns either an array of state, county or zip clusters
  with summary statistics per cluster or an array of facilities.\n \nThe recommended
  use scenario for get_facilities, get_qid, get_map, and get_downoad is:\n \n <b>1)</b>
  \ Use get_facilities to validate passed query parameters, obtain summary statistics
  and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately
  30 minutes.\n <b>2)</b>  Use get_qid, with the returned QID, to paginate through
  arrays of facility results.\n <b>3)</b>  Use get_map, with the returned QID, to
  zoom in/out and pan on the clustered and individual facility coordinates that meet
  the QID query criteria.\n <b>4)</b>  Use get_download, with the returned QID, to
  generate a Comma Separated Value (CSV) file of facility information that meets the
  QID query criteria.\n \n \nUse the qcolumns parameter to customize your search results.
  \ Use the Metdata service endpoint for a list of available output objects, their
  Column Ids, and their definitions to help you build your customized output. \n \nAdditional
  ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>,
  <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's
  Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n
  \";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US EPA, OECA Integration,
  Targeting and Access Branch\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:7:\"version\";s:5:\"0.0.0\";}"
host: ofmpub.epa.gov
basePath: /echo
paths:
  /cwa_rest_services.get_facilities:
    get:
      summary: Clean Water Act (CWA) Facility Search Service
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.p_fn'
      - $ref: '#/parameters/q.p_sa'
      - $ref: '#/parameters/q.p_sa1'
      - $ref: '#/parameters/q.p_ct'
      - $ref: '#/parameters/q.p_co'
      - $ref: '#/parameters/q.p_fips'
      - $ref: '#/parameters/q.p_st'
      - $ref: '#/parameters/q.p_zip'
      - $ref: '#/parameters/q.p_frs'
      - $ref: '#/parameters/q.p_reg'
      - $ref: '#/parameters/q.p_sic'
      - $ref: '#/parameters/q.p_ncs'
      - $ref: '#/parameters/q.p_pen'
      - $ref: '#/parameters/q.p_c1lat'
      - $ref: '#/parameters/q.p_c1lon'
      - $ref: '#/parameters/q.p_c2lat'
      - $ref: '#/parameters/q.p_c2lon'
      - $ref: '#/parameters/q.p_usmex'
      - $ref: '#/parameters/q.p_sic2'
      - $ref: '#/parameters/q.p_sic4'
      - $ref: '#/parameters/q.p_fa'
      - $ref: '#/parameters/q.p_ff'
      - $ref: '#/parameters/q.p_act'
      - $ref: '#/parameters/q.p_maj'
      - $ref: '#/parameters/q.p_mact'
      - $ref: '#/parameters/q.p_fea'
      - $ref: '#/parameters/q.p_feay'
      - $ref: '#/parameters/q.p_feaa'
      - $ref: '#/parameters/q.p_iea'
      - $ref: '#/parameters/q.p_ieay'
      - $ref: '#/parameters/q.p_ieaa'
      - $ref: '#/parameters/q.p_qiv'
      - $ref: '#/parameters/q.p_iv'
      - $ref: '#/parameters/q.p_impw'
      - $ref: '#/parameters/q.p_imp_cau_grp'
      - $ref: '#/parameters/q.p_imp_pol'
      - $ref: '#/parameters/q.p_trep'
      - $ref: '#/parameters/q.p_pm'
      - $ref: '#/parameters/q.p_pd'
      - $ref: '#/parameters/q.p_ico'
      - $ref: '#/parameters/q.p_huc'
      - $ref: '#/parameters/q.p_pid'
      - $ref: '#/parameters/q.p_med'
      - $ref: '#/parameters/q.p_ysl'
      - $ref: '#/parameters/q.p_ysly'
      - $ref: '#/parameters/q.p_ysla'
      - $ref: '#/parameters/q.p_qs'
      - $ref: '#/parameters/q.p_sfs'
      - $ref: '#/parameters/q.p_tribeid'
      - $ref: '#/parameters/q.p_tribename'
      - $ref: '#/parameters/q.p_tribedist'
      - $ref: '#/parameters/q.p_pstat'
      - $ref: '#/parameters/q.p_ptype'
      - $ref: '#/parameters/q.p_pcomp'
      - $ref: '#/parameters/q.p_plimits'
      - $ref: '#/parameters/q.p_pcss'
      - $ref: '#/parameters/q.p_pexp'
      - $ref: '#/parameters/q.p_owop'
      - $ref: '#/parameters/q.p_agoo'
      - $ref: '#/parameters/q.p_idt1'
      - $ref: '#/parameters/q.p_idt2'
      - $ref: '#/parameters/q.p_pityp'
      - $ref: '#/parameters/q.p_pfead1'
      - $ref: '#/parameters/q.p_pfead2'
      - $ref: '#/parameters/q.p_pfeat'
      - $ref: '#/parameters/q.p_pccs'
      - $ref: '#/parameters/q.p_pexcd'
      - $ref: '#/parameters/q.p_psncq'
      - $ref: '#/parameters/q.p_pctrack'
      - $ref: '#/parameters/q.p_dwd'
      - $ref: '#/parameters/q.p_pt'
      - $ref: '#/parameters/q.p_pdwdist'
      - $ref: '#/parameters/q.p_pswdpc'
      - $ref: '#/parameters/q.p_pswdmp'
      - $ref: '#/parameters/q.p_pswpol'
      - $ref: '#/parameters/q.p_pswcas'
      - $ref: '#/parameters/q.p_pswparam'
      - $ref: '#/parameters/q.p_pswvio'
      - $ref: '#/parameters/q.p_wbd'
      - $ref: '#/parameters/q.p_radwbd'
      - $ref: '#/parameters/q.p_frswbd'
      - $ref: '#/parameters/q.p_fntype'
      - $ref: '#/parameters/q.p_pidall'
      - $ref: '#/parameters/q.p_months_last_dmr'
      - $ref: '#/parameters/q.p_last_dmr_within'
      - $ref: '#/parameters/q.p_indsw'
      - $ref: '#/parameters/q.p_msgp_ptype'
      - $ref: '#/parameters/q.p_mon_type'
      - $ref: '#/parameters/q.p_iagency'
      - $ref: '#/parameters/q.p_isws'
      - $ref: '#/parameters/q.p_iswss'
      - $ref: '#/parameters/q.p_iswssID'
      - $ref: '#/parameters/q.p_ds1'
      - $ref: '#/parameters/q.p_ds2'
      - $ref: '#/parameters/q.p_da1'
      - $ref: '#/parameters/q.p_da2'
      - $ref: '#/parameters/q.p_MS4'
      - $ref: '#/parameters/q.p_ooFN'
      - $ref: '#/parameters/q.p_ooFNtype'
      - $ref: '#/parameters/q.p_ooSA'
      - $ref: '#/parameters/q.p_ooSA1'
      - $ref: '#/parameters/q.p_ooCt'
      - $ref: '#/parameters/q.p_ooSt'
      - $ref: '#/parameters/q.p_ooZip'
      - $ref: '#/parameters/q.p_fac_ico'
      - $ref: '#/parameters/q.p_icoo'
      - $ref: '#/parameters/q.p_fac_icos'
      - $ref: '#/parameters/q.p_ejscreen'
      - $ref: '#/parameters/q.p_alrexceed'
      - $ref: '#/parameters/q.p_limit_addr'
      - $ref: '#/parameters/q.p_lat'
      - $ref: '#/parameters/q.p_long'
      - $ref: '#/parameters/q.p_radius'
      - $ref: '#/parameters/q.p_decouple'
      - $ref: '#/parameters/q.p_ejscreen_over80cnt'
      - $ref: '#/parameters/q.p_bio_flag'
      - $ref: '#/parameters/q.p_bio_fac_type'
      - $ref: '#/parameters/q.p_bio_trtmnt_procs'
      - $ref: '#/parameters/q.p_bio_analy_method_catgry'
      - $ref: '#/parameters/q.p_bio_total_volume_amt'
      - $ref: '#/parameters/q.p_bio_mgmt_prctce_type'
      - $ref: '#/parameters/q.p_bio_mgmt_prctce_stype'
      - $ref: '#/parameters/q.p_bio_mgmt_prctce_handler'
      - $ref: '#/parameters/q.p_bio_mgmt_container'
      - $ref: '#/parameters/q.p_bio_mgmt_pathogen'
      - $ref: '#/parameters/q.p_bio_mgmt_pathred'
      - $ref: '#/parameters/q.p_bio_mgmt_vector'
      - $ref: '#/parameters/q.p_bio_mgmt_def_category'
      - $ref: '#/parameters/q.p_bio_mgmt_deficiencies'
      - $ref: '#/parameters/q.p_bio_vio_code'
      - $ref: '#/parameters/q.p_bio_current_vio'
      - $ref: '#/parameters/q.p_bio_qtrs_in_vio'
      - $ref: '#/parameters/q.p_bio_rpt_year'
      - $ref: '#/parameters/q.p_bio_vio_last_year'
      - $ref: '#/parameters/q.p_msgp_rpt_year'
      - $ref: '#/parameters/q.p_vio_last_year'
      - $ref: '#/parameters/q.queryset'
      - $ref: '#/parameters/q.responseset'
      - $ref: '#/parameters/q.tablelist'
      - $ref: '#/parameters/q.maplist'
      - $ref: '#/parameters/q.summarylist'
      - $ref: '#/parameters/q.callback'
      - name: qcolumns
        in: query
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/q.p_e90_count'
      - $ref: '#/parameters/q.p_e90_years'
      tags:
      - Facility Information
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/cwa04'
            required:
            - Results
    post:
      summary: Clean Water Act (CWA) Facility Search Service
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.p_fn'
      - $ref: '#/parameters/f.p_sa'
      - $ref: '#/parameters/f.p_sa1'
      - $ref: '#/parameters/f.p_ct'
      - $ref: '#/parameters/f.p_co'
      - $ref: '#/parameters/f.p_fips'
      - $ref: '#/parameters/f.p_st'
      - $ref: '#/parameters/f.p_zip'
      - $ref: '#/parameters/f.p_frs'
      - $ref: '#/parameters/f.p_reg'
      - $ref: '#/parameters/f.p_sic'
      - $ref: '#/parameters/f.p_ncs'
      - $ref: '#/parameters/f.p_pen'
      - $ref: '#/parameters/f.p_c1lat'
      - $ref: '#/parameters/f.p_c1lon'
      - $ref: '#/parameters/f.p_c2lat'
      - $ref: '#/parameters/f.p_c2lon'
      - $ref: '#/parameters/f.p_usmex'
      - $ref: '#/parameters/f.p_sic2'
      - $ref: '#/parameters/f.p_sic4'
      - $ref: '#/parameters/f.p_fa'
      - $ref: '#/parameters/f.p_ff'
      - $ref: '#/parameters/f.p_act'
      - $ref: '#/parameters/f.p_maj'
      - $ref: '#/parameters/f.p_mact'
      - $ref: '#/parameters/f.p_fea'
      - $ref: '#/parameters/f.p_feay'
      - $ref: '#/parameters/f.p_feaa'
      - $ref: '#/parameters/f.p_iea'
      - $ref: '#/parameters/f.p_ieay'
      - $ref: '#/parameters/f.p_ieaa'
      - $ref: '#/parameters/f.p_qiv'
      - $ref: '#/parameters/f.p_iv'
      - $ref: '#/parameters/f.p_impw'
      - $ref: '#/parameters/f.p_imp_cau_grp'
      - $ref: '#/parameters/f.p_imp_pol'
      - $ref: '#/parameters/f.p_trep'
      - $ref: '#/parameters/f.p_pm'
      - $ref: '#/parameters/f.p_pd'
      - $ref: '#/parameters/f.p_ico'
      - $ref: '#/parameters/f.p_huc'
      - $ref: '#/parameters/f.p_pid'
      - $ref: '#/parameters/f.p_med'
      - $ref: '#/parameters/f.p_ysl'
      - $ref: '#/parameters/f.p_ysly'
      - $ref: '#/parameters/f.p_ysla'
      - $ref: '#/parameters/f.p_qs'
      - $ref: '#/parameters/f.p_sfs'
      - $ref: '#/parameters/f.p_tribeid'
      - $ref: '#/parameters/f.p_tribename'
      - $ref: '#/parameters/f.p_tribedist'
      - $ref: '#/parameters/f.p_pstat'
      - $ref: '#/parameters/f.p_ptype'
      - $ref: '#/parameters/f.p_pcomp'
      - $ref: '#/parameters/f.p_plimits'
      - $ref: '#/parameters/f.p_pcss'
      - $ref: '#/parameters/f.p_pexp'
      - $ref: '#/parameters/f.p_owop'
      - $ref: '#/parameters/f.p_agoo'
      - $ref: '#/parameters/f.p_idt1'
      - $ref: '#/parameters/f.p_idt2'
      - $ref: '#/parameters/f.p_pityp'
      - $ref: '#/parameters/f.p_pfead1'
      - $ref: '#/parameters/f.p_pfead2'
      - $ref: '#/parameters/f.p_pfeat'
      - $ref: '#/parameters/f.p_pccs'
      - $ref: '#/parameters/f.p_pexcd'
      - $ref: '#/parameters/f.p_psncq'
      - $ref: '#/parameters/f.p_pctrack'
      - $ref: '#/parameters/f.p_dwd'
      - $ref: '#/parameters/f.p_pt'
      - $ref: '#/parameters/f.p_pdwdist'
      - $ref: '#/parameters/f.p_pswdpc'
      - $ref: '#/parameters/f.p_pswdmp'
      - $ref: '#/parameters/f.p_pswpol'
      - $ref: '#/parameters/f.p_pswcas'
      - $ref: '#/parameters/f.p_pswparam'
      - $ref: '#/parameters/f.p_pswvio'
      - $ref: '#/parameters/f.p_wbd'
      - $ref: '#/parameters/f.p_radwbd'
      - $ref: '#/parameters/f.p_frswbd'
      - $ref: '#/parameters/f.p_fntype'
      - $ref: '#/parameters/f.p_pidall'
      - $ref: '#/parameters/f.p_months_last_dmr'
      - $ref: '#/parameters/f.p_last_dmr_within'
      - $ref: '#/parameters/f.p_indsw'
      - $ref: '#/parameters/f.p_msgp_ptype'
      - $ref: '#/parameters/f.p_mon_type'
      - $ref: '#/parameters/f.p_iagency'
      - $ref: '#/parameters/f.p_isws'
      - $ref: '#/parameters/f.p_iswss'
      - $ref: '#/parameters/f.p_iswssID'
      - $ref: '#/parameters/f.p_ds1'
      - $ref: '#/parameters/f.p_ds2'
      - $ref: '#/parameters/f.p_da1'
      - $ref: '#/parameters/f.p_da2'
      - $ref: '#/parameters/f.p_MS4'
      - $ref: '#/parameters/f.p_ooFN'
      - $ref: '#/parameters/f.p_ooFNtype'
      - $ref: '#/parameters/f.p_ooSA'
      - $ref: '#/parameters/f.p_ooSA1'
      - $ref: '#/parameters/f.p_ooCt'
      - $ref: '#/parameters/f.p_ooSt'
      - $ref: '#/parameters/f.p_ooZip'
      - $ref: '#/parameters/f.p_fac_ico'
      - $ref: '#/parameters/f.p_icoo'
      - $ref: '#/parameters/f.p_fac_icos'
      - $ref: '#/parameters/f.p_ejscreen'
      - $ref: '#/parameters/f.p_alrexceed'
      - $ref: '#/parameters/f.p_limit_addr'
      - $ref: '#/parameters/f.p_lat'
      - $ref: '#/parameters/f.p_long'
      - $ref: '#/parameters/f.p_radius'
      - $ref: '#/parameters/f.p_decouple'
      - $ref: '#/parameters/f.p_ejscreen_over80cnt'
      - $ref: '#/parameters/f.p_bio_flag'
      - $ref: '#/parameters/f.p_bio_fac_type'
      - $ref: '#/parameters/f.p_bio_trtmnt_procs'
      - $ref: '#/parameters/f.p_bio_analy_method_catgry'
      - $ref: '#/parameters/f.p_bio_total_volume_amt'
      - $ref: '#/parameters/f.p_bio_mgmt_prctce_type'
      - $ref: '#/parameters/f.p_bio_mgmt_prctce_stype'
      - $ref: '#/parameters/f.p_bio_mgmt_prctce_handler'
      - $ref: '#/parameters/f.p_bio_mgmt_container'
      - $ref: '#/parameters/f.p_bio_mgmt_pathogen'
      - $ref: '#/parameters/f.p_bio_mgmt_pathred'
      - $ref: '#/parameters/f.p_bio_mgmt_vector'
      - $ref: '#/parameters/f.p_bio_mgmt_def_category'
      - $ref: '#/parameters/f.p_bio_mgmt_deficiencies'
      - $ref: '#/parameters/f.p_bio_vio_code'
      - $ref: '#/parameters/f.p_bio_current_vio'
      - $ref: '#/parameters/f.p_bio_qtrs_in_vio'
      - $ref: '#/parameters/f.p_bio_rpt_year'
      - $ref: '#/parameters/f.p_bio_vio_last_year'
      - $ref: '#/parameters/f.p_msgp_rpt_year'
      - $ref: '#/parameters/f.p_vio_last_year'
      - $ref: '#/parameters/f.queryset'
      - $ref: '#/parameters/f.responseset'
      - $ref: '#/parameters/f.tablelist'
      - $ref: '#/parameters/f.maplist'
      - $ref: '#/parameters/f.summarylist'
      - $ref: '#/parameters/f.callback'
      - name: qcolumns
        in: formData
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/f.p_e90_count'
      - $ref: '#/parameters/f.p_e90_years'
      tags:
      - Facility Information
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/cwa04'
            required:
            - Results
  /cwa_rest_services.get_facility_info:
    get:
      summary: Clean Water Act (CWA) Facility Enhanced Search Service
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/q.p_fn'
      - $ref: '#/parameters/q.p_sa'
      - $ref: '#/parameters/q.p_sa1'
      - $ref: '#/parameters/q.p_ct'
      - $ref: '#/parameters/q.p_co'
      - $ref: '#/parameters/q.p_fips'
      - $ref: '#/parameters/q.p_st'
      - $ref: '#/parameters/q.p_zip'
      - $ref: '#/parameters/q.p_frs'
      - $ref: '#/parameters/q.p_reg'
      - $ref: '#/parameters/q.p_sic'
      - $ref: '#/parameters/q.p_ncs'
      - $ref: '#/parameters/q.p_pen'
      - $ref: '#/parameters/q.xmin'
      - $ref: '#/parameters/q.ymin'
      - $ref: '#/parameters/q.xmax'
      - $ref: '#/parameters/q.ymax'
      - $ref: '#/parameters/q.p_usmex'
      - $ref: '#/parameters/q.p_sic2'
      - $ref: '#/parameters/q.p_sic4'
      - $ref: '#/parameters/q.p_fa'
      - $ref: '#/parameters/q.p_ff'
      - $ref: '#/parameters/q.p_act'
      - $ref: '#/parameters/q.p_maj'
      - $ref: '#/parameters/q.p_mact'
      - $ref: '#/parameters/q.p_fea'
      - $ref: '#/parameters/q.p_feay'
      - $ref: '#/parameters/q.p_feaa'
      - $ref: '#/parameters/q.p_iea'
      - $ref: '#/parameters/q.p_ieay'
      - $ref: '#/parameters/q.p_ieaa'
      - $ref: '#/parameters/q.p_qiv'
      - $ref: '#/parameters/q.p_iv'
      - $ref: '#/parameters/q.p_impw'
      - $ref: '#/parameters/q.p_imp_pol'
      - $ref: '#/parameters/q.p_imp_cau_grp'
      - $ref: '#/parameters/q.p_trep'
      - $ref: '#/parameters/q.p_pm'
      - $ref: '#/parameters/q.p_pd'
      - $ref: '#/parameters/q.p_ico'
      - $ref: '#/parameters/q.p_huc'
      - $ref: '#/parameters/q.p_pid'
      - $ref: '#/parameters/q.p_med'
      - $ref: '#/parameters/q.p_ysl'
      - $ref: '#/parameters/q.p_ysly'
      - $ref: '#/parameters/q.p_ysla'
      - $ref: '#/parameters/q.p_qs'
      - $ref: '#/parameters/q.p_sfs'
      - $ref: '#/parameters/q.p_tribeid'
      - $ref: '#/parameters/q.p_tribename'
      - $ref: '#/parameters/q.p_tribedist'
      - $ref: '#/parameters/q.p_pstat'
      - $ref: '#/parameters/q.p_ptype'
      - $ref: '#/parameters/q.p_pcomp'
      - $ref: '#/parameters/q.p_plimits'
      - $ref: '#/parameters/q.p_pcss'
      - $ref: '#/parameters/q.p_pexp'
      - $ref: '#/parameters/q.p_owop'
      - $ref: '#/parameters/q.p_agoo'
      - $ref: '#/parameters/q.p_idt1'
      - $ref: '#/parameters/q.p_idt2'
      - $ref: '#/parameters/q.p_pityp'
      - $ref: '#/parameters/q.p_pfead1'
      - $ref: '#/parameters/q.p_pfead2'
      - $ref: '#/parameters/q.p_pfeat'
      - $ref: '#/parameters/q.p_pccs'
      - $ref: '#/parameters/q.p_pexcd'
      - $ref: '#/parameters/q.p_psncq'
      - $ref: '#/parameters/q.p_pctrack'
      - $ref: '#/parameters/q.p_dwd'
      - $ref: '#/parameters/q.p_pt'
      - $ref: '#/parameters/q.p_pdwdist'
      - $ref: '#/parameters/q.p_pswdpc'
      - $ref: '#/parameters/q.p_pswdmp'
      - $ref: '#/parameters/q.p_pswpol'
      - $ref: '#/parameters/q.p_pswcas'
      - $ref: '#/parameters/q.p_pswparam'
      - $ref: '#/parameters/q.p_pswvio'
      - $ref: '#/parameters/q.p_wbd'
      - $ref: '#/parameters/q.p_radwbd'
      - $ref: '#/parameters/q.p_frswbd'
      - $ref: '#/parameters/q.p_fntype'
      - $ref: '#/parameters/q.p_pidall'
      - $ref: '#/parameters/q.p_months_last_dmr'
      - $ref: '#/parameters/q.p_last_dmr_within'
      - $ref: '#/parameters/q.p_indsw'
      - $ref: '#/parameters/q.p_msgp_ptype'
      - $ref: '#/parameters/q.p_mon_type'
      - $ref: '#/parameters/q.p_iagency'
      - $ref: '#/parameters/q.p_isws'
      - $ref: '#/parameters/q.p_iswss'
      - $ref: '#/parameters/q.p_iswssID'
      - $ref: '#/parameters/q.p_ds1'
      - $ref: '#/parameters/q.p_ds2'
      - $ref: '#/parameters/q.p_da1'
      - $ref: '#/parameters/q.p_da2'
      - $ref: '#/parameters/q.p_MS4'
      - $ref: '#/parameters/q.p_ooFN'
      - $ref: '#/parameters/q.p_ooFNtype'
      - $ref: '#/parameters/q.p_ooSA'
      - $ref: '#/parameters/q.p_ooSA1'
      - $ref: '#/parameters/q.p_ooCt'
      - $ref: '#/parameters/q.p_ooSt'
      - $ref: '#/parameters/q.p_ooZip'
      - $ref: '#/parameters/q.p_fac_ico'
      - $ref: '#/parameters/q.p_icoo'
      - $ref: '#/parameters/q.p_fac_icos'
      - $ref: '#/parameters/q.p_ejscreen'
      - $ref: '#/parameters/q.p_alrexceed'
      - $ref: '#/parameters/q.p_limit_addr'
      - $ref: '#/parameters/q.p_lat'
      - $ref: '#/parameters/q.p_long'
      - $ref: '#/parameters/q.p_radius'
      - $ref: '#/parameters/q.p_decouple'
      - $ref: '#/parameters/q.p_ejscreen_over80cnt'
      - $ref: '#/parameters/q.p_bio_flag'
      - $ref: '#/parameters/q.p_bio_fac_type'
      - $ref: '#/parameters/q.p_bio_trtmnt_procs'
      - $ref: '#/parameters/q.p_bio_analy_method_catgry'
      - $ref: '#/parameters/q.p_bio_total_volume_amt'
      - $ref: '#/parameters/q.p_bio_mgmt_prctce_type'
      - $ref: '#/parameters/q.p_bio_mgmt_prctce_stype'
      - $ref: '#/parameters/q.p_bio_mgmt_prctce_handler'
      - $ref: '#/parameters/q.p_bio_mgmt_container'
      - $ref: '#/parameters/q.p_bio_mgmt_pathogen'
      - $ref: '#/parameters/q.p_bio_mgmt_pathred'
      - $ref: '#/parameters/q.p_bio_mgmt_vector'
      - $ref: '#/parameters/q.p_bio_mgmt_def_category'
      - $ref: '#/parameters/q.p_bio_mgmt_deficiencies'
      - $ref: '#/parameters/q.p_bio_vio_code'
      - $ref: '#/parameters/q.p_bio_current_vio'
      - $ref: '#/parameters/q.p_bio_qtrs_in_vio'
      - $ref: '#/parameters/q.p_bio_rpt_year'
      - $ref: '#/parameters/q.p_bio_vio_last_year'
      - $ref: '#/parameters/q.p_msgp_rpt_year'
      - $ref: '#/parameters/q.p_vio_last_year'
      - $ref: '#/parameters/q.responseset'
      - $ref: '#/parameters/q.callback'
      - name: qcolumns
        in: query
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/q.p_pretty_print'
      - $ref: '#/parameters/q.p_e90_count'
      - $ref: '#/parameters/q.p_e90_years'
      tags:
      - Facility Information
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The search will return clusters if the number of facilities
            returned is greater than the resposeset size, otherwise individual facility
            records will be returned.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/cwa08'
            required:
            - Results
    post:
      summary: Clean Water Act (CWA) Facility Enhanced Search Service
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/f.p_fn'
      - $ref: '#/parameters/f.p_sa'
      - $ref: '#/parameters/f.p_sa1'
      - $ref: '#/parameters/f.p_ct'
      - $ref: '#/parameters/f.p_co'
      - $ref: '#/parameters/f.p_fips'
      - $ref: '#/parameters/f.p_st'
      - $ref: '#/parameters/f.p_zip'
      - $ref: '#/parameters/f.p_frs'
      - $ref: '#/parameters/f.p_reg'
      - $ref: '#/parameters/f.p_sic'
      - $ref: '#/parameters/f.p_ncs'
      - $ref: '#/parameters/f.p_pen'
      - $ref: '#/parameters/f.xmin'
      - $ref: '#/parameters/f.ymin'
      - $ref: '#/parameters/f.xmax'
      - $ref: '#/parameters/f.ymax'
      - $ref: '#/parameters/f.p_usmex'
      - $ref: '#/parameters/f.p_sic2'
      - $ref: '#/parameters/f.p_sic4'
      - $ref: '#/parameters/f.p_fa'
      - $ref: '#/parameters/f.p_ff'
      - $ref: '#/parameters/f.p_act'
      - $ref: '#/parameters/f.p_maj'
      - $ref: '#/parameters/f.p_mact'
      - $ref: '#/parameters/f.p_fea'
      - $ref: '#/parameters/f.p_feay'
      - $ref: '#/parameters/f.p_feaa'
      - $ref: '#/parameters/f.p_iea'
      - $ref: '#/parameters/f.p_ieay'
      - $ref: '#/parameters/f.p_ieaa'
      - $ref: '#/parameters/f.p_qiv'
      - $ref: '#/parameters/f.p_iv'
      - $ref: '#/parameters/f.p_impw'
      - $ref: '#/parameters/f.p_imp_pol'
      - $ref: '#/parameters/f.p_imp_cau_grp'
      - $ref: '#/parameters/f.p_trep'
      - $ref: '#/parameters/f.p_pm'
      - $ref: '#/parameters/f.p_pd'
      - $ref: '#/parameters/f.p_ico'
      - $ref: '#/parameters/f.p_huc'
      - $ref: '#/parameters/f.p_pid'
      - $ref: '#/parameters/f.p_med'
      - $ref: '#/parameters/f.p_ysl'
      - $ref: '#/parameters/f.p_ysly'
      - $ref: '#/parameters/f.p_ysla'
      - $ref: '#/parameters/f.p_qs'
      - $ref: '#/parameters/f.p_sfs'
      - $ref: '#/parameters/f.p_tribeid'
      - $ref: '#/parameters/f.p_tribename'
      - $ref: '#/parameters/f.p_tribedist'
      - $ref: '#/parameters/f.p_pstat'
      - $ref: '#/parameters/f.p_ptype'
      - $ref: '#/parameters/f.p_pcomp'
      - $ref: '#/parameters/f.p_plimits'
      - $ref: '#/parameters/f.p_pcss'
      - $ref: '#/parameters/f.p_pexp'
      - $ref: '#/parameters/f.p_owop'
      - $ref: '#/parameters/f.p_agoo'
      - $ref: '#/parameters/f.p_idt1'
      - $ref: '#/parameters/f.p_idt2'
      - $ref: '#/parameters/f.p_pityp'
      - $ref: '#/parameters/f.p_pfead1'
      - $ref: '#/parameters/f.p_pfead2'
      - $ref: '#/parameters/f.p_pfeat'
      - $ref: '#/parameters/f.p_pccs'
      - $ref: '#/parameters/f.p_pexcd'
      - $ref: '#/parameters/f.p_psncq'
      - $ref: '#/parameters/f.p_pctrack'
      - $ref: '#/parameters/f.p_dwd'
      - $ref: '#/parameters/f.p_pt'
      - $ref: '#/parameters/f.p_pdwdist'
      - $ref: '#/parameters/f.p_pswdpc'
      - $ref: '#/parameters/f.p_pswdmp'
      - $ref: '#/parameters/f.p_pswpol'
      - $ref: '#/parameters/f.p_pswcas'
      - $ref: '#/parameters/f.p_pswparam'
      - $ref: '#/parameters/f.p_pswvio'
      - $ref: '#/parameters/f.p_wbd'
      - $ref: '#/parameters/f.p_radwbd'
      - $ref: '#/parameters/f.p_frswbd'
      - $ref: '#/parameters/f.p_fntype'
      - $ref: '#/parameters/f.p_pidall'
      - $ref: '#/parameters/f.p_months_last_dmr'
      - $ref: '#/parameters/f.p_last_dmr_within'
      - $ref: '#/parameters/f.p_indsw'
      - $ref: '#/parameters/f.p_msgp_ptype'
      - $ref: '#/parameters/f.p_mon_type'
      - $ref: '#/parameters/f.p_iagency'
      - $ref: '#/parameters/f.p_isws'
      - $ref: '#/parameters/f.p_iswss'
      - $ref: '#/parameters/f.p_iswssID'
      - $ref: '#/parameters/f.p_ds1'
      - $ref: '#/parameters/f.p_ds2'
      - $ref: '#/parameters/f.p_da1'
      - $ref: '#/parameters/f.p_da2'
      - $ref: '#/parameters/f.p_MS4'
      - $ref: '#/parameters/f.p_ooFN'
      - $ref: '#/parameters/f.p_ooFNtype'
      - $ref: '#/parameters/f.p_ooSA'
      - $ref: '#/parameters/f.p_ooSA1'
      - $ref: '#/parameters/f.p_ooCt'
      - $ref: '#/parameters/f.p_ooSt'
      - $ref: '#/parameters/f.p_ooZip'
      - $ref: '#/parameters/f.p_fac_ico'
      - $ref: '#/parameters/f.p_icoo'
      - $ref: '#/parameters/f.p_fac_icos'
      - $ref: '#/parameters/f.p_ejscreen'
      - $ref: '#/parameters/f.p_alrexceed'
      - $ref: '#/parameters/f.p_limit_addr'
      - $ref: '#/parameters/f.p_lat'
      - $ref: '#/parameters/f.p_long'
      - $ref: '#/parameters/f.p_radius'
      - $ref: '#/parameters/f.p_decouple'
      - $ref: '#/parameters/f.p_ejscreen_over80cnt'
      - $ref: '#/parameters/f.p_bio_flag'
      - $ref: '#/parameters/f.p_bio_fac_type'
      - $ref: '#/parameters/f.p_bio_trtmnt_procs'
      - $ref: '#/parameters/f.p_bio_analy_method_catgry'
      - $ref: '#/parameters/f.p_bio_total_volume_amt'
      - $ref: '#/parameters/f.p_bio_mgmt_prctce_type'
      - $ref: '#/parameters/f.p_bio_mgmt_prctce_stype'
      - $ref: '#/parameters/f.p_bio_mgmt_prctce_handler'
      - $ref: '#/parameters/f.p_bio_mgmt_container'
      - $ref: '#/parameters/f.p_bio_mgmt_pathogen'
      - $ref: '#/parameters/f.p_bio_mgmt_pathred'
      - $ref: '#/parameters/f.p_bio_mgmt_vector'
      - $ref: '#/parameters/f.p_bio_mgmt_def_category'
      - $ref: '#/parameters/f.p_bio_mgmt_deficiencies'
      - $ref: '#/parameters/f.p_bio_vio_code'
      - $ref: '#/parameters/f.p_bio_current_vio'
      - $ref: '#/parameters/f.p_bio_qtrs_in_vio'
      - $ref: '#/parameters/f.p_bio_rpt_year'
      - $ref: '#/parameters/f.p_bio_vio_last_year'
      - $ref: '#/parameters/f.p_msgp_rpt_year'
      - $ref: '#/parameters/f.p_vio_last_year'
      - $ref: '#/parameters/f.responseset'
      - $ref: '#/parameters/f.callback'
      - name: qcolumns
        in: formData
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/f.p_pretty_print'
      - $ref: '#/parameters/f.p_e90_count'
      - $ref: '#/parameters/f.p_e90_years'
      tags:
      - Facility Information
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The search will return clusters if the number of facilities
            returned is greater than the resposeset size, otherwise individual facility
            records will be returned.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/cwa08'
            required:
            - Results
  /cwa_rest_services.get_qid:
    get:
      summary: Clean Water Act (CWA) Paginated Results Service
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - $ref: '#/parameters/q.pageno'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.newsort'
      - $ref: '#/parameters/q.descending'
      - name: qcolumns
        in: query
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      tags:
      - Facility Information
      responses:
        200:
          description: Results are an array (page)  of CWA (ICIS NPDES) Facilities
            with the number of facilities equal to the responseset (page size).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/cwa13'
            required:
            - Results
    post:
      summary: Clean Water Act (CWA) Paginated Results Service
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - $ref: '#/parameters/f.pageno'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.newsort'
      - $ref: '#/parameters/f.descending'
      - name: qcolumns
        in: formData
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      tags:
      - Facility Information
      responses:
        200:
          description: Results are an array (page)  of CWA (ICIS NPDES) Facilities
            with the number of facilities equal to the responseset (page size).
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/cwa13'
            required:
            - Results
  /cwa_rest_services.get_map:
    get:
      summary: Clean Water Act (CWA) Map Service
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.tablelist'
      - $ref: '#/parameters/q.c1_lat'
      - $ref: '#/parameters/q.c1_long'
      - $ref: '#/parameters/q.c2_lat'
      - $ref: '#/parameters/q.c2_long'
      - $ref: '#/parameters/q.p_id'
      tags:
      - Facility Information
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              MapOutput:
                $ref: '#/definitions/cwa12'
            required:
            - MapOutput
    post:
      summary: Clean Water Act (CWA) Map Service
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.tablelist'
      - $ref: '#/parameters/f.c1_lat'
      - $ref: '#/parameters/f.c1_long'
      - $ref: '#/parameters/f.c2_lat'
      - $ref: '#/parameters/f.c2_long'
      - $ref: '#/parameters/f.p_id'
      tags:
      - Facility Information
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              MapOutput:
                $ref: '#/definitions/cwa12'
            required:
            - MapOutput
  /cwa_rest_services.get_download:
    get:
      summary: Clean Water Act (CWA) Download Data Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma separated value (CSV) file of the facilities found.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - name: qcolumns
        in: query
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facility Information
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
    post:
      summary: Clean Water Act (CWA) Download Data Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma separated value (CSV) file of the facilities found.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - name: qcolumns
        in: formData
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facility Information
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
  /cwa_rest_services.get_info_clusters:
    get:
      summary: Clean Water Act (CWA) Info Clusters Service
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/q.p_qid'
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facility Information
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
    post:
      summary: Clean Water Act (CWA) Info Clusters Service
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        type: string
        required: false
      - $ref: '#/parameters/f.p_qid'
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facility Information
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
  /cwa_rest_services.get_geojson:
    get:
      summary: Clean Water Act (CWA) GeoJSON Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        type: string
        required: false
      - $ref: '#/parameters/q.qid'
      - $ref: '#/parameters/q.callback'
      - $ref: '#/parameters/q.newsort'
      - $ref: '#/parameters/q.descending'
      - name: qcolumns
        in: query
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/q.p_pretty_print'
      tags:
      - Facility Information
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            type: object
            description: GeoJSON Feature Collection Object
            properties:
              type:
                type: string
                title: Feature Collection
                example: FeatureCollection
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
              features:
                type: array
                title: Features Array
                description: Array of GeoJSON feature objects.
                items:
                  $ref: '#/definitions/cwa09'
            required:
            - type
            - features
    post:
      summary: Clean Water Act (CWA) GeoJSON Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        type: string
        required: false
      - $ref: '#/parameters/f.qid'
      - $ref: '#/parameters/f.callback'
      - $ref: '#/parameters/f.newsort'
      - $ref: '#/parameters/f.descending'
      - name: qcolumns
        in: formData
        description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        type: string
        required: false
      - $ref: '#/parameters/f.p_pretty_print'
      tags:
      - Facility Information
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            type: object
            description: GeoJSON Feature Collection Object
            properties:
              type:
                type: string
                title: Feature Collection
                example: FeatureCollection
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
              features:
                type: array
                title: Features Array
                description: Array of GeoJSON feature objects.
                items:
                  $ref: '#/definitions/cwa09'
            required:
            - type
            - features
  /cwa_rest_services.metadata:
    get:
      summary: Clean Water Act (CWA) Metadata Service
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - name: output
        in: query
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/q.callback'
      tags:
      - Metadata
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/met1'
            required:
            - Results
    post:
      summary: Clean Water Act (CWA) Metadata Service
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - name: output
        in: formData
        description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        type: string
        required: false
      - $ref: '#/parameters/f.callback'
      tags:
      - Metadata
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            type: object
            description: Root Object
            xml:
              name: Root
            properties:
              Results:
                $ref: '#/definitions/met1'
            required:
            - Results
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:3:\"qp0\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Query
  Parameters Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Parameter\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"QP\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Query
  Parameter\";s:7:\"example\";s:6:\"output\";s:11:\"description\";s:15:\"Query parameter\";}s:2:\"QV\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:11:\"Query
  Value\";s:7:\"example\";s:4:\"JSON\";s:11:\"description\";s:11:\"Query value\";}}s:8:\"required\";a:2:{i:0;s:2:\"QP\";i:1;s:2:\"QV\";}}s:5:\"cwa01\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"Facilities
  Object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Facility\";}s:10:\"properties\";O:8:\"stdClass\":302:{s:7:\"CWPName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Facility
  Name\";s:7:\"example\";s:16:\"REDSTONE ARSENAL\";s:11:\"description\";s:60:\"Facility
  or permit holder name, as maintained in ICIS-NPDES.\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:7:\"example\";s:9:\"ALR040033\";s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";}s:9:\"CWPStreet\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Street
  Address\";s:7:\"example\";s:18:\"BUILDING 3240 AREA\";s:11:\"description\";s:23:\"Facility
  street address\";}s:7:\"CWPCity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:4:\"City\";s:7:\"example\";s:10:\"HUNTSVILLE\";s:11:\"description\";s:38:\"City
  in which the facility is located.\";}s:8:\"CWPState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:5:\"State\";s:7:\"example\";s:2:\"AL\";s:11:\"description\";s:49:\"Facility
  location - two-digit state abbreviation.\";}s:16:\"CWPStateDistrict\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"The
  State Congressional District the facility is located within.\";}s:6:\"CWPZip\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:3:\"Zip\";s:7:\"example\";s:5:\"35898\";s:11:\"description\";s:17:\"Facility
  ZIP code\";}s:24:\"MasterExternalPermitNmbr\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"Master
  External Permit Number\";s:11:\"description\";s:98:\"This is the unique identifier
  for the Master General Permit for a General Permit Covered Facility.\";}s:10:\"RegistryID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:6:\"FRS
  ID\";s:7:\"example\";s:12:\"110020837601\";s:11:\"description\";s:144:\"An internal
  12-digit Facility Registry Service (FRS) tracking number used to tie all facility
  data together in EPA regulatory program databases.\";}s:9:\"CWPCounty\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:6:\"County\";s:7:\"example\";s:20:\"District
  of Columbia\";s:11:\"description\";s:40:\"County in which the facility is located.\";}s:12:\"CWPEPARegion\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:10:\"EPA
  Region\";s:7:\"example\";s:2:\"03\";s:11:\"description\";s:134:\"The EPA region
  where the facility is located. EPA has 10 regional offices that execute programs
  within several states and territories.\";}s:20:\"FacFederalAgencyCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:28:\"Facility
  Federal Agency Code\";s:7:\"example\";s:1:\"E\";s:11:\"description\";s:506:\"Indicates
  the federal agency, as classified in FRS. Federal agencies are installations that
  are owned and operated by the U.S. government. The five-character code consists
  of a letter followed by four numbers. There are four possible letters that can occupy
  the first character position: C = Civilian Federal Agency; D = Department of Defense;
  E = Department of Energy; X = Unknown. The second and third characters represent
  the agency code, while the fourth and fifth characters represent the bureau code.\";}s:20:\"FacFederalAgencyName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Federal
  Agency Name\";s:7:\"example\";s:3:\"EPA\";s:11:\"description\";s:150:\"Indicates
  the name of the federal agency, as classified in FRS. Federal agencies are installations
  that are owned and operated by the U.S. government.\";}s:13:\"FacDerivedHuc\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Watershed
  (HUC Code)\";s:7:\"example\";s:6:\"552968\";s:11:\"description\";s:183:\"The 8-digit
  Hydrologic Unit Code (HUC) of the watershed in which the facility resides. A HUC
  number is assigned to every watershed in the nation and uniquely identifies the
  watershed.\";}s:11:\"FacFIPSCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"FIPS
  Code\";s:7:\"example\";s:5:\"55001\";s:11:\"description\";s:118:\"The 2-digit Federal
  Information Processing Standards (FIPS) code to identify the county that a facility
  is located in.\";}s:17:\"FacIndianCntryFlg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:28:\"Facility
  Indian Country Flag\";s:11:\"description\";s:67:\"Flag showing Y/N whether the facility
  is located in Indian Country.\";}s:17:\"CWPIndianCntryFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"In
  Indian Country\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:56:\"Displays
  \"Y\" if a facility is located in Indian country.\";}s:19:\"FacIndianSpatialFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Indian
  Spatial Flag\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:355:\"Returns \u201CY\u201D
  if a facility is located within a tribal spatial boundary as defined by the U.S.
  Census Bureau 2010 tribal boundary layer data for tribes in the lower 48 states
  and Bureau of Land Management Alaska State Office data for native villages in Alaska.
  Returns \u201CN\u201D if a facility is not located within a tribal or native Alaskan
  village area.\";}s:16:\"FacDerivedTRIbes\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"FRS
  Spatially Derived Tribe\";s:7:\"example\";s:15:\"Cherokee Nation\";s:11:\"description\";s:84:\"The
  tribes or tribal territories located within 25 miles of the facility's location.\";}s:17:\"FacUsMexBorderFlg\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Near
  US-Mexico Border\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:80:\"A Y/N flag
  indicating that the facility is within 100KM of the US-Mexico Border.\";}s:11:\"CWPSICCodes\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:8:\"SIC
  Code\";s:7:\"example\";s:4:\"4911\";s:11:\"description\";s:91:\"Indicates the facility's
  or permit's primary Standard Industrial Classification (SIC) Code.\";}s:13:\"CWPNAICSCodes\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:10:\"NAICS
  Code\";s:7:\"example\";s:6:\"236220\";s:11:\"description\";s:104:\"Indicates the
  facility's or permit's primary North American Industry Classification System (NAICS)
  Code.\";}s:6:\"FacLat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:8:\"Latitude\";s:7:\"example\";s:9:\"38.803076\";s:11:\"description\";s:267:\"The
  latitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";}s:7:\"FacLong\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Longitude\";s:7:\"example\";s:10:\"-77.085951\";s:11:\"description\";s:268:\"The
  longitude of the facility in decimal degrees expressed using the NAD83 horizontal
  datum. The coordinate comes from the FRS EPA Locational Reference Tables (LRT) file
  which represents the most accurate value for the facility based on the available
  spatial metadata.\";}s:22:\"CWPTotalDesignFlowNmbr\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"40\";s:11:\"description\";s:97:\"The
  amount of wastewater flow in million gallons per day (MGD) that the facility is
  designed for.\";}s:24:\"CWPActualAverageFlowNmbr\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"448\";s:11:\"description\";s:94:\"The
  actual amount of the facility's wastewater flow measured in million gallons per
  day (MGD).\";}s:24:\"CWPFacilityTypeIndicator\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Facility
  Type\";s:7:\"example\";s:8:\"NON-POTW\";s:11:\"description\";s:179:\"Each National
  Pollutant Discharge Elimination System (NPDES) permit is defined by the program
  office as a Major or non-major discharger. This field also indicates the permit
  type.\";}s:23:\"BioReportingObligations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Indicates
  the reporting obligation reason.\";}s:9:\"DschToMs4\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Discharging
  to MS4\";s:11:\"description\";s:87:\"Indicates\_if a facility discharges into a
  Municipal Separate Storm Sewer System (MS4).\";}s:16:\"ReceivingMs4Name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Receiving
  MS4 Name\";s:11:\"description\";s:41:\"This is the name of the receiving MS4(s).\";}s:14:\"StormWaterArea\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:39:\"Est.
  Area Exposed to Stormwater (Acres)\";s:11:\"description\";s:85:\"The estimated area
  of industrial activity at the site exposed to stormwater in acres.\";}s:21:\"HistoricCriterionCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:31:\"Historic
  Preservation Criterion\";s:11:\"description\";s:72:\"Indicates the eligibility criteria
  for historic properties preservation.\";}s:26:\"SpeciesCriticalHabitalFlag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"This
  identifies if Endangered Species Act (ESA) provisions are met.\";}s:8:\"SwpppUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Web
  address URL of Internet page where current copy of Stormwater Pollution Prevention
  Plan (SWPPP) is maintained.\";}s:15:\"ExposedActivity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Description
  of onsite industrial activities exposed to stormwater and potential spill and leak
  areas.\";}s:19:\"AssociatedPollutant\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"Description
  of pollutant(s) or pollutant constituent(s) associated with each industrial activity
  exposed to stormwater.\";}s:14:\"ControlMeasure\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Control
  Measure\";s:11:\"description\";s:139:\"Description of control measures employed
  to comply with the non-numeric technology-based effluent limits required in Part
  2.1.2 and Part 8.\";}s:22:\"ControlMeasureSchedule\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Control
  Measure Schedule\";s:11:\"description\";s:95:\"Description of schedule for control
  measures associated with good housekeeping and maintenance.\";}s:16:\"TypeOfMonitoring\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Type
  Of Monitoring\";s:11:\"description\";s:46:\"The type of monitoring specified in
  the SWPPP.\";}s:11:\"TypeOfWater\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:13:\"Type
  Of Water\";s:11:\"description\";s:89:\"The type of water body receiving discharges
  stormwater discharges specified in the SWPPP.\";}s:14:\"EjscreenFlagUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"EJ
  Screen Flag (US)\";s:11:\"description\";s:96:\"A Y/N indicator identifying whether
  or not the facility is within an Environmental Justice area.\";}s:13:\"Over80CountUs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"EJ
  Indexes Above 80th Percentile\";s:7:\"example\";s:1:\"3\";s:11:\"description\";s:174:\"The
  number of primary EJSCREEN environmental justice (EJ) indexes exceeding the 80th
  or higher national percentile for the Census block group that the facility is located
  in.\";}s:18:\"PctilePctpre1960Us\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"14.6\";s:11:\"description\";s:88:\"The
  national percentile of the census block group for the EJSCREEN Lead paint indicator.\";}s:11:\"PctileDpmUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"99\";s:11:\"description\";s:103:\"The
  national percentile of the census block group for the EJSCREEN diesel particulate
  matter indicator.\";}s:14:\"PctileCancerUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"99\";s:11:\"description\";s:105:\"The
  national percentile of the census block group for the EJSCREEN NATA air toxics cancer
  risk indicator.\";}s:12:\"PctileRespUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"99\";s:11:\"description\";s:107:\"The
  national percentile of the census block group for the EJSCREEN NATA respiratory
  hazard index indicator.\";}s:20:\"PctileTrafficScoreUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"92\";s:11:\"description\";s:106:\"The
  national percentile of the census block group for the EJSCREEN Traffic proximity
  and volume indicator.\";}s:22:\"PctileProximityNPDESUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"23.7\";s:11:\"description\";s:121:\"The
  national percentile of the census block group for the EJSCREEN proximity to major
  direct water dischargers indicator.\";}s:20:\"PctileProximityNplUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"96\";s:11:\"description\";s:127:\"The
  national percentile of the census block group for the EJSCREEN proximity to National
  Priorities List (NPL) sites indicator.\";}s:20:\"PctileProximityRmpUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"91\";s:11:\"description\";s:123:\"The
  national percentile of the census block group for the EJSCREEN proximity to Risk
  Management Plan (RMP) sites indicator.\";}s:21:\"PctileProximityTsdfUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"82\";s:11:\"description\";s:140:\"The
  national percentile of the census block group for the EJSCREEN proximity to Treatment
  Storage and Disposal Facilities (TSDFs) indicator.\";}s:10:\"PctileO3Us\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"94\";s:11:\"description\";s:83:\"The
  national percentile of the census block group for the EJSCREEN ozone indicator.\";}s:10:\"PctilePmUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"93\";s:11:\"description\";s:96:\"The
  national percentile of the census block group for the EJSCREEN particulate matter
  indicator.\";}s:9:\"FacPopDen\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"Facility
  Population Density\";s:7:\"example\";s:7:\"6716.34\";s:11:\"description\";s:200:\"The
  number of persons per square mile in the area being profiled. This field is the
  ratio of total persons (displayed in the Total Persons field) to total land area
  (displayed in the Land Area field).\";}s:18:\"FacPercentMinority\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Facility
  Percent Minority\";s:7:\"example\";s:6:\"45.379\";s:11:\"description\";s:174:\"Percent
  Minority is the percentage of the population of the given area that is considered
  minority. Statistics are shown for the area within a 3-mile radius of each facility.\";}s:6:\"Sector\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:6:\"Sector\";s:7:\"example\";s:29:\"N:
  Scrap Recycling Facilities\";s:11:\"description\";s:71:\"The sector code and description
  for the industrial stormwater facility.\";}s:9:\"Subsector\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:9:\"Subsector\";s:11:\"description\";s:54:\"The
  industrial subsector associated with the facility.\";}s:14:\"MsgpPermitType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:16:\"MSGP
  Permit Type\";s:7:\"example\";s:3:\"NOI\";s:11:\"description\";s:38:\"The Industrial
  stormwater permit type.\";}s:14:\"CWPVersionNmbr\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Permit
  Version Number\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:50:\"The version
  number of the facility's NPDES permit.\";}s:19:\"CWPPermitStatusDesc\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Permit
  Status Description\";s:7:\"example\";s:9:\"Effective\";s:11:\"description\";s:56:\"The
  current stage/status in the NPDES permit life cycle.\";}s:13:\"IssuingAgency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Permit
  Issuing Agency\";s:11:\"description\";s:66:\"This is the name of the organization
  issuing or granting a permit.\";}s:13:\"SubmittedDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:14:\"Submitted
  Date\";s:11:\"description\";s:57:\"Date that the permit was submitted to the issuing
  agency.\";}s:17:\"CWPPermitTypeDesc\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"Permit
  Type Description\";s:7:\"example\";s:31:\"General Permit Covered Facility\";s:11:\"description\";s:283:\"NPDES
  facility permit classification:\n- NPDES Individual Permit\n- General Permit Covered
  Facility\n- NPDES Master General Permit\n- Associated Permit Record\n- Individual
  Industrial User Permit\n- Individual State Issued Permit\n- State Issued Master
  General Permit\n- Unpermitted Facility\";}s:12:\"CWPIssueDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Permit
  Issue Date\";s:7:\"example\";s:10:\"11/10/2015\";s:11:\"description\";s:45:\"Date
  (MM/DD/YYYY) that the permit was issued.\";}s:16:\"CWPEffectiveDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:21:\"Permit
  Effective Date\";s:7:\"example\";s:10:\"01/14/2009\";s:11:\"description\";s:51:\"Date
  (MM/DD/YYYY) that the permit became effective.\";}s:18:\"CWPTerminationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"Permit
  Termination Date\";s:11:\"description\";s:49:\"Date (MM/DD/YYYY) that the permit
  was terminated.\";}s:17:\"CWPExpirationDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Date
  of Permit Expiration\";s:7:\"example\";s:10:\"04/19/2005\";s:11:\"description\";s:29:\"Date
  that the permit expires.\";}s:23:\"CWPMajorMinorStatusFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"Major/Minor
  Status Flag\";s:7:\"example\";s:1:\"N\";s:11:\"description\";s:87:\"Facilities marked
  \"M\" for major refers to CWA major permittees.\n- M = Major\n- N = Minor\";}s:16:\"PermitComponents\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Permit
  Components\";s:7:\"example\";s:4:\"POTW\";s:11:\"description\";s:80:\"Indicates
  the permit component(s) associated with the NPDES Permit Program Area.\";}s:20:\"NPDESDataGroupsDescs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:35:\"NPDES
  Data Group Codes Descriptions\";s:11:\"description\";s:95:\"Description for each
  NPDES Data Group eReporting rule code related to the current NPDES permit.\";}s:18:\"MsgpLastReportYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"MSGP
  Latest Annual Report Year\";s:11:\"description\";s:87:\"The calendar year of the
  latest MSGP annual report submitted by the permitted facility.\";}s:24:\"MsgpFacilityInspctnSmmry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"MSGP
  Facility Inspection Summary\";s:11:\"description\";s:119:\"Summary of the quarterly
  facility inspection documentation (part 3.1 of the permit) during the MSGP annual
  report year.\";}s:25:\"MsgpVisualAssessmentSmmry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"MSGP
  Visual Assessment Summary\";s:11:\"description\";s:117:\"Summary of the quarterly
  visual assessment documentation (part 3.3 of the permit) during the MSGP annual
  report year.\";}s:23:\"MsgpNoFurtherRdctnRtnle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"MsgpNoFurtherRdctnRtnle\";s:11:\"description\";s:134:\"Description
  of rationale for why no further reductions are achievable (part 6.2.1.2 of the permit)
  during the MSGP annual report year.\";}s:25:\"MsgpCorrectiveActionSmmry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"MSGP
  Corrective Action Summary\";s:11:\"description\";s:107:\"Summary of the corrective
  action documentation (part 4.3 of the permit) during the MSGP annual report year.\";}s:6:\"AIRIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:22:\"AIR
  Facility System ID\";s:7:\"example\";s:18:\"DC0000001100195254\";s:11:\"description\";s:29:\"Air
  Facility System (AFS) ID.\";}s:8:\"NPDESIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"ICS-NPDES
  Clean Water Act Identifier\";s:11:\"description\";s:131:\"Clean Water Act ID from
  the ICIS-NPDES (Integrated Compliance Information System - National Pollutant Discharge
  Elimination System)\";}s:7:\"RCRAIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"Resource
  Conservation and Recovery Act IDs\";s:7:\"example\";s:12:\"VAD981111784\";s:11:\"description\";s:100:\"A
  unique 12-character ID assigned for each record/permit/site/facility within the
  RCRAInfo database.\";}s:7:\"SDWAIDs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"DC0000001\";s:11:\"description\";s:120:\"A
  unique 9-character ID assigned for each public water system within the Safe Drinking
  Water Information System (SDWIS).\";}s:6:\"TRIIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"Toxics
  Release Inventory Program IDs\";s:7:\"example\";s:15:\"20011FRTTT5001F\";s:11:\"description\";s:281:\"A
  unique 15-character ID assigned for each facility within the Toxics Release Inventory
  (TRI) program. The format is ZZZZZNNNNNSSSSS, where ZZZZZ = ZIP code, NNNNN = the
  first 5 consonants of the name, and SSSSS = the first 5 non-blank non-special characters
  in the street address.\";}s:6:\"RmpIDs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:7:\"RMP
  IDs\";s:7:\"example\";s:6:\"110000\";s:11:\"description\";s:115:\"A unique ID assigned
  to each facility submitting a Risk Management Plan to EPA under the Risk Management
  Plan Rule.\";}s:18:\"BioVioLastYearFlag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"Biosolids
  Violation in Last Year\";s:7:\"example\";s:1:\"N\";s:11:\"description\";s:302:\"Y
  if the facility has a biosolids single event violation under the Clean Water Act
  in the last year. Note: Violations reported on the 2016 and 2017 Biosolids Annual
  Report are not updated with the weekly data refresh and may not be representative
  of a facility's recently submitted or updated report.\_\";}s:14:\"BioQtrsWithVio\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:47:\"Quarters
  with Violation for Biosolids (3 years)\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:138:\"Count
  of the number of quarters, out of the last twelve quarters, in which the permit
  or site is considered with violations for biosolids.\";}s:9:\"CWPStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"Current
  Compliance Status\";s:7:\"example\";s:12:\"No Violation\";s:11:\"description\";s:149:\"An
  indication of the facility's current compliance status under the Clean Water Act:\n-
  Significant Violation\n- Noncompliance\n- No Violation\n- Unknown\";}s:12:\"CWPSNCStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:38:\"Significant
  Noncompliance (SNC) Status\";s:11:\"description\";s:117:\"Indicates when a major
  source is in significant noncompliance (SNC) or a non-major source has a Category
  I violation.\";}s:16:\"CWPSNCStatusDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"SNC
  Status Date\";s:7:\"example\";s:10:\"09/30/2018\";s:11:\"description\";s:72:\"The
  status date of the facility's Significant Noncompliance designation.\";}s:13:\"CWPQtrsWithNC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"Quarters
  with Noncompliance (3 years)\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:244:\"Count
  of the number of quarters, out of the last twelve quarters, in which the permit
  or site is considered either with violations, in noncompliance (NC) status, or in
  Significant Noncompliance (SNC), as described above under Compliance Status.\";}s:13:\"CWPViolStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Current
  Violation Status\";s:7:\"example\";s:2:\"No\";s:11:\"description\";s:136:\"Indicates
  if the facility is currently in any violation under the Clean Water Act, either
  in Noncompliance or Significant Noncompliance.\";}s:14:\"CWPQtrsWithSNC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"Quarters
  with SNC (3 years)\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:179:\"Count
  of the number of quarters, out of the last twelve quarters, in which the permit
  is considered in Significant Noncompliance (SNC), as described above under Compliance
  Status.\";}s:11:\"MissDMRQtrs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:48:\"Qtrs
  in Undetermined Compliance Status (2 years)\";s:11:\"description\";s:156:\"Count
  of the number of quarters, out of the last twelve quarters, in which EPA's data
  system was not able to determine the facility-level compliance status.\";}s:9:\"CWPE90Cnt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"Effluent
  Violations (5 yrs)\";s:7:\"example\";s:1:\"5\";s:11:\"description\";s:194:\"Displays
  the number of instances where effluent limits have been exceeded in the past 3 years
  (E90 compliance code), based on monthly Discharge Monitoring Reports (DMRs) submitted
  by facilities.\";}s:21:\"CWPComplianceTracking\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"On\";s:11:\"description\";s:103:\"Extent
  to which data is being entered and effluent exceedances are being identified (Off,
  On, Partial).\";}s:14:\"AlrExceedences\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"Alert
  Limit Exceedences\";}s:13:\"BioReportYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  calendar year corresponding to the Annual Biosolids Report.\";}s:18:\"CWPInspectionCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:19:\"Inspections
  (5 yrs)\";s:7:\"example\";s:1:\"4\";s:11:\"description\";s:136:\"The number of inspections/compliance
  evaluations, under the corresponding statute, occurring at the facility within the
  last five years.\";}s:21:\"CWPDaysLastInspection\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"247\";s:11:\"description\";s:78:\"Indicates
  the number of days since the most recent inspection of the facility.\";}s:21:\"CWPDateLastInspection\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"Date
  of Last Inspection\";s:7:\"example\";s:10:\"07/29/2015\";s:11:\"description\";s:153:\"The
  date on which the most recent inspection of the facility took place. For the CAA,
  the date on which a Full Compliance Evaluation (FCE) was completed.\";}s:18:\"CWPDateLastInspEPA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"07/29/2015\";s:11:\"description\";s:86:\"Indicates
  the effective date of the most recent inspection taken against the facility.\";}s:17:\"CWPDateLastInspSt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"09/15/2004\";s:11:\"description\";s:118:\"Indicates
  the effective date of the most recent inspection taken against the facility by a
  state environmental agency.\";}s:15:\"CWPBioInspCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"The
  count of Biosolids related Inspections that have occured for the facility.\";}s:18:\"CWPDaysLastBioInsp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"Indicates
  the number of days since the most recent Biosolids related inspection of the facility.\";}s:18:\"CWPDateLastBioInsp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:33:\"Date
  of Last Biosolids Inspection\";s:11:\"description\";s:90:\"The date on which the
  most recent biosolids program inspection of the facility took place.\";}s:21:\"CWPDateLastBioInspEPA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:39:\"Date
  of Last Biosolids Inspection (EPA)\";s:11:\"description\";s:40:\"Indicate the last
  inspection date by EPA\";}s:20:\"CWPDateLastBioInspSt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:41:\"Date
  of Last Biosolids Inspection (State)\";s:11:\"description\";s:63:\"Indicate the
  last inspection date by state environmental agency\";}s:22:\"CWPInformalEnfActCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:39:\"Information
  Enforcement Actions (5 yrs)\";s:7:\"example\";s:1:\"3\";s:11:\"description\";s:142:\"Indicates
  the total number of informal enforcement actions/notices of violations (NOVs) taken
  against the facility within the last five years.\";}s:14:\"CWPFormalEaCnt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:216:\"Indicates
  the total number of enforcement actions taken against the facility within the last
  five years. \"NA\" indicates that this measure is not applicable for facilities
  with no associated CAA, CWA, or RCRA permits.\";}s:21:\"CWPDateLastInformalEa\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"Date
  of Last Informal Enf Action\";s:7:\"example\";s:10:\"06/09/2013\";s:11:\"description\";s:110:\"Indicates
  the effective date of the most recent listed informal enforcement action taken against
  the facility.\";}s:17:\"CWPDateLastIeaEPA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"12/09/1992\";s:11:\"description\";s:117:\"Indicates
  the effective date of the most recent listed informal enforcement action taken against
  the facility by EPA.\";}s:16:\"CWPDateLastIeaSt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"06/09/2013\";s:11:\"description\";s:142:\"Indicates
  the effective date of the most recent listed informal enforcement action taken against
  the facility by a state environmental agency.\";}s:14:\"CWPDateLastFea\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"06/01/2006\";s:11:\"description\";s:108:\"Indicates
  the effective date of the most recent listed formal enforcement action taken against
  the facility.\";}s:17:\"CWPDateLastFeaEPA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"06/01/2006\";s:11:\"description\";s:115:\"Indicates
  the effective date of the most recent listed formal enforcement action taken against
  the facility by EPA.\";}s:16:\"CWPDateLastFeaSt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"09/27/2010\";s:11:\"description\";s:140:\"Indicates
  the effective date of the most recent listed formal enforcement action taken against
  the facility by a state environmental agency.\";}s:14:\"CWPBioIeaCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"The
  count of Biosolids related Informal Enforcement Actions that have been taken against
  the Facility.\";}s:14:\"CWPBioFeaCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"The
  count of Biosolids related Formal Enforcement Actions that have been taken against
  the Facility.\";}s:17:\"CWPDateLastBioIea\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:35:\"Date
  Last Biosolids Informal Action\";s:11:\"description\";s:147:\"Indicates the effective
  date of the most recent listed biosolids informal enforcement action taken against
  the facility within the last five years.\";}s:20:\"CWPDateLastBioIeaEPA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"Date
  Last  Biosolids Informal Action (EPA)\";s:11:\"description\";s:154:\"Indicates the
  effective date of the most recent listed biosolids informal enforcement action taken
  against the facility by EPA within the last five years.\";}s:19:\"CWPDateLastBioIeaSt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:43:\"Date
  Last Biosolids Informal Action (State)\";s:11:\"description\";s:179:\"Indicates
  the effective date of the most recent listed biosolids informal enforcement action
  taken against the facility by a state environmental agency within the last five
  years.\";}s:17:\"CWPDateLastBioFea\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:33:\"Date
  Last Biosolids Formal Action\";s:11:\"description\";s:145:\"Indicates the effective
  date of the most recent listed biosolids formal enforcement action taken against
  the facility within the last five years.\";}s:20:\"CWPDateLastBioFeaEPA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:39:\"Date
  Last Biosolids Formal Action (EPA)\";s:11:\"description\";s:142:\"Indicates the
  effective date of the most recent listed formal enforcement action taken against
  the facility by EPA within the last five years.\";}s:19:\"CWPDateLastBioFeaSt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:41:\"Date
  Last Biosolids Formal Action (State)\";s:11:\"description\";s:167:\"Indicates the
  effective date of the most recent listed formal enforcement action taken against
  the facility by a state environmental agency within the last five years.\";}s:15:\"CWPBioPenalties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"The
  total amount of Biosolids related penalties that have been assessed against the
  facility.\";}s:21:\"CWPDateLastBioPenalty\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"Date
  of Last Biosolids Penalty\";s:11:\"description\";s:236:\"Indicates the date on which
  the most recent assessed (or final) biosolids penalty was taken against the facility
  within the last five years. This measure only includes penalties that have been
  entered in the program database ICIS-NPDES.\";}s:14:\"BioReportYears\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"Biosolids
  Annual Report\";s:11:\"description\";s:119:\"Reporting years are determined by the
  year of the reporting period end date. Data reflect the last two reporting years.\";}s:27:\"BioReportingObligations2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Indicates
  the reporting obligation reason.\";}s:17:\"BioTotalVolumeAmt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"The
  amount (in dry metric tons) of biosolids or sewage sludge generated at the facility.\";}s:21:\"BioTotalVolumeAmt2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"The
  amount (in dry metric tons) of biosolids or sewage sludge generated at the facility.\";}s:21:\"BioLandApplicationSum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  amount (dry metric tons) of biosolids land applied.\";}s:25:\"BioLandApplicationSum2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  amount (dry metric tons) of biosolids land applied.\";}s:17:\"BioSurfaceDispSum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  amount of surface disposal in dry metric tons (DMT).\";}s:21:\"BioSurfaceDispSum2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  amount of surface disposal in dry metric tons (DMT).\";}s:18:\"BioIncinerationSum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  amount (dry metric tons) of biosolids incinerated.\";}s:22:\"BioIncinerationSum2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  amount (dry metric tons) of biosolids incinerated.\";}s:21:\"BioOtherManagementSum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"The
  amount (dry metric tons) of biosolids managed using methods not previously described.\";}s:25:\"BioOtherManagementSum2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"The
  amount (dry metric tons) of biosolids managed using methods not previously described.\";}s:18:\"BioTrtmntProcesses\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"Identifies
  the biosolids or sewage sludge treatment process or processes at the facility.\";}s:22:\"BioTrtmntProcesses2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"Identifies
  the biosolids or sewage sludge treatment process or processes at the facility.\";}s:23:\"BioTrtmntPrcssCmmntTxts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Free
  text additional description of \"other\" biotreatment processes.\";}s:25:\"BioTrmntPrcssCmntTxts2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Free
  text additional description of \"other\" biotreatment processes.\";}s:21:\"BioAnalyMethodCatgrys\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"Displays
  the categories of the analytic methods used by the facility to analyze regulated
  parameters at the facility.\";}s:25:\"BioAnalyMethodCatgrys2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"Displays
  the categories of the analytic methods used by the facility to analyze regulated
  parameters at the facility.\";}s:15:\"BioAnalyMethods\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:201:\"Displays
  the analytic methods used by the facility to analyze enteric viruses, fecal coliforms,
  helminth ova, Salmonella sp., and other regulated parameters as reported on the
  Biosolids Program Report.\";}s:19:\"BioAnalyMethods2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:201:\"Displays
  the analytic methods used by the facility to analyze enteric viruses, fecal coliforms,
  helminth ova, Salmonella sp., and other regulated parameters as reported on the
  Biosolids Program Report.\";}s:18:\"BioMgmtPrctceTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:137:\"The
  type of biosolids or sewage sludge management practice (e.g., land application,
  surface disposal, incineration) used by the facility.\";}s:22:\"BioMgmtPrctceTypes2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:137:\"The
  type of biosolids or sewage sludge management practice (e.g., land application,
  surface disposal, incineration) used by the facility.\";}s:21:\"BioOtherMgmtPrctcTxts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Free
  text additional description of \"other\" Biosolids Management Practices.\";}s:25:\"BioOtherMgmtPrctcTxts2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Free
  text additional description of \"other\" Biosolids Management Practices.\";}s:19:\"BioMgmtPrctceStypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"Additional
  detail about the type of Management Practice used for an amount of Biosolids or
  Sewage Sludge.\";}s:23:\"BioMgmtPrctceStypes2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"Additional
  detail about the type of Management Practice used for an amount of Biosolids or
  Sewage Sludge.\";}s:15:\"BioMgmtHandlers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"Indicates
  the type of Biosolids or Sewage Sludge handlers/preparers, either owner/operator
  or off-site third-party handler/preparer.\";}s:19:\"BioMgmtHandlers2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"Indicates
  the type of Biosolids or Sewage Sludge handlers/preparers, either owner/operator
  or off-site third-party handler/preparer.\";}s:17:\"BioMgmtContainers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:233:\"Identifies
  the nature of each biosolids and sewage sludge material generated by the facility
  in terms of whether the material is a biosolid or sewage sludge and whether the
  material is ultimately conveyed off-site in bulk or in bags.\";}s:21:\"BioMgmtContainers2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:233:\"Identifies
  the nature of each biosolids and sewage sludge material generated by the facility
  in terms of whether the material is a biosolid or sewage sludge and whether the
  material is ultimately conveyed off-site in bulk or in bags.\";}s:16:\"BioMgmtPathogens\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"Identifies
  the pathogen class for biosolids or sewage sludge generated by the facility.\";}s:20:\"BioMgmtPathogens2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"Identifies
  the pathogen class for biosolids or sewage sludge generated by the facility.\";}s:15:\"BioMgmtPathreds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Identifies
  the options used by the facility to control pathogens for a Biosolids Management
  Practice.\";}s:19:\"BioMgmtPathreds2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Identifies
  the options used by the facility to control pathogens for a Biosolids Management
  Practice.\";}s:14:\"BioMgmtVectors\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Identifies
  the option used by the facility for vector attraction reduction.\";}s:18:\"BioMgmtVectors2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Identifies
  the option used by the facility for vector attraction reduction.\";}s:14:\"BioCommentText\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Free
  text allowing the user to provide comments on the annual program report.\";}s:18:\"BioCommentText2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Free
  text allowing the user to provide comments on the annual program report.\";}s:13:\"BioReportDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  date the report was received by EPA.\";}s:17:\"BioReportDate2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  date the report was received by EPA.\";}s:20:\"BioMgmtDefCurrentCnt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"The
  number of times noncompliance reported by the facility in the last 3 years.\";}s:24:\"BioMgmtDefCurrentCnt2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"The
  number of times noncompliance reported by the facility in the last 3 years.\";}s:20:\"BioMgmtDefCategories\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"Indicates
  the program deficiency category to assist in reporting and displaying program deficiencies
  on web screens.\";}s:24:\"BioMgmtDefCategories2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"Indicates
  the program deficiency category to assist in reporting and displaying program deficiencies
  on web screens.\";}s:19:\"BioMgmtDeficiencies\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Indicates
  the type of NPDES special regulatory program deficiency.\";}s:23:\"BioMgmtDeficiencies2016\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Indicates
  the type of NPDES special regulatory program deficiency.\";}s:12:\"BioVioStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:31:\"Biosolids
  Violation Status Flag\";s:7:\"example\";s:1:\"0\";s:11:\"description\";s:118:\"A
  value of 1 indicates if the Biosolids facility currently has an unresolved biosolids
  related Single Event Violation.\";}s:11:\"BioViolFlag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Displays
  \"Yes\" if the facility is in violation for biosolids under the Clean Water Act,
  in the last three years.\";}s:14:\"BioVioLastYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"A
  flag (values of 1 for Yes, 0 for No) that a Bisolids Violation occurred in the last
  4 quarters.\";}s:27:\"BioReportingObligations2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Indicates
  the reporting obligation reason.\";}s:21:\"BioTotalVolumeAmt2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"The
  amount (in dry metric tons) of biosolids or sewage sludge generated at the facility.\";}s:25:\"BioLandApplicationSum2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  amount (dry metric tons) of biosolids land applied.\";}s:21:\"BioSurfaceDispSum2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  amount of surface disposal in dry metric tons (DMT).\";}s:22:\"BioIncinerationSum2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  amount (dry metric tons) of biosolids incinerated.\";}s:25:\"BioOtherManagementSum2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"The
  amount (dry metric tons) of biosolids managed using methods not previously described.\";}s:22:\"BioTrtmntProcesses2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"Identifies
  the biosolids or sewage sludge treatment process or processes at the facility.\";}s:25:\"BioTrmntPrcssCmntTxts2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Free
  text additional description of \"other\" biotreatment processes.\";}s:25:\"BioAnalyMethodCatgrys2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"Displays
  the categories of the analytic methods used by the facility to analyze regulated
  parameters at the facility.\";}s:19:\"BioAnalyMethods2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:201:\"Displays
  the analytic methods used by the facility to analyze enteric viruses, fecal coliforms,
  helminth ova, Salmonella sp., and other regulated parameters as reported on the
  Biosolids Program Report.\";}s:25:\"BioOtherMgmtPrctcTxts2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Free
  text additional description of \"other\" Biosolids Management Practices.\";}s:22:\"BioMgmtPrctceTypes2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:137:\"The
  type of biosolids or sewage sludge management practice (e.g., land application,
  surface disposal, incineration) used by the facility.\";}s:23:\"BioMgmtPrctceStypes2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"Additional
  detail about the type of Management Practice used for an amount of Biosolids or
  Sewage Sludge.\";}s:19:\"BioMgmtHandlers2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"Indicates
  the type of Biosolids or Sewage Sludge handlers/preparers, either owner/operator
  or off-site third-party handler/preparer.\";}s:21:\"BioMgmtContainers2017\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:233:\"Identifies
  the nature of each biosolids and sewage sludge material generated by the facility
[...]
