---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US
  EPA, OECA Integration, Targeting and Access Branch\";}s:11:\"description\";s:1678:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use.\nECHO provides integrated
  compliance and enforcement information for about 800,000 regulated facilities nationwide.\n<BR><BR>EFF
  Rest Services provides the data for ECHO's Effluent Charts, a set of dynamic charts
  and tables of permitted effluent limits, releases, and violations over time for
  \nClean Water Act (CWA) wastewater discharge permits issued under the National Pollutant
  Discharge Elimination System (NPDES).  See Effluent Charts Help (https://echo.epa.gov/help/reports/effluent-charts-help)
  for additional information.\n<BR><BR>\nThe are 3 service end points for Efffluent
  Charts:  get_summary_chart, get_effluent_chart, and download_effluent_chart.\n<br>\n<br><b>1)</b>
  \ Use get_summary_chart to retrieve a summary matrix of effluent parameters by effluent
  outfall and an overall violation status for a provided NPDES Permit and date range.\n<br><b>2)</b>
  \ Use get_effluent_chart to retrieve detailed Discharge Limit, DMR and NPDES Violation
  information for a provided NPDES Permit, date range, effluent paramater, or outfall.\n<br><b>3)</b>
  \ Use download_effluent_chart to generate a Comma Separated Value (CSV) file of
  the detailed data provided with get_effluent chart, for a provided NPDES Permit,
  date range, effluent paramater, or outfall.\n<br>\n<br>\nAdditional ECHO Resources:
  \  <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About
  ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n<br>\n\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:5:\"title\";s:91:\"U.S.
  EPA Enforcement and Compliance History Online (ECHO) - Effluent Charting and Reporting\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:62:\"https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=EFF\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"epa.gov\";s:13:\"x-serviceName\";s:3:\"eff\";}"
host: ofmpub.epa.gov
basePath: /echo
paths:
  /eff_rest_services.download_effluent_chart:
    get:
      description: Downloads tabular Discharge Monitoring Report (DMR) and compliance
        data for one NPDES permit as a CSV.
      parameters:
      - $ref: '#/parameters/p_id'
      - $ref: '#/parameters/outfall'
      - $ref: '#/parameters/parameter_code'
      - $ref: '#/parameters/start_date'
      - $ref: '#/parameters/end_date'
      responses:
        200:
          description: Returns an object with summary effluent information
          schema:
            type: file
      summary: Effluent Charts Download Service
      tags:
      - Effluent Charts
    post:
      description: Downloads tabular Discharge Monitoring Report (DMR) and compliance
        data for one NPDES permit as a CSV.
      parameters:
      - $ref: '#/parameters/p_id'
      - $ref: '#/parameters/outfall'
      - $ref: '#/parameters/parameter_code'
      - $ref: '#/parameters/start_date'
      - $ref: '#/parameters/end_date'
      responses:
        200:
          description: Returns an object with summary effluent information
          schema:
            type: file
      summary: Effluent Charts Download Service
      tags:
      - Effluent Charts
  /eff_rest_services.get_effluent_chart:
    get:
      description: Discharge Monitoring Report (DMR) data supporting each effluent
        chart for one NPDES permit. Includes Discharge Monitoring Reports and NPDES
        Violations. nn
      parameters:
      - $ref: '#/parameters/p_id'
      - $ref: '#/parameters/outfall'
      - $ref: '#/parameters/parameter_code'
      - $ref: '#/parameters/start_date'
      - $ref: '#/parameters/end_date'
      - $ref: '#/parameters/output'
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Returns an object with detailed effluent information
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/eff1_Results'
            required:
            - Results
            type: object
      summary: Detailed Effluent Chart Service
      tags:
      - Effluent Charts
    post:
      description: Discharge Monitoring Report (DMR) data supporting each effluent
        chart for one NPDES permit. Includes Discharge Monitoring Reports and NPDES
        Violations. nn
      parameters:
      - $ref: '#/parameters/p_id'
      - $ref: '#/parameters/outfall'
      - $ref: '#/parameters/parameter_code'
      - $ref: '#/parameters/start_date'
      - $ref: '#/parameters/end_date'
      - $ref: '#/parameters/output'
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Returns an object with detailed effluent information
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/eff1_Results'
            required:
            - Results
            type: object
      summary: Detailed Effluent Chart Service
      tags:
      - Effluent Charts
  /eff_rest_services.get_summary_chart:
    get:
      description: Summary of compliance status each outfall and parameter for one
        NPDES permit. Provides the current compliance status and overall compliance
        status for the date range of interest. This service supports the Summary Matrix
        on the Effluent Charts.
      parameters:
      - $ref: '#/parameters/p_id'
      - $ref: '#/parameters/output'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/start_date'
      - $ref: '#/parameters/end_date'
      responses:
        200:
          description: Returns an object with summary effluent information
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/eff2_Results'
            required:
            - Results
            type: object
      summary: Summary Effluent Chart Service
      tags:
      - Effluent Charts
    post:
      description: Summary of compliance status each outfall and parameter for one
        NPDES permit. Provides the current compliance status and overall compliance
        status for the date range of interest. This service supports the Summary Matrix
        on the Effluent Charts.
      parameters:
      - $ref: '#/parameters/p_id'
      - $ref: '#/parameters/output'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/start_date'
      - $ref: '#/parameters/end_date'
      responses:
        200:
          description: Returns an object with summary effluent information
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/eff2_Results'
            required:
            - Results
            type: object
      summary: Summary Effluent Chart Service
      tags:
      - Effluent Charts
  /rest_lookups.cwa_parameters:
    get:
      description: Look up Clean Water Act parameter codes and descriptions in the
        Integrated Compliance Information System - National Pollutant Discharge Elimination
        System (ICIS-NPDES) by code or term.
      parameters:
      - $ref: '#/parameters/output'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of parameter codes and descriptions that contain
            the search_term or search_code entered. If search term or search code
            not provided, returns all values. ValueCode is the 5-digit parameter code.nValueDescription
            is the parameter description.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk16_Results'
            required:
            - Results
            type: object
      summary: ECHO CWA Parameter Lookup Service
      tags:
      - Lookups
    post:
      description: Look up Clean Water Act parameter codes and descriptions in the
        Integrated Compliance Information System - National Pollutant Discharge Elimination
        System (ICIS-NPDES) by code or term.
      parameters:
      - $ref: '#/parameters/output'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of parameter codes and descriptions that contain
            the search_term or search_code entered. If search term or search code
            not provided, returns all values. ValueCode is the 5-digit parameter code.nValueDescription
            is the parameter description.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk16_Results'
            required:
            - Results
            type: object
      summary: ECHO CWA Parameter Lookup Service
      tags:
      - Lookups
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:31:\"eff1_DischargeMonitoringReports\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Discharge
  Monitoring Reports Object\";s:10:\"properties\";O:8:\"stdClass\":41:{s:10:\"DMREventId\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  sequence ID identifying the DMR Event.\";s:7:\"example\";s:10:\"3403602486\";s:5:\"title\";s:12:\"DMR
  Event ID\";s:4:\"type\";s:6:\"string\";}s:14:\"DMRFormValueId\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  sequence ID identifying the DMR Form Value.\";s:7:\"example\";s:10:\"3444464127\";s:5:\"title\";s:17:\"Measured
  Value ID\";s:4:\"type\";s:6:\"string\";}s:11:\"DMRUnitCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:132:\"The
  code representing the unit of measure applicable to quantity or concentration limits
  and measurements as entered into ICIS-NPDES\";s:7:\"example\";s:2:\"19\";s:5:\"title\";s:24:\"Measured
  Value Unit Code\";s:4:\"type\";s:6:\"string\";}s:11:\"DMRUnitDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"The
  short description of the unit of measure applicable to limit or DMR values\";s:7:\"example\";s:4:\"mg/L\";s:5:\"title\";s:19:\"Measured
  Value Unit\";s:4:\"type\";s:6:\"string\";}s:10:\"DMRValueId\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  unique identifier for the DMR value generated in ICIS-NPDES\";s:7:\"example\";s:10:\"3420340252\";s:5:\"title\";s:17:\"Measured
  Value ID\";s:4:\"type\";s:6:\"string\";}s:12:\"DMRValueNmbr\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  DMR value number reported on the DMR Form\";s:7:\"example\";s:2:\"20\";s:5:\"title\";s:14:\"Measured
  Value\";s:4:\"type\";s:6:\"string\";}s:21:\"DMRValueQualifierCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:147:\"The
  unique code identifying the DMR value operator (i.e., <, <=, >, >=, T, E, =). E
  indicates an estimated value. T indicates too numerous to count\";s:7:\"example\";s:1:\"=\";s:5:\"title\";s:24:\"DMR
  Value Qualifier Code\";s:4:\"type\";s:6:\"string\";}s:16:\"DMRValueStdUnits\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"The
  DMR value expressed in standard units, as calculated in ICIS-NPDES\";s:7:\"example\";s:2:\"20\";s:5:\"title\";s:29:\"Measured
  Value Standard Units\";s:4:\"type\";s:6:\"string\";}s:8:\"DaysLate\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"The
  number of days the DMR value is late, as generated in ICIS-NPDES\";s:7:\"example\";s:1:\"5\";s:5:\"title\";s:18:\"Days
  Received Late\";s:4:\"type\";s:6:\"string\";}s:13:\"ExceedencePct\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  percent by which the DMR value (or adjusted value) exceeded its limit (or stay)
  value, as generated in ICIS-NPDES\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:21:\"Exceedance
  Percentage\";s:4:\"type\";s:6:\"string\";}s:14:\"LimitBeginDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"The
  date on which a limit becomes in effect for a particular parameter in a limit set\";s:7:\"example\";s:9:\"01-APR-14\";s:5:\"title\";s:16:\"Limit
  Begin Date\";s:4:\"type\";s:6:\"string\";}s:12:\"LimitEndDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:89:\"The
  date on which a limit stops being in effect for a particular parameter in a limit
  set\";s:7:\"example\";s:9:\"31-MAR-19\";s:5:\"title\";s:14:\"Limit End Date\";s:4:\"type\";s:6:\"string\";}s:7:\"LimitId\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  unique identifier for a limit parameter record\";s:7:\"example\";s:10:\"3401161480\";s:5:\"title\";s:8:\"Limit
  ID\";s:4:\"type\";s:6:\"string\";}s:10:\"LimitSetId\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  unique identifier for a limit set, generated in ICIS-NPDES\";s:7:\"example\";s:10:\"3400122018\";s:5:\"title\";s:12:\"Limit
  Set ID\";s:4:\"type\";s:6:\"string\";}s:18:\"LimitSetScheduleId\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  unique identifier of the Limit Set Schedule, generated in ICIS-NPDES\";s:7:\"example\";s:10:\"3400204974\";s:5:\"title\";s:21:\"Limit
  Set Schedule ID\";s:4:\"type\";s:6:\"string\";}s:13:\"LimitTypeCode\";O:8:\"stdClass\":3:{s:7:\"example\";s:2:\"C1\";s:5:\"title\";s:15:\"Limit
  Type Code\";s:4:\"type\";s:6:\"string\";}s:13:\"LimitUnitCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:128:\"The
  code representing the unit of measure applicable to quantity or concentration limits
  and measurements as entered by the user\";s:7:\"example\";s:2:\"12\";s:5:\"title\";s:15:\"Limit
  Unit Code\";s:4:\"type\";s:6:\"string\";}s:13:\"LimitUnitDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"The
  short description of the unit of measure applicable to limit or DMR values\";s:7:\"example\";s:2:\"SU\";s:5:\"title\";s:22:\"Limit
  Unit Description\";s:4:\"type\";s:6:\"string\";}s:12:\"LimitValueId\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  unique identifier in ICIS-NPDES for the Limit Value\";s:7:\"example\";s:10:\"3401799401\";s:5:\"title\";s:14:\"Limit
  Value ID\";s:4:\"type\";s:6:\"string\";}s:14:\"LimitValueNmbr\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  numerical limit for a given parameter\";s:7:\"example\";s:2:\"20\";s:5:\"title\";s:11:\"Limit
  Value\";s:4:\"type\";s:6:\"string\";}s:23:\"LimitValueQualifierCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:149:\"The
  unique code identifying the limit value operator (i.e., <, <=, >, >=, T, E, =).
  E indicates an estimated value. T indicates too numerous to count\";s:7:\"example\";s:1:\"=\";s:5:\"title\";s:21:\"Limit
  Value Qualifier\";s:4:\"type\";s:6:\"string\";}s:18:\"LimitValueStdUnits\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  limit value expressed in standard units, as calculated in ICIS-NPDES\";s:7:\"example\";s:2:\"20\";s:5:\"title\";s:29:\"Limit
  Value in Standard Units\";s:4:\"type\";s:6:\"string\";}s:18:\"LimitValueTypeCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"The
  code indicating the type of value the limit is given as (i.e., Q1, Q2, C1, C2, C3)\";s:7:\"example\";s:2:\"C1\";s:5:\"title\";s:16:\"Limit
  Value Code\";s:4:\"type\";s:6:\"string\";}s:18:\"LimitValueTypeDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"The
  description indicating the type of value the limit is given as (e.g., Concentration,
  Quantity)\";s:7:\"example\";s:14:\"Concentration1\";s:5:\"title\";s:16:\"Limit Value
  Type\";s:4:\"type\";s:6:\"string\";}s:23:\"MonitoringPeriodEndDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"The
  date that the monitoring period for the values covered by the DMR Form ends\";s:7:\"example\";s:9:\"30-APR-14\";s:5:\"title\";s:26:\"Monitoring
  Period End Date\";s:4:\"type\";s:6:\"string\";}s:8:\"NODEDesc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"NODICode\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"The
  unique code indicating why no DMR Value was submitted by the permittee for a Monitoring
  Period End Date\";s:7:\"example\";s:1:\"C\";s:5:\"title\";s:17:\"No Discharge Code\";s:4:\"type\";s:6:\"string\";}s:15:\"NPDESViolations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/eff1_NPDESViolations\";}s:5:\"title\";s:16:\"NPDES
  Violations\";s:4:\"type\";s:5:\"array\";}s:16:\"NmbrOfSubmission\";O:8:\"stdClass\":4:{s:11:\"description\";s:232:\"The
  number of months of discharges represented on each DMR for the limit set (e.g.,
  monthly = 1, bi-monthly = 2, quarterly = 3, triannual = 4, semi-annual = 6, annual
  = 12). This data element will be blank for Unscheduled Limit Sets\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:21:\"Number
  of Submissions\";s:4:\"type\";s:6:\"string\";}s:13:\"PermFeatureId\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"The
  unique identifier in ICIS-NPDES of a permitted feature or outfall\";s:7:\"example\";s:10:\"3400087283\";s:5:\"title\";s:17:\"Permit
  Feature ID\";s:4:\"type\";s:6:\"string\";}s:19:\"StatisticalBaseCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:138:\"The
  code representing the unit of measure applicable to the limit and DMR values entered
  by the user (e.g., 30-day average, daily maximum)\";s:7:\"example\";s:2:\"DC\";s:5:\"title\";s:21:\"Statistical
  Base Code\";s:4:\"type\";s:6:\"string\";}s:19:\"StatisticalBaseDesc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"StatisticalBaseTypeCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  code indicating whether the statistical base code is a minimum, average, or maximum
  for purposes of calculating compliance against the limit value\";s:7:\"example\";s:3:\"MIN\";s:5:\"title\";s:26:\"Statistical
  Base Type Code\";s:4:\"type\";s:6:\"string\";}s:23:\"StatisticalBaseTypeDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:165:\"A
  short description for indicating whether the statistical base code is a minimum,
  average, or maximum for purposes of calculating compliance against the limit value\";s:7:\"example\";s:7:\"Minimum\";s:5:\"title\";s:21:\"Statistical
  Base Type\";s:4:\"type\";s:6:\"string\";}s:13:\"StayValueNmbr\";O:8:\"stdClass\":4:{s:11:\"description\";s:211:\"The
  numeric limit value imposed during the period of the stay for the limit; if entered,
  during the stay period, ICIS-NPDES will use this limit value for calculating compliance
  rather than the actual limit value\";s:7:\"example\";s:3:\"???\";s:5:\"title\";s:17:\"Stay
  Value Number\";s:4:\"type\";s:6:\"string\";}s:11:\"StdUnitCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"The
  code representing the standard unit of measure applicable to quantity or concentration
  limits and measurements as entered by the user\";s:7:\"example\";s:2:\"19\";s:5:\"title\";s:18:\"Standard
  Unit Code\";s:4:\"type\";s:6:\"string\";}s:11:\"StdUnitDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"The
  short description of the standard unit of measure applicable to limit or DMR values\";s:7:\"example\";s:4:\"mg/L\";s:5:\"title\";s:25:\"Standard
  Unit Description\";s:4:\"type\";s:6:\"string\";}s:17:\"ValueReceivedDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  date the DMR value was received by the regulatory authority\";s:7:\"example\";s:9:\"08-MAY-14\";s:5:\"title\";s:13:\"Date
  Received\";s:4:\"type\";s:6:\"string\";}s:13:\"ValueTypeCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"The
  indication of the limit value type (e.g., Quantity 1, Concentration 2)\";s:7:\"example\";s:2:\"C1\";s:5:\"title\";s:24:\"Measured
  Value Type Code\";s:4:\"type\";s:6:\"string\";}s:13:\"ValueTypeDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"The
  type of value the measured number is given as (e.g., Concentration, Quantity)\";s:7:\"example\";s:14:\"Concentration1\";s:5:\"title\";s:19:\"Measured
  Value Type\";s:4:\"type\";s:6:\"string\";}s:11:\"VersionNmbr\";O:8:\"stdClass\":4:{s:11:\"description\";s:136:\"The
  version of the permit when a modification or reissuance is applied to the permit.
  Version = 0 indicates the original permit issuance\";s:7:\"example\";s:1:\"0\";s:5:\"title\";s:14:\"Version
  Number\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:40:{i:0;s:11:\"VersionNmbr\";i:1;s:13:\"PermFeatureId\";i:2;s:10:\"LimitSetId\";i:3;s:18:\"LimitSetScheduleId\";i:4;s:16:\"NmbrOfSubmission\";i:5;s:7:\"LimitId\";i:6;s:13:\"LimitTypeCode\";i:7;s:14:\"LimitBeginDate\";i:8;s:12:\"LimitEndDate\";i:9;s:12:\"LimitValueId\";i:10;s:18:\"LimitValueTypeCode\";i:11;s:18:\"LimitValueTypeDesc\";i:12;s:14:\"LimitValueNmbr\";i:13;s:13:\"LimitUnitCode\";i:14;s:13:\"LimitUnitDesc\";i:15;s:11:\"StdUnitCode\";i:16;s:11:\"StdUnitDesc\";i:17;s:18:\"LimitValueStdUnits\";i:18;s:19:\"StatisticalBaseCode\";i:19;s:19:\"StatisticalBaseDesc\";i:20;s:23:\"StatisticalBaseTypeCode\";i:21;s:23:\"StatisticalBaseTypeDesc\";i:22;s:23:\"LimitValueQualifierCode\";i:23;s:13:\"StayValueNmbr\";i:24;s:10:\"DMREventId\";i:25;s:23:\"MonitoringPeriodEndDate\";i:26;s:14:\"DMRFormValueId\";i:27;s:13:\"ValueTypeCode\";i:28;s:13:\"ValueTypeDesc\";i:29;s:10:\"DMRValueId\";i:30;s:12:\"DMRValueNmbr\";i:31;s:11:\"DMRUnitCode\";i:32;s:11:\"DMRUnitDesc\";i:33;s:16:\"DMRValueStdUnits\";i:34;s:21:\"DMRValueQualifierCode\";i:35;s:17:\"ValueReceivedDate\";i:36;s:8:\"DaysLate\";i:37;s:8:\"NODICode\";i:38;s:8:\"NODEDesc\";i:39;s:13:\"ExceedencePct\";}s:4:\"type\";s:6:\"object\";}s:20:\"eff1_NPDESViolations\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"NPDES
  Violations Object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"NPDESViolationId\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  unique identifier in ICIS-NPDES for the NPDES Violation\";s:7:\"example\";s:10:\"3401214483\";s:5:\"title\";s:18:\"NPDES
  Violation ID\";s:4:\"type\";s:6:\"string\";}s:16:\"RNCDetectionCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:883:\"The
  code indicating the reportable noncompliance (RNC) detected for a violation:\n-
  A = Enforcement Order\n- B = Manual 2A4 - Pass-Through\n- C = Chronic Violation\n-
  D = Manual Other\n- E = Manual 2F - Permit Narrative\n- F = Manual 2G - Violation
  of Concern\n- G = Manual 2A1 - Effluent Violation\n- H = Chronic Violation, Non-Monthly
  Average\n- I = Manual 2A2 - Unauthorized Bypass\n- J = Manual 2A3 - Unpermitted
  Discharge\n- K = Non-receipt Violation, Non-Monthly Average\n- N = Non-Receipt of
  DMR/Schedule Report\n- P = Enforcement Order, Non-Monthly Average\n- Q = Manual
  2B - Pretreatment\n- R = TRC Limitations Exceeded, Non-Monthly Average\n- S = Schedule
  Violation\n- T = TRC Limitations Exceeded\n- U = Other Violation with TRC Non-Monthly
  Average\n- V = Other Violation with TRC\n- W = Manual 2E - Deficient Report\n- X
  = Manual Other Violation with TRC\n- Y = Manual TRC\n- Z = Manual Chronic\";s:7:\"example\";s:1:\"K\";s:5:\"title\";s:18:\"RNC
  Violation Code\";s:4:\"type\";s:6:\"string\";}s:16:\"RNCDetectionDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  date that the exceedance was detected\";s:7:\"example\";s:9:\"28-FEB-16\";s:5:\"title\";s:14:\"Detection
  Date\";s:4:\"type\";s:6:\"string\";}s:16:\"RNCDetectionDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"A
  description of the reportable noncompliance (RNC) detected\";s:7:\"example\";s:42:\"Non-receipt
  Violation, Non-Monthly Average\";s:5:\"title\";s:13:\"RNC Violation\";s:4:\"type\";s:6:\"string\";}s:17:\"RNCResolutionCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  code indicating the resolution of noncompliance (RNC) for a violation\";s:7:\"example\";s:1:\"2\";s:5:\"title\";s:24:\"RNC
  Resolution Type Code\";s:4:\"type\";s:6:\"string\";}s:17:\"RNCResolutionDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"The
  date RNC was marked to its current resolution status. It can be entered manually
  or automatically\";s:7:\"example\";s:9:\"01-FEB-16\";s:5:\"title\";s:15:\"Resolution
  Date\";s:4:\"type\";s:6:\"string\";}s:17:\"RNCResolutionDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:583:\"-
  1 = Unresolved RNC\n- 2 = Back into Compliance\n- 3 = Due to Formal Enforcement
  Action Final Order with Compliance Schedule\n- 4 = In Compliance with Formal Enforcement
  Action Final Order Requirement\n- 5 = Resolved RP by NPDES Closure of Enforcement
  Action Final Order with Compliance Schedule\n- 6 = Manual Resolution by Enforcement
  Action\n- 7 = Manual RP - In Compliance with Formal Enforcement Action Order Requirement\n-
  8 = Manual Due to Formal Enforcement Action Formal Order\n- 9 = Manual by Back into
  Compliance\n- A = Manual Unresolved RNC\n- B = Manual by EPA/State/Tribal Action\";s:7:\"example\";s:25:\"RE
  - Back into Compliance\";s:5:\"title\";s:19:\"RNC Resolution Type\";s:4:\"type\";s:6:\"string\";}s:13:\"ViolationCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:175:\"The
  code identifying which type of Violation has occurred (e.g., D80 = Required Monitoring
  DMR Value Non-Receipt, E90 = Effluent Violation, C20 = Schedule Event Achieved Late)\";s:7:\"example\";s:3:\"E90\";s:5:\"title\";s:14:\"Violation
  Code\";s:4:\"type\";s:6:\"string\";}s:13:\"ViolationDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"A
  description of which type of violation has occurred\";s:7:\"example\";s:18:\"Effluent
  Violation\";s:5:\"title\";s:9:\"Violation\";s:4:\"type\";s:6:\"string\";}s:17:\"ViolationSeverity\";O:8:\"stdClass\":4:{s:11:\"description\";s:193:\"-
  0 = no violation.\n- 1 = monitoring or reporting violation\n- 2 = effluent violation,
  i.e., discharge in excess of permitted limit\n- 3 = reportable noncompliance\n-
  5 = significant noncompliance\";s:7:\"example\";s:12:\"No Violation\";s:5:\"title\";s:18:\"Violation
  Severity\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"eff1_Parameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Parameters
  Object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:26:\"DischargeMonitoringReports\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"An
  array of Discharge Monitoring Report (DMR) data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/eff1_DischargeMonitoringReports\";}s:5:\"title\";s:36:\"Effluent
  Discharge Monitoring Report\";s:4:\"type\";s:5:\"array\";}s:22:\"MonitoringLocationCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:212:\"The
  code that the monitoring location at which the monitoring requirement (and effluent
  limit if limited) applies. One parameter may have several monitoring location codes
  pertaining to the same permitted feature\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:24:\"Monitoring
  Location Code\";s:4:\"type\";s:6:\"string\";}s:22:\"MonitoringLocationDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"The
  name of the monitoring location at which the monitoring requirement (and effluent
  limit if limited) applies\";s:7:\"example\";s:14:\"Effluent Gross\";s:5:\"title\";s:31:\"Monitoring
  Location Description\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:184:\"The
  unique 5 digit numeric code identifying the parameter. If the code is less than
  5 digits in the .CSV, append zeros to the beginning of the number (e.g., 100 is
  equivalent to 00100)\";s:7:\"example\";s:5:\"00400\";s:5:\"title\";s:14:\"Parameter
  Code\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"The
  pollutant name and form (e.g., dissolved, suspended) associated with the parameter
  code\";s:7:\"example\";s:2:\"pH\";s:5:\"title\";s:21:\"Parameter Description\";s:4:\"type\";s:6:\"string\";}s:12:\"StayTypeCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:235:\"The
  unique identifier of the type of stay applied to a limit (e.g., X, Y, Z), which
  indicates whether the limits do not appear on the DMR at all, are treated as monitor
  only, or have a stay value in effect during the period of the stay\";s:7:\"example\";s:3:\"???\";s:5:\"title\";s:14:\"Stay
  Type Code\";s:4:\"type\";s:6:\"string\";}s:12:\"StayTypeDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:218:\"The
  name of the type of stay applied to a limit, which indicates whether the limits
  do not appear on the DMR at all (X), are treated as monitor only (Y), or have a
  stay value in effect during the period of the stay (Z)\";s:7:\"example\";s:3:\"???\";s:5:\"title\";s:21:\"Stay
  Type Description\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:13:\"ParameterCode\";i:1;s:13:\"ParameterDesc\";i:2;s:22:\"MonitoringLocationCode\";i:3;s:22:\"MonitoringLocationDesc\";i:4;s:12:\"StayTypeCode\";i:5;s:12:\"StayTypeDesc\";i:6;s:26:\"DischargeMonitoringReports\";}s:4:\"type\";s:6:\"object\";}s:17:\"eff1_PermFeatures\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Permit
  Features Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Parameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Array
  of Effuent Limit Parameters\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/eff1_Parameters\";}s:5:\"title\";s:16:\"Limit
  Parameters\";s:4:\"type\";s:5:\"array\";}s:15:\"PermFeatureNmbr\";O:8:\"stdClass\":4:{s:11:\"description\";s:291:\"A
  three-character code in ICIS-NPDES that identifies the point of discharge (e.g.,
  outfall) for a facility. A NPDES permit may have multiple points of discharge. If
  the code is less than three characters in the .CSV, append zeros to the beginning
  of the number (e.g., 1 is equivalent to 001)\";s:7:\"example\";s:3:\"001\";s:5:\"title\";s:15:\"Discharge
  Point\";s:4:\"type\";s:6:\"string\";}s:19:\"PermFeatureTypeCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  code indicating the type of permitted feature (e.g., EXO)\";s:7:\"example\";s:3:\"EXO\";s:5:\"title\";s:24:\"Permit
  Feature Type Code\";s:4:\"type\";s:6:\"string\";}s:19:\"PermFeatureTypeDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:104:\"The
  description indicating the type of permitted feature (e.g., External Outfall, Internal
  Outfall, Sum)\";s:7:\"example\";s:16:\"External Outfall\";s:5:\"title\";s:19:\"Permit
  Feature Type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:15:\"PermFeatureNmbr\";i:1;s:19:\"PermFeatureTypeCode\";i:2;s:10:\"Parameters\";i:3;s:19:\"PermFeatureTypeDesc\";}s:4:\"type\";s:6:\"object\";}s:12:\"eff1_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"CWPCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"City
  in which the facility is located.\";s:7:\"example\";s:10:\"HUNTSVILLE\";s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:19:\"CWPCurrentSNCStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  type of noncompliance when a major source is in significant violation or a minor
  source has a Category 1 violation.\";s:7:\"example\";s:10:\"D (DMR NR)\";s:4:\"type\";s:6:\"string\";}s:23:\"CWPMajorMinorStatusFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Facilities
  marked \"M\" for major refers to CWA major permittees.\n- M = Major\n- N = Minor\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:23:\"Major/Minor
  Status Flag\";s:4:\"type\";s:6:\"string\";}s:7:\"CWPName\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Facility
  or permit holder name, as maintained in ICIS-NPDES.\";s:7:\"example\";s:16:\"REDSTONE
  ARSENAL\";s:5:\"title\";s:13:\"Facility Name\";s:4:\"type\";s:6:\"string\";}s:19:\"CWPPermitStatusDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  current stage/status in the NPDES permit life cycle.\";s:7:\"example\";s:9:\"Effective\";s:5:\"title\";s:25:\"Permit
  Status Description\";s:4:\"type\";s:6:\"string\";}s:17:\"CWPPermitTypeDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:283:\"NPDES
  facility permit classification:\n- NPDES Individual Permit\n- General Permit Covered
  Facility\n- NPDES Master General Permit\n- Associated Permit Record\n- Individual
  Industrial User Permit\n- Individual State Issued Permit\n- State Issued Master
  General Permit\n- Unpermitted Facility\";s:7:\"example\";s:31:\"General Permit Covered
  Facility\";s:5:\"title\";s:23:\"Permit Type Description\";s:4:\"type\";s:6:\"string\";}s:8:\"CWPState\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Facility
  location - two-digit state abbreviation.\";s:7:\"example\";s:2:\"AL\";s:5:\"title\";s:5:\"State\";s:4:\"type\";s:6:\"string\";}s:9:\"CWPStreet\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Facility
  street address\";s:7:\"example\";s:18:\"BUILDING 3240 AREA\";s:5:\"title\";s:14:\"Street
  Address\";s:4:\"type\";s:6:\"string\";}s:6:\"CWPZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Facility
  ZIP code\";s:7:\"example\";s:5:\"35898\";s:5:\"title\";s:3:\"Zip\";s:4:\"type\";s:6:\"string\";}s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:1568:\"The
  EPA data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";s:7:\"example\";s:3:\"ICP\";s:5:\"title\";s:15:\"EPA
  Data System\";s:4:\"type\";s:6:\"string\";}s:7:\"EndDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"End
  date for the date range of interest. Formatted as mm/dd/yyyy\";s:7:\"example\";s:10:\"01/01/2016\";s:5:\"title\";s:8:\"End
  Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:12:\"PermFeatures\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Array
  of Permitted Features\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/eff1_PermFeatures\";}s:5:\"title\";s:34:\"Permitted
  Features (Pipe Outfalls)\";s:4:\"type\";s:5:\"array\";}s:10:\"RegistryId\";O:8:\"stdClass\":4:{s:11:\"description\";s:229:\"12-digit
  Facility Registry Service (FRS) identification number.  FRS uniquely identifies
  a facility by assigning an identification number (FRS ID), and uses this FRS ID
  to link together all EPA regulatory program database records\";s:7:\"example\";s:12:\"110020837601\";s:5:\"title\";s:15:\"FRS
  Registry ID\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceId\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:9:\"StartDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Starting
  date for the date range of interest. Formatted as mm/dd/yyyy\";s:7:\"example\";s:10:\"01/01/2016\";s:5:\"title\";s:10:\"Start
  Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Statute\";O:8:\"stdClass\":4:{s:11:\"description\";s:416:\"The
  name of the statute associated with each of the permits and identifiers linked to
  the facility: \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA =
  the Resource Conservation and Recovery Act\n- EP313 = the Emergency Planning and
  Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory
  Program)\n- TSCA = the Toxic Substances Control Act\n- SDWA = the Safe Drinking
  Water Act\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:18:\"Regulatory Statute\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:16:{i:0;s:7:\"Message\";i:1;s:8:\"SourceId\";i:2;s:9:\"EPASystem\";i:3;s:10:\"RegistryId\";i:4;s:7:\"Statute\";i:5;s:7:\"CWPName\";i:6;s:9:\"CWPStreet\";i:7;s:7:\"CWPCity\";i:8;s:8:\"CWPState\";i:9;s:6:\"CWPZip\";i:10;s:19:\"CWPPermitStatusDesc\";i:11;s:23:\"CWPMajorMinorStatusFlag\";i:12;s:17:\"CWPPermitTypeDesc\";i:13;s:19:\"CWPCurrentSNCStatus\";i:14;s:9:\"StartDate\";i:15;s:7:\"EndDate\";}s:4:\"type\";s:6:\"object\";}s:18:\"eff2_LinkedPermits\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Linked
  Permits Object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"CWPCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"City
  in which the facility is located.\";s:7:\"example\";s:10:\"HUNTSVILLE\";s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:19:\"CWPCurrentSNCStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  type of noncompliance when a major source is in significant violation or a minor
  source has a Category 1 violation.\";s:7:\"example\";s:10:\"D (DMR NR)\";s:4:\"type\";s:6:\"string\";}s:23:\"CWPMajorMinorStatusFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Facilities
  marked \"M\" for major refers to CWA major permittees.\n- M = Major\n- N = Minor\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:23:\"Major/Minor
  Status Flag\";s:4:\"type\";s:6:\"string\";}s:7:\"CWPName\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Facility
  or permit holder name, as maintained in ICIS-NPDES.\";s:7:\"example\";s:16:\"REDSTONE
  ARSENAL\";s:5:\"title\";s:13:\"Facility Name\";s:4:\"type\";s:6:\"string\";}s:19:\"CWPPermitStatusDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  current stage/status in the NPDES permit life cycle.\";s:7:\"example\";s:9:\"Effective\";s:5:\"title\";s:25:\"Permit
  Status Description\";s:4:\"type\";s:6:\"string\";}s:17:\"CWPPermitTypeDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:283:\"NPDES
  facility permit classification:\n- NPDES Individual Permit\n- General Permit Covered
  Facility\n- NPDES Master General Permit\n- Associated Permit Record\n- Individual
  Industrial User Permit\n- Individual State Issued Permit\n- State Issued Master
  General Permit\n- Unpermitted Facility\";s:7:\"example\";s:31:\"General Permit Covered
  Facility\";s:5:\"title\";s:23:\"Permit Type Description\";s:4:\"type\";s:6:\"string\";}s:8:\"CWPState\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Facility
  location - two-digit state abbreviation.\";s:7:\"example\";s:2:\"AL\";s:5:\"title\";s:5:\"State\";s:4:\"type\";s:6:\"string\";}s:9:\"CWPStreet\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Facility
  street address\";s:7:\"example\";s:18:\"BUILDING 3240 AREA\";s:5:\"title\";s:14:\"Street
  Address\";s:4:\"type\";s:6:\"string\";}s:6:\"CWPZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Facility
  ZIP code\";s:7:\"example\";s:5:\"35898\";s:5:\"title\";s:3:\"Zip\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceId\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:10:{i:0;s:8:\"SourceId\";i:1;s:7:\"CWPName\";i:2;s:9:\"CWPStreet\";i:3;s:7:\"CWPCity\";i:4;s:8:\"CWPState\";i:5;s:6:\"CWPZip\";i:6;s:19:\"CWPPermitStatusDesc\";i:7;s:23:\"CWPMajorMinorStatusFlag\";i:8;s:17:\"CWPPermitTypeDesc\";i:9;s:19:\"CWPCurrentSNCStatus\";}s:4:\"type\";s:6:\"object\";}s:15:\"eff2_Parameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Parameters
  Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"CurrentVioStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"The
  most severe compliance status for an outfall and parameter during the current monitoring
  period\";s:7:\"example\";s:12:\"In Violation\";s:5:\"title\";s:24:\"Current Violation
  Status\";s:4:\"type\";s:6:\"string\";}s:12:\"MaxVioStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"The
  most severe compliance status for an outfall and parameter during the entire selected
  date range\";s:7:\"example\";s:12:\"In Violation\";s:5:\"title\";s:29:\"Most Severe
  Compliance Status\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:184:\"The
  unique 5 digit numeric code identifying the parameter. If the code is less than
  5 digits in the .CSV, append zeros to the beginning of the number (e.g., 100 is
  equivalent to 00100)\";s:7:\"example\";s:5:\"00400\";s:5:\"title\";s:14:\"Parameter
  Code\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"The
  pollutant name and form (e.g., dissolved, suspended) associated with the parameter
  code\";s:7:\"example\";s:2:\"pH\";s:5:\"title\";s:21:\"Parameter Description\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:13:\"ParameterCode\";i:1;s:13:\"ParameterDesc\";i:2;s:12:\"MaxVioStatus\";i:3;s:16:\"CurrentVioStatus\";}s:4:\"type\";s:6:\"object\";}s:17:\"eff2_PermFeatures\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Permit
  Features Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Parameters\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/eff2_Parameters\";}s:5:\"title\";s:10:\"Parameters\";s:4:\"type\";s:5:\"array\";}s:15:\"PermFeatureNmbr\";O:8:\"stdClass\":4:{s:11:\"description\";s:291:\"A
  three-character code in ICIS-NPDES that identifies the point of discharge (e.g.,
  outfall) for a facility. A NPDES permit may have multiple points of discharge. If
  the code is less than three characters in the .CSV, append zeros to the beginning
  of the number (e.g., 1 is equivalent to 001)\";s:7:\"example\";s:3:\"001\";s:5:\"title\";s:15:\"Discharge
  Point\";s:4:\"type\";s:6:\"string\";}s:19:\"PermFeatureTypeCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  code indicating the type of permitted feature (e.g., EXO)\";s:7:\"example\";s:3:\"EXO\";s:5:\"title\";s:24:\"Permit
  Feature Type Code\";s:4:\"type\";s:6:\"string\";}s:19:\"PermFeatureTypeDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:104:\"The
  description indicating the type of permitted feature (e.g., External Outfall, Internal
  Outfall, Sum)\";s:7:\"example\";s:16:\"External Outfall\";s:5:\"title\";s:19:\"Permit
  Feature Type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:15:\"PermFeatureNmbr\";i:1;s:19:\"PermFeatureTypeCode\";i:2;s:19:\"PermFeatureTypeDesc\";i:3;s:10:\"Parameters\";}s:4:\"type\";s:6:\"object\";}s:12:\"eff2_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:7:\"CWPCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"City
  in which the facility is located.\";s:7:\"example\";s:10:\"HUNTSVILLE\";s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:19:\"CWPCurrentSNCStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  type of noncompliance when a major source is in significant violation or a minor
  source has a Category 1 violation.\";s:7:\"example\";s:10:\"D (DMR NR)\";s:4:\"type\";s:6:\"string\";}s:23:\"CWPMajorMinorStatusFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Facilities
  marked \"M\" for major refers to CWA major permittees.\n- M = Major\n- N = Minor\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:23:\"Major/Minor
  Status Flag\";s:4:\"type\";s:6:\"string\";}s:7:\"CWPName\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Facility
  or permit holder name, as maintained in ICIS-NPDES.\";s:7:\"example\";s:16:\"REDSTONE
  ARSENAL\";s:5:\"title\";s:13:\"Facility Name\";s:4:\"type\";s:6:\"string\";}s:19:\"CWPPermitStatusDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  current stage/status in the NPDES permit life cycle.\";s:7:\"example\";s:9:\"Effective\";s:5:\"title\";s:25:\"Permit
  Status Description\";s:4:\"type\";s:6:\"string\";}s:17:\"CWPPermitTypeDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:283:\"NPDES
  facility permit classification:\n- NPDES Individual Permit\n- General Permit Covered
  Facility\n- NPDES Master General Permit\n- Associated Permit Record\n- Individual
  Industrial User Permit\n- Individual State Issued Permit\n- State Issued Master
  General Permit\n- Unpermitted Facility\";s:7:\"example\";s:31:\"General Permit Covered
  Facility\";s:5:\"title\";s:23:\"Permit Type Description\";s:4:\"type\";s:6:\"string\";}s:8:\"CWPState\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Facility
  location - two-digit state abbreviation.\";s:7:\"example\";s:2:\"AL\";s:5:\"title\";s:5:\"State\";s:4:\"type\";s:6:\"string\";}s:9:\"CWPStreet\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Facility
  street address\";s:7:\"example\";s:18:\"BUILDING 3240 AREA\";s:5:\"title\";s:14:\"Street
  Address\";s:4:\"type\";s:6:\"string\";}s:6:\"CWPZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Facility
  ZIP code\";s:7:\"example\";s:5:\"35898\";s:5:\"title\";s:3:\"Zip\";s:4:\"type\";s:6:\"string\";}s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:1568:\"The
  EPA data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";s:7:\"example\";s:3:\"ICP\";s:5:\"title\";s:15:\"EPA
  Data System\";s:4:\"type\";s:6:\"string\";}s:7:\"EndDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"End
  date for the date range of interest. Formatted as mm/dd/yyyy\";s:7:\"example\";s:10:\"01/01/2016\";s:5:\"title\";s:8:\"End
  Date\";s:4:\"type\";s:6:\"string\";}s:13:\"LinkedPermits\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/eff2_LinkedPermits\";}s:5:\"title\";s:14:\"Linked
  Permits\";s:4:\"type\";s:5:\"array\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:12:\"PermFeatures\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/eff2_PermFeatures\";}s:5:\"title\";s:34:\"Permitted
  Features (Pipe Outfalls)\";s:4:\"type\";s:5:\"array\";}s:10:\"RegistryId\";O:8:\"stdClass\":4:{s:11:\"description\";s:229:\"12-digit
  Facility Registry Service (FRS) identification number.  FRS uniquely identifies
  a facility by assigning an identification number (FRS ID), and uses this FRS ID
  to link together all EPA regulatory program database records\";s:7:\"example\";s:12:\"110020837601\";s:5:\"title\";s:15:\"FRS
  Registry ID\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceId\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:9:\"StartDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Starting
  date for the date range of interest. Formatted as mm/dd/yyyy\";s:7:\"example\";s:10:\"01/01/2016\";s:5:\"title\";s:10:\"Start
  Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Statute\";O:8:\"stdClass\":4:{s:11:\"description\";s:416:\"The
  name of the statute associated with each of the permits and identifiers linked to
  the facility: \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA =
  the Resource Conservation and Recovery Act\n- EP313 = the Emergency Planning and
  Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory
  Program)\n- TSCA = the Toxic Substances Control Act\n- SDWA = the Safe Drinking
  Water Act\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:18:\"Regulatory Statute\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:16:{i:0;s:7:\"Message\";i:1;s:8:\"SourceId\";i:2;s:9:\"EPASystem\";i:3;s:10:\"RegistryId\";i:4;s:7:\"Statute\";i:5;s:7:\"CWPName\";i:6;s:9:\"CWPStreet\";i:7;s:7:\"CWPCity\";i:8;s:8:\"CWPState\";i:9;s:6:\"CWPZip\";i:10;s:19:\"CWPPermitStatusDesc\";i:11;s:23:\"CWPMajorMinorStatusFlag\";i:12;s:17:\"CWPPermitTypeDesc\";i:13;s:19:\"CWPCurrentSNCStatus\";i:14;s:9:\"StartDate\";i:15;s:7:\"EndDate\";}s:4:\"type\";s:6:\"object\";}s:14:\"rlk00_LuValues\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Lookup
  Values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ValueCode\";O:8:\"stdClass\":3:{s:7:\"example\";s:5:\"77034\";s:5:\"title\";s:10:\"Value
  Code\";s:4:\"type\";s:6:\"string\";}s:16:\"ValueDescription\";O:8:\"stdClass\":3:{s:7:\"example\";s:9:\"1-Butanol\";s:5:\"title\";s:17:\"Value
  Description\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"ValueCode\";i:1;s:16:\"ValueDescription\";}s:4:\"type\";s:6:\"object\";}s:13:\"rlk16_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"LuValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/rlk00_LuValues\";}s:4:\"type\";s:5:\"array\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}}"
...
