---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US
  EPA, OECA Integration, Targeting and Access Branch\";}s:11:\"description\";s:1188:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated
  compliance and enforcement information for about 800,000 regulated facilities nationwide.\n<BR><BR>DFR
  Rest Services provide multiple service endpoints, to retrieve detailed facility
  location, enforcement, compliance monitoring, and pollutant information for any
  single facility.  See the Detailed Facility Report (DFR) Help Page (https://echo.epa.gov/help/reports/detailed-facility-report-help)
  for additional information on the DFR.  Additionally, a Data Dictionary (https://echo.epa.gov/help/reports/dfr-data-dictionary)
  is also available.<BR><BR>\nThere is one primary service end point, get_dfr, that
  provides all available DFR data.  All other service end points that are exposed,
  will return data on a single section of the DFR. <br>  \n<br>\nAdditional ECHO Resources:
  \  <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About
  ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n<br>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:5:\"title\";s:90:\"U.S.
  EPA Enforcement and Compliance History Online (ECHO) - Detailed Facility Report
  (DFR)\";s:7:\"version\";s:5:\"0.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:62:\"https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=DFR\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"epa.gov\";s:13:\"x-serviceName\";s:3:\"dfr\";}"
host: ofmpub.epa.gov
basePath: /echo
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":138:{s:14:\"dfr001_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"AirCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr019\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr002_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"AirQuality\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr024\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:6:\"dfr004\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"CaseFormalActions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr052\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr005_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ComplianceHistory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr057\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr006_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ComplianceSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr059\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr007_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"CWA3YrD80D90Counts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr027\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"Message\";i:1;s:18:\"CWA3YrD80D90Counts\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr009_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"CWA3YrCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr025\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr010_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"CWACSCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr031\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr011_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:25:\"CWAEffluentALRExceedences\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr035\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr012_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"CWAEffluentCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr038\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr013_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"CWAPSCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr042\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr014_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"CWARNCCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr046\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr015_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"CWASECompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr049\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr017_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"Demographics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr061\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:20:\"dfr018_CAEDDocuments\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"CAED
  Documents\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DocumentLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"EPAProgram\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"FacilityName\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  name of the facility.\";s:7:\"example\";s:10:\"3M COMPANY\";s:5:\"title\";s:13:\"Facility
  Name\";s:4:\"type\";s:6:\"string\";}s:11:\"PublishDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"RegistryId\";O:8:\"stdClass\":4:{s:11:\"description\";s:229:\"12-digit
  Facility Registry Service (FRS) identification number.  FRS uniquely identifies
  a facility by assigning an identification number (FRS ID), and uses this FRS ID
  to link together all EPA regulatory program database records\";s:7:\"example\";s:12:\"110020837601\";s:5:\"title\";s:15:\"FRS
  Registry ID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"CAEDDocuments\";}}s:14:\"dfr018_MapData\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"Map
  Data Object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"ICON\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Name
  of each individual icon file within the URL base\";s:7:\"example\";s:15:\"CAA-IC-MN-N.png\";s:5:\"title\";s:4:\"Icon\";s:4:\"type\";s:6:\"string\";}s:3:\"LAT\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  latitude of the facility in degrees, to four decimal places\";s:7:\"example\";s:9:\"38.798026\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:3:\"LON\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  longitude of the facility in degrees, to four decimal places\";s:7:\"example\";s:10:\"-77.062981\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:4:\"NAME\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"For
  DFR, this is the Facility name. The name corresponds to the TYPE value\";s:7:\"example\";s:34:\"VIRGINIA
  CONCRETE ALEXANDRIA PLANT\";s:5:\"title\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:3:\"PUV\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Pop
  up value. Combine with PopUpBaseURL to give the popup for the facility\";s:7:\"example\";s:12:\"110001891506\";s:5:\"title\";s:11:\"Popup
  Value\";s:4:\"type\";s:6:\"string\";}s:4:\"TYPE\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"For
  DFR, this is always facility\";s:7:\"example\";s:8:\"Facility\";s:5:\"title\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:3:\"LAT\";i:1;s:3:\"LON\";i:2;s:4:\"ICON\";i:3;s:4:\"TYPE\";i:4;s:4:\"NAME\";i:5;s:3:\"PUV\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:6:\"Object\";}}s:28:\"dfr018_MultipleFRSFacilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Multiple
  FRS Facilities Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"RegistryIDs\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/dfr018_RegistryIDs\";}s:5:\"title\";s:12:\"Registry
  IDs\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"RegistryIDs\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:12:\"dfr018_NAICS\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"NAICS
  Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Sources\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr074\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Sources\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:1:{i:0;s:7:\"Sources\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr018_Permits\";O:8:\"stdClass\":5:{s:11:\"description\";s:14:\"Permits
  Object\";s:10:\"properties\";O:8:\"stdClass\":27:{s:13:\"AccuracyScore\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:5:\"17452\";s:5:\"title\";s:14:\"Accuracy
  Score\";s:4:\"type\";s:6:\"string\";}s:13:\"AccuracyValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:2:\"25\";s:5:\"title\";s:14:\"Accuracy
  Value\";s:4:\"type\";s:6:\"string\";}s:5:\"Areas\";O:8:\"stdClass\":4:{s:11:\"description\";s:177:\"Clean
  Air Act stationary source program subpart designation, Clean Water Act-NPDES permit
  component(s), and/or other Resource Conservation and Recovery Act designations,
  if any.\";s:7:\"example\";s:81:\"Total 2013 Facility Emissions in metric tons CO2e
  (excluding Biogenic CO2): 56962\";s:5:\"title\";s:5:\"Areas\";s:4:\"type\";s:6:\"string\";}s:11:\"CollectDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:29:\"ADDRESS
  MATCHING-HOUSE NUMBER\";s:5:\"title\";s:29:\"Collection Method Description\";s:4:\"type\";s:6:\"string\";}s:5:\"DQURL\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:3:\"???\";s:4:\"type\";s:6:\"string\";}s:9:\"EPARegion\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  EPA region in which the facility is located\";s:7:\"example\";s:2:\"04\";s:5:\"title\";s:10:\"EPA
  Region\";s:4:\"type\";s:6:\"string\";}s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:1568:\"The
  EPA data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";s:7:\"example\";s:3:\"ICP\";s:5:\"title\";s:15:\"EPA
  Data System\";s:4:\"type\";s:6:\"string\";}s:7:\"ExpDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Date
  on which a given permit is scheduled to expire\";s:7:\"example\";s:10:\"09/10/2005\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  city in which the facility is located\";s:7:\"example\";s:7:\"DECATUR\";s:5:\"title\";s:13:\"Facility
  City\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityName\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  name of the facility.\";s:7:\"example\";s:10:\"3M COMPANY\";s:5:\"title\";s:13:\"Facility
  Name\";s:4:\"type\";s:6:\"string\";}s:13:\"FacilityState\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  state in which the facility is located\";s:7:\"example\";s:2:\"AL\";s:5:\"title\";s:14:\"Facility
  State\";s:4:\"type\";s:6:\"string\";}s:14:\"FacilityStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:689:\"The
  Air Program Status is given for each source ID (Operating; Planned; Under construction;
  Temporarily closed;  Permanently closed; and Seasonal)\n\nFor CWA, the Permit Compliance
  System (PCS) designates a permitted facility as being Active or Inactive. Under
  the CWA, all facilities discharging pollutants from a point source (e.g., a pipe)
  to surface waters must have a NPDES permit. For CWA, ICISNPDES designates a permit
  as Effective, Administratively Continued, Expired, Not Needed, Pending, Retired,
  or Terminated. RCRA facilities (sites) are designated as Active or Inactive. The
  following provides RCRA site activity status definitions and explains site activity
  status designation.\";s:7:\"example\";s:9:\"Effective\";s:5:\"title\";s:15:\"Facility
  Status\";s:4:\"type\";s:6:\"string\";}s:14:\"FacilityStreet\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  street address of the facility\";s:7:\"example\";s:20:\"1400 STATE DOCKS RD.\";s:5:\"title\";s:15:\"Facility
  Street\";s:4:\"type\";s:6:\"string\";}s:11:\"FacilityZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  zip code of the area in which the facility is located\";s:7:\"example\";s:5:\"35609\";s:5:\"title\";s:16:\"Facility
  Zipcode\";s:4:\"type\";s:6:\"string\";}s:9:\"HasBioRpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"HasIcisSsoRpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:1:\"N\";s:4:\"type\";s:6:\"string\";}s:10:\"HdatumDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:5:\"NAD83\";s:5:\"title\";s:28:\"Horizontal
  Datum Description\";s:4:\"type\";s:6:\"string\";}s:13:\"IndianCountry\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Indicates
  whether the facility is located in Indian Country\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:14:\"Indian
  Country\";s:4:\"type\";s:6:\"string\";}s:8:\"Latitude\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"The
  latitude of the facility or permit holder as maintained in each data system.\";s:7:\"example\";s:9:\"34.606651\";s:6:\"format\";s:6:\"double\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:9:\"Longitude\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"The
  longitude of the facility or permit holder as maintained in each data system\";s:7:\"example\";s:10:\"-86.982419\";s:6:\"format\";s:6:\"double\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:5:\"NAICS\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  North American Industry Classification System codes\";s:7:\"example\";s:6:\"325211\";s:5:\"title\";s:10:\"NAICS
  Code\";s:4:\"type\";s:6:\"string\";}s:12:\"RefPointDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:24:\"Facility
  Center/Centroid\";s:5:\"title\";s:27:\"Reference Point Description\";s:4:\"type\";s:6:\"string\";}s:3:\"SIC\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Standard
  Industrial Classification codes\";s:7:\"example\";s:4:\"3081\";s:4:\"type\";s:6:\"string\";}s:5:\"Scale\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"??\";s:5:\"title\";s:5:\"Scale\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:7:\"Statute\";O:8:\"stdClass\":4:{s:11:\"description\";s:416:\"The
  name of the statute associated with each of the permits and identifiers linked to
  the facility: \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA =
  the Resource Conservation and Recovery Act\n- EP313 = the Emergency Planning and
  Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory
  Program)\n- TSCA = the Toxic Substances Control Act\n- SDWA = the Safe Drinking
  Water Act\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:18:\"Regulatory Statute\";s:4:\"type\";s:6:\"string\";}s:8:\"Universe\";O:8:\"stdClass\":4:{s:11:\"description\";s:1154:\"This
  field provides further description on type of permit or record for each data system
  as follows:\n- For CAA  = The program office defines each CAA Source ID and the
  associated permits as being Federally Reportable or Non-Federally Reportable. Under
  the CAA, federally reportable sources include majors, synthetic minors, NESHAP Part
  61 minors, minors with an unresolved High Priority Violation (HPV), with recent
  enforcement actions, or included on a Compliance Monitoring Strategy plan. The Clean
  Air Act requires that delegated agencies and EPA track all federally reportable
  sources in Air Facility System (AFS).\n- For CWA  = Each CWA Source ID or National
  Pollutant Discharge Elimination System (NPDES) permit is defined by the program
  office as a Major or Minor discharger.\n- For RCRA = RCRA Source ID or permits for
  Treatment, Storage and Disposal facilities are identified by TSD, Large Quantity
  Generators are identified by LQG. Other values include Permit Workload (PMT), Closure
  Workload (CLO), Small Quantity Generator Universe (SQG), Conditionally-Exempt Small
  Quantity Generator (CESQG), Post-Closure Workload (POST CL), and Transporters.\";s:7:\"example\";s:38:\"Minor:
  General Permit Covered Facility\";s:5:\"title\";s:8:\"Universe\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:27:{i:0;s:7:\"Statute\";i:1;s:9:\"EPASystem\";i:2;s:9:\"EPARegion\";i:3;s:8:\"SourceID\";i:4;s:12:\"FacilityName\";i:5;s:14:\"FacilityStreet\";i:6;s:12:\"FacilityCity\";i:7;s:13:\"FacilityState\";i:8;s:11:\"FacilityZip\";i:9;s:8:\"Universe\";i:10;s:5:\"Areas\";i:11;s:7:\"ExpDate\";i:12;s:8:\"Latitude\";i:13;s:9:\"Longitude\";i:14;s:13:\"IndianCountry\";i:15;s:3:\"SIC\";i:16;s:5:\"NAICS\";i:17;s:5:\"DQURL\";i:18;s:10:\"HdatumDesc\";i:19;s:11:\"CollectDesc\";i:20;s:12:\"RefPointDesc\";i:21;s:5:\"Scale\";i:22;s:13:\"AccuracyValue\";i:23;s:13:\"AccuracyScore\";i:24;s:13:\"HasIcisSsoRpt\";i:25;s:9:\"HasBioRpt\";i:26;s:14:\"FacilityStatus\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Permits\";}}s:19:\"dfr018_ProgramDates\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"Program
  Dates Object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"EndDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"End
  date for the date range of interest. Formatted as mm/dd/yyyy\";s:7:\"example\";s:10:\"01/01/2016\";s:5:\"title\";s:8:\"End
  Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Program\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  source database for the EPA programs information.\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:7:\"Program\";s:4:\"type\";s:6:\"string\";}s:9:\"StartDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Starting
  date for the date range of interest. Formatted as mm/dd/yyyy\";s:7:\"example\";s:10:\"01/01/2016\";s:5:\"title\";s:10:\"Start
  Date\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:7:\"Program\";i:1;s:9:\"StartDate\";i:2;s:7:\"EndDate\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"ProgramDates\";}}s:18:\"dfr018_RegistryIDs\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Registry
  IDs Object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:1568:\"The
  EPA data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";s:7:\"example\";s:3:\"ICP\";s:5:\"title\";s:15:\"EPA
  Data System\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  city in which the facility is located\";s:7:\"example\";s:7:\"DECATUR\";s:5:\"title\";s:13:\"Facility
  City\";s:4:\"type\";s:6:\"string\";}s:14:\"FacilityCounty\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Facility
  County\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityName\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  name of the facility.\";s:7:\"example\";s:10:\"3M COMPANY\";s:5:\"title\";s:13:\"Facility
  Name\";s:4:\"type\";s:6:\"string\";}s:13:\"FacilityState\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  state in which the facility is located\";s:7:\"example\";s:2:\"AL\";s:5:\"title\";s:14:\"Facility
  State\";s:4:\"type\";s:6:\"string\";}s:14:\"FacilityStreet\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  street address of the facility\";s:7:\"example\";s:20:\"1400 STATE DOCKS RD.\";s:5:\"title\";s:15:\"Facility
  Street\";s:4:\"type\";s:6:\"string\";}s:11:\"FacilityZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  zip code of the area in which the facility is located\";s:7:\"example\";s:5:\"35609\";s:5:\"title\";s:16:\"Facility
  Zipcode\";s:4:\"type\";s:6:\"string\";}s:10:\"RegistryId\";O:8:\"stdClass\":4:{s:11:\"description\";s:229:\"12-digit
  Facility Registry Service (FRS) identification number.  FRS uniquely identifies
  a facility by assigning an identification number (FRS ID), and uses this FRS ID
  to link together all EPA regulatory program database records\";s:7:\"example\";s:12:\"110020837601\";s:5:\"title\";s:15:\"FRS
  Registry ID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"RegistryIDs\";}}s:14:\"dfr018_Reports\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Reports
  Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"HasPollRpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"???\";s:7:\"example\";s:1:\"Y\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"HasPollRpt\";}s:4:\"type\";s:6:\"object\";}s:14:\"dfr018_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":41:{s:13:\"AirCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr019\";}s:10:\"AirQuality\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr024\";}s:13:\"CAEDDocuments\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/dfr018_CAEDDocuments\";}s:5:\"title\";s:18:\"Web
  Fire Documents\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"CAEDDocuments\";s:7:\"wrapped\";b:1;}}s:16:\"CWA3YrCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr025\";}s:18:\"CWA3YrD80D90Counts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr027\";}s:15:\"CWACSCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr031\";}s:25:\"CWAEffluentALRExceedences\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr035\";}s:21:\"CWAEffluentCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr038\";}s:15:\"CWAPSCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr042\";}s:16:\"CWARNCCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr046\";}s:15:\"CWASECompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr049\";}s:17:\"CaseFormalActions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr052\";}s:17:\"ComplianceHistory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr057\";}s:17:\"ComplianceSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr059\";}s:12:\"Demographics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr061\";}s:30:\"EnforcementComplianceSummaries\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr062\";}s:13:\"FormalActions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr064\";}s:17:\"ICISFormalActions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr066\";}s:28:\"InspectionEnforcementSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr068\";}s:20:\"LeadAndCopperRule5Yr\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr070\";}s:9:\"MapOutput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr073\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:21:\"MultipleFRSFacilities\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/dfr018_MultipleFRSFacilities\";}s:5:\"NAICS\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/dfr018_NAICS\";}s:7:\"Notices\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr076\";}s:7:\"Permits\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dfr018_Permits\";}s:5:\"title\";s:7:\"Permits\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Permits\";s:7:\"wrapped\";b:1;}}s:14:\"RCRACompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr078\";}s:7:\"Reports\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dfr018_Reports\";}s:15:\"SDWISCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr081\";}s:3:\"SIC\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr084\";}s:15:\"SanitarySurveys\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr086\";}s:10:\"SiteVisits\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr090\";}s:15:\"SpatialMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr094\";}s:18:\"SystemExtractDates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr095\";}s:10:\"TRIHistory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr098\";}s:11:\"TRIReleases\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr102\";}s:6:\"Tribes\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr105\";}s:5:\"title\";s:6:\"Tribes\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Tribes\";s:7:\"wrapped\";b:1;}}s:28:\"ViolationsEnforcementActions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr106\";}s:12:\"WaterQuality\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr111\";}s:19:\"WaterQualityDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dfr111_Details\";}s:16:\"WebFireDocuments\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/dfr018_WebFireDocuments\";}s:5:\"title\";s:18:\"Web
  Fire Documents\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"WebFireDocuments\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:16:\"dfr018_Summaries\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"Summaries
  Object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:5:\"Cases\";O:8:\"stdClass\":4:{s:11:\"description\";s:148:\"The
  number of EPA enforcement cases that have been brought against the facility, under
  the corresponding statute, within the designated time period.\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:10:\"Case
  Count\";s:4:\"type\";s:6:\"string\";}s:13:\"CurrentStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"The
  current status for the facility during the most current quarter. (No violation,
  noncompliance)\";s:7:\"example\";s:12:\"No Violation\";s:5:\"title\";s:14:\"Current
  Status\";s:4:\"type\";s:6:\"string\";}s:13:\"FormalActions\";O:8:\"stdClass\":4:{s:11:\"description\";s:149:\"The
  number of formal enforcement actions that have been taken against the facility,
  under the corresponding statute, within the five year time period\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:19:\"Formal
  Action Count\";s:4:\"type\";s:6:\"string\";}s:15:\"InformalActions\";O:8:\"stdClass\":4:{s:11:\"description\";s:151:\"The
  number of informal enforcement actions that have been taken against the facility,
  under the corresponding statute, within the five year time period\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:21:\"Informal
  Action Count\";s:4:\"type\";s:6:\"string\";}s:11:\"Inspections\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  number of inspections/compliance evaluations that have occurred at the facility,
  under the corresponding statute, within the designated time period\";s:5:\"title\";s:11:\"Inspections\";s:4:\"type\";s:6:\"string\";}s:14:\"LastInspection\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"The
  date on which the most recent inspection of the facility took place\";s:7:\"example\";s:10:\"07/24/2015\";s:5:\"title\";s:15:\"Last
  Inspection\";s:4:\"type\";s:6:\"string\";}s:8:\"QtrsInNC\";O:8:\"stdClass\":4:{s:11:\"description\";s:231:\"The
  number of quarters, out of the last twelve quarters, in which the permit or site
  is considered either with violations, in non-compliance (NC) status, or in Significant
  Noncompliance (SNC) or High Priority Violation (HPV) status\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:25:\"Quarters
  In Noncompliance\";s:4:\"type\";s:6:\"string\";}s:9:\"QtrsInSNC\";O:8:\"stdClass\":4:{s:11:\"description\";s:149:\"The
  number of formal enforcement actions that have been taken against the facility,
  under the corresponding statute, within the five year time period\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:37:\"Quarters
  In Significant Noncompliance\";s:4:\"type\";s:6:\"string\";}s:7:\"Statute\";O:8:\"stdClass\":4:{s:11:\"description\";s:416:\"The
  name of the statute associated with each of the permits and identifiers linked to
  the facility: \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA =
  the Resource Conservation and Recovery Act\n- EP313 = the Emergency Planning and
  Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory
  Program)\n- TSCA = the Toxic Substances Control Act\n- SDWA = the Safe Drinking
  Water Act\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:18:\"Regulatory Statute\";s:4:\"type\";s:6:\"string\";}s:18:\"TotalCasePenalties\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"??\";s:5:\"title\";s:21:\"Total
  Case Penalities\";s:4:\"type\";s:6:\"string\";}s:14:\"TotalPenalties\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  total dollar amount of either assessed or final penalties within the five year time
  period\";s:7:\"example\";s:8:\"$963,531\";s:5:\"title\";s:15:\"Total Penalties\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:11:{i:0;s:7:\"Statute\";i:1;s:11:\"Inspections\";i:2;s:14:\"LastInspection\";i:3;s:13:\"CurrentStatus\";i:4;s:8:\"QtrsInNC\";i:5;s:9:\"QtrsInSNC\";i:6;s:15:\"InformalActions\";i:7;s:13:\"FormalActions\";i:8;s:5:\"Cases\";i:9;s:14:\"TotalPenalties\";i:10;s:18:\"TotalCasePenalties\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Summaries\";}}s:23:\"dfr018_WebFireDocuments\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Web
  Fire Documents\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"DocumentLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"DocumentName\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"The
  most severe compliance status for an outfall and parameter during the entire selected
  date range\";s:7:\"example\";s:12:\"In Violation\";s:5:\"title\";s:29:\"Most Severe
  Compliance Status\";s:4:\"type\";s:6:\"string\";}s:12:\"DocumentType\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"The
  most severe compliance status for an outfall and parameter during the entire selected
  date range\";s:7:\"example\";s:12:\"In Violation\";s:5:\"title\";s:29:\"Most Severe
  Compliance Status\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityName\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  name of the facility.\";s:7:\"example\";s:10:\"3M COMPANY\";s:5:\"title\";s:13:\"Facility
  Name\";s:4:\"type\";s:6:\"string\";}s:10:\"RegistryId\";O:8:\"stdClass\":4:{s:11:\"description\";s:229:\"12-digit
  Facility Registry Service (FRS) identification number.  FRS uniquely identifies
  a facility by assigning an identification number (FRS ID), and uses this FRS ID
  to link together all EPA regulatory program database records\";s:7:\"example\";s:12:\"110020837601\";s:5:\"title\";s:15:\"FRS
  Registry ID\";s:4:\"type\";s:6:\"string\";}s:13:\"ReportDocType\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"The
  most severe compliance status for an outfall and parameter during the entire selected
  date range\";s:7:\"example\";s:12:\"In Violation\";s:5:\"title\";s:29:\"Most Severe
  Compliance Status\";s:4:\"type\";s:6:\"string\";}s:20:\"ReportSubmissionDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"The
  most severe compliance status for an outfall and parameter during the entire selected
  date range\";s:7:\"example\";s:12:\"In Violation\";s:5:\"title\";s:29:\"Most Severe
  Compliance Status\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:10:\"RegistryId\";i:1;s:12:\"FacilityName\";i:2;s:20:\"ReportSubmissionDate\";i:3;s:12:\"DocumentName\";i:4;s:13:\"ReportDocType\";i:5;s:12:\"DocumentType\";i:6;s:12:\"DocumentLink\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"WebFireDocuments\";}}s:6:\"dfr019\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Air
  Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr12Header\";}s:7:\"Sources\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/dfr020_s\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Sources\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:8:\"dfr020_s\";O:8:\"stdClass\":5:{s:11:\"description\";s:13:\"Source
  Object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"AFSPrograms\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/dfr020_s.AFSPrograms\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"AFSPrograms\";s:7:\"wrapped\";b:1;}}s:21:\"FRVProgramsPollutants\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/dfr020_s.FRVProgramsPollutants\";}s:5:\"title\";s:23:\"FRV
  Programs Pollutants\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"FRVProgramsPollutants\";s:7:\"wrapped\";b:1;}}s:10:\"HPVHistory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr12Status\";}s:21:\"HPVProgramsPollutants\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/dfr020_s.HPVProgramsPollutants\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"HPVProgramsPollutants\";s:7:\"wrapped\";b:1;}}s:13:\"PermitHistory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr12Status\";}}s:8:\"required\";a:5:{i:0;s:13:\"PermitHistory\";i:1;s:10:\"HPVHistory\";i:2;s:21:\"HPVProgramsPollutants\";i:3;s:21:\"FRVProgramsPollutants\";i:4;s:11:\"AFSPrograms\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Sources\";}}s:20:\"dfr020_s.AFSPrograms\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"AFS
  Program Object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:11:\"AirPrograms\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"AIR
  Programs\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:14:{i:0;s:8:\"SourceID\";i:1;s:11:\"AirPrograms\";i:2;s:10:\"Qtr1Status\";i:3;s:10:\"Qtr2Status\";i:4;s:10:\"Qtr3Status\";i:5;s:10:\"Qtr4Status\";i:6;s:10:\"Qtr5Status\";i:7;s:10:\"Qtr6Status\";i:8;s:10:\"Qtr7Status\";i:9;s:10:\"Qtr8Status\";i:10;s:10:\"Qtr9Status\";i:11;s:11:\"Qtr10Status\";i:12;s:11:\"Qtr11Status\";i:13;s:11:\"Qtr12Status\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"AFSPrograms\";}}s:30:\"dfr020_s.FRVProgramsPollutants\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"FRV
  Programs Pollutant Object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"Agency\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Identifies
  the lead agency (e.g., EPA, State) conducting the inspection. \nValues: State abbreviation
  or \"EPA\"\";s:7:\"example\";s:5:\"State\";s:5:\"title\";s:6:\"Agency\";s:4:\"type\";s:6:\"string\";}s:13:\"AirPollutants\";O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"AIR
  Pollutants\";s:4:\"type\";s:6:\"string\";}s:11:\"AirPrograms\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"AIR
  Programs\";s:4:\"type\";s:6:\"string\";}s:7:\"ERPType\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Air
  Facility System (AFS) ID.\";s:7:\"example\";s:18:\"VA0000005151044014\";s:5:\"title\";s:43:\"Enforcement
  Response Policy Type Identifier\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:17:{i:0;s:8:\"SourceID\";i:1;s:7:\"ERPType\";i:2;s:11:\"AirPrograms\";i:3;s:13:\"AirPollutants\";i:4;s:10:\"Qtr1Status\";i:5;s:10:\"Qtr2Status\";i:6;s:10:\"Qtr3Status\";i:7;s:10:\"Qtr4Status\";i:8;s:10:\"Qtr5Status\";i:9;s:10:\"Qtr6Status\";i:10;s:10:\"Qtr7Status\";i:11;s:10:\"Qtr8Status\";i:12;s:10:\"Qtr9Status\";i:13;s:11:\"Qtr10Status\";i:14;s:11:\"Qtr11Status\";i:15;s:11:\"Qtr12Status\";i:16;s:6:\"Agency\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:21:\"FRVProgramsPollutants\";}}s:30:\"dfr020_s.HPVProgramsPollutants\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"HPV
  Programs Pollutant Object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"Agency\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Identifies
  the lead agency (e.g., EPA, State) conducting the inspection. \nValues: State abbreviation
  or \"EPA\"\";s:7:\"example\";s:5:\"State\";s:5:\"title\";s:6:\"Agency\";s:4:\"type\";s:6:\"string\";}s:13:\"AirPollutants\";O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"AIR
  Pollutants\";s:4:\"type\";s:6:\"string\";}s:11:\"AirPrograms\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"AIR
  Programs\";s:4:\"type\";s:6:\"string\";}s:7:\"ERPType\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Air
  Facility System (AFS) ID.\";s:7:\"example\";s:18:\"VA0000005151044014\";s:5:\"title\";s:43:\"Enforcement
  Response Policy Type Identifier\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:17:{i:0;s:8:\"SourceID\";i:1;s:7:\"ERPType\";i:2;s:11:\"AirPrograms\";i:3;s:13:\"AirPollutants\";i:4;s:10:\"Qtr1Status\";i:5;s:10:\"Qtr2Status\";i:6;s:10:\"Qtr3Status\";i:7;s:10:\"Qtr4Status\";i:8;s:10:\"Qtr5Status\";i:9;s:10:\"Qtr6Status\";i:10;s:10:\"Qtr7Status\";i:11;s:10:\"Qtr8Status\";i:12;s:10:\"Qtr9Status\";i:13;s:11:\"Qtr10Status\";i:14;s:11:\"Qtr11Status\";i:15;s:11:\"Qtr12Status\";i:16;s:6:\"Agency\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:21:\"HPVProgramsPollutants\";}}s:6:\"dfr024\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Air
  Quality Object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"Lead2008Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:20:\"Washington, DC-MD-VA\";s:5:\"title\";s:16:\"Lead Area
  - 2008\";s:4:\"type\";s:6:\"string\";}s:16:\"Ozone8hr1997Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:20:\"Milwaukee-Racine, WI\";s:5:\"title\";s:28:\"Eight
  Hour Ozone Area - 1997\";s:4:\"type\";s:6:\"string\";}s:16:\"Ozone8hr2008Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:28:\"Chicago-Naperville, IL-IN-WI\";s:5:\"title\";s:28:\"Eight
  Hour Ozone Area - 2008\";s:4:\"type\";s:6:\"string\";}s:25:\"ParticulateMatter1997Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:20:\"Washington, DC-MD-VA\";s:5:\"title\";s:30:\"Particulate
  Matter Area - 1997\";s:4:\"type\";s:6:\"string\";}s:25:\"ParticulateMatter2006Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:20:\"Washington, DC-MD-VA\";s:5:\"title\";s:30:\"Particulate
  Matter Area - 2006\";s:4:\"type\";s:6:\"string\";}s:21:\"SulfurDioxide2010Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:20:\"Washington, DC-MD-VA\";s:5:\"title\";s:26:\"Sulfur
  Dioxide Area - 2010\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"dfr025\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"CWA
  3-Year Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr026\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Sources\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:6:\"dfr026\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"CWA
  3-Year Compliance Sources Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Status\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Status\";}s:5:\"title\";s:6:\"Status\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Status\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:1:{i:0;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Sources\";}}s:6:\"dfr027\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"CWA
  3-Year D80D90 Counts\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr029\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Sources\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:6:\"dfr029\";O:8:\"stdClass\":5:{s:11:\"description\";s:32:\"CWA
  3-Year D80D90 Sources Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Status\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr030\";}s:5:\"title\";s:6:\"Status\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Status\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:1:{i:0;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Sources\";}}s:6:\"dfr030\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Status
  Object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"MissingLate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:15:{i:0;s:8:\"SourceID\";i:1;s:11:\"MissingLate\";i:2;s:9:\"Qtr1Count\";i:3;s:9:\"Qtr2Count\";i:4;s:9:\"Qtr3Count\";i:5;s:9:\"Qtr4Count\";i:6;s:9:\"Qtr5Count\";i:7;s:9:\"Qtr6Count\";i:8;s:9:\"Qtr7Count\";i:9;s:9:\"Qtr8Count\";i:10;s:9:\"Qtr9Count\";i:11;s:10:\"Qtr10Count\";i:12;s:10:\"Qtr11Count\";i:13;s:10:\"Qtr12Count\";i:14;s:10:\"Qtr13Count\";}s:4:\"type\";s:6:\"object\";}s:6:\"dfr031\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"CWA
  CS Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr032\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Sources\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:6:\"dfr032\";O:8:\"stdClass\":5:{s:11:\"description\";s:14:\"Sources
  Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Violations\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr034\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Violations\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:1:{i:0;s:10:\"Violations\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Sources\";}}s:6:\"dfr034\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Violations
  Object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:16:\"NPDESViolationId\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  unique identifier in ICIS-NPDES for the NPDES Violation\";s:7:\"example\";s:10:\"3401214483\";s:5:\"title\";s:18:\"NPDES
  Violation ID\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  10 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  11 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  12 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr13Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  13 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  13 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  1 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  2 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  3 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  4 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  5 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  6 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  7 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  8 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  9 Value\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"ViolationDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"A
  description of which type of violation has occurred\";s:7:\"example\";s:18:\"Effluent
  Violation\";s:5:\"title\";s:9:\"Violation\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:29:{i:0;s:8:\"SourceID\";i:1;s:13:\"ViolationDesc\";i:2;s:16:\"NPDESViolationId\";i:3;s:10:\"Qtr1Status\";i:4;s:9:\"Qtr1Value\";i:5;s:10:\"Qtr2Status\";i:6;s:9:\"Qtr2Value\";i:7;s:10:\"Qtr3Status\";i:8;s:9:\"Qtr3Value\";i:9;s:10:\"Qtr4Status\";i:10;s:9:\"Qtr4Value\";i:11;s:10:\"Qtr5Status\";i:12;s:9:\"Qtr5Value\";i:13;s:10:\"Qtr6Status\";i:14;s:9:\"Qtr6Value\";i:15;s:10:\"Qtr7Status\";i:16;s:9:\"Qtr7Value\";i:17;s:10:\"Qtr8Status\";i:18;s:9:\"Qtr8Value\";i:19;s:10:\"Qtr9Status\";i:20;s:9:\"Qtr9Value\";i:21;s:11:\"Qtr10Status\";i:22;s:10:\"Qtr10Value\";i:23;s:11:\"Qtr11Status\";i:24;s:10:\"Qtr11Value\";i:25;s:11:\"Qtr12Status\";i:26;s:10:\"Qtr12Value\";i:27;s:11:\"Qtr13Status\";i:28;s:10:\"Qtr13Value\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"Violations\";}}s:6:\"dfr035\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"CWA
  Effluent ALR Exceedences Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr037\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Sources\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:6:\"dfr036\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"Parameter
  Object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:14:\"DischargePoint\";O:8:\"stdClass\":3:{s:7:\"example\";s:4:\"001Q\";s:5:\"title\";s:15:\"Discharge
  Point\";s:4:\"type\";s:6:\"string\";}s:15:\"MeasurementType\";O:8:\"stdClass\":3:{s:7:\"example\";s:4:\"NMth\";s:5:\"title\";s:16:\"Measurement
  Type\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:184:\"The
  unique 5 digit numeric code identifying the parameter. If the code is less than
  5 digits in the .CSV, append zeros to the beginning of the number (e.g., 100 is
  equivalent to 00100)\";s:7:\"example\";s:5:\"00400\";s:5:\"title\";s:14:\"Parameter
  Code\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterName\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  pollutant name.\";s:7:\"example\";s:19:\"Iron, total [as Fe]\";s:5:\"title\";s:14:\"Parameter
  Name\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  10 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  11 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  12 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  13 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  1 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  2 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  3 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  4 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  5 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  6 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  7 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  8 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  9 Value\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:18:{i:0;s:8:\"SourceID\";i:1;s:13:\"ParameterCode\";i:2;s:13:\"ParameterName\";i:3;s:14:\"DischargePoint\";i:4;s:15:\"MeasurementType\";i:5;s:9:\"Qtr1Value\";i:6;s:9:\"Qtr2Value\";i:7;s:9:\"Qtr3Value\";i:8;s:9:\"Qtr4Value\";i:9;s:9:\"Qtr5Value\";i:10;s:9:\"Qtr6Value\";i:11;s:9:\"Qtr7Value\";i:12;s:9:\"Qtr8Value\";i:13;s:9:\"Qtr9Value\";i:14;s:10:\"Qtr10Value\";i:15;s:10:\"Qtr11Value\";i:16;s:10:\"Qtr12Value\";i:17;s:10:\"Qtr13Value\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"Parameters\";}}s:6:\"dfr037\";O:8:\"stdClass\":5:{s:11:\"description\";s:14:\"Sources
  Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Parameters\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr036\";}s:5:\"title\";s:10:\"Parameters\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Parameters\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:1:{i:0;s:10:\"Parameters\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Sources\";}}s:6:\"dfr038\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"CWA
  Effluent Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr041\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Sources\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:6:\"dfr040\";O:8:\"stdClass\":5:{s:11:\"description\";s:40:\"CWA
  Effluent Compliance Parameter Object\";s:10:\"properties\";O:8:\"stdClass\":109:{s:14:\"DischargePoint\";O:8:\"stdClass\":3:{s:7:\"example\";s:4:\"001Q\";s:5:\"title\";s:15:\"Discharge
  Point\";s:4:\"type\";s:6:\"string\";}s:15:\"MeasurementType\";O:8:\"stdClass\":3:{s:7:\"example\";s:4:\"NMth\";s:5:\"title\";s:16:\"Measurement
  Type\";s:4:\"type\";s:6:\"string\";}s:12:\"Mnth10Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth10Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth11Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth11Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth12Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth12Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth13Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth13Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth14Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth14Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth15Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth15Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth16Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth16Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth17Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth17Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth18Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth18Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth19Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth19Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth1Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Mnth1Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth20Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth20Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth21Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth21Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth22Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth22Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth23Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth23Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth24Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth24Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth25Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth25Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth26Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth26Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth27Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth27Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth28Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth28Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth29Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth29Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth2Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Mnth2Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth30Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth30Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth31Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth31Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth32Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth32Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth33Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth33Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth34Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth34Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth35Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth35Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth36Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth36Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth37Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth37Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth38Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth38Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Mnth39Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth39Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth3Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Mnth3Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth4Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Mnth4Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth5Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Mnth5Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth6Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Mnth6Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth7Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Mnth7Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth8Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Mnth8Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Mnth9Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Mnth9Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ParameterCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:184:\"The
  unique 5 digit numeric code identifying the parameter. If the code is less than
  5 digits in the .CSV, append zeros to the beginning of the number (e.g., 100 is
  equivalent to 00100)\";s:7:\"example\";s:5:\"00400\";s:5:\"title\";s:14:\"Parameter
  Code\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterName\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  pollutant name.\";s:7:\"example\";s:19:\"Iron, total [as Fe]\";s:5:\"title\";s:14:\"Parameter
  Name\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  10 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  11 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  12 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr13Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  13 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  13 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  1 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  2 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  3 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  4 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  5 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  6 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  7 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  8 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  9 Value\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:109:{i:0;s:8:\"SourceID\";i:1;s:13:\"ParameterCode\";i:2;s:13:\"ParameterName\";i:3;s:14:\"DischargePoint\";i:4;s:15:\"MeasurementType\";i:5;s:10:\"Qtr1Status\";i:6;s:9:\"Qtr1Value\";i:7;s:10:\"Qtr2Status\";i:8;s:9:\"Qtr2Value\";i:9;s:10:\"Qtr3Status\";i:10;s:9:\"Qtr3Value\";i:11;s:10:\"Qtr4Status\";i:12;s:9:\"Qtr4Value\";i:13;s:10:\"Qtr5Status\";i:14;s:9:\"Qtr5Value\";i:15;s:10:\"Qtr6Status\";i:16;s:9:\"Qtr6Value\";i:17;s:10:\"Qtr7Status\";i:18;s:9:\"Qtr7Value\";i:19;s:10:\"Qtr8Status\";i:20;s:9:\"Qtr8Value\";i:21;s:10:\"Qtr9Status\";i:22;s:9:\"Qtr9Value\";i:23;s:11:\"Qtr10Status\";i:24;s:10:\"Qtr10Value\";i:25;s:11:\"Qtr11Status\";i:26;s:10:\"Qtr11Value\";i:27;s:11:\"Qtr12Status\";i:28;s:10:\"Qtr12Value\";i:29;s:11:\"Qtr13Status\";i:30;s:10:\"Qtr13Value\";i:31;s:11:\"Mnth1Status\";i:32;s:10:\"Mnth1Value\";i:33;s:11:\"Mnth2Status\";i:34;s:10:\"Mnth2Value\";i:35;s:11:\"Mnth3Status\";i:36;s:10:\"Mnth3Value\";i:37;s:11:\"Mnth4Status\";i:38;s:10:\"Mnth4Value\";i:39;s:11:\"Mnth5Status\";i:40;s:10:\"Mnth5Value\";i:41;s:11:\"Mnth6Status\";i:42;s:10:\"Mnth6Value\";i:43;s:11:\"Mnth7Status\";i:44;s:10:\"Mnth7Value\";i:45;s:11:\"Mnth8Status\";i:46;s:10:\"Mnth8Value\";i:47;s:11:\"Mnth9Status\";i:48;s:10:\"Mnth9Value\";i:49;s:12:\"Mnth10Status\";i:50;s:11:\"Mnth10Value\";i:51;s:12:\"Mnth11Status\";i:52;s:11:\"Mnth11Value\";i:53;s:12:\"Mnth12Status\";i:54;s:11:\"Mnth12Value\";i:55;s:12:\"Mnth13Status\";i:56;s:11:\"Mnth13Value\";i:57;s:12:\"Mnth14Status\";i:58;s:11:\"Mnth14Value\";i:59;s:12:\"Mnth15Status\";i:60;s:11:\"Mnth15Value\";i:61;s:12:\"Mnth16Status\";i:62;s:11:\"Mnth16Value\";i:63;s:12:\"Mnth17Status\";i:64;s:11:\"Mnth17Value\";i:65;s:12:\"Mnth18Status\";i:66;s:11:\"Mnth18Value\";i:67;s:12:\"Mnth19Status\";i:68;s:11:\"Mnth19Value\";i:69;s:12:\"Mnth20Status\";i:70;s:11:\"Mnth20Value\";i:71;s:12:\"Mnth21Status\";i:72;s:11:\"Mnth21Value\";i:73;s:12:\"Mnth22Status\";i:74;s:11:\"Mnth22Value\";i:75;s:12:\"Mnth23Status\";i:76;s:11:\"Mnth23Value\";i:77;s:12:\"Mnth24Status\";i:78;s:11:\"Mnth24Value\";i:79;s:12:\"Mnth25Status\";i:80;s:11:\"Mnth25Value\";i:81;s:12:\"Mnth26Status\";i:82;s:11:\"Mnth26Value\";i:83;s:12:\"Mnth27Status\";i:84;s:11:\"Mnth27Value\";i:85;s:12:\"Mnth28Status\";i:86;s:11:\"Mnth28Value\";i:87;s:12:\"Mnth29Status\";i:88;s:11:\"Mnth29Value\";i:89;s:12:\"Mnth30Status\";i:90;s:11:\"Mnth30Value\";i:91;s:12:\"Mnth31Status\";i:92;s:11:\"Mnth31Value\";i:93;s:12:\"Mnth32Status\";i:94;s:11:\"Mnth32Value\";i:95;s:12:\"Mnth33Status\";i:96;s:11:\"Mnth33Value\";i:97;s:12:\"Mnth34Status\";i:98;s:11:\"Mnth34Value\";i:99;s:12:\"Mnth35Status\";i:100;s:11:\"Mnth35Value\";i:101;s:12:\"Mnth36Status\";i:102;s:11:\"Mnth36Value\";i:103;s:12:\"Mnth37Status\";i:104;s:11:\"Mnth37Value\";i:105;s:12:\"Mnth38Status\";i:106;s:11:\"Mnth38Value\";i:107;s:12:\"Mnth39Status\";i:108;s:11:\"Mnth39Value\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"Parameters\";}}s:6:\"dfr041\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"CWA
  Effluent Compliance Sources Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Parameters\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr040\";}s:5:\"title\";s:10:\"Parameters\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Parameters\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Sources\";}}s:6:\"dfr042\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"CWA
  PS Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr043\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Sources\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:6:\"dfr043\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"CWA
  PS Compliance Violation Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Violations\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr045\";}s:5:\"title\";s:10:\"Violations\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Violations\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:1:{i:0;s:10:\"Violations\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Sources\";}}s:6:\"dfr045\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"CWA
  PS Compliance Violations Object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:16:\"NPDESViolationId\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  unique identifier in ICIS-NPDES for the NPDES Violation\";s:7:\"example\";s:10:\"3401214483\";s:5:\"title\";s:18:\"NPDES
  Violation ID\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  10 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  11 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  12 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr13Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  13 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  13 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  1 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  2 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  3 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  4 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  5 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  6 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  7 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  8 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  9 Value\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"ViolationDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"A
  description of which type of violation has occurred\";s:7:\"example\";s:18:\"Effluent
  Violation\";s:5:\"title\";s:9:\"Violation\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:29:{i:0;s:8:\"SourceID\";i:1;s:13:\"ViolationDesc\";i:2;s:16:\"NPDESViolationId\";i:3;s:10:\"Qtr1Status\";i:4;s:9:\"Qtr1Value\";i:5;s:10:\"Qtr2Status\";i:6;s:9:\"Qtr2Value\";i:7;s:10:\"Qtr3Status\";i:8;s:9:\"Qtr3Value\";i:9;s:10:\"Qtr4Status\";i:10;s:9:\"Qtr4Value\";i:11;s:10:\"Qtr5Status\";i:12;s:9:\"Qtr5Value\";i:13;s:10:\"Qtr6Status\";i:14;s:9:\"Qtr6Value\";i:15;s:10:\"Qtr7Status\";i:16;s:9:\"Qtr7Value\";i:17;s:10:\"Qtr8Status\";i:18;s:9:\"Qtr8Value\";i:19;s:10:\"Qtr9Status\";i:20;s:9:\"Qtr9Value\";i:21;s:11:\"Qtr10Status\";i:22;s:10:\"Qtr10Value\";i:23;s:11:\"Qtr11Status\";i:24;s:10:\"Qtr11Value\";i:25;s:11:\"Qtr12Status\";i:26;s:10:\"Qtr12Value\";i:27;s:11:\"Qtr13Status\";i:28;s:10:\"Qtr13Value\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"Violations\";}}s:6:\"dfr046\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"CWA
  RNC Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/dfr0_Qtr12Header39\";}s:7:\"Sources\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dfr047_.Status\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Sources\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:14:\"dfr047_.Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"CWA
  RNC Compliance Statuses Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Status\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr12Status\";}s:5:\"title\";s:6:\"Status\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Status\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:6:\"Status\";}}s:6:\"dfr049\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"CWA
  SE Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr050\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Sources\";s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:6:\"dfr050\";O:8:\"stdClass\":5:{s:11:\"description\";s:32:\"CWA
  SE Compliance Sources Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Violations\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/dfr051\";}s:5:\"title\";s:10:\"Violations\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Violations\";s:7:\"wrapped\";b:1;}}}s:8:\"required\";a:1:{i:0;s:10:\"Violations\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Sources\";}}s:6:\"dfr051\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"CWA
  SE Compliance Violations Object\";s:10:\"properties\";O:8:\"stdClass\":30:{s:6:\"Agency\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Identifies
  the lead agency (e.g., EPA, State) conducting the inspection. \nValues: State abbreviation
  or \"EPA\"\";s:7:\"example\";s:5:\"State\";s:5:\"title\";s:6:\"Agency\";s:4:\"type\";s:6:\"string\";}s:16:\"NPDESViolationId\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  unique identifier in ICIS-NPDES for the NPDES Violation\";s:7:\"example\";s:10:\"3401214483\";s:5:\"title\";s:18:\"NPDES
  Violation ID\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  10 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  11 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  12 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr13Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  13 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  13 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  1 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  2 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  3 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  4 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  5 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  6 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  7 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  8 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  9 Value\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
[...]
