---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US
  EPA, OECA Integration, Targeting and Access Branch\";}s:11:\"description\";s:1189:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated
  compliance and enforcement information for about 800,000 regulated facilities nationwide.\n<BR><BR>DFR
  Rest Services provide multiple service endpoints, to retrieve detailed facility
  location, enforcement, compliance monitoring, and pollutant information for any
  single facility.  See the Detailed Facility Report (DFR) Help Page (https://echo.epa.gov/help/reports/detailed-facility-report-help)
  for additional information on the DFR.  Additionally, a Data Dictionary (https://echo.epa.gov/help/reports/dfr-data-dictionary)
  is also available.<BR><BR>\nThere is one primary service end point, get_dfr, that
  provides all available DFR data.  All other service end points that are exposed,
  will return data on a single section of the DFR. <br>  \n<br>\nAdditional ECHO Resources:
  \  <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About
  ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n<br>\n\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:5:\"title\";s:90:\"U.S.
  EPA Enforcement and Compliance History Online (ECHO) - Detailed Facility Report
  (DFR)\";s:7:\"version\";s:5:\"0.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:62:\"https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=DFR\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"epa.gov\";s:13:\"x-serviceName\";s:3:\"dfr\";}"
host: ofmpub.epa.gov
basePath: /echo
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":122:{s:16:\"dfr0_Qtr12Header\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Header
  Object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:8:\"Qtr10End\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Date
  indicating the end of Quarter 10.\";s:7:\"example\";s:10:\"12/31/2015\";s:5:\"title\";s:19:\"Quarter
  10 End Date\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Date
  indicating the beginning of Quarter 10.\";s:7:\"example\";s:10:\"10/01/2015\";s:5:\"title\";s:21:\"Quarter
  10 Start Date\";s:4:\"type\";s:6:\"string\";}s:8:\"Qtr11End\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Date
  indicating the end of Quarter 11.\";s:7:\"example\";s:10:\"03/31/2016\";s:5:\"title\";s:19:\"Quarter
  11 End Date\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Date
  indicating the beginning of Quarter 11.\";s:7:\"example\";s:10:\"01/01/2016\";s:5:\"title\";s:21:\"Quarter
  11 Start Date\";s:4:\"type\";s:6:\"string\";}s:8:\"Qtr12End\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Date
  indicating the end of Quarter 12.\";s:7:\"example\";s:10:\"06/30/2016\";s:5:\"title\";s:19:\"Quarter
  12 End Date\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Date
  indicating the beginning of Quarter 12.\";s:7:\"example\";s:10:\"04/01/2016\";s:5:\"title\";s:21:\"Quarter
  12 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr1End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 1.\";s:7:\"example\";s:10:\"09/30/2013\";s:5:\"title\";s:18:\"Quarter
  1 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 1.\";s:7:\"example\";s:10:\"07/01/2013\";s:5:\"title\";s:20:\"Quarter
  1 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr2End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 2.\";s:7:\"example\";s:10:\"12/31/2013\";s:5:\"title\";s:18:\"Quarter
  2 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 2.\";s:7:\"example\";s:10:\"10/01/2013\";s:5:\"title\";s:20:\"Quarter
  2 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr3End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 3.\";s:7:\"example\";s:10:\"03/31/2014\";s:5:\"title\";s:18:\"Quarter
  3 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 3.\";s:7:\"example\";s:10:\"01/01/2014\";s:5:\"title\";s:20:\"Quarter
  3 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr4End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 4.\";s:7:\"example\";s:10:\"06/30/2014\";s:5:\"title\";s:18:\"Quarter
  4 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 4.\";s:7:\"example\";s:10:\"04/01/2014\";s:5:\"title\";s:20:\"Quarter
  4 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr5End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 5.\";s:7:\"example\";s:10:\"09/30/2014\";s:5:\"title\";s:18:\"Quarter
  5 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 5.\";s:7:\"example\";s:10:\"07/01/2014\";s:5:\"title\";s:20:\"Quarter
  5 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr6End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 6.\";s:7:\"example\";s:10:\"12/31/2014\";s:5:\"title\";s:18:\"Quarter
  6 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 6.\";s:7:\"example\";s:10:\"10/01/2014\";s:5:\"title\";s:20:\"Quarter
  6 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr7End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 7.\";s:7:\"example\";s:10:\"03/31/2015\";s:5:\"title\";s:18:\"Quarter
  7 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 7.\";s:7:\"example\";s:10:\"01/01/2015\";s:5:\"title\";s:20:\"Quarter
  7 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr8End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 8.\";s:7:\"example\";s:10:\"06/30/2015\";s:5:\"title\";s:18:\"Quarter
  8 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 8.\";s:7:\"example\";s:10:\"04/01/2015\";s:5:\"title\";s:20:\"Quarter
  8 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr9End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 9.\";s:7:\"example\";s:10:\"09/30/2015\";s:5:\"title\";s:18:\"Quarter
  9 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 9.\";s:7:\"example\";s:10:\"07/01/2015\";s:5:\"title\";s:20:\"Quarter
  9 Start Date\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:24:{i:0;s:9:\"Qtr1Start\";i:1;s:7:\"Qtr1End\";i:2;s:9:\"Qtr2Start\";i:3;s:7:\"Qtr2End\";i:4;s:9:\"Qtr3Start\";i:5;s:7:\"Qtr3End\";i:6;s:9:\"Qtr4Start\";i:7;s:7:\"Qtr4End\";i:8;s:9:\"Qtr5Start\";i:9;s:7:\"Qtr5End\";i:10;s:9:\"Qtr6Start\";i:11;s:7:\"Qtr6End\";i:12;s:9:\"Qtr7Start\";i:13;s:7:\"Qtr7End\";i:14;s:9:\"Qtr8Start\";i:15;s:7:\"Qtr8End\";i:16;s:9:\"Qtr9Start\";i:17;s:7:\"Qtr9End\";i:18;s:10:\"Qtr10Start\";i:19;s:8:\"Qtr10End\";i:20;s:10:\"Qtr11Start\";i:21;s:8:\"Qtr11End\";i:22;s:10:\"Qtr12Start\";i:23;s:8:\"Qtr12End\";}s:4:\"type\";s:6:\"object\";}s:16:\"dfr0_Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Status
  Object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:13:{i:0;s:8:\"SourceID\";i:1;s:10:\"Qtr1Status\";i:2;s:10:\"Qtr2Status\";i:3;s:10:\"Qtr3Status\";i:4;s:10:\"Qtr4Status\";i:5;s:10:\"Qtr5Status\";i:6;s:10:\"Qtr6Status\";i:7;s:10:\"Qtr7Status\";i:8;s:10:\"Qtr8Status\";i:9;s:10:\"Qtr9Status\";i:10;s:11:\"Qtr10Status\";i:11;s:11:\"Qtr11Status\";i:12;s:11:\"Qtr12Status\";}s:4:\"type\";s:6:\"object\";}s:16:\"dfr0_Qtr13Header\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Header
  Object\";s:10:\"properties\";O:8:\"stdClass\":26:{s:8:\"Qtr10End\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Date
  indicating the end of Quarter 10.\";s:7:\"example\";s:10:\"12/31/2015\";s:5:\"title\";s:19:\"Quarter
  10 End Date\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Date
  indicating the beginning of Quarter 10.\";s:7:\"example\";s:10:\"10/01/2015\";s:5:\"title\";s:21:\"Quarter
  10 Start Date\";s:4:\"type\";s:6:\"string\";}s:8:\"Qtr11End\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Date
  indicating the end of Quarter 11.\";s:7:\"example\";s:10:\"03/31/2016\";s:5:\"title\";s:19:\"Quarter
  11 End Date\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Date
  indicating the beginning of Quarter 11.\";s:7:\"example\";s:10:\"01/01/2016\";s:5:\"title\";s:21:\"Quarter
  11 Start Date\";s:4:\"type\";s:6:\"string\";}s:8:\"Qtr12End\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Date
  indicating the end of Quarter 12.\";s:7:\"example\";s:10:\"06/30/2016\";s:5:\"title\";s:19:\"Quarter
  12 End Date\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Date
  indicating the beginning of Quarter 12.\";s:7:\"example\";s:10:\"04/01/2016\";s:5:\"title\";s:21:\"Quarter
  12 Start Date\";s:4:\"type\";s:6:\"string\";}s:8:\"Qtr13End\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Date
  indicating the end of Quarter 13.\";s:7:\"example\";s:10:\"09/30/2016\";s:5:\"title\";s:19:\"Quarter
  13 End Date\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Date
  indicating the beginning of Quarter 13.\";s:7:\"example\";s:9:\"07/1/2016\";s:5:\"title\";s:21:\"Quarter
  13 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr1End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 1.\";s:7:\"example\";s:10:\"09/30/2013\";s:5:\"title\";s:18:\"Quarter
  1 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 1.\";s:7:\"example\";s:10:\"07/01/2013\";s:5:\"title\";s:20:\"Quarter
  1 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr2End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 2.\";s:7:\"example\";s:10:\"12/31/2013\";s:5:\"title\";s:18:\"Quarter
  2 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 2.\";s:7:\"example\";s:10:\"10/01/2013\";s:5:\"title\";s:20:\"Quarter
  2 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr3End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 3.\";s:7:\"example\";s:10:\"03/31/2014\";s:5:\"title\";s:18:\"Quarter
  3 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 3.\";s:7:\"example\";s:10:\"01/01/2014\";s:5:\"title\";s:20:\"Quarter
  3 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr4End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 4.\";s:7:\"example\";s:10:\"06/30/2014\";s:5:\"title\";s:18:\"Quarter
  4 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 4.\";s:7:\"example\";s:10:\"04/01/2014\";s:5:\"title\";s:20:\"Quarter
  4 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr5End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 5.\";s:7:\"example\";s:10:\"09/30/2014\";s:5:\"title\";s:18:\"Quarter
  5 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 5.\";s:7:\"example\";s:10:\"07/01/2014\";s:5:\"title\";s:20:\"Quarter
  5 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr6End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 6.\";s:7:\"example\";s:10:\"12/31/2014\";s:5:\"title\";s:18:\"Quarter
  6 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 6.\";s:7:\"example\";s:10:\"10/01/2014\";s:5:\"title\";s:20:\"Quarter
  6 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr7End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 7.\";s:7:\"example\";s:10:\"03/31/2015\";s:5:\"title\";s:18:\"Quarter
  7 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 7.\";s:7:\"example\";s:10:\"01/01/2015\";s:5:\"title\";s:20:\"Quarter
  7 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr8End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 8.\";s:7:\"example\";s:10:\"06/30/2015\";s:5:\"title\";s:18:\"Quarter
  8 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 8.\";s:7:\"example\";s:10:\"04/01/2015\";s:5:\"title\";s:20:\"Quarter
  8 Start Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Qtr9End\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Date
  indicating the end of Quarter 9.\";s:7:\"example\";s:10:\"09/30/2015\";s:5:\"title\";s:18:\"Quarter
  9 End Date\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Start\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Date
  indicating the beginning of Quarter 9.\";s:7:\"example\";s:10:\"07/01/2015\";s:5:\"title\";s:20:\"Quarter
  9 Start Date\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:26:{i:0;s:9:\"Qtr1Start\";i:1;s:7:\"Qtr1End\";i:2;s:9:\"Qtr2Start\";i:3;s:7:\"Qtr2End\";i:4;s:9:\"Qtr3Start\";i:5;s:7:\"Qtr3End\";i:6;s:9:\"Qtr4Start\";i:7;s:7:\"Qtr4End\";i:8;s:9:\"Qtr5Start\";i:9;s:7:\"Qtr5End\";i:10;s:9:\"Qtr6Start\";i:11;s:7:\"Qtr6End\";i:12;s:9:\"Qtr7Start\";i:13;s:7:\"Qtr7End\";i:14;s:9:\"Qtr8Start\";i:15;s:7:\"Qtr8End\";i:16;s:9:\"Qtr9Start\";i:17;s:7:\"Qtr9End\";i:18;s:10:\"Qtr10Start\";i:19;s:8:\"Qtr10End\";i:20;s:10:\"Qtr11Start\";i:21;s:8:\"Qtr11End\";i:22;s:10:\"Qtr12Start\";i:23;s:8:\"Qtr12End\";i:24;s:10:\"Qtr13Start\";i:25;s:8:\"Qtr13End\";}s:4:\"type\";s:6:\"object\";}s:16:\"dfr0_Qtr13Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Status
  Object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr13Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  13 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:14:{i:0;s:8:\"SourceID\";i:1;s:10:\"Qtr1Status\";i:2;s:10:\"Qtr2Status\";i:3;s:10:\"Qtr3Status\";i:4;s:10:\"Qtr4Status\";i:5;s:10:\"Qtr5Status\";i:6;s:10:\"Qtr6Status\";i:7;s:10:\"Qtr7Status\";i:8;s:10:\"Qtr8Status\";i:9;s:10:\"Qtr9Status\";i:10;s:11:\"Qtr10Status\";i:11;s:11:\"Qtr11Status\";i:12;s:11:\"Qtr12Status\";i:13;s:11:\"Qtr13Status\";}s:4:\"type\";s:6:\"object\";}s:21:\"dfr10_CWACSCompliance\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"CWA
  CS Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr10_Violations\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"dfr10_Violation\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Violation
  Object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:16:\"NPDESViolationId\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  unique identifier in ICIS-NPDES for the NPDES Violation\";s:7:\"example\";s:10:\"3401214483\";s:5:\"title\";s:18:\"NPDES
  Violation ID\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  10 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  11 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  12 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr13Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  13 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  13 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  1 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  2 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  3 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  4 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  5 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  6 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  7 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  8 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  9 Value\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"ViolationDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"A
  description of which type of violation has occurred\";s:7:\"example\";s:18:\"Effluent
  Violation\";s:5:\"title\";s:9:\"Violation\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:29:{i:0;s:8:\"SourceID\";i:1;s:13:\"ViolationDesc\";i:2;s:16:\"NPDESViolationId\";i:3;s:10:\"Qtr1Status\";i:4;s:9:\"Qtr1Value\";i:5;s:10:\"Qtr2Status\";i:6;s:9:\"Qtr2Value\";i:7;s:10:\"Qtr3Status\";i:8;s:9:\"Qtr3Value\";i:9;s:10:\"Qtr4Status\";i:10;s:9:\"Qtr4Value\";i:11;s:10:\"Qtr5Status\";i:12;s:9:\"Qtr5Value\";i:13;s:10:\"Qtr6Status\";i:14;s:9:\"Qtr6Value\";i:15;s:10:\"Qtr7Status\";i:16;s:9:\"Qtr7Value\";i:17;s:10:\"Qtr8Status\";i:18;s:9:\"Qtr8Value\";i:19;s:10:\"Qtr9Status\";i:20;s:9:\"Qtr9Value\";i:21;s:11:\"Qtr10Status\";i:22;s:10:\"Qtr10Value\";i:23;s:11:\"Qtr11Status\";i:24;s:10:\"Qtr11Value\";i:25;s:11:\"Qtr12Status\";i:26;s:10:\"Qtr12Value\";i:27;s:11:\"Qtr13Status\";i:28;s:10:\"Qtr13Value\";}s:4:\"type\";s:6:\"object\";}s:16:\"dfr10_Violations\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Violations
  Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Violations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/dfr10_Violation\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:10:\"Violations\";}s:4:\"type\";s:6:\"object\";}s:12:\"dfr1_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"AirQuality\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/dfr6_AirQuality\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:12:\"dfr2_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ComplianceHistory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/dfrV_ComplianceHistory\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:12:\"dfr3_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ComplianceSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/dfrD_ComplianceSummary\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:18:\"dfr4_CAEDDocuments\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"CAED
  Documents\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Dummy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"dfr4_MapData\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Map
  Data Object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"ICON\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Name
  of each individual icon file within the URL base\";s:7:\"example\";s:15:\"CAA-IC-MN-N.png\";s:5:\"title\";s:4:\"Icon\";s:4:\"type\";s:6:\"string\";}s:3:\"LAT\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  latitude of the facility in degrees, to four decimal places\";s:7:\"example\";s:9:\"38.798026\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:3:\"LON\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  longitude of the facility in degrees, to four decimal places\";s:7:\"example\";s:10:\"-77.062981\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:4:\"NAME\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"For
  DFR, this is the Facility name. The name corresponds to the TYPE value\";s:7:\"example\";s:34:\"VIRGINIA
  CONCRETE ALEXANDRIA PLANT\";s:5:\"title\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:3:\"PUV\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Pop
  up value. Combine with PopUpBaseURL to give the popup for the facility\";s:7:\"example\";s:12:\"110001891506\";s:5:\"title\";s:11:\"Popup
  Value\";s:4:\"type\";s:6:\"string\";}s:4:\"TYPE\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"For
  DFR, this is always facility\";s:7:\"example\";s:8:\"Facility\";s:5:\"title\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:3:\"LAT\";i:1;s:3:\"LON\";i:2;s:4:\"ICON\";i:3;s:4:\"TYPE\";i:4;s:4:\"NAME\";i:5;s:3:\"PUV\";}s:4:\"type\";s:6:\"object\";}s:26:\"dfr4_MultipleFRSFacilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Multiple
  FRS Facilities Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"RegistryIDs\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr4_RegistryIDs\";}s:5:\"title\";s:12:\"Registry
  IDs\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"dfr4_NAICS\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"NAICS
  Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Sources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/dfrz_NAICS\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"Sources\";}s:4:\"type\";s:6:\"object\";}s:12:\"dfr4_Permits\";O:8:\"stdClass\":5:{s:11:\"description\";s:14:\"Permits
  Object\";s:10:\"properties\";O:8:\"stdClass\":26:{s:13:\"AccuracyScore\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:5:\"17452\";s:5:\"title\";s:14:\"Accuracy
  Score\";s:4:\"type\";s:6:\"string\";}s:13:\"AccuracyValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:2:\"25\";s:5:\"title\";s:14:\"Accuracy
  Value\";s:4:\"type\";s:6:\"string\";}s:5:\"Areas\";O:8:\"stdClass\":4:{s:11:\"description\";s:177:\"Clean
  Air Act stationary source program subpart designation, Clean Water Act-NPDES permit
  component(s), and/or other Resource Conservation and Recovery Act designations,
  if any.\";s:7:\"example\";s:81:\"Total 2013 Facility Emissions in metric tons CO2e
  (excluding Biogenic CO2): 56962\";s:5:\"title\";s:5:\"Areas\";s:4:\"type\";s:6:\"string\";}s:11:\"CollectDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:29:\"ADDRESS
  MATCHING-HOUSE NUMBER\";s:5:\"title\";s:29:\"Collection Method Description\";s:4:\"type\";s:6:\"string\";}s:5:\"DQURL\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:3:\"???\";s:4:\"type\";s:6:\"string\";}s:9:\"EPARegion\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  EPA region in which the facility is located\";s:7:\"example\";s:2:\"04\";s:5:\"title\";s:10:\"EPA
  Region\";s:4:\"type\";s:6:\"string\";}s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:1568:\"The
  EPA data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";s:7:\"example\";s:3:\"ICP\";s:5:\"title\";s:15:\"EPA
  Data System\";s:4:\"type\";s:6:\"string\";}s:7:\"ExpDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Date
  on which a given permit is scheduled to expire\";s:7:\"example\";s:10:\"09/10/2005\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  city in which the facility is located\";s:7:\"example\";s:7:\"DECATUR\";s:5:\"title\";s:13:\"Facility
  City\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityName\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  name of the facility.\";s:7:\"example\";s:10:\"3M COMPANY\";s:5:\"title\";s:13:\"Facility
  Name\";s:4:\"type\";s:6:\"string\";}s:13:\"FacilityState\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  state in which the facility is located\";s:7:\"example\";s:2:\"AL\";s:5:\"title\";s:14:\"Facility
  State\";s:4:\"type\";s:6:\"string\";}s:14:\"FacilityStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:689:\"The
  Air Program Status is given for each source ID (Operating; Planned; Under construction;
  Temporarily closed;  Permanently closed; and Seasonal)\n\nFor CWA, the Permit Compliance
  System (PCS) designates a permitted facility as being Active or Inactive. Under
  the CWA, all facilities discharging pollutants from a point source (e.g., a pipe)
  to surface waters must have a NPDES permit. For CWA, ICISNPDES designates a permit
  as Effective, Administratively Continued, Expired, Not Needed, Pending, Retired,
  or Terminated. RCRA facilities (sites) are designated as Active or Inactive. The
  following provides RCRA site activity status definitions and explains site activity
  status designation.\";s:7:\"example\";s:9:\"Effective\";s:5:\"title\";s:15:\"Facility
  Status\";s:4:\"type\";s:6:\"string\";}s:14:\"FacilityStreet\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  street address of the facility\";s:7:\"example\";s:20:\"1400 STATE DOCKS RD.\";s:5:\"title\";s:15:\"Facility
  Street\";s:4:\"type\";s:6:\"string\";}s:11:\"FacilityZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  zip code of the area in which the facility is located\";s:7:\"example\";s:5:\"35609\";s:5:\"title\";s:16:\"Facility
  Zipcode\";s:4:\"type\";s:6:\"string\";}s:13:\"HasIcisSsoRpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:1:\"N\";s:4:\"type\";s:6:\"string\";}s:10:\"HdatumDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:5:\"NAD83\";s:5:\"title\";s:28:\"Horizontal
  Datum Description\";s:4:\"type\";s:6:\"string\";}s:13:\"IndianCountry\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Indicates
  whether the facility is located in Indian Country\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:14:\"Indian
  Country\";s:4:\"type\";s:6:\"string\";}s:8:\"Latitude\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"The
  latitude of the facility or permit holder as maintained in each data system.\";s:7:\"example\";s:9:\"34.606651\";s:6:\"format\";s:6:\"double\";s:5:\"title\";s:8:\"Latitude\";s:4:\"type\";s:6:\"string\";}s:9:\"Longitude\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"The
  longitude of the facility or permit holder as maintained in each data system\";s:7:\"example\";s:10:\"-86.982419\";s:6:\"format\";s:6:\"double\";s:5:\"title\";s:9:\"Longitude\";s:4:\"type\";s:6:\"string\";}s:5:\"NAICS\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  North American Industry Classification System codes\";s:7:\"example\";s:6:\"325211\";s:5:\"title\";s:10:\"NAICS
  Code\";s:4:\"type\";s:6:\"string\";}s:12:\"RefPointDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:2:\"??\";s:7:\"example\";s:24:\"Facility
  Center/Centroid\";s:5:\"title\";s:27:\"Reference Point Description\";s:4:\"type\";s:6:\"string\";}s:3:\"SIC\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Standard
  Industrial Classification codes\";s:7:\"example\";s:4:\"3081\";s:4:\"type\";s:6:\"string\";}s:5:\"Scale\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"??\";s:5:\"title\";s:5:\"Scale\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:7:\"Statute\";O:8:\"stdClass\":4:{s:11:\"description\";s:416:\"The
  name of the statute associated with each of the permits and identifiers linked to
  the facility: \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA =
  the Resource Conservation and Recovery Act\n- EP313 = the Emergency Planning and
  Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory
  Program)\n- TSCA = the Toxic Substances Control Act\n- SDWA = the Safe Drinking
  Water Act\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:18:\"Regulatory Statute\";s:4:\"type\";s:6:\"string\";}s:8:\"Universe\";O:8:\"stdClass\":4:{s:11:\"description\";s:1154:\"This
  field provides further description on type of permit or record for each data system
  as follows:\n- For CAA  = The program office defines each CAA Source ID and the
  associated permits as being Federally Reportable or Non-Federally Reportable. Under
  the CAA, federally reportable sources include majors, synthetic minors, NESHAP Part
  61 minors, minors with an unresolved High Priority Violation (HPV), with recent
  enforcement actions, or included on a Compliance Monitoring Strategy plan. The Clean
  Air Act requires that delegated agencies and EPA track all federally reportable
  sources in Air Facility System (AFS).\n- For CWA  = Each CWA Source ID or National
  Pollutant Discharge Elimination System (NPDES) permit is defined by the program
  office as a Major or Minor discharger.\n- For RCRA = RCRA Source ID or permits for
  Treatment, Storage and Disposal facilities are identified by TSD, Large Quantity
  Generators are identified by LQG. Other values include Permit Workload (PMT), Closure
  Workload (CLO), Small Quantity Generator Universe (SQG), Conditionally-Exempt Small
  Quantity Generator (CESQG), Post-Closure Workload (POST CL), and Transporters.\";s:7:\"example\";s:38:\"Minor:
  General Permit Covered Facility\";s:5:\"title\";s:8:\"Universe\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:26:{i:0;s:7:\"Statute\";i:1;s:9:\"EPASystem\";i:2;s:9:\"EPARegion\";i:3;s:8:\"SourceID\";i:4;s:12:\"FacilityName\";i:5;s:14:\"FacilityStreet\";i:6;s:12:\"FacilityCity\";i:7;s:13:\"FacilityState\";i:8;s:11:\"FacilityZip\";i:9;s:8:\"Universe\";i:10;s:5:\"Areas\";i:11;s:7:\"ExpDate\";i:12;s:8:\"Latitude\";i:13;s:9:\"Longitude\";i:14;s:13:\"IndianCountry\";i:15;s:3:\"SIC\";i:16;s:5:\"NAICS\";i:17;s:5:\"DQURL\";i:18;s:10:\"HdatumDesc\";i:19;s:11:\"CollectDesc\";i:20;s:12:\"RefPointDesc\";i:21;s:5:\"Scale\";i:22;s:13:\"AccuracyValue\";i:23;s:13:\"AccuracyScore\";i:24;s:13:\"HasIcisSsoRpt\";i:25;s:14:\"FacilityStatus\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Permits\";}}s:17:\"dfr4_ProgramDates\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"Program
  Dates Object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"EndDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"End
  date for the date range of interest. Formatted as mm/dd/yyyy\";s:7:\"example\";s:10:\"01/01/2016\";s:5:\"title\";s:8:\"End
  Date\";s:4:\"type\";s:6:\"string\";}s:7:\"Program\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  source database for the EPA programs information.\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:7:\"Program\";s:4:\"type\";s:6:\"string\";}s:9:\"StartDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Starting
  date for the date range of interest. Formatted as mm/dd/yyyy\";s:7:\"example\";s:10:\"01/01/2016\";s:5:\"title\";s:10:\"Start
  Date\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:7:\"Program\";i:1;s:9:\"StartDate\";i:2;s:7:\"EndDate\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"ProgramDates\";}}s:16:\"dfr4_RegistryIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Registry
  IDs Object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:1568:\"The
  EPA data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";s:7:\"example\";s:3:\"ICP\";s:5:\"title\";s:15:\"EPA
  Data System\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  city in which the facility is located\";s:7:\"example\";s:7:\"DECATUR\";s:5:\"title\";s:13:\"Facility
  City\";s:4:\"type\";s:6:\"string\";}s:14:\"FacilityCounty\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Facility
  County\";s:4:\"type\";s:6:\"string\";}s:12:\"FacilityName\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  name of the facility.\";s:7:\"example\";s:10:\"3M COMPANY\";s:5:\"title\";s:13:\"Facility
  Name\";s:4:\"type\";s:6:\"string\";}s:13:\"FacilityState\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  state in which the facility is located\";s:7:\"example\";s:2:\"AL\";s:5:\"title\";s:14:\"Facility
  State\";s:4:\"type\";s:6:\"string\";}s:14:\"FacilityStreet\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  street address of the facility\";s:7:\"example\";s:20:\"1400 STATE DOCKS RD.\";s:5:\"title\";s:15:\"Facility
  Street\";s:4:\"type\";s:6:\"string\";}s:11:\"FacilityZip\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  zip code of the area in which the facility is located\";s:7:\"example\";s:5:\"35609\";s:5:\"title\";s:16:\"Facility
  Zipcode\";s:4:\"type\";s:6:\"string\";}s:10:\"RegistryId\";O:8:\"stdClass\":4:{s:11:\"description\";s:229:\"12-digit
  Facility Registry Service (FRS) identification number.  FRS uniquely identifies
  a facility by assigning an identification number (FRS ID), and uses this FRS ID
  to link together all EPA regulatory program database records\";s:7:\"example\";s:12:\"110020837601\";s:5:\"title\";s:15:\"FRS
  Registry ID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"dfr4_Reports\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Reports
  Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"HasPollRpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"???\";s:7:\"example\";s:1:\"Y\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"HasPollRpt\";}s:4:\"type\";s:6:\"object\";}s:12:\"dfr4_Results\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Results
  Object\";s:10:\"properties\";O:8:\"stdClass\":37:{s:13:\"AirCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/dfr5_AirCompliance\";}s:10:\"AirQuality\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/dfr6_AirQuality\";}s:13:\"CAEDDocuments\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/dfr4_CAEDDocuments\";}s:5:\"title\";s:18:\"Web
  Fire Documents\";s:4:\"type\";s:5:\"array\";}s:16:\"CWA3YrCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/dfr7_CWA3YrCompliance\";}s:15:\"CWACSCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/dfr10_CWACSCompliance\";}s:25:\"CWAEffluentALRExceedences\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/dfr8_CWAEffluentALRExceedences\";}s:21:\"CWAEffluentCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/dfr9_CWAEffluentCompliance\";}s:15:\"CWAPSCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/dfrA_CWAPSCompliance\";}s:16:\"CWARNCCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/dfrB_CWARNCCompliance\";}s:15:\"CWASECompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/dfrC_CWASECompliance\";}s:17:\"ComplianceHistory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/dfrV_ComplianceHistory\";}s:17:\"ComplianceSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/dfrD_ComplianceSummary\";}s:12:\"Demographics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/dfrE_Demographics\";}s:30:\"EnforcementComplianceSummaries\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/dfrF_EnforcementComplianceSummaries\";}s:13:\"FormalActions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/dfrG_FormalActions\";}s:17:\"ICISFormalActions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/dfrH_ICISFormalActions\";}s:28:\"InspectionEnforcementSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/dfrI_InspectionEnforcementSummary\";}s:20:\"LeadAndCopperRule5Yr\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/dfrG_LeadAndCopperRule5Yr\";}s:9:\"MapOutput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dfrJ_MapOutput\";}s:7:\"Message\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Field
  to record messages (typically performance-related) about packet processing\";s:7:\"example\";s:7:\"Success\";s:5:\"title\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:21:\"MultipleFRSFacilities\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/dfr4_MultipleFRSFacilities\";}s:5:\"NAICS\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/dfr4_NAICS\";}s:7:\"Notices\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/dfrK_Notices\";}s:7:\"Permits\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/dfr4_Permits\";}s:5:\"title\";s:7:\"Permits\";s:4:\"type\";s:5:\"array\";}s:14:\"RCRACompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/dfrL_RCRACompliance\";}s:7:\"Reports\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/dfr4_Reports\";}s:15:\"SDWISCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/dfrM_SDWISCompliance\";}s:3:\"SIC\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/dfr4_SIC\";}s:15:\"SanitarySurveys\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/dfrN_SanitarySurveys\";}s:10:\"SiteVisits\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/dfrO_SiteVisits\";}s:15:\"SpatialMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/dfrP_SpatialMetadata\";}s:10:\"TRIHistory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/dfrQ_TRIHistory\";}s:11:\"TRIReleases\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfrR_TRIReleases\";}s:6:\"Tribes\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/dfrS_Tribes\";}s:5:\"title\";s:6:\"Tribes\";s:4:\"type\";s:5:\"array\";}s:28:\"ViolationsEnforcementActions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/dfrT_ViolationsEnforcementActions\";}s:12:\"WaterQuality\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/dfrU_WaterQuality\";}s:16:\"WebFireDocuments\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/dfr4_WebFireDocuments\";}s:5:\"title\";s:18:\"Web
  Fire Documents\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:8:\"dfr4_SIC\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"SIC
  Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Sources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/dfr4_Sources\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"Sources\";}s:4:\"type\";s:6:\"object\";}s:13:\"dfr4_SICCodes\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"SIC
  Codes Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"EPASystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:1568:\"The
  EPA data system in which permit and facility records are kept. EPA's Facility Registry
  System (FRS) links all program database records (such as permit IDs and IDs facilities
  use in reporting to EPA) together. The following list describes the individual data
  systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility
  System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance
  Information System for Clean Water Act programs monitoring National Pollutant Discharge
  Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act
  Information System (RCRAInfo) for tracking the Resource Conservation and Recovery
  Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring
  national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning
  and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response
  (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n-
  TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know
  Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains
  information on stationary and mobile sources that emit criteria air pollutants and
  their precursors, as well as hazardous air pollutants (HAPs). The database includes
  estimates of annual emissions, by source, of air pollutants in each area of the
  country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the
  production, importation, use, and disposal of specific chemicals.\";s:7:\"example\";s:3:\"ICP\";s:5:\"title\";s:15:\"EPA
  Data System\";s:4:\"type\";s:6:\"string\";}s:7:\"SICCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"The
  Standard Industrial Classification codes applicable to the facility\";s:7:\"example\";s:4:\"9711\";s:5:\"title\";s:8:\"SIC
  Code\";s:4:\"type\";s:6:\"string\";}s:7:\"SICDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Industries
  associated to the SIC code.\";s:7:\"example\";s:17:\"National Security\";s:5:\"title\";s:15:\"SIC
  Description\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"SourceID\";i:1;s:9:\"EPASystem\";i:2;s:7:\"SICCode\";i:3;s:7:\"SICDesc\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"SICCodes\";}}s:12:\"dfr4_Sources\";O:8:\"stdClass\":5:{s:11:\"description\";s:13:\"Source
  Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"SICCodes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/dfr4_SICCodes\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"SICCodes\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Sources\";}}s:14:\"dfr4_Summaries\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"Summaries
  Object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:5:\"Cases\";O:8:\"stdClass\":4:{s:11:\"description\";s:148:\"The
  number of EPA enforcement cases that have been brought against the facility, under
  the corresponding statute, within the designated time period.\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:10:\"Case
  Count\";s:4:\"type\";s:6:\"string\";}s:13:\"CurrentStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"The
  current status for the facility during the most current quarter. (No violation,
  noncompliance)\";s:7:\"example\";s:12:\"No Violation\";s:5:\"title\";s:14:\"Current
  Status\";s:4:\"type\";s:6:\"string\";}s:13:\"FormalActions\";O:8:\"stdClass\":4:{s:11:\"description\";s:149:\"The
  number of formal enforcement actions that have been taken against the facility,
  under the corresponding statute, within the five year time period\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:19:\"Formal
  Action Count\";s:4:\"type\";s:6:\"string\";}s:15:\"InformalActions\";O:8:\"stdClass\":4:{s:11:\"description\";s:151:\"The
  number of informal enforcement actions that have been taken against the facility,
  under the corresponding statute, within the five year time period\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:21:\"Informal
  Action Count\";s:4:\"type\";s:6:\"string\";}s:11:\"Inspections\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  number of inspections/compliance evaluations that have occurred at the facility,
  under the corresponding statute, within the designated time period\";s:5:\"title\";s:11:\"Inspections\";s:4:\"type\";s:6:\"string\";}s:14:\"LastInspection\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"The
  date on which the most recent inspection of the facility took place\";s:7:\"example\";s:10:\"07/24/2015\";s:5:\"title\";s:15:\"Last
  Inspection\";s:4:\"type\";s:6:\"string\";}s:8:\"QtrsInNC\";O:8:\"stdClass\":4:{s:11:\"description\";s:231:\"The
  number of quarters, out of the last twelve quarters, in which the permit or site
  is considered either with violations, in non-compliance (NC) status, or in Significant
  Noncompliance (SNC) or High Priority Violation (HPV) status\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:25:\"Quarters
  In Noncompliance\";s:4:\"type\";s:6:\"string\";}s:9:\"QtrsInSNC\";O:8:\"stdClass\":4:{s:11:\"description\";s:149:\"The
  number of formal enforcement actions that have been taken against the facility,
  under the corresponding statute, within the five year time period\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:37:\"Quarters
  In Significant Noncompliance\";s:4:\"type\";s:6:\"string\";}s:7:\"Statute\";O:8:\"stdClass\":4:{s:11:\"description\";s:416:\"The
  name of the statute associated with each of the permits and identifiers linked to
  the facility: \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA =
  the Resource Conservation and Recovery Act\n- EP313 = the Emergency Planning and
  Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory
  Program)\n- TSCA = the Toxic Substances Control Act\n- SDWA = the Safe Drinking
  Water Act\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:18:\"Regulatory Statute\";s:4:\"type\";s:6:\"string\";}s:18:\"TotalCasePenalties\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"??\";s:5:\"title\";s:21:\"Total
  Case Penalities\";s:4:\"type\";s:6:\"string\";}s:14:\"TotalPenalties\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  total dollar amount of either assessed or final penalties within the five year time
  period\";s:7:\"example\";s:8:\"$963,531\";s:5:\"title\";s:15:\"Total Penalties\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:11:{i:0;s:7:\"Statute\";i:1;s:11:\"Inspections\";i:2;s:14:\"LastInspection\";i:3;s:13:\"CurrentStatus\";i:4;s:8:\"QtrsInNC\";i:5;s:9:\"QtrsInSNC\";i:6;s:15:\"InformalActions\";i:7;s:13:\"FormalActions\";i:8;s:5:\"Cases\";i:9;s:14:\"TotalPenalties\";i:10;s:18:\"TotalCasePenalties\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Summaries\";}}s:21:\"dfr4_WebFireDocuments\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Web
  Fire Documents\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Dummy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"dfr5_AirCompliance\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Air
  Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr12Header\";}s:7:\"Sources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/dfrc_Source\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:6:\"Header\";i:1;s:7:\"Sources\";}s:4:\"type\";s:6:\"object\";}s:15:\"dfr6_AirQuality\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Air
  Quality Object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"Lead2008Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:20:\"Washington, DC-MD-VA\";s:5:\"title\";s:16:\"Lead Area
  - 2008\";s:4:\"type\";s:6:\"string\";}s:16:\"Ozone8hr1997Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:20:\"Milwaukee-Racine, WI\";s:5:\"title\";s:28:\"Eight
  Hour Ozone Area - 1997\";s:4:\"type\";s:6:\"string\";}s:16:\"Ozone8hr2008Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:28:\"Chicago-Naperville, IL-IN-WI\";s:5:\"title\";s:28:\"Eight
  Hour Ozone Area - 2008\";s:4:\"type\";s:6:\"string\";}s:25:\"ParticulateMatter1997Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:20:\"Washington, DC-MD-VA\";s:5:\"title\";s:30:\"Particulate
  Matter Area - 1997\";s:4:\"type\";s:6:\"string\";}s:25:\"ParticulateMatter2006Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:20:\"Washington, DC-MD-VA\";s:5:\"title\";s:30:\"Particulate
  Matter Area - 2006\";s:4:\"type\";s:6:\"string\";}s:21:\"SulfurDioxide2010Area\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"If
  null, the facility is not located in a designated non-attainment area. If populated,
  the value is the name of the non-attainment area; normally this is a city or county
  name\";s:7:\"example\";s:20:\"Washington, DC-MD-VA\";s:5:\"title\";s:26:\"Sulfur
  Dioxide Area - 2010\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:16:\"Ozone8hr1997Area\";i:1;s:16:\"Ozone8hr2008Area\";i:2;s:12:\"Lead2008Area\";i:3;s:21:\"SulfurDioxide2010Area\";i:4;s:25:\"ParticulateMatter1997Area\";i:5;s:25:\"ParticulateMatter2006Area\";}s:4:\"type\";s:6:\"object\";}s:21:\"dfr7_CWA3YrCompliance\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"CWA
  3-Year Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/dfr7_Sources\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"dfr7_Sources\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"CWA
  3-Year Compliance Sources Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Status\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Status\";}s:5:\"title\";s:6:\"Status\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:30:\"dfr8_CWAEffluentALRExceedences\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"CWA
  Effluent ALR Exceedences Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/dfr8_Sources\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"dfr8_Parameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Parameter
  Object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:14:\"DischargePoint\";O:8:\"stdClass\":3:{s:7:\"example\";s:4:\"001Q\";s:5:\"title\";s:15:\"Discharge
  Point\";s:4:\"type\";s:6:\"string\";}s:15:\"MeasurementType\";O:8:\"stdClass\":3:{s:7:\"example\";s:4:\"NMth\";s:5:\"title\";s:16:\"Measurement
  Type\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:184:\"The
  unique 5 digit numeric code identifying the parameter. If the code is less than
  5 digits in the .CSV, append zeros to the beginning of the number (e.g., 100 is
  equivalent to 00100)\";s:7:\"example\";s:5:\"00400\";s:5:\"title\";s:14:\"Parameter
  Code\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterName\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  pollutant name.\";s:7:\"example\";s:19:\"Iron, total [as Fe]\";s:5:\"title\";s:14:\"Parameter
  Name\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  10 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  11 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  12 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  13 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  1 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  2 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  3 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  4 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  5 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  6 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  7 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  8 Value\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  9 Value\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:18:{i:0;s:8:\"SourceID\";i:1;s:13:\"ParameterCode\";i:2;s:13:\"ParameterName\";i:3;s:14:\"DischargePoint\";i:4;s:15:\"MeasurementType\";i:5;s:9:\"Qtr1Value\";i:6;s:9:\"Qtr2Value\";i:7;s:9:\"Qtr3Value\";i:8;s:9:\"Qtr4Value\";i:9;s:9:\"Qtr5Value\";i:10;s:9:\"Qtr6Value\";i:11;s:9:\"Qtr7Value\";i:12;s:9:\"Qtr8Value\";i:13;s:9:\"Qtr9Value\";i:14;s:10:\"Qtr10Value\";i:15;s:10:\"Qtr11Value\";i:16;s:10:\"Qtr12Value\";i:17;s:10:\"Qtr13Value\";}s:4:\"type\";s:6:\"object\";}s:12:\"dfr8_Sources\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Sources
  Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Parameters\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/dfr8_Parameters\";}s:5:\"title\";s:10:\"Parameters\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:10:\"Parameters\";}s:4:\"type\";s:6:\"object\";}s:26:\"dfr9_CWAEffluentCompliance\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"CWA
  Effluent Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/dfr9_Parameters\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"dfr9_Parameter\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"CWA
  Effluent Compliance Parameter Object\";s:10:\"properties\";O:8:\"stdClass\":31:{s:14:\"DischargePoint\";O:8:\"stdClass\":3:{s:7:\"example\";s:4:\"001Q\";s:5:\"title\";s:15:\"Discharge
  Point\";s:4:\"type\";s:6:\"string\";}s:15:\"MeasurementType\";O:8:\"stdClass\":3:{s:7:\"example\";s:4:\"NMth\";s:5:\"title\";s:16:\"Measurement
  Type\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:184:\"The
  unique 5 digit numeric code identifying the parameter. If the code is less than
  5 digits in the .CSV, append zeros to the beginning of the number (e.g., 100 is
  equivalent to 00100)\";s:7:\"example\";s:5:\"00400\";s:5:\"title\";s:14:\"Parameter
  Code\";s:4:\"type\";s:6:\"string\";}s:13:\"ParameterName\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  pollutant name.\";s:7:\"example\";s:19:\"Iron, total [as Fe]\";s:5:\"title\";s:14:\"Parameter
  Name\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  10 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  11 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  12 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr13Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  13 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  13 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  1 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  2 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  3 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  4 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  5 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  6 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  7 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  8 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  9 Value\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:31:{i:0;s:8:\"SourceID\";i:1;s:13:\"ParameterCode\";i:2;s:13:\"ParameterName\";i:3;s:14:\"DischargePoint\";i:4;s:15:\"MeasurementType\";i:5;s:10:\"Qtr1Status\";i:6;s:9:\"Qtr1Value\";i:7;s:10:\"Qtr2Status\";i:8;s:9:\"Qtr2Value\";i:9;s:10:\"Qtr3Status\";i:10;s:9:\"Qtr3Value\";i:11;s:10:\"Qtr4Status\";i:12;s:9:\"Qtr4Value\";i:13;s:10:\"Qtr5Status\";i:14;s:9:\"Qtr5Value\";i:15;s:10:\"Qtr6Status\";i:16;s:9:\"Qtr6Value\";i:17;s:10:\"Qtr7Status\";i:18;s:9:\"Qtr7Value\";i:19;s:10:\"Qtr8Status\";i:20;s:9:\"Qtr8Value\";i:21;s:10:\"Qtr9Status\";i:22;s:9:\"Qtr9Value\";i:23;s:11:\"Qtr10Status\";i:24;s:10:\"Qtr10Value\";i:25;s:11:\"Qtr11Status\";i:26;s:10:\"Qtr11Value\";i:27;s:11:\"Qtr12Status\";i:28;s:10:\"Qtr12Value\";i:29;s:11:\"Qtr13Status\";i:30;s:10:\"Qtr13Value\";}s:4:\"type\";s:6:\"object\";}s:15:\"dfr9_Parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"CWA
  Effluent Compliance Parameters Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Parameters\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dfr9_Parameter\";}s:5:\"title\";s:10:\"Parameters\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"dfrA_CWAPSCompliance\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"CWA
  PS Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/dfrA_Violations\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"dfrA_Violation\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"CWA
  PS Compliance Violation Object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:16:\"NPDESViolationId\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  unique identifier in ICIS-NPDES for the NPDES Violation\";s:7:\"example\";s:10:\"3401214483\";s:5:\"title\";s:18:\"NPDES
  Violation ID\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  10 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  11 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  12 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr13Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  13 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  13 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  1 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  2 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  3 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  4 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  5 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  6 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  7 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  8 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  9 Value\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"ViolationDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"A
  description of which type of violation has occurred\";s:7:\"example\";s:18:\"Effluent
  Violation\";s:5:\"title\";s:9:\"Violation\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:29:{i:0;s:8:\"SourceID\";i:1;s:13:\"ViolationDesc\";i:2;s:16:\"NPDESViolationId\";i:3;s:10:\"Qtr1Status\";i:4;s:9:\"Qtr1Value\";i:5;s:10:\"Qtr2Status\";i:6;s:9:\"Qtr2Value\";i:7;s:10:\"Qtr3Status\";i:8;s:9:\"Qtr3Value\";i:9;s:10:\"Qtr4Status\";i:10;s:9:\"Qtr4Value\";i:11;s:10:\"Qtr5Status\";i:12;s:9:\"Qtr5Value\";i:13;s:10:\"Qtr6Status\";i:14;s:9:\"Qtr6Value\";i:15;s:10:\"Qtr7Status\";i:16;s:9:\"Qtr7Value\";i:17;s:10:\"Qtr8Status\";i:18;s:9:\"Qtr8Value\";i:19;s:10:\"Qtr9Status\";i:20;s:9:\"Qtr9Value\";i:21;s:11:\"Qtr10Status\";i:22;s:10:\"Qtr10Value\";i:23;s:11:\"Qtr11Status\";i:24;s:10:\"Qtr11Value\";i:25;s:11:\"Qtr12Status\";i:26;s:10:\"Qtr12Value\";i:27;s:11:\"Qtr13Status\";i:28;s:10:\"Qtr13Value\";}s:4:\"type\";s:6:\"object\";}s:15:\"dfrA_Violations\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"CWA
  PS Compliance Violations Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Violations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/dfrA_Violation\";}s:5:\"title\";s:10:\"Violations\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:10:\"Violations\";}s:4:\"type\";s:6:\"object\";}s:21:\"dfrB_CWARNCCompliance\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"CWA
  RNC Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr12Header\";}s:7:\"Sources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/dfrB_Statuses\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"dfrB_Statuses\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"CWA
  RNC Compliance Statuses Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Status\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr12Status\";}s:5:\"title\";s:6:\"Status\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"dfrC_CWASECompliance\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"CWA
  SE Compliance Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/dfr0_Qtr13Header\";}s:7:\"Sources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/dfrC_Violations\";}s:5:\"title\";s:7:\"Sources\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"dfrC_Sources.Violation\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"CWA
  SE Compliance Violation Object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:16:\"NPDESViolationId\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  unique identifier in ICIS-NPDES for the NPDES Violation\";s:7:\"example\";s:10:\"3401214483\";s:5:\"title\";s:18:\"NPDES
  Violation ID\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr10Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  10 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr10Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  10 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr11Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  11 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr11Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  11 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr12Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  12 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr12Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  12 Value\";s:4:\"type\";s:6:\"string\";}s:11:\"Qtr13Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:17:\"Quarter
  13 Status\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr13Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Quarter
  13 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr1Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  1 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr1Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  1 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr2Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  2 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr2Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  2 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr3Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  3 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr3Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  3 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr4Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  4 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr4Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  4 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr5Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  5 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr5Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  5 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr6Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  6 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr6Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  6 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr7Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  7 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr7Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  7 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr8Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  8 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr8Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  8 Value\";s:4:\"type\";s:6:\"string\";}s:10:\"Qtr9Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  relevant status for the quarter.\";s:7:\"example\";s:7:\"No Viol\";s:5:\"title\";s:16:\"Quarter
  9 Status\";s:4:\"type\";s:6:\"string\";}s:9:\"Qtr9Value\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Quarter
  9 Value\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"ViolationDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"A
  description of which type of violation has occurred\";s:7:\"example\";s:18:\"Effluent
  Violation\";s:5:\"title\";s:9:\"Violation\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:29:{i:0;s:8:\"SourceID\";i:1;s:13:\"ViolationDesc\";i:2;s:16:\"NPDESViolationId\";i:3;s:10:\"Qtr1Status\";i:4;s:9:\"Qtr1Value\";i:5;s:10:\"Qtr2Status\";i:6;s:9:\"Qtr2Value\";i:7;s:10:\"Qtr3Status\";i:8;s:9:\"Qtr3Value\";i:9;s:10:\"Qtr4Status\";i:10;s:9:\"Qtr4Value\";i:11;s:10:\"Qtr5Status\";i:12;s:9:\"Qtr5Value\";i:13;s:10:\"Qtr6Status\";i:14;s:9:\"Qtr6Value\";i:15;s:10:\"Qtr7Status\";i:16;s:9:\"Qtr7Value\";i:17;s:10:\"Qtr8Status\";i:18;s:9:\"Qtr8Value\";i:19;s:10:\"Qtr9Status\";i:20;s:9:\"Qtr9Value\";i:21;s:11:\"Qtr10Status\";i:22;s:10:\"Qtr10Value\";i:23;s:11:\"Qtr11Status\";i:24;s:10:\"Qtr11Value\";i:25;s:11:\"Qtr12Status\";i:26;s:10:\"Qtr12Value\";i:27;s:11:\"Qtr13Status\";i:28;s:10:\"Qtr13Value\";}s:4:\"type\";s:6:\"object\";}s:15:\"dfrC_Violations\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"CWA
  SE Compliance Violations Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Violations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/dfrC_Sources.Violation\";}s:5:\"title\";s:10:\"Violations\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:10:\"Violations\";}s:4:\"type\";s:6:\"object\";}s:22:\"dfrD_ComplianceSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Compliance
  Summary Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ProgramDates\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/dfr4_ProgramDates\";}s:5:\"title\";s:13:\"Program
  Dates\";s:4:\"type\";s:5:\"array\";}s:6:\"Source\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/dfrD_Source\";}s:5:\"title\";s:6:\"Source\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:12:\"ProgramDates\";i:1;s:6:\"Source\";}s:4:\"type\";s:6:\"object\";}s:11:\"dfrD_Source\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Source
  Object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"CurrentAsOf\";O:8:\"stdClass\":4:{s:11:\"description\";s:253:\"The
  most recent date or calendar year quarter of record maintained in the data system
  for which the Current SNC/HPV status applies. A quarter could be any of the following
  3-month periods:\n- January-March\n- April-June\n- July-September\n- October-December\";s:7:\"example\";s:10:\"05/21/2016\";s:5:\"title\";s:18:\"Current
  As Of Date\";s:4:\"type\";s:6:\"string\";}s:10:\"CurrentSNC\";O:8:\"stdClass\":3:{s:11:\"description\";s:775:\"The
  current Significant Noncompliance (SNC) or High Priority Violator (HPV) status for
  the facility during the most current quarter. SNC is used for RCRA and CWA, and
  HPV is used for CAA. Each program has its own specific criteria for making this
  determination. The value of Yes indicates the facility is in SNC or HPV for the
  permit or site in question and may pose a more severe level of environmental threat.
  The value of No indicates the permit or site is not considered in SNC or HPV. If
  the facility is Non-Federally Reportable within AFS or if it is classified as minor
  within PCS, the field reads N/A. The value of N/A in this field indicates Not Applicable
  because compliance data for these facilities are not required to be reported to
  the national program database\";s:7:\"example\";s:2:\"No\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  text description for the event that results in the permit or site being in Significant
  Noncompliance (SNC) or in High Priority Violation (HPV)\";s:5:\"title\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:8:\"QtrsInNC\";O:8:\"stdClass\":4:{s:11:\"description\";s:231:\"The
  number of quarters, out of the last twelve quarters, in which the permit or site
  is considered either with violations, in non-compliance (NC) status, or in Significant
  Noncompliance (SNC) or High Priority Violation (HPV) status\";s:7:\"example\";s:1:\"1\";s:5:\"title\";s:25:\"Quarters
  In Noncompliance\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Unique
  Identifier assigned by EPA.\";s:7:\"example\";s:9:\"ALR040033\";s:5:\"title\";s:21:\"EPA
  Source Identifier\";s:4:\"type\";s:6:\"string\";}s:7:\"Statute\";O:8:\"stdClass\":4:{s:11:\"description\";s:416:\"The
  name of the statute associated with each of the permits and identifiers linked to
  the facility: \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA =
  the Resource Conservation and Recovery Act\n- EP313 = the Emergency Planning and
  Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory
  Program)\n- TSCA = the Toxic Substances Control Act\n- SDWA = the Safe Drinking
  Water Act\";s:7:\"example\";s:3:\"CWA\";s:5:\"title\";s:18:\"Regulatory Statute\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:7:\"Statute\";i:1;s:8:\"SourceID\";i:2;s:10:\"CurrentSNC\";i:3;s:11:\"Description\";i:4;s:11:\"CurrentAsOf\";i:5;s:8:\"QtrsInNC\";}s:4:\"type\";s:6:\"object\";}s:17:\"dfrE_Demographics\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Demographics
  Object\";s:10:\"properties\";O:8:\"stdClass\":32:{s:6:\"Adults\";O:8:\"stdClass\":4:{s:11:\"description\";s:116:\"The
  number and percentage of persons living in the area who are between eighteen years
  old and sixty-five years old.\";s:7:\"example\";s:16:\"102,422 (81.32%)\";s:5:\"title\";s:16:\"Adult
  Population\";s:4:\"type\";s:6:\"string\";}s:15:\"AfricanAmerican\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"The
  number and percentage of persons living in the area who are African American.\";s:7:\"example\";s:15:\"20,125
  (15.98%)\";s:5:\"title\";s:27:\"African American Population\";s:4:\"type\";s:6:\"string\";}s:14:\"AmericanIndian\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"The
  number and percentage of persons living in the area who are of American Indian origin.\";s:7:\"example\";s:10:\"492
  (.39%)\";s:5:\"title\";s:26:\"American Indian Population\";s:4:\"type\";s:6:\"string\";}s:20:\"AsianPacificIslander\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"The
  number and percentage of persons living in the area who are of Asian Pacific Islander
  origin.\";s:7:\"example\";s:13:\"6,822 (5.42%)\";s:5:\"title\";s:33:\"Asian Pacific
  Islander Population\";s:4:\"type\";s:6:\"string\";}s:4:\"BSBA\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"The
  number and percentage of persons living in the area who have a bachelor's degree
  or higher.\";s:7:\"example\";s:14:\"54,050 (60.3%)\";s:5:\"title\";s:26:\"Education
  BS/BA Population\";s:4:\"type\";s:6:\"string\";}s:14:\"CenterLatitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  latitude of the facility in degrees, to four decimal places.\";s:7:\"example\";s:9:\"38.798026\";s:4:\"type\";s:6:\"string\";}s:15:\"CenterLongitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  longitude of the facility in degrees, to four decimal places.\";s:7:\"example\";s:10:\"-77.062981\";s:4:\"type\";s:6:\"string\";}s:5:\"Child\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"The
  number and percentage of persons living in the area who are five years old or younger.\";s:7:\"example\";s:12:\"8,690
  (6.9%)\";s:5:\"title\";s:16:\"Child Population\";s:4:\"type\";s:6:\"string\";}s:11:\"Grades9to12\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"The
  number and percentage of persons living in the area who have completed grades nine
  through twelve\";s:7:\"example\";s:13:\"3,706 (4.13%)\";s:5:\"title\";s:38:\"Education
  9th to 12th Grade Population\";s:4:\"type\";s:6:\"string\";}s:9:\"HSDiploma\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"The
  number and percentage of persons living in the area who have a high school diploma\";s:7:\"example\";s:15:\"12,433
  (13.87%)\";s:5:\"title\";s:40:\"Education High School Diploma Population\";s:4:\"type\";s:6:\"string\";}s:14:\"HispanicOrigin\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"The
  number and percentage of persons living in the area who are of Hispanic origin\";s:7:\"example\";s:15:\"19,967
  (15.85%)\";s:5:\"title\";s:26:\"Hispanic Origin Population\";s:4:\"type\";s:6:\"string\";}s:10:\"Households\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  number of households in the area being profiled\";s:7:\"example\";s:6:\"57,468\";s:5:\"title\";s:15:\"Household
  Count\";s:4:\"type\";s:6:\"string\";}s:26:\"HouseholdsPublicAssistance\";O:8:\"stdClass\":4:{s:11:\"description\";s:139:\"The
  number of households that are on any type of public assistance (including subsidized
  housing, welfare, aid to dependent children, etc.)\";s:7:\"example\";s:3:\"502\";s:5:\"title\";s:39:\"Households
  with Public Assistance Count\";s:4:\"type\";s:6:\"string\";}s:12:\"HousingUnits\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  number of housing units in the area being profiled\";s:7:\"example\";s:6:\"61,459\";s:5:\"title\";s:18:\"Housing
  Unit Count\";s:4:\"type\";s:6:\"string\";}s:13:\"Income15to25k\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"The
  number and percentage of households who earn greater than or equal to $15,000 but
  less than $25,000 per year\";s:7:\"example\";s:12:\"2,980 (5.4%)\";s:5:\"title\";s:28:\"Income
  15k to 25k Population\";s:4:\"type\";s:6:\"string\";}s:13:\"Income25to50k\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"The
  number and percentage of households who earn greater than or equal to $25,000 but
  less than $50,000 per year\";s:7:\"example\";s:14:\"7,851 (14.24%)\";s:5:\"title\";s:28:\"Income
  25k to 50k Population\";s:4:\"type\";s:6:\"string\";}s:13:\"Income50to75k\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"The
  number and percentage of households who earn greater than or equal to $50,000 per
  year but less than $75,000 per year\";s:7:\"example\";s:14:\"8,563 (15.53%)\";s:5:\"title\";s:28:\"Income
  50k to 75k Population\";s:4:\"type\";s:6:\"string\";}s:13:\"Income75kPlus\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"The
  number and percentage of households who earn greater than or equal to $75,000 per
  year\";s:7:\"example\";s:15:\"32,568 (59.05%)\";s:5:\"title\";s:31:\"Income More
  than 75k Population\";s:4:\"type\";s:6:\"string\";}s:13:\"IncomeLess15k\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"The
  number and percentage of households who earn less than $15,000 per year\";s:7:\"example\";s:13:\"3,189
  (5.78%)\";s:5:\"title\";s:31:\"Income Less than 15K Population\";s:4:\"type\";s:6:\"string\";}s:8:\"LandArea\";O:8:\"stdClass\":4:{s:11:\"description\";s:169:\"The
  percentage of the total area that is land (not water). This is calculated using
  the sum of the land areas of the Census Block Groups (CBG) within the selected radius\";s:7:\"example\";s:3:\"80%\";s:5:\"title\";s:9:\"Land
  Area\";s:4:\"type\";s:6:\"string\";}s:12:\"Less9thGrade\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"The
  number and percentage of persons living in the area who have less than a ninth grade
  education\";s:7:\"example\";s:12:\"4,213 (4.7%)\";s:5:\"title\";s:40:\"Education
  Less than 9th Grade Population\";s:4:\"type\";s:6:\"string\";}s:6:\"Minors\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"The
  number and percentage of persons living in the area that are seventeen years old
  or younger\";s:7:\"example\";s:15:\"23,535 (18.68%)\";s:5:\"title\";s:17:\"Minors
  Population\";s:4:\"type\";s:6:\"string\";}s:16:\"OtherMultiracial\";O:8:\"stdClass\":4:{s:11:\"description\";s:124:\"The
  number and percentage of persons living in the area who are not included in the
  above classifications or are multiracial\";s:7:\"example\";s:15:\"13,034 (10.35%)\";s:5:\"title\";s:32:\"Other
  and Multiracial Population\";s:4:\"type\";s:6:\"string\";}s:15:\"PercentMinority\";O:8:\"stdClass\":4:{s:11:\"description\";s:304:\"The
[...]
