---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:53:\"US
  EPA, OECA Integration, Targeting and Access Branch\";}s:11:\"description\";s:2159:\"Enforcement
  and Compliance History Online (ECHO) is a tool developed and maintained by EPA's
  Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated
  compliance and enforcement information for about 800,000 regulated facilities nationwide.\n<BR><BR>CWA
  Rest Services provides multiple service endpoints, each with specific capabilities,
  to search and retrieve data on facilities regulated under the Clean Water Act (CWA)
  and managed under the National Pollutant Discharge Elimination System (NPDES) program.
  The returned results reflect data drawn from EPA's ICIS-NPDES database.\n<BR><BR>\nThe
  get_facilities, get_map, get_qid, and get_download end points are meant to be used
  together, while the enhanced get_facility_info end point is self contained.\n  The
  get_facility_info end point returns either an array of state, county or zip clusters
  with summary statistics per cluster or an array of facilities.\n<br><br>\nThe recommended
  use scenario for get_facilities, get_qid, get_map, and get_downoad is:\n<br>\n<br><b>1)</b>
  \ Use get_facilities to validate passed query parameters, obtain summary statistics
  and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately
  30 minutes.\n<br><b>2)</b>  Use get_qid, with the returned QID, to paginate through
  arrays of facility results.\n<br><b>3)</b>  Use get_map, with the returned QID,
  to zoom in/out and pan on the clustered and individual facility coordinates that
  meet the QID query criteria.\n<br><b>4)</b>  Use get_download, with the returned
  QID, to generate a Comma Separated Value (CSV) file of facility information that
  meets the QID query criteria.\n<br>\n<br>\nUse the qcolumns parameter to customize
  your search results.  Use the Metdata service endpoint for a list of available output
  objects, their Column Ids, and their definitions to help you build your customized
  output. \n<br><br>\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web
  Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About
  ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n<br>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"This
  page was built with the Swagger API.\";s:3:\"url\";s:18:\"https://swagger.io\";}s:5:\"title\";s:95:\"U.S.
  EPA Enforcement and Compliance History Online (ECHO) - Clean Water Act (CWA) Rest
  Services\";s:7:\"version\";s:5:\"0.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:76:\"https://pbs.twimg.com/profile_images/632233890594299904/DgRDU6dx_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:62:\"https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=CWA\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:7:\"epa.gov\";s:13:\"x-serviceName\";s:3:\"cwa\";s:11:\"x-preferred\";b:1;}"
host: ofmpub.epa.gov
basePath: /echo
paths:
  /cwa_rest_services.get_download:
    get:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma separated value (CSV) file of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Clean Water Act (CWA) Download Data Service
      tags:
      - Facility Information
    post:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma separated value (CSV) file of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Clean Water Act (CWA) Download Data Service
      tags:
      - Facility Information
  /cwa_rest_services.get_facilities:
    get:
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/p_c1lat'
      - $ref: '#/parameters/p_c1lon'
      - $ref: '#/parameters/p_c2lat'
      - $ref: '#/parameters/p_c2lon'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_ff'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_imp_pol'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_pstat'
      - $ref: '#/parameters/p_ptype'
      - $ref: '#/parameters/p_pcomp'
      - $ref: '#/parameters/p_plimits'
      - $ref: '#/parameters/p_pcss'
      - $ref: '#/parameters/p_pexp'
      - $ref: '#/parameters/p_owop'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/p_idt1'
      - $ref: '#/parameters/p_idt2'
      - $ref: '#/parameters/p_pityp'
      - $ref: '#/parameters/p_pfead1'
      - $ref: '#/parameters/p_pfead2'
      - $ref: '#/parameters/p_pfeat'
      - $ref: '#/parameters/p_pccs'
      - $ref: '#/parameters/p_pexcd'
      - $ref: '#/parameters/p_psncq'
      - $ref: '#/parameters/p_pctrack'
      - $ref: '#/parameters/p_dwd'
      - $ref: '#/parameters/p_pt'
      - $ref: '#/parameters/p_pdwdist'
      - $ref: '#/parameters/p_pswdpc'
      - $ref: '#/parameters/p_pswdmp'
      - $ref: '#/parameters/p_pswpol'
      - $ref: '#/parameters/p_pswcas'
      - $ref: '#/parameters/p_pswparam'
      - $ref: '#/parameters/p_pswvio'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_pidall'
      - $ref: '#/parameters/p_months_last_dmr'
      - $ref: '#/parameters/p_last_dmr_within'
      - $ref: '#/parameters/p_indsw'
      - $ref: '#/parameters/p_msgp_ptype'
      - $ref: '#/parameters/p_mon_type'
      - $ref: '#/parameters/p_iagency'
      - $ref: '#/parameters/p_isws'
      - $ref: '#/parameters/p_iswss'
      - $ref: '#/parameters/p_iswssID'
      - $ref: '#/parameters/p_ds1'
      - $ref: '#/parameters/p_ds2'
      - $ref: '#/parameters/p_da1'
      - $ref: '#/parameters/p_da2'
      - $ref: '#/parameters/p_MS4'
      - $ref: '#/parameters/p_ooFN'
      - $ref: '#/parameters/p_ooFNtype'
      - $ref: '#/parameters/p_ooSA'
      - $ref: '#/parameters/p_ooSA1'
      - $ref: '#/parameters/p_ooCt'
      - $ref: '#/parameters/p_ooSt'
      - $ref: '#/parameters/p_ooZip'
      - $ref: '#/parameters/p_fac_ico'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_alrexceed'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_decouple'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/p_bio_flag'
      - $ref: '#/parameters/p_bio_fac_type'
      - $ref: '#/parameters/p_bio_trtmnt_procs'
      - $ref: '#/parameters/p_bio_analy_method_catgry'
      - $ref: '#/parameters/p_bio_total_volume_amt'
      - $ref: '#/parameters/p_bio_mgmt_prctce_type'
      - $ref: '#/parameters/p_bio_mgmt_prctce_stype'
      - $ref: '#/parameters/p_bio_mgmt_prctce_handler'
      - $ref: '#/parameters/p_bio_mgmt_container'
      - $ref: '#/parameters/p_bio_mgmt_pathogen'
      - $ref: '#/parameters/p_bio_mgmt_pathred'
      - $ref: '#/parameters/p_bio_mgmt_vector'
      - $ref: '#/parameters/p_insp_deficiencies'
      - $ref: '#/parameters/p_bio_mgmt_def_category'
      - $ref: '#/parameters/p_bio_mgmt_deficiencies'
      - $ref: '#/parameters/p_bio_vio_code'
      - $ref: '#/parameters/p_bio_current_vio'
      - $ref: '#/parameters/p_bio_qtrs_in_vio'
      - $ref: '#/parameters/p_bio_rpt_year'
      - $ref: '#/parameters/p_bio_insp_deficiencies'
      - $ref: '#/parameters/p_bio_vio_last_year'
      - $ref: '#/parameters/p_msgp_rpt_year'
      - $ref: '#/parameters/p_vio_last_year'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/maplist'
      - $ref: '#/parameters/summarylist'
      - $ref: '#/parameters/callback'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/cwa1_Results'
            required:
            - Results
            type: object
      summary: Clean Water Act (CWA) Facility Search Service
      tags:
      - Facility Information
    post:
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/p_c1lat'
      - $ref: '#/parameters/p_c1lon'
      - $ref: '#/parameters/p_c2lat'
      - $ref: '#/parameters/p_c2lon'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_ff'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_imp_pol'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_pstat'
      - $ref: '#/parameters/p_ptype'
      - $ref: '#/parameters/p_pcomp'
      - $ref: '#/parameters/p_plimits'
      - $ref: '#/parameters/p_pcss'
      - $ref: '#/parameters/p_pexp'
      - $ref: '#/parameters/p_owop'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/p_idt1'
      - $ref: '#/parameters/p_idt2'
      - $ref: '#/parameters/p_pityp'
      - $ref: '#/parameters/p_pfead1'
      - $ref: '#/parameters/p_pfead2'
      - $ref: '#/parameters/p_pfeat'
      - $ref: '#/parameters/p_pccs'
      - $ref: '#/parameters/p_pexcd'
      - $ref: '#/parameters/p_psncq'
      - $ref: '#/parameters/p_pctrack'
      - $ref: '#/parameters/p_dwd'
      - $ref: '#/parameters/p_pt'
      - $ref: '#/parameters/p_pdwdist'
      - $ref: '#/parameters/p_pswdpc'
      - $ref: '#/parameters/p_pswdmp'
      - $ref: '#/parameters/p_pswpol'
      - $ref: '#/parameters/p_pswcas'
      - $ref: '#/parameters/p_pswparam'
      - $ref: '#/parameters/p_pswvio'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_pidall'
      - $ref: '#/parameters/p_months_last_dmr'
      - $ref: '#/parameters/p_last_dmr_within'
      - $ref: '#/parameters/p_indsw'
      - $ref: '#/parameters/p_msgp_ptype'
      - $ref: '#/parameters/p_mon_type'
      - $ref: '#/parameters/p_iagency'
      - $ref: '#/parameters/p_isws'
      - $ref: '#/parameters/p_iswss'
      - $ref: '#/parameters/p_iswssID'
      - $ref: '#/parameters/p_ds1'
      - $ref: '#/parameters/p_ds2'
      - $ref: '#/parameters/p_da1'
      - $ref: '#/parameters/p_da2'
      - $ref: '#/parameters/p_MS4'
      - $ref: '#/parameters/p_ooFN'
      - $ref: '#/parameters/p_ooFNtype'
      - $ref: '#/parameters/p_ooSA'
      - $ref: '#/parameters/p_ooSA1'
      - $ref: '#/parameters/p_ooCt'
      - $ref: '#/parameters/p_ooSt'
      - $ref: '#/parameters/p_ooZip'
      - $ref: '#/parameters/p_fac_ico'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_alrexceed'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_decouple'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/p_bio_flag'
      - $ref: '#/parameters/p_bio_fac_type'
      - $ref: '#/parameters/p_bio_trtmnt_procs'
      - $ref: '#/parameters/p_bio_analy_method_catgry'
      - $ref: '#/parameters/p_bio_total_volume_amt'
      - $ref: '#/parameters/p_bio_mgmt_prctce_type'
      - $ref: '#/parameters/p_bio_mgmt_prctce_stype'
      - $ref: '#/parameters/p_bio_mgmt_prctce_handler'
      - $ref: '#/parameters/p_bio_mgmt_container'
      - $ref: '#/parameters/p_bio_mgmt_pathogen'
      - $ref: '#/parameters/p_bio_mgmt_pathred'
      - $ref: '#/parameters/p_bio_mgmt_vector'
      - $ref: '#/parameters/p_insp_deficiencies'
      - $ref: '#/parameters/p_bio_mgmt_def_category'
      - $ref: '#/parameters/p_bio_mgmt_deficiencies'
      - $ref: '#/parameters/p_bio_vio_code'
      - $ref: '#/parameters/p_bio_current_vio'
      - $ref: '#/parameters/p_bio_qtrs_in_vio'
      - $ref: '#/parameters/p_bio_rpt_year'
      - $ref: '#/parameters/p_bio_insp_deficiencies'
      - $ref: '#/parameters/p_bio_vio_last_year'
      - $ref: '#/parameters/p_msgp_rpt_year'
      - $ref: '#/parameters/p_vio_last_year'
      - $ref: '#/parameters/queryset'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/maplist'
      - $ref: '#/parameters/summarylist'
      - $ref: '#/parameters/callback'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      responses:
        200:
          description: Results are summary statistics for the query and a query identifier
            (QID).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/cwa1_Results'
            required:
            - Results
            type: object
      summary: Clean Water Act (CWA) Facility Search Service
      tags:
      - Facility Information
  /cwa_rest_services.get_facility_info:
    get:
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/xmin'
      - $ref: '#/parameters/ymin'
      - $ref: '#/parameters/xmax'
      - $ref: '#/parameters/ymax'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_ff'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_imp_pol'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_pstat'
      - $ref: '#/parameters/p_ptype'
      - $ref: '#/parameters/p_pcomp'
      - $ref: '#/parameters/p_plimits'
      - $ref: '#/parameters/p_pcss'
      - $ref: '#/parameters/p_pexp'
      - $ref: '#/parameters/p_owop'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/p_idt1'
      - $ref: '#/parameters/p_idt2'
      - $ref: '#/parameters/p_pityp'
      - $ref: '#/parameters/p_pfead1'
      - $ref: '#/parameters/p_pfead2'
      - $ref: '#/parameters/p_pfeat'
      - $ref: '#/parameters/p_pccs'
      - $ref: '#/parameters/p_pexcd'
      - $ref: '#/parameters/p_psncq'
      - $ref: '#/parameters/p_pctrack'
      - $ref: '#/parameters/p_dwd'
      - $ref: '#/parameters/p_pt'
      - $ref: '#/parameters/p_pdwdist'
      - $ref: '#/parameters/p_pswdpc'
      - $ref: '#/parameters/p_pswdmp'
      - $ref: '#/parameters/p_pswpol'
      - $ref: '#/parameters/p_pswcas'
      - $ref: '#/parameters/p_pswparam'
      - $ref: '#/parameters/p_pswvio'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_pidall'
      - $ref: '#/parameters/p_months_last_dmr'
      - $ref: '#/parameters/p_last_dmr_within'
      - $ref: '#/parameters/p_indsw'
      - $ref: '#/parameters/p_msgp_ptype'
      - $ref: '#/parameters/p_mon_type'
      - $ref: '#/parameters/p_iagency'
      - $ref: '#/parameters/p_isws'
      - $ref: '#/parameters/p_iswss'
      - $ref: '#/parameters/p_iswssID'
      - $ref: '#/parameters/p_ds1'
      - $ref: '#/parameters/p_ds2'
      - $ref: '#/parameters/p_da1'
      - $ref: '#/parameters/p_da2'
      - $ref: '#/parameters/p_MS4'
      - $ref: '#/parameters/p_ooFN'
      - $ref: '#/parameters/p_ooFNtype'
      - $ref: '#/parameters/p_ooSA'
      - $ref: '#/parameters/p_ooSA1'
      - $ref: '#/parameters/p_ooCt'
      - $ref: '#/parameters/p_ooSt'
      - $ref: '#/parameters/p_ooZip'
      - $ref: '#/parameters/p_fac_ico'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_alrexceed'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_decouple'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/p_bio_flag'
      - $ref: '#/parameters/p_bio_fac_type'
      - $ref: '#/parameters/p_bio_trtmnt_procs'
      - $ref: '#/parameters/p_bio_analy_method_catgry'
      - $ref: '#/parameters/p_bio_total_volume_amt'
      - $ref: '#/parameters/p_bio_mgmt_prctce_type'
      - $ref: '#/parameters/p_bio_mgmt_prctce_stype'
      - $ref: '#/parameters/p_bio_mgmt_prctce_handler'
      - $ref: '#/parameters/p_bio_mgmt_container'
      - $ref: '#/parameters/p_bio_mgmt_pathogen'
      - $ref: '#/parameters/p_bio_mgmt_pathred'
      - $ref: '#/parameters/p_bio_mgmt_vector'
      - $ref: '#/parameters/p_insp_deficiencies'
      - $ref: '#/parameters/p_bio_mgmt_def_category'
      - $ref: '#/parameters/p_bio_mgmt_deficiencies'
      - $ref: '#/parameters/p_bio_vio_code'
      - $ref: '#/parameters/p_bio_current_vio'
      - $ref: '#/parameters/p_bio_qtrs_in_vio'
      - $ref: '#/parameters/p_bio_rpt_year'
      - $ref: '#/parameters/p_bio_insp_deficiencies'
      - $ref: '#/parameters/p_bio_vio_last_year'
      - $ref: '#/parameters/p_msgp_rpt_year'
      - $ref: '#/parameters/p_vio_last_year'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/callback'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The search will return clusters if the number of facilities
            returned is greater than the resposeset size, otherwise individual facility
            records will be returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/cwa2_Results'
            required:
            - Results
            type: object
      summary: Clean Water Act (CWA) Facility Enhanced Search Service
      tags:
      - Facility Information
    post:
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.n- CSV = Facility results
          formatted as comma delimited file download.n- GEOJSON = Facility results
          formatted as GeoJSON feature collection.n- GEOJSONP = Facility results formatted
          as GeoJSON feature collection with Padding.n- GEOJSOND = Facility results
          formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_fn'
      - $ref: '#/parameters/p_sa'
      - $ref: '#/parameters/p_sa1'
      - $ref: '#/parameters/p_ct'
      - $ref: '#/parameters/p_co'
      - $ref: '#/parameters/p_fips'
      - $ref: '#/parameters/p_st'
      - $ref: '#/parameters/p_zip'
      - $ref: '#/parameters/p_frs'
      - $ref: '#/parameters/p_reg'
      - $ref: '#/parameters/p_sic'
      - $ref: '#/parameters/p_ncs'
      - $ref: '#/parameters/p_pen'
      - $ref: '#/parameters/xmin'
      - $ref: '#/parameters/ymin'
      - $ref: '#/parameters/xmax'
      - $ref: '#/parameters/ymax'
      - $ref: '#/parameters/p_usmex'
      - $ref: '#/parameters/p_sic2'
      - $ref: '#/parameters/p_sic4'
      - $ref: '#/parameters/p_fa'
      - $ref: '#/parameters/p_ff'
      - $ref: '#/parameters/p_act'
      - $ref: '#/parameters/p_maj'
      - $ref: '#/parameters/p_mact'
      - $ref: '#/parameters/p_fea'
      - $ref: '#/parameters/p_feay'
      - $ref: '#/parameters/p_feaa'
      - $ref: '#/parameters/p_iea'
      - $ref: '#/parameters/p_ieay'
      - $ref: '#/parameters/p_ieaa'
      - $ref: '#/parameters/p_qiv'
      - $ref: '#/parameters/p_impw'
      - $ref: '#/parameters/p_imp_pol'
      - $ref: '#/parameters/p_trep'
      - $ref: '#/parameters/p_pm'
      - $ref: '#/parameters/p_pd'
      - $ref: '#/parameters/p_ico'
      - $ref: '#/parameters/p_huc'
      - $ref: '#/parameters/p_pid'
      - $ref: '#/parameters/p_med'
      - $ref: '#/parameters/p_ysl'
      - $ref: '#/parameters/p_ysly'
      - $ref: '#/parameters/p_ysla'
      - $ref: '#/parameters/p_qs'
      - $ref: '#/parameters/p_sfs'
      - $ref: '#/parameters/p_tribeid'
      - $ref: '#/parameters/p_tribename'
      - $ref: '#/parameters/p_tribedist'
      - $ref: '#/parameters/p_pstat'
      - $ref: '#/parameters/p_ptype'
      - $ref: '#/parameters/p_pcomp'
      - $ref: '#/parameters/p_plimits'
      - $ref: '#/parameters/p_pcss'
      - $ref: '#/parameters/p_pexp'
      - $ref: '#/parameters/p_owop'
      - $ref: '#/parameters/p_agoo'
      - $ref: '#/parameters/p_idt1'
      - $ref: '#/parameters/p_idt2'
      - $ref: '#/parameters/p_pityp'
      - $ref: '#/parameters/p_pfead1'
      - $ref: '#/parameters/p_pfead2'
      - $ref: '#/parameters/p_pfeat'
      - $ref: '#/parameters/p_pccs'
      - $ref: '#/parameters/p_pexcd'
      - $ref: '#/parameters/p_psncq'
      - $ref: '#/parameters/p_pctrack'
      - $ref: '#/parameters/p_dwd'
      - $ref: '#/parameters/p_pt'
      - $ref: '#/parameters/p_pdwdist'
      - $ref: '#/parameters/p_pswdpc'
      - $ref: '#/parameters/p_pswdmp'
      - $ref: '#/parameters/p_pswpol'
      - $ref: '#/parameters/p_pswcas'
      - $ref: '#/parameters/p_pswparam'
      - $ref: '#/parameters/p_pswvio'
      - $ref: '#/parameters/p_wbd'
      - $ref: '#/parameters/p_fntype'
      - $ref: '#/parameters/p_pidall'
      - $ref: '#/parameters/p_months_last_dmr'
      - $ref: '#/parameters/p_last_dmr_within'
      - $ref: '#/parameters/p_indsw'
      - $ref: '#/parameters/p_msgp_ptype'
      - $ref: '#/parameters/p_mon_type'
      - $ref: '#/parameters/p_iagency'
      - $ref: '#/parameters/p_isws'
      - $ref: '#/parameters/p_iswss'
      - $ref: '#/parameters/p_iswssID'
      - $ref: '#/parameters/p_ds1'
      - $ref: '#/parameters/p_ds2'
      - $ref: '#/parameters/p_da1'
      - $ref: '#/parameters/p_da2'
      - $ref: '#/parameters/p_MS4'
      - $ref: '#/parameters/p_ooFN'
      - $ref: '#/parameters/p_ooFNtype'
      - $ref: '#/parameters/p_ooSA'
      - $ref: '#/parameters/p_ooSA1'
      - $ref: '#/parameters/p_ooCt'
      - $ref: '#/parameters/p_ooSt'
      - $ref: '#/parameters/p_ooZip'
      - $ref: '#/parameters/p_fac_ico'
      - $ref: '#/parameters/p_icoo'
      - $ref: '#/parameters/p_fac_icos'
      - $ref: '#/parameters/p_ejscreen'
      - $ref: '#/parameters/p_alrexceed'
      - $ref: '#/parameters/p_limit_addr'
      - $ref: '#/parameters/p_lat'
      - $ref: '#/parameters/p_long'
      - $ref: '#/parameters/p_radius'
      - $ref: '#/parameters/p_decouple'
      - $ref: '#/parameters/p_ejscreen_over80cnt'
      - $ref: '#/parameters/p_bio_flag'
      - $ref: '#/parameters/p_bio_fac_type'
      - $ref: '#/parameters/p_bio_trtmnt_procs'
      - $ref: '#/parameters/p_bio_analy_method_catgry'
      - $ref: '#/parameters/p_bio_total_volume_amt'
      - $ref: '#/parameters/p_bio_mgmt_prctce_type'
      - $ref: '#/parameters/p_bio_mgmt_prctce_stype'
      - $ref: '#/parameters/p_bio_mgmt_prctce_handler'
      - $ref: '#/parameters/p_bio_mgmt_container'
      - $ref: '#/parameters/p_bio_mgmt_pathogen'
      - $ref: '#/parameters/p_bio_mgmt_pathred'
      - $ref: '#/parameters/p_bio_mgmt_vector'
      - $ref: '#/parameters/p_insp_deficiencies'
      - $ref: '#/parameters/p_bio_mgmt_def_category'
      - $ref: '#/parameters/p_bio_mgmt_deficiencies'
      - $ref: '#/parameters/p_bio_vio_code'
      - $ref: '#/parameters/p_bio_current_vio'
      - $ref: '#/parameters/p_bio_qtrs_in_vio'
      - $ref: '#/parameters/p_bio_rpt_year'
      - $ref: '#/parameters/p_bio_insp_deficiencies'
      - $ref: '#/parameters/p_bio_vio_last_year'
      - $ref: '#/parameters/p_msgp_rpt_year'
      - $ref: '#/parameters/p_vio_last_year'
      - $ref: '#/parameters/responseset'
      - $ref: '#/parameters/callback'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results will either be an array of Facilities or an array of
            Clusters. The search will return clusters if the number of facilities
            returned is greater than the resposeset size, otherwise individual facility
            records will be returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/cwa2_Results'
            required:
            - Results
            type: object
      summary: Clean Water Act (CWA) Facility Enhanced Search Service
      tags:
      - Facility Information
  /cwa_rest_services.get_geojson:
    get:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            description: GeoJSON Feature Collection Object
            properties:
              features:
                description: Array of GeoJSON feature objects.
                items:
                  $ref: '#/definitions/cwa5_Feature'
                title: Features Array
                type: array
              type:
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
                example: FeatureCollection
                title: Feature Collection
                type: string
            required:
            - type
            - features
            type: object
      summary: Clean Water Act (CWA) GeoJSON Service
      tags:
      - Facility Information
    post:
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- GEOJSON
          = Facility results formatted as GeoJSON feature collection (default).n-
          GEOJSONP = Facility results formatted as GeoJSON feature collection with
          Padding.n- GEOJSOND = Facility results formatted as GeoJSON feature collection
          download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are formatted as a GeoJSON feature collection.
          schema:
            description: GeoJSON Feature Collection Object
            properties:
              features:
                description: Array of GeoJSON feature objects.
                items:
                  $ref: '#/definitions/cwa5_Feature'
                title: Features Array
                type: array
              type:
                description: Static marker indicating object is a GeoJSON Feature
                  Collection.
                example: FeatureCollection
                title: Feature Collection
                type: string
            required:
            - type
            - features
            type: object
      summary: Clean Water Act (CWA) GeoJSON Service
      tags:
      - Facility Information
  /cwa_rest_services.get_info_clusters:
    get:
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_qid'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Clean Water Act (CWA) Info Clusters Service
      tags:
      - Facility Information
    post:
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- CSV
          = Facility results formatted as comma delimited file download (default).n-
          GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/p_qid'
      - $ref: '#/parameters/p_pretty_print'
      responses:
        200:
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
          schema:
            type: file
      summary: Clean Water Act (CWA) Info Clusters Service
      tags:
      - Facility Information
  /cwa_rest_services.get_map:
    get:
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/c1_lat'
      - $ref: '#/parameters/c1_long'
      - $ref: '#/parameters/c2_lat'
      - $ref: '#/parameters/c2_long'
      - $ref: '#/parameters/p_id'
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            description: Root Object
            properties:
              MapOutput:
                $ref: '#/definitions/cwa3_MapOutput'
            required:
            - MapOutput
            type: object
      summary: Clean Water Act (CWA) Map Service
      tags:
      - Facility Information
    post:
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/tablelist'
      - $ref: '#/parameters/c1_lat'
      - $ref: '#/parameters/c1_long'
      - $ref: '#/parameters/c2_lat'
      - $ref: '#/parameters/c2_long'
      - $ref: '#/parameters/p_id'
      responses:
        200:
          description: Results are either an array of State, County, Zip Code facility
            cluster map coordinates or individual facility coordinates.  Coordinates
            provided are in WGS84.
          schema:
            description: Root Object
            properties:
              MapOutput:
                $ref: '#/definitions/cwa3_MapOutput'
            required:
            - MapOutput
            type: object
      summary: Clean Water Act (CWA) Map Service
      tags:
      - Facility Information
  /cwa_rest_services.get_qid:
    get:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/pageno'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      responses:
        200:
          description: Results are an array (page)  of CWA (ICIS NPDES) Facilities
            with the number of facilities equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/cwa4_Results'
            required:
            - Results
            type: object
      summary: Clean Water Act (CWA) Paginated Results Service
      tags:
      - Facility Information
    post:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/qid'
      - $ref: '#/parameters/pageno'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/newsort'
      - $ref: '#/parameters/descending'
      - description: Used to cutomize service output.  A list of comma-separated column
          IDs of output objects that will be returned in the service query object
          or download.  Use the metadata service endpoint for a complete list of Ids
          and definitions.
        in: query
        name: qcolumns
        required: false
        type: string
      responses:
        200:
          description: Results are an array (page)  of CWA (ICIS NPDES) Facilities
            with the number of facilities equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/cwa4_Results'
            required:
            - Results
            type: object
      summary: Clean Water Act (CWA) Paginated Results Service
      tags:
      - Facility Information
  /cwa_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
            - Results
            type: object
      summary: Clean Water Act (CWA) Metadata Service
      tags:
      - Metadata
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
            - Results
            type: object
      summary: Clean Water Act (CWA) Metadata Service
      tags:
      - Metadata
  /rest_lookups.bp_tribes:
    get:
      description: Returns the EPA Standard Indian Tribes and Native Alaskan Villages
        tribal_id and tribe_name.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      responses:
        200:
          description: Returns an array of tribes containing the search term. If search
            term not provided, returns all values.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk13_Results'
            required:
            - Results
            type: object
      summary: ECHO BP Tribes Lookup Service
      tags:
      - Lookups
    post:
      description: Returns the EPA Standard Indian Tribes and Native Alaskan Villages
        tribal_id and tribe_name.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      responses:
        200:
          description: Returns an array of tribes containing the search term. If search
            term not provided, returns all values.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk13_Results'
            required:
            - Results
            type: object
      summary: ECHO BP Tribes Lookup Service
      tags:
      - Lookups
  /rest_lookups.cwa_parameters:
    get:
      description: Look up Clean Water Act parameter codes and descriptions in the
        Integrated Compliance Information System - National Pollutant Discharge Elimination
        System (ICIS-NPDES) by code or term.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of parameter codes and descriptions that contain
            the search_term or search_code entered. If search term or search code
            not provided, returns all values. ValueCode is the 5-digit parameter code.nValueDescription
            is the parameter description.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk16_Results'
            required:
            - Results
            type: object
      summary: ECHO CWA Parameter Lookup Service
      tags:
      - Lookups
    post:
      description: Look up Clean Water Act parameter codes and descriptions in the
        Integrated Compliance Information System - National Pollutant Discharge Elimination
        System (ICIS-NPDES) by code or term.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of parameter codes and descriptions that contain
            the search_term or search_code entered. If search term or search code
            not provided, returns all values. ValueCode is the 5-digit parameter code.nValueDescription
            is the parameter description.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk16_Results'
            required:
            - Results
            type: object
      summary: ECHO CWA Parameter Lookup Service
      tags:
      - Lookups
  /rest_lookups.cwa_pollutants:
    get:
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of water polluntants containing search term
            or search code. If search term or search code not provided, returns all
            values.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk17_Results'
            required:
            - Results
            type: object
      summary: ECHO CWA Pollutants Lookup Service
      tags:
      - Lookups
    post:
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of water polluntants containing search term
            or search code. If search term or search code not provided, returns all
            values.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk17_Results'
            required:
            - Results
            type: object
      summary: ECHO CWA Pollutants Lookup Service
      tags:
      - Lookups
  /rest_lookups.federal_agencies:
    get:
      description: Look up Federal Agency Code
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of federal agency codes and their descriptions.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk46_Results'
            required:
            - Results
            type: object
      summary: ECHO Federal Agency Lookup Service
      tags:
      - Lookups
    post:
      description: Look up Federal Agency Code
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of federal agency codes and their descriptions.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk46_Results'
            required:
            - Results
            type: object
      summary: ECHO Federal Agency Lookup Service
      tags:
      - Lookups
  /rest_lookups.icis_inspection_types:
    get:
      description: Returns the ICIS NPDES Compliance Monitoring Type Code and Description.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of icis_inspection_types codes and their description.
            If search term or search code is  not provided, all values are returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk50_Results'
            required:
            - Results
            type: object
      summary: ECHO ICIS NPDES Inspection Types Lookup Service
      tags:
      - Lookups
    post:
      description: Returns the ICIS NPDES Compliance Monitoring Type Code and Description.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of icis_inspection_types codes and their description.
            If search term or search code is  not provided, all values are returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk50_Results'
            required:
            - Results
            type: object
      summary: ECHO ICIS NPDES Inspection Types Lookup Service
      tags:
      - Lookups
  /rest_lookups.icis_law_sections:
    get:
      description: Returns the ICIS Law Section Descriptions.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/statute_code'
      - $ref: '#/parameters/status_flag'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      - $ref: '#/parameters/sort_order'
      responses:
        200:
          description: Returns an array of icis_inspection_types codes and their description.
            If search term or search code is  not provided, all values are returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk51_Results'
            required:
            - Results
            type: object
      summary: ECHO ICIS Law Sections Lookup Service
      tags:
      - Lookups
    post:
      description: Returns the ICIS Law Section Descriptions.
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/statute_code'
      - $ref: '#/parameters/status_flag'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      - $ref: '#/parameters/sort_order'
      responses:
        200:
          description: Returns an array of icis_inspection_types codes and their description.
            If search term or search code is  not provided, all values are returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk51_Results'
            required:
            - Results
            type: object
      summary: ECHO ICIS Law Sections Lookup Service
      tags:
      - Lookups
  /rest_lookups.naics_codes:
    get:
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of NAICS codes and descriptions based on search
            term or search code. If search term or search code not provided, returns
            all values.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk52_Results'
            required:
            - Results
            type: object
      summary: ECHO NAICS Codes Lookup Service
      tags:
      - Lookups
    post:
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      - $ref: '#/parameters/search_code'
      responses:
        200:
          description: Returns an array of NAICS codes and descriptions based on search
            term or search code. If search term or search code not provided, returns
            all values.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk52_Results'
            required:
            - Results
            type: object
      summary: ECHO NAICS Codes Lookup Service
      tags:
      - Lookups
  /rest_lookups.npdes_parameters:
    get:
      description: ICIS Limit Parameter Code and Name lookup based on the supply of
        a partial parameter name. (NPDES = National Pollutant Discharge Elimination
        System)
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      responses:
        200:
          description: Returns an array of NPDES Parameter Codes and their description
            that meet the search term. If the search term is not provided, returns
            all values.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk56_Results'
            required:
            - Results
            type: object
      summary: ECHO NPDES Parameters Lookup Service
      tags:
      - Lookups
    post:
      description: ICIS Limit Parameter Code and Name lookup based on the supply of
        a partial parameter name. (NPDES = National Pollutant Discharge Elimination
        System)
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/search_term'
      responses:
        200:
          description: Returns an array of NPDES Parameter Codes and their description
            that meet the search term. If the search term is not provided, returns
            all values.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk56_Results'
            required:
            - Results
            type: object
      summary: ECHO NPDES Parameters Lookup Service
      tags:
      - Lookups
  /rest_lookups.wbd_code_lu:
    get:
      description: USGS Watershed Boundary Dataset (WBD) Name lookup based on a supplied
        WBD Code and Watershed Level
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/wbd_code'
      - $ref: '#/parameters/wbd_level'
      responses:
        200:
          description: Returns an array of WBD names and codes based on the WBD code
            and WBD level provided. If WBD Code not provided, returns all values.
            ValueCode is the WBD Code containing the number of digits provided in
            the WBD level.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk66_Results'
            required:
            - Results
            type: object
      summary: ECHO WBD Code Lookup Service
      tags:
      - Lookups
    post:
      description: USGS Watershed Boundary Dataset (WBD) Name lookup based on a supplied
        WBD Code and Watershed Level
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/wbd_code'
      - $ref: '#/parameters/wbd_level'
      responses:
        200:
          description: Returns an array of WBD names and codes based on the WBD code
            and WBD level provided. If WBD Code not provided, returns all values.
            ValueCode is the WBD Code containing the number of digits provided in
            the WBD level.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk66_Results'
            required:
            - Results
            type: object
      summary: ECHO WBD Code Lookup Service
      tags:
      - Lookups
  /rest_lookups.wbd_name_lu:
    get:
      description: USGS Watershed Boundary Dataset (WBD) Code lookup based on a supplied
        WBD Name and Watershed Level
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/wbd_name'
      - $ref: '#/parameters/wbd_level'
      responses:
        200:
          description: Returns an array of WBD names and codes based on the WBD name
            and WBD level provided. ValueCode is the WBD Code containing the number
            of digits provided in the WBD level.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk67_Results'
            required:
            - Results
            type: object
      summary: ECHO WBD Name Lookup Service
      tags:
      - Lookups
    post:
      description: USGS Watershed Boundary Dataset (WBD) Code lookup based on a supplied
        WBD Name and Watershed Level
      parameters:
      - description: Output Format Flag.  Enter one of the following keywords:n- JSON
          = Data model formatted as Javascript Object Notation (default).n- JSONP
          = Data model formatted as Javascript Object Notation with Padding.  n- XML
          = Data model formatted as Extensible Markup Language.
        enum:
        - JSONP
        - JSON
        - XML
        in: query
        name: output
        required: false
        type: string
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/wbd_name'
      - $ref: '#/parameters/wbd_level'
      responses:
        200:
          description: Returns an array of WBD names and codes based on the WBD name
            and WBD level provided. ValueCode is the WBD Code containing the number
            of digits provided in the WBD level.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk67_Results'
            required:
            - Results
            type: object
      summary: ECHO WBD Name Lookup Service
      tags:
      - Lookups
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:8:\"Geometry\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"GeoJSON
  Geometry Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Array
  of coordinate values in longitude, latitude format.\";s:7:\"example\";d:-87.862530000000007;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"title\";s:17:\"Coordinates
  Array\";s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"Indicator
  of the geometry represented in the GeoJSON Feature, for Echo will always be \"Point\".\";s:7:\"example\";s:5:\"Point\";s:5:\"title\";s:8:\"Geometry\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:11:\"coordinates\";}s:4:\"type\";s:6:\"object\";}s:15:\"cwa1_Facilities\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Facilities
  Object\";s:10:\"properties\";O:8:\"stdClass\":249:{s:13:\"ActiveLower48\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"AirIDs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AlrExceedences\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AssociatedPollutant\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Description
  of pollutant(s) or pollutant constituent(s) associated with each industrial activity
  exposed to stormwater.\";s:4:\"type\";s:6:\"string\";}s:24:\"AttainsAquaticLifeUseFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:135:\"Displays
  \"Y\" if the waterbody in which the facility resides is designated for aquatic life
  use. The data are from the ATTAINS database.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:29:\"ATTAINS
  Aquatic Life Use Flag\";s:4:\"type\";s:6:\"string\";}s:17:\"AttainsAuCategory\";O:8:\"stdClass\":4:{s:11:\"description\";s:792:\"The
  impairment class or category of the waterbody in which the facility is permitted
  to discharge directly. The data are from the ATTAINS database:\n- 5  = Impaired:
  TMDL needed. Available information indicates that at least one designated use is
  not being supported and a TMDL is needed (also known as the 303(d) listed waters).\n-
  4  = Impaired: TMDL not needed. Available information indicates that at least one
  designated use is not being supported, but a TMDL is not needed (see subcategories).\n-
  4a = TMDL completed. A TMDL has been completed, but impairment still exists.\n-
  4b = TMDL alternative. Impairment is being addressed by a method other than a TMDL
  (e.g., stream bank improvements).\n- 4c = Non-pollutant causes. Cause of impairment
  is not a pollutant (e.g., habitat destruction).\";s:7:\"example\";s:1:\"5\";s:5:\"title\";s:32:\"ATTAINS
  Assessment Unit Category\";s:4:\"type\";s:6:\"string\";}s:18:\"AttainsCauseGroups\";O:8:\"stdClass\":4:{s:11:\"description\";s:138:\"Lists
  all groups of pollutants or stressors that are causing impairment in the assessed
  waterbody. The data are from the ATTAINS database.\";s:7:\"example\";s:49:\"POLYCHLORINATED
  BIPHENYLS (PCBS) | TOXIC ORGANICS\";s:5:\"title\";s:20:\"ATTAINS Cause Groups\";s:4:\"type\";s:6:\"string\";}s:16:\"AttainsCycleYear\";O:8:\"stdClass\":4:{s:11:\"description\";s:118:\"The
  year in which the most recent state assessment occurred for the waterbody. The data
  are from the ATTAINS database.\";s:7:\"example\";s:4:\"2012\";s:5:\"title\";s:18:\"ATTAINS
  Cycle Year\";s:4:\"type\";s:6:\"string\";}s:21:\"AttainsExceptnlUseFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:134:\"Displays
  \"Y\" if the waterbody in which the facility resides is designated for exceptional
  use. The data are from the ATTAINS database.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:28:\"ATTAINS
  Exceptional Use Flag\";s:4:\"type\";s:6:\"string\";}s:18:\"AttainsImpWaterFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:125:\"Displays
  \"Y\" if the waterbody in which the facility resides is listed for impairment. The
  data are from the ATTAINS database.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:27:\"ATTAINS
  Impaired Water Flag\";s:4:\"type\";s:6:\"string\";}s:26:\"AttainsPossibleNPDESParams\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"Lists
  all pollutants discharged by the facility that are potentially contributing to the
  impairment of local waterbodies.\";s:7:\"example\";s:2:\"pH\";s:5:\"title\";s:33:\"ATTAINS
  Possible NPDES Parameters\";s:4:\"type\";s:6:\"string\";}s:23:\"AttainsRecreationUseFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:135:\"Displays
  \"Y\" if the waterbody in which the facility resides is designated for recreational
  use. The data are from the ATTAINS database.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:29:\"ATTAINS
  Recreational Use Flag\";s:4:\"type\";s:6:\"string\";}s:22:\"AttainsShellfishUseFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:132:\"Displays
  \"Y\" if the waterbody in which the facility resides is designated for shellfish
  use. The data are from the ATTAINS database.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:26:\"ATTAINS
  Shellfish Use Flag\";s:4:\"type\";s:6:\"string\";}s:13:\"AttainsSource\";O:8:\"stdClass\":4:{s:11:\"description\";s:147:\"The
  CWA Report in which the waterbody data can be found. The data are from the Assessment
  TMDL Tracking & Implementation System (ATTAINS) database.\";s:7:\"example\";s:6:\"303(d)\";s:5:\"title\";s:14:\"ATTAINS
  Source\";s:4:\"type\";s:6:\"string\";}s:18:\"AttainsStateCauses\";O:8:\"stdClass\":4:{s:11:\"description\";s:128:\"Lists
  all pollutants or stressors that are causing impairment in the assessed waterbody.
  The data are from the ATTAINS database.\";s:7:\"example\";s:37:\"PH | POLYCHLORINATED
  BIPHENYLS (PCBS)\";s:5:\"title\";s:20:\"ATTAINS State Causes\";s:4:\"type\";s:6:\"string\";}s:21:\"BeachCloseLast2yrsFlg\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Displays
  \"Y\" if the facility is located on or near a waterbody with a beach closure within
  the last two years.\";s:7:\"example\";s:1:\"Y\";s:4:\"type\";s:6:\"string\";}s:21:\"BeachCloseLastYearFlg\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Displays
  \"Y\" if the facility is located on or near a waterbody with a beach closure within
  the last year.\";s:7:\"example\";s:1:\"Y\";s:4:\"type\";s:6:\"string\";}s:21:\"BioAnalyMethodCatgrys\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Displays
  the categories of the analytic methods used by the facility to analyze regulated
  parameters at the facility.\";s:4:\"type\";s:6:\"string\";}s:15:\"BioAnalyMethods\";O:8:\"stdClass\":2:{s:11:\"description\";s:201:\"Displays
  the analytic methods used by the facility to analyze enteric viruses, fecal coliforms,
  helminth ova, Salmonella sp., and other regulated parameters as reported on the
  Biosolids Program Report.\";s:4:\"type\";s:6:\"string\";}s:12:\"BioCertifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"BioCommentText\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Free
  text allowing the user to provide comments on the annual program report.\";s:4:\"type\";s:6:\"string\";}s:14:\"BioCurrVioFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Indicates
  if the facility is currently in violation for biosolids under the Clean Water Act,
  in the 12th or 13th quarter.\";s:4:\"type\";s:6:\"string\";}s:11:\"BioFacTypes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"BioIncinerationSum\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  amount (dry metric tons) of biosolids incinerated.\";s:4:\"type\";s:6:\"string\";}s:21:\"BioLandApplicationSum\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  amount (dry metric tons) of biosolids land applied.\";s:4:\"type\";s:6:\"string\";}s:17:\"BioMgmtContainers\";O:8:\"stdClass\":2:{s:11:\"description\";s:233:\"Identifies
  the nature of each biosolids and sewage sludge material generated by the facility
  in terms of whether the material is a biosolid or sewage sludge and whether the
  material is ultimately conveyed off-site in bulk or in bags.\";s:4:\"type\";s:6:\"string\";}s:20:\"BioMgmtDefCategories\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Indicates
  the program deficiency category to assist in reporting and displaying program deficiencies
  on web screens.\";s:4:\"type\";s:6:\"string\";}s:20:\"BioMgmtDefCurrentCnt\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  number of times noncompliance reported by the facility in the last 3 years.\";s:4:\"type\";s:6:\"string\";}s:19:\"BioMgmtDeficiencies\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Indicates
  the type of NPDES special regulatory program deficiency.\";s:4:\"type\";s:6:\"string\";}s:15:\"BioMgmtHandlers\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Indicates
  the type of Biosolids or Sewage Sludge handlers/preparers, either owner/operator
  or off-site third-party handler/preparer.\";s:4:\"type\";s:6:\"string\";}s:16:\"BioMgmtPathogens\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Identifies
  the pathogen class for biosolids or sewage sludge generated by the facility.\";s:4:\"type\";s:6:\"string\";}s:15:\"BioMgmtPathreds\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Identifies
  the options used by the facility to control pathogens for a Biosolids Management
  Practice.\";s:4:\"type\";s:6:\"string\";}s:19:\"BioMgmtPrctceStypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Additional
  detail about the type of Management Practice used for an amount of Biosolids or
  Sewage Sludge.\";s:4:\"type\";s:6:\"string\";}s:18:\"BioMgmtPrctceTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  type of biosolids or sewage sludge management practice (e.g., land application,
  surface disposal, incineration) used by the facility.\";s:4:\"type\";s:6:\"string\";}s:14:\"BioMgmtVectors\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Identifies
  the option used by the facility for vector attraction reduction.\";s:4:\"type\";s:6:\"string\";}s:21:\"BioOtherManagementSum\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  amount (dry metric tons) of biosolids managed using methods not previously described.\";s:4:\"type\";s:6:\"string\";}s:21:\"BioOtherMgmtPrctcTxts\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Free
  text additional description of \"other\" Biosolids Management Practices.\";s:4:\"type\";s:6:\"string\";}s:12:\"BioQtrsInVio\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  number of quarters, in the last three years, where the facility was in violation
  for a biosolids violation type.\";s:4:\"type\";s:6:\"string\";}s:13:\"BioReportDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  date the report was received by EPA.\";s:4:\"type\";s:6:\"string\";}s:13:\"BioReportYear\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  calendar year corresponding to the Annual Biosolids Report.\";s:4:\"type\";s:6:\"string\";}s:23:\"BioReportingObligations\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Indicates
  the reporting obligation reason.\";s:4:\"type\";s:6:\"string\";}s:17:\"BioSurfaceDispSum\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  amount of surface disposal in dry metric tons (DMT).\";s:4:\"type\";s:6:\"string\";}s:9:\"BioSvFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"A
  flag (values of 1 for Yes, 0 for No) that a SNC Biosolids Violation exists for the
  facility.\";s:4:\"type\";s:6:\"string\";}s:17:\"BioTotalVolumeAmt\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  amount (in dry metric tons) of biosolids or sewage sludge generated at the facility.\";s:4:\"type\";s:6:\"string\";}s:23:\"BioTrtmntPrcssCmmntTxts\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Free
  text additional description of \"other\" biotreatment processes.\";s:4:\"type\";s:6:\"string\";}s:18:\"BioTrtmntProcesses\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Identifies
  the biosolids or sewage sludge treatment process or processes at the facility.\";s:4:\"type\";s:6:\"string\";}s:14:\"BioVioLastYear\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"A
  flag (values of 1 for Yes, 0 for No) that a Bisolids Violation occurred in the last
  4 quarters.\";s:4:\"type\";s:6:\"string\";}s:18:\"BioVioLastYearFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"BioViolFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"Displays
  \"Yes\" if the facility is in violation for biosolids under the Clean Water Act,
  in the last three years.\";s:4:\"type\";s:6:\"string\";}s:13:\"BiosolidsFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  Yes/No field to indicate permits with biosolids management and compliance information.\";s:4:\"type\";s:6:\"string\";}s:20:\"CWP13qtrsComplStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Each
  letter indicates the compliance status for the corresponding quarter.\";s:7:\"example\";s:13:\"UUUUUUUU__VV_\";s:4:\"type\";s:6:\"string\";}s:24:\"CWPActualAverageFlowNmbr\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  actual amount of the facility's wastewater flow measured in million gallons per
  day (MGD).\";s:7:\"example\";s:3:\"448\";s:4:\"type\";s:6:\"string\";}s:14:\"CWPBioFeaCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"The
  count of Biosolids related Formal Enforcement Actions that have been taken against
  the Facility.\";s:4:\"type\";s:6:\"string\";}s:14:\"CWPBioIeaCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"The
  count of Biosolids related Informal Enforcement Actions that have been taken against
  the Facility.\";s:4:\"type\";s:6:\"string\";}s:15:\"CWPBioInspCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  count of Biosolids related Inspections that have occured for the facility.\";s:4:\"type\";s:6:\"string\";}s:15:\"CWPBioPenalties\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  total amount of Biosolids related penalties that have been assessed against the
  facility.\";s:4:\"type\";s:6:\"string\";}s:10:\"CWPCaseIDs\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Indicates
  the ICIS Case Number, a unique number identifying the civil enforcement action.\";s:7:\"example\";s:12:\"03-2014-0228\";s:4:\"type\";s:6:\"string\";}s:7:\"CWPCity\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"City
  in which the facility is located.\";s:7:\"example\";s:10:\"HUNTSVILLE\";s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:21:\"CWPComplianceTracking\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Extent
  to which data is being entered and effluent exceedances are being identified (Off,
  On, Partial).\";s:7:\"example\";s:2:\"On\";s:4:\"type\";s:6:\"string\";}s:9:\"CWPCounty\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"County
  in which the facility is located.\";s:7:\"example\";s:20:\"District of Columbia\";s:5:\"title\";s:6:\"County\";s:4:\"type\";s:6:\"string\";}s:10:\"CWPCsoFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:236:\"The
  discharge from a Combined Sewer System at a point prior to the treatment plant.
  CSOs are point sources subject to NPDES permit requirements including both technology-based
  and water quality-based requirements of the Clean Water Act.\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:32:\"Combined
  Sewer Overflows (CSOs)?\";s:4:\"type\";s:6:\"string\";}s:14:\"CWPCsoOutfalls\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  number of discharge outfalls at points prior to the treatment plant.\";s:7:\"example\";s:2:\"59\";s:5:\"title\";s:12:\"CSO
  Outfalls\";s:4:\"type\";s:6:\"string\";}s:19:\"CWPCurrentSNCStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  type of noncompliance when a major source is in significant violation or a minor
  source has a Category 1 violation.\";s:7:\"example\";s:10:\"D (DMR NR)\";s:4:\"type\";s:6:\"string\";}s:23:\"CWPCurrentSNCStatusDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  status date of the facility's Significant Noncompliance designation.\";s:7:\"example\";s:10:\"12/31/2015\";s:4:\"type\";s:6:\"string\";}s:19:\"CWPCurrentVioStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"CWPCurrentViol\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"Displays
  \"Y\" if the facility is currently in any violation under the Clean Water Act, either
  in Noncompliance or Significant Noncompliance.\";s:7:\"example\";s:1:\"Y\";s:4:\"type\";s:6:\"string\";}s:17:\"CWPDateLastBioFea\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"CWPDateLastBioFeaEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"CWPDateLastBioFeaSt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"CWPDateLastBioIea\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"CWPDateLastBioIeaEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"CWPDateLastBioIeaSt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"CWPDateLastBioInsp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CWPDateLastBioInspEPA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"CWPDateLastBioInspSt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CWPDateLastBioPenalty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"CWPDateLastFea\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Indicates
  the effective date of the most recent listed formal enforcement action taken against
  the facility within the last five years.\";s:7:\"example\";s:10:\"06/01/2006\";s:4:\"type\";s:6:\"string\";}s:17:\"CWPDateLastFeaEPA\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"Indicates
  the effective date of the most recent listed formal enforcement action taken against
  the facility by EPA within the last five years.\";s:7:\"example\";s:10:\"06/01/2006\";s:4:\"type\";s:6:\"string\";}s:16:\"CWPDateLastFeaSt\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"Indicates
  the effective date of the most recent listed formal enforcement action taken against
  the facility by a state environmental agency within the last five years.\";s:7:\"example\";s:10:\"09/27/2010\";s:4:\"type\";s:6:\"string\";}s:17:\"CWPDateLastIeaEPA\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"Indicates
  the effective date of the most recent listed informal enforcement action taken against
  the facility by EPA within the last five years.\";s:7:\"example\";s:10:\"12/09/1992\";s:4:\"type\";s:6:\"string\";}s:16:\"CWPDateLastIeaSt\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"Indicates
  the effective date of the most recent listed informal enforcement action taken against
  the facility by a state environmental agency within the last five years.\";s:7:\"example\";s:10:\"06/09/2013\";s:4:\"type\";s:6:\"string\";}s:21:\"CWPDateLastInformalEa\";O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"Indicates
  the effective date of the most recent listed informal enforcement action taken against
  the facility within the last five years.\";s:7:\"example\";s:10:\"06/09/2013\";s:5:\"title\";s:32:\"Date
  of Last Informal Enf Action\";s:4:\"type\";s:6:\"string\";}s:18:\"CWPDateLastInspEPA\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"Indicates
  the effective date of the most recent inspection taken against the facility by EPA
  within the last five years.\";s:7:\"example\";s:10:\"07/29/2015\";s:4:\"type\";s:6:\"string\";}s:17:\"CWPDateLastInspSt\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Indicates
  the effective date of the most recent inspection taken against the facility by a
  state environmental agency within the last five years.\";s:7:\"example\";s:10:\"09/15/2004\";s:4:\"type\";s:6:\"string\";}s:21:\"CWPDateLastInspection\";O:8:\"stdClass\":4:{s:11:\"description\";s:153:\"The
  date on which the most recent inspection of the facility took place. For the CAA,
  the date on which a Full Compliance Evaluation (FCE) was completed.\";s:7:\"example\";s:10:\"07/29/2015\";s:5:\"title\";s:23:\"Date
  of Last Inspection\";s:4:\"type\";s:6:\"string\";}s:18:\"CWPDateLastPenalty\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Indicates
  date of most recent penalty against the facility within the last five years.\";s:7:\"example\";s:10:\"09/27/2010\";s:4:\"type\";s:6:\"string\";}s:18:\"CWPDaysLastBioInsp\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Indicates
  the number of days since the most recent Biosolids related inspection of the facility.\";s:4:\"type\";s:6:\"string\";}s:21:\"CWPDaysLastInspection\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Indicates
  the number of days since the most recent inspection of the facility. Inspections
  listed within the last five years are included.\";s:7:\"example\";s:3:\"247\";s:4:\"type\";s:6:\"string\";}s:9:\"CWPE90Cnt\";O:8:\"stdClass\":4:{s:11:\"description\";s:194:\"Displays
  the number of instances where effluent limits have been exceeded in the past 3 years
  (E90 compliance code), based on monthly Discharge Monitoring Reports (DMRs) submitted
  by facilities.\";s:7:\"example\";s:1:\"5\";s:5:\"title\";s:27:\"Effluent Violations
  (5 yrs)\";s:4:\"type\";s:6:\"string\";}s:12:\"CWPEPARegion\";O:8:\"stdClass\":4:{s:11:\"description\";s:134:\"The
  EPA region where the facility is located. EPA has 10 regional offices that execute
  programs within several states and territories.\";s:7:\"example\";s:2:\"03\";s:5:\"title\";s:10:\"EPA
  Region\";s:4:\"type\";s:6:\"string\";}s:16:\"CWPEffectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"CWPExpirationDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Date
  that the permit expires.\";s:7:\"example\";s:10:\"04/19/2005\";s:5:\"title\";s:25:\"Date
  of Permit Expiration\";s:4:\"type\";s:6:\"string\";}s:11:\"CWPFIPSCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"CWPFacilityTypeIndicator\";O:8:\"stdClass\":4:{s:11:\"description\";s:179:\"Each
  National Pollutant Discharge Elimination System (NPDES) permit is defined by the
  program office as a Major or non-major discharger. This field also indicates the
  permit type.\";s:7:\"example\";s:8:\"NON-POTW\";s:5:\"title\";s:13:\"Facility Type\";s:4:\"type\";s:6:\"string\";}s:14:\"CWPFormalEaCnt\";O:8:\"stdClass\":3:{s:11:\"description\";s:216:\"Indicates
  the total number of enforcement actions taken against the facility within the last
  five years. \"NA\" indicates that this measure is not applicable for facilities
  with no associated CAA, CWA, or RCRA permits.\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:14:\"CWPImpWaterFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"Displays
  \"Y\" if the permitted facility discharges directly into category 4 or 5 impaired
  waters, as designated under section 303(d) of the Clean Water Act.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:19:\"Impaired
  Water Body\";s:4:\"type\";s:6:\"string\";}s:17:\"CWPIndianCntryFlg\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Displays
  \"Y\" if a facility is located in Indian country.\";s:7:\"example\";s:1:\"Y\";s:5:\"title\";s:17:\"In
  Indian Country\";s:4:\"type\";s:6:\"string\";}s:22:\"CWPInformalEnfActCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:142:\"Indicates
  the total number of informal enforcement actions/notices of violations (NOVs) taken
  against the facility within the last five years.\";s:7:\"example\";s:1:\"3\";s:5:\"title\";s:39:\"Information
  Enforcement Actions (5 yrs)\";s:4:\"type\";s:6:\"string\";}s:18:\"CWPInspectionCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:136:\"The
  number of inspections/compliance evaluations, under the corresponding statute, occurring
  at the facility within the last five years.\";s:7:\"example\";s:1:\"4\";s:5:\"title\";s:19:\"Inspections
  (5 yrs)\";s:4:\"type\";s:6:\"string\";}s:12:\"CWPIssueDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"CWPMajorMinorStatusFlag\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Facilities
  marked \"M\" for major refers to CWA major permittees.\n- M = Major\n- N = Minor\";s:7:\"example\";s:1:\"N\";s:5:\"title\";s:23:\"Major/Minor
  Status Flag\";s:4:\"type\";s:6:\"string\";}s:13:\"CWPNaicsCodes\";O:8:\"stdClass\":4:{s:11:\"description\";s:104:\"Indicates
  the facility's or permit's primary North American Industry Classification System
  (NAICS) Code.\";s:7:\"example\";s:6:\"236220\";s:5:\"title\";s:10:\"NAICS Code\";s:4:\"type\";s:6:\"string\";}s:7:\"CWPName\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Facility
  or permit holder name, as maintained in ICIS-NPDES.\";s:7:\"example\";s:16:\"REDSTONE
  ARSENAL\";s:5:\"title\";s:13:\"Facility Name\";s:4:\"type\";s:6:\"string\";}s:19:\"CWPPermitStatusCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  code associated with the facility's NPDES permit status.\";s:7:\"example\";s:3:\"ADC\";s:5:\"title\";s:20:\"Permit
  Status (Code)\";s:4:\"type\";s:6:\"string\";}s:19:\"CWPPermitStatusDesc\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  current stage/status in the NPDES permit life cycle.\";s:7:\"example\";s:9:\"Effective\";s:5:\"title\";s:25:\"Permit
  Status Description\";s:4:\"type\";s:6:\"string\";}s:17:\"CWPPermitTypeCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"The
[...]
