---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Publish API\";s:7:\"version\";s:2:\"v2\";s:5:\"title\";s:24:\"ticketmaster
  publish api\";s:7:\"contact\";O:8:\"stdClass\":1:{s:3:\"url\";s:53:\"http://developer.ticketmaster.com/support/contact-us/\";}}"
host: www.ticketmaster.com
basePath: /publish/v2
paths:
  /publish/v2/attractions:
    post:
      summary: Publish an attractions
      description: Since 1.0.0
      operationId: publishAttraction
      parameters:
      - in: body
        name: data
        description: Attraction
        required: true
        schema:
          $ref: '#/definitions/Attraction'
      - name: TMPS-Correlation-Id
        in: header
        description: Unique correlation id to be able to trace the request in our
          system
        required: true
        type: string
        default: ""
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IngestionResult'
  /publish/v2/attractions/{id}:
    patch:
      summary: Publish a patch on an attraction
      description: Since 1.0.0
      operationId: patchAttraction
      parameters:
      - name: id
        in: path
        description: ID of the attraction the patch will be applied
        required: true
        type: string
      - in: body
        name: data
        description: Patch to apply
        required: true
        schema:
          $ref: '#/definitions/AugmentationData'
      - name: TMPS-Correlation-Id
        in: header
        description: Unique correlation id to be able to trace the request in our
          system
        required: true
        type: string
        default: ""
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IngestionResult'
  /publish/v2/attractions/{id}/videos:
    post:
      summary: Publish a video on an attraction
      description: Since 1.0.0
      operationId: publishAttractionVideos
      parameters:
      - name: id
        in: path
        description: ID of the attraction the video is linked to
        required: true
        type: string
      - in: body
        name: data
        description: Video data
        required: true
        schema:
          $ref: '#/definitions/Video'
      - name: TMPS-Correlation-Id
        in: header
        description: Unique correlation id to be able to trace the request in our
          system
        required: true
        type: string
        default: ""
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IngestionResult'
  /publish/v2/entitlements:
    post:
      summary: Publish entitlements on an entity
      description: Since 2.0.0
      operationId: publishEntitlements
      parameters:
      - in: body
        name: data
        description: Entitlements information to add to the entity
        required: true
        schema:
          $ref: '#/definitions/Entitlement'
      - name: TMPS-Correlation-Id
        in: header
        description: Unique correlation id to be able to trace the request in our
          system
        required: true
        type: string
        default: ""
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IngestionResult'
  /publish/v2/events:
    post:
      summary: Publish an event
      description: Since 1.0.0
      operationId: publishEvent
      parameters:
      - in: body
        name: data
        description: Event
        required: true
        schema:
          $ref: '#/definitions/Event'
      - name: TMPS-Correlation-Id
        in: header
        description: Unique correlation id to be able to trace the request in our
          system
        required: true
        type: string
        default: ""
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IngestionResult'
  /publish/v2/events/{id}:
    patch:
      summary: Publish a patch on an event
      description: Since 1.0.0
      operationId: patchEvent
      parameters:
      - name: id
        in: path
        description: ID of the event the patch will be applied
        required: true
        type: string
      - in: body
        name: data
        description: Patch to apply
        required: true
        schema:
          $ref: '#/definitions/AugmentationData'
      - name: TMPS-Correlation-Id
        in: header
        description: Unique correlation id to be able to trace the request in our
          system
        required: true
        type: string
        default: ""
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IngestionResult'
  /publish/v2/events/{id}/videos:
    post:
      summary: Publish a video on an event
      description: Since 1.0.0
      operationId: publishEventVideos
      parameters:
      - name: id
        in: path
        description: ID of the event the video is linked to
        required: true
        type: string
      - in: body
        name: data
        description: Video data
        required: true
        schema:
          $ref: '#/definitions/Video'
      - name: TMPS-Correlation-Id
        in: header
        description: Unique correlation id to be able to trace the request in our
          system
        required: true
        type: string
        default: ""
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IngestionResult'
  /publish/v2/extensions:
    post:
      summary: Publish extension on an entity
      description: Since 1.0.0
      operationId: publishExtension
      parameters:
      - in: body
        name: data
        description: Extension information to add to the entity
        required: true
        schema:
          $ref: '#/definitions/ExtensionData'
      - name: TMPS-Correlation-Id
        in: header
        description: Unique correlation id to be able to trace the request in our
          system
        required: true
        type: string
        default: ""
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IngestionResult'
  /publish/v2/venues:
    post:
      summary: Publish a venue
      description: Since 1.0.0
      operationId: publishVenue
      parameters:
      - in: body
        name: data
        description: Venue
        required: true
        schema:
          $ref: '#/definitions/Venue'
      - name: TMPS-Correlation-Id
        in: header
        description: Unique correlation id to be able to trace the request in our
          system
        required: true
        type: string
        default: ""
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IngestionResult'
  /publish/v2/venues/{id}:
    patch:
      summary: Publish a patch on a venue
      description: Since 1.0.0
      operationId: patchVenue
      parameters:
      - name: id
        in: path
        description: ID of the venue the patch will be applied
        required: true
        type: string
      - in: body
        name: data
        description: Patch to apply
        required: true
        schema:
          $ref: '#/definitions/AugmentationData'
      - name: TMPS-Correlation-Id
        in: header
        description: Unique correlation id to be able to trace the request in our
          system
        required: true
        type: string
        default: ""
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IngestionResult'
definitions: !php/object "O:8:\"stdClass\":64:{s:11:\"AccessDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"startDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:20:\"yyyy-MM-ddThh-mm-ssZ\";s:11:\"description\";s:25:\"Event's
  start access time\";}s:16:\"startApproximate\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:1;s:11:\"description\";s:77:\"Boolean
  flag to indicate whether or not the access start date is approximated\";s:7:\"default\";b:0;}s:11:\"endDateTime\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:20:\"yyyy-MM-ddThh-mm-ssZ\";s:8:\"position\";i:2;s:11:\"description\";s:23:\"Event's
  end access time\";}s:14:\"endApproximate\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:20:\"yyyy-MM-ddThh-mm-ssZ\";s:8:\"position\";i:3;s:11:\"description\";s:75:\"Boolean
  flag to indicate whether or not the access end date is approximated\";s:7:\"default\";b:0;}}s:11:\"description\";s:19:\"Event's
  Access Date\";}s:7:\"Address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"line1s\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:12:\"en-us:
  line1\";s:8:\"position\";i:1;s:11:\"description\";s:42:\"Aaddress first line - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"line2s\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:line2\";s:8:\"position\";i:4;s:11:\"description\";s:42:\"Address
  second line - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"line3s\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:line3\";s:8:\"position\";i:4;s:11:\"description\";s:41:\"Address
  third line - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:7:\"Address\";}s:4:\"Area\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"names\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:8:\"position\";i:11;s:11:\"description\";s:42:\"Names of the entity - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:4:\"Area\";}s:10:\"Attraction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:3:{i:0;s:5:\"event\";i:1;s:5:\"venue\";i:2;s:10:\"attraction\";}}s:6:\"source\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:49:\"Source
  of the entity, where the entity comes from\";s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:5:\"names\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:8:\"position\";i:11;s:11:\"description\";s:42:\"Names of the entity - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"descriptions\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:18:\"en-us:
  description\";s:8:\"position\";i:21;s:11:\"description\";s:49:\"Descriptions of
  the entity - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"additionalInfos\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:21:\"en-us:
  additionalInfo\";s:8:\"position\";i:23;s:11:\"description\";s:60:\"Additional informations
  of the entity - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:43:\"URL
  of a web site detail page of the entity\";}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:15:\"classifications\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:30;s:11:\"description\";s:28:\"Attraction's
  classifications\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Classification\";}}s:13:\"relationships\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:70;s:11:\"description\";s:77:\"Relationships
  on the entity, like if the entity is a duplicate of another one\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Relationship\";}}s:10:\"references\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:14:\"sourceName:
  id\";s:8:\"position\";i:71;s:11:\"description\";s:80:\"References of this entity
  in an other system. Reference is the exact same entity\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"version\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"position\";i:80;s:11:\"description\";s:82:\"Version
  of the entity. Version is to avoid updated an entity with an older version\";}s:6:\"active\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:95;s:11:\"description\";s:79:\"Indicate
  if the entity is active, inactive entity won't appear in Discovery API\";s:7:\"default\";b:0;}s:4:\"test\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:96;s:11:\"description\";s:89:\"Indicate
  if this is a test entity, by default test entities won't appear in discovery API\";s:7:\"default\";b:0;}s:12:\"discoverable\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:97;s:11:\"description\";s:50:\"True
  if the entity is dicoverable in discovery API\";s:7:\"default\";b:0;}}s:11:\"description\";s:10:\"Attraction\";}s:20:\"AttractionExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"All
  Attraction's extensions\";}s:16:\"AugmentationData\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:7:\"changes\";i:1;s:15:\"relatedEntityId\";i:2;s:17:\"relatedEntityType\";i:3;s:6:\"source\";i:4;s:13:\"versionNumber\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"relatedEntityType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  type of the entity to apply the augmentation data.\";s:4:\"enum\";a:3:{i:0;s:5:\"event\";i:1;s:10:\"attraction\";i:2;s:5:\"venue\";}}s:15:\"relatedEntityId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:48:\"Id
  of the entity to apply the augmentation data.\";}s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:49:\"The
  source where the augementation data came from\";}s:13:\"versionNumber\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"position\";i:3;s:11:\"description\";s:88:\"Vesion
  of this augmentation data. This field is to avoid updating entity with old data.
  \";}s:5:\"score\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:8:\"position\";i:4;s:11:\"description\";s:83:\"The
  confidence (%) level of the accuracy of this augmention data. 100 is the better\";}s:7:\"changes\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:5;s:11:\"description\";s:46:\"List
  of changes to apply to the related entity\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Change\";}}}s:11:\"description\";s:59:\"This
  class defines the Augmentation Data on the Publish API\";}s:6:\"Change\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"op\";i:1;s:4:\"path\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"op\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Operation
  to apply on the entity.\";s:4:\"enum\";a:6:{i:0;s:3:\"add\";i:1;s:6:\"remove\";i:2;s:7:\"replace\";i:3;s:4:\"move\";i:4;s:4:\"copy\";i:5;s:4:\"test\";}}s:4:\"from\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:61:\"Json
  path of the source entity when using the move operation.\";}s:4:\"path\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:88:\"Json
  path from the root of the document to the place where the change should be applied.\";}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:3;s:11:\"description\";s:44:\"Data
  to change. MUST be a valid json object.\";}}s:11:\"description\";s:49:\"This class
  defines the Changes on the Publish API\";}s:10:\"Chronology\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"zone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DateTimeZone\";}}}s:4:\"City\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"names\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:8:\"position\";i:11;s:11:\"description\";s:42:\"Names of the entity - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:4:\"City\";}s:14:\"Classification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"primary\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:7:\"segment\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:69:\"A
  Segment is a primary genre for an entity (Music, Sports, Arts, etc)\";s:4:\"$ref\";s:21:\"#/definitions/Segment\";}s:5:\"genre\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:79:\"Secondary
  Genre to further describe an entity (Rock, Classical, Animation, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}s:8:\"subGenre\";O:8:\"stdClass\":3:{s:8:\"position\";i:3;s:11:\"description\";s:100:\"Tertiary
  Genre for additional detail when describring an entity (Alternative Rock, Ambient
  Pop, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"position\";i:5;s:11:\"description\";s:105:\"A
  Type represents a kind or group of people. (Donation, Group, Individual, Merchandise,
  Event Style, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}s:7:\"subType\";O:8:\"stdClass\":3:{s:8:\"position\";i:6;s:11:\"description\";s:73:\"Secondary
  Type to further categorize an entity (Band, Choir, Chorus, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}}s:11:\"description\";s:14:\"Classification\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"countryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Country
  code (ISO 3166)\";}s:5:\"names\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:8:\"position\";i:11;s:11:\"description\";s:42:\"Names of the entity - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:7:\"Country\";}s:13:\"DateTimeField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DateTimeFieldType\";}s:9:\"supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:7:\"lenient\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:13:\"durationField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DurationField\";}s:12:\"minimumValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"maximumValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:18:\"rangeDurationField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DurationField\";}s:17:\"leapDurationField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DurationField\";}}}s:17:\"DateTimeFieldType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"durationType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DurationFieldType\";}s:17:\"rangeDurationType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DurationFieldType\";}}}s:12:\"DateTimeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"fixed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}}}s:23:\"DisplaySettingExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"Event's
  display settings extension\";}s:3:\"Dma\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"DMS's
  id\";}}s:11:\"description\";s:28:\"DMA (Designated Market Area)\";}s:13:\"DurationField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DurationFieldType\";}s:9:\"supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:7:\"precise\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:10:\"unitMillis\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:17:\"DurationFieldType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"EndDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"localTime\";O:8:\"stdClass\":3:{s:7:\"example\";s:10:\"yyyy-MM-dd\";s:11:\"description\";s:32:\"The
  event end time in local time\";s:4:\"$ref\";s:23:\"#/definitions/LocalTime\";}s:8:\"dateTime\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:20:\"yyyy-MM-ddThh-mm-ssZ\";s:8:\"position\";i:1;s:11:\"description\";s:23:\"The
  event end date time\";}s:11:\"approximate\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:2;s:11:\"description\";s:68:\"Boolean
  flag to indicate whether or not the end date is approximated\";s:7:\"default\";b:0;}}s:11:\"description\";s:17:\"Event's
  End Dates\";}s:11:\"Entitlement\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:17:\"relatedEntityType\";i:2;s:6:\"source\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Source
  of the extension, where it came from\";s:4:\"enum\";a:1:{i:0;s:12:\"ticketmaster\";}}s:15:\"relatedEntityId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:114:\"Id
  of the entity to add this extionsion to. If the relatedEntityId is Null, a relatedEntitySource
  MUST be provided\";}s:19:\"relatedEntitySource\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:29:\"Source
  of the related entity.\";s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:17:\"relatedEntityType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:49:\"The
  type of the entity to add this entitlement to\";s:7:\"pattern\";s:24:\"^event|venue|attraction$\";s:4:\"enum\";a:3:{i:0;s:5:\"event\";i:1;s:5:\"venue\";i:2;s:10:\"attraction\";}}s:13:\"versionNumber\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"position\";i:5;s:11:\"description\";s:96:\"Version
  of the entitlements. Version is to prevent to override an entitlements with an older
  one\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:6;s:11:\"description\";s:56:\"The
  actual entitlements information to add to the entity\";}}s:11:\"description\";s:57:\"This
  class defines an entitlement data on the Publish API\";}s:13:\"EntityChanges\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"newlyCreated\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:7:\"changes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:5:\"Event\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":27:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:3:{i:0;s:5:\"event\";i:1;s:5:\"venue\";i:2;s:10:\"attraction\";}}s:8:\"distance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"units\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:6:\"source\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:49:\"Source
  of the entity, where the entity comes from\";s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:5:\"names\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:8:\"position\";i:11;s:11:\"description\";s:42:\"Names of the entity - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"descriptions\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:18:\"en-us:
  description\";s:8:\"position\";i:21;s:11:\"description\";s:49:\"Descriptions of
  the entity - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"additionalInfos\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:21:\"en-us:
  additionalInfo\";s:8:\"position\";i:23;s:11:\"description\";s:60:\"Additional informations
  of the entity - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:43:\"URL
  of a web site detail page of the entity\";}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:16:\"publicVisibility\";O:8:\"stdClass\":3:{s:8:\"position\";i:30;s:11:\"description\";s:31:\"Event's
  public visibility dates\";s:4:\"$ref\";s:30:\"#/definitions/PublicVisibility\";}s:5:\"dates\";O:8:\"stdClass\":3:{s:8:\"position\";i:31;s:11:\"description\";s:25:\"Event's
  dates information\";s:4:\"$ref\";s:24:\"#/definitions/EventDates\";}s:5:\"sales\";O:8:\"stdClass\":3:{s:8:\"position\";i:32;s:11:\"description\";s:31:\"Event's
  sales dates information\";s:4:\"$ref\";s:29:\"#/definitions/EventSalesDates\";}s:5:\"infos\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  info\";s:8:\"position\";i:33;s:11:\"description\";s:59:\"Any information related
  to the event - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"pleaseNotes\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  note\";s:8:\"position\";i:35;s:11:\"description\";s:53:\"Any notes related to the
  event - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"priceRanges\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:36;s:11:\"description\";s:26:\"Price
  ranges of this event\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PriceRange\";}}s:8:\"promoter\";O:8:\"stdClass\":3:{s:8:\"position\";i:37;s:11:\"description\";s:16:\"Event's
  promoter\";s:4:\"$ref\";s:22:\"#/definitions/Promoter\";}s:15:\"classifications\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:50;s:11:\"description\";s:23:\"Event's
  classifications\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Classification\";}}s:5:\"place\";O:8:\"stdClass\":3:{s:8:\"position\";i:51;s:11:\"description\";s:88:\"Place
  has the information on where the event happens. It can be set if there is no venue\";s:4:\"$ref\";s:19:\"#/definitions/Place\";}s:5:\"venue\";O:8:\"stdClass\":3:{s:8:\"position\";i:52;s:11:\"description\";s:17:\"Venue
  information\";s:4:\"$ref\";s:19:\"#/definitions/Venue\";}s:11:\"attractions\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:53;s:11:\"description\";s:39:\"Ordered
  Attraction related to the event\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attraction\";}}s:13:\"relationships\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:70;s:11:\"description\";s:77:\"Relationships
  on the entity, like if the entity is a duplicate of another one\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Relationship\";}}s:10:\"references\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:14:\"sourceName:
  id\";s:8:\"position\";i:71;s:11:\"description\";s:80:\"References of this entity
  in an other system. Reference is the exact same entity\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"version\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"position\";i:80;s:11:\"description\";s:82:\"Version
  of the entity. Version is to avoid updated an entity with an older version\";}s:6:\"active\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:95;s:11:\"description\";s:79:\"Indicate
  if the entity is active, inactive entity won't appear in Discovery API\";s:7:\"default\";b:0;}s:4:\"test\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:96;s:11:\"description\";s:89:\"Indicate
  if this is a test entity, by default test entities won't appear in discovery API\";s:7:\"default\";b:0;}s:12:\"discoverable\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:97;s:11:\"description\";s:50:\"True
  if the entity is dicoverable in discovery API\";s:7:\"default\";b:0;}}s:11:\"description\";s:5:\"Event\";}s:10:\"EventDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Event's
  start dates. The date and time when the event will start\";s:4:\"$ref\";s:24:\"#/definitions/StartDates\";}s:3:\"end\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:60:\"Event's
  end dates. The date and time when the event will end\";s:4:\"$ref\";s:22:\"#/definitions/EndDates\";}s:6:\"access\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:68:\"Event's
  access dates. The date and time the fan can access the event\";s:4:\"$ref\";s:25:\"#/definitions/AccessDates\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:16:\"Event's
  timezone\";}s:6:\"status\";O:8:\"stdClass\":3:{s:8:\"position\";i:4;s:11:\"description\";s:19:\"Status
  of the event\";s:4:\"$ref\";s:25:\"#/definitions/EventStatus\";}}s:11:\"description\";s:13:\"Event's
  Dates\";}s:15:\"EventExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"All
  Event's extensions\";}s:15:\"EventSalesDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"public\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Public
  onsale information on this event\";s:4:\"$ref\";s:29:\"#/definitions/PublicSaleDates\";}s:8:\"presales\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:1;s:11:\"description\";s:33:\"Presale
  information on this event\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Presale\";}}}s:11:\"description\";s:19:\"Event's
  Sales Dates\";}s:11:\"EventStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  event's status code\";s:4:\"enum\";a:5:{i:0;s:6:\"onsale\";i:1;s:7:\"offsale\";i:2;s:8:\"canceled\";i:3;s:9:\"postponed\";i:4;s:11:\"rescheduled\";}}}s:11:\"description\";s:14:\"Event's
  Status\";}s:9:\"Extension\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"ExtensionData\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:4:\"data\";i:1;s:17:\"relatedEntityType\";i:2;s:6:\"source\";i:3;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Source
  of the extension, where it came from\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:55:\"The
  type of the extension. This represent the data sent\";}s:17:\"relatedEntityType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:48:\"The
  type of the entity to add this extensions to\";s:7:\"pattern\";s:24:\"^event|venue|attraction$\";s:4:\"enum\";a:3:{i:0;s:5:\"event\";i:1;s:5:\"venue\";i:2;s:10:\"attraction\";}}s:15:\"relatedEntityId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:114:\"Id
  of the entity to add this extionsion to. If the relatedEntityId is Null, a relatedEntitySource
  MUST be provided\";}s:19:\"relatedEntitySource\";O:8:\"stdClass\":3:{s:8:\"position\";i:4;s:11:\"description\";s:29:\"Source
  of the related entity.\";s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:13:\"versionNumber\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"position\";i:5;s:11:\"description\";s:91:\"Version
  of the extensions. Version is to prevent to override an extension with an older
  one\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:6;s:11:\"description\";s:43:\"The
  actual information to add to the entity\";}}s:11:\"description\";s:56:\"This class
  defines an extenstion data on the Publish API\";}s:16:\"GeocodeExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"county\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"geometry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Geometry\";}s:12:\"streetNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"route\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"formattedAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"GeolocationVenueExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:25:\"Venue's
  geocode extension\";}s:8:\"Geometry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}}}s:13:\"HostExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"Venue's
  Host extension\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:23:\"Public
  URL of the image\";}s:5:\"ratio\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:25:\"Aspect
  ratio of the image\";s:4:\"enum\";a:3:{i:0;s:4:\"16_9\";i:1;s:3:\"3_2\";i:2;s:3:\"4_3\";}}s:5:\"width\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:8:\"position\";i:4;s:11:\"description\";s:18:\"Width
  of the image\";}s:6:\"height\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:8:\"position\";i:5;s:11:\"description\";s:19:\"Height
  of the image\";}s:8:\"fallback\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:6;s:11:\"description\";s:62:\"true
  if the image is not the event's image but a fallbak image\";s:7:\"default\";b:0;}s:7:\"domains\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:7;s:11:\"description\";s:47:\"Domains
  on which this image should be displayed\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"attribution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:8;s:11:\"description\";s:24:\"Attribution
  of the image\";}}s:11:\"description\";s:5:\"Image\";}s:15:\"IngestionResult\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"status\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Id
  of the entity ingested in the discovery api\";}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:20:\"Status
  of the result\";s:4:\"enum\";a:3:{i:0;s:5:\"Error\";i:1;s:14:\"SuccessWarning\";i:2;s:7:\"Success\";}}s:17:\"missingProperties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:4;s:11:\"description\";s:77:\"List
  of properties that should be present in your entity to ease its dicovery\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:17:\"unknownProperties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:5;s:11:\"description\";s:47:\"List
  of unknown properties that will be dropped\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:13:\"invalidValues\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:5;s:11:\"description\";s:22:\"List
  of invalid values\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:17:\"invalidProperties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:5;s:11:\"description\";s:26:\"List
  of invalid properties\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:17:\"ignoredProperties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:5;s:11:\"description\";s:50:\"List
  properties that are ignored in the validation\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:11:\"description\";s:57:\"This
  class defines the IngestionResult on the Publish API\";}s:5:\"Level\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  ID of the classification's level\";}s:5:\"names\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:2;s:11:\"description\";s:61:\"The
  Name of the classification's level - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:20:\"LicensingInformation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"license\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"License
  name\";}s:17:\"regionRestriction\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Restrictions
  based on regions\";s:4:\"$ref\";s:32:\"#/definitions/RegionRestrictions\";}}s:11:\"description\";s:57:\"This
  class defines an entitlement data on the Publish API\";}s:9:\"LocalTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"chronology\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Chronology\";}s:11:\"millisOfDay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"minuteOfHour\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"hourOfDay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"millisOfSecond\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"secondOfMinute\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeField\";}}s:6:\"values\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:10:\"fieldTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DateTimeFieldType\";}}}}s:6:\"Locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"displayCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"displayLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"displayScript\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"displayVariant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"extensionKeys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"iso3Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"iso3Language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"script\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"unicodeLocaleAttributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"unicodeLocaleKeys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"variant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"longitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:9:\"Longitude\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:8:\"Latitude\";}}s:11:\"description\";s:8:\"Location\";}s:6:\"Market\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Market's
  id\";}}s:11:\"description\";s:6:\"Market\";}s:7:\"Parking\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"names\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:8:\"position\";i:11;s:11:\"description\";s:42:\"Names of the entity - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:20;s:11:\"description\";s:34:\"Url
  to the web page of the parking\";}}s:11:\"description\";s:7:\"Parking\";}s:5:\"Place\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"area\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Area
  of the place\";s:4:\"$ref\";s:18:\"#/definitions/Area\";}s:7:\"address\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:20:\"Address
  of the place\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"city\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:17:\"City
  of the Place\";s:4:\"$ref\";s:18:\"#/definitions/City\";}s:5:\"state\";O:8:\"stdClass\":3:{s:8:\"position\";i:3;s:11:\"description\";s:29:\"State
  / Province of the place\";s:4:\"$ref\";s:19:\"#/definitions/State\";}s:7:\"country\";O:8:\"stdClass\":3:{s:8:\"position\";i:4;s:11:\"description\";s:20:\"Country
  of the place\";s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:5;s:11:\"description\";s:34:\"Postal
  code / zipcode of the place\";}s:8:\"location\";O:8:\"stdClass\":3:{s:8:\"position\";i:6;s:11:\"description\";s:21:\"Location
  of the place\";s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:5:\"names\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:8:\"position\";i:11;s:11:\"description\";s:42:\"Names of the entity - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:5:\"Place\";}s:7:\"Presale\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"names\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:11:\"description\";s:42:\"Name of the presale - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"descriptions\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:18:\"en-us:
  description\";s:8:\"position\";i:2;s:11:\"description\";s:49:\"Description of the
  presale - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:16:\"Presale
  link URL\";}s:13:\"startDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"position\";i:4;s:11:\"description\";s:68:\"Presale's
  start dates. The date and time when the presale will start\";}s:11:\"endDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"position\";i:5;s:11:\"description\";s:64:\"Presale's
  end dates. The date and time when the presale will end\";}}s:11:\"description\";s:20:\"Event's
  Presale Info\";}s:10:\"PriceRange\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Type
  of price\";s:4:\"enum\";a:1:{i:0;s:8:\"standard\";}}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:8:\"Currency\";}s:3:\"min\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:8:\"position\";i:2;s:11:\"description\";s:13:\"Minimum
  price\";}s:3:\"max\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:8:\"position\";i:3;s:11:\"description\";s:13:\"Maximum
  price\";}}s:11:\"description\";s:10:\"PriceRange\";}s:8:\"Promoter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Id
  of the promoter\";}s:5:\"names\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:8:\"position\";i:2;s:11:\"description\";s:43:\"Name of the promoter - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"descriptions\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:18:\"en-us:
  description\";s:8:\"position\";i:4;s:11:\"description\";s:50:\"Description of the
  promoter - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:8:\"Promoter\";}s:15:\"PublicSaleDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"startDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:76:\"Public
  sale's start dates. The date and time when the public sale will start\";}s:11:\"endDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"position\";i:1;s:11:\"description\";s:72:\"Public
  sale's end dates. The date and time when the public sale will end\";}s:8:\"startTBD\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:2;s:11:\"description\";s:50:\"True
  if the public sale's date is to be determined\";s:7:\"default\";b:0;}}s:11:\"description\";s:28:\"Event's
  Public Onsales Dates\";}s:16:\"PublicVisibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"startDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:91:\"The
  start of the public visibility. The date and time when the event will be public
  visible\";}s:11:\"endDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"position\";i:1;s:11:\"description\";s:89:\"The
  end of the public visibility. The date and time when the event will be public visible\";}s:7:\"visible\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:2;s:11:\"description\";s:63:\"True
  if you want to have the event visible in the discovery API\";s:7:\"default\";b:0;}}s:11:\"description\";s:76:\"The
  class defines the public visibility period on the Discovery/Publish API.\";}s:18:\"RegionRestrictions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"allowed\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"Restrictions
  based on regions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:57:\"This
  class defines an entitlement data on the Publish API\";}s:12:\"Relationship\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:12:\"Relationship\";}s:7:\"Segment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  ID of the classification's level\";}s:5:\"names\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:2;s:11:\"description\";s:61:\"The
  Name of the classification's level - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:7:\"Segment\";}s:6:\"Social\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"twitter\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Twitter
  data\";s:4:\"$ref\";s:21:\"#/definitions/Twitter\";}}s:11:\"description\";s:20:\"Social
  networks data\";}s:6:\"Source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Source's
  name\";s:7:\"pattern\";s:16:\"^[a-zA-Z0-9_-]*$\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:39:\"ID
  of the entity in the source's system\";s:7:\"pattern\";s:16:\"^[a-zA-Z0-9_-]*$\";}}s:11:\"description\";s:6:\"Source\";}s:10:\"StartDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"localDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:10:\"yyyy-MM-dd\";s:11:\"description\";s:34:\"The
  event start date in local date\";}s:9:\"localTime\";O:8:\"stdClass\":4:{s:7:\"example\";s:10:\"yyyy-MM-dd\";s:8:\"position\";i:1;s:11:\"description\";s:32:\"The
  event end time in local time\";s:4:\"$ref\";s:23:\"#/definitions/LocalTime\";}s:8:\"dateTime\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:20:\"yyyy-MM-ddThh:mm:ssZ\";s:8:\"position\";i:2;s:11:\"description\";s:24:\"The
  event start datetime\";}s:7:\"dateTBD\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:3;s:11:\"description\";s:61:\"Boolean
  flag to indicate whether or not the start date is TBD\";s:7:\"default\";b:0;}s:7:\"dateTBA\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:4;s:11:\"description\";s:61:\"Boolean
  flag to indicate whether or not the start date is TBA\";s:7:\"default\";b:0;}s:7:\"timeTBA\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:5;s:11:\"description\";s:61:\"Boolean
  flag to indicate whether or not the start time is TBA\";s:7:\"default\";b:0;}s:14:\"noSpecificTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:6;s:11:\"description\";s:70:\"Boolean
  flag to indicate whether or not the event has no specific time\";s:7:\"default\";b:0;}}s:11:\"description\";s:19:\"Event's
  Start Dates\";}s:5:\"State\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"stateCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"State
  code\";}s:5:\"names\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:8:\"position\";i:11;s:11:\"description\";s:42:\"Names of the entity - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:5:\"State\";}s:12:\"TatExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:35:\"The
  Attraction Tool (TAT) extension\";}s:32:\"TicketmasterAttractionExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:44:\"Attraction's
  extension (ticketmaster source)\";}s:27:\"TicketmasterEventExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:39:\"Event's
  extension (ticketmaster source)\";}s:27:\"TicketmasterVenueExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:39:\"Venue's
  extension (ticketmaster source)\";}s:7:\"Twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"handle\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"@a
  Twitter handle exampe\";s:11:\"description\";s:14:\"Twitter handle\";s:4:\"enum\";a:1:{i:0;s:17:\"@a
  Twitter handle\";}}s:8:\"hashtags\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:7:\"example\";s:41:\"#hashtag
  example #hashtag another example\";s:8:\"position\";i:1;s:11:\"description\";s:16:\"Twitter
  hashtags\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:12:\"Twitter
  data\";}s:5:\"Venue\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":30:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:3:{i:0;s:5:\"event\";i:1;s:5:\"venue\";i:2;s:10:\"attraction\";}}s:8:\"distance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"units\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:49:\"Source
  of the entity, where the entity comes from\";s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:5:\"names\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  name\";s:8:\"position\";i:11;s:11:\"description\";s:42:\"Names of the entity - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"address\";O:8:\"stdClass\":3:{s:8:\"position\";i:20;s:11:\"description\";s:20:\"Address
  of the venue\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:12:\"descriptions\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:18:\"en-us:
  description\";s:8:\"position\";i:21;s:11:\"description\";s:49:\"Descriptions of
  the entity - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"city\";O:8:\"stdClass\":3:{s:8:\"position\";i:21;s:11:\"description\";s:17:\"City
  of the venue\";s:4:\"$ref\";s:18:\"#/definitions/City\";}s:5:\"state\";O:8:\"stdClass\":3:{s:8:\"position\";i:22;s:11:\"description\";s:29:\"State
  / Province of the venue\";s:4:\"$ref\";s:19:\"#/definitions/State\";}s:15:\"additionalInfos\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:21:\"en-us:
  additionalInfo\";s:8:\"position\";i:23;s:11:\"description\";s:60:\"Additional informations
  of the entity - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"country\";O:8:\"stdClass\":3:{s:8:\"position\";i:23;s:11:\"description\";s:20:\"Country
  of the venue\";s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:43:\"URL
  of a web site detail page of the entity\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:34:\"Postal
  code / zipcode of the venue\";}s:8:\"location\";O:8:\"stdClass\":3:{s:8:\"position\";i:25;s:11:\"description\";s:21:\"Location
  of the venue\";s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:26;s:11:\"description\";s:21:\"Timezone
  of the venue\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:27;s:11:\"description\";s:58:\"Default
  currency of ticket prices for events in this venue\";}s:7:\"markets\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:28;s:11:\"description\";s:20:\"Markets
  of the venue\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Market\";}}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:3:\"dma\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:66:\"The
  list of associated DMAs (Designated Market Areas) of the venue\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Dma\";}}s:6:\"social\";O:8:\"stdClass\":3:{s:8:\"position\";i:30;s:11:\"description\";s:20:\"Social
  networks data\";s:4:\"$ref\";s:20:\"#/definitions/Social\";}s:13:\"boxOfficeInfo\";O:8:\"stdClass\":3:{s:8:\"position\";i:31;s:11:\"description\";s:37:\"Box
  office informations for the venue\";s:4:\"$ref\";s:32:\"#/definitions/VenueBoxOfficeInfo\";}s:14:\"parkingDetails\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:20:\"en-us:parkingDetails\";s:8:\"position\";i:32;s:11:\"description\";s:41:\"Venue
  parking info - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:24:\"accessibleSeatingDetails\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:20:\"en-us:seatingDetails\";s:8:\"position\";i:34;s:11:\"description\";s:55:\"Venue
  accessible seating details - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"generalInfo\";O:8:\"stdClass\":3:{s:8:\"position\";i:36;s:11:\"description\";s:33:\"General
  informations on the venue\";s:4:\"$ref\";s:30:\"#/definitions/VenueGeneralInfo\";}s:13:\"relationships\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:70;s:11:\"description\";s:77:\"Relationships
  on the entity, like if the entity is a duplicate of another one\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Relationship\";}}s:10:\"references\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:14:\"sourceName:
  id\";s:8:\"position\";i:71;s:11:\"description\";s:80:\"References of this entity
  in an other system. Reference is the exact same entity\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"version\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"position\";i:80;s:11:\"description\";s:82:\"Version
  of the entity. Version is to avoid updated an entity with an older version\";}s:6:\"active\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:95;s:11:\"description\";s:79:\"Indicate
  if the entity is active, inactive entity won't appear in Discovery API\";s:7:\"default\";b:0;}s:4:\"test\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:96;s:11:\"description\";s:89:\"Indicate
  if this is a test entity, by default test entities won't appear in discovery API\";s:7:\"default\";b:0;}s:12:\"discoverable\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:97;s:11:\"description\";s:50:\"True
  if the entity is dicoverable in discovery API\";s:7:\"default\";b:0;}}s:11:\"description\";s:5:\"Venue\";}s:18:\"VenueBoxOfficeInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"phoneNumberDetails\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:18:\"en-us:phoneNumbers\";s:11:\"description\";s:52:\"Venue
  box office phone number - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"openHoursDetails\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:15:\"en-us:openHours\";s:8:\"position\";i:2;s:11:\"description\";s:53:\"Venue
  box office opening hours - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:22:\"acceptedPaymentDetails\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:20:\"en-us:paymentDetails\";s:8:\"position\";i:4;s:11:\"description\";s:64:\"Venue
  box office accepted payment details - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"willCallDetails\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:14:\"en-us:willCall\";s:8:\"position\";i:6;s:11:\"description\";s:57:\"Venue
  box office will call details - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:28:\"Venue
  box office information\";}s:15:\"VenueExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"All
  Venue's extensions\";}s:16:\"VenueGeneralInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"generalRules\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  rule\";s:11:\"description\";s:42:\"Venue general rules - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"childRules\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:11:\"en-us:
  rule\";s:8:\"position\";i:2;s:11:\"description\";s:43:\"Venue children rules - multi-lingual
  fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:25:\"Venue
  general information\";}s:5:\"Video\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:20:\"licensingInformation\";i:1;s:6:\"source\";i:2;s:3:\"url\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Source
  of the extension, where it came from\";s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:6;s:11:\"description\";s:20:\"The
  url of the video\";}s:8:\"embedUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:6;s:11:\"description\";s:28:\"The
  url of the embeded video\";}s:20:\"licensingInformation\";O:8:\"stdClass\":3:{s:8:\"position\";i:6;s:11:\"description\";s:33:\"License
  information for the video\";s:4:\"$ref\";s:34:\"#/definitions/LicensingInformation\";}}s:11:\"description\";s:57:\"This
  class defines an entitlement data on the Publish API\";}}"
...
