---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"The Ticketmaster
  Discovery API allows you to search for events, attractions, or venues.\";s:7:\"version\";s:2:\"v2\";s:5:\"title\";s:17:\"Multiple
  Test API\";s:7:\"contact\";O:8:\"stdClass\":1:{s:3:\"url\";s:53:\"http://developer.ticketmaster.com/support/contact-us/\";}}"
host: www.ticketmaster.com
basePath: /discovery/v2
paths: ~
definitions: !php/object "O:8:\"stdClass\":1:{s:14:\"MultipleMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:3:{i:0;s:5:\"event\";i:1;s:5:\"venue\";i:2;s:10:\"attraction\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:44:\"Unique
  id of the entity in the discovery API\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:39:\"Locale
  in which the content is returned\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:20;s:11:\"description\";s:27:\"Description's
  of the entity\";}s:14:\"additionalInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:22;s:11:\"description\";s:36:\"Additional
  information of the entity\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:43:\"URL
  of a web site detail page of the entity\";}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:15:\"classifications\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:30;s:11:\"description\";s:28:\"Attraction's
  classifications\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Classification\";}}s:4:\"test\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:96;s:11:\"description\";s:89:\"Indicate
  if this is a test entity, by default test entities won't appear in discovery API\";s:7:\"default\";b:0;}}s:11:\"description\";s:14:\"MultipleMethod\";}}"
...
