---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Discovery API\";s:7:\"version\";s:2:\"v2\";s:5:\"title\";s:26:\"ticketmaster
  discovery api\";s:7:\"contact\";O:8:\"stdClass\":1:{s:3:\"url\";s:53:\"http://developer.ticketmaster.com/support/contact-us/\";}}"
host: www.ticketmaster.com
basePath: /discovery/v2
paths:
  /discovery/v2/attractions:
    get:
      summary: Find attractions
      description: Since 1.0.0
      operationId: find
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryAttractionForm'
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Attraction'
  /discovery/v2/attractions/{id}:
    get:
      summary: Get attraction by id
      description: Since 1.0.0
      operationId: get
      parameters:
      - name: id
        in: path
        description: ID of the attraction
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryIdForm'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Attraction'
  /discovery/v2/classifications:
    get:
      summary: Find classifications
      description: Since 2.0.0
      operationId: find
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryClassificationForm'
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Classification'
  /discovery/v2/classifications/genres/{id}:
    get:
      summary: Get Genres by id
      description: Since 2.0.0
      operationId: getGenre
      parameters:
      - name: id
        in: path
        description: ID of the genre
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryIdForm'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Genre'
  /discovery/v2/classifications/segments/{id}:
    get:
      summary: Get Segments by id
      description: Since 2.0.0
      operationId: getSegment
      parameters:
      - name: id
        in: path
        description: ID of the segment
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryIdForm'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Segment'
  /discovery/v2/classifications/subgenres/{id}:
    get:
      summary: Get Subgenres by id
      description: Since 2.0.0
      operationId: getSubgenre
      parameters:
      - name: id
        in: path
        description: ID of the subgenre
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryIdForm'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Level'
  /discovery/v2/classifications/{id}:
    get:
      summary: Get classification by id
      description: Since 2.0.0
      operationId: get
      parameters:
      - name: id
        in: path
        description: ID of the classification
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryIdForm'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Classification'
  /discovery/v2/events:
    get:
      summary: Find events
      description: Since 1.0.0
      operationId: find
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryEventForm'
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
  /discovery/v2/events/{id}:
    get:
      summary: Get event by id
      description: Since 1.0.0
      operationId: get
      parameters:
      - name: id
        in: path
        description: ID of the event
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryIdEventForm'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Event'
  /discovery/v2/events/{id}/images:
    get:
      summary: Get event images only
      description: Since 1.0.0
      operationId: getImages
      parameters:
      - name: id
        in: path
        description: ID of the event
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryIdForm'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Event'
  /discovery/v2/venues:
    get:
      summary: Find venues
      description: Since 1.0.0
      operationId: find
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryVenueForm'
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Venue'
  /discovery/v2/venues/{id}:
    get:
      summary: Get venue by id
      description: Since 1.0.0
      operationId: get
      parameters:
      - name: id
        in: path
        description: ID of the venue
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DiscoveryIdForm'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Venue'
definitions: !php/object "O:8:\"stdClass\":61:{s:11:\"AccessDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"startDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:39:\"since[1.0.0]||Event's
  start access time\";}s:16:\"startApproximate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:91:\"since[1.0.0]||Boolean
  flag to indicate whether or not the access start date is approximated\";s:7:\"default\";b:0;}s:11:\"endDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:37:\"since[1.0.0]||Event's
  end access time\";}s:14:\"endApproximate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:89:\"since[1.0.0]||Boolean
  flag to indicate whether or not the access end date is approximated\";s:7:\"default\";b:0;}}s:11:\"description\";s:59:\"This
  class defines Event's Access Date on the Discovery API\";}s:7:\"Address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"line1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Address
  first line\";}s:5:\"line2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:19:\"Address
  second line\";}}s:11:\"description\";s:58:\"This class defines an Address on the
  Discovery/Publish API\";}s:4:\"Area\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:55:\"This class defines an Area on the
  Discovery/Publish API\";}s:10:\"Attraction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:1:{i:0;s:22:\"event venue attraction\";}}s:10:\"extensions\";O:8:\"stdClass\":3:{s:8:\"position\";i:101;s:11:\"description\";s:23:\"Attraction's
  extensions\";s:4:\"$ref\";s:34:\"#/definitions/AttractionExtensions\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:44:\"Unique
  id of the entity in the discovery API\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:39:\"Locale
  in which the content is returned\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:20;s:11:\"description\";s:27:\"Description's
  of the entity\";}s:14:\"additionalInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:22;s:11:\"description\";s:36:\"Additional
  information of the entity\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:43:\"URL
  of a web site detail page of the entity\";}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:15:\"classifications\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:30;s:11:\"description\";s:28:\"Attraction's
  classifications\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Classification\";}}s:13:\"relationships\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:70;s:11:\"description\";s:77:\"Relationships
  on the entity, like if the entity is a duplicate of another one\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Relationship\";}}s:4:\"test\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:96;s:11:\"description\";s:89:\"Indicate
  if this is a test entity, by default test entities won't appear in discovery API\";s:7:\"default\";b:0;}}s:11:\"description\";s:61:\"This
  class defines an Attraction on the Discovery/Publish API\";}s:20:\"AttractionExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:79:\"This
  class defines all possible extension on an attraction in the Discovery API\";}s:10:\"Chronology\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"zone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DateTimeZone\";}}}s:4:\"City\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:54:\"This class defines a City on the Discovery/Publish
  API\";}s:14:\"Classification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Level\";}s:7:\"primary\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:51:\"True
  if this is the entity's primary classification\";s:7:\"default\";b:0;}s:7:\"segment\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:69:\"A
  Segment is a primary genre for an entity (Music, Sports, Arts, etc)\";s:4:\"$ref\";s:21:\"#/definitions/Segment\";}s:5:\"genre\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:79:\"Secondary
  Genre to further describe an entity (Rock, Classical, Animation, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}s:8:\"subGenre\";O:8:\"stdClass\":3:{s:8:\"position\";i:3;s:11:\"description\";s:100:\"Tertiary
  Genre for additional detail when describring an entity (Alternative Rock, Ambient
  Pop, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}s:7:\"subType\";O:8:\"stdClass\":3:{s:8:\"position\";i:6;s:11:\"description\";s:73:\"Secondary
  Type to further categorize an entity (Band, Choir, Chorus, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}}s:11:\"description\";s:64:\"This
  class defines a Classification on the Discovery/Publish API\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"countryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Country
  code (ISO 3166)\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:57:\"This class defines a country on the
  Discovery/Publish API\";}s:13:\"DateTimeField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DateTimeFieldType\";}s:9:\"supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:7:\"lenient\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:13:\"durationField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DurationField\";}s:12:\"minimumValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"maximumValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:17:\"leapDurationField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DurationField\";}s:18:\"rangeDurationField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DurationField\";}}}s:17:\"DateTimeFieldType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"rangeDurationType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DurationFieldType\";}s:12:\"durationType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DurationFieldType\";}}}s:12:\"DateTimeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"fixed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}}}s:23:\"DiscoveryAttractionForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:31:\"^\\s*$|^[a-zA-Z]{2}-[a-zA-Z]{2}$\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"affiliateId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"includeTest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:17:\"^\\s*|yes|no|only$\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"keyword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"extensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"sort\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:20:\"^name,asc|name,desc$\";}s:19:\"criteriaInformation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:27:\"DiscoveryClassificationForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:31:\"^\\s*$|^[a-zA-Z]{2}-[a-zA-Z]{2}$\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"affiliateId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"includeTest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:17:\"^\\s*|yes|no|only$\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"keyword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"extensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"sort\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:20:\"^name,asc|name,desc$\";}s:19:\"criteriaInformation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"DiscoveryEventForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":34:{s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:31:\"^\\s*$|^[a-zA-Z]{2}-[a-zA-Z]{2}$\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"affiliateId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"includeTest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:17:\"^\\s*|yes|no|only$\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"keyword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"extensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"latlong\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:86:\"^\\s*$|^-?(90(\\.0+)?|[0-8]?[0-9](\\.\\d+)?),-?(180(\\.0+)?|(1[0-7][0-9]|\\d{1,2})(\\.\\d+)?)$\";}s:8:\"marketId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:21:\"^\\s*$|^(\\d+(,\\d+)*)?$\";}s:10:\"promoterId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:21:\"^\\s*$|^(\\d+(,\\d+)*)?$\";}s:6:\"radius\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:17:\"^\\s*$|^1?\\d{1,4}$\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:14:\"^\\s*|miles|km$\";}s:11:\"endDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:44:\"^\\s*$|^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$\";}s:13:\"startDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:44:\"^\\s*$|^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"stateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"venueId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"attractionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"segmentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"segmentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"classificationName\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"classificationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"dmaId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:21:\"^\\s*$|^(\\d+(,\\d+)*)?$\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"includeTBA\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:17:\"^\\s*|yes|no|only$\";}s:10:\"includeTBD\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:17:\"^\\s*|yes|no|only$\";}s:4:\"sort\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:44:\"^(name|date|name,date|date,name),(asc|desc)$\";}s:17:\"onsaleEndDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:44:\"^\\s*$|^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$\";}s:19:\"onsaleStartDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:44:\"^\\s*$|^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$\";}s:21:\"entitlementPromoterId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"criteriaInformation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"DiscoveryIdEventForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:31:\"^\\s*$|^[a-zA-Z]{2}-[a-zA-Z]{2}$\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"internalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"legacyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"extensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"affiliateId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"entitlementPromoterId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"criteriaInformation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"DiscoveryIdForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:31:\"^\\s*$|^[a-zA-Z]{2}-[a-zA-Z]{2}$\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"internalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"legacyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"extensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"affiliateId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"criteriaInformation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"DiscoveryVenueForm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:31:\"^\\s*$|^[a-zA-Z]{2}-[a-zA-Z]{2}$\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"affiliateId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"includeTest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:17:\"^\\s*|yes|no|only$\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"keyword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"extensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"sort\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:20:\"^name,asc|name,desc$\";}s:9:\"stateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"criteriaInformation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"DisplaySettingExtension\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"softLanding\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:49:\"True
  the landing is Soft otherwise it's Comingled\";s:7:\"default\";b:0;}}s:11:\"description\";s:74:\"This
  class defines event's display settings extension in the Discovery API\";}s:3:\"Dma\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"DMS's
  id\";}}s:11:\"description\";s:53:\"This class defines a DMA on the Discovery/Publish
  API\";}s:13:\"DurationField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DurationFieldType\";}s:9:\"supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:7:\"precise\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:10:\"unitMillis\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:17:\"DurationFieldType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"EndDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"localTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"since[1.0.0]||The
  event end time in local time hh:mm:ss\";s:4:\"$ref\";s:23:\"#/definitions/LocalTime\";}s:8:\"dateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:37:\"since[1.0.0]||The
  event end date time\";}s:11:\"approximate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:82:\"since[1.0.0]||Boolean
  flag to indicate whether or not the end date is approximated\";s:7:\"default\";b:0;}}s:11:\"description\";s:57:\"This
  class defines Event's End Dates on the Discovery API\";}s:13:\"EntityChanges\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"newlyCreated\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:7:\"changes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:5:\"Event\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":22:{s:7:\"parking\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Parking\";}}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:1:{i:0;s:22:\"event venue attraction\";}}s:10:\"extensions\";O:8:\"stdClass\":3:{s:8:\"position\";i:101;s:11:\"description\";s:17:\"Event's
  extension\";s:4:\"$ref\";s:29:\"#/definitions/EventExtensions\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:44:\"Unique
  id of the entity in the discovery API\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:39:\"Locale
  in which the content is returned\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:20;s:11:\"description\";s:27:\"Description's
  of the entity\";}s:14:\"additionalInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:22;s:11:\"description\";s:36:\"Additional
  information of the entity\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:43:\"URL
  of a web site detail page of the entity\";}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:5:\"dates\";O:8:\"stdClass\":3:{s:8:\"position\";i:31;s:11:\"description\";s:25:\"Event's
  dates information\";s:4:\"$ref\";s:24:\"#/definitions/EventDates\";}s:5:\"sales\";O:8:\"stdClass\":3:{s:8:\"position\";i:32;s:11:\"description\";s:31:\"Event's
  sales dates information\";s:4:\"$ref\";s:29:\"#/definitions/EventSalesDates\";}s:4:\"info\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:32;s:11:\"description\";s:36:\"Any
  information related to the event\";}s:10:\"pleaseNote\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:34;s:11:\"description\";s:30:\"Any
  notes related to the event\";}s:11:\"priceRanges\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:36;s:11:\"description\";s:26:\"Price
  ranges of this event\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PriceRange\";}}s:8:\"promoter\";O:8:\"stdClass\":3:{s:8:\"position\";i:37;s:11:\"description\";s:16:\"Event's
  promoter\";s:4:\"$ref\";s:22:\"#/definitions/Promoter\";}s:15:\"classifications\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:50;s:11:\"description\";s:23:\"Event's
  classifications\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Classification\";}}s:5:\"place\";O:8:\"stdClass\":3:{s:8:\"position\";i:51;s:11:\"description\";s:88:\"Place
  has the information on where the event happens. It can be set if there is no venue\";s:4:\"$ref\";s:19:\"#/definitions/Place\";}s:5:\"venue\";O:8:\"stdClass\":3:{s:8:\"position\";i:52;s:11:\"description\";s:17:\"Venue
  information\";s:4:\"$ref\";s:19:\"#/definitions/Venue\";}s:11:\"attractions\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:53;s:11:\"description\";s:39:\"Ordered
  Attraction related to the event\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attraction\";}}s:13:\"relationships\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:70;s:11:\"description\";s:77:\"Relationships
  on the entity, like if the entity is a duplicate of another one\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Relationship\";}}s:4:\"test\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:96;s:11:\"description\";s:89:\"Indicate
  if this is a test entity, by default test entities won't appear in discovery API\";s:7:\"default\";b:0;}}s:11:\"description\";s:56:\"This
  class defines an Event on the Discovery/Publish API\";}s:10:\"EventDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Event's
  start dates. The date and time when the event will start\";s:4:\"$ref\";s:24:\"#/definitions/StartDates\";}s:3:\"end\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:60:\"Event's
  end dates. The date and time when the event will end\";s:4:\"$ref\";s:22:\"#/definitions/EndDates\";}s:6:\"access\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:68:\"Event's
  access dates. The date and time the fan can access the event\";s:4:\"$ref\";s:25:\"#/definitions/AccessDates\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:16:\"Event's
  timezone\";}s:6:\"status\";O:8:\"stdClass\":3:{s:8:\"position\";i:4;s:11:\"description\";s:19:\"Status
  of the event\";s:4:\"$ref\";s:25:\"#/definitions/EventStatus\";}}s:11:\"description\";s:61:\"This
  class defines Event's Dates on the Discovery/Publish API\";}s:15:\"EventExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"This
  class defines all possible extension on an event in the Discovery API\";}s:15:\"EventSalesDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"public\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Public
  onsale information on this event\";s:4:\"$ref\";s:29:\"#/definitions/PublicSaleDates\";}s:8:\"presales\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:1;s:11:\"description\";s:33:\"Presale
  information on this event\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Presale\";}}}s:11:\"description\";s:67:\"This
  class defines Event's Sales Dates on the Discovery/Publish API\";}s:11:\"EventStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"since[1.0.0]||The
  event's status code\";}}s:11:\"description\";s:54:\"This class defines Event's Status
  on the Discovery API\";}s:9:\"Extension\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"Genre\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  ID of the classification's level\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:38:\"The
  Name of the classification's level\";}}s:11:\"description\";s:63:\"This class defines
  Secondary Genre on the Discovery/Publish API\";}s:16:\"GeocodeExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"county\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"geometry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Geometry\";}s:12:\"streetNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"route\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"formattedAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"GeolocationVenueExtensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"geocode\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Geocoding
  information about the venue\";s:4:\"$ref\";s:30:\"#/definitions/GeocodeExtension\";}}s:11:\"description\";s:84:\"This
  class defines extension on a venue for a gelocation source in the Discovery API\";}s:8:\"Geometry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}}}s:13:\"HostExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:62:\"This
  class defines event's Host extension in the Discovery API\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Id
  of the image\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:23:\"Public
  URL of the image\";}s:5:\"ratio\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:25:\"Aspect
  ratio of the image\";s:4:\"enum\";a:3:{i:0;s:4:\"16_9\";i:1;s:3:\"3_3\";i:2;s:3:\"4_3\";}}s:5:\"width\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:8:\"position\";i:4;s:11:\"description\";s:18:\"Width
  of the image\";}s:6:\"height\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:8:\"position\";i:5;s:11:\"description\";s:19:\"Height
  of the image\";}s:8:\"fallback\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:6;s:11:\"description\";s:62:\"true
  if the image is not the event's image but a fallbak image\";s:7:\"default\";b:0;}s:7:\"domains\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:7;s:11:\"description\";s:47:\"Domains
  on which this image should be displayed\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"attribution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:8;s:11:\"description\";s:24:\"Attribution
  of the image\";}}s:11:\"description\";s:56:\"This class defines an Image on the
  Discovery/Publish API\";}s:5:\"Level\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  ID of the classification's level\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:38:\"The
  Name of the classification's level\";}}}s:9:\"LocalTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"millisOfDay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"minuteOfHour\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"hourOfDay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"chronology\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Chronology\";}s:14:\"millisOfSecond\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"secondOfMinute\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeField\";}}s:6:\"values\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:10:\"fieldTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DateTimeFieldType\";}}}}s:6:\"Locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"displayCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"displayLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"displayScript\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"displayVariant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"extensionKeys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"iso3Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"iso3Language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"script\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"unicodeLocaleAttributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"unicodeLocaleKeys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"variant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"longitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:9:\"Longitude\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:8:\"Latitude\";}}s:11:\"description\";s:58:\"This
  class defines a Location on the Discovery/Publish API\";}s:6:\"Market\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Market's
  id\";}}s:11:\"description\";s:56:\"This class defines a Market on the Discovery/Publish
  API\";}s:7:\"Parking\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:20;s:11:\"description\";s:34:\"Url
  to the web page of the parking\";}}s:11:\"description\";s:57:\"This class defines
  a parking on the Discovery/Publish API\";}s:5:\"Place\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"area\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Area
  of the place\";s:4:\"$ref\";s:18:\"#/definitions/Area\";}s:7:\"address\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:20:\"Address
  of the place\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"city\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:17:\"City
  of the Place\";s:4:\"$ref\";s:18:\"#/definitions/City\";}s:5:\"state\";O:8:\"stdClass\":3:{s:8:\"position\";i:3;s:11:\"description\";s:29:\"State
  / Province of the place\";s:4:\"$ref\";s:19:\"#/definitions/State\";}s:7:\"country\";O:8:\"stdClass\":3:{s:8:\"position\";i:4;s:11:\"description\";s:20:\"Country
  of the place\";s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:5;s:11:\"description\";s:34:\"Postal
  code / zipcode of the place\";}s:8:\"location\";O:8:\"stdClass\":3:{s:8:\"position\";i:6;s:11:\"description\";s:21:\"Location
  of the place\";s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:55:\"This class defines a Place on the
  Discovery/Publish API\";}s:7:\"Presale\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the presale\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:26:\"Description
  of the presame\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:16:\"Presale
  link URL\";}s:5:\"start\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"position\";i:4;s:11:\"description\";s:68:\"Presale's
  start dates. The date and time when the presale will start\";}s:11:\"endDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"position\";i:5;s:11:\"description\";s:64:\"Presale's
  end dates. The date and time when the presale will end\";}}s:11:\"description\";s:60:\"This
  class defines Event's Presale Info on the Discovery API\";}s:10:\"PriceRange\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Type
  of price\";s:4:\"enum\";a:1:{i:0;s:8:\"standard\";}}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:8:\"Currency\";}s:3:\"min\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:8:\"position\";i:2;s:11:\"description\";s:13:\"Minimum
  price\";}s:3:\"max\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:8:\"position\";i:3;s:11:\"description\";s:13:\"Maximum
  price\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:61:\"This class defines an PriceRange on
  the Discovery/Publish API\";}s:8:\"Promoter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"internalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Id
  of the promoter\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:20:\"Name
  of the promoter\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:27:\"Description
  of the promoter\";}}s:11:\"description\";s:58:\"This class defines a Promoter on
  the Discovery/Publish API\";}s:15:\"PublicSaleDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"startDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:76:\"Public
  sale's start dates. The date and time when the public sale will start\";}s:11:\"endDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"position\";i:1;s:11:\"description\";s:72:\"Public
  sale's end dates. The date and time when the public sale will end\";}s:8:\"startTBD\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:2;s:11:\"description\";s:50:\"True
  if the public sale's date is to be determined\";s:7:\"default\";b:0;}}s:11:\"description\";s:68:\"This
  class defines Event's Public Onsales Dates on the Discovery API\";}s:16:\"PublicVisibility\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:76:\"The
  class defines the public visibility period on the Discovery/Publish API.\";}s:12:\"Relationship\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  type of the relationship\";s:4:\"enum\";a:1:{i:0;s:9:\"duplicate\";}}s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:37:\"The
  source name of the related entity\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:28:\"The
  ID of the related entity\";}}s:11:\"description\";s:62:\"This class defines a Relationship
  on the Discovery/Publish API\";}s:7:\"Segment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  ID of the classification's level\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:38:\"The
  Name of the classification's level\";}}s:11:\"description\";s:53:\"This class defines
  Genre on the Discovery/Publish API\";}s:6:\"Social\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"twitter\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Twitter
  data\";s:4:\"$ref\";s:21:\"#/definitions/Twitter\";}}s:11:\"description\";s:20:\"Social
  networks data\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:56:\"This
  class defines a source on the Discovery/Publish API\";}s:10:\"StartDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"localDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:59:\"since[1.0.0]||The
  event start date in local date yyyy-MM-dd\";}s:9:\"localTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"since[1.0.0]||The
  event end time in local time hh:mm:ss\";s:4:\"$ref\";s:23:\"#/definitions/LocalTime\";}s:8:\"dateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:38:\"since[1.0.0]||The
  event start datetime\";}s:7:\"dateTBD\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"since[1.0.0]||Boolean
  flag to indicate whether or not the start date is TBD\";s:7:\"default\";b:0;}s:7:\"dateTBA\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"since[1.0.0]||Boolean
  flag to indicate whether or not the start date is TBA\";s:7:\"default\";b:0;}s:7:\"timeTBA\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"since[1.0.0]||Boolean
  flag to indicate whether or not the start time is TBA\";s:7:\"default\";b:0;}s:14:\"noSpecificTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:84:\"since[1.0.0]||Boolean
  flag to indicate whether or not the event has no specific time\";s:7:\"default\";b:0;}}s:11:\"description\";s:60:\"This
  class defines Event's Starts Dates on the Discovery API\";}s:5:\"State\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"stateCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"State
  code\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:55:\"This class defines a State on the
  Discovery/Publish API\";}s:12:\"TatExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:75:\"This
  class defines The Attraction Tool (TAT) extension in the Discovery API\";}s:32:\"TicketmasterAttractionExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:92:\"This
  class defines extension on an attraction for a ticketmaster source in the Discovery
  API\";}s:27:\"TicketmasterEventExtensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"displaySettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Event's
  display setting informations\";s:4:\"$ref\";s:37:\"#/definitions/DisplaySettingExtension\";}}s:11:\"description\";s:87:\"This
  class defines extension on an event for a ticketmaster source in the Discovery API\";}s:27:\"TicketmasterVenueExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:86:\"This
  class defines extension on a venue for a ticketmaster source in the Discovery API\";}s:7:\"Twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"handle\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"@a
  Twitter handle exampe\";s:11:\"description\";s:14:\"Twitter handle\";s:4:\"enum\";a:1:{i:0;s:17:\"@a
  Twitter handle\";}}s:8:\"hashtags\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:7:\"example\";s:41:\"#hashtag
  example #hashtag another example\";s:8:\"position\";i:1;s:11:\"description\";s:16:\"Twitter
  hashtags\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:12:\"Twitter
  data\";}s:5:\"Venue\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":22:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:1:{i:0;s:22:\"event venue attraction\";}}s:10:\"extensions\";O:8:\"stdClass\":3:{s:8:\"position\";i:101;s:11:\"description\";s:18:\"Venue's
  extensions\";s:4:\"$ref\";s:29:\"#/definitions/VenueExtensions\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:44:\"Unique
  id of the entity in the discovery API\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:39:\"Locale
  in which the content is returned\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:20;s:11:\"description\";s:27:\"Description's
  of the entity\";}s:7:\"address\";O:8:\"stdClass\":3:{s:8:\"position\";i:20;s:11:\"description\";s:20:\"Address
  of the venue\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"city\";O:8:\"stdClass\":3:{s:8:\"position\";i:21;s:11:\"description\";s:17:\"City
  of the venue\";s:4:\"$ref\";s:18:\"#/definitions/City\";}s:14:\"additionalInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:22;s:11:\"description\";s:36:\"Additional
  information of the entity\";}s:5:\"state\";O:8:\"stdClass\":3:{s:8:\"position\";i:22;s:11:\"description\";s:29:\"State
  / Province of the venue\";s:4:\"$ref\";s:19:\"#/definitions/State\";}s:7:\"country\";O:8:\"stdClass\":3:{s:8:\"position\";i:23;s:11:\"description\";s:20:\"Country
  of the venue\";s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:43:\"URL
  of a web site detail page of the entity\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:34:\"Postal
  code / zipcode of the venue\";}s:8:\"location\";O:8:\"stdClass\":3:{s:8:\"position\";i:25;s:11:\"description\";s:21:\"Location
  of the venue\";s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:26;s:11:\"description\";s:21:\"Timezone
  of the venue\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:27;s:11:\"description\";s:58:\"Default
  currency of ticket prices for events in this venue\";}s:7:\"markets\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:28;s:11:\"description\";s:19:\"Markets
  of he venue\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Market\";}}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:3:\"dma\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:66:\"The
  list of associated DMAs (Designated Market Areas) of the venue\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Dma\";}}s:6:\"social\";O:8:\"stdClass\":3:{s:8:\"position\";i:30;s:11:\"description\";s:20:\"Social
  networks data\";s:4:\"$ref\";s:20:\"#/definitions/Social\";}s:13:\"relationships\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:70;s:11:\"description\";s:77:\"Relationships
  on the entity, like if the entity is a duplicate of another one\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Relationship\";}}s:4:\"test\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:96;s:11:\"description\";s:89:\"Indicate
  if this is a test entity, by default test entities won't appear in discovery API\";s:7:\"default\";b:0;}}s:11:\"description\";s:55:\"This
  class defines a Venue on the Discovery/Publish API\";}s:15:\"VenueExtensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"geolocation\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:94:\"Gelocolation
  extension on a venue | add filter 'extensions=geolocation' on your venues request\";s:4:\"$ref\";s:40:\"#/definitions/GeolocationVenueExtensions\";}}s:11:\"description\";s:73:\"This
  class defines all possible extension on a venue in the Discovery API\";}}"
...
