---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"The Ticketmaster
  Discovery API allows you to search for events, attractions, or venues.\";s:7:\"version\";s:2:\"v2\";s:5:\"title\";s:13:\"Discovery
  API\";s:7:\"contact\";O:8:\"stdClass\":1:{s:3:\"url\";s:53:\"http://developer.ticketmaster.com/support/contact-us/\";}}"
host: www.ticketmaster.com
basePath: /discovery/v2
paths: ~
definitions: !php/object "O:8:\"stdClass\":65:{s:11:\"AccessDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"startDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:20:\"yyyy-MM-ddThh-mm-ssZ\";s:11:\"description\";s:25:\"Event's
  start access time\";}s:16:\"startApproximate\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:1;s:11:\"description\";s:77:\"Boolean
  flag to indicate whether or not the access start date is approximated\";s:7:\"default\";b:0;}s:11:\"endDateTime\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:20:\"yyyy-MM-ddThh-mm-ssZ\";s:8:\"position\";i:2;s:11:\"description\";s:23:\"Event's
  end access time\";}s:14:\"endApproximate\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:20:\"yyyy-MM-ddThh-mm-ssZ\";s:8:\"position\";i:3;s:11:\"description\";s:75:\"Boolean
  flag to indicate whether or not the access end date is approximated\";s:7:\"default\";b:0;}}s:11:\"description\";s:19:\"Event's
  Access Date\";}s:13:\"Accessibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"info\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:27:\"Accessibility's
  information\";}}s:11:\"description\";s:61:\"Additional information for people who
  experience disabilities\";}s:7:\"Address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"line1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Address
  first line\";}s:5:\"line2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:19:\"Address
  second line\";}s:5:\"line3\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:18:\"Address
  third line\";}}s:11:\"description\";s:7:\"Address\";}s:4:\"Area\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:4:\"Area\";}s:10:\"Attraction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:3:{i:0;s:5:\"event\";i:1;s:5:\"venue\";i:2;s:10:\"attraction\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:44:\"Unique
  id of the entity in the discovery API\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:39:\"Locale
  in which the content is returned\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:20;s:11:\"description\";s:27:\"Description's
  of the entity\";}s:14:\"additionalInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:22;s:11:\"description\";s:36:\"Additional
  information of the entity\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:43:\"URL
  of a web site detail page of the entity\";}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:15:\"classifications\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:30;s:11:\"description\";s:28:\"Attraction's
  classifications\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Classification\";}}s:13:\"externalLinks\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:79;s:11:\"description\";s:22:\"List
  of external links\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ExternalLink\";}}}s:4:\"test\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:96;s:11:\"description\";s:89:\"Indicate
  if this is a test entity, by default test entities won't appear in discovery API\";s:7:\"default\";b:0;}s:14:\"upcomingEvents\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:110;s:11:\"description\";s:25:\"number
  of upcoming events\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:11:\"description\";s:10:\"Attraction\";}s:20:\"AttractionExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"All
  Attraction's extensions\";}s:11:\"Attribution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"licenceUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"LicenceUrl\";}s:11:\"licenceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"LicenceName\";}s:9:\"sourceUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"SourceUrl\";}s:10:\"sourceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"SourceName\";}}s:11:\"description\";s:11:\"Attribution\";}s:12:\"Attributions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"descriptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:47:\"Attribution
  descriptions - multi-lingual fields\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Attribution\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Attribution
  description\";s:4:\"$ref\";s:25:\"#/definitions/Attribution\";}}s:11:\"description\";s:12:\"Attributions\";}s:10:\"Chronology\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"zone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DateTimeZone\";}}}s:4:\"City\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:4:\"City\";}s:14:\"Classification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"primary\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:51:\"True
  if this is the entity's primary classification\";s:7:\"default\";b:0;}s:7:\"segment\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:69:\"A
  Segment is a primary genre for an entity (Music, Sports, Arts, etc)\";s:4:\"$ref\";s:21:\"#/definitions/Segment\";}s:5:\"genre\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:79:\"Secondary
  Genre to further describe an entity (Rock, Classical, Animation, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}s:8:\"subGenre\";O:8:\"stdClass\":3:{s:8:\"position\";i:3;s:11:\"description\";s:100:\"Tertiary
  Genre for additional detail when describring an entity (Alternative Rock, Ambient
  Pop, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"position\";i:5;s:11:\"description\";s:105:\"A
  Type represents a kind or group of people. (Donation, Group, Individual, Merchandise,
  Event Style, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}s:7:\"subType\";O:8:\"stdClass\":3:{s:8:\"position\";i:6;s:11:\"description\";s:73:\"Secondary
  Type to further categorize an entity (Band, Choir, Chorus, etc)\";s:4:\"$ref\";s:19:\"#/definitions/Level\";}}s:11:\"description\";s:14:\"Classification\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"countryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Country
  code (ISO 3166)\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:7:\"Country\";}s:13:\"DateTimeField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"lenient\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:13:\"durationField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DurationField\";}s:12:\"minimumValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:18:\"rangeDurationField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DurationField\";}s:12:\"maximumValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:17:\"leapDurationField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DurationField\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DateTimeFieldType\";}s:9:\"supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}}}s:17:\"DateTimeFieldType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"durationType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DurationFieldType\";}s:17:\"rangeDurationType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DurationFieldType\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"DateTimeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"fixed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"DisplaySettingExtension\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"softLanding\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:49:\"True
  the landing is Soft otherwise it's Comingled\";s:7:\"default\";b:0;}}s:11:\"description\";s:34:\"Event's
  display settings extension\";}s:3:\"Dma\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"DMS's
  id\";}}s:11:\"description\";s:28:\"DMA (Designated Market Area)\";}s:13:\"DurationField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"unitMillis\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"precise\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DurationFieldType\";}s:9:\"supported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}}}s:17:\"DurationFieldType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"EndDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"localDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:10:\"yyyy-MM-dd\";s:11:\"description\";s:32:\"The
  event end date in local date\";}s:9:\"localTime\";O:8:\"stdClass\":4:{s:7:\"example\";s:10:\"yyyy-MM-dd\";s:8:\"position\";i:1;s:11:\"description\";s:32:\"The
  event end time in local time\";s:4:\"$ref\";s:23:\"#/definitions/LocalTime\";}s:8:\"dateTime\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:20:\"yyyy-MM-ddThh-mm-ssZ\";s:8:\"position\";i:2;s:11:\"description\";s:23:\"The
  event end date time\";}s:11:\"approximate\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:3;s:11:\"description\";s:68:\"Boolean
  flag to indicate whether or not the end date is approximated\";s:7:\"default\";b:0;}s:14:\"noSpecificTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:4;s:11:\"description\";s:79:\"Boolean
  flag to indicate whether or not the event end time has no specific time\";s:7:\"default\";b:0;}}s:11:\"description\";s:17:\"Event's
  End Dates\";}s:13:\"EntityChanges\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"newlyCreated\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:7:\"changes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:5:\"Event\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":26:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:3:{i:0;s:5:\"event\";i:1;s:5:\"venue\";i:2;s:10:\"attraction\";}}s:8:\"distance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"units\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:44:\"Unique
  id of the entity in the discovery API\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:39:\"Locale
  in which the content is returned\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:20;s:11:\"description\";s:27:\"Description's
  of the entity\";}s:14:\"additionalInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:22;s:11:\"description\";s:36:\"Additional
  information of the entity\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:43:\"URL
  of a web site detail page of the entity\";}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:5:\"dates\";O:8:\"stdClass\":3:{s:8:\"position\";i:31;s:11:\"description\";s:25:\"Event's
  dates information\";s:4:\"$ref\";s:24:\"#/definitions/EventDates\";}s:5:\"sales\";O:8:\"stdClass\":3:{s:8:\"position\";i:32;s:11:\"description\";s:31:\"Event's
  sales dates information\";s:4:\"$ref\";s:29:\"#/definitions/EventSalesDates\";}s:4:\"info\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:32;s:11:\"description\";s:36:\"Any
  information related to the event\";}s:10:\"pleaseNote\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:34;s:11:\"description\";s:30:\"Any
  notes related to the event\";}s:11:\"priceRanges\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:36;s:11:\"description\";s:26:\"Price
  ranges of this event\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PriceRange\";}}s:8:\"promoter\";O:8:\"stdClass\":3:{s:8:\"position\";i:37;s:11:\"description\";s:16:\"Event's
  promoter\";s:4:\"$ref\";s:22:\"#/definitions/Promoter\";}s:9:\"promoters\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:37;s:11:\"description\";s:17:\"Event's
  promoters\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Promoter\";}}s:7:\"outlets\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:37;s:11:\"description\";s:28:\"Related
  outlets informations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Outlet\";}}s:8:\"products\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:38;s:11:\"description\";s:29:\"Related
  products informations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}s:7:\"seatmap\";O:8:\"stdClass\":3:{s:8:\"position\";i:43;s:11:\"description\";s:15:\"Event's
  seatmap\";s:4:\"$ref\";s:21:\"#/definitions/SeatMap\";}s:13:\"accessibility\";O:8:\"stdClass\":3:{s:8:\"position\";i:44;s:11:\"description\";s:61:\"Additional
  information for people who experience disabilities\";s:4:\"$ref\";s:27:\"#/definitions/Accessibility\";}s:15:\"classifications\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:50;s:11:\"description\";s:23:\"Event's
  classifications\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Classification\";}}s:5:\"place\";O:8:\"stdClass\":3:{s:8:\"position\";i:51;s:11:\"description\";s:88:\"Place
  has the information on where the event happens. It can be set if there is no venue\";s:4:\"$ref\";s:19:\"#/definitions/Place\";}s:13:\"externalLinks\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:79;s:11:\"description\";s:22:\"List
  of external links\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ExternalLink\";}}}s:4:\"test\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:96;s:11:\"description\";s:89:\"Indicate
  if this is a test entity, by default test entities won't appear in discovery API\";s:7:\"default\";b:0;}}s:11:\"description\";s:5:\"Event\";}s:10:\"EventDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Event's
  start dates. The date and time when the event will start\";s:4:\"$ref\";s:24:\"#/definitions/StartDates\";}s:3:\"end\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:60:\"Event's
  end dates. The date and time when the event will end\";s:4:\"$ref\";s:22:\"#/definitions/EndDates\";}s:6:\"access\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:68:\"Event's
  access dates. The date and time the fan can access the event\";s:4:\"$ref\";s:25:\"#/definitions/AccessDates\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:16:\"Event's
  timezone\";}s:6:\"status\";O:8:\"stdClass\":3:{s:8:\"position\";i:4;s:11:\"description\";s:19:\"Status
  of the event\";s:4:\"$ref\";s:25:\"#/definitions/EventStatus\";}s:16:\"spanMultipleDays\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:5;s:11:\"description\";s:46:\"Flag
  indicating if date spans of multiple days\";s:7:\"default\";b:0;}}s:11:\"description\";s:13:\"Event's
  Dates\";}s:15:\"EventExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"All
  Event's extensions\";}s:11:\"EventImages\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:1:{i:0;s:5:\"event\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:44:\"Unique
  id of the entity in the discovery API\";}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:2;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}}s:11:\"description\";s:70:\"This
  class defines an Event with only images view on the Discovery API\";}s:15:\"EventSalesDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"public\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Public
  onsale information on this event\";s:4:\"$ref\";s:29:\"#/definitions/PublicSaleDates\";}s:8:\"presales\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:1;s:11:\"description\";s:33:\"Presale
  information on this event\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Presale\";}}}s:11:\"description\";s:19:\"Event's
  Sales Dates\";}s:11:\"EventStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  event's status code\";s:4:\"enum\";a:5:{i:0;s:6:\"onsale\";i:1;s:7:\"offsale\";i:2;s:8:\"canceled\";i:3;s:9:\"postponed\";i:4;s:11:\"rescheduled\";}}}s:11:\"description\";s:14:\"Event's
  Status\";}s:9:\"Extension\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"ExternalLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:87:\"An
  external link id is the unique identifier of a resource on a different domain or
  api\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:68:\"An
  external link url is a url that goes to a different domain or api\";}}s:11:\"description\";s:12:\"ExternalLink\";}s:5:\"Genre\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  ID of the classification's level\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:38:\"The
  Name of the classification's level\";}}s:11:\"description\";s:15:\"Secondary Genre\";}s:16:\"GeocodeExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"county\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"geometry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Geometry\";}s:12:\"streetNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"route\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"formattedAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"GeolocationVenueExtensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"geocode\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Geocoding
  information about the venue\";s:4:\"$ref\";s:30:\"#/definitions/GeocodeExtension\";}}s:11:\"description\";s:25:\"Venue's
  geocode extension\";}s:8:\"Geometry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}}}s:13:\"HostExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"Event's
  Host extension\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:23:\"Public
  URL of the image\";}s:5:\"ratio\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:25:\"Aspect
  ratio of the image\";s:4:\"enum\";a:3:{i:0;s:4:\"16_9\";i:1;s:3:\"3_2\";i:2;s:3:\"4_3\";}}s:5:\"width\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:8:\"position\";i:4;s:11:\"description\";s:18:\"Width
  of the image\";}s:6:\"height\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:8:\"position\";i:5;s:11:\"description\";s:19:\"Height
  of the image\";}s:8:\"fallback\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:6;s:11:\"description\";s:62:\"true
  if the image is not the event's image but a fallbak image\";s:7:\"default\";b:0;}s:11:\"attribution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:8;s:11:\"description\";s:24:\"Attribution
  of the image\";}}s:11:\"description\";s:5:\"Image\";}s:5:\"Level\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  ID of the classification's level\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:38:\"The
  Name of the classification's level\";}}}s:9:\"LocalTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"chronology\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Chronology\";}s:14:\"millisOfSecond\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"millisOfDay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"secondOfMinute\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"minuteOfHour\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"hourOfDay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"values\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:10:\"fieldTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DateTimeFieldType\";}}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeField\";}}}}s:6:\"Locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"script\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"variant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"extensionKeys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:23:\"unicodeLocaleAttributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"unicodeLocaleKeys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"iso3Language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"iso3Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"displayLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"displayScript\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"displayCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"displayVariant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"longitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:9:\"Longitude\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:8:\"Latitude\";}}s:11:\"description\";s:8:\"Location\";}s:6:\"Market\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Market's
  id\";}}s:11:\"description\";s:6:\"Market\";}s:6:\"Outlet\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:12:\"Outlet's
  url\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:13:\"Outlet's
  type\";}}s:11:\"description\";s:28:\"A selling point for tickets.\";}s:7:\"Parking\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:20;s:11:\"description\";s:34:\"Url
  to the web page of the parking\";}}s:11:\"description\";s:7:\"Parking\";}s:5:\"Place\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"area\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Area
  of the place\";s:4:\"$ref\";s:18:\"#/definitions/Area\";}s:7:\"address\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:20:\"Address
  of the place\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"city\";O:8:\"stdClass\":3:{s:8:\"position\";i:2;s:11:\"description\";s:17:\"City
  of the Place\";s:4:\"$ref\";s:18:\"#/definitions/City\";}s:5:\"state\";O:8:\"stdClass\":3:{s:8:\"position\";i:3;s:11:\"description\";s:29:\"State
  / Province of the place\";s:4:\"$ref\";s:19:\"#/definitions/State\";}s:7:\"country\";O:8:\"stdClass\":3:{s:8:\"position\";i:4;s:11:\"description\";s:20:\"Country
  of the place\";s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:5;s:11:\"description\";s:34:\"Postal
  code / zipcode of the place\";}s:8:\"location\";O:8:\"stdClass\":3:{s:8:\"position\";i:6;s:11:\"description\";s:21:\"Location
  of the place\";s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:5:\"Place\";}s:7:\"Presale\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the presale\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:26:\"Description
  of the presame\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:16:\"Presale
  link URL\";}s:13:\"startDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"position\";i:4;s:11:\"description\";s:68:\"Presale's
  start dates. The date and time when the presale will start\";}s:11:\"endDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"position\";i:5;s:11:\"description\";s:64:\"Presale's
  end dates. The date and time when the presale will end\";}}s:11:\"description\";s:20:\"Event's
  Presale Info\";}s:10:\"PriceRange\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Type
  of price\";s:4:\"enum\";a:1:{i:0;s:8:\"standard\";}}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:8:\"Currency\";}s:3:\"min\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:8:\"position\";i:2;s:11:\"description\";s:13:\"Minimum
  price\";}s:3:\"max\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:8:\"position\";i:3;s:11:\"description\";s:13:\"Maximum
  price\";}}s:11:\"description\";s:10:\"PriceRange\";}s:7:\"Product\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:20:\"Product's
  primary id\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:12;s:11:\"description\";s:13:\"Product's
  url\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:13;s:11:\"description\";s:14:\"Product's
  type\";}}s:11:\"description\";s:7:\"Product\";}s:8:\"Promoter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Id
  of the promoter\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:20:\"Name
  of the promoter\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:27:\"Description
  of the promoter\";}}s:11:\"description\";s:8:\"Promoter\";}s:15:\"PublicSaleDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"startDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:76:\"Public
  sale's start dates. The date and time when the public sale will start\";}s:11:\"endDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"position\";i:1;s:11:\"description\";s:72:\"Public
  sale's end dates. The date and time when the public sale will end\";}s:8:\"startTBD\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:2;s:11:\"description\";s:50:\"True
  if the public sale's date is to be determined\";s:7:\"default\";b:0;}}s:11:\"description\";s:28:\"Event's
  Public Onsales Dates\";}s:16:\"PublicVisibility\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:76:\"The
  class defines the public visibility period on the Discovery/Publish API.\";}s:12:\"Relationship\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  type of the relationship\";s:4:\"enum\";a:1:{i:0;s:9:\"duplicate\";}}s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:37:\"The
  source name of the related entity\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:2;s:11:\"description\";s:28:\"The
  ID of the related entity\";}s:10:\"references\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:14:\"sourceName:
  id\";s:8:\"position\";i:3;s:11:\"description\";s:85:\"References of this relationship
  in another system. Reference is the exact same entity\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:12:\"Relationship\";}s:7:\"SeatMap\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"staticUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:18:\"Static
  Seatmap Url\";}}s:11:\"description\";s:7:\"Seatmap\";}s:7:\"Segment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  ID of the classification's level\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:38:\"The
  Name of the classification's level\";}}s:11:\"description\";s:7:\"Segment\";}s:6:\"Social\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"twitter\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Twitter
  data\";s:4:\"$ref\";s:21:\"#/definitions/Twitter\";}}s:11:\"description\";s:20:\"Social
  networks data\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:6:\"Source\";}s:10:\"StartDates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"localDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:10:\"yyyy-MM-dd\";s:11:\"description\";s:34:\"The
  event start date in local date\";}s:9:\"localTime\";O:8:\"stdClass\":4:{s:7:\"example\";s:10:\"yyyy-MM-dd\";s:8:\"position\";i:1;s:11:\"description\";s:32:\"The
  event end time in local time\";s:4:\"$ref\";s:23:\"#/definitions/LocalTime\";}s:8:\"dateTime\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:20:\"yyyy-MM-ddThh:mm:ssZ\";s:8:\"position\";i:2;s:11:\"description\";s:24:\"The
  event start datetime\";}s:7:\"dateTBD\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:3;s:11:\"description\";s:61:\"Boolean
  flag to indicate whether or not the start date is TBD\";s:7:\"default\";b:0;}s:7:\"dateTBA\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:4;s:11:\"description\";s:61:\"Boolean
  flag to indicate whether or not the start date is TBA\";s:7:\"default\";b:0;}s:7:\"timeTBA\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:5;s:11:\"description\";s:61:\"Boolean
  flag to indicate whether or not the start time is TBA\";s:7:\"default\";b:0;}s:14:\"noSpecificTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:6;s:11:\"description\";s:81:\"Boolean
  flag to indicate whether or not the event start time has no specific time\";s:7:\"default\";b:0;}}s:11:\"description\";s:19:\"Event's
  Start Dates\";}s:5:\"State\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"stateCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"State
  code\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}}s:11:\"description\";s:5:\"State\";}s:12:\"TatExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:35:\"The
  Attraction Tool (TAT) extension\";}s:32:\"TicketmasterAttractionExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:44:\"Attraction's
  extension (ticketmaster source)\";}s:27:\"TicketmasterEventExtensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"displaySettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Event's
  display setting informations\";s:4:\"$ref\";s:37:\"#/definitions/DisplaySettingExtension\";}}s:11:\"description\";s:39:\"Event's
  extension (ticketmaster source)\";}s:27:\"TicketmasterVenueExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:39:\"Venue's
  extension (ticketmaster source)\";}s:7:\"Twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"handle\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"@a
  Twitter handle exampe\";s:11:\"description\";s:14:\"Twitter handle\";s:4:\"enum\";a:1:{i:0;s:17:\"@a
  Twitter handle\";}}s:8:\"hashtags\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:7:\"example\";s:41:\"#hashtag
  example #hashtag another example\";s:8:\"position\";i:1;s:11:\"description\";s:16:\"Twitter
  hashtags\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:12:\"Twitter
  data\";}s:5:\"Venue\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":28:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of the entity\";s:4:\"enum\";a:3:{i:0;s:5:\"event\";i:1;s:5:\"venue\";i:2;s:10:\"attraction\";}}s:8:\"distance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"units\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:44:\"Unique
  id of the entity in the discovery API\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:39:\"Locale
  in which the content is returned\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:10;s:11:\"description\";s:18:\"Name
  of the entity\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:20;s:11:\"description\";s:27:\"Description's
  of the entity\";}s:7:\"address\";O:8:\"stdClass\":3:{s:8:\"position\";i:20;s:11:\"description\";s:20:\"Address
  of the venue\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"city\";O:8:\"stdClass\":3:{s:8:\"position\";i:21;s:11:\"description\";s:17:\"City
  of the venue\";s:4:\"$ref\";s:18:\"#/definitions/City\";}s:14:\"additionalInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:22;s:11:\"description\";s:36:\"Additional
  information of the entity\";}s:5:\"state\";O:8:\"stdClass\":3:{s:8:\"position\";i:22;s:11:\"description\";s:29:\"State
  / Province of the venue\";s:4:\"$ref\";s:19:\"#/definitions/State\";}s:7:\"country\";O:8:\"stdClass\":3:{s:8:\"position\";i:23;s:11:\"description\";s:20:\"Country
  of the venue\";s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:43:\"URL
  of a web site detail page of the entity\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:24;s:11:\"description\";s:34:\"Postal
  code / zipcode of the venue\";}s:8:\"location\";O:8:\"stdClass\":3:{s:8:\"position\";i:25;s:11:\"description\";s:21:\"Location
  of the venue\";s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:26;s:11:\"description\";s:21:\"Timezone
  of the venue\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:27;s:11:\"description\";s:58:\"Default
  currency of ticket prices for events in this venue\";}s:7:\"markets\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:28;s:11:\"description\";s:20:\"Markets
  of the venue\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Market\";}}s:6:\"images\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:20:\"Images
  of the entity\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:3:\"dma\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"position\";i:29;s:11:\"description\";s:66:\"The
  list of associated DMAs (Designated Market Areas) of the venue\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Dma\";}}s:6:\"social\";O:8:\"stdClass\":3:{s:8:\"position\";i:30;s:11:\"description\";s:20:\"Social
  networks data\";s:4:\"$ref\";s:20:\"#/definitions/Social\";}s:13:\"boxOfficeInfo\";O:8:\"stdClass\":3:{s:8:\"position\";i:31;s:11:\"description\";s:37:\"Box
  office informations for the venue\";s:4:\"$ref\";s:32:\"#/definitions/VenueBoxOfficeInfo\";}s:13:\"parkingDetail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:33;s:11:\"description\";s:18:\"Venue
  parking info\";}s:23:\"accessibleSeatingDetail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:35;s:11:\"description\";s:31:\"Venue
  accessible seating detail\";}s:11:\"generalInfo\";O:8:\"stdClass\":3:{s:8:\"position\";i:36;s:11:\"description\";s:33:\"General
  informations on the venue\";s:4:\"$ref\";s:30:\"#/definitions/VenueGeneralInfo\";}s:13:\"externalLinks\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:79;s:11:\"description\";s:22:\"List
  of external links\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ExternalLink\";}}}s:4:\"test\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"position\";i:96;s:11:\"description\";s:89:\"Indicate
  if this is a test entity, by default test entities won't appear in discovery API\";s:7:\"default\";b:0;}s:14:\"upcomingEvents\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"position\";i:110;s:11:\"description\";s:25:\"number
  of upcoming events\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:11:\"description\";s:5:\"Venue\";}s:18:\"VenueBoxOfficeInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"phoneNumberDetail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:29:\"Venue
  box office phone number\";}s:15:\"openHoursDetail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:30:\"Venue
  box office opening hours\";}s:21:\"acceptedPaymentDetail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:5;s:11:\"description\";s:41:\"Venue
  box office accepted payment details\";}s:14:\"willCallDetail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:7;s:11:\"description\";s:34:\"Venue
  box office will call details\";}}s:11:\"description\";s:28:\"Venue box office information\";}s:15:\"VenueExtensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"geolocation\";O:8:\"stdClass\":3:{s:8:\"position\";i:1;s:11:\"description\";s:94:\"Gelocolation
  extension on a venue | add filter 'extensions=geolocation' on your venues request\";s:4:\"$ref\";s:40:\"#/definitions/GeolocationVenueExtensions\";}}s:11:\"description\";s:22:\"All
  Venue's extensions\";}s:16:\"VenueGeneralInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"generalRule\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:1;s:11:\"description\";s:19:\"Venue
  general rules\";}s:9:\"childRule\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"position\";i:3;s:11:\"description\";s:19:\"Venue
  children rule\";}}s:11:\"description\";s:25:\"Venue general information\";}}"
...
