---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Settings v1.0\";s:7:\"version\";s:3:\"1.0\";}"
host: api.linkfire.com
basePath: /settings
paths:
  /boards/{boardId}/domains:
    get:
      description: Get board domains
      operationId: boards_getboarddomains
      summary: Boards_GetBoardDomains
      parameters:
      - name: boardId
        in: path
        description: Format - uuid. Board identifier
        required: true
        type: string
      - name: Api-Version
        in: header
        description: API version to use
        type: string
        default: v1.0
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MultipleResponse[BoardDomain]'
      produces:
      - application/json
      - text/json
  /boards:
    get:
      description: Get boards
      operationId: boards_getboards
      summary: Boards_GetBoards
      parameters:
      - name: Api-Version
        in: header
        description: API version to use
        type: string
        default: v1.0
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MultipleResponse[BoardResponse]'
      produces:
      - application/json
      - text/json
  /boards/{boardId}/mediaservices:
    get:
      description: Get board media services
      operationId: boards_getboardmediaservices
      summary: Boards_GetBoardMediaServices
      parameters:
      - name: boardId
        in: path
        description: Format - uuid. Board identifier
        required: true
        type: string
      - name: page
        in: query
        description: Format - int32. Page number to get. Default is 0 (first page)
        type: integer
      - name: pageSize
        in: query
        description: Format - int32. Number of media services to get per page. Max
          1000
        type: integer
      - name: Api-Version
        in: header
        description: API version to use
        type: string
        default: v1.0
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PaginationResponse[MediaServiceResponse]'
      produces:
      - application/json
      - text/json
  /mediaservices:
    get:
      description: Get available media services
      operationId: mediaservices_getmediaservices
      summary: MediaServices_GetMediaServices
      parameters:
      - name: description
        in: query
        description: Only get media services that contains this description
        type: string
      - name: name
        in: query
        description: Only get media services that contains this name
        type: string
      - name: page
        in: query
        description: Format - int32. Page number to get. Default is 0 (first page)
        type: integer
      - name: pageSize
        in: query
        description: Format - int32. Number of media services to get per page. Max
          1000
        type: integer
      - name: Api-Version
        in: header
        description: API version to use
        type: string
        default: v1.0
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PaginationResponse[MediaServiceResponse]'
      produces:
      - application/json
      - text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:29:\"MultipleResponse[BoardDomain]\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BoardDomain\";}}s:13:\"transactionId\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";}}}s:11:\"BoardDomain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isFavorite\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:31:\"MultipleResponse[BoardResponse]\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BoardResponse\";}}s:13:\"transactionId\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";}}}s:13:\"BoardResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";}s:8:\"parentId\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"domains\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";}}s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:40:\"PaginationResponse[MediaServiceResponse]\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"totalItemsCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/MediaServiceResponse\";}}s:13:\"transactionId\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";}}}s:20:\"MediaServiceResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Media
  Service Response Model\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":4:{s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:2:\"Id\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";}s:10:\"buttonType\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Button
  Type\";s:4:\"enum\";a:4:{i:0;s:8:\"Download\";i:1;s:4:\"GoTo\";i:2;s:4:\"Play\";i:3;s:7:\"Tickets\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}}}}"
...
