---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:39:\"RESTful
  API Definition and JSON Objects\";s:11:\"description\";s:1388:\"### Author: Brendon
  Price\n### Version: 2.8\n### Last Updated: 23/03/2015  \n\n## Document History\n+
  28/10/2014 - Initial version 2.0 of API document released.\n+ 05/11/2014 - v2.1
  Added the __\"popularStoriesSupplement\"__ and __\"featuredStoriesSupplement\"__
  to hold Analytics and Advertising keys. So each feed has its own Ad keys and Analytics
  data.\n+ 10/11/2014 - v2.2 Add the Image request API. Also updated the Story API
  with optional \"adKeys\" element.\n+ 14/11/2014 - v2.3 Added the Supplement Info
  to the detailed Weather API call, so we can display Ad's on the weather screens.\n+
  25/11/2014 - v2.4 Added the Supplement Info to the Video JSON object, so we can
  hold adKeys and Omniture keys for IMA. Inline with discussions with Sunny around
  Video IMA.\n+ 01/12/2014 - v2.5 Refactored the NZ Weather forecast JSON structure,
  so we can support Headings and sub-headings for a forecast, e.g. Coastal and Leisure
  forecasts . Also added the PUSH Notification structure for breaking news item. \n+
  05/12/2014 - v2.6 Added Video objects directly to the watch now schedule, so we
  can directly play the live watch now stream.\n+ 11/02/2015 - v2.7 Updated to include
  Map Story body part, and updates to example data included in documentation. Also
  included example Omniture keys per API, inline with initial testing of Analytics.\n+
  23/03/2015 - v2.8 Updated detail description for Weather API calls.\n\";}"
host: cmsstage.tvnz.co.nz
paths: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:21:\"latestHooksSupplement\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"adKeys\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"genre\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"kw\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"site\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"prog\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"chanl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"pt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"dist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"slotName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"adPosition\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"omnitureKeys\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}"
...
