---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:20:\"support@winsms.co.za\";s:4:\"name\";s:14:\"WinSMS
  Support\";s:3:\"url\";s:28:\"http://support.winsms.co.za/\";s:9:\"x-twitter\";s:7:\"winsms1\";}s:11:\"description\";s:18:\"WinSMS
  RESTful API\";s:14:\"termsOfService\";s:42:\"https://www.winsms.co.za/terms-conditions/\";s:5:\"title\";s:6:\"WinSMS\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"messaging\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_winsms1_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:50:\"https://www.winsms.co.za/api/restdocs/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"winsms.co.za\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"winsms_co_za\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.winsms.co.za
basePath: /api/rest/v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:21:\"creditBalanceResponse\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"creditBalance\";d:96.400000000000006;}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"creditBalance\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  current remaining credit balance for the account. Contains a single decimal place\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:13:\"creditBalance\";}s:5:\"title\";s:21:\"creditBalanceResponse\";s:4:\"type\";s:6:\"object\";}s:21:\"creditTransferRequest\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":3:{s:22:\"receivingAccountNumber\";i:10345;s:20:\"sendingAccountNumber\";i:7564;s:16:\"transferQuantity\";i:100;}s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"receivingAccountNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  WinSMS account number of the account to which credits will be added.\";s:7:\"example\";i:10345;s:4:\"type\";s:7:\"integer\";}s:20:\"sendingAccountNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  WinSMS account number of the account from which credits will be deducted.\";s:7:\"example\";i:7564;s:4:\"type\";s:7:\"integer\";}s:16:\"transferQuantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  number of credits to transfer from the sending account to the receiving account.\";s:7:\"example\";i:100;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:20:\"sendingAccountNumber\";i:1;s:22:\"receivingAccountNumber\";i:2;s:16:\"transferQuantity\";}s:5:\"title\";s:21:\"creditTransferRequest\";s:4:\"type\";s:6:\"object\";}s:22:\"creditTransferResponse\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":1:{s:18:\"transferSuccessful\";b:1;}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"transferSuccessful\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"A
  boolean value indictating whether the credits were successfully transfered from
  the sending account into the receiving account.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:18:\"transferSuccessful\";}s:5:\"title\";s:22:\"creditTransferResponse\";s:4:\"type\";s:6:\"object\";}s:23:\"deleteScheduledResponse\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":1:{s:22:\"deletedMessageStatuses\";a:2:{i:0;O:8:\"stdClass\":5:{s:12:\"apiMessageId\";i:2316;s:10:\"creditCost\";i:1;s:11:\"deleteError\";s:0:\"\";s:7:\"deleted\";b:1;s:12:\"mobileNumber\";s:11:\"27444444444\";}i:1;O:8:\"stdClass\":5:{s:12:\"apiMessageId\";i:2317;s:10:\"creditCost\";i:0;s:11:\"deleteError\";s:8:\"NOTFOUND\";s:7:\"deleted\";b:0;s:12:\"mobileNumber\";s:11:\"27555555555\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"deletedMessageStatuses\";O:8:\"stdClass\":5:{s:11:\"description\";s:109:\"An
  array of deletedMessageStatus objects detailing the deleted status of each message
  requested for deletion.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/deletedMessageStatus\";}s:8:\"maxItems\";i:1000;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:22:\"deletedMessageStatuses\";}s:5:\"title\";s:23:\"deleteScheduledResponse\";s:4:\"type\";s:6:\"object\";}s:20:\"deletedMessageStatus\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"apiMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  WinSMS API Message Id identifying the SMS message.\";s:7:\"example\";i:2316;s:4:\"type\";s:7:\"integer\";}s:10:\"creditCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:144:\"The
  number of credits refunded to your account after deleting the scheduled message.<br>
  If the deletion was unsuccessful, this value will be 0.\";s:7:\"example\";d:1.3;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"deleteError\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"If
  the `deleted` value is false, this will contain an error code indicating the reason
  for the failure. If the scheduled SMS message was successfully delivered, this value
  will be blank.\";s:7:\"example\";s:8:\"NOTFOUND\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"A
  boolean value indicating whether a scheduled SMS message was successfully deleted\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"mobileNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  mobile number of the recipient of the SMS message, using the international E164
  (without the plus) format\";s:7:\"example\";s:11:\"27824444444\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:12:\"apiMessageId\";i:1;s:12:\"mobileNumber\";i:2;s:7:\"deleted\";i:3;s:11:\"deleteError\";i:4;s:10:\"creditCost\";}s:5:\"title\";s:20:\"deletedMessageStatus\";s:4:\"type\";s:6:\"object\";}s:12:\"errorDetails\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":4:{s:12:\"errorMessage\";s:91:\"The
  resource requested does not exist. Please verify the path, spelling, and capitalisation\";s:10:\"statusCode\";i:404;s:9:\"timeStamp\";s:17:\"20170120152253514\";s:7:\"version\";s:3:\"1.0\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"A
  plain text description of the error that occurred, and possible solutions if available.
  \";s:4:\"type\";s:6:\"string\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  http status code returned - reflected in the body for convenience\";s:4:\"type\";s:7:\"integer\";}s:9:\"timeStamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  date/time of the call, in the format YYYYMMDDhhmmssSSS\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  current version of the API of the endpoint that was called\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:9:\"timeStamp\";i:1;s:7:\"version\";i:2;s:10:\"statusCode\";i:3;s:12:\"errorMessage\";}s:5:\"title\";s:12:\"errorDetails\";s:4:\"type\";s:6:\"object\";}s:15:\"incomingMessage\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"incomingApiMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  unique API message id assigned to this incoming message.\";s:7:\"example\";i:58324;s:4:\"type\";s:6:\"number\";}s:11:\"messageText\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  text of the incoming SMS message.\";s:7:\"example\";s:44:\"Hello, I'm responding
  to your SMS invitation\";s:4:\"type\";s:6:\"string\";}s:12:\"mobileNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  mobile number that sent the SMS message, displayed using the international E164
  (without the plus) format\";s:7:\"example\";s:11:\"27444444444\";s:4:\"type\";s:6:\"string\";}s:20:\"outgoingApiMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  API message id of the most recent message sent to the mobile number that responded.\";s:7:\"example\";i:2316;s:4:\"type\";s:6:\"number\";}s:11:\"receiveTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  date and time the message was received by WinSMS, in the format YYYYMMDDHHmm.\";s:7:\"example\";i:201707270952;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:5:{i:0;s:20:\"incomingApiMessageId\";i:1;s:12:\"mobileNumber\";i:2;s:11:\"receiveTime\";i:3;s:11:\"messageText\";i:4;s:20:\"outgoingApiMessageId\";}s:5:\"title\";s:15:\"incomingMessage\";s:4:\"type\";s:6:\"object\";}s:23:\"incomingMessageResponse\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"incomingMessages\";a:2:{i:0;O:8:\"stdClass\":5:{s:20:\"incomingApiMessageId\";i:58324;s:11:\"messageText\";s:43:\"Thank
  you for the holiday wishes. Stay safe\";s:12:\"mobileNumber\";s:11:\"27444444444\";s:20:\"outgoingApiMessageId\";i:2316;s:11:\"receiveTime\";i:201707252208;}i:1;O:8:\"stdClass\":5:{s:20:\"incomingApiMessageId\";i:58336;s:11:\"messageText\";s:51:\"That
  is much appreciated. Happy holidays to you too\";s:12:\"mobileNumber\";s:11:\"27555555555\";s:20:\"outgoingApiMessageId\";i:2316;s:11:\"receiveTime\";i:201707270952;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"incomingMessages\";O:8:\"stdClass\":5:{s:11:\"description\";s:83:\"An
  array of incomingMessage objects containing properties of each incoming message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/incomingMessage\";}s:8:\"maxItems\";i:1000;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:16:\"incomingMessages\";}s:5:\"title\";s:23:\"incomingMessageResponse\";s:4:\"type\";s:6:\"object\";}s:21:\"incomingOptoutMessage\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"incomingApiMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  unique API message id assigned to this incoming opt-out message.\";s:7:\"example\";i:58324;s:4:\"type\";s:6:\"number\";}s:11:\"messageText\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  text of the opt-out SMS message.\";s:7:\"example\";s:4:\"STOP\";s:4:\"type\";s:6:\"string\";}s:12:\"mobileNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  mobile number that sent the opt-out SMS message, displayed using the international
  E164 (without the plus) format\";s:7:\"example\";s:11:\"27444444444\";s:4:\"type\";s:6:\"string\";}s:11:\"receiveTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  date and time the message was received by WinSMS, in the format YYYYMMDDHHmm.\";s:7:\"example\";i:201707270952;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:20:\"incomingApiMessageId\";i:1;s:12:\"mobileNumber\";i:2;s:11:\"receiveTime\";i:3;s:11:\"messageText\";}s:5:\"title\";s:21:\"incomingOptoutMessage\";s:4:\"type\";s:6:\"object\";}s:29:\"incomingOptoutMessageResponse\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":1:{s:22:\"incomingOptoutMessages\";a:2:{i:0;O:8:\"stdClass\":4:{s:20:\"incomingApiMessageId\";i:58324;s:11:\"messageText\";s:4:\"STOP\";s:12:\"mobileNumber\";s:11:\"27444444444\";s:11:\"receiveTime\";i:201707252208;}i:1;O:8:\"stdClass\":3:{s:11:\"messageText\";s:26:\"*
  MANUALLY ADDED BY USER *\";s:12:\"mobileNumber\";s:11:\"27555555555\";s:11:\"receiveTime\";i:201707270952;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"incomingOptoutMessages\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"An
  array of incomingOptoutMessage objects containing properties of each opt-out message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/incomingOptoutMessage\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:22:\"incomingOptoutMessages\";}s:5:\"title\";s:29:\"incomingOptoutMessageResponse\";s:4:\"type\";s:6:\"object\";}s:23:\"messageRecipientRequest\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"clientMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:350:\"Optional
  -  <p>A parameter to identify an individual SMS message recipient on your system.
  The clientMessageId parameter is NOT saved by the WinSMS API.</p> <p> The value
  of the clientMessageId parameter is returned in the submittedRecipientResult object
  of the response, allowing you to match a sent message to a returned message result
  status. </p>\";s:7:\"example\";s:13:\"clientId-3023\";s:4:\"type\";s:6:\"string\";}s:12:\"mobileNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"A
  recipient mobile number, using the international E164 (without the plus) format.\";s:7:\"example\";s:11:\"27824444444\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"mobileNumber\";}s:5:\"title\";s:23:\"messageRecipientRequest\";s:4:\"type\";s:6:\"object\";}s:24:\"messageRecipientResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"acceptError\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"If
  the \"accepted\" value is false, this will contain the reason that delivery to the
  recipient was declined by the API. If the recipient was accepted, this value will
  be blank.\";s:7:\"example\";s:7:\"BADDEST\";s:4:\"type\";s:6:\"string\";}s:8:\"accepted\";O:8:\"stdClass\":3:{s:11:\"description\";s:189:\"A
  boolean value indicating whether the API accepted the recipient for SMS delivery.
  This will be false If you have insufficient credits or the recipient mobile number
  supplied is not valid.\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"apiMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:247:\"The
  WinSMS Message Id assigned to the specific message recipient. This Id can be used
  to obtain the status of the message, and to delete the message if it was scheduled.
  If the API did not accept the recipient for delivery, the value will be null.\";s:7:\"example\";i:2316;s:4:\"type\";s:7:\"integer\";}s:15:\"clientMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"If
  the optional clientMessageId value was specified in the recipient object for the
  recipient, it will be returned here. If not, clientMessageId will be null.\";s:7:\"example\";s:13:\"clientId-3023\";s:4:\"type\";s:6:\"string\";}s:10:\"creditCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:372:\"The
  number of credits deducted from your account for the SMS to this recipient. The
  credit cost is based on the destination country of the recipient and the length
  (number of segments) of the message. This credit cost will be reimbursed if the
  message is scheduled and subsequently deleted. If the recipient is not accepted
  for delivery, the creditCost value will be null.\";s:7:\"example\";d:1.3;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"mobileNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  mobile number specified as the mobileNumber value of the recipient object of the
  request.\";s:7:\"example\";s:11:\"27824444444\";s:4:\"type\";s:6:\"string\";}s:16:\"newCreditBalance\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"The
  number of WinSMS credits remaining in your account after processing this recipient.\";s:7:\"example\";d:188.59999999999999;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"scheduledTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"The
  date and time that the message was scheduled for delivery to the recipient. If no
  scheduledTime value was specified in the request, or the recipient was not accepted
  for delivery, this value will be null.\";s:7:\"example\";i:201712251430;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:8:{i:0;s:15:\"clientMessageId\";i:1;s:12:\"mobileNumber\";i:2;s:8:\"accepted\";i:3;s:11:\"acceptError\";i:4;s:12:\"apiMessageId\";i:5;s:13:\"scheduledTime\";i:6;s:10:\"creditCost\";i:7;s:16:\"newCreditBalance\";}s:5:\"title\";s:24:\"messageRecipientResponse\";s:4:\"type\";s:6:\"object\";}s:13:\"messageStatus\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"apiMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  WinSMS API Message Id identifying the SMS message.\";s:7:\"example\";i:2316;s:4:\"type\";s:7:\"integer\";}s:10:\"creditCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:170:\"The
  number of credits deducted from your account for the SMS to this recipient.<br>
  If delivery to the recipient is unsuccessful, under certain conditions, this may
  be 0.\";s:7:\"example\";d:1.3;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"mobileNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  mobile number of the recipient of the SMS message, using the international E164
  (without the plus) format\";s:7:\"example\";s:11:\"27824444444\";s:4:\"type\";s:6:\"string\";}s:15:\"statusDelivered\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"A
  boolean value indicating whether an SMS message was successfully delivered to the
  recipient's mobile number\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"statusErrorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"If
  the `statusDelivered` value is false, this will contain an error code indicating
  the reason for the SMS delivery failure. If the SMS message was successfully delivered,
  this value will be blank.\";s:7:\"example\";s:7:\"BADDEST\";s:4:\"type\";s:6:\"string\";}s:10:\"statusTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:278:\"The
  date and time of the last status update for this message, in the format YYYYMMDDHHmm.
  <br>If the message was delivered (**statusDelivered = true**) then this is a final
  status time. If the message is still awaiting delivery, this time might change when
  updates are received.\";s:7:\"example\";i:201712251431;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:6:{i:0;s:12:\"apiMessageId\";i:1;s:12:\"mobileNumber\";i:2;s:15:\"statusDelivered\";i:3;s:15:\"statusErrorCode\";i:4;s:10:\"statusTime\";i:5;s:10:\"creditCost\";}s:5:\"title\";s:13:\"messageStatus\";s:4:\"type\";s:6:\"object\";}s:21:\"messageStatusResponse\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":1:{s:15:\"messageStatuses\";a:2:{i:0;O:8:\"stdClass\":6:{s:12:\"apiMessageId\";i:2316;s:10:\"creditCost\";i:1;s:12:\"mobileNumber\";s:11:\"27444444444\";s:15:\"statusDelivered\";b:1;s:15:\"statusErrorCode\";i:0;s:10:\"statusTime\";i:201712251431;}i:1;O:8:\"stdClass\":6:{s:12:\"apiMessageId\";i:2317;s:10:\"creditCost\";i:1;s:12:\"mobileNumber\";s:11:\"27555555555\";s:15:\"statusDelivered\";b:0;s:15:\"statusErrorCode\";s:7:\"BADDEST\";s:10:\"statusTime\";i:201712251432;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"messageStatuses\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"An
  array of Message Status objects detailing the delivery status of each message\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/messageStatus\";}s:8:\"maxItems\";i:1000;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:15:\"messageStatuses\";}s:5:\"title\";s:21:\"messageStatusResponse\";s:4:\"type\";s:6:\"object\";}s:16:\"responseMetadata\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"statusCode\";i:200;s:9:\"timeStamp\";s:17:\"20170117054658978\";s:7:\"version\";s:3:\"1.0\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"statusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  http status code returned - reflected in the body for convenience\";s:4:\"type\";s:7:\"integer\";}s:9:\"timeStamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  date/time of the call, in the format YYYYMMDDhhmmssSSS\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  current version of the API of the endpoint that was called\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"timeStamp\";i:1;s:7:\"version\";i:2;s:10:\"statusCode\";}s:5:\"title\";s:16:\"responseMetadata\";s:4:\"type\";s:6:\"object\";}s:18:\"responsePagination\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":3:{s:12:\"resultsLimit\";i:100;s:13:\"resultsOffset\";i:3400;s:21:\"resultsTotalAvailable\";i:3402;}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"resultLimit\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  number of items returned in the results. This is the value specified in the ```limit```
  parameter sent to the endpoint. If the parameter was not specified, this defaults
  to 100.\";s:4:\"type\";s:7:\"integer\";}s:12:\"resultOffset\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"The
  number of items skipped before the results were returned. This is the value specified
  in the ```offset``` parameter sent to the endpoint. If the parameter was not specified,
  this defaults to 0.\";s:4:\"type\";s:7:\"integer\";}s:20:\"resultTotalAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"The
  total number of results available for retrieval. The ```offset``` and ```limit```
  properties specify which of the total available results have been returned.\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:12:\"resultOffset\";i:1;s:11:\"resultLimit\";i:2;s:20:\"resultTotalAvailable\";}s:5:\"title\";s:18:\"responsePagination\";s:4:\"type\";s:6:\"object\";}s:16:\"scheduledMessage\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"apiMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  WinSMS API Message Id identifying the SMS message.\";s:7:\"example\";i:2316;s:4:\"type\";s:7:\"integer\";}s:10:\"creditCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:173:\"The
  number of credits deducted from your account for the SMS to this recipient.<br>
  This is the number of credits that will be refunded if you delete this scheduled
  message.\";s:7:\"example\";d:1.3;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"mobileNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  mobile number of the recipient of the SMS message, using the international E164
  (without the plus) format\";s:7:\"example\";s:11:\"27824444444\";s:4:\"type\";s:6:\"string\";}s:17:\"scheduledSendTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  date and time the message is scheduled to be delivered to the recipient, in the
  format YYYYMMDDHHmm.\";s:7:\"example\";i:201812250930;s:4:\"type\";s:7:\"integer\";}s:10:\"submitTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  date and time the message was originally submitted for scheduled delivery, in the
  format YYYYMMDDHHmm.\";s:7:\"example\";i:201712251431;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:5:{i:0;s:12:\"apiMessageId\";i:1;s:12:\"mobileNumber\";i:2;s:10:\"submitTime\";i:3;s:17:\"scheduledSendTime\";i:4;s:10:\"creditCost\";}s:5:\"title\";s:16:\"scheduledMessage\";s:4:\"type\";s:6:\"object\";}s:24:\"scheduledMessageResponse\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":1:{s:17:\"scheduledMessages\";a:2:{i:0;O:8:\"stdClass\":5:{s:12:\"apiMessageId\";i:2316;s:10:\"creditCost\";i:1;s:12:\"mobileNumber\";s:11:\"27444444444\";s:17:\"scheduledSendTime\";i:201712251430;s:10:\"submitTime\";i:201710220850;}i:1;O:8:\"stdClass\":5:{s:12:\"apiMessageId\";i:2317;s:10:\"creditCost\";i:1;s:12:\"mobileNumber\";s:11:\"27555555555\";s:17:\"scheduledSendTime\";i:201712251430;s:10:\"submitTime\";i:201710220850;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"scheduledMessages\";O:8:\"stdClass\":5:{s:11:\"description\";s:92:\"An
  array of scheduledMessage objects containing properties of each unsent scheduled
  message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/scheduledMessage\";}s:8:\"maxItems\";i:1000;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:17:\"scheduledMessages\";}s:5:\"title\";s:24:\"scheduledMessageResponse\";s:4:\"type\";s:6:\"object\";}s:18:\"sendMessageRequest\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":4:{s:11:\"maxSegments\";i:3;s:7:\"message\";s:40:\"Happy
  holidays from all at TelAmeriCorp.\";s:10:\"recipients\";a:3:{i:0;O:8:\"stdClass\":2:{s:15:\"clientMessageId\";s:13:\"clientId-3023\";s:12:\"mobileNumber\";s:11:\"27444444444\";}i:1;O:8:\"stdClass\":1:{s:12:\"mobileNumber\";s:11:\"27555555555\";}i:2;O:8:\"stdClass\":2:{s:15:\"clientMessageId\";s:13:\"clientId-3024\";s:12:\"mobileNumber\";s:12:\"276666666666\";}}s:13:\"scheduledTime\";i:201712251430;}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"maxSegments\";O:8:\"stdClass\":5:{s:7:\"default\";i:1;s:11:\"description\";s:438:\"Optional
  - <p>The maximum <a href=\"https://support.winsms.co.za/rest/GSM\">GSM Encoded segment
  count</a> that the message is allowed to utilise.</p> <p>This defaults to 1, allowing
  for a maximum GSM Encoded message length of 160 characters.</p> <p>The maximum value
  is 6, which allows for a GSM Encoded message length of 918 characters.</p> <p>If
  you intend to send a message longer than 160 characters, this value should be specified.</p>\";s:7:\"maximum\";i:6;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"The
  SMS text to be sent. The text can be a maximum of 918 characters long. If you are
  submitting a message longer than 160 characters, you should change the value of
  \"maxSegments\".\";s:4:\"type\";s:6:\"string\";}s:10:\"recipients\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"An
  array of messageRecipientRequest objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/messageRecipientRequest\";}s:8:\"maxItems\";i:1000;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:13:\"scheduledTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:237:\"Optional
  -<p> The date and time that an SMS should be delivered. If not specified, or is
  set for a date/time prior to now, the SMS message will be sent immediately.</p>
  <p>If specified, this value should have the format YYYYMMDDHHmm.</p>\";s:7:\"example\";i:201712251430;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:7:\"message\";i:1;s:10:\"recipients\";}s:5:\"title\";s:18:\"sendMessageRequest\";s:4:\"type\";s:6:\"object\";}s:19:\"sendMessageResponse\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"recipients\";a:3:{i:0;O:8:\"stdClass\":8:{s:11:\"acceptError\";s:0:\"\";s:8:\"accepted\";b:1;s:12:\"apiMessageId\";i:2316;s:15:\"clientMessageId\";s:13:\"clientId-3023\";s:10:\"creditCost\";i:1;s:12:\"mobileNumber\";s:11:\"27444444444\";s:16:\"newCreditBalance\";d:188.59999999999999;s:13:\"scheduledTime\";i:201712251430;}i:1;O:8:\"stdClass\":7:{s:11:\"acceptError\";s:0:\"\";s:8:\"accepted\";b:1;s:12:\"apiMessageId\";i:2317;s:10:\"creditCost\";i:1;s:12:\"mobileNumber\";s:11:\"27555555555\";s:16:\"newCreditBalance\";d:187.59999999999999;s:13:\"scheduledTime\";i:201712251430;}i:2;O:8:\"stdClass\":6:{s:11:\"acceptError\";s:7:\"BADDEST\";s:8:\"accepted\";b:0;s:15:\"clientMessageId\";s:13:\"clientId-3024\";s:10:\"creditCost\";i:0;s:12:\"mobileNumber\";s:12:\"276666666666\";s:16:\"newCreditBalance\";d:187.59999999999999;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"recipients\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"An
  array of messageRecipientResponse objects\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/messageRecipientResponse\";}s:8:\"maxItems\";i:1000;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:10:\"recipients\";}s:5:\"title\";s:19:\"sendMessageResponse\";s:4:\"type\";s:6:\"object\";}s:16:\"shortcodeMessage\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"incomingApiMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  unique API message id assigned to this incoming message.\";s:7:\"example\";i:58324;s:4:\"type\";s:6:\"number\";}s:11:\"messageText\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  text of the incoming SMS message.\";s:7:\"example\";s:37:\"Hello, I'm responding
  to your advert.\";s:4:\"type\";s:6:\"string\";}s:12:\"mobileNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  mobile number that sent the SMS message, displayed using the international E164
  (without the plus) format\";s:7:\"example\";s:11:\"27444444444\";s:4:\"type\";s:6:\"string\";}s:11:\"receiveTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  date and time the message was received by WinSMS, in the format YYYYMMDDHHmm.\";s:7:\"example\";i:201707270952;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:20:\"incomingApiMessageId\";i:1;s:12:\"mobileNumber\";i:2;s:11:\"receiveTime\";i:3;s:11:\"messageText\";}s:5:\"title\";s:16:\"shortcodeMessage\";s:4:\"type\";s:6:\"object\";}s:24:\"shortcodeMessageResponse\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":1:{s:17:\"shortcodeMessages\";a:2:{i:0;O:8:\"stdClass\":4:{s:20:\"incomingApiMessageId\";i:58324;s:11:\"messageText\";s:7:\"Win
  Big\";s:12:\"mobileNumber\";s:11:\"27444444444\";s:11:\"receiveTime\";i:201707252208;}i:1;O:8:\"stdClass\":4:{s:20:\"incomingApiMessageId\";i:58336;s:11:\"messageText\";s:14:\"Savings
  for me\";s:12:\"mobileNumber\";s:11:\"27555555555\";s:11:\"receiveTime\";i:201707270952;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"shortcodeMessages\";O:8:\"stdClass\":5:{s:11:\"description\";s:113:\"An
  array of shortcodeMessage objects containing properties of each incoming shortcode
  message received by WinSMS.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/shortcodeMessage\";}s:8:\"maxItems\";i:1000;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:17:\"shortcodeMessages\";}s:5:\"title\";s:24:\"shortcodeMessageResponse\";s:4:\"type\";s:6:\"object\";}s:10:\"subAccount\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"accountNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  WinSMS account number of the Sub Account. This is supplied as an integer, without
  the leading 'W' displayed in the WinSMS Client Zone.\";s:7:\"example\";i:58324;s:4:\"type\";s:7:\"integer\";}s:13:\"creditBalance\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  remaining credit balance for the Sub Account.\";s:7:\"example\";d:201.40000000000001;s:4:\"type\";s:6:\"number\";}s:9:\"firstName\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  first name of the user that the Sub Account is registered to.\";s:7:\"example\";s:3:\"Jon\";s:4:\"type\";s:7:\"integer\";}s:9:\"loginName\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  login name of the user that the Sub Account is registered to.\";s:7:\"example\";s:19:\"jon@castleblack.com\";s:4:\"type\";s:6:\"string\";}s:7:\"surname\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  surname of the user that the Sub Account is registered to.\";s:7:\"example\";s:4:\"Snow\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:13:\"accountNumber\";i:1;s:9:\"loginName\";i:2;s:9:\"firstName\";i:3;s:7:\"surname\";}s:5:\"title\";s:10:\"subAccount\";s:4:\"type\";s:6:\"object\";}s:23:\"subAccountsListResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"subAccounts\";a:2:{i:0;O:8:\"stdClass\":5:{s:13:\"accountNumber\";i:58324;s:13:\"creditBalance\";d:201.40000000000001;s:9:\"firstName\";s:3:\"Jon\";s:9:\"loginName\";s:19:\"jon@castleblack.com\";s:7:\"surname\";s:4:\"Snow\";}i:1;O:8:\"stdClass\":5:{s:13:\"accountNumber\";i:98676;s:13:\"creditBalance\";i:1936;s:9:\"firstName\";s:8:\"Daenerys\";s:9:\"loginName\";s:8:\"khaleesi\";s:7:\"surname\";s:9:\"Targaryen\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"subAccounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"An
  array of subAccount objects containing properties of each Sub Account owned by the
  Main Account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/subAccount\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:23:\"subAccountsListResponse\";s:4:\"type\";s:6:\"object\";}}"
...
