---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:11:\"Infermedica\";}s:11:\"description\";s:89:\"Empower
  your healthcare services with intelligent diagnostic insights of Infermedica API.\";s:5:\"title\";s:11:\"Infermedica\";s:7:\"version\";s:2:\"v2\";s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#1576D1\";s:3:\"url\";s:84:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_Infermedica_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:43:\"https://api.infermedica.com/v2/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"infermedica.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"infermedica\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.infermedica.com
basePath: /v2
paths:
  /conditions:
    get:
      description: Returns a list of all available conditions.
      operationId: getAllConditions
      parameters: []
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/Condition'
            type: array
      summary: List all conditions
      tags:
      - conditions
  /conditions/{id}:
    get:
      description: Returns details of a single condition specified by id parameter.
      operationId: getCondition
      parameters:
      - description: condition id
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Condition'
        400:
          description: Invalid id specified
        404:
          description: Condition not found
      summary: Get condition by id
      tags:
      - conditions
  /diagnosis:
    post:
      consumes:
      - application/json
      description: Suggests possible diagnoses and relevant observations based on
        provided patient information.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DiagnosisRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DiagnosisResponse'
      summary: Query diagnostic engine
      tags:
      - diagnosis
      operationId: diagnosis.post
  /explain:
    post:
      consumes:
      - application/json
      description: Explains which evidence impact probability of selected condition.
      operationId: getExplanation
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ExplanationRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ExplanationResponse'
      summary: Query diagnostic engine for explanation
      tags:
      - explain
  /info:
    get:
      description: Returns information about data used by diagnostic engine.
      operationId: getDatabaseInfo
      parameters: []
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Info'
      summary: Get database information
      tags:
      - info
  /lab_tests:
    get:
      description: Returns a list of all available lab tests.
      operationId: getAllLabTests
      parameters: []
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/LabTest'
            type: array
      summary: List all lab tests
      tags:
      - lab_tests
  /lab_tests/{id}:
    get:
      description: Returns details of a single lab test specified by id parameter.
      operationId: getLabTest
      parameters:
      - description: lab test id
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/LabTest'
        400:
          description: Invalid id specified
        404:
          description: Lab test not found
      summary: Get lab test by id
      tags:
      - lab_tests
  /lookup:
    get:
      description: Returns a single observation matching given phrase.
      operationId: getMatchingObservation
      parameters:
      - description: phrase to match
        in: query
        name: phrase
        required: true
        type: string
      - description: sex filter
        enum:
        - male
        - female
        in: query
        name: sex
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SearchResult'
        400:
          description: Phrase missing or invalid sex specified
        404:
          description: No observation matches given phrase
      summary: Find observation matching given phrase
      tags:
      - lookup
  /parse:
    post:
      consumes:
      - application/json
      description: Returns list of mentions of observation found in given text.
      operationId: getMentions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ParseRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ParseResponse'
        400:
          description: Text too long
      summary: Find mentions of observations in given text
      tags:
      - parse
  /risk_factors:
    get:
      description: Returns a list of all available risk factors.
      operationId: getAllRiskFactors
      parameters: []
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/RiskFactor'
            type: array
      summary: List all risk factors
      tags:
      - risk_factors
  /risk_factors/{id}:
    get:
      description: Returns details of a single risk factor specified by id parameter.
      operationId: getRiskFactor
      parameters:
      - description: risk factor id
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/RiskFactor'
        400:
          description: Invalid id specified
        404:
          description: Risk factor not found
      summary: Get risk factor by id
      tags:
      - risk_factors
  /search:
    get:
      description: Returns list of observations matching the given phrase.
      operationId: getMatchingObservations
      parameters:
      - description: phrase to match
        in: query
        name: phrase
        required: true
        type: string
      - description: sex filter
        enum:
        - male
        - female
        in: query
        name: sex
        required: false
        type: string
      - default: 8
        description: maximum number of results
        format: int32
        in: query
        name: max_results
        required: false
        type: integer
      - collectionFormat: multi
        description: type of results
        in: query
        items:
          enum:
          - symptom
          - risk_factor
          - lab_test
          type: string
        name: type
        required: false
        type: array
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/SearchResult'
            type: array
        400:
          description: Phrase missing or invalid sex specified
      summary: Find observations matching given phrase
      tags:
      - search
  /suggest:
    post:
      consumes:
      - application/json
      description: Suggests possible symptoms based on provided patient information.
      operationId: getSuggestions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/SuggestRequest'
      - default: 8
        description: maximum number of results
        format: int32
        in: query
        name: max_results
        required: false
        type: integer
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/SuggestResult'
            type: array
      summary: Query diagnostic engine for related symptoms
      tags:
      - suggest
  /symptoms:
    get:
      description: Returns a list of all available symptoms.
      operationId: getAllSymptoms
      parameters: []
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/Symptom'
            type: array
      summary: List all symptoms
      tags:
      - symptoms
  /symptoms/{id}:
    get:
      description: Returns details of a single symptom specified by id parameter.
      operationId: getSymptom
      parameters:
      - description: symptoms id
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Symptom'
        400:
          description: Invalid id specified
        404:
          description: symptom not found
      summary: Get symptoms by id
      tags:
      - symptoms
  /triage:
    post:
      consumes:
      - application/json
      description: Estimates triage level based on provided patient information.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DiagnosisRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TriageResponse'
      summary: Query diagnostic engine for triage level
      tags:
      - triage
      operationId: triage.post
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:6:\"Choice\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"present\";i:1;s:6:\"absent\";i:2;s:7:\"unknown\";}s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:5:\"label\";}s:4:\"type\";s:6:\"object\";}s:9:\"Condition\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"acuteness\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"chronic\";i:1;s:26:\"chronic_with_exacerbations\";i:2;s:25:\"acute_potentially_chronic\";i:3;s:5:\"acute\";}s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"common_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"extras\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:52:\"additional
  content, like custom properties or images\";s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"prevalence\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:9:\"very_rare\";i:1;s:4:\"rare\";i:2;s:8:\"moderate\";i:3;s:6:\"common\";}s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"mild\";i:1;s:8:\"moderate\";i:2;s:6:\"severe\";}s:4:\"type\";s:6:\"string\";}s:10:\"sex_filter\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"both\";i:1;s:4:\"male\";i:2;s:6:\"female\";}s:4:\"type\";s:6:\"string\";}s:12:\"triage_level\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"emergency\";i:1;s:12:\"consultation\";i:2;s:9:\"self_care\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:10:\"categories\";i:1;s:2:\"id\";i:2;s:4:\"name\";i:3;s:10:\"sex_filter\";}s:4:\"type\";s:6:\"object\";}s:20:\"ConditionProbability\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"common_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"condition
  common name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"condition
  id\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"condition
  name\";s:4:\"type\";s:6:\"string\";}s:11:\"probability\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:11:\"probability\";}s:4:\"type\";s:6:\"object\";}s:16:\"DiagnosisRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"age\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"evaluated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"time
  when diagnosis was evaluated in ISO 8601 format\";s:4:\"type\";s:6:\"string\";}s:8:\"evidence\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Evidence\";}s:4:\"type\";s:5:\"array\";}s:6:\"extras\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:3:\"sex\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"male\";i:1;s:6:\"female\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:3:\"age\";i:1;s:3:\"sex\";}s:4:\"type\";s:6:\"object\";}s:17:\"DiagnosisResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"conditions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ConditionProbability\";}s:4:\"type\";s:5:\"array\";}s:6:\"extras\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:8:\"question\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Question\";}s:11:\"should_stop\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Evidence\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"choice_id\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"present\";i:1;s:6:\"absent\";i:2;s:7:\"unknown\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"id
  of observation or condition\";s:4:\"type\";s:6:\"string\";}s:7:\"initial\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:71:\"true
  for initial evidence, false for evidence reported during interview\";s:4:\"type\";s:7:\"boolean\";}s:11:\"observed_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"time
  when evidence was observed in ISO 8601 format\";s:4:\"type\";s:6:\"string\";}s:7:\"related\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:71:\"true
  for related evidence, false for evidence reported during interview\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:9:\"choice_id\";i:1;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:19:\"ExplanationEvidence\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"common_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"observation
  common name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"observation
  id\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"observation
  name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:18:\"ExplanationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"age\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"evaluated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"time
  when diagnosis was evaluated in ISO 8601 format\";s:4:\"type\";s:6:\"string\";}s:8:\"evidence\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Evidence\";}s:4:\"type\";s:5:\"array\";}s:6:\"extras\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:3:\"sex\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"male\";i:1;s:6:\"female\";}s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"target
  condition id\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"age\";i:1;s:3:\"sex\";i:2;s:6:\"target\";}s:4:\"type\";s:6:\"object\";}s:19:\"ExplanationResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"conflicting_evidence\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"conflicting
  evidence\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ExplanationEvidence\";}s:4:\"type\";s:5:\"array\";}s:19:\"supporting_evidence\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"supporting
  evidence\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ExplanationEvidence\";}s:4:\"type\";s:5:\"array\";}s:20:\"unconfirmed_evidence\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"unconfirmed
  evidence\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ExplanationEvidence\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:20:\"conflicting_evidence\";i:1;s:19:\"supporting_evidence\";i:2;s:20:\"unconfirmed_evidence\";}s:4:\"type\";s:6:\"object\";}s:4:\"Info\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"conditions_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"lab_tests_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"risk_factors_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"symptoms_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"time
  of last model update in ISO 8601 format\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:16:\"conditions_count\";i:1;s:15:\"lab_tests_count\";i:2;s:18:\"risk_factors_count\";i:3;s:14:\"symptoms_count\";i:4;s:10:\"updated_at\";}s:4:\"type\";s:6:\"object\";}s:7:\"LabTest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"common_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LabTestResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:13:\"LabTestResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:8:\"very_low\";i:1;s:3:\"low\";i:2;s:6:\"normal\";i:3;s:4:\"high\";i:4;s:9:\"very_high\";i:5;s:6:\"absent\";i:6;s:7:\"present\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:18:\"ObservationMention\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"choice_id\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"present\";i:1;s:6:\"absent\";i:2;s:7:\"unknown\";}s:4:\"type\";s:6:\"string\";}s:11:\"common_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"observation
  common name\";s:4:\"type\";s:6:\"string\";}s:13:\"head_position\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"observation
  id\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"observation
  name\";s:4:\"type\";s:6:\"string\";}s:4:\"orth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"positions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:6:{i:0;s:9:\"choice_id\";i:1;s:13:\"head_position\";i:2;s:2:\"id\";i:3;s:4:\"name\";i:4;s:4:\"orth\";i:5;s:9:\"positions\";}s:4:\"type\";s:6:\"object\";}s:12:\"ParseRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"concept_types\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"list
  of concept types that should be captured\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"symptom\";i:1;s:11:\"risk_factor\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"context\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"ordered
  list of ids of present symptoms that were already captured and can be used as context\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"correct_spelling\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:53:\"correct
  spelling of input text before proper analysis\";s:4:\"type\";s:7:\"boolean\";}s:14:\"include_tokens\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:38:\"include
  tokenization details in output\";s:4:\"type\";s:7:\"boolean\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"user
  text to process\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}s:13:\"ParseResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"mentions\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"list
  of recognized symptom or risk factor mentions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ObservationMention\";}s:4:\"type\";s:5:\"array\";}s:7:\"obvious\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:79:\"indicates
  that entire input text has been parsed successfully and unambiguously\";s:4:\"type\";s:7:\"boolean\";}s:6:\"tokens\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:8:\"mentions\";i:1;s:7:\"obvious\";}s:4:\"type\";s:6:\"object\";}s:8:\"Question\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"extras\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:39:\"additional
  content, like images or HTML\";s:4:\"type\";s:6:\"object\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"one
  or more observations to evaluate\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/QuestionItem\";}s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"question
  text\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"single\";i:1;s:12:\"group_single\";i:2;s:14:\"group_multiple\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"items\";i:1;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}s:12:\"QuestionItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"choices\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"list
  of available answer choices\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Choice\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"observation
  id\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"name
  or alias of observation\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:7:\"choices\";i:1;s:2:\"id\";i:2;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:10:\"RiskFactor\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"common_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"extras\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:52:\"additional
  content, like custom properties or images\";s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"image_source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"question\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"only
  available in object details, not in listing\";s:4:\"type\";s:6:\"string\";}s:10:\"sex_filter\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"both\";i:1;s:4:\"male\";i:2;s:6:\"female\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:8:\"question\";i:3;s:10:\"sex_filter\";}s:4:\"type\";s:6:\"object\";}s:12:\"SearchResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"matched
  phrase, name or its synonym\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:5:\"label\";}s:4:\"type\";s:6:\"object\";}s:18:\"SeriousObservation\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"common_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"observation
  common name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"observation
  id\";s:4:\"type\";s:6:\"string\";}s:12:\"is_emergency\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"observation
  name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:14:\"SuggestRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"age\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"evaluated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"time
  when diagnosis was evaluated in ISO 8601 format\";s:4:\"type\";s:6:\"string\";}s:8:\"evidence\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Evidence\";}s:4:\"type\";s:5:\"array\";}s:6:\"extras\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:3:\"sex\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"male\";i:1;s:6:\"female\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SuggestResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"common_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:7:\"Symptom\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"children\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"list
  of child symptoms\";s:4:\"type\";s:6:\"object\";}s:11:\"common_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"extras\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:52:\"additional
  content, like custom properties or images\";s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"image_source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"id
  of parent symptom\";s:4:\"type\";s:6:\"string\";}s:15:\"parent_relation\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"type
  of relation with parent symptom\";s:4:\"enum\";a:8:{i:0;s:4:\"base\";i:1;s:8:\"duration\";i:2;s:8:\"severity\";i:3;s:9:\"character\";i:4;s:19:\"exacerbating_factor\";i:5;s:18:\"diminishing_factor\";i:6;s:8:\"location\";i:7;s:9:\"radiation\";}s:4:\"type\";s:6:\"string\";}s:8:\"question\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"only
  available in object details, not in listing\";s:4:\"type\";s:6:\"string\";}s:10:\"sex_filter\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"both\";i:1;s:4:\"male\";i:2;s:6:\"female\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:8:\"question\";i:3;s:10:\"sex_filter\";}s:4:\"type\";s:6:\"object\";}s:14:\"TriageResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"serious\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SeriousObservation\";}s:4:\"type\";s:5:\"array\";}s:12:\"triage_level\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"emergency\";i:1;s:12:\"consultation\";i:2;s:9:\"self_care\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
