---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:14:\"SimplyRETS
  API\";s:11:\"description\";s:2428:\"The SimplyRETS API is an exciting step towards
  making it easier for\ndevelopers and real estate agents to build something awesome
  with\nreal estate data!\n\nThe documentation below makes live requests to our API
  using the trial\ndata. To get set up with the API using live RETS data, you must
  have\nRETS credentials from your RETS vendor or MLS, which you can then use\nto
  create an app with SimplyRETS. For more information on that\nprocess, please see
  our [Getting\nStarted Guide](https://simplyrets.com/blog/getting-set-up.html), [FAQ](https://simplyrets.com/faq),
  or\n[contact us](https://simplyrets.com/\\#home-contact).\n\nBelow you'll find the
  API endpoints, query parameters, response bodies,\nand other information about using
  the SimplyRETS API. You can run\nqueries by clicking the 'Try it Out' button at
  the bottom of each\nsection. Check out the [help topics](/#topics) for more tips
  and examples on things like [IDX compliance features](/topics/fields-and-features-for-idx-compliance)
  and [versioning API requests](/topics/versioning-api-requests-with-media-types).\n\n###
  Authentication\nThe SimplyRETS API uses Basic Authentication. When you create an\napp,
  you'll get a set of API credentials to access your\nlistings. If you're trying out
  the test data, you can use\n`simplyrets:simplyrets` for connecting to the API.\n\n###
  Pagination\n\nTo paginate through listings, start your query with these\nparameters:
  'limit=500&lastId=0'. The 'lastId' is the important\npart, you can use any limit
  up to 500. When you receive the\nresponse from the API with the results, check the
  'Link' header for\nthe 'next' link. That link is pre-built to access the next 'page'\nof
  listings. Alternatively, you can use the last listing's 'mlsId'\nfrom the previous
  request and use that in the next query. For\nexample:\n\nFirst query:\n\ncurl -u
  username:password 'https://api.simplyrets.com/properties?limit=500&lastId=0'\n\nIf
  the 'mlsId' in the last listing of the results is '1234567', then the next query
  will be:\n\ncurl -u username:password 'https://api.simplyrets.com/properties?limit=500&lastId=1234567'\n\n...and
  so one until you have reached the final page of listings.\n\nThere a few pieces
  of useful information about each request stored\nin the HTTP Headers:\n\n- `X-Total-Count`
  shows you the total amount of listings that match\n  your current query.\n- `Link`
  contains pre-built pagination links for accessing the next\n'page' of listings that
  match your query.\n\n\";}"
host: api.simplyrets.com
basePath: /
paths: ~
produces:
- application/json
- application/vnd.simplyrets-v0.1+json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:4:\"Room\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:10:\"Sales
  Data\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"length\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"features\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"A
  set of features in the room.\";}s:4:\"area\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:58:\"The
  area of the room in units provided by the RETS vendor.\";}s:5:\"width\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"typeText\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"Entire
  raw value of of the room `Type` data provided in the\nRETS feed.\n\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  `RoomType` RESO Data Dictionary 1.6 type.\";}s:10:\"dimensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Room
  dimension textual value.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"A
  description of the room.\";}}}s:13:\"StreetAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"RETS
  Street Address\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"crossStreet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Known
  cross street\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"State
  or province. Maps to the data dictionary field `StateOrProvince`.\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Street
  address country (United States or Canada)\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Street
  Address postal code\";}s:10:\"streetName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of the street\";}s:16:\"streetNumberText\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:250:\"Textual
  representation of the street number. This field\nis usually redundant with what's
  in `streetNumber` but is\noccassionally usefuly for street number which are actually\nalpha-numerical.
  For example, \"N63453\" or \"34556B\".\n\n**Added on 2016/05/02**\n\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"City
  name\";}s:12:\"streetNumber\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:13:\"Street
  number\";}s:4:\"full\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Full
  pretty-printed address with suffix (if available)\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Unit
  number\";}}}s:8:\"Property\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"Rets
  Listing Property\";s:10:\"properties\";O:8:\"stdClass\":40:{s:5:\"rooms\";O:8:\"stdClass\":2:{s:6:\"schema\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Room\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:383:\"A
  comprehensive list of rooms. Room data is not included in the\nstandard payload.
  \ Use `include=rooms` in your query to include\nroom data. If the list of rooms
  is empty, your RETS vendor may\nnot supply this information with your RETS feed.\n\nThis
  data is populated from 2 sources:\n\n  1. Inline room mappings in the `Property`
  resource\n\n  2. In an external RETS resource (e.g. `Room`)\n\";}s:4:\"roof\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Property
  roof description\";}s:7:\"cooling\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"A
  description of the cooling or air conditioning features of the property.\";}s:5:\"style\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Property
  style description or short string\";}s:4:\"area\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:56:\"Square
  footage of the building associated with a listing\";}s:9:\"bathsFull\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Number
  of full bathrooms\";}s:9:\"bathsHalf\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Number
  of half bathrooms\";}s:7:\"stories\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:84:\"Number
  of stories or levels. Represented as a `double' to\naccount for half stories.\n\";}s:10:\"fireplaces\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:20:\"Number
  of fireplaces\";}s:8:\"flooring\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  type(s) of flooring found within the property.\";}s:7:\"heating\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Heating
  description or short string\";}s:10:\"foundation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"poolFeatures\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"laundryFeatures\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"occupantName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ownerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"lotDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"lotSizeAcres\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:80:\"Lot
  size in acres\n\n**Added on 2016/05/04 - Not available for all RETS vendors**\n\";}s:7:\"subType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:14:{i:0;s:9:\"Apartment\";i:1;s:8:\"BoatSlip\";i:2;s:21:\"SingleFamilyResidence\";i:3;s:13:\"DeededParking\";i:4;s:5:\"Cabin\";i:5;s:11:\"Condominium\";i:6;s:6:\"Duplex\";i:7;s:16:\"ManufacturedHome\";i:8;s:10:\"Quadruplex\";i:9;s:16:\"StockCooperative\";i:10;s:9:\"Townhouse\";i:11;s:9:\"Timeshare\";i:12;s:7:\"Triplex\";i:13;s:18:\"ManufacturedOnLand\";}s:11:\"description\";s:54:\"A
  normalized representation of the listings sub-type.\n\";}s:8:\"bedrooms\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:18:\"Number
  of bedrooms\";}s:16:\"interiorFeatures\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  properties interior features\";}s:7:\"lotSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"Lot
  size dimensions or square footage as a text. This\nfield is generally used to show
  the pretty formatted\nlot size.\n\";}s:10:\"areaSource\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"maintenanceExpense\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:26:\"Yearly
  maintenance expense\";}s:15:\"additionalRooms\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"Additional
  room information. This is a textual description\nof additional rooms for the listing.\n\";}s:16:\"exteriorFeatures\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Exterior
  Features for the listing\n\";}s:5:\"water\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:236:\"The
  name, if known, of the body of water on which the\nproperty is located. (E.g., lake
  name, river name, ocean\nname, sea name, canal name). Otherwise, this field will\ncontain
  features of the waterfront on which the property is\nlocated.\n\";}s:4:\"view\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"View
  details and description\";}s:11:\"lotSizeArea\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:181:\"The
  total area of the lot.  See `lotSizeUnits` for the units\nof measurement (Square
  Feet, Square Meters, Acres, etc.).\n\n**Added on 2016/05/04 - Not available for
  all RETS vendors**\n\";}s:11:\"subdivision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  subdivision or community name\";}s:12:\"construction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  materials that were used in the construction of the property.\";}s:10:\"subTypeRaw\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  raw text representation of the property sub type.\n\";}s:7:\"parking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Parking\";}s:16:\"lotSizeAreaUnits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:254:\"Unit
  of measurement for the lotSizeArea field.  e.g. Square\nFeet, Square Meters, Acres,
  etc.\n\nIf this field is `null` the units is the default unit\nof measure specified
  by your RETS provider.\n\n**Added on 2016/05/04 - Not available for all RETS vendors**\n\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:3:\"RES\";i:1;s:3:\"CND\";i:2;s:3:\"RNT\";i:3;s:3:\"MLF\";i:4;s:3:\"CRE\";i:5;s:3:\"LND\";i:6;s:3:\"FRM\";}s:11:\"description\";s:206:\"Abbreviated
  property type. RES is Residential, CND is CondoOrTownhome,\nRNT is Rental, MLF is
  Multi-Family, CRE is Commercial, LND is Land,\nFRM is Farm. See the `propertySubType`
  field for more information.\n\";}s:12:\"garageSpaces\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:23:\"Number
  of garage spaces\";}s:17:\"bathsThreeQuarter\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"Number
  of 3/4 bathrooms\";}s:13:\"accessibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"occupantType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"yearBuilt\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:27:\"Year
  the property was built\";}}}s:7:\"Listing\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"RETS
  Listing Property\";s:10:\"properties\";O:8:\"stdClass\":26:{s:14:\"privateRemarks\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Agent
  only remarks\";}s:8:\"property\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Property\";s:11:\"description\";s:47:\"Specific
  property data associated with listing.\";}s:5:\"mlsId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:590:\"A
  unique identifier for this listing specific to the\nSimplyRETS API. Thie identifier
  is specific to the\nSimplyRETS api and has no correlation with the MLS\nnumber.
  Use this id when making requests to the single\nlisting endpoint (eg, `/properties/{mlsId}`).\n\nApplications
  should not rely on specific `mlsId`s being\npresent. Instead, apps should dynamically
  use the `mlsId`\nafter using other more general query parameters. Many mls\nvendors
  require listings which are expired, terminated or\nsold to be purged, which will
  render calls to specific\n`mlsId`s to return nothing (or possibly a 404).\n\";}s:19:\"showingInstructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Public
  instructions for showing the property.\";}s:18:\"showingContactName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  name of the contact for the showing of the listed property.\";}s:19:\"showingContactPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"Telephone
  number that should be called to arrange showing the property.\";}s:6:\"office\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Office\";s:11:\"description\";s:28:\"Listing
  office or brokerage.\";}s:9:\"leaseTerm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Represents
  the length of the lease.\";}s:10:\"disclaimer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"Data
  accuracy disclaimer. The value in the disclaimer may\nchange depending on the rules
  imposed by your RETS vendors.\n\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StreetAddress\";s:11:\"description\";s:42:\"Comprehensive
  property address information\";}s:8:\"listDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Date
  and time the listing became Active\";}s:5:\"agent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Agent\";s:11:\"description\";s:39:\"Comprehensive
  listing agent information\";}s:8:\"modified\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Date
  and time of the last modification\";}s:6:\"school\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/School\";s:11:\"description\";s:30:\"Comprehensive
  school zone data\";}s:6:\"photos\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"Photos
  of the property. Images are served over https and are\nsuitable for production use
  on secure websites\n\";}s:9:\"listPrice\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:20:\"Price
  of the listing\";}s:9:\"listingId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:263:\"Data
  Dictionary v1.3 ListingId. The well known identifier for\nthe listing. The value
  is the id or number by the RETS vendor\nas a public identifier for the listing.\n\nThis
  identifier should not be confused with the `mlsId`, which is\nspecific to the SimplyRETS
  API.\n\";}s:3:\"mls\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MlsInformation\";s:11:\"description\";s:32:\"RETS
  vendor information and data\";}s:3:\"geo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GeographicData\";s:11:\"description\";s:31:\"Geographic
  data for the listing\";}s:3:\"tax\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";s:11:\"description\";s:18:\"Associate
  tax data\";}s:7:\"coAgent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Agent\";s:11:\"description\";s:169:\"co-listing
  agent information.\n\n*NOTE*: If your RETS feed stores co-list information outside\nof
  the `Property` resource, co-list agent information will not\nbe available.\n\";}s:5:\"sales\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Sales\";s:11:\"description\";s:10:\"Sales
  data\";}s:9:\"leaseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Information
  about the status of the existing lease on the property.\";}s:14:\"virtualTourUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"The
  URL for an unbranded virtual tour of the property.\n\n**Added on 2016/05/04 - Not
  available for all RETS vendors**\n\";}s:7:\"remarks\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Description
  or remarks\";}s:11:\"association\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Association\";}}}s:9:\"OpenHouse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"SimplyRETS
  Open House object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"refreshments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Provided\";}s:7:\"listing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Listing\";s:11:\"description\";s:46:\"The
  full listing associated with the OpenHouse\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Start
  Date for the open house\";}s:7:\"inputId\";O:8:\"stdClass\":1:{s:11:\"description\";s:96:\"The
  MLS number for the showing agent or agent which created the\nOpenHouse in the RETS
  database.\n\";}s:12:\"openHouseKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:79:\"A
  unique identifier for the open house which is specific to the\nSimplyRETS API\n\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  ending date time for the open house\";}s:11:\"openHouseId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  MLS number or id provided by the RETS vendor or MLS.\n\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  open house type. For example, Public or Private\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  remarks and/or description details for the open house\";}}}s:6:\"Office\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:11:\"RETS
  Office\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContactInformation\";s:11:\"description\";s:194:\"Associated
  contact details for the office. The availability of this\ninformation depends on
  your RETS vendor's rules and regulations\n\n*Contact information is not available
  for all RETS Vendors.*\n\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Pimary
  office name\";}s:11:\"servingName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Primary
  office or brokerage name\";}s:8:\"brokerid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Office
  or brokerage MLS identifier\n\n**Not available for all RETS vendors**\n\";}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"Error
  information\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:114:\"Error
  code. In general, we try to adhere to HTTP status code\nand use these error statuses
  for detailed reporting.\n\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Status
  message with an explanation of the error\";}}}s:5:\"Agent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:20:\"SimplyRETS
  Agent Api\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Agent
  last name\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContactInformation\";s:11:\"description\";s:206:\"Agent
  contact info. This information is only present when\nyour RETS feed specifies the
  agent wishes to show their\ncontact information publicly.\n\n*Contact information
  is not available for all RETS Vendors.*\n\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Agent
  first name\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Well
  known Agent MLS number or id.\";}}}s:6:\"School\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:16:\"RETS
  School Data\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"middleSchool\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Middle
  or junior school name\";}s:10:\"highSchool\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"High
  school name\";}s:16:\"elementarySchool\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Elementary
  school name.\";}s:8:\"district\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"School
  district name.\";}}}s:18:\"ContactInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:24:\"RETS
  Contact Information\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"The
  email address of the `ContactInformation`\n\n**Not available for all RETS vendors**\n\";}s:6:\"office\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Contact
  Information Office Phone Number\n\n**Not available for all RETS vendors**\n\";}s:4:\"cell\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"Contact
  Information Cell Phone\n\n**Not available for all RETS vendors**\n\";}}}s:3:\"Tax\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:13:\"RETS
  Tax Data\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"taxYear\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:8:\"Tax
  Year\";}s:15:\"taxAnnualAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Annual
  tax amount in USD\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Tax
  Parcel ID for the listing\";}}}s:7:\"Parking\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:16:\"RETS
  School Data\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"leased\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"spaces\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Number
  of parking spaces\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Parking
  features description\";}}}s:5:\"Sales\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:10:\"Sales
  Data\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"closeDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"RETS
  Sales data close date\";}s:6:\"office\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"RETS
  Sales data selling office/brokerage id\";}s:10:\"closePrice\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"RETS
  Sales data sold price\";}s:5:\"agent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"RETS
  Sales data agent id\";}s:12:\"contractDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"RETS
  Sales data contract date\";}}}s:14:\"GeographicData\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:20:\"RETS
  Geographic Data\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"county\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Listing
  county\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:31:\"Listing
  latitude (if available)\";}s:3:\"lng\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"Listing
  longitude (if available)\";}s:10:\"marketArea\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Listing
  GeoMarket area. May be the same as mlsArea\";}s:10:\"directions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Directions
  to the property\";}}}s:6:\"Broker\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"SimplyRETS
  Broker Api\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"startdate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Start
  Date\";}}}s:14:\"MlsInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:16:\"RETS
  Vendor Data\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:10:{i:0;s:6:\"Active\";i:1;s:34:\"ActiveUnderContract
  (Backup-Offer)\";i:2;s:7:\"Pending\";i:3;s:4:\"Hold\";i:4;s:9:\"Withdrawn\";i:5;s:6:\"Closed\";i:6;s:7:\"Expired\";i:7;s:6:\"Delete\";i:8;s:10:\"Incomplete\";i:9;s:10:\"ComingSoon\";}s:11:\"description\";s:1479:\"\nNormalized
  [RESO Data Dictionary 1.6]() standard status value. Compliant with data dictionary\nv1.6
  `ListingStatus`. Listing status availability depends on your RETS vendor's\navailability.
  Below is a brief description of each status\nwith possible synonyms which may map
  to your MLS-specific\nstatuses\n\n- Active: Active Listing which is still on the
  market\n- ActiveUnderContract: An offer has been accepted but the listing is still
  on market. Synonyms: Accepting Backup Offers, Backup Offer, Active With Accepted.
  Synonyms: Offer, Backup, Contingent\n- Pending: An offer has been accepted and the
  listing is no longer on market. Synonyms: Offer Accepted, Under Contract\n- Hold:
  The listing has been withdrawn from the market, but a contract\n  still exists between
  the seller and the listing member. Synonyms: Hold, Hold Do Not Show, Temp Off Market\n-
  Withdrawn: The listing has been withdrawn from the market, but a contract\n  still
  exists between the seller and the listing member. Synonyms: Hold, Hold Do Not Show,
  Temp Off Market\n- Closed: The purchase agreement has been fulfilled or the lease\n
  \ agreement has been executed. Synonyms: Sold, Leased, Rented, Closed Sale\n- Expired:
  The listing contract has expired\n- Delete: The listing contract was never valid
  or other reason for the contract to be nullified. Synonyms: Kill, Zap\n- Incomplete:
  The listing has not yet be completely entered and is not yet\n  published in the
  MLS. Synonyms: Draft, Partially Complted\n- ComingSoon\n\";}s:4:\"area\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"MLS
  Area major. The major marketing area name, as defined by the MLS or other non-governmental
  organization.\";}s:12:\"daysOnMarket\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:43:\"Amount
  of days the property has been Active\";}s:21:\"originatingSystemName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:451:\"Alias
  for the listing office or brokerage\n\nThis field corresponds to the data-dictionary
  `OriginatingSystemName` field\n\nThe name of the originating record provider.  Most
  commonly\nthe name of the MLS. The place where the listing is\noriginally input
  by the member.  The legal name of the\ncompany.  To be used for display.\n\nIf you're
  data provider aggregates feeds from multiple other\nRETS vendors, this will be the
  name of the originating RETS\nvendor.\n\";}s:10:\"statusText\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"Raw
  MLS status text. This `field` comes directly from your RETS data\nfield and is not
  normalized.\n\";}s:9:\"areaMinor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"MLS
  Area minor. The minor/sub marketing area name, as defined by the MLS or other non-governmental
  organization.\";}}}s:11:\"Association\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Home
  Owners Association\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"fee\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:15:\"Association
  fee\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Name
  of the association\";}s:9:\"amenities\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Any
  extra amenities granted by the HOA\";}}}}"
...
