---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:11:\"description\";s:4333:\"The SimplyRETS
  API is an exciting step towards making it easier for\ndevelopers and real estate
  agents to build something awesome with\nreal estate data!\n\nThe documentation below
  makes live requests to our API using the\ntrial data. To get set up with the API
  using live MLS data, you\nmust have RETS credentials from your MLS, which you can
  then use to\ncreate an app with SimplyRETS. For more information on that\nprocess,
  please see our [FAQ](https://simplyrets.com/faq), [Getting\nStarted](https://simplyrets.com/blog/getting-set-up.html)
  page, or\n[contact us](https://simplyrets.com/\\#home-contact).\n\nBelow you'll
  find the API endpoints, query parameters, response bodies,\nand other information
  about using the SimplyRETS API. You can run\nqueries by clicking the 'Try it Out'
  button at the bottom of each\nsection.\n\n### Authentication\nThe SimplyRETS API
  uses Basic Authentication. When you create an\napp, you'll get a set of API credentials
  to access your\nlistings. If you're trying out the test data, you can use\n`simplyrets:simplyrets`
  for connecting to the API.\n\n### Media Types\nThe SimplyRETS API uses the `Accept`
  header to allow clients to\ncontrol media types (content versions). We maintain
  backwards\ncompatibility with API clients by allowing them to specify a\ncontent
  version. We highly recommend setting and explicity media\ntype when your application
  reaches production. Both the structure\nand content of our API response bodies is
  subject to change so we\ncan add new features while respecting the stability of
  applications\nwhich have already been developed.\n\nTo always use the latest SimplyRETS
  content version, simply use\n`application/json` in your application `Accept` header.\n\nIf
  you want to pin your clients media type to a specific version,\nyou can use the
  vendor-specific SimplyRETS media type, e.g.\n`application/vnd.simplyrets-v0.1+json\"`\n\nTo
  view all valid content-types for making an `OPTIONS`, make a\nrequest to the SimplyRETS
  api root\n\n`curl -XOPTIONS -u simplyrets:simplyrets https://api.simplyrets.com/`\n\nThe
  default media types used in our API responses may change in the\nfuture. If you're
  building an application and care about the\nstability of the API, be sure to request
  a specific media type in the\nAccept header as shown in the examples below.\n\nThe
  wordpress plugin automatically sets the `Accept` header for the\ncompatible SimplyRETS
  media types.\n\n### Pagination\n\nTo paginate through listings, start your query
  with these\nparameters: 'limit=500&lastId=0'. The 'lastId' is the important\npart,
  you can use any limit up to 500. When you receive the\nresponse from the API with
  the results, check the 'Link' header for\nthe 'next' link. That link is pre-built
  to access the next 'page'\nof listings. Alternatively, you can use the last listing's
  'mlsId'\nfrom the previous request and use that in the next query. For\nexample:\n\nFirst
  query:\n\ncurl -u username:password 'https://api.simplyrets.com/properties?limit=500&lastId=0'\n\nIf
  the 'mlsId' in the last listing of the results is '1234567', then the next query
  will be:\n\ncurl -u username:password 'https://api.simplyrets.com/properties?limit=500&lastId=1234567'\n\n...and
  so one until you have reached the final page of listings.\n\nThere a few pieces
  of useful information about each request stored\nin the HTTP Headers:\n\n- `X-Total-Count`
  shows you the total amount of listings that match\n  your current query.\n- `Link`
  contains pre-built pagination links for accessing the next\n'page' of listings that
  match your query.\n\n### RETS Vendor Compliance\n\nMany RETS vendors have strict
  requirements for showing disclaimers\nwith specific information embedded. For example,
  in many areas it's\nrequired to show the timestamp of the time the listings were\nrefreshed
  inside a disclaimer or on a listing page.\n\nThe timestamp of the last listing refresh
  timestamp can be found in\none of two spots:\n\n- The `X-SimplyRETS-LastUpdate`
  header from `GET /properties` or `GET /properties/{mlsId}`\n\n- Calling the API
  root `/` or properties api endpoint `/properties`\n  with an OPTIONS request\n\n
  \ - `OPTIONS /`\n\n    This request will show the last update timestamp for all
  RETS\n    vendors associated with your application. Look for the\n    `updates`
  list in the JSON response.\n\n  - `OPTIONS /properties`\n\n    Using this request,
  look for the `lastUpdate` field in the JSON\n    response.\n\";s:5:\"title\";s:10:\"SimplyRETS\";s:7:\"version\";s:5:\"1.0.0\";s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:46:\"https://docs.simplyrets.com/api/resources.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"simplyrets.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"simplyrets\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.simplyrets.com
basePath: /
paths: ~
produces:
- application/json
- application/vnd.simplyrets-v0.1+json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:5:\"Agent\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"SimplyRETS
  Agent Api\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContactInformation\";s:11:\"description\";s:206:\"Agent
  contact info. This information is only present when\nyour RETS feed specifies the
  agent wishes to show their\ncontact information publicly.\n\n*Contact information
  is not available for all RETS Vendors.*\n\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Agent
  first name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Well
  known Agent MLS number or id.\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Agent
  last name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Association\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Home
  Owners Association\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"amenities\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Any
  extra amenities granted by the HOA\";s:4:\"type\";s:6:\"string\";}s:3:\"fee\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Association
  fee\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  of the association\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Broker\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"SimplyRETS
  Broker Api\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"startdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Start
  Date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ContactInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"RETS
  MLS Contact Information\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"cell\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Contact
  Information Cell Phone\n\n**Not available for all RETS vendors**\n\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  email address of the `ContactInformation`\n\n**Not available for all RETS vendors**\n\";s:4:\"type\";s:6:\"string\";}s:6:\"office\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Contact
  Information Office Phone Number\n\n**Not available for all RETS vendors**\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Error
  information\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Error
  code. In general, we try to adhere to HTTP status code\nand use these error statuses
  for detailed reporting.\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Status
  message with an explanation of the error\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"GeographicData\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"RETS
  MLS Geographic Data\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"county\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Listing
  county\";s:4:\"type\";s:6:\"string\";}s:10:\"directions\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Directions
  to the property\";s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Listing
  latitude (if available)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lng\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Listing
  longitude (if available)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"marketArea\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Listing
  GeoMarket area. May be the same as mlsArea\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Listing\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"RETS
  MLS Listing Property\";s:10:\"properties\";O:8:\"stdClass\":24:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StreetAddress\";s:11:\"description\";s:42:\"Comprehensive
  property address information\";}s:5:\"agent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Agent\";s:11:\"description\";s:39:\"Comprehensive
  listing agent information\";}s:11:\"association\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Association\";}s:7:\"coAgent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Agent\";s:11:\"description\";s:169:\"co-listing
  agent information.\n\n*NOTE*: If your RETS feed stores co-list information outside\nof
  the `Property` resource, co-list agent information will not\nbe available.\n\";}s:10:\"disclaimer\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Data
  accuracy disclaimer. The value in the disclaimer may\nchange depending on your MLS
  vendors rules.\n\";s:4:\"type\";s:6:\"string\";}s:3:\"geo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GeographicData\";s:11:\"description\";s:31:\"Geographic
  data for the listing\";}s:9:\"leaseTerm\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Represents
  the length of the lease.\";s:4:\"type\";s:6:\"string\";}s:9:\"leaseType\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Information
  about the status of the existing lease on the property.\";s:4:\"type\";s:6:\"string\";}s:8:\"listDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Date
  and time the listing became Active\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"listPrice\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Price
  of the listing\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"listingId\";O:8:\"stdClass\":2:{s:11:\"description\";s:255:\"Data
  Dictionary v1.3 ListingId. The well known identifier\nfor the listing. The value
  is the id or number by the MLS as\na public identifier for the listing.\n\nThis
  identifier should not be confused with the `mlsId`, which is\nspecific to the SimplyRETS
  API.\n\";s:4:\"type\";s:6:\"string\";}s:3:\"mls\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MlsInformation\";s:11:\"description\";s:31:\"MLS
  vendor information and data\";}s:5:\"mlsId\";O:8:\"stdClass\":3:{s:11:\"description\";s:590:\"A
  unique identifier for this listing specific to the\nSimplyRETS API. Thie identifier
  is specific to the\nSimplyRETS api and has no correlation with the MLS\nnumber.
  Use this id when making requests to the single\nlisting endpoint (eg, `/properties/{mlsId}`).\n\nApplications
  should not rely on specific `mlsId`s being\npresent. Instead, apps should dynamically
  use the `mlsId`\nafter using other more general query parameters. Many mls\nvendors
  require listings which are expired, terminated or\nsold to be purged, which will
  render calls to specific\n`mlsId`s to return nothing (or possibly a 404).\n\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"modified\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  and time of the last modification\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"office\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Office\";s:11:\"description\";s:28:\"Listing
  office or brokerage.\";}s:6:\"photos\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Photos
  of the property. Images are served over https and are\nsuitable for production use
  on secure websites\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"privateRemarks\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Agent
  only remarks\";s:4:\"type\";s:6:\"string\";}s:8:\"property\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Property\";s:11:\"description\";s:47:\"Specific
  property data associated with listing.\";}s:7:\"remarks\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Description
  or remarks\";s:4:\"type\";s:6:\"string\";}s:5:\"sales\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Sales\";s:11:\"description\";s:10:\"Sales
  data\";}s:6:\"school\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/School\";s:11:\"description\";s:30:\"Comprehensive
  school zone data\";}s:19:\"showingInstructions\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Public
  instructions for showing the property.\";s:4:\"type\";s:6:\"string\";}s:3:\"tax\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";s:11:\"description\";s:18:\"Associate
  tax data\";}s:14:\"virtualTourUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  URL for an unbranded virtual tour of the property.\n\n**Added on 2016/05/04 - Not
  available for all RETS vendors**\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"MlsInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"RETS
  MLS Vendor Data\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"area\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"MLS
  Area major. The major marketing area name, as defined by the MLS or other non-governmental
  organization.\";s:4:\"type\";s:6:\"string\";}s:9:\"areaMinor\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"MLS
  Area minor. The minor/sub marketing area name, as defined by the MLS or other non-governmental
  organization.\";s:4:\"type\";s:6:\"string\";}s:12:\"daysOnMarket\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Amount
  of days the property has been Active\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:21:\"originatingSystemName\";O:8:\"stdClass\":2:{s:11:\"description\";s:432:\"Alias
  for the listing office or brokerage\n\nThis field corresponds to the data-dictionary
  `OriginatingSystemName` field\n\nThe name of the originating record provider.  Most
  commonly\nthe name of the MLS. The place where the listing is\noriginally input
  by the member.  The legal name of the\ncompany.  To be used for display.\n\nIf you're
  RETS provider aggregates feeds from multiple\nMLS's, this will be the name of the
  corresponding MLS.\n\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:1420:\"Normalized
  MLS Status Code. Compliant with data dictionary\nv1.3 ListingStatus Listing statuses
  depend on your MLS's\navailability. Below is a brief description of each status\nwith
  possible synonyms which may map to your MLS-specific\nstatuses\n\n- Active: Active
  Listing which is still on the market\n- ActiveUnderContract: An offer has been accepted
  but the listing is still on market. Synonyms: Accepting Backup Offers, Backup Offer,
  Active With Accepted. Synonyms: Offer, Backup, Contingent\n- Pending: An offer has
  been accepted and the listing is no longer on market. Synonyms: Offer Accepted,
  Under Contract\n- Hold: The listing has been withdrawn from the market, but a contract\n
  \ still exists between the seller and the listing member. Synonyms: Hold, Hold Do
  Not Show, Temp Off Market\n- Withdrawn: The listing has been withdrawn from the
  market, but a contract\n  still exists between the seller and the listing member.
  Synonyms: Hold, Hold Do Not Show, Temp Off Market\n- Closed: The purchase agreement
  has been fulfilled or the lease\n  agreement has been executed. Synonyms: Sold,
  Leased, Rented, Closed Sale\n- Expired: The listing contract has expired\n- Delete:
  The listing contract was never valid or other reason for the contract to be nullified.
  Synonyms: Kill, Zap\n- Incomplete: The listing has not yet be completely entered
  and is not yet\n  published in the MLS. Synonyms: Draft, Partially Complted\n- ComingSoon\n\";s:4:\"enum\";a:10:{i:0;s:6:\"Active\";i:1;s:34:\"ActiveUnderContract
  (Backup-Offer)\";i:2;s:7:\"Pending\";i:3;s:4:\"Hold\";i:4;s:9:\"Withdrawn\";i:5;s:6:\"Closed\";i:6;s:7:\"Expired\";i:7;s:6:\"Delete\";i:8;s:10:\"Incomplete\";i:9;s:10:\"ComingSoon\";}s:4:\"type\";s:6:\"string\";}s:10:\"statusText\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Raw
  MLS status text. This `field` comes directly from your RETS data\nfield and is not
  normalized.\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Office\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"RETS
  MLS Office\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"brokerid\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Office
  or brokerage MLS identifier\n\n**Not available for all RETS vendors**\n\";s:4:\"type\";s:6:\"string\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContactInformation\";s:11:\"description\";s:184:\"Associated
  contact details for the office. The availability of this\ninformation depends on
  your MLS rules and regulations\n\n*Contact information is not available for all
  RETS Vendors.*\n\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Pimary
  office name\";s:4:\"type\";s:6:\"string\";}s:11:\"servingName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Primary
  office or brokerage name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"OpenHouse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"SimplyRETS
  Open House object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  remarks and/or description details for the open house\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  ending date time for the open house\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"inputId\";O:8:\"stdClass\":1:{s:11:\"description\";s:95:\"The
  MLS number for the showing agent or agent which created the OpenHouse\nin the MLS
  database.\n\";}s:7:\"listing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Listing\";s:11:\"description\";s:46:\"The
  full listing associated with the OpenHouse\";}s:11:\"openHouseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  MLS number or id provided by the MLS\n\";s:4:\"type\";s:6:\"string\";}s:12:\"openHouseKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"A
  unique identifier for the open house which is specific to the\nSimplyRETS API\n\";s:4:\"type\";s:6:\"string\";}s:12:\"refreshments\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Provided\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Start
  Date for the open house\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  open house type. For example, Public or Private\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Parking\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"RETS
  MLS School Data\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Parking
  features description\";s:4:\"type\";s:6:\"string\";}s:6:\"leased\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"spaces\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Number
  of parking spaces\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Property\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Rets
  MLS Listing Property\";s:10:\"properties\";O:8:\"stdClass\":39:{s:13:\"accessibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"additionalRooms\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Additional
  room information. This is a textual description\nof additional rooms for the listing.\n\";s:4:\"type\";s:6:\"string\";}s:4:\"area\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Square
  footage of the building associated with a listing\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"areaSource\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"bathsFull\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of full bathrooms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"bathsHalf\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of half bathrooms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"bathsThreeQuarter\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Number
  of 3/4 bathrooms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"bedrooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Number
  of bedrooms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"construction\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  materials that were used in the construction of the property.\";s:4:\"type\";s:6:\"string\";}s:7:\"cooling\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"A
  description of the cooling or air conditioning features of the property.\";s:4:\"type\";s:6:\"string\";}s:16:\"exteriorFeatures\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Exterior
  Features for the listing\n\";s:4:\"type\";s:6:\"string\";}s:10:\"fireplaces\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Number
  of fireplaces\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"flooring\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  type(s) of flooring found within the property.\";s:4:\"type\";s:6:\"string\";}s:10:\"foundation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"garageSpaces\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Number
  of garage spaces\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:7:\"heating\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Heating
  description or short string\";s:4:\"type\";s:6:\"string\";}s:16:\"interiorFeatures\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  properties interior features\";s:4:\"type\";s:6:\"string\";}s:15:\"laundryFeatures\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"lotDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"lotSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Lot
  size dimensions or square footage as a text. This\nfield is generally used to show
  the pretty formatted\nlot size.\n\";s:4:\"type\";s:6:\"string\";}s:12:\"lotSizeAcres\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Lot
  size in acres\n\n**Added on 2016/05/04 - Not available for all RETS vendors**\n\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"lotSizeArea\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"The
  total area of the lot.  See `lotSizeUnits` for the units\nof measurement (Square
  Feet, Square Meters, Acres, etc.).\n\n**Added on 2016/05/04 - Not available for
  all RETS vendors**\n\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"lotSizeAreaUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:254:\"Unit
  of measurement for the lotSizeArea field.  e.g. Square\nFeet, Square Meters, Acres,
  etc.\n\nIf this field is `null` the units is the default unit\nof measure specified
  by your RETS provider.\n\n**Added on 2016/05/04 - Not available for all RETS vendors**\n\";s:4:\"type\";s:6:\"string\";}s:18:\"maintenanceExpense\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Yearly
  maintenance expense\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:12:\"occupantName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"occupantType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ownerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"parking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Parking\";}s:12:\"poolFeatures\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"roof\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Property
  roof description\";s:4:\"type\";s:6:\"string\";}s:7:\"stories\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Number
  of stories or levels. Represented as a `double' to\naccount for half stories.\n\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"style\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Property
  style description or short string\";s:4:\"type\";s:6:\"string\";}s:7:\"subType\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  normalized representation of the listings sub-type.\n\";s:4:\"enum\";a:14:{i:0;s:9:\"Apartment\";i:1;s:8:\"BoatSlip\";i:2;s:21:\"SingleFamilyResidence\";i:3;s:13:\"DeededParking\";i:4;s:5:\"Cabin\";i:5;s:11:\"Condominium\";i:6;s:6:\"Duplex\";i:7;s:16:\"ManufacturedHome\";i:8;s:10:\"Quadruplex\";i:9;s:16:\"StockCooperative\";i:10;s:9:\"Townhouse\";i:11;s:9:\"Timeshare\";i:12;s:7:\"Triplex\";i:13;s:18:\"ManufacturedOnLand\";}s:4:\"type\";s:6:\"string\";}s:10:\"subTypeRaw\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  raw text representation of the property sub type.\n\";s:4:\"type\";s:6:\"string\";}s:11:\"subdivision\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  subdivision or community name\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"Abbreviated
  property type. RES is Residential, CND is CondoOrTownhome,\nRNT is Rental, MLF is
  Multi-Family, CRE is Commercial, LND is Land,\nFRM is Farm. See the `propertySubType`
  field for more information.\n\";s:4:\"enum\";a:7:{i:0;s:3:\"RES\";i:1;s:3:\"CND\";i:2;s:3:\"RNT\";i:3;s:3:\"MLF\";i:4;s:3:\"CRE\";i:5;s:3:\"LND\";i:6;s:3:\"FRM\";}s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"View
  details and description\";s:4:\"type\";s:6:\"string\";}s:5:\"water\";O:8:\"stdClass\":2:{s:11:\"description\";s:236:\"The
  name, if known, of the body of water on which the\nproperty is located. (E.g., lake
  name, river name, ocean\nname, sea name, canal name). Otherwise, this field will\ncontain
  features of the waterfront on which the property is\nlocated.\n\";s:4:\"type\";s:6:\"string\";}s:9:\"yearBuilt\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Year
  the property was built\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Sales\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Sales
  Data\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"agent\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"RETS
  Sales data agent id\";s:4:\"type\";s:6:\"string\";}s:9:\"closeDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"RETS
  Sales data close date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"closePrice\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"RETS
  Sales data sold price\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"contractDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"RETS
  Sales data contract date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"office\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"RETS
  Sales data selling office/brokerage id\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"School\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"RETS
  MLS School Data\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"district\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"School
  district name.\";s:4:\"type\";s:6:\"string\";}s:16:\"elementarySchool\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Elementary
  school name.\";s:4:\"type\";s:6:\"string\";}s:10:\"highSchool\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"High
  school name\";s:4:\"type\";s:6:\"string\";}s:12:\"middleSchool\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Middle
  or junior school name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"StreetAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"RETS
  MLS Street Address\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"City
  name\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Street
  address country (United States or Canada)\";s:4:\"type\";s:6:\"string\";}s:11:\"crossStreet\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Known
  cross street\";s:4:\"type\";s:6:\"string\";}s:4:\"full\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Full
  pretty-printed address with suffix (if available)\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Street
  Address postal code\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"State
  or province. Maps to the data dictionary field `StateOrProvince`.\";s:4:\"type\";s:6:\"string\";}s:10:\"streetName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the street\";s:4:\"type\";s:6:\"string\";}s:12:\"streetNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Street
  number\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"streetNumberText\";O:8:\"stdClass\":2:{s:11:\"description\";s:250:\"Textual
  representation of the street number. This field\nis usually redundant with what's
  in `streetNumber` but is\noccassionally usefuly for street number which are actually\nalpha-numerical.
  For example, \"N63453\" or \"34556B\".\n\n**Added on 2016/05/02**\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"RETS
  MLS Tax Data\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Tax
  Parcel ID for the listing\";s:4:\"type\";s:6:\"string\";}s:15:\"taxAnnualAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Annual
  tax amount in USD\";s:4:\"type\";s:6:\"string\";}s:7:\"taxYear\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Tax
  Year\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
