---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:20:\"support@isendpro.com\";s:4:\"name\";s:21:\"iSendPro
  Support Team\";s:3:\"url\";s:25:\"https://www.isendpro.com/\";s:9:\"x-twitter\";s:8:\"isendpro\";}s:11:\"description\";s:901:\"[1]
  Liste des fonctionnalit\xE9s :\n- envoi de SMS \xE0 un ou plusieurs destinataires,\n-
  lookup HLR,\n- r\xE9cup\xE9ration des r\xE9capitulatifs de campagne,\n- gestion
  des r\xE9pertoires,\n- ajout en liste noire.\n- comptage du nombre de caract\xE8res
  des SMS\n\n[2] Pour utiliser cette API vous devez:\n- Cr\xE9er un compte iSendPro
  sur https://isendpro.com/\n- Cr\xE9diter votre compte \n    - Remarque: obtention
  d'un cr\xE9dit de test possible sous conditions\n- Noter votre cl\xE9 de compte
  (keyid)\n  - Elle vous sera indispensable \xE0 l'utilisation de l'API\n  - Vous
  pouvez la trouver dans le rubrique mon \"compte\", sous-rubrique \"mon API\"\n-
  Configurer le contr\xF4le IP\n  - Le contr\xF4le IP est configurable dans le rubrique
  mon \"compte\", sous-rubrique \"mon API\"\n  - Il s'agit d'un syst\xE8me de liste
  blanche, vous devez entrer les IP utilis\xE9es pour appeler l'API\n  - Vous pouvez
  \xE9galement d\xE9sactiver totalement le contr\xF4le IP\n\";s:14:\"termsOfService\";s:19:\"cf
  CGV iSendPro.com\";s:5:\"title\";s:12:\"API iSendPro\";s:7:\"version\";s:5:\"1.1.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"messaging\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://api.apis.guru/v2/cache/logo/https_en.isendpro.com_img_logo-isendpro.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:42:\"https://apirest.isendpro.com/isendpro.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"isendpro.com\";}"
host: apirest.isendpro.com
basePath: /cgi-bin
paths: ~
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":35:{s:15:\"ComptageReponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ComptageReponse_etat\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ComptageReponse_etat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ComptageReponse_etat_etat\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"ComptageReponse_etat_etat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"nb_caractere\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"nombre
  de caract\xE8res\";s:4:\"type\";s:6:\"string\";}s:6:\"nb_sms\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"nombre
  de sms n\xE9cessaires\";s:4:\"type\";s:6:\"string\";}s:3:\"tel\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"num\xE9ro
  de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ComptageRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"comptage\";s:1:\"1\";s:8:\"emetteur\";s:8:\"iSendPro\";s:5:\"keyid\";s:11:\"VOTRE_KEYID\";s:3:\"num\";s:10:\"0600123456\";s:3:\"sms\";s:32:\"Bonjour!
  Bienvenue sur iSendPro!\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"comptage\";O:8:\"stdClass\":3:{s:7:\"default\";s:1:\"1\";s:4:\"enum\";a:1:{i:0;s:1:\"1\";}s:4:\"type\";s:6:\"string\";}s:10:\"date_envoi\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Date
  d'envoi au format YYYY-MM-DD hh:mm . Ce param\xE8tre est optionnel, si il est omis
  l'envoi est r\xE9alis\xE9 imm\xE9diatement.\";s:4:\"type\";s:6:\"string\";}s:8:\"emetteur\";O:8:\"stdClass\":2:{s:11:\"description\";s:580:\"-
  L'emetteur doit \xEAtre une cha\xEEne alphanum\xE9rique comprise entre 4 et 11 caract\xE8res.\n\n-
  Les caract\xE8res accept\xE9s sont les chiffres entre 0 et 9, les lettres entre
  A et Z et l\u2019espace.\n\n- Il ne peut pas comporter uniquement des chiffres.
  \n\n- Pour la modification de l'\xE9metteur et dans le cadre de campagnes commerciales,
  les op\xE9rateurs imposent contractuellement d'ajouter en fin de message le texte
  \"STOP XXXXX\". De ce fait, le message envoy\xE9 ne pourra exc\xE9der une longueur
  de 148 caract\xE8res au lieu des 160 caract\xE8res, le \xAB\_STOP\_\xBB \xE9tant
  rajout\xE9 automatiquement.\n\";s:4:\"type\";s:6:\"string\";}s:8:\"gmt_zone\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Fuseau
  horaire de la date d'envoi\";s:4:\"enum\";a:90:{i:0;s:14:\"Pacific/Midway\";i:1;s:12:\"America/Adak\";i:2;s:10:\"Etc/GMT+10\";i:3;s:17:\"Pacific/Marquesas\";i:4;s:15:\"Pacific/Gambier\";i:5;s:17:\"America/Anchorage\";i:6;s:16:\"America/Ensenada\";i:7;s:9:\"Etc/GMT+8\";i:8;s:19:\"America/Los_Angeles\";i:9;s:14:\"America/Denver\";i:10;s:17:\"America/Chihuahua\";i:11;s:20:\"America/Dawson_Creek\";i:12;s:14:\"America/Belize\";i:13;s:14:\"America/Cancun\";i:14;s:18:\"Chile/EasterIsland\";i:15;s:15:\"America/Chicago\";i:16;s:16:\"America/New_York\";i:17;s:14:\"America/Havana\";i:18;s:14:\"America/Bogota\";i:19;s:15:\"America/Caracas\";i:20;s:16:\"America/Santiago\";i:21;s:14:\"America/La_Paz\";i:22;s:16:\"Atlantic/Stanley\";i:23;s:20:\"America/Campo_Grande\";i:24;s:17:\"America/Goose_Bay\";i:25;s:17:\"America/Glace_Bay\";i:26;s:16:\"America/St_Johns\";i:27;s:17:\"America/Araguaina\";i:28;s:18:\"America/Montevideo\";i:29;s:16:\"America/Miquelon\";i:30;s:15:\"America/Godthab\";i:31;s:30:\"America/Argentina/Buenos_Aires\";i:32;s:17:\"America/Sao_Paulo\";i:33;s:15:\"America/Noronha\";i:34;s:19:\"Atlantic/Cape_Verde\";i:35;s:15:\"Atlantic/Azores\";i:36;s:14:\"Europe/Belfast\";i:37;s:13:\"Europe/Dublin\";i:38;s:13:\"Europe/Lisbon\";i:39;s:13:\"Europe/London\";i:40;s:14:\"Africa/Abidjan\";i:41;s:16:\"Europe/Amsterdam\";i:42;s:15:\"Europe/Belgrade\";i:43;s:15:\"Europe/Brussels\";i:44;s:14:\"Africa/Algiers\";i:45;s:15:\"Africa/Windhoek\";i:46;s:11:\"Asia/Beirut\";i:47;s:12:\"Africa/Cairo\";i:48;s:9:\"Asia/Gaza\";i:49;s:15:\"Africa/Blantyre\";i:50;s:14:\"Asia/Jerusalem\";i:51;s:12:\"Europe/Minsk\";i:52;s:13:\"Asia/Damascus\";i:53;s:13:\"Europe/Moscow\";i:54;s:18:\"Africa/Addis_Ababa\";i:55;s:11:\"Asia/Tehran\";i:56;s:10:\"Asia/Dubai\";i:57;s:12:\"Asia/Yerevan\";i:58;s:10:\"Asia/Kabul\";i:59;s:18:\"Asia/Yekaterinburg\";i:60;s:13:\"Asia/Tashkent\";i:61;s:12:\"Asia/Kolkata\";i:62;s:13:\"Asia/Katmandu\";i:63;s:10:\"Asia/Dhaka\";i:64;s:16:\"Asia/Novosibirsk\";i:65;s:12:\"Asia/Rangoon\";i:66;s:12:\"Asia/Bangkok\";i:67;s:16:\"Asia/Krasnoyarsk\";i:68;s:14:\"Asia/Hong_Kong\";i:69;s:12:\"Asia/Irkutsk\";i:70;s:15:\"Australia/Perth\";i:71;s:15:\"Australia/Eucla\";i:72;s:10:\"Asia/Tokyo\";i:73;s:10:\"Asia/Seoul\";i:74;s:12:\"Asia/Yakutsk\";i:75;s:18:\"Australia/Adelaide\";i:76;s:16:\"Australia/Darwin\";i:77;s:18:\"Australia/Brisbane\";i:78;s:16:\"Australia/Hobart\";i:79;s:16:\"Asia/Vladivostok\";i:80;s:19:\"Australia/Lord_Howe\";i:81;s:10:\"Etc/GMT-11\";i:82;s:12:\"Asia/Magadan\";i:83;s:15:\"Pacific/Norfolk\";i:84;s:11:\"Asia/Anadyr\";i:85;s:16:\"Pacific/Auckland\";i:86;s:10:\"Etc/GMT-12\";i:87;s:15:\"Pacific/Chatham\";i:88;s:17:\"Pacific/Tongatapu\";i:89;s:18:\"Pacific/Kiritimati\";}s:4:\"type\";s:6:\"string\";}s:5:\"keyid\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Cl\xE9
  API\";s:4:\"type\";s:6:\"string\";}s:6:\"nostop\";O:8:\"stdClass\":2:{s:11:\"description\";s:229:\"Si
  le message n\u2019est pas \xE0 but commercial, vous pouvez faire une demande pour
  retirer l\u2019obligation du STOP. Une fois votre demande valid\xE9e par nos services,
  vous pourrez supprimer la mention STOP SMS en ajoutant nostop = \"1\"\";s:4:\"type\";s:6:\"string\";}s:3:\"num\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Numero
  de t\xE9l\xE9phone au format national (exemple 0680010203) ou international (example
  33680010203)\";s:4:\"type\";s:6:\"string\";}s:7:\"numAzur\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:1:\"1\";}s:4:\"type\";s:6:\"string\";}s:3:\"sms\";O:8:\"stdClass\":2:{s:11:\"description\";s:273:\"Message
  \xE0 envoyer aux destinataires. Le message doit \xEAtre encod\xE9 au format utf-8
  et ne contenir que des caract\xE8res existant dans l'alphabet GSM. Il est \xE9galement
  possible d'envoyer (\xE0 l'\xE9tranger uniquement) des SMS en UCS-2, cf param\xE8tre
  ucs2 pour plus de d\xE9tails.\";s:4:\"type\";s:6:\"string\";}s:7:\"smslong\";O:8:\"stdClass\":4:{s:7:\"default\";s:3:\"999\";s:11:\"description\";s:726:\"Le
  SMS long permet de d\xE9passer la limite de 160 caract\xE8res en envoyant un message
  constitu\xE9\nde plusieurs SMS.\nIl est possible d\u2019envoyer jusqu\u2019\xE0
  6 SMS concat\xE9n\xE9s pour une longueur totale maximale de 918\ncaract\xE8res par
  message.\nPour des raisons technique, la limite par SMS concat\xE9n\xE9 \xE9tant
  de 153 caract\xE8res.\nEn cas de modification de l\u2019\xE9metteur, il faut consid\xE9rer
  l\u2019ajout automatique de 12 caract\xE8res\ndu \xAB\_STOP SMS\_\xBB.\nPour envoyer
  un smslong, il faut ajouter le param\xE8tre smslong aux appels. La valeur de SMS
  doit \xEAtre le nombre maximum de sms concat\xE9n\xE9 autoris\xE9.   Pour ne pas
  avoir ce message d\u2019erreur et obtenir un calcul dynamique du nombre de SMS alors
  il faut renseigner smslong = \"999\"\n\";s:4:\"enum\";a:1:{i:0;s:3:\"999\";}s:4:\"type\";s:6:\"string\";}s:7:\"tracker\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"Le
  tracker doit \xEAtre une chaine alphanum\xE9rique de moins de 50 caract\xE8res.
  Ce tracker sera ensuite renvoy\xE9 en param\xE8tre des urls pour les retours des
  accus\xE9s de r\xE9ception. \";s:4:\"type\";s:6:\"string\";}s:4:\"ucs2\";O:8:\"stdClass\":2:{s:11:\"description\";s:433:\"Il
  est \xE9galement possible d\u2019envoyer des SMS en alphabet non latin (russe, chinois,
  arabe, etc) sur\nles num\xE9ros hors France m\xE9tropolitaine.\nPour ce faire, la
  requ\xEAte devrait \xEAtre encod\xE9e au format UTF-8 et contenir l\u2019argument
  ucs2 = \"1\"\nDu fait de contraintes techniques, 1 SMS unique ne pourra pas d\xE9passer
  70 caract\xE8res (au lieu\ndes 160 usuels) et dans le cas de SMS long, chaque sms
  ne pourra d\xE9passer 67 caract\xE8res.\n\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"comptage\";i:1;s:5:\"keyid\";i:2;s:3:\"num\";i:3;s:3:\"sms\";}s:4:\"type\";s:6:\"object\";}s:14:\"CreditResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CreditResponse_etat\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreditResponse_etat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"credit\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Montant
  du cr\xE9dit restant\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"quantite\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Equivalence
  du cr\xE9dit en nombre de SMS vers la France M\xE9tropolitaine.\";s:6:\"format\";s:6:\"string\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Erreur\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Erreur_etat\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Erreur_etat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Erreur_etat_etat\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"Erreur_etat_etat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Code
  retour. Voir \"tableau des code retour\" dans l'annexe de la documentation\";s:6:\"format\";s:6:\"string\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Libell\xE9
  associ\xE9 au code de retour\";s:6:\"format\";s:6:\"string\";s:4:\"type\";s:6:\"string\";}}}s:10:\"HLRReponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/HLRReponse_etat\";}}s:4:\"type\";s:6:\"object\";}s:15:\"HLRReponse_etat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"liste
  des retours\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/HLRReponse_etat_etat\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:4:\"etat\";}}s:20:\"HLRReponse_etat_etat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"operateur\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Op\xE9rateur
  associ\xE9 (si num\xE9ro valide)\";s:4:\"type\";s:6:\"string\";}s:3:\"tel\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Numero
  de t\xE9l\xE9phone concern\xE9\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"operateur\";i:1;s:3:\"tel\";}}s:10:\"HLRrequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:6:\"getHLR\";s:1:\"1\";s:5:\"keyid\";s:11:\"VOTRE_KEYID\";s:3:\"num\";a:2:{i:0;s:11:\"06123456789\";i:1;s:11:\"06345687899\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"getHLR\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"1\";s:11:\"description\";s:15:\"Doit
  valoir \"1\"\";s:4:\"enum\";a:1:{i:0;s:1:\"1\";}s:4:\"type\";s:6:\"string\";}s:5:\"keyid\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Cl\xE9
  API\";s:4:\"type\";s:6:\"string\";}s:3:\"num\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"liste
  de num\xE9ros de t\xE9l\xE9phone\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"num\xE9ro
  au format national fran\xE7ais ou international\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:6:\"getHLR\";i:1;s:5:\"keyid\";i:2;s:3:\"num\";}s:4:\"type\";s:6:\"object\";}s:17:\"LISTENOIREReponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LISTENOIREReponse_etat\";}}s:4:\"type\";s:6:\"object\";}s:22:\"LISTENOIREReponse_etat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/LISTENOIREReponse_etat_etat\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:4:\"etat\";}}s:27:\"LISTENOIREReponse_etat_etat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"listeNoire\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Doit
  valoir \"OK\"\";s:4:\"type\";s:6:\"string\";}s:3:\"tel\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Num\xE9ro
  de t\xE9l\xE9phone \xE0 placer en liste noire. Format national Fran\xE7ais ou international.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"listeNoire\";i:1;s:3:\"tel\";}}s:23:\"REPERTOIREcreatereponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/REPERTOIREcreatereponse_etat\";}}s:4:\"type\";s:6:\"object\";}s:28:\"REPERTOIREcreatereponse_etat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/REPERTOIREcreatereponse_etat_etat\";}s:4:\"type\";s:5:\"array\";}}}s:33:\"REPERTOIREcreatereponse_etat_etat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Code
  retour. Voir \"tableau des code retour\" dans l'annexe de la documentation\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Libell\xE9
  associ\xE9 au code retour.\";s:4:\"type\";s:6:\"string\";}s:12:\"repertoireId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"repertoireId
  du repertoire cr\xE9e.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"code\";}}s:23:\"REPERTOIREcreaterequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"keyid\";s:11:\"VOTRE_KEYID\";s:14:\"repertoireEdit\";s:6:\"create\";s:13:\"repertoireNom\";s:18:\"Repertoire
  de test\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"keyid\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Cl\xE9
  API\";s:4:\"type\";s:6:\"string\";}s:14:\"repertoireEdit\";O:8:\"stdClass\":4:{s:7:\"default\";s:6:\"create\";s:11:\"description\";s:45:\"Action
  \xE0 r\xE9aliser doit valoir \"create\" ici.\";s:4:\"enum\";a:1:{i:0;s:6:\"create\";}s:4:\"type\";s:6:\"string\";}s:13:\"repertoireNom\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Nom
  du r\xE9pertoire (libell\xE9) \xE0 cr\xE9er\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"keyid\";i:1;s:14:\"repertoireEdit\";i:2;s:13:\"repertoireNom\";}s:4:\"type\";s:6:\"object\";}s:22:\"REPERTOIREmodifreponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/REPERTOIREmodifreponse_etat\";}}s:4:\"type\";s:6:\"object\";}s:27:\"REPERTOIREmodifreponse_etat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/REPERTOIREmodifreponse_etat_etat\";}s:4:\"type\";s:5:\"array\";}}}s:32:\"REPERTOIREmodifreponse_etat_etat\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Tableau
  de code retour. Si succ\xE8s, un code retour distinct par num\xE9ro soumis.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Code
  retour. Voir \"tableau des code retour\" dans l'annexe de la documentation\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Libell\xE9
  associ\xE9 au code retour.\";s:4:\"type\";s:6:\"string\";}s:12:\"repertoireId\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"repertoireId
  pass\xE9 en argument lors de l'appel\";s:4:\"type\";s:6:\"string\";}s:3:\"tel\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Num\xE9ro
  de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"code\";}}s:22:\"REPERTOIREmodifrequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:5:\"keyid\";s:11:\"VOTRE_KEYID\";s:3:\"num\";a:2:{i:0;s:11:\"06123456789\";i:1;s:11:\"07123456789\";}s:14:\"repertoireEdit\";s:3:\"add\";s:12:\"repertoireId\";s:19:\"VOTRE_REPERTOIRE_ID\";}s:10:\"properties\";O:8:\"stdClass\":31:{s:6:\"champ1\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Noms
  des contact\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Nom
  des contacts\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ10\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  I des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  I\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ11\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  J des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  J\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ12\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  K des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  K\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ13\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  L des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  L\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ14\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  M des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  M\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ15\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  N des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  N\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ16\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  O des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  O\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ17\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  P des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  P\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ18\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  Q des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  Q\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ19\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  R des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  R\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"champ2\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  A des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  A\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ20\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  S des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  S\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ21\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  T des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  T\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ22\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  U des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  U\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ23\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  V des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  V\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ24\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  W des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  W\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ25\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  X des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  X\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ26\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  Y des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  Y\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"champ27\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  Z des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  Z\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"champ3\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  B des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  B\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"champ4\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  C des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  C\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"champ5\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  D des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  D\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"champ6\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  E des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  E\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"champ7\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  F des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  F\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"champ8\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  G des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  G\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"champ9\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Champs
  H des contacts\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Champ
  H\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"keyid\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Cl\xE9
  API\";s:4:\"type\";s:6:\"string\";}s:3:\"num\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"liste
  des num\xE9ros des t\xE9l\xE9phone \xE0 ajouter ou supprimer\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Num\xE9ro
  de t\xE9l\xE9phone au format national ou international\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"repertoireEdit\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"action
  \xE0 r\xE9aliser, \"add\" pour l'ajout de num\xE9ros, \"del\" pour la suppression
  de num\xE9ros\";s:4:\"enum\";a:2:{i:0;s:3:\"add\";i:1;s:3:\"del\";}s:4:\"type\";s:6:\"string\";}s:12:\"repertoireId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"repertoireId
  du r\xE9pertoire cible\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:5:\"keyid\";i:1;s:3:\"num\";i:2;s:14:\"repertoireEdit\";i:3;s:12:\"repertoireId\";}s:4:\"type\";s:6:\"object\";}s:10:\"SMSReponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SMSReponse_etat\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SMSReponse_etat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SMSReponse_etat_etat\";}s:4:\"type\";s:5:\"array\";}}}s:20:\"SMSReponse_etat_etat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Code
  retour. Voir \"tableau des code retour\" dans l'annexe de la documentation\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Libell\xE9
  associ\xE9 au code de retour\";s:4:\"type\";s:6:\"string\";}s:7:\"smslong\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Nombre
  de SMS longs factur\xE9s\";s:4:\"type\";s:6:\"string\";}s:3:\"tel\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Numero
  de t\xE9l\xE9phone concern\xE9\";s:4:\"type\";s:6:\"string\";}}}s:10:\"SMSRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:8:\"emetteur\";s:8:\"iSendPro\";s:5:\"keyid\";s:11:\"VOTRE_KEYID\";s:3:\"num\";a:2:{i:0;s:10:\"0600123456\";i:1;s:10:\"0612345678\";}s:3:\"sms\";s:32:\"Bonjour!
  Bienvenue sur iSendPro!\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"date_envoi\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Param\xE8tre
  optionnel, date d'envoi au format YYYY-MM-DD hh:mm\";s:4:\"type\";s:6:\"string\";}s:8:\"emetteur\";O:8:\"stdClass\":2:{s:11:\"description\";s:578:\"L'emetteur
  doit \xEAtre une cha\xEEne alphanum\xE9rique comprise entre 4 et 11 caract\xE8res.
  Les caract\xE8res accept\xE9s sont les chiffres entre 0 et 9, les lettres entre
  A et Z et l\u2019espace. Il ne peut pas comporter uniquement des chiffres. Pour
  la modification de l\u2019\xE9metteur et dans le cadre de campagnes commerciales,
  les op\xE9rateurs imposent contractuellement d\u2019ajouter en fin de message le
  texte suivant : STOP XXXXX De ce fait, le message envoy\xE9 ne pourra exc\xE9der
  une longueur de 148 caract\xE8res au lieu des 160 caract\xE8res, le \xAB\_STOP\_\xBB
  \xE9tant rajout\xE9 automatiquement.\";s:4:\"type\";s:6:\"string\";}s:8:\"gmt_zone\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Fuseau
  horaire de la date d'envoi\";s:4:\"enum\";a:90:{i:0;s:14:\"Pacific/Midway\";i:1;s:12:\"America/Adak\";i:2;s:10:\"Etc/GMT+10\";i:3;s:17:\"Pacific/Marquesas\";i:4;s:15:\"Pacific/Gambier\";i:5;s:17:\"America/Anchorage\";i:6;s:16:\"America/Ensenada\";i:7;s:9:\"Etc/GMT+8\";i:8;s:19:\"America/Los_Angeles\";i:9;s:14:\"America/Denver\";i:10;s:17:\"America/Chihuahua\";i:11;s:20:\"America/Dawson_Creek\";i:12;s:14:\"America/Belize\";i:13;s:14:\"America/Cancun\";i:14;s:18:\"Chile/EasterIsland\";i:15;s:15:\"America/Chicago\";i:16;s:16:\"America/New_York\";i:17;s:14:\"America/Havana\";i:18;s:14:\"America/Bogota\";i:19;s:15:\"America/Caracas\";i:20;s:16:\"America/Santiago\";i:21;s:14:\"America/La_Paz\";i:22;s:16:\"Atlantic/Stanley\";i:23;s:20:\"America/Campo_Grande\";i:24;s:17:\"America/Goose_Bay\";i:25;s:17:\"America/Glace_Bay\";i:26;s:16:\"America/St_Johns\";i:27;s:17:\"America/Araguaina\";i:28;s:18:\"America/Montevideo\";i:29;s:16:\"America/Miquelon\";i:30;s:15:\"America/Godthab\";i:31;s:30:\"America/Argentina/Buenos_Aires\";i:32;s:17:\"America/Sao_Paulo\";i:33;s:15:\"America/Noronha\";i:34;s:19:\"Atlantic/Cape_Verde\";i:35;s:15:\"Atlantic/Azores\";i:36;s:14:\"Europe/Belfast\";i:37;s:13:\"Europe/Dublin\";i:38;s:13:\"Europe/Lisbon\";i:39;s:13:\"Europe/London\";i:40;s:14:\"Africa/Abidjan\";i:41;s:16:\"Europe/Amsterdam\";i:42;s:15:\"Europe/Belgrade\";i:43;s:15:\"Europe/Brussels\";i:44;s:14:\"Africa/Algiers\";i:45;s:15:\"Africa/Windhoek\";i:46;s:11:\"Asia/Beirut\";i:47;s:12:\"Africa/Cairo\";i:48;s:9:\"Asia/Gaza\";i:49;s:15:\"Africa/Blantyre\";i:50;s:14:\"Asia/Jerusalem\";i:51;s:12:\"Europe/Minsk\";i:52;s:13:\"Asia/Damascus\";i:53;s:13:\"Europe/Moscow\";i:54;s:18:\"Africa/Addis_Ababa\";i:55;s:11:\"Asia/Tehran\";i:56;s:10:\"Asia/Dubai\";i:57;s:12:\"Asia/Yerevan\";i:58;s:10:\"Asia/Kabul\";i:59;s:18:\"Asia/Yekaterinburg\";i:60;s:13:\"Asia/Tashkent\";i:61;s:12:\"Asia/Kolkata\";i:62;s:13:\"Asia/Katmandu\";i:63;s:10:\"Asia/Dhaka\";i:64;s:16:\"Asia/Novosibirsk\";i:65;s:12:\"Asia/Rangoon\";i:66;s:12:\"Asia/Bangkok\";i:67;s:16:\"Asia/Krasnoyarsk\";i:68;s:14:\"Asia/Hong_Kong\";i:69;s:12:\"Asia/Irkutsk\";i:70;s:15:\"Australia/Perth\";i:71;s:15:\"Australia/Eucla\";i:72;s:10:\"Asia/Tokyo\";i:73;s:10:\"Asia/Seoul\";i:74;s:12:\"Asia/Yakutsk\";i:75;s:18:\"Australia/Adelaide\";i:76;s:16:\"Australia/Darwin\";i:77;s:18:\"Australia/Brisbane\";i:78;s:16:\"Australia/Hobart\";i:79;s:16:\"Asia/Vladivostok\";i:80;s:19:\"Australia/Lord_Howe\";i:81;s:10:\"Etc/GMT-11\";i:82;s:12:\"Asia/Magadan\";i:83;s:15:\"Pacific/Norfolk\";i:84;s:11:\"Asia/Anadyr\";i:85;s:16:\"Pacific/Auckland\";i:86;s:10:\"Etc/GMT-12\";i:87;s:15:\"Pacific/Chatham\";i:88;s:17:\"Pacific/Tongatapu\";i:89;s:18:\"Pacific/Kiritimati\";}s:4:\"type\";s:6:\"string\";}s:5:\"keyid\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Cl\xE9
  API\";s:4:\"type\";s:6:\"string\";}s:6:\"nostop\";O:8:\"stdClass\":2:{s:11:\"description\";s:229:\"Si
  le message n\u2019est pas \xE0 but commercial, vous pouvez faire une demande pour
  retirer l\u2019obligation du STOP. Une fois votre demande valid\xE9e par nos services,
  vous pourrez supprimer la mention STOP SMS en ajoutant nostop = \"1\"\";s:4:\"type\";s:6:\"string\";}s:3:\"num\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Numeros
  de t\xE9l\xE9phone au format national (exemple 0680010203) ou international (example
  33680010203)\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"numAzur\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:1:\"1\";}s:4:\"type\";s:6:\"string\";}s:12:\"repertoireId\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Id
  du repertoire\";s:4:\"type\";s:6:\"string\";}s:3:\"sms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Message
  \xE0 envoyer aux destinataires. Il peut y avoir un seul message ou 1 message par
  destintaire diff\xE9rent.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"smslong\";O:8:\"stdClass\":2:{s:11:\"description\";s:726:\"Le
  SMS long permet de d\xE9passer la limite de 160 caract\xE8res en envoyant un message
  constitu\xE9 de plusieurs SMS. Il est possible d\u2019envoyer jusqu\u2019\xE0 6
  SMS concat\xE9n\xE9s pour une longueur totale maximale de 918 caract\xE8res par
  message. Pour des raisons technique, la limite par SMS concat\xE9n\xE9 \xE9tant
  de 153 caract\xE8res. En cas de modification de l\u2019\xE9metteur, il faut consid\xE9rer
  l\u2019ajout automatique de 12 caract\xE8res du \xAB\_STOP SMS\_\xBB. Pour envoyer
  un smslong, il faut ajouter le param\xE8tre smslong aux appels. La valeur de SMS
  doit \xEAtre le nombre maximum de sms concat\xE9n\xE9 autoris\xE9.   Pour ne pas
  avoir ce message d\u2019erreur et obtenir un calcul dynamique du nombre de SMS alors
  il faut renseigner smslong = \"999\" \";s:4:\"type\";s:6:\"string\";}s:7:\"tracker\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"Le
  tracker doit \xEAtre une chaine alphanum\xE9rique de moins de 50 caract\xE8res.
  Ce tracker sera ensuite renvoy\xE9 en param\xE8tre des urls pour les retours des
  accus\xE9s de r\xE9ception. \";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"ucs2\";O:8:\"stdClass\":2:{s:11:\"description\";s:432:\"Il
  est \xE9galement possible d\u2019envoyer des SMS en alphabet non latin (russe, chinois,
  arabe, etc) sur les num\xE9ros hors France m\xE9tropolitaine. Pour ce faire, la
  requ\xEAte devrait \xEAtre encod\xE9e au format UTF-8 et contenir l\u2019argument
  ucs2 = \"1\" Du fait de contraintes techniques, 1 SMS unique ne pourra pas d\xE9passer
  70 caract\xE8res (au lieu des 160 usuels) et dans le cas de SMS long, chaque sms
  ne pourra d\xE9passer 67 caract\xE8res.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"keyid\";i:1;s:3:\"num\";i:2;s:3:\"sms\";}s:4:\"type\";s:6:\"object\";}s:16:\"ShortlinkRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"keyid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shortlink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"keyid\";i:1;s:9:\"shortlink\";}s:4:\"type\";s:6:\"object\";}s:17:\"ShortlinkResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shortlink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:16:\"SmsUniqueRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:8:\"emetteur\";s:8:\"iSendPro\";s:5:\"keyid\";s:11:\"VOTRE_KEYID\";s:3:\"num\";s:10:\"0600123456\";s:3:\"sms\";s:32:\"Bonjour!
  Bienvenue sur iSendPro!\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"date_envoi\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Date
  d'envoi au format YYYY-MM-DD hh:mm . Ce param\xE8tre est optionnel, si il est omis
  l'envoi est r\xE9alis\xE9 imm\xE9diatement.\";s:4:\"type\";s:6:\"string\";}s:8:\"emetteur\";O:8:\"stdClass\":2:{s:11:\"description\";s:580:\"-
  L'emetteur doit \xEAtre une cha\xEEne alphanum\xE9rique comprise entre 4 et 11 caract\xE8res.\n\n-
  Les caract\xE8res accept\xE9s sont les chiffres entre 0 et 9, les lettres entre
  A et Z et l\u2019espace.\n\n- Il ne peut pas comporter uniquement des chiffres.
  \n\n- Pour la modification de l'\xE9metteur et dans le cadre de campagnes commerciales,
  les op\xE9rateurs imposent contractuellement d'ajouter en fin de message le texte
  \"STOP XXXXX\". De ce fait, le message envoy\xE9 ne pourra exc\xE9der une longueur
  de 148 caract\xE8res au lieu des 160 caract\xE8res, le \xAB\_STOP\_\xBB \xE9tant
  rajout\xE9 automatiquement.\n\";s:4:\"type\";s:6:\"string\";}s:8:\"gmt_zone\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Fuseau
  horaire de la date d'envoi\";s:4:\"enum\";a:90:{i:0;s:14:\"Pacific/Midway\";i:1;s:12:\"America/Adak\";i:2;s:10:\"Etc/GMT+10\";i:3;s:17:\"Pacific/Marquesas\";i:4;s:15:\"Pacific/Gambier\";i:5;s:17:\"America/Anchorage\";i:6;s:16:\"America/Ensenada\";i:7;s:9:\"Etc/GMT+8\";i:8;s:19:\"America/Los_Angeles\";i:9;s:14:\"America/Denver\";i:10;s:17:\"America/Chihuahua\";i:11;s:20:\"America/Dawson_Creek\";i:12;s:14:\"America/Belize\";i:13;s:14:\"America/Cancun\";i:14;s:18:\"Chile/EasterIsland\";i:15;s:15:\"America/Chicago\";i:16;s:16:\"America/New_York\";i:17;s:14:\"America/Havana\";i:18;s:14:\"America/Bogota\";i:19;s:15:\"America/Caracas\";i:20;s:16:\"America/Santiago\";i:21;s:14:\"America/La_Paz\";i:22;s:16:\"Atlantic/Stanley\";i:23;s:20:\"America/Campo_Grande\";i:24;s:17:\"America/Goose_Bay\";i:25;s:17:\"America/Glace_Bay\";i:26;s:16:\"America/St_Johns\";i:27;s:17:\"America/Araguaina\";i:28;s:18:\"America/Montevideo\";i:29;s:16:\"America/Miquelon\";i:30;s:15:\"America/Godthab\";i:31;s:30:\"America/Argentina/Buenos_Aires\";i:32;s:17:\"America/Sao_Paulo\";i:33;s:15:\"America/Noronha\";i:34;s:19:\"Atlantic/Cape_Verde\";i:35;s:15:\"Atlantic/Azores\";i:36;s:14:\"Europe/Belfast\";i:37;s:13:\"Europe/Dublin\";i:38;s:13:\"Europe/Lisbon\";i:39;s:13:\"Europe/London\";i:40;s:14:\"Africa/Abidjan\";i:41;s:16:\"Europe/Amsterdam\";i:42;s:15:\"Europe/Belgrade\";i:43;s:15:\"Europe/Brussels\";i:44;s:14:\"Africa/Algiers\";i:45;s:15:\"Africa/Windhoek\";i:46;s:11:\"Asia/Beirut\";i:47;s:12:\"Africa/Cairo\";i:48;s:9:\"Asia/Gaza\";i:49;s:15:\"Africa/Blantyre\";i:50;s:14:\"Asia/Jerusalem\";i:51;s:12:\"Europe/Minsk\";i:52;s:13:\"Asia/Damascus\";i:53;s:13:\"Europe/Moscow\";i:54;s:18:\"Africa/Addis_Ababa\";i:55;s:11:\"Asia/Tehran\";i:56;s:10:\"Asia/Dubai\";i:57;s:12:\"Asia/Yerevan\";i:58;s:10:\"Asia/Kabul\";i:59;s:18:\"Asia/Yekaterinburg\";i:60;s:13:\"Asia/Tashkent\";i:61;s:12:\"Asia/Kolkata\";i:62;s:13:\"Asia/Katmandu\";i:63;s:10:\"Asia/Dhaka\";i:64;s:16:\"Asia/Novosibirsk\";i:65;s:12:\"Asia/Rangoon\";i:66;s:12:\"Asia/Bangkok\";i:67;s:16:\"Asia/Krasnoyarsk\";i:68;s:14:\"Asia/Hong_Kong\";i:69;s:12:\"Asia/Irkutsk\";i:70;s:15:\"Australia/Perth\";i:71;s:15:\"Australia/Eucla\";i:72;s:10:\"Asia/Tokyo\";i:73;s:10:\"Asia/Seoul\";i:74;s:12:\"Asia/Yakutsk\";i:75;s:18:\"Australia/Adelaide\";i:76;s:16:\"Australia/Darwin\";i:77;s:18:\"Australia/Brisbane\";i:78;s:16:\"Australia/Hobart\";i:79;s:16:\"Asia/Vladivostok\";i:80;s:19:\"Australia/Lord_Howe\";i:81;s:10:\"Etc/GMT-11\";i:82;s:12:\"Asia/Magadan\";i:83;s:15:\"Pacific/Norfolk\";i:84;s:11:\"Asia/Anadyr\";i:85;s:16:\"Pacific/Auckland\";i:86;s:10:\"Etc/GMT-12\";i:87;s:15:\"Pacific/Chatham\";i:88;s:17:\"Pacific/Tongatapu\";i:89;s:18:\"Pacific/Kiritimati\";}s:4:\"type\";s:6:\"string\";}s:5:\"keyid\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Cl\xE9
  API\";s:4:\"type\";s:6:\"string\";}s:6:\"nostop\";O:8:\"stdClass\":2:{s:11:\"description\";s:229:\"Si
  le message n\u2019est pas \xE0 but commercial, vous pouvez faire une demande pour
  retirer l\u2019obligation du STOP. Une fois votre demande valid\xE9e par nos services,
  vous pourrez supprimer la mention STOP SMS en ajoutant nostop = \"1\"\";s:4:\"type\";s:6:\"string\";}s:3:\"num\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Numero
  de t\xE9l\xE9phone au format national (exemple 0680010203) ou international (example
  33680010203)\";s:4:\"type\";s:6:\"string\";}s:7:\"numAzur\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:1:\"1\";}s:4:\"type\";s:6:\"string\";}s:3:\"sms\";O:8:\"stdClass\":2:{s:11:\"description\";s:273:\"Message
  \xE0 envoyer aux destinataires. Le message doit \xEAtre encod\xE9 au format utf-8
  et ne contenir que des caract\xE8res existant dans l'alphabet GSM. Il est \xE9galement
  possible d'envoyer (\xE0 l'\xE9tranger uniquement) des SMS en UCS-2, cf param\xE8tre
  ucs2 pour plus de d\xE9tails.\";s:4:\"type\";s:6:\"string\";}s:7:\"smslong\";O:8:\"stdClass\":2:{s:11:\"description\";s:726:\"Le
  SMS long permet de d\xE9passer la limite de 160 caract\xE8res en envoyant un message
  constitu\xE9\nde plusieurs SMS.\nIl est possible d\u2019envoyer jusqu\u2019\xE0
  6 SMS concat\xE9n\xE9s pour une longueur totale maximale de 918\ncaract\xE8res par
  message.\nPour des raisons technique, la limite par SMS concat\xE9n\xE9 \xE9tant
  de 153 caract\xE8res.\nEn cas de modification de l\u2019\xE9metteur, il faut consid\xE9rer
  l\u2019ajout automatique de 12 caract\xE8res\ndu \xAB\_STOP SMS\_\xBB.\nPour envoyer
  un smslong, il faut ajouter le param\xE8tre smslong aux appels. La valeur de SMS
  doit \xEAtre le nombre maximum de sms concat\xE9n\xE9 autoris\xE9.   Pour ne pas
  avoir ce message d\u2019erreur et obtenir un calcul dynamique du nombre de SMS alors
  il faut renseigner smslong = \"999\"\n\";s:4:\"type\";s:6:\"string\";}s:7:\"tracker\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"Le
  tracker doit \xEAtre une chaine alphanum\xE9rique de moins de 50 caract\xE8res.
  Ce tracker sera ensuite renvoy\xE9 en param\xE8tre des urls pour les retours des
  accus\xE9s de r\xE9ception. \";s:4:\"type\";s:6:\"string\";}s:4:\"ucs2\";O:8:\"stdClass\":2:{s:11:\"description\";s:433:\"Il
  est \xE9galement possible d\u2019envoyer des SMS en alphabet non latin (russe, chinois,
  arabe, etc) sur\nles num\xE9ros hors France m\xE9tropolitaine.\nPour ce faire, la
  requ\xEAte devrait \xEAtre encod\xE9e au format UTF-8 et contenir l\u2019argument
  ucs2 = \"1\"\nDu fait de contraintes techniques, 1 SMS unique ne pourra pas d\xE9passer
  70 caract\xE8res (au lieu\ndes 160 usuels) et dans le cas de SMS long, chaque sms
  ne pourra d\xE9passer 67 caract\xE8res.\n\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"keyid\";i:1;s:3:\"num\";i:2;s:3:\"sms\";}s:4:\"type\";s:6:\"object\";}s:20:\"SubaccountAddRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"keyid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"subAccountEdit\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:10:\"addAccount\";}s:4:\"type\";s:6:\"string\";}s:15:\"subAccountLogin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"subAccountPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:5:\"keyid\";i:1;s:14:\"subAccountEdit\";i:2;s:15:\"subAccountLogin\";i:3;s:18:\"subAccountPassword\";}s:4:\"type\";s:6:\"object\";}s:21:\"SubaccountAddResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"subAccountId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"subAccountKeyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"subAccountLogin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:17:\"SubaccountRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"keyid\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Cl\xE9
  API\";s:4:\"type\";s:6:\"string\";}s:19:\"subAccountAddCredit\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"montant
  du cr\xE9dit \xE0 ajouter\";s:4:\"type\";s:6:\"string\";}s:21:\"subAccountCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"subAccountEdit\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"action
  \xE0 r\xE9aliser soit setPrice pour d\xE9finir un prix ou addCredit pour ajouter
  du credit ou setRestriction modifier la restriction stop /\";s:4:\"enum\";a:3:{i:0;s:8:\"setPrice\";i:1;s:9:\"addCredit\";i:2;s:14:\"setRestriction\";}s:4:\"type\";s:6:\"string\";}s:15:\"subAccountKeyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"keyid
  du sous-compte\";s:4:\"type\";s:6:\"string\";}s:15:\"subAccountPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"subAccountRestrictionStop\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:1:\"0\";i:1;s:1:\"1\";}s:4:\"type\";s:6:\"string\";}s:25:\"subAccountRestrictionTime\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:1:\"0\";i:1;s:1:\"1\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"keyid\";i:1;s:14:\"subAccountEdit\";}s:4:\"type\";s:6:\"object\";}s:18:\"SubaccountResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"etat\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"subAccountId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"subAccountKeyid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}"
...
