---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Reference Implementation
  of XS2A REST Services\";s:7:\"version\";s:14:\"0.9.2-SNAPSHOT\";s:5:\"title\";s:13:\"XS2A
  Services\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"Andreas Reetz\";s:5:\"email\";s:23:\"andreas.reetz@sdv-it.de\";}}"
host: api.sdv-it.de
basePath: /tpp
paths:
  /{version}/accounts:
    get:
      tags:
      - Accounts
      summary: Read Account List (page 59) - reads all accounts belonging to PSU identified
        by OAuth2 Access Token
      description: ""
      operationId: readAccountList
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: Consent-ID
        in: header
        description: Shall be contained if Consent Trasaction was performed via this
          API before
        required: false
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      responses:
        200:
          description: OK, accounts returned
          schema:
            $ref: '#/definitions/AccountResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
  /{version}/accounts/{account-id}/balances:
    get:
      tags:
      - Accounts
      summary: Read Balance (page 61) - reads all balances according to specified
        account
      description: ""
      operationId: readBalance
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: account-id
        in: path
        description: Account ID
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: Consent-ID
        in: header
        description: Consent-ID as from Trasaction performed via this API before
        required: true
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      responses:
        200:
          description: OK, balances returned
          schema:
            $ref: '#/definitions/AccountBalanceResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
  /{version}/accounts/{account-id}/transactions:
    get:
      tags:
      - Accounts
      summary: Read Transaction List (page 64) - reads all transactions according
        to specified account
      description: ""
      operationId: readTransactions
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: account-id
        in: path
        description: Account ID
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: Consent-ID
        in: header
        description: Consent-ID as from Trasaction performed via this API before
        required: false
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      - name: date_from
        in: query
        description: Date from
        required: true
        type: string
      - name: date_to
        in: query
        description: Date to
        required: true
        type: string
      responses:
        200:
          description: OK, transactions returned
          schema:
            $ref: '#/definitions/AccountTransactionsResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
  /{version}/accounts/{account-id}/transactions/{page}:
    get:
      tags:
      - Accounts
      summary: Read Transaction List (page 64) - reads all transactions according
        to specified account with pagination
      description: ""
      operationId: readTransactionsPage
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: account-id
        in: path
        description: Account ID
        required: true
        type: string
      - name: page
        in: path
        description: -- / first /second / current / last
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: Consent-ID
        in: header
        description: Consent-ID as from Trasaction performed via this API before
        required: false
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      - name: date_from
        in: query
        description: Date from
        required: true
        type: string
      - name: date_to
        in: query
        description: Date to
        required: true
        type: string
      responses:
        200:
          description: OK, transactions returned
          schema:
            $ref: '#/definitions/AccountTransactionsResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
  /{version}/confirmation-of-funds/{provider-id}:
    post:
      tags:
      - Confirmation
      summary: Confirmation of Funds (page 84) - creates a confirmation of funds request
        at the ASPSP
      description: ""
      operationId: confirmationOfFunds
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: provider-id
        in: path
        description: Provider Identification
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      - in: body
        name: body
        description: Request body
        required: true
        schema:
          $ref: '#/definitions/ConfirmationOfFundsRequest'
      responses:
        201:
          description: OK, funds request was correctly performe
          schema:
            $ref: '#/definitions/ConfirmationOfFundsResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
        406:
          description: (Not Acceptable) ? - not documented but necessary hier
  /{version}/consents:
    post:
      tags:
      - Consents
      summary: Account Information Consent Request (page 48) - creates an account
        information consent resource at the ASPSP regarding access to specified accounts
      description: ""
      operationId: informationConsent
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: PSU-Corporate-ID
        in: header
        description: Only used in a corporate context
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      - in: body
        name: body
        description: Request body
        required: true
        schema:
          $ref: '#/definitions/InformationConsentRequest'
      responses:
        201:
          description: OK, request received
          schema:
            $ref: '#/definitions/InformationConsentResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
  /{version}/consents/{consent-id}:
    get:
      tags:
      - Consents
      summary: Get Consent Request (page 56) - returns the content of of an account
        information consent object
      description: ""
      operationId: consentRequest
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: consent-id
        in: path
        description: Consent ID as received from account information consent
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: PSU-Corporate-ID
        in: header
        description: Only used in a corporate context
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      responses:
        200:
          description: OK, request received
          schema:
            $ref: '#/definitions/ConsentRequestResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
    put:
      tags:
      - Consents
      summary: Update PSU Data (page 70) - updates the account information consent
        data by PSU data
      description: ""
      operationId: updatePSUData
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: consent-id
        in: path
        description: Consent ID as received from account information consent
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: PSU-Corporate-ID
        in: header
        description: Only in corporate context
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      - in: body
        name: body
        description: Request body
        required: true
        schema:
          $ref: '#/definitions/UpdatePSUDataRequest'
      responses:
        200:
          description: OK, request received
          schema:
            $ref: '#/definitions/UpdatePSUDataResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
    delete:
      tags:
      - Consents
      summary: Delete an Account Information Consent Object (page 58) - deletes the
        consent object
      description: ""
      operationId: deleteConsent
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: consent-id
        in: path
        description: Consent ID as received from account information consent
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      responses:
        204:
          description: OK, request received
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
  /{version}/consents/{consent-id}/status:
    get:
      tags:
      - Consents
      summary: Get Status Request (page 55) - reads the transaction status of the
        addressed consent resource
      description: ""
      operationId: statusRequest
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: consent-id
        in: path
        description: Consent ID as received from account information consent
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: PSU-Corporate-ID
        in: header
        description: Only used in a corporate context
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      responses:
        200:
          description: OK, request received
          schema:
            $ref: '#/definitions/StatusResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
  /{version}/payments/{payment-product}:
    post:
      tags:
      - Payments
      summary: Payment Initiation Request (page 25) - creates a payment initiation
        request at the ASPSP
      description: ""
      operationId: paymentInitiationRequest
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: payment-product
        in: path
        description: sepa-credit-transfers / instant-sepa-credit-transfers / target-2-payments
          / cross-border-credit-transfers
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: PSU-Corporate-ID
        in: header
        description: Only used in a corporate context
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: Consent-ID
        in: header
        description: May be contained, if the payment initiation transaction is part
          of a combined AIS/PIS service
        required: false
        type: string
      - name: PSU-Agent
        in: header
        description: The forwarded Agent header field of the http request between
          PSU and TPP
        required: false
        type: string
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding
          http request IP Address between PSU and TPP
        required: true
        type: string
      - name: PSU-Geo-Location
        in: header
        description: The forwarded Geo Location header field of the corresponding
          http request between PSU and TPP if available
        required: false
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      - in: body
        name: body
        description: Request body
        required: true
        schema:
          $ref: '#/definitions/PaymentInitiationRequest'
      responses:
        201:
          description: OK, request received
          schema:
            $ref: '#/definitions/PaymentInitiationResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
  /{version}/payments/{payment-product}/{payment-id}:
    get:
      tags:
      - Payments
      summary: Read Payment Data (page ?) - reads the details of an initiated payment
      description: ""
      operationId: readData
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: payment-product
        in: path
        description: sepa-credit-transfers / instant-sepa-credit-transfers / target-2-payments
          / cross-border-credit-transfers
        required: true
        type: string
      - name: payment-id
        in: path
        description: Payment ID as received from the Payment Initiation
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      responses:
        200:
          description: OK, request received
          schema:
            $ref: '#/definitions/PaymentInitiationResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
    put:
      tags:
      - Payments
      summary: Update PSU data (page 70) - updates the payment initiation data by
        PSU data
      description: ""
      operationId: updatePSUData
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: payment-product
        in: path
        description: sepa-credit-transfers / instant-sepa-credit-transfers / target-2-payments
          / cross-border-credit-transfers
        required: true
        type: string
      - name: payment-id
        in: path
        description: Payment ID as received from the Payment Initiation
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: PSU-Corporate-ID
        in: header
        description: Only in corporate context
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      - in: body
        name: body
        description: Request body
        required: true
        schema:
          $ref: '#/definitions/UpdatePSUDataRequest'
      responses:
        200:
          description: OK, request received
          schema:
            $ref: '#/definitions/UpdatePSUDataResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
  /{version}/payments/{payment-product}/{payment-id}/status:
    get:
      tags:
      - Payments
      summary: Get Status Request (page 33) - check the status of the payment initiation
      description: ""
      operationId: statusRequest
      produces:
      - application/json
      parameters:
      - name: version
        in: path
        description: Version
        required: true
        type: string
      - name: payment-product
        in: path
        description: sepa-credit-transfers / instant-sepa-credit-transfers / target-2-payments
          / cross-border-credit-transfers
        required: true
        type: string
      - name: payment-id
        in: path
        description: Payment ID as received from the Payment Initiation
        required: true
        type: string
      - name: Process-ID
        in: header
        description: ID of the transaction as determined by the initiating party (UUID)
        required: true
        type: string
      - name: Request-ID
        in: header
        description: ID of the request (UUID)
        required: true
        type: string
      - name: PSU-ID
        in: header
        description: To be used if no OAuth Pre-Step was performed
        required: false
        type: string
      - name: Authorization
        in: header
        description: Access Token as obtained from Authorization Server
        required: true
        type: string
      - name: signature
        in: header
        description: A signature of the request by the TPP on application level
        required: false
        type: string
      - name: certificate
        in: header
        description: The certificate used for signing the request
        required: false
        type: string
      - name: Date
        in: header
        description: Standard https header element for Date and Time
        required: true
        type: string
      responses:
        200:
          description: OK, request received
          schema:
            $ref: '#/definitions/StatusResponse'
        400:
          description: (Bad Request) Validation error occured
        401:
          description: (Unauthorized) Access Token is not valid
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":27:{s:7:\"Account\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"3dc3d5b3-7023-4848-9853-f5400a64e80f\";s:11:\"description\";s:13:\"Id
  of account\";}s:4:\"iban\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"DE2310010010123456789\";s:11:\"description\";s:4:\"IBAN\";}s:4:\"bban\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"id
  for payment account without IBAN\";}s:3:\"pan\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"1234567890-12345\";s:11:\"description\";s:32:\"Primary
  Account Number of a card\";}s:6:\"msisdn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"An
  alias to access a payment account via a registered mobile phone number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Name
  given by the bank or the PSU in online banking\";}s:12:\"account_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"US
  dollar account\";s:11:\"description\";s:15:\"Type of account\";}s:3:\"bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  BIC associated to the account\";}s:8:\"balances\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Balances\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"EUR\";s:11:\"description\";s:16:\"account
  currency\";}s:6:\"_links\";O:8:\"stdClass\":3:{s:7:\"example\";s:58:\"/v1/accounts/3dc3d5b3-7023-4848-9853-f5400a64e81g/balances\";s:11:\"description\";s:33:\"Links
  to balances or transactions\";s:4:\"$ref\";s:19:\"#/definitions/Links\";}}s:11:\"description\";s:15:\"Account
  details\";}s:14:\"AccountAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"iban\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"DE2310010010123456789\";s:11:\"description\";s:4:\"IBAN\";}s:4:\"bban\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"id
  for payment account without IBAN\";}s:3:\"pan\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"1234567890-12345\";s:11:\"description\";s:32:\"Primary
  Account Number of a card\";}s:6:\"msisdn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"An
  alias to access a payment account via a registered mobile phone number\";}}}s:13:\"AccountAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:7:\"content\";i:1;s:8:\"currency\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"EUR\";s:11:\"description\";s:25:\"Abbreviation
  for currency\";}s:7:\"content\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"-100,00\";s:11:\"description\";s:6:\"Amount\";}}}s:14:\"AccountBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"booked\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Last
  known book balance of the account\";s:4:\"$ref\";s:31:\"#/definitions/AccountBalanceInf\";}s:8:\"expected\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Balanced
  composed of booked entries and pending items\";s:4:\"$ref\";s:31:\"#/definitions/AccountBalanceInf\";}s:10:\"authorised\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  expected balance together with the value of a pre-approved permanently available
  credit line\";s:4:\"$ref\";s:31:\"#/definitions/AccountBalanceInf\";}s:14:\"opening_booked\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Balance
  at the beginning of the reporting period\";s:4:\"$ref\";s:31:\"#/definitions/AccountBalanceInf\";}s:14:\"closing_booked\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Balance
  at the end of the pre-agreed reporting period\";s:4:\"$ref\";s:31:\"#/definitions/AccountBalanceInf\";}s:17:\"interim_available\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Calculated
  on the basis of booked credit and debit items\";s:4:\"$ref\";s:31:\"#/definitions/AccountBalanceInf\";}}}s:17:\"AccountBalanceInf\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"amount\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Amount
  and currency for balance for\";s:4:\"$ref\";s:27:\"#/definitions/AccountAmount\";}s:21:\"last_action_date_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-11-01\";s:11:\"description\";s:27:\"Date
  for last actualization\";}}}s:22:\"AccountBalanceResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"balances\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AccountBalance\";}}}s:11:\"description\";s:62:\"Response
  for /{version}/accounts/{account-id}/balances request\";}s:11:\"AccountName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Merchant123\";s:11:\"description\";s:21:\"Name
  of account owner\";}}}s:15:\"AccountResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"accounts\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"accounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"List
  of accounts\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}}}s:11:\"description\";s:40:\"Response
  for /{version}/accounts request\";}s:18:\"AccountTransaction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:6:\"amount\";i:1;s:12:\"booking_date\";i:2;s:35:\"remittance_information_unstructured\";i:3;s:14:\"transaction_id\";i:4;s:10:\"value_date\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"transaction_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"1234567\";s:11:\"description\";s:18:\"ID
  for transaction\";}s:13:\"creditor_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"John
  Miles\";s:11:\"description\";s:13:\"Creditor name\";}s:16:\"creditor_account\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Creditor
  account\";s:4:\"$ref\";s:28:\"#/definitions/AccountAccount\";}s:11:\"debtor_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Paul
  Simpson\";s:11:\"description\";s:11:\"Debtor name\";}s:14:\"debtor_account\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Debtor
  account\";s:4:\"$ref\";s:28:\"#/definitions/AccountAccount\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"$ref\";s:27:\"#/definitions/AccountAmount\";}s:12:\"booking_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-10-25\";s:11:\"description\";s:12:\"Booking
  date\";}s:10:\"value_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-10-26\";s:11:\"description\";s:10:\"Value
  date\";}s:35:\"remittance_information_unstructured\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:34:\"Example
  for Remittance Information\";s:11:\"description\";s:22:\"Remittance information\";}}}s:19:\"AccountTransactions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"_links\";i:1;s:6:\"booked\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"booked\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:37:\"transactions
  consider closed bookings\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AccountTransaction\";}}s:7:\"pending\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"transactions
  consider planned bookings\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AccountTransaction\";}}s:6:\"_links\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"account_link
  / first_page_link / ... / last_page_link\";s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:27:\"AccountTransactionsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"transactions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AccountTransactions\";}}s:11:\"description\";s:66:\"Response
  for /{version}/accounts/{account-id}/transactions request\";}s:27:\"AuthenticationChallengeData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"PNG
  data to be displayed to the PSU\";}s:14:\"otp_max_length\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"6\";s:11:\"description\";s:52:\"The
  maximal length for the OTP to be typed in by PSU\";}s:10:\"otp_format\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"integer\";s:11:\"description\";s:41:\"The
  format type of the OTP to be typed in\";}s:22:\"additional_information\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Additional
  explanation for the PSU\";}}}s:20:\"AuthenticationMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:24:\"authentication_method_id\";i:1;s:19:\"authentication_type\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"authentication_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"SMS_OTP\";s:11:\"description\";s:19:\"Authentication
  Type\";}s:24:\"authentication_method_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"myAuthenticationID\";s:11:\"description\";s:24:\"Authentication
  Method Id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Name
  of the Authentication Method\";}s:11:\"explanation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Detailed
  information about Authentication Method\";}}}s:26:\"ConfirmationOfFundsRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:17:\"instructed_amount\";i:1;s:11:\"psu_account\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"card_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Card
  Number of the card issued by the PIISP\";}s:11:\"psu_account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"PSU's
  account number\";}s:5:\"payee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Merchant123\";s:11:\"description\";s:68:\"The
  merchant where the card is accepted as an information to the PSU\";}s:17:\"instructed_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Transaction
  amount to be checked within the funds check mechanism\";s:4:\"$ref\";s:27:\"#/definitions/AccountAmount\";}}}s:27:\"ConfirmationOfFundsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"tpp_message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Message
  to the PSU\";s:4:\"$ref\";s:25:\"#/definitions/TppMessages\";}}}s:20:\"ConsentAccessAccount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"access\";i:1;s:4:\"iban\";i:2;s:3:\"pan\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"iban\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"DE2310010010123456789\";s:11:\"description\";s:38:\"Iban
  (either Iban or pan must be sent)\";}s:3:\"pan\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"1234567890-12345\";s:11:\"description\";s:37:\"Pan
  (either Iban or pan must be sent)\";}s:6:\"access\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:7:\"example\";s:7:\"balance\";s:11:\"description\";s:11:\"Access
  type\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:22:\"ConsentRequestResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:15:\"access_accounts\";i:1;s:14:\"consent_status\";i:2;s:17:\"frequency_per_day\";i:3;s:19:\"recurring_indicator\";i:4;s:18:\"transaction_status\";i:5;s:11:\"valid_until\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"access_accounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"List
  of accounts to be accessed\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ConsentAccessAccount\";}}s:19:\"recurring_indicator\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:44:\"\"true\"
  if the consent is for requring access\";}s:11:\"valid_until\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-10-30\";s:11:\"description\";s:42:\"Valid
  until date for the requested consent\";}s:17:\"frequency_per_day\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:4;s:11:\"description\";s:39:\"Maximum
  frequency for an access per day\";}s:18:\"transaction_status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"AcceptedTechnicalValidation\";s:11:\"description\";s:18:\"Transaction
  status\";}s:14:\"consent_status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"valid\";s:11:\"description\";s:51:\"Only
  permitted: empty|valid|blocked|expired|deleted\";}}}s:25:\"InformationConsentRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:15:\"access_accounts\";i:1;s:26:\"combined_service_indicator\";i:2;s:17:\"frequency_per_day\";i:3;s:19:\"recurring_indicator\";i:4;s:11:\"valid_until\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"access_accounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"List
  of accounts to be accessed\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ConsentAccessAccount\";}}s:19:\"recurring_indicator\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:44:\"\"true\"
  if the consent is for requring access\";}s:11:\"valid_until\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-10-30\";s:11:\"description\";s:42:\"Valid
  until date for the requested consent\";}s:17:\"frequency_per_day\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:4;s:11:\"description\";s:39:\"Maximum
  frequency for an access per day\";}s:26:\"combined_service_indicator\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:74:\"\"true\":
  a payment initiation service will be address in the same \"session\"\";}}}s:26:\"InformationConsentResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"_links\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"sca_methods\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:37:\"name
  or names of autheticated methods\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AuthenticationMethod\";}}s:17:\"chosen_sca_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"name
  of chosen method\";s:4:\"$ref\";s:34:\"#/definitions/AuthenticationMethod\";}s:17:\"sca_chalenge_data\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Extended
  information to chosen_sca_method\";s:4:\"$ref\";s:41:\"#/definitions/AuthenticationChallengeData\";}s:18:\"transaction_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Status\";}s:11:\"psu_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Text
  to be displayed to the PSU\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Link
  to (PUT) Update PSU Ddata / (GET) Consent Request\";s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}s:5:\"Links\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"self\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Link
  to self\";}s:8:\"redirect\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"In
  case of an SCA Redirect Approach - the redirect link\";}s:25:\"update_psu_identification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Link
  to Update PSU Identification\";}s:25:\"update_psu_authentication\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Link
  to Update PSU Authetication (mandatory if SCA approach is 'Embedded')\";}s:28:\"select_authentication_method\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Link
  to resource where TPP can select authentication method\";}s:21:\"authorise_transaction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"Link
  to resource where TPP can send 'Transaction Authorisation Request'\";}s:12:\"account_link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Link
  to an accounts/.../transactions\";}s:8:\"balances\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:58:\"/v1/accounts/3dc3d5b3-7023-4848-9853-f5400a64e80f/balances\";s:11:\"description\";s:40:\"Link
  to balances of account is to return\";}s:11:\"transaction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:62:\"/v1/accounts/3dc3d5b3-7023-4848-9853-f5400a64e80f/transactions\";s:11:\"description\";s:44:\"Link
  to transactions of account is to return\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Link
  to Status\";}s:15:\"first_page_link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Navigation
  link for accounts reports\";}s:16:\"second_page_link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Navigation
  link for accounts reports\";}s:17:\"current_page_link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Navigation
  link for accounts reports\";}s:14:\"last_page_link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Navigation
  link for accounts reports\";}}}s:7:\"PSUData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"PSU
  password for Update PSU Data (Authentication)\";}}}s:24:\"PaymentInitiationRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:8:\"creditor\";i:1;s:16:\"creditor_account\";i:2;s:14:\"debtor_account\";i:3;s:17:\"instructed_amount\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"instructed_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"currency
  and amount\";s:4:\"$ref\";s:27:\"#/definitions/AccountAmount\";}s:14:\"debtor_account\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Debtor
  account\";s:4:\"$ref\";s:28:\"#/definitions/AccountAccount\";}s:8:\"creditor\";O:8:\"stdClass\":3:{s:7:\"example\";s:11:\"Merchant123\";s:11:\"description\";s:13:\"Creditor
  name\";s:4:\"$ref\";s:25:\"#/definitions/AccountName\";}s:16:\"creditor_account\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Creditor
  account\";s:4:\"$ref\";s:28:\"#/definitions/AccountAccount\";}s:33:\"remittance_information_structured\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"false\";s:11:\"description\";s:74:\"\"true\":
  a payment initiation service will be address in the same \"session\"\";}}}s:25:\"PaymentInitiationResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"_links\";i:1;s:18:\"transaction_status\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"sca_methods\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:37:\"name
  or names of autheticated methods\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AuthenticationMethod\";}}s:17:\"chosen_sca_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"name
  of chosen method\";s:4:\"$ref\";s:34:\"#/definitions/AuthenticationMethod\";}s:17:\"sca_chalenge_data\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Extended
  information to chosen_sca_method\";s:4:\"$ref\";s:41:\"#/definitions/AuthenticationChallengeData\";}s:18:\"transaction_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Status\";}s:11:\"psu_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Text
  to be displayed to the PSU\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Link
  to (PUT) Update PSU Ddata / (GET) Consent Request\";s:4:\"$ref\";s:19:\"#/definitions/Links\";}s:12:\"tpp_messages\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TppMessages\";}}}s:14:\"StatusResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:18:\"transaction_status\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"transaction_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Status\";}}}s:11:\"TppMessages\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:8:\"category\";i:1;s:4:\"code\";i:2;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"ERROR\";s:11:\"description\";s:15:\"Mesage
  category\";}s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"TOKEN_MISSING\";s:11:\"description\";s:12:\"Message
  code\";}s:4:\"text\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:40:\"additional
  text information of the ASPSP\";s:11:\"description\";s:12:\"Message text\";}}}s:20:\"UpdatePSUDataRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:24:\"authentication_method_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"authentication
  method id for Update PSU Data (Authentication Method)\";}s:8:\"psu_data\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"PSU
  Data for Update PSU Data (Authentication)\";s:4:\"$ref\";s:21:\"#/definitions/PSUData\";}s:23:\"sca_authentication_data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"sca_authentication_data
  - for Authorise Request\";}}s:11:\"description\";s:23:\"Update PSU Data Request\";}s:21:\"UpdatePSUDataResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"_links\";i:1;s:18:\"transaction_status\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"sca_methods\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:37:\"name
  or names of autheticated methods\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AuthenticationMethod\";}}s:17:\"chosen_sca_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"name
  of chosen method\";s:4:\"$ref\";s:34:\"#/definitions/AuthenticationMethod\";}s:17:\"sca_chalenge_data\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Extended
  information to chosen_sca_method\";s:4:\"$ref\";s:41:\"#/definitions/AuthenticationChallengeData\";}s:18:\"transaction_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Status\";}s:11:\"psu_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Text
  to be displayed to the PSU\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Links\";s:4:\"$ref\";s:19:\"#/definitions/Links\";}}}}"
...
