---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:177:\"With the PureCloud
  Platform API, you can control all aspects of your PureCloud environment. With the
  APIs you can access the system configuration, manage conversations and more.\";s:7:\"version\";s:2:\"v2\";s:5:\"title\";s:22:\"PureCloud
  Platform API\";s:14:\"termsOfService\";s:59:\"https://help.mypurecloud.com/articles/terms-and-conditions/\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:31:\"PureCloud
  Developer Evangelists\";s:3:\"url\";s:33:\"https://developer.mypurecloud.com\";s:5:\"email\";s:32:\"DeveloperEvangelists@genesys.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"UNLICENSED\";s:3:\"url\";s:59:\"https://help.mypurecloud.com/articles/terms-and-conditions/\";}}"
host: api.mypurecloud.com
paths:
  /api/v2/webchat/guest/conversations/{conversationId}/members/{memberId}/messages:
    post:
      tags:
      - WebChat
      summary: Send a message in a chat conversation.
      description: ""
      operationId: postWebchatGuestConversationMemberMessages
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        type: string
      - name: memberId
        in: path
        description: memberId
        required: true
        type: string
      - in: body
        name: body
        description: Message
        required: true
        schema:
          $ref: '#/definitions/CreateWebChatMessageRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WebChatMessage'
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            chat.error.conversation.state: The conversation is in a state which does
              not permit this action.
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ'
            chat.error.member.state: The conversation member is in a state which does
              not permit this action.
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable
              values are: %s'
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - Guest Chat JWT: []
      x-purecloud-method-name: postWebchatGuestConversationMemberMessages
  /api/v2/webchat/guest/conversations/{conversationId}/members/{memberId}/typing:
    post:
      tags:
      - WebChat
      summary: Send a typing-indicator in a chat conversation.
      description: ""
      operationId: postWebchatGuestConversationMemberTyping
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        type: string
      - name: memberId
        in: path
        description: memberId
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WebChatTyping'
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            chat.error.conversation.state: The conversation is in a state which does
              not permit this action.
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ'
            chat.error.member.state: The conversation member is in a state which does
              not permit this action.
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable
              values are: %s'
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - Guest Chat JWT: []
      x-purecloud-method-name: postWebchatGuestConversationMemberTyping
  /api/v2/webchat/guest/conversations/{conversationId}/members/{memberId}:
    get:
      tags:
      - WebChat
      summary: Get a web chat conversation member
      description: ""
      operationId: getWebchatGuestConversationMember
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        type: string
      - name: memberId
        in: path
        description: memberId
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WebChatMemberInfo'
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable
              values are: %s'
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - Guest Chat JWT: []
      x-purecloud-method-name: getWebchatGuestConversationMember
    delete:
      tags:
      - WebChat
      summary: Remove a member from a chat conversation
      description: ""
      operationId: deleteWebchatGuestConversationMember
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        type: string
      - name: memberId
        in: path
        description: memberId
        required: true
        type: string
      responses:
        204:
          description: Operation was successful.
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            chat.error.conversation.state: The conversation is in a state which does
              not permit this action.
            chat.error.member.state: The conversation member is in a state which does
              not permit this action.
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - Guest Chat JWT: []
      x-purecloud-method-name: deleteWebchatGuestConversationMember
  /api/v2/webchat/guest/conversations/{conversationId}/members:
    get:
      tags:
      - WebChat
      summary: Get the members of a chat conversation.
      description: ""
      operationId: getWebchatGuestConversationMembers
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        type: string
      - name: pageSize
        in: query
        description: The number of entries to return per page, or omitted for the
          default.
        required: false
        type: integer
        default: 25
        format: int32
      - name: pageNumber
        in: query
        description: The page number to return, or omitted for the first page.
        required: false
        type: integer
        default: 1
        format: int32
      - name: excludeDisconnectedMembers
        in: query
        description: If true, the results will not contain members who have a DISCONNECTED
          state.
        required: false
        type: boolean
        default: false
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WebChatMemberInfoEntityList'
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable
              values are: %s'
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - Guest Chat JWT: []
      x-purecloud-method-name: getWebchatGuestConversationMembers
  /api/v2/webchat/guest/conversations/{conversationId}/mediarequests:
    get:
      tags:
      - WebChat
      summary: Get all media requests to the guest in the conversation
      description: ""
      operationId: getWebchatGuestConversationMediarequests
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WebChatGuestMediaRequestEntityList'
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable
              values are: %s'
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - Guest Chat JWT: []
      x-purecloud-method-name: getWebchatGuestConversationMediarequests
  /api/v2/webchat/guest/conversations/{conversationId}/messages:
    get:
      tags:
      - WebChat
      summary: Get the messages of a chat conversation.
      description: ""
      operationId: getWebchatGuestConversationMessages
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        type: string
      - name: after
        in: query
        description: If available, get the messages chronologically after the id of
          this message
        required: false
        type: string
      - name: before
        in: query
        description: If available, get the messages chronologically before the id
          of this message
        required: false
        type: string
      - name: sortOrder
        in: query
        description: Sort order
        required: false
        type: string
        default: ascending
        enum:
        - ascending
        - descending
      - name: maxResults
        in: query
        description: Limit the returned number of messages, up to a maximum of 100
        required: false
        type: integer
        default: 100
        format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WebChatMessageEntityList'
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable
              values are: %s'
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - Guest Chat JWT: []
      x-purecloud-method-name: getWebchatGuestConversationMessages
  /api/v2/webchat/guest/conversations/{conversationId}/mediarequests/{mediaRequestId}:
    get:
      tags:
      - WebChat
      summary: Get a media request in the conversation
      description: ""
      operationId: getWebchatGuestConversationMediarequest
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        type: string
      - name: mediaRequestId
        in: path
        description: mediaRequestId
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WebChatGuestMediaRequest'
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable
              values are: %s'
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - Guest Chat JWT: []
      x-purecloud-method-name: getWebchatGuestConversationMediarequest
    patch:
      tags:
      - WebChat
      summary: Update a media request in the conversation, setting the state to ACCEPTED/DECLINED/ERRORED
      description: ""
      operationId: patchWebchatGuestConversationMediarequest
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        type: string
      - name: mediaRequestId
        in: path
        description: mediaRequestId
        required: true
        type: string
      - in: body
        name: body
        description: Request
        required: true
        schema:
          $ref: '#/definitions/WebChatGuestMediaRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WebChatGuestMediaRequest'
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            chat.error.conversation.state: The conversation is in a state which does
              not permit this action.
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable
              values are: %s'
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - Guest Chat JWT: []
      x-purecloud-method-name: patchWebchatGuestConversationMediarequest
  /api/v2/webchat/guest/conversations/{conversationId}/messages/{messageId}:
    get:
      tags:
      - WebChat
      summary: Get a web chat conversation message
      description: ""
      operationId: getWebchatGuestConversationMessage
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        type: string
      - name: messageId
        in: path
        description: messageId
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WebChatMessage'
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable
              values are: %s'
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - Guest Chat JWT: []
      x-purecloud-method-name: getWebchatGuestConversationMessage
  /api/v2/webchat/guest/conversations:
    post:
      tags:
      - WebChat
      summary: Create an ACD chat conversation from an external customer.
      description: This endpoint will create a new ACD Chat conversation under the
        specified Chat Deployment.n The conversation will begin with a guest member
        in it (with a role=CUSTOMER) according to the customer information that is
        supplied. If the guest member is authenticated, the 'memberAuthToken' field
        should include his JWT as generated by the 'POST /api/v2/signeddata' resource;
        if the guest member is anonymous (and the Deployment permits it) this field
        can be omitted.n The returned data includes the IDs of the conversation created,
        along with a newly-create JWT token that you can supply to all future endpoints
        as authentication to perform operations against that conversation. After successfully
        creating a conversation, you should connect a websocket to the event stream
        named in the 'eventStreamUri' field of the response; the conversation is not
        routed until the event stream is attached.
      operationId: postWebchatGuestConversations
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: CreateConversationRequest
        required: true
        schema:
          $ref: '#/definitions/CreateWebChatConversationRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/CreateWebChatConversationResponse'
        400:
          description: The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            chat.deployment.disabled: The web chat deployment is currently disabled.
            chat.deployment.bad.auth: The customer member authentication has failed.
            chat.error.invalid.queue: The specified queue is not valid.
            bad.request: The request could not be understood by the server due to
              malformed syntax.
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ'
            chat.error.createconversationrequest.routingtarget: The routing target
              is not valid.
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable
              values are: %s'
            chat.deployment.require.auth: The deployment requires the customer member
              to be authenticated.
        401:
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            credentials.expired: The supplied credentials are expired and cannot be
              used.
            authentication.required: No authentication bearer token specified in authorization
              header.
            bad.credentials: Invalid login credentials.
        403:
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.permissions: 'Unable to perform the requested action. You are
              missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You
              must have at least one of the following permissions assigned: %s'
        404:
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        415:
          description: Unsupported Media Type - Unsupported or incorrect media type,
            such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect
              media type, such as an incorrect Content-Type value in the header.
        429:
          description: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests: Rate limit exceeded the maximum [%s] requests within
              [%s] seconds
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition
              which prevented it from fulfilling the request.
        503:
          description: Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable
              (because it is overloaded or down for maintenance).
        504:
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      x-purecloud-method-name: postWebchatGuestConversations
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:27:\"CreateWebChatMessageRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"body\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"The
  message body. Note that message bodies are limited to 4,000 characters.\";}s:8:\"bodyType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"The
  purpose of the message within the conversation, such as a standard text entry versus
  a greeting.\";s:4:\"enum\";a:5:{i:0;s:8:\"standard\";i:1;s:6:\"notice\";i:2;s:11:\"member-join\";i:3;s:12:\"member-leave\";i:4;s:13:\"media-request\";}}}}s:14:\"WebChatMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:4:\"body\";i:1;s:8:\"bodyType\";i:2;s:12:\"conversation\";i:3;s:6:\"sender\";i:4;s:9:\"timestamp\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  globally unique identifier for the object.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"conversation\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  identifier of the conversation\";s:4:\"$ref\";s:33:\"#/definitions/WebChatConversation\";}s:6:\"sender\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  member who sent the message\";s:4:\"$ref\";s:31:\"#/definitions/WebChatMemberInfo\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  message body.\";}s:8:\"bodyType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"The
  purpose of the message within the conversation, such as a standard text entry versus
  a greeting.\";s:4:\"enum\";a:5:{i:0;s:8:\"standard\";i:1;s:6:\"notice\";i:2;s:11:\"member-join\";i:3;s:12:\"member-leave\";i:4;s:13:\"media-request\";}}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:48:\"The
  timestamp of the message, in ISO-8601 format\";}s:7:\"selfUri\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:11:\"description\";s:23:\"The
  URI for this object\";s:8:\"readOnly\";b:1;}}}s:19:\"WebChatConversation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  globally unique identifier for the object.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"member\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Chat
  Member\";s:4:\"$ref\";s:31:\"#/definitions/WebChatMemberInfo\";}s:7:\"selfUri\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:11:\"description\";s:23:\"The
  URI for this object\";s:8:\"readOnly\";b:1;}}}s:17:\"WebChatMemberInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"role\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  communicationId of this member.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  display name of the member.\";}s:14:\"avatarImageUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:11:\"description\";s:42:\"The
  url to the avatar image of the member.\";}s:4:\"role\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  role of the member, one of [agent, customer, acd, workflow]\";s:4:\"enum\";a:4:{i:0;s:5:\"AGENT\";i:1;s:8:\"CUSTOMER\";i:2;s:8:\"WORKFLOW\";i:3;s:3:\"ACD\";}}s:8:\"joinDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:130:\"The
  time the member joined the conversation. Date time is represented as an ISO-8601
  string. For example: yyyy-MM-ddTHH:mm:ss.SSSZ\";}s:9:\"leaveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:187:\"The
  time the member left the conversation, or null if the member is still active in
  the conversation. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss.SSSZ\";}s:18:\"authenticatedGuest\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"If
  true, the guest member is an authenticated guest.\";}s:12:\"customFields\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:59:\"Any
  custom fields of information pertaining to this member.\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  connection state of this member.\";s:4:\"enum\";a:3:{i:0;s:9:\"CONNECTED\";i:1;s:12:\"DISCONNECTED\";i:2;s:8:\"ALERTING\";}}}}s:9:\"ErrorBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entityId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"entityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"messageWithParams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"messageParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"contextId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Detail\";}}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorBody\";}}}}s:6:\"Detail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"errorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"fieldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entityId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"entityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"WebChatTyping\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:12:\"conversation\";i:1;s:2:\"id\";i:2;s:6:\"sender\";i:3;s:9:\"timestamp\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"The
  event identifier of this typing indicator event (useful to guard against event re-delivery\";}s:12:\"conversation\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  identifier of the conversation\";s:4:\"$ref\";s:33:\"#/definitions/WebChatConversation\";}s:6:\"sender\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  member who sent the message\";s:4:\"$ref\";s:31:\"#/definitions/WebChatMemberInfo\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:48:\"The
  timestamp of the message, in ISO-8601 format\";}}}s:27:\"WebChatMemberInfoEntityList\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WebChatMemberInfo\";}}s:8:\"pageSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"pageNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"firstUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:7:\"selfUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:7:\"lastUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:11:\"previousUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:7:\"nextUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:9:\"pageCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:34:\"WebChatGuestMediaRequestEntityList\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/WebChatGuestMediaRequest\";}}}}s:24:\"WebChatGuestMediaRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"state\";i:1;s:5:\"types\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  globally unique identifier for the object.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"types\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:35:\"The
  types of media being requested.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:8:\"COBROWSE\";i:1;s:11:\"SCREENSHARE\";}}}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"The
  state of the media request, one of PENDING|ACCEPTED|DECLINED|TIMEDOUT|CANCELLED|ERRORED.\";s:4:\"enum\";a:6:{i:0;s:7:\"PENDING\";i:1;s:8:\"ACCEPTED\";i:2;s:8:\"DECLINED\";i:3;s:8:\"TIMEDOUT\";i:4;s:9:\"CANCELLED\";i:5;s:7:\"ERRORED\";}}s:15:\"communicationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  ID of the new media communication, if applicable.\";}s:11:\"securityKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  security information related to a media request.\";}s:7:\"selfUri\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:11:\"description\";s:23:\"The
  URI for this object\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:78:\"Object
  representing the guest model of a media request of a chat conversation.\";}s:24:\"WebChatMessageEntityList\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"pageSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/WebChatMessage\";}}s:12:\"previousPage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"next\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"selfUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}}}s:32:\"CreateWebChatConversationRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:12:\"deploymentId\";i:1;s:10:\"memberInfo\";i:2;s:14:\"organizationId\";i:3;s:13:\"routingTarget\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"organizationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  organization identifier.\";}s:12:\"deploymentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"The
  web chat Deployment ID which contains the appropriate settings for this chat conversation.\";}s:13:\"routingTarget\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  routing information to use for the new chat conversation.\";s:4:\"$ref\";s:34:\"#/definitions/WebChatRoutingTarget\";}s:10:\"memberInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  guest member info to use for the new chat conversation.\";s:4:\"$ref\";s:29:\"#/definitions/GuestMemberInfo\";}s:15:\"memberAuthToken\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:183:\"If
  the guest member is an authenticated member (ie, not anonymous) his JWT is provided
  here. The token will have been previously generated with the \"POST /api/v2/signeddata\"
  resource.\";}s:14:\"journeyContext\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"A
  subset of the Journey System's data relevant to this conversation/session request
  (for external linkage and internal usage/context).\";s:4:\"$ref\";s:28:\"#/definitions/JourneyContext\";}}}s:20:\"WebChatRoutingTarget\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:13:\"targetAddress\";i:1;s:10:\"targetType\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"targetType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  target type of the routing target, such as 'QUEUE'.\";s:4:\"enum\";a:1:{i:0;s:5:\"QUEUE\";}}s:13:\"targetAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"The
  target of the route, in the format appropriate given the 'targetType'.\";}s:6:\"skills\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"The
  list of skill names to use for routing.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  language name to use for routing.\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:55:\"The
  priority to assign to the conversation for routing.\";}}}s:15:\"GuestMemberInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"displayName\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  display name to use for the guest member in the conversation.\";}s:14:\"avatarImageUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:11:\"description\";s:84:\"The
  URL to the avatar image to use for the guest member in the conversation, if any.\";}s:12:\"customFields\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:105:\"Any
  custom fields of information, in key-value format, to attach to the guest member
  in the conversation.\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:14:\"JourneyContext\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"customer\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"customer\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"A
  subset of the Journey System's customer data at a point-in-time (for external linkage
  and internal usage/context)\";s:4:\"$ref\";s:29:\"#/definitions/JourneyCustomer\";}s:15:\"customerSession\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"A
  subset of the Journey System's tracked customer session data at a point-in-time
  (for external linkage and internal usage/context)\";s:4:\"$ref\";s:36:\"#/definitions/JourneyCustomerSession\";}s:16:\"triggeringAction\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"A
  subset of the Journey System's action data relevant to a part of a conversation
  (for external linkage and internal usage/context)\";s:4:\"$ref\";s:27:\"#/definitions/JourneyAction\";}}}s:15:\"JourneyCustomer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:6:\"idType\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:249:\"An
  ID of a customer within the Journey System at a point-in-time.  Note that a customer
  entity can have multiple customerIds based on the stitching process.  Depending
  on the context within the PureCloud conversation, this may or may not be mutable.\";}s:6:\"idType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  type of the customerId within the Journey System (e.g. cookie).\";}}}s:22:\"JourneyCustomerSession\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"An
  ID of a Customer/User's session within the Journey System at a point-in-time\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"The
  type of the Customer/User's session within the Journey System (e.g. web, app)\";}}}s:13:\"JourneyAction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:9:\"actionMap\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"The
  ID of an action from the Journey System (an action is spawned from an actionMap)\";}s:9:\"actionMap\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Details
  about the action map from the Journey System which triggered this action\";s:4:\"$ref\";s:30:\"#/definitions/JourneyActionMap\";}}}s:16:\"JourneyActionMap\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:7:\"version\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  ID of the actionMap in the Journey System which triggered this action\";}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:95:\"The
  version number of the actionMap in the Journey System at the time this action was
  triggered\";}}}s:33:\"CreateWebChatConversationResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Chat
  Conversation identifier\";}s:3:\"jwt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"The
  JWT that you can use to identify subsequent calls on this conversation\";}s:14:\"eventStreamUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:11:\"description\";s:53:\"The
  URI which provides the conversation event stream.\";}s:6:\"member\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Chat
  Member\";s:4:\"$ref\";s:31:\"#/definitions/WebChatMemberInfo\";}}}}"
...
