---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Hokify API Interface
  documentation\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:6:\"Hokify\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"API
  Support\";s:5:\"email\";s:14:\"api@hokify.com\";}}"
host: hokify.com
basePath: /api
paths:
  /api-login:
    post:
      summary: get session token for mandator
      tags:
      - auth
      operationId: login
      responses:
        200:
          description: Api Session Token
          schema:
            $ref: '#/definitions/APILoginResponse'
      parameters:
      - description: User Object
        required: true
        name: body
        in: body
        schema:
          $ref: '#/definitions/APILoginRequest'
  /get-documenttypes-extern:
    get:
      summary: Gets the available document types
      tags:
      - misc
      operationId: getDocumenttypes
      responses:
        200:
          description: Document Types
          schema:
            type: array
            items:
              $ref: '#/definitions/DocumentTypeElement'
      security:
      - hokify_session_token: []
      parameters: []
  /job-extern:
    get:
      summary: retrieves a job
      tags:
      - job
      operationId: getJob
      parameters:
      - in: query
        name: nr
        description: jobNr of the job
        type: integer
      - in: query
        name: id
        description: id of the job
        type: string
      responses:
        200:
          description: Job
          schema:
            $ref: '#/definitions/Job'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /get-lp-extern:
    get:
      summary: Gets LandingPages by its id
      tags:
      - misc
      operationId: getLandingpage
      parameters:
      - name: id
        in: query
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Landingpage'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /get-company-extern:
    get:
      summary: finds company by its id
      tags:
      - misc
      operationId: getCompany
      parameters:
      - name: id
        in: query
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Company'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /resolve-type-extern:
    get:
      summary: resolves a job type by its id
      tags:
      - job
      operationId: resolveJobType
      parameters:
      - name: keyword
        in: query
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Jobtype'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /get-keyword-extern:
    get:
      summary: resolves a keyword by its name
      tags:
      - misc
      operationId: getKeyword
      parameters:
      - name: keyword
        in: query
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Keywords'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /resolve-keyword-extern:
    get:
      summary: resolves a keyword by its name
      tags:
      - misc
      operationId: resolveKeyword
      deprecated: true
      parameters:
      - name: keyword
        in: query
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/ResolveKeywordElement'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /resolve-location-extern:
    get:
      summary: resolves a location by its address
      tags:
      - misc
      operationId: resolveLocation
      parameters:
      - name: region
        in: query
        required: false
        type: string
      - name: lang
        in: query
        required: false
        type: string
      - name: address
        in: query
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ResolveLocationResponse'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /resolve-geo-extern:
    get:
      summary: resolves a geocoding by coordinates
      tags:
      - misc
      operationId: resolveGeo
      parameters:
      - name: location
        in: query
        required: false
        type: string
      - name: lang
        in: query
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ResolveGeo'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /get-jobs-extern:
    get:
      summary: gets all jobs for the mandator user
      tags:
      - job
      operationId: getJobs
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/GetJobsResponse'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
      parameters: []
  /disable-job-extern:
    post:
      summary: disables an job
      tags:
      - job
      operationId: disableJob
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SuccessMsg'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/ErrorCodeResponse'
      security:
      - hokify_session_token: []
      parameters:
      - description: job identifier
        name: body
        in: body
        schema:
          type: object
          properties:
            jobCode:
              type: string
            sourceId:
              type: string
            jobId:
              type: string
  /get-conversations-extern:
    get:
      summary: gets conversations for a mandator user
      tags:
      - conversation
      operationId: getConversations
      parameters:
      - in: query
        required: false
        name: startTime
        description: date in utc format
        type: string
      - in: query
        required: false
        name: endTime
        description: date in utc format
        type: string
      - in: query
        required: false
        name: csv
        description: true for csv format, empty for json
        type: boolean
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/ConversationsResponseElement'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/ErrorCodeResponse'
      security:
      - hokify_session_token: []
  /get-all-applications-extern:
    get:
      summary: gets applcations for a mandator user
      tags:
      - application
      operationId: getAllApplications
      parameters:
      - in: query
        required: false
        name: startTime
        description: date in utc format
        type: string
      - in: query
        required: false
        name: endTime
        description: date in utc format
        type: string
      - in: query
        required: false
        name: csv
        description: true for csv format, empty for json
        type: boolean
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/AllApplicantsResponseElement'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /get-fields-extern:
    get:
      summary: returns all available job fields
      tags:
      - job
      operationId: getFields
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/FieldsResponseElement'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
      parameters: []
  /get-question-list-extern:
    get:
      summary: returns all available questions
      tags:
      - job
      operationId: getQuestionList
      parameters:
      - in: query
        required: false
        name: csv
        description: true for csv format, empty for json
        type: boolean
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/QuestionsResponseElement'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /get-match-file-extern:
    get:
      summary: returns a file from a match
      tags:
      - match
      operationId: getMatchFile
      parameters:
      - in: query
        required: true
        name: match
        description: id for the match
        type: string
      - in: query
        required: true
        name: file
        description: name of the file
        type: string
      - in: query
        required: false
        name: type
        description: type of the file
        type: string
      responses:
        200:
          description: file result
        400:
          description: bad request
        404:
          description: file not found
      security:
      - hokify_session_token: []
  /add-job-extern:
    post:
      summary: Creates a new Job
      tags:
      - job
      operationId: addJob
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AddJobResponse'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
      parameters:
      - description: Job object
        name: body
        in: body
        schema:
          type: object
          properties:
            name:
              type: string
              description: Job Titel
            wage:
              type: string
              description: Wage
            type:
              type: string
              enum:
              - 55d74e5d365315e629446d54
              - 55d74e7d365315e629446d55
              - 55d74f6c365315e629446d56
              - 55d74f96365315e629446d58
              - 56a90202c0b1e4ea4ede1a58
              - 56b352dcb5c5f2a71436dc51
            fields:
              type: array
              items:
                type: string
            questions:
              type: array
              items:
                type: string
            company:
              type: string
            contactPhone:
              type: string
            address:
              type: string
            addressText:
              type: string
            region:
              type: string
            isPublished:
              type: boolean
            sourceId:
              type: string
            descriptionHTML:
              type: string
            language:
              type: string
            employmenttype:
              type: string
              enum:
              - 570ff1bf056b57087012f9f8
              - 570ff242056b57087012f9fb
              - 570ff247056b57087012f9fc
              - 570ff24d056b57087012f9fd
            requriedFields:
              type: object
  /lookup-place:
    get:
      summary: looks up a place near a location
      tags:
      - misc
      operationId: lookupPlace
      parameters:
      - in: query
        required: true
        name: address
        description: address from where to search
        type: string
      - in: query
        name: name
        description: name the place near the address
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/LookupPlaceResponse'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /job-suggestions-extern:
    get:
      summary: list of job suggestions
      tags:
      - job
      operationId: jobSuggestions
      parameters:
      - in: query
        name: fields
        description: address from where to search
        type: string
      - in: query
        name: types
        description: job type
        type: string
      - in: query
        name: limit
        description: max number of results
        type: integer
      - in: query
        name: location
        description: location to seach nearby
        type: string
      - in: query
        name: multiLocations
        description: allows to use multiple locations
        type: boolean
      - in: query
        name: offset
        description: skip first n results
        type: integer
      - in: query
        name: maxDistance
        description: maximum distance from location
        type: number
      - in: query
        name: keyword
        description: keywords or something
        type: string
      - in: query
        name: filters
        type: string
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/JobSuggestionsResponseElement'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
  /get-branch-by-id-extern:
    get:
      summary: return a job field for an id
      tags:
      - job
      operationId: getBranchById
      parameters:
      - in: query
        required: true
        name: id
        description: id of the job field
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BranchResponse'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/SuccessMsg'
      security:
      - hokify_session_token: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":59:{s:4:\"Info\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:4:\"info\";}s:16:\"APILoginResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Info\";}s:12:\"sessionToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:16:\"apiLoginResponse\";}s:15:\"APILoginRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"mandator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"mandator
  id\";}s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"api
  token\";}}}s:19:\"DocumentTypeElement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:12:\"DocumentType\";}s:10:\"SuccessMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:1:\"R\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:1:\"r\";}s:16:\"DescriptionBlock\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"block1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:16:\"descriptionBlock\";}s:16:\"ExtractedKeyword\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"keyword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:16:\"extractedKeyword\";}s:6:\"Images\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"thumbnail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"xlarge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:6:\"images\";}s:5:\"Field\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:5:\"field\";}s:5:\"Logos\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"thumbnail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"xlarge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:5:\"logos\";}s:10:\"JobCompany\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"logos\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Logos\";}}s:5:\"title\";s:7:\"company\";}s:8:\"Internal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"isPublished\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"publishedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:8:\"internal\";}s:3:\"Job\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":31:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"jobNr\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"wage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"r\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/R\";}s:6:\"rounds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:14:\"specificFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:9:\"timeFrame\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:5:\"_tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"requiredFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RequiredField\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:13:\"requiredField\";}}s:8:\"yourTask\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:7:\"weOffer\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:6:\"weWant\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:12:\"travelNeeded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"remoteWork\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"descriptionBlocks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DescriptionBlock\";}}s:15:\"defaultLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"__v\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"extractedKeywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExtractedKeyword\";}}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"webUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Images\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Field\";}}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JobCompany\";}s:8:\"internal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Internal\";}s:6:\"owners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}}s:5:\"title\";s:3:\"Job\";}s:14:\"PossibleFilter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"filter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:12:\"possibleFilt\";}s:18:\"LandingPageResults\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"_allTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"jobNrs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"avgScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"maxScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"minWage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"maxWage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"possibleFilters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PossibleFilter\";}}s:11:\"generatedAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"filterUpdatedAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:5:\"title\";s:7:\"results\";}s:6:\"Branch\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}}s:5:\"title\";s:6:\"branch\";}s:19:\"LandingPageLocation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"geo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}}s:5:\"title\";s:8:\"location\";}s:11:\"Landingpage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"pageType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"geoRegion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"useIndex\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"lpVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"results\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/LandingPageResults\";}s:11:\"neededCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"usedCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"branch\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Branch\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LandingPageLocation\";}s:12:\"canonicalUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"hasResults\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"lastCanonicalResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:7:\"lastMod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"isCanonical\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"filters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:18:\"firstTimeCanonical\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"canonicalResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:16:\"lastLPIrunResult\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"lastLPITouch\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:5:\"title\";s:11:\"Landingpage\";}s:15:\"CompanyInternal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"availableRegions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:24:\"availableRegionsWithJobs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"publishToSEOIndex\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:13:\"sendSummaryAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"sendSummaryEvery\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:16:\"company-internal\";}s:7:\"Company\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"__v\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"internal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CompanyInternal\";}s:13:\"rejectionText\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:12:\"trustedUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:3:\"dbV\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:7:\"Company\";}s:11:\"KeywordInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"title\";s:4:\"info\";}s:8:\"Keywords\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"keyword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/KeywordInfo\";}}s:5:\"title\";s:8:\"Keywords\";}s:21:\"ResolveKeywordElement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:14:\"ResolveKeyword\";}s:20:\"AdministrativeLevels\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"level1long\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"level1short\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:20:\"administrativeLevels\";}s:23:\"ResolveLocationResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"__v\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"administrativeLevels\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AdministrativeLevels\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"district\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"streetNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:23:\"ResolveLocationResponse\";}s:11:\"GeoLocation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"__v\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"district\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:11:\"GeoLocation\";}s:10:\"ResolveGeo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GeoLocation\";}}s:5:\"title\";s:10:\"ResolveGeo\";}s:13:\"RequiredField\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"question\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"questiontype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"answerMinLength\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"answerMaxLength\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:13:\"requiredField\";}s:6:\"GetJob\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":33:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"jobNr\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"wage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"r\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/R\";}s:6:\"rounds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:14:\"specificFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:9:\"timeFrame\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:5:\"_tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"requiredFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RequiredField\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:13:\"requiredField\";}}s:8:\"yourTask\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:7:\"weOffer\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:6:\"weWant\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:12:\"travelNeeded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"remoteWork\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"descriptionBlocks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DescriptionBlock\";}}s:15:\"defaultLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"__v\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"extractedKeywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExtractedKeyword\";}}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"webUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Logos\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JobCompany\";}s:8:\"internal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Internal\";}s:6:\"owners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"addressText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"_oldOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}}s:5:\"title\";s:3:\"job\";}s:15:\"GetJobsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"jobs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/GetJob\";}}}s:5:\"title\";s:15:\"GetJobsResponse\";}s:17:\"ErrorCodeResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:17:\"ErrorCodeResponse\";}s:14:\"AdditionalFile\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"downloadUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:14:\"additionalFile\";}s:28:\"AllApplicantsResponseElement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:5:\"jobId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"jobSourceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"matchId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"hokifyMail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"fileProfile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fileCV\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"additionalFiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AdditionalFile\";}}s:11:\"nationality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"applicationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"birthday\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:21:\"AllApplicantsResponse\";}s:21:\"FieldsResponseElement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"children\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/FieldsResponseElement\";}}}s:5:\"title\";s:21:\"FieldsResponseElement\";}s:7:\"Jobtype\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"de\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"Jobtype\";}s:24:\"QuestionsResponseElement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"de_short\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"de\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"_jobtype\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Jobtype\";}}}s:5:\"title\";s:17:\"QuestionsResponse\";}s:5:\"Views\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"web\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"app\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"external\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:5:\"Stats\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"discarded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"saved\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"applied\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"appliedLast30Days\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"smslink\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"views\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Views\";}}s:5:\"title\";s:5:\"stats\";}s:14:\"AddJobInternal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:10:\"adsCreated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"manualPrioMode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"costs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"isPublished\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"isPrepared\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"isPending\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"isService\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"offline\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"stats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Stats\";}s:9:\"_packages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:10:\"autoExtend\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"notifiedLowRuntime\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"jobCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:8:\"internal\";}s:8:\"Question\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:8:\"question\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"streetNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"district\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:8:\"location\";}s:13:\"AddJobCompany\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"company\";}s:6:\"AddJob\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:8:\"internal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AddJobInternal\";}s:15:\"defaultLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"descriptionBlocks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:14:\"requiredFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RequiredField\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:13:\"requiredField\";}}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"_tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:9:\"_oldOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"wage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"jobNr\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"__v\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"openRecruiterTodos\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"questions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Question\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Field\";}}s:6:\"webUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Images\";}s:17:\"statsDownloadCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AddJobCompany\";}s:6:\"owners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}}s:5:\"title\";s:3:\"job\";}s:14:\"AddJobResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"job\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/AddJob\";}s:8:\"modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"warnings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"title\";s:14:\"AddJobResponse\";}s:16:\"AddressComponent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"long_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"short_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"types\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"title\";s:17:\"address_component\";}s:19:\"LookupPlaceLocation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"lng\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:5:\"title\";s:8:\"location\";}s:8:\"Viewport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"northeast\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LookupPlaceLocation\";}s:9:\"southwest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LookupPlaceLocation\";}}s:5:\"title\";s:8:\"viewport\";}s:8:\"Geometry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LookupPlaceLocation\";}s:8:\"viewport\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Viewport\";}}s:5:\"title\";s:8:\"geometry\";}s:5:\"Close\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"day\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:5:\"close\";}s:6:\"Period\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"close\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Close\";}s:4:\"open\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Close\";}}s:5:\"title\";s:6:\"period\";}s:12:\"OpeningHours\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"open_now\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"periods\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Period\";}}s:12:\"weekday_text\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"title\";s:13:\"opening_hours\";}s:5:\"Photo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"html_attributions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"photo_reference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:5:\"photo\";}s:6:\"Review\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"author_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"author_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profile_photo_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"relative_time_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:6:\"review\";}s:17:\"LookupPlaceResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:18:\"address_components\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AddressComponent\";}}s:11:\"adr_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"formatted_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"formatted_phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"geometry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Geometry\";}s:4:\"icon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"international_phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"opening_hours\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OpeningHours\";}s:6:\"photos\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Photo\";}}s:8:\"place_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"reference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"reviews\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Review\";}}s:5:\"scope\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"types\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"vicinity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:17:\"LookupPlaceResult\";}s:19:\"LookupPlaceResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"html_attributions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LookupPlaceResult\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:19:\"LookupPlaceResponse\";}s:14:\"BranchResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"keyword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:14:\"BranchResponse\";}s:28:\"ConversationsResponseElement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:5:\"msgId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"sender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"matchId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"hokifyMail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"jobName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"companyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"msgTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:21:\"ConversationsResponse\";}s:29:\"JobSuggestionsResponseElement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"jobNr\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"wage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"r\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/R\";}s:9:\"_oldOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:5:\"_tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"requiredFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RequiredField\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:13:\"requiredField\";}}s:17:\"descriptionBlocks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DescriptionBlock\";}}s:15:\"defaultLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"__v\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"webUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Images\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JobCompany\";}s:8:\"internal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Internal\";}s:6:\"owners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}}s:5:\"title\";s:22:\"JobSuggestionsResponse\";}}"
...
