---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:26:\"AWS
  Elemental MediaPackage\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:26:\"AWS
  Elemental MediaPackage\";s:7:\"version\";s:10:\"2017-10-12\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:96:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediapackage-2017-10-12.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:12:\"mediapackage\";}"
host: mediapackage.amazonaws.com
basePath: /
paths:
  /channels:
    get:
      description: Returns a collection of Channels.
      operationId: ListChannels
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListChannelsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListChannelsResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new Channel.
      operationId: CreateChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateChannelRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateChannelResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /channels/{id}:
    delete:
      description: Deletes an existing Channel.
      operationId: DeleteChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteChannelRequest'
      - in: path
        name: id
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/DeleteChannelResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets details about a Channel.
      operationId: DescribeChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeChannelRequest'
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeChannelResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing Channel.
      operationId: UpdateChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateChannelRequest'
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateChannelResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /channels/{id}/credentials:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Changes the Channel ingest username and password.
      operationId: RotateChannelCredentials
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RotateChannelCredentialsRequest'
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RotateChannelCredentialsResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /origin_endpoints:
    get:
      description: Returns a collection of OriginEndpoint records.
      operationId: ListOriginEndpoints
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListOriginEndpointsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListOriginEndpointsResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new OriginEndpoint record.
      operationId: CreateOriginEndpoint
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateOriginEndpointRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateOriginEndpointResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /origin_endpoints/{id}:
    delete:
      description: Deletes an existing OriginEndpoint.
      operationId: DeleteOriginEndpoint
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteOriginEndpointRequest'
      - in: path
        name: id
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/DeleteOriginEndpointResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets details about an existing OriginEndpoint.
      operationId: DescribeOriginEndpoint
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeOriginEndpointRequest'
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeOriginEndpointResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing OriginEndpoint.
      operationId: UpdateOriginEndpoint
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateOriginEndpointRequest'
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateOriginEndpointResponse'
        480:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":70:{s:9:\"AdMarkers\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:15:\"SCTE35_ENHANCED\";i:2;s:11:\"PASSTHROUGH\";}s:4:\"type\";s:6:\"string\";}s:7:\"Channel\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  Channel resource configuration.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) assigned to the Channel.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"A
  short text description of the Channel.\";}s:9:\"HlsIngest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HlsIngest\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the Channel.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ChannelCreateParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Configuration
  parameters for a new Channel.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"A
  short text description of the Channel.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:116:\"The
  ID of the Channel. The ID must be unique within the region and it\ncannot be changed
  after a Channel is created.\n\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:11:\"ChannelList\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  collection of Channel records.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Channels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/__listOfChannel\";s:11:\"description\";s:26:\"A
  list of Channel records.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:77:\"A
  token that can be used to resume pagination from the end of the collection.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ChannelUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Configuration
  parameters for updating an existing Channel.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"A
  short text description of the Channel.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CmafEncryption\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"A
  Common Media Application Format (CMAF) encryption configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"KeyRotationIntervalSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:55:\"Time
  (in seconds) between each encryption key rotation.\";}s:16:\"SpekeKeyProvider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SpekeKeyProvider\";}}s:8:\"required\";a:1:{i:0;s:16:\"SpekeKeyProvider\";}s:4:\"type\";s:6:\"object\";}s:11:\"CmafPackage\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"A
  Common Media Application Format (CMAF) packaging configuration.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"Encryption\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CmafEncryption\";}s:12:\"HlsManifests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__listOfHlsManifest\";s:11:\"description\";s:37:\"A
  list of HLS manifest configurations\";}s:22:\"SegmentDurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:127:\"Duration
  (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple
  of the source segment duration.\n\";}s:13:\"SegmentPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:120:\"An
  optional custom string that is prepended to the name of each segment. If not specified,
  it defaults to the ChannelId.\";}s:15:\"StreamSelection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StreamSelection\";}}s:4:\"type\";s:6:\"object\";}s:35:\"CmafPackageCreateOrUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"A
  Common Media Application Format (CMAF) packaging configuration.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"Encryption\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CmafEncryption\";}s:12:\"HlsManifests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/__listOfHlsManifestCreateOrUpdateParameters\";s:11:\"description\";s:37:\"A
  list of HLS manifest configurations\";}s:22:\"SegmentDurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:127:\"Duration
  (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple
  of the source segment duration.\n\";}s:13:\"SegmentPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:120:\"An
  optional custom string that is prepended to the name of each segment. If not specified,
  it defaults to the ChannelId.\";}s:15:\"StreamSelection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StreamSelection\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateChannelRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"A
  new Channel configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"A
  short text description of the Channel.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:116:\"The
  ID of the Channel. The ID must be unique within the region and it\ncannot be changed
  after a Channel is created.\n\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateChannelResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) assigned to the Channel.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"A
  short text description of the Channel.\";}s:9:\"HlsIngest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HlsIngest\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the Channel.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateOriginEndpointRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Configuration
  parameters used to create a new OriginEndpoint.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"ChannelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:131:\"The
  ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot
  be changed after the OriginEndpoint is created.\n\";}s:11:\"CmafPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/CmafPackageCreateOrUpdateParameters\";}s:11:\"DashPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DashPackage\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"A
  short text description of the OriginEndpoint.\";}s:10:\"HlsPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HlsPackage\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:133:\"The
  ID of the OriginEndpoint.  The ID must be unique within the region\nand it cannot
  be changed after the OriginEndpoint is created.\n\";}s:12:\"ManifestName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:97:\"A
  short string that will be used as the filename of the OriginEndpoint URL (defaults
  to \"index\").\";}s:10:\"MssPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MssPackage\";}s:22:\"StartoverWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Maximum
  duration (seconds) of content to retain for startover playback.\nIf not specified,
  startover playback will be disabled for the OriginEndpoint.\n\";}s:16:\"TimeDelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Amount
  of delay (seconds) to enforce on the playback of live content.\nIf not specified,
  there will be no time delay in effect for the OriginEndpoint.\n\";}s:9:\"Whitelist\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:82:\"A
  list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.\";}}s:8:\"required\";a:2:{i:0;s:9:\"ChannelId\";i:1;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateOriginEndpointResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) assigned to the OriginEndpoint.\";}s:9:\"ChannelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:60:\"The
  ID of the Channel the OriginEndpoint is associated with.\";}s:11:\"CmafPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CmafPackage\";}s:11:\"DashPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DashPackage\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"A
  short text description of the OriginEndpoint.\";}s:10:\"HlsPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HlsPackage\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  ID of the OriginEndpoint.\";}s:12:\"ManifestName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:61:\"A
  short string appended to the end of the OriginEndpoint URL.\";}s:10:\"MssPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MssPackage\";}s:22:\"StartoverWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Maximum
  duration (seconds) of content to retain for startover playback.\nIf not specified,
  startover playback will be disabled for the OriginEndpoint.\n\";}s:16:\"TimeDelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Amount
  of delay (seconds) to enforce on the playback of live content.\nIf not specified,
  there will be no time delay in effect for the OriginEndpoint.\n\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"The
  URL of the packaged OriginEndpoint for consumption.\";}s:9:\"Whitelist\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:82:\"A
  list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DashEncryption\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"A
  Dynamic Adaptive Streaming over HTTP (DASH) encryption configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"KeyRotationIntervalSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:55:\"Time
  (in seconds) between each encryption key rotation.\";}s:16:\"SpekeKeyProvider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SpekeKeyProvider\";}}s:8:\"required\";a:1:{i:0;s:16:\"SpekeKeyProvider\";}s:4:\"type\";s:6:\"object\";}s:11:\"DashPackage\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"Encryption\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DashEncryption\";}s:21:\"ManifestWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:52:\"Time
  window (in seconds) contained in each manifest.\";}s:20:\"MinBufferTimeSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:95:\"Minimum
  duration (in seconds) that a player will buffer media before starting the presentation.\";}s:22:\"MinUpdatePeriodSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:144:\"Minimum
  duration (in seconds) between potential changes to the Dynamic Adaptive Streaming
  over HTTP (DASH) Media Presentation Description (MPD).\";}s:14:\"PeriodTriggers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/__listOf__PeriodTriggersElement\";s:11:\"description\";s:358:\"A
  list of triggers that controls when the outgoing Dynamic Adaptive Streaming over
  HTTP (DASH)\nMedia Presentation Description (MPD) will be partitioned into multiple
  periods. If empty, the content will not\nbe partitioned into more than one period.
  If the list contains \"ADS\", new periods will be created where\nthe Channel source
  contains SCTE-35 ad markers.\n\";}s:7:\"Profile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Profile\";s:11:\"description\";s:126:\"The
  Dynamic Adaptive Streaming over HTTP (DASH) profile type.  When set to \"HBBTV_1_5\",
  HbbTV 1.5 compliant output is enabled.\";}s:22:\"SegmentDurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:127:\"Duration
  (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple
  of the source segment duration.\n\";}s:15:\"StreamSelection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StreamSelection\";}s:33:\"SuggestedPresentationDelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:64:\"Duration
  (in seconds) to delay live content before presentation.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteChannelRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteChannelResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteOriginEndpointRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteOriginEndpointResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeChannelRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeChannelResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) assigned to the Channel.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"A
  short text description of the Channel.\";}s:9:\"HlsIngest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HlsIngest\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the Channel.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeOriginEndpointRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeOriginEndpointResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) assigned to the OriginEndpoint.\";}s:9:\"ChannelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:60:\"The
  ID of the Channel the OriginEndpoint is associated with.\";}s:11:\"CmafPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CmafPackage\";}s:11:\"DashPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DashPackage\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"A
  short text description of the OriginEndpoint.\";}s:10:\"HlsPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HlsPackage\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  ID of the OriginEndpoint.\";}s:12:\"ManifestName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:61:\"A
  short string appended to the end of the OriginEndpoint URL.\";}s:10:\"MssPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MssPackage\";}s:22:\"StartoverWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Maximum
  duration (seconds) of content to retain for startover playback.\nIf not specified,
  startover playback will be disabled for the OriginEndpoint.\n\";}s:16:\"TimeDelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Amount
  of delay (seconds) to enforce on the playback of live content.\nIf not specified,
  there will be no time delay in effect for the OriginEndpoint.\n\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"The
  URL of the packaged OriginEndpoint for consumption.\";}s:9:\"Whitelist\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:82:\"A
  list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EncryptionMethod\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"AES_128\";i:1;s:10:\"SAMPLE_AES\";}s:4:\"type\";s:6:\"string\";}s:18:\"ForbiddenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  client is not authorized to access the requested resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"HlsEncryption\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"An
  HTTP Live Streaming (HLS) encryption configuration.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:28:\"ConstantInitializationVector\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:135:\"A
  constant initialization vector for encryption (optional).\nWhen not specified the
  initialization vector will be periodically rotated.\n\";}s:16:\"EncryptionMethod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EncryptionMethod\";s:11:\"description\";s:29:\"The
  encryption method to use.\";}s:26:\"KeyRotationIntervalSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"Interval
  (in seconds) between each encryption key rotation.\";}s:13:\"RepeatExtXKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:69:\"When
  enabled, the EXT-X-KEY tag will be repeated in output manifests.\";}s:16:\"SpekeKeyProvider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SpekeKeyProvider\";}}s:8:\"required\";a:1:{i:0;s:16:\"SpekeKeyProvider\";}s:4:\"type\";s:6:\"object\";}s:9:\"HlsIngest\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"An
  HTTP Live Streaming (HLS) ingest resource configuration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"IngestEndpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/__listOfIngestEndpoint\";s:11:\"description\";s:62:\"A
  list of endpoints to which the source stream should be sent.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"HlsManifest\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"A
  HTTP Live Streaming (HLS) manifest configuration.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"AdMarkers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AdMarkers\";s:11:\"description\";s:398:\"This
  setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\"
  will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest
  to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the
  input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers
  and blackout tags based on SCTE-35\nmessages in the input source.\n\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:117:\"The
  ID of the manifest. The ID must be unique within the OriginEndpoint and it cannot
  be changed after it is created.\";}s:23:\"IncludeIframeOnlyStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:68:\"When
  enabled, an I-Frame only stream will be included in the output.\";}s:12:\"ManifestName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:142:\"An
  optional short string appended to the end of the OriginEndpoint URL. If not specified,
  defaults to the manifestName for the OriginEndpoint.\";}s:12:\"PlaylistType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PlaylistType\";s:11:\"description\";s:170:\"The
  HTTP Live Streaming (HLS) playlist type.\nWhen either \"EVENT\" or \"VOD\" is specified,
  a corresponding EXT-X-PLAYLIST-TYPE\nentry will be included in the media playlist.\n\";}s:21:\"PlaylistWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"Time
  window (in seconds) contained in each parent manifest.\";}s:30:\"ProgramDateTimeIntervalSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:558:\"The
  interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag\ninserted into manifests.
  Additionally, when an interval is specified\nID3Timed Metadata messages will be
  generated every 5 seconds using the\ningest time of the content.\nIf the interval
  is not specified, or set to 0, then\nno EXT-X-PROGRAM-DATE-TIME tags will be inserted
  into manifests and no\nID3Timed Metadata messages will be generated. Note that irrespective\nof
  this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS)
  input,\nit will be passed through to HLS output.\n\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"The
  URL of the packaged OriginEndpoint for consumption.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:35:\"HlsManifestCreateOrUpdateParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"A
  HTTP Live Streaming (HLS) manifest configuration.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"AdMarkers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AdMarkers\";s:11:\"description\";s:398:\"This
  setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\"
  will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest
  to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the
  input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers
  and blackout tags based on SCTE-35\nmessages in the input source.\n\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:117:\"The
  ID of the manifest. The ID must be unique within the OriginEndpoint and it cannot
  be changed after it is created.\";}s:23:\"IncludeIframeOnlyStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:68:\"When
  enabled, an I-Frame only stream will be included in the output.\";}s:12:\"ManifestName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:142:\"An
  optional short string appended to the end of the OriginEndpoint URL. If not specified,
  defaults to the manifestName for the OriginEndpoint.\";}s:12:\"PlaylistType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PlaylistType\";s:11:\"description\";s:170:\"The
  HTTP Live Streaming (HLS) playlist type.\nWhen either \"EVENT\" or \"VOD\" is specified,
  a corresponding EXT-X-PLAYLIST-TYPE\nentry will be included in the media playlist.\n\";}s:21:\"PlaylistWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"Time
  window (in seconds) contained in each parent manifest.\";}s:30:\"ProgramDateTimeIntervalSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:558:\"The
  interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag\ninserted into manifests.
  Additionally, when an interval is specified\nID3Timed Metadata messages will be
  generated every 5 seconds using the\ningest time of the content.\nIf the interval
  is not specified, or set to 0, then\nno EXT-X-PROGRAM-DATE-TIME tags will be inserted
  into manifests and no\nID3Timed Metadata messages will be generated. Note that irrespective\nof
  this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS)
  input,\nit will be passed through to HLS output.\n\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:10:\"HlsPackage\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"An
  HTTP Live Streaming (HLS) packaging configuration.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"AdMarkers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AdMarkers\";s:11:\"description\";s:398:\"This
  setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\"
  will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest
  to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the
  input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers
  and blackout tags based on SCTE-35\nmessages in the input source.\n\";}s:10:\"Encryption\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/HlsEncryption\";}s:23:\"IncludeIframeOnlyStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:68:\"When
  enabled, an I-Frame only stream will be included in the output.\";}s:12:\"PlaylistType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PlaylistType\";s:11:\"description\";s:170:\"The
  HTTP Live Streaming (HLS) playlist type.\nWhen either \"EVENT\" or \"VOD\" is specified,
  a corresponding EXT-X-PLAYLIST-TYPE\nentry will be included in the media playlist.\n\";}s:21:\"PlaylistWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"Time
  window (in seconds) contained in each parent manifest.\";}s:30:\"ProgramDateTimeIntervalSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:558:\"The
  interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag\ninserted into manifests.
  Additionally, when an interval is specified\nID3Timed Metadata messages will be
  generated every 5 seconds using the\ningest time of the content.\nIf the interval
  is not specified, or set to 0, then\nno EXT-X-PROGRAM-DATE-TIME tags will be inserted
  into manifests and no\nID3Timed Metadata messages will be generated. Note that irrespective\nof
  this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS)
  input,\nit will be passed through to HLS output.\n\";}s:22:\"SegmentDurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:130:\"Duration
  (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest
  multiple of the source fragment duration.\n\";}s:15:\"StreamSelection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StreamSelection\";}s:22:\"UseAudioRenditionGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:77:\"When
  enabled, audio streams will be placed in rendition groups in the output.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"IngestEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"An
  endpoint for ingesting source content for a Channel.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:56:\"The
  system generated password for ingest authentication.\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:57:\"The
  ingest URL to which the source stream should be sent.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:56:\"The
  system generated username for ingest authentication.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"InternalServerErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"An
  unexpected error occurred.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListChannelsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"ListChannelsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Channels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/__listOfChannel\";s:11:\"description\";s:26:\"A
  list of Channel records.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:77:\"A
  token that can be used to resume pagination from the end of the collection.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListOriginEndpointsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"ListOriginEndpointsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:77:\"A
  token that can be used to resume pagination from the end of the collection.\";}s:15:\"OriginEndpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/__listOfOriginEndpoint\";s:11:\"description\";s:33:\"A
  list of OriginEndpoint records.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:1000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:13:\"MssEncryption\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"A
  Microsoft Smooth Streaming (MSS) encryption configuration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"SpekeKeyProvider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SpekeKeyProvider\";}}s:8:\"required\";a:1:{i:0;s:16:\"SpekeKeyProvider\";}s:4:\"type\";s:6:\"object\";}s:10:\"MssPackage\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  Microsoft Smooth Streaming (MSS) packaging configuration.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Encryption\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MssEncryption\";}s:21:\"ManifestWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:56:\"The
  time window (in seconds) contained in each manifest.\";}s:22:\"SegmentDurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:42:\"The
  duration (in seconds) of each segment.\";}s:15:\"StreamSelection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StreamSelection\";}}s:4:\"type\";s:6:\"object\";}s:17:\"NotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  requested resource does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"OriginEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  OriginEndpoint resource configuration.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) assigned to the OriginEndpoint.\";}s:9:\"ChannelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:60:\"The
  ID of the Channel the OriginEndpoint is associated with.\";}s:11:\"CmafPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CmafPackage\";}s:11:\"DashPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DashPackage\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"A
  short text description of the OriginEndpoint.\";}s:10:\"HlsPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HlsPackage\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  ID of the OriginEndpoint.\";}s:12:\"ManifestName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:61:\"A
  short string appended to the end of the OriginEndpoint URL.\";}s:10:\"MssPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MssPackage\";}s:22:\"StartoverWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Maximum
  duration (seconds) of content to retain for startover playback.\nIf not specified,
  startover playback will be disabled for the OriginEndpoint.\n\";}s:16:\"TimeDelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Amount
  of delay (seconds) to enforce on the playback of live content.\nIf not specified,
  there will be no time delay in effect for the OriginEndpoint.\n\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"The
  URL of the packaged OriginEndpoint for consumption.\";}s:9:\"Whitelist\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:82:\"A
  list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"OriginEndpointCreateParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Configuration
  parameters for a new OriginEndpoint.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"ChannelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:131:\"The
  ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot
  be changed after the OriginEndpoint is created.\n\";}s:11:\"CmafPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/CmafPackageCreateOrUpdateParameters\";}s:11:\"DashPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DashPackage\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"A
  short text description of the OriginEndpoint.\";}s:10:\"HlsPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HlsPackage\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:133:\"The
  ID of the OriginEndpoint.  The ID must be unique within the region\nand it cannot
  be changed after the OriginEndpoint is created.\n\";}s:12:\"ManifestName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:97:\"A
  short string that will be used as the filename of the OriginEndpoint URL (defaults
  to \"index\").\";}s:10:\"MssPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MssPackage\";}s:22:\"StartoverWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Maximum
  duration (seconds) of content to retain for startover playback.\nIf not specified,
  startover playback will be disabled for the OriginEndpoint.\n\";}s:16:\"TimeDelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Amount
  of delay (seconds) to enforce on the playback of live content.\nIf not specified,
  there will be no time delay in effect for the OriginEndpoint.\n\";}s:9:\"Whitelist\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:82:\"A
  list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.\";}}s:8:\"required\";a:2:{i:0;s:2:\"Id\";i:1;s:9:\"ChannelId\";}s:4:\"type\";s:6:\"object\";}s:18:\"OriginEndpointList\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  collection of OriginEndpoint records.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:77:\"A
  token that can be used to resume pagination from the end of the collection.\";}s:15:\"OriginEndpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/__listOfOriginEndpoint\";s:11:\"description\";s:33:\"A
  list of OriginEndpoint records.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"OriginEndpointUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Configuration
  parameters for updating an existing OriginEndpoint.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"CmafPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/CmafPackageCreateOrUpdateParameters\";}s:11:\"DashPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DashPackage\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"A
  short text description of the OriginEndpoint.\";}s:10:\"HlsPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HlsPackage\";}s:12:\"ManifestName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:68:\"A
  short string that will be appended to the end of the Endpoint URL.\";}s:10:\"MssPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MssPackage\";}s:22:\"StartoverWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:153:\"Maximum
  duration (in seconds) of content to retain for startover playback.\nIf not specified,
  startover playback will be disabled for the OriginEndpoint.\n\";}s:16:\"TimeDelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:153:\"Amount
  of delay (in seconds) to enforce on the playback of live content.\nIf not specified,
  there will be no time delay in effect for the OriginEndpoint.\n\";}s:9:\"Whitelist\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:82:\"A
  list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"PlaylistType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:5:\"EVENT\";i:2;s:3:\"VOD\";}s:4:\"type\";s:6:\"string\";}s:7:\"Profile\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"NONE\";i:1;s:9:\"HBBTV_1_5\";}s:4:\"type\";s:6:\"string\";}s:31:\"RotateChannelCredentialsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"RotateChannelCredentialsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) assigned to the Channel.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"A
  short text description of the Channel.\";}s:9:\"HlsIngest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HlsIngest\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the Channel.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ServiceUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"An
  unexpected error occurred.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"SpekeKeyProvider\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"A
  configuration for accessing an external Secure Packager and Encoder Key Exchange
  (SPEKE) service that will provide encryption keys.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:43:\"The
  resource ID to include in key requests.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:130:\"An
  Amazon Resource Name (ARN) of an IAM role that AWS Elemental\nMediaPackage will
  assume when accessing the key provider service.\n\";}s:9:\"SystemIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:42:\"The
  system IDs to include in key requests.\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:45:\"The
  URL of the external key provider service.\";}}s:8:\"required\";a:4:{i:0;s:3:\"Url\";i:1;s:10:\"ResourceId\";i:2;s:7:\"RoleArn\";i:3;s:9:\"SystemIds\";}s:4:\"type\";s:6:\"object\";}s:11:\"StreamOrder\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"ORIGINAL\";i:1;s:23:\"VIDEO_BITRATE_ASCENDING\";i:2;s:24:\"VIDEO_BITRATE_DESCENDING\";}s:4:\"type\";s:6:\"string\";}s:15:\"StreamSelection\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  StreamSelection configuration.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"MaxVideoBitsPerSecond\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:53:\"The
  maximum video bitrate (bps) to include in output.\";}s:21:\"MinVideoBitsPerSecond\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:53:\"The
  minimum video bitrate (bps) to include in output.\";}s:11:\"StreamOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StreamOrder\";s:11:\"description\";s:63:\"A
  directive that determines the order of streams in the output.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"TooManyRequestsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  client has exceeded their resource or throttling limits.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"UnprocessableEntityException\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  parameters sent in the request are not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"UpdateChannelRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Configuration
  parameters used to update the Channel.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"A
  short text description of the Channel.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"UpdateChannelResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) assigned to the Channel.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"A
  short text description of the Channel.\";}s:9:\"HlsIngest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HlsIngest\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the Channel.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"UpdateOriginEndpointRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Configuration
  parameters used to update an existing OriginEndpoint.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"CmafPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/CmafPackageCreateOrUpdateParameters\";}s:11:\"DashPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DashPackage\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"A
  short text description of the OriginEndpoint.\";}s:10:\"HlsPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HlsPackage\";}s:12:\"ManifestName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:68:\"A
  short string that will be appended to the end of the Endpoint URL.\";}s:10:\"MssPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MssPackage\";}s:22:\"StartoverWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:153:\"Maximum
  duration (in seconds) of content to retain for startover playback.\nIf not specified,
  startover playback will be disabled for the OriginEndpoint.\n\";}s:16:\"TimeDelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:153:\"Amount
  of delay (in seconds) to enforce on the playback of live content.\nIf not specified,
  there will be no time delay in effect for the OriginEndpoint.\n\";}s:9:\"Whitelist\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:82:\"A
  list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"UpdateOriginEndpointResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) assigned to the OriginEndpoint.\";}s:9:\"ChannelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:60:\"The
  ID of the Channel the OriginEndpoint is associated with.\";}s:11:\"CmafPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CmafPackage\";}s:11:\"DashPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DashPackage\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"A
  short text description of the OriginEndpoint.\";}s:10:\"HlsPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HlsPackage\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  ID of the OriginEndpoint.\";}s:12:\"ManifestName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:61:\"A
  short string appended to the end of the OriginEndpoint URL.\";}s:10:\"MssPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MssPackage\";}s:22:\"StartoverWindowSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Maximum
  duration (seconds) of content to retain for startover playback.\nIf not specified,
  startover playback will be disabled for the OriginEndpoint.\n\";}s:16:\"TimeDelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:150:\"Amount
  of delay (seconds) to enforce on the playback of live content.\nIf not specified,
  there will be no time delay in effect for the OriginEndpoint.\n\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"The
  URL of the packaged OriginEndpoint for consumption.\";}s:9:\"Whitelist\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:82:\"A
  list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"__PeriodTriggersElement\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"ADS\";}s:4:\"type\";s:6:\"string\";}s:9:\"__boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"__double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"__integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"__listOfChannel\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Channel\";}s:4:\"type\";s:5:\"array\";}s:19:\"__listOfHlsManifest\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/HlsManifest\";}s:4:\"type\";s:5:\"array\";}s:43:\"__listOfHlsManifestCreateOrUpdateParameters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/HlsManifestCreateOrUpdateParameters\";}s:4:\"type\";s:5:\"array\";}s:22:\"__listOfIngestEndpoint\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IngestEndpoint\";}s:4:\"type\";s:5:\"array\";}s:22:\"__listOfOriginEndpoint\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OriginEndpoint\";}s:4:\"type\";s:5:\"array\";}s:31:\"__listOf__PeriodTriggersElement\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/__PeriodTriggersElement\";}s:4:\"type\";s:5:\"array\";}s:16:\"__listOf__string\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}s:4:\"type\";s:5:\"array\";}s:6:\"__long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"__string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
