---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"This is a PDC data
  server. \";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:7:\"PDC API\";}"
host: pdc.esacinc.com:3000
basePath: /graphql
paths:
  /aliquotSpectralCount:
    get:
      summary: Get spectral counts of available projects for an aliquot
      description: Returns spectral counts of available projects for an aliquot
      operationId: aliquotSpectralCount
      produces:
      - application/json
      parameters:
      - name: gene_name_id
        in: path
        description: 'HGNC Gene ID, example: A1BG'
        required: true
        type: string
      - name: dataset_alias
        in: path
        description: 'ID of aliquot to return, example: A2-A0D0-01A'
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Gene'
        401:
          description: Unauthorized
  /allCases:
    get:
      summary: Gets all cases
      description: Retruns case ID
      operationId: allCases
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Case'
        401:
          description: Unauthorized
  /allExperimentTypes:
    get:
      summary: Get info of experiment types
      description: 'Returns a list of experiment types, example: Label Free, iTRAQ4,
        TMT10'
      operationId: allExperimentTypes
      produces:
      - application/json
      parameters:
      - name: primary_diagnosis
        in: path
        description: 'Text term for the structural pattern of cancer cells used to
          define a microscopic diagnosis caDSR: 3081934, example : Mucinous Carcinoma'
        required: false
        type: string
      - name: tissue_or_organ_of_origin
        in: path
        description: 'Text term that describes the anatomic site of the tumor or disease.
          caDSR: 3427536, example: Breast'
        required: false
        type: string
      - name: experiment_type
        in: path
        description: Name of experiment type
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Experiment'
        401:
          description: Unauthorized
  /allPrograms:
    get:
      summary: Gets all programs
      description: Retruns all available programs
      operationId: allPrograms
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Program'
        401:
          description: Unauthorized
  /case:
    get:
      summary: Find case by ID
      description: Returns a single case
      operationId: case
      produces:
      - application/json
      parameters:
      - name: case_submitter_id
        in: path
        description: ID of case to return
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Case'
        401:
          description: Unauthorized
  /caseSearch:
    get:
      summary: Find cases by partial case_submitter_id
      description: Returns a list of search records
      operationId: caseSearch
      produces:
      - application/json
      parameters:
      - name: name
        in: path
        description: Partial case_submitter_id to search cases with
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SearchRecord'
        401:
          description: Unauthorized
  /diseasesAvailable:
    get:
      summary: Get available info of diseases
      description: Returns a list of diseases
      operationId: diseasesAvailable
      produces:
      - application/json
      parameters:
      - name: primary_diagnosis
        in: path
        description: 'Text term for the structural pattern of cancer cells used to
          define a microscopic diagnosis caDSR: 3081934, example : Mucinous Carcinoma'
        required: false
        type: string
      - name: tissue_or_organ_of_origin
        in: path
        description: 'Text term that describes the anatomic site of the tumor or disease.
          caDSR: 3427536, example: Breast'
        required: false
        type: string
      - name: project_id
        in: path
        description: ID of project
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Diagnosis'
        401:
          description: Unauthorized
  /diseaseTypesPerProject:
    get:
      summary: Get disease types per project
      description: Returns a list of disease types
      operationId: diseaseTypesPerProject
      produces:
      - application/json
      parameters:
      - name: project_id
        in: path
        description: ID of project
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Study'
        401:
          description: Unauthorized
  /filesCountPerStudy:
    get:
      summary: Get file count per study
      description: Returns counts of files per study per file type
      operationId: filesCountPerStudy
      produces:
      - application/json
      parameters:
      - name: study_submitter_id
        in: path
        description: ID of a study
        required: false
        type: string
      - name: file_type
        in: path
        description: Name of a file type
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/File'
        401:
          description: Unauthorized
  /filesPerStudy:
    get:
      summary: Get files per study
      description: Returns a list of files per study
      operationId: filesPerStudy
      produces:
      - application/json
      parameters:
      - name: study_submitter_id
        in: path
        description: ID of a study
        required: false
        type: string
      - name: file_type
        in: path
        description: Name of a file type
        required: false
        type: string
      - name: file_name
        in: path
        description: Name of a file
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/FilePerStudy'
        401:
          description: Unauthorized
  /geneSearch:
    get:
      summary: Find genes by partial gene_name
      description: Returns a list of search records
      operationId: geneSearch
      produces:
      - application/json
      parameters:
      - name: name
        in: path
        description: Partial gene_name to search genes with
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SearchRecord'
        401:
          description: Unauthorized
  /geneSpectralCount:
    get:
      summary: Get spectral counts of available projects for a Gene
      description: Returns spectral counts of available projects for a gene
      operationId: geneSpectralCount
      produces:
      - application/json
      parameters:
      - name: gene_name_id
        in: path
        description: HGNC gene ID of the gene to return
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Gene'
        401:
          description: Unauthorized
  /fileMetadata:
    get:
      summary: Get file metadata
      description: Returns a list of file metadata
      operationId: fileMetadata
      produces:
      - application/json
      parameters:
      - name: file_name
        in: path
        description: Name of a file
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/FileMetadata'
        401:
          description: Unauthorized
  /getPaginatedCases:
    get:
      summary: Get paginated case records
      description: Returns a list of cases and a pagination record
      operationId: getPaginatedCases
      produces:
      - application/json
      parameters:
      - name: offset
        in: path
        description: Offset of records
        required: false
        type: integer
      - name: limit
        in: path
        description: Limit of records
        required: false
        type: integer
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Paginated'
        401:
          description: Unauthorized
  /getPaginatedFiles:
    get:
      summary: Get paginated file records
      description: Returns a list of files and a pagination record
      operationId: getPaginatedFiles
      produces:
      - application/json
      parameters:
      - name: study_submitter_id
        in: path
        description: ID of study
        required: false
        type: string
      - name: file_type
        in: path
        description: File type
        required: false
        type: string
      - name: file_name
        in: path
        description: Name of file
        required: false
        type: string
      - name: offset
        in: path
        description: Offset of records
        required: false
        type: integer
      - name: limit
        in: path
        description: Limit of records
        required: false
        type: integer
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Paginated'
        401:
          description: Unauthorized
  /paginatedCaseDemographicsPerStudy:
    get:
      summary: Get Cases/Demographics
      description: Returns cases/demographics per study
      operationId: paginatedCaseDemographicsPerStudy
      produces:
      - application/json
      parameters:
      - name: study_name
        in: path
        description: Name of study
        required: false
        type: string
      - name: study_submitter_id
        in: path
        description: Submitter id of study
        required: false
        type: string
      - name: study_id
        in: path
        description: UUID of study
        required: false
        type: string
      - name: offset
        in: path
        description: Offset of records
        required: false
        type: integer
      - name: limit
        in: path
        description: Limit of records
        required: false
        type: integer
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Paginated'
        401:
          description: Unauthorized
  /paginatedCaseDiagnosesPerStudy:
    get:
      summary: Get Cases/Diagnoses
      description: Returns cases/diagnoses per study
      operationId: paginatedCaseDiagnosesPerStudy
      produces:
      - application/json
      parameters:
      - name: study_name
        in: path
        description: Name of study
        required: false
        type: string
      - name: study_submitter_id
        in: path
        description: Submitter id of study
        required: false
        type: string
      - name: study_id
        in: path
        description: UUID of study
        required: false
        type: string
      - name: offset
        in: path
        description: Offset of records
        required: false
        type: integer
      - name: limit
        in: path
        description: Limit of records
        required: false
        type: integer
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Paginated'
        401:
          description: Unauthorized
  /paginatedDataMatrix:
    get:
      summary: Get data matrix of spectral counts or quantitative data
      description: Returns data matrix of spectral counts or quantitative data
      operationId: paginatedDataMatrix
      produces:
      - application/json
      parameters:
      - name: study_submitter_id
        in: path
        description: Submitter id of study
        required: true
        type: string
      - name: data_type
        in: path
        description: type of data in matrix
        required: true
        type: string
      - name: offset
        in: path
        description: Offset of records
        required: false
        type: integer
      - name: limit
        in: path
        description: Limit of records
        required: false
        type: integer
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Paginated'
        401:
          description: Unauthorized
  /paginatedSpectralCountPerStudyAliquot:
    get:
      summary: Get spectral counts per study/aliquot/gene
      description: Returns spectral counts per study/aliquot/gene
      operationId: paginatedSpectralCountPerStudyAliquot
      produces:
      - application/json
      parameters:
      - name: study_submitter_id
        in: path
        description: Submitter id of study
        required: false
        type: string
      - name: gene_name
        in: path
        description: Name of gene
        required: false
        type: string
      - name: plex_name
        in: path
        description: aliquot id
        required: false
        type: string
      - name: offset
        in: path
        description: Offset of records
        required: false
        type: integer
      - name: limit
        in: path
        description: Limit of records
        required: false
        type: integer
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Paginated'
        401:
          description: Unauthorized
  /pdcDataStats:
    get:
      summary: Gets all PDC statistics
      description: ""
      operationId: pdcDataStats
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/PdcDataStats'
        401:
          description: Unauthorized
  /program:
    get:
      summary: Find program by ID
      description: Returns a single program with its projects
      operationId: program
      produces:
      - application/json
      parameters:
      - name: program_id
        in: path
        description: ID of program to return
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Program'
        401:
          description: Unauthorized
  /programsProjectsStudies:
    get:
      summary: Get all programs/projects/studies
      description: Returns a hierarchy of programs/projects/studies for an optional
        filter value
      operationId: program
      produces:
      - application/json
      parameters:
      - name: disease_type
        in: path
        description: Disease type of a case
        type: string
      - name: msp_instrument
        in: path
        description: Mass spec instrument of a protocol
        type: string
      - name: analytical_fraction
        in: path
        description: Analytical fraction of a study
        type: string
      - name: experiment_type
        in: path
        description: Experiment type of a study
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Program'
        401:
          description: Unauthorized
  /projectsPerExperimentType:
    get:
      summary: Get projects per experiment types
      description: Returns a list of projects per experiment types - Label Free, iTRAQ4,
        TMT10
      operationId: projectsPerExperimentType
      produces:
      - application/json
      parameters:
      - name: experiment_type
        in: path
        description: Name of experiment type
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ExperimentProjects'
        401:
          description: Unauthorized
  /projectsPerInstrument:
    get:
      summary: Get projects per instrument
      description: 'Returns a list of projects per mass spectrometry instrument, example:
        Lumos'
      operationId: projectsPerInstrument
      produces:
      - application/json
      parameters:
      - name: instrument
        in: path
        description: Name of instrument
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Protocol'
        401:
          description: Unauthorized
  /protein:
    get:
      summary: Get spectral counts and plex in available projects for a protein
      description: Returns spectral counts of available projects for gene to which
        the protein ID (Uniprot or Refseq) mapped
      operationId: protein
      produces:
      - application/json
      parameters:
      - name: protein
        in: path
        description: Name of protein to return
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Gene'
        401:
          description: Unauthorized
  /quantitiveDataCPTAC2:
    get:
      summary: Get quantitive data per study and/or experiment_type
      description: Returns quantitive data per study and/or experiment_type
      operationId: quantitiveDataCPTAC2
      produces:
      - application/json
      parameters:
      - name: study_submitter_id
        in: path
        description: Submitter id of study
        required: false
        type: string
      - name: experiment_type
        in: path
        description: experiment type
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/QuantitiveData'
        401:
          description: Unauthorized
  /studySearch:
    get:
      summary: Find studies by partial study_shortname
      description: Returns a list of search records
      operationId: studySearch
      produces:
      - application/json
      parameters:
      - name: name
        in: path
        description: Partial study_shortname to search studies with
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SearchRecord'
        401:
          description: Unauthorized
  /tissueSitesAvailable:
    get:
      summary: Get available Tissue Sites
      description: Returns a list of Tissue Sites
      operationId: tissueSitesAvailable
      produces:
      - application/json
      parameters:
      - name: tissue_or_organ_of_origin
        in: path
        description: 'Text term that describes the anatomic site of the tumor or disease.
          caDSR: 3427536, example: Breast'
        required: false
        type: string
      - name: project_id
        in: path
        description: ID of project
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Diagnosis'
        401:
          description: Unauthorized
  /workflowMetadata:
    get:
      summary: Get workflow metadata
      description: Returns a list of workflow metadata
      operationId: workflowMetadata
      produces:
      - application/json
      parameters:
      - name: workflow_metadata_submitter_id
        in: path
        description: ID of workflow metadata
        required: false
        type: string
      - name: study_submitter_id
        in: path
        description: ID of study
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WorkflowMetadata'
        401:
          description: Unauthorized
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":25:{s:9:\"Paginated\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"total\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"total
  number of records\";}s:5:\"files\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/File\";}}s:5:\"cases\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Case\";}}s:21:\"caseDiagnosesPerStudy\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Case\";}}s:24:\"caseDemographicsPerStudy\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Case\";}}s:20:\"casesSamplesAliquots\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Case\";}}s:10:\"dataMatrix\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"array\";}s:10:\"pagination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Paginated\";}}s:7:\"Aliquot\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"aliquot_id\";i:1;s:20:\"aliquot_submitter_id\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"aliquot_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:20:\"aliquot_submitter_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"unique
  identifier\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sample_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"sample_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"aliquot_quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"float\";}s:14:\"aliquot_volume\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"float\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"float\";}s:12:\"analyte_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"concentration\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"float\";}s:20:\"aliquot_run_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Aliquot_run_metadata\";}s:6:\"sample\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Sample\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Aliquot\";}}s:20:\"Aliquot_run_metadata\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:23:\"aliquot_run_metadata_id\";i:1;s:33:\"aliquot_run_metadata_submitter_id\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:23:\"aliquot_run_metadata_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:33:\"aliquot_run_metadata_submitter_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"unique
  identifier\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pcc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"experiment_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"acquisition_file_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lab\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fraction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"instrument\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"replicate_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"Date\";}s:9:\"condition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"analyte\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"aliquot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Aliquot\";}s:5:\"study\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Study\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Protocol\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:20:\"Aliquot_run_metadata\";}}s:4:\"Case\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"case_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:17:\"case_submitter_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"01BR001\";}s:11:\"gdc_case_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"be37f1f7-2f98-4f74-bc04-6dd2ae2afcad\";}s:23:\"tissue_source_site_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"days_to_lost_to_followup\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"disease_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"Breast
  Invasive Carcinoma\";}s:10:\"index_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"John
  Doe\";}s:16:\"lost_to_followup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"John
  Doe\";}s:12:\"primary_site\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Breast\";}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}s:12:\"demographics\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Demographic\";}}s:7:\"samples\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Sample\";}}s:9:\"diagnoses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Diagnosis\";}}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"Case\";}}s:11:\"Demographic\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"demographic_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"demographic_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ethnicity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"race\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"cause_of_death\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"vital_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"days_to_birth\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"year_of_birth\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"year_of_death\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}s:4:\"case\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Case\";}}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"Demographic\";}}s:9:\"Diagnosis\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":71:{s:12:\"diagnosis_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"diagnosis_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"case_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"case_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"gdc_case_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"project_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"age_at_diagnosis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"classification_of_tumor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"days_to_last_follow_up\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"days_to_last_known_disease_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"days_to_recurrence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"last_known_disease_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"morphology\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"progression_or_recurrence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"site_of_resection_or_biopsy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"tumor_grade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"tumor_stage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"vital_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"days_to_birth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"days_to_death\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"prior_malignancy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ajcc_clinical_m\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ajcc_clinical_n\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ajcc_clinical_stage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ajcc_clinical_t\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ajcc_pathologic_m\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ajcc_pathologic_n\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"ajcc_pathologic_stage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ajcc_pathologic_t\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"ann_arbor_b_symptoms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"ann_arbor_clinical_stage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"ann_arbor_extranodal_involvement\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"ann_arbor_pathologic_stage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"best_overall_response\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"burkitt_lymphoma_clinical_variant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"cause_of_death\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"circumferential_resection_margin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"colon_polyps_history\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"days_to_best_overall_response\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"days_to_diagnosis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"days_to_hiv_diagnosis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"days_to_new_event\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"figo_stage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"hiv_positive\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"hpv_positive_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"hpv_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"iss_stage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"laterality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"ldh_level_at_diagnosis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"ldh_normal_range_upper\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"lymph_nodes_positive\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"lymphatic_invasion_present\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"method_of_diagnosis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"new_event_anatomic_site\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"new_event_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"overall_survival\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"perineural_invasion_present\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"prior_treatment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"progression_free_survival\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"progression_free_survival_event\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"residual_disease\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"vascular_invasion_present\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"year_of_diagnosis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"disease_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"tissue_or_organ_of_origin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Breast\";}s:17:\"primary_diagnosis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:29:\"Inflitrating
  Ductal Carcinoma\";}s:11:\"cases_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"case\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Case\";}}s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}s:7:\"studies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Study\";}}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Diagnosis\";}}s:10:\"Experiment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"experiment_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"tissue_or_organ_of_origin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Breast\";}s:17:\"primary_diagnosis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:29:\"Inflitrating
  Ductal Carcinoma\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"Experiment\";}}s:18:\"ExperimentProjects\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"experiment_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"primary_diagnosis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:29:\"Inflitrating
  Ductal Carcinoma\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:18:\"ExperimentProjects\";}}s:4:\"File\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:18:\"study_submitter_id\";i:1;s:4:\"uuid\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"file_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:18:\"study_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"unique
  identifier\";}s:11:\"files_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"file_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:43:\"06a0ff24-325a-4c70-b480-882eb0ae9a0e.tar.gz\";}s:9:\"file_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"PSM\";}s:6:\"md5sum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:32:\"6635c5c335c1aad60a3c331b65977564\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"File\";}}s:12:\"FilePerStudy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"study_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"study_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"study_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"file_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"file_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:43:\"06a0ff24-325a-4c70-b480-882eb0ae9a0e.tar.gz\";}s:17:\"file_submitter_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:85:\"TCGA_114C_36-2547-01A-01_36-1578-01A-01_36-2542-01A-01_W_JHUZ_20130524_F7.raw.cap.psm\";}s:9:\"file_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"PSM\";}s:13:\"file_location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"file_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"md5sum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:32:\"6635c5c335c1aad60a3c331b65977564\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"FilePerStudy\";}}s:12:\"FileMetadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"file_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:43:\"06a0ff24-325a-4c70-b480-882eb0ae9a0e.tar.gz\";}s:13:\"file_location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"file_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"md5sum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:32:\"6635c5c335c1aad60a3c331b65977564\";}s:8:\"aliquots\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Aliquot\";}}s:17:\"file_submitter_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:85:\"TCGA_114C_36-2547-01A-01_36-1578-01A-01_36-2542-01A-01_W_JHUZ_20130524_F7.raw.cap.psm\";}s:7:\"analyte\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"instrument\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"folder_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fraction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"experiment_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"FileMetadata\";}}s:4:\"Gene\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"gene_name_id\";i:1;s:4:\"uuid\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"gene_name_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"unique
  identifier\";}s:12:\"NCBI_gene_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"authority\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"HGNC:5\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"alpha-1-B
  glycoprotein\";}s:8:\"organism\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Homo
  sapiens\";}s:10:\"chromosome\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"19\";}s:5:\"locus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"19q13.43\";}s:7:\"protein\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:34:\"M0R009;NP_570602.2;P04217;P04217-2\";}s:6:\"assays\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"non-CPTAC-1064\";}s:14:\"spectralCounts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SpectralCount\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"Gene\";}}s:10:\"Pagination\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:5:\"count\";i:1;s:4:\"from\";i:2;s:4:\"page\";i:3;s:5:\"total\";i:4;s:5:\"pages\";i:5;s:4:\"size\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"pages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"Pagination\";}}s:12:\"PdcDataStats\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"program\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"data_label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"study\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"spectra\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"protein\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"data_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"data_file\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"peptide\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"PdcDataStats\";}}s:7:\"Program\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"program_id\";i:1;s:4:\"uuid\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"program_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:44:\"Clinical
  Proteomic Tumor Analysis Consortium\";}s:7:\"sponsor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"NCI\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"program_manager\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"John
  Doe\";}s:8:\"projects\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Program\";}}s:7:\"Project\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"project_id\";i:1;s:4:\"uuid\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"project_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:44:\"Clinical
  Proteomic Tumor Analysis Consortium\";}s:12:\"project_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Research\";}s:7:\"studies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Study\";}}s:7:\"program\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Program\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Project\";}}s:8:\"Protocol\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":38:{s:11:\"protocol_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:21:\"protocol_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"project_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"protocol_submitter_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"analytical_fraction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"experiment_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"asp_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"asp_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"asp_starting_amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"asp_proteolysis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"asp_alkylation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"asp_enrichment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"asp_labelling\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"asp_fractionation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"asp_fractions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"asp_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"asp_document\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"cp_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"cp_column_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"cp_injected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"cp_column_length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"cp_inside_diameter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"cp_particle_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"cp_particle_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"cp_gradient_length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"cp_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"cp_document\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"msp_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"msp_instrument\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"Thermo
  LTQ Orbitrap Velos\";}s:8:\"msp_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:35:\"Orbitrap
  Mass Spectrometry Protocol\";}s:16:\"msp_dissociation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"msp_ms1_resolution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"msp_ms2_resolution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"msp_precursors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"msp_collision_energy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"msp_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"msp_document\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"study\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Study\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Protocol\";}}s:11:\"Publication\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"publication_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:9:\"pubmed_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"Publication\";}}s:14:\"QuantitiveData\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:17:\"gene_abundance_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:7:\"gene_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"gene_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"study_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"study_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"study_run_metadata_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"study_run_metadata_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"analytical_fraction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"experiment_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"aliquot_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"aliquot_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"aliquot_run_metadata_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"aliquot_run_metadata_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"project_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"aliquot_alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"ratio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"unshared_ratio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"unshared_area\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"precursor_area\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"log10_unshared_area\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"area\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"log10_area\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"cud_label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:14:\"QuantitiveData\";}}s:6:\"Sample\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":30:{s:9:\"sample_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:13:\"gdc_sample_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"gdc_project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"days_to_collection\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"sample_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"sample_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"biospecimen_anatomic_site\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"composition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"current_weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"float\";}s:26:\"days_to_sample_procurement\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"freezing_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"initial_weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"float\";}s:22:\"Intermediate_dimension\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"is_ffpe\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"longest_dimension\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"method_of_sample_procurement\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"oct_embedded\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"pathology_report_uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"preservation_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"sample_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shortest_dimension\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"time_between_clamping_and_freezing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"time_between_excision_and_freezing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"tissue_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tumor_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"tumor_code_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"tumor_descriptor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"aliquots\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Aliquot\";}s:4:\"case\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Case\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:6:\"Sample\";}}s:12:\"SearchRecord\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"record_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"proteins\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"submitter_id_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"SearchRecord\";}}s:13:\"SpectralCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:12:\"gene_name_id\";i:1;s:18:\"study_submitter_id\";i:2;s:10:\"project_id\";i:3;s:4:\"uuid\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"gene_name_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:18:\"study_submitter_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"unique
  identifier\";}s:4:\"plex\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"All\";}s:14:\"spectral_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"distinct_peptide\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"unshared_peptide\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"gene\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Gene\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"SpectralCount\";}}s:5:\"Study\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"study_id\";i:1;s:10:\"project_id\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"study_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"analytical_fraction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Phosphoproteome\";}s:15:\"experiment_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"TMT10\";}s:5:\"cases\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Case\";}s:9:\"diagnoses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Diagnosis\";}s:18:\"study_run_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Study_run_metadata\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:5:\"Study\";}}s:18:\"Study_run_metadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":32:{s:21:\"study_run_metadata_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:31:\"study_run_metadata_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pcc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"experiment_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"experiment_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"folder_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"acquisition_file_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fraction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"analyte\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"Date\";}s:5:\"alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"instrument\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"replicate_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"condition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"label_free\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"itraq_114\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"itraq_115\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"itraq_116\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"itraq_117\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tmt10_126\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tmt10_127n\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tmt10_127c\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tmt10_128n\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tmt10_128c\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tmt10_129n\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tmt10_129c\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"tmt10_129cc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tmt10_130n\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tmt10_131\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"study\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Study\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Protocol\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:18:\"Study_run_metadata\";}}s:16:\"WorkflowMetadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":27:{s:30:\"workflow_metadata_submitter_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"PK\";}s:21:\"protocol_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"study_submitter_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"cptac_study_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"submitter_id_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"study_submitter_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"analytical_fraction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"experiment_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"instrument\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"refseq_database_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"uniport_database_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"hgnc_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"raw_data_processing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"raw_data_conversion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"sequence_database_search\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"search_database_parameters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"phosphosite_localization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ms1_data_analysis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"psm_report_generation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"cptac_dcc_mzidentml\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"mzidentml_refseq\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"mzidentml_uniprot\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"gene_to_prot\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"cptac_galaxy_workflows\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"cptac_galaxy_tools\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"cdap_reports\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"cptac_dcc_tools\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"WorkflowMetadata\";}}}"
...
