---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"Public
  Transport Victoria\";s:3:\"url\";s:29:\"http://ptv.vic.gov.au/digital\";}s:11:\"description\";s:2156:\"The
  PTV Timetable API provides direct access to Public Transport Victoria\u2019s public
  transport timetable data.\r\n\r\nThe API returns scheduled timetable, route and
  stop data for all metropolitan and regional train, tram and bus services in Victoria,
  including Night Network(Night Train and Night Tram data are included in metropolitan
  train and tram services data, respectively, whereas Night Bus is a separate route
  type).\r\n\r\nThe API also returns real-time data for metropolitan train, tram and
  bus services (where this data is made available to PTV), as well as disruption information,
  stop facility information, and access to myki ticket outlet data.\r\n\r\nThis Swagger
  is for Version 3 of the PTV Timetable API. By using this documentation you agree
  to comply with the licence and terms of service.\r\n\r\nTrain timetable data is
  updated daily, while the remaining data is updated weekly, taking into account any
  planned timetable changes (for example, due to holidays or planned disruptions).
  The PTV timetable API is the same API used by PTV for its apps. To access the most
  up to date data PTV has (including real-time data) you must use the API dynamically.\r\n\r\nYou
  can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:\r\n\r\n
  \   base URL / version number / API name / query string\r\nThe base URL is either:\r\n
  \ *  http://timetableapi.ptv.vic.gov.au\r\nor\r\n  *  https://timetableapi.ptv.vic.gov.au\r\n\r\nThe
  Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3\r\n\r\nFrequently
  asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq\r\n\r\nLinks
  to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/\r\n*
  How to register for an API key and calculate a signature\r\n* PTV Timetable API
  V2 to V3 Migration Guide\r\n* Documentation for Version 2 of the PTV Timetable API\r\n*
  PTV Timetable API Data Quality Statement\r\n\r\nAll information about how to use
  the API is in this documentation. PTV cannot provide technical support for the API.\r\n\r\nCredits:
  This page has been based on Steve Bennett's http://opentransportdata.org/, used
  with permission.\r\n\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:46:\"Creative
  Commons Attribution 4.0 International\";s:3:\"url\";s:44:\"https://creativecommons.org/licenses/by/4.0/\";}s:14:\"termsOfService\";s:40:\"http://ptv.vic.gov.au/ptv-timetable-api/\";s:5:\"title\";s:29:\"PTV
  Timetable API - Version 3\";s:7:\"version\";s:2:\"v3\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"transport\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:111:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_544730682023346176_sAia9jJQ_400x400.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:50:\"http://timetableapi.ptv.vic.gov.au/swagger/docs/v3\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"ptv.vic.gov.au\";}"
host: timetableapi.ptv.vic.gov.au
paths: ~
produces:
- application/json
- text/json
- text/html
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":56:{s:9:\"V2.Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"V3.BulkDeparturesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"date_utc\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Filter
  by the date and time of the request (ISO 8601 UTC format) (default = current date
  and time)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"List
  objects to be returned in full (i.e. expanded) - options include: all, stop, route,
  run, direction, disruption\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:3:\"All\";i:1;s:4:\"Stop\";i:2;s:5:\"Route\";i:3;s:3:\"Run\";i:4;s:9:\"Direction\";i:5;s:10:\"Disruption\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"include_cancelled\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"Indicates
  if cancelled services (if they exist) are returned (default = false) - metropolitan
  train only\";s:4:\"type\";s:7:\"boolean\";}s:14:\"look_backwards\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Indicates
  if filtering runs (and their departures) to those that arrive at destination before
  date_utc (default = false). Requires max_results &gt; 0.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"requests\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Collection
  of departure requests\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/V3.StopDepartureRequest\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"requests\";}s:4:\"type\";s:6:\"object\";}s:25:\"V3.BulkDeparturesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"directions\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Directions
  of travel of route\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/V3.Direction\";}s:4:\"type\";s:5:\"array\";}s:11:\"disruptions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";}s:11:\"description\";s:61:\"Disruption
  information applicable to relevant routes or stops\";s:4:\"type\";s:6:\"object\";}s:9:\"responses\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Contains
  departures for the requested stop and route(s). It includes details as to the route_direction
  and whether it is still valid.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/V3.BulkDeparturesUpdateResponse\";}s:4:\"type\";s:5:\"array\";}s:6:\"routes\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Train
  lines, tram routes, bus routes, regional coach routes, Night Bus routes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/V3.Route\";}s:4:\"type\";s:5:\"array\";}s:4:\"runs\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Individual
  trips/services of a route\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/V3.Run\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}s:5:\"stops\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/V3.BulkDeparturesStopResponse\";}s:11:\"description\";s:75:\"A
  train station, tram stop, bus stop, regional coach stop or Night Bus stop\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:39:\"V3.BulkDeparturesRouteDirectionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"direction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Direction
  of travel identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"direction_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Name
  of direction of travel\";s:4:\"type\";s:6:\"string\";}s:8:\"route_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Route
  identifier\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"V3.BulkDeparturesStopResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"stop_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Stop
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"stop_latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Geographic
  coordinate of latitude at stop\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:14:\"stop_longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Geographic
  coordinate of longitude at stop\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"stop_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Name
  of stop\";s:4:\"type\";s:6:\"string\";}s:11:\"stop_suburb\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"suburb
  of stop\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"V3.BulkDeparturesUpdateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"departures\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Timetabled
  and real-time service departures\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/V3.Departure\";}s:4:\"type\";s:5:\"array\";}s:25:\"requested_route_direction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/V3.BulkDeparturesRouteDirectionResponse\";s:11:\"description\";s:96:\"The
  route direction that these departures are for. Will be one of the requested route
  directions\";}s:15:\"route_direction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/V3.BulkDeparturesRouteDirectionResponse\";s:11:\"description\";s:64:\"The
  route direction found matching the requested_route_direction\";}s:22:\"route_direction_status\";O:8:\"stdClass\":4:{s:11:\"description\";s:168:\"The
  status of the route direction (changed | unchanged).\r\n            If changed,
  requests should change the requested_route_direction for the route_direction supplied.\";s:4:\"enum\";a:2:{i:0;i:0;i:1;i:1;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"stop_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Stop
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"V3.Departure\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"at_platform\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Indicates
  if the metropolitan train service is at the platform at the time of query; returns
  false for other modes\";s:4:\"type\";s:7:\"boolean\";}s:18:\"departure_sequence\";O:8:\"stdClass\":3:{s:11:\"description\";s:190:\"Chronological
  sequence of the departure for the run on the route. Order ascendingly by this field
  to get chronological order (earliest first) of departures with the same route_id
  and run_id.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"direction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Direction
  of travel identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"disruption_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Disruption
  information identifier(s)\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:23:\"estimated_departure_utc\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Real-time
  estimate of departure time and date in ISO 8601 UTC format\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"flags\";O:8:\"stdClass\":2:{s:11:\"description\";s:263:\"Flag
  indicating special condition for run (e.g. RR Reservations Required, GC Guaranteed
  Connection, DOO Drop Off Only, PUO Pick Up Only, MO Mondays only, TU Tuesdays only,
  WE Wednesdays only, TH Thursdays only, FR Fridays only, SS School days only; ignore
  E flag)\";s:4:\"type\";s:6:\"string\";}s:15:\"platform_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Platform
  number at stop (metropolitan train only; returns null for other modes)\";s:4:\"type\";s:6:\"string\";}s:8:\"route_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Route
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"run_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Trip/service
  run identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"scheduled_departure_utc\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Scheduled
  (i.e. timetabled) departure time and date in ISO 8601 UTC format\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"stop_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Stop
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:28:\"V3.DeparturesBroadParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"date_utc\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Filter
  by the date and time of the request (ISO 8601 UTC format) (default = current date
  and time)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"direction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"Filter
  by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"expand\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"List
  objects to be returned in full (i.e. expanded) - options include: all, stop, route,
  run, direction, disruption\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:3:\"All\";i:1;s:4:\"Stop\";i:2;s:5:\"Route\";i:3;s:3:\"Run\";i:4;s:9:\"Direction\";i:5;s:10:\"Disruption\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"gtfs\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Indicates
  that stop_id parameter will accept \"GTFS stop_id\" data\";s:4:\"type\";s:7:\"boolean\";}s:17:\"include_cancelled\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"Indicates
  if cancelled services (if they exist) are returned (default = false) - metropolitan
  train only\";s:4:\"type\";s:7:\"boolean\";}s:14:\"look_backwards\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Indicates
  if filtering runs (and their departures) to those that arrive at destination before
  date_utc (default = false). Requires max_results &gt; 0.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"max_results\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Maximum
  number of results returned\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"platform_numbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Filter
  by platform number at stop\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"V3.DeparturesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"departures\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Timetabled
  and real-time service departures\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/V3.Departure\";}s:4:\"type\";s:5:\"array\";}s:10:\"directions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/V3.Direction\";}s:11:\"description\";s:29:\"Directions
  of travel of route\";s:4:\"type\";s:6:\"object\";}s:11:\"disruptions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";}s:11:\"description\";s:61:\"Disruption
  information applicable to relevant routes or stops\";s:4:\"type\";s:6:\"object\";}s:6:\"routes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/V3.Route\";}s:11:\"description\";s:77:\"Train
  lines, tram routes, bus routes, regional coach routes, Night Bus routes\";s:4:\"type\";s:6:\"object\";}s:4:\"runs\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/V3.Run\";}s:11:\"description\";s:36:\"Individual
  trips/services of a route\";s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}s:5:\"stops\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.ResultStop\";}s:11:\"description\";s:75:\"A
  train station, tram stop, bus stop, regional coach stop or Night Bus stop\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:31:\"V3.DeparturesSpecificParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"date_utc\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Filter
  by the date and time of the request (ISO 8601 UTC format) (default = current date
  and time)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"direction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"Filter
  by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"expand\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"List
  objects to be returned in full (i.e. expanded) - options include: all, stop, route,
  run, direction, disruption\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:3:\"All\";i:1;s:4:\"Stop\";i:2;s:5:\"Route\";i:3;s:3:\"Run\";i:4;s:9:\"Direction\";i:5;s:10:\"Disruption\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"gtfs\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Indicates
  that stop_id parameter will accept \"GTFS stop_id\" data\";s:4:\"type\";s:7:\"boolean\";}s:17:\"include_cancelled\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"Indicates
  if cancelled services (if they exist) are returned (default = false) - metropolitan
  train only\";s:4:\"type\";s:7:\"boolean\";}s:14:\"look_backwards\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Indicates
  if filtering runs (and their departures) to those that arrive at destination before
  date_utc (default = false). Requires max_results &gt; 0.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"max_results\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Maximum
  number of results returned\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"V3.Direction\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"direction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Direction
  of travel identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"direction_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Name
  of direction of travel\";s:4:\"type\";s:6:\"string\";}s:8:\"route_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Route
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"V3.DirectionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"directions\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Directions
  of travel of route\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/V3.Direction\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}}s:4:\"type\";s:6:\"object\";}s:13:\"V3.Disruption\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Description
  of the disruption\";s:4:\"type\";s:6:\"string\";}s:13:\"disruption_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Disruption
  information identifier\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"disruption_status\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Status
  of the disruption (e.g. \"Planned\", \"Current\")\";s:4:\"type\";s:6:\"string\";}s:15:\"disruption_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Type
  of disruption\";s:4:\"type\";s:6:\"string\";}s:9:\"from_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Date
  and time at which disruption begins, in ISO 8601 UTC format\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"last_updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Date
  and time disruption information was last updated by PTV, in ISO 8601 UTC format\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"published_on\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Date
  and time disruption information is published on PTV website, in ISO 8601 UTC format\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"routes\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Route
  relevant to a disruption (if applicable)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/V3.DisruptionRoute\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Headline
  title summarising disruption information\";s:4:\"type\";s:6:\"string\";}s:7:\"to_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Date
  and time at which disruption ends, in ISO 8601 UTC format (returns null if unknown)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"URL
  of relevant article on PTV website\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"V3.DisruptionDirection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"direction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Direction
  of travel identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"direction_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Name
  of direction of travel\";s:4:\"type\";s:6:\"string\";}s:18:\"route_direction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Route
  and direction of travel combination identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"service_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"Time
  of service to which disruption applies, in 24 hour clock format (HH:MM:SS) AEDT/AEST;
  returns null if disruption applies to multiple (or no) services\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"V3.DisruptionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"disruption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";s:11:\"description\";s:61:\"Disruption
  information applicable to relevant routes or stops\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}}s:4:\"type\";s:6:\"object\";}s:18:\"V3.DisruptionRoute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"direction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/V3.DisruptionDirection\";s:11:\"description\";s:60:\"Direction
  of travel relevant to a disruption (if applicable)\";}s:13:\"route_gtfs_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"GTFS
  Identifer of the route\";s:4:\"type\";s:6:\"string\";}s:8:\"route_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Route
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"route_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Name
  of route\";s:4:\"type\";s:6:\"string\";}s:12:\"route_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Route
  number presented to public (i.e. not route_id)\";s:4:\"type\";s:6:\"string\";}s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"V3.Disruptions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"general\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Subset
  of disruption information applicable to multiple route_types\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";}s:4:\"type\";s:5:\"array\";}s:9:\"metro_bus\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Subset
  of disruption information applicable to metropolitan bus\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";}s:4:\"type\";s:5:\"array\";}s:11:\"metro_train\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Subset
  of disruption information applicable to metropolitan train\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";}s:4:\"type\";s:5:\"array\";}s:10:\"metro_tram\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Subset
  of disruption information applicable to metropolitan tram\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";}s:4:\"type\";s:5:\"array\";}s:12:\"regional_bus\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Subset
  of disruption information applicable to regional bus\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";}s:4:\"type\";s:5:\"array\";}s:14:\"regional_coach\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Subset
  of disruption information applicable to V/Line coach\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";}s:4:\"type\";s:5:\"array\";}s:14:\"regional_train\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Subset
  of disruption information applicable to V/Line train\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"V3.DisruptionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"disruptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/V3.Disruptions\";s:11:\"description\";s:61:\"Disruption
  information applicable to relevant routes or stops\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}}s:4:\"type\";s:6:\"object\";}s:16:\"V3.ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  error response\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Error
  message\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}}s:4:\"type\";s:6:\"object\";}s:9:\"V3.Outlet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:15:\"outlet_business\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  business name of the outlet\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_fri\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  business hours on Friday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_mon\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  business hours on Monday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_sat\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  business hours on Saturday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_sun\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  business hours on Sunday\";s:4:\"type\";s:6:\"string\";}s:25:\"outlet_business_hour_thur\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  business hours on Thursday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_tue\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  business hours on Tuesday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_wed\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  business hours on Wednesday\";s:4:\"type\";s:6:\"string\";}s:15:\"outlet_latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Geographic
  coordinate of latitude at outlet\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:16:\"outlet_longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Geographic
  coordinate of longitude at outlet\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"outlet_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  location name of the outlet\";s:4:\"type\";s:6:\"string\";}s:12:\"outlet_notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Any
  additional notes for the outlet such as 'Buy pre-loaded myki cards only'. May be
  null/empty.\";s:4:\"type\";s:6:\"string\";}s:15:\"outlet_postcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  postcode for the outlet\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"outlet_slid_spid\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  SLID / SPID\";s:4:\"type\";s:6:\"string\";}s:13:\"outlet_suburb\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  city/municipality the outlet is in\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"V3.OutletGeolocation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:15:\"outlet_business\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  business name of the outlet\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_fri\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  business hours on Friday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_mon\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  business hours on Monday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_sat\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  business hours on Saturday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_sun\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  business hours on Sunday\";s:4:\"type\";s:6:\"string\";}s:25:\"outlet_business_hour_thur\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  business hours on Thursday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_tue\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  business hours on Tuesday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_wed\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  business hours on Wednesday\";s:4:\"type\";s:6:\"string\";}s:15:\"outlet_distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Distance
  of outlet from input location (in metres); returns 0 if no location is input\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:15:\"outlet_latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Geographic
  coordinate of latitude at outlet\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:16:\"outlet_longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Geographic
  coordinate of longitude at outlet\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"outlet_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  location name of the outlet\";s:4:\"type\";s:6:\"string\";}s:12:\"outlet_notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Any
  additional notes for the outlet such as 'Buy pre-loaded myki cards only'. May be
  null/empty.\";s:4:\"type\";s:6:\"string\";}s:15:\"outlet_postcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  postcode for the outlet\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"outlet_slid_spid\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  SLID / SPID\";s:4:\"type\";s:6:\"string\";}s:13:\"outlet_suburb\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  city/municipality the outlet is in\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"V3.OutletGeolocationParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"max_distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Filter
  by maximum distance (in metres) from location specified via latitude and longitude
  parameters (default = 300)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"max_results\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Maximum
  number of results returned (default = 30)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:28:\"V3.OutletGeolocationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"outlets\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"myki
  ticket outlets\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/V3.OutletGeolocation\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}}s:4:\"type\";s:6:\"object\";}s:19:\"V3.OutletParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"max_results\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Maximum
  number of results returned (default = 30)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"V3.OutletResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"outlets\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"myki
  ticket outlets\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/V3.Outlet\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}}s:4:\"type\";s:6:\"object\";}s:15:\"V3.ResultOutlet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:15:\"outlet_business\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  business name of the outlet\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_fri\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  business hours on Friday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_mon\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  business hours on Monday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_sat\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  business hours on Saturday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_sun\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  business hours on Sunday\";s:4:\"type\";s:6:\"string\";}s:25:\"outlet_business_hour_thur\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  business hours on Thursday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_tue\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  business hours on Tuesday\";s:4:\"type\";s:6:\"string\";}s:24:\"outlet_business_hour_wed\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  business hours on Wednesday\";s:4:\"type\";s:6:\"string\";}s:15:\"outlet_distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Distance
  of outlet from input location (in metres); returns 0 if no location is input\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:15:\"outlet_latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Geographic
  coordinate of latitude at outlet\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:16:\"outlet_longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Geographic
  coordinate of longitude at outlet\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"outlet_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  location name of the outlet\";s:4:\"type\";s:6:\"string\";}s:12:\"outlet_notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Any
  additional notes for the outlet such as 'Buy pre-loaded myki cards only'. May be
  null/empty.\";s:4:\"type\";s:6:\"string\";}s:15:\"outlet_postcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  postcode for the outlet\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"outlet_slid_spid\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  SLID / SPID\";s:4:\"type\";s:6:\"string\";}s:13:\"outlet_suburb\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  city/municipality the outlet is in\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"V3.ResultRoute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"route_gtfs_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"GTFS
  Identifer of the route\";s:4:\"type\";s:6:\"string\";}s:8:\"route_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Route
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"route_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Name
  of route\";s:4:\"type\";s:6:\"string\";}s:12:\"route_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Route
  number presented to public (nb. not route_id)\";s:4:\"type\";s:6:\"string\";}s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"V3.ResultStop\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"stop_distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Distance
  of stop from input location (in metres); returns 0 if no location is input\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:7:\"stop_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Stop
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"stop_latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Geographic
  coordinate of latitude at stop\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:14:\"stop_longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Geographic
  coordinate of longitude at stop\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"stop_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Name
  of stop\";s:4:\"type\";s:6:\"string\";}s:13:\"stop_sequence\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"Sequence
  of the stop on the route/run; return 0 when route_id or run_id not specified. Order
  ascendingly by this field (when non zero) to get physical order (earliest first)
  of stops on the route_id/run_id.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"stop_suburb\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"suburb
  of stop\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"V3.Route\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"route_gtfs_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"GTFS
  Identifer of the route\";s:4:\"type\";s:6:\"string\";}s:8:\"route_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Route
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"route_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Name
  of route\";s:4:\"type\";s:6:\"string\";}s:12:\"route_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Route
  number presented to public (nb. not route_id)\";s:4:\"type\";s:6:\"string\";}s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:36:\"V3.RouteDeparturesSpecificParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"date_utc\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Filter
  by the date and time of the request (ISO 8601 UTC format) (default = current date
  and time)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"List
  objects to be returned in full (i.e. expanded) - options include: all, stop, route,
  run, direction, disruption\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:3:\"All\";i:1;s:4:\"Stop\";i:2;s:5:\"Route\";i:3;s:3:\"Run\";i:4;s:9:\"Direction\";i:5;s:10:\"Disruption\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"include_cancelled\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"Indicates
  if cancelled services (if they exist) are returned (default = false) - metropolitan
  train only\";s:4:\"type\";s:7:\"boolean\";}s:14:\"look_backwards\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Indicates
  if filtering runs (and their departures) to those that arrive at destination before
  date_utc (default = false). Requires max_results &gt; 0.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"max_results\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Maximum
  number of results returned\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"V3.RouteResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"route\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/V3.Route\";s:11:\"description\";s:77:\"Train
  lines, tram routes, bus routes, regional coach routes, Night Bus routes\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}}s:4:\"type\";s:6:\"object\";}s:12:\"V3.RouteType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"route_type_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of transport mode\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"V3.RouteTypesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"route_types\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Transport
  mode identifiers\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/V3.RouteType\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}}s:4:\"type\";s:6:\"object\";}s:6:\"V3.Run\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:16:\"destination_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Name
  of destination of run\";s:4:\"type\";s:6:\"string\";}s:12:\"direction_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Direction
  of travel identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"express_stop_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"final_stop_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"stop_id
  of final stop of run\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"route_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Route
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"run_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Trip/service
  run identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"run_sequence\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"Chronological
  sequence of the trip/service run on the route in direction. Order ascendingly by
  this field to get chronological order (earliest first) of runs with the same route_id
  and direction_id.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Status
  of metropolitan train run; returns \"scheduled\" for other modes\";s:4:\"type\";s:6:\"string\";}s:18:\"vehicle_descriptor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/V3.VehicleDescriptor\";s:11:\"description\";s:78:\"Descriptor
  of the trip/service run. Only available for some runs. May be null.\";}s:16:\"vehicle_position\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/V3.VehiclePosition\";s:11:\"description\";s:80:\"Position
  of the trip/service run. Only available for some bus runs. May be null.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"V3.RunResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"run\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/V3.Run\";s:11:\"description\";s:34:\"Individual
  trip/service of a route\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}}s:4:\"type\";s:6:\"object\";}s:15:\"V3.RunsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"runs\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Individual
  trips/services of a route\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/V3.Run\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}}s:4:\"type\";s:6:\"object\";}s:19:\"V3.SearchParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"include_addresses\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Placeholder
  for future development; currently unavailable\";s:4:\"type\";s:7:\"boolean\";}s:15:\"include_outlets\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Indicates
  if outlets will be returned in response (default = true)\";s:4:\"type\";s:7:\"boolean\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Filter
  by geographic coordinate of latitude\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Filter
  by geographic coordinate of longitude\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:21:\"match_route_by_suburb\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Indicates
  whether to find routes by suburbs in the search term (default = true)\";s:4:\"type\";s:7:\"boolean\";}s:20:\"match_stop_by_suburb\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Indicates
  whether to find stops by suburbs in the search term (default = true)\";s:4:\"type\";s:7:\"boolean\";}s:12:\"max_distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Filter
  by maximum distance (in metres) from location specified via latitude and longitude
  parameters\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"route_types\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Filter
  by route_type; values returned via RouteTypes API (note: stops and routes are ordered
  by route_types specified)\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:5:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"V3.SearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"outlets\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"myki
  ticket outlets\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/V3.ResultOutlet\";}s:4:\"type\";s:5:\"array\";}s:6:\"routes\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Train
  lines, tram routes, bus routes, regional coach routes, Night Bus routes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/V3.ResultRoute\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}s:5:\"stops\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Train
  stations, tram stops, bus stops, regional coach stops or Night Bus stops\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.ResultStop\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"V3.Status\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"health\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"API
  system health status (0=offline, 1=online)\";s:4:\"enum\";a:2:{i:0;i:0;i:1;i:1;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"API
  Version number\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"V3.StopAccessibility\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"escalator\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Indicates
  if there is an escalator at the stop\";s:4:\"type\";s:7:\"boolean\";}s:12:\"hearing_loop\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Indicates
  if there is a hearing loop facility at the stop\";s:4:\"type\";s:7:\"boolean\";}s:5:\"lifts\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Indicates
  if there is an elevator at the stop\";s:4:\"type\";s:7:\"boolean\";}s:8:\"lighting\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Indicates
  if there is lighting at the stop\";s:4:\"type\";s:7:\"boolean\";}s:6:\"stairs\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Indicates
  if there are stairs at the stop\";s:4:\"type\";s:7:\"boolean\";}s:13:\"tactile_tiles\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Indicates
  if there are tactile tiles (also known as tactile ground surface indicators, or
  TGSIs) at the stop\";s:4:\"type\";s:7:\"boolean\";}s:10:\"wheelchair\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/V3.StopAccessibilityWheelchair\";s:11:\"description\";s:66:\"Facilities
  relating to the accessibility of the stop by wheelchair\";}}s:4:\"type\";s:6:\"object\";}s:30:\"V3.StopAccessibilityWheelchair\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"accessible_parking\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"Indicates
  if there is at least one accessible parking spot at the stop that complies with
  the Disability Standards for Accessible Public Transport under the Disability Discrimination
  Act (1992)\";s:4:\"type\";s:7:\"boolean\";}s:16:\"accessible_phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"Indicates
  if there is an accessible public telephone at the stop that complies with the Disability
  Standards for Accessible Public Transport under the Disability Discrimination Act
  (1992)\";s:4:\"type\";s:7:\"boolean\";}s:15:\"accessible_ramp\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"Indicates
  if there is a ramp at the stop that complies with the Disability Standards for Accessible
  Public Transport under the Disability Discrimination Act (1992)\";s:4:\"type\";s:7:\"boolean\";}s:17:\"accessible_toilet\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"Indicates
  if there is an accessible public toilet at the stop that complies with the Disability
  Standards for Accessible Public Transport under the Disability Discrimination Act
  (1992)\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:21:\"V3.StopAmenityDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"car_parking\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  number of free car parking spots at the stop\";s:4:\"type\";s:6:\"string\";}s:4:\"cctv\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Indicates
  if there are CCTV (i.e. closed circuit television) cameras at the stop\";s:4:\"type\";s:7:\"boolean\";}s:9:\"taxi_rank\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  if there is a taxi rank at or near the stop\";s:4:\"type\";s:7:\"boolean\";}s:6:\"toilet\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Indicates
  if there is a public toilet at or near the stop\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"V3.StopBase\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"stop_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Stop
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"stop_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Name
  of stop\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"V3.StopDepartureRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"gtfs\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Indicates
  that stop_id parameter will accept \"GTFS stop_id\" data and route_directions[x].route_id
  parameters will accept route_gtfs_id data\";s:4:\"type\";s:7:\"boolean\";}s:11:\"max_results\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"Maximum
  number of results returned\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:16:\"route_directions\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  route directions to find departures for at this stop.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/V3.StopDepartureRequestRouteDirection\";}s:4:\"type\";s:5:\"array\";}s:10:\"route_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Number
  identifying transport mode; values returned via RouteTypes API\";s:4:\"enum\";a:5:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"stop_id\";O:8:\"stdClass\":5:{s:11:\"description\";s:48:\"Identifier
  of stop; values returned by Stops API\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:16:\"route_directions\";}s:4:\"type\";s:6:\"object\";}s:37:\"V3.StopDepartureRequestRouteDirection\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"direction_id\";O:8:\"stdClass\":5:{s:11:\"description\";s:81:\"Direction
  of travel identifier; values returned by Directions API - v3/directions\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:14:\"direction_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Name
  of direction of travel; values returned by Directions API - v3/directions\";s:4:\"type\";s:6:\"string\";}s:8:\"route_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Identifier
  of route; values returned by Routes API - v3/routes\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:14:\"direction_name\";}s:4:\"type\";s:6:\"object\";}s:14:\"V3.StopDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"station_description\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  definition applicable to the station_type; returns null for V/Line train\";s:4:\"type\";s:6:\"string\";}s:12:\"station_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Type
  of metropolitan train station (i.e. \"Premium\", \"Host\" or \"Unstaffed\" station);
  returns null for V/Line train\";s:4:\"type\";s:6:\"string\";}s:18:\"stop_accessibility\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/V3.StopAccessibility\";s:11:\"description\";s:52:\"Facilities
  relating to the accessibility of the stop\";}s:14:\"stop_amenities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/V3.StopAmenityDetails\";s:11:\"description\";s:40:\"Amenity
  and facility details at the stop\";}s:7:\"stop_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Stop
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"stop_location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/V3.StopLocation\";s:11:\"description\";s:28:\"Location
  details of the stop\";}s:9:\"stop_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Name
  of stop\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"V3.StopGeosearch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"stop_distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Distance
  of stop from input location (in metres); returns 0 if no location is input\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:7:\"stop_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Stop
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"stop_latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Geographic
  coordinate of latitude at stop\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:14:\"stop_longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Geographic
  coordinate of longitude at stop\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"stop_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Name
  of stop\";s:4:\"type\";s:6:\"string\";}s:13:\"stop_sequence\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"Sequence
  of the stop on the route/run; return 0 when route_id or run_id not specified. Order
  ascendingly by this field (when non zero) to get physical order (earliest first)
  of stops on the route_id/run_id.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"stop_suburb\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"suburb
  of stop\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"V3.StopGps\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Geographic
  coordinate of latitude at stop\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Geographic
  coordinate of longitude at stop\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:15:\"V3.StopLocation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"gps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/V3.StopGps\";s:11:\"description\";s:27:\"GPS
  coordinates of the stop\";}}s:4:\"type\";s:6:\"object\";}s:14:\"V3.StopOnRoute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"route_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Transport
  mode identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"stop_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Stop
  identifier\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"stop_latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Geographic
  coordinate of latitude at stop\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:14:\"stop_longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Geographic
  coordinate of longitude at stop\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"stop_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Name
  of stop\";s:4:\"type\";s:6:\"string\";}s:13:\"stop_sequence\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"Sequence
  of the stop on the route/run; return 0 when route_id or run_id not specified. Order
  ascendingly by this field (when non zero) to get physical order (earliest first)
  of stops on the route_id/run_id.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"stop_suburb\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"suburb
  of stop\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"V3.StopResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}s:4:\"stop\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/V3.StopDetails\";s:11:\"description\";s:38:\"A
  metropolitan or V/Line train station\";}}s:4:\"type\";s:6:\"object\";}s:18:\"V3.StoppingPattern\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"departures\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Timetabled
  and real-time service departures\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/V3.Departure\";}s:4:\"type\";s:5:\"array\";}s:10:\"directions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/V3.Direction\";}s:11:\"description\";s:29:\"Directions
  of travel of route\";s:4:\"type\";s:6:\"object\";}s:11:\"disruptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Disruption
  information applicable to relevant routes or stops\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.Disruption\";}s:4:\"type\";s:5:\"array\";}s:6:\"routes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/V3.Route\";}s:11:\"description\";s:77:\"Train
  lines, tram routes, bus routes, regional coach routes, Night Bus routes\";s:4:\"type\";s:6:\"object\";}s:4:\"runs\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/V3.Run\";}s:11:\"description\";s:36:\"Individual
  trips/services of a route\";s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}s:5:\"stops\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/V3.ResultStop\";}s:11:\"description\";s:75:\"A
  train station, tram stop, bus stop, regional coach stop or Night Bus stop\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:26:\"V3.StopsByDistanceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}s:5:\"stops\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Train
  stations, tram stops, bus stops, regional coach stops or Night Bus stops\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/V3.StopGeosearch\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"V3.StopsOnRouteResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/V3.Status\";s:11:\"description\";s:21:\"API
  Status / Metadata\";}s:5:\"stops\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Train
  stations, tram stops, bus stops, regional coach stops or Night Bus stops\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/V3.StopOnRoute\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"V3.VehicleDescriptor\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"air_conditioned\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Indicator
  if vehicle is air conditioned. May be null. Only available for some tram runs.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"Vehicle
  description such as \"6 Car Comeng\", \"6 Car Xtrapolis\", \"3 Car Comeng\", \"6
  Car Siemens\", \"3 Car Siemens\". May be null/empty.\r\n            Only available
  for some metropolitan train runs.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Operator
  identifier of the vehicle such as \"26094\". May be null/empty. Only available for
  some tram and bus runs.\";s:4:\"type\";s:6:\"string\";}s:9:\"low_floor\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"Indicator
  if vehicle has a low floor. May be null. Only available for some tram runs.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"Operator
  name of the vehicle such as \"Metro Trains Melbourne\", \"Yarra Trams\", \"Ventura
  Bus Line\", \"CDC\" or \"Sita Bus Lines\" . May be null/empty.\r\n            Only
  available for train, tram, v/line and some bus runs.\";s:4:\"type\";s:6:\"string\";}s:8:\"supplier\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Supplier
  of vehicle descriptor data.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"V3.VehiclePosition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"bearing\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Compass
  bearing of the vehicle when known, clockwise from True North, i.e., 0 is North and
  90 is East. May be null.\r\n            Only available for some bus runs.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"Geographic
  coordinate of latitude of the vehicle when known. May be null.\r\n            Only
  available for some bus runs.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Geographic
  coordinate of longitude of the vehicle when known. \r\n            Only available
  for some bus runs.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"supplier\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Supplier
  of vehicle position data.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
