---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:5:\"2.1.0\";s:5:\"title\";s:36:\"PTV
  Timetable API (community portal)\";s:11:\"description\";s:4358:\"This is Open Knowledge
  Australia's version of Public Transport Victoria's <a href=\"https://www.data.vic.gov.au/data/dataset/ptv-timetable-api\">Timetable
  API</a> documentation, built with [Swagger](https://github.com/swagger-api/swagger-ui).
  It was created by <a href=\"http://stevebennett.me\">Steve Bennett</a> (stevage@gmail.com,
  <a href=\"https://twitter.com/stevage1\">@stevage1</a>) for Open Knowledge Australia.
  It was not funded or supported by PTV, but was based on the official documentation
  using the CC-BY licence.\n\nThe Timetable API 2.0.0 lets you find stations and stops
  in a given area, query the next few departures from a stop, and the stops on a given
  line or service. Version 2.1.0, released on 28 May 2015 adds realtime stop arrivale
  times for trams and some buses, and disruption data. It does not provide vehicle
  location tracking, spatial data other than stop locations, or route planning. PTV's
  documentation remains the definitive source. Report issues in this documentation
  in [GitHub](https://github.com/OKFNau/PTV-API-Swagger/issues). \n\n##Related tools\n
  \ * [Additional PTV reference material](https://ptv.vic.gov.au/about-ptv/ptv-data-and-reports/digital-products/ptv-timetable-api/)\n
  \ * Libraries:\n    * [PyPtv advanced Python library](https://github.com/jessexoc/pyptv)
  by Jesse O'Connor (supports API 2.1.0)\n    * [PtvPy simple Python wrapper](https://github.com/stevage/ptvpy)
  by Steve Bennett (API 2.0.0)\n    * [Test harness for PHP](https://github.com/wongm/ptv-api-php-test-harness)
  by Marcus Wong\n    * [.NET Portable Class Library in C#](https://github.com/Readify/ptv)
  by Mitch Denny (Readify)\n    * [Qt library in C++](https://github.com/loomiverse/ptv-api-qt),
  by Dennis Weaver\n    * [Objective C library](https://github.com/loomiverse/ptv-api-objectivec),
  by Dennis Weaver\n    * [JavaScript - basic code](https://github.com/OKFNau/PTV-API-Swagger/blob/gh-pages/dist/api-signature.js)
  by Steve Bennett\n  * [OpenTripPlanner with PTV data](https://github.com/loomiverse/ptv-otp-build)
  by Dennis Weaver\n  * [Previous non-Swagger version of this documentation](http://stevage.github.io/PTV-API-doc/)
  by Steve Bennett\n  * Sample code:\n    * [Sample code for C#, Java, Objective C](http://stevage.github.io/PTV-API-doc/#header29)
  (from official documentation)\n    * [PTVGlass ](https://github.com/longzheng/PTVGlass)
  (C#) by Long Zheng\n  \n##Related data\n  * [PTV timetable data in GTFS format](https://www.data.vic.gov.au/data/dataset/ptv-timetable-and-geographic-information-2015-gtfs)
  - a complete bulk download of the timetable for 2 weeks\n  * [PTV spatial data in
  GeoJSON format](https://github.com/okfnau/opentransportdata): Bus routes & stops,
  tram routes, stops & centrelines; train routes, corridor centrelines, track centrelines,
  stations, platforms, car parks and bicycle parking.\n  * PTV Usage data on data.vic.gov.au:\n
  \   * [Bus Boardings and Alightings](https://www.data.vic.gov.au/data/dataset/bus-boardings-and-alightings-at-bus-stops-new)\n
  \   * [Tram Boardings and Alightings](https://www.data.vic.gov.au/data/dataset/tram-boardings-and-alightings-at-tram-stops-2015)
  \n    * [Tram Average Load by Surveyed Service](https://www.data.vic.gov.au/data/dataset/tram-average-load-by-surveyed-service)\n
  \   * [Metro Train Loads at Cordon Stations](https://www.data.vic.gov.au/data/dataset/may-2012-melbourne-metro-train-loads-by-service-at-cordon-stations-new)\n
  \ * PTV Accessibility data (not all machine readable):\n    * [Accessible toilets](http://ptv.vic.gov.au/getting-around/accessible-transport/accessible-trains/accessible-toilets-at-metropolitan-stations/)\n
  \   * [Station patronage (.xls)](http://ptv.vic.gov.au/assets/PTV/PTV%20docs/research/PTV-Station-by-Station-Fact-Sheet-accessible-version.xls)\n
  \   * [Bus patronage](http://ptv.vic.gov.au/assets/PTV/PTV%20docs/research/PTV-Bus-Route-Patronage-Summary-accessible-version.xls)\n
  \   * [Passenger load surveys](http://ptv.vic.gov.au/about-ptv/ptv-data-and-reports/passenger-load-surveys/)\n
  \ * [TramTracker API](http://ws.tramtracker.com.au/pidsservice/pids.asmx) (SOAP)\n
  \ * [Melbourne bike share API](http://www.melbournebikeshare.com.au/stationmap/data)
  (or use [CityBik.es](http://api.citybik.es/v2/) )\n\n\n##Licence\n[Creative Commons
  3.0 Attribution](https://creativecommons.org/licenses/by/3.0/au/) (Attribute \"Public
  Transport Victoria\" and \"Steve Bennett\")\n\";s:7:\"license\";O:8:\"stdClass\":2:{s:3:\"url\";s:47:\"https://creativecommons.org/licenses/by/3.0/au/\";s:4:\"name\";s:42:\"Creative
  Commons Attribution 3.0 Australia\";}s:14:\"termsOfService\";s:516:\"The data provided
  to you by PTV is provided 'as is' and PTV is not liable for how you use this data,
  how third parties use or rely on this data or any errors contained within the data.
  You are responsible for determining whether the data is suitable for your particular
  usage and purposes. \n\nDo use the API dynamically to get the most up-to-date data
  for your audience.\n\nDo not cache the data.\n\nDo not hammer our servers. Do not
  use the API to make multiple requests for large sets of data in short periods of
  time.\n\";}"
host: timetableapi.ptv.vic.gov.au
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":24:{s:5:\"flags\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:287:\"Hyphen
  (-) separated list of stop options.  RR = Reservations Required; GC = Guaranteed
  Connection; DOO = Drop Off Only; PUO = Pick Up Only; MO = Mondays only; TU = Tuesdays
  only; WE = Wednesdays only; TH = Thursdays only; FR = Fridays only; SS = School
  days only; note: ignore \"E\" flag\n\";}s:7:\"cluster\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"locations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}}}s:8:\"required\";a:1:{i:0;s:9:\"locations\";}}s:12:\"searchresult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:6:\"result\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"'stop'
  or 'line'\";}s:6:\"result\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"Stops
  have transport_type, suburb, location_name, lat, lon, distance, stop_id. \nLines
  have transport_type, line,   line_name, line_number\n\";s:4:\"$ref\";s:26:\"#/definitions/line_or_stop\";}}}s:14:\"transport_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"(stop
  only) the mode of transport serviced by the stop: `train`, `tram`, `bus`, `vline`,
  `nightrider`\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"latitude
  in decimal degrees, eg -37.82005\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:-37.820050000000002;}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"longitude
  in decimal degrees, eg 144.959047\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:144.959047;}s:7:\"stop_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"the
  unique identifier of each stop\";}s:13:\"location_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"the
  name of the stop based on a concise geographic description. e.g. \"20-Barkly Square/115
  Sydney Rd (Brunswic\";}s:6:\"suburb\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Suburb
  name\";}s:8:\"distance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:57:\"Returns
  zero. \"It is a legacy attribute of unknown worth\"\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"suburb\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/suburb\";}s:13:\"location_name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/location_name\";}s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/lat\";}s:3:\"lon\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/lon\";}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/distance\";}s:14:\"transport_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/transport_type\";}s:7:\"stop_id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/stop_id\";}s:11:\"outlet_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"(outlet
  only) either `stop` meaning a myki card machine at a station or stop or `retail`
  meaning a shop of some kind\";}}s:8:\"required\";a:8:{i:0;s:6:\"suburb\";i:1;s:13:\"location_name\";i:2;s:3:\"lat\";i:3;s:3:\"lon\";i:4;s:8:\"distance\";i:5;s:14:\"transport_type\";i:6;s:7:\"stop_id\";i:7;s:11:\"outlet_type\";}}s:12:\"line_or_stop\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"transport_type\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"transport_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/transport_type\";}s:6:\"suburb\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/suburb\";}s:13:\"location_name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/location_name\";}s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/lat\";}s:3:\"lon\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/lon\";}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/distance\";}s:7:\"stop_id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/stop_id\";}s:7:\"line_id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/line_id\";}s:9:\"line_name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/line_name\";}s:11:\"line_number\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/line_number\";}}}s:4:\"stop\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"suburb\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/suburb\";}s:13:\"location_name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/location_name\";}s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/lat\";}s:3:\"lon\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/lon\";}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/distance\";}s:14:\"transport_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/transport_type\";}s:7:\"stop_id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/stop_id\";}}s:8:\"required\";a:6:{i:0;s:6:\"suburb\";i:1;s:13:\"location_name\";i:2;s:3:\"lat\";i:3;s:3:\"lon\";i:4;s:8:\"distance\";i:5;s:7:\"stop_id\";}s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":7:{s:6:\"suburb\";s:14:\"East
  Melbourne\";s:14:\"transport_type\";s:4:\"tram\";s:7:\"stop_id\";i:2825;s:13:\"location_name\";s:31:\"Clarendon
  St/Wellington Pde #11\";s:3:\"lat\";d:-37.816029999999998;s:3:\"lon\";d:144.98240000000001;s:8:\"distance\";d:4.0864783799999997E-6;}}}s:7:\"line_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"(numeric
  string) the unique identifier of each line\";s:7:\"example\";i:1818;}s:9:\"line_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"the
  name of the line.\";s:7:\"example\";s:84:\"970 - City - Frankston - Mornington -
  Rosebud via Nepean Highway & Frankston Station\";}s:11:\"line_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"the
  line number that is presented to the public (i.e. not the \"line_id\")\";}s:4:\"line\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"transport_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/transport_type\";}s:7:\"line_id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/line_id\";}s:9:\"line_name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/line_name\";}s:11:\"line_number\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/line_number\";}}s:8:\"required\";a:4:{i:0;s:14:\"transport_type\";i:1;s:7:\"line_id\";i:2;s:9:\"line_name\";i:3;s:11:\"line_number\";}}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"linedir_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:63:\"unique
  identifier of a particular line and direction. e.g. \"21\"\";}s:12:\"direction_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:60:\"unique
  identifier of a direction (e.g. \"0\" signifies \"city\")\";}s:14:\"direction_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"name
  of the direction of the service. e.g. \"City (Flinders Street)\"\";}s:4:\"line\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/line\";}}s:8:\"required\";a:4:{i:0;s:10:\"linedir_id\";i:1;s:12:\"direction_id\";i:2;s:14:\"direction_name\";i:3;s:4:\"line\";}}s:8:\"platform\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"realtime_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:159:\"a
  place holder for the stop's real-time feed system ID (for potential future implementation;
  as no real-time feeds are provided at this time, this returns \"0\")\";}s:4:\"stop\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/stop\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/direction\";}}s:8:\"required\";a:3:{i:0;s:11:\"realtime_id\";i:1;s:4:\"stop\";i:2;s:9:\"direction\";}}s:3:\"run\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"transport_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/transport_type\";}s:6:\"run_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"The
  unique identifier of the run\";}s:11:\"num_skipped\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:144:\"The
  number of stops skipped for the run, applicable to train; a number greater than
  zero indicates either a \nlimited express or express service\n\";}s:14:\"destination_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:62:\"The
  stop_id of the destination, i.e. the last stop for the run\";s:7:\"example\";i:1044;}s:16:\"destination_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  location_name of the destination, i.e. the last stop for the run\";s:7:\"example\";s:11:\"Craigieburn\";}}s:8:\"required\";a:5:{i:0;s:14:\"transport_type\";i:1;s:6:\"run_id\";i:2;s:11:\"num_skipped\";i:3;s:14:\"destination_id\";i:4;s:16:\"destination_name\";}}s:15:\"timetable_value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"time_table_utc\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:62:\"the
  scheduled time of the service at the stop, in ISO 8601 UTC\";s:7:\"example\";s:20:\"2014-11-18T03:21:00Z\";}s:17:\"time_realtime_utc\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:186:\"the
  real-time of the service at the stop if this is available, in ISO 8601 UTC. Available
  for trams and some bus routes; if the relevant feed system is not available, it
  will return null\";s:7:\"example\";s:20:\"2014-11-18T03:24:00Z\";}s:5:\"flags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/flags\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/platform\";}s:3:\"run\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/run\";}}s:8:\"required\";a:5:{i:0;s:14:\"time_table_utc\";i:1;s:17:\"time_realtime_utc\";i:2;s:5:\"flags\";i:3;s:8:\"platform\";i:4;s:3:\"run\";}}s:11:\"disruptions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/disruption\";}}s:10:\"disruption\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:5:\"title\";i:1;s:3:\"url\";i:2;s:11:\"description\";i:3;s:11:\"publishedOn\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"a
  headline or title summarising the disruption information\";s:7:\"example\";s:99:\"Buses
  replacing trains on the Cranbourne and Pakenham lines after 8.45pm: Saturday 15
  February 2014\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"the
  url of the relevant article on the PTV website\";s:7:\"example\";s:132:\"http://ptv.vic.gov.au/disruptions/buses-replacing-trains-on-thecranbourne-and-pakenham-lines-after-8-45pm-saturday-15-february-2014/\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"a
  truncated version of the description of the disruption that appears on the PTV website\";s:7:\"example\";s:196:\"Due
  to signalling upgrades and construction work as part of the Springvale Level Crossing
  Removal, buses will replace all trains between Westall and Dandenong after 8.45pm
  on Saturday 15 February.\";}s:11:\"publishedOn\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:100:\"the
  date and time the disruption information is published on the PTV website, in ISO
  8601 UTC format\";s:7:\"example\";s:23:\"\u201C2014-01-29T23:30:54Z\";}}}s:10:\"departures\";O:8:\"stdClass\":4:{s:5:\"title\";s:10:\"Departures\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"values\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"values\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/timetable_value\";}s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":5:{s:8:\"platform\";O:8:\"stdClass\":3:{s:11:\"realtime_id\";i:0;s:4:\"stop\";O:8:\"stdClass\":7:{s:6:\"suburb\";s:14:\"East
  Melbourne\";s:14:\"transport_type\";s:5:\"train\";s:7:\"stop_id\";i:1104;s:13:\"location_name\";s:12:\"Jolimont-MCG\";s:3:\"lat\";d:-37.81653;s:3:\"lon\";d:144.98410000000001;s:8:\"distance\";i:0;}s:9:\"direction\";O:8:\"stdClass\":4:{s:10:\"linedir_id\";i:41;s:12:\"direction_id\";i:8;s:14:\"direction_name\";s:11:\"Hurstbridge\";s:4:\"line\";O:8:\"stdClass\":4:{s:14:\"transport_type\";s:5:\"train\";s:7:\"line_id\";i:8;s:9:\"line_name\";s:11:\"Hurstbridge\";s:11:\"line_number\";s:11:\"Hurstbridge\";}}}s:3:\"run\";O:8:\"stdClass\":5:{s:14:\"transport_type\";s:5:\"train\";s:6:\"run_id\";i:21172;s:11:\"num_skipped\";i:0;s:14:\"destination_id\";i:1041;s:16:\"destination_name\";s:12:\"Clifton
  Hill\";}s:18:\"time_timetable_utc\";s:24:\"2014-01-20T03:21:00.000Z\";s:17:\"time_realtime_utc\";N;s:5:\"flags\";N;}}}}}}"
...
