---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:697:\"<fullname>Amazon
  ElastiCache</fullname> <p>Amazon ElastiCache is a web service that makes it easier
  to set up, operate, and scale a distributed cache in the cloud.</p> <p>With ElastiCache,
  customers get all of the benefits of a high-performance, in-memory cache with less
  of the administrative burden involved in launching and managing a distributed cache.
  The service makes setup, scaling, and cluster failure handling much simpler than
  in a self-managed cache deployment.</p> <p>In addition, through integration with
  Amazon CloudWatch, customers get enhanced visibility into the key performance statistics
  associated with their cache and can receive alarms if a part of their cache runs
  hot.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:18:\"Amazon
  ElastiCache\";s:7:\"version\";s:10:\"2015-02-02\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:95:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticache-2015-02-02.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:11:\"elasticache\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"amazonaws_elasticache\";s:4:\"type\";s:7:\"openapi\";}}"
host: elasticache.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":205:{s:35:\"APICallRateForCustomerExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  customer has exceeded the allowed rate of API calls.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"AZMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"single-az\";i:1;s:8:\"cross-az\";}s:4:\"type\";s:6:\"string\";}s:24:\"AddTagsToResourceMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Represents
  the input of an AddTagsToResource operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ResourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:501:\"<p>The
  Amazon Resource Name (ARN) of the resource to which the tags are to be added, for
  example <code>arn:aws:elasticache:us-west-2:0123456789:cluster:myCluster</code>
  or <code>arn:aws:elasticache:us-west-2:0123456789:snapshot:mySnapshot</code>. ElastiCache
  resources are <i>cluster</i> and <i>snapshot</i>.</p> <p>For more information about
  ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:133:\"A
  list of cost allocation tags to be added to this resource. A tag is a key-value
  pair. A tag key must be accompanied by a tag value.\";}}s:8:\"required\";a:2:{i:0;s:12:\"ResourceName\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:35:\"AllowedNodeTypeModificationsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Represents
  the allowed node types you can use to modify your cluster or replication group.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"ScaleUpModifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NodeTypeList\";s:11:\"description\";s:344:\"<p>A
  string list, each element of which specifies a cache node type which you can use
  to scale your cluster or replication group.</p> <p>When scaling up a Redis cluster
  or replication group using <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code>,
  use a value from this list for the <code>CacheNodeType</code> parameter.</p>\";}}s:4:\"type\";s:6:\"object\";}s:31:\"AuthorizationAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  specified Amazon EC2 security group is already authorized for the specified cache
  security group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"AuthorizationNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  specified Amazon EC2 security group is not authorized for the specified cache security
  group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:41:\"AuthorizeCacheSecurityGroupIngressMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Represents
  the input of an AuthorizeCacheSecurityGroupIngress operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"CacheSecurityGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"The
  cache security group that allows network ingress.\";}s:20:\"EC2SecurityGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:87:\"The
  Amazon EC2 security group to be authorized for ingress to the cache security group.\";}s:23:\"EC2SecurityGroupOwnerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:189:\"The
  AWS account number of the Amazon EC2 security group owner. Note that this is not
  the same thing as an AWS access key ID - you must provide a valid AWS account number
  for this parameter.\";}}s:8:\"required\";a:3:{i:0;s:22:\"CacheSecurityGroupName\";i:1;s:20:\"EC2SecurityGroupName\";i:2;s:23:\"EC2SecurityGroupOwnerId\";}s:4:\"type\";s:6:\"object\";}s:40:\"AuthorizeCacheSecurityGroupIngressResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"CacheSecurityGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CacheSecurityGroup\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AutomaticFailoverStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"enabled\";i:1;s:8:\"disabled\";i:2;s:8:\"enabling\";i:3;s:9:\"disabling\";}s:4:\"type\";s:6:\"string\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Describes
  an Availability Zone in which the cluster is launched.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  name of the Availability Zone.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AvailabilityZonesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:20:\"AwsQueryErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"BooleanOptional\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"CacheCluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Contains
  all of the attributes of a specific cluster.\";s:10:\"properties\";O:8:\"stdClass\":25:{s:23:\"AtRestEncryptionEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:357:\"<p>A
  flag that enables encryption at-rest when set to <code>true</code>.</p> <p>You cannot
  modify the value of <code>AtRestEncryptionEnabled</code> after the cluster is created.
  To enable at-rest encryption on a cluster you must set <code>AtRestEncryptionEnabled</code>
  to <code>true</code> when you create a cluster.</p> <p>Default: <code>false</code>
  </p>\";}s:16:\"AuthTokenEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:134:\"<p>A
  flag that enables using an <code>AuthToken</code> (password) when issuing Redis
  commands.</p> <p>Default: <code>false</code> </p>\";}s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:37:\"This
  parameter is currently disabled.\";}s:22:\"CacheClusterCreateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:47:\"The
  date and time when the cluster was created.\";}s:14:\"CacheClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:103:\"The
  user-supplied identifier of the cluster. This identifier is a unique key that identifies
  a cluster.\";}s:18:\"CacheClusterStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:311:\"The
  current state of this cluster, one of the following values: <code>available</code>,
  <code>creating</code>, <code>deleted</code>, <code>deleting</code>, <code>incompatible-network</code>,
  <code>modifying</code>, <code>rebooting cluster nodes</code>, <code>restore-failed</code>,
  or <code>snapshotting</code>.\";}s:13:\"CacheNodeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:2756:\"<p>The
  name of the compute and memory capacity node type for the cluster.</p> <p>The following
  node types are supported by ElastiCache. Generally speaking, the current generation
  types provide more memory and computational power at lower cost when compared to
  their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p>
  <ul> <li> <p>Current generation: </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>,
  <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> <p> <b>M3 node types:</b>
  <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>,
  <code>cache.m3.2xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>,
  <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>,
  <code>cache.m4.10xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p>
  <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b>
  <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>,
  <code>cache.m1.xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p>
  <ul> <li> <p>Previous generation: (not recommended)</p> <p> <b>C1 node types:</b>
  <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p>
  <ul> <li> <p>Current generation: </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>,
  <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>,
  <code>cache.r3.8xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p>
  <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>,
  <code>cache.m2.4xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Notes:</b> </p>
  <ul> <li> <p>All T2 instances are created in an Amazon Virtual Private Cloud (Amazon
  VPC).</p> </li> <li> <p>Redis (cluster mode disabled): Redis backup/restore is not
  supported on T1 and T2 instances. </p> </li> <li> <p>Redis (cluster mode enabled):
  Backup/restore is not supported on T1 instances.</p> </li> <li> <p>Redis Append-only
  files (AOF) functionality is not supported for T1 or T2 instances.</p> </li> </ul>
  <p>For a complete listing of node types and specifications, see <a href=\"http://aws.amazon.com/elasticache/details\">Amazon
  ElastiCache Product Features and Details</a> and either <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/CacheParameterGroups.Memcached.html#ParameterGroups.Memcached.NodeSpecific\">Cache
  Node Type-Specific Parameters for Memcached</a> or <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/CacheParameterGroups.Redis.html#ParameterGroups.Redis.NodeSpecific\">Cache
  Node Type-Specific Parameters for Redis</a>.</p>\";}s:10:\"CacheNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CacheNodeList\";s:11:\"description\";s:54:\"A
  list of cache nodes that are members of the cluster.\";}s:19:\"CacheParameterGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/CacheParameterGroupStatus\";s:11:\"description\";s:36:\"Status
  of the cache parameter group.\";}s:19:\"CacheSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/CacheSecurityGroupMembershipList\";s:11:\"description\";s:82:\"A
  list of cache security group elements, composed of name and status sub-elements.\";}s:20:\"CacheSubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"The
  name of the cache subnet group associated with the cluster.\";}s:25:\"ClientDownloadLandingPage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:85:\"The
  URL of the web page where you can download the latest ElastiCache client library.\";}s:21:\"ConfigurationEndpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";s:11:\"description\";s:326:\"<p>Represents
  a Memcached cluster endpoint which, if Automatic Discovery is enabled on the cluster,
  can be used by an application to connect to any node in the cluster. The configuration
  endpoint will always have <code>.cfg</code> in it.</p> <p>Example: <code>mem-3.9dvc4r<u>.cfg</u>.usw2.cache.amazonaws.com:11211</code>
  </p>\";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:104:\"The
  name of the cache engine (<code>memcached</code> or <code>redis</code>) to be used
  for this cluster.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:61:\"The
  version of the cache engine that is used in this cluster.\";}s:25:\"NotificationConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/NotificationConfiguration\";s:11:\"description\";s:173:\"Describes
  a notification topic and its status. Notification topics are used for publishing
  ElastiCache events to subscribers using Amazon Simple Notification Service (SNS).
  \";}s:13:\"NumCacheNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:174:\"<p>The
  number of cache nodes in the cluster.</p> <p>For clusters running Redis, this value
  must be 1. For clusters running Memcached, this value must be between 1 and 20.</p>\";}s:21:\"PendingModifiedValues\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PendingModifiedValues\";}s:25:\"PreferredAvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:143:\"The
  name of the Availability Zone in which the cluster is located or \"Multiple\" if
  the cache nodes are located in different Availability Zones.\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:594:\"<p>Specifies
  the weekly time range during which maintenance on the cluster is performed. It is
  specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The
  minimum maintenance window is a 60 minute period.</p> <p>Valid values for <code>ddd</code>
  are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p> <code>mon</code> </p>
  </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code> </p> </li>
  <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li> <li> <p>
  <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:23:00-mon:01:30</code> </p>\";}s:18:\"ReplicationGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:134:\"The
  replication group to which this cluster belongs. If this field is empty, the cluster
  is not associated with any replication group.\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/SecurityGroupMembershipList\";s:11:\"description\";s:58:\"A
  list of VPC Security Groups associated with the cluster.\";}s:22:\"SnapshotRetentionLimit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:364:\"<p>The
  number of days for which ElastiCache retains automatic cluster snapshots before
  deleting them. For example, if you set <code>SnapshotRetentionLimit</code> to 5,
  a snapshot that was taken today is retained for 5 days before being deleted.</p>
  <important> <p> If the value of SnapshotRetentionLimit is set to zero (0), backups
  are turned off.</p> </important>\";}s:14:\"SnapshotWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:151:\"<p>The
  daily time range (in UTC) during which ElastiCache begins taking a daily snapshot
  of your cluster.</p> <p>Example: <code>05:00-09:00</code> </p>\";}s:24:\"TransitEncryptionEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:365:\"<p>A
  flag that enables in-transit encryption when set to <code>true</code>.</p> <p>You
  cannot modify the value of <code>TransitEncryptionEnabled</code> after the cluster
  is created. To enable in-transit encryption on a cluster you must set <code>TransitEncryptionEnabled</code>
  to <code>true</code> when you create a cluster.</p> <p>Default: <code>false</code>
  </p>\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CacheClusterAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"You
  already have a cluster with the given identifier.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"CacheClusterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CacheCluster\";}s:4:\"type\";s:5:\"array\";}s:19:\"CacheClusterMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Represents
  the output of a <code>DescribeCacheClusters</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"CacheClusters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CacheClusterList\";s:11:\"description\";s:90:\"A
  list of clusters. Each item in the list contains detailed information about one
  cluster.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CacheClusterNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  requested cluster ID does not refer to an existing cluster.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"CacheEngineVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Provides
  all of the details about a particular cache engine version.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:22:\"CacheEngineDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:36:\"The
  description of the cache engine.\";}s:29:\"CacheEngineVersionDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"The
  description of the cache engine version.\";}s:25:\"CacheParameterGroupFamily\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:210:\"<p>The
  name of the cache parameter group family associated with this cache engine.</p>
  <p>Valid values are: <code>memcached1.4</code> | <code>redis2.6</code> | <code>redis2.8</code>
  | <code>redis3.2</code> </p>\";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  name of the cache engine.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  version number of the cache engine.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CacheEngineVersionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CacheEngineVersion\";}s:4:\"type\";s:5:\"array\";}s:25:\"CacheEngineVersionMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Represents
  the output of a <a>DescribeCacheEngineVersions</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"CacheEngineVersions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CacheEngineVersionList\";s:11:\"description\";s:126:\"A
  list of cache engine version details. Each element in the list contains detailed
  information about one cache engine version.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CacheNode\";O:8:\"stdClass\":3:{s:11:\"description\";s:2859:\"<p>Represents
  an individual cache node within a cluster. Each cache node runs its own instance
  of the cluster's protocol-compliant caching software - either Memcached or Redis.</p>
  <p>The following node types are supported by ElastiCache. Generally speaking, the
  current generation types provide more memory and computational power at lower cost
  when compared to their equivalent previous generation counterparts.</p> <ul> <li>
  <p>General purpose:</p> <ul> <li> <p>Current generation: </p> <p> <b>T2 node types:</b>
  <code>cache.t2.micro</code>, <code>cache.t2.small</code>, <code>cache.t2.medium</code>
  </p> <p> <b>M3 node types:</b> <code>cache.m3.medium</code>, <code>cache.m3.large</code>,
  <code>cache.m3.xlarge</code>, <code>cache.m3.2xlarge</code> </p> <p> <b>M4 node
  types:</b> <code>cache.m4.large</code>, <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>,
  <code>cache.m4.4xlarge</code>, <code>cache.m4.10xlarge</code> </p> </li> <li> <p>Previous
  generation: (not recommended)</p> <p> <b>T1 node types:</b> <code>cache.t1.micro</code>
  </p> <p> <b>M1 node types:</b> <code>cache.m1.small</code>, <code>cache.m1.medium</code>,
  <code>cache.m1.large</code>, <code>cache.m1.xlarge</code> </p> </li> </ul> </li>
  <li> <p>Compute optimized:</p> <ul> <li> <p>Previous generation: (not recommended)</p>
  <p> <b>C1 node types:</b> <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li>
  <p>Memory optimized:</p> <ul> <li> <p>Current generation: </p> <p> <b>R3 node types:</b>
  <code>cache.r3.large</code>, <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>,
  <code>cache.r3.4xlarge</code>, <code>cache.r3.8xlarge</code> </p> </li> <li> <p>Previous
  generation: (not recommended)</p> <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>,
  <code>cache.m2.2xlarge</code>, <code>cache.m2.4xlarge</code> </p> </li> </ul> </li>
  </ul> <p> <b>Notes:</b> </p> <ul> <li> <p>All T2 instances are created in an Amazon
  Virtual Private Cloud (Amazon VPC).</p> </li> <li> <p>Redis (cluster mode disabled):
  Redis backup/restore is not supported on T1 and T2 instances. </p> </li> <li> <p>Redis
  (cluster mode enabled): Backup/restore is not supported on T1 instances.</p> </li>
  <li> <p>Redis Append-only files (AOF) functionality is not supported for T1 or T2
  instances.</p> </li> </ul> <p>For a complete listing of node types and specifications,
  see <a href=\"http://aws.amazon.com/elasticache/details\">Amazon ElastiCache Product
  Features and Details</a> and either <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/CacheParameterGroups.Memcached.html#ParameterGroups.Memcached.NodeSpecific\">Cache
  Node Type-Specific Parameters for Memcached</a> or <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/CacheParameterGroups.Redis.html#ParameterGroups.Redis.NodeSpecific\">Cache
  Node Type-Specific Parameters for Redis</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"CacheNodeCreateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:50:\"The
  date and time when the cache node was created.\";}s:11:\"CacheNodeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:193:\"The
  cache node identifier. A node ID is a numeric identifier (0001, 0002, etc.). The
  combination of cluster ID and node ID uniquely identifies every cache node used
  in a customer's AWS account.\";}s:15:\"CacheNodeStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  current state of this cache node.\";}s:24:\"CustomerAvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:66:\"The
  Availability Zone where this node was created and now resides.\";}s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";s:11:\"description\";s:47:\"The
  hostname for connecting to this cache node.\";}s:20:\"ParameterGroupStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:61:\"The
  status of the parameter group applied to this cache node.\";}s:17:\"SourceCacheNodeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:151:\"The
  ID of the primary node to which this read replica node is synchronized. If this
  field is empty, this node is not associated with a primary cluster.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CacheNodeIdsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:13:\"CacheNodeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CacheNode\";}s:4:\"type\";s:5:\"array\";}s:30:\"CacheNodeTypeSpecificParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:250:\"A
  parameter that has a different value for each cache node type it is applied to.
  For example, in a Redis cluster, a <code>cache.m1.large</code> cache node type would
  have a larger <code>maxmemory</code> value than a <code>cache.m1.small</code> type.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"AllowedValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"The
  valid range of values for the parameter.\";}s:27:\"CacheNodeTypeSpecificValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/CacheNodeTypeSpecificValueList\";s:11:\"description\";s:77:\"A
  list of cache node types and their corresponding values for this parameter.\";}s:10:\"ChangeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeType\";s:11:\"description\";s:339:\"Indicates
  whether a change to the parameter is applied immediately or requires a reboot for
  the change to be applied. You can force a reboot or wait until the next maintenance
  window's reboot. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Clusters.Rebooting.html\">Rebooting
  a Cluster</a>.\";}s:8:\"DataType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  valid data type for the parameter.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"A
  description of the parameter.\";}s:12:\"IsModifiable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:192:\"Indicates
  whether (<code>true</code>) or not (<code>false</code>) the parameter can be modified.
  Some parameters have security or operational implications that prevent them from
  being changed.\";}s:20:\"MinimumEngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:67:\"The
  earliest cache engine version to which the parameter can apply.\";}s:13:\"ParameterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the parameter.\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  source of the parameter value.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"CacheNodeTypeSpecificParametersList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/CacheNodeTypeSpecificParameter\";}s:4:\"type\";s:5:\"array\";}s:26:\"CacheNodeTypeSpecificValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  value that applies only to a certain cache node type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"CacheNodeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"The
  cache node type for which this value applies.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  value for the cache node type.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CacheNodeTypeSpecificValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CacheNodeTypeSpecificValue\";}s:4:\"type\";s:5:\"array\";}s:19:\"CacheParameterGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Represents
  the output of a <code>CreateCacheParameterGroup</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:25:\"CacheParameterGroupFamily\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:227:\"<p>The
  name of the cache parameter group family that this cache parameter group is compatible
  with.</p> <p>Valid values are: <code>memcached1.4</code> | <code>redis2.6</code>
  | <code>redis2.8</code> | <code>redis3.2</code> </p>\";}s:23:\"CacheParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  name of the cache parameter group.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"The
  description for this cache parameter group.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"CacheParameterGroupAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"A
  cache parameter group with the requested name already exists.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"CacheParameterGroupDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Represents
  the output of a <code>DescribeCacheParameters</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:31:\"CacheNodeTypeSpecificParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/CacheNodeTypeSpecificParametersList\";s:11:\"description\";s:138:\"A
  list of parameters specific to a particular cache node type. Each element in the
  list contains detailed information about one parameter.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ParametersList\";s:11:\"description\";s:37:\"A
  list of <a>Parameter</a> instances.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CacheParameterGroupList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CacheParameterGroup\";}s:4:\"type\";s:5:\"array\";}s:30:\"CacheParameterGroupNameMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"<p>Represents
  the output of one of the following operations:</p> <ul> <li> <p> <code>ModifyCacheParameterGroup</code>
  </p> </li> <li> <p> <code>ResetCacheParameterGroup</code> </p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"CacheParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  name of the cache parameter group.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CacheParameterGroupNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  requested cache parameter group name does not refer to an existing cache parameter
  group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"CacheParameterGroupQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  request cannot be processed because it would exceed the maximum number of cache
  security groups.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"CacheParameterGroupStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Status
  of the cache parameter group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"CacheNodeIdsToReboot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CacheNodeIdsList\";s:11:\"description\";s:145:\"A
  list of the cache node IDs which need to be rebooted for parameter changes to be
  applied. A node ID is a numeric identifier (0001, 0002, etc.).\";}s:23:\"CacheParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  name of the cache parameter group.\";}s:20:\"ParameterApplyStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  status of parameter updates.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CacheParameterGroupsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Represents
  the output of a <code>DescribeCacheParameterGroups</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"CacheParameterGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CacheParameterGroupList\";s:11:\"description\";s:121:\"A
  list of cache parameter groups. Each element in the list contains detailed information
  about one cache parameter group.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CacheSecurityGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"<p>Represents
  the output of one of the following operations:</p> <ul> <li> <p> <code>AuthorizeCacheSecurityGroupIngress</code>
  </p> </li> <li> <p> <code>CreateCacheSecurityGroup</code> </p> </li> <li> <p> <code>RevokeCacheSecurityGroupIngress</code>
  </p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"CacheSecurityGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  name of the cache security group.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"The
  description of the cache security group.\";}s:17:\"EC2SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EC2SecurityGroupList\";s:11:\"description\";s:88:\"A
  list of Amazon EC2 security groups that are associated with this cache security
  group.\";}s:7:\"OwnerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"The
  AWS account ID of the cache security group owner.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"CacheSecurityGroupAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  cache security group with the specified name already exists.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"CacheSecurityGroupMembership\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Represents
  a cluster's status within a particular cache security group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"CacheSecurityGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  name of the cache security group.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:180:\"The
  membership status in the cache security group. The status changes when a cache security
  group is modified, or when the cache security groups assigned to a cluster are modified.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CacheSecurityGroupMembershipList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/CacheSecurityGroupMembership\";}s:4:\"type\";s:5:\"array\";}s:25:\"CacheSecurityGroupMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Represents
  the output of a <code>DescribeCacheSecurityGroups</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"CacheSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CacheSecurityGroups\";s:11:\"description\";s:104:\"A
  list of cache security groups. Each element in the list contains detailed information
  about one group.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CacheSecurityGroupNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:31:\"CacheSecurityGroupNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  requested cache security group name does not refer to an existing cache security
  group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:36:\"CacheSecurityGroupQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  request cannot be processed because it would exceed the allowed number of cache
  security groups.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"CacheSecurityGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CacheSecurityGroup\";}s:4:\"type\";s:5:\"array\";}s:16:\"CacheSubnetGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:187:\"<p>Represents
  the output of one of the following operations:</p> <ul> <li> <p> <code>CreateCacheSubnetGroup</code>
  </p> </li> <li> <p> <code>ModifyCacheSubnetGroup</code> </p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"CacheSubnetGroupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  description of the cache subnet group.\";}s:20:\"CacheSubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:35:\"The
  name of the cache subnet group.\";}s:7:\"Subnets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SubnetList\";s:11:\"description\";s:57:\"A
  list of subnets associated with the cache subnet group.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:79:\"The
  Amazon Virtual Private Cloud identifier (VPC ID) of the cache subnet group.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"CacheSubnetGroupAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  requested cache subnet group name is already in use by an existing cache subnet
  group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"CacheSubnetGroupInUse\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  requested cache subnet group is currently in use.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"CacheSubnetGroupMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Represents
  the output of a <code>DescribeCacheSubnetGroups</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"CacheSubnetGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CacheSubnetGroups\";s:11:\"description\";s:102:\"A
  list of cache subnet groups. Each element in the list contains detailed information
  about one group.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CacheSubnetGroupNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  requested cache subnet group name does not refer to an existing cache subnet group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"CacheSubnetGroupQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  request cannot be processed because it would exceed the allowed number of cache
  subnet groups.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"CacheSubnetGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CacheSubnetGroup\";}s:4:\"type\";s:5:\"array\";}s:29:\"CacheSubnetQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  request cannot be processed because it would exceed the allowed number of subnets
  in a cache subnet group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"ChangeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"immediate\";i:1;s:15:\"requires-reboot\";}s:4:\"type\";s:6:\"string\";}s:13:\"ClusterIdList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:36:\"ClusterQuotaForCustomerExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  request cannot be processed because it would exceed the allowed number of clusters
  per customer.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"CopySnapshotMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Represents
  the input of a <code>CopySnapshotMessage</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"SourceSnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  name of an existing snapshot from which to make a copy.\";}s:12:\"TargetBucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:727:\"<p>The
  Amazon S3 bucket to which the snapshot is exported. This parameter is used only
  when exporting a snapshot for external access.</p> <p>When using this parameter
  to export a snapshot, be sure Amazon ElastiCache has the needed permissions to this
  S3 bucket. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess\">Step
  2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the <i>Amazon ElastiCache
  User Guide</i>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html\">Exporting
  a Snapshot</a> in the <i>Amazon ElastiCache User Guide</i>.</p>\";}s:18:\"TargetSnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:186:\"A
  name for the snapshot copy. ElastiCache does not permit overwriting a snapshot,
  therefore this name must be unique within its context - ElastiCache or an Amazon
  S3 bucket if exporting.\";}}s:8:\"required\";a:2:{i:0;s:18:\"SourceSnapshotName\";i:1;s:18:\"TargetSnapshotName\";}s:4:\"type\";s:6:\"object\";}s:18:\"CopySnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Snapshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Snapshot\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateCacheClusterMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Represents
  the input of a CreateCacheCluster operation.\";s:10:\"properties\";O:8:\"stdClass\":23:{s:6:\"AZMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AZMode\";s:11:\"description\";s:383:\"<p>Specifies
  whether the nodes in this Memcached cluster are created in a single Availability
  Zone or created across multiple Availability Zones in the cluster's region.</p>
  <p>This parameter is only supported for Memcached clusters.</p> <p>If the <code>AZMode</code>
  and <code>PreferredAvailabilityZones</code> are not specified, ElastiCache assumes
  <code>single-az</code> mode.</p>\";}s:9:\"AuthToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:770:\"<p>
  <b>Reserved parameter.</b> The password used to access a password protected server.</p>
  <p>This parameter is valid only if:</p> <ul> <li> <p>The parameter <code>TransitEncryptionEnabled</code>
  was set to <code>true</code> when the cluster was created.</p> </li> <li> <p>The
  line <code>requirepass</code> was added to the database configuration file.</p>
  </li> </ul> <p>Password constraints:</p> <ul> <li> <p>Must be only printable ASCII
  characters.</p> </li> <li> <p>Must be at least 16 characters and no more than 128
  characters in length.</p> </li> <li> <p>Cannot contain any of the following characters:
  '/', '\"', or '@'. </p> </li> </ul> <p>For more information, see <a href=\"http://redis.io/commands/AUTH\">AUTH
  password</a> at http://redis.io/commands/AUTH.</p>\";}s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:37:\"This
  parameter is currently disabled.\";}s:14:\"CacheClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:358:\"<p>The
  node group (shard) identifier. This parameter is stored as a lowercase string.</p>
  <p> <b>Constraints:</b> </p> <ul> <li> <p>A name must contain from 1 to 20 alphanumeric
  characters or hyphens.</p> </li> <li> <p>The first character must be a letter.</p>
  </li> <li> <p>A name cannot end with a hyphen or contain two consecutive hyphens.</p>
  </li> </ul>\";}s:13:\"CacheNodeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:2757:\"<p>The
  compute and memory capacity of the nodes in the node group (shard).</p> <p>The following
  node types are supported by ElastiCache. Generally speaking, the current generation
  types provide more memory and computational power at lower cost when compared to
  their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p>
  <ul> <li> <p>Current generation: </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>,
  <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> <p> <b>M3 node types:</b>
  <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>,
  <code>cache.m3.2xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>,
  <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>,
  <code>cache.m4.10xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p>
  <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b>
  <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>,
  <code>cache.m1.xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p>
  <ul> <li> <p>Previous generation: (not recommended)</p> <p> <b>C1 node types:</b>
  <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p>
  <ul> <li> <p>Current generation: </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>,
  <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>,
  <code>cache.r3.8xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p>
  <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>,
  <code>cache.m2.4xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Notes:</b> </p>
  <ul> <li> <p>All T2 instances are created in an Amazon Virtual Private Cloud (Amazon
  VPC).</p> </li> <li> <p>Redis (cluster mode disabled): Redis backup/restore is not
  supported on T1 and T2 instances. </p> </li> <li> <p>Redis (cluster mode enabled):
  Backup/restore is not supported on T1 instances.</p> </li> <li> <p>Redis Append-only
  files (AOF) functionality is not supported for T1 or T2 instances.</p> </li> </ul>
  <p>For a complete listing of node types and specifications, see <a href=\"http://aws.amazon.com/elasticache/details\">Amazon
  ElastiCache Product Features and Details</a> and either <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/CacheParameterGroups.Memcached.html#ParameterGroups.Memcached.NodeSpecific\">Cache
  Node Type-Specific Parameters for Memcached</a> or <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/CacheParameterGroups.Redis.html#ParameterGroups.Redis.NodeSpecific\">Cache
  Node Type-Specific Parameters for Redis</a>.</p>\";}s:23:\"CacheParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:259:\"The
  name of the parameter group to associate with this cluster. If this argument is
  omitted, the default parameter group for the specified engine is used. You cannot
  use any parameter group which has <code>cluster-enabled='yes'</code> when creating
  a cluster.\";}s:23:\"CacheSecurityGroupNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/CacheSecurityGroupNameList\";s:11:\"description\";s:189:\"<p>A
  list of security group names to associate with this cluster.</p> <p>Use this parameter
  only when you are creating a cluster outside of an Amazon Virtual Private Cloud
  (Amazon VPC).</p>\";}s:20:\"CacheSubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:482:\"<p>The
  name of the subnet group to be used for the cluster.</p> <p>Use this parameter only
  when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p>
  <important> <p>If you're going to launch your cluster in an Amazon VPC, you need
  to create a subnet group before you start creating a cluster. For more information,
  see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/SubnetGroups.html\">Subnets
  and Subnet Groups</a>.</p> </important>\";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:153:\"<p>The
  name of the cache engine to be used for this cluster.</p> <p>Valid values for this
  parameter are: <code>memcached</code> | <code>redis</code> </p>\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:602:\"<p>The
  version number of the cache engine to be used for this cluster. To view the supported
  cache engine versions, use the DescribeCacheEngineVersions operation.</p> <p> <b>Important:</b>
  You can upgrade to a newer engine version (see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/SelectEngine.html#VersionManagement\">Selecting
  a Cache Engine and Version</a>), but you cannot downgrade to an earlier engine version.
  If you want to use an earlier engine version, you must delete the existing cluster
  or replication group and create it anew with the earlier engine version. </p>\";}s:20:\"NotificationTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:212:\"<p>The
  Amazon Resource Name (ARN) of the Amazon Simple Notification Service (SNS) topic
  to which notifications are sent.</p> <note> <p>The Amazon SNS topic owner must be
  the same as the cluster owner.</p> </note>\";}s:13:\"NumCacheNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:462:\"<p>The
  initial number of cache nodes that the cluster has.</p> <p>For clusters running
  Redis, this value must be 1. For clusters running Memcached, this value must be
  between 1 and 20.</p> <p>If you need more than 20 nodes for your Memcached cluster,
  please fill out the ElastiCache Limit Increase Request form at <a href=\"http://aws.amazon.com/contact-us/elasticache-node-limit-request/\">http://aws.amazon.com/contact-us/elasticache-node-limit-request/</a>.</p>\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:69:\"The
  port number on which each of the cache nodes accepts connections.\";}s:25:\"PreferredAvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:328:\"<p>The
  EC2 Availability Zone in which the cluster is created.</p> <p>All nodes belonging
  to this Memcached cluster are placed in the preferred Availability Zone. If you
  want to create your nodes across multiple Availability Zones, use <code>PreferredAvailabilityZones</code>.</p>
  <p>Default: System chosen Availability Zone.</p>\";}s:26:\"PreferredAvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/PreferredAvailabilityZoneList\";s:11:\"description\";s:703:\"<p>A
  list of the Availability Zones in which cache nodes are created. The order of the
  zones in the list is not important.</p> <p>This option is only supported on Memcached.</p>
  <note> <p>If you are creating your cluster in an Amazon VPC (recommended) you can
  only locate nodes in Availability Zones that are associated with the subnets in
  the selected subnet group.</p> <p>The number of Availability Zones listed must equal
  the value of <code>NumCacheNodes</code>.</p> </note> <p>If you want all the nodes
  in the same Availability Zone, use <code>PreferredAvailabilityZone</code> instead,
  or repeat the Availability Zone multiple times in the list.</p> <p>Default: System
  chosen Availability Zones.</p>\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:862:\"<p>Specifies
  the weekly time range during which maintenance on the cluster is performed. It is
  specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The
  minimum maintenance window is a 60 minute period. Valid values for <code>ddd</code>
  are:</p> <p>Specifies the weekly time range during which maintenance on the cluster
  is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H
  Clock UTC). The minimum maintenance window is a 60 minute period.</p> <p>Valid values
  for <code>ddd</code> are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p>
  <code>mon</code> </p> </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code>
  </p> </li> <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li>
  <li> <p> <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:23:00-mon:01:30</code>
  </p>\";}s:18:\"ReplicationGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:797:\"<important>
  <p>Due to current limitations on Redis (cluster mode disabled), this operation or
  parameter is not supported on Redis (cluster mode enabled) replication groups.</p>
  </important> <p>The ID of the replication group to which this cluster should belong.
  If this parameter is specified, the cluster is added to the specified replication
  group as a read replica; otherwise, the cluster is a standalone primary that is
  not part of any replication group.</p> <p>If the specified replication group is
  Multi-AZ enabled and the Availability Zone is not specified, the cluster is created
  in Availability Zones that provide the best spread of read replicas across Availability
  Zones.</p> <note> <p>This parameter is only valid if the <code>Engine</code> parameter
  is <code>redis</code>.</p> </note>\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SecurityGroupIdsList\";s:11:\"description\";s:179:\"<p>One
  or more VPC security groups associated with the cluster.</p> <p>Use this parameter
  only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon
  VPC).</p>\";}s:12:\"SnapshotArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SnapshotArnsList\";s:11:\"description\";s:472:\"<p>A
  single-element string list containing an Amazon Resource Name (ARN) that uniquely
  identifies a Redis RDB snapshot file stored in Amazon S3. The snapshot file is used
  to populate the node group (shard). The Amazon S3 object name in the ARN cannot
  contain any commas.</p> <note> <p>This parameter is only valid if the <code>Engine</code>
  parameter is <code>redis</code>.</p> </note> <p>Example of an Amazon S3 ARN: <code>arn:aws:s3:::my_bucket/snapshot1.rdb</code>
  </p>\";}s:12:\"SnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:311:\"<p>The
  name of a Redis snapshot from which to restore data into the new node group (shard).
  The snapshot status changes to <code>restoring</code> while the new node group (shard)
  is being created.</p> <note> <p>This parameter is only valid if the <code>Engine</code>
  parameter is <code>redis</code>.</p> </note>\";}s:22:\"SnapshotRetentionLimit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:417:\"<p>The
  number of days for which ElastiCache retains automatic snapshots before deleting
  them. For example, if you set <code>SnapshotRetentionLimit</code> to 5, a snapshot
  taken today is retained for 5 days before being deleted.</p> <note> <p>This parameter
  is only valid if the <code>Engine</code> parameter is <code>redis</code>.</p> </note>
  <p>Default: 0 (i.e., automatic backups are disabled for this cluster).</p>\";}s:14:\"SnapshotWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:379:\"<p>The
  daily time range (in UTC) during which ElastiCache begins taking a daily snapshot
  of your node group (shard).</p> <p>Example: <code>05:00-09:00</code> </p> <p>If
  you do not specify this parameter, ElastiCache automatically chooses an appropriate
  time range.</p> <note> <p>This parameter is only valid if the <code>Engine</code>
  parameter is <code>redis</code>.</p> </note>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:60:\"A
  list of cost allocation tags to be added to this resource.\";}}s:8:\"required\";a:1:{i:0;s:14:\"CacheClusterId\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateCacheClusterResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"CacheCluster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CacheCluster\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateCacheParameterGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Represents
  the input of a <code>CreateCacheParameterGroup</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:25:\"CacheParameterGroupFamily\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:224:\"<p>The
  name of the cache parameter group family that the cache parameter group can be used
  with.</p> <p>Valid values are: <code>memcached1.4</code> | <code>redis2.6</code>
  | <code>redis2.8</code> | <code>redis3.2</code> </p>\";}s:23:\"CacheParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"A
  user-specified name for the cache parameter group.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"A
  user-specified description for the cache parameter group.\";}}s:8:\"required\";a:3:{i:0;s:23:\"CacheParameterGroupName\";i:1;s:25:\"CacheParameterGroupFamily\";i:2;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:31:\"CreateCacheParameterGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"CacheParameterGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CacheParameterGroup\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateCacheSecurityGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Represents
  the input of a <code>CreateCacheSecurityGroup</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"CacheSecurityGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:238:\"<p>A
  name for the cache security group. This value is stored as a lowercase string.</p>
  <p>Constraints: Must contain no more than 255 alphanumeric characters. Cannot be
  the word \"Default\".</p> <p>Example: <code>mysecuritygroup</code> </p>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"A
  description for the cache security group.\";}}s:8:\"required\";a:2:{i:0;s:22:\"CacheSecurityGroupName\";i:1;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:30:\"CreateCacheSecurityGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"CacheSecurityGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CacheSecurityGroup\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateCacheSubnetGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Represents
  the input of a <code>CreateCacheSubnetGroup</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:27:\"CacheSubnetGroupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:41:\"A
  description for the cache subnet group.\";}s:20:\"CacheSubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:215:\"<p>A
  name for the cache subnet group. This value is stored as a lowercase string.</p>
  <p>Constraints: Must contain no more than 255 alphanumeric characters or hyphens.</p>
  <p>Example: <code>mysubnetgroup</code> </p>\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SubnetIdentifierList\";s:11:\"description\";s:52:\"A
  list of VPC subnet IDs for the cache subnet group.\";}}s:8:\"required\";a:3:{i:0;s:20:\"CacheSubnetGroupName\";i:1;s:27:\"CacheSubnetGroupDescription\";i:2;s:9:\"SubnetIds\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateCacheSubnetGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"CacheSubnetGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CacheSubnetGroup\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateReplicationGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Represents
  the input of a <code>CreateReplicationGroup</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":28:{s:23:\"AtRestEncryptionEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:551:\"<p>A
  flag that enables encryption at rest when set to <code>true</code>.</p> <p>You cannot
  modify the value of <code>AtRestEncryptionEnabled</code> after the replication group
  is created. To enable encryption at rest on a replication group you must set <code>AtRestEncryptionEnabled</code>
  to <code>true</code> when you create the replication group. </p> <note> <p>This
  parameter is valid only if the <code>Engine</code> parameter is <code>redis</code>
  and the cluster is being created in an Amazon VPC.</p> </note> <p>Default: <code>false</code>
  </p>\";}s:9:\"AuthToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:770:\"<p>
  <b>Reserved parameter.</b> The password used to access a password protected server.</p>
  <p>This parameter is valid only if:</p> <ul> <li> <p>The parameter <code>TransitEncryptionEnabled</code>
  was set to <code>true</code> when the cluster was created.</p> </li> <li> <p>The
  line <code>requirepass</code> was added to the database configuration file.</p>
  </li> </ul> <p>Password constraints:</p> <ul> <li> <p>Must be only printable ASCII
  characters.</p> </li> <li> <p>Must be at least 16 characters and no more than 128
  characters in length.</p> </li> <li> <p>Cannot contain any of the following characters:
  '/', '\"', or '@'. </p> </li> </ul> <p>For more information, see <a href=\"http://redis.io/commands/AUTH\">AUTH
  password</a> at http://redis.io/commands/AUTH.</p>\";}s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:37:\"This
  parameter is currently disabled.\";}s:24:\"AutomaticFailoverEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:703:\"<p>Specifies
  whether a read-only replica is automatically promoted to read/write primary if the
  existing primary fails.</p> <p>If <code>true</code>, Multi-AZ is enabled for this
  replication group. If <code>false</code>, Multi-AZ is disabled for this replication
  group.</p> <p> <code>AutomaticFailoverEnabled</code> must be enabled for Redis (cluster
  mode enabled) replication groups.</p> <p>Default: false</p> <p>Amazon ElastiCache
  for Redis does not support Multi-AZ with automatic failover on:</p> <ul> <li> <p>Redis
  versions earlier than 2.8.6.</p> </li> <li> <p>Redis (cluster mode disabled): T1
  and T2 cache node types.</p> </li> <li> <p>Redis (cluster mode enabled): T1 node
  types.</p> </li> </ul>\";}s:13:\"CacheNodeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:2757:\"<p>The
  compute and memory capacity of the nodes in the node group (shard).</p> <p>The following
  node types are supported by ElastiCache. Generally speaking, the current generation
  types provide more memory and computational power at lower cost when compared to
  their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p>
  <ul> <li> <p>Current generation: </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>,
  <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> <p> <b>M3 node types:</b>
  <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>,
  <code>cache.m3.2xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>,
  <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>,
  <code>cache.m4.10xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p>
  <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b>
  <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>,
  <code>cache.m1.xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p>
  <ul> <li> <p>Previous generation: (not recommended)</p> <p> <b>C1 node types:</b>
  <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p>
  <ul> <li> <p>Current generation: </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>,
  <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>,
  <code>cache.r3.8xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p>
  <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>,
  <code>cache.m2.4xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Notes:</b> </p>
  <ul> <li> <p>All T2 instances are created in an Amazon Virtual Private Cloud (Amazon
  VPC).</p> </li> <li> <p>Redis (cluster mode disabled): Redis backup/restore is not
  supported on T1 and T2 instances. </p> </li> <li> <p>Redis (cluster mode enabled):
  Backup/restore is not supported on T1 instances.</p> </li> <li> <p>Redis Append-only
  files (AOF) functionality is not supported for T1 or T2 instances.</p> </li> </ul>
  <p>For a complete listing of node types and specifications, see <a href=\"http://aws.amazon.com/elasticache/details\">Amazon
  ElastiCache Product Features and Details</a> and either <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/CacheParameterGroups.Memcached.html#ParameterGroups.Memcached.NodeSpecific\">Cache
  Node Type-Specific Parameters for Memcached</a> or <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/CacheParameterGroups.Redis.html#ParameterGroups.Redis.NodeSpecific\">Cache
  Node Type-Specific Parameters for Redis</a>.</p>\";}s:23:\"CacheParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:662:\"<p>The
  name of the parameter group to associate with this replication group. If this argument
  is omitted, the default cache parameter group for the specified engine is used.</p>
  <p>If you are running Redis version 3.2.4 or later, only one node group (shard),
  and want to use a default parameter group, we recommend that you specify the parameter
  group by name. </p> <ul> <li> <p>To create a Redis (cluster mode disabled) replication
  group, use <code>CacheParameterGroupName=default.redis3.2</code>.</p> </li> <li>
  <p>To create a Redis (cluster mode enabled) replication group, use <code>CacheParameterGroupName=default.redis3.2.cluster.on</code>.</p>
  </li> </ul>\";}s:23:\"CacheSecurityGroupNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/CacheSecurityGroupNameList\";s:11:\"description\";s:78:\"A
  list of cache security group names to associate with this replication group.\";}s:20:\"CacheSubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:386:\"<p>The
  name of the cache subnet group to be used for the replication group.</p> <important>
  <p>If you're going to launch your cluster in an Amazon VPC, you need to create a
  subnet group before you start creating a cluster. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/SubnetGroups.html\">Subnets
  and Subnet Groups</a>.</p> </important>\";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:83:\"The
  name of the cache engine to be used for the clusters in this replication group.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:678:\"<p>The
  version number of the cache engine to be used for the clusters in this replication
  group. To view the supported cache engine versions, use the <code>DescribeCacheEngineVersions</code>
  operation.</p> <p> <b>Important:</b> You can upgrade to a newer engine version (see
  <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/SelectEngine.html#VersionManagement\">Selecting
  a Cache Engine and Version</a>) in the <i>ElastiCache User Guide</i>, but you cannot
  downgrade to an earlier engine version. If you want to use an earlier engine version,
  you must delete the existing cluster or replication group and create it anew with
  the earlier engine version. </p>\";}s:22:\"NodeGroupConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/NodeGroupConfigurationList\";s:11:\"description\";s:408:\"<p>A
  list of node group (shard) configuration options. Each node group (shard) configuration
  has the following: Slots, PrimaryAvailabilityZone, ReplicaAvailabilityZones, ReplicaCount.</p>
  <p>If you're creating a Redis (cluster mode disabled) or a Redis (cluster mode enabled)
  replication group, you can use this parameter to individually configure each node
  group (shard), or you can omit this parameter.</p>\";}s:20:\"NotificationTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:212:\"<p>The
  Amazon Resource Name (ARN) of the Amazon Simple Notification Service (SNS) topic
  to which notifications are sent.</p> <note> <p>The Amazon SNS topic owner must be
  the same as the cluster owner.</p> </note>\";}s:16:\"NumCacheClusters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:596:\"<p>The
  number of clusters this replication group initially has.</p> <p>This parameter is
  not used if there is more than one node group (shard). You should use <code>ReplicasPerNodeGroup</code>
  instead.</p> <p>If <code>AutomaticFailoverEnabled</code> is <code>true</code>, the
  value of this parameter must be at least 2. If <code>AutomaticFailoverEnabled</code>
  is <code>false</code> you can omit this parameter (it will default to 1), or you
  can explicitly set it to a value between 2 and 6.</p> <p>The maximum permitted value
  for <code>NumCacheClusters</code> is 6 (primary plus 5 replicas).</p>\";}s:13:\"NumNodeGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:230:\"<p>An
  optional parameter that specifies the number of node groups (shards) for this Redis
  (cluster mode enabled) replication group. For Redis (cluster mode disabled) either
  omit this parameter or set it to 1.</p> <p>Default: 1</p>\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:82:\"The
  port number on which each member of the replication group accepts connections.\";}s:24:\"PreferredCacheClusterAZs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AvailabilityZonesList\";s:11:\"description\";s:746:\"<p>A
  list of EC2 Availability Zones in which the replication group's clusters are created.
  The order of the Availability Zones in the list is the order in which clusters are
  allocated. The primary cluster is created in the first AZ in the list.</p> <p>This
  parameter is not used if there is more than one node group (shard). You should use
  <code>NodeGroupConfiguration</code> instead.</p> <note> <p>If you are creating your
  replication group in an Amazon VPC (recommended), you can only locate clusters in
  Availability Zones associated with the subnets in the selected subnet group.</p>
  <p>The number of Availability Zones listed must equal the value of <code>NumCacheClusters</code>.</p>
  </note> <p>Default: system chosen Availability Zones.</p>\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:862:\"<p>Specifies
  the weekly time range during which maintenance on the cluster is performed. It is
  specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The
  minimum maintenance window is a 60 minute period. Valid values for <code>ddd</code>
  are:</p> <p>Specifies the weekly time range during which maintenance on the cluster
  is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H
  Clock UTC). The minimum maintenance window is a 60 minute period.</p> <p>Valid values
  for <code>ddd</code> are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p>
  <code>mon</code> </p> </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code>
  </p> </li> <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li>
  <li> <p> <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:23:00-mon:01:30</code>
  </p>\";}s:16:\"PrimaryClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:319:\"<p>The
  identifier of the cluster that serves as the primary for this replication group.
  This cluster must already exist and have a status of <code>available</code>.</p>
  <p>This parameter is not required if <code>NumCacheClusters</code>, <code>NumNodeGroups</code>,
  or <code>ReplicasPerNodeGroup</code> is specified.</p>\";}s:20:\"ReplicasPerNodeGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:117:\"An
  optional parameter that specifies the number of replica nodes in each node group
  (shard). Valid values are 0 to 5.\";}s:27:\"ReplicationGroupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"A
  user-created description for the replication group.\";}s:18:\"ReplicationGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:348:\"<p>The
  replication group identifier. This parameter is stored as a lowercase string.</p>
  <p>Constraints:</p> <ul> <li> <p>A name must contain from 1 to 20 alphanumeric characters
  or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li>
  <p>A name cannot end with a hyphen or contain two consecutive hyphens.</p> </li>
  </ul>\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SecurityGroupIdsList\";s:11:\"description\";s:207:\"<p>One
  or more Amazon VPC security groups associated with this replication group.</p> <p>Use
  this parameter only when you are creating a replication group in an Amazon Virtual
  Private Cloud (Amazon VPC).</p>\";}s:12:\"SnapshotArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SnapshotArnsList\";s:11:\"description\";s:585:\"<p>A
  list of Amazon Resource Names (ARN) that uniquely identify the Redis RDB snapshot
  files stored in Amazon S3. The snapshot files are used to populate the new replication
  group. The Amazon S3 object name in the ARN cannot contain any commas. The new replication
  group will have the number of node groups (console: shards) specified by the parameter
  <i>NumNodeGroups</i> or the number of node groups configured by <i>NodeGroupConfiguration</i>
  regardless of the number of ARNs specified here.</p> <p>Example of an Amazon S3
  ARN: <code>arn:aws:s3:::my_bucket/snapshot1.rdb</code> </p>\";}s:12:\"SnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:185:\"The
  name of a snapshot from which to restore data into the new replication group. The
  snapshot status changes to <code>restoring</code> while the new replication group
  is being created.\";}s:22:\"SnapshotRetentionLimit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:315:\"<p>The
  number of days for which ElastiCache retains automatic snapshots before deleting
  them. For example, if you set <code>SnapshotRetentionLimit</code> to 5, a snapshot
  that was taken today is retained for 5 days before being deleted.</p> <p>Default:
  0 (i.e., automatic backups are disabled for this cluster).</p>\";}s:14:\"SnapshotWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:268:\"<p>The
  daily time range (in UTC) during which ElastiCache begins taking a daily snapshot
  of your node group (shard).</p> <p>Example: <code>05:00-09:00</code> </p> <p>If
  you do not specify this parameter, ElastiCache automatically chooses an appropriate
  time range.</p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:145:\"A
  list of cost allocation tags to be added to this resource. A tag is a key-value
  pair. A tag key does not have to be accompanied by a tag value.\";}s:24:\"TransitEncryptionEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:694:\"<p>A
  flag that enables in-transit encryption when set to <code>true</code>.</p> <p>You
  cannot modify the value of <code>TransitEncryptionEnabled</code> after the cluster
  is created. To enable in-transit encryption on a cluster you must set <code>TransitEncryptionEnabled</code>
  to <code>true</code> when you create a cluster.</p> <p>This parameter is valid only
  if the <code>Engine</code> parameter is <code>redis</code>, the <code>EngineVersion</code>
  parameter is <code>3.2.4</code> or later, and the cluster is being created in an
  Amazon VPC.</p> <p>If you enable in-transit encryption, you must also specify a
  value for <code>CacheSubnetGroup</code>.</p> <p>Default: <code>false</code> </p>\";}}s:8:\"required\";a:2:{i:0;s:18:\"ReplicationGroupId\";i:1;s:27:\"ReplicationGroupDescription\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateReplicationGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ReplicationGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationGroup\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateSnapshotMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Represents
  the input of a <code>CreateSnapshot</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"CacheClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:81:\"The
  identifier of an existing cluster. The snapshot is created from this cluster.\";}s:18:\"ReplicationGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:101:\"The
  identifier of an existing replication group. The snapshot is created from this replication
  group.\";}s:12:\"SnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"A
  name for the snapshot being created.\";}}s:8:\"required\";a:1:{i:0;s:12:\"SnapshotName\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Snapshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Snapshot\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteCacheClusterMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Represents
  the input of a <code>DeleteCacheCluster</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"CacheClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:91:\"The
  cluster identifier for the cluster to be deleted. This parameter is not case sensitive.\";}s:23:\"FinalSnapshotIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:191:\"The
  user-supplied name of a final cluster snapshot. This is the unique name that identifies
  the snapshot. ElastiCache creates the snapshot, and then deletes the cluster immediately
  afterward.\";}}s:8:\"required\";a:1:{i:0;s:14:\"CacheClusterId\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteCacheClusterResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"CacheCluster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CacheCluster\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteCacheParameterGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Represents
  the input of a <code>DeleteCacheParameterGroup</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"CacheParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:154:\"<p>The
  name of the cache parameter group to delete.</p> <note> <p>The specified cache security
  group must not be associated with any clusters.</p> </note>\";}}s:8:\"required\";a:1:{i:0;s:23:\"CacheParameterGroupName\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteCacheSecurityGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Represents
  the input of a <code>DeleteCacheSecurityGroup</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"CacheSecurityGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:122:\"<p>The
  name of the cache security group to delete.</p> <note> <p>You cannot delete the
  default security group.</p> </note>\";}}s:8:\"required\";a:1:{i:0;s:22:\"CacheSecurityGroupName\";}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteCacheSubnetGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Represents
  the input of a <code>DeleteCacheSubnetGroup</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"CacheSubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:138:\"<p>The
  name of the cache subnet group to delete.</p> <p>Constraints: Must contain no more
  than 255 alphanumeric characters or hyphens.</p>\";}}s:8:\"required\";a:1:{i:0;s:20:\"CacheSubnetGroupName\";}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteReplicationGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Represents
  the input of a <code>DeleteReplicationGroup</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"FinalSnapshotIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:287:\"The
  name of a final node group (shard) snapshot. ElastiCache creates the snapshot from
  the primary node in the cluster, rather than one of the replicas; this is to ensure
  that it captures the freshest data. After the final snapshot is taken, the replication
  group is immediately deleted.\";}s:18:\"ReplicationGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:83:\"The
  identifier for the cluster to be deleted. This parameter is not case sensitive.\";}s:20:\"RetainPrimaryCluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:100:\"If
  set to <code>true</code>, all of the read replicas are deleted, but the primary
  node is retained.\";}}s:8:\"required\";a:1:{i:0;s:18:\"ReplicationGroupId\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteReplicationGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ReplicationGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationGroup\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteSnapshotMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Represents
  the input of a <code>DeleteSnapshot</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"SnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  name of the snapshot to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:12:\"SnapshotName\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Snapshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Snapshot\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeCacheClustersMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Represents
  the input of a <code>DescribeCacheClusters</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"CacheClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:164:\"The
  user-supplied cluster identifier. If this parameter is specified, only information
  about that specific cluster is returned. This parameter isn't case sensitive.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:252:\"An
  optional marker returned from a prior request. Use this marker for pagination of
  results from this operation. If this parameter is specified, the response includes
  only records beyond the marker, up to the value specified by <code>MaxRecords</code>.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:286:\"<p>The
  maximum number of records to include in the response. If more records exist than
  the specified <code>MaxRecords</code> value, a marker is included in the response
  so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints:
  minimum 20; maximum 100.</p>\";}s:39:\"ShowCacheClustersNotInReplicationGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:235:\"An
  optional flag that can be included in the <code>DescribeCacheCluster</code> request
  to show only nodes (API/CLI: clusters) that are not members of a replication group.
  In practice, this mean Memcached and single node Redis clusters.\";}s:17:\"ShowCacheNodeInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:144:\"An
  optional flag that can be included in the <code>DescribeCacheCluster</code> request
  to retrieve information about the individual cache nodes.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeCacheEngineVersionsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Represents
  the input of a <code>DescribeCacheEngineVersions</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:25:\"CacheParameterGroupFamily\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:424:\"<p>The
  name of a specific cache parameter group family to return details for.</p> <p>Valid
  values are: <code>memcached1.4</code> | <code>redis2.6</code> | <code>redis2.8</code>
  | <code>redis3.2</code> </p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 alphanumeric
  characters</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot
  end with a hyphen or contain two consecutive hyphens</p> </li> </ul>\";}s:11:\"DefaultOnly\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:144:\"If
  <code>true</code>, specifies that only the default version of the specified engine
  or engine and major version combination is to be returned.\";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:86:\"The
  cache engine to return. Valid values: <code>memcached</code> | <code>redis</code>
  \";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:79:\"<p>The
  cache engine version to return.</p> <p>Example: <code>1.4.14</code> </p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:252:\"An
  optional marker returned from a prior request. Use this marker for pagination of
  results from this operation. If this parameter is specified, the response includes
  only records beyond the marker, up to the value specified by <code>MaxRecords</code>.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:286:\"<p>The
  maximum number of records to include in the response. If more records exist than
  the specified <code>MaxRecords</code> value, a marker is included in the response
  so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints:
  minimum 20; maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeCacheParameterGroupsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Represents
  the input of a <code>DescribeCacheParameterGroups</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"CacheParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:67:\"The
  name of a specific cache parameter group to return details for.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:252:\"An
  optional marker returned from a prior request. Use this marker for pagination of
  results from this operation. If this parameter is specified, the response includes
  only records beyond the marker, up to the value specified by <code>MaxRecords</code>.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:286:\"<p>The
  maximum number of records to include in the response. If more records exist than
  the specified <code>MaxRecords</code> value, a marker is included in the response
  so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints:
  minimum 20; maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeCacheParametersMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Represents
  the input of a <code>DescribeCacheParameters</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"CacheParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:67:\"The
  name of a specific cache parameter group to return details for.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:252:\"An
  optional marker returned from a prior request. Use this marker for pagination of
  results from this operation. If this parameter is specified, the response includes
  only records beyond the marker, up to the value specified by <code>MaxRecords</code>.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:286:\"<p>The
  maximum number of records to include in the response. If more records exist than
  the specified <code>MaxRecords</code> value, a marker is included in the response
  so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints:
  minimum 20; maximum 100.</p>\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:129:\"<p>The
  parameter types to return.</p> <p>Valid values: <code>user</code> | <code>system</code>
  | <code>engine-default</code> </p>\";}}s:8:\"required\";a:1:{i:0;s:23:\"CacheParameterGroupName\";}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeCacheSecurityGroupsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Represents
  the input of a <code>DescribeCacheSecurityGroups</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"CacheSecurityGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  name of the cache security group to return details for.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:252:\"An
  optional marker returned from a prior request. Use this marker for pagination of
  results from this operation. If this parameter is specified, the response includes
  only records beyond the marker, up to the value specified by <code>MaxRecords</code>.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:286:\"<p>The
  maximum number of records to include in the response. If more records exist than
  the specified <code>MaxRecords</code> value, a marker is included in the response
  so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints:
  minimum 20; maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeCacheSubnetGroupsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Represents
  the input of a <code>DescribeCacheSubnetGroups</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"CacheSubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  name of the cache subnet group to return details for.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:252:\"An
  optional marker returned from a prior request. Use this marker for pagination of
  results from this operation. If this parameter is specified, the response includes
  only records beyond the marker, up to the value specified by <code>MaxRecords</code>.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:286:\"<p>The
  maximum number of records to include in the response. If more records exist than
  the specified <code>MaxRecords</code> value, a marker is included in the response
  so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints:
  minimum 20; maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:38:\"DescribeEngineDefaultParametersMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"Represents
  the input of a <code>DescribeEngineDefaultParameters</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:25:\"CacheParameterGroupFamily\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:176:\"<p>The
  name of the cache parameter group family.</p> <p>Valid values are: <code>memcached1.4</code>
  | <code>redis2.6</code> | <code>redis2.8</code> | <code>redis3.2</code> </p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:252:\"An
  optional marker returned from a prior request. Use this marker for pagination of
  results from this operation. If this parameter is specified, the response includes
  only records beyond the marker, up to the value specified by <code>MaxRecords</code>.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:286:\"<p>The
  maximum number of records to include in the response. If more records exist than
  the specified <code>MaxRecords</code> value, a marker is included in the response
  so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints:
  minimum 20; maximum 100.</p>\";}}s:8:\"required\";a:1:{i:0;s:25:\"CacheParameterGroupFamily\";}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeEngineDefaultParametersResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"EngineDefaults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EngineDefaults\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeEventsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Represents
  the input of a <code>DescribeEvents</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"Duration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:50:\"The
  number of minutes worth of events to retrieve.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:144:\"<p>The
  end of the time interval for which to retrieve events, specified in ISO 8601 format.</p>
  <p> <b>Example:</b> 2017-03-30T07:03:49.555Z</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:252:\"An
  optional marker returned from a prior request. Use this marker for pagination of
  results from this operation. If this parameter is specified, the response includes
  only records beyond the marker, up to the value specified by <code>MaxRecords</code>.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:286:\"<p>The
  maximum number of records to include in the response. If more records exist than
  the specified <code>MaxRecords</code> value, a marker is included in the response
  so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints:
  minimum 20; maximum 100.</p>\";}s:16:\"SourceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:125:\"The
  identifier of the event source for which events are returned. If not specified,
  all sources are included in the response.\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceType\";s:11:\"description\";s:91:\"The
  event source to retrieve events for. If no value is specified, all events are returned.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:144:\"<p>The
  beginning of the time interval to retrieve events for, specified in ISO 8601 format.</p>
  <p> <b>Example:</b> 2017-03-30T07:03:49.555Z</p>\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeReplicationGroupsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Represents
  the input of a <code>DescribeReplicationGroups</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:252:\"An
  optional marker returned from a prior request. Use this marker for pagination of
  results from this operation. If this parameter is specified, the response includes
  only records beyond the marker, up to the value specified by <code>MaxRecords</code>.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:286:\"<p>The
  maximum number of records to include in the response. If more records exist than
  the specified <code>MaxRecords</code> value, a marker is included in the response
  so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints:
  minimum 20; maximum 100.</p>\";}s:18:\"ReplicationGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:201:\"<p>The
  identifier for the replication group to be described. This parameter is not case
  sensitive.</p> <p>If you do not specify this parameter, information about all replication
  groups is returned.</p>\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeReservedCacheNodesMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Represents
[...]
