---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:28:\"Sales Tax Validation Request\";s:11:\"description\";s:236:\"An
  invoice is a bill of sale for goods or services. This API provides invoice information
  so that clients can calculate appropriate sales tax for invoice items. It also allows
  clients to update the invoice with the calculated sales tax.\";s:7:\"version\";s:3:\"3.0\";}"
host: www.concursolutions.com
basePath: /api/v3.0
paths:
  /invoice/salestaxvalidationrequest:
    get:
      tags:
      - Resources
      summary: Get invoices for calculating tax
      description: Gets invoices for the purpose of calculating sales tax.
      parameters:
      - name: offset
        in: query
        description: The starting point of the next set of results, after the limit
          specified in the limit field has been reached.
        required: false
        type: string
      - name: limit
        in: query
        description: 'The number of invoices to retrieve. Maximum value: 1000'
        required: false
        type: integer
        format: int32
      - name: modifiedafter
        in: query
        description: A parameter that can be used to limit the results to invoices
          modified after the specified date.
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/InvoiceGetCollection'
    put:
      tags:
      - Resources
      summary: Update invoices with the calcuated tax amount and tax rate
      description: Updates invoices with the calculated tax amount and tax rate.
      parameters:
      - name: invoice
        in: body
        description: The tax information for the invoice that is to be updated.
        required: true
        schema:
          $ref: '#/definitions/Invoice'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/InvoiceStatus'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:13:\"BillToAddress\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Address
  line 1 of the shipping or billing address.\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Address
  line 2 of the shipping or billing address.\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Address
  line 3 of the shipping or billing address.\";}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  city of the shipping or billing address.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  code of the country for the shipping or billing address.\";}s:10:\"ExternalID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"A
  unique value supplied by the customer to identify a particular shipping or billing
  address.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"An
  optional name that can be given to the shipping or billing address.\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  postal code of the shipping or billing address.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"StateProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:7:\"Invoice\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"CalculatedTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  calculated tax amount for the invoice.\";}s:17:\"CalculatedTaxRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  calculated tax rate for the invoice.\";}s:8:\"Comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Comments
  for the invoice.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  unique identifier of the resource.\";}s:8:\"LineItem\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InvoiceLineItemPut\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  status of the invoice.\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"The
  status code that indicates the outcome of tax validation. Valid values are: ERROR,
  CMPLT\";}s:14:\"TaxReferenceID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  tax reference ID of the invoice.\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  URI to the resource.\";}}}s:10:\"InvoiceGet\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":21:{s:13:\"BillToAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BillToAddress\";}s:19:\"CalculatedTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  calculated tax amount for the invoice.\";}s:17:\"CalculatedTaxRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  calculated tax rate for the invoice.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  country code for the line item.\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"The
  <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO
  4217 currency code</a> for the invoice currency. For example, USD or CAD.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  unique identifier of the resource.\";}s:13:\"InvoiceAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  invoice amount (the cost of the purchased items).\";}s:11:\"InvoiceDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  invoice date.\";}s:8:\"LineItem\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InvoiceLineItem\";}s:19:\"PurchaseOrderNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  purchase order number for the purchase order associated with the invoice.\";}s:9:\"RequestID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  Request ID of the Payment Request\";}s:14:\"ShippingAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  shipping amount for the invoice.\";}s:13:\"ShipToAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ShipToAddress\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  status of the invoice.\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"The
  status code that indicates the outcome of tax validation. Valid values are: ERROR,
  CMPLT\";}s:3:\"Tax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"The
  tax as shown on the invoice. This is the tax applied by the vendor.\";}s:14:\"TaxReferenceID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  tax reference ID of the invoice.\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  title of the invoice.\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  total amount of the request.\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  URI to the resource.\";}s:19:\"VendorInvoiceNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"The
  vendor invoice number that is associated with the invoice.\";}}}s:20:\"InvoiceGetCollection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InvoiceGet\";}s:8:\"NextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:15:\"InvoiceLineItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:19:\"CalculatedTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  calculated tax amount for the individual line item.\";}s:17:\"CalculatedTaxRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  calculated tax rate for the individual line item.\";}s:13:\"CommodityCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"The
  commodity code that is tied to the expense type associated with the line item.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  country code for the line item.\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  currency code for the individual line item.\";}s:11:\"LineItemKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"A
  value that uniquely identifies the line item.\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  quantity for the line item.\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  total amount for the line item.\";}s:9:\"UnitPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  unit price for the line item.\";}s:6:\"Vendor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/InvoiceVendor\";}}}s:18:\"InvoiceLineItemPut\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"CalculatedTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  calculated tax amount for the individual line item.\";}s:17:\"CalculatedTaxRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  calculated tax rate for the individual line item.\";}s:11:\"LineItemKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"A
  value that uniquely identifies the line item.\";}}}s:13:\"InvoiceStatus\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"Code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Code
  of request result\";}s:8:\"Comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Comments
  that are returned for the update request.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Message
  of request result\";}s:12:\"RecordNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Record
  Number for create/update request.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  status of the update. Possible values: SUCCESS, FAILURE\";}s:14:\"TaxReferenceID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  tax reference ID of the updated invoice.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Type
  request result\";}}}s:13:\"InvoiceVendor\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  Vendor Address 1.\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  Vendor Address 2.\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  Vendor Address 3.\";}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  Vendor City.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  Vendor Country Code.\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  Vendor Postal Code / Zip.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  Vendor State.\";}s:17:\"VendorAddressName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Name
  for Vendor Address.\";}s:10:\"VendorName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  name of the vendor.\";}}}s:13:\"ShipToAddress\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Address
  line 1 of the shipping or billing address.\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Address
  line 2 of the shipping or billing address.\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Address
  line 3 of the shipping or billing address.\";}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  city of the shipping or billing address.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  code of the country for the shipping or billing address.\";}s:10:\"ExternalID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"A
  unique value supplied by the customer to identify a particular shipping or billing
  address.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"An
  optional name that can be given to the shipping or billing address.\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  postal code of the shipping or billing address.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"StateProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}}"
...
