---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:16:\"Purchase Request\";s:11:\"description\";s:334:\"The
  Purchase Request API allows clients and partners to create and automatically submit
  purchase requests in the preauthorization workflow using the POST resource. With
  the GET resource you can retrieve the purchase request number, resulting purchase
  order number, workflow status, and any exception triggered for the records created.\";s:7:\"version\";s:3:\"4.0\";}"
host: www.concursolutions.com
basePath: /api/v4.0
paths:
  /purchaserequest/v4/purchaserequests/:
    post:
      tags:
      - Resources
      summary: Create a new purchase request
      description: Create a Purchase Request based on provided header and line item
        details. If the request is valid it creates a purchase request and returns
        back a unique identifier to get the purchase request details.
      parameters:
      - name: Content-Type
        in: header
        description: Content Type.
        required: true
        type: string
      - name: Authorization
        in: header
        description: Bearer Token that identifies the caller. This is the Company
          or User access token.
        required: true
        type: string
      - name: concur-correlationid
        in: header
        description: Concur specific custom header used for technical support in the
          form of a RFC 4122 A Universally Unique IDentifier (UUID) URN Namespace.
        required: false
        type: string
      - name: purchaseRequest
        in: body
        description: The details of the purchase request.
        required: true
        schema:
          $ref: '#/definitions/purchaseRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/purchaseRequestResponse'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/errors'
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
        503:
          description: Service Unavailable
  /purchaserequest/v4/purchaserequests/{id}?mode=COMPACT:
    get:
      tags:
      - Resources
      summary: Gets details of an existing purchase request
      description: Gets purchase request details. The supported mode is COMPACT, which
        returns basic info about the purchase request along with any exceptions.
      parameters:
      - name: Content-Type
        in: header
        description: Content Type.
        required: true
        type: string
      - name: Authorization
        in: header
        description: Bearer Token that identifies the caller. This is the Company
          or User access token.
        required: true
        type: string
      - name: concur-correlationid
        in: header
        description: Concur specific custom header used for technical support in the
          form of a RFC 4122 A Universally Unique IDentifier (UUID) URN Namespace.
        required: false
        type: string
      - name: id
        in: path
        description: The identifier for the purchase request.
        required: true
        type: string
      - name: mode
        in: parameter
        description: 'Specifies mode for Get Purchase Request Details. Supported value:
          COMPACT.'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/getPurchaseRequestCompact'
        401:
          description: Unauthorized
        404:
          description: Not Found
        500:
          description: Internal Server Error
        503:
          description: Service Unavailable
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:15:\"purchaseRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:6:\"userId\";i:1;s:9:\"userEmail\";i:2;s:11:\"userLoginId\";i:3;s:12:\"currencyCode\";i:4;s:9:\"lineItems\";}s:10:\"properties\";O:8:\"stdClass\":35:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"A
  description of the purchase request.\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:156:\"The
  employee that is requesting the items. This is the UUID of the employee. Either
  UserId or UserEmail or UserLoginId is required to identify the employee.\";}s:9:\"userEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"The
  employee that is requesting the items. This is the employee\u2019s email. Either
  UserId or UserEmail or UserLoginId is required to identify the employee.\";}s:11:\"userLoginId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:157:\"The
  employee that is requesting the items. This is the employee\u2019s Login Id. Either
  UserId or UserEmail or UserLoginId is required to identify the employee.\";}s:16:\"policyExternalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:396:\"The
  external identifier of the policy that should be associated with the purchase request.
  If not supplied, the API will use the default policy set up for the user group assigned
  to the requesting employee. This is the External Id from the Invoice Policy configuration.
  Clients will need to get these Ids from their SAP Concur contact if they need to
  assign policies other than the group default.\";}s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"The
  3-letter ISO 4217 currency code of the currency that is associated with the purchase
  request. This code will be used for all items on this request. Example: USD.\";}s:15:\"notesToSupplier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Notes
  to print on the transmitted purchase order PDF sent to the supplier.\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Internal
  comments related to this record.\";}s:7:\"custom1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"A
  value that can be applied to a custom field 1 that is part of the purchase request
  header form.\";}s:7:\"custom2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"A
  value that can be applied to a custom field 2 that is part of the purchase request
  header form.\";}s:7:\"custom3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"A
  value that can be applied to a custom field 3 that is part of the purchase request
  header form.\";}s:7:\"custom4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"A
  value that can be applied to a custom field 4 that is part of the purchase request
  header form.\";}s:7:\"custom5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"A
  value that can be applied to a custom field 5 that is part of the purchase request
  header form.\";}s:7:\"custom6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"A
  value that can be applied to a custom field 6 that is part of the purchase request
  header form.\";}s:7:\"custom7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"A
  value that can be applied to a custom field 7 that is part of the purchase request
  header form.\";}s:7:\"custom8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"A
  value that can be applied to a custom field 8 that is part of the purchase request
  header form.\";}s:7:\"custom9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"A
  value that can be applied to a custom field 9 that is part of the purchase request
  header form.\";}s:8:\"custom10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 10 that is part of the purchase request
  header form.\";}s:8:\"custom11\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 11 that is part of the purchase request
  header form.\";}s:8:\"custom12\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 12 that is part of the purchase request
  header form.\";}s:8:\"custom13\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 13 that is part of the purchase request
  header form.\";}s:8:\"custom14\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 14 that is part of the purchase request
  header form.\";}s:8:\"custom15\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 15 that is part of the purchase request
  header form.\";}s:8:\"custom16\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 16 that is part of the purchase request
  header form.\";}s:8:\"custom17\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 17 that is part of the purchase request
  header form.\";}s:8:\"custom18\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 18 that is part of the purchase request
  header form.\";}s:8:\"custom19\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 19 that is part of the purchase request
  header form.\";}s:8:\"custom20\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 20 that is part of the purchase request
  header form.\";}s:8:\"custom21\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 21 that is part of the purchase request
  header form.\";}s:8:\"custom22\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 22 that is part of the purchase request
  header form.\";}s:8:\"custom23\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 23 that is part of the purchase request
  header form.\";}s:8:\"custom24\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  value that can be applied to a custom field 24 that is part of the purchase request
  header form.\";}s:17:\"shipToAddressCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:188:\"The
  shipping address of the Purchase Request. The accepted value is the address code
  from ShipTo record. If not supplied, the API will use the requesting user\u2019s
  default shipping address.\";}s:17:\"billToAddressCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:204:\"The
  billing address of the Purchase Request to be used for invoicing. The accepted value
  is the address code from the BillTo record. If not supplied the API will use the
  policy\u2019s default BillTo address.\";}s:9:\"lineItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/lineItem\";s:11:\"description\";s:61:\"Requested
  items or services related to this Purchase Request.\";}}}s:8:\"lineItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:6:{i:0;s:12:\"purchaseType\";i:1;s:10:\"vendorCode\";i:2;s:17:\"vendorAddressCode\";i:3;s:11:\"description\";i:4;s:8:\"quantity\";i:5;s:9:\"unitPrice\";}s:10:\"properties\";O:8:\"stdClass\":36:{s:12:\"purchaseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"The
  type of item, either goods or services. Displayed as Type in Concur Invoice. Supported
  values: GOODS, SERVICES.\";}s:10:\"vendorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:195:\"The
  code that identifies the vendor. This value can be found in the vendor information
  form of Vendor Manager. This is used along with Vendor Address Code to determine
  the specific Vendor record.\";}s:17:\"vendorAddressCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:238:\"The
  code that identifies the vendor\u2019s address. This value can be found in the vendor
  information form of Vendor Manager and is labeled Address Accounting Code. This
  is used along with Vendor Code to determine the specific Vendor record.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"A
  description of the line item.\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  quantity associated with the line item.\";}s:9:\"unitPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  unit price of the line item.\";}s:11:\"expenseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:244:\"The
  PET code of the Expense Type that will be assigned to the line item. If not supplied
  it will default to the Expense Type set up on the Vendor Profile used for the item.
  Clients will need to get these PET codes from their SAP Concur contact.\";}s:11:\"receiptType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:308:\"The
  type of receipt. If not supplied, the API will use the purchaseType to set this
  field to NONE for SERVICES, or QUANTITY_RECEIPT for GOODS. If you are using SAP
  Concur Receiving and need to enter Goods Receipts against the resulting PO lines
  use QUANTITY_RECEIPT. Supported values: QUANTITY_RECEIPT, NONE.\";}s:12:\"neededByDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"date\";s:11:\"description\";s:97:\"The
  date by which the purchase order must be fulfilled in format YYYY-MM-DD. Example:
  2018-03-23.\";}s:7:\"uoMCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:244:\"Unit
  of Measure (UOM) code for the purchase request item. Accepted values are the UOM
  Codes set up in the Unit of Measure configuration in Concur Invoice. If not supplied,
  the API will default a UOM based on the defaults for goods and services.\";}s:8:\"shipping\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  total shipping cost for the item.\";}s:3:\"tax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Tax
  amount that is associated with the line item.\";}s:14:\"supplierPartId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:134:\"An
  Id value that helps to identify the line item. This could be a value such as the
  vendor\u2019s part number or the manufacturer number.\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"A
  URL related to the item. You can have multiple URLs per item, enclosed in quotes
  and comma separated.\";}s:13:\"notesToVendor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Notes
  related to the item that display on the transmitted purchase order PDF to the vendor.\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Internal
  comments related to this record.\";}s:7:\"custom1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"A
  value that can be applied to a custom field 1 that is part of the purchase request
  line item form.\";}s:7:\"custom2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"A
  value that can be applied to a custom field 2 that is part of the purchase request
  line item form.\";}s:7:\"custom3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"A
  value that can be applied to a custom field 3 that is part of the purchase request
  line item form.\";}s:7:\"custom4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"A
  value that can be applied to a custom field 4 that is part of the purchase request
  line item form.\";}s:7:\"custom5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"A
  value that can be applied to a custom field 5 that is part of the purchase request
  line item form.\";}s:7:\"custom6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"A
  value that can be applied to a custom field 6 that is part of the purchase request
  line item form.\";}s:7:\"custom7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"A
  value that can be applied to a custom field 7 that is part of the purchase request
  line item form.\";}s:7:\"custom8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"A
  value that can be applied to a custom field 8 that is part of the purchase request
  line item form.\";}s:7:\"custom9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"A
  value that can be applied to a custom field 9 that is part of the purchase request
  line item form.\";}s:8:\"custom10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 10 that is part of the purchase request
  line item form.\";}s:8:\"custom11\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 11 that is part of the purchase request
  line item form.\";}s:8:\"custom12\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 12 that is part of the purchase request
  line item form.\";}s:8:\"custom13\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 13 that is part of the purchase request
  line item form.\";}s:8:\"custom14\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 14 that is part of the purchase request
  line item form.\";}s:8:\"custom15\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 15 that is part of the purchase request
  line item form.\";}s:8:\"custom16\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 16 that is part of the purchase request
  line item form.\";}s:8:\"custom17\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 17 that is part of the purchase request
  line item form.\";}s:8:\"custom18\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 18 that is part of the purchase request
  line item form.\";}s:8:\"custom19\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 19 that is part of the purchase request
  line item form.\";}s:8:\"custom20\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  value that can be applied to a custom field 20 that is part of the purchase request
  line item form.\";}}}s:23:\"purchaseRequestResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:160:\"The
  unique purchase request reference ID if the request has passed all validations.
  This reference ID will be needed to look up details of the purchase request.\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  URI to look up details of the newly created purchase request.\";}}}s:6:\"errors\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/error\";s:11:\"description\";s:66:\"An
  array of errors indicating which fields have failed validation.\";}}}s:5:\"error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"An
  error code indicating why a field failed validation.\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"A
  description of the error.\";}s:8:\"dataPath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  path to the request data which has the error message.\";}}}s:25:\"getPurchaseRequestCompact\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"purchaseRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"The
  unique purchase request reference Id. Returned by the Create Purchase Request API
  call.\";}s:21:\"purchaseRequestNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:120:\"The
  unique purchase request identifier which can be used to uniquely identify a purchase
  request in SAP Concur products.\";}s:26:\"purchaseRequestQueueStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"The
  creation status of the purchase request. Possible values are: PENDING_CREATION,
  CREATED, CREATE_FAILED.\";}s:29:\"purchaseRequestWorkflowStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:238:\"The
  workflow status of the purchase request. Possible values are: Approved, Pending
  Approval, Pending Cost Object Approval, Sent Back To Employee, Not Submitted, Submitted,
  Pending Processor Review, Vendor Approval, Approval Time Expired.\";}s:14:\"purchaseOrders\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/purchaseOrder\";s:11:\"description\";s:166:\"If
  the purchase request has been approved and a purchase order generated, this array
  contains the purchase order details. If empty, this element will not be returned.\";}s:25:\"purchaseRequestExceptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/purchaseRequestException\";s:11:\"description\";s:104:\"An
  array of exceptions, if present on the purchase request. If empty, this element
  will not be returned.\";}}}s:13:\"purchaseOrder\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"purchaseOrderNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  purchase order number.\";}}}s:24:\"purchaseRequestException\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"eventCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"The
  event code of the exception. Example: PURCH_DETAIL_SUBMIT.\";}s:13:\"exceptionCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  unique exception code.\";}s:9:\"isCleared\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Whether
  the exception has been cleared.\";}s:13:\"prExceptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  unique exception id of the purchase request.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  message of the exception with details.\";}}}}"
...
