---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Requests\";s:11:\"description\";s:211:\"Requests
  allow travelers to submit travel plans, expected expenses, and expected cash advance
  needs prior to spending funds. This API provides methods to view, create, update,
  submit, or recall requests owned by\";s:7:\"version\";s:3:\"3.0\";}"
host: www.concursolutions.com
basePath: /api/v3.0
paths:
  /travelrequest/requests/{id}:
    get:
      tags:
      - Resources
      summary: Get a Request by ID
      description: Returns a Request by ID.
      parameters:
      - name: id
        in: path
        description: The Request ID
        required: true
        type: string
      - name: user
        in: query
        description: The login ID of the user. Optional. The user must have the Web
          Services Admin (Professional) or Can Administer (Standard) user role to
          use this parameter.
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Request'
  /travelrequest/requests:
    get:
      tags:
      - Resources
      summary: Get all Requests
      description: Returns all Requests owned by the user.
      parameters:
      - name: offset
        in: query
        description: Starting page offset
        required: false
        type: string
      - name: limit
        in: query
        description: Number of records to return (default 100)
        required: false
        type: integer
        format: int32
      - name: user
        in: query
        description: The login ID of the user who owns this Request. The user must
          have the Web Services Admin (Professional) or Can Administer (Standard)
          user role to use this parameter.
        required: false
        type: string
      - name: status
        in: query
        description: The Status search term specifies which travel request or approval
          status to return. If no Status value is sent, the default Status of Active
          will be used.
        required: false
        type: string
      - name: modifiedAfter
        in: query
        description: 'This returns travel requests in which the associated dependents
          (header, entries, segments, allocations, attendees, comments ) were modified
          after the specified date and time. This search term can be used along with
          other search terms to narrow the results. The date and time (if desired)
          should be in UTC. The format is: YYYY-MM-DDThh:mm:ss.'
        required: false
        type: string
        format: date-time
      - name: modifiedBefore
        in: query
        description: 'This returns travel requests in which the associated dependents
          (header, entries, segments, allocations, attendees, comments ) were modified
          before the specified date and time.This search term can be used along with
          other search terms to narrow the results. The date and time (if desired)
          should be in UTC. The format is: YYYY-MM-DDThh:mm:ss.'
        required: false
        type: string
        format: date-time
      - name: withSegmentTypes
        in: query
        description: Pass true to populate the SegmentType field in the result.
        required: false
        type: boolean
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RequestCollection'
  /travelrequest/requests/{id}/submit:
    post:
      tags:
      - Resources
      summary: Submit a Request by ID
      description: Submit a Request by ID
      parameters:
      - name: id
        in: path
        description: The Request ID
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Void'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:10:\"Allocation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":21:{s:7:\"Custom1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom10\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom11\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom12\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom13\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom14\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom15\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom16\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom17\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom18\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom19\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom20\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom4\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom5\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom6\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom7\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom8\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom9\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:10:\"Percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  percentage of the expense that is included in this allocation.\";}}}s:11:\"CashAdvance\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:15:\"AmountRequested\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"The
  amount requested in the cash advance, in the currency specified in the CurrencyCode
  element.\";}s:18:\"ApprovalStatusName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  approval status of the cash advance.\";}s:8:\"Comments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:134:\"The
  <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO
  4217 currency code</a> for the cash advance currency.\";}s:12:\"CurrencyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  name of the currency for the cash advance.\";}s:20:\"EmployeeCurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:161:\"The
  <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO
  4217 currency code for the employee's currency, also known as the home currency.\";}s:20:\"EmployeeCurrencyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"The
  name of the employee's currency, also known as the home currency.\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  exchange rate that applies to the cash advance.\";}s:9:\"IssueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:36:\"The
  issue date for the cash advance.\";}s:11:\"RequestDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:81:\"The
  date of cash advance request, obtained from the detailed cash advance record.\";}s:15:\"StartingBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  initial balance for the cash advance.\";}}}s:7:\"Comment\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"AuthorFirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  first name of the person who made the comment.\";}s:14:\"AuthorLastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  last name of the person who made the comment.\";}s:15:\"CommentDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"The
  time, in GMT, when the user made the comment.\";}s:8:\"IsLatest\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"Indicates
  that the comment is the last one.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  text of the Request header comment.\";}}}s:11:\"CustomField\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"For
  list fields, this is the list item code.\";}s:10:\"ListItemID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"For
  list fields, this is the list item ID.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"The
  custom field type. Possible values: Amount, Boolean, ConnectedList, Date, Integer,
  List, Number, Text\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"The
  value in the Org Unit or Custom field. For list fields, this is the name of the
  list item.  Maximum length: 48 characters\";}}}s:4:\"Link\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  action that the user is allowed to perform on the resource.\";}s:6:\"Method\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"The
  method of the request. Possible values: GET, POST, PUT and DELETE.\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  URL of the resource that the user can access.\";}}}s:9:\"ListField\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  code of the list item.\";}s:10:\"ListItemID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  list item ID.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  name of the list item.\";}}}s:10:\"Nullable`1\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"HasValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"Indicates
  that the comment is the last one.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  name of the list item.\";}}}s:7:\"Request\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":54:{s:16:\"AgencyOfficeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  travel agency office name.\";}s:16:\"AllocationFormID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"The
  unique identifier of the Segment Form resource (See. the \"Forms\" resource for
  more information).\";}s:17:\"ApprovalLimitDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:109:\"The
  date by which the Request must be approved. This element appears only when integrated
  with Concur Travel.\";}s:18:\"ApprovalStatusCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  code for the approval status the Request.\";}s:18:\"ApprovalStatusName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  approval status of the Request.\";}s:14:\"AuthorizedDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:65:\"The
  date the Request was authorized. Format: YYYY-MM-DDThh:mm:ss.\";}s:12:\"CashAdvances\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CashAdvance\";}s:8:\"Comments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}s:12:\"CreationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:36:\"The
  date of the Request was created.\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:218:\"The
  <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO
  4217 currency code</a> for the Request currency. The Request currency is defined
  as the Request creator's default reimbursement currency.\";}s:12:\"CurrencyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  currency name for the Request currency. The Request currency is defined as the Request
  creator's default reimbursement currency.\";}s:7:\"Custom1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom10\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom11\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom12\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom13\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom14\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom15\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom16\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom17\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom18\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom19\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom20\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom4\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom5\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom6\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom7\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom8\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom9\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:12:\"EmployeeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"The
  first, middle (or middle initial), and last name of the employee who created the
  Request.\";}s:7:\"EndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  end date of the Request.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  end time for the Request.\";}s:7:\"Entries\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RequestEntry\";}s:12:\"EverSentBack\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"Indicates
  whether the Request has ever been sent back to the employee. Format: Y/N\";}s:10:\"Exceptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TRException\";}s:11:\"ExtensionOf\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"The
  ID of the initial Request that this Request is an extension of or adendum to.\";}s:12:\"HasException\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Indicates
  whether the Request has exceptions. Format: Y/N\";}s:12:\"HeaderFormID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  unique identifier of the Header Form resource (See. the \"Forms\" resource for more
  information).\";}s:16:\"LastModifiedDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:67:\"The
  date the Request was last modified. Format: YYYY-MM-DDThh:mm:ss\";}s:7:\"LoginID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  Concur login ID of the Request owner.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  name of the Request.\";}s:8:\"PolicyID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"The
  unique identifier of the policy that applies to this Request. Maximum length 64
  characters.\";}s:10:\"PolicyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  name of the policy that applies to this Request.\";}s:7:\"Purpose\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  purpose of the Request.\";}s:9:\"RequestID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  unique key for the Request.\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  start date of the Request.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  start time for the Request.\";}s:10:\"SubmitDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:64:\"The
  date the Request was submitted. Format: YYYY-MM-DDThh:mm:ss.\";}s:19:\"TotalApprovedAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  total amount of approved expenses in the Request.\";}s:17:\"TotalPostedAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  total amount of the Request.\";}s:20:\"TotalRemainingAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  total amount of expenses remaining in the Request.\";}s:15:\"UserPermissions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UserPermissions\";}}}s:17:\"RequestCollection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TravelRequestHeader\";}s:8:\"NextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}}}s:12:\"RequestEntry\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":63:{s:11:\"Allocations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Allocation\";}s:14:\"ApprovedAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  approved amount of the Request entry in the Request currency.\";}s:8:\"Comments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}s:7:\"Custom1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom10\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom11\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom12\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom13\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom14\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom15\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom16\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom17\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom18\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom19\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom20\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom21\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom22\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom23\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom24\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom25\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom26\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom27\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom28\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom29\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom30\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom31\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom32\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom33\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom34\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom35\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom36\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom37\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom38\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom39\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom4\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom40\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom5\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom6\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom7\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom8\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom9\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:16:\"EntryDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  description of the Request entry.\";}s:11:\"EntryFormID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"The
  unique identifier of the Entry Form resource (See. the \"Forms\" resource for more
  information).\";}s:10:\"Exceptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TRException\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  exchange rate that applies to the entry.\";}s:15:\"ExpenseTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  expense type name.\";}s:13:\"ForeignAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  foreign amount of the Request entry.\";}s:19:\"ForeignCurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:157:\"The
  <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO
  4217 currency code</a> for the foreign currency amount of the Request entry.\";}s:19:\"ForeignCurrencyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  name of the currency for the foreign amount.\";}s:16:\"LastModifiedDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:65:\"The
  date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss\";}s:8:\"OrgUnit1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"OrgUnit2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"OrgUnit3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"OrgUnit4\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"OrgUnit5\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"OrgUnit6\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:12:\"PostedAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  posted amount of the Request entry in the Request currency.\";}s:15:\"RemainingAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  remaining amount of the Request entry in the Request currency.\";}s:8:\"Segments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Segment\";}s:15:\"TransactionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:30:\"The
  date of the Request entry.\";}s:8:\"TripType\";O:8:\"stdClass\":2:{s:4:\"type\";s:8:\"triptype\";s:11:\"description\";s:95:\"
  Trip type of the air or rail segment. Possible values are: ONE_WAY, ROUND_TRIP and
  MULTI_STOP.\";}}}s:7:\"Segment\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":88:{s:14:\"ApprovedAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  approved amount of the segment in the Request currency.\";}s:11:\"ArrivalDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  arrival date of the segment.\";}s:11:\"ArrivalTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  arrival time of the segment.\";}s:5:\"Class\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ListField\";}s:18:\"ClassOfServiceCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"The
  Class of Service Code from Concur Travel. Appears only when the Request is integrated
  with Concur Travel.\";}s:8:\"Comments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}s:7:\"Custom1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom10\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom11\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom12\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom13\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom14\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom15\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom16\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom17\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom18\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom19\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom20\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom21\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom22\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom23\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom24\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom25\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom26\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom27\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom28\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom29\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom30\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom31\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom32\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom33\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom34\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom35\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom36\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom37\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom38\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom39\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom4\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom40\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom5\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom6\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom7\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom8\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom9\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:13:\"DepartureDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  departure date of the segment.\";}s:13:\"DepartureTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  departure time of the segment.\";}s:10:\"Exceptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TRException\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  exchange rate that applies to the segment.\";}s:12:\"FlightNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"The
  flight number for air segments. Appears only when Request is integrated with Concur
  Travel.\";}s:13:\"ForeignAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  foreign currency amount of the segment.\";}s:19:\"ForeignCurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:151:\"The
  <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO
  4217 currency code</a> for the foreign currency amount of the segment.\";}s:19:\"ForeignCurrencyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  name of the currency for the foreign amount of the segment.\";}s:12:\"FormTypeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  code for form type of the segment type.\";}s:23:\"FromLocationAirportName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  code for form type of the segment type.\";}s:16:\"FromLocationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  code for form type of the segment type.\";}s:23:\"FromLocationCountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  code for form type of the segment type.\";}s:18:\"FromLocationDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  code for the starting location.\";}s:20:\"FromLocationIataCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  code for the starting location.\";}s:14:\"FromLocationID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"The
  unique identifier of the departure location. (See. the \"Locations\" resource for
  more information).\";}s:21:\"FromLocationIsAirport\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"Indicates
  that the comment is the last one.\";}s:16:\"FromLocationName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name of the starting location.\";}s:26:\"FromLocationSubCountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name of the starting location.\";}s:18:\"FromLocationVendor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name of the starting location.\";}s:14:\"IsAgencyBooked\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"Indicates
  whether the air segment was agency booked. Format: Y/N.\";}s:12:\"IsSelfBooked\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Indicates
  whether the air segment was self booked. Format: Y/N.\";}s:16:\"LastModifiedDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:67:\"The
  date the segment was last modified. Format: YYYY-MM-DDThh:mm:ss\";}s:17:\"OutboundSegmentID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"undefined:ConnectSwaggerDocs-REQ_SEGMENT_OUTBOUND_ID\";}s:12:\"PostedAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  posted amount of the segment in the Request currency.\";}s:13:\"RecordLocator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Appears
  only when the Request is integrated with Concur Travel.\";}s:15:\"RemainingAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  remaining amount of the segment in the Request currency.\";}s:13:\"SegmentFormID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"The
  unique identifier of the Segment Form resource (See. the \"Forms\" resource for
  more information).\";}s:14:\"SegmentLocator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:145:\"The
  unique identifier for the Concur Travel segment associated with this segment. Appears
  only when the Request is integrated with Concur Travel.\";}s:11:\"SegmentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"The
  type of itinerary segment. Format: air, car, hotel, rail, dining, event, ground,
  taxi, parking, other and so on\";}s:15:\"SegmentTypeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  code for the type of itinerary segment.\";}s:21:\"ToLocationAirportName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  code for the type of itinerary segment.\";}s:14:\"ToLocationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  code for the type of itinerary segment.\";}s:21:\"ToLocationCountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  code for the type of itinerary segment.\";}s:16:\"ToLocationDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  code for the ending location.\";}s:18:\"ToLocationIataCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  code for the ending location.\";}s:12:\"ToLocationID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"The
  unique identifier of the arrival location. (See. the \"Locations\" resource for
  more information).\";}s:19:\"ToLocationIsAirport\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"Indicates
  that the comment is the last one.\";}s:14:\"ToLocationName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  name of the ending location.\";}s:24:\"ToLocationSubCountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  name of the ending location.\";}s:16:\"ToLocationVendor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  name of the ending location.\";}s:11:\"TripLocator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:142:\"The
  unique identifier for the Concur Travel trip associated with this segment. Appears
  only when the Request is integrated with Concur Travel.\";}s:10:\"VendorName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  name of the vendor of the segment.\";}}}s:19:\"TravelRequestHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":20:{s:18:\"ApprovalStatusCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  code for the approval status the Request.\";}s:18:\"ApprovalStatusName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  Request's approval status, in the user's language.\";}s:15:\"ApproverLoginID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  login ID of the approver for the user's Request.\";}s:12:\"CreationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:33:\"The
  creation date of the Request.\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:129:\"The
  <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO
  4217 currency code</a> for the Request currency.\";}s:12:\"EmployeeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  name of the Request owner.\";}s:7:\"EndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  end date of the Request.\";}s:12:\"HeaderFormID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  unique identifier of the Header Form resource (See. the \"Forms\" resource for more
  information).\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  unique identifier of the resource.\";}s:11:\"LastComment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  text of the most recent comment on the Request.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  name of the Request.\";}s:7:\"Purpose\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  purpose of the Request.\";}s:17:\"RequestDetailsUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  URI to use when posting Request header details to this Request.\";}s:9:\"RequestID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"The
  unique identifier for the Request, as it appears in the Concur UI.\";}s:12:\"SegmentTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"A
  comma separated list of the segment type names that are present in this Request.\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  start date of the Request.\";}s:19:\"TotalApprovedAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  total amount of the Request.\";}s:17:\"TotalPostedAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  posted amount of the Request entry in the Request currency.\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  URI to the resource.\";}s:11:\"UserLoginID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  login ID of the user this Request belongs to.\";}}}s:11:\"TRException\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"The
  system exception code defined for the exception. Example: BADCODE\";}s:5:\"Level\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"The
  numeric level associated with the exception. Example: 99\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  user-facing message defined for the exception.\";}}}s:15:\"UserPermissions\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}s:4:\"Void\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":0:{}}}"
...
