---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Allocations\";s:11:\"description\";s:310:\"Allocations
  divide the responsibility for an expense. Allocation entries consist of a percentage
  of the original expense, and the configured custom fields. Allocation entries are
  children of the expense entry. This API provides methods to view all allocations
  for a user or report, or view an allocation by ID.\";s:7:\"version\";s:3:\"3.0\";}"
host: www.concursolutions.com
basePath: /api/v3.0
paths:
  /expense/allocations:
    get:
      tags:
      - Resources
      summary: Get all allocations per entry or report
      description: Gets all allocations per entry or report.
      parameters:
      - name: limit
        in: query
        description: The number of records to return. The default is 25 and the maximum
          is 100.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: The starting point of the next set of results, after the limit
          specified in the limit field has been reached.
        required: false
        type: string
      - name: reportID
        in: query
        description: 'The unique identifier for the report as it appears in the Concur
          Expense UI. Format: A variable-length string. Maximum length: 32 characters.'
        required: false
        type: string
      - name: entryID
        in: query
        description: The unique identifier for the expense entry.
        required: false
        type: string
      - name: itemizationID
        in: query
        description: The unique identifier for the expense itemization.
        required: false
        type: string
      - name: user
        in: query
        description: The login ID of the user who owns the allocation. The user must
          have the Web Services Admin role to use this parameter.
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AllocationCollection'
  /expense/allocations/{id}:
    get:
      tags:
      - Resources
      summary: Get a single allocation by ID
      description: Gets a single allocation by ID.
      parameters:
      - name: id
        in: path
        description: The unique identifier for the allocation.
        required: true
        type: string
      - name: user
        in: query
        description: The login ID of the user who owns the allocation. The user must
          have the Web Services Admin role to use this parameter.
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AllocationGet'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:20:\"AllocationCollection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AllocationGet\";}s:8:\"NextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}}}s:13:\"AllocationGet\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":28:{s:12:\"AccountCode1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:148:\"The
  primary accounting code assigned to the expense type associated with this allocation.
  Typically, expense types have only a primary account code.\";}s:12:\"AccountCode2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"The
  secondary or alternative accounting code assigned to the expense type associated
  with this allocation.\";}s:7:\"Custom1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom10\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom11\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom12\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom13\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom14\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom15\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom16\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom17\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom18\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom19\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:7:\"Custom2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:8:\"Custom20\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:7:\"Custom3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:7:\"Custom4\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:7:\"Custom5\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:7:\"Custom6\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:7:\"Custom7\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:7:\"Custom8\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:7:\"Custom9\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CustomFieldExtension\";}s:7:\"EntryID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  unique identifier for the expense entry.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  unique identifier of the resource.\";}s:8:\"IsHidden\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:65:\"Indicates
  whether the allocation is hidden. Format: true or false\";}s:15:\"IsPercentEdited\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:71:\"Indicates
  whether the percentage has been edited. Format: true or false\";}s:10:\"Percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  percentage of the expense that is included in this allocation.\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  URI to the resource.\";}}}s:20:\"CustomFieldExtension\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"For
  list fields, this is the list item code.\";}s:5:\"Label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  label value for the custom field.\";}s:10:\"ListItemID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"For
  list fields, this is the list item ID.\";}s:8:\"Sequence\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:96:\"The
  sequence value for this custom field i.e. the order in which this field appears
  on the form.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"The
  custom field type. Possible values: Amount, Boolean, ConnectedList, Date, Integer,
  List, Number, Text\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"The
  value in the Org Unit or Custom field. For list fields, this is the name of the
  list item.  Maximum length: 48 characters\";}}}}"
...
