---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:28:\"Request Group Configurations\";s:11:\"description\";s:284:\"Requests
  allow travelers to submit travel plans, expected expenses, and expected cash advance
  needs prior to spending funds. Request policies define the required information
  and workflow for the requests. This API provides the details of the Request policies
  for the supplied user ID.\";s:7:\"version\";s:3:\"3.1\";}"
host: www.concursolutions.com
basePath: /api/v3.1
paths:
  /travelrequest/requestgroupconfigurations:
    get:
      tags:
      - Resources
      summary: Get all Request group configurations.
      description: Get a Request group configuration owned by the user based on the
        search criteria.
      parameters:
      - name: user
        in: query
        description: The login ID of the user. Optional. The user must have the Web
          Services Admin (Professional) or Can Administer (Standard) user role to
          use this parameter.
        required: false
        type: string
      - name: offset
        in: query
        description: Starting page offset
        required: false
        type: string
      - name: limit
        in: query
        description: Determines the number of records to return (default 10)
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RequestGroupConfigurationCollection'
  /travelrequest/requestgroupconfigurations/{id}: []
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:12:\"AgencyOffice\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  ID of the travel agency office.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  travel agency office name.\";}}}s:6:\"Policy\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"HeaderFormID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  unique identifier of the Header Form resource (See. the \"Forms\" resource for more
  information).\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  unique identifier of the resource.\";}s:9:\"IsDefault\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:67:\"Indicates
  whether this policy is the default. Format: true or false\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  name of the policy.\";}s:10:\"NoCreation\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:100:\"Indicates
  whether this policy allows the creation of new Requests by the user. Format: true
  or false\";}s:12:\"SegmentTypes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SegmentType\";}}}s:25:\"RequestGroupConfiguration\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"AgencyOffices\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AgencyOffice\";}s:15:\"DefaultPolicyID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"The
  unique identifier of the first policy which allows creation of new Request.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  unique identifier of the resource.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  name of the Request group Configuration.\";}s:8:\"Policies\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";}s:12:\"RequestTypes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RequestType\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  URI to the resource.\";}}}s:35:\"RequestGroupConfigurationCollection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RequestGroupConfiguration\";}s:8:\"NextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}}}s:11:\"RequestType\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  Request type code.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  Request type name.\";}}}s:11:\"SegmentType\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"DisplayOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:63:\"The
  display order of the icon associated with the segment type.\";}s:8:\"IconCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  code for the icon associated with the segment type.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  unique identifier of the resource.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  name of the segment type.\";}s:19:\"SegmentCustomFormID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:129:\"The
  unique identifier of the Segment Form resource which contains custom fields (See.
  the \"Forms\" resource for more information).\";}s:13:\"SegmentFormID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"The
  unique identifier of the Segment Form resource (See. the \"Forms\" resource for
  more information).\";}s:15:\"SegmentTypeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  code for the type of itinerary segment.\";}}}}"
...
