---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:7:\"Entries\";s:11:\"description\";s:0:\"\";s:7:\"version\";s:3:\"3.0\";}"
host: www.concursolutions.com
basePath: /api/v3.0
paths:
  /expense/entries:
    get:
      tags:
      - Resources
      summary: Get all expense entries
      description: Gets all expense entries owned by the user.
      parameters:
      - name: reportID
        in: query
        description: 'The report ID of the entries to be retrieved.  Format: An alpha-numeric
          GUID string.'
        required: false
        type: string
      - name: paymentTypeID
        in: query
        description: The ID of the payment type of the entries to be retrieved.
        required: false
        type: string
      - name: batchID
        in: query
        description: The batch ID for the entries to be retrieved. The batch ID identifies
          the batch that contains the report payee associated with the entries. Use
          the GET Payment Batch function to learn the Payment Type ID for the desired
          Payment Type.
        required: false
        type: string
      - name: isBillable
        in: query
        description: 'Determines whether the operation retrieves entries that are
          billable. Format: true or false'
        required: false
        type: boolean
      - name: attendeeTypeCode
        in: query
        description: The ID of the attendee type for the entries to be retrieved.
        required: false
        type: string
      - name: hasAttendees
        in: query
        description: 'Determines whether the operation retrieves entries that have
          attendees. Format: true or false'
        required: false
        type: boolean
      - name: hasVAT
        in: query
        description: 'Determines whether the operation retrieves entries that have
          VAT details. Format: true or false'
        required: false
        type: boolean
      - name: expenseTypeCode
        in: query
        description: The code for the expense type for the entries to be retrieved.
        required: false
        type: string
      - name: attendeeID
        in: query
        description: The attendee associated with the entries to be retrieved.
        required: false
        type: string
      - name: offset
        in: query
        description: The starting point of the next set of results, after the limit
          specified in the limit field has been reached.
        required: false
        type: string
      - name: limit
        in: query
        description: 'The number of records to return. Default value: 25'
        required: false
        type: integer
        format: int32
      - name: user
        in: query
        description: The login ID of the user who owns the entries. The user must
          have the Web Services Admin role to use this parameter.
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/EntryCollection'
    post:
      tags:
      - Resources
      summary: Create a new expense entry
      description: Creates a new expense entry.
      parameters:
      - name: content
        in: body
        description: The expense entry object to create.
        required: true
        schema:
          $ref: '#/definitions/EntryPost'
      - name: user
        in: query
        description: The login ID of the user who owns the entries. The user must
          have the Web Services Admin role to use this parameter.
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateResponse'
  /expense/entries/{id}:
    get:
      tags:
      - Resources
      summary: Get a single expense entry by ID
      description: Gets an expense entry by ID.
      parameters:
      - name: id
        in: path
        description: The expense entry ID.
        required: true
        type: string
      - name: user
        in: query
        description: The login ID of the user who owns the entries. The user must
          have the Web Services Admin role to use this parameter.
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/EntryGet'
    put:
      tags:
      - Resources
      summary: Update an expense entry by ID
      description: Updates the specified expense entry. Only the fields provided in
        the supplied object are updated. Missing fields will not be altered.
      parameters:
      - name: id
        in: path
        description: The expense entry ID.
        required: true
        type: string
      - name: content
        in: body
        description: The partial or complete expense entry object to update.
        required: true
        schema:
          $ref: '#/definitions/EntryPut'
      - name: user
        in: query
        description: The login ID of the user who owns the entries. The user must
          have the Web Services Admin role to use this parameter.
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Void'
    delete:
      tags:
      - Resources
      summary: Delete an expense entry by ID
      description: Deletes the specified expense entry.
      parameters:
      - name: id
        in: path
        description: The ID of the expense entry to delete.
        required: true
        type: string
      - name: user
        in: query
        description: The login ID of the user who owns the entries. The user must
          have the Web Services Admin role to use this parameter.
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Void'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:14:\"CreateResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"URI\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"CustomField\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"For
  list fields, this is the list item code.\";}s:10:\"ListItemID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"For
  list fields, this is the list item ID.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"The
  custom field type. Possible values: Amount, Boolean, ConnectedList, Date, Integer,
  List, Number, Text\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"The
  value in the Org Unit or Custom field. For list fields, this is the name of the
  list item.  Maximum length: 48 characters\";}}}s:7:\"Decimal\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":0:{}}s:15:\"EntryCollection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/EntryGet\";}s:8:\"NextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}}}s:8:\"EntryGet\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":92:{s:14:\"AllocationType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:121:\"The
  type of allocations for the expense. Possible values: P - partial allocation, F
  - full allocation, N - no allocation.\";}s:14:\"ApprovedAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:65:\"The
  approved amount of the expense entry, in the report currency.\";}s:24:\"CompanyCardTransactionID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:363:\"The
  unique identifier for a company card transaction that is associated with this expense.
  Concur Expense uses the Credit Card Import job to import company card transactions.
  Use the GET CommpanyCardTransactions function to get information about these card
  transactions. This element is null when there is no company card transaction associated
  with this expense.\";}s:7:\"Custom1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom10\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom11\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom12\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom13\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom14\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom15\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom16\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom17\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom18\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom19\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom20\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom21\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom22\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom23\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom24\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom25\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom26\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom27\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom28\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom29\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom30\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom31\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom32\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom33\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom34\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom35\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom36\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom37\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom38\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom39\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom4\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"Custom40\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom5\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom6\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom7\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom8\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:7:\"Custom9\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  description of the expense. Maximum length: 64 characters\";}s:19:\"ElectronicReceiptID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:223:\"The
  unique identifier for an eReceipt that is associated with this expense. Use the
  GET eReceipts function to get information about this eReceipt. This element is null
  when there is no eReceipt associated with this expense.\";}s:21:\"EmployeeBankAccountID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:256:\"The
  unique identifier of an employee bank account that is associated with this expense.
  Typically, this element is used when Expense Pay reimburses the employee for this
  expense. Use the GET BankAccounts function to get information about this bank account.\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:498:\"The
  currency conversion rate that converts the transaction amount that is in the transaction
  currency into the posted amount that is in the report currency. This element is
  typically not provided. If this element is empty for transactions in a currency
  different than the user's reimbursement currency, Expense will use the company's
  configured exchange rates to determine the posted amount for the transaction. If
  the system is not able to determine the exchange rate, a value of 1.0 will be used.\";}s:15:\"ExpenseTypeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  code for the expense type.\";}s:15:\"ExpenseTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  name of the expense type, localized to the user's language.\";}s:6:\"FormID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  ID of the form used by this expense entry.\";}s:21:\"HasAppliedCashAdvance\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:73:\"Whether
  the entry has a cash advance applied to it. Format: true or false\";}s:12:\"HasAttendees\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:66:\"Indicates
  whether the expense has attendees. Format: true or false\";}s:11:\"HasComments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:145:\"Whether
  the expense has comments. Use the GET ExpenseEntryComments function to get information
  about this entry's comments. Format: true or false\";}s:13:\"HasExceptions\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:151:\"Whether
  the expense has exceptions. Use the GET ExpenseEntryExceptions function to get information
  about this entry's exceptions. Format: true or false\";}s:8:\"HasImage\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:145:\"Indicates
  whether there is an entry image attached to the entry. Use the GET Entry Images
  function to get this entry image. Format: true or false\";}s:15:\"HasItemizations\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:77:\"Indicates
  whether the expense has itemizations. Use the Format: true or false\";}s:6:\"HasVAT\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:63:\"Indicates
  whether the entry has VAT data. Format: true or false\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  unique identifier of the resource.\";}s:10:\"IsBillable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:64:\"Indicates
  whether the expense is billable. Format: true or false\";}s:15:\"IsImageRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"Indicates
  whether an entry image is required for the entry. Format: true or false\";}s:18:\"IsPaidByExpensePay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:254:\"Whether
  the entry is paid using the Expense Pay service. This element has a value if the
  report has reached the Processing Payment workflow step, because this is when Concur
  Expense determines whether it will be paid by Expense Pay. Format: true or false\";}s:10:\"IsPersonal\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:92:\"Indicates
  whether the expense is personal (that is, non-reimbursable). Format: true or false\";}s:20:\"IsPersonalCardCharge\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:167:\"Indicates
  whether the expense entry was imported from a personal card feed. Concur Expense
  uses the Yodlee API to import these card transactions. Format: true or false\";}s:7:\"Journey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Journey\";}s:12:\"LastModified\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"The
  UTC date when the entry was last modified.\";}s:15:\"LocationCountry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"The
  country where the expense was incurred. Format: 2-letter ISO 3166-1 country code\";}s:10:\"LocationID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"The
  unique identifier for the location where the expense was incurred.\";}s:12:\"LocationName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  location where the expense was incurred, usually the city name.\";}s:19:\"LocationSubdivision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"The
  state, province, or other country subdivision where the expense was incurred. Format:
  ISO 3166-2:2007 country subdivision\";}s:8:\"OrgUnit1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"OrgUnit2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"OrgUnit3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"OrgUnit4\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"OrgUnit5\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:8:\"OrgUnit6\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:13:\"PaymentTypeID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:379:\"The
  ID of the payment type for the entry. For mileage expenses, use the Cash payment
  type. For expense types with an expense code that uses a transaction amount instead
  of a distance, this element is required. This element should not be used for expense
  types with an expense code for Company Car or Personal Car, because these two expense
  codes always use the Cash payment type.\";}s:15:\"PaymentTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  name of the payment type, localized to the user's language.\";}s:12:\"PostedAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:56:\"The
  amount of the expense entry, in the report currency.\";}s:15:\"ReceiptReceived\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:84:\"Indicates
  whether this entry has been reviewed by a processor. Format: true or false\";}s:8:\"ReportID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  report ID of the report where the entry will be added.\";}s:13:\"ReportOwnerID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"The
  login ID of the report owner. Use the GET User Information function to learn details
  about this user.\";}s:17:\"SpendCategoryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  ID of the spending category that is specified for this expense entry.\";}s:17:\"SpendCategoryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"The
  name of the spending category that is specified for this expense entry, localized
  to the user's language.\";}s:14:\"TaxReceiptType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"The
  receipt type for this entry. Possible values: T - tax receipt, R - regular receipt,
  N - no receipt\";}s:17:\"TransactionAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:383:\"The
  amount of the expense entry, in the transaction currency paid to the vendor.\tFor
  expense types with an expense code that uses a transaction amount instead of a distance,
  this element is required. This element should not be used for expense types with
  an expense code for Company Car or Personal Car, because these two expense codes
  use a distance instead of a transaction amount.\";}s:23:\"TransactionCurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:431:\"The
  3-letter ISO 4217 currency code for the expense entry transaction amount. This is
  the currency in which the vendor was paid. For expense types with an expense code
  that uses a transaction amount instead of a distance, this element is required.
  This element should not be used for expense types with an expense code for Company
  Car or Personal Car, because for these two expense codes the currency is always
  the Report Currency.\";}s:15:\"TransactionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:101:\"The
  date when the good or service associated with this expense entry was provided. Format:
  YYYY-MM-DD\";}s:6:\"TripID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:273:\"The
  unique identifier of a trip in the Itinerary Service that includes a travel booking
  associated with this expense. Use GET ItineraryDetails to get information about
  this trip and the travel booking. This element is null when there is no trip associated
  with the expense.\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  URI to the resource.\";}s:17:\"VendorDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"The
  name of the vendor for the expense entry. Maximum length: 64 characters\";}s:16:\"VendorListItemID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  unique identifier for a vendor list item.\";}s:18:\"VendorListItemName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  name of an item from a vendor list.\";}}}s:9:\"EntryPost\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":62:{s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"A
  comment that describes the expense entry. Maximum length: 500 characters\";}s:7:\"Custom1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom11\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom12\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom13\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom14\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom15\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom16\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom17\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom18\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom19\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom20\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom21\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom22\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom23\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom24\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom25\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom26\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom27\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom28\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom29\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom30\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom31\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom32\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom33\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom34\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom35\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom36\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom37\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom38\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom39\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom40\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  description of the expense. Maximum length: 64 characters\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:498:\"The
  currency conversion rate that converts the transaction amount that is in the transaction
  currency into the posted amount that is in the report currency. This element is
  typically not provided. If this element is empty for transactions in a currency
  different than the user's reimbursement currency, Expense will use the company's
  configured exchange rates to determine the posted amount for the transaction. If
  the system is not able to determine the exchange rate, a value of 1.0 will be used.\";}s:15:\"ExpenseTypeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:298:\"The
  code for the expense type. Use <a target=\"_blank\" https://www.concursolutions.com/api/docs/index.html#!/ExpenseGroupConfigurations/Get_user_offset_limit_get_0\">GET
  /expense/expensegroupconfigurations</a> to learn the expense type code for expense
  types that are active for this report's policy.\";}s:10:\"IsBillable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:64:\"Indicates
  whether the expense is billable. Format: true or false\";}s:10:\"IsPersonal\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:92:\"Indicates
  whether the expense is personal (that is, non-reimbursable). Format: true or false\";}s:7:\"Journey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Journey\";}s:10:\"LocationID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:316:\"The
  unique identifier for the location where the expense was incurred. Use the <a target=\"_blank\"
  https://www.concursolutions.com/api/docs/index.html#!/Locations/Get_offset_limit_name_city_countrySubdivision_country_administrativeRegion_get_0\">GET
  /common/locations</a> function to get information for this location.\";}s:8:\"OrgUnit1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"OrgUnit2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"OrgUnit3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"OrgUnit4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"OrgUnit5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"OrgUnit6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:13:\"PaymentTypeID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:379:\"The
  ID of the payment type for the entry. For mileage expenses, use the Cash payment
  type. For expense types with an expense code that uses a transaction amount instead
  of a distance, this element is required. This element should not be used for expense
  types with an expense code for Company Car or Personal Car, because these two expense
  codes always use the Cash payment type.\";}s:8:\"ReportID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  report ID of the report where the entry will be added.\";}s:14:\"TaxReceiptType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"The
  receipt type for this entry. Possible values: T - tax receipt, R - regular receipt,
  N - no receipt\";}s:17:\"TransactionAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:383:\"The
  amount of the expense entry, in the transaction currency paid to the vendor.\tFor
  expense types with an expense code that uses a transaction amount instead of a distance,
  this element is required. This element should not be used for expense types with
  an expense code for Company Car or Personal Car, because these two expense codes
  use a distance instead of a transaction amount.\";}s:23:\"TransactionCurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:431:\"The
  3-letter ISO 4217 currency code for the expense entry transaction amount. This is
  the currency in which the vendor was paid. For expense types with an expense code
  that uses a transaction amount instead of a distance, this element is required.
  This element should not be used for expense types with an expense code for Company
  Car or Personal Car, because for these two expense codes the currency is always
  the Report Currency.\";}s:15:\"TransactionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:101:\"The
  date when the good or service associated with this expense entry was provided. Format:
  YYYY-MM-DD\";}s:17:\"VendorDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"The
  name of the vendor for the expense entry. Maximum length: 64 characters\";}s:16:\"VendorListItemID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  unique identifier for a vendor list item.\";}}}s:8:\"EntryPut\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":62:{s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"A
  comment that describes the expense entry. Maximum length: 500 characters\";}s:7:\"Custom1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom11\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom12\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom13\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom14\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom15\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom16\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom17\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom18\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom19\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom20\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom21\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom22\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom23\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom24\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom25\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom26\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom27\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom28\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom29\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom30\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom31\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom32\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom33\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom34\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom35\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom36\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom37\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom38\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom39\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"Custom40\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:7:\"Custom9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  details from the Custom fields. These fields may not have data, depending on the
  configuration.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  description of the expense. Maximum length: 64 characters\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:498:\"The
  currency conversion rate that converts the transaction amount that is in the transaction
  currency into the posted amount that is in the report currency. This element is
  typically not provided. If this element is empty for transactions in a currency
  different than the user's reimbursement currency, Expense will use the company's
  configured exchange rates to determine the posted amount for the transaction. If
  the system is not able to determine the exchange rate, a value of 1.0 will be used.\";}s:15:\"ExpenseTypeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  code for the expense type.\";}s:10:\"IsBillable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:64:\"Indicates
  whether the expense is billable. Format: true or false\";}s:10:\"IsPersonal\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:92:\"Indicates
  whether the expense is personal (that is, non-reimbursable). Format: true or false\";}s:7:\"Journey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Journey\";}s:10:\"LocationID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"The
  unique identifier for the location where the expense was incurred.\";}s:8:\"OrgUnit1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"OrgUnit2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"OrgUnit3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"OrgUnit4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"OrgUnit5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:8:\"OrgUnit6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  details from the Org Unit fields. These fields may not have data, depending on the
  configuration.\";}s:13:\"PaymentTypeID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:380:\"The
  ID of the payment type for the entry.  For mileage expenses, use the Cash payment
  type. For expense types with an expense code that uses a transaction amount instead
  of a distance, this element is required. This element should not be used for expense
  types with an expense code for Company Car or Personal Car, because these two expense
  codes always use the Cash payment type.\";}s:8:\"ReportID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  report ID of the report where the entry will be added.\";}s:14:\"TaxReceiptType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"The
  receipt type for this entry. Possible values: T - tax receipt, R - regular receipt,
  N - no receipt\";}s:17:\"TransactionAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:383:\"The
  amount of the expense entry, in the transaction currency paid to the vendor.\tFor
  expense types with an expense code that uses a transaction amount instead of a distance,
  this element is required. This element should not be used for expense types with
  an expense code for Company Car or Personal Car, because these two expense codes
  use a distance instead of a transaction amount.\";}s:23:\"TransactionCurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:431:\"The
  3-letter ISO 4217 currency code for the expense entry transaction amount. This is
  the currency in which the vendor was paid. For expense types with an expense code
  that uses a transaction amount instead of a distance, this element is required.
  This element should not be used for expense types with an expense code for Company
  Car or Personal Car, because for these two expense codes the currency is always
  the Report Currency.\";}s:15:\"TransactionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:101:\"The
  date when the good or service associated with this expense entry was provided. Format:
  YYYY-MM-DD\";}s:17:\"VendorDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"The
  name of the vendor for the expense entry. Maximum length: 64 characters\";}s:16:\"VendorListItemID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  unique identifier for a vendor list item.\";}}}s:7:\"Journey\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"BusinessDistance\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:433:\"The
  portion of the journey for business use, in the report owner's unit of measure for
  distances. This element is required in order to post a personal car mileage expense
  entry, or to post a company car mileage expense when there is no PersonalDistance
  value. Format: positive integer. When using the Odometer elements, the sum of PersonalDistance
  and BusinessDistance must equal the difference between OdometerEnd and OdometerStart.\";}s:11:\"EndLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Indicates
  where the journey ended. This is also known as the \"To Location\". Maximum length:
  100 characters\";}s:18:\"NumberOfPassengers\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:123:\"The
  number of people in the vehicle during the journey. Positive Integer. Used with
  Variable-Rate, Personal or Company Car.\";}s:11:\"OdometerEnd\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:200:\"The
  odometer reading at the end of the journey. Format: positive integer that must be
  greater than the OdometerStart value. This element is used with Variable-Rate and
  Company Car configuration types.\";}s:13:\"OdometerStart\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:152:\"The
  odometer reading at the start of the journey. Format: positive integer. This element
  is used with Variable-Rate and Company Car configuration types.\";}s:16:\"PersonalDistance\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:374:\"The
  portion of the journey for personal use. This element is required in order to post
  a company car mileage expense when there is no BusinessDistance value. Format: positive
  integer. When using the Odometer elements, the sum of PersonalDistance and BusinessDistance
  must equal the difference between OdometerEnd and OdometerStart. Used with Company
  Car configuration types.\";}s:13:\"StartLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"Indicates
  where the journey started. This is also known as the \"From Location\". Maximum
  length: 100 characters\";}s:13:\"UnitOfMeasure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"The
  unit of measure for distance and odometer values. Possible values: M - miles, K
  - kilometers\";}s:9:\"VehicleID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:179:\"The
  unique identifier for the vehicle used for this journey. This element is used only
  with Company Car configuration types. Use the GET Vehicles function to learn the
  Vehicle ID.\";}}}s:10:\"Nullable`1\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"HasValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:92:\"Indicates
  whether the expense is personal (that is, non-reimbursable). Format: true or false\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Decimal\";}}}s:4:\"Void\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":0:{}}}"
...
