---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:9:\"Copyright\";s:11:\"description\";s:4865:\"Copyright
  (c) 2014-2016 Telefonica Investigacion y Desarrollo\n\n## License\n\nThis specification
  is licensed under the\n[FIWARE Open Specification License (implicit patent license)](https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Implicit_Patents_License).\n\n#
  IoT Agent Provision API Documentacion\n\nAn [IoT Agent](https://github.com/telefonicaid/fiware-IoTAgent-Cplusplus)
  is a component that mediates between a set of Devices using their own native protocols
  and a NGSI compliant Context Provider (i.e. Fiware Context Broker).\nThis documentation
  covers the IoT Agent Provision API and the resources you can manipulate on an IoT
  Agent in order to publish custom information in IoT Platform. The IoT Agent Provision
  API is based on REST principles.\n\n|Allowed HTTPs requests      |                                         |\n|:---------------------------|:----------------------------------------|\n|POST:
  \                      |Creates a resource or list of resources  |\n|PUT:                        |Updates
  a resource                       |\n|GET:                        |Retrieves a resource
  or list of resources|\n|DELETE:                     |Delete a resource                        |\n\n|Server
  Responses            |                                                                                                   |\n|:---------------------------|:--------------------------------------------------------------------------------------------------|\n|200
  OK                      |The request was succesful (some API calls may return 201
  instead)                                  |\n|201 Created                 |The request
  was succesful and a resource or list of resources was created                          |\n|204
  No Content              |The request was succesful but there is no representation
  to return (that is, the response is empty)|\n|400 Bad Request             |The request
  could not be understood or was missing required parameters                             |\n|401
  Unauthorized            |Authentication failed                                                                              |\n|403
  Forbidden               |Access denied                                                                                      |\n|404
  Not Found               |Resource was not found                                                                             |\n|409
  Conflict                |A resource cannot be created because it already exists
  \                                            |\n|500 Internal Server Error   |Generic
  error when server has a malfunction. This error will be removed                            |\n\nResponses
  related with authentication and authorization depends on this feature is configured
  and a Keystone OpenStack sytem is present.\n\nWhen an error is returned, a representation
  is returned as:\n\n```\n{\n  \"reason\": \"contains why an error is returned\",\n
  \ \"details\": \"contains specific information about the error, if possible\"\n}\n```\n\n##
  Authentication and Authorization\n\nIf the IoT Agent is in authenticated environment,
  this API requires a token, which you obtain from authentication system. This system
  and its API is out of scope of present documentation. In this environment, a mandatory
  header is needed: `X-Auth-Token`.\n\n## Mandatory HTTP Headers\n\nThe API needs
  two headers in order to manage requests:\n\n|Http Header                 |Level
  \                                                                                                                        |If
  not present                       |Observations                                                                                                                                |\n|:---------------------------|:-----------------------------------------------------------------------------------------------------------------------------|:------------------------------------|:-------------------------------------------------------------------------------------------------------------------------------------------|\n|<b>Fiware-Service</b>
  \      |Represents a tenant. Higher level in resources hierachy in IoT Platform
  \                                                      |An error is returned                 |Must
  only contain less than 50 Underscores and Alphanumeric lowercase characters                                                            |\n|<b>Fiware-ServicePath</b>
  \  |Represents the second level                                                                                                   |We
  assume '/'. Allowed operation '/*'|Must only contain less than 50 Underscores and
  Alphanumeric characters. Must start with character '/'. Max. length is 51 characters
  (with /)|\n\n## API Access\n\nAll API base URLs are relative and depend on where
  the IoT Agent is listening (depends on each service).\nFor example, `http://127.0.0.1:8080/iot/`.\";s:7:\"contact\";O:8:\"stdClass\":0:{}}"
host: idas.lab.fiware.org
basePath: /
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":8:{s:24:\"Retrieveaserviceresponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:24:\"Retrieveaserviceresponse\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"count\";i:1;s:8:\"services\";a:1:{i:0;O:8:\"stdClass\":7:{s:6:\"apikey\";s:7:\"apikey3\";s:7:\"service\";s:8:\"service2\";s:12:\"service_path\";s:9:\"/srvpath2\";s:5:\"token\";s:6:\"token2\";s:7:\"cbroker\";s:21:\"http://127.0.0.1:1026\";s:11:\"entity_type\";s:5:\"thing\";s:8:\"resource\";s:6:\"/iot/d\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:8:\"services\";}}s:21:\"Createaservicerequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:21:\"Createaservicerequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"services\";a:1:{i:0;O:8:\"stdClass\":5:{s:6:\"apikey\";s:7:\"apikey3\";s:5:\"token\";s:6:\"token2\";s:7:\"cbroker\";s:21:\"http://127.0.0.1:1026\";s:11:\"entity_type\";s:5:\"thing\";s:8:\"resource\";s:6:\"/iot/d\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:1:{i:0;s:8:\"services\";}}s:32:\"Updateaservice/subservicerequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:32:\"Updateaservice/subservicerequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"entity_type\";s:11:\"entity_type\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"entity_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"entity_type\";}}s:26:\"Retrievealldevicesresponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:26:\"Retrievealldevicesresponse\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"count\";i:1;s:7:\"devices\";a:1:{i:0;O:8:\"stdClass\":7:{s:9:\"device_id\";s:9:\"device_id\";s:8:\"protocol\";s:5:\"12345\";s:11:\"entity_name\";s:11:\"entity_name\";s:11:\"entity_type\";s:11:\"entity_type\";s:8:\"timezone\";s:16:\"America/Santiago\";s:10:\"attributes\";a:1:{i:0;O:8:\"stdClass\":3:{s:9:\"object_id\";s:11:\"source_data\";s:4:\"name\";s:9:\"attr_name\";s:4:\"type\";s:3:\"int\";}}s:17:\"static_attributes\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"att_name\";s:4:\"type\";s:6:\"string\";s:5:\"value\";s:5:\"value\";}}}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"devices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:7:\"devices\";}}s:20:\"Createadevicerequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:20:\"Createadevicerequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"devices\";a:1:{i:0;O:8:\"stdClass\":7:{s:9:\"device_id\";s:9:\"device_id\";s:8:\"protocol\";s:5:\"12345\";s:11:\"entity_name\";s:11:\"entity_name\";s:11:\"entity_type\";s:11:\"entity_type\";s:8:\"timezone\";s:16:\"America/Santiago\";s:10:\"attributes\";a:1:{i:0;O:8:\"stdClass\":3:{s:9:\"object_id\";s:11:\"source_data\";s:4:\"name\";s:9:\"attr_name\";s:4:\"type\";s:3:\"int\";}}s:17:\"static_attributes\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"att_name\";s:4:\"type\";s:6:\"string\";s:5:\"value\";s:5:\"value\";}}}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"devices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:1:{i:0;s:7:\"devices\";}}s:24:\"Createadevice400response\";O:8:\"stdClass\":5:{s:5:\"title\";s:24:\"Createadevice400response\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"reason\";s:34:\"parameter
  limit must be an integer\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"reason\";}}s:23:\"Retrieveadeviceresponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:23:\"Retrieveadeviceresponse\";s:7:\"example\";O:8:\"stdClass\":7:{s:9:\"device_id\";s:9:\"device_id\";s:8:\"protocol\";s:6:\"121345\";s:11:\"entity_name\";s:11:\"entity_name\";s:11:\"entity_type\";s:11:\"entity_type\";s:8:\"timezone\";s:16:\"America/Santiago\";s:10:\"attributes\";a:1:{i:0;O:8:\"stdClass\":3:{s:9:\"object_id\";s:11:\"source_data\";s:4:\"name\";s:9:\"attr_name\";s:4:\"type\";s:3:\"int\";}}s:17:\"static_attributes\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"att_name\";s:4:\"type\";s:6:\"string\";s:5:\"value\";s:5:\"value\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"device_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"entity_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"entity_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:17:\"static_attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:7:{i:0;s:9:\"device_id\";i:1;s:8:\"protocol\";i:2;s:11:\"entity_name\";i:3;s:11:\"entity_type\";i:4;s:8:\"timezone\";i:5;s:10:\"attributes\";i:6;s:17:\"static_attributes\";}}s:20:\"Updateadevicerequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:20:\"Updateadevicerequest\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"entity_name\";s:11:\"entity_name\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"entity_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"entity_name\";}}}"
...
