---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:21:\"Lumen with OAUTH2 API\";s:11:\"description\";s:0:\"\";s:14:\"termsOfService\";s:0:\"\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:0:\"\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"Private
  License\";s:3:\"url\";s:18:\"URL to the license\";}s:7:\"version\";s:5:\"1.0.1\";}"
host: api.mmilko.git
basePath: /api/v1/
paths:
  /contracts:
    get:
      tags:
      - contracts
      summary: List Contracts
      description: This can only be done by the logged in user.
      operationId: createUser
      produces:
      - application/xml
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        type: string
      responses:
        200:
          description: successful operation
      security:
      - Bearer: []
    post:
      tags:
      - contracts
      summary: Store new Contract
      description: This can only be done by the logged in user.
      operationId: getContract
      produces:
      - application/xml
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        type: string
      - name: contract
        in: body
        required: true
        schema:
          required:
          - name
          properties:
            name:
              type: string
            products:
              type: array
              items:
                properties:
                  id:
                    type: integer
                type: object
            user_summary:
              title: UserSummary
              properties:
                user_id:
                  type: integer
      responses:
        201:
          description: successful create
      security:
      - Bearer: []
    delete:
      tags:
      - contracts
      summary: Delete Specified Contract
      description: This can only be done by the logged in user.
      operationId: getContract
      produces:
      - application/xml
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        type: string
      - name: ids
        in: path
        required: true
        type: string
      responses:
        default:
          description: successful operation
      security:
      - Bearer: []
  /contracts/{id}:
    get:
      tags:
      - contracts
      summary: Show Specified Contract
      description: This can only be done by the logged in user.
      operationId: getContract
      produces:
      - application/xml
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        type: string
      - name: id
        in: path
        required: true
        type: integer
      responses:
        default:
          description: successful operation
      security:
      - Bearer: []
    put:
      tags:
      - contracts
      summary: Delete Specified Contract
      description: This can only be done by the logged in user.
      operationId: getContract
      produces:
      - application/xml
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        type: string
      - name: id
        in: path
        required: true
        type: integer
      - name: contract
        in: body
        required: true
        schema:
          required:
          - name
          properties:
            name:
              type: string
            products:
              type: array
              items:
                properties:
                  id:
                    type: integer
                type: object
            user_summary:
              title: UserSummary
              properties:
                user_id:
                  type: integer
      responses:
        default:
          description: successful operation
      security:
      - Bearer: []
  /policies:
    get:
      tags:
      - policies
      summary: List Policies
      description: This can only be done by the logged in user.
      operationId: listPolicies
      produces:
      - application/xml
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        type: string
      responses:
        200:
          description: successful operation
      security:
      - Bearer: []
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
