---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:31:\"API
  for AWS Elemental MediaLive\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:23:\"AWS
  Elemental MediaLive\";s:7:\"version\";s:10:\"2017-10-14\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:93:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/medialive-2017-10-14.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:9:\"medialive\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"amazonaws_medialive\";s:4:\"type\";s:7:\"openapi\";}}"
host: medialive.amazonaws.com
basePath: /
paths:
  /prod/channels:
    get:
      description: Produces list of channels that have been created
      operationId: ListChannels
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListChannelsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListChannelsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new channel
      operationId: CreateChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateChannelRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreateChannelResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        487:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /prod/channels/{channelId}:
    delete:
      description: Starts deletion of channel. The associated outputs are also deleted.
      operationId: DeleteChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteChannelRequest'
      - in: path
        name: channelId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteChannelResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        487:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Gets details about a channel
      operationId: DescribeChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeChannelRequest'
      - in: path
        name: channelId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeChannelResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a channel.
      operationId: UpdateChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateChannelRequest'
      - in: path
        name: channelId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateChannelResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /prod/channels/{channelId}/start:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts an existing channel
      operationId: StartChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StartChannelRequest'
      - in: path
        name: channelId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StartChannelResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        487:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /prod/channels/{channelId}/stop:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Stops a running channel
      operationId: StopChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StopChannelRequest'
      - in: path
        name: channelId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StopChannelResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        487:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /prod/inputSecurityGroups:
    get:
      description: Produces a list of Input Security Groups for an account
      operationId: ListInputSecurityGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListInputSecurityGroupsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListInputSecurityGroupsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a Input Security Group
      operationId: CreateInputSecurityGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateInputSecurityGroupRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateInputSecurityGroupResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /prod/inputSecurityGroups/{inputSecurityGroupId}:
    delete:
      description: Deletes an Input Security Group
      operationId: DeleteInputSecurityGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteInputSecurityGroupRequest'
      - in: path
        name: inputSecurityGroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteInputSecurityGroupResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Produces a summary of an Input Security Group
      operationId: DescribeInputSecurityGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeInputSecurityGroupRequest'
      - in: path
        name: inputSecurityGroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeInputSecurityGroupResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Update an Input Security Group's Whilelists.
      operationId: UpdateInputSecurityGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateInputSecurityGroupRequest'
      - in: path
        name: inputSecurityGroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateInputSecurityGroupResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /prod/inputs:
    get:
      description: Produces list of inputs that have been created
      operationId: ListInputs
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListInputsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListInputsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Create an input
      operationId: CreateInput
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateInputRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreateInputResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /prod/inputs/{inputId}:
    delete:
      description: Deletes the input end point
      operationId: DeleteInput
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteInputRequest'
      - in: path
        name: inputId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteInputResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        487:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Produces details about an input
      operationId: DescribeInput
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeInputRequest'
      - in: path
        name: inputId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeInputResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an input.
      operationId: UpdateInput
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateInputRequest'
      - in: path
        name: inputId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateInputResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        486:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":412:{s:13:\"AacCodingMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Placeholder
  documentation for AacCodingMode\";s:4:\"enum\";a:5:{i:0;s:15:\"AD_RECEIVER_MIX\";i:1;s:15:\"CODING_MODE_1_0\";i:2;s:15:\"CODING_MODE_1_1\";i:3;s:15:\"CODING_MODE_2_0\";i:4;s:15:\"CODING_MODE_5_1\";}s:4:\"type\";s:6:\"string\";}s:12:\"AacInputType\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Placeholder
  documentation for AacInputType\";s:4:\"enum\";a:2:{i:0;s:20:\"BROADCASTER_MIXED_AD\";i:1;s:6:\"NORMAL\";}s:4:\"type\";s:6:\"string\";}s:10:\"AacProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Placeholder
  documentation for AacProfile\";s:4:\"enum\";a:3:{i:0;s:4:\"HEV1\";i:1;s:4:\"HEV2\";i:2;s:2:\"LC\";}s:4:\"type\";s:6:\"string\";}s:18:\"AacRateControlMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Placeholder
  documentation for AacRateControlMode\";s:4:\"enum\";a:2:{i:0;s:3:\"CBR\";i:1;s:3:\"VBR\";}s:4:\"type\";s:6:\"string\";}s:12:\"AacRawFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Placeholder
  documentation for AacRawFormat\";s:4:\"enum\";a:2:{i:0;s:9:\"LATM_LOAS\";i:1;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:11:\"AacSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Placeholder
  documentation for AacSettings\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"Bitrate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__double\";s:11:\"description\";s:85:\"Average
  bitrate in bits/second. Valid values depend on rate control mode and profile.\";}s:10:\"CodingMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AacCodingMode\";s:11:\"description\";s:295:\"Mono,
  Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile.
  The adReceiverMix setting receives a stereo description plus control track and emits
  a mono AAC encode of the description track, with control data emitted in the PES
  header as per ETSI TS 101 154 Annex E.\";}s:9:\"InputType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AacInputType\";s:11:\"description\";s:540:\"Set
  to \"broadcasterMixedAd\" when input contains pre-mixed main audio + AD (narration)
  as a stereo pair.  The Audio Type field (audioType) will be set to 3, which signals
  to downstream systems that this stream contains \"broadcaster mixed AD\". Note that
  the input received by the encoder must contain pre-mixed audio; the encoder does
  not perform the mixing. The values in audioTypeControl and audioType (in AudioDescription)
  are ignored when set to broadcasterMixedAd.\n\nLeave set to \"normal\" when input
  does not contain pre-mixed audio + AD.\";}s:7:\"Profile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AacProfile\";s:11:\"description\";s:12:\"AAC
  Profile.\";}s:15:\"RateControlMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AacRateControlMode\";s:11:\"description\";s:18:\"Rate
  Control Mode.\";}s:9:\"RawFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AacRawFormat\";s:11:\"description\";s:47:\"Sets
  LATM / LOAS AAC output for raw containers.\";}s:10:\"SampleRate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__double\";s:11:\"description\";s:72:\"Sample
  rate in Hz. Valid values depend on rate control mode and profile.\";}s:4:\"Spec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/AacSpec\";s:11:\"description\";s:95:\"Use
  MPEG-2 AAC audio instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream
  containers.\";}s:10:\"VbrQuality\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AacVbrQuality\";s:11:\"description\";s:56:\"VBR
  Quality Level - Only used if rateControlMode is VBR.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"AacSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Placeholder
  documentation for AacSpec\";s:4:\"enum\";a:2:{i:0;s:5:\"MPEG2\";i:1;s:5:\"MPEG4\";}s:4:\"type\";s:6:\"string\";}s:13:\"AacVbrQuality\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Placeholder
  documentation for AacVbrQuality\";s:4:\"enum\";a:4:{i:0;s:4:\"HIGH\";i:1;s:3:\"LOW\";i:2;s:11:\"MEDIUM_HIGH\";i:3;s:10:\"MEDIUM_LOW\";}s:4:\"type\";s:6:\"string\";}s:16:\"Ac3BitstreamMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Placeholder
  documentation for Ac3BitstreamMode\";s:4:\"enum\";a:8:{i:0;s:10:\"COMMENTARY\";i:1;s:13:\"COMPLETE_MAIN\";i:2;s:8:\"DIALOGUE\";i:3;s:9:\"EMERGENCY\";i:4;s:16:\"HEARING_IMPAIRED\";i:5;s:17:\"MUSIC_AND_EFFECTS\";i:6;s:17:\"VISUALLY_IMPAIRED\";i:7;s:10:\"VOICE_OVER\";}s:4:\"type\";s:6:\"string\";}s:13:\"Ac3CodingMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Placeholder
  documentation for Ac3CodingMode\";s:4:\"enum\";a:4:{i:0;s:15:\"CODING_MODE_1_0\";i:1;s:15:\"CODING_MODE_1_1\";i:2;s:15:\"CODING_MODE_2_0\";i:3;s:19:\"CODING_MODE_3_2_LFE\";}s:4:\"type\";s:6:\"string\";}s:13:\"Ac3DrcProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Placeholder
  documentation for Ac3DrcProfile\";s:4:\"enum\";a:2:{i:0;s:13:\"FILM_STANDARD\";i:1;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:12:\"Ac3LfeFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Placeholder
  documentation for Ac3LfeFilter\";s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"ENABLED\";}s:4:\"type\";s:6:\"string\";}s:18:\"Ac3MetadataControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Placeholder
  documentation for Ac3MetadataControl\";s:4:\"enum\";a:2:{i:0;s:12:\"FOLLOW_INPUT\";i:1;s:14:\"USE_CONFIGURED\";}s:4:\"type\";s:6:\"string\";}s:11:\"Ac3Settings\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Placeholder
  documentation for Ac3Settings\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"Bitrate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__double\";s:11:\"description\";s:73:\"Average
  bitrate in bits/second. Valid bitrates depend on the coding mode.\";}s:13:\"BitstreamMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/Ac3BitstreamMode\";s:11:\"description\";s:116:\"Specifies
  the bitstream mode (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background
  on these values.\";}s:10:\"CodingMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Ac3CodingMode\";s:11:\"description\";s:57:\"Dolby
  Digital coding mode. Determines number of channels.\";}s:8:\"Dialnorm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__integerMin1Max31\";s:11:\"description\";s:112:\"Sets
  the dialnorm for the output. If excluded and input audio is Dolby Digital, dialnorm
  will be passed through.\";}s:10:\"DrcProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Ac3DrcProfile\";s:11:\"description\";s:135:\"If
  set to filmStandard, adds dynamic range compression signaling to the output bitstream
  as defined in the Dolby Digital specification.\";}s:9:\"LfeFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Ac3LfeFilter\";s:11:\"description\";s:125:\"When
  set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding.
  Only valid in codingMode32Lfe mode.\";}s:15:\"MetadataControl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/Ac3MetadataControl\";s:11:\"description\";s:227:\"When
  set to \"followInput\", encoder metadata will be sourced from the DD, DD+, or DolbyE
  decoder that supplied this audio data. If audio was not supplied from one of these
  streams, then the static metadata settings will be used.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AccessDenied\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Placeholder
  documentation for AccessDenied\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AfdSignaling\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Placeholder
  documentation for AfdSignaling\";s:4:\"enum\";a:3:{i:0;s:4:\"AUTO\";i:1;s:5:\"FIXED\";i:2;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:24:\"ArchiveContainerSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Placeholder
  documentation for ArchiveContainerSettings\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"M2tsSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/M2tsSettings\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ArchiveGroupSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Placeholder
  documentation for ArchiveGroupSettings\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/OutputLocationRef\";s:11:\"description\";s:193:\"A
  directory and base filename where archive files should be written.  If the base
  filename portion of the URI is left blank, the base filename of the first input
  will be automatically inserted.\";}s:16:\"RolloverInterval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/__integerMin1\";s:11:\"description\";s:81:\"Number
  of seconds to write to archive file before closing and starting a new one.\";}}s:8:\"required\";a:1:{i:0;s:11:\"Destination\";}s:4:\"type\";s:6:\"object\";}s:21:\"ArchiveOutputSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Placeholder
  documentation for ArchiveOutputSettings\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"ContainerSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ArchiveContainerSettings\";s:11:\"description\";s:52:\"Settings
  specific to the container type of the file.\";}s:9:\"Extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:87:\"Output
  file extension. If excluded, this will be auto-selected from the container type.\";}s:12:\"NameModifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:108:\"String
  concatenated to the end of the destination filename.  Required for multiple outputs
  of the same type.\";}}s:8:\"required\";a:1:{i:0;s:17:\"ContainerSettings\";}s:4:\"type\";s:6:\"object\";}s:23:\"AribDestinationSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Placeholder
  documentation for AribDestinationSettings\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"AribSourceSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Placeholder
  documentation for AribSourceSettings\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"AudioChannelMapping\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Placeholder
  documentation for AudioChannelMapping\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"InputChannelLevels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/__listOfInputChannelLevel\";s:11:\"description\";s:95:\"Indices
  and gain values for each input channel that should be remixed into this output channel.\";}s:13:\"OutputChannel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__integerMin0Max7\";s:11:\"description\";s:47:\"The
  index of the output channel being produced.\";}}s:8:\"required\";a:2:{i:0;s:13:\"OutputChannel\";i:1;s:18:\"InputChannelLevels\";}s:4:\"type\";s:6:\"object\";}s:18:\"AudioCodecSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Placeholder
  documentation for AudioCodecSettings\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"AacSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AacSettings\";}s:11:\"Ac3Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Ac3Settings\";}s:12:\"Eac3Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Eac3Settings\";}s:11:\"Mp2Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Mp2Settings\";}s:19:\"PassThroughSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PassThroughSettings\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AudioDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Placeholder
  documentation for AudioDescription\";s:10:\"properties\";O:8:\"stdClass\":10:{s:26:\"AudioNormalizationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/AudioNormalizationSettings\";s:11:\"description\";s:38:\"Advanced
  audio normalization settings.\";}s:17:\"AudioSelectorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:75:\"The
  name of the AudioSelector used as the source for this AudioDescription.\";}s:9:\"AudioType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AudioType\";s:11:\"description\";s:107:\"Applies
  only if audioTypeControl is useConfigured. The values for audioType are defined
  in ISO-IEC 13818-1.\";}s:16:\"AudioTypeControl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/AudioDescriptionAudioTypeControl\";s:11:\"description\";s:399:\"Determines
  how audio type is determined.\n  followInput: If the input contains an ISO 639 audioType,
  then that value is passed through to the output. If the input contains no ISO 639
  audioType, the value in Audio Type is included in the output.\n  useConfigured:
  The value in Audio Type is included in the output.\nNote that this field and audioType
  are both ignored if inputType is broadcasterMixedAd.\";}s:13:\"CodecSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AudioCodecSettings\";s:11:\"description\";s:21:\"Audio
  codec settings.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__stringMin3Max3\";s:11:\"description\";s:161:\"Indicates
  the language of the audio output track. Only used if languageControlMode is useConfigured,
  or there is no ISO 639 language code specified in the input.\";}s:19:\"LanguageCodeControl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/AudioDescriptionLanguageCodeControl\";s:11:\"description\";s:272:\"Choosing
  followInput will cause the ISO 639 language code of the output to follow the ISO
  639 language code of the input. The languageCode will be used when useConfigured
  is set, or when followInput is selected but there is no ISO 639 language code specified
  by the input.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:165:\"The
  name of this AudioDescription. Outputs will use this name to uniquely identify this
  AudioDescription.  Description names should be unique within this Live Event.\";}s:13:\"RemixSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RemixSettings\";s:11:\"description\";s:90:\"Settings
  that control how input audio channels are remixed into the output audio channels.\";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:123:\"Used
  for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player
  (eg. English, or Director Commentary).\";}}s:8:\"required\";a:2:{i:0;s:17:\"AudioSelectorName\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:32:\"AudioDescriptionAudioTypeControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Placeholder
  documentation for AudioDescriptionAudioTypeControl\";s:4:\"enum\";a:2:{i:0;s:12:\"FOLLOW_INPUT\";i:1;s:14:\"USE_CONFIGURED\";}s:4:\"type\";s:6:\"string\";}s:35:\"AudioDescriptionLanguageCodeControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Placeholder
  documentation for AudioDescriptionLanguageCodeControl\";s:4:\"enum\";a:2:{i:0;s:12:\"FOLLOW_INPUT\";i:1;s:14:\"USE_CONFIGURED\";}s:4:\"type\";s:6:\"string\";}s:22:\"AudioLanguageSelection\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Placeholder
  documentation for AudioLanguageSelection\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:74:\"Selects
  a specific three-letter language code from within an audio source.\";}s:23:\"LanguageSelectionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AudioLanguageSelectionPolicy\";s:11:\"description\";s:439:\"When
  set to \"strict\", the transport stream demux strictly identifies audio streams
  by their language descriptor. If a PMT update occurs such that an audio stream matching
  the initially selected language is no longer present then mute will be encoded until
  the language returns. If \"loose\", then on a PMT update the demux will choose another
  audio stream in the program with the same stream type if it can't find one with
  the same language.\";}}s:8:\"required\";a:1:{i:0;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:28:\"AudioLanguageSelectionPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Placeholder
  documentation for AudioLanguageSelectionPolicy\";s:4:\"enum\";a:2:{i:0;s:5:\"LOOSE\";i:1;s:6:\"STRICT\";}s:4:\"type\";s:6:\"string\";}s:27:\"AudioNormalizationAlgorithm\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Placeholder
  documentation for AudioNormalizationAlgorithm\";s:4:\"enum\";a:2:{i:0;s:10:\"ITU_1770_1\";i:1;s:10:\"ITU_1770_2\";}s:4:\"type\";s:6:\"string\";}s:34:\"AudioNormalizationAlgorithmControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Placeholder
  documentation for AudioNormalizationAlgorithmControl\";s:4:\"enum\";a:1:{i:0;s:13:\"CORRECT_AUDIO\";}s:4:\"type\";s:6:\"string\";}s:26:\"AudioNormalizationSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Placeholder
  documentation for AudioNormalizationSettings\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Algorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/AudioNormalizationAlgorithm\";s:11:\"description\";s:136:\"Audio
  normalization algorithm to use. itu17701 conforms to the CALM Act specification,
  itu17702 conforms to the EBU R-128 specification.\";}s:16:\"AlgorithmControl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/AudioNormalizationAlgorithmControl\";s:11:\"description\";s:150:\"When
  set to correctAudio the output audio is corrected using the chosen algorithm. If
  set to measureOnly, the audio will be measured but not adjusted.\";}s:10:\"TargetLkfs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/__doubleMinNegative59Max0\";s:11:\"description\";s:256:\"Target
  LKFS(loudness) to adjust volume to. If no value is entered, a default value will
  be used according to the chosen algorithm.  The CALM Act (1770-1) recommends a target
  of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AudioOnlyHlsSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Placeholder
  documentation for AudioOnlyHlsSettings\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"AudioGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:57:\"Specifies
  the group to which the audio Rendition belongs.\";}s:14:\"AudioOnlyImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InputLocation\";s:11:\"description\";s:480:\"For
  use with an audio only Stream. Must be a .jpg or .png file. If given, this image
  will be used as the cover-art for the audio only output. Ideally, it should be formatted
  for an iPhone screen for two reasons. The iPhone does not resize the image, it crops
  a centered image on the top/bottom and left/right. Additionally, this image file
  gets saved bit-for-bit into every 10-second segment file, so will increase bandwidth
  by {image file size} * {segment count} * {user count.}.\";}s:14:\"AudioTrackType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AudioOnlyHlsTrackType\";s:11:\"description\";s:799:\"Four
  types of audio-only tracks are supported:\n\nAudio-Only Variant Stream\nThe client
  can play back this audio-only stream instead of video in low-bandwidth scenarios.
  Represented as an EXT-X-STREAM-INF in the HLS manifest.\n\nAlternate Audio, Auto
  Select, Default\nAlternate rendition that the client should try to play back by
  default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=YES, AUTOSELECT=YES\n\nAlternate
  Audio, Auto Select, Not Default\nAlternate rendition that the client may try to
  play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO,
  AUTOSELECT=YES\n\nAlternate Audio, not Auto Select\nAlternate rendition that the
  client will not try to play back by default. Represented as an EXT-X-MEDIA in the
  HLS manifest with DEFAULT=NO, AUTOSELECT=NO\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AudioOnlyHlsTrackType\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Placeholder
  documentation for AudioOnlyHlsTrackType\";s:4:\"enum\";a:4:{i:0;s:27:\"ALTERNATE_AUDIO_AUTO_SELECT\";i:1;s:35:\"ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT\";i:2;s:31:\"ALTERNATE_AUDIO_NOT_AUTO_SELECT\";i:3;s:25:\"AUDIO_ONLY_VARIANT_STREAM\";}s:4:\"type\";s:6:\"string\";}s:17:\"AudioPidSelection\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Placeholder
  documentation for AudioPidSelection\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"Pid\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/__integerMin0Max8191\";s:11:\"description\";s:44:\"Selects
  a specific PID from within a source.\";}}s:8:\"required\";a:1:{i:0;s:3:\"Pid\";}s:4:\"type\";s:6:\"object\";}s:13:\"AudioSelector\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Placeholder
  documentation for AudioSelector\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:148:\"The
  name of this AudioSelector. AudioDescriptions will use this name to uniquely identify
  this Selector.  Selector names should be unique per input.\";}s:16:\"SelectorSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AudioSelectorSettings\";s:11:\"description\";s:28:\"The
  audio selector settings.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:21:\"AudioSelectorSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Placeholder
  documentation for AudioSelectorSettings\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"AudioLanguageSelection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AudioLanguageSelection\";}s:17:\"AudioPidSelection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AudioPidSelection\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AudioType\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Placeholder
  documentation for AudioType\";s:4:\"enum\";a:4:{i:0;s:13:\"CLEAN_EFFECTS\";i:1;s:16:\"HEARING_IMPAIRED\";i:2;s:9:\"UNDEFINED\";i:3;s:26:\"VISUAL_IMPAIRED_COMMENTARY\";}s:4:\"type\";s:6:\"string\";}s:20:\"AuthenticationScheme\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Placeholder
  documentation for AuthenticationScheme\";s:4:\"enum\";a:2:{i:0;s:6:\"AKAMAI\";i:1;s:6:\"COMMON\";}s:4:\"type\";s:6:\"string\";}s:13:\"AvailBlanking\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Placeholder
  documentation for AvailBlanking\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"AvailBlankingImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InputLocation\";s:11:\"description\";s:94:\"Blanking
  image to be used. Leave empty for solid black. Only bmp and png images are supported.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AvailBlankingState\";s:11:\"description\";s:101:\"When
  set to enabled, causes video, audio and captions to be blanked when insertion metadata
  is added.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AvailBlankingState\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Placeholder
  documentation for AvailBlankingState\";s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"ENABLED\";}s:4:\"type\";s:6:\"string\";}s:18:\"AvailConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Placeholder
  documentation for AvailConfiguration\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"AvailSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AvailSettings\";s:11:\"description\";s:18:\"Ad
  avail settings.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AvailSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Placeholder
  documentation for AvailSettings\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"Scte35SpliceInsert\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Scte35SpliceInsert\";}s:20:\"Scte35TimeSignalApos\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Scte35TimeSignalApos\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BadGatewayException\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Placeholder
  documentation for BadGatewayException\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BadRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Placeholder
  documentation for BadRequestException\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"BlackoutSlate\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Placeholder
  documentation for BlackoutSlate\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"BlackoutSlateImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InputLocation\";s:11:\"description\";s:100:\"Blackout
  slate image to be used. Leave empty for solid black. Only bmp and png images are
  supported.\";}s:18:\"NetworkEndBlackout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/BlackoutSlateNetworkEndBlackout\";s:11:\"description\";s:408:\"Setting
  to enabled causes the encoder to blackout the video, audio, and captions, and raise
  the \"Network Blackout Image\" slate when an SCTE104/35 Network End Segmentation
  Descriptor is encountered. The blackout will be lifted when the Network Start Segmentation
  Descriptor is encountered. The Network End and Network Start descriptors must contain
  a network ID that matches the value entered in \"Network ID\".\";}s:23:\"NetworkEndBlackoutImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InputLocation\";s:11:\"description\";s:111:\"Path
  to local file to use as Network End Blackout image. Image will be scaled to fill
  the entire output raster.\";}s:9:\"NetworkId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__stringMin34Max34\";s:11:\"description\";s:93:\"Provides
  Network ID that matches EIDR ID format (e.g., \"10.XXXX/XXXX-XXXX-XXXX-XXXX-XXXX-C\").\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BlackoutSlateState\";s:11:\"description\";s:103:\"When
  set to enabled, causes video, audio and captions to be blanked when indicated by
  program metadata.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"BlackoutSlateNetworkEndBlackout\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Placeholder
  documentation for BlackoutSlateNetworkEndBlackout\";s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"ENABLED\";}s:4:\"type\";s:6:\"string\";}s:18:\"BlackoutSlateState\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Placeholder
  documentation for BlackoutSlateState\";s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"ENABLED\";}s:4:\"type\";s:6:\"string\";}s:15:\"BurnInAlignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Placeholder
  documentation for BurnInAlignment\";s:4:\"enum\";a:3:{i:0;s:8:\"CENTERED\";i:1;s:4:\"LEFT\";i:2;s:5:\"SMART\";}s:4:\"type\";s:6:\"string\";}s:21:\"BurnInBackgroundColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Placeholder
  documentation for BurnInBackgroundColor\";s:4:\"enum\";a:3:{i:0;s:5:\"BLACK\";i:1;s:4:\"NONE\";i:2;s:5:\"WHITE\";}s:4:\"type\";s:6:\"string\";}s:25:\"BurnInDestinationSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Placeholder
  documentation for BurnInDestinationSettings\";s:10:\"properties\";O:8:\"stdClass\":17:{s:9:\"Alignment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BurnInAlignment\";s:11:\"description\";s:549:\"If
  no explicit xPosition or yPosition is provided, setting alignment to centered will
  place the captions at the bottom center of the output. Similarly, setting a left
  alignment will align captions to the bottom left of the output. If x and y positions
  are given in conjunction with the alignment parameter, the font will be justified
  (either left or centered) relative to those coordinates. Selecting \"smart\" justification
  will left-justify live subtitles and center-justify pre-recorded subtitles.  All
  burn-in and DVB-Sub font settings must match.\";}s:15:\"BackgroundColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BurnInBackgroundColor\";s:11:\"description\";s:108:\"Specifies
  the color of the rectangle behind the captions.  All burn-in and DVB-Sub font settings
  must match.\";}s:17:\"BackgroundOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:209:\"Specifies
  the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving
  this parameter out is equivalent to setting it to 0 (transparent).  All burn-in
  and DVB-Sub font settings must match.\";}s:4:\"Font\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InputLocation\";s:11:\"description\";s:385:\"External
  font file used for caption burn-in. File extension must be 'ttf' or 'tte'.  Although
  the user can select output fonts for many different types of input captions,  embedded,
  STL and teletext sources use a strict grid system. Using external fonts with these
  caption sources could cause unexpected display of proportional fonts.  All burn-in
  and DVB-Sub font settings must match.\";}s:9:\"FontColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BurnInFontColor\";s:11:\"description\";s:253:\"Specifies
  the color of the burned-in captions.  This option is not valid for source captions
  that are STL, 608/embedded or teletext.  These source settings are already pre-defined
  by the caption stream.  All burn-in and DVB-Sub font settings must match.\";}s:11:\"FontOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:132:\"Specifies
  the opacity of the burned-in captions. 255 is opaque; 0 is transparent.  All burn-in
  and DVB-Sub font settings must match.\";}s:14:\"FontResolution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/__integerMin96Max600\";s:11:\"description\";s:109:\"Font
  resolution in DPI (dots per inch); default is 96 dpi.  All burn-in and DVB-Sub font
  settings must match.\";}s:8:\"FontSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:197:\"When
  set to 'auto' fontSize will scale depending on the size of the output.  Giving a
  positive integer will specify the exact font size in points.  All burn-in and DVB-Sub
  font settings must match.\";}s:12:\"OutlineColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BurnInOutlineColor\";s:11:\"description\";s:235:\"Specifies
  font outline color. This option is not valid for source captions that are either
  608/embedded or teletext. These source settings are already pre-defined by the caption
  stream. All burn-in and DVB-Sub font settings must match.\";}s:11:\"OutlineSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__integerMin0Max10\";s:11:\"description\";s:244:\"Specifies
  font outline size in pixels. This option is not valid for source captions that are
  either 608/embedded or teletext. These source settings are already pre-defined by
  the caption stream. All burn-in and DVB-Sub font settings must match.\";}s:11:\"ShadowColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BurnInShadowColor\";s:11:\"description\";s:106:\"Specifies
  the color of the shadow cast by the captions.  All burn-in and DVB-Sub font settings
  must match.\";}s:13:\"ShadowOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:195:\"Specifies
  the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter
  out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font
  settings must match.\";}s:13:\"ShadowXOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:200:\"Specifies
  the horizontal offset of the shadow relative to the captions in pixels. A value
  of -2 would result in a shadow offset 2 pixels to the left.  All burn-in and DVB-Sub
  font settings must match.\";}s:13:\"ShadowYOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:201:\"Specifies
  the vertical offset of the shadow relative to the captions in pixels. A value of
  -2 would result in a shadow offset 2 pixels above the text.  All burn-in and DVB-Sub
  font settings must match.\";}s:19:\"TeletextGridControl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BurnInTeletextGridControl\";s:11:\"description\";s:153:\"Controls
  whether a fixed grid size will be used to generate the output subtitles bitmap.
  Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs.\";}s:9:\"XPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/__integerMin0\";s:11:\"description\";s:358:\"Specifies
  the horizontal position of the caption relative to the left side of the output in
  pixels. A value of 10 would result in the captions starting 10 pixels from the left
  of the output. If no explicit xPosition is provided, the horizontal caption position
  will be determined by the alignment parameter.  All burn-in and DVB-Sub font settings
  must match.\";}s:9:\"YPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/__integerMin0\";s:11:\"description\";s:335:\"Specifies
  the vertical position of the caption relative to the top of the output in pixels.
  A value of 10 would result in the captions starting 10 pixels from the top of the
  output. If no explicit yPosition is provided, the caption will be positioned towards
  the bottom of the output.  All burn-in and DVB-Sub font settings must match.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"BurnInFontColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Placeholder
  documentation for BurnInFontColor\";s:4:\"enum\";a:6:{i:0;s:5:\"BLACK\";i:1;s:4:\"BLUE\";i:2;s:5:\"GREEN\";i:3;s:3:\"RED\";i:4;s:5:\"WHITE\";i:5;s:6:\"YELLOW\";}s:4:\"type\";s:6:\"string\";}s:18:\"BurnInOutlineColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Placeholder
  documentation for BurnInOutlineColor\";s:4:\"enum\";a:6:{i:0;s:5:\"BLACK\";i:1;s:4:\"BLUE\";i:2;s:5:\"GREEN\";i:3;s:3:\"RED\";i:4;s:5:\"WHITE\";i:5;s:6:\"YELLOW\";}s:4:\"type\";s:6:\"string\";}s:17:\"BurnInShadowColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Placeholder
  documentation for BurnInShadowColor\";s:4:\"enum\";a:3:{i:0;s:5:\"BLACK\";i:1;s:4:\"NONE\";i:2;s:5:\"WHITE\";}s:4:\"type\";s:6:\"string\";}s:25:\"BurnInTeletextGridControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Placeholder
  documentation for BurnInTeletextGridControl\";s:4:\"enum\";a:2:{i:0;s:5:\"FIXED\";i:1;s:6:\"SCALED\";}s:4:\"type\";s:6:\"string\";}s:18:\"CaptionDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"Output
  groups for this Live Event. Output groups contain information about where streams
  should be distributed.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"CaptionSelectorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:146:\"Specifies
  which input caption selector to use as a caption source when generating output captions.
  This field should match a captionSelector name.\";}s:19:\"DestinationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/CaptionDestinationSettings\";s:11:\"description\";s:81:\"Additional
  settings for captions destination that depend on the destination type.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:66:\"ISO
  639-2 three-digit code: http://www.loc.gov/standards/iso639-2/\";}s:19:\"LanguageDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:96:\"Human
  readable information to indicate captions available for players (eg. English, or
  Spanish).\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:128:\"Name
  of the caption description.  Used to associate a caption description with an output.
  \ Names must be unique within an event.\";}}s:8:\"required\";a:2:{i:0;s:19:\"CaptionSelectorName\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:26:\"CaptionDestinationSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Placeholder
  documentation for CaptionDestinationSettings\";s:10:\"properties\";O:8:\"stdClass\":12:{s:23:\"AribDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AribDestinationSettings\";}s:25:\"BurnInDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BurnInDestinationSettings\";}s:25:\"DvbSubDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DvbSubDestinationSettings\";}s:27:\"EmbeddedDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/EmbeddedDestinationSettings\";}s:37:\"EmbeddedPlusScte20DestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/EmbeddedPlusScte20DestinationSettings\";}s:34:\"RtmpCaptionInfoDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/RtmpCaptionInfoDestinationSettings\";}s:37:\"Scte20PlusEmbeddedDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Scte20PlusEmbeddedDestinationSettings\";}s:25:\"Scte27DestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/Scte27DestinationSettings\";}s:26:\"SmpteTtDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/SmpteTtDestinationSettings\";}s:27:\"TeletextDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TeletextDestinationSettings\";}s:23:\"TtmlDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TtmlDestinationSettings\";}s:25:\"WebvttDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/WebvttDestinationSettings\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CaptionLanguageMapping\";O:8:\"stdClass\":4:{s:11:\"description\";s:123:\"Maps
  a caption channel to an ISO 693-2 language code (http://www.loc.gov/standards/iso639-2),
  with an optional description.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"CaptionChannel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__integerMin1Max4\";s:11:\"description\";s:145:\"The
  closed caption channel being described by this CaptionLanguageMapping.  Each channel
  mapping must have a unique channel number (maximum of 4)\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__stringMin3Max3\";s:11:\"description\";s:83:\"Three
  character ISO 639-2 language code (see http://www.loc.gov/standards/iso639-2)\";}s:19:\"LanguageDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/__stringMin1\";s:11:\"description\";s:31:\"Textual
  description of language\";}}s:8:\"required\";a:3:{i:0;s:12:\"LanguageCode\";i:1;s:19:\"LanguageDescription\";i:2;s:14:\"CaptionChannel\";}s:4:\"type\";s:6:\"object\";}s:15:\"CaptionSelector\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"Output
  groups for this Live Event. Output groups contain information about where streams
  should be distributed.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:115:\"When
  specified this field indicates the three letter language code of the caption track
  to extract from the source.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:171:\"Name
  identifier for a caption selector.  This name is used to associate this caption
  selector with one or more caption descriptions.  Names must be unique within an
  event.\";}s:16:\"SelectorSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CaptionSelectorSettings\";s:11:\"description\";s:26:\"Caption
  selector settings.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:23:\"CaptionSelectorSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Placeholder
  documentation for CaptionSelectorSettings\";s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"AribSourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AribSourceSettings\";}s:20:\"DvbSubSourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DvbSubSourceSettings\";}s:22:\"EmbeddedSourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EmbeddedSourceSettings\";}s:20:\"Scte20SourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Scte20SourceSettings\";}s:20:\"Scte27SourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Scte27SourceSettings\";}s:22:\"TeletextSourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TeletextSourceSettings\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Channel\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Placeholder
  documentation for Channel\";s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:30:\"The
  unique arn of the channel.\";}s:12:\"Destinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/__listOfOutputDestination\";s:11:\"description\";s:168:\"A
  list of destinations of the channel. For UDP outputs, there is one\ndestination
  per output. For other types (HLS, for example), there is\none destination per packager.\n\";}s:15:\"EgressEndpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/__listOfChannelEgressEndpoint\";s:11:\"description\";s:54:\"The
  endpoints where outgoing connections initiate from\";}s:15:\"EncoderSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EncoderSettings\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique id of the channel.\";}s:16:\"InputAttachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/__listOfInputAttachment\";s:11:\"description\";s:38:\"List
  of input attachments for channel.\";}s:18:\"InputSpecification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InputSpecification\";}s:8:\"LogLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LogLevel\";s:11:\"description\";s:47:\"The
  log level being written to CloudWatch Logs.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"The
  name of the channel. (user-mutable)\";}s:21:\"PipelinesRunningCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:42:\"The
  number of currently healthy pipelines.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) of the role assumed when running the Channel.\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChannelState\";}}s:4:\"type\";s:6:\"object\";}s:35:\"ChannelConfigurationValidationError\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Placeholder
  documentation for ChannelConfigurationValidationError\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}s:16:\"ValidationErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/__listOfValidationError\";s:11:\"description\";s:106:\"A
  collection of validation error responses from attempting to create a channel with
  a bouquet of settings.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ChannelEgressEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Placeholder
  documentation for ChannelEgressEndpoint\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"SourceIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:48:\"Public
  IP of where a channel's output comes from\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ChannelState\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Placeholder
  documentation for ChannelState\";s:4:\"enum\";a:9:{i:0;s:8:\"CREATING\";i:1;s:13:\"CREATE_FAILED\";i:2;s:4:\"IDLE\";i:3;s:8:\"STARTING\";i:4;s:7:\"RUNNING\";i:5;s:10:\"RECOVERING\";i:6;s:8:\"STOPPING\";i:7;s:8:\"DELETING\";i:8;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:14:\"ChannelSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Placeholder
  documentation for ChannelSummary\";s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:30:\"The
  unique arn of the channel.\";}s:12:\"Destinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/__listOfOutputDestination\";s:11:\"description\";s:168:\"A
  list of destinations of the channel. For UDP outputs, there is one\ndestination
  per output. For other types (HLS, for example), there is\none destination per packager.\n\";}s:15:\"EgressEndpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/__listOfChannelEgressEndpoint\";s:11:\"description\";s:54:\"The
  endpoints where outgoing connections initiate from\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique id of the channel.\";}s:16:\"InputAttachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/__listOfInputAttachment\";s:11:\"description\";s:38:\"List
  of input attachments for channel.\";}s:18:\"InputSpecification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InputSpecification\";}s:8:\"LogLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LogLevel\";s:11:\"description\";s:47:\"The
  log level being written to CloudWatch Logs.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"The
  name of the channel. (user-mutable)\";}s:21:\"PipelinesRunningCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:42:\"The
  number of currently healthy pipelines.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) of the role assumed when running the Channel.\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChannelState\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Placeholder
  documentation for ConflictException\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CreateChannel\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Placeholder
  documentation for CreateChannel\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"Destinations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/__listOfOutputDestination\";}s:15:\"EncoderSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EncoderSettings\";}s:16:\"InputAttachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/__listOfInputAttachment\";s:11:\"description\";s:38:\"List
  of input attachments for channel.\";}s:18:\"InputSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InputSpecification\";s:11:\"description\";s:79:\"Specification
  of input for this channel (max. bitrate, resolution, codec, etc.)\";}s:8:\"LogLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LogLevel\";s:11:\"description\";s:42:\"The
  log level to write to CloudWatch Logs.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:16:\"Name
  of channel.\";}s:9:\"RequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:103:\"Unique
  request ID to be specified. This is needed to prevent retries from\ncreating multiple
  resources.\n\";}s:8:\"Reserved\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:61:\"Deprecated
  field that's only usable by whitelisted customers.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:86:\"An
  optional Amazon Resource Name (ARN) of the role to assume when running the Channel.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateChannelRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  request to create a channel\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"Destinations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/__listOfOutputDestination\";}s:15:\"EncoderSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EncoderSettings\";}s:16:\"InputAttachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/__listOfInputAttachment\";s:11:\"description\";s:38:\"List
  of input attachments for channel.\";}s:18:\"InputSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InputSpecification\";s:11:\"description\";s:79:\"Specification
  of input for this channel (max. bitrate, resolution, codec, etc.)\";}s:8:\"LogLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LogLevel\";s:11:\"description\";s:42:\"The
  log level to write to CloudWatch Logs.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:16:\"Name
  of channel.\";}s:9:\"RequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:103:\"Unique
  request ID to be specified. This is needed to prevent retries from\ncreating multiple
  resources.\n\";}s:8:\"Reserved\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:61:\"Deprecated
  field that's only usable by whitelisted customers.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:86:\"An
  optional Amazon Resource Name (ARN) of the role to assume when running the Channel.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateChannelResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Placeholder
  documentation for CreateChannelResponse\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Channel\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateChannelResultModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Placeholder
  documentation for CreateChannelResultModel\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Channel\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CreateInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Placeholder
  documentation for CreateInput\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"Destinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/__listOfInputDestinationRequest\";s:11:\"description\";s:42:\"Destination
  settings for PUSH type inputs.\";}s:19:\"InputSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:67:\"A
  list of security groups referenced by IDs to attach to the input.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"Name
  of the input.\";}s:9:\"RequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:99:\"Unique
  identifier of the request to ensure the request is handled\nexactly once in case
  of retries.\n\";}s:7:\"Sources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__listOfInputSourceRequest\";s:11:\"description\";s:176:\"The
  source URLs for a PULL-type input. Every PULL type input needs\nexactly two source
  URLs for redundancy.\nOnly specify sources for PULL type Inputs. Leave Destinations
  empty.\n\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/InputType\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateInputRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  name of the input\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"Destinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/__listOfInputDestinationRequest\";s:11:\"description\";s:42:\"Destination
  settings for PUSH type inputs.\";}s:19:\"InputSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:67:\"A
  list of security groups referenced by IDs to attach to the input.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"Name
  of the input.\";}s:9:\"RequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:99:\"Unique
  identifier of the request to ensure the request is handled\nexactly once in case
  of retries.\n\";}s:7:\"Sources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__listOfInputSourceRequest\";s:11:\"description\";s:176:\"The
  source URLs for a PULL-type input. Every PULL type input needs\nexactly two source
  URLs for redundancy.\nOnly specify sources for PULL type Inputs. Leave Destinations
  empty.\n\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/InputType\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateInputResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Placeholder
  documentation for CreateInputResponse\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Input\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Input\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CreateInputResultModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Placeholder
  documentation for CreateInputResultModel\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Input\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Input\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateInputSecurityGroupRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  IPv4 CIDRs to whitelist for this Input Security Group\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"WhitelistRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/__listOfInputWhitelistRuleCidr\";s:11:\"description\";s:40:\"List
  of IPv4 CIDR addresses to whitelist\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateInputSecurityGroupResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Placeholder
  documentation for CreateInputSecurityGroupResponse\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"SecurityGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InputSecurityGroup\";}}s:4:\"type\";s:6:\"object\";}s:35:\"CreateInputSecurityGroupResultModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Placeholder
  documentation for CreateInputSecurityGroupResultModel\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"SecurityGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InputSecurityGroup\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteChannelRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Placeholder
  documentation for DeleteChannelRequest\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteChannelResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Placeholder
  documentation for DeleteChannelResponse\";s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:30:\"The
  unique arn of the channel.\";}s:12:\"Destinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/__listOfOutputDestination\";s:11:\"description\";s:168:\"A
  list of destinations of the channel. For UDP outputs, there is one\ndestination
  per output. For other types (HLS, for example), there is\none destination per packager.\n\";}s:15:\"EgressEndpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/__listOfChannelEgressEndpoint\";s:11:\"description\";s:54:\"The
  endpoints where outgoing connections initiate from\";}s:15:\"EncoderSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EncoderSettings\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique id of the channel.\";}s:16:\"InputAttachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/__listOfInputAttachment\";s:11:\"description\";s:38:\"List
  of input attachments for channel.\";}s:18:\"InputSpecification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InputSpecification\";}s:8:\"LogLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LogLevel\";s:11:\"description\";s:47:\"The
  log level being written to CloudWatch Logs.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"The
  name of the channel. (user-mutable)\";}s:21:\"PipelinesRunningCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:42:\"The
  number of currently healthy pipelines.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) of the role assumed when running the Channel.\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChannelState\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteInputRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Placeholder
  documentation for DeleteInputRequest\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteInputResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Placeholder
  documentation for DeleteInputResponse\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteInputSecurityGroupRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Placeholder
  documentation for DeleteInputSecurityGroupRequest\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteInputSecurityGroupResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Placeholder
  documentation for DeleteInputSecurityGroupResponse\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeChannelRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Placeholder
  documentation for DescribeChannelRequest\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeChannelResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Placeholder
  documentation for DescribeChannelResponse\";s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:30:\"The
  unique arn of the channel.\";}s:12:\"Destinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/__listOfOutputDestination\";s:11:\"description\";s:168:\"A
  list of destinations of the channel. For UDP outputs, there is one\ndestination
  per output. For other types (HLS, for example), there is\none destination per packager.\n\";}s:15:\"EgressEndpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/__listOfChannelEgressEndpoint\";s:11:\"description\";s:54:\"The
  endpoints where outgoing connections initiate from\";}s:15:\"EncoderSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EncoderSettings\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique id of the channel.\";}s:16:\"InputAttachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/__listOfInputAttachment\";s:11:\"description\";s:38:\"List
  of input attachments for channel.\";}s:18:\"InputSpecification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InputSpecification\";}s:8:\"LogLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LogLevel\";s:11:\"description\";s:47:\"The
  log level being written to CloudWatch Logs.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"The
  name of the channel. (user-mutable)\";}s:21:\"PipelinesRunningCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:42:\"The
  number of currently healthy pipelines.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) of the role assumed when running the Channel.\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChannelState\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeInputRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Placeholder
  documentation for DescribeInputRequest\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeInputResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Placeholder
  documentation for DescribeInputResponse\";s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:51:\"The
  Unique ARN of the input (generated, immutable).\";}s:16:\"AttachedChannels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:110:\"A
  list of channel IDs that that input is attached to (currently an input can only
  be attached to one channel).\";}s:12:\"Destinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/__listOfInputDestination\";s:11:\"description\";s:52:\"A
  list of the destinations of the input (PUSH-type).\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:67:\"The
  generated ID of the input (unique for user account, immutable).\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:49:\"The
  user-assigned name (This is a mutable value).\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:64:\"A
  list of IDs for all the security groups attached to the input.\";}s:7:\"Sources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__listOfInputSource\";s:11:\"description\";s:47:\"A
  list of the sources of the input (PULL-type).\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InputState\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/InputType\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeInputSecurityGroupRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Placeholder
  documentation for DescribeInputSecurityGroupRequest\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeInputSecurityGroupResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Placeholder
  documentation for DescribeInputSecurityGroupResponse\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:34:\"Unique
  ARN of Input Security Group\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:34:\"The
  Id of the Input Security Group\";}s:6:\"Inputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:61:\"The
  list of inputs currently using this Input Security Group.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/InputSecurityGroupState\";s:11:\"description\";s:46:\"The
  current state of the Input Security Group.\";}s:14:\"WhitelistRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__listOfInputWhitelistRule\";s:11:\"description\";s:37:\"Whitelist
  rules and their sync status\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DvbNitSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"DVB
  Network Information Table (NIT)\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NetworkId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/__integerMin0Max65536\";s:11:\"description\";s:64:\"The
  numeric value placed in the Network Information Table (NIT).\";}s:11:\"NetworkName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__stringMin1Max256\";s:11:\"description\";s:129:\"The
  network name text placed in the networkNameDescriptor inside the Network Information
  Table. Maximum length is 256 characters.\";}s:11:\"RepInterval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/__integerMin25Max10000\";s:11:\"description\";s:90:\"The
  number of milliseconds between instances of this table in the output transport stream.\";}}s:8:\"required\";a:2:{i:0;s:11:\"NetworkName\";i:1;s:9:\"NetworkId\";}s:4:\"type\";s:6:\"object\";}s:15:\"DvbSdtOutputSdt\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Placeholder
  documentation for DvbSdtOutputSdt\";s:4:\"enum\";a:4:{i:0;s:10:\"SDT_FOLLOW\";i:1;s:21:\"SDT_FOLLOW_IF_PRESENT\";i:2;s:10:\"SDT_MANUAL\";i:3;s:8:\"SDT_NONE\";}s:4:\"type\";s:6:\"string\";}s:14:\"DvbSdtSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"DVB
  Service Description Table (SDT)\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"OutputSdt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DvbSdtOutputSdt\";s:11:\"description\";s:472:\"Selects
  method of inserting SDT information into output stream. The sdtFollow setting copies
  SDT information from input stream to output stream. The sdtFollowIfPresent setting
  copies SDT information from input stream to output stream if SDT information is
  present in the input, otherwise it will fall back on the user-defined values. The
  sdtManual setting means user will enter the SDT information. The sdtNone setting
  means output stream will not contain SDT information.\";}s:11:\"RepInterval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/__integerMin25Max2000\";s:11:\"description\";s:90:\"The
  number of milliseconds between instances of this table in the output transport stream.\";}s:11:\"ServiceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__stringMin1Max256\";s:11:\"description\";s:116:\"The
  service name placed in the serviceDescriptor in the Service Description Table. Maximum
  length is 256 characters.\";}s:19:\"ServiceProviderName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__stringMin1Max256\";s:11:\"description\";s:125:\"The
  service provider name placed in the serviceDescriptor in the Service Description
  Table. Maximum length is 256 characters.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DvbSubDestinationAlignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Placeholder
  documentation for DvbSubDestinationAlignment\";s:4:\"enum\";a:3:{i:0;s:8:\"CENTERED\";i:1;s:4:\"LEFT\";i:2;s:5:\"SMART\";}s:4:\"type\";s:6:\"string\";}s:32:\"DvbSubDestinationBackgroundColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Placeholder
  documentation for DvbSubDestinationBackgroundColor\";s:4:\"enum\";a:3:{i:0;s:5:\"BLACK\";i:1;s:4:\"NONE\";i:2;s:5:\"WHITE\";}s:4:\"type\";s:6:\"string\";}s:26:\"DvbSubDestinationFontColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Placeholder
  documentation for DvbSubDestinationFontColor\";s:4:\"enum\";a:6:{i:0;s:5:\"BLACK\";i:1;s:4:\"BLUE\";i:2;s:5:\"GREEN\";i:3;s:3:\"RED\";i:4;s:5:\"WHITE\";i:5;s:6:\"YELLOW\";}s:4:\"type\";s:6:\"string\";}s:29:\"DvbSubDestinationOutlineColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Placeholder
  documentation for DvbSubDestinationOutlineColor\";s:4:\"enum\";a:6:{i:0;s:5:\"BLACK\";i:1;s:4:\"BLUE\";i:2;s:5:\"GREEN\";i:3;s:3:\"RED\";i:4;s:5:\"WHITE\";i:5;s:6:\"YELLOW\";}s:4:\"type\";s:6:\"string\";}s:25:\"DvbSubDestinationSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Placeholder
  documentation for DvbSubDestinationSettings\";s:10:\"properties\";O:8:\"stdClass\":17:{s:9:\"Alignment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/DvbSubDestinationAlignment\";s:11:\"description\";s:695:\"If
  no explicit xPosition or yPosition is provided, setting alignment to centered will
  place the captions at the bottom center of the output. Similarly, setting a left
  alignment will align captions to the bottom left of the output. If x and y positions
  are given in conjunction with the alignment parameter, the font will be justified
  (either left or centered) relative to those coordinates. Selecting \"smart\" justification
  will left-justify live subtitles and center-justify pre-recorded subtitles.  This
  option is not valid for source captions that are STL or 608/embedded.  These source
  settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub
  font settings must match.\";}s:15:\"BackgroundColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/DvbSubDestinationBackgroundColor\";s:11:\"description\";s:108:\"Specifies
  the color of the rectangle behind the captions.  All burn-in and DVB-Sub font settings
  must match.\";}s:17:\"BackgroundOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:211:\"Specifies
  the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving
  this parameter blank is equivalent to setting it to 0 (transparent).  All burn-in
  and DVB-Sub font settings must match.\";}s:4:\"Font\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InputLocation\";s:11:\"description\";s:384:\"External
  font file used for caption burn-in. File extension must be 'ttf' or 'tte'.  Although
  the user can select output fonts for many different types of input captions, embedded,
  STL and teletext sources use a strict grid system. Using external fonts with these
  caption sources could cause unexpected display of proportional fonts.  All burn-in
  and DVB-Sub font settings must match.\";}s:9:\"FontColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/DvbSubDestinationFontColor\";s:11:\"description\";s:253:\"Specifies
  the color of the burned-in captions.  This option is not valid for source captions
  that are STL, 608/embedded or teletext.  These source settings are already pre-defined
  by the caption stream.  All burn-in and DVB-Sub font settings must match.\";}s:11:\"FontOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:132:\"Specifies
  the opacity of the burned-in captions. 255 is opaque; 0 is transparent.  All burn-in
  and DVB-Sub font settings must match.\";}s:14:\"FontResolution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/__integerMin96Max600\";s:11:\"description\";s:109:\"Font
  resolution in DPI (dots per inch); default is 96 dpi.  All burn-in and DVB-Sub font
  settings must match.\";}s:8:\"FontSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:195:\"When
  set to auto fontSize will scale depending on the size of the output.  Giving a positive
  integer will specify the exact font size in points.  All burn-in and DVB-Sub font
  settings must match.\";}s:12:\"OutlineColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/DvbSubDestinationOutlineColor\";s:11:\"description\";s:235:\"Specifies
[...]
