---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"Vipps Invoice ISP API\";s:7:\"version\";s:6:\"0.3.43\";s:11:\"description\";s:262:\"\nThis
  is the API for Vipps eFaktura. While we have worked closely with selected partners,
  we are more than happy to receive feedback, either with GitHub's issue functionality,
  or by email.\nPlease see https://github.com/vippsas/vipps-invoice-api for documentation\";}"
host: apitest.vipps.no
basePath: /vipps-isp/v1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:9:\"invoiceIn\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"Invoice
  document which is sent to our servers.\";s:8:\"required\";a:7:{i:0;s:14:\"recipientToken\";i:1;s:18:\"paymentInformation\";i:2;s:3:\"due\";i:3;s:6:\"amount\";i:4;s:7:\"subject\";i:5;s:11:\"invoiceType\";i:6;s:17:\"commercialInvoice\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"recipientToken\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"token
  received is obtained by calling the endpoint to resolve a recipient\";}s:18:\"paymentInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:5:\"value\";i:2;s:7:\"account\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"kid\";i:1;s:7:\"message\";}s:7:\"example\";s:3:\"kid\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"1234567890128\";}s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"12345678903\";}}}s:11:\"invoiceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:7:\"invoice\";i:1;s:15:\"paymentReminder\";i:2;s:21:\"debtCollectionWarning\";i:3;s:20:\"debtCollectionNotice\";i:4;s:24:\"noticeOfLegalProceedings\";i:5;s:22:\"debtCollectionReminder\";i:6;s:10:\"creditNote\";}s:7:\"example\";s:7:\"invoice\";}s:3:\"due\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:144:\"When
  an invoice is due. Due has to be formatted according to RFC3339 and be at least
  3 days after start of day and at most 1 year in the future.\";s:7:\"example\";s:20:\"2019-10-02T15:00:00Z\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Amount
  by lowest subdivision (\xF8re)\";s:7:\"example\";i:25043;}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:274:\"Minimum
  allowed amount to pay by lowest subdivision (\xF8re). If this is set, it indicates
  that this invoice can be paid with any amount between and including `minAmount`
  and `amount`. Note that the user always can override this and pay any (positive)
  amount he or she wishes.\";s:7:\"example\";i:25043;}s:7:\"subject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"A
  textual subject for the receipient of the invoice\";s:7:\"example\";s:14:\"Bompasseringer\";}s:10:\"issuerName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Organization
  name of issuer\";s:7:\"example\";s:22:\"Lister Bompengeselskap\";s:9:\"maxLength\";i:40;}s:17:\"commercialInvoice\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"minItems\";i:1;s:11:\"description\";s:278:\"Conceptually
  only one invoice, but it can have multiple representations. The issuer is advised
  to provide the commercial invoice in multiple formats (i.e. different mime-types)
  if possible. This will make it easier provide the user and IPP different ways of
  showing the invoice.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:3:\"url\";i:1;s:8:\"mimeType\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"mimeType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:158:\"Mime-type
  of the commercial invoice document. Supported mime-types are; application/pdf (recommended),
  text/html, image/jpeg, image/png, image/jpg, text/plain\";s:7:\"example\";s:15:\"application/pdf\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"URL
  of commercial invoice. It is required to use the https-protocol.\";s:7:\"example\";s:72:\"https://www.example.com/08fd5360-e218-4658-894f-4f37649e7df7/comminv.pdf\";}}}}s:11:\"attachments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"DEPRECATED
  Invoice attachments.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/attachmentIn\";}}s:13:\"issuerIconUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:316:\"Not
  yet supported in the Vipps App. URL to invoice issuer's logo. The URL must use the
  HTTPS protocol and not contain any tracking-scripts or user-tracking parameters.
  Supported image formats: SVG (Scalable Vector Graphics) and PNG (Portable Network
  Graphics). Minimum size: 82x82 pixels Maximum size: 512x512 pixels\";s:7:\"example\";s:40:\"https://www.example.com/logos/lister.png\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:156:\"Metadata
  is only visible and available for the ISP. The metadata is queryable in the status
  endpoint and enables various use-cases like batch compatability.\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"batchId\";s:3:\"123\";s:6:\"userId\";s:6:\"986123\";s:11:\"internalRef\";s:15:\"09182d9081a344f\";}}}}s:12:\"attachmentIn\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"DEPRECATED
  An incoming attachment related to an invoice\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:4:\"urls\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Ferry\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:3:\"url\";i:1;s:8:\"mimeType\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"An
  URL to the attachment. It is required to use the HTTPS-protocol.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:48:\"https://invoice-hotel.example.org/invoice/42.pdf\";}s:8:\"mimeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"Mime-type
  of the attachment document. Supported mime-types are; application/pdf (recommended),
  image/png, image/jpeg, image/jpg, text/html, text/plain\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"application/pdf\";}}}}}}s:13:\"attachmentOut\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"DEPRECATED
  A list of optional attachments related to an invoice\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:5:\"title\";i:2;s:9:\"mimeTypes\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Ferry\";}s:9:\"mimeTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"application/pdf\";}}}}s:10:\"invoiceOut\";O:8:\"stdClass\":3:{s:11:\"description\";s:211:\"Invoice
  document which is returned from our servers. The `invoiceId` consists of the prefix
  `orgno-no` (for all Norwegian organizations), the actual organization number and
  the reference number for this invoice.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:9:\"invoiceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"orgno-no.999999999.20180001\";s:7:\"pattern\";s:38:\"^([a-zA-Z-]+)\\.(\\d+)\\.([a-zA-Z0-9-]+)$\";}s:18:\"paymentInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"kid\";i:1;s:7:\"message\";}s:7:\"example\";s:3:\"kid\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"1234567890128\";}s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"12345678903\";}}}s:11:\"invoiceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:7:\"invoice\";i:1;s:15:\"paymentReminder\";i:2;s:21:\"debtCollectionWarning\";i:3;s:20:\"debtCollectionNotice\";i:4;s:24:\"noticeOfLegalProceedings\";i:5;s:22:\"debtCollectionReminder\";i:6;s:10:\"creditNote\";}s:7:\"example\";s:7:\"invoice\";}s:3:\"due\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:22:\"When
  an invoice is due\";s:7:\"example\";s:20:\"2019-10-02T15:00:00Z\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Amount
  by lowest subdivision (\xF8re)\";s:7:\"example\";i:25043;}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:274:\"Minimum
  allowed amount to pay by lowest subdivision (\xF8re). If this is set, it indicates
  that this invoice can be paid with any amount between and including `minAmount`
  and `amount`. Note that the user always can override this and pay any (positive)
  amount he or she wishes.\";s:7:\"example\";i:25043;}s:7:\"subject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"A
  textual subject for the receipient of the invoice\";s:7:\"example\";s:14:\"Bompasseringer\";}s:10:\"issuerName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Organization
  name of issuer\";s:7:\"example\";s:22:\"Lister Bompengeselskap\";s:9:\"maxLength\";i:40;}s:9:\"recipient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"identType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"nin-no\";i:1;s:6:\"msisdn\";}s:11:\"description\";s:96:\"Identification
  type used when the invoice was issued. One of the supported identification types.\";s:7:\"example\";s:6:\"msisdn\";}s:10:\"identValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"The
  value used to identify the invoice recipient when the invoice was first issued.\";s:7:\"example\";s:10:\"4740040040\";}s:10:\"resolvedAt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:32:\"When
  the recipient was resolved.\";s:7:\"example\";s:20:\"2018-03-13T16:00:00Z\";}}}s:10:\"providerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"identType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:8:\"orgno-no\";}s:11:\"description\";s:44:\"Identification
  type of the invoice provider.\";s:7:\"example\";s:8:\"orgno-no\";}s:10:\"identValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  value used to identify the invoice provider.\";s:7:\"example\";s:9:\"999999999\";}}}s:17:\"commercialInvoice\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:278:\"Conceptually
  only one invoice, but it can have multiple representations. The issuer is advised
  to provide the commercial invoice in multiple formats (i.e. different mime-types)
  if possible. This will make it easier provide the user and IPP different ways of
  showing the invoice.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"mimeType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Mime-type
  of commercial invoice document\";s:7:\"example\";s:15:\"application/pdf\";}}}}s:11:\"attachments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"DEPRECATED
  Invoice attachments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/attachmentOut\";}}s:13:\"issuerIconUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"Not
  yet supported in the Vipps App. URL to invoice issuer's logo\";s:7:\"example\";s:40:\"https://www.example.com/logos/lister.png\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"lastModified\";i:1;s:5:\"state\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"lastModified\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:7:\"created\";i:1;s:8:\"rejected\";i:2;s:7:\"pending\";i:3;s:7:\"expired\";i:4;s:8:\"approved\";i:5;s:7:\"deleted\";i:6;s:7:\"revoked\";}s:11:\"description\";s:78:\"Status
  of the invoice. See the documentation in the introduction to this file.\";}s:3:\"due\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:71:\"When
  the user has set the payment to be due (only for state 'approved')\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:91:\"Amount
  the user has set to be paid by lowest subdivision (\xF8re) (only for state 'approved')\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"(***
  DEPRECATED ***: Use the etag on invoice.) System generated property used for optimistic
  concurrency control.\";}s:8:\"problems\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"A
  list of problems causing the invoice to be rejected. (only for state 'rejected')\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Problem\";}}}}s:7:\"created\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:27:\"When
  an invoice was created\";s:7:\"example\";s:25:\"2018-03-13T15:00:00+00:00\";}s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"original
  invoice source\";s:4:\"enum\";a:2:{i:0;s:5:\"vipps\";i:1;s:4:\"nets\";}}s:17:\"externalReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"An
  external reference to the invoice. For a Vipps eFaktura, this will be the Nets eFaktura
  reference.\";s:7:\"example\";s:9:\"855533275\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"System
  generated property used for optimistic concurrency control.\";s:7:\"example\";s:36:\"0a00075e-0000-0000-0000-5ba22c8b0000\";}}}s:16:\"RecipientResolve\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"nin-no\";i:1;s:6:\"msisdn\";}s:11:\"description\";s:131:\"Currently
  resolving by the Norwegian national identification number (`nin-no`) and the mobile
  phone number (`msisdn`) is supported.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Either
  the Norwegian national identification number or the mobile phone number.\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:5:\"title\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"A
  URI reference that identifies the problem type.\";s:7:\"example\";s:55:\"https://vipps.no/invoice/v1/problems/invalid-invoice-id\";}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"A
  short, human-readable summary of the problem type.\";s:7:\"example\";s:26:\"The
  invoice id is invalid.\";}s:6:\"detail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  human-readable explanation specific to this occurrence of the problem.\";s:7:\"example\";s:192:\"You
  tried to call the endpoint GET:/invoices/{invoiceId} with the invoice id **invoice-1**.
  This is invalid due to the following reasons: missing issuer ident-type, missing
  issuer ident-value.\";}s:8:\"instance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:133:\"A
  URI reference that identifies the specific occurrence of the problem.  It may or
  may not yield further information if dereferenced.\";}s:13:\"correlationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"An
  ID that can be used to find related log messages\";}}}}}s:7:\"Problem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:5:\"title\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"A
  URI reference that identifies the problem type.\";s:7:\"example\";s:55:\"https://vipps.no/invoice/v1/problems/invalid-invoice-id\";}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"A
  short, human-readable summary of the problem type.\";s:7:\"example\";s:26:\"The
  invoice id is invalid.\";}s:6:\"detail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  human-readable explanation specific to this occurrence of the problem.\";s:7:\"example\";s:192:\"You
  tried to call the endpoint GET:/invoices/{invoiceId} with the invoice id **invoice-1**.
  This is invalid due to the following reasons: missing issuer ident-type, missing
  issuer ident-value.\";}s:8:\"instance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:133:\"A
  URI reference that identifies the specific occurrence of the problem.  It may or
  may not yield further information if dereferenced.\";}s:13:\"correlationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"An
  ID that can be used to find related log messages\";}}}s:13:\"JsonWebKeySet\";O:8:\"stdClass\":3:{s:5:\"title\";s:16:\"JSON
  Web Key Set\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"keys\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JsonWebKey\";}}}}s:10:\"JsonWebKey\";O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"JSON
  Web Key\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"keys\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JsonWebKey\";}}s:3:\"kty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"use\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"kid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"alg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"crv\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"x\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"y\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"d\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"n\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"e\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"k\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"x5t\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"x5t#S256\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:3:\"kty\";i:1;s:3:\"kid\";i:2;s:3:\"alg\";i:3;s:3:\"use\";i:4;s:1:\"e\";i:5;s:1:\"n\";i:6;s:3:\"x5t\";i:7;s:8:\"x5t#S256\";}}s:46:\"RecipientsTokensPost200ApplicationJsonResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"recipientToken\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"the
  recipient token\";s:7:\"example\";s:260:\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MzQ1MDMwMjMsImlhdCI6MTUzNDUwMjEyMywiaXNzIjoidmlwcHNpbnZvaWNlLnZpcHBzLm5vL2FwaS92MS9yZWNpcGllbnRzL3Rva2VucyIsIm5iZiI6MTUzNDUwMjEyMywic3ViIjoibmluLW5vLjA3MTI2MjAwMjU1In0.z0yJY8MXO4rDOGTA743fh4BOdnnCoVZLmdzi_goBipU\";}}}s:7:\"MsError\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"responseInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"responseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:401;}s:15:\"responseMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:53:\"IDX10503:
  Signature validation failed. Keys tried ...\";}}}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:54:\"IDX10503:
  Signature validation failed. Keys tried: ...\";}}}}}}"
...
