---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:432:\"An API for keeping
  track of your contacts and the companies they work for. \n\nDon't forget to take
  it for a spin by clicking on the **Try in Client** button next to each operation!
  All read operations are public and don't require authentication.\n\n<div>\n<img
  src='https://thecontactsapi.apispark.net/v1/img/cropped-contact-img.png' width='90%'>\n<div>\n\n<!--
  ![](https://thecontactsapi.apispark.net/v1/img/cropped-contact-img.png) -->\n\n\";s:7:\"version\";s:5:\"1.2.0\";s:5:\"title\";s:12:\"Contacts
  API\";s:14:\"termsOfService\";s:0:\"\";s:7:\"contact\";O:8:\"stdClass\":0:{}}"
host: thecontactsapi.restlet.net
basePath: /v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:5:\"Error\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"code\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:400;s:7:\"maximum\";i:599;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:56:\"Bad
  query parameter [$size]: Invalid integer value [abc]\";}s:12:\"reasonPhrase\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Bad
  Request\";}}s:11:\"description\";s:57:\"This general error structure is used throughout
  this API.\";s:7:\"example\";s:127:\"{\n  \"code\": 400,\n  \"description\": \"Bad
  query parameter [$size]: Invalid integer value [abc]\",\n  \"reasonPhrase\": \"Bad
  Request\"\n}\";}s:7:\"Contact\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:9:\"firstName\";i:1;s:2:\"id\";i:2;s:8:\"lastName\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Auto-generated
  primary key field\";s:7:\"example\";s:36:\"0e8ffb10-ad98-11e6-bf2e-47644ada7c0f\";}s:4:\"rank\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:1;s:7:\"example\";i:1;}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:7:\"company\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"This
  property is a reference to a Company\";s:7:\"example\";s:36:\"0e8c9fb0-ad98-11e6-bf2e-47644ada7c0f\";}s:8:\"birthday\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:34:\"Birthday
  as unix timestamp (in ms)\";s:7:\"example\";i:173664000000;}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Williams\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Kurt\";}}s:11:\"description\";s:30:\"A
  representation of a Contact.\";s:7:\"example\";s:208:\"{\n  \"id\": \"0e8dd830-ad98-11e6-bf2e-47644ada7c0f\",\n
  \ \"firstName\": \"John\",\n  \"lastName\": \"Smith\",\n  \"birthday\": 152755200000,\n
  \ \"active\": true,\n  \"rank\": 1,\n  \"company\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\"\n}\";}s:7:\"Company\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:7:\"address\";i:1;s:2:\"id\";i:2;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Auto-generated
  primary key field\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:9:\"[a-zA-Z]+\";}s:7:\"example\";s:26:\"[\"brewery\",
  \"beer\", \"ale\"]\";}s:7:\"address\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:4:\"city\";i:1;s:6:\"street\";i:2;s:7:\"zipcode\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"zipcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:6:\"[0-9]*\";}}}}s:11:\"description\";s:30:\"A
  representation of a Company.\";s:7:\"example\";s:240:\"{\n  \"id\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\",\n
  \ \"name\": \"George Street Brewery\",\n  \"address\":{\n    \"street\": \"2 place
  de la Defense\",\n    \"zipcode\": \"92053\",\n    \"city\": \"Paris\"\n  },\n  \"tags\":[\n
  \   \"brewery\",\n    \"beer\",\n    \"ale\"\n  ]\n}\";}}"
...
