---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:13:\"ShiprocketAPI\";s:11:\"description\";s:74:\"A
  common dashboard to manage your entire business on various Marketplaces.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:55:\"http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT\";}}"
host: krmct001.kartrocket.co
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":59:{s:15:\"GetTokenRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:17:\"Get
  token request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:8:\"password\";}}s:16:\"GetTokenResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"Get
  token response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"company_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:10:\"first_name\";i:2;s:9:\"last_name\";i:3;s:5:\"email\";i:4;s:10:\"company_id\";i:5;s:10:\"created_at\";i:6;s:5:\"token\";}}s:20:\"GetCountriesResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:22:\"Get
  countries response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:4:\"data\";}}s:16:\"GetZonesResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"Get
  zones response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:4:\"data\";}}s:19:\"GetProductsResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"Get
  products response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"meta\";}}s:10:\"AddRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:11:\"Add
  request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"tax_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"qty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"low_stock\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"category_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"brand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ean\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"upc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"isbn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"imei_serialnumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"cost_price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"mrp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"components\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:24:{i:0;s:3:\"sku\";i:1;s:4:\"name\";i:2;s:8:\"tax_code\";i:3;s:4:\"type\";i:4;s:3:\"qty\";i:5;s:9:\"low_stock\";i:6;s:13:\"category_code\";i:7;s:11:\"description\";i:8;s:5:\"brand\";i:9;s:4:\"size\";i:10;s:6:\"weight\";i:11;s:6:\"length\";i:12;s:5:\"width\";i:13;s:6:\"height\";i:14;s:3:\"ean\";i:15;s:3:\"upc\";i:16;s:4:\"isbn\";i:17;s:5:\"color\";i:18;s:17:\"imei_serialnumber\";i:19;s:10:\"cost_price\";i:20;s:3:\"mrp\";i:21;s:6:\"status\";i:22;s:9:\"image_url\";i:23;s:10:\"components\";}}s:12:\"ShowResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:13:\"Show
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:17:\"BulkImportRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:19:\"Bulk
  import request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"file\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"file\";}}s:17:\"UpdateImeiRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:19:\"Update
  IMEI request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:14:\"GetAllResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"Get
  all response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"meta\";}}s:10:\"MapRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:11:\"Map
  request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"listing_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:10:\"product_id\";i:1;s:10:\"listing_id\";}}s:20:\"GetAllOrdersResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"Get
  all orders response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"meta\";}}s:33:\"GetAllUnprocessableOrdersResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:37:\"Get
  all unprocessable orders response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"meta\";}}s:30:\"GetAllProcessingOrdersResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:34:\"Get
  all processing orders response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"meta\";}}s:30:\"GetAllManifestedOrdersResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:34:\"Get
  all manifested orders response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"meta\";}}s:22:\"GetOrdersCountResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:25:\"Get
  orders count response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"manifested_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"processing_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:18:\"unprocessing_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:3:{i:0;s:16:\"manifested_count\";i:1;s:16:\"processing_count\";i:2;s:18:\"unprocessing_count\";}}s:16:\"GetOrderResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"Get
  order response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:19:\"CancelOrdersRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"Cancel
  orders request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"required\";a:1:{i:0;s:3:\"ids\";}}s:18:\"FulfillmentRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:19:\"Fulfillment
  request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:19:\"FulfillmentResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"Fulfillment
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:7:\"success\";i:2;s:7:\"message\";}}s:14:\"MappingRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:15:\"Mapping
  request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:15:\"MappingResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"Mapping
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"status_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:4:{i:0;s:4:\"data\";i:1;s:11:\"status_code\";i:2;s:7:\"message\";i:3;s:7:\"success\";}}s:22:\"GenerateInvoiceRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:24:\"Generate
  invoice request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"required\";a:1:{i:0;s:3:\"ids\";}}s:23:\"GenerateInvoiceResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:25:\"Generate
  invoice response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"is_invoice_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"invoice_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"not_created\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:3:{i:0;s:18:\"is_invoice_created\";i:1;s:11:\"invoice_url\";i:2;s:11:\"not_created\";}}s:13:\"TrackResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:14:\"Track
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"meta\";}}s:20:\"ChangeAddressRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:22:\"Change
  address request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"order_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:22:\"shipping_customer_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"shipping_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_pincode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:9:{i:0;s:8:\"order_id\";i:1;s:22:\"shipping_customer_name\";i:2;s:14:\"shipping_phone\";i:3;s:16:\"shipping_address\";i:4;s:18:\"shipping_address_2\";i:5;s:13:\"shipping_city\";i:6;s:14:\"shipping_state\";i:7;s:16:\"shipping_country\";i:8;s:16:\"shipping_pincode\";}}s:19:\"GetManifestsRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"Get
  manifests request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"order_ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"required\";a:1:{i:0;s:9:\"order_ids\";}}s:20:\"GetManifestsResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:22:\"Get
  manifests response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:25:\"CreateLinkedOrder.Request\";O:8:\"stdClass\":4:{s:5:\"title\";s:28:\"Create
  linked order. request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":31:{s:8:\"order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"order_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"channel_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"billing_customer_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"billing_last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"billing_address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"billing_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"billing_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"billing_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"billing_pincode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"billing_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"billing_phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"shipping_is_billing\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:22:\"shipping_customer_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"shipping_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_pincode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"order_items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:14:\"payment_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_charges\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"giftwrap_charges\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"transaction_charges\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"total_discount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"sub_total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:31:{i:0;s:8:\"order_id\";i:1;s:10:\"order_date\";i:2;s:10:\"channel_id\";i:3;s:21:\"billing_customer_name\";i:4;s:17:\"billing_last_name\";i:5;s:15:\"billing_address\";i:6;s:17:\"billing_address_2\";i:7;s:12:\"billing_city\";i:8;s:13:\"billing_state\";i:9;s:15:\"billing_country\";i:10;s:15:\"billing_pincode\";i:11;s:13:\"billing_email\";i:12;s:13:\"billing_phone\";i:13;s:19:\"shipping_is_billing\";i:14;s:22:\"shipping_customer_name\";i:15;s:18:\"shipping_last_name\";i:16;s:16:\"shipping_address\";i:17;s:18:\"shipping_address_2\";i:18;s:13:\"shipping_city\";i:19;s:16:\"shipping_country\";i:20;s:16:\"shipping_pincode\";i:21;s:14:\"shipping_state\";i:22;s:14:\"shipping_email\";i:23;s:14:\"shipping_phone\";i:24;s:11:\"order_items\";i:25;s:14:\"payment_method\";i:26;s:16:\"shipping_charges\";i:27;s:16:\"giftwrap_charges\";i:28;s:19:\"transaction_charges\";i:29;s:14:\"total_discount\";i:30;s:9:\"sub_total\";}}s:26:\"CreateLinkedOrder.Response\";O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"Create
  linked order. response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"status_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:11:\"status_code\";}}s:23:\"CreateQuickOrderRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:26:\"Create
  quick order request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":31:{s:8:\"order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"order_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"channel_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"billing_customer_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"billing_last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"billing_address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"billing_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"billing_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"billing_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"billing_pincode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"billing_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"billing_phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"shipping_is_billing\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:22:\"shipping_customer_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"shipping_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_pincode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"order_items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:14:\"payment_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_charges\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"giftwrap_charges\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:19:\"transaction_charges\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"total_discount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"sub_total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:31:{i:0;s:8:\"order_id\";i:1;s:10:\"order_date\";i:2;s:10:\"channel_id\";i:3;s:21:\"billing_customer_name\";i:4;s:17:\"billing_last_name\";i:5;s:15:\"billing_address\";i:6;s:17:\"billing_address_2\";i:7;s:12:\"billing_city\";i:8;s:13:\"billing_state\";i:9;s:15:\"billing_country\";i:10;s:15:\"billing_pincode\";i:11;s:13:\"billing_email\";i:12;s:13:\"billing_phone\";i:13;s:19:\"shipping_is_billing\";i:14;s:22:\"shipping_customer_name\";i:15;s:18:\"shipping_last_name\";i:16;s:16:\"shipping_address\";i:17;s:18:\"shipping_address_2\";i:18;s:13:\"shipping_city\";i:19;s:16:\"shipping_country\";i:20;s:16:\"shipping_pincode\";i:21;s:14:\"shipping_state\";i:22;s:14:\"shipping_email\";i:23;s:14:\"shipping_phone\";i:24;s:11:\"order_items\";i:25;s:14:\"payment_method\";i:26;s:16:\"shipping_charges\";i:27;s:16:\"giftwrap_charges\";i:28;s:19:\"transaction_charges\";i:29;s:14:\"total_discount\";i:30;s:9:\"sub_total\";}}s:24:\"CreateQuickOrderResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:27:\"Create
  quick order response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"status_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:11:\"status_code\";}}s:15:\"DetailsResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"Details
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:22:\"GetInventoriesResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:24:\"Get
  inventories response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"meta\";}}s:23:\"UpdateInventoryResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:25:\"Update
  inventory response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:27:\"CheckServiceabilityResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"Check
  serviceability response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:4:\"data\";}}s:26:\"PickupAvailabilityResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:28:\"Pickup
  availability response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:4:\"data\";}}s:28:\"DeliveryAvailabilityResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:30:\"Delivery
  availability response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:4:\"data\";}}s:29:\"SetCouriersPreferencesRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:32:\"Set
  couriers preferences request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"courier_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"required\";a:1:{i:0;s:10:\"courier_id\";}}s:30:\"SetCouriersPreferencesResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:33:\"Set
  couriers preferences response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"courier_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"courier_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"preference_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"address_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"company_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:12:\"courier_name\";i:1;s:10:\"courier_id\";i:2;s:13:\"preference_id\";i:3;s:10:\"address_id\";i:4;s:10:\"company_id\";i:5;s:4:\"date\";}}s:23:\"GetCouriersListResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:26:\"Get
  couriers list response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"couriers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:1:{i:0;s:8:\"couriers\";}}s:26:\"SetCouriersPriorityRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"Set
  couriers priority request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"courier_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"required\";a:1:{i:0;s:10:\"courier_id\";}}s:27:\"SetCouriersPriorityResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:30:\"Set
  couriers priority response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:1:{i:0;s:6:\"status\";}}s:30:\"GetCouriersPreferencesResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:33:\"Get
  couriers preferences response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"preference_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"courier_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"courier_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:13:\"preference_id\";i:2;s:10:\"courier_id\";i:3;s:12:\"courier_name\";}}s:18:\"AwbCreationRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"Awb
  creation request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"shipment_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:10:\"courier_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:11:\"shipment_id\";i:1;s:10:\"courier_id\";}}s:19:\"AwbCreationResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"Awb
  creation response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"awb_assign_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"response\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:17:\"awb_assign_status\";i:1;s:8:\"response\";}}s:20:\"AwbCreationRequest51\";O:8:\"stdClass\":4:{s:5:\"title\";s:22:\"Awb
  creation request51\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"shipment_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"required\";a:1:{i:0;s:11:\"shipment_id\";}}s:20:\"AwbCreationRequest52\";O:8:\"stdClass\":4:{s:5:\"title\";s:22:\"Awb
  creation request52\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"shipment_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:10:\"courier_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"manifest_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"channel_order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:11:\"shipment_id\";i:1;s:10:\"courier_id\";i:2;s:6:\"weight\";i:3;s:11:\"manifest_id\";i:4;s:16:\"channel_order_id\";i:5;s:6:\"status\";}}s:21:\"PickupCreationRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"Pickup
  creation request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"shipment_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"required\";a:1:{i:0;s:11:\"shipment_id\";}}s:22:\"PickupCreationResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:24:\"Pickup
  creation response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"pickup_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"response\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"manifest_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:13:\"pickup_status\";i:1;s:8:\"response\";i:2;s:12:\"manifest_url\";}}s:23:\"PickupCreationRequest57\";O:8:\"stdClass\":4:{s:5:\"title\";s:25:\"Pickup
  creation request57\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"shipment_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:12:\",manifest_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"shipment_id\";i:1;s:12:\",manifest_id\";i:2;s:6:\"status\";}}s:20:\"GenerateLabelRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:22:\"Generate
  Label request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"shipment_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"required\";a:1:{i:0;s:11:\"shipment_id\";}}s:21:\"GenerateLabelResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"Generate
  Label response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"label_created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"label_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:13:\"label_created\";i:1;s:9:\"label_url\";i:2;s:8:\"response\";}}s:18:\"AwbTrackingRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"AWB
  Tracking request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"awb_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"required\";a:1:{i:0;s:8:\"awb_code\";}}s:19:\"AwbTrackingResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"AWB
  Tracking response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"tracking_data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:13:\"tracking_data\";}}s:23:\"ShipmentTrackingRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:25:\"Shipment
  Tracking request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"shipment_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"required\";a:1:{i:0;s:11:\"shipment_id\";}}s:24:\"ShipmentTrackingResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:26:\"Shipment
  Tracking response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"tracking_data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:13:\"tracking_data\";}}s:19:\"DiscrepancyResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"Discrepancy
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"upper_fold_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"lower_fild_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:4:\"data\";i:2;s:15:\"upper_fold_text\";i:3;s:15:\"lower_fild_text\";}}s:16:\"SatementResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:17:\"Satement
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"meta\";}}}"
...
