---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:126:\"API Oracle Commmerce
  11.1 do Rede Natura consumida atualmente pelo gateway da Sensedia que as exp\xF5e
  para o uso do APP mobile.\";s:7:\"version\";s:5:\"0.0.1\";s:5:\"title\";s:32:\"Rede
  Natura Oracle Commerce APIs\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:31:\"compasso-natura@compasso.com.br\";}}"
host: apis.natura.com.br
basePath: /v1/legacy/ecommerce/rest/model
paths:
  /atg/userprofiling/ProfileActor/create:
    post:
      tags:
      - User - Create
      summary: Cadastra um usuu00e1rio novo
      description: Operau00e7u00e3o de criau00e7u00e3o do usuu00e1rio
      operationId: create
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto de usuu00e1rio que precisa ser criado na loja.
        required: true
        schema:
          $ref: '#/definitions/ProfileActorCreate'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/userprofiling/ProfileActor/update:
    post:
      tags:
      - User - Update
      summary: Atualiza os dados do usuu00e1rio
      description: Operau00e7u00e3o de atualizau00e7u00e3o dos dados informados do
        usuu00e1rio
      operationId: update
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para realizar o update dos dados do usuu00e1rio
        required: true
        schema:
          $ref: '#/definitions/ProfileActorUpdate'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/userprofiling/ProfileActor/login:
    post:
      tags:
      - User - Login
      summary: Realiza o login
      description: Realiza o login com o usuu00e1rio e a senha informada
      operationId: login
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto de necessu00e1rio para realizar o login do usuu00e1rio.
        required: true
        schema:
          $ref: '#/definitions/ProfileActorLogin'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/userprofiling/ProfileActor/logout:
    post:
      tags:
      - User - Logout
      summary: Realiza o logout
      description: Realiza o logout do usuu00e1rio logado
      operationId: logout
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/userprofiling/ProfileActor/detailed:
    get:
      tags:
      - User - Detailed
      summary: Detalhes do usuu00e1rio
      description: Retorna os dados do usuu00e1rio
      operationId: detailed
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/userprofiling/ProfileActor/resetPassword:
    post:
      tags:
      - User - Reset Password
      summary: Reset da senha via email
      description: Realiza o reset da senha atravu00e9s do envio de email para renovar
        a senha com o link enviado
      operationId: resetPassword
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto de necessu00e1rio para realizar o reset da senha via email.
        required: true
        schema:
          $ref: '#/definitions/ProfileActorResetPassword'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/userprofiling/ProfileActor/updatePassword:
    post:
      tags:
      - User - Update Password
      summary: Update da senha do usuau00b4rio
      description: Atualiza a senha do usuu00e1rio informando a senha antiga e a senha
        nova
      operationId: updatePassword
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto de necessu00e1rio para realizar o update da senha.
        required: true
        schema:
          $ref: '#/definitions/ProfileActorUpdatePassword'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/userprofiling/ProfileActor/allAddresses:
    get:
      tags:
      - User - All Addresses
      summary: Endereu00e7os do usuu00e1rio
      description: Retorna todos os endereu00e7os do usuu00e1rio
      operationId: allAddresses
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/userprofiling/ProfileActor/newAddress:
    post:
      tags:
      - User - New Address
      summary: Adiciona um novo endereu00e7o
      description: Adiciona um novo endereu00e7o para o usuu00e1rio logado
      operationId: newAddress
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para remover o endereu00e7o do usuu00e1rio
        required: true
        schema:
          $ref: '#/definitions/ProfileActorNewAddress'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/userprofiling/ProfileActor/removeAddress:
    post:
      tags:
      - User - Remove Address
      summary: Remove o endereu00e7o do usuu00e1rio
      description: Remove o endereu00e7o informado do usuu00e1rio
      operationId: removeAddress
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para remover o endereu00e7o do usuu00e1rio
        required: true
        schema:
          $ref: '#/definitions/ProfileActorRemoveAddress'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/userprofiling/ProfileActor/updateAddress:
    post:
      tags:
      - User - Update Address
      summary: Atualiza o endereu00e7o do usuu00e1rio
      description: Atualiza o endereu00e7o informado do usuu00e1rio
      operationId: updateAddress
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para remover o endereu00e7o do usuu00e1rio
        required: true
        schema:
          $ref: '#/definitions/ProfileActorUpdateAddress'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/rest/userprofiling/ProfileActor/selectCnd:
    post:
      tags:
      - User - Select CND
      summary: Seleciona o CND para o pedido vigente
      description: Serviu00e7o que seleciona o consultor para o pedido atual do usuu00e1rio.
      operationId: selectCnd
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para buscar selecionar o consultor para
          opedido atual do usuu00e1rio
        required: true
        schema:
          $ref: '#/definitions/ProfileActorSelectCnd'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/ProfileActor/getCreditCards:
    get:
      tags:
      - User - Get Credit Cards
      summary: Cartu00f5es do usuu00e1rio
      description: Retorna os cartu00f5es salvos do usuu00e1rio
      operationId: getCreditCards
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/ProfileActor/updateCreditCard:
    post:
      tags:
      - User - Update Credit Card
      summary: Atualiza alguns paru00e2metros do cartu00e3o salvo informado
      description: Serviu00e7o que atualiza o cartu00e3o preferido do usuu00e1rio.
        Tambu00e9m u00e9 possu00edvel escolher novo nickname para o cartu00e3o informado.
      operationId: updateCreditCard
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para buscar selecionar o consultor para
          opedido atual do usuu00e1rio
        required: true
        schema:
          $ref: '#/definitions/ProfileActorUpdateCreditCard'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/ProfileActor/removeCreditCard:
    post:
      tags:
      - User - Remove Credit Card
      summary: Remove o cartu00e3o informado
      description: Serviu00e7o que remove o cartu00e3o informado do usuu00e1rio do
        usuu00e1rio
      operationId: removeCreditCard
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para remover o cartu00e3o do usuu00e1rio
        required: true
        schema:
          $ref: '#/definitions/ProfileActorRemoveCreditCard'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/rest/commerce/shipping/ShippingActor/getAddress:
    post:
      tags:
      - Shipping - Address By CEP
      summary: Endereu00e7o por CEP
      description: Serviu00e7o que independe do usuu00e1rio logado. Ele retorna o
        endereu00e7o atravu00e9s do CEP informado, chamando o webservice do MotorBio.
      operationId: getAddress
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para buscar os dados de endereu00e7o no
          MotorBio
        required: true
        schema:
          $ref: '#/definitions/ShippingActorGetAddress'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/rest/userprofiling/CndActor/detailed:
    post:
      tags:
      - Cnd - Detailed
      summary: Detalhes do consultor Natura
      description: Serviu00e7o que retorna os dados do consultor atru00e1ves do nome
        do espau00e7o informado. Independe do usuu00e1rio logado
      operationId: cndActorDetailed
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para buscar os dados do consultor na base
          do Oracle Commerce
        required: true
        schema:
          $ref: '#/definitions/CndActorDetailed'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/CndActor/getByName:
    post:
      tags:
      - Cnd - Get By Name
      summary: Busca as CNDs pelo nome
      description: Serviu00e7o que retorna os consultores com o nome informado
      operationId: getByName
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para buscar os consultores na base do Oracle
          Commerce
        required: true
        schema:
          $ref: '#/definitions/CndActorGetByName'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/CndActor/getByPostalCode:
    post:
      tags:
      - Cnd - Get By CEP
      summary: Busca as CNDs pelo nome
      description: Serviu00e7o que retorna os consultores que atendem no CEP informado
      operationId: getByPostalCode
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para buscar os consultores na base do Oracle
          Commerce
        required: true
        schema:
          $ref: '#/definitions/CndActorGetByCEP'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/commerce/order/purchase/CartModifierActor/addItemToOrder:
    post:
      tags:
      - Order - Add Item to Order
      summary: Adiciona item na sacola
      description: Serviu00e7o que adiciona sku na sacola do usuu00e1rio logado.
      operationId: addItemToOrder
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para adicionar itens na sacola do usuu00e1rio
          logado
        required: true
        schema:
          $ref: '#/definitions/CartModifierActorAddItemToOrder'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/commerce/order/purchase/CartModifierActor/removeItemFromOrder:
    post:
      tags:
      - Order - Remove Item from Order
      summary: Remove item da sacola
      description: Serviu00e7o que remove a sku informada da sacola do usuu00e1rio
        logado.
      operationId: removeItemFromOrder
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para remover itens na sacola do usuu00e1rio
          logado
        required: true
        schema:
          $ref: '#/definitions/CartModifierActorRemoveItemFromOrder'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/rest/commerce/order/purchase/CartModifierActor/setItemQuantity:
    post:
      tags:
      - Order - Update Quantity Sku
      summary: Remove item da sacola
      description: Serviu00e7o que altera a quantidade do item informado na sacola.
      operationId: setItemQuantity
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para atualizar a quantidade de skus do
          pedido.
        required: true
        schema:
          $ref: '#/definitions/CartModifierActorSetItemQuantity'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/commerce/ShoppingCartActor/getShoppingCartOrder:
    get:
      tags:
      - Order - Get Order Details
      summary: Detalhes do pedido do usuu00e1rio logado
      description: Serviu00e7o que retorna o pedido atual do usuu00e1rio
      operationId: getShoppingCartOrder
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/commerce/ShoppingCartActor/getCartItems:
    get:
      tags:
      - Order - Get Current Bag
      summary: Sacola atual do usuu00e1rio logado
      description: Serviu00e7o que retorna a sacola atual do usuu00e1rio
      operationId: getCartItems
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/rest/commerce/order/OrderActor/getShippingMethods:
    get:
      tags:
      - Order - Get Shipping Methods
      summary: Detalhes do pedido do usuu00e1rio logado
      description: Serviu00e7o que retorna os mu00e9todos de entrega de acordo com
        os valores retornados do MotorBio
      operationId: getShippingMethods
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/ShippingActor/setShippingType:
    post:
      tags:
      - Order - Set Shipping Type
      summary: Seleciona o tipo de entrega do pedido
      description: Serviu00e7o que seleciona o mu00e9todo de entrega do pedido.
      operationId: setShippingType
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para selecionar o tipo de entrega para
          o pedido do usuu00e1rio
        required: true
        schema:
          $ref: '#/definitions/ShippingActorSetShippingType'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/ClaimableActor/setCouponCode:
    post:
      tags:
      - Order - Set Coupon Code
      summary: Seleciona o cupom para o pedido
      description: Serviu00e7o que aplica um cupom no pedido do usuu00e1rio logado.
      operationId: setCouponCode
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para selecionar um cupom para o pedido
        required: true
        schema:
          $ref: '#/definitions/ClaimableActorSetCouponCode'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/commerce/gifts/ClaimableActor/removeCouponFromUserSessionCart:
    post:
      tags:
      - Order - Remove Coupon
      summary: Remove o cupom do pedido
      description: Serviu00e7o que remove o cupom aplicado ao pedido do usuu00e1rio
        logado.
      operationId: removeCouponFromUserSessionCart
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /rest/commerce/order/OrderActor/orderToGift:
    post:
      tags:
      - Order - Set Order Gift
      summary: Adiciona uma embalagem de presente ao pedido
      description: Serviu00e7o que aplica uma embalagem de presente no pedido.
      operationId: orderToGift
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para configurar o pedido como um presente
        required: true
        schema:
          $ref: '#/definitions/OrderActorOrderToGift'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /atg/commerce/order/purchase/CartModifierActor/removeFormatGiftFromOrder:
    post:
      tags:
      - Order - Remove Order Gift
      summary: Remove a embalagem de presente do pedido
      description: Serviu00e7o que remove a embalagem de presente no pedido.
      operationId: removeFormatGiftFromOrder
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/ShoppingCartActor/listInstallments:
    get:
      tags:
      - Order - List Installments
      summary: Retorna as opu00e7u00f5es de parcelamento do pedido
      description: Serviu00e7o que lista as opu00e7u00f5es de parcelamento do pedido.
      operationId: listInstallments
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /rest/commerce/order/OrderActor/getOrdersDetailed:
    post:
      tags:
      - Order - Get Order Details
      summary: Retorna os detalhes do pedido informado
      description: Serviu00e7o retorna os dados do pedido informado na solicitau00e7u00e3o.
      operationId: getOrdersDetailed
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para retornar os dados do pedido.
        required: true
        schema:
          $ref: '#/definitions/OrderActorGetOrdersDetailed'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/EstoreActor/getStoreProperties:
    get:
      tags:
      - Store - Get Store Properties
      summary: Retorna alguns store properties da loja
      description: '''Serviu00e7o  que retorna alguns dados do store properties (Ex:
        cnd default, oneClickEnabled, mvpActive, etc).'''
      operationId: getStoreProperties
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/EndecaActor/search:
    post:
      tags:
      - Endeca - Search
      summary: Realiza uma busca nos produtos do Oracle Commerce
      description: '''Retorna os produtos que deram match na palavra utilizada na
        busca de acordo com uma query na engine do Endeca do Oracle Commerce'''
      operationId: search
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para realizar uma busca no Oracle Commerce
        required: true
        schema:
          $ref: '#/definitions/EndecaActorSearch'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/integration/ZupActor/lines:
    get:
      tags:
      - Endeca - Lines
      summary: Retorna o conteu00fado estu00e1tico cadastrado para as linhas da Loja
      description: '''Retorna o conteu00fado html do endeca cadastro no Endeca em
        /content/Web/${endecaCountry}/Lines'''
      operationId: lines
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/integration/ZupActor/menu:
    get:
      tags:
      - Endeca - Menu
      summary: Retorna o conteu00fado estu00e1tico cadastrado para o menu da loja
      description: '''Retorna o menu cadastrado no endeca em /content/Web/${endecaCountry}/Menu_Header'''
      operationId: menu
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/ShippingActor/moveToBilling:
    post:
      tags:
      - Order - Move To Billing
      summary: Serviu00e7o que seleciona o endereu00e7o do usuu00e1rio
      description: Serviu00e7o que seleciona o endereu00e7o do usuu00e1rio.
      operationId: moveToBilling
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para selecionar o endereu00e7o do usuu00e1rio
          no pedido
        required: true
        schema:
          $ref: '#/definitions/ShippingActorMoveToBilling'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/ProfileActor/paymentOrderTransmission:
    post:
      tags:
      - Order - Stock MotorBio Transmission
      summary: Realiza o empenho de estoque no MotorBio
      description: Serviu00e7o de empenho de estoque no motorbio para os itens da
        sacola..
      operationId: paymentOrderTransmission
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
  /natura/api/CartModifierActor/commitOrder:
    post:
      tags:
      - Order - Commit Order
      summary: Finaliza o pedido
      description: Serviu00e7o que finaliza o pedido no Oracle Commerce e integra
        o pedido com o MOIPV2.
      operationId: commitOrder
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: client_id
        description: Client ID da Sensedia
        type: string
        format: string
        default: a237e675-32fd-3f88-a2b1-1c9bb54b594b
        required: true
      - in: header
        name: acess_token
        description: Token de acesso da Sensedia
        type: string
        format: string
        default: 2f2ef6a2-fb8a-31cf-88a1-b781d5d93and
        required: true
      - in: header
        name: siteId
        description: Id do Site no Oracle Commerce para diferenciar o pau00eds da
          aplicau00e7u00e3o.
        type: string
        default: natura-site
      - in: body
        name: body
        description: Objeto necessu00e1rio para finalizar o pedido
        required: true
        schema:
          $ref: '#/definitions/CartModifierActorCommitOrder'
      responses:
        200:
          description: Sucesso
          schema:
            $ref: '#/definitions/ResponseSuccess'
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":34:{s:18:\"ProfileActorCreate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:9:\"firstName\";i:1;s:5:\"email\";i:2;s:8:\"password\";i:3;s:15:\"confirmPassword\";}s:10:\"properties\";O:8:\"stdClass\":17:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Fabiano\";}s:10:\"middleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Ricardo\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Farias\";}s:3:\"cpf\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"887.042.310-74\";}s:2:\"rg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"10000000000\";}s:11:\"dateOfBirth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"10/12/1990\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"male\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"fabiano.farias@natura.com.br\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"natura123\";}s:15:\"confirmPassword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"natura123\";}s:5:\"login\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"fabiano.farias@natura.com.br\";}s:12:\"infContOptIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:17:\"receiveNewsLetter\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:20:\"receiveNewsLetterSms\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:9:\"homePhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"(54)3321-9791\";}s:9:\"cellPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"(54)99998-9791\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"ProfileCreate\";}}s:18:\"ProfileActorUpdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Fabiano\";}s:10:\"middleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Ricardo\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Farias\";}s:3:\"cpf\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"887.042.310-74\";}s:2:\"rg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"10000000000\";}s:11:\"dateOfBirth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"10/12/1990\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"male\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"fabiano.farias@natura.com.br\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"natura123\";}s:15:\"confirmPassword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"natura123\";}s:5:\"login\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"fabiano.farias@natura.com.br\";}s:12:\"infContOptIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:17:\"receiveNewsLetter\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:20:\"receiveNewsLetterSms\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:9:\"homePhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"(54)3321-9791\";}s:9:\"cellPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"(54)99998-9791\";}s:7:\"realmId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"brazil-realm\";}s:3:\"rut\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"33444111-3\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"ProfileUpdate\";}}s:17:\"ProfileActorLogin\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"login\";i:1;s:8:\"password\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"login\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Login
  do usu\xE1rio\";s:7:\"example\";s:28:\"fabiano.farias@natura.com.br\";}s:8:\"password\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Senha
  de login\";s:7:\"example\";s:9:\"natura123\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"ProfileLogin\";}}s:25:\"ProfileActorResetPassword\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"email\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Email
  do usu\xE1rio\";s:7:\"example\";s:28:\"fabiano.farias@natura.com.br\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:20:\"ProfileResetPassword\";}}s:26:\"ProfileActorUpdatePassword\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:17:\"updateNewPassword\";i:1;s:21:\"updateConfirmPassword\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"updateNewPassword\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Nova
  senha\";s:7:\"example\";s:11:\"newPassword\";}s:21:\"updateConfirmPassword\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Confirma\xE7\xE3o
  da nova senha\";s:7:\"example\";s:11:\"newPassword\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:20:\"ProfileResetPassword\";}}s:22:\"ProfileActorNewAddress\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:9:{i:0;s:9:\"firstName\";i:1;s:8:\"lastName\";i:2;s:7:\"address\";i:3;s:11:\"houseNumber\";i:4;s:4:\"city\";i:5;s:5:\"state\";i:6;s:10:\"postalCode\";i:7;s:12:\"neighborhood\";i:8;s:11:\"phoneNumber\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"CEP\";s:7:\"example\";s:9:\"99709-228\";}s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"Rua\";s:7:\"example\";s:24:\"Avenida
  Sete de Setembro\";}s:11:\"houseNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:357;}s:10:\"complement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Complemento
  do Endere\xE7o\";s:7:\"example\";s:8:\"APTO 101\";}s:12:\"neighborhood\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Bairro\";s:7:\"example\";s:15:\"S\xE3o
  cristov\xE3o\";}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Estado\";s:7:\"example\";s:2:\"RS\";}s:4:\"city\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Cidade\";s:7:\"example\";s:7:\"Erechim\";}s:7:\"country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Pa\xEDs\";s:7:\"example\";s:2:\"BR\";}s:15:\"addressNickname\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Apelido
  do endere\xE7o\";s:7:\"example\";s:4:\"Casa\";}s:14:\"referencePoint\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Ponto
  de refer\xEAncia\";s:7:\"example\";s:29:\"Pr\xF3ximo a pra\xE7a da bandeira\";}s:9:\"firstName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Nome
  do usu\xE1rio\";s:7:\"example\";s:7:\"Fabiano\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Sobrenome
  do usu\xE1rio\";s:7:\"example\";s:6:\"Farias\";}s:11:\"phoneNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Telefone
  do usu\xE1rio\";s:7:\"example\";s:13:\"(54)3321-9791\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Tipo
  do endere\xE7o\";s:7:\"example\";s:11:\"residencial\";}s:4:\"line\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"line\";}s:8:\"jobTitle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Profiss\xE3o
  do usu\xE1rio\";s:7:\"example\";s:13:\"Desenvolvedor\";}s:17:\"setBillingAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"Configura
  como endere\xE7o de cobran\xE7a\";s:7:\"example\";b:1;}s:18:\"setShippingAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:35:\"Configura
  como endere\xE7o de entrega\";s:7:\"example\";b:1;}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"ProfileNewAddress\";}}s:25:\"ProfileActorRemoveAddress\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"addressId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"addressId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"Id
  do endere\xE7o no Oracle Commerce (pode aparecer em outros servi\xE7os como addrKey)\";s:7:\"example\";s:9:\"155892629\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:20:\"ProfileResetPassword\";}}s:25:\"ProfileActorUpdateAddress\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"addrKey\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"addrKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Id
  do endere\xE7o no Oracle Commerce\";s:7:\"example\";s:9:\"155892629\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:25:\"ProfileActorUpdateAddress\";}}s:23:\"ShippingActorGetAddress\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"postalCode\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"CEP
  para consulta\";s:7:\"example\";s:9:\"99709-228\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"ShippingActorGetAddress\";}}s:16:\"CndActorDetailed\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"personNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Person
  Number do consultor\";s:7:\"example\";s:9:\"895476410\";}s:6:\"userID\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Nome
  do espa\xE7o do consultor\";s:7:\"example\";s:13:\"barbaravillar\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"CndActorDetailed\";}}s:17:\"CndActorGetByName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Nome
  do consultor\";s:7:\"example\";s:7:\"Barbara\";}s:4:\"page\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"P\xE1gina
  para ser retornada. Para casos que o n\xFAmero total de consultores retornados \xE9
  maior que o limite definito no par\xE2metro limit\";s:7:\"example\";s:1:\"2\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Limite
  de consultores para ser retornado. Para casos que o n\xFAmero total de consultores
  retornados \xE9 muito grande\";s:7:\"example\";s:2:\"10\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"CndActorGetByName\";}}s:16:\"CndActorGetByCEP\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"CEP
  do consultor\";s:7:\"example\";s:9:\"99709-228\";}s:4:\"page\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"P\xE1gina
  para ser retornada. Para casos que o n\xFAmero total de consultores retornados \xE9
  maior que o limite definito no par\xE2metro limit\";s:7:\"example\";s:1:\"2\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Limite
  de consultores para ser retornado. Para casos que o n\xFAmero total de consultores
  retornados \xE9 muito grande\";s:7:\"example\";s:2:\"10\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"CndActorGetByName\";}}s:21:\"ProfileActorSelectCnd\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"personNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Person
  Number do consultor a ser selecionado\";s:7:\"example\";s:8:\"88225003\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:21:\"ProfileActorSelectCnd\";}}s:28:\"ProfileActorUpdateCreditCard\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Key
  do cart\xE3o informado\";s:7:\"example\";s:21:\"mastercard XXX - 8884\";}s:6:\"newKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Nova
  key para o cart\xE3o informado\";s:7:\"example\";s:15:\"itau mastercard\";}s:9:\"preferred\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"Escolhe
  se o cart\xE3o informado \xE9 definido como preferencial\";s:7:\"example\";b:1;}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:28:\"ProfileActorUpdateCreditCard\";}}s:28:\"ProfileActorRemoveCreditCard\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RemoveCreditCard\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:28:\"ProfileActorRemoveCreditCard\";}}s:31:\"CartModifierActorAddItemToOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Id
  do produto que cont\xE9m a sku que ser\xE1 adicionada na sacola\";s:7:\"example\";s:8:\"pid41808\";}s:3:\"sku\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Id
  da sku que ser\xE1 adicionado na sacola\";s:7:\"example\";s:5:\"41808\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"Quantidade
  de skus que ser\xE3o adicionados na sacola\";s:7:\"example\";i:1;}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:31:\"CartModifierActorAddItemToOrder\";}}s:36:\"CartModifierActorRemoveItemFromOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"sku\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Id
  da sku que ser\xE1 removida da sacola\";s:7:\"example\";s:5:\"41808\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:31:\"CartModifierActorAddItemToOrder\";}}s:32:\"CartModifierActorSetItemQuantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SetItemQuantity\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:32:\"CartModifierActorSetItemQuantity\";}}s:28:\"CartModifierActorCommitOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CommitOrder\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:28:\"CartModifierActorCommitOrder\";}}s:28:\"ShippingActorSetShippingType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SetShippingType\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:28:\"ShippingActorSetShippingType\";}}s:26:\"ShippingActorMoveToBilling\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MoveToBilling\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:26:\"ShippingActorMoveToBilling\";}}s:27:\"ClaimableActorSetCouponCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SetCouponCode\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:27:\"ClaimableActorSetCouponCode\";}}s:21:\"OrderActorOrderToGift\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"from\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Quem
  est\xE1 enviando o presente\";s:7:\"example\";s:17:\"Fabiano R. Farias\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Quem
  ir\xE1 receber o presente\";s:7:\"example\";s:18:\"Scarlett Johansson\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Mensagem
  de presente\";s:7:\"example\";s:48:\"Presente para a namorada mais linda desse mundo!\";}s:5:\"skuId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Id
  da sku da embalagem de presente\";s:7:\"example\";s:9:\"nir500001\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Id
  da produto que cont\xE9m a sku da embalagem de presente\";s:7:\"example\";s:6:\"nir123\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:21:\"OrderActorOrderToGift\";}}s:27:\"OrderActorGetOrdersDetailed\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"orderId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"Id
  do pedido que se deseja consultor os dados. PS: Id do Pedido no Oracle Commerce
  e n\xE3o o Order Number\";s:7:\"example\";s:9:\"136880058\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:27:\"OrderActorGetOrdersDetailed\";}}s:17:\"EndecaActorSearch\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"query\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Palavra
  de busca \";s:7:\"example\";s:5:\"batom\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:132:\"P\xE1gina
  para ser retornada. Para casos que o n\xFAmero total de produtos retornados \xE9
  maior que o limite definito no par\xE2metro limit\";s:7:\"example\";i:1;}s:5:\"limit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Limite
  de produtos para serem retornados.\";s:7:\"example\";i:10;}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"EndecaActorSearch\";}}s:13:\"SetCouponCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"couponCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"C\xF3digo
  do cupom\";s:7:\"example\";s:5:\"10OFF\";}}}s:16:\"RemoveCreditCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"key\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Chave
  do cart\xE3o salvo na base do Oracle Commerce\";s:7:\"example\";s:21:\"mastercard
  XXX - 8884\";}}}s:15:\"SetItemQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Quantidade
  de skus para serem atualizadas no pedido\";s:7:\"example\";s:1:\"3\";}s:3:\"sku\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Id
  da sku do pedido que ter\xE1 a quantidade atualizada\";s:7:\"example\";s:5:\"41808\";}}}s:15:\"SetShippingType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"shippingType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Tipo
  de entrega do pedido. Tipos de entrega poss\xEDveis: NORMAL, EXPRESS ou SCHEDULED\";s:7:\"example\";s:9:\"SCHEDULED\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Data
  de entrega utilizada apenas para entrega agendada (SCHEDULED)\";s:7:\"example\";s:10:\"13/08/2017\";}s:6:\"period\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:133:\"Per\xEDodo
  de entrega utilizada apenas para entrega agendada (SCHEDULED). Os valores poss\xEDveis
  s\xE3o: 1 (Manh\xE3), 2 (Tarde) e 3 (Noite)\";s:7:\"example\";i:2;}}}s:13:\"MoveToBilling\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"addrKey\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"addrKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Id
  do endere\xE7o do usu\xE1rio no Oracle Commerce\";s:7:\"example\";s:9:\"155892629\";}}}s:11:\"CommitOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"holderName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Nome
  do titular do cart\xE3o\";s:7:\"example\";s:22:\"Fabiano Ricardo Farias\";}s:11:\"paymentType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"Tipo
  de pagamento.\n  Valores poss\xEDveis: \n        - creditCard\n        - boleto\n
  \       - debitCard\";s:7:\"example\";s:10:\"creditCard\";}s:4:\"flag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"'Bandeira
  do cart\xE3o'\";s:7:\"example\";s:4:\"visa\";}s:4:\"hash\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"'Hash
  do cart\xE3o de cr\xE9dito. Esse hash \xE9 obtido pela SDK do MOIP que roda no lado
  do client'\";s:7:\"example\";s:344:\"teTX6WN6YLu2zqsy8w4+O7XL19zEnukVzkOlbOMyIz+8rat1dKpbcPx+m/xtZODX5dscZ7Y0LvuSmB+kd7Nb2MCyWcmk4A+HC3BWfgfVxISfARz0CH8B4PH8ZQCJaWKOBfevQ9+/Nbbgvyw/jQM056A55KgF4P6EiUvfLJ8PK9/UGyOXDqJlV5szqSTjfDixpo6iw03LyQ2NCL+YB6Pyk2qb7w97TdyvvX53oN+Qqqk+e1AEAoI2KSoa1LUZ/MI1WOsT7zYw827hVf7wnm9Ky8WvBnN4e1KhDkFwiBdNFsU4m8nt5Qbjqnquxm2zGmb6a6CN/II+KIFliG5GgypNGg==\";}s:14:\"lastFourDigits\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"'\xDAltimos
  d\xEDgitos do cart\xE3o de cr\xE9dito'\";s:7:\"example\";s:4:\"4111\";}s:15:\"expirationMonth\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"'M\xEAs
  de expira\xE7\xE3o do cart\xE3o de cr\xE9dito'\";s:7:\"example\";s:2:\"08\";}s:14:\"expirationYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"'Ano
  de expira\xE7\xE3o do cart\xE3o de cr\xE9dito'\";s:7:\"example\";s:4:\"2018\";}s:3:\"cpf\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"'CPF
  do titular do cart\xE3o de cr\xE9dito'\";s:7:\"example\";s:11:\"52341176852\";}s:28:\"creditCardVerificationNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"'C\xF3digo
  de verifica\xE7\xE3o do cart\xE3o de cr\xE9dito'\";s:7:\"example\";s:3:\"737\";}s:14:\"numberPayments\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"'Quantidade
  de parcelas do pedido'\";s:7:\"example\";s:1:\"2\";}s:8:\"saveCard\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:68:\"'Flag
  que informa se o cart\xE3o deve ser salvo ap\xF3s fechar o pedido'\";s:7:\"example\";b:1;}s:8:\"bankName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"'Banco
  para d\xE9bito em conta. Apenas se for informado no paymentType: debitCard'\";s:7:\"example\";s:4:\"Itau\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"CommitOrder\";}}s:7:\"Address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"atg-rest-class-type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:17:\"java.util.HashMap\";s:11:\"description\";s:33:\"Classe
  requerida para o endere\xE7o\";s:7:\"example\";s:17:\"java.util.HashMap\";}s:15:\"atg-rest-values\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AddressValues\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Address\";}}s:13:\"AddressValues\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"postalCode\";}s:10:\"properties\";O:8:\"stdClass\":16:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Avenida
  123\";}s:11:\"houseNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:4:\"1234\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"RS\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"01001-001\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"BR\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"5433131313\";}s:11:\"companyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Compasso\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Erechim\";}s:8:\"jobTitle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Desenvolvedor\";}s:4:\"line\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Address2\";}s:10:\"complement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"APTO
  101\";}s:14:\"referencePoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"Pr\xF3ximo
  a pra\xE7a da bandeira'\";}s:15:\"addressNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Casa\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Fabiano\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Farias\";}s:13:\"neighboorhood\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"S\xE3o
  cristov\xE3o\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"AddressValues\";}}s:15:\"ResponseSuccess\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"success\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}"
...
