---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:5316:\"<fullname>AWS
  CodeCommit</fullname> <p>This is the <i>AWS CodeCommit API Reference</i>. This reference
  provides descriptions of the operations and data types for AWS CodeCommit API along
  with usage examples.</p> <p>You can use the AWS CodeCommit API to work with the
  following objects:</p> <p>Repositories, by calling the following:</p> <ul> <li>
  <p> <a>BatchGetRepositories</a>, which returns information about one or more repositories
  associated with your AWS account.</p> </li> <li> <p> <a>CreateRepository</a>, which
  creates an AWS CodeCommit repository.</p> </li> <li> <p> <a>DeleteRepository</a>,
  which deletes an AWS CodeCommit repository.</p> </li> <li> <p> <a>GetRepository</a>,
  which returns information about a specified repository.</p> </li> <li> <p> <a>ListRepositories</a>,
  which lists all AWS CodeCommit repositories associated with your AWS account.</p>
  </li> <li> <p> <a>UpdateRepositoryDescription</a>, which sets or updates the description
  of the repository.</p> </li> <li> <p> <a>UpdateRepositoryName</a>, which changes
  the name of the repository. If you change the name of a repository, no other users
  of that repository will be able to access it until you send them the new HTTPS or
  SSH URL to use.</p> </li> </ul> <p>Branches, by calling the following:</p> <ul>
  <li> <p> <a>CreateBranch</a>, which creates a new branch in a specified repository.</p>
  </li> <li> <p> <a>DeleteBranch</a>, which deletes the specified branch in a repository
  unless it is the default branch.</p> </li> <li> <p> <a>GetBranch</a>, which returns
  information about a specified branch.</p> </li> <li> <p> <a>ListBranches</a>, which
  lists all branches for a specified repository.</p> </li> <li> <p> <a>UpdateDefaultBranch</a>,
  which changes the default branch for a repository.</p> </li> </ul> <p>Files, by
  calling the following:</p> <ul> <li> <p> <a>PutFile</a>, which adds or modifies
  a file in a specified repository and branch.</p> </li> </ul> <p>Information about
  committed code in a repository, by calling the following:</p> <ul> <li> <p> <a>GetBlob</a>,
  which returns the base-64 encoded content of an individual Git blob object within
  a repository.</p> </li> <li> <p> <a>GetCommit</a>, which returns information about
  a commit, including commit messages and author and committer information.</p> </li>
  <li> <p> <a>GetDifferences</a>, which returns information about the differences
  in a valid commit specifier (such as a branch, tag, HEAD, commit ID or other fully
  qualified reference).</p> </li> </ul> <p>Pull requests, by calling the following:</p>
  <ul> <li> <p> <a>CreatePullRequest</a>, which creates a pull request in a specified
  repository.</p> </li> <li> <p> <a>DescribePullRequestEvents</a>, which returns information
  about one or more pull request events.</p> </li> <li> <p> <a>GetCommentsForPullRequest</a>,
  which returns information about comments on a specified pull request.</p> </li>
  <li> <p> <a>GetMergeConflicts</a>, which returns information about merge conflicts
  between the source and destination branch in a pull request.</p> </li> <li> <p>
  <a>GetPullRequest</a>, which returns information about a specified pull request.</p>
  </li> <li> <p> <a>ListPullRequests</a>, which lists all pull requests for a repository.</p>
  </li> <li> <p> <a>MergePullRequestByFastForward</a>, which merges the source destination
  branch of a pull request into the specified destination branch for that pull request
  using the fast-forward merge option.</p> </li> <li> <p> <a>PostCommentForPullRequest</a>,
  which posts a comment to a pull request at the specified line, file, or request.</p>
  </li> <li> <p> <a>UpdatePullRequestDescription</a>, which updates the description
  of a pull request.</p> </li> <li> <p> <a>UpdatePullRequestStatus</a>, which updates
  the status of a pull request.</p> </li> <li> <p> <a>UpdatePullRequestTitle</a>,
  which updates the title of a pull request.</p> </li> </ul> <p>Information about
  comments in a repository, by calling the following:</p> <ul> <li> <p> <a>DeleteCommentContent</a>,
  which deletes the content of a comment on a commit in a repository.</p> </li> <li>
  <p> <a>GetComment</a>, which returns information about a comment on a commit.</p>
  </li> <li> <p> <a>GetCommentsForComparedCommit</a>, which returns information about
  comments on the comparison between two commit specifiers in a repository.</p> </li>
  <li> <p> <a>PostCommentForComparedCommit</a>, which creates a comment on the comparison
  between two commit specifiers in a repository.</p> </li> <li> <p> <a>PostCommentReply</a>,
  which creates a reply to a comment.</p> </li> <li> <p> <a>UpdateComment</a>, which
  updates the content of a comment on a commit in a repository.</p> </li> </ul> <p>Triggers,
  by calling the following:</p> <ul> <li> <p> <a>GetRepositoryTriggers</a>, which
  returns information about triggers configured for a repository.</p> </li> <li> <p>
  <a>PutRepositoryTriggers</a>, which replaces all triggers for a repository and can
  be used to create or delete triggers.</p> </li> <li> <p> <a>TestRepositoryTriggers</a>,
  which tests the functionality of a repository trigger by sending data to the trigger
  target.</p> </li> </ul> <p>For information about how to use AWS CodeCommit, see
  the <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/welcome.html\">AWS
  CodeCommit User Guide</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:14:\"AWS
  CodeCommit\";s:7:\"version\";s:10:\"2015-04-13\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codecommit-2015-04-13.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"codecommit\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"amazonaws_codecommit\";s:4:\"type\";s:7:\"openapi\";}}"
host: codecommit.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":267:{s:9:\"AccountId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"ActorDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  specified Amazon Resource Name (ARN) does not exist in the AWS account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"AdditionalData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Arn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"AuthorDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  specified Amazon Resource Name (ARN) does not exist in the AWS account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"BatchGetRepositoriesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Represents
  the input of a batch get repositories operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"repositoryNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RepositoryNameList\";s:11:\"description\";s:55:\"The
  names of the repositories to get information about.\";}}s:8:\"required\";a:1:{i:0;s:15:\"repositoryNames\";}s:4:\"type\";s:6:\"object\";}s:26:\"BatchGetRepositoriesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Represents
  the output of a batch get repositories operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"repositories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/RepositoryMetadataList\";s:11:\"description\";s:72:\"A
  list of repositories returned by the batch get repositories operation.\";}s:20:\"repositoriesNotFound\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/RepositoryNotFoundList\";s:11:\"description\";s:76:\"Returns
  a list of repository names for which information could not be found.\";}}s:4:\"type\";s:6:\"object\";}s:46:\"BeforeCommitIdAndAfterCommitIdAreSameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"The
  before commit ID and the after commit ID are the same, which is not valid. The before
  commit ID and the after commit ID must be different commit IDs.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"BlobIdDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  specified blob does not exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"BlobIdRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  blob ID is required but was not specified.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"BlobMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Returns
  information about a specific Git blob object.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"blobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:24:\"The
  full ID of the blob.\";}s:4:\"mode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Mode\";s:11:\"description\";s:340:\"<p>The
  file mode permissions of the blob. File mode permission codes include:</p> <ul>
  <li> <p> <code>100644</code> indicates read/write</p> </li> <li> <p> <code>100755</code>
  indicates read/write/execute</p> </li> <li> <p> <code>160000</code> indicates a
  submodule</p> </li> <li> <p> <code>120000</code> indicates a symlink</p> </li> </ul>\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Path\";s:11:\"description\";s:58:\"The
  path to the blob and any associated file name, if any.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BranchDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  specified branch does not exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"BranchInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Returns
  information about a branch.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"branchName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BranchName\";s:11:\"description\";s:23:\"The
  name of the branch.\";}s:8:\"commitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:45:\"The
  ID of the last commit made to the branch.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"BranchName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:25:\"BranchNameExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  specified branch name already exists.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"BranchNameIsTagNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"The
  specified branch name is not valid because it is a tag name. Type the name of a
  current branch in the repository. For a list of valid branch names, use <a>ListBranches</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"BranchNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BranchName\";}s:4:\"type\";s:5:\"array\";}s:27:\"BranchNameRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  branch name is required but was not specified.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"ChangeTypeEnum\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:1:\"A\";i:1;s:1:\"M\";i:2;s:1:\"D\";}s:4:\"type\";s:6:\"string\";}s:18:\"ClientRequestToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:35:\"ClientRequestTokenRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:364:\"A
  client request token is required. A client request token is an unique, client-generated
  idempotency token that when provided in a request, ensures the request cannot be
  repeated with a changed parameter. If a request is received with the same parameters
  and a token is included, the request will return information about the initial request
  that used that token.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"CloneUrlHttp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CloneUrlSsh\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Comment\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Returns
  information about a specific comment.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"authorArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:68:\"The
  Amazon Resource Name (ARN) of the person who posted the comment.\";}s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:301:\"A
  unique, client-generated idempotency token that when provided in a request, ensures
  the request cannot be repeated with a changed parameter. If a request is received
  with the same parameters and a token is included, the request will return information
  about the initial request that used that token.\";}s:9:\"commentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CommentId\";s:11:\"description\";s:32:\"The
  system-generated comment ID.\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Content\";s:11:\"description\";s:27:\"The
  content of the comment.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreationDate\";s:11:\"description\";s:63:\"The
  date and time the comment was created, in timestamp format.\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IsCommentDeleted\";s:11:\"description\";s:64:\"A
  Boolean value indicating whether the comment has been deleted.\";}s:9:\"inReplyTo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CommentId\";s:11:\"description\";s:64:\"The
  ID of the comment for which this comment is a reply, if any.\";}s:16:\"lastModifiedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/LastModifiedDate\";s:11:\"description\";s:78:\"The
  date and time the comment was most recently modified, in timestamp format.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CommentContentRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  comment is empty. You must provide some content for a comment. The content cannot
  be null.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:40:\"CommentContentSizeLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  comment is too large. Comments are limited to 1,000 characters.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"CommentDeletedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"This
  comment has already been deleted. You cannot edit or delete a deleted comment.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"CommentDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"No
  comment exists with the provided ID. Verify that you have provided the correct ID,
  and then try again.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"CommentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"CommentIdRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  comment ID is missing or null. A comment ID is required.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"CommentNotCreatedByCallerException\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"You
  cannot modify or delete this comment. Only comment authors can modify or delete
  their comments.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Comments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}s:4:\"type\";s:5:\"array\";}s:25:\"CommentsForComparedCommit\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Returns
  information about comments on the comparison between two commits.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"afterBlobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:79:\"The
  full blob ID of the commit used to establish the 'after' of the comparison.\";}s:13:\"afterCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:81:\"The
  full commit ID of the commit used to establish the 'after' of the comparison.\";}s:12:\"beforeBlobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:80:\"The
  full blob ID of the commit used to establish the 'before' of the comparison.\";}s:14:\"beforeCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:82:\"The
  full commit ID of the commit used to establish the 'before' of the comparison.\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Comments\";s:11:\"description\";s:120:\"An
  array of comment objects. Each comment object contains information about a comment
  on the comparison between commits.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:182:\"Location
  information about the comment on the comparison, including the file name, line number,
  and whether the version of the file where the comment was made is 'BEFORE' or 'AFTER'.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:62:\"The
  name of the repository that contains the compared commits.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CommentsForComparedCommitData\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/CommentsForComparedCommit\";}s:4:\"type\";s:5:\"array\";}s:22:\"CommentsForPullRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Returns
  information about comments on a pull request.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"afterBlobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:79:\"The
  full blob ID of the file on which you want to comment on the source commit.\";}s:13:\"afterCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:104:\"he
  full commit ID of the commit that was the tip of the source branch at the time the
  comment was made. \";}s:12:\"beforeBlobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:84:\"The
  full blob ID of the file on which you want to comment on the destination commit.\";}s:14:\"beforeCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:251:\"The
  full commit ID of the commit that was the tip of the destination branch when the
  pull request was created. This commit will be superceded by the after commit in
  the source branch when and if you merge the source branch into the destination branch.\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Comments\";s:11:\"description\";s:106:\"An
  array of comment objects. Each comment object contains information about a comment
  on the pull request.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:221:\"Location
  information about the comment on the pull request, including the file name, line
  number, and whether the version of the file where the comment was made is 'BEFORE'
  (destination branch) or 'AFTER' (source branch).\";}s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PullRequestId\";s:11:\"description\";s:44:\"The
  system-generated ID of the pull request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:58:\"The
  name of the repository that contains the pull request.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CommentsForPullRequestData\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/CommentsForPullRequest\";}s:4:\"type\";s:5:\"array\";}s:6:\"Commit\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Returns
  information about a specific commit.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"additionalData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AdditionalData\";s:11:\"description\";s:57:\"Any
  additional data associated with the specified commit.\";}s:6:\"author\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserInfo\";s:11:\"description\";s:204:\"Information
  about the author of the specified commit. Information includes the date in timestamp
  format with GMT offset, the name of the author, and the email address for the author,
  as configured in Git.\";}s:8:\"commitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:38:\"The
  full SHA of the specified commit. \";}s:9:\"committer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserInfo\";s:11:\"description\";s:471:\"<p>Information
  about the person who committed the specified commit, also known as the committer.
  Information includes the date in timestamp format with GMT offset, the name of the
  committer, and the email address for the committer, as configured in Git.</p> <p>For
  more information about the difference between an author and a committer in Git,
  see <a href=\"http://git-scm.com/book/ch2-3.html\">Viewing the Commit History</a>
  in Pro Git by Scott Chacon and Ben Straub.</p>\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:56:\"The
  commit message associated with the specified commit.\";}s:7:\"parents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ParentList\";s:11:\"description\";s:95:\"A
  list of parent commits for the specified commit. Each parent commit ID is the full
  commit ID.\";}s:6:\"treeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:42:\"Tree
  information for the specified commit.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CommitDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  specified commit does not exist or no commit was specified, and the specified repository
  has no default branch.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"CommitId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"CommitIdDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  specified commit ID does not exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"CommitIdRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  commit ID was not specified.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:36:\"CommitMessageLengthExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  commit message is too long. Provide a shorter string. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"CommitName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"CommitRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  commit was not specified.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"Content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"CreateBranchInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Represents
  the input of a create branch operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"branchName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BranchName\";s:11:\"description\";s:37:\"The
  name of the new branch to create.\";}s:8:\"commitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:48:\"The
  ID of the commit to point the new branch to.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:70:\"The
  name of the repository in which you want to create the new branch.\";}}s:8:\"required\";a:3:{i:0;s:14:\"repositoryName\";i:1;s:10:\"branchName\";i:2;s:8:\"commitId\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreatePullRequestInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:479:\"<p>A
  unique, client-generated idempotency token that when provided in a request, ensures
  the request cannot be repeated with a changed parameter. If a request is received
  with the same parameters and a token is included, the request will return information
  about the initial request that used that token.</p> <note> <p>The AWS SDKs prepopulate
  client request tokens. If using an AWS SDK, you do not have to generate an idempotency
  token, as this will be done for you.</p> </note>\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:34:\"A
  description of the pull request.\";}s:7:\"targets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TargetList\";s:11:\"description\";s:249:\"The
  targets for the pull request, including the source of the code to be reviewed (the
  source branch), and the destination where the creator of the pull request intends
  the code to be merged after the pull request is closed (the destination branch).\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Title\";s:11:\"description\";s:117:\"The
  title of the pull request. This title will be used to identify the pull request
  to other users in the repository.\";}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:7:\"targets\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreatePullRequestOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"pullRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PullRequest\";s:11:\"description\";s:49:\"Information
  about the newly created pull request.\";}}s:8:\"required\";a:1:{i:0;s:11:\"pullRequest\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateRepositoryInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Represents
  the input of a create repository operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"repositoryDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RepositoryDescription\";s:11:\"description\";s:456:\"<p>A
  comment or description about the new repository.</p> <note> <p>The description field
  for a repository accepts all HTML characters and all valid Unicode characters. Applications
  that do not HTML-encode the description and display it in a web page could expose
  users to potentially malicious code. Make sure that you HTML-encode the description
  field in any application that uses this API to display the repository description
  on a web page.</p> </note>\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:493:\"<p>The
  name of the new repository to be created.</p> <note> <p>The repository name must
  be unique across the calling AWS account. In addition, repository names are limited
  to 100 alphanumeric, dash, and underscore characters, and cannot include certain
  characters. For a full description of the limits on repository names, see <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/limits.html\">Limits</a>
  in the AWS CodeCommit User Guide. The suffix \".git\" is prohibited.</p> </note>\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateRepositoryOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Represents
  the output of a create repository operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"repositoryMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RepositoryMetadata\";s:11:\"description\";s:47:\"Information
  about the newly created repository.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:37:\"DefaultBranchCannotBeDeletedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"The
  specified branch is the default branch for the repository, and cannot be deleted.
  To delete this branch, you must first set another branch as the default branch.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteBranchInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Represents
  the input of a delete branch operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"branchName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BranchName\";s:11:\"description\";s:33:\"The
  name of the branch to delete.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:66:\"The
  name of the repository that contains the branch to be deleted.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:10:\"branchName\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteBranchOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Represents
  the output of a delete branch operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"deletedBranch\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BranchInfo\";s:11:\"description\";s:130:\"Information
  about the branch deleted by the operation, including the branch name and the commit
  ID that was the tip of the branch.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteCommentContentInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"commentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CommentId\";s:11:\"description\";s:140:\"The
  unique, system-generated ID of the comment. To get this ID, use <a>GetCommentsForComparedCommit</a>
  or <a>GetCommentsForPullRequest</a>.\";}}s:8:\"required\";a:1:{i:0;s:9:\"commentId\";}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteCommentContentOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";s:11:\"description\";s:47:\"Information
  about the comment you just deleted.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteRepositoryInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Represents
  the input of a delete repository operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:37:\"The
  name of the repository to delete.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteRepositoryOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Represents
  the output of a delete repository operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"repositoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RepositoryId\";s:11:\"description\";s:42:\"The
  ID of the repository that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribePullRequestEventsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"actorArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:188:\"The
  Amazon Resource Name (ARN) of the user whose actions resulted in the event. Examples
  include updating the pull request with additional commits or changing the status
  of a pull request.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:172:\"A
  non-negative integer used to limit the number of returned results. The default is
  100 events, which is also the maximum number of events that can be returned in a
  result.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:92:\"An
  enumeration token that when provided in a request, returns the next batch of the
  results.\";}s:20:\"pullRequestEventType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PullRequestEventType\";s:11:\"description\";s:81:\"Optional.
  The pull request event type about which you want to return information.\";}s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PullRequestId\";s:11:\"description\";s:89:\"The
  system-generated ID of the pull request. To get this ID, use <a>ListPullRequests</a>.\";}}s:8:\"required\";a:1:{i:0;s:13:\"pullRequestId\";}s:4:\"type\";s:6:\"object\";}s:31:\"DescribePullRequestEventsOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:91:\"An
  enumeration token that can be used in a request to return the next batch of the
  results.\";}s:17:\"pullRequestEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PullRequestEventList\";s:11:\"description\";s:42:\"Information
  about the pull request events.\";}}s:8:\"required\";a:1:{i:0;s:17:\"pullRequestEvents\";}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:10240;s:4:\"type\";s:6:\"string\";}s:10:\"Difference\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Returns
  information about a set of differences for a commit specifier.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"afterBlob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BlobMetadata\";s:11:\"description\";s:124:\"Information
  about an <code>afterBlob</code> data type object, including the ID, the file mode
  permission code, and the path.\";}s:10:\"beforeBlob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BlobMetadata\";s:11:\"description\";s:124:\"Information
  about a <code>beforeBlob</code> data type object, including the ID, the file mode
  permission code, and the path.\";}s:10:\"changeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChangeTypeEnum\";s:11:\"description\";s:96:\"Whether
  the change type of the difference is an addition (A), deletion (D), or modification
  (M).\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DifferenceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Difference\";}s:4:\"type\";s:5:\"array\";}s:43:\"DirectoryNameConflictsWithFileNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:228:\"A
  file cannot be added to the repository because the specified path name has the same
  name as a file that already exists in this repository. Either provide a different
  name for the file, or specify a different path for the file.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:40:\"EncryptionIntegrityChecksFailedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"An
  encryption integrity check failed.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"EncryptionKeyAccessDeniedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"An
  encryption key could not be accessed.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"EncryptionKeyDisabledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  encryption key is disabled.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"EncryptionKeyNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"No
  encryption key was found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"EncryptionKeyUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  encryption key is not available.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"EventDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"FileContent\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:6291456;s:4:\"type\";s:6:\"string\";}s:28:\"FileContentRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  file cannot be added because it is empty. Empty files cannot be added to the repository
  with this API.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"FileContentSizeLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"The
  file cannot be added because it is too large. The maximum file size that can be
  added using PutFile is 6 MB. For files larger than 6 MB but smaller than 2 GB, add
  them using a Git client.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"FileModeTypeEnum\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:10:\"EXECUTABLE\";i:1;s:6:\"NORMAL\";i:2;s:7:\"SYMLINK\";}s:4:\"type\";s:6:\"string\";}s:43:\"FileNameConflictsWithDirectoryNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:233:\"A
  file cannot be added to the repository because the specified file name has the same
  name as a directory in this repository. Either provide another name for the file,
  or add the file in a directory that does not match the file name.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"FileTooLargeException\";O:8:\"stdClass\":3:{s:11:\"description\";s:231:\"The
  specified file exceeds the file size limit for AWS CodeCommit. For more information
  about limits in AWS CodeCommit, see <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/limits.html\">AWS
  CodeCommit User Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"GetBlobInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Represents
  the input of a get blob operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"blobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:47:\"The
  ID of the blob, which is its SHA-1 pointer.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:50:\"The
  name of the repository that contains the blob.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:6:\"blobId\";}s:4:\"type\";s:6:\"object\";}s:13:\"GetBlobOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Represents
  the output of a get blob operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/blob\";s:11:\"description\";s:40:\"The
  content of the blob, usually a file.\";}}s:8:\"required\";a:1:{i:0;s:7:\"content\";}s:4:\"type\";s:6:\"object\";}s:14:\"GetBranchInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  the input of a get branch operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"branchName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BranchName\";s:11:\"description\";s:66:\"The
  name of the branch for which you want to retrieve information.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:95:\"The
  name of the repository that contains the branch for which you want to retrieve information.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GetBranchOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  the output of a get branch operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"branch\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BranchInfo\";s:11:\"description\";s:23:\"The
  name of the branch.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GetCommentInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"commentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CommentId\";s:11:\"description\";s:140:\"The
  unique, system-generated ID of the comment. To get this ID, use <a>GetCommentsForComparedCommit</a>
  or <a>GetCommentsForPullRequest</a>.\";}}s:8:\"required\";a:1:{i:0;s:9:\"commentId\";}s:4:\"type\";s:6:\"object\";}s:16:\"GetCommentOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";s:11:\"description\";s:28:\"The
  contents of the comment.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GetCommentsForComparedCommitInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"afterCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:92:\"To
  establish the directionality of the comparison, the full commit ID of the 'after'
  commit.\";}s:14:\"beforeCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:93:\"To
  establish the directionality of the comparison, the full commit ID of the 'before'
  commit.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:128:\"A
  non-negative integer used to limit the number of returned results. The default is
  100 comments, and is configurable up to 500.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:93:\"An
  enumeration token that when provided in a request, returns the next batch of the
  results. \";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:61:\"The
  name of the repository where you want to compare commits.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:13:\"afterCommitId\";}s:4:\"type\";s:6:\"object\";}s:34:\"GetCommentsForComparedCommitOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:29:\"commentsForComparedCommitData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/CommentsForComparedCommitData\";s:11:\"description\";s:49:\"A
  list of comment objects on the compared commit.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:91:\"An
  enumeration token that can be used in a request to return the next batch of the
  results.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GetCommentsForPullRequestInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"afterCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:118:\"The
  full commit ID of the commit in the source branch that was the tip of the branch
  at the time the comment was made.\";}s:14:\"beforeCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:131:\"The
  full commit ID of the commit in the destination branch that was the tip of the branch
  at the time the pull request was created.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:154:\"A
  non-negative integer used to limit the number of returned results. The default is
  100 comments. You can return up to 500 comments with a single request.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:92:\"An
  enumeration token that when provided in a request, returns the next batch of the
  results.\";}s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PullRequestId\";s:11:\"description\";s:89:\"The
  system-generated ID of the pull request. To get this ID, use <a>ListPullRequests</a>.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:58:\"The
  name of the repository that contains the pull request.\";}}s:8:\"required\";a:1:{i:0;s:13:\"pullRequestId\";}s:4:\"type\";s:6:\"object\";}s:31:\"GetCommentsForPullRequestOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"commentsForPullRequestData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/CommentsForPullRequestData\";s:11:\"description\";s:48:\"An
  array of comment objects on the pull request.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:91:\"An
  enumeration token that can be used in a request to return the next batch of the
  results.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"GetCommitInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Represents
  the input of a get commit operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"commitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:57:\"The
  commit ID. Commit IDs are the full SHA of the commit.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:56:\"The
  name of the repository to which the commit was made.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:8:\"commitId\";}s:4:\"type\";s:6:\"object\";}s:15:\"GetCommitOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Represents
  the output of a get commit operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"commit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Commit\";s:11:\"description\";s:79:\"A
  commit data type object that contains information about the specified commit.\";}}s:8:\"required\";a:1:{i:0;s:6:\"commit\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetDifferencesInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:68:\"A
  non-negative integer used to limit the number of returned results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:92:\"An
  enumeration token that when provided in a request, returns the next batch of the
  results.\";}s:20:\"afterCommitSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CommitName\";s:11:\"description\";s:84:\"The
  branch, tag, HEAD, or other fully qualified reference used to identify a commit.\";}s:9:\"afterPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Path\";s:11:\"description\";s:226:\"The
  file path in which to check differences. Limits the results to this path. Can also
  be used to specify the changed name of a directory or folder, if it has changed.
  If not specified, differences will be shown for all paths.\";}s:21:\"beforeCommitSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CommitName\";s:11:\"description\";s:355:\"The
  branch, tag, HEAD, or other fully qualified reference used to identify a commit.
  For example, the full commit ID. Optional. If not specified, all changes prior to
  the <code>afterCommitSpecifier</code> value will be shown. If you do not use <code>beforeCommitSpecifier</code>
  in your request, consider limiting the results with <code>maxResults</code>.\";}s:10:\"beforePath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Path\";s:11:\"description\";s:267:\"The
  file path in which to check for differences. Limits the results to this path. Can
  also be used to specify the previous name of a directory or folder. If <code>beforePath</code>
  and <code>afterPath</code> are not specified, differences will be shown for all
  paths.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:61:\"The
  name of the repository where you want to get differences.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:20:\"afterCommitSpecifier\";}s:4:\"type\";s:6:\"object\";}s:20:\"GetDifferencesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:91:\"An
  enumeration token that can be used in a request to return the next batch of the
  results.\";}s:11:\"differences\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DifferenceList\";s:11:\"description\";s:154:\"A
  differences data type object that contains information about the differences, including
  whether the difference is added, modified, or deleted (A, D, M).\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetMergeConflictsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:26:\"destinationCommitSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CommitName\";s:11:\"description\";s:132:\"The
  branch, tag, HEAD, or other fully qualified reference used to identify a commit.
  For example, a branch name or a full commit ID.\";}s:11:\"mergeOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MergeOptionTypeEnum\";s:11:\"description\";s:107:\"The
  merge option or strategy you want to use to merge the code. The only valid value
  is FAST_FORWARD_MERGE.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:62:\"The
  name of the repository where the pull request was created.\";}s:21:\"sourceCommitSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CommitName\";s:11:\"description\";s:132:\"The
  branch, tag, HEAD, or other fully qualified reference used to identify a commit.
  For example, a branch name or a full commit ID.\";}}s:8:\"required\";a:4:{i:0;s:14:\"repositoryName\";i:1;s:26:\"destinationCommitSpecifier\";i:2;s:21:\"sourceCommitSpecifier\";i:3;s:11:\"mergeOption\";}s:4:\"type\";s:6:\"object\";}s:23:\"GetMergeConflictsOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"destinationCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:88:\"The
  commit ID of the destination commit specifier that was used in the merge evaluation.\";}s:9:\"mergeable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IsMergeable\";s:11:\"description\";s:90:\"A
  Boolean value that indicates whether the code is mergable by the specified merge
  option.\";}s:14:\"sourceCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:83:\"The
  commit ID of the source commit specifier that was used in the merge evaluation.\";}}s:8:\"required\";a:3:{i:0;s:9:\"mergeable\";i:1;s:19:\"destinationCommitId\";i:2;s:14:\"sourceCommitId\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetPullRequestInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PullRequestId\";s:11:\"description\";s:89:\"The
  system-generated ID of the pull request. To get this ID, use <a>ListPullRequests</a>.\";}}s:8:\"required\";a:1:{i:0;s:13:\"pullRequestId\";}s:4:\"type\";s:6:\"object\";}s:20:\"GetPullRequestOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"pullRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PullRequest\";s:11:\"description\";s:45:\"Information
  about the specified pull request.\";}}s:8:\"required\";a:1:{i:0;s:11:\"pullRequest\";}s:4:\"type\";s:6:\"object\";}s:18:\"GetRepositoryInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Represents
  the input of a get repository operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:52:\"The
  name of the repository to get information about.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetRepositoryOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  the output of a get repository operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"repositoryMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RepositoryMetadata\";s:11:\"description\";s:33:\"Information
  about the repository.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetRepositoryTriggersInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Represents
  the input of a get repository triggers operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:63:\"The
  name of the repository for which the trigger is configured.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetRepositoryTriggersOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Represents
  the output of a get repository triggers operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"configurationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/RepositoryTriggersConfigurationId\";s:11:\"description\";s:47:\"The
  system-generated unique ID for the trigger.\";}s:8:\"triggers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/RepositoryTriggersList\";s:11:\"description\";s:61:\"The
  JSON block of configuration information for each trigger.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"IdempotencyParameterMismatchException\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"The
  client request token is not valid. Either the token is not in a valid format, or
  the token has been used in a previous request and cannot be re-used.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidActorArnException\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"The
  Amazon Resource Name (ARN) is not valid. Make sure that you have provided the full
  ARN for the user who initiated the change for the pull request, and then try again.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidAuthorArnException\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  Amazon Resource Name (ARN) is not valid. Make sure that you have provided the full
  ARN for the author of the pull request, and then try again.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"InvalidBlobIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  specified blob is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"InvalidBranchNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  specified reference name is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"InvalidClientRequestTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  client request token is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidCommentIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  comment ID is not in a valid format. Make sure that you have provided the full comment
  ID.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"InvalidCommitException\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  specified commit is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidCommitIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  specified commit ID is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"InvalidContinuationTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  specified continuation token is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"InvalidDescriptionException\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  pull request description is not valid. Descriptions are limited to 1,000 characters
  in length.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:42:\"InvalidDestinationCommitSpecifierException\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  destination commit specifier is not valid. You must provide a valid branch name,
  tag, or full commit ID. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidEmailException\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"The
  specified email address either contains one or more characters that are not allowed,
  or it exceeds the maximum number of characters allowed for an email address.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"InvalidFileLocationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  location of the file is not valid. Make sure that you include the extension of the
  file as well as the file name.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidFileModeException\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  specified file mode permission is not valid. For a list of valid file mode permissions,
  see <a>PutFile</a>. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"InvalidFilePositionException\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  position is not valid. Make sure that the line number exists in the version of the
  file you want to comment on.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"InvalidMaxResultsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  specified number of maximum results is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"InvalidMergeOptionException\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  specified merge option is not valid. The only valid value is FAST_FORWARD_MERGE.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidOrderException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specified sort order is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"InvalidParentCommitIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  parent commit ID is not valid. The commit ID cannot be empty, and must match the
  head commit ID for the branch of the repository where you want to add or update
  a file.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"InvalidPathException\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  specified path is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:36:\"InvalidPullRequestEventTypeException\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  pull request event type is not valid. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"InvalidPullRequestIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"The
  pull request ID is not valid. Make sure that you have provided the full ID and that
  the pull request is in the specified repository, and then try again.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"InvalidPullRequestStatusException\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  pull request status is not valid. The only valid values are <code>OPEN</code> and
  <code>CLOSED</code>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:39:\"InvalidPullRequestStatusUpdateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"The
  pull request status update is not valid. The only valid update is from <code>OPEN</code>
  to <code>CLOSED</code>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"InvalidReferenceNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:305:\"The
  specified reference name format is not valid. Reference names must conform to the
  Git references format, for example refs/heads/master. For more information, see
  <a href=\"https://git-scm.com/book/en/v2/Git-Internals-Git-References\">Git Internals
  - Git References</a> or consult your Git documentation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:39:\"InvalidRelativeFileVersionEnumException\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"Either
  the enum is not in a valid format, or the specified file version enum is not valid
  in respect to the current file version.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"InvalidRepositoryDescriptionException\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  specified repository description is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"InvalidRepositoryNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"<p>At
  least one specified repository name is not valid.</p> <note> <p>This exception only
  occurs when a specified repository name is not valid. Other exceptions occur when
  a required repository parameter is missing, or when a specified repository does
  not exist.</p> </note>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:43:\"InvalidRepositoryTriggerBranchNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"One
  or more branch names specified for the trigger is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:43:\"InvalidRepositoryTriggerCustomDataException\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  custom data provided for the trigger is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:47:\"InvalidRepositoryTriggerDestinationArnException\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"The
  Amazon Resource Name (ARN) for the trigger is not valid for the specified destination.
  The most common reason for this error is that the ARN does not meet the requirements
  for the service type.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:39:\"InvalidRepositoryTriggerEventsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"One
  or more events specified for the trigger is not valid. Check to make sure that all
  events specified match the requirements for allowed events.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"InvalidRepositoryTriggerNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  name of the trigger is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:39:\"InvalidRepositoryTriggerRegionException\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"The
  region for the trigger target does not match the region for the repository. Triggers
  must be created in the same region as the target for the trigger.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"InvalidSortByException\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  specified sort by value is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"InvalidSourceCommitSpecifierException\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  source commit specifier is not valid. You must provide a valid branch name, tag,
  or full commit ID.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"InvalidTargetException\";O:8:\"stdClass\":3:{s:11:\"description\";s:168:\"The
  target for the pull request is not valid. A target must contain the full values
  for the repository name, source branch, and destination branch for the pull request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidTargetsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:240:\"The
  targets for the pull request is not valid or not in a valid format. Targets are
  a list of target objects. Each target object must contain the full values for the
  repository name, source branch, and destination branch for a pull request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidTitleException\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  title of the pull request is not valid. Pull request titles cannot exceed 100 characters
  in length.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"IsCommentDeleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"IsMergeable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"IsMerged\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"LastModifiedDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ListBranchesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Represents
  the input of a list branches operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:68:\"An
  enumeration token that allows the operation to batch the results.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:54:\"The
  name of the repository that contains the branches.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:18:\"ListBranchesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Represents
  the output of a list branches operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"branches\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BranchNameList\";s:11:\"description\";s:25:\"The
  list of branch names.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:59:\"An
  enumeration token that returns the batch of the results.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListPullRequestsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"authorArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:155:\"Optional.
  The Amazon Resource Name (ARN) of the user who created the pull request. If used,
  this filters the results to pull requests created by that user.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:68:\"A
  non-negative integer used to limit the number of returned results.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:92:\"An
  enumeration token that when provided in a request, returns the next batch of the
  results.\";}s:17:\"pullRequestStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PullRequestStatusEnum\";s:11:\"description\";s:129:\"Optional.
  The status of the pull request. If used, this refines the results to the pull requests
  that match the specified status.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:68:\"The
  name of the repository for which you want to list pull requests.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:22:\"ListPullRequestsOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:92:\"An
  enumeration token that when provided in a request, returns the next batch of the
  results.\";}s:14:\"pullRequestIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PullRequestIdList\";s:11:\"description\";s:46:\"The
  system-generated IDs of the pull requests.\";}}s:8:\"required\";a:1:{i:0;s:14:\"pullRequestIds\";}s:4:\"type\";s:6:\"object\";}s:21:\"ListRepositoriesInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Represents
  the input of a list repositories operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:239:\"An
  enumeration token that allows the operation to batch the results of the operation.
  Batch sizes are 1,000 for list repository operations. When the client sends the
  token back to AWS CodeCommit, another page of 1,000 records is retrieved.\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/OrderEnum\";s:11:\"description\";s:72:\"The
  order in which to sort the results of a list repositories operation.\";}s:6:\"sortBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SortByEnum\";s:11:\"description\";s:71:\"The
  criteria used to sort the results of a list repositories operation.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListRepositoriesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Represents
  the output of a list repositories operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:239:\"An
  enumeration token that allows the operation to batch the results of the operation.
  Batch sizes are 1,000 for list repository operations. When the client sends the
  token back to AWS CodeCommit, another page of 1,000 records is retrieved.\";}s:12:\"repositories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RepositoryNameIdPairList\";s:11:\"description\";s:65:\"Lists
  the repositories called by the list repositories operation.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Returns
  information about the location of a change or comment in the comparison between
  two commits or a pull request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"filePath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Path\";s:11:\"description\";s:86:\"The
  name of the file being compared, including its extension and subdirectory, if any.\";}s:12:\"filePosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:71:\"The
  position of a change within a compared file, in line number format.\";}s:19:\"relativeFileVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/RelativeFileVersionEnum\";s:11:\"description\";s:114:\"In
  a comparison of commits or a pull request, whether the change is in the 'before'
  or 'after' of that comparison.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ManualMergeRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  pull request cannot be merged automatically into the destination branch. You must
  manually merge the branches and resolve any conflicts.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:32:\"MaximumBranchesExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  number of branches for the trigger was exceeded.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:40:\"MaximumOpenPullRequestsExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:216:\"You
  cannot create the pull request because the repository has too many open pull requests.
  The maximum number of open pull requests for a repository is 1,000. Close one or
  more open pull requests, and then try again.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:39:\"MaximumRepositoryNamesExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  maximum number of allowed repository names was exceeded. Currently, this number
  is 25.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:42:\"MaximumRepositoryTriggersExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  number of triggers allowed for the repository was exceeded.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"MergeMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Returns
  information about a merge or potential merge between a source reference and a destination
  reference in a pull request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"isMerged\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IsMerged\";s:11:\"description\";s:59:\"A
  Boolean value indicating whether the merge has been made.\";}s:8:\"mergedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:67:\"The
  Amazon Resource Name (ARN) of the user who merged the branches.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"MergeOptionRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  merge option or stategy is required, and none was provided.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"MergeOptionTypeEnum\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:18:\"FAST_FORWARD_MERGE\";}s:4:\"type\";s:6:\"string\";}s:34:\"MergePullRequestByFastForwardInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PullRequestId\";s:11:\"description\";s:89:\"The
  system-generated ID of the pull request. To get this ID, use <a>ListPullRequests</a>.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:62:\"The
  name of the repository where the pull request was created.\";}s:14:\"sourceCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:223:\"The
  full commit ID of the original or updated commit in the pull request source branch.
  Pass this value if you want an exception thrown if the current commit ID of the
  tip of the source branch does not match this commit ID.\";}}s:8:\"required\";a:2:{i:0;s:13:\"pullRequestId\";i:1;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:35:\"MergePullRequestByFastForwardOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"pullRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PullRequest\";s:11:\"description\";s:84:\"Information
  about the specified pull request, including information about the merge.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:42:\"MultipleRepositoriesInPullRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"You
  cannot include more than one repository in a pull request. Make sure you have specified
  only one repository name in your request, and then try again.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"NameLengthExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"The
  file name is not valid because it has exceeded the character limit for file names.
  File names, including the path to the file, cannot exceed the character limit. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ObjectId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"OrderEnum\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"ascending\";i:1;s:10:\"descending\";}s:4:\"type\";s:6:\"string\";}s:33:\"ParentCommitDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  parent commit ID is not valid. The specified parent commit ID does not exist in
  the specified branch of the repository.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"ParentCommitIdOutdatedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"The
  file could not be added because the provided parent commit ID is not the current
  tip of the specified branch. To view the full commit ID of the current head of the
  branch, use <a>GetBranch</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"ParentCommitIdRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"A
  parent commit ID is required. To view the full commit ID of a branch in a repository,
  use <a>GetBranch</a> or a Git command (for example, git pull or git log).\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"ParentList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";}s:4:\"type\";s:5:\"array\";}s:4:\"Path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"PathDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  specified path does not exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"PathRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  filePath for a location cannot be empty or null.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:33:\"PostCommentForComparedCommitInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"afterCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:92:\"To
  establish the directionality of the comparison, the full commit ID of the 'after'
  commit.\";}s:14:\"beforeCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:93:\"To
  establish the directionality of the comparison, the full commit ID of the 'before'
  commit.\";}s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:301:\"A
  unique, client-generated idempotency token that when provided in a request, ensures
  the request cannot be repeated with a changed parameter. If a request is received
  with the same parameters and a token is included, the request will return information
  about the initial request that used that token.\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Content\";s:11:\"description\";s:44:\"The
  content of the comment you want to make.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:57:\"The
  location of the comparison where you want to comment.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:94:\"The
  name of the repository where you want to post a comment on the comparison between
  commits.\";}}s:8:\"required\";a:3:{i:0;s:14:\"repositoryName\";i:1;s:13:\"afterCommitId\";i:2;s:7:\"content\";}s:4:\"type\";s:6:\"object\";}s:34:\"PostCommentForComparedCommitOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"afterBlobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:71:\"In
  the directionality you established, the blob ID of the 'after' blob.\";}s:13:\"afterCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:80:\"In
  the directionality you established, the full commit ID of the 'after' commit.\";}s:12:\"beforeBlobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:72:\"In
  the directionality you established, the blob ID of the 'before' blob.\";}s:14:\"beforeCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:81:\"In
  the directionality you established, the full commit ID of the 'before' commit.\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";s:11:\"description\";s:38:\"The
  content of the comment you posted.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:70:\"The
  location of the comment in the comparison between the two commits.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:88:\"The
  name of the repository where you posted a comment on the comparison between commits.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"PostCommentForPullRequestInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"afterCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:139:\"The
  full commit ID of the commit in the source branch that is the current tip of the
  branch for the pull request when you post the comment.\";}s:14:\"beforeCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:131:\"The
  full commit ID of the commit in the destination branch that was the tip of the branch
  at the time the pull request was created.\";}s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:301:\"A
  unique, client-generated idempotency token that when provided in a request, ensures
  the request cannot be repeated with a changed parameter. If a request is received
  with the same parameters and a token is included, the request will return information
  about the initial request that used that token.\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Content\";s:11:\"description\";s:42:\"The
  content of your comment on the change.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:224:\"The
  location of the change where you want to post your comment. If no location is provided,
  the comment will be posted as a general comment on the pull request difference between
  the before commit ID and the after commit ID.\";}s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PullRequestId\";s:11:\"description\";s:89:\"The
  system-generated ID of the pull request. To get this ID, use <a>ListPullRequests</a>.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:78:\"The
  name of the repository where you want to post a comment on a pull request.\";}}s:8:\"required\";a:5:{i:0;s:13:\"pullRequestId\";i:1;s:14:\"repositoryName\";i:2;s:14:\"beforeCommitId\";i:3;s:13:\"afterCommitId\";i:4;s:7:\"content\";}s:4:\"type\";s:6:\"object\";}s:31:\"PostCommentForPullRequestOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"afterBlobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:75:\"In
  the directionality of the pull request, the blob ID of the 'after' blob.\";}s:13:\"afterCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:97:\"The
  full commit ID of the commit in the destination branch where the pull request will
  be merged.\";}s:12:\"beforeBlobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:76:\"In
  the directionality of the pull request, the blob ID of the 'before' blob.\";}s:14:\"beforeCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:195:\"The
  full commit ID of the commit in the source branch used to create the pull request,
  or in the case of an updated pull request, the full commit ID of the commit used
  to update the pull request.\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";s:11:\"description\";s:38:\"The
  content of the comment you posted.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:57:\"The
  location of the change where you posted your comment.\";}s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PullRequestId\";s:11:\"description\";s:45:\"The
  system-generated ID of the pull request. \";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:72:\"The
  name of the repository where you posted a comment on a pull request.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"PostCommentReplyInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:301:\"A
  unique, client-generated idempotency token that when provided in a request, ensures
  the request cannot be repeated with a changed parameter. If a request is received
  with the same parameters and a token is included, the request will return information
  about the initial request that used that token.\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Content\";s:11:\"description\";s:40:\"The
  contents of your reply to a comment.\";}s:9:\"inReplyTo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CommentId\";s:11:\"description\";s:159:\"The
  system-generated ID of the comment to which you want to reply. To get this ID, use
  <a>GetCommentsForComparedCommit</a> or <a>GetCommentsForPullRequest</a>.\";}}s:8:\"required\";a:2:{i:0;s:9:\"inReplyTo\";i:1;s:7:\"content\";}s:4:\"type\";s:6:\"object\";}s:22:\"PostCommentReplyOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";s:11:\"description\";s:41:\"Information
  about the reply to a comment.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PullRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Returns
  information about a pull request.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"authorArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:72:\"The
  Amazon Resource Name (ARN) of the user who created the pull request.\";}s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:301:\"A
  unique, client-generated idempotency token that when provided in a request, ensures
  the request cannot be repeated with a changed parameter. If a request is received
  with the same parameters and a token is included, the request will return information
  about the initial request that used that token.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreationDate\";s:11:\"description\";s:79:\"The
  date and time the pull request was originally created, in timestamp format.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:147:\"The
  user-defined description of the pull request. This description can be used to clarify
  what should be reviewed and other details of the request.\";}s:16:\"lastActivityDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/LastModifiedDate\";s:11:\"description\";s:94:\"The
  day and time of the last user or system activity on the pull request, in timestamp
  format.\";}s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PullRequestId\";s:11:\"description\";s:45:\"The
  system-generated ID of the pull request. \";}s:17:\"pullRequestStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PullRequestStatusEnum\";s:11:\"description\";s:114:\"The
  status of the pull request. Pull request status can only change from <code>OPEN</code>
  to <code>CLOSED</code>.\";}s:18:\"pullRequestTargets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PullRequestTargetList\";s:11:\"description\";s:105:\"The
  targets of the pull request, including the source branch and destination branch
  for the pull request.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Title\";s:11:\"description\";s:130:\"The
  user-defined title of the pull request. This title is displayed in the list of pull
  requests to other users of the repository.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"PullRequestAlreadyClosedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  pull request status cannot be updated because it is already closed.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"PullRequestDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  pull request ID could not be found. Make sure that you have specified the correct
  repository name and pull request ID, and then try again.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"PullRequestEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Returns
  information about a pull request event.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"actorArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:188:\"The
  Amazon Resource Name (ARN) of the user whose actions resulted in the event. Examples
  include updating the pull request with additional commits or changing the status
  of a pull request.\";}s:9:\"eventDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EventDate\";s:11:\"description\";s:64:\"The
  day and time of the pull request event, in timestamp format.\";}s:20:\"pullRequestEventType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PullRequestEventType\";s:11:\"description\";s:156:\"The
  type of the pull request event, for example a status change event (PULL_REQUEST_STATUS_CHANGED)
  or update event (PULL_REQUEST_SOURCE_REFERENCE_UPDATED).\";}s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PullRequestId\";s:11:\"description\";s:44:\"The
  system-generated ID of the pull request.\";}s:42:\"pullRequestMergedStateChangedEventMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/PullRequestMergedStateChangedEventMetadata\";s:11:\"description\";s:77:\"Information
  about the change in mergability state for the pull request event.\";}s:46:\"pullRequestSourceReferenceUpdatedEventMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:60:\"#/definitions/PullRequestSourceReferenceUpdatedEventMetadata\";s:11:\"description\";s:72:\"Information
  about the updated source branch for the pull request event. \";}s:37:\"pullRequestStatusChangedEventMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/PullRequestStatusChangedEventMetadata\";s:11:\"description\";s:66:\"Information
  about the change in status for the pull request event.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"PullRequestEventList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PullRequestEvent\";}s:4:\"type\";s:5:\"array\";}s:20:\"PullRequestEventType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:20:\"PULL_REQUEST_CREATED\";i:1;s:27:\"PULL_REQUEST_STATUS_CHANGED\";i:2;s:37:\"PULL_REQUEST_SOURCE_REFERENCE_UPDATED\";i:3;s:32:\"PULL_REQUEST_MERGE_STATE_CHANGED\";}s:4:\"type\";s:6:\"string\";}s:13:\"PullRequestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"PullRequestIdList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PullRequestId\";}s:4:\"type\";s:5:\"array\";}s:30:\"PullRequestIdRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  pull request ID is required, but none was provided.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:42:\"PullRequestMergedStateChangedEventMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Returns
  information about the change in the merge state for a pull request event. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"destinationReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReferenceName\";s:11:\"description\";s:65:\"The
  name of the branch that the pull request will be merged into.\";}s:13:\"mergeMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MergeMetadata\";s:11:\"description\";s:47:\"Information
  about the merge state change event.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:62:\"The
  name of the repository where the pull request was created.\";}}s:4:\"type\";s:6:\"object\";}s:46:\"PullRequestSourceReferenceUpdatedEventMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Information
  about an update to the source branch of a pull request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"afterCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:126:\"The
  full commit ID of the commit in the source branch that was the tip of the branch
  at the time the pull request was updated.\";}s:14:\"beforeCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:131:\"The
  full commit ID of the commit in the destination branch that was the tip of the branch
  at the time the pull request was updated.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:62:\"The
  name of the repository where the pull request was updated.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"PullRequestStatusChangedEventMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Information
  about a change to the status of a pull request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"pullRequestStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PullRequestStatusEnum\";s:11:\"description\";s:39:\"The
  changed status of the pull request.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"PullRequestStatusEnum\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"OPEN\";i:1;s:6:\"CLOSED\";}s:4:\"type\";s:6:\"string\";}s:34:\"PullRequestStatusRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"A
  pull request status is required, but none was provided.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"PullRequestTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Returns
  information about a pull request target.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"destinationCommit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:126:\"The
  full commit ID that is the tip of the destination branch. This is the commit where
  the pull request was or will be merged.\";}s:20:\"destinationReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReferenceName\";s:11:\"description\";s:119:\"The
  branch of the repository where the pull request changes will be merged into. Also
  known as the destination branch. \";}s:13:\"mergeMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MergeMetadata\";s:11:\"description\";s:89:\"Returns
  metadata about the state of the merge, including whether the merge has been made.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:90:\"The
  name of the repository that contains the pull request source and destination branches.\";}s:12:\"sourceCommit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:227:\"The
  full commit ID of the tip of the source branch used to create the pull request.
  If the pull request branch is updated by a push while the pull request is open,
  the commit ID will change to reflect the new tip of the branch.\";}s:15:\"sourceReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReferenceName\";s:11:\"description\";s:109:\"The
  branch of the repository that contains the changes for the pull request. Also known
  as the source branch.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"PullRequestTargetList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PullRequestTarget\";}s:4:\"type\";s:5:\"array\";}s:12:\"PutFileInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"branchName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BranchName\";s:11:\"description\";s:64:\"The
  name of the branch where you want to add or update the file.\";}s:13:\"commitMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:177:\"A
  message about why this file was added or updated. While optional, adding a message
  is strongly encouraged in order to provide a more useful commit history for your
  repository.\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Email\";s:11:\"description\";s:60:\"An
  email address for the person adding or updating the file.\";}s:11:\"fileContent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FileContent\";s:11:\"description\";s:50:\"The
  content of the file, in binary object format. \";}s:8:\"fileMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FileModeTypeEnum\";s:11:\"description\";s:84:\"The
  file mode permissions of the blob. Valid file mode permissions are listed below.\";}s:8:\"filePath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Path\";s:11:\"description\";s:244:\"<p>The
  name of the file you want to add or update, including the relative path to the file
  in the repository.</p> <note> <p>If the path does not currently exist in the repository,
  the path will be created as part of adding the file.</p> </note>\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:174:\"The
  name of the person adding or updating the file. While optional, adding a name is
  strongly encouraged in order to provide a more useful commit history for your repository.\";}s:14:\"parentCommitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CommitId\";s:11:\"description\";s:245:\"The
  full commit ID of the head commit in the branch where you want to add or update
  the file. If the commit ID does not match the ID of the head commit at the time
  of the operation, an error will occur, and the file will not be added or updated.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:68:\"The
  name of the repository where you want to add or update the file.\";}}s:8:\"required\";a:4:{i:0;s:14:\"repositoryName\";i:1;s:10:\"branchName\";i:2;s:11:\"fileContent\";i:3;s:8:\"filePath\";}s:4:\"type\";s:6:\"object\";}s:13:\"PutFileOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"blobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:47:\"The
  ID of the blob, which is its SHA-1 pointer.\";}s:8:\"commitId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:58:\"The
  full SHA of the commit that contains this file change.\";}s:6:\"treeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ObjectId\";s:11:\"description\";s:63:\"Tree
  information for the commit that contains this file change.\";}}s:8:\"required\";a:3:{i:0;s:8:\"commitId\";i:1;s:6:\"blobId\";i:2;s:6:\"treeId\";}s:4:\"type\";s:6:\"object\";}s:26:\"PutRepositoryTriggersInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Represents
  the input ofa put repository triggers operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:74:\"The
  name of the repository where you want to create or update the trigger.\";}s:8:\"triggers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/RepositoryTriggersList\";s:11:\"description\";s:61:\"The
  JSON block of configuration information for each trigger.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:8:\"triggers\";}s:4:\"type\";s:6:\"object\";}s:27:\"PutRepositoryTriggersOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Represents
[...]
