---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"Headline : Stack
  Exchange is a network of 125 communities that are created and run by experts and
  enthusiasts like you who are passionate about a specific topic. We build libraries
  of high-quality questions and answers, focused on each community's area of expertise.\";s:7:\"version\";s:3:\"2.0\";s:5:\"title\";s:13:\"StackExchange\";}"
host: api.stackexchange.com
basePath: /2.0
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:13:\"network_users\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"answer_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"last_access_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"question_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"site_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"site_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"top_questions\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"array\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"privileges\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"short_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"tag_score_objects\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"post_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"score\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:15:\"created_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"body_markdown\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"can_flag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"comment_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"edited\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"post_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"post_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"reply_to_user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"score\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"upvoted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:8:\"comments\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"body_markdown\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"can_flag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"comment_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"edited\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"post_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"post_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"reply_to_user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"score\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"upvoted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:18:\"reputation_objects\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"on_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"post_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"post_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"reputation_change\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"vote_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"tag_synonyms\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"applied_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"from_tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"last_applied_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"to_tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"filters\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"filter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"filter_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"error_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"error_message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"error_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"access_tokens\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"expires_on_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:9:\"tag_wikis\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"body_last_edit_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"excerpt_last_edit_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"last_body_editor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"last_excerpt_editor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"tag_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"account_merge\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"merge_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"new_account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"old_account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:5:\"users\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":28:{s:8:\"about_me\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"age\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"answer_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"down_vote_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"is_employee\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"last_access_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"last_modified_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"question_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"reputation_change_day\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"reputation_change_month\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"reputation_change_quarter\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"reputation_change_week\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"reputation_change_year\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"timed_penalty_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"up_vote_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"view_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"website_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"tags\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"has_synonyms\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"is_moderator_only\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"is_required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"last_activity_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:6:\"badges\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"award_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"badge_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"badge_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:15:\"top_tag_objects\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"answer_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"answer_score\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"question_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"question_score\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"tag_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:21:\"user_timeline_objects\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"badge_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"comment_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"detail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"post_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"post_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"suggested_edit_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"timeline_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"single_filter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"filter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"filter_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"suggested-edits\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"approval_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"post_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"post_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"proposing_user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"rejection_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"suggested_edit_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"reputation_history\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"post_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"reputation_change\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"reputation_history_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":28:{s:8:\"about_me\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"accept_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"age\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"answer_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"badge_counts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bronze\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"gold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"silver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"down_vote_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"is_employee\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"last_access_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"last_modified_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"question_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"reputation_change_day\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"reputation_change_month\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"reputation_change_quarter\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"reputation_change_week\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"reputation_change_year\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"timed_penalty_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"up_vote_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"user_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"view_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"website_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"write_permissions\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"can_add\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"can_delete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"can_edit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"max_daily_actions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:27:\"min_seconds_between_actions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"object_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:6:\"events\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"creation_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"event_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:77:\"the
  id of the object (answer, comment, question, or user) the event describes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:6:\"errors\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"error_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"error_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
