---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"StackPath CDN API\";s:7:\"version\";s:3:\"1.0\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"StackPath
  Support\";s:3:\"url\";s:30:\"https://support.stackpath.com/\";}}"
host: gateway.stackpath.com
paths:
  /cdn/v1/ips:
    get:
      summary: Retrieve a list of IP addresses used by the StackPath edge network
      operationId: GetCDNIPs
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetCDNIPsResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: filter
        in: query
        required: false
        type: string
        enum:
        - ALL
        - IPV4
        - IPV6
        default: ALL
      - name: response_type
        in: query
        required: false
        type: string
        enum:
        - JSON
        - PLAIN_TEXT
        default: JSON
      tags:
      - Cdn
  /cdn/v1/origins/scan:
    post:
      summary: Scan an origin from the CDN
      description: Retrieve information regarding an origin, such as its IP address
        and whether or not it supports SSL.
      operationId: ScanOrigin
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnScanOriginResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnScanOriginRequest'
      tags:
      - Cdn
  /cdn/v1/pops:
    get:
      summary: Retrieve a list of all available StackPath points of presence
      operationId: GetPops
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetPopsResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      tags:
      - Cdn
  /cdn/v1/pops/closest:
    get:
      summary: Scan a URL from the StackPath edge network and return a performance
        report
      description: Results are ordered with the fastest POP response first
      operationId: GetClosestPops
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetClosestPopsResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: url
        description: The URL to scan.
        in: query
        required: false
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/certificates:
    get:
      summary: Retrieve a stack's associated SSL certificates
      operationId: GetCertificates
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetCertificatesResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack to retrieve SSL certificates from
        in: path
        required: true
        type: string
      - name: page_request.first
        description: The number of items desired.
        in: query
        required: false
        type: string
      - name: page_request.after
        description: The cursor value after which data will be returned.
        in: query
        required: false
        type: string
      - name: page_request.filter
        description: SQL-style constraint filters.
        in: query
        required: false
        type: string
      - name: page_request.sort_by
        description: Sort the response by the given field.
        in: query
        required: false
        type: string
      tags:
      - Cdn
    post:
      summary: Add an SSL certificate to a stack
      description: The certificate is automatically associated with CDN site scope
        hostnames that match either the certificate's subject or its alternative names.
      operationId: CreateCertificate
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnCreateCertificateResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack to create a certificate on
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnCreateCertificateRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/certificates/{certificate_id}:
    get:
      summary: Retrieve an individual SSL certificate
      operationId: GetCertificate
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetCertificateResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the SSL certificate to retrieve
        in: path
        required: true
        type: string
      - name: certificate_id
        description: The ID of the SSL certificate to retrieve
        in: path
        required: true
        type: string
      tags:
      - Cdn
    delete:
      summary: Delete an SSL certificate
      operationId: DeleteCertificate
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the SSL certificate to delete
        in: path
        required: true
        type: string
      - name: certificate_id
        description: The ID of the SSL certificate to delete
        in: path
        required: true
        type: string
      tags:
      - Cdn
    put:
      summary: Update an SSL certificate
      operationId: UpdateCertificate
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnUpdateCertificateResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the SSL certificate to update
        in: path
        required: true
        type: string
      - name: certificate_id
        description: The ID of SSL certificate to update
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnUpdateCertificateRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/renew:
    post:
      summary: Issue a renewal for an SSL certificate
      description: StackPath automatically renews certificates that are 30 days from
        expiration. Call this to retry a renewal that previously failed.
      operationId: RenewCertificate
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the SSL certificate to renew
        in: path
        required: true
        type: string
      - name: certificate_id
        description: The ID of the SSL certificate to renew
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/sites:
    get:
      summary: Retrieve the CDN sites associated with an SSL certificate
      operationId: GetCertificateSites
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetCertificateSitesResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the SSL certificate to retrieve
          CDN sites for
        in: path
        required: true
        type: string
      - name: certificate_id
        description: The ID of the SSL certificate to retrieve sites for
        in: path
        required: true
        type: string
      - name: page_request.first
        description: The number of items desired.
        in: query
        required: false
        type: string
      - name: page_request.after
        description: The cursor value after which data will be returned.
        in: query
        required: false
        type: string
      - name: page_request.filter
        description: SQL-style constraint filters.
        in: query
        required: false
        type: string
      - name: page_request.sort_by
        description: Sort the response by the given field.
        in: query
        required: false
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/verification_details:
    get:
      summary: Retrieve a CDN site's SSL certificate manual verification details
      operationId: GetCertificateVerificationDetails
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetCertificateVerificationDetailsResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to retrieve SSL certificate
          verification details for
        in: path
        required: true
        type: string
      - name: certificate_id
        description: The ID of the site to retrieve SSL certificate verification details
          for
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/metrics:
    get:
      summary: Retrieve request metrics for all CDN sites in a stack
      operationId: GetMetrics
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetMetricsResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack to retrieve CDN metrics for
        in: path
        required: true
        type: string
      - name: start_date
        description: The starting date to retrieve metrics for.
        in: query
        required: false
        type: string
        format: date-time
      - name: end_date
        description: The ending date to retrieve metrics for.
        in: query
        required: false
        type: string
        format: date-time
      - name: granularity
        in: query
        required: false
        type: string
        enum:
        - AUTO
        - P1M
        - PT5M
        - PT1H
        - P1D
        default: AUTO
      - name: platforms
        description: A comma-separated list of billing platforms to filter metrics
          for.
        in: query
        required: false
        type: string
      - name: pops
        description: A comma-separated list of StackPath point of presence location
          codes to filter metrics for.
        in: query
        required: false
        type: string
      - name: billing_regions
        description: A comma-separated list of billing regions to filter metrics for.
        in: query
        required: false
        type: string
      - name: sites
        description: A comma-separated list of site IDs to filter metrics for.
        in: query
        required: false
        type: string
      - name: group_by
        in: query
        required: false
        type: string
        enum:
        - NONE
        - ACCOUNT
        - SITE
        - PLATFORM
        - POP
        - REGION
        default: NONE
      - name: site_type_filter
        in: query
        required: false
        type: string
        enum:
        - ALL
        - CDN
        - WAF
        - API
        - EDGE_ENGINE
        default: ALL
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/origins:
    get:
      summary: Retrieve a stack's site origins
      operationId: GetOrigins
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetOriginsResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack to retrieve origins from
        in: path
        required: true
        type: string
      - name: page_request.first
        description: The number of items desired.
        in: query
        required: false
        type: string
      - name: page_request.after
        description: The cursor value after which data will be returned.
        in: query
        required: false
        type: string
      - name: page_request.filter
        description: SQL-style constraint filters.
        in: query
        required: false
        type: string
      - name: page_request.sort_by
        description: Sort the response by the given field.
        in: query
        required: false
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/origins/{origin_id}:
    get:
      summary: Retrieve an individual origin
      operationId: GetOrigin
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetOriginResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack to retrieve an origin from
        in: path
        required: true
        type: string
      - name: origin_id
        description: The ID of the origin to retrieve
        in: path
        required: true
        type: string
      tags:
      - Cdn
    patch:
      summary: Update an origin
      operationId: UpdateOrigin
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnUpdateOriginResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the origin to update
        in: path
        required: true
        type: string
      - name: origin_id
        description: The ID of the origin to update
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnUpdateOriginRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/purge:
    post:
      summary: Purge cached content for all CDN sites on a stack
      description: Content is re-cached on the CDN the next time it is requested.
        Use the returned purge ID to see the status of a purge request.
      operationId: PurgeContent
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnPurgeContentResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the sites to purge items from
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnPurgeContentRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/purge/{purge_id}:
    get:
      summary: Retrieve a purge request's status
      operationId: GetPurgeStatus
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetPurgeStatusResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack the purge request was made against
        in: path
        required: true
        type: string
      - name: purge_id
        description: The ID of the purge request to check the status of
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites:
    get:
      summary: Retrieve all CDN sites in a stack
      operationId: GetSites
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetSitesResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack to retrieve sites from
        in: path
        required: true
        type: string
      - name: page_request.first
        description: The number of items desired.
        in: query
        required: false
        type: string
      - name: page_request.after
        description: The cursor value after which data will be returned.
        in: query
        required: false
        type: string
      - name: page_request.filter
        description: SQL-style constraint filters.
        in: query
        required: false
        type: string
      - name: page_request.sort_by
        description: Sort the response by the given field.
        in: query
        required: false
        type: string
      tags:
      - Cdn
    post:
      summary: Create a new CDN site
      operationId: CreateSite
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnCreateSiteResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack to create a new CDN site on
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnCreateSiteRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}:
    get:
      summary: Retrieve an individual CDN site
      operationId: GetSite
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetSiteResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to retrieve
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to retrieve
        in: path
        required: true
        type: string
      tags:
      - Cdn
    delete:
      summary: Delete a CDN site
      operationId: DeleteSite
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to delete
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to delete
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates:
    get:
      summary: Retrieve a site's SSL certificates
      operationId: GetSiteCertificates
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetSiteCertificatesResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to retrieve SSL certificates
          for
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to retrieve SSL certificates for
        in: path
        required: true
        type: string
      - name: page_request.first
        description: The number of items desired.
        in: query
        required: false
        type: string
      - name: page_request.after
        description: The cursor value after which data will be returned.
        in: query
        required: false
        type: string
      - name: page_request.filter
        description: SQL-style constraint filters.
        in: query
        required: false
        type: string
      - name: page_request.sort_by
        description: Sort the response by the given field.
        in: query
        required: false
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/request:
    post:
      summary: Request an SSL certificate for a CDN site
      description: The optional list of hosts should be delivery domains for the site.
        If no hosts parameter is provided, all delivery domains for a site will be
        included in the SAN field. If the hosts parameter is provided, then the first
        entry in the list will be used as the certificate's common name.
      operationId: RequestCertificate
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnRequestCertificateResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to request an SSL certificate
          for
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to request an SSL certificate for
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnRequestCertificateRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/{certificate_id}:
    put:
      summary: Associate a CDN site with an SSL certificate
      description: Association is performed without validating if the site has a hostname
        covered by the certificate. This is useful for preparation work required for
        getting a site ready for traffic.nnIf a certificate is uploaded which contains
        hostnames for sites, it will automatically be connected to those sites. If
        a hostname is added to a site which is covered by an SSL certificate, it will
        automatically be connected to the certificate.
      operationId: ConnectSiteToCertificate
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnConnectSiteToCertificateResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to attach an SSL certificate
          to
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to attach an SSL certificate to
        in: path
        required: true
        type: string
      - name: certificate_id
        description: The ID of the SSL certificate to attach to a CDN site
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/{certificate_id}/hosts:
    put:
      summary: Update an SSL certificate's hosts
      description: Updating hosts issues a new certificate.
      operationId: UpdateSiteCertificateHosts
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the SSL certificate to update
          hosts on
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the SSL certificate to update hosts
          on
        in: path
        required: true
        type: string
      - name: certificate_id
        description: The ID of the SSL certificate to update hosts on
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnUpdateSiteCertificateHostsRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/disable:
    post:
      summary: Disable a CDN site
      operationId: DisableSite
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to disable
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to disable
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/dns/targets:
    get:
      summary: Retrieve a CDN site's DNS CNAME targets
      description: A site's hostname should point to these CNAME targets in order
        for traffic to be sent through StackPath's edge nodes.
      operationId: GetSiteDnsTargets
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetSiteDnsTargetsResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to retrieve DNS CNAME
          targets from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to retrieve DNS CNAME targets from
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/enable:
    post:
      summary: Enable a CDN site
      operationId: EnableSite
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to enable
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to enable
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes:
    get:
      summary: Retrieve a CDN site's scopes
      operationId: GetSiteScopes
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetSiteScopesResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to retrieve scopes from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to retrieve scopes from
        in: path
        required: true
        type: string
      - name: page_request.first
        description: The number of items desired.
        in: query
        required: false
        type: string
      - name: page_request.after
        description: The cursor value after which data will be returned.
        in: query
        required: false
        type: string
      - name: page_request.filter
        description: SQL-style constraint filters.
        in: query
        required: false
        type: string
      - name: page_request.sort_by
        description: Sort the response by the given field.
        in: query
        required: false
        type: string
      - name: disable_transparent_mode
        description: Whether or not to retrieve the site's CDN scope or its WAF scope.
          When true, this call removes the hostname from a CDN site's scope instead
          of loading from a CDN site's WAF scope, if the site has WAF service.
        in: query
        required: false
        type: boolean
        format: boolean
      tags:
      - Cdn
    post:
      summary: Create a new CDN site scope
      operationId: CreateScope
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnCreateScopeResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to create a scope on
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to create a scope on
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnCreateScopeRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}:
    delete:
      summary: Delete a CDN site scope
      operationId: DeleteScope
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site containing the scope
          to delete
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the scope to delete
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the scope to delete
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/configuration:
    get:
      summary: Retrieve a CDN site's scope configuration
      operationId: GetScopeConfiguration
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetScopeConfigurationResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to retrieve a scope configuration
          from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to retrieve a scope configuration from
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the scope whose configuration to retrieve
        in: path
        required: true
        type: string
      tags:
      - Cdn
    patch:
      summary: Update a CDN site's scope configuration
      operationId: UpdateScopeConfiguration
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnUpdateScopeConfigurationResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site containing the scope
          to update
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the scope to update
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the scope to update
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnUpdateScopeConfigurationRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/hostnames:
    get:
      summary: Retrieve the hostnames configured on a CDN site's scope
      description: Hostnames allow the CDN to recognize an HTTP request and associate
        it with a CDN site.
      operationId: GetScopeHostnames
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetScopeHostnamesResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site containing the scope
          to retrieve hostnames from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the scope to retrieve hostnames
          from
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the scope to retrieve hostnames from
        in: path
        required: true
        type: string
      - name: page_request.first
        description: The number of items desired.
        in: query
        required: false
        type: string
      - name: page_request.after
        description: The cursor value after which data will be returned.
        in: query
        required: false
        type: string
      - name: page_request.filter
        description: SQL-style constraint filters.
        in: query
        required: false
        type: string
      - name: page_request.sort_by
        description: Sort the response by the given field.
        in: query
        required: false
        type: string
      - name: disable_transparent_mode
        description: Whether or not to load hostnames from a CDN site's CDN scope
          or its WAF scope. When true, this call loads scope hostnames from a CDN
          site's scope instead of loading from a CDN site's WAF scope, if the site
          has WAF service.
        in: query
        required: false
        type: boolean
        format: boolean
      tags:
      - Cdn
    post:
      summary: Add a hostname to a CDN site's scope
      operationId: CreateScopeHostname
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnCreateScopeHostnameResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site containing the scope
          to add a hostname to
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the scope to add a hostname to
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the scope to add a hostname to
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnCreateScopeHostnameRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/hostnames/{domain}:
    delete:
      summary: Remove a hostname from a CDN site's scope
      operationId: DeleteScopeHostname
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site containing the scope
          to remove a hostname from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the scope to remove a hostname
          from
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the scope to remove a hostname from
        in: path
        required: true
        type: string
      - name: domain
        description: The hostname to remove from a scope
        in: path
        required: true
        type: string
      - name: disable_transparent_mode
        description: Whether or not to remove the hostname from a CDN site's CDN scope
          or its WAF scope. When true, this call removes the hostname from a CDN site's
          scope instead of loading from a CDN site's WAF scope, if the site has WAF
          service.
        in: query
        required: false
        type: boolean
        format: boolean
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/origins:
    get:
      summary: Retrieve the origins behind a CDN site's scope
      operationId: GetScopeOrigins
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetScopeOriginsResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site containing the scope
          to retrieve origins from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the scope to retrieve origins from
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the scope to retrieve origins from
        in: path
        required: true
        type: string
      - name: page_request.first
        description: The number of items desired.
        in: query
        required: false
        type: string
      - name: page_request.after
        description: The cursor value after which data will be returned.
        in: query
        required: false
        type: string
      - name: page_request.filter
        description: SQL-style constraint filters.
        in: query
        required: false
        type: string
      - name: page_request.sort_by
        description: Sort the response by the given field.
        in: query
        required: false
        type: string
      tags:
      - Cdn
    post:
      summary: Connect an origin to a CDN site's scope
      description: The origin is automatically created if necessary. When the request
        contains a priority which an origin already associated with the scope has
        set, the existing origin is disconnected. The priority of an origin already
        associated with a scope can be modified via this endpoint.
      operationId: ConnectScopeToOrigin
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnConnectScopeToOriginResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site containing the scope
          to associate an origin with
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the scope to associate an origin
          with
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the scope to associate an origin with
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnConnectScopeToOriginRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/origins/{origin_id}:
    delete:
      summary: Disconnect an origin from CDN site's scope
      operationId: DisconnectScopeFromOrigin
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site containing the scope
          to remove an origin from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the scope to remove an origin from
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the scope to remove an origin from
        in: path
        required: true
        type: string
      - name: origin_id
        description: The ID of the origin to remove from a scope
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules:
    get:
      summary: Retrieve all EdgeRules on a CDN site scope
      operationId: GetScopeRules
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetScopeRulesResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to retrieve EdgeRules
          from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to retrieve EdgeRules from
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the CDN site scope to retrieve EdgeRules from
        in: path
        required: true
        type: string
      - name: page_request.first
        description: The number of items desired.
        in: query
        required: false
        type: string
      - name: page_request.after
        description: The cursor value after which data will be returned.
        in: query
        required: false
        type: string
      - name: page_request.filter
        description: SQL-style constraint filters.
        in: query
        required: false
        type: string
      - name: page_request.sort_by
        description: Sort the response by the given field.
        in: query
        required: false
        type: string
      tags:
      - Cdn
    post:
      summary: Create an EdgeRule on a CDN site scope
      operationId: CreateScopeRule
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnCreateScopeRuleResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to create an EdgeRule
          on
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to create an EdgeRule on
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the CDN site scope to create an EdgeRule on
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnCreateScopeRuleRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules/{rule_id}:
    get:
      summary: Retrieve an individual EdgeRule from a CDN site scope
      operationId: GetScopeRule
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetScopeRuleResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to retrieve an EdgeRule
          from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to retrieve an EdgeRule from
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the CDN site scope to retrieve an EdgeRule from
        in: path
        required: true
        type: string
      - name: rule_id
        description: The ID of the EdgeRule to retrieve
        in: path
        required: true
        type: string
      tags:
      - Cdn
    delete:
      summary: Delete an EdgeRule
      operationId: DeleteScopeRule
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to delete an EdgeRule
          from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to delete an EdgeRule from
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the CDN site scope to delete an EdgeRule from
        in: path
        required: true
        type: string
      - name: rule_id
        description: The ID of the EdgeRule to delete
        in: path
        required: true
        type: string
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules/{rule_id}/configuration:
    get:
      summary: Retrieve an EdgeRule's configuration
      operationId: GetScopeRuleConfiguration
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetScopeRuleConfigurationResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to retrieve an EdgeRule's
          configuration from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to retrieve an EdgeRule's configuration from
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the CDN site scope to retrieve an EdgeRule's configuration
          from
        in: path
        required: true
        type: string
      - name: rule_id
        description: The ID of the EdgeRule to retrieve configuration for
        in: path
        required: true
        type: string
      tags:
      - Cdn
    patch:
      summary: Update an EdgeRule's configuration
      operationId: UpdateScopeRuleConfiguration
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnUpdateScopeRuleConfigurationResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to update an EdgeRule's
          configuration for
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to update an EdgeRule's configuration for
        in: path
        required: true
        type: string
      - name: scope_id
        description: The ID of the CDN site scope to update an EdgeRule's configuration
          for
        in: path
        required: true
        type: string
      - name: rule_id
        description: The ID of the EdgeRule to update configuration for
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnUpdateScopeRuleConfigurationRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts:
    get:
      summary: Retrieve all EdgeEngine scripts associated with a CDN site
      operationId: GetSiteScripts
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetSiteScriptsResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to retrieve EdgeEngine
          scripts from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to retrieve EdgeEngine scripts from
        in: path
        required: true
        type: string
      - name: page_request.first
        description: The number of items desired.
        in: query
        required: false
        type: string
      - name: page_request.after
        description: The cursor value after which data will be returned.
        in: query
        required: false
        type: string
      - name: page_request.filter
        description: SQL-style constraint filters.
        in: query
        required: false
        type: string
      - name: page_request.sort_by
        description: Sort the response by the given field.
        in: query
        required: false
        type: string
      tags:
      - Cdn
    post:
      summary: Create an EdgeEngine script
      operationId: CreateSiteScript
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnCreateSiteScriptResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to create a new EdgeEngine
          script on
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site to create a new EdgeEngine script on
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnCreateSiteScriptRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts/{script_id}:
    get:
      summary: Retrieve an individual EdgeEngine script
      operationId: GetSiteScript
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetSiteScriptResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site with the EdgeEngine script
          to retrieve
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the EdgeEngine script to retrieve
        in: path
        required: true
        type: string
      - name: script_id
        description: The ID of the EdgeEngine script to retrieve
        in: path
        required: true
        type: string
      - name: script_version
        description: The version of the EdgeEngine script to retrieve.
        in: query
        required: false
        type: string
      tags:
      - Cdn
    delete:
      summary: Delete an EdgeEngine script
      operationId: DeleteSiteScript
      responses:
        204:
          description: No content
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to delete an EdgeEngine
          script from
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the CDN site to delete an EdgeEngine script from
        in: path
        required: true
        type: string
      - name: script_id
        description: The ID of the EdgeEngine script to delete
        in: path
        required: true
        type: string
      tags:
      - Cdn
    patch:
      summary: Update an EdgeEngine script
      operationId: UpdateSiteScript
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnUpdateSiteScriptResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site to update an EdgeEngine
          script on
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the CDN site to update an EdgeEngine script on
        in: path
        required: true
        type: string
      - name: script_id
        description: The ID of the EdgeEngine script to update
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/cdnUpdateSiteScriptRequest'
      tags:
      - Cdn
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts/{script_id}/{script_version}:
    get:
      summary: Retrieve an individual EdgeEngine script
      operationId: GetSiteScript2
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/cdnGetSiteScriptResponse'
        401:
          description: Returned when an unauthorized request is attempted.
          schema:
            $ref: '#/definitions/apiStatus'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/apiStatus'
        default:
          description: Default error structure.
          schema:
            $ref: '#/definitions/apiStatus'
      parameters:
      - name: stack_id
        description: The ID of the stack containing the site with the EdgeEngine script
          to retrieve
        in: path
        required: true
        type: string
      - name: site_id
        description: The ID of the site containing the EdgeEngine script to retrieve
        in: path
        required: true
        type: string
      - name: script_id
        description: The ID of the EdgeEngine script to retrieve
        in: path
        required: true
        type: string
      - name: script_version
        description: The version of the EdgeEngine script to retrieve
        in: path
        required: true
        type: string
      tags:
      - Cdn
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":200:{s:33:\"AuthACLAccessCodeEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:5:\"allow\";i:2;s:4:\"deny\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:34:\"AuthACLClientIPSrcEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:6:\"socket\";i:2;s:6:\"header\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:27:\"AuthGeoCodeEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:10:{i:0;s:7:\"UNKNOWN\";i:1;s:11:\"countryCode\";i:2;s:6:\"region\";i:3;s:16:\"subdivisionCodes\";i:4;s:4:\"city\";i:5;s:10:\"postalCode\";i:6;s:13:\"continentCode\";i:7;s:8:\"timeZone\";i:8;s:7:\"dmaCode\";i:9;s:8:\"areaCode\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:43:\"AuthUrlSignAKv2HashStrategyEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:4:\"sha1\";i:2;s:6:\"sha256\";i:3;s:3:\"md5\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:39:\"AuthUrlSignL3TimeFormatEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:5:\"epoch\";i:2;s:8:\"datetime\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:46:\"BandWidthRateLimitUnitsInitialEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:4:\"byte\";i:2;s:8:\"kilobyte\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:48:\"BandWidthRateLimitUnitsSustainedEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:7:\"kilobit\";i:2;s:8:\"kilobyte\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:51:\"BandwidthRateLimitInitialBurstUnitsEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:4:\"byte\";i:2;s:8:\"kilobyte\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:52:\"BandwidthRateLimitSustainedRateUnitsEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:7:\"kilobit\";i:2;s:8:\"kilobyte\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:45:\"BillableRegionsEnabledRegionsEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:7:\"UNKNOWN\";i:1;s:2:\"us\";i:2;s:2:\"eu\";i:3;s:2:\"sa\";i:4;s:2:\"as\";i:5;s:2:\"oc\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:50:\"ClientRequestQueueIpListAccessCodeEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:5:\"allow\";i:2;s:4:\"deny\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:53:\"ContentDispositionByHeaderDefaultTypeEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:10:\"attachment\";i:2;s:6:\"inline\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:25:\"CreateSiteRequestTypeEnum\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"CDN\";i:1;s:3:\"WAF\";i:2;s:3:\"API\";}s:7:\"default\";s:3:\"CDN\";s:11:\"description\";s:343:\"A
  site's type determines how StackPath delivers content to incoming HTTP(S) requests.\n\n
  - CDN: The site is a CDN only site\n - WAF: The site is either a standalone WAF
  site or a WAF site with attached CDN service\n - API: The site is an API delivery
  site. API delivery sites are powered by both the WAF and CDN and have custom rulesets
  for each.\";s:5:\"title\";s:19:\"The CDN site's type\";}s:31:\"DnsOverrideTypeEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:1:\"A\";i:2;s:4:\"AAAA\";i:3;s:5:\"CNAME\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:60:\"FileSegmentationInitialOriginRequestBehaviorEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:5:\"range\";i:2;s:4:\"full\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:24:\"GetCDNIPsRequestIPFilter\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"ALL\";i:1;s:4:\"IPV4\";i:2;s:4:\"IPV6\";}s:7:\"default\";s:3:\"ALL\";s:11:\"description\";s:112:\"-
  ALL: Retrieve all IP address types\n - IPV4: Retrieve only IPv4 addresses\n - IPV6:
  Retrieve only IPv6 addresses\";s:5:\"title\";s:47:\"The kinds of IP addresses that
  can be retrieved\";}s:28:\"GetCDNIPsRequestResponseType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"JSON\";i:1;s:10:\"PLAIN_TEXT\";}s:7:\"default\";s:4:\"JSON\";s:11:\"description\";s:118:\"-
  JSON: Return a JSON serialized response\n - PLAIN_TEXT: Return a plain text response
  with one IP address on each line\";s:5:\"title\";s:42:\"The response formats that
  can be retrieved\";}s:35:\"GetMetricsRequestMetricsGranularity\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:4:\"AUTO\";i:1;s:3:\"P1M\";i:2;s:4:\"PT5M\";i:3;s:4:\"PT1H\";i:4;s:3:\"P1D\";}s:7:\"default\";s:4:\"AUTO\";s:11:\"description\";s:230:\"-
  AUTO: StackPath will choose the granularity based on start and end dates\n - P1M:
  Retrieve metrics per minute\n - PT5M: Retrieve metrics per five minute intervals\n
  - PT1H: Retrieve metrics per hour\n - P1D: Retrieve metrics per day\";s:5:\"title\";s:49:\"The
  time intervals that metrics can be rounded to\";}s:31:\"GetMetricsRequestMetricsGroupBy\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:4:\"NONE\";i:1;s:7:\"ACCOUNT\";i:2;s:4:\"SITE\";i:3;s:8:\"PLATFORM\";i:4;s:3:\"POP\";i:5;s:6:\"REGION\";}s:7:\"default\";s:4:\"NONE\";s:11:\"description\";s:259:\"-
  NONE: Don't group metrics\n - ACCOUNT: Group metrics by StackPath account\n - SITE:
  Group metrics by site\n - PLATFORM: Group metrics by scope billing platform\n -
  POP: Group metrics by StackPath point of presence\n - REGION: Group metrics by geographical
  region\";s:5:\"title\";s:37:\"Fields that metrics can be grouped to\";}s:31:\"GetMetricsRequestSiteTypeFilter\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:3:\"ALL\";i:1;s:3:\"CDN\";i:2;s:3:\"WAF\";i:3;s:3:\"API\";i:4;s:11:\"EDGE_ENGINE\";}s:7:\"default\";s:3:\"ALL\";s:11:\"description\";s:246:\"-
  ALL: Retrieve metrics for all site types\n - CDN: Retrieve metrics for CDN sites
  only\n - WAF: Retrieve metrics for WAF sites only\n - API: Retrieve metrics for
  API sites only\n - EDGE_ENGINE: Retrieve metrics for sites with EdgeEngine scripts
  only\";s:5:\"title\";s:61:\"The different kind of sites that metrics can be retrieved
  for\";}s:30:\"GetMetricsResponseMetricSample\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"values\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"title\";s:24:\"An
  individual data point\";}}s:5:\"title\";s:51:\"The data points associated with a
  series of metrics\";}s:30:\"GetMetricsResponseMetricSeries\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"The
  type of data in the analytics set\";}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:57:\"A
  graphable key for the type of data in the analytics set\";}s:7:\"metrics\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:40:\"Descriptions
  of the CDN metrics' samples\";}s:7:\"samples\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GetMetricsResponseMetricSample\";}s:5:\"title\";s:28:\"The
  CDN metrics' data points\";}}s:5:\"title\";s:47:\"A series of analytics data suitable
  for a graph\";}s:29:\"HashTypeClassEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:4:\"HOST\";i:2;s:5:\"MEDIA\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:43:\"MidTierCachingRequestFormatEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:8:\"internal\";i:2;s:8:\"external\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:41:\"OriginPullDefaultBehaviorEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:5:\"dedup\";i:2;s:7:\"nocache\";i:3;s:7:\"nostore\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:44:\"OriginPullPolicyExpirePolicyEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:7:\"UNKNOWN\";i:1;s:13:\"CACHE_CONTROL\";i:2;s:6:\"INGEST\";i:3;s:11:\"LAST_MODIFY\";i:4;s:12:\"NEVER_EXPIRE\";i:5;s:12:\"DO_NOT_CACHE\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:47:\"OriginPullPolicyNoCacheBehaviorEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:6:\"legacy\";i:2;s:4:\"spec\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:40:\"OriginPullRedirectActionEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:6:\"follow\";i:2;s:5:\"proxy\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:40:\"OriginPullShieldBehaviorEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:8:\"redirect\";i:2;s:3:\"tlb\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:63:\"OriginPullShieldPermissibleShieldInternalErrorsEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:7:\"UNKNOWN\";i:1;s:4:\"NONE\";i:2;s:15:\"CONNECTION_ONLY\";i:3;s:10:\"WRITE_ONLY\";i:4;s:10:\"WRITE_READ\";i:5;s:3:\"ALL\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:23:\"PurgeContentRequestItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"The
  URL at which to delete content\";}s:9:\"recursive\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"x-omitempty\";b:0;s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:57:\"Whether
  or not to recursively delete content from the CDN\";}s:14:\"invalidateOnly\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"x-omitempty\";b:0;s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:79:\"Whether
  or not to mark the asset as expired and re-validate instead of deleting\";}s:15:\"purgeAllDynamic\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"boolean\";s:11:\"x-omitempty\";b:0;s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:37:\"This
  is ignored if recursive is true.\";s:5:\"title\";s:50:\"Whether or not to purge
  dynamic versions of assets\";}s:7:\"headers\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:94:\"A
  list of HTTP response headers from the origin that should exist for its content
  to be purged\";}s:13:\"purgeSelector\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/PurgeContentRequestPurgeSelector\";}}}s:5:\"title\";s:40:\"An
  individual item to purge from the CDN\";}s:32:\"PurgeContentRequestPurgeSelector\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"selectorType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/PurgeContentRequestPurgeSelectorType\";}s:12:\"selectorName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"selectorValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"selectorValueDelimiter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:36:\"PurgeContentRequestPurgeSelectorType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"HEADER\";i:1;s:3:\"TAG\";}s:7:\"default\";s:6:\"HEADER\";}s:37:\"RequestFilterUrlInputEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:8:\"FULL_URL\";i:2;s:14:\"FULL_FILE_PATH\";i:3;s:21:\"FULL_FILE_PATH_LEGACY\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:38:\"ScanOriginResponseOriginScanSSLDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"valid\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"x-omitempty\";b:0;s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:61:\"Whether
  or not the scanned domain has a valid SSL certificate\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:66:\"Errors
  encountered processing HTTPS requests to the scanned domain\";}}s:5:\"title\";s:38:\"SSL
  details in an origin scan response\";}s:13:\"SiteTypeValue\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:3:\"CDN\";i:2;s:3:\"WAF\";i:3;s:3:\"API\";}s:7:\"default\";s:7:\"UNKNOWN\";s:11:\"description\";s:394:\"A
  site's type determines how StackPath delivers content to incoming HTTP(S) requests.\n\n
  - UNKNOWN: StackPath is unable to determine a site's type\n - CDN: A site is CDN
  only site\n - WAF: A site is either a standalone WAF site or a WAF site with attached
  CDN service\n - API: A site is an API delivery site. API delivery sites are powered
  by both the WAF and CDN and have custom rulesets for each.\";s:5:\"title\";s:17:\"A
  CDN site's type\";}s:44:\"VaryHeaderFieldProxyBehaviorEnumWrapperValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:5:\"whole\";i:2;s:8:\"filtered\";i:3;s:4:\"none\";}s:7:\"default\";s:7:\"UNKNOWN\";}s:9:\"apiStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/apiStatusDetail\";}}}}s:15:\"apiStatusDetail\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"@type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"@type\";}s:13:\"discriminator\";s:5:\"@type\";}s:14:\"cdnCertificate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:25:\"A
  certificate's unique ID\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:41:\"A
  unique hash of a certificate's contents\";}s:10:\"commonName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:83:\"A
  certificate's common name, or the primary domain name the certificate is used for\";}s:6:\"issuer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:59:\"The
  name of the certificate's issuing certificate authority\";}s:8:\"caBundle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:52:\"A
  PEM PKCS #7 formatted certificate authority bundle\";}s:7:\"trusted\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"x-omitempty\";b:0;s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:70:\"Whether
  or not the certificate's authority is trusted by a web browser\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:39:\"The
  date an SSL certificate will expire\";}s:10:\"createDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:39:\"The
  date an SSL certificate was created\";}s:10:\"updateDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:44:\"The
  date an SSL certificate was last updated\";}s:23:\"subjectAlternativeNames\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:81:\"Certificates
  for multiple domains define their domains in certificate's SAN list.\";s:5:\"title\";s:54:\"A
  list of Subject Alternative Names in the certificate\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/cdnCertificateStatus\";}s:15:\"providerManaged\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"x-omitempty\";b:0;s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:61:\"Whether
  a certificate is managed by StackPath or the end user\";}}s:5:\"title\";s:18:\"An
  SSL certificate\";}s:20:\"cdnCertificateStatus\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:7:\"UNKNOWN\";i:1;s:7:\"PENDING\";i:2;s:7:\"EXPIRED\";i:3;s:6:\"FAILED\";i:4;s:20:\"PENDING_VERIFICATION\";i:5;s:6:\"ACTIVE\";i:6;s:8:\"INACTIVE\";}s:7:\"default\";s:7:\"UNKNOWN\";s:11:\"description\";s:491:\"-
  UNKNOWN: StackPath is unable to determine the certificate's status. This is the
  default status for end-user provided certificates.\n - PENDING: The certificate
  is provisioning\n - EXPIRED: The certificate has expired\n - FAILED: The certificate
  failed to provision\n - PENDING_VERIFICATION: The certificate is pending domain
  verification by the end user\n - ACTIVE: The certificate is valid and is in use
  by one or more hosts\n - INACTIVE: The certificate is valid but is not in use by
  any hosts\";s:5:\"title\";s:41:\"A StackPath-provided certificate's status\";}s:30:\"cdnConnectScopeToOriginRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/cdnConnectScopeToOriginRequestOrigin\";}s:8:\"priority\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:119:\"If
  a CDN scope is powered by more than one origin, then the one with the lower priority
  number takes higher precedence.\";s:5:\"title\";s:34:\"The origin's priority to
  the scope\";}s:8:\"originId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"This
  is useful for connecting to a shared origin.\";s:5:\"title\";s:54:\"The ID of an
  existing origin to associate with a scope\";}}s:5:\"title\";s:54:\"A request to
  associate an origin with a CDN site scope\";}s:36:\"cdnConnectScopeToOriginRequestOrigin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"path\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Paths
  default to \"/\"\";s:5:\"title\";s:17:\"The origin's path\";}s:8:\"hostname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:35:\"The
  origin's hostname or IP address\";}s:4:\"port\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:38:\"The
  HTTP port to connect to the origin\";}s:10:\"securePort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:39:\"The
  HTTPS port to connect to the origin\";}}s:5:\"title\";s:12:\"A new origin\";}s:31:\"cdnConnectScopeToOriginResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"scopeOrigin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/cdnScopeOrigin\";}}s:5:\"title\";s:72:\"The
  response from a request to associate an origin with a CDN site scope\";}s:35:\"cdnConnectSiteToCertificateResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"siteCertificate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/cdnSiteCertificate\";}}s:5:\"title\";s:73:\"The
  response to a request to associate an SSL certificate with a CDN site\";}s:27:\"cdnCreateCertificateRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"certificate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:39:\"A
  PEM PKCS #7 formatted SSL certificate\";}s:3:\"key\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Private
  keys are sent directly to the edge nodes and are not stored elsewhere on StackPath's
  systems.\";s:5:\"title\";s:35:\"A PEM PKCS #7 formatted private key\";}s:8:\"caBundle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:52:\"A
  PEM PKCS #7 formatted certificate authority bundle\";}}s:5:\"title\";s:46:\"A request
  to add an SSL certificate to a stack\";}s:28:\"cdnCreateCertificateResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"certificate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/cdnCertificate\";}}s:5:\"title\";s:64:\"The
  response from a request to add an SSL certificate to a stack\";}s:29:\"cdnCreateScopeHostnameRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"The
  hostname to add to a scope\";}s:22:\"disableTransparentMode\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:6:\"format\";s:7:\"boolean\";s:11:\"description\";s:137:\"When
  true, this call adds the hostname to a CDN site's scope instead of loading from
  a CDN site's WAF scope, if the site has WAF service.\";s:5:\"title\";s:77:\"Whether
  or not to add the hostname to a CDN site's CDN scope or its WAF scope\";}}s:5:\"title\";s:47:\"A
  request to add a hostname to a CDN site scope\";}s:30:\"cdnCreateScopeHostnameResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"hostname\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/cdnHostname\";}}s:5:\"title\";s:65:\"The
  response from a request to add a hostname to a CDN site scope\";}s:21:\"cdnCreateScopeRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:49:\"The
  HTTP request path the scope should respond to\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  StackPath billing platform to create the scope on\";}}s:5:\"title\";s:36:\"A request
  to create a CDN site scope\";}s:22:\"cdnCreateScopeResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"scope\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/cdnScope\";}}s:5:\"title\";s:54:\"The
  response from a request to create a CDN site scope\";}s:25:\"cdnCreateScopeRuleRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:28:\"The
  name of the new EdgeRule\";}s:4:\"slug\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:39:\"A
  programmatic name of the new EdgeRule\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/custconfConfiguration\";}}s:5:\"title\";s:34:\"A
  request to create a new EdgeRule\";}s:26:\"cdnCreateScopeRuleResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"rule\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/cdnScopeRule\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/custconfConfiguration\";}}s:5:\"title\";s:52:\"The
  response from a request to create a new EdgeRule\";}s:20:\"cdnCreateSiteRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:62:\"The
  new CDN site's name, typically the domain name of the site\";}s:6:\"origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/cdnCreateSiteRequestOrigin\";}s:8:\"features\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/cdnCreateSiteRequestFeature\";}s:5:\"title\";s:38:\"The
  new CDN site's associated features\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/CreateSiteRequestTypeEnum\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/custconfConfiguration\";}}s:5:\"title\";s:34:\"A
  request to create a new CDN site\";}s:27:\"cdnCreateSiteRequestFeature\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"CDN\";i:1;s:3:\"WAF\";}s:7:\"default\";s:3:\"CDN\";s:11:\"description\";s:246:\"Multiple
  products can served on a single CDN site. Features control how those products are
  managed on the StackPath backend.\n\n - CDN: The site will have CDN caching abilities\n
  - WAF: The site is protected by the StackPath Web Application Firewall\";s:5:\"title\";s:42:\"The
  features available to the new CDN site\";}s:26:\"cdnCreateSiteRequestOrigin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"path\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Paths
  default to \"/\"\";s:5:\"title\";s:17:\"The origin's path\";}s:8:\"hostname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:35:\"The
  origin's hostname or IP address\";}s:4:\"port\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:38:\"The
  HTTP port to connect to the origin\";}s:10:\"securePort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:39:\"The
  HTTPS port to connect to the origin\";}}s:5:\"title\";s:21:\"The new site's origin\";}s:21:\"cdnCreateSiteResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"site\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/cdnSite\";}}s:5:\"title\";s:52:\"The
  response from a request to create a new CDN site\";}s:26:\"cdnCreateSiteScriptRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:37:\"The
  name of the new EdgeEngine script\";}s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"byte\";s:5:\"title\";s:41:\"The
  contents of the new EdgeEngine script\";}s:5:\"paths\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:68:\"The
  HTTP request paths that are handled by the new EdgeEngine script\";}}s:5:\"title\";s:43:\"A
  request to create a new EdgeEngine script\";}s:27:\"cdnCreateSiteScriptResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"script\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/cdnSiteScript\";}}s:5:\"title\";s:61:\"The
  response from a request to create a new EdgeEngine script\";}s:25:\"cdnDnsVerificationDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"dnsRecords\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:57:\"A
  list of DNS records that will validate domain ownership\";}}s:5:\"title\";s:47:\"DNS-based
  domain ownership verification details\";}s:20:\"cdnGetCDNIPsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"results\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:26:\"The
  requested IP addresses\";}}s:5:\"title\";s:87:\"The response from a request to retrieve
  IP addresses used by the StackPath edge network\";}s:25:\"cdnGetCertificateResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"certificate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/cdnCertificate\";}}s:5:\"title\";s:80:\"The
  response from a request to retrieve an individual SSL certificate on a stack\";}s:30:\"cdnGetCertificateSitesResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"pageInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/paginationPageInfo\";}s:7:\"results\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/cdnSite\";}s:5:\"title\";s:23:\"The
  requested CDN sites\";}}s:5:\"title\";s:84:\"The response from a request to retrieve
  CDN sites associated with an SSL certificate\";}s:44:\"cdnGetCertificateVerificationDetailsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"manualVerificationRequired\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"x-omitempty\";b:0;s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:75:\"Whether
  or not the end user must provide their own certificate verification\";}s:24:\"verificationRequirements\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/cdnVerificationRequirements\";}s:5:\"title\";s:46:\"An
  SSL certificate's verification requirements\";}}s:5:\"title\";s:88:\"The response
  from a request to retrieve an SSL certificate's manual verification details\";}s:26:\"cdnGetCertificatesResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"pageInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/paginationPageInfo\";}s:7:\"results\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"x-omitempty\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/cdnCertificate\";}s:5:\"title\";s:30:\"The
  requested SSL certificates\";}}s:5:\"title\";s:66:\"The response from a request
[...]
