---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:17:\"x-WM-SERVICE_TYPE\";s:11:\"RestService\";s:11:\"x-WM-API_ID\";s:36:\"cfec10e6-c162-4af9-837d-bad92f74d31a\";s:22:\"x-WM-USE_PROXY_FOR_WEB\";b:1;s:15:\"x-WM-SERVICE_ID\";s:10:\"googleapis\";s:25:\"x-WM-USE_PROXY_FOR_MOBILE\";b:1;s:7:\"version\";s:3:\"2.0\";}"
host: maps.googleapis.com:80
basePath: /maps
paths:
  /api/directions/xml:
    x-WM-BASE_PATH: /api/directions/xml
    x-WM-TAG: RestServiceVirtualController
    get:
      x-WM-OPERATION_UID: fca68422-28c6-4c96-aba8-7dd000fa447b
      tags:
      - RestServiceVirtualController
      x-WM-METHOD_NAME: invoke
      x-WM-ACCESS_SPECIFIER: APP_ONLY
      parameters:
      - description: sensor
        name: sensor
        x-WM-EDITABLE: false
        format: boolean
        type: string
        required: false
        in: query
      - description: origin
        name: origin
        x-WM-EDITABLE: false
        format: string
        type: string
        required: false
        in: query
      - description: destination
        name: destination
        x-WM-EDITABLE: false
        format: string
        type: string
        required: false
        in: query
      consumes:
      - text/xml
      responses:
        200:
          schema:
            $ref: '#/definitions/DirectionsResponse'
          description: Success
      operationId: googleapis_RestServiceVirtualController-invoke
    x-WM-RELATIVE_PATH: ""
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":14:{s:6:\"bounds\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:17:\"googleapis.bounds\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"southwest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/southwest\";}s:9:\"northeast\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/northeast\";}}}s:3:\"leg\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:14:\"googleapis.leg\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/duration\";}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/distance\";}s:12:\"end_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/end_location\";}s:13:\"start_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"end_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"start_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/start_location\";}s:4:\"step\";O:8:\"stdClass\":3:{s:12:\"x-WM-IS_LIST\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/stepEntryItem\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"distance\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:19:\"googleapis.distance\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:8:\"duration\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:19:\"googleapis.duration\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:12:\"end_location\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:23:\"googleapis.end_location\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lng\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}s:8:\"polyline\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:19:\"googleapis.polyline\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"points\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"geocoded_waypointEntryItem\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:37:\"googleapis.geocoded_waypointEntryItem\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"place_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"geocoder_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:12:\"x-WM-IS_LIST\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"DirectionsResponse\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:29:\"googleapis.DirectionsResponse\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"route\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/route\";}s:17:\"geocoded_waypoint\";O:8:\"stdClass\":3:{s:12:\"x-WM-IS_LIST\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/geocoded_waypointEntryItem\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"stepEntryItem\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:24:\"googleapis.stepEntryItem\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/duration\";}s:17:\"html_instructions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/distance\";}s:12:\"end_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/end_location\";}s:8:\"polyline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/polyline\";}s:14:\"start_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/start_location\";}s:8:\"maneuver\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"travel_mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"route\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:16:\"googleapis.route\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"bounds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/bounds\";}s:3:\"leg\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/leg\";}s:10:\"copyrights\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"overview_polyline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/overview_polyline\";}}}s:14:\"start_location\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:25:\"googleapis.start_location\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lng\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}s:9:\"southwest\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:20:\"googleapis.southwest\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lng\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}s:9:\"northeast\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:20:\"googleapis.northeast\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lng\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}s:17:\"overview_polyline\";O:8:\"stdClass\":3:{s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:28:\"googleapis.overview_polyline\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"points\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
