---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"2.0\";s:17:\"x-WM-SERVICE_TYPE\";s:11:\"RestService\";s:11:\"x-WM-API_ID\";s:36:\"dd8f4c0a-587e-4c88-9534-70b66753a8e2\";s:15:\"x-WM-SERVICE_ID\";s:10:\"googleapis\";}"
host: maps.googleapis.com
paths:
  /googleapis/invoke:
    get:
      tags:
      - RestServiceVirtualController
      operationId: invoke
      consumes:
      - text/xml
      parameters:
      - name: sensor
        in: query
        description: sensor
        required: false
        type: string
        x-WM-EDITABLE: false
      - name: origin
        in: query
        description: origin
        required: false
        type: string
        x-WM-EDITABLE: false
      - name: destination
        in: query
        description: destination
        required: false
        type: string
        x-WM-EDITABLE: false
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DirectionsResponse'
      x-WM-OPERATION_UID: e1bcc41b-1272-4e80-b038-857094030d57
      x-WM-ACCESS_SPECIFIER: APP_ONLY
      x-WM-METHOD_IDENTIFIER: invoke
    x-WM-BASE_PATH: /googleapis/invoke
    x-WM-TAG: RestServiceVirtualController
    x-WM-RELATIVE_PATH: ""
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":14:{s:12:\"end_location\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lng\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:23:\"googleapis.end_location\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:26:\"geocoded_waypointEntryItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"place_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"geocoder_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"x-WM-IS_LIST\";b:1;}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:37:\"googleapis.geocoded_waypointEntryItem\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:18:\"DirectionsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"route\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/route\";}s:17:\"geocoded_waypoint\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/geocoded_waypointEntryItem\";}s:12:\"x-WM-IS_LIST\";b:1;}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:29:\"googleapis.DirectionsResponse\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:13:\"stepEntryItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/duration\";}s:17:\"html_instructions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/distance\";}s:12:\"end_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/end_location\";}s:8:\"polyline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/polyline\";}s:14:\"start_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/start_location\";}s:8:\"maneuver\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"travel_mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:24:\"googleapis.stepEntryItem\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:14:\"start_location\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lng\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:25:\"googleapis.start_location\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:9:\"northeast\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lng\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:20:\"googleapis.northeast\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:17:\"overview_polyline\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"points\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:28:\"googleapis.overview_polyline\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:6:\"bounds\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"southwest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/southwest\";}s:9:\"northeast\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/northeast\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:17:\"googleapis.bounds\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:3:\"leg\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/duration\";}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/distance\";}s:12:\"end_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/end_location\";}s:13:\"start_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"end_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"start_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/start_location\";}s:4:\"step\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/stepEntryItem\";}s:12:\"x-WM-IS_LIST\";b:1;}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:14:\"googleapis.leg\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:8:\"distance\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:19:\"googleapis.distance\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:8:\"duration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:19:\"googleapis.duration\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:8:\"polyline\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"points\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:19:\"googleapis.polyline\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:5:\"route\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"bounds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/bounds\";}s:3:\"leg\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/leg\";}s:10:\"copyrights\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"overview_polyline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/overview_polyline\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:16:\"googleapis.route\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:9:\"southwest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lng\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:20:\"googleapis.southwest\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}}"
...
