---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:97:\"SlideRoom provides
  a RESTful API for exporting data out of your organization's SlideRoom account.\";s:5:\"title\";s:16:\"SlideRoom
  API V2\";s:7:\"version\";s:2:\"v2\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:43:\"http://www.slideroom.com/images/sr_logo.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:35:\"https://api.slideroom.com/schema/v2\";s:7:\"version\";s:3:\"2.0\";}s:14:\"x-providerName\";s:13:\"slideroom.com\";}"
host: api.slideroom.com:443
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:14:\"ExportResultV2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"completed_files\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"file_urls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"total_files\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:32:\"RequestApplicationExportResultV2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"submissions\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"token\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
