---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:97:\"SlideRoom provides
  a RESTful API for exporting data out of your organization's SlideRoom account.\";s:5:\"title\";s:16:\"SlideRoom
  API V2\";s:7:\"version\";s:2:\"v2\";s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#000000\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/http_www.slideroom.com_assets_img_sr_logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:35:\"https://api.slideroom.com/schema/v2\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"slideroom.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"slideroom\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.slideroom.com
paths:
  /api/v2/applicant/attributes:
    delete:
      consumes: []
      deprecated: false
      operationId: Applicant_DeleteAttributesV2
      parameters:
      - description: The email address of the applicant.
        in: query
        name: email
        required: true
        type: string
      - description: The name of the attribute to be deleted.
        in: query
        name: name
        required: true
        type: string
      - enum:
        - Standard
        - CommonAppSDS
        in: query
        name: pool
        required: false
        type: string
      - format: int32
        in: query
        name: commonAppYear
        required: false
        type: integer
      responses:
        200:
          description: OK
          schema:
            type: string
      summary: Deletes a custom attribute for an applicant.
      tags:
      - Applicant
    get:
      consumes: []
      deprecated: false
      operationId: Applicant_GetAttributesV2
      parameters:
      - description: The email address of the applicant.
        in: query
        name: email
        required: true
        type: string
      - enum:
        - Standard
        - CommonAppSDS
        in: query
        name: pool
        required: false
        type: string
      - format: int32
        in: query
        name: commonAppYear
        required: false
        type: integer
      responses:
        200:
          description: OK
          examples:
            application/json:
              name1: Value1
              name2: Value2
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Gets the custom attributes for an applicant.
      tags:
      - Applicant
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      deprecated: false
      description: This method only adds or updates attributes. Null values will be
        updated as nulls, but not deleted. API Import is available in the Advanced
        Plan.
      operationId: Applicant_PostAttributesV2
      parameters:
      - description: The email address of the applicant.
        in: query
        name: email
        required: true
        type: string
      - description: The name/value pairs of the attributes.
        in: body
        name: data
        required: true
        schema:
          additionalProperties:
            type: string
          example:
            name1: Value1
            name2: Value2
          type: object
      - enum:
        - Standard
        - CommonAppSDS
        in: query
        name: pool
        required: false
        type: string
      - format: int32
        in: query
        name: commonAppYear
        required: false
        type: integer
      responses:
        200:
          description: OK
          schema:
            type: string
      summary: Updates the custom attributes for an applicant.
      tags:
      - Applicant
  /api/v2/applicant/attributes/names:
    get:
      consumes: []
      deprecated: false
      operationId: Applicant_GetAttributeNamesV2
      parameters: []
      responses:
        200:
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets the custom applicant attributes used by the organization.
      tags:
      - Applicant
  /api/v2/application/attributes/names:
    get:
      consumes: []
      deprecated: false
      operationId: Application_GetAttributeNamesV2
      parameters: []
      responses:
        200:
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets the custom application attributes used by the organization.
      tags:
      - Application
  /api/v2/application/request-export:
    post:
      consumes: []
      deprecated: false
      description: Exports are generated asynchronously within SlideRoom.  To retrieve
        the export file generated by this request, use the api/v#/export/{token} endpoint
        to check the progress/result of the generation process.rn            PDF and
        ZIP exports are available in the Advanced Plan.
      operationId: Application_RequestExportV2
      parameters:
      - enum:
        - csv
        - tsv
        - txt
        - tab
        - xlsx
        - pdf
        - zip
        - json
        in: query
        name: format
        required: false
        type: string
      - enum:
        - Assigned
        - Current
        - Named
        - All
        in: query
        name: roundType
        required: false
        type: string
      - in: query
        name: roundName
        required: false
        type: string
      - in: query
        name: tab.export
        required: false
        type: string
      - in: query
        name: pdf.includeForms
        required: false
        type: boolean
      - in: query
        name: pdf.includeReferences
        required: false
        type: boolean
      - in: query
        name: pdf.includeMedia
        required: false
        type: boolean
      - in: query
        name: pdf.includeApplicantAttachments
        required: false
        type: boolean
      - in: query
        name: pdf.includeOrganizationAttachments
        required: false
        type: boolean
      - in: query
        name: pdf.includeRatings
        required: false
        type: boolean
      - in: query
        name: pdf.includeFullPageMedia
        required: false
        type: boolean
      - in: query
        name: pdf.includeHighlights
        required: false
        type: boolean
      - in: query
        name: pdf.includeComments
        required: false
        type: boolean
      - in: query
        name: pdf.includeCommonApp
        required: false
        type: boolean
      - in: query
        name: zip.originalMedia
        required: false
        type: boolean
      - in: query
        name: zip.includeForms
        required: false
        type: boolean
      - in: query
        name: zip.includeReferences
        required: false
        type: boolean
      - in: query
        name: zip.includeMedia
        required: false
        type: boolean
      - in: query
        name: zip.includeApplicantAttachments
        required: false
        type: boolean
      - in: query
        name: zip.includeOrganizationAttachments
        required: false
        type: boolean
      - in: query
        name: zip.includeRatings
        required: false
        type: boolean
      - in: query
        name: zip.includeComments
        required: false
        type: boolean
      - in: query
        name: zip.includeCommonApp
        required: false
        type: boolean
      - in: query
        name: delivery.account
        required: false
        type: string
      - in: query
        name: delivery.folder
        required: false
        type: string
      - format: int32
        in: query
        name: since
        required: false
        type: integer
      - enum:
        - All
        - Current
        - Archived
        - CommonAppSDS
        in: query
        name: pool
        required: false
        type: string
      - enum:
        - All
        - InProgress
        - Submitted
        in: query
        name: status
        required: false
        type: string
      - in: query
        name: searchName
        required: false
        type: string
      - in: query
        name: email
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RequestApplicationExportResultV2'
      summary: Requests the generation of application export files (tabular, pdf,
        zip).
      tags:
      - Application
  /api/v2/application/{applicationId}/attributes:
    delete:
      consumes: []
      deprecated: false
      operationId: Application_DeleteAttributesV2
      parameters:
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        type: string
      - description: The name of the attribute to be deleted.
        in: query
        name: name
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: string
      summary: Deletes a custom attribute for an application.
      tags:
      - Application
    get:
      consumes: []
      deprecated: false
      operationId: Application_GetAttributesV2
      parameters:
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        type: string
      responses:
        200:
          description: OK
          examples:
            application/json:
              name1: Value1
              name2: Value2
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Gets the custom attributes for an application.
      tags:
      - Application
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      deprecated: false
      description: This method only adds or updates attributes. Null values will be
        updated as nulls, but not deleted.
      operationId: Application_PostAttributesV2
      parameters:
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        type: string
      - description: The name/value pairs of the attributes.
        in: body
        name: data
        required: true
        schema:
          additionalProperties:
            type: string
          example:
            name1: Value1
            name2: Value2
          type: object
      responses:
        200:
          description: OK
          schema:
            type: string
      summary: Updates the custom attributes for an application. API Import is available
        in the Advanced Plan.
      tags:
      - Application
  /api/v2/application/{applicationId}/request-export:
    post:
      consumes: []
      deprecated: false
      description: Exports are generated asynchronously within SlideRoom.  To retrieve
        the export file generated by this request, use the api/v#/export/{token} endpoint
        to check the progress/result of the generation process.
      operationId: Application_RequestExportByApplicationIdV2
      parameters:
      - description: The id of the application to export
        in: path
        name: applicationId
        required: true
        type: string
      - enum:
        - csv
        - tsv
        - txt
        - tab
        - xlsx
        - pdf
        - zip
        - json
        in: query
        name: format
        required: false
        type: string
      - enum:
        - Assigned
        - Current
        - Named
        - All
        in: query
        name: roundType
        required: false
        type: string
      - in: query
        name: roundName
        required: false
        type: string
      - in: query
        name: tab.export
        required: false
        type: string
      - in: query
        name: pdf.includeForms
        required: false
        type: boolean
      - in: query
        name: pdf.includeReferences
        required: false
        type: boolean
      - in: query
        name: pdf.includeMedia
        required: false
        type: boolean
      - in: query
        name: pdf.includeApplicantAttachments
        required: false
        type: boolean
      - in: query
        name: pdf.includeOrganizationAttachments
        required: false
        type: boolean
      - in: query
        name: pdf.includeRatings
        required: false
        type: boolean
      - in: query
        name: pdf.includeFullPageMedia
        required: false
        type: boolean
      - in: query
        name: pdf.includeHighlights
        required: false
        type: boolean
      - in: query
        name: pdf.includeComments
        required: false
        type: boolean
      - in: query
        name: pdf.includeCommonApp
        required: false
        type: boolean
      - in: query
        name: zip.originalMedia
        required: false
        type: boolean
      - in: query
        name: zip.includeForms
        required: false
        type: boolean
      - in: query
        name: zip.includeReferences
        required: false
        type: boolean
      - in: query
        name: zip.includeMedia
        required: false
        type: boolean
      - in: query
        name: zip.includeApplicantAttachments
        required: false
        type: boolean
      - in: query
        name: zip.includeOrganizationAttachments
        required: false
        type: boolean
      - in: query
        name: zip.includeRatings
        required: false
        type: boolean
      - in: query
        name: zip.includeComments
        required: false
        type: boolean
      - in: query
        name: zip.includeCommonApp
        required: false
        type: boolean
      - in: query
        name: delivery.account
        required: false
        type: string
      - in: query
        name: delivery.folder
        required: false
        type: string
      responses:
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/RequestApplicationExportResultV2'
        400:
          description: Bad Request
      summary: Requests the generation of a single application export file (tabular,
        pdf, zip).
      tags:
      - Application
  /api/v2/export/{token}:
    get:
      consumes: []
      deprecated: false
      operationId: Export_GetV2
      parameters:
      - description: ""
        format: int32
        in: path
        name: token
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ExportResultV2'
      summary: Gets the status/result of a requested export.
      tags:
      - Export
produces:
- application/json
- text/json
- application/xml
- text/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:14:\"ExportResultV2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"completed_files\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"file_urls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"total_files\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:32:\"RequestApplicationExportResultV2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"submissions\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"token\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"WebhookResultV2\";O:8:\"stdClass\":0:{}}"
...
