---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"BSD
  Simplified 3-Clause\";s:3:\"url\";s:43:\"http://opensource.org/licenses/BSD-3-Clause\";}s:12:\"x-artifactId\";s:3:\"qkr\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:26:\"qkr_support@mastercard.com\";}s:11:\"description\";s:8:\"Open
  API\";s:14:\"termsOfService\";s:26:\"http://labs.mastercard.com\";s:5:\"title\";s:8:\"Qkr!
  API\";s:7:\"version\";s:5:\"1.0.0\";}"
host: api.mastercard.com
basePath: /labs/proxy/qkr2/internal/api2
paths: ~
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":157:{s:24:\"ApiPosOrderCreateCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"shortReference\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:123:\"The
  short code customer shares with the waiter. Waiter enters that code at the till
  to link the order at the till with Qkr.\";s:4:\"type\";s:6:\"string\";}s:8:\"outletId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:36:\"Outlet
  id where the order is created\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"outletId\";i:1;s:14:\"shortReference\";}}s:14:\"AddCardCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:14:\"addressCountry\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:2;s:6:\"format\";s:0:\"\";s:11:\"description\";s:26:\"Country
  of the card holder\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:10:\"addressZip\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:3;s:6:\"format\";s:0:\"\";s:11:\"description\";s:116:\"Postal
  code of the cardholder. The postal code size is between 5 and 9 in length and only
  contain numbers or letters\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:9;}s:12:\"addressState\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:2;s:6:\"format\";s:0:\"\";s:11:\"description\";s:32:\"State
  of the card holder address\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:3:\"cvc\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:3;s:6:\"format\";s:0:\"\";s:11:\"description\";s:85:\"CVC
  security code of the card. This is the code on the back of the card. Example: 123\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:4;}s:8:\"expMonth\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:65:\"Expiration
  month of the card. Format is MM. Example: January = 01\";s:7:\"maximum\";i:12;s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;}s:9:\"isDefault\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:51:\"Indicates
  if this is the default card for this user\";s:4:\"type\";s:7:\"boolean\";}s:7:\"expYear\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"Expiration
  year of the card. Format is YY. Example: 2013 = 13\";s:7:\"maximum\";i:99;s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}s:4:\"name\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:2;s:6:\"format\";s:0:\"\";s:11:\"description\";s:41:\"Cardholder
  Name as it appears on the card\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:12:\"addressLine1\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:33:\"Line
  1 of the card holder address\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:5:\"alias\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:1;s:6:\"format\";s:0:\"\";s:11:\"description\";s:17:\"Alias
  of the card\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;}s:12:\"addressLine2\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:33:\"Line
  2 of the card holder address\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:12:\"addressLine3\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:33:\"Line
  3 of the card holder address\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:3:\"pan\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:34:\"Primary
  account number of the card\";s:4:\"type\";s:6:\"string\";}s:11:\"addressCity\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:2;s:6:\"format\";s:0:\"\";s:11:\"description\";s:23:\"City
  of the card holder\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}}s:8:\"required\";a:4:{i:0;s:5:\"alias\";i:1;s:8:\"expMonth\";i:2;s:7:\"expYear\";i:3;s:3:\"pan\";}}s:8:\"Customer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:5:\"email\";i:1;s:9:\"firstName\";i:2;s:8:\"lastName\";i:3;s:5:\"phone\";}}s:21:\"PosPlacedOrderDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"posOrderReferenceId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:33:\"ID
  of the placed order in the POS\";s:4:\"type\";s:6:\"string\";}s:24:\"posOrderConfirmationCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:48:\"Confirmation
  code of the placed order in the POS\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:24:\"posOrderConfirmationCode\";i:1;s:19:\"posOrderReferenceId\";}}s:35:\"OrderCalendarDayBeneficiaryResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"transItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of transaction items\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TransItemResponse\";}}s:9:\"cartItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of cart items\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CartLineItemResponse\";}}s:13:\"beneficiaryId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:21:\"ID
  of the beneficiary\";s:4:\"type\";s:6:\"string\";}}}s:18:\"FormElementCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:45:\"Id
  of formElement retrieved from GET form API\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:55:\"The
  user-input value for the corresponding form element\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:5:\"value\";}}s:16:\"PosOrderDiscount\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"amount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"Amount
  of discount that was applied\";s:4:\"type\";s:7:\"integer\";}s:4:\"code\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:37:\"Code
  of the discount that was applied\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:39:\"Quantity
  of discounts that were applied\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:37:\"Name
  of the discount that was applied\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:33:\"Type
  of discount that was applied\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:6:\"amount\";i:1;s:4:\"code\";i:2;s:4:\"name\";i:3;s:8:\"quantity\";i:4;s:4:\"type\";}}s:23:\"TransactionItemResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":19:{s:22:\"historicalPurchaseData\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Historical
  purchase information for the transaction item\";s:4:\"$ref\";s:40:\"#/definitions/HistoricalPurchaseResponse\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Total
  amount plus tax of the transaction item, in minor units e.g. cents\";s:4:\"$ref\";s:28:\"#/definitions/AmountResponse\";}s:12:\"purchaseNote\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:40:\"An
  arbitrary note sent with the purchase\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:42:\"Quantity
  of the transaction item purchased\";s:4:\"type\";s:7:\"integer\";}s:12:\"taxBreakDown\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"List
  of tax components associated with the transaction item\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TaxResponse\";}}s:11:\"productData\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Information
  about the purchased product associated with the transaction item\";s:4:\"$ref\";s:29:\"#/definitions/ProductResponse\";}s:16:\"productGroupName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:70:\"The
  name of the ProdGroup to which this transaction item is associated\";s:4:\"type\";s:6:\"string\";}s:12:\"refundStatus\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:94:\"Status
  of a refund.  Possible values are 'P' for partially refunded and 'F' for fully refunded\";s:4:\"type\";s:6:\"string\";}s:8:\"subTotal\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:68:\"Total
  amount of the transaction minus tax, in minor units e.g. cents\";s:4:\"type\";s:7:\"integer\";}s:7:\"taxName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:44:\"Name
  of the tax paid on the transaction item\";s:4:\"type\";s:6:\"string\";}s:11:\"totalAmount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"Total
  amount of the transaction item\";s:4:\"type\";s:7:\"integer\";}s:11:\"prodGroupId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:64:\"ID
  of the ProdGroup to which this transaction item is associated\";s:4:\"type\";s:6:\"string\";}s:18:\"refundHistoryItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Refund
  history for a transaction item (to keep track of partial refunds)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RefundHistoryItemResponse\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:26:\"ID
  of the transaction item\";s:4:\"type\";s:6:\"string\";}s:9:\"variantId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:59:\"ID
  of the product variant purchased in the transaction item\";s:4:\"type\";s:6:\"string\";}s:12:\"deliveryDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"Delivery
  date of this transaction item\";s:4:\"type\";s:7:\"integer\";}s:9:\"taxAmount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:47:\"Transaction
  tax amount in minor units e.g. cent\";s:4:\"type\";s:7:\"integer\";}s:14:\"userSelections\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Product
  selections made by the user for the transaction item\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/UserSelectionResponse\";}}s:13:\"beneficiaryId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:59:\"ID
  of the beneficiary associated with this transaction item\";s:4:\"type\";s:7:\"integer\";}}}s:31:\"LightboxUserInteractionResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"paramsJson\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:60:\"The
  parameters for the lightbox action in JSON string format\";s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:155:\"The
  name of the action the User completed at the Lightbox URL. Examples are LOGIN_SUCCESS,
  REGISTER_SUCCESS, EXPRESS_CHECKOUT_AGREED, CHECKOUT_SUCCESS etc.\";s:4:\"type\";s:6:\"string\";}s:6:\"params\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:51:\"*DEPRECATED*
  The parameters for the Lightbox action\";s:4:\"type\";s:6:\"string\";}}}s:26:\"GetCreditNoteAmountCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:54:\"ID
  of the merchant that credit notes are retrieved for\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:18:\"DepartmentResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"isDeleted\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:39:\"Determines
  if the department is deleted\";s:4:\"type\";s:7:\"boolean\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:18:\"ID
  of the merchant\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:22:\"Name
  of the department\";s:4:\"type\";s:6:\"string\";}s:9:\"isOffline\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:39:\"Determines
  if the department is offline\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:20:\"ID
  of the department\";s:4:\"type\";s:6:\"string\";}s:18:\"prodGroupSummaries\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"List
  of prod group (menu) summaries associated with the department. Use the IDs of these
  to retrieve full prod group information via the GET ProdGroup API\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ProdGroupSummaryResponse\";}}}}s:13:\"DeleteCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:31:\"ID
  of the auth to delete/cancel\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:14:\"AmountResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"amountMinorUnits\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:32:\"Amount
  in minor units e.g. cents\";s:4:\"type\";s:7:\"integer\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:51:\"Currency
  code (ISO-4217) associated with the amount\";s:4:\"type\";s:6:\"string\";}}}s:19:\"BeneficiaryResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:28:\"beneficiaryCustomFieldValues\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/BeneficiaryCustomFieldValueResponse\";}}s:6:\"gender\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"middleName\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:19:\"GetProdGroupCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:32:\"ID
  of the required Product Group\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:22:\"CreatePosOrderResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"orderId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:79:\"This
  is the orderId. Use the orderId for subsequent API requests for this Order\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:42:\"Success
  if the till order is linked to Qkr\";s:4:\"type\";s:6:\"string\";}}}s:17:\"UpdateCardCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:14:\"addressCountry\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:2;s:6:\"format\";s:0:\"\";s:11:\"description\";s:69:\"Country
  code (ISO-3166-1-alpha-2 code) of residence of the cardholder\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:10:\"deviceType\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"addressZip\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:3;s:6:\"format\";s:0:\"\";s:11:\"description\";s:116:\"Postal
  code of the cardholder. The postal code size is between 5 and 9 in length and only
  contain numbers or letters\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:9;}s:12:\"addressState\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:2;s:6:\"format\";s:0:\"\";s:11:\"description\";s:53:\"State
  code (USPS code) of residence of the cardholder\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;}s:8:\"deviceId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"cvc\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"expMonth\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:65:\"Expiration
  month of the card. Format is MM. Example: January = 01\";s:7:\"maximum\";i:12;s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;}s:9:\"isDefault\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:51:\"Determines
  if this is the default card for the user\";s:4:\"type\";s:7:\"boolean\";}s:7:\"expYear\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"Expiration
  year of the card. Format is YY. Example: 2013 = 13\";s:7:\"maximum\";i:99;s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}s:4:\"name\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:2;s:6:\"format\";s:0:\"\";s:11:\"description\";s:41:\"Cardholder
  Name as it appears on the card\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}s:12:\"addressLine1\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:25:\"Address
  of the cardholder\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:5:\"alias\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:1;s:6:\"format\";s:0:\"\";s:11:\"description\";s:17:\"Alias
  of the card\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;}s:12:\"addressLine2\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:35:\"Address
  of the cardholder if needed\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:12:\"addressLine3\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:35:\"Address
  of the cardholder if needed\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:24:\"ID
  of the card to update\";s:4:\"type\";s:6:\"string\";}s:3:\"pan\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:34:\"Primary
  account number of the card\";s:4:\"type\";s:6:\"string\";}s:11:\"addressCity\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:2;s:6:\"format\";s:0:\"\";s:11:\"description\";s:22:\"City
  of the cardholder\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:20:\"ApiOrderTotalCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"orderType\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:90:\"Order
  type that is applied to the calculation. Valid types are 'COLLECTION' and 'DELIVERY'\";s:4:\"type\";s:6:\"string\";}s:9:\"orderTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:33:\"Time
  of order in UTC milliseconds\";s:4:\"type\";s:7:\"integer\";}s:8:\"siteName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:43:\"Name
  of the site to perform calculations on\";s:4:\"type\";s:6:\"string\";}s:12:\"merchantName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:38:\"Name
  of the merchant who owns the site\";s:4:\"type\";s:6:\"string\";}s:8:\"products\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of product items to add to the calculation\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ApiPosProductCommand\";}}}s:8:\"required\";a:5:{i:0;s:12:\"merchantName\";i:1;s:9:\"orderTime\";i:2;s:9:\"orderType\";i:3;s:8:\"products\";i:4;s:8:\"siteName\";}}s:14:\"OptionResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"paymentAdjust\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:39:\"The
  amount in minor units of the option\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:46:\"Description
  of the option selected by the user\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:37:\"ID
  of the option selected by the user\";s:4:\"type\";s:6:\"string\";}s:17:\"selectedByDefault\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:47:\"Determines
  if the option is selected by default\";s:4:\"type\";s:7:\"boolean\";}}}s:18:\"CreateUserResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"cardId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:126:\"ID
  of the card added as part of the registration.  This will only be set when a card
  is created as part of the user create API\";s:4:\"type\";s:6:\"string\";}s:17:\"internalAccountId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"callbackUrl\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"accessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Container
  for access token values such as token and expires\";s:4:\"$ref\";s:27:\"#/definitions/TokenResponse\";}}}s:19:\"ApiVerifyOTPCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"verifierType\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"verifierValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"otpToken\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"otp\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:3:\"otp\";i:1;s:8:\"otpToken\";}}s:21:\"ClosePatOrderResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"closed\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:54:\"True
  if order was closed. False if order is still open\";s:4:\"type\";s:7:\"boolean\";}}}s:22:\"UpdateCartItemResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"cartId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:16:\"ApiRefundCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"reason\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"transId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:19:\"paymentProcessorRef\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"amountMinorUnits\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;}}s:8:\"required\";a:1:{i:0;s:6:\"reason\";}}s:23:\"GetOrderCalendarCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"startTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:42:\"Start
  time for fetching the order calendar\";s:4:\"type\";s:7:\"integer\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:40:\"End
  time for fetching the order calendar\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:60:\"ID
  of the product group for which order calendar is required\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:27:\"ApiPaymentAuthCreateCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:70:\"The
  amount, in minor units, to authorize on the specified payment card\";s:4:\"type\";s:7:\"integer\";}s:6:\"cardId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:61:\"ID
  of the payment card on which the authorization will happen\";s:4:\"type\";s:6:\"string\";}s:8:\"outletId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"amount\";i:1;s:6:\"cardId\";}}s:19:\"FormElementResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:22:\"ID
  of the form element\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:25:\"Label
  of the form element\";s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:28:\"Position
  of the form element\";s:4:\"type\";s:7:\"integer\";}s:7:\"choices\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Choices
  for the form element\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChoiceResponse\";}}s:4:\"type\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:24:\"Type
  of the form element\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:32:\"Value
  of the Form Element if any\";s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:37:\"True
  if the form element is mandatory\";s:4:\"type\";s:7:\"boolean\";}}}s:19:\"CreateTransResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"ref\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:39:\"Unique
  Qkr reference of the transaction\";s:4:\"type\";s:6:\"string\";}s:14:\"transShortCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:99:\"A
  short term identifier for an order (transaction) at an outlet, unique for one day
  and then resets\";s:4:\"type\";s:6:\"string\";}s:9:\"maskedPan\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"cardHolderName\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"bin\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"gatewayRef\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:28:\"masterPassAppLibLiteApiToken\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:19:\"Oltio
  library token\";s:4:\"type\";s:6:\"string\";}s:21:\"expressCheckoutAgreed\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"thankYouMessage\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:17:\"Thank
  you message\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:29:\"ID
  of the order (transaction)\";s:4:\"type\";s:6:\"string\";}s:18:\"masterPassAppToken\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:29:\"Token
  from Oltio for bank app\";s:4:\"type\";s:6:\"string\";}}}s:16:\"PosOrderMenuItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"isDiscounted\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:41:\"Determines
  if the menu item is discounted\";s:4:\"type\";s:7:\"boolean\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"isRefunded\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:40:\"Determines
  if the menu item was refunded\";s:4:\"type\";s:7:\"boolean\";}s:8:\"itemCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:31:\"Menu
  item reference code in POS\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:28:\"Description
  of the menu item\";s:4:\"type\";s:6:\"string\";}s:7:\"rawName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:41:\"The
  menu item name retrieved from the POS\";s:4:\"type\";s:6:\"string\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"subItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Menu
  items contained within this menu item\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PosOrderMenuItem\";}}s:15:\"priceMinorUnits\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:52:\"Item
  price after any adjustments e.g. after discount\";s:4:\"type\";s:7:\"integer\";}s:11:\"isCondiment\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:42:\"Determines
  if the menu item is a condiment\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:21:\"Name
  of the menu item\";s:4:\"type\";s:6:\"string\";}s:7:\"variant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PosProductVariant\";}s:23:\"originalPriceMinorUnits\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"Original
  item price\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:13:{i:0;s:11:\"description\";i:1;s:9:\"groupName\";i:2;s:11:\"isCondiment\";i:3;s:12:\"isDiscounted\";i:4;s:10:\"isRefunded\";i:5;s:8:\"itemCode\";i:6;s:4:\"name\";i:7;s:23:\"originalPriceMinorUnits\";i:8;s:15:\"priceMinorUnits\";i:9;s:8:\"quantity\";i:10;s:7:\"rawName\";i:11;s:8:\"subItems\";i:12;s:7:\"variant\";}}s:34:\"ApiPatPosNotificationCreateCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"Amount,
  in minor units, to notify the POS of\";s:4:\"type\";s:7:\"integer\";}s:7:\"orderId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:63:\"ID
  of Order associated with the payment to notify the POS about\";s:4:\"type\";s:6:\"string\";}s:3:\"tip\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:52:\"The
  tip amount, in minor units, to notify the POS of\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:6:\"amount\";i:1;s:7:\"orderId\";i:2;s:3:\"tip\";}}s:25:\"ApiPosOrderPaymentCommand\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:31:\"Amount
  of payment that was made\";s:4:\"type\";s:7:\"integer\";}s:4:\"code\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:33:\"Code
  of the payment that was made\";s:4:\"type\";s:6:\"string\";}s:11:\"paymentType\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:29:\"Type
  of payment that was made\";s:4:\"type\";s:6:\"string\";}}}s:18:\"UserDetailResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"firstName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:15:\"User
  first name\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:14:\"User
  last name\";s:4:\"type\";s:6:\"string\";}s:9:\"extUserId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:59:\"External
  user ID.  This is usually the same as the userName\";s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:28:\"Unique
  username for the user\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:14:\"ID
  of the user\";s:4:\"type\";s:6:\"string\";}}}s:14:\"ChoiceResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"isDefault\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:34:\"True
  if the label value is default\";s:4:\"type\";s:7:\"boolean\";}s:5:\"label\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:19:\"Label
  of the choice\";s:4:\"type\";s:6:\"string\";}}}s:19:\"ApiResendOTPCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"otpToken\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"otpToken\";}}s:19:\"UpdateTransResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"collectionTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:37:\"Estimated
  collection time by customer\";s:4:\"type\";s:7:\"integer\";}s:13:\"transactionId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:29:\"ID
  of the order (transaction)\";s:4:\"type\";s:7:\"integer\";}}}s:35:\"BeneficiaryCustomFieldValueResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"bcfdValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"updateRequiredMessage\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"bcfdName\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"bcfdType\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:21:\"UpdateCartItemCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"purchaseNote\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:45:\"An
  optional note to be sent with the purchase\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:23:\"Quantity
  of the product\";s:7:\"maximum\";i:999;s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;}s:15:\"selectedOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Additional
  product options selected by the user\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ApiSelectedOptionCommand\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:18:\"ID
  of a cart item.\";s:4:\"type\";s:6:\"string\";}s:9:\"variantId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:51:\"ID
  of the Product variant being updated to the cart\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:8:\"quantity\";i:2;s:9:\"variantId\";}}s:22:\"BeneficiaryCustomField\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"bcfdValue\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:50:\"Beneficiary
  custom field value for the beneficiary\";s:4:\"type\";s:6:\"string\";}s:21:\"updateRequiredMessage\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:56:\"Update
  required message foe the beneficiary custom field\";s:4:\"type\";s:6:\"string\";}s:8:\"bcfdName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:49:\"Beneficiary
  custom field name for the beneficiary\";s:4:\"type\";s:6:\"string\";}s:8:\"bcfdType\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:49:\"Beneficiary
  custom field type for the beneficiary\";s:4:\"type\";s:6:\"string\";}}}s:24:\"CreateOrderAheadResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"posPlacedOrderDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Details
  of the placed order\";s:4:\"$ref\";s:35:\"#/definitions/PosPlacedOrderDetails\";}s:19:\"paymentProcessorRef\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:89:\"Payment
  processor reference number of the payment, if card details or cardId was provided\";s:4:\"type\";s:6:\"string\";}s:15:\"paymentAuthCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:64:\"Auth
  Code of the payment, if card details or cardId was provided\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ProductResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"ageRestricted\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:57:\"Determines
  if there is an age restriction on this product\";s:4:\"type\";s:7:\"boolean\";}s:16:\"smallDescription\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:32:\"Small
  description of the product\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:27:\"Description
  of this product\";s:4:\"type\";s:6:\"string\";}s:8:\"variants\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"List
  of variants on this product\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/VariantResponse\";}}s:14:\"mediumImageUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:24:\"URL
  to the product image\";s:4:\"type\";s:6:\"string\";}s:14:\"availableDates\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Product
  availability dates as time_t in merchant timezone for next 2 weeks\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"form\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Form
  Details\";s:4:\"$ref\";s:26:\"#/definitions/FormResponse\";}s:4:\"name\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:19:\"Name
  of the product\";s:4:\"type\";s:6:\"string\";}s:10:\"optionSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"List
  of option sets associated with this product\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OptionSetResponse\";}}s:17:\"allowPurchaseNote\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:76:\"Determines
  if a purchase note is allowed to be sent when buying this product\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:17:\"ID
  of the product\";s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:40:\"Category
  of the product e.g. Food, Drink\";s:4:\"type\";s:6:\"string\";}s:23:\"shippingAddressRequired\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:73:\"Determines
  if a shipping address is required when purchasing this product\";s:4:\"type\";s:7:\"boolean\";}}}s:25:\"ApiPosOrderAmountsCommand\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:27:\"autoServiceChargeMinorUnits\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"0\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:30:\"How
  much is the service charge\";s:4:\"type\";s:7:\"integer\";}s:19:\"amountDueMinorUnits\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"0\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:23:\"How
  much is outstanding\";s:4:\"type\";s:7:\"integer\";}s:9:\"discounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Applied
  discounts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ApiPosOrderDiscountCommand\";}}s:28:\"otherServiceChargeMinorUnits\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"0\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"How
  much is the other service charge\";s:4:\"type\";s:7:\"integer\";}s:8:\"payments\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Applied
  payments\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ApiPosOrderPaymentCommand\";}}s:18:\"subtotalMinorUnits\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"0\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"Subtotal
  of all items\";s:4:\"type\";s:7:\"integer\";}s:17:\"tipPaidMinorUnits\";O:8:\"stdClass\":3:{s:7:\"default\";s:1:\"0\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"paymentMinorUnits\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"0\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"How
  much\";s:4:\"type\";s:7:\"integer\";}s:13:\"taxMinorUnits\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"0\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"How
  much is tax\";s:4:\"type\";s:7:\"integer\";}}}s:16:\"ListCardResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Object
  list\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CardResponse\";}}}}s:28:\"GetSecurityQuestionsResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"List
  of security questions used when creating a MasterPass user\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/QuestionResponse\";}}}}s:24:\"ApiPatOrderCreateCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"tableIdentifier\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:39:\"Table
  identifier to create the order on\";s:4:\"type\";s:6:\"string\";}s:8:\"siteName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:36:\"Site
  name where the order is created\";s:4:\"type\";s:6:\"string\";}s:12:\"merchantName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:35:\"Merchant
  name to create a new order\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"merchantName\";i:1;s:8:\"siteName\";i:2;s:15:\"tableIdentifier\";}}s:22:\"FormSubmissionResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:15:\"productImageUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:30:\"URL
  for the image of menu item\";s:4:\"type\";s:6:\"string\";}s:13:\"prodGroupName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:16:\"Name
  of the menu\";s:4:\"type\";s:6:\"string\";}s:6:\"paidBy\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:43:\"Name
  of the user who paid for the menu item\";s:4:\"type\";s:6:\"string\";}s:6:\"cartId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:57:\"ID
  of the cart if the user has not paid for the menu item\";s:4:\"type\";s:7:\"integer\";}s:13:\"submittedDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:32:\"Date
  when the form was submitted\";s:4:\"type\";s:7:\"integer\";}s:11:\"productName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:21:\"Name
  of the menu item\";s:4:\"type\";s:6:\"string\";}s:12:\"merchantName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:20:\"Name
  of the merchant\";s:4:\"type\";s:6:\"string\";}s:4:\"form\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Details
  of the form submitted\";s:4:\"$ref\";s:26:\"#/definitions/FormResponse\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"ID
  of the merchant\";s:4:\"type\";s:7:\"integer\";}s:15:\"beneficiaryName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:54:\"Name
  of the beneficiary for whom the form is submitted\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:14:\"ID
  of the form\";s:4:\"type\";s:7:\"integer\";}s:18:\"productDescription\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:28:\"Description
  of the menu item\";s:4:\"type\";s:6:\"string\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:52:\"ID
  of the beneficiary for whom the form is submitted\";s:4:\"type\";s:7:\"integer\";}}}s:24:\"ApiLightboxCreateCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":31:{s:8:\"lastName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:35:\"Last
  name of the end user. Optional\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":4:{s:7:\"default\";s:2:\"en\";s:6:\"format\";s:0:\"\";s:11:\"description\";s:46:\"Language
  of the user. Optional, defaults to en\";s:4:\"type\";s:6:\"string\";}s:18:\"countryOfResidence\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:70:\"Country
  code of the user in ISO 3166-1 Aplha-2 code format.  Required.\";s:4:\"type\";s:6:\"string\";}s:8:\"deviceId\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:83:\"Optional
  device identifier/signature for fraud checking (must be unique per device)\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:22:\"phoneNumberCountryCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:74:\"Phone
  number country code of the end user. MasterPass users only. Optional\";s:4:\"type\";s:6:\"string\";}s:7:\"styleMp\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"checkoutType\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"products\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"Optional
  list of products being purchased (paymentOnly use case), If the partner is not using
  qkr cart and it needs to send the products details to the payment processor\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ApiProductDataCommand\";}}s:12:\"emailAddress\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:39:\"Email
  address of the end user. Optional\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:69:\"ID
  of merchant that payment will be made to. Required if paymentOnly.\";s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"callbackUrl\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"formId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"delivery\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:9:\"tipAmount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"Tip
  in minor units (cents) user will be charged. Optional.\";s:4:\"type\";s:7:\"integer\";}s:6:\"cartId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:58:\"Optional
  ID of cart being purchased (paymentOnly use case)\";s:4:\"type\";s:7:\"integer\";}s:8:\"outletId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:67:\"ID
  of outlet that payment will be made to. Required if paymentOnly.\";s:4:\"type\";s:7:\"integer\";}s:14:\"singleCallback\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"amountMinorUnits\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"Amount
  in minor units (cents) user will be charged. Required if paymentOnly.\";s:4:\"type\";s:7:\"integer\";}s:21:\"expressCheckoutAgreed\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:53:\"Prior
  approval from Qkr team is required to use this.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"taxNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:36:\"First
  name of the end user. Optional\";s:4:\"type\";s:6:\"string\";}s:7:\"landing\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:182:\"The
  page that the User arrives at. Can be either \"LOGIN\" or \"REGISTER\". Ignored
  if User is already authenticated or is accessing a seperate flow not to do with
  login or registration.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:61:\"Phone
  number of the end user. MasterPass users only. Optional\";s:4:\"type\";s:6:\"string\";}s:10:\"nationalId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"termsAccepted\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:11:\"themeConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/LightboxThemeConfigCommand\";}s:22:\"preTaxAmountMinorUnits\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"Pre
  tax amount in minor units (cents). Optional.\";s:4:\"type\";s:7:\"integer\";}s:11:\"partnerTxId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:198:\"ANY
  unique identifier representing the order (item(s)) the User is paying for. Subsequent
  requests for payment with the same partnerTxId will receive an error response with
  code 'duplicate.purchase'\";s:4:\"type\";s:6:\"string\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"paymentOnly\";O:8:\"stdClass\":4:{s:7:\"default\";s:5:\"false\";s:6:\"format\";s:0:\"\";s:11:\"description\";s:42:\"Boolean
  indicating lightbox is for payment\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:11:\"callbackUrl\";}}s:27:\"GetCreditNoteAmountResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:31:\"departmentCreditBalanceResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/DepartmentCreditBalanceResponse\";}}}}s:21:\"VariantDetailResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"variantLabel\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:20:\"Label
  of the variant\";s:4:\"type\";s:6:\"string\";}s:7:\"visible\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:100:\"Determines
  if the variant is visible or not.  Can be used to hide certain variants in some
  use cases\";s:4:\"type\";s:7:\"boolean\";}s:12:\"variantValue\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:20:\"Value
  of the variant\";s:4:\"type\";s:6:\"string\";}}}s:21:\"ApiTransUpdateCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"collectionTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:64:\"Expected
  collection time (in UTC milliseconds) of purchased item\";s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:30:\"ID
  of the required Transaction\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:14:\"collectionTime\";i:1;s:2:\"id\";}}s:16:\"ApiDeleteCommand\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:24:\"ApiForgotPasswordCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"emailAddress\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:25:\"Email
  address of the user\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"emailAddress\";}}s:27:\"ApiBeneficiaryCreateCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"firstName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:29:\"First
  name of the beneficiary\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:47:\"Image
  of the beneficiary, base64 encoded string\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:28:\"Last
  name of the beneficiary\";s:4:\"type\";s:6:\"string\";}s:28:\"beneficiaryCustomFieldValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Beneficiary
  custom field values for the beneficiary\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/BeneficiaryCustomField\";}}s:6:\"gender\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:43:\"Gender
  of the beneficiary, either M, F or -\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"middleName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:30:\"Middle
  name of the beneficiary\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:9:\"firstName\";i:1;s:6:\"gender\";i:2;s:8:\"lastName\";i:3;s:10:\"merchantId\";}}s:26:\"ApiDeviceIdentifierCommand\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"deviceType\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:18:\"Type
  of the device\";s:4:\"type\";s:6:\"string\";}s:8:\"deviceOs\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:30:\"Operation
  system of the device\";s:4:\"type\";s:6:\"string\";}s:8:\"deviceId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:16:\"ID
  of the device\";s:4:\"type\";s:6:\"string\";}}}s:27:\"ExternalTransCreateResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"qkrRef\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:76:\"A
  unique reference to be used to retrieve the stored transaction information\";s:4:\"type\";s:6:\"string\";}}}s:19:\"AddCartItemResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"cartId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:47:\"ID
  of the cart containing the created cart item\";s:4:\"type\";s:6:\"string\";}s:10:\"cartItemId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:27:\"ID
  of the created cart item\";s:4:\"type\";s:6:\"string\";}}}s:26:\"LightboxThemeConfigCommand\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"secondaryLogoId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"backgroundColor\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"cardImgId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"accentColor\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"primaryColor\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"primaryLogoId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:19:\"TransactionResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":37:{s:14:\"collectionTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:64:\"Expected
  collection time (in UTC milliseconds) of purchased item\";s:4:\"type\";s:7:\"integer\";}s:15:\"merchantLocName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:27:\"Name
  of the merchant outlet\";s:4:\"type\";s:6:\"string\";}s:11:\"orderNumber\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:41:\"Internal
  order number for the transaction\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:32:\"Time
  zone of the merchant outlet\";s:4:\"type\";s:6:\"string\";}s:24:\"merchantBusinessCategory\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:33:\"Business
  category of the merchant\";s:4:\"type\";s:6:\"string\";}s:12:\"refundStatus\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:94:\"Status
  of a refund.  Possible values are 'P' for partially refunded and 'F' for fully refunded\";s:4:\"type\";s:6:\"string\";}s:7:\"taxName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:20:\"Transaction
  tax name\";s:4:\"type\";s:6:\"string\";}s:11:\"merchantRef\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:54:\"Unique
  reference from the merchant for the transaction\";s:4:\"type\";s:6:\"string\";}s:3:\"ref\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:39:\"Unique
  Qkr reference of the transaction\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:51:\"The
  currency in which the transaction was purchased\";s:4:\"type\";s:6:\"string\";}s:14:\"shippingAmount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:41:\"Shipping
  amount in minor units e.g. cents\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:21:\"ID
  of the transaction\";s:4:\"type\";s:6:\"string\";}s:13:\"beneficiaries\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of beneficiary profiles\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BeneficiaryResponse\";}}s:9:\"shortCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:99:\"A
  short term identifier for an order (transaction) at an outlet, unique for one day
  and then resets\";s:4:\"type\";s:6:\"string\";}s:16:\"transactionItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"List
  of transaction items within this transaction\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TransactionItemResponse\";}}s:9:\"maskedPan\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:62:\"The
  PAN (with masked fields) used in the purchase of the order\";s:4:\"type\";s:6:\"string\";}s:14:\"cardHolderName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:54:\"The
  name on the card used in the purchase of the order\";s:4:\"type\";s:6:\"string\";}s:9:\"tipAmount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:37:\"Amount
  of tip paid on the transaction\";s:4:\"type\";s:7:\"integer\";}s:12:\"refundReason\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:33:\"The
  reason the order was refunded\";s:4:\"type\";s:6:\"string\";}s:18:\"readyForCollection\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:47:\"Determines
  if the order is ready for collection\";s:4:\"type\";s:7:\"boolean\";}s:14:\"shippingMethod\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:40:\"Shipping
  method provided by the merchant\";s:4:\"type\";s:6:\"string\";}s:19:\"paymentProcessorRef\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"merchantLocId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:25:\"ID
  of the merchant outlet\";s:4:\"type\";s:6:\"string\";}s:19:\"amountBeforeCoupons\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:46:\"Transaction
  amount before coupons were applied\";s:4:\"type\";s:7:\"integer\";}s:12:\"refundedDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:37:\"The
  date the transaction was refunded\";s:4:\"type\";s:7:\"integer\";}s:4:\"seat\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:61:\"The
  delivery destination used in an order-to-seat transaction\";s:4:\"type\";s:6:\"string\";}s:7:\"taxRate\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:11:\"description\";s:20:\"Transaction
  tax rate\";s:4:\"type\";s:6:\"number\";}s:19:\"merchantOrderNumber\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:72:\"Optional
  order number, used in the transaction, supplied by the merchant\";s:4:\"type\";s:6:\"string\";}s:16:\"totalOrderAmount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:31:\"Total
  amount of the transaction\";s:4:\"type\";s:7:\"integer\";}s:13:\"locatedScanId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:56:\"ID
  of the scannable item associated with the transaction\";s:4:\"type\";s:6:\"string\";}s:22:\"taxCalculationsEnabled\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:59:\"Determines
  if tax calculations are enabled for the merchant\";s:4:\"type\";s:7:\"boolean\";}s:9:\"taxAmount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:47:\"Transaction
  tax amount in minor units e.g. cent\";s:4:\"type\";s:7:\"integer\";}s:13:\"fulfilledDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"The
  date the transaction was fulfilled\";s:4:\"type\";s:7:\"integer\";}s:9:\"orderDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"The
  date that the order/transaction happened\";s:4:\"type\";s:7:\"integer\";}s:11:\"partnerTxId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"pricesSetPretax\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:52:\"Determines
  if prices of items purchased were pre tax\";s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:16:\"GetNearbyCommand\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"latitude\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:155:\"Latitude
  coordinate of the required merchants.  If no latitude or longitude are supplied,
  all merchants configured for the calling partner will be returned\";s:4:\"type\";s:6:\"string\";}s:11:\"queryString\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:180:\"Filter
  outlet by checking if merchant and outlet's name contains the queryString .  If
  no queryString is supplied, all merchants configured for the calling partner will
  be returned\";s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:156:\"Longitude
  coordinate of the required merchants.  If no latitude or longitude are supplied,
  all merchants configured for the calling partner will be returned\";s:4:\"type\";s:6:\"string\";}}}s:14:\"LocaleResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:14:\"OutletResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"payAtTable\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:60:\"Determines
  if this outlet provides a Pay-At-Table experience\";s:4:\"type\";s:7:\"boolean\";}s:7:\"address\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:14:\"Outlet
  address\";s:4:\"type\";s:6:\"string\";}s:12:\"closedReason\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:31:\"The
  reason the outlet is closed\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:11:\"description\";s:131:\"Latitude
  of the outlet. If no latitude or longitude are supplied, all merchants configured
  for the calling partner will be returned\";s:4:\"type\";s:6:\"number\";}s:7:\"posType\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:39:\"Point
  Of Sale system used by the outlet\";s:4:\"type\";s:6:\"string\";}s:6:\"isOpen\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:32:\"Determines
  if the outlet is open\";s:4:\"type\";s:7:\"boolean\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:18:\"ID
  of the Merchant\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:26:\"Phone
  number of the outlet\";s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:23:\"URL
  to the outlet image\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:15:\"The
  outlet name\";s:4:\"type\";s:6:\"string\";}s:7:\"iconUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:22:\"URL
  to the outlet icon\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:16:\"ID
  of the outlet\";s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:11:\"description\";s:132:\"Longitude
  of the outlet. If no latitude or longitude are supplied, all merchants configured
  for the calling partner will be returned\";s:4:\"type\";s:6:\"number\";}s:18:\"prodGroupSummaries\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"List
  of prod group (menu) summaries associated with the outlet. Use the IDs of these
  to retrieve full prod group information via the GET ProdGroup API\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ProdGroupSummaryResponse\";}}}}s:11:\"ShowCommand\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:18:\"AddCartItemCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"purchaseNote\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:45:\"An
  optional note to be sent with the purchase\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:23:\"Quantity
  of the product\";s:7:\"maximum\";i:999;s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;}s:13:\"locatedScanId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:94:\"ID
  of a scannable item.  This is a required field and can be retrieved from ProdGroup
  response\";s:4:\"type\";s:6:\"string\";}s:15:\"selectedOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Additional
  product options selected by the user\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ApiSelectedOptionCommand\";}}s:9:\"variantId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:49:\"ID
  of the Product variant being added to the cart\";s:4:\"type\";s:6:\"string\";}s:12:\"deliveryDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:172:\"Delivery
  date of the product variant being added to the cartapidoc.CartItem.addCartItem.input.prodGroupId.description
  = ID of the Product Group to which the product belongs\";s:4:\"type\";s:7:\"integer\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:69:\"ID
  of the beneficiary for whom the product is being added to the cart\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:13:\"locatedScanId\";i:1;s:8:\"quantity\";i:2;s:9:\"variantId\";}}s:24:\"ApiOrderAheadMenuCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"orderTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:31:\"Order
  Time (millis since epoch)\";s:4:\"type\";s:7:\"integer\";}s:8:\"siteName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:9:\"Site
  name\";s:4:\"type\";s:6:\"string\";}s:9:\"menuTypes\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:72:\"Menu
  Type (comma separated list from OrderAtTable, Collection, Delivery)\";s:4:\"type\";s:6:\"string\";}s:12:\"merchantName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:13:\"Merchant
  name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:9:\"menuTypes\";i:1;s:12:\"merchantName\";i:2;s:9:\"orderTime\";i:3;s:8:\"siteName\";}}s:12:\"FormResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"isPaid\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:43:\"True
  if form related product has been paid \";s:4:\"type\";s:7:\"boolean\";}s:21:\"termsAndConditionsUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:28:\"URL
  for terms and conditions\";s:4:\"type\";s:6:\"string\";}s:17:\"isConsentRequired\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:34:\"True
  if form requires user consent\";s:4:\"type\";s:7:\"boolean\";}s:7:\"formUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:15:\"URL
  of the form\";s:4:\"type\";s:6:\"string\";}s:8:\"formName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:9:\"Form
  name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:14:\"ID
  of the form\";s:4:\"type\";s:6:\"string\";}s:11:\"updatedDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:24:\"Updated
  date of the form\";s:4:\"type\";s:7:\"integer\";}s:21:\"formRequiresSignature\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:31:\"True
  if form requires signature\";s:4:\"type\";s:7:\"boolean\";}}}s:24:\"ApiSelectedOptionCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"optionId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:26:\"Selected
  option identifier\";s:4:\"type\";s:6:\"string\";}s:19:\"customPaymentAdjust\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"Payment
  adjustment if not predefined\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:8:\"optionId\";}}s:22:\"CreateLightboxResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:19:\"PaymentAuthResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"amount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"The
  amount in minor units that the card was authorized for\";s:4:\"type\";s:7:\"integer\";}s:8:\"authCode\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"cardId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:50:\"ID
  of the card on which the authorization happened\";s:4:\"type\";s:6:\"string\";}s:10:\"gatewayRef\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"authId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:103:\"Authorization
  code that must be supplied to the capture API to capture the actual payment from
  the card\";s:4:\"type\";s:6:\"string\";}}}s:24:\"ProdGroupSummaryResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:21:\"UserSelectionResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"paymentAdjust\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"Monetary
  value of the user selection\";s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:26:\"Name
  of the user selection\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:26:\"The
  type of user selection\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:20:\"User
  selection value\";s:4:\"type\";s:6:\"string\";}}}s:21:\"ApiProductDataCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"subTotalMinorUnits\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"quantity\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:99;s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;}s:15:\"productRefInPos\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"productName\";i:1;s:8:\"quantity\";i:2;s:18:\"subTotalMinorUnits\";}}s:9:\"PosOption\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"priceMinorUnits\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"selectedByDefault\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:8:\"position\";i:3;s:15:\"priceMinorUnits\";i:4;s:17:\"selectedByDefault\";}}s:11:\"TaxResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:20:\"Tax
  component amount\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:18:\"Tax
  component name\";s:4:\"type\";s:6:\"string\";}s:7:\"percent\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:24:\"Tax
  component percentage\";s:4:\"type\";s:6:\"string\";}}}s:17:\"ResendOTPResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"verifierType\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"otpToken\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:20:\"GetCountriesResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of countries attributes\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CountryResponse\";}}}}s:18:\"ApiPosOrderCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"reference\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:15:\"Order
  reference\";s:4:\"type\";s:6:\"string\";}s:7:\"amounts\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Total
  amount\";s:4:\"$ref\";s:39:\"#/definitions/ApiPosOrderAmountsCommand\";}s:16:\"shouldAutoCharge\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:66:\"This
  is the flag to inform Qkr if the order should be auto charged\";s:4:\"type\";s:7:\"boolean\";}s:13:\"isOrderClosed\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:53:\"This
  is the flag to inform Qkr if the order is closed\";s:4:\"type\";s:7:\"boolean\";}s:9:\"menuItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  items contained in the order\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ApiPosOrderMenuItemCommand\";}}}s:8:\"required\";a:1:{i:0;s:9:\"reference\";}}s:19:\"GetPosMenusResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"List
  of menus\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PosMenuResponse\";}}}}s:26:\"HistoricalPurchaseResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"historicalVariantDetail\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Historical
  record of the product variant purchased in the transaction item\";s:4:\"$ref\";s:35:\"#/definitions/VariantDetailResponse\";}s:3:\"sku\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:82:\"Historical
  record of the name of the product SKU purchased in the transaction item\";s:4:\"type\";s:6:\"string\";}s:11:\"productName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:78:\"Historical
  record of the name of the product purchased in the transaction item\";s:4:\"type\";s:6:\"string\";}}}s:26:\"ApiPosOrderDiscountCommand\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"amount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"Amount
  of discount that was applied\";s:4:\"type\";s:7:\"integer\";}s:4:\"code\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:37:\"Code
  of the discount that was applied\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:39:\"Quantity
  of discounts that were applied\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:37:\"Name
  of the discount that was applied\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:33:\"Type
  of discount that was applied\";s:4:\"type\";s:6:\"string\";}}}s:27:\"GetSecurityQuestionsCommand\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"country\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:44:\"Country
  ISO code security questions apply to\";s:4:\"type\";s:6:\"string\";}s:17:\"preferredLanguage\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:15:\"VariantResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"gtin\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:58:\"Product
  Global Trade Item Number - product lookup standard\";s:4:\"type\";s:6:\"string\";}s:9:\"isDefault\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:49:\"Determines
  if this is the default product variant\";s:4:\"type\";s:7:\"boolean\";}s:3:\"ean\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:66:\"Product
  European/International Article Number - a barcode standard\";s:4:\"type\";s:6:\"string\";}s:14:\"variantDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"List
  of variant details associated with the variant\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/VariantDetailResponse\";}}s:16:\"amountMinorUnits\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:32:\"Amount
  in minor units e.g. cents\";s:4:\"type\";s:7:\"integer\";}s:3:\"upc\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:58:\"Product
  Universal Product Code - product scanning standard\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:24:\"Currency
  code (ISO-4217)\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:25:\"ID
  of the product variant\";s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:51:\"Positive
  integer that may be used to order variants\";s:4:\"type\";s:7:\"integer\";}s:3:\"sku\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:58:\"Product
  Stock Keeping Unit - inventory management standard\";s:4:\"type\";s:6:\"string\";}s:10:\"stockLevel\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:51:\"The
  number of units in stock of the product variant\";s:4:\"type\";s:6:\"string\";}}}s:25:\"CreateBeneficiaryResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"showNoMatchWarning\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:29:\"ID
  of the created beneficiary\";s:4:\"type\";s:6:\"string\";}}}s:17:\"DeleteCardCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:24:\"ID
  of the card to delete\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:26:\"TransactionSummaryResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":22:{s:17:\"tipAmountRefunded\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AmountResponse\";}s:14:\"collectionTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:37:\"Estimated
  collection time by customer\";s:4:\"type\";s:7:\"integer\";}s:15:\"merchantLocName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:27:\"Name
  of the merchant outlet\";s:4:\"type\";s:6:\"string\";}s:15:\"merchantIconUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:24:\"Icon
  URL of the Merchant\";s:4:\"type\";s:6:\"string\";}s:9:\"tipAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Amount
  of tip paid on the transaction\";s:4:\"$ref\";s:28:\"#/definitions/AmountResponse\";}s:7:\"pending\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:40:\"Determines
  if the transaction is pending\";s:4:\"type\";s:7:\"boolean\";}s:13:\"merchantLocId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:48:\"ID
  of the outlet where the product group resides\";s:4:\"type\";s:6:\"string\";}s:7:\"taxName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:20:\"Transaction
  tax name\";s:4:\"type\";s:6:\"string\";}s:13:\"transactionId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:21:\"ID
  of the transaction\";s:4:\"type\";s:6:\"string\";}s:12:\"merchantName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:71:\"Name
  of the Merchant who owns the products purchased in the transaction\";s:4:\"type\";s:6:\"string\";}s:11:\"receiptName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:35:\"Receipt
  name for the transactionTra\";s:4:\"type\";s:6:\"string\";}s:19:\"totalAmountRefunded\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AmountResponse\";}s:7:\"taxRate\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:11:\"description\";s:20:\"Transaction
  tax rate\";s:4:\"type\";s:6:\"number\";}s:11:\"totalAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Total
  amount of the transaction\";s:4:\"$ref\";s:28:\"#/definitions/AmountResponse\";}s:3:\"ref\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:39:\"Unique
  Qkr reference of the transaction\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:18:\"ID
  of the Merchant\";s:4:\"type\";s:6:\"string\";}s:13:\"receiptFooter\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:26:\"Receipt
  footer information\";s:4:\"type\";s:6:\"string\";}s:9:\"cardAlias\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:41:\"Alias
  of the card used in the transaction\";s:4:\"type\";s:6:\"string\";}s:9:\"taxAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Transaction
  tax amount in minor units e.g. cent\";s:4:\"$ref\";s:28:\"#/definitions/AmountResponse\";}s:11:\"partnerTxId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"receiptHeader\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:26:\"Receipt
  header information\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"The
  time that the transaction happened\";s:4:\"type\";s:7:\"integer\";}}}s:30:\"BeneficiaryCustomFieldResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:7:\"tooltip\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"mandatory\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}}}s:14:\"ApiShowCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:27:\"ID
  of the order to retrieve\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:8:\"PosOrder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"reference\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:15:\"Order
  reference\";s:4:\"type\";s:6:\"string\";}s:9:\"orderType\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"reqFulfillmentDt\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"amounts\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"total
  amount\";s:4:\"$ref\";s:29:\"#/definitions/PosOrderAmounts\";}s:16:\"shouldAutoCharge\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:16:\"etaFulfillmentDt\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"isOrderClosed\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:48:\"This
  is the flag to check if the order is closed\";s:4:\"type\";s:7:\"boolean\";}s:9:\"menuItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  items contained in the order\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PosOrderMenuItem\";}}s:8:\"createDt\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";}}s:8:\"required\";a:10:{i:0;s:7:\"amounts\";i:1;s:8:\"createDt\";i:2;s:8:\"customer\";i:3;s:16:\"etaFulfillmentDt\";i:4;s:13:\"isOrderClosed\";i:5;s:9:\"menuItems\";i:6;s:9:\"orderType\";i:7;s:9:\"reference\";i:8;s:16:\"reqFulfillmentDt\";i:9;s:16:\"shouldAutoCharge\";}}s:20:\"ApiUserUpdateCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"firstName\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:111:\"First
  name of the user.  This field is optional.  The existing value will remain intact
  if no value is supplied\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:30;}s:8:\"lastName\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:110:\"Last
  name of the user.  This field is optional.  The existing value will remain intact
  if no value is supplied\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:30;}s:11:\"phoneNumber\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:137:\"Phone
  number of the user.  MasterPass users only.  This field is optional.  The existing
  value will remain intact if no value is supplied\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;}s:16:\"securityQuestion\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:153:\"The
  security question chosen by the user.  MasterPass users only.  This field is optional.
  \ The existing value will remain intact if no value is supplied\";s:4:\"type\";s:6:\"string\";}s:16:\"marketingConsent\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:177:\"Indicates
  if the user has consented to receive marketing communications.  Qkr users only.
  \ This field is optional.  The existing value will remain intact if no value is
  supplied\";s:4:\"type\";s:7:\"boolean\";}s:18:\"mobileValidationId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"taxNumber\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:110:\"Tax
  number of the user. This field is optional.  The existing value will remain intact
  if no value is supplied\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:114:\"ID
  of the user.  This is not an updateable field.  All requests to update a user require
  a valid access token also\";s:4:\"type\";s:6:\"string\";}s:26:\"masterPassMarketingConsent\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:190:\"Indicates
  if the user consents to receive MasterPass marketing communications.  MasterPass
  users only.  This field is optional.  The existing value will remain intact if no
  value is supplied\";s:4:\"type\";s:7:\"boolean\";}s:22:\"automaticEmailReceipts\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:92:\"Indicates
  if the user will receive an email after each purchase.  The default value is false\";s:4:\"type\";s:7:\"boolean\";}s:22:\"phoneNumberCountryCode\";O:8:\"stdClass\":4:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:150:\"Phone
  number country code of the user.  MasterPass users only.  This field is optional.
  \ The existing value will remain intact if no value is supplied\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:22:\"securityQuestionAnswer\";O:8:\"stdClass\":5:{s:9:\"minLength\";i:3;s:6:\"format\";s:0:\"\";s:11:\"description\";s:137:\"Security
  question answer.  MasterPass users only.  This field is optional.  The existing
  value will remain intact if no value is supplied\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:30;}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:26:\"GetFormSubmissionsResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of Form Submission\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/FormSubmissionResponse\";}}}}s:19:\"UserSessionResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"internalAccountId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"accessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Container
  for access token values such as token and expires\";s:4:\"$ref\";s:27:\"#/definitions/TokenResponse\";}}}s:16:\"QuestionResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"text\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:13:\"Question
  text\";s:4:\"type\";s:6:\"string\";}}}s:17:\"SubmitFormCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"formId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:34:\"Id
  of form that is being submitted\";s:4:\"type\";s:6:\"string\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:57:\"Id
  of the beneficiary who the form is being submitted for\";s:4:\"type\";s:6:\"string\";}s:12:\"formElements\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  elements and values for the form that is being submitted\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FormElementCommand\";}}}s:8:\"required\";a:2:{i:0;s:13:\"beneficiaryId\";i:1;s:6:\"formId\";}}s:20:\"ProductGroupResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":17:{s:15:\"merchantIconUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:24:\"Icon
  URL of the Merchant\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:32:\"Description
  of the product group\";s:4:\"type\";s:6:\"string\";}s:13:\"merchantLocId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:48:\"ID
  of the outlet where the product group resides\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:48:\"Name
  of the product group e.g. Lunch, Drinks etc\";s:4:\"type\";s:6:\"string\";}s:12:\"merchantName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:63:\"Name
  of the Merchant who owns the products in the product group\";s:4:\"type\";s:6:\"string\";}s:8:\"products\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of products contained in the product group\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ProductResponse\";}}s:15:\"transactionType\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:57:\"Type
  of transactions handled.  This value is always 'BUY'\";s:4:\"type\";s:6:\"string\";}s:16:\"shippingRequired\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:57:\"Determines
  if shipping is required for this product group\";s:4:\"type\";s:7:\"boolean\";}s:8:\"termsUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:30:\"URL
  of the product group terms\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:18:\"ID
  of the Merchant\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:23:\"ISO
  Code of the country\";s:4:\"type\";s:6:\"string\";}s:20:\"ageRestrictedMessage\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:27:\"Message
  used to confirm age\";s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:30:\"URL
  of the product group image\";s:4:\"type\";s:6:\"string\";}s:13:\"locatedScanId\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:81:\"ID
  of a scannable item.  This value is required when creating a CartItem resource\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:23:\"ID
  of the product group\";s:4:\"type\";s:6:\"string\";}s:20:\"merchantWideImageUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:25:\"URL
  to the Merchant image\";s:4:\"type\";s:6:\"string\";}s:15:\"unitPricePreTax\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:46:\"Determines
  if product group prices are pre-tax\";s:4:\"type\";s:7:\"boolean\";}}}s:16:\"GetCartsResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"List
  of carts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CartResponse\";}}}}s:17:\"OptionSetResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"maxSelected\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"Max
  amount of options that can be selected within the set\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:22:\"Name
  of the option set\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of options in the set\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OptionResponse\";}}s:11:\"minSelected\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"Min
  amount of options that can be selected within the set\";s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:331:\"The
  type of option set.  Values are 'bool' (Must have exactly one option), 'list1' (Must
  have two or more options, user must select one only (i.e. min=1, max=1)), 'listN'
  (Must have two or more options, min/max determines number), 'amount' (No options),
  and 'list1C' (List of options including a custom option (user enters amount))\";s:4:\"type\";s:6:\"string\";}}}s:10:\"PosProduct\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:12:\"purchaseNote\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"legalAge\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"isAgeRestricted\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:27:\"Description
  of this product\";s:4:\"type\";s:6:\"string\";}s:15:\"productRefInPos\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:41:\"Reference
  code of this product in the POS\";s:4:\"type\";s:6:\"string\";}s:8:\"variants\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PosProductVariant\";}}s:21:\"displayPositionOnMenu\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:41:\"Display
  order of this product on the menu\";s:4:\"type\";s:7:\"integer\";}s:8:\"isHidden\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:70:\"Whether
  this product should be hidden from being displayed on the menu\";s:4:\"type\";s:7:\"boolean\";}s:8:\"imageUrl\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:25:\"Image
  URL of this product\";s:4:\"type\";s:6:\"string\";}s:15:\"priceMinorUnits\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:37:\"Price
  in minor units  of this product\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:20:\"Name
  of this product\";s:4:\"type\";s:6:\"string\";}s:10:\"optionSets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PosOptionSet\";}}s:9:\"configIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:14:{i:0;s:9:\"configIds\";i:1;s:11:\"description\";i:2;s:21:\"displayPositionOnMenu\";i:3;s:2:\"id\";i:4;s:8:\"imageUrl\";i:5;s:15:\"isAgeRestricted\";i:6;s:8:\"isHidden\";i:7;s:8:\"legalAge\";i:8;s:4:\"name\";i:9;s:10:\"optionSets\";i:10;s:15:\"priceMinorUnits\";i:11;s:15:\"productRefInPos\";i:12;s:12:\"purchaseNote\";i:13;s:8:\"variants\";}}s:27:\"GetTransactionDetailCommand\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:30:\"ID
  of the required Transaction\";s:4:\"type\";s:6:\"string\";}}}s:25:\"MasterPassConsentResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"masterPassTermsKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"masterPassTermsUrl\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"masterPassTermsText\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"masterPassPrivacyKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"masterPassPrivacyText\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"masterPassPrivacyUrl\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"masterPassConsentText\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:29:\"ApiOrderAheadOrderSlotCommand\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"orderType\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:80:\"Order
  type of the slots to retrieve. Valid types are 'COLLECTION' and 'DELIVERY'\";s:4:\"type\";s:6:\"string\";}s:9:\"orderTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:33:\"Time
  of order in UTC milliseconds\";s:4:\"type\";s:7:\"integer\";}s:8:\"siteName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:48:\"Name
  of the site whose order slots are retrieved\";s:4:\"type\";s:6:\"string\";}s:17:\"shippingAddressId\";O:8:\"stdClass\":2:{s:6:\"format\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"merchantName\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:38:\"Name
  of the merchant who owns the site\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:12:\"merchantName\";i:1;s:9:\"orderTime\";i:2;s:9:\"orderType\";i:3;s:8:\"siteName\";}}s:16:\"MerchantResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"twitter\";O:8:\"stdClass\":3:{s:6:\"format\";s:0:\"\";s:11:\"description\";s:31:\"Twitter
[...]
