---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"OpenCage
  Data Ltd\";s:3:\"url\";s:41:\"https://geocoder.opencagedata.com/contact\";}s:11:\"description\";s:39:\"Worldwide
  forward and reverse geocoding\";s:14:\"termsOfService\";s:39:\"https://geocoder.opencagedata.com/terms\";s:5:\"title\";s:17:\"OpenCage
  Geocoder\";s:7:\"version\";s:1:\"1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"location\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:87:\"https://api.apis.guru/v2/cache/logo/https_avatars0.githubusercontent.com_u_11941736.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:46:\"https://geocoder.opencagedata.com/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"opencagedata.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"opencagedata\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.opencagedata.com
basePath: /geocode
paths:
  /v{version}/{format}:
    get:
      description: geocode a query
      parameters:
      - description: API version.
        in: path
        name: version
        required: true
        type: integer
      - description: format of the response. One of 'json', 'xml' or 'map'.
        in: path
        name: format
        required: true
        type: string
      - description: string or lat,lng to be geocoded.
        in: query
        name: q
        required: true
        type: string
      - description: an application key.
        in: query
        name: key
        required: true
        type: string
      - description: when true we attempt to abbreviate the formatted field in the
          response.
        in: query
        name: abbrv
        type: boolean
      - description: if true the request is included in the response.
        in: query
        name: add_request
        type: boolean
      - description: four coordinate points forming the south-west and north-east
          corners of a bounding box (min long, min lat, max long, max lat).
        in: query
        name: bounds
        type: string
      - description: two letter code ISO 3166-1 Alpha 2 code to limit results to that
          country.
        in: query
        name: countrycode
        type: string
      - description: wraps the returned JSON with a function name.
        in: query
        name: jsonp
        type: string
      - description: 'an IETF format language code (ex: ''es'' or ''pt-BR'').'
        in: query
        name: language
        type: string
      - description: maximum number of results to return. Default is 10. Maximum is
          100.
        in: query
        name: limit
        type: integer
      - description: integer from 1-10. Only results with at least this confidence
          are returned.
        in: query
        name: min_confidence
        type: integer
      - description: when true annotations are not added to results.
        in: query
        name: no_annotations
        type: boolean
      - description: when true results are not deduplicated.
        in: query
        name: no_dedupe
        type: boolean
      - description: when true query content is not logged.
        in: query
        name: no_record
        type: boolean
      - description: when true results are pretty printed. Useful for debugging.
        in: query
        name: pretty
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Response'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/Response'
        402:
          description: Valid request but quota exceeded
          schema:
            $ref: '#/definitions/Response'
        403:
          description: Invalid or missing API key
          schema:
            $ref: '#/definitions/Response'
        404:
          description: Invalid API endpoint
          schema:
            $ref: '#/definitions/Response'
        410:
          description: Request too long
          schema:
            $ref: '#/definitions/Response'
        503:
          description: Internal server error
          schema:
            $ref: '#/definitions/Response'
      operationId: vversion.format.get
produces:
- application/json
- application/xml
- text/html
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:6:\"LatLng\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"lng\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Response\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"documentation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"licenses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"annotations\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"bounds\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"northeast\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LatLng\";}s:9:\"southwest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LatLng\";}}s:4:\"type\";s:6:\"object\";}s:10:\"components\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"confidence\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"geometry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LatLng\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"stay_informed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"blog\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"twitter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"thanks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"created_http\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"created_unix\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"total_results\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}"
...
