---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:2574:\"#Documentation\r\n\r\nThis
  is the documentation for the partner endpoint of the BigOven Recipe and Grocery
  List API.\r\n\r\nThe update brings with it Swagger-based documentation. [Swagger](http://swagger.io)
  is an emerging standard for describing REST-based APIs, and with this Swagger-compliant
  endpoint (above), you can make ready-to-go interface libraries for your code via
  [swagger-codegen](https://github.com/swagger-api/swagger-codegen). For instance,
  it's easy to generate libraries for Node.js, Java, Ruby, ASP.NET MVC, jQuery, php
  and more!\r\n\r\nYou can also try out the endpoint calls with your own api_key right
  here on this page. Be sure to enter your api_key above to use the \"Try it out!\"
  buttons on this page.\r\n\r\n##Start Here\r\n\r\nDevelopers new to the BigOven API
  should start with this version, not with the legacy API. We'll be making improvements
  to this API over time, and doing only bug fixes on the v1 API.\r\n\r\n\r\n\r\nTo
  pretend you're a BigOven user (for instance, to get your recently viewed recipes
  or your grocery list), you need to pass in Basic Authentication information in the
  header, just as with the v1 API. We do now require that you make all calls via https.
  You need to pass your api_key in with every call, though this can now be done on
  the header (send a request header \"X-BigOven-API-Key\" set to your api_key value,
  e.g., Request[\"X-BigOven-API-Key\"]=\"your-key-here\".)\r\n\r\n##Migration Notes\r\n\r\nFor
  existing partners, we encourage you to [migrate](http://api2.bigoven.com), and while
  at this writing we have no hard-and-fast termination date for the v1 API, we strongly
  prefer that you migrate by January 1, 2017. While the changes aren't overly complex,
  there are several breaking changes, including refactoring of recipe search and results
  and removal of support for XML. This is not a simply plug-and-play replacement to
  the v1 API. With respect to an exclusive focus on JSON, the world has spoken, and
  it prefers JSON for REST-based API's. We've taken numerous steps to refactor the
  API to make it more REST-compliant. Note that this v2 API will be the preferred
  API from this point onward, so we encourage developers to migrate to this new format.
  We have put together some [migration notes](/web/documentation/migration-to-v2)
  that we encourage you to read carefully.\r\n\r\n##Photos\r\n\r\nSee our [photos
  documentation](http://api2.bigoven.com/web/documentation/recipe-images). \r\n\r\nFor
  more information on usage of this API, including features, pricing, rate limits,
  terms and conditions, please visit the [BigOven API website](http://api2.bigoven.com).\";s:14:\"termsOfService\";s:86:\"Please
  see our [terms of service](http://api2.bigoven.com/web/documentation/termsofuse\";s:5:\"title\";s:41:\"350,000+
  Recipe and Grocery List API (v2)\";s:7:\"version\";s:7:\"partner\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:35:\"http://api2.bigoven.com/web/console\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:92:\"https://api.apis.guru/v2/cache/logo/http_bigoven.com_assets_images_icons_bigoven-recipes.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:44:\"http://api2.bigoven.com/swagger/docs/partner\";s:7:\"version\";s:3:\"2.0\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"bigoven.com\";}"
host: api2.bigoven.com
paths: ~
produces:
- application/json
- text/json
- application/xml
- text/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":36:{s:54:\"API2.Controllers.GroceryListController.DepartmentModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:67:\"API2.Controllers.GroceryListController.PostGroceryListRecipeRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"markAsPending\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"recipeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"scale\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:65:\"API2.Controllers.GroceryListController.PostGroceryListSyncRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"list\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/BigOven.Model.API.Grocery.GroceryList\";}s:5:\"since\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:69:\"API2.Controllers.GroceryListController.PostToGroceryListRecipeRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"department\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:62:\"API2.Controllers.GroceryListController.UpdateItemByGuidRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"department\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:54:\"API2.Controllers.ImagesController.RecipePhotosResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResultCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BigOven.Model.API2.Photo\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:43:\"API2.Controllers.NoteController.NoteRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"DateDT\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"GUID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"People\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"RecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"UserID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"Variations\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"API2.Controllers.RecipeController.FeedbackDTO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"feedback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"API2.Controllers.ReviewController.ReviewRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"ActiveMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"GUID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"MakeAgain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ParentID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"StarRating\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"TotalMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:32:\"API2.GroceryListDepartmentResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"dept\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"item\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"BigOven.Model.API.GlossaryEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"Definition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"GlossaryEntryID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"BigOven.Model.API.Grocery.GroceryList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BigOven.Model.API.Grocery.Item\";}s:4:\"type\";s:5:\"array\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Recipes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/BigOven.Model.API.RecipeInfo\";}s:4:\"type\";s:5:\"array\";}s:11:\"VersionGuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BigOven.Model.API.Grocery.Item\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"BigOvenObject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"Department\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"DisplayQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"GUID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"IsChecked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"ItemID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"LocalStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"RecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"ThirdPartyURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"BigOven.Model.API.Image\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"Caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CreationDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ImageID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"ImageSquares\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:8:\"ImageURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ImageURL120\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ImageURL128\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ImageURL200\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ImageURL256\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ImageURL48\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ImageURL64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"IsPrimary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"MaxImageSquare\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Poster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BigOven.Model.API.UserInfo\";}}s:4:\"type\";s:6:\"object\";}s:28:\"BigOven.Model.API.Ingredient\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:12:\"DisplayIndex\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"DisplayQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"HTMLName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"IngredientID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"IngredientInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/BigOven.Model.API.IngredientInfo\";}s:9:\"IsHeading\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"IsLinked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"MetricDisplayQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"MetricQuantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"MetricUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PreparationNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"Unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"BigOven.Model.API.IngredientInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Department\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"MasterIngredientID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"UsuallyOnHand\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:31:\"BigOven.Model.API.NutritionInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":23:{s:15:\"CaloriesFromFat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Cholesterol\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:14:\"CholesterolPct\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"DietaryFiber\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"DietaryFiberPct\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"MonoFat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"PolyFat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"Potassium\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"PotassiumPct\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"Protein\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"ProteinPct\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"SatFat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"SatFatPct\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"SingularYieldUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Sodium\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"SodiumPct\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"Sugar\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"TotalCalories\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"TotalCarbs\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"TotalCarbsPct\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"TotalFat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"TotalFatPct\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"TransFat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BigOven.Model.API.Recipe\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":45:{s:13:\"ActiveMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"AdTags\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"AdminBoost\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"AllCategoriesText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"BookmarkImageURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"BookmarkSiteLogo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"BookmarkURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Collection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CollectionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Cuisine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FavoriteCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"HeroPhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ImageSquares\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:8:\"ImageURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Ingredients\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/BigOven.Model.API.Ingredient\";}s:4:\"type\";s:5:\"array\";}s:20:\"IngredientsTextBlock\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Instructions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"IsBookmark\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"IsPrivate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"IsRecipeScan\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"IsSponsored\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"MaxImageSquare\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"MedalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"MenuCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"Microcategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"NotesCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"NutritionInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/BigOven.Model.API.NutritionInfo\";}s:6:\"Poster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BigOven.Model.API.UserInfo\";}s:17:\"PrimaryIngredient\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"RecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"ReviewCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"StarRating\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Subcategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"TotalMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"VariantOfRecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"VerifiedByClass\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"VerifiedDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"WebURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"YieldNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"YieldUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"BigOven.Model.API.RecipeInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":23:{s:11:\"BookmarkURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Cuisine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"HeroPhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"HideFromPublicSearch\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"ImageURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ImageURL120\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"IsBookmark\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"IsPrivate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"MaxImageSquare\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"Microcategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Poster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BigOven.Model.API.UserInfo\";}s:12:\"QualityScore\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"RecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"ReviewCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"StarRating\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"StarRatingIMG\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Subcategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TotalTries\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"WebURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"YieldNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:28:\"BigOven.Model.API.RecipeNote\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"DateDT\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"GUID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"People\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"RecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"UserID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"Variations\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"BigOven.Model.API.RecipeNoteList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResultCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/BigOven.Model.API.RecipeNote\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BigOven.Model.API.Review\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"ActiveMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"GUID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ParentID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"Poster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BigOven.Model.API.UserInfo\";}s:7:\"Replies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BigOven.Model.API.Review\";}s:4:\"type\";s:5:\"array\";}s:8:\"ReviewID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"StarRating\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"TotalMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BigOven.Model.API.UserInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ImageURL48\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"IsKitchenHelper\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"IsPremium\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"IsUsingRecurly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"MemberSince\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"PhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"PremiumExpiryDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"UserID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"UserName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"BigOven.Model.API2.CollectionInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"IsFiltered\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"IsSponsored\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"MobileUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"PRO\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"PhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BigOven.Model.API2.RecipeInfox\";}s:4:\"type\";s:5:\"array\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"WebUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BigOven.Model.API2.GroceryList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BigOven.Model.API.Grocery.Item\";}s:4:\"type\";s:5:\"array\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Recipes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BigOven.Model.API2.RecipeInfox\";}s:4:\"type\";s:5:\"array\";}s:11:\"VersionGuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BigOven.Model.API2.Photo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"Caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CreationDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ImageID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"IsPrimary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"MaxImageSquare\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Poster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/BigOven.Model.API2.UserInfoTinyx\";}}s:4:\"type\";s:6:\"object\";}s:25:\"BigOven.Model.API2.Recipe\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":45:{s:13:\"ActiveMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"AdTags\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"AdminBoost\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"AllCategoriesText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"BookmarkImageURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"BookmarkSiteLogo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"BookmarkURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Collection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CollectionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Cuisine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FavoriteCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ImageSquares\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:8:\"ImageURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Ingredients\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/BigOven.Model.API.Ingredient\";}s:4:\"type\";s:5:\"array\";}s:20:\"IngredientsTextBlock\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Instructions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"IsBookmark\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"IsPrivate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"IsRecipeScan\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"IsSponsored\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"MaxImageSquare\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"MedalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"MenuCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"Microcategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"NotesCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"NutritionInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/BigOven.Model.API.NutritionInfo\";}s:8:\"PhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Poster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BigOven.Model.API.UserInfo\";}s:17:\"PrimaryIngredient\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"RecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"ReviewCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"StarRating\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Subcategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"TotalMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"VariantOfRecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"VerifiedByClass\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"VerifiedDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"WebURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"YieldNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"YieldUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BigOven.Model.API2.RecipeInfox\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:8:\"Category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Cuisine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"IsBookmark\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"IsPrivate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"IsRecipeScan\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"Microcategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Poster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/BigOven.Model.API2.UserInfoTinyx\";}s:8:\"RecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"ReviewCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Servings\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"StarRating\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Subcategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TotalTries\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"WebURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BigOven.Model.API2.RecipeNote\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"DateDT\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"GUID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"People\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"RecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"UserID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"Variations\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"BigOven.Model.API2.RecipeSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"ResultCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BigOven.Model.API2.RecipeInfox\";}s:4:\"type\";s:5:\"array\";}s:12:\"SpellSuggest\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"BigOven.Model.API2.UserInfoTinyx\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"UserID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"UserName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"BigOven.Model.RecipeCategory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"Category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"DefaultActiveMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"DefaultTotalMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"ParentID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"PrimaryImage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ShortDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"BigOven.Model.RecipeInfoDateTuple2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"recipeInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BigOven.Model.API2.RecipeInfox\";}}s:4:\"type\";s:6:\"object\";}s:36:\"BigOven.Model.RecipeInfoReviewTuple2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"RecipeInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BigOven.Model.API2.RecipeInfox\";}s:6:\"Review\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BigOven.Model.API.Review\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BigOven.Model.ShoppingListLine\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:9:\"DateAdded\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Dept\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"GUID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"HTMLItemName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"IsChecked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"ItemName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"ListID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"MealPlanID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"MealPlanObjectType\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"PendingAddition\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"RecipeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"ShoppingListLineID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"Store\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"TextAmt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ThirdPartyHost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ThirdPartyTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ThirdPartyURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"System.Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
