---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:13:\"waterlinkedas\";}s:11:\"description\";s:863:\"API
  for the Water Linked Underwater GPS. For more details: http://www.waterlinked.com\n\nRecommended
  approach for connecting to a Underwater GPS via the API is:\n- If \"GET /api/\"
  times out, the Underwater GPS is not running (on this IP address)\n- If \"GET /api/\"
  responds with 200 OK check that the api version returrned (eg \"v1\") is supported
  by the client (eg: also supports \"v1\").\n- If the api version returned does not
  match what the client supports: give an error to the user and recommend upgrading.
  (Eg: response is \"v2\" while client only supports \"v1\")\n- If \"GET /api/\" responds
  with 301 Moved permanently. \"GET /api/v1/version\" to check if the kit has a version
  earlier than 1.5.\n- \"GET /api/v1/version\" will always respond with 200 OK on
  Underwater GPS earlier than 1.5 release.\n\nConfiguration API is is not considered
  stable and will potentially be changed\";s:5:\"title\";s:31:\"The Water Linked Underwater
  GPS\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"location\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:86:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_waterlinkedas_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:48:\"http://demo.waterlinked.com/swagger/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"waterlinked.com\";}"
host: demo.waterlinked.com
paths:
  /api/:
    get:
      operationId: about#ApiVersion
      produces:
      - application/vnd.wupdater.apiversion
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WupdaterApiversion'
      schemes:
      - http
      summary: ApiVersion about
      tags:
      - about
  /api/v1/about:
    get:
      description: Get about information
      operationId: about#Get
      produces:
      - application/vnd.waterlinked.about+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedAbout'
      schemes:
      - http
      summary: Get about
      tags:
      - about
  /api/v1/about/status:
    get:
      description: Get current IMU and GPS status
      operationId: about#Status
      produces:
      - application/vnd.waterlinked.status+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedStatus'
      schemes:
      - http
      summary: Status about
      tags:
      - about
  /api/v1/about/temperature:
    get:
      description: Get board temperature
      operationId: about#Temperature
      produces:
      - application/vnd.waterlinked.temperature+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedTemperature'
      schemes:
      - http
      summary: Temperature about
      tags:
      - about
  /api/v1/config/generic:
    get:
      description: Get generic configuration
      operationId: config#Get
      produces:
      - application/vnd.waterlinked.configuration+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedConfiguration'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: Get config
      tags:
      - config
    put:
      description: Modify generic configuration
      operationId: config#Modify
      parameters:
      - description: Configuration parameters
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/ModifyConfigPayload'
      produces:
      - plain/text
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
        503:
          description: Service Unavailable
      schemes:
      - http
      summary: Modify config
      tags:
      - config
  /api/v1/config/receivers/:
    get:
      description: (Re)Load current receiver settings and return them
      operationId: config#ListReceiver
      produces:
      - application/vnd.waterlinked.receiver+json; type=collection
      responses:
        200:
          description: Returned list of receivers
          schema:
            $ref: '#/definitions/WaterlinkedReceiverCollection'
      schemes:
      - http
      summary: ListReceiver config
      tags:
      - config
  /api/v1/config/receivers/{ID}:
    get:
      description: Get receiver configuration by id
      operationId: config#ShowReceiver
      parameters:
      - description: Identifier
        in: path
        name: ID
        required: true
        type: integer
      produces:
      - application/vnd.waterlinked.receiver+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedReceiver'
        404:
          description: Not Found
      schemes:
      - http
      summary: ShowReceiver config
      tags:
      - config
    put:
      description: Modify receiver configuration, does not apply the change until
        generic modify is called. Calling list will discard changes
      operationId: config#ModifyReceiver
      parameters:
      - description: Identifier
        in: path
        name: ID
        required: true
        type: integer
      - description: A receiver configuration
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/ModifyReceiverConfigPayload'
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - http
      summary: ModifyReceiver config
      tags:
      - config
  /api/v1/external/depth:
    put:
      description: Set depth from external source. If Locator A1 is used, this is
        required to get a position
      operationId: external#SetDepth
      parameters:
      - description: Current locator depth and temperature
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/SetDepthExternalPayload'
      produces:
      - text/plain
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: SetDepth external
      tags:
      - external
  /api/v1/external/master:
    put:
      description: Set current global position of master electronics from external
        source. Values are only used if GPS mode is set to use external GPS
      operationId: external#SetMaster
      parameters:
      - description: Global master position from external source
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/SetMasterExternalPayload'
      produces:
      - text/plain
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: SetMaster external
      tags:
      - external
  /api/v1/external/orientation:
    get:
      description: Get orientation of ROV/Locator set by external
      operationId: external#GetOrientation
      produces:
      - application/vnd.wl.external.locator.orientation+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WlExternalLocatorOrientation'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: GetOrientation external
      tags:
      - external
    put:
      description: Set orientation/compass heading of ROV/Locator. This is used only
        for visualization in GUI
      operationId: external#SetOrientation
      parameters:
      - description: Set current compass heading of ROV/locator
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/SetOrientationExternalPayload'
      produces:
      - text/plain
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: SetOrientation external
      tags:
      - external
  /api/v1/poi:
    post:
      description: Create a new POI
      operationId: poi#Create
      parameters:
      - description: A list of all POI
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/CreatePoiPayload'
      produces:
      - application/vnd.goa.error
      responses:
        201:
          description: Resource created
          headers:
            Location:
              description: href to created resource
              pattern: ^/poi/[0-9]+$
              type: string
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/error'
        403:
          description: Forbidden
      schemes:
      - http
      summary: Create poi
      tags:
      - poi
  /api/v1/poi/:
    get:
      description: List all points of interest
      operationId: poi#List
      produces:
      - application/vnd.waterlinked.poi+json; type=collection
      responses:
        200:
          description: Return list of all POIs
          schema:
            $ref: '#/definitions/WaterlinkedPoiCollection'
        404:
          description: Not Found
      schemes:
      - http
      summary: List poi
      tags:
      - poi
  /api/v1/poi/{ID}:
    delete:
      operationId: poi#Delete
      parameters:
      - in: path
        name: ID
        required: true
        type: integer
      produces:
      - application/vnd.goa.error
      responses:
        204:
          description: No Content
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/error'
        404:
          description: Not Found
      schemes:
      - http
      summary: Delete poi
      tags:
      - poi
    get:
      description: Get a POI
      operationId: poi#Show
      parameters:
      - in: path
        name: ID
        required: true
        type: integer
      produces:
      - application/vnd.waterlinked.poi+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedPoi'
        404:
          description: Not Found
      schemes:
      - http
      summary: Show poi
      tags:
      - poi
    patch:
      operationId: poi#Update
      parameters:
      - in: path
        name: ID
        required: true
        type: integer
      - description: A list of all POI
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/UpdatePoiPayload'
      produces:
      - application/vnd.goa.error
      responses:
        204:
          description: No Content
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/error'
        404:
          description: Not Found
      schemes:
      - http
      summary: Update poi
      tags:
      - poi
  /api/v1/position/acoustic/filtered:
    get:
      description: 'Get current Kalman filtered acoustic position relative to master
        acoustics. Expected update frequency: 4 Hz'
      operationId: position#AcousticFiltered
      produces:
      - application/vnd.waterlinked.accoustic.position+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedAccousticPosition'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: AcousticFiltered position
      tags:
      - position
  /api/v1/position/acoustic/raw:
    get:
      description: 'Get current unfiltered acoustic position relative to master acoustics.
        Expected update frequency: 4 Hz'
      operationId: position#AcousticRaw
      produces:
      - application/vnd.waterlinked.accoustic.position+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedAccousticPosition'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: AcousticRaw position
      tags:
      - position
  /api/v1/position/global:
    get:
      description: 'Get current global position of locator. Locator position is calculated
        from the current acoustic position and the global position of the master electronics.
        Expected update frequency: 4 Hz'
      operationId: position#Get
      produces:
      - application/vnd.wl.satellite.position+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WlSatellitePosition'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: Get position
      tags:
      - position
  /api/v1/position/master:
    get:
      description: 'Get current global position of master electronics. Expected update
        frequency: 1 Hz'
      operationId: position#GetMaster
      produces:
      - application/vnd.wl.satellite.position+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WlSatellitePosition'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: GetMaster position
      tags:
      - position
  /api/v1/warnings/:
    get:
      description: Get current list of messages
      operationId: warnings#Get
      produces:
      - application/vnd.wl.warning+json; type=collection
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WlWarningCollection'
      schemes:
      - http
      summary: Get warnings
      tags:
      - warnings
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":22:{s:16:\"CreatePoiPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:17:\"A
  list of all POI\";s:7:\"example\";O:8:\"stdClass\":7:{s:5:\"depth\";d:0.74865947097966301;s:4:\"icon\";s:44:\"Accusamus
  iusto neque sequi fugit quis vero.\";s:2:\"id\";i:7573279786407419000;s:3:\"lat\";d:0.91971508199103658;s:3:\"lng\";d:0.60896812695179703;s:4:\"name\";s:15:\"Maiores
  quidem.\";s:7:\"visible\";b:1;}s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"depth\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Depth
  of POI\";s:7:\"example\";d:0.74865947097966301;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Icon
  of POI\";s:7:\"example\";s:44:\"Accusamus iusto neque sequi fugit quis vero.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Unique
  POI id\";s:7:\"example\";i:7573279786407419000;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"lat\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Latitude
  of POI\";s:7:\"example\";d:0.91971508199103658;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lng\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Longitude
  of POI\";s:7:\"example\";d:0.60896812695179703;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Name
  of POI\";s:7:\"example\";s:15:\"Maiores quidem.\";s:4:\"type\";s:6:\"string\";}s:7:\"visible\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Visibility
  of POI\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:6:{i:0;s:4:\"name\";i:1;s:3:\"lat\";i:2;s:3:\"lng\";i:3;s:5:\"depth\";i:4;s:4:\"icon\";i:5;s:7:\"visible\";}s:5:\"title\";s:16:\"CreatePoiPayload\";s:4:\"type\";s:6:\"object\";}s:19:\"ModifyConfigPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:24:\"Configuration
  parameters\";s:7:\"example\";O:8:\"stdClass\":12:{s:7:\"channel\";i:13;s:7:\"compass\";s:6:\"static\";s:3:\"gps\";s:8:\"external\";s:12:\"locator_type\";s:2:\"a1\";s:11:\"range_max_x\";i:50;s:11:\"range_max_y\";i:50;s:11:\"range_max_z\";i:50;s:11:\"range_min_x\";i:50;s:11:\"range_min_y\";i:50;s:10:\"static_lat\";d:63.421999999999997;s:10:\"static_lon\";d:10.423999999999999;s:18:\"static_orientation\";i:42;}s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"channel\";O:8:\"stdClass\":5:{s:11:\"description\";s:14:\"Channel
  to use\";s:7:\"example\";i:13;s:7:\"maximum\";i:18;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"compass\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Compass
  provider setting\";s:4:\"enum\";a:3:{i:0;s:7:\"onboard\";i:1;s:6:\"static\";i:2;s:8:\"external\";}s:7:\"example\";s:6:\"static\";s:4:\"type\";s:6:\"string\";}s:3:\"gps\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"GPS
  provider setting\";s:4:\"enum\";a:3:{i:0;s:7:\"onboard\";i:1;s:6:\"static\";i:2;s:8:\"external\";}s:7:\"example\";s:8:\"external\";s:4:\"type\";s:6:\"string\";}s:12:\"locator_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Locator
  type in use\";s:4:\"enum\";a:3:{i:0;s:2:\"d1\";i:1;s:2:\"a1\";i:2;s:2:\"s1\";}s:7:\"example\";s:2:\"a1\";s:4:\"type\";s:6:\"string\";}s:11:\"range_max_x\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:11:\"range_max_y\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:11:\"range_max_z\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:6:\"number\";}s:11:\"range_min_x\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:0;s:7:\"minimum\";i:-100;s:4:\"type\";s:6:\"number\";}s:11:\"range_min_y\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:0;s:7:\"minimum\";i:-100;s:4:\"type\";s:6:\"number\";}s:10:\"static_lat\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"Latitude
  to use in static mode\";s:7:\"example\";d:63.421999999999997;s:7:\"maximum\";i:90;s:7:\"minimum\";i:-90;s:4:\"type\";s:6:\"number\";}s:10:\"static_lon\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"Longitude
  to use in static mode\";s:7:\"example\";d:10.423999999999999;s:7:\"maximum\";i:180;s:7:\"minimum\";i:-180;s:4:\"type\";s:6:\"number\";}s:18:\"static_orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:59:\"Orientation/compass
  reading to use in static mode (degrees)\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:12:{i:0;s:7:\"channel\";i:1;s:11:\"range_min_x\";i:2;s:11:\"range_max_x\";i:3;s:11:\"range_min_y\";i:4;s:11:\"range_max_y\";i:5;s:11:\"range_max_z\";i:6;s:12:\"locator_type\";i:7;s:3:\"gps\";i:8;s:7:\"compass\";i:9;s:10:\"static_lat\";i:10;s:10:\"static_lon\";i:11;s:18:\"static_orientation\";}s:5:\"title\";s:19:\"ModifyConfigPayload\";s:4:\"type\";s:6:\"object\";}s:27:\"ModifyReceiverConfigPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:24:\"A
  receiver configuration\";s:7:\"example\";O:8:\"stdClass\":4:{s:2:\"id\";i:3146300361811729400;s:1:\"x\";d:0.17148309399971762;s:1:\"y\";d:0.36951858984372926;s:1:\"z\";d:0.81472749041390968;}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Unique
  receiver identifier\";s:7:\"example\";i:3146300361811729400;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:1:\"x\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  X position relative to master electronics (meter)\";s:7:\"example\";d:0.17148309399971762;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"y\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  Y position relative to master electronics (meter)\";s:7:\"example\";d:0.36951858984372926;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"z\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  Z position relative to master electronics (meter)\";s:7:\"example\";d:0.81472749041390968;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:1:\"x\";i:2;s:1:\"y\";i:3;s:1:\"z\";}s:5:\"title\";s:27:\"ModifyReceiverConfigPayload\";s:4:\"type\";s:6:\"object\";}s:23:\"SetDepthExternalPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:37:\"Current
  locator depth and temperature\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"depth\";d:3.2000000000000002;s:4:\"temp\";d:11.199999999999999;}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"depth\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"Curent
  depth (meter)\";s:7:\"example\";d:3.2000000000000002;s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:4:\"temp\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"Current
  water temperature (C)\";s:7:\"example\";d:11.199999999999999;s:7:\"maximum\";i:60;s:7:\"minimum\";i:-10;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:5:\"depth\";i:1;s:4:\"temp\";}s:5:\"title\";s:23:\"SetDepthExternalPayload\";s:4:\"type\";s:6:\"object\";}s:24:\"SetMasterExternalPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:43:\"Global
  master position from external source\";s:7:\"example\";O:8:\"stdClass\":7:{s:3:\"cog\";i:42;s:4:\"hdop\";d:1.8999999999999999;s:3:\"lat\";d:63.421999999999997;s:3:\"lon\";d:10.423999999999999;s:7:\"numsats\";i:11;s:11:\"orientation\";i:42;s:3:\"sog\";d:0.5;}s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"cog\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Course
  over ground (degrees). -1 means no data.\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:4:\"hdop\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Horizontal
  dilution of precision. -1 means no data.\";s:7:\"example\";d:1.8999999999999999;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:3:\"lat\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"Current
  Latitude\";s:7:\"example\";d:63.421999999999997;s:7:\"maximum\";i:90;s:7:\"minimum\";i:-90;s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Current
  Longitude\";s:7:\"example\";d:10.423999999999999;s:7:\"maximum\";i:180;s:7:\"minimum\";i:-180;s:4:\"type\";s:6:\"number\";}s:7:\"numsats\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Number
  of satellites. -1 means no data.\";s:7:\"example\";i:11;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:11:\"orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:45:\"Current
  orientation/compass heading (degrees)\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:3:\"sog\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Speed
  over ground (km/h). -1 means no data.\";s:7:\"example\";d:0.5;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:3:\"lat\";i:1;s:3:\"lon\";i:2;s:11:\"orientation\";}s:5:\"title\";s:24:\"SetMasterExternalPayload\";s:4:\"type\";s:6:\"object\";}s:29:\"SetOrientationExternalPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:42:\"Set
  current compass heading of ROV/locator\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"orientation\";i:42;}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:74:\"Current
  orientation/compass heading (degrees). -1 means no orientation set\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:11:\"orientation\";}s:5:\"title\";s:29:\"SetOrientationExternalPayload\";s:4:\"type\";s:6:\"object\";}s:16:\"UpdatePoiPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:17:\"A
  list of all POI\";s:7:\"example\";O:8:\"stdClass\":7:{s:5:\"depth\";d:0.74865947097966301;s:4:\"icon\";s:44:\"Accusamus
  iusto neque sequi fugit quis vero.\";s:2:\"id\";i:7573279786407419000;s:3:\"lat\";d:0.91971508199103658;s:3:\"lng\";d:0.60896812695179703;s:4:\"name\";s:15:\"Maiores
  quidem.\";s:7:\"visible\";b:1;}s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"depth\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Depth
  of POI\";s:7:\"example\";d:0.74865947097966301;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Icon
  of POI\";s:7:\"example\";s:44:\"Accusamus iusto neque sequi fugit quis vero.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Unique
  POI id\";s:7:\"example\";i:7573279786407419000;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"lat\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Latitude
  of POI\";s:7:\"example\";d:0.91971508199103658;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lng\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Longitude
  of POI\";s:7:\"example\";d:0.60896812695179703;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Name
  of POI\";s:7:\"example\";s:15:\"Maiores quidem.\";s:4:\"type\";s:6:\"string\";}s:7:\"visible\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Visibility
  of POI\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:6:{i:0;s:4:\"name\";i:1;s:3:\"lat\";i:2;s:3:\"lng\";i:3;s:5:\"depth\";i:4;s:4:\"icon\";i:5;s:7:\"visible\";}s:5:\"title\";s:16:\"UpdatePoiPayload\";s:4:\"type\";s:6:\"object\";}s:16:\"WaterlinkedAbout\";O:8:\"stdClass\":6:{s:11:\"description\";s:32:\"About
  information (default view)\";s:7:\"example\";O:8:\"stdClass\":3:{s:6:\"chipid\";s:11:\"0x123456789\";s:7:\"version\";s:15:\"1.0.0
  (abc.def)\";s:13:\"version_short\";s:5:\"1.0.0\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"chipid\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Chip
  identifier\";s:7:\"example\";s:11:\"0x123456789\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Detailed
  Web Server version string\";s:7:\"example\";s:15:\"1.0.0 (abc.def)\";s:4:\"type\";s:6:\"string\";}s:13:\"version_short\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Short
  Web Server version string\";s:7:\"example\";s:5:\"1.0.0\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:7:\"version\";i:1;s:13:\"version_short\";i:2;s:6:\"chipid\";}s:5:\"title\";s:74:\"Mediatype
  identifier: application/vnd.waterlinked.about+json; view=default\";s:4:\"type\";s:6:\"object\";}s:28:\"WaterlinkedAccousticPosition\";O:8:\"stdClass\":6:{s:11:\"description\";s:48:\"Current
  relative Locator position (default view)\";s:7:\"example\";O:8:\"stdClass\":5:{s:3:\"std\";d:0.5;s:4:\"temp\";d:5.5;s:1:\"x\";d:32.100000000000001;s:1:\"y\";d:11.199999999999999;s:1:\"z\";d:10.199999999999999;}s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"std\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Current
  acoustic position accuracy (meter)\";s:7:\"example\";d:0.5;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:4:\"temp\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Current
  acoustic temperature (C)\";s:7:\"example\";d:5.5;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"x\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Current
  acoustic x position relative to master electronics (meter)\";s:7:\"example\";d:32.100000000000001;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"y\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Current
  acoustic y position relative to master electronics (meter)\";s:7:\"example\";d:11.199999999999999;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"z\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Current
  acoustic z position (depth) relative to master electronics (meter)\";s:7:\"example\";d:10.199999999999999;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:5:{i:0;s:1:\"x\";i:1;s:1:\"y\";i:2;s:1:\"z\";i:3;s:3:\"std\";i:4;s:4:\"temp\";}s:5:\"title\";s:87:\"Mediatype
  identifier: application/vnd.waterlinked.accoustic.position+json; view=default\";s:4:\"type\";s:6:\"object\";}s:24:\"WaterlinkedConfiguration\";O:8:\"stdClass\":6:{s:11:\"description\";s:39:\"Configuration
  parameters (default view)\";s:7:\"example\";O:8:\"stdClass\":12:{s:7:\"channel\";i:13;s:7:\"compass\";s:6:\"static\";s:3:\"gps\";s:8:\"external\";s:12:\"locator_type\";s:2:\"a1\";s:11:\"range_max_x\";i:50;s:11:\"range_max_y\";i:50;s:11:\"range_max_z\";i:50;s:11:\"range_min_x\";i:50;s:11:\"range_min_y\";i:50;s:10:\"static_lat\";d:63.421999999999997;s:10:\"static_lon\";d:10.423999999999999;s:18:\"static_orientation\";i:42;}s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"channel\";O:8:\"stdClass\":5:{s:11:\"description\";s:14:\"Channel
  to use\";s:7:\"example\";i:13;s:7:\"maximum\";i:18;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"compass\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Compass
  provider setting\";s:4:\"enum\";a:3:{i:0;s:7:\"onboard\";i:1;s:6:\"static\";i:2;s:8:\"external\";}s:7:\"example\";s:6:\"static\";s:4:\"type\";s:6:\"string\";}s:3:\"gps\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"GPS
  provider setting\";s:4:\"enum\";a:3:{i:0;s:7:\"onboard\";i:1;s:6:\"static\";i:2;s:8:\"external\";}s:7:\"example\";s:8:\"external\";s:4:\"type\";s:6:\"string\";}s:12:\"locator_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Locator
  type in use\";s:4:\"enum\";a:3:{i:0;s:2:\"d1\";i:1;s:2:\"a1\";i:2;s:2:\"s1\";}s:7:\"example\";s:2:\"a1\";s:4:\"type\";s:6:\"string\";}s:11:\"range_max_x\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:11:\"range_max_y\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:11:\"range_max_z\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:6:\"number\";}s:11:\"range_min_x\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:0;s:7:\"minimum\";i:-100;s:4:\"type\";s:6:\"number\";}s:11:\"range_min_y\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:0;s:7:\"minimum\";i:-100;s:4:\"type\";s:6:\"number\";}s:10:\"static_lat\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"Latitude
  to use in static mode\";s:7:\"example\";d:63.421999999999997;s:7:\"maximum\";i:90;s:7:\"minimum\";i:-90;s:4:\"type\";s:6:\"number\";}s:10:\"static_lon\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"Longitude
  to use in static mode\";s:7:\"example\";d:10.423999999999999;s:7:\"maximum\";i:180;s:7:\"minimum\";i:-180;s:4:\"type\";s:6:\"number\";}s:18:\"static_orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:59:\"Orientation/compass
  reading to use in static mode (degrees)\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:12:{i:0;s:7:\"channel\";i:1;s:11:\"range_min_x\";i:2;s:11:\"range_max_x\";i:3;s:11:\"range_min_y\";i:4;s:11:\"range_max_y\";i:5;s:11:\"range_max_z\";i:6;s:12:\"locator_type\";i:7;s:3:\"gps\";i:8;s:7:\"compass\";i:9;s:10:\"static_lat\";i:10;s:10:\"static_lon\";i:11;s:18:\"static_orientation\";}s:5:\"title\";s:82:\"Mediatype
  identifier: application/vnd.waterlinked.configuration+json; view=default\";s:4:\"type\";s:6:\"object\";}s:14:\"WaterlinkedPoi\";O:8:\"stdClass\":6:{s:11:\"description\";s:32:\"A
  list of all POI (default view)\";s:7:\"example\";O:8:\"stdClass\":7:{s:5:\"depth\";d:0.74865947097966301;s:4:\"icon\";s:44:\"Accusamus
  iusto neque sequi fugit quis vero.\";s:2:\"id\";i:7573279786407419000;s:3:\"lat\";d:0.91971508199103658;s:3:\"lng\";d:0.60896812695179703;s:4:\"name\";s:15:\"Maiores
  quidem.\";s:7:\"visible\";b:1;}s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"depth\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Depth
  of POI\";s:7:\"example\";d:0.74865947097966301;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Icon
  of POI\";s:7:\"example\";s:44:\"Accusamus iusto neque sequi fugit quis vero.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Unique
  POI id\";s:7:\"example\";i:7573279786407419000;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"lat\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Latitude
  of POI\";s:7:\"example\";d:0.91971508199103658;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lng\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Longitude
  of POI\";s:7:\"example\";d:0.60896812695179703;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Name
  of POI\";s:7:\"example\";s:15:\"Maiores quidem.\";s:4:\"type\";s:6:\"string\";}s:7:\"visible\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Visibility
  of POI\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:6:{i:0;s:4:\"name\";i:1;s:3:\"lat\";i:2;s:3:\"lng\";i:3;s:5:\"depth\";i:4;s:4:\"icon\";i:5;s:7:\"visible\";}s:5:\"title\";s:72:\"Mediatype
  identifier: application/vnd.waterlinked.poi+json; view=default\";s:4:\"type\";s:6:\"object\";}s:24:\"WaterlinkedPoiCollection\";O:8:\"stdClass\":5:{s:11:\"description\";s:88:\"WaterlinkedPoiCollection
  is the media type for an array of WaterlinkedPoi (default view)\";s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":7:{s:5:\"depth\";d:0.74865947097966301;s:4:\"icon\";s:44:\"Accusamus
  iusto neque sequi fugit quis vero.\";s:2:\"id\";i:7573279786407419000;s:3:\"lat\";d:0.91971508199103658;s:3:\"lng\";d:0.60896812695179703;s:4:\"name\";s:15:\"Maiores
  quidem.\";s:7:\"visible\";b:1;}i:1;O:8:\"stdClass\":7:{s:5:\"depth\";d:0.74865947097966301;s:4:\"icon\";s:44:\"Accusamus
  iusto neque sequi fugit quis vero.\";s:2:\"id\";i:7573279786407419000;s:3:\"lat\";d:0.91971508199103658;s:3:\"lng\";d:0.60896812695179703;s:4:\"name\";s:15:\"Maiores
  quidem.\";s:7:\"visible\";b:1;}i:2;O:8:\"stdClass\":7:{s:5:\"depth\";d:0.74865947097966301;s:4:\"icon\";s:44:\"Accusamus
  iusto neque sequi fugit quis vero.\";s:2:\"id\";i:7573279786407419000;s:3:\"lat\";d:0.91971508199103658;s:3:\"lng\";d:0.60896812695179703;s:4:\"name\";s:15:\"Maiores
  quidem.\";s:7:\"visible\";b:1;}}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/WaterlinkedPoi\";}s:5:\"title\";s:89:\"Mediatype
  identifier: application/vnd.waterlinked.poi+json; type=collection; view=default\";s:4:\"type\";s:5:\"array\";}s:19:\"WaterlinkedReceiver\";O:8:\"stdClass\":6:{s:11:\"description\";s:39:\"A
  receiver configuration (default view)\";s:7:\"example\";O:8:\"stdClass\":4:{s:2:\"id\";i:3146300361811729400;s:1:\"x\";d:0.17148309399971762;s:1:\"y\";d:0.36951858984372926;s:1:\"z\";d:0.81472749041390968;}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Unique
  receiver identifier\";s:7:\"example\";i:3146300361811729400;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:1:\"x\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  X position relative to master electronics (meter)\";s:7:\"example\";d:0.17148309399971762;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"y\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  Y position relative to master electronics (meter)\";s:7:\"example\";d:0.36951858984372926;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"z\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  Z position relative to master electronics (meter)\";s:7:\"example\";d:0.81472749041390968;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:1:\"x\";i:2;s:1:\"y\";i:3;s:1:\"z\";}s:5:\"title\";s:77:\"Mediatype
  identifier: application/vnd.waterlinked.receiver+json; view=default\";s:4:\"type\";s:6:\"object\";}s:29:\"WaterlinkedReceiverCollection\";O:8:\"stdClass\":5:{s:11:\"description\";s:98:\"WaterlinkedReceiverCollection
  is the media type for an array of WaterlinkedReceiver (default view)\";s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":4:{s:2:\"id\";i:3146300361811729400;s:1:\"x\";d:0.17148309399971762;s:1:\"y\";d:0.36951858984372926;s:1:\"z\";d:0.81472749041390968;}}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/WaterlinkedReceiver\";}s:5:\"title\";s:94:\"Mediatype
  identifier: application/vnd.waterlinked.receiver+json; type=collection; view=default\";s:4:\"type\";s:5:\"array\";}s:17:\"WaterlinkedStatus\";O:8:\"stdClass\":6:{s:11:\"description\";s:33:\"Status
  information (default view)\";s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"gps\";i:2;s:3:\"imu\";i:2;}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"gps\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"GPS
  lock status\";s:7:\"example\";i:2;s:7:\"maximum\";i:3;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:3:\"imu\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"IMU
  calibration status\";s:7:\"example\";i:2;s:7:\"maximum\";i:3;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:3:\"imu\";i:1;s:3:\"gps\";}s:5:\"title\";s:75:\"Mediatype
  identifier: application/vnd.waterlinked.status+json; view=default\";s:4:\"type\";s:6:\"object\";}s:22:\"WaterlinkedTemperature\";O:8:\"stdClass\":6:{s:11:\"description\";s:38:\"Temperature
  information (default view)\";s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"board\";i:37;}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"board\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Board
  temperature (C)\";s:7:\"example\";i:37;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:5:\"board\";}s:5:\"title\";s:80:\"Mediatype
  identifier: application/vnd.waterlinked.temperature+json; view=default\";s:4:\"type\";s:6:\"object\";}s:28:\"WlExternalLocatorOrientation\";O:8:\"stdClass\":6:{s:11:\"description\";s:57:\"Set
  current compass heading of ROV/locator (default view)\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"orientation\";i:42;}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:74:\"Current
  orientation/compass heading (degrees). -1 means no orientation set\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:11:\"orientation\";}s:5:\"title\";s:88:\"Mediatype
  identifier: application/vnd.wl.external.locator.orientation+json; view=default\";s:4:\"type\";s:6:\"object\";}s:19:\"WlSatellitePosition\";O:8:\"stdClass\":6:{s:11:\"description\";s:35:\"GPS
  and IMU position (default view)\";s:7:\"example\";O:8:\"stdClass\":7:{s:3:\"cog\";i:42;s:4:\"hdop\";d:1.8999999999999999;s:3:\"lat\";d:63.421999999999997;s:3:\"lon\";d:10.423999999999999;s:7:\"numsats\";i:11;s:11:\"orientation\";i:42;s:3:\"sog\";d:0.5;}s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"cog\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Course
  over ground (degrees). -1 means no data.\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:4:\"hdop\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Horizontal
  dilution of precision. -1 means no data.\";s:7:\"example\";d:1.8999999999999999;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:3:\"lat\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"Current
  Latitude\";s:7:\"example\";d:63.421999999999997;s:7:\"maximum\";i:90;s:7:\"minimum\";i:-90;s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Current
  Longitude\";s:7:\"example\";d:10.423999999999999;s:7:\"maximum\";i:180;s:7:\"minimum\";i:-180;s:4:\"type\";s:6:\"number\";}s:7:\"numsats\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Number
  of satellites. -1 means no data.\";s:7:\"example\";i:11;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:11:\"orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:64:\"Current
  orientation/compass heading (degrees). -1 means no data.\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:3:\"sog\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Speed
  over ground (km/h). -1 means no data.\";s:7:\"example\";d:0.5;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:7:{i:0;s:3:\"lat\";i:1;s:3:\"lon\";i:2;s:11:\"orientation\";i:3;s:3:\"cog\";i:4;s:3:\"sog\";i:5;s:4:\"hdop\";i:6;s:7:\"numsats\";}s:5:\"title\";s:78:\"Mediatype
  identifier: application/vnd.wl.satellite.position+json; view=default\";s:4:\"type\";s:6:\"object\";}s:9:\"WlWarning\";O:8:\"stdClass\":6:{s:11:\"description\";s:30:\"Warning
  message (default view)\";s:7:\"example\";O:8:\"stdClass\":3:{s:2:\"id\";s:34:\"Reprehenderit
  non architecto quia.\";s:7:\"message\";s:15:\"Accusantium ad.\";s:8:\"severity\";s:30:\"Omnis
  libero pariatur quia id.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Identifier\";s:7:\"example\";s:34:\"Reprehenderit
  non architecto quia.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Message\";s:7:\"example\";s:15:\"Accusantium
  ad.\";s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Severity\";s:7:\"example\";s:30:\"Omnis
  libero pariatur quia id.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:7:\"message\";i:2;s:8:\"severity\";}s:5:\"title\";s:67:\"Mediatype
  identifier: application/vnd.wl.warning+json; view=default\";s:4:\"type\";s:6:\"object\";}s:19:\"WlWarningCollection\";O:8:\"stdClass\":5:{s:11:\"description\";s:78:\"WlWarningCollection
  is the media type for an array of WlWarning (default view)\";s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:34:\"Reprehenderit
  non architecto quia.\";s:7:\"message\";s:15:\"Accusantium ad.\";s:8:\"severity\";s:30:\"Omnis
  libero pariatur quia id.\";}}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/WlWarning\";}s:5:\"title\";s:84:\"Mediatype
  identifier: application/vnd.wl.warning+json; type=collection; view=default\";s:4:\"type\";s:5:\"array\";}s:18:\"WupdaterApiversion\";O:8:\"stdClass\":6:{s:11:\"description\";s:45:\"Returns
  supported api versions (default view)\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"versions\";a:2:{i:0;s:2:\"v1\";i:1;s:2:\"v2\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"versions\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Supported
  api versions\";s:7:\"example\";a:2:{i:0;s:2:\"v1\";i:1;s:2:\"v2\";}s:5:\"items\";O:8:\"stdClass\":2:{s:7:\"example\";s:23:\"Itaque
  nemo dolorem ea.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"versions\";}s:5:\"title\";s:71:\"Mediatype
  identifier: application/vnd.wupdater.apiversion; view=default\";s:4:\"type\";s:6:\"object\";}s:5:\"error\";O:8:\"stdClass\":5:{s:11:\"description\";s:40:\"Error
  response media type (default view)\";s:7:\"example\";O:8:\"stdClass\":5:{s:4:\"code\";s:13:\"invalid_value\";s:6:\"detail\";s:30:\"Value
  of ID must be an integer\";s:2:\"id\";s:8:\"3F1FKVRR\";s:4:\"meta\";O:8:\"stdClass\":1:{s:9:\"timestamp\";i:1458609066;}s:6:\"status\";s:3:\"400\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"an
  application-specific error code, expressed as a string value.\";s:7:\"example\";s:13:\"invalid_value\";s:4:\"type\";s:6:\"string\";}s:6:\"detail\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"a
  human-readable explanation specific to this occurrence of the problem.\";s:7:\"example\";s:30:\"Value
  of ID must be an integer\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"a
  unique identifier for this particular occurrence of the problem.\";s:7:\"example\";s:8:\"3F1FKVRR\";s:4:\"type\";s:6:\"string\";}s:4:\"meta\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:1;s:11:\"description\";s:71:\"a
  meta object containing non-standard meta-information about the error.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"timestamp\";i:1458609066;}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"the
  HTTP status code applicable to this problem, expressed as a string value.\";s:7:\"example\";s:3:\"400\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:61:\"Mediatype
  identifier: application/vnd.goa.error; view=default\";s:4:\"type\";s:6:\"object\";}}"
...
