---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:13:\"waterlinkedas\";}s:11:\"description\";s:863:\"API
  for the Water Linked Underwater GPS. For more details: http://www.waterlinked.com\n\nRecommended
  approach for connecting to a Underwater GPS via the API is:\n- If \"GET /api/\"
  times out, the Underwater GPS is not running (on this IP address)\n- If \"GET /api/\"
  responds with 200 OK check that the api version returrned (eg \"v1\") is supported
  by the client (eg: also supports \"v1\").\n- If the api version returned does not
  match what the client supports: give an error to the user and recommend upgrading.
  (Eg: response is \"v2\" while client only supports \"v1\")\n- If \"GET /api/\" responds
  with 301 Moved permanently. \"GET /api/v1/version\" to check if the kit has a version
  earlier than 1.5.\n- \"GET /api/v1/version\" will always respond with 200 OK on
  Underwater GPS earlier than 1.5 release.\n\nConfiguration API is is not considered
  stable and will potentially be changed\";s:5:\"title\";s:31:\"The Water Linked Underwater
  GPS\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"location\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:86:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_waterlinkedas_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:48:\"http://demo.waterlinked.com/swagger/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"waterlinked.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"waterlinked\";s:4:\"type\";s:7:\"openapi\";}}"
host: demo.waterlinked.com
paths:
  /api/:
    get:
      operationId: api.get
      produces:
      - application/vnd.wupdater.apiversion
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WupdaterApiversion'
      schemes:
      - http
      summary: ApiVersion about
      tags:
      - about
  /api/v1/about:
    get:
      description: Get about information
      operationId: api.v1.about.get
      produces:
      - application/vnd.waterlinked.about+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedAbout'
      schemes:
      - http
      summary: Get about
      tags:
      - about
  /api/v1/about/status:
    get:
      description: Get current IMU and GPS status
      operationId: api.v1.about.status.get
      produces:
      - application/vnd.waterlinked.status+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedStatus'
      schemes:
      - http
      summary: Status about
      tags:
      - about
  /api/v1/about/temperature:
    get:
      description: Get board temperature
      operationId: api.v1.about.temperature.get
      produces:
      - application/vnd.waterlinked.temperature+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedTemperature'
      schemes:
      - http
      summary: Temperature about
      tags:
      - about
  /api/v1/config/generic:
    get:
      description: Get generic configuration
      operationId: api.v1.config.generic.get
      produces:
      - application/vnd.waterlinked.configuration+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedConfiguration'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: Get config
      tags:
      - config
    put:
      description: Modify generic configuration
      operationId: api.v1.config.generic.put
      parameters:
      - description: Configuration parameters
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/ModifyConfigPayload'
      produces:
      - plain/text
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: Modify config
      tags:
      - config
  /api/v1/config/receivers/:
    get:
      description: (Re)Load current receiver settings and return them
      operationId: api.v1.config.receivers.get
      produces:
      - application/vnd.waterlinked.receiver+json; type=collection
      responses:
        200:
          description: Returned list of receivers
          schema:
            $ref: '#/definitions/WaterlinkedReceiverCollection'
      schemes:
      - http
      summary: ListReceiver config
      tags:
      - config
  /api/v1/config/receivers/{ID}:
    get:
      description: Get receiver configuration by id
      operationId: api.v1.config.receivers.ID.get
      parameters:
      - description: Identifier
        in: path
        name: ID
        required: true
        type: integer
      produces:
      - application/vnd.waterlinked.receiver+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedReceiver'
        404:
          description: Not Found
      schemes:
      - http
      summary: ShowReceiver config
      tags:
      - config
    put:
      description: Modify receiver configuration, does not apply the change until
        generic modify is called. Calling list will discard changes
      operationId: api.v1.config.receivers.ID.put
      parameters:
      - description: Identifier
        in: path
        name: ID
        required: true
        type: integer
      - description: A receiver configuration
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/ModifyReceiverConfigPayload'
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - http
      summary: ModifyReceiver config
      tags:
      - config
  /api/v1/external/depth:
    put:
      description: Set depth from external source. If Locator A1 is used, this is
        required to get a position
      operationId: api.v1.external.depth.put
      parameters:
      - description: Current locator depth and temperature
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/SetDepthExternalPayload'
      produces:
      - text/plain
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: SetDepth external
      tags:
      - external
  /api/v1/external/master:
    put:
      description: Set current global position of master electronics from external
        source. Values are only used if GPS mode is set to use external GPS
      operationId: api.v1.external.master.put
      parameters:
      - description: Global master position from external source
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/SetMasterExternalPayload'
      produces:
      - text/plain
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: SetMaster external
      tags:
      - external
  /api/v1/external/orientation:
    get:
      description: Get orientation of ROV/Locator set by external
      operationId: api.v1.external.orientation.get
      produces:
      - application/vnd.wl.external.locator.orientation+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WlExternalLocatorOrientation'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: GetOrientation external
      tags:
      - external
    put:
      description: Set orientation/compass heading of ROV/Locator. This is used only
        for visualization in GUI
      operationId: api.v1.external.orientation.put
      parameters:
      - description: Set current compass heading of ROV/locator
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/SetOrientationExternalPayload'
      produces:
      - text/plain
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: SetOrientation external
      tags:
      - external
  /api/v1/position/acoustic/filtered:
    get:
      description: 'Get current Kalman filtered acoustic position relative to master
        acoustics. Expected update frequency: 4 Hz'
      operationId: api.v1.position.acoustic.filtered.get
      produces:
      - application/vnd.waterlinked.accoustic.position+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedAccousticPosition'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: AcousticFiltered position
      tags:
      - position
  /api/v1/position/acoustic/raw:
    get:
      description: 'Get current unfiltered acoustic position relative to master acoustics.
        Expected update frequency: 4 Hz'
      operationId: api.v1.position.acoustic.raw.get
      produces:
      - application/vnd.waterlinked.accoustic.position+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaterlinkedAccousticPosition'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: AcousticRaw position
      tags:
      - position
  /api/v1/position/global:
    get:
      description: 'Get current global position of locator. Locator position is calculated
        from the current acoustic position and the global position of the master electronics.
        Expected update frequency: 4 Hz'
      operationId: api.v1.position.global.get
      produces:
      - application/vnd.wl.global.position+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WlGlobalPosition'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: Get position
      tags:
      - position
  /api/v1/position/master:
    get:
      description: 'Get current global position of master electronics. Expected update
        frequency: 1 Hz'
      operationId: api.v1.position.master.get
      produces:
      - application/vnd.wl.master.position+json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WlMasterPosition'
        500:
          description: Internal Server Error
      schemes:
      - http
      summary: GetMaster position
      tags:
      - position
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":16:{s:19:\"ModifyConfigPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:24:\"Configuration
  parameters\";s:7:\"example\";O:8:\"stdClass\":12:{s:17:\"carrier_frequency\";i:150;s:7:\"compass\";s:6:\"static\";s:3:\"gps\";s:8:\"external\";s:11:\"range_max_x\";i:50;s:11:\"range_max_y\";i:50;s:11:\"range_max_z\";i:50;s:11:\"range_min_x\";i:50;s:11:\"range_min_y\";i:50;s:10:\"static_lat\";d:63.421999999999997;s:10:\"static_lon\";d:10.423999999999999;s:18:\"static_orientation\";i:42;s:18:\"use_external_depth\";b:0;}s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"carrier_frequency\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Carrier
  frequency (kHz)\";s:7:\"example\";i:150;s:7:\"maximum\";i:200;s:7:\"minimum\";i:100;s:4:\"type\";s:6:\"number\";}s:7:\"compass\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Compass
  provider setting\";s:4:\"enum\";a:3:{i:0;s:7:\"onboard\";i:1;s:6:\"static\";i:2;s:8:\"external\";}s:7:\"example\";s:6:\"static\";s:4:\"type\";s:6:\"string\";}s:3:\"gps\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"GPS
  provider setting\";s:4:\"enum\";a:3:{i:0;s:7:\"onboard\";i:1;s:6:\"static\";i:2;s:8:\"external\";}s:7:\"example\";s:8:\"external\";s:4:\"type\";s:6:\"string\";}s:11:\"range_max_x\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:11:\"range_max_y\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:11:\"range_max_z\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:6:\"number\";}s:11:\"range_min_x\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:0;s:7:\"minimum\";i:-100;s:4:\"type\";s:6:\"number\";}s:11:\"range_min_y\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:0;s:7:\"minimum\";i:-100;s:4:\"type\";s:6:\"number\";}s:10:\"static_lat\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"Latitude
  to use in static mode\";s:7:\"example\";d:63.421999999999997;s:7:\"maximum\";i:90;s:7:\"minimum\";i:-90;s:4:\"type\";s:6:\"number\";}s:10:\"static_lon\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"Longitude
  to use in static mode\";s:7:\"example\";d:10.423999999999999;s:7:\"maximum\";i:180;s:7:\"minimum\";i:-180;s:4:\"type\";s:6:\"number\";}s:18:\"static_orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:59:\"Orientation/compass
  reading to use in static mode (degrees)\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:18:\"use_external_depth\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Use
  external depth. Required to be true when using Locator-A1.\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:12:{i:0;s:17:\"carrier_frequency\";i:1;s:11:\"range_min_x\";i:2;s:11:\"range_max_x\";i:3;s:11:\"range_min_y\";i:4;s:11:\"range_max_y\";i:5;s:11:\"range_max_z\";i:6;s:18:\"use_external_depth\";i:7;s:3:\"gps\";i:8;s:7:\"compass\";i:9;s:10:\"static_lat\";i:10;s:10:\"static_lon\";i:11;s:18:\"static_orientation\";}s:5:\"title\";s:19:\"ModifyConfigPayload\";s:4:\"type\";s:6:\"object\";}s:27:\"ModifyReceiverConfigPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:24:\"A
  receiver configuration\";s:7:\"example\";O:8:\"stdClass\":4:{s:2:\"id\";i:3143803153813247500;s:1:\"x\";d:0.74865947097966301;s:1:\"y\";d:0.51917808851016078;s:1:\"z\";d:0.88005929965346275;}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Unique
  receiver identifier\";s:7:\"example\";i:3143803153813247500;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:1:\"x\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  X position relative to master electronics (meter)\";s:7:\"example\";d:0.74865947097966301;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"y\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  Y position relative to master electronics (meter)\";s:7:\"example\";d:0.51917808851016078;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"z\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  Z position relative to master electronics (meter)\";s:7:\"example\";d:0.88005929965346275;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:1:\"x\";i:2;s:1:\"y\";i:3;s:1:\"z\";}s:5:\"title\";s:27:\"ModifyReceiverConfigPayload\";s:4:\"type\";s:6:\"object\";}s:23:\"SetDepthExternalPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:37:\"Current
  locator depth and temperature\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"depth\";d:3.2000000000000002;s:4:\"temp\";d:11.199999999999999;}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"depth\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"Curent
  depth (meter)\";s:7:\"example\";d:3.2000000000000002;s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:4:\"temp\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"Current
  water temperature (C)\";s:7:\"example\";d:11.199999999999999;s:7:\"maximum\";i:60;s:7:\"minimum\";i:-10;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:5:\"depth\";i:1;s:4:\"temp\";}s:5:\"title\";s:23:\"SetDepthExternalPayload\";s:4:\"type\";s:6:\"object\";}s:24:\"SetMasterExternalPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:43:\"Global
  master position from external source\";s:7:\"example\";O:8:\"stdClass\":3:{s:3:\"lat\";d:63.421999999999997;s:3:\"lon\";d:10.423999999999999;s:11:\"orientation\";i:42;}s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"lat\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"Current
  Latitude\";s:7:\"example\";d:63.421999999999997;s:7:\"maximum\";i:90;s:7:\"minimum\";i:-90;s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Current
  Longitude\";s:7:\"example\";d:10.423999999999999;s:7:\"maximum\";i:180;s:7:\"minimum\";i:-180;s:4:\"type\";s:6:\"number\";}s:11:\"orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:45:\"Current
  orientation/compass heading (degrees)\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:3:\"lat\";i:1;s:3:\"lon\";i:2;s:11:\"orientation\";}s:5:\"title\";s:24:\"SetMasterExternalPayload\";s:4:\"type\";s:6:\"object\";}s:29:\"SetOrientationExternalPayload\";O:8:\"stdClass\":6:{s:11:\"description\";s:42:\"Set
  current compass heading of ROV/locator\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"orientation\";i:42;}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:74:\"Current
  orientation/compass heading (degrees). -1 means no orientation set\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:11:\"orientation\";}s:5:\"title\";s:29:\"SetOrientationExternalPayload\";s:4:\"type\";s:6:\"object\";}s:16:\"WaterlinkedAbout\";O:8:\"stdClass\":6:{s:11:\"description\";s:32:\"About
  information (default view)\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"chipid\";s:11:\"0x123456789\";s:7:\"version\";s:15:\"1.0.0
  (abc.def)\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"chipid\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Chip
  identifier\";s:7:\"example\";s:11:\"0x123456789\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Web
  Server version string\";s:7:\"example\";s:15:\"1.0.0 (abc.def)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"version\";i:1;s:6:\"chipid\";}s:5:\"title\";s:74:\"Mediatype
  identifier: application/vnd.waterlinked.about+json; view=default\";s:4:\"type\";s:6:\"object\";}s:28:\"WaterlinkedAccousticPosition\";O:8:\"stdClass\":6:{s:11:\"description\";s:48:\"Current
  relative Locator position (default view)\";s:7:\"example\";O:8:\"stdClass\":5:{s:3:\"std\";d:0.5;s:4:\"temp\";d:5.5;s:1:\"x\";d:32.100000000000001;s:1:\"y\";d:11.199999999999999;s:1:\"z\";d:10.199999999999999;}s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"std\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Current
  accoustic position accuracy (meter)\";s:7:\"example\";d:0.5;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:4:\"temp\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Current
  accoustic temperature (C)\";s:7:\"example\";d:5.5;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"x\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Current
  accoustic x position relative to master electronics (meter)\";s:7:\"example\";d:32.100000000000001;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"y\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Current
  accoustic y position relative to master electronics (meter)\";s:7:\"example\";d:11.199999999999999;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"z\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Current
  accoustic z position (depth) relative to master electronics (meter)\";s:7:\"example\";d:10.199999999999999;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:5:{i:0;s:1:\"x\";i:1;s:1:\"y\";i:2;s:1:\"z\";i:3;s:3:\"std\";i:4;s:4:\"temp\";}s:5:\"title\";s:87:\"Mediatype
  identifier: application/vnd.waterlinked.accoustic.position+json; view=default\";s:4:\"type\";s:6:\"object\";}s:24:\"WaterlinkedConfiguration\";O:8:\"stdClass\":6:{s:11:\"description\";s:39:\"Configuration
  parameters (default view)\";s:7:\"example\";O:8:\"stdClass\":12:{s:17:\"carrier_frequency\";i:150;s:7:\"compass\";s:6:\"static\";s:3:\"gps\";s:8:\"external\";s:11:\"range_max_x\";i:50;s:11:\"range_max_y\";i:50;s:11:\"range_max_z\";i:50;s:11:\"range_min_x\";i:50;s:11:\"range_min_y\";i:50;s:10:\"static_lat\";d:63.421999999999997;s:10:\"static_lon\";d:10.423999999999999;s:18:\"static_orientation\";i:42;s:18:\"use_external_depth\";b:0;}s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"carrier_frequency\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Carrier
  frequency (kHz)\";s:7:\"example\";i:150;s:7:\"maximum\";i:200;s:7:\"minimum\";i:100;s:4:\"type\";s:6:\"number\";}s:7:\"compass\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Compass
  provider setting\";s:4:\"enum\";a:3:{i:0;s:7:\"onboard\";i:1;s:6:\"static\";i:2;s:8:\"external\";}s:7:\"example\";s:6:\"static\";s:4:\"type\";s:6:\"string\";}s:3:\"gps\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"GPS
  provider setting\";s:4:\"enum\";a:3:{i:0;s:7:\"onboard\";i:1;s:6:\"static\";i:2;s:8:\"external\";}s:7:\"example\";s:8:\"external\";s:4:\"type\";s:6:\"string\";}s:11:\"range_max_x\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:11:\"range_max_y\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:11:\"range_max_z\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:6:\"number\";}s:11:\"range_min_x\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:0;s:7:\"minimum\";i:-100;s:4:\"type\";s:6:\"number\";}s:11:\"range_min_y\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Max
  range (meters)\";s:7:\"example\";i:50;s:7:\"maximum\";i:0;s:7:\"minimum\";i:-100;s:4:\"type\";s:6:\"number\";}s:10:\"static_lat\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"Latitude
  to use in static mode\";s:7:\"example\";d:63.421999999999997;s:7:\"maximum\";i:90;s:7:\"minimum\";i:-90;s:4:\"type\";s:6:\"number\";}s:10:\"static_lon\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"Longitude
  to use in static mode\";s:7:\"example\";d:10.423999999999999;s:7:\"maximum\";i:180;s:7:\"minimum\";i:-180;s:4:\"type\";s:6:\"number\";}s:18:\"static_orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:59:\"Orientation/compass
  reading to use in static mode (degrees)\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:18:\"use_external_depth\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Use
  external depth. Required to be true when using Locator-A1.\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:12:{i:0;s:17:\"carrier_frequency\";i:1;s:11:\"range_min_x\";i:2;s:11:\"range_max_x\";i:3;s:11:\"range_min_y\";i:4;s:11:\"range_max_y\";i:5;s:11:\"range_max_z\";i:6;s:18:\"use_external_depth\";i:7;s:3:\"gps\";i:8;s:7:\"compass\";i:9;s:10:\"static_lat\";i:10;s:10:\"static_lon\";i:11;s:18:\"static_orientation\";}s:5:\"title\";s:82:\"Mediatype
  identifier: application/vnd.waterlinked.configuration+json; view=default\";s:4:\"type\";s:6:\"object\";}s:19:\"WaterlinkedReceiver\";O:8:\"stdClass\":6:{s:11:\"description\";s:39:\"A
  receiver configuration (default view)\";s:7:\"example\";O:8:\"stdClass\":4:{s:2:\"id\";i:3143803153813247500;s:1:\"x\";d:0.74865947097966301;s:1:\"y\";d:0.51917808851016078;s:1:\"z\";d:0.88005929965346275;}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Unique
  receiver identifier\";s:7:\"example\";i:3143803153813247500;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:1:\"x\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  X position relative to master electronics (meter)\";s:7:\"example\";d:0.74865947097966301;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"y\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  Y position relative to master electronics (meter)\";s:7:\"example\";d:0.51917808851016078;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"z\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Configured
  Z position relative to master electronics (meter)\";s:7:\"example\";d:0.88005929965346275;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:1:\"x\";i:2;s:1:\"y\";i:3;s:1:\"z\";}s:5:\"title\";s:77:\"Mediatype
  identifier: application/vnd.waterlinked.receiver+json; view=default\";s:4:\"type\";s:6:\"object\";}s:29:\"WaterlinkedReceiverCollection\";O:8:\"stdClass\":5:{s:11:\"description\";s:98:\"WaterlinkedReceiverCollection
  is the media type for an array of WaterlinkedReceiver (default view)\";s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":4:{s:2:\"id\";i:3143803153813247500;s:1:\"x\";d:0.74865947097966301;s:1:\"y\";d:0.51917808851016078;s:1:\"z\";d:0.88005929965346275;}i:1;O:8:\"stdClass\":4:{s:2:\"id\";i:3143803153813247500;s:1:\"x\";d:0.74865947097966301;s:1:\"y\";d:0.51917808851016078;s:1:\"z\";d:0.88005929965346275;}i:2;O:8:\"stdClass\":4:{s:2:\"id\";i:3143803153813247500;s:1:\"x\";d:0.74865947097966301;s:1:\"y\";d:0.51917808851016078;s:1:\"z\";d:0.88005929965346275;}}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/WaterlinkedReceiver\";}s:5:\"title\";s:94:\"Mediatype
  identifier: application/vnd.waterlinked.receiver+json; type=collection; view=default\";s:4:\"type\";s:5:\"array\";}s:17:\"WaterlinkedStatus\";O:8:\"stdClass\":6:{s:11:\"description\";s:33:\"Status
  information (default view)\";s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"gps\";i:2;s:3:\"imu\";i:2;}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"gps\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"GPS
  lock status\";s:7:\"example\";i:2;s:7:\"maximum\";i:3;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:3:\"imu\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"IMU
  calibration status\";s:7:\"example\";i:2;s:7:\"maximum\";i:3;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:3:\"imu\";i:1;s:3:\"gps\";}s:5:\"title\";s:75:\"Mediatype
  identifier: application/vnd.waterlinked.status+json; view=default\";s:4:\"type\";s:6:\"object\";}s:22:\"WaterlinkedTemperature\";O:8:\"stdClass\":6:{s:11:\"description\";s:38:\"Temperature
  information (default view)\";s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"board\";i:37;}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"board\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Board
  temperature (C)\";s:7:\"example\";i:37;s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:5:\"board\";}s:5:\"title\";s:80:\"Mediatype
  identifier: application/vnd.waterlinked.temperature+json; view=default\";s:4:\"type\";s:6:\"object\";}s:28:\"WlExternalLocatorOrientation\";O:8:\"stdClass\":6:{s:11:\"description\";s:57:\"Set
  current compass heading of ROV/locator (default view)\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"orientation\";i:42;}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:74:\"Current
  orientation/compass heading (degrees). -1 means no orientation set\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:11:\"orientation\";}s:5:\"title\";s:88:\"Mediatype
  identifier: application/vnd.wl.external.locator.orientation+json; view=default\";s:4:\"type\";s:6:\"object\";}s:16:\"WlGlobalPosition\";O:8:\"stdClass\":6:{s:11:\"description\";s:38:\"Global
  locator position (default view)\";s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"lat\";d:63.421999999999997;s:3:\"lon\";d:10.423999999999999;}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"Current
  Latitude\";s:7:\"example\";d:63.421999999999997;s:7:\"maximum\";i:90;s:7:\"minimum\";i:-90;s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Current
  Longitude\";s:7:\"example\";d:10.423999999999999;s:7:\"maximum\";i:180;s:7:\"minimum\";i:-180;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:3:\"lat\";i:1;s:3:\"lon\";}s:5:\"title\";s:75:\"Mediatype
  identifier: application/vnd.wl.global.position+json; view=default\";s:4:\"type\";s:6:\"object\";}s:16:\"WlMasterPosition\";O:8:\"stdClass\":6:{s:11:\"description\";s:35:\"GPS
  and IMU position (default view)\";s:7:\"example\";O:8:\"stdClass\":7:{s:3:\"cog\";i:42;s:4:\"hdop\";d:1.8999999999999999;s:3:\"lat\";d:63.421999999999997;s:3:\"lon\";d:10.423999999999999;s:7:\"numsats\";i:11;s:11:\"orientation\";i:42;s:3:\"sog\";d:0.5;}s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"cog\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Course
  over ground (degrees). -1 means no data.\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:4:\"hdop\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Horizontal
  dilution of precision. -1 means no data.\";s:7:\"example\";d:1.8999999999999999;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:3:\"lat\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"Current
  Latitude\";s:7:\"example\";d:63.421999999999997;s:7:\"maximum\";i:90;s:7:\"minimum\";i:-90;s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Current
  Longitude\";s:7:\"example\";d:10.423999999999999;s:7:\"maximum\";i:180;s:7:\"minimum\";i:-180;s:4:\"type\";s:6:\"number\";}s:7:\"numsats\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Number
  of satellites. -1 means no data.\";s:7:\"example\";i:11;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:11:\"orientation\";O:8:\"stdClass\":5:{s:11:\"description\";s:64:\"Current
  orientation/compass heading (degrees). -1 means no data.\";s:7:\"example\";i:42;s:7:\"maximum\";i:359;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}s:3:\"sog\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Speed
  over ground (km/h). -1 means no data.\";s:7:\"example\";d:0.5;s:7:\"minimum\";i:-1;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:7:{i:0;s:3:\"lat\";i:1;s:3:\"lon\";i:2;s:11:\"orientation\";i:3;s:3:\"cog\";i:4;s:3:\"sog\";i:5;s:4:\"hdop\";i:6;s:7:\"numsats\";}s:5:\"title\";s:75:\"Mediatype
  identifier: application/vnd.wl.master.position+json; view=default\";s:4:\"type\";s:6:\"object\";}s:18:\"WupdaterApiversion\";O:8:\"stdClass\":6:{s:11:\"description\";s:45:\"Returns
  supported api versions (default view)\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"versions\";a:2:{i:0;s:2:\"v1\";i:1;s:2:\"v2\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"versions\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Supported
  api versions\";s:7:\"example\";a:2:{i:0;s:2:\"v1\";i:1;s:2:\"v2\";}s:5:\"items\";O:8:\"stdClass\":2:{s:7:\"example\";s:34:\"Sequi
  fugit quis vero in deleniti.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"versions\";}s:5:\"title\";s:71:\"Mediatype
  identifier: application/vnd.wupdater.apiversion; view=default\";s:4:\"type\";s:6:\"object\";}}"
...
