---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:423:\"Amazon
  Route 53 auto naming lets you configure public or private namespaces that your microservice
  applications run in. When instances of the service become available, you can call
  the auto naming API to register the instance, and Route 53 automatically creates
  up to five DNS records and an optional health check. Clients that submit DNS queries
  for the service receive an answer that contains up to eight healthy records.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:27:\"Amazon
  Route 53 Auto Naming\";s:7:\"version\";s:10:\"2017-03-14\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:100:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/servicediscovery-2017-03-14.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:16:\"servicediscovery\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"amazonaws_servicediscovery\";s:4:\"type\";s:7:\"openapi\";}}"
host: servicediscovery.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":110:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:7:\"AttrKey\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:9:\"AttrValue\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/AttrKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AttrValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"CreatePrivateDnsNamespaceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:267:\"A
  unique string that identifies the request and that allows failed <code>CreatePrivateDnsNamespace</code>
  requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code>
  can be any unique string, for example, a date/time stamp.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ResourceDescription\";s:11:\"description\";s:32:\"A
  description for the namespace.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NamespaceName\";s:11:\"description\";s:173:\"The
  name that you want to assign to this namespace. When you create a namespace, Amazon
  Route 53 automatically creates a hosted zone that has the same name as the namespace.\";}s:3:\"Vpc\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:71:\"The
  ID of the Amazon VPC that you want to associate the namespace with.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:3:\"Vpc\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreatePrivateDnsNamespaceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OperationId\";s:11:\"description\";s:142:\"A
  value that you can use to determine whether the request completed successfully.
  To get the status of the operation, see <a>GetOperation</a>.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreatePublicDnsNamespaceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:266:\"A
  unique string that identifies the request and that allows failed <code>CreatePublicDnsNamespace</code>
  requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code>
  can be any unique string, for example, a date/time stamp.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ResourceDescription\";s:11:\"description\";s:32:\"A
  description for the namespace.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NamespaceName\";s:11:\"description\";s:51:\"The
  name that you want to assign to this namespace.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:32:\"CreatePublicDnsNamespaceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OperationId\";s:11:\"description\";s:142:\"A
  value that you can use to determine whether the request completed successfully.
  To get the status of the operation, see <a>GetOperation</a>.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateServiceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:255:\"A
  unique string that identifies the request and that allows failed <code>CreateService</code>
  requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code>
  can be any unique string, for example, a date/time stamp.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ResourceDescription\";s:11:\"description\";s:30:\"A
  description for the service.\";}s:9:\"DnsConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DnsConfig\";s:11:\"description\";s:123:\"A
  complex type that contains information about the records that you want Route 53
  to create when you register an instance. \";}s:17:\"HealthCheckConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/HealthCheckConfig\";s:11:\"description\";s:390:\"<p>
  <i>Public DNS namespaces only.</i> A complex type that contains settings for an
  optional health check. If you specify settings for a health check, Route 53 associates
  the health check with all the records that you specify in <code>DnsConfig</code>.</p>
  <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/route53/pricing\">Route
  53 Pricing</a>.</p>\";}s:23:\"HealthCheckCustomConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/HealthCheckCustomConfig\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceName\";s:11:\"description\";s:48:\"The
  name that you want to assign to the service.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:9:\"DnsConfig\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateServiceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Service\";s:11:\"description\";s:63:\"A
  complex type that contains information about the new service.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CustomHealthNotFound\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CustomHealthStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"HEALTHY\";i:1;s:9:\"UNHEALTHY\";}s:4:\"type\";s:6:\"string\";}s:22:\"DeleteNamespaceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:48:\"The
  ID of the namespace that you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteNamespaceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OperationId\";s:11:\"description\";s:142:\"A
  value that you can use to determine whether the request completed successfully.
  To get the status of the operation, see <a>GetOperation</a>.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteServiceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:46:\"The
  ID of the service that you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteServiceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DeregisterInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:88:\"The
  value that you specified for <code>Id</code> in the <a>RegisterInstance</a> request.\";}s:9:\"ServiceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:59:\"The
  ID of the service that the instance is associated with.\";}}s:8:\"required\";a:2:{i:0;s:9:\"ServiceId\";i:1;s:10:\"InstanceId\";}s:4:\"type\";s:6:\"object\";}s:26:\"DeregisterInstanceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OperationId\";s:11:\"description\";s:128:\"A
  value that you can use to determine whether the request completed successfully.
  For more information, see <a>GetOperation</a>.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"DnsConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:129:\"A
  complex type that contains information about the records that you want Amazon Route
  53 to create when you register an instance.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"DnsRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DnsRecordList\";s:11:\"description\";s:136:\"An
  array that contains one <code>DnsRecord</code> object for each record that you want
  Route 53 to create when you register an instance.\";}s:11:\"NamespaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:53:\"The
  ID of the namespace to use for DNS configuration.\";}s:13:\"RoutingPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RoutingPolicy\";s:11:\"description\";s:2371:\"<p>The
  routing policy that you want to apply to all records that Route 53 creates when
  you register an instance and specify this service.</p> <note> <p>If you want to
  use this service to register instances that create alias records, specify <code>WEIGHTED</code>
  for the routing policy.</p> </note> <p>You can specify the following values:</p>
  <p> <b>MULTIVALUE</b> </p> <p>If you define a health check for the service and the
  health check is healthy, Route 53 returns the applicable value for up to eight instances.</p>
  <p>For example, suppose the service includes configurations for one A record and
  a health check, and you use the service to register 10 instances. Route 53 responds
  to DNS queries with IP addresses for up to eight healthy instances. If fewer than
  eight instances are healthy, Route 53 responds to every DNS query with the IP addresses
  for all of the healthy instances.</p> <p>If you don't define a health check for
  the service, Route 53 assumes that all instances are healthy and returns the values
  for up to eight instances.</p> <p>For more information about the multivalue routing
  policy, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-multivalue\">Multivalue
  Answer Routing</a> in the <i>Route 53 Developer Guide</i>.</p> <p> <b>WEIGHTED</b>
  </p> <p>Route 53 returns the applicable value from one randomly selected instance
  from among the instances that you registered using the same service. Currently,
  all records have the same weight, so you can't route more or less traffic to any
  instances.</p> <p>For example, suppose the service includes configurations for one
  A record and a health check, and you use the service to register 10 instances. Route
  53 responds to DNS queries with the IP address for one randomly selected instance
  from among the healthy instances. If no instances are healthy, Route 53 responds
  to DNS queries as if all of the instances were healthy.</p> <p>If you don't define
  a health check for the service, Route 53 assumes that all instances are healthy
  and returns the applicable value for one randomly selected instance.</p> <p>For
  more information about the weighted routing policy, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-weighted\">Weighted
  Routing</a> in the <i>Route 53 Developer Guide</i>.</p>\";}}s:8:\"required\";a:2:{i:0;s:11:\"NamespaceId\";i:1;s:10:\"DnsRecords\";}s:4:\"type\";s:6:\"object\";}s:15:\"DnsConfigChange\";O:8:\"stdClass\":4:{s:11:\"description\";s:122:\"A
  complex type that contains information about changes to the records that Route 53
  creates when you register an instance.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DnsRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DnsRecordList\";s:11:\"description\";s:136:\"An
  array that contains one <code>DnsRecord</code> object for each record that you want
  Route 53 to create when you register an instance.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DnsRecords\";}s:4:\"type\";s:6:\"object\";}s:13:\"DnsProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"A
  complex type that contains the ID for the hosted zone that Route 53 creates when
  you create a namespace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"HostedZoneId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:77:\"The
  ID for the hosted zone that Route 53 creates when you create a namespace.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"DnsRecord\";O:8:\"stdClass\":4:{s:11:\"description\";s:122:\"A
  complex type that contains information about the records that you want Route 53
  to create when you register an instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"TTL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/RecordTTL\";s:11:\"description\";s:532:\"<p>The
  amount of time, in seconds, that you want DNS resolvers to cache the settings for
  this record.</p> <note> <p>Alias records don't include a TTL because Route 53 uses
  the TTL for the AWS resource that an alias record routes traffic to. If you include
  the <code>AWS_ALIAS_DNS_NAME</code> attribute when you submit a <a>RegisterInstance</a>
  request, the <code>TTL</code> value is ignored. Always specify a TTL for the service;
  you can use a service to register instances that create either alias or non-alias
  records.</p> </note>\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RecordType\";s:11:\"description\";s:3387:\"<p>The
  type of the resource, which indicates the type of value that Route 53 returns in
  response to DNS queries.</p> <p>Note the following:</p> <ul> <li> <p> <b>A, AAAA,
  and SRV records: You can specify settings for a maximum of one A, one AAAA, and
  one SRV record. You can specify them in any combination.</b> </p> </li> <li> <p>
  <b>CNAME records:</b> If you specify <code>CNAME</code> for <code>Type</code>, you
  can't define any other records. This is a limitation of DNS\u2014you can't create
  a CNAME record and any other type of record that has the same name as a CNAME record.</p>
  </li> <li> <p> <b>Alias records:</b> If you want Route 53 to create an alias record
  when you register an instance, specify <code>A</code> or <code>AAAA</code> for <code>Type</code>.</p>
  </li> <li> <p> <b>All records:</b> You specify settings other than <code>TTL</code>
  and <code>Type</code> when you register an instance.</p> </li> </ul> <p>The following
  values are supported:</p> <p> <b>A</b> </p> <p>Route 53 returns the IP address of
  the resource in IPv4 format, such as 192.0.2.44.</p> <p> <b>AAAA</b> </p> <p>Route
  53 returns the IP address of the resource in IPv6 format, such as 2001:0db8:85a3:0000:0000:abcd:0001:2345.</p>
  <p> <b>CNAME</b> </p> <p>Route 53 returns the domain name of the resource, such
  as www.example.com. Note the following:</p> <ul> <li> <p>You specify the domain
  name that you want to route traffic to when you register an instance. For more information,
  see <a>RegisterInstanceRequest$Attributes</a>.</p> </li> <li> <p>You must specify
  <code>WEIGHTED</code> for the value of <code>RoutingPolicy</code>.</p> </li> <li>
  <p>You can't specify both <code>CNAME</code> for <code>Type</code> and settings
  for <code>HealthCheckConfig</code>. If you do, the request will fail with an <code>InvalidInput</code>
  error.</p> </li> </ul> <p> <b>SRV</b> </p> <p>Route 53 returns the value for an
  SRV record. The value for an SRV record uses the following values:</p> <p> <code>priority
  weight port service-hostname</code> </p> <p>Note the following about the values:</p>
  <ul> <li> <p>The values of <code>priority</code> and <code>weight</code> are both
  set to <code>1</code> and can't be changed. </p> </li> <li> <p>The value of <code>port</code>
  comes from the value that you specify for the <code>AWS_INSTANCE_PORT</code> attribute
  when you submit a <a>RegisterInstance</a> request. </p> </li> <li> <p>The value
  of <code>service-hostname</code> is a concatenation of the following values:</p>
  <ul> <li> <p>The value that you specify for <code>InstanceId</code> when you register
  an instance.</p> </li> <li> <p>The name of the service.</p> </li> <li> <p>The name
  of the namespace. </p> </li> </ul> <p>For example, if the value of <code>InstanceId</code>
  is <code>test</code>, the name of the service is <code>backend</code>, and the name
  of the namespace is <code>example.com</code>, the value of <code>service-hostname</code>
  is:</p> <p> <code>test.backend.example.com</code> </p> </li> </ul> <p>If you specify
  settings for an SRV record and if you specify values for <code>AWS_INSTANCE_IPV4</code>,
  <code>AWS_INSTANCE_IPV6</code>, or both in the <code>RegisterInstance</code> request,
  Route 53 automatically creates <code>A</code> and/or <code>AAAA</code> records that
  have the same name as the value of <code>service-hostname</code> in the SRV record.
  You can ignore these records.</p>\";}}s:8:\"required\";a:2:{i:0;s:4:\"Type\";i:1;s:3:\"TTL\";}s:4:\"type\";s:6:\"object\";}s:13:\"DnsRecordList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DnsRecord\";}s:4:\"type\";s:5:\"array\";}s:16:\"DuplicateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  operation is already in progress.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"FailureThreshold\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:15:\"FilterCondition\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:2:\"EQ\";i:1;s:2:\"IN\";i:2;s:7:\"BETWEEN\";}s:4:\"type\";s:6:\"string\";}s:11:\"FilterValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"FilterValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FilterValue\";}s:4:\"type\";s:5:\"array\";}s:18:\"GetInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:62:\"The
  ID of the instance that you want to get information about.\";}s:9:\"ServiceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:59:\"The
  ID of the service that the instance is associated with.\";}}s:8:\"required\";a:2:{i:0;s:9:\"ServiceId\";i:1;s:10:\"InstanceId\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetInstanceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Instance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";s:11:\"description\";s:68:\"A
  complex type that contains information about a specified instance.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GetInstancesHealthStatusRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Instances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InstanceIdList\";s:11:\"description\";s:404:\"<p>An
  array that contains the IDs of all the instances that you want to get the health
  status for.</p> <p>If you omit <code>Instances</code>, Amazon Route 53 returns the
  health status for all the instances that are associated with the specified service.</p>
  <note> <p>To get the IDs for the instances that you've registered by using a specified
  service, submit a <a>ListInstances</a> request.</p> </note>\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:228:\"The
  maximum number of instances that you want Route 53 to return in the response to
  a <code>GetInstancesHealthStatus</code> request. If you don't specify a value for
  <code>MaxResults</code>, Route 53 returns up to 100 instances.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:363:\"<p>For
  the first <code>GetInstancesHealthStatus</code> request, omit this value.</p> <p>If
  more than <code>MaxResults</code> instances match the specified criteria, you can
  submit another <code>GetInstancesHealthStatus</code> request to get the next group
  of results. Specify the value of <code>NextToken</code> from the previous response
  in the next request.</p>\";}s:9:\"ServiceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:59:\"The
  ID of the service that the instance is associated with.\";}}s:8:\"required\";a:1:{i:0;s:9:\"ServiceId\";}s:4:\"type\";s:6:\"object\";}s:32:\"GetInstancesHealthStatusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:271:\"If
  more than <code>MaxResults</code> instances match the specified criteria, you can
  submit another <code>GetInstancesHealthStatus</code> request to get the next group
  of results. Specify the value of <code>NextToken</code> from the previous response
  in the next request.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/InstanceHealthStatusMap\";s:11:\"description\";s:148:\"A
  complex type that contains the IDs and the health status of the instances that you
  specified in the <code>GetInstancesHealthStatus</code> request.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetNamespaceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:63:\"The
  ID of the namespace that you want to get information about.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:20:\"GetNamespaceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";s:11:\"description\";s:71:\"A
  complex type that contains information about the specified namespace.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetOperationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:68:\"The
  ID of the operation that you want to get more information about.\";}}s:8:\"required\";a:1:{i:0;s:11:\"OperationId\";}s:4:\"type\";s:6:\"object\";}s:20:\"GetOperationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:61:\"A
  complex type that contains information about the operation.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetServiceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:56:\"The
  ID of the service that you want to get settings for.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:18:\"GetServiceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Service\";s:11:\"description\";s:59:\"A
  complex type that contains information about the service.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"HealthCheckConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:2820:\"<p>
  <i>Public DNS namespaces only.</i> A complex type that contains settings for an
  optional health check. If you specify settings for a health check, Amazon Route
  53 associates the health check with all the records that you specify in <code>DnsConfig</code>.</p>
  <p> <b>A and AAAA records</b> </p> <p>If <code>DnsConfig</code> includes configurations
  for both A and AAAA records, Route 53 creates a health check that uses the IPv4
  address to check the health of the resource. If the endpoint that is specified by
  the IPv4 address is unhealthy, Route 53 considers both the A and AAAA records to
  be unhealthy. </p> <p> <b>CNAME records</b> </p> <p>You can't specify settings for
  <code>HealthCheckConfig</code> when the <code>DNSConfig</code> includes <code>CNAME</code>
  for the value of <code>Type</code>. If you do, the <code>CreateService</code> request
  will fail with an <code>InvalidInput</code> error.</p> <p> <b>Request interval</b>
  </p> <p>The health check uses 30 seconds as the request interval. This is the number
  of seconds between the time that each Route 53 health checker gets a response from
  your endpoint and the time that it sends the next health check request. A health
  checker in each data center around the world sends your endpoint a health check
  request every 30 seconds. On average, your endpoint receives a health check request
  about every two seconds. Health checkers in different data centers don't coordinate
  with one another, so you'll sometimes see several requests per second followed by
  a few seconds with no health checks at all.</p> <p> <b>Health checking regions</b>
  </p> <p>Health checkers perform checks from all Route 53 health-checking regions.
  For a list of the current regions, see <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/API_HealthCheckConfig.html#Route53-Type-HealthCheckConfig-Regions\">Regions</a>.</p>
  <p> <b>Alias records</b> </p> <p>When you register an instance, if you include the
  <code>AWS_ALIAS_DNS_NAME</code> attribute, Route 53 creates an alias record. Note
  the following:</p> <ul> <li> <p>Route 53 automatically sets <code>EvaluateTargetHealth</code>
  to true for alias records. When <code>EvaluateTargetHealth</code> is true, the alias
  record inherits the health of the referenced AWS resource. such as an ELB load balancer.
  For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html#Route53-Type-AliasTarget-EvaluateTargetHealth\">EvaluateTargetHealth</a>.</p>
  </li> <li> <p>If you include <code>HealthCheckConfig</code> and then use the service
  to register an instance that creates an alias record, Route 53 doesn't create the
  health check.</p> </li> </ul> <p>For information about the charges for health checks,
  see <a href=\"http://aws.amazon.com/route53/pricing\">Route 53 Pricing</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"FailureThreshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FailureThreshold\";s:11:\"description\";s:415:\"The
  number of consecutive health checks that an endpoint must pass or fail for Route
  53 to change the current status of the endpoint from unhealthy to healthy or vice
  versa. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How
  Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Route 53 Developer
  Guide</i>.\";}s:12:\"ResourcePath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourcePath\";s:11:\"description\";s:376:\"The
  path that you want Route 53 to request when performing health checks. The path can
  be any value for which your endpoint will return an HTTP status code of 2xx or 3xx
  when the endpoint is healthy, such as the file <code>/docs/route53-health-check.html</code>.
  Route 53 automatically adds the DNS name for the service and a leading forward slash
  (<code>/</code>) character. \";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HealthCheckType\";s:11:\"description\";s:1168:\"<p>The
  type of health check that you want to create, which indicates how Route 53 determines
  whether an endpoint is healthy.</p> <important> <p>You can't change the value of
  <code>Type</code> after you create a health check.</p> </important> <p>You can create
  the following types of health checks:</p> <ul> <li> <p> <b>HTTP</b>: Route 53 tries
  to establish a TCP connection. If successful, Route 53 submits an HTTP request and
  waits for an HTTP status code of 200 or greater and less than 400.</p> </li> <li>
  <p> <b>HTTPS</b>: Route 53 tries to establish a TCP connection. If successful, Route
  53 submits an HTTPS request and waits for an HTTP status code of 200 or greater
  and less than 400.</p> <important> <p>If you specify HTTPS for the value of <code>Type</code>,
  the endpoint must support TLS v1.0 or later.</p> </important> </li> <li> <p> <b>TCP</b>:
  Route 53 tries to establish a TCP connection.</p> </li> </ul> <p>For more information,
  see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How
  Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Route 53 Developer
  Guide</i>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:23:\"HealthCheckCustomConfig\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"FailureThreshold\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FailureThreshold\";}}s:4:\"type\";s:6:\"object\";}s:15:\"HealthCheckType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"HTTP\";i:1;s:5:\"HTTPS\";i:2;s:3:\"TCP\";}s:4:\"type\";s:6:\"string\";}s:12:\"HealthStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"HEALTHY\";i:1;s:9:\"UNHEALTHY\";i:2;s:7:\"UNKNOWN\";}s:4:\"type\";s:6:\"string\";}s:8:\"Instance\";O:8:\"stdClass\":4:{s:11:\"description\";s:144:\"A
  complex type that contains information about an instance that Amazon Route 53 creates
  when you submit a <code>RegisterInstance</code> request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:3343:\"<p>A
  string map that contains the following information for the service that you specify
  in <code>ServiceId</code>:</p> <ul> <li> <p>The attributes that apply to the records
  that are defined in the service. </p> </li> <li> <p>For each attribute, the applicable
  value.</p> </li> </ul> <p>Supported attribute keys include the following:</p> <p>
  <b>AWS_ALIAS_DNS_NAME</b> </p> <p> <b/> </p> <p>If you want Route 53 to create an
  alias record that routes traffic to an Elastic Load Balancing load balancer, specify
  the DNS name that is associated with the load balancer. For information about how
  to get the DNS name, see \"DNSName\" in the topic <a href=\"http://docs.aws.amazon.com/http:/docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html\">AliasTarget</a>.</p>
  <p>Note the following:</p> <ul> <li> <p>The configuration for the service that is
  specified by <code>ServiceId</code> must include settings for an A record, an AAAA
  record, or both.</p> </li> <li> <p>In the service that is specified by <code>ServiceId</code>,
  the value of <code>RoutingPolicy</code> must be <code>WEIGHTED</code>.</p> </li>
  <li> <p>If the service that is specified by <code>ServiceId</code> includes <code>HealthCheckConfig</code>
  settings, Route 53 will create the health check, but it won't associate the health
  check with the alias record.</p> </li> <li> <p>Auto naming currently doesn't support
  creating alias records that route traffic to AWS resources other than ELB load balancers.</p>
  </li> <li> <p>If you specify a value for <code>AWS_ALIAS_DNS_NAME</code>, don't
  specify values for any of the <code>AWS_INSTANCE</code> attributes.</p> </li> </ul>
  <p> <b>AWS_INSTANCE_CNAME</b> </p> <p>If the service configuration includes a CNAME
  record, the domain name that you want Route 53 to return in response to DNS queries,
  for example, <code>example.com</code>.</p> <p>This value is required if the service
  specified by <code>ServiceId</code> includes settings for an CNAME record.</p> <p>
  <b>AWS_INSTANCE_IPV4</b> </p> <p>If the service configuration includes an A record,
  the IPv4 address that you want Route 53 to return in response to DNS queries, for
  example, <code>192.0.2.44</code>.</p> <p>This value is required if the service specified
  by <code>ServiceId</code> includes settings for an A record. If the service includes
  settings for an SRV record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>,
  <code>AWS_INSTANCE_IPV6</code>, or both.</p> <p> <b>AWS_INSTANCE_IPV6</b> </p> <p>If
  the service configuration includes an AAAA record, the IPv6 address that you want
  Route 53 to return in response to DNS queries, for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.</p>
  <p>This value is required if the service specified by <code>ServiceId</code> includes
  settings for an AAAA record. If the service includes settings for an SRV record,
  you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>,
  or both.</p> <p> <b>AWS_INSTANCE_PORT</b> </p> <p>If the service includes an SRV
  record, the value that you want Route 53 to return for the port.</p> <p>If the service
  includes <code>HealthCheckConfig</code>, the port on the endpoint that you want
  Route 53 to send requests to. </p> <p>This value is required if you specified settings
  for an SRV record when you created the service.</p>\";}s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:458:\"A
  unique string that identifies the request and that allows failed <code>RegisterInstance</code>
  requests to be retried without the risk of executing the operation twice. You must
  use a unique <code>CreatorRequestId</code> string every time you submit a <code>RegisterInstance</code>
  request if you're registering additional instances for the same namespace and service.
  <code>CreatorRequestId</code> can be any unique string, for example, a date/time
  stamp.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:995:\"<p>An
  identifier that you want to associate with the instance. Note the following:</p>
  <ul> <li> <p>If the service that is specified by <code>ServiceId</code> includes
  settings for an SRV record, the value of <code>InstanceId</code> is automatically
  included as part of the value for the SRV record. For more information, see <a>DnsRecord$Type</a>.</p>
  </li> <li> <p>You can use this value to update an existing instance.</p> </li> <li>
  <p>To register a new instance, you must specify a value that is unique among instances
  that you register by using the same service. </p> </li> <li> <p>If you specify an
  existing <code>InstanceId</code> and <code>ServiceId</code>, Route 53 updates the
  existing records. If there's also an existing health check, Route 53 deletes the
  old health check and creates a new one. </p> <note> <p>The health check isn't deleted
  immediately, so it will still appear for a while if you submit a <code>ListHealthChecks</code>
  request, for example.</p> </note> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:23:\"InstanceHealthStatusMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/HealthStatus\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:14:\"InstanceIdList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:16:\"InstanceNotFound\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"No
  instance exists with the specified ID, or the instance was recently registered,
  and information about the instance hasn't propagated yet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:15:\"InstanceSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"A
  complex type that contains information about the instances that you registered by
  using a specified service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:1260:\"<p>A
  string map that contains the following information:</p> <ul> <li> <p>The attributes
  that are associate with the instance. </p> </li> <li> <p>For each attribute, the
  applicable value.</p> </li> </ul> <p>Supported attribute keys include the following:</p>
  <ul> <li> <p> <code>AWS_ALIAS_DNS_NAME</code>: For an alias record that routes traffic
  to an Elastic Load Balancing load balancer, the DNS name that is associated with
  the load balancer. </p> </li> <li> <p> <code>AWS_INSTANCE_CNAME</code>: For a CNAME
  record, the domain name that Route 53 returns in response to DNS queries, for example,
  <code>example.com</code>.</p> </li> <li> <p> <code>AWS_INSTANCE_IPV4</code>: For
  an A record, the IPv4 address that Route 53 returns in response to DNS queries,
  for example, <code>192.0.2.44</code>.</p> </li> <li> <p> <code>AWS_INSTANCE_IPV6</code>:
  For an AAAA record, the IPv6 address that Route 53 returns in response to DNS queries,
  for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.</p> </li> <li>
  <p> <code>AWS_INSTANCE_PORT</code>: For an SRV record, the value that Route 53 returns
  for the port. In addition, if the service includes <code>HealthCheckConfig</code>,
  the port on the endpoint that Route 53 sends requests to.</p> </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:69:\"The
  ID for an instance that you created by using a specified service.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InstanceSummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InstanceSummary\";}s:4:\"type\";s:5:\"array\";}s:12:\"InvalidInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"One
  or more specified values aren't valid. For example, when you're creating a namespace,
  the value of <code>Name</code> might not be a valid DNS name.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListInstancesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:224:\"The
  maximum number of instances that you want Amazon Route 53 to return in the response
  to a <code>ListInstances</code> request. If you don't specify a value for <code>MaxResults</code>,
  Route 53 returns up to 100 instances.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:341:\"<p>For
  the first <code>ListInstances</code> request, omit this value.</p> <p>If more than
  <code>MaxResults</code> instances match the specified criteria, you can submit another
  <code>ListInstances</code> request to get the next group of results. Specify the
  value of <code>NextToken</code> from the previous response in the next request.</p>\";}s:9:\"ServiceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:58:\"The
  ID of the service that you want to list instances for.\";}}s:8:\"required\";a:1:{i:0;s:9:\"ServiceId\";}s:4:\"type\";s:6:\"object\";}s:21:\"ListInstancesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Instances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InstanceSummaryList\";s:11:\"description\";s:87:\"Summary
  information about the instances that are associated with the specified service.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:260:\"If
  more than <code>MaxResults</code> instances match the specified criteria, you can
  submit another <code>ListInstances</code> request to get the next group of results.
  Specify the value of <code>NextToken</code> from the previous response in the next
  request.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListNamespacesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/NamespaceFilters\";s:11:\"description\";s:218:\"<p>A
  complex type that contains specifications for the namespaces that you want to list.</p>
  <p>If you specify more than one filter, a namespace must match all filters to be
  returned by <code>ListNamespaces</code>.</p>\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:227:\"The
  maximum number of namespaces that you want Amazon Route 53 to return in the response
  to a <code>ListNamespaces</code> request. If you don't specify a value for <code>MaxResults</code>,
  Route 53 returns up to 100 namespaces.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:657:\"<p>For
  the first <code>ListNamespaces</code> request, omit this value.</p> <p>If the response
  contains <code>NextToken</code>, submit another <code>ListNamespaces</code> request
  to get the next group of results. Specify the value of <code>NextToken</code> from
  the previous response in the next request.</p> <note> <p>Route 53 gets <code>MaxResults</code>
  namespaces and then filters them based on the specified criteria. It's possible
  that no namespaces in the first <code>MaxResults</code> namespaces matched the specified
  criteria but that subsequent groups of <code>MaxResults</code> namespaces do contain
  namespaces that match the criteria.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListNamespacesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Namespaces\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/NamespaceSummariesList\";s:11:\"description\";s:126:\"An
  array that contains one <code>NamespaceSummary</code> object for each namespace
  that matches the specified filter criteria.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:582:\"<p>If
  the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code>
  request to get the next group of results. Specify the value of <code>NextToken</code>
  from the previous response in the next request.</p> <note> <p>Route 53 gets <code>MaxResults</code>
  namespaces and then filters them based on the specified criteria. It's possible
  that no namespaces in the first <code>MaxResults</code> namespaces matched the specified
  criteria but that subsequent groups of <code>MaxResults</code> namespaces do contain
  namespaces that match the criteria.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListOperationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OperationFilters\";s:11:\"description\";s:305:\"<p>A
  complex type that contains specifications for the operations that you want to list,
  for example, operations that you started between a specified start date and end
  date.</p> <p>If you specify more than one filter, an operation must match all filters
  to be returned by <code>ListOperations</code>.</p>\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:222:\"The
  maximum number of items that you want Amazon Route 53 to return in the response
  to a <code>ListOperations</code> request. If you don't specify a value for <code>MaxResults</code>,
  Route 53 returns up to 100 operations.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:657:\"<p>For
  the first <code>ListOperations</code> request, omit this value.</p> <p>If the response
  contains <code>NextToken</code>, submit another <code>ListOperations</code> request
  to get the next group of results. Specify the value of <code>NextToken</code> from
  the previous response in the next request.</p> <note> <p>Route 53 gets <code>MaxResults</code>
  operations and then filters them based on the specified criteria. It's possible
  that no operations in the first <code>MaxResults</code> operations matched the specified
  criteria but that subsequent groups of <code>MaxResults</code> operations do contain
  operations that match the criteria.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:582:\"<p>If
  the response contains <code>NextToken</code>, submit another <code>ListOperations</code>
  request to get the next group of results. Specify the value of <code>NextToken</code>
  from the previous response in the next request.</p> <note> <p>Route 53 gets <code>MaxResults</code>
  operations and then filters them based on the specified criteria. It's possible
  that no operations in the first <code>MaxResults</code> operations matched the specified
  criteria but that subsequent groups of <code>MaxResults</code> operations do contain
  operations that match the criteria.</p> </note>\";}s:10:\"Operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OperationSummaryList\";s:11:\"description\";s:75:\"Summary
  information about the operations that match the specified criteria.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListServicesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ServiceFilters\";s:11:\"description\";s:231:\"<p>A
  complex type that contains specifications for the namespaces that you want to list
  services for. </p> <p>If you specify more than one filter, an operation must match
  all filters to be returned by <code>ListServices</code>.</p>\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:221:\"The
  maximum number of services that you want Amazon Route 53 to return in the response
  to a <code>ListServices</code> request. If you don't specify a value for <code>MaxResults</code>,
  Route 53 returns up to 100 services.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:643:\"<p>For
  the first <code>ListServices</code> request, omit this value.</p> <p>If the response
  contains <code>NextToken</code>, submit another <code>ListServices</code> request
  to get the next group of results. Specify the value of <code>NextToken</code> from
  the previous response in the next request.</p> <note> <p>Route 53 gets <code>MaxResults</code>
  services and then filters them based on the specified criteria. It's possible that
  no services in the first <code>MaxResults</code> services matched the specified
  criteria but that subsequent groups of <code>MaxResults</code> services do contain
  services that match the criteria.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListServicesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:570:\"<p>If
  the response contains <code>NextToken</code>, submit another <code>ListServices</code>
  request to get the next group of results. Specify the value of <code>NextToken</code>
  from the previous response in the next request.</p> <note> <p>Route 53 gets <code>MaxResults</code>
  services and then filters them based on the specified criteria. It's possible that
  no services in the first <code>MaxResults</code> services matched the specified
  criteria but that subsequent groups of <code>MaxResults</code> services do contain
  services that match the criteria.</p> </note>\";}s:8:\"Services\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ServiceSummariesList\";s:11:\"description\";s:122:\"An
  array that contains one <code>ServiceSummary</code> object for each service that
  matches the specified filter criteria.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Namespace\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  complex type that contains information about a specified namespace.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:89:\"The
  Amazon Resource Name (ARN) that Route 53 assigns to the namespace when you create
  it.\";}s:10:\"CreateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:273:\"The
  date that the namespace was created, in Unix date/time format and Coordinated Universal
  Time (UTC). The value of <code>CreateDate</code> is accurate to milliseconds. For
  example, the value <code>1516925490.087</code> represents Friday, January 26, 2018
  12:11:30.087 AM.\";}s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:140:\"A
  unique string that identifies the request and that allows failed requests to be
  retried without the risk of executing an operation twice. \";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ResourceDescription\";s:11:\"description\";s:70:\"The
  description that you specify for the namespace when you create it.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:22:\"The
  ID of a namespace.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NamespaceName\";s:11:\"description\";s:60:\"The
  name of the namespace, such as <code>example.com</code>.\";}s:10:\"Properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NamespaceProperties\";s:11:\"description\";s:86:\"A
  complex type that contains information that's specific to the type of the namespace.\";}s:12:\"ServiceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceCount\";s:11:\"description\";s:62:\"The
  number of services that are associated with the namespace.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NamespaceType\";s:11:\"description\";s:97:\"The
  type of the namespace. Valid values are <code>DNS_PUBLIC</code> and <code>DNS_PRIVATE</code>.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"NamespaceAlreadyExists\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  namespace that you're trying to create already exists.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:72:\"The
  <code>CreatorRequestId</code> that was used to create the namespace.\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}s:11:\"NamespaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:33:\"The
  ID of the existing namespace.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"NamespaceFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"A
  complex type that identifies the namespaces that you want to list. You can choose
  to list public or private namespaces.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FilterCondition\";s:11:\"description\";s:618:\"<p>The
  operator that you want to use to determine whether <code>ListNamespaces</code> returns
  a namespace. Valid values for <code>condition</code> include:</p> <ul> <li> <p>
  <code>EQ</code>: When you specify <code>EQ</code> for the condition, you can choose
  to list only public namespaces or private namespaces, but not both. <code>EQ</code>
  is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>:
  When you specify <code>IN</code> for the condition, you can choose to list public
  namespaces, private namespaces, or both. </p> </li> <li> <p> <code>BETWEEN</code>:
  Not applicable</p> </li> </ul>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NamespaceFilterName\";s:11:\"description\";s:26:\"Specify
  <code>TYPE</code>.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FilterValues\";s:11:\"description\";s:275:\"<p>If
  you specify <code>EQ</code> for <code>Condition</code>, specify either <code>DNS_PUBLIC</code>
  or <code>DNS_PRIVATE</code>.</p> <p>If you specify <code>IN</code> for <code>Condition</code>,
  you can specify <code>DNS_PUBLIC</code>, <code>DNS_PRIVATE</code>, or both.</p>\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:6:\"Values\";}s:4:\"type\";s:6:\"object\";}s:19:\"NamespaceFilterName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:4:\"TYPE\";}s:4:\"type\";s:6:\"string\";}s:16:\"NamespaceFilters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/NamespaceFilter\";}s:4:\"type\";s:5:\"array\";}s:13:\"NamespaceName\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:1024;s:4:\"type\";s:6:\"string\";}s:17:\"NamespaceNotFound\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"No
  namespace exists with the specified ID.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:19:\"NamespaceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"A
  complex type that contains information that is specific to the namespace type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"DnsProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DnsProperties\";s:11:\"description\";s:106:\"A
  complex type that contains the ID for the hosted zone that Route 53 creates when
  you create a namespace.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"NamespaceSummariesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NamespaceSummary\";}s:4:\"type\";s:5:\"array\";}s:16:\"NamespaceSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  complex type that contains information about a namespace.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:89:\"The
  Amazon Resource Name (ARN) that Route 53 assigns to the namespace when you create
  it.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:24:\"The
  ID of the namespace.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NamespaceName\";s:11:\"description\";s:141:\"The
  name of the namespace. When you create a namespace, Route 53 automatically creates
  a hosted zone that has the same name as the namespace.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NamespaceType\";s:11:\"description\";s:52:\"The
  type of the namespace, either public or private.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"NamespaceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:10:\"DNS_PUBLIC\";i:1;s:11:\"DNS_PRIVATE\";}s:4:\"type\";s:6:\"string\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:4096;s:4:\"type\";s:6:\"string\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  complex type that contains information about a specified operation.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"CreateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:282:\"The
  date and time that the request was submitted, in Unix date/time format and Coordinated
  Universal Time (UTC). The value of <code>CreateDate</code> is accurate to milliseconds.
  For example, the value <code>1516925490.087</code> represents Friday, January 26,
  2018 12:11:30.087 AM.\";}s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Code\";s:11:\"description\";s:489:\"<p>The
  code associated with <code>ErrorMessage</code>. Values for <code>ErrorCode</code>
  include the following:</p> <ul> <li> <p> <code>ACCESS_DENIED</code> </p> </li> <li>
  <p> <code>CANNOT_CREATE_HOSTED_ZONE</code> </p> </li> <li> <p> <code>EXPIRED_TOKEN</code>
  </p> </li> <li> <p> <code>HOSTED_ZONE_NOT_FOUND</code> </p> </li> <li> <p> <code>INTERNAL_FAILURE</code>
  </p> </li> <li> <p> <code>INVALID_CHANGE_BATCH</code> </p> </li> <li> <p> <code>THROTTLED_REQUEST</code>
  </p> </li> </ul>\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:95:\"If
  the value of <code>Status</code> is <code>FAIL</code>, the reason that the operation
  failed.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OperationId\";s:11:\"description\";s:63:\"The
  ID of the operation that you want to get information about.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/OperationStatus\";s:11:\"description\";s:421:\"<p>The
  status of the operation. Values include the following:</p> <ul> <li> <p> <b>SUBMITTED</b>:
  This is the initial state immediately after you submit a request.</p> </li> <li>
  <p> <b>PENDING</b>: Route 53 is performing the operation.</p> </li> <li> <p> <b>SUCCESS</b>:
  The operation succeeded.</p> </li> <li> <p> <b>FAIL</b>: The operation failed. For
  the failure reason, see <code>ErrorMessage</code>.</p> </li> </ul>\";}s:7:\"Targets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/OperationTargetsMap\";s:11:\"description\";s:401:\"<p>The
  name of the target entity that is associated with the operation:</p> <ul> <li> <p>
  <b>NAMESPACE</b>: The namespace ID is returned in the <code>ResourceId</code> property.</p>
  </li> <li> <p> <b>SERVICE</b>: The service ID is returned in the <code>ResourceId</code>
  property.</p> </li> <li> <p> <b>INSTANCE</b>: The instance ID is returned in the
  <code>ResourceId</code> property.</p> </li> </ul>\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationType\";s:11:\"description\";s:67:\"The
  name of the operation that is associated with the specified ID.\";}s:10:\"UpdateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:318:\"The
  date and time that the value of <code>Status</code> changed to the current value,
  in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>UpdateDate</code>
  is accurate to milliseconds. For example, the value <code>1516925490.087</code>
  represents Friday, January 26, 2018 12:11:30.087 AM.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OperationFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"A
  complex type that lets you select the operations that you want to list.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FilterCondition\";s:11:\"description\";s:1000:\"<p>The
  operator that you want to use to determine whether an operation matches the specified
  value. Valid values for condition include:</p> <ul> <li> <p> <code>EQ</code>: When
  you specify <code>EQ</code> for the condition, you can specify only one value. <code>EQ</code>
  is supported for <code>NAMESPACE_ID</code>, <code>SERVICE_ID</code>, <code>STATUS</code>,
  and <code>TYPE</code>. <code>EQ</code> is the default condition and can be omitted.</p>
  </li> <li> <p> <code>IN</code>: When you specify <code>IN</code> for the condition,
  you can specify a list of one or more values. <code>IN</code> is supported for <code>STATUS</code>
  and <code>TYPE</code>. An operation must match one of the specified values to be
  returned in the response.</p> </li> <li> <p> <code>BETWEEN</code>: Specify a start
  date and an end date in Unix date/time format and Coordinated Universal Time (UTC).
  The start date must be the first value. <code>BETWEEN</code> is supported for <code>UPDATE_DATE</code>.
  </p> </li> </ul>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/OperationFilterName\";s:11:\"description\";s:594:\"<p>Specify
  the operations that you want to get:</p> <ul> <li> <p> <b>NAMESPACE_ID</b>: Gets
  operations related to specified namespaces.</p> </li> <li> <p> <b>SERVICE_ID</b>:
  Gets operations related to specified services.</p> </li> <li> <p> <b>STATUS</b>:
  Gets operations based on the status of the operations: <code>SUBMITTED</code>, <code>PENDING</code>,
  <code>SUCCEED</code>, or <code>FAIL</code>.</p> </li> <li> <p> <b>TYPE</b>: Gets
  specified types of operation.</p> </li> <li> <p> <b>UPDATE_DATE</b>: Gets operations
  that changed status during a specified date/time range. </p> </li> </ul>\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FilterValues\";s:11:\"description\";s:803:\"<p>Specify
  values that are applicable to the value that you specify for <code>Name</code>:
  </p> <ul> <li> <p> <b>NAMESPACE_ID</b>: Specify one namespace ID.</p> </li> <li>
  <p> <b>SERVICE_ID</b>: Specify one service ID.</p> </li> <li> <p> <b>STATUS</b>:
  Specify one or more statuses: <code>SUBMITTED</code>, <code>PENDING</code>, <code>SUCCEED</code>,
  or <code>FAIL</code>.</p> </li> <li> <p> <b>TYPE</b>: Specify one or more of the
  following types: <code>CREATE_NAMESPACE</code>, <code>DELETE_NAMESPACE</code>, <code>UPDATE_SERVICE</code>,
  <code>REGISTER_INSTANCE</code>, or <code>DEREGISTER_INSTANCE</code>.</p> </li> <li>
  <p> <b>UPDATE_DATE</b>: Specify a start date and an end date in Unix date/time format
  and Coordinated Universal Time (UTC). The start date must be the first value.</p>
  </li> </ul>\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:6:\"Values\";}s:4:\"type\";s:6:\"object\";}s:19:\"OperationFilterName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:12:\"NAMESPACE_ID\";i:1;s:10:\"SERVICE_ID\";i:2;s:6:\"STATUS\";i:3;s:4:\"TYPE\";i:4;s:11:\"UPDATE_DATE\";}s:4:\"type\";s:6:\"string\";}s:16:\"OperationFilters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OperationFilter\";}s:4:\"type\";s:5:\"array\";}s:11:\"OperationId\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:17:\"OperationNotFound\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"No
  operation exists with the specified ID.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OperationStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:9:\"SUBMITTED\";i:1;s:7:\"PENDING\";i:2;s:7:\"SUCCESS\";i:3;s:4:\"FAIL\";}s:4:\"type\";s:6:\"string\";}s:16:\"OperationSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"A
  complex type that contains information about an operation that matches the criteria
  that you specified in a <a>ListOperations</a> request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OperationId\";s:11:\"description\";s:24:\"The
  ID for an operation.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/OperationStatus\";s:11:\"description\";s:421:\"<p>The
  status of the operation. Values include the following:</p> <ul> <li> <p> <b>SUBMITTED</b>:
  This is the initial state immediately after you submit a request.</p> </li> <li>
  <p> <b>PENDING</b>: Route 53 is performing the operation.</p> </li> <li> <p> <b>SUCCESS</b>:
  The operation succeeded.</p> </li> <li> <p> <b>FAIL</b>: The operation failed. For
  the failure reason, see <code>ErrorMessage</code>.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:20:\"OperationSummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OperationSummary\";}s:4:\"type\";s:5:\"array\";}s:19:\"OperationTargetType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"NAMESPACE\";i:1;s:7:\"SERVICE\";i:2;s:8:\"INSTANCE\";}s:4:\"type\";s:6:\"string\";}s:19:\"OperationTargetsMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OperationTargetType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"OperationType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:16:\"CREATE_NAMESPACE\";i:1;s:16:\"DELETE_NAMESPACE\";i:2;s:14:\"UPDATE_SERVICE\";i:3;s:17:\"REGISTER_INSTANCE\";i:4;s:19:\"DEREGISTER_INSTANCE\";}s:4:\"type\";s:6:\"string\";}s:9:\"RecordTTL\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:10:\"RecordType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:3:\"SRV\";i:1;s:1:\"A\";i:2;s:4:\"AAAA\";i:3;s:5:\"CNAME\";}s:4:\"type\";s:6:\"string\";}s:23:\"RegisterInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:3343:\"<p>A
  string map that contains the following information for the service that you specify
  in <code>ServiceId</code>:</p> <ul> <li> <p>The attributes that apply to the records
  that are defined in the service. </p> </li> <li> <p>For each attribute, the applicable
  value.</p> </li> </ul> <p>Supported attribute keys include the following:</p> <p>
  <b>AWS_ALIAS_DNS_NAME</b> </p> <p> <b/> </p> <p>If you want Route 53 to create an
  alias record that routes traffic to an Elastic Load Balancing load balancer, specify
  the DNS name that is associated with the load balancer. For information about how
  to get the DNS name, see \"DNSName\" in the topic <a href=\"http://docs.aws.amazon.com/http:/docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html\">AliasTarget</a>.</p>
  <p>Note the following:</p> <ul> <li> <p>The configuration for the service that is
  specified by <code>ServiceId</code> must include settings for an A record, an AAAA
  record, or both.</p> </li> <li> <p>In the service that is specified by <code>ServiceId</code>,
  the value of <code>RoutingPolicy</code> must be <code>WEIGHTED</code>.</p> </li>
  <li> <p>If the service that is specified by <code>ServiceId</code> includes <code>HealthCheckConfig</code>
  settings, Route 53 will create the health check, but it won't associate the health
  check with the alias record.</p> </li> <li> <p>Auto naming currently doesn't support
  creating alias records that route traffic to AWS resources other than ELB load balancers.</p>
  </li> <li> <p>If you specify a value for <code>AWS_ALIAS_DNS_NAME</code>, don't
  specify values for any of the <code>AWS_INSTANCE</code> attributes.</p> </li> </ul>
  <p> <b>AWS_INSTANCE_CNAME</b> </p> <p>If the service configuration includes a CNAME
  record, the domain name that you want Route 53 to return in response to DNS queries,
  for example, <code>example.com</code>.</p> <p>This value is required if the service
  specified by <code>ServiceId</code> includes settings for an CNAME record.</p> <p>
  <b>AWS_INSTANCE_IPV4</b> </p> <p>If the service configuration includes an A record,
  the IPv4 address that you want Route 53 to return in response to DNS queries, for
  example, <code>192.0.2.44</code>.</p> <p>This value is required if the service specified
  by <code>ServiceId</code> includes settings for an A record. If the service includes
  settings for an SRV record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>,
  <code>AWS_INSTANCE_IPV6</code>, or both.</p> <p> <b>AWS_INSTANCE_IPV6</b> </p> <p>If
  the service configuration includes an AAAA record, the IPv6 address that you want
  Route 53 to return in response to DNS queries, for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.</p>
  <p>This value is required if the service specified by <code>ServiceId</code> includes
  settings for an AAAA record. If the service includes settings for an SRV record,
  you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>,
  or both.</p> <p> <b>AWS_INSTANCE_PORT</b> </p> <p>If the service includes an SRV
  record, the value that you want Route 53 to return for the port.</p> <p>If the service
  includes <code>HealthCheckConfig</code>, the port on the endpoint that you want
  Route 53 to send requests to. </p> <p>This value is required if you specified settings
  for an SRV record when you created the service.</p>\";}s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:458:\"A
  unique string that identifies the request and that allows failed <code>RegisterInstance</code>
  requests to be retried without the risk of executing the operation twice. You must
  use a unique <code>CreatorRequestId</code> string every time you submit a <code>RegisterInstance</code>
  request if you're registering additional instances for the same namespace and service.
  <code>CreatorRequestId</code> can be any unique string, for example, a date/time
  stamp.\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:995:\"<p>An
  identifier that you want to associate with the instance. Note the following:</p>
  <ul> <li> <p>If the service that is specified by <code>ServiceId</code> includes
  settings for an SRV record, the value of <code>InstanceId</code> is automatically
  included as part of the value for the SRV record. For more information, see <a>DnsRecord$Type</a>.</p>
  </li> <li> <p>You can use this value to update an existing instance.</p> </li> <li>
  <p>To register a new instance, you must specify a value that is unique among instances
  that you register by using the same service. </p> </li> <li> <p>If you specify an
  existing <code>InstanceId</code> and <code>ServiceId</code>, Route 53 updates the
  existing records. If there's also an existing health check, Route 53 deletes the
  old health check and creates a new one. </p> <note> <p>The health check isn't deleted
  immediately, so it will still appear for a while if you submit a <code>ListHealthChecks</code>
  request, for example.</p> </note> </li> </ul>\";}s:9:\"ServiceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:115:\"The
  ID of the service that you want to use for settings for the records and health check
  that Route 53 will create.\";}}s:8:\"required\";a:3:{i:0;s:9:\"ServiceId\";i:1;s:10:\"InstanceId\";i:2;s:10:\"Attributes\";}s:4:\"type\";s:6:\"object\";}s:24:\"RegisterInstanceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OperationId\";s:11:\"description\";s:142:\"A
  value that you can use to determine whether the request completed successfully.
  To get the status of the operation, see <a>GetOperation</a>.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ResourceCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"ResourceDescription\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:1024;s:4:\"type\";s:6:\"string\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:64;s:4:\"type\";s:6:\"string\";}s:13:\"ResourceInUse\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  specified resource can't be deleted because it contains other resources. For example,
  you can't delete a service that contains any instances.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ResourceLimitExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  resource can't be created because you've reached the limit on the number of resources.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ResourcePath\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:13:\"RoutingPolicy\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:10:\"MULTIVALUE\";i:1;s:8:\"WEIGHTED\";}s:4:\"type\";s:6:\"string\";}s:7:\"Service\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  complex type that contains information about the specified service.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:87:\"The
  Amazon Resource Name (ARN) that Route 53 assigns to the service when you create
  it.\";}s:10:\"CreateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:270:\"The
  date and time that the service was created, in Unix format and Coordinated Universal
  Time (UTC). The value of <code>CreateDate</code> is accurate to milliseconds. For
  example, the value <code>1516925490.087</code> represents Friday, January 26, 2018
  12:11:30.087 AM.\";}s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:228:\"A
  unique string that identifies the request and that allows failed requests to be
  retried without the risk of executing the operation twice. <code>CreatorRequestId</code>
  can be any unique string, for example, a date/time stamp.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ResourceDescription\";s:11:\"description\";s:31:\"The
  description of the service.\";}s:9:\"DnsConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DnsConfig\";s:11:\"description\";s:122:\"A
  complex type that contains information about the records that you want Route 53
  to create when you register an instance.\";}s:17:\"HealthCheckConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/HealthCheckConfig\";s:11:\"description\";s:390:\"<p>
  <i>Public DNS namespaces only.</i> A complex type that contains settings for an
  optional health check. If you specify settings for a health check, Route 53 associates
  the health check with all the records that you specify in <code>DnsConfig</code>.</p>
  <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/route53/pricing\">Route
  53 Pricing</a>.</p>\";}s:23:\"HealthCheckCustomConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/HealthCheckCustomConfig\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:65:\"The
  ID that Route 53 assigned to the service when you created it.\";}s:13:\"InstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceCount\";s:11:\"description\";s:188:\"The
  number of instances that are currently associated with the service. Instances that
  were previously associated with the service but that have been deleted are not included
  in the count.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceName\";s:11:\"description\";s:24:\"The
  name of the service.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ServiceAlreadyExists\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  service can't be created because a service with the same name already exists.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:70:\"The
  <code>CreatorRequestId</code> that was used to create the service.\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}s:9:\"ServiceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:31:\"The
  ID of the existing service.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ServiceChange\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"A
  complex type that contains changes to an existing service.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ResourceDescription\";s:11:\"description\";s:30:\"A
  description for the service.\";}s:9:\"DnsConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DnsConfigChange\";s:11:\"description\";s:122:\"A
  complex type that contains information about the records that you want Route 53
  to create when you register an instance.\";}s:17:\"HealthCheckConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/HealthCheckConfig\";}}s:8:\"required\";a:1:{i:0;s:9:\"DnsConfig\";}s:4:\"type\";s:6:\"object\";}s:13:\"ServiceFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"A
  complex type that lets you specify the namespaces that you want to list services
  for.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FilterCondition\";s:11:\"description\";s:614:\"<p>The
  operator that you want to use to determine whether a service is returned by <code>ListServices</code>.
  Valid values for <code>Condition</code> include the following:</p> <ul> <li> <p>
  <code>EQ</code>: When you specify <code>EQ</code>, specify one namespace ID for
  <code>Values</code>. <code>EQ</code> is the default condition and can be omitted.</p>
  </li> <li> <p> <code>IN</code>: When you specify <code>IN</code>, specify a list
  of the IDs for the namespaces that you want <code>ListServices</code> to return
  a list of services for.</p> </li> <li> <p> <code>BETWEEN</code>: Not applicable.</p>
  </li> </ul>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ServiceFilterName\";s:11:\"description\";s:34:\"Specify
  <code>NAMESPACE_ID</code>.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FilterValues\";s:11:\"description\";s:119:\"The
  values that are applicable to the value that you specify for <code>Condition</code>
  to filter the list of services.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:6:\"Values\";}s:4:\"type\";s:6:\"object\";}s:17:\"ServiceFilterName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:12:\"NAMESPACE_ID\";}s:4:\"type\";s:6:\"string\";}s:14:\"ServiceFilters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ServiceFilter\";}s:4:\"type\";s:5:\"array\";}s:11:\"ServiceName\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:144:\"((?=^.{1,127}$)^([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9])(\\.([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9]))*$)|(^\\.$)\";s:4:\"type\";s:6:\"string\";}s:15:\"ServiceNotFound\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"No
  service exists with the specified ID.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ServiceSummariesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ServiceSummary\";}s:4:\"type\";s:5:\"array\";}s:14:\"ServiceSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  complex type that contains information about a specified service.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:87:\"The
  Amazon Resource Name (ARN) that Route 53 assigns to the service when you create
  it.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ResourceDescription\";s:11:\"description\";s:61:\"The
  description that you specify when you create the service.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:65:\"The
  ID that Route 53 assigned to the service when you created it.\";}s:13:\"InstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceCount\";s:11:\"description\";s:188:\"The
  number of instances that are currently associated with the service. Instances that
  were previously associated with the service but that have been deleted are not included
  in the count.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceName\";s:11:\"description\";s:24:\"The
  name of the service.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:39:\"UpdateInstanceCustomHealthStatusRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"InstanceId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";}s:9:\"ServiceId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CustomHealthStatus\";}}s:8:\"required\";a:3:{i:0;s:9:\"ServiceId\";i:1;s:10:\"InstanceId\";i:2;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:20:\"UpdateServiceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:46:\"The
  ID of the service that you want to update.\";}s:7:\"Service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ServiceChange\";s:11:\"description\";s:62:\"A
  complex type that contains the new settings for the service.\";}}s:8:\"required\";a:2:{i:0;s:2:\"Id\";i:1;s:7:\"Service\";}s:4:\"type\";s:6:\"object\";}s:21:\"UpdateServiceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OperationId\";s:11:\"description\";s:142:\"A
  value that you can use to determine whether the request completed successfully.
  To get the status of the operation, see <a>GetOperation</a>.\";}}s:4:\"type\";s:6:\"object\";}}"
...
