---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:225:\"This API allows
  you to receive a feed of jobs from WorkBC's Job Board. Please see our <a href=\"https://github.com/bcgov/api-specs/blob/master/COLLECTION_NOTICE.md#collection-notice\"
  target=\"_blank\">data collection notice</a>.\";s:5:\"title\";s:18:\"WorkBC Job
  Posting\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:86:\"https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_916280.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:83:\"https://raw.githubusercontent.com/bcgov/api-specs/master/jobposting/jobposting.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"gov.bc.ca\";s:13:\"x-serviceName\";s:10:\"jobposting\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"gov_bc_ca_jobposting\";s:4:\"type\";s:7:\"openapi\";}}"
host: workbcjobs.api.gov.bc.ca
basePath: /v1
paths:
  /Industries:
    get:
      description: The Industries endpoint returns all the Industries and related
        sub industriesndefined in WorkBC's Job Board. The response includes the id
        and caption forneach industry and each sub industry.n
      responses:
        200:
          description: An array of industries and sub industries
          schema:
            items:
              $ref: '#/definitions/Industry'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Industries
      tags:
      - Job Feed
      operationId: Industries.get
  /jobTypes:
    get:
      description: The Job Types endpoint returns details of all of thenjob types
        defined in WorkBC's Job Board. The response includes thenid and caption.n
      responses:
        200:
          description: An array of job types
          schema:
            items:
              $ref: '#/definitions/JobType'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Job Types
      tags:
      - Job Feed
      operationId: jobTypes.get
  /jobs:
    post:
      description: The job feed endpoint returns an array of job records that satisfy
        the supplied criteria.
      parameters:
      - description: The date of the last request. Only job postings changed or deleted
          after this time will be included in the response. Default is _today_ - 10
          days.
        format: date-time
        in: formData
        name: lastRequestDate
        type: string
      - description: The unique id of a region within B.C. Only job postings located
          within the specified region will be included in the response. If not specified,
          the data is not filtered by region.
        format: int32
        in: formData
        name: region
        type: integer
      - description: The name of a city within B.C. Only job postings located within
          the specified city will be included in the response. If not specified, the
          data is not filtered by city.
        in: formData
        name: city
        type: string
      - collectionFormat: multi
        description: ID values for types of job to filter on. Only job postings matching
          all specified values will be included in the response. If not specified,
          the data is not filtered by job type.
        in: formData
        items:
          type: integer
        name: jobTypes
        type: array
      - description: When true, only include job postings that have a Major Project
          associated with them.  When false, only include job postings that do not
          have a Major Project associated with them. If not specified, the data is
          not filtered by major project, unless the MajorProjectID parameter is used.
        in: formData
        name: majorProjects
        type: boolean
      - description: The unique id of a major project within the WorkBC Job Board
          database. When specified, only job postings associated with the specified
          major project will be included in the response. This parameter has no effect
          if the MajorProjects parameter is supplied with the value false. If not
          specified, the data is not filtered by major project, unless the MajorProjects
          parameter is used.
        format: int32
        in: formData
        name: majorProjectID
        type: integer
      - collectionFormat: multi
        description: ID values for industries to filter on. Only job postings matching
          all specified values will be included in the response. If not specified,
          the data is not filtered by industry.
        in: formData
        items:
          type: integer
        name: industries
        type: array
      - collectionFormat: multi
        description: ID values for sub industries to filter on. Only job postings
          matching all specified values will be included in the response. If not specified,
          the data is not filtered by sub industry.
        in: formData
        items:
          type: integer
        name: subIndustries
        type: array
      responses:
        200:
          description: A set of job records.
          schema:
            $ref: '#/definitions/JobFeedResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Job Feed
      tags:
      - Job Feed
      operationId: jobs.post
  /majorProjects:
    get:
      description: The Major Projects endpoint returns details of all of thenmajor
        projects defined in WorkBC's Job Board. The response includes thenid and caption.n
      responses:
        200:
          description: An array of major projects
          schema:
            items:
              $ref: '#/definitions/MajorProject'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Major Projects
      tags:
      - Job Feed
      operationId: majorProjects.get
  /regions:
    get:
      description: The Regions endpoint returns details of all of thenregions defined
        in WorkBC's Job Board. The response includes thenid and caption.n
      responses:
        200:
          description: An array of regions
          schema:
            items:
              $ref: '#/definitions/Region'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Regions
      tags:
      - Job Feed
      operationId: regions.get
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":12:{s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Industry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Caption\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  name of the Industries.\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Industry
  ID.\";s:4:\"type\";s:7:\"integer\";}s:13:\"SubIndustries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubIndustry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Job\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:12:\"EmployerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  name of the employer who is offering the job.\";s:4:\"type\";s:6:\"string\";}s:10:\"ExpiryDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"The
  date that the job will expire. It is the caller's responsibility to remove job postings
  once they expire. After this date the supplied Url will show a 404 page.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"JobDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"Details
  of the job posting. This is limited to 250 characters, and HTML tags are stripped
  out. For a full description, use the Url property to view the job posting on the
  WorkBC website.\";s:4:\"type\";s:6:\"string\";}s:5:\"JobID\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  unique id of the job in the WorkBC Job Board database.\";s:4:\"type\";s:7:\"integer\";}s:8:\"JobTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the job posting.\";s:4:\"type\";s:6:\"string\";}s:8:\"JobTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  types of work associated with this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JobType\";}s:4:\"type\";s:5:\"array\";}s:9:\"Locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Details
  of all of the locations where the job is available.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}s:12:\"MajorProject\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MajorProject\";}s:10:\"PostedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  date that the job was posted.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"RecordType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RecordType\";}s:9:\"SalaryMax\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"SalaryMin\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"SalaryMultiplier\";O:8:\"stdClass\":2:{s:11:\"description\";s:195:\"The
  amount to multiply SalaryMin and SalaryMax by in order to convert to annual values.
  This is needed if you want to compare salaries for jobs that have been posted using
  different salary types.\";s:4:\"type\";s:7:\"integer\";}s:10:\"SalaryType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  URL for the live job posting on the WorkBC website.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"JobFeedResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Jobs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"JobType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Caption\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the Job Type.\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/JobTypeID\";}}s:4:\"type\";s:6:\"object\";}s:9:\"JobTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  type of work.\";s:4:\"enum\";a:15:{i:0;s:10:\"Undefined0\";i:1;s:9:\"Full-Time\";i:2;s:9:\"Part-Time\";i:3;s:8:\"Contract\";i:4;s:10:\"Undefined4\";i:5;s:10:\"Undefined5\";i:6;s:7:\"Student\";i:7;s:10:\"Undefined7\";i:8;s:10:\"Undefined8\";i:9;s:6:\"Casual\";i:10;s:8:\"Seasonal\";i:11;s:9:\"Temporary\";i:12;s:9:\"Permanent\";i:13;s:5:\"Co-op\";i:14;s:14:\"Apprenticeship\";}s:4:\"type\";s:7:\"integer\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Details
  of where a job is located. A job can have up to three associated locations.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"City\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  name of the city where the job is located.\";s:4:\"type\";s:6:\"string\";}s:8:\"Province\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  name of the province where the job is located.\";s:4:\"type\";s:6:\"string\";}s:8:\"RegionID\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Region\";}s:10:\"RegionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name of the region in B.C. where the job is located.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"MajorProject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Caption\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the Major Project.\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  unique ID of the Major Project in the WorkBC Job Board database. Use this when restricting
  the Job Feed to only one Major Project.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RecordType\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  type of change that has happened to this job.\";s:4:\"enum\";a:3:{i:0;s:9:\"Undefined\";i:1;s:6:\"Update\";i:2;s:6:\"Delete\";}s:4:\"type\";s:7:\"integer\";}s:6:\"Region\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Caption\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the Region.\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RegionID\";}}s:4:\"type\";s:6:\"object\";}s:8:\"RegionID\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  region within B.C.\";s:4:\"enum\";a:9:{i:0;s:9:\"Undefined\";i:1;s:22:\"Vancouver
  Island/Coast\";i:2;s:18:\"Mainland/Southwest\";i:3;s:17:\"Thompson-Okanagan\";i:4;s:8:\"Kootenay\";i:5;s:7:\"Cariboo\";i:6;s:11:\"North
  Coast\";i:7;s:7:\"Nechako\";i:8;s:9:\"Northeast\";}s:4:\"type\";s:7:\"integer\";}s:11:\"SubIndustry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Caption\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the SubIndustries.\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Sub
  Industry ID.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
