---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"Question API\";s:7:\"version\";s:5:\"1.0.0\";s:11:\"description\";s:24:\"API
  of Question Services\";}"
host: quora.io
basePath: /api/v1
paths:
  /question/create:
    x-swagger-router-controller: api
    post:
      tags:
      - API#004 Create Question
      security:
      - BearerAuthorization: []
      operationId: createQuestion
      summary: createQuestion
      description: User can create a question.n
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/BearerAuthorization'
      - in: body
        name: QuestionRequest
        description: Request containing question information
        required: true
        schema:
          $ref: '#/definitions/QuestionRequest'
      responses:
        201:
          description: CREATED - Question created successfully
          schema:
            $ref: '#/definitions/QuestionResponse'
        400:
          description: BAD REQUEST - server cannot or will not process the request
            due to something that is perceived to be a client error (e.g., malformed
            request syntax, mandatory elements are missing)
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        401:
          description: UNAUTHORIZED - user has provided wrong credentials
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        403:
          description: FORBIDDEN - request has not been applied because client application
            has no permission to perform action
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        422:
          description: UNPROCESSABLE ENTITY - request was well-formed but server unable
            to process due to semantic errors
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request flow
                to the backend
        500:
          description: INTERNAL SERVER ERROR - server encountered an unexpected condition
            that prevented it from fulfilling the request.
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
  /question/all:
    x-swagger-router-controller: api
    get:
      tags:
      - API#004 Get All Questions
      security:
      - BearerAuthorization: []
      operationId: getAllQuestions
      summary: getAllQuestions
      description: User can get all questions.n
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/BearerAuthorization'
      responses:
        200:
          description: OK - Questions fetched successfully
          schema:
            $ref: '#/definitions/QuestionDetailsResponse'
        400:
          description: BAD REQUEST - server cannot or will not process the request
            due to something that is perceived to be a client error (e.g., malformed
            request syntax, mandatory elements are missing)
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        401:
          description: UNAUTHORIZED - user has provided wrong credentials
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        403:
          description: FORBIDDEN - request has not been applied because client application
            has no permission to perform action
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        422:
          description: UNPROCESSABLE ENTITY - request was well-formed but server unable
            to process due to semantic errors
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request flow
                to the backend
        500:
          description: INTERNAL SERVER ERROR - server encountered an unexpected condition
            that prevented it from fulfilling the request.
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
  /question/edit/{questionId}:
    x-swagger-router-controller: api
    put:
      tags:
      - API#004 Edit a Question
      security:
      - BearerAuthorization: []
      operationId: editQuestionContent
      summary: editQuestionContent
      description: User can edit the question if he has posted the question.n
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/BearerAuthorization'
      - $ref: '#/parameters/questionId'
      - in: body
        name: QuestionEditRequest
        description: Request containing question edit information
        required: true
        schema:
          $ref: '#/definitions/QuestionEditRequest'
      responses:
        200:
          description: OK - Questions changed successfully
          schema:
            $ref: '#/definitions/QuestionEditResponse'
        400:
          description: BAD REQUEST - server cannot or will not process the request
            due to something that is perceived to be a client error (e.g., malformed
            request syntax, mandatory elements are missing)
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        401:
          description: UNAUTHORIZED - user has provided wrong credentials
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        403:
          description: FORBIDDEN - request has not been applied because client application
            has no permission to perform action
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        422:
          description: UNPROCESSABLE ENTITY - request was well-formed but server unable
            to process due to semantic errors
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request flow
                to the backend
        500:
          description: INTERNAL SERVER ERROR - server encountered an unexpected condition
            that prevented it from fulfilling the request.
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
  /question/delete/{questionId}:
    x-swagger-router-controller: api
    delete:
      tags:
      - API#004 Delete a Question
      security:
      - BearerAuthorization: []
      operationId: deleteQuestion
      summary: deleteQuestion
      description: Admin or user can delete the question if he has posted the question.n
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/BearerAuthorization'
      - $ref: '#/parameters/questionId'
      responses:
        200:
          description: OK - Questions deleted successfully
          schema:
            $ref: '#/definitions/QuestionDeleteResponse'
        400:
          description: BAD REQUEST - server cannot or will not process the request
            due to something that is perceived to be a client error (e.g., malformed
            request syntax, mandatory elements are missing)
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        401:
          description: UNAUTHORIZED - user has provided wrong credentials
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        403:
          description: FORBIDDEN - request has not been applied because client application
            has no permission to perform action
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        422:
          description: UNPROCESSABLE ENTITY - request was well-formed but server unable
            to process due to semantic errors
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request flow
                to the backend
        500:
          description: INTERNAL SERVER ERROR - server encountered an unexpected condition
            that prevented it from fulfilling the request.
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
  /question/all/{userId}:
    x-swagger-router-controller: api
    get:
      tags:
      - API#004 Get the details of all Questions posted by a specific user
      security:
      - BearerAuthorization: []
      operationId: getAllQuestionsByUser
      summary: getAllQuestionsByUser
      description: User can get the details of all the questions posted by a specific
        user.n
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/BearerAuthorization'
      - $ref: '#/parameters/userId'
      responses:
        200:
          description: OK - Fetched the questions successfully
          schema:
            $ref: '#/definitions/QuestionDetailsResponse'
        400:
          description: BAD REQUEST - server cannot or will not process the request
            due to something that is perceived to be a client error (e.g., malformed
            request syntax, mandatory elements are missing)
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        401:
          description: UNAUTHORIZED - user has provided wrong credentials
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        403:
          description: FORBIDDEN - request has not been applied because client application
            has no permission to perform action
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
        422:
          description: UNPROCESSABLE ENTITY - request was well-formed but server unable
            to process due to semantic errors
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request flow
                to the backend
        500:
          description: INTERNAL SERVER ERROR - server encountered an unexpected condition
            that prevented it from fulfilling the request.
          headers:
            request-id:
              type: string
              description: Used as correlation id while tracing for the request in
                the backend
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:15:\"QuestionRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"content
  of the question\";}}s:8:\"required\";a:1:{i:0;s:7:\"content\";}}s:16:\"QuestionResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"question
  uuid\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"status
  of the question\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:6:\"status\";}}s:23:\"QuestionDetailsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"question
  uuid\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Question
  content\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:7:\"content\";}}s:19:\"QuestionEditRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"updated
  content of the question\";}}}s:20:\"QuestionEditResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"question
  uuid\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"status
  of the updated question\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:6:\"status\";}}s:22:\"QuestionDeleteResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"question
  uuid\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"status
  of the deleted question\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:6:\"status\";}}}"
...
