---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:88:\"* [Sign up for
  a developer API key!](https://www.synq.fm/register)\n* [SYNQ API Guide](/)\";s:5:\"title\";s:10:\"SYNQ
  Video\";s:7:\"version\";s:5:\"1.9.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:76:\"https://pbs.twimg.com/profile_images/894535623213809664/lp7hTlgk_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:37:\"https://docs.synq.fm/swagger/api.json\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:7:\"synq.fm\";s:11:\"x-preferred\";b:1;}"
host: api.synq.fm
basePath: /v1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:11:\"ErrorObject\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"message\";s:69:\"A
  lengthy, human-readable description of the error that has occurred.\";s:4:\"name\";s:20:\"Some
  error occurred.\";s:3:\"url\";s:48:\"http://docs.synq.fm/api/v1/error/some_error_code\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"url\";i:1;s:4:\"name\";i:2;s:7:\"message\";}s:5:\"title\";s:11:\"ErrorObject\";s:4:\"type\";s:6:\"object\";}s:25:\"StreamConfigurationObject\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"rtmp_host\";O:8:\"stdClass\":2:{s:7:\"example\";s:49:\"ec2-54-171-205-23.eu-west-1.compute.amazonaws.com\";s:4:\"type\";s:6:\"string\";}s:8:\"rtmp_key\";O:8:\"stdClass\":2:{s:7:\"example\";s:37:\"live/ce29d1cb5da48a564d2c9f62be7ade06\";s:4:\"type\";s:6:\"string\";}s:9:\"rtmp_port\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"1935\";s:4:\"type\";s:6:\"string\";}s:8:\"rtmp_url\";O:8:\"stdClass\":2:{s:7:\"example\";s:99:\"rtmp://ec2-54-171-205-23.eu-west-1.compute.amazonaws.com:1935/live/ce29d1cb5da48a564d2c9f62be7ade06\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:25:\"StreamConfigurationObject\";s:4:\"type\";s:6:\"object\";}s:21:\"UploadParameterObject\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"AWSAccessKeyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Content-Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Policy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Signature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"acl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:21:\"UploadParameterObject\";s:4:\"type\";s:6:\"object\";}s:11:\"VideoObject\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":5:{s:10:\"created_at\";s:24:\"2017-03-07T12:03:34.477Z\";s:5:\"state\";s:7:\"created\";s:10:\"updated_at\";s:24:\"2017-03-07T12:03:34.477Z\";s:8:\"userdata\";O:8:\"stdClass\":0:{}s:8:\"video_id\";s:32:\"5747740852d14db58f47a5858f0bbcf7\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"input\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"outputs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userdata\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"video_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:8:\"video_id\";i:1;s:5:\"state\";i:2;s:8:\"userdata\";i:3;s:10:\"created_at\";i:4;s:10:\"updated_at\";}s:5:\"title\";s:11:\"VideoObject\";s:4:\"type\";s:6:\"object\";}}"
...
