---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":13:{s:7:\"contact\";O:8:\"stdClass\":1:{s:3:\"url\";s:44:\"http://groups.google.com/group/freesound-api\";}s:11:\"description\";s:467:\"With
  the Freesound APIv2 you can browse, search, and retrieve information about Freesound
  users, packs, and the sounds themselves of course. You can find similar sounds to
  a given target (based on content analysis) and retrieve automatically extracted
  features from audio files, as well as perform advanced queries combining content
  analysis features and other metadata (tags, etc...). With the Freesound APIv2, you
  can also upload, comment, rate and bookmark sounds!\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:38:\"GNU
  Affero General Public License v3.0\";s:3:\"url\";s:42:\"https://www.gnu.org/licenses/agpl-3.0.html\";}s:14:\"termsOfService\";s:34:\"http://freesound.org/help/tos_api/\";s:5:\"title\";s:9:\"Freesound\";s:7:\"version\";s:5:\"2.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:76:\"https://api.apis.guru/v2/cache/logo/http_freesound.org_media_images_logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:56:\"http://miguel76.github.io/freesound-openapi/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"freesound.org\";s:16:\"x-unofficialSpec\";b:1;s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"freesound\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.freesound.org
basePath: /apiv2
paths: ~
produces:
- application/xml
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":1:{s:5:\"Sound\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  sound\u2019s unique identifier.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name user gave to the sound.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  URI for this sound on the Freesound website.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
