---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:7:\"AvazaHq\";}s:11:\"description\";s:1605:\"Welcome
  to the autogenerated documentation & test tool for Avaza's API. <br/><br/><strong>API
  Security & Authentication</strong><br/>Authentication options include OAuth2 Implicit
  and Authorization flows. All connections should be encrypted over SSL/TLS <br/><br/>To
  use the Api from your own app you will need us to issue you an App Client ID and
  Secret. You can get in touch to request one, and provide us with a redirect URI.<br/><br/>
  OAuth2 Authorization endpoint: https://any.avaza.com/oauth2/authorize  <br/>OAuth2
  Token endpoint: https://any.avaza.com/oauth2/token<br/>Base URL for subsequent API
  Requests: https://api.avaza.com/ <br/><br/>Blogpost about authenticating with Avaza's
  API:  https://www.avaza.com/avaza-api-oauth2-authentication/ <br/>Blogpost on using
  Avaza's webhooks: https://www.avaza.com/avaza-api-webhook-notifications/<br/>We
  currently issue Access Tokens that last 1 day, and Refresh tokens that last 180
  days<br/>The Api currently assumes initial authentication by an Admin role user.
  In the future we will add support for access by other roles. <br/><br><strong>Support</strong><br/>For
  API Support, and to request access please contact Avaza Support Team via our support
  chat. <br/><br/><strong>User Contributed Libraries:</strong><br/>Graciously contributed
  by 3rd party users like you. <br/>Note these are not tested or endorsesd by Avaza.
  We encourage you to review before use, and use at own risk.<br/> <ul><li> - <a target='blank'
  href='https://packagist.org/packages/debiprasad/oauth2-avaza'>PHP OAuth Client Package
  for Azava API (by Debiprasad Sahoo)</a></li></ul>\";s:5:\"title\";s:5:\"Avaza\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"collaboration\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_AvazaHq_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:37:\"https://api.avaza.com/swagger/docs/v1\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"avaza.com\";}"
host: api.avaza.com
paths: ~
produces:
- application/json
- text/json
- application/xml
- text/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":65:{s:14:\"AccountDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"AccountID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"LockApprovedTimesheets\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"TimesheetDayOfWeek\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:26:\"TimesheetDisplayFormatCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"WeeklyTimesheetReminder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"has24HourTimesheetFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"hasStartEndTimesheets\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Company\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:14:\"BillingAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"BillingAddressCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"BillingAddressLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"BillingAddressPostCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"BillingAddressState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"BillingCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Comments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"CompanyID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Contacts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CompanyContact\";}s:4:\"type\";s:5:\"array\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"DefaultTradingTermIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"Fax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TaxNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CompanyContact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"CompanyIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ContactID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"PositionTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"TimeZone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CompanyList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Companies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Company\";}s:4:\"type\";s:5:\"array\";}s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ContactList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"Contacts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CompanyContact\";}s:4:\"type\";s:5:\"array\";}s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateSubscription\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"New
  Subscription to be Created\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"event\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  event code to be notified about. Possible values: company_created, contact_created,
  invoice_created, invoice_sent, project_created, task_created\";s:4:\"type\";s:6:\"string\";}s:10:\"target_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  URL that should be notified of the event.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"target_url\";i:1;s:5:\"event\";}s:4:\"type\";s:6:\"object\";}s:10:\"CreditNote\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"Balance\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:21:\"CreditNoteAllocations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CreditNoteAllocation\";}s:4:\"type\";s:5:\"array\";}s:19:\"CreditNoteLineItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CreditNoteLineItem\";}s:4:\"type\";s:5:\"array\";}s:16:\"CreditNoteNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CustomerIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"DateIssued\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TotalAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"TransactionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"TransactionPrefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"TransactionStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreditNoteAllocation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"AllocationAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:14:\"AllocationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:25:\"CreditNoteTransactionIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:22:\"InvoiceTransactionIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:23:\"TransactionAllocationID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreditNoteLineItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"Amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Discount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"TaxIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"TransactionLineItemID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"UnitPrice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CreditNoteList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"CreditNotes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CreditNote\";}s:4:\"type\";s:5:\"array\";}s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"CurrencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"DecimalPlaces\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CurrencyList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Currencies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Currency\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"EstimateDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":24:{s:11:\"AccountIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Balance\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"CompanyIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"DateIssued\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"DateSent\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"DueDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"EstimateID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:18:\"EstimateItemNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"EstimatePrefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"EstimateStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"EstimateTaxConfigCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"Issuer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/IssuerDetails\";}s:9:\"LineItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/EstimateLineItemDetails\";}s:4:\"type\";s:5:\"array\";}s:5:\"Links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EstimateLinks\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Recipient\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RecipientDetails\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TaxAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"TotalAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EstimateLineItemDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"Amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Discount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:18:\"EstimateLineItemID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"InventoryItemIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"InventoryItemName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"InventoryItemSKU\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"TaxCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"TaxIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"TaxName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"UnitPrice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EstimateLinks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"ClientView\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Edit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"View\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EstimateList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Estimates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EstimateDetails\";}s:4:\"type\";s:5:\"array\";}s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ExpenseDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":33:{s:6:\"Amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"AttachmentURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"ChargeableStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CustomerIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"CustomerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:25:\"ExpenseApprovalStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"ExpenseCategoryHasUnitPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"ExpenseCategoryIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"ExpenseCategoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"ExpenseCategoryUnitName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"ExpenseCategoryUnitPrice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"ExpenseDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"ExpenseID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"ExpenseReportIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"ExpenseReportName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Merchant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"MerchantTaxNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ProjectTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"TaxIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"TransactionTaxConfigCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"UserIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"isChargeable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ExpenseList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"Expenses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ExpenseDetails\";}s:4:\"type\";s:5:\"array\";}s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"InventoryItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"CostPrice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"InventoryItemID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"SKU\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"SalePrice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"SaleTaxIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"isHidden\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"InventoryList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Inventory\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/InventoryItem\";}s:4:\"type\";s:5:\"array\";}s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Invoice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":25:{s:11:\"AccountIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Balance\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"CompanyIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"CustomerPONumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"DateIssued\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"DateSent\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"DueDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"InvoiceNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Issuer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/IssuerDetails\";}s:9:\"LineItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InvoiceLineItem\";}s:4:\"type\";s:5:\"array\";}s:5:\"Links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/InvoiceLinks\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Recipient\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RecipientDetails\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TaxAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"TotalAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"TransactionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"TransactionPrefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"TransactionStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"TransactionTaxConfigCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"InvoiceLineItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"Amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Discount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"InventoryItemIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"InventoryItemName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"InventoryItemSKU\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ProjectTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"TaxCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"TaxIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"TaxName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"TransactionLineItemID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"UnitPrice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"InvoiceLinks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"ClientView\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Edit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"View\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"InvoiceList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"Invoices\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Invoice\";}s:4:\"type\";s:5:\"array\";}s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"IssuerDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"BillingAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"BillingAddressCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"BillingAddressLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"BillingAddressPostCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"BillingAddressState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"BillingCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TaxNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"NewCompanyContact\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":16:{s:21:\"CompanyBillingAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"CompanyBillingAddressCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"CompanyBillingAddressCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"CompanyBillingAddressLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"CompanyBillingAddressPostCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"CompanyBillingAddressState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CompanyIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ContactEmail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"PositionTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"UpdateExisting\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:12:\"ContactEmail\";i:1;s:9:\"Firstname\";i:2;s:8:\"Lastname\";}s:4:\"type\";s:6:\"object\";}s:10:\"NewExpense\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Expense
  Amount (Required). Must be &gt;= 0\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"A
  3-letter ISO CurrencyCode for the expense currency. (e.g. USD). If not provided,
  defaults to the Account base currency.\";s:4:\"type\";s:6:\"string\";}s:12:\"CustomerIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  Avaza Customer ID to associate the Expense with. Either this field or CustomerName
  can be provided.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"CustomerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  name of an existing customer in Avaza. Must be an exact (case insensitive) match.\";s:4:\"type\";s:6:\"string\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:351:\"Optional
  (Only relevant if the expense currency is different to your account currency. If
  not provided we will look up the market exchange rate for you based on the expense
  date.) Exchange Rate = Expense Currency Amount / Base Currency Amount (e.g. if Expense
  currency is in AUD, and Base Currency is in USD, Exchange Rate = AUD $140 / USD
  $100 = 1.4)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"ExpenseCategoryIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  expense category to link the Expense to. If not provided, ExpenseCategoryName must
  be provided\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"ExpenseCategoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"Must
  match an existing expense category name otherwise a new category will be created.
  If left blank Expense Category ID must be provided.\";s:4:\"type\";s:6:\"string\";}s:11:\"ExpenseDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  date of the expense entry (Required)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"GroupTripName\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Links
  the expense to a Grouping/Trip report. If no matching name found, creates a new
  Group/Trip Report name.\";s:4:\"type\";s:6:\"string\";}s:8:\"Merchant\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the merchant.\";s:4:\"type\";s:6:\"string\";}s:16:\"MerchantTaxNumer\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"A
  Tax number identifier for the merchant.\";s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Expense
  Notes\";s:4:\"type\";s:6:\"string\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  Avaza project ID to associate the Expense with.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"ProjectName\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Can
  work for matching an expense to a project, but only if it's an exact match for a
  single project under the customer.\";s:4:\"type\";s:6:\"string\";}s:7:\"TaxIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Avaza
  Tax ID the expense belongs to. If left blank then Tax Name must be provided.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"TaxName\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Must
  exactly match an existing Tax Name that you have configured in Avaza Tax settings.
  If left blank then Tax ID must be provided.\";s:4:\"type\";s:6:\"string\";}s:24:\"TransactionTaxConfigCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:201:\"Optional
  - Enter \"INC\" if the tax amount is included in the expense amount otherwise enter
  \"EX\" when the amount exlcudes the tax. Defaults to \"Ex\". The tax amount on the
  expense will be autocalculated.\";s:4:\"type\";s:6:\"string\";}s:9:\"UserEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"The
  email address of a Timesheet/Expense user in Avaza. If not provided, UserIDFK field
  must be provided.\";s:4:\"type\";s:6:\"string\";}s:8:\"UserIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"UserID
  for a Timesheet/Expense user in Avaza. If not provided, UserEmail field must be
  provided\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"isChargeable\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"aka
  Billable. Defaults to false if not provided. If set to true, a CustomerIDFK or CustomerName
  must be provided.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"NewInvoice\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"New
  invoice to be created\";s:10:\"properties\";O:8:\"stdClass\":18:{s:11:\"CompanyIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"If
  left blank then you must specify Company Name.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:446:\"If
  left blank then you must specify Company ID. Specified Name will be used to match
  existing customer record. If not matched then it will be used to create a new customer.
  First Name, Last Name and Email will only be used if it is a new company. If the
  Company name appears multiple times we will check the email address to find a matching
  company. If email address doesn't identify a matching company then the invoice creation
  will be rejected.\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:367:\"Expects
  ISO Standard 3 character currency code. If left blank the currency will default
  to account's currency in general setting. For existing companies this field will
  be ignored and the invoice will use the currency of the customer. For new customers
  if the currency is not specified then account currency will be used otherwise the
  specified currency will be used.\";s:4:\"type\";s:6:\"string\";}s:16:\"CustomerPONumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Plain
  UTF8 text. 100 characters max\";s:4:\"type\";s:6:\"string\";}s:10:\"DateIssued\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"If
  not specified it will use today's date. The date should be specified as local date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"DueDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"It
  will be auto calculated based on the payment term and issue date. Due Date must
  be greater than or equal to Issue Date. If the Due Date is specified then Payment
  Terms will be set to -1 (Custom)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Exchange
  rate is only valid for invoices in currency other than default account currency.
  If not specified it will get the market rate based on the Date Issued.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"Firstname\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Specified
  value will be used to create a new customer contact only if a new customer is being
  created.\";s:4:\"type\";s:6:\"string\";}s:13:\"InvoiceNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"Pass
  any string. If left blank it will use the next number in the auto incrementing sequence.
  If an integer is passed then the largest integer will be use as the seed to auto
  generate the next invoice number in the sequence.\";s:4:\"type\";s:6:\"string\";}s:19:\"InvoiceTemplateIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"If
  left blank the account default invoice template will be used.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Lastname\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Specified
  value will be used to create a new customer contact only if a new customer is being
  created.\";s:4:\"type\";s:6:\"string\";}s:9:\"LineItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/NewInvoiceLineItem\";}s:4:\"type\";s:5:\"array\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Plain
  UTF8 text. (no HTML). Max 2000 characters\";s:4:\"type\";s:6:\"string\";}s:12:\"PaymentTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:282:\"
  \"If left blank we will set it to customer default. If specified then it must match
  one of your existing pre configured payment term periods. Your account starts with:\r\n(-1
  --- Custom, 0 --- Upon Receipt, 7 --- 7 Days, 15 --- 15 Days, 30 --- 30 Days, 45
  --- 45 Days, 60 --- 60 Days)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Plain
  UTF8 text. (no HTML). 255 characters max\";s:4:\"type\";s:6:\"string\";}s:17:\"TransactionPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"A
  prefix for the Invoice number. e.g. 'INV'. If left blank it will be set to the account
  default. Max length 20 characters.\";s:4:\"type\";s:6:\"string\";}s:24:\"TransactionTaxConfigCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Possible
  values are (EX --- Tax Exclusive, INC --- Tax Inclusive). If left empty it will
  use the account default.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"NewInvoiceLineItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Line
  item to be added to new invoice\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Plain
  UTF8 text. (no HTML)\";s:4:\"type\";s:6:\"string\";}s:8:\"Discount\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Enter
  10.5 to give a 10.5% discount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"InventoryItemIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"If
  not specified then Inventory Item Name must be specified.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"InventoryItemName\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"If
  not specified then Inventory item ID must be specified. If specified and not matched
  to any existing inventory items then a new inventory item will be created. Max 200
  characters.\";s:4:\"type\";s:6:\"string\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"Optional.
  Project ID of an Avaza Project that belongs to this customer, so line item is attributed
  to that Project for reporting.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  quantity for the line item\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"TaxIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"TaxName\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Must
  be specified if the Tax ID is blank. If the Tax Name is specified it will be matched
  to an existing Tax Name or else a new Tax will be created.\";s:4:\"type\";s:6:\"string\";}s:10:\"TaxPercent\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  Tax Percent will only be used if a new tax is being created.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"UnitPrice\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  unit price for the lineitem.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:8:\"Quantity\";i:1;s:9:\"UnitPrice\";}s:4:\"type\";s:6:\"object\";}s:10:\"NewPayment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"Amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"CustomerIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Only
  required if no invoice allocations specified.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"DateIssued\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Date
  of Payment. If not specified, assumes today.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:282:\"Optional.
  Only used when the Customer's currecy is different from the Avaza account's base
  currency. Specifies the exchange rate that should apply between the customer currency
  and base currency. If not provided we will obtain an up to date exchange rate for
  the Payment Issue Date.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"PaymentAllocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"List
  of amounts within this payment that are allocated to invoices. The sum of these
  be less than or equal to the payment amount.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/NewPaymentAllocation\";}s:4:\"type\";s:5:\"array\";}s:13:\"PaymentNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Optional.
  If not specified will be automatically generated\";s:4:\"type\";s:6:\"string\";}s:19:\"PaymentProviderCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Optional
  for storing the payment provider who was the source of funds.\";s:4:\"type\";s:6:\"string\";}s:17:\"TransactionPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Optional
  to override the default prefix added to Payment Numbers\";s:4:\"type\";s:6:\"string\";}s:20:\"TransactionReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Optional
  for storing the reference # of the payment method.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"NewPaymentAllocation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"AllocationAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  Amount being allocated to the invoice. Expects same currency as invoice currency\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:14:\"AllocationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:190:\"Optional.
  Defaults to the current time in the Avaza account's timezone. The date the allocation
  is applied to the invoice. Can be difference from the Payment Date when doing prepayments
  etc.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"InvoiceTransactionIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  Avaza Invoice TransactionID that is having a payment amount allocated to it.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"NewProjectModel\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"CompanyIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"An
  ID of a company in Avaza to create the Project under. You must provide either a
  CompanyID, or a CompanyName\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  name for a Company to create the project under. Will create company unless it matches
  an existing company name\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"The
  ISO 3 letter currency code to use when creating a new Company. If not provided,
  the account's default currency will be used.\";s:4:\"type\";s:6:\"string\";}s:29:\"PopulateDefaultProjectMembers\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"ProjectNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Any
  descriptive notes about the project. (2000 characters max)\";s:4:\"type\";s:6:\"string\";}s:12:\"ProjectTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  title of the new project. (255 characters max)\";s:4:\"type\";s:6:\"string\";}s:34:\"TimesheetApprovalRequiredbyDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"isTaskRequiredOnTimesheet\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:12:\"ProjectTitle\";}s:4:\"type\";s:6:\"object\";}s:10:\"NewSection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"EndDateUTC\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"StartDateUTC\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"NewTag\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"NewTask\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:18:\"AssignedToUserIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"DateDue\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"DateDueUTC\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"DateStart\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"DateStartUTC\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"EstimatedEffort\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Decimal
  hours\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"SectionIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Collection
  of tags specifying Name and Color (Hex)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NewTag\";}s:4:\"type\";s:5:\"array\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"ProjectIDFK\";i:1;s:11:\"SectionIDFK\";i:2;s:5:\"Title\";}s:4:\"type\";s:6:\"object\";}s:12:\"NewTimesheet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"Duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  duration of the timesheet, in decimal hours.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"EntryDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  date of the timesheet entry, with an optional start time component.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Timesheet
  Notes\";s:4:\"type\";s:6:\"string\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  project to associate the timesheet with\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"TaskIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Optional.
  Link the timesheet to a specific task\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"TimesheetCategoryIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  Project timesheet category to link the timesheet to\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"UserIDFK\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"UserID
  for a Timesheet user in Avaza\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"hasStartEndTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"If
  true, the start time will be take from the time component of the Entry Date field,
  and the end time will be calculated by adding the Duration to the StartDate\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isInvoiced\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Optional.
  False by default. Allows you to mark the timesheet as invoiced in an external system.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Payment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"AccountIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Balance\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CustomerIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"DateIssued\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"ExchangeRate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"PaymentAllocations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PaymentAllocation\";}s:4:\"type\";s:5:\"array\";}s:13:\"PaymentNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"PaymentProviderCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TotalAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"TransactionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"TransactionPrefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"TransactionReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"TransactionStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PaymentAllocation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"AllocationAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:14:\"AllocationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"InvoiceTransactionIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:22:\"PaymentTransactionIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:23:\"TransactionAllocationID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PaymentList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Payments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Payment\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ProjectDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:12:\"BudgetAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"BudgetHours\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"CompanyIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"EndDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProjectMemberDetails\";}s:4:\"type\";s:5:\"array\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"ProjectBillableTypeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Possible
  values: CategoryHourly, NoRate, NotBillable, PersonHourly, ProjectHourly\";s:4:\"type\";s:6:\"string\";}s:21:\"ProjectBudgetTypeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Possible
  Values: CategoryHours, NoBudget, PersonHours, ProjectFees, ProjectHours\";s:4:\"type\";s:6:\"string\";}s:20:\"ProjectCategoryColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Html
  Hex Color Code starting with #\";s:4:\"type\";s:6:\"string\";}s:19:\"ProjectCategoryIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"ProjectCategoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ProjectHourlyRate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"ProjectID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"ProjectStatusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Possible
  values: NotStarted, InProgress, Complete\";s:4:\"type\";s:6:\"string\";}s:11:\"ProjectTags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ProjectTagItem\";}s:4:\"type\";s:5:\"array\";}s:8:\"Sections\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ProjectSectionDetails\";}s:4:\"type\";s:5:\"array\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isArchived\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ProjectList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Projects\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProjectListDetails\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ProjectListDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"CompanyIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProjectID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ProjectMemberDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:12:\"BudgetAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"CostAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Fullname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"RateAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"UserIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"canCommentOnTasks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"canCreateTasks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"canDeleteTasks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"canUpdateTasks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"isMemberDisabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"isProjectManager\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"isTimesheetAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:27:\"isTimesheetApprovalRequired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"isTimesheetApprover\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ProjectSectionDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DisplayOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"EndDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"SectionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ProjectTagItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ProjectTagID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ProjectTimesheetCategoryDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"AccountIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"BudgetHours\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"CostAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"RateAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:21:\"TimeSheetCategoryIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"isBillable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ProjectTimesheetCategoryList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/ProjectTimesheetCategoryDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RecipientDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"CompanyIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"RecipientBillingAddressCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"RecipientBillingAddressCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"RecipientBillingAddressLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"RecipientBillingAddressPostCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"RecipientBillingAddressState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"RecipientFormattedBillingAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"RoleDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"RoleCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"RoleName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SectionDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"DisplayOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"EndDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"EndDateUTC\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"SectionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"StartDateUTC\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SectionList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Sections\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SectionDetails\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SubscribeResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"TagItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"TagID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TaskDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":23:{s:10:\"ActualTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"AssignedToEmail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AssignedToFirstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"AssignedToLastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"AssignedToUserIDFK\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"DateDue\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"DateDueUTC\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"DateStart\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"DateStartUTC\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"DescriptionNoHTML\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"EstimatedEffort\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"PercentComplete\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ProjectTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SectionIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"SectionTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagItem\";}s:4:\"type\";s:5:\"array\";}s:6:\"TaskID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"TaskStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TaskList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Tasks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TaskDetails\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TaxComponent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"ComponentTaxCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Percentage\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:14:\"TaxComponentID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"TaxIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"isCompound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"TaxItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"CalculatedPercent\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"TaxCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"TaxComponents\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TaxComponent\";}s:4:\"type\";s:5:\"array\";}s:5:\"TaxID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"TaxList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Taxes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TaxItem\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"TimesheetDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":26:{s:12:\"CategoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CustomerIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"CustomerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateUpdated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"Duration\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"EndTimeLocal\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"EndTimeUTC\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"EntryDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"Firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ProjectTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"StartTimeLocal\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"StartTimeUTC\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"TaskIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"TaskTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"TimesheetCategoryIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:32:\"TimesheetEntryApprovalStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"TimesheetEntryID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:21:\"TimesheetUserTimeZone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"UserIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"isBillable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"isInvoiced\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TimesheetList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"PageNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"Timesheets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TimesheetDetails\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"UpdateTimesheetModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"Duration\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"EntryDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ProjectIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"TaskIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"TimeSheetCategoryIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"TimeSheetEntryID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"UserIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"hasStartEndTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UserDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"AccountIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"DefaultBillableRate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"DefaultCostRate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Roles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RoleDetails\";}s:4:\"type\";s:5:\"array\";}s:8:\"TimeZone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"UserID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"isTeamMember\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"UserList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Users\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"WebhookDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"EventCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"NotificationURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SubscriptionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"UserIDFK\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"WebhookList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Webhooks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/WebhookDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
