---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:23:\"Consumer Data Standards\";s:11:\"description\";s:103:\"API
  sets created by the Australian Consumer Data Standards to meet the needs of the
  Consumer Data Right\";s:7:\"version\";s:5:\"0.9.4\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:23:\"Consumer
  Data Standards\";s:3:\"url\";s:37:\"https://consumerdatastandards.org.au/\";s:5:\"email\";s:19:\"cdr-data61@csiro.au\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"MIT
  License\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}}"
host: data.provider.com.au
basePath: /cds-au/v1
paths:
  /banking/accounts:
    get:
      summary: Get Accounts
      description: Obtain a list of accounts
      operationId: listAccounts
      x-scopes:
      - bank_basic_accounts
      tags:
      - Banking
      - Accounts
      parameters:
      - $ref: '#/parameters/ParamProductCategory'
      - $ref: '#/parameters/ParamAccountOpenStatus'
      - $ref: '#/parameters/ParamAccountIsOwned'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingAccountList'
      x-version: "1"
  /banking/accounts/balances:
    get:
      summary: Get Bulk Balances
      description: Obtain balances for multiple, filtered accounts
      operationId: listBalancesBulk
      x-scopes:
      - bank_basic_accounts
      tags:
      - Banking
      - Accounts
      parameters:
      - $ref: '#/parameters/ParamProductCategory'
      - $ref: '#/parameters/ParamAccountOpenStatus'
      - $ref: '#/parameters/ParamAccountIsOwned'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingAccountsBalanceList'
      x-version: "1"
    post:
      summary: Get Balances For Specific Accounts
      description: Obtain balances for a specified list of accounts
      operationId: listBalancesSpecificAccounts
      x-scopes:
      - bank_basic_accounts
      tags:
      - Banking
      - Accounts
      parameters:
      - name: accountIds
        in: body
        description: The list of account IDs to obtain balances for
        required: true
        schema:
          $ref: '#/definitions/RequestAccountIds'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingAccountsBalanceList'
        422:
          description: The request was well formed but was unable to be processed
            due to business logic specific to the request
          schema:
            $ref: '#/definitions/ResponseErrorList'
      x-version: "1"
  /banking/accounts/{accountId}/balance:
    get:
      summary: Get Account Balance
      description: Obtain the balance for a single specified account
      operationId: listBalance
      x-scopes:
      - bank_basic_accounts
      tags:
      - Banking
      - Accounts
      parameters:
      - name: accountId
        in: path
        description: ID of the specific account requested
        required: true
        type: string
        x-cds-type: ASCIIString
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingAccountsBalanceById'
      x-version: "1"
  /banking/accounts/{accountId}:
    get:
      summary: Get Account Detail
      description: Obtain detailed information on a single account
      operationId: getAccountDetail
      x-scopes:
      - bank_detailed_accounts
      tags:
      - Banking
      - Accounts
      parameters:
      - name: accountId
        in: path
        description: A tokenised identifier for the account which is unique but not
          shareable
        required: true
        type: string
        x-cds-type: ASCIIString
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingAccountById'
      x-version: "1"
  /banking/accounts/{accountId}/transactions:
    get:
      summary: Get Transactions For Account
      description: Obtain transactions for a specific account.nnSome general notes
        that apply to all end points that retrieve transactions:nn- Where multiple
        transactions are returned, transactions should be ordered according to effective
        date in descending ordern- As the date and time for a transaction can alter
        depending on status and transaction type two separate date/times are included
        in the payload. There are still some scenarios where neither of these time
        stamps is available. For the purpose of filtering and ordering it is expected
        that the provider will use the u201ceffectiveu201d date/time which will be
        defined as:ntt- Posted date/time if available, thenntt- Execution date/time
        if available, thenntt- A reasonable date/time nominated by the data provider
        using internal data structuresn- For transaction amounts it should be assumed
        that a negative value indicates a reduction of the available balance on the
        account while a positive value indicates an increase in the available balance
        on the account
      operationId: getTransactions
      x-scopes:
      - bank_transactions
      tags:
      - Banking
      - Accounts
      parameters:
      - name: accountId
        in: path
        description: ID of the account to get transactions for.  Must have previously
          been returned by one of the account list end points.
        required: true
        type: string
        x-cds-type: ASCIIString
      - $ref: '#/parameters/ParamTransactionOldestTime'
      - $ref: '#/parameters/ParamTransactionNewestTime'
      - $ref: '#/parameters/ParamTransactionMinAmount'
      - $ref: '#/parameters/ParamTransactionMaxAmount'
      - $ref: '#/parameters/ParamTransactionText'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingTransactionList'
      x-version: "1"
  /banking/accounts/{accountId}/transactions/{transactionId}:
    get:
      summary: Get Transaction Detail
      description: Obtain detailed information on a transaction for a specific account
      operationId: getTransactionDetail
      x-scopes:
      - bank_transactions
      tags:
      - Banking
      - Accounts
      parameters:
      - name: accountId
        in: path
        description: ID of the account to get transactions for.  Must have previously
          been returned by one of the account list end points
        required: true
        type: string
        x-cds-type: ASCIIString
      - name: transactionId
        in: path
        description: ID of the transaction obtained from a previous call to one of
          the other transaction end points
        required: true
        type: string
        x-cds-type: ASCIIString
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingTransactionById'
      x-version: "1"
  /banking/accounts/transactions:
    get:
      summary: Get Transactions For Multiple Accounts
      description: Obtain transactions for multiple, filtered accounts
      operationId: listTransactionsBulk
      x-scopes:
      - bank_transactions
      tags:
      - Banking
      - Accounts
      parameters:
      - $ref: '#/parameters/ParamProductCategory'
      - $ref: '#/parameters/ParamAccountOpenStatus'
      - $ref: '#/parameters/ParamAccountIsOwned'
      - $ref: '#/parameters/ParamTransactionNewestTime'
      - $ref: '#/parameters/ParamTransactionOldestTime'
      - $ref: '#/parameters/ParamTransactionMinAmount'
      - $ref: '#/parameters/ParamTransactionMaxAmount'
      - $ref: '#/parameters/ParamTransactionText'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingTransactionList'
      x-version: "1"
    post:
      summary: Get Transactions For Specific Accounts
      description: Obtain transactions for a specified list of transactions.
      operationId: listTransactionsSpecificAccounts
      x-scopes:
      - bank_transactions
      tags:
      - Banking
      - Accounts
      parameters:
      - $ref: '#/parameters/ParamTransactionNewestTime'
      - $ref: '#/parameters/ParamTransactionOldestTime'
      - $ref: '#/parameters/ParamTransactionMinAmount'
      - $ref: '#/parameters/ParamTransactionMaxAmount'
      - $ref: '#/parameters/ParamTransactionText'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - name: accountIds
        in: body
        description: The list of account IDs to obtain information for
        required: true
        schema:
          $ref: '#/definitions/RequestAccountIds'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingTransactionList'
        422:
          description: The request was well formed but was unable to be processed
            due to business logic specific to the request
          schema:
            $ref: '#/definitions/ResponseErrorList'
      x-version: "1"
  /banking/accounts/{accountId}/direct-debits:
    get:
      summary: Get Direct Debits For Account
      description: Obtain direct debit authorisations for a specific account
      operationId: listDirectDebits
      x-scopes:
      - bank_regular_payments
      tags:
      - Banking
      - Direct Debits
      parameters:
      - name: accountId
        in: path
        description: ID of the account to get direct debit authorisations for.  Must
          have previously been returned by one of the account list end points.
        required: true
        type: string
        x-cds-type: ASCIIString
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingDirectDebitAuthorisationList'
      x-version: "1"
  /banking/accounts/direct-debits:
    get:
      summary: Get Bulk Direct Debits
      description: Obtain direct debit authorisations for multiple, filtered accounts
      operationId: listDirectDebitsBulk
      x-scopes:
      - bank_regular_payments
      tags:
      - Banking
      - Direct Debits
      parameters:
      - $ref: '#/parameters/ParamProductCategory'
      - $ref: '#/parameters/ParamAccountOpenStatus'
      - $ref: '#/parameters/ParamAccountIsOwned'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingDirectDebitAuthorisationList'
      x-version: "1"
    post:
      summary: Get Direct Debits For Specific Accounts
      description: Obtain direct debit authorisations for a specified list of accounts
      operationId: listDirectDebitsSpecificAccounts
      x-scopes:
      - bank_regular_payments
      tags:
      - Banking
      - Direct Debits
      parameters:
      - name: accountIds
        in: body
        description: Array of specific accountIds to obtain authorisations for
        required: true
        schema:
          $ref: '#/definitions/RequestAccountIds'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingDirectDebitAuthorisationList'
        422:
          description: The request was well formed but was unable to be processed
            due to business logic specific to the request
          schema:
            $ref: '#/definitions/ResponseErrorList'
      x-version: "1"
  /banking/accounts/{accountId}/payments/scheduled:
    get:
      summary: Get Scheduled Payments for Account
      description: Obtain scheduled, outgoing payments for a specific account
      operationId: listScheduledPayments
      x-scopes:
      - bank_regular_payments
      tags:
      - Banking
      - Scheduled Payments
      parameters:
      - name: accountId
        in: path
        description: ID of the account to get scheduled payments for. Must have previously
          been returned by one of the account list end points. The account specified
          is the source account for the payment
        required: true
        type: string
        x-cds-type: ASCIIString
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingScheduledPaymentsList'
      x-version: "1"
  /banking/payments/scheduled:
    get:
      summary: Get Scheduled Payments Bulk
      description: Obtain scheduled payments for multiple, filtered accounts that
        are the source of funds for the payments
      operationId: listScheduledPaymentsBulk
      x-scopes:
      - bank_regular_payments
      tags:
      - Banking
      - Scheduled Payments
      parameters:
      - $ref: '#/parameters/ParamProductCategory'
      - $ref: '#/parameters/ParamAccountOpenStatus'
      - $ref: '#/parameters/ParamAccountIsOwned'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingScheduledPaymentsList'
      x-version: "1"
    post:
      summary: Get Scheduled Payments For Specific Accounts
      description: Obtain scheduled payments for a specified list of accounts
      operationId: listScheduledPaymentsSpecificAccounts
      x-scopes:
      - bank_regular_payments
      tags:
      - Banking
      - Scheduled Payments
      parameters:
      - name: accountIds
        in: body
        description: Array of specific accountIds to obtain scheduled payments for.  The
          accounts specified are the source of funds for the payments returned
        required: true
        schema:
          $ref: '#/definitions/RequestAccountIds'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingScheduledPaymentsList'
        422:
          description: The request was well formed but was unable to be processed
            due to business logic specific to the request
          schema:
            $ref: '#/definitions/ResponseErrorList'
      x-version: "1"
  /banking/payees:
    get:
      summary: Get Payees
      description: Obtain a list of pre-registered payees
      operationId: listPayees
      x-scopes:
      - bank_basic_accounts
      tags:
      - Banking
      - Payees
      parameters:
      - name: type
        in: query
        description: Filter on the payee type field.  In addition to normal type field
          values, ALL can be specified to retrieve all payees.  If absent the assumed
          value is ALL
        required: false
        type: string
        enum:
        - DOMESTIC
        - INTERNATIONAL
        - BILLER
        - ALL
        default: ALL
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingPayeeList'
      x-version: "1"
  /banking/payees/{payeeId}:
    get:
      summary: Get Payee Detail
      description: Obtain detailed information on a single payee
      operationId: getPayeeDetail
      x-scopes:
      - bank_payees
      tags:
      - Banking
      - Payees
      parameters:
      - name: payeeId
        in: path
        description: The ID used to locate the details of a particular payee
        required: true
        type: string
        x-cds-type: ASCIIString
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingPayeeById'
      x-version: "1"
  /banking/products:
    get:
      summary: Get Products
      description: Obtain a list of products that are currently openly offered to
        the marketnnNote that the results returned by this end point are expected
        to be ordered according to updated-sincenn### ConventionsnIn the product reference
        payloads there are a number of recurring conventions that are explained here,
        in one place.nn#### Arrays Of FeaturesnnIn the product detail payload there
        are a number of arrays articulating generic features, constraints, prices,
        etc. The intent of these arrays is as follows:nn- Each element in an array
        has the same structure so that clients can reliably interpret the payloadsn-
        Each element as a type element that is an enumeration of the specific aspect
        of a product being described, such as types of fees.n- Each element has a
        field name [additionalValue](#productfeaturetypedoc).  This is a generic field
        with contents that will vary based on the type of object being described.
        The contents of this field for the ADDITIONAL_CARDS feature is the number
        of cards allowed while the contents of this field for the MAX_LIMIT constraint
        would be the maximum credit limit allowed for the product.n- An element in
        these arrays of the same type may appear more than once. For instance, a product
        may offer two separate loyalty programs that the customer can select from.
        A fixed term mortgage may have different rates for different term lengths.n-
        An element in these arrays may contain an additionalInfo and additionalInfoUri
        field. The additionalInfo field is used to provide displayable text clarifying
        the purpose of the element in some way when the product is presented to a
        customer. The additionalInfoUri provides a link to externally hosted information
        specifically relevant to that feature of the product.n- Depending on the type
        of data being represented there may be additional specific fields.nn#### URIs
        To More InformationnnAs the complexities and nuances of a financial product
        can not easily be fully expressed in a data structure without a high degree
        of complexity it is necessary to provide additional reference information
        that a potential customer can access so that they are fully informed of the
        features and implications of the product. The payloads for product reference
        therefore contain numerous fields that are provided to allow the product provider
        to describe the product more fully using a web page hosted on their online
        channels.nnThese URIs do not need to all link to different pages. If desired,
        they can all link to a single hosted page and use difference HTML anchors
        to focus on a specific topic such as eligibility or fees.nn#### Linkage To
        AccountsnFrom the moment that a customer applies for a product and an account
        is created the account and the product that spawned it will diverge.  Rates
        and features of the product may change and a discount may be negotiated for
        the account.nnFor this reason, while productCategory is a common field between
        accounts and products, there is no specific ID that can be used to link an
        account to a product within the regime.nnSimilarly, many of the fields and
        objects in the product payload will appear in the account detail payload but
        the structures and semantics are not identical as one refers to a product
        that can potentially be originated and one refers to an account that actual
        has been instantiated and created along with the associated decisions inherent
        in that process.nn#### DatesnIt is expected that data consumers needing this
        data will call relatively frequently to ensure the data they have is representative
        of the current offering from a bank.  To minimise the volume and frequency
        of these calls the ability to set a lastUpdated field with the date and time
        of the last update to this product is included.  A call for a list of products
        can then be filtered to only return products that have been updated since
        the last time that data was obtained using the updated-since query parameter.nnIn
        addition, the concept of effective date and time has also been included.  This
        allows for a product to be marked for obsolescence, or introduction, from
        a certain time without the need for an update to show that a product has been
        changed.  The inclusion of these dates also removes the need to represent
        deleted products in the payload.  Products that are no long offered can be
        marked not effective for a few weeks before they are then removed from the
        product set as an option entirely.
      operationId: listProducts
      tags:
      - Banking
      - Products
      parameters:
      - name: effective
        in: query
        description: Allows for the filtering of products based on whether the current
          time is within the period of time defined as effective by the effectiveFrom
          and effectiveTo fields. Valid values are u2018CURRENTu2019, u2018FUTUREu2019
          and u2018ALLu2019. If absent defaults to 'CURRENT'
        required: false
        type: string
        enum:
        - CURRENT
        - FUTURE
        - ALL
        default: CURRENT
      - name: updated-since
        in: query
        description: Only include products that have been updated after the specified
          date and time. If absent defaults to include all products
        required: false
        type: string
        x-cds-type: DateTimeString
      - name: brand
        in: query
        description: Filter results based on a specific brand
        required: false
        type: string
      - $ref: '#/parameters/ParamProductCategory'
      - $ref: '#/parameters/ParamPage'
      - $ref: '#/parameters/ParamPageSize'
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingProductList'
      x-version: "1"
  /banking/products/{productId}:
    get:
      summary: Get Product Detail
      description: Obtain detailed information on a single product offered openly
        to the market
      operationId: getProductDetail
      tags:
      - Banking
      - Products
      parameters:
      - name: productId
        in: path
        description: ID of the specific product requested
        required: true
        type: string
        x-cds-type: ASCIIString
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingProductById'
      x-version: "1"
  /common/customer:
    get:
      summary: Get Customer
      description: Obtain basic information on the customer that has authorised the
        current session
      operationId: getCustomer
      x-scopes:
      - common_basic_customer
      tags:
      - Common
      - Customer
      parameters:
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseCommonCustomer'
      x-version: "1"
  /common/customer/detail:
    get:
      summary: Get Customer Detail
      description: Obtain detailed information on the authorised customer within the
        current session.
      operationId: getCustomerDetail
      x-scopes:
      - common_detailed_customer
      tags:
      - Common
      - Customer
      parameters:
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseCommonCustomerDetail'
      x-version: "1"
  /discovery/status:
    get:
      summary: Get Status
      description: Obtain a health check status for the implementation
      operationId: getStatus
      tags:
      - Common
      - Discovery
      parameters:
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseDiscoveryStatus'
      x-version: "1"
  /discovery/outages:
    get:
      summary: Get Outages
      description: Obtain a list of scheduled outages for the implementation
      operationId: getOutages
      tags:
      - Common
      - Discovery
      parameters:
      - $ref: '#/parameters/RequestHeader_x-v'
      - $ref: '#/parameters/RequestHeader_x-min-v'
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](##response-headers) of the API end point
                that the provider has responded with.
          schema:
            $ref: '#/definitions/ResponseDiscoveryOutages'
      x-version: "1"
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":76:{s:17:\"RequestAccountIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"accountIds\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"accountIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Array
  of specific accountIds to obtain authorisations for\";s:10:\"x-cds-type\";s:11:\"ASCIIString\";}}}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}}s:26:\"ResponseBankingProductList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:5:\"links\";i:2;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"products\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"products\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  list of products returned.  If the filter results in an empty set then this array
  may have no records\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BankingProduct\";}}}}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinksPaginated\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MetaPaginated\";}}}s:14:\"BankingProduct\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:9:\"productId\";i:1;s:11:\"lastUpdated\";i:2;s:15:\"productCategory\";i:3;s:4:\"name\";i:4;s:11:\"description\";i:5;s:5:\"brand\";i:6;s:10:\"isTailored\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:166:\"A
  provider specific unique identifier for this product. This identifier must be unique
  to a product but does not otherwise need to adhere to ID permanence guidelines.\";s:10:\"x-cds-type\";s:11:\"ASCIIString\";}s:13:\"effectiveFrom\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:202:\"The
  date and time from which this product is effective (ie. is available for origination).
  \ Used to enable the articulation of products to the regime before they are available
  for customers to originate\";s:10:\"x-cds-type\";s:14:\"DateTimeString\";}s:11:\"effectiveTo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:138:\"The
  date and time at which this product will be retired and will no longer be offered.
  \ Used to enable the managed deprecation of products\";s:10:\"x-cds-type\";s:14:\"DateTimeString\";}s:11:\"lastUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:140:\"The
  last date and time that the information for this product was changed (or the creation
  date for the product if it has never been altered)\";s:10:\"x-cds-type\";s:14:\"DateTimeString\";}s:15:\"productCategory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/BankingProductCategory\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  display name of the product\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"A
  description of the product\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"A
  label of the brand for the product. Able to be used for filtering. For data providers
  with single brands this value is still required\";}s:9:\"brandName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"An
  optional display name of the brand\";}s:14:\"applicationUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  link to an application web page where this product can be applied for.\";s:10:\"x-cds-type\";s:9:\"URIString\";}s:10:\"isTailored\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:327:\"Indicates
  whether the product is specifically tailored to a circumstance.  In this case fees
  and prices are significantly negotiated depending on context. While all products
  are open to a degree of tailoring this flag indicates that tailoring is expected
  and thus that the provision of specific fees and rates is not applicable\";s:10:\"x-cds-type\";s:7:\"Boolean\";}s:21:\"additionalInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Object
  that contains links to additional information on specific topics\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"overviewUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"General
  overview of the product\";s:10:\"x-cds-type\";s:9:\"URIString\";}s:8:\"termsUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Terms
  and conditions for the product\";s:10:\"x-cds-type\";s:9:\"URIString\";}s:14:\"eligibilityUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Eligibility
  rules and criteria for the product\";s:10:\"x-cds-type\";s:9:\"URIString\";}s:17:\"feesAndPricingUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Description
  of fees, pricing, discounts, exemptions and bonuses for the product\";s:10:\"x-cds-type\";s:9:\"URIString\";}s:9:\"bundleUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Description
  of a bundle that this product can be part of\";s:10:\"x-cds-type\";s:9:\"URIString\";}}}}}s:26:\"ResponseBankingProductById\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:5:\"links\";i:2;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BankingProductDetail\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}}s:20:\"BankingProductDetail\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BankingProduct\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"bundles\";O:8:\"stdClass\":3:{s:11:\"description\";s:265:\"An
  array of bundles that this product participates in.  Each bundle is described by
  free form information but also by a list of product IDs of the other products that
  are included in the bundle.  It is assumed that the current product is included
  in the bundle also\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BankingProductBundle\";}}s:8:\"features\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Array
  of features available for the product\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BankingProductFeature\";}}s:11:\"constraints\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Constraints
  on the application for or operation of the product such as minimum balances or limit
  thresholds\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BankingProductConstraint\";}}s:11:\"eligibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Eligibility
  criteria for the product\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BankingProductEligibility\";}}s:4:\"fees\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Fees
  applicable for the product\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BankingProductFee\";}}s:12:\"depositRates\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Interest
  rates available for deposits\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BankingProductDepositRate\";}}s:12:\"lendingRates\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Interest
  rates charged against lending balances\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BankingProductLendingRate\";}}}}}}s:20:\"BankingProductBundle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:11:\"description\";i:2;s:10:\"productIds\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of the bundle\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Description
  of the bundle\";}s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Display
  text providing more information on the bundle\";}s:17:\"additionalInfoUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"Link
  to a web page with more information on the bundle criteria and benefits\";s:10:\"x-cds-type\";s:9:\"URIString\";}s:10:\"productIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:56:\"Array
  of product IDs for products included in the bundle\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-cds-type\";s:11:\"ASCIIString\";}}}}s:21:\"BankingProductFeature\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"featureType\";}s:13:\"x-conditional\";a:2:{i:0;s:15:\"additionalValue\";i:1;s:14:\"additionalInfo\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"featureType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  type of feature described\";s:4:\"enum\";a:23:{i:0;s:11:\"CARD_ACCESS\";i:1;s:16:\"ADDITIONAL_CARDS\";i:2;s:14:\"UNLIMITED_TXNS\";i:3;s:9:\"FREE_TXNS\";i:4;s:19:\"FREE_TXNS_ALLOWANCE\";i:5;s:15:\"LOYALTY_PROGRAM\";i:6;s:6:\"OFFSET\";i:7;s:9:\"OVERDRAFT\";i:8;s:6:\"REDRAW\";i:9;s:9:\"INSURANCE\";i:10;s:17:\"BALANCE_TRANSFERS\";i:11;s:13:\"INTEREST_FREE\";i:12;s:23:\"INTEREST_FREE_TRANSFERS\";i:13;s:14:\"DIGITAL_WALLET\";i:14;s:15:\"DIGITAL_BANKING\";i:15;s:9:\"NPP_PAYID\";i:16;s:11:\"NPP_ENABLED\";i:17;s:15:\"DONATE_INTEREST\";i:18;s:12:\"BILL_PAYMENT\";i:19;s:31:\"COMPLEMENTARY_PRODUCT_DISCOUNTS\";i:20;s:13:\"BONUS_REWARDS\";i:21;s:13:\"NOTIFICATIONS\";i:22;s:5:\"OTHER\";}}s:15:\"additionalValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:217:\"Generic
  field containing additional information relevant to the [featureType](#tocSproductfeaturetypedoc)
  specified. Whether mandatory or not is dependent on the value of the [featureType.](#tocSproductfeaturetypedoc)\";}s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"Display
  text providing more information on the feature. Mandatory if the [feature type](#tocSproductfeaturetypedoc)
  is set to OTHER\";}s:17:\"additionalInfoUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Link
  to a web page with more information on this feature\";s:10:\"x-cds-type\";s:9:\"URIString\";}}}s:24:\"BankingProductConstraint\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"constraintType\";}s:13:\"x-conditional\";a:1:{i:0;s:15:\"additionalValue\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"constraintType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"The
  type of constraint described.  See the next section for an overview of valid values
  and their meaning\";s:4:\"enum\";a:5:{i:0;s:11:\"MIN_BALANCE\";i:1;s:11:\"MAX_BALANCE\";i:2;s:15:\"OPENING_BALANCE\";i:3;s:9:\"MAX_LIMIT\";i:4;s:9:\"MIN_LIMIT\";}}s:15:\"additionalValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:225:\"Generic
  field containing additional information relevant to the [constraintType](#tocSproductconstrainttypedoc)
  specified.  Whether mandatory or not is dependent on the value of [constraintType](#tocSproductconstrainttypedoc)\";}s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Display
  text providing more information the constraint\";}s:17:\"additionalInfoUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Link
  to a web page with more information on the constraint\";s:10:\"x-cds-type\";s:9:\"URIString\";}}}s:25:\"BankingProductEligibility\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"eligibilityType\";}s:13:\"x-conditional\";a:2:{i:0;s:15:\"additionalValue\";i:1;s:14:\"additionalInfo\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"eligibilityType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"The
  type of eligibility criteria described.  See the next section for an overview of
  valid values and their meaning\";s:4:\"enum\";a:12:{i:0;s:8:\"BUSINESS\";i:1;s:17:\"PENSION_RECIPIENT\";i:2;s:7:\"MIN_AGE\";i:3;s:7:\"MAX_AGE\";i:4;s:10:\"MIN_INCOME\";i:5;s:12:\"MIN_TURNOVER\";i:6;s:5:\"STAFF\";i:7;s:7:\"STUDENT\";i:8;s:17:\"EMPLOYMENT_STATUS\";i:9;s:16:\"RESIDENCY_STATUS\";i:10;s:14:\"NATURAL_PERSON\";i:11;s:5:\"OTHER\";}}s:15:\"additionalValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:229:\"Generic
  field containing additional information relevant to the [eligibilityType](#tocSproducteligibilitytypedoc)
  specified.  Whether mandatory or not is dependent on the value of [eligibilityType](#tocSproducteligibilitytypedoc)\";}s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:157:\"Display
  text providing more information on the eligibility criteria. Mandatory if the [eligibilityType](#tocSproducteligibilitytypedoc)
  field is set to OTHER\";}s:17:\"additionalInfoUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Link
  to a web page with more information on this eligibility criteria\";s:10:\"x-cds-type\";s:9:\"URIString\";}}}s:17:\"BankingProductFee\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"feeType\";}s:13:\"x-conditional\";a:5:{i:0;s:15:\"additionalValue\";i:1;s:6:\"amount\";i:2;s:11:\"balanceRate\";i:3;s:15:\"transactionRate\";i:4;s:11:\"accruedRate\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Name
  of the fee\";}s:7:\"feeType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  type of fee\";s:4:\"enum\";a:9:{i:0;s:8:\"PERIODIC\";i:1;s:11:\"TRANSACTION\";i:2;s:10:\"WITHDRAWAL\";i:3;s:7:\"DEPOSIT\";i:4;s:7:\"PAYMENT\";i:5;s:8:\"PURCHASE\";i:6;s:5:\"EVENT\";i:7;s:7:\"UPFRONT\";i:8;s:4:\"EXIT\";}}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"The
  amount charged for the fee. One of amount, balanceRate, transactionRate and accruedRate
  is mandatory\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:11:\"balanceRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"A
  fee rate calculated based on a proportion of the balance. One of amount, balanceRate,
  transactionRate and accruedRate is mandatory\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:15:\"transactionRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:134:\"A
  fee rate calculated based on a proportion of a transaction. One of amount, balanceRate,
  transactionRate and accruedRate is mandatory\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:11:\"accruedRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:167:\"A
  fee rate calculated based on a proportion of the calculated interest accrued on
  the account. One of amount, balanceRate, transactionRate and accruedRate is mandatory\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:16:\"accrualFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:227:\"The
  indicative frequency with which the fee is calculated on the account. Only applies
  if balanceRate or accruedRate is also present. Formatted according to [ISO 8601
  Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)\";s:10:\"x-cds-type\";s:11:\"ExternalRef\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"The
  currency the fee will be charged in. Assumes AUD if absent\";s:10:\"x-cds-type\";s:14:\"CurrencyString\";}s:15:\"additionalValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:196:\"Generic
  field containing additional information relevant to the [feeType](#tocSproductfeetypedoc)
  specified. Whether mandatory or not is dependent on the value of [feeType](#tocSproductfeetypedoc)\";}s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Display
  text providing more information on the fee\";}s:17:\"additionalInfoUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Link
  to a web page with more information on this fee\";s:10:\"x-cds-type\";s:9:\"URIString\";}s:9:\"discounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"An
  optional list of discounts to this fee that may be available\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/BankingProductDiscount\";}}}}s:22:\"BankingProductDiscount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:11:\"description\";i:1;s:12:\"discountType\";i:2;s:6:\"amount\";}s:13:\"x-conditional\";a:5:{i:0;s:11:\"balanceRate\";i:1;s:15:\"transactionRate\";i:2;s:11:\"accruedRate\";i:3;s:7:\"feeRate\";i:4;s:15:\"additionalValue\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Description
  of the discount\";}s:12:\"discountType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"The
  type of discount. See the next section for an overview of valid values and their
  meaning\";s:4:\"enum\";a:5:{i:0;s:7:\"BALANCE\";i:1;s:8:\"DEPOSITS\";i:2;s:8:\"PAYMENTS\";i:3;s:7:\"FEE_CAP\";i:4;s:16:\"ELIGIBILITY_ONLY\";}}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Value
  of the discount\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:11:\"balanceRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:372:\"A
  discount rate calculated based on a proportion of the balance. Note that the currency
  of the fee discount is expected to be the same as the currency of the fee itself.
  One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory.
  Unless noted in additionalInfo, assumes the application and calculation frequency
  are the same as the corresponding fee\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:15:\"transactionRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:253:\"A
  discount rate calculated based on a proportion of a transaction. Note that the currency
  of the fee discount is expected to be the same as the currency of the fee itself.
  One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:11:\"accruedRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:407:\"A
  discount rate calculated based on a proportion of the calculated interest accrued
  on the account. Note that the currency of the fee discount is expected to be the
  same as the currency of the fee itself. One of amount, balanceRate, transactionRate,
  accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the
  application and calculation frequency are the same as the corresponding fee\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:7:\"feeRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:403:\"A
  discount rate calculated based on a proportion of the fee to which this discount
  is attached. Note that the currency of the fee discount is expected to be the same
  as the currency of the fee itself. One of amount, balanceRate, transactionRate,
  accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the
  application and calculation frequency are the same as the corresponding fee\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:15:\"additionalValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:216:\"Generic
  field containing additional information relevant to the [discountType](#tocSproductdiscounttypedoc)
  specified. Whether mandatory or not is dependent on the value of [discountType](#tocSproductdiscounttypedoc)\";}s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Display
  text providing more information on the discount\";}s:17:\"additionalInfoUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Link
  to a web page with more information on this discount\";s:10:\"x-cds-type\";s:9:\"URIString\";}s:11:\"eligibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Eligibility
  constraints that apply to this discount\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/BankingProductDiscountEligibility\";}}}}s:33:\"BankingProductDiscountEligibility\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:23:\"discountEligibilityType\";}s:13:\"x-conditional\";a:1:{i:0;s:15:\"additionalValue\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"discountEligibilityType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"The
  type of the specific eligibility constraint for a discount\";s:4:\"enum\";a:13:{i:0;s:8:\"BUSINESS\";i:1;s:17:\"PENSION_RECIPIENT\";i:2;s:7:\"MIN_AGE\";i:3;s:7:\"MAX_AGE\";i:4;s:10:\"MIN_INCOME\";i:5;s:12:\"MIN_TURNOVER\";i:6;s:5:\"STAFF\";i:7;s:7:\"STUDENT\";i:8;s:17:\"EMPLOYMENT_STATUS\";i:9;s:16:\"RESIDENCY_STATUS\";i:10;s:14:\"NATURAL_PERSON\";i:11;s:12:\"INTRODUCTORY\";i:12;s:5:\"OTHER\";}}s:15:\"additionalValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:252:\"Generic
  field containing additional information relevant to the [discountEligibilityType](#tocSproductdiscounteligibilitydoc)
  specified. Whether mandatory or not is dependent on the value of [discountEligibilityType](#tocSproductdiscounteligibilitydoc)\";}s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Display
  text providing more information on this eligibility constraint\";}s:17:\"additionalInfoUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"Link
  to a web page with more information on this eligibility constraint\";s:10:\"x-cds-type\";s:9:\"URIString\";}}}s:25:\"BankingProductDepositRate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:15:\"depositRateType\";i:1;s:4:\"rate\";}s:13:\"x-conditional\";a:1:{i:0;s:15:\"additionalValue\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"depositRateType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"The
  type of rate (base, bonus, etc). See the next section for an overview of valid values
  and their meaning\";s:4:\"enum\";a:7:{i:0;s:5:\"FIXED\";i:1;s:5:\"BONUS\";i:2;s:12:\"BUNDLE_BONUS\";i:3;s:8:\"VARIABLE\";i:4;s:12:\"INTRODUCTORY\";i:5;s:8:\"FLOATING\";i:6;s:13:\"MARKET_LINKED\";}}s:4:\"rate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  rate to be applied\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:20:\"calculationFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:356:\"The
  period after which the rate is applied to the balance to calculate the amount due
  for the period. Calculation of the amount is often daily (as balances may change)
  but accumulated until the total amount is 'applied' to the account (see applicationFrequency).
  Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)\";s:10:\"x-cds-type\";s:11:\"ExternalRef\";}s:20:\"applicationFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:225:\"The
  period after which the calculated amount(s) (see calculationFrequency) are 'applied'
  (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)\";s:10:\"x-cds-type\";s:11:\"ExternalRef\";}s:5:\"tiers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:35:\"Rate
  tiers applicable for this rate\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/BankingProductRateTier\";}}s:15:\"additionalValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:228:\"Generic
  field containing additional information relevant to the [depositRateType](#tocSproductdepositratetypedoc)
  specified. Whether mandatory or not is dependent on the value of [depositRateType](#tocSproductdepositratetypedoc)\";}s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Display
  text providing more information on the rate\";}s:17:\"additionalInfoUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Link
  to a web page with more information on this rate\";s:10:\"x-cds-type\";s:9:\"URIString\";}}}s:25:\"BankingProductLendingRate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:15:\"lendingRateType\";i:1;s:4:\"rate\";}s:13:\"x-conditional\";a:1:{i:0;s:15:\"additionalValue\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"lendingRateType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"The
  type of rate (fixed, variable, etc). See the next section for an overview of valid
  values and their meaning\";s:4:\"enum\";a:11:{i:0;s:5:\"FIXED\";i:1;s:8:\"VARIABLE\";i:2;s:12:\"INTRODUCTORY\";i:3;s:8:\"DISCOUNT\";i:4;s:7:\"PENALTY\";i:5;s:8:\"FLOATING\";i:6;s:13:\"MARKET_LINKED\";i:7;s:12:\"CASH_ADVANCE\";i:8;s:8:\"PURCHASE\";i:9;s:21:\"BUNDLE_DISCOUNT_FIXED\";i:10;s:24:\"BUNDLE_DISCOUNT_VARIABLE\";}}s:4:\"rate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  rate to be applied\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:14:\"comparisonRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"A
  comparison rate equivalent for this rate\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:20:\"calculationFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:356:\"The
  period after which the rate is applied to the balance to calculate the amount due
  for the period. Calculation of the amount is often daily (as balances may change)
  but accumulated until the total amount is 'applied' to the account (see applicationFrequency).
  Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)\";s:10:\"x-cds-type\";s:11:\"ExternalRef\";}s:20:\"applicationFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:225:\"The
  period after which the calculated amount(s) (see calculationFrequency) are 'applied'
  (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)\";s:10:\"x-cds-type\";s:11:\"ExternalRef\";}s:18:\"interestPaymentDue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"When
  loan payments are due to be paid within each period. The investment benefit of earlier
  payments affect the rate that can be offered\";s:4:\"enum\";a:2:{i:0;s:10:\"IN_ARREARS\";i:1;s:10:\"IN_ADVANCE\";}}s:5:\"tiers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:35:\"Rate
  tiers applicable for this rate\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/BankingProductRateTier\";}}s:15:\"additionalValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:228:\"Generic
  field containing additional information relevant to the [lendingRateType](#tocSproductlendingratetypedoc)
  specified. Whether mandatory or not is dependent on the value of [lendingRateType](#tocSproductlendingratetypedoc)\";}s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Display
  text providing more information on the rate.\";}s:17:\"additionalInfoUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Link
  to a web page with more information on this rate\";s:10:\"x-cds-type\";s:9:\"URIString\";}}}s:22:\"BankingProductRateTier\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:60:\"Defines
  the criteria and conditions for which a rate applies\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:13:\"unitOfMeasure\";i:2;s:12:\"minimumValue\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"A
  display name for the tier\";}s:13:\"unitOfMeasure\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:198:\"The
  unit of measure that applies to the tierValueMinimum and tierValueMaximum values
  e.g. 'DOLLAR', 'MONTH' (in the case of term deposit tiers), 'PERCENT' (in the case
  of loan-to-value ratio or LVR)\";s:4:\"enum\";a:4:{i:0;s:6:\"DOLLAR\";i:1;s:7:\"PERCENT\";i:2;s:5:\"MONTH\";i:3;s:3:\"DAY\";}}s:12:\"minimumValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:119:\"The
  number of tierUnitOfMeasure units that form the lower bound of the tier. The tier
  should be inclusive of this value\";}s:12:\"maximumValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:509:\"The
  number of tierUnitOfMeasure units that form the upper bound of the tier or band.
  For a tier with a discrete value (as opposed to a range of values e.g. 1 month)
  this must be the same as tierValueMinimum. Where this is the same as the tierValueMinimum
  value of the next-higher tier the referenced tier should be exclusive of this value.
  For example a term deposit of 2 months falls into the upper tier of the following
  tiers: (1 \u2013 2 months, 2 \u2013 3 months). If absent the tier's range has no
  upper bound.\";}s:21:\"rateApplicationMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:261:\"The
  method used to calculate the amount to be applied using one or more tiers. A single
  rate may be applied to the entire balance or each applicable tier rate is applied
  to the portion of the balance that falls into that tier (referred to as 'bands'
  or 'steps')\";s:4:\"enum\";a:2:{i:0;s:13:\"WHOLE_BALANCE\";i:1;s:8:\"PER_TIER\";}}s:23:\"applicabilityConditions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/BankingProductRateCondition\";}s:7:\"subTier\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:69:\"Defines
  the sub-tier criteria and conditions for which a rate applies\";s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:13:\"unitOfMeasure\";i:2;s:12:\"minimumValue\";i:3;s:12:\"maximumValue\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"A
  display name for the tier\";}s:13:\"unitOfMeasure\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:198:\"The
  unit of measure that applies to the tierValueMinimum and tierValueMaximum values
  e.g. 'DOLLAR', 'MONTH' (in the case of term deposit tiers), 'PERCENT' (in the case
  of loan-to-value ratio or LVR)\";s:4:\"enum\";a:4:{i:0;s:6:\"DOLLAR\";i:1;s:7:\"PERCENT\";i:2;s:5:\"MONTH\";i:3;s:3:\"DAY\";}}s:12:\"minimumValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:119:\"The
  number of tierUnitOfMeasure units that form the lower bound of the tier. The tier
  should be inclusive of this value\";}s:12:\"maximumValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:461:\"The
  number of tierUnitOfMeasure units that form the upper bound of the tier or band.
  For a tier with a discrete value (as opposed to a range of values e.g. 1 month)
  this must be the same as tierValueMinimum. Where this is the same as the tierValueMinimum
  value of the next-higher tier the referenced tier should be exclusive of this value.
  For example a term deposit of 2 months falls into the upper tier of the following
  tiers: (1 \u2013 2 months, 2 \u2013 3 months)\";}s:21:\"rateApplicationMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:261:\"The
  method used to calculate the amount to be applied using one or more tiers. A single
  rate may be applied to the entire balance or each applicable tier rate is applied
  to the portion of the balance that falls into that tier (referred to as 'bands'
  or 'steps')\";s:4:\"enum\";a:2:{i:0;s:13:\"WHOLE_BALANCE\";i:1;s:8:\"PER_TIER\";}}s:23:\"applicabilityConditions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/BankingProductRateCondition\";}}}}}s:27:\"BankingProductRateCondition\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:58:\"Defines
  a condition for the applicability of a tiered rate\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Display
  text providing more information on the condition\";}s:17:\"additionalInfoUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Link
  to a web page with more information on this condition\";s:10:\"x-cds-type\";s:9:\"URIString\";}}}s:26:\"ResponseBankingAccountList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:5:\"links\";i:2;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"accounts\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"accounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:104:\"The
  list of accounts returned. If the filter results in an empty set then this array
  may have no records\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BankingAccount\";}}}}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinksPaginated\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MetaPaginated\";}}}s:14:\"BankingAccount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:9:\"accountId\";i:1;s:11:\"displayName\";i:2;s:12:\"maskedNumber\";i:3;s:15:\"productCategory\";i:4;s:11:\"productName\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"A
  unique ID of the account adhering to the standards for ID permanence\";s:10:\"x-cds-type\";s:11:\"ASCIIString\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Date
  that the account was created (if known)\";s:10:\"x-cds-type\";s:10:\"DateString\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:210:\"The
  display name of the account as defined by the bank. This should not incorporate
  account numbers or PANs. If it does the values should be masked according to the
  rules of the MaskedAccountString common type.\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"A
  customer supplied nick name for the account\";}s:10:\"openStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Open
  or closed status for the account. If not present then OPEN is assumed\";s:4:\"enum\";a:2:{i:0;s:4:\"OPEN\";i:1;s:6:\"CLOSED\";}s:7:\"default\";s:4:\"OPEN\";}s:7:\"isOwned\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:176:\"Flag
  indicating that the customer associated with the authorisation is an owner of the
  account. Does not indicate sole ownership, however. If not present then 'true' is
  assumed\";s:10:\"x-cds-type\";s:7:\"Boolean\";s:7:\"default\";b:1;}s:12:\"maskedNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"A
  masked version of the account. Whether BSB/Account Number, Credit Card PAN or another
  number\";s:10:\"x-cds-type\";s:19:\"MaskedAccountString\";}s:15:\"productCategory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/BankingProductCategory\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  unique identifier of the account as defined by the account provider (akin to model
  number for the account)\";}}}s:26:\"ResponseBankingAccountById\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:5:\"links\";i:2;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BankingAccountDetail\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}}s:20:\"BankingAccountDetail\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BankingAccount\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:13:\"x-conditional\";a:3:{i:0;s:11:\"termDeposit\";i:1;s:10:\"creditCard\";i:2;s:4:\"loan\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:3:\"bsb\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:133:\"The
  unmasked BSB for the account. Is expected to be formatted as digits only with leading
  zeros included and no punctuation or spaces\";}s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:224:\"The
  unmasked account number for the account. Should not be supplied if the account number
  is a PAN requiring PCI compliance. Is expected to be formatted as digits only with
  leading zeros included and no punctuation or spaces\";}s:10:\"bundleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"Optional
  field to indicate if this account is part of a bundle that is providing additional
  benefit for to the customer\";}s:20:\"specificAccountUType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  type of structure to present account specific fields.\";s:4:\"enum\";a:3:{i:0;s:11:\"termDeposit\";i:1;s:10:\"creditCard\";i:2;s:4:\"loan\";}}s:11:\"termDeposit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BankingTermDepositAccount\";}s:10:\"creditCard\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BankingCreditCardAccount\";}s:4:\"loan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BankingLoanAccount\";}s:11:\"depositRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"current
  rate to calculate interest earned being applied to deposit balances as it stands
  at the time of the API call\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:11:\"lendingRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:121:\"The
  current rate to calculate interest payable being applied to lending balances as
  it stands at the time of the API call\";s:10:\"x-cds-type\";s:10:\"RateString\";}s:12:\"depositRates\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Fully
  described deposit rates for this account based on the equivalent structure in Product
  Reference\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BankingProductDepositRate\";}}s:12:\"lendingRates\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Fully
  described deposit rates for this account based on the equivalent structure in Product
  Reference\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BankingProductLendingRate\";}}s:8:\"features\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Array
  of features of the account based on the equivalent structure in Product Reference
  with the following additional field\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BankingProductFeature\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"isActivated\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:229:\"True
  if the feature is already activated and false if the feature is available for activation.
  Defaults to true if absent. (note this is an additional field appended to the feature
  object defined in the Product Reference payload)\";s:10:\"x-cds-type\";s:7:\"Boolean\";s:7:\"default\";b:1;}}}}}}s:4:\"fees\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Fees
  and charges applicable to the account based on the equivalent structure in Product
  Reference\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BankingProductFee\";}}s:9:\"addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  addresses for the account to be used for correspondence\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CommonPhysicalAddress\";}}}}}}s:25:\"BankingTermDepositAccount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:13:\"lodgementDate\";i:1;s:12:\"maturityDate\";i:2;s:20:\"maturityInstructions\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"lodgementDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  lodgement date of the original deposit\";s:10:\"x-cds-type\";s:10:\"DateString\";}s:12:\"maturityDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Maturity
  date for the term deposit\";s:10:\"x-cds-type\";s:10:\"DateString\";}s:14:\"maturityAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"Amount
  to be paid upon maturity. If absent it implies the amount to paid is variable and
  cannot currently be calculated\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:16:\"maturityCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"If
  absent assumes AUD\";s:10:\"x-cds-type\";s:14:\"CurrencyString\";}s:20:\"maturityInstructions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Current
  instructions on action to be taken at maturity\";s:4:\"enum\";a:2:{i:0;s:11:\"ROLLED_OVER\";i:1;s:20:\"PAID_OUT_AT_MATURITY\";}}}}s:24:\"BankingCreditCardAccount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:16:\"minPaymentAmount\";i:1;s:16:\"paymentDueAmount\";i:2;s:14:\"paymentDueDate\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"minPaymentAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  minimum payment amount due for the next card payment\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:16:\"paymentDueAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  amount due for the next card payment\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:15:\"paymentCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"If
  absent assumes AUD\";s:10:\"x-cds-type\";s:14:\"CurrencyString\";}s:14:\"paymentDueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Date
  that the next payment for the card is due\";s:10:\"x-cds-type\";s:10:\"DateString\";}}}s:18:\"BankingLoanAccount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:11:\"loanEndDate\";i:1;s:18:\"nextInstalmentDate\";i:2;s:18:\"repaymentFrequency\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:17:\"originalStartDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Optional
  original start date for the loan\";s:10:\"x-cds-type\";s:10:\"DateString\";}s:18:\"originalLoanAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Optional
  original loan value\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:20:\"originalLoanCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"If
  absent assumes AUD\";s:10:\"x-cds-type\";s:14:\"CurrencyString\";}s:11:\"loanEndDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Date
  that the loan is due to be repaid in full\";s:10:\"x-cds-type\";s:10:\"DateString\";}s:18:\"nextInstalmentDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Next
  date that an instalment is required\";s:10:\"x-cds-type\";s:10:\"DateString\";}s:19:\"minInstalmentAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Minimum
  amount of next instalment\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:21:\"minInstalmentCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"If
  absent assumes AUD\";s:10:\"x-cds-type\";s:14:\"CurrencyString\";}s:9:\"maxRedraw\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:126:\"Maximum
  amount of funds that can be redrawn. If not present redraw is not available even
  if the feature exists for the account\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:17:\"maxRedrawCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"If
  absent assumes AUD\";s:10:\"x-cds-type\";s:14:\"CurrencyString\";}s:9:\"minRedraw\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Minimum
  redraw amount\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:17:\"minRedrawCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"If
  absent assumes AUD\";s:10:\"x-cds-type\";s:14:\"CurrencyString\";}s:20:\"offsetAccountEnabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:79:\"Set
  to true if one or more offset accounts are configured for this loan account\";s:10:\"x-cds-type\";s:7:\"Boolean\";}s:16:\"offsetAccountIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:405:\"The
  accountIDs of the configured offset accounts attached to this loan. Only offset
  accounts that can be accesses under the current authorisation should be included.
  It is expected behaviour that offsetAccountEnabled is set to true but the offsetAccountIds
  field is absent or empty. This represents a situation where an offset account exists
  but details can not be accessed under the current authorisation\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-cds-type\";s:11:\"ASCIIString\";}}s:13:\"repaymentType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Options
  in place for repayments. If absent defaults to PRINCIPAL_AND_INTEREST\";s:4:\"enum\";a:2:{i:0;s:13:\"INTEREST_ONLY\";i:1;s:22:\"PRINCIPAL_AND_INTEREST\";}s:7:\"default\";s:22:\"PRINCIPAL_AND_INTEREST\";}s:18:\"repaymentFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:139:\"The
  expected or required repayment frequency. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)\";s:10:\"x-cds-type\";s:11:\"ExternalRef\";}}}s:30:\"ResponseBankingTransactionList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:5:\"links\";i:2;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"transactions\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BankingTransaction\";}}}}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinksPaginated\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MetaPaginated\";}}}s:18:\"BankingTransaction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:9:\"accountId\";i:1;s:17:\"isDetailAvailable\";i:2;s:4:\"type\";i:3;s:6:\"status\";i:4;s:11:\"description\";i:5;s:6:\"amount\";i:6;s:9:\"reference\";}s:13:\"x-conditional\";a:2:{i:0;s:13:\"transactionId\";i:1;s:15:\"postingDateTime\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"ID
  of the account for which transactions are provided\";s:10:\"x-cds-type\";s:11:\"ASCIIString\";}s:13:\"transactionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:263:\"A
  unique ID of the transaction adhering to the standards for ID permanence.  This
  is mandatory (through hashing if necessary) unless there are specific and justifiable
  technical reasons why a transaction cannot be uniquely identified for a particular
  account type\";s:10:\"x-cds-type\";s:11:\"ASCIIString\";}s:17:\"isDetailAvailable\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:121:\"True
  if extended information is available using the transaction detail end point. False
  if extended data is not available\";s:10:\"x-cds-type\";s:7:\"Boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  type of the transaction\";s:4:\"enum\";a:8:{i:0;s:3:\"FEE\";i:1;s:16:\"INTEREST_CHARGED\";i:2;s:13:\"INTEREST_PAID\";i:3;s:17:\"TRANSFER_OUTGOING\";i:4;s:17:\"TRANSFER_INCOMING\";i:5;s:7:\"PAYMENT\";i:6;s:12:\"DIRECT_DEBIT\";i:7;s:5:\"OTHER\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:209:\"Status
  of the transaction whether pending or posted. Note that there is currently no provision
  in the standards to guarantee the ability to correlate a pending transaction with
  an associated posted transaction\";s:4:\"enum\";a:2:{i:0;s:7:\"PENDING\";i:1;s:6:\"POSTED\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  transaction description as applied by the financial institution\";}s:15:\"postingDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:153:\"The
  time the transaction was posted. This field is Mandatory if the transaction has
  status POSTED.  This is the time that appears on a standard statement\";s:10:\"x-cds-type\";s:14:\"DateTimeString\";}s:13:\"valueDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:177:\"Date
  and time at which assets become available to the account owner in case of a credit
  entry, or cease to be available to the account owner in case of a debit transaction
  entry\";s:10:\"x-cds-type\";s:14:\"DateTimeString\";}s:17:\"executionDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"The
  time the transaction was executed by the originating customer, if available\";s:10:\"x-cds-type\";s:14:\"DateTimeString\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"The
  value of the transaction. Negative values mean money was outgoing from the account\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  currency for the transaction amount. AUD assumed if not present\";s:10:\"x-cds-type\";s:14:\"CurrencyString\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  reference for the transaction provided by the originating institution.  Empty string
  if no data provided\";}s:12:\"merchantName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Name
  of the merchant for an outgoing payment to a merchant\";}s:20:\"merchantCategoryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  merchant category code (or MCC) for an outgoing payment to a merchant\";}s:10:\"billerCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"BPay
  Biller Code for the transaction (if available)\";}s:10:\"billerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Name
  of the BPay biller for the transaction (if available)\";}s:3:\"crn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"BPay
  CRN for the transaction (if available)\";}s:10:\"apcaNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"6
  Digit APCA number for the initiating institution\";}}}s:30:\"ResponseBankingTransactionById\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:5:\"links\";i:2;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BankingTransactionDetail\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}}s:24:\"BankingTransactionDetail\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BankingTransaction\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"extendedData\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"extendedData\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"service\";}s:13:\"x-conditional\";a:3:{i:0;s:5:\"payer\";i:1;s:5:\"payee\";i:2;s:19:\"extendedDescription\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"payer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Label
  of the originating payer. Mandatory for inbound payment\";}s:5:\"payee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Label
  of the target PayID.  Mandatory for an outbound payment\";}s:14:\"extensionUType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Optional
  extended data provided specific to transaction originated via NPP\";s:4:\"enum\";a:1:{i:0;s:19:\"extendedDescription\";}}s:19:\"extendedDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"An
  extended string description. Only present if specified by the extensionUType field\";}s:7:\"service\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"Identifier
  of the applicable overlay service. Valid values are: X2P1.01\";s:4:\"enum\";a:1:{i:0;s:7:\"X2P1.01\";}}}}}}}}s:34:\"ResponseBankingAccountsBalanceList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:5:\"links\";i:2;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"balances\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"balances\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  list of balances returned\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BankingBalance\";}}}}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinksPaginated\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MetaPaginated\";}}}s:34:\"ResponseBankingAccountsBalanceById\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:5:\"links\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BankingBalance\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinksPaginated\";}}}s:14:\"BankingBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:9:\"accountId\";i:1;s:14:\"currentBalance\";i:2;s:16:\"availableBalance\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"A
  unique ID of the account adhering to the standards for ID permanence\";s:10:\"x-cds-type\";s:11:\"ASCIIString\";}s:14:\"currentBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:178:\"The
  balance of the account at this time. Should align to the balance available via other
  channels such as Internet Banking. Assumed to be negative if the customer has money
  owing\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:16:\"availableBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Balance
  representing the amount of funds available for transfer. Assumed to be zero or positive\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:11:\"creditLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Object
  representing the maximum amount of credit that is available for this account. Assumed
  to be zero if absent\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:14:\"amortisedLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"Object
  representing the available limit amortised according to payment schedule. Assumed
  to be zero if absent\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  currency for the balance amounts. If absent assumed to be AUD\";s:10:\"x-cds-type\";s:14:\"CurrencyString\";}s:6:\"purses\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"Optional
  array of balances for the account in other currencies. Included to support accounts
  that support multi-currency purses such as Travel Cards\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BankingBalancePurse\";}}}}s:19:\"BankingBalancePurse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"amount\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  balance available for this additional currency purse\";s:10:\"x-cds-type\";s:12:\"AmountString\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  currency for the purse\";s:10:\"x-cds-type\";s:14:\"CurrencyString\";}}}s:24:\"ResponseBankingPayeeList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:5:\"links\";i:2;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"payees\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"payees\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"The
  list of payees returned\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BankingPayee\";}}}}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinksPaginated\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MetaPaginated\";}}}s:24:\"ResponseBankingPayeeById\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"data\";i:1;s:5:\"links\";i:2;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BankingPayeeDetail\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}}s:12:\"BankingPayee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:7:\"payeeId\";i:1;s:8:\"nickname\";i:2;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"payeeId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"ID
  of the payee adhering to the rules of ID permanence\";s:10:\"x-cds-type\";s:11:\"ASCIIString\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  short display name of the payee as provided by the customer\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"A
  description of the payee provided by the customer\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:197:\"The
  type of payee. DOMESTIC means a registered payee for domestic payments including
  NPP. INTERNATIONAL means a registered payee for international payments. BILLER means
  a registered payee for BPAY\";s:4:\"enum\";a:3:{i:0;s:8:\"DOMESTIC\";i:1;s:13:\"INTERNATIONAL\";i:2;s:6:\"BILLER\";}}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  date the payee was created by the customer\";s:10:\"x-cds-type\";s:10:\"DateString\";}}}s:18:\"BankingPayeeDetail\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BankingPayee\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"payeeUType\";}s:13:\"x-conditional\";a:3:{i:0;s:8:\"domestic\";i:1;s:6:\"biller\";i:2;s:13:\"international\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"payeeUType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Type
  of object included that describes the payee in detail\";s:4:\"enum\";a:3:{i:0;s:8:\"domestic\";i:1;s:6:\"biller\";i:2;s:13:\"international\";}}s:8:\"domestic\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BankingDomesticPayee\";}s:6:\"biller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BankingBillerPayee\";}s:13:\"international\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BankingInternationalPayee\";}}}}}s:20:\"BankingDomesticPayee\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:17:\"payeeAccountUType\";}s:13:\"x-conditional\";a:3:{i:0;s:7:\"account\";i:1;s:4:\"card\";i:2;s:5:\"payId\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"payeeAccountUType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:174:\"Type
  of account object included. Valid values are: { payeeAccountUType - - account A
  standard Australian account defined by BSB/Account Number payId A PayID recognised
  by NPP\";s:4:\"enum\";a:3:{i:0;s:7:\"account\";i:1;s:4:\"card\";i:2;s:5:\"payId\";}}s:7:\"account\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/BankingDomesticPayeeAccount\";}s:4:\"card\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BankingDomesticPayeeCard\";}s:5:\"payId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BankingDomesticPayeePayId\";}}}s:27:\"BankingDomesticPayeeAccount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:11:\"accountName\";i:1;s:3:\"bsb\";i:2;s:13:\"accountNumber\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"accountName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Name
  of the account to pay to\";}s:3:\"bsb\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"BSB
  of the account to pay to\";}s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Number
  of the account to pay to\";}}}s:24:\"BankingDomesticPayeeCard\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"cardNumber\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"cardNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Name
  of the account to pay to\";s:10:\"x-cds-type\";s:15:\"MaskedPANString\";}}}s:25:\"BankingDomesticPayeePayId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"identifier\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  name assigned to the PayID by the owner of the PayID\";}s:10:\"identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  identifier of the PayID (dependent on type)\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  type of the PayID\";s:4:\"enum\";a:4:{i:0;s:5:\"EMAIL\";i:1;s:6:\"MOBILE\";i:2;s:10:\"ORG_NUMBER\";i:3;s:8:\"ORG_NAME\";}}}}s:18:\"BankingBillerPayee\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"billerCode\";i:1;s:10:\"billerName\";}s:13:\"x-conditional\";a:1:{i:0;s:3:\"crn\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"billerCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"BPay
  Biller Code of the Biller\";}s:3:\"crn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:176:\"BPay
  CRN of the Biller. If the contents of the CRN match the format of a Credit Card
  PAN then it should be masked using the rules applicable for the MaskedPANString
  common type\";}s:10:\"billerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of the Biller\";}}}s:25:\"BankingInternationalPayee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:18:\"beneficiaryDetails\";i:1;s:11:\"bankDetails\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"beneficiaryDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"country\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Name
  of the beneficiary\";}s:7:\"country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:127:\"Country
  where the beneficiary resides. A valid [ISO 3166 Alpha-3](https://www.iso.org/iso-3166-country-codes.html)
  country code\";s:10:\"x-cds-type\";s:11:\"ExternalRef\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Response
  message for the payment\";}}}s:11:\"bankDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:7:\"country\";i:1;s:13:\"accountNumber\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:126:\"Country
  of the recipient institution. A valid [ISO 3166 Alpha-3](https://www.iso.org/iso-3166-country-codes.html)
  country code\";s:10:\"x-cds-type\";s:11:\"ExternalRef\";}s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Account
  Targeted for payment\";}s:11:\"bankAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"address\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Name
  of the recipient Bank\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Address
  of the recipient Bank\";}}}s:18:\"beneficiaryBankBIC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Swift
  bank code.  Aligns with standard [ISO 9362](https://www.iso.org/standard/60390.html)\";s:10:\"x-cds-type\";s:11:\"ExternalRef\";}s:13:\"fedWireNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Number
  for Fedwire payment (Federal Reserve Wire Network)\";}s:8:\"sortCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Sort
  code used for account identification in some jurisdictions\";}s:10:\"chipNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Number
[...]
