---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:432:\"An API for keeping
  track of your contacts and the companies they work for. \n\nDon't forget to take
  it for a spin by clicking on the **Try in Client** button next to each operation!
  All read operations are public and don't require authentication.\n\n<div>\n<img
  src='https://thecontactsapi.apispark.net/v1/img/cropped-contact-img.png' width='90%'>\n<div>\n\n<!--
  ![](https://thecontactsapi.apispark.net/v1/img/cropped-contact-img.png) -->\n\n\";s:7:\"version\";s:5:\"1.2.0\";s:5:\"title\";s:18:\"ASE
  Attendance API\";s:14:\"termsOfService\";s:0:\"\";s:7:\"contact\";O:8:\"stdClass\":0:{}}"
host: ase-2017-group-2-9-attendance.restlet.io
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:5:\"Error\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"code\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:400;s:7:\"maximum\";i:599;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:56:\"Bad
  query parameter [$size]: Invalid integer value [abc]\";}s:12:\"reasonPhrase\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Bad
  Request\";}}s:11:\"description\";s:57:\"This general error structure is used throughout
  this API.\";s:7:\"example\";s:127:\"{\n  \"code\": 400,\n  \"description\": \"Bad
  query parameter [$size]: Invalid integer value [abc]\",\n  \"reasonPhrase\": \"Bad
  Request\"\n}\";}s:5:\"Group\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:8:\"maxSlots\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"Auto-generated
  primary key field\";s:7:\"example\";d:2.3423423423423424E+20;}s:8:\"maxSlots\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"the
  maximum students a group can contain\";s:7:\"default\";i:5;}s:8:\"students\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:65:\"This
  property is a reference to registered student for this group\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"example\";s:24:\"234234234234234234234234\";}}s:11:\"description\";s:30:\"A
  representation of a Contact.\";s:7:\"example\";s:123:\"{\n  \"id\": \"241241241241241241\",\n
  \ \"maxSlots\": 5,\n  \"students\": [\n    \"143124124124124\",\n    \"124124124124124124124\"\n
  \   ]\n}\";}s:8:\"UserData\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:5:\"email\";i:1;s:9:\"firstName\";i:2;s:8:\"lastName\";i:3;s:8:\"password\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";s:107:\"{\n
  \ \"firstName\" :\"Max\",\n  \"lastName\": \"Muster\",\n  \"email\": \"max.muster@tum.de\",\n
  \ \"password\" : \"password\"\n}\";}s:7:\"Student\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  first name of the student\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  last name of the student\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  user's email account\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:18:\"The
  Id of the user\";}}s:7:\"example\";s:136:\"{\n  \"id\": \"0e8dd830-ad98-11e6-bf2e-47644ada7c0f\",\n
  \ \"firstName\": \"Max\",\n  \"lastName\": \"Mustermann\",\n  \"email\": \"max.mustermann@tum.de\"\n}\";}s:6:\"QrCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"AttendanceRecord\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"attendance_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"student_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"tutorial_group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"week_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"presented\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}"
...
