---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"B2B Lamoda API\";s:7:\"version\";s:3:\"1.0\";}"
host: api-demo-b2b.lamoda.ru
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":34:{s:13:\"Shipment.Item\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"createdAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:8:\"DateTime\";}s:6:\"height\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:6:\"length\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";}s:7:\"orderNr\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:14:\"partnerOrderNr\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:13:\"supplierSkuId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:8:\"unitload\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";}s:5:\"width\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";}}}s:10:\"Order.Item\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"array
  of objects (Item)\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:14:\"finalERPStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:9:\"paidPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:18:\"statusChangeReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}}}s:5:\"Order\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":21:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:22:\"confirmationFailedCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:24:\"confirmationFailedReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:8:\"DateTime\";}s:13:\"deliveryPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:12:\"deprecatedId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:22:\"externalTrackingNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:5:\"array\";}s:7:\"fullSum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:11:\"isConfirmed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:7:\"boolean\";}s:10:\"isEditable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:7:\"boolean\";}s:12:\"itemQuantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Order.Item\";}s:11:\"description\";s:23:\"array
  of objects (Item)\";}s:7:\"orderNr\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:11:\"paymentDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:8:\"DateTime\";}s:13:\"paymentMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:11:\"rejectPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";}s:15:\"shippingAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Order.Address\";}s:12:\"shippingType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:9:\"updatedAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:8:\"DateTime\";}}}s:13:\"Order.Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"object
  (OrderAddress)\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"apartment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:10:\"buildingId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:6:\"cityId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:8:\"houseNum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:10:\"isEditable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:7:\"boolean\";}s:7:\"isValid\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:7:\"boolean\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:8:\"streetId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:7:\"zipcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:13:\"pickupPointId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"pickup
  point identifier\";}}}s:21:\"Order.AddressEditType\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"object
  (AddressEditType)\";s:8:\"required\";a:6:{i:0;s:7:\"zipcode\";i:1;s:4:\"city\";i:2;s:6:\"street\";i:3;s:8:\"houseNum\";i:4;s:6:\"cityId\";i:5;s:8:\"streetId\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"apartment\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:1:\"5\";s:9:\"maxLength\";i:255;}s:10:\"buildingId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:21:\"770000000003171000024\";s:9:\"maxLength\";i:64;}s:4:\"city\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:12:\"\u041C\u043E\u0441\u043A\u0432\u0430\";s:9:\"maxLength\";i:255;}s:6:\"cityId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:13:\"7700000000000\";s:9:\"maxLength\";i:64;}s:8:\"houseNum\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:9:\"\u0434.27
  \u043A1\";s:9:\"maxLength\";i:255;}s:6:\"street\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:19:\"\u0443\u043B
  \u0429\u0435\u043F\u043A\u0438\u043D\u0430\";s:9:\"maxLength\";i:255;}s:8:\"streetId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:17:\"77000000000317100\";s:9:\"maxLength\";i:64;}s:7:\"zipcode\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:6:\"129090\";s:9:\"minLength\";i:5;s:9:\"maxLength\";i:6;}s:13:\"pickupPointId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"pickup
  point identifier\";s:7:\"example\";i:12341234;}}}s:26:\"Order.CustomerInfoEditType\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"object
  (CustomerInfoEditType)\";s:8:\"required\";a:4:{i:0;s:9:\"firstName\";i:1;s:8:\"lastName\";i:2;s:5:\"phone\";i:3;s:5:\"email\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Email\";s:7:\"example\";s:12:\"kva@mail.kva\";}s:9:\"firstName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"First
  name\";s:7:\"example\";s:8:\"\u0418\u0432\u0430\u043D\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Last
  name\";s:7:\"example\";s:16:\"\u0418\u0432\u0430\u043D\u043E\u0432\u0438\u0447\";}s:10:\"middleName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Middle
  name\";s:7:\"example\";s:12:\"\u0418\u0432\u0430\u043D\u043E\u0432\";}s:5:\"phone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Phone\";s:7:\"example\";i:76665554444;}}}s:24:\"Order.DeliveryMethodType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"object
  (DeliveryMethodType)\";s:8:\"required\";a:1:{i:0;s:18:\"deliveryIntervalId\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"comment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Comment\";s:7:\"example\";s:14:\"Call
  me before\";}s:12:\"deliveryDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:9:\"full
  date\";s:7:\"example\";s:10:\"2015-08-29\";}s:20:\"deliveryIntervalFrom\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:23:\"partial-time
  hours from\";s:7:\"example\";s:8:\"23:59:59\";}s:18:\"deliveryIntervalTo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:21:\"partial-time
  hours to\";s:7:\"example\";s:8:\"24:59:59\";}s:18:\"deliveryIntervalId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:7:\"integer\";s:7:\"example\";i:237049;}s:18:\"shippingMethodCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:9:\"lamoda-99\";}s:18:\"shippingMethodName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:27:\"lamoda
  delivery method name\";}}}s:20:\"Order.DeliveryMethod\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"deliveryPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"deliveryDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"deliveryIntervalFrom\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"deliveryIntervalTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"deliveryIntervalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"shippingMethodName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shippingMethodCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isEditable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:15:\"Order.EventType\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"object
  (OrderEventType)\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"Data
  for the event\";s:7:\"example\";s:19:\"2015-05-07 18:44:15\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Event
  types (confirm, cancel)\";s:7:\"example\";s:7:\"confirm\";}}}s:11:\"Order.Event\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"createdAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:8:\"DateTime\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:5:\"array\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}}}s:15:\"Order.StatusLog\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"createdAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:8:\"DateTime\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:8:\"reasonId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:10:\"reasonName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:10:\"statusName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}}}s:17:\"Nomenclature.Full\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":22:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:12:\"sub_category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:5:\"color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:4:\"urls\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:5:\"array\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:12:\"supplier_sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:7:\"barcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:10:\"size_scale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:13:\"supplier_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:9:\"materials\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:17:\"country_of_origin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:12:\"is_print_eac\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:7:\"boolean\";}s:17:\"supplier_category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:10:\"parent_sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:19:\"supplier_parent_sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:14:\"supplier_color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:9:\"_embedded\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Partner.embedded\";}}}s:18:\"Nomenclature.Short\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"nomenclatures\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"supplier_sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:7:\"barcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:13:\"supplier_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:9:\"_embedded\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Partner.embedded\";}}}}}}s:19:\"Fulfilment.Shipment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"fulfilment_shipments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:8:\"DateTime\";}s:10:\"shipmentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/State\";}s:9:\"_embedded\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Partner.embedded\";}}}}}}s:5:\"State\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"object
  (State)\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:4:\"sort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:7:\"integer\";}}}s:39:\"SC.ApiBundle.Form.Shipment.Out.ItemType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"array
  of objects (ItemType)\";s:8:\"required\";a:3:{i:0;s:3:\"sku\";i:1;s:8:\"unitload\";i:2;s:7:\"orderNr\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"orderNr\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Order
  number\";s:7:\"example\";s:13:\"140101-123456\";s:9:\"maxLength\";i:18;}s:3:\"sku\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Item
  SKU\";s:7:\"example\";s:9:\"SKU000001\";s:9:\"maxLength\";i:18;}s:8:\"unitload\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Unique
  unitload\";s:7:\"example\";s:14:\"10345765435741\";s:9:\"maxLength\";i:26;}s:6:\"height\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";d:3.3999999999999999;s:7:\"maximum\";i:10;}s:6:\"length\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";d:1.3999999999999999;s:7:\"maximum\";i:10;}s:6:\"weight\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";d:5.7000000000000002;s:7:\"maximum\";i:10;}s:5:\"width\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";d:2.3999999999999999;s:7:\"maximum\";i:10;}}}s:39:\"SC.ApiBundle.Form.Shipment.Out.PackType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"array
  of objects (PackType)\";s:8:\"required\";a:3:{i:0;s:7:\"barcode\";i:1;s:4:\"type\";i:2;s:5:\"items\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"barcode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:15:\"PACKGG111870011\";s:9:\"maxLength\";i:16;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:4:\"pack\";}s:6:\"height\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";d:3.3999999999999999;s:7:\"maximum\";i:10;}s:6:\"length\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";d:1.3999999999999999;s:7:\"maximum\";i:10;}s:6:\"weight\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";d:5.7000000000000002;s:7:\"maximum\";i:10;}s:5:\"width\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";d:2.3999999999999999;s:7:\"maximum\";i:10;}s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/SC.ApiBundle.Form.Shipment.Out.ItemType\";}s:11:\"description\";s:27:\"array
  of objects (ItemType)\";}}}s:41:\"SC.ApiBundle.Form.Shipment.Out.PalletType\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"array
  of objects (PalletType)\";s:8:\"required\";a:3:{i:0;s:7:\"barcode\";i:1;s:4:\"type\";i:2;s:10:\"containers\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"barcode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:14:\"PALGG111870011\";s:9:\"maxLength\";i:16;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:6:\"pallet\";}s:10:\"containers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/SC.ApiBundle.Form.Shipment.Out.PackType\";}s:11:\"description\";s:27:\"array
  of objects (PackType)\";}}}s:43:\"SC.ApiBundle.Form.Shipment.Out.ShipmentType\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"object
  (ShipmentType)\";s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:6:\"source\";i:3;s:11:\"destination\";i:4;s:9:\"shippedAt\";i:5;s:10:\"containers\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:11:\"GG200187026\";s:9:\"maxLength\";i:20;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:4:\"Sale\";}s:6:\"source\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:4:\"PWAX\";s:9:\"maxLength\";i:255;}s:11:\"destination\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:6:\"Samara\";s:9:\"maxLength\";i:255;}s:9:\"shippedAt\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:8:\"datetime\";s:7:\"example\";s:19:\"2017-02-17
  10:00:00\";}s:10:\"containers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/SC.ApiBundle.Form.Shipment.Out.PalletType\";}s:11:\"description\";s:29:\"array
  of objects (PalletType)\";}}}s:9:\"AuthToken\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"expires_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"token_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:3:\"Tag\";}}s:14:\"Goods.embedded\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"goods\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:13:\"palletBarcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"packBarcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"unitload\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"orderNr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"partnerOrderNr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"supplierSkuId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:14:\"DeliveryMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:14:\"methodTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"methodTypeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"serviceLevelTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"serviceLevelTypeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"serviceLevelTypeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"checkoutMethodCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"checkoutMethodName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"checkoutMethodCategoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"checkoutMethodCheckoutDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"checkoutMethodHasHorizon\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:26:\"checkoutMethodHasIntervals\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:34:\"checkoutMethodIsClientNameRequired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:27:\"checkoutMethodDeliveryPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"checkoutMethodFreeDeliveryNetThreshold\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"dayDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"intervalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"intervalStart\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"intervalEnd\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"self\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"first\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"last\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"previous\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:19:\"StockGoods.embedded\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"stockStates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}}s:16:\"Partner.embedded\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"partner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"shopName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"partnerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:17:\"Nomeclatures.Post\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"object
  (NomenclaturesEditType)\";s:8:\"required\";a:7:{i:0;s:3:\"sku\";i:1;s:7:\"barcode\";i:2;s:4:\"name\";i:3;s:4:\"size\";i:4;s:5:\"color\";i:5;s:5:\"brand\";i:6;s:8:\"category\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"sku\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:10:\"SELLERSK68\";s:9:\"maxLength\";i:50;}s:9:\"parentSku\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:5:\"TEST8\";s:9:\"maxLength\";i:255;}s:7:\"barcode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:10:\"SELLERSK68\";s:9:\"maxLength\";i:80;}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:18:\"\u0432\u043E\u0434\u043E\u043B\u0430\u0437\u043A\u0430\";s:9:\"maxLength\";i:110;}s:4:\"size\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:1:\"S\";s:9:\"maxLength\";i:30;}s:5:\"color\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:10:\"\u0431\u0435\u043B\u044B\u0439\";s:9:\"maxLength\";i:50;}s:5:\"brand\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:22:\"\u0412\u043E\u0434\u043E\u043B\u0430\u0437\u043A\u0438\u043D\u044B\";s:9:\"maxLength\";i:50;}s:8:\"category\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:16:\"\u0442\u0440\u0438\u043A\u043E\u0442\u0430\u0436\";s:9:\"maxLength\";i:255;}s:10:\"isPrintEAC\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:7:\"boolean\";s:7:\"example\";b:1;}s:9:\"imageUrls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"https://lamoda.ru\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"main\";}}}}}}s:11:\"Orders.Post\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"object
  (OrdersEditType)\";s:8:\"required\";a:4:{i:0;s:12:\"shippingType\";i:1;s:7:\"orderNr\";i:2;s:13:\"paymentMethod\";i:3;s:12:\"customerInfo\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"orderNr\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:9:\"117391871\";s:9:\"maxLength\";i:18;}s:12:\"deliveryDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:10:\"2015-08-29\";}s:20:\"deliveryIntervalFrom\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:6:\"format\";s:4:\"time\";s:7:\"example\";s:8:\"10:00:00\";}s:18:\"deliveryIntervalTo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:6:\"format\";s:4:\"time\";s:7:\"example\";s:8:\"18:00:00\";}s:18:\"deliveryIntervalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:13:\"deliveryPrice\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:6:\"string\";s:6:\"format\";s:6:\"double\";s:7:\"pattern\";s:17:\"^\\d{1,8}(\\.\\d+)?$\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:3:\"COD\";}s:12:\"shippingType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:12:\"crossdocking\";}s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:9:\"lamoda.ru\";}s:18:\"shippingMethodCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";N;}s:7:\"comment\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:14:\"Call
  me before\";s:9:\"maxLength\";i:255;}s:12:\"customerInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:9:\"firstName\";i:1;s:8:\"lastName\";i:2;s:5:\"phone\";i:3;s:5:\"email\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"\u0418\u0432\u0430\u043D\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"\u0418\u0432\u0430\u043D\u043E\u0432\u0438\u0447\";}s:10:\"middleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"\u0418\u0432\u0430\u043D\u043E\u0432\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"76665554444\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"kva@mail.kva\";}s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:7:\"zipcode\";i:1;s:4:\"city\";i:2;s:6:\"street\";i:3;s:9:\"apartment\";i:4;s:8:\"houseNum\";i:5;s:6:\"region\";i:6;s:9:\"kladrCode\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"zipcode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";i:117587;s:7:\"pattern\";s:9:\"^\\d{5,6}$\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"\u041C\u043E\u0441\u043A\u0432\u0430\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"\u041A\u0438\u0440\u043E\u0432\u043E\u0433\u0440\u0430\u0434\u0441\u043A\u0430\u044F\";}s:9:\"apartment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";i:12;}s:8:\"houseNum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";i:12;}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"\u0418\u0432\u0430\u043D\u043E\u0432\";}s:9:\"kladrCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"77000000000170700\";}s:13:\"pickupPointId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:123123;}}}}}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:3:\"sku\";i:1;s:11:\"description\";i:2;s:9:\"paidPrice\";i:3;s:5:\"price\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"0599250740036\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Ice
  berg\";}s:9:\"cogsPrice\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";i:12000;}s:9:\"paidPrice\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";i:12000;}s:5:\"price\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";i:12000;}s:13:\"totalDiscount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"float\";s:7:\"example\";i:0;}s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"\u0412\u043E\u0434\u043E\u043B\u0430\u0437\u043A\u0438\u043D\u044B\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"CLOTHES\";}s:10:\"genderCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"M\";}s:9:\"colorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"red\";}s:12:\"materialCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"ice\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"L\";}s:9:\"sizeScale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"rus\";}}}}}}s:14:\"Orders.Created\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"orderNr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isEditable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"rejectPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"paymentMethod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"deliveryPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"paymentDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"itemQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"Order.Customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"middleName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isEditable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:20:\"Shipments.Fulfilment\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"object
  (Fulfiment shipments)\";s:8:\"required\";a:2:{i:0;s:4:\"date\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"date\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:10:\"10.09.2017\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";s:7:\"example\";s:11:\"187-000-157\";s:9:\"maxLength\";i:20;}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:5:\"price\";i:1;s:8:\"quantity\";i:2;s:3:\"sku\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"100\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";}s:3:\"sku\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"SELLERSK157\";s:9:\"maxLength\";i:50;}}}}s:7:\"pallets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"barcode\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"barcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"GG23164221157\";}}}}}}s:9:\"Shipments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"itemsQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"palletsQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"packsQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"shipmentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shippedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"DeliveryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"delivery_service\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"\u041A\u0443\u0440\u044C\u0435\u0440\u0441\u043A\u0430\u044F
  \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u0430\";}s:17:\"serviceLevelTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"economy\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:38:\"\u042D\u043A\u043E\u043D\u043E\u043C
  (\u0431\u0435\u0437 \u043F\u0440\u0438\u043C\u0435\u0440\u043A\u0438)\";}}}}}}s:12:\"PickupPoints\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:55.738176000000003;}s:9:\"longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:37.631594999999997;}s:14:\"isTryonAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:18:\"isRejectionAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:18:\"isBankcardAccepted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:9:\"is24hours\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:7:\"groupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:4;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:16213;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:26:\"\u041D\u043E\u0432\u043E\u043A\u0443\u0437\u043D\u0435\u0446\u043A\u0430\u044F\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"\u041C\u043E\u0441\u043A\u0432\u0430\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:26:\"\u041D\u043E\u0432\u043E\u043A\u0443\u0437\u043D\u0435\u0446\u043A\u0430\u044F\";}s:5:\"house\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"11/13\";}}}}s:11:\"PickupPoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:8:\"workTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"day\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";i:1;}s:8:\"timeFrom\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"09:00\";}s:6:\"timeTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"21:00\";}}}}s:11:\"storageDays\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"7\";}s:6:\"phones\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"+7(499)
  750-14-50\";}}s:6:\"photos\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:69:\"//files.lmcdn.ru/delivery/ru/0f/8916b331488fe30edca26715fee5e20f.jpeg\";}}s:24:\"communicationDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:208:\"\u041A\u043E\u0433\u0434\u0430
  \u0437\u0430\u043A\u0430\u0437 \u043F\u043E\u0441\u0442\u0443\u043F\u0438\u0442
  \u0432 \u043F\u0443\u043D\u043A\u0442 \u0441\u0430\u043C\u043E\u0432\u044B\u0432\u043E\u0437\u0430,
  \u0432\u0430\u043C \u043F\u0440\u0438\u0434\u0435\u0442 SMS. \u041F\u043E\u0436\u0430\u043B\u0443\u0439\u0441\u0442\u0430,
  \u043F\u0440\u0438\u0445\u043E\u0434\u0438\u0442\u0435 \u0437\u0430 \u0437\u0430\u043A\u0430\u0437\u043E\u043C
  \u0442\u043E\u043B\u044C\u043A\u043E \u043F\u043E\u0441\u043B\u0435 \u043F\u043E\u043B\u0443\u0447\u0435\u043D\u0438\u044F
  SMS.\";}s:17:\"serviceLevelTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"rejectionFee\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:24:\"freeDeliveryNetThreshold\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";N;}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"economy\";}s:18:\"isRejectionAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:14:\"isTryonAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:13:\"availableDays\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-11-28\";}s:18:\"availableIntervals\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2017-11-28
  00:00:00\";}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2017-11-28
  23:59:59\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:442789969;}}}}}}}s:13:\"deliveryPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:123;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:38:\"\u042D\u043A\u043E\u043D\u043E\u043C
  (\u0431\u0435\u0437 \u043F\u0440\u0438\u043C\u0435\u0440\u043A\u0438)\";}}}}s:15:\"deliveryDateMin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-11-28\";}s:15:\"deliveryDateMax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-12-04\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:52.608465000000002;}s:9:\"longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:39.545276000000001;}s:14:\"isTryonAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:18:\"isRejectionAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:18:\"isBankcardAccepted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:9:\"is24hours\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:7:\"groupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:3;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:36708;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"\u041B\u0438\u043F\u0435\u0446\u043A-29\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"\u041B\u0438\u043F\u0435\u0446\u043A
  \u0433\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"\u041A\u043E\u0441\u043C\u043E\u043D\u0430\u0432\u0442\u043E\u0432
  \u0443\u043B\";}s:5:\"house\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"98\";}s:18:\"undergroundStation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}}}"
...
