---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"wemining\";s:11:\"description\";s:15:\"\u5FAE\u6316API\u6587\u6863\";s:7:\"version\";s:5:\"1.0.0\";}"
host: www.easy-mock.com
basePath: /mock/59b9e7dce0dc663341a930a0/cloudapp
paths:
  /auth/signin:
    post:
      summary: u9a8cu8bc1u7801u767bu5f55
      consumes:
      - application/x-www-form-urlencoded
      tags:
      - auth
      security:
      - AppId: []
      parameters:
      - name: mobile
        in: formData
        type: string
        description: u624bu673au53f7
      - name: email
        in: formData
        type: string
        description: u90aeu7bb1
      - name: vcode
        in: formData
        type: string
        required: true
        description: u9a8cu8bc1u7801
      responses:
        200:
          description: u767bu5f55u6210u529f
          schema:
            $ref: '#/definitions/Me'
          headers:
            x-wemining-access-token:
              type: string
              description: u4f1au8bddtoken
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: signin
  /auth/signout:
    post:
      summary: u767bu51fa
      tags:
      - auth
      security:
      - AppId: []
      - AccessToken: []
      responses:
        200:
          description: u767bu51fau6210u529f
      operationId: signout
  /auth/code:
    post:
      summary: u53d1u9001u9a8cu8bc1u7801
      tags:
      - auth
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: mobile
        in: formData
        type: string
        description: u624bu673au53f7
      - name: email
        in: formData
        type: string
        description: u90aeu7bb1
      responses:
        200:
          description: u53d1u9001u6210u529f
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: sendCode
  /profile:
    get:
      summary: u83b7u53d6u7528u6237u4fe1u606f
      tags:
      - me
      security:
      - AppId: []
      - AccessToken: []
      responses:
        200:
          schema:
            $ref: '#/definitions/Me'
          description: u8fd4u56deu7528u6237u4fe1u606f
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getProfile
    post:
      summary: u66f4u65b0u7528u6237u4fe1u606f
      tags:
      - me
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: nickName
        in: formData
        type: string
        description: u6635u79f0
      responses:
        200:
          description: u64cdu4f5cu6210u529f
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: updateProfile
  /preference:
    get:
      summary: u83b7u53d6u7528u6237u504fu597du8bbeu7f6eu4fe1u606f
      tags:
      - me
      security:
      - AppId: []
      - AccessToken: []
      responses:
        200:
          schema:
            $ref: '#/definitions/Preference'
          description: u8fd4u56deu7528u6237u504fu597du8bbeu7f6eu4fe1u606f
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getPreference
    post:
      summary: u66f4u65b0u7528u6237u504fu597du8bbeu7f6e
      tags:
      - me
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: reminder
        in: formData
        type: boolean
        description: u6d88u606fu63d0u9192
      - name: noDisturbing
        in: formData
        type: boolean
        description: u52ffu6270u6a21u5f0f
      responses:
        200:
          description: u64cdu4f5cu6210u529f
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: updatePreference
  /security/revenue/address:
    post:
      summary: u7ed1u5b9au6216u66f4u6362u6bd4u7279u5e01u6536u76cau5730u5740
      tags:
      - security
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: address
        in: formData
        type: string
        description: u65b0u7684u6bd4u7279u5e01u5730u5740
      - name: vcode
        in: formData
        type: string
        description: u9a8cu8bc1u7801
      responses:
        200:
          description: u64cdu4f5cu6210u529f
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: bindRevenueAddress
  /security/mobile:
    post:
      summary: u66f4u6362u624bu673au53f7
      tags:
      - security
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: mobile
        in: formData
        type: string
        description: u65b0u7684u624bu673au53f7u7801
      - name: vcode
        in: formData
        type: string
        description: u9a8cu8bc1u7801, u53d1u5230u5f53u524du624bu673au53f7u7801
      responses:
        200:
          description: u64cdu4f5cu6210u529f
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: bindMobile
  /security/mobile/confirm:
    post:
      summary: u786eu8ba4u624bu673au53f7
      tags:
      - security
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: mobile
        in: formData
        type: string
        description: u786eu8ba4u7ed1u5b9au7684u65b0u624bu673au53f7u7801
      - name: vcode
        in: formData
        type: string
        description: u9a8cu8bc1u7801, u53d1u5230u65b0u624bu673au53f7u7801
      responses:
        200:
          description: u64cdu4f5cu6210u529f
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: bindMobileConfirm
  /upload/avatar:
    post:
      summary: u4e0au4f20u7528u6237u5934u50cf
      tags:
      - upload
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: avatar_data
        in: formData
        type: string
        format: byte
      responses:
        200:
          schema:
            $ref: '#/definitions/ObjectId'
          description: u4e0au4f20u6210u529f, u8fd4u56deu7167u7247Id
      operationId: uploadAvatar
  /exchange/btc/rates:
    get:
      summary: u83b7u53d6BTCu62a5u4ef7
      tags:
      - exchange
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: code
        in: query
        type: string
        description: ISO 4217 3u4f4du8d27u5e01u4ee3u7801
      responses:
        200:
          description: u64cdu4f5cu6210u529f, u8fd4u56deBTCu62a5u4ef7
          schema:
            $ref: '#/definitions/BtcExchangeRate'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getBtcRate
  /platform:
    get:
      summary: u83b7u53d6u5e73u53f0u4fe1u606f
      tags:
      - platform
      security:
      - AppId: []
      - AccessToken: []
      responses:
        200:
          description: u8fd4u56deu5e73u53f0u8054u7cfbu65b9u5f0fu5217u8868
          schema:
            $ref: '#/definitions/Platform'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getInformation
  /platform/notices:
    get:
      summary: u83b7u53d6u5e73u53f0u516cu544au5217u8868
      tags:
      - platform
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: start_at
        in: query
        type: integer
        format: int64
        description: u8d77u59cbu516cu544au53d1u5e03u65f6u95f4, UNIXu65f6u95f4u6233,
          GMTu65f6u95f4, u5355u4f4du6bebu79d2
      responses:
        200:
          description: u8fd4u56deu5e73u53f0u516cu544au5217u8868
          schema:
            type: array
            items:
              $ref: '#/definitions/Notice'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getNotices
  /platform/agreements/{Id}:
    get:
      summary: u83b7u53d6u5e73u53f0u534fu8bae
      tags:
      - platform
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - $ref: '#/parameters/Id'
      responses:
        200:
          description: u8fd4u56deu5e73u53f0u534fu8bae
          schema:
            $ref: '#/definitions/Agreement'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getAgreementById
  /platform/notices/{Id}:
    get:
      summary: u83b7u53d6u5e73u53f0u5355u4e2au516cu544au5185u5bb9
      tags:
      - platform
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - $ref: '#/parameters/Id'
      responses:
        200:
          description: u8fd4u56deu516cu544au5185u5bb9
          schema:
            $ref: '#/definitions/Notice'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getNoticeById
  /products:
    get:
      summary: u83b7u53d6u5546u54c1u5217u8868
      tags:
      - sales
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: salesMethod
        type: string
        in: query
        enum:
        - byEquipment
        - byHashrate
        description: u6309u9500u552eu65b9u5f0fu8fc7u6ee4
      responses:
        200:
          description: u8fd4u56deu5546u54c1u5217u8868
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getProducts
  /products/{Id}:
    get:
      summary: u83b7u53d6u5355u4e2au5546u54c1
      tags:
      - sales
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - $ref: '#/parameters/Id'
      responses:
        200:
          description: u8fd4u56deu5355u4e2au5546u54c1u4fe1u606f
          schema:
            $ref: '#/definitions/Product'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getProductById
  /products/{Id}/purchase:
    post:
      summary: u8d2du4e70u5546u54c1
      tags:
      - sales
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - $ref: '#/parameters/Id'
      - name: qty
        in: formData
        type: integer
        format: int64
        required: true
        description: u6570u91cf
      - name: message
        in: formData
        type: string
        description: u7559u8a00
      responses:
        200:
          description: u64cdu4f5cu6210u529f, u8fd4u56deu8ba2u5355Id
          schema:
            $ref: '#/definitions/ObjectId'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: purchase
  /orders:
    get:
      summary: u83b7u53d6u8ba2u5355u5217u8868
      tags:
      - sales
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - $ref: '#/parameters/Skip'
      - $ref: '#/parameters/Limit'
      responses:
        200:
          description: u8fd4u56deu8ba2u5355u5217u8868
          schema:
            type: array
            items:
              $ref: '#/definitions/Order'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getOrders
  /orders/{Id}:
    get:
      summary: u83b7u53d6u5355u4e2au8ba2u5355
      tags:
      - sales
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - $ref: '#/parameters/Id'
      responses:
        200:
          description: u8fd4u56deu5355u4e2au8ba2u5355
          schema:
            $ref: '#/definitions/Order'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getOrderById
  /orders/{Id}/cancel:
    post:
      summary: u53d6u6d88u8ba2u5355
      tags:
      - sales
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - $ref: '#/parameters/Id'
      responses:
        200:
          description: u64cdu4f5cu6210u529f
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: cancelOrder
  /statitics/mining/network:
    get:
      summary: u6bd4u7279u5e01u5168u7f51u4fe1u606fu7edfu8ba1
      tags:
      - statitics
      security:
      - AppId: []
      - AccessToken: []
      responses:
        200:
          description: u8fd4u56deu6bd4u7279u5e01u5168u7f51u7edfu8ba1u4fe1u606f
          schema:
            $ref: '#/definitions/MiningNetworkStatitics'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getMiningNetwork
  /statitics/mining:
    get:
      summary: u7edfu8ba1u7684u6316u77ffu4fe1u606f
      tags:
      - statitics
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - name: categories
        in: query
        type: array
        items:
          type: string
          enum:
          - workers
          - hashes
          - revenues
          - powerConsumes
        collectionFormat: csv
        description: u9700u8981u8fd4u56deu7684u6570u636eu5185u5bb9
      responses:
        200:
          description: u8fd4u56deu5e73u53f0u6316u77ffu7edfu8ba1u4fe1u606f
          schema:
            $ref: '#/definitions/MiningStatitics'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getMining
  /mining/payments:
    get:
      summary: u83b7u53d6u6536u5e01u8bb0u5f55u5217u8868
      tags:
      - mining
      security:
      - AppId: []
      - AccessToken: []
      responses:
        200:
          description: u8fd4u56deu6536u5e01u8bb0u5f55u5217u8868
          schema:
            type: array
            items:
              $ref: '#/definitions/SettlementPayment'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getPayments
  /mining/payments/{Id}:
    get:
      summary: u83b7u53d6u5355u4e2au6536u5e01u8bb0u5f55u4fe1u606f
      tags:
      - mining
      security:
      - AppId: []
      - AccessToken: []
      parameters:
      - $ref: '#/parameters/Id'
      responses:
        200:
          description: u8fd4u56deu5355u4e2au6536u5e01u8bb0u5f55u4fe1u606f
          schema:
            $ref: '#/definitions/SettlementPayment'
        default:
          description: u5f02u5e38u9519u8bef
          schema:
            $ref: '#/definitions/Error'
      operationId: getPaymentById
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:8:\"ObjectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:5:\"Photo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:6:\"\u5934\u50CF\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"png\";i:1;s:4:\"jpeg\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u540D\u79F0\";}s:6:\"height\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:20:\"\u5C3A\u5BF8
  - \u9AD8(\u50CF\u7D20)\";}s:5:\"width\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:20:\"\u5C3A\u5BF8
  - \u5BBD(\u50CF\u7D20)\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u7167\u7247\u6240\u5728url\u5730\u5740\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:5:\"Album\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:6:\"\u76F8\u518C\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"Photos\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:8:\"Platform\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"contacts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Entry\";}s:11:\"description\";s:18:\"\u8054\u7CFB\u65B9\u5F0F\u5217\u8868\";}s:10:\"paymethods\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PayMethod\";}s:11:\"description\";s:24:\"\u5E73\u53F0\u652F\u4ED8\u65B9\u5F0F\u5217\u8868\";}s:17:\"purchaseAgreement\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:14:\"\u8D2D\u4E70\u534F\u8BAEId\";}s:17:\"walletDownloadURL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u94B1\u5305\u4E0B\u8F7DURL\u5730\u5740\";}}}s:5:\"Entry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u540D\u79F0\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"\u503C\";}}}s:9:\"PayMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"icon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"byte\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u8D26\u53F7\";}}}s:9:\"Agreement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:6:\"\u6807\u9898\";}s:7:\"content\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:6:\"\u5185\u5BB9\";}s:7:\"summary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:6:\"\u6458\u8981\";}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:12:\"\u521B\u5EFA\u65F6\u95F4\";}}}s:2:\"Me\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"Id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:8:\"\u987E\u5BA2Id\";}s:6:\"mobile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u624B\u673A\u53F7\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u90AE\u7BB1\";}s:8:\"nickName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u6635\u79F0\";}s:6:\"avatar\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Photo\";}s:17:\"btcRevenueAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u6BD4\u7279\u5E01\u6536\u76CA\u5730\u5740\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Platform\";}}}s:10:\"Preference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"reminder\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:26:\"\u6D88\u606F\u63D0\u9192
  \u5F00\u542F|\u5173\u95ED\";}s:12:\"noDisturbing\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:26:\"\u52FF\u6270\u6A21\u5F0F
  \u5F00\u542F|\u5173\u95ED\";}}}s:15:\"BtcExchangeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"ISO
  4217 3\u4F4D\u8D27\u5E01\u4EE3\u7801\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8D27\u5E01\u540D\u79F0\";}s:4:\"rate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:28:\"1\u4E2ABTC\u5BF9\u5E94\u7684\u8D27\u5E01\u91D1\u989D\";}}}s:6:\"Notice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u6807\u9898\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u5185\u5BB9\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u6458\u8981\";}s:11:\"dispayPopup\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:12:\"\u5F39\u7A97\u663E\u793A\";}s:11:\"readConfirm\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:12:\"\u786E\u8BA4\u9605\u8BFB\";}s:4:\"read\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:15:\"\u662F\u5426\u5DF2\u9605\u8BFB\";}s:11:\"publishedAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:12:\"\u53D1\u5E03\u65F6\u95F4\";}}}s:15:\"MiningEquipment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"brandName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u540D\u724C\u540D\u79F0\";}s:9:\"modelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u578B\u53F7\";}s:8:\"hashRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:22:\"\u7B97\u529B,
  \u5355\u4F4D GHash/s\";}s:10:\"powerWatts\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:17:\"\u529F\u8017,
  \u5355\u4F4D\u74E6\";}}}s:7:\"Product\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"equipment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MiningEquipment\";}s:16:\"electricityPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:6:\"\u7535\u4EF7\";}s:17:\"serviceFeePercent\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"\u670D\u52A1\u8D39(%),
  \u6574\u578B, \u7CBE\u786E\u5230\u5C0F\u65701\u4F4D, \u6570\u503C1\u4EE3\u88680.1%\n\";}s:11:\"salesMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u9500\u552E\u65B9\u5F0F\";s:4:\"enum\";a:2:{i:0;s:11:\"byEquipment\";i:1;s:10:\"byHashrate\";}}s:9:\"salesUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:132:\"\"\u9500\u552E\u5355\u4F4D,
  \u503C\u7684\u610F\u4E49\u548C\u9500\u552E\u65B9\u5F0F\u76F8\u5173 \u4F8B: \u6309\u77FF\u673A\u6574\u673A\u9500\u552E\u8868\u793A\u53F0,
  1\u4EE3\u88681\u53F0, \u6309\u6309\u7B97\u529B\u552E 1\u4EE3\u88681GHash/s\"\n\";}s:12:\"minQtyOfSale\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:68:\"\u6700\u5C0F\u8D77\u552E\u6570\u91CF,
  \u503C\u7684\u542B\u4E49\u4E0E\u9500\u552E\u65B9\u5F0F\u548C\u9500\u552E\u5355\u4F4D\u76F8\u5173\";}s:10:\"qtyInStock\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:62:\"\u5E93\u5B58\u6570\u91CF,
  \u503C\u7684\u542B\u4E49\u4E0E\u9500\u552E\u65B9\u5F0F\u548C\u9500\u552E\u5355\u4F4D\u76F8\u5173\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:58:\"\u552E\u4EF7\u6216\u73B0\u4EF7,
  \u7CBE\u786E\u5230\u5206, \u6570\u503C1\u4EE3\u8868\u4EBA\u6C11\u5E011\u5206\n\";}s:11:\"marketPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:61:\"\u5E02\u573A\u4EF7\u6216\u539F\u4EF7,
  \u7CBE\u786E\u5230\u5206, \u6570\u503C1\u4EE3\u8868\u4EBA\u6C11\u5E011\u5206\n\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"opening\";i:1;s:10:\"outOfStock\";i:2;s:10:\"comingSoon\";}s:11:\"description\";s:165:\"\"\u8BA2\u5355\u72B6\u6001
  new(\u672A\u4E0A\u67B6) | comingSoon(\u671F\u8D27 or \u5373\u5C06\u4E0A\u67B6) |
  openning(\u4E0A\u67B6\u9500\u552E\u4E2D) | closed(\u4E0B\u67B6\u505C\u6B62\u9500\u552E)
  | outOfStock(\u8131\u9500 or \u552E\u7F44 or \u7F3A\u8D27)\"\n\";}s:10:\"coverPhoto\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Photo\";}s:6:\"photos\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Album\";}s:5:\"intro\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:12:\"\u521B\u5EFA\u65F6\u95F4\";}s:8:\"openedAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:12:\"\u4E0A\u67B6\u65F6\u95F4\";}}}s:5:\"Order\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"orderNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8BA2\u5355\u7F16\u53F7\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u5546\u54C1\u7F16\u53F7\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u5546\u54C1\u540D\u79F0\";}s:12:\"productPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:64:\"\u5546\u54C1\u552E\u4EF7\u6216\u73B0\u4EF7,
  \u7CBE\u786E\u5230\u5206, \u6570\u503C1\u4EE3\u8868\u4EBA\u6C11\u5E011\u5206\n\";}s:18:\"productMarketPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:67:\"\u5546\u54C1\u5E02\u573A\u4EF7\u6216\u539F\u4EF7,
  \u7CBE\u786E\u5230\u5206, \u6570\u503C1\u4EE3\u8868\u4EBA\u6C11\u5E011\u5206\n\";}s:15:\"customerMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u987E\u5BA2\u7559\u8A00\";}s:16:\"electricityPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:6:\"\u7535\u4EF7\";}s:17:\"serviceFeePercent\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"\u670D\u52A1\u8D39(%),
  \u6574\u578B, \u7CBE\u786E\u5230\u5C0F\u65701\u4F4D, \u6570\u503C1\u4EE3\u88680.1%\n\";}s:11:\"salesMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u9500\u552E\u65B9\u5F0F\";s:4:\"enum\";a:2:{i:0;s:11:\"byEquipment\";i:1;s:10:\"byHashrate\";}}s:9:\"salesUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:132:\"\"\u9500\u552E\u5355\u4F4D,
  \u503C\u7684\u610F\u4E49\u548C\u9500\u552E\u65B9\u5F0F\u76F8\u5173 \u4F8B: \u6309\u77FF\u673A\u6574\u673A\u9500\u552E\u8868\u793A\u53F0,
  1\u4EE3\u88681\u53F0, \u6309\u6309\u7B97\u529B\u552E 1\u4EE3\u88681GHash/s\"\n\";}s:14:\"hashRatePerQty\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:35:\"\u6BCF\u4EFD\u591A\u5C11\u7B97\u529B,
  1\u4EE3\u88681Ghash/s\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:3:\"qty\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u8BA2\u5355\u6570\u91CF\";}s:11:\"totalAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:6:\"\u603B\u4EF7\";}s:10:\"paidAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u5B9E\u6536\u91D1\u989D\";}s:15:\"orderCompleteBy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:26:\"nextDayAfterOrderConfirmed\";i:1;s:11:\"immediately\";i:2;s:8:\"manaully\";}s:11:\"description\";s:78:\"\u8BA2\u5355\u5B8C\u6210\u65B9\u5F0F(\u5F00\u6316\u65F6\u95F4)
  \u8BA2\u5355\u786E\u8BA4\u540E\u6B21\u65E5\u51CC\u6668 | \u7ACB\u5373 | \u624B\u52A8\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:3:\"new\";i:1;s:9:\"confirmed\";i:2;s:9:\"completed\";i:3;s:8:\"canceled\";}s:11:\"description\";s:46:\"\u8BA2\u5355\u72B6\u6001(new|confirmed|completed|canceled)\";}s:10:\"transferTo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OrderTransfer\";}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:12:\"\u521B\u5EFA\u65F6\u95F4\";}s:11:\"confirmedAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:12:\"\u786E\u8BA4\u65F6\u95F4\";}s:11:\"completedAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:27:\"\u5B8C\u6210\u65F6\u95F4\u6216\u5F00\u6316\u65F6\u95F4\";}s:10:\"canceledAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:12:\"\u53D6\u6D88\u65F6\u95F4\";}s:12:\"cancelReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u53D6\u6D88\u539F\u56E0\";}}}s:14:\"HashesTimeline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"hashes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u54C8\u5E0C\u6570\u91CF\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"UNIX\u65F6\u95F4\u6233,
  GMT\u65F6\u95F4, \u5355\u4F4D\u6BEB\u79D2\";}}}s:15:\"HashesStatitics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"current\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:28:\"\u5F53\u524D\u7B97\u529B,
  \u5355\u4F4D GHash/s\";}s:13:\"hoursTimeline\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/HashesTimeline\";}s:11:\"description\";s:116:\"\u6BCF\u4E2A\u65F6\u95F4\u70B9\u7684\u54C8\u5E0C\u6570\u91CF,
  \u6309\u5C0F\u65F6\u4E00\u4E2A\u65F6\u95F4\u70B9, 1\u5C0F\u65F6\u5E73\u5747\u7B97\u529B\u8BA1\u7B97\u516C\u5F0F
  = \u54C8\u5E0C\u6570\u91CF / 3600(\u79D2)\";}s:12:\"daysTimeline\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/HashesTimeline\";}s:11:\"description\";s:111:\"\u6BCF\u4E2A\u65F6\u95F4\u70B9\u7684\u54C8\u5E0C\u6570\u91CF,
  \u6309\u5929\u4E00\u4E2A\u65F6\u95F4\u70B9, 1\u5929\u5E73\u5747\u7B97\u529B\u8BA1\u7B97\u516C\u5F0F
  = \u54C8\u5E0C\u6570\u91CF / 86400(\u79D2)\";}}}s:21:\"PowerConsumesTimeline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"volume\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:32:\"\u7528\u7535\u91CF,
  \u5355\u4F4D\u5343\u5206\u4E4B\u4E00\u5EA6\";}s:11:\"totalVolume\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:59:\"\u622A\u6B62\u5F53\u524D\u65F6\u95F4\u70B9\u7D2F\u8BA1\u7528\u7535\u91CF,
  \u5355\u4F4D\u5343\u5206\u4E4B\u4E00\u5EA6\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"UNIX\u65F6\u95F4\u6233,
  GMT\u65F6\u95F4, \u5355\u4F4D\u6BEB\u79D2\";}}}s:22:\"PowerConsumesStatitics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"\u603B\u8BA1\u7528\u7535\u91CF,
  \u5355\u4F4D\u5343\u5206\u4E4B\u4E00\u5EA6\";}s:12:\"daysTimeline\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PowerConsumesTimeline\";}s:11:\"description\";s:50:\"\u6BCF\u4E2A\u65F6\u95F4\u70B9\u7684\u7528\u7535\u91CF,
  \u6309\u5929\u4E00\u4E2A\u65F6\u95F4\u70B9\";}}}s:21:\"MiningRevenueTimeline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:32:\"\u6BD4\u7279\u5E01\u6316\u77FF\u6536\u76CA,
  \u5355\u4F4D\u806A\";}s:11:\"totalAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:59:\"\u622A\u6B62\u5F53\u524D\u65F6\u95F4\u70B9\u7D2F\u8BA1\u6BD4\u7279\u5E01\u6316\u77FF\u6536\u76CA,
  \u5355\u4F4D\u806A\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"UNIX\u65F6\u95F4\u6233,
  GMT\u65F6\u95F4, \u5355\u4F4D\u6BEB\u79D2\";}}}s:22:\"MiningRevenueStatitics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"\u7D2F\u8BA1\u6BD4\u7279\u5E01\u6316\u77FF\u6536\u76CA,
  \u5355\u4F4D\u806A\";}s:5:\"today\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"\u4ECA\u65E5\u6BD4\u7279\u5E01\u6316\u77FF\u6536\u76CA,
  \u5355\u4F4D\u806A\";}s:7:\"settled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:35:\"\u5DF2\u7ED3\u7B97\u6BD4\u7279\u5E01\u6536\u76CA,
  \u5355\u4F4D\u806A\";}s:16:\"settledMinusCost\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:46:\"\u5176\u5B83\u8D39\u7528(\u62C6\u6210\u6BD4\u7279\u5E01\u6298\u6263),
  \u5355\u4F4D\u806A\";}s:8:\"unSettle\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:35:\"\u672A\u7ED3\u7B97\u6BD4\u7279\u5E01\u6536\u76CA,
  \u5355\u4F4D\u806A\";}s:12:\"inSettlement\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:35:\"\u7ED3\u7B97\u4E2D\u6BD4\u7279\u5E01\u6536\u76CA,
  \u5355\u4F4D\u806A\";}s:12:\"daysTimeline\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MiningRevenueTimeline\";}s:11:\"description\";s:62:\"\u6BCF\u4E2A\u65F6\u95F4\u70B9\u7684\u6BD4\u7279\u5E01\u6316\u77FF\u6536\u76CA,
  \u6309\u5929\u4E00\u4E2A\u65F6\u95F4\u70B9\";}}}s:21:\"MiningWorkerStatitics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"workingWorkers\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"\u5728\u5DE5\u4F5C\u4E2D\u7684\u77FF\u5DE5\u6570\u91CF\";}s:15:\"workingHashrate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:46:\"\u5728\u5DE5\u4F5C\u4E2D\u7684\u77FF\u5DE5\u603B\u7B97\u529B,
  \u5355\u4F4D GHash/s\";}s:14:\"stoppedWorkers\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:24:\"\u672A\u5DE5\u4F5C\u7684\u77FF\u5DE5\u6570\u91CF\";}s:15:\"stoppedHashrate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:43:\"\u672A\u5DE5\u4F5C\u7684\u77FF\u5DE5\u603B\u7B97\u529B,
  \u5355\u4F4D GHash/s\";}}}s:15:\"MiningStatitics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"hashes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/HashesStatitics\";}s:8:\"revenues\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/MiningRevenueStatitics\";}s:13:\"powerConsumes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PowerConsumesStatitics\";}s:7:\"workers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MiningWorkerStatitics\";}}}s:13:\"OrderTransfer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"qty\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u8F6C\u8BA9\u4EFD\u6570\";}s:13:\"transferredAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:12:\"\u8F6C\u8BA9\u65F6\u95F4\";}}}s:15:\"MiningMinusCost\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8D39\u7528\u540D\u79F0\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:35:\"\u51CF\u8BA1\u7684\u4EBA\u6C11\u5E01\u8D39\u7528,
  \u5355\u4F4D\u5206\";}s:6:\"btcDue\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:65:\"\u51CF\u8BA1\u7684\u4EBA\u6C11\u5E01\u8D39\u7528\u5BF9\u5E94\u7684\u9700\u652F\u4ED8\u7684BTC\u6570\u91CF,
  \u5355\u4F4D\u806A\";}}}s:17:\"SettlementPayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"settlementId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:11:\"\u7ED3\u7B97\u5355Id\";}s:12:\"settlementNo\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u7ED3\u7B97\u5355\u53F7\";}s:10:\"btcRevenue\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:15:\"\u6536\u76CABTC\u6570\u91CF\";}s:17:\"btcReceiptAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u6536\u5E01\u5730\u5740\";}s:23:\"btcMinusElectricityCost\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:55:\"\u51CF\u8BA1\u6316\u77FF\u4E2D\u7684\u7528\u7535\u652F\u51FA,
  \u6298\u6210\u6BD4\u7279\u5E01, \u6263\u9664\";}s:18:\"btcMinusMiningCost\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:58:\"\u51CF\u8BA1\u6316\u77FF\u4E2D\u5176\u5B83\u8D39\u7528\u652F\u51FA,
  \u6298\u6210\u6BD4\u7279\u5E01, \u6263\u9664\";}s:25:\"btcMinusMiningCostDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MiningMinusCost\";}}s:13:\"btcSettlement\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"\u6700\u7EC8\u7ED3\u7B97BTC\u6570\u91CF\";}s:4:\"txId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"\u4EA4\u6613Id\";}s:5:\"txURL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"\u5728\u533A\u5757\u94FE\u6D4F\u89C8\u5668\u4E2D\u7684\u6B64\u4EA4\u6613\u7684URL\u5730\u5740\";}s:10:\"txConfirms\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:9:\"\u786E\u8BA4\u6570\";}s:13:\"txConfirmedAt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:12:\"\u786E\u8BA4\u65F6\u95F4\";}}}s:21:\"NetworkDifficultyInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"current\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"\u5F53\u524D\u6316\u77FF\u96BE\u5EA6\";}s:12:\"estimateNext\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:24:\"\u9884\u4F30\u5F53\u524D\u6316\u77FF\u96BE\u5EA6\";}s:23:\"estimateAdjustTimesAway\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:45:\"\u9884\u4F30\u4E0B\u6B21\u96BE\u5EA6\u8C03\u6574\u65F6\u95F4\u8FD8\u4E58\u591A\u5C11\u79D2\";}}}s:22:\"MiningNetworkStatitics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"difficulty\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/NetworkDifficultyInfo\";}s:12:\"blockSubsidy\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:47:\"\u5F53\u524D\u4E00\u4E2A\u5757\u5956\u52B1\u591A\u5C11BTC\u6570\u91CF,
  \u5355\u4F4D\u806A\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
