---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"APIs to be exposed
  by US Bank as per Durable Data API specification defined by FS-ISAC as part of OpenFinancial
  Exchange \";s:7:\"version\";s:5:\"2.0.0\";s:5:\"title\";s:45:\"U.S. Bank Open API
  Financial API specfication\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"US
  Bank API Team\";s:5:\"email\";s:17:\"apicoe@usbank.com\";}s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"US
  Bank Operating Rules\";}}"
host: api-alpha.usbank.com
basePath: /api/acm
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":94:{s:13:\"AccountStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:6:\"CLOSED\";i:1;s:10:\"DELINQUENT\";i:2;s:22:\"NEGATIVECURRENTBALANCE\";i:3;s:4:\"OPEN\";i:4;s:4:\"PAID\";i:5;s:12:\"PENDINGCLOSE\";i:6;s:11:\"PENDINGOPEN\";}}s:11:\"AccountType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Account
  type\";s:4:\"enum\";a:39:{i:0;s:4:\"401A\";i:1;s:4:\"401K\";i:2;s:4:\"403B\";i:3;s:3:\"529\";i:4;s:9:\"AUTO
  LOAN\";i:5;s:2:\"CD\";i:6;s:6:\"CHARGE\";i:7;s:8:\"CHECKING\";i:8;s:22:\"COMMERCIALLINEOFCREDIT\";i:9;s:14:\"COMMERCIALLOAN\";i:10;s:9:\"COVERDELL\";i:11;s:10:\"CREDITCARD\";i:12;s:6:\"ESCROW\";i:13;s:4:\"ESOP\";i:14;s:8:\"GUARDIAN\";i:15;s:14:\"HOMEEQUITYLOAN\";i:16;s:16:\"HOMELINEOFCREDIT\";i:17;s:17:\"INSITUTIONALTRUST\";i:18;s:11:\"INSTALLMENT\";i:19;s:3:\"IRA\";i:20;s:5:\"KEOGH\";i:21;s:12:\"LINEOFCREDIT\";i:22;s:4:\"LOAN\";i:23;s:12:\"MILATARYLOAN\";i:24;s:11:\"MONEYMARKET\";i:25;s:8:\"MORTGAGE\";i:26;s:12:\"PERSONALLOAN\";i:27;s:8:\"ROLLOVER\";i:28;s:4:\"ROTH\";i:29;s:6:\"SARSEP\";i:30;s:7:\"SAVINGS\";i:31;s:7:\"SMBLOAN\";i:32;s:11:\"STUDENTLOAN\";i:33;s:7:\"TAXABLE\";i:34;s:3:\"TDA\";i:35;s:5:\"TRUST\";i:36;s:4:\"UGMA\";i:37;s:4:\"UTMA\";i:38;s:6:\"Anuity\";}}s:10:\"AssetClass\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:12:\"DOMESTICBOND\";i:1;s:8:\"INTLBOND\";i:2;s:9:\"INTLSTOCK\";i:3;s:10:\"LARGESTOCK\";i:4;s:11:\"MONEYMARKET\";i:5;s:5:\"OTHER\";i:6;s:10:\"SMALLSTOCK\";}}s:11:\"BalanceType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"ASSET\";i:1;s:9:\"LIABILITY\";}}s:8:\"CallType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:4:\"CALL\";i:1;s:8:\"MATURITY\";i:2;s:7:\"PREFUND\";i:3;s:3:\"PUT\";}}s:17:\"CompoundingPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:8:\"ANNUALLY\";i:1;s:8:\"BIWEEKLY\";i:2;s:5:\"DAILY\";i:3;s:7:\"MONTHLY\";i:4;s:12:\"SEMIANNUALLY\";i:5;s:11:\"SEMIMONTHLY\";i:6;s:6:\"WEEKLY\";}}s:21:\"CouponMatureFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:6:\"ANNUAL\";i:1;s:7:\"MONTHLY\";i:2;s:5:\"OTHER\";i:3;s:9:\"QUARTERLY\";i:4;s:10:\"SEMIANNUAL\";}}s:15:\"DebitCreditMemo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"CREDIT\";i:1;s:5:\"DEBIT\";i:2;s:4:\"MEMO\";}}s:9:\"DebtClass\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:9:\"CORPORATE\";i:1;s:9:\"MUNICIPAL\";i:2;s:5:\"OTHER\";i:3;s:8:\"TREASURY\";}}s:8:\"DebtType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"COUPON\";i:1;s:4:\"ZERO\";}}s:22:\"DepositTransactionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:14:{i:0;s:10:\"ADJUSTMENT\";i:1;s:10:\"ATMDEPOSIT\";i:2;s:13:\"ATMWITHDRAWAL\";i:3;s:11:\"BILLPAYMENT\";i:4;s:5:\"CHECK\";i:5;s:7:\"DEPOSIT\";i:6;s:13:\"DIRECTDEPOSIT\";i:7;s:8:\"DIVIDEND\";i:8;s:3:\"FEE\";i:9;s:8:\"INTEREST\";i:10;s:9:\"POSCREDIT\";i:11;s:8:\"POSDEBIT\";i:12;s:8:\"TRANSFER\";i:13;s:10:\"WITHDRAWAL\";}}s:13:\"HeldInAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:4:\"CASH\";i:1;s:6:\"MARGIN\";i:2;s:5:\"OTHER\";i:3;s:5:\"SHORT\";}}s:14:\"HoldingSubType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"CASH\";i:1;s:11:\"MONEYMARKET\";}}s:11:\"HoldingType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:7:\"ANNUITY\";i:1;s:4:\"BOND\";i:2;s:2:\"CD\";i:3;s:10:\"MUTUALFUND\";i:4;s:7:\"OPTIONS\";i:5;s:5:\"STOCK\";}}s:10:\"Identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:128;}s:10:\"IncomeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"CGLONG\";i:1;s:7:\"CGSHORT\";i:2;s:4:\"MISC\";}}s:16:\"InterestRateType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"FIXED\";i:1;s:8:\"VARIABLE\";}}s:17:\"Inv401kSourceType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:8:\"AFTERTAX\";i:1;s:5:\"MATCH\";i:2;s:12:\"OTHERNONVEST\";i:3;s:9:\"OTHERVEST\";i:4;s:6:\"PRETAX\";i:5;s:13:\"PROFITSHARING\";i:6;s:8:\"ROLLOVER\";}}s:21:\"InvestmentBalanceType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"AMOUNT\";i:1;s:10:\"PERCENTAGE\";}}s:25:\"InvestmentTransactionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:40:{i:0;s:10:\"ADJUSTMENT\";i:1;s:3:\"ATM\";i:2;s:4:\"CASH\";i:3;s:5:\"CHECK\";i:4;s:7:\"CLOSURE\";i:5;s:10:\"CLOSUREOPT\";i:6;s:12:\"CONTRIBUTION\";i:7;s:3:\"DEP\";i:8;s:11:\"DIRECTDEBIT\";i:9;s:9:\"DIRECTDEP\";i:10;s:3:\"DIV\";i:11;s:8:\"DIVIDEND\";i:12;s:16:\"DIVIDENDREINVEST\";i:13;s:7:\"EXPENSE\";i:14;s:3:\"FEE\";i:15;s:6:\"INCOME\";i:16;s:8:\"INTEREST\";i:17;s:10:\"INVEXPENSE\";i:18;s:8:\"JRNLFUND\";i:19;s:7:\"JRNLSEC\";i:20;s:14:\"MARGININTEREST\";i:21;s:14:\"OPTIONEXERCISE\";i:22;s:16:\"OPTIONEXPIRATION\";i:23;s:5:\"OTHER\";i:24;s:7:\"PAYMENT\";i:25;s:3:\"POS\";i:26;s:9:\"PURCHASED\";i:27;s:16:\"PURCHASEDTOCOVER\";i:28;s:15:\"PURCHASETOCLOSE\";i:29;s:14:\"PURCHASETOOPEN\";i:30;s:16:\"REINVESTOFINCOME\";i:31;s:9:\"REPEATPMT\";i:32;s:15:\"RETURNOFCAPITAL\";i:33;s:4:\"SOLD\";i:34;s:11:\"SOLDTOCLOSE\";i:35;s:10:\"SOLDTOOPEN\";i:36;s:5:\"SPLIT\";i:37;s:6:\"SRVCHG\";i:38;s:8:\"TRANSFER\";i:39;s:4:\"XFER\";}}s:11:\"Iso4217Code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:178:{i:0;s:3:\"AED\";i:1;s:3:\"AFN\";i:2;s:3:\"ALL\";i:3;s:3:\"AMD\";i:4;s:3:\"ANG\";i:5;s:3:\"AOA\";i:6;s:3:\"ARS\";i:7;s:3:\"AUD\";i:8;s:3:\"AWG\";i:9;s:3:\"AZN\";i:10;s:3:\"BAM\";i:11;s:3:\"BBD\";i:12;s:3:\"BDT\";i:13;s:3:\"BGN\";i:14;s:3:\"BHD\";i:15;s:3:\"BIF\";i:16;s:3:\"BMD\";i:17;s:3:\"BND\";i:18;s:3:\"BOB\";i:19;s:3:\"BOV\";i:20;s:3:\"BRL\";i:21;s:3:\"BSD\";i:22;s:3:\"BTN\";i:23;s:3:\"BWP\";i:24;s:3:\"BYR\";i:25;s:3:\"BZD\";i:26;s:3:\"CAD\";i:27;s:3:\"CDF\";i:28;s:3:\"CHE\";i:29;s:3:\"CHF\";i:30;s:3:\"CHW\";i:31;s:3:\"CLF\";i:32;s:3:\"CLP\";i:33;s:3:\"CNY\";i:34;s:3:\"COP\";i:35;s:3:\"COU\";i:36;s:3:\"CRC\";i:37;s:3:\"CUC\";i:38;s:3:\"CUP\";i:39;s:3:\"CVE\";i:40;s:3:\"CZK\";i:41;s:3:\"DJF\";i:42;s:3:\"DKK\";i:43;s:3:\"DOP\";i:44;s:3:\"DZD\";i:45;s:3:\"EGP\";i:46;s:3:\"ERN\";i:47;s:3:\"ETB\";i:48;s:3:\"EUR\";i:49;s:3:\"FJD\";i:50;s:3:\"FKP\";i:51;s:3:\"GBP\";i:52;s:3:\"GEL\";i:53;s:3:\"GHS\";i:54;s:3:\"GIP\";i:55;s:3:\"GMD\";i:56;s:3:\"GNF\";i:57;s:3:\"GTQ\";i:58;s:3:\"GYD\";i:59;s:3:\"HKD\";i:60;s:3:\"HNL\";i:61;s:3:\"HRK\";i:62;s:3:\"HTG\";i:63;s:3:\"HUF\";i:64;s:3:\"IDR\";i:65;s:3:\"ILS\";i:66;s:3:\"INR\";i:67;s:3:\"IQD\";i:68;s:3:\"IRR\";i:69;s:3:\"ISK\";i:70;s:3:\"JMD\";i:71;s:3:\"JOD\";i:72;s:3:\"JPY\";i:73;s:3:\"KES\";i:74;s:3:\"KGS\";i:75;s:3:\"KHR\";i:76;s:3:\"KMF\";i:77;s:3:\"KPW\";i:78;s:3:\"KRW\";i:79;s:3:\"KWD\";i:80;s:3:\"KYD\";i:81;s:3:\"KZT\";i:82;s:3:\"LAK\";i:83;s:3:\"LBP\";i:84;s:3:\"LKR\";i:85;s:3:\"LRD\";i:86;s:3:\"LSL\";i:87;s:3:\"LYD\";i:88;s:3:\"MAD\";i:89;s:3:\"MDL\";i:90;s:3:\"MGA\";i:91;s:3:\"MKD\";i:92;s:3:\"MMK\";i:93;s:3:\"MNT\";i:94;s:3:\"MOP\";i:95;s:3:\"MRO\";i:96;s:3:\"MUR\";i:97;s:3:\"MVR\";i:98;s:3:\"MWK\";i:99;s:3:\"MXN\";i:100;s:3:\"MXV\";i:101;s:3:\"MYR\";i:102;s:3:\"MZN\";i:103;s:3:\"NAD\";i:104;s:3:\"NGN\";i:105;s:3:\"NIO\";i:106;s:3:\"NOK\";i:107;s:3:\"NPR\";i:108;s:3:\"NZD\";i:109;s:3:\"OMR\";i:110;s:3:\"PAB\";i:111;s:3:\"PEN\";i:112;s:3:\"PGK\";i:113;s:3:\"PHP\";i:114;s:3:\"PKR\";i:115;s:3:\"PLN\";i:116;s:3:\"PYG\";i:117;s:3:\"QAR\";i:118;s:3:\"RON\";i:119;s:3:\"RSD\";i:120;s:3:\"RUB\";i:121;s:3:\"RWF\";i:122;s:3:\"SAR\";i:123;s:3:\"SBD\";i:124;s:3:\"SCR\";i:125;s:3:\"SDG\";i:126;s:3:\"SEK\";i:127;s:3:\"SGD\";i:128;s:3:\"SHP\";i:129;s:3:\"SLL\";i:130;s:3:\"SOS\";i:131;s:3:\"SRD\";i:132;s:3:\"SSP\";i:133;s:3:\"STD\";i:134;s:3:\"SVC\";i:135;s:3:\"SYP\";i:136;s:3:\"SZL\";i:137;s:3:\"THB\";i:138;s:3:\"TJS\";i:139;s:3:\"TMT\";i:140;s:3:\"TND\";i:141;s:3:\"TOP\";i:142;s:3:\"TRY\";i:143;s:3:\"TTD\";i:144;s:3:\"TWD\";i:145;s:3:\"TZS\";i:146;s:3:\"UAH\";i:147;s:3:\"UGX\";i:148;s:3:\"USD\";i:149;s:3:\"USN\";i:150;s:3:\"UYI\";i:151;s:3:\"UYU\";i:152;s:3:\"UZS\";i:153;s:3:\"VEF\";i:154;s:3:\"VND\";i:155;s:3:\"VUV\";i:156;s:3:\"WST\";i:157;s:3:\"XAF\";i:158;s:3:\"XAG\";i:159;s:3:\"XAU\";i:160;s:3:\"XBA\";i:161;s:3:\"XBB\";i:162;s:3:\"XBC\";i:163;s:3:\"XBD\";i:164;s:3:\"XCD\";i:165;s:3:\"XDR\";i:166;s:3:\"XOF\";i:167;s:3:\"XPD\";i:168;s:3:\"XPF\";i:169;s:3:\"XPT\";i:170;s:3:\"XSU\";i:171;s:3:\"XTS\";i:172;s:3:\"XUA\";i:173;s:3:\"XXX\";i:174;s:3:\"YER\";i:175;s:3:\"ZAR\";i:176;s:3:\"ZMW\";i:177;s:3:\"ZWL\";}}s:20:\"LoanPaymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:10:{i:0;s:8:\"ANNUALLY\";i:1;s:9:\"BIMONTHLY\";i:2;s:8:\"BIWEEKLY\";i:3;s:9:\"FOURWEEKS\";i:4;s:7:\"MONTHLY\";i:5;s:5:\"OTHER\";i:6;s:9:\"QUARTERLY\";i:7;s:12:\"SEMIANNUALLY\";i:8;s:12:\"TWICEMONTHLY\";i:9;s:6:\"WEEKLY\";}}s:19:\"LoanTransactionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:10:\"ADJUSTMENT\";i:1;s:3:\"FEE\";i:2;s:8:\"INTEREST\";i:3;s:7:\"PAYMENT\";}}s:18:\"LocTransactionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:10:\"ADJUSTMENT\";i:1;s:5:\"CHECK\";i:2;s:3:\"FEE\";i:3;s:8:\"INTEREST\";i:4;s:7:\"PAYMENT\";i:5;s:10:\"WITHDRAWAL\";}}s:14:\"MutualFundType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:8:\"CLOSEEND\";i:1;s:7:\"OPENEND\";i:2;s:5:\"OTHER\";}}s:10:\"OptionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"CALL\";i:1;s:3:\"PUT\";}}s:13:\"OrderDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"DAY\";i:1;s:14:\"GOODTILLCANCEL\";i:2;s:9:\"IMMEDIATE\";}}s:9:\"OrderType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:3:\"BUY\";i:1;s:10:\"BUYTOCOVER\";i:2;s:9:\"BUYTOOPEN\";i:3;s:4:\"SELL\";i:4;s:9:\"SELLCLOSE\";i:5;s:9:\"SELLSHORT\";i:6;s:11:\"SELLTOCOVER\";i:7;s:10:\"SELLTOOPEN\";}}s:16:\"PaymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:8:\"ANNUALLY\";i:1;s:8:\"BIWEEKLY\";i:2;s:5:\"DAILY\";i:3;s:7:\"MONTHLY\";i:4;s:12:\"SEMIANNUALLY\";i:5;s:11:\"SEMIMONTHLY\";i:6;s:6:\"WEEKLY\";}}s:12:\"PositionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"LONG\";i:1;s:5:\"SHORT\";}}s:7:\"Secured\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"COVERED\";i:1;s:5:\"NAKED\";}}s:14:\"SecurityIdType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:5:\"CUSIP\";i:1;s:4:\"ISIN\";i:2;s:5:\"SEDOL\";i:3;s:4:\"SICC\";i:4;s:5:\"VALOR\";i:5;s:3:\"WKN\";}}s:12:\"SecurityType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:4:\"DEBT\";i:1;s:10:\"MUTUALFUND\";i:2;s:6:\"OPTION\";i:3;s:5:\"OTHER\";i:4;s:5:\"STOCK\";i:5;s:5:\"SWEEP\";}}s:9:\"StockType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"COMMON\";i:1;s:11:\"CONVERTIBLE\";i:2;s:5:\"OTHER\";i:3;s:9:\"PREFERRED\";}}s:9:\"String255\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:8:\"String64\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:64;}s:7:\"String9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:9;}s:14:\"SubAccountType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:4:\"CASH\";i:1;s:6:\"MARGIN\";i:2;s:6:\"OTHERS\";i:3;s:5:\"SHORT\";}}s:9:\"Timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:41:\"\\d{4}\\-\\d\\d\\-\\d\\dT\\d\\d:\\d\\d:\\d\\d\\.\\d\\d\\dZ\";s:11:\"description\";s:54:\"ISO
  8601 date time with milliseconds in UTC time zone.\";}s:17:\"TransactionReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:4:\"CALL\";i:1;s:8:\"MATURITY\";i:2;s:4:\"SELL\";}}s:17:\"TransactionStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:13:\"AUTHORIZATION\";i:1;s:4:\"MEMO\";i:2;s:7:\"PENDING\";i:3;s:6:\"POSTED\";}}s:8:\"UnitType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:8:\"CURRENCY\";i:1;s:6:\"SHARES\";}}s:7:\"Account\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccountDescriptor\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:13:\"AccountNumber\";i:1;s:17:\"AccountObjectType\";i:2;s:8:\"Currency\";i:3;s:12:\"InterestRate\";}s:10:\"properties\";O:8:\"stdClass\":17:{s:17:\"AccountObjectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"for
  Polymorphism\";}s:15:\"ParentAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Long-term
  persistent identity of the parent account. This is used to group accounts.\";s:4:\"$ref\";s:24:\"#/definitions/Identifier\";}s:8:\"Nickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  user's moniker for the account\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Currency
  Aggregate\";s:4:\"$ref\";s:22:\"#/definitions/Currency\";}s:14:\"LineOfBusiness\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  line of business, such as consumer, consumer joint, small business, corporate, etc.\";}s:13:\"AccountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"End
  user's handle for account at owning institution\";}s:20:\"RoutingTransitNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"RTN
  associated with account number at owning institution.\";}s:11:\"BalanceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"ASSET
  (positive transaction amount increases balance), LIABILITY (positive transaction
  amount decreases balance)\";s:4:\"$ref\";s:25:\"#/definitions/BalanceType\";}s:12:\"InterestRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:24:\"Interest
  Rate of Account\";}s:16:\"InterestRateType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"FIXED
  or VARIABLE\";s:4:\"$ref\";s:30:\"#/definitions/InterestRateType\";}s:16:\"InterestRateAsOf\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Date
  of account's interest rate\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:17:\"PriorInterestRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:33:\"Previous
  Interest Rate of Account\";}s:10:\"TransferIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"Account
  is eligible for incoming transfers\";}s:11:\"TransferOut\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"Account
  is eligible for outgoing transfers\";}s:10:\"MicrNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"MICR
  Number\";s:4:\"$ref\";s:22:\"#/definitions/String64\";}s:16:\"LastActivityDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Date
  that last transaction occurred on account\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:20:\"TransactionsIncluded\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:249:\"Default
  is false. If present and true, a call to retrieve transactions will not return any
  further details about this account. This is an optimization that allows a Durable
  Data API server to return transactions and account details in a single call.\";}}}}s:11:\"description\";s:158:\"An
  abstract account entity that concrete account entities extend. Extends and inherits
  all fields from [AccountDescriptor]('#/definitions/AccountDescriptor').\";}s:17:\"AccountDescriptor\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:27:\"AccountDescriptorObjectType\";i:1;s:9:\"AccountId\";i:2;s:11:\"DisplayName\";i:3;s:6:\"Status\";}s:13:\"discriminator\";s:27:\"AccountDescriptorObjectType\";s:10:\"properties\";O:8:\"stdClass\":8:{s:27:\"AccountDescriptorObjectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"for
  Polymorphism\";}s:9:\"AccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"Long-term
  persistent identity of the account. Not an account number. This identity must be
  unique to the owning institution.\";s:4:\"$ref\";s:24:\"#/definitions/Identifier\";}s:11:\"AccountType\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Account
  type\";s:4:\"$ref\";s:25:\"#/definitions/AccountType\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"Account
  identity to display to customer. This may be a masked account number or product
  name followed by masked number.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Account
  status\";s:4:\"$ref\";s:27:\"#/definitions/AccountStatus\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Description
  of account\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Present
  if an error was encountered while retrieving this account\";s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:12:\"FiAttributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"Array
  of FI-specific attributes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FiAttribute\";}}}s:11:\"description\";s:68:\"Minimal
  information about the account for use in lightweight arrays.\";}s:21:\"AccountDescriptorList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:32:\"A
  lightweight array of accounts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccountDescriptor\";}}s:8:\"Accounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"Total
  number of results in this collection across all pages\";}s:10:\"TotalPages\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"Total
  number of pages\";}s:4:\"Page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"Current
  page number\";}s:8:\"Accounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:115:\"An
  array of accounts with entity types dependent on the account type (deposit, investment,
  loan, or line of credit)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}}}s:11:\"description\";s:42:\"An
  optionally paginated array of accounts.\";}s:22:\"AccountsDetailsRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:31:\"SingleAccountDetailsRequestList\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:31:\"SingleAccountDetailsRequestList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/SingleAccountDetailsRequestList\";}}}s:7:\"Address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:4:\"City\";i:1;s:7:\"Country\";i:2;s:5:\"Line1\";i:3;s:10:\"PostalCode\";i:4;s:11:\"Subdivision\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"Line1\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  location's first line\";s:4:\"$ref\";s:22:\"#/definitions/String64\";}s:5:\"Line2\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  location's second line\";s:4:\"$ref\";s:22:\"#/definitions/String64\";}s:5:\"Line3\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  location's third line\";s:4:\"$ref\";s:22:\"#/definitions/String64\";}s:4:\"City\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  location's city\";s:4:\"$ref\";s:22:\"#/definitions/String64\";}s:11:\"Subdivision\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  location's country subdivision\";s:4:\"$ref\";s:32:\"#/definitions/CountrySubdivision\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  delivery location's postal code\";s:4:\"$ref\";s:21:\"#/definitions/String9\";}s:7:\"Country\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Country\";s:4:\"$ref\";s:21:\"#/definitions/Country\";}}}s:12:\"Contribution\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"SecurityId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Unique
  identifier of security\";}s:14:\"SecurityIdType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Security
  identifier type\";s:4:\"$ref\";s:28:\"#/definitions/SecurityIdType\";}s:23:\"EmployerMatchPercentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:38:\"Employer
  contribution match percentage\";}s:19:\"EmployerMatchAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:34:\"Employer
  contribution match amount\";}s:20:\"EmployeePreTaxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:36:\"Employee
  pre-tax contribution amount\";}s:24:\"EmployeePreTaxPercentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:40:\"Employee
  pre-tax contribution percentage\";}s:22:\"EmployeeAfterTaxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:38:\"Employee
  after tax contribution amount\";}s:26:\"EmployeeAfterTaxPercentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:42:\"Employee
  after tax contribution percentage\";}s:25:\"EmployeeDeferPreTaxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:48:\"Employee
  defer pre-tax contribution match amount\";}s:29:\"EmployeeDeferPreTaxPercentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:52:\"Employee
  defer pre-tax contribution match percentage\";}s:18:\"EmployeeYearToDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:40:\"Employee
  total year to date contribution\";}s:18:\"EmployerYearToDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:40:\"Employer
  total year to date contribution\";}s:30:\"RolloverContributionPercentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:32:\"Rollover
  contribution percentage\";}s:26:\"RolloverContributionAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:28:\"Rollover
  contribution Amount\";}}}s:7:\"Country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the Country\";}s:4:\"Code\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"3
  letter ISO 3166-1 Country code\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}s:9:\"GeoCoding\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:41:\"Indicates
  whether the country is geocoded\";}}s:11:\"description\";s:25:\"Country and it's
  ISO code\";}s:18:\"CountrySubdivision\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Name
  of the state or province\";}s:4:\"Code\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Abbreviated
  code for the state/province/subdivision\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;}}s:11:\"description\";s:36:\"A
  country state/province/subdivision\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:53:\"Currency
  rate between original and converted currency\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"ISO
  4217 currency code\";s:4:\"$ref\";s:25:\"#/definitions/Iso4217Code\";}s:20:\"OriginalCurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Original
  ISO 4217 currency code\";s:4:\"$ref\";s:25:\"#/definitions/Iso4217Code\";}}}s:12:\"DebtSecurity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"ParValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"Par
  value amount\";}s:8:\"DebtType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Debt
  type (COUPON, ZERO)\";s:4:\"$ref\";s:22:\"#/definitions/DebtType\";}s:9:\"DebtClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Classification
  of debt (TREASURY, MUNICIPAL, CORPORATE,OTHER)\";s:4:\"$ref\";s:23:\"#/definitions/DebtClass\";}s:10:\"CouponRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:43:\"Bond
  coupon rate for next closest call date\";}s:10:\"CouponDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Maturity
  date for next coupon\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:21:\"CouponMatureFrequency\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"When
  coupons mature. One of the following values: MONTHLY, QUARTERLY, SEMIANNUAL, ANNUAL,
  or OTHER\";s:4:\"$ref\";s:35:\"#/definitions/CouponMatureFrequency\";}s:9:\"CallPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Bond
  call price\";}s:11:\"YieldToCall\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"Yield
  to next call\";}s:8:\"CallDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Next
  call date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:8:\"CallType\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Type
  of next call. CALL, PUT, PREFUND, MATURITY\";s:4:\"$ref\";s:22:\"#/definitions/CallType\";}s:15:\"YieldToMaturity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Yield
  to maturity\";}}}s:14:\"DepositAccount\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:11:\"BalanceAsOf\";i:1;s:14:\"CurrentBalance\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"BalanceAsOf\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"As-of
  date of balances\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:14:\"CurrentBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:27:\"Balance
  of funds in account\";}s:17:\"OpeningDayBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:26:\"Day's
  opening fund balance\";}s:16:\"AvailableBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:34:\"Balance
  of funds available for use\";}s:21:\"AnnualPercentageYield\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Annual
  Percentage Yield\";}s:11:\"InterestYtd\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"YTD
  Interest\";}s:4:\"Term\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:20:\"Term
  of CD in months\";}s:12:\"MaturityDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Maturity
  date for CDs\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:12:\"Transactions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"Array
  of DepositTransaction\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DepositTransaction\";}}}}}s:11:\"description\";s:45:\"Extends
  and inherits all fields from Account.\";}s:18:\"DepositTransaction\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"TransactionType\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"TransactionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"CHECK,
  WITHDRAWAL, TRANSFER, POSDEBIT, ATMWITHDRAWAL, BILLPAYMENT, FEE, DEPOSIT, ADJUSTMENT,INTEREST,
  DIVIDEND, DIRECTDEPOSIT, ATMDEPOSIT, POSCREDIT\";s:4:\"$ref\";s:36:\"#/definitions/DepositTransactionType\";}s:5:\"Payee\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Payee
  name\";s:4:\"$ref\";s:23:\"#/definitions/String255\";}s:11:\"CheckNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"Check
  number\";}}}}s:11:\"description\";s:49:\"Extends and inherits all fields from Transaction.\";}s:5:\"Error\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"Code\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"Long
  term persistent identifier which can be used to trace error condition back to log
  information\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"End
  user displayable information which might help the customer diagnose an error\";}}s:11:\"description\";s:150:\"An
  error entity which can be used at the API level for error responses or at the account
  level to indicate a problem specific to a particular account.\";}s:11:\"FiAttribute\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:5:\"Value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:22:\"FI-specific
  attribute.\";}s:9:\"FiPortion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"AssetClass\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"FI-specific
  asset class\";}s:7:\"Percent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:53:\"Percentage
  of asset class that falls under this asset\";}}}s:7:\"Holding\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"Units\";}s:10:\"properties\";O:8:\"stdClass\":34:{s:9:\"HoldingId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Long
  term persistent identity of the holding\";s:4:\"$ref\";s:24:\"#/definitions/Identifier\";}s:10:\"SecurityId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Unique
  identifier of security\";}s:14:\"SecurityIdType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Security
  identifier type\";s:4:\"$ref\";s:28:\"#/definitions/SecurityIdType\";}s:11:\"HoldingName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Holding
  name or security name\";}s:11:\"HoldingType\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"STOCK,
  BOND, MUTUALFUND, CD, ANNUITY, OPTIONS\";s:4:\"$ref\";s:25:\"#/definitions/HoldingType\";}s:14:\"HoldingSubType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"MONEYMARKET,
  CASH\";s:4:\"$ref\";s:28:\"#/definitions/HoldingSubType\";}s:12:\"PositionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"LONG,
  SHORT\";s:4:\"$ref\";s:26:\"#/definitions/PositionType\";}s:13:\"HeldInAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Sub-account
  CASH, MARGIN, SHORT, OTHER\";s:4:\"$ref\";s:27:\"#/definitions/HeldInAccount\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  description of the holding\";}s:6:\"Symbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Ticker
  / Market symbol\";}s:20:\"OriginalPurchaseDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Date
  of original purchase\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:14:\"PurchasedPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:40:\"Price
  of holding at the time of purchase\";}s:16:\"CurrentUnitPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"Current
  unit price\";}s:13:\"ChangeInPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:56:\"Change
  in current price compared to previous day's close\";}s:20:\"CurrentUnitPriceDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Current
  unit price as of date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:5:\"Units\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:67:\"Required
  for stock, mutual funds. Number of shares (with decimals).\";}s:11:\"MarketValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:42:\"Market
  value at the time of data retrieved\";}s:9:\"FaceValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:61:\"Required
  for bonds. Face value at the time of data retrieved.\";}s:11:\"AverageCost\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"Cost
  is average of all purchases for holding\";}s:11:\"CashAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:138:\"If
  true, indicates that this holding is used to maintain proceeds from sales, dividends,
  and other cash postings to the investment account\";}s:4:\"Rate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:45:\"For
  CDs, bonds, and other rate based holdings\";}s:14:\"ExpirationDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"For
  CDs, bonds, and other time-based holdings\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:13:\"Inv401kSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Source
  for money for this security. PRETAX, AFTERTAX, MATCH, PROFITSHARING, ROLLOVER, OTHERVEST,
  OTHERNONVEST\";s:4:\"$ref\";s:31:\"#/definitions/Inv401kSourceType\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Currency
  information if it is different from Account entity\";s:4:\"$ref\";s:22:\"#/definitions/Currency\";}s:12:\"AssetClasses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:32:\"Percent
  breakdown by asset class\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Portion\";}}s:14:\"FiAssetClasses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:65:\"Percent
  breakdown by FI-specific asset class percentage breakdown\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FiPortion\";}}s:12:\"FiAttributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"Array
  of FI-specific attributes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FiAttribute\";}}s:7:\"TaxLots\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:20:\"Breakdown
  by tax lot\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TaxLot\";}}s:18:\"MutualFundSecurity\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"Information
  about the MutualFundSecurity (Only one of the fields will be available: MutualFundSecurity,
  OptionSecurity, OtherSecurity, StockSecurity, SweepSecurity, or DebtSecurity)\";s:4:\"$ref\";s:32:\"#/definitions/MutualFundSecurity\";}s:14:\"OptionSecurity\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"Information
  about the OptionSecurity (Only one of the fields will be available: MutualFundSecurity,
  OptionSecurity, OtherSecurity, StockSecurity, SweepSecurity, or DebtSecurity)\";s:4:\"$ref\";s:28:\"#/definitions/OptionSecurity\";}s:13:\"OtherSecurity\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Information
  about the OtherSecurity (Only one of the fields will be available: MutualFundSecurity,
  OptionSecurity, OtherSecurity, StockSecurity, SweepSecurity, or DebtSecurity)\";s:4:\"$ref\";s:27:\"#/definitions/OtherSecurity\";}s:13:\"StockSecurity\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Information
  about the StockSecurity (Only one of the fields will be available: MutualFundSecurity,
  OptionSecurity, OtherSecurity, StockSecurity, SweepSecurity, or DebtSecurity)\";s:4:\"$ref\";s:27:\"#/definitions/StockSecurity\";}s:13:\"SweepSecurity\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Information
  about the SweepSecurity (Only one of the fields will be available: MutualFundSecurity,
  OptionSecurity, OtherSecurity, StockSecurity, SweepSecurity, or DebtSecurity)\";s:4:\"$ref\";s:27:\"#/definitions/SweepSecurity\";}s:12:\"DebtSecurity\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"Information
  about the DebtSecurity (Only one of the fields will be available: MutualFundSecurity,
  OptionSecurity, OtherSecurity, StockSecurity, SweepSecurity, or DebtSecurity)\";s:4:\"$ref\";s:26:\"#/definitions/DebtSecurity\";}}}s:17:\"InvestmentAccount\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:11:\"BalanceAsOf\";i:1;s:12:\"CurrentValue\";}s:10:\"properties\";O:8:\"stdClass\":22:{s:11:\"BalanceAsOf\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"As-of
  date for balances\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:19:\"AllowedCheckWriting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:24:\"Check
  writing privileges\";}s:18:\"AllowedOptionTrade\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:24:\"Allowed
  to trade options\";}s:12:\"CurrentValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:38:\"Total
  current value of all investments\";}s:8:\"Holdings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Array
  of holdings\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Holding\";}}s:10:\"OpenOrders\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:20:\"Array
  of open orders\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OpenOrder\";}}s:12:\"Contribution\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:78:\"Describes
  how new contributions are distributed among the available securities\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Contribution\";}}s:7:\"Vesting\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:71:\"Provides
  the past, present, and future vesting schedule and percentages\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Vesting\";}}s:15:\"InvestmentLoans\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Array
  of investment loans\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InvestmentLoan\";}}s:20:\"AvailableCashBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:65:\"Cash
  balance across all sub-accounts. Should include sweep funds.\";}s:6:\"Margin\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:25:\"Margin
  trading is allowed\";}s:13:\"MarginBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:14:\"Margin
  balance\";}s:12:\"ShortBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:13:\"Short
  Balance\";}s:14:\"RolloverAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Rollover
  Amount\";}s:12:\"EmployerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Name
  of the employer in investment 401k Plan\";}s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Unique
  identifier FI\";}s:6:\"PlanId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Plan
  number for Investment 401k plan\";}s:19:\"CalendarYearFor401k\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Date
  for this calendar year for 401K account\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:11:\"BalanceList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"Balance
  List. Name value pair aggregate.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/InvestmentBalance\";}}s:11:\"DailyChange\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"Daily
  change\";}s:16:\"PercentageChange\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Percentage
  change\";}s:12:\"Transactions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"Array
  of InvestmentTransaction\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/InvestmentTransaction\";}}}}}s:11:\"description\";s:45:\"Extends
  and inherits all fields from Account.\";}s:17:\"InvestmentBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"BalanceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the balance\";}s:18:\"BalanceDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Description
  of balance\";}s:11:\"BalanceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"AMOUNT,
  PERCENTAGE\";s:4:\"$ref\";s:35:\"#/definitions/InvestmentBalanceType\";}s:12:\"BalanceValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:21:\"Value
  of balance name\";}s:11:\"BalanceDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Date
  as of this balance\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Currency
  if different from that of account\";s:4:\"$ref\";s:22:\"#/definitions/Currency\";}}}s:14:\"InvestmentLoan\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:18:\"CurrentLoanBalance\";i:1;s:8:\"DateAsOf\";i:2;s:6:\"LoanId\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"LoanId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Unique
  identifier for this loan\";}s:15:\"LoanDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Description\";}s:18:\"InitialLoanBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:27:\"Initial
  loan balance amount\";}s:13:\"LoanStartDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Start
  date of the loan\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:18:\"CurrentLoanBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:37:\"Current
  loan principal balance amount\";}s:8:\"DateAsOf\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Date
  and time of current loan balance\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:8:\"LoanRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:38:\"Loan
  annual interest rate for the loan\";}s:17:\"LoanPaymentAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"Loan
  payment amount\";}s:20:\"LoanPaymentFrequency\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"WEEKLY,
  BIWEEKLY, TWICEMONTHLY, MONTHLY,FOURWEEKS, BIMONTHLY, QUARTERLY, SEMIANNUALLY, ANNUALLY,
  OTHER\";s:4:\"$ref\";s:34:\"#/definitions/LoanPaymentFrequency\";}s:18:\"LoanPaymentInitial\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:31:\"Initial
  number of loan payments\";}s:21:\"LoanPaymentsRemaining\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"Remaining
  number of loan payments\";}s:16:\"LoanMaturityDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Expected
  loan end date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:18:\"LoanInterestToDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:40:\"Total
  interest paid to date on this loan\";}s:26:\"LoanTotalProjectedInterest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:48:\"Total
  projected interest to be paid on this loan\";}s:19:\"LoanNextPaymentDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  next payment date for the loan\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}}}s:21:\"InvestmentTransaction\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"TransactionType\";}s:10:\"properties\";O:8:\"stdClass\":41:{s:15:\"TransactionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:427:\"PURCHASED,
  SOLD, PURCHASEDTOCOVERADJUSTMENT, PURCHASETOOPEN, PURCHASETOCLOSE, SOLDTOOPEN, SOLDTOCLOSE,
  INTEREST, MARGININTEREST, REINVESTOFINCOME, RETURNOFCAPITAL, TRANSFER, CONTRIBUTION,
  FEE, OPTIONEXERCISE, OPTIONEXPIRATION, DIVIDEND, DIVIDENDREINVEST, SPLIT, CLOSURE,
  INCOME, EXPENSE, CLOSUREOPT, INVEXPENSE, JRNLSEC, JRNLFUND, OTHER, DIV, SRVCHG,
  DEP, ATM, POS, XFER, CHECK, PAYMENT, CASH, DIRECTDEP, DIRECTDEBIT, REPEATPMT\";s:4:\"$ref\";s:39:\"#/definitions/InvestmentTransactionType\";}s:6:\"Shares\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:140:\"Required
  for stock, mutual funds. Number of shares (with decimals). Negative numbers indicate
  securities are being removed from the account.\";}s:9:\"FaceValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:20:\"Cash
  value for bonds\";}s:5:\"Price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"Unit
  purchase price\";}s:10:\"SecurityId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Unique
  identifier of security\";}s:14:\"SecurityIdType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Security
  identifier type\";s:4:\"$ref\";s:28:\"#/definitions/SecurityIdType\";}s:12:\"SecurityType\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"STOCK,
  MUTUALFUND, DEBT, OPTION, SWEEP, OTHER\";s:4:\"$ref\";s:26:\"#/definitions/SecurityType\";}s:6:\"Symbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Ticker
  symbol\";}s:6:\"Markup\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:61:\"Portion
  of unit price that is attributed to the dealer markup\";}s:10:\"Commission\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:22:\"Transaction
  commission\";}s:5:\"Taxes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"Taxes
  on the trade\";}s:4:\"Fees\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:25:\"Fees
  applied to the trade\";}s:4:\"Load\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Load
  on the transaction\";}s:13:\"Inv401kSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Source
  of money. PRETAX, AFTERTAX, MATCH,PROFITSHARING,ROLLOVER, OTHERVEST, OTHERNONVEST\";s:4:\"$ref\";s:31:\"#/definitions/Inv401kSourceType\";}s:18:\"ConfirmationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Confirmation
  number of the transaction\";}s:14:\"FractionalCash\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:49:\"Cash
  for fractional units (used for stock splits)\";}s:10:\"IncomeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Type
  of investment income: CGLONG (capital gains-long term), CGSHORT (capital gains-short
  term), MISC\";s:4:\"$ref\";s:24:\"#/definitions/IncomeType\";}s:8:\"OldUnits\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:29:\"Number
  of shares before split\";}s:19:\"SplitRatioNumerator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:21:\"Split
  ratio numerator\";}s:21:\"SplitRatioDenominator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Split
  ratio denominator\";}s:8:\"NewUnits\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:28:\"Number
  of shares after split\";}s:13:\"SubAccountSec\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Sub-account
  security Type: CASH, MARGIN, SHORT and OTHERS\";s:4:\"$ref\";s:28:\"#/definitions/SubAccountType\";}s:14:\"SubAccountFund\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"From
  which account money came in: CASH, MARGIN, SHORT and OTHERS\";s:4:\"$ref\";s:28:\"#/definitions/SubAccountType\";}s:6:\"LoanId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"For
  401k accounts only. This indicates the transaction was due to a loan or a loan repayment.\";}s:13:\"LoanPrincipal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:38:\"How
  much loan pre-payment is principal\";}s:12:\"LoanInterest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:37:\"How
  much loan pre-payment is interest\";}s:11:\"PayrollDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  date for the 401k transaction was obtained in payroll\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:16:\"PriorYearContrib\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:73:\"Indicates
  this buy was made using prior years contribution. TRUE or FALSE\";}s:11:\"Withholding\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Federal
  tax withholding\";}s:9:\"TaxExempt\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:36:\"Tax-exempt
  transaction TRUE or FALSE\";}s:4:\"Gain\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:9:\"For
  sales\";}s:16:\"StateWithholding\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:21:\"State
  tax withholding\";}s:7:\"Penalty\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:42:\"Indicates
  amount withheld due to a penalty\";}s:14:\"RunningBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:31:\"Running
  balance of the position\";}s:9:\"UnitPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:193:\"Price
  per commonly-quoted unit. Does not include markup/markdown, unitprice. Share price
  for stocks, mutual funds, and others. Percentage of par for bonds. Per share (not
  contract) for options.\";}s:5:\"Units\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:151:\"For
  security-based actions other than stock splits, quantity. Shares for stocks, mutual
  funds, and others. Face value for bonds. Contracts for options.\";}s:8:\"UnitType\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"SHARES,
  CURRENCY\";s:4:\"$ref\";s:22:\"#/definitions/UnitType\";}s:17:\"TransactionReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"TransactionReason\";s:4:\"$ref\";s:31:\"#/definitions/TransactionReason\";}s:15:\"AccruedInterest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"Accured
  Interest\";}s:14:\"TransferAction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Tranfer
  Action\";}s:12:\"PositionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"LONG,
  SHORT\";s:4:\"$ref\";s:26:\"#/definitions/PositionType\";}}}}s:11:\"description\";s:49:\"Extends
  and inherits all fields from Transaction.\";}s:8:\"LineItem\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"Amount\";i:1;s:11:\"Description\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  description of the line item\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:50:\"The
  amount of money attributable to this line item\";}s:11:\"CheckNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"Check
  number\";}s:4:\"Memo\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Secondary
  item description\";s:4:\"$ref\";s:23:\"#/definitions/String255\";}s:9:\"Reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"A
  reference number\";}s:8:\"ImageIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:106:\"Array
  of image identifiers (unique to transaction) used to retrieve images of check or
  transaction receipt\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:8:\"LineItem\";}s:11:\"LoanAccount\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:11:\"BalanceAsOf\";i:1;s:8:\"LoanTerm\";i:2;s:17:\"OriginalPrincipal\";i:3;s:16:\"PaymentFrequency\";i:4;s:16:\"PrincipalBalance\";i:5;s:21:\"TotalNumberOfPayments\";}s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"BalanceAsOf\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"As-of
  date for balances\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:16:\"PrincipalBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:25:\"Principal
  balance of loan\";}s:13:\"EscrowBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:22:\"Escrow
  balance of loan\";}s:17:\"OriginalPrincipal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:26:\"Original
  principal of loan\";}s:15:\"OriginatingDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Loan
  origination date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:8:\"LoanTerm\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Term
  of loan in months\";}s:21:\"TotalNumberOfPayments\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:24:\"Total
  number of payments\";}s:17:\"NextPaymentAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:22:\"Amount
  of next payment\";}s:15:\"NextPaymentDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Date
  of next payment\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:16:\"PaymentFrequency\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"DAILY,
  WEEKLY, BIWEEKLY, SEMIMONTHLY, MONTHLY, SEMIANNUALLY, ANNUALLY\";s:4:\"$ref\";s:30:\"#/definitions/PaymentFrequency\";}s:17:\"CompoundingPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"DAILY,
  WEEKLY, BIWEEKLY, SEMIMONTHLY, MONTHLY, SEMIANNUALLY, ANNUALLY\";s:4:\"$ref\";s:31:\"#/definitions/CompoundingPeriod\";}s:12:\"PayoffAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:13:\"Payoff
  amount\";}s:17:\"LastPaymentAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"Last
  payment amount\";}s:15:\"LastPaymentDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Last
  payment date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:12:\"MaturityDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Maturity
  date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:22:\"InterestPaidYearToDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:26:\"Interest
  paid year to date\";}s:12:\"Transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LoanTransaction\";}}}}}s:11:\"description\";s:45:\"Extends
  and inherits all fields from Account.\";}s:15:\"LoanTransaction\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"TransactionType\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"TransactionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"PAYMENT,
  FEE, ADJUSTMENT, INTEREST\";s:4:\"$ref\";s:33:\"#/definitions/LoanTransactionType\";}s:14:\"PaymentDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Breakdown
  of payment details\";s:4:\"$ref\";s:28:\"#/definitions/PaymentDetails\";}}}}s:11:\"description\";s:49:\"Extends
  and inherits all fields from Transaction.\";}s:10:\"LocAccount\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:15:\"AvailableCredit\";i:1;s:11:\"BalanceAsOf\";i:2;s:10:\"CreditLine\";i:3;s:14:\"CurrentBalance\";i:4;s:17:\"NextPaymentAmount\";i:5;s:15:\"NextPaymentDate\";i:6;s:16:\"PrincipalBalance\";}s:10:\"properties\";O:8:\"stdClass\":22:{s:11:\"BalanceAsOf\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"As-of
  date of balances\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:10:\"CreditLine\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"Credit
  limit\";}s:15:\"AvailableCredit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"Available
  credit\";}s:17:\"NextPaymentAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:22:\"Amount
  of next payment\";}s:15:\"NextPaymentDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Due
  date of next payment\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:16:\"PrincipalBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Principal
  balance\";}s:14:\"CurrentBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"Current
  balance LOC\";}s:20:\"MinimumPaymentAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:22:\"Minimum
  payment amount\";}s:17:\"LastPaymentAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"Last
  payment amount\";}s:15:\"LastPaymentDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Last
  payment date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:13:\"pastDueAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Past
  due Amount\";}s:15:\"lastStmtBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:22:\"Last
  statement balance\";}s:12:\"lastStmtDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Last
  statement date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:13:\"PointsAccrued\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:14:\"Points
  accrued\";}s:21:\"CurrentRewardsBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Current
  rewards balance\";}s:14:\"PointsRedeemed\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Points
  redeemed\";}s:12:\"PurchasesApr\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:13:\"Purchases
  APR\";}s:11:\"AdvancesApr\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"Advances
  APR\";}s:16:\"CashAdvanceLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"Cash
  advance limit\";}s:13:\"AvailableCash\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:14:\"Available
  cash\";}s:14:\"FinanceCharges\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Finance
  charges\";}s:12:\"Transactions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"list
  of LocTrasaction\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LocTransaction\";}}}}}s:11:\"description\";s:69:\"Line
  of Credit Account. Extends and inherits all fields from Account.\";}s:14:\"LocTransaction\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"TransactionType\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"TransactionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"CHECK,
  WITHDRAWAL, PAYMENT, FEE, ADJUSTMENT, INTEREST\";s:4:\"$ref\";s:32:\"#/definitions/LocTransactionType\";}s:11:\"CheckNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"Check
  number\";}s:14:\"PaymentDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Breakdown
  of payment details\";s:4:\"$ref\";s:28:\"#/definitions/PaymentDetails\";}}}}s:11:\"description\";s:79:\"A
  line of credit transaction. Extends and inherits all fields from Transaction.\";}s:18:\"MutualFundSecurity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"MutualFundType\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Mutual
  fund type. OPENEND, CLOSEEND, OTHER\";s:4:\"$ref\";s:28:\"#/definitions/MutualFundType\";}s:11:\"UnitsStreet\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:48:\"Units
  in the FI's street name, positive quantity\";}s:9:\"UnitsUser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:48:\"Units
  in user's name directly, positive quantity\";}s:17:\"ReinvestDividends\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:18:\"Reinvest
  dividends\";}s:20:\"ReinvestCapitalGains\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:22:\"Reinvest
  capital gains\";}s:5:\"Yield\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:54:\"Current
  yield reported as portion of the fund's assets\";}s:13:\"YieldAsOfDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"As-of
  date for yield value\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}}}s:9:\"OpenOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:9:\"OrderDate\";i:1;s:7:\"OrderId\";i:2;s:9:\"OrderType\";i:3;s:6:\"Symbol\";i:4;s:5:\"Units\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"OrderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Long
  term persistent identity of the order. Id for this order transaction.\";s:4:\"$ref\";s:24:\"#/definitions/Identifier\";}s:10:\"SecurityId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Unique
  identifier of security\";}s:14:\"SecurityIdType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Security
  identifier type\";s:4:\"$ref\";s:28:\"#/definitions/SecurityIdType\";}s:6:\"Symbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Market
  symbol\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Description\";}s:5:\"Units\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:38:\"Number
  of units (shares or bonds etc).\";}s:9:\"OrderType\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Type
  of order BUY, SELL, BUYTOCOVER, BUYTOOPEN, SELLTOCOVER, SELLTOOPEN, SELLSHORT, SELLCLOSE\";s:4:\"$ref\";s:23:\"#/definitions/OrderType\";}s:9:\"OrderDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Order
  date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:9:\"UnitPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:10:\"Unit
  price\";}s:8:\"UnitType\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Type of
  unit SHARES, CURRENCY\";s:4:\"$ref\";s:22:\"#/definitions/UnitType\";}s:13:\"OrderDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"This
  order is good for DAY, GOODTILLCANCEL, IMMEDIATE\";s:4:\"$ref\";s:27:\"#/definitions/OrderDuration\";}s:10:\"SubAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"CASH,
  MARGIN, SHORT, OTHER\";s:4:\"$ref\";s:28:\"#/definitions/SubAccountType\";}s:10:\"LimitPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:11:\"Limit
  price\";}s:9:\"StopPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:9:\"StopPrice\";}s:13:\"inv401kSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"Source
  for money for this ORDER. PRETAX, AFTERTAX, MATCH, PROFITSHARING, ROLLOVER, OTHERVEST,
  OTHERNONVEST.Default if not present is OTHERNONVEST\";s:4:\"$ref\";s:31:\"#/definitions/Inv401kSourceType\";}}}s:14:\"OptionSecurity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Secured\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"How
  the option is secured. NAKED, COVERED.\";s:4:\"$ref\";s:21:\"#/definitions/Secured\";}s:10:\"OptionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Option
  type: PUT = put, CALL = call\";s:4:\"$ref\";s:24:\"#/definitions/OptionType\";}s:11:\"StrikePrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:25:\"Strike
  price / Unit price\";}s:10:\"ExpireDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Expiration
  date of option\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:17:\"SharesPerContract\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"Shares
  per contract\";}}}s:13:\"OtherSecurity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"TypeDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Description
  of Other Security\";}}}s:14:\"PaymentDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"PrincipalAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:42:\"The
  amount of payment applied to principal\";}s:14:\"InterestAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:41:\"The
  amount of payment applied to interest\";}s:15:\"InsuranceAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:75:\"The
  amount of payment applied to life/ health/accident insuranceon the loan\";}s:12:\"EscrowAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:39:\"The
  amount of payment applied to escrow\";}s:9:\"PmiAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:36:\"The
  amount of payment applied to PMI\";}s:10:\"FeesAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:37:\"The
  amount of payment applied to fees\";}}}s:7:\"Portion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"AssetClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"DOMESTICBOND,
  INTLBOND, LARGESTOCK, SMALLSTOCK, INTLSTOCK, MONEYMARKET, OTHER\";s:4:\"$ref\";s:24:\"#/definitions/AssetClass\";}s:7:\"Percent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:53:\"Percentage
  of asset class that falls under this asset\";}}}s:27:\"SingleAccountDetailsRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"AccountId\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Account
  identifier\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"Start
  time for use in retrieval; ISO 8601 date including zone indicator or combined date
  time including zone indicator\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"End
  time for use in retrieval; ISO 8601 date including zone indicator or combined date
  time including zone indicator\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:4:\"Page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:90:\"Page
  number (applicable only if the server has indicated that the collection is paginated)\";}}s:11:\"description\";s:30:\"Single
  Account Details Request\";}s:31:\"SingleAccountDetailsRequestList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"array
  of SingleAccountDetailsRequest\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/SingleAccountDetailsRequest\";}}s:13:\"StockSecurity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"UnitsStreet\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:48:\"Units
  in the FI's street name, positive quantity\";}s:9:\"UnitsUser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:48:\"Units
  in user's name directly, positive quantity\";}s:17:\"ReinvestDividends\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:18:\"Reinvest
  dividends\";}s:9:\"StockType\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"COMMON,
  PREFERRED, CONVERTIBLE, OTHER\";s:4:\"$ref\";s:23:\"#/definitions/StockType\";}s:5:\"Yield\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:13:\"Current
  yield\";}s:13:\"YieldAsOfDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Yield
  as-of date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}}}s:13:\"SweepSecurity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:11:\"BalanceAsOf\";i:1;s:14:\"CurrentBalance\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"CurrentBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:27:\"Balance
  of funds in account\";}s:16:\"AvailableBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:34:\"Balance
  of funds available for use\";}s:11:\"BalanceAsOf\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"As-of
  date of balances\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:6:\"Checks\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:51:\"Whether
  or not checks can be written on the account\";}}}s:6:\"TaxLot\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"OriginalPurchaseDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Lot
  acquired date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"Lot
  quantity\";}s:14:\"PurchasedPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Original
  purchase price\";}s:9:\"CostBasis\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:97:\"Total
  amount of money spent acquiring this lot including any fees or commission expenses
  incurred\";}s:12:\"CurrentValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"Lot
  market value\";}s:12:\"PositionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"LONG,
  SHORT\";s:4:\"$ref\";s:26:\"#/definitions/PositionType\";}}}s:11:\"Transaction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:9:\"AccountId\";i:1;s:6:\"Amount\";i:2;s:11:\"Description\";i:3;s:13:\"TransactionId\";i:4;s:21:\"TransactionObjectType\";i:5;s:20:\"TransactionTimestamp\";}s:13:\"discriminator\";s:21:\"TransactionObjectType\";s:10:\"properties\";O:8:\"stdClass\":19:{s:21:\"TransactionObjectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"for
  Polymorphism\";}s:9:\"AccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Corresponds
  to AccountId in Account\";s:4:\"$ref\";s:24:\"#/definitions/Identifier\";}s:13:\"TransactionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Long
  term persistent identity of the transaction (unique to account)\";s:4:\"$ref\";s:24:\"#/definitions/Identifier\";}s:22:\"ReferenceTransactionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:222:\"For
  reverse postings, the identity of the transaction being reversed. For the correction
  transaction, the identity of the reversing post. For credit card posting transactions,
  the identity of the authorization transaction.\";s:4:\"$ref\";s:24:\"#/definitions/Identifier\";}s:15:\"PostedTimestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"The
  date and time that the transaction was posted to the account. If not provided then
  TransactionTimestamp can be used as PostedTimeStamp.\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:20:\"TransactionTimestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  date and time that the transaction was added to the server backend systems\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  description of the transaction\";}s:4:\"Memo\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Secondary
  transaction description\";s:4:\"$ref\";s:23:\"#/definitions/String255\";}s:15:\"DebitCreditMemo\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"DEBIT,
  CREDIT, MEMO\";s:4:\"$ref\";s:29:\"#/definitions/DebitCreditMemo\";}s:8:\"Category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Transaction
  category, preferably MCC or SIC.\";}s:11:\"SubCategory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Transaction
  category detail\";}s:9:\"Reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"A
  tracking reference identifier\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"PENDING,
  MEMO, POSTED, AUTHORIZATION\";s:4:\"$ref\";s:31:\"#/definitions/TransactionStatus\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:43:\"The
  amount of money in the account currency\";}s:13:\"ForeignAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:43:\"The
  amount of money in the foreign currency\";}s:15:\"ForeignCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  ISO 4217 code of the foreign currency\";s:4:\"$ref\";s:25:\"#/definitions/Iso4217Code\";}s:8:\"ImageIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:106:\"Array
  of Image Identifiers (unique to Transaction) used to retrieve Images of check or
  transaction receipt\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"LineItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"Breakdown
  of the transaction details\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}}s:12:\"FiAttributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"Array
  of FI-specific attributes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FiAttribute\";}}}}s:12:\"Transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"Total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"Total
  number of results in this collection across all pages\";}s:10:\"TotalPages\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"Total
  number of pages\";}s:4:\"Page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"Current
  page number\";}s:18:\"DepositTransaction\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"An
  array of DepositTransaction\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DepositTransaction\";}}s:21:\"InvestmentTransaction\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:33:\"An
  array of InvestmentTransaction\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/InvestmentTransaction\";}}s:15:\"LoanTransaction\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"An
  array of LoanTransaction\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LoanTransaction\";}}s:14:\"LocTransaction\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:26:\"An
  array of LocTransaction\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LocTransaction\";}}}}s:7:\"Vesting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"VestingDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Vesting
  date\";s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:6:\"Symbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Security
  symbol\";}s:11:\"StrikePrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"Strike
  price\";}s:17:\"VestingPercentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"Vesting
  Percentage\";}s:15:\"OtherVestAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Other
  Vest Amount\";}s:19:\"OtherVestPercentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:21:\"Other
  Vest Percentage\";}s:13:\"VestedBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:14:\"Vested
  Balance\";}s:15:\"UnVestedBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"UnVested
  Balance\";}s:14:\"vestedQuantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Vested
  Quantity\";}s:16:\"unVestedQuantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Unvested
  Quantity\";}}}s:10:\"Tax1099DIV\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":26:{s:7:\"TaxYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Tax
  Year\";}s:9:\"Corrected\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:21:\"Corrected
  or Original\";}s:17:\"OrdinaryDividends\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"ordinary
  dividends\";}s:18:\"QualifiedDividends\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:20:\"Qualifying
  dividends\";}s:16:\"TotalCapitalGain\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:24:\"Early
  withDrawal penalty\";}s:15:\"CollectibleGain\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"collectible
  gain\";}s:18:\"UnRecapSectionGain\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:21:\"Un
  recap section gain\";}s:11:\"SectionGain\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"section
  gain\";}s:22:\"NonTaxableDistribution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Non
  taxable distriution\";}s:18:\"FederalTaxWithheld\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:20:\"Federal
  Tax withheld\";}s:14:\"ForeignTaxPaid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"Foreign
  tax paid\";}s:15:\"CashLiquidation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"Cash
  Liquidation\";}s:18:\"NonCashLiquidation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:20:\"Non
  cash liquidation\";}s:25:\"TaxExemptInterestDivident\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:28:\"Tax
  exempt interest divident\";}s:28:\"SpecifiedPABInterestDivident\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:31:\"specified
  PAB Interest divident\";}s:9:\"StateCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"state
  code\";}s:25:\"StateIdentificationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"state
  tax intentification number\";}s:16:\"StateTaxWithheld\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"state
  tax withheld\";}s:26:\"AdditionalStateTaxWithHeld\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Additional
  Tax withheld\";}s:12:\"PayerAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Payer
  Address\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:25:\"PayerIdentificationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Payer
  Indentification number\";}s:16:\"RecipientAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Payer
  Address\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:29:\"RecipientIdentificationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Tax
  recipient identitification number\";}s:22:\"RecipientAccountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Tax
  recipient account number\";}s:27:\"ForeignAccountTaxCompliance\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:28:\"foreign
  tax compliant or not\";}s:15:\"Tinnotification\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:19:\"Tin
  notified or not\";}}}s:11:\"Tax1099MISC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":28:{s:7:\"TaxYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Tax
  Year\";}s:9:\"Corrected\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:21:\"Corrected
  or Original\";}s:5:\"Rents\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:5:\"Rents\";}s:10:\"Royalities\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:10:\"Royalities\";}s:11:\"OtherIncome\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"Other
  Income\";}s:18:\"FederalTaxWithheld\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:20:\"Federal
  Tax withheld\";}s:19:\"FishingBoatProceeds\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:21:\"Fishing
  boat proceeds\";}s:20:\"MedicalHealthPayment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:22:\"Medical
  health payment\";}s:23:\"NonEmployeeCompensation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:25:\"Non
  employee compensation\";}s:18:\"SubstitutePayments\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"substitute
  payments\";}s:12:\"Payer5KSales\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:14:\"payer
  5k sales\";}s:13:\"CropInsurance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"corporate
  insurance\";}s:16:\"StateTaxWithheld\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"state
  tax withheld\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"state
  name\";}s:12:\"PayerStateId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Payer
  State ID\";}s:11:\"StateIncome\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"State
  Income\";}s:35:\"AdditionalStateTaxWithHeldAggregate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:35:\"additionalStateTaxWithHeldAggregate\";}s:13:\"GrossAttorney\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:14:\"gross
  attorney\";}s:12:\"ExcessGolden\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:13:\"Excess
  Golden\";}s:20:\"Section409ADeferrals\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:20:\"section409ADeferrals\";}s:17:\"Section409AIncome\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"section
  409A income\";}s:12:\"PayerAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Payer
  Address\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:25:\"PayerIdentificationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Payer
  Indentification number\";}s:16:\"RecipeintAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Tax
  Reciever Address\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:29:\"RecipientIdentificationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Tax
  recipient identitification number\";}s:22:\"RecipientAccountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Tax
  recipient account number\";}s:27:\"ForeignAccountTaxCompliance\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:28:\"foreign
  tax compliant or not\";}s:15:\"Tinnotification\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:19:\"Tin
  notified or not\";}}}s:10:\"Tax1099INT\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":25:{s:7:\"TaxYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Tax
  Year\";}s:9:\"Corrected\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:21:\"Corrected
  or Original\";}s:19:\"PayersRoutingNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Payers
  Routing number\";}s:14:\"InterestIncome\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Interest
  Income\";}s:22:\"EarlyWithDrawalPenalty\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:24:\"Early
  withDrawal penalty\";}s:18:\"InvestmentExpenses\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"Investment
  Expenses\";}s:14:\"ForeignTaxPaid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"Foreign
  Tax paid\";}s:14:\"ForeignCountry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Foreign
  country code\";}s:17:\"TaxExemptInterest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"Tax
  exempt Interest\";}s:20:\"SpecifiedPABInterest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:20:\"Special
  PAB Interest\";}s:14:\"MarketDiscount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Market
  discount\";}s:11:\"BondPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"bond
  premium\";}s:20:\"TaxExemptBondPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Tax
  exempt bond premium\";}s:9:\"StateCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"state
  code\";}s:25:\"StateIdentificationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"state
  tax intentification number\";}s:16:\"StateTaxWithheld\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"state
  tax withheld\";}s:26:\"AdditionalStateTaxWithHeld\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Additional
  Tax withheld\";}s:12:\"PayerAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Payer
  Address\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:25:\"PayerIdentificationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Payer
  Indentification number\";}s:16:\"RecipientAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Tax
  recipient address\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:29:\"RecipientIdentificationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Tax
  recipient identitification number\";}s:22:\"RecipientAccountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Tax
  recipient account number\";}s:27:\"ForeignAccountTaxCompliance\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:28:\"foreign
  tax compliant or not\";}s:15:\"Tinnotification\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:19:\"Tin
  notified or not\";}s:11:\"Cusipnumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:12:\"cusip
  number\";}}}s:15:\"AccountResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"DepositAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Deposit
  Account\";s:4:\"$ref\";s:28:\"#/definitions/DepositAccount\";}s:11:\"LoanAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Loan
  Account\";s:4:\"$ref\";s:25:\"#/definitions/LoanAccount\";}s:9:\"Locccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Line
  of Credit Account\";s:4:\"$ref\";s:24:\"#/definitions/LocAccount\";}s:17:\"InvestmentAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Investment
  Account\";s:4:\"$ref\";s:31:\"#/definitions/InvestmentAccount\";}}s:11:\"description\";s:69:\"Response
  for an account. Only one of the properties will be returned.\";}s:15:\"TaxDataResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Tax1099DIV\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Tax
  1099 DIV\";s:4:\"$ref\";s:24:\"#/definitions/Tax1099DIV\";}s:11:\"Tax1099MISC\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Tax
  1099 MISC\";s:4:\"$ref\";s:25:\"#/definitions/Tax1099MISC\";}s:10:\"Tax1099INT\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Tax
  1099 INT\";s:4:\"$ref\";s:24:\"#/definitions/Tax1099INT\";}}s:11:\"description\";s:75:\"Response
  for TaxData API. Only one of the Tax Data object will be returned.\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:16:\"ErrorDescription\";i:1;s:17:\"ErrorResponseCode\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ErrorResponseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:56:\"Error
  Staus code which would be as per HTTP status codes\";}s:16:\"ErrorDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Additional
  information related to Error Response code\";s:9:\"maxLength\";i:2048;}}s:11:\"description\";s:21:\"Error
  response object\";}s:19:\"inline_response_400\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:16:\"ErrorDescription\";i:1;s:17:\"ErrorResponseCode\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ErrorResponseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"HTTP
  staus code related to Error\n\";}s:16:\"ErrorDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:126:\"Detailed
  description of why the request is not valid. This is a system message \nand it will
  not be displayed to the customer.\n\";s:9:\"maxLength\";i:2048;}}}s:19:\"inline_response_401\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:16:\"ErrorDescription\";i:1;s:17:\"ErrorResponseCode\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ErrorResponseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"HTTP
  staus code related to Error\n\";}s:16:\"ErrorDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Error
  information related to Authentication Failure response\";s:9:\"maxLength\";i:255;}}}s:19:\"inline_response_404\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:16:\"ErrorDescription\";i:1;s:17:\"ErrorResponseCode\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ErrorResponseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"HTTP
  staus code related to Error\n\";}s:16:\"ErrorDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Detailed
  description resource not found.\n\";s:9:\"maxLength\";i:255;}}}s:19:\"inline_response_405\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:16:\"ErrorDescription\";i:1;s:17:\"ErrorResponseCode\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ErrorResponseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"HTTP
  staus code related to Error\n\";}s:16:\"ErrorDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Detailed
  description of  HTTP method is not supported.\n\";s:9:\"maxLength\";i:255;}}}s:19:\"inline_response_500\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:16:\"ErrorDescription\";i:1;s:17:\"ErrorResponseCode\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ErrorResponseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"HTTP
  staus code related to Error\n\";}s:16:\"ErrorDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"Customer-friendly
  message with the description related to Internal Server error while processing the
  request\";s:9:\"maxLength\";i:255;}}}s:19:\"inline_response_503\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:16:\"ErrorDescription\";i:1;s:17:\"ErrorResponseCode\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ErrorResponseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"HTTP
  staus code related to Error\n\";}s:16:\"ErrorDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Customer-friendly
  message with the description of the maintenance window\";s:9:\"maxLength\";i:255;}}}}"
...
