---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:5:\"3.0.0\";s:5:\"title\";s:24:\"Looker
  API 3.0 Reference\";s:11:\"description\";s:1392:\"This document describes the Looker
  API.\n\nPlease note that this is the 'new' Looker RESTful API. This API uses Looker
  'API 3' keys.\nThose keys can be created for Looker users by Looker admins on the
  admin/user edit page. Such\nkeys will allow a user to autheticate to the API as
  that user; having that user's permissions.\nAdmins can create 'dummy' accounts specifically
  for API use, or add keys to real users' accounts.\n\nA Ruby SDK is available to
  integrate this API into applications. Standard RESTful practices are\nused by the
  API, so it should be callable by any RESTful client framework - or just using raw\nHTTP
  requests. Additionally, the 'api-docs' page served by the Looker instance includes
  'Try it out!'\nbuttons for each API method so that anyone logged in with an API3
  key can call the API directly from the\ndocumentation page.\n\nFuture releases of
  Looker will expand this API release-by-release to securely expose more and more
  of the core\npower of Looker to API client applications.\n\nThis document does not
  cover the old Looker Query API. The methods in the 'Query' section below are\nintended
  to replace that old API. Nonetheless, information about the old API can be found
  at             [Query API](http://www.looker.com/docs/reference/api-and-integration/looker-api-reference)
  and             [Ruby SDK](http://www.looker.com/docs/reference/api-and-integration/looker-ruby-sdk).\n\n\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:32:\"Looker
  Team <support@looker.com>\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"EULA\";s:3:\"url\";s:30:\"https://looker.buffer.com/eula\";}}"
host: looker.buffer.com:19999
basePath: /api/3.0
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":76:{s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"Error
  details\";}s:17:\"documentation_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Documentation
  link\";}}s:8:\"required\";a:2:{i:0;s:7:\"message\";i:1;s:17:\"documentation_url\";}}s:13:\"DashboardBase\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:7:\"user_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Id
  of User\";}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Look
  Title\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Description\";}s:8:\"readonly\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:12:\"Is
  Read-only\";}s:6:\"hidden\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Is
  Hidden\";}s:16:\"refresh_interval\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Refresh
  Interval\";}s:21:\"refresh_interval_to_i\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:27:\"Refresh
  Interval as Integer\";}s:5:\"space\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:9:\"SpaceBase\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Space\";}s:5:\"model\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Model\";}s:14:\"scheduled_plan\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:13:\"ScheduledPlan\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"ScheduledPlan\";}}}s:9:\"SpaceBase\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:10:\"creator_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"User
  Id of Creator\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Unique
  Name\";}s:11:\"is_personal\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Space
  is a user's personal space\";}}}s:12:\"AccessFilter\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"ID
  of this AccessFilter\";}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Model
  to which this filter applies\";}s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Field
  to which this filter applies\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Value
  for this filter\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:11:\"AccessToken\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"access_token\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"Access
  Token used for API calls\";}s:10:\"token_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"Type
  of Token\";}s:10:\"expires_in\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:42:\"Number
  of seconds before the token expires\";}}}s:10:\"AsyncQuery\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"query_task_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:7:\"runtime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Estimated
  Runtime\";}}}s:19:\"BackupConfiguration\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Type
  of backup: looker-s3 or custom-s3\";}s:16:\"custom_s3_bucket\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Name
  of bucket for custom-s3 backups\";}s:23:\"custom_s3_bucket_region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Name
  of region where the bucket is located\";}s:13:\"custom_s3_key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"AWS
  S3 key used for custom-s3 backups\";}s:16:\"custom_s3_secret\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"AWS
  S3 secret used for custom-s3 backups\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:15:\"CredentialsApi3\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:9:\"client_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"API
  key client_id\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Timestamp
  for the creation of this credential\";}s:11:\"is_disabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Has
  this credential been disabled?\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"Short
  name for the type of this kind of credential\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:14:\"CredentialsApi\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"token\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"API
  key token\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Timestamp
  for the creation of this credential\";}s:11:\"is_disabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Has
  this credential been disabled?\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"Short
  name for the type of this kind of credential\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:16:\"CredentialsEmail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"EMail
  address used for user login\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Timestamp
  for the creation of this credential\";}s:12:\"logged_in_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:48:\"Timestamp
  for most recent login using credential\";}s:11:\"is_disabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Has
  this credential been disabled?\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"Short
  name for the type of this kind of credential\";}s:18:\"password_reset_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:74:\"Url
  with one-time use secret token that the user can use to reset password\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}s:8:\"user_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this user\";}}}s:16:\"CredentialsEmbed\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:16:\"external_user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"Embedder's
  unique id for the user\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Timestamp
  for the creation of this credential\";}s:12:\"logged_in_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:48:\"Timestamp
  for most recent login using credential\";}s:11:\"is_disabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Has
  this credential been disabled?\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"Short
  name for the type of this kind of credential\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:17:\"CredentialsGoogle\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"EMail
  address\";}s:14:\"google_user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:32:\"Google's
  Unique ID for this user\";}s:6:\"domain\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"Google
  domain\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Timestamp
  for the creation of this credential\";}s:12:\"logged_in_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:48:\"Timestamp
  for most recent login using credential\";}s:11:\"is_disabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Has
  this credential been disabled?\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"Short
  name for the type of this kind of credential\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:15:\"CredentialsLDAP\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"EMail
  address\";}s:7:\"ldap_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"LDAP
  Unique ID for this user\";}s:7:\"ldap_dn\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:60:\"LDAP
  Distinguished name for this user (as-of the last login)\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Timestamp
  for the creation of this credential\";}s:12:\"logged_in_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:48:\"Timestamp
  for most recent login using credential\";}s:11:\"is_disabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Has
  this credential been disabled?\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"Short
  name for the type of this kind of credential\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:23:\"CredentialsLookerOpenid\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"EMail
  address used for user login\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Timestamp
  for the creation of this credential\";}s:12:\"logged_in_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:48:\"Timestamp
  for most recent login using credential\";}s:12:\"logged_in_ip\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:59:\"IP
  address of client for most recent login using credential\";}s:11:\"is_disabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Has
  this credential been disabled?\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"Short
  name for the type of this kind of credential\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}s:8:\"user_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this user\";}}}s:15:\"CredentialsSaml\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"EMail
  address\";}s:12:\"saml_user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Saml
  IdP's Unique ID for this user\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Timestamp
  for the creation of this credential\";}s:12:\"logged_in_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:48:\"Timestamp
  for most recent login using credential\";}s:11:\"is_disabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Has
  this credential been disabled?\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"Short
  name for the type of this kind of credential\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:15:\"CredentialsTotp\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"verified\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"User
  has verified\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Timestamp
  for the creation of this credential\";}s:11:\"is_disabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Has
  this credential been disabled?\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"Short
  name for the type of this kind of credential\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:16:\"DashboardElement\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:12:\"dashboard_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:15:\"Id
  of Dashboard\";}s:7:\"look_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:10:\"Id
  Of Look\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Type\";}s:6:\"listen\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Listen\";}s:16:\"refresh_interval\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Refresh
  Interval\";}s:21:\"refresh_interval_to_i\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:27:\"Refresh
  Interval as integer\";}s:9:\"note_text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Note
  Text\";}s:17:\"note_text_as_html\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Note
  Text as Html\";}s:12:\"note_display\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Note
  Display\";}s:10:\"note_state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Note
  State\";}}}s:15:\"DashboardFilter\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Name
  of filter\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Name
  of title\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Type
  of filter: one of date, number, string, or field\";}s:13:\"default_value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Default
  value of filter\";}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Model
  of filter (required if type = field)\";}s:7:\"explore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Explore
  of filter (required if type = field)\";}s:9:\"dimension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Dimension
  of filter (required if type = field)\";}s:5:\"field\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Field
  information\";}s:18:\"listens_to_filters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:38:\"Array
  of listeners for faceted filters\";}}}s:24:\"DashboardLayoutComponent\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:19:\"dashboard_layout_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Id
  of Dashboard Layout\";}s:20:\"dashboard_element_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:23:\"Id
  Of Dashboard Element\";}s:3:\"row\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:3:\"Row\";}s:6:\"column\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:6:\"Column\";}s:5:\"width\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:5:\"Width\";}s:6:\"height\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:6:\"Height\";}}}s:15:\"DashboardLayout\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:12:\"dashboard_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:15:\"Id
  of Dashboard\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Type\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:9:\"Is
  Active\";}s:12:\"column_width\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"Column
  Width\";}s:5:\"width\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:5:\"Width\";}s:10:\"components\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"DashboardLayoutComponent\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Components\";}}}s:9:\"Dashboard\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":24:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:7:\"user_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Id
  of User\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Look
  Title\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Description\";}s:8:\"readonly\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:12:\"Is
  Read-only\";}s:6:\"hidden\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:9:\"Is
  Hidden\";}s:16:\"refresh_interval\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Refresh
  Interval\";}s:21:\"refresh_interval_to_i\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:27:\"Refresh
  Interval as Integer\";}s:5:\"space\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:9:\"SpaceBase\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Space\";}s:18:\"load_configuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"configuration
  option that governs how dashboard loading will happen.\";}s:5:\"model\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Model\";}s:8:\"space_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:24:\"(Write-only)
  Id of Space\";}s:8:\"elements\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"DashboardElement\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:8:\"Elements\";}s:7:\"layouts\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"DashboardLayout\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:7:\"Layouts\";}s:7:\"filters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"DashboardFilter\";}s:11:\"description\";s:7:\"Filters\";}s:16:\"background_color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Background
  color\";}s:10:\"show_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:10:\"Show
  title\";}s:11:\"title_color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Title
  color\";}s:16:\"show_filters_bar\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:16:\"Show
  filters bar\";}s:21:\"tile_background_color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Tile
  background color\";}s:15:\"tile_text_color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Tile
  text color\";}s:20:\"tile_separator_color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Tile
  separator color\";}s:18:\"tile_border_radius\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"Tile
  border radius\";}s:16:\"show_tile_shadow\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"Show
  tile shadow \";}}}s:16:\"DBConnectionBase\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"Name
  of the connection. Also used as the unique identifier\";}s:7:\"dialect\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:7:\"Dialect\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"(Read-only)
  SQL Dialect details\";}s:8:\"snippets\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"SQL
  Runner snippets for this connection\";}}}s:12:\"DBConnection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":22:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Name
  of the connection. Also used as the unique identifier\";}s:4:\"host\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Host
  name/address of server\";}s:4:\"port\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Port
  number on server\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Username
  for server authentication\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"(Write-only)
  Password for server authentication\";}s:11:\"certificate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"(Write-only)
  Base64 encoded Certificate body for server authentication (when appropriate for
  dialect).\";}s:8:\"database\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Database
  name\";}s:11:\"db_timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Time
  zone of database\";}s:14:\"query_timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Timezone
  to use in queries\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Scheme
  name\";}s:15:\"max_connections\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:46:\"Maximum
  number of concurrent connection to use\";}s:3:\"ssl\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"Use
  SSL/TLS when connecting to server\";}s:10:\"verify_ssl\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:14:\"Verify
  the SSL\";}s:11:\"tmp_db_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Name
  of temporary database (if used)\";}s:22:\"jdbc_additional_params\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Additional
  params to add to JDBC connection string\";}s:12:\"pool_timeout\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"Pool
  Timeout\";}s:7:\"dialect\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:7:\"Dialect\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"(Read-only)
  SQL Dialect details\";}s:12:\"dialect_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"(Read/Write)
  SQL Dialect name\";}s:8:\"snippets\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"SQL
  Runner snippets for this connection\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"Creation
  date for this connection\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"Id
  of user who last modified this connection configuration\";}s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"Is
  this an example connection\";}}}s:22:\"DBConnectionTestResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:12:\"Name
  of test\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Result
  code of test\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Result
  message of test\";}s:17:\"connection_string\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:62:\"JDBC
  connection string. (only populated in the 'connect' test)\";}}}s:11:\"DialectInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"The
  name of the dialect\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:42:\"The
  human-readable label of the connection\";}s:29:\"label_for_database_equivalent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:59:\"What
  the dialect calls the equivalent of a normal SQL table\";}s:12:\"default_port\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Default
  port number\";}s:23:\"default_max_connections\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:30:\"Default
  number max connections\";}s:17:\"supported_options\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:18:\"DialectInfoOptions\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Option
  support details\";}s:9:\"installed\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Is
  the supporting driver installed\";}}}s:18:\"DialectInfoOptions\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"timezone\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"Has
  timezone support\";}s:6:\"schema\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Has
  schema support\";}s:3:\"ssl\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:15:\"Has
  SSL support\";}s:4:\"auth\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Has
  auth support\";}s:4:\"host\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Has
  host support\";}s:9:\"tmp_table\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Has
  tmp table support\";}s:12:\"project_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Has
  project name support\";}s:17:\"oauth_credentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Has
  OAuth support\";}s:17:\"additional_params\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"Has
  additional params support\";}s:17:\"username_required\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"Username
  is required\";}}}s:7:\"Dialect\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"The
  name of the dialect\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:42:\"The
  human-readable label of the connection\";}s:22:\"supports_cost_estimate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:49:\"Whether
  the dialect supports query cost estimates\";}s:22:\"supports_upload_tables\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Whether
  the dialect supports uploading tables\";}s:24:\"persistent_table_indexes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"PDT
  index columns\";}s:25:\"persistent_table_sortkeys\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"PDT
  sortkey columns\";}s:24:\"persistent_table_distkey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"PDT
  distkey column\";}s:18:\"supports_streaming\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"Suports
  streaming results\";}s:37:\"automatically_run_sql_runner_snippets\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:47:\"Should
  SQL Runner snippets automatically be run\";}s:16:\"connection_tests\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:78:\"Array
  of names of the tests that can be run on a connection using this dialect\";}}}s:22:\"EmbedCheckDomainResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"allowed\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Is
  domain allowed\";}}}s:11:\"EmbedConfig\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"sso_auth_enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:40:\"Is
  SSO embedding enabled for this Looker\";}s:7:\"secrets\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:11:\"EmbedSecret\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Array
  of embed secrets\";}s:16:\"domain_whitelist\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:42:\"List
  of domains to whitelist for embedding\";}}}s:11:\"EmbedSecret\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:7:\"user_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Id
  of user who created this secret\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"When
  secret was created\";}s:6:\"secret\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"Secret
  for use with SSO embedding\";}s:9:\"algorithm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Signing
  algorithm to use with this secret\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Is
  this secret currently enabled\";}}}s:15:\"ValidationError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"documentation_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Documentation
  link\";}}s:8:\"required\";a:2:{i:0;s:7:\"message\";i:1;s:17:\"documentation_url\";}}s:10:\"LDAPConfig\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":31:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:49:\"Enable/Disable
  LDAP authentication for the server\";}s:15:\"connection_host\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"LDAP
  server hostname\";}s:15:\"connection_port\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"LDAP
  host port\";}s:14:\"connection_tls\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:28:\"Use
  Transport Layer Security\";}s:13:\"auth_username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"Distinguished
  name of LDAP account used to access the LDAP server\";}s:13:\"auth_password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"(Write-only)
  Password for the LDAP account used to access the LDAP server\";}s:17:\"has_auth_password\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:89:\"(Read-only)
  Has the password been set for the LDAP account used to access the LDAP server\";}s:17:\"user_bind_base_dn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Distinguished
  name of LDAP node used as the base for user searches\";}s:23:\"user_id_attribute_names\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Name(s)
  of user record attributes used for matching user login id (comma separated list)\";}s:16:\"user_objectclass\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"(Optional)
  Name of user record objectclass used for finding user during login id\";}s:24:\"user_attribute_map_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Name
  of user record attributes used to indicate email address field\";}s:29:\"user_attribute_map_first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Name
  of user record attributes used to indicate first name\";}s:28:\"user_attribute_map_last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Name
  of user record attributes used to indicate last name\";}s:26:\"user_attribute_map_ldap_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"Name
  of user record attributes used to indicate unique record id\";}s:24:\"merge_new_users_by_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:296:\"Merge
  first-time ldap login to existing user account by email addresses. When a user logs
  in for the first time via ldap this option will connect this user into their existing
  account by finding the account with a matching email address. Otherwise a new user
  account will be created for the user.\";}s:29:\"alternate_email_login_allowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:384:\"Allow
  alternate email-based login via '/login/email' for admins and for specified users
  with the 'login_special_email' permission. This option is useful as a fallback during
  ldap setup, if ldap config problems occur later, or if you need to support some
  users who are not in your ldap directory. Looker email/password logins are always
  disabled for regular users when ldap is enabled.\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"When
  this config was last modified\";}s:11:\"modified_by\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"User
  id of user who last modified this config\";}s:22:\"default_new_user_roles\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:4:\"Role\";s:8:\"readOnly\";b:1;s:11:\"description\";s:86:\"(Read-only)
  Roles that will be applied to new users the first time they login via LDAP\";}s:25:\"default_new_user_role_ids\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"description\";s:103:\"(Write-only)
  Array of ids of roles that will be applied to new users the first time they login
  via LDAP\";}s:21:\"set_roles_from_groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"Set
  user roles in Looker based on groups from LDAP\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:13:\"LDAPGroupRead\";s:8:\"readOnly\";b:1;s:11:\"description\";s:66:\"(Read-only)
  Array of mappings between LDAP Groups and Looker Roles\";}s:20:\"groups_with_role_ids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:14:\"LDAPGroupWrite\";s:11:\"description\";s:80:\"(Write-only)
  Array of mappings between LDAP Groups and arrays of Looker Role ids\";}s:18:\"auth_requires_role\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:96:\"Users
  will not be allowed to login at all unless a role for them is found in LDAP if set
  to true\";}s:18:\"groups_finder_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"Identifier
  for a strategy for how Looker will search for groups in the LDAP server\";}s:14:\"groups_base_dn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Base
  dn for finding groups in LDAP searches\";}s:23:\"groups_member_attribute\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"LDAP
  Group attribute that signifies the members of the groups. Most commonly 'member'\";}s:21:\"groups_user_attribute\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"LDAP
  Group attribute that signifies the user in a group. Most commonly 'dn'\";}s:20:\"groups_objectclasses\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"Optional
  comma-separated list of supported LDAP objectclass for groups when doing groups
  searches\";}s:13:\"force_no_page\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:102:\"Don't
  attempt to do LDAP search result paging (RFC 2696) even if the LDAP server claims
  to support it.\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:20:\"LDAPConfigTestResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Test
  status code: always 'success' or 'error'\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:42:\"Short
  human readable test about the result\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Additional
  details for error cases\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:8:\"LDAPUser\";s:8:\"readOnly\";b:1;s:11:\"description\";s:44:\"User
  details from LDAP server for auth tests\";}s:5:\"trace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:59:\"A
  more detailed trace incremental results during auth tests\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Link
  to ldap config\";}}}s:13:\"LDAPGroupRead\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Name
  of group in LDAP\";}s:5:\"roles\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:4:\"Role\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:12:\"Looker
  Roles\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Link
  to ldap config\";}}}s:14:\"LDAPGroupWrite\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Name
  of group in LDAP\";}s:8:\"role_ids\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"description\";s:15:\"Looker
  Role Ids\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Link
  to ldap config\";}}}s:8:\"LDAPUser\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Primary
  email address\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"First
  name\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Last
  Name\";}s:7:\"ldap_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"LDAP's
  Unique ID for the user\";}s:10:\"all_emails\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:64:\"Array
  of user's email addresses and aliases for use in migration\";}s:7:\"ldap_dn\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"LDAP's
  distinguished name for the user record\";}s:5:\"roles\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"Array
  of user's roles (role names only)\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Link
  to ldap config\";}}}s:13:\"LegacyFeature\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:4:\"Name\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Description\";}s:15:\"enabled_locally\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:47:\"Whether
  this feature has been enabled by a user\";}s:7:\"enabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:41:\"Whether
  this feature is currently enabled\";}s:24:\"disallowed_as_of_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:57:\"Looker
  version where this feature became a legacy feature\";}s:19:\"end_of_life_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:56:\"Future
  Looker version where this feature will be removed\";}s:17:\"documentation_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:40:\"URL
  for documentation about this feature\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:9:\"LookBasic\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Look
  Title\";}}}s:4:\"Look\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":17:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Look
  Title\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:10:\"UserIdOnly\";s:8:\"readOnly\";b:1;s:11:\"description\";s:4:\"User\";}s:8:\"query_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:8:\"Query
  Id\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Description\";}s:9:\"short_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Short
  Url\";}s:5:\"space\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:9:\"SpaceBase\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Space
  of this Look\";}s:6:\"public\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Is
  Public\";}s:11:\"public_slug\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Public
  Slug\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:20:\"(Write-only)
  User Id\";}s:8:\"space_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"(Write-only)
  Space Id\";}s:5:\"model\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Model\";}s:10:\"public_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Public
  Url\";}s:9:\"embed_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Embed
  Url\";}s:15:\"image_embed_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:15:\"Image
  Embed Url\";}s:26:\"google_spreadsheet_formula\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:26:\"Google
  Spreadsheet Formula\";}s:14:\"excel_file_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:14:\"Excel
  File Url\";}}}s:13:\"LookWithQuery\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":18:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Look
  Title\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:10:\"UserIdOnly\";s:8:\"readOnly\";b:1;s:11:\"description\";s:4:\"User\";}s:8:\"query_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:8:\"Query
  Id\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Description\";}s:9:\"short_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Short
  Url\";}s:5:\"space\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:9:\"SpaceBase\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Space
  of this Look\";}s:6:\"public\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Is
  Public\";}s:11:\"public_slug\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Public
  Slug\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:20:\"(Write-only)
  User Id\";}s:8:\"space_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"(Write-only)
  Space Id\";}s:5:\"model\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Model\";}s:10:\"public_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Public
  Url\";}s:9:\"embed_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Embed
  Url\";}s:26:\"google_spreadsheet_formula\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:26:\"Google
  Spreadsheet Formula\";}s:14:\"excel_file_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:14:\"Excel
  File Url\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:3:\"Url\";}s:5:\"query\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:5:\"Query\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Query\";}}}s:18:\"LookWithDashboards\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":17:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Look
  Title\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:10:\"UserIdOnly\";s:8:\"readOnly\";b:1;s:11:\"description\";s:4:\"User\";}s:8:\"query_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:8:\"Query
  Id\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Description\";}s:9:\"short_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Short
  Url\";}s:5:\"space\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:9:\"SpaceBase\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Space
  of this Look\";}s:6:\"public\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Is
  Public\";}s:11:\"public_slug\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Public
  Slug\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:20:\"(Write-only)
  User Id\";}s:8:\"space_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"(Write-only)
  Space Id\";}s:5:\"model\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Model\";}s:10:\"public_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Public
  Url\";}s:9:\"embed_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Embed
  Url\";}s:26:\"google_spreadsheet_formula\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:26:\"Google
  Spreadsheet Formula\";}s:14:\"excel_file_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:14:\"Excel
  File Url\";}s:10:\"dashboards\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:13:\"DashboardBase\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Dashboards\";}}}s:12:\"LookMovePlan\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"looks_to_move\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:9:\"LookBasic\";}s:8:\"readOnly\";b:1;}s:13:\"looks_to_copy\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:9:\"LookBasic\";}s:8:\"readOnly\";b:1;}}}s:11:\"LookmlSpace\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:10:\"creator_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"User
  Id of Creator\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Unique
  Name\";}s:11:\"is_personal\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Space
  is a user's personal space\";}s:10:\"dashboards\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:13:\"DashboardBase\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Dashboards\";}}}s:8:\"ModelSet\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Name
  of ModelSet\";}s:6:\"models\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"built_in\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:10:\"all_access\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:10:\"Permission\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"permission\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Permission
  symbol\";}s:6:\"parent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Dependency
  parent symbol\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Description\";}}}s:13:\"PermissionSet\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Name
  of PermissionSet\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"built_in\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:10:\"all_access\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:28:\"PrefetchDashboardFilterValue\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Dashboard
  filter name.\";}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Dashboard
  filter value\";}}}s:25:\"PrefetchAccessFilterValue\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"model\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"Access
  filter model name.\";}s:5:\"field\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"Access
  filter field name.\";}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Access
  filter value\";}}}s:14:\"PrefetchMapper\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"ttl\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:41:\"Number
  of seconds prefetch will live for.\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"Time
  when prefetch was created.\";}s:16:\"computation_time\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"Number
  of seconds it took to compute results for prefetch.\";}s:9:\"hit_count\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"Number
  of times prefetch has been accessed.\";}s:10:\"touched_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:37:\"Time
  when prefetch was last accessed.\";}s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:11:\"QueryResult\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:63:\"data
  associated with the queries stored by prefetching the data\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:25:\"PrefetchLookRequestMapper\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"ttl\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:41:\"Number
  of seconds prefetch will live for.\";}s:14:\"access_filters\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"PrefetchAccessFilterValue\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"Access
  filters to apply when running queries for prefetch.\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"Time
  when prefetch was created.\";}s:16:\"computation_time\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"Number
  of seconds it took to compute results for prefetch.\";}s:9:\"hit_count\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"Number
  of times prefetch has been accessed.\";}s:10:\"touched_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:37:\"Time
  when prefetch was last accessed.\";}}}s:30:\"PrefetchDashboardRequestMapper\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"ttl\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:41:\"Number
  of seconds prefetch will live for.\";}s:14:\"access_filters\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"PrefetchAccessFilterValue\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"Access
  filters to apply when running queries for prefetch.\";}s:17:\"dashboard_filters\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"PrefetchDashboardFilterValue\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:61:\"Dashboard
  filters to apply when running queries for prefetch.\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"Time
  when prefetch was created.\";}s:16:\"computation_time\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"Number
  of seconds it took to compute results for prefetch.\";}s:9:\"hit_count\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"Number
  of times prefetch has been accessed.\";}s:10:\"touched_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:37:\"Time
  when prefetch was last accessed.\";}}}s:15:\"ProjectListItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:5:\"Query\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Model\";}s:4:\"view\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"View\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:6:\"Fields\";}s:6:\"pivots\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:6:\"Pivots\";}s:7:\"filters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:7:\"Filters\";}s:5:\"sorts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:5:\"Sorts\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Limit\";}s:12:\"column_limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Column
  Limit\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:5:\"Total\";}s:9:\"row_total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Raw
  Total\";}s:7:\"runtime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:7:\"Runtime\";}s:10:\"vis_config\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:20:\"Visualization
  Config\";}s:13:\"filter_config\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Filter
  Config\";}s:19:\"visible_ui_sections\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Visible
  UI Sections\";}s:4:\"slug\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:4:\"Slug\";}s:14:\"dynamic_fields\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Dynamic
  Fields\";}s:9:\"client_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Client
  Id\";}s:9:\"share_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Share
  Url\";}s:18:\"expanded_share_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Expanded
  Share Url\";}s:14:\"query_timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Query
  Timezone\";}}}s:11:\"QueryResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":0:{}}s:4:\"Role\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Name
  of Role\";}s:14:\"permission_set\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:13:\"PermissionSet\";}s:9:\"model_set\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:8:\"ModelSet\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}s:9:\"users_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:40:\"Link
  to get list of users with this role\";}}}s:14:\"RunningQueries\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:10:\"UserPublic\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"User
  who initiated the query\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"Date/Time
  Query was initiated\";}s:12:\"completed_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"Date/Time
  Query was completed\";}s:8:\"query_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:8:\"Query
  Id\";}s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:52:\"Source
  (look, dashboard, queryrunner, explore, etc.)\";}s:7:\"node_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:7:\"Node
  Id\";}s:4:\"slug\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:4:\"Slug\";}s:13:\"query_task_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"ID
  of a Query Task\";}s:9:\"cache_key\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Cache
  Key\";}s:15:\"connection_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Connection\";}s:7:\"dialect\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:7:\"Dialect\";}s:13:\"connection_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"Connection
  ID\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:55:\"Additional
  Information(Error message or verbose status)\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Status
  description\";}}}s:10:\"SamlConfig\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":21:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:49:\"Enable/Disable
  Saml authentication for the server\";}s:8:\"idp_cert\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Identify
  Provider Certificate (provided by IdP)\";}s:7:\"idp_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Identify
  Provider Url (provided by IdP)\";}s:10:\"idp_issuer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Identify
  Provider Issuer (provided by IdP)\";}s:12:\"idp_audience\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"Identify
  Provider Audience (set in IdP config). Optional in Looker. Set this only if you
  want Looker to validate the audience value returned by the IdP.\";}s:24:\"user_attribute_map_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Name
  of user record attributes used to indicate email address field\";}s:29:\"user_attribute_map_first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Name
  of user record attributes used to indicate first name\";}s:28:\"user_attribute_map_last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Name
  of user record attributes used to indicate last name\";}s:24:\"new_user_migration_types\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:447:\"Merge
  first-time saml login to existing user account by email addresses. When a user logs
  in for the first time via saml this option will connect this user into their existing
  account by finding the account with a matching email address by testing the given
  types of credentials for existing users. Otherwise a new user account will be created
  for the user. This list (if provided) must be a comma separated list of string like
  'email,ldap,google'\";}s:29:\"alternate_email_login_allowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:384:\"Allow
  alternate email-based login via '/login/email' for admins and for specified users
  with the 'login_special_email' permission. This option is useful as a fallback during
  ldap setup, if ldap config problems occur later, or if you need to support some
  users who are not in your ldap directory. Looker email/password logins are always
  disabled for regular users when ldap is enabled.\";}s:9:\"test_slug\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:83:\"Slug
  to identify configurations that are created in order to run a Saml config test\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"When
  this config was last modified\";}s:11:\"modified_by\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"User
  id of user who last modified this config\";}s:22:\"default_new_user_roles\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:4:\"Role\";s:8:\"readOnly\";b:1;s:11:\"description\";s:86:\"(Read-only)
  Roles that will be applied to new users the first time they login via Saml\";}s:25:\"default_new_user_role_ids\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"description\";s:103:\"(Write-only)
  Array of ids of roles that will be applied to new users the first time they login
  via Saml\";}s:21:\"set_roles_from_groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"Set
  user roles in Looker based on groups from Saml\";}s:16:\"groups_attribute\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Name
  of user record attributes used to indicate groups\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:13:\"SamlGroupRead\";s:8:\"readOnly\";b:1;s:11:\"description\";s:66:\"(Read-only)
  Array of mappings between Saml Groups and Looker Roles\";}s:20:\"groups_with_role_ids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:14:\"SamlGroupWrite\";s:11:\"description\";s:80:\"(Write-only)
  Array of mappings between Saml Groups and arrays of Looker Role ids\";}s:18:\"auth_requires_role\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:96:\"Users
  will not be allowed to login at all unless a role for them is found in Saml if set
  to true\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:13:\"SamlGroupRead\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Name
  of group in Saml\";}s:5:\"roles\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:4:\"Role\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:12:\"Looker
  Roles\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Link
  to saml config\";}}}s:14:\"SamlGroupWrite\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Name
  of group in Saml\";}s:8:\"role_ids\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"description\";s:15:\"Looker
  Role Ids\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Link
  to saml config\";}}}s:23:\"SamlMetadataParseResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"idp_issuer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Identify
  Provider Issuer\";}s:7:\"idp_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Identify
  Provider Url\";}s:8:\"idp_cert\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"Identify
  Provider Certificate\";}}}s:23:\"ScheduledJobDestination\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:16:\"scheduled_job_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Id
  of scheduled job\";}s:6:\"format\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"Format
  requested by the given destination (i.e. PDF, etc.)\";}s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:62:\"Address
  for recipient (only email addresses supported for now)\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:55:\"Type
  of the address (only 'email' is supported for now)\";}}}s:12:\"ScheduledJob\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":24:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Status
  of the job\";}s:13:\"status_detail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Optional
  message describing status of the job\";}s:19:\"scheduled_job_stage\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"ScheduledJobStage\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:40:\"Detailed
  information about the job stage\";}s:17:\"row_limit_reached\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:46:\"Whether
  the row limit was reached when running\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"When
  the ScheduledJob started\";}s:12:\"finalized_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:30:\"When
  the ScheduledJob finished\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:10:\"UserPublic\";s:8:\"readOnly\";b:1;s:11:\"description\";s:32:\"User
  who owns this ScheduledPlan\";}s:7:\"look_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:12:\"Id
  of a look\";}s:12:\"dashboard_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Id
  of a dashboard\";}s:19:\"lookml_dashboard_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Id
  of a LookML dashboard\";}s:15:\"require_results\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:70:\"Delivery
  should occur if running the dashboard or look returns results\";}s:18:\"require_no_results\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:67:\"Delivery
  should occur if the dashboard look does not return results\";}s:14:\"require_change\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:61:\"Delivery
  should occur if data have changed since the last run\";}s:7:\"crontab\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Vixie-Style
  crontab specification when to run\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:85:\"Timezone
  for interpreting the specified crontab (default is Looker instance timezone)\";}s:9:\"data_slug\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Used
  for caching\";}s:14:\"data_signature\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Used
  for caching\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:4:\"Name\";}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Title\";}s:25:\"scheduled_job_destination\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"ScheduledJobDestination\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:26:\"Scheduled
  job destinations\";}s:14:\"scheduled_plan\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:13:\"ScheduledPlan\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"ScheduledPlan
  that initiated the ScheduledJob\";}s:7:\"runtime\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Runtime
  in seconds\";}s:10:\"looker_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"Url
  for the scheduled entity\";}}}s:17:\"ScheduledJobStage\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:16:\"scheduled_job_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Job
  this stage describes\";}s:7:\"node_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Node
  Id stage was run on\";}s:5:\"stage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Stage\";}s:10:\"started_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"Time
  when the stage was started\";}s:12:\"completed_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Time
  whent the stage was completed\";}}}s:24:\"ScheduledPlanDestination\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:17:\"scheduled_plan_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:30:\"Id
  of a scheduled plan you own\";}s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Format
  requested by the given destination (i.e. PDF, etc.)\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Address
  for recipient (only email addresses supported for now)\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Type
  of the address (only 'email' is supported for now)\";}}}s:13:\"ScheduledPlan\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Name\";}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Title\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:10:\"UserPublic\";s:8:\"readOnly\";b:1;s:11:\"description\";s:32:\"User
  who owns this ScheduledPlan\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:36:\"Whether
  the ScheduledPlan is enabled\";}s:11:\"last_run_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:35:\"When
  the ScheduledPlan was last run\";}s:11:\"next_run_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:36:\"When
  the ScheduledPlan will next run\";}s:7:\"look_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"Id
  of a look\";}s:12:\"dashboard_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:17:\"Id
  of a dashboard\";}s:19:\"lookml_dashboard_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Id
  of a LookML dashboard\";}s:15:\"require_results\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"Delivery
  should occur if running the dashboard or look returns results\";}s:18:\"require_no_results\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:67:\"Delivery
  should occur if the dashboard look does not return results\";}s:14:\"require_change\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:61:\"Delivery
  should occur if data have changed since the last run\";}s:7:\"crontab\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Vixie-Style
  crontab specification when to run\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Timezone
  for interpreting the specified crontab (default is Looker instance timezone)\";}s:26:\"scheduled_plan_destination\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"ScheduledPlanDestination\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:27:\"Scheduled
  plan destinations\";}}}s:7:\"Session\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:10:\"ip_address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"IP
  address of user when this session was initiated\";}s:7:\"browser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"User's
  browser type\";}s:16:\"operating_system\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"User's
  Operating System\";}s:4:\"city\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:57:\"City
  component of user location (derived from IP address)\";}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"State
  component of user location (derived from IP address)\";}s:7:\"country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:60:\"Country
  component of user location (derived from IP address)\";}s:16:\"credentials_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:52:\"Type
  of credentials used for logging in this session\";}s:11:\"extended_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:52:\"Time
  when this session was last extended by the user\";}s:14:\"extended_count\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:41:\"Number
  of times this session was extended\";}s:12:\"sudo_user_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:81:\"Actual
  user in the case when this session represents one user sudo'ing as another\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:36:\"Time
  when this session was initiated\";}s:10:\"expires_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Time
  when this session will expire\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:5:\"Space\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:10:\"creator_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"User
  Id of Creator\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Unique
  Name\";}s:11:\"is_personal\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Space
  is a user's personal space\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:25:\"(Write-only)
  Id of Parent\";}s:5:\"looks\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"LookWithDashboards\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:5:\"Looks\";}s:10:\"dashboards\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:13:\"DashboardBase\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:10:\"Dashboards\";}}}s:8:\"SqlQuery\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"slug\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"The
  identifier of the SQL query\";}s:12:\"last_runtime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:11:\"description\";s:72:\"Number
  of seconds this query took to run the most recent time it was run\";}s:9:\"run_count\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"Number
  of times this query has been run\";}s:13:\"browser_limit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:69:\"Maximum
  number of rows this query will display on the SQL Runner page\";}s:3:\"sql\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:14:\"SQL
  query text\";}s:11:\"last_run_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"The
  most recent time this query was run\";}s:10:\"connection\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:16:\"DBConnectionBase\";s:8:\"readOnly\";b:1;s:11:\"description\";s:26:\"Connection
  this query uses\";}s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:10:\"UserPublic\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"User
  who created this SQL query\";}s:11:\"explore_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:35:\"Explore
  page URL for this SQL query\";}s:9:\"plaintext\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"Should
  this query be rendered as plain text\";}}}s:11:\"StoryAssets\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"js\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:3:\"css\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:13:\"StoryListItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"file_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:15:\"ProjectListItem\";s:8:\"readOnly\";b:1;}}}s:5:\"Story\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"file_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:15:\"ProjectListItem\";s:8:\"readOnly\";b:1;}s:4:\"html\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:8:\"Timezone\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:8:\"Timezone\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"Description
  of timezone\";}s:5:\"group\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:40:\"Timezone
  group (e.g Common, Other, etc.)\";}}}s:11:\"UploadTable\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:16:\"db_connection_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"Id
  of the DB Connection\";}s:18:\"db_connection_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"Name
  of the DB Connection\";}s:10:\"table_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"What
  the table will be named\";}s:9:\"view_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"What
  to name the new table\";}s:9:\"file_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Type
  of the uploaded file\";}s:10:\"definition\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"Definition
  of the table and uploaded file\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"Date/Time
  this record was created\";}s:8:\"built_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:60:\"Relative
  time in English the table was built for this upload\";}s:19:\"created_at_relative\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"Date/Time
  this record was created\";}s:17:\"built_at_relative\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:60:\"Relative
  time in English the table was built for this upload\";}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Link
  to get this item\";}}}s:10:\"UserIdOnly\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}}}s:4:\"User\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":23:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:9:\"Unique
  Id\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"First
  name\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Last
  name\";}s:12:\"display_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:79:\"Full
  name for display (available only if both first_name and last_name are set)\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"EMail
  address\";}s:11:\"is_disabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:25:\"Account
  has been disabled\";}s:10:\"avatar_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:8:\"readOnly\";b:1;s:11:\"description\";s:41:\"URL
  for the avatar image (may be generic)\";}s:13:\"home_space_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"ID
  string for user's home space\";}s:14:\"access_filters\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:12:\"AccessFilter\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Model
  access filters.\";}s:17:\"credentials_email\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:16:\"CredentialsEmail\";s:8:\"readOnly\";b:1;s:11:\"description\";s:32:\"Email/Password
  login credentials\";}s:16:\"credentials_totp\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:15:\"CredentialsTotp\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Two-factor
  credentials\";}s:16:\"credentials_ldap\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:15:\"CredentialsLDAP\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"LDAP
[...]
