---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:93:\"The
  Android Management API provides remote enterprise management of Android devices
  and apps.\";s:5:\"title\";s:18:\"Android Management\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:67:\"https://androidmanagement.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:17:\"androidmanagement\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"google_androidmanagement\";s:4:\"type\";s:7:\"openapi\";}}"
host: androidmanagement.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":45:{s:18:\"AlwaysOnVpnPackage\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Configuration
  for an always-on VPN connection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"lockdownEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Disallows
  networking when the VPN is not connected.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  package name of the VPN app.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ApiLevelCondition\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"A
  compliance rule condition which is satisfied if the Android Framework API level
  on the device doesn't meet a minimum requirement. There can only be one rule with
  this type of condition per policy.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"minApiLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"The
  minimum desired Android Framework API level. If the device doesn't meet the minimum
  requirement, this condition is satisfied. Must be greater than zero.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Application\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Information
  about an app.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"managedProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  set of managed properties available to be pre-configured for the app.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ManagedProperty\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  name of the app in the form enterprises/{enterpriseId}/applications/{package_name}.\";s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  permissions required by the app.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ApplicationPermission\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  title of the app. Localized.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ApplicationEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"An
  app-related event.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  creation time of the event.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"eventType\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"App
  event type.\";s:4:\"enum\";a:9:{i:0;s:34:\"APPLICATION_EVENT_TYPE_UNSPECIFIED\";i:1;s:9:\"INSTALLED\";i:2;s:7:\"CHANGED\";i:3;s:12:\"DATA_CLEARED\";i:4;s:7:\"REMOVED\";i:5;s:8:\"REPLACED\";i:6;s:9:\"RESTARTED\";i:7;s:6:\"PINNED\";i:8;s:8:\"UNPINNED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ApplicationPermission\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  permission required by the app.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"A
  longer description of the permission, providing more detail on what it affects.
  Localized.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  name of the permission. Localized.\";s:4:\"type\";s:6:\"string\";}s:12:\"permissionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"An
  opaque string uniquely identifying the permission. Not localized.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ApplicationPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Policy
  for an individual app.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:23:\"defaultPermissionPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:229:\"The
  default policy for all permissions requested by the app. If specified, this overrides
  the policy-level default_permission_policy which applies to all apps. It does not
  override the permission_grants which applies to all apps.\";s:4:\"enum\";a:4:{i:0;s:29:\"PERMISSION_POLICY_UNSPECIFIED\";i:1;s:6:\"PROMPT\";i:2;s:5:\"GRANT\";i:3;s:4:\"DENY\";}s:4:\"type\";s:6:\"string\";}s:15:\"delegatedScopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  scopes delegated to the app from Android Device Policy.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:27:\"DELEGATED_SCOPE_UNSPECIFIED\";i:1;s:12:\"CERT_INSTALL\";i:2;s:22:\"MANAGED_CONFIGURATIONS\";i:3;s:15:\"BLOCK_UNINSTALL\";i:4;s:16:\"PERMISSION_GRANT\";i:5;s:14:\"PACKAGE_ACCESS\";i:6;s:17:\"ENABLE_SYSTEM_APP\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Whether
  the app should be disabled, but app data is preserved.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"installType\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  type of installation to perform.\";s:4:\"enum\";a:3:{i:0;s:24:\"INSTALL_TYPE_UNSPECIFIED\";i:1;s:12:\"PREINSTALLED\";i:2;s:15:\"FORCE_INSTALLED\";}s:4:\"type\";s:6:\"string\";}s:15:\"lockTaskAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Whether
  the app is allowed to lock itself in full-screen mode.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"managedConfiguration\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:695:\"Managed configuration applied to
  the app. The format for the configuration is dictated by the ManagedProperty values
  supported by the app. Each field name in the managed configuration must match the
  key field of the ManagedProperty. The field value must be compatible with the type
  of the ManagedProperty: <table> <tr><td><i>type</i></td><td><i>JSON value</i></td></tr>
  <tr><td>BOOL</td><td>true or false</td></tr> <tr><td>STRING</td><td>string</td></tr>
  <tr><td>INTEGER</td><td>number</td></tr> <tr><td>CHOICE</td><td>string</td></tr>
  <tr><td>MULTISELECT</td><td>array of strings</td></tr> <tr><td>HIDDEN</td><td>string</td></tr>
  <tr><td>BUNDLE_ARRAY</td><td>array of objects</td></tr> </table>\";s:4:\"type\";s:6:\"object\";}s:18:\"minimumVersionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:428:\"The
  minimum version of the app that runs on the device. If set, the device attempts
  to update the app to at least this version code. If the app is not up-to-date, the
  device will contain a NonComplianceDetail with non_compliance_reason set to APP_NOT_UPDATED.
  The app must already be published to Google Play with a version code greater than
  or equal to this value. At most 20 apps may specify a minimum version code per policy.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  package name of the app. For example, com.google.android.youtube for the YouTube
  app.\";s:4:\"type\";s:6:\"string\";}s:16:\"permissionGrants\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"Explicit
  permission grants or denials for the app. These values override the default_permission_policy
  and permission_grants which apply to all apps.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PermissionGrant\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ApplicationReport\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Information
  reported about an installed app.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"applicationSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  source of the package.\";s:4:\"enum\";a:4:{i:0;s:30:\"APPLICATION_SOURCE_UNSPECIFIED\";i:1;s:26:\"SYSTEM_APP_FACTORY_VERSION\";i:2;s:26:\"SYSTEM_APP_UPDATED_VERSION\";i:3;s:25:\"INSTALLED_FROM_PLAY_STORE\";}s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  display name of the app.\";s:4:\"type\";s:6:\"string\";}s:6:\"events\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"List
  of app events. The most recent 20 events are stored in the list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ApplicationEvent\";}s:4:\"type\";s:5:\"array\";}s:20:\"installerPackageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  package name of the app that installed this app.\";s:4:\"type\";s:6:\"string\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Package
  name of the app.\";s:4:\"type\";s:6:\"string\";}s:17:\"packageSha256Hash\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"The
  SHA-256 hash of the app's APK file, which can be used to verify the app hasn't been
  modified. Each byte of the hash value is represented as a two-digit hexadecimal
  number.\";s:4:\"type\";s:6:\"string\";}s:26:\"signingKeyCertFingerprints\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"The
  SHA-1 hash of each android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html)
  associated with the app package. Each byte of each hash value is represented as
  a two-digit hexadecimal number.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Application
  state.\";s:4:\"enum\";a:2:{i:0;s:9:\"INSTALLED\";i:1;s:7:\"REMOVED\";}s:4:\"type\";s:6:\"string\";}s:11:\"versionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  app version code, which can be used to determine whether one version is more recent
  than another.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"versionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  app version as displayed to the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ChoosePrivateKeyRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"A
  rule for automatically choosing a private key and certificate to authenticate the
  device to a server.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"packageNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:380:\"The
  package names for which outgoing requests are subject to this rule. If no package
  names are specified, then the rule applies to all packages. For each package name
  listed, the rule applies to that package and all other packages that shared the
  same Android UID. The SHA256 hash of the signing key signatures of each package_name
  will be verified against those provided by Play\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"privateKeyAlias\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  alias of the private key to be used.\";s:4:\"type\";s:6:\"string\";}s:10:\"urlPattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  URL pattern to match against the URL of the outgoing request. The pattern may contain
  asterisk (*) wildcards. Any URL is matched if unspecified.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Command\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"A
  command.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  timestamp at which the command was created. The timestamp is automatically generated
  by the server.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"The
  duration for which the command is valid. The command will expire if not executed
  by the device during this time. The default duration if unspecified is ten minutes.
  There is no maximum duration.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"If
  the command failed, an error code explaining the failure. This is not set when the
  command is cancelled by the caller.\";s:4:\"enum\";a:6:{i:0;s:30:\"COMMAND_ERROR_CODE_UNSPECIFIED\";i:1;s:7:\"UNKNOWN\";i:2;s:9:\"API_LEVEL\";i:3;s:15:\"MANAGEMENT_MODE\";i:4;s:13:\"INVALID_VALUE\";i:5;s:11:\"UNSUPPORTED\";}s:4:\"type\";s:6:\"string\";}s:11:\"newPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"For
  commands of type RESET_PASSWORD, optionally specifies the new password.\";s:4:\"type\";s:6:\"string\";}s:18:\"resetPasswordFlags\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"For
  commands of type RESET_PASSWORD, optionally specifies flags.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:31:\"RESET_PASSWORD_FLAG_UNSPECIFIED\";i:1;s:13:\"REQUIRE_ENTRY\";i:2;s:30:\"DO_NOT_ASK_CREDENTIALS_ON_BOOT\";i:3;s:8:\"LOCK_NOW\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  type of the command.\";s:4:\"enum\";a:4:{i:0;s:24:\"COMMAND_TYPE_UNSPECIFIED\";i:1;s:4:\"LOCK\";i:2;s:14:\"RESET_PASSWORD\";i:3;s:6:\"REBOOT\";}s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:195:\"The
  resource name of the user that owns the device in the form enterprises/{enterpriseId}/users/{userId}.
  This is automatically generated by the server based on the device the command is
  sent to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ComplianceRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:415:\"A
  rule declaring which mitigating actions to take when a device is not compliant with
  its policy. For every rule, there is always an implicit mitigating action to set
  policy_compliant to false for the Device resource, and display a message on the
  device indicating that the device is not compliant with its policy. Other mitigating
  actions may optionally be taken as well, depending on the field values in the rule.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"apiLevelCondition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ApiLevelCondition\";s:11:\"description\";s:115:\"A
  condition which is satisfied if the Android Framework API level on the device doesn't
  meet a minimum requirement.\";}s:11:\"disableApps\";O:8:\"stdClass\":2:{s:11:\"description\";s:282:\"If
  set to true, the rule includes a mitigating action to disable apps so that the device
  is effectively disabled, but app data is preserved. If the device is running an
  app in locked task mode, the app will be closed and a UI showing the reason for
  non-compliance will be displayed.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"nonComplianceDetailCondition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/NonComplianceDetailCondition\";s:11:\"description\";s:95:\"A
  condition which is satisfied if there exists any matching NonComplianceDetail for
  the device.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Device\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"A
  device owned by an enterprise. Unless otherwise noted, all fields are read-only
  and can't be modified by enterprises.devices.patch.\";s:10:\"properties\";O:8:\"stdClass\":28:{s:8:\"apiLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  API level of the Android platform version running on the device.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"applicationReports\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"Reports
  for apps installed on the device. This information is only available when application_reports_enabled
  is true in the device's policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationReport\";}s:4:\"type\";s:5:\"array\";}s:17:\"appliedPolicyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  name of the policy currently applied to the device.\";s:4:\"type\";s:6:\"string\";}s:20:\"appliedPolicyVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  version of the policy currently applied to the device.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"appliedState\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  state currently applied to the device.\";s:4:\"enum\";a:5:{i:0;s:24:\"DEVICE_STATE_UNSPECIFIED\";i:1;s:6:\"ACTIVE\";i:2;s:8:\"DISABLED\";i:3;s:7:\"DELETED\";i:4;s:12:\"PROVISIONING\";}s:4:\"type\";s:6:\"string\";}s:14:\"deviceSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeviceSettings\";s:11:\"description\";s:120:\"Device
  settings information. This information is only available if deviceSettingsEnabled
  is true in the device's policy.\";}s:14:\"disabledReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserFacingMessage\";s:11:\"description\";s:177:\"If
  the device state is DISABLED, an optional message that is displayed on the device
  indicating the reason the device is disabled. This field can be modified by a patch
  request.\";}s:8:\"displays\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"Detailed
  information about displays on the device. This information is only available if
  displayInfoEnabled is true in the device's policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Display\";}s:4:\"type\";s:5:\"array\";}s:14:\"enrollmentTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  time of device enrollment.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:19:\"enrollmentTokenData\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"If
  the device was enrolled with an enrollment token with additional data provided,
  this field contains that data.\";s:4:\"type\";s:6:\"string\";}s:19:\"enrollmentTokenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"If
  the device was enrolled with an enrollment token, this field contains the name of
  the token.\";s:4:\"type\";s:6:\"string\";}s:12:\"hardwareInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/HardwareInfo\";s:11:\"description\";s:47:\"Detailed
  information about the device hardware.\";}s:21:\"hardwareStatusSamples\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"Hardware
  status samples in chronological order. This information is only available if hardwareStatusEnabled
  is true in the device's policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/HardwareStatus\";}s:4:\"type\";s:5:\"array\";}s:30:\"lastPolicyComplianceReportTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  last time the device sent a policy compliance report.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:18:\"lastPolicySyncTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  last time the device fetched its policy.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:20:\"lastStatusReportTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  last time the device sent a status report.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"memoryEvents\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"Events
  related to memory and storage measurements in chronological order. This information
  is only available if memoryInfoEnabled is true in the device's policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MemoryEvent\";}s:4:\"type\";s:5:\"array\";}s:10:\"memoryInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MemoryInfo\";s:11:\"description\";s:107:\"Memory
  information. This information is only available if memoryInfoEnabled is true in
  the device's policy.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.\";s:4:\"type\";s:6:\"string\";}s:11:\"networkInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/NetworkInfo\";s:11:\"description\";s:116:\"Device
  network information. This information is only available if networkInfoEnabled is
  true in the device's policy.\";}s:20:\"nonComplianceDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Details
  about policy settings that the device is not compliant with.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/NonComplianceDetail\";}s:4:\"type\";s:5:\"array\";}s:15:\"policyCompliant\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  the device is compliant with its policy.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"policyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:390:\"The
  name of the policy applied to the device, in the form enterprises/{enterpriseId}/policies/{policyId}.
  If not specified, the policy_name for the device's user is applied. This field can
  be modified by a patch request. You can specify only the policyId when calling enterprises.devices.patch,
  as long as the policyId doesn\u2019t contain any slashes. The rest of the policy
  name is inferred.\";s:4:\"type\";s:6:\"string\";}s:21:\"powerManagementEvents\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Power
  management events on the device in chronological order. This information is only
  available if powerManagementEventsEnabled is true in the device's policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PowerManagementEvent\";}s:4:\"type\";s:5:\"array\";}s:19:\"previousDeviceNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:263:\"If
  the same physical device has been enrolled multiple times, this field contains its
  previous device names. The serial number is used as the unique identifier to determine
  if the same physical device has enrolled previously. The names are in chronological
  order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"softwareInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SoftwareInfo\";s:11:\"description\";s:137:\"Detailed
  information about the device software. This information is only available if softwareInfoEnabled
  is true in the device's policy.\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:261:\"The
  state to be applied to the device. This field can be modified by a patch request.
  Note that when calling enterprises.devices.patch, ACTIVE and DISABLED are the only
  allowable values. To enter the device into a DELETED state, call enterprises.devices.delete.\";s:4:\"enum\";a:5:{i:0;s:24:\"DEVICE_STATE_UNSPECIFIED\";i:1;s:6:\"ACTIVE\";i:2;s:8:\"DISABLED\";i:3;s:7:\"DELETED\";i:4;s:12:\"PROVISIONING\";}s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"The
  resource name of the user that owns this device in the form enterprises/{enterpriseId}/users/{userId}.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DeviceSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Information
  about security related device settings on device.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"adbEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Whether
  ADB (https://developer.android.com/studio/command-line/adb.html) is enabled on the
  device.\";s:4:\"type\";s:7:\"boolean\";}s:26:\"developmentSettingsEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  developer mode is enabled on the device.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"encryptionStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Encryption
  status from DevicePolicyManager.\";s:4:\"enum\";a:7:{i:0;s:29:\"ENCRYPTION_STATUS_UNSPECIFIED\";i:1;s:11:\"UNSUPPORTED\";i:2;s:8:\"INACTIVE\";i:3;s:10:\"ACTIVATING\";i:4;s:6:\"ACTIVE\";i:5;s:18:\"ACTIVE_DEFAULT_KEY\";i:6;s:15:\"ACTIVE_PER_USER\";}s:4:\"type\";s:6:\"string\";}s:14:\"isDeviceSecure\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  the device is secured with PIN/password.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"isEncrypted\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Whether
  the storage encryption is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"unknownSourcesEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  installing apps from unknown sources is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"verifyAppsEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Whether
  Verify Apps (Google Play Protect (https://support.google.com/googleplay/answer/2812853))
  is enabled on the device.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Display\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Device
  display information.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"density\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Display
  density expressed as dots-per-inch.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"displayId\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Unique
  display id.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Display
  height in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the display.\";s:4:\"type\";s:6:\"string\";}s:11:\"refreshRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Refresh
  rate of the display in frames per second.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"State
  of the display.\";s:4:\"enum\";a:5:{i:0;s:25:\"DISPLAY_STATE_UNSPECIFIED\";i:1;s:3:\"OFF\";i:2;s:2:\"ON\";i:3;s:4:\"DOZE\";i:4;s:9:\"SUSPENDED\";}s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Display
  width in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:341:\"A
  generic empty message that you can re-use to avoid defining duplicated empty messages
  in your APIs. A typical example is to use it as the request or the response type
  of an API method. For instance:\nservice Foo {\n  rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n}\nThe JSON representation for Empty is empty
  JSON object {}.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"EnrollmentToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"An
  enrollment token.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"additionalData\";O:8:\"stdClass\":2:{s:11:\"description\";s:370:\"Optional,
  arbitrary data associated with the enrollment token. This could contain, for example,
  the ID of an org unit the device is assigned to after enrollment. After a device
  enrolls with the token, this data will be exposed in the enrollment_token_data field
  of the Device resource. The data must be 1024 characters or less; otherwise, the
  creation request will fail.\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  length of time the enrollment token is valid, ranging from 1 minute to 30 days.
  If not specified, the default duration is 1 hour.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:19:\"expirationTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  expiration time of the token. This is a read-only field generated by the server.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"The
  name of the enrollment token, which is generated by the server during creation,
  in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}.\";s:4:\"type\";s:6:\"string\";}s:10:\"policyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:458:\"The
  name of the policy initially applied to the enrolled device, in the form enterprises/{enterpriseId}/policies/{policyId}.
  If not specified, the policy_name for the device\u2019s user is applied. If user_name
  is also not specified, enterprises/{enterpriseId}/policies/default is applied by
  default. When updating this field, you can specify only the policyId as long as
  the policyId doesn\u2019t contain any slashes. The rest of the policy name will
  be inferred.\";s:4:\"type\";s:6:\"string\";}s:6:\"qrCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:259:\"A
  JSON string whose UTF-8 representation can be used to generate a QR code to enroll
  a device with this enrollment token. To enroll a device using NFC, the NFC record
  must contain a serialized java.util.Properties representation of the properties
  in the JSON.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  token value that's passed to the device and authorizes the device to enroll. This
  is a read-only field generated by the server.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Enterprise\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  configuration applied to an enterprise.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:22:\"appAutoApprovalEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Deprecated
  and unused.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"enabledNotificationTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  types of Google Pub/Sub notifications enabled for the enterprise.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:29:\"NOTIFICATION_TYPE_UNSPECIFIED\";i:1;s:10:\"ENROLLMENT\";i:2;s:17:\"COMPLIANCE_REPORT\";i:3;s:13:\"STATUS_REPORT\";i:4;s:7:\"COMMAND\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:21:\"enterpriseDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  name of the enterprise displayed to users.\";s:4:\"type\";s:6:\"string\";}s:4:\"logo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ExternalData\";s:11:\"description\";s:186:\"An
  image displayed as a logo during device provisioning. Supported types are: image/bmp,
  image/gif, image/x-ico, image/jpeg, image/png, image/webp, image/vnd.wap.wbmp, image/x-adobe-dng.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  name of the enterprise which is generated by the server during creation, in the
  form enterprises/{enterpriseId}.\";s:4:\"type\";s:6:\"string\";}s:12:\"primaryColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:248:\"A
  color in RGB format that indicates the predominant color to display in the device
  management app UI. The color components are stored as follows: (red << 16) | (green
  << 8) | blue, where the value of each component is between 0 and 255, inclusive.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"pubsubTopic\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"The
  topic that Cloud Pub/Sub notifications are published to, in the form projects/{project}/topics/{topic}.
  This field is only required if Pub/Sub notifications are enabled.\";s:4:\"type\";s:6:\"string\";}s:18:\"termsAndConditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"Terms
  and conditions that must be accepted when provisioning a device for this enterprise.
  A page of terms is generated for each value in this list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TermsAndConditions\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ExternalData\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Data
  hosted at an external location. The data is to be downloaded by Android Device Policy
  and verified against the hash.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"sha256Hash\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"The
  base-64 encoded SHA-256 hash of the content hosted at url. If the content doesn't
  match this hash, Android Device Policy won't use the data.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:296:\"The
  absolute URL to the data, which must use either the http or https scheme. Android
  Device Policy doesn't provide any credentials in the GET request, so the URL must
  be publicly accessible. Including a long, random component in the URL may be used
  to prevent attackers from discovering the URL.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"HardwareInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"Information
  about device hardware. The fields related to temperature thresholds are only available
  if hardwareStatusEnabled is true in the device's policy.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:27:\"batteryShutdownTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Battery
  shutdown temperature thresholds in Celsius for each battery on the device.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:29:\"batteryThrottlingTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Battery
  throttling temperature thresholds in Celsius for each battery on the device.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Brand
  of the device. For example, Google.\";s:4:\"type\";s:6:\"string\";}s:23:\"cpuShutdownTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"CPU
  shutdown temperature thresholds in Celsius for each CPU on the device.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:25:\"cpuThrottlingTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"CPU
  throttling temperature thresholds in Celsius for each CPU on the device.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:21:\"deviceBasebandVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Baseband
  version. For example, MDM9625_104662.22.05.34p.\";s:4:\"type\";s:6:\"string\";}s:23:\"gpuShutdownTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"GPU
  shutdown temperature thresholds in Celsius for each GPU on the device.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:25:\"gpuThrottlingTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"GPU
  throttling temperature thresholds in Celsius for each GPU on the device.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:8:\"hardware\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Name
  of the hardware. For example, Angler.\";s:4:\"type\";s:6:\"string\";}s:12:\"manufacturer\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Manufacturer.
  For example, Motorola.\";s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  model of the device. For example, Asus Nexus 7.\";s:4:\"type\";s:6:\"string\";}s:12:\"serialNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  device serial number.\";s:4:\"type\";s:6:\"string\";}s:24:\"skinShutdownTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Device
  skin shutdown temperature thresholds in Celsius.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:26:\"skinThrottlingTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Device
  skin throttling temperature thresholds in Celsius.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"HardwareStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Hardware
  status. Temperatures may be compared to the temperature thresholds available in
  hardwareInfo to determine hardware health.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"batteryTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Current
  battery temperatures in Celsius for each battery on the device.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:15:\"cpuTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Current
  CPU temperatures in Celsius for each CPU on the device.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:9:\"cpuUsages\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"CPU
  usages in percentage for each core available on the device. Usage is 0 for each
  unplugged core. Empty array implies that CPU usage is not supported in the system.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  time the measurements were taken.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"fanSpeeds\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Fan
  speeds in RPM for each fan on the device. Empty array means that there are no fans
  or fan speed is not supported on the system.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:15:\"gpuTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Current
  GPU temperatures in Celsius for each GPU on the device.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:16:\"skinTemperatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Current
  device skin temperatures in Celsius.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListDevicesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Response
  to a request to list devices for a given enterprise.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"devices\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  list of devices.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Device\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"If
  there are more results, a token to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  response message for Operations.ListOperations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of operations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListPoliciesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Response
  to a request to list policies for a given enterprise.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"If
  there are more results, a token to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";}s:8:\"policies\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  list of policies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ManagedProperty\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Managed
  property.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"defaultValue\";O:8:\"stdClass\":1:{s:11:\"description\";s:86:\"The
  default value of the property. BUNDLE_ARRAY properties don't have a default value.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"A
  longer description of the property, providing more detail of what it affects. Localized.\";s:4:\"type\";s:6:\"string\";}s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"For
  CHOICE or MULTISELECT properties, the list of possible entries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ManagedPropertyEntry\";}s:4:\"type\";s:5:\"array\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  unique key that the app uses to identify the property, e.g. \"com.google.android.gm.fieldname\".\";s:4:\"type\";s:6:\"string\";}s:16:\"nestedProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"For
  BUNDLE_ARRAY properties, the list of nested properties. A BUNDLE_ARRAY property
  is at most two levels deep.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ManagedProperty\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  name of the property. Localized.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the property.\";s:4:\"enum\";a:8:{i:0;s:33:\"MANAGED_PROPERTY_TYPE_UNSPECIFIED\";i:1;s:4:\"BOOL\";i:2;s:6:\"STRING\";i:3;s:7:\"INTEGER\";i:4;s:6:\"CHOICE\";i:5;s:11:\"MULTISELECT\";i:6;s:6:\"HIDDEN\";i:7;s:12:\"BUNDLE_ARRAY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ManagedPropertyEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  entry of a managed property.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  human-readable name of the value. Localized.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  machine-readable value of the entry, which should be used in the configuration.
  Not localized.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MemoryEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"An
  event related to memory and storage measurements.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"byteCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  number of free bytes in the medium, or for EXTERNAL_STORAGE_DETECTED, the total
  capacity in bytes of the storage medium.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  creation time of the event.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"eventType\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Event
  type.\";s:4:\"enum\";a:6:{i:0;s:29:\"MEMORY_EVENT_TYPE_UNSPECIFIED\";i:1;s:12:\"RAM_MEASURED\";i:2;s:25:\"INTERNAL_STORAGE_MEASURED\";i:3;s:25:\"EXTERNAL_STORAGE_DETECTED\";i:4;s:24:\"EXTERNAL_STORAGE_REMOVED\";i:5;s:25:\"EXTERNAL_STORAGE_MEASURED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MemoryInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Information
  about device memory and storage.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"totalInternalStorage\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Total
  internal storage on device in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"totalRam\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Total
  RAM on device in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"NetworkInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Device
  network info.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"imei\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"IMEI
  number of the GSM device. For example, A1000031212.\";s:4:\"type\";s:6:\"string\";}s:4:\"meid\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"MEID
  number of the CDMA device. For example, A00000292788E1.\";s:4:\"type\";s:6:\"string\";}s:19:\"networkOperatorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Alphabetic
  name of current registered operator. For example, Vodafone.\";s:4:\"type\";s:6:\"string\";}s:14:\"wifiMacAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Wi-Fi
  MAC address of the device. For example, 7c:11:11:11:11:11.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"NonComplianceDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Provides
  detail about non-compliance with a policy setting.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"currentValue\";O:8:\"stdClass\":1:{s:11:\"description\";s:91:\"If
  the policy setting could not be applied, the current value of the setting on the
  device.\";}s:9:\"fieldPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:581:\"For
  settings with nested fields, if a particular nested field is out of compliance,
  this specifies the full path to the offending field. The path is formatted in the
  same way the policy JSON field would be referenced in JavaScript, that is: 1) For
  object-typed fields, the field name is followed by a dot then by a  subfield name.
  2) For array-typed fields, the field name is followed by the array index  enclosed
  in brackets. For example, to indicate a problem with the url field in the externalData
  field in the 3rd application, the path would be applications[2].externalData.url\";s:4:\"type\";s:6:\"string\";}s:25:\"installationFailureReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"If
  package_name is set and the non-compliance reason is APP_NOT_INSTALLED or APP_NOT_UPDATED,
  the detailed reason the app can't be installed or updated.\";s:4:\"enum\";a:11:{i:0;s:39:\"INSTALLATION_FAILURE_REASON_UNSPECIFIED\";i:1;s:35:\"INSTALLATION_FAILURE_REASON_UNKNOWN\";i:2;s:11:\"IN_PROGRESS\";i:3;s:9:\"NOT_FOUND\";i:4;s:26:\"NOT_COMPATIBLE_WITH_DEVICE\";i:5;s:12:\"NOT_APPROVED\";i:6;s:24:\"PERMISSIONS_NOT_ACCEPTED\";i:7;s:24:\"NOT_AVAILABLE_IN_COUNTRY\";i:8;s:21:\"NO_LICENSES_REMAINING\";i:9;s:12:\"NOT_ENROLLED\";i:10;s:12:\"USER_INVALID\";}s:4:\"type\";s:6:\"string\";}s:19:\"nonComplianceReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  reason the device is not in compliance with the setting.\";s:4:\"enum\";a:11:{i:0;s:33:\"NON_COMPLIANCE_REASON_UNSPECIFIED\";i:1;s:9:\"API_LEVEL\";i:2;s:15:\"MANAGEMENT_MODE\";i:3;s:11:\"USER_ACTION\";i:4;s:13:\"INVALID_VALUE\";i:5;s:17:\"APP_NOT_INSTALLED\";i:6;s:11:\"UNSUPPORTED\";i:7;s:13:\"APP_INSTALLED\";i:8;s:7:\"PENDING\";i:9;s:16:\"APP_INCOMPATIBLE\";i:10;s:15:\"APP_NOT_UPDATED\";}s:4:\"type\";s:6:\"string\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  package name indicating which app is out of compliance, if applicable.\";s:4:\"type\";s:6:\"string\";}s:11:\"settingName\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  name of the policy setting. This is the JSON field name of a top-level Policy  field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"NonComplianceDetailCondition\";O:8:\"stdClass\":3:{s:11:\"description\";s:296:\"A
  compliance rule condition which is satisfied if there exists any matching NonComplianceDetail
  for the device. A NonComplianceDetail matches a NonComplianceDetailCondition if
  all the fields which are set within the NonComplianceDetailCondition match the corresponding
  NonComplianceDetail fields.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"nonComplianceReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  reason the device is not in compliance with the setting. If not set, then this condition
  matches any reason.\";s:4:\"enum\";a:11:{i:0;s:33:\"NON_COMPLIANCE_REASON_UNSPECIFIED\";i:1;s:9:\"API_LEVEL\";i:2;s:15:\"MANAGEMENT_MODE\";i:3;s:11:\"USER_ACTION\";i:4;s:13:\"INVALID_VALUE\";i:5;s:17:\"APP_NOT_INSTALLED\";i:6;s:11:\"UNSUPPORTED\";i:7;s:13:\"APP_INSTALLED\";i:8;s:7:\"PENDING\";i:9;s:16:\"APP_INCOMPATIBLE\";i:10;s:15:\"APP_NOT_UPDATED\";}s:4:\"type\";s:6:\"string\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"The
  package name of the app that's out of compliance. If not set, then this condition
  matches any package name.\";s:4:\"type\";s:6:\"string\";}s:11:\"settingName\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  name of the policy setting. This is the JSON field name of a top-level Policy field.
  If not set, then this condition matches any setting name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a network API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"If
  the value is false, it means the operation is still in progress. If true, the operation
  is completed, and either error or response is available.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:279:\"Service-specific
  metadata associated with the operation. It typically contains progress information
  and common metadata such as create time. Some services might not provide such metadata.
  Any method that returns a long-running operation should document the metadata type,
  if any.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"The
  server-assigned name, which is only unique within the same service that originally
  returns it. If you use the default HTTP mapping, the name should have the format
  of operations/some/unique/name.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:470:\"The
  normal response of the operation in case of success. If the original method returns
  no data on success, such as Delete, the response is google.protobuf.Empty. If the
  original method is standard Get/Create/Update, the response should be the resource.
  For other methods, the response should have the type XxxResponse, where Xxx is the
  original method name. For example, if the original method name is TakeSnapshot(),
  the inferred response type is TakeSnapshotResponse.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PackageNameList\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list of package names.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"packageNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list of package names.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"PasswordRequirements\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Requirements
  for the password used to unlock a device.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:29:\"maximumFailedPasswordsForWipe\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Number
  of incorrect device-unlock passwords that can be entered before a device is wiped.
  A value of 0 means there is no restriction.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"passwordExpirationTimeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Password
  expiration timeout.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:21:\"passwordHistoryLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:201:\"The
  length of the password history. After setting this field, the user won't be able
  to enter a new password that is the same as any password in the history. A value
  of 0 means there is no restriction.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"passwordMinimumLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"The
  minimum allowed password length. A value of 0 means there is no restriction. Only
  enforced when password_quality is NUMERIC, NUMERIC_COMPLEX, ALPHABETIC, ALPHANUMERIC,
  or COMPLEX.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"passwordMinimumLetters\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Minimum
  number of letters required in the password. Only enforced when password_quality
  is COMPLEX.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"passwordMinimumLowerCase\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Minimum
  number of lower case letters required in the password. Only enforced when password_quality
  is COMPLEX.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"passwordMinimumNonLetter\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"Minimum
  number of non-letter characters (numerical digits or symbols) required in the password.
  Only enforced when password_quality is COMPLEX.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"passwordMinimumNumeric\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Minimum
  number of numerical digits required in the password. Only enforced when password_quality
  is COMPLEX.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"passwordMinimumSymbols\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Minimum
  number of symbols required in the password. Only enforced when password_quality
  is COMPLEX.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"passwordMinimumUpperCase\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Minimum
  number of upper case letters required in the password. Only enforced when password_quality
  is COMPLEX.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"passwordQuality\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  required password quality.\";s:4:\"enum\";a:8:{i:0;s:28:\"PASSWORD_QUALITY_UNSPECIFIED\";i:1;s:14:\"BIOMETRIC_WEAK\";i:2;s:9:\"SOMETHING\";i:3;s:7:\"NUMERIC\";i:4;s:15:\"NUMERIC_COMPLEX\";i:5;s:10:\"ALPHABETIC\";i:6;s:12:\"ALPHANUMERIC\";i:7;s:7:\"COMPLEX\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PermissionGrant\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Configuration
  for an Android permission and its grant state.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"permission\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  android permission, e.g. android.permission.READ_CALENDAR.\";s:4:\"type\";s:6:\"string\";}s:6:\"policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  policy for granting the permission.\";s:4:\"enum\";a:4:{i:0;s:29:\"PERMISSION_POLICY_UNSPECIFIED\";i:1;s:6:\"PROMPT\";i:2;s:5:\"GRANT\";i:3;s:4:\"DENY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"PersistentPreferredActivity\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"A
  default activity for handling intents that match a particular intent filter.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"actions\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"The
  intent actions to match in the filter. If any actions are included in the filter,
  then an intent's action must be one of those values for it to match. If no actions
  are included, the intent action is ignored.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:283:\"The
  intent categories to match in the filter. An intent includes the categories that
  it requires, all of which must be included in the filter in order to match. In other
  words, adding a category to the filter has no impact on matching unless that category
  is specified in the intent.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"receiverActivity\";O:8:\"stdClass\":2:{s:11:\"description\";s:308:\"The
  activity that should be the default intent handler. This should be an Android component
  name, e.g. com.android.enterprise.app/.MainActivity. Alternatively, the value may
  be the package name of an app, which causes Android Device Policy to choose an appropriate
  activity from the app to handle the intent.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"A
  policy resources represents a group settings that govern the behavior of a managed
  device and the apps installed on it.\";s:10:\"properties\";O:8:\"stdClass\":71:{s:34:\"accountTypesWithManagementDisabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Account
  types that can't be managed by the user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"addUserDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  adding new users and profiles is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"adjustVolumeDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  adjusting the master volume is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"alwaysOnVpnPackage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AlwaysOnVpnPackage\";s:11:\"description\";s:116:\"Configuration
  for an always-on VPN connection. Use with vpn_config_disabled to prevent modification
  of this setting.\";}s:25:\"androidDevicePolicyTracks\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"The
  app tracks for Android Device Policy the device can access. The device receives
  the latest version among all accessible tracks. If no tracks are specified, then
  the device only uses the production track.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:21:\"APP_TRACK_UNSPECIFIED\";i:1;s:10:\"PRODUCTION\";i:2;s:4:\"BETA\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"appAutoUpdatePolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  app auto update policy, which controls when automatic app updates can be applied.\";s:4:\"enum\";a:5:{i:0;s:34:\"APP_AUTO_UPDATE_POLICY_UNSPECIFIED\";i:1;s:18:\"CHOICE_TO_THE_USER\";i:2;s:5:\"NEVER\";i:3;s:9:\"WIFI_ONLY\";i:4;s:6:\"ALWAYS\";}s:4:\"type\";s:6:\"string\";}s:12:\"applications\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Policy
  applied to apps.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationPolicy\";}s:4:\"type\";s:5:\"array\";}s:16:\"autoTimeRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Whether
  auto time is required, which prevents the user from manually setting the date and
  time.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"blockApplicationsEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:234:\"Whether
  applications other than the ones configured in applications are blocked from being
  installed. When set, applications that were installed under a previous policy but
  no longer appear in the policy are automatically uninstalled.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"bluetoothConfigDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Whether
  configuring bluetooth is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:31:\"bluetoothContactSharingDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Whether
  bluetooth contact sharing is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"bluetoothDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"Whether
  bluetooth is disabled. Prefer this setting over bluetooth_config_disabled because
  bluetooth_config_disabled can be bypassed by the user.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"cameraDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Whether
  all cameras on the device are disabled.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"cellBroadcastsConfigDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Whether
  configuring cell broadcast is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"choosePrivateKeyRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:252:\"Rules
  for automatically choosing a private key and certificate to authenticate the device
  to a server. The rules are ordered by increasing precedence, so if an outgoing request
  matches more than one rule, the last rule defines which private key to use.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ChoosePrivateKeyRule\";}s:4:\"type\";s:5:\"array\";}s:15:\"complianceRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:244:\"Rules
  declaring which mitigating actions to take when a device is not compliant with its
  policy. When the conditions for multiple rules are satisfied, all of the mitigating
  actions for the rules are taken. There is a maximum limit of 100 rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ComplianceRule\";}s:4:\"type\";s:5:\"array\";}s:21:\"createWindowsDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Whether
  creating windows besides app windows is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"credentialsConfigDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Whether
  configuring user credentials is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"dataRoamingDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  roaming data services are disabled.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"debuggingFeaturesAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Whether
  the user is allowed to enable debugging features.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"defaultPermissionPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  default permission policy for runtime permission requests.\";s:4:\"enum\";a:4:{i:0;s:29:\"PERMISSION_POLICY_UNSPECIFIED\";i:1;s:6:\"PROMPT\";i:2;s:5:\"GRANT\";i:3;s:4:\"DENY\";}s:4:\"type\";s:6:\"string\";}s:25:\"deviceOwnerLockScreenInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserFacingMessage\";s:11:\"description\";s:60:\"The
  device owner information to be shown on the lock screen.\";}s:16:\"encryptionPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Whether
  encryption is enabled\";s:4:\"enum\";a:3:{i:0;s:29:\"ENCRYPTION_POLICY_UNSPECIFIED\";i:1;s:24:\"ENABLED_WITHOUT_PASSWORD\";i:2;s:21:\"ENABLED_WITH_PASSWORD\";}s:4:\"type\";s:6:\"string\";}s:23:\"ensureVerifyAppsEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Whether
  app verification is force-enabled.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"factoryResetDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Whether
  factory resetting from settings is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"frpAdminEmails\";O:8:\"stdClass\":3:{s:11:\"description\";s:294:\"Email
  addresses of device administrators for factory reset protection. When the device
  is factory reset, it will require one of these admins to log in with the Google
  account email and password to unlock the device. If no admins are specified, the
  device won't provide factory reset protection.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"funDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Whether
  the user is allowed to have fun. Controls whether the Easter egg game in Settings
  is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"installAppsDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Whether
  user installation of apps is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"installUnknownSourcesAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"Whether
  the user is allowed to enable the \"Unknown Sources\" setting, which allows installation
  of apps from unknown sources.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"keyguardDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Whether
  the keyguard is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"keyguardDisabledFeatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Disabled
  keyguard customizations, such as widgets.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:37:\"KEYGUARD_DISABLED_FEATURE_UNSPECIFIED\";i:1;s:6:\"CAMERA\";i:2;s:13:\"NOTIFICATIONS\";i:3;s:24:\"UNREDACTED_NOTIFICATIONS\";i:4;s:12:\"TRUST_AGENTS\";i:5;s:19:\"DISABLE_FINGERPRINT\";i:6;s:20:\"DISABLE_REMOTE_INPUT\";i:7;s:12:\"ALL_FEATURES\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:26:\"kioskCustomLauncherEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:312:\"Whether
  the kiosk custom launcher is enabled. This replaces the home screen with a launcher
  that locks down the device to the apps installed via the applications setting. The
  apps appear on a single page in alphabetical order. It is recommended to also use
  status_bar_disabled to block access to device settings.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"locationMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  degree of location detection enabled. The user may change the value unless the user
  is otherwise blocked from accessing device settings.\";s:4:\"enum\";a:5:{i:0;s:25:\"LOCATION_MODE_UNSPECIFIED\";i:1;s:13:\"HIGH_ACCURACY\";i:2;s:12:\"SENSORS_ONLY\";i:3;s:14:\"BATTERY_SAVING\";i:4;s:3:\"OFF\";}s:4:\"type\";s:6:\"string\";}s:18:\"longSupportMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserFacingMessage\";s:11:\"description\";s:76:\"A
  message displayed to the user in the device administators settings screen.\";}s:17:\"maximumTimeToLock\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Maximum
  time in milliseconds for user activity until the device locks. A value of 0 means
  there is no restriction.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:28:\"mobileNetworksConfigDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  configuring mobile networks is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"modifyAccountsDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  adding or removing accounts is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:26:\"mountPhysicalMediaDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Whether
  the user mounting physical external media is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.\";s:4:\"type\";s:6:\"string\";}s:25:\"networkEscapeHatchEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:518:\"Whether
  the network escape hatch is enabled. If a network connection can't be made at boot
  time, the escape hatch prompts the user to temporarily connect to a network in order
  to refresh the device policy. After applying policy, the temporary network will
  be forgotten and the device will continue booting. This prevents being unable to
  connect to a network if there is no suitable network in the last policy and the
  device boots into an app in lock task mode, or the user is otherwise unable to reach
  device settings.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"networkResetDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Whether
  resetting network settings is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"openNetworkConfiguration\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:82:\"Network configuration for the device.
  See configure networks for more information.\";s:4:\"type\";s:6:\"object\";}s:20:\"outgoingBeamDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Whether
  using NFC to beam data from apps is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"outgoingCallsDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Whether
  outgoing calls are disabled.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"passwordRequirements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PasswordRequirements\";s:11:\"description\";s:22:\"Password
  requirements.\";}s:21:\"permittedInputMethods\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PackageNameList\";s:11:\"description\";s:178:\"If
  present, only the input methods provided by packages in this list are permitted.
  If this field is present, but the list is empty, then only system input methods
  are permitted.\";}s:29:\"persistentPreferredActivities\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Default
  intent handler activities.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PersistentPreferredActivity\";}s:4:\"type\";s:5:\"array\";}s:26:\"privateKeySelectionEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"Allows
  showing UI on a device for a user to choose a private key alias if there are no
  matching rules in ChoosePrivateKeyRules. For devices below Android P, setting this
  may leave enterprise keys vulnerable.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"recommendedGlobalProxy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProxyInfo\";s:11:\"description\";s:355:\"The
  network-independent global HTTP proxy. Typically proxies should be configured per-network
  in open_network_configuration. However for unusual configurations like general internal
  filtering a global HTTP proxy may be useful. If the proxy is not accessible, network
  access may break. The global proxy is only a recommendation and some apps may ignore
  it.\";}s:18:\"removeUserDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Whether
  removing other users is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"safeBootDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  rebooting the device into safe boot is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"screenCaptureDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Whether
  screen capture is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"setUserIconDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  changing the user icon is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"setWallpaperDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  changing the wallpaper is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"shareLocationDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Whether
  location sharing is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"shortSupportMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserFacingMessage\";s:11:\"description\";s:109:\"A
  message displayed to the user in the settings screen wherever functionality has
  been disabled by the admin.\";}s:24:\"skipFirstUseHintsEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"Flag
  to skip hints on the first use. Enterprise admin can enable the system recommendation
  for apps to skip their user tutorial and other introductory hints on first start-up.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"smsDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Whether
  sending and receiving SMS messages is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"statusBarDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"Whether
  the status bar is disabled. This disables notifications, quick settings, and other
  screen overlays that allow escape from full-screen mode.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"statusReportingSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/StatusReportingSettings\";s:11:\"description\";s:25:\"Status
  reporting settings\";}s:18:\"stayOnPluggedModes\";O:8:\"stdClass\":3:{s:11:\"description\";s:190:\"The
  battery plugged in modes for which the device stays on. When using this setting,
  it is recommended to clear maximum_time_to_lock so that the device doesn't lock
  itself while it stays on.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:32:\"BATTERY_PLUGGED_MODE_UNSPECIFIED\";i:1;s:2:\"AC\";i:2;s:3:\"USB\";i:3;s:8:\"WIRELESS\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"systemUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SystemUpdate\";s:11:\"description\";s:172:\"The
  system update policy, which controls how OS updates are applied. If the update type
  is WINDOWED, the update window will automatically apply to Play app updates as well.\";}s:23:\"tetheringConfigDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Whether
  configuring tethering and portable hotspots is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"uninstallAppsDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  user uninstallation of applications is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"unmuteMicrophoneDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Whether
  the microphone is muted and adjusting microphone volume is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"usbFileTransferDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  transferring files over USB is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"usbMassStorageEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Allows
  admins to toggle whether USB storge is enabled or disabled on user's devices.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  version of the policy. This is a read-only field. The version is incremented each
  time the policy is updated.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"vpnConfigDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Whether
  configuring VPN is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"wifiConfigDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Whether
  configuring Wi-Fi access points is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:26:\"wifiConfigsLockdownEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Whether
  Wi-Fi networks defined in Open Network Configuration are locked so they can't be
  edited by the user.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:20:\"PowerManagementEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  power management event.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"batteryLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"For
  BATTERY_LEVEL_COLLECTED events, the battery level as a percentage.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  creation time of the event.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"eventType\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Event
  type.\";s:4:\"enum\";a:8:{i:0;s:39:\"POWER_MANAGEMENT_EVENT_TYPE_UNSPECIFIED\";i:1;s:23:\"BATTERY_LEVEL_COLLECTED\";i:2;s:15:\"POWER_CONNECTED\";i:3;s:18:\"POWER_DISCONNECTED\";i:4;s:11:\"BATTERY_LOW\";i:5;s:12:\"BATTERY_OKAY\";i:6;s:14:\"BOOT_COMPLETED\";i:7;s:8:\"SHUTDOWN\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ProxyInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"Configuration
  info for an HTTP proxy. For a direct proxy, set the host, port, and excluded_hosts
  fields. For a PAC script proxy, set the pac_uri field.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"excludedHosts\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"For
  a direct proxy, the hosts for which the proxy is bypassed. The host names may contain
  wildcards such as *.example.com.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  host of the direct proxy.\";s:4:\"type\";s:6:\"string\";}s:6:\"pacUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  URI of the PAC script used to configure the proxy.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  port of the direct proxy.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"SignupUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"An
  enterprise signup URL.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"The
  name of the resource. Use this value in the signupUrl field when calling enterprises.create
  to complete the enterprise signup flow.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"A
  URL where an enterprise admin can register their enterprise. The page can't be rendered
  in an iframe.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SoftwareInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Information
  about device software.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"androidBuildNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Android
  build ID string meant for displaying to the user. For example, shamu-userdebug 6.0.1
  MOB30I 2756745 dev-keys.\";s:4:\"type\";s:6:\"string\";}s:16:\"androidBuildTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Build
  time.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:30:\"androidDevicePolicyVersionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  Android Device Policy app version code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:30:\"androidDevicePolicyVersionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  Android Device Policy app version as displayed to the user.\";s:4:\"type\";s:6:\"string\";}s:14:\"androidVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  user-visible Android version string. For example, 6.0.1.\";s:4:\"type\";s:6:\"string\";}s:17:\"bootloaderVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  system bootloader version number, e.g. 0.6.7.\";s:4:\"type\";s:6:\"string\";}s:20:\"deviceBuildSignature\";O:8:\"stdClass\":2:{s:11:\"description\";s:228:\"SHA-256
  hash of android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html)
  associated with the system package, which can be used to verify that the system
  build hasn't been modified.\";s:4:\"type\";s:6:\"string\";}s:19:\"deviceKernelVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Kernel
  version, for example, 2.6.32.9-g103d848.\";s:4:\"type\";s:6:\"string\";}s:18:\"securityPatchLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Security
  patch level, e.g. 2016-05-01.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2337:\"The
  Status type defines a logical error model that is suitable for different programming
  environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc).
  The error model is designed to be:\nSimple to use and understand for most users\nFlexible
  enough to meet unexpected needsOverviewThe Status message contains three pieces
  of data: error code, error message, and error details. The error code should be
  an enum value of google.rpc.Code, but it may accept additional error codes if needed.
  The error message should be a developer-facing English message that helps developers
  understand and resolve the error. If a localized user-facing error message is needed,
  put the localized message in the error details or localize it in the client. The
  optional error details may contain arbitrary information about the error. There
  is a predefined set of error detail types in the package google.rpc that can be
  used for common error conditions.Language mappingThe Status message is the logical
  representation of the error model, but it is not necessarily the actual wire format.
  When the Status message is exposed in different client libraries and different wire
  protocols, it can be mapped differently. For example, it will likely be mapped to
  some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe
  error model and the Status message can be used in a variety of environments, either
  with or without APIs, to provide a consistent developer experience across different
  environments.Example uses of this error model include:\nPartial errors. If a service
  needs to return partial errors to the client, it may embed the Status in the normal
  response to indicate the partial errors.\nWorkflow errors. A typical workflow has
  multiple steps. Each step may have a Status message for error reporting.\nBatch
  operations. If a client uses batch request and batch response, the Status message
  should be used directly inside batch response, one for each error sub-response.\nAsynchronous
  operations. If an API call embeds asynchronous operation results in its response,
  the status of those operations should be represented directly using the Status message.\nLogging.
  If some API errors are stored in logs, the message Status could be used directly
  after any stripping needed for security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"A
  list of messages that carry the error details. There is a common set of message
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any user-facing error
  message should be localized and sent in the google.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"StatusReportingSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Settings
  controlling the behavior of status reports.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:25:\"applicationReportsEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Whether
  app reports are enabled.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"deviceSettingsEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Whether
  device settings reporting is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"displayInfoEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Whether
  displays reporting is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"hardwareStatusEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Whether
  hardware status reporting is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"memoryInfoEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Whether
  memory info reporting is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"networkInfoEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Whether
  network info reporting is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"powerManagementEventsEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Whether
  power management event reporting is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"softwareInfoEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  software info reporting is enabled.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SystemUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Configuration
  for managing system updates\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"endMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:399:\"If
  the type is WINDOWED, the end of the maintenance window, measured as the number
  of minutes after midnight in device's local time. This value must be between 0 and
  1439, inclusive. If this value is less than start_minutes, then the maintenance
  window spans midnight. If the maintenance window specified is smaller than 30 minutes,
  the actual window is extended to 30 minutes beyond the start time.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"startMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"If
  the type is WINDOWED, the start of the maintenance window, measured as the number
  of minutes after midnight in the device's local time. This value must be between
  0 and 1439, inclusive.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  type of system update to configure.\";s:4:\"enum\";a:4:{i:0;s:30:\"SYSTEM_UPDATE_TYPE_UNSPECIFIED\";i:1;s:9:\"AUTOMATIC\";i:2;s:8:\"WINDOWED\";i:3;s:8:\"POSTPONE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TermsAndConditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"A
  terms and conditions page to be accepted during provisioning.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserFacingMessage\";s:11:\"description\";s:94:\"A
  well-formatted HTML string. It will be parsed on the client with android.text.Html#fromHtml.\";}s:6:\"header\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserFacingMessage\";s:11:\"description\";s:52:\"A
  short header which appears above the HTML content.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UserFacingMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Provides
  a user-facing message with locale info. The maximum message length is 4096 characters.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"defaultMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:212:\"The
  default message displayed if no localized message is specified or the user's locale
  doesn't match with any of the localized messages. A default message must be provided
  if any localized messages are provided.\";s:4:\"type\";s:6:\"string\";}s:17:\"localizedMessages\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:181:\"A
  map containing <locale, message> pairs, where locale is a well-formed BCP 47 language
  (https://www.w3.org/International/articles/language-tags/) code, such as en-US,
  es-ES, or fr.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"WebToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  web token used to access the managed Google Play iframe.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"The
  name of the web token, which is generated by the server during creation in the form
  enterprises/{enterpriseId}/webTokens/{webTokenId}.\";s:4:\"type\";s:6:\"string\";}s:14:\"parentFrameUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"The
  URL of the parent frame hosting the iframe with the embedded UI. To prevent XSS,
  the iframe may not be hosted at other URLs. The URL must use the https scheme.\";s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"Permissions
  available to an admin in the embedded UI. An admin must have all of these permissions
  in order to view the UI.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:32:\"WEB_TOKEN_PERMISSION_UNSPECIFIED\";i:1;s:12:\"APPROVE_APPS\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"The
  token value which is used in the hosting page to generate the iframe with the embedded
  UI. This is a read-only field generated by the server.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
