---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:8:\"payments\";s:5:\"title\";s:26:\"Bot
  Connector Payments API\";s:11:\"description\";s:22:\"Bot Framework Payments\";s:14:\"termsOfService\";s:81:\"https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Bot
  Framework\";s:3:\"url\";s:24:\"https://botframework.com\";s:5:\"email\";s:26:\"botframework@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"The
  MIT License (MIT)\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}}"
host: api.botframework.com
paths: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:6:\"Object\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:22:\"MicrosoftPayMethodData\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"W3C
  Payment Method Data for Microsoft Pay\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"merchantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Microsoft
  Pay Merchant ID\";s:4:\"type\";s:6:\"string\";}s:17:\"supportedNetworks\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Supported
  payment networks (e.g., \"visa\" and \"mastercard\")\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"supportedTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Supported
  payment types (e.g., \"credit\")\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:14:\"PaymentAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Address
  within a Payment Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"This
  is the CLDR (Common Locale Data Repository) region code. For example, US, GB, CN,
  or JP\";s:4:\"type\";s:6:\"string\";}s:11:\"addressLine\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"This
  is the most specific part of the address. It can include, for example, a street
  name, a house number, apartment number, a rural delivery route, descriptive instructions,
  or a post office box number.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"This
  is the top level administrative subdivision of the country. For example, this can
  be a state, a province, an oblast, or a prefecture.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"This
  is the city/town portion of the address.\";s:4:\"type\";s:6:\"string\";}s:17:\"dependentLocality\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"This
  is the dependent locality or sublocality within a city. For example, used for neighborhoods,
  boroughs, districts, or UK dependent localities.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"This
  is the postal code or ZIP code, also known as PIN code in India.\";s:4:\"type\";s:6:\"string\";}s:11:\"sortingCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"This
  is the sorting code as used in, for example, France.\";s:4:\"type\";s:6:\"string\";}s:12:\"languageCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"This
  is the BCP-47 language code for the address. It's used to determine the field separators
  and the order of fields when formatting the address for display.\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"This
  is the organization, firm, company, or institution at this address.\";s:4:\"type\";s:6:\"string\";}s:9:\"recipient\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"This
  is the name of the recipient or contact person.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"This
  is the phone number of the recipient or contact person.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"PaymentCurrencyAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Supplies
  monetary amounts\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"A
  currency identifier\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Decimal
  monetary value\";s:4:\"type\";s:6:\"string\";}s:14:\"currencySystem\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Currency
  system\";s:4:\"type\";s:6:\"string\";}}}s:14:\"PaymentDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Provides
  information about the requested transaction\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PaymentItem\";s:11:\"description\";s:48:\"Contains
  the total amount of the payment request\";}s:12:\"displayItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Contains
  line items for the payment request that the user agent may display\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentItem\";}}s:15:\"shippingOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"A
  sequence containing the different shipping options for the user to choose from\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PaymentShippingOption\";}}s:9:\"modifiers\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Contains
  modifiers for particular payment method identifiers\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PaymentDetailsModifier\";}}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Error
  description\";s:4:\"type\";s:6:\"string\";}}}s:11:\"PaymentItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Indicates
  what the payment request is for and the value asked for\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Human-readable
  description of the item\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PaymentCurrencyAmount\";s:11:\"description\";s:28:\"Monetary
  amount for the item\";}s:7:\"pending\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"When
  set to true this flag means that the amount field is not final.\";s:4:\"type\";s:7:\"boolean\";}}}s:21:\"PaymentShippingOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Describes
  a shipping option\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"String
  identifier used to reference this PaymentShippingOption\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Human-readable
  description of the item\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PaymentCurrencyAmount\";s:11:\"description\";s:41:\"Contains
  the monetary amount for the item\";}s:8:\"selected\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Indicates
  whether this is the default selected PaymentShippingOption\";s:4:\"type\";s:7:\"boolean\";}}}s:22:\"PaymentDetailsModifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Provides
  details that modify the PaymentDetails based on payment method identifier\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"supportedMethods\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Contains
  a sequence of payment method identifiers\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PaymentItem\";s:11:\"description\";s:134:\"This
  value overrides the total field in the PaymentDetails dictionary for the payment
  method identifiers in the supportedMethods field\";}s:22:\"additionalDisplayItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"Provides
  additional display items that are appended to the displayItems field in the PaymentDetails
  dictionary for the payment method identifiers in the supportedMethods field\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentItem\";}}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:115:\"A
  JSON-serializable object that provides optional information that might be needed
  by the supported payment methods\";}}}s:17:\"PaymentMethodData\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Indicates
  a set of supported payment methods and any associated payment method specific data
  for those methods\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"supportedMethods\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Required
  sequence of strings containing payment method identifiers for payment methods that
  the merchant web site accepts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:115:\"A
  JSON-serializable object that provides optional information that might be needed
  by the supported payment methods\";}}}s:14:\"PaymentOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Provides
  information about the options desired for the payment request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"requestPayerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Indicates
  whether the user agent should collect and return the payer's name as part of the
  payment request\";s:4:\"type\";s:7:\"boolean\";}s:17:\"requestPayerEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Indicates
  whether the user agent should collect and return the payer's email address as part
  of the payment request\";s:4:\"type\";s:7:\"boolean\";}s:17:\"requestPayerPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Indicates
  whether the user agent should collect and return the payer's phone number as part
  of the payment request\";s:4:\"type\";s:7:\"boolean\";}s:15:\"requestShipping\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Indicates
  whether the user agent should collect and return a shipping address as part of the
  payment request\";s:4:\"type\";s:7:\"boolean\";}s:12:\"shippingType\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"If
  requestShipping is set to true, then the shippingType field may be used to influence
  the way the user agent presents the user interface for gathering the shipping address\";s:4:\"type\";s:6:\"string\";}}}s:14:\"PaymentRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  request to make a payment\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"ID
  of this payment request\";s:4:\"type\";s:6:\"string\";}s:10:\"methodData\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Allowed
  payment methods for this request\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PaymentMethodData\";}}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentDetails\";s:11:\"description\";s:24:\"Details
  for this request\";}s:7:\"options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentOptions\";s:11:\"description\";s:70:\"Provides
  information about the options desired for the payment request\";}s:7:\"expires\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Expiration
  for this request, in ISO 8601 duration format (e.g., 'P1D')\";s:4:\"type\";s:6:\"string\";}}}s:22:\"PaymentRequestComplete\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Payload
  delivered when completing a payment request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Payment
  request ID\";s:4:\"type\";s:6:\"string\";}s:14:\"paymentRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentRequest\";s:11:\"description\";s:23:\"Initial
  payment request\";}s:15:\"paymentResponse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaymentResponse\";s:11:\"description\";s:30:\"Corresponding
  payment response\";}}}s:15:\"PaymentResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"A
  PaymentResponse is returned when a user has selected a payment method and approved
  a payment request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"methodName\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  payment method identifier for the payment method that the user selected to fulfil
  the transaction\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:161:\"A
  JSON-serializable object that provides a payment method specific message used by
  the merchant to process the transaction and determine successful fund transfer\";}s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentAddress\";s:11:\"description\";s:191:\"If
  the requestShipping flag was set to true in the PaymentOptions passed to the PaymentRequest
  constructor, then shippingAddress will be the full and final shipping address chosen
  by the user\";}s:14:\"shippingOption\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"If
  the requestShipping flag was set to true in the PaymentOptions passed to the PaymentRequest
  constructor, then shippingOption will be the id attribute of the selected shipping
  option\";s:4:\"type\";s:6:\"string\";}s:10:\"payerEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:170:\"If
  the requestPayerEmail flag was set to true in the PaymentOptions passed to the PaymentRequest
  constructor, then payerEmail will be the email address chosen by the user\";s:4:\"type\";s:6:\"string\";}s:10:\"payerPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"If
  the requestPayerPhone flag was set to true in the PaymentOptions passed to the PaymentRequest
  constructor, then payerPhone will be the phone number chosen by the user\";s:4:\"type\";s:6:\"string\";}}}s:28:\"PaymentRequestCompleteResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Result
  from a completed payment request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Result
  of the payment request completion\";s:4:\"type\";s:6:\"string\";}}}s:20:\"PaymentRequestUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  update to a payment request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"ID
  for the payment request to update\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentDetails\";s:11:\"description\";s:22:\"Update
  payment details\";}s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentAddress\";s:11:\"description\";s:24:\"Updated
  shipping address\";}s:14:\"shippingOption\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Updated
  shipping options\";s:4:\"type\";s:6:\"string\";}}}s:26:\"PaymentRequestUpdateResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  result object from a Payment Request Update invoke operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentDetails\";s:11:\"description\";s:22:\"Update
  payment details\";}}}}"
...
