---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:2:\"v3\";s:5:\"title\";s:63:\"Microsoft
  Bot Connector API - Microsoft Teams Extensions - v4.0\";s:11:\"description\";s:868:\"\uFEFF\uFEFFThe
  Bot Connector REST API extension for Microsoft Teams allows your bot to perform
  extended operations on to Microsoft Teams channel configured in the\r\n[Bot Framework
  Developer Portal](https://dev.botframework.com). The Connector service uses industry-standard
  REST and JSON over HTTPS.\r\n\r\nClient libraries for this REST API are available.
  See below for a list.\r\n\r\n\r\n\r\nAuthentication for both the Bot Connector and
  Bot State REST APIs is accomplished with JWT Bearer tokens, and is\r\ndescribed
  in detail in the [Connector Authentication](https://docs.botframework.com/en-us/restapi/authentication)
  document.\r\n\r\n# Client Libraries for the Bot Connector REST API\r\n\r\n* [Bot
  Builder for C#](https://docs.botframework.com/en-us/csharp/builder/sdkreference/)\r\n*
  [Bot Builder for Node.js](https://docs.botframework.com/en-us/node/builder/overview/)\r\n\r\n\xA9
  2016 Microsoft\";s:14:\"termsOfService\";s:81:\"https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Bot
  Framework\";s:3:\"url\";s:24:\"https://botframework.com\";s:5:\"email\";s:26:\"botframework@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"The
  MIT License (MIT)\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}}"
host: api.botframework.com
paths:
  /v3/teams/{teamId}/conversations:
    get:
      tags:
      - Teams
      summary: Fetches channel list for a given team
      description: Fetch the channel list.
      operationId: Teams_FetchChannelList
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: teamId
        in: path
        description: Team Id
        required: true
        type: string
      responses:
        200:
          description: ufeffList of channels in the team.
          schema:
            $ref: '#/definitions/ConversationList'
      deprecated: false
  /v3/teams/{teamId}:
    get:
      tags:
      - Teams
      summary: Fetches details related to a team
      description: Fetch details for a team
      operationId: Teams_FetchTeamDetails
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: teamId
        in: path
        description: Team Id
        required: true
        type: string
      responses:
        200:
          description: ufeffDetails for the team.
          schema:
            $ref: '#/definitions/TeamDetails'
      deprecated: false
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":60:{s:11:\"ChannelInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  channel info object which decribes the channel.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Unique
  identifier representing a channel\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the channel\";}}}s:16:\"ConversationList\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of channels under a team\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"conversations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ChannelInfo\";}}}}s:11:\"TeamDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Details
  related to a team\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Unique
  identifier representing a team\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Name
  of team.\";}s:10:\"aadGroupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Azure
  Active Directory (AAD) Group Id for the team.\";}}}s:16:\"TeamsChannelData\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Channel
  data specific to messages received in Microsoft Teams\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"channel\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Information
  about the channel in which the message was sent\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:25:\"#/definitions/ChannelInfo\";}s:9:\"eventType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Type
  of event.\";}s:4:\"team\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Information
  about the team in which the message was sent\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:22:\"#/definitions/TeamInfo\";}s:12:\"notification\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Notification
  settings for the message\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:30:\"#/definitions/NotificationInfo\";}s:6:\"tenant\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Information
  about the tenant in which the message was sent\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:24:\"#/definitions/TenantInfo\";}}}s:8:\"TeamInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Describes
  a team\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Unique
  identifier representing a team\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Name
  of team.\";}}}s:16:\"NotificationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Specifies
  if a notification is to be sent for the mentions.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"alert\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:64:\"true
  if notification is to be sent to the user, false otherwise.\";}}}s:10:\"TenantInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Describes
  a tenant\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Unique
  identifier representing a tenant\";}}}s:14:\"ChannelAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Channel
  account information needed to route a message\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Channel
  id for the user or bot on this channel (Example: joe@smith.com, or @joesmith or
  123456)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Display
  friendly name\";s:4:\"type\";s:6:\"string\";}}}s:19:\"TeamsChannelAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Teams
  channel account detailing user Azure Active Directory details.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Given
  name part of the user name.\";s:4:\"type\";s:6:\"string\";}s:7:\"surname\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Surname
  part of the user name.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Email
  Id of the user.\";s:4:\"type\";s:6:\"string\";}s:17:\"userPrincipalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Unique
  user principal name\";s:4:\"type\";s:6:\"string\";}}}}}s:6:\"Object\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:10:\"CardAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"An
  action on a card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Defines
  the type of action implemented by this button.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Text
  description which appear on the button.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"URL
  Picture which will appear on the button, next to text label.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:86:\"Supplementary
  parameter for action. Content of this property depends on the ActionType\";}}}s:9:\"CardImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"An
  image on a card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"URL
  Thumbnail image for major content property.\";s:4:\"type\";s:6:\"string\";}s:3:\"alt\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Image
  description intended for screen readers\";s:4:\"type\";s:6:\"string\";}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:94:\"Action
  assigned to specific Attachment.E.g.navigate to specific URL or play/open media
  content\";}}}s:17:\"O365ConnectorCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"O365
  connector card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the item\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Text
  for the card\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Summary
  for the card\";s:4:\"type\";s:6:\"string\";}s:10:\"themeColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Theme
  color for the card\";s:4:\"type\";s:6:\"string\";}s:8:\"sections\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Set
  of sections for the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/O365ConnectorCardSection\";}}s:15:\"potentialAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Set
  of actions for the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/O365ConnectorCardActionBase\";}}}}s:24:\"O365ConnectorCardSection\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"O365
  connector card section\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Title
  of the section\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Text
  for the section\";s:4:\"type\";s:6:\"string\";}s:13:\"activityTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Activity
  title\";s:4:\"type\";s:6:\"string\";}s:16:\"activitySubtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Activity
  subtitle\";s:4:\"type\";s:6:\"string\";}s:12:\"activityText\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Activity
  text\";s:4:\"type\";s:6:\"string\";}s:13:\"activityImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Activity
  image\";s:4:\"type\";s:6:\"string\";}s:17:\"activityImageType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Describes
  how Activity image is rendered\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"avatar\";i:1;s:7:\"article\";}}s:8:\"markdown\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Use
  markdown for all text contents. Default vaule is true.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"facts\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Set
  of facts for the current section\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/O365ConnectorCardFact\";}}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Set
  of images for the current section\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/O365ConnectorCardImage\";}}s:15:\"potentialAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Set
  of actions for the current section\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/O365ConnectorCardActionBase\";}}}}s:21:\"O365ConnectorCardFact\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"O365
  connector card fact\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Display
  name of the fact\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Display
  value for the fact\";s:4:\"type\";s:6:\"string\";}}}s:22:\"O365ConnectorCardImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"O365
  connector card image\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"URL
  for the image\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Alternative
  text for the image\";s:4:\"type\";s:6:\"string\";}}}s:27:\"O365ConnectorCardActionBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"O365
  connector card action base\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"@type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Type
  of the action\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:10:\"ViewAction\";i:1;s:7:\"OpenUri\";i:2;s:8:\"HttpPOST\";i:3;s:10:\"ActionCard\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Name
  of the action that will be used as button title\";s:4:\"type\";s:6:\"string\";}s:3:\"@id\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Action
  Id\";s:4:\"type\";s:6:\"string\";}}}s:27:\"O365ConnectorCardViewAction\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"O365
  connector card ViewAction action\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/O365ConnectorCardActionBase\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"target\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Target
  urls, only the first url effective for card button\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:30:\"O365ConnectorCardOpenUriTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"O365
  connector card OpenUri target\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"os\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Target
  operating system.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"default\";i:1;s:3:\"iOS\";i:2;s:7:\"android\";i:3;s:7:\"windows\";}}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Target
  url\";s:4:\"type\";s:6:\"string\";}}}s:24:\"O365ConnectorCardOpenUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"O365
  connector card OpenUri action\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/O365ConnectorCardActionBase\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"targets\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Target
  os / urls\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/O365ConnectorCardOpenUriTarget\";}}}}}}s:25:\"O365ConnectorCardHttpPOST\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"O365
  connector card HttpPOST action\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/O365ConnectorCardActionBase\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Content
  to be posted back to bots via invoke\";s:4:\"type\";s:6:\"string\";}}}}}s:27:\"O365ConnectorCardActionCard\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"O365
  connector card ActionCard action\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/O365ConnectorCardActionBase\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"inputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Set
  of inputs contained in this ActionCard whose each item can be in any subtype of
  O365ConnectorCardInputBase\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/O365ConnectorCardInputBase\";}}s:7:\"actions\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Set
  of actions contained in this ActionCard whose each item can be in any subtype of
  O365ConnectorCardActionBase except O365ConnectorCardActionCard, as nested ActionCard
  is forbidden.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/O365ConnectorCardActionBase\";}}}}}}s:26:\"O365ConnectorCardInputBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"O365
  connector card input for ActionCard action\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"@type\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Input
  type name\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:9:\"textInput\";i:1;s:9:\"dateInput\";i:2;s:16:\"multichoiceInput\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Input
  Id. It must be unique per entire O365 connector card.\";s:4:\"type\";s:6:\"string\";}s:10:\"isRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Define
  if this input is a required field. Default value is false.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Input
  title that will be shown as the placeholder\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Default
  value for this input field\";s:4:\"type\";s:6:\"string\";}}}s:26:\"O365ConnectorCardTextInput\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"O365
  connector card text input\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/O365ConnectorCardInputBase\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"isMultiline\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Define
  if text input is allowed for multiple lines. Default value is false.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"maxLength\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Maximum
  length of text input. Default value is unlimited.\";s:4:\"type\";s:6:\"number\";}}}}}s:26:\"O365ConnectorCardDateInput\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"O365
  connector card date input\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/O365ConnectorCardInputBase\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"includeTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Include
  time input field. Default value  is false (date only).\";s:4:\"type\";s:7:\"boolean\";}}}}}s:33:\"O365ConnectorCardMultichoiceInput\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"O365
  connector card multiple choice input\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/O365ConnectorCardInputBase\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"choices\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Set
  of choices whose each item can be in any subtype of O365ConnectorCardMultichoiceInputChoice.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/O365ConnectorCardMultichoiceInputChoice\";}}s:5:\"style\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Choice
  item rendering style. Default valud is 'compact'.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"compact\";i:1;s:8:\"expanded\";}}s:13:\"isMultiSelect\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Define
  if this input field allows multiple selections. Default value is false.\";s:4:\"type\";s:7:\"boolean\";}}}}}s:39:\"O365ConnectorCardMultichoiceInputChoice\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"O365O365
  connector card multiple choice input item\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  text rednered on ActionCard.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  value received as results.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"O365ConnectorCardActionQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"O365
  connector card HttpPOST invoke query\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  results of body string defined in IO365ConnectorCardHttpPOST with substituted input
  values\";s:4:\"type\";s:6:\"string\";}s:8:\"actionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Action
  Id associated with the HttpPOST action button triggered, defined in O365ConnectorCardActionBase.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"SigninStateVerificationQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Signin
  state (part of signin action auth flow) verification invoke query\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"
  The state string originally received when the signin web flow is finished with a
  state posted back to client via tab SDK microsoftTeams.authentication.notifySuccess(state)\";s:4:\"type\";s:6:\"string\";}}}s:30:\"MessagingExtensionQueryOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Messaging
  extension query options\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"skip\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:26:\"Number
  of entities to skip\";s:4:\"type\";s:7:\"integer\";}s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:27:\"Number
  of entities to fetch\";s:4:\"type\";s:7:\"integer\";}}}s:27:\"MessagingExtensionParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Messaging
  extension query parameters\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the parameter\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Value
  of the parameter\";s:4:\"$ref\";s:20:\"#/definitions/Object\";}}}s:23:\"MessagingExtensionQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Messaging
  extension query\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"commandId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Id
  of the command assigned by Bot\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Parameters
  for the query\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/MessagingExtensionParameter\";}}s:12:\"queryOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/MessagingExtensionQueryOptions\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"State
  parameter passed back to the bot after authentication/configuration flow\";s:4:\"type\";s:6:\"string\";}}}s:24:\"MessagingExtensionAction\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Messaging
  extension action\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TaskModuleRequest\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"commandId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Id
  of the command assigned by Bot\";s:4:\"type\";s:6:\"string\";}s:14:\"commandContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  context from which the command originates.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"message\";i:1;s:7:\"compose\";i:2;s:10:\"commandbox\";}}s:23:\"botMessagePreviewAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Bot
  message preview action taken by user.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"edit\";i:1;s:4:\"send\";}}s:18:\"botActivityPreview\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Activity\";s:11:\"description\";s:81:\"Bot
  message preview action payload associate to the current action taken by user.\";}}s:14:\"messagePayload\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Message
  content sent as part of the command request.\";s:4:\"$ref\";s:35:\"#/definitions/MessageActionsPayload\";}}}}}s:32:\"MessagingExtensionActionResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Response
  of messaging extension action\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TaskModuleResponse\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/MessagingExtensionResponse\";}}}s:10:\"Attachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"An
  attachment within an activity\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"mimetype/Contenttype
  for the file\";s:4:\"type\";s:6:\"string\";}s:10:\"contentUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Content
  Url\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:16:\"Embedded
  content\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"(OPTIONAL)
  The name of the attachment\";s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"(OPTIONAL)
  Thumbnail associated with attachment\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Activity\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Dummy
  class to shadow Activity\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"dummyProperty\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Just
  a dummy property to make binding class being generated.\";s:4:\"type\";s:6:\"string\";}}}s:26:\"MessagingExtensionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Messaging
  extension response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"composeExtension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/MessagingExtensionResult\";}}}s:33:\"MessagingExtensionSuggestedAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Messaging
  extension Actions (Only when type is auth or config)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"actions\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Actions\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:52:\"Action
  to start authentication or configuration flow\";}}}}s:24:\"MessagingExtensionResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Messaging
  extension result\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"attachmentLayout\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Hint
  for how to deal with multiple attachments.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"list\";i:1;s:4:\"grid\";}}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  type of the result\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:6:\"result\";i:1;s:4:\"auth\";i:2;s:6:\"config\";i:3;s:7:\"message\";i:4;s:17:\"botMessagePreview\";}}s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"(Only
  when type is result) Attachments\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/MessagingExtensionAttachment\";}}s:16:\"suggestedActions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/MessagingExtensionSuggestedAction\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"(Only
  when type is message) Text\";s:4:\"type\";s:6:\"string\";}s:15:\"activityPreview\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"(Only
  when type is botMessagePreview) Message activity to preview\";s:4:\"$ref\";s:22:\"#/definitions/Activity\";}}}s:28:\"MessagingExtensionAttachment\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Messaging
  extension attachment.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"preview\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}}}}}s:15:\"FileConsentCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"File
  consent card attachment.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"File
  description.\";s:4:\"type\";s:6:\"string\";}s:11:\"sizeInBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Size
  of the file to be uploaded in Bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"acceptContext\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"Context
  sent back to the Bot if user consented to upload. This is free flow schema and is
  sent back in Value field of Activity.\";s:4:\"type\";s:6:\"object\";}s:14:\"declineContext\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Context
  sent back to the Bot if user declined. This is free flow schema and is sent back
  in Value field of Activity.\";s:4:\"type\";s:6:\"object\";}}}s:16:\"FileDownloadInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"File
  download info attachment.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"downloadUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"File
  download url.\";s:4:\"type\";s:6:\"string\";}s:8:\"uniqueId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Unique
  Id for the file.\";s:4:\"type\";s:6:\"string\";}s:8:\"fileType\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Type
  of file.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"ETag
  for the file.\";s:4:\"type\";s:6:\"object\";}}}s:12:\"FileInfoCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"File
  info card.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"uniqueId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Unique
  Id for the file.\";s:4:\"type\";s:6:\"string\";}s:8:\"fileType\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Type
  of file.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"ETag
  for the file.\";s:4:\"type\";s:6:\"object\";}}}s:23:\"FileConsentCardResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Represents
  the value of the invoke activity sent when the user acts on a file consent card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"action\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  action the user took.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"accept\";i:1;s:7:\"decline\";}}s:7:\"context\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  context associated with the action.\";s:4:\"type\";s:6:\"object\";}s:10:\"uploadInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"If
  the user accepted the file, contains information about the file to be uploaded.\";s:4:\"$ref\";s:28:\"#/definitions/FileUploadInfo\";}}}s:14:\"FileUploadInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Information
  about the file to be uploaded.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the file.\";s:4:\"type\";s:6:\"string\";}s:9:\"uploadUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"URL
  to an upload session that the bot can use to set the file contents.\";s:4:\"type\";s:6:\"string\";}s:10:\"contentUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"URL
  to file.\";s:4:\"type\";s:6:\"string\";}s:8:\"uniqueId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"ID
  that uniquely identifies the file.\";s:4:\"type\";s:6:\"string\";}s:8:\"fileType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Type
  of the file.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"TaskModuleTaskInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Metadata
  for a Task Module.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Appears
  below the app name and to the right of the app icon.\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:113:\"This
  can be a number, representing the task module's height in pixels, or a string, one
  of: small, medium, large.\";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:112:\"This
  can be a number, representing the task module's width in pixels, or a string, one
  of: small, medium, large.\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"The
  URL of what is loaded as an iframe inside the task module. One of url or card is
  required.\";}s:4:\"card\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:60:\"The
  JSON for the Adaptive card to appear in the task module.\";s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:11:\"fallbackUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"If
  a client does not support the task module feature, this URL is opened in a browser
  tab.\";}s:15:\"completionBotId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"If
  a client does not support the task module feature, this URL is opened in a browser
  tab.\";}}}s:22:\"TaskModuleResponseBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Base
  class for Task Module responses\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Choice
  of action options when responding to the task/submit message.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"message\";i:1;s:8:\"continue\";}}}}s:26:\"TaskModuleContinueResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Task
  Module Response with continue action.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TaskModuleResponseBase\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:60:\"The
  JSON for the Adaptive card to appear in the task module.\";s:4:\"$ref\";s:32:\"#/definitions/TaskModuleTaskInfo\";}}}}}s:25:\"TaskModuleMessageResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Task
  Module response with message action.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TaskModuleResponseBase\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Teams
  will display the value of value in a popup message box.\";}}}}}s:18:\"TaskModuleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Envelope
  for Task Module Response.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"task\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:60:\"The
  JSON for the Adaptive card to appear in the task module.\";s:4:\"$ref\";s:36:\"#/definitions/TaskModuleResponseBase\";}}}s:17:\"TaskModuleRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Task
  module invoke request value payload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"User
  input data. Free payload with key-value pairs.\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:20:\"#/definitions/Object\";}s:7:\"context\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Current
  user context, i.e., the current theme\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"theme\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:17:\"AppBasedLinkQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Invoke
  request body type for app-based link query.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Url
  queried by user\";s:4:\"type\";s:6:\"string\";}}}s:21:\"MessageActionsPayload\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Represents
  the individual message within a chat or channel where a message actions is taken.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Unique
  id of the message.\";s:4:\"type\";s:6:\"string\";}s:9:\"replyToId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Id
  of the parent/root message of the thread.\";s:4:\"type\";s:6:\"string\";}s:11:\"messageType\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Type
  of message - automatically set to message.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:7:\"message\";}}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Timestamp
  of when the message was created.\";s:4:\"type\";s:6:\"string\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Timestamp
  of when the message was edited or updated.\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Indicates
  whether a message has been soft deleted.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Subject
  line of the message.\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Summary
  text of the message that could be used for notifications.\";s:4:\"type\";s:6:\"string\";}s:10:\"importance\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  importance of the message.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"normal\";i:1;s:4:\"high\";i:2;s:6:\"urgent\";}}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Locale
  of the message set by the client.\";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Sender
  of the message.\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:39:\"#/definitions/MessageActionsPayloadFrom\";}s:4:\"body\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Plaintext/HTML
  representation of the content of the message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"contentType\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Type
  of the content.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"html\";i:1;s:4:\"text\";}}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  content of the body.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"attachmentLayout\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"How
  the attachment(s) are displayed in the message.\";s:4:\"type\";s:6:\"string\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Attachments
  in the message - card, image, file, etc.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/MessageActionsPayloadAttachment\";}}s:8:\"mentions\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"List
  of entities mentioned in the message.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/MessageActionsPayloadMention\";}}s:9:\"reactions\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Reactions
  for the message.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/MessageActionsPayloadReaction\";}}}}s:25:\"MessageActionsPayloadFrom\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Represents
  a user, application, or conversation type that either sent or was referenced in
  a message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Represents
  details of the user.\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:39:\"#/definitions/MessageActionsPayloadUser\";}s:11:\"application\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Represents
  details of the app.\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:38:\"#/definitions/MessageActionsPayloadApp\";}s:12:\"conversation\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  details of the converesation.\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:47:\"#/definitions/MessageActionsPayloadConversation\";}}}s:25:\"MessageActionsPayloadUser\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Represents
  a user entity.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"userIdentityType\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  identity type of the user.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"aadUser\";i:1;s:16:\"onPremiseAadUser\";i:2;s:14:\"anonymousGuest\";i:3;s:13:\"federatedUser\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  id of the user.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  plaintext display name of the user.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"MessageActionsPayloadApp\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Represents
  an application entity.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"applicationIdentityType\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  type of application.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:14:\"aadApplication\";i:1;s:3:\"bot\";i:2;s:9:\"tenantBot\";i:3;s:18:\"office365Connector\";i:4;s:7:\"webhook\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  id of the application.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  plaintext display name of the application.\";s:4:\"type\";s:6:\"string\";}}}s:33:\"MessageActionsPayloadConversation\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Represents
  a team or channel entity.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:24:\"conversationIdentityType\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  type of conversation, whether a team or channel.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"team\";i:1;s:7:\"channel\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  id of the team or channel.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  plaintext display name of the team or channel entity.\";s:4:\"type\";s:6:\"string\";}}}s:31:\"MessageActionsPayloadAttachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Represents
  the attachment in a message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  id of the attachment.\";s:4:\"type\";s:6:\"string\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  type of the attachment.\";s:4:\"type\";s:6:\"string\";}s:10:\"contentUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  url of the attachment, in case of a external link.\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  content of the attachment, in case of a code snippet, email, or file.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  plaintext display name of the attachment.\";s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  url of a thumbnail image that might be embedded in the attachment, in case of a
  card.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"MessageActionsPayloadMention\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Represents
  the entity that was mentioned in the message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  id of the mentioned entity.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"mentionText\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  plaintext display name of the mentioned entity.\";s:4:\"type\";s:6:\"string\";}s:9:\"mentioned\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Provides
  more details on the mentioned entity.\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:39:\"#/definitions/MessageActionsPayloadFrom\";}}}s:29:\"MessageActionsPayloadReaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  the reaction of a user to a message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"reactionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  type of reaction given to the message.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:4:\"like\";i:1;s:5:\"heart\";i:2;s:5:\"laugh\";i:3;s:9:\"surprised\";i:4;s:3:\"sad\";i:5;s:5:\"angry\";}}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Timestamp
  of when the user reacted to the message.\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  user with which the reaction is associated.\";s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:39:\"#/definitions/MessageActionsPayloadFrom\";}}}}"
...
