---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:2:\"v3\";s:5:\"title\";s:34:\"Microsoft
  Bot Connector API - v3.0\";s:11:\"description\";s:1135:\"\uFEFFThe Bot Connector
  REST API allows your bot to send and receive messages to channels configured in
  the\r\n[Bot Framework Developer Portal](https://dev.botframework.com). The Connector
  service uses industry-standard REST\r\nand JSON over HTTPS.\r\n\r\nClient libraries
  for this REST API are available. See below for a list.\r\n\r\nMany bots will use
  both the Bot Connector REST API and the associated [Bot State REST API](/en-us/restapi/state).
  The\r\nBot State REST API allows a bot to store and retrieve state associated with
  users and conversations.\r\n\r\nAuthentication for both the Bot Connector and Bot
  State REST APIs is accomplished with JWT Bearer tokens, and is\r\ndescribed in detail
  in the [Connector Authentication](/en-us/restapi/authentication) document.\r\n\r\n#
  Client Libraries for the Bot Connector REST API\r\n\r\n* [Bot Builder for C#](/en-us/csharp/builder/sdkreference/)\r\n*
  [Bot Builder for Node.js](/en-us/node/builder/overview/)\r\n* Generate your own
  from the [Connector API Swagger file](https://raw.githubusercontent.com/Microsoft/BotBuilder/master/CSharp/Library/Microsoft.Bot.Connector/Swagger/ConnectorAPI.json)\r\n\r\n\xA9
  2016 Microsoft\";s:14:\"termsOfService\";s:81:\"https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Bot
  Framework\";s:3:\"url\";s:24:\"https://botframework.com\";s:5:\"email\";s:26:\"botframework@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"The
  MIT License (MIT)\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}}"
host: api.botframework.com
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":29:{s:14:\"AttachmentInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Metdata
  for an attachment\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"ContentType
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"attachment
  views\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttachmentView\";}}}}s:14:\"AttachmentView\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Attachment
  View name and size\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"viewId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"content
  type of the attachmnet\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Name
  of the attachment\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"An
  HTTP API response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:13:\"Error
  message\";}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Object
  representing error information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Error
  message\";s:4:\"type\";s:6:\"string\";}}}s:22:\"ConversationParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Parameters
  for creating a new conversation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"isGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"IsGroup\";s:4:\"type\";s:7:\"boolean\";}s:3:\"bot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";s:11:\"description\";s:37:\"The
  bot address for this conversation\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Members
  to add to the conversation\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";}}s:9:\"topicName\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"(Optional)
  Topic of the conversation (if supported by the channel)\";s:4:\"type\";s:6:\"string\";}s:8:\"activity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Activity\";s:11:\"description\";s:104:\"(Optional)
  When creating a new conversation, use this activity as the intial message to the
  conversation\";}s:11:\"channelData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:24:\"Channel
  specific payload\";}}}s:14:\"ChannelAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Channel
  account information needed to route a message\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Channel
  id for the user or bot on this channel (Example: joe@smith.com, or @joesmith or
  123456)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Display
  friendly name\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Activity\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"An
  Activity is the basic communication type for the Bot Framework 3.0 protocol\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  type of the activity [message|contactRelationUpdate|converationUpdate|typing]\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Id
  for the activity\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:47:\"UTC
  Time when message was sent (Set by service)\";s:4:\"type\";s:6:\"string\";}s:14:\"localTimestamp\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:86:\"Local
  time when message was sent (set by client Ex: 2016-09-23T13:07:49.4714686-07:00)\";s:4:\"type\";s:6:\"string\";}s:10:\"serviceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Service
  endpoint\";s:4:\"type\";s:6:\"string\";}s:9:\"channelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"ChannelId
  the activity was on\";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";s:11:\"description\";s:14:\"Sender
  address\";}s:12:\"conversation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ConversationAccount\";s:11:\"description\";s:12:\"Conversation\";}s:9:\"recipient\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";s:11:\"description\";s:62:\"(Outbound
  to bot only) Bot's address that received the message\";}s:10:\"textFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Format
  of text fields [plain|markdown] Default:markdown\";s:4:\"type\";s:6:\"string\";}s:16:\"attachmentLayout\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"AttachmentLayout
  - hint for how to deal with multiple attachments Values: [list|carousel] Default:list\";s:4:\"type\";s:6:\"string\";}s:12:\"membersAdded\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Array
  of address added\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";}}s:14:\"membersRemoved\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Array
  of addresses removed\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";}}s:9:\"topicName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Conversations
  new topic name\";s:4:\"type\";s:6:\"string\";}s:16:\"historyDisclosed\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"the
  previous history of the channel was disclosed\";s:4:\"type\";s:7:\"boolean\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  language code of the Text field\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Content
  for the message\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Text
  to display if you can't render cards\";s:4:\"type\";s:6:\"string\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Attachments\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}}s:8:\"entities\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Collection
  of Entity objects, each of which contains metadata about this activity. Each Entity
  object is typed.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";}}s:11:\"channelData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:24:\"Channel
  specific payload\";}s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"ContactAdded/Removed
  action\";s:4:\"type\";s:6:\"string\";}s:9:\"replyToId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"the
  original id this message is a response to\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:16:\"Open
  ended value\";}}}s:6:\"Object\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:19:\"ConversationAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Channel
  account information for a conversation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"isGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Is
  this a reference to a group\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Channel
  id for the user or bot on this channel (Example: joe@smith.com, or @joesmith or
  123456)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Display
  friendly name\";s:4:\"type\";s:6:\"string\";}}}s:10:\"Attachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"An
  attachment within an activity\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"mimetype/Contenttype
  for the file\";s:4:\"type\";s:6:\"string\";}s:10:\"contentUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Content
  Url\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:16:\"Embedded
  content\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"(OPTIONAL)
  The name of the attachment\";s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"(OPTIONAL)
  Thumbnail associated with attachment\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Entity\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Object
  of schema.org types\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Entity
  Type (typically from schema.org types)\";s:4:\"type\";s:6:\"string\";}}}s:28:\"ConversationResourceResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  response containing a resource\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"activityId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Id
  of the Activity (if one was created)\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:6:\"string\";}}}s:16:\"ResourceResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  response containing a resource ID\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:6:\"string\";}}}s:14:\"AttachmentData\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Attachment
  data\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"content
  type of the attachmnet\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:14:\"originalBase64\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"byte\";s:11:\"description\";s:16:\"original
  content\";s:4:\"type\";s:6:\"string\";}s:15:\"thumbnailBase64\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"byte\";s:11:\"description\";s:9:\"Thumbnail\";s:4:\"type\";s:6:\"string\";}}}s:8:\"HeroCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  Hero card (card with a single, large image)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Subtitle
  of the card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Text
  for the card\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of images for the card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CardImage\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Set
  of actions applicable to the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:63:\"This
  action will be activated when user taps on the card itself\";}}}s:9:\"CardImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"An
  image on a card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"URL
  Thumbnail image for major content property.\";s:4:\"type\";s:6:\"string\";}s:3:\"alt\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Image
  description intended for screen readers\";s:4:\"type\";s:6:\"string\";}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:94:\"Action
  assigned to specific Attachment.E.g.navigate to specific URL or play/open media
  content\";}}}s:10:\"CardAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"An
  action on a card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Defines
  the type of action implemented by this button.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Text
  description which appear on the button.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"URL
  Picture which will appear on the button, next to text label.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Supplementary
  parameter for action. Content of this property depends on the ActionType\";s:4:\"type\";s:6:\"string\";}}}s:13:\"ThumbnailCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  thumbnail card (card with a single, small thumbnail image)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Subtitle
  of the card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Text
  for the card\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of images for the card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CardImage\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Set
  of actions applicable to the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:63:\"This
  action will be activated when user taps on the card itself\";}}}s:11:\"ReceiptCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"A
  receipt card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the card\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Array
  of Receipt Items\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ReceiptItem\";}}s:5:\"facts\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Array
  of Fact Objects   Array of key-value pairs.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Fact\";}}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:56:\"This
  action will be activated when user taps on the card\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Total
  amount of money paid (or should be paid)\";s:4:\"type\";s:6:\"string\";}s:3:\"tax\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Total
  amount of TAX paid(or should be paid)\";s:4:\"type\";s:6:\"string\";}s:3:\"vat\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Total
  amount of VAT paid(or should be paid)\";s:4:\"type\";s:6:\"string\";}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Set
  of actions applicable to the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}}}s:11:\"ReceiptItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"An
  item on a receipt card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the Card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Subtitle
  appears just below Title field, differs from Title in font styling only\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Text
  field appears just below subtitle, differs from Subtitle in font styling only\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CardImage\";s:11:\"description\";s:5:\"Image\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Amount
  with currency\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Number
  of items of given kind\";s:4:\"type\";s:6:\"string\";}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:64:\"This
  action will be activated when user taps on the Item bubble.\";}}}s:4:\"Fact\";O:8:\"stdClass\":3:{s:11:\"description\";s:242:\"Set
  of key-value pairs. Advantage of this section is that key and value properties will
  be \r\n            rendered with default style information with some delimiter between
  them. So there is no need for developer to specify style information.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  key for this Fact\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  value for this Fact\";s:4:\"type\";s:6:\"string\";}}}s:10:\"SigninCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  card representing a request to sign in\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Text
  for signin request\";s:4:\"type\";s:6:\"string\";}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Action
  to use to perform signin\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}}}s:9:\"AudioCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"A
  audio card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"aspect\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Aspect
  ratio of thumbnail/media placeholder, allowed values are \"16x9\" and \"9x16\"\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Subtitle
  of the card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Text
  of the card\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ThumbnailUrl\";s:11:\"description\";s:21:\"Thumbnail
  placeholder\";}s:5:\"media\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Array
  of media Url objects\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MediaUrl\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Set
  of actions applicable to the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:9:\"shareable\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Is
  it OK for this content to be shareable with others (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:8:\"autoloop\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Should
  the client loop playback at end of content (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:9:\"autostart\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Should
  the client automatically start playback of video in this card (default:true)\";s:4:\"type\";s:7:\"boolean\";}}}s:12:\"ThumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Object
  describing a media thumbnail\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"url
  pointing to an thumbnail to use for media content\";s:4:\"type\";s:6:\"string\";}s:3:\"alt\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Alt
  text to display for screen readers on the thumbnail image\";s:4:\"type\";s:6:\"string\";}}}s:8:\"MediaUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"MediaUrl
  data\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Url
  for the media\";s:4:\"type\";s:6:\"string\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Optional
  profile hint to the client to differentiate multiple MediaUrl objects from each
  other\";s:4:\"type\";s:6:\"string\";}}}s:13:\"AnimationCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"An
  animation card (Ex: gif or short video clip)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Subtitle
  of the card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Text
  of the card\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ThumbnailUrl\";s:11:\"description\";s:21:\"Thumbnail
  placeholder\";}s:5:\"media\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Array
  of media Url objects\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MediaUrl\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Set
  of actions applicable to the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:9:\"shareable\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Is
  it OK for this content to be shareable with others (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:8:\"autoloop\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Should
  the client loop playback at end of content (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:9:\"autostart\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Should
  the client automatically start playback of video in this card (default:true)\";s:4:\"type\";s:7:\"boolean\";}}}s:9:\"VideoCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"A
  video card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Subtitle
  of the card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Text
  of the card\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ThumbnailUrl\";s:11:\"description\";s:21:\"Thumbnail
  placeholder\";}s:5:\"media\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Array
  of media Url objects\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MediaUrl\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Set
  of actions applicable to the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:9:\"shareable\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Is
  it OK for this content to be shareable with others (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:8:\"autoloop\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Should
  the client loop playback at end of content (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:9:\"autostart\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Should
  the client automatically start playback of video in this card (default:true)\";s:4:\"type\";s:7:\"boolean\";}}}s:14:\"GeoCoordinates\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"GeoCoordinates
  (entity type: \"https://schema.org/GeoCoordinates\")\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"elevation\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:87:\"Elevation
  of the location [WGS 84](https://en.wikipedia.org/wiki/World_Geodetic_System)\";s:4:\"type\";s:6:\"number\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:86:\"Latitude
  of the location [WGS 84](https://en.wikipedia.org/wiki/World_Geodetic_System)\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:87:\"Longitude
  of the location [WGS 84](https://en.wikipedia.org/wiki/World_Geodetic_System)\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  type of the thing\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the thing\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Place\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Place
  (entity type: \"https://schema.org/Place\")\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:80:\"Address
  of the place (may be `string` or complex object of type `PostalAddress`)\";}s:3:\"geo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:91:\"Geo
  coordinates of the place (may be complex object of type `GeoCoordinates` or `GeoShape`)\";}s:6:\"hasMap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:72:\"Map
  to the place (may be `string` (URL) or complex object of type `Map`)\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  type of the thing\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the thing\";s:4:\"type\";s:6:\"string\";}}}}"
...
