---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:2:\"v3\";s:5:\"title\";s:34:\"Microsoft
  Bot Connector API - v3.0\";s:11:\"description\";s:1139:\"The Bot Connector REST
  API allows your bot to send and receive messages to channels configured in the\r\n[Bot
  Framework Developer Portal](https://dev.botframework.com). The Connector service
  uses industry-standard REST\r\nand JSON over HTTPS.\r\n\r\nClient libraries for
  this REST API are available. See below for a list.\r\n\r\nMany bots will use both
  the Bot Connector REST API and the associated [Bot State REST API](/en-us/restapi/state).
  The\r\nBot State REST API allows a bot to store and retrieve state associated with
  users and conversations.\r\n\r\nAuthentication for both the Bot Connector and Bot
  State REST APIs is accomplished with JWT Bearer tokens, and is\r\ndescribed in detail
  in the [Connector Authentication](/en-us/restapi/authentication) document.\r\n\r\n#
  Client Libraries for the Bot Connector REST API\r\n\r\n* [Bot Builder for C#](/en-us/csharp/builder/sdkreference/)\r\n*
  [Bot Builder for Node.js](/en-us/node/builder/overview/)\r\n* Generate your own
  from the [Connector API Swagger file](https://raw.githubusercontent.com/Microsoft/BotBuilder/master/CSharp/Library/Microsoft.Bot.Connector.Shared/Swagger/ConnectorAPI.json)\r\n\r\n\xA9
  2016 Microsoft\";s:14:\"termsOfService\";s:81:\"https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Bot
  Framework\";s:3:\"url\";s:24:\"https://botframework.com\";s:5:\"email\";s:26:\"botframework@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"The
  MIT License (MIT)\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}}"
host: api.botframework.com
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":73:{s:14:\"AttachmentInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Metadata
  for an attachment\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"ContentType
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"attachment
  views\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttachmentView\";}}}}s:14:\"AttachmentView\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Attachment
  View name and size\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"viewId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Content
  type of the attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Name
  of the attachment\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"An
  HTTP API response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:13:\"Error
  message\";}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Object
  representing error information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Error
  message\";s:4:\"type\";s:6:\"string\";}s:14:\"innerHttpError\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InnerHttpError\";s:11:\"description\";s:26:\"Error
  from inner http call\";}}}s:14:\"InnerHttpError\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Object
  representing inner http error\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"statusCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:34:\"HttpStatusCode
  from failed request\";s:4:\"type\";s:7:\"integer\";}s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Body
  from failed request\";s:4:\"type\";s:6:\"object\";}}}s:22:\"ConversationParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Parameters
  for creating a new conversation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"isGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"IsGroup\";s:4:\"type\";s:7:\"boolean\";}s:3:\"bot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";s:11:\"description\";s:37:\"The
  bot address for this conversation\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Members
  to add to the conversation\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";}}s:9:\"topicName\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"(Optional)
  Topic of the conversation (if supported by the channel)\";s:4:\"type\";s:6:\"string\";}s:8:\"activity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Activity\";s:11:\"description\";s:105:\"(Optional)
  When creating a new conversation, use this activity as the initial message to the
  conversation\";}s:11:\"channelData\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Channel
  specific payload for creating the conversation\";s:4:\"type\";s:6:\"object\";}}}s:14:\"ChannelAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Channel
  account information needed to route a message\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Channel
  id for the user or bot on this channel (Example: joe@smith.com, or @joesmith or
  123456)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Display
  friendly name\";s:4:\"type\";s:6:\"string\";}s:11:\"aadObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"This
  account's object ID within Azure Active Directory (AAD)\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/RoleTypes\";s:11:\"description\";s:64:\"Role
  of the entity behind the account (Example: User, Bot, etc.)\";}}}s:8:\"Activity\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"An
  Activity is the basic communication type for the Bot Framework 3.0 protocol.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":41:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ActivityTypes\";s:11:\"description\";s:27:\"Contains
  the activity type.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Contains
  an ID that uniquely identifies the activity on the channel.\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:91:\"Contains
  the date and time that the message was sent, in UTC, expressed in ISO-8601 format.\";s:4:\"type\";s:6:\"string\";}s:14:\"localTimestamp\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:147:\"Contains
  the date and time that the message was sent, in local time, expressed in ISO-8601
  format.\r\nFor example, 2016-09-23T13:07:49.4714686-07:00.\";s:4:\"type\";s:6:\"string\";}s:13:\"localTimezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Contains
  the name of the timezone in which the message, in local time, expressed in IANA
  Time Zone database format.\r\nFor example, America/Los_Angeles.\";s:4:\"type\";s:6:\"string\";}s:10:\"serviceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Contains
  the URL that specifies the channel's service endpoint. Set by the channel.\";s:4:\"type\";s:6:\"string\";}s:9:\"channelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Contains
  an ID that uniquely identifies the channel. Set by the channel.\";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";s:11:\"description\";s:37:\"Identifies
  the sender of the message.\";}s:12:\"conversation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ConversationAccount\";s:11:\"description\";s:58:\"Identifies
  the conversation to which the activity belongs.\";}s:9:\"recipient\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";s:11:\"description\";s:40:\"Identifies
  the recipient of the message.\";}s:10:\"textFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TextFormatTypes\";s:11:\"description\";s:38:\"Format
  of text fields Default:markdown\";}s:16:\"attachmentLayout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AttachmentLayoutTypes\";s:11:\"description\";s:56:\"The
  layout hint for multiple attachments. Default: list.\";}s:12:\"membersAdded\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  collection of members added to the conversation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";}}s:14:\"membersRemoved\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  collection of members removed from the conversation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";}}s:14:\"reactionsAdded\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  collection of reactions added to the conversation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MessageReaction\";}}s:16:\"reactionsRemoved\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  collection of reactions removed from the conversation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MessageReaction\";}}s:9:\"topicName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  updated topic name of the conversation.\";s:4:\"type\";s:6:\"string\";}s:16:\"historyDisclosed\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Indicates
  whether the prior history of the channel is disclosed.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:308:\"A
  locale name for the contents of the text field.\r\nThe locale name is a combination
  of an ISO 639 two- or three-letter culture code associated with a language\r\nand
  an ISO 3166 two-letter subculture code associated with a country or region.\r\nThe
  locale name can also correspond to a valid BCP-47 language tag.\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  text content of the message.\";s:4:\"type\";s:6:\"string\";}s:5:\"speak\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  text to speak.\";s:4:\"type\";s:6:\"string\";}s:9:\"inputHint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/InputHints\";s:11:\"description\";s:121:\"Indicates
  whether your bot is accepting,\r\nexpecting, or ignoring user input after the message
  is delivered to the client.\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  text to display if the channel cannot render cards.\";s:4:\"type\";s:6:\"string\";}s:16:\"suggestedActions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SuggestedActions\";s:11:\"description\";s:39:\"The
  suggested actions for the activity.\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Attachments\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}}s:8:\"entities\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Represents
  the entities that were mentioned in the message.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";}}s:11:\"channelData\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Contains
  channel-specific content.\";s:4:\"type\";s:6:\"object\";}s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Indicates
  whether the recipient of a contactRelationUpdate was added or removed from the sender's
  contact list.\";s:4:\"type\";s:6:\"string\";}s:9:\"replyToId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Contains
  the ID of the message to which this message is a reply.\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"A
  descriptive label for the activity.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  type of the activity's value object.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  value that is associated with the activity.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  name of the operation associated with an invoke or event activity.\";s:4:\"type\";s:6:\"string\";}s:9:\"relatesTo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConversationReference\";s:11:\"description\";s:48:\"A
  reference to another conversation or activity.\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EndOfConversationCodes\";s:11:\"description\";s:86:\"The
  a code for endOfConversation activities that indicates why the conversation ended.\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:113:\"The
  time at which the activity should be considered to be \"expired\" and should not
  be presented to the recipient.\";s:4:\"type\";s:6:\"string\";}s:10:\"importance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ActivityImportance\";s:11:\"description\";s:31:\"The
  importance of the activity.\";}s:12:\"deliveryMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DeliveryModes\";s:11:\"description\";s:126:\"A
  delivery hint to signal to the recipient alternate delivery paths for the activity.\r\nThe
  default delivery mode is \"default\".\";}s:9:\"listenFor\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"List
  of phrases and references that speech and language priming systems should listen
  for\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"textHighlights\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  collection of text fragments to highlight when the activity contains a ReplyToId
  value.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TextHighlight\";}}s:14:\"semanticAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SemanticAction\";s:11:\"description\";s:57:\"An
  optional programmatic action accompanying this request\";}}}s:19:\"ConversationAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Channel
  account information for a conversation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"isGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Indicates
  whether the conversation contains more than two participants at the time the activity
  was generated\";s:4:\"type\";s:7:\"boolean\";}s:16:\"conversationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Indicates
  the type of the conversation in channels that distinguish between conversation types\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Channel
  id for the user or bot on this channel (Example: joe@smith.com, or @joesmith or
  123456)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Display
  friendly name\";s:4:\"type\";s:6:\"string\";}s:11:\"aadObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"This
  account's object ID within Azure Active Directory (AAD)\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/RoleTypes\";s:11:\"description\";s:64:\"Role
  of the entity behind the account (Example: User, Bot, etc.)\";}}}s:15:\"MessageReaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Message
  reaction object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/MessageReactionTypes\";s:11:\"description\";s:21:\"Message
  reaction type\";}}}s:16:\"SuggestedActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"SuggestedActions
  that can be performed\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"Ids
  of the recipients that the actions should be shown to.  These Ids are relative to
  the channelId and a subset of all recipients of the activity\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"actions\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Actions
  that can be shown to the user\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}}}s:10:\"Attachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"An
  attachment within an activity\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"mimetype/Contenttype
  for the file\";s:4:\"type\";s:6:\"string\";}s:10:\"contentUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Content
  Url\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Embedded
  content\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"(OPTIONAL)
  The name of the attachment\";s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"(OPTIONAL)
  Thumbnail associated with attachment\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Entity\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Metadata
  object pertaining to an activity\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Type
  of this entity (RFC 3987 IRI)\";s:4:\"type\";s:6:\"string\";}}}s:21:\"ConversationReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"An
  object relating to a particular point in a conversation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"activityId\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"(Optional)
  ID of the activity to refer to\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";s:11:\"description\";s:50:\"(Optional)
  User participating in this conversation\";}s:3:\"bot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";s:11:\"description\";s:38:\"Bot
  participating in this conversation\";}s:12:\"conversation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ConversationAccount\";s:11:\"description\";s:22:\"Conversation
  reference\";}s:9:\"channelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Channel
  ID\";s:4:\"type\";s:6:\"string\";}s:10:\"serviceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Service
  endpoint where operations concerning the referenced conversation may be performed\";s:4:\"type\";s:6:\"string\";}}}s:13:\"TextHighlight\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Refers
  to a substring of content within another field\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Defines
  the snippet of text to highlight\";s:4:\"type\";s:6:\"string\";}s:10:\"occurrence\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:75:\"Occurrence
  of the text field within the referenced text, if multiple exist.\";s:4:\"type\";s:7:\"integer\";}}}s:14:\"SemanticAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  a reference to a programmatic action\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"ID
  of this action\";s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Entities
  associated with this action\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";}}}}s:10:\"CardAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"A
  clickable action\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ActionTypes\";s:11:\"description\";s:45:\"The
  type of action implemented by this button\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Text
  description which appears on the button\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Image
  URL which will appear on the button, next to text label\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Text
  for this action\";s:4:\"type\";s:6:\"string\";}s:11:\"displayText\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"(Optional)
  text to display in the chat feed if the button is clicked\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Supplementary
  parameter for action. Content of this property depends on the ActionType\";s:4:\"type\";s:6:\"object\";}s:11:\"channelData\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Channel-specific
  data associated with this action\";s:4:\"type\";s:6:\"object\";}}}s:28:\"ConversationResourceResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  response containing a resource\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"activityId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"ID
  of the Activity (if sent)\";s:4:\"type\";s:6:\"string\";}s:10:\"serviceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Service
  endpoint where operations concerning the conversation may be performed\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:6:\"string\";}}}s:19:\"ConversationsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Conversations
  result\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"continuationToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Paging
  token\";s:4:\"type\";s:6:\"string\";}s:13:\"conversations\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of conversations\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ConversationMembers\";}}}}s:19:\"ConversationMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Conversation
  and its members\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Conversation
  ID\";s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"List
  of members in this conversation\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";}}}}s:16:\"ResourceResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  response containing a resource ID\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Id
  of the resource\";s:4:\"type\";s:6:\"string\";}}}s:10:\"Transcript\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Transcript\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"activities\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  collection of Activities that conforms to the Transcript schema.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Activity\";}}}}s:18:\"PagedMembersResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Page
  of members.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"continuationToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Paging
  token\";s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  Channel Accounts.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";}}}}s:14:\"AttachmentData\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Attachment
  data\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Content-Type
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:14:\"originalBase64\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"byte\";s:11:\"description\";s:18:\"Attachment
  content\";s:4:\"type\";s:6:\"string\";}s:15:\"thumbnailBase64\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"byte\";s:11:\"description\";s:20:\"Attachment
  thumbnail\";s:4:\"type\";s:6:\"string\";}}}s:8:\"HeroCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  Hero card (card with a single, large image)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Subtitle
  of the card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Text
  for the card\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of images for the card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CardImage\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Set
  of actions applicable to the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:63:\"This
  action will be activated when user taps on the card itself\";}}}s:9:\"CardImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"An
  image on a card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"URL
  thumbnail image for major content property\";s:4:\"type\";s:6:\"string\";}s:3:\"alt\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Image
  description intended for screen readers\";s:4:\"type\";s:6:\"string\";}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:38:\"Action
  assigned to specific Attachment\";}}}s:13:\"AnimationCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"An
  animation card (Ex: gif or short video clip)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Title
  of this card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Subtitle
  of this card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Text
  of this card\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ThumbnailUrl\";s:11:\"description\";s:21:\"Thumbnail
  placeholder\";}s:5:\"media\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Media
  URLs for this card. When this field contains more than one URL, each URL is an alternative
  format of the same content.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MediaUrl\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Actions
  on this card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:9:\"shareable\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"This
  content may be shared with others (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:8:\"autoloop\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Should
  the client loop playback at end of content (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:9:\"autostart\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Should
  the client automatically start playback of media in this card (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:6:\"aspect\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Aspect
  ratio of thumbnail/media placeholder. Allowed values are \"16:9\" and \"4:3\"\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Describes
  the length of the media content without requiring a receiver to open the content.
  Formatted as an ISO 8601 Duration field.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Supplementary
  parameter for this card\";s:4:\"type\";s:6:\"object\";}}}s:12:\"ThumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Thumbnail
  URL\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"URL
  pointing to the thumbnail to use for media content\";s:4:\"type\";s:6:\"string\";}s:3:\"alt\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"HTML
  alt text to include on this thumbnail image\";s:4:\"type\";s:6:\"string\";}}}s:8:\"MediaUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Media
  URL\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Url
  for the media\";s:4:\"type\";s:6:\"string\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Optional
  profile hint to the client to differentiate multiple MediaUrl objects from each
  other\";s:4:\"type\";s:6:\"string\";}}}s:9:\"AudioCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Audio
  card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Title
  of this card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Subtitle
  of this card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Text
  of this card\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ThumbnailUrl\";s:11:\"description\";s:21:\"Thumbnail
  placeholder\";}s:5:\"media\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Media
  URLs for this card. When this field contains more than one URL, each URL is an alternative
  format of the same content.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MediaUrl\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Actions
  on this card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:9:\"shareable\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"This
  content may be shared with others (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:8:\"autoloop\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Should
  the client loop playback at end of content (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:9:\"autostart\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Should
  the client automatically start playback of media in this card (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:6:\"aspect\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Aspect
  ratio of thumbnail/media placeholder. Allowed values are \"16:9\" and \"4:3\"\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Describes
  the length of the media content without requiring a receiver to open the content.
  Formatted as an ISO 8601 Duration field.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Supplementary
  parameter for this card\";s:4:\"type\";s:6:\"object\";}}}s:9:\"BasicCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"A
  basic card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Subtitle
  of the card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Text
  for the card\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of images for the card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CardImage\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Set
  of actions applicable to the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:63:\"This
  action will be activated when user taps on the card itself\";}}}s:9:\"MediaCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Media
  card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Title
  of this card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Subtitle
  of this card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Text
  of this card\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ThumbnailUrl\";s:11:\"description\";s:21:\"Thumbnail
  placeholder\";}s:5:\"media\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Media
  URLs for this card. When this field contains more than one URL, each URL is an alternative
  format of the same content.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MediaUrl\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Actions
  on this card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:9:\"shareable\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"This
  content may be shared with others (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:8:\"autoloop\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Should
  the client loop playback at end of content (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:9:\"autostart\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Should
  the client automatically start playback of media in this card (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:6:\"aspect\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Aspect
  ratio of thumbnail/media placeholder. Allowed values are \"16:9\" and \"4:3\"\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Describes
  the length of the media content without requiring a receiver to open the content.
  Formatted as an ISO 8601 Duration field.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Supplementary
  parameter for this card\";s:4:\"type\";s:6:\"object\";}}}s:11:\"ReceiptCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"A
  receipt card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the card\";s:4:\"type\";s:6:\"string\";}s:5:\"facts\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Array
  of Fact objects\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Fact\";}}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Array
  of Receipt Items\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ReceiptItem\";}}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:56:\"This
  action will be activated when user taps on the card\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Total
  amount of money paid (or to be paid)\";s:4:\"type\";s:6:\"string\";}s:3:\"tax\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Total
  amount of tax paid (or to be paid)\";s:4:\"type\";s:6:\"string\";}s:3:\"vat\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Total
  amount of VAT paid (or to be paid)\";s:4:\"type\";s:6:\"string\";}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Set
  of actions applicable to the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}}}s:4:\"Fact\";O:8:\"stdClass\":3:{s:11:\"description\";s:230:\"Set
  of key-value pairs. Advantage of this section is that key and value properties will
  be \r\nrendered with default style information with some delimiter between them.
  So there is no need for developer to specify style information.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  key for this Fact\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  value for this Fact\";s:4:\"type\";s:6:\"string\";}}}s:11:\"ReceiptItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"An
  item on a receipt card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the Card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Subtitle
  appears just below Title field, differs from Title in font styling only\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Text
  field appears just below subtitle, differs from Subtitle in font styling only\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CardImage\";s:11:\"description\";s:5:\"Image\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Amount
  with currency\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Number
  of items of given kind\";s:4:\"type\";s:6:\"string\";}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:64:\"This
  action will be activated when user taps on the Item bubble.\";}}}s:10:\"SigninCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  card representing a request to sign in\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Text
  for signin request\";s:4:\"type\";s:6:\"string\";}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Action
  to use to perform signin\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}}}s:9:\"OAuthCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  card representing a request to perform a sign in via OAuth\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Text
  for signin request\";s:4:\"type\";s:6:\"string\";}s:14:\"connectionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  name of the registered connection\";s:4:\"type\";s:6:\"string\";}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Action
  to use to perform signin\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}}}s:13:\"ThumbnailCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  thumbnail card (card with a single, small thumbnail image)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Title
  of the card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Subtitle
  of the card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Text
  for the card\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of images for the card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CardImage\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Set
  of actions applicable to the current card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:3:\"tap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";s:11:\"description\";s:63:\"This
  action will be activated when user taps on the card itself\";}}}s:9:\"VideoCard\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Video
  card\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Title
  of this card\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Subtitle
  of this card\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Text
  of this card\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ThumbnailUrl\";s:11:\"description\";s:21:\"Thumbnail
  placeholder\";}s:5:\"media\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Media
  URLs for this card. When this field contains more than one URL, each URL is an alternative
  format of the same content.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MediaUrl\";}}s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Actions
  on this card\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}}s:9:\"shareable\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"This
  content may be shared with others (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:8:\"autoloop\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Should
  the client loop playback at end of content (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:9:\"autostart\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Should
  the client automatically start playback of media in this card (default:true)\";s:4:\"type\";s:7:\"boolean\";}s:6:\"aspect\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Aspect
  ratio of thumbnail/media placeholder. Allowed values are \"16:9\" and \"4:3\"\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Describes
  the length of the media content without requiring a receiver to open the content.
  Formatted as an ISO 8601 Duration field.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Supplementary
  parameter for this card\";s:4:\"type\";s:6:\"object\";}}}s:14:\"GeoCoordinates\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"GeoCoordinates
  (entity type: \"https://schema.org/GeoCoordinates\")\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"elevation\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:87:\"Elevation
  of the location [WGS 84](https://en.wikipedia.org/wiki/World_Geodetic_System)\";s:4:\"type\";s:6:\"number\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:86:\"Latitude
  of the location [WGS 84](https://en.wikipedia.org/wiki/World_Geodetic_System)\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:87:\"Longitude
  of the location [WGS 84](https://en.wikipedia.org/wiki/World_Geodetic_System)\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  type of the thing\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the thing\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Mention\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Mention
  information (entity type: \"mention\")\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"mentioned\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ChannelAccount\";s:11:\"description\";s:18:\"The
  mentioned user\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Sub
  Text which represents the mention (can be null or empty)\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Type
  of this entity (RFC 3987 IRI)\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Place\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Place
  (entity type: \"https://schema.org/Place\")\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Address
  of the place (may be `string` or complex object of type `PostalAddress`)\";s:4:\"type\";s:6:\"object\";}s:3:\"geo\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Geo
  coordinates of the place (may be complex object of type `GeoCoordinates` or `GeoShape`)\";s:4:\"type\";s:6:\"object\";}s:6:\"hasMap\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Map
  to the place (may be `string` (URL) or complex object of type `Map`)\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  type of the thing\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the thing\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Thing\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Thing
  (entity type: \"https://schema.org/Thing\")\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  type of the thing\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the thing\";s:4:\"type\";s:6:\"string\";}}}s:15:\"MediaEventValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Supplementary
  parameter for media events\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"cardValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Callback
  parameter specified in the Value field of the MediaCard that originated this event\";s:4:\"type\";s:6:\"object\";}}}s:12:\"TokenRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  request to receive a user token\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  provider to request a user token from\";s:4:\"type\";s:6:\"string\";}s:8:\"settings\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  collection of settings for the specific provider for this request\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:13:\"TokenResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  response that includes a user token\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"connectionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  connection name\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  user token\";s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Expiration
  for the token, in ISO 8601 format (e.g. \"2007-04-05T14:30Z\")\";s:4:\"type\";s:6:\"string\";}}}s:13:\"ActivityTypes\";O:8:\"stdClass\":5:{s:11:\"description\";s:19:\"Types
  of Activities\";s:4:\"enum\";a:15:{i:0;s:7:\"message\";i:1;s:21:\"contactRelationUpdate\";i:2;s:18:\"conversationUpdate\";i:3;s:6:\"typing\";i:4;s:17:\"endOfConversation\";i:5;s:5:\"event\";i:6;s:6:\"invoke\";i:7;s:14:\"deleteUserData\";i:8;s:13:\"messageUpdate\";i:9;s:13:\"messageDelete\";i:10;s:18:\"installationUpdate\";i:11;s:15:\"messageReaction\";i:12;s:10:\"suggestion\";i:13;s:5:\"trace\";i:14;s:7:\"handoff\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"ActivityTypes\";s:13:\"modelAsString\";b:1;}}s:21:\"AttachmentLayoutTypes\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Attachment
  layout types\";s:4:\"enum\";a:2:{i:0;s:4:\"list\";i:1;s:8:\"carousel\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"AttachmentLayoutTypes\";s:13:\"modelAsString\";b:1;}}s:11:\"ActionTypes\";O:8:\"stdClass\":5:{s:11:\"description\";s:43:\"Defines
  action types for clickable buttons.\";s:4:\"enum\";a:11:{i:0;s:7:\"openUrl\";i:1;s:6:\"imBack\";i:2;s:8:\"postBack\";i:3;s:9:\"playAudio\";i:4;s:9:\"playVideo\";i:5;s:9:\"showImage\";i:6;s:12:\"downloadFile\";i:7;s:6:\"signin\";i:8;s:4:\"call\";i:9;s:7:\"payment\";i:10;s:11:\"messageBack\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"ActionTypes\";s:13:\"modelAsString\";b:1;}}s:32:\"ContactRelationUpdateActionTypes\";O:8:\"stdClass\":5:{s:11:\"description\";s:55:\"Action
  types valid for ContactRelationUpdate activities\";s:4:\"enum\";a:2:{i:0;s:3:\"add\";i:1;s:6:\"remove\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"ContactRelationUpdateActionTypes\";s:13:\"modelAsString\";b:1;}}s:29:\"InstallationUpdateActionTypes\";O:8:\"stdClass\":5:{s:11:\"description\";s:52:\"Action
  types valid for InstallationUpdate activities\";s:4:\"enum\";a:2:{i:0;s:3:\"add\";i:1;s:6:\"remove\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"InstallationUpdateActionTypes\";s:13:\"modelAsString\";b:1;}}s:20:\"MessageReactionTypes\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"Message
  reaction types\";s:4:\"enum\";a:2:{i:0;s:4:\"like\";i:1;s:7:\"plusOne\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"MessageReactionTypes\";s:13:\"modelAsString\";b:1;}}s:15:\"TextFormatTypes\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Text
  format types\";s:4:\"enum\";a:3:{i:0;s:8:\"markdown\";i:1;s:5:\"plain\";i:2;s:3:\"xml\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"TextFormatTypes\";s:13:\"modelAsString\";b:1;}}s:10:\"InputHints\";O:8:\"stdClass\":5:{s:11:\"description\";s:68:\"Indicates
  whether the bot is accepting, expecting, or ignoring input\";s:4:\"enum\";a:3:{i:0;s:14:\"acceptingInput\";i:1;s:13:\"ignoringInput\";i:2;s:14:\"expectingInput\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"InputHints\";s:13:\"modelAsString\";b:1;}}s:22:\"EndOfConversationCodes\";O:8:\"stdClass\":5:{s:11:\"description\";s:45:\"Codes
  indicating why a conversation has ended\";s:4:\"enum\";a:6:{i:0;s:7:\"unknown\";i:1;s:21:\"completedSuccessfully\";i:2;s:13:\"userCancelled\";i:3;s:11:\"botTimedOut\";i:4;s:23:\"botIssuedInvalidMessage\";i:5;s:13:\"channelFailed\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"EndOfConversationCodes\";s:13:\"modelAsString\";b:1;}}s:18:\"ActivityImportance\";O:8:\"stdClass\":5:{s:11:\"description\";s:37:\"Defines
  the importance of an Activity\";s:4:\"enum\";a:3:{i:0;s:3:\"low\";i:1;s:6:\"normal\";i:2;s:4:\"high\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"ActivityImportance\";s:13:\"modelAsString\";b:1;}}s:9:\"RoleTypes\";O:8:\"stdClass\":5:{s:11:\"description\";s:64:\"Role
  of the entity behind the account (Example: User, Bot, etc.)\";s:4:\"enum\";a:2:{i:0;s:4:\"user\";i:1;s:3:\"bot\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"RoleTypes\";s:13:\"modelAsString\";b:1;}}s:13:\"DeliveryModes\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"Values
  for deliveryMode field\";s:4:\"enum\";a:2:{i:0;s:6:\"normal\";i:1;s:12:\"notification\";}s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"DeliveryModes\";s:13:\"modelAsString\";b:1;}}s:22:\"MicrosoftPayMethodData\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"W3C
  Payment Method Data for Microsoft Pay\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"merchantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Microsoft
  Pay Merchant ID\";s:4:\"type\";s:6:\"string\";}s:17:\"supportedNetworks\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Supported
  payment networks (e.g., \"visa\" and \"mastercard\")\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"supportedTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Supported
  payment types (e.g., \"credit\")\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:14:\"PaymentAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Address
  within a Payment Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"This
  is the CLDR (Common Locale Data Repository) region code. For example, US, GB, CN,
  or JP\";s:4:\"type\";s:6:\"string\";}s:11:\"addressLine\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"This
  is the most specific part of the address. It can include, for example, a street
  name, a house number, apartment number, a rural delivery route, descriptive instructions,
  or a post office box number.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"This
  is the top level administrative subdivision of the country. For example, this can
  be a state, a province, an oblast, or a prefecture.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"This
  is the city/town portion of the address.\";s:4:\"type\";s:6:\"string\";}s:17:\"dependentLocality\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"This
  is the dependent locality or sublocality within a city. For example, used for neighborhoods,
  boroughs, districts, or UK dependent localities.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"This
  is the postal code or ZIP code, also known as PIN code in India.\";s:4:\"type\";s:6:\"string\";}s:11:\"sortingCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"This
  is the sorting code as used in, for example, France.\";s:4:\"type\";s:6:\"string\";}s:12:\"languageCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"This
  is the BCP-47 language code for the address. It's used to determine the field separators
  and the order of fields when formatting the address for display.\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"This
  is the organization, firm, company, or institution at this address.\";s:4:\"type\";s:6:\"string\";}s:9:\"recipient\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"This
  is the name of the recipient or contact person.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"This
  is the phone number of the recipient or contact person.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"PaymentCurrencyAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Supplies
  monetary amounts\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"A
  currency identifier\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Decimal
  monetary value\";s:4:\"type\";s:6:\"string\";}s:14:\"currencySystem\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Currency
  system\";s:4:\"type\";s:6:\"string\";}}}s:14:\"PaymentDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Provides
  information about the requested transaction\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PaymentItem\";s:11:\"description\";s:48:\"Contains
  the total amount of the payment request\";}s:12:\"displayItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Contains
  line items for the payment request that the user agent may display\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentItem\";}}s:15:\"shippingOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"A
  sequence containing the different shipping options for the user to choose from\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PaymentShippingOption\";}}s:9:\"modifiers\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Contains
  modifiers for particular payment method identifiers\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PaymentDetailsModifier\";}}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Error
  description\";s:4:\"type\";s:6:\"string\";}}}s:11:\"PaymentItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Indicates
  what the payment request is for and the value asked for\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Human-readable
  description of the item\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PaymentCurrencyAmount\";s:11:\"description\";s:28:\"Monetary
  amount for the item\";}s:7:\"pending\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"When
  set to true this flag means that the amount field is not final.\";s:4:\"type\";s:7:\"boolean\";}}}s:21:\"PaymentShippingOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Describes
  a shipping option\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"String
  identifier used to reference this PaymentShippingOption\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Human-readable
  description of the item\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PaymentCurrencyAmount\";s:11:\"description\";s:41:\"Contains
  the monetary amount for the item\";}s:8:\"selected\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Indicates
  whether this is the default selected PaymentShippingOption\";s:4:\"type\";s:7:\"boolean\";}}}s:22:\"PaymentDetailsModifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Provides
  details that modify the PaymentDetails based on payment method identifier\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"supportedMethods\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Contains
  a sequence of payment method identifiers\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PaymentItem\";s:11:\"description\";s:134:\"This
  value overrides the total field in the PaymentDetails dictionary for the payment
  method identifiers in the supportedMethods field\";}s:22:\"additionalDisplayItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"Provides
  additional display items that are appended to the displayItems field in the PaymentDetails
  dictionary for the payment method identifiers in the supportedMethods field\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentItem\";}}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"A
  JSON-serializable object that provides optional information that might be needed
  by the supported payment methods\";s:4:\"type\";s:6:\"object\";}}}s:17:\"PaymentMethodData\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Indicates
  a set of supported payment methods and any associated payment method specific data
  for those methods\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"supportedMethods\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Required
  sequence of strings containing payment method identifiers for payment methods that
  the merchant web site accepts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"A
  JSON-serializable object that provides optional information that might be needed
  by the supported payment methods\";s:4:\"type\";s:6:\"object\";}}}s:14:\"PaymentOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Provides
  information about the options desired for the payment request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"requestPayerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Indicates
  whether the user agent should collect and return the payer's name as part of the
  payment request\";s:4:\"type\";s:7:\"boolean\";}s:17:\"requestPayerEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Indicates
  whether the user agent should collect and return the payer's email address as part
  of the payment request\";s:4:\"type\";s:7:\"boolean\";}s:17:\"requestPayerPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Indicates
  whether the user agent should collect and return the payer's phone number as part
  of the payment request\";s:4:\"type\";s:7:\"boolean\";}s:15:\"requestShipping\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Indicates
  whether the user agent should collect and return a shipping address as part of the
  payment request\";s:4:\"type\";s:7:\"boolean\";}s:12:\"shippingType\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"If
  requestShipping is set to true, then the shippingType field may be used to influence
  the way the user agent presents the user interface for gathering the shipping address\";s:4:\"type\";s:6:\"string\";}}}s:14:\"PaymentRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  request to make a payment\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"ID
  of this payment request\";s:4:\"type\";s:6:\"string\";}s:10:\"methodData\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Allowed
  payment methods for this request\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PaymentMethodData\";}}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentDetails\";s:11:\"description\";s:24:\"Details
  for this request\";}s:7:\"options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentOptions\";s:11:\"description\";s:70:\"Provides
  information about the options desired for the payment request\";}s:7:\"expires\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Expiration
  for this request, in ISO 8601 duration format (e.g., 'P1D')\";s:4:\"type\";s:6:\"string\";}}}s:22:\"PaymentRequestComplete\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Payload
  delivered when completing a payment request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Payment
  request ID\";s:4:\"type\";s:6:\"string\";}s:14:\"paymentRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentRequest\";s:11:\"description\";s:23:\"Initial
  payment request\";}s:15:\"paymentResponse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaymentResponse\";s:11:\"description\";s:30:\"Corresponding
  payment response\";}}}s:15:\"PaymentResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"A
  PaymentResponse is returned when a user has selected a payment method and approved
  a payment request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"methodName\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  payment method identifier for the payment method that the user selected to fulfil
  the transaction\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"A
  JSON-serializable object that provides a payment method specific message used by
  the merchant to process the transaction and determine successful fund transfer\";s:4:\"type\";s:6:\"object\";}s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentAddress\";s:11:\"description\";s:191:\"If
  the requestShipping flag was set to true in the PaymentOptions passed to the PaymentRequest
  constructor, then shippingAddress will be the full and final shipping address chosen
  by the user\";}s:14:\"shippingOption\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"If
  the requestShipping flag was set to true in the PaymentOptions passed to the PaymentRequest
  constructor, then shippingOption will be the id attribute of the selected shipping
  option\";s:4:\"type\";s:6:\"string\";}s:10:\"payerEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:170:\"If
  the requestPayerEmail flag was set to true in the PaymentOptions passed to the PaymentRequest
  constructor, then payerEmail will be the email address chosen by the user\";s:4:\"type\";s:6:\"string\";}s:10:\"payerPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"If
  the requestPayerPhone flag was set to true in the PaymentOptions passed to the PaymentRequest
  constructor, then payerPhone will be the phone number chosen by the user\";s:4:\"type\";s:6:\"string\";}}}s:28:\"PaymentRequestCompleteResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Result
  from a completed payment request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Result
  of the payment request completion\";s:4:\"type\";s:6:\"string\";}}}s:20:\"PaymentRequestUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  update to a payment request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"ID
  for the payment request to update\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentDetails\";s:11:\"description\";s:22:\"Update
  payment details\";}s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentAddress\";s:11:\"description\";s:24:\"Updated
  shipping address\";}s:14:\"shippingOption\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Updated
  shipping options\";s:4:\"type\";s:6:\"string\";}}}s:26:\"PaymentRequestUpdateResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  result object from a Payment Request Update invoke operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PaymentDetails\";s:11:\"description\";s:22:\"Update
  payment details\";}}}}"
...
