---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:135:\"Schedules
  reporting jobs containing your YouTube Analytics data and downloads the resulting
  bulk data reports in the form of CSV files.\";s:5:\"title\";s:17:\"YouTube Reporting\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"google\";s:3:\"url\";s:69:\"https://www.googleapis.com/discovery/v1/apis/youtubereporting/v1/rest\";s:7:\"version\";s:2:\"v1\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:16:\"youtubereporting\";}"
host: youtubereporting.googleapis.com
basePath: /
paths:
  /v1/jobs:
    get:
      description: Lists jobs.
      operationId: youtubereporting.jobs.list
      parameters:
      - description: The content owner's external ID on which behalf the user is acting
          on. If not set, the user is acting for himself (his own channel).
        in: query
        name: onBehalfOfContentOwner
        type: string
      - description: Requested page size. Server may return fewer jobs than requested.
          If unspecified, server will pick an appropriate default.
        in: query
        name: pageSize
        type: integer
      - description: A token identifying a page of results the server should return.
          Typically, this is the value of ListReportTypesResponse.next_page_token
          returned in response to the previous call to the `ListJobs` method.
        in: query
        name: pageToken
        type: string
      - description: If set to true, also system-managed jobs will be returned; otherwise
          only user-created jobs will be returned. System-managed jobs can neither
          be modified nor deleted.
        in: query
        name: includeSystemManaged
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics.readonly
      tags:
      - jobs
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    post:
      description: Creates a job and returns it.
      operationId: youtubereporting.jobs.create
      parameters:
      - description: The content owner's external ID on which behalf the user is acting
          on. If not set, the user is acting for himself (his own channel).
        in: query
        name: onBehalfOfContentOwner
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Job'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics.readonly
      tags:
      - jobs
  /v1/jobs/{jobId}:
    delete:
      description: Deletes a job.
      operationId: youtubereporting.jobs.delete
      parameters:
      - description: The ID of the job to delete.
        in: path
        name: jobId
        required: true
        type: string
      - description: The content owner's external ID on which behalf the user is acting
          on. If not set, the user is acting for himself (his own channel).
        in: query
        name: onBehalfOfContentOwner
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics.readonly
      tags:
      - jobs
    get:
      description: Gets a job.
      operationId: youtubereporting.jobs.get
      parameters:
      - description: The ID of the job to retrieve.
        in: path
        name: jobId
        required: true
        type: string
      - description: The content owner's external ID on which behalf the user is acting
          on. If not set, the user is acting for himself (his own channel).
        in: query
        name: onBehalfOfContentOwner
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics.readonly
      tags:
      - jobs
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
  /v1/jobs/{jobId}/reports:
    get:
      description: Lists reports created by a specific job. Returns NOT_FOUND if the
        job does not exist.
      operationId: youtubereporting.jobs.reports.list
      parameters:
      - description: The ID of the job.
        in: path
        name: jobId
        required: true
        type: string
      - description: The content owner's external ID on which behalf the user is acting
          on. If not set, the user is acting for himself (his own channel).
        in: query
        name: onBehalfOfContentOwner
        type: string
      - description: Requested page size. Server may return fewer report types than
          requested. If unspecified, server will pick an appropriate default.
        in: query
        name: pageSize
        type: integer
      - description: A token identifying a page of results the server should return.
          Typically, this is the value of ListReportsResponse.next_page_token returned
          in response to the previous call to the `ListReports` method.
        in: query
        name: pageToken
        type: string
      - description: If set, only reports created after the specified date/time are
          returned.
        in: query
        name: createdAfter
        type: string
      - description: If set, only reports whose start time is greater than or equal
          the specified date/time are returned.
        in: query
        name: startTimeAtOrAfter
        type: string
      - description: If set, only reports whose start time is smaller than the specified
          date/time are returned.
        in: query
        name: startTimeBefore
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListReportsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics.readonly
      tags:
      - jobs
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
  /v1/jobs/{jobId}/reports/{reportId}:
    get:
      description: Gets the metadata of a specific report.
      operationId: youtubereporting.jobs.reports.get
      parameters:
      - description: The ID of the job.
        in: path
        name: jobId
        required: true
        type: string
      - description: The ID of the report to retrieve.
        in: path
        name: reportId
        required: true
        type: string
      - description: The content owner's external ID on which behalf the user is acting
          on. If not set, the user is acting for himself (his own channel).
        in: query
        name: onBehalfOfContentOwner
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Report'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics.readonly
      tags:
      - jobs
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
  /v1/media/{resourceName}:
    get:
      description: Method for media download. Download is supported on the URI `/v1/media/{+name}?alt=media`.
      operationId: youtubereporting.media.download
      parameters:
      - description: Name of the media that is being downloaded. See ReadRequest.resource_name.
        in: path
        name: resourceName
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Media'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics.readonly
      tags:
      - media
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
  /v1/reportTypes:
    get:
      description: Lists report types.
      operationId: youtubereporting.reportTypes.list
      parameters:
      - description: The content owner's external ID on which behalf the user is acting
          on. If not set, the user is acting for himself (his own channel).
        in: query
        name: onBehalfOfContentOwner
        type: string
      - description: Requested page size. Server may return fewer report types than
          requested. If unspecified, server will pick an appropriate default.
        in: query
        name: pageSize
        type: integer
      - description: A token identifying a page of results the server should return.
          Typically, this is the value of ListReportTypesResponse.next_page_token
          returned in response to the previous call to the `ListReportTypes` method.
        in: query
        name: pageToken
        type: string
      - description: If set to true, also system-managed report types will be returned;
          otherwise only the report types that can be used to create new reporting
          jobs will be returned.
        in: query
        name: includeSystemManaged
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListReportTypesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/yt-analytics.readonly
      tags:
      - reportTypes
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:5:\"Empty\";O:8:\"stdClass\":2:{s:11:\"description\";s:343:\"A
  generic empty message that you can re-use to avoid defining duplicated empty messages
  in your APIs. A typical example is to use it as the request or the response type
  of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns
  (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object
  `{}`.\";s:4:\"type\";s:6:\"object\";}s:3:\"Job\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  job creating reports of a specific type.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"createTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  creation date/time of the job.\";s:4:\"type\";s:6:\"string\";}s:10:\"expireTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"The
  date/time when this job will expire/expired. After a job expired, no new reports
  are generated.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  server-generated ID of the job (max. 40 characters).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  name of the job (max. 100 characters).\";s:4:\"type\";s:6:\"string\";}s:12:\"reportTypeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  type of reports this job creates. Corresponds to the ID of a ReportType.\";s:4:\"type\";s:6:\"string\";}s:13:\"systemManaged\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"True
  if this a system-managed job that cannot be modified by the user; otherwise false.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListJobsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Response
  message for ReportingService.ListJobs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"jobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  list of jobs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"A
  token to retrieve next page of results. Pass this value in the ListJobsRequest.page_token
  field in the subsequent call to `ListJobs` method to retrieve the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListReportTypesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Response
  message for ReportingService.ListReportTypes.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"A
  token to retrieve next page of results. Pass this value in the ListReportTypesRequest.page_token
  field in the subsequent call to `ListReportTypes` method to retrieve the next page
  of results.\";s:4:\"type\";s:6:\"string\";}s:11:\"reportTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  list of report types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ReportType\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListReportsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Response
  message for ReportingService.ListReports.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"A
  token to retrieve next page of results. Pass this value in the ListReportsRequest.page_token
  field in the subsequent call to `ListReports` method to retrieve the next page of
  results.\";s:4:\"type\";s:6:\"string\";}s:7:\"reports\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  list of report types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Report\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Media\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Media
  resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"resourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Name
  of the media resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Report\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"A
  report's metadata including the URL from which the report itself can be downloaded.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"createTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  date/time when this report was created.\";s:4:\"type\";s:6:\"string\";}s:11:\"downloadUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  URL from which the report can be downloaded (max. 1000 characters).\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  end of the time period that the report instance covers. The value is exclusive.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  server-generated ID of the report.\";s:4:\"type\";s:6:\"string\";}s:13:\"jobExpireTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  date/time when the job this report belongs to will expire/expired.\";s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  ID of the job that created this report.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  start of the time period that the report instance covers. The value is inclusive.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ReportType\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"A
  report type.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"deprecateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  date/time when this report type was/will be deprecated.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  ID of the report type (max. 100 characters).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  name of the report type (max. 100 characters).\";s:4:\"type\";s:6:\"string\";}s:13:\"systemManaged\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"True
  if this a system-managed report type; otherwise false. Reporting jobs for system-managed
  report types are created automatically and can thus not be used in the `CreateJob`
  method.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}"
...
