---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:67:\"Gets
  the delivery status of titles for Google Play Movies Partners.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"Creative
  Commons Attribution 3.0\";s:3:\"url\";s:43:\"http://creativecommons.org/licenses/by/3.0/\";}s:14:\"termsOfService\";s:36:\"https://developers.google.com/terms/\";s:5:\"title\";s:26:\"Google
  Play Movies Partner\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:67:\"https://playmoviespartner.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:17:\"playmoviespartner\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"google_playmoviespartner\";s:4:\"type\";s:7:\"openapi\";}}"
host: playmoviespartner.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:5:\"Avail\";O:8:\"stdClass\":3:{s:11:\"description\";s:345:\"An
  Avail describes the Availability Window of a specific Edit in a given\ncountry,
  which means the period Google is allowed to sell or rent the Edit.\n\nAvails are
  exposed in EMA format Version 1.6b (available at\nhttp://www.movielabs.com/md/avails/)\n\nStudios
  can see the Avails for the Titles they own.\nPost-production houses cannot see any
  Avails.\";s:10:\"properties\";O:8:\"stdClass\":33:{s:5:\"altId\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Other
  identifier referring to the Edit, as defined by partner.\nExample: \"GOOGLER_2006\"\";s:4:\"type\";s:6:\"string\";}s:7:\"availId\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"ID
  internally generated by Google to uniquely identify an Avail.\nNot part of EMA Specs.\";s:4:\"type\";s:6:\"string\";}s:16:\"captionExemption\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Communicating
  an exempt category as defined by FCC regulations.\nIt is not required for non-US
  Avails.\nExample: \"1\"\";s:4:\"type\";s:6:\"string\";}s:15:\"captionIncluded\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Communicating
  if caption file will be delivered.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"contentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Title
  Identifier. This should be the Title Level EIDR.\nExample: \"10.5240/1489-49A2-3956-4B2D-FE16-5\".\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"The
  name of the studio that owns the Edit referred in the Avail.\nThis is the equivalent
  of `studio_name` in other resources, but it follows\nthe EMA nomenclature.\nExample:
  \"Google Films\".\";s:4:\"type\";s:6:\"string\";}s:8:\"encodeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Manifestation
  Identifier. This should be the Manifestation\nLevel EIDR.\nExample: \"10.2340/1489-49A2-3956-4B2D-FE16-7\"\";s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"End
  of term in YYYY-MM-DD format in the timezone of the country\nof the Avail.\n\"Open\"
  if no end date is available.\nExample: \"2019-02-17\"\";s:4:\"type\";s:6:\"string\";}s:12:\"episodeAltId\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Other
  identifier referring to the episode, as defined by partner.\nOnly available on TV
  avails.\nExample: \"rs_googlers_s1_3\".\";s:4:\"type\";s:6:\"string\";}s:13:\"episodeNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  number assigned to the episode within a season.\nOnly available on TV Avails.\nExample:
  \"3\".\";s:4:\"type\";s:6:\"string\";}s:25:\"episodeTitleInternalAlias\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"OPTIONAL.TV
  Only. Title used by involved parties to refer to this episode.\nOnly available on
  TV Avails.\nExample: \"Coding at Google\".\";s:4:\"type\";s:6:\"string\";}s:13:\"formatProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Indicates
  the format profile covered by the transaction.\";s:4:\"enum\";a:4:{i:0;s:26:\"FORMAT_PROFILE_UNSPECIFIED\";i:1;s:2:\"SD\";i:2;s:2:\"HD\";i:3;s:3:\"UHD\";}s:4:\"type\";s:6:\"string\";}s:11:\"licenseType\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Type
  of transaction.\";s:4:\"enum\";a:5:{i:0;s:24:\"LICENSE_TYPE_UNSPECIFIED\";i:1;s:3:\"EST\";i:2;s:3:\"VOD\";i:3;s:4:\"SVOD\";i:4;s:5:\"POEST\";}s:4:\"type\";s:6:\"string\";}s:8:\"pphNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Name
  of the post-production houses that manage the Avail.\nNot part of EMA Specs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"priceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"Type
  of pricing that should be applied to this Avail\nbased on how the partner classify
  them.\nExample: \"Tier\", \"WSP\", \"SRP\", or \"Category\".\";s:4:\"type\";s:6:\"string\";}s:10:\"priceValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Value
  to be applied to the pricing type.\nExample: \"4\" or \"2.99\"\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Edit
  Identifier. This should be the Edit Level EIDR.\nExample: \"10.2340/1489-49A2-3956-4B2D-FE16-6\"\";s:4:\"type\";s:6:\"string\";}s:12:\"ratingReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:210:\"Value
  representing the rating reason.\nRating reasons should be formatted as per\n[EMA
  ratings spec](http://www.movielabs.com/md/ratings/)\nand comma-separated for inclusion
  of multiple reasons.\nExample: \"L, S, V\"\";s:4:\"type\";s:6:\"string\";}s:12:\"ratingSystem\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"Rating
  system applied to the version of title within territory\nof Avail.\nRating systems
  should be formatted as per\n[EMA ratings spec](http://www.movielabs.com/md/ratings/)\nExample:
  \"MPAA\"\";s:4:\"type\";s:6:\"string\";}s:11:\"ratingValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Value
  representing the rating.\nRatings should be formatted as per http://www.movielabs.com/md/ratings/\nExample:
  \"PG\"\";s:4:\"type\";s:6:\"string\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"Release
  date of the Title in earliest released territory.\nTypically it is just the year,
  but it is free-form as per EMA spec.\nExamples: \"1979\", \"Oct 2014\"\";s:4:\"type\";s:6:\"string\";}s:11:\"seasonAltId\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Other
  identifier referring to the season, as defined by partner.\nOnly available on TV
  avails.\nExample: \"rs_googlers_s1\".\";s:4:\"type\";s:6:\"string\";}s:12:\"seasonNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  number assigned to the season within a series.\nOnly available on TV Avails.\nExample:
  \"1\".\";s:4:\"type\";s:6:\"string\";}s:24:\"seasonTitleInternalAlias\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Title
  used by involved parties to refer to this season.\nOnly available on TV Avails.\nExample:
  \"Googlers, The\".\";s:4:\"type\";s:6:\"string\";}s:11:\"seriesAltId\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Other
  identifier referring to the series, as defined by partner.\nOnly available on TV
  avails.\nExample: \"rs_googlers\".\";s:4:\"type\";s:6:\"string\";}s:24:\"seriesTitleInternalAlias\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Title
  used by involved parties to refer to this series.\nOnly available on TV Avails.\nExample:
  \"Googlers, The\".\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Start
  of term in YYYY-MM-DD format in the timezone of the\ncountry of the Avail.\nExample:
  \"2013-05-14\".\";s:4:\"type\";s:6:\"string\";}s:13:\"storeLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Spoken
  language of the intended audience.\nLanguage shall be encoded in accordance with
  RFC 5646.\nExample: \"fr\".\";s:4:\"type\";s:6:\"string\";}s:19:\"suppressionLiftDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:246:\"First
  date an Edit could be publically announced as becoming\navailable at a specific
  future date in territory of Avail.\n*Not* the Avail start date or pre-order start
  date.\nFormat is YYYY-MM-DD.\nOnly available for pre-orders.\nExample: \"2012-12-10\"\";s:4:\"type\";s:6:\"string\";}s:9:\"territory\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"ISO
  3166-1 alpha-2 country code for the country or territory\nof this Avail.\nFor Avails,
  we use Territory in lieu of Country to comply with\nEMA specifications.\nBut please
  note that Territory and Country identify the same thing.\nExample: \"US\".\";s:4:\"type\";s:6:\"string\";}s:18:\"titleInternalAlias\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Title
  used by involved parties to refer to this content.\nExample: \"Googlers, The\".\nOnly
  available on Movie Avails.\";s:4:\"type\";s:6:\"string\";}s:7:\"videoId\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"Google-generated
  ID identifying the video linked to this Avail, once\ndelivered.\nNot part of EMA
  Specs.\nExample: 'gtry456_xc'\";s:4:\"type\";s:6:\"string\";}s:8:\"workType\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Work
  type as enumerated in EMA.\";s:4:\"enum\";a:5:{i:0;s:22:\"TITLE_TYPE_UNSPECIFIED\";i:1;s:5:\"MOVIE\";i:2;s:6:\"SEASON\";i:3;s:7:\"EPISODE\";i:4;s:6:\"BUNDLE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListAvailsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Response
  to the 'ListAvails' method.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"avails\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of Avails that match the request criteria.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Avail\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"See
  _List methods rules_ for info about this field.\";s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"See
  _List methods rules_ for more information about this field.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListOrdersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Response
  to the 'ListOrders' method.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"See
  _List methods rules_ for info about this field.\";s:4:\"type\";s:6:\"string\";}s:6:\"orders\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of Orders that match the request criteria.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Order\";}s:4:\"type\";s:5:\"array\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"See
  _List methods rules_ for more information about this field.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListStoreInfosResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Response
  to the 'ListStoreInfos' method.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"See
  'List methods rules' for info about this field.\";s:4:\"type\";s:6:\"string\";}s:10:\"storeInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"List
  of StoreInfos that match the request criteria.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/StoreInfo\";}s:4:\"type\";s:5:\"array\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"See
  _List methods rules_ for more information about this field.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Order\";O:8:\"stdClass\":3:{s:11:\"description\";s:282:\"An
  Order tracks the fulfillment of an Edit when delivered using the\nlegacy, non-component-based
  delivery.\n\nEach Order is uniquely identified by an `order_id`, which is generated\nby
  Google.\n\nExternally, Orders can also be identified by partners using its `custom_id`\n(when
  provided).\";s:10:\"properties\";O:8:\"stdClass\":23:{s:12:\"approvedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Timestamp
  when the Order was approved.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"channelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"YouTube
  Channel ID that should be used to fulfill the Order.\nExample: \"UCRG64darCZhb\".\";s:4:\"type\";s:6:\"string\";}s:11:\"channelName\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"YouTube
  Channel Name that should be used to fulfill the Order.\nExample: \"Google_channel\".\";s:4:\"type\";s:6:\"string\";}s:9:\"countries\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Countries
  where the Order is available,\nusing the \"ISO 3166-1 alpha-2\" format (example:
  \"US\").\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"customId\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"ID
  that can be used to externally identify an Order.\nThis ID is provided by partners
  when submitting the Avails.\nExample: 'GOOGLER_2006'\";s:4:\"type\";s:6:\"string\";}s:22:\"earliestAvailStartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Timestamp
  of the earliest start date of the Avails\nlinked to this Order.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"episodeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Default
  Episode name,\nusually in the language of the country of origin.\nOnly available
  for TV Edits\nExample: \"Googlers, The - Pilot\".\";s:4:\"type\";s:6:\"string\";}s:14:\"legacyPriority\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Legacy
  Order priority, as defined by Google.\nExample: 'P0'\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Default
  Edit name,\nusually in the language of the country of origin.\nExample: \"Googlers,
  The\".\";s:4:\"type\";s:6:\"string\";}s:18:\"normalizedPriority\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  simpler representation of the priority.\";s:4:\"enum\";a:3:{i:0;s:31:\"NORMALIZED_PRIORITY_UNSPECIFIED\";i:1;s:12:\"LOW_PRIORITY\";i:2;s:13:\"HIGH_PRIORITY\";}s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"ID
  internally generated by Google to uniquely identify an Order.\nExample: 'abcde12_x'\";s:4:\"type\";s:6:\"string\";}s:11:\"orderedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Timestamp
  when the Order was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"pphName\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Name
  of the post-production house that manages the Edit ordered.\";s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Order
  priority, as defined by Google.\nThe higher the value, the higher the priority.\nExample:
  90\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"receivedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Timestamp
  when the Order was fulfilled.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:13:\"rejectionNote\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Field
  explaining why an Order has been rejected.\nExample: \"Trailer audio is 2ch mono,
  please re-deliver in stereo\".\";s:4:\"type\";s:6:\"string\";}s:10:\"seasonName\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"Default
  Season name,\nusually in the language of the country of origin.\nOnly available
  for TV Edits\nExample: \"Googlers, The - A Brave New World\".\";s:4:\"type\";s:6:\"string\";}s:8:\"showName\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Default
  Show name,\nusually in the language of the country of origin.\nOnly available for
  TV Edits\nExample: \"Googlers, The\".\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"High-level
  status of the order.\";s:4:\"enum\";a:6:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:15:\"STATUS_APPROVED\";i:2;s:13:\"STATUS_FAILED\";i:3;s:17:\"STATUS_PROCESSING\";i:4;s:18:\"STATUS_UNFULFILLED\";i:5;s:20:\"STATUS_NOT_AVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:12:\"statusDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Detailed
  status of the order\";s:4:\"enum\";a:9:{i:0;s:24:\"ORDER_STATUS_UNSPECIFIED\";i:1;s:24:\"ORDER_STATUS_QC_APPROVED\";i:2;s:25:\"ORDER_STATUS_QC_REJECTION\";i:3;s:25:\"ORDER_STATUS_INTERNAL_FIX\";i:4;s:23:\"ORDER_STATUS_OPEN_ORDER\";i:5;s:26:\"ORDER_STATUS_NOT_AVAILABLE\";i:6;s:32:\"ORDER_STATUS_AWAITING_REDELIVERY\";i:7;s:25:\"ORDER_STATUS_READY_FOR_QC\";i:8;s:28:\"ORDER_STATUS_FILE_PROCESSING\";}s:4:\"type\";s:6:\"string\";}s:10:\"studioName\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Name
  of the studio that owns the Edit ordered.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Type
  of the Edit linked to the Order.\";s:4:\"enum\";a:5:{i:0;s:22:\"TITLE_TYPE_UNSPECIFIED\";i:1;s:5:\"MOVIE\";i:2;s:6:\"SEASON\";i:3;s:7:\"EPISODE\";i:4;s:6:\"BUNDLE\";}s:4:\"type\";s:6:\"string\";}s:7:\"videoId\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Google-generated
  ID identifying the video linked to this Order, once\ndelivered.\nExample: 'gtry456_xc'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"StoreInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:322:\"Information
  about a playable sequence (video) associated with an Edit\nand available at the
  Google Play Store.\n\nInternally, each StoreInfo is uniquely identified by a `video_id`\nand
  `country`.\n\nExternally, Title-level EIDR or Edit-level EIDR, if provided,\ncan
  also be used to identify a specific title or edit in a country.\";s:10:\"properties\";O:8:\"stdClass\":25:{s:11:\"audioTracks\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Audio
  tracks available for this Edit.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Country
  where Edit is available in ISO 3166-1 alpha-2 country\ncode.\nExample: \"US\".\";s:4:\"type\";s:6:\"string\";}s:13:\"editLevelEidr\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Edit-level
  EIDR ID.\nExample: \"10.5240/1489-49A2-3956-4B2D-FE16-6\".\";s:4:\"type\";s:6:\"string\";}s:13:\"episodeNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  number assigned to the episode within a season.\nOnly available on TV Edits.\nExample:
  \"1\".\";s:4:\"type\";s:6:\"string\";}s:10:\"hasAudio51\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Whether
  the Edit has a 5.1 channel audio track.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"hasEstOffer\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Whether
  the Edit has a EST offer.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"hasHdOffer\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Whether
  the Edit has a HD offer.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"hasInfoCards\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Whether
  the Edit has info cards.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"hasSdOffer\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Whether
  the Edit has a SD offer.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"hasVodOffer\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Whether
  the Edit has a VOD offer.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"liveTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Timestamp
  when the Edit went live on the Store.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:3:\"mid\";O:8:\"stdClass\":2:{s:11:\"description\";s:276:\"Knowledge
  Graph ID associated to this Edit, if available.\nThis ID links the Edit to its knowledge
  entity, externally accessible\nat http://freebase.com.\nIn the absense of Title
  EIDR or Edit EIDR, this ID helps link together\nmultiple Edits across countries.\nExample:
  '/m/0ffx29'\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Default
  Edit name, usually in the language of the country of\norigin.\nExample: \"Googlers,
  The\".\";s:4:\"type\";s:6:\"string\";}s:8:\"pphNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Name
  of the post-production houses that manage the Edit.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"seasonId\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Google-generated
  ID identifying the season linked to the Edit.\nOnly available for TV Edits.\nExample:
  'ster23ex'\";s:4:\"type\";s:6:\"string\";}s:10:\"seasonName\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"Default
  Season name, usually in the language of the country of\norigin.\nOnly available
  for TV Edits\nExample: \"Googlers, The - A Brave New World\".\";s:4:\"type\";s:6:\"string\";}s:12:\"seasonNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  number assigned to the season within a show.\nOnly available on TV Edits.\nExample:
  \"1\".\";s:4:\"type\";s:6:\"string\";}s:6:\"showId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Google-generated
  ID identifying the show linked to the Edit.\nOnly available for TV Edits.\nExample:
  'et2hsue_x'\";s:4:\"type\";s:6:\"string\";}s:8:\"showName\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Default
  Show name, usually in the language of the country of\norigin.\nOnly available for
  TV Edits\nExample: \"Googlers, The\".\";s:4:\"type\";s:6:\"string\";}s:10:\"studioName\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Name
  of the studio that owns the Edit ordered.\";s:4:\"type\";s:6:\"string\";}s:9:\"subtitles\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Subtitles
  available for this Edit.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"titleLevelEidr\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Title-level
  EIDR ID.\nExample: \"10.5240/1489-49A2-3956-4B2D-FE16-5\".\";s:4:\"type\";s:6:\"string\";}s:9:\"trailerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Google-generated
  ID identifying the trailer linked to the Edit.\nExample: 'bhd_4e_cx'\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Edit
  type, like Movie, Episode or Season.\";s:4:\"enum\";a:5:{i:0;s:22:\"TITLE_TYPE_UNSPECIFIED\";i:1;s:5:\"MOVIE\";i:2;s:6:\"SEASON\";i:3;s:7:\"EPISODE\";i:4;s:6:\"BUNDLE\";}s:4:\"type\";s:6:\"string\";}s:7:\"videoId\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Google-generated
  ID identifying the video linked to the Edit.\nExample: 'gtry456_xc'\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
