---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:18:\"developers@flat.io\";s:4:\"name\";s:4:\"Flat\";s:3:\"url\";s:36:\"https://flat.io/developers/docs/api/\";}s:11:\"description\";s:1598:\"The
  Flat API allows you to easily extend the abilities of the [Flat Platform](https://flat.io),
  with a wide range of use cases including the following:\n\n* Creating and importing
  new music scores using MusicXML or MIDI files\n* Browsing, updating, copying, exporting
  the user's scores (for example in MP3, WAV or MIDI)\n* Managing educational resources
  with Flat for Education: creating & updating the organization accounts, the classes,
  rosters and assignments.\n\nThe Flat API is built on HTTP. Our API is RESTful It
  has predictable resource URLs. It returns HTTP response codes to indicate errors.
  It also accepts and returns JSON in the HTTP body.\nThe [schema](/swagger.yaml)
  of this API follows the [OpenAPI Initiative (OAI) specification](https://www.openapis.org/),
  you can use and work with [compatible Swagger tools](http://swagger.io/open-source-integrations/).\nThis
  API features Cross-Origin Resource Sharing (CORS) implemented in compliance with
  [W3C spec](https://www.w3.org/TR/cors/).\n\nYou can use your favorite HTTP/REST
  library for your programming language to use Flat's API. This specification and
  reference is [available on Github](https://github.com/FlatIO/api-reference).\n\nGetting
  Started and learn more:\n\n* [API Overview and interoduction](https://flat.io/developers/docs/api/)\n*
  [Authentication (Personal Access Tokens or OAuth2)](https://flat.io/developers/docs/api/authentication.html)\n*
  [SDKs](https://flat.io/developers/docs/api/sdks.html)\n* [Rate Limits](https://flat.io/developers/docs/api/rate-limits.html)\n*
  [Changelog](https://flat.io/developers/docs/api/changelog.html)\n\";s:14:\"termsOfService\";s:21:\"https://flat.io/legal\";s:5:\"title\";s:4:\"Flat\";s:7:\"version\";s:5:\"2.3.0\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"media\";i:1;s:13:\"collaboration\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:67:\"https://api.apis.guru/v2/cache/logo/https_flat.io_img_logo-flat.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:79:\"https://raw.githubusercontent.com/FlatIO/api-reference/master/spec/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"flat.io\";}"
host: api.flat.io
basePath: /v2
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":58:{s:10:\"Assignment\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Assignment
  details\";s:7:\"example\";O:8:\"stdClass\":11:{s:11:\"attachments\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"score\";s:16:\"0000000000000000\";s:4:\"type\";s:4:\"flat\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"link\";s:3:\"url\";s:26:\"https://flat.io/developers\";}i:2;O:8:\"stdClass\":10:{s:10:\"authorName\";s:4:\"Flat\";s:9:\"authorUrl\";s:56:\"https://www.youtube.com/channel/UCEUIbEP9Rba_g0r4eeGhmXw\";s:11:\"description\";s:32:\"Discover
  Flat on https://flat.io\";s:4:\"html\";s:122:\"<iframe width=\"560\" height=\"315\"
  src=\"https://www.youtube.com/embed/SNbRUiBZ4Uw\" frameborder=\"0\" allowfullscreen></iframe>\";s:15:\"thumbnailHeight\";i:1052;s:12:\"thumbnailUrl\";s:52:\"https://i.ytimg.com/vi/SNbRUiBZ4Uw/maxresdefault.jpg\";s:14:\"thumbnailWidth\";i:1868;s:5:\"title\";s:55:\"Flat
  - The online collaborative music notation software\";s:4:\"type\";s:5:\"video\";s:3:\"url\";s:43:\"https://www.youtube.com/watch?v=SNbRUiBZ4Uw\";}}s:9:\"classroom\";s:24:\"58c4725345cd836264f0b29e\";s:12:\"creationDate\";s:24:\"2017-06-12T13:56:19.613Z\";s:7:\"creator\";s:24:\"5832bf149995c4024bd6de7d\";s:11:\"description\";s:21:\"Get
  started with Flat\";s:7:\"dueDate\";s:24:\"2017-07-12T13:56:19.613Z\";s:15:\"googleClassroom\";O:8:\"stdClass\":2:{s:13:\"alternateLink\";s:68:\"http://classroom.google.com/c/music-theory/a/first-assignment/detail\";s:2:\"id\";s:10:\"1235665432\";}s:13:\"scheduledDate\";s:24:\"2017-06-18T13:56:19.613Z\";s:5:\"state\";s:6:\"active\";s:11:\"submissions\";a:1:{i:0;O:8:\"stdClass\":8:{s:10:\"assignment\";s:24:\"58c49068524c03ec576ca43c\";s:11:\"attachments\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"score\";s:24:\"58c4955a226ffff257211a8d\";s:5:\"title\";s:15:\"Hello
  - Student\";s:4:\"type\";s:4:\"flat\";}}s:9:\"classroom\";s:24:\"58c4725345cd836264f0b29e\";s:12:\"creationDate\";s:24:\"2017-03-12T00:25:00.748Z\";s:7:\"creator\";s:24:\"559eb5c7f0d4d5e46d03781d\";s:15:\"googleClassroom\";O:8:\"stdClass\":3:{s:13:\"alternateLink\";s:95:\"http://classroom.google.com/c/music-theory/a/first-assignment/submissions/student/my-submission\";s:2:\"id\";s:16:\"CgsI-00000000000\";s:5:\"state\";s:9:\"turned_in\";}s:2:\"id\";s:24:\"58c4955c226ffff257211a90\";s:14:\"submissionDate\";s:24:\"2017-03-12T00:25:22.748Z\";}}s:5:\"title\";s:19:\"My
  first assignment\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MediaAttachment\";}s:4:\"type\";s:5:\"array\";}s:9:\"classroom\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  unique identifier of the class where this assignment was posted\";s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  creation date of this assignment\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"creator\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  User unique identifier of the creator of this assignment\n\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Description
  and content of the assignment\";s:4:\"type\";s:6:\"string\";}s:7:\"dueDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  due date of this assignment, late submissions will be marked as\npaste due.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"googleClassroom\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GoogleClassroomCoursework\";}s:13:\"scheduledDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"The
  publication (scheduled) date of the assignment.\nIf this one is specified, the assignment
  will only be listed to the teachers of the class.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"State
  of the assignment\";s:4:\"enum\";a:3:{i:0;s:5:\"draft\";i:1;s:6:\"active\";i:2;s:8:\"archived\";}s:4:\"type\";s:6:\"string\";}s:11:\"submissions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AssignmentSubmission\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Title
  of the assignment\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AssignmentCopy\";O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"Assignment
  copy operation\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"classroom\";s:16:\"0000000000000000\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"classroom\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  destination classroom where the assignment will be copied\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"classroom\";}s:4:\"type\";s:6:\"object\";}s:18:\"AssignmentCreation\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Assignment
  creation details\";s:7:\"example\";O:8:\"stdClass\":5:{s:11:\"attachments\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"score\";s:16:\"0000000000000000\";s:4:\"type\";s:4:\"flat\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"link\";s:3:\"url\";s:26:\"https://flat.io/developers\";}}s:11:\"description\";s:21:\"Get
  started with Flat\";s:7:\"dueDate\";s:24:\"2017-07-12T13:56:19.613Z\";s:13:\"scheduledDate\";s:24:\"2017-06-20T13:56:19.613Z\";s:5:\"title\";s:16:\"First
  assignment\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ClassAttachmentCreation\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Description
  and content of the assignment\";s:4:\"type\";s:6:\"string\";}s:7:\"dueDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"The
  due date of this assignment, late submissions will be marked as paste due. If not
  set, the assignment won't have a due date.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"scheduledDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"The
  publication (scheduled) date of the assignment.\nIf this one is specified, the assignment
  will only be listed to the teachers of the class.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Title
  of the assignment\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AssignmentSubmission\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Assignment
  Submission\";s:7:\"example\";O:8:\"stdClass\":8:{s:10:\"assignment\";s:24:\"58c49068524c03ec576ca43c\";s:11:\"attachments\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"score\";s:24:\"58c4955a226ffff257211a8d\";s:5:\"title\";s:15:\"Hello
  - Student\";s:4:\"type\";s:4:\"flat\";}}s:9:\"classroom\";s:24:\"58c4725345cd836264f0b29e\";s:12:\"creationDate\";s:24:\"2017-03-12T00:25:00.748Z\";s:7:\"creator\";s:24:\"559eb5c7f0d4d5e46d03781d\";s:15:\"googleClassroom\";O:8:\"stdClass\":3:{s:13:\"alternateLink\";s:95:\"http://classroom.google.com/c/music-theory/a/first-assignment/submissions/student/my-submission\";s:2:\"id\";s:16:\"CgsI-00000000000\";s:5:\"state\";s:9:\"turned_in\";}s:2:\"id\";s:24:\"58c4955c226ffff257211a90\";s:14:\"submissionDate\";s:24:\"2017-03-12T00:25:22.748Z\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"assignment\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Unique
  identifier of the assignment\";s:4:\"type\";s:6:\"string\";}s:11:\"attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MediaAttachment\";}s:4:\"type\";s:5:\"array\";}s:9:\"classroom\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Unique
  identifier of the classroom where the assignment was posted\n\";s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  date when the submission was created\";s:4:\"type\";s:6:\"string\";}s:7:\"creator\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  User identifier of the student who created the submission\";s:4:\"type\";s:6:\"string\";}s:15:\"googleClassroom\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GoogleClassroomSubmission\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Unique
  identifier of the submission\";s:4:\"type\";s:6:\"string\";}s:13:\"returnCreator\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  User unique identifier of the teacher who returned the submission\n\";s:4:\"type\";s:6:\"string\";}s:10:\"returnDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  date when the teacher returned the work\";s:4:\"type\";s:6:\"string\";}s:14:\"returnFeedback\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  feedback associated with the return\";s:4:\"type\";s:6:\"string\";}s:14:\"studentComment\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"An
  optionnal comment sent by the student when submitting his work\n\";s:4:\"type\";s:6:\"string\";}s:14:\"submissionDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  date when the student submitted his work\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"AssignmentSubmissionUpdate\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Assignment
  Submission creation\";s:7:\"example\";O:8:\"stdClass\":3:{s:11:\"attachments\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"score\";s:24:\"58c4955a226ffff257211a8d\";s:5:\"title\";s:15:\"Hello
  - Student\";s:4:\"type\";s:4:\"flat\";}}s:14:\"studentComment\";s:25:\"Here is my
  great creation\";s:6:\"submit\";b:1;}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ClassAttachmentCreation\";}s:4:\"type\";s:5:\"array\";}s:14:\"returnFeedback\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  feedback associated with the return\";s:4:\"type\";s:6:\"string\";}s:14:\"studentComment\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"An
  optionnal comment sent by the student when submitting his work\n\";s:4:\"type\";s:6:\"string\";}s:6:\"submit\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"If
  `true`, the submission will be marked as done\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ClassAttachmentCreation\";O:8:\"stdClass\":4:{s:11:\"description\";s:232:\"Attachment
  creation for an assignment or stream post.\nThis attachment must contain a `score`
  or an `url`, all the details of this one will be resolved and returned as `ClassAttachment`
  once the assignment or stream post is created.\n\";s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"score\";s:18:\"000000000000000001\";s:11:\"sharingMode\";s:4:\"copy\";s:4:\"type\";s:4:\"flat\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"score\";O:8:\"stdClass\":2:{s:11:\"description\";s:237:\"A
  unique Flat score identifier. The user creating the assignment must at least have
  read access to the document. If the user has admin rights, new group permissions
  will be automatically added for the\nteachers and students of the class.\n\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  type of the attachment posted\";s:4:\"enum\";a:3:{i:0;s:4:\"flat\";i:1;s:4:\"link\";i:2;s:8:\"exercise\";}s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  URL of the attachment.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ClassCreation\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Creation
  of a classroom\";s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"Music Theory
  Course\";s:7:\"section\";s:16:\"Music Theory 101\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the new class\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:7:\"section\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  section of the new class\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:12:\"ClassDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"A
  classroom\";s:7:\"example\";O:8:\"stdClass\":14:{s:16:\"assignmentsCount\";i:10;s:6:\"canvas\";O:8:\"stdClass\":1:{s:2:\"id\";s:9:\"000000000\";}s:12:\"creationTime\";s:24:\"2017-01-25T09:47:34.544Z\";s:14:\"enrollmentCode\";s:8:\"jm447ear\";s:15:\"googleClassroom\";O:8:\"stdClass\":6:{s:13:\"alternateLink\";s:42:\"http://classroom.google.com/c/music-theory\";s:12:\"creationTime\";s:24:\"2017-01-25T09:47:34.544Z\";s:2:\"id\";s:8:\"00000000\";s:4:\"name\";s:16:\"Music
  Theory 101\";s:7:\"ownerId\";s:16:\"0000000000424242\";s:10:\"updateTime\";s:24:\"2017-01-25T09:47:33.481Z\";}s:11:\"googleDrive\";O:8:\"stdClass\":2:{s:26:\"teacherFolderAlternateLink\";s:58:\"https://drive.google.com/drive/folders/0B-0000000000000000\";s:15:\"teacherFolderId\";s:19:\"0B-0000000000000000\";}s:2:\"id\";s:24:\"100000000000000000000001\";s:3:\"lti\";O:8:\"stdClass\":3:{s:9:\"contextId\";s:3:\"042\";s:12:\"contextLabel\";s:5:\"MUSIC\";s:12:\"contextTitle\";s:16:\"Music
  Theory 101\";}s:4:\"name\";s:16:\"Music Theory 101\";s:12:\"organization\";s:24:\"100000000000000000000002\";s:5:\"owner\";s:24:\"100000000000000000000003\";s:7:\"section\";s:16:\"Music
  Theory 101\";s:5:\"state\";s:6:\"active\";s:5:\"theme\";s:6:\"blue-8\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:16:\"assignmentsCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  number of assignments created in the class\";s:4:\"type\";s:6:\"number\";}s:6:\"canvas\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Meta
  information provided by Canvs LMS\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Canvas
  instance domain (e.g. \"canvas.instructure.com\")\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Unique
  identifier of the course on Canvas\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"clever\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Clever.com
  section-related information\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  creation date of the section on clever\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Clever
  section unique identifier\";s:4:\"type\";s:6:\"string\";}s:16:\"modificationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  last modification date of the section on clever\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Normalized
  subject of the course\";s:4:\"enum\";a:11:{i:0;s:21:\"english/language arts\";i:1;s:4:\"math\";i:2;s:7:\"science\";i:3;s:14:\"social
  studies\";i:4;s:8:\"language\";i:5;s:17:\"homeroom/advisory\";i:6;s:29:\"interventions/online
  learning\";i:7;s:26:\"technology and engineering\";i:8;s:13:\"PE and health\";i:9;s:14:\"arts
  and music\";i:10;s:5:\"other\";}s:4:\"type\";s:6:\"string\";}s:11:\"termEndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"End
  date of the term\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"termName\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Name
  of the term when this course happens\";s:4:\"type\";s:6:\"string\";}s:13:\"termStartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Beginning
  date of the term\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  date when the class was create\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"An
  optionnal description for this class\";s:4:\"type\";s:6:\"string\";}s:14:\"enrollmentCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"[Teachers
  only] The enrollment code that can be used by the students to join the class\n\";s:4:\"type\";s:6:\"string\";}s:15:\"googleClassroom\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Google
  Classroom course-related information\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"alternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Absolute
  link to this course in the Classroom web UI\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  course identifier on Google Classroom\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  name of the course on Google Classroom\";s:4:\"type\";s:6:\"string\";}s:7:\"section\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  section of the course on Google Classroom\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"googleDrive\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Google
  Drive course-related information provided by Google Classroom\";s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"teacherFolderAlternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"[Teachers
  only] The Drive URL of the teachers' folder\n\";s:4:\"type\";s:6:\"string\";}s:15:\"teacherFolderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"[Teachers
  only] The Drive directory identifier of the teachers' folder\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  unique identifier of the class\";s:4:\"type\";s:6:\"string\";}s:3:\"lti\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Meta
  information provided by the LTI consumer\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"contextId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Unique
  context identifier provided\";s:4:\"type\";s:6:\"string\";}s:12:\"contextLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Context
  label\";s:4:\"type\";s:6:\"string\";}s:12:\"contextTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Context
  title\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the class\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  unique identifier of the Organization owning this class\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  unique identifier of the User owning this class\";s:4:\"type\";s:6:\"string\";}s:7:\"section\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  section of the class\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ClassState\";}s:13:\"studentsGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GroupDetails\";}s:13:\"teachersGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GroupDetails\";}s:5:\"theme\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  theme identifier using in Flat User Interface\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ClassRoles\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"User's
  Class Role (for Edu users only)\";s:4:\"enum\";a:2:{i:0;s:7:\"teacher\";i:1;s:7:\"student\";}s:4:\"type\";s:6:\"string\";}s:10:\"ClassState\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  state of a classroom\";s:4:\"enum\";a:3:{i:0;s:6:\"active\";i:1;s:8:\"inactive\";i:2;s:8:\"archived\";}s:4:\"type\";s:6:\"string\";}s:11:\"ClassUpdate\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Update
  of a classroom\";s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"Music Theory
  Course\";s:7:\"section\";s:16:\"Music Theory 101\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  name of the class\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:7:\"section\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  section of the class\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"FlatErrorResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"code\";s:12:\"CLIENT_ERROR\";s:2:\"id\";s:9:\"123456789\";s:7:\"message\";s:15:\"Invalid
  request\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"A
  corresponding code for this error\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"An
  unique error identifier generated for the request\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"A
  printable message for this message\";s:4:\"type\";s:6:\"string\";}s:5:\"param\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  related parameter that caused the error\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"FlatLocales\";O:8:\"stdClass\":4:{s:7:\"default\";s:2:\"en\";s:11:\"description\";s:17:\"The
  user language\";s:4:\"enum\";a:7:{i:0;s:2:\"en\";i:1;s:2:\"es\";i:2;s:2:\"fr\";i:3;s:2:\"it\";i:4;s:2:\"pl\";i:5;s:2:\"ro\";i:6;s:2:\"nl\";}s:4:\"type\";s:6:\"string\";}s:25:\"GoogleClassroomCoursework\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"A
  coursework on Google Classroom\";s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"alternateLink\";s:68:\"http://classroom.google.com/c/music-theory/a/first-assignment/detail\";s:2:\"id\";s:10:\"1235665432\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"alternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Absolute
  link to this coursework in the Classroom web UI\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Identifier
  of the coursework assigned by Classroom\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"State
  of the coursework\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GoogleClassroomSubmission\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"A
  coursework submission on Google Classroom\";s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"alternateLink\";s:95:\"http://classroom.google.com/c/music-theory/a/first-assignment/submissions/student/my-submission\";s:2:\"id\";s:16:\"CgsI-00000000000\";s:5:\"state\";s:9:\"turned_in\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"alternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Absolute
  link to this coursework in the Classroom web UI\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Identifier
  of the coursework submission assigned by Classroom\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"State
  of the submission on Google Classroom\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"A
  group of users\";s:7:\"example\";O:8:\"stdClass\":7:{s:12:\"creationDate\";s:24:\"2015-01-19T00:22:02.387Z\";s:2:\"id\";s:25:\"0000000000000000000000043\";s:4:\"name\";s:9:\"5th
  grade\";s:12:\"organization\";s:25:\"0000000000000000000000042\";s:8:\"readOnly\";b:1;s:4:\"type\";s:13:\"classTeachers\";s:9:\"userCount\";i:24;}s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  creation date of the group\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  unique identifier of the group\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  display name of the group\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"If
  the group is related to an organization, this field will contain\nthe unique identifier
  of the organization\n\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"`True`
  if the group is set in read-only\n\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:259:\"The
  type of the group:\n* `generic`: A group created by a Flat user\n* `classTeachers`:
  A group created automaticaly by Flat that contains\n  the teachers of a class\n*
  `classStudents`: A group created automaticaly by Flat that contains\n  the studnets
  of a class\n\";s:4:\"enum\";a:3:{i:0;s:7:\"generic\";i:1;s:13:\"classTeachers\";i:2;s:13:\"classStudents\";}s:4:\"type\";s:6:\"string\";}s:10:\"usersCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  number of users in this group\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"GroupDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  details of a group\";s:7:\"example\";O:8:\"stdClass\":7:{s:12:\"creationDate\";s:24:\"2017-07-02T15:02:40.207Z\";s:2:\"id\";s:24:\"58c4955c226ffff257211a00\";s:4:\"name\";s:20:\"5th
  Grade - Teachers\";s:12:\"organization\";s:25:\"0000000000000000000000042\";s:8:\"readOnly\";b:0;s:4:\"type\";s:13:\"classTeachers\";s:10:\"usersCount\";i:2;}s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  date when the group was create\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  unique identifier of the group\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  displayable name of the group\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  unique identifier of the Organization owning the group\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"`true`
  if the properties and members of this group are in in read-only\n\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GroupType\";}s:10:\"usersCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  number of students in this group\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"GroupType\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  type of the group\";s:4:\"enum\";a:3:{i:0;s:7:\"generic\";i:1;s:13:\"classTeachers\";i:2;s:13:\"classStudents\";}s:4:\"type\";s:6:\"string\";}s:11:\"LicenseMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Mode
  of the license\";s:4:\"enum\";a:2:{i:0;s:6:\"credit\";i:1;s:4:\"site\";}s:4:\"type\";s:6:\"string\";}s:14:\"LicenseSources\";O:8:\"stdClass\":4:{s:7:\"default\";s:5:\"order\";s:11:\"description\";s:21:\"Source
  of the license\";s:4:\"enum\";a:5:{i:0;s:5:\"order\";i:1;s:5:\"trial\";i:2;s:7:\"voucher\";i:3;s:11:\"distributor\";i:4;s:12:\"subscription\";}s:4:\"type\";s:6:\"string\";}s:7:\"LmsName\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"LMS
  name\";s:4:\"enum\";a:7:{i:0;s:6:\"canvas\";i:1;s:6:\"moodle\";i:2;s:9:\"schoology\";i:3;s:10:\"blackboard\";i:4;s:12:\"desire2learn\";i:5;s:5:\"sakai\";i:6;s:5:\"other\";}s:4:\"type\";s:6:\"string\";}s:14:\"LtiCredentials\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"A
  couple of LTI 1.x OAuth credentials\";s:7:\"example\";O:8:\"stdClass\":9:{s:11:\"consumerKey\";s:36:\"200082F5-FAFD-4C6E-BB19-7DAB5D6264D4\";s:14:\"consumerSecret\";s:64:\"168b6181c05eae14298176a274273e4ebef0d15555fe3e80c6a98ccd57d0c3b6\";s:12:\"creationDate\";s:24:\"2017-06-06T11:03:01.955Z\";s:7:\"creator\";s:24:\"5832bf149995c4024bd6de7d\";s:2:\"id\";s:24:\"59368be5c66caf895ee02387\";s:9:\"lastUsage\";s:24:\"2017-06-13T16:02:34.324Z\";s:3:\"lms\";s:6:\"canvas\";s:4:\"name\";s:35:\"My
  couple of credentials for Canvas\";s:12:\"organization\";s:24:\"5832c801a4bedc05f4fb4993\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"consumerKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"OAuth
  1 Consumer Key\";s:4:\"type\";s:6:\"string\";}s:14:\"consumerSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"OAuth
  1 Consumer Secret\";s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  creation date of thse credentials\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"creator\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Unique
  identifier of the user who created these credentials\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  unique identifier of this couple of credentials\";s:4:\"type\";s:6:\"string\";}s:9:\"lastUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  last time these credentials were used\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"lms\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LmsName\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Name
  of the couple of credentials\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  unique identifier of the Organization associated to these credentials\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"LtiCredentialsCreation\";O:8:\"stdClass\":5:{s:11:\"description\";s:49:\"Creation
  of a couple of LTI 1.x OAuth credentials\";s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"lms\";s:6:\"canvas\";s:4:\"name\";s:35:\"My
  couple of credentials for Canvas\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lms\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LmsName\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Name
  of the couple of credentials\";s:9:\"maxLength\";i:300;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:3:\"lms\";}s:4:\"type\";s:6:\"object\";}s:15:\"MediaAttachment\";O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"Media
  attachment. The API will automatically resolve the details, oEmbed,\nand media available
  if possible and return them in this object\n\";s:7:\"example\";O:8:\"stdClass\":10:{s:10:\"authorName\";s:4:\"Flat\";s:9:\"authorUrl\";s:56:\"https://www.youtube.com/channel/UCEUIbEP9Rba_g0r4eeGhmXw\";s:11:\"description\";s:32:\"Discover
  Flat on https://flat.io\";s:4:\"html\";s:122:\"<iframe width=\"560\" height=\"315\"
  src=\"https://www.youtube.com/embed/SNbRUiBZ4Uw\" frameborder=\"0\" allowfullscreen></iframe>\";s:15:\"thumbnailHeight\";i:1052;s:12:\"thumbnailUrl\";s:52:\"https://i.ytimg.com/vi/SNbRUiBZ4Uw/maxresdefault.jpg\";s:14:\"thumbnailWidth\";i:1868;s:5:\"title\";s:55:\"Flat
  - The online collaborative music notation software\";s:4:\"type\";s:5:\"video\";s:3:\"url\";s:43:\"https://www.youtube.com/watch?v=SNbRUiBZ4Uw\";}s:10:\"properties\";O:8:\"stdClass\":16:{s:10:\"authorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  resolved author name of the attachment\";s:4:\"type\";s:6:\"string\";}s:9:\"authorUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  resolved author url of the attachment\";s:4:\"type\";s:6:\"string\";}s:7:\"correct\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"If
  the attachment is an exercise question, this state will describe if it is correct
  or not.For exercise assignments only.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  resolved description of the attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"html\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"If
  the attachment type is `rich` or `video`, the HTML code of the\nmedia to display\n\";s:4:\"type\";s:6:\"string\";}s:10:\"htmlHeight\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"If
  the `html` is available, the height of the widget\";s:4:\"type\";s:6:\"string\";}s:9:\"htmlWidth\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"If
  the `html` is available, the width of the widget\";s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"An
  unique revision identifier of a score\";s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"An
  unique Flat score identifier\";s:4:\"type\";s:6:\"string\";}s:11:\"sharingMode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MediaScoreSharingMode\";}s:15:\"thumbnailHeight\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"If
  the `thumbnailUrl` is available, the width of the thumbnail\n\";s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"If
  the attachment type is `rich`, `video`, `photo` or `link`, a\ndisplayable thumbnail
  for this attachment\n\";s:4:\"type\";s:6:\"string\";}s:14:\"thumbnailWidth\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"If
  the `thumbnailUrl` is available, the width of the thumbnail\n\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  resolved title of the attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:321:\"The
  type of the assignment resolved:\n* `rich`, `photo`, `video` are attachment types
  that are automatically resolved from a `link` attachment.\n* A `flat` attachment
  is a score document where the unique identifier will be specified in the `score`
  property. Its sharing mode will be provided in the `sharingMode` property.\n\";s:4:\"enum\";a:6:{i:0;s:4:\"rich\";i:1;s:5:\"photo\";i:2;s:5:\"video\";i:3;s:4:\"link\";i:4;s:4:\"flat\";i:5;s:8:\"exercise\";}s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  url of the attachment\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"MediaScoreSharingMode\";O:8:\"stdClass\":4:{s:7:\"default\";s:4:\"read\";s:11:\"description\";s:62:\"The
  sharing mode of the score for classes post and assignments\";s:4:\"enum\";a:3:{i:0;s:4:\"read\";i:1;s:5:\"write\";i:2;s:4:\"copy\";}s:4:\"type\";s:6:\"string\";}s:22:\"OrganizationInvitation\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Details
  of an invitation to join an organization\";s:7:\"example\";O:8:\"stdClass\":7:{s:12:\"creationDate\";s:24:\"2017-07-02T15:05:15.576Z\";s:10:\"customCode\";s:8:\"u5raQ7pZ\";s:5:\"email\";s:11:\"edu@flat.io\";s:2:\"id\";s:23:\"59590bab53b1af260610000\";s:9:\"invitedBy\";s:24:\"55b8d8f395c8db031ed00000\";s:12:\"organization\";s:24:\"55df29a6694e4a3953100000\";s:16:\"organizationRole\";s:7:\"teacher\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"customCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Enrollment
  code to use when joining this organization\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  email address this invitation was sent to\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  invitation unique identifier\";s:4:\"type\";s:6:\"string\";}s:9:\"invitedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  unique identifier of the User who created this invitation\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  unique identifier of the Organization owning this class\";s:4:\"type\";s:6:\"string\";}s:16:\"organizationRole\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrganizationRoles\";}s:6:\"usedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  unique identifier of the User who used this invitation\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"OrganizationInvitationCreation\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  parameters to create an organization invitation\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"email\";s:11:\"edu@flat.io\";s:16:\"organizationRole\";s:7:\"teacher\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  email address you want to send the invitation to\";s:4:\"type\";s:6:\"string\";}s:16:\"organizationRole\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrganizationRoles\";}}s:4:\"type\";s:6:\"object\";}s:17:\"OrganizationRoles\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"User's
  Organization Role (for Edu users only)\";s:4:\"enum\";a:4:{i:0;s:5:\"admin\";i:1;s:7:\"billing\";i:2;s:7:\"teacher\";i:3;s:4:\"user\";}s:4:\"type\";s:6:\"string\";}s:17:\"ScoreCollaborator\";O:8:\"stdClass\":4:{s:11:\"description\";s:220:\"A
  collaborator of a score. The `userEmail` and `group` are only available if the requesting
  user is a collaborator of the related score (in this case these permissions will
  eventualy not be listed and exposed publicly).\n\";s:7:\"example\";O:8:\"stdClass\":6:{s:8:\"aclAdmin\";b:1;s:7:\"aclRead\";b:1;s:8:\"aclWrite\";b:1;s:2:\"id\";s:24:\"000000000000000000000031\";s:5:\"score\";s:24:\"000000000000000000000040\";s:9:\"userEmail\";s:16:\"user@example.com\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"aclAdmin\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:129:\"`True`
  if the related user can can manage the current document, i.e. changing the document
  permissions and deleting the document\n\";s:4:\"type\";s:7:\"boolean\";}s:7:\"aclRead\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:109:\"`True`
  if the related user can read the score. (probably true if the user has a permission
  on the document).\n\";s:4:\"type\";s:7:\"boolean\";}s:8:\"aclWrite\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:49:\"`True`
  if the related user can modify the score.\n\";s:4:\"type\";s:7:\"boolean\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  unique identifier of the score permission\";s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  unique identifier of the score\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UserPublic\";}s:9:\"userEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"If
  the collaborator is not a user of Flat yet, this field will contain his email.\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ScoreCollaboratorCreation\";O:8:\"stdClass\":4:{s:11:\"description\";s:220:\"A
  collaborator of a score. The `userEmail` and `group` are only available if the requesting
  user is a collaborator of the related score (in this case these permissions will
  eventualy not be listed and exposed publicly).\n\";s:7:\"example\";O:8:\"stdClass\":4:{s:8:\"aclAdmin\";b:0;s:7:\"aclRead\";b:1;s:8:\"aclWrite\";b:1;s:9:\"userEmail\";s:12:\"jdoe@flat.io\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"aclAdmin\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:129:\"`True`
  if the related user can can manage the current document, i.e. changing the document
  permissions and deleting the document\n\";s:4:\"type\";s:7:\"boolean\";}s:7:\"aclRead\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:109:\"`True`
  if the related user can read the score. (probably true if the user has a permission
  on the document).\n\";s:4:\"type\";s:7:\"boolean\";}s:8:\"aclWrite\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:49:\"`True`
  if the related user can modify the score.\n\";s:4:\"type\";s:7:\"boolean\";}s:5:\"group\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  unique identifier of a Flat group\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  unique identifier of a Flat user\";s:4:\"type\";s:6:\"string\";}s:9:\"userEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Fill
  this field to invite an individual user by email.\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ScoreComment\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Comment
  added on a sheet music\";s:7:\"example\";O:8:\"stdClass\":15:{s:7:\"comment\";s:44:\"@[000000000000000000000000:flat]
  Great work!\";s:7:\"context\";O:8:\"stdClass\":7:{s:12:\"measureUuids\";a:3:{i:0;s:36:\"e6a6a60b-8710-f819-9a49-e907b19c6f1f\";i:1;s:36:\"da83d93c-e3a6-3c73-1bbe-15e5131d6437\";i:2;s:36:\"056ec5eb-9213-df56-6ae8-d9b99673dc48\";}s:8:\"partUuid\";s:36:\"91982db7-2e6d-285e-7a19-76b4bd005b8b\";s:8:\"staffIdx\";i:0;s:8:\"startDpq\";i:1;s:12:\"startTimePos\";i:2;s:7:\"stopDpq\";i:1;s:11:\"stopTimePos\";i:3;}s:4:\"date\";s:24:\"2017-01-26T20:29:10.622Z\";s:2:\"id\";s:24:\"000000000000000000000010\";s:8:\"mentions\";a:1:{i:0;s:24:\"000000000000000000000000\";}s:16:\"modificationDate\";s:24:\"2017-01-26T21:29:10.622Z\";s:10:\"rawComment\";s:18:\"@flat:
  Great work!\";s:7:\"replyTo\";s:24:\"000000000000000000000000\";s:8:\"resolved\";b:1;s:10:\"resolvedBy\";s:24:\"000000000000000000000000\";s:8:\"revision\";s:24:\"000000000000000000000011\";s:5:\"score\";s:24:\"000000000000000000000042\";s:4:\"spam\";b:0;s:4:\"type\";s:6:\"inline\";s:4:\"user\";s:24:\"000000000000000000000001\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  comment text that can includes mentions using the following\nformat: `@[id:username]`.\n\";s:4:\"type\";s:6:\"string\";}s:7:\"context\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ScoreCommentContext\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  date when the comment was posted\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  comment unique identifier\";s:4:\"type\";s:6:\"string\";}s:8:\"mentions\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  list of user identifier mentioned on the score\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"modificationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  date of the last comment modification\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"rawComment\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"A
  raw version of the comment, that can be displayed without parsing\nthe mentions.\n\";s:4:\"type\";s:6:\"string\";}s:7:\"replyTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"When
  the comment is a reply to another comment, the unique identifier of the parent comment\n\";s:4:\"type\";s:6:\"string\";}s:8:\"resolved\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"For
  inline comments, the comment can be marked as resolved and will be hidden in the
  future responses\n\";s:4:\"type\";s:7:\"boolean\";}s:10:\"resolvedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"If
  the user is marked as resolved, this will contain the unique identifier of the User
  who marked this comment as resolved\n\";s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  unique identifier of revision the comment was posted\";s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  unique identifier of the score where the comment was posted\";s:4:\"type\";s:6:\"string\";}s:4:\"spam\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"`true
  \ if the message has been detected as spam and hidden from other users\n\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  type of the comment\";s:4:\"enum\";a:2:{i:0;s:8:\"document\";i:1;s:6:\"inline\";}s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  author unique identifier\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ScoreCommentContext\";O:8:\"stdClass\":5:{s:11:\"description\";s:200:\"The
  context of the comment (for inline/contextualized comments). A context will include
  all the information related to the location of the comment (i.e. score parts, range
  of measure, time position).\n\";s:7:\"example\";O:8:\"stdClass\":7:{s:12:\"measureUuids\";a:3:{i:0;s:36:\"e6a6a60b-8710-f819-9a49-e907b19c6f1f\";i:1;s:36:\"da83d93c-e3a6-3c73-1bbe-15e5131d6437\";i:2;s:36:\"056ec5eb-9213-df56-6ae8-d9b99673dc48\";}s:8:\"partUuid\";s:36:\"91982db7-2e6d-285e-7a19-76b4bd005b8b\";s:8:\"staffIdx\";i:0;s:8:\"startDpq\";i:1;s:12:\"startTimePos\";i:2;s:7:\"stopDpq\";i:1;s:11:\"stopTimePos\";i:3;}s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"measureUuids\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  list of measure UUIds\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"partUuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  unique identifier (UUID) of the score part\";s:4:\"type\";s:6:\"string\";}s:8:\"staffIdx\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  identififer of the staff\";s:4:\"type\";s:6:\"number\";}s:8:\"startDpq\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"startTimePos\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"stopDpq\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"stopTimePos\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:7:{i:0;s:8:\"partUuid\";i:1;s:8:\"staffIdx\";i:2;s:12:\"measureUuids\";i:3;s:12:\"startTimePos\";i:4;s:11:\"stopTimePos\";i:5;s:8:\"startDpq\";i:6;s:7:\"stopDpq\";}s:4:\"type\";s:6:\"object\";}s:20:\"ScoreCommentCreation\";O:8:\"stdClass\":5:{s:11:\"description\";s:21:\"Creation
  of a comment\";s:7:\"example\";O:8:\"stdClass\":6:{s:7:\"comment\";s:44:\"@[000000000000000000000000:flat]
  Great work!\";s:7:\"context\";O:8:\"stdClass\":7:{s:12:\"measureUuids\";a:3:{i:0;s:36:\"e6a6a60b-8710-f819-9a49-e907b19c6f1f\";i:1;s:36:\"da83d93c-e3a6-3c73-1bbe-15e5131d6437\";i:2;s:36:\"056ec5eb-9213-df56-6ae8-d9b99673dc48\";}s:8:\"partUuid\";s:36:\"91982db7-2e6d-285e-7a19-76b4bd005b8b\";s:8:\"staffIdx\";i:0;s:8:\"startDpq\";i:1;s:12:\"startTimePos\";i:2;s:7:\"stopDpq\";i:1;s:11:\"stopTimePos\";i:3;}s:8:\"mentions\";a:1:{i:0;s:24:\"000000000000000000000000\";}s:10:\"rawComment\";s:18:\"@flat:
  Great work!\";s:7:\"replyTo\";s:24:\"000000000000000000000000\";s:8:\"revision\";s:24:\"000000000000000000000010\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  comment text that can includes mentions using the following format: `@[id:username]`.\n\";s:4:\"type\";s:6:\"string\";}s:7:\"context\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ScoreCommentContext\";}s:8:\"mentions\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  list of user identifiers mentioned in this comment\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"rawComment\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"A
  raw version of the comment, that can be displayed without the mentions. If you use
  mentions, this property must be set.\n\";s:4:\"type\";s:6:\"string\";}s:7:\"replyTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"When
  the comment is a reply to another comment, the unique identifier of the parent comment\n\";s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:11:\"description\";s:192:\"The
  unique indentifier of the revision of the score where the comment was added. If
  this property is unspecified or contains \"last\", the API will automatically take
  the last revision created.\n\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"comment\";}s:4:\"type\";s:6:\"object\";}s:18:\"ScoreCommentUpdate\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Update
  of a comment\";s:7:\"example\";O:8:\"stdClass\":6:{s:7:\"comment\";s:44:\"@[000000000000000000000000:flat]
  Great work!\";s:7:\"context\";O:8:\"stdClass\":7:{s:12:\"measureUuids\";a:3:{i:0;s:36:\"e6a6a60b-8710-f819-9a49-e907b19c6f1f\";i:1;s:36:\"da83d93c-e3a6-3c73-1bbe-15e5131d6437\";i:2;s:36:\"056ec5eb-9213-df56-6ae8-d9b99673dc48\";}s:8:\"partUuid\";s:36:\"91982db7-2e6d-285e-7a19-76b4bd005b8b\";s:8:\"staffIdx\";i:0;s:8:\"startDpq\";i:1;s:12:\"startTimePos\";i:2;s:7:\"stopDpq\";i:1;s:11:\"stopTimePos\";i:3;}s:8:\"mentions\";a:1:{i:0;s:24:\"000000000000000000000000\";}s:10:\"rawComment\";s:18:\"@flat:
  Great work!\";s:7:\"replyTo\";s:24:\"000000000000000000000000\";s:8:\"revision\";s:24:\"000000000000000000000011\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"comment\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"The
  comment text that can includes mentions using the following format: `@[id:username]`.\n\";s:9:\"maxLength\";i:10000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"context\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ScoreCommentContext\";}s:10:\"rawComment\";O:8:\"stdClass\":4:{s:11:\"description\";s:122:\"A
  raw version of the comment, that can be displayed without the mentions. If you use
  mentions, this property must be set.\n\";s:9:\"maxLength\";i:10000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:11:\"description\";s:192:\"The
  unique indentifier of the revision of the score where the comment was added. If
  this property is unspecified or contains \"last\", the API will automatically take
  the last revision created.\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ScoreCommentsCounts\";O:8:\"stdClass\":4:{s:11:\"description\";s:142:\"A
  computed version of the total, unique, weekly and monthly number of\ncomments added
  on the documents (this doesn't include inline comments).\n\";s:7:\"example\";O:8:\"stdClass\":4:{s:7:\"monthly\";i:30;s:5:\"total\";i:42;s:6:\"unique\";i:35;s:6:\"weekly\";i:10;}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"monthly\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  monthly unique number of comments added on the score\";s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  total number of comments added on the score\";s:4:\"type\";s:6:\"number\";}s:6:\"unique\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  unique (1/user) number of comments added on the score\";s:4:\"type\";s:6:\"number\";}s:6:\"weekly\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  weekly unique number of comments added on the score\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ScoreCreation\";O:8:\"stdClass\":5:{s:11:\"description\";s:19:\"A
  new created score\";s:7:\"example\";O:8:\"stdClass\":4:{s:4:\"data\";s:47:\"<score-partwise
  version=\"3.0\"></score-partwise>\";s:17:\"googleDriveFolder\";s:19:\"0B-0000000000000000\";s:7:\"privacy\";s:7:\"private\";s:5:\"title\";s:12:\"My
  new score\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ScoreData\";}s:12:\"dataEncoding\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ScoreDataEncoding\";}s:17:\"googleDriveFolder\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"If
  the user uses Google Drive and this properties is specified, the file will be created
  in this directory. The currently user creating the file must be granted to write
  in this directory.\n\";s:4:\"type\";s:6:\"string\";}s:7:\"privacy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScorePrivacy\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ScoreSource\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:667:\"The
  title of the new score.\n\nIf this title is not specified, the API will try to (in
  this order):\n  - Use the name of the file for files from a specified `source` (e.g.
  Google Drive)\n  - Use the title contained in the file (e.g. [`movement-title`](https://usermanuals.musicxml.com/MusicXML/Content/EL-MusicXML-movement-title.htm)
  or [`credit-words`](https://usermanuals.musicxml.com/MusicXML/Content/EL-MusicXML-credit-words.htm)
  for [MusicXML](http://www.musicxml.com/) files).\n  - Set a default title (e.g.
  \"New Music Score\")\n\nIf the title is already used, the API will append the creation
  date after the title. If the title is too long, the API may trim this one.\n\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"privacy\";}s:4:\"type\";s:6:\"object\";}s:9:\"ScoreData\";O:8:\"stdClass\":3:{s:11:\"description\";s:361:\"The
  data of the score file. It must be a MusicXML 3 file (`vnd.recordare.musicxml` or
  `vnd.recordare.musicxml+xml`), a MIDI file (`audio/midi`) or a Flat.json (aka Adagio.json)
  file.\n\nBinary payloads (`vnd.recordare.musicxml` and `audio/midi`) can be encoded
  in Base64, in this case the `dataEncoding` property must match the encoding used
  for the API request.\n\";s:7:\"example\";s:47:\"<score-partwise version=\"3.0\"></score-partwise>\";s:4:\"type\";s:6:\"string\";}s:17:\"ScoreDataEncoding\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  optional encoding of the score data. This property must match the encoding used
  for the `data` property.\";s:4:\"enum\";a:1:{i:0;s:6:\"base64\";}s:4:\"type\";s:6:\"string\";}s:12:\"ScoreDetails\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScoreSummary\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"collaborators\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  list of the collaborators of the score\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ScoreCollaborator\";}s:4:\"type\";s:5:\"array\";}s:8:\"comments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ScoreCommentsCounts\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  date when the score was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"googleDriveFileId\";O:8:\"stdClass\":2:{s:11:\"description\";s:247:\"If
  the user uses Google Drive and the score exists on Google Drive, this field will
  contain the unique identifier of the Flat score on Google Drive. You can access
  the document using the url: `https://drive.google.com/open?id={googleDriveFileId}`\n\";s:4:\"type\";s:6:\"string\";}s:11:\"instruments\";O:8:\"stdClass\":3:{s:11:\"description\";s:241:\"An
  array of the instrument identifiers used in the last version of the score. This
  is mainly used to display a list of the instruments in the Flat's UI or instruments
  icons. The format of the strings is `{instrument-group}.{instrument-id}`.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"likes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ScoreLikesCounts\";}s:16:\"modificationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  date of the last revision of the score\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"If
  the score has been created in an organization, the identifier of this organization.
  This property is especially used with the score privacy `organizationPublic`.\n\";s:4:\"type\";s:6:\"string\";}s:11:\"parentScore\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"If
  the score has been forked, the unique identifier of the parent score.\n\";s:4:\"type\";s:6:\"string\";}s:6:\"rights\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ScoreRights\";}s:5:\"views\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ScoreViewsCounts\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:29:\"The
  score and all its details\";s:7:\"example\";O:8:\"stdClass\":16:{s:13:\"collaborators\";a:2:{i:0;O:8:\"stdClass\":4:{s:8:\"aclAdmin\";b:1;s:7:\"aclRead\";b:1;s:8:\"aclWrite\";b:1;s:4:\"user\";O:8:\"stdClass\":5:{s:2:\"id\";s:24:\"000000000000000000000001\";s:4:\"name\";s:9:\"Flat
  Team\";s:7:\"picture\";s:33:\"https://flat.io/img/logo_flat.svg\";s:13:\"printableName\";s:9:\"Flat
  Team\";s:8:\"username\";s:4:\"flat\";}}i:1;O:8:\"stdClass\":4:{s:8:\"aclAdmin\";b:0;s:7:\"aclRead\";b:1;s:8:\"aclWrite\";b:0;s:5:\"group\";O:8:\"stdClass\":7:{s:12:\"creationDate\";s:24:\"2015-01-19T00:22:02.387Z\";s:2:\"id\";s:25:\"0000000000000000000000043\";s:4:\"name\";s:9:\"5th
  grade\";s:12:\"organization\";s:25:\"0000000000000000000000042\";s:8:\"readOnly\";b:1;s:4:\"type\";s:13:\"classTeachers\";s:9:\"userCount\";i:24;}}}s:8:\"comments\";O:8:\"stdClass\":4:{s:7:\"monthly\";i:0;s:5:\"total\";i:0;s:6:\"unique\";i:0;s:6:\"weekly\";i:0;}s:12:\"creationDate\";s:24:\"2017-01-15T20:03:25.771Z\";s:17:\"googleDriveFileId\";s:23:\"0BCDEFAGA00000000000000\";s:7:\"htmlUrl\";s:46:\"https://flat.io/score/000000000000000000000000\";s:2:\"id\";s:24:\"000000000000000000000000\";s:11:\"instruments\";a:3:{i:0;s:21:\"keyboards.grand-piano\";i:1;s:14:\"woodwinds.oboe\";i:2;s:18:\"woodwinds.clarinet\";}s:5:\"likes\";O:8:\"stdClass\":3:{s:7:\"monthly\";i:0;s:5:\"total\";i:0;s:6:\"weekly\";i:0;}s:16:\"modificationDate\";s:24:\"2017-01-26T20:29:10.622Z\";s:12:\"organization\";s:24:\"000000000000000000000030\";s:11:\"parentScore\";s:24:\"000000000000000000000040\";s:7:\"privacy\";s:7:\"private\";s:6:\"rights\";O:8:\"stdClass\":3:{s:8:\"aclAdmin\";b:1;s:7:\"aclRead\";b:1;s:8:\"aclWrite\";b:1;}s:5:\"title\";s:8:\"My
  score\";s:4:\"user\";O:8:\"stdClass\":5:{s:2:\"id\";s:24:\"000000000000000000000001\";s:4:\"name\";s:9:\"Flat
  Team\";s:7:\"picture\";s:33:\"https://flat.io/img/logo_flat.svg\";s:13:\"printableName\";s:9:\"Flat
  Team\";s:8:\"username\";s:4:\"flat\";}s:5:\"views\";O:8:\"stdClass\":3:{s:7:\"monthly\";i:0;s:5:\"total\";i:0;s:6:\"weekly\";i:0;}}s:4:\"type\";s:6:\"object\";}s:9:\"ScoreFork\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Options
  to fork the score\";s:4:\"type\";s:6:\"object\";}s:16:\"ScoreLikesCounts\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"A
  computed version of the weekly, monthly and total of number of likes\nfor a score\n\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"monthly\";i:30;s:5:\"total\";i:42;s:6:\"weekly\";i:10;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"monthly\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  number of new likes during the last month\";s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  total number of likes of the score\";s:4:\"type\";s:6:\"number\";}s:6:\"weekly\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  number of new likes during the last week\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ScoreModification\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Edit
  the score metadata\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"privacy\";s:7:\"private\";s:5:\"title\";s:12:\"Edited
  title\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"privacy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScorePrivacy\";}s:10:\"sharingKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"When
  using the `privacy` mode `privateLink`, this property can be used to set a custom
  sharing key, otherwise a new key will be generated.\";s:7:\"pattern\";s:15:\"^[a-f0-9]{128}$\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"A
  new title of the score\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ScorePrivacy\";O:8:\"stdClass\":3:{s:11:\"description\";s:1241:\"The
  score main privacy mode.\n\n- `public`: The score is public on the Internet. This
  one can be accessible at the url `https://flat.io/score/{score}` and can be modified
  and administred by specified collaborators users.\n- `private`: The score is private
  and can be only accessed, modified and administred by specified collaborators users.\n-
  `privateLink`: The score is private but can be accessed using a private link `htmlUrl`
  or the private key in the property `sharingKey`.\n- `organizationPublic`: _Available
  only with [Flat for Education](https://flat.io/edu)._ The score is public in the
  organization: users of the same organization can access to this one. The score can
  be modified and administred by specified collaborators users.\n\nThe score can also
  be individually shared to a set of users or groups using the different collaborators
  API methods.\n\nWhen a file is synchronized from an external source (e.g. Google
  Drive) and the sharing options are changed on the source, Flat will chose the best
  privacy mode for the file.\n\nWhen using a [Flat for Education](https://flat.io/edu)
  account, some of the modes may not be available if disabled by an administrator
  of the organization (e.g. by default the `public` mode is not available).\n\";s:4:\"enum\";a:4:{i:0;s:6:\"public\";i:1;s:7:\"private\";i:2;s:18:\"organizationPublic\";i:3;s:11:\"privateLink\";}s:4:\"type\";s:6:\"string\";}s:13:\"ScoreRevision\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"A
  score revision metadata\";s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"autosave\";b:1;s:13:\"collaborators\";a:2:{i:0;s:24:\"000000000000000000000010\";i:1;s:24:\"000000000000000000000020\";}s:12:\"creationDate\";s:24:\"2017-01-26T20:29:10.622Z\";s:11:\"description\";s:12:\"New
  revision\";s:4:\"user\";s:24:\"000000000000000000000020\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"autosave\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"True
  if this revision was automatically generated by Flat and not on\npurpose by the
  user.\n\";s:4:\"type\";s:7:\"boolean\";}s:13:\"collaborators\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"The
  list of user identifier or collaborators who worked on this\nrevision. This is list
  is built from the history of the revision\nspecified during the creation of the
  revision.\n\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  date when this revision was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"A
  description associated to the revision\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  unique identifier of the revision.\";s:4:\"type\";s:6:\"string\";}s:10:\"statistics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ScoreRevisionStatistics\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  user identifier who created the revision\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ScoreRevisionCreation\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"A
  new created revision\";s:7:\"example\";O:8:\"stdClass\":4:{s:8:\"autosave\";b:1;s:4:\"data\";s:47:\"<score-partwise
  version=\"3.0\"></score-partwise>\";s:11:\"description\";s:12:\"New revision\";s:7:\"history\";a:1:{i:0;O:8:\"stdClass\":4:{s:4:\"args\";O:8:\"stdClass\":2:{s:11:\"measureUuid\";s:36:\"0be9f739-3213-f312-bb0a-00ad0c787ef7\";s:12:\"previousUuid\";s:36:\"888cb742-2110-a050-ba71-28300ba6d61f\";}s:3:\"fnc\";s:17:\"action.AddMeasure\";s:2:\"id\";s:24:\"000000000000000000000090\";s:6:\"userId\";s:24:\"000000000000000000000010\";}}}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"autosave\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Must
  be set to `true` if the revision was created automatically.\n\";s:4:\"type\";s:7:\"boolean\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ScoreData\";}s:12:\"dataEncoding\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ScoreDataEncoding\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"A
  description associated to the revision\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:23:\"ScoreRevisionStatistics\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"The
  statistics related to the score revision (additions and deletions)\n\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"additions\";i:24;s:9:\"deletions\";i:5;}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"additions\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  number of additions operations in the last revision\";s:4:\"type\";s:6:\"number\";}s:9:\"deletions\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  number of deletions operations in the last revision\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ScoreRights\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  rights of the current user on a score\";s:7:\"example\";O:8:\"stdClass\":3:{s:8:\"aclAdmin\";b:1;s:7:\"aclRead\";b:1;s:8:\"aclWrite\";b:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"aclAdmin\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:125:\"`True`
  if the current user can manage the current document, i.e.\nchanging the document
  permissions and deleting the document\n\";s:4:\"type\";s:7:\"boolean\";}s:7:\"aclRead\";O:8:\"stdClass\":1:{s:11:\"description\";s:57:\"`True`
  if the current user can read the current document\n\";}s:8:\"aclWrite\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:59:\"`True`
  if the current user can modify the current document\n\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ScoreSource\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"googleDrive\";s:19:\"0B-0000000000000001\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"googleDrive\";O:8:\"stdClass\":2:{s:11:\"description\";s:191:\"If
  the score is a file on Google Drive, this field property must contain its identifier.
  To use this method, the Drive file must be public or the Flat Drive App must have
  access to the file.\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ScoreSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"A
  summary of the score details\";s:7:\"example\";O:8:\"stdClass\":5:{s:7:\"htmlUrl\";s:46:\"https://flat.io/score/000000000000000000000000\";s:2:\"id\";s:24:\"000000000000000000000000\";s:7:\"privacy\";s:7:\"private\";s:5:\"title\";s:8:\"My
  score\";s:4:\"user\";O:8:\"stdClass\":5:{s:2:\"id\";s:24:\"000000000000000000000001\";s:4:\"name\";s:9:\"Flat
  Team\";s:7:\"picture\";s:33:\"https://flat.io/img/logo_flat.svg\";s:13:\"printableName\";s:9:\"Flat
  Team\";s:8:\"username\";s:4:\"flat\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"htmlUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  url where the score can be viewed in a web browser\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  unique identifier of the score\";s:4:\"type\";s:6:\"string\";}s:7:\"privacy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScorePrivacy\";}s:10:\"sharingKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  private sharing key of the score (available when the `privacy` mode is set to `privateLink`)\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  title of the score\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/UserPublicSummary\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ScoreViewsCounts\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"A
  computed version of the total, weekly, and monthly number of views of\nthe score\n\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"monthly\";i:30;s:5:\"total\";i:42;s:6:\"weekly\";i:10;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"monthly\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  monthly number of views of the score\";s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  total number of views of the score\";s:4:\"type\";s:6:\"number\";}s:6:\"weekly\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  weekly number of views of the score\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:15:\"UserAdminUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"User
  update as an organization admin\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"organizationRole\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrganizationRoles\";}s:8:\"password\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Password
  of the new account\";s:6:\"format\";s:8:\"password\";s:9:\"minLength\";i:6;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"UserBasics\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:8:\"userType\";s:7:\"example\";O:8:\"stdClass\":6:{s:2:\"id\";s:24:\"000000000000000000000001\";s:11:\"isPowerUser\";b:1;s:4:\"name\";s:9:\"Flat
  Team\";s:7:\"picture\";s:33:\"https://flat.io/img/logo_flat.svg\";s:13:\"printableName\";s:9:\"Flat
  Team\";s:8:\"username\";s:4:\"flat\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  user unique identifier\";s:4:\"type\";s:6:\"string\";}s:11:\"isPowerUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"User
  license status. 'True' if user is an individual Power user\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"A
  displayable name for the user\";s:4:\"type\";s:6:\"string\";}s:7:\"picture\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"User
  pictue\";s:4:\"type\";s:6:\"string\";}s:13:\"printableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name that can be directly printed (name or username)\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  user name (unique for the organization)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"UserCreation\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"User
  creation\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Email
  of the new account\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FlatLocales\";}s:8:\"password\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Password
  of the new account\";s:6:\"format\";s:8:\"password\";s:9:\"minLength\";i:6;s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Username
  of the new account\";s:7:\"pattern\";s:17:\"^[A-Za-z0-9-_.]+$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"username\";i:1;s:8:\"password\";}s:4:\"type\";s:6:\"object\";}s:11:\"UserDetails\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UserPublic\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Identifier
  of the user\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FlatLocales\";}s:14:\"privateProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Tell
  either this user profile is private or not (individual accounts only)\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  type of account\";s:4:\"enum\";a:2:{i:0;s:4:\"user\";i:1;s:5:\"guest\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:12:\"User
  details\";s:4:\"type\";s:6:\"object\";}s:16:\"UserDetailsAdmin\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/UserPublicSummary\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Email
  of the user\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:16:\"lastActivityDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Date
  of the last user activity\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"license\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Current
  active license of the user\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"active\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"ID
  of the current license\";s:4:\"type\";s:7:\"boolean\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Date
  when the license expires\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"ID
  of the current license\";s:4:\"type\";s:6:\"string\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/LicenseMode\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LicenseSources\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:52:\"User
  details (view for organization teacher / admin)\";}s:15:\"UserInstruments\";O:8:\"stdClass\":4:{s:11:\"description\";s:223:\"An
  array of the instrument identifiers that the user plays.\nThis is mainly used to
  display a list of the instruments in the Flat's UI or instruments icons.\nThe format
  of the strings is `{instrument-group}.{instrument-id}`.\n\";s:7:\"example\";a:3:{i:0;s:21:\"keyboards.grand-piano\";i:1;s:13:\"brass.trumpet\";i:2;s:14:\"strings.violin\";}s:5:\"items\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:18:\"^[a-z-]+\\.[a-z-]+$\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"UserPublic\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/UserPublicSummary\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"bio\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"User's
  biography\";s:4:\"type\";s:6:\"string\";}s:14:\"followersCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Number
  of followers the user have\";s:4:\"type\";s:7:\"integer\";}s:14:\"followingCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Number
  of people the user follow\";s:4:\"type\";s:7:\"integer\";}s:11:\"instruments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UserInstruments\";}s:16:\"likedScoresCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Number
  of the scores liked by the user\";s:4:\"type\";s:7:\"integer\";}s:22:\"ownedPublicScoresCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Number
  of public scores the user have\";s:4:\"type\";s:7:\"integer\";}s:12:\"profileTheme\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Theme
  (background) for the profile\";s:4:\"type\";s:6:\"string\";}s:16:\"registrationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Date
  the user signed up\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:19:\"Public
  User details\";s:7:\"example\";O:8:\"stdClass\":18:{s:3:\"bio\";s:13:\"The Flat
  Team\";s:9:\"classRole\";s:7:\"teacher\";s:14:\"followersCount\";i:4242;s:14:\"followingCount\";i:0;s:7:\"htmlUrl\";s:20:\"https://flat.io/flat\";s:2:\"id\";s:24:\"000000000000000000000001\";s:11:\"instruments\";a:2:{i:0;s:15:\"woodwinds.flute\";i:1;s:18:\"woodwinds.clarinet\";}s:11:\"isPowerUser\";b:1;s:16:\"likedScoresCount\";i:1;s:4:\"name\";s:9:\"Flat
  Team\";s:12:\"organization\";s:25:\"0000000000000000000000042\";s:16:\"organizationRole\";s:5:\"admin\";s:22:\"ownedPublicScoresCount\";i:10;s:7:\"picture\";s:33:\"https://flat.io/img/logo_flat.svg\";s:13:\"printableName\";s:9:\"Flat
  Team\";s:12:\"profileTheme\";s:6:\"blue-8\";s:16:\"registrationDate\";s:24:\"2015-01-19T00:22:02.387Z\";s:8:\"username\";s:4:\"flat\";}}s:17:\"UserPublicSummary\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UserBasics\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"classRole\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ClassRoles\";}s:7:\"htmlUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Link
  to user profile (for Indiv. users only)\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Organization
  ID (for Edu users only)\";s:4:\"type\";s:6:\"string\";}s:16:\"organizationRole\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrganizationRoles\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:27:\"Public
  User details summary\";s:7:\"example\";O:8:\"stdClass\":10:{s:9:\"classRole\";s:7:\"teacher\";s:7:\"htmlUrl\";s:20:\"https://flat.io/flat\";s:2:\"id\";s:24:\"000000000000000000000001\";s:11:\"isPowerUser\";b:1;s:4:\"name\";s:9:\"Flat
  Team\";s:12:\"organization\";s:25:\"0000000000000000000000042\";s:16:\"organizationRole\";s:5:\"admin\";s:7:\"picture\";s:33:\"https://flat.io/img/logo_flat.svg\";s:13:\"printableName\";s:9:\"Flat
  Team\";s:8:\"username\";s:4:\"flat\";}}}"
...
