---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:17:\"Api Documentation\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:17:\"Api
  Documentation\";s:14:\"termsOfService\";s:7:\"urn:tos\";s:7:\"contact\";O:8:\"stdClass\":0:{}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:42:\"http://www.apache.org/licenses/LICENSE-2.0\";}}"
host: tst-akira-akira.default.ocppre.internal.barceloviajes.com
basePath: /
paths:
  /bookings:
    post:
      tags:
      - booking-controller
      summary: Create booking
      operationId: createUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - in: body
        name: booking
        description: booking
        required: true
        schema:
          $ref: '#/definitions/Booking'
      responses:
        200:
          description: OK
  ? /bookings/search{?reference,agencyReference,creationDateFrom,creationDateTo,initialDateFrom,initialDateTo,productType,statusCode,companyCode,officeCode,folderReference,b2cShop,inShopPayment,singleTraveller,btool,documentNumber}
  : get:
      tags:
      - booking-controller
      summary: Complex request for searching bookings
      operationId: searchUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - name: reference
        in: query
        required: false
        type: string
      - name: agencyReference
        in: query
        required: false
        type: string
      - name: creationDateFrom
        in: query
        required: false
        type: string
        format: date-time
      - name: creationDateTo
        in: query
        required: false
        type: string
        format: date-time
      - name: initialDateFrom
        in: query
        required: false
        type: string
        format: date-time
      - name: initialDateTo
        in: query
        required: false
        type: string
        format: date-time
      - name: productType
        in: query
        required: false
        type: string
      - name: statusCode
        in: query
        required: false
        type: string
      - name: companyCode
        in: query
        required: false
        type: string
      - name: officeCode
        in: query
        required: false
        type: string
      - name: folderReference
        in: query
        required: false
        type: string
      - name: b2cShop
        in: query
        required: false
        type: boolean
      - name: inShopPayment
        in: query
        required: false
        type: boolean
      - name: singleTraveller
        in: query
        required: false
        type: boolean
      - name: btool
        in: query
        required: false
        type: boolean
      - name: documentNumber
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Pageu00abBookingRsu00bb'
  /bookings/{akiraId}:
    get:
      tags:
      - booking-controller
      summary: Get booking by akiraId
      operationId: getBookingsByIdUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - name: akiraId
        in: path
        description: akiraId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Booking'
  /folders:
    post:
      tags:
      - folder-controller
      summary: Create a Folder
      operationId: createUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - in: body
        name: folder
        description: folder
        required: true
        schema:
          $ref: '#/definitions/Folder'
      responses:
        200:
          description: OK
  /folders/{folderId}:
    get:
      tags:
      - folder-controller
      summary: Get a Folder from a FolderId
      operationId: getFolderUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - name: folderId
        in: path
        description: folderId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Folder'
    delete:
      tags:
      - folder-controller
      summary: Delete a Folder from its folderId
      operationId: deleteUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - name: folderId
        in: path
        description: folderId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
  /folders/{folderId}/bookings:
    get:
      tags:
      - folder-controller
      summary: Get all Bookings by FolderId
      operationId: getBookingsByFolderUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - name: folderId
        in: path
        description: folderId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Booking'
  /folders/{folderId}/bookings/distribution:
    get:
      tags:
      - folder-controller
      summary: Get all Distribution Bookings by FolderId
      operationId: getDistributionBookingsByFolderUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - name: folderId
        in: path
        description: folderId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Booking'
  /folders/{folderId}/bookings/production:
    get:
      tags:
      - folder-controller
      summary: Get all Production Bookings by FolderId
      operationId: getProductionBookingsByFolderUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - name: folderId
        in: path
        description: folderId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Booking'
  /invoices:
    post:
      tags:
      - invoice-controller
      summary: Create an invoice related to a booking
      operationId: addInvoiceUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - in: body
        name: invoice
        description: invoice
        required: true
        schema:
          $ref: '#/definitions/Invoice'
      responses:
        200:
          description: OK
  /invoices/{invoiceId}:
    get:
      tags:
      - invoice-controller
      summary: Gets an invoice
      operationId: getInvoiceUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: session
        in: header
        description: Header identificador de seguridad
        required: true
        type: string
      - name: invoiceId
        in: path
        description: invoiceId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Invoice'
definitions: !php/object "O:8:\"stdClass\":60:{s:7:\"Address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"addressId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"apartment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"cityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"isoCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"locationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"locationDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"stateProvince\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"streetName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"streetNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"town\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"BaggageFee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"baggageFeeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:3:\"fee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Fee\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"travellerIndex\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:19:\"BankTransferPayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"accountNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"bankTransferPaymentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:4:\"Bill\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Booking\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":56:{s:13:\"adultQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"agentCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"agentDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"akiraId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"applicationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"applicationDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"arqueoCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"arqueoDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"billList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Bill\";}}s:11:\"bookingList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}}s:13:\"bookingParent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}s:16:\"bookingReference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BookingReference\";}s:15:\"bookingTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"bookingTypeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"buyer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Buyer\";}s:10:\"cancelDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Channel\";}s:7:\"charged\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"childQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"closingDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:18:\"corporativeBooking\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"delegationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"delegationDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"deposit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"discountList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Discount\";}}s:12:\"emissionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:17:\"emissionLimitDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"expenseList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Fee\";}}s:7:\"feeList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Fee\";}}s:6:\"folder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Folder\";}s:9:\"groupName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"infantQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"invoiceList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Invoice\";}}s:20:\"lastModificationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"pack\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Pack\";}s:11:\"paxQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"paymentList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Payment\";}}s:17:\"paymentMethodCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"paymentMethodDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"personList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}}s:7:\"pricing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:8:\"retailer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Retailer\";}s:10:\"serialCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"serialDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"singleTraveller\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"statusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"statusDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"travelReasonCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"travelReasonDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"travelTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"travelTypeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"travellerList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Traveller\";}}s:10:\"wholesaler\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Wholesaler\";}}}s:16:\"BookingReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"agencyReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"bookingReferenceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"budgetReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"leoBookingReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"leoBudgetReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"needEmission\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"providerCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"providerDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"providerReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"requestEngine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"BookingRs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"booking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}s:16:\"bookingReference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BookingReference\";}s:4:\"pack\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Pack\";}}}s:5:\"Buyer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:10:\"agencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"agencyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"associatedCompanyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"associatedCompanyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"associatedOfficeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"associatedOfficeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"cecoCustomerCompany\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"companyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"companyCustomerCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"companyCustomerDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"companyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"customerTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"customerTypeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"delegationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"delegationDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"officeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"officeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"person\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:18:\"personCustomerCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"personCustomerDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"CancellationPolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"cancellationPolicyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"pricing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:11:\"roomGroupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:11:\"CashPayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"cashPaymentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:18:\"contactInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactInformation\";}s:6:\"office\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:7:\"Channel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:7:\"booking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}s:9:\"channelId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:22:\"corporativeChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"corporativeChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"distributionChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:30:\"distributionChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"distributionSubchannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"distributionSubchannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"leoSellChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"leoSellChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"requestChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"requestChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"saleChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"saleChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"subChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"subChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"ContactInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:20:\"contactInformationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"contactLastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"contactName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"emailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ipAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"mobileNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"prefixMobileNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"prefixPhoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"CreditCardPayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"creditCardPaymentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"expireDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:8:\"Discount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:12:\"discountCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"discountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"stateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"travellerReferenceList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TravellerReference\";}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:8:\"Document\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"documentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"expireDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:19:\"implementingCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"issueAuthority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"issueCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"issueDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"person\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:8:\"typeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:3:\"DNI\";i:1;s:9:\"PASAPORTE\";i:2;s:3:\"NIE\";i:3;s:3:\"CIF\";i:4;s:12:\"MILITARYCARD\";}}}}s:3:\"Fee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:5:\"feeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"typeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"typeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Folder\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"bookingList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}}s:8:\"folderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"fromDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"piscisReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"toDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:15:\"InsurancePolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"documentDeliveryDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"includedOnPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"insurancePolicyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"issueDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"policyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"policyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:11:\"requestDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Invoice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"booking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}s:12:\"emissionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"reference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"LeoData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"airCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"employeeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"employeeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"factor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"leoDataId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"leoProductCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"leoProductDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"producerMargin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"purchaseContract\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"purchasePriceSheetVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"purchaseQuota\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"salePriceSheetVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"saleQuota\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"salesContract\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"transmitter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Loyalty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"loyaltyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"travellerReferenceList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TravellerReference\";}}}}s:13:\"OfficePayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:9:\"companyID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"contactInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactInformation\";}s:8:\"officeID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"officePaymentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:22:\"OptionalServiceSegment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"optionalServiceSegmentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"providerText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"travellerOptionalServiceList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TravellerOptionalService\";}}}}s:4:\"Pack\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"baggageFeeList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BaggageFee\";}}s:7:\"booking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}s:18:\"contactInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactInformation\";}s:15:\"deliveryAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:6:\"packId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"productLineCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"productLineDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"productList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}}}s:17:\"Page\xABBookingRs\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/BookingRs\";}}s:5:\"first\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"last\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"number\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"numberOfElements\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Sort\";}s:13:\"totalElements\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:7:\"Payment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:19:\"bankTransferPayment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BankTransferPayment\";}s:11:\"cashPayment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CashPayment\";}s:17:\"creditCardPayment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CreditCardPayment\";}s:13:\"inShopPayment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"officePayment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OfficePayment\";}s:11:\"paymentDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"paymentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"paymentTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"paymentTypeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:10:\"PaymentFee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"paymentFeeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"paymentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"pricing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}}}s:6:\"Person\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:9:\"birthDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"birthLocation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"booking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}s:5:\"buyer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Buyer\";}s:18:\"contactInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactInformation\";}s:12:\"documentList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Document\";}}s:10:\"genderCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"genderDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"isoBirthCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"isoCountryResidence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"middleName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"nationality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"personId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"secondLastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"titleCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"titleDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"traveller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Traveller\";}}}s:5:\"Price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"currencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"currencyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"exchange\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"originalCurrencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"originalCurrencyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"originalPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"percentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"priceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:11:\"PriceDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"classCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"className\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"fareDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"priceDetailId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"pricing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";}}}s:7:\"Pricing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:16:\"agencyCommission\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:7:\"binding\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"commission\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:13:\"commissionTax\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:23:\"commissionTaxPercentage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:18:\"commissionTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"commissionTypeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"commissionable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"cost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:21:\"grossSaleWithDiscount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:24:\"grossSaleWithoutDiscount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:8:\"netPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:16:\"netPriceProvider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:14:\"overCommission\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:9:\"pricingId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:3:\"pvp\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:23:\"recommendedSellingPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:18:\"wholesalerNetPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}}}s:7:\"Product\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":26:{s:9:\"agentCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"agentDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"bookingDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"bookingReference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BookingReference\";}s:19:\"commissionableBasis\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:12:\"discountList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Discount\";}}s:11:\"expenseList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Fee\";}}s:7:\"feeList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Fee\";}}s:9:\"finalDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"initDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:19:\"insurancePolicyList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InsurancePolicy\";}}s:7:\"leoData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LeoData\";}s:11:\"mainService\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"pack\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Pack\";}s:17:\"piscisChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"piscisChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:19:\"purchaseChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"purchaseChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"rateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"rateDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"salesChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"salesChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"surcharge\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:7:\"taxList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";}}}}s:8:\"Retailer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:21:\"associatedCompanyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"associatedCompanyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"associatedOfficeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"associatedOfficeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"booking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}s:11:\"companyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"companyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"officeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"officeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"retailerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:4:\"Room\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"featureCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"featureDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"originType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"originTypeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"roomId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"statusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"statusDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"travellerReferenceList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TravellerReference\";}}s:8:\"typeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"typeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"typeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"SpecialRemark\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"companyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"companyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"remarkType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"specialRemarkId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"StopTechnical\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"fromDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"stopLocationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"stopLocationDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"stopTechnicalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"toDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:13:\"TackleCompany\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tackleCompanyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:3:\"Tax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:7:\"taxCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"taxId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"taxName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"TransferContactInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"availableFrom\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"availableUntil\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"contactInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactInformation\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"operationDays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"timeFrom\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"timeTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"transferContactInformationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"TransferFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"minutes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"timeFrom\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"timeTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"tranferFrequencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:12:\"TransferItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"transferItemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:16:\"TransferLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"dateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"locationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"locationDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"transferLocationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:18:\"TransferPickupStop\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:20:\"transferPickupStopId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:14:\"TransferRemark\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"finalDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"initDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"observationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"transferRemarkId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"TransferService\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:13:\"adultQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:22:\"cancellationPolicyList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CancellationPolicy\";}}s:13:\"childQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"directionCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"directionDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TransferLocation\";}s:7:\"pricing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TransferLocation\";}s:18:\"transferRemarkList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TransferRemark\";}}s:23:\"transferServiceDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:17:\"transferServiceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:30:\"transferServiceInformationList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/TransferServiceInformation\";}}s:28:\"transferServiceSpecification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TransferServiceSpecification\";}s:22:\"travellerReferenceList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TravellerReference\";}}s:7:\"voucher\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Voucher\";}}}s:26:\"TransferServiceInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:25:\"estimatedTransferDuration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"maximumWaitingTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"maximumWaitingTimeSupplier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"maximumWaitingTimeSupplierDomestic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:39:\"maximumWaitingTimeSupplierInternational\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:30:\"transferContactInformationList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/TransferContactInformation\";}}s:21:\"transferFrequencyList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TransferFrequency\";}}s:22:\"transferPickupStopList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TransferPickupStop\";}}s:28:\"transferServiceInformationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:28:\"TransferServiceSpecification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TransferItem\";}s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TransferItem\";}s:11:\"subcategory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TransferItem\";}s:30:\"transferServiceSpecificationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:9:\"Transport\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":71:{s:13:\"adultQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"agentCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"agentDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"bookingDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"bookingReference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BookingReference\";}s:13:\"childQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:19:\"commissionableBasis\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:22:\"destinationAlternative\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"directionCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"directionDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"discountList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Discount\";}}s:11:\"expenseList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Fee\";}}s:7:\"feeList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Fee\";}}s:9:\"finalDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"fromDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"fromIataCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"fromIataDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"fromLocationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"fromLocationDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"fromOrigin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"fromTerminalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"fromTerminalDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"infantQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"initDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:19:\"insurancePolicyList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InsurancePolicy\";}}s:7:\"leoData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LeoData\";}s:11:\"mainService\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"marketingCompanyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"marketingCompanyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"operatingCompanyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"operatingCompanyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"optionalServiceSegmentList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/OptionalServiceSegment\";}}s:17:\"originAlternative\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"originRouteCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"pack\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Pack\";}s:17:\"piscisChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"piscisChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pnr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"priceInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TransportPrice\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:19:\"purchaseChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"purchaseChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"rateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"rateDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"refNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"restricted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"routeType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"salesChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"salesChannelDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"specialRemarkList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SpecialRemark\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"stopTechnicalList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/StopTechnical\";}}s:9:\"surcharge\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:17:\"tackleCompanyList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TackleCompany\";}}s:7:\"taxList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";}}s:12:\"timeDuration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"toDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"toIataCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"toIataDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"toLocationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"toLocationDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"toOrigin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"toTerminalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"toTerminalDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"trainTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"trainTypeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"transportCancellationPolicyList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TransportCancellationPolicy\";}}s:19:\"transportTicketList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TransportTicket\";}}s:17:\"transportTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"transportTypeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"travellerReferenceList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TravellerReference\";}}}}s:27:\"TransportCancellationPolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:20:\"cancellationPolicyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"directionCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"directionDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"pricing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:11:\"roomGroupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ticketCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:14:\"TransportPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:14:\"baggageFeeList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BaggageFee\";}}s:15:\"beforeTotalFare\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:11:\"cashPayment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"discountList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Discount\";}}s:8:\"fareCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"fareDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"paymentFeeList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PaymentFee\";}}s:15:\"priceDetailList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PriceDetail\";}}s:11:\"privateFare\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"serviceFeePricing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:7:\"taxList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";}}s:9:\"totalFare\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:16:\"transportPriceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:22:\"travellerTotalFareList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TravellerTotalFare\";}}}}s:19:\"TransportRateRefund\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"pricing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:14:\"rateRefundCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"transportRateRefundId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:26:\"TransportRefundInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"cancellationCharge\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:9:\"onlyTaxes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"transportRateRefundList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TransportRateRefund\";}}s:28:\"transportRefundInformationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:15:\"TransportTicket\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:9:\"cabinType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"couponStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"couponStatusDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"directionCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"electronicTicket\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"fareCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"groupCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"refundDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"refundPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:16:\"resBookDesigCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"resBookDesigStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"resBookDesigStatusDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"seat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"statusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"statusDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ticket\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ticketPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:18:\"ticketingTimeLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"transport\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Transport\";}s:26:\"transportRefundInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/TransportRefundInformation\";}s:17:\"transportTicketId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:18:\"travellerReference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TravellerReference\";}s:11:\"wagonNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Traveller\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"age\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"booking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}s:17:\"certificateNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"discountList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Discount\";}}s:10:\"genderCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"genderDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"loyaltyList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Loyalty\";}}s:6:\"person\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:8:\"resident\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"residentVerified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"rph\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"travellerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:22:\"travellerReferenceList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TravellerReference\";}}}}s:24:\"TravellerOptionalService\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"characteristic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"pricing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"refNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"seat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"travellerOptionalServiceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:22:\"travellerReferenceList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TravellerReference\";}}s:17:\"travellerTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"TravellerReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:21:\"ageClassificationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"ageClassificationDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"discount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Discount\";}s:7:\"loyalty\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Loyalty\";}s:4:\"room\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Room\";}s:3:\"rph\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"transferService\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TransferService\";}s:9:\"transport\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Transport\";}s:15:\"transportTicket\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TransportTicket\";}s:9:\"traveller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Traveller\";}s:24:\"travellerOptionalService\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TravellerOptionalService\";}s:20:\"travellerReferenceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:18:\"TravellerTotalFare\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"age\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"discountList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Discount\";}}s:7:\"pricing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Pricing\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";}s:20:\"travellerTotalFareId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:13:\"travellerType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:7:\"Voucher\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"phoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"providerCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"vat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"voucherId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:10:\"Wholesaler\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"agencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"agencyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"booking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Booking\";}s:16:\"branchOfficeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"branchOfficeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"brandCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"brandDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"managementGroupCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"managementGroupDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"wholesalerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}}"
...
