---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:3:\"3.0\";s:5:\"title\";s:20:\"CPAN
  Testers API 3.0\";s:11:\"description\";s:41:\"API to submit and manipulate test
  reports\";s:14:\"termsOfService\";s:34:\"http://cpantesters.org/api/license\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:22:\"CPAN
  Testers core team\";s:5:\"email\";s:21:\"admin@cpantesters.org\";s:3:\"url\";s:22:\"http://cpantesters.org\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"perl\";s:3:\"url\";s:30:\"https://dev.perl.org/licenses/\";}}"
host: api.cpantesters.org
basePath: /v3
paths:
  /report:
    post:
      tags:
      - Report
      description: Submit a new report to CPAN Testers
      x-mojo-to:
        controller: Report
        action: report_post
      operationId: v3_report_post
      parameters:
      - name: report
        in: body
        required: true
        schema:
          $ref: '#/definitions/NewReport'
      responses:
        201:
          description: report was created
          schema:
            $ref: '#/definitions/AcceptedReports'
        303:
          description: duplicate report
          schema:
            $ref: '#/definitions/Error'
        401:
          description: invalid credentials
          schema:
            $ref: '#/definitions/Error'
        400:
          description: report contains errors
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /report/{id}:
    get:
      tags:
      - Report
      description: Fetch report data from CPAN Testers
      x-mojo-to:
        controller: Report
        action: report_get
      operationId: v3_report_get
      parameters:
      - name: id
        in: path
        description: The CPAN Testers report id (like 01be7be2-2aec-11e7-a074-e1beba07c9dd)
        type: string
        required: true
      responses:
        200:
          description: Report details
          schema:
            $ref: '#/definitions/Report'
        400:
          description: report id is invalid
          schema:
            $ref: '#/definitions/Error'
        404:
          description: The specified report was not found
          schema:
            $ref: '#/definitions/Error'
  /summary/{dist}/{version}:
    get:
      tags:
      - Summary
      operationId: v3_summary
      summary: Get test report summary info for a specific version of a distribution
      x-mojo-to:
        controller: Summary
        action: summary
      parameters:
      - name: dist
        in: path
        description: The CPAN distribution name (like 'CPAN-Testers-Schema')
        type: string
        required: true
      - name: version
        in: path
        description: The CPAN distribution version (like '1.001')
        type: string
        x-mojo-placeholder: '#'
        required: true
      responses:
        200:
          description: The summary results
          schema:
            type: array
            title: SummaryArray
            items:
              $ref: '#/definitions/ReportSummary'
        500:
          description: We were unable to get the test summaries
          schema:
            $ref: '#/definitions/Error'
        404:
          description: The distribution version was not found
          schema:
            $ref: '#/definitions/Error'
  /release:
    get:
      tags:
      - Release
      operationId: v3_release_all
      summary: Get summary test report info about all CPAN releases
      x-mojo-to:
        controller: Release
        action: release
      responses:
        400:
          description: The request or parameters are incorrect
        200:
          description: A list of release objects
          schema:
            type: array
            title: ReleasesArray
            items:
              $ref: '#/definitions/Release'
  /release/dist/{dist}:
    get:
      tags:
      - Release
      operationId: v3_release_dist
      summary: Get summary test report info for releases of a distribution
      x-mojo-to:
        controller: Release
        action: release
      parameters:
      - $ref: '#/parameters/since'
      - name: dist
        in: path
        description: The CPAN distribution name (like 'CPAN-Testers-Schema')
        type: string
        required: true
      responses:
        200:
          $ref: '#/paths/~1release/get/responses/200'
        400:
          $ref: '#/paths/~1release/get/responses/400'
        404:
          description: The distribution was not found
  /release/author/{author}:
    get:
      tags:
      - Release
      operationId: v3_release_author
      summary: Get summary test report info for releases by an author
      x-mojo-to:
        controller: Release
        action: release
      parameters:
      - $ref: '#/parameters/since'
      - name: author
        in: path
        description: The CPAN author name (like 'PREACTION')
        type: string
        required: true
      responses:
        200:
          $ref: '#/paths/~1release/get/responses/200'
        400:
          $ref: '#/paths/~1release/get/responses/400'
        404:
          description: The distribution was not found
  /upload:
    get:
      tags:
      - Upload
      operationId: v3_upload_all
      summary: Get all uploads to CPAN
      description: This route gets uploads to CPAN. Asking for a WebSocket will subscribe
        to a feed of new uploads.
      x-mojo-to:
        controller: Upload
        action: get
      parameters:
      - $ref: '#/parameters/since'
      responses:
        400:
          description: The request or parameters are incorrect
        200:
          description: An array of objects describing uploads
          schema:
            type: array
            title: UploadsArray
            items:
              $ref: '#/definitions/Upload'
  /upload/dist/{dist}:
    get:
      tags:
      - Upload
      operationId: v3_upload_dist
      summary: Get uploads for a dist
      description: This route gets uploads to CPAN for a specific distribution. Asking
        for a WebSocket will subscribe to a feed of new uploads.
      x-mojo-to:
        controller: Upload
        action: get
      parameters:
      - $ref: '#/parameters/since'
      - name: dist
        in: path
        description: The CPAN distribution name (like 'CPAN-Testers-Schema')
        type: string
        required: true
      responses:
        200:
          $ref: '#/paths/~1upload/get/responses/200'
        400:
          $ref: '#/paths/~1upload/get/responses/400'
        404:
          description: The distribution was not found
  /upload/author/{author}:
    get:
      tags:
      - Upload
      operationId: v3_upload_author
      summary: Get uploads for an author
      description: This route gets uploads to CPAN for the specific author. Asking
        for a WebSocket will subscribe to a feed of new uploads.
      x-mojo-to:
        controller: Upload
        action: get
      parameters:
      - $ref: '#/parameters/since'
      - name: author
        in: path
        description: The CPAN author name (like 'PREACTION')
        type: string
        required: true
      responses:
        200:
          $ref: '#/paths/~1upload/get/responses/200'
        400:
          $ref: '#/paths/~1upload/get/responses/400'
        404:
          description: The author was not found
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":18:{s:9:\"NewReport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:8:\"reporter\";i:1;s:11:\"environment\";i:2;s:12:\"distribution\";i:3;s:6:\"result\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"reporter\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Reporter\";}s:11:\"environment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Environment\";}s:12:\"distribution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Distribution\";}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Result\";}s:8:\"comments\";O:8:\"stdClass\":0:{}}}s:6:\"Report\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"CPAN
  Testers report\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NewReport\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"Reporter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"email\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"Environment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"language\";i:1;s:6:\"system\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Language\";}s:6:\"system\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/System\";}s:10:\"user_agent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"toolchain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:8:\"Language\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:13:\"discriminator\";s:4:\"name\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:7:\"version\";i:2;s:8:\"archname\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Perl
  5\";i:1;s:6:\"Perl 6\";}}s:8:\"archname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"variables\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:6:\"Perl
  5\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:32:\"Language
  data for Perl 5 reports\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Language\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:12:\"^5\\.\\d+\\.\\d+\";}s:9:\"commit_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:6:\"Perl
  6\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:32:\"Language
  data for Perl 6 reports\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Language\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"implementation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"backend\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"engine\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}s:6:\"System\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"osname\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"osname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"osversion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"hostname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"cpu_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"cpu_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"cpu_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"filesystem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"variables\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:6:\"Result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"grade\";i:1;s:6:\"output\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"grade\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Grade\";}s:5:\"tests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}s:8:\"failures\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}s:7:\"skipped\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}s:4:\"todo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"pass\";i:1;s:4:\"fail\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"pass\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}s:4:\"fail\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}}}s:8:\"warnings\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}s:6:\"output\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TestOutput\";}}}s:12:\"Distribution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"version\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"prerequisites\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"A
  list of prerequisites\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Prerequisite\";}}}}s:10:\"TestOutput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:42:\"At
  least one of the properties must be set\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"uncategorized\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"configure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"test\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"install\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"Prerequisite\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:5:\"phase\";i:1;s:4:\"name\";i:2;s:4:\"need\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"phase\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"need\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"have\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"AcceptedReports\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"OpenAPI
  Error Object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Human
  readable description of the error\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"JSON
  pointer to the input data where the error occur\";}}}}}}s:7:\"Release\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:7:\"Release\";s:11:\"description\";s:51:\"A
  summary of test reports for a single CPAN release\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"dist\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  distribution name\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  distribution release version\";}s:6:\"author\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"The
  CPAN ID of the author who released this version of this distribution\";}s:4:\"pass\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:42:\"The
  number of test passes for this release\";}s:4:\"fail\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:44:\"The
  number of test failures for this release\";}s:2:\"na\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:150:\"The
  number of NA results for this release, which means the release does not apply to
  the tester's machine due to OS, Perl version, or other conditions\";}s:7:\"unknown\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:46:\"The
  number of unknown reports for this release\";}}}s:5:\"Grade\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:146:\"The
  report grade. Pass is passing tests. Fail is failing tests. NA is the distribution
  cannot be used on the system. Unknown is any other problem.\";s:4:\"enum\";a:4:{i:0;s:4:\"pass\";i:1;s:4:\"fail\";i:2;s:2:\"na\";i:3;s:7:\"unknown\";}}s:13:\"ReportSummary\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:13:\"ReportSummary\";s:11:\"description\";s:58:\"Flattened
  summary data from the test report data structure\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"guid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  GUID of the full report this data came from\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  date/time of the report in ISO8601 format\";}s:5:\"grade\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Grade\";}s:8:\"reporter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  name/email of the reporter who submitted this report\";}s:4:\"dist\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  name of the distribution tested\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  version of the distribution tested\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  Perl platform that ran the tests, like 'x86_64-linux'\";}s:4:\"perl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  Perl version that ran the tests, like '5.24.0'\";}s:6:\"osname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  name of the operating system, like 'linux', 'MSWin32', 'darwin'\";}s:6:\"osvers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  version of the operating system, like '4.8.0-2-amd64'\";}}}s:6:\"Upload\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:6:\"Upload\";s:11:\"description\";s:17:\"A
  release to CPAN\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"dist\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  distribution name\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  distribution release version\";}s:6:\"author\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"The
  CPAN ID of the author who released this version of this distribution\";}s:8:\"filename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  filename on PAUSE, without the author directory\";}s:8:\"released\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"The
  date/time the file was released to CPAN, in UTC\";}}}}"
...
