---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:108:\"The shop API empowers
  developers to build amazing new apps or websites using Zalando shop data and services.\";s:5:\"title\";s:12:\"Zalando
  Shop\";s:7:\"version\";s:4:\"v1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_706915005350993921_VxX5h1J3_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:43:\"https://api.zalando.com/schema/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"zalando.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"zalando\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.zalando.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":29:{s:7:\"Article\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"A
  single article\";s:10:\"properties\";O:8:\"stdClass\":18:{s:14:\"activationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"timestamp
  the article was available in the Zalando webshop\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"additionalInfos\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"any
  additional information of the article \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:9:\"ageGroups\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"age
  group of the article belongs to\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"BABY\";i:1;s:5:\"CHILD\";i:2;s:4:\"TEEN\";i:3;s:5:\"ADULT\";}s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:10:\"attributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"article
  attributes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Article-Attribute\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:9:\"available\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"will
  be true if at least one article unit is available\";s:4:\"type\";s:7:\"boolean\";}s:5:\"brand\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Brand\";}s:12:\"categoryKeys\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"category
  keys of the article belongs to\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"the
  main color of the article\";s:4:\"type\";s:6:\"string\";}s:7:\"genders\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"gender
  of the article belongs to\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"MALE\";i:1;s:6:\"FEMALE\";}s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"unique
  article id\";s:4:\"type\";s:6:\"string\";}s:5:\"media\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Article-Media\";}s:7:\"modelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"unique
  article model id\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"article
  name\";s:4:\"type\";s:6:\"string\";}s:6:\"season\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"collection
  season the article belongs to\";s:4:\"enum\";a:3:{i:0;s:6:\"SUMMER\";i:1;s:6:\"WINTER\";i:2;s:3:\"ALL\";}s:4:\"type\";s:6:\"string\";}s:10:\"seasonYear\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"collection
  year the article belongs to. Could be either a year or 'ALL'\";s:7:\"pattern\";s:18:\"^ALL$|^20[0-9]{2}$\";s:4:\"type\";s:6:\"string\";}s:7:\"shopUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"url
  of the article within the Zalando webshop\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"units\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"price
  of the article\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Article-Unit\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:17:{i:0;s:2:\"id\";i:1;s:7:\"modelId\";i:2;s:4:\"name\";i:3;s:7:\"shopUrl\";i:4;s:5:\"color\";i:5;s:9:\"available\";i:6;s:6:\"season\";i:7;s:10:\"seasonYear\";i:8;s:14:\"activationDate\";i:9;s:15:\"additionalInfos\";i:10;s:7:\"genders\";i:11;s:9:\"ageGroups\";i:12;s:5:\"brand\";i:13;s:12:\"categoryKeys\";i:14;s:10:\"attributes\";i:15;s:5:\"units\";i:16;s:5:\"media\";}s:4:\"type\";s:6:\"object\";}s:17:\"Article-Attribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Zalando
  API Article Attribute Schema\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"name
  of the article attribute\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"value
  of the article attribute\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:6:\"values\";}s:4:\"type\";s:6:\"object\";}s:13:\"Article-Image\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Zalando
  API Article Image Schema\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"largeHdUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"large
  HD image of the article\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:8:\"largeUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"large
  image of the article\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:11:\"mediumHdUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"medium
  HD image of the article\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:9:\"mediumUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"medium
  image of the article\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:11:\"orderNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"sequence
  of the article images\";s:4:\"type\";s:7:\"integer\";}s:10:\"smallHdUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"small
  HD image of the article\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:8:\"smallUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"small
  image of the article\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:14:\"thumbnailHdUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"thumbnail
  HD url of the article images\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"model
  or non model type article images\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:11:\"orderNumber\";i:1;s:4:\"type\";i:2;s:14:\"thumbnailHdUrl\";i:3;s:8:\"smallUrl\";i:4;s:10:\"smallHdUrl\";i:5;s:9:\"mediumUrl\";i:6;s:11:\"mediumHdUrl\";i:7;s:8:\"largeUrl\";i:8;s:10:\"largeHdUrl\";}s:4:\"type\";s:6:\"object\";}s:13:\"Article-Media\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Zalando
  API Article Media Schema\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"images\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Article-Image\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"images\";}s:4:\"type\";s:6:\"object\";}s:13:\"Article-Price\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Zalando
  API Article Price Schema\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"formatted\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:8:\"currency\";i:1;s:5:\"value\";i:2;s:9:\"formatted\";}s:4:\"type\";s:6:\"object\";}s:14:\"Article-Review\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Zalando
  API Article Review Schema\";s:10:\"properties\";O:8:\"stdClass\":15:{s:9:\"articleId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"articleModelId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"articleSizeRatings\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"BOOTLEG_WIDTH\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"CHEST\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"CHEST_GIRTH\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"COLLAR_SIZE\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"CUP_SIZE\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"HIPS_OR_REAR\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"LEG_FIT\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"LENGTH\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"OVERALL\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SHOE_WIDTH\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"SHOULDERS\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"SLEEVES\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"article
  review created date and time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"customerCity\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"customer
  city in the article review\";s:4:\"type\";s:6:\"string\";}s:15:\"customerCountry\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"customer
  country in the article review\";s:4:\"type\";s:6:\"string\";}s:16:\"customerNickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Customer
  short name in the article review\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"description
  of the article review\";s:4:\"type\";s:6:\"string\";}s:12:\"helpfulCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"customer
  review helpful count of the article\";s:4:\"type\";s:7:\"integer\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"language
  in the article review\";s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"customer
  rating of the article\";s:4:\"type\";s:7:\"integer\";}s:9:\"recommend\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"customer
  recommend to the article\";s:4:\"type\";s:7:\"boolean\";}s:8:\"reviewId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"unique
  article review id\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"title
  in the article review\";s:4:\"type\";s:6:\"string\";}s:14:\"unhelpfulCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"customer
  review unhelpful count of the article\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:10:{i:0;s:8:\"reviewId\";i:1;s:9:\"articleId\";i:2;s:14:\"articleModelId\";i:3;s:8:\"language\";i:4;s:5:\"title\";i:5;s:11:\"description\";i:6;s:7:\"created\";i:7;s:6:\"rating\";i:8;s:12:\"helpfulCount\";i:9;s:14:\"unhelpfulCount\";}s:4:\"type\";s:6:\"object\";}s:15:\"Article-Reviews\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Article-Review\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:40:\"Zalando
  API Paged Article Reviews Schema\";s:4:\"type\";s:6:\"object\";}s:25:\"Article-Reviews-Summaries\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/Article-Reviews-Summary\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:50:\"Zalando
  API Paged Article Reviews Summaries Schema\";s:4:\"type\";s:6:\"object\";}s:23:\"Article-Reviews-Summary\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Zalando
  API Article Reviews Summary Schema\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"articleModelId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"articleSizeRatings\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"size
  rating of the article\";s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"BOOTLEG_WIDTH\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"CHEST\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"CHEST_GIRTH\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"COLLAR_SIZE\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"CUP_SIZE\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"HIPS_OR_REAR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"LEG_FIT\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"LENGTH\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"OVERALL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"SHOE_WIDTH\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"SHOULDERS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"SLEEVES\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:17:\"averageStarRating\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"average
  star rating of the article\";s:4:\"type\";s:6:\"number\";}s:35:\"numberOfUserPositiveRecommendations\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"number
  of positive recommendations to the article\";s:4:\"type\";s:7:\"integer\";}s:27:\"numberOfUserRecommendations\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"number
  of users recommended to the article\";s:4:\"type\";s:7:\"integer\";}s:19:\"numberOfUserReviews\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"number
  of user reviews of the article\";s:4:\"type\";s:7:\"integer\";}s:22:\"starRatingDistribution\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"start
  rating distribution of the article\";s:10:\"properties\";O:8:\"stdClass\":5:{s:1:\"1\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:1:\"2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:1:\"3\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:1:\"4\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:1:\"5\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:5:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";i:4;s:1:\"5\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:6:{i:0;s:14:\"articleModelId\";i:1;s:17:\"averageStarRating\";i:2;s:19:\"numberOfUserReviews\";i:3;s:27:\"numberOfUserRecommendations\";i:4;s:35:\"numberOfUserPositiveRecommendations\";i:5;s:22:\"starRatingDistribution\";}s:4:\"type\";s:6:\"object\";}s:12:\"Article-Unit\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Zalando
  API Article Unit Schema\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"available\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"availability
  of the article\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"article
  id (sku)\";s:4:\"type\";s:6:\"string\";}s:13:\"originalPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Article-Price\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"partner
  id (vendor id) of the article\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Article-Price\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"article
  size\";s:4:\"type\";s:6:\"string\";}s:5:\"stock\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"stock
  of the article\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:4:\"size\";i:2;s:5:\"price\";i:3;s:13:\"originalPrice\";i:4;s:9:\"available\";i:5;s:5:\"stock\";}s:4:\"type\";s:6:\"object\";}s:13:\"Article-Units\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Zalando
  API Article Units Schema\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Article-Unit\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:8:\"Articles\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Article\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:114:\"A
  simple container object that carries paging information as well as a list of articles
  on the `content` property.\";s:4:\"type\";s:6:\"object\";}s:5:\"Brand\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Zalando
  API Brand Schema\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"brandFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BrandFamily\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  unique key for a brand\";s:4:\"type\";s:6:\"string\";}s:12:\"logoLargeUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  url of the large brand logo within the Zalando web shop\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:7:\"logoUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  url of the brand logo within the Zalando web shop\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the brand\";s:4:\"type\";s:6:\"string\";}s:7:\"shopUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  url of the brand within the Zalando web shop\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"key\";i:1;s:4:\"name\";i:2;s:7:\"shopUrl\";}s:4:\"type\";s:6:\"object\";}s:11:\"BrandFamily\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Zalando
  API BrandFamily Schema\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  unique key for a brandFamily\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  of the brandFamily\";s:4:\"type\";s:6:\"string\";}s:7:\"shopUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  url of the brandFamily within the Zalando web shop\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"key\";i:1;s:4:\"name\";i:2;s:7:\"shopUrl\";}s:4:\"type\";s:6:\"object\";}s:6:\"Brands\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Brand\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:31:\"Zalando
  API Paged Brands Schema\";s:4:\"type\";s:6:\"object\";}s:10:\"Categories\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:35:\"Zalando
  API Paged Categories Schema\";s:4:\"type\";s:6:\"object\";}s:8:\"Category\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Zalando
  API Category Schema\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"childKeys\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  list of keys of the child categories\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:3:\"cid\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  numeric ID for a category.\";s:4:\"type\";s:7:\"integer\";}s:6:\"hidden\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  category is hidden and not shown on the Zalando web shop\";s:4:\"type\";s:7:\"boolean\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  unique key for a category\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the category\";s:4:\"type\";s:6:\"string\";}s:6:\"outlet\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Containing
  articles are from last seasons\";s:4:\"type\";s:7:\"boolean\";}s:9:\"parentKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  key of the parent category\";s:4:\"type\";s:6:\"string\";}s:16:\"suggestedFilters\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"list
  of filter names that are reasonable to use within this category\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:11:\"targetGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  target group of the articles from this category\";s:4:\"enum\";a:4:{i:0;s:3:\"ALL\";i:1;s:5:\"WOMEN\";i:2;s:3:\"MEN\";i:3;s:4:\"KIDS\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  type of the category.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:3:\"key\";i:1;s:4:\"name\";i:2;s:9:\"childKeys\";i:3;s:11:\"targetGroup\";i:4;s:16:\"suggestedFilters\";}s:4:\"type\";s:6:\"object\";}s:6:\"Domain\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Zalando
  API Domain Schema\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"domain
  country code\";s:4:\"type\";s:6:\"string\";}s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"domain
  currency code\";s:4:\"type\";s:6:\"string\";}s:12:\"languageCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"domain
  language\";s:4:\"type\";s:6:\"string\";}s:15:\"rootCategoryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"domain
  root category\";s:4:\"type\";s:6:\"string\";}s:7:\"shopUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"domain
  specific url\";s:4:\"type\";s:6:\"string\";}s:7:\"taxRate\";O:8:\"stdClass\":6:{s:11:\"description\";s:15:\"domain
  tax rate\";s:16:\"exclusiveMaximum\";b:1;s:16:\"exclusiveMinimum\";b:1;s:7:\"maximum\";i:1;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:6:{i:0;s:12:\"languageCode\";i:1;s:11:\"countryCode\";i:2;s:12:\"currencyCode\";i:3;s:7:\"taxRate\";i:4;s:15:\"rootCategoryKey\";i:5;s:7:\"shopUrl\";}s:4:\"type\";s:6:\"object\";}s:11:\"ErrorDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"invalidName\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"invalidValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorDetail\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:5:\"Facet\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Zalando
  API Facet Schema\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"facets\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"list
  of the calculated article counts for each filter value\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Facet-Value\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:6:\"filter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"filter\";i:1;s:6:\"facets\";}s:4:\"type\";s:6:\"object\";}s:11:\"Facet-Value\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Zalando
  API FacetValue Schema\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"number
  of articles matching this filter value\";s:4:\"type\";s:7:\"integer\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"key\";i:1;s:11:\"displayName\";i:2;s:5:\"count\";}s:4:\"type\";s:6:\"object\";}s:6:\"Facets\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Zalando
  API Facets Schema\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Facet\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:6:\"Filter\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Zalando
  API Filter Schema\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"multiValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"can
  this filter be used multiple times with different values in one search request\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  unique name for a filter\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"filter
  enum types\";s:4:\"enum\";a:5:{i:0;s:3:\"SKU\";i:1;s:3:\"KEY\";i:2;s:4:\"ENUM\";i:3;s:6:\"STRING\";i:4;s:5:\"RANGE\";}s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"only
  if type is 'enum' this list contains all possible filter values\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Filter-Value\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:10:\"multiValue\";i:2;s:4:\"type\";i:3;s:6:\"values\";}s:4:\"type\";s:6:\"object\";}s:12:\"Filter-Value\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Zalando
  API FilterValue Schema\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"translated
  display name\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  key for a filterValue. Only unique within one filter\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:3:\"key\";i:1;s:11:\"displayName\";}s:4:\"type\";s:6:\"object\";}s:7:\"Filters\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:4:\"Page\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"wrapper
  object for paged responses\";s:13:\"discriminator\";s:7:\"content\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"content\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"page
  content\";s:5:\"items\";O:8:\"stdClass\":0:{}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:4:\"page\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"page
  number\";s:4:\"type\";s:7:\"integer\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"total
  number of elements in a page\";s:4:\"type\";s:7:\"integer\";}s:13:\"totalElements\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"total
  elements in the response\";s:4:\"type\";s:7:\"integer\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"total
  number of pages in the response\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:5:{i:0;s:13:\"totalElements\";i:1;s:10:\"totalPages\";i:2;s:4:\"page\";i:3;s:4:\"size\";i:4;s:7:\"content\";}s:4:\"type\";s:6:\"object\";}s:15:\"Recommendations\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Zalando
  API Recommendations Schema\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/Recommendations-Article\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:23:\"Recommendations-Article\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Zalando
  API Recommendation Article Schema\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"media\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Article-Media\";}s:7:\"modelId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"shopUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:7:\"modelId\";i:2;s:4:\"name\";i:3;s:7:\"shopUrl\";i:4;s:5:\"media\";}s:4:\"type\";s:6:\"object\";}}"
...
