---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:16:\"AngelList Me API\";s:11:\"description\";s:23:\"Pull
  AngelList profile.\";s:14:\"termsOfService\";s:22:\"https://angel.co/terms\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"AngelList\";s:3:\"url\";s:20:\"https://angel.co/api\";s:5:\"email\";s:12:\"api@angel.co\";}s:7:\"version\";s:2:\"v1\";}"
host: api.angel.co
basePath: /1/
paths:
  /me:
    get:
      summary: Get Me
      description: Get Me
      operationId: me
      responses:
        200:
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/me'
      tags:
      - Me
      security:
      - AngelListAuth: []
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":2:{s:2:\"me\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":25:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:7:\"integer\";}s:3:\"bio\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:14:\"follower_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:13:\"angellist_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"blog_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:14:\"online_bio_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"twitter_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"facebook_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"linkedin_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"aboutme_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"github_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"dribbble_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"behance_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"resume_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:14:\"what_ive_built\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"what_i_do\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"criteria\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"locations\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:6:\"skills\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"investor\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:6:\"scopes\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"skills\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:7:\"integer\";}s:8:\"tag_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:13:\"angellist_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}}"
...
