---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:22:\"AngelList Startups API\";s:11:\"description\";s:45:\"Explore
  and manage the startups on AngelList.\";s:14:\"termsOfService\";s:22:\"https://angel.co/terms\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"AngelList\";s:3:\"url\";s:20:\"https://angel.co/api\";s:5:\"email\";s:12:\"api@angel.co\";}s:7:\"version\";s:2:\"v1\";}"
host: api.angel.co
basePath: /1/
paths:
  /startups:
    get:
      summary: Get Startups
      description: Get Startups
      operationId: startups
      parameters:
      - in: query
        name: filter
        type: string
        format: string
      responses:
        200:
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/startup'
      tags:
      - Startups
      security:
      - AngelListAuth: []
  /startups/{startup_id}:
    get:
      summary: Get Startup
      description: Get Startup
      operationId: startups
      parameters:
      - in: path
        name: startup_id
        type: integer
        format: integer
      responses:
        200:
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/startup'
      tags:
      - Startups
      security:
      - AngelListAuth: []
  /startups/{startup_id}/comments:
    get:
      summary: Get Startup Comments
      description: Get Startup Comments
      operationId: startupComments
      parameters:
      - in: path
        name: startup_id
        type: integer
        format: integer
      responses:
        200:
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/startups_comments'
      tags:
      - Startups
      security:
      - AngelListAuth: []
  /startups/{startup_id}/followers:
    get:
      summary: Get Startup Followers
      description: Get Startup Followers
      operationId: startupFollowers
      parameters:
      - in: path
        name: startup_id
        type: integer
        format: integer
      responses:
        200:
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/startup'
      tags:
      - Startups
      security:
      - AngelListAuth: []
  /startups/{startup_id}/followers/ids:
    get:
      summary: Get Startup Followers IDs
      description: Get Startup Followers IDs
      operationId: startupFollowersIDs
      parameters:
      - in: path
        name: startup_id
        type: integer
        format: integer
      responses:
        200:
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/startup'
      tags:
      - Startups
      security:
      - AngelListAuth: []
  /startups/{startup_id}/roles:
    get:
      summary: Get Startup Roles
      description: Get Startup Roles
      operationId: startupRoles
      parameters:
      - in: path
        name: startup_id
        type: integer
        format: integer
      responses:
        200:
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/startup'
      tags:
      - Startups
      security:
      - AngelListAuth: []
  /startup_roles:
    get:
      summary: Get Startup Roles
      description: Get Startup Roles
      operationId: 1Startup_roles
      parameters:
      - in: query
        name: startup_id
        type: string
        format: string
      - in: query
        name: v
        type: string
        format: string
      responses:
        200:
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/startup'
      tags:
      - Startups
      security:
      - AngelListAuth: []
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":5:{s:9:\"abilities\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"intro\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"startups_comments\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:5:\"users\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"angellist_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:3:\"bio\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:14:\"follower_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:3:\"ids\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"ids\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:7:\"startup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":20:{s:13:\"angellist_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:17:\"community_profile\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"company_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"confirmed\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"ended_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:14:\"follower_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:6:\"hidden\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"high_concept\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"logo_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"product_desc\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"quality\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"started_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"startup\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"thumb_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}}"
...
