---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:2000:\"##TMF API Reference:
  TMF 678 - Customer bill Management\n\n##Release: pre-release 17.5\n\nThe Customer
  Bill Management API allows to find and retrieve one or several customer bills (also
  called invoices) produced for a customer. A customer bill is an electronic or paper
  document produced at the end of the billing process. The customer bill gathers and
  displays different items (applied customer billing rates generated during the rating
  and billing processes) to be charged to a customer. It represents a total amount
  due for all the products during the billing period and all significant information
  like dates, bill reference...\nThis API provides also operations to find and retrieve
  the details of applied customer billing rates presented on a customer bill. \nFinally,
  this API allows to request in real-time a customer bill creation and to manage this
  request.\n\n### Resources \n- **customerBill** :  an electronic or paper document
  produced at the end of the billing process that  gathers and displays different
  items (applied customer billing rates generated during the rating and billing processes)
  to be charged to a customer.\n- **appliedCustomerBillingRate** : applied billing
  rates created before or during the billing process and displayed on a customer bill.\n-
  **customerBillOnDemand** : used to manage the creation request of a customer bill
  in real-time (on demand).\n\n###Customer Bill Management API performs the following
  operations :\n- Retrieve a customer bill or a collection of customer bills depending
  on filter criteria.\n- Partial update of  a customer bill (for administration purposes).\n-
  \ Retrieve an applied customer billing rate or a collection of applied customerbilling
  rates depending on filter criteria.\n-  Create a customer bill on demand request,
  retrieve one or a collection of  customer bill on demand request(s) depending on
  filter criteria.\n\n- Manage notification of events on customer bill and customer
  bill on demand.\n\nCopyright \xA9 TM Forum 2017. All Rights Reserved.\";s:7:\"version\";s:13:\"2.1.2_release\";s:5:\"title\";s:16:\"API
  CustomerBill\";}"
host: api.orange.com
basePath: /
paths:
  /customerBill:
    get:
      tags:
      - customerBill
      operationId: customerBillFind
      summary: List customer bills
      description: This operation list customer bill entities.nAttribute selection
        is enabled for all first level attributes.nFiltering may be available depending
        on the compliance level supported by an implementation.
      deprecated: false
      parameters:
      - name: fields
        required: false
        in: query
        description: Selection of attributes separated by comma
        type: string
      - name: billingAccount.id
        required: false
        in: query
        description: Example of filter criteria that can be used to find customer
          bills
        type: string
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomerBill'
  /customerBill/{id}:
    get:
      tags:
      - customerBill
      operationId: customerBillGet
      summary: Retrieve a customer bill
      description: This operation retrieves a customer bill entity.nAttribute selection
        is enabled for all first level attributes.nFiltering on sub-resources may
        be available depending on the compliance level supported by an implementation.
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ""
      - name: fields
        required: false
        in: query
        description: Selection of attributes separated by comma
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CustomerBill'
    patch:
      tags:
      - customerBill
      operationId: customerBillPatch
      summary: Partially update a customer bill
      description: 'Note: this operation is available only to ADMIN API users. The
        PATCH Bill operation is optional. An implementation is not required to support
        PATCH to be compliant with the standard.nThis operation allows partial updates
        of a customer bill entity.nOnly state attribute is patchable.nThis operation
        allows partial updates of a customer bill entity. Support of json/merge (https://tools.ietf.org/html/rfc7386)
        is mandatory, support of json/patch (http://tools.ietf.org/html/rfc5789) is
        optional.'
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ""
      - name: customerBill
        required: true
        in: body
        description: ""
        schema:
          $ref: '#/definitions/CustomerBillUpdate'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CustomerBill'
  /appliedCustomerBillingRate:
    get:
      tags:
      - appliedCustomerBillingRate
      operationId: appliedCustomerBillingRateFind
      summary: List applied customer billing rates
      description: This operation list applied customer billing rate entities.nAttribute
        selection is enabled for all first level attributes.nFiltering may be available
        depending on the compliance level supported by an implementation.
      deprecated: false
      parameters:
      - name: fields
        required: false
        in: query
        description: Selection of attributes separated by comma
        type: string
      - name: bill.id
        required: false
        in: query
        description: Example of a filter criteria that can be used to find applied
          customer billing rates
        type: string
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/AppliedCustomerBillingRate'
  /appliedCustomerBillingRate/{id}:
    get:
      tags:
      - appliedCustomerBillingRate
      operationId: appliedCustomerBillingRateGet
      summary: Retrieve an applied customer billing rate
      description: This operation retrieves an applied customer billing rate entity.nAttribute
        selection is enabled for all first level attributes.nFiltering on sub-resources
        may be available depending on the compliance level supported by an implementation.
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ""
      - name: fields
        required: false
        in: query
        description: Selection of attributes separated by comma
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AppliedCustomerBillingRate'
  /customerBillOnDemand:
    post:
      tags:
      - CustomerBillOnDemand
      operationId: customerBillOnDemandCreate
      summary: Create a customer bill on demand
      description: This operation creates a customer bill on demand entity.
      deprecated: false
      parameters:
      - name: CustomerBillOnDemand
        required: true
        in: body
        description: ""
        schema:
          $ref: '#/definitions/CustomerBillOnDemandRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CustomerBillOnDemand'
    get:
      tags:
      - CustomerBillOnDemand
      operationId: customerBillOnDemandFind
      summary: Retrieve customer bill on demand with filter criteria
      description: This operation list customer bill on demand entities.nAttribute
        selection is enabled for all first level attributes.nFiltering may be available
        depending on the compliance level supported by an implementation.
      deprecated: false
      parameters:
      - name: fields
        required: false
        in: query
        description: Attributes selection
        type: string
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomerBillOnDemand'
  /customerBillOnDemand/{id}:
    get:
      tags:
      - CustomerBillOnDemand
      operationId: customerBillOnDemandGet
      summary: Retrieve a customer bill on demand with its id
      description: This operation retrieves a customer bill on demand entity.nAttribute
        selection is enabled for all first level attributes.nFiltering on sub-resources
        may be available depending on the compliance level supported by an implementation.
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ""
      - name: fields
        required: false
        in: query
        description: Attributes selection
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CustomerBillOnDemand'
produces:
- application/json;charset=utf-8
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":22:{s:10:\"stateValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:3:\"new\";i:1;s:6:\"onHold\";i:2;s:9:\"validated\";i:3;s:4:\"sent\";i:4;s:13:\"partiallyPaid\";i:5;s:7:\"settled\";}}s:11:\"StateValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:10:\"inProgress\";i:1;s:8:\"rejected\";i:2;s:4:\"done\";i:3;s:19:\"terminatedWithError\";}}s:12:\"ZErrorDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"infoURL\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:6:\"ZError\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"infoURL\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ZErrorDetail\";}}}}s:12:\"CustomerBill\";O:8:\"stdClass\":3:{s:11:\"description\";s:1106:\"The
  billing account receives all charges (recurring, one time and usage) of the offers
  and products assigned to it during order process. Periodically according to billing
  cycle specifications attached to the billing account or as a result of an event,
  a customer bill (aka invoice) is produced. This customer bill concerns different
  related parties which play a role on it : for example, a customer bill is produced
  by an operator, is sent to a bill receiver and has to be paid by a payer.\nA payment
  method could be assigned to the customer bill to build the call of payment. Lettering
  process enables to assign automatically or manually incoming amount from payments
  to customer bills (payment items).\nA tax item is created for each tax rate used
  in the customer bill.\nThe financial account represents a financial entity which
  records all customer\u2019s accounting events : payment amount are recorded as credit
  and invoices amount are recorded as debit. It gives the customer overall balance
  (account balance).\nThe customer bill is linked to one or more documents that can
  be downloaded via a provided url.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":25:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Unique
  identifier of he bill\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Bill
  unique reference\";s:4:\"type\";s:6:\"string\";}s:6:\"billNo\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Bill
  reference known by the customer or the party and displayed on the bill. Could be
  different from the id\";s:4:\"type\";s:6:\"string\";}s:7:\"runType\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"onCycle
  (a bill can be created as a result of a cycle run) or offCycle (a bill can be created
  as a result of other events such as customer request or account close)\";s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Category
  of the bill produced : normal, duplicate, interim, last, trial customer or credit
  note for example\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:24:\"#/definitions/stateValue\";}s:10:\"lastUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Date
  of bill last update\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"billDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Bill
  date\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"nextBillDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\").
  Approximate date of  the next bill production given for information (only used for
  onCycle bill)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"billingPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Billing
  period of the bill (used for onCycle bill only)\";s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";}s:9:\"amountDue\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Amount
  due for this bill expressed in the given currency\";s:4:\"$ref\";s:19:\"#/definitions/Money\";}s:14:\"paymentDueDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Date
  at which the amount due should have been paid\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"remainingAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Remaining
  amount to be paid for this bill expressed in the given currency\";s:4:\"$ref\";s:19:\"#/definitions/Money\";}s:17:\"taxExcludedAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Total
  tax excluded amount expressed in the given currency\";s:4:\"$ref\";s:19:\"#/definitions/Money\";}s:17:\"taxIncludedAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Total
  tax included amount expressed in the given\";s:4:\"$ref\";s:19:\"#/definitions/Money\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Indicates
  the base (class) type of the customer bill\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Indicates
  the (class) type of the customer bill\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Link
  to the schema describing the REST resource\";s:4:\"type\";s:6:\"string\";}s:12:\"billDocument\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  list of documents accompanying an entity\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}}s:14:\"appliedPayment\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  list of payment items already assigned to this bill\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AppliedPayment\";}}s:14:\"billingAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Reference
  of the BillingAccount that produced this bill\";s:4:\"$ref\";s:31:\"#/definitions/BillingAccountRef\";}s:7:\"taxItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"A
  list of  tax items created for each tax rate and tax type used in the bill. The
  tax item summarize the total of the various tax types.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TaxItem\";}}s:13:\"paymentMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"A
  payment method reference. A payment method defines a specific mean of payment (e.g
  direct debit) used to build the call of payment\";s:4:\"$ref\";s:30:\"#/definitions/PaymentMethodRef\";}s:12:\"relatedParty\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"A
  list of related party references. A related party defines party or party role linked
  to the bill\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RelatedPartyRef\";}}s:16:\"financialAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:253:\"A
  financial account reference. An account of money owed by a party to another entity
  in exchange for goods or services that have been delivered or used. An account receivable
  aggregates the amounts of one or more billing accounts owned by a given party.\";s:4:\"$ref\";s:33:\"#/definitions/FinancialAccountRef\";}}}s:10:\"TimePeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"A
  business entity used to represent a period between a start and an end date and time\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"startDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Start
  date and time of the period\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"endDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"End
  date and time of the period\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:5:\"Money\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  base / value business entity used to represent money\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Currency
  code (ISO4217 norm uses 3 letters to define the currency).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  positive floating point number\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:10:\"Attachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:223:\"Attachment
  refers to extensions or additional parts that is or may be attached to something
  (agreements, contracts, appointments) to perform a particular function. They can
  be communication attachments, documents and other.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Unique
  identifier of the attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Reference
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Free
  short description of the attachment\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Mime
  type of the attachment\";s:4:\"type\";s:6:\"string\";}s:8:\"sizeUnit\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Size
  unit (in bytes by default)\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  size  in Bytes of the document or attachment\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URL
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Indicates
  the type of attachment\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Link
  to the schema describing the REST resource\";s:4:\"type\";s:6:\"string\";}}}s:14:\"AppliedPayment\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  applied payment is the result of lettering process. It enables to assign automatically
  or manually part of incoming payment amount to a bill.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"appliedAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Part
  of a payment amount lettered to the bill\";s:4:\"$ref\";s:19:\"#/definitions/Money\";}s:7:\"payment\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"A
  payment reference\";s:4:\"$ref\";s:24:\"#/definitions/PaymentRef\";}}}s:17:\"BillingAccountRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"BillingAccount
  reference. A BillingAccount is a detailed description of a bill structure.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Unique
  identifier of the billing account\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Reference
  of the billing account\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Billing
  account name\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Indicates
  the type of the billing account\";s:4:\"type\";s:6:\"string\";}}}s:7:\"TaxItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"A
  tax item is created for each tax rate and tax type used in the bill. The tax item
  specifies the applied tax rate and the total resulting amount.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"taxCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"A
  tax category\";s:4:\"type\";s:6:\"string\";}s:7:\"taxRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Applied
  rate of the tax\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:9:\"taxAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Amount
  of tax expressed in the given currency\";s:4:\"$ref\";s:19:\"#/definitions/Money\";}}}s:16:\"PaymentMethodRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"PaymentMethod
  reference. A payment method defines a specific mean of payment (e.g direct debit).\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Unique
  identifier of the payment method\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Reference
  of the payment method\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Name
  of the payment method\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Indicates
  the type of payment method\";s:4:\"type\";s:6:\"string\";}}}s:15:\"RelatedPartyRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"RelatedParty
  reference. A related party defines party or party role linked to a specific entity.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  identifier of a related party\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Reference
  of the related party\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Related
  party name\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Role
  played by the related party\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Indicates
  the type of related party\";s:4:\"type\";s:6:\"string\";}}}s:19:\"FinancialAccountRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:270:\"Financial
  account reference. An account of money owed by a party to another entity in exchange
  for goods or services that have been delivered or used. A finacial account aggregates
  the amounts of one or more party accounts (billing or settlement) owned by a given
  party.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Unique
  identifier of the account\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Unique
  reference of the account\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Account
  name\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Indicates
  the type of the financial account\";s:4:\"type\";s:6:\"string\";}}}s:10:\"PaymentRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"A
  payment reference\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Unique
  identifier of the payment\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reference
  of the payment\";s:4:\"type\";s:6:\"string\";}s:11:\"paymentDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Payment
  date\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Payment
  amount done\";s:4:\"$ref\";s:19:\"#/definitions/Money\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Indicates
  the type of payment\";s:4:\"type\";s:6:\"string\";}}}s:18:\"CustomerBillUpdate\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:8:\"required\";a:1:{i:0;s:5:\"state\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:24:\"#/definitions/stateValue\";}}}s:26:\"AppliedCustomerBillingRate\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"A
  customer bill displays applied billing rates created before or during the billing
  process.\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Unique
  identifier of the customer applied billing rate\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Reference
  of the customer applied billing rate\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:308:\"Type
  of the applied billing rate : appliedBillingCharge (any kind of charge except taxation
  charges : recurringCharge, oneTimeCharge, usageCharge),  appliedBillingCredit (any
  kind of credit : rebate or productAlteration) or appliedPenaltyCharge (penalty charges
  such as late fees, payment rejection fees,...)\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Creation
  date of the applied billing rate\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Name
  of the customer applied billing rate\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Additional
  data to be displayed on the bill for this customer applied billing rate\";s:4:\"type\";s:6:\"string\";}s:17:\"taxExcludedAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Tax
  excluded amount to be charged on the bill (expressed in the given currency) for
  this applied billing rate\";s:4:\"$ref\";s:19:\"#/definitions/Money\";}s:17:\"taxIncludedAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Tax
  included amount to be charged on the bill (expressed in the given currency) for
  this applied billing rate\";s:4:\"$ref\";s:19:\"#/definitions/Money\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Indicates
  the base (class) type of the applied customer billing rate\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Indicates
  the (class) type of the applied customer billing rate\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Link
  to the schema describing the REST resource\";s:4:\"type\";s:6:\"string\";}s:10:\"appliedTax\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"A
  list of applied billing tax rates. The applied billing tax rate represents taxes
  applied to billing rate it refers to. It is calculated during the billing process\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AppliedBillingTaxRate\";}}s:4:\"bill\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Reference
  of the bill on which the applied billing rate  is presented\";s:4:\"$ref\";s:21:\"#/definitions/BillRef\";}s:14:\"characteristic\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"A
  list of applied billing rate characteristics. An applied billing rate has dynamic
  characteristics according to the its type (characteristics are based on the service
  type, line of business or on others parameters for example)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/AppliedBillingRateCharacteristic\";}}}}s:21:\"AppliedBillingTaxRate\";O:8:\"stdClass\":4:{s:11:\"description\";s:125:\"The
  applied billing tax rate represents taxes applied billing rate it refers to. It
  is calculated during the billing process.\";s:8:\"required\";a:1:{i:0;s:9:\"taxAmount\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"taxCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  categorization of the tax rate\";s:4:\"type\";s:6:\"string\";}s:7:\"taxRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Applied
  rate\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:9:\"taxAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Tax
  amount expressed in the given currency\";s:4:\"$ref\";s:19:\"#/definitions/Money\";}}}s:7:\"BillRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Bill
  reference\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Unique
  identifier of the bill\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Reference
  of the bill\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Indicates
  the (class) type of the bill\";s:4:\"type\";s:6:\"string\";}}}s:32:\"AppliedBillingRateCharacteristic\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"An
  applied billing rate has dynamic characteristics according to the its type (characteristics
  are based on the service type, line of business or on others parameters)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Characteristic
  name\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Value
  affected to the characteristic\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Indicates
  the (class) type of the characteristic\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Link
  to the schema describing the REST resource\";s:4:\"type\";s:6:\"string\";}}}s:20:\"CustomerBillOnDemand\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"This
  resource is used to manage the creation request of a customer bill in real-time
  (on demand).\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Unique
  identifier of the customer bill on demand request given by the server\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Reference
  of the customer bill on demand request\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Friendly
  name to identify the customer bill on demand request\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Additional
  data describing the customer bill on demand request\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"State
  of the customer bill on demand request : rejected, inProgress, done or terminatedWithError\";s:4:\"$ref\";s:25:\"#/definitions/StateValues\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  last date time when the customer bill on demand has been updated\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Indicates
  the (class) type of the customer bill on demand request\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Link
  to the schema describing the REST resource\";s:4:\"type\";s:6:\"string\";}s:14:\"billingAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Reference
  of the billing account that produces the customer bill on demand\";s:4:\"$ref\";s:31:\"#/definitions/BillingAccountRef\";}s:12:\"relatedParty\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"A
  related party for which the customer bill on demand is requested\";s:4:\"$ref\";s:29:\"#/definitions/RelatedPartyRef\";}s:12:\"customerBill\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Reference
  of the bill generated by the customer bill on demand request\";s:4:\"$ref\";s:21:\"#/definitions/BillRef\";}}}s:27:\"CustomerBillOnDemandRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Friendly
  name to identify the customer bill on demand request\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Additional
  data describing the customer bill on demand request\";s:4:\"type\";s:6:\"string\";}s:14:\"billingAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Reference
  of the billing account that produces the customer bill on demand\";s:4:\"$ref\";s:31:\"#/definitions/BillingAccountRef\";}s:12:\"relatedParty\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"A
  related party for which the customer bill on demand is requested\";s:4:\"$ref\";s:29:\"#/definitions/RelatedPartyRef\";}}}}"
...
