---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"serviceOrder API
  designed for ONAP Beijing Release.\nThis API is build from TMF open API16.5 + applied
  TMF guideline 3.0\";s:7:\"version\";s:16:\"0.1.0_inProgress\";s:5:\"title\";s:16:\"API
  ServiceOrder\";}"
host: api.orange.com
basePath: /
paths:
  /serviceOrder:
    post:
      tags:
      - ServiceOrder
      operationId: serviceOrderCreate
      summary: Create a service order
      description: This operation creates a service order entity.nThe specification
        document provides the list of mandatory and non mandatory attributes when
        creating a ServiceOrder, including any possible rule conditions and applicable
        default values.nPOST should be used without specifying the id and the href,
        the Service Order Management system is in charge of generating the id + href
        for the ServiceOrder.nnSpecific business errors for current operation will
        be encapsulated innnHTTP Response 422 Unprocessable entityn
      deprecated: false
      parameters:
      - name: ServiceOrder
        required: true
        in: body
        description: ""
        schema:
          $ref: '#/definitions/ServiceOrder'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/ServiceOrder'
        400:
          description: 'Bad RequestnnList of supported error codes:n- 20: Invalid
            URL parameter valuen- 21: Missing bodyn- 22: Invalid bodyn- 23: Missing
            body fieldn- 24: Invalid body fieldn- 25: Missing headern- 26: Invalid
            header valuen- 27: Missing query-string parametern- 28: Invalid query-string
            parameter value'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        401:
          description: 'UnauthorizednnList of supported error codes:n- 40: Missing
            credentialsn- 41: Invalid credentialsn- 42: Expired credentials'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        403:
          description: 'ForbiddennnList of supported error codes:n- 50: Access deniedn-
            51: Forbidden requestern- 52: Forbidden usern- 53: Too many requests'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        404:
          description: 'Not FoundnnList of supported error codes:n- 60: Resource not
            found'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        422:
          description: Unprocessable entitynnFunctional error
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        500:
          description: 'Internal Server ErrornnList of supported error codes:n- 1:
            Internal error'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        503:
          description: 'Service UnavailablennList of supported error codes:n- 5: The
            service is temporarily unavailablen- 6: Orange API is over capacity, retry
            later !'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
    get:
      tags:
      - ServiceOrder
      operationId: serviceOrderFind
      summary: List service orders
      description: Retreive and list service order entities according to given criteria.nAttribute
        selection is enabled for all first level attributes.nFiltering may be available
        depending on the compliance level supported by an implementation.nnSpecific
        business errors for current operation will be encapsulated innnHTTP Response
        422 Unprocessable entityn
      deprecated: false
      parameters:
      - name: fields
        required: false
        in: query
        description: Attribute selection
        type: string
      - name: state
        required: false
        in: query
        description: Example of filtering attribute that can be used
        type: string
      - name: orderDate
        required: false
        in: query
        description: Example of filtering attribute that can be used
        type: string
      - name: relatedParty.id
        required: false
        in: query
        description: Example of filtering attribute that can be used
        type: string
      - name: relatedParty.role
        required: false
        in: query
        description: Example of filtering attribute that can be used
        type: string
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceOrder'
        400:
          description: 'Bad RequestnnList of supported error codes:n- 20: Invalid
            URL parameter valuen- 21: Missing bodyn- 22: Invalid bodyn- 23: Missing
            body fieldn- 24: Invalid body fieldn- 25: Missing headern- 26: Invalid
            header valuen- 27: Missing query-string parametern- 28: Invalid query-string
            parameter value'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        401:
          description: 'UnauthorizednnList of supported error codes:n- 40: Missing
            credentialsn- 41: Invalid credentialsn- 42: Expired credentials'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        403:
          description: 'ForbiddennnList of supported error codes:n- 50: Access deniedn-
            51: Forbidden requestern- 52: Forbidden usern- 53: Too many requests'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        404:
          description: 'Not FoundnnList of supported error codes:n- 60: Resource not
            found'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        422:
          description: Unprocessable entitynnFunctional error
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        500:
          description: 'Internal Server ErrornnList of supported error codes:n- 1:
            Internal error'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        503:
          description: 'Service UnavailablennList of supported error codes:n- 5: The
            service is temporarily unavailablen- 6: Orange API is over capacity, retry
            later !'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
  /serviceOrder/{id}:
    get:
      tags:
      - ServiceOrder
      operationId: serviceOrderGet
      summary: Retrieve a service order
      description: This operation retrieves a service order entity. nAttribute selection
        is enabled for all first level attributes.nnSpecific business errors for current
        operation will be encapsulated innnHTTP Response 422 Unprocessable entityn
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ""
      - name: fields
        required: false
        in: query
        description: Attribute selection
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ServiceOrder'
        400:
          description: 'Bad RequestnnList of supported error codes:n- 20: Invalid
            URL parameter valuen- 21: Missing bodyn- 22: Invalid bodyn- 23: Missing
            body fieldn- 24: Invalid body fieldn- 25: Missing headern- 26: Invalid
            header valuen- 27: Missing query-string parametern- 28: Invalid query-string
            parameter value'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        401:
          description: 'UnauthorizednnList of supported error codes:n- 40: Missing
            credentialsn- 41: Invalid credentialsn- 42: Expired credentials'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        403:
          description: 'ForbiddennnList of supported error codes:n- 50: Access deniedn-
            51: Forbidden requestern- 52: Forbidden usern- 53: Too many requests'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        404:
          description: 'Not FoundnnList of supported error codes:n- 60: Resource not
            found'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        422:
          description: Unprocessable entitynnFunctional error
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        500:
          description: 'Internal Server ErrornnList of supported error codes:n- 1:
            Internal error'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        503:
          description: 'Service UnavailablennList of supported error codes:n- 5: The
            service is temporarily unavailablen- 6: Orange API is over capacity, retry
            later !'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
    patch:
      tags:
      - ServiceOrder
      operationId: serviceOrderPatch
      summary: Patch a service order
      description: This operation allows partial updates of a service order entity.
        Support of json/merge (https://tools.ietf.org/html/rfc7386) is mandatory,
        support of json/patch (http://tools.ietf.org/html/rfc5789) is optional. nThe  specification
        document provides the list of patchable and non patchable attributes, including
        constraint rules on their usage.nnSpecific business errors for current operation
        will be encapsulated innnHTTP Response 422 Unprocessable entityn
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ""
      - name: ServiceOrder
        required: true
        in: body
        description: ""
        schema:
          $ref: '#/definitions/ServiceOrder'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ServiceOrder'
        400:
          description: 'Bad RequestnnList of supported error codes:n- 20: Invalid
            URL parameter valuen- 21: Missing bodyn- 22: Invalid bodyn- 23: Missing
            body fieldn- 24: Invalid body fieldn- 25: Missing headern- 26: Invalid
            header valuen- 27: Missing query-string parametern- 28: Invalid query-string
            parameter value'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        401:
          description: 'UnauthorizednnList of supported error codes:n- 40: Missing
            credentialsn- 41: Invalid credentialsn- 42: Expired credentials'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        403:
          description: 'ForbiddennnList of supported error codes:n- 50: Access deniedn-
            51: Forbidden requestern- 52: Forbidden usern- 53: Too many requests'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        404:
          description: 'Not FoundnnList of supported error codes:n- 60: Resource not
            found'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        422:
          description: Unprocessable entitynnFunctional error
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        500:
          description: 'Internal Server ErrornnList of supported error codes:n- 1:
            Internal error'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
        503:
          description: 'Service UnavailablennList of supported error codes:n- 5: The
            service is temporarily unavailablen- 6: Orange API is over capacity, retry
            later !'
          schema:
            $ref: '#/definitions/ErrorRepresentation'
produces:
- application/json;charset=utf-8
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":19:{s:10:\"ActionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:3:\"add\";i:1;s:6:\"modify\";i:2;s:6:\"delete\";i:3;s:8:\"noChange\";}}s:9:\"StateType\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:12:\"acknowledged\";i:1;s:8:\"rejected\";i:2;s:7:\"pending\";i:3;s:4:\"held\";i:4;s:10:\"inProgress\";i:5;s:9:\"cancelled\";i:6;s:9:\"completed\";i:7;s:6:\"failed\";i:8;s:7:\"partial\";}}s:19:\"ErrorRepresentation\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:6:\"reason\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Application
  related code (as defined in the API or from a common list)\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Text
  that explains the reason for error. This can be shown to a client user.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Text
  that provide more details and corrective actions related to the error. This can
  be shown to a client user\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"http
  error code extension like 400-2\";s:4:\"type\";s:6:\"string\";}s:14:\"referenceError\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"url
  pointing to documentation describing the error\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  class type of a REST resource\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"it
  provides a link to the schema describing a REST resource\";s:4:\"type\";s:6:\"string\";}}}s:19:\"ServiceRelationship\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Linked
  Services to the one instantiate\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:7:\"service\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:296:\"Relationship
  type. It can be : \u201CreliesOn\u201D if the Service needs another already owned
  Service to rely on (e.g. an option on an already owned mobile access Service) or
  \u201Ctargets\u201D or \u201CisTargeted\u201D (depending on the way of expressing
  the link) for any other kind of links that may be useful\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Service
  reference\";s:4:\"$ref\";s:21:\"#/definitions/Service\";}}}s:10:\"ServiceRef\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Service
  references\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Unique
  identifier of the service\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reference
  of the service\";s:4:\"type\";s:6:\"string\";}}}s:21:\"ServiceCharacteristic\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"ServiceCharacteristic\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of characteristic\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:19:\"#/definitions/Value\";}}}s:12:\"RelatedParty\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"A
  related party defines party which are involved in this order and the role they are
  playing\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"role\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  identifier of a related party\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"An
  hyperlink to the party\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  role of the related party (e.g. Owner, requester, fullfiller etc)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  of the related party\";s:4:\"type\";s:6:\"string\";}s:13:\"@referredType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:23:\"ServiceSpecificationRef\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"The
  service specification (default values, etc. are fetched from the catalogue).\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Unique
  identifier of the service specification\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Reference
  of the service specification\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"targetServiceSchema\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:33:\"#/definitions/TargetServiceSchema\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Service\";O:8:\"stdClass\":4:{s:11:\"description\";s:118:\"Service
  attributes description (these are as per the Service ODE model as used in the Service
  Inventory specification)\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Identifier
  of a service instance\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Reference
  to the owned Service (useful for delete or modify command)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the service\";s:4:\"type\";s:6:\"string\";}s:12:\"serviceState\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  lifecycle state of the service\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"place\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"A
  list of places used to defined places useful for the service (for example a delivery
  geographical place)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Place\";}}s:21:\"serviceCharacteristic\";O:8:\"stdClass\":3:{s:11:\"description\";s:223:\"A
  list of service characteristics .A name/value pair list used to store instance specific
  values of attributes. The behavior is equivalent to a MAP data structure where only
  one entry for any given value of \"name\" can exist\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ServiceCharacteristic\";}}s:19:\"serviceRelationship\";O:8:\"stdClass\":3:{s:11:\"description\";s:375:\"A
  list or service relationships (ServiceRelationship[*]). Linked Services to the one
  instantiate, it can be : \u201CreliesOn\u201D if the Service needs another already
  owned Service to rely on (e.g. an option on an already owned mobile access Service)
  or \u201Ctargets\u201D or \u201CisTargeted\u201D (depending on the way of expressing
  the link) for any other kind of links that may be useful\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ServiceRelationship\";}}s:12:\"relatedParty\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"A
  list of related party parties linked at the Service level (it may be a User for
  example)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RelatedParty\";}}s:20:\"serviceSpecification\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:37:\"#/definitions/ServiceSpecificationRef\";}}}s:5:\"Place\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"Used
  to defined a place useful for the service (for example a delivery geographical place)\";s:8:\"required\";a:1:{i:0;s:4:\"role\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Reference
  of a place (for instance in google map)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  role of the place (e.g. delivery address, install site etc)\";s:4:\"type\";s:6:\"string\";}s:13:\"@referredType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:21:\"OrderItemRelationship\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Linked
  order item to the one containing this attribute\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"The
  type of related order item, can be : dependancy if the order item needs to be \u201Cnot
  started\u201D until another order item is complete\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Unique
  identifier of an order item\";s:4:\"type\";s:6:\"string\";}}}s:16:\"ServiceOrderItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"An
  identified part of the order. A service order is decomposed into one or more order
  items.\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:7:\"service\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Identifier
  of the line item (generally it is a sequence number 01, 02, 03, \u2026)\";s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  action to be carried out on the Service. Can be add, modify, delete, noChange\";s:4:\"$ref\";s:24:\"#/definitions/ActionType\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"State
  of the order item (described in the state machine diagram)\";s:4:\"$ref\";s:23:\"#/definitions/StateType\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"appointment\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Used
  to precise that an appointment was set up with a related party for this order item\";s:4:\"$ref\";s:28:\"#/definitions/AppointmentRef\";}s:21:\"orderItemRelationship\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Linked
  order item to the one containing this attribute\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/OrderItemRelationship\";}}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  Service to be acted on by the order item\";s:4:\"$ref\";s:21:\"#/definitions/Service\";}}}s:14:\"AppointmentRef\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Used
  to precise that an appointment was set-up with a related party for this order item\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"href\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  identifier of the appointment\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Reference
  of the appointmenrt\";s:4:\"type\";s:6:\"string\";}s:13:\"@referredType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:4:\"Note\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Extra-information
  about the order (e.g. useful to add extra delivery information that could be useful
  for a human process\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Date
  of the note\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Author
  of the note\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Text
  of the note\";s:4:\"type\";s:6:\"string\";}}}s:12:\"ServiceOrder\";O:8:\"stdClass\":4:{s:11:\"description\";s:171:\"A
  Service Order is a type of order which can be used to place an order between a customer
  and a service provider or between a service provider and a partner and vice versa\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"ID
  created on repository side\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Hyperlink
  to access the order\";s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"ID
  given by the consumer and only understandable by him (to facilitate his searches)\";s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"A
  way that can be used by consumers to prioritize orders in Service Order Management
  system (from 0 to 4 : 0 is the highest priority, and 4 the lowest)\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  free-text description of the service order\";s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Used
  to categorize the order that can be useful for the OM system (e.g. \u201Cbroadband\u201D,
  \u201CTVOption\u201D, ...)\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"State
  of the order : described in the state-machine diagram\";s:4:\"$ref\";s:23:\"#/definitions/StateType\";}s:9:\"orderDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"completionDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"requestedStartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Order
  start date wished by the requestor\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:23:\"requestedCompletionDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Requested
  delivery date from the requestor perspective\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:22:\"expectedCompletionDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Expected
  delivery date amended by the provider\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Date
  when the order was started for processing\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:19:\"notificationContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Contact
  attached to the order to send back information regarding this order\";s:4:\"type\";s:6:\"string\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"A
  list of notes .Extra-information about the order (e.g. useful to add extra delivery
  information that could be useful for a human process)\";s:4:\"$ref\";s:18:\"#/definitions/Note\";}s:12:\"relatedParty\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"A
  list of related parties which are involved in this order and the role they are playing.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RelatedParty\";}}s:17:\"orderRelationship\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"A
  list of related order references .Linked order to the one containing this attribute\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrderRelationship\";}}s:9:\"orderItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  list of order items that have to be processed.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServiceOrderItem\";}}}}s:12:\"OrderItemRef\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Reference
  of an order item\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  identifier of the order irtem\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Unique
  reference of the order item\";s:4:\"type\";s:6:\"string\";}}}s:17:\"OrderRelationship\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Linked
  order to the one containing this attribute\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:233:\"The
  type of related order, can be : \u201Cdependency\u201D if the order needs to be
  \u201Cnot started\u201D until another order item is complete (a service order in
  this case) or \u201Ccross-ref\u201D to keep track of the source order (a productOrder)\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  id of the related order\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  hyperlink to the related order\";s:4:\"type\";s:6:\"string\";}s:13:\"@referredType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:19:\"TargetServiceSchema\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:8:\"required\";a:2:{i:0;s:5:\"@type\";i:1;s:15:\"@schemaLocation\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Value
  is a descriptive structure for service characteristic\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}}"
...
