---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"bfritz@fadingsignal.com\";s:4:\"name\";s:19:\"Open
  Movie Database\";s:3:\"url\";s:18:\"http://omdbapi.com\";}s:11:\"description\";s:168:\"The
  Open Movie Database. The OMDb API is a free web service to obtain movie information,
  all content and images on the site are contributed and maintained by our users.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"CC
  BY-NC 4.0\";s:3:\"url\";s:47:\"https://creativecommons.org/licenses/by-nc/4.0/\";}s:14:\"termsOfService\";s:32:\"http://www.omdbapi.com/legal.htm\";s:5:\"title\";s:4:\"OMDb\";s:7:\"version\";s:1:\"1\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"media\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:119:\"https://api.apis.guru/v2/cache/logo/http_raw.githubusercontent.com_Mermade_open_api_specifications_master_OMDb_OMDb.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:90:\"https://raw.githubusercontent.com/Mermade/open_api_specifications/master/OMDb/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"omdbapi.com\";s:16:\"x-unofficialSpec\";b:1;}"
host: www.omdbapi.com
basePath: /
paths:
  /:
    get:
      description: Find a movie, series or episode from the OMDb by title, IMDb-id
        or by free-text search
      operationId: Get_OMDb Search
      parameters:
      - description: Movie title to search for. One of t, i or s is required.
        in: query
        name: t
        required: false
        type: string
      - description: A valid IMDb ID (e.g. tt1285016). One of t, i or s is required.
        in: query
        name: i
        required: false
        type: string
      - description: Movie title to search for. One of t, i or s is required.
        in: query
        name: s
        required: false
        type: string
      - description: Year of release.
        in: query
        name: "y"
        required: false
        type: integer
      - description: Type of result to return.
        enum:
        - movie
        - series
        - episode
        in: query
        name: type
        required: false
        type: string
      - default: short
        description: Return short or full plot.
        enum:
        - short
        - full
        in: query
        name: plot
        required: false
        type: string
      - default: false
        description: Include Rotten Tomatoes ratings.
        in: query
        name: tomatoes
        required: false
        type: boolean
      - default: json
        description: The data type to return.
        enum:
        - json
        - xml
        in: query
        name: r
        required: true
        type: string
      - default: 1
        description: API version (reserved for future use).
        in: query
        name: v
        required: false
        type: integer
      - default: 1
        description: Page number to return.
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: JSONP callback name.
        in: query
        name: callback
        required: false
        type: string
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/combinedResult'
      security: []
      summary: OMDb Search
produces:
- application/json
- application/xml
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:14:\"combinedResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":38:{s:6:\"Actors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Awards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"BoxOffice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"DVD\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Director\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Genre\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Metascore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Plot\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Poster\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Production\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Rated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Released\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Response\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Runtime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Search\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"Poster\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Year\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"imdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:5:\"Title\";i:1;s:4:\"Year\";i:2;s:6:\"imdbID\";i:3;s:4:\"Type\";i:4;s:6:\"Poster\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Writer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Year\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"imdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"imdbRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"imdbVotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tomatoConsensus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"tomatoFresh\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"tomatoImage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"tomatoMeter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"tomatoRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"tomatoReviews\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"tomatoRotten\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tomatoURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tomatoUserMeter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"tomatoUserRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"tomatoUserReviews\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"totalResults\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"totalSeasons\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"Response\";}s:4:\"type\";s:6:\"object\";}}"
...
