---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:27:\"LE Aircraft-Maintanence
  API\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:42:\"https://developer.airfranceklm.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:73:\"A
  great place to start playing with the APIs. LE Aircraft-Maintanence API\";s:12:\"x-mashery-id\";s:4:\"6774\";}"
host: api.airfranceklm.com
basePath: /
paths:
  /user:
    get:
      operationId: UserdetailsAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters: []
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tasks:
    get:
      operationId: TasksAssignedtomeAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: filter
        type: string
        description: Indicates whether the tasks assigned to me have to be retrieved
        in: query
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tasks/{taskKey}:
    get:
      operationId: TaskAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: taskKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /manual/{aircraftType}/{manual}/document/{name}:
    get:
      operationId: ManualAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: aircraftType
        type: string
        in: path
        required: true
      - name: manual
        type: string
        in: path
        required: true
      - name: name
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  / /tasks/{taskKey}/labourrows/{labourKey}/start:
    post:
      operationId: LabourRowAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: taskKey
        type: string
        in: path
        required: true
      - name: labourKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  / /workpackages:
    get:
      operationId: WorkpackagesAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters: []
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tasks/{taskKey}/labourrows/{labourKey}/job-stop-reasons:
    get:
      operationId: JobstopreasonsAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: taskKey
        type: string
        in: path
        required: true
      - name: labourKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tasks/{taskKey}/labourrows/{labourKey}/job-stop:
    post:
      operationId: JobstopAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: Accept
        type: string
        description: Indicates the response type expected.
        in: header
        required: true
      - name: AFKL-TRAVEL-Host
        type: string
        description: Indicates the host that is to be used to create the response.
          e.g. 'AF' (AirFrance) or 'KL' (KLM)
        in: header
        required: true
      - name: Accept-Language
        type: string
        description: Indicates the response country and language expected. e.g. nl-NL
          indicates language=nl (Ducth) &amp; country=NL (Netherlands)
        in: header
        required: true
      - name: body
        in: body
        schema:
          $ref: '#/definitions/jobstop'
      - name: taskKey
        type: string
        in: path
        required: true
      - name: labourKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tasks/{taskKey}/labourrows/{labourKey}/job-stop-sign-off:
    post:
      operationId: JobstopsignoffAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: Password
        type: string
        description: password
        in: header
        required: true
      - name: data
        type: string
        description: encoded page data
        in: query
        required: true
      - name: session
        type: string
        description: encoded session data
        in: query
        required: true
      - name: taskKey
        type: string
        in: path
        required: true
      - name: labourKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tasks/{taskKey}/labourrows/{labourKey}/job-stop-cancel:
    post:
      operationId: JobstopcancelAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: data
        type: string
        description: encoded page data
        in: query
        required: true
      - name: session
        type: string
        description: encoded session data
        in: query
        required: true
      - name: taskKey
        type: string
        in: path
        required: true
      - name: labourKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tasks/{taskKey}/labourrows/{labourKey}/finish-sign-off:
    post:
      operationId: FinishandsignoffAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: data
        type: string
        description: encoded page data
        in: query
        required: true
      - name: session
        type: string
        description: encoded session data
        in: query
        required: true
      - name: taskKey
        type: string
        in: path
        required: true
      - name: labourKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tasks/{taskKey}/labourrows/{labourKey}/finish-cancel:
    post:
      operationId: FinishcancelAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: data
        type: string
        description: encoded page data
        in: query
        required: true
      - name: session
        type: string
        description: encoded session data
        in: query
        required: true
      - name: taskKey
        type: string
        in: path
        required: true
      - name: labourKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /manual/{aircraftType}/{manual}/document/{name}/search:
    get:
      operationId: ManualsAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: aircraftType
        type: string
        in: path
        required: true
      - name: manual
        type: string
        in: path
        required: true
      - name: name
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tasks/{taskKey}/add-technical-reference:
    post:
      operationId: AddtechnicalreferencetoataskAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: name
        type: string
        description: name
        in: query
        required: true
      - name: manual
        type: string
        description: manual
        in: query
        required: true
      - name: aicraftType
        type: string
        description: aircraft type
        in: query
        required: true
      - name: taskKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /aircrafts/{registrationCode}/faults:
    post:
      operationId: CreateFaultAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: name
        type: string
        description: name
        in: query
        required: true
      - name: description
        type: string
        description: manual
        in: query
        required: true
      - name: ata
        type: string
        description: aircraft type
        in: query
        required: true
      - name: correctiveAction
        type: string
        description: name
        in: query
        required: true
      - name: foundBy
        type: string
        description: manual
        in: query
        required: true
      - name: foundOnDateTime
        type: string
        description: aircraft type
        in: query
        required: true
      - name: foundDuringFlight
        type: string
        description: name
        in: query
        required: true
      - name: logbookReference
        type: string
        description: manual
        in: query
        required: true
      - name: repairLocation
        type: string
        description: aircraft type
        in: query
        required: true
      - name: source
        type: string
        description: aircraft type
        in: query
        required: true
      - name: registrationCode
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /workpackages/{workpackageKey}/tasks:
    get:
      operationId: TasksforaworkpackageAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: workpackageKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tasks/{taskKey}/faults:
    get:
      operationId: FaultsforataskAircraftMaintanence
      summary: ""
      tags:
      - Aircraft Maintanence
      parameters:
      - name: taskKey
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":1:{s:7:\"jobstop\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Indicates
  the job stop reason.\";s:4:\"type\";s:6:\"string\";}s:17:\"keepTaskAppointed\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Indicates
  whether task keeps appointed.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"startDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Indicates
  the start date time of the job.\";s:4:\"type\";s:6:\"string\";}s:12:\"jobCardSteps\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  list with jobcardsteps.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"order\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  order of a job card step.\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  status of a job card step\";s:4:\"type\";s:6:\"string\";}}}}s:16:\"partRequirements\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"A
  list with part requirements.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  part key.\";s:4:\"type\";s:7:\"integer\";}s:11:\"certificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Number
  for certificate.\";s:4:\"type\";s:6:\"string\";}s:15:\"partReplacement\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Containing
  a removed and installed part.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"removedPart\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"A
  removed part object.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"partKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  part key of the removed part.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  quantitity of the removed part.\";s:4:\"type\";s:6:\"string\";}s:6:\"partNo\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  part number of the removed part.\";s:4:\"type\";s:6:\"string\";}s:8:\"serialNo\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  serial number of the removed part.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  reason for removal.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:7:\"partKey\";i:1;s:8:\"quantity\";i:2;s:6:\"partNo\";i:3;s:8:\"serialNo\";i:4;s:6:\"reason\";}}s:13:\"installedPart\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"A
  installed part object.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"partKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  part key of the installed part.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  quantity of the installed part.\";s:4:\"type\";s:6:\"string\";}s:6:\"partNo\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  part number of the installed part.\";s:4:\"type\";s:6:\"string\";}s:8:\"serialNo\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  serial number of the installed part.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:7:\"partKey\";i:1;s:8:\"quantity\";i:2;s:6:\"partNo\";i:3;s:8:\"serialNo\";}}}s:8:\"required\";a:2:{i:0;s:11:\"removedPart\";i:1;s:13:\"installedPart\";}}}}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:6:\"finish\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"startDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Indicates
  the start date time of the job.\";s:4:\"type\";s:6:\"string\";}s:16:\"partRequirements\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"A
  list with part requirements.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  part key.\";s:4:\"type\";s:7:\"integer\";}s:11:\"certificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Number
  for certificate.\";s:4:\"type\";s:6:\"string\";}s:15:\"partReplacement\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Containing
  a removed and installed part.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"removedPart\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"A
  removed part object.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"partKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  part key of the removed part.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  quantitity of the removed part.\";s:4:\"type\";s:6:\"string\";}s:6:\"partNo\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  part number of the removed part.\";s:4:\"type\";s:6:\"string\";}s:8:\"serialNo\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  serial number of the removed part.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  reason for removal.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:7:\"partKey\";i:1;s:8:\"quantity\";i:2;s:6:\"partNo\";i:3;s:8:\"serialNo\";i:4;s:6:\"reason\";}}s:13:\"installedPart\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"A
  installed part object.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"partKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  part key of the installed part.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  quantity of the installed part.\";s:4:\"type\";s:6:\"string\";}s:6:\"partNo\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  part number of the installed part.\";s:4:\"type\";s:6:\"string\";}s:8:\"serialNo\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  serial number of the installed part.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:7:\"partKey\";i:1;s:8:\"quantity\";i:2;s:6:\"partNo\";i:3;s:8:\"serialNo\";}}}s:8:\"required\";a:2:{i:0;s:11:\"removedPart\";i:1;s:13:\"installedPart\";}}}}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}}s:8:\"required\";a:1:{i:0;s:13:\"startDateTime\";}}}s:8:\"required\";a:4:{i:0;s:6:\"reason\";i:1;s:17:\"keepTaskAppointed\";i:2;s:13:\"startDateTime\";i:3;s:12:\"jobCardSteps\";}}}"
...
