---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The client API
  for Panacea.\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:11:\"Ostelco API\";}"
host: api.ostelco.org
paths:
  /profile:
    get:
      description: Get profile for the user (email-id present in the bearer token).
      operationId: getProfile
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Get the profile for this user.
          schema:
            $ref: '#/definitions/Profile'
        404:
          description: Profile not found.
      security:
      - auth0_jwt: []
    post:
      description: Create a new profile.
      operationId: createProfile
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: profile
        description: The profile to create.
        required: false
        schema:
          $ref: '#/definitions/Profile'
      responses:
        201:
          description: Successfully created the profile.
          schema:
            $ref: '#/definitions/Profile'
      security:
      - auth0_jwt: []
    put:
      description: Update an existing profile.
      operationId: updateProfile
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: profile
        description: The updated profile.
        required: false
        schema:
          $ref: '#/definitions/Profile'
      responses:
        200:
          description: Successfully updated the profile.
          schema:
            $ref: '#/definitions/Profile'
        404:
          description: Profile not found.
      security:
      - auth0_jwt: []
  /products:
    get:
      description: Get all products for the user.
      operationId: getAllProducts
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: List of products.
          schema:
            $ref: '#/definitions/ProductList'
        404:
          description: No products found for the user.
      security:
      - auth0_jwt: []
  /products/{sku}:
    post:
      description: Buy the product specified in sku parameter.
      operationId: buyProduct
      produces:
      - application/json
      - text/plain
      parameters:
      - name: sku
        in: path
        description: SKU to be purchased
        required: true
        type: string
      responses:
        201:
          description: Successfully purchased the product.
          schema:
            $ref: '#/definitions/Product'
        404:
          description: Product not found.
      security:
      - auth0_jwt: []
  /subscription:
    get:
      description: Get subscription status for the user (identified by bearer token).
      operationId: getSubscription
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Get the subscription status for this user.
          schema:
            $ref: '#/definitions/SubscriptionStatus'
        404:
          description: No subscription found for this user.
      security:
      - auth0_jwt: []
  /consents:
    get:
      description: Get all consents for the user.
      operationId: getConsents
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: List of consents.
          schema:
            $ref: '#/definitions/ConsentList'
        404:
          description: No consents found for the user.
      security:
      - auth0_jwt: []
  /consents/{consent-id}:
    put:
      description: Change the value for the specified consent.
      operationId: updateConsent
      parameters:
      - name: consent-id
        in: path
        description: Id of the consent to be changed
        required: true
        type: string
      - name: accepted
        in: query
        description: Whether user accepted the consent (default = true)
        required: false
        type: boolean
      responses:
        200:
          description: Successfully updated the consent.
        404:
          description: Consent not found.
      security:
      - auth0_jwt: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:7:\"Profile\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"email\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}}s:7:\"example\";O:8:\"stdClass\":5:{s:7:\"address\";s:7:\"address\";s:4:\"city\";s:4:\"city\";s:4:\"name\";s:4:\"name\";s:8:\"postCode\";s:8:\"postCode\";s:5:\"email\";s:5:\"email\";}}s:18:\"SubscriptionStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"remaining\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:14:\"Remaining
  data\";}s:16:\"acceptedProducts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"List
  of products\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:16:\"acceptedProducts\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"price\";O:8:\"stdClass\":2:{s:6:\"amount\";i:0;s:4:\"code\";s:4:\"code\";}s:3:\"sku\";s:3:\"sku\";}i:1;O:8:\"stdClass\":2:{s:5:\"price\";O:8:\"stdClass\":2:{s:6:\"amount\";i:0;s:4:\"code\";s:4:\"code\";}s:3:\"sku\";s:3:\"sku\";}}s:9:\"remaining\";i:0;}}s:11:\"ProductList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}s:7:\"Product\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"price\";i:1;s:3:\"sku\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"A
  unique Id representing a SKU\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Currency\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"price\";O:8:\"stdClass\":2:{s:6:\"amount\";i:0;s:4:\"code\";s:4:\"code\";}s:3:\"sku\";s:3:\"sku\";}}s:11:\"ConsentList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Consent\";}}s:7:\"Consent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"consentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  identifier of the consent\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"A
  description of the consent\";}s:8:\"accepted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"Whether
  user has accepted the consent or not\";}}}s:8:\"Currency\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"amount\";i:1;s:4:\"code\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:48:\"A
  positive integer in the smallest currency unit\";s:7:\"minimum\";i:0;}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"ISO
  4217 currency code (three letter alphabetic code)\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"amount\";i:0;s:4:\"code\";s:4:\"code\";}}}"
...
