---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:3:\"3.5\";s:5:\"title\";s:7:\"traccar\";}"
host: traccar.org
basePath: /api
paths:
  /commands:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/Command'
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/Command'
  /devices:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: all
        in: query
        required: true
        type: boolean
      - name: userId
        in: query
        required: true
        type: integer
      responses:
        200:
          description: OK
          headers: []
          schema:
            type: array
            items:
              $ref: '#/definitions/Device'
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/Device'
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/Device'
  /devices/{id}:
    put:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/Device'
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/Device'
    delete:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      responses:
        204:
          description: No Content
          headers: []
  /groups:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: all
        in: query
        required: true
        type: boolean
      - name: userId
        in: query
        required: true
        type: integer
      responses:
        200:
          description: OK
          headers: []
          schema:
            type: array
            items:
              $ref: '#/definitions/Group'
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/Group'
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/Group'
  /groups/{id}:
    put:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/Group'
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/Group'
    delete:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      responses:
        204:
          description: No Content
          headers: []
  /permissions/devices:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/DevicePermission'
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/DevicePermission'
    delete:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/DevicePermission'
      responses:
        204:
          description: No Content
          headers: []
  /permissions/groups:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/GroupPermission'
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/GroupPermission'
    delete:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/GroupPermission'
      responses:
        204:
          description: No Content
          headers: []
  /positions:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: deviceId
        in: query
        required: true
        type: integer
      - name: from
        in: query
        required: true
        type: string
      - name: to
        in: query
        required: true
        type: string
      responses:
        200:
          description: OK
          headers: []
          schema:
            type: array
            items:
              $ref: '#/definitions/Position'
  /server:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/Server'
    put:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/Server'
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/Server'
  /session:
    get:
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/User'
        404:
          description: Not Found
          headers: []
    post:
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/json
      parameters:
      - name: email
        in: formData
        required: true
        type: string
      - name: password
        in: formData
        required: true
        type: string
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/User'
        401:
          description: Unauthorized
          headers: []
    delete:
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/json
      parameters: []
      responses:
        204:
          description: No Content
          headers: []
  /users:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: OK
          headers: []
          schema:
            type: array
            items:
              $ref: '#/definitions/Position'
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/User'
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/User'
  /users/{id}:
    put:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/User'
      responses:
        200:
          description: OK
          headers: []
          schema:
            $ref: '#/definitions/User'
    delete:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      responses:
        204:
          description: No Content
          headers: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":8:{s:8:\"Position\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"fixTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"outdated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"altitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"speed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"course\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"User\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readonly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"map\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"distanceUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"speedUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"zoom\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"twelveHourFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:6:\"Server\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"registration\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"readonly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"map\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"bingKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mapUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"distanceUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"speedUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"zoom\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"twelveHourFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:7:\"Command\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":0:{}}s:6:\"Device\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"uniqueId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"lastUpdate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"positionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"groupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:5:\"Group\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"groupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:16:\"DevicePermission\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"deviceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:15:\"GroupPermission\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"groupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}"
...
