---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1423:\"<fullname>Amazon
  Neptune</fullname> <p> </p> <p> Amazon Neptune is a fast, reliable, fully-managed
  graph database service that makes it easy to build and run applications that work
  with highly connected datasets. The core of Amazon Neptune is a purpose-built, high-performance
  graph database engine optimized for storing billions of relationships and querying
  the graph with milliseconds latency. Amazon Neptune supports popular graph models
  Property Graph and W3C's RDF, and their respective query languages Apache TinkerPop
  Gremlin and SPARQL, allowing you to easily build queries that efficiently navigate
  highly connected datasets. Neptune powers graph use cases such as recommendation
  engines, fraud detection, knowledge graphs, drug discovery, and network security.
  </p> <p>This interface reference for Amazon Neptune contains documentation for a
  programming or command line interface you can use to manage Amazon Neptune. Note
  that Amazon Neptune is asynchronous, which means that some interfaces might require
  techniques such as polling or callback functions to determine when a command has
  been applied. In this reference, the parameter descriptions indicate whether a command
  is applied immediately, on the next instance reboot, or during the maintenance window.
  The reference structure is as follows, and we list following some related topics
  from the user guide.</p> <p> <b>Amazon Neptune API Reference</b> </p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:14:\"Amazon
  Neptune\";s:7:\"version\";s:10:\"2014-10-31\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:91:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/neptune-2014-10-31.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:7:\"neptune\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"amazonaws_neptune\";s:4:\"type\";s:7:\"openapi\";}}"
host: rds.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":262:{s:25:\"AddRoleToDBClusterMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"DBClusterIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"The
  name of the DB cluster to associate the IAM role with.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:163:\"The
  Amazon Resource Name (ARN) of the IAM role to associate with the Neptune DB cluster,
  for example <code>arn:aws:iam::123456789012:role/NeptuneAccessRole</code>.\";}}s:8:\"required\";a:2:{i:0;s:19:\"DBClusterIdentifier\";i:1;s:7:\"RoleArn\";}s:4:\"type\";s:6:\"object\";}s:40:\"AddSourceIdentifierToSubscriptionMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"SourceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:538:\"<p>The
  identifier of the event source to be added.</p> <p>Constraints:</p> <ul> <li> <p>If
  the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must
  be supplied.</p> </li> <li> <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code>
  must be supplied.</p> </li> <li> <p>If the source type is a DB parameter group,
  a <code>DBParameterGroupName</code> must be supplied.</p> </li> <li> <p>If the source
  type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be supplied.</p>
  </li> </ul>\";}s:16:\"SubscriptionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:87:\"The
  name of the event notification subscription you want to add a source identifier
  to.\";}}s:8:\"required\";a:2:{i:0;s:16:\"SubscriptionName\";i:1;s:16:\"SourceIdentifier\";}s:4:\"type\";s:6:\"object\";}s:39:\"AddSourceIdentifierToSubscriptionResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"EventSubscription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EventSubscription\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AddTagsToResourceMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ResourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:296:\"The
  Amazon Neptune resource that the tags are added to. This value is an Amazon Resource
  Name (ARN). For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\">
  Constructing an Amazon Resource Name (ARN)</a>.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:55:\"The
  tags to be assigned to the Amazon Neptune resource.\";}}s:8:\"required\";a:2:{i:0;s:12:\"ResourceName\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:11:\"ApplyMethod\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"immediate\";i:1;s:14:\"pending-reboot\";}s:4:\"type\";s:6:\"string\";}s:36:\"ApplyPendingMaintenanceActionMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"ApplyAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:138:\"<p>The
  pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>,
  <code>db-upgrade</code> </p>\";}s:9:\"OptInType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:516:\"<p>A
  value that specifies the type of opt-in request, or undoes an opt-in request. An
  opt-in request of type <code>immediate</code> can't be undone.</p> <p>Valid values:</p>
  <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p>
  </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during
  the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code>
  - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>\";}s:18:\"ResourceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:290:\"The
  Amazon Resource Name (ARN) of the resource that the pending maintenance action applies
  to. For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\">
  Constructing an Amazon Resource Name (ARN)</a>.\";}}s:8:\"required\";a:3:{i:0;s:18:\"ResourceIdentifier\";i:1;s:11:\"ApplyAction\";i:2;s:9:\"OptInType\";}s:4:\"type\";s:6:\"object\";}s:35:\"ApplyPendingMaintenanceActionResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:33:\"ResourcePendingMaintenanceActions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/ResourcePendingMaintenanceActions\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AttributeValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:26:\"AuthorizationNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"<p>Specified
  CIDRIP or EC2 security group is not authorized for the specified DB security group.</p>
  <p>Neptune may not also be authorized via IAM to perform necessary actions on your
  behalf.</p>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"<p>Contains
  Availability Zone information.</p> <p> This data type is used as an element in the
  following data type:</p> <ul> <li> <p> <a>OrderableDBInstanceOption</a> </p> </li>
  </ul>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  name of the availability zone.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AvailabilityZoneList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AvailabilityZone\";}s:4:\"type\";s:5:\"array\";}s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"BooleanOptional\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"CertificateNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"
  <i>CertificateIdentifier</i> does not refer to an existing certificate. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"CharacterSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"
  This data type is used as a response element in the action <a>DescribeDBEngineVersions</a>.
  \";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"CharacterSetDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  description of the character set.\";}s:16:\"CharacterSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  name of the character set.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"CloudwatchLogsExportConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"The
  configuration setting for the log types to be enabled for export to CloudWatch Logs
  for a specific DB instance or DB cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"DisableLogTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LogTypeList\";s:11:\"description\";s:33:\"The
  list of log types to disable.\";}s:14:\"EnableLogTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LogTypeList\";s:11:\"description\";s:32:\"The
  list of log types to enable.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"CopyDBClusterParameterGroupMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:39:\"SourceDBClusterParameterGroupIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:839:\"<p>The
  identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group.
  For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\">
  Constructing an Amazon Resource Name (ARN)</a>. </p> <p>Constraints:</p> <ul> <li>
  <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source
  DB cluster parameter group is in the same AWS Region as the copy, specify a valid
  DB parameter group identifier, for example <code>my-db-cluster-param-group</code>,
  or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different
  AWS Region than the copy, specify a valid DB cluster parameter group ARN, for example
  <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p>
  </li> </ul>\";}s:4:\"Tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";}s:40:\"TargetDBClusterParameterGroupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"A
  description for the copied DB cluster parameter group.\";}s:39:\"TargetDBClusterParameterGroupIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:402:\"<p>The
  identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul>
  <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to
  255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p>
  </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li>
  </ul> <p>Example: <code>my-cluster-param-group1</code> </p>\";}}s:8:\"required\";a:3:{i:0;s:39:\"SourceDBClusterParameterGroupIdentifier\";i:1;s:39:\"TargetDBClusterParameterGroupIdentifier\";i:2;s:40:\"TargetDBClusterParameterGroupDescription\";}s:4:\"type\";s:6:\"object\";}s:33:\"CopyDBClusterParameterGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"DBClusterParameterGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DBClusterParameterGroup\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CopyDBClusterSnapshotMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"CopyTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:135:\"True
  to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot,
  and otherwise false. The default is false.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1265:\"<p>The
  AWS AWS KMS key ID for an encrypted DB cluster snapshot. The KMS key ID is the Amazon
  Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption
  key. </p> <p>If you copy an unencrypted DB cluster snapshot and specify a value
  for the <code>KmsKeyId</code> parameter, Amazon Neptune encrypts the target DB cluster
  snapshot using the specified KMS encryption key. </p> <p>If you copy an encrypted
  DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code>
  to encrypt the copy with a new KMS encryption key. If you don't specify a value
  for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted
  with the same KMS key as the source DB cluster snapshot. </p> <p>If you copy an
  encrypted DB cluster snapshot that is shared from another AWS account, then you
  must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted DB
  cluster snapshot to another AWS Region, you must set <code>KmsKeyId</code> to the
  KMS key ID you want to use to encrypt the copy of the DB cluster snapshot in the
  destination AWS Region. KMS encryption keys are specific to the AWS Region that
  they are created in, and you can't use encryption keys from one AWS Region in another
  AWS Region.</p>\";}s:12:\"PreSignedUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1983:\"<p>The
  URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code>
  API action in the AWS Region that contains the source DB cluster snapshot to copy.
  The <code>PreSignedUrl</code> parameter must be used when copying an encrypted DB
  cluster snapshot from another AWS Region.</p> <p>The pre-signed URL must be a valid
  request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed
  in the source AWS Region that contains the encrypted DB cluster snapshot to be copied.
  The pre-signed URL request must contain the following parameter values:</p> <ul>
  <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to
  encrypt the copy of the DB cluster snapshot in the destination AWS Region. This
  is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that
  is called in the destination AWS Region, and the action contained in the pre-signed
  URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region
  that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code>
  - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be
  copied. This identifier must be in the Amazon Resource Name (ARN) format for the
  source AWS Region. For example, if you are copying an encrypted DB cluster snapshot
  from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code>
  looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:neptune-cluster1-snapshot-20161115</code>.</p>
  </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see
  <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\">
  Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and
  <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">
  Signature Version 4 Signing Process</a>.</p>\";}s:33:\"SourceDBClusterSnapshotIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:600:\"<p>The
  identifier of the DB cluster snapshot to copy. This parameter is not case-sensitive.</p>
  <p>You can't copy an encrypted, shared DB cluster snapshot from one AWS Region to
  another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot
  in the \"available\" state.</p> </li> <li> <p>If the source snapshot is in the same
  AWS Region as the copy, specify a valid DB snapshot identifier.</p> </li> <li> <p>If
  the source snapshot is in a different AWS Region than the copy, specify a valid
  DB cluster snapshot ARN. </p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code>
  </p>\";}s:4:\"Tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";}s:33:\"TargetDBClusterSnapshotIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:424:\"<p>The
  identifier of the new DB cluster snapshot to create from the source DB cluster snapshot.
  This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must
  contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character
  must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive
  hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>\";}}s:8:\"required\";a:2:{i:0;s:33:\"SourceDBClusterSnapshotIdentifier\";i:1;s:33:\"TargetDBClusterSnapshotIdentifier\";}s:4:\"type\";s:6:\"object\";}s:27:\"CopyDBClusterSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"DBClusterSnapshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DBClusterSnapshot\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CopyDBParameterGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:32:\"SourceDBParameterGroupIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:481:\"<p>
  The identifier or ARN for the source DB parameter group. For information about creating
  an ARN, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\">
  Constructing an Amazon Resource Name (ARN)</a>. </p> <p>Constraints:</p> <ul> <li>
  <p>Must specify a valid DB parameter group.</p> </li> <li> <p>Must specify a valid
  DB parameter group identifier, for example <code>my-db-param-group</code>, or a
  valid ARN.</p> </li> </ul>\";}s:4:\"Tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";}s:33:\"TargetDBParameterGroupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"A
  description for the copied DB parameter group.\";}s:32:\"TargetDBParameterGroupIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:392:\"<p>The
  identifier for the copied DB parameter group.</p> <p>Constraints:</p> <ul> <li>
  <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255
  letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p>
  </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li>
  </ul> <p>Example: <code>my-db-parameter-group</code> </p>\";}}s:8:\"required\";a:3:{i:0;s:32:\"SourceDBParameterGroupIdentifier\";i:1;s:32:\"TargetDBParameterGroupIdentifier\";i:2;s:33:\"TargetDBParameterGroupDescription\";}s:4:\"type\";s:6:\"object\";}s:26:\"CopyDBParameterGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"DBParameterGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DBParameterGroup\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CreateDBClusterMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":22:{s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AvailabilityZones\";s:11:\"description\";s:85:\"A
  list of EC2 Availability Zones that instances in the DB cluster can be created in.
  \";}s:21:\"BackupRetentionPeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:202:\"<p>The
  number of days for which automated backups are retained. You must specify a minimum
  value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value
  from 1 to 35</p> </li> </ul>\";}s:16:\"CharacterSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:96:\"A
  value that indicates that the DB cluster should be associated with the specified
  CharacterSet.\";}s:19:\"DBClusterIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:359:\"<p>The
  DB cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p>
  <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li>
  <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen
  or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1</code>
  </p>\";}s:27:\"DBClusterParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:258:\"<p>
  The name of the DB cluster parameter group to associate with this DB cluster. If
  this argument is omitted, the default is used. </p> <p>Constraints:</p> <ul> <li>
  <p>If supplied, must match the name of an existing DBClusterParameterGroup.</p>
  </li> </ul>\";}s:17:\"DBSubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:194:\"<p>A
  DB subnet group to associate with this DB cluster.</p> <p>Constraints: Must match
  the name of an existing DBSubnetGroup. Must not be default.</p> <p>Example: <code>mySubnetgroup</code>
  </p>\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:172:\"The
  name for your database of up to 64 alpha-numeric characters. If you do not provide
  a name, Amazon Neptune will not create a database in the DB cluster you are creating.\";}s:31:\"EnableIAMDatabaseAuthentication\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:161:\"<p>True
  to enable mapping of AWS Identity and Access Management (IAM) accounts to database
  accounts, and otherwise false.</p> <p>Default: <code>false</code> </p>\";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:113:\"<p>The
  name of the database engine to be used for this DB cluster.</p> <p>Valid Values:
  <code>neptune</code> </p>\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:92:\"<p>The
  version number of the database engine to use.</p> <p>Example: <code>1.0.1</code>
  </p>\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1271:\"<p>The
  AWS KMS key identifier for an encrypted DB cluster.</p> <p>The KMS key identifier
  is the Amazon Resource Name (ARN) for the KMS encryption key. If you are creating
  a DB cluster with the same AWS account that owns the KMS encryption key used to
  encrypt the new DB cluster, then you can use the KMS key alias instead of the ARN
  for the KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p>
  <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted
  source, then Amazon Neptune will use the encryption key used to encrypt the source.
  Otherwise, Amazon Neptune will use your default encryption key. </p> </li> <li>
  <p>If the <code>StorageEncrypted</code> parameter is true and <code>ReplicationSourceIdentifier</code>
  is not specified, then Amazon Neptune will use your default encryption key.</p>
  </li> </ul> <p>AWS KMS creates the default encryption key for your AWS account.
  Your AWS account has a different default encryption key for each AWS Region.</p>
  <p>If you create a Read Replica of an encrypted DB cluster in another AWS Region,
  you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination
  AWS Region. This key is used to encrypt the Read Replica in that AWS Region.</p>\";}s:18:\"MasterUserPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:188:\"<p>The
  password for the master database user. This password can contain any printable ASCII
  character except \"/\", \"\"\", or \"@\".</p> <p>Constraints: Must contain from
  8 to 41 characters.</p>\";}s:14:\"MasterUsername\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:267:\"<p>The
  name of the master user for the DB cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must
  be 1 to 16 letters or numbers.</p> </li> <li> <p>First character must be a letter.</p>
  </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li>
  </ul>\";}s:15:\"OptionGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:260:\"<p>A
  value that indicates that the DB cluster should be associated with the specified
  option group.</p> <p>Permanent options can't be removed from an option group. The
  option group can't be removed from a DB cluster once it is associated with a DB
  cluster.</p>\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:119:\"<p>The
  port number on which the instances in the DB cluster accept connections.</p> <p>
  Default: <code>8182</code> </p>\";}s:12:\"PreSignedUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1884:\"<p>A
  URL that contains a Signature Version 4 signed request for the <code>CreateDBCluster</code>
  action to be called in the source AWS Region where the DB cluster is replicated
  from. You only need to specify <code>PreSignedUrl</code> when you are performing
  cross-region replication from an encrypted DB cluster.</p> <p>The pre-signed URL
  must be a valid request for the <code>CreateDBCluster</code> API action that can
  be executed in the source AWS Region that contains the encrypted DB cluster to be
  copied.</p> <p>The pre-signed URL request must contain the following parameter values:</p>
  <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to
  use to encrypt the copy of the DB cluster in the destination AWS Region. This should
  refer to the same KMS key for both the <code>CreateDBCluster</code> action that
  is called in the destination AWS Region, and the action contained in the pre-signed
  URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region
  that Read Replica will be created in.</p> </li> <li> <p> <code>ReplicationSourceIdentifier</code>
  - The DB cluster identifier for the encrypted DB cluster to be copied. This identifier
  must be in the Amazon Resource Name (ARN) format for the source AWS Region. For
  example, if you are copying an encrypted DB cluster from the us-west-2 AWS Region,
  then your <code>ReplicationSourceIdentifier</code> would look like Example: <code>arn:aws:rds:us-west-2:123456789012:cluster:neptune-cluster1</code>.</p>
  </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see
  <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\">
  Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and
  <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">
  Signature Version 4 Signing Process</a>.</p>\";}s:21:\"PreferredBackupWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:783:\"<p>The
  daily time range during which automated backups are created if automated backups
  are enabled using the <code>BackupRetentionPeriod</code> parameter. </p> <p>The
  default is a 30-minute window selected at random from an 8-hour block of time for
  each AWS Region. To see the time blocks available, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html\">
  Adjusting the Preferred Maintenance Window</a> in the <i>Amazon Neptune User Guide.</i>
  </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p>
  </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must
  not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at
  least 30 minutes.</p> </li> </ul>\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:637:\"<p>The
  weekly time range during which system maintenance can occur, in Universal Coordinated
  Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default
  is a 30-minute window selected at random from an 8-hour block of time for each AWS
  Region, occurring on a random day of the week. To see the time blocks available,
  see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html\">
  Adjusting the Preferred Maintenance Window</a> in the <i>Amazon Neptune User Guide.</i>
  </p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun.</p> <p>Constraints: Minimum
  30-minute window.</p>\";}s:27:\"ReplicationSourceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:119:\"The
  Amazon Resource Name (ARN) of the source DB instance or DB cluster if this DB cluster
  is created as a Read Replica.\";}s:16:\"StorageEncrypted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:46:\"Specifies
  whether the DB cluster is encrypted.\";}s:4:\"Tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";}s:19:\"VpcSecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/VpcSecurityGroupIdList\";s:11:\"description\";s:68:\"A
  list of EC2 VPC security groups to associate with this DB cluster.\";}}s:8:\"required\";a:2:{i:0;s:19:\"DBClusterIdentifier\";i:1;s:6:\"Engine\";}s:4:\"type\";s:6:\"object\";}s:36:\"CreateDBClusterParameterGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"DBClusterParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:225:\"<p>The
  name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must
  match the name of an existing DBClusterParameterGroup.</p> </li> </ul> <note> <p>This
  value is stored as a lowercase string.</p> </note>\";}s:22:\"DBParameterGroupFamily\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:288:\"The
  DB cluster parameter group family name. A DB cluster parameter group can be associated
  with one and only one DB cluster parameter group family, and can be applied only
  to a DB cluster running a database engine and engine version compatible with that
  DB cluster parameter group family.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  description for the DB cluster parameter group.\";}s:4:\"Tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";}}s:8:\"required\";a:3:{i:0;s:27:\"DBClusterParameterGroupName\";i:1;s:22:\"DBParameterGroupFamily\";i:2;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:35:\"CreateDBClusterParameterGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"DBClusterParameterGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DBClusterParameterGroup\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateDBClusterResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"DBCluster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DBCluster\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateDBClusterSnapshotMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"DBClusterIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:246:\"<p>The
  identifier of the DB cluster to create a snapshot for. This parameter is not case-sensitive.</p>
  <p>Constraints:</p> <ul> <li> <p>Must match the identifier of an existing DBCluster.</p>
  </li> </ul> <p>Example: <code>my-cluster1</code> </p>\";}s:27:\"DBClusterSnapshotIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:385:\"<p>The
  identifier of the DB cluster snapshot. This parameter is stored as a lowercase string.</p>
  <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or
  hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot
  end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example:
  <code>my-cluster1-snapshot1</code> </p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:51:\"The
  tags to be assigned to the DB cluster snapshot.\";}}s:8:\"required\";a:2:{i:0;s:27:\"DBClusterSnapshotIdentifier\";i:1;s:19:\"DBClusterIdentifier\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateDBClusterSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"DBClusterSnapshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DBClusterSnapshot\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateDBInstanceMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":42:{s:16:\"AllocatedStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:297:\"<p>The
  amount of storage (in gibibytes) to allocate for the DB instance.</p> <p>Type: Integer</p>
  <p>Not applicable. Neptune cluster volumes automatically grow as the amount of data
  in your database increases, though you are only charged for the space that you use
  in a Neptune cluster volume.</p>\";}s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:154:\"<p>Indicates
  that minor engine upgrades are applied automatically to the DB instance during the
  maintenance window.</p> <p>Default: <code>true</code> </p>\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:413:\"<p>
  The EC2 Availability Zone that the DB instance is created in. </p> <p>Default: A
  random, system-chosen Availability Zone in the endpoint's AWS Region.</p> <p> Example:
  <code>us-east-1d</code> </p> <p> Constraint: The AvailabilityZone parameter can't
  be specified if the MultiAZ parameter is set to <code>true</code>. The specified
  Availability Zone must be in the same AWS Region as the current endpoint. </p>\";}s:21:\"BackupRetentionPeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:394:\"<p>The
  number of days for which automated backups are retained.</p> <p>Not applicable.
  The retention period for automated backups is managed by the DB cluster. For more
  information, see <a>CreateDBCluster</a>.</p> <p>Default: 1</p> <p>Constraints:</p>
  <ul> <li> <p>Must be a value from 0 to 35</p> </li> <li> <p>Cannot be set to 0 if
  the DB instance is a source to Read Replicas</p> </li> </ul>\";}s:16:\"CharacterSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:212:\"<p>Indicates
  that the DB instance should be associated with the specified CharacterSet.</p> <p>Not
  applicable. The character set is managed by the DB cluster. For more information,
  see <a>CreateDBCluster</a>.</p>\";}s:18:\"CopyTagsToSnapshot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:118:\"True
  to copy all tags from the DB instance to snapshots of the DB instance, and otherwise
  false. The default is false.\";}s:19:\"DBClusterIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:170:\"<p>The
  identifier of the DB cluster that the instance will belong to.</p> <p>For information
  on creating a DB cluster, see <a>CreateDBCluster</a>.</p> <p>Type: String</p>\";}s:15:\"DBInstanceClass\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:153:\"The
  compute and memory capacity of the DB instance, for example, <code>db.m4.large</code>.
  Not all DB instance classes are available in all AWS Regions. \";}s:20:\"DBInstanceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:361:\"<p>The
  DB instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p>
  <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li>
  <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen
  or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code>
  </p>\";}s:6:\"DBName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"<p>The
  database name. </p> <p>Type: String</p>\";}s:20:\"DBParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:394:\"<p>The
  name of the DB parameter group to associate with this DB instance. If this argument
  is omitted, the default DBParameterGroup for the specified engine is used.</p> <p>Constraints:</p>
  <ul> <li> <p>Must be 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>First
  character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain
  two consecutive hyphens</p> </li> </ul>\";}s:16:\"DBSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DBSecurityGroupNameList\";s:11:\"description\";s:142:\"<p>A
  list of DB security groups to associate with this DB instance.</p> <p>Default: The
  default DB security group for the database engine.</p>\";}s:17:\"DBSubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:133:\"<p>A
  DB subnet group to associate with this DB instance.</p> <p>If there is no DB subnet
  group, then it is a non-VPC DB instance.</p>\";}s:6:\"Domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:62:\"Specify
  the Active Directory Domain to create the instance in.\";}s:17:\"DomainIAMRoleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:91:\"Specify
  the name of the IAM role to be used when making API calls to the Directory Service.\";}s:27:\"EnableCloudwatchLogsExports\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LogTypeList\";s:11:\"description\";s:79:\"The
  list of log types that need to be enabled for exporting to CloudWatch Logs.\";}s:31:\"EnableIAMDatabaseAuthentication\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:126:\"<p>True
  to enable AWS Identity and Access Management (IAM) authentication for Neptune.</p>
  <p>Default: <code>false</code> </p>\";}s:25:\"EnablePerformanceInsights\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:78:\"True
  to enable Performance Insights for the DB instance, and otherwise false. \";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:112:\"<p>The
  name of the database engine to be used for this instance. </p> <p>Valid Values:
  <code>neptune</code> </p>\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"The
  version number of the database engine to use.\";}s:4:\"Iops\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:115:\"The
  amount of Provisioned IOPS (input/output operations per second) to be initially
  allocated for the DB instance. \";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:827:\"<p>The
  AWS KMS key identifier for an encrypted DB instance.</p> <p>The KMS key identifier
  is the Amazon Resource Name (ARN) for the KMS encryption key. If you are creating
  a DB instance with the same AWS account that owns the KMS encryption key used to
  encrypt the new DB instance, then you can use the KMS key alias instead of the ARN
  for the KM encryption key.</p> <p>Not applicable. The KMS key identifier is managed
  by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p> <p>If the
  <code>StorageEncrypted</code> parameter is true, and you do not specify a value
  for the <code>KmsKeyId</code> parameter, then Amazon Neptune will use your default
  encryption key. AWS KMS creates the default encryption key for your AWS account.
  Your AWS account has a different default encryption key for each AWS Region.</p>\";}s:12:\"LicenseModel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:183:\"<p>License
  model information for this DB instance.</p> <p> Valid values: <code>license-included</code>
  | <code>bring-your-own-license</code> | <code>general-public-license</code> </p>\";}s:18:\"MasterUserPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:139:\"<p>The
  password for the master user. The password can include any printable ASCII character
  except \"/\", \"\"\", or \"@\".</p> <p> Not used. </p>\";}s:14:\"MasterUsername\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  name for the master user. Not used.\";}s:18:\"MonitoringInterval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:389:\"<p>The
  interval, in seconds, between points when Enhanced Monitoring metrics are collected
  for the DB instance. To disable collecting Enhanced Monitoring metrics, specify
  0. The default is 0.</p> <p>If <code>MonitoringRoleArn</code> is specified, then
  you must also set <code>MonitoringInterval</code> to a value other than 0.</p> <p>Valid
  Values: <code>0, 1, 5, 10, 15, 30, 60</code> </p>\";}s:17:\"MonitoringRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:316:\"<p>The
  ARN for the IAM role that permits Neptune to send enhanced monitoring metrics to
  Amazon CloudWatch Logs. For example, <code>arn:aws:iam:123456789012:role/emaccess</code>.</p>
  <p>If <code>MonitoringInterval</code> is set to a value other than 0, then you must
  supply a <code>MonitoringRoleArn</code> value.</p>\";}s:7:\"MultiAZ\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:140:\"Specifies
  if the DB instance is a Multi-AZ deployment. You can't set the AvailabilityZone
  parameter if the MultiAZ parameter is set to true.\";}s:15:\"OptionGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:312:\"<p>Indicates
  that the DB instance should be associated with the specified option group.</p> <p>Permanent
  options, such as the TDE option for Oracle Advanced Security TDE, can't be removed
  from an option group, and that option group can't be removed from a DB instance
  once it is associated with a DB instance</p>\";}s:27:\"PerformanceInsightsKMSKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:190:\"The
  AWS KMS key identifier for encryption of Performance Insights data. The KMS key
  ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for
  the KMS encryption key.\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:234:\"<p>The
  port number on which the database accepts connections.</p> <p>Not applicable. The
  port is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p>
  <p> Default: <code>8182</code> </p> <p>Type: Integer</p>\";}s:21:\"PreferredBackupWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:228:\"<p>
  The daily time range during which automated backups are created. </p> <p>Not applicable.
  The daily time range for creating automated backups is managed by the DB cluster.
  For more information, see <a>CreateDBCluster</a>.</p>\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:416:\"<p>The
  time range each week during which system maintenance can occur, in Universal Coordinated
  Time (UTC). </p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default
  is a 30-minute window selected at random from an 8-hour block of time for each AWS
  Region, occurring on a random day of the week. </p> <p>Valid Days: Mon, Tue, Wed,
  Thu, Fri, Sat, Sun.</p> <p>Constraints: Minimum 30-minute window.</p>\";}s:13:\"PromotionTier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:197:\"<p>A
  value that specifies the order in which an Read Replica is promoted to the primary
  instance after a failure of the existing primary instance. </p> <p>Default: 1</p>
  <p>Valid Values: 0 - 15</p>\";}s:18:\"PubliclyAccessible\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:859:\"<p>Specifies
  the accessibility options for the DB instance. A value of true specifies an Internet-facing
  instance with a publicly resolvable DNS name, which resolves to a public IP address.
  A value of false specifies an internal instance with a DNS name that resolves to
  a private IP address.</p> <p>Default: The default behavior varies depending on whether
  a VPC has been requested or not. The following list shows the default behavior in
  each case.</p> <ul> <li> <p> <b>Default VPC:</b> true</p> </li> <li> <p> <b>VPC:</b>
  false</p> </li> </ul> <p>If no DB subnet group has been specified as part of the
  request and the PubliclyAccessible value has not been set, the DB instance is publicly
  accessible. If a specific DB subnet group has been specified as part of the request
  and the PubliclyAccessible value has not been set, the DB instance is private.</p>\";}s:16:\"StorageEncrypted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:211:\"<p>Specifies
  whether the DB instance is encrypted.</p> <p>Not applicable. The encryption for
  DB instances is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p>
  <p>Default: false</p>\";}s:11:\"StorageType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:133:\"<p>Specifies
  the storage type to be associated with the DB instance.</p> <p>Not applicable. Storage
  is managed by the DB Cluster.</p>\";}s:4:\"Tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";}s:16:\"TdeCredentialArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:83:\"The
  ARN from the key store with which to associate the instance for TDE encryption.\";}s:21:\"TdeCredentialPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"The
  password for the given ARN from the key store in order to access the device.\";}s:8:\"Timezone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  time zone of the DB instance. \";}s:19:\"VpcSecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/VpcSecurityGroupIdList\";s:11:\"description\";s:308:\"<p>A
  list of EC2 VPC security groups to associate with this DB instance.</p> <p>Not applicable.
  The associated list of EC2 VPC security groups is managed by the DB cluster. For
  more information, see <a>CreateDBCluster</a>.</p> <p>Default: The default EC2 VPC
  security group for the DB subnet group's VPC.</p>\";}}s:8:\"required\";a:3:{i:0;s:20:\"DBInstanceIdentifier\";i:1;s:15:\"DBInstanceClass\";i:2;s:6:\"Engine\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateDBInstanceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DBInstance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DBInstance\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateDBParameterGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"DBParameterGroupFamily\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:257:\"The
  DB parameter group family name. A DB parameter group can be associated with one
  and only one DB parameter group family, and can be applied only to a DB instance
  running a database engine and engine version compatible with that DB parameter group
  family.\";}s:20:\"DBParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:333:\"<p>The
  name of the DB parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to
  255 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter</p>
  </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li>
  </ul> <note> <p>This value is stored as a lowercase string.</p> </note>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"The
  description for the DB parameter group.\";}s:4:\"Tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";}}s:8:\"required\";a:3:{i:0;s:20:\"DBParameterGroupName\";i:1;s:22:\"DBParameterGroupFamily\";i:2;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateDBParameterGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"DBParameterGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DBParameterGroup\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CreateDBSubnetGroupMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:24:\"DBSubnetGroupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  description for the DB subnet group.\";}s:17:\"DBSubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:259:\"<p>The
  name for the DB subnet group. This value is stored as a lowercase string.</p> <p>Constraints:
  Must contain no more than 255 letters, numbers, periods, underscores, spaces, or
  hyphens. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SubnetIdentifierList\";s:11:\"description\";s:43:\"The
  EC2 Subnet IDs for the DB subnet group.\";}s:4:\"Tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";}}s:8:\"required\";a:3:{i:0;s:17:\"DBSubnetGroupName\";i:1;s:24:\"DBSubnetGroupDescription\";i:2;s:9:\"SubnetIds\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateDBSubnetGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"DBSubnetGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DBSubnetGroup\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateEventSubscriptionMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:133:\"
  A Boolean value; set to <b>true</b> to activate the subscription, set to <b>false</b>
  to create the subscription but not active it. \";}s:15:\"EventCategories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EventCategoriesList\";s:11:\"description\";s:188:\"
  A list of event categories for a SourceType that you want to subscribe to. You can
  see a list of the categories for a given SourceType by using the <b>DescribeEventCategories</b>
  action. \";}s:11:\"SnsTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:157:\"The
  Amazon Resource Name (ARN) of the SNS topic created for event notification. The
  ARN is created by Amazon SNS when you create a topic and subscribe to it.\";}s:9:\"SourceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SourceIdsList\";s:11:\"description\";s:870:\"<p>The
  list of identifiers of the event sources for which events are returned. If not specified,
  then all sources are included in the response. An identifier must begin with a letter
  and must contain only ASCII letters, digits, and hyphens; it can't end with a hyphen
  or contain two consecutive hyphens.</p> <p>Constraints:</p> <ul> <li> <p>If SourceIds
  are supplied, SourceType must also be provided.</p> </li> <li> <p>If the source
  type is a DB instance, then a <code>DBInstanceIdentifier</code> must be supplied.</p>
  </li> <li> <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code>
  must be supplied.</p> </li> <li> <p>If the source type is a DB parameter group,
  a <code>DBParameterGroupName</code> must be supplied.</p> </li> <li> <p>If the source
  type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be supplied.</p>
  </li> </ul>\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:438:\"<p>The
  type of source that is generating the events. For example, if you want to be notified
  of events generated by a DB instance, you would set this parameter to db-instance.
  if this value is not specified, all events are returned.</p> <p>Valid values: <code>db-instance</code>
  | <code>db-cluster</code> | <code>db-parameter-group</code> | <code>db-security-group</code>
  | <code>db-snapshot</code> | <code>db-cluster-snapshot</code> </p>\";}s:16:\"SubscriptionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:99:\"<p>The
  name of the subscription.</p> <p>Constraints: The name must be less than 255 characters.</p>\";}s:4:\"Tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";}}s:8:\"required\";a:2:{i:0;s:16:\"SubscriptionName\";i:1;s:11:\"SnsTopicArn\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateEventSubscriptionResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"EventSubscription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EventSubscription\";}}s:4:\"type\";s:6:\"object\";}s:9:\"DBCluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"<p>Contains
  the details of an Amazon Neptune DB cluster. </p> <p>This data type is used as a
  response element in the <a>DescribeDBClusters</a> action. </p>\";s:10:\"properties\";O:8:\"stdClass\":35:{s:16:\"AllocatedStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:147:\"
  <code>AllocatedStorage</code> always returns 1, because Neptune DB cluster storage
  size is not fixed, but instead automatically adjusts as needed.\";}s:15:\"AssociatedRoles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DBClusterRoles\";s:11:\"description\";s:239:\"Provides
  a list of the AWS Identity and Access Management (IAM) roles that are associated
  with the DB cluster. IAM roles that are associated with a DB cluster grant permission
  for the DB cluster to access other AWS services on your behalf.\";}s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AvailabilityZones\";s:11:\"description\";s:95:\"Provides
  the list of EC2 Availability Zones that instances in the DB cluster can be created
  in.\";}s:21:\"BackupRetentionPeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:75:\"Specifies
  the number of days for which automatic DB snapshots are retained.\";}s:16:\"CharacterSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:89:\"If
  present, specifies the name of the character set that this cluster is associated
  with.\";}s:12:\"CloneGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"Identifies
  the clone group to which the DB cluster is associated.\";}s:17:\"ClusterCreateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:88:\"Specifies
  the time when the DB cluster was created, in Universal Coordinated Time (UTC).\";}s:12:\"DBClusterArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"The
  Amazon Resource Name (ARN) for the DB cluster.\";}s:19:\"DBClusterIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:111:\"Contains
  a user-supplied DB cluster identifier. This identifier is the unique key that identifies
  a DB cluster.\";}s:16:\"DBClusterMembers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DBClusterMemberList\";s:11:\"description\";s:59:\"Provides
  the list of instances that make up the DB cluster.\";}s:31:\"DBClusterOptionGroupMemberships\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/DBClusterOptionGroupMemberships\";s:11:\"description\";s:66:\"Provides
  the list of option group memberships for this DB cluster.\";}s:23:\"DBClusterParameterGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:72:\"Specifies
  the name of the DB cluster parameter group for the DB cluster.\";}s:13:\"DBSubnetGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:139:\"Specifies
  information on the subnet group associated with the DB cluster, including the name,
  description, and subnets in the subnet group.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:207:\"Contains
  the name of the initial database of this DB cluster that was provided at create
  time, if one was specified when the DB cluster was created. This same name is returned
  for the life of the DB cluster.\";}s:19:\"DbClusterResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:175:\"The
  AWS Region-unique, immutable identifier for the DB cluster. This identifier is found
  in AWS CloudTrail log entries whenever the AWS KMS key for the DB cluster is accessed.\";}s:22:\"EarliestRestorableTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:91:\"Specifies
  the earliest time to which a database can be restored with point-in-time restore.\";}s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:77:\"Specifies
  the connection endpoint for the primary instance of the DB cluster.\";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:72:\"Provides
  the name of the database engine to be used for this DB cluster.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"Indicates
  the database engine version.\";}s:12:\"HostedZoneId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"Specifies
  the ID that Amazon Route 53 assigns when you create a hosted zone.\";}s:32:\"IAMDatabaseAuthenticationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:122:\"True
  if mapping of AWS Identity and Access Management (IAM) accounts to database accounts
  is enabled, and otherwise false.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:98:\"If
  <code>StorageEncrypted</code> is true, the AWS KMS key identifier for the encrypted
  DB cluster.\";}s:20:\"LatestRestorableTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:89:\"Specifies
  the latest time to which a database can be restored with point-in-time restore.\";}s:14:\"MasterUsername\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"Contains
  the master username for the DB cluster.\";}s:7:\"MultiAZ\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:78:\"Specifies
  whether the DB cluster has instances in multiple Availability Zones.\";}s:15:\"PercentProgress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"Specifies
  the progress of the operation as a percentage.\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:60:\"Specifies
  the port that the database engine is listening on.\";}s:21:\"PreferredBackupWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:165:\"Specifies
  the daily time range during which automated backups are created if automated backups
  are enabled, as determined by the <code>BackupRetentionPeriod</code>. \";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:111:\"Specifies
  the weekly time range during which system maintenance can occur, in Universal Coordinated
  Time (UTC).\";}s:22:\"ReadReplicaIdentifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ReadReplicaIdentifierList\";s:11:\"description\";s:86:\"Contains
  one or more identifiers of the Read Replicas associated with this DB cluster.\";}s:14:\"ReaderEndpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:691:\"<p>The
  reader endpoint for the DB cluster. The reader endpoint for a DB cluster load-balances
  connections across the Read Replicas that are available in a DB cluster. As clients
  request new connections to the reader endpoint, Neptune distributes the connection
  requests among the Read Replicas in the DB cluster. This functionality can help
  balance your read workload across multiple Read Replicas in your DB cluster. </p>
  <p>If a failover occurs, and the Read Replica that you are connected to is promoted
  to be the primary instance, your connection is dropped. To continue sending your
  read workload to other Read Replicas in the cluster, you can then reconnect to the
  reader endpoint.</p>\";}s:27:\"ReplicationSourceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:86:\"Contains
  the identifier of the source DB cluster if this DB cluster is a Read Replica.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"Specifies
  the current state of this DB cluster.\";}s:16:\"StorageEncrypted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:46:\"Specifies
  whether the DB cluster is encrypted.\";}s:17:\"VpcSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/VpcSecurityGroupMembershipList\";s:11:\"description\";s:70:\"Provides
  a list of VPC security groups that the DB cluster belongs to.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DBClusterAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"User
  already has a DB cluster with the given identifier.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"DBClusterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DBCluster\";}s:4:\"type\";s:5:\"array\";}s:15:\"DBClusterMember\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Contains
  information about an instance that is part of a DB cluster.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:29:\"DBClusterParameterGroupStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:89:\"Specifies
  the status of the DB cluster parameter group for this member of the DB cluster.\";}s:20:\"DBInstanceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"Specifies
  the instance identifier for this member of the DB cluster.\";}s:15:\"IsClusterWriter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:130:\"Value
  that is <code>true</code> if the cluster member is the primary instance for the
  DB cluster and <code>false</code> otherwise.\";}s:13:\"PromotionTier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:143:\"A
  value that specifies the order in which a Read Replica is promoted to the primary
  instance after a failure of the existing primary instance. \";}}s:4:\"type\";s:6:\"object\";}s:19:\"DBClusterMemberList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DBClusterMember\";}s:4:\"type\";s:5:\"array\";}s:16:\"DBClusterMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Contains
  the result of a successful invocation of the <a>DescribeDBClusters</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DBClusters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DBClusterList\";s:11:\"description\";s:44:\"Contains
  a list of DB clusters for the user.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:79:\"A
  pagination token that can be used in a subsequent DescribeDBClusters request.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DBClusterNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"
  <i>DBClusterIdentifier</i> does not refer to an existing DB cluster. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DBClusterOptionGroupMemberships\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DBClusterOptionGroupStatus\";}s:4:\"type\";s:5:\"array\";}s:26:\"DBClusterOptionGroupStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Contains
  status information for a DB cluster option group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"DBClusterOptionGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"Specifies
  the name of the DB cluster option group.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"Specifies
  the status of the DB cluster option group.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DBClusterParameterGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"<p>Contains
  the details of an Amazon Neptune DB cluster parameter group. </p> <p>This data type
  is used as a response element in the <a>DescribeDBClusterParameterGroups</a> action.
  </p>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:26:\"DBClusterParameterGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:66:\"The
  Amazon Resource Name (ARN) for the DB cluster parameter group.\";}s:27:\"DBClusterParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"Provides
  the name of the DB cluster parameter group.\";}s:22:\"DBParameterGroupFamily\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:107:\"Provides
  the name of the DB parameter group family that this DB cluster parameter group is
  compatible with.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"Provides
  the customer-specified description for this DB cluster parameter group.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DBClusterParameterGroupDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Provides
  details about a DB cluster parameter group including the parameters in the DB cluster
  parameter group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:231:\"
  An optional pagination token provided by a previous DescribeDBClusterParameters
  request. If this parameter is specified, the response includes only records beyond
  the marker, up to the value specified by <code>MaxRecords</code> . \";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ParametersList\";s:11:\"description\";s:65:\"Provides
  a list of parameters for the DB cluster parameter group.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DBClusterParameterGroupList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DBClusterParameterGroup\";}s:4:\"type\";s:5:\"array\";}s:34:\"DBClusterParameterGroupNameMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:27:\"DBClusterParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:331:\"<p>The
  name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must
  be 1 to 255 letters or numbers.</p> </li> <li> <p>First character must be a letter</p>
  </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li>
  </ul> <note> <p>This value is stored as a lowercase string.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:36:\"DBClusterParameterGroupNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"
  <i>DBClusterParameterGroupName</i> does not refer to an existing DB Cluster parameter
  group. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DBClusterParameterGroupsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"DBClusterParameterGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/DBClusterParameterGroupList\";s:11:\"description\";s:38:\"A
  list of DB cluster parameter groups.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:248:\"
  An optional pagination token provided by a previous <code>DescribeDBClusterParameterGroups</code>
  request. If this parameter is specified, the response includes only records beyond
  the marker, up to the value specified by <code>MaxRecords</code>. \";}}s:4:\"type\";s:6:\"object\";}s:27:\"DBClusterQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"User
  attempted to create a new DB cluster and the user has already reached the maximum
  allowed DB cluster quota.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"DBClusterRole\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Describes
  an AWS Identity and Access Management (IAM) role that is associated with a DB cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:86:\"The
  Amazon Resource Name (ARN) of the IAM role that is associated with the DB cluster.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:603:\"<p>Describes
  the state of association between the IAM role and the DB cluster. The Status property
  returns one of the following values:</p> <ul> <li> <p> <code>ACTIVE</code> - the
  IAM role ARN is associated with the DB cluster and can be used to access other AWS
  services on your behalf.</p> </li> <li> <p> <code>PENDING</code> - the IAM role
  ARN is being associated with the DB cluster.</p> </li> <li> <p> <code>INVALID</code>
  - the IAM role ARN is associated with the DB cluster, but the DB cluster is unable
  to assume the IAM role in order to access other AWS services on your behalf.</p>
  </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DBClusterRoleAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  specified IAM role Amazon Resource Name (ARN) is already associated with the specified
  DB cluster.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DBClusterRoleNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  specified IAM role Amazon Resource Name (ARN) is not associated with the specified
  DB cluster.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DBClusterRoleQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"You
  have exceeded the maximum number of IAM roles that can be associated with the specified
  DB cluster.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"DBClusterRoles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DBClusterRole\";}s:4:\"type\";s:5:\"array\";}s:17:\"DBClusterSnapshot\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"<p>Contains
  the details for an Amazon Neptune DB cluster snapshot </p> <p>This data type is
  used as a response element in the <a>DescribeDBClusterSnapshots</a> action. </p>\";s:10:\"properties\";O:8:\"stdClass\":20:{s:16:\"AllocatedStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:56:\"Specifies
  the allocated storage size in gibibytes (GiB).\";}s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AvailabilityZones\";s:11:\"description\";s:105:\"Provides
  the list of EC2 Availability Zones that instances in the DB cluster snapshot can
  be restored in.\";}s:17:\"ClusterCreateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:88:\"Specifies
  the time when the DB cluster was created, in Universal Coordinated Time (UTC).\";}s:19:\"DBClusterIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:101:\"Specifies
  the DB cluster identifier of the DB cluster that this DB cluster snapshot was created
  from.\";}s:20:\"DBClusterSnapshotArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) for the DB cluster snapshot.\";}s:27:\"DBClusterSnapshotIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"Specifies
  the identifier for the DB cluster snapshot.\";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"Specifies
  the name of the database engine.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:73:\"Provides
  the version of the database engine for this DB cluster snapshot.\";}s:32:\"IAMDatabaseAuthenticationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:122:\"True
  if mapping of AWS Identity and Access Management (IAM) accounts to database accounts
  is enabled, and otherwise false.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:107:\"If
  <code>StorageEncrypted</code> is true, the AWS KMS key identifier for the encrypted
  DB cluster snapshot.\";}s:12:\"LicenseModel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"Provides
  the license model information for this DB cluster snapshot.\";}s:14:\"MasterUsername\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"Provides
  the master username for the DB cluster snapshot.\";}s:15:\"PercentProgress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:73:\"Specifies
  the percentage of the estimated data that has been transferred.\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:84:\"Specifies
  the port that the DB cluster was listening on at the time of the snapshot.\";}s:18:\"SnapshotCreateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:83:\"Provides
  the time when the snapshot was taken, in Universal Coordinated Time (UTC).\";}s:12:\"SnapshotType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"Provides
  the type of the DB cluster snapshot.\";}s:26:\"SourceDBClusterSnapshotArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:164:\"If
  the DB cluster snapshot was copied from a source DB cluster snapshot, the Amazon
  Resource Name (ARN) for the source DB cluster snapshot, otherwise, a null value.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"Specifies
  the status of this DB cluster snapshot.\";}s:16:\"StorageEncrypted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:55:\"Specifies
  whether the DB cluster snapshot is encrypted.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:60:\"Provides
  the VPC ID associated with the DB cluster snapshot.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DBClusterSnapshotAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"User
  already has a DB cluster snapshot with the given identifier.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DBClusterSnapshotAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:287:\"<p>Contains
  the name and values of a manual DB cluster snapshot attribute.</p> <p>Manual DB
  cluster snapshot attributes are used to authorize other AWS accounts to restore
  a manual DB cluster snapshot. For more information, see the <a>ModifyDBClusterSnapshotAttribute</a>
  API action.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:297:\"<p>The
  name of the manual DB cluster snapshot attribute.</p> <p>The attribute named <code>restore</code>
  refers to the list of AWS accounts that have permission to copy or restore the manual
  DB cluster snapshot. For more information, see the <a>ModifyDBClusterSnapshotAttribute</a>
  API action.</p>\";}s:15:\"AttributeValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AttributeValueList\";s:11:\"description\";s:422:\"<p>The
  value(s) for the manual DB cluster snapshot attribute.</p> <p>If the <code>AttributeName</code>
  field is set to <code>restore</code>, then this element returns a list of IDs of
  the AWS accounts that are authorized to copy or restore the manual DB cluster snapshot.
  If a value of <code>all</code> is in the list, then the manual DB cluster snapshot
  is public and available for any AWS account to copy or restore.</p>\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DBClusterSnapshotAttributeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DBClusterSnapshotAttribute\";}s:4:\"type\";s:5:\"array\";}s:33:\"DBClusterSnapshotAttributesResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:327:\"<p>Contains
  the results of a successful call to the <a>DescribeDBClusterSnapshotAttributes</a>
  API action.</p> <p>Manual DB cluster snapshot attributes are used to authorize other
  AWS accounts to copy or restore a manual DB cluster snapshot. For more information,
  see the <a>ModifyDBClusterSnapshotAttribute</a> API action.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:27:\"DBClusterSnapshotAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/DBClusterSnapshotAttributeList\";s:11:\"description\";s:69:\"The
  list of attributes and values for the manual DB cluster snapshot.\";}s:27:\"DBClusterSnapshotIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:78:\"The
  identifier of the manual DB cluster snapshot that the attributes apply to.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DBClusterSnapshotList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DBClusterSnapshot\";}s:4:\"type\";s:5:\"array\";}s:24:\"DBClusterSnapshotMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"
  Provides a list of DB cluster snapshots for the user as the result of a call to
  the <a>DescribeDBClusterSnapshots</a> action. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"DBClusterSnapshots\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DBClusterSnapshotList\";s:11:\"description\";s:53:\"Provides
  a list of DB cluster snapshots for the user.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:236:\"
  An optional pagination token provided by a previous <a>DescribeDBClusterSnapshots</a>
  request. If this parameter is specified, the response includes only records beyond
  the marker, up to the value specified by <code>MaxRecords</code>. \";}}s:4:\"type\";s:6:\"object\";}s:30:\"DBClusterSnapshotNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"
  <i>DBClusterSnapshotIdentifier</i> does not refer to an existing DB cluster snapshot.
  \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"DBEngineVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"
  This data type is used as a response element in the action <a>DescribeDBEngineVersions</a>.
  \";s:10:\"properties\";O:8:\"stdClass\":12:{s:19:\"DBEngineDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  description of the database engine.\";}s:26:\"DBEngineVersionDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"The
  description of the database engine version.\";}s:22:\"DBParameterGroupFamily\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:66:\"The
  name of the DB parameter group family for the database engine.\";}s:19:\"DefaultCharacterSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CharacterSet\";s:11:\"description\";s:162:\"
  The default character set for new instances of this engine version, if the <code>CharacterSetName</code>
  parameter of the CreateDBInstance API is not specified. \";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  name of the database engine.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  version number of the database engine.\";}s:18:\"ExportableLogTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LogTypeList\";s:11:\"description\";s:87:\"The
  types of logs that the database engine has available for export to CloudWatch Logs.\";}s:22:\"SupportedCharacterSets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/SupportedCharacterSetsList\";s:11:\"description\";s:148:\"
  A list of the character sets supported by this engine for the <code>CharacterSetName</code>
  parameter of the <code>CreateDBInstance</code> action. \";}s:18:\"SupportedTimezones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/SupportedTimezonesList\";s:11:\"description\";s:135:\"A
  list of the time zones supported by this engine for the <code>Timezone</code> parameter
  of the <code>CreateDBInstance</code> action. \";}s:34:\"SupportsLogExportsToCloudwatchLogs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:134:\"A
  value that indicates whether the engine version supports exporting the log types
  specified by ExportableLogTypes to CloudWatch Logs.\";}s:19:\"SupportsReadReplica\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:69:\"Indicates
  whether the database engine version supports read replicas.\";}s:18:\"ValidUpgradeTarget\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ValidUpgradeTargetList\";s:11:\"description\";s:79:\"A
  list of engine versions that this database engine version can be upgraded to.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DBEngineVersionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DBEngineVersion\";}s:4:\"type\";s:5:\"array\";}s:22:\"DBEngineVersionMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"
  Contains the result of a successful invocation of the <a>DescribeDBEngineVersions</a>
  action. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"DBEngineVersions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DBEngineVersionList\";s:11:\"description\";s:50:\"
  A list of <code>DBEngineVersion</code> elements. \";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}}s:4:\"type\";s:6:\"object\";}s:10:\"DBInstance\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"<p>Contains
  the details of an Amazon Neptune DB instance. </p> <p>This data type is used as
  a response element in the <a>DescribeDBInstances</a> action. </p>\";s:10:\"properties\";O:8:\"stdClass\":52:{s:16:\"AllocatedStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:60:\"Specifies
  the allocated storage size specified in gibibytes.\";}s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:63:\"Indicates
  that minor version patches are applied automatically.\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:74:\"Specifies
  the name of the Availability Zone the DB instance is located in.\";}s:21:\"BackupRetentionPeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:75:\"Specifies
  the number of days for which automatic DB snapshots are retained.\";}s:23:\"CACertificateIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"The
  identifier of the CA certificate for this DB instance.\";}s:16:\"CharacterSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:90:\"If
  present, specifies the name of the character set that this instance is associated
  with.\";}s:18:\"CopyTagsToSnapshot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:87:\"Specifies
  whether tags are copied from the DB instance to snapshots of the DB instance.\";}s:19:\"DBClusterIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:120:\"If
  the DB instance is a member of a DB cluster, contains the name of the DB cluster
  that the DB instance is a member of.\";}s:13:\"DBInstanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  Amazon Resource Name (ARN) for the DB instance.\";}s:15:\"DBInstanceClass\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:78:\"Contains
  the name of the compute and memory capacity class of the DB instance.\";}s:20:\"DBInstanceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:110:\"Contains
  a user-supplied database identifier. This identifier is the unique key that identifies
  a DB instance.\";}s:16:\"DBInstanceStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"Specifies
  the current state of this database.\";}s:6:\"DBName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  database name.\";}s:17:\"DBParameterGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/DBParameterGroupStatusList\";s:11:\"description\";s:69:\"Provides
  the list of DB parameter groups applied to this DB instance.\";}s:16:\"DBSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/DBSecurityGroupMembershipList\";s:11:\"description\";s:148:\"
  Provides List of DB security group elements containing only <code>DBSecurityGroup.Name</code>
  and <code>DBSecurityGroup.Status</code> subelements. \";}s:13:\"DBSubnetGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DBSubnetGroup\";s:11:\"description\";s:140:\"Specifies
  information on the subnet group associated with the DB instance, including the name,
  description, and subnets in the subnet group.\";}s:14:\"DbInstancePort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:150:\"Specifies
  the port that the DB instance listens on. If the DB instance is part of a DB cluster,
  this can be a different port than the DB cluster port.\";}s:13:\"DbiResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:177:\"The
  AWS Region-unique, immutable identifier for the DB instance. This identifier is
  found in AWS CloudTrail log entries whenever the AWS KMS key for the DB instance
  is accessed.\";}s:17:\"DomainMemberships\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DomainMembershipList\";s:11:\"description\";s:13:\"Not
  supported\";}s:28:\"EnabledCloudwatchLogsExports\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LogTypeList\";s:11:\"description\";s:85:\"A
  list of log types that this DB instance is configured to export to CloudWatch Logs.\";}s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";s:11:\"description\";s:34:\"Specifies
  the connection endpoint.\";}s:6:\"Engine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:73:\"Provides
  the name of the database engine to be used for this DB instance.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"Indicates
  the database engine version.\";}s:29:\"EnhancedMonitoringResourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:143:\"The
  Amazon Resource Name (ARN) of the Amazon CloudWatch Logs log stream that receives
  the Enhanced Monitoring metrics data for the DB instance.\";}s:32:\"IAMDatabaseAuthenticationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:96:\"True
  if AWS Identity and Access Management (IAM) authentication is enabled, and otherwise
  false.\";}s:18:\"InstanceCreateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:55:\"Provides
  the date and time the DB instance was created.\";}s:4:\"Iops\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:65:\"Specifies
  the Provisioned IOPS (I/O operations per second) value.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:101:\"
  If <code>StorageEncrypted</code> is true, the AWS KMS key identifier for the encrypted
  DB instance. \";}s:20:\"LatestRestorableTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:89:\"Specifies
  the latest time to which a database can be restored with point-in-time restore.\";}s:12:\"LicenseModel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"License
  model information for this DB instance.\";}s:14:\"MasterUsername\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"Contains
  the master username for the DB instance.\";}s:18:\"MonitoringInterval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:108:\"The
  interval, in seconds, between points when Enhanced Monitoring metrics are collected
  for the DB instance.\";}s:17:\"MonitoringRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:108:\"The
  ARN for the IAM role that permits Neptune to send Enhanced Monitoring metrics to
  Amazon CloudWatch Logs.\";}s:7:\"MultiAZ\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:54:\"Specifies
  if the DB instance is a Multi-AZ deployment.\";}s:22:\"OptionGroupMemberships\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/OptionGroupMembershipList\";s:11:\"description\";s:67:\"Provides
  the list of option group memberships for this DB instance.\";}s:21:\"PendingModifiedValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PendingModifiedValues\";s:11:\"description\";s:158:\"Specifies
  that changes to the DB instance are pending. This element is only included when
  changes are pending. Specific changes are identified by subelements.\";}s:26:\"PerformanceInsightsEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:81:\"True
  if Performance Insights is enabled for the DB instance, and otherwise false.\";}s:27:\"PerformanceInsightsKMSKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:190:\"The
  AWS KMS key identifier for encryption of Performance Insights data. The KMS key
  ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for
  the KMS encryption key.\";}s:21:\"PreferredBackupWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:166:\"
  Specifies the daily time range during which automated backups are created if automated
  backups are enabled, as determined by the <code>BackupRetentionPeriod</code>. \";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:111:\"Specifies
  the weekly time range during which system maintenance can occur, in Universal Coordinated
  Time (UTC).\";}s:13:\"PromotionTier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:143:\"A
  value that specifies the order in which a Read Replica is promoted to the primary
  instance after a failure of the existing primary instance. \";}s:18:\"PubliclyAccessible\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:857:\"<p>Specifies
  the accessibility options for the DB instance. A value of true specifies an Internet-facing
  instance with a publicly resolvable DNS name, which resolves to a public IP address.
  A value of false specifies an internal instance with a DNS name that resolves to
  a private IP address.</p> <p>Default: The default behavior varies depending on whether
  a VPC has been requested or not. The following list shows the default behavior in
  each case.</p> <ul> <li> <p> <b>Default VPC:</b>true</p> </li> <li> <p> <b>VPC:</b>false</p>
  </li> </ul> <p>If no DB subnet group has been specified as part of the request and
  the PubliclyAccessible value has not been set, the DB instance is publicly accessible.
  If a specific DB subnet group has been specified as part of the request and the
  PubliclyAccessible value has not been set, the DB instance is private.</p>\";}s:31:\"ReadReplicaDBClusterIdentifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/ReadReplicaDBClusterIdentifierList\";s:11:\"description\";s:91:\"Contains
  one or more identifiers of DB clusters that are Read Replicas of this DB instance.\";}s:32:\"ReadReplicaDBInstanceIdentifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/ReadReplicaDBInstanceIdentifierList\";s:11:\"description\";s:87:\"Contains
  one or more identifiers of the Read Replicas associated with this DB instance.\";}s:37:\"ReadReplicaSourceDBInstanceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:88:\"Contains
  the identifier of the source DB instance if this DB instance is a Read Replica.\";}s:25:\"SecondaryAvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:106:\"If
  present, specifies the name of the secondary Availability Zone for a DB instance
  with multi-AZ support.\";}s:11:\"StatusInfos\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DBInstanceStatusInfoList\";s:11:\"description\";s:83:\"The
  status of a Read Replica. If the instance is not a Read Replica, this is blank.\";}s:16:\"StorageEncrypted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:47:\"Specifies
  whether the DB instance is encrypted.\";}s:11:\"StorageType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"Specifies
  the storage type associated with DB instance.\";}s:16:\"TdeCredentialArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:84:\"The
  ARN from the key store with which the instance is associated for TDE encryption.\";}s:8:\"Timezone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:15:\"Not
  supported. \";}s:17:\"VpcSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/VpcSecurityGroupMembershipList\";s:11:\"description\";s:79:\"Provides
  a list of VPC security group elements that the DB instance belongs to.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DBInstanceAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"User
  already has a DB instance with the given identifier.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"DBInstanceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DBInstance\";}s:4:\"type\";s:5:\"array\";}s:17:\"DBInstanceMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"
  Contains the result of a successful invocation of the <a>DescribeDBInstances</a>
  action. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DBInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DBInstanceList\";s:11:\"description\";s:40:\"
  A list of <a>DBInstance</a> instances. \";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:203:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code> . \";}}s:4:\"type\";s:6:\"object\";}s:23:\"DBInstanceNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"
[...]
