---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":13:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:34:\"Amazon
  Relational Database Service\";s:7:\"version\";s:10:\"2013-02-12\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/rds-2013-02-12.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"rds\";}"
host: rds.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: AddSourceIdentifierToSubscription
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddSourceIdentifierToSubscriptionMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AddSourceIdentifierToSubscriptionResult'
        480:
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        481:
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
  /#AddTagsToResource:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: AddTagsToResource
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddTagsToResourceMessage'
      responses:
        200:
          description: Success
        480:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        481:
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
  /#AuthorizeDBSecurityGroupIngress:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: AuthorizeDBSecurityGroupIngress
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AuthorizeDBSecurityGroupIngressMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeDBSecurityGroupIngressResult'
        480:
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        481:
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        482:
          description: AuthorizationAlreadyExistsFault
          schema:
            $ref: '#/definitions/AuthorizationAlreadyExistsFault'
        483:
          description: AuthorizationQuotaExceededFault
          schema:
            $ref: '#/definitions/AuthorizationQuotaExceededFault'
  /#CopyDBSnapshot:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CopyDBSnapshot
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CopyDBSnapshotMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CopyDBSnapshotResult'
        480:
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        481:
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        482:
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        483:
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
  /#CreateDBInstance:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CreateDBInstance
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDBInstanceMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        480:
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        481:
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        482:
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        483:
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        484:
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        485:
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        486:
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        487:
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        488:
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        489:
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        490:
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        491:
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
  /#CreateDBInstanceReadReplica:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CreateDBInstanceReadReplica
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDBInstanceReadReplicaMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceReadReplicaResult'
        480:
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        481:
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        482:
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        483:
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        484:
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        485:
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        486:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        487:
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        488:
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        489:
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        490:
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        491:
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        492:
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        493:
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
  /#CreateDBParameterGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CreateDBParameterGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDBParameterGroupMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDBParameterGroupResult'
        480:
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        481:
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
  /#CreateDBSecurityGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CreateDBSecurityGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDBSecurityGroupMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSecurityGroupResult'
        480:
          description: DBSecurityGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSecurityGroupAlreadyExistsFault'
        481:
          description: DBSecurityGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSecurityGroupQuotaExceededFault'
        482:
          description: DBSecurityGroupNotSupportedFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotSupportedFault'
  /#CreateDBSnapshot:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CreateDBSnapshot
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDBSnapshotMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSnapshotResult'
        480:
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        481:
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        482:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        483:
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
  /#CreateDBSubnetGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CreateDBSubnetGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDBSubnetGroupMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupResult'
        480:
          description: DBSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSubnetGroupAlreadyExistsFault'
        481:
          description: DBSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetGroupQuotaExceededFault'
        482:
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        483:
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        484:
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
  /#CreateEventSubscription:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CreateEventSubscription
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateEventSubscriptionMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateEventSubscriptionResult'
        480:
          description: EventSubscriptionQuotaExceededFault
          schema:
            $ref: '#/definitions/EventSubscriptionQuotaExceededFault'
        481:
          description: SubscriptionAlreadyExistFault
          schema:
            $ref: '#/definitions/SubscriptionAlreadyExistFault'
        482:
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        483:
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
        484:
          description: SNSTopicArnNotFoundFault
          schema:
            $ref: '#/definitions/SNSTopicArnNotFoundFault'
        485:
          description: SubscriptionCategoryNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionCategoryNotFoundFault'
        486:
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
  /#CreateOptionGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CreateOptionGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateOptionGroupMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateOptionGroupResult'
        480:
          description: OptionGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/OptionGroupAlreadyExistsFault'
        481:
          description: OptionGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/OptionGroupQuotaExceededFault'
  /#DeleteDBInstance:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DeleteDBInstance
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteDBInstanceMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBInstanceResult'
        480:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        481:
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        482:
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        483:
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
  /#DeleteDBParameterGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DeleteDBParameterGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteDBParameterGroupMessage'
      responses:
        200:
          description: Success
        480:
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        481:
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
  /#DeleteDBSecurityGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DeleteDBSecurityGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteDBSecurityGroupMessage'
      responses:
        200:
          description: Success
        480:
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        481:
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
  /#DeleteDBSnapshot:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DeleteDBSnapshot
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteDBSnapshotMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBSnapshotResult'
        480:
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        481:
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
  /#DeleteDBSubnetGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DeleteDBSubnetGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteDBSubnetGroupMessage'
      responses:
        200:
          description: Success
        480:
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        481:
          description: InvalidDBSubnetStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetStateFault'
        482:
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
  /#DeleteEventSubscription:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DeleteEventSubscription
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteEventSubscriptionMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteEventSubscriptionResult'
        480:
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        481:
          description: InvalidEventSubscriptionStateFault
          schema:
            $ref: '#/definitions/InvalidEventSubscriptionStateFault'
  /#DeleteOptionGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DeleteOptionGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteOptionGroupMessage'
      responses:
        200:
          description: Success
        480:
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
        481:
          description: InvalidOptionGroupStateFault
          schema:
            $ref: '#/definitions/InvalidOptionGroupStateFault'
  /#DescribeDBEngineVersions:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeDBEngineVersions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDBEngineVersionsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DBEngineVersionMessage'
  /#DescribeDBInstances:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeDBInstances
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDBInstancesMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DBInstanceMessage'
        480:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
  /#DescribeDBLogFiles:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeDBLogFiles
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDBLogFilesMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeDBLogFilesResponse'
        480:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
  /#DescribeDBParameterGroups:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeDBParameterGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDBParameterGroupsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupsMessage'
        480:
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
  /#DescribeDBParameters:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeDBParameters
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDBParametersMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupDetails'
        480:
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
  /#DescribeDBSecurityGroups:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeDBSecurityGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDBSecurityGroupsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DBSecurityGroupMessage'
        480:
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
  /#DescribeDBSnapshots:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeDBSnapshots
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDBSnapshotsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DBSnapshotMessage'
        480:
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
  /#DescribeDBSubnetGroups:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeDBSubnetGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDBSubnetGroupsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DBSubnetGroupMessage'
        480:
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
  /#DescribeEngineDefaultParameters:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeEngineDefaultParameters
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEngineDefaultParametersMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEngineDefaultParametersResult'
  /#DescribeEventCategories:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeEventCategories
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEventCategoriesMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/EventCategoriesMessage'
  /#DescribeEventSubscriptions:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeEventSubscriptions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEventSubscriptionsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/EventSubscriptionsMessage'
        480:
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
  /#DescribeEvents:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeEvents
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEventsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/EventsMessage'
  /#DescribeOptionGroupOptions:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeOptionGroupOptions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeOptionGroupOptionsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/OptionGroupOptionsMessage'
  /#DescribeOptionGroups:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeOptionGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeOptionGroupsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/OptionGroups'
        480:
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
  /#DescribeOrderableDBInstanceOptions:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeOrderableDBInstanceOptions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeOrderableDBInstanceOptionsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/OrderableDBInstanceOptionsMessage'
  /#DescribeReservedDBInstances:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeReservedDBInstances
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeReservedDBInstancesMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReservedDBInstanceMessage'
        480:
          description: ReservedDBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/ReservedDBInstanceNotFoundFault'
  /#DescribeReservedDBInstancesOfferings:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeReservedDBInstancesOfferings
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeReservedDBInstancesOfferingsMessage'
      - description: Pagination limit
        in: query
        name: MaxRecords
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReservedDBInstancesOfferingMessage'
        480:
          description: ReservedDBInstancesOfferingNotFoundFault
          schema:
            $ref: '#/definitions/ReservedDBInstancesOfferingNotFoundFault'
  /#DownloadDBLogFilePortion:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DownloadDBLogFilePortion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DownloadDBLogFilePortionMessage'
      - description: Pagination limit
        in: query
        name: NumberOfLines
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DownloadDBLogFilePortionDetails'
        480:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        481:
          description: DBLogFileNotFoundFault
          schema:
            $ref: '#/definitions/DBLogFileNotFoundFault'
  /#ListTagsForResource:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: ListTagsForResource
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListTagsForResourceMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TagListMessage'
        480:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        481:
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
  /#ModifyDBInstance:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: ModifyDBInstance
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ModifyDBInstanceMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ModifyDBInstanceResult'
        480:
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        481:
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        482:
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        483:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        484:
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        485:
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        486:
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        487:
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        488:
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        489:
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        490:
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
        491:
          description: DBUpgradeDependencyFailureFault
          schema:
            $ref: '#/definitions/DBUpgradeDependencyFailureFault'
  /#ModifyDBParameterGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: ModifyDBParameterGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ModifyDBParameterGroupMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupNameMessage'
        480:
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        481:
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
  /#ModifyDBSubnetGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: ModifyDBSubnetGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ModifyDBSubnetGroupMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ModifyDBSubnetGroupResult'
        480:
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        481:
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        482:
          description: SubnetAlreadyInUse
          schema:
            $ref: '#/definitions/SubnetAlreadyInUse'
        483:
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        484:
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
  /#ModifyEventSubscription:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: ModifyEventSubscription
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ModifyEventSubscriptionMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ModifyEventSubscriptionResult'
        480:
          description: EventSubscriptionQuotaExceededFault
          schema:
            $ref: '#/definitions/EventSubscriptionQuotaExceededFault'
        481:
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        482:
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        483:
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
        484:
          description: SNSTopicArnNotFoundFault
          schema:
            $ref: '#/definitions/SNSTopicArnNotFoundFault'
        485:
          description: SubscriptionCategoryNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionCategoryNotFoundFault'
  /#ModifyOptionGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: ModifyOptionGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ModifyOptionGroupMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ModifyOptionGroupResult'
        480:
          description: InvalidOptionGroupStateFault
          schema:
            $ref: '#/definitions/InvalidOptionGroupStateFault'
        481:
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
  /#PromoteReadReplica:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: PromoteReadReplica
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PromoteReadReplicaMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PromoteReadReplicaResult'
        480:
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        481:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
  /#PurchaseReservedDBInstancesOffering:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: PurchaseReservedDBInstancesOffering
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PurchaseReservedDBInstancesOfferingMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PurchaseReservedDBInstancesOfferingResult'
        480:
          description: ReservedDBInstancesOfferingNotFoundFault
          schema:
            $ref: '#/definitions/ReservedDBInstancesOfferingNotFoundFault'
        481:
          description: ReservedDBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ReservedDBInstanceAlreadyExistsFault'
        482:
          description: ReservedDBInstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/ReservedDBInstanceQuotaExceededFault'
  /#RebootDBInstance:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: RebootDBInstance
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RebootDBInstanceMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RebootDBInstanceResult'
        480:
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        481:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
  /#RemoveSourceIdentifierFromSubscription:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: RemoveSourceIdentifierFromSubscription
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RemoveSourceIdentifierFromSubscriptionMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RemoveSourceIdentifierFromSubscriptionResult'
        480:
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        481:
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
  /#RemoveTagsFromResource:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: RemoveTagsFromResource
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RemoveTagsFromResourceMessage'
      responses:
        200:
          description: Success
        480:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        481:
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
  /#ResetDBParameterGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: ResetDBParameterGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ResetDBParameterGroupMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupNameMessage'
        480:
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        481:
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
  /#RestoreDBInstanceFromDBSnapshot:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: RestoreDBInstanceFromDBSnapshot
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RestoreDBInstanceFromDBSnapshotMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RestoreDBInstanceFromDBSnapshotResult'
        480:
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        481:
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        482:
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        483:
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        484:
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        485:
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        486:
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        487:
          description: InvalidRestoreFault
          schema:
            $ref: '#/definitions/InvalidRestoreFault'
        488:
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        489:
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        490:
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        491:
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        492:
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
  /#RestoreDBInstanceToPointInTime:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: RestoreDBInstanceToPointInTime
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RestoreDBInstanceToPointInTimeMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RestoreDBInstanceToPointInTimeResult'
        480:
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        481:
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        482:
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        483:
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        484:
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        485:
          description: PointInTimeRestoreNotEnabledFault
          schema:
            $ref: '#/definitions/PointInTimeRestoreNotEnabledFault'
        486:
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        487:
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        488:
          description: InvalidRestoreFault
          schema:
            $ref: '#/definitions/InvalidRestoreFault'
        489:
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        490:
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        491:
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        492:
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        493:
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
  /#RevokeDBSecurityGroupIngress:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: RevokeDBSecurityGroupIngress
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RevokeDBSecurityGroupIngressMessage'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RevokeDBSecurityGroupIngressResult'
        480:
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        481:
          description: AuthorizationNotFoundFault
          schema:
            $ref: '#/definitions/AuthorizationNotFoundFault'
        482:
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":236:{s:40:\"AddSourceIdentifierToSubscriptionMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"SourceIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:16:\"SubscriptionName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:2:{i:0;s:16:\"SubscriptionName\";i:1;s:16:\"SourceIdentifier\";}s:4:\"type\";s:6:\"object\";}s:39:\"AddSourceIdentifierToSubscriptionResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"EventSubscription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EventSubscription\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AddTagsToResourceMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ResourceName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";}}s:8:\"required\";a:2:{i:0;s:12:\"ResourceName\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:11:\"ApplyMethod\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"immediate\";i:1;s:14:\"pending-reboot\";}s:4:\"type\";s:6:\"string\";}s:31:\"AuthorizationAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  specified CIDRIP or Amazon EC2 security group is already authorized for the specified
  DB security group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"AuthorizationNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"<p>The
  specified CIDRIP or Amazon EC2 security group isn't authorized for the specified
  DB security group.</p> <p>RDS also may not be authorized by using IAM to perform
  necessary actions on your behalf.</p>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"AuthorizationQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  DB security group authorization quota has been reached.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:38:\"AuthorizeDBSecurityGroupIngressMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"CIDRIP\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:19:\"DBSecurityGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:18:\"EC2SecurityGroupId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"EC2SecurityGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:23:\"EC2SecurityGroupOwnerId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:1:{i:0;s:19:\"DBSecurityGroupName\";}s:4:\"type\";s:6:\"object\";}s:37:\"AuthorizeDBSecurityGroupIngressResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"DBSecurityGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DBSecurityGroup\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:22:\"ProvisionedIopsCapable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AvailabilityZoneList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AvailabilityZone\";}s:4:\"type\";s:5:\"array\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"BooleanOptional\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"CharacterSet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"CharacterSetDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:16:\"CharacterSetName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CopyDBSnapshotMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"SourceDBSnapshotIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:26:\"TargetDBSnapshotIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:2:{i:0;s:26:\"SourceDBSnapshotIdentifier\";i:1;s:26:\"TargetDBSnapshotIdentifier\";}s:4:\"type\";s:6:\"object\";}s:20:\"CopyDBSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DBSnapshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DBSnapshot\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateDBInstanceMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":24:{s:16:\"AllocatedStorage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";}s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:21:\"BackupRetentionPeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";}s:16:\"CharacterSetName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:15:\"DBInstanceClass\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"DBInstanceIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:6:\"DBName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"DBParameterGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:16:\"DBSecurityGroups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DBSecurityGroupNameList\";}s:17:\"DBSubnetGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:6:\"Engine\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:13:\"EngineVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Iops\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";}s:12:\"LicenseModel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:18:\"MasterUserPassword\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:14:\"MasterUsername\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:7:\"MultiAZ\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";}s:15:\"OptionGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Port\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";}s:21:\"PreferredBackupWindow\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:18:\"PubliclyAccessible\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";}s:19:\"VpcSecurityGroupIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/VpcSecurityGroupIdList\";}}s:8:\"required\";a:6:{i:0;s:20:\"DBInstanceIdentifier\";i:1;s:16:\"AllocatedStorage\";i:2;s:15:\"DBInstanceClass\";i:3;s:6:\"Engine\";i:4;s:14:\"MasterUsername\";i:5;s:18:\"MasterUserPassword\";}s:4:\"type\";s:6:\"object\";}s:34:\"CreateDBInstanceReadReplicaMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:15:\"DBInstanceClass\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"DBInstanceIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Iops\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";}s:15:\"OptionGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Port\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";}s:18:\"PubliclyAccessible\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";}s:26:\"SourceDBInstanceIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:2:{i:0;s:20:\"DBInstanceIdentifier\";i:1;s:26:\"SourceDBInstanceIdentifier\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreateDBInstanceReadReplicaResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DBInstance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DBInstance\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CreateDBInstanceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DBInstance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DBInstance\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateDBParameterGroupMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"DBParameterGroupFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"DBParameterGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:3:{i:0;s:20:\"DBParameterGroupName\";i:1;s:22:\"DBParameterGroupFamily\";i:2;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateDBParameterGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"DBParameterGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DBParameterGroup\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateDBSecurityGroupMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"DBSecurityGroupDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:19:\"DBSecurityGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:2:{i:0;s:19:\"DBSecurityGroupName\";i:1;s:26:\"DBSecurityGroupDescription\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateDBSecurityGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"DBSecurityGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DBSecurityGroup\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateDBSnapshotMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"DBInstanceIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"DBSnapshotIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:2:{i:0;s:20:\"DBSnapshotIdentifier\";i:1;s:20:\"DBInstanceIdentifier\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateDBSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DBSnapshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DBSnapshot\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CreateDBSubnetGroupMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:24:\"DBSubnetGroupDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:17:\"DBSubnetGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:9:\"SubnetIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SubnetIdentifierList\";}}s:8:\"required\";a:3:{i:0;s:17:\"DBSubnetGroupName\";i:1;s:24:\"DBSubnetGroupDescription\";i:2;s:9:\"SubnetIds\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateDBSubnetGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"DBSubnetGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DBSubnetGroup\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateEventSubscriptionMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"Enabled\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";}s:15:\"EventCategories\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EventCategoriesList\";}s:11:\"SnsTopicArn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:9:\"SourceIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SourceIdsList\";}s:10:\"SourceType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:16:\"SubscriptionName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:2:{i:0;s:16:\"SubscriptionName\";i:1;s:11:\"SnsTopicArn\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateEventSubscriptionResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"EventSubscription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EventSubscription\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateOptionGroupMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"EngineName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:18:\"MajorEngineVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:22:\"OptionGroupDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:15:\"OptionGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:4:{i:0;s:15:\"OptionGroupName\";i:1;s:10:\"EngineName\";i:2;s:18:\"MajorEngineVersion\";i:3;s:22:\"OptionGroupDescription\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateOptionGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"OptionGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OptionGroup\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DBEngineVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"DBEngineDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:26:\"DBEngineVersionDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:22:\"DBParameterGroupFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:19:\"DefaultCharacterSet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CharacterSet\";}s:6:\"Engine\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:13:\"EngineVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:22:\"SupportedCharacterSets\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/SupportedCharacterSetsList\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DBEngineVersionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DBEngineVersion\";}s:4:\"type\";s:5:\"array\";}s:22:\"DBEngineVersionMessage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"DBEngineVersions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DBEngineVersionList\";}s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DBInstance\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":30:{s:16:\"AllocatedStorage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";}s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:21:\"BackupRetentionPeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";}s:16:\"CharacterSetName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:15:\"DBInstanceClass\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"DBInstanceIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:16:\"DBInstanceStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:6:\"DBName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:17:\"DBParameterGroups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DBParameterGroupStatusList\";}s:16:\"DBSecurityGroups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/DBSecurityGroupMembershipList\";}s:13:\"DBSubnetGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DBSubnetGroup\";}s:8:\"Endpoint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";}s:6:\"Engine\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:13:\"EngineVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:18:\"InstanceCreateTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";}s:4:\"Iops\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";}s:20:\"LatestRestorableTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";}s:12:\"LicenseModel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:14:\"MasterUsername\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:7:\"MultiAZ\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";}s:22:\"OptionGroupMemberships\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/OptionGroupMembershipList\";}s:21:\"PendingModifiedValues\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PendingModifiedValues\";}s:21:\"PreferredBackupWindow\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:18:\"PubliclyAccessible\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";}s:32:\"ReadReplicaDBInstanceIdentifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/ReadReplicaDBInstanceIdentifierList\";}s:37:\"ReadReplicaSourceDBInstanceIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:25:\"SecondaryAvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:17:\"VpcSecurityGroups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/VpcSecurityGroupMembershipList\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DBInstanceAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  user already has a DB instance with the given identifier.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"DBInstanceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DBInstance\";}s:4:\"type\";s:5:\"array\";}s:17:\"DBInstanceMessage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DBInstances\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DBInstanceList\";}s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DBInstanceNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"
  <i>DBInstanceIdentifier</i> doesn't refer to an existing DB instance. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DBLogFileNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"
  <i>LogFileName</i> doesn't refer to an existing DB log file.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"DBParameterGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"DBParameterGroupFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"DBParameterGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DBParameterGroupAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  DB parameter group with the same name exists.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DBParameterGroupDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:10:\"Parameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ParametersList\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DBParameterGroupList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DBParameterGroup\";}s:4:\"type\";s:5:\"array\";}s:27:\"DBParameterGroupNameMessage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"DBParameterGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DBParameterGroupNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"
  <i>DBParameterGroupName</i> doesn't refer to an existing DB parameter group. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"DBParameterGroupQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"The
  request would result in the user exceeding the allowed number of DB parameter groups.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DBParameterGroupStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"DBParameterGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"ParameterApplyStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DBParameterGroupStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DBParameterGroupStatus\";}s:4:\"type\";s:5:\"array\";}s:24:\"DBParameterGroupsMessage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"DBParameterGroups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DBParameterGroupList\";}s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DBSecurityGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:26:\"DBSecurityGroupDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:19:\"DBSecurityGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:17:\"EC2SecurityGroups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EC2SecurityGroupList\";}s:8:\"IPRanges\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IPRangeList\";}s:7:\"OwnerId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"VpcId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DBSecurityGroupAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"
  A DB security group with the name specified in <i>DBSecurityGroupName</i> already
  exists. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DBSecurityGroupMembership\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"DBSecurityGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DBSecurityGroupMembershipList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DBSecurityGroupMembership\";}s:4:\"type\";s:5:\"array\";}s:22:\"DBSecurityGroupMessage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"DBSecurityGroups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DBSecurityGroups\";}s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DBSecurityGroupNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:28:\"DBSecurityGroupNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"
  <i>DBSecurityGroupName</i> doesn't refer to an existing DB security group. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"DBSecurityGroupNotSupportedFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  DB security group isn't allowed for this action.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"DBSecurityGroupQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  request would result in the user exceeding the allowed number of DB security groups.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"DBSecurityGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DBSecurityGroup\";}s:4:\"type\";s:5:\"array\";}s:10:\"DBSnapshot\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:16:\"AllocatedStorage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"DBInstanceIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:20:\"DBSnapshotIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:6:\"Engine\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:13:\"EngineVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:18:\"InstanceCreateTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";}s:4:\"Iops\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";}s:12:\"LicenseModel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:14:\"MasterUsername\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:15:\"OptionGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Port\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";}s:18:\"SnapshotCreateTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";}s:12:\"SnapshotType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"VpcId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DBSnapshotAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"
  <i>DBSnapshotIdentifier</i> is already used by an existing snapshot. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"DBSnapshotList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DBSnapshot\";}s:4:\"type\";s:5:\"array\";}s:17:\"DBSnapshotMessage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DBSnapshots\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DBSnapshotList\";}s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DBSnapshotNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"
  <i>DBSnapshotIdentifier</i> doesn't refer to an existing DB snapshot. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"DBSubnetGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"DBSubnetGroupDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:17:\"DBSubnetGroupName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:17:\"SubnetGroupStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:7:\"Subnets\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SubnetList\";}s:5:\"VpcId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DBSubnetGroupAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"
  <i>DBSubnetGroupName</i> is already used by an existing DB subnet group. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"DBSubnetGroupDoesNotCoverEnoughAZs\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Subnets
  in the DB subnet group should cover at least two Availability Zones unless there
  is only one Availability Zone.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DBSubnetGroupMessage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"DBSubnetGroups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DBSubnetGroups\";}s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DBSubnetGroupNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"
  <i>DBSubnetGroupName</i> doesn't refer to an existing DB subnet group. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DBSubnetGroupQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  request would result in the user exceeding the allowed number of DB subnet groups.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"DBSubnetGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DBSubnetGroup\";}s:4:\"type\";s:5:\"array\";}s:26:\"DBSubnetQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  request would result in the user exceeding the allowed number of subnets in a DB
  subnet groups.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DBUpgradeDependencyFailureFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
[...]
