---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:18:\"api@clickmeter.com\";s:4:\"name\";s:11:\"Api
  Support\";s:3:\"url\";s:29:\"http://www.clickmeter.com/api\";}s:11:\"description\";s:32:\"Api
  dashboard for ClickMeter API\";s:5:\"title\";s:10:\"ClickMeter\";s:7:\"version\";s:2:\"v2\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:61:\"https://s3.amazonaws.com/clickmeter.com/Web/static/cmlogo.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:67:\"http://api.v2.clickmeter.com.s3.amazonaws.com/docs/api-docs-v2.json\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:14:\"clickmeter.com\";s:11:\"x-preferred\";b:1;}"
host: apiv2.clickmeter.com:80
paths: ~
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":55:{s:41:\"Api.Core.Dto.Accounting.ConversionOptions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"hideComCost\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"hideCost\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"hideCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"hideParams\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"hideValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"percentCommission\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"percentValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:44:\"Api.Core.Dto.Accounting.DomainWhitelistEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:38:\"Api.Core.Dto.Accounting.ExtendedGrants\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"allowAllGrants\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"allowGroupCreation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:29:\"Api.Core.Dto.Accounting.Guest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":25:{s:6:\"apiKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"conversionOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Api.Core.Dto.Accounting.ConversionOptions\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:12:\"currentGrant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/Api.Core.Dto.Grants.Grant\";}s:10:\"dateFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"decimalSeparator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"extendedGrants\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/Api.Core.Dto.Accounting.ExtendedGrants\";}s:11:\"groupGrants\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"hitOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/Api.Core.Dto.Accounting.HitOptions\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"loginCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"numberGroupSeparator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"timeFormat\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"AmPm\";i:1;s:3:\"H24\";}s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"timeframeMinDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:12:\"timezonename\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"tlGrants\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"tpGrants\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"Api.Core.Dto.Accounting.HitOptions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"hideReferrer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Api.Core.Dto.Accounting.IpBlacklistEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"Api.Core.Dto.Accounting.Plan\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:22:\"allowedPersonalDomains\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"allowedPersonalUrls\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"billingPeriodEnd\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:18:\"billingPeriodStart\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:18:\"bonusMonthlyEvents\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"maximumDatapoints\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"maximumGuests\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"monthlyEvents\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"profileId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"recurring\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"recurringPeriod\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"usedDatapoints\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"usedMonthlyEvents\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:28:\"Api.Core.Dto.Accounting.User\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"boGoVal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"bonusClicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"companyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"companyRole\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"redirectOnly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"registrationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:16:\"timeframeMinDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"timezonename\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Api.Core.Dto.Aggregated.AggregatedResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"activityDay\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:15:\"commissionsCost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"conversionsCost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"conversionsValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"convertedClicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"entityData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/System.Object\";}s:8:\"entityId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"fromDay\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:15:\"hourlyBreakDown\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Api.Core.Dto.Aggregated.AggregatedResult\";}s:4:\"type\";s:6:\"object\";}s:11:\"lastHitDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:15:\"spiderHitsCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"toDay\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:11:\"totalClicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"totalViews\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"uniqueClicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"uniqueConversions\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"uniqueViews\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:47:\"Api.Core.Dto.Aggregated.AggregatedSummaryResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Api.Core.Dto.Aggregated.AggregatedResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"Api.Core.Dto.ClickStream.Hit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:10:\"accessTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:7:\"browser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/Api.Core.Dto.ClickStream.HitBrowserInfo\";}s:14:\"clientLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"conversion1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Api.Core.Dto.ClickStream.HitConversionInfo\";}s:11:\"conversion2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Api.Core.Dto.ClickStream.HitConversionInfo\";}s:11:\"conversion3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Api.Core.Dto.ClickStream.HitConversionInfo\";}s:11:\"conversion4\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Api.Core.Dto.ClickStream.HitConversionInfo\";}s:11:\"conversion5\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Api.Core.Dto.ClickStream.HitConversionInfo\";}s:11:\"conversions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Api.Core.Dto.ClickStream.HitConversionInfo\";}s:4:\"type\";s:5:\"array\";}s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Api.Core.Dto.ClickStream.HitDatapointInfo\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"isProxy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isSpider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isUnique\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Api.Core.Dto.ClickStream.HitLocationInfo\";}s:3:\"org\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"os\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/Api.Core.Dto.ClickStream.HitOsInfo\";}s:11:\"queryParams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"realDestinationUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"referer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/Api.Core.Dto.ClickStream.HitSource\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"Api.Core.Dto.ClickStream.HitBrowserInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"browserType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"familyId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"familyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Api.Core.Dto.ClickStream.HitConversionInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"accessTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:7:\"comcost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:41:\"Api.Core.Dto.ClickStream.HitDatapointInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:18:\"datapointFavourite\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"datapointId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"datapointName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"datapointTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"datapointType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"destinationUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"groupId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"groupName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isABTest\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"isPrivateShared\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"isPublic\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:6:\"Active\";i:1;s:6:\"Paused\";i:2;s:5:\"Abuse\";i:3;s:7:\"Deleted\";}s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Api.Core.Dto.Tags.Tag\";}s:4:\"type\";s:5:\"array\";}s:12:\"trackingCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:36:\"Api.Core.Dto.ClickStream.HitListPage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"hits\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/Api.Core.Dto.ClickStream.Hit\";}s:4:\"type\";s:5:\"array\";}s:7:\"lastKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Api.Core.Dto.ClickStream.HitLocationInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"areacode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"metrocode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"postalcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"regionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"Api.Core.Dto.ClickStream.HitOsInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"familyId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"familyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"Api.Core.Dto.ClickStream.HitSource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"param\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"Api.Core.Dto.Conversions.Conversion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"Http\";i:1;s:5:\"Https\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:50:\"Api.Core.Dto.Datapoints.BrowserBaseDestinationItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"emailDestinationUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"mobileDestinationUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"spidersDestinationUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"Api.Core.Dto.Datapoints.Datapoint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":30:{s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:8:\"encodeIp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"fifthConversionId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:19:\"fifthConversionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"firstConversionId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:19:\"firstConversionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"fourthConversionId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:20:\"fourthConversionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"groupId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"groupName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"isPublic\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"isSecured\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"lightTracking\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"preferred\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"redirectOnly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"secondConversionId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:20:\"secondConversionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:6:\"Active\";i:1;s:6:\"Paused\";i:2;s:5:\"Abuse\";i:3;s:7:\"Deleted\";}s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Api.Core.Dto.Tags.Tag\";}s:4:\"type\";s:5:\"array\";}s:17:\"thirdConversionId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:19:\"thirdConversionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"trackingCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:12:\"TrackingLink\";i:1;s:13:\"TrackingPixel\";}s:4:\"type\";s:6:\"string\";}s:6:\"typeTL\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/Api.Core.Dto.Datapoints.TrackingLinkSpecifics\";}s:6:\"typeTP\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/Api.Core.Dto.Datapoints.TrackingPixelSpecifics\";}s:13:\"writePermited\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:48:\"Api.Core.Dto.Datapoints.DatapointRetargetingInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"Api.Core.Dto.Datapoints.MultipleDestinationItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"Api.Core.Dto.Datapoints.TrackingLinkSpecifics\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":28:{s:11:\"appendQuery\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"browserDestinationItem\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/Api.Core.Dto.Datapoints.BrowserBaseDestinationItem\";}s:15:\"destinationMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:6:\"Simple\";i:1;s:17:\"RandomDestination\";i:2;s:21:\"DestinationByLanguage\";i:3;s:20:\"SpilloverDestination\";i:4;s:10:\"DynamicUrl\";i:5;s:18:\"BrowserDestination\";i:6;s:19:\"DestinationByNation\";i:7;s:17:\"UniqueDestination\";i:8;s:21:\"SequentialDestination\";i:9;s:19:\"WeightedDestination\";}s:4:\"type\";s:6:\"string\";}s:8:\"domainId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"encodeUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"expirationClicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:8:\"firstUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"goDomainId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"hideUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"hideUrlTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isABTest\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"pauseAfterClicksExpiration\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"pauseAfterDateExpiration\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"randomDestinationItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/Api.Core.Dto.Datapoints.MultipleDestinationItem\";}s:4:\"type\";s:5:\"array\";}s:12:\"redirectType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:17:\"PermanentRedirect\";i:1;s:17:\"TemporaryRedirect\";}s:4:\"type\";s:6:\"string\";}s:13:\"referrerClean\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:5:\"Clean\";i:2;s:6:\"Myself\";}s:4:\"type\";s:6:\"string\";}s:7:\"scripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/Api.Core.Dto.Datapoints.DatapointRetargetingInfo\";}s:4:\"type\";s:5:\"array\";}s:26:\"sequentialDestinationItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/Api.Core.Dto.Datapoints.MultipleDestinationItem\";}s:4:\"type\";s:5:\"array\";}s:25:\"spilloverDestinationItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/Api.Core.Dto.Datapoints.MultipleDestinationItem\";}s:4:\"type\";s:5:\"array\";}s:21:\"uniqueDestinationItem\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/Api.Core.Dto.Datapoints.UniqueDestinationItem\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"urlAfterClicksExpiration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"urlAfterDateExpiration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"urlsByLanguage\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Api.Core.Dto.Datapoints.UrlByLanguageItem\";}s:4:\"type\";s:5:\"array\";}s:12:\"urlsByNation\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/Api.Core.Dto.Datapoints.UrlByNationItem\";}s:4:\"type\";s:5:\"array\";}s:24:\"weightedDestinationItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/Api.Core.Dto.Datapoints.WeightedDestinationItem\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:46:\"Api.Core.Dto.Datapoints.TrackingPixelSpecifics\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"parameterNote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"Api.Core.Dto.Datapoints.UniqueDestinationItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"firstDestinationUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:41:\"Api.Core.Dto.Datapoints.UrlByLanguageItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"languageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"Api.Core.Dto.Datapoints.UrlByNationItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"nation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"Api.Core.Dto.Datapoints.WeightedDestinationItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:27:\"Api.Core.Dto.Domains.Domain\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"custom404\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"customHomepage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:6:\"System\";i:1;s:2:\"Go\";i:2;s:9:\"Dedicated\";i:3;s:8:\"Personal\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"Api.Core.Dto.EntityUriLong\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"Api.Core.Dto.Grants.Grant\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"DatapointType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Entity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Api.Core.Responses.EntityUri[System.Int64]\";}s:10:\"EntityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"EntityType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"Api.Core.Dto.Groups.Group\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"isPublic\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"preferred\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"redirectOnly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Api.Core.Dto.Tags.Tag\";}s:4:\"type\";s:5:\"array\";}s:13:\"writePermited\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Api.Core.Dto.Retargeting.RetargetingScript\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"script\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"Api.Core.Dto.Tags.Tag\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"datapoints\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:6:\"groups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"Api.Core.Dto.Tops.Top\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/Api.Core.Dto.Tops.TopItem\";}s:4:\"type\";s:5:\"array\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"Api.Core.Dto.Tops.TopItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:10:\"entityData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/System.Object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"lastHitDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"
  (A date in \"YmdHis\" format)\";s:7:\"example\";s:14:\"20120203120530\";s:4:\"type\";s:6:\"string\";}s:12:\"spiderClicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"spiderHits\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"spiderViews\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"totalClicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:20:\"totalCommissionsCost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"totalConversions\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:20:\"totalConversionsCost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:21:\"totalConversionsValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"totalHits\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"totalViews\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"uniqueClicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"uniqueHits\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"uniqueViews\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:37:\"Api.Core.Requests.ConversionPatchBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"ReplaceId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:33:\"Api.Core.Requests.DatapointsBatch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"List\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/Api.Core.Dto.Datapoints.Datapoint\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"Api.Core.Requests.DeleteBatch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Entities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/Api.Core.Dto.EntityUriLong\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"Api.Core.Requests.GenericTextPatch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"Api.Core.Requests.PatchBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:32:\"Api.Core.Requests.PatchBodyBatch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"PatchRequests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/Api.Core.Requests.PatchBody\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Api.Core.Requests.PermissionPatchRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"Verb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"Api.Core.Responses.CountResponce\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:81:\"Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Accounting.DomainWhitelistEntry]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"entities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/Api.Core.Dto.Accounting.DomainWhitelistEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:77:\"Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Accounting.IpBlacklistEntry]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"entities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Api.Core.Dto.Accounting.IpBlacklistEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:77:\"Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Aggregated.AggregatedResult]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"entities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Api.Core.Dto.Aggregated.AggregatedResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:65:\"Api.Core.Responses.EntitiesResponse[Api.Core.Dto.ClickStream.Hit]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"entities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/Api.Core.Dto.ClickStream.Hit\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:62:\"Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Grants.Grant]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"entities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/Api.Core.Dto.Grants.Grant\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:79:\"Api.Core.Responses.EntitiesResponse[Api.Core.Responses.EntityUri[System.Int64]]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"entities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Api.Core.Responses.EntityUri[System.Int64]\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Api.Core.Responses.EntityUri[System.Int64]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:90:\"Api.Core.Responses.ModifyBatchItemResponce[Api.Core.Dto.Datapoints.Datapoint,System.Int64]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"entityData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/Api.Core.Dto.Datapoints.Datapoint\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/ClickMeter.Infrastructure.Validation.ValidationFailure\";}s:4:\"type\";s:5:\"array\";}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Api.Core.Responses.EntityUri[System.Int64]\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:54:\"ClickMeter.Infrastructure.Validation.ValidationFailure\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/System.Object\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"errorValue\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/System.Object\";}s:8:\"property\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"System.Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
