---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:32:\"GDG Foz - To Do Code Lab
  Android\";s:11:\"description\";s:0:\"\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"GDG
  Foz\";s:3:\"url\";s:25:\"https://github.com/gdgfoz\";}s:7:\"version\";s:5:\"1.0.0\";}"
host: todo.api.gdgfoz.org
basePath: /api/v1
paths:
  /profile:
    get:
      tags:
      - dashboard
      description: Informau00e7u00f5es do seu perfil
      operationId: api.profile.index
      responses:
        200:
          description: Lista dados do seu perfil
          schema:
            $ref: '#/definitions/User'
        400:
          description: Erro de requiu00e7u00e3o, faltando token auth
          schema:
            $ref: '#/definitions/Error_oAuth'
        401:
          description: Unauthorized action.
      security:
      - api_oauth:
        - read:tasks
  /tasks:
    get:
      description: Lista todas suas tarefas
      responses:
        200:
          description: Lista todas as tarefas do seu perfil
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'
      security:
      - api_oauth:
        - oauth:tasks_read
  /tasks/{id}:
    get:
      description: Exibi detalhe de uma unica tarefa
      parameters:
      - name: id
        in: path
        description: Id da tarefas
        required: true
        type: integer
      responses:
        200:
          description: Detalhe da tarefas
          schema:
            items:
              $ref: '#/definitions/Task'
      security:
      - api_oauth:
        - oauth:tasks_read
  /tasks/category/{category}:
    get:
      tags:
      - dashboard
      description: Lista todas suas tarefas relacionadas a uma categoria
      operationId: api.tasks.category
      parameters:
      - name: category
        in: path
        description: Id da categoria que deseja visualizar as tarefas
        required: true
        type: integer
      responses:
        200:
          description: Lista todas as tarefas do seu perfil
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'
      security:
      - api_oauth:
        - oauth:tasks_read
  /categories:
    get:
      tags:
      - dashboard
      description: Lista todas as categories
      operationId: api.categories.index
      responses:
        200:
          description: Lista todas as categorias
          schema:
            type: array
            items:
              $ref: '#/definitions/Category'
  /categories/{id}:
    get:
      description: Detalhe de uma categoria
      parameters:
      - name: id
        in: path
        description: Id da categoria
        required: true
        type: integer
      responses:
        200:
          description: Detalhe da categoria
          schema:
            $ref: '#/definitions/Category'
        404:
          description: Categoria nu00e3o encontrada.
      security:
      - api_oauth:
        - read:categories
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":5:{s:11:\"Error_oAuth\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"success\";i:1;s:5:\"error\";}}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Informa\xE7\xF5es
  do erro\";s:4:\"type\";s:5:\"array\";}}}s:4:\"User\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Seu
  nome de usuario\";s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Data
  de criacao\";s:4:\"type\";s:8:\"dateTime\";}}}s:4:\"Task\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:10:\"categoryId\";i:1;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"categoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"isDone\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"finalizedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:8:\"dateTime\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:8:\"dateTime\";}s:9:\"updatedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:8:\"dateTime\";}}}s:11:\"TaskInclude\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Dentro
  de cada tarefa, Inclui um objeto com sua respectiva categoria\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Dentro
  de cada tarefa, Inclui um objeto USER da pessoa que criou a tarefa\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Category\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:8:\"category\";i:1;s:3:\"src\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Nome
  da categoria\";s:4:\"type\";s:6:\"string\";}s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Cor
  em HEXADECIMAL da categoria\";s:4:\"type\";s:6:\"string\";}s:8:\"srcThumb\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"URL
  do caminho absoluto da imagem destaque que representa essa categoria\";s:4:\"type\";s:6:\"string\";}s:7:\"srcIcon\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"URL
  do caminho absoluto do icon que representa essa categoria\";s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Data
  de cria\xE7\xE3o\";s:4:\"type\";s:8:\"dateTime\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Data
  da ultima atualiza\xE7\xE3o\";s:4:\"type\";s:8:\"dateTime\";}}}}"
...
