---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:103:\"View
  Ad Experience Report data, and get a list of sites that have a significant number
  of annoying ads.\";s:5:\"title\";s:20:\"Ad Experience Report\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:68:\"https://adexperiencereport.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:18:\"adexperiencereport\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"google_adexperiencereport\";s:4:\"type\";s:7:\"openapi\";}}"
host: adexperiencereport.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:15:\"PlatformSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Summary
  of the ad experience rating of a site for a specific platform.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"betterAdsStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  status of the site reviewed for the Better Ads Standards.\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:7:\"PASSING\";i:2;s:7:\"WARNING\";i:3;s:7:\"FAILING\";}s:4:\"type\";s:6:\"string\";}s:15:\"enforcementTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  date on which ad filtering begins.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"filterStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  ad filtering status of the site.\";s:4:\"enum\";a:5:{i:0;s:7:\"UNKNOWN\";i:1;s:2:\"ON\";i:2;s:3:\"OFF\";i:3;s:6:\"PAUSED\";i:4;s:7:\"PENDING\";}s:4:\"type\";s:6:\"string\";}s:14:\"lastChangeTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  last time that the site changed status.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  assigned regions for the site and platform.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:14:\"REGION_UNKNOWN\";i:1;s:8:\"REGION_A\";i:2;s:8:\"REGION_B\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"reportUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"A
  link that leads to a full ad experience report.\";s:4:\"type\";s:6:\"string\";}s:11:\"underReview\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  the site is currently under review.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SiteSummaryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Response
  message for GetSiteSummary.\nDo not confuse with same message in google.chrome.abusiveexperiencereport.v1\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"desktopSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PlatformSummary\";s:11:\"description\";s:43:\"Summary
  for the desktop review of the site.\";}s:13:\"mobileSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PlatformSummary\";s:11:\"description\";s:42:\"Summary
  for the mobile review of the site.\";}s:12:\"reviewedSite\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the site reviewed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ViolatingSitesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Response
  message for ListViolatingSites.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"violatingSites\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  list of summaries of violating sites.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SiteSummaryResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
