---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:15:\"info@kedlin.com\";s:4:\"name\";s:12:\"Call
  Control\";s:3:\"url\";s:36:\"http://callcontrol.com/documentation\";}s:11:\"description\";s:288:\"API
  for blocking phone calls with Call Control. Data is from crowdsourced community
  blacklist from 12+ million users and government agencies (FTC, FCC, IRS) Try with
  api_key 'demo', hit explore above, and then try phone numbers 18008472911,13157244022,17275567300,18008276655,12061231234.\";s:5:\"title\";s:12:\"Call
  Control\";s:7:\"version\";s:10:\"2015-11-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"telecom\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:77:\"https://api.apis.guru/v2/cache/logo/https_www.callcontrol.com_images_logo.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:51:\"https://www.callcontrol.com/js/swagger/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"callcontrol.com\";}"
host: www.callcontrol.com
paths:
  /api/2015-11-01/Complaints/{phoneNumber}:
    get:
      consumes: []
      deprecated: false
      description: This is the main funciton to get data out of the call control reporting
        system<br />rn            Try with api_key 'demo' and phone numbers 18008472911,
        13157244022, 17275567300, 18008276655, and 12061231234 (last one not spam)
      operationId: Complaints_Complaints
      parameters:
      - description: phone number to search
        in: path
        name: phoneNumber
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Complaints'
      summary: 'Complaints: Free service (with registration), providing community
        and government complaint lookup by phone number for up to 2,000 queries per
        month.  Details include number complaint rates from (FTC, FCC, IRS, Indiana
        Attorney  General) and key entity tag extractions from complaints.'
      tags:
      - Complaints
  /api/2015-11-01/Enterprise/GetUser/{phoneNumber}:
    get:
      consumes: []
      deprecated: false
      description: ""
      operationId: EnterpriseApi_GetUser
      parameters:
      - in: path
        name: phoneNumber
        required: true
        type: string
      responses:
        200:
          description: User Object
          schema:
            $ref: '#/definitions/CallControlUser'
        400:
          description: Bad request (invalid phone number)
      summary: 'Enterprise  GET: GetUserrnReturns the current information from the
        user;  try 12066194123 as demo'
      tags:
      - EnterpriseApi
  /api/2015-11-01/Enterprise/ShouldBlock/{phoneNumber}/{userPhoneNumber}:
    get:
      consumes: []
      deprecated: false
      description: This returns information required to perform basic call blocking
        behaviorsrn            Try with api_key 'demo' and phone numbers 18008472911,
        13157244022, 17275567300, 18008276655, and 12061231234 (last one not spam)
      operationId: EnterpriseApi_ShouldBlock
      parameters:
      - description: phone number to search
        in: path
        name: phoneNumber
        required: true
        type: string
      - description: (OPTIONAL) phone number of user to look up block rules
        in: path
        name: userPhoneNumber
        required: true
        type: string
      responses:
        200:
          description: true(block) false (no block)
          schema:
            enum:
            - allow
            - voiceMail
            - block
            type: string
        400:
          description: Bad request (invalid phone number)
      summary: 'Enterprise  GET: ShouldBlockrnSimple Enteprise which returns a call
        block proceed decision.'
      tags:
      - EnterpriseApi
  /api/2015-11-01/Enterprise/UpsertUser:
    post:
      consumes:
      - application/json
      - text/json
      deprecated: false
      operationId: EnterpriseApi_UpsertUser
      parameters:
      - description: '[FromBody] User rn            <remarks>This returns information
          required to perform basic call blocking behaviors.  The demo key will return
          ok, but will not save the data.<br /></remarks>'
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/CallControlUser'
      responses:
        200:
          description: Ok
          schema:
            type: object
        400:
          description: Bad request (eg. invalid phone nubmer)
      summary: 'UpsertUser: insert or update all properties from a userrnPhoneNumberrnWhiteList
        (list of phone numbers to whitelist)rnBlackList (list of phone numbers to
        blacklist)rnQuietHourList (list of quiet hour objects)rnUseCommunityBlacklist
        (enable / disable community blacklist) default truernBreakThroughQhWithMultipleCalls
        (break through quiet hours with two calls in 3 minutes)rnWhiteListBreaksQh
        (break through quiet hours for whitelist)'
      tags:
      - EnterpriseApi
  /api/2015-11-01/Report:
    post:
      consumes:
      - application/json
      - text/json
      deprecated: false
      description: This returns information required to perform basic call blocking
        behaviors<br />rn            Try with api_key 'demo' and phone numbers 18008472911,
        13157244022, 17275567300, 18008276655, and 12061231234 (last one not spam)
      operationId: Reputation_Report
      parameters:
      - description: '[FromBody] Call Reportrn            PhoneNumber, rn            Caller
          name(optional), rn            Call category(optional), rn            Comment
          or tags(free text) (optional), rn            Unwanted call  - yes/no(optional),'
        in: body
        name: callReport
        required: true
        schema:
          $ref: '#/definitions/CallReport'
      responses:
        400:
          description: Bad request (eg. invalid phone nubmer)
      summary: 'Report: report spam calls received to better tune our algorithms based
        upon spam calls you receive'
      tags:
      - Reputation
  /api/2015-11-01/Reputation/{phoneNumber}:
    get:
      consumes: []
      deprecated: false
      description: This returns information required to perform basic call blocking
        behaviors<br />rn            Try with api_key 'demo' and phone numbers 18008472911,
        13157244022, 17275567300, 18008276655, and 12061231234 (last one not spam)
      operationId: Reputation_Reputation
      parameters:
      - description: phone number to search
        in: path
        name: phoneNumber
        required: true
        type: string
      responses:
        200:
          description: Reputation information
          schema:
            $ref: '#/definitions/Reputation'
        400:
          description: Bad request (invalid phone number)
      summary: Reputation:rnPremium service which returns a reputation informaiton
        of a phone number via API.
      tags:
      - Reputation
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:15:\"CallControlUser\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:3:\"Age\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"BlackList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"BlockBehavior\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:5:\"allow\";i:1;s:9:\"voiceMail\";i:2;s:5:\"block\";}s:4:\"type\";s:6:\"string\";}s:31:\"BreakThroughQhWithMultipleCalls\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"MiddleName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PhoneNumbeRegion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"QuietHourList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/QuietHour\";}s:4:\"type\";s:5:\"array\";}s:10:\"Salutation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Suffix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"UseCommunityBlacklist\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"WhiteList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"WhiteListBreaksQh\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CallReport\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"Call
  Report\r\nPhoneNumber, \r\nCaller name(optional), \r\nCall category(optional), \r\nComment
  or tags(free text) (optional), \r\nUnwanted call  - yes/no(optional),\";s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"CallTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"CallerType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:18:{i:0;s:7:\"Unknown\";i:1;s:13:\"Telemarketing\";i:2;s:17:\"Collection_Agency\";i:3;s:9:\"Political\";i:4;s:8:\"Surveyor\";i:5;s:10:\"Prank_Call\";i:6;s:11:\"Fund_Raiser\";i:7;s:16:\"Other_Commercial\";i:8;s:4:\"Scam\";i:9;s:4:\"VOIP\";i:10;s:8:\"Business\";i:11;s:26:\"Reminder_Notification_Call\";i:12;s:8:\"Junk_Fax\";i:13;s:11:\"Fax_Machine\";i:14;s:9:\"Spam_Text\";i:15;s:8:\"RoboCall\";i:16;s:7:\"NotSpam\";i:17;s:8:\"Callback\";}s:4:\"type\";s:6:\"string\";}s:7:\"Comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"IpAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"Longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ReportedCallerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"ReportedCallerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Reporter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"UnwantedCall\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Complaints\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"Free
  service (with registration) which serves Government Do Not Call data via API \r\nSearch
  via phone number returns available data, reported name, total complaints\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"ComplaintsByEntity\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:6:\"object\";}s:17:\"LastComplaintDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"ReportedCallerName\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Reported
  Caller Name\";s:9:\"maxLength\";i:255;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:23:\"TotalNumberOfComplaints\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"QuietHour\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"DayOfWeekList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:6:\"Sunday\";i:1;s:6:\"Monday\";i:2;s:7:\"Tuesday\";i:3;s:9:\"Wednesday\";i:4;s:8:\"Thursday\";i:5;s:6:\"Friday\";i:6;s:8:\"Saturday\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"DurationMin\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"StartHourLocal\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"StartMinLocal\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"TimeZoneName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Reputation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"CallType\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"Confidence\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"IsSpam\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"LastComplaintDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"ReportedCallerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
