---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:685:\"<fullname>Amazon
  Simple Email Service</fullname> <p> This document contains reference information
  for the <a href=\"https://aws.amazon.com/ses/\">Amazon Simple Email Service</a>
  (Amazon SES) API, version 2010-12-01. This document is best used in conjunction
  with the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html\">Amazon
  SES Developer Guide</a>. </p> <note> <p> For a list of Amazon SES endpoints to use
  in service requests, see <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/regions.html\">Regions
  and Amazon SES</a> in the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html\">Amazon
  SES Developer Guide</a>.</p> </note>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:27:\"Amazon
  Simple Email Service\";s:7:\"version\";s:10:\"2010-12-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:89:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/email-2010-12-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:5:\"email\";}"
host: email.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":308:{s:29:\"AccountSendingPausedException\";O:8:\"stdClass\":0:{}s:15:\"AddHeaderAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:297:\"<p>When
  included in a receipt rule, this action adds a header to the received email.</p>
  <p>For information about adding a header using a receipt rule, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-action-add-header.html\">Amazon
  SES Developer Guide</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"HeaderName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/HeaderName\";s:11:\"description\";s:150:\"The
  name of the header to add. Must be between 1 and 50 characters, inclusive, and consist
  of alphanumeric (a-z, A-Z, 0-9) characters and dashes only.\";}s:11:\"HeaderValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HeaderValue\";s:11:\"description\";s:90:\"Must
  be less than 2048 characters, and must not contain newline characters (\"\\r\" or
  \"\\n\").\";}}s:8:\"required\";a:2:{i:0;s:10:\"HeaderName\";i:1;s:11:\"HeaderValue\";}s:4:\"type\";s:6:\"object\";}s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"AddressList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"type\";s:5:\"array\";}s:22:\"AlreadyExistsException\";O:8:\"stdClass\":0:{}s:18:\"AmazonResourceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ArrivalDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"BehaviorOnMXFailure\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:15:\"UseDefaultValue\";i:1;s:13:\"RejectMessage\";}s:4:\"type\";s:6:\"string\";}s:4:\"Body\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"Represents
  the body of the message. You can specify text, HTML, or both. If you use both, then
  the message should display correctly in the widest variety of email clients.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Html\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Content\";s:11:\"description\";s:176:\"The
  content of the message, in HTML format. Use this for email clients that can process
  HTML. You can include clickable links, formatted text, and much more in an HTML
  message.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Content\";s:11:\"description\";s:144:\"The
  content of the message, in text format. Use this for text-based email clients, or
  clients on high-latency networks (such as mobile devices).\";}}s:4:\"type\";s:6:\"object\";}s:12:\"BounceAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:442:\"<p>When
  included in a receipt rule, this action rejects the received email by returning
  a bounce response to the sender and, optionally, publishes a notification to Amazon
  Simple Notification Service (Amazon SNS).</p> <p>For information about sending a
  bounce message in response to a received email, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-action-bounce.html\">Amazon
  SES Developer Guide</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BounceMessage\";s:11:\"description\";s:53:\"Human-readable
  text to include in the bounce message.\";}s:6:\"Sender\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:117:\"The
  email address of the sender of the bounced email. This is the address from which
  the bounce message will be sent.\";}s:13:\"SmtpReplyCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BounceSmtpReplyCode\";s:11:\"description\";s:94:\"The
  SMTP reply code, as defined by <a href=\"https://tools.ietf.org/html/rfc5321\">RFC
  5321</a>.\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BounceStatusCode\";s:11:\"description\";s:104:\"The
  SMTP enhanced status code, as defined by <a href=\"https://tools.ietf.org/html/rfc3463\">RFC
  3463</a>.\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:349:\"The
  Amazon Resource Name (ARN) of the Amazon SNS topic to notify when the bounce action
  is taken. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>.
  For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon
  SNS Developer Guide</a>.\";}}s:8:\"required\";a:3:{i:0;s:13:\"SmtpReplyCode\";i:1;s:7:\"Message\";i:2;s:6:\"Sender\";}s:4:\"type\";s:6:\"object\";}s:13:\"BounceMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"BounceSmtpReplyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"BounceStatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"BounceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:12:\"DoesNotExist\";i:1;s:15:\"MessageTooLarge\";i:2;s:13:\"ExceededQuota\";i:3;s:15:\"ContentRejected\";i:4;s:9:\"Undefined\";i:5;s:16:\"TemporaryFailure\";}s:4:\"type\";s:6:\"string\";}s:20:\"BouncedRecipientInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:341:\"<p>Recipient-related
  information to include in the Delivery Status Notification (DSN) when an email that
  Amazon SES receives on your behalf bounces.</p> <p>For information about receiving
  email through Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email.html\">Amazon
  SES Developer Guide</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"BounceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BounceType\";s:11:\"description\";s:101:\"The
  reason for the bounce. You must provide either this parameter or <code>RecipientDsnFields</code>.\";}s:9:\"Recipient\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:56:\"The
  email address of the recipient of the bounced email.\";}s:12:\"RecipientArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:395:\"This
  parameter is used only for sending authorization. It is the ARN of the identity
  that is associated with the sending authorization policy that permits you to receive
  email for the recipient of the bounced email. For more information about sending
  authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon
  SES Developer Guide</a>.\";}s:18:\"RecipientDsnFields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RecipientDsnFields\";s:11:\"description\";s:198:\"Recipient-related
  DSN fields, most of which would normally be filled in automatically when provided
  with a <code>BounceType</code>. You must provide either this parameter or <code>BounceType</code>.\";}}s:8:\"required\";a:1:{i:0;s:9:\"Recipient\";}s:4:\"type\";s:6:\"object\";}s:24:\"BouncedRecipientInfoList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BouncedRecipientInfo\";}s:4:\"type\";s:5:\"array\";}s:20:\"BulkEmailDestination\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"An
  array that contains one or more Destinations, as well as the tags and replacement
  data associated with each of those Destinations.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Destination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Destination\";}s:15:\"ReplacementTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MessageTagList\";s:11:\"description\";s:237:\"A
  list of tags, in the form of name/value pairs, to apply to an email that you send
  using <code>SendBulkTemplatedEmail</code>. Tags correspond to characteristics of
  the email that you define, so that you can publish email sending events.\";}s:23:\"ReplacementTemplateData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateData\";s:11:\"description\";s:199:\"A
  list of replacement values to apply to the template. This parameter is a JSON object,
  typically consisting of key-value pairs in which the keys correspond to replacement
  tags in the email template.\";}}s:8:\"required\";a:1:{i:0;s:11:\"Destination\";}s:4:\"type\";s:6:\"object\";}s:24:\"BulkEmailDestinationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BulkEmailDestination\";}s:4:\"type\";s:5:\"array\";}s:26:\"BulkEmailDestinationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"An
  object that contains the response from the <code>SendBulkTemplatedEmail</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:118:\"A
  description of an error that prevented a message being sent using the <code>SendBulkTemplatedEmail</code>
  operation.\";}s:9:\"MessageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/MessageId\";s:11:\"description\";s:94:\"The
  unique message identifier returned from the <code>SendBulkTemplatedEmail</code>
  operation.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BulkEmailStatus\";s:11:\"description\";s:2114:\"<p>The
  status of a message sent using the <code>SendBulkTemplatedEmail</code> operation.</p>
  <p>Possible values for this parameter include:</p> <ul> <li> <p> <code>Success</code>:
  Amazon SES accepted the message, and will attempt to deliver it to the recipients.</p>
  </li> <li> <p> <code>MessageRejected</code>: The message was rejected because it
  contained a virus.</p> </li> <li> <p> <code>MailFromDomainNotVerified</code>: The
  sender's email address or domain was not verified.</p> </li> <li> <p> <code>ConfigurationSetDoesNotExist</code>:
  The configuration set you specified does not exist.</p> </li> <li> <p> <code>TemplateDoesNotExist</code>:
  The template you specified does not exist.</p> </li> <li> <p> <code>AccountSuspended</code>:
  Your account has been shut down because of issues related to your email sending
  practices.</p> </li> <li> <p> <code>AccountThrottled</code>: The number of emails
  you can send has been reduced because your account has exceeded its allocated sending
  limit.</p> </li> <li> <p> <code>AccountDailyQuotaExceeded</code>: You have reached
  or exceeded the maximum number of emails you can send from your account in a 24-hour
  period.</p> </li> <li> <p> <code>InvalidSendingPoolName</code>: The configuration
  set you specified refers to an IP pool that does not exist.</p> </li> <li> <p> <code>AccountSendingPaused</code>:
  Email sending for the Amazon SES account was disabled using the <a>UpdateAccountSendingEnabled</a>
  operation.</p> </li> <li> <p> <code>ConfigurationSetSendingPaused</code>: Email
  sending for this configuration set was disabled using the <a>UpdateConfigurationSetSendingEnabled</a>
  operation.</p> </li> <li> <p> <code>InvalidParameterValue</code>: One or more of
  the parameters you specified when calling this operation was invalid. See the error
  message for additional information.</p> </li> <li> <p> <code>TransientFailure</code>:
  Amazon SES was unable to process your request because of a temporary issue.</p>
  </li> <li> <p> <code>Failed</code>: Amazon SES was unable to process your request.
  See the error message for additional information.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BulkEmailDestinationStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BulkEmailDestinationStatus\";}s:4:\"type\";s:5:\"array\";}s:15:\"BulkEmailStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:14:{i:0;s:7:\"Success\";i:1;s:15:\"MessageRejected\";i:2;s:25:\"MailFromDomainNotVerified\";i:3;s:28:\"ConfigurationSetDoesNotExist\";i:4;s:20:\"TemplateDoesNotExist\";i:5;s:16:\"AccountSuspended\";i:6;s:16:\"AccountThrottled\";i:7;s:25:\"AccountDailyQuotaExceeded\";i:8;s:22:\"InvalidSendingPoolName\";i:9;s:20:\"AccountSendingPaused\";i:10;s:29:\"ConfigurationSetSendingPaused\";i:11;s:21:\"InvalidParameterValue\";i:12;s:16:\"TransientFailure\";i:13;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:21:\"CannotDeleteException\";O:8:\"stdClass\":0:{}s:7:\"Charset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Cidr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"CloneReceiptRuleSetRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:292:\"Represents
  a request to create a receipt rule set by cloning an existing one. You use receipt
  rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:19:\"OriginalRuleSetName\";s:14:\"RuleSetToClone\";s:11:\"RuleSetName\";s:15:\"RuleSetToCreate\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"OriginalRuleSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ReceiptRuleSetName\";s:11:\"description\";s:34:\"The
  name of the rule set to clone.\";}s:11:\"RuleSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ReceiptRuleSetName\";s:11:\"description\";s:295:\"<p>The
  name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only
  contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p>
  </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less
  than 64 characters.</p> </li> </ul>\";}}s:8:\"required\";a:2:{i:0;s:11:\"RuleSetName\";i:1;s:19:\"OriginalRuleSetName\";}s:4:\"type\";s:6:\"object\";}s:27:\"CloneReceiptRuleSetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"CloudWatchDestination\";O:8:\"stdClass\":4:{s:11:\"description\";s:452:\"<p>Contains
  information associated with an Amazon CloudWatch event destination to which email
  sending events are published.</p> <p>Event destinations, such as Amazon CloudWatch,
  are associated with configuration sets, which enable you to publish email sending
  events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"DimensionConfigurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/CloudWatchDimensionConfigurations\";s:11:\"description\";s:117:\"A
  list of dimensions upon which to categorize your emails when you publish email sending
  events to Amazon CloudWatch.\";}}s:8:\"required\";a:1:{i:0;s:23:\"DimensionConfigurations\";}s:4:\"type\";s:6:\"object\";}s:32:\"CloudWatchDimensionConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:326:\"<p>Contains
  the dimension configuration to use when you publish email sending events to Amazon
  CloudWatch.</p> <p>For information about publishing email sending events to Amazon
  CloudWatch, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"DefaultDimensionValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DefaultDimensionValue\";s:11:\"description\";s:359:\"<p>The
  default value of the dimension that is published to Amazon CloudWatch if you do
  not provide the value of the dimension when you send an email. The default value
  must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers
  (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain less than 256 characters.</p>
  </li> </ul>\";}s:13:\"DimensionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DimensionName\";s:11:\"description\";s:287:\"<p>The
  name of an Amazon CloudWatch dimension associated with an email sending metric.
  The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z,
  A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain less
  than 256 characters.</p> </li> </ul>\";}s:20:\"DimensionValueSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DimensionValueSource\";s:11:\"description\";s:397:\"The
  place where Amazon SES finds the value of a dimension to publish to Amazon CloudWatch.
  If you want Amazon SES to use the message tags that you specify using an <code>X-SES-MESSAGE-TAGS</code>
  header or a parameter to the <code>SendEmail</code>/<code>SendRawEmail</code> API,
  choose <code>messageTag</code>. If you want Amazon SES to use your own email headers,
  choose <code>emailHeader</code>.\";}}s:8:\"required\";a:3:{i:0;s:13:\"DimensionName\";i:1;s:20:\"DimensionValueSource\";i:2;s:21:\"DefaultDimensionValue\";}s:4:\"type\";s:6:\"object\";}s:33:\"CloudWatchDimensionConfigurations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/CloudWatchDimensionConfiguration\";}s:4:\"type\";s:5:\"array\";}s:16:\"ConfigurationSet\";O:8:\"stdClass\":4:{s:11:\"description\";s:451:\"<p>The
  name of the configuration set.</p> <p>Configuration sets let you create groups of
  rules that you can apply to the emails you send using Amazon SES. For more information
  about using configuration sets, see <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/using-configuration-sets.html\">Using
  Amazon SES Configuration Sets</a> in the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/\">Amazon
  SES Developer Guide</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfigurationSetName\";s:11:\"description\";s:247:\"<p>The
  name of the configuration set. The name must meet the following requirements:</p>
  <ul> <li> <p>Contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or
  dashes (-).</p> </li> <li> <p>Contain 64 characters or fewer.</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:38:\"ConfigurationSetAlreadyExistsException\";O:8:\"stdClass\":0:{}s:25:\"ConfigurationSetAttribute\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:17:\"eventDestinations\";i:1;s:15:\"trackingOptions\";i:2;s:17:\"reputationOptions\";}s:4:\"type\";s:6:\"string\";}s:29:\"ConfigurationSetAttributeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ConfigurationSetAttribute\";}s:4:\"type\";s:5:\"array\";}s:37:\"ConfigurationSetDoesNotExistException\";O:8:\"stdClass\":0:{}s:20:\"ConfigurationSetName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:38:\"ConfigurationSetSendingPausedException\";O:8:\"stdClass\":0:{}s:17:\"ConfigurationSets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ConfigurationSet\";}s:4:\"type\";s:5:\"array\";}s:7:\"Content\";O:8:\"stdClass\":4:{s:11:\"description\";s:313:\"<p>Represents
  textual data, plus an optional character set specification.</p> <p>By default, the
  text must be 7-bit ASCII, due to the constraints of the SMTP protocol. If the text
  must contain any other characters, then you must also specify a character set. Examples
  include UTF-8, ISO-8859-1, and Shift_JIS.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Charset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Charset\";s:11:\"description\";s:33:\"The
  character set of the content.\";}s:4:\"Data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MessageData\";s:11:\"description\";s:32:\"The
  textual data of the content.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Data\";}s:4:\"type\";s:6:\"object\";}s:7:\"Counter\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:45:\"CreateConfigurationSetEventDestinationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:472:\"Represents
  a request to create a configuration set event destination. A configuration set event
  destination, which can be either Amazon CloudWatch or Amazon Kinesis Firehose, describes
  an AWS service in which Amazon SES publishes the email sending events associated
  with a configuration set. For information about using configuration sets, see the
  <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"ConfigurationSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfigurationSetName\";s:11:\"description\";s:87:\"The
  name of the configuration set that the event destination should be associated with.\";}s:16:\"EventDestination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EventDestination\";s:11:\"description\";s:99:\"An
  object that describes the AWS service that email sending event information will
  be published to.\";}}s:8:\"required\";a:2:{i:0;s:20:\"ConfigurationSetName\";i:1;s:16:\"EventDestination\";}s:4:\"type\";s:6:\"object\";}s:46:\"CreateConfigurationSetEventDestinationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"CreateConfigurationSetRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:295:\"Represents
  a request to create a configuration set. Configuration sets enable you to publish
  email sending events. For information about using configuration sets, see the <a
  href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ConfigurationSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ConfigurationSet\";s:11:\"description\";s:65:\"A
  data structure that contains the name of the configuration set.\";}}s:8:\"required\";a:1:{i:0;s:16:\"ConfigurationSet\";}s:4:\"type\";s:6:\"object\";}s:30:\"CreateConfigurationSetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:44:\"CreateConfigurationSetTrackingOptionsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"Represents
  a request to create an open and click tracking option object in a configuration
  set. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"ConfigurationSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfigurationSetName\";s:11:\"description\";s:86:\"The
  name of the configuration set that the tracking options should be associated with.\";}s:15:\"TrackingOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackingOptions\";}}s:8:\"required\";a:2:{i:0;s:20:\"ConfigurationSetName\";i:1;s:15:\"TrackingOptions\";}s:4:\"type\";s:6:\"object\";}s:45:\"CreateConfigurationSetTrackingOptionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:44:\"CreateCustomVerificationEmailTemplateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Represents
  a request to create a custom verification email template.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"FailureRedirectionURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/FailureRedirectionURL\";s:11:\"description\";s:115:\"The
  URL that the recipient of the verification email is sent to if his or her address
  is not successfully verified.\";}s:16:\"FromEmailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FromAddress\";s:11:\"description\";s:66:\"The
  email address that the custom verification email is sent from.\";}s:21:\"SuccessRedirectionURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/SuccessRedirectionURL\";s:11:\"description\";s:111:\"The
  URL that the recipient of the verification email is sent to if his or her address
  is successfully verified.\";}s:15:\"TemplateContent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TemplateContent\";s:11:\"description\";s:407:\"The
  content of the custom verification email. The total size of the email must be less
  than 10 MB. The message body may contain HTML, with some limitations. For more information,
  see <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html#custom-verification-emails-faq\">Custom
  Verification Email Frequently Asked Questions</a> in the <i>Amazon SES Developer
  Guide</i>.\";}s:12:\"TemplateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateName\";s:11:\"description\";s:51:\"The
  name of the custom verification email template.\";}s:15:\"TemplateSubject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Subject\";s:11:\"description\";s:50:\"The
  subject line of the custom verification email.\";}}s:8:\"required\";a:6:{i:0;s:12:\"TemplateName\";i:1;s:16:\"FromEmailAddress\";i:2;s:15:\"TemplateSubject\";i:3;s:15:\"TemplateContent\";i:4;s:21:\"SuccessRedirectionURL\";i:5;s:21:\"FailureRedirectionURL\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateReceiptFilterRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:277:\"Represents
  a request to create a new IP address filter. You use IP address filters when you
  receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:8:\"IpFilter\";O:8:\"stdClass\":2:{s:4:\"Cidr\";s:10:\"1.2.3.4/24\";s:6:\"Policy\";s:5:\"Allow\";}s:4:\"Name\";s:8:\"MyFilter\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReceiptFilter\";s:11:\"description\";s:155:\"A
  data structure that describes the IP address filter to create, which consists of
  a name, an IP address range, and whether to allow or block mail from it.\";}}s:8:\"required\";a:1:{i:0;s:6:\"Filter\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateReceiptFilterResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"CreateReceiptRuleRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:257:\"Represents
  a request to create a receipt rule. You use receipt rules to receive email with
  Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"After\";s:0:\"\";s:4:\"Rule\";O:8:\"stdClass\":5:{s:7:\"Actions\";a:1:{i:0;O:8:\"stdClass\":1:{s:8:\"S3Action\";O:8:\"stdClass\":2:{s:10:\"BucketName\";s:8:\"MyBucket\";s:15:\"ObjectKeyPrefix\";s:5:\"email\";}}}s:7:\"Enabled\";b:1;s:4:\"Name\";s:6:\"MyRule\";s:11:\"ScanEnabled\";b:1;s:9:\"TlsPolicy\";s:8:\"Optional\";}s:11:\"RuleSetName\";s:9:\"MyRuleSet\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"After\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ReceiptRuleName\";s:11:\"description\";s:161:\"The
  name of an existing rule after which the new rule will be placed. If this parameter
  is null, the new rule will be inserted at the beginning of the rule list.\";}s:4:\"Rule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ReceiptRule\";s:11:\"description\";s:132:\"A
  data structure that contains the specified rule's name, actions, recipients, domains,
  enabled status, scan status, and TLS policy.\";}s:11:\"RuleSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ReceiptRuleSetName\";s:11:\"description\";s:64:\"The
  name of the rule set that the receipt rule will be added to.\";}}s:8:\"required\";a:2:{i:0;s:11:\"RuleSetName\";i:1;s:4:\"Rule\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateReceiptRuleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"CreateReceiptRuleSetRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:272:\"Represents
  a request to create an empty receipt rule set. You use receipt rule sets to receive
  email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"RuleSetName\";s:9:\"MyRuleSet\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"RuleSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ReceiptRuleSetName\";s:11:\"description\";s:295:\"<p>The
  name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only
  contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p>
  </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less
  than 64 characters.</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:11:\"RuleSetName\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateReceiptRuleSetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"CreateTemplateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:207:\"Represents
  a request to create an email template. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Template\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Template\";s:11:\"description\";s:89:\"The
  content of the email, composed of a subject line, an HTML part, and a text-only
  part.\";}}s:8:\"required\";a:1:{i:0;s:8:\"Template\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateTemplateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"CustomMailFromStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"Pending\";i:1;s:7:\"Success\";i:2;s:6:\"Failed\";i:3;s:16:\"TemporaryFailure\";}s:4:\"type\";s:6:\"string\";}s:20:\"CustomRedirectDomain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:46:\"CustomVerificationEmailInvalidContentException\";O:8:\"stdClass\":0:{}s:31:\"CustomVerificationEmailTemplate\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Contains
  information about a custom verification email template.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"FailureRedirectionURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/FailureRedirectionURL\";s:11:\"description\";s:115:\"The
  URL that the recipient of the verification email is sent to if his or her address
  is not successfully verified.\";}s:16:\"FromEmailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FromAddress\";s:11:\"description\";s:66:\"The
  email address that the custom verification email is sent from.\";}s:21:\"SuccessRedirectionURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/SuccessRedirectionURL\";s:11:\"description\";s:111:\"The
  URL that the recipient of the verification email is sent to if his or her address
  is successfully verified.\";}s:12:\"TemplateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateName\";s:11:\"description\";s:51:\"The
  name of the custom verification email template.\";}s:15:\"TemplateSubject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Subject\";s:11:\"description\";s:50:\"The
  subject line of the custom verification email.\";}}s:4:\"type\";s:6:\"object\";}s:53:\"CustomVerificationEmailTemplateAlreadyExistsException\";O:8:\"stdClass\":0:{}s:52:\"CustomVerificationEmailTemplateDoesNotExistException\";O:8:\"stdClass\":0:{}s:32:\"CustomVerificationEmailTemplates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CustomVerificationEmailTemplate\";}s:4:\"type\";s:5:\"array\";}s:21:\"DefaultDimensionValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:45:\"DeleteConfigurationSetEventDestinationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:377:\"Represents
  a request to delete a configuration set event destination. Configuration set event
  destinations are associated with configuration sets, which enable you to publish
  email sending events. For information about using configuration sets, see the <a
  href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"ConfigurationSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfigurationSetName\";s:11:\"description\";s:77:\"The
  name of the configuration set from which to delete the event destination.\";}s:20:\"EventDestinationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EventDestinationName\";s:11:\"description\";s:44:\"The
  name of the event destination to delete.\";}}s:8:\"required\";a:2:{i:0;s:20:\"ConfigurationSetName\";i:1;s:20:\"EventDestinationName\";}s:4:\"type\";s:6:\"object\";}s:46:\"DeleteConfigurationSetEventDestinationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteConfigurationSetRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:295:\"Represents
  a request to delete a configuration set. Configuration sets enable you to publish
  email sending events. For information about using configuration sets, see the <a
  href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"ConfigurationSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfigurationSetName\";s:11:\"description\";s:44:\"The
  name of the configuration set to delete.\";}}s:8:\"required\";a:1:{i:0;s:20:\"ConfigurationSetName\";}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteConfigurationSetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:44:\"DeleteConfigurationSetTrackingOptionsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Represents
  a request to delete open and click tracking options in a configuration set. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"ConfigurationSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfigurationSetName\";s:11:\"description\";s:85:\"The
  name of the configuration set from which you want to delete the tracking options.\";}}s:8:\"required\";a:1:{i:0;s:20:\"ConfigurationSetName\";}s:4:\"type\";s:6:\"object\";}s:45:\"DeleteConfigurationSetTrackingOptionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:44:\"DeleteCustomVerificationEmailTemplateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Represents
  a request to delete an existing custom verification email template.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"TemplateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateName\";s:11:\"description\";s:75:\"The
  name of the custom verification email template that you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:12:\"TemplateName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteIdentityPolicyRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:340:\"Represents
  a request to delete a sending authorization policy for an identity. Sending authorization
  is an Amazon SES feature that enables you to authorize other senders to use your
  identities. For information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"Identity\";s:16:\"user@example.com\";s:10:\"PolicyName\";s:8:\"MyPolicy\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";s:11:\"description\";s:372:\"<p>The
  identity that is associated with the policy that you want to delete. You can specify
  the identity by using its name or by using its Amazon Resource Name (ARN). Examples:
  <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p>
  <p>To successfully call this API, you must own the identity.</p>\";}s:10:\"PolicyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyName\";s:11:\"description\";s:37:\"The
  name of the policy to be deleted.\";}}s:8:\"required\";a:2:{i:0;s:8:\"Identity\";i:1;s:10:\"PolicyName\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteIdentityPolicyResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteIdentityRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:94:\"Represents
  a request to delete one of your Amazon SES identities (an email address or domain).\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"Identity\";s:16:\"user@example.com\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";s:11:\"description\";s:75:\"The
  identity to be removed from the list of identities for the AWS Account.\";}}s:8:\"required\";a:1:{i:0;s:8:\"Identity\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteIdentityResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteReceiptFilterRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:274:\"Represents
  a request to delete an IP address filter. You use IP address filters when you receive
  email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"FilterName\";s:8:\"MyFilter\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"FilterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ReceiptFilterName\";s:11:\"description\";s:44:\"The
  name of the IP address filter to delete.\";}}s:8:\"required\";a:1:{i:0;s:10:\"FilterName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteReceiptFilterResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteReceiptRuleRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:257:\"Represents
  a request to delete a receipt rule. You use receipt rules to receive email with
  Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"RuleName\";s:6:\"MyRule\";s:11:\"RuleSetName\";s:9:\"MyRuleSet\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"RuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ReceiptRuleName\";s:11:\"description\";s:39:\"The
  name of the receipt rule to delete.\";}s:11:\"RuleSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ReceiptRuleSetName\";s:11:\"description\";s:74:\"The
  name of the receipt rule set that contains the receipt rule to delete.\";}}s:8:\"required\";a:2:{i:0;s:11:\"RuleSetName\";i:1;s:8:\"RuleName\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteReceiptRuleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteReceiptRuleSetRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:306:\"Represents
  a request to delete a receipt rule set and all of the receipt rules it contains.
  You use receipt rule sets to receive email with Amazon SES. For more information,
  see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"RuleSetName\";s:9:\"MyRuleSet\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"RuleSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ReceiptRuleSetName\";s:11:\"description\";s:43:\"The
  name of the receipt rule set to delete.\";}}s:8:\"required\";a:1:{i:0;s:11:\"RuleSetName\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteReceiptRuleSetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  empty element returned on a successful request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteTemplateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:207:\"Represents
  a request to delete an email template. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"TemplateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateName\";s:11:\"description\";s:39:\"The
  name of the template to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:12:\"TemplateName\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteTemplateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"DeleteVerifiedEmailAddressRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:133:\"Represents
  a request to delete an email address from the list of email addresses you have attempted
  to verify under your AWS account.\";s:7:\"example\";O:8:\"stdClass\":1:{s:12:\"EmailAddress\";s:16:\"user@example.com\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"EmailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:67:\"An
  email address to be removed from the list of verified addresses.\";}}s:8:\"required\";a:1:{i:0;s:12:\"EmailAddress\";}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeActiveReceiptRuleSetRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:327:\"Represents
  a request to return the metadata and receipt rules for the receipt rule set that
  is currently active. You use receipt rule sets to receive email with Amazon SES.
  For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeActiveReceiptRuleSetResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"Represents
  the metadata and receipt rules for the receipt rule set that is currently active.\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"Metadata\";O:8:\"stdClass\":2:{s:16:\"CreatedTimestamp\";s:24:\"2016-07-15T16:25:59.607Z\";s:4:\"Name\";s:16:\"default-rule-set\";}s:5:\"Rules\";a:1:{i:0;O:8:\"stdClass\":5:{s:7:\"Actions\";a:1:{i:0;O:8:\"stdClass\":1:{s:8:\"S3Action\";O:8:\"stdClass\":2:{s:10:\"BucketName\";s:8:\"MyBucket\";s:15:\"ObjectKeyPrefix\";s:5:\"email\";}}}s:7:\"Enabled\";b:1;s:4:\"Name\";s:6:\"MyRule\";s:11:\"ScanEnabled\";b:1;s:9:\"TlsPolicy\";s:8:\"Optional\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ReceiptRuleSetMetadata\";s:11:\"description\";s:148:\"The
  metadata for the currently active receipt rule set. The metadata consists of the
  rule set name and a timestamp of when the rule set was created.\";}s:5:\"Rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ReceiptRulesList\";s:11:\"description\";s:53:\"The
  receipt rules that belong to the active rule set.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeConfigurationSetRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:310:\"Represents
  a request to return the details of a configuration set. Configuration sets enable
  you to publish email sending events. For information about using configuration sets,
  see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:30:\"ConfigurationSetAttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ConfigurationSetAttributeList\";s:11:\"description\";s:49:\"A
  list of configuration set attributes to return.\";}s:20:\"ConfigurationSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfigurationSetName\";s:11:\"description\";s:46:\"The
  name of the configuration set to describe.\";}}s:8:\"required\";a:1:{i:0;s:20:\"ConfigurationSetName\";}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeConfigurationSetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:290:\"Represents
  the details of a configuration set. Configuration sets enable you to publish email
  sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"ConfigurationSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ConfigurationSet\";s:11:\"description\";s:77:\"The
  configuration set object associated with the specified configuration set.\";}s:17:\"EventDestinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EventDestinations\";s:11:\"description\";s:68:\"A
  list of event destinations associated with the configuration set. \";}s:17:\"ReputationOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ReputationOptions\";s:11:\"description\";s:77:\"An
  object that represents the reputation settings for the configuration set. \";}s:15:\"TrackingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TrackingOptions\";s:11:\"description\";s:92:\"The
  name of the custom open and click tracking domain associated with the configuration
  set.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeReceiptRuleRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:272:\"Represents
  a request to return the details of a receipt rule. You use receipt rules to receive
  email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"RuleName\";s:6:\"MyRule\";s:11:\"RuleSetName\";s:9:\"MyRuleSet\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"RuleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ReceiptRuleName\";s:11:\"description\";s:29:\"The
  name of the receipt rule.\";}s:11:\"RuleSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ReceiptRuleSetName\";s:11:\"description\";s:66:\"The
  name of the receipt rule set that the receipt rule belongs to.\";}}s:8:\"required\";a:2:{i:0;s:11:\"RuleSetName\";i:1;s:8:\"RuleName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeReceiptRuleResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Represents
  the details of a receipt rule.\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"Rule\";O:8:\"stdClass\":5:{s:7:\"Actions\";a:1:{i:0;O:8:\"stdClass\":1:{s:8:\"S3Action\";O:8:\"stdClass\":2:{s:10:\"BucketName\";s:8:\"MyBucket\";s:15:\"ObjectKeyPrefix\";s:5:\"email\";}}}s:7:\"Enabled\";b:1;s:4:\"Name\";s:6:\"MyRule\";s:11:\"ScanEnabled\";b:1;s:9:\"TlsPolicy\";s:8:\"Optional\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Rule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ReceiptRule\";s:11:\"description\";s:167:\"A
  data structure that contains the specified receipt rule's name, actions, recipients,
  domains, enabled status, scan status, and Transport Layer Security (TLS) policy.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeReceiptRuleSetRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:280:\"Represents
  a request to return the details of a receipt rule set. You use receipt rule sets
  to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"RuleSetName\";s:9:\"MyRuleSet\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"RuleSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ReceiptRuleSetName\";s:11:\"description\";s:45:\"The
  name of the receipt rule set to describe.\";}}s:8:\"required\";a:1:{i:0;s:11:\"RuleSetName\";}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeReceiptRuleSetResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Represents
  the details of the specified receipt rule set.\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"Metadata\";O:8:\"stdClass\":2:{s:16:\"CreatedTimestamp\";s:24:\"2016-07-15T16:25:59.607Z\";s:4:\"Name\";s:9:\"MyRuleSet\";}s:5:\"Rules\";a:1:{i:0;O:8:\"stdClass\":5:{s:7:\"Actions\";a:1:{i:0;O:8:\"stdClass\":1:{s:8:\"S3Action\";O:8:\"stdClass\":2:{s:10:\"BucketName\";s:8:\"MyBucket\";s:15:\"ObjectKeyPrefix\";s:5:\"email\";}}}s:7:\"Enabled\";b:1;s:4:\"Name\";s:6:\"MyRule\";s:11:\"ScanEnabled\";b:1;s:9:\"TlsPolicy\";s:8:\"Optional\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ReceiptRuleSetMetadata\";s:11:\"description\";s:126:\"The
  metadata for the receipt rule set, which consists of the rule set name and the timestamp
  of when the rule set was created.\";}s:5:\"Rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ReceiptRulesList\";s:11:\"description\";s:74:\"A
  list of the receipt rules that belong to the specified receipt rule set.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Destination\";O:8:\"stdClass\":3:{s:11:\"description\";s:692:\"<p>Represents
  the destination of the message, consisting of To:, CC:, and BCC: fields.</p> <note>
  <p>Amazon SES does not support the SMTPUTF8 extension, as described in <a href=\"https://tools.ietf.org/html/rfc6531\">RFC6531</a>.
  For this reason, the <i>local part</i> of a destination email address (the part
  of the email address that precedes the @ sign) may only contain <a href=\"https://en.wikipedia.org/wiki/Email_address#Local-part\">7-bit
  ASCII characters</a>. If the <i>domain part</i> of an address (the part after the
  @ sign) contains non-ASCII characters, they must be encoded using Punycode, as described
  in <a href=\"https://tools.ietf.org/html/rfc3492.html\">RFC3492</a>.</p> </note>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"BccAddresses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AddressList\";s:11:\"description\";s:33:\"The
  BCC: field(s) of the message.\";}s:11:\"CcAddresses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AddressList\";s:11:\"description\";s:32:\"The
  CC: field(s) of the message.\";}s:11:\"ToAddresses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AddressList\";s:11:\"description\";s:32:\"The
  To: field(s) of the message.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DiagnosticCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"DimensionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"DimensionValueSource\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:10:\"messageTag\";i:1;s:11:\"emailHeader\";i:2;s:7:\"linkTag\";}s:4:\"type\";s:6:\"string\";}s:14:\"DkimAttributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/IdentityDkimAttributes\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"Domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"DsnAction\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"failed\";i:1;s:7:\"delayed\";i:2;s:9:\"delivered\";i:3;s:7:\"relayed\";i:4;s:8:\"expanded\";}s:4:\"type\";s:6:\"string\";}s:9:\"DsnStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"Error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"EventDestination\";O:8:\"stdClass\":4:{s:11:\"description\";s:749:\"<p>Contains
  information about the event destination that the specified email sending events
  will be published to.</p> <note> <p>When you create or update an event destination,
  you must provide one, and only one, destination. The destination can be Amazon CloudWatch,
  Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p>
  </note> <p>Event destinations are associated with configuration sets, which enable
  you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose,
  or Amazon Simple Notification Service (Amazon SNS). For information about using
  configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"CloudWatchDestination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/CloudWatchDestination\";s:11:\"description\";s:136:\"An
  object that contains the names, default values, and sources of the dimensions associated
  with an Amazon CloudWatch event destination.\";}s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Enabled\";s:11:\"description\";s:299:\"Sets
  whether Amazon SES publishes events to this destination when you send an email with
  the associated configuration set. Set to <code>true</code> to enable publishing
  to this destination; set to <code>false</code> to prevent publishing to this destination.
  The default value is <code>false</code>.\";}s:26:\"KinesisFirehoseDestination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/KinesisFirehoseDestination\";s:11:\"description\";s:130:\"An
  object that contains the delivery stream ARN and the IAM role ARN associated with
  an Amazon Kinesis Firehose event destination.\";}s:18:\"MatchingEventTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EventTypes\";s:11:\"description\";s:69:\"The
  type of email sending events to publish to the event destination.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EventDestinationName\";s:11:\"description\";s:237:\"<p>The
  name of the event destination. The name must:</p> <ul> <li> <p>This value can only
  contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p>
  </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>\";}s:14:\"SNSDestination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SNSDestination\";s:11:\"description\";s:123:\"An
  object that contains the topic ARN associated with an Amazon Simple Notification
  Service (Amazon SNS) event destination.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:18:\"MatchingEventTypes\";}s:4:\"type\";s:6:\"object\";}s:38:\"EventDestinationAlreadyExistsException\";O:8:\"stdClass\":0:{}s:37:\"EventDestinationDoesNotExistException\";O:8:\"stdClass\":0:{}s:20:\"EventDestinationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"EventDestinations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EventDestination\";}s:4:\"type\";s:5:\"array\";}s:9:\"EventType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:4:\"send\";i:1;s:6:\"reject\";i:2;s:6:\"bounce\";i:3;s:9:\"complaint\";i:4;s:8:\"delivery\";i:5;s:4:\"open\";i:6;s:5:\"click\";i:7;s:16:\"renderingFailure\";}s:4:\"type\";s:6:\"string\";}s:10:\"EventTypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EventType\";}s:4:\"type\";s:5:\"array\";}s:11:\"Explanation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ExtensionField\";O:8:\"stdClass\":4:{s:11:\"description\";s:332:\"<p>Additional
  X-headers to include in the Delivery Status Notification (DSN) when an email that
  Amazon SES receives on your behalf bounces.</p> <p>For information about receiving
  email through Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email.html\">Amazon
  SES Developer Guide</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ExtensionFieldName\";s:11:\"description\";s:150:\"The
  name of the header to add. Must be between 1 and 50 characters, inclusive, and consist
  of alphanumeric (a-z, A-Z, 0-9) characters and dashes only.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ExtensionFieldValue\";s:11:\"description\";s:122:\"The
  value of the header to add. Must be less than 2048 characters, and must not contain
  newline characters (\"\\r\" or \"\\n\").\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:18:\"ExtensionFieldList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ExtensionField\";}s:4:\"type\";s:5:\"array\";}s:18:\"ExtensionFieldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ExtensionFieldValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"FailureRedirectionURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"FromAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:36:\"FromEmailAddressNotVerifiedException\";O:8:\"stdClass\":0:{}s:32:\"GetAccountSendingEnabledResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:110:\"Represents
  a request to return the email sending status for your Amazon SES account in the
  current AWS Region.\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"Enabled\";b:1;}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Enabled\";s:11:\"description\";s:109:\"Describes
  whether email sending is enabled or disabled for your Amazon SES account in the
  current AWS Region.\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GetCustomVerificationEmailTemplateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Represents
  a request to retrieve an existing custom verification email template.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"TemplateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateName\";s:11:\"description\";s:77:\"The
  name of the custom verification email template that you want to retrieve.\";}}s:8:\"required\";a:1:{i:0;s:12:\"TemplateName\";}s:4:\"type\";s:6:\"object\";}s:42:\"GetCustomVerificationEmailTemplateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  content of the custom verification email template.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"FailureRedirectionURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/FailureRedirectionURL\";s:11:\"description\";s:115:\"The
  URL that the recipient of the verification email is sent to if his or her address
  is not successfully verified.\";}s:16:\"FromEmailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FromAddress\";s:11:\"description\";s:66:\"The
  email address that the custom verification email is sent from.\";}s:21:\"SuccessRedirectionURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/SuccessRedirectionURL\";s:11:\"description\";s:111:\"The
  URL that the recipient of the verification email is sent to if his or her address
  is successfully verified.\";}s:15:\"TemplateContent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TemplateContent\";s:11:\"description\";s:45:\"The
  content of the custom verification email.\";}s:12:\"TemplateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateName\";s:11:\"description\";s:51:\"The
  name of the custom verification email template.\";}s:15:\"TemplateSubject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Subject\";s:11:\"description\";s:50:\"The
  subject line of the custom verification email.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GetIdentityDkimAttributesRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:425:\"Represents
  a request for the status of Amazon SES Easy DKIM signing for an identity. For domain
  identities, this request also returns the DKIM tokens that are required for Easy
  DKIM signing, and whether Amazon SES successfully verified that these tokens were
  published. For more information about Easy DKIM, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"Identities\";a:2:{i:0;s:11:\"example.com\";i:1;s:16:\"user@example.com\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Identities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IdentityList\";s:11:\"description\";s:78:\"A
  list of one or more verified identities - email addresses, domains, or both.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Identities\";}s:4:\"type\";s:6:\"object\";}s:33:\"GetIdentityDkimAttributesResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:257:\"Represents
  the status of Amazon SES Easy DKIM signing for an identity. For domain identities,
  this response also contains the DKIM tokens that are required for Easy DKIM signing,
  and whether Amazon SES successfully verified that these tokens were published.\";s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"DkimAttributes\";O:8:\"stdClass\":2:{s:11:\"example.com\";O:8:\"stdClass\":3:{s:11:\"DkimEnabled\";b:1;s:10:\"DkimTokens\";a:3:{i:0;s:32:\"EXAMPLEjcs5xoyqytjsotsijas7236gr\";i:1;s:32:\"EXAMPLEjr76cvoc6mysspnioorxsn6ep\";i:2;s:32:\"EXAMPLEkbmkqkhlm2lyz77ppkulerm4k\";}s:22:\"DkimVerificationStatus\";s:7:\"Success\";}s:16:\"user@example.com\";O:8:\"stdClass\":2:{s:11:\"DkimEnabled\";b:0;s:22:\"DkimVerificationStatus\";s:10:\"NotStarted\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"DkimAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DkimAttributes\";s:11:\"description\";s:53:\"The
  DKIM attributes for an email address or a domain.\";}}s:8:\"required\";a:1:{i:0;s:14:\"DkimAttributes\";}s:4:\"type\";s:6:\"object\";}s:42:\"GetIdentityMailFromDomainAttributesRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:272:\"Represents
  a request to return the Amazon SES custom MAIL FROM attributes for a list of identities.
  For information about using a custom MAIL FROM domain, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/mail-from.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"Identities\";a:1:{i:0;s:11:\"example.com\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Identities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IdentityList\";s:11:\"description\";s:33:\"A
  list of one or more identities.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Identities\";}s:4:\"type\";s:6:\"object\";}s:43:\"GetIdentityMailFromDomainAttributesResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:68:\"Represents
  the custom MAIL FROM attributes for a list of identities.\";s:7:\"example\";O:8:\"stdClass\":1:{s:24:\"MailFromDomainAttributes\";O:8:\"stdClass\":1:{s:11:\"example.com\";O:8:\"stdClass\":3:{s:19:\"BehaviorOnMXFailure\";s:15:\"UseDefaultValue\";s:14:\"MailFromDomain\";s:19:\"bounces.example.com\";s:20:\"MailFromDomainStatus\";s:7:\"Success\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"MailFromDomainAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MailFromDomainAttributes\";s:11:\"description\";s:51:\"A
  map of identities to custom MAIL FROM attributes.\";}}s:8:\"required\";a:1:{i:0;s:24:\"MailFromDomainAttributes\";}s:4:\"type\";s:6:\"object\";}s:40:\"GetIdentityNotificationAttributesRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:283:\"Represents
  a request to return the notification attributes for a list of identities you verified
  with Amazon SES. For information about Amazon SES notifications, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"Identities\";a:1:{i:0;s:11:\"example.com\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Identities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IdentityList\";s:11:\"description\";s:260:\"A
  list of one or more identities. You can specify an identity by using its name or
  by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>,
  <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Identities\";}s:4:\"type\";s:6:\"object\";}s:41:\"GetIdentityNotificationAttributesResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:64:\"Represents
  the notification attributes for a list of identities.\";s:7:\"example\";O:8:\"stdClass\":1:{s:22:\"NotificationAttributes\";O:8:\"stdClass\":1:{s:11:\"example.com\";O:8:\"stdClass\":7:{s:11:\"BounceTopic\";s:47:\"arn:aws:sns:us-east-1:EXAMPLE65304:ExampleTopic\";s:14:\"ComplaintTopic\";s:47:\"arn:aws:sns:us-east-1:EXAMPLE65304:ExampleTopic\";s:13:\"DeliveryTopic\";s:47:\"arn:aws:sns:us-east-1:EXAMPLE65304:ExampleTopic\";s:17:\"ForwardingEnabled\";b:1;s:35:\"HeadersInBounceNotificationsEnabled\";b:0;s:38:\"HeadersInComplaintNotificationsEnabled\";b:0;s:37:\"HeadersInDeliveryNotificationsEnabled\";b:0;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"NotificationAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/NotificationAttributes\";s:11:\"description\";s:52:\"A
  map of Identity to IdentityNotificationAttributes.\";}}s:8:\"required\";a:1:{i:0;s:22:\"NotificationAttributes\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetIdentityPoliciesRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:354:\"Represents
  a request to return the requested sending authorization policies for an identity.
  Sending authorization is an Amazon SES feature that enables you to authorize other
  senders to use your identities. For information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"Identity\";s:11:\"example.com\";s:11:\"PolicyNames\";a:1:{i:0;s:8:\"MyPolicy\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";s:11:\"description\";s:353:\"<p>The
  identity for which the policies will be retrieved. You can specify an identity by
  using its name or by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>,
  <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p>
  <p>To successfully call this API, you must own the identity.</p>\";}s:11:\"PolicyNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyNameList\";s:11:\"description\";s:228:\"A
  list of the names of policies to be retrieved. You can retrieve a maximum of 20
  policies at a time. If you do not know the names of the policies that are attached
  to the identity, you can use <code>ListIdentityPolicies</code>.\";}}s:8:\"required\";a:2:{i:0;s:8:\"Identity\";i:1;s:11:\"PolicyNames\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetIdentityPoliciesResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"Represents
  the requested sending authorization policies.\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"Policies\";O:8:\"stdClass\":1:{s:8:\"MyPolicy\";s:251:\"{\"Version\":\"2008-10-17\",\"Statement\":[{\"Sid\":\"stmt1469123904194\",\"Effect\":\"Allow\",\"Principal\":{\"AWS\":\"arn:aws:iam::123456789012:root\"},\"Action\":[\"ses:SendEmail\",\"ses:SendRawEmail\"],\"Resource\":\"arn:aws:ses:us-east-1:EXAMPLE65304:identity/example.com\"}]}\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Policies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PolicyMap\";s:11:\"description\";s:34:\"A
  map of policy names to policies.\";}}s:8:\"required\";a:1:{i:0;s:8:\"Policies\";}s:4:\"type\";s:6:\"object\";}s:40:\"GetIdentityVerificationAttributesRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:360:\"Represents
  a request to return the Amazon SES verification status of a list of identities.
  For domain identities, this request also returns the verification token. For information
  about verifying identities with Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-addresses-and-domains.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"Identities\";a:1:{i:0;s:11:\"example.com\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Identities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IdentityList\";s:11:\"description\";s:21:\"A
  list of identities.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Identities\";}s:4:\"type\";s:6:\"object\";}s:41:\"GetIdentityVerificationAttributesResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:134:\"The
  Amazon SES verification status of a list of identities. For domain identities, this
  response also contains the verification token.\";s:7:\"example\";O:8:\"stdClass\":1:{s:22:\"VerificationAttributes\";O:8:\"stdClass\":1:{s:11:\"example.com\";O:8:\"stdClass\":2:{s:18:\"VerificationStatus\";s:7:\"Success\";s:17:\"VerificationToken\";s:44:\"EXAMPLE3VYb9EDI2nTOQRi/Tf6MI/6bD6THIGiP1MVY=\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"VerificationAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/VerificationAttributes\";s:11:\"description\";s:62:\"A
  map of Identities to IdentityVerificationAttributes objects.\";}}s:8:\"required\";a:1:{i:0;s:22:\"VerificationAttributes\";}s:4:\"type\";s:6:\"object\";}s:20:\"GetSendQuotaResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"Represents
  your Amazon SES daily sending quota, maximum send rate, and the number of emails
  you have sent in the last 24 hours.\";s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"Max24HourSend\";i:200;s:11:\"MaxSendRate\";i:1;s:15:\"SentLast24Hours\";i:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"Max24HourSend\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Max24HourSend\";s:11:\"description\";s:123:\"The
  maximum number of emails the user is allowed to send in a 24-hour interval. A value
  of -1 signifies an unlimited quota.\";}s:11:\"MaxSendRate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MaxSendRate\";s:11:\"description\";s:219:\"<p>The
  maximum number of emails that Amazon SES can accept from the user's account per
  second.</p> <note> <p>The rate at which Amazon SES accepts the user's messages might
  be less than the maximum send rate.</p> </note>\";}s:15:\"SentLast24Hours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SentLast24Hours\";s:11:\"description\";s:55:\"The
  number of emails sent during the previous 24 hours.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetSendStatisticsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:138:\"Represents
  a list of data points. This list contains aggregated data from the previous two
  weeks of your sending activity with Amazon SES.\";s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"SendDataPoints\";a:3:{i:0;O:8:\"stdClass\":5:{s:7:\"Bounces\";i:0;s:10:\"Complaints\";i:0;s:16:\"DeliveryAttempts\";i:5;s:7:\"Rejects\";i:0;s:9:\"Timestamp\";s:20:\"2016-07-13T22:43:00Z\";}i:1;O:8:\"stdClass\":5:{s:7:\"Bounces\";i:0;s:10:\"Complaints\";i:0;s:16:\"DeliveryAttempts\";i:3;s:7:\"Rejects\";i:0;s:9:\"Timestamp\";s:20:\"2016-07-13T23:13:00Z\";}i:2;O:8:\"stdClass\":5:{s:7:\"Bounces\";i:0;s:10:\"Complaints\";i:0;s:16:\"DeliveryAttempts\";i:1;s:7:\"Rejects\";i:0;s:9:\"Timestamp\";s:20:\"2016-07-13T21:13:00Z\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"SendDataPoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SendDataPointList\";s:11:\"description\";s:71:\"A
  list of data points, each of which represents 15 minutes of activity.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetTemplateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"TemplateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateName\";s:11:\"description\";s:46:\"The
  name of the template you want to retrieve.\";}}s:8:\"required\";a:1:{i:0;s:12:\"TemplateName\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetTemplateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Template\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Template\";}}s:4:\"type\";s:6:\"object\";}s:10:\"HeaderName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"HeaderValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"HtmlPart\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Identity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"IdentityDkimAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"Represents
  the DKIM attributes of a verified email address or a domain.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"DkimEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Enabled\";s:11:\"description\";s:109:\"True
  if DKIM signing is enabled for email sent from the identity; false otherwise. The
  default value is true.\";}s:10:\"DkimTokens\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/VerificationTokenList\";s:11:\"description\";s:695:\"<p>A
  set of character strings that represent the domain's identity. Using these tokens,
  you will need to create DNS CNAME records that point to DKIM public keys hosted
  by Amazon SES. Amazon Web Services will eventually detect that you have updated
  your DNS records; this detection process may take up to 72 hours. Upon successful
  detection, Amazon SES will be able to DKIM-sign email originating from that domain.
  (This only applies to domain identities, not email address identities.)</p> <p>For
  more information about creating DNS records using DKIM tokens, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim-dns-records.html\">Amazon
  SES Developer Guide</a>.</p>\";}s:22:\"DkimVerificationStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/VerificationStatus\";s:11:\"description\";s:192:\"Describes
  whether Amazon SES has successfully verified the DKIM DNS records (tokens) published
  in the domain name's DNS. (This only applies to domain identities, not email address
  identities.)\";}}s:8:\"required\";a:2:{i:0;s:11:\"DkimEnabled\";i:1;s:22:\"DkimVerificationStatus\";}s:4:\"type\";s:6:\"object\";}s:12:\"IdentityList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";}s:4:\"type\";s:5:\"array\";}s:32:\"IdentityMailFromDomainAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"Represents
  the custom MAIL FROM domain attributes of a verified identity (email address or
  domain).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"BehaviorOnMXFailure\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BehaviorOnMXFailure\";s:11:\"description\";s:644:\"<p>The
  action that Amazon SES takes if it cannot successfully read the required MX record
  when you send an email. A value of <code>UseDefaultValue</code> indicates that if
  Amazon SES cannot read the required MX record, it uses amazonses.com (or a subdomain
  of that) as the MAIL FROM domain. A value of <code>RejectMessage</code> indicates
  that if Amazon SES cannot read the required MX record, Amazon SES returns a <code>MailFromDomainNotVerified</code>
  error and does not send the email.</p> <p>The custom MAIL FROM setup states that
  result in this behavior are <code>Pending</code>, <code>Failed</code>, and <code>TemporaryFailure</code>.</p>\";}s:14:\"MailFromDomain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/MailFromDomainName\";s:11:\"description\";s:67:\"The
  custom MAIL FROM domain that the identity is configured to use.\";}s:20:\"MailFromDomainStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CustomMailFromStatus\";s:11:\"description\";s:364:\"The
  state that indicates whether Amazon SES has successfully read the MX record required
  for custom MAIL FROM domain setup. If the state is <code>Success</code>, Amazon
  SES uses the specified custom MAIL FROM domain when the verified identity sends
  an email. All other states indicate that Amazon SES takes the action described by
  <code>BehaviorOnMXFailure</code>.\";}}s:8:\"required\";a:3:{i:0;s:14:\"MailFromDomain\";i:1;s:20:\"MailFromDomainStatus\";i:2;s:19:\"BehaviorOnMXFailure\";}s:4:\"type\";s:6:\"object\";}s:30:\"IdentityNotificationAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:284:\"Represents
  the notification attributes of an identity, including whether an identity has Amazon
  Simple Notification Service (Amazon SNS) topics set for bounce, complaint, and/or
  delivery notifications, and whether feedback forwarding is enabled for bounce and
  complaint notifications.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"BounceTopic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NotificationTopic\";s:11:\"description\";s:106:\"The
  Amazon Resource Name (ARN) of the Amazon SNS topic where Amazon SES will publish
  bounce notifications.\";}s:14:\"ComplaintTopic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NotificationTopic\";s:11:\"description\";s:109:\"The
  Amazon Resource Name (ARN) of the Amazon SNS topic where Amazon SES will publish
  complaint notifications.\";}s:13:\"DeliveryTopic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NotificationTopic\";s:11:\"description\";s:108:\"The
  Amazon Resource Name (ARN) of the Amazon SNS topic where Amazon SES will publish
  delivery notifications.\";}s:17:\"ForwardingEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Enabled\";s:11:\"description\";s:343:\"Describes
  whether Amazon SES will forward bounce and complaint notifications as email. <code>true</code>
  indicates that Amazon SES will forward bounce and complaint notifications as email,
  while <code>false</code> indicates that bounce and complaint notifications will
  be published only to the specified bounce and complaint Amazon SNS topics.\";}s:35:\"HeadersInBounceNotificationsEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Enabled\";s:11:\"description\";s:332:\"Describes
  whether Amazon SES includes the original email headers in Amazon SNS notifications
  of type <code>Bounce</code>. A value of <code>true</code> specifies that Amazon
  SES will include headers in bounce notifications, and a value of <code>false</code>
  specifies that Amazon SES will not include headers in bounce notifications.\";}s:38:\"HeadersInComplaintNotificationsEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Enabled\";s:11:\"description\";s:341:\"Describes
  whether Amazon SES includes the original email headers in Amazon SNS notifications
  of type <code>Complaint</code>. A value of <code>true</code> specifies that Amazon
  SES will include headers in complaint notifications, and a value of <code>false</code>
  specifies that Amazon SES will not include headers in complaint notifications.\";}s:37:\"HeadersInDeliveryNotificationsEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Enabled\";s:11:\"description\";s:338:\"Describes
  whether Amazon SES includes the original email headers in Amazon SNS notifications
  of type <code>Delivery</code>. A value of <code>true</code> specifies that Amazon
  SES will include headers in delivery notifications, and a value of <code>false</code>
  specifies that Amazon SES will not include headers in delivery notifications.\";}}s:8:\"required\";a:4:{i:0;s:11:\"BounceTopic\";i:1;s:14:\"ComplaintTopic\";i:2;s:13:\"DeliveryTopic\";i:3;s:17:\"ForwardingEnabled\";}s:4:\"type\";s:6:\"object\";}s:12:\"IdentityType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:12:\"EmailAddress\";i:1;s:6:\"Domain\";}s:4:\"type\";s:6:\"string\";}s:30:\"IdentityVerificationAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Represents
  the verification attributes of a single identity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"VerificationStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/VerificationStatus\";s:11:\"description\";s:95:\"The
  verification status of the identity: \"Pending\", \"Success\", \"Failed\", or \"TemporaryFailure\".\";}s:17:\"VerificationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/VerificationToken\";s:11:\"description\";s:80:\"The
  verification token for a domain identity. Null for email address identities.\";}}s:8:\"required\";a:1:{i:0;s:18:\"VerificationStatus\";}s:4:\"type\";s:6:\"object\";}s:37:\"InvalidCloudWatchDestinationException\";O:8:\"stdClass\":0:{}s:32:\"InvalidConfigurationSetException\";O:8:\"stdClass\":0:{}s:35:\"InvalidFirehoseDestinationException\";O:8:\"stdClass\":0:{}s:30:\"InvalidLambdaFunctionException\";O:8:\"stdClass\":0:{}s:22:\"InvalidPolicyException\";O:8:\"stdClass\":0:{}s:34:\"InvalidRenderingParameterException\";O:8:\"stdClass\":0:{}s:31:\"InvalidS3ConfigurationException\";O:8:\"stdClass\":0:{}s:30:\"InvalidSNSDestinationException\";O:8:\"stdClass\":0:{}s:24:\"InvalidSnsTopicException\";O:8:\"stdClass\":0:{}s:24:\"InvalidTemplateException\";O:8:\"stdClass\":0:{}s:31:\"InvalidTrackingOptionsException\";O:8:\"stdClass\":0:{}s:14:\"InvocationType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"Event\";i:1;s:15:\"RequestResponse\";}s:4:\"type\";s:6:\"string\";}s:26:\"KinesisFirehoseDestination\";O:8:\"stdClass\":4:{s:11:\"description\";s:453:\"<p>Contains
  the delivery stream ARN and the IAM role ARN associated with an Amazon Kinesis Firehose
  event destination.</p> <p>Event destinations, such as Amazon Kinesis Firehose, are
  associated with configuration sets, which enable you to publish email sending events.
  For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"DeliveryStreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:95:\"The
  ARN of the Amazon Kinesis Firehose stream that email sending events should be published
  to.\";}s:10:\"IAMRoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:116:\"The
  ARN of the IAM role under which Amazon SES publishes email sending events to the
  Amazon Kinesis Firehose stream.\";}}s:8:\"required\";a:2:{i:0;s:10:\"IAMRoleARN\";i:1;s:17:\"DeliveryStreamARN\";}s:4:\"type\";s:6:\"object\";}s:12:\"LambdaAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:739:\"<p>When
  included in a receipt rule, this action calls an AWS Lambda function and, optionally,
  publishes a notification to Amazon Simple Notification Service (Amazon SNS).</p>
  <p>To enable Amazon SES to call your AWS Lambda function or to publish to an Amazon
  SNS topic of another account, Amazon SES must have permission to access those resources.
  For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon
  SES Developer Guide</a>.</p> <p>For information about using AWS Lambda actions in
  receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-action-lambda.html\">Amazon
  SES Developer Guide</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"FunctionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:318:\"The
  Amazon Resource Name (ARN) of the AWS Lambda function. An example of an AWS Lambda
  function ARN is <code>arn:aws:lambda:us-west-2:account-id:function:MyFunction</code>.
  For more information about AWS Lambda, see the <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">AWS
  Lambda Developer Guide</a>.\";}s:14:\"InvocationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InvocationType\";s:11:\"description\";s:791:\"<p>The
  invocation type of the AWS Lambda function. An invocation type of <code>RequestResponse</code>
  means that the execution of the function will immediately result in a response,
  and a value of <code>Event</code> means that the function will be invoked asynchronously.
  The default value is <code>Event</code>. For information about AWS Lambda invocation
  types, see the <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/API_Invoke.html\">AWS
  Lambda Developer Guide</a>.</p> <important> <p>There is a 30-second timeout on <code>RequestResponse</code>
  invocations. You should use <code>Event</code> invocation in most cases. Use <code>RequestResponse</code>
  only when you want to make a mail flow decision, such as whether to stop the receipt
  rule or the receipt rule set.</p> </important>\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:349:\"The
  Amazon Resource Name (ARN) of the Amazon SNS topic to notify when the Lambda action
  is taken. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>.
  For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon
  SNS Developer Guide</a>.\";}}s:8:\"required\";a:1:{i:0;s:11:\"FunctionArn\";}s:4:\"type\";s:6:\"object\";}s:15:\"LastAttemptDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"LastFreshStart\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":0:{}s:28:\"ListConfigurationSetsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:329:\"Represents
  a request to list the configuration sets associated with your AWS account. Configuration
  sets enable you to publish email sending events. For information about using configuration
  sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"MaxItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MaxItems\";s:11:\"description\";s:43:\"The
  number of configuration sets to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:156:\"A
  token returned from a previous call to <code>ListConfigurationSets</code> to indicate
  the position of the configuration set in the configuration set list.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListConfigurationSetsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:306:\"A
  list of configuration sets associated with your AWS account. Configuration sets
  enable you to publish email sending events. For information about using configuration
  sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ConfigurationSets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConfigurationSets\";s:11:\"description\";s:29:\"A
  list of configuration sets.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:163:\"A
  token indicating that there are additional configuration sets available to be listed.
  Pass this token to successive calls of <code>ListConfigurationSets</code>. \";}}s:4:\"type\";s:6:\"object\";}s:43:\"ListCustomVerificationEmailTemplatesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:333:\"<p>Represents
  a request to list the existing custom verification email templates for your account.</p>
  <p>For more information about custom verification email templates, see <a href=\"ses/latest/DeveloperGuide/custom-verification-emails.html\">Using
  Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:261:\"The
  maximum number of custom verification email templates to return. This value must
  be at least 1 and less than or equal to 50. If you do not specify a value, or if
  you specify a value less than 1 or greater than 50, the operation will return up
  to 50 results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:100:\"An
  array the contains the name and creation time stamp for each template in your Amazon
  SES account.\";}}s:4:\"type\";s:6:\"object\";}s:44:\"ListCustomVerificationEmailTemplatesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  paginated list of custom verification email templates.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:32:\"CustomVerificationEmailTemplates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/CustomVerificationEmailTemplates\";s:11:\"description\";s:77:\"A
  list of the custom verification email templates that exist in your account.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:232:\"A
  token indicating that there are additional custom verification email templates available
  to be listed. Pass this token to a subsequent call to <code>ListTemplates</code>
  to retrieve the next 50 custom verification email templates.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListIdentitiesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:178:\"Represents
  a request to return a list of all identities (email addresses and domains) that
  you have attempted to verify under your AWS account, regardless of verification
  status.\";s:7:\"example\";O:8:\"stdClass\":3:{s:12:\"IdentityType\";s:12:\"EmailAddress\";s:8:\"MaxItems\";i:123;s:9:\"NextToken\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"IdentityType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IdentityType\";s:11:\"description\";s:150:\"The
  type of the identities to list. Possible values are \"EmailAddress\" and \"Domain\".
  If this parameter is omitted, then all identities will be listed.\";}s:8:\"MaxItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MaxItems\";s:11:\"description\";s:80:\"The
  maximum number of identities per page. Possible values are 1-1000 inclusive.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:32:\"The
  token to use for pagination.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListIdentitiesResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:117:\"A
  list of all identities that you have attempted to verify under your AWS account,
  regardless of verification status.\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"Identities\";a:1:{i:0;s:16:\"user@example.com\";}s:9:\"NextToken\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Identities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IdentityList\";s:11:\"description\";s:21:\"A
  list of identities.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:30:\"The
  token used for pagination.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Identities\";}s:4:\"type\";s:6:\"object\";}s:27:\"ListIdentityPoliciesRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:367:\"Represents
  a request to return a list of sending authorization policies that are attached to
  an identity. Sending authorization is an Amazon SES feature that enables you to
  authorize other senders to use your identities. For information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"Identity\";s:11:\"example.com\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";s:11:\"description\";s:385:\"<p>The
  identity that is associated with the policy for which the policies will be listed.
  You can specify an identity by using its name or by using its Amazon Resource Name
  (ARN). Examples: <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p>
  <p>To successfully call this API, you must own the identity.</p>\";}}s:8:\"required\";a:1:{i:0;s:8:\"Identity\";}s:4:\"type\";s:6:\"object\";}s:28:\"ListIdentityPoliciesResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:76:\"A
  list of names of sending authorization policies that apply to an identity.\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"PolicyNames\";a:1:{i:0;s:8:\"MyPolicy\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"PolicyNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyNameList\";s:11:\"description\";s:65:\"A
  list of names of policies that apply to the specified identity.\";}}s:8:\"required\";a:1:{i:0;s:11:\"PolicyNames\";}s:4:\"type\";s:6:\"object\";}s:25:\"ListReceiptFiltersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:308:\"Represents
  a request to list the IP address filters that exist under your AWS account. You
  use IP address filters when you receive email with Amazon SES. For more information,
  see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"ListReceiptFiltersResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"A
  list of IP address filters that exist under your AWS account.\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"Filters\";a:1:{i:0;O:8:\"stdClass\":2:{s:8:\"IpFilter\";O:8:\"stdClass\":2:{s:4:\"Cidr\";s:10:\"1.2.3.4/24\";s:6:\"Policy\";s:5:\"Block\";}s:4:\"Name\";s:8:\"MyFilter\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ReceiptFilterList\";s:11:\"description\";s:139:\"A
  list of IP address filter data structures, which each consist of a name, an IP address
  range, and whether to allow or block mail from it.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListReceiptRuleSetsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:300:\"Represents
  a request to list the receipt rule sets that exist under your AWS account. You use
  receipt rule sets to receive email with Amazon SES. For more information, see the
  <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon
  SES Developer Guide</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"NextToken\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:128:\"A
  token returned from a previous call to <code>ListReceiptRuleSets</code> to indicate
  the position in the receipt rule set list.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListReceiptRuleSetsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"A
  list of receipt rule sets that exist under your AWS account.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"NextToken\";s:0:\"\";s:8:\"RuleSets\";a:1:{i:0;O:8:\"stdClass\":2:{s:16:\"CreatedTimestamp\";s:24:\"2016-07-15T16:25:59.607Z\";s:4:\"Name\";s:9:\"MyRuleSet\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:209:\"A
  token indicating that there are additional receipt rule sets available to be listed.
  Pass this token to successive calls of <code>ListReceiptRuleSets</code> to retrieve
  up to 100 receipt rule sets at a time.\";}s:8:\"RuleSets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ReceiptRuleSetsLists\";s:11:\"description\";s:150:\"The
  metadata for the currently active receipt rule set. The metadata consists of the
  rule set name and the timestamp of when the rule set was created.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListTemplatesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"MaxItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MaxItems\";s:11:\"description\";s:235:\"The
  maximum number of templates to return. This value must be at least 1 and less than
  or equal to 10. If you do not specify a value, or if you specify a value less than
  1 or greater than 10, the operation will return up to 10 results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:124:\"A
  token returned from a previous call to <code>ListTemplates</code> to indicate the
  position in the list of email templates.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListTemplatesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:192:\"A
  token indicating that there are additional email templates available to be listed.
  Pass this token to a subsequent call to <code>ListTemplates</code> to retrieve the
  next 50 email templates.\";}s:17:\"TemplatesMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TemplateMetadataList\";s:11:\"description\";s:100:\"An
[...]
