---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:13:\"info@obono.at\";s:4:\"name\";s:16:\"CodeWerkstatt
  OG\";s:3:\"url\";s:16:\"https://obono.at\";s:9:\"x-twitter\";s:8:\"obono_at\";}s:11:\"description\";s:286:\"Provides
  a RESTful API for interacting with virtual cash registers and creating receipts
  that are conform with the Registrierkassensicherheitsverordnung (RKSV).\n\nYou may
  find our [automatically generated clients](./clients) for various programming languages
  and environments helpful...\n\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:57:\"Creative
  Commons Attribution NonCommercial 4.0 (CC-BY-NC)\";s:3:\"url\";s:56:\"https://creativecommons.org/licenses/by-nc/4.0/legalcode\";}s:5:\"title\";s:10:\"obono
  RKSV\";s:7:\"version\";s:7:\"1.3.3.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_obono_at_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:37:\"https://app.obono.at/api/docs/api.yml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:8:\"obono.at\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"obono_at\";s:4:\"type\";s:7:\"openapi\";}}"
host: app.obono.at
basePath: /api/v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:19:\"Abschlussbelegdaten\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:30:\"Abschluss-Beginn-Datum-Uhrzeit\";O:8:\"stdClass\":2:{s:6:\"format\";s:17:\"iso8601-date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"Abschluss-Ende-Datum-Uhrzeit\";O:8:\"stdClass\":2:{s:6:\"format\";s:17:\"iso8601-date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:30:\"Abschluss-Beginn-Datum-Uhrzeit\";i:1;s:28:\"Abschluss-Ende-Datum-Uhrzeit\";}s:4:\"type\";s:6:\"object\";}s:10:\"AuthResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"accessToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"registrierkasseUuid\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Beleg\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"Beleg-Codes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"Beleg-Typen\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:25:\"Belegkreisinitialisierung\";i:1;s:13:\"Kassenbericht\";i:2;s:15:\"Monatsabschluss\";i:3;s:10:\"Startbeleg\";i:4;s:6:\"Storno\";i:5;s:11:\"Systembeleg\";i:6;s:8:\"Training\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"Belegdaten\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SignierteBelegdaten\";}s:3:\"JWS\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  signed `Beleg` as a JWS signature token.\";s:6:\"format\";s:3:\"jws\";s:4:\"type\";s:6:\"string\";}s:2:\"QR\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  portion of the `JWS` token to be used for generating QR codes.\";s:4:\"type\";s:6:\"string\";}s:7:\"QR-Link\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  hyperlink that retrieves the `QR` data.\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:20:\"Registrierkasse-UUID\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  `_uuid` of the `Registrierkasse` that has issued this `Beleg`.\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:31:\"Signaturerstellungseinheit-UUID\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  `_uuid` of the `Signaturerstellungseinheit` that has signed this `Beleg`.\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:5:\"_href\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"URL
  of the particular `Beleg` instance.\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:5:\"_uuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Unique
  ID of the particular `Beleg` instance.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Belegdaten\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  `Beleg` to be signed by the \"Signaturerstellungseinheit\" and stored in the \"Datenerfassungsprotokoll\".\";s:10:\"properties\";O:8:\"stdClass\":21:{s:25:\"Externer-Beleg-Belegkreis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"Externer-Beleg-Bezeichnung\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"Externer-Beleg-Referenz\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Kunde\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Notizen\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"Posten\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Posten\";}s:4:\"type\";s:5:\"array\";}s:7:\"Rabatte\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Rabatt\";}s:4:\"type\";s:5:\"array\";}s:6:\"Storno\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Storno?\";s:4:\"type\";s:7:\"boolean\";}s:17:\"Storno-Beleg-UUID\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  `Beleg-UUID` property of the `Beleg` to be cancelled\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:11:\"Storno-Text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Training\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Training?\";s:4:\"type\";s:7:\"boolean\";}s:20:\"Unternehmen-Adresse1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"Unternehmen-Adresse2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"Unternehmen-Fusszeile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"Unternehmen-ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"Unternehmen-ID-Typ\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:12:\"steuernummer\";i:1;s:3:\"uid\";i:2;s:3:\"gln\";}s:4:\"type\";s:6:\"string\";}s:21:\"Unternehmen-Kopfzeile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"Unternehmen-Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"Unternehmen-Ort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"Unternehmen-PLZ\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Zahlungen\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Zahlung\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Belege\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Belegformat\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Exportformat\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Belegformat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Belege\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Beleg\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Exportformat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"Belege-Gruppe\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"Belege-kompakt\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"base64\";s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:18:\"Signaturzertifikat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"base64\";s:4:\"type\";s:6:\"string\";}s:22:\"Zertifizierungsstellen\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"base64\";s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:18:\"Signaturzertifikat\";i:1;s:22:\"Zertifizierungsstellen\";i:2;s:14:\"Belege-kompakt\";}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Monatsbeleg\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"Beleg-UUID\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:26:\"FON-Geprueft-Datum-Uhrzeit\";O:8:\"stdClass\":2:{s:6:\"format\";s:17:\"iso8601-date-time\";s:4:\"type\";s:6:\"string\";}s:24:\"FON-Geprueft-Erfolgreich\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"Jahr\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Monat\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Posten\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"Bezeichnung\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"BruttoBetrag\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  amount in cents\";s:4:\"type\";s:7:\"integer\";}s:25:\"Externer-Beleg-Belegkreis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"Externer-Beleg-Bezeichnung\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"Externer-Beleg-Referenz\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Menge\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"NettoBetrag\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  amount in cents\";s:4:\"type\";s:7:\"integer\";}s:4:\"Satz\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"NORMAL\";i:1;s:11:\"ERMAESSIGT1\";i:2;s:11:\"ERMAESSIGT2\";i:3;s:9:\"BESONDERS\";i:4;s:4:\"NULL\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:11:\"Bezeichnung\";i:1;s:4:\"Satz\";i:2;s:5:\"Menge\";i:3;s:11:\"NettoBetrag\";i:4;s:12:\"BruttoBetrag\";}s:4:\"type\";s:6:\"object\";}s:6:\"Rabatt\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"Betrag-Brutto\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  amount in cents\";s:4:\"type\";s:7:\"integer\";}s:12:\"Betrag-Netto\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  amount in cents\";s:4:\"type\";s:7:\"integer\";}s:11:\"Bezeichnung\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Satz\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"NORMAL\";i:1;s:11:\"ERMAESSIGT1\";i:2;s:11:\"ERMAESSIGT2\";i:3;s:9:\"BESONDERS\";i:4;s:4:\"NULL\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"Bezeichnung\";i:1;s:12:\"Betrag-Netto\";i:2;s:13:\"Betrag-Brutto\";}s:4:\"type\";s:6:\"object\";}s:15:\"Registrierkasse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"Benutzerschluessel\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  base64 encoded AES 256 key used for encrypting the \"Umsatzzaehler\".\";s:6:\"format\";s:6:\"base64\";s:4:\"type\";s:6:\"string\";}s:9:\"Kassen-ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  (RKSV) \"Kassenidentifikationsnummer\" of this particular `Registrierkasse`.\";s:4:\"type\";s:6:\"string\";}s:31:\"Signaturerstellungseinheit-UUID\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  `_uuid` of the paired \"Signaturerstellungseinheit\".\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:5:\"_href\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"URL
  of the particular `Registrierkasse` instance.\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:5:\"_uuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Unique
  ID of the particular `Registrierkasse` instance.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SignierteBelegdaten\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  complete `Beleg` that has been signed by the \"Signaturerstellungseinheit\" and
  stored in the \"Datenerfassungsprotokoll\".\";s:10:\"properties\";O:8:\"stdClass\":37:{s:19:\"Beleg-Datum-Uhrzeit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Belegnummer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"Betrag-Brutto\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"Betrag-Netto\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"Betrag-Satz-Besonders-Brutto\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  total amount in cents\";s:4:\"type\";s:7:\"integer\";}s:27:\"Betrag-Satz-Besonders-Netto\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  total amount in cents\";s:4:\"type\";s:7:\"integer\";}s:31:\"Betrag-Satz-Ermaessigt-1-Brutto\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  total amount in cents\";s:4:\"type\";s:7:\"integer\";}s:30:\"Betrag-Satz-Ermaessigt-1-Netto\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  total amount in cents\";s:4:\"type\";s:7:\"integer\";}s:31:\"Betrag-Satz-Ermaessigt-2-Brutto\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  total amount in cents\";s:4:\"type\";s:7:\"integer\";}s:30:\"Betrag-Satz-Ermaessigt-2-Netto\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  total amount in cents\";s:4:\"type\";s:7:\"integer\";}s:25:\"Betrag-Satz-Normal-Brutto\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  total amount in cents\";s:4:\"type\";s:7:\"integer\";}s:24:\"Betrag-Satz-Normal-Netto\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  total amount in cents\";s:4:\"type\";s:7:\"integer\";}s:23:\"Betrag-Satz-Null-Brutto\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  total amount in cents\";s:4:\"type\";s:7:\"integer\";}s:22:\"Betrag-Satz-Null-Netto\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  total amount in cents\";s:4:\"type\";s:7:\"integer\";}s:25:\"Externer-Beleg-Belegkreis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"Externer-Beleg-Bezeichnung\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"Externer-Beleg-Referenz\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Kassen-ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Kunde\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Notizen\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"Posten\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Posten\";}s:4:\"type\";s:5:\"array\";}s:7:\"Rabatte\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Rabatt\";}s:4:\"type\";s:5:\"array\";}s:6:\"Storno\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Storno?\";s:4:\"type\";s:7:\"boolean\";}s:17:\"Storno-Beleg-UUID\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  `Beleg-UUID` property of the `Beleg` to be cancelled\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:11:\"Storno-Text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Training\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Training?\";s:4:\"type\";s:7:\"boolean\";}s:20:\"Unternehmen-Adresse1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"Unternehmen-Adresse2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"Unternehmen-Fusszeile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"Unternehmen-ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"Unternehmen-ID-Typ\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:12:\"steuernummer\";i:1;s:3:\"uid\";i:2;s:3:\"gln\";}s:4:\"type\";s:6:\"string\";}s:21:\"Unternehmen-Kopfzeile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"Unternehmen-Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"Unternehmen-Ort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"Unternehmen-PLZ\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Zahlungen\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Zahlung\";}s:4:\"type\";s:5:\"array\";}s:23:\"Zertifikat-Seriennummer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Zahlung\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Betrag\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  amount in cents\";s:4:\"type\";s:7:\"integer\";}s:11:\"Bezeichnung\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Referenz\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"Bezeichnung\";i:1;s:6:\"Betrag\";}s:4:\"type\";s:6:\"object\";}}"
...
