---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:11:\"description\";s:3402:\"<fullname>AWS
  Storage Gateway Service</fullname> <p>AWS Storage Gateway is the service that connects
  an on-premises software appliance with cloud-based storage to provide seamless and
  secure integration between an organization's on-premises IT environment and AWS's
  storage infrastructure. The service enables you to securely upload data to the AWS
  cloud for cost effective backup and rapid disaster recovery.</p> <p>Use the following
  links to get started using the <i>AWS Storage Gateway Service API Reference</i>:</p>
  <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPI.html#AWSStorageGatewayHTTPRequestsHeaders\">AWS
  Storage Gateway Required Request Headers</a>: Describes the required headers that
  you must send with every POST request to AWS Storage Gateway.</p> </li> <li> <p>
  <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPI.html#AWSStorageGatewaySigningRequests\">Signing
  Requests</a>: AWS Storage Gateway requires that you authenticate every request you
  send; this topic describes how sign such a request.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPI.html#APIErrorResponses\">Error
  Responses</a>: Provides reference information about AWS Storage Gateway errors.</p>
  </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/APIReference/API_Operations.html\">Operations
  in AWS Storage Gateway</a>: Contains detailed descriptions of all AWS Storage Gateway
  operations, their request parameters, response elements, possible errors, and examples
  of requests and responses.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sg_region\">AWS
  Storage Gateway Regions and Endpoints:</a> Provides a list of each region and endpoints
  available for use with AWS Storage Gateway. </p> </li> </ul> <note> <p>AWS Storage
  Gateway resource IDs are in uppercase. When you use these resource IDs with the
  Amazon EC2 API, EC2 expects resource IDs in lowercase. You must change your resource
  ID to lowercase to use it with the EC2 API. For example, in Storage Gateway the
  ID for a volume might be <code>vol-AA22BB012345DAF670</code>. When you use this
  ID with the EC2 API, you must change it to <code>vol-aa22bb012345daf670</code>.
  Otherwise, the EC2 API might not behave as expected.</p> </note> <important> <p>IDs
  for Storage Gateway volumes and Amazon EBS snapshots created from gateway volumes
  are changing to a longer format. Starting in December 2016, all new volumes and
  snapshots will be created with a 17-character string. Starting in April 2016, you
  will be able to use these longer IDs so you can test your systems with the new format.
  For more information, see <a href=\"https://aws.amazon.com/ec2/faqs/#longer-ids\">Longer
  EC2 and EBS Resource IDs</a>.</p> <p> For example, a volume Amazon Resource Name
  (ARN) with the longer volume ID format looks like the following:</p> <p> <code>arn:aws:storagegateway:us-west-2:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABBCCDDEEFFG</code>.</p>
  <p>A snapshot ID with the longer ID format looks like the following: <code>snap-78e226633445566ee</code>.</p>
  <p>For more information, see <a href=\"https://forums.aws.amazon.com/ann.jspa?annID=3557\">Announcement:
  Heads-up \u2013 Longer AWS Storage Gateway volume and snapshot IDs coming in 2016</a>.</p>
  </important>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0
  License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:19:\"AWS
  Storage Gateway\";s:7:\"version\";s:10:\"2013-06-30\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:104:\"https://api.apis.guru/v2/cache/logo/https_media.amazonwebservices.com_blog_2007_big_pbaws_logo_300px.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:98:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/storagegateway-2013-06-30.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:14:\"storagegateway\";}"
host: storagegateway.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":250:{s:20:\"ActivateGatewayInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:515:\"<p>A
  JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>ActivateGatewayInput$ActivationKey</a>
  </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayName</a> </p> </li> <li> <p>
  <a>ActivateGatewayInput$GatewayRegion</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayTimezone</a>
  </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayType</a> </p> </li> <li> <p>
  <a>ActivateGatewayInput$TapeDriveType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$MediumChangerType</a>
  </p> </li> </ul>\";s:7:\"example\";O:8:\"stdClass\":7:{s:13:\"ActivationKey\";s:29:\"29AV1-3OFV9-VVIUB-NKT0I-LRO6V\";s:11:\"GatewayName\";s:10:\"My_Gateway\";s:13:\"GatewayRegion\";s:9:\"us-east-1\";s:15:\"GatewayTimezone\";s:9:\"GMT-12:00\";s:11:\"GatewayType\";s:6:\"STORED\";s:17:\"MediumChangerType\";s:15:\"AWS-Gateway-VTL\";s:13:\"TapeDriveType\";s:15:\"IBM-ULT3580-TD5\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"ActivationKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ActivationKey\";s:11:\"description\";s:517:\"Your
  gateway activation key. You can obtain the activation key by sending an HTTP GET
  request with redirects enabled to the gateway IP address (port 80). The redirect
  URL returned in the response provides you the activation key for your gateway in
  the query string parameter <code>activationKey</code>. It may also include other
  activation-related parameters, however, these are merely defaults -- the arguments
  you pass to the <code>ActivateGateway</code> API call determine the actual configuration
  of your gateway.\";}s:11:\"GatewayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/GatewayName\";s:11:\"description\";s:41:\"The
  name you configured for your gateway.\";}s:13:\"GatewayRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RegionId\";s:11:\"description\";s:655:\"<p>A
  value that indicates the region where you want to store your data. The gateway region
  specified must be the same region as the region in your <code>Host</code> header
  in the request. For more information about available regions and endpoints for AWS
  Storage Gateway, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sg_region\">Regions
  and Endpoints</a> in the <i>Amazon Web Services Glossary</i>.</p> <p> Valid Values:
  \"us-east-1\", \"us-east-2\", \"us-west-1\", \"us-west-2\", \"ca-central-1\", \"eu-west-1\",
  \"eu-central-1\", \"eu-west-2\", \"ap-northeast-1\", \"ap-northeast-2\", \"ap-southeast-1\",
  \"ap-southeast-2\", \"ap-south-1\", \"sa-east-1\"</p>\";}s:15:\"GatewayTimezone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/GatewayTimezone\";s:11:\"description\";s:347:\"A
  value that indicates the time zone you want to set for the gateway. The time zone
  is of the format \"GMT-hr:mm\" or \"GMT+hr:mm\". For example, GMT-4:00 indicates
  the time is 4 hours behind GMT. GMT+2:00 indicates the time is 2 hours ahead of
  GMT. The time zone is used, for example, for scheduling snapshots and your gateway's
  maintenance schedule.\";}s:11:\"GatewayType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/GatewayType\";s:11:\"description\";s:271:\"<p>A
  value that defines the type of gateway to activate. The type specified is critical
  to all later functions of the gateway and cannot be changed after activation. The
  default value is <code>STORED</code>. </p> <p> Valid Values: \"STORED\", \"CACHED\",
  \"VTL\", \"FILE_S3\"</p>\";}s:17:\"MediumChangerType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MediumChangerType\";s:11:\"description\";s:159:\"<p>The
  value that indicates the type of medium changer to use for tape gateway. This field
  is optional.</p> <p> Valid Values: \"STK-L700\", \"AWS-Gateway-VTL\"</p>\";}s:13:\"TapeDriveType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TapeDriveType\";s:11:\"description\";s:144:\"<p>The
  value that indicates the type of tape drive to use for tape gateway. This field
  is optional.</p> <p> Valid Values: \"IBM-ULT3580-TD5\" </p>\";}}s:8:\"required\";a:4:{i:0;s:13:\"ActivationKey\";i:1;s:11:\"GatewayName\";i:2;s:15:\"GatewayTimezone\";i:3;s:13:\"GatewayRegion\";}s:4:\"type\";s:6:\"object\";}s:21:\"ActivateGatewayOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:491:\"<p>AWS
  Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway.
  It is a string made of information such as your account, gateway name, and region.
  This ARN is used to reference the gateway in other API operations as well as resource-based
  authorization.</p> <note> <p>For gateways activated prior to September 02, 2015
  the gateway ARN contains the gateway name rather than the gateway id. Changing the
  name of the gateway has no effect on the gateway ARN.</p> </note>\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-11A2222B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ActivationKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"AddCacheInput\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"DiskIds\";a:2:{i:0;s:29:\"pci-0000:03:00.0-scsi-0:0:0:0\";i:1;s:29:\"pci-0000:03:00.0-scsi-0:0:1:0\";}s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"DiskIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DiskIds\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:2:{i:0;s:10:\"GatewayARN\";i:1;s:7:\"DiskIds\";}s:4:\"type\";s:6:\"object\";}s:14:\"AddCacheOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AddTagsToResourceInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"AddTagsToResourceInput\";s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-11A2222B\";s:4:\"Tags\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:19:\"Dev
  Gatgeway Region\";s:5:\"Value\";s:10:\"East Coast\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:71:\"The
  Amazon Resource Name (ARN) of the resource you want to add tags to.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:292:\"<p>The
  key-value pair that represents the tag you want to add to the resource. The value
  can be an empty string.</p> <note> <p>Valid characters for key and value are letters,
  spaces, and numbers representable in UTF-8 format, and the following special characters:
  + - = . _ : / @.</p> </note>\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceARN\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:23:\"AddTagsToResourceOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"AddTagsToResourceOutput\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"ResourceARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-11A2222B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:71:\"The
  Amazon Resource Name (ARN) of the resource you want to add tags to.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AddUploadBufferInput\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"DiskIds\";a:2:{i:0;s:29:\"pci-0000:03:00.0-scsi-0:0:0:0\";i:1;s:29:\"pci-0000:03:00.0-scsi-0:0:1:0\";}s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"DiskIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DiskIds\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:2:{i:0;s:10:\"GatewayARN\";i:1;s:7:\"DiskIds\";}s:4:\"type\";s:6:\"object\";}s:21:\"AddUploadBufferOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AddWorkingStorageInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:137:\"<p>A
  JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>AddWorkingStorageInput$DiskIds</a>
  </p> </li> </ul>\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"DiskIds\";a:2:{i:0;s:29:\"pci-0000:03:00.0-scsi-0:0:0:0\";i:1;s:29:\"pci-0000:03:00.0-scsi-0:0:1:0\";}s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"DiskIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/DiskIds\";s:11:\"description\";s:212:\"An
  array of strings that identify disks that are to be configured as working storage.
  Each string have a minimum length of 1 and maximum length of 300. You can get the
  disk IDs from the <a>ListLocalDisks</a> API.\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:2:{i:0;s:10:\"GatewayARN\";i:1;s:7:\"DiskIds\";}s:4:\"type\";s:6:\"object\";}s:23:\"AddWorkingStorageOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"A
  JSON object containing the of the gateway for which working storage was configured.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BandwidthDownloadRateLimit\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:102400;s:4:\"type\";s:7:\"integer\";}s:13:\"BandwidthType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:25;s:9:\"minLength\";i:3;s:4:\"type\";s:6:\"string\";}s:24:\"BandwidthUploadRateLimit\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:51200;s:4:\"type\";s:7:\"integer\";}s:7:\"Boolean\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"A
  value that indicates whether the write status of a file share is read-only: \"true\"
  if write status is read-only, and otherwise \"false\".\";s:4:\"type\";s:7:\"boolean\";}s:17:\"CachediSCSIVolume\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Describes
  an iSCSI cached volume.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"CreatedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CreatedDate\";s:11:\"description\";s:102:\"The
  date the volume was created. Volumes created prior to March 28, 2017 don\u2019t
  have this time stamp.\";}s:16:\"SourceSnapshotId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";s:11:\"description\";s:150:\"If
  the cached volume was created from a snapshot, this field contains the snapshot
  ID used, e.g. snap-78e22663. Otherwise, this field is not included.\";}s:9:\"VolumeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";s:11:\"description\";s:53:\"The
  Amazon Resource Name (ARN) of the storage volume.\";}s:8:\"VolumeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/VolumeId\";s:11:\"description\";s:55:\"The
  unique identifier of the volume, e.g. vol-AE4B946D.\";}s:14:\"VolumeProgress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DoubleObject\";s:11:\"description\";s:226:\"Represents
  the percentage complete if the volume is restoring or bootstrapping that represents
  the percent of data transferred. This field does not appear in the response if the
  cached volume is not restoring or bootstrapping.\";}s:17:\"VolumeSizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:43:\"The
  size, in bytes, of the volume capacity.\";}s:12:\"VolumeStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/VolumeStatus\";s:11:\"description\";s:78:\"One
  of the VolumeStatus values that indicates the state of the storage volume.\";}s:10:\"VolumeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/VolumeType\";s:11:\"description\";s:79:\"One
  of the VolumeType enumeration values that describes the type of the volume.\";}s:21:\"VolumeiSCSIAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/VolumeiSCSIAttributes\";s:11:\"description\";s:110:\"An
  <a>VolumeiSCSIAttributes</a> object that represents a collection of iSCSI attributes
  for one stored volume.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CachediSCSIVolumes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CachediSCSIVolume\";}s:4:\"type\";s:5:\"array\";}s:19:\"CancelArchivalInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:19:\"CancelArchivalInput\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";s:7:\"TapeARN\";s:61:\"arn:aws:storagegateway:us-east-1:999999999999:tape/AMZN01A2A4\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:7:\"TapeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TapeARN\";s:11:\"description\";s:84:\"The
  Amazon Resource Name (ARN) of the virtual tape you want to cancel archiving for.\";}}s:8:\"required\";a:2:{i:0;s:10:\"GatewayARN\";i:1;s:7:\"TapeARN\";}s:4:\"type\";s:6:\"object\";}s:20:\"CancelArchivalOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"CancelArchivalOutput\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";s:61:\"arn:aws:storagegateway:us-east-1:999999999999:tape/AMZN01A2A4\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TapeARN\";s:11:\"description\";s:84:\"The
  Amazon Resource Name (ARN) of the virtual tape for which archiving was canceled.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CancelRetrievalInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"CancelRetrievalInput\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";s:7:\"TapeARN\";s:61:\"arn:aws:storagegateway:us-east-1:999999999999:tape/AMZN01A2A4\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:7:\"TapeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TapeARN\";s:11:\"description\";s:84:\"The
  Amazon Resource Name (ARN) of the virtual tape you want to cancel retrieval for.\";}}s:8:\"required\";a:2:{i:0;s:10:\"GatewayARN\";i:1;s:7:\"TapeARN\";}s:4:\"type\";s:6:\"object\";}s:21:\"CancelRetrievalOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"CancelRetrievalOutput\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";s:61:\"arn:aws:storagegateway:us-east-1:999999999999:tape/AMZN01A2A4\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TapeARN\";s:11:\"description\";s:84:\"The
  Amazon Resource Name (ARN) of the virtual tape for which retrieval was canceled.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ChapCredentials\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ChapInfo\";}s:4:\"type\";s:5:\"array\";}s:8:\"ChapInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"Describes
  Challenge-Handshake Authentication Protocol (CHAP) information that supports authentication
  between your gateway and iSCSI initiators.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"InitiatorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/IqnName\";s:11:\"description\";s:48:\"The
  iSCSI initiator that connects to the target.\";}s:29:\"SecretToAuthenticateInitiator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChapSecret\";s:11:\"description\";s:127:\"The
  secret key that the initiator (for example, the Windows client) must provide to
  participate in mutual CHAP with the target.\";}s:26:\"SecretToAuthenticateTarget\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChapSecret\";s:11:\"description\";s:115:\"The
  secret key that the target must provide to participate in mutual CHAP with the initiator
  (e.g. Windows client).\";}s:9:\"TargetARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TargetARN\";s:11:\"description\";s:142:\"<p>The
  Amazon Resource Name (ARN) of the volume.</p> <p> Valid Values: 50 to 500 lowercase
  letters, numbers, periods (.), and hyphens (-).</p>\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ChapSecret\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"ClientToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:5;s:4:\"type\";s:6:\"string\";}s:28:\"CreateCachediSCSIVolumeInput\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":6:{s:11:\"ClientToken\";s:15:\"cachedvol112233\";s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";s:18:\"NetworkInterfaceId\";s:8:\"10.1.1.1\";s:10:\"SnapshotId\";s:13:\"snap-f47b7b94\";s:10:\"TargetName\";s:9:\"my-volume\";s:17:\"VolumeSizeInBytes\";i:536870912000;}s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"ClientToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ClientToken\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:18:\"NetworkInterfaceId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/NetworkInterfaceId\";}s:10:\"SnapshotId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";}s:15:\"SourceVolumeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";s:11:\"description\";s:285:\"The
  ARN for an existing volume. Specifying this ARN makes the new volume into an exact
  copy of the specified existing volume's latest recovery point. The <code>VolumeSizeInBytes</code>
  value for this new volume must be equal to or larger than the size of the existing
  volume, in bytes.\";}s:10:\"TargetName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TargetName\";}s:17:\"VolumeSizeInBytes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/long\";}}s:8:\"required\";a:5:{i:0;s:10:\"GatewayARN\";i:1;s:17:\"VolumeSizeInBytes\";i:2;s:10:\"TargetName\";i:3;s:18:\"NetworkInterfaceId\";i:4;s:11:\"ClientToken\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateCachediSCSIVolumeOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"TargetARN\";s:105:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume\";s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"TargetARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TargetARN\";}s:9:\"VolumeARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateNFSFileShareInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"CreateNFSFileShareInput\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"ClientList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/FileShareClientList\";s:11:\"description\";s:135:\"The
  list of clients that are allowed to access the file gateway. The list must contain
  either valid IP addresses or valid CIDR blocks. \";}s:11:\"ClientToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ClientToken\";s:11:\"description\";s:108:\"A
  unique string value that you supply that is used by file gateway to ensure idempotent
  file share creation.\";}s:19:\"DefaultStorageClass\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StorageClass\";s:11:\"description\";s:215:\"The
  default storage class for objects put into an Amazon S3 bucket by file gateway.
  Possible values are S3_STANDARD or S3_STANDARD_IA. If this field is not populated,
  the default value S3_STANDARD is used. Optional.\";}s:10:\"GatewayARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";s:11:\"description\";s:92:\"The
  Amazon Resource Name (ARN) of the file gateway on which you want to create a file
  share.\";}s:12:\"KMSEncrypted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:125:\"True
  to use Amazon S3 server side encryption with your own AWS KMS key, or false to use
  a key managed by Amazon S3. Optional.\";}s:6:\"KMSKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/KMSKey\";s:11:\"description\";s:118:\"The
  KMS key used for Amazon S3 server side encryption. This value can only be set when
  KmsEncrypted is true. Optional.\";}s:11:\"LocationARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationARN\";s:11:\"description\";s:58:\"The
  ARN of the backed storage used for storing file data. \";}s:20:\"NFSFileShareDefaults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NFSFileShareDefaults\";s:11:\"description\";s:36:\"File
  share default values. Optional.\";}s:8:\"ReadOnly\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:102:\"Sets
  the write status of a file share: \"true\" if the write status is read-only, and
  otherwise \"false\".\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Role\";s:11:\"description\";s:130:\"The
  ARN of the AWS Identity and Access Management (IAM) role that a file gateway assumes
  when it accesses the underlying storage. \";}s:6:\"Squash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Squash\";s:11:\"description\";s:291:\"<p>Maps
  a user to anonymous user. Valid options are the following: </p> <ul> <li> <p>\"RootSquash\"
  - Only root is mapped to anonymous user.</p> </li> <li> <p>\"NoSquash\" - No one
  is mapped to anonymous user.</p> </li> <li> <p>\"AllSquash\" - Everyone is mapped
  to anonymous user.</p> </li> </ul>\";}}s:8:\"required\";a:4:{i:0;s:11:\"ClientToken\";i:1;s:10:\"GatewayARN\";i:2;s:4:\"Role\";i:3;s:11:\"LocationARN\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateNFSFileShareOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"CreateNFSFileShareOutput\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"FileShareARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FileShareARN\";s:11:\"description\";s:64:\"The
  Amazon Resource Name (ARN) of the newly created file share. \";}}s:4:\"type\";s:6:\"object\";}s:42:\"CreateSnapshotFromVolumeRecoveryPointInput\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:19:\"SnapshotDescription\";s:54:\"My
  root volume snapshot as of 2017-06-30T10:10:10.000Z\";s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"SnapshotDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SnapshotDescription\";}s:9:\"VolumeARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";}}s:8:\"required\";a:2:{i:0;s:9:\"VolumeARN\";i:1;s:19:\"SnapshotDescription\";}s:4:\"type\";s:6:\"object\";}s:43:\"CreateSnapshotFromVolumeRecoveryPointOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"SnapshotId\";s:13:\"snap-78e22663\";s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";s:23:\"VolumeRecoveryPointTime\";s:24:\"2017-06-30T10:10:10.000Z\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"SnapshotId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";}s:9:\"VolumeARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";}s:23:\"VolumeRecoveryPointTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateSnapshotInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:203:\"<p>A
  JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>CreateSnapshotInput$SnapshotDescription</a>
  </p> </li> <li> <p> <a>CreateSnapshotInput$VolumeARN</a> </p> </li> </ul>\";s:7:\"example\";O:8:\"stdClass\":2:{s:19:\"SnapshotDescription\";s:40:\"My
  root volume snapshot as of 10/03/2017\";s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"SnapshotDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SnapshotDescription\";s:11:\"description\";s:230:\"Textual
  description of the snapshot that appears in the Amazon EC2 console, Elastic Block
  Store snapshots panel in the <b>Description</b> field, and in the AWS Storage Gateway
  snapshot <b>Details</b> pane, <b>Description</b> field\";}s:9:\"VolumeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";s:11:\"description\";s:119:\"The
  Amazon Resource Name (ARN) of the volume. Use the <a>ListVolumes</a> operation to
  return a list of gateway volumes.\";}}s:8:\"required\";a:2:{i:0;s:9:\"VolumeARN\";i:1;s:19:\"SnapshotDescription\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateSnapshotOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"A
  JSON object containing the following fields:\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"SnapshotId\";s:13:\"snap-78e22663\";s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"SnapshotId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";s:11:\"description\";s:240:\"The
  snapshot ID that is used to refer to the snapshot in future operations such as describing
  snapshots (Amazon Elastic Compute Cloud API <code>DescribeSnapshots</code>) or creating
  a volume from a snapshot (<a>CreateStorediSCSIVolume</a>).\";}s:9:\"VolumeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";s:11:\"description\";s:77:\"The
  Amazon Resource Name (ARN) of the volume of which the snapshot was taken.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateStorediSCSIVolumeInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:428:\"<p>A
  JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>CreateStorediSCSIVolumeInput$DiskId</a>
  </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$NetworkInterfaceId</a> </p>
  </li> <li> <p> <a>CreateStorediSCSIVolumeInput$PreserveExistingData</a> </p> </li>
  <li> <p> <a>CreateStorediSCSIVolumeInput$SnapshotId</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$TargetName</a>
  </p> </li> </ul>\";s:7:\"example\";O:8:\"stdClass\":6:{s:6:\"DiskId\";s:29:\"pci-0000:03:00.0-scsi-0:0:0:0\";s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";s:18:\"NetworkInterfaceId\";s:8:\"10.1.1.1\";s:20:\"PreserveExistingData\";b:1;s:10:\"SnapshotId\";s:13:\"snap-f47b7b94\";s:10:\"TargetName\";s:9:\"my-volume\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"DiskId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DiskId\";s:11:\"description\";s:235:\"The
  unique identifier for the gateway local disk that is configured as a stored volume.
  Use <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/API_ListLocalDisks.html\">ListLocalDisks</a>
  to list disk IDs for a gateway.\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:18:\"NetworkInterfaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NetworkInterfaceId\";s:11:\"description\";s:258:\"<p>The
  network interface of the gateway on which to expose the iSCSI target. Only IPv4
  addresses are accepted. Use <a>DescribeGatewayInformation</a> to get a list of the
  network interfaces available on a gateway.</p> <p> Valid Values: A valid IP address.</p>\";}s:20:\"PreserveExistingData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:186:\"<p>Specify
  this field as true if you want to preserve the data on the local disk. Otherwise,
  specifying this field as false creates an empty volume.</p> <p> Valid Values: true,
  false</p>\";}s:10:\"SnapshotId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";s:11:\"description\";s:435:\"The
  snapshot ID (e.g. \"snap-1122aabb\") of the snapshot to restore as the new stored
  volume. Specify this field if you want to create the iSCSI storage volume from a
  snapshot otherwise do not include this field. To list snapshots for your account
  use <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a>
  in the <i>Amazon Elastic Compute Cloud API Reference</i>.\";}s:10:\"TargetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TargetName\";s:11:\"description\";s:375:\"The
  name of the iSCSI target used by initiators to connect to the target and as a suffix
  for the target ARN. For example, specifying <code>TargetName</code> as <i>myvolume</i>
  results in the target ARN of arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume.
  The target name must be unique across all volumes of a gateway.\";}}s:8:\"required\";a:5:{i:0;s:10:\"GatewayARN\";i:1;s:6:\"DiskId\";i:2;s:20:\"PreserveExistingData\";i:3;s:10:\"TargetName\";i:4;s:18:\"NetworkInterfaceId\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateStorediSCSIVolumeOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"A
  JSON object containing the following fields:\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"TargetARN\";s:105:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume\";s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";s:17:\"VolumeSizeInBytes\";i:1099511627776;}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"TargetARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TargetARN\";s:11:\"description\";s:129:\"he
  Amazon Resource Name (ARN) of the volume target that includes the iSCSI name that
  initiators can use to connect to the target.\";}s:9:\"VolumeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";s:11:\"description\";s:56:\"The
  Amazon Resource Name (ARN) of the configured volume.\";}s:17:\"VolumeSizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:32:\"The
  size of the volume in bytes.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CreateTapeWithBarcodeInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:26:\"CreateTapeWithBarcodeInput\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B\";s:11:\"TapeBarcode\";s:9:\"TEST12345\";s:15:\"TapeSizeInBytes\";i:107374182400;}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"GatewayARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";s:11:\"description\";s:197:\"The
  unique Amazon Resource Name (ARN) that represents the gateway to associate the virtual
  tape with. Use the <a>ListGateways</a> operation to return a list of gateways for
  your account and region.\";}s:11:\"TapeBarcode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TapeBarcode\";s:11:\"description\";s:166:\"<p>The
  barcode that you want to assign to the tape.</p> <note> <p>Barcodes cannot be reused.
  This includes barcodes used for tapes that have been deleted.</p> </note>\";}s:15:\"TapeSizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TapeSize\";s:11:\"description\";s:153:\"<p>The
  size, in bytes, of the virtual tape that you want to create.</p> <note> <p>The size
  must be aligned by gigabyte (1024*1024*1024 byte).</p> </note>\";}}s:8:\"required\";a:3:{i:0;s:10:\"GatewayARN\";i:1;s:15:\"TapeSizeInBytes\";i:2;s:11:\"TapeBarcode\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateTapeWithBarcodeOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"CreateTapeOutput\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";s:60:\"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST12345\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TapeARN\";s:11:\"description\";s:86:\"A
  unique Amazon Resource Name (ARN) that represents the virtual tape that was created.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CreateTapesInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:16:\"CreateTapesInput\";s:7:\"example\";O:8:\"stdClass\":5:{s:11:\"ClientToken\";s:5:\"77777\";s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B\";s:16:\"NumTapesToCreate\";i:3;s:17:\"TapeBarcodePrefix\";s:4:\"TEST\";s:15:\"TapeSizeInBytes\";i:107374182400;}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"ClientToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ClientToken\";s:11:\"description\";s:264:\"<p>A
  unique identifier that you use to retry a request. If you retry a request, use the
  same <code>ClientToken</code> you specified in the initial request.</p> <note> <p>Using
  the same <code>ClientToken</code> prevents creating the tape multiple times.</p>
  </note>\";}s:10:\"GatewayARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";s:11:\"description\";s:198:\"The
  unique Amazon Resource Name (ARN) that represents the gateway to associate the virtual
  tapes with. Use the <a>ListGateways</a> operation to return a list of gateways for
  your account and region.\";}s:16:\"NumTapesToCreate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/NumTapesToCreate\";s:11:\"description\";s:52:\"The
  number of virtual tapes that you want to create.\";}s:17:\"TapeBarcodePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TapeBarcodePrefix\";s:11:\"description\";s:245:\"<p>A
  prefix that you append to the barcode of the virtual tape you are creating. This
  prefix makes the barcode unique.</p> <note> <p>The prefix must be 1 to 4 characters
  in length and must be one of the uppercase letters from A to Z.</p> </note>\";}s:15:\"TapeSizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TapeSize\";s:11:\"description\";s:154:\"<p>The
  size, in bytes, of the virtual tapes that you want to create.</p> <note> <p>The
  size must be aligned by gigabyte (1024*1024*1024 byte).</p> </note>\";}}s:8:\"required\";a:5:{i:0;s:10:\"GatewayARN\";i:1;s:15:\"TapeSizeInBytes\";i:2;s:11:\"ClientToken\";i:3;s:16:\"NumTapesToCreate\";i:4;s:17:\"TapeBarcodePrefix\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateTapesOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"CreateTapeOutput\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"TapeARNs\";a:3:{i:0;s:61:\"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST38A29D\";i:1;s:61:\"arn:aws:storagegateway:us-east-1:204469490176:tape/TEST3AA29F\";i:2;s:61:\"arn:aws:storagegateway:us-east-1:204469490176:tape/TEST3BA29E\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"TapeARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TapeARNs\";s:11:\"description\";s:98:\"A
  list of unique Amazon Resource Names (ARNs) that represents the virtual tapes that
  were created.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CreatedDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"DayOfWeek\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:6;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:29:\"DeleteBandwidthRateLimitInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:135:\"<p>A
  JSON object containing the following fields:</p> <ul> <li> <p> <a>DeleteBandwidthRateLimitInput$BandwidthType</a>
  </p> </li> </ul>\";s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"BandwidthType\";s:3:\"All\";s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"BandwidthType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BandwidthType\";s:11:\"description\";s:180:\"<p>One
  of the BandwidthType values that indicates the gateway bandwidth rate limit to delete.</p>
  <p>Valid Values: <code>Upload</code>, <code>Download</code>, <code>All</code>.</p>\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:2:{i:0;s:10:\"GatewayARN\";i:1;s:13:\"BandwidthType\";}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteBandwidthRateLimitOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:89:\"A
  JSON object containing the of the gateway whose bandwidth rate information was deleted.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteChapCredentialsInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:211:\"<p>A
  JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>DeleteChapCredentialsInput$InitiatorName</a>
  </p> </li> <li> <p> <a>DeleteChapCredentialsInput$TargetARN</a> </p> </li> </ul>\";s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"InitiatorName\";s:57:\"iqn.1991-05.com.microsoft:computername.domain.example.com\";s:9:\"TargetARN\";s:105:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"InitiatorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/IqnName\";s:11:\"description\";s:48:\"The
  iSCSI initiator that connects to the target.\";}s:9:\"TargetARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TargetARN\";s:11:\"description\";s:171:\"The
  Amazon Resource Name (ARN) of the iSCSI volume target. Use the <a>DescribeStorediSCSIVolumes</a>
  operation to return to retrieve the TargetARN for specified VolumeARN.\";}}s:8:\"required\";a:2:{i:0;s:9:\"TargetARN\";i:1;s:13:\"InitiatorName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteChapCredentialsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"A
  JSON object containing the following fields:\";s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"InitiatorName\";s:57:\"iqn.1991-05.com.microsoft:computername.domain.example.com\";s:9:\"TargetARN\";s:105:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"InitiatorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/IqnName\";s:11:\"description\";s:48:\"The
  iSCSI initiator that connects to the target.\";}s:9:\"TargetARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TargetARN\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the target.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteFileShareInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"DeleteFileShareInput\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"FileShareARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FileShareARN\";s:11:\"description\";s:64:\"The
  Amazon Resource Name (ARN) of the file share to be deleted. \";}s:11:\"ForceDelete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:256:\"If
  set to true, deletes a file share immediately and aborts all data uploads to AWS.
  Otherwise the file share is not deleted until all data is uploaded to AWS. This
  process aborts the data upload process and the file share enters the FORCE_DELETING
  status.\";}}s:8:\"required\";a:1:{i:0;s:12:\"FileShareARN\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteFileShareOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"DeleteFileShareOutput\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"FileShareARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FileShareARN\";s:11:\"description\";s:58:\"The
  Amazon Resource Name (ARN) of the deleted file share. \";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteGatewayInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"A
  JSON object containing the id of the gateway to delete.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteGatewayOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"A
  JSON object containing the id of the deleted gateway.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteSnapshotScheduleInput\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"VolumeARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";}}s:8:\"required\";a:1:{i:0;s:9:\"VolumeARN\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteSnapshotScheduleOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"VolumeARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteTapeArchiveInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"DeleteTapeArchiveInput\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";s:61:\"arn:aws:storagegateway:us-east-1:204469490176:tape/TEST05A2A0\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TapeARN\";s:11:\"description\";s:95:\"The
  Amazon Resource Name (ARN) of the virtual tape to delete from the virtual tape shelf
  (VTS).\";}}s:8:\"required\";a:1:{i:0;s:7:\"TapeARN\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteTapeArchiveOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"DeleteTapeArchiveOutput\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";s:61:\"arn:aws:storagegateway:us-east-1:204469490176:tape/TEST05A2A0\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TapeARN\";s:11:\"description\";s:102:\"The
  Amazon Resource Name (ARN) of the virtual tape that was deleted from the virtual
  tape shelf (VTS).\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DeleteTapeInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"DeleteTapeInput\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:204469490176:gateway/sgw-12A3456B\";s:7:\"TapeARN\";s:61:\"arn:aws:storagegateway:us-east-1:204469490176:tape/TEST05A2A0\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"GatewayARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";s:11:\"description\";s:200:\"The
  unique Amazon Resource Name (ARN) of the gateway that the virtual tape to delete
  is associated with. Use the <a>ListGateways</a> operation to return a list of gateways
  for your account and region.\";}s:7:\"TapeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TapeARN\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) of the virtual tape to delete.\";}}s:8:\"required\";a:2:{i:0;s:10:\"GatewayARN\";i:1;s:7:\"TapeARN\";}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteTapeOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"DeleteTapeOutput\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";s:61:\"arn:aws:storagegateway:us-east-1:204469490176:tape/TEST05A2A0\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TapeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TapeARN\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the deleted virtual tape.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteVolumeInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:74:\"A
  JSON object containing the <a>DeleteVolumeInput$VolumeARN</a> to delete.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"VolumeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";s:11:\"description\";s:119:\"The
  Amazon Resource Name (ARN) of the volume. Use the <a>ListVolumes</a> operation to
  return a list of gateway volumes.\";}}s:8:\"required\";a:1:{i:0;s:9:\"VolumeARN\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteVolumeOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"A
  JSON object containing the of the storage volume that was deleted\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"VolumeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";s:11:\"description\";s:118:\"The
  Amazon Resource Name (ARN) of the storage volume that was deleted. It is the same
  ARN you provided in the request.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeBandwidthRateLimitInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"A
  JSON object containing the of the gateway.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeBandwidthRateLimitOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"A
  JSON object containing the following fields:\";s:7:\"example\";O:8:\"stdClass\":3:{s:36:\"AverageDownloadRateLimitInBitsPerSec\";i:204800;s:34:\"AverageUploadRateLimitInBitsPerSec\";i:102400;s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:36:\"AverageDownloadRateLimitInBitsPerSec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/BandwidthDownloadRateLimit\";s:11:\"description\";s:143:\"The
  average download bandwidth rate limit in bits per second. This field does not appear
  in the response if the download rate limit is not set.\";}s:34:\"AverageUploadRateLimitInBitsPerSec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BandwidthUploadRateLimit\";s:11:\"description\";s:139:\"The
  average upload bandwidth rate limit in bits per second. This field does not appear
  in the response if the upload rate limit is not set.\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DescribeCacheInput\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeCacheOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":7:{s:21:\"CacheAllocatedInBytes\";i:2199023255552;s:20:\"CacheDirtyPercentage\";d:0.070000000000000007;s:18:\"CacheHitPercentage\";d:99.680000000000007;s:19:\"CacheMissPercentage\";d:0.32000000000000001;s:19:\"CacheUsedPercentage\";d:0.070000000000000007;s:7:\"DiskIds\";a:2:{i:0;s:29:\"pci-0000:03:00.0-scsi-0:0:0:0\";i:1;s:29:\"pci-0000:04:00.0-scsi-0:1:0:0\";}s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:21:\"CacheAllocatedInBytes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/long\";}s:20:\"CacheDirtyPercentage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/double\";}s:18:\"CacheHitPercentage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/double\";}s:19:\"CacheMissPercentage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/double\";}s:19:\"CacheUsedPercentage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/double\";}s:7:\"DiskIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DiskIds\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeCachediSCSIVolumesInput\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"VolumeARNs\";a:1:{i:0;s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"VolumeARNs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/VolumeARNs\";}}s:8:\"required\";a:1:{i:0;s:10:\"VolumeARNs\";}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeCachediSCSIVolumesOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"A
  JSON object containing the following fields:\";s:7:\"example\";O:8:\"stdClass\":1:{s:18:\"CachediSCSIVolumes\";a:1:{i:0;O:8:\"stdClass\":6:{s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";s:8:\"VolumeId\";s:12:\"vol-1122AABB\";s:17:\"VolumeSizeInBytes\";i:1099511627776;s:12:\"VolumeStatus\";s:9:\"AVAILABLE\";s:10:\"VolumeType\";s:12:\"CACHED
  iSCSI\";s:21:\"VolumeiSCSIAttributes\";O:8:\"stdClass\":5:{s:11:\"ChapEnabled\";b:1;s:9:\"LunNumber\";i:1;s:18:\"NetworkInterfaceId\";s:13:\"10.243.43.207\";s:20:\"NetworkInterfacePort\";i:3260;s:9:\"TargetARN\";s:105:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume\";}}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"CachediSCSIVolumes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CachediSCSIVolumes\";s:11:\"description\";s:80:\"An
  array of objects where each object contains metadata about one cached volume.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeChapCredentialsInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:83:\"A
  JSON object containing the Amazon Resource Name (ARN) of the iSCSI volume target.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"TargetARN\";s:105:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TargetARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TargetARN\";s:11:\"description\";s:171:\"The
  Amazon Resource Name (ARN) of the iSCSI volume target. Use the <a>DescribeStorediSCSIVolumes</a>
  operation to return to retrieve the TargetARN for specified VolumeARN.\";}}s:8:\"required\";a:1:{i:0;s:9:\"TargetARN\";}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeChapCredentialsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"A
  JSON object containing a .\";s:7:\"example\";O:8:\"stdClass\":1:{s:15:\"ChapCredentials\";a:1:{i:0;O:8:\"stdClass\":4:{s:13:\"InitiatorName\";s:57:\"iqn.1991-05.com.microsoft:computername.domain.example.com\";s:29:\"SecretToAuthenticateInitiator\";s:12:\"111111111111\";s:26:\"SecretToAuthenticateTarget\";s:12:\"222222222222\";s:9:\"TargetARN\";s:105:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ChapCredentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ChapCredentials\";s:11:\"description\";s:859:\"<p>An
  array of <a>ChapInfo</a> objects that represent CHAP credentials. Each object in
  the array contains CHAP credential information for one target-initiator pair. If
  no CHAP credentials are set, an empty array is returned. CHAP credential information
  is provided in a JSON object with the following fields:</p> <ul> <li> <p> <b>InitiatorName</b>:
  The iSCSI initiator that connects to the target.</p> </li> <li> <p> <b>SecretToAuthenticateInitiator</b>:
  The secret key that the initiator (for example, the Windows client) must provide
  to participate in mutual CHAP with the target.</p> </li> <li> <p> <b>SecretToAuthenticateTarget</b>:
  The secret key that the target must provide to participate in mutual CHAP with the
  initiator (e.g. Windows client).</p> </li> <li> <p> <b>TargetARN</b>: The Amazon
  Resource Name (ARN) of the storage volume.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeGatewayInformationInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"A
  JSON object containing the id of the gateway.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeGatewayInformationOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"A
  JSON object containing the following fields:\";s:7:\"example\";O:8:\"stdClass\":9:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";s:9:\"GatewayId\";s:12:\"sgw-AABB1122\";s:11:\"GatewayName\";s:10:\"My_Gateway\";s:24:\"GatewayNetworkInterfaces\";a:1:{i:0;O:8:\"stdClass\":1:{s:11:\"Ipv4Address\";s:12:\"10.35.69.216\";}}s:12:\"GatewayState\";s:13:\"STATE_RUNNING\";s:15:\"GatewayTimezone\";s:8:\"GMT-8:00\";s:11:\"GatewayType\";s:6:\"STORED\";s:18:\"LastSoftwareUpdate\";s:19:\"2016-01-02T16:00:00\";s:26:\"NextUpdateAvailabilityDate\";s:19:\"2017-01-02T16:00:00\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:9:\"GatewayId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GatewayId\";s:11:\"description\";s:174:\"The
  unique identifier assigned to your gateway during activation. This ID becomes part
  of the gateway Amazon Resource Name (ARN), which you use as input for other operations.\";}s:11:\"GatewayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:41:\"The
  name you configured for your gateway.\";}s:24:\"GatewayNetworkInterfaces\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GatewayNetworkInterfaces\";s:11:\"description\";s:93:\"A
  <a>NetworkInterface</a> array that contains descriptions of the gateway network
  interfaces.\";}s:12:\"GatewayState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/GatewayState\";s:11:\"description\";s:58:\"A
  value that indicates the operating state of the gateway.\";}s:15:\"GatewayTimezone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/GatewayTimezone\";s:11:\"description\";s:64:\"A
  value that indicates the time zone configured for the gateway.\";}s:11:\"GatewayType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/GatewayType\";s:11:\"description\";s:24:\"The
  type of the gateway.\";}s:18:\"LastSoftwareUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LastSoftwareUpdate\";s:11:\"description\";s:161:\"The
  date on which the last software update was applied to the gateway. If the gateway
  has never been updated, this field does not return a value in the response.\";}s:26:\"NextUpdateAvailabilityDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/NextUpdateAvailabilityDate\";s:11:\"description\";s:192:\"The
  date on which an update to the gateway is available. This date is in the time zone
  of the gateway. If the gateway is not available for an update this field is not
  returned in the response.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeMaintenanceStartTimeInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"A
  JSON object containing the of the gateway.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeMaintenanceStartTimeOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:354:\"<p>A
  JSON object containing the following fields:</p> <ul> <li> <p> <a>DescribeMaintenanceStartTimeOutput$DayOfWeek</a>
  </p> </li> <li> <p> <a>DescribeMaintenanceStartTimeOutput$HourOfDay</a> </p> </li>
  <li> <p> <a>DescribeMaintenanceStartTimeOutput$MinuteOfHour</a> </p> </li> <li>
  <p> <a>DescribeMaintenanceStartTimeOutput$Timezone</a> </p> </li> </ul>\";s:7:\"example\";O:8:\"stdClass\":5:{s:9:\"DayOfWeek\";i:2;s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";s:9:\"HourOfDay\";i:15;s:12:\"MinuteOfHour\";i:35;s:8:\"Timezone\";s:8:\"GMT+7:00\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"DayOfWeek\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DayOfWeek\";s:11:\"description\";s:175:\"An
  ordinal number between 0 and 6 that represents the day of the week, where 0 represents
  Sunday and 6 represents Saturday. The day of week is in the time zone of the gateway.\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:9:\"HourOfDay\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/HourOfDay\";s:11:\"description\";s:169:\"The
  hour component of the maintenance start time represented as <i>hh</i>, where <i>hh</i>
  is the hour (0 to 23). The hour of the day is in the time zone of the gateway.\";}s:12:\"MinuteOfHour\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/MinuteOfHour\";s:11:\"description\";s:176:\"The
  minute component of the maintenance start time represented as <i>mm</i>, where <i>mm</i>
  is the minute (0 to 59). The minute of the hour is in the time zone of the gateway.\";}s:8:\"Timezone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GatewayTimezone\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeNFSFileSharesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"DescribeNFSFileSharesInput\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"FileShareARNList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FileShareARNList\";s:11:\"description\";s:87:\"An
  array containing the Amazon Resource Name (ARN) of each file share to be described.
  \";}}s:8:\"required\";a:1:{i:0;s:16:\"FileShareARNList\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeNFSFileSharesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"DescribeNFSFileSharesOutput\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"NFSFileShareInfoList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NFSFileShareInfoList\";s:11:\"description\";s:65:\"An
  array containing a description for each requested file share. \";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeSnapshotScheduleInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:90:\"A
  JSON object containing the <a>DescribeSnapshotScheduleInput$VolumeARN</a> of the
  volume.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"VolumeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";s:11:\"description\";s:119:\"The
  Amazon Resource Name (ARN) of the volume. Use the <a>ListVolumes</a> operation to
  return a list of gateway volumes.\";}}s:8:\"required\";a:1:{i:0;s:9:\"VolumeARN\";}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeSnapshotScheduleOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":5:{s:11:\"Description\";s:34:\"sgw-AABB1122:vol-AABB1122:Schedule\";s:17:\"RecurrenceInHours\";i:24;s:7:\"StartAt\";i:6;s:8:\"Timezone\";s:8:\"GMT+7:00\";s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Description\";}s:17:\"RecurrenceInHours\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RecurrenceInHours\";}s:7:\"StartAt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HourOfDay\";}s:8:\"Timezone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GatewayTimezone\";}s:9:\"VolumeARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VolumeARN\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeStorediSCSIVolumesInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:85:\"A
  JSON object containing a list of <a>DescribeStorediSCSIVolumesInput$VolumeARNs</a>.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"VolumeARNs\";a:1:{i:0;s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"VolumeARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/VolumeARNs\";s:11:\"description\";s:220:\"An
  array of strings where each string represents the Amazon Resource Name (ARN) of
  a stored volume. All of the specified stored volumes must from the same gateway.
  Use <a>ListVolumes</a> to get volume ARNs for a gateway.\";}}s:8:\"required\";a:1:{i:0;s:10:\"VolumeARNs\";}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeStorediSCSIVolumesOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:18:\"StorediSCSIVolumes\";a:1:{i:0;O:8:\"stdClass\":8:{s:21:\"PreservedExistingData\";b:0;s:9:\"VolumeARN\";s:86:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB\";s:12:\"VolumeDiskId\";s:29:\"pci-0000:03:00.0-scsi-0:0:0:0\";s:8:\"VolumeId\";s:12:\"vol-1122AABB\";s:14:\"VolumeProgress\";d:23.699999999999999;s:17:\"VolumeSizeInBytes\";i:1099511627776;s:12:\"VolumeStatus\";s:13:\"BOOTSTRAPPING\";s:21:\"VolumeiSCSIAttributes\";O:8:\"stdClass\":4:{s:11:\"ChapEnabled\";b:1;s:18:\"NetworkInterfaceId\";s:13:\"10.243.43.207\";s:20:\"NetworkInterfacePort\";i:3260;s:9:\"TargetARN\";s:105:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume\";}}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"StorediSCSIVolumes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/StorediSCSIVolumes\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeTapeArchivesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"DescribeTapeArchivesInput\";s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"Limit\";i:123;s:6:\"Marker\";s:1:\"1\";s:8:\"TapeARNs\";a:2:{i:0;s:59:\"arn:aws:storagegateway:us-east-1:999999999999:tape/AM08A1AD\";i:1;s:61:\"arn:aws:storagegateway:us-east-1:999999999999:tape/AMZN01A2A4\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PositiveIntObject\";s:11:\"description\";s:87:\"Specifies
  that the number of virtual tapes descried be limited to the specified number.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:88:\"An
  opaque string that indicates the position at which to begin describing virtual tapes.\";}s:8:\"TapeARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TapeARNs\";s:11:\"description\";s:112:\"Specifies
  one or more unique Amazon Resource Names (ARNs) that represent the virtual tapes
  you want to describe.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeTapeArchivesOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"DescribeTapeArchivesOutput\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:1:\"1\";s:12:\"TapeArchives\";a:2:{i:0;O:8:\"stdClass\":5:{s:14:\"CompletionTime\";s:17:\"2016-12-16T13:50Z\";s:7:\"TapeARN\";s:56:\"arn:aws:storagegateway:us-east-1:999999999:tape/AM08A1AD\";s:11:\"TapeBarcode\";s:8:\"AM08A1AD\";s:15:\"TapeSizeInBytes\";i:107374182400;s:10:\"TapeStatus\";s:8:\"ARCHIVED\";}i:1;O:8:\"stdClass\":5:{s:14:\"CompletionTime\";s:17:\"2016-12-16T13:59Z\";s:7:\"TapeARN\";s:58:\"arn:aws:storagegateway:us-east-1:999999999:tape/AMZN01A2A4\";s:11:\"TapeBarcode\";s:10:\"AMZN01A2A4\";s:15:\"TapeSizeInBytes\";i:429496729600;s:10:\"TapeStatus\";s:8:\"ARCHIVED\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:313:\"An
  opaque string that indicates the position at which the virtual tapes that were fetched
  for description ended. Use this marker in your next request to fetch the next set
  of virtual tapes in the virtual tape shelf (VTS). If there are no more virtual tapes
  to describe, this field does not appear in the response.\";}s:12:\"TapeArchives\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TapeArchives\";s:11:\"description\";s:312:\"An
  array of virtual tape objects in the virtual tape shelf (VTS). The description includes
  of the Amazon Resource Name(ARN) of the virtual tapes. The information returned
  includes the Amazon Resource Names (ARNs) of the tapes, size of the tapes, status
  of the tapes, progress of the description and tape barcode.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeTapeRecoveryPointsInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"DescribeTapeRecoveryPointsInput\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";s:5:\"Limit\";i:1;s:6:\"Marker\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PositiveIntObject\";s:11:\"description\";s:112:\"Specifies
  that the number of virtual tape recovery points that are described be limited to
  the specified number.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:107:\"An
  opaque string that indicates the position at which to begin describing the virtual
  tape recovery points.\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeTapeRecoveryPointsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"DescribeTapeRecoveryPointsOutput\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";s:6:\"Marker\";s:1:\"1\";s:22:\"TapeRecoveryPointInfos\";a:1:{i:0;O:8:\"stdClass\":4:{s:7:\"TapeARN\";s:58:\"arn:aws:storagegateway:us-east-1:999999999:tape/AMZN01A2A4\";s:21:\"TapeRecoveryPointTime\";s:17:\"2016-12-16T13:50Z\";s:15:\"TapeSizeInBytes\";i:1471550497;s:10:\"TapeStatus\";s:9:\"AVAILABLE\";}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:337:\"<p>An
  opaque string that indicates the position at which the virtual tape recovery points
  that were listed for description ended.</p> <p>Use this marker in your next request
  to list the next set of virtual tape recovery points in the list. If there are no
  more recovery points to describe, this field does not appear in the response.</p>\";}s:22:\"TapeRecoveryPointInfos\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/TapeRecoveryPointInfos\";s:11:\"description\";s:80:\"An
  array of TapeRecoveryPointInfos that are available for the specified gateway.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DescribeTapesInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"DescribeTapesInput\";s:7:\"example\";O:8:\"stdClass\":4:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B\";s:5:\"Limit\";i:2;s:6:\"Marker\";s:1:\"1\";s:8:\"TapeARNs\";a:2:{i:0;s:61:\"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST04A2A1\";i:1;s:61:\"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST05A2A0\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PositiveIntObject\";s:11:\"description\";s:189:\"<p>Specifies
  that the number of virtual tapes described be limited to the specified number.</p>
  <note> <p>Amazon Web Services may impose its own limit, if this field is not set.</p>
  </note>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:204:\"<p>A
  marker value, obtained in a previous call to <code>DescribeTapes</code>. This marker
  indicates which page of results to retrieve. </p> <p>If not specified, the first
  page of results is retrieved.</p>\";}s:8:\"TapeARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TapeARNs\";s:11:\"description\";s:243:\"Specifies
  one or more unique Amazon Resource Names (ARNs) that represent the virtual tapes
  you want to describe. If this parameter is not specified, Tape gateway returns a
  description of all virtual tapes associated with the specified gateway.\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeTapesOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"DescribeTapesOutput\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:1:\"1\";s:5:\"Tapes\";a:2:{i:0;O:8:\"stdClass\":4:{s:7:\"TapeARN\";s:61:\"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST04A2A1\";s:11:\"TapeBarcode\";s:10:\"TEST04A2A1\";s:15:\"TapeSizeInBytes\";i:107374182400;s:10:\"TapeStatus\";s:9:\"AVAILABLE\";}i:1;O:8:\"stdClass\":4:{s:7:\"TapeARN\";s:61:\"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST05A2A0\";s:11:\"TapeBarcode\";s:10:\"TEST05A2A0\";s:15:\"TapeSizeInBytes\";i:107374182400;s:10:\"TapeStatus\";s:9:\"AVAILABLE\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:218:\"<p>An
  opaque string which can be used as part of a subsequent DescribeTapes call to retrieve
  the next page of results.</p> <p>If a response does not contain a marker, then there
  are no more results to be retrieved.</p>\";}s:5:\"Tapes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Tapes\";s:11:\"description\";s:38:\"An
  array of virtual tape descriptions.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeUploadBufferInput\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeUploadBufferOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":4:{s:7:\"DiskIds\";a:2:{i:0;s:29:\"pci-0000:03:00.0-scsi-0:0:0:0\";i:1;s:29:\"pci-0000:04:00.0-scsi-0:1:0:0\";}s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";s:28:\"UploadBufferAllocatedInBytes\";i:161061273600;s:23:\"UploadBufferUsedInBytes\";i:0;}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"DiskIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DiskIds\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:28:\"UploadBufferAllocatedInBytes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/long\";}s:23:\"UploadBufferUsedInBytes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/long\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeVTLDevicesInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"DescribeVTLDevicesInput\";s:7:\"example\";O:8:\"stdClass\":4:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B\";s:5:\"Limit\";i:123;s:6:\"Marker\";s:1:\"1\";s:13:\"VTLDeviceARNs\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PositiveIntObject\";s:11:\"description\";s:86:\"Specifies
  that the number of VTL devices described be limited to the specified number.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:90:\"An
  opaque string that indicates the position at which to begin describing the VTL devices.\";}s:13:\"VTLDeviceARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/VTLDeviceARNs\";s:11:\"description\";s:285:\"<p>An
  array of strings, where each string represents the Amazon Resource Name (ARN) of
  a VTL device.</p> <note> <p>All of the specified VTL devices must be from the same
  gateway. If no VTL devices are specified, the result will contain all devices on
  the specified gateway.</p> </note>\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeVTLDevicesOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"DescribeVTLDevicesOutput\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B\";s:6:\"Marker\";s:1:\"1\";s:10:\"VTLDevices\";a:3:{i:0;O:8:\"stdClass\":5:{s:21:\"DeviceiSCSIAttributes\";O:8:\"stdClass\":4:{s:11:\"ChapEnabled\";b:0;s:18:\"NetworkInterfaceId\";s:13:\"10.243.43.207\";s:20:\"NetworkInterfacePort\";i:3260;s:9:\"TargetARN\";s:122:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:sgw-1fad4876-mediachanger\";}s:12:\"VTLDeviceARN\";s:110:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B/device/AMZN_SGW-1FAD4876_MEDIACHANGER_00001\";s:26:\"VTLDeviceProductIdentifier\";s:4:\"L700\";s:13:\"VTLDeviceType\";s:14:\"Medium
  Changer\";s:15:\"VTLDeviceVendor\";s:3:\"STK\";}i:1;O:8:\"stdClass\":5:{s:21:\"DeviceiSCSIAttributes\";O:8:\"stdClass\":4:{s:11:\"ChapEnabled\";b:0;s:18:\"NetworkInterfaceId\";s:13:\"10.243.43.209\";s:20:\"NetworkInterfacePort\";i:3260;s:9:\"TargetARN\";s:122:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:sgw-1fad4876-tapedrive-01\";}s:12:\"VTLDeviceARN\";s:107:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B/device/AMZN_SGW-1FAD4876_TAPEDRIVE_00001\";s:26:\"VTLDeviceProductIdentifier\";s:11:\"ULT3580-TD5\";s:13:\"VTLDeviceType\";s:10:\"Tape
  Drive\";s:15:\"VTLDeviceVendor\";s:3:\"IBM\";}i:2;O:8:\"stdClass\":5:{s:21:\"DeviceiSCSIAttributes\";O:8:\"stdClass\":4:{s:11:\"ChapEnabled\";b:0;s:18:\"NetworkInterfaceId\";s:13:\"10.243.43.209\";s:20:\"NetworkInterfacePort\";i:3260;s:9:\"TargetARN\";s:122:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:sgw-1fad4876-tapedrive-02\";}s:12:\"VTLDeviceARN\";s:107:\"arn:aws:storagegateway:us-east-1:999999999999:gateway/sgw-12A3456B/device/AMZN_SGW-1FAD4876_TAPEDRIVE_00002\";s:26:\"VTLDeviceProductIdentifier\";s:11:\"ULT3580-TD5\";s:13:\"VTLDeviceType\";s:10:\"Tape
  Drive\";s:15:\"VTLDeviceVendor\";s:3:\"IBM\";}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:286:\"An
  opaque string that indicates the position at which the VTL devices that were fetched
  for description ended. Use the marker in your next request to fetch the next set
  of VTL devices in the list. If there are no more VTL devices to describe, this field
  does not appear in the response.\";}s:10:\"VTLDevices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/VTLDevices\";s:11:\"description\";s:92:\"An
  array of VTL device objects composed of the Amazon Resource Name(ARN) of the VTL
  devices.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeWorkingStorageInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"A
  JSON object containing the of the gateway.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeWorkingStorageOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"A
  JSON object containing the following fields:\";s:7:\"example\";O:8:\"stdClass\":4:{s:7:\"DiskIds\";a:2:{i:0;s:29:\"pci-0000:03:00.0-scsi-0:0:0:0\";i:1;s:29:\"pci-0000:03:00.0-scsi-0:0:1:0\";}s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";s:30:\"WorkingStorageAllocatedInBytes\";i:2199023255552;s:25:\"WorkingStorageUsedInBytes\";i:789207040;}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"DiskIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/DiskIds\";s:11:\"description\";s:259:\"An
  array of the gateway's local disk IDs that are configured as working storage. Each
  local disk ID is specified as a string (minimum length of 1 and maximum length of
  300). If no local disks are configured as working storage, then the DiskIds array
  is empty.\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}s:30:\"WorkingStorageAllocatedInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:136:\"The
  total working storage in bytes allocated for the gateway. If no working storage
  is configured for the gateway, this field returns 0.\";}s:25:\"WorkingStorageUsedInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:132:\"The
  total working storage in bytes in use by the gateway. If no working storage is configured
  for the gateway, this field returns 0.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"DeviceType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:21:\"DeviceiSCSIAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Lists
  iSCSI information about a VTL device.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"ChapEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:62:\"Indicates
  whether mutual CHAP is enabled for the iSCSI target.\";}s:18:\"NetworkInterfaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NetworkInterfaceId\";s:11:\"description\";s:51:\"The
  network interface identifier of the VTL device.\";}s:20:\"NetworkInterfacePort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:59:\"The
  port used to communicate with iSCSI VTL device targets.\";}s:9:\"TargetARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TargetARN\";s:11:\"description\";s:130:\"Specifies
  the unique Amazon Resource Name(ARN) that encodes the iSCSI qualified name(iqn)
  of a tape drive or media changer target.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DisableGatewayInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:19:\"DisableGatewayInput\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:8:\"required\";a:1:{i:0;s:10:\"GatewayARN\";}s:4:\"type\";s:6:\"object\";}s:20:\"DisableGatewayOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"DisableGatewayOutput\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GatewayARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";s:11:\"description\";s:56:\"The
  unique Amazon Resource Name of the disabled gateway.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Disk\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:22:\"DiskAllocationResource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:18:\"DiskAllocationType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DiskAllocationType\";}s:6:\"DiskId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/DiskId\";}s:8:\"DiskNode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:8:\"DiskPath\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:15:\"DiskSizeInBytes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/long\";}s:10:\"DiskStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DiskAllocationType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:3;s:4:\"type\";s:6:\"string\";}s:6:\"DiskId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"DiskIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/DiskId\";}s:4:\"type\";s:5:\"array\";}s:5:\"Disks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Disk\";}s:4:\"type\";s:5:\"array\";}s:12:\"DoubleObject\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:61:{i:0;s:20:\"ActivationKeyExpired\";i:1;s:20:\"ActivationKeyInvalid\";i:2;s:21:\"ActivationKeyNotFound\";i:3;s:20:\"GatewayInternalError\";i:4;s:19:\"GatewayNotConnected\";i:5;s:15:\"GatewayNotFound\";i:6;s:33:\"GatewayProxyNetworkConnectionBusy\";i:7;s:21:\"AuthenticationFailure\";i:8;s:33:\"BandwidthThrottleScheduleNotFound\";i:9;s:7:\"Blocked\";i:10;s:20:\"CannotExportSnapshot\";i:11;s:22:\"ChapCredentialNotFound\";i:12;s:20:\"DiskAlreadyAllocated\";i:13;s:16:\"DiskDoesNotExist\";i:14;s:32:\"DiskSizeGreaterThanVolumeMaxSize\";i:15;s:26:\"DiskSizeLessThanVolumeSize\";i:16;s:21:\"DiskSizeNotGigAligned\";i:17;s:24:\"DuplicateCertificateInfo\";i:18;s:17:\"DuplicateSchedule\";i:19;s:16:\"EndpointNotFound\";i:20;s:15:\"IAMNotSupported\";i:21;s:16:\"InitiatorInvalid\";i:22;s:17:\"InitiatorNotFound\";i:23;s:13:\"InternalError\";i:24;s:14:\"InvalidGateway\";i:25;s:15:\"InvalidEndpoint\";i:26;s:17:\"InvalidParameters\";i:27;s:15:\"InvalidSchedule\";i:28;s:25:\"LocalStorageLimitExceeded\";i:29;s:20:\"LunAlreadyAllocated
  \";i:30;s:10:\"LunInvalid\";i:31;s:28:\"MaximumContentLengthExceeded\";i:32;s:33:\"MaximumTapeCartridgeCountExceeded\";i:33;s:26:\"MaximumVolumeCountExceeded\";i:34;s:27:\"NetworkConfigurationChanged\";i:35;s:16:\"NoDisksAvailable\";i:36;s:14:\"NotImplemented\";i:37;s:12:\"NotSupported\";i:38;s:16:\"OperationAborted\";i:39;s:15:\"OutdatedGateway\";i:40;s:24:\"ParametersNotImplemented\";i:41;s:13:\"RegionInvalid\";i:42;s:14:\"RequestTimeout\";i:43;s:18:\"ServiceUnavailable\";i:44;s:15:\"SnapshotDeleted\";i:45;s:17:\"SnapshotIdInvalid\";i:46;s:18:\"SnapshotInProgress\";i:47;s:16:\"SnapshotNotFound\";i:48;s:24:\"SnapshotScheduleNotFound\";i:49;s:15:\"StagingAreaFull\";i:50;s:14:\"StorageFailure\";i:51;s:21:\"TapeCartridgeNotFound\";i:52;s:19:\"TargetAlreadyExists\";i:53;s:13:\"TargetInvalid\";i:54;s:14:\"TargetNotFound\";i:55;s:21:\"UnauthorizedOperation\";i:56;s:19:\"VolumeAlreadyExists\";i:57;s:15:\"VolumeIdInvalid\";i:58;s:11:\"VolumeInUse\";i:59;s:14:\"VolumeNotFound\";i:60;s:14:\"VolumeNotReady\";}s:4:\"type\";s:6:\"string\";}s:12:\"FileShareARN\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  Amazon Resource Name (ARN) of the file share. \";s:9:\"maxLength\";i:500;s:9:\"minLength\";i:50;s:4:\"type\";s:6:\"string\";}s:16:\"FileShareARNList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FileShareARN\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:19:\"FileShareClientList\";O:8:\"stdClass\":5:{s:11:\"description\";s:135:\"The
  list of clients that are allowed to access the file gateway. The list must contain
  either valid IP addresses or valid CIDR blocks. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IPV4AddressCIDR\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:11:\"FileShareId\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  ID of the file share. \";s:9:\"maxLength\";i:30;s:9:\"minLength\";i:12;s:4:\"type\";s:6:\"string\";}s:13:\"FileShareInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Describes
  a file share.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"FileShareARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FileShareARN\";}s:11:\"FileShareId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FileShareId\";}s:15:\"FileShareStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FileShareStatus\";}s:10:\"GatewayARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";}}s:4:\"type\";s:6:\"object\";}s:17:\"FileShareInfoList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FileShareInfo\";}s:4:\"type\";s:5:\"array\";}s:15:\"FileShareStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  status of the file share. Possible values are CREATING, UPDATING, AVAILABLE and
  DELETING. \";s:9:\"maxLength\";i:50;s:9:\"minLength\";i:3;s:4:\"type\";s:6:\"string\";}s:10:\"GatewayARN\";O:8:\"stdClass\":4:{s:11:\"description\";s:142:\"The
  Amazon Resource Name (ARN) of the gateway. Use the <a>ListGateways</a> operation
  to return a list of gateways for your account and region.\";s:9:\"maxLength\";i:500;s:9:\"minLength\";i:50;s:4:\"type\";s:6:\"string\";}s:9:\"GatewayId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:12;s:4:\"type\";s:6:\"string\";}s:11:\"GatewayInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Describes
  a gateway object.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"GatewayARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";s:11:\"description\";s:142:\"The
  Amazon Resource Name (ARN) of the gateway. Use the <a>ListGateways</a> operation
  to return a list of gateways for your account and region.\";}s:9:\"GatewayId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GatewayId\";s:11:\"description\";s:174:\"The
  unique identifier assigned to your gateway during activation. This ID becomes part
  of the gateway Amazon Resource Name (ARN), which you use as input for other operations.\";}s:11:\"GatewayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:24:\"The
  name of the gateway.\";}s:23:\"GatewayOperationalState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/GatewayOperationalState\";s:11:\"description\";s:72:\"<p>The
  state of the gateway.</p> <p>Valid Values: DISABLED or ACTIVE</p>\";}s:11:\"GatewayType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/GatewayType\";s:11:\"description\";s:24:\"The
  type of the gateway.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"GatewayName\";O:8:\"stdClass\":5:{s:11:\"description\";s:41:\"The
  name you configured for your gateway.\";s:9:\"maxLength\";i:255;s:9:\"minLength\";i:2;s:7:\"pattern\";s:46:\"^[
  -\\.0-\\[\\]-~]*[!-\\.0-\\[\\]-~][ -\\.0-\\[\\]-~]*$\";s:4:\"type\";s:6:\"string\";}s:24:\"GatewayNetworkInterfaces\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NetworkInterface\";}s:4:\"type\";s:5:\"array\";}s:23:\"GatewayOperationalState\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:25;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:12:\"GatewayState\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:25;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:15:\"GatewayTimezone\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:10;s:9:\"minLength\";i:3;s:4:\"type\";s:6:\"string\";}s:11:\"GatewayType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:20;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:8:\"Gateways\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GatewayInfo\";}s:4:\"type\";s:5:\"array\";}s:9:\"HourOfDay\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:23;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:15:\"IPV4AddressCIDR\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:135:\"^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/([0-9]|[1-2][0-9]|3[0-2]))?$\";s:4:\"type\";s:6:\"string\";}s:9:\"Initiator\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"Initiators\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Initiator\";}s:4:\"type\";s:5:\"array\";}s:19:\"InternalServerError\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"An
  internal server error has occurred during the request. For more information, see
  the error and message fields.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/StorageGatewayError\";s:11:\"description\";s:89:\"A
  <a>StorageGatewayError</a> that provides more information about the cause of the
  error.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:60:\"A
  human-readable message describing the error that occurred.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"InvalidGatewayRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"An
  exception occurred because an invalid gateway request was issued to the service.
  For more information, see the error and message fields.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/StorageGatewayError\";s:11:\"description\";s:84:\"A
  <a>StorageGatewayError</a> that provides more detail about the cause of the error.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:60:\"A
  human-readable message describing the error that occurred.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"IqnName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:7:\"pattern\";s:12:\"[0-9a-z:.-]+\";s:4:\"type\";s:6:\"string\";}s:6:\"KMSKey\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"The
  ARN of the KMS key used for Amazon S3 server side encryption. \";s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:20;s:4:\"type\";s:6:\"string\";}s:18:\"LastSoftwareUpdate\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:25;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:19:\"ListFileSharesInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"ListFileShareInput\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"GatewayARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GatewayARN\";s:11:\"description\";s:158:\"The
  Amazon resource Name (ARN) of the gateway whose file shares you want to list. If
  this field is not present, all file shares under your account are listed.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PositiveIntObject\";s:11:\"description\";s:131:\"The
  maximum number of file shares to return in the response. The value must be an integer
  with a value greater than zero. Optional.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:199:\"Opaque
  pagination token returned from a previous ListFileShares operation. If present,
  <code>Marker</code> specifies where to continue the list from after a previous call
  to ListFileShares. Optional.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListFileSharesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"ListFileShareOutput\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"FileShareInfoList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FileShareInfoList\";s:11:\"description\";s:62:\"An
  array of information about the file gateway's file shares. \";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:92:\"If
  the request includes <code>Marker</code>, the response returns that value in this
  field. \";}s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:192:\"If
  a value is present, there are more file shares to return. In a subsequent request,
  use <code>NextMarker</code> as the value for <code>Marker</code> to retrieve the
  next set of file shares. \";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListGatewaysInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:183:\"<p>A
  JSON object containing zero or more of the following fields:</p> <ul> <li> <p> <a>ListGatewaysInput$Limit</a>
  </p> </li> <li> <p> <a>ListGatewaysInput$Marker</a> </p> </li> </ul>\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"Limit\";i:2;s:6:\"Marker\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PositiveIntObject\";s:11:\"description\";s:89:\"Specifies
  that the list of gateways returned be limited to the specified number of items.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:93:\"An
  opaque string that indicates the position at which to begin the returned list of
  gateways.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListGatewaysOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"Gateways\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B\";}i:1;O:8:\"stdClass\":1:{s:10:\"GatewayARN\";s:66:\"arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-23A4567C\";}}s:6:\"Marker\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Gateways\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Gateways\";}s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListLocalDisksInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"A
[...]
