---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:128:\"Google
  Service Control provides control plane functionality to managed services, such as
  logging, monitoring, and status checks.\";s:5:\"title\";s:15:\"Service Control\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:64:\"https://servicecontrol.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:14:\"servicecontrol\";}"
host: servicecontrol.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":37:{s:12:\"AllocateInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"unusedArguments\";O:8:\"stdClass\":3:{s:11:\"description\";s:272:\"A
  list of label keys that were unused by the server in processing the\nrequest. Thus,
  for similar requests repeated in a certain future time\nwindow, the caller can choose
  to ignore these labels in the requests\nto achieve better client-side cache hits
  and quota aggregation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AllocateQuotaRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Request
  message for the AllocateQuota method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"allocateOperation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QuotaOperation\";s:11:\"description\";s:46:\"Operation
  that describes the quota allocation.\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Specifies
  which version of service configuration should be used to process\nthe request. If
  unspecified or no matching version can be found, the latest\none will be used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AllocateQuotaResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Response
  message for the AllocateQuota method.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"allocateErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Indicates
  the decision of the allocate.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/QuotaError\";}s:4:\"type\";s:5:\"array\";}s:12:\"allocateInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AllocateInfo\";s:11:\"description\";s:69:\"WARNING:
  DO NOT use this field until this warning message is removed.\";}s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  same operation_id value used in the AllocateQuotaRequest. Used for\nlogging and
  diagnostics purposes.\";s:4:\"type\";s:6:\"string\";}s:12:\"quotaMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:449:\"Quota
  metrics to indicate the result of allocation. Depending on the\nrequest, one or
  more of the following metrics will be included:\n\n1. Per quota group or per quota
  metric incremental usage will be specified\nusing the following delta metric :\n
  \ \"serviceruntime.googleapis.com/api/consumer/quota_used_count\"\n\n2. The quota
  limit reached condition will be specified using the following\nboolean metric :\n
  \ \"serviceruntime.googleapis.com/quota/exceeded\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MetricValueSet\";}s:4:\"type\";s:5:\"array\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"ID
  of the actual config used to process the request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"AuditLog\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Common
  audit log format for Google Cloud Platform API operations.\n\n\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"authenticationInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationInfo\";s:11:\"description\";s:27:\"Authentication
  information.\";}s:17:\"authorizationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"Authorization
  information. If there are multiple\nresources or permissions involved, then there
  is\none AuthorizationInfo element for each {resource, permission} tuple.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AuthorizationInfo\";}s:4:\"type\";s:5:\"array\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:121:\"Other service-specific data about
  the request, response, and other\ninformation associated with the current audited
  event.\";s:4:\"type\";s:6:\"object\";}s:10:\"methodName\";O:8:\"stdClass\":2:{s:11:\"description\";s:210:\"The
  name of the service method or operation.\nFor API calls, this should be the name
  of the API method.\nFor example,\n\n    \"google.datastore.v1.Datastore.RunQuery\"\n
  \   \"google.logging.v1.LoggingService.DeleteLog\"\";s:4:\"type\";s:6:\"string\";}s:16:\"numResponseItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  number of items returned from a List or Query API method,\nif applicable.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"request\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:351:\"The operation request. This may not
  include all request parameters,\nsuch as those that are too large, privacy-sensitive,
  or duplicated\nelsewhere in the log record.\nIt should never include user-generated
  data, such as file contents.\nWhen the JSON object represented here has a proto
  equivalent, the proto\nname will be indicated in the `@type` property.\";s:4:\"type\";s:6:\"object\";}s:15:\"requestMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RequestMetadata\";s:11:\"description\";s:29:\"Metadata
  about the operation.\";}s:12:\"resourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:210:\"The
  resource or collection that is the target of the operation.\nThe name is a scheme-less
  URI, not including the API service name.\nFor example:\n\n    \"shelves/SHELF_ID/books\"\n
  \   \"shelves/SHELF_ID/books/BOOK_ID\"\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:351:\"The operation response. This may
  not include all response elements,\nsuch as those that are too large, privacy-sensitive,
  or duplicated\nelsewhere in the log record.\nIt should never include user-generated
  data, such as file contents.\nWhen the JSON object represented here has a proto
  equivalent, the proto\nname will be indicated in the `@type` property.\";s:4:\"type\";s:6:\"object\";}s:11:\"serviceData\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:120:\"Deprecated,
  use `metadata` field instead.\nOther service-specific data about the request, response,
  and other\nactivities.\";s:4:\"type\";s:6:\"object\";}s:11:\"serviceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  name of the API service performing the operation. For example,\n`\"datastore.googleapis.com\"`.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:36:\"The
  status of the overall operation.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AuthenticationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Authentication
  information for the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"authoritySelector\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"The
  authority selector specified by the requestor, if any.\nIt is not guaranteed that
  the principal was allowed to use this authority.\";s:4:\"type\";s:6:\"string\";}s:14:\"principalEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:253:\"The
  email address of the authenticated user (or service account on behalf\nof third
  party principal) making the request. For privacy reasons, the\nprincipal email address
  is redacted for all read-only operations that fail\nwith a \"permission denied\"
  error.\";s:4:\"type\";s:6:\"string\";}s:19:\"thirdPartyPrincipal\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:205:\"The third party identification (if
  any) of the authenticated user making\nthe request.\nWhen the JSON object represented
  here has a proto equivalent, the proto\nname will be indicated in the `@type` property.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AuthorizationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Authorization
  information for the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"granted\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Whether
  or not authorization for `resource` and `permission`\nwas granted.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"permission\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  required IAM permission.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"The
  resource being accessed, as a REST-style string. For example:\n\n    bigquery.googleapis.com/projects/PROJECTID/datasets/DATASETID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CheckError\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Defines
  the errors to be returned in\ngoogle.api.servicecontrol.v1.CheckResponse.check_errors.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  error code.\";s:4:\"enum\";a:33:{i:0;s:22:\"ERROR_CODE_UNSPECIFIED\";i:1;s:9:\"NOT_FOUND\";i:2;s:17:\"PERMISSION_DENIED\";i:3;s:18:\"RESOURCE_EXHAUSTED\";i:4;s:15:\"BUDGET_EXCEEDED\";i:5;s:26:\"DENIAL_OF_SERVICE_DETECTED\";i:6;s:13:\"LOAD_SHEDDING\";i:7;s:15:\"ABUSER_DETECTED\";i:8;s:21:\"SERVICE_NOT_ACTIVATED\";i:9;s:17:\"VISIBILITY_DENIED\";i:10;s:16:\"BILLING_DISABLED\";i:11;s:15:\"PROJECT_DELETED\";i:12;s:15:\"PROJECT_INVALID\";i:13;s:18:\"IP_ADDRESS_BLOCKED\";i:14;s:15:\"REFERER_BLOCKED\";i:15;s:18:\"CLIENT_APP_BLOCKED\";i:16;s:18:\"API_TARGET_BLOCKED\";i:17;s:15:\"API_KEY_INVALID\";i:18;s:15:\"API_KEY_EXPIRED\";i:19;s:17:\"API_KEY_NOT_FOUND\";i:20;s:22:\"SPATULA_HEADER_INVALID\";i:21;s:17:\"LOAS_ROLE_INVALID\";i:22;s:15:\"NO_LOAS_PROJECT\";i:23;s:21:\"LOAS_PROJECT_DISABLED\";i:24;s:24:\"SECURITY_POLICY_VIOLATED\";i:25;s:18:\"INVALID_CREDENTIAL\";i:26;s:28:\"NAMESPACE_LOOKUP_UNAVAILABLE\";i:27;s:26:\"SERVICE_STATUS_UNAVAILABLE\";i:28;s:26:\"BILLING_STATUS_UNAVAILABLE\";i:29;s:23:\"QUOTA_CHECK_UNAVAILABLE\";i:30;s:31:\"LOAS_PROJECT_LOOKUP_UNAVAILABLE\";i:31;s:42:\"CLOUD_RESOURCE_MANAGER_BACKEND_UNAVAILABLE\";i:32;s:35:\"SECURITY_POLICY_BACKEND_UNAVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:6:\"detail\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Free-form
  text providing details on the error cause of the error.\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"Subject
  to whom this error applies. See the specific code enum for more\ndetails on this
  field. For example:\n    - \u201Cproject:<project-id or project-number>\u201D\n
  \   - \u201Cfolder:<folder-id>\u201D\n    - \u201Corganization:<organization-id>\u201D\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CheckInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Contains
  additional information about the check operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"consumerInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConsumerInfo\";s:11:\"description\";s:28:\"Consumer
  info of this check.\";}s:15:\"unusedArguments\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"A
  list of fields and label keys that are ignored by the server.\nThe client doesn't
  need to send them for following requests to improve\nperformance and allow better
  aggregation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CheckRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Request
  message for the Check method.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:28:\"The
  operation to be checked.\";}s:22:\"requestProjectSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Requests
  the project settings to be returned as part of the check response.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"Specifies
  which version of service configuration should be used to process\nthe request.\n\nIf
  unspecified or no matching version can be found, the\nlatest one will be used.\";s:4:\"type\";s:6:\"string\";}s:19:\"skipActivationCheck\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Indicates
  if service activation check should be skipped for this request.\nDefault behavior
  is to perform the check and apply relevant quota.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CheckResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Response
  message for the Check method.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"checkErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"Indicate
  the decision of the check.\n\nIf no check errors are present, the service should
  process the operation.\nOtherwise the service should use the list of errors to determine
  the\nappropriate action.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CheckError\";}s:4:\"type\";s:5:\"array\";}s:9:\"checkInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CheckInfo\";s:11:\"description\";s:73:\"Feedback
  data returned from the server during processing a Check request.\";}s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  same operation_id value used in the CheckRequest.\nUsed for logging and diagnostics
  purposes.\";s:4:\"type\";s:6:\"string\";}s:9:\"quotaInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/QuotaInfo\";s:11:\"description\";s:71:\"Quota
  information for the check request associated with this response.\n\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  actual config id used to process the request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ConsumerInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"`ConsumerInfo`
  provides information about the consumer project.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"projectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  Google cloud project number, e.g. 1234567890. A value of 0 indicates\nno project
  number is found.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Distribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:379:\"Distribution
  represents a frequency distribution of double-valued sample\npoints. It contains
  the size of the population of sample points plus\nadditional optional information:\n\n
  \ - the arithmetic mean of the samples\n  - the minimum and maximum of the samples\n
  \ - the sum-squared-deviation of the samples, used to compute variance\n  - a histogram
  of the values of the sample points\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"bucketCounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:544:\"The
  number of samples in each histogram bucket. `bucket_counts` are\noptional. If present,
  they must sum to the `count` value.\n\nThe buckets are defined below in `bucket_option`.
  There are N buckets.\n`bucket_counts[0]` is the number of samples in the underflow
  bucket.\n`bucket_counts[1]` to `bucket_counts[N-1]` are the numbers of samples\nin
  each of the finite buckets. And `bucket_counts[N] is the number\nof samples in the
  overflow bucket. See the comments of `bucket_option`\nbelow for more details.\n\nAny
  suffix of trailing zeros may be omitted.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  total number of samples in the distribution. Must be >= 0.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"explicitBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExplicitBuckets\";s:11:\"description\";s:43:\"Buckets
  with arbitrary user-provided width.\";}s:18:\"exponentialBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ExponentialBuckets\";s:11:\"description\";s:41:\"Buckets
  with exponentially growing width.\";}s:13:\"linearBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LinearBuckets\";s:11:\"description\";s:28:\"Buckets
  with constant width.\";}s:7:\"maximum\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  maximum of the population of values. Ignored if `count` is zero.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"mean\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  arithmetic mean of the samples in the distribution. If `count` is\nzero then this
  field must be zero.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"minimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  minimum of the population of values. Ignored if `count` is zero.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:21:\"sumOfSquaredDeviation\";O:8:\"stdClass\":3:{s:11:\"description\";s:205:\"The
  sum of squared deviations from the mean:\n  Sum[i=1..count]((x_i - mean)^2)\nwhere
  each x_i is a sample values. If `count` is zero then this field\nmust be zero, otherwise
  validation of the request fails.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:24:\"EndReconciliationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Request
  message for QuotaController.EndReconciliation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"reconciliationOperation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QuotaOperation\";s:11:\"description\";s:50:\"Operation
  that describes the quota reconciliation.\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Specifies
  which version of service configuration should be used to process\nthe request. If
  unspecified or no matching version can be found, the latest\none will be used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"EndReconciliationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Response
  message for QuotaController.EndReconciliation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  same operation_id value used in the EndReconciliationRequest. Used for\nlogging
  and diagnostics purposes.\";s:4:\"type\";s:6:\"string\";}s:12:\"quotaMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:939:\"Metric
  values as tracked by One Platform before the adjustment was made.\nThe following
  metrics will be included:\n\n1. Per quota metric total usage will be specified using
  the following gauge\nmetric:\n  \"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"\n\n2.
  Value for each quota limit associated with the metrics will be specified\nusing
  the following gauge metric:\n  \"serviceruntime.googleapis.com/quota/limit\"\n\n3.
  Delta value of the usage after the reconciliation for limits associated\nwith the
  metrics will be specified using the following metric:\n  \"serviceruntime.googleapis.com/allocation/reconciliation_delta\"\nThe
  delta value is defined as:\n  new_usage_from_client - existing_value_in_spanner.\nThis
  metric is not defined in serviceruntime.yaml or in Cloud Monarch.\nThis metric is
  meant for callers' use only. Since this metric is not\ndefined in the monitoring
  backend, reporting on this metric will result in\nan error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MetricValueSet\";}s:4:\"type\";s:5:\"array\";}s:20:\"reconciliationErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Indicates
  the decision of the reconciliation end.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/QuotaError\";}s:4:\"type\";s:5:\"array\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"ID
  of the actual config used to process the request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ExplicitBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Describing
  buckets with arbitrary user-provided width.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"bounds\";O:8:\"stdClass\":3:{s:11:\"description\";s:718:\"'bound'
  is a list of strictly increasing boundaries between\nbuckets. Note that a list of
  length N-1 defines N buckets because\nof fenceposting. See comments on `bucket_options`
  for details.\n\nThe i'th finite bucket covers the interval\n  [bound[i-1], bound[i])\nwhere
  i ranges from 1 to bound_size() - 1. Note that there are no\nfinite buckets at all
  if 'bound' only contains a single element; in\nthat special case the single bound
  defines the boundary between the\nunderflow and overflow buckets.\n\nbucket number
  \                  lower bound    upper bound\n i == 0 (underflow)              -inf
  \          bound[i]\n 0 < i < bound_size()            bound[i-1]     bound[i]\n
  i == bound_size() (overflow)    bound[i-1]     +inf\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ExponentialBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Describing
  buckets with exponentially growing width.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"growthFactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"The
  i'th exponential bucket covers the interval\n  [scale * growth_factor^(i-1), scale
  * growth_factor^i)\nwhere i ranges from 1 to num_finite_buckets inclusive.\nMust
  be larger than 1.0.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"numFiniteBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"The
  number of finite buckets. With the underflow and overflow buckets,\nthe total number
  of buckets is `num_finite_buckets` + 2.\nSee comments on `bucket_options` for details.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"scale\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  i'th exponential bucket covers the interval\n  [scale * growth_factor^(i-1), scale
  * growth_factor^i)\nwhere i ranges from 1 to num_finite_buckets inclusive.\nMust
  be > 0.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LinearBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describing
  buckets with constant width.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"numFiniteBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"The
  number of finite buckets. With the underflow and overflow buckets,\nthe total number
  of buckets is `num_finite_buckets` + 2.\nSee comments on `bucket_options` for details.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  i'th linear bucket covers the interval\n  [offset + (i-1) * width, offset + i *
  width)\nwhere i ranges from 1 to num_finite_buckets, inclusive.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  i'th linear bucket covers the interval\n  [offset + (i-1) * width, offset + i *
  width)\nwhere i ranges from 1 to num_finite_buckets, inclusive.\nMust be strictly
  positive.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:8:\"LogEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"An
  individual log entry.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"insertId\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"A
  unique ID for the log entry used for deduplication. If omitted,\nthe implementation
  will generate one based on operation_id.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:97:\"A
  set of user-defined (key, value) data that provides additional\ninformation about
  the log entry.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Required.
  The log to which this log entry belongs. Examples: `\"syslog\"`,\n`\"book_log\"`.\";s:4:\"type\";s:6:\"string\";}s:12:\"protoPayload\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:137:\"The
  log entry payload, represented as a protocol buffer that is\nexpressed as a JSON
  object. The only accepted type currently is\nAuditLog.\";s:4:\"type\";s:6:\"object\";}s:8:\"severity\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  severity of the log entry. The default value is\n`LogSeverity.DEFAULT`.\";s:4:\"enum\";a:9:{i:0;s:7:\"DEFAULT\";i:1;s:5:\"DEBUG\";i:2;s:4:\"INFO\";i:3;s:6:\"NOTICE\";i:4;s:7:\"WARNING\";i:5;s:5:\"ERROR\";i:6;s:8:\"CRITICAL\";i:7;s:5:\"ALERT\";i:8;s:9:\"EMERGENCY\";}s:4:\"type\";s:6:\"string\";}s:13:\"structPayload\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:85:\"The log entry payload, represented
  as a structure that\nis expressed as a JSON object.\";s:4:\"type\";s:6:\"object\";}s:11:\"textPayload\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  log entry payload, represented as a Unicode string (UTF-8).\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  time the event described by the log entry occurred. If\nomitted, defaults to operation
  start time.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MetricValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Represents
  a single metric value.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"boolValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"A
  boolean value.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"distributionValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Distribution\";s:11:\"description\";s:21:\"A
  distribution value.\";}s:11:\"doubleValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  double precision floating point value.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  end of the time period over which this metric value's measurement\napplies.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"int64Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  signed 64-bit integer value.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:134:\"The
  labels describing the metric value.\nSee comments on google.api.servicecontrol.v1.Operation.labels
  for\nthe overriding relationship.\";s:4:\"type\";s:6:\"object\";}s:10:\"moneyValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:14:\"A
  money value.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:261:\"The
  start of the time period over which this metric value's measurement\napplies. The
  time period has different semantics for different metric\ntypes (cumulative, delta,
  and gauge). See the metric definition\ndocumentation in the service configuration
  for details.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"stringValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"A
  text string value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"MetricValueSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"Represents
  a set of metric values in the same metric.\nEach metric value in the set should
  have a unique combination of start time,\nend time, and label values.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"metricName\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  metric name defined in the service configuration.\";s:4:\"type\";s:6:\"string\";}s:12:\"metricValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  values in this metric.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Money\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Represents
  an amount of money with its currency type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  3-letter currency code defined in ISO 4217.\";s:4:\"type\";s:6:\"string\";}s:5:\"nanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:364:\"Number
  of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and
  +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf
  `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative,
  `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1
  and `nanos`=-750,000,000.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"units\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit
  is one US dollar.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Represents
  information regarding an operation.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"consumerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:337:\"Identity
  of the consumer who is using the service.\nThis field should be filled in for the
  operations initiated by a\nconsumer, but not for service-initiated operations that
  are\nnot related to a specific consumer.\n\nThis can be in one of the following
  formats:\n  project:<project_id>,\n  project_number:<project_number>,\n  api_key:<api_key>.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"End
  time of the operation.\nRequired when the operation is used in ServiceController.Report,\nbut
  optional when the operation is used in ServiceController.Check.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"importance\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"DO
  NOT USE. This is an experimental field.\";s:4:\"enum\";a:3:{i:0;s:3:\"LOW\";i:1;s:4:\"HIGH\";i:2;s:5:\"DEBUG\";}s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:818:\"Labels
  describing the operation. Only the following labels are allowed:\n\n- Labels describing
  monitored resources as defined in\n  the service configuration.\n- Default labels
  of metric values. When specified, labels defined in the\n  metric value override
  these default.\n- The following labels defined by Google Cloud Platform:\n    -
  `cloud.googleapis.com/location` describing the location where the\n       operation
  happened,\n    - `servicecontrol.googleapis.com/user_agent` describing the user
  agent\n       of the API request,\n    - `servicecontrol.googleapis.com/service_agent`
  describing the service\n       used to handle the API request (e.g. ESP),\n    -
  `servicecontrol.googleapis.com/platform` describing the platform\n       where the
  API is served, such as App Engine, Compute Engine, or\n       Kubernetes Engine.\";s:4:\"type\";s:6:\"object\";}s:10:\"logEntries\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Represents
  information to be logged.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}s:4:\"type\";s:5:\"array\";}s:15:\"metricValueSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:514:\"Represents
  information about this operation. Each MetricValueSet\ncorresponds to a metric defined
  in the service configuration.\nThe data type used in the MetricValueSet must agree
  with\nthe data type specified in the metric definition.\n\nWithin a single operation,
  it is not allowed to have more than one\nMetricValue instances that have the same
  metric names and identical\nlabel value combinations. If a request has such duplicated
  MetricValue\ninstances, the entire request is rejected with\nan invalid argument
  error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MetricValueSet\";}s:4:\"type\";s:5:\"array\";}s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:454:\"Identity
  of the operation. This must be unique within the scope of the\nservice that generated
  the operation. If the service calls\nCheck() and Report() on the same operation,
  the two calls should carry\nthe same id.\n\nUUID version 4 is recommended, though
  not required.\nIn scenarios where an operation is computed from existing information\nand
  an idempotent id is desirable for deduplication purpose, UUID version 5\nis recommended.
  See RFC 4122 for details.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Fully
  qualified name of the operation. Reserved for future use.\";s:4:\"type\";s:6:\"string\";}s:15:\"quotaProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/QuotaProperties\";s:11:\"description\";s:173:\"Represents
  the properties needed for quota check. Applicable only if this\noperation is for
  a quota check request. If this is not specified, no quota\ncheck will be performed.\";}s:17:\"resourceContainer\";O:8:\"stdClass\":2:{s:11:\"description\";s:315:\"DO
  NOT USE. This field is deprecated, use \"resources\" field instead.\nThe resource
  name of the parent of a resource in the resource hierarchy.\n\nThis can be in one
  of the following formats:\n    - \u201Cprojects/<project-id or project-number>\u201D\n
  \   - \u201Cfolders/<folder-id>\u201D\n    - \u201Corganizations/<organization-id>\u201D\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  resources that are involved in the operation.\nThe maximum supported number of entries
  in this field is 100.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceInfo\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Required.
  Start time of the operation.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"userLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:149:\"User
  defined labels for the resource that this operation is associated\nwith. Only a
  combination of 1000 user labels per consumer project are\nallowed.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"QuotaError\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  error information for QuotaOperation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"enum\";a:14:{i:0;s:11:\"UNSPECIFIED\";i:1;s:18:\"RESOURCE_EXHAUSTED\";i:2;s:12:\"OUT_OF_RANGE\";i:3;s:18:\"BILLING_NOT_ACTIVE\";i:4;s:15:\"PROJECT_DELETED\";i:5;s:15:\"API_KEY_INVALID\";i:6;s:15:\"API_KEY_EXPIRED\";i:7;s:22:\"SPATULA_HEADER_INVALID\";i:8;s:17:\"LOAS_ROLE_INVALID\";i:9;s:15:\"NO_LOAS_PROJECT\";i:10;s:26:\"PROJECT_STATUS_UNAVAILABLE\";i:11;s:26:\"SERVICE_STATUS_UNAVAILABLE\";i:12;s:26:\"BILLING_STATUS_UNAVAILABLE\";i:13;s:24:\"QUOTA_SYSTEM_UNAVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Free-form
  text that provides details on the cause of the error.\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Subject
  to whom this error applies. See the specific enum for more details\non this field.
  For example, \"clientip:<ip address of client>\" or\n\"project:<Google developer
  project id>\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"QuotaInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Contains
  the quota information for a quota check response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"limitExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:248:\"Quota
  Metrics that have exceeded quota limits.\nFor QuotaGroup-based quota, this is QuotaGroup.name\nFor
  QuotaLimit-based quota, this is QuotaLimit.name\nSee: google.api.Quota\nDeprecated:
  Use quota_metrics to get per quota group limit exceeded status.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"quotaConsumed\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"description\";s:435:\"Map
  of quota group name to the actual number of tokens consumed. If the\nquota check
  was not successful, then this will not be populated due to no\nquota consumption.\n\nWe
  are not merging this field with 'quota_metrics' field because of the\ncomplexity
  of scaling in Chemist client code base. For simplicity, we will\nkeep this field
  for Castor (that scales quota usage) and 'quota_metrics'\nfor SuperQuota (that doesn't
  scale quota usage).\n\";s:4:\"type\";s:6:\"object\";}s:12:\"quotaMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:674:\"Quota
  metrics to indicate the usage. Depending on the check request, one or\nmore of the
  following metrics will be included:\n\n1. For rate quota, per quota group or per
  quota metric incremental usage\nwill be specified using the following delta metric:\n
  \ \"serviceruntime.googleapis.com/api/consumer/quota_used_count\"\n\n2. For allocation
  quota, per quota metric total usage will be specified\nusing the following gauge
  metric:\n  \"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"\n\n3.
  For both rate quota and allocation quota, the quota limit reached\ncondition will
  be specified using the following boolean metric:\n  \"serviceruntime.googleapis.com/quota/exceeded\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MetricValueSet\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"QuotaOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Represents
  information regarding a quota operation.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"consumerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:200:\"Identity
  of the consumer for whom this quota operation is being performed.\n\nThis can be
  in one of the following formats:\n  project:<project_id>,\n  project_number:<project_number>,\n
  \ api_key:<api_key>.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:32:\"Labels
  describing the operation.\";s:4:\"type\";s:6:\"object\";}s:10:\"methodName\";O:8:\"stdClass\":2:{s:11:\"description\";s:481:\"Fully
  qualified name of the API method for which this quota operation is\nrequested. This
  name is used for matching quota rules or metric rules and\nbilling status rules
  defined in service configuration.\n\nThis field should not be set if any of the
  following is true:\n(1) the quota operation is performed on non-API resources.\n(2)
  quota_metrics is set because the caller is doing quota override.\n\nExample of an
  RPC method name:\n    google.example.library.v1.LibraryService.CreateShelf\";s:4:\"type\";s:6:\"string\";}s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:406:\"Identity
  of the operation. This is expected to be unique within the scope\nof the service
  that generated the operation, and guarantees idempotency in\ncase of retries.\n\nUUID
  version 4 is recommended, though not required. In scenarios where an\noperation
  is computed from existing information and an idempotent id is\ndesirable for deduplication
  purpose, UUID version 5 is recommended. See\nRFC 4122 for details.\";s:4:\"type\";s:6:\"string\";}s:12:\"quotaMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:566:\"Represents
  information about this operation. Each MetricValueSet\ncorresponds to a metric defined
  in the service configuration.\nThe data type used in the MetricValueSet must agree
  with\nthe data type specified in the metric definition.\n\nWithin a single operation,
  it is not allowed to have more than one\nMetricValue instances that have the same
  metric names and identical\nlabel value combinations. If a request has such duplicated
  MetricValue\ninstances, the entire request is rejected with\nan invalid argument
  error.\n\nThis field is mutually exclusive with method_name.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MetricValueSet\";}s:4:\"type\";s:5:\"array\";}s:9:\"quotaMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Quota
  mode for this operation.\";s:4:\"enum\";a:4:{i:0;s:11:\"UNSPECIFIED\";i:1;s:6:\"NORMAL\";i:2;s:11:\"BEST_EFFORT\";i:3;s:10:\"CHECK_ONLY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"QuotaProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Represents
  the properties needed for quota operations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"quotaMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Quota
  mode for this operation.\";s:4:\"enum\";a:4:{i:0;s:7:\"ACQUIRE\";i:1;s:19:\"ACQUIRE_BEST_EFFORT\";i:2;s:5:\"CHECK\";i:3;s:7:\"RELEASE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ReleaseQuotaRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Request
  message for the ReleaseQuota method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"releaseOperation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QuotaOperation\";s:11:\"description\";s:43:\"Operation
  that describes the quota release.\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Specifies
  which version of service configuration should be used to process\nthe request. If
  unspecified or no matching version can be found, the latest\none will be used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ReleaseQuotaResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Response
  message for the ReleaseQuota method.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  same operation_id value used in the ReleaseQuotaRequest. Used for\nlogging and diagnostics
  purposes.\";s:4:\"type\";s:6:\"string\";}s:12:\"quotaMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:676:\"Quota
  metrics to indicate the result of release. Depending on the\nrequest, one or more
  of the following metrics will be included:\n\n1. For rate quota, per quota group
  or per quota metric released amount\nwill be specified using the following delta
  metric:\n  \"serviceruntime.googleapis.com/api/consumer/quota_refund_count\"\n\n2.
  For allocation quota, per quota metric total usage will be specified\nusing the
  following gauge metric:\n  \"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"\n\n3.
  For allocation quota, value for each quota limit associated with\nthe metrics will
  be specified using the following gauge metric:\n  \"serviceruntime.googleapis.com/quota/limit\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MetricValueSet\";}s:4:\"type\";s:5:\"array\";}s:13:\"releaseErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Indicates
  the decision of the release.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/QuotaError\";}s:4:\"type\";s:5:\"array\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"ID
  of the actual config used to process the request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ReportError\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Represents
  the processing error of one Operation in the request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  Operation.operation_id value from the request.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:51:\"Details
  of the error when processing the Operation.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ReportInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Contains
  additional info about the report operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  Operation.operation_id value from the request.\";s:4:\"type\";s:6:\"string\";}s:9:\"quotaInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/QuotaInfo\";s:11:\"description\";s:49:\"Quota
  usage info when processing the `Operation`.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ReportRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Request
  message for the Report method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:416:\"Operations
  to be reported.\n\nTypically the service should report one operation per request.\nPutting
  multiple operations into a single request is allowed, but should\nbe used only when
  multiple operations are natually available at the time\nof the report.\n\nIf multiple
  operations are in a single request, the total request size\nshould be no larger
  than 1MB. See ReportResponse.report_errors for\npartial failure behavior.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"Specifies
  which version of service config should be used to process the\nrequest.\n\nIf unspecified
  or no matching version can be found, the\nlatest one will be used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ReportResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Response
  message for the Report method.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"reportErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:753:\"Partial
  failures, one for each `Operation` in the request that failed\nprocessing. There
  are three possible combinations of the RPC status:\n\n1. The combination of a successful
  RPC status and an empty `report_errors`\n   list indicates a complete success where
  all `Operations` in the\n   request are processed successfully.\n2. The combination
  of a successful RPC status and a non-empty\n   `report_errors` list indicates a
  partial success where some\n   `Operations` in the request succeeded. Each\n   `Operation`
  that failed processing has a corresponding item\n   in this list.\n3. A failed RPC
  status indicates a general non-deterministic failure.\n   When this happens, it's
  impossible to know which of the\n   'Operations' in the request succeeded or failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ReportError\";}s:4:\"type\";s:5:\"array\";}s:11:\"reportInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:421:\"Quota
  usage for each quota release `Operation` request.\n\nFully or partially failed quota
  release request may or may not be present\nin `report_quota_info`. For example,
  a failed quota release request will\nhave the current quota usage info when precise
  quota library returns the\ninfo. A deadline exceeded quota request will not have
  quota usage info.\n\nIf there is no quota release request, report_quota_info will
  be empty.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ReportInfo\";}s:4:\"type\";s:5:\"array\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  actual config id used to process the request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RequestMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Metadata
  about the request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"callerIp\";O:8:\"stdClass\":2:{s:11:\"description\";s:530:\"The
  IP address of the caller.\nFor caller from internet, this will be public IPv4 or
  IPv6 address.\nFor caller from a Compute Engine VM with external IP address, this\nwill
  be the VM's external IP address. For caller from a Compute\nEngine VM without external
  IP address, if the VM is in the same\norganization (or project) as the accessed
  resource, `caller_ip` will\nbe the VM's internal IPv4 address, otherwise the `caller_ip`
  will be\nredacted to \"gce-internal-ip\".\nSee https://cloud.google.com/compute/docs/vpc/
  for more information.\";s:4:\"type\";s:6:\"string\";}s:13:\"callerNetwork\";O:8:\"stdClass\":2:{s:11:\"description\";s:346:\"The
  network of the caller.\nSet only if the network host project is part of the same
  GCP organization\n(or project) as the accessed resource.\nSee https://cloud.google.com/compute/docs/vpc/
  for more information.\nThis is a scheme-less URI full resource name. For example:\n\n
  \   \"//compute.googleapis.com/projects/PROJECT_ID/global/networks/NETWORK_ID\"\";s:4:\"type\";s:6:\"string\";}s:23:\"callerSuppliedUserAgent\";O:8:\"stdClass\":2:{s:11:\"description\";s:499:\"The
  user agent of the caller.\nThis information is not authenticated and should be treated
  accordingly.\nFor example:\n\n+   `google-api-python-client/1.4.0`:\n    The request
  was made by the Google API client for Python.\n+   `Cloud SDK Command Line Tool
  apitools-client/1.0 gcloud/0.9.62`:\n    The request was made by the Google Cloud
  SDK CLI (gcloud).\n+   `AppEngine-Google; (+http://code.google.com/appengine; appid:
  s~my-project`:\n    The request was made from the `my-project` App Engine app.\nNOLINT\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ResourceInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Describes
  a resource associated with this operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"resourceContainer\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"The
  identifier of the parent of this resource instance.\nMust be in one of the following
  formats:\n    - \u201Cprojects/<project-id or project-number>\u201D\n    - \u201Cfolders/<folder-id>\u201D\n
  \   - \u201Corganizations/<organization-id>\u201D\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Name
  of the resource. This is used for auditing purposes.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"StartReconciliationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Request
  message for QuotaController.StartReconciliation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"reconciliationOperation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QuotaOperation\";s:11:\"description\";s:50:\"Operation
  that describes the quota reconciliation.\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Specifies
  which version of service configuration should be used to process\nthe request. If
  unspecified or no matching version can be found, the latest\none will be used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"StartReconciliationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Response
  message for QuotaController.StartReconciliation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  same operation_id value used in the StartReconciliationRequest. Used\nfor logging
  and diagnostics purposes.\";s:4:\"type\";s:6:\"string\";}s:12:\"quotaMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:429:\"Metric
  values as tracked by One Platform before the start of\nreconciliation. The following
  metrics will be included:\n\n1. Per quota metric total usage will be specified using
  the following gauge\nmetric:\n  \"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"\n\n2.
  Value for each quota limit associated with the metrics will be specified\nusing
  the following gauge metric:\n  \"serviceruntime.googleapis.com/quota/limit\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MetricValueSet\";}s:4:\"type\";s:5:\"array\";}s:20:\"reconciliationErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Indicates
  the decision of the reconciliation start.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/QuotaError\";}s:4:\"type\";s:5:\"array\";}s:15:\"serviceConfigId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"ID
  of the actual config used to process the request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
