---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:149:\"Search for information
  on companies using a website or company name and get access to Company Data, News,
  Blog Posts, Competitor Lists and much more.\";s:5:\"title\";s:5:\"Owler\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"search\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_owlerinc_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:46:\"https://developers.owler.com/swagger/spec.json\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"owler.com\";}"
host: api.owler.com
basePath: /
paths:
  /v1/company/basicsearch:
    get:
      description: The Company Basic Search API searches for a company based on the
        input and will returns results containing basic details about matching companies.
        By default the API returns the top 10 available results unless the limit is
        specified. The maximum limit is restricted to 30.
      operationId: basicCompanySearch
      parameters:
      - description: Search term
        in: query
        name: q
        required: true
        type: string
      - description: Fields to be searched - name, website, ticker, permid. If not
          specfied, will be searched against all fields
        in: query
        items:
          enum:
          - name
          - website
          - ticker
          - permid
          type: string
        name: fields
        required: false
        type: array
      - description: Number of results to be displayed - 10 (by default, if not specified)
          to 30
        in: query
        name: limit
        required: false
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Search Results
          schema:
            $ref: '#/definitions/basic_results'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Basic Search Company by Ticker or Website or Name or PermID
      tags:
      - CompanyAPI
  /v1/company/competitor/id/{companyId}:
    get:
      description: The Competitors API provides basic information about top 3 competitors
        of a company specified in the Company Id
      parameters:
      - description: Company Id
        in: path
        name: companyId
        required: true
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Competitors Data
          schema:
            $ref: '#/definitions/CompanyCompetitorVO'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Get Competitor information by Id
      tags:
      - CompetitorAPI
  /v1/company/competitor/url/{website}:
    get:
      description: The Competitors API provides basic information about top 3 competitors
        of a company specified in the website
      parameters:
      - description: Company Id
        in: path
        name: website
        required: true
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Competitors Data
          schema:
            $ref: '#/definitions/CompanyCompetitorVO'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Get Competitor information by URL
      tags:
      - CompetitorAPI
  /v1/company/competitorpremium/id/{companyId}:
    get:
      description: The Competitors API provides basic information about all competitors
        of a given company Id
      parameters:
      - description: Company Id
        in: path
        name: companyId
        required: true
        type: string
      - description: Pass pagination_id as * in the first API request. The API response
          will return top competitors along with the next pagination_id which can
          be passed in the subsequent API request to get the next set of competitors.
          Repeat this process until needed or till the pagination_id returned is blank.
          Note:Every response will have maximum of 50 competitors.
        in: query
        name: pagination_id
        required: false
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Competitors Data
          schema:
            $ref: '#/definitions/competitors'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Get Competitor information by Id
      tags:
      - CompetitorPremiumAPI
  /v1/company/competitorpremium/url/{website}:
    get:
      description: The Competitors API provides basic information about all competitors
        of a given company Id
      parameters:
      - description: Company Id
        in: path
        name: website
        required: true
        type: string
      - description: Pass pagination_id as * in the first API request. The API response
          will return top competitors along with the next pagination_id which can
          be passed in the subsequent API request to get the next set of competitors.
          Repeat this process until needed or till the pagination_id returned is blank.
          Note:Every response will have maximum of 50 competitors.
        in: query
        name: pagination_id
        required: false
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Competitors Data
          schema:
            $ref: '#/definitions/competitors'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Get Competitor information by Url
      tags:
      - CompetitorPremiumAPI
  /v1/company/fuzzysearch:
    get:
      description: The Company Fuzzy Search API searches for a company based on the
        input and will return results containing basic details about matching companies.
        By default the API returns at most top 10 available results unless the limit
        is specified. The maximum limit is restricted to 30.
      operationId: fuzzyCompanySearch
      parameters:
      - description: Search term
        in: query
        name: q
        required: true
        type: string
      - description: Fields to be searched - name, website, ticker, permid, address,
          phone. Each field and its corresponding value has to be specified
        in: query
        items:
          enum:
          - name
          - website
          - ticker
          - permid
          - address
          - phone
          type: string
        name: fields
        required: true
        type: array
      - description: Number of results to be displayed - 10 (by default, if not specified)
          to 30
        in: query
        name: limit
        required: false
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Search Results
          schema:
            $ref: '#/definitions/fuzzy_results'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Fuzzy Search Company by Name or Address or Phone
      tags:
      - CompanyAPI
  /v1/company/id/{companyId}:
    get:
      description: 'The Company Data API provides complete information about a company
        for the specified Company Id '
      parameters:
      - description: Company Id
        in: path
        name: companyId
        required: true
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Company Data
          schema:
            $ref: '#/definitions/company'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Get Company by Id
      tags:
      - CompanyAPI
  /v1/company/search:
    get:
      description: The Company Search API searches for a company based on the input
        and will returns results containing basic details about matching companies.
        By default the API returns the top 10 available results unless the limit is
        specified. The maximum limit is restricted to 30.
      operationId: searchCompany
      parameters:
      - description: Search term
        in: query
        name: q
        required: true
        type: string
      - description: Fields to be searched - name, website, ticker. If not specified,
          will be searched against all fields
        in: query
        items:
          enum:
          - name
          - website
          - ticker
          - permid
          type: string
        name: fields
        required: false
        type: array
      - description: Number of results to be displayed - 10 (by default, if not specified)
          to 30
        in: query
        name: limit
        required: false
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Search Results
          schema:
            $ref: '#/definitions/results'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Search Company by Ticker or Website or Name or PermID
      tags:
      - CompanyAPI
  /v1/company/url/{website}:
    get:
      description: 'The Company Data API provides complete information about a company
        for the specified URL '
      parameters:
      - description: Company Domain
        in: path
        name: website
        required: true
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Company Data
          schema:
            $ref: '#/definitions/company'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Get Company by URL
      tags:
      - CompanyAPI
  /v1/companypremium/id/{companyId}:
    get:
      description: 'The Company Premium Data API provides complete information about
        a company for the specified Company Id '
      parameters:
      - description: Company Id
        in: path
        name: companyId
        required: true
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Company Data
          schema:
            $ref: '#/definitions/company'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Get Complete Company Info by Id
      tags:
      - CompanyPremiumAPI
  /v1/companypremium/url/{website}:
    get:
      description: 'The Company Data API provides complete information about a company
        for the specified URL '
      parameters:
      - description: Company Domain
        in: path
        name: website
        required: true
        type: string
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: Company Data
          schema:
            $ref: '#/definitions/company'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Get Basic Company Info by Url
      tags:
      - CompanyPremiumAPI
  /v1/feed:
    get:
      description: The Feeds API provides a list of feeds and individual feed information
        for the given Company Ids and Category. By default the API returns the latest
        10 feeds available unless the limit is specified. The maximum result is restricted
        to 100 feeds per API request.
      parameters:
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      - description: Company Ids separated by comma (Maximum of 150 Company Ids)
        in: query
        items:
          type: string
        name: company_id
        required: true
        type: array
      - default: "10"
        description: Number of results to be displayed - 10 (by default, if not specified)
          to 100
        in: query
        name: limit
        required: false
        type: string
      - default: '*'
        description: Pass pagination_id as blank in the first API request. The API
          response will return the latest feeds along with the next pagination_id
          which can be passed in the subsequent API request to get the next set of
          feeds. Repeat this process until needed or till the pagination_id returned
          is blank
        in: query
        name: pagination_id
        required: false
        type: string
      - description: Categories separated by comma. If not specified, will search
          against all categories
        in: query
        items:
          enum:
          - NEWS
          - PRESS
          - FUNDING
          - ACQUISITION
          - PEOPLE
          - BLOG
          - VIDEOS
          type: string
        name: category
        required: false
        type: array
      responses:
        200:
          description: Feeds Data
          schema:
            $ref: '#/definitions/results'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Get Feeds for given Company Ids
      tags:
      - FeedAPI
  /v1/feed/url:
    get:
      description: The Feeds API provides a list of feeds and individual feed information
        for the given Company Websites and Category. By default the API returns the
        latest 10 feeds available unless the limit is specified. The maximum result
        is restricted to 100 feeds per API request.
      parameters:
      - default: json
        description: Format of the response content - json (by default if not specified),
          xml
        enum:
        - xml
        - json
        in: query
        name: format
        required: false
        type: string
      - description: Company Websites separated by comma (Maximum of 10 Company Websites)
        in: query
        items:
          type: string
        name: domain
        required: true
        type: array
      - default: "10"
        description: Number of results to be displayed - 10 (by default, if not specified)
          to 100
        in: query
        name: limit
        required: false
        type: string
      - default: '*'
        description: Pass pagination_id as blank in the first API request. The API
          response will return the latest feeds along with the next pagination_id
          which can be passed in the subsequent API request to get the next set of
          feeds. Repeat this process until needed or till the pagination_id returned
          is blank
        in: query
        name: pagination_id
        required: false
        type: string
      - description: Categories separated by comma. If not specified, will search
          against all categories
        in: query
        items:
          enum:
          - NEWS
          - PRESS
          - FUNDING
          - ACQUISITION
          - PEOPLE
          - BLOG
          - VIDEOS
          type: string
        name: category
        required: false
        type: array
      responses:
        200:
          description: Feeds Data
          schema:
            $ref: '#/definitions/results'
        400:
          description: Invalid Parameters
        403:
          description: Authentication Failed
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      summary: Get Feeds for given Company Websites
      tags:
      - FeedAPI
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:11:\"Acquisition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"acquirer_company_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"company_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"undisclosed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Address\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"street1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"street2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:3:\"Ceo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"ceo_rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"CompanyBasicSearchVO\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"company_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"hq_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"perm_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"profile_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"short_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"CompanyBasicVO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"company_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"logo_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"profile_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"short_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:10:\"company_id\";i:1;s:4:\"name\";i:2;s:7:\"website\";i:3;s:8:\"logo_url\";i:4;s:11:\"profile_url\";}}s:19:\"CompanyCompetitorVO\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"competitor\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CompanyBasicVO\";}s:4:\"type\";s:5:\"array\";}}}s:21:\"CompanySearchResultVO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"company_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"company_type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:7:\"Private\";i:1;s:6:\"Public\";i:2;s:21:\"Product/Brand/Service\";i:3;s:36:\"NGO/NPO/NFP/Organization/Association\";i:4;s:18:\"Investment
  Company\";i:5;s:10:\"Government\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"hq_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:8:\"logo_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"perm_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"profile_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"short_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"stock\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Stock\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:10:\"company_id\";i:1;s:4:\"name\";i:2;s:7:\"website\";i:3;s:8:\"logo_url\";i:4;s:11:\"profile_url\";}}s:17:\"CompetitorBasicVO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"company_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"logo_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"profile_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"short_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:10:\"company_id\";i:1;s:4:\"name\";i:2;s:7:\"website\";i:3;s:8:\"logo_url\";i:4;s:11:\"profile_url\";i:5;s:5:\"score\";}}s:7:\"FeedsVO\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CompanyBasicVO\";}s:15:\"enclosure_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"feed_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"owler_feed_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"publisher_logo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"publisher_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"source_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Funding\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"investor\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Investor\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"undisclosed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Investor\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"company_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"SectorVO\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"parent_industry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Stock\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"exchange\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ticker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"basic_results\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"company\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CompanyBasicSearchVO\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"company\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":24:{s:11:\"acquisition\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Acquisition\";}s:4:\"type\";s:5:\"array\";}s:3:\"ceo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Ceo\";}s:10:\"company_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"company_type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:7:\"Private\";i:1;s:6:\"Public\";i:2;s:21:\"Product/Brand/Service\";i:3;s:36:\"NGO/NPO/NFP/Organization/Association\";i:4;s:18:\"Investment
  Company\";i:5;s:10:\"Government\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"employee_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"facebook_link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"founded_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"funding\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Funding\";}s:4:\"type\";s:5:\"array\";}s:10:\"hq_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:10:\"industries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"linkedin_link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"logo_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"perm_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"portfolio_company_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:11:\"profile_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"revenue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"sectors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SectorVO\";}s:4:\"type\";s:5:\"array\";}s:10:\"short_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"stock\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Stock\";}s:12:\"twitter_link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"youtube_link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:10:\"company_id\";i:1;s:4:\"name\";i:2;s:7:\"website\";i:3;s:8:\"logo_url\";i:4;s:11:\"profile_url\";}}s:11:\"competitors\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"competitor\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CompetitorBasicVO\";}s:4:\"type\";s:5:\"array\";}s:13:\"pagination_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"fuzzy_results\";O:8:\"stdClass\":0:{}s:7:\"results\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"feeds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/FeedsVO\";}s:4:\"type\";s:5:\"array\";}s:13:\"pagination_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
