---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:314:\"<fullname>Amazon
  Inspector</fullname> <p>Amazon Inspector enables you to analyze the behavior of
  your AWS resources and to identify potential security issues. For more information,
  see <a href=\"http://docs.aws.amazon.com/inspector/latest/userguide/inspector_introduction.html\">
  Amazon Inspector User Guide</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:16:\"Amazon
  Inspector\";s:7:\"version\";s:10:\"2016-02-16\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:93:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/inspector-2016-02-16.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:9:\"inspector\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"amazonaws_inspector\";s:4:\"type\";s:7:\"openapi\";}}"
host: inspector.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":188:{s:21:\"AccessDeniedErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:34:\"ACCESS_DENIED_TO_ASSESSMENT_TARGET\";i:1;s:36:\"ACCESS_DENIED_TO_ASSESSMENT_TEMPLATE\";i:2;s:31:\"ACCESS_DENIED_TO_ASSESSMENT_RUN\";i:3;s:24:\"ACCESS_DENIED_TO_FINDING\";i:4;s:31:\"ACCESS_DENIED_TO_RESOURCE_GROUP\";i:5;s:30:\"ACCESS_DENIED_TO_RULES_PACKAGE\";i:6;s:26:\"ACCESS_DENIED_TO_SNS_TOPIC\";i:7;s:25:\"ACCESS_DENIED_TO_IAM_ROLE\";}s:4:\"type\";s:6:\"string\";}s:21:\"AccessDeniedException\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"You
  do not have required permissions to access the requested resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"canRetry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:39:\"You
  can immediately retry your request.\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AccessDeniedErrorCode\";s:11:\"description\";s:56:\"Code
  that indicates the type of error that is generated.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:31:\"Details
  of the exception error.\";}}s:8:\"required\";a:3:{i:0;s:7:\"message\";i:1;s:9:\"errorCode\";i:2;s:8:\"canRetry\";}s:4:\"type\";s:6:\"object\";}s:30:\"AddAttributesToFindingsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"attributes\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"key\";s:7:\"Example\";s:5:\"value\";s:7:\"example\";}}s:11:\"findingArns\";a:1:{i:0;s:112:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-8l1VIE0D/run/0-Z02cjjug/finding/0-T8yM9mEU\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserAttributeList\";s:11:\"description\";s:70:\"The
  array of attributes that you want to assign to specified findings.\";}s:11:\"findingArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/AddRemoveAttributesFindingArnList\";s:11:\"description\";s:73:\"The
  ARNs that specify the findings that you want to assign attributes to.\";}}s:8:\"required\";a:2:{i:0;s:11:\"findingArns\";i:1;s:10:\"attributes\";}s:4:\"type\";s:6:\"object\";}s:31:\"AddAttributesToFindingsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"failedItems\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"failedItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FailedItems\";s:11:\"description\";s:91:\"Attribute
  details that cannot be described. An error code is provided for each failed item.\";}}s:8:\"required\";a:1:{i:0;s:11:\"failedItems\";}s:4:\"type\";s:6:\"object\";}s:33:\"AddRemoveAttributesFindingArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:29:\"AgentAlreadyRunningAssessment\";O:8:\"stdClass\":4:{s:11:\"description\";s:193:\"Used
  in the exception error that is thrown if you start an assessment run for an assessment
  target that includes an EC2 instance that is already participating in another started
  assessment run.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"agentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/AgentId\";s:11:\"description\";s:115:\"ID
  of the agent that is running on an EC2 instance that is already participating in
  another started assessment run.\";}s:16:\"assessmentRunArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:60:\"The
  ARN of the assessment run that has already been started.\";}}s:8:\"required\";a:2:{i:0;s:7:\"agentId\";i:1;s:16:\"assessmentRunArn\";}s:4:\"type\";s:6:\"object\";}s:33:\"AgentAlreadyRunningAssessmentList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/AgentAlreadyRunningAssessment\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:11:\"AgentFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:145:\"Contains
  information about an Amazon Inspector agent. This data type is used as a request
  parameter in the <a>ListAssessmentRunAgents</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"agentHealthCodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AgentHealthCodeList\";s:11:\"description\";s:163:\"The
  detailed health state of the agent. Values can be set to <b>IDLE</b>, <b>RUNNING</b>,
  <b>SHUTDOWN</b>, <b>UNHEALTHY</b>, <b>THROTTLED</b>, and <b>UNKNOWN</b>. \";}s:12:\"agentHealths\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AgentHealthList\";s:11:\"description\";s:95:\"The
  current health state of the agent. Values can be set to <b>HEALTHY</b> or <b>UNHEALTHY</b>.\";}}s:8:\"required\";a:2:{i:0;s:12:\"agentHealths\";i:1;s:16:\"agentHealthCodes\";}s:4:\"type\";s:6:\"object\";}s:11:\"AgentHealth\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"HEALTHY\";i:1;s:9:\"UNHEALTHY\";i:2;s:7:\"UNKNOWN\";}s:4:\"type\";s:6:\"string\";}s:15:\"AgentHealthCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:4:\"IDLE\";i:1;s:7:\"RUNNING\";i:2;s:8:\"SHUTDOWN\";i:3;s:9:\"UNHEALTHY\";i:4;s:9:\"THROTTLED\";i:5;s:7:\"UNKNOWN\";}s:4:\"type\";s:6:\"string\";}s:19:\"AgentHealthCodeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AgentHealthCode\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:15:\"AgentHealthList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AgentHealth\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:7:\"AgentId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"AgentIdList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/AgentId\";}s:8:\"maxItems\";i:500;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:12:\"AgentPreview\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Used
  as a response element in the <a>PreviewAgents</a> action.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"agentHealth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AgentHealth\";s:11:\"description\";s:48:\"The
  health status of the Amazon Inspector Agent.\";}s:7:\"agentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/AgentId\";s:11:\"description\";s:56:\"The
  ID of the EC2 instance where the agent is installed.\";}s:12:\"agentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AgentVersion\";s:11:\"description\";s:42:\"The
  version of the Amazon Inspector Agent.\";}s:16:\"autoScalingGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AutoScalingGroup\";s:11:\"description\";s:73:\"The
  Auto Scaling group for the EC2 instance where the agent is installed.\";}s:8:\"hostname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Hostname\";s:11:\"description\";s:82:\"The
  hostname of the EC2 instance on which the Amazon Inspector Agent is installed.\";}s:11:\"ipv4Address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Ipv4Address\";s:11:\"description\";s:84:\"The
  IP address of the EC2 instance on which the Amazon Inspector Agent is installed.\";}s:13:\"kernelVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/KernelVersion\";s:11:\"description\";s:120:\"The
  kernel version of the operating system running on the EC2 instance on which the
  Amazon Inspector Agent is installed.\";}s:15:\"operatingSystem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/OperatingSystem\";s:11:\"description\";s:98:\"The
  operating system running on the EC2 instance on which the Amazon Inspector Agent
  is installed.\";}}s:8:\"required\";a:1:{i:0;s:7:\"agentId\";}s:4:\"type\";s:6:\"object\";}s:16:\"AgentPreviewList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AgentPreview\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:12:\"AgentVersion\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:39:\"AgentsAlreadyRunningAssessmentException\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"You
  started an assessment run, but one of the instances is already participating in
  another assessment run.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"agents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/AgentAlreadyRunningAssessmentList\";s:11:\"description\";s:4:\"<p/>\";}s:15:\"agentsTruncated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:4:\"<p/>\";}s:8:\"canRetry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:39:\"You
  can immediately retry your request.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:31:\"Details
  of the exception error.\";}}s:8:\"required\";a:4:{i:0;s:7:\"message\";i:1;s:6:\"agents\";i:2;s:15:\"agentsTruncated\";i:3;s:8:\"canRetry\";}s:4:\"type\";s:6:\"object\";}s:5:\"AmiId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:3:\"Arn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"ArnCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:29:\"AssessmentRulesPackageArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:13:\"AssessmentRun\";O:8:\"stdClass\":4:{s:11:\"description\";s:187:\"<p>A
  snapshot of an Amazon Inspector assessment run that contains the findings of the
  assessment run .</p> <p>Used as the response element in the <a>DescribeAssessmentRuns</a>
  action.</p>\";s:10:\"properties\";O:8:\"stdClass\":15:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:30:\"The
  ARN of the assessment run.\";}s:21:\"assessmentTemplateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:78:\"The
  ARN of the assessment template that is associated with the assessment run.\";}s:11:\"completedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:112:\"The
  assessment run completion time that corresponds to the rules packages evaluation
  completion time or failure.\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:51:\"The
  time when <a>StartAssessmentRun</a> was called.\";}s:13:\"dataCollected\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:115:\"A
  Boolean value (true or false) that specifies whether the process of collecting data
  from the agents is completed.\";}s:17:\"durationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AssessmentRunDuration\";s:11:\"description\";s:35:\"The
  duration of the assessment run.\";}s:13:\"findingCounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/AssessmentRunFindingCounts\";s:11:\"description\";s:58:\"Provides
  a total count of generated findings per severity.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AssessmentRunName\";s:11:\"description\";s:47:\"The
  auto-generated name for the assessment run.\";}s:13:\"notifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/AssessmentRunNotificationList\";s:11:\"description\";s:137:\"A
  list of notifications for the event subscriptions. A notification about a particular
  generated finding is added to this list only once.\";}s:16:\"rulesPackageArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/AssessmentRulesPackageArnList\";s:11:\"description\";s:51:\"The
  rules packages selected for the assessment run.\";}s:9:\"startedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:51:\"The
  time when <a>StartAssessmentRun</a> was called.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AssessmentRunState\";s:11:\"description\";s:32:\"The
  state of the assessment run.\";}s:14:\"stateChangedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:54:\"The
  last time when the assessment run's state changed.\";}s:12:\"stateChanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AssessmentRunStateChangeList\";s:11:\"description\";s:43:\"A
  list of the assessment run state changes.\";}s:25:\"userAttributesForFindings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserAttributeList\";s:11:\"description\";s:73:\"The
  user-defined attributes that are assigned to every generated finding.\";}}s:8:\"required\";a:13:{i:0;s:3:\"arn\";i:1;s:4:\"name\";i:2;s:21:\"assessmentTemplateArn\";i:3;s:5:\"state\";i:4;s:17:\"durationInSeconds\";i:5;s:16:\"rulesPackageArns\";i:6;s:25:\"userAttributesForFindings\";i:7;s:9:\"createdAt\";i:8;s:14:\"stateChangedAt\";i:9;s:13:\"dataCollected\";i:10;s:12:\"stateChanges\";i:11;s:13:\"notifications\";i:12;s:13:\"findingCounts\";}s:4:\"type\";s:6:\"object\";}s:18:\"AssessmentRunAgent\";O:8:\"stdClass\":4:{s:11:\"description\";s:144:\"Contains
  information about an Amazon Inspector agent. This data type is used as a response
  element in the <a>ListAssessmentRunAgents</a> action.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"agentHealth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AgentHealth\";s:11:\"description\";s:38:\"The
  current health state of the agent.\";}s:15:\"agentHealthCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AgentHealthCode\";s:11:\"description\";s:39:\"The
  detailed health state of the agent.\";}s:18:\"agentHealthDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:42:\"The
  description for the agent health code.\";}s:7:\"agentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/AgentId\";s:11:\"description\";s:65:\"The
  AWS account of the EC2 instance where the agent is installed.\";}s:16:\"assessmentRunArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:64:\"The
  ARN of the assessment run that is associated with the agent.\";}s:16:\"autoScalingGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AutoScalingGroup\";s:11:\"description\";s:77:\"The
  Auto Scaling group of the EC2 instance that is specified by the agent ID.\";}s:17:\"telemetryMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TelemetryMetadataList\";s:11:\"description\";s:78:\"The
  Amazon Inspector application data metrics that are collected by the agent.\";}}s:8:\"required\";a:5:{i:0;s:7:\"agentId\";i:1;s:16:\"assessmentRunArn\";i:2;s:11:\"agentHealth\";i:3;s:15:\"agentHealthCode\";i:4;s:17:\"telemetryMetadata\";}s:4:\"type\";s:6:\"object\";}s:22:\"AssessmentRunAgentList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AssessmentRunAgent\";}s:8:\"maxItems\";i:500;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:21:\"AssessmentRunDuration\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:86400;s:7:\"minimum\";i:180;s:4:\"type\";s:7:\"integer\";}s:19:\"AssessmentRunFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Used
  as the request parameter in the <a>ListAssessmentRuns</a> action.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"completionTimeRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TimestampRange\";s:11:\"description\";s:243:\"For
  a record to match a filter, the value that is specified for this data type property
  must inclusively match any value between the specified minimum and maximum values
  of the <b>completedAt</b> property of the <a>AssessmentRun</a> data type.\";}s:13:\"durationRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DurationRange\";s:11:\"description\";s:249:\"For
  a record to match a filter, the value that is specified for this data type property
  must inclusively match any value between the specified minimum and maximum values
  of the <b>durationInSeconds</b> property of the <a>AssessmentRun</a> data type.\";}s:11:\"namePattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/NamePattern\";s:11:\"description\";s:230:\"For
  a record to match a filter, an explicit value or a string containing a wildcard
  that is specified for this data type property must match the value of the <b>assessmentRunName</b>
  property of the <a>AssessmentRun</a> data type.\";}s:16:\"rulesPackageArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/FilterRulesPackageArnList\";s:11:\"description\";s:203:\"For
  a record to match a filter, the value that is specified for this data type property
  must be contained in the list of values of the <b>rulesPackages</b> property of
  the <a>AssessmentRun</a> data type.\";}s:14:\"startTimeRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TimestampRange\";s:11:\"description\";s:241:\"For
  a record to match a filter, the value that is specified for this data type property
  must inclusively match any value between the specified minimum and maximum values
  of the <b>startTime</b> property of the <a>AssessmentRun</a> data type.\";}s:20:\"stateChangeTimeRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TimestampRange\";s:11:\"description\";s:172:\"For
  a record to match a filter, the value that is specified for this data type property
  must match the <b>stateChangedAt</b> property of the <a>AssessmentRun</a> data type.\";}s:6:\"states\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AssessmentRunStateList\";s:11:\"description\";s:205:\"For
  a record to match a filter, one of the values specified for this data type property
  must be the exact match of the value of the <b>assessmentRunState</b> property of
  the <a>AssessmentRun</a> data type.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"AssessmentRunFindingCounts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Severity\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FindingCount\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:30:\"AssessmentRunInProgressArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:32:\"AssessmentRunInProgressException\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"You
  cannot perform a specified action if an assessment run is currently in progress.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"assessmentRunArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/AssessmentRunInProgressArnList\";s:11:\"description\";s:63:\"The
  ARNs of the assessment runs that are currently in progress.\";}s:26:\"assessmentRunArnsTruncated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:86:\"Boolean
  value that indicates whether the ARN list of the assessment runs is truncated.\";}s:8:\"canRetry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:39:\"You
  can immediately retry your request.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:31:\"Details
  of the exception error.\";}}s:8:\"required\";a:4:{i:0;s:7:\"message\";i:1;s:17:\"assessmentRunArns\";i:2;s:26:\"assessmentRunArnsTruncated\";i:3;s:8:\"canRetry\";}s:4:\"type\";s:6:\"object\";}s:17:\"AssessmentRunList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AssessmentRun\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:17:\"AssessmentRunName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:140;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:25:\"AssessmentRunNotification\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Used
  as one of the elements of the <a>AssessmentRun</a> data type.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:29:\"The
  date of the notification.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:78:\"The
  Boolean value that specifies whether the notification represents an error.\";}s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InspectorEvent\";s:11:\"description\";s:43:\"The
  event for which a notification is sent.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:41:\"The
  message included in the notification.\";}s:20:\"snsPublishStatusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/AssessmentRunNotificationSnsStatusCode\";s:11:\"description\";s:40:\"The
  status code of the SNS notification.\";}s:11:\"snsTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:52:\"The
  SNS topic to which the SNS notification is sent.\";}}s:8:\"required\";a:3:{i:0;s:4:\"date\";i:1;s:5:\"event\";i:2;s:5:\"error\";}s:4:\"type\";s:6:\"object\";}s:29:\"AssessmentRunNotificationList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AssessmentRunNotification\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:38:\"AssessmentRunNotificationSnsStatusCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"SUCCESS\";i:1;s:20:\"TOPIC_DOES_NOT_EXIST\";i:2;s:13:\"ACCESS_DENIED\";i:3;s:14:\"INTERNAL_ERROR\";}s:4:\"type\";s:6:\"string\";}s:18:\"AssessmentRunState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:13:{i:0;s:7:\"CREATED\";i:1;s:29:\"START_DATA_COLLECTION_PENDING\";i:2;s:33:\"START_DATA_COLLECTION_IN_PROGRESS\";i:3;s:15:\"COLLECTING_DATA\";i:4;s:28:\"STOP_DATA_COLLECTION_PENDING\";i:5;s:14:\"DATA_COLLECTED\";i:6;s:30:\"START_EVALUATING_RULES_PENDING\";i:7;s:16:\"EVALUATING_RULES\";i:8;s:6:\"FAILED\";i:9;s:5:\"ERROR\";i:10;s:9:\"COMPLETED\";i:11;s:21:\"COMPLETED_WITH_ERRORS\";i:12;s:8:\"CANCELED\";}s:4:\"type\";s:6:\"string\";}s:24:\"AssessmentRunStateChange\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Used
  as one of the elements of the <a>AssessmentRun</a> data type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AssessmentRunState\";s:11:\"description\";s:25:\"The
  assessment run state.\";}s:14:\"stateChangedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:47:\"The
  last time the assessment run state changed.\";}}s:8:\"required\";a:2:{i:0;s:14:\"stateChangedAt\";i:1;s:5:\"state\";}s:4:\"type\";s:6:\"object\";}s:28:\"AssessmentRunStateChangeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AssessmentRunStateChange\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:22:\"AssessmentRunStateList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AssessmentRunState\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:16:\"AssessmentTarget\";O:8:\"stdClass\":4:{s:11:\"description\";s:154:\"Contains
  information about an Amazon Inspector application. This data type is used as the
  response element in the <a>DescribeAssessmentTargets</a> action.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:62:\"The
  ARN that specifies the Amazon Inspector assessment target.\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:51:\"The
  time at which the assessment target is created.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AssessmentTargetName\";s:11:\"description\";s:51:\"The
  name of the Amazon Inspector assessment target.\";}s:16:\"resourceGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:88:\"The
  ARN that specifies the resource group that is associated with the assessment target.\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:58:\"The
  time at which <a>UpdateAssessmentTarget</a> is called.\";}}s:8:\"required\";a:4:{i:0;s:3:\"arn\";i:1;s:4:\"name\";i:2;s:9:\"createdAt\";i:3;s:9:\"updatedAt\";}s:4:\"type\";s:6:\"object\";}s:22:\"AssessmentTargetFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Used
  as the request parameter in the <a>ListAssessmentTargets</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:27:\"assessmentTargetNamePattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/NamePattern\";s:11:\"description\";s:239:\"For
  a record to match a filter, an explicit value or a string that contains a wildcard
  that is specified for this data type property must match the value of the <b>assessmentTargetName</b>
  property of the <a>AssessmentTarget</a> data type.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AssessmentTargetList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AssessmentTarget\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:20:\"AssessmentTargetName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:140;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"AssessmentTemplate\";O:8:\"stdClass\":4:{s:11:\"description\";s:164:\"Contains
  information about an Amazon Inspector assessment template. This data type is used
  as the response element in the <a>DescribeAssessmentTemplates</a> action.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:35:\"The
  ARN of the assessment template.\";}s:18:\"assessmentRunCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ArnCount\";s:11:\"description\";s:126:\"The
  number of existing assessment runs associated with this assessment template. This
  value can be zero or a positive integer.\";}s:19:\"assessmentTargetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:78:\"The
  ARN of the assessment target that corresponds to this assessment template.\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:53:\"The
  time at which the assessment template is created.\";}s:17:\"durationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AssessmentRunDuration\";s:11:\"description\";s:154:\"The
  duration in seconds specified for this assessment tempate. The default value is
  3600 seconds (one hour). The maximum value is 86400 seconds (one day).\";}s:20:\"lastAssessmentRunArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:188:\"The
  Amazon Resource Name (ARN) of the most recent assessment run associated with this
  assessment template. This value exists only when the value of assessmentRunCount
  is greater than zero.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AssessmentTemplateName\";s:11:\"description\";s:36:\"The
  name of the assessment template.\";}s:16:\"rulesPackageArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/AssessmentTemplateRulesPackageArnList\";s:11:\"description\";s:67:\"The
  rules packages that are specified for this assessment template.\";}s:25:\"userAttributesForFindings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserAttributeList\";s:11:\"description\";s:132:\"The
  user-defined attributes that are assigned to every generated finding from the assessment
  run that uses this assessment template.\";}}s:8:\"required\";a:8:{i:0;s:3:\"arn\";i:1;s:4:\"name\";i:2;s:19:\"assessmentTargetArn\";i:3;s:17:\"durationInSeconds\";i:4;s:16:\"rulesPackageArns\";i:5;s:25:\"userAttributesForFindings\";i:6;s:18:\"assessmentRunCount\";i:7;s:9:\"createdAt\";}s:4:\"type\";s:6:\"object\";}s:24:\"AssessmentTemplateFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Used
  as the request parameter in the <a>ListAssessmentTemplates</a> action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"durationRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DurationRange\";s:11:\"description\";s:246:\"For
  a record to match a filter, the value specified for this data type property must
  inclusively match any value between the specified minimum and maximum values of
  the <b>durationInSeconds</b> property of the <a>AssessmentTemplate</a> data type.\";}s:11:\"namePattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/NamePattern\";s:11:\"description\";s:243:\"For
  a record to match a filter, an explicit value or a string that contains a wildcard
  that is specified for this data type property must match the value of the <b>assessmentTemplateName</b>
  property of the <a>AssessmentTemplate</a> data type.\";}s:16:\"rulesPackageArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/FilterRulesPackageArnList\";s:11:\"description\";s:213:\"For
  a record to match a filter, the values that are specified for this data type property
  must be contained in the list of values of the <b>rulesPackageArns</b> property
  of the <a>AssessmentTemplate</a> data type.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AssessmentTemplateList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AssessmentTemplate\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:22:\"AssessmentTemplateName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:140;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:37:\"AssessmentTemplateRulesPackageArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:15:\"AssetAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  collection of attributes of the host from which the finding is generated.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"agentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/AgentId\";s:11:\"description\";s:89:\"The
  ID of the agent that is installed on the EC2 instance where the finding is generated.\";}s:5:\"amiId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/AmiId\";s:11:\"description\";s:110:\"The
  ID of the Amazon Machine Image (AMI) that is installed on the EC2 instance where
  the finding is generated.\";}s:16:\"autoScalingGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AutoScalingGroup\";s:11:\"description\";s:74:\"The
  Auto Scaling group of the EC2 instance where the finding is generated.\";}s:8:\"hostname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Hostname\";s:11:\"description\";s:64:\"The
  hostname of the EC2 instance where the finding is generated.\";}s:13:\"ipv4Addresses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/Ipv4AddressList\";s:11:\"description\";s:79:\"The
  list of IP v4 addresses of the EC2 instance where the finding is generated.\";}s:13:\"schemaVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NumericVersion\";s:11:\"description\";s:37:\"The
  schema version of this data type.\";}}s:8:\"required\";a:1:{i:0;s:13:\"schemaVersion\";}s:4:\"type\";s:6:\"object\";}s:9:\"AssetType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:12:\"ec2-instance\";}s:4:\"type\";s:6:\"string\";}s:9:\"Attribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:128:\"This
  data type is used as a request parameter in the <a>AddAttributesToFindings</a> and
  <a>CreateAssessmentTemplate</a> actions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AttributeKey\";s:11:\"description\";s:18:\"The
  attribute key.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";s:11:\"description\";s:40:\"The
  value assigned to the attribute key.\";}}s:8:\"required\";a:1:{i:0;s:3:\"key\";}s:4:\"type\";s:6:\"object\";}s:12:\"AttributeKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"AttributeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Attribute\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:14:\"AttributeValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"AutoScalingGroup\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:20:\"AutoScalingGroupList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AutoScalingGroup\";}s:8:\"maxItems\";i:20;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:20:\"BatchDescribeArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:4:\"Bool\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:29:\"CreateAssessmentTargetRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"assessmentTargetName\";s:23:\"ExampleAssessmentTarget\";s:16:\"resourceGroupArn\";s:65:\"arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-AB6DMKnv\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"assessmentTargetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AssessmentTargetName\";s:11:\"description\";s:132:\"The
  user-defined name that identifies the assessment target that you want to create.
  The name must be unique within the AWS account.\";}s:16:\"resourceGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:87:\"The
  ARN that specifies the resource group that is used to create the assessment target.\";}}s:8:\"required\";a:1:{i:0;s:20:\"assessmentTargetName\";}s:4:\"type\";s:6:\"object\";}s:30:\"CreateAssessmentTargetResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:19:\"assessmentTargetArn\";s:58:\"arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"assessmentTargetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:61:\"The
  ARN that specifies the assessment target that is created.\";}}s:8:\"required\";a:1:{i:0;s:19:\"assessmentTargetArn\";}s:4:\"type\";s:6:\"object\";}s:31:\"CreateAssessmentTemplateRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:19:\"assessmentTargetArn\";s:58:\"arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX\";s:22:\"assessmentTemplateName\";s:25:\"ExampleAssessmentTemplate\";s:17:\"durationInSeconds\";i:180;s:16:\"rulesPackageArns\";a:1:{i:0;s:64:\"arn:aws:inspector:us-west-2:758058086616:rulespackage/0-11B9DBXp\";}s:25:\"userAttributesForFindings\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"key\";s:7:\"Example\";s:5:\"value\";s:7:\"example\";}}}s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"assessmentTargetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:98:\"The
  ARN that specifies the assessment target for which you want to create the assessment
  template.\";}s:22:\"assessmentTemplateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AssessmentTemplateName\";s:11:\"description\";s:260:\"The
  user-defined name that identifies the assessment template that you want to create.
  You can create several assessment templates for an assessment target. The names
  of the assessment templates that correspond to a particular assessment target must
  be unique.\";}s:17:\"durationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AssessmentRunDuration\";s:11:\"description\";s:92:\"The
  duration of the assessment run in seconds. The default value is 3600 seconds (one
  hour).\";}s:16:\"rulesPackageArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/AssessmentTemplateRulesPackageArnList\";s:11:\"description\";s:92:\"The
  ARNs that specify the rules packages that you want to attach to the assessment template.\";}s:25:\"userAttributesForFindings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserAttributeList\";s:11:\"description\";s:261:\"The
  user-defined attributes that are assigned to every finding that is generated by
  the assessment run that uses this assessment template. An attribute is a key and
  value pair (an <a>Attribute</a> object). Within an assessment template, each key
  must be unique.\";}}s:8:\"required\";a:4:{i:0;s:19:\"assessmentTargetArn\";i:1;s:22:\"assessmentTemplateName\";i:2;s:17:\"durationInSeconds\";i:3;s:16:\"rulesPackageArns\";}s:4:\"type\";s:6:\"object\";}s:32:\"CreateAssessmentTemplateResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:21:\"assessmentTemplateArn\";s:78:\"arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"assessmentTemplateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:63:\"The
  ARN that specifies the assessment template that is created.\";}}s:8:\"required\";a:1:{i:0;s:21:\"assessmentTemplateArn\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateResourceGroupRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:17:\"resourceGroupTags\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"key\";s:4:\"Name\";s:5:\"value\";s:7:\"example\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"resourceGroupTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceGroupTags\";s:11:\"description\";s:212:\"<p>A
  collection of keys and an array of possible values, '[{\"key\":\"key1\",\"values\":[\"Value1\",\"Value2\"]},{\"key\":\"Key2\",\"values\":[\"Value3\"]}]'.</p>
  <p>For example,'[{\"key\":\"Name\",\"values\":[\"TestEC2Instance\"]}]'.</p>\";}}s:8:\"required\";a:1:{i:0;s:17:\"resourceGroupTags\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateResourceGroupResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"resourceGroupArn\";s:65:\"arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-AB6DMKnv\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"resourceGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:58:\"The
  ARN that specifies the resource group that is created.\";}}s:8:\"required\";a:1:{i:0;s:16:\"resourceGroupArn\";}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteAssessmentRunRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"assessmentRunArn\";s:93:\"arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T/run/0-11LMTAVe\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"assessmentRunArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:66:\"The
  ARN that specifies the assessment run that you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:16:\"assessmentRunArn\";}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteAssessmentTargetRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:19:\"assessmentTargetArn\";s:58:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"assessmentTargetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:69:\"The
  ARN that specifies the assessment target that you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:19:\"assessmentTargetArn\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteAssessmentTemplateRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:21:\"assessmentTemplateArn\";s:78:\"arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"assessmentTemplateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:71:\"The
  ARN that specifies the assessment template that you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:21:\"assessmentTemplateArn\";}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeAssessmentRunsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:17:\"assessmentRunArns\";a:1:{i:0;s:93:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"assessmentRunArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BatchDescribeArnList\";s:11:\"description\";s:68:\"The
  ARN that specifies the assessment run that you want to describe.\";}}s:8:\"required\";a:1:{i:0;s:17:\"assessmentRunArns\";}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeAssessmentRunsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:14:\"assessmentRuns\";a:1:{i:0;O:8:\"stdClass\":15:{s:3:\"arn\";s:93:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE\";s:21:\"assessmentTemplateArn\";s:78:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw\";s:11:\"completedAt\";s:12:\"1458680301.4\";s:9:\"createdAt\";s:14:\"1458680170.035\";s:13:\"dataCollected\";b:1;s:17:\"durationInSeconds\";i:3600;s:13:\"findingCounts\";O:8:\"stdClass\":5:{s:4:\"High\";i:14;s:13:\"Informational\";i:0;s:3:\"Low\";i:0;s:6:\"Medium\";i:2;s:9:\"Undefined\";i:0;}s:4:\"name\";s:35:\"Run
  1 for ExampleAssessmentTemplate\";s:13:\"notifications\";a:0:{}s:16:\"rulesPackageArns\";a:1:{i:0;s:64:\"arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP\";}s:9:\"startedAt\";s:14:\"1458680170.161\";s:5:\"state\";s:9:\"COMPLETED\";s:14:\"stateChangedAt\";s:12:\"1458680301.4\";s:12:\"stateChanges\";a:8:{i:0;O:8:\"stdClass\":2:{s:5:\"state\";s:7:\"CREATED\";s:14:\"stateChangedAt\";s:14:\"1458680170.035\";}i:1;O:8:\"stdClass\":2:{s:5:\"state\";s:29:\"START_DATA_COLLECTION_PENDING\";s:14:\"stateChangedAt\";s:14:\"1458680170.065\";}i:2;O:8:\"stdClass\":2:{s:5:\"state\";s:33:\"START_DATA_COLLECTION_IN_PROGRESS\";s:14:\"stateChangedAt\";s:14:\"1458680170.096\";}i:3;O:8:\"stdClass\":2:{s:5:\"state\";s:15:\"COLLECTING_DATA\";s:14:\"stateChangedAt\";s:14:\"1458680170.161\";}i:4;O:8:\"stdClass\":2:{s:5:\"state\";s:28:\"STOP_DATA_COLLECTION_PENDING\";s:14:\"stateChangedAt\";s:14:\"1458680239.883\";}i:5;O:8:\"stdClass\":2:{s:5:\"state\";s:14:\"DATA_COLLECTED\";s:14:\"stateChangedAt\";s:14:\"1458680299.847\";}i:6;O:8:\"stdClass\":2:{s:5:\"state\";s:16:\"EVALUATING_RULES\";s:14:\"stateChangedAt\";s:14:\"1458680300.099\";}i:7;O:8:\"stdClass\":2:{s:5:\"state\";s:9:\"COMPLETED\";s:14:\"stateChangedAt\";s:12:\"1458680301.4\";}}s:25:\"userAttributesForFindings\";a:0:{}}}s:11:\"failedItems\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"assessmentRuns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AssessmentRunList\";s:11:\"description\";s:37:\"Information
  about the assessment run.\";}s:11:\"failedItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FailedItems\";s:11:\"description\";s:96:\"Assessment
  run details that cannot be described. An error code is provided for each failed
  item.\";}}s:8:\"required\";a:2:{i:0;s:14:\"assessmentRuns\";i:1;s:11:\"failedItems\";}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeAssessmentTargetsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"assessmentTargetArns\";a:1:{i:0;s:58:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"assessmentTargetArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BatchDescribeArnList\";s:11:\"description\";s:73:\"The
  ARNs that specifies the assessment targets that you want to describe.\";}}s:8:\"required\";a:1:{i:0;s:20:\"assessmentTargetArns\";}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeAssessmentTargetsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:17:\"assessmentTargets\";a:1:{i:0;O:8:\"stdClass\":5:{s:3:\"arn\";s:58:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq\";s:9:\"createdAt\";s:14:\"1458074191.459\";s:4:\"name\";s:23:\"ExampleAssessmentTarget\";s:16:\"resourceGroupArn\";s:65:\"arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-PyGXopAI\";s:9:\"updatedAt\";s:14:\"1458074191.459\";}}s:11:\"failedItems\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"assessmentTargets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AssessmentTargetList\";s:11:\"description\";s:41:\"Information
  about the assessment targets.\";}s:11:\"failedItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FailedItems\";s:11:\"description\";s:99:\"Assessment
  target details that cannot be described. An error code is provided for each failed
  item.\";}}s:8:\"required\";a:2:{i:0;s:17:\"assessmentTargets\";i:1;s:11:\"failedItems\";}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeAssessmentTemplatesRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:22:\"assessmentTemplateArns\";a:1:{i:0;s:78:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"assessmentTemplateArns\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BatchDescribeArnList\";}}s:8:\"required\";a:1:{i:0;s:22:\"assessmentTemplateArns\";}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeAssessmentTemplatesResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:19:\"assessmentTemplates\";a:1:{i:0;O:8:\"stdClass\":8:{s:3:\"arn\";s:78:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw\";s:18:\"assessmentRunCount\";i:0;s:19:\"assessmentTargetArn\";s:58:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq\";s:9:\"createdAt\";s:14:\"1458074191.844\";s:17:\"durationInSeconds\";i:3600;s:4:\"name\";s:25:\"ExampleAssessmentTemplate\";s:16:\"rulesPackageArns\";a:1:{i:0;s:64:\"arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP\";}s:25:\"userAttributesForFindings\";a:0:{}}}s:11:\"failedItems\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"assessmentTemplates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AssessmentTemplateList\";s:11:\"description\";s:43:\"Information
  about the assessment templates.\";}s:11:\"failedItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FailedItems\";s:11:\"description\";s:101:\"Assessment
  template details that cannot be described. An error code is provided for each failed
  item.\";}}s:8:\"required\";a:2:{i:0;s:19:\"assessmentTemplates\";i:1;s:11:\"failedItems\";}s:4:\"type\";s:6:\"object\";}s:38:\"DescribeCrossAccountAccessRoleResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:12:\"registeredAt\";s:14:\"1458069182.826\";s:7:\"roleArn\";s:40:\"arn:aws:iam::123456789012:role/inspector\";s:5:\"valid\";b:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"registeredAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:59:\"The
  date when the cross-account access role was registered.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:90:\"The
  ARN that specifies the IAM role that Amazon Inspector uses to access your AWS account.\";}s:5:\"valid\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:142:\"A
  Boolean value that specifies whether the IAM role has the necessary policies attached
  to enable Amazon Inspector to access your AWS account.\";}}s:8:\"required\";a:3:{i:0;s:7:\"roleArn\";i:1;s:5:\"valid\";i:2;s:12:\"registeredAt\";}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeFindingsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"findingArns\";a:1:{i:0;s:112:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE/finding/0-HwPnsDm4\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"findingArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BatchDescribeArnList\";s:11:\"description\";s:61:\"The
  ARN that specifies the finding that you want to describe.\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Locale\";s:11:\"description\";s:137:\"The
  locale into which you want to translate a finding description, recommendation, and
  the short description that identifies the finding.\";}}s:8:\"required\";a:1:{i:0;s:11:\"findingArns\";}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeFindingsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"failedItems\";O:8:\"stdClass\":0:{}s:8:\"findings\";a:1:{i:0;O:8:\"stdClass\":17:{s:3:\"arn\";s:112:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE/finding/0-HwPnsDm4\";s:15:\"assetAttributes\";O:8:\"stdClass\":2:{s:13:\"ipv4Addresses\";a:0:{}s:13:\"schemaVersion\";i:1;}s:9:\"assetType\";s:12:\"ec2-instance\";s:10:\"attributes\";a:0:{}s:10:\"confidence\";i:10;s:9:\"createdAt\";s:13:\"1458680301.37\";s:11:\"description\";s:83:\"Amazon
  Inspector did not find any potential security issues during this assessment.\";s:21:\"indicatorOfCompromise\";b:0;s:15:\"numericSeverity\";i:0;s:14:\"recommendation\";s:22:\"No
  remediation needed.\";s:13:\"schemaVersion\";i:1;s:7:\"service\";s:9:\"Inspector\";s:17:\"serviceAttributes\";O:8:\"stdClass\":3:{s:16:\"assessmentRunArn\";s:93:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE\";s:15:\"rulesPackageArn\";s:64:\"arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP\";s:13:\"schemaVersion\";i:1;}s:8:\"severity\";s:13:\"Informational\";s:5:\"title\";s:34:\"No
  potential security issues found\";s:9:\"updatedAt\";s:13:\"1458680301.37\";s:14:\"userAttributes\";a:0:{}}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"failedItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FailedItems\";s:11:\"description\";s:89:\"Finding
  details that cannot be described. An error code is provided for each failed item.\";}s:8:\"findings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FindingList\";s:11:\"description\";s:30:\"Information
  about the finding.\";}}s:8:\"required\";a:2:{i:0;s:8:\"findings\";i:1;s:11:\"failedItems\";}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeResourceGroupsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:17:\"resourceGroupArns\";a:1:{i:0;s:65:\"arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-PyGXopAI\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"resourceGroupArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BatchDescribeArnList\";s:11:\"description\";s:68:\"The
  ARN that specifies the resource group that you want to describe.\";}}s:8:\"required\";a:1:{i:0;s:17:\"resourceGroupArns\";}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeResourceGroupsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"failedItems\";O:8:\"stdClass\":0:{}s:14:\"resourceGroups\";a:1:{i:0;O:8:\"stdClass\":3:{s:3:\"arn\";s:65:\"arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-PyGXopAI\";s:9:\"createdAt\";s:14:\"1458074191.098\";s:4:\"tags\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"key\";s:4:\"Name\";s:5:\"value\";s:7:\"example\";}}}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"failedItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FailedItems\";s:11:\"description\";s:96:\"Resource
  group details that cannot be described. An error code is provided for each failed
  item.\";}s:14:\"resourceGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceGroupList\";s:11:\"description\";s:35:\"Information
  about a resource group.\";}}s:8:\"required\";a:2:{i:0;s:14:\"resourceGroups\";i:1;s:11:\"failedItems\";}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeRulesPackagesRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"rulesPackageArns\";a:1:{i:0;s:64:\"arn:aws:inspector:us-west-2:758058086616:rulespackage/0-JJOtZiqQ\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Locale\";s:11:\"description\";s:71:\"The
  locale that you want to translate a rules package description into.\";}s:16:\"rulesPackageArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BatchDescribeArnList\";s:11:\"description\";s:67:\"The
  ARN that specifies the rules package that you want to describe.\";}}s:8:\"required\";a:1:{i:0;s:16:\"rulesPackageArns\";}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeRulesPackagesResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"failedItems\";O:8:\"stdClass\":0:{}s:13:\"rulesPackages\";a:1:{i:0;O:8:\"stdClass\":5:{s:3:\"arn\";s:64:\"arn:aws:inspector:us-west-2:758058086616:rulespackage/0-JJOtZiqQ\";s:11:\"description\";s:86:\"The
  rules in this package help determine whether your systems are configured securely.\";s:4:\"name\";s:23:\"Security
  Best Practices\";s:8:\"provider\";s:25:\"Amazon Web Services, Inc.\";s:7:\"version\";s:3:\"1.1\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"failedItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FailedItems\";s:11:\"description\";s:95:\"Rules
  package details that cannot be described. An error code is provided for each failed
  item.\";}s:13:\"rulesPackages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RulesPackageList\";s:11:\"description\";s:36:\"Information
  about the rules package.\";}}s:8:\"required\";a:2:{i:0;s:13:\"rulesPackages\";i:1;s:11:\"failedItems\";}s:4:\"type\";s:6:\"object\";}s:13:\"DurationRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"This
  data type is used in the <a>AssessmentTemplateFilter</a> data type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AssessmentRunDuration\";s:11:\"description\";s:95:\"The
  maximum value of the duration range. Must be less than or equal to 604800 seconds
  (1 week).\";}s:10:\"minSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AssessmentRunDuration\";s:11:\"description\";s:67:\"The
  minimum value of the duration range. Must be greater than zero.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:17:\"EventSubscription\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"This
  data type is used in the <a>Subscription</a> data type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InspectorEvent\";s:11:\"description\";s:84:\"The
  event for which Amazon Simple Notification Service (SNS) notifications are sent.\";}s:12:\"subscribedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:52:\"The
  time at which <a>SubscribeToEvent</a> is called.\";}}s:8:\"required\";a:2:{i:0;s:5:\"event\";i:1;s:12:\"subscribedAt\";}s:4:\"type\";s:6:\"object\";}s:21:\"EventSubscriptionList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EventSubscription\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:17:\"FailedItemDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Includes
  details about the failed items.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"failureCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/FailedItemErrorCode\";s:11:\"description\";s:33:\"The
  status code of a failed item.\";}s:9:\"retryable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:93:\"Indicates
  whether you can immediately retry a request for this item for a specified resource.\";}}s:8:\"required\";a:2:{i:0;s:11:\"failureCode\";i:1;s:9:\"retryable\";}s:4:\"type\";s:6:\"object\";}s:19:\"FailedItemErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:11:\"INVALID_ARN\";i:1;s:13:\"DUPLICATE_ARN\";i:2;s:19:\"ITEM_DOES_NOT_EXIST\";i:3;s:13:\"ACCESS_DENIED\";i:4;s:14:\"LIMIT_EXCEEDED\";i:5;s:14:\"INTERNAL_ERROR\";}s:4:\"type\";s:6:\"string\";}s:11:\"FailedItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FailedItemDetails\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:25:\"FilterRulesPackageArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:7:\"Finding\";O:8:\"stdClass\":4:{s:11:\"description\";s:141:\"Contains
  information about an Amazon Inspector finding. This data type is used as the response
  element in the <a>DescribeFindings</a> action.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:35:\"The
  ARN that specifies the finding.\";}s:15:\"assetAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AssetAttributes\";s:11:\"description\";s:75:\"A
  collection of attributes of the host from which the finding is generated.\";}s:9:\"assetType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AssetType\";s:11:\"description\";s:57:\"The
  type of the host from which the finding is generated.\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";s:11:\"description\";s:46:\"The
  system-defined attributes for the finding.\";}s:10:\"confidence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/IocConfidence\";s:11:\"description\";s:40:\"This
  data element is currently not used.\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:40:\"The
  time when the finding was generated.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Text\";s:11:\"description\";s:31:\"The
  description of the finding.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FindingId\";s:11:\"description\";s:22:\"The
  ID of the finding.\";}s:21:\"indicatorOfCompromise\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:40:\"This
  data element is currently not used.\";}s:15:\"numericSeverity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NumericSeverity\";s:11:\"description\";s:42:\"The
  numeric value of the finding severity.\";}s:14:\"recommendation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Text\";s:11:\"description\";s:35:\"The
  recommendation for the finding.\";}s:13:\"schemaVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NumericVersion\";s:11:\"description\";s:37:\"The
  schema version of this data type.\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceName\";s:11:\"description\";s:39:\"The
  data element is set to \"Inspector\".\";}s:17:\"serviceAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/InspectorServiceAttributes\";s:11:\"description\";s:55:\"This
  data type is used in the <a>Finding</a> data type.\";}s:8:\"severity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Severity\";s:11:\"description\";s:80:\"The
  finding severity. Values can be set to High, Medium, Low, and Informational.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Text\";s:11:\"description\";s:24:\"The
  name of the finding.\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:55:\"The
  time when <a>AddAttributesToFindings</a> is called.\";}s:14:\"userAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserAttributeList\";s:11:\"description\";s:61:\"The
  user-defined attributes that are assigned to the finding.\";}}s:8:\"required\";a:5:{i:0;s:3:\"arn\";i:1;s:10:\"attributes\";i:2;s:14:\"userAttributes\";i:3;s:9:\"createdAt\";i:4;s:9:\"updatedAt\";}s:4:\"type\";s:6:\"object\";}s:12:\"FindingCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"FindingFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"This
  data type is used as a request parameter in the <a>ListFindings</a> action.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"agentIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AgentIdList\";s:11:\"description\";s:196:\"For
  a record to match a filter, one of the values that is specified for this data type
  property must be the exact match of the value of the <b>agentId</b> property of
  the <a>Finding</a> data type.\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";s:11:\"description\";s:204:\"For
  a record to match a filter, the list of values that are specified for this data
  type property must be contained in the list of values of the <b>attributes</b> property
  of the <a>Finding</a> data type.\";}s:17:\"autoScalingGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AutoScalingGroupList\";s:11:\"description\";s:205:\"For
  a record to match a filter, one of the values that is specified for this data type
  property must be the exact match of the value of the <b>autoScalingGroup</b> property
  of the <a>Finding</a> data type.\";}s:17:\"creationTimeRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TimestampRange\";s:11:\"description\";s:53:\"The
  time range during which the finding is generated.\";}s:9:\"ruleNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RuleNameList\";s:11:\"description\";s:197:\"For
  a record to match a filter, one of the values that is specified for this data type
  property must be the exact match of the value of the <b>ruleName</b> property of
  the <a>Finding</a> data type.\";}s:16:\"rulesPackageArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/FilterRulesPackageArnList\";s:11:\"description\";s:204:\"For
  a record to match a filter, one of the values that is specified for this data type
  property must be the exact match of the value of the <b>rulesPackageArn</b> property
  of the <a>Finding</a> data type.\";}s:10:\"severities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SeverityList\";s:11:\"description\";s:197:\"For
  a record to match a filter, one of the values that is specified for this data type
  property must be the exact match of the value of the <b>severity</b> property of
  the <a>Finding</a> data type.\";}s:14:\"userAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";s:11:\"description\";s:198:\"For
  a record to match a filter, the value that is specified for this data type property
  must be contained in the list of values of the <b>userAttributes</b> property of
  the <a>Finding</a> data type.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"FindingId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:11:\"FindingList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Finding\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:26:\"GetAssessmentReportRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"assessmentRunArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:82:\"The
  ARN that specifies the assessment run for which you want to generate a report.\";}s:16:\"reportFileFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ReportFileFormat\";s:11:\"description\";s:91:\"Specifies
  the file format (html or pdf) of the assessment report that you want to generate.\";}s:10:\"reportType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ReportType\";s:11:\"description\";s:287:\"Specifies
  the type of the assessment report that you want to generate. There are two types
  of assessment reports: a finding report and a full report. For more information,
  see <a href=\"http://docs.aws.amazon.com/inspector/latest/userguide/inspector_reports.html\">Assessment
  Reports</a>. \";}}s:8:\"required\";a:3:{i:0;s:16:\"assessmentRunArn\";i:1;s:16:\"reportFileFormat\";i:2;s:10:\"reportType\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetAssessmentReportResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReportStatus\";s:11:\"description\";s:70:\"Specifies
  the status of the request to generate an assessment report. \";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Url\";s:11:\"description\";s:142:\"Specifies
  the URL where you can find the generated assessment report. This parameter is only
  returned if the report is successfully generated.\";}}s:8:\"required\";a:1:{i:0;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetTelemetryMetadataRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"assessmentRunArn\";s:93:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"assessmentRunArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:94:\"The
  ARN that specifies the assessment run that has the telemetry data that you want
  to obtain.\";}}s:8:\"required\";a:1:{i:0;s:16:\"assessmentRunArn\";}s:4:\"type\";s:6:\"object\";}s:28:\"GetTelemetryMetadataResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:17:\"telemetryMetadata\";a:29:{i:0;O:8:\"stdClass\":3:{s:5:\"count\";i:2;s:8:\"dataSize\";i:345;s:11:\"messageType\";s:25:\"InspectorDuplicateProcess\";}i:1;O:8:\"stdClass\":3:{s:5:\"count\";i:3;s:8:\"dataSize\";i:255;s:11:\"messageType\";s:21:\"InspectorTimeEventMsg\";}i:2;O:8:\"stdClass\":3:{s:5:\"count\";i:4;s:8:\"dataSize\";i:1082;s:11:\"messageType\";s:25:\"InspectorNetworkInterface\";}i:3;O:8:\"stdClass\":3:{s:5:\"count\";i:2;s:8:\"dataSize\";i:349;s:11:\"messageType\";s:17:\"InspectorDnsEntry\";}i:4;O:8:\"stdClass\":3:{s:5:\"count\";i:11;s:8:\"dataSize\";i:2514;s:11:\"messageType\";s:25:\"InspectorDirectoryInfoMsg\";}i:5;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:179;s:11:\"messageType\";s:27:\"InspectorTcpV6ListeningPort\";}i:6;O:8:\"stdClass\":3:{s:5:\"count\";i:101;s:8:\"dataSize\";i:10949;s:11:\"messageType\";s:17:\"InspectorTerminal\";}i:7;O:8:\"stdClass\":3:{s:5:\"count\";i:26;s:8:\"dataSize\";i:5916;s:11:\"messageType\";s:13:\"InspectorUser\";}i:8;O:8:\"stdClass\":3:{s:5:\"count\";i:282;s:8:\"dataSize\";i:32148;s:11:\"messageType\";s:36:\"InspectorDynamicallyLoadedCodeModule\";}i:9;O:8:\"stdClass\":3:{s:5:\"count\";i:18;s:8:\"dataSize\";i:10172;s:11:\"messageType\";s:22:\"InspectorCreateProcess\";}i:10;O:8:\"stdClass\":3:{s:5:\"count\";i:3;s:8:\"dataSize\";i:8001;s:11:\"messageType\";s:27:\"InspectorProcessPerformance\";}i:11;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:360;s:11:\"messageType\";s:24:\"InspectorOperatingSystem\";}i:12;O:8:\"stdClass\":3:{s:5:\"count\";i:6;s:8:\"dataSize\";i:546;s:11:\"messageType\";s:20:\"InspectorStopProcess\";}i:13;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:1553;s:11:\"messageType\";s:25:\"InspectorInstanceMetaData\";}i:14;O:8:\"stdClass\":3:{s:5:\"count\";i:2;s:8:\"dataSize\";i:434;s:11:\"messageType\";s:24:\"InspectorTcpV4Connection\";}i:15;O:8:\"stdClass\":3:{s:5:\"count\";i:474;s:8:\"dataSize\";i:2960322;s:11:\"messageType\";s:20:\"InspectorPackageInfo\";}i:16;O:8:\"stdClass\":3:{s:5:\"count\";i:3;s:8:\"dataSize\";i:2235;s:11:\"messageType\";s:26:\"InspectorSystemPerformance\";}i:17;O:8:\"stdClass\":3:{s:5:\"count\";i:105;s:8:\"dataSize\";i:46048;s:11:\"messageType\";s:19:\"InspectorCodeModule\";}i:18;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:182;s:11:\"messageType\";s:27:\"InspectorUdpV6ListeningPort\";}i:19;O:8:\"stdClass\":3:{s:5:\"count\";i:2;s:8:\"dataSize\";i:371;s:11:\"messageType\";s:27:\"InspectorUdpV4ListeningPort\";}i:20;O:8:\"stdClass\":3:{s:5:\"count\";i:18;s:8:\"dataSize\";i:8362;s:11:\"messageType\";s:21:\"InspectorKernelModule\";}i:21;O:8:\"stdClass\":3:{s:5:\"count\";i:29;s:8:\"dataSize\";i:48788;s:11:\"messageType\";s:26:\"InspectorConfigurationInfo\";}i:22;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:79;s:11:\"messageType\";s:24:\"InspectorMonitoringStart\";}i:23;O:8:\"stdClass\":3:{s:5:\"count\";i:5;s:8:\"dataSize\";i:0;s:11:\"messageType\";s:22:\"InspectorSplitMsgBegin\";}i:24;O:8:\"stdClass\":3:{s:5:\"count\";i:51;s:8:\"dataSize\";i:4593;s:11:\"messageType\";s:14:\"InspectorGroup\";}i:25;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:184;s:11:\"messageType\";s:27:\"InspectorTcpV4ListeningPort\";}i:26;O:8:\"stdClass\":3:{s:5:\"count\";i:1159;s:8:\"dataSize\";i:3146579;s:11:\"messageType\";s:5:\"Total\";}i:27;O:8:\"stdClass\":3:{s:5:\"count\";i:5;s:8:\"dataSize\";i:0;s:11:\"messageType\";s:20:\"InspectorSplitMsgEnd\";}i:28;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:612;s:11:\"messageType\";s:27:\"InspectorLoadImageInProcess\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"telemetryMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TelemetryMetadataList\";s:11:\"description\";s:18:\"Telemetry
  details.\";}}s:8:\"required\";a:1:{i:0;s:17:\"telemetryMetadata\";}s:4:\"type\";s:6:\"object\";}s:8:\"Hostname\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:14:\"InspectorEvent\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:22:\"ASSESSMENT_RUN_STARTED\";i:1;s:24:\"ASSESSMENT_RUN_COMPLETED\";i:2;s:28:\"ASSESSMENT_RUN_STATE_CHANGED\";i:3;s:16:\"FINDING_REPORTED\";i:4;s:5:\"OTHER\";}s:4:\"type\";s:6:\"string\";}s:26:\"InspectorServiceAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"This
  data type is used in the <a>Finding</a> data type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"assessmentRunArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:68:\"The
  ARN of the assessment run during which the finding is generated.\";}s:15:\"rulesPackageArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:66:\"The
  ARN of the rules package that is used to generate the finding.\";}s:13:\"schemaVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NumericVersion\";s:11:\"description\";s:37:\"The
  schema version of this data type.\";}}s:8:\"required\";a:1:{i:0;s:13:\"schemaVersion\";}s:4:\"type\";s:6:\"object\";}s:17:\"InternalException\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Internal
  server error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"canRetry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:39:\"You
  can immediately retry your request.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:31:\"Details
  of the exception error.\";}}s:8:\"required\";a:2:{i:0;s:7:\"message\";i:1;s:8:\"canRetry\";}s:4:\"type\";s:6:\"object\";}s:32:\"InvalidCrossAccountRoleErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:49:\"ROLE_DOES_NOT_EXIST_OR_INVALID_TRUST_RELATIONSHIP\";i:1;s:33:\"ROLE_DOES_NOT_HAVE_CORRECT_POLICY\";}s:4:\"type\";s:6:\"string\";}s:32:\"InvalidCrossAccountRoleException\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"Amazon
  Inspector cannot assume the cross-account role that it needs to list your EC2 instances
  during the assessment run.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"canRetry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:39:\"You
  can immediately retry your request.\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/InvalidCrossAccountRoleErrorCode\";s:11:\"description\";s:56:\"Code
  that indicates the type of error that is generated.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:31:\"Details
  of the exception error.\";}}s:8:\"required\";a:3:{i:0;s:7:\"message\";i:1;s:9:\"errorCode\";i:2;s:8:\"canRetry\";}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidInputErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:54:{i:0;s:29:\"INVALID_ASSESSMENT_TARGET_ARN\";i:1;s:31:\"INVALID_ASSESSMENT_TEMPLATE_ARN\";i:2;s:26:\"INVALID_ASSESSMENT_RUN_ARN\";i:3;s:19:\"INVALID_FINDING_ARN\";i:4;s:26:\"INVALID_RESOURCE_GROUP_ARN\";i:5;s:25:\"INVALID_RULES_PACKAGE_ARN\";i:6;s:20:\"INVALID_RESOURCE_ARN\";i:7;s:21:\"INVALID_SNS_TOPIC_ARN\";i:8;s:20:\"INVALID_IAM_ROLE_ARN\";i:9;s:30:\"INVALID_ASSESSMENT_TARGET_NAME\";i:10;s:38:\"INVALID_ASSESSMENT_TARGET_NAME_PATTERN\";i:11;s:32:\"INVALID_ASSESSMENT_TEMPLATE_NAME\";i:12;s:40:\"INVALID_ASSESSMENT_TEMPLATE_NAME_PATTERN\";i:13;s:36:\"INVALID_ASSESSMENT_TEMPLATE_DURATION\";i:14;s:42:\"INVALID_ASSESSMENT_TEMPLATE_DURATION_RANGE\";i:15;s:37:\"INVALID_ASSESSMENT_RUN_DURATION_RANGE\";i:16;s:39:\"INVALID_ASSESSMENT_RUN_START_TIME_RANGE\";i:17;s:44:\"INVALID_ASSESSMENT_RUN_COMPLETION_TIME_RANGE\";i:18;s:46:\"INVALID_ASSESSMENT_RUN_STATE_CHANGE_TIME_RANGE\";i:19;s:28:\"INVALID_ASSESSMENT_RUN_STATE\";i:20;s:11:\"INVALID_TAG\";i:21;s:15:\"INVALID_TAG_KEY\";i:22;s:17:\"INVALID_TAG_VALUE\";i:23;s:30:\"INVALID_RESOURCE_GROUP_TAG_KEY\";i:24;s:32:\"INVALID_RESOURCE_GROUP_TAG_VALUE\";i:25;s:17:\"INVALID_ATTRIBUTE\";i:26;s:22:\"INVALID_USER_ATTRIBUTE\";i:27;s:26:\"INVALID_USER_ATTRIBUTE_KEY\";i:28;s:28:\"INVALID_USER_ATTRIBUTE_VALUE\";i:29;s:24:\"INVALID_PAGINATION_TOKEN\";i:30;s:19:\"INVALID_MAX_RESULTS\";i:31;s:16:\"INVALID_AGENT_ID\";i:32;s:26:\"INVALID_AUTO_SCALING_GROUP\";i:33;s:17:\"INVALID_RULE_NAME\";i:34;s:16:\"INVALID_SEVERITY\";i:35;s:14:\"INVALID_LOCALE\";i:36;s:13:\"INVALID_EVENT\";i:37;s:36:\"ASSESSMENT_TARGET_NAME_ALREADY_TAKEN\";i:38;s:38:\"ASSESSMENT_TEMPLATE_NAME_ALREADY_TAKEN\";i:39;s:40:\"INVALID_NUMBER_OF_ASSESSMENT_TARGET_ARNS\";i:40;s:42:\"INVALID_NUMBER_OF_ASSESSMENT_TEMPLATE_ARNS\";i:41;s:37:\"INVALID_NUMBER_OF_ASSESSMENT_RUN_ARNS\";i:42;s:30:\"INVALID_NUMBER_OF_FINDING_ARNS\";i:43;s:37:\"INVALID_NUMBER_OF_RESOURCE_GROUP_ARNS\";i:44;s:36:\"INVALID_NUMBER_OF_RULES_PACKAGE_ARNS\";i:45;s:39:\"INVALID_NUMBER_OF_ASSESSMENT_RUN_STATES\";i:46;s:22:\"INVALID_NUMBER_OF_TAGS\";i:47;s:37:\"INVALID_NUMBER_OF_RESOURCE_GROUP_TAGS\";i:48;s:28:\"INVALID_NUMBER_OF_ATTRIBUTES\";i:49;s:33:\"INVALID_NUMBER_OF_USER_ATTRIBUTES\";i:50;s:27:\"INVALID_NUMBER_OF_AGENT_IDS\";i:51;s:37:\"INVALID_NUMBER_OF_AUTO_SCALING_GROUPS\";i:52;s:28:\"INVALID_NUMBER_OF_RULE_NAMES\";i:53;s:28:\"INVALID_NUMBER_OF_SEVERITIES\";}s:4:\"type\";s:6:\"string\";}s:21:\"InvalidInputException\";O:8:\"stdClass\":4:{s:11:\"description\";s:102:\"The
  request was rejected because an invalid or out-of-range value was supplied for an
  input parameter.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"canRetry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:39:\"You
  can immediately retry your request.\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/InvalidInputErrorCode\";s:11:\"description\";s:56:\"Code
  that indicates the type of error that is generated.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:31:\"Details
  of the exception error.\";}}s:8:\"required\";a:3:{i:0;s:7:\"message\";i:1;s:9:\"errorCode\";i:2;s:8:\"canRetry\";}s:4:\"type\";s:6:\"object\";}s:13:\"IocConfidence\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:11:\"Ipv4Address\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:15;s:9:\"minLength\";i:7;s:4:\"type\";s:6:\"string\";}s:15:\"Ipv4AddressList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Ipv4Address\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:13:\"KernelVersion\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:32:\"ASSESSMENT_TARGET_LIMIT_EXCEEDED\";i:1;s:34:\"ASSESSMENT_TEMPLATE_LIMIT_EXCEEDED\";i:2;s:29:\"ASSESSMENT_RUN_LIMIT_EXCEEDED\";i:3;s:29:\"RESOURCE_GROUP_LIMIT_EXCEEDED\";i:4;s:33:\"EVENT_SUBSCRIPTION_LIMIT_EXCEEDED\";}s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":4:{s:11:\"description\";s:149:\"The
  request was rejected because it attempted to create resources beyond the current
  AWS account limits. The error code describes the limit exceeded.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"canRetry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:39:\"You
  can immediately retry your request.\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/LimitExceededErrorCode\";s:11:\"description\";s:56:\"Code
  that indicates the type of error that is generated.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:31:\"Details
  of the exception error.\";}}s:8:\"required\";a:3:{i:0;s:7:\"message\";i:1;s:9:\"errorCode\";i:2;s:8:\"canRetry\";}s:4:\"type\";s:6:\"object\";}s:30:\"ListAssessmentRunAgentsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:16:\"assessmentRunArn\";s:93:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE\";s:10:\"maxResults\";i:123;}s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"assessmentRunArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:72:\"The
  ARN that specifies the assessment run whose agents you want to list.\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AgentFilter\";s:11:\"description\";s:273:\"<p>You
  can use this parameter to specify a subset of data to be included in the action's
  response.</p> <p>For a record to match a filter, all specified filter attributes
  must match. When multiple values are specified for a filter attribute, any of the
  values can match.</p>\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListMaxResults\";s:11:\"description\";s:148:\"You
  can use this parameter to indicate the maximum number of items that you want in
  the response. The default value is 10. The maximum value is 500.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:312:\"You
  can use this parameter when paginating results. Set the value of this parameter
  to null on your first call to the <b>ListAssessmentRunAgents</b> action. Subsequent
  calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b>
  from the previous response to continue listing data.\";}}s:8:\"required\";a:1:{i:0;s:16:\"assessmentRunArn\";}s:4:\"type\";s:6:\"object\";}s:31:\"ListAssessmentRunAgentsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:19:\"assessmentRunAgents\";a:1:{i:0;O:8:\"stdClass\":5:{s:11:\"agentHealth\";s:7:\"HEALTHY\";s:15:\"agentHealthCode\";s:7:\"RUNNING\";s:7:\"agentId\";s:10:\"i-49113b93\";s:16:\"assessmentRunArn\";s:93:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE\";s:17:\"telemetryMetadata\";a:29:{i:0;O:8:\"stdClass\":3:{s:5:\"count\";i:2;s:8:\"dataSize\";i:345;s:11:\"messageType\";s:25:\"InspectorDuplicateProcess\";}i:1;O:8:\"stdClass\":3:{s:5:\"count\";i:3;s:8:\"dataSize\";i:255;s:11:\"messageType\";s:21:\"InspectorTimeEventMsg\";}i:2;O:8:\"stdClass\":3:{s:5:\"count\";i:4;s:8:\"dataSize\";i:1082;s:11:\"messageType\";s:25:\"InspectorNetworkInterface\";}i:3;O:8:\"stdClass\":3:{s:5:\"count\";i:2;s:8:\"dataSize\";i:349;s:11:\"messageType\";s:17:\"InspectorDnsEntry\";}i:4;O:8:\"stdClass\":3:{s:5:\"count\";i:11;s:8:\"dataSize\";i:2514;s:11:\"messageType\";s:25:\"InspectorDirectoryInfoMsg\";}i:5;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:179;s:11:\"messageType\";s:27:\"InspectorTcpV6ListeningPort\";}i:6;O:8:\"stdClass\":3:{s:5:\"count\";i:101;s:8:\"dataSize\";i:10949;s:11:\"messageType\";s:17:\"InspectorTerminal\";}i:7;O:8:\"stdClass\":3:{s:5:\"count\";i:26;s:8:\"dataSize\";i:5916;s:11:\"messageType\";s:13:\"InspectorUser\";}i:8;O:8:\"stdClass\":3:{s:5:\"count\";i:282;s:8:\"dataSize\";i:32148;s:11:\"messageType\";s:36:\"InspectorDynamicallyLoadedCodeModule\";}i:9;O:8:\"stdClass\":3:{s:5:\"count\";i:18;s:8:\"dataSize\";i:10172;s:11:\"messageType\";s:22:\"InspectorCreateProcess\";}i:10;O:8:\"stdClass\":3:{s:5:\"count\";i:3;s:8:\"dataSize\";i:8001;s:11:\"messageType\";s:27:\"InspectorProcessPerformance\";}i:11;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:360;s:11:\"messageType\";s:24:\"InspectorOperatingSystem\";}i:12;O:8:\"stdClass\":3:{s:5:\"count\";i:6;s:8:\"dataSize\";i:546;s:11:\"messageType\";s:20:\"InspectorStopProcess\";}i:13;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:1553;s:11:\"messageType\";s:25:\"InspectorInstanceMetaData\";}i:14;O:8:\"stdClass\":3:{s:5:\"count\";i:2;s:8:\"dataSize\";i:434;s:11:\"messageType\";s:24:\"InspectorTcpV4Connection\";}i:15;O:8:\"stdClass\":3:{s:5:\"count\";i:474;s:8:\"dataSize\";i:2960322;s:11:\"messageType\";s:20:\"InspectorPackageInfo\";}i:16;O:8:\"stdClass\":3:{s:5:\"count\";i:3;s:8:\"dataSize\";i:2235;s:11:\"messageType\";s:26:\"InspectorSystemPerformance\";}i:17;O:8:\"stdClass\":3:{s:5:\"count\";i:105;s:8:\"dataSize\";i:46048;s:11:\"messageType\";s:19:\"InspectorCodeModule\";}i:18;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:182;s:11:\"messageType\";s:27:\"InspectorUdpV6ListeningPort\";}i:19;O:8:\"stdClass\":3:{s:5:\"count\";i:2;s:8:\"dataSize\";i:371;s:11:\"messageType\";s:27:\"InspectorUdpV4ListeningPort\";}i:20;O:8:\"stdClass\":3:{s:5:\"count\";i:18;s:8:\"dataSize\";i:8362;s:11:\"messageType\";s:21:\"InspectorKernelModule\";}i:21;O:8:\"stdClass\":3:{s:5:\"count\";i:29;s:8:\"dataSize\";i:48788;s:11:\"messageType\";s:26:\"InspectorConfigurationInfo\";}i:22;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:79;s:11:\"messageType\";s:24:\"InspectorMonitoringStart\";}i:23;O:8:\"stdClass\":3:{s:5:\"count\";i:5;s:8:\"dataSize\";i:0;s:11:\"messageType\";s:22:\"InspectorSplitMsgBegin\";}i:24;O:8:\"stdClass\":3:{s:5:\"count\";i:51;s:8:\"dataSize\";i:4593;s:11:\"messageType\";s:14:\"InspectorGroup\";}i:25;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:184;s:11:\"messageType\";s:27:\"InspectorTcpV4ListeningPort\";}i:26;O:8:\"stdClass\":3:{s:5:\"count\";i:1159;s:8:\"dataSize\";i:3146579;s:11:\"messageType\";s:5:\"Total\";}i:27;O:8:\"stdClass\":3:{s:5:\"count\";i:5;s:8:\"dataSize\";i:0;s:11:\"messageType\";s:20:\"InspectorSplitMsgEnd\";}i:28;O:8:\"stdClass\":3:{s:5:\"count\";i:1;s:8:\"dataSize\";i:612;s:11:\"messageType\";s:27:\"InspectorLoadImageInProcess\";}}}}s:9:\"nextToken\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"assessmentRunAgents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AssessmentRunAgentList\";s:11:\"description\";s:64:\"A
  list of ARNs that specifies the agents returned by the action.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:279:\"
  When a response is generated, if there is more data to be listed, this parameter
  is present in the response and contains the value to use for the <b>nextToken</b>
  parameter in a subsequent pagination request. If there is no more data to be listed,
  this parameter is set to null.\";}}s:8:\"required\";a:1:{i:0;s:19:\"assessmentRunAgents\";}s:4:\"type\";s:6:\"object\";}s:25:\"ListAssessmentRunsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:22:\"assessmentTemplateArns\";a:1:{i:0;s:78:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw\";}s:10:\"maxResults\";i:123;}s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"assessmentTemplateArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ListParentArnList\";s:11:\"description\";s:86:\"The
  ARNs that specify the assessment templates whose assessment runs you want to list.\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AssessmentRunFilter\";s:11:\"description\";s:273:\"<p>You
  can use this parameter to specify a subset of data to be included in the action's
  response.</p> <p>For a record to match a filter, all specified filter attributes
  must match. When multiple values are specified for a filter attribute, any of the
  values can match.</p>\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListMaxResults\";s:11:\"description\";s:148:\"You
  can use this parameter to indicate the maximum number of items that you want in
  the response. The default value is 10. The maximum value is 500.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:307:\"You
  can use this parameter when paginating results. Set the value of this parameter
  to null on your first call to the <b>ListAssessmentRuns</b> action. Subsequent calls
  to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b>
  from the previous response to continue listing data.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListAssessmentRunsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:17:\"assessmentRunArns\";a:2:{i:0;s:93:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE\";i:1;s:93:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-v5D6fI3v\";}s:9:\"nextToken\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"assessmentRunArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ListReturnedArnList\";s:11:\"description\";s:82:\"A
  list of ARNs that specifies the assessment runs that are returned by the action.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:279:\"
  When a response is generated, if there is more data to be listed, this parameter
  is present in the response and contains the value to use for the <b>nextToken</b>
  parameter in a subsequent pagination request. If there is no more data to be listed,
  this parameter is set to null.\";}}s:8:\"required\";a:1:{i:0;s:17:\"assessmentRunArns\";}s:4:\"type\";s:6:\"object\";}s:28:\"ListAssessmentTargetsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"maxResults\";i:123;}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AssessmentTargetFilter\";s:11:\"description\";s:273:\"<p>You
  can use this parameter to specify a subset of data to be included in the action's
  response.</p> <p>For a record to match a filter, all specified filter attributes
  must match. When multiple values are specified for a filter attribute, any of the
  values can match.</p>\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListMaxResults\";s:11:\"description\";s:143:\"You
  can use this parameter to indicate the maximum number of items you want in the response.
  The default value is 10. The maximum value is 500.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:310:\"You
  can use this parameter when paginating results. Set the value of this parameter
  to null on your first call to the <b>ListAssessmentTargets</b> action. Subsequent
  calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b>
  from the previous response to continue listing data.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListAssessmentTargetsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"assessmentTargetArns\";a:1:{i:0;s:58:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq\";}s:9:\"nextToken\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"assessmentTargetArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ListReturnedArnList\";s:11:\"description\";s:85:\"A
  list of ARNs that specifies the assessment targets that are returned by the action.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:279:\"
  When a response is generated, if there is more data to be listed, this parameter
  is present in the response and contains the value to use for the <b>nextToken</b>
  parameter in a subsequent pagination request. If there is no more data to be listed,
  this parameter is set to null.\";}}s:8:\"required\";a:1:{i:0;s:20:\"assessmentTargetArns\";}s:4:\"type\";s:6:\"object\";}s:30:\"ListAssessmentTemplatesRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"assessmentTargetArns\";a:1:{i:0;s:58:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq\";}s:10:\"maxResults\";i:123;}s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"assessmentTargetArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ListParentArnList\";s:11:\"description\";s:97:\"A
  list of ARNs that specifies the assessment targets whose assessment templates you
  want to list.\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AssessmentTemplateFilter\";s:11:\"description\";s:273:\"<p>You
  can use this parameter to specify a subset of data to be included in the action's
  response.</p> <p>For a record to match a filter, all specified filter attributes
  must match. When multiple values are specified for a filter attribute, any of the
  values can match.</p>\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListMaxResults\";s:11:\"description\";s:143:\"You
  can use this parameter to indicate the maximum number of items you want in the response.
  The default value is 10. The maximum value is 500.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:312:\"You
  can use this parameter when paginating results. Set the value of this parameter
  to null on your first call to the <b>ListAssessmentTemplates</b> action. Subsequent
  calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b>
  from the previous response to continue listing data.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ListAssessmentTemplatesResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:22:\"assessmentTemplateArns\";a:2:{i:0;s:78:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw\";i:1;s:78:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-Uza6ihLh\";}s:9:\"nextToken\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"assessmentTemplateArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ListReturnedArnList\";s:11:\"description\";s:78:\"A
  list of ARNs that specifies the assessment templates returned by the action.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:279:\"
  When a response is generated, if there is more data to be listed, this parameter
  is present in the response and contains the value to use for the <b>nextToken</b>
  parameter in a subsequent pagination request. If there is no more data to be listed,
  this parameter is set to null.\";}}s:8:\"required\";a:1:{i:0;s:22:\"assessmentTemplateArns\";}s:4:\"type\";s:6:\"object\";}s:32:\"ListEventSubscriptionsMaxResults\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:29:\"ListEventSubscriptionsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"maxResults\";i:123;s:11:\"resourceArn\";s:78:\"arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-7sbz2Kz0\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ListEventSubscriptionsMaxResults\";s:11:\"description\";s:143:\"You
  can use this parameter to indicate the maximum number of items you want in the response.
  The default value is 10. The maximum value is 500.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:311:\"You
  can use this parameter when paginating results. Set the value of this parameter
  to null on your first call to the <b>ListEventSubscriptions</b> action. Subsequent
  calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b>
  from the previous response to continue listing data.\";}s:11:\"resourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:95:\"The
  ARN of the assessment template for which you want to list the existing event subscriptions.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListEventSubscriptionsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"nextToken\";s:1:\"1\";s:13:\"subscriptions\";a:1:{i:0;O:8:\"stdClass\":3:{s:18:\"eventSubscriptions\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"event\";s:24:\"ASSESSMENT_RUN_COMPLETED\";s:12:\"subscribedAt\";s:14:\"1459455440.867\";}}s:11:\"resourceArn\";s:78:\"arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-7sbz2Kz0\";s:8:\"topicArn\";s:47:\"arn:aws:sns:us-west-2:123456789012:exampletopic\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:279:\"
  When a response is generated, if there is more data to be listed, this parameter
  is present in the response and contains the value to use for the <b>nextToken</b>
  parameter in a subsequent pagination request. If there is no more data to be listed,
  this parameter is set to null.\";}s:13:\"subscriptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SubscriptionList\";s:11:\"description\";s:44:\"Details
  of the returned event subscriptions.\";}}s:8:\"required\";a:1:{i:0;s:13:\"subscriptions\";}s:4:\"type\";s:6:\"object\";}s:19:\"ListFindingsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:17:\"assessmentRunArns\";a:1:{i:0;s:93:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE\";}s:10:\"maxResults\";i:123;}s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"assessmentRunArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ListParentArnList\";s:11:\"description\";s:81:\"The
  ARNs of the assessment runs that generate the findings that you want to list.\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FindingFilter\";s:11:\"description\";s:273:\"<p>You
  can use this parameter to specify a subset of data to be included in the action's
  response.</p> <p>For a record to match a filter, all specified filter attributes
  must match. When multiple values are specified for a filter attribute, any of the
  values can match.</p>\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListMaxResults\";s:11:\"description\";s:143:\"You
  can use this parameter to indicate the maximum number of items you want in the response.
  The default value is 10. The maximum value is 500.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:301:\"You
  can use this parameter when paginating results. Set the value of this parameter
  to null on your first call to the <b>ListFindings</b> action. Subsequent calls to
  the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b>
  from the previous response to continue listing data.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListFindingsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"findingArns\";a:2:{i:0;s:112:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE/finding/0-HwPnsDm4\";i:1;s:112:\"arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-v5D6fI3v/finding/0-tyvmqBLy\";}s:9:\"nextToken\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"findingArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ListReturnedArnList\";s:11:\"description\";s:66:\"A
  list of ARNs that specifies the findings returned by the action.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:279:\"
  When a response is generated, if there is more data to be listed, this parameter
  is present in the response and contains the value to use for the <b>nextToken</b>
  parameter in a subsequent pagination request. If there is no more data to be listed,
  this parameter is set to null.\";}}s:8:\"required\";a:1:{i:0;s:11:\"findingArns\";}s:4:\"type\";s:6:\"object\";}s:14:\"ListMaxResults\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ListParentArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:19:\"ListReturnedArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:24:\"ListRulesPackagesRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"maxResults\";i:123;}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListMaxResults\";s:11:\"description\";s:143:\"You
  can use this parameter to indicate the maximum number of items you want in the response.
  The default value is 10. The maximum value is 500.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:306:\"You
  can use this parameter when paginating results. Set the value of this parameter
[...]
