---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:160:\"<fullname>Amazon
  WorkSpaces Service</fullname> <p>Amazon WorkSpaces enables you to provision virtual,
  cloud-based Microsoft Windows desktops for your users.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:17:\"Amazon
  WorkSpaces\";s:7:\"version\";s:10:\"2015-04-08\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/workspaces-2015-04-08.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"workspaces\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"amazonaws_workspaces\";s:4:\"type\";s:7:\"openapi\";}}"
host: workspaces.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":150:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:120:\"^arn:aws:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$\";s:4:\"type\";s:6:\"string\";}s:21:\"AccessDeniedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  user is not authorized to access a resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"AssociateIpGroupsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:24:\"The
  ID of the directory.\";}s:8:\"GroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/IpGroupIdList\";s:11:\"description\";s:48:\"The
  IDs of one or more IP access control groups.\";}}s:8:\"required\";a:2:{i:0;s:11:\"DirectoryId\";i:1;s:8:\"GroupIds\";}s:4:\"type\";s:6:\"object\";}s:23:\"AssociateIpGroupsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"AuthorizeIpRulesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpGroupId\";s:11:\"description\";s:20:\"The
  ID of the group.\";}s:9:\"UserRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IpRuleList\";s:11:\"description\";s:30:\"The
  rules to add to the group.\";}}s:8:\"required\";a:2:{i:0;s:7:\"GroupId\";i:1;s:9:\"UserRules\";}s:4:\"type\";s:6:\"object\";}s:22:\"AuthorizeIpRulesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"BooleanObject\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"BundleId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:20:\"^wsb-[0-9a-z]{8,63}$\";s:4:\"type\";s:6:\"string\";}s:12:\"BundleIdList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/BundleId\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:10:\"BundleList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/WorkspaceBundle\";}s:4:\"type\";s:5:\"array\";}s:11:\"BundleOwner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Compute\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:5:\"VALUE\";i:1;s:8:\"STANDARD\";i:2;s:11:\"PERFORMANCE\";i:3;s:5:\"POWER\";i:4;s:8:\"GRAPHICS\";}s:4:\"type\";s:6:\"string\";}s:11:\"ComputeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Information
  about the compute type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Compute\";s:11:\"description\";s:17:\"The
  compute type.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ComputerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ConnectionState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"CONNECTED\";i:1;s:12:\"DISCONNECTED\";i:2;s:7:\"UNKNOWN\";}s:4:\"type\";s:6:\"string\";}s:20:\"CreateIpGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"GroupDesc\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IpGroupDesc\";s:11:\"description\";s:29:\"The
  description of the group.\";}s:9:\"GroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IpGroupName\";s:11:\"description\";s:22:\"The
  name of the group.\";}s:9:\"UserRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IpRuleList\";s:11:\"description\";s:30:\"The
  rules to add to the group.\";}}s:8:\"required\";a:1:{i:0;s:9:\"GroupName\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateIpGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpGroupId\";s:11:\"description\";s:20:\"The
  ID of the group.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateTagsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:72:\"The
  ID of the WorkSpace. To find this ID, use <a>DescribeWorkspaces</a>.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:55:\"The
  tags. Each WorkSpace can have a maximum of 50 tags.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResourceId\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:16:\"CreateTagsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"CreateWorkspacesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Workspaces\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/WorkspaceRequestList\";s:11:\"description\";s:62:\"The
  WorkSpaces to create. You can specify up to 25 WorkSpaces.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Workspaces\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateWorkspacesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"FailedRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/FailedCreateWorkspaceRequests\";s:11:\"description\";s:59:\"Information
  about the WorkSpaces that could not be created.\";}s:15:\"PendingRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WorkspaceList\";s:11:\"description\";s:317:\"<p>Information
  about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous,
  the identifier returned is not immediately available for use with other operations.
  For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created,
  the information returned can be incomplete.</p>\";}}s:4:\"type\";s:6:\"object\";}s:9:\"DefaultOu\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"DefaultWorkspaceCreationProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Information
  about defaults used to create a WorkSpace.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"CustomSecurityGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SecurityGroupId\";s:11:\"description\";s:83:\"The
  identifier of any security groups to apply to WorkSpaces when they are created.\";}s:9:\"DefaultOu\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DefaultOu\";s:11:\"description\";s:81:\"The
  organizational unit (OU) in the directory for the WorkSpace machine accounts.\";}s:20:\"EnableInternetAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:78:\"The
  public IP address to attach to all WorkSpaces that are created or rebuilt.\";}s:14:\"EnableWorkDocs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:63:\"Indicates
  whether the directory is enabled for Amazon WorkDocs.\";}s:31:\"UserEnabledAsLocalAdministrator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:74:\"Indicates
  whether the WorkSpace user is an administrator on the WorkSpace.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteIpGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpGroupId\";s:11:\"description\";s:38:\"The
  ID of the IP access control group.\";}}s:8:\"required\";a:1:{i:0;s:7:\"GroupId\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteIpGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteTagsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:72:\"The
  ID of the WorkSpace. To find this ID, use <a>DescribeWorkspaces</a>.\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:13:\"The
  tag keys.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResourceId\";i:1;s:7:\"TagKeys\";}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteTagsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeIpGroupsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"GroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/IpGroupIdList\";s:11:\"description\";s:48:\"The
  IDs of one or more IP access control groups.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:38:\"The
  maximum number of items to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:86:\"The
  token for the next set of results. (You received this token from a previous call.)\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeIpGroupsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:174:\"The
  token to use to retrieve the next set of results, or null if there are no more results
  available. This token is valid for one day and must be used within that time frame.\";}s:6:\"Result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/WorkspacesIpGroupsList\";s:11:\"description\";s:47:\"Information
  about the IP access control groups.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeTagsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:72:\"The
  ID of the WorkSpace. To find this ID, use <a>DescribeWorkspaces</a>.\";}}s:8:\"required\";a:1:{i:0;s:10:\"ResourceId\";}s:4:\"type\";s:6:\"object\";}s:18:\"DescribeTagsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TagList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:9:\"The
  tags.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeWorkspaceBundlesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"BundleIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BundleIdList\";s:11:\"description\";s:80:\"The
  IDs of the bundles. This parameter cannot be combined with any other filter.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:86:\"The
  token for the next set of results. (You received this token from a previous call.)\";}s:5:\"Owner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BundleOwner\";s:11:\"description\";s:225:\"<p>The
  owner of the bundles. This parameter cannot be combined with any other filter.</p>
  <p>Specify <code>AMAZON</code> to describe the bundles provided by AWS or null to
  describe the bundles that belong to your account.</p>\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeWorkspaceBundlesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Bundles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BundleList\";s:11:\"description\";s:30:\"Information
  about the bundles.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:174:\"The
  token to use to retrieve the next set of results, or null if there are no more results
  available. This token is valid for one day and must be used within that time frame.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeWorkspaceDirectoriesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"DirectoryIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryIdList\";s:11:\"description\";s:88:\"The
  identifiers of the directories. If the value is null, all directories are retrieved.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:86:\"The
  token for the next set of results. (You received this token from a previous call.)\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeWorkspaceDirectoriesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Directories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryList\";s:11:\"description\";s:34:\"Information
  about the directories.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:174:\"The
  token to use to retrieve the next set of results, or null if there are no more results
  available. This token is valid for one day and must be used within that time frame.\";}}s:4:\"type\";s:6:\"object\";}s:41:\"DescribeWorkspacesConnectionStatusRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:86:\"The
  token for the next set of results. (You received this token from a previous call.)\";}s:12:\"WorkspaceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/WorkspaceIdList\";s:11:\"description\";s:71:\"The
  identifiers of the WorkSpaces. You can specify up to 25 WorkSpaces.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"DescribeWorkspacesConnectionStatusResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:101:\"The
  token to use to retrieve the next set of results, or null if there are no more results
  available.\";}s:26:\"WorkspacesConnectionStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/WorkspaceConnectionStatusList\";s:11:\"description\";s:57:\"Information
  about the connection status of the WorkSpace.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeWorkspacesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"BundleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BundleId\";s:11:\"description\";s:142:\"The
  ID of the bundle. All WorkSpaces that are created from this bundle are retrieved.
  This parameter cannot be combined with any other filter.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:176:\"The
  ID of the directory. In addition, you can optionally specify a specific directory
  user (see <code>UserName</code>). This parameter cannot be combined with any other
  filter.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:38:\"The
  maximum number of items to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:86:\"The
  token for the next set of results. (You received this token from a previous call.)\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:94:\"The
  name of the directory user. You must specify this parameter with <code>DirectoryId</code>.\";}s:12:\"WorkspaceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/WorkspaceIdList\";s:11:\"description\";s:316:\"<p>The
  IDs of the WorkSpaces. This parameter cannot be combined with any other filter.</p>
  <p>Because the <a>CreateWorkspaces</a> operation is asynchronous, the identifier
  it returns is not immediately available. If you immediately call <a>DescribeWorkspaces</a>
  with this identifier, no information is returned.</p>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeWorkspacesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:174:\"The
  token to use to retrieve the next set of results, or null if there are no more results
  available. This token is valid for one day and must be used within that time frame.\";}s:10:\"Workspaces\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WorkspaceList\";s:11:\"description\";s:163:\"<p>Information
  about the WorkSpaces.</p> <p>Because <a>CreateWorkspaces</a> is an asynchronous
  operation, some of the returned information could be incomplete.</p>\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:18:\"^d-[0-9a-f]{8,63}$\";s:4:\"type\";s:6:\"string\";}s:15:\"DirectoryIdList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:13:\"DirectoryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/WorkspaceDirectory\";}s:4:\"type\";s:5:\"array\";}s:13:\"DirectoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"DisassociateIpGroupsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:24:\"The
  ID of the directory.\";}s:8:\"GroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/IpGroupIdList\";s:11:\"description\";s:48:\"The
  IDs of one or more IP access control groups.\";}}s:8:\"required\";a:2:{i:0;s:11:\"DirectoryId\";i:1;s:8:\"GroupIds\";}s:4:\"type\";s:6:\"object\";}s:26:\"DisassociateIpGroupsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"DnsIpAddresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";}s:4:\"type\";s:5:\"array\";}s:9:\"ErrorType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ExceptionMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"FailedCreateWorkspaceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Information
  about a WorkSpace that could not be created.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ErrorType\";s:11:\"description\";s:15:\"The
  error code.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:26:\"The
  textual error message.\";}s:16:\"WorkspaceRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/WorkspaceRequest\";s:11:\"description\";s:32:\"Information
  about the WorkSpace.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"FailedCreateWorkspaceRequests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/FailedCreateWorkspaceRequest\";}s:4:\"type\";s:5:\"array\";}s:29:\"FailedRebootWorkspaceRequests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/FailedWorkspaceChangeRequest\";}s:4:\"type\";s:5:\"array\";}s:30:\"FailedRebuildWorkspaceRequests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/FailedWorkspaceChangeRequest\";}s:4:\"type\";s:5:\"array\";}s:28:\"FailedStartWorkspaceRequests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/FailedWorkspaceChangeRequest\";}s:4:\"type\";s:5:\"array\";}s:27:\"FailedStopWorkspaceRequests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/FailedWorkspaceChangeRequest\";}s:4:\"type\";s:5:\"array\";}s:32:\"FailedTerminateWorkspaceRequests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/FailedWorkspaceChangeRequest\";}s:4:\"type\";s:5:\"array\";}s:28:\"FailedWorkspaceChangeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:230:\"Information
  about a WorkSpace that could not be rebooted (<a>RebootWorkspaces</a>), rebuilt
  (<a>RebuildWorkspaces</a>), terminated (<a>TerminateWorkspaces</a>), started (<a>StartWorkspaces</a>),
  or stopped (<a>StopWorkspaces</a>).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ErrorType\";s:11:\"description\";s:15:\"The
  error code.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:26:\"The
  textual error message.\";}s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";s:11:\"description\";s:32:\"The
  identifier of the WorkSpace.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"InvalidParameterValuesException\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"One
  or more parameter values are not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:28:\"The
  exception error message.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"InvalidResourceStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  state of the resource is not valid for this operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:9:\"IpAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"IpGroupDesc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"IpGroupId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:21:\"wsipg-[0-9a-z]{8,63}$\";s:4:\"type\";s:6:\"string\";}s:13:\"IpGroupIdList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/IpGroupId\";}s:4:\"type\";s:5:\"array\";}s:11:\"IpGroupName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"IpRevokedRuleList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IpRule\";}s:4:\"type\";s:5:\"array\";}s:6:\"IpRule\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"IpRuleDesc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"IpRuleItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Information
  about a rule for an IP access control group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"ipRule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/IpRule\";s:11:\"description\";s:39:\"The
  IP address range, in CIDR notation.\";}s:8:\"ruleDesc\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IpRuleDesc\";s:11:\"description\";s:16:\"The
  description.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"IpRuleList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IpRuleItem\";}s:4:\"type\";s:5:\"array\";}s:5:\"Limit\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:25;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:24:\"ModificationResourceEnum\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:11:\"ROOT_VOLUME\";i:1;s:11:\"USER_VOLUME\";i:2;s:12:\"COMPUTE_TYPE\";}s:4:\"type\";s:6:\"string\";}s:17:\"ModificationState\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Information
  about a WorkSpace modification.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ModificationResourceEnum\";s:11:\"description\";s:13:\"The
  resource.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ModificationStateEnum\";s:11:\"description\";s:23:\"The
  modification state.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ModificationStateEnum\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:16:\"UPDATE_INITIATED\";i:1;s:18:\"UPDATE_IN_PROGRESS\";}s:4:\"type\";s:6:\"string\";}s:21:\"ModificationStateList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ModificationState\";}s:4:\"type\";s:5:\"array\";}s:32:\"ModifyWorkspacePropertiesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";s:11:\"description\";s:24:\"The
  ID of the WorkSpace.\";}s:19:\"WorkspaceProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/WorkspaceProperties\";s:11:\"description\";s:32:\"The
  properties of the WorkSpace.\";}}s:8:\"required\";a:2:{i:0;s:11:\"WorkspaceId\";i:1;s:19:\"WorkspaceProperties\";}s:4:\"type\";s:6:\"object\";}s:31:\"ModifyWorkspacePropertiesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"ModifyWorkspaceStateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";s:11:\"description\";s:24:\"The
  ID of the WorkSpace.\";}s:14:\"WorkspaceState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TargetWorkspaceState\";s:11:\"description\";s:20:\"The
  WorkSpace state.\";}}s:8:\"required\";a:2:{i:0;s:11:\"WorkspaceId\";i:1;s:14:\"WorkspaceState\";}s:4:\"type\";s:6:\"object\";}s:26:\"ModifyWorkspaceStateResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"NonEmptyString\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:28:\"OperationInProgressException\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  properties of this WorkSpace are currently being modified. Try again in a moment.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:30:\"OperationNotSupportedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"This
  operation is not supported.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PaginationToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:63;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"RebootRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Information
  used to reboot a WorkSpace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";s:11:\"description\";s:24:\"The
  ID of the WorkSpace.\";}}s:8:\"required\";a:1:{i:0;s:11:\"WorkspaceId\";}s:4:\"type\";s:6:\"object\";}s:23:\"RebootWorkspaceRequests\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RebootRequest\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:23:\"RebootWorkspacesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"RebootWorkspaceRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/RebootWorkspaceRequests\";s:11:\"description\";s:62:\"The
  WorkSpaces to reboot. You can specify up to 25 WorkSpaces.\";}}s:8:\"required\";a:1:{i:0;s:23:\"RebootWorkspaceRequests\";}s:4:\"type\";s:6:\"object\";}s:22:\"RebootWorkspacesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"FailedRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/FailedRebootWorkspaceRequests\";s:11:\"description\";s:60:\"Information
  about the WorkSpaces that could not be rebooted.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"RebuildRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Information
  used to rebuild a WorkSpace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";s:11:\"description\";s:24:\"The
  ID of the WorkSpace.\";}}s:8:\"required\";a:1:{i:0;s:11:\"WorkspaceId\";}s:4:\"type\";s:6:\"object\";}s:24:\"RebuildWorkspaceRequests\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RebuildRequest\";}s:8:\"maxItems\";i:1;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:24:\"RebuildWorkspacesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"RebuildWorkspaceRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RebuildWorkspaceRequests\";s:11:\"description\";s:61:\"The
  WorkSpace to rebuild. You can specify a single WorkSpace.\";}}s:8:\"required\";a:1:{i:0;s:24:\"RebuildWorkspaceRequests\";}s:4:\"type\";s:6:\"object\";}s:23:\"RebuildWorkspacesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"FailedRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/FailedRebuildWorkspaceRequests\";s:11:\"description\";s:59:\"Information
  about the WorkSpace if it could not be rebuilt.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RegistrationCode\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:20;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:30:\"ResourceAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specified resource already exists.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ResourceAssociatedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  resource is associated with a directory.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ResourceCreationFailedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  resource could not be created.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ResourceLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Your
  resource limits have been exceeded.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:28:\"The
  exception error message.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  resource could not be found.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:47:\"The
  ID of the resource that could not be found.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:32:\"The
  resource could not be found.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ResourceUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  specified resource is not available.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:53:\"The
  identifier of the resource that is not available.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:28:\"The
  exception error message.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"RevokeIpRulesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpGroupId\";s:11:\"description\";s:20:\"The
  ID of the group.\";}s:9:\"UserRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IpRevokedRuleList\";s:11:\"description\";s:35:\"The
  rules to remove from the group.\";}}s:8:\"required\";a:2:{i:0;s:7:\"GroupId\";i:1;s:9:\"UserRules\";}s:4:\"type\";s:6:\"object\";}s:19:\"RevokeIpRulesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"RootStorage\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Information
  about the root volume for a WorkSpace bundle.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Capacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:28:\"The
  size of the root volume.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"RootVolumeSizeGib\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"RunningMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"AUTO_STOP\";i:1;s:9:\"ALWAYS_ON\";}s:4:\"type\";s:6:\"string\";}s:35:\"RunningModeAutoStopTimeoutInMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"SecurityGroupId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:18:\"^(sg-[0-9a-f]{8})$\";s:4:\"type\";s:6:\"string\";}s:12:\"StartRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Information
  used to start a WorkSpace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";s:11:\"description\";s:24:\"The
  ID of the WorkSpace.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"StartWorkspaceRequests\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/StartRequest\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:22:\"StartWorkspacesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"StartWorkspaceRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StartWorkspaceRequests\";s:11:\"description\";s:61:\"The
  WorkSpaces to start. You can specify up to 25 WorkSpaces.\";}}s:8:\"required\";a:1:{i:0;s:22:\"StartWorkspaceRequests\";}s:4:\"type\";s:6:\"object\";}s:21:\"StartWorkspacesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"FailedRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/FailedStartWorkspaceRequests\";s:11:\"description\";s:59:\"Information
  about the WorkSpaces that could not be started.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"StopRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Information
  used to stop a WorkSpace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";s:11:\"description\";s:24:\"The
  ID of the WorkSpace.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"StopWorkspaceRequests\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StopRequest\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:21:\"StopWorkspacesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"StopWorkspaceRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/StopWorkspaceRequests\";s:11:\"description\";s:60:\"The
  WorkSpaces to stop. You can specify up to 25 WorkSpaces.\";}}s:8:\"required\";a:1:{i:0;s:21:\"StopWorkspaceRequests\";}s:4:\"type\";s:6:\"object\";}s:20:\"StopWorkspacesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"FailedRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/FailedStopWorkspaceRequests\";s:11:\"description\";s:59:\"Information
  about the WorkSpaces that could not be stopped.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:22:\"^(subnet-[0-9a-f]{8})$\";s:4:\"type\";s:6:\"string\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";}s:4:\"type\";s:5:\"array\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Information
  about a tag.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:19:\"The
  key of the tag.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:21:\"The
  value of the tag.\";}}s:8:\"required\";a:1:{i:0;s:3:\"Key\";}s:4:\"type\";s:6:\"object\";}s:6:\"TagKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:127;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"TagKeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";}s:4:\"type\";s:5:\"array\";}s:7:\"TagList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:8:\"TagValue\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:20:\"TargetWorkspaceState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"AVAILABLE\";i:1;s:17:\"ADMIN_MAINTENANCE\";}s:4:\"type\";s:6:\"string\";}s:16:\"TerminateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Information
  used to terminate a WorkSpace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";s:11:\"description\";s:24:\"The
  ID of the WorkSpace.\";}}s:8:\"required\";a:1:{i:0;s:11:\"WorkspaceId\";}s:4:\"type\";s:6:\"object\";}s:26:\"TerminateWorkspaceRequests\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TerminateRequest\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:26:\"TerminateWorkspacesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"TerminateWorkspaceRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/TerminateWorkspaceRequests\";s:11:\"description\";s:65:\"The
  WorkSpaces to terminate. You can specify up to 25 WorkSpaces.\";}}s:8:\"required\";a:1:{i:0;s:26:\"TerminateWorkspaceRequests\";}s:4:\"type\";s:6:\"object\";}s:25:\"TerminateWorkspacesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"FailedRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/FailedTerminateWorkspaceRequests\";s:11:\"description\";s:62:\"Information
  about the WorkSpaces that could not be terminated.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:42:\"UnsupportedWorkspaceConfigurationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"The
  configuration of this WorkSpace is not supported for this operation. For more information,
  see the <a href=\"http://docs.aws.amazon.com/workspaces/latest/adminguide/\">Amazon
  WorkSpaces Administration Guide</a>. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:27:\"UpdateRulesOfIpGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpGroupId\";s:11:\"description\";s:20:\"The
  ID of the group.\";}s:9:\"UserRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IpRuleList\";s:11:\"description\";s:18:\"One
  or more rules.\";}}s:8:\"required\";a:2:{i:0;s:7:\"GroupId\";i:1;s:9:\"UserRules\";}s:4:\"type\";s:6:\"object\";}s:26:\"UpdateRulesOfIpGroupResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"UserName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:63;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"UserStorage\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Information
  about the user storage for a WorkSpace bundle.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Capacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:29:\"The
  size of the user storage.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UserVolumeSizeGib\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"VolumeEncryptionKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Workspace\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Information
  about a WorkSpace.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"BundleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BundleId\";s:11:\"description\";s:58:\"The
  identifier of the bundle used to create the WorkSpace.\";}s:12:\"ComputerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ComputerName\";s:11:\"description\";s:59:\"The
  name of the WorkSpace, as seen by the operating system.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:72:\"The
  identifier of the AWS Directory Service directory for the WorkSpace.\";}s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkspaceErrorCode\";s:11:\"description\";s:63:\"If
  the WorkSpace could not be created, contains the error code.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:99:\"If
  the WorkSpace could not be created, contains a textual error message that describes
  the failure.\";}s:9:\"IpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";s:11:\"description\";s:32:\"The
  IP address of the WorkSpace.\";}s:18:\"ModificationStates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ModificationStateList\";s:11:\"description\";s:41:\"The
  modification states of the WorkSpace.\";}s:27:\"RootVolumeEncryptionEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:66:\"Indicates
  whether the data stored on the root volume is encrypted.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WorkspaceState\";s:11:\"description\";s:39:\"The
  operational state of the WorkSpace.\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";s:11:\"description\";s:47:\"The
  identifier of the subnet for the WorkSpace.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:27:\"The
  user for the WorkSpace.\";}s:27:\"UserVolumeEncryptionEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:66:\"Indicates
  whether the data stored on the user volume is encrypted.\";}s:19:\"VolumeEncryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/VolumeEncryptionKey\";s:11:\"description\";s:58:\"The
  KMS key used to encrypt data stored on your WorkSpace.\";}s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";s:11:\"description\";s:32:\"The
  identifier of the WorkSpace.\";}s:19:\"WorkspaceProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/WorkspaceProperties\";s:11:\"description\";s:32:\"The
  properties of the WorkSpace.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"WorkspaceBundle\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Information
  about a WorkSpace bundle.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"BundleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BundleId\";s:11:\"description\";s:22:\"The
  bundle identifier.\";}s:11:\"ComputeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ComputeType\";s:11:\"description\";s:152:\"The
  compute type. For more information, see <a href=\"http://aws.amazon.com/workspaces/details/#Amazon_WorkSpaces_Bundles\">Amazon
  WorkSpaces Bundles</a>.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:14:\"A
  description.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:23:\"The
  name of the bundle.\";}s:5:\"Owner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BundleOwner\";s:11:\"description\";s:126:\"The
  owner of the bundle. This is the account identifier of the owner, or <code>AMAZON</code>
  if the bundle is provided by AWS.\";}s:11:\"RootStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RootStorage\";s:11:\"description\";s:28:\"The
  size of the root volume.\";}s:11:\"UserStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UserStorage\";s:11:\"description\";s:29:\"The
  size of the user storage.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"WorkspaceConnectionStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Describes
  the connection status of a WorkSpace.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"ConnectionState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConnectionState\";s:11:\"description\";s:99:\"The
  connection state of the WorkSpace. The connection state is unknown if the WorkSpace
  is stopped.\";}s:29:\"ConnectionStateCheckTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:44:\"The
  timestamp of the connection state check.\";}s:32:\"LastKnownUserConnectionTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:48:\"The
  timestamp of the last known user connection.\";}s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";s:11:\"description\";s:24:\"The
  ID of the WorkSpace.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"WorkspaceConnectionStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/WorkspaceConnectionStatus\";}s:4:\"type\";s:5:\"array\";}s:18:\"WorkspaceDirectory\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Information
  about an AWS Directory Service directory for use with Amazon WorkSpaces.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:5:\"Alias\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Alias\";s:11:\"description\";s:20:\"The
  directory alias.\";}s:16:\"CustomerUserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:38:\"The
  user name for the service account.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:25:\"The
  directory identifier.\";}s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:26:\"The
  name of the directory.\";}s:13:\"DirectoryType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/WorkspaceDirectoryType\";s:11:\"description\";s:19:\"The
  directory type.\";}s:14:\"DnsIpAddresses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DnsIpAddresses\";s:11:\"description\";s:54:\"The
  IP addresses of the DNS servers for the directory.\";}s:9:\"IamRoleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/ARN\";s:11:\"description\";s:147:\"The
  identifier of the IAM role. This is the role that allows Amazon WorkSpaces to make
  calls to other services, such as Amazon EC2, on your behalf.\";}s:16:\"RegistrationCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RegistrationCode\";s:11:\"description\";s:149:\"The
  registration code for the directory. This is the code that users enter in their
  Amazon WorkSpaces client application to connect to the directory.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/WorkspaceDirectoryState\";s:11:\"description\";s:64:\"The
  state of the directory's registration with Amazon WorkSpaces\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SubnetIds\";s:11:\"description\";s:55:\"The
  identifiers of the subnets used with the directory.\";}s:27:\"WorkspaceCreationProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/DefaultWorkspaceCreationProperties\";s:11:\"description\";s:68:\"The
  default creation properties for all WorkSpaces in the directory.\";}s:24:\"WorkspaceSecurityGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SecurityGroupId\";s:11:\"description\";s:72:\"The
  identifier of the security group that is assigned to new WorkSpaces.\";}s:10:\"ipGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/IpGroupIdList\";s:11:\"description\";s:78:\"The
  identifiers of the IP access control groups associated with the directory.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"WorkspaceDirectoryState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:11:\"REGISTERING\";i:1;s:10:\"REGISTERED\";i:2;s:13:\"DEREGISTERING\";i:3;s:12:\"DEREGISTERED\";i:4;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}s:22:\"WorkspaceDirectoryType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"SIMPLE_AD\";i:1;s:12:\"AD_CONNECTOR\";}s:4:\"type\";s:6:\"string\";}s:18:\"WorkspaceErrorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"WorkspaceId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:19:\"^ws-[0-9a-z]{8,63}$\";s:4:\"type\";s:6:\"string\";}s:15:\"WorkspaceIdList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/WorkspaceId\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:13:\"WorkspaceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Workspace\";}s:4:\"type\";s:5:\"array\";}s:19:\"WorkspaceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Information
  about a WorkSpace.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"ComputeTypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Compute\";s:11:\"description\";s:152:\"The
  compute type. For more information, see <a href=\"http://aws.amazon.com/workspaces/details/#Amazon_WorkSpaces_Bundles\">Amazon
  WorkSpaces Bundles</a>.\";}s:17:\"RootVolumeSizeGib\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RootVolumeSizeGib\";s:11:\"description\";s:28:\"The
  size of the root volume.\";}s:11:\"RunningMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RunningMode\";s:11:\"description\";s:166:\"The
  running mode. For more information, see <a href=\"http://docs.aws.amazon.com/workspaces/latest/adminguide/running-mode.html\">Manage
  the WorkSpace Running Mode</a>.\";}s:35:\"RunningModeAutoStopTimeoutInMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/RunningModeAutoStopTimeoutInMinutes\";s:11:\"description\";s:108:\"The
  time after a user logs off when WorkSpaces are automatically stopped. Configured
  in 60 minute intervals.\";}s:17:\"UserVolumeSizeGib\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserVolumeSizeGib\";s:11:\"description\";s:29:\"The
  size of the user storage.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"WorkspaceRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Information
  used to create a WorkSpace.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"BundleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BundleId\";s:11:\"description\";s:122:\"The
  identifier of the bundle for the WorkSpace. You can use <a>DescribeWorkspaceBundles</a>
  to list the available bundles.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:155:\"The
  identifier of the AWS Directory Service directory for the WorkSpace. You can use
  <a>DescribeWorkspaceDirectories</a> to list the available directories.\";}s:27:\"RootVolumeEncryptionEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:66:\"Indicates
  whether the data stored on the root volume is encrypted.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:27:\"The
  tags for the WorkSpace.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:126:\"The
  username of the user for the WorkSpace. This username must exist in the AWS Directory
  Service directory for the WorkSpace.\";}s:27:\"UserVolumeEncryptionEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:66:\"Indicates
  whether the data stored on the user volume is encrypted.\";}s:19:\"VolumeEncryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/VolumeEncryptionKey\";s:11:\"description\";s:58:\"The
  KMS key used to encrypt data stored on your WorkSpace.\";}s:19:\"WorkspaceProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/WorkspaceProperties\";s:11:\"description\";s:25:\"The
  WorkSpace properties.\";}}s:8:\"required\";a:3:{i:0;s:11:\"DirectoryId\";i:1;s:8:\"UserName\";i:2;s:8:\"BundleId\";}s:4:\"type\";s:6:\"object\";}s:20:\"WorkspaceRequestList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/WorkspaceRequest\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:14:\"WorkspaceState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:16:{i:0;s:7:\"PENDING\";i:1;s:9:\"AVAILABLE\";i:2;s:8:\"IMPAIRED\";i:3;s:9:\"UNHEALTHY\";i:4;s:9:\"REBOOTING\";i:5;s:8:\"STARTING\";i:6;s:10:\"REBUILDING\";i:7;s:11:\"MAINTENANCE\";i:8;s:17:\"ADMIN_MAINTENANCE\";i:9;s:11:\"TERMINATING\";i:10;s:10:\"TERMINATED\";i:11;s:9:\"SUSPENDED\";i:12;s:8:\"UPDATING\";i:13;s:8:\"STOPPING\";i:14;s:7:\"STOPPED\";i:15;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}s:17:\"WorkspacesIpGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Information
  about an IP access control group.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"groupDesc\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IpGroupDesc\";s:11:\"description\";s:29:\"The
  description of the group.\";}s:7:\"groupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpGroupId\";s:11:\"description\";s:20:\"The
  ID of the group.\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IpGroupName\";s:11:\"description\";s:22:\"The
  name of the group.\";}s:9:\"userRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IpRuleList\";s:11:\"description\";s:10:\"The
  rules.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"WorkspacesIpGroupsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkspacesIpGroup\";}s:4:\"type\";s:5:\"array\";}}"
...
