---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:12:\"trashnothing\";}s:11:\"description\";s:224:\"This
  is the REST API for [trashnothing.com](https://trashnothing.com).\n\nTo learn more
  about the API or to register your app for use with the API\nvisit the [trash nothing!
  Developer page](https://trashnothing.com/developer).\n\";s:14:\"termsOfService\";s:29:\"https://trashnothing.com/tos\n\";s:5:\"title\";s:14:\"trash
  nothing!\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"social\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:84:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_trashnothing_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:54:\"https://trashnothing.com/api/trashnothing-openapi.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"trashnothing.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"trashnothing\";s:4:\"type\";s:7:\"openapi\";}}"
host: trashnothing.com
basePath: /api/v1.0
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:5:\"Alert\";O:8:\"stdClass\":4:{s:11:\"description\";s:131:\"A
  search alert that the user has created so that they can be notified when new posts
  match the search query specified by the alert.\";s:7:\"example\";O:8:\"stdClass\":6:{s:8:\"alert_id\";i:7584;s:9:\"last_sent\";s:24:\"2018-02-16T12:58:51.000Z\";s:6:\"search\";s:5:\"table\";s:10:\"send_count\";i:3;s:5:\"types\";a:1:{i:0;s:5:\"offer\";}s:7:\"user_id\";i:9191;}s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"alert_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_sent\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  last time that the alert was triggered and sent out (may be null).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"search\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  search phrase that the alert triggers on.\";s:4:\"type\";s:6:\"string\";}s:10:\"send_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  number of time the alert has triggered and been send out.\";s:4:\"type\";s:7:\"integer\";}s:5:\"types\";O:8:\"stdClass\":3:{s:11:\"description\";s:262:\"A
  list of the post types that the alert is set to match against.  The available post
  types are: offer, wanted <br /><br /> NOTE: Additional post types may be added in
  the future (eg. events) so clients should take care to support arbitrary types being
  returned.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"BoundingBox\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"A
  geographic bounding box defined by its southwest and northeast points.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"northeast\";O:8:\"stdClass\":2:{s:8:\"latitude\";d:52.829325566500003;s:9:\"longitude\";d:-0.60095618200000001;}s:9:\"southwest\";O:8:\"stdClass\":2:{s:8:\"latitude\";d:51.002528530500001;s:9:\"longitude\";d:-3.5323240284000001;}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"northeast\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  point defining the northeast corner of the bounding box.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"southwest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  point defining the southwest corner of the bounding box.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CurrentUser\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:20:\"contributed_recently\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Whether
  or not this user has contributed money recently to support the site using the page
  at: https://trashnothing.com/payment\n\";s:4:\"type\";s:7:\"boolean\";}s:14:\"digest_enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Whether
  or not digest emails are enabled for this user.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"digest_frequency\";O:8:\"stdClass\":2:{s:11:\"description\";s:320:\"The
  frequency of digest emails sent to this user. One of: daily, 12_hours, 8_hours,
  6_hours, 4_hours, 2_hours, hourly <br /><br /> NOTE: A weekly option with the value
  'weekly' will probably be added in the future so clients should recognize weekly
  as a valid value that can be displayed and set if it is ever returned.\n\";s:4:\"type\";s:6:\"string\";}s:15:\"digest_timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  timezone used for emailing digests to this user (may be null if digests are disabled).\";s:4:\"type\";s:6:\"string\";}s:14:\"email_bouncing\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Whether
  or not the users' primary email address is bouncing emails sent to it.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"email_spam_stop\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Whether
  or not emails have been stopped because of a spam complaint from the users' email
  account.\";s:4:\"type\";s:7:\"boolean\";}s:30:\"filter_group_posts_by_location\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Whether
  or not group posts should be filtered by their location to only include posts defined
  by the users' location field.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"has_password\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Whether
  or not the user has a password (accounts created using 3rd party providers like
  Facebook don't have passwords set).\";s:4:\"type\";s:7:\"boolean\";}s:8:\"hide_ads\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Whether
  or not advertisements (eg. Google Ads) should be shown to this user.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"last_listings_view\";O:8:\"stdClass\":3:{s:11:\"description\";s:283:\"The
  date and time when the user last viewed the newest posts on the All Posts page (may
  be null). <br /><br /> NOTE: For this to be accurate, clients must update the last_listings_view
  property of the current user every time the user is shown the newest posts on the
  All Posts page.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  users' preference for what public posts they want to see outside of the groups they
  are a member of (may be null).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  text description of the location specified by latitude and longitude.\";s:4:\"type\";s:6:\"string\";}s:6:\"radius\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"Defines
  the radius (in meters) of a circle around the point specified by latitude and longitude.\";s:7:\"maximum\";i:257500;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"post_location\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  short location description used by the user the last time they posted.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"latitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"May
  be null.\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"May
  be null.\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  text description of the location specified by latitude and longitude.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"post_reminders\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Whether
  or not post reminders are enabled for this user (to remind them to update or repost
  their posts).\";s:4:\"type\";s:7:\"boolean\";}s:20:\"profile_image_source\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  source of the users' profile image. One of: gravatar, facebook, twitter, google,
  freegle, custom\n\";s:4:\"type\";s:6:\"string\";}s:11:\"public_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Whether
  or not the user has chosen to make their first and last name public.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"public_post_sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:262:\"A
  list of the public post sources the user is interested in seeing posts from (currently
  only 'trashnothing' is supported). <br /><br /> NOTE: Additional sources may be
  added in the future so clients should take care to support arbitrary sources being
  returned.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"signup\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  date and time when the user signed up.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"uses_fair_offer_policy\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"Whether
  or not the user used the Fair Offer Policy (see https://trashnothing.com/fair_offer_policy
  ) the last time they posted.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Whether
  or not the user has verified their account.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:7:\"example\";O:8:\"stdClass\":26:{s:20:\"contributed_recently\";b:0;s:7:\"country\";s:2:\"US\";s:14:\"digest_enabled\";b:1;s:16:\"digest_frequency\";s:7:\"6_hours\";s:15:\"digest_timezone\";s:14:\"America/Denver\";s:14:\"email_bouncing\";b:0;s:15:\"email_spam_stop\";b:0;s:30:\"filter_group_posts_by_location\";b:1;s:9:\"firstname\";s:4:\"Jack\";s:12:\"has_password\";b:0;s:8:\"hide_ads\";b:0;s:18:\"last_listings_view\";s:24:\"2018-02-15T15:04:47.000Z\";s:8:\"lastname\";s:6:\"Carter\";s:8:\"location\";O:8:\"stdClass\":4:{s:8:\"latitude\";d:39.766098;s:9:\"longitude\";d:-105.077206;s:4:\"name\";s:20:\"Wheat
  Ridge, CO, USA\";s:7:\"radius'\";d:32186.880000000001;}s:12:\"member_since\";s:24:\"2009-09-25T14:20:01.000Z\";s:13:\"post_location\";O:8:\"stdClass\":3:{s:8:\"latitude\";d:39.766098;s:9:\"longitude\";d:-105.077206;s:4:\"name\";s:11:\"Wheat
  Ridge\";}s:14:\"post_reminders\";b:1;s:13:\"profile_image\";s:88:\"https://gravatar.com/avatar/88305a95b05b30f6cd306019ea5d88f3?s=90&r=pg&default=identicon\";s:20:\"profile_image_source\";s:8:\"gravatar\";s:11:\"public_name\";b:0;s:19:\"public_post_sources\";a:1:{i:0;s:12:\"trashnothing\";}s:6:\"signup\";s:24:\"2017-11-20T04:32:06.000Z\";s:7:\"user_id\";i:119458;s:8:\"username\";s:11:\"captainjack\";s:22:\"uses_fair_offer_policy\";b:1;s:8:\"verified\";b:1;}}s:5:\"Email\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Contains
  information about a user email address.\";s:7:\"example\";O:8:\"stdClass\":6:{s:7:\"address\";s:19:\"johndoe@example.com\";s:8:\"bouncing\";b:0;s:8:\"email_id\";i:4729;s:10:\"is_primary\";b:1;s:7:\"user_id\";i:1817;s:8:\"verified\";b:1;}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  email address.\";s:4:\"type\";s:6:\"string\";}s:8:\"bouncing\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Whether
  or not this email address has been bouncing emails that are sent to it.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"email_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"is_primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Whether
  or not this email is the primary email on the user account.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Whether
  or not this email address has been verified.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GeolocateBounds\";O:8:\"stdClass\":3:{s:11:\"description\";s:423:\"Two
  bounding boxes that make using Google Maps' geocoder easier. <br /><br /> The default
  bounding box defines the area in which the post is probably located.  This is useful
  for providing a bounds to Google Maps geocoder. <br /><br /> The limit bounding
  box is a larger bounding box that contains the default bounding box. This is useful
  for discarding Google Maps geocoding results that are outside of this bounding box.\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BoundingBox\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BoundingBox\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":4:{s:11:\"description\";s:298:\"Groups
  are run by volunteer moderators and provide a way to group activity in a specific
  location. Because each group is usually run by different people, there can be variations
  in rules from group to group (eg. who is allowed to join, what is allowed to be
  posted, how often reposts are allowed).\n\";s:7:\"example\";O:8:\"stdClass\":15:{s:7:\"country\";O:8:\"stdClass\":2:{s:12:\"abbreviation\";s:2:\"CA\";s:4:\"name\";s:6:\"Canada\";}s:8:\"group_id\";i:46;s:13:\"has_questions\";b:1;s:8:\"homepage\";s:36:\"https://trashnothing.com/OttawaReuse\";s:10:\"identifier\";s:11:\"OttawaReuse\";s:8:\"latitude\";d:45.423493999999998;s:9:\"longitude\";d:-75.697933000000006;s:12:\"member_count\";i:4838;s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"date\";s:24:\"2015-01-22T17:05:50.000Z\";s:13:\"questionnaire\";O:8:\"stdClass\":2:{s:7:\"message\";s:49:\"This
  group is only for people who live in Ottawa.\";s:9:\"questions\";a:1:{i:0;s:18:\"Where
  do you live?\";}}s:6:\"status\";s:17:\"pending-questions\";}s:4:\"name\";s:12:\"Ottawa
  Reuse\";s:13:\"open_archives\";b:0;s:15:\"open_membership\";b:0;s:6:\"region\";O:8:\"stdClass\":2:{s:12:\"abbreviation\";s:2:\"ON\";s:4:\"name\";s:7:\"Ontario\";}s:8:\"timezone\";s:15:\"America/Toronto\";s:10:\"utc_offset\";i:-5;}s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"country\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"Provides
  information about the country that is associated with a group.  May be null.\";s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"abbreviation\";s:2:\"US\";s:4:\"name\";s:13:\"United
  States\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"abbreviation\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"A
  2 letter country code for the country (see https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
  ).\n\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of the country.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"has_questions\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"When
  true, anyone requesting membership to this group will be required to answer a new
  membership questionnaire.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"homepage\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  URL to the group homepage.\";s:4:\"type\";s:6:\"string\";}s:10:\"identifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"A
  unique identifier for the group that is used in URLs.\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"member_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  number of members who belong to the group.\";s:4:\"type\";s:7:\"integer\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Provides
  information about the current users' active or pending membership to this group
  (if any).  Will be null if there is no active or pending membership to this group.\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:231:\"For
  pending and pending-questions memberships, this is the date and time when the current
  user requested membership to this group. For subscribed memberships, this is the
  date and time when the membership status became subscribed.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"questionnaire\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Membership
  questionnaire data.  Will be null unless the membership status is pending-questions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"A
  message from the group moderators to be displayed above the questions (may be null).\";s:4:\"type\";s:6:\"string\";}s:9:\"questions\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of questions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"One
  of: subscribed, pending, pending-questions\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  name of the group (not guaranteed to be unique).\";s:4:\"type\";s:6:\"string\";}s:13:\"open_archives\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"When
  true, the group posts are viewable by anyone.  When false, the group posts can only
  be viewed by members of the group.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"open_membership\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"When
  true, the group allows anyone to join.  When false, the group moderators review
  and approve applicants.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"region\";O:8:\"stdClass\":4:{s:11:\"description\";s:146:\"Provides
  information about an area within a country that a group is associated with (eg.
  a state in the US or a province in Canada).  May be null.\";s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"abbreviation\";s:2:\"CA\";s:4:\"name\";s:10:\"California\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"abbreviation\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"A
  2 letter abbreviation for the region (is not guaranteed to be globally unique but
  is unique among all the regions in the country).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the region.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  timezone that the group is in (eg. America/New_York).\";s:4:\"type\";s:6:\"string\";}s:10:\"utc_offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"The
  group offset (in hours) from UTC time.  This does not take into account daylight
  savings time (DST) in places that observe DST so it may be incorrect during DST.\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:11:\"GroupNotice\";O:8:\"stdClass\":4:{s:11:\"description\";s:139:\"Group
  notices are created by group moderators in order to provide useful information to
  the group members (eg. group rules and guidelines).\";s:7:\"example\";O:8:\"stdClass\":5:{s:7:\"content\";s:94:\"Everything
  must be free, legal and appropriate for all ages.  Repeat offenders will be banned.\";s:4:\"date\";s:24:\"2018-02-17T13:22:40.000Z\";s:8:\"group_id\";i:1781;s:9:\"notice_id\";i:81178;s:5:\"title\";s:24:\"Group
  Rules & Guidelines\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  date and time when this notice was received.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"notice_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PhotoResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  result of uploading or editing a photo.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"album_url\";s:36:\"https://trashnothing.com/pics/307731\";s:8:\"photo_id\";s:7:\"987-423\";s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:6:\"height\";i:120;s:3:\"url\";s:73:\"https://trashnothing.com/img/2018-02-02/307731-20180119_155358.90x120.jpg\";s:5:\"width\";i:90;}}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"album_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"A
  URL to view all the photos uploaded using the upload_key that this photo was uploaded
  with.\";s:4:\"type\";s:6:\"string\";}s:8:\"photo_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Photo
  thumbnail data.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Post\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"An
  offer, wanted, admin, taken or received post.\";s:7:\"example\";O:8:\"stdClass\":11:{s:7:\"content\";s:109:\"This
  ultrasonic diffuser creates an aroma in your home. It comes with two essential oils
  - mint and lavender.\";s:4:\"date\";s:24:\"2018-02-05T15:10:21.000Z\";s:8:\"group_id\";i:6;s:8:\"latitude\";d:43.653225999999997;s:9:\"longitude\";d:-79.383184;s:6:\"photos\";a:1:{i:0;O:8:\"stdClass\":4:{s:6:\"images\";a:4:{i:0;O:8:\"stdClass\":3:{s:6:\"height\";i:120;s:3:\"url\";s:80:\"https://trashnothing.com/img/2018-02-05/cfsbfm-39051735845_379baab73f.90x120.jpg\";s:5:\"width\";i:90;}i:1;O:8:\"stdClass\":3:{s:6:\"height\";i:240;s:3:\"url\";s:81:\"https://trashnothing.com/img/2018-02-05/cfsbfm-39051735845_379baab73f.180x240.jpg\";s:5:\"width\";i:180;}i:2;O:8:\"stdClass\":3:{s:6:\"height\";i:360;s:3:\"url\";s:81:\"https://trashnothing.com/img/2018-02-05/cfsbfm-39051735845_379baab73f.270x360.jpg\";s:5:\"width\";i:270;}i:3;O:8:\"stdClass\":3:{s:6:\"height\";i:500;s:3:\"url\";s:81:\"https://trashnothing.com/img/2018-02-05/cfsbfm-39051735845_379baab73f.375x500.jpg\";s:5:\"width\";i:375;}}s:8:\"photo_id\";s:13:\"695624-768616\";s:9:\"thumbnail\";s:80:\"https://trashnothing.com/img/2018-02-05/cfsbfm-39051735845_379baab73f.90x120.jpg\";s:3:\"url\";s:81:\"https://trashnothing.com/img/2018-02-05/cfsbfm-39051735845_379baab73f.375x500.jpg\";}}s:7:\"post_id\";i:3171898;s:9:\"satisfied\";b:1;s:5:\"title\";s:38:\"Ultrasonic
  diffuser (Downtown Toronto)\";s:4:\"type\";s:5:\"offer\";s:7:\"user_id\";i:2933;}s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  date and time when the post was published.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"footer\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"Some
  groups add footers to posts that are separate and sometimes unrelated to the post
  itself - such as reminders about group rules or features (may be null).\";s:4:\"type\";s:6:\"string\";}s:8:\"group_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  group ID of the post.  For public posts, this is always null.\n\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"May
  be null if a post hasn't been mapped.\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"May
  be null if a post hasn't been mapped.\";s:4:\"type\";s:6:\"number\";}s:6:\"photos\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Details
  about the photos associated with this post (may be null if there are no photos).\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"All
  the versions of this photo ordered from smallest to largest.  This list is guaranteed
  to include the photos specified by the above thumbnail and url properties.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"photo_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:11:\"description\";s:212:\"A
  URL to a thumbnail of this photo.  The size of the thumbnail depends on the device_pixel_ratio
  parameter and can vary from 120px by 120px up to 360px by 360px (but the thumbnail
  is not guaranteed to be square).\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"A
  URL to a version of this photo that is at most 800px by 600px (but may be smaller
  if no copy of the photo exists at that exact size).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"post_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"satisfied\";O:8:\"stdClass\":2:{s:11:\"description\";s:225:\"For
  offer and wanted posts, indicates whether or not this post has been satisfied or
  not. An offer that has been taken or a want that has been received have both been
  satisfied. For other types of posts, this is always null.\n\";s:4:\"type\";s:7:\"boolean\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:257:\"The
  source of the post.  One of: groups, trashnothing.  A value of groups indicates
  the post is from a group and the group_id field will contain the ID of the group.
  A value of trashnothing indicates the post is a public post not associated with
  any group.\n\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  type of post.  One of: offer, taken, wanted, received, admin\n\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PostSearchResult\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Post\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"search_content\";O:8:\"stdClass\":2:{s:11:\"description\";s:501:\"A
  snippet of the post content as HTML with the parts of the content that matched the
  search query (if any) wrapped in an HTML span tags with the class 'highlight' (eg.
  &lt;span class=\"highlight\"&gt;matched words&lt;/span&gt;). May be null if none
  of the words in the post content matched the search query. <br /><br /> NOTE: This
  is not the full content of the post  It is just a snippet of around 200 characters
  that can be used to display the parts of the post content relevant to the search
  query.\n\";s:4:\"type\";s:6:\"string\";}s:14:\"search_subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:286:\"The
  post subject as HTML with the parts of the subject that matched the search query
  (if any) wrapped in HTML span tags with the class 'highlight'. (eg. &lt;span class=\"highlight\"&gt;matched
  words&lt;/span&gt;). May be null if none of the words in the subject matched the
  search query.\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:7:\"example\";O:8:\"stdClass\":12:{s:7:\"content\";s:277:\"Panasonic
  microwave oven in good working order 800 W power and turntable inside Has all the
  normal microwave functions plus grill elements for browning Comes with original
  instructions booklet It's an old microwave and could do with a bit of a clean, but
  still works very well\n\";s:4:\"date\";s:24:\"2018-02-18T17:11:38.000Z\";s:8:\"group_id\";i:81;s:8:\"latitude\";d:42.961404000000002;s:9:\"longitude\";d:-88.012585999999999;s:7:\"post_id\";i:25997431;s:9:\"satisfied\";b:0;s:14:\"search_content\";s:103:\"Panasonic
  <span class=\"highlight\">microwave</span> oven in good working order 800 W power
  and turntable\";s:14:\"search_subject\";s:58:\"<span class=\"highlight\">Microwave</span>
  Oven (Greenfield)\";s:5:\"title\";s:27:\"Microwave Oven (Greenfield)\";s:4:\"type\";s:5:\"offer\";s:7:\"user_id\";i:82928;}}s:4:\"User\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":5:{s:7:\"country\";s:2:\"GB\";s:12:\"member_since\";s:24:\"2017-01-27T06:35:55.000Z\";s:13:\"profile_image\";s:114:\"https://lh3.googleusercontent.com/-1qVLzuOCyYg/AAAAAAAAAAI/AAAAAAAAAAA/0aGNzRAO61c/s64-c/100783935580725962164.jpg\";s:7:\"user_id\";i:2946512;s:8:\"username\";s:11:\"fred
  gibson\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"A
  2 letter country code for the country that has been automatically detected for the
  user (see https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 ). May be null if no
  country has been set.\n\";s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  first name of the user (may be null).\";s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  last name of the user (may be null).\";s:4:\"type\";s:6:\"string\";}s:12:\"member_since\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"The
  date and time when the user first became publicly active on a group (the date may
  be older than when the user signed up).\";s:4:\"type\";s:6:\"string\";}s:13:\"profile_image\";O:8:\"stdClass\":2:{s:11:\"description\";s:170:\"A
  URL to a profile image for the user.  Profile images sizes vary based on the source
  (Google, Facebook, Twitter, Gravatar, etc) and some can be as small as 64px by 64px.\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"A
  username that can be displayed for the user (the username is NOT guaranteed to be
  unique).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
