---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"PaymentsEcommerce\";s:7:\"contact\";O:8:\"stdClass\":0:{}s:7:\"version\";s:3:\"1.0\";}"
host: api.t-mobile.com
basePath: /payments/ecommerce/v2
paths:
  /cnpsales:
    post:
      tags:
      - Card not present sale
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            maxItems: 1
            $ref: '#/definitions/cnpSalesResponse'
          headers:
            Access-Control-Allow-Headers:
              description: The Access-Control-Allow-Headers header indicates, as part
                of a pre-flight request which headers can be used on the actual request.
              type: string
            Access-Control-Allow-Methods:
              description: The Access-Control-Allow-Methods header indicates, as part
                of a pre-flight request which methods can be used on the actual request.
              type: string
            Access-Control-Allow-Origin:
              description: The Access-Control-Allow-Origin header indicates whether
                a resource can be shared by returning the value of the Origin request
                header or ufffd*ufffd in the response.
              type: string
            Cache-Control:
              description: no-cache
              type: string
            Content-Length:
              description: The Content-Length header specifies the actual length of
                the returned payload.
              type: string
            Content-Type:
              description: The Content-Length header specifies the actual length of
                the returned payload.
              type: string
            ETag:
              description: The ETag header specifies the unique entity tag value for
                the returned resource.
              type: string
            Expires:
              description: The Expires header gives the date-time after which the
                response is considered stale.
              type: string
            Location:
              description: The Location header specifies the URI of a created resource,
                or redirects the API consumer to an alternate resource location.
              type: string
            servicetransactionid:
              description: Internal identifier for transaction tracking an individual
                transaction/API request within API platform. Donufffdt receive/donufffdt
                send to downstream
              type: string
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/errors'
        500:
          description: System Error
          schema:
            $ref: '#/definitions/errors'
        503:
          description: Service Unavailable
          schema:
            $ref: '#/definitions/errors'
      operationId: CNP Sale
      parameters:
      - name: cnpSalesRequest
        in: body
        schema:
          maxItems: 1
          $ref: '#/definitions/cnpSalesRequest'
        description: ""
      - $ref: '#/parameters/AuthorizationParam'
      - $ref: '#/parameters/Content-typeParam'
      - $ref: '#/parameters/AcceptParam'
      - $ref: '#/parameters/applicationuseridParam'
      - $ref: '#/parameters/sessionidParam'
      - $ref: '#/parameters/interactionidParam'
      - $ref: '#/parameters/activityidParam'
      - $ref: '#/parameters/workflowidParam'
      - $ref: '#/parameters/timestampParam'
      - $ref: '#/parameters/storeidParam'
      - $ref: '#/parameters/terminalidParam'
      - $ref: '#/parameters/tillidParam'
      - $ref: '#/parameters/dealercodeParam'
      - $ref: '#/parameters/segmentationidParam'
      - $ref: '#/parameters/authcustomeridParam'
      - $ref: '#/parameters/authfinancialaccountidParam'
      - $ref: '#/parameters/authlineofserviceidParam'
      - $ref: '#/parameters/Access-Control-Request-HeadersParam'
      - $ref: '#/parameters/Access-Control-Request-MethodParam'
      - $ref: '#/parameters/If-MatchParam'
      - $ref: '#/parameters/If-Modified-SinceParam'
      - $ref: '#/parameters/If-None-MatchParam'
      - $ref: '#/parameters/OriginParam'
      summary: Authorize and settle (AuthCapture) a payment transaction
      description: This API invoke the payment microservices tonauthorize and settle
        (AuthCapture) a payment transaction. This API needs to beninvoked for Card
        not present channels (Scenarios where the card is not swiped).
  /ecpsales:
    post:
      tags:
      - ECP Sale
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            maxItems: 1
            $ref: '#/definitions/ecpsalesResponse'
          headers:
            Access-Control-Allow-Headers:
              description: The Access-Control-Allow-Headers header indicates, as part
                of a pre-flight request which headers can be used on the actual request.
              type: string
            Access-Control-Allow-Methods:
              description: The Access-Control-Allow-Methods header indicates, as part
                of a pre-flight request which methods can be used on the actual request.
              type: string
            Access-Control-Allow-Origin:
              description: The Access-Control-Allow-Origin header indicates whether
                a resource can be shared by returning the value of the Origin request
                header or ufffd*ufffd in the response.
              type: string
            Cache-Control:
              description: no-cache
              type: string
            Content-Length:
              description: The Content-Length header specifies the actual length of
                the returned payload.
              type: string
            Content-Type:
              description: The Content-Length header specifies the actual length of
                the returned payload.
              type: string
            ETag:
              description: The ETag header specifies the unique entity tag value for
                the returned resource.
              type: string
            Expires:
              description: The Expires header gives the date-time after which the
                response is considered stale.
              type: string
            Location:
              description: The Location header specifies the URI of a created resource,
                or redirects the API consumer to an alternate resource location.
              type: string
            servicetransactionid:
              description: Internal identifier for transaction tracking an individual
                transaction/API request within API platform. Donufffdt receive/donufffdt
                send to downstream
              type: string
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/errors'
        500:
          description: System Error
          schema:
            $ref: '#/definitions/errors'
        503:
          description: Service Unavailable
          schema:
            $ref: '#/definitions/errors'
      operationId: ECP Payment
      parameters:
      - name: ecpsalesRequest
        in: body
        schema:
          maxItems: 1
          $ref: '#/definitions/ecpsalesRequest'
        description: ""
      - $ref: '#/parameters/AuthorizationParam'
      - $ref: '#/parameters/Content-typeParam'
      - $ref: '#/parameters/AcceptParam'
      - $ref: '#/parameters/applicationuseridParam'
      - $ref: '#/parameters/sessionidParam'
      - $ref: '#/parameters/interactionidParam'
      - $ref: '#/parameters/activityidParam'
      - $ref: '#/parameters/workflowidParam'
      - $ref: '#/parameters/timestampParam'
      - $ref: '#/parameters/storeidParam'
      - $ref: '#/parameters/terminalidParam'
      - $ref: '#/parameters/tillidParam'
      - $ref: '#/parameters/dealercodeParam'
      - $ref: '#/parameters/segmentationidParam'
      - $ref: '#/parameters/authcustomeridParam'
      - $ref: '#/parameters/authfinancialaccountidParam'
      - $ref: '#/parameters/authlineofserviceidParam'
      - $ref: '#/parameters/Access-Control-Request-HeadersParam'
      - $ref: '#/parameters/Access-Control-Request-MethodParam'
      - $ref: '#/parameters/If-MatchParam'
      - $ref: '#/parameters/If-Modified-SinceParam'
      - $ref: '#/parameters/If-None-MatchParam'
      - $ref: '#/parameters/OriginParam'
      summary: Authorize and settle (AuthCapture) a payment transaction
      description: ThisnAPI invoke the payment microservices to authorize and settle
        (AuthCapture) anpayment transaction. This API needs to be invoked for bank
        accounts.
  /cnpauthorization:
    post:
      tags:
      - Paymnet Auth
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            maxItems: 1
            $ref: '#/definitions/cnpSalesAuthorizeResponse'
          headers:
            Access-Control-Allow-Headers:
              description: The Access-Control-Allow-Headers header indicates, as part
                of a pre-flight request which headers can be used on the actual request.
              type: string
            Access-Control-Allow-Methods:
              description: The Access-Control-Allow-Methods header indicates, as part
                of a pre-flight request which methods can be used on the actual request.
              type: string
            Access-Control-Allow-Origin:
              description: The Access-Control-Allow-Origin header indicates whether
                a resource can be shared by returning the value of the Origin request
                header or ufffd*ufffd in the response.
              type: string
            Cache-Control:
              description: no-cache
              type: string
            Content-Length:
              description: The Content-Length header specifies the actual length of
                the returned payload.
              type: string
            Content-Type:
              description: The Content-Length header specifies the actual length of
                the returned payload.
              type: string
            ETag:
              description: The ETag header specifies the unique entity tag value for
                the returned resource.
              type: string
            Expires:
              description: The Expires header gives the date-time after which the
                response is considered stale.
              type: string
            Location:
              description: The Location header specifies the URI of a created resource,
                or redirects the API consumer to an alternate resource location.
              type: string
            servicetransactionid:
              description: Internal identifier for transaction tracking an individual
                transaction/API request within API platform. Donufffdt receive/donufffdt
                send to downstream
              type: string
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/errors'
        500:
          description: System Error
          schema:
            $ref: '#/definitions/errors'
        503:
          description: Service Unavailable
          schema:
            $ref: '#/definitions/errors'
      operationId: Payment Authorization
      parameters:
      - name: cnpSalesAuthorizeRequest
        in: body
        schema:
          maxItems: 1
          $ref: '#/definitions/cnpSalesAuthorizeRequest'
        description: ""
      - $ref: '#/parameters/AuthorizationParam'
      - $ref: '#/parameters/Content-typeParam'
      - $ref: '#/parameters/AcceptParam'
      - $ref: '#/parameters/applicationuseridParam'
      - $ref: '#/parameters/sessionidParam'
      - $ref: '#/parameters/interactionidParam'
      - $ref: '#/parameters/activityidParam'
      - $ref: '#/parameters/workflowidParam'
      - $ref: '#/parameters/timestampParam'
      - $ref: '#/parameters/storeidParam'
      - $ref: '#/parameters/terminalidParam'
      - $ref: '#/parameters/tillidParam'
      - $ref: '#/parameters/dealercodeParam'
      - $ref: '#/parameters/segmentationidParam'
      - $ref: '#/parameters/authcustomeridParam'
      - $ref: '#/parameters/authfinancialaccountidParam'
      - $ref: '#/parameters/authlineofserviceidParam'
      - $ref: '#/parameters/Access-Control-Request-HeadersParam'
      - $ref: '#/parameters/Access-Control-Request-MethodParam'
      - $ref: '#/parameters/If-MatchParam'
      - $ref: '#/parameters/If-Modified-SinceParam'
      - $ref: '#/parameters/If-None-MatchParam'
      - $ref: '#/parameters/OriginParam'
      summary: Authorize a payment transaction
      description: This API needs to be invoked for Card not present channels (Scenarios
        where the card is not swiped). This API will not support Auth plus settle.
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":17:{s:14:\"accountBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:28:\"accountBalanceExpirationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:20:\"AccountHolderAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"addressId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Identifier
  of address.\";s:4:\"type\";s:6:\"string\";}s:8:\"purposes\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  purpose or usage context for which the address should be used.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"addressLine1\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  first line of the address, required.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLine2\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  second line of the address, optional.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLine3\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  third line of the address, optional.\";s:4:\"type\";s:6:\"string\";}s:8:\"cityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  name of the city in the mailing address. For military or diplomatic addresses should
  contain FPO, APO, or DPO.\";s:4:\"type\";s:6:\"string\";}s:9:\"stateCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  two letter state code.\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  5 digit zip or postal delivery code.\";s:4:\"type\";s:6:\"string\";}s:6:\"zipExt\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  zip or postal delivery extension.\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Country
  code\";s:4:\"type\";s:6:\"string\";}s:17:\"addressFormatType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Flags
  the address to be used for default communications.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"CardHolderAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"addressId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Identifier
  of address.\";s:4:\"type\";s:6:\"string\";}s:8:\"purposes\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  purpose or usage context for which the address should be used.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"addressLine1\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  first line of the address, required.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLine2\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  second line of the address, optional.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLine3\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  third line of the address, optional.\";s:4:\"type\";s:6:\"string\";}s:8:\"cityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  name of the city in the mailing address. For military or diplomatic addresses should
  contain FPO, APO, or DPO.\";s:4:\"type\";s:6:\"string\";}s:9:\"stateCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  two letter state code.\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  5 digit zip or postal delivery code.\";s:4:\"type\";s:6:\"string\";}s:6:\"zipExt\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  zip or postal delivery extension.\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Country
  code\";s:4:\"type\";s:6:\"string\";}s:17:\"addressFormatType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Flags
  the address to be used for default communications.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"CardImage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"attachmentReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Uniquely
  identifies the attachment record in the context of the cart or other parent object.\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:304:\"Mime
  type of the encoded document.  Mime type construction will conform to RFC 2045,
  and will use accepted mime types per the IANA mime type  listings.  Specific supported
  document types at the time of this writing are: application/pdf, image/png, text/plain,
  text/x-url, text/html, text/xml, image/jpeg.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Description
  of the attachment\";s:4:\"type\";s:6:\"string\";}s:12:\"embeddedData\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Element
  holding data embedded directly in the BOD instance.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"cnpSalesRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"chargeAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  total amount of the transaction inclusive of all additional amounts.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:16:\"authorizedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Amount
  authorized by the financial institution.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"offerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Offer
  Id\";s:4:\"type\";s:6:\"string\";}s:8:\"sourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"To
  identify where the payment is originated from.\";s:4:\"type\";s:6:\"string\";}s:18:\"paymentChannelCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  channel in which the payment was originally performed.\";s:4:\"type\";s:6:\"string\";}s:15:\"transactionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  type of transaction being performed, such as onetimePayment,activation\";s:4:\"type\";s:6:\"string\";}s:11:\"orderNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  order number this payment is associated with.\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"A
  unique ID used to identify the Merchant.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Customers
  phone number\";s:4:\"type\";s:6:\"string\";}s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  financial account number that identifies the account.\";s:4:\"type\";s:6:\"string\";}s:10:\"customerID\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Uniquely
  identifies the customer party.\";s:4:\"type\";s:6:\"string\";}s:9:\"taxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Amount
  of tax included in the payment transaction.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Time
  when the Payment request was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:23:\"termsAgreementIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"To
  indicate if the customer accept the agreement or not.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"termsAgreementTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Time
  when the customer accepts the terms agreement.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"paymentMethodId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Uniquely
  identifies a stored payment method.\";s:4:\"type\";s:6:\"string\";}s:29:\"defaultPaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"To
  indicate if this payment method is default\";s:4:\"type\";s:7:\"boolean\";}s:17:\"paymentMethodCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Code
  identifying the current payment method specified for the payment instrument.\";s:4:\"type\";s:6:\"string\";}s:21:\"storedPaymentMethodId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Identifer
  of stored payment method\";s:4:\"type\";s:6:\"string\";}s:27:\"storePaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"To
  identify if the current payment method needs to be stored in payment gateway.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"paymentInstrument\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PaymentInstrument\";}}}s:16:\"cnpSalesResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:20:\"paymentTransactionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"A
  value assigned by the merchant to uniquely reference a transaction and any subsequent
  related transactions\";s:4:\"type\";s:6:\"string\";}s:13:\"paymentStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Status
  of the payment transaction, Possible values: Pending, Completed/Posted, Cancelled,
  Rejected, Scheduled\";s:4:\"type\";s:6:\"string\";}s:12:\"chargeAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  total amount of the transaction inclusive of all additional amounts.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:16:\"authorizedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Amount
  authorized by the financial institution.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Status
  code\";s:4:\"type\";s:6:\"string\";}s:13:\"subStatusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Sub
  Status Code\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Status
  reason code\";s:4:\"type\";s:6:\"string\";}s:17:\"reasonDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Status
  reason description\";s:4:\"type\";s:6:\"string\";}s:15:\"authorizationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Identifier
  or code of the transaction authorization.\";s:4:\"type\";s:6:\"string\";}s:29:\"defaultPaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"To
  indicate if this payment method is default\";s:4:\"type\";s:7:\"boolean\";}s:21:\"storedPaymentMethodId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Identifer
  of stored payment method\";s:4:\"type\";s:6:\"string\";}s:27:\"storePaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"To
  identify if the current payment method needs to be stored in payment gateway.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"accountBalance\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"accountBalance\";s:4:\"type\";s:6:\"string\";}s:28:\"accountBalanceExpirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"accountBalanceExpirationDate\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:16:\"ecpsalesResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:20:\"paymentTransactionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"A
  value assigned by the merchant to uniquely reference a transaction and any subsequent
  related transactions\";s:4:\"type\";s:6:\"string\";}s:13:\"paymentStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Status
  of the payment transaction, Possible values: Pending, Completed/Posted, Cancelled,
  Rejected, Scheduled\";s:4:\"type\";s:6:\"string\";}s:12:\"chargeAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  total amount of the transaction inclusive of all additional amounts.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:16:\"authorizedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Amount
  authorized by the financial institution.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Status
  code\";s:4:\"type\";s:6:\"string\";}s:13:\"subStatusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Sub
  Status Code\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Status
  reason code\";s:4:\"type\";s:6:\"string\";}s:17:\"reasonDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Status
  reason description\";s:4:\"type\";s:6:\"string\";}s:15:\"authorizationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Identifier
  or code of the transaction authorization.\";s:4:\"type\";s:6:\"string\";}s:29:\"defaultPaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"To
  indicate if this payment method is default\";s:4:\"type\";s:7:\"boolean\";}s:21:\"storedPaymentMethodId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Identifer
  of stored payment method\";s:4:\"type\";s:6:\"string\";}s:27:\"storePaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"To
  identify if the current payment method needs to be stored in payment gateway.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"accountBalance\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"accountBalance\";s:4:\"type\";s:6:\"string\";}s:28:\"accountBalanceExpirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"accountBalanceExpirationDate\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:15:\"ecpsalesRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:12:\"chargeAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  total amount of the transaction inclusive of all additional amounts.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:16:\"authorizedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Amount
  authorized by the financial institution.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"offerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Offer
  Id\";s:4:\"type\";s:6:\"string\";}s:8:\"sourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"To
  identify where the payment is originated from.\";s:4:\"type\";s:6:\"string\";}s:18:\"paymentChannelCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  channel in which the payment was originally performed.\";s:4:\"type\";s:6:\"string\";}s:15:\"transactionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  type of transaction being performed, such as onetimePayment,activation\";s:4:\"type\";s:6:\"string\";}s:11:\"orderNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  order number this payment is associated with.\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"A
  unique ID used to identify the Merchant.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Customers
  phone number\";s:4:\"type\";s:6:\"string\";}s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  financial account number that identifies the account.\";s:4:\"type\";s:6:\"string\";}s:10:\"customerID\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Uniquely
  identifies the customer party.\";s:4:\"type\";s:6:\"string\";}s:9:\"taxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Amount
  of tax included in the payment transaction.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Time
  when the Payment request was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:23:\"termsAgreementIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"To
  indicate if the customer accept the agreement or not.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"termsAgreementTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Time
  when the customer accepts the terms agreement.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"paymentMethodId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Uniquely
  identifies a stored payment method.\";s:4:\"type\";s:6:\"string\";}s:29:\"defaultPaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"To
  indicate if this payment method is default\";s:4:\"type\";s:7:\"boolean\";}s:17:\"paymentMethodCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Code
  identifying the current payment method specified for the payment instrument.\";s:4:\"type\";s:6:\"string\";}s:17:\"paymentInstrument\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PaymentInstrument\";}}}s:11:\"bankPayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Customer
  Bank Account Number\";s:4:\"type\";s:6:\"string\";}s:13:\"routingNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Customer
  Bank Account Routing Number\";s:4:\"type\";s:6:\"string\";}s:11:\"accountType\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"accountType\";s:4:\"type\";s:6:\"string\";}s:20:\"AccountHolderAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"AccountHolderAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AccountHolderAddress\";}}}}}s:24:\"cnpSalesAuthorizeRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"chargeAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  total amount of the transaction inclusive of all additional amounts.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:16:\"authorizedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Amount
  authorized by the financial institution.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"offerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Offer
  Id\";s:4:\"type\";s:6:\"string\";}s:8:\"sourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"To
  identify where the payment is originated from.\";s:4:\"type\";s:6:\"string\";}s:18:\"paymentChannelCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  channel in which the payment was originally performed.\";s:4:\"type\";s:6:\"string\";}s:15:\"transactionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  type of transaction being performed, such as onetimePayment,activation\";s:4:\"type\";s:6:\"string\";}s:11:\"orderNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  order number this payment is associated with.\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"A
  unique ID used to identify the Merchant.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Customers
  phone number\";s:4:\"type\";s:6:\"string\";}s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  financial account number that identifies the account.\";s:4:\"type\";s:6:\"string\";}s:10:\"customerID\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Uniquely
  identifies the customer party.\";s:4:\"type\";s:6:\"string\";}s:9:\"taxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Amount
  of tax included in the payment transaction.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Time
  when the Payment request was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:23:\"termsAgreementIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"To
  indicate if the customer accept the agreement or not.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"termsAgreementTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Time
  when the customer accepts the terms agreement.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"paymentMethodId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Uniquely
  identifies a stored payment method.\";s:4:\"type\";s:6:\"string\";}s:29:\"defaultPaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"To
  indicate if this payment method is default\";s:4:\"type\";s:7:\"boolean\";}s:17:\"paymentMethodCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Code
  identifying the current payment method specified for the payment instrument.\";s:4:\"type\";s:6:\"string\";}s:21:\"storedPaymentMethodId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Identifer
  of stored payment method\";s:4:\"type\";s:6:\"string\";}s:27:\"storePaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"To
  identify if the current payment method needs to be stored in payment gateway.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"paymentInstrument\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PaymentInstrument\";}}}s:25:\"cnpSalesAuthorizeResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:20:\"paymentTransactionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"A
  value assigned by the merchant to uniquely reference a transaction and any subsequent
  related transactions\";s:4:\"type\";s:6:\"string\";}s:13:\"paymentStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Status
  of the payment transaction, Possible values: Pending, Completed/Posted, Cancelled,
  Rejected, Scheduled\";s:4:\"type\";s:6:\"string\";}s:12:\"chargeAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  total amount of the transaction inclusive of all additional amounts.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:16:\"authorizedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Amount
  authorized by the financial institution.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Status
  code\";s:4:\"type\";s:6:\"string\";}s:13:\"subStatusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Sub
  Status Code\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Status
  reason code\";s:4:\"type\";s:6:\"string\";}s:17:\"reasonDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Status
  reason description\";s:4:\"type\";s:6:\"string\";}s:15:\"authorizationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Identifier
  or code of the transaction authorization.\";s:4:\"type\";s:6:\"string\";}s:29:\"defaultPaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"To
  indicate if this payment method is default\";s:4:\"type\";s:7:\"boolean\";}s:21:\"storedPaymentMethodId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Identifer
  of stored payment method\";s:4:\"type\";s:6:\"string\";}s:27:\"storePaymentMethodIndicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"To
  identify if the current payment method needs to be stored in payment gateway.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"accountBalance\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"accountBalance\";s:4:\"type\";s:6:\"string\";}s:28:\"accountBalanceExpirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"accountBalanceExpirationDate\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:10:\"CreditCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:15:\"last4CardNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Last
  four digits of the card used for payment\";s:4:\"type\";s:6:\"string\";}s:10:\"cardNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Payment
  card number\";s:4:\"type\";s:6:\"string\";}s:8:\"typeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Type
  of payment Card. Examples are Visa, MasterCard, Debit etc\";s:4:\"type\";s:6:\"string\";}s:14:\"cardHolderName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  of the Card Holder\";s:4:\"type\";s:6:\"string\";}s:19:\"cardHolderFirstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"First
  name of the card holder\";s:4:\"type\";s:6:\"string\";}s:18:\"cardHolderLastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Last
  name of the card holder\";s:4:\"type\";s:6:\"string\";}s:11:\"companyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Business
  Name identified for the card if applicable\";s:4:\"type\";s:6:\"string\";}s:19:\"expirationMonthYear\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Expiration
  month and year of the card\";s:4:\"type\";s:6:\"string\";}s:17:\"cardHolderAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CardHolderAddress\";}s:9:\"cardImage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CardImage\";}s:3:\"cvv\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Card
  Verification Value\";s:4:\"type\";s:6:\"string\";}s:11:\"maskingType\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  type of masking to be applied to the credit card number for security and privacy.\";s:4:\"type\";s:6:\"string\";}s:16:\"paymentCardAlias\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"A
  nickname assigned by the customer as an alternative way to identify a stored payment
  card.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"DebitCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:15:\"last4CardNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Last
  four digits of the card used for payment\";s:4:\"type\";s:6:\"string\";}s:10:\"cardNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Payment
  card number\";s:4:\"type\";s:6:\"string\";}s:8:\"typeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Type
  of payment Card. Examples are Visa, MasterCard, Debit etc\";s:4:\"type\";s:6:\"string\";}s:14:\"cardHolderName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  of the Card Holder\";s:4:\"type\";s:6:\"string\";}s:19:\"cardHolderFirstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"First
  name of the card holder\";s:4:\"type\";s:6:\"string\";}s:18:\"cardHolderLastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Last
  name of the card holder\";s:4:\"type\";s:6:\"string\";}s:11:\"companyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Business
  Name identified for the card if applicable\";s:4:\"type\";s:6:\"string\";}s:19:\"expirationMonthYear\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Expiration
  month and year of the card\";s:4:\"type\";s:6:\"string\";}s:17:\"cardHolderAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CardHolderAddress\";}s:9:\"cardImage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CardImage\";}s:3:\"cvv\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Card
  Verification Value\";s:4:\"type\";s:6:\"string\";}s:11:\"maskingType\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  type of masking to be applied to the credit card number for security and privacy.\";s:4:\"type\";s:6:\"string\";}s:16:\"paymentCardAlias\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"A
  nickname assigned by the customer as an alternative way to identify a stored payment
  card.\";s:4:\"type\";s:6:\"string\";}s:3:\"PIN\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"PIN
  code of the card\";s:4:\"type\";s:6:\"string\";}}}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"a
  collection of errors\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/responseError\";}}s:17:\"PaymentInstrument\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"creditCard\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CreditCard\";}s:9:\"debitCard\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DebitCard\";}s:11:\"bankPayment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/bankPayment\";}s:23:\"chargeAccountNumberType\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  type of charge account number format.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"responseError\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Used
  to pass error information in a response.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Used
  to pass error codes\";s:4:\"type\";s:6:\"string\";}s:11:\"userMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Use
  to pass human friendly information to the user.\";s:4:\"type\";s:6:\"string\";}s:13:\"systemMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Used
  to pass system information.\";s:4:\"type\";s:6:\"string\";}}}}"
...
