---
swagger: "2.0"
info: This is the information of the API
host: graph.facebook.com
basePath: /<
paths:
  https://developers.google.com/streetview/spherical-metadata:
    post:
      parameters:
      - in: query
        name: aidnstringnnLegacy
        description: album ID. DeprecatednDeprecatedn
        type: integer
        required: required
      - in: query
        name: allow_spherical_photonbooleannDefault
        description: 'value: falsennIndicates that we should allow this photo to be
          treated as a spherical photo. This will not change the behavior unless the
          server is able to interpret the photo as spherical, such as via Photosphere
          XMP metadata. Regular non-spherical photos will still be treated as regular
          photos even if this parameter is true.n'
        type: integer
        required: required
      - in: query
        name: application_idnnon-empty
        description: stringnniTunes App ID. This is used by the native Share dialog
          that's part of iOSn
        type: integer
        required: required
      - in: query
        name: audience_expnbooleannDefault
        description: 'value: falsennAudience expn'
        type: integer
        required: required
      - in: query
        name: backdated_timendatetimennA
        description: user-specified creation time for this photon
        type: integer
        required: required
      - in: query
        name: backdated_time_granularitynenum{year,
        description: 'month, day, hour, min, none}nDefault value: nonennUse only the
          part of the backdated_time parameter to the specified granularityn'
        type: integer
        required: required
      - in: query
        name: captionnUTF-8
        description: stringnnThe description of the photonSupports Emojin
        type: integer
        required: required
      - in: query
        name: composer_session_idnstringnnComposer
        description: session_idnstringnnComposer session IDn
        type: integer
        required: required
      - in: query
        name: direct_share_statusnint64nnThe
        description: statusnint64nnThe status to allow sponsor directly boost the
          post.n
        type: integer
        required: required
      - in: query
        name: feed_targetingnfeed
        description: targetnnObject that controls News Feed targeting for this post.
          Anyone in these groups will be more likely to see this post. People not
          in these groups will be less likely to see this post, but may still see
          it anyway. Any of the targeting fields shown here can be used, but none
          are required. feed_targeting applies to Pages only.n
        type: integer
        required: required
      - []
      - []
      - []
      - []
      - []
      - []
      - []
      - []
      - in: query
        name: localesnlist<string>nnValues
        description: for targeted locales. Use type of adlocale to find Targeting
          Options and use the returned key to specify.n
        type: integer
        required: required
      - in: query
        name: age_minnint64nnMust
        description: be 13 or higher. Default is 0.n
        type: integer
        required: required
      - in: query
        name: age_maxnint64nnMaximum
        description: age.n
        type: integer
        required: required
      - in: query
        name: gendersnlist<int64>nnTarget
        description: specific genders. 1 targets all male viewers and 2 females. Default
          is to target both.n
        type: integer
        required: required
      - in: query
        name: college_yearsnlist<int64>nnArray
        description: of integers. Represent graduation years from college.n
        type: integer
        required: required
      - in: query
        name: education_statusesnlist<int64>nnArray
        description: of integers which represent current educational status. Use 1
          for high school, 2 for undergraduate, and 3 for alum (or localized equivalents).n
        type: integer
        required: required
      - in: query
        name: interested_innlist<int64>nnIndicates
        description: targeting based on the 'interested in' field of the user profile.
          You can specify an integer of 1 to indicate male, 2 indicates female. Default
          is all types. Please note 'interested in' targeting is not available in
          France due to local laws.n
        type: integer
        required: required
      - in: query
        name: relationship_statusesnlist<int64>nnArray
        description: of integers for targeting based on relationship status. Use 1
          for single, 2 for 'in a relationship', 3 for married, and 4 for engaged.
          Default is all types.n
        type: integer
        required: required
      - in: query
        name: interestsnlist<int64>nnOne
        description: or more IDs of pages to target fans of pages.Use type of page
          to get possible IDs as find Targeting Options and use the returned id to
          specify.n
        type: integer
        required: required
      - in: query
        name: full_res_is_coming_laternbooleannDefault
        description: 'value: falsennFull res is coming latern'
        type: integer
        required: required
      - in: query
        name: initial_view_heading_override_degreesnint64nnManually
        description: specify the initial view heading in degrees from 0 to 360. This
          overrides any value present in the photo embedded metadata or provided in
          the spherical_metadata parametern
        type: integer
        required: required
      - in: query
        name: initial_view_pitch_override_degreesnint64nnManually
        description: specify the initial view pitch in degrees from -90 to 90. This
          overrides any value present in the photo embedded metadata or provided in
          the spherical_metadata parametern
        type: integer
        required: required
      - in: query
        name: initial_view_vertical_fov_override_degreesnint64nnManually
        description: specify the initial view vertical FOV in degrees from 60 to 120.
          This overrides any value present in the photo embedded metadata or provided
          in the spherical_metadata parametern
        type: integer
        required: required
      - in: query
        name: is_explicit_locationnbooleannnIs
        description: this an explicit location?n
        type: integer
        required: required
      - in: query
        name: is_explicit_placenbooleannnIf
        description: set to true , the tag is a place, not a personn
        type: integer
        required: required
      - in: query
        name: manual_privacynbooleannDefault
        description: 'value: falsennManual privacyn'
        type: integer
        required: required
      - in: query
        name: messagenUTF-8
        description: stringnnDeprecated. Please use the caption param instead.nDeprecated
          Supports Emojin
        type: integer
        required: required
      - in: query
        name: namenUTF-8
        description: stringnnDeprecated. Please use the caption param instead.nDeprecated
          Supports Emojin
        type: integer
        required: required
      - in: query
        name: no_storynbooleannnIf
        description: set to true , this will suppress the News Feed story that is
          automatically generated on a profile when people upload a photo using your
          app. Useful for adding old photos where you may not want to generate a storyn
        type: integer
        required: required
      - in: query
        name: offline_idnint64nDefault
        description: 'value: 0nnOffline IDn'
        type: integer
        required: required
      - in: query
        name: og_action_type_idnnumeric
        description: string or integernnThe Open Graph action typen
        type: integer
        required: required
      - in: query
        name: og_icon_idnnumeric
        description: string or integernnThe Open Graph iconn
        type: integer
        required: required
      - in: query
        name: og_object_idnOG
        description: object_idnOG object ID or URL stringnnThe Open Graph object IDn
        type: integer
        required: required
      - in: query
        name: og_phrasenstringnnThe
        description: Open Graph phrasen
        type: integer
        required: required
      - in: query
        name: og_set_profile_badgenbooleannDefault
        description: 'value: falsennFlag to set if the post should create a profile
          badgen'
        type: integer
        required: required
      - in: query
        name: og_suggestion_mechanismnstringnnThe
        description: Open Graph suggestionn
        type: integer
        required: required
      - in: query
        name: placenplace
        description: tagnnPage ID of a place associated with the photon
        type: integer
        required: required
      - in: query
        name: privacynPrivacy
        description: ParameternnDetermines the privacy settings of the photo. If not
          supplied, this defaults to the privacy level granted to the app in the Login
          dialog. This field cannot be used to set a more open privacy setting than
          the one grantedn
        type: integer
        required: required
      - in: query
        name: profile_idnintnnDeprecated.
        description: Use target_id insteadnDeprecatedn
        type: integer
        required: required
      - in: query
        name: publishednbooleannDefault
        description: 'value: truennSet to false if you don''t want the photo to be
          published immediatelyn'
        type: integer
        required: required
      - in: query
        name: qnnstringnnPhotos
        description: waterfall IDn
        type: integer
        required: required
      - in: query
        name: scheduled_publish_timenint64nnTime
        description: at which an unpublished post should be published. Applies to
          Pages onlyn
        type: integer
        required: required
      - in: query
        name: spherical_metadatanJSON
        description: 'objectnnA set of params describing an uploaded spherical photo.
          This field is not required; if it is not present we will try to generate
          spherical metadata from the metadata embedded in the image. If it is present,
          it takes precedence over any embedded metadata. Please click to the left
          to expand this list and see more information on each parameter. See also
          the Google Photo Sphere spec for more info on the meaning of the params:
          https://developers.google.com/streetview/spherical-metadatan'
        type: integer
        required: required
      - in: query
        name: ProjectionTypenstringnnAccepted
        description: values include equirectangular (full spherical photo), cylindrical
          (panorama), and cubestrip (also known as cubemap, e.g. for synthetic or
          rendered content; stacked vertically with 6 faces).nRequiredn
        type: integer
        required: required
      - in: query
        name: CroppedAreaImageWidthPixelsnintegernn---
        description: 'In equirectangular projection: As described in Google Photo
          Sphere XMP Metadata spec.nn--- In cylindrical projection: Very similar to
          equirectangular. This value should be equal to the actual width of the image,
          and together with FullPanoWidthPixels, it describes the horizontal FOV of
          content of the image: HorizontalFOV = 360 * CroppedAreaImageWidthPixels
          / FullPanoWidthPixels.nn--- In cubestrip projection: This has no relationship
          to the pixel dimensions of the image. It is simply a representation of the
          horizontal FOV of the content of the image. HorizontalFOV = CroppedAreaImageWidthPixels
          / PixelsPerDegree, where PixelsPerDegree is defined by FullPanoWidthPixels.nRequiredn'
        type: integer
        required: required
      - in: query
        name: CroppedAreaImageHeightPixelsnintegernn---
        description: 'In equirectangular projection: As described in Google Photo
          Sphere XMP Metadata spec.nn--- In cylindrical projection: This value will
          NOT be equal to the actual height of the image. Instead, together with FullPanoHeightPixels,
          it describes the vertical FOV of the image: VerticalFOV = 180 * CroppedAreaImageHeightPixels
          / FullPanoHeightPixels. In other words, this value is equal to the CroppedAreaImageHeightPixels
          value that this image would have, if it were projected into equirectangular
          format while maintaining the same FullPanoWidthPixels.nn--- In cubestrip
          projection: This has no relationship to the pixel dimensions of the image.
          It is simply a representation of the vertical FOV of the content of the
          image. VerticalFOV = CroppedAreaImageHeightPixels / PixelsPerDegree, where
          PixelsPerDegree is defined by FullPanoWidthPixels.nRequiredn'
        type: integer
        required: required
      - in: query
        name: FullPanoWidthPixelsnintegernn---
        description: 'In equirectangular projection: As described in Google Photo
          Sphere XMP Metadata spec.nn--- In cylindrical projection: Very similar to
          equirectangular. This value defines a ratio of horizontal pixels to degrees
          in the space of the image, and in general the pixel to degree ratio in the
          scope of the metadata object. Concretely, PixelsPerDegree = FullPanoWidthPixels
          / 360. This is also equivalent to the circumference of the cylinder used
          to model this projection.nn--- In cubestrip projection: This value has no
          relationship to the pixel dimensions of the image. It only defines the pixel
          to degree ratio in the scope of the metadata object. It represents the number
          of pixels in 360 degrees, so pixels per degree is then given by: PixelsPerDegree
          = FullPanoWidthPixels / 360. As an example, if FullPanoWidthPixels were
          chosen to be 3600, we would have PixelsPerDegree = 3600 / 360 = 10. An image
          with a vertical field of view of 65 degrees would then have a CroppedAreaImageHeightPixels
          value of 65 * 10 = 650.nRequiredn'
        type: integer
        required: required
      - in: query
        name: FullPanoHeightPixelsnintegernn---
        description: 'In equirectangular projection: As described in Google Photo
          Sphere XMP Metadata spec.nn--- In cylindrical projection: This value is
          equal to the FullPanoHeightPixels value that this image would have, if it
          were projected into equirectangular format while maintaining the same FullPanoWidthPixels.
          It is always equal to FullPanoWidthPixels / 2.nn--- In cubestrip projection:
          This value has no relationship to the pixel dimensions of the image. It
          is a second, redundant representation of PixelsPerDegree. FullPanoHeightPixels
          = 180 * PixelsPerDegree. It must be consistent with FullPanoWidthPixels:
          FullPanoHeightPixels = FullPanoWidthPixels / 2.nRequiredn'
        type: integer
        required: required
      - in: query
        name: CroppedAreaLeftPixelsnintegernn---
        description: 'In equirectangular projection: As described in Google Photo
          Sphere XMP Metadata spec.nn--- In cylindrical projection: This value is
          equal to the CroppedAreaLeftPixels value that this image would have, if
          it were projected into equirectangular format while maintaining the same
          FullPanoWidthPixels. It is just a representation of the same angular offset
          that it represents in equirectangular projection in the Google Photo Sphere
          spec. Concretely, AngularOffsetFromLeftDegrees = CroppedAreaLeftPixels /
          PixelsPerDegree, where PixelsPerDegree is defined by FullPanoWidthPixels.nn---
          In cubestrip projection: This value has no relationship to the pixel dimensions
          of the image. It is just a representation of the same angular offset that
          it represents in equirectangular projection in the Google Photo Sphere spec.
          AngularOffsetFromLeftDegrees = CroppedAreaLeftPixels / PixelsPerDegree,
          where PixelsPerDegree is defined by FullPanoWidthPixels.nRequiredn'
        type: integer
        required: required
      - in: query
        name: CroppedAreaTopPixelsnintegernn---
        description: 'In equirectangular projection: As described in Google Photo
          Sphere XMP Metadata spec.nn--- In cylindrical projection: This value is
          equal to the CroppedAreaTopPixels value that this image would have, if it
          were projected into equirectangular format while maintaining the same FullPanoWidthPixels.
          It is just a representation of the same angular offset that it represents
          in equirectangular projection in the Google Photo Sphere spec. Concretely,
          AngularOffsetFromTopDegrees = CroppedAreaTopPixels / PixelsPerDegree, where
          PixelsPerDegree is defined by FullPanoWidthPixels.nn--- In cubestrip projection:
          This value has no relationship to the pixel dimensions of the image. It
          is just a representation of the same angular offset that it represents in
          equirectangular projection in the Google Photo Sphere spec. AngularOffsetFromTopDegrees
          = CroppedAreaTopPixels / PixelsPerDegree, where PixelsPerDegree is defined
          by FullPanoWidthPixels.nRequiredn'
        type: integer
        required: required
      - []
      - []
      - []
      - []
      - []
      - in: query
        name: InitialViewRollDegreesnfloatnnThis
        description: is is not currently supportedn
        type: integer
        required: required
      - in: query
        name: InitialViewVerticalFOVDegreesnfloatnnYou
        description: can set the intial FOV of the image. Note that we support this
          vertical FOV parameter, but InitialViewHorizontalFOV listed in the Photo
          Sphere XMP Metadata spec is not currently supportedn
        type: integer
        required: required
      - []
      - []
      - in: query
        name: sponsor_idnnumeric
        description: string or integernnFacebook Page id that is tagged as sponsor
          in the photo postn
        type: integer
        required: required
      - in: query
        name: sponsor_relationshipnint64nnSponsor
        description: Relationship, such as Presented By or Paid PartnershipWithn
        type: integer
        required: required
      - in: query
        name: tagsnlist<Object>nnTags
        description: on this photon
        type: integer
        required: required
      - in: query
        name: xnfloatnnThe
        description: x-axis offset for the tagn
        type: integer
        required: required
      - in: query
        name: ynfloatnnThe
        description: y-axis offset for the tagn
        type: integer
        required: required
      - in: query
        name: tag_uidnintnnThe
        description: user_id of the tagged personn
        type: integer
        required: required
      - in: query
        name: tag_textnstringnnText
        description: associated with the tagn
        type: integer
        required: required
      - in: query
        name: target_idnintnnDon't
        description: use this. Specifying a target_id allows you to post the photo
          to an object that's not the user in the access token. It only works when
          posting directly to the /photos endpoint. Instead of using this parameter
          you should be using the edge on an object directly, like /page/photos .n
        type: integer
        required: required
      - in: query
        name: targetingntargetnnAllows
        description: you to target posts to specific audiences. Applies to Pages onlyn
        type: integer
        required: required
      - []
      - []
      - []
      - []
      - []
      - []
      - []
      - []
      - in: query
        name: localesnlist<string>nnValues
        description: for targeted locales. Use type of adlocale to find Targeting
          Options and use the returned key to specify.n
        type: integer
        required: required
      - in: query
        name: excluded_countriesnlist<string>nnValues
        description: for excluded countries. You can specify up to 25 countries. Use
          ISO 3166 format codes .n
        type: integer
        required: required
      - in: query
        name: excluded_regionsnlist<int64>nnValues
        description: for excluded regions. Use type of adregion and list of GLOBAL
          to find Targeting Options and use the returned key to specify. For example:nsearch/?type=adregion&q=California&list=GLOBALn
        type: integer
        required: required
      - in: query
        name: excluded_citiesnlist<int64>nnValues
        description: for excluded cities. Use type of adcity to find Targeting Options
          and use the returned key to specify.n
        type: integer
        required: required
      - in: query
        name: excluded_zipcodesnlist<string>nnValues
        description: for excluded zipcodes. Use type of adzipcode to find Targeting
          Options and use the returned key to specify.n
        type: integer
        required: required
      - []
      - in: query
        name: timezonesnlist<int64>nnID
        description: for the timezone. See here .n
        type: integer
        required: required
      - in: query
        name: age_minnint64nnMust
        description: be 13 or higher. Default is 0.n
        type: integer
        required: required
      - in: query
        name: age_maxnint64nnMaximum
        description: age.n
        type: integer
        required: required
      - in: query
        name: gendersnlist<int64>nnTarget
        description: specific genders. 1 targets all male viewers and 2 females. Default
          is to target both.n
        type: integer
        required: required
      - in: query
        name: urlnstringnnThe
        description: URL of a photo that is already uploaded to the Internet. You
          must specify this or a file attachmentn
        type: integer
        required: required
    POST: []
  https://www.facebook.com/<POST_ID>:
    post:
      parameters:
      - in: query
        name: ninclude_hiddennnWhether
        description: or not to include any posts that were hidden by the Page. Defaults
          to falsennbooln
        type: integer
        required: required
      - in: query
        name: filternnThis
        description: field is deprecated.n
        type: integer
        required: required
      - in: query
        name: include_inlinennUsed
        description: with the promotable_posts edge only. Filters by whether the post
          was created inline via object_story_spec in the Ads API. This used to be
          called is_inlinennbooln
        type: integer
        required: required
      - in: query
        name: is_publishednnUsed
        description: with the promotable_posts edge only. Filters by published or
          unpublished page posts.nnbooln
        type: integer
        required: required
    POST: []
  user_id>/invitable_friends:
    DEL: []
    Del:
      parameters:
      - in: query
        name: heightnintegernnThe
        description: heightnintegernnThe height of this picture in pixels.n
        type: integer
        required: required
      - in: query
        name: redirectnbooleannDefault
        description: 'value: truennBy default the picture edge will return a picture
          instead of a JSON response. If you want the picture edge to return JSON
          that describes the image set redirect=0 when you make the request.n'
        type: integer
        required: required
      - in: query
        name: typenenum{small,
        description: 'normal, album, large, square}nnThe size of this picture. It
          can be one of the following values: small, normal, large, square.n'
        type: integer
        required: required
      - in: query
        name: widthnintegernnThe
        description: widthnintegernnThe width of this picture in pixels.n
        type: integer
        required: required
  https://developers.facebook.com/docs/graph-api/reference/insights):
    DEL: []
    Del:
      parameters:
      - in: query
        name: "100"
        description: Invalid parameter
        type: integer
        required: required
      - in: query
        name: "3001"
        description: Invalid query
        type: integer
        required: required
      - in: query
        name: "190"
        description: Invalid OAuth 2.0 Access Token
        type: integer
        required: required
  API_VERSION>/<PAGE_ID>/feed:
    POST: []
    Post:
      parameters:
      - in: query
        name: nNo
        description: optional image parametersnnImage is sourced from the contents
          of the Linkn
        type: integer
        required: required
      - in: query
        name: picture
        description: parameter suppliednnstringnnURL for the imagennImage is sourced
          from the URL supplied in picturen
        type: integer
        required: required
      - in: query
        name: thumbnail
        description: parameter suppliednnfilennImage file to be uploaded. Accepts
          .jpg .jpeg .gif or .pngnnImage is sourced from the file uploaded in thumbnailn
        type: integer
        required: required
  video_id>:
    DEL:
      parameters:
      - in: query
        name: content_categorynenum
        description: '{BEAUTY_FASHION, BUSINESS, CARS_TRUCKS, COMEDY, CUTE_ANIMALS,
          ENTERTAINMENT, FAMILY, FOOD_HEALTH, HOME, LIFESTYLE, MUSIC, NEWS, POLITICS,
          SCIENCE, SPORTS, TECHNOLOGY, VIDEO_GAMING, OTHER}nnContent category of this
          video.n'
        type: integer
        required: required
      - in: query
        name: descriptionnUTF-8
        description: stringnnThe description of the video, used as the accompanying
          status message in any feed story. This parameter can contain mentions of
          other Facebook Pages using the following syntax:n@[page-id]nnFor example
          the following description would mention the Facebook Developers page inline:nTest
          message @[19292868552] tagnnUsage of this feature is subject to review but
          by using Pages you are an admin of (both to make the API call, and to be
          used in a mention), and an app you are a developer of, you can test it for
          yourself before review.nSupports Emojin
        type: integer
        required: required
      - in: query
        name: direct_share_statusnint64nnThe
        description: statusnint64nnThe status to allow sponsor directly boost the
          post.n
        type: integer
        required: required
      - in: query
        name: embeddablenbooleannnWhether
        description: ther the video is embeddable.n
        type: integer
        required: required
      - in: query
        name: file_sizenint64nnThe
        description: sizenint64nnThe size of the entire video file in bytes.n
        type: integer
        required: required
      - in: query
        name: file_urlnstringnnAccessible
        description: URL of a video file. Cannot be used with upload_phase .n
        type: integer
        required: required
      - in: query
        name: fovnint64nn360
        description: 'video only: Vertical field of viewn'
        type: integer
        required: required
      - in: query
        name: guidenlist<list<int64>>nn360
        description: 'video only: Guide keyframes data. An array of keyframes, each
          of which is an array of 3 or 4 elements in the following order: [video timestamp
          (seconds), pitch (degrees, -90 ~ 90), yaw (degrees, -180 ~ 180), field of
          view (degrees, 40 ~ 90, optional)], ordered by video timestamp in strictly
          ascending order.n'
        type: integer
        required: required
      - in: query
        name: guide_enablednbooleannn360
        description: 'video only: Whether Guide is active.n'
        type: integer
        required: required
      - in: query
        name: initial_headingnint64nn360
        description: 'video only: Horizontal camera perspective to display when the
          video begins.n'
        type: integer
        required: required
      - in: query
        name: initial_pitchnint64nn360
        description: 'video only: Vertical camera perspective to display when the
          video begins.n'
        type: integer
        required: required
      - in: query
        name: no_storynbooleannDefault
        description: 'value: falsennIf set to true , this will suppress feed and timeline
          story.n'
        type: integer
        required: required
      - in: query
        name: original_projection_typenenum
        description: '{equirectangular, cubemap}nn360 video only: The original projection
          type of the 360 video being uploaded.n'
        type: integer
        required: required
      - in: query
        name: privacynPrivacy
        description: ParameternnDetermines the privacy settings of the video. If not
          supplied, this defaults to the privacy level granted to the app in the Login
          Dialog. This field cannot be used to set a more open privacy setting than
          the one granted.n
        type: integer
        required: required
      - in: query
        name: referenced_sticker_idnnumeric
        description: string or integernnSticker id of the sticker in the postn
        type: integer
        required: required
      - in: query
        name: replace_video_idnnumeric
        description: string or integernnThe video id your uploaded video about to
          replacen
        type: integer
        required: required
      - in: query
        name: slideshow_specnJSON
        description: objectnnSpecification of a list of images that are used to generate
          video.n
        type: integer
        required: required
      - in: query
        name: images_urlsnlist<URL>nnA
        description: 3-7 element array of the URLs of the images. Required.nRequiredn
        type: integer
        required: required
      - in: query
        name: duration_msnintegernnThe
        description: duration_msnintegernnThe duration in milliseconds of each image.
          Default value is 1000.n
        type: integer
        required: required
      - in: query
        name: transition_msnintegernnThe
        description: duration in milliseconds of the crossfade transition between
          images. Default value is 1000.n
        type: integer
        required: required
      - in: query
        name: sourcenstringnnThe
        description: video, encoded as form data . This field is required.n
        type: integer
        required: required
      - in: query
        name: sphericalnbooleannDefault
        description: 'value: falsennSet if the video was recorded in 360 format.n'
        type: integer
        required: required
      - in: query
        name: sponsor_idnnumeric
        description: string or integernnFacebook Page id that is tagged as sponsor
          in the video postn
        type: integer
        required: required
      - in: query
        name: start_offsetnint64nnStart
        description: byte position of the file chunk.n
        type: integer
        required: required
      - in: query
        name: swap_modenenum
        description: '{replace}nnType of replacing video requestn'
        type: integer
        required: required
      - in: query
        name: thumbnimagennThe
        description: video thumbnail raw data to be uploaded and associated with a
          video.n
        type: integer
        required: required
      - in: query
        name: titlenUTF-8
        description: stringnnThe title of the video.nSupports Emojin
        type: integer
        required: required
      - in: query
        name: unpublished_content_typenenum
        description: '{SCHEDULED, DRAFT, ADS_POST}nnType of unpublished content, such
          as scheduled, draft or ads_post.n'
        type: integer
        required: required
      - in: query
        name: upload_phasenenum
        description: '{start, transfer, finish, cancel}nnType of chunked upload request.n'
        type: integer
        required: required
      - in: query
        name: upload_session_idnnumeric
        description: string or integernnID of the chunked upload session.n
        type: integer
        required: required
      - in: query
        name: video_file_chunknstringnnThe
        description: video_file_chunknstringnnThe video file chunk, encoded as form
          data . This field is required during transfer upload phase.n
        type: integer
        required: required
produces: application/json
schemes:
- https
...
