---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:69:\"A developer friendly
  API to help your business achieve VAT compliance\";s:5:\"title\";s:7:\"VAT API\";s:7:\"version\";s:1:\"1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"financial\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:76:\"https://api.apis.guru/v2/cache/logo/https_vatapi.com_images_logo-invoice.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:32:\"https://vatapi.com/api-docs.json\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"vatapi.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"vatapi\";s:4:\"type\";s:7:\"openapi\";}}"
host: vatapi.com
basePath: /v1
paths:
  /country-code-check:
    get:
      operationId: country_code_check
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      - description: The 2 digit country code
        in: query
        name: code
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Country_Code_Check'
      summary: Retrieve a countries VAT rates by its 2 digit country code
      tags:
      - api
  /currency-conversion:
    get:
      operationId: currency_conversion
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      - description: The currency code you are converting from
        in: query
        name: currency_from
        required: true
        type: string
      - description: The currency code you are converting to
        in: query
        name: currency_to
        required: true
        type: string
      - description: Optional, an amount you are wanting to convert. Leave blank to
          just get the current rate
        in: query
        name: amount
        required: false
        type: integer
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Currency_Conversion'
      summary: Convert a currency
      tags:
      - api
  /invoice:
    post:
      operationId: create_invoice
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      - description: Enter invoice data as JSON
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Invoice_Data'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Create_Invoice'
      summary: Create a VAT invoice
      tags:
      - api
  /invoice/{id}:
    delete:
      operationId: invoice_delete
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      - description: Enter an invoice id
        in: path
        name: id
        required: true
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Delete an invoice
      tags:
      - api
    get:
      operationId: get_invoice
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      - description: Enter the invoice id
        in: path
        name: id
        required: true
        type: integer
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Retrieve_Invoice'
      summary: Retrieve an invoice
      tags:
      - api
    put:
      operationId: invoice_update
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      - description: Enter an invoice id
        in: path
        name: id
        required: true
        type: integer
      - description: Enter invoice data as JSON
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Update_Invoice_Array'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Update_Invoice'
      summary: Update an existing invoice
      tags:
      - api
  /ip-check:
    get:
      operationId: ip_check
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      - description: The IP address to search against
        in: query
        name: address
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/IP_Check'
      summary: Retrieve a countries VAT rates from an IP address
      tags:
      - api
  /usage-check:
    get:
      operationId: api_usage
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Api_Usage'
      summary: Check api requests remaining on current subscription plan
      tags:
      - api
  /vat-number-check:
    get:
      description: <p>We highly recommend if you are able, to check a VAT number on
        your end first to save wasted API lookups. It maybe that your customer has
        simply entered the wrong format. <a href='http://www.braemoor.co.uk/software/vat.shtml'
        target='_blank'>Heres a client side way to check the format using Javascript</a></p>
      operationId: vat_number_validate
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      - description: The VAT number to validate
        in: query
        name: vatid
        required: true
        type: string
      responses:
        200:
          description: No response was specified
      summary: Validate a VAT number
      tags:
      - api
  /vat-price:
    get:
      operationId: convert_price
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      - description: The 2 digit country code
        in: query
        name: code
        required: true
        type: string
      - description: 'The VAT rate to get the price for. Default: standard'
        in: query
        name: country_rate
        required: false
        type: string
      - description: The price you want converting
        in: query
        name: price
        required: true
        type: integer
      - description: Optional, if the price is including VAT set the type to 'incl'.
          Otherwise the default is assumed as excluding VAT already, 'excl'
        in: query
        name: type
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Convert_Price'
      summary: Convert a price to or from VAT price.
      tags:
      - api
  /vat-rates:
    get:
      operationId: vat_rates
      parameters:
      - description: The default response type is application/json if you would like
          to receive an XML response then set this to XML
        in: header
        name: Response-Type
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Vat_Rates'
      summary: Retrieve all current EU VAT rates
      tags:
      - api
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:9:\"Api_Usage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"requests_remaining\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  number of api requests remaining in the current billing period\";s:4:\"type\";s:7:\"integer\";}s:13:\"requests_used\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  number of api requests consumed within the last 30 days\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Response
  code\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:18:\"requests_remaining\";i:1;s:13:\"requests_used\";i:2;s:6:\"status\";}}s:13:\"Convert_Price\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  2 digit country code\";s:4:\"type\";s:6:\"string\";}s:12:\"country_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  country_rate\";s:4:\"type\";s:6:\"string\";}s:14:\"price_excl_vat\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  price excluding VAT\";s:4:\"type\";s:7:\"integer\";}s:14:\"price_incl_vat\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  price including VAT\";s:4:\"type\";s:7:\"integer\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  rate % for the country_rate\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Response
  code\";s:4:\"type\";s:7:\"integer\";}s:3:\"vat\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  total amount of VAT applied\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:7:{i:0;s:12:\"country_code\";i:1;s:12:\"country_rate\";i:2;s:14:\"price_excl_vat\";i:3;s:14:\"price_incl_vat\";i:4;s:4:\"rate\";i:5;s:6:\"status\";i:6;s:3:\"vat\";}}s:18:\"Country_Code_Check\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  country name\";s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  2 digit country code\";s:4:\"type\";s:6:\"string\";}s:5:\"rates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Country_Rates\";s:11:\"description\";s:45:\"An
  array of the EU VAT rates for that country\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Response
  code\";s:4:\"type\";s:7:\"integer\";}s:11:\"vat_applies\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"TRUE
  or FALSE, depending if country is within the EU.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:7:\"country\";i:1;s:12:\"country_code\";i:2;s:5:\"rates\";i:3;s:6:\"status\";i:4;s:11:\"vat_applies\";}}s:12:\"Country_Data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  country name\";s:4:\"type\";s:6:\"string\";}s:5:\"rates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Country_Rates\";s:11:\"description\";s:37:\"An
  array of the rates for the country\";}}s:8:\"required\";a:2:{i:0;s:7:\"country\";i:1;s:5:\"rates\";}}s:13:\"Country_Rates\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"parking\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/parking\";s:11:\"description\";s:16:\"The
  type of rate\";}s:7:\"reduced\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/reduced\";s:11:\"description\";s:16:\"The
  type of rate\";}s:11:\"reduced_alt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/reduced_alt\";s:11:\"description\";s:16:\"The
  type of rate\";}s:8:\"standard\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/standard\";s:11:\"description\";s:16:\"The
  type of rate\";}s:13:\"super_reduced\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/super_reduced\";s:11:\"description\";s:16:\"The
  type of rate\";}}s:8:\"required\";a:5:{i:0;s:7:\"parking\";i:1;s:7:\"reduced\";i:2;s:11:\"reduced_alt\";i:3;s:8:\"standard\";i:4;s:13:\"super_reduced\";}}s:14:\"Create_Invoice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"invoice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Invoice_Array\";s:11:\"description\";s:22:\"The
  new invoice object\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Response
  code\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:7:\"invoice\";i:1;s:6:\"status\";}}s:19:\"Currency_Conversion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"amount_from\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  amount you are converting from\";s:4:\"type\";s:6:\"string\";}s:9:\"amount_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  result amount you have converted to\";s:4:\"type\";s:6:\"string\";}s:13:\"currency_from\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  currency code you are converting from\";s:4:\"type\";s:6:\"string\";}s:11:\"currency_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  currency code you are converting to\";s:4:\"type\";s:7:\"integer\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  rate according to HMRC at time of sale\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Response
  code\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:13:\"currency_from\";i:1;s:11:\"currency_to\";i:2;s:4:\"rate\";i:3;s:6:\"status\";}}s:8:\"IP_Check\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  country name\";s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  2 digit country code\";s:4:\"type\";s:6:\"string\";}s:5:\"rates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Country_Rates\";s:11:\"description\";s:45:\"An
  array of the EU VAT rates for that country\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Response
  code\";s:4:\"type\";s:7:\"integer\";}s:11:\"vat_applies\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"TRUE
  or FALSE, depending if country is within the EU.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:7:\"country\";i:1;s:12:\"country_code\";i:2;s:5:\"rates\";i:3;s:6:\"status\";i:4;s:11:\"vat_applies\";}}s:13:\"Invoice_Array\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:16:\"business_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Your
  business address\";s:4:\"type\";s:6:\"string\";}s:13:\"business_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Your
  business name\";s:4:\"type\";s:6:\"string\";}s:15:\"conversion_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  rate of conversion at time of supply\";s:4:\"type\";s:7:\"integer\";}s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"3
  character currency code for invoice\";s:4:\"type\";s:6:\"string\";}s:24:\"currency_code_conversion\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"3
  character currency code to be converted from original transaction currency\";s:4:\"type\";s:6:\"string\";}s:16:\"customer_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Your
  customers address\";s:4:\"type\";s:6:\"string\";}s:13:\"customer_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Your
  customers name or trading name\";s:4:\"type\";s:6:\"string\";}s:19:\"customer_vat_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Customers
  VAT number\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  date the invoice was issued\";s:4:\"type\";s:6:\"string\";}s:13:\"discount_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  discount rate per item\";s:4:\"type\";s:7:\"integer\";}s:14:\"discount_total\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Total
  amount of discount\";s:4:\"type\";s:7:\"integer\";}s:14:\"invoice_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  sequential invoice number\";s:4:\"type\";s:7:\"integer\";}s:11:\"invoice_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"A
  perminant URL to your VAT invoice\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  array of your invoice items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Invoice_Items\";}s:4:\"type\";s:5:\"array\";}s:8:\"logo_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"A
  URL to your logo image. Must be SSL hosted. https://sslimagehost.com is recommended\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Any
  notes attached to the invoice\";s:4:\"type\";s:6:\"string\";}s:8:\"subtotal\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Total
  amount excluding VAT\";s:4:\"type\";s:7:\"integer\";}s:9:\"tax_point\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"(or
  'time of supply') if this is different from the invoice date\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Total
  amount of including VAT\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  type of invoice. Either 'sale' or 'refund'\";s:4:\"type\";s:6:\"string\";}s:10:\"vat_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Your
  VAT number\";s:4:\"type\";s:6:\"string\";}s:9:\"vat_total\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Total
  amount of VAT\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:14:{i:0;s:16:\"business_address\";i:1;s:13:\"business_name\";i:2;s:13:\"currency_code\";i:3;s:4:\"date\";i:4;s:14:\"discount_total\";i:5;s:14:\"invoice_number\";i:6;s:11:\"invoice_url\";i:7;s:5:\"items\";i:8;s:8:\"subtotal\";i:9;s:9:\"tax_point\";i:10;s:5:\"total\";i:11;s:4:\"type\";i:12;s:10:\"vat_number\";i:13;s:9:\"vat_total\";}}s:12:\"Invoice_Data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:16:\"business_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Your
  business address\";s:4:\"type\";s:6:\"string\";}s:13:\"business_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Your
  business name\";s:4:\"type\";s:6:\"string\";}s:15:\"conversion_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  rate of conversion at time of supply\";s:4:\"type\";s:7:\"integer\";}s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"3
  character currency code for invoice\";s:4:\"type\";s:6:\"string\";}s:24:\"currency_code_conversion\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"3
  character currency code to be converted from original transaction currency\";s:4:\"type\";s:6:\"string\";}s:16:\"customer_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Your
  customers address\";s:4:\"type\";s:6:\"string\";}s:13:\"customer_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Your
  customers name or trading name\";s:4:\"type\";s:6:\"string\";}s:19:\"customer_vat_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Optional
  customers VAT number\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  date the invoice was issued\";s:4:\"type\";s:6:\"string\";}s:13:\"discount_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  discount rate per item\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  array of your invoice items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Invoice_Items\";}s:4:\"type\";s:5:\"array\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Add
  a note to the invoice.\";s:4:\"type\";s:6:\"string\";}s:10:\"price_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Optional,
  if the price is including VAT set the type to 'incl'. Otherwise the default is assumed
  as excluding VAT already, 'excl'\";s:4:\"type\";s:6:\"string\";}s:9:\"tax_point\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"(or
  'time of supply') if this is different from the invoice date\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  type of invoice. Either 'sale' or 'refund'\";s:4:\"type\";s:6:\"string\";}s:10:\"vat_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Your
  VAT number\";s:4:\"type\";s:6:\"string\";}s:10:\"zero_rated\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"To
  Zero-Rate the VAT, set to true.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:16:\"business_address\";i:1;s:13:\"business_name\";i:2;s:13:\"currency_code\";i:3;s:5:\"items\";i:4;s:4:\"type\";i:5;s:10:\"vat_number\";}}s:13:\"Invoice_Items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  item line description\";s:4:\"type\";s:6:\"string\";}s:10:\"price_each\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  price of the individual item (Ex VAT)\";s:4:\"type\";s:7:\"integer\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  quantity of the item\";s:4:\"type\";s:7:\"integer\";}s:8:\"vat_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  VAT rate at which the item is charged\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:11:\"description\";i:1;s:10:\"price_each\";i:2;s:8:\"quantity\";i:3;s:8:\"vat_rate\";}}s:16:\"Retrieve_Invoice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"invoice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/Retrieve_Invoice_Array\";s:11:\"description\";s:17:\"The
  invoice array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Response
  code\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"invoice\";i:1;s:6:\"status\";}}s:22:\"Retrieve_Invoice_Array\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":24:{s:16:\"business_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Your
  business address\";s:4:\"type\";s:6:\"string\";}s:13:\"business_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Your
  business name\";s:4:\"type\";s:6:\"string\";}s:15:\"conversion_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  rate of conversion at time of supply\";s:4:\"type\";s:7:\"integer\";}s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"3
  character currency code for invoice\";s:4:\"type\";s:6:\"string\";}s:24:\"currency_code_conversion\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"3
  character currency code to be converted from original transaction currency\";s:4:\"type\";s:6:\"string\";}s:16:\"customer_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Your
  customers address\";s:4:\"type\";s:6:\"string\";}s:13:\"customer_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Your
  customers name or trading name\";s:4:\"type\";s:6:\"string\";}s:19:\"customer_vat_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Optional,
  customers VAT number\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  date the invoice was issued\";s:4:\"type\";s:6:\"string\";}s:13:\"discount_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  discount rate per item\";s:4:\"type\";s:7:\"integer\";}s:14:\"discount_total\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Total
  amount of discount\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  invoice ID\";s:4:\"type\";s:7:\"integer\";}s:11:\"invoice_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"A
  perminant URL to your VAT invoice\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  array of your invoice items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Invoice_Items\";}s:4:\"type\";s:5:\"array\";}s:8:\"logo_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"A
  URL to your logo image. Must be SSL hosted. https://sslimagehost.com is recommended\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Any
  notes attached to the invoice\";s:4:\"type\";s:6:\"string\";}s:10:\"price_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Optional,
  if the price is including VAT set the type to 'incl'. Otherwise the default is assumed
  as excluding VAT already, 'excl'\";s:4:\"type\";s:6:\"string\";}s:8:\"subtotal\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Total
  amount excluding VAT\";s:4:\"type\";s:7:\"integer\";}s:9:\"tax_point\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"(or
  'time of supply') if this is different from the invoice date\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Total
  amount of including VAT\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  type of invoice. Either 'sale' or 'refund'\";s:4:\"type\";s:6:\"string\";}s:10:\"vat_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Your
  VAT number\";s:4:\"type\";s:6:\"string\";}s:9:\"vat_total\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Total
  amount of VAT\";s:4:\"type\";s:7:\"integer\";}s:10:\"zero_rated\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"To
  Zero-Rate the VAT, set to true.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:14:{i:0;s:16:\"business_address\";i:1;s:13:\"business_name\";i:2;s:13:\"currency_code\";i:3;s:4:\"date\";i:4;s:14:\"discount_total\";i:5;s:2:\"id\";i:6;s:11:\"invoice_url\";i:7;s:5:\"items\";i:8;s:8:\"subtotal\";i:9;s:9:\"tax_point\";i:10;s:5:\"total\";i:11;s:4:\"type\";i:12;s:10:\"vat_number\";i:13;s:9:\"vat_total\";}}s:14:\"Update_Invoice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"invoice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/Retrieve_Invoice_Array\";s:11:\"description\";s:17:\"The
  invoice array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Response
  code\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"invoice\";i:1;s:6:\"status\";}}s:20:\"Update_Invoice_Array\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:16:\"business_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Your
  business address\";s:4:\"type\";s:6:\"string\";}s:13:\"business_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Your
  business name\";s:4:\"type\";s:6:\"string\";}s:15:\"conversion_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  rate of conversion at time of supply\";s:4:\"type\";s:7:\"integer\";}s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"3
  character currency code for invoice\";s:4:\"type\";s:6:\"string\";}s:24:\"currency_code_conversion\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"3
  character currency code to be converted from original transaction currency\";s:4:\"type\";s:6:\"string\";}s:16:\"customer_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Your
  customers address\";s:4:\"type\";s:6:\"string\";}s:13:\"customer_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Your
  customers name or trading name\";s:4:\"type\";s:6:\"string\";}s:18:\"customervat_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Customers
  VAT number\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  date the invoice was issued\";s:4:\"type\";s:6:\"string\";}s:13:\"discount_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  discount rate per item\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  array of your invoice items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Invoice_Items\";}s:4:\"type\";s:5:\"array\";}s:8:\"logo_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"A
  URL to your logo image. Must be SSL hosted. https://sslimagehost.com is recommended\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Add
  a note to the invoice.\";s:4:\"type\";s:6:\"string\";}s:9:\"tax_point\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"(or
  'time of supply') if this is different from the invoice date\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  type of invoice. Either 'sale' or 'refund'\";s:4:\"type\";s:6:\"string\";}s:10:\"vat_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Your
  VAT number\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:16:\"business_address\";i:1;s:13:\"business_name\";i:2;s:13:\"currency_code\";i:3;s:18:\"customervat_number\";i:4;s:5:\"items\";i:5;s:4:\"type\";}}s:9:\"Vat_Rates\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"countries\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"An
  array of the EU VAT countries and their respective rates\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/Vat_Rates_Countries\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Response
  code\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:9:\"countries\";i:1;s:6:\"status\";}}s:19:\"Vat_Rates_Countries\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"country_code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Country_Data\";s:11:\"description\";s:24:\"The
  2 digit country code\";}}s:8:\"required\";a:1:{i:0;s:12:\"country_code\";}}s:7:\"parking\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"applies_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  type of goods the rate applies to\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  % VAT rate\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:10:\"applies_to\";i:1;s:5:\"value\";}}s:7:\"reduced\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"applies_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  type of goods the rate applies to\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  % VAT rate\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:10:\"applies_to\";i:1;s:5:\"value\";}}s:11:\"reduced_alt\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"applies_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  type of goods the rate applies to\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  % VAT rate\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:10:\"applies_to\";i:1;s:5:\"value\";}}s:8:\"standard\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  % VAT rate\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:13:\"super_reduced\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"applies_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  type of goods the rate applies to\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  % VAT rate\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:10:\"applies_to\";i:1;s:5:\"value\";}}}"
...
