---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:95:\"Transfers
  data from partner SaaS applications to Google BigQuery on a scheduled, managed basis.\";s:5:\"title\";s:22:\"BigQuery
  Data Transfer\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:70:\"https://bigquerydatatransfer.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:20:\"bigquerydatatransfer\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"google_bigquerydatatransfer\";s:4:\"type\";s:7:\"openapi\";}}"
host: bigquerydatatransfer.googleapis.com
basePath: /
paths:
  /v1/{name}:
    delete:
      description: Deletes the specified transfer run.
      operationId: projects.transferConfigs.runs.delete
      parameters:
      - description: The field will contain name of the resource requested, for example:n`projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}`
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    get:
      description: Returns information about the particular transfer run.
      operationId: projects.transferConfigs.runs.get
      parameters:
      - description: The field will contain name of the resource requested, for example:n`projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}`
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TransferRun'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    patch:
      description: Updates a data transfer configuration.nAll fields must be set,
        even if they are not updated.
      operationId: projects.transferConfigs.patch
      parameters:
      - description: Optional OAuth2 authorization code to use with this transfer
          configuration.nIf it is provided, the transfer configuration will be associated
          with thenauthorizing user.nIn order to obtain authorization_code, please
          make anrequest tonhttps://www.gstatic.com/bigquerydatatransfer/oauthz/auth?client_id=<datatransferapiclientid>&scope=<data_source_scopes>&redirect_uri=<redirect_uri>nn*
          client_id should be OAuth client_id of BigQuery DTS API for the givenn  data
          source returned by ListDataSources method.n* data_source_scopes are the
          scopes returned by ListDataSources method.n* redirect_uri is an optional
          parameter. If not specified, thenn  authorization code is posted to the
          opener of authorization flow window.n  Otherwise it will be sent to the
          redirect uri. A special value ofn  urn:ietf:wg:oauth:2.0:oob means that
          authorization code should ben  returned in the title bar of the browser,
          with the page text promptingn  the user to copy the code and paste it in
          the application.
        in: query
        name: authorizationCode
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/TransferConfig'
      - description: The resource name of the transfer config.nTransfer config names
          have the formn`projects/{project_id}/transferConfigs/{config_id}`.nWhere
          `config_id` is usually a uuid, even though it is notnguaranteed or required.
          The name is ignored when creating a transfernconfig.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      - description: Required list of fields to be updated in this request.
        in: query
        name: updateMask
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TransferConfig'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /v1/{name}/locations:
    get:
      description: Lists information about the supported locations for this service.
      operationId: projects.locations.list
      parameters:
      - description: The standard list filter.
        in: query
        name: filter
        type: string
      - description: The resource that owns the locations collection, if applicable.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      - description: The standard list page size.
        in: query
        name: pageSize
        type: integer
      - description: The standard list page token.
        in: query
        name: pageToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListLocationsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/{name}:checkValidCreds:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Returns true if valid credentials exist for the given data source
        andnrequesting user.nSome data sources doesn't support service account, so
        we need to talk tonthem on behalf of the end user. This API just checks whether
        we have OAuthntoken for the particular user, which is a pre-requisite before
        user canncreate a transfer config.
      operationId: projects.dataSources.checkValidCreds
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CheckValidCredsRequest'
      - description: The data source in the form:n`projects/{project_id}/dataSources/{data_source_id}`
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CheckValidCredsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
  /v1/{parent}/dataSources:
    get:
      description: Lists supported data sources and returns their settings,nwhich
        can be used for UI rendering.
      operationId: projects.dataSources.list
      parameters:
      - description: Page size. The default page size is the maximum value of 1000
          results.
        in: query
        name: pageSize
        type: integer
      - description: Pagination token, which can be used to request a specific pagenof
          `ListDataSourcesRequest` list results. For multiple-pagenresults, `ListDataSourcesResponse`
          outputsna `next_page` token, which can be used as then`page_token` value
          to request the next page of list results.
        in: query
        name: pageToken
        type: string
      - description: 'The BigQuery project id for which data sources should be returned.nMust
          be in the form: `projects/{project_id}`'
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListDataSourcesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/{parent}/runs:
    get:
      description: Returns information about running and completed jobs.
      operationId: projects.transferConfigs.runs.list
      parameters:
      - description: Page size. The default page size is the maximum value of 1000
          results.
        in: query
        name: pageSize
        type: integer
      - description: Pagination token, which can be used to request a specific pagenof
          `ListTransferRunsRequest` list results. For multiple-pagenresults, `ListTransferRunsResponse`
          outputsna `next_page` token, which can be used as then`page_token` value
          to request the next page of list results.
        in: query
        name: pageToken
        type: string
      - description: Name of transfer configuration for which transfer runs should
          be retrieved.nFormat of transfer configuration resource name is:n`projects/{project_id}/transferConfigs/{config_id}`.
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      - description: Indicates how run attempts are to be pulled.
        enum:
        - RUN_ATTEMPT_UNSPECIFIED
        - LATEST
        in: query
        name: runAttempt
        type: string
      - collectionFormat: multi
        description: When specified, only transfer runs with requested states are
          returned.
        in: query
        items:
          enum:
          - TRANSFER_STATE_UNSPECIFIED
          - PENDING
          - RUNNING
          - SUCCEEDED
          - FAILED
          - CANCELLED
          type: string
        name: states
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListTransferRunsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/{parent}/transferConfigs:
    get:
      description: Returns information about all data transfers in the project.
      operationId: projects.transferConfigs.list
      parameters:
      - collectionFormat: multi
        description: When specified, only configurations of requested data sources
          are returned.
        in: query
        items:
          type: string
        name: dataSourceIds
        type: array
      - description: Page size. The default page size is the maximum value of 1000
          results.
        in: query
        name: pageSize
        type: integer
      - collectionFormat: multi
        description: Pagination token, which can be used to request a specific pagenof
          `ListTransfersRequest` list results. For multiple-pagenresults, `ListTransfersResponse`
          outputsna `next_page` token, which can be used as then`page_token` value
          to request the next page of list results.
        in: query
        items:
          type: string
        name: pageToken
        type: string
      - description: 'The BigQuery project id for which data sourcesnshould be returned:
          `projects/{project_id}`.'
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListTransferConfigsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new data transfer configuration.
      operationId: projects.transferConfigs.create
      parameters:
      - description: Optional OAuth2 authorization code to use with this transfer
          configuration.nThis is required if new credentials are needed, as indicated
          byn`CheckValidCreds`.nIn order to obtain authorization_code, please make
          anrequest tonhttps://www.gstatic.com/bigquerydatatransfer/oauthz/auth?client_id=<datatransferapiclientid>&scope=<data_source_scopes>&redirect_uri=<redirect_uri>nn*
          client_id should be OAuth client_id of BigQuery DTS API for the givenn  data
          source returned by ListDataSources method.n* data_source_scopes are the
          scopes returned by ListDataSources method.n* redirect_uri is an optional
          parameter. If not specified, thenn  authorization code is posted to the
          opener of authorization flow window.n  Otherwise it will be sent to the
          redirect uri. A special value ofn  urn:ietf:wg:oauth:2.0:oob means that
          authorization code should ben  returned in the title bar of the browser,
          with the page text promptingn  the user to copy the code and paste it in
          the application.
        in: query
        name: authorizationCode
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/TransferConfig'
      - description: The BigQuery project id where the transfer configuration should
          be created.nMust be in the format projects/{project_id}/locations/{location_id}nIf
          specified location and location of the destination bigquery datasetndo not
          match - the request will fail.
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TransferConfig'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /v1/{parent}/transferLogs:
    get:
      description: Returns user facing log messages for the data transfer run.
      operationId: projects.transferConfigs.runs.transferLogs.list
      parameters:
      - collectionFormat: multi
        description: Message types to return. If not populated - INFO, WARNING and
          ERRORnmessages are returned.
        in: query
        items:
          enum:
          - MESSAGE_SEVERITY_UNSPECIFIED
          - INFO
          - WARNING
          - ERROR
          type: string
        name: messageTypes
        type: array
      - description: Page size. The default page size is the maximum value of 1000
          results.
        in: query
        name: pageSize
        type: integer
      - description: Pagination token, which can be used to request a specific pagenof
          `ListTransferLogsRequest` list results. For multiple-pagenresults, `ListTransferLogsResponse`
          outputsna `next_page` token, which can be used as then`page_token` value
          to request the next page of list results.
        in: query
        name: pageToken
        type: string
      - description: Transfer run name in the form:n`projects/{project_id}/transferConfigs/{config_Id}/runs/{run_id}`.
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListTransferLogsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/{parent}:scheduleRuns:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates transfer runs for a time range [start_time, end_time].nFor
        each date - or whatever granularity the data source supports - in thenrange,
        one transfer run is created.nNote that runs are created per UTC time in the
        time range.
      operationId: projects.transferConfigs.scheduleRuns
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ScheduleTransferRunsRequest'
      - description: Transfer configuration name in the form:n`projects/{project_id}/transferConfigs/{config_id}`.
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ScheduleTransferRunsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:22:\"CheckValidCredsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:372:\"A
  request to determine whether the user has valid credentials. This method\nis used
  to limit the number of OAuth popups in the user interface. The\nuser id is inferred
  from the API call context.\nIf the data source has the Google+ authorization type,
  this method\nreturns false, as it cannot be determined whether the credentials are\nalready
  valid merely based on the user id.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"CheckValidCredsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  response indicating whether the credentials exist and are valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"hasValidCreds\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"If
  set to `true`, the credentials exist and are valid.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DataSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Represents
  data source metadata. Metadata is sufficient to\nrender UI and request proper OAuth
  tokens.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:17:\"authorizationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Indicates
  the type of authorization.\";s:4:\"enum\";a:3:{i:0;s:30:\"AUTHORIZATION_TYPE_UNSPECIFIED\";i:1;s:18:\"AUTHORIZATION_CODE\";i:2;s:30:\"GOOGLE_PLUS_AUTHORIZATION_CODE\";}s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Data
  source client id which should be used to receive refresh token.\nWhen not supplied,
  no offline credentials are populated for data transfer.\";s:4:\"type\";s:6:\"string\";}s:15:\"dataRefreshType\";O:8:\"stdClass\":3:{s:11:\"description\";s:232:\"Specifies
  whether the data source supports automatic data refresh for the\npast few days,
  and how it's supported.\nFor some data sources, data might not be complete until
  a few days later,\nso it's useful to refresh data automatically.\";s:4:\"enum\";a:3:{i:0;s:29:\"DATA_REFRESH_TYPE_UNSPECIFIED\";i:1;s:14:\"SLIDING_WINDOW\";i:2;s:21:\"CUSTOM_SLIDING_WINDOW\";}s:4:\"type\";s:6:\"string\";}s:12:\"dataSourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Data
  source id.\";s:4:\"type\";s:6:\"string\";}s:28:\"defaultDataRefreshWindowDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Default
  data refresh window on days.\nOnly meaningful when `data_refresh_type` = `SLIDING_WINDOW`.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"defaultSchedule\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"Default
  data transfer schedule.\nExamples of valid schedules include:\n`1st,3rd monday of
  month 15:30`,\n`every wed,fri of jan,jun 13:15`, and\n`first sunday of quarter 00:00`.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"User
  friendly data source description string.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"User
  friendly data source name.\";s:4:\"type\";s:6:\"string\";}s:7:\"helpUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Url
  for the help document for this data source.\";s:4:\"type\";s:6:\"string\";}s:18:\"manualRunsDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Disables
  backfilling and manual run scheduling\nfor the data source.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"minimumScheduleInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  minimum interval for scheduler to schedule runs.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Output
  only. Data source resource name.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Data
  source parameters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DataSourceParameter\";}s:4:\"type\";s:5:\"array\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:257:\"Api
  auth scopes for which refresh token needs to be obtained. Only valid\nwhen `client_id`
  is specified. Ignored otherwise. These are scopes needed\nby a data source to prepare
  data and ingest them into BigQuery,\ne.g., https://www.googleapis.com/auth/bigquery\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:22:\"supportsCustomSchedule\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"Specifies
  whether the data source supports a user defined schedule, or\noperates on the default
  schedule.\nWhen set to `true`, user can override default schedule.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"supportsMultipleTransfers\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Deprecated.
  This field has no effect.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"transferType\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Deprecated.
  This field has no effect.\";s:4:\"enum\";a:3:{i:0;s:25:\"TRANSFER_TYPE_UNSPECIFIED\";i:1;s:5:\"BATCH\";i:2;s:9:\"STREAMING\";}s:4:\"type\";s:6:\"string\";}s:21:\"updateDeadlineSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"The
  number of seconds to wait for an update from the data source\nbefore the Data Transfer
  Service marks the transfer as FAILED.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DataSourceParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:336:\"Represents
  a data source parameter with validation rules, so that\nparameters can be rendered
  in the UI. These parameters are given to us by\nsupported data sources, and include
  all needed information for rendering\nand validation.\nThus, whoever uses this api
  can decide to generate either generic ui,\nor custom data source specific forms.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:13:\"allowedValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"All
  possible values for the parameter.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Parameter
  description.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Parameter
  display name in the user interface.\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Deprecated.
  This field has no effect.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DataSourceParameter\";}s:4:\"type\";s:5:\"array\";}s:9:\"immutable\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Cannot
  be changed after initial creation.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"maxValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"For
  integer and double values specifies maxminum allowed value.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"minValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"For
  integer and double values specifies minimum allowed value.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"paramId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Parameter
  identifier.\";s:4:\"type\";s:6:\"string\";}s:7:\"recurse\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Deprecated.
  This field has no effect.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"repeated\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Deprecated.
  This field has no effect.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Is
  parameter required.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Parameter
  type.\";s:4:\"enum\";a:7:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:6:\"STRING\";i:2;s:7:\"INTEGER\";i:3;s:6:\"DOUBLE\";i:4;s:7:\"BOOLEAN\";i:5;s:6:\"RECORD\";i:6;s:9:\"PLUS_PAGE\";}s:4:\"type\";s:6:\"string\";}s:21:\"validationDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"Description
  of the requirements for this field, in case the user input does\nnot fulfill the
  regex pattern or min/max values.\";s:4:\"type\";s:6:\"string\";}s:17:\"validationHelpUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"URL
  to a help document to further explain the naming requirements.\";s:4:\"type\";s:6:\"string\";}s:15:\"validationRegex\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Regular
  expression which can be used for parameter validation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"ListDataSourcesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Returns
  list of supported data sources and their metadata.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"dataSources\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"List
  of supported data sources and their transfer settings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"Output
  only. The next-pagination token. For multiple-page list results,\nthis token can
  be used as the\n`ListDataSourcesRequest.page_token`\nto request the next page of
  list results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListLocationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  response message for Locations.ListLocations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  list of locations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListTransferConfigsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  returned list of pipelines in the project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:183:\"Output
  only. The next-pagination token. For multiple-page list results,\nthis token can
  be used as the\n`ListTransferConfigsRequest.page_token`\nto request the next page
  of list results.\";s:4:\"type\";s:6:\"string\";}s:15:\"transferConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Output
  only. The stored pipeline transfer configurations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TransferConfig\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListTransferLogsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  returned list transfer run messages.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"Output
  only. The next-pagination token. For multiple-page list results,\nthis token can
  be used as the\n`GetTransferRunLogRequest.page_token`\nto request the next page
  of list results.\";s:4:\"type\";s:6:\"string\";}s:16:\"transferMessages\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Output
  only. The stored pipeline transfer messages.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TransferMessage\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListTransferRunsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  returned list of pipelines in the project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Output
  only. The next-pagination token. For multiple-page list results,\nthis token can
  be used as the\n`ListTransferRunsRequest.page_token`\nto request the next page of
  list results.\";s:4:\"type\";s:6:\"string\";}s:12:\"transferRuns\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Output
  only. The stored pipeline transfer runs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TransferRun\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  resource that represents Google Cloud Platform location.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:103:\"Cross-service
  attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\":
  \"us-east1\"}\";s:4:\"type\";s:6:\"object\";}s:10:\"locationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  canonical id for this location. For example: `\"us-east1\"`.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:84:\"Service-specific
  metadata. For example the available capacity at the given\nlocation.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Resource
  name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ScheduleTransferRunsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  request to schedule transfer runs for a time range.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"End
  time of the range of transfer runs. For example,\n`\"2017-05-30T00:00:00+00:00\"`.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Start
  time of the range of transfer runs. For example,\n`\"2017-05-25T00:00:00+00:00\"`.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ScheduleTransferRunsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  response to schedule transfer runs for a time range.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"runs\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  transfer runs that were scheduled.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TransferRun\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"TransferConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:369:\"Represents
  a data transfer configuration. A transfer configuration\ncontains all metadata needed
  to perform a data transfer. For example,\n`destination_dataset_id` specifies where
  data should be stored.\nWhen a new transfer configuration is created, the specified\n`destination_dataset_id`
  is created when needed and shared with the\nappropriate data source service account.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:21:\"dataRefreshWindowDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:324:\"The
  number of days to look back to automatically refresh the data.\nFor example, if
  `data_refresh_window_days = 10`, then every day\nBigQuery reingests data for [today-10,
  today-1], rather than ingesting data\nfor just [today-1].\nOnly valid if the data
  source supports the feature. Set the value to  0\nto use the default value.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"dataSourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Data
  source id. Cannot be changed once data transfer is created.\";s:4:\"type\";s:6:\"string\";}s:13:\"datasetRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Output
  only. Region in which BigQuery dataset is located.\";s:4:\"type\";s:6:\"string\";}s:20:\"destinationDatasetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  BigQuery target dataset id.\";s:4:\"type\";s:6:\"string\";}s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Is
  this config disabled. When set to true, no runs are scheduled\nfor a given transfer.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"User
  specified display name for the data transfer.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:266:\"The
  resource name of the transfer config.\nTransfer config names have the form\n`projects/{project_id}/transferConfigs/{config_id}`.\nWhere
  `config_id` is usually a uuid, even though it is not\nguaranteed or required. The
  name is ignored when creating a transfer\nconfig.\";s:4:\"type\";s:6:\"string\";}s:11:\"nextRunTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Output
  only. Next time when data transfer will run.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"params\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:34:\"Data transfer specific parameters.\";s:4:\"type\";s:6:\"object\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:11:\"description\";s:549:\"Data
  transfer schedule.\nIf the data source does not support a custom schedule, this
  should be\nempty. If it is empty, the default value for the data source will be\nused.\nThe
  specified times are in UTC.\nExamples of valid format:\n`1st,3rd monday of month
  15:30`,\n`every wed,fri of jan,jun 13:15`, and\n`first sunday of quarter 00:00`.\nSee
  more explanation about the format here:\nhttps://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format\nNOTE:
  the granularity should be at least 8 hours, or less frequent.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Output
  only. State of the most recently updated transfer run.\";s:4:\"enum\";a:6:{i:0;s:26:\"TRANSFER_STATE_UNSPECIFIED\";i:1;s:7:\"PENDING\";i:2;s:7:\"RUNNING\";i:3;s:9:\"SUCCEEDED\";i:4;s:6:\"FAILED\";i:5;s:9:\"CANCELLED\";}s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Output
  only. Data transfer modification time. Ignored by server on input.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:11:\"description\";s:314:\"Output
  only. Unique ID of the user on whose behalf transfer is done.\nApplicable only to
  data sources that do not support service accounts.\nWhen set to 0, the data source
  service account credentials are used.\nMay be negative. Note, that this identifier
  is not stable.\nIt may change over time even for the same user.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TransferMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Represents
  a user facing message for a particular data transfer run.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"messageText\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Message
  text.\";s:4:\"type\";s:6:\"string\";}s:11:\"messageTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Time
  when message was logged.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Message
  severity.\";s:4:\"enum\";a:4:{i:0;s:28:\"MESSAGE_SEVERITY_UNSPECIFIED\";i:1;s:4:\"INFO\";i:2;s:7:\"WARNING\";i:3;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TransferRun\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Represents
  a data transfer run.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"dataSourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Output
  only. Data source id.\";s:4:\"type\";s:6:\"string\";}s:20:\"destinationDatasetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Output
  only. The BigQuery target dataset id.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Output
  only. Time when transfer run ended.\nParameter ignored by server for input requests.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"errorStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:27:\"Status
  of the transfer run.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:209:\"The
  resource name of the transfer run.\nTransfer run names have the form\n`projects/{project_id}/locations/{location}/transferConfigs/{config_id}/runs/{run_id}`.\nThe
  name is ignored when creating a transfer run.\";s:4:\"type\";s:6:\"string\";}s:6:\"params\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:47:\"Output only. Data transfer specific
  parameters.\";s:4:\"type\";s:6:\"object\";}s:7:\"runTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"For
  batch transfer runs, specifies the date and time that\ndata should be ingested.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:11:\"description\";s:304:\"Output
  only. Describes the schedule of this transfer run if it was\ncreated as part of
  a regular schedule. For batch transfer runs that are\nscheduled manually, this is
  empty.\nNOTE: the system might choose to delay the schedule depending on the\ncurrent
  load, so `schedule_time` doesn't always matches this.\";s:4:\"type\";s:6:\"string\";}s:12:\"scheduleTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Minimum
  time after which a transfer run can be started.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Output
  only. Time when transfer run was started.\nParameter ignored by server for input
  requests.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Data
  transfer run state. Ignored for input requests.\";s:4:\"enum\";a:6:{i:0;s:26:\"TRANSFER_STATE_UNSPECIFIED\";i:1;s:7:\"PENDING\";i:2;s:7:\"RUNNING\";i:3;s:9:\"SUCCEEDED\";i:4;s:6:\"FAILED\";i:5;s:9:\"CANCELLED\";}s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Output
  only. Last time the data transfer run state was updated.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:11:\"description\";s:314:\"Output
  only. Unique ID of the user on whose behalf transfer is done.\nApplicable only to
  data sources that do not support service accounts.\nWhen set to 0, the data source
  service account credentials are used.\nMay be negative. Note, that this identifier
  is not stable.\nIt may change over time even for the same user.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
