---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:163:\"AWS
  Device Farm is a service that enables mobile app developers to test Android, iOS,
  and Fire OS apps on physical phones, tablets, and other devices in the cloud.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:15:\"AWS
  Device Farm\";s:7:\"version\";s:10:\"2015-06-23\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/devicefarm-2015-06-23.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"devicefarm\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"amazonaws_devicefarm\";s:4:\"type\";s:7:\"openapi\";}}"
host: devicefarm.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":258:{s:16:\"AWSAccountNumber\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:16;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:15:\"AccountSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  container for account-level settings within AWS Device Farm.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"awsAccountNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AWSAccountNumber\";s:11:\"description\";s:79:\"The
  AWS account number specified in the <code>AccountSettings</code> container.\";}s:24:\"defaultJobTimeoutMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/JobTimeoutMinutes\";s:11:\"description\";s:126:\"The
  default number of minutes (at the account level) a test run will execute before
  it times out. Default value is 60 minutes.\";}s:20:\"maxJobTimeoutMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/JobTimeoutMinutes\";s:11:\"description\";s:74:\"The
  maximum number of minutes a test run will execute before it times out.\";}s:8:\"maxSlots\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxSlotMap\";s:11:\"description\";s:252:\"The
  maximum number of device slots that the AWS account can purchase. Each maximum is
  expressed as an <code>offering-id:number</code> pair, where the <code>offering-id</code>
  represents one of the IDs returned by the <code>ListOfferings</code> command.\";}s:13:\"skipAppResign\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SkipAppResign\";s:11:\"description\";s:383:\"<p>When
  set to <code>true</code>, for private devices, Device Farm will not sign your app
  again. For public devices, Device Farm always signs your apps again and this parameter
  has no effect.</p> <p>For more information about how Device Farm re-signs your app(s),
  see <a href=\"https://aws.amazon.com/device-farm/faq/\">Do you modify my app?</a>
  in the <i>AWS Device Farm FAQs</i>.</p>\";}s:12:\"trialMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TrialMinutes\";s:11:\"description\";s:70:\"Information
  about an AWS account's usage of free trial device minutes.\";}s:16:\"unmeteredDevices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PurchasedDevicesMap\";s:11:\"description\";s:69:\"Returns
  the unmetered devices you have purchased or want to purchase.\";}s:28:\"unmeteredRemoteAccessDevices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PurchasedDevicesMap\";s:11:\"description\";s:83:\"Returns
  the unmetered remote access devices you have purchased or want to purchase.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AccountsCleanup\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"AmazonResourceName\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:32;s:4:\"type\";s:6:\"string\";}s:19:\"AmazonResourceNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";}s:4:\"type\";s:5:\"array\";}s:12:\"AndroidPaths\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:18:\"AppPackagesCleanup\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"ArgumentException\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"An
  invalid argument was specified.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:47:\"Any
  additional information about the exception.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Artifact\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Represents
  the output of a test. Examples of artifacts include logs and screenshots.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:19:\"The
  artifact's ARN.\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  artifact's file extension.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:20:\"The
  artifact's name.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactType\";s:11:\"description\";s:1644:\"<p>The
  artifact's type.</p> <p>Allowed values include the following:</p> <ul> <li> <p>UNKNOWN:
  An unknown type.</p> </li> <li> <p>SCREENSHOT: The screenshot type.</p> </li> <li>
  <p>DEVICE_LOG: The device log type.</p> </li> <li> <p>MESSAGE_LOG: The message log
  type.</p> </li> <li> <p>RESULT_LOG: The result log type.</p> </li> <li> <p>SERVICE_LOG:
  The service log type.</p> </li> <li> <p>WEBKIT_LOG: The web kit log type.</p> </li>
  <li> <p>INSTRUMENTATION_OUTPUT: The instrumentation type.</p> </li> <li> <p>EXERCISER_MONKEY_OUTPUT:
  For Android, the artifact (log) generated by an Android fuzz test.</p> </li> <li>
  <p>CALABASH_JSON_OUTPUT: The Calabash JSON output type.</p> </li> <li> <p>CALABASH_PRETTY_OUTPUT:
  The Calabash pretty output type.</p> </li> <li> <p>CALABASH_STANDARD_OUTPUT: The
  Calabash standard output type.</p> </li> <li> <p>CALABASH_JAVA_XML_OUTPUT: The Calabash
  Java XML output type.</p> </li> <li> <p>AUTOMATION_OUTPUT: The automation output
  type.</p> </li> <li> <p>APPIUM_SERVER_OUTPUT: The Appium server output type.</p>
  </li> <li> <p>APPIUM_JAVA_OUTPUT: The Appium Java output type.</p> </li> <li> <p>APPIUM_JAVA_XML_OUTPUT:
  The Appium Java XML output type.</p> </li> <li> <p>APPIUM_PYTHON_OUTPUT: The Appium
  Python output type.</p> </li> <li> <p>APPIUM_PYTHON_XML_OUTPUT: The Appium Python
  XML output type.</p> </li> <li> <p>EXPLORER_EVENT_LOG: The Explorer event log output
  type.</p> </li> <li> <p>EXPLORER_SUMMARY_LOG: The Explorer summary log output type.</p>
  </li> <li> <p>APPLICATION_CRASH_REPORT: The application crash report output type.</p>
  </li> <li> <p>XCTEST_LOG: The XCode test output type.</p> </li> </ul>\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/URL\";s:11:\"description\";s:111:\"The
  pre-signed Amazon S3 URL that can be used with a corresponding GET request to download
  the artifact's file.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ArtifactCategory\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:10:\"SCREENSHOT\";i:1;s:4:\"FILE\";i:2;s:3:\"LOG\";}s:4:\"type\";s:6:\"string\";}s:12:\"ArtifactType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:27:{i:0;s:7:\"UNKNOWN\";i:1;s:10:\"SCREENSHOT\";i:2;s:10:\"DEVICE_LOG\";i:3;s:11:\"MESSAGE_LOG\";i:4;s:9:\"VIDEO_LOG\";i:5;s:10:\"RESULT_LOG\";i:6;s:11:\"SERVICE_LOG\";i:7;s:10:\"WEBKIT_LOG\";i:8;s:22:\"INSTRUMENTATION_OUTPUT\";i:9;s:23:\"EXERCISER_MONKEY_OUTPUT\";i:10;s:20:\"CALABASH_JSON_OUTPUT\";i:11;s:22:\"CALABASH_PRETTY_OUTPUT\";i:12;s:24:\"CALABASH_STANDARD_OUTPUT\";i:13;s:24:\"CALABASH_JAVA_XML_OUTPUT\";i:14;s:17:\"AUTOMATION_OUTPUT\";i:15;s:20:\"APPIUM_SERVER_OUTPUT\";i:16;s:18:\"APPIUM_JAVA_OUTPUT\";i:17;s:22:\"APPIUM_JAVA_XML_OUTPUT\";i:18;s:20:\"APPIUM_PYTHON_OUTPUT\";i:19;s:24:\"APPIUM_PYTHON_XML_OUTPUT\";i:20;s:18:\"EXPLORER_EVENT_LOG\";i:21;s:20:\"EXPLORER_SUMMARY_LOG\";i:22;s:24:\"APPLICATION_CRASH_REPORT\";i:23;s:10:\"XCTEST_LOG\";i:24;s:5:\"VIDEO\";i:25;s:17:\"CUSTOMER_ARTIFACT\";i:26;s:21:\"CUSTOMER_ARTIFACT_LOG\";}s:4:\"type\";s:6:\"string\";}s:9:\"Artifacts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Artifact\";}s:4:\"type\";s:5:\"array\";}s:13:\"BillingMethod\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"METERED\";i:1;s:9:\"UNMETERED\";}s:4:\"type\";s:6:\"string\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"CPU\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"<p>Represents
  the amount of CPU that an app is using on a physical device.</p> <p>Note that this
  does not represent system-wide CPU usage.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"architecture\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"The
  CPU's architecture, for example x86 or ARM.\";}s:5:\"clock\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:116:\"The
  clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz
  CPU is expressed as 1200000000.\";}s:9:\"frequency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:20:\"The
  CPU's frequency.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"ClientId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:11:\"ContentType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:8:\"Counters\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Represents
  entity counters.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"errored\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:31:\"The
  number of errored entities.\";}s:6:\"failed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:30:\"The
  number of failed entities.\";}s:6:\"passed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:30:\"The
  number of passed entities.\";}s:7:\"skipped\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:31:\"The
  number of skipped entities.\";}s:7:\"stopped\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:31:\"The
  number of stopped entities.\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:29:\"The
  total number of entities.\";}s:6:\"warned\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:30:\"The
  number of warned entities.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateDevicePoolRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Represents
  a request to the create device pool operation.\";s:7:\"example\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"My
  Android devices\";s:4:\"name\";s:12:\"MyDevicePool\";s:10:\"projectArn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:project:EXAMPLE-GUID-123-456\";s:5:\"rules\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:30:\"The
  device pool's description.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:23:\"The
  device pool's name.\";}s:10:\"projectArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:43:\"The
  ARN of the project for the device pool.\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Rules\";s:11:\"description\";s:24:\"The
  device pool's rules.\";}}s:8:\"required\";a:3:{i:0;s:10:\"projectArn\";i:1;s:4:\"name\";i:2;s:5:\"rules\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateDevicePoolResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Represents
  the result of a create device pool request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"devicePool\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"devicePool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DevicePool\";s:11:\"description\";s:30:\"The
  newly created device pool.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateInstanceProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:41:\"The
  description of your instance profile.\";}s:29:\"excludeAppPackagesFromCleanup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PackageIds\";s:11:\"description\";s:242:\"<p>An
  array of strings specifying the list of app packages that should not be cleaned
  up from the device after a test run is over.</p> <p>The list of packages is only
  considered if you set <code>packageCleanup</code> to <code>true</code>.</p>\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:34:\"The
  name of your instance profile.\";}s:14:\"packageCleanup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:146:\"When
  set to <code>true</code>, Device Farm will remove app packages after a test run.
  The default value is <code>false</code> for private devices.\";}s:14:\"rebootAfterUse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:125:\"When
  set to <code>true</code>, Device Farm will reboot the instance after a test run.
  The default value is <code>true</code>.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateInstanceProfileResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"instanceProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InstanceProfile\";s:11:\"description\";s:61:\"An
  object containing information about your instance profile.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateNetworkProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:39:\"The
  description of the network profile.\";}s:21:\"downlinkBandwidthBits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:79:\"The
  data throughput rate in bits per second, as an integer from 0 to 104857600.\";}s:15:\"downlinkDelayMs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:87:\"Delay
  time for all packets to destination in milliseconds as an integer from 0 to 2000.\";}s:16:\"downlinkJitterMs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:93:\"Time
  variation in the delay of received packets in milliseconds as an integer from 0
  to 2000.\";}s:19:\"downlinkLossPercent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PercentInteger\";s:11:\"description\";s:73:\"Proportion
  of received packets that fail to arrive from 0 to 100 percent.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:57:\"The
  name you wish to specify for the new network profile.\";}s:10:\"projectArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:93:\"The
  Amazon Resource Name (ARN) of the project for which you want to create a network
  profile.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NetworkProfileType\";s:11:\"description\";s:78:\"The
  type of network profile you wish to create. Valid values are listed below.\";}s:19:\"uplinkBandwidthBits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:79:\"The
  data throughput rate in bits per second, as an integer from 0 to 104857600.\";}s:13:\"uplinkDelayMs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:87:\"Delay
  time for all packets to destination in milliseconds as an integer from 0 to 2000.\";}s:14:\"uplinkJitterMs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:93:\"Time
  variation in the delay of received packets in milliseconds as an integer from 0
  to 2000.\";}s:17:\"uplinkLossPercent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PercentInteger\";s:11:\"description\";s:76:\"Proportion
  of transmitted packets that fail to arrive from 0 to 100 percent.\";}}s:8:\"required\";a:2:{i:0;s:10:\"projectArn\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateNetworkProfileResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"networkProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NetworkProfile\";s:11:\"description\";s:75:\"The
  network profile that is returned by the create network profile request.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateProjectRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"Represents
  a request to the create project operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"MyProject\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"defaultJobTimeoutMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/JobTimeoutMinutes\";s:11:\"description\";s:178:\"Sets
  the execution timeout value (in minutes) for a project. All test runs in this project
  will use the specified execution timeout value unless overridden when scheduling
  a run.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:19:\"The
  project's name.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateProjectResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Represents
  the result of a create project request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"project\";O:8:\"stdClass\":3:{s:3:\"arn\";s:86:\"arn:aws:devicefarm:us-west-2:123456789101:project:5e01a8c7-c861-4c0a-b1d5-12345EXAMPLE\";s:7:\"created\";s:14:\"1472660939.152\";s:4:\"name\";s:9:\"MyProject\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Project\";s:11:\"description\";s:26:\"The
  newly created project.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"CreateRemoteAccessSessionConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Configuration
  settings for a remote access session, including billing method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"billingMethod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BillingMethod\";s:11:\"description\";s:49:\"The
  billing method for the remote access session.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateRemoteAccessSessionRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:63:\"Creates
  and submits a request to start a remote access session.\";s:7:\"example\";O:8:\"stdClass\":4:{s:13:\"configuration\";O:8:\"stdClass\":1:{s:13:\"billingMethod\";s:7:\"METERED\";}s:9:\"deviceArn\";s:47:\"arn:aws:devicefarm:us-west-2::device:123EXAMPLE\";s:4:\"name\";s:9:\"MySession\";s:10:\"projectArn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:project:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"clientId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ClientId\";s:11:\"description\";s:287:\"Unique
  identifier for the client. If you want access to multiple devices on the same client,
  you should pass the same <code>clientId</code> value in each call to <code>CreateRemoteAccessSession</code>.
  This is required only if <code>remoteDebugEnabled</code> is set to <code>true</code>.\";}s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/CreateRemoteAccessSessionConfiguration\";s:11:\"description\";s:68:\"The
  configuration information for the remote access session request.\";}s:9:\"deviceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:98:\"The
  Amazon Resource Name (ARN) of the device for which you want to create a remote access
  session.\";}s:11:\"instanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:107:\"The
  Amazon Resource Name (ARN) of the device instance for which you want to create a
  remote access session.\";}s:15:\"interactionMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InteractionMode\";s:11:\"description\";s:658:\"<p>The
  interaction mode of the remote access session. Valid values are:</p> <ul> <li> <p>INTERACTIVE:
  You can interact with the iOS device by viewing, touching, and rotating the screen.
  You <b>cannot</b> run XCUITest framework-based tests in this mode.</p> </li> <li>
  <p>NO_VIDEO: You are connected to the device but cannot interact with it or view
  the screen. This mode has the fastest test execution speed. You <b>can</b> run XCUITest
  framework-based tests in this mode.</p> </li> <li> <p>VIDEO_ONLY: You can view the
  screen but cannot touch or rotate it. You <b>can</b> run XCUITest framework-based
  tests and watch the screen in this mode.</p> </li> </ul>\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:62:\"The
  name of the remote access session that you wish to create.\";}s:10:\"projectArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:99:\"The
  Amazon Resource Name (ARN) of the project for which you want to create a remote
  access session.\";}s:18:\"remoteDebugEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:108:\"Set
  to <code>true</code> if you want to access devices remotely for debugging in your
  remote access session.\";}s:18:\"remoteRecordAppArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:87:\"The
  Amazon Resource Name (ARN) for the app to be recorded in the remote access session.\";}s:19:\"remoteRecordEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:82:\"Set
  to <code>true</code> to enable remote recording for the remote access session.\";}s:13:\"skipAppResign\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:383:\"<p>When
  set to <code>true</code>, for private devices, Device Farm will not sign your app
  again. For public devices, Device Farm always signs your apps again and this parameter
  has no effect.</p> <p>For more information about how Device Farm re-signs your app(s),
  see <a href=\"https://aws.amazon.com/device-farm/faq/\">Do you modify my app?</a>
  in the <i>AWS Device Farm FAQs</i>.</p>\";}s:12:\"sshPublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SshPublicKey\";s:11:\"description\";s:216:\"The
  public key of the <code>ssh</code> key pair you want to use for connecting to remote
  devices in your remote debugging session. This is only required if <code>remoteDebugEnabled</code>
  is set to <code>true</code>.\";}}s:8:\"required\";a:2:{i:0;s:10:\"projectArn\";i:1;s:9:\"deviceArn\";}s:4:\"type\";s:6:\"object\";}s:31:\"CreateRemoteAccessSessionResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Represents
  the server response from a request to create a remote access session.\";s:7:\"example\";O:8:\"stdClass\":1:{s:19:\"remoteAccessSession\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"remoteAccessSession\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RemoteAccessSession\";s:11:\"description\";s:112:\"A
  container that describes the remote access session when the request to create a
  remote access session is sent.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateUploadRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:52:\"Represents
  a request to the create upload operation.\";s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"name\";s:20:\"MyAppiumPythonUpload\";s:10:\"projectArn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:project:EXAMPLE-GUID-123-456\";s:4:\"type\";s:26:\"APPIUM_PYTHON_TEST_PACKAGE\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ContentType\";s:11:\"description\";s:68:\"The
  upload's content type (for example, \"application/octet-stream\").\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:336:\"The
  upload's file name. The name should not contain the '/' character. If uploading
  an iOS app, the file name needs to end with the <code>.ipa</code> extension. If
  uploading an Android app, the file name needs to end with the <code>.apk</code>
  extension. For all others, the file name must end with the <code>.zip</code> file
  extension.\";}s:10:\"projectArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:38:\"The
  ARN of the project for the upload.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/UploadType\";s:11:\"description\";s:1452:\"<p>The
  upload's upload type.</p> <p>Must be one of the following values:</p> <ul> <li>
  <p>ANDROID_APP: An Android upload.</p> </li> <li> <p>IOS_APP: An iOS upload.</p>
  </li> <li> <p>WEB_APP: A web appliction upload.</p> </li> <li> <p>EXTERNAL_DATA:
  An external data upload.</p> </li> <li> <p>APPIUM_JAVA_JUNIT_TEST_PACKAGE: An Appium
  Java JUnit test package upload.</p> </li> <li> <p>APPIUM_JAVA_TESTNG_TEST_PACKAGE:
  An Appium Java TestNG test package upload.</p> </li> <li> <p>APPIUM_PYTHON_TEST_PACKAGE:
  An Appium Python test package upload.</p> </li> <li> <p>APPIUM_WEB_JAVA_JUNIT_TEST_PACKAGE:
  An Appium Java JUnit test package upload.</p> </li> <li> <p>APPIUM_WEB_JAVA_TESTNG_TEST_PACKAGE:
  An Appium Java TestNG test package upload.</p> </li> <li> <p>APPIUM_WEB_PYTHON_TEST_PACKAGE:
  An Appium Python test package upload.</p> </li> <li> <p>CALABASH_TEST_PACKAGE: A
  Calabash test package upload.</p> </li> <li> <p>INSTRUMENTATION_TEST_PACKAGE: An
  instrumentation upload.</p> </li> <li> <p>UIAUTOMATION_TEST_PACKAGE: A uiautomation
  test package upload.</p> </li> <li> <p>UIAUTOMATOR_TEST_PACKAGE: A uiautomator test
  package upload.</p> </li> <li> <p>XCTEST_TEST_PACKAGE: An XCode test package upload.</p>
  </li> <li> <p>XCTEST_UI_TEST_PACKAGE: An XCode UI test package upload.</p> </li>
  </ul> <p> <b>Note</b> If you call <code>CreateUpload</code> with <code>WEB_APP</code>
  specified, AWS Device Farm throws an <code>ArgumentException</code> error.</p>\";}}s:8:\"required\";a:3:{i:0;s:10:\"projectArn\";i:1;s:4:\"name\";i:2;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateUploadResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Represents
  the result of a create upload request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"upload\";O:8:\"stdClass\":6:{s:3:\"arn\";s:122:\"arn:aws:devicefarm:us-west-2:123456789101:upload:5e01a8c7-c861-4c0a-b1d5-5ec6e6c6dd23/b5340a65-3da7-4da6-a26e-12345EXAMPLE\";s:7:\"created\";s:14:\"1472661404.186\";s:4:\"name\";s:20:\"MyAppiumPythonUpload\";s:6:\"status\";s:11:\"INITIALIZED\";s:4:\"type\";s:26:\"APPIUM_PYTHON_TEST_PACKAGE\";s:3:\"url\";s:406:\"https://prod-us-west-2-uploads.s3-us-west-2.amazonaws.com/arn%3Aaws%3Adevicefarm%3Aus-west-2%3A123456789101%3Aproject%3A5e01a8c7-c861-4c0a-b1d5-12345EXAMPLE/uploads/arn%3Aaws%3Adevicefarm%3Aus-west-2%3A123456789101%3Aupload%3A5e01a8c7-c861-4c0a-b1d5-5ec6e6c6dd23/b5340a65-3da7-4da6-a26e-12345EXAMPLE/MyAppiumPythonUpload?AWSAccessKeyId=1234567891011EXAMPLE&Expires=1472747804&Signature=1234567891011EXAMPLE\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"upload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Upload\";s:11:\"description\";s:25:\"The
  newly created upload.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateVPCEConfigurationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"serviceDnsName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ServiceDnsName\";s:11:\"description\";s:82:\"The
  DNS name of the service running in your VPC that you want Device Farm to test.\";}s:28:\"vpceConfigurationDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/VPCEConfigurationDescription\";s:11:\"description\";s:86:\"An
  optional description, providing more details about your VPC endpoint configuration.\";}s:21:\"vpceConfigurationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/VPCEConfigurationName\";s:11:\"description\";s:105:\"The
  friendly name you give to your VPC endpoint configuration, to manage your configurations
  more easily.\";}s:15:\"vpceServiceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VPCEServiceName\";s:11:\"description\";s:103:\"The
  name of the VPC endpoint service running inside your AWS account that you want Device
  Farm to test.\";}}s:8:\"required\";a:3:{i:0;s:21:\"vpceConfigurationName\";i:1;s:15:\"vpceServiceName\";i:2;s:14:\"serviceDnsName\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateVPCEConfigurationResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"vpceConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/VPCEConfiguration\";s:11:\"description\";s:71:\"An
  object containing information about your VPC endpoint configuration.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"USD\";}s:4:\"type\";s:6:\"string\";}s:21:\"CustomerArtifactPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:385:\"<p>A
  JSON object specifying the paths where the artifacts generated by the customer's
  tests, on the device or in the test environment, will be pulled from.</p> <p>Specify
  <code>deviceHostPaths</code> and optionally specify either <code>iosPaths</code>
  or <code>androidPaths</code>.</p> <p>For web app tests, you can specify both <code>iosPaths</code>
  and <code>androidPaths</code>.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"androidPaths\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AndroidPaths\";s:11:\"description\";s:126:\"Comma-separated
  list of paths on the Android device where the artifacts generated by the customer's
  tests will be pulled from.\";}s:15:\"deviceHostPaths\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DeviceHostPaths\";s:11:\"description\";s:138:\"Comma-separated
  list of paths in the test execution environment where the artifacts generated by
  the customer's tests will be pulled from.\";}s:8:\"iosPaths\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IosPaths\";s:11:\"description\";s:122:\"Comma-separated
  list of paths on the iOS device where the artifacts generated by the customer's
  tests will be pulled from.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"DateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:23:\"DeleteDevicePoolRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Represents
  a request to the delete device pool operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:61:\"arn:aws:devicefarm:us-west-2::devicepool:123-456-EXAMPLE-GUID\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:92:\"Represents
  the Amazon Resource Name (ARN) of the Device Farm device pool you wish to delete.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteDevicePoolResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Represents
  the result of a delete device pool request.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteInstanceProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:84:\"The
  Amazon Resource Name (ARN) of the instance profile you are requesting to delete.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteInstanceProfileResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteNetworkProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:73:\"The
  Amazon Resource Name (ARN) of the network profile you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteNetworkProfileResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteProjectRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"Represents
  a request to the delete project operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:project:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:88:\"Represents
  the Amazon Resource Name (ARN) of the Device Farm project you wish to delete.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteProjectResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Represents
  the result of a delete project request.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteRemoteAccessSessionRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:69:\"Represents
  the request to delete the specified remote access session.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:session:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:90:\"The
  Amazon Resource Name (ARN) of the sesssion for which you want to delete remote access.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteRemoteAccessSessionResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"The
  response from the server when a request is made to delete the remote access session.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteRunRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:49:\"Represents
  a request to the delete run operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:66:\"arn:aws:devicefarm:us-west-2:123456789101:run:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) for the run you wish to delete.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:15:\"DeleteRunResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Represents
  the result of a delete run request.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteUploadRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:52:\"Represents
  a request to the delete upload operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:69:\"arn:aws:devicefarm:us-west-2:123456789101:upload:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:87:\"Represents
  the Amazon Resource Name (ARN) of the Device Farm upload you wish to delete.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteUploadResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Represents
  the result of a delete upload request.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteVPCEConfigurationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:84:\"The
  Amazon Resource Name (ARN) of the VPC endpoint configuration you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteVPCEConfigurationResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"Device\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Represents
  a device type that an app is tested against.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:17:\"The
  device's ARN.\";}s:7:\"carrier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:21:\"The
  device's carrier.\";}s:3:\"cpu\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/CPU\";s:11:\"description\";s:35:\"Information
  about the device's CPU.\";}s:9:\"fleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  name of the fleet to which this device belongs.\";}s:9:\"fleetType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:102:\"The
  type of fleet to which this device belongs. Possible values for fleet type are PRIVATE
  and PUBLIC.\";}s:10:\"formFactor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DeviceFormFactor\";s:11:\"description\";s:172:\"<p>The
  device's form factor.</p> <p>Allowed values include:</p> <ul> <li> <p>PHONE: The
  phone form factor.</p> </li> <li> <p>TABLET: The tablet form factor.</p> </li> </ul>\";}s:8:\"heapSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:43:\"The
  device's heap size, expressed in bytes.\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  device's image name.\";}s:9:\"instances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DeviceInstances\";s:11:\"description\";s:39:\"The
  instances belonging to this device.\";}s:12:\"manufacturer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  device's manufacturer name.\";}s:6:\"memory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:51:\"The
  device's total memory size, expressed in bytes.\";}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  device's model name.\";}s:7:\"modelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  device's model ID.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:26:\"The
  device's display name.\";}s:2:\"os\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:35:\"The
  device's operating system type.\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DevicePlatform\";s:11:\"description\";s:161:\"<p>The
  device's platform.</p> <p>Allowed values include:</p> <ul> <li> <p>ANDROID: The
  Android platform.</p> </li> <li> <p>IOS: The iOS platform.</p> </li> </ul>\";}s:5:\"radio\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:19:\"The
  device's radio.\";}s:19:\"remoteAccessEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:74:\"Specifies
  whether remote access has been enabled for the specified device.\";}s:18:\"remoteDebugEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:84:\"This
  flag is set to <code>true</code> if remote debugging is enabled for the device.\";}s:10:\"resolution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Resolution\";s:11:\"description\";s:29:\"The
  resolution of the device.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DeviceAttribute\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:3:\"ARN\";i:1;s:8:\"PLATFORM\";i:2;s:11:\"FORM_FACTOR\";i:3;s:12:\"MANUFACTURER\";i:4;s:21:\"REMOTE_ACCESS_ENABLED\";i:5;s:20:\"REMOTE_DEBUG_ENABLED\";i:6;s:14:\"APPIUM_VERSION\";i:7;s:12:\"INSTANCE_ARN\";i:8;s:15:\"INSTANCE_LABELS\";i:9;s:10:\"FLEET_TYPE\";}s:4:\"type\";s:6:\"string\";}s:16:\"DeviceFormFactor\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"PHONE\";i:1;s:6:\"TABLET\";}s:4:\"type\";s:6:\"string\";}s:15:\"DeviceHostPaths\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:14:\"DeviceInstance\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Represents
  the device instance.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:54:\"The
  Amazon Resource Name (ARN) of the device instance.\";}s:9:\"deviceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the device.\";}s:15:\"instanceProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InstanceProfile\";s:11:\"description\";s:59:\"A
  object containing information about the instance profile.\";}s:6:\"labels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InstanceLabels\";s:11:\"description\";s:51:\"An
  array of strings describing the device instance.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InstanceStatus\";s:11:\"description\";s:65:\"The
  status of the device instance. Valid values are listed below.\";}s:4:\"udid\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"Unique
  device identifier for the device instance.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DeviceInstances\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DeviceInstance\";}s:4:\"type\";s:5:\"array\";}s:13:\"DeviceMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"Represents
  the total (metered or unmetered) minutes used by the resource to run tests. Contains
  the sum of minutes consumed by all children.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"metered\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:93:\"When
  specified, represents only the sum of metered minutes used by the resource to run
  tests.\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:79:\"When
  specified, represents the total minutes used by the resource to run tests.\";}s:9:\"unmetered\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:95:\"When
  specified, represents only the sum of unmetered minutes used by the resource to
  run tests.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DevicePlatform\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"ANDROID\";i:1;s:3:\"IOS\";}s:4:\"type\";s:6:\"string\";}s:10:\"DevicePool\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  a collection of device types.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:22:\"The
  device pool's ARN.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:30:\"The
  device pool's description.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:23:\"The
  device pool's name.\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Rules\";s:11:\"description\";s:42:\"Information
  about the device pool's rules.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DevicePoolType\";s:11:\"description\";s:260:\"<p>The
  device pool's type.</p> <p>Allowed values include:</p> <ul> <li> <p>CURATED: A device
  pool that is created and managed by AWS Device Farm.</p> </li> <li> <p>PRIVATE:
  A device pool that is created and managed by the device pool developer.</p> </li>
  </ul>\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DevicePoolCompatibilityResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Represents
  a device pool compatibility result.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"compatible\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:55:\"Whether
  the result was compatible with the device pool.\";}s:6:\"device\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Device\";s:11:\"description\";s:71:\"The
  device (phone or tablet) that you wish to return information about.\";}s:23:\"incompatibilityMessages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/IncompatibilityMessages\";s:11:\"description\";s:36:\"Information
  about the compatibility.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DevicePoolCompatibilityResults\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/DevicePoolCompatibilityResult\";}s:4:\"type\";s:5:\"array\";}s:14:\"DevicePoolType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"CURATED\";i:1;s:7:\"PRIVATE\";}s:4:\"type\";s:6:\"string\";}s:11:\"DevicePools\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DevicePool\";}s:4:\"type\";s:5:\"array\";}s:7:\"Devices\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Device\";}s:4:\"type\";s:5:\"array\";}s:6:\"Double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:22:\"ExecutionConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Represents
  configuration information about a test run, such as the execution timeout (in minutes).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"accountsCleanup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AccountsCleanup\";s:11:\"description\";s:82:\"True
  if account cleanup is enabled at the beginning of the test; otherwise, false.\";}s:18:\"appPackagesCleanup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AppPackagesCleanup\";s:11:\"description\";s:86:\"True
  if app package cleanup is enabled at the beginning of the test; otherwise, false.\";}s:17:\"jobTimeoutMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/JobTimeoutMinutes\";s:11:\"description\";s:66:\"The
  number of minutes a test run will execute before it times out.\";}s:13:\"skipAppResign\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SkipAppResign\";s:11:\"description\";s:383:\"<p>When
  set to <code>true</code>, for private devices, Device Farm will not sign your app
  again. For public devices, Device Farm always signs your apps again and this parameter
  has no effect.</p> <p>For more information about how Device Farm re-signs your app(s),
  see <a href=\"https://aws.amazon.com/device-farm/faq/\">Do you modify my app?</a>
  in the <i>AWS Device Farm FAQs</i>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ExecutionResult\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:7:\"PENDING\";i:1;s:6:\"PASSED\";i:2;s:6:\"WARNED\";i:3;s:6:\"FAILED\";i:4;s:7:\"SKIPPED\";i:5;s:7:\"ERRORED\";i:6;s:7:\"STOPPED\";}s:4:\"type\";s:6:\"string\";}s:19:\"ExecutionResultCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:14:\"PARSING_FAILED\";i:1;s:25:\"VPC_ENDPOINT_SETUP_FAILED\";}s:4:\"type\";s:6:\"string\";}s:15:\"ExecutionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:7:\"PENDING\";i:1;s:19:\"PENDING_CONCURRENCY\";i:2;s:14:\"PENDING_DEVICE\";i:3;s:10:\"PROCESSING\";i:4;s:10:\"SCHEDULING\";i:5;s:9:\"PREPARING\";i:6;s:7:\"RUNNING\";i:7;s:9:\"COMPLETED\";i:8;s:8:\"STOPPING\";}s:4:\"type\";s:6:\"string\";}s:6:\"Filter\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:8192;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:25:\"GetAccountSettingsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Represents
  the request sent to retrieve the account settings.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"GetAccountSettingsResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"Represents
  the account settings return values from the <code>GetAccountSettings</code> request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:15:\"accountSettings\";O:8:\"stdClass\":2:{s:16:\"awsAccountNumber\";s:12:\"123456789101\";s:16:\"unmeteredDevices\";O:8:\"stdClass\":2:{s:7:\"ANDROID\";i:1;s:3:\"IOS\";i:2;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"accountSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AccountSettings\";s:11:\"description\";s:21:\"The
  account settings.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetDeviceInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:83:\"The
  Amazon Resource Name (ARN) of the instance you're requesting information about.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:23:\"GetDeviceInstanceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"deviceInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeviceInstance\";s:11:\"description\";s:60:\"An
  object containing information about your device instance.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GetDevicePoolCompatibilityRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:68:\"Represents
  a request to the get device pool compatibility operation.\";s:7:\"example\";O:8:\"stdClass\":3:{s:6:\"appArn\";s:54:\"arn:aws:devicefarm:us-west-2::app:123-456-EXAMPLE-GUID\";s:13:\"devicePoolArn\";s:61:\"arn:aws:devicefarm:us-west-2::devicepool:123-456-EXAMPLE-GUID\";s:8:\"testType\";s:13:\"APPIUM_PYTHON\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"appArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:69:\"The
  ARN of the app that is associated with the specified device pool.\";}s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ScheduleRunConfiguration\";s:11:\"description\";s:62:\"An
  object containing information about the settings for a run.\";}s:13:\"devicePoolArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:22:\"The
  device pool's ARN.\";}s:4:\"test\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ScheduleRunTest\";s:11:\"description\";s:70:\"Information
  about the uploaded test to be run against the device pool.\";}s:8:\"testType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TestType\";s:11:\"description\";s:1072:\"<p>The
  test type for the specified device pool.</p> <p>Allowed values include the following:</p>
  <ul> <li> <p>BUILTIN_FUZZ: The built-in fuzz type.</p> </li> <li> <p>BUILTIN_EXPLORER:
  For Android, an app explorer that will traverse an Android app, interacting with
  it and capturing screenshots at the same time.</p> </li> <li> <p>APPIUM_JAVA_JUNIT:
  The Appium Java JUnit type.</p> </li> <li> <p>APPIUM_JAVA_TESTNG: The Appium Java
  TestNG type.</p> </li> <li> <p>APPIUM_PYTHON: The Appium Python type.</p> </li>
  <li> <p>APPIUM_WEB_JAVA_JUNIT: The Appium Java JUnit type for Web apps.</p> </li>
  <li> <p>APPIUM_WEB_JAVA_TESTNG: The Appium Java TestNG type for Web apps.</p> </li>
  <li> <p>APPIUM_WEB_PYTHON: The Appium Python type for Web apps.</p> </li> <li> <p>CALABASH:
  The Calabash type.</p> </li> <li> <p>INSTRUMENTATION: The Instrumentation type.</p>
  </li> <li> <p>UIAUTOMATION: The uiautomation type.</p> </li> <li> <p>UIAUTOMATOR:
  The uiautomator type.</p> </li> <li> <p>XCTEST: The XCode test type.</p> </li> <li>
  <p>XCTEST_UI: The XCode UI test type.</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:13:\"devicePoolArn\";}s:4:\"type\";s:6:\"object\";}s:32:\"GetDevicePoolCompatibilityResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Represents
  the result of describe device pool compatibility request.\";s:7:\"example\";O:8:\"stdClass\":2:{s:17:\"compatibleDevices\";a:0:{}s:19:\"incompatibleDevices\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"compatibleDevices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/DevicePoolCompatibilityResults\";s:11:\"description\";s:37:\"Information
  about compatible devices.\";}s:19:\"incompatibleDevices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/DevicePoolCompatibilityResults\";s:11:\"description\";s:39:\"Information
  about incompatible devices.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetDevicePoolRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:54:\"Represents
  a request to the get device pool operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:project:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:22:\"The
  device pool's ARN.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetDevicePoolResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Represents
  the result of a get device pool request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"devicePool\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"devicePool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DevicePool\";s:11:\"description\";s:65:\"An
  object containing information about the requested device pool.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetDeviceRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Represents
  a request to the get device request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:47:\"arn:aws:devicefarm:us-west-2::device:123EXAMPLE\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:22:\"The
  device type's ARN.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:15:\"GetDeviceResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Represents
  the result of a get device request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"device\";O:8:\"stdClass\":12:{s:3:\"arn\";s:69:\"arn:aws:devicefarm:us-west-2::device:A0E6E6E1059E45918208DF75B2B7EF6C\";s:3:\"cpu\";O:8:\"stdClass\":3:{s:12:\"architecture\";s:11:\"armeabi-v7a\";s:5:\"clock\";d:2265.5999999999999;s:9:\"frequency\";s:3:\"MHz\";}s:10:\"formFactor\";s:5:\"PHONE\";s:8:\"heapSize\";i:256000000;s:5:\"image\";s:22:\"75B2B7EF6C12345EXAMPLE\";s:12:\"manufacturer\";s:2:\"LG\";s:6:\"memory\";i:16000000000;s:5:\"model\";s:11:\"G2
  (Sprint)\";s:4:\"name\";s:14:\"LG G2 (Sprint)\";s:2:\"os\";s:5:\"4.2.2\";s:8:\"platform\";s:7:\"ANDROID\";s:10:\"resolution\";O:8:\"stdClass\":2:{s:6:\"height\";i:1920;s:5:\"width\";i:1080;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"device\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Device\";s:11:\"description\";s:60:\"An
  object containing information about the requested device.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetInstanceProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:56:\"The
  Amazon Resource Name (ARN) of your instance profile.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:24:\"GetInstanceProfileResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"instanceProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InstanceProfile\";s:11:\"description\";s:61:\"An
  object containing information about your instance profile.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"GetJobRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:46:\"Represents
  a request to the get job operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:54:\"arn:aws:devicefarm:us-west-2::job:123-456-EXAMPLE-GUID\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:14:\"The
  job's ARN.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:12:\"GetJobResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Represents
  the result of a get job request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"job\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"job\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Job\";s:11:\"description\";s:57:\"An
  object containing information about the requested job.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetNetworkProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:91:\"The
  Amazon Resource Name (ARN) of the network profile you want to return information
  about.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:23:\"GetNetworkProfileResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"networkProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NetworkProfile\";s:11:\"description\";s:20:\"The
  network profile.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetOfferingStatusRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:93:\"Represents
  the request to retrieve the offering status for the specified customer or account.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"nextToken\";s:57:\"RW5DdDJkMWYwZjM2MzM2VHVpOHJIUXlDUXlhc2QzRGViYnc9SEXAMPLE=\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetOfferingStatusResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Returns
  the status result for a device offering.\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"current\";O:8:\"stdClass\":1:{s:36:\"D68B3C05-1BA6-4360-BC69-12345EXAMPLE\";O:8:\"stdClass\":2:{s:8:\"offering\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Android
  Remote Access Unmetered Device Slot\";s:2:\"id\";s:36:\"D68B3C05-1BA6-4360-BC69-12345EXAMPLE\";s:8:\"platform\";s:7:\"ANDROID\";s:4:\"type\";s:9:\"RECURRING\";}s:8:\"quantity\";i:1;}}s:10:\"nextPeriod\";O:8:\"stdClass\":1:{s:36:\"D68B3C05-1BA6-4360-BC69-12345EXAMPLE\";O:8:\"stdClass\":3:{s:11:\"effectiveOn\";s:10:\"1472688000\";s:8:\"offering\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Android
  Remote Access Unmetered Device Slot\";s:2:\"id\";s:36:\"D68B3C05-1BA6-4360-BC69-12345EXAMPLE\";s:8:\"platform\";s:7:\"ANDROID\";s:4:\"type\";s:9:\"RECURRING\";}s:8:\"quantity\";i:1;}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"current\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/OfferingStatusMap\";s:11:\"description\";s:64:\"When
  specified, gets the offering status for the current period.\";}s:10:\"nextPeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/OfferingStatusMap\";s:11:\"description\";s:61:\"When
  specified, gets the offering status for the next period.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetProjectRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:50:\"Represents
  a request to the get project operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:86:\"arn:aws:devicefarm:us-west-2:123456789101:project:5e01a8c7-c861-4c0a-b1d5-12345EXAMPLE\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:18:\"The
  project's ARN.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:16:\"GetProjectResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Represents
  the result of a get project request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"project\";O:8:\"stdClass\":3:{s:3:\"arn\";s:86:\"arn:aws:devicefarm:us-west-2:123456789101:project:5e01a8c7-c861-4c0a-b1d5-12345EXAMPLE\";s:7:\"created\";s:14:\"1472660939.152\";s:4:\"name\";s:10:\"My
  Project\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Project\";s:11:\"description\";s:46:\"The
  project you wish to get information about.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GetRemoteAccessSessionRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:84:\"Represents
  the request to get information about the specified remote access session.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:session:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:108:\"The
  Amazon Resource Name (ARN) of the remote access session about which you want to
  get session information.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:28:\"GetRemoteAccessSessionResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:104:\"Represents
  the response from the server that lists detailed information about the remote access
  session.\";s:7:\"example\";O:8:\"stdClass\":1:{s:19:\"remoteAccessSession\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"remoteAccessSession\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RemoteAccessSession\";s:11:\"description\";s:76:\"A
  container that lists detailed information about the remote access session.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"GetRunRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:46:\"Represents
  a request to the get run operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:119:\"arn:aws:devicefarm:us-west-2:123456789101:run:5e01a8c7-c861-4c0a-b1d5-5ec6e6c6dd23/0fcac17b-6122-44d7-ae5a-12345EXAMPLE\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:14:\"The
  run's ARN.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:12:\"GetRunResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Represents
  the result of a get run request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"run\";O:8:\"stdClass\":12:{s:3:\"arn\";s:119:\"arn:aws:devicefarm:us-west-2:123456789101:run:5e01a8c7-c861-4c0a-b1d5-5ec6e6c6dd23/0fcac17b-6122-44d7-ae5a-12345EXAMPLE\";s:13:\"billingMethod\";s:7:\"METERED\";s:13:\"completedJobs\";i:0;s:8:\"counters\";O:8:\"stdClass\":7:{s:7:\"errored\";i:0;s:6:\"failed\";i:0;s:6:\"passed\";i:0;s:7:\"skipped\";i:0;s:7:\"stopped\";i:0;s:5:\"total\";i:0;s:6:\"warned\";i:0;}s:7:\"created\";s:14:\"1472667509.852\";s:13:\"deviceMinutes\";O:8:\"stdClass\":3:{s:7:\"metered\";i:0;s:5:\"total\";i:0;s:9:\"unmetered\";i:0;}s:4:\"name\";s:11:\"My
  Test Run\";s:8:\"platform\";s:7:\"ANDROID\";s:6:\"result\";s:7:\"PENDING\";s:6:\"status\";s:7:\"RUNNING\";s:9:\"totalJobs\";i:3;s:4:\"type\";s:16:\"BUILTIN_EXPLORER\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"run\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Run\";s:11:\"description\";s:37:\"The
  run you wish to get results from.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GetSuiteRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:48:\"Represents
  a request to the get suite operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:68:\"arn:aws:devicefarm:us-west-2:123456789101:suite:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:16:\"The
  suite's ARN.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:14:\"GetSuiteResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Represents
  the result of a get suite request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"suite\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"suite\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Suite\";s:11:\"description\";s:34:\"A
  collection of one or more tests.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"GetTestRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Represents
  a request to the get test operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:67:\"arn:aws:devicefarm:us-west-2:123456789101:test:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:15:\"The
  test's ARN.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:13:\"GetTestResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Represents
  the result of a get test request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"test\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"test\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Test\";s:11:\"description\";s:35:\"A
  test condition that is evaluated.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetUploadRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:49:\"Represents
  a request to the get upload operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:69:\"arn:aws:devicefarm:us-west-2:123456789101:upload:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:17:\"The
  upload's ARN.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:15:\"GetUploadResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Represents
  the result of a get upload request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"upload\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"upload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Upload\";s:11:\"description\";s:74:\"An
  app or a set of one or more tests to upload or that have been uploaded.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"GetVPCEConfigurationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:86:\"The
  Amazon Resource Name (ARN) of the VPC endpoint configuration you want to describe.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetVPCEConfigurationResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"vpceConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/VPCEConfiguration\";s:11:\"description\";s:71:\"An
  object containing information about your VPC endpoint configuration.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"HostAddress\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:1024;s:4:\"type\";s:6:\"string\";}s:20:\"IdempotencyException\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"An
  entity with the same name already exists.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:47:\"Any
  additional information about the exception.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"IncompatibilityMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Represents
  information about incompatibility.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:36:\"A
  message about the incompatibility.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DeviceAttribute\";s:11:\"description\";s:467:\"<p>The
  type of incompatibility.</p> <p>Allowed values include:</p> <ul> <li> <p>ARN: The
  ARN.</p> </li> <li> <p>FORM_FACTOR: The form factor (for example, phone or tablet).</p>
  </li> <li> <p>MANUFACTURER: The manufacturer.</p> </li> <li> <p>PLATFORM: The platform
  (for example, Android or iOS).</p> </li> <li> <p>REMOTE_ACCESS_ENABLED: Whether
  the device is enabled for remote access.</p> </li> <li> <p>APPIUM_VERSION: The Appium
  version for the test.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:23:\"IncompatibilityMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/IncompatibilityMessage\";}s:4:\"type\";s:5:\"array\";}s:35:\"InstallToRemoteAccessSessionRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:148:\"Represents
  the request to install an Android application (in .apk format) or an iOS application
  (in .ipa format) as part of a remote access session.\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"appArn\";s:66:\"arn:aws:devicefarm:us-west-2:123456789101:app:EXAMPLE-GUID-123-456\";s:22:\"remoteAccessSessionArn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:session:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"appArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:85:\"The
  Amazon Resource Name (ARN) of the app about which you are requesting information.\";}s:22:\"remoteAccessSessionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:103:\"The
  Amazon Resource Name (ARN) of the remote access session about which you are requesting
  information.\";}}s:8:\"required\";a:2:{i:0;s:22:\"remoteAccessSessionArn\";i:1;s:6:\"appArn\";}s:4:\"type\";s:6:\"object\";}s:34:\"InstallToRemoteAccessSessionResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:116:\"Represents
  the response from the server after AWS Device Farm makes a request to install to
  a remote access session.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"appUpload\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"appUpload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Upload\";s:11:\"description\";s:43:\"An
  app to upload or that has been uploaded.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"InstanceLabels\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:15:\"InstanceProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Represents
  the instance profile.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) of the instance profile.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:40:\"The
  description of the instance profile.\";}s:29:\"excludeAppPackagesFromCleanup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PackageIds\";s:11:\"description\";s:242:\"<p>An
  array of strings specifying the list of app packages that should not be cleaned
  up from the device after a test run is over.</p> <p>The list of packages is only
  considered if you set <code>packageCleanup</code> to <code>true</code>.</p>\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:33:\"The
  name of the instance profile.\";}s:14:\"packageCleanup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:146:\"When
  set to <code>true</code>, Device Farm will remove app packages after a test run.
  The default value is <code>false</code> for private devices.\";}s:14:\"rebootAfterUse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:125:\"When
  set to <code>true</code>, Device Farm will reboot the instance after a test run.
  The default value is <code>true</code>.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"InstanceProfiles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InstanceProfile\";}s:4:\"type\";s:5:\"array\";}s:14:\"InstanceStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:6:\"IN_USE\";i:1;s:9:\"PREPARING\";i:2;s:9:\"AVAILABLE\";i:3;s:13:\"NOT_AVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"InteractionMode\";O:8:\"stdClass\":4:{s:4:\"enum\";a:3:{i:0;s:11:\"INTERACTIVE\";i:1;s:8:\"NO_VIDEO\";i:2;s:10:\"VIDEO_ONLY\";}s:9:\"maxLength\";i:64;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:25:\"InvalidOperationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"There
  was an error with the update request, or you do not have sufficient permissions
  to update this VPC endpoint configuration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}s:4:\"type\";s:6:\"object\";}s:8:\"IosPaths\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:3:\"Job\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Represents
  a device.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:14:\"The
  job's ARN.\";}s:8:\"counters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Counters\";s:11:\"description\";s:26:\"The
  job's result counters.\";}s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:25:\"When
  the job was created.\";}s:6:\"device\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Device\";s:11:\"description\";s:29:\"The
  device (phone or tablet).\";}s:13:\"deviceMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DeviceMinutes\";s:11:\"description\";s:68:\"Represents
  the total (metered or unmetered) minutes used by the job.\";}s:11:\"instanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:47:\"The
  Amazon Resource Name (ARN) of the instance.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:33:\"A
  message about the job's result.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:15:\"The
  job's name.\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExecutionResult\";s:11:\"description\";s:397:\"<p>The
  job's result.</p> <p>Allowed values include:</p> <ul> <li> <p>PENDING: A pending
  condition.</p> </li> <li> <p>PASSED: A passing condition.</p> </li> <li> <p>WARNED:
  A warning condition.</p> </li> <li> <p>FAILED: A failed condition.</p> </li> <li>
  <p>SKIPPED: A skipped condition.</p> </li> <li> <p>ERRORED: An error condition.</p>
  </li> <li> <p>STOPPED: A stopped condition.</p> </li> </ul>\";}s:7:\"started\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:21:\"The
  job's start time.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExecutionStatus\";s:11:\"description\";s:531:\"<p>The
  job's status.</p> <p>Allowed values include:</p> <ul> <li> <p>PENDING: A pending
  status.</p> </li> <li> <p>PENDING_CONCURRENCY: A pending concurrency status.</p>
  </li> <li> <p>PENDING_DEVICE: A pending device status.</p> </li> <li> <p>PROCESSING:
  A processing status.</p> </li> <li> <p>SCHEDULING: A scheduling status.</p> </li>
  <li> <p>PREPARING: A preparing status.</p> </li> <li> <p>RUNNING: A running status.</p>
  </li> <li> <p>COMPLETED: A completed status.</p> </li> <li> <p>STOPPING: A stopping
  status.</p> </li> </ul>\";}s:7:\"stopped\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:20:\"The
  job's stop time.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TestType\";s:11:\"description\";s:1043:\"<p>The
  job's type.</p> <p>Allowed values include the following:</p> <ul> <li> <p>BUILTIN_FUZZ:
  The built-in fuzz type.</p> </li> <li> <p>BUILTIN_EXPLORER: For Android, an app
  explorer that will traverse an Android app, interacting with it and capturing screenshots
  at the same time.</p> </li> <li> <p>APPIUM_JAVA_JUNIT: The Appium Java JUnit type.</p>
  </li> <li> <p>APPIUM_JAVA_TESTNG: The Appium Java TestNG type.</p> </li> <li> <p>APPIUM_PYTHON:
  The Appium Python type.</p> </li> <li> <p>APPIUM_WEB_JAVA_JUNIT: The Appium Java
  JUnit type for Web apps.</p> </li> <li> <p>APPIUM_WEB_JAVA_TESTNG: The Appium Java
  TestNG type for Web apps.</p> </li> <li> <p>APPIUM_WEB_PYTHON: The Appium Python
  type for Web apps.</p> </li> <li> <p>CALABASH: The Calabash type.</p> </li> <li>
  <p>INSTRUMENTATION: The Instrumentation type.</p> </li> <li> <p>UIAUTOMATION: The
  uiautomation type.</p> </li> <li> <p>UIAUTOMATOR: The uiautomator type.</p> </li>
  <li> <p>XCTEST: The XCode test type.</p> </li> <li> <p>XCTEST_UI: The XCode UI test
  type.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:17:\"JobTimeoutMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Jobs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}s:4:\"type\";s:5:\"array\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"A
  limit was exceeded.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:47:\"Any
  additional information about the exception.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListArtifactsRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"Represents
  a request to the list artifacts operation.\";s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"arn\";s:66:\"arn:aws:devicefarm:us-west-2:123456789101:run:EXAMPLE-GUID-123-456\";s:4:\"type\";s:10:\"SCREENSHOT\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:33:\"The
  Run, Job, Suite, or Test ARN.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ArtifactCategory\";s:11:\"description\";s:226:\"<p>The
  artifacts' type.</p> <p>Allowed values include:</p> <ul> <li> <p>FILE: The artifacts
  are files.</p> </li> <li> <p>LOG: The artifacts are logs.</p> </li> <li> <p>SCREENSHOT:
  The artifacts are screenshots.</p> </li> </ul>\";}}s:8:\"required\";a:2:{i:0;s:3:\"arn\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:19:\"ListArtifactsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  the result of a list artifacts operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"artifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Artifacts\";s:11:\"description\";s:32:\"Information
  about the artifacts.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:211:\"If
  the number of items that are returned is significantly large, this is an identifier
  that is also returned, which can be used in a subsequent call to this operation
  to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListDeviceInstancesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:89:\"An
  integer specifying the maximum number of items you want to return in the API response.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListDeviceInstancesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"deviceInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DeviceInstances\";s:11:\"description\";s:61:\"An
  object containing information about your device instances.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:110:\"An
  identifier that can be used in the next call to this operation to return the next
  set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListDevicePoolsRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"Represents
  the result of a list device pools request.\";s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"arn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:project:EXAMPLE-GUID-123-456\";s:4:\"type\";s:7:\"PRIVATE\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:16:\"The
  project ARN.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DevicePoolType\";s:11:\"description\";s:260:\"<p>The
  device pools' type.</p> <p>Allowed values include:</p> <ul> <li> <p>CURATED: A device
  pool that is created and managed by AWS Device Farm.</p> </li> <li> <p>PRIVATE:
  A device pool that is created and managed by the device pool developer.</p> </li>
  </ul>\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:21:\"ListDevicePoolsResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Represents
  the result of a list device pools request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"devicePools\";a:2:{i:0;O:8:\"stdClass\":4:{s:3:\"arn\";s:77:\"arn:aws:devicefarm:us-west-2::devicepool:082d10e5-d7d7-48a5-ba5c-12345EXAMPLE\";s:11:\"description\";s:11:\"Top
  devices\";s:4:\"name\";s:11:\"Top Devices\";s:5:\"rules\";a:1:{i:0;O:8:\"stdClass\":3:{s:9:\"attribute\";s:3:\"ARN\";s:8:\"operator\";s:2:\"IN\";s:5:\"value\";s:561:\"[\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\"]\";}}}i:1;O:8:\"stdClass\":4:{s:3:\"arn\";s:126:\"arn:aws:devicefarm:us-west-2:123456789101:devicepool:5e01a8c7-c861-4c0a-b1d5-5ec6e6c6dd23/bf96e75a-28f6-4e61-b6a7-12345EXAMPLE\";s:11:\"description\";s:30:\"Samsung
  Galaxy Android devices\";s:4:\"name\";s:22:\"My Android Device Pool\";s:5:\"rules\";a:1:{i:0;O:8:\"stdClass\":3:{s:9:\"attribute\";s:3:\"ARN\";s:8:\"operator\";s:2:\"IN\";s:5:\"value\";s:169:\"[\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\",\"arn:aws:devicefarm:us-west-2::device:123456789EXAMPLE\"]\";}}}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"devicePools\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DevicePools\";s:11:\"description\";s:35:\"Information
  about the device pools.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:211:\"If
  the number of items that are returned is significantly large, this is an identifier
  that is also returned, which can be used in a subsequent call to this operation
  to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListDevicesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Represents
  the result of a list devices request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:project:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:46:\"The
  Amazon Resource Name (ARN) of the project.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListDevicesResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Represents
  the result of a list devices operation.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"devices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Devices\";s:11:\"description\";s:30:\"Information
  about the devices.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:211:\"If
  the number of items that are returned is significantly large, this is an identifier
  that is also returned, which can be used in a subsequent call to this operation
  to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListInstanceProfilesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:89:\"An
  integer specifying the maximum number of items you want to return in the API response.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListInstanceProfilesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"instanceProfiles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstanceProfiles\";s:11:\"description\";s:62:\"An
  object containing information about your instance profiles.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:110:\"An
  identifier that can be used in the next call to this operation to return the next
  set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListJobsRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:48:\"Represents
  a request to the list jobs operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"arn\";s:70:\"arn:aws:devicefarm:us-west-2:123456789101:project:EXAMPLE-GUID-123-456\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:37:\"The
  run's Amazon Resource Name (ARN).\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:14:\"ListJobsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Represents
  the result of a list jobs request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"jobs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Jobs\";s:11:\"description\";s:27:\"Information
  about the jobs.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:211:\"If
  the number of items that are returned is significantly large, this is an identifier
  that is also returned, which can be used in a subsequent call to this operation
  to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListNetworkProfilesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:90:\"The
  Amazon Resource Name (ARN) of the project for which you want to list network profiles.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NetworkProfileType\";s:11:\"description\";s:96:\"The
  type of network profile you wish to return information about. Valid values are listed
  below.\";}}s:8:\"required\";a:1:{i:0;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:25:\"ListNetworkProfilesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"networkProfiles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NetworkProfiles\";s:11:\"description\";s:41:\"A
  list of the available network profiles.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListOfferingPromotionsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ListOfferingPromotionsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:105:\"An
  identifier to be used in the next call to this operation, to return the next set
  of items in the list.\";}s:18:\"offeringPromotions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/OfferingPromotions\";s:11:\"description\";s:42:\"Information
  about the offering promotions.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ListOfferingTransactionsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Represents
  the request to list the offering transaction history.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"nextToken\";s:57:\"RW5DdDJkMWYwZjM2MzM2VHVpOHJIUXlDUXlhc2QzRGViYnc9SEXAMPLE=\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListOfferingTransactionsResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Returns
  the transaction log of the specified offerings.\";s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"offeringTransactions\";a:4:{i:0;O:8:\"stdClass\":4:{s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"amount\";i:0;s:12:\"currencyCode\";s:3:\"USD\";}s:9:\"createdOn\";s:10:\"1470021420\";s:14:\"offeringStatus\";O:8:\"stdClass\":4:{s:11:\"effectiveOn\";s:10:\"1472688000\";s:8:\"offering\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Android
  Remote Access Unmetered Device Slot\";s:2:\"id\";s:36:\"D68B3C05-1BA6-4360-BC69-12345EXAMPLE\";s:8:\"platform\";s:7:\"ANDROID\";s:4:\"type\";s:9:\"RECURRING\";}s:8:\"quantity\";i:0;s:4:\"type\";s:5:\"RENEW\";}s:13:\"transactionId\";s:36:\"03728003-d1ea-4851-abd6-12345EXAMPLE\";}i:1;O:8:\"stdClass\":4:{s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"amount\";i:250;s:12:\"currencyCode\";s:3:\"USD\";}s:9:\"createdOn\";s:10:\"1470021420\";s:14:\"offeringStatus\";O:8:\"stdClass\":4:{s:11:\"effectiveOn\";s:10:\"1470021420\";s:8:\"offering\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Android
  Remote Access Unmetered Device Slot\";s:2:\"id\";s:36:\"D68B3C05-1BA6-4360-BC69-12345EXAMPLE\";s:8:\"platform\";s:7:\"ANDROID\";s:4:\"type\";s:9:\"RECURRING\";}s:8:\"quantity\";i:1;s:4:\"type\";s:8:\"PURCHASE\";}s:13:\"transactionId\";s:36:\"56820b6e-06bd-473a-8ff8-12345EXAMPLE\";}i:2;O:8:\"stdClass\":4:{s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"amount\";i:175;s:12:\"currencyCode\";s:3:\"USD\";}s:9:\"createdOn\";s:10:\"1465538520\";s:14:\"offeringStatus\";O:8:\"stdClass\":4:{s:11:\"effectiveOn\";s:10:\"1465538520\";s:8:\"offering\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Android
  Unmetered Device Slot\";s:2:\"id\";s:36:\"8980F81C-00D7-469D-8EC6-12345EXAMPLE\";s:8:\"platform\";s:7:\"ANDROID\";s:4:\"type\";s:9:\"RECURRING\";}s:8:\"quantity\";i:1;s:4:\"type\";s:8:\"PURCHASE\";}s:13:\"transactionId\";s:36:\"953ae2c6-d760-4a04-9597-12345EXAMPLE\";}i:3;O:8:\"stdClass\":4:{s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"amount\";d:8.0700000000000003;s:12:\"currencyCode\";s:3:\"USD\";}s:9:\"createdOn\";s:10:\"1459344300\";s:14:\"offeringStatus\";O:8:\"stdClass\":4:{s:11:\"effectiveOn\";s:10:\"1459344300\";s:8:\"offering\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"iOS
  Unmetered Device Slot\";s:2:\"id\";s:36:\"A53D4D73-A6F6-4B82-A0B0-12345EXAMPLE\";s:8:\"platform\";s:3:\"IOS\";s:4:\"type\";s:9:\"RECURRING\";}s:8:\"quantity\";i:1;s:4:\"type\";s:8:\"PURCHASE\";}s:13:\"transactionId\";s:36:\"2baf9021-ae3e-47f5-ab52-12345EXAMPLE\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}s:20:\"offeringTransactions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OfferingTransactions\";s:11:\"description\";s:87:\"The
  audit log of subscriptions you have purchased and modified through AWS Device Farm.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListOfferingsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Represents
  the request to list all offerings.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"nextToken\";s:57:\"RW5DdDJkMWYwZjM2MzM2VHVpOHJIUXlDUXlhc2QzRGViYnc9SEXAMPLE=\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListOfferingsResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Represents
  the return values of the list of offerings.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"offerings\";a:4:{i:0;O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"iOS
  Unmetered Device Slot\";s:2:\"id\";s:36:\"A53D4D73-A6F6-4B82-A0B0-12345EXAMPLE\";s:8:\"platform\";s:3:\"IOS\";s:16:\"recurringCharges\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"amount\";i:250;s:12:\"currencyCode\";s:3:\"USD\";}s:9:\"frequency\";s:7:\"MONTHLY\";}}s:4:\"type\";s:9:\"RECURRING\";}i:1;O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"Android
  Unmetered Device Slot\";s:2:\"id\";s:36:\"8980F81C-00D7-469D-8EC6-12345EXAMPLE\";s:8:\"platform\";s:7:\"ANDROID\";s:16:\"recurringCharges\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"amount\";i:250;s:12:\"currencyCode\";s:3:\"USD\";}s:9:\"frequency\";s:7:\"MONTHLY\";}}s:4:\"type\";s:9:\"RECURRING\";}i:2;O:8:\"stdClass\":5:{s:11:\"description\";s:43:\"Android
  Remote Access Unmetered Device Slot\";s:2:\"id\";s:36:\"D68B3C05-1BA6-4360-BC69-12345EXAMPLE\";s:8:\"platform\";s:7:\"ANDROID\";s:16:\"recurringCharges\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"amount\";i:250;s:12:\"currencyCode\";s:3:\"USD\";}s:9:\"frequency\";s:7:\"MONTHLY\";}}s:4:\"type\";s:9:\"RECURRING\";}i:3;O:8:\"stdClass\":5:{s:11:\"description\";s:39:\"iOS
  Remote Access Unmetered Device Slot\";s:2:\"id\";s:36:\"552B4DAD-A6C9-45C4-94FB-12345EXAMPLE\";s:8:\"platform\";s:3:\"IOS\";s:16:\"recurringCharges\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"amount\";i:250;s:12:\"currencyCode\";s:3:\"USD\";}s:9:\"frequency\";s:7:\"MONTHLY\";}}s:4:\"type\";s:9:\"RECURRING\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}s:9:\"offerings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Offerings\";s:11:\"description\";s:47:\"A
  value representing the list offering results.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListProjectsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Represents
  a request to the list projects operation.\";s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"arn\";s:86:\"arn:aws:devicefarm:us-west-2:123456789101:project:7ad300ed-8183-41a7-bf94-12345EXAMPLE\";s:9:\"nextToken\";s:56:\"RW5DdDJkMWYwZjM2MzM2VHVpOHJIUXlDUXlhc2QzRGViYnc9SEXAMPLE\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceName\";s:11:\"description\";s:165:\"Optional.
  If no Amazon Resource Name (ARN) is specified, then AWS Device Farm returns a list
  of all projects for the AWS account. You can also specify a project ARN.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListProjectsResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Represents
  the result of a list projects request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"projects\";a:2:{i:0;O:8:\"stdClass\":3:{s:3:\"arn\";s:86:\"arn:aws:devicefarm:us-west-2:123456789101:project:7ad300ed-8183-41a7-bf94-12345EXAMPLE\";s:7:\"created\";s:14:\"1453163262.105\";s:4:\"name\";s:15:\"My
  Test Project\";}i:1;O:8:\"stdClass\":3:{s:3:\"arn\";s:86:\"arn:aws:devicefarm:us-west-2:123456789101:project:d6b087d9-56db-4e44-b9ec-12345EXAMPLE\";s:7:\"created\";s:14:\"1470350112.439\";s:4:\"name\";s:11:\"Hello
[...]
