---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:468:\"Registered domains
  search checks the lists of registered domains for names containing particular words/phrases/numbers
  or symbols. Technically it's just a GUI interface for domains-index.com database
  containing more than 260M of registered domains and 1000+ TLDS including newGTLDs.
  It's free to use and could be helpful domains/marketing research tool. Search results
  are limited to 50 results. You can have up to 100 results via API (link in footer)
  and full list by\";s:5:\"title\";s:14:\"domainsdb.info\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"hosting\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_769216960504532996_rctG95A0_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:51:\"https://domains-index.com/apidomainsdb/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"domainsdb.info\";}"
host: api.domainsdb.info
basePath: /
paths:
  /search:
    get:
      description: ""
      operationId: addPet
      parameters:
      - description: Search query for registered domains for ex. facebook
        in: query
        name: query
        required: true
        type: string
      - description: Search area (cctld|gtld|all)
        in: query
        name: tld
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/domains'
        405:
          description: Invalid input
      security: []
      summary: Search for registered domains
      tags:
      - search
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:7:\"domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Domains
  data array\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Search
  results array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Domains
  name\";s:7:\"example\";s:28:\"google.com, facebook--de.com\";s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}s:4:\"time\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Request
  time\";s:7:\"example\";s:1:\"5\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Total
  records found\";s:7:\"example\";s:4:\"1235\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
