---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:15:\"Summary Reports\";s:11:\"description\";s:198:\"The
  Drug and Health Product Register brings together information on product licences,
  drug and health product inspections, buying and using products safely, and side
  effects, recalls and complaints.\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:0:\"\";s:5:\"email\";s:25:\"open-ouvert@tbs-sct.gc.ca\";}}"
host: sr-hc-sc-apicast-production.api.canada.ca
basePath: /v1/
paths:
  /basisdecision:
    get:
      tags:
      - Summary Basis of Decision
      description: Returns all summaries of basis of decisions.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching link ID
      responses:
        200:
          description: Returns a list of all summaries of basis of decisions, or if
            an ID is provided, the list of all summaries that correspond to the given
            link ID
          schema:
            type: array
            items:
              $ref: '#/definitions/SummaryBasisOfDecision'
            xml:
              name: SummaryBasisOfDecisions
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /regulatorydecision:
    get:
      tags:
      - Regulatory Decision
      description: Returns all regulatory decisions.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching link ID
      responses:
        200:
          description: Returns a list of all regulatory decisions, or if an ID is
            provided, the list of all decisions that correspond to the given link
            ID
          schema:
            type: array
            items:
              $ref: '#/definitions/RegulatoryDecision'
            xml:
              name: RegulatoryDecisions
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /safetyreview:
    get:
      tags:
      - Summary Safety Review (SSR)
      description: Returns all summary safety reviews.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching link ID
      responses:
        200:
          description: Returns a list of all summary safety reviews, or if an ID is
            provided, the list of all summaries that correspond to the given link
            ID
          schema:
            type: array
            items:
              $ref: '#/definitions/SummarySafetyReview'
            xml:
              name: SummarySafetyReview
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:3:\"204\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"404\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"SummaryBasisOfDecision\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:246:\"Summary
  Basis of Decision (SBD) documents explain why Health Canada authorized certain drugs
  and medical devices for sale in Canada. The documents include regulatory, safety,
  effectiveness and quality (chemistry and manufacturing) considerations.\";s:10:\"properties\";O:8:\"stdClass\":49:{s:8:\"template\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"There
  are two different formats for the SBDs. This variable defines which template is
  used. Possible values are1 or 2.\";}s:14:\"control_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  control number (for the new drug submission).\";}s:11:\"date_issued\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  date the SBD was issued.\";}s:7:\"link_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"This
  variable is used to link all of the SBD data together.\";}s:10:\"brand_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  brand name.\";}s:12:\"manufacturer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  manufacturer.\";}s:14:\"med_ingredient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  medicinal ingredient.\";}s:11:\"bd_din_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Reference
  number that links the SBD information together.\";}s:15:\"sub_type_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  submission type and its number.\";}s:15:\"date_submission\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  date of the submission.\";}s:18:\"date_authorization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  date it was authorized.\";}s:15:\"notice_decision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  notice of decision text.\";}s:16:\"sci_reg_decision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  scientific and regulatory basis for decision text.\";}s:13:\"quality_basis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  quality basis for decision text.\";}s:14:\"non_clin_basis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  Non-Clinical basis for decision text.\";}s:15:\"non_clin_basis2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:147:\"The
  Non-Clinical basis for decision text continued. This field is concatenated with
  NonclinBasis if the character limit for that field is exceeded.\";}s:10:\"clin_basis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  Clinical Basis for decision.\";}s:11:\"clin_basis2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"The
  Clinical Basis for decision continued. This field is concatenated with ClinBasis
  if the character limit for that field is exceeded.\";}s:11:\"clin_basis3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"The
  clinical basis for decision continued. This field is concatenated with ClinBasis2
  if the character limit for that field is exceeded.\";}s:12:\"benefit_risk\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  Benefit/Risk Assessment and Recommendation text.\";}s:12:\"radioisotope\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  radioisotope type.\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  \u201CSummary Basis of Decision\u201D introductory text.\";}s:13:\"what_approved\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  \u201CWhat was approved?\u201D text.\";}s:12:\"why_approved\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  reason why the product was approved.\";}s:14:\"steps_approval\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  steps for approval.\";}s:12:\"assess_basis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  concluding text in section 3 \"What led to the approval\".\";}s:17:\"followup_measures\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  follow-up measures that the company will take.\";}s:9:\"post_auth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  post-authorization activity that has taken place for the drug.\";}s:10:\"other_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  other information available about drugs.\";}s:18:\"a_sci_reg_decision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"The
  scientific rationale for Health Canada\u2019s decision introductory text.\";}s:17:\"science_rationale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  scientific rationale for Health Canada\u2019s decision.\";}s:12:\"a_clin_basis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  Clinical Basis for Decision.\";}s:13:\"a_clin_basis2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"The
  Clinical Basis for Decision continued. This field is concatenated with AClinBasis
  if the character limit for that field is exceeded.\";}s:16:\"a_non_clin_basis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Non-Clinical Basis for Decision.\";}s:17:\"a_non_clin_basis2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"The
  Non-Clinical Basis for Decision continued. This field is concatenated with ANonClinBasis
  if the character limit for that field is exceeded.\";}s:15:\"b_quality_basis\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  Quality Basis for Decision.\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"paat_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"summary_drug\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"branch_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"trademark\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:3:\"din\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  Drug Identification number(s).\";}s:14:\"licence_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  product licence number.\";}s:20:\"ai_str_route_summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:5:\"is_md\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  product is_md (medical device).\";}s:8:\"din_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  list of Drug Identification number(s).\";}s:18:\"post_activity_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  product post activity list\";}s:14:\"milestone_list\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"The
  product milestone list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MilestoneList\";}}s:14:\"tombstone_list\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"The
  product tombstone list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TombstoneList\";}}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:22:\"SummaryBasisOfDecision\";}}s:13:\"MilestoneList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"The
  product milestone.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"link_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"This
  variable is used to link all of the SBD data together.\";}s:9:\"num_order\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  order of the milestone.\";}s:9:\"milestone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  milestone description.\";}s:14:\"completed_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  completed date of the milestone.\";}s:15:\"completed_date2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  completed date 2 of the milestone.\";}s:9:\"separator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}s:13:\"TombstoneList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"The
  product tombstone\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"link_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"This
  variable is used to link all of the SBD data together.\";}s:9:\"num_order\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  order of the active ingredients.\";}s:14:\"med_ingredient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  medicinal ingredient.\";}s:12:\"nonprop_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  non-proprietary name given to an active ingredient.\";}s:8:\"strength\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  quantitative value of the active ingredient strength.\";}s:10:\"dosageform\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  final physical form of product.\";}s:11:\"route_admin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  route of administration.\";}s:11:\"thera_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  therapeutic class.\";}s:17:\"nonmed_ingredient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  non-medicinal ingredients.\";}}}s:18:\"RegulatoryDecision\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:127:\"Regulatory
  Decision Summaries (RDSs) explain Health Canada's decision for certain health products
  seeking market authorization.\";s:10:\"properties\";O:8:\"stdClass\":32:{s:7:\"link_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"This
  variable is used to link all of the RDS data together.\";}s:9:\"drug_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  brand name of the drug.\";}s:12:\"contact_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  name of Health Canada the contact.\";}s:11:\"contact_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  URL of the Health Canada contact.\";}s:18:\"medical_ingredient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  active ingredient.\";}s:16:\"therapeutic_area\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  Therapeutic area.\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  purpose of the submission.\";}s:15:\"reason_decision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Why
  was the decision issued.\";}s:8:\"decision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  Decision issued.\";}s:14:\"decision_descr\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  explanatory text of the decision.\";}s:13:\"date_decision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  date of decision.\";}s:12:\"manufacturer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  manufacturer.\";}s:19:\"prescription_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  prescription status.\";}s:15:\"type_submission\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  type of submission.\";}s:10:\"date_filed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  date the submission was filed.\";}s:14:\"control_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  control number for the submission.\";}s:18:\"application_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:16:\"application_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"licence_num\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"device_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"created_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  created date.\";}s:13:\"modified_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  modified date.\";}s:9:\"footnotes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"A
  reference number to the footnotes text.\";}s:13:\"summary_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Summary
  title.\";}s:16:\"summary_subtitle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Summary
  subtitle.\";}s:13:\"summary_text1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Summary
  text 1.\";}s:13:\"summary_text2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Summary
  text 2.\";}s:13:\"summary_text3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Summary
  text 3.\";}s:3:\"din\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  product din.\";}s:5:\"is_md\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  product is_md (medical device).\";}s:8:\"din_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  list of Drug Identification number(s).\";}s:11:\"bullet_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  product bullet list.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:18:\"RegulatoryDecision\";}}s:19:\"SummarySafetyReview\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:599:\"Each
  health product authorized for sale in Canada has terms of approval and labeling
  that reflects Health Canada's understanding of the benefits and harms of the product
  at the time of approval. Once on the Canadian market, Health Canada continues to
  monitor safety of health products to identify and assess potential harms. This monitoring,
  known as surveillance, includes the scanning of multiple sources of information
  (reports of adverse reactions, new safety information from foreign regulators, and
  medical and scientific literature) to identify potential health product-related
  safety issues.\";s:10:\"properties\";O:8:\"stdClass\":29:{s:8:\"template\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"There
  are two different formats for the SSRs. This variable defines which template is
  used. Possible values are 1 or 2.\";}s:7:\"link_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"This
  variable is used to link all of the SSR data together.\";}s:11:\"review_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"drug_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  name of the drug, Class, or active ingredient.\";}s:12:\"safety_issue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  safety issue text (in template\";}s:17:\"safetyissue_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:14:\"findings_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:5:\"issue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  safety issue text (in template #1).\";}s:10:\"background\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  background information text (in template #1).\";}s:9:\"objective\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  objective text (in template #1).\";}s:12:\"key_findings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"A
  reference number to the text for the key findings (in template #1).\";}s:12:\"key_messages\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"A
  reference number to the text for the key messages (in template #2).\";}s:8:\"overview\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  overview text (in template #2).\";}s:10:\"use_canada\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"A
  reference number to the text for the Use in Canada (in template #2).\";}s:8:\"findings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  Safety Review Findings (in template #2).\";}s:10:\"conclusion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"A
  reference number to the text for Conclusions and Actions.\";}s:10:\"additional\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  Additional Information text.\";}s:11:\"full_review\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  Full review reports text.\";}s:10:\"references\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"A
  reference number to the text for the References list.\";}s:9:\"footnotes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"A
  reference number to the text for the Footnotes list.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"created_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  date the SSR was created.\";}s:13:\"modified_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  date the SSR was modified.\";}s:16:\"key_message_list\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"The
  product key message list.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"field_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  reference number linked to from the main table.\";}s:8:\"order_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  ordering number for the bulleted lists.\";}s:6:\"bullet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  text of the bullet points.\";}}}}s:14:\"footnotes_list\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"The
  product footnotes list.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"field_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  reference number linked to from the main table.\";}s:8:\"order_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  ordering number for the bulleted lists.\";}s:6:\"bullet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  text of the bullet points.\";}}}}s:14:\"reference_list\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"The
  product reference list.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"field_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  reference number linked to from the main table.\";}s:8:\"order_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  ordering number for the bulleted lists.\";}s:6:\"bullet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  text of the bullet points.\";}}}}s:15:\"use_canada_list\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"field_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  reference number linked to from the main table.\";}s:8:\"order_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  ordering number for the bulleted lists.\";}s:6:\"bullet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  text of the bullet points.\";}}}}s:12:\"finding_list\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"The
  product finding list.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"field_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  reference number linked to from the main table.\";}s:8:\"order_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  ordering number for the bulleted lists.\";}s:6:\"bullet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  text of the bullet points.\";}}}}s:15:\"conclusion_list\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"The
  product conclusion list.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"field_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  reference number linked to from the main table.\";}s:8:\"order_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  ordering number for the bulleted lists.\";}s:6:\"bullet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  text of the bullet points.\";}}}}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:19:\"SummarySafetyReview\";}}}"
...
