---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"This is a Phone.com
  api Swagger definition\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:13:\"Phone.com
  API\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:20:\"apisupport@phone.com\";}}"
host: api.phone.com
basePath: /v4
paths:
  /ping:
    get:
      tags:
      - default
      summary: The default API command
      description: The default API command
      operationId: ping
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PingResponse'
        404:
          $ref: '#/responses/response404'
      security:
      - apiKey: []
  /accounts:
    get:
      tags:
      - accounts
      summary: Get a list of accounts visible to the authenticated user or client
      description: This service lists the accounts accessible to the authenticated
        client. In most cases, there will only be one such account. See Accounts for
        more info on the properties.
      operationId: list-accounts
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListAccounts'
        401:
          $ref: '#/responses/response401'
      security:
      - apiKey: []
  /accounts/{account_id}:
    get:
      tags:
      - accounts
      summary: Retrieve details of an individual account
      description: This service shows the details of an individual account. See Accounts
        for more info on the properties.
      operationId: get-account
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AccountFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
      security:
      - apiKey: []
  /accounts/{account_id}/applications:
    get:
      security:
      - apiKey: []
      tags:
      - applications
      summary: Get a list of applications you have defined
      description: Get a list of an account available applications
      operationId: list-account-applications
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListApplications'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
  /accounts/{account_id}/applications/{application_id}:
    get:
      security:
      - apiKey: []
      tags:
      - applications
      summary: Show details of an individual application
      description: ""
      operationId: get-account-application
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: application_id
        in: path
        description: Application ID
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApplicationFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
  /accounts/{account_id}/calls:
    post:
      security:
      - apiKey: []
      tags:
      - calls
      summary: Make a phone call
      description: ""
      operationId: create-account-call
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: Call data
        required: false
        schema:
          $ref: '#/definitions/CreateCallParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/CallFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/call-logs:
    get:
      tags:
      - call-logs
      summary: Get a list of call details associated with your account
      description: See Call Logs for more detail.
      operationId: list-account-call-logs
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterStartTimeParam'
      - $ref: '#/parameters/filterCreatedAtParam'
      - $ref: '#/parameters/filterDirectionCallLogs'
      - $ref: '#/parameters/filterCalledNumber'
      - $ref: '#/parameters/filterType'
      - $ref: '#/parameters/filterExtension'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortStartTime'
      - $ref: '#/parameters/sortCreatedAtCallLogs'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListCallLogs'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
      security:
      - apiKey: []
  /accounts/{account_id}/call-logs/{call_id}:
    get:
      tags:
      - call-logs
      summary: Show details of an individual Call Log entry
      description: See Call Logs for more detail.
      operationId: get-account-call-logs
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/callIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CallLogFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
      security:
      - apiKey: []
  /accounts/{account_id}/devices:
    get:
      security:
      - apiKey: []
      tags:
      - devices
      summary: Get a list of VoIP devices associated with your account
      description: ""
      operationId: list-account-devices
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListDevices'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
    post:
      security:
      - apiKey: []
      tags:
      - devices
      summary: Register a generic VoIP device
      description: ""
      operationId: create-account-device
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: Device data
        required: false
        schema:
          $ref: '#/definitions/CreateDeviceParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/DeviceFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/devices/{device_id}:
    get:
      security:
      - apiKey: []
      tags:
      - devices
      summary: Show details of an individual VoIP device
      description: ""
      operationId: get-account-device
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/deviceIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeviceFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
    put:
      security:
      - apiKey: []
      tags:
      - devices
      summary: Update the settings for an individual VoIP device
      description: ""
      operationId: replace-account-device
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/deviceIdParam'
      - name: data
        in: body
        description: Device data
        required: false
        schema:
          $ref: '#/definitions/CreateDeviceParams'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeviceFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/express-service-codes:
    get:
      security:
      - apiKey: []
      tags:
      - express-service-codes
      summary: Get the Express Service Code associated with your account in list format
      description: See Express Service Codes for more detail.
      operationId: list-account-express-srv-codes
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListExpressServiceCodes'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
  /accounts/{account_id}/express-service-codes/{code_id}:
    get:
      security:
      - apiKey: []
      tags:
      - express-service-codes
      summary: Show details of an account Express Service Code
      description: This service shows the details of an Account Express Service Code.
      operationId: get-account-express-srv-code
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: code_id
        in: path
        description: Device ID
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ExpressServiceCodeFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
  /accounts/{account_id}/extensions:
    get:
      security:
      - apiKey: []
      tags:
      - extensions
      summary: Get a list of extensions visible to the authenticated user or client
      description: This service lists the visible extensions on a given account.
      operationId: list-account-extensions
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterExtension'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortExtension'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListExtensions'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
    post:
      security:
      - apiKey: []
      tags:
      - extensions
      summary: Create an individual extension
      description: This service shows how to create a virtual extension.
      operationId: create-account-extension
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: Account Extensions Data
        required: false
        schema:
          $ref: '#/definitions/CreateExtensionParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/ExtensionFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/extensions/{extension_id}:
    get:
      security:
      - apiKey: []
      tags:
      - extensions
      summary: Show details of an individual extension
      description: This service shows the details of an individual Extension.
      operationId: get-account-extension
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/ExtensionFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
    put:
      security:
      - apiKey: []
      tags:
      - extensions
      summary: Replace an individual extension
      description: This service shows how to update an individual extension.
      operationId: replace-account-extension
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - name: data
        in: body
        description: Account Extensions Data
        required: false
        schema:
          $ref: '#/definitions/ReplaceExtensionParams'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/ExtensionFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/extensions/{extension_id}/caller-ids:
    get:
      security:
      - apiKey: []
      tags:
      - caller-ids
      summary: Show the Caller ID options a given extension can use
      description: Get Caller ID
      operationId: get-caller-ids
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - $ref: '#/parameters/filterNumber'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortNumber'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListCallerIds'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
  /accounts/{account_id}/extensions/{extension_id}/contacts:
    get:
      security:
      - apiKey: []
      tags:
      - contacts
      summary: Show a list of address book contacts
      description: See Account Contacts for more info on the fields in each item.
      operationId: list-account-extension-contacts
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterGroupId'
      - $ref: '#/parameters/filterUpdatedAt'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortUpdatedAt'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListContacts'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
    post:
      security:
      - apiKey: []
      tags:
      - contacts
      summary: Add a new address book contact for an extension
      description: For more on the input fields, see Account Contacts.
      operationId: create-account-extension-contact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - name: data
        in: body
        description: Contact data
        required: false
        schema:
          $ref: '#/definitions/CreateContactParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/ContactFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/extensions/{extension_id}/contacts/{contact_id}:
    get:
      security:
      - apiKey: []
      tags:
      - contacts
      summary: Retrieve the details of an address book contact
      description: For more info on the fields shown, see Account Contacts.
      operationId: get-account-extension-contact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - $ref: '#/parameters/contactIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ContactFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
    put:
      security:
      - apiKey: []
      tags:
      - contacts
      summary: ""
      description: For more on the input fields, see Account Contacts.
      operationId: replace-account-extension-contact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - $ref: '#/parameters/contactIdParam'
      - name: data
        in: body
        description: Contact data
        required: false
        schema:
          $ref: '#/definitions/CreateContactParams'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ContactFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
    delete:
      security:
      - apiKey: []
      tags:
      - contacts
      summary: ""
      description: ""
      operationId: delete-account-extension-contact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - $ref: '#/parameters/contactIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeleteContact'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
  /accounts/{account_id}/extensions/{extension_id}/contact-groups:
    get:
      security:
      - apiKey: []
      tags:
      - groups
      summary: Show a list of contact groups belonging to an extension
      description: See Account Contact Groups for details on the properties.
      operationId: list-account-extension-contact-groups
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListGroups'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
    post:
      security:
      - apiKey: []
      tags:
      - groups
      summary: ""
      description: See Account Contact Groups for more info on the properties.
      operationId: create-account-extension-contact-group
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - name: data
        in: body
        description: Group name
        required: true
        schema:
          $ref: '#/definitions/CreateGroupParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/GroupFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/extensions/{extension_id}/contact-groups/{group_id}:
    get:
      security:
      - apiKey: []
      tags:
      - groups
      summary: ""
      description: See Account Contact Groups for more info on the properties.
      operationId: get-account-extension-contact-group
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - $ref: '#/parameters/groupIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GroupFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
    put:
      security:
      - apiKey: []
      tags:
      - groups
      summary: ""
      description: See Account Contact Groups for more info on the properties.
      operationId: replace-account-extension-contact-group
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - $ref: '#/parameters/groupIdParam'
      - name: data
        in: body
        description: Group name
        required: true
        schema:
          $ref: '#/definitions/CreateGroupParams'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GroupFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
    delete:
      security:
      - apiKey: []
      tags:
      - groups
      summary: Delete an addressbook group
      description: ""
      operationId: delete-account-extension-contact-group
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/extensionIdParam'
      - $ref: '#/parameters/groupIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeleteGroup'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
  /accounts/{account_id}/media:
    get:
      security:
      - apiKey: []
      tags:
      - media
      summary: Get a list of media recordings for an account
      description: See Account Menus for more info on the properties.
      operationId: list-account-media
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListMedia'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
  /accounts/{account_id}/media/files:
    post:
      security:
      - apiKey: []
      tags:
      - media
      summary: 'Add a media object to your account that can be used as a greeting
        or hold music. Users may create a media by using the built-in Text-to-speech
        (TTS) facility or upload a file of their choice. (Note: The maximum size for
        media files or JSON objects included with a POST or PUT request is 10 MB)'
      description: See Account Media for more info on the properties.
      operationId: create-account-media-files
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: json
        in: formData
        description: Media extra parameters
        required: false
        type: string
      - name: file
        in: formData
        description: Media file
        required: false
        type: file
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/MediaFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/media/tts:
    post:
      security:
      - apiKey: []
      tags:
      - media
      summary: 'Add a media object to your account that can be used as a greeting
        or hold music. Users may create a media by using the built-in Text-to-speech
        (TTS) facility or upload a file of their choice. (Note: The maximum size for
        media files or JSON objects included with a POST or PUT request is 10 MB)'
      description: See Account Media for more info on the properties.
      operationId: create-account-media-tts
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: Media data
        required: false
        schema:
          $ref: '#/definitions/CreateMediaParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/MediaFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/media/files/{media_id}:
    put:
      security:
      - apiKey: []
      tags:
      - media
      summary: 'Update a media object to your account. Note: The maximum size for
        media files or JSON objects included with a POST or PUT request is 10 MB.'
      description: See Account Media for more info on the properties.
      operationId: replace-account-media-files
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/mediaIdParam'
      - name: json
        in: formData
        description: Media extra parameters
        required: false
        type: string
      - name: file
        in: formData
        description: Media file
        required: false
        type: file
      responses:
        201:
          description: Replaced
          schema:
            $ref: '#/definitions/MediaFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/media/tts/{media_id}:
    put:
      security:
      - apiKey: []
      tags:
      - media
      summary: 'Update a media object to your account. Note: The maximum size for
        media files or JSON objects included with a POST or PUT request is 10 MB.'
      description: See Account Media for more info on the properties.
      operationId: replace-account-media-tts
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/mediaIdParam'
      - name: data
        in: body
        description: Media data
        required: false
        schema:
          $ref: '#/definitions/CreateMediaParams'
      responses:
        201:
          description: Replaced
          schema:
            $ref: '#/definitions/MediaFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/media/{media_id}:
    get:
      security:
      - apiKey: []
      tags:
      - media
      summary: Show details of an individual media recording (Greeting or Hold Music)
      description: Get individual media recording
      operationId: get-account-media
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/mediaIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MediaFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
    delete:
      security:
      - apiKey: []
      tags:
      - media
      summary: Delete an individual media record
      description: See Account Media for more info on the properties.
      operationId: delete-account-media
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/mediaIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeleteMedia'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        409:
          $ref: '#/responses/response409'
  /accounts/{account_id}/menus:
    get:
      security:
      - apiKey: []
      tags:
      - menus
      summary: Get a list of menus for an account
      description: See Account Menus for more info on the properties.
      operationId: list-account-menus
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListMenus'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
    post:
      security:
      - apiKey: []
      tags:
      - menus
      summary: Create an individual menu
      description: This service creates an individual menu. See Account Menus for
        more info on the properties.
      operationId: create-account-menu
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: Menu data
        required: false
        schema:
          $ref: '#/definitions/CreateMenuParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/MenuFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/menus/{menu_id}:
    get:
      security:
      - apiKey: []
      tags:
      - menus
      summary: Show details of an individual menu
      description: This service shows the details of an individual Menu.
      operationId: get-account-menu
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/menuIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MenuFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
    put:
      security:
      - apiKey: []
      tags:
      - menus
      summary: Replace an individual menu
      description: See Account Menus for more info on the properties.
      operationId: replace-account-menu
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/menuIdParam'
      - name: data
        in: body
        description: Menu data
        required: false
        schema:
          $ref: '#/definitions/ReplaceMenuParams'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MenuFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        422:
          $ref: '#/responses/response422'
    delete:
      security:
      - apiKey: []
      tags:
      - menus
      summary: Delete an individual menu
      description: See Account Menus for more info on the properties.
      operationId: delete-account-menu
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/menuIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeleteMenu'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        409:
          $ref: '#/responses/response409'
  /accounts/{account_id}/phone-numbers:
    get:
      security:
      - apiKey: []
      tags:
      - phone-numbers
      summary: Get a list of phone numbers registered to an account
      description: See Intro to Account Phone Numbers for more info on the properties.
      operationId: list-account-phone-numbers
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/filterPhoneNumber'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/sortPhoneNumber'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListPhoneNumbers'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
    post:
      security:
      - apiKey: []
      tags:
      - phone-numbers
      summary: Add a phone number to an account
      description: See Intro to Account Phone Numbers for more info on the properties
        to use.
      operationId: create-account-phone-number
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: Phone Number data
        required: false
        schema:
          $ref: '#/definitions/CreatePhoneNumberParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/PhoneNumberFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/phone-numbers/{number_id}:
    get:
      security:
      - apiKey: []
      tags:
      - phone-numbers
      summary: Show details of an individual phone number
      description: See Intro to Account Phone Numbers for more info on the properties.
      operationId: get-account-phone-number
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/numberIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PhoneNumberFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
    put:
      security:
      - apiKey: []
      tags:
      - phone-numbers
      summary: Update the settings for an existing phone number on your account
      description: See Intro to Account Phone Numbers for more info on the properties.
      operationId: replace-account-phone-number
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/numberIdParam'
      - name: data
        in: body
        description: Phone Number data
        required: false
        schema:
          $ref: '#/definitions/ReplacePhoneNumberParams'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PhoneNumberFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/queues:
    get:
      security:
      - apiKey: []
      tags:
      - queues
      summary: Get a list of queues for an account
      description: The List Queues service lists all the queues belong to the account.
        See Account Queues for more info on the properties.
      operationId: list-account-queues
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListQueues'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
    post:
      security:
      - apiKey: []
      tags:
      - queues
      summary: Create a queue
      description: For more on the input fields, see Account Queues.
      operationId: create-account-queue
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: Queue data
        required: false
        schema:
          $ref: '#/definitions/CreateQueueParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/QueueFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/queues/{queue_id}:
    get:
      security:
      - apiKey: []
      tags:
      - queues
      summary: Show details of an individual queue
      description: This service shows the details of an individual queue. For more
        on the input fields, see Account Queues.
      operationId: get-account-queue
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/queueIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QueueFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
    put:
      security:
      - apiKey: []
      tags:
      - queues
      summary: Replace a queue
      description: The Replace Queue service replaces the parameters of a queue. For
        more on the input fields, see Account Queues.
      operationId: replace-account-queue
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/queueIdParam'
      - name: data
        in: body
        description: Queue data
        required: false
        schema:
          $ref: '#/definitions/CreateQueueParams'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QueueFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        422:
          $ref: '#/responses/response422'
    delete:
      security:
      - apiKey: []
      tags:
      - queues
      summary: Delete a queue
      description: This service a queue from the account. For more information on
        queue properties, see Account Queues.
      operationId: delete-account-queue
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/queueIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeleteQueue'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        409:
          $ref: '#/responses/response409'
  /accounts/{account_id}/routes:
    get:
      security:
      - apiKey: []
      tags:
      - routes
      summary: Get a list of routes for an account
      description: See Intro to Routes for more info on the properties.
      operationId: list-account-routes
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListRoutes'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
    post:
      security:
      - apiKey: []
      tags:
      - routes
      summary: Add a new address book contact for an extension
      description: For more on the input fields, see Intro to Routes.
      operationId: create-route
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: Route data
        required: false
        schema:
          $ref: '#/definitions/CreateRouteParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/RouteFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/routes/{route_id}:
    get:
      security:
      - apiKey: []
      tags:
      - routes
      summary: Show details of an individual route
      description: This service shows the details of an individual route.
      operationId: get-account-route
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/routeIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RouteFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
    put:
      security:
      - apiKey: []
      tags:
      - routes
      summary: ""
      description: For more on the input fields, see Intro to Routes.
      operationId: replace-account-route
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/routeIdParam'
      - name: data
        in: body
        description: Route data
        required: false
        schema:
          $ref: '#/definitions/CreateRouteParams'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RouteFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        422:
          $ref: '#/responses/response422'
    delete:
      security:
      - apiKey: []
      tags:
      - routes
      summary: ""
      description: ""
      operationId: delete-account-route
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/routeIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeleteRoute'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        409:
          $ref: '#/responses/response409'
  /accounts/{account_id}/schedules:
    get:
      tags:
      - schedules
      summary: Get a list of schedules for an account
      description: See Intro to Schedules for more info on the properties.
      operationId: list-account-schedules
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListSchedules'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
      security:
      - apiKey: []
  /accounts/{account_id}/schedules/{schedule_id}:
    get:
      tags:
      - schedules
      summary: Show details of an individual schedule
      description: This service shows the details of an individual schedule.
      operationId: get-account-schedule
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: schedule_id
        in: path
        description: Schedule ID
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ScheduleFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
      security:
      - apiKey: []
  /accounts/{account_id}/sms:
    get:
      security:
      - apiKey: []
      tags:
      - sms
      summary: Get a list of SMS messages for an account
      description: See Intro to SMS for more info on the properties.
      operationId: list-account-sms
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterDirectionSms'
      - $ref: '#/parameters/filterFrom'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortCreatedAtSms'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListSms'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
    post:
      security:
      - apiKey: []
      tags:
      - sms
      summary: Send a SMS to one or a group of recipients
      description: For more on the input fields, see Intro to SMS.
      operationId: create-account-sms
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: SMS data
        required: true
        schema:
          $ref: '#/definitions/CreateSmsParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/SmsFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
        429:
          $ref: '#/responses/response429'
  /accounts/{account_id}/sms/{sms_id}:
    get:
      security:
      - apiKey: []
      tags:
      - sms
      summary: Show details of an individual SMS
      description: This service shows the details of an individual sms. See Intro
        to SMS for more info on the properties.
      operationId: get-account-sms
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - in: path
        name: sms_id
        description: SMS ID
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SmsFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
  /accounts/{account_id}/subaccounts:
    get:
      tags:
      - subaccounts
      summary: Get a list of subaccounts for the authenticated user or client
      description: This service lists the Subaccount of the authenticated client.
        In most cases, there will not be any.
      operationId: list-account-subaccounts
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListAccounts'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
      security:
      - apiKey: []
    post:
      security:
      - apiKey: []
      tags:
      - subaccounts
      summary: Add a subaccount for the authenticated user or client
      description: This service shows the details of an individual Subaccount.
      operationId: create-account-subaccount
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: SMS data
        required: true
        schema:
          $ref: '#/definitions/CreateSubaccountParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/AccountFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/trunks:
    get:
      security:
      - apiKey: []
      tags:
      - trunks
      summary: Get a list of trunks for an account
      description: See Account Trunks for more info on the properties.
      operationId: list-account-trunks
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/filterIdParam'
      - $ref: '#/parameters/filterNameParam'
      - $ref: '#/parameters/sortIdParam'
      - $ref: '#/parameters/sortNameParam'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListTrunks'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
    post:
      security:
      - apiKey: []
      tags:
      - trunks
      summary: Add a trunk record with SIP information
      description: For more on the input fields, see Account Trunks.
      operationId: create-account-trunk
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - name: data
        in: body
        description: Trunk data
        required: true
        schema:
          $ref: '#/definitions/CreateTrunkParams'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/TrunkFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        422:
          $ref: '#/responses/response422'
  /accounts/{account_id}/trunks/{trunk_id}:
    get:
      security:
      - apiKey: []
      tags:
      - trunks
      summary: Show details of an individual trunk
      description: This service shows the details of an individual Trunk.
      operationId: get-account-trunk
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/trunkIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TrunkFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
    put:
      security:
      - apiKey: []
      tags:
      - trunks
      summary: Replace parameters in a trunk
      description: For more on the input fields, see Account Trunks.
      operationId: replace-account-trunk
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/trunkIdParam'
      - name: data
        in: body
        description: Trunk data
        required: true
        schema:
          $ref: '#/definitions/CreateTrunkParams'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TrunkFull'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        422:
          $ref: '#/responses/response422'
    delete:
      security:
      - apiKey: []
      tags:
      - trunks
      summary: Delete a trunk from account
      description: This service deletes a trunk from the account. For more on the
        properties of trunks, see Account Trunks.
      operationId: delete-account-trunk
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/accountIdParam'
      - $ref: '#/parameters/trunkIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeleteTrunk'
        401:
          $ref: '#/responses/response401'
        403:
          $ref: '#/responses/response403'
        404:
          $ref: '#/responses/response404'
        409:
          $ref: '#/responses/response409'
  /phone-numbers/available:
    get:
      security:
      - apiKey: []
      tags:
      - available-numbers
      summary: ""
      description: ""
      operationId: list-available-phone-numbers
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/filterPhoneNumber'
      - $ref: '#/parameters/filterCountryCode'
      - $ref: '#/parameters/filterNpa'
      - $ref: '#/parameters/filterNxx'
      - $ref: '#/parameters/filterXxxx'
      - $ref: '#/parameters/filterCity'
      - $ref: '#/parameters/filterProvince'
      - $ref: '#/parameters/filterCountry'
      - $ref: '#/parameters/filterPrice'
      - $ref: '#/parameters/filterCategory'
      - $ref: '#/parameters/sortInternal'
      - $ref: '#/parameters/sortPrice'
      - $ref: '#/parameters/sortPhoneNumber'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListAvailableNumbers'
        401:
          $ref: '#/responses/response401'
        429:
          $ref: '#/responses/response403'
  /phone-numbers/available/regions:
    get:
      security:
      - apiKey: []
      tags:
      - number-regions
      summary: ""
      description: This service lists the quantities of available phone numbers by
        region.
      operationId: list-available-phone-number-regions
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/filterCountryCode'
      - $ref: '#/parameters/filterNpa'
      - $ref: '#/parameters/filterNxx'
      - $ref: '#/parameters/filterIsTollFree'
      - $ref: '#/parameters/filterCity'
      - $ref: '#/parameters/filterProvincePostalCode'
      - $ref: '#/parameters/filterCountryPostalCode'
      - $ref: '#/parameters/sortCountryCode'
      - $ref: '#/parameters/sortNpa'
      - $ref: '#/parameters/sortNxx'
      - $ref: '#/parameters/sortIsTollFree'
      - $ref: '#/parameters/sortCity'
      - $ref: '#/parameters/sortProvincePostalCode'
      - $ref: '#/parameters/sortCountryPostalCode'
      - $ref: '#/parameters/limitParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/fieldsParam'
      - name: group_by
        in: query
        description: Fields to group by (supports the same set of fields as the filters
          and sorting)
        required: false
        type: array
        items:
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListPhoneNumbersRegions'
        401:
          $ref: '#/responses/response401'
        429:
          $ref: '#/responses/response403'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":121:{s:16:\"CreateCallParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"caller_phone_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Caller
  phone number in E.164 format\";}s:16:\"caller_extension\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:19:\"Caller
  Extension ID\";}s:16:\"caller_caller_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Caller
  caller ID in E.164 format\";}s:14:\"caller_private\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Flag
  to set caller ID to private\";}s:19:\"callee_phone_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Callee
  phone number in E.164 format\";}s:16:\"callee_extension\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:19:\"Callee
  Extension ID\";}s:16:\"callee_caller_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Callee
  caller ID in E.164 format\";}s:14:\"callee_private\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Flag
  to set callee ID to private\";}}}s:12:\"PingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  ping response object.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"datetime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"remote_ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"user_agent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"CreateDeviceParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Device
  Name\";}s:5:\"lines\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:20:\"List
  of line objects\";}}}s:21:\"CreateExtensionParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:9:\"voicemail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Voicemail\";s:11:\"description\";s:16:\"Voicemail
  object\";}s:18:\"call_notifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallNotifications\";s:11:\"description\";s:25:\"Call
  Notifications object\";}s:9:\"caller_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Caller
  ID\";}s:10:\"usage_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Extension
  type\";}s:19:\"allows_call_waiting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:19:\"Allows
  call waiting\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:42:\"Extension
  number (auto-generated if empty)\";}s:20:\"include_in_directory\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:33:\"Include
  in dial-by-name directory\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Name
  (auto-generated if empty)\";}s:9:\"full_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Contact
  name\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Timezone\";}s:13:\"name_greeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Recording
  lookup object\";}s:15:\"local_area_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:15:\"Local
  area code\";}s:21:\"enable_outbound_calls\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:21:\"Enable
  outgoing calls\";}s:19:\"enable_call_waiting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:19:\"Enable
  Call Waiting\";}}}s:22:\"ReplaceExtensionParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:9:\"voicemail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Voicemail\";s:11:\"description\";s:16:\"Voicemail
  object\";}s:18:\"call_notifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallNotifications\";s:11:\"description\";s:25:\"Call
  Notifications object\";}s:13:\"name_greeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Recording
  lookup object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Name
  (required)\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Timezone\";}s:20:\"include_in_directory\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:33:\"Include
  in dial-by-name directory\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:27:\"Extension
  number (required)\";}s:21:\"enable_outbound_calls\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:21:\"Enable
  outgoing calls\";}s:10:\"usage_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Extension
  type\";}s:9:\"full_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Contact
  name\";}s:19:\"enable_call_waiting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:19:\"Enable
  Call Waiting\";}s:9:\"caller_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Caller
  ID\";}s:15:\"local_area_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:15:\"Local
  area code\";}s:5:\"route\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Route
  object lookup (must belong to this extension)\";}}}s:19:\"CreateContactParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"First
  Name\";}s:11:\"middle_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Middle
  Name\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Last
  Name\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Prefix\";}s:19:\"phonetic_first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Phonetic
  First Name\";}s:20:\"phonetic_middle_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Phonetic
  Middle Name\";}s:18:\"phonetic_last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Phonetic
  Last Name\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Suffix\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Nickname\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Company
  Name\";}s:10:\"department\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Department
  Name\";}s:9:\"job_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Job
  Title\";}s:6:\"emails\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:15:\"Email
  Addresses\";}s:13:\"phone_numbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:13:\"Phone
  Numbers\";}s:9:\"addresses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:9:\"Addresses\";}s:5:\"group\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:13:\"Contact
  Group\";}}}s:17:\"CreateGroupParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Group
  name\";}}}s:17:\"CreateMediaParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Name
  of media\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"'tts',
  'file'\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"'hold_music',
  'greeting'\";}s:9:\"tts_voice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:491:\"'allison',
  'amy', 'belle', 'callie', 'callieq', 'dallas', 'damien', 'david', 'designerdave',
  'diane', 'diesel', 'dog', 'duchess', 'duncan', 'emily', 'evilgenius', 'frank', 'french-fry',
  'gregory', 'isabelle', 'jean-pierre', 'jerkface', 'katrin', 'kayla', 'kidaroo',
  'lawrence', 'layo', 'linda', 'marta', 'matthias', 'miguel', 'millie', 'princess',
  'ransomnote', 'robin', 'shouty', 'shygirl', 'tamika', 'tophat', 'vittoria', 'vixen',
  'vlad', 'walter', 'whispery', 'william', 'wiseguy', 'zach'\";}s:8:\"tts_text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Text
  used for text-to-speech conversion, maximum 800 characters\";}s:12:\"is_temparary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"'Y',
  'N'. Media file is temporary, will be deleted after a specified period.\";}s:15:\"expiration_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:81:\"If
  is_temporary is 'Y', media will be deleted after the specified time in seconds\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Length
  of media in seconds\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Notes
  about the media object\";}s:10:\"randomized\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"'Y',
  'N'. Start playing the media file in random location, instead of from the beginning\";}}}s:16:\"CreateMenuParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"main_message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:24:\"invalid_keypress_message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:20:\"allow_extension_dial\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"keypress_wait_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"timeout_handler\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:17:\"ReplaceMenuParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"greeting\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:16:\"invalid_keypress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:20:\"allow_extension_dial\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"keypress_wait_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"timeout_handler\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:23:\"CreatePhoneNumberParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"phone_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:12:\"Phone
  number\";}s:5:\"route\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Route
  lookup object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Phone
  Name\";}s:14:\"block_incoming\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:20:\"Block
  incoming calls\";}s:15:\"block_anonymous\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:21:\"Block
  anonymous calls\";}s:9:\"caller_id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CallerIdPhoneNumber\";s:11:\"description\";s:16:\"Caller
  ID object\";}s:14:\"sms_forwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SmsForwardingParams\";s:11:\"description\";s:30:\"SMS
  Forwarding Object, or NULL\";}s:18:\"call_notifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallNotifications\";s:11:\"description\";s:25:\"Call
  Notifications object\";}}}s:19:\"SmsForwardingParams\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"SMS
  Forwarding Object, or NULL\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Can
  be \"extension\" or \"application\"\";s:7:\"pattern\";s:21:\"extension|application\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:159:\"Required
  if type = \"extension\". Extension that messages should be directed to. Output is
  an Extension Summary Object. Input must be an Extension Lookup Object.\";}s:11:\"application\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:167:\"Required
  if type = \"application\". Application that messages should be directed to. Output
  is an Application Summary Object. Input must be an Application Lookup Object.\";}}}s:24:\"ReplacePhoneNumberParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"route\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Route
  lookup object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Phone
  Name\";}s:14:\"block_incoming\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:20:\"Block
  incoming calls\";}s:15:\"block_anonymous\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:21:\"Block
  anonymous calls\";}s:9:\"caller_id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CallerIdPhoneNumber\";s:11:\"description\";s:16:\"Caller
  ID object\";}s:14:\"sms_forwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SmsForwardingParams\";s:11:\"description\";s:30:\"SMS
  Forwarding Object, or NULL\";}s:9:\"pool_item\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:18:\"Pool
  lookup object\";}s:18:\"call_notifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallNotifications\";s:11:\"description\";s:25:\"Call
  Notifications object\";}}}s:17:\"CreateQueueParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Name
  of queue\";}s:8:\"greeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Recording
  lookup object\";}s:10:\"hold_music\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Recording
  lookup object\";}s:13:\"max_hold_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:20:\"Max
  seconds for hold\";}s:14:\"caller_id_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Type
  of caller id\";}s:9:\"ring_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"Number
  of seconds to ring each member\";}s:7:\"members\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:27:\"Extensions
  or phone numbers\";}}}s:17:\"CreateRouteParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Name\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:9:\"Rule
  Sets\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Extension
  Reference\";}}}s:15:\"CreateSmsParams\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"from\";i:1;s:2:\"to\";i:2;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Phone
  number of sender\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Outgoing
  destination numbers\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Text
  body of the outgoing SMS message. Maximum 160 characters per message.\";}s:12:\"extension_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:38:\"ID
  of Extension where the sms is saved\";}}}s:22:\"CreateSubaccountParams\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"username\";i:1;s:8:\"password\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Sub
  account password\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Sub
  account password\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ContactSubaccount\";s:11:\"description\";s:38:\"Contact
  Object. See below for details.\";}s:15:\"billing_contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ContactSubaccount\";s:11:\"description\";s:59:\"Contact
  Object for billing purposes. See below for details.\";}}}s:17:\"CreateTrunkParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Name
  of Trunk\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"URI
  of Trunk (in the form of SIP/user@host.com:port)\";}s:20:\"max_concurrent_calls\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:20:\"Max
  concurrent calls\";}s:21:\"max_minutes_per_month\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:21:\"Max
  minutes per month\";}s:8:\"greeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Recording
  lookup object\";}s:13:\"error_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Recording
  lookup object\";}s:6:\"codecs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:32:\"Custom
  audio codec configuration\";}}}s:12:\"ListAccounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FilterIdArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/SortId\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AccountFull\";}}}}s:16:\"ListApplications\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FilterIdNameArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SortIdName\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationFull\";}}}}s:12:\"ListCallLogs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FilterCallLogs\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SortCallLogs\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CallLogFull\";}}}}s:11:\"ListDevices\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FilterIdNameArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SortIdName\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DeviceFull\";}}}}s:23:\"ListExpressServiceCodes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FilterIdArray\";}s:4:\"sort\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/SortId\";}}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ExpressServiceCodeFull\";}}}}s:14:\"ListExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/FilterIdExtensionNameArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SortIdExtensionName\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ExtensionFull\";}}}}s:13:\"ListCallerIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/FilterNameNumberArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SortNameNumber\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CallerIdFull\";}}}}s:12:\"ListContacts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/FilterIdGroupIdUpdatedAtArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SortIdUpdatedAt\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContactFull\";}}}}s:10:\"ListGroups\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FilterIdNameArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SortIdName\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GroupFull\";}}}}s:9:\"ListMedia\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FilterIdNameArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SortIdName\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MediaSummary\";}}}}s:9:\"ListMenus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FilterIdNameArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SortIdName\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MenuFull\";}}}}s:16:\"ListPhoneNumbers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/FilterIdNamePhoneNumberArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SortIdNamePhoneNumber\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Array
  of Contact Phone Number Objects. See below for details.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PhoneNumberFull\";}}}}s:18:\"PhoneNumberContact\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Type
  of phone number, must be one of: home, business, mobile, fax, pager. Default is
  home.\";}s:6:\"number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Phone
  number, as entered. Does not need to be formatted in any particular way. Required.\";}s:10:\"normalized\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Phone
  number in E.164 format. Read-only.\";}}}s:10:\"ListQueues\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FilterIdNameArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SortIdName\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/QueueFull\";}}}}s:10:\"ListRoutes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FilterIdNameArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SortIdName\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RouteFull\";}}}}s:13:\"ListSchedules\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FilterIdNameArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SortIdName\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScheduleFull\";}}}}s:7:\"ListSms\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/FilterIdDirectionFrom\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SortIdCreatedAt\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/SmsFull\";}}}}s:10:\"ListTrunks\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FilterIdNameArray\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SortIdName\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TrunkFull\";}}}}s:20:\"ListAvailableNumbers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/FilterListAvailableNumbers\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/SortListAvailableNumbers\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AvailableNumbersFull\";}}}}s:23:\"ListPhoneNumbersRegions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"group_by\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/FilterListPhoneNumbersRegions\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/SortListPhoneNumbersRegions\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PhoneNumbersRegionFull\";}}}}s:11:\"AccountFull\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  Full Account Object includes all of the properties in the Account Summary Object,
  along with the following:\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:60:\"Account
  ID. Sometimes referred to as \"Voip ID\" or \"voip_id\".\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Name
  on the account. Read-only.\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Account
  user name\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Account
  password. For security reason, this is masked as \"**\"\";}s:14:\"master_account\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"If
  this account is a subaccount, this property shows the master account that it belongs
  to. Otherwise it is NULL. Read-only. Output is an Account Summary Object.\";s:4:\"$ref\";s:28:\"#/definitions/AccountSummary\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ContactAccount\";s:11:\"description\";s:38:\"Contact
  Object. See below for details.\";}s:15:\"billing_contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ContactAccount\";s:11:\"description\";s:59:\"Contact
  Object for billing purposes. See below for details.\";}}}s:14:\"AccountSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"The
  Account Summary Object is used to briefly represent an account. It can occur in
  several places throughout this API. Here are the properties:\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:60:\"Account
  ID. Sometimes referred to as \"Voip ID\" or \"voip_id\".\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Name
  on the account. Read-only.\";}}}s:14:\"ContactAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Name.
  Required.\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Company
  name\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Phone
  number. Required.\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Fax
  number\";}s:13:\"primary_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Primary
  email address. Required.\";}s:15:\"alternate_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Alternate
  email address\";}}}s:7:\"Address\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Contact
  Address Object. See below for details.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"line_1\";i:1;s:4:\"city\";i:2;s:7:\"country\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"line_1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Street
  address line 1. Required.\";}s:6:\"line_2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Street
  address line 2\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"City.
  Required.\";}s:8:\"province\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Province.
  Required if country is US\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Postal
  code\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"2-character
  country code. Required.\";}}}s:15:\"ApplicationFull\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  Full Application Object is identical to the Application Summary Object. See above
  for details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Application
  ID. Read-only.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Application
  name\";}}}s:18:\"ApplicationSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"The
  Application Summary Object is used to briefly represent an application. It can occur
  in several places throughout this API. Here are the properties:\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Application
  ID. Read-only.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Application
  name\";}}}s:8:\"CallFull\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}s:11:\"CallLogFull\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  Full Call Log Object includes the properties in the Call Log Summary Object, along
  with the following:\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"ID\";}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Internal
  system id, may be null\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExtensionSummary\";s:11:\"description\";s:17:\"Account
  extension\";}s:9:\"caller_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Call
  made from this phone number\";}s:13:\"called_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Call
[...]
