---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:26:\"Product Cache invalidation\";s:7:\"version\";s:3:\"1.0\";}"
host: vccapiprd.azure-api.net
basePath: /sync
paths:
  /cache:
    post:
      description: Forces the synchronization.
      operationId: Sync_ForceSynchronization
      parameters:
      - name: cacheInvalidation
        in: body
        schema:
          $ref: '#/definitions/CacheInvalidation'
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      produces:
      - application/json
      - text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":71:{s:17:\"ShoppingCartModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"CartTotal\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"CustomerEmail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CustomerGuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"CustomerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"IsAnonymous\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"ShoppingCartItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ShoppingCartItemModel\";}}s:10:\"TotalItems\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"ShoppingCartItemModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PartNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"CategoryIdentifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"CategoryID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"UnitOfMeasurement\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"LineTotal\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:22:\"PaymentInstructionItem\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"PartOfDynamicKit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"Price\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"ProductId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"Sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Object\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:22:\"AggregatedCartResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"UserToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"OrderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Prices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PriceModel\";}}s:5:\"Taxes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TaxModel\";}}s:11:\"CartLineIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:10:\"PriceModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"Currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProductId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"UnitOfMeasurement\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"StoreId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"TaxModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"StoreId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"CategoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TaxPercent\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}s:10:\"PersonData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":31:{s:6:\"UserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Email1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Phone1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OrganizationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ZipCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"County\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"AddressLine\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"AdditionalSurname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"NationalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"SocialMediaId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"TaxPayerIdNum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"CompanyRegistrationNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ContactMe\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"ContactByMail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"ContactByEMail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"ContactBySms\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"ContactByPhone\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"CustomerLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"MarketName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Campaign\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"OrderType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FinancingType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"FinancialContactMe\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"SocialMediaType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"CategoryModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ParentCategoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"MandatoryInCategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"SelectableInConfigurator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"CreatedOnUtc\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"UpdatedOnUtc\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:21:\"StockInformationModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"AvailabilityDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Count\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"ProductId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:4:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;}s:4:\"type\";s:7:\"integer\";}}}s:8:\"WcsOrder\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":35:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"transformationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"MerchantOrderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"NotificationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ShipAsComplete\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ExpireDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"orderItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DoaOrderItem\";}}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"EstimatedOrPromisedShipDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"PlaceOrderTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Field1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Field2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Field3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"LastUpdate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"PurchaseOrderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"OrderProcessSystemId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"TotalAdjustment\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"Comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"StoreEntityId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"IsBlocked\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"EstimatedShipDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"TotalShippingCharge\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"Lock\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"OrganizationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ActualShipDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"TotalShippingTax\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"TransferStatus\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"TotalProductPrice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"TotalTax\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"OrderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PromisedShipDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"MemberId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"DoaOrderItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":65:{s:14:\"NeededQuantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ShippingModeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"BestCallingTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"ComponentCurrency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ZipCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ConfigurationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Field1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Field2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ComponentRequired\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Quanity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"LastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"ShippingCharge\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"Phone1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Phone2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TimeShipped\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"AllocatedFulfillmentCenterId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"SupplierPartNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Price\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:26:\"ComponentInventoryQuantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"TotalProduct\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:21:\"PaymentApprovedAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"AddressType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"FulfillmentCenterId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"TotalAdjustment\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"ShippingTaxAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"Email1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Email2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"SupplierData\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"TimeCreated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PartNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"StoreId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TaxAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:18:\"ComponentUnitPrice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"TimeReleased\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"InventoryStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FulfillmentStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"AllocatedQuantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"MobileAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Fax1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"AvailableQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Fax2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"ComponentCatalogEntry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"BusinessTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"LastAllocatedUpdate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"OrderItemId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Address3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"MiddleName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"PersonTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"TermAndConditionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"CatalogEntryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"RequestedShipDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"CompoentCatalogQuantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"ComponentXml\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OrganizationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"DoaOrder\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":74:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"orderStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"pspStatusText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"market\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"campaign\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"salesPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"paidAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"reservationDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:23:\"reservedVariantMaxPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"variant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"reservedColor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OrderFeature\";}s:13:\"reservedModel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"dealerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"dealerAddress1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"dealerAddress2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"dealerAddress3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"dealerAddress4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"dealerAddress5\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"dealerCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"dealerDistrict\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"dealerZip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"dealerCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"dealerPhone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"dealerMobilePhone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"dealerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"dealerEmail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"dealerWebSite\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"dealerContactPerson\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"dealerContactInfo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"customerEmail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"customerFirstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"customerSurname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"customerAdditionalSurname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"customerTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"customerAddressLine1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"customerAddressLine2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"customerAddressLine3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"customerAddressLine4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"customerCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"customerDistrict\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"customerZip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"customerPhone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"customerMobilePhone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"customerCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"customerEmailOptIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"customerMailOptIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"customerTelephoneOptIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"customerSmsOptIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"customerContactConsent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"customerLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"reservedUpholstery\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OrderFeature\";}s:39:\"reservedOptionsAccessoriesAndSoftOffers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OrderAccessory\";}}s:20:\"PNR34PlusOptionCodes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"VBSAndGCCconfigurationId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CconfigurationId\";}s:15:\"customOfferText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"finType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"finContactMe\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"natIdNr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"taxPayNr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"regOrgNr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"regOrgName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"socMedId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"socMedType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"dealerCISId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"reservedCarEngine\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OrderFeature\";}s:18:\"reservedCarGearBox\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OrderFeature\";}s:17:\"reservedModelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"reservedModelWcsCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"reservedModelPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"orderPriceData\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/KeyValuePair[String,String]\";}}s:26:\"customerCountryOfResidence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"OrderFeature\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"wcscode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"OrderAccessory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"isAccessory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"CconfigurationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"vbsId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"gccid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:27:\"KeyValuePair[String,String]\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"OrderStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"orderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"OrderStatusDocument\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"ProductModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:9:\"ProductId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ShortDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"FullDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CreatedOnUtc\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"UpdatedOnUtc\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"CategoryIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"StoreId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ProductVariantId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ImageUrls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ImageUrl\";}}s:7:\"Deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"Published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"ShowOnHomePage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"DescriptiveAttributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"PartNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttributeModel\";}}}}s:8:\"ImageUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"AttributeModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AttributeValueModel\";}}}s:19:\"AttributeValueModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"CacheInvalidation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"Cache:
  Invalidation\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CacheInvalidationInfo\";}}}}s:21:\"CacheInvalidationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"productId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:45:\"Api{storeId}CartGet200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:38:\"Api{storeId}CartGet200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:44:\"Api{storeId}CartGet200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:37:\"Api{storeId}CartGet200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:46:\"Api{storeId}CartPost200ApplicationJsonResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:39:\"Api{storeId}CartPost200TextJsonResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:45:\"Api{storeId}CartPost200ApplicationXmlResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:38:\"Api{storeId}CartPost200TextXmlResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:61:\"Api{storeId}CartDealer{dealerId}Put200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:54:\"Api{storeId}CartDealer{dealerId}Put200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:60:\"Api{storeId}CartDealer{dealerId}Put200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:53:\"Api{storeId}CartDealer{dealerId}Put200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:56:\"Api{storeId}CartPrecheckoutPut200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:49:\"Api{storeId}CartPrecheckoutPut200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:55:\"Api{storeId}CartPrecheckoutPut200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:48:\"Api{storeId}CartPrecheckoutPut200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:54:\"Api{storeId}CartCheckoutPost200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:47:\"Api{storeId}CartCheckoutPost200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:53:\"Api{storeId}CartCheckoutPost200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:46:\"Api{storeId}CartCheckoutPost200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:53:\"Api{storeId}CartShippingPut200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:46:\"Api{storeId}CartShippingPut200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:52:\"Api{storeId}CartShippingPut200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:45:\"Api{storeId}CartShippingPut200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:63:\"Api{storeId}CartShippingAggregatedPut200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:56:\"Api{storeId}CartShippingAggregatedPut200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:62:\"Api{storeId}CartShippingAggregatedPut200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:55:\"Api{storeId}CartShippingAggregatedPut200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"CategoryModelArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CategoryModel\";}}s:26:\"StockInformationModelArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/StockInformationModel\";}}s:13:\"DoaOrderArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DoaOrder\";}}s:24:\"OrderStatusDocumentArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OrderStatusDocument\";}}s:15:\"PriceModelArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PriceModel\";}}s:13:\"TaxModelArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TaxModel\";}}s:49:\"Api{storeId}ProductsGet200ApplicationJsonResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:42:\"Api{storeId}ProductsGet200TextJsonResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:48:\"Api{storeId}ProductsGet200ApplicationXmlResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:41:\"Api{storeId}ProductsGet200TextXmlResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:45:\"Api{storeId}UserGet200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:38:\"Api{storeId}UserGet200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:44:\"Api{storeId}UserGet200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:37:\"Api{storeId}UserGet200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"PersonDataArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PersonData\";}}s:51:\"Api{storeId}User@selfPost200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:44:\"Api{storeId}User@selfPost200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:50:\"Api{storeId}User@selfPost200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:43:\"Api{storeId}User@selfPost200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
