---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:448:\"<fullname>AWS
  Service Catalog</fullname> <p> <a href=\"https://aws.amazon.com/servicecatalog/\">AWS
  Service Catalog</a> enables organizations to create and manage catalogs of IT services
  that are approved for use on AWS. To get the most out of this documentation, you
  should be familiar with the terminology discussed in <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/what-is_concepts.html\">AWS
  Service Catalog Concepts</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:19:\"AWS
  Service Catalog\";s:7:\"version\";s:10:\"2015-12-10\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:98:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/servicecatalog-2015-12-10.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:14:\"servicecatalog\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"amazonaws_servicecatalog\";s:4:\"type\";s:7:\"openapi\";}}"
host: servicecatalog.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":327:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"AcceptPortfolioShareInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}}s:8:\"required\";a:1:{i:0;s:11:\"PortfolioId\";}s:4:\"type\";s:6:\"object\";}s:26:\"AcceptPortfolioShareOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"AccessLevelFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  access level to use to filter results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AccessLevelFilterKey\";s:11:\"description\";s:302:\"<p>The
  access level.</p> <ul> <li> <p> <code>Account</code> - Filter results based on the
  account.</p> </li> <li> <p> <code>Role</code> - Filter results based on the federated
  role of the specified user.</p> </li> <li> <p> <code>User</code> - Filter results
  based on the specified user.</p> </li> </ul>\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AccessLevelFilterValue\";s:11:\"description\";s:90:\"The
  user to which the access level applies. The only supported value is <code>Self</code>.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AccessLevelFilterKey\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"Account\";i:1;s:4:\"Role\";i:2;s:4:\"User\";}s:4:\"type\";s:6:\"string\";}s:22:\"AccessLevelFilterValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"AccountId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:11:\"^[0-9]{12}$\";s:4:\"type\";s:6:\"string\";}s:10:\"AccountIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";}s:4:\"type\";s:5:\"array\";}s:7:\"AddTags\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:8:\"maxItems\";i:20;s:4:\"type\";s:5:\"array\";}s:12:\"AllowedValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"AllowedValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AllowedValue\";}s:4:\"type\";s:5:\"array\";}s:16:\"ApproximateCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:36:\"AssociatePrincipalWithPortfolioInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}s:12:\"PrincipalARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PrincipalARN\";s:11:\"description\";s:52:\"The
  ARN of the principal (IAM user, role, or group).\";}s:13:\"PrincipalType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PrincipalType\";s:11:\"description\";s:60:\"The
  principal type. The supported value is <code>IAM</code>.\";}}s:8:\"required\";a:3:{i:0;s:11:\"PortfolioId\";i:1;s:12:\"PrincipalARN\";i:2;s:13:\"PrincipalType\";}s:4:\"type\";s:6:\"object\";}s:37:\"AssociatePrincipalWithPortfolioOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"AssociateProductWithPortfolioInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}s:17:\"SourcePortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:39:\"The
  identifier of the source portfolio.\";}}s:8:\"required\";a:2:{i:0;s:9:\"ProductId\";i:1;s:11:\"PortfolioId\";}s:4:\"type\";s:6:\"object\";}s:35:\"AssociateProductWithPortfolioOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:35:\"AssociateTagOptionWithResourceInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:24:\"The
  resource identifier.\";}s:11:\"TagOptionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TagOptionId\";s:11:\"description\";s:25:\"The
  TagOption identifier.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResourceId\";i:1;s:11:\"TagOptionId\";}s:4:\"type\";s:6:\"object\";}s:36:\"AssociateTagOptionWithResourceOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"AttributeValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"CausingEntity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ChangeAction\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"ADD\";i:1;s:6:\"MODIFY\";i:2;s:6:\"REMOVE\";}s:4:\"type\";s:6:\"string\";}s:19:\"CloudWatchDashboard\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Information
  about a CloudWatch dashboard.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CloudWatchDashboardName\";s:11:\"description\";s:37:\"The
  name of the CloudWatch dashboard.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CloudWatchDashboardName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"CloudWatchDashboards\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CloudWatchDashboard\";}s:4:\"type\";s:5:\"array\";}s:21:\"ConstraintDescription\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:2000;s:4:\"type\";s:6:\"string\";}s:16:\"ConstraintDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Information
  about a constraint.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"ConstraintId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:33:\"The
  identifier of the constraint.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConstraintDescription\";s:11:\"description\";s:34:\"The
  description of the constraint.\";}s:5:\"Owner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:28:\"The
  owner of the constraint.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConstraintType\";s:11:\"description\";s:169:\"<p>The
  type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code>
  </p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ConstraintDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ConstraintDetail\";}s:4:\"type\";s:5:\"array\";}s:20:\"ConstraintParameters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ConstraintSummaries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ConstraintSummary\";}s:4:\"type\";s:5:\"array\";}s:17:\"ConstraintSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Summary
  information about a constraint.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConstraintDescription\";s:11:\"description\";s:34:\"The
  description of the constraint.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConstraintType\";s:11:\"description\";s:169:\"<p>The
  type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code>
  </p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ConstraintType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"CopyOption\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:8:\"CopyTags\";}s:4:\"type\";s:6:\"string\";}s:11:\"CopyOptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CopyOption\";}s:4:\"type\";s:5:\"array\";}s:16:\"CopyProductInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:11:\"CopyOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CopyOptions\";s:11:\"description\";s:123:\"The
  copy options. If the value is <code>CopyTags</code>, the tags from the source product
  are copied to the target product.\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:177:\"
  A unique identifier that you provide to ensure idempotency. If multiple requests
  differ only by the idempotency token, the same response is returned for each repeated
  request. \";}s:16:\"SourceProductArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ProductArn\";s:11:\"description\";s:53:\"The
  Amazon Resource Name (ARN) of the source product.\";}s:37:\"SourceProvisioningArtifactIdentifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/SourceProvisioningArtifactProperties\";s:11:\"description\";s:145:\"The
  identifiers of the provisioning artifacts (also known as versions) of the product
  to copy. By default, all provisioning artifacts are copied.\";}s:15:\"TargetProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:75:\"The
  identifier of the target product. By default, a new product is created.\";}s:17:\"TargetProductName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ProductViewName\";s:11:\"description\";s:77:\"A
  name for the target product. The default is the name of the source product.\";}}s:8:\"required\";a:2:{i:0;s:16:\"SourceProductArn\";i:1;s:16:\"IdempotencyToken\";}s:4:\"type\";s:6:\"object\";}s:17:\"CopyProductOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"CopyProductToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:56:\"The
  token to use to track the progress of the operation.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CopyProductStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"SUCCEEDED\";i:1;s:11:\"IN_PROGRESS\";i:2;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:21:\"CreateConstraintInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConstraintDescription\";s:11:\"description\";s:34:\"The
  description of the constraint.\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:175:\"A
  unique identifier that you provide to ensure idempotency. If multiple requests differ
  only by the idempotency token, the same response is returned for each repeated request.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConstraintParameters\";s:11:\"description\";s:694:\"<p>The
  constraint parameters, in JSON format. The syntax depends on the constraint type
  as follows:</p> <dl> <dt>LAUNCH</dt> <dd> <p>Specify the <code>RoleArn</code> property
  as follows:</p> <p>\\\"RoleArn\\\" : \\\"arn:aws:iam::123456789012:role/LaunchRole\\\"</p>
  </dd> <dt>NOTIFICATION</dt> <dd> <p>Specify the <code>NotificationArns</code> property
  as follows:</p> <p>\\\"NotificationArns\\\" : [\\\"arn:aws:sns:us-east-1:123456789012:Topic\\\"]</p>
  </dd> <dt>TEMPLATE</dt> <dd> <p>Specify the <code>Rules</code> property. For more
  information, see <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/reference-template_constraint_rules.html\">Template
  Constraint Rules</a>.</p> </dd> </dl>\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConstraintType\";s:11:\"description\";s:169:\"<p>The
  type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code>
  </p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>\";}}s:8:\"required\";a:5:{i:0;s:11:\"PortfolioId\";i:1;s:9:\"ProductId\";i:2;s:10:\"Parameters\";i:3;s:4:\"Type\";i:4;s:16:\"IdempotencyToken\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateConstraintOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"ConstraintDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ConstraintDetail\";s:11:\"description\";s:33:\"Information
  about the constraint.\";}s:20:\"ConstraintParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConstraintParameters\";s:11:\"description\";s:26:\"The
  constraint parameters.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:34:\"The
  status of the current request.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreatePortfolioInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PortfolioDescription\";s:11:\"description\";s:33:\"The
  description of the portfolio.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PortfolioDisplayName\";s:11:\"description\";s:37:\"The
  name to use for display purposes.\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:175:\"A
  unique identifier that you provide to ensure idempotency. If multiple requests differ
  only by the idempotency token, the same response is returned for each repeated request.\";}s:12:\"ProviderName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProviderName\";s:11:\"description\";s:35:\"The
  name of the portfolio provider.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/AddTags\";s:11:\"description\";s:17:\"One
  or more tags.\";}}s:8:\"required\";a:3:{i:0;s:11:\"DisplayName\";i:1;s:12:\"ProviderName\";i:2;s:16:\"IdempotencyToken\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreatePortfolioOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"PortfolioDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PortfolioDetail\";s:11:\"description\";s:32:\"Information
  about the portfolio.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:57:\"Information
  about the tags associated with the portfolio.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreatePortfolioShareInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:19:\"The
  AWS account ID.\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}}s:8:\"required\";a:2:{i:0;s:11:\"PortfolioId\";i:1;s:9:\"AccountId\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreatePortfolioShareOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"CreateProductInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ProductViewShortDescription\";s:11:\"description\";s:31:\"The
  description of the product.\";}s:11:\"Distributor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProductViewOwner\";s:11:\"description\";s:31:\"The
  distributor of the product.\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:175:\"A
  unique identifier that you provide to ensure idempotency. If multiple requests differ
  only by the idempotency token, the same response is returned for each repeated request.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ProductViewName\";s:11:\"description\";s:24:\"The
  name of the product.\";}s:5:\"Owner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProductViewOwner\";s:11:\"description\";s:25:\"The
  owner of the product.\";}s:11:\"ProductType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProductType\";s:11:\"description\";s:20:\"The
  type of product.\";}s:30:\"ProvisioningArtifactParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ProvisioningArtifactProperties\";s:11:\"description\";s:47:\"The
  configuration of the provisioning artifact.\";}s:18:\"SupportDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SupportDescription\";s:11:\"description\";s:42:\"The
  support information about the product.\";}s:12:\"SupportEmail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SupportEmail\";s:11:\"description\";s:38:\"The
  contact email for product support.\";}s:10:\"SupportUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SupportUrl\";s:11:\"description\";s:36:\"The
  contact URL for product support.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/AddTags\";s:11:\"description\";s:17:\"One
  or more tags.\";}}s:8:\"required\";a:5:{i:0;s:4:\"Name\";i:1;s:5:\"Owner\";i:2;s:11:\"ProductType\";i:3;s:30:\"ProvisioningArtifactParameters\";i:4;s:16:\"IdempotencyToken\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateProductOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"ProductViewDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ProductViewDetail\";s:11:\"description\";s:35:\"Information
  about the product view.\";}s:26:\"ProvisioningArtifactDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ProvisioningArtifactDetail\";s:11:\"description\";s:44:\"Information
  about the provisioning artifact.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:55:\"Information
  about the tags associated with the product.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"CreateProvisionedProductPlanInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:175:\"A
  unique identifier that you provide to ensure idempotency. If multiple requests differ
  only by the idempotency token, the same response is returned for each repeated request.\";}s:16:\"NotificationArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/NotificationArns\";s:11:\"description\";s:86:\"Passed
  to CloudFormation. The SNS topic ARNs to which to publish stack-related events.\";}s:6:\"PathId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:206:\"The
  path identifier of the product. This value is optional if the product has a default
  path, and required if the product has more than one path. To list the paths for
  a product, use <a>ListLaunchPaths</a>.\";}s:8:\"PlanName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ProvisionedProductPlanName\";s:11:\"description\";s:21:\"The
  name of the plan.\";}s:8:\"PlanType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ProvisionedProductPlanType\";s:11:\"description\";s:14:\"The
  plan type.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}s:22:\"ProvisionedProductName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ProvisionedProductName\";s:11:\"description\";s:151:\"A
  user-friendly name for the provisioned product. This value must be unique for the
  AWS account and cannot be updated after the product is provisioned.\";}s:22:\"ProvisioningArtifactId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:44:\"The
  identifier of the provisioning artifact.\";}s:22:\"ProvisioningParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/UpdateProvisioningParameters\";s:11:\"description\";s:89:\"Parameters
  specified by the administrator that are required for provisioning the product.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:17:\"One
  or more tags.\";}}s:8:\"required\";a:6:{i:0;s:8:\"PlanName\";i:1;s:8:\"PlanType\";i:2;s:9:\"ProductId\";i:3;s:22:\"ProvisionedProductName\";i:4;s:22:\"ProvisioningArtifactId\";i:5;s:16:\"IdempotencyToken\";}s:4:\"type\";s:6:\"object\";}s:34:\"CreateProvisionedProductPlanOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"PlanId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:20:\"The
  plan identifier.\";}s:8:\"PlanName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ProvisionedProductPlanName\";s:11:\"description\";s:21:\"The
  name of the plan.\";}s:18:\"ProvisionProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}s:22:\"ProvisionedProductName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ProvisionedProductName\";s:11:\"description\";s:50:\"The
  user-friendly name of the provisioned product.\";}s:22:\"ProvisioningArtifactId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:44:\"The
  identifier of the provisioning artifact.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateProvisioningArtifactInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:175:\"A
  unique identifier that you provide to ensure idempotency. If multiple requests differ
  only by the idempotency token, the same response is returned for each repeated request.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ProvisioningArtifactProperties\";s:11:\"description\";s:48:\"The
  configuration for the provisioning artifact.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}}s:8:\"required\";a:3:{i:0;s:9:\"ProductId\";i:1;s:10:\"Parameters\";i:2;s:16:\"IdempotencyToken\";}s:4:\"type\";s:6:\"object\";}s:32:\"CreateProvisioningArtifactOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ProvisioningArtifactInfo\";s:11:\"description\";s:68:\"The
  URL of the CloudFormation template in Amazon S3, in JSON format.\";}s:26:\"ProvisioningArtifactDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ProvisioningArtifactDetail\";s:11:\"description\";s:44:\"Information
  about the provisioning artifact.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:34:\"The
  status of the current request.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateTagOptionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TagOptionKey\";s:11:\"description\";s:18:\"The
  TagOption key.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TagOptionValue\";s:11:\"description\";s:20:\"The
  TagOption value.\";}}s:8:\"required\";a:2:{i:0;s:3:\"Key\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateTagOptionOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"TagOptionDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TagOptionDetail\";s:11:\"description\";s:32:\"Information
  about the TagOption.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"DefaultValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"DeleteConstraintInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:33:\"The
  identifier of the constraint.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteConstraintOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeletePortfolioInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeletePortfolioOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DeletePortfolioShareInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:19:\"The
  AWS account ID.\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}}s:8:\"required\";a:2:{i:0;s:11:\"PortfolioId\";i:1;s:9:\"AccountId\";}s:4:\"type\";s:6:\"object\";}s:26:\"DeletePortfolioShareOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteProductInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteProductOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"DeleteProvisionedProductPlanInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:12:\"IgnoreErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IgnoreErrors\";s:11:\"description\";s:135:\"If
  set to true, AWS Service Catalog stops managing the specified provisioned product
  even if it cannot delete the underlying resources.\";}s:6:\"PlanId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:20:\"The
  plan identifier.\";}}s:8:\"required\";a:1:{i:0;s:6:\"PlanId\";}s:4:\"type\";s:6:\"object\";}s:34:\"DeleteProvisionedProductPlanOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteProvisioningArtifactInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}s:22:\"ProvisioningArtifactId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:44:\"The
  identifier of the provisioning artifact.\";}}s:8:\"required\";a:2:{i:0;s:9:\"ProductId\";i:1;s:22:\"ProvisioningArtifactId\";}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteProvisioningArtifactOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteTagOptionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TagOptionId\";s:11:\"description\";s:25:\"The
  TagOption identifier.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteTagOptionOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeConstraintInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:33:\"The
  identifier of the constraint.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeConstraintOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"ConstraintDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ConstraintDetail\";s:11:\"description\";s:33:\"Information
  about the constraint.\";}s:20:\"ConstraintParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConstraintParameters\";s:11:\"description\";s:26:\"The
  constraint parameters.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:34:\"The
  status of the current request.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeCopyProductStatusInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:16:\"CopyProductToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:87:\"The
  token for the copy product operation. This token is returned by <a>CopyProduct</a>.\";}}s:8:\"required\";a:1:{i:0;s:16:\"CopyProductToken\";}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeCopyProductStatusOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"CopyProductStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CopyProductStatus\";s:11:\"description\";s:41:\"The
  status of the copy product operation.\";}s:12:\"StatusDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StatusDetail\";s:11:\"description\";s:19:\"The
  status message.\";}s:15:\"TargetProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:37:\"The
  identifier of the copied product.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribePortfolioInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:23:\"DescribePortfolioOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"PortfolioDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PortfolioDetail\";s:11:\"description\";s:32:\"Information
  about the portfolio.\";}s:10:\"TagOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TagOptionDetails\";s:11:\"description\";s:63:\"Information
  about the TagOptions associated with the portfolio.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:57:\"Information
  about the tags associated with the portfolio.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeProductAsAdminInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeProductAsAdminOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"ProductViewDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ProductViewDetail\";s:11:\"description\";s:35:\"Information
  about the product view.\";}s:29:\"ProvisioningArtifactSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ProvisioningArtifactSummaries\";s:11:\"description\";s:96:\"Information
  about the provisioning artifacts (also known as versions) for the specified product.\";}s:10:\"TagOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TagOptionDetails\";s:11:\"description\";s:61:\"Information
  about the TagOptions associated with the product.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:55:\"Information
  about the tags associated with the product.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeProductInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeProductOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"ProductViewSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProductViewSummary\";s:11:\"description\";s:43:\"Summary
  information about the product view.\";}s:21:\"ProvisioningArtifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ProvisioningArtifacts\";s:11:\"description\";s:71:\"Information
  about the provisioning artifacts for the specified product.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeProductViewInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:28:\"The
  product view identifier.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeProductViewOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"ProductViewSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProductViewSummary\";s:11:\"description\";s:38:\"Summary
  information about the product.\";}s:21:\"ProvisioningArtifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ProvisioningArtifacts\";s:11:\"description\";s:61:\"Information
  about the provisioning artifacts for the product.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeProvisionedProductInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:35:\"The
  provisioned product identifier.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeProvisionedProductOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"CloudWatchDashboards\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CloudWatchDashboards\";s:11:\"description\";s:74:\"Any
  CloudWatch dashboards that were created when provisioning the product.\";}s:24:\"ProvisionedProductDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ProvisionedProductDetail\";s:11:\"description\";s:42:\"Information
  about the provisioned product.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeProvisionedProductPlanInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:6:\"PlanId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:20:\"The
  plan identifier.\";}}s:8:\"required\";a:1:{i:0;s:6:\"PlanId\";}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeProvisionedProductPlanOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}s:29:\"ProvisionedProductPlanDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ProvisionedProductPlanDetails\";s:11:\"description\";s:27:\"Information
  about the plan.\";}s:15:\"ResourceChanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResourceChanges\";s:11:\"description\";s:81:\"Information
  about the resource changes that will occur when the plan is executed.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeProvisioningArtifactInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}s:22:\"ProvisioningArtifactId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:44:\"The
  identifier of the provisioning artifact.\";}s:7:\"Verbose\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Verbose\";s:11:\"description\";s:55:\"Indicates
  whether a verbose level of detail is enabled.\";}}s:8:\"required\";a:2:{i:0;s:22:\"ProvisioningArtifactId\";i:1;s:9:\"ProductId\";}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeProvisioningArtifactOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ProvisioningArtifactInfo\";s:11:\"description\";s:52:\"The
  URL of the CloudFormation template in Amazon S3.\";}s:26:\"ProvisioningArtifactDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ProvisioningArtifactDetail\";s:11:\"description\";s:44:\"Information
  about the provisioning artifact.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:34:\"The
  status of the current request.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeProvisioningParametersInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:6:\"PathId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:206:\"The
  path identifier of the product. This value is optional if the product has a default
  path, and required if the product has more than one path. To list the paths for
  a product, use <a>ListLaunchPaths</a>.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}s:22:\"ProvisioningArtifactId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:44:\"The
  identifier of the provisioning artifact.\";}}s:8:\"required\";a:2:{i:0;s:9:\"ProductId\";i:1;s:22:\"ProvisioningArtifactId\";}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeProvisioningParametersOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"ConstraintSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ConstraintSummaries\";s:11:\"description\";s:64:\"Information
  about the constraints used to provision the product.\";}s:30:\"ProvisioningArtifactParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ProvisioningArtifactParameters\";s:11:\"description\";s:63:\"Information
  about the parameters used to provision the product.\";}s:10:\"TagOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TagOptionSummaries\";s:11:\"description\";s:62:\"Information
  about the TagOptions associated with the resource.\";}s:17:\"UsageInstructions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UsageInstructions\";s:11:\"description\";s:160:\"Any
  additional metadata specifically related to the provisioning of the product. For
  example, see the <code>Version</code> field of the CloudFormation template.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeRecordInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:103:\"The
  record identifier of the provisioned product. This identifier is returned by the
  request operation.\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeRecordOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}s:12:\"RecordDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RecordDetail\";s:11:\"description\";s:30:\"Information
  about the product.\";}s:13:\"RecordOutputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordOutputs\";s:11:\"description\";s:184:\"Information
  about the product created as the result of a request. For example, the output for
  a CloudFormation-backed product that creates an S3 bucket would include the S3 bucket
  URL.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeTagOptionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TagOptionId\";s:11:\"description\";s:25:\"The
  TagOption identifier.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeTagOptionOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"TagOptionDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TagOptionDetail\";s:11:\"description\";s:32:\"Information
  about the TagOption.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:39:\"DisassociatePrincipalFromPortfolioInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}s:12:\"PrincipalARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PrincipalARN\";s:11:\"description\";s:52:\"The
  ARN of the principal (IAM user, role, or group).\";}}s:8:\"required\";a:2:{i:0;s:11:\"PortfolioId\";i:1;s:12:\"PrincipalARN\";}s:4:\"type\";s:6:\"object\";}s:40:\"DisassociatePrincipalFromPortfolioOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"DisassociateProductFromPortfolioInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}}s:8:\"required\";a:2:{i:0;s:9:\"ProductId\";i:1;s:11:\"PortfolioId\";}s:4:\"type\";s:6:\"object\";}s:38:\"DisassociateProductFromPortfolioOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:38:\"DisassociateTagOptionFromResourceInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:24:\"The
  resource identifier.\";}s:11:\"TagOptionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TagOptionId\";s:11:\"description\";s:25:\"The
  TagOption identifier.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResourceId\";i:1;s:11:\"TagOptionId\";}s:4:\"type\";s:6:\"object\";}s:39:\"DisassociateTagOptionFromResourceOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DuplicateResourceException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specified resource is a duplicate.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ErrorDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"EvaluationType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"STATIC\";i:1;s:7:\"DYNAMIC\";}s:4:\"type\";s:6:\"string\";}s:34:\"ExecuteProvisionedProductPlanInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:175:\"A
  unique identifier that you provide to ensure idempotency. If multiple requests differ
  only by the idempotency token, the same response is returned for each repeated request.\";}s:6:\"PlanId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:20:\"The
  plan identifier.\";}}s:8:\"required\";a:2:{i:0;s:6:\"PlanId\";i:1;s:16:\"IdempotencyToken\";}s:4:\"type\";s:6:\"object\";}s:35:\"ExecuteProvisionedProductPlanOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"RecordDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RecordDetail\";s:11:\"description\";s:57:\"Information
  about the result of provisioning the product.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"HasDefaultPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:25:\"[a-zA-Z0-9][a-zA-Z0-9_-]*\";s:4:\"type\";s:6:\"string\";}s:12:\"IgnoreErrors\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"InstructionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"InstructionValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"InvalidParametersException\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"One
  or more parameters provided to the operation are not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"An
  attempt was made to modify a resource that is in a state that is not valid. Check
  your resources to ensure that they are in valid states before retrying the operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"LastRequestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"LaunchPathSummaries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LaunchPathSummary\";}s:4:\"type\";s:5:\"array\";}s:17:\"LaunchPathSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Summary
  information about a product path for a user.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"ConstraintSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ConstraintSummaries\";s:11:\"description\";s:54:\"The
  constraints on the portfolio-product relationship.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:35:\"The
  identifier of the product path.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PortfolioName\";s:11:\"description\";s:57:\"The
  name of the portfolio to which the user was assigned.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:43:\"The
  tags associated with this product path.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"The
  current limits of the service would have been exceeded by this operation. Decrease
  your resource use or increase your service limits and retry the operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"ListAcceptedPortfolioSharesInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:18:\"PortfolioShareType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PortfolioShareType\";s:11:\"description\";s:245:\"<p>The
  type of shared portfolios to list. The default is to list imported portfolios.</p>
  <ul> <li> <p> <code>AWS_SERVICECATALOG</code> - List default portfolios</p> </li>
  <li> <p> <code>IMPORTED</code> - List imported portfolios</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ListAcceptedPortfolioSharesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}s:16:\"PortfolioDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/PortfolioDetails\";s:11:\"description\";s:33:\"Information
  about the portfolios.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListConstraintsForPortfolioInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}}s:8:\"required\";a:1:{i:0;s:11:\"PortfolioId\";}s:4:\"type\";s:6:\"object\";}s:33:\"ListConstraintsForPortfolioOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ConstraintDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConstraintDetails\";s:11:\"description\";s:34:\"Information
  about the constraints.\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListLaunchPathsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}}s:8:\"required\";a:1:{i:0;s:9:\"ProductId\";}s:4:\"type\";s:6:\"object\";}s:21:\"ListLaunchPathsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"LaunchPathSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LaunchPathSummaries\";s:11:\"description\";s:34:\"Information
  about the launch path.\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListPortfolioAccessInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}}s:8:\"required\";a:1:{i:0;s:11:\"PortfolioId\";}s:4:\"type\";s:6:\"object\";}s:25:\"ListPortfolioAccessOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"AccountIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AccountIds\";s:11:\"description\";s:64:\"Information
  about the AWS accounts with access to the portfolio.\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListPortfoliosForProductInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}}s:8:\"required\";a:1:{i:0;s:9:\"ProductId\";}s:4:\"type\";s:6:\"object\";}s:30:\"ListPortfoliosForProductOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}s:16:\"PortfolioDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/PortfolioDetails\";s:11:\"description\";s:33:\"Information
  about the portfolios.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListPortfoliosInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListPortfoliosOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}s:16:\"PortfolioDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/PortfolioDetails\";s:11:\"description\";s:33:\"Information
  about the portfolios.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ListPrincipalsForPortfolioInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:11:\"PortfolioId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}}s:8:\"required\";a:1:{i:0;s:11:\"PortfolioId\";}s:4:\"type\";s:6:\"object\";}s:32:\"ListPrincipalsForPortfolioOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}s:10:\"Principals\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Principals\";s:11:\"description\";s:66:\"The
  IAM principals (users or roles) associated with the portfolio.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListProvisionedProductPlansInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:17:\"AccessLevelFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AccessLevelFilter\";s:11:\"description\";s:76:\"The
  access level to use to obtain results. The default is <code>User</code>.\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:18:\"ProvisionProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ListProvisionedProductPlansOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}s:23:\"ProvisionedProductPlans\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProvisionedProductPlans\";s:11:\"description\";s:28:\"Information
  about the plans.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListProvisioningArtifactsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}}s:8:\"required\";a:1:{i:0;s:9:\"ProductId\";}s:4:\"type\";s:6:\"object\";}s:31:\"ListProvisioningArtifactsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}s:27:\"ProvisioningArtifactDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ProvisioningArtifactDetails\";s:11:\"description\";s:45:\"Information
  about the provisioning artifacts.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListRecordHistoryInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:17:\"AccessLevelFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AccessLevelFilter\";s:11:\"description\";s:76:\"The
  access level to use to obtain results. The default is <code>User</code>.\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:12:\"SearchFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ListRecordHistorySearchFilter\";s:11:\"description\";s:39:\"The
  search filter to scope the results.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListRecordHistoryOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:114:\"The
  page token to use to retrieve the next set of results. If there are no additional
  results, this value is null.\";}s:13:\"RecordDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordDetails\";s:11:\"description\";s:44:\"The
  records, in reverse chronological order.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListRecordHistorySearchFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  search filter to use when listing history records.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SearchFilterKey\";s:11:\"description\";s:246:\"<p>The
  filter key.</p> <ul> <li> <p> <code>product</code> - Filter results based on the
  specified product identifier.</p> </li> <li> <p> <code>provisionedproduct</code>
  - Filter results based on the provisioned product identifier.</p> </li> </ul>\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SearchFilterValue\";s:11:\"description\";s:17:\"The
  filter value.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListResourcesForTagOptionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:120:\"<p>The
  resource type.</p> <ul> <li> <p> <code>Portfolio</code> </p> </li> <li> <p> <code>Product</code>
  </p> </li> </ul>\";}s:11:\"TagOptionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TagOptionId\";s:11:\"description\";s:25:\"The
  TagOption identifier.\";}}s:8:\"required\";a:1:{i:0;s:11:\"TagOptionId\";}s:4:\"type\";s:6:\"object\";}s:31:\"ListResourcesForTagOptionOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:15:\"ResourceDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResourceDetails\";s:11:\"description\";s:32:\"Information
  about the resources.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListTagOptionsFilters\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Filters
  to use when listing TagOptions.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Active\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TagOptionActive\";s:11:\"description\";s:17:\"The
  active state.\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TagOptionKey\";s:11:\"description\";s:18:\"The
  TagOption key.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TagOptionValue\";s:11:\"description\";s:20:\"The
  TagOption value.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListTagOptionsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ListTagOptionsFilters\";s:11:\"description\";s:91:\"The
  search filters. If no search filters are specified, the output includes all TagOptions.\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:53:\"The
  maximum number of items to return with this call.\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListTagOptionsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"PageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:91:\"The
  page token for the next set of results. To retrieve the first set of results, use
  null.\";}s:16:\"TagOptionDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TagOptionDetails\";s:11:\"description\";s:33:\"Information
  about the TagOptions.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LogicalResourceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NoEcho\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"NotificationArn\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1224;s:9:\"minLength\";i:1;s:7:\"pattern\";s:89:\"arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}\";s:4:\"type\";s:6:\"string\";}s:16:\"NotificationArns\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/NotificationArn\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}s:9:\"OutputKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"OutputValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PageSize\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:9:\"PageToken\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:47:\"[\\u0009\\u000a\\u000d\\u0020-\\uD7FF\\uE000-\\uFFFD]*\";s:4:\"type\";s:6:\"string\";}s:20:\"ParameterConstraints\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  constraints that the administrator has put on the parameter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"AllowedValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AllowedValues\";s:11:\"description\";s:64:\"The
  values that the administrator has allowed for the parameter.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ParameterKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"ParameterType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ParameterValue\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:4096;s:4:\"type\";s:6:\"string\";}s:10:\"PhysicalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"PhysicalResourceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PlanResourceType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:20:\"PortfolioDescription\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:2000;s:4:\"type\";s:6:\"string\";}s:15:\"PortfolioDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Information
  about a portfolio.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:34:\"The
  ARN assigned to the portfolio.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreationTime\";s:11:\"description\";s:40:\"The
  UTC time stamp of the creation time.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PortfolioDescription\";s:11:\"description\";s:33:\"The
  description of the portfolio.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PortfolioDisplayName\";s:11:\"description\";s:37:\"The
  name to use for display purposes.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:25:\"The
  portfolio identifier.\";}s:12:\"ProviderName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProviderName\";s:11:\"description\";s:35:\"The
  name of the portfolio provider.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PortfolioDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PortfolioDetail\";}s:4:\"type\";s:5:\"array\";}s:20:\"PortfolioDisplayName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"PortfolioName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"PortfolioShareType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"IMPORTED\";i:1;s:18:\"AWS_SERVICECATALOG\";}s:4:\"type\";s:6:\"string\";}s:9:\"Principal\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Information
  about a principal.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"PrincipalARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PrincipalARN\";s:11:\"description\";s:52:\"The
  ARN of the principal (IAM user, role, or group).\";}s:13:\"PrincipalType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PrincipalType\";s:11:\"description\";s:60:\"The
  principal type. The supported value is <code>IAM</code>.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"PrincipalARN\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"PrincipalType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"IAM\";}s:4:\"type\";s:6:\"string\";}s:10:\"Principals\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Principal\";}s:4:\"type\";s:5:\"array\";}s:10:\"ProductArn\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1224;s:9:\"minLength\";i:1;s:7:\"pattern\";s:89:\"arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}\";s:4:\"type\";s:6:\"string\";}s:13:\"ProductSource\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:7:\"ACCOUNT\";}s:4:\"type\";s:6:\"string\";}s:11:\"ProductType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:24:\"CLOUD_FORMATION_TEMPLATE\";i:1;s:11:\"MARKETPLACE\";}s:4:\"type\";s:6:\"string\";}s:26:\"ProductViewAggregationType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"ProductViewAggregationValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"A
  single product view aggregation value/count pair, containing metadata about each
  product to which the calling user has access.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"ApproximateCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ApproximateCount\";s:11:\"description\";s:58:\"An
  approximate count of the products that match the value.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";s:11:\"description\";s:42:\"The
  value of the product view aggregation.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ProductViewAggregationValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ProductViewAggregationValue\";}s:4:\"type\";s:5:\"array\";}s:23:\"ProductViewAggregations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ProductViewAggregationType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ProductViewAggregationValues\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:17:\"ProductViewDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Information
  about a product view.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CreatedTime\";s:11:\"description\";s:40:\"The
  UTC time stamp of the creation time.\";}s:10:\"ProductARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:23:\"The
  ARN of the product.\";}s:18:\"ProductViewSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProductViewSummary\";s:11:\"description\";s:43:\"Summary
  information about the product view.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:284:\"<p>The
  status of the product.</p> <ul> <li> <p> <code>AVAILABLE</code> - The product is
  ready for use.</p> </li> <li> <p> <code>CREATING</code> - Product creation has started;
  the product is not ready for use.</p> </li> <li> <p> <code>FAILED</code> - An action
  failed.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ProductViewDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProductViewDetail\";}s:4:\"type\";s:5:\"array\";}s:22:\"ProductViewDistributor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ProductViewFilterBy\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:14:\"FullTextSearch\";i:1;s:5:\"Owner\";i:2;s:11:\"ProductType\";i:3;s:15:\"SourceProductId\";}s:4:\"type\";s:6:\"string\";}s:22:\"ProductViewFilterValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"ProductViewFilterValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ProductViewFilterValue\";}s:4:\"type\";s:5:\"array\";}s:18:\"ProductViewFilters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProductViewFilterBy\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductViewFilterValues\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"ProductViewName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ProductViewOwner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"ProductViewShortDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ProductViewSortBy\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:5:\"Title\";i:1;s:12:\"VersionCount\";i:2;s:12:\"CreationDate\";}s:4:\"type\";s:6:\"string\";}s:20:\"ProductViewSummaries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProductViewSummary\";}s:4:\"type\";s:5:\"array\";}s:18:\"ProductViewSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Summary
  information about a product view.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"Distributor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ProductViewDistributor\";s:11:\"description\";s:101:\"The
  distributor of the product. Contact the product administrator for the significance
  of this value.\";}s:14:\"HasDefaultPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/HasDefaultPath\";s:11:\"description\";s:313:\"Indicates
  whether the product has a default path. If the product does not have a default path,
  call <a>ListLaunchPaths</a> to disambiguate between paths. Otherwise, <a>ListLaunchPaths</a>
  is not required, and the output of <a>ProductViewSummary</a> can be used directly
  with <a>DescribeProvisioningParameters</a>.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:28:\"The
  product view identifier.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ProductViewName\";s:11:\"description\";s:24:\"The
  name of the product.\";}s:5:\"Owner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProductViewOwner\";s:11:\"description\";s:95:\"The
  owner of the product. Contact the product administrator for the significance of
  this value.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}s:16:\"ShortDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ProductViewShortDescription\";s:11:\"description\";s:33:\"Short
  description of the product.\";}s:18:\"SupportDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SupportDescription\";s:11:\"description\";s:48:\"The
  description of the support for this Product.\";}s:12:\"SupportEmail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SupportEmail\";s:11:\"description\";s:65:\"The
  email contact information to obtain support for this Product.\";}s:10:\"SupportUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SupportUrl\";s:11:\"description\";s:55:\"The
  URL information to obtain support for this Product.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProductType\";s:11:\"description\";s:174:\"The
  product type. Contact the product administrator for the significance of this value.
  If this value is <code>MARKETPLACE</code>, the product was created by AWS Marketplace.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"PropertyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ProviderName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:21:\"ProvisionProductInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"AcceptLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AcceptLanguage\";s:11:\"description\";s:182:\"<p>The
  language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li>
  <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p>
  </li> </ul>\";}s:16:\"NotificationArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/NotificationArns\";s:11:\"description\";s:86:\"Passed
  to CloudFormation. The SNS topic ARNs to which to publish stack-related events.\";}s:6:\"PathId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:206:\"The
  path identifier of the product. This value is optional if the product has a default
  path, and required if the product has more than one path. To list the paths for
  a product, use <a>ListLaunchPaths</a>.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}s:14:\"ProvisionToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:71:\"An
  idempotency token that uniquely identifies the provisioning request.\";}s:22:\"ProvisionedProductName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ProvisionedProductName\";s:11:\"description\";s:151:\"A
  user-friendly name for the provisioned product. This value must be unique for the
  AWS account and cannot be updated after the product is provisioned.\";}s:22:\"ProvisioningArtifactId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:44:\"The
  identifier of the provisioning artifact.\";}s:22:\"ProvisioningParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ProvisioningParameters\";s:11:\"description\";s:89:\"Parameters
  specified by the administrator that are required for provisioning the product.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:17:\"One
  or more tags.\";}}s:8:\"required\";a:4:{i:0;s:9:\"ProductId\";i:1;s:22:\"ProvisioningArtifactId\";i:2;s:22:\"ProvisionedProductName\";i:3;s:14:\"ProvisionToken\";}s:4:\"type\";s:6:\"object\";}s:22:\"ProvisionProductOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"RecordDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RecordDetail\";s:11:\"description\";s:57:\"Information
  about the result of provisioning the product.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ProvisionedProductAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Information
  about a provisioned product.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ProvisionedProductNameOrArn\";s:11:\"description\";s:35:\"The
  ARN of the provisioned product.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CreatedTime\";s:11:\"description\";s:40:\"The
  UTC time stamp of the creation time.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:42:\"The
  identifier of the provisioned product.\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:175:\"A
  unique identifier that you provide to ensure idempotency. If multiple requests differ
  only by the idempotency token, the same response is returned for each repeated request.\";}s:12:\"LastRecordId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:80:\"The
  record identifier of the last request performed on this provisioned product.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ProvisionedProductNameOrArn\";s:11:\"description\";s:50:\"The
  user-friendly name of the provisioned product.\";}s:10:\"PhysicalId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PhysicalId\";s:11:\"description\";s:90:\"The
  assigned identifier for the resource, such as an EC2 instance ID or an S3 bucket
  name.\";}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:23:\"The
  product identifier.\";}s:22:\"ProvisioningArtifactId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:44:\"The
  identifier of the provisioning artifact.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ProvisionedProductStatus\";s:11:\"description\";s:912:\"<p>The
  current status of the provisioned product.</p> <ul> <li> <p> <code>AVAILABLE</code>
  - Stable state, ready to perform any operation. The most recent operation succeeded
  and completed.</p> </li> <li> <p> <code>UNDER_CHANGE</code> - Transitive state,
  operations performed might not have valid results. Wait for an <code>AVAILABLE</code>
  status before performing operations.</p> </li> <li> <p> <code>TAINTED</code> - Stable
  state, ready to perform any operation. The stack has completed the requested operation
  but is not exactly what was requested. For example, a request to update to a new
  version failed and the stack rolled back to the current version.</p> </li> <li>
  <p> <code>ERROR</code> - An unexpected error occurred, the provisioned product exists
  but the stack is not running. For example, CloudFormation received a parameter value
  that was not valid and could not launch the stack.</p> </li> </ul>\";}s:13:\"StatusMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ProvisionedProductStatusMessage\";s:11:\"description\";s:54:\"The
  current status message of the provisioned product.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:17:\"One
  or more tags.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ProvisionedProductType\";s:11:\"description\";s:79:\"The
  type of provisioned product. The supported value is <code>CFN_STACK</code>.\";}s:7:\"UserArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:47:\"The
  Amazon Resource Name (ARN) of the IAM user.\";}s:14:\"UserArnSession\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserArnSession\";s:11:\"description\";s:76:\"The
  ARN of the IAM user in the session. This ARN might contain a session ID.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ProvisionedProductAttributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ProvisionedProductAttribute\";}s:4:\"type\";s:5:\"array\";}s:24:\"ProvisionedProductDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Information
  about a provisioned product.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ProvisionedProductNameOrArn\";s:11:\"description\";s:35:\"The
  ARN of the provisioned product.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CreatedTime\";s:11:\"description\";s:40:\"The
  UTC time stamp of the creation time.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProvisionedProductId\";s:11:\"description\";s:42:\"The
  identifier of the provisioned product.\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:175:\"A
  unique identifier that you provide to ensure idempotency. If multiple requests differ
  only by the idempotency token, the same response is returned for each repeated request.\";}s:12:\"LastRecordId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LastRequestId\";s:11:\"description\";s:80:\"The
  record identifier of the last request performed on this provisioned product.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ProvisionedProductNameOrArn\";s:11:\"description\";s:50:\"The
  user-friendly name of the provisioned product.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ProvisionedProductStatus\";s:11:\"description\";s:912:\"<p>The
  current status of the provisioned product.</p> <ul> <li> <p> <code>AVAILABLE</code>
  - Stable state, ready to perform any operation. The most recent operation succeeded
  and completed.</p> </li> <li> <p> <code>UNDER_CHANGE</code> - Transitive state,
  operations performed might not have valid results. Wait for an <code>AVAILABLE</code>
  status before performing operations.</p> </li> <li> <p> <code>TAINTED</code> - Stable
  state, ready to perform any operation. The stack has completed the requested operation
  but is not exactly what was requested. For example, a request to update to a new
  version failed and the stack rolled back to the current version.</p> </li> <li>
  <p> <code>ERROR</code> - An unexpected error occurred, the provisioned product exists
  but the stack is not running. For example, CloudFormation received a parameter value
  that was not valid and could not launch the stack.</p> </li> </ul>\";}s:13:\"StatusMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ProvisionedProductStatusMessage\";s:11:\"description\";s:54:\"The
  current status message of the provisioned product.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ProvisionedProductType\";s:11:\"description\";s:79:\"The
[...]
