---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:519:\"<fullname>Amazon
  Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch configuration
  API to create, configure, and manage Elasticsearch domains.</p> <p>The endpoint
  for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com.
  For example, es.us-east-1.amazonaws.com. For a current list of supported regions
  and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\"
  target=\"_blank\">Regions and Endpoints</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:28:\"Amazon
  Elasticsearch Service\";s:7:\"version\";s:10:\"2015-01-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:86:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/es-2015-01-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:2:\"es\";}"
host: es.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":153:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:11:\"description\";s:277:\"The
  Amazon Resource Name (ARN) of the Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\"
  target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and
  Access Management</i> for more information.\";s:4:\"type\";s:6:\"string\";}s:20:\"AccessPoliciesStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:114:\"The
  configured access rules for the domain's document and search endpoints, and the
  current status of those rules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:346:\"The
  access policy configured for the Elasticsearch domain. Access policies may be resource-based,
  IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\"
  target=\"_blank\"> Configuring Access Policies</a>for more information.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:136:\"The
  status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code>
  for the status information that's included. \";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:14:\"AddTagsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:144:\"Container
  for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags
  that you want to attach to the Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/ARN\";s:11:\"description\";s:65:\"
  Specify the <code>ARN</code> for which you want to add the tags.\";}s:7:\"TagList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:78:\"
  List of <code>Tag</code> that need to be added for the Elasticsearch domain. \";}}s:8:\"required\";a:2:{i:0;s:3:\"ARN\";i:1;s:7:\"TagList\";}s:4:\"type\";s:6:\"object\";}s:15:\"AdditionalLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"
  List of limits that are specific to a given InstanceType and for each of it's <code>
  <a>InstanceRole</a> </code> . \";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"LimitName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LimitName\";s:11:\"description\";s:637:\"
  Name of Additional Limit is specific to a given InstanceType and for each of it's
  <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/>
  <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in
  Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a>
  </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li>
  This attribute will be present in Data node only to specify how much data nodes
  of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need
  any master nodes to govern them. </ul> \";}s:11:\"LimitValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/LimitValueList\";s:11:\"description\";s:67:\"
  Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . \";}}s:4:\"type\";s:6:\"object\";}s:19:\"AdditionalLimitList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AdditionalLimit\";}s:4:\"type\";s:5:\"array\";}s:15:\"AdvancedOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:941:\"<p>
  Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>.
  Currently, the following advanced options are available:</p> <ul> <li>Option to
  allow references to indices in an HTTP request body. Must be <code>false</code>
  when configuring access to individual sub-resources. By default, the value is <code>true</code>.
  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\"
  target=\"_blank\">Configuration Advanced Options</a> for more information.</li>
  <li>Option to specify the percentage of heap space that is allocated to field data.
  By default, this setting is unbounded.</li> </ul> <p>For more information, see <a
  href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring
  Advanced Options</a>.</p>\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:21:\"AdvancedOptionsStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:918:\"<p>
  Status of the advanced options for the specified Elasticsearch domain. Currently,
  the following advanced options are available:</p> <ul> <li>Option to allow references
  to indices in an HTTP request body. Must be <code>false</code> when configuring
  access to individual sub-resources. By default, the value is <code>true</code>.
  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\"
  target=\"_blank\">Configuration Advanced Options</a> for more information.</li>
  <li>Option to specify the percentage of heap space that is allocated to field data.
  By default, this setting is unbounded.</li> </ul> <p>For more information, see <a
  href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring
  Advanced Options</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AdvancedOptions\";s:11:\"description\";s:81:\"
  Specifies the status of advanced options for the specified Elasticsearch domain.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:111:\"
  Specifies the status of <code>OptionStatus</code> for advanced options for the specified
  Elasticsearch domain.\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:13:\"BaseException\";O:8:\"stdClass\":0:{}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:47:\"CancelElasticsearchServiceSoftwareUpdateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:208:\"Container
  for the parameters to the <code><a>CancelElasticsearchServiceSoftwareUpdate</a></code>
  operation. Specifies the name of the Elasticsearch domain that you wish to cancel
  a service software update on.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:83:\"The
  name of the domain that you want to stop the latest service software update on.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:48:\"CancelElasticsearchServiceSoftwareUpdateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  result of a <code>CancelElasticsearchServiceSoftwareUpdate</code> operation. Contains
  the status of the update.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"ServiceSoftwareOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ServiceSoftwareOptions\";s:11:\"description\";s:64:\"The
  current status of the Elasticsearch service software update.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CloudWatchLogsLogGroupArn\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"ARN
  of the Cloudwatch log group to which log needs to be published.\";s:4:\"type\";s:6:\"string\";}s:14:\"CognitoOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:271:\"Options
  to specify the Cognito user and identity pools for Kibana authentication. For more
  information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\"
  target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:65:\"Specifies
  the option to enable Cognito for Kibana authentication.\";}s:14:\"IdentityPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/IdentityPoolId\";s:11:\"description\";s:65:\"Specifies
  the Cognito identity pool ID for Kibana authentication.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:95:\"Specifies
  the role ARN that provides Elasticsearch permissions for accessing Cognito resources.\";}s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/UserPoolId\";s:11:\"description\";s:61:\"Specifies
  the Cognito user pool ID for Kibana authentication.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CognitoOptionsStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Status
  of the Cognito options for the specified Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CognitoOptions\";s:11:\"description\";s:69:\"Specifies
  the Cognito options for the specified Elasticsearch domain.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:83:\"Specifies
  the status of the Cognito options for the specified Elasticsearch domain.\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:35:\"CompatibleElasticsearchVersionsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CompatibleVersionsMap\";}s:4:\"type\";s:5:\"array\";}s:21:\"CompatibleVersionsMap\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"
  A map from an <code> <a>ElasticsearchVersion</a> </code> to a list of compatible
  <code> <a>ElasticsearchVersion</a> </code> s to which the domain can be upgraded.
  \";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"SourceVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchVersionString\";s:11:\"description\";s:58:\"The
  current version of Elasticsearch on which a domain is.\";}s:14:\"TargetVersions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ElasticsearchVersionList\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateElasticsearchDomainRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"AccessPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:46:\"
  IAM access policy as a JSON-formatted string.\";}s:15:\"AdvancedOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AdvancedOptions\";s:11:\"description\";s:416:\"
  Option to allow references to indices in an HTTP request body. Must be <code>false</code>
  when configuring access to individual sub-resources. By default, the value is <code>true</code>.
  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\"
  target=\"_blank\">Configuration Advanced Options</a> for more information.\";}s:14:\"CognitoOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CognitoOptions\";s:11:\"description\";s:271:\"Options
  to specify the Cognito user and identity pools for Kibana authentication. For more
  information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\"
  target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:272:\"The
  name of the Elasticsearch domain that you are creating. Domain names are unique
  across the domains owned by an account within an AWS region. Domain names must start
  with a letter or number and can contain the following characters: a-z (lowercase),
  0-9, and - (hyphen).\";}s:10:\"EBSOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EBSOptions\";s:11:\"description\";s:81:\"Options
  to enable, disable and specify the type and size of EBS storage volumes. \";}s:26:\"ElasticsearchClusterConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchClusterConfig\";s:11:\"description\";s:126:\"Configuration
  options for an Elasticsearch domain. Specifies the instance type and number of instances
  in the domain cluster. \";}s:20:\"ElasticsearchVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchVersionString\";s:11:\"description\";s:351:\"String
  of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\".
  For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\"
  target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch
  Service Developer Guide</i>.\";}s:23:\"EncryptionAtRestOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionAtRestOptions\";s:11:\"description\";s:41:\"Specifies
  the Encryption At Rest Options.\";}s:20:\"LogPublishingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LogPublishingOptions\";s:11:\"description\";s:135:\"Map
  of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options
  to publish a given type of Elasticsearch log.\";}s:27:\"NodeToNodeEncryptionOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/NodeToNodeEncryptionOptions\";s:11:\"description\";s:42:\"Specifies
  the NodeToNodeEncryptionOptions.\";}s:15:\"SnapshotOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SnapshotOptions\";s:11:\"description\";s:94:\"Option
  to set time, in UTC format, of the daily automated snapshot. Default value is 0
  hours. \";}s:10:\"VPCOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/VPCOptions\";s:11:\"description\";s:303:\"Options
  to specify the subnets and security groups for VPC endpoint. For more information,
  see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc\"
  target=\"_blank\">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch
  Service Domains</i>\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreateElasticsearchDomainResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"The
  result of a <code>CreateElasticsearchDomain</code> operation. Contains the status
  of the newly created Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DomainStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchDomainStatus\";s:11:\"description\";s:54:\"The
  status of the newly created Elasticsearch domain. \";}}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteElasticsearchDomainRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"Container
  for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation.
  Specifies the name of the Elasticsearch domain that you want to delete.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"DeleteElasticsearchDomainResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"The
  result of a <code>DeleteElasticsearchDomain</code> request. Contains the status
  of the pending deletion, or no status if the domain and all of its resources have
  been deleted.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DomainStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchDomainStatus\";s:11:\"description\";s:53:\"The
  status of the Elasticsearch domain being deleted.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DeploymentCloseDateTimeStamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"DeploymentStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:14:\"PENDING_UPDATE\";i:1;s:11:\"IN_PROGRESS\";i:2;s:9:\"COMPLETED\";i:3;s:12:\"NOT_ELIGIBLE\";i:4;s:8:\"ELIGIBLE\";}s:4:\"type\";s:6:\"string\";}s:40:\"DescribeElasticsearchDomainConfigRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"
  Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code>
  operation. Specifies the domain name for which you want configuration information.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:41:\"DescribeElasticsearchDomainConfigResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:135:\"The
  result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the
  configuration information of the requested domain.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DomainConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchDomainConfig\";s:11:\"description\";s:116:\"The
  configuration information of the domain requested in the <code>DescribeElasticsearchDomainConfig</code>
  request.\";}}s:8:\"required\";a:1:{i:0;s:12:\"DomainConfig\";}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeElasticsearchDomainRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Container
  for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeElasticsearchDomainResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:125:\"The
  result of a <code>DescribeElasticsearchDomain</code> request. Contains the status
  of the domain specified in the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DomainStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchDomainStatus\";s:11:\"description\";s:47:\"The
  current status of the Elasticsearch domain.\";}}s:8:\"required\";a:1:{i:0;s:12:\"DomainStatus\";}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeElasticsearchDomainsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:164:\"Container
  for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation.
  By default, the API returns the status of all Elasticsearch domains.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DomainNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainNameList\";s:11:\"description\";s:57:\"The
  Elasticsearch domains for which you want information.\";}}s:8:\"required\";a:1:{i:0;s:11:\"DomainNames\";}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeElasticsearchDomainsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:148:\"The
  result of a <code>DescribeElasticsearchDomains</code> request. Contains the status
  of the specified domains or all domains owned by the account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"DomainStatusList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ElasticsearchDomainStatusList\";s:11:\"description\";s:93:\"The
  status of the domains requested in the <code>DescribeElasticsearchDomains</code>
  request.\";}}s:8:\"required\";a:1:{i:0;s:16:\"DomainStatusList\";}s:4:\"type\";s:6:\"object\";}s:46:\"DescribeElasticsearchInstanceTypeLimitsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"
  Container for the parameters to <code> <a>DescribeElasticsearchInstanceTypeLimits</a>
  </code> operation. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:47:\"DescribeElasticsearchInstanceTypeLimitsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"
  Container for the parameters received from <code> <a>DescribeElasticsearchInstanceTypeLimits</a>
  </code> operation. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"LimitsByRole\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LimitsByRole\";}}s:4:\"type\";s:6:\"object\";}s:53:\"DescribeReservedElasticsearchInstanceOfferingsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Container
  for parameters to <code>DescribeReservedElasticsearchInstanceOfferings</code>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:54:\"DescribeReservedElasticsearchInstanceOfferingsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Container
  for results from <code>DescribeReservedElasticsearchInstanceOfferings</code>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}s:38:\"ReservedElasticsearchInstanceOfferings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:55:\"#/definitions/ReservedElasticsearchInstanceOfferingList\";s:11:\"description\";s:49:\"List
  of reserved Elasticsearch instance offerings\";}}s:4:\"type\";s:6:\"object\";}s:45:\"DescribeReservedElasticsearchInstancesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Container
  for parameters to <code>DescribeReservedElasticsearchInstances</code>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:46:\"DescribeReservedElasticsearchInstancesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Container
  for results from <code>DescribeReservedElasticsearchInstances</code>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}s:30:\"ReservedElasticsearchInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/ReservedElasticsearchInstanceList\";s:11:\"description\";s:41:\"List
  of reserved Elasticsearch instances.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DisabledOperationException\";O:8:\"stdClass\":0:{}s:8:\"DomainId\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Unique
  identifier for an Elasticsearch domain.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"DomainInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:39:\"
  Specifies the <code>DomainName</code>.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DomainInfoList\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"
  Contains the list of Elasticsearch domain information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainInfo\";}s:4:\"type\";s:5:\"array\";}s:10:\"DomainName\";O:8:\"stdClass\":5:{s:11:\"description\";s:244:\"The
  name of an Elasticsearch domain. Domain names are unique across the domains owned
  by an account within an AWS region. Domain names start with a letter or number and
  can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).\";s:9:\"maxLength\";i:28;s:9:\"minLength\";i:3;s:7:\"pattern\";s:16:\"[a-z][a-z0-9\\-]+\";s:4:\"type\";s:6:\"string\";}s:14:\"DomainNameList\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  list of Elasticsearch domain names.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:4:\"type\";s:5:\"array\";}s:6:\"Double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"EBSOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:295:\"Options
  to enable, disable, and specify the properties of EBS storage volumes. For more
  information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\"
  target=\"_blank\"> Configuring EBS-based Storage</a>.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"EBSEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:47:\"Specifies
  whether EBS-based storage is enabled.\";}s:4:\"Iops\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerClass\";s:11:\"description\";s:59:\"Specifies
  the IOPD for a Provisioned IOPS EBS volume (SSD).\";}s:10:\"VolumeSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerClass\";s:11:\"description\";s:46:\"
  Integer to specify the size of an EBS volume.\";}s:10:\"VolumeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/VolumeType\";s:11:\"description\";s:49:\"
  Specifies the volume type for EBS-based storage.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EBSOptionsStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"
  Status of the EBS options for the specified Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EBSOptions\";s:11:\"description\";s:66:\"
  Specifies the EBS options for the specified Elasticsearch domain.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:80:\"
  Specifies the status of the EBS options for the specified Elasticsearch domain.\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:23:\"ESPartitionInstanceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:40:{i:0;s:23:\"m3.medium.elasticsearch\";i:1;s:22:\"m3.large.elasticsearch\";i:2;s:23:\"m3.xlarge.elasticsearch\";i:3;s:24:\"m3.2xlarge.elasticsearch\";i:4;s:22:\"m4.large.elasticsearch\";i:5;s:23:\"m4.xlarge.elasticsearch\";i:6;s:24:\"m4.2xlarge.elasticsearch\";i:7;s:24:\"m4.4xlarge.elasticsearch\";i:8;s:25:\"m4.10xlarge.elasticsearch\";i:9;s:22:\"t2.micro.elasticsearch\";i:10;s:22:\"t2.small.elasticsearch\";i:11;s:23:\"t2.medium.elasticsearch\";i:12;s:22:\"r3.large.elasticsearch\";i:13;s:23:\"r3.xlarge.elasticsearch\";i:14;s:24:\"r3.2xlarge.elasticsearch\";i:15;s:24:\"r3.4xlarge.elasticsearch\";i:16;s:24:\"r3.8xlarge.elasticsearch\";i:17;s:23:\"i2.xlarge.elasticsearch\";i:18;s:24:\"i2.2xlarge.elasticsearch\";i:19;s:23:\"d2.xlarge.elasticsearch\";i:20;s:24:\"d2.2xlarge.elasticsearch\";i:21;s:24:\"d2.4xlarge.elasticsearch\";i:22;s:24:\"d2.8xlarge.elasticsearch\";i:23;s:22:\"c4.large.elasticsearch\";i:24;s:23:\"c4.xlarge.elasticsearch\";i:25;s:24:\"c4.2xlarge.elasticsearch\";i:26;s:24:\"c4.4xlarge.elasticsearch\";i:27;s:24:\"c4.8xlarge.elasticsearch\";i:28;s:22:\"r4.large.elasticsearch\";i:29;s:23:\"r4.xlarge.elasticsearch\";i:30;s:24:\"r4.2xlarge.elasticsearch\";i:31;s:24:\"r4.4xlarge.elasticsearch\";i:32;s:24:\"r4.8xlarge.elasticsearch\";i:33;s:25:\"r4.16xlarge.elasticsearch\";i:34;s:22:\"i3.large.elasticsearch\";i:35;s:23:\"i3.xlarge.elasticsearch\";i:36;s:24:\"i3.2xlarge.elasticsearch\";i:37;s:24:\"i3.4xlarge.elasticsearch\";i:38;s:24:\"i3.8xlarge.elasticsearch\";i:39;s:25:\"i3.16xlarge.elasticsearch\";}s:4:\"type\";s:6:\"string\";}s:26:\"ElasticsearchClusterConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Specifies
  the configuration for the domain cluster, such as the type and number of instances.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"DedicatedMasterCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerClass\";s:11:\"description\";s:79:\"Total
  number of dedicated master nodes, active and on standby, for the cluster.\";}s:22:\"DedicatedMasterEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:287:\"A
  boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes\"
  target=\"_blank\">About Dedicated Master Nodes</a> for more information.\";}s:19:\"DedicatedMasterType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ESPartitionInstanceType\";s:11:\"description\";s:46:\"The
  instance type for a dedicated master node.\";}s:13:\"InstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerClass\";s:11:\"description\";s:56:\"The
  number of instances in the specified domain cluster.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ESPartitionInstanceType\";s:11:\"description\";s:47:\"The
  instance type for an Elasticsearch cluster.\";}s:20:\"ZoneAwarenessEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:263:\"A
  boolean value to indicate whether zone awareness is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness\"
  target=\"_blank\">About Zone Awareness</a> for more information.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ElasticsearchClusterConfigStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"
  Specifies the configuration status for the specified Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchClusterConfig\";s:11:\"description\";s:76:\"
  Specifies the cluster configuration for the specified Elasticsearch domain.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:82:\"
  Specifies the status of the configuration for the specified Elasticsearch domain.\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:25:\"ElasticsearchDomainConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  configuration of an Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:14:\"AccessPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AccessPoliciesStatus\";s:11:\"description\";s:45:\"IAM
  access policy as a JSON-formatted string.\";}s:15:\"AdvancedOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AdvancedOptionsStatus\";s:11:\"description\";s:285:\"Specifies
  the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\"
  target=\"_blank\">Configuring Advanced Options</a> for more information.\";}s:14:\"CognitoOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CognitoOptionsStatus\";s:11:\"description\";s:247:\"The
  <code>CognitoOptions</code> for the specified domain. For more information, see
  <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\"
  target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.\";}s:10:\"EBSOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EBSOptionsStatus\";s:11:\"description\";s:67:\"Specifies
  the <code>EBSOptions</code> for the Elasticsearch domain.\";}s:26:\"ElasticsearchClusterConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ElasticsearchClusterConfigStatus\";s:11:\"description\";s:83:\"Specifies
  the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.\";}s:20:\"ElasticsearchVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchVersionStatus\";s:11:\"description\";s:69:\"String
  of format X.Y to specify version for the Elasticsearch domain.\";}s:23:\"EncryptionAtRestOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/EncryptionAtRestOptionsStatus\";s:11:\"description\";s:80:\"Specifies
  the <code>EncryptionAtRestOptions</code> for the Elasticsearch domain.\";}s:20:\"LogPublishingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/LogPublishingOptionsStatus\";s:11:\"description\";s:44:\"Log
  publishing options for the given domain.\";}s:27:\"NodeToNodeEncryptionOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/NodeToNodeEncryptionOptionsStatus\";s:11:\"description\";s:84:\"Specifies
  the <code>NodeToNodeEncryptionOptions</code> for the Elasticsearch domain.\";}s:15:\"SnapshotOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/SnapshotOptionsStatus\";s:11:\"description\";s:72:\"Specifies
  the <code>SnapshotOptions</code> for the Elasticsearch domain.\";}s:10:\"VPCOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/VPCDerivedInfoStatus\";s:11:\"description\";s:248:\"The
  <code>VPCOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\"
  target=\"_blank\">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ElasticsearchDomainStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  current status of an Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/ARN\";s:11:\"description\";s:276:\"The
  Amazon resource name (ARN) of an Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\"
  target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and
  Access Management</i> for more information.\";}s:14:\"AccessPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:46:\"
  IAM access policy as a JSON-formatted string.\";}s:15:\"AdvancedOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AdvancedOptions\";s:11:\"description\";s:56:\"Specifies
  the status of the <code>AdvancedOptions</code>\";}s:14:\"CognitoOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CognitoOptions\";s:11:\"description\";s:247:\"The
  <code>CognitoOptions</code> for the specified domain. For more information, see
  <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\"
  target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.\";}s:7:\"Created\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:161:\"The
  domain creation status. <code>True</code> if the creation of an Elasticsearch domain
  is complete. <code>False</code> if domain creation is still in progress.\";}s:7:\"Deleted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:278:\"The
  domain deletion status. <code>True</code> if a delete request has been received
  for the domain but resource cleanup is still in progress. <code>False</code> if
  the domain has not been deleted. Once domain deletion is complete, the status of
  the domain is no longer returned.\";}s:8:\"DomainId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DomainId\";s:11:\"description\";s:61:\"The
  unique identifier for the specified Elasticsearch domain.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:244:\"The
  name of an Elasticsearch domain. Domain names are unique across the domains owned
  by an account within an AWS region. Domain names start with a letter or number and
  can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).\";}s:10:\"EBSOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EBSOptions\";s:11:\"description\";s:268:\"The
  <code>EBSOptions</code> for the specified domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\"
  target=\"_blank\">Configuring EBS-based Storage</a> for more information.\";}s:26:\"ElasticsearchClusterConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchClusterConfig\";s:11:\"description\";s:55:\"The
  type and number of instances in the domain cluster.\";}s:20:\"ElasticsearchVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchVersionString\";}s:23:\"EncryptionAtRestOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionAtRestOptions\";s:11:\"description\";s:66:\"
  Specifies the status of the <code>EncryptionAtRestOptions</code>.\";}s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServiceUrl\";s:11:\"description\";s:83:\"The
  Elasticsearch domain endpoint that you use to submit index and search requests.\";}s:9:\"Endpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EndpointsMap\";s:11:\"description\";s:215:\"Map
  containing the Elasticsearch domain endpoints used to submit index and search requests.
  Example <code>key, value</code>: <code>'vpc','vpc-endpoint-h2dsd34efgyghrtguk5gt6j2foh4.us-east-1.es.amazonaws.com'</code>.\";}s:20:\"LogPublishingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LogPublishingOptions\";s:11:\"description\";s:44:\"Log
  publishing options for the given domain.\";}s:27:\"NodeToNodeEncryptionOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/NodeToNodeEncryptionOptions\";s:11:\"description\";s:69:\"Specifies
  the status of the <code>NodeToNodeEncryptionOptions</code>.\";}s:10:\"Processing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:191:\"The
  status of the Elasticsearch domain configuration. <code>True</code> if Amazon Elasticsearch
  Service is processing configuration changes. <code>False</code> if the configuration
  is active.\";}s:22:\"ServiceSoftwareOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ServiceSoftwareOptions\";s:11:\"description\";s:66:\"The
  current status of the Elasticsearch domain's service software.\";}s:15:\"SnapshotOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SnapshotOptions\";s:11:\"description\";s:56:\"Specifies
  the status of the <code>SnapshotOptions</code>\";}s:17:\"UpgradeProcessing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:188:\"The
  status of an Elasticsearch domain version upgrade. <code>True</code> if Amazon Elasticsearch
  Service is undergoing a version upgrade. <code>False</code> if the configuration
  is active.\";}s:10:\"VPCOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VPCDerivedInfo\";s:11:\"description\";s:248:\"The
  <code>VPCOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\"
  target=\"_blank\">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.\";}}s:8:\"required\";a:4:{i:0;s:8:\"DomainId\";i:1;s:10:\"DomainName\";i:2;s:3:\"ARN\";i:3;s:26:\"ElasticsearchClusterConfig\";}s:4:\"type\";s:6:\"object\";}s:29:\"ElasticsearchDomainStatusList\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"A
  list that contains the status of each requested Elasticsearch domain.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchDomainStatus\";}s:4:\"type\";s:5:\"array\";}s:29:\"ElasticsearchInstanceTypeList\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"
  List of instance types supported by Amazon Elasticsearch service. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ESPartitionInstanceType\";}s:4:\"type\";s:5:\"array\";}s:24:\"ElasticsearchVersionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"List
  of supported elastic search versions. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchVersionString\";}s:4:\"type\";s:5:\"array\";}s:26:\"ElasticsearchVersionStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"
  Status of the Elasticsearch version options for the specified Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchVersionString\";s:11:\"description\";s:76:\"
  Specifies the Elasticsearch version for the specified Elasticsearch domain.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:98:\"
  Specifies the status of the Elasticsearch version options for the specified Elasticsearch
  domain.\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:26:\"ElasticsearchVersionString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"EncryptionAtRestOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Specifies
  the Encryption At Rest Options.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:50:\"Specifies
  the option to enable Encryption At Rest.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KmsKeyId\";s:11:\"description\";s:57:\"
  Specifies the KMS Key ID for Encryption At Rest options.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"EncryptionAtRestOptionsStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"
  Status of the Encryption At Rest options for the specified Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionAtRestOptions\";s:11:\"description\";s:81:\"
  Specifies the Encryption At Rest options for the specified Elasticsearch domain.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:95:\"
  Specifies the status of the Encryption At Rest options for the specified Elasticsearch
  domain.\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:12:\"EndpointsMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ServiceUrl\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"GUID\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:70:\"\\p{XDigit}{8}-\\p{XDigit}{4}-\\p{XDigit}{4}-\\p{XDigit}{4}-\\p{XDigit}{12}\";s:4:\"type\";s:6:\"string\";}s:41:\"GetCompatibleElasticsearchVersionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"
  Container for request parameters to <code> <a>GetCompatibleElasticsearchVersions</a>
  </code> operation. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:42:\"GetCompatibleElasticsearchVersionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"
  Container for response returned by <code> <a>GetCompatibleElasticsearchVersions</a>
  </code> operation. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:31:\"CompatibleElasticsearchVersions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/CompatibleElasticsearchVersionsList\";s:11:\"description\";s:136:\"
  A map of compatible Elasticsearch versions returned as part of the <code> <a>GetCompatibleElasticsearchVersions</a>
  </code> operation. \";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetUpgradeHistoryRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"
  Container for request parameters to <code> <a>GetUpgradeHistory</a> </code> operation.
  \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GetUpgradeHistoryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"
  Container for response returned by <code> <a>GetUpgradeHistory</a> </code> operation.
  \";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:91:\"Pagination
  token that needs to be supplied to the next call to get the next page of results\";}s:16:\"UpgradeHistories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UpgradeHistoryList\";s:11:\"description\";s:213:\"
  A list of <code> <a>UpgradeHistory</a> </code> objects corresponding to each Upgrade
  or Upgrade Eligibility Check performed on a domain returned as part of <code> <a>GetUpgradeHistoryResponse</a>
  </code> object. \";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetUpgradeStatusRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"
  Container for request parameters to <code> <a>GetUpgradeStatus</a> </code> operation.
  \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"GetUpgradeStatusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"
  Container for response returned by <code> <a>GetUpgradeStatus</a> </code> operation.
  \";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"StepStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UpgradeStatus\";s:11:\"description\";s:272:\"
  One of 4 statuses that a step can go through returned as part of the <code> <a>GetUpgradeStatusResponse</a>
  </code> object. The status can take one of the following values: <ul> <li>In Progress</li>
  <li>Succeeded</li> <li>Succeeded with Issues</li> <li>Failed</li> </ul> \";}s:11:\"UpgradeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UpgradeName\";s:11:\"description\";s:42:\"A
  string that describes the update briefly\";}s:11:\"UpgradeStep\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UpgradeStep\";s:11:\"description\";s:157:\"
  Represents one of 3 steps that an Upgrade or Upgrade Eligibility Check does through:
  <ul> <li>PreUpgradeCheck</li> <li>Snapshot</li> <li>Upgrade</li> </ul> \";}}s:4:\"type\";s:6:\"object\";}s:14:\"IdentityPoolId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:55;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"[\\w-]+:[0-9a-f-]+\";s:4:\"type\";s:6:\"string\";}s:13:\"InstanceCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Specifies
  the number of EC2 instances in the Elasticsearch domain.\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:19:\"InstanceCountLimits\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"
  InstanceCountLimits represents the limits on number of instances that be created
  in Amazon Elasticsearch for given InstanceType. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"MaximumInstanceCount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/MaximumInstanceCount\";}s:20:\"MinimumInstanceCount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/MinimumInstanceCount\";}}s:4:\"type\";s:6:\"object\";}s:14:\"InstanceLimits\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"InstanceLimits
  represents the list of instance related attributes that are available for given
  InstanceType. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"InstanceCountLimits\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/InstanceCountLimits\";}}s:4:\"type\";s:6:\"object\";}s:12:\"InstanceRole\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"IntegerClass\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"InternalException\";O:8:\"stdClass\":0:{}s:20:\"InvalidTypeException\";O:8:\"stdClass\":0:{}s:5:\"Issue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Issues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Issue\";}s:4:\"type\";s:5:\"array\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:500;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":0:{}s:9:\"LimitName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"LimitValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"LimitValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LimitValue\";}s:4:\"type\";s:5:\"array\";}s:6:\"Limits\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"
  Limits for given InstanceType and for each of it's role. <br/> Limits contains following
  <code> <a>StorageTypes,</a> </code> <code> <a>InstanceLimits</a> </code> and <code>
  <a>AdditionalLimits</a> </code> \";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"AdditionalLimits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AdditionalLimitList\";s:11:\"description\";s:127:\"
  List of additional limits that are specific to a given InstanceType and for each
  of it's <code> <a>InstanceRole</a> </code> . \";}s:14:\"InstanceLimits\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InstanceLimits\";}s:12:\"StorageTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StorageTypeList\";s:11:\"description\";s:115:\"StorageType
  represents the list of storage related types and attributes that are available for
  given InstanceType. \";}}s:4:\"type\";s:6:\"object\";}s:12:\"LimitsByRole\";O:8:\"stdClass\":3:{s:11:\"description\";s:279:\"
  Map of Role of the Instance and Limits that are applicable. Role performed by given
  Instance in Elasticsearch can be one of the following: <ul> <li>Data: If the given
  InstanceType is used as Data node</li> <li>Master: If the given InstanceType is
  used as Master node</li> </ul> \";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/InstanceRole\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Limits\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:23:\"ListDomainNamesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch
  domains owned by this account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DomainNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainInfoList\";s:11:\"description\";s:35:\"List
  of Elasticsearch domain names.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"ListElasticsearchInstanceTypesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"
  Container for the parameters to the <code> <a>ListElasticsearchInstanceTypes</a>
  </code> operation. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:38:\"ListElasticsearchInstanceTypesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"
  Container for the parameters returned by <code> <a>ListElasticsearchInstanceTypes</a>
  </code> operation. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"ElasticsearchInstanceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ElasticsearchInstanceTypeList\";s:11:\"description\";s:119:\"
  List of instance types supported by Amazon Elasticsearch service for given <code>
  <a>ElasticsearchVersion</a> </code> \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:164:\"In
  case if there are more results available NextToken would be present, make further
  request to the same API with received NextToken to paginate remaining results. \";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListElasticsearchVersionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:402:\"<p>
  Container for the parameters to the <code> <a>ListElasticsearchVersions</a> </code>
  operation. <p> Use <code> <a>MaxResults</a> </code> to control the maximum number
  of results to retrieve in a single call. </p> <p> Use <code> <a>NextToken</a> </code>
  in response to retrieve more results. If the received response does not contain
  a NextToken, then there are no more results to retrieve. </p> </p>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"ListElasticsearchVersionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"
  Container for the parameters for response received from <code> <a>ListElasticsearchVersions</a>
  </code> operation. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"ElasticsearchVersions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ElasticsearchVersionList\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListTagsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"Container
  for the parameters to the <code><a>ListTags</a></code> operation. Specify the <code>ARN</code>
  for the Elasticsearch domain to which the tags are attached that you want to view
  are attached.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"ListTagsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  result of a <code>ListTags</code> operation. Contains tags for all requested Elasticsearch
  domains.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TagList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:65:\"
  List of <code>Tag</code> for the requested Elasticsearch domain.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"LogPublishingOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:284:\"Log
  Publishing option that is set for given domain. <br/>Attributes and their details:
  <ul> <li>CloudWatchLogsLogGroupArn: ARN of the Cloudwatch log group to which log
  needs to be published.</li> <li>Enabled: Whether the log publishing for given log
  type is enabled or not</li> </ul> \";s:10:\"properties\";O:8:\"stdClass\":2:{s:25:\"CloudWatchLogsLogGroupArn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/CloudWatchLogsLogGroupArn\";}s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:65:\"
  Specifies whether given log publishing option is enabled or not.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LogPublishingOptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LogType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LogPublishingOption\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:26:\"LogPublishingOptionsStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  configured log publishing options for the domain and their current status.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LogPublishingOptions\";s:11:\"description\";s:67:\"The
  log publishing options configured for the Elasticsearch domain.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:145:\"The
  status of the log publishing options for the Elasticsearch domain. See <code>OptionStatus</code>
  for the status information that's included. \";}}s:4:\"type\";s:6:\"object\";}s:7:\"LogType\";O:8:\"stdClass\":3:{s:11:\"description\";s:532:\"Type
  of Log File, it can be one of the following: <ul> <li>INDEX_SLOW_LOGS: Index slow
  logs contain insert requests that took more time than configured index query log
  threshold to execute.</li> <li>SEARCH_SLOW_LOGS: Search slow logs contain search
  queries that took more time than configured search query log threshold to execute.</li>
  <li>ES_APPLICATION_LOGS: Elasticsearch application logs contain information about
  errors and warnings raised during the operation of the service and can be useful
  for troubleshooting.</li> </ul> \";s:4:\"enum\";a:3:{i:0;s:15:\"INDEX_SLOW_LOGS\";i:1;s:16:\"SEARCH_SLOW_LOGS\";i:2;s:19:\"ES_APPLICATION_LOGS\";}s:4:\"type\";s:6:\"string\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"
  Set this value to limit the number of results returned. \";s:7:\"maximum\";i:100;s:4:\"type\";s:7:\"integer\";}s:20:\"MaximumInstanceCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"
  Maximum number of Instances that can be instantiated for given InstanceType. \";s:4:\"type\";s:7:\"integer\";}s:20:\"MinimumInstanceCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"
  Minimum number of Instances that can be instantiated for given InstanceType. \";s:4:\"type\";s:7:\"integer\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"
  Paginated APIs accepts NextToken input to returns next page results and provides
  a NextToken output in the response which can be used by the client to retrieve more
  results. \";s:4:\"type\";s:6:\"string\";}s:27:\"NodeToNodeEncryptionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Specifies
  the node-to-node encryption options.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:47:\"Specify
  true to enable node-to-node encryption.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"NodeToNodeEncryptionOptionsStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"Status
  of the node-to-node encryption options for the specified Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/NodeToNodeEncryptionOptions\";s:11:\"description\";s:85:\"Specifies
  the node-to-node encryption options for the specified Elasticsearch domain.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:99:\"Specifies
  the status of the node-to-node encryption options for the specified Elasticsearch
  domain.\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:11:\"OptionState\";O:8:\"stdClass\":3:{s:11:\"description\";s:224:\"<p>The
  state of a requested change. One of the following:</p> <ul> <li>Processing: The
  request change is still in-process.</li> <li>Active: The request change is processed
  and deployed to the Elasticsearch domain.</li> </ul>\";s:4:\"enum\";a:3:{i:0;s:22:\"RequiresIndexDocuments\";i:1;s:10:\"Processing\";i:2;s:6:\"Active\";}s:4:\"type\";s:6:\"string\";}s:12:\"OptionStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Provides
  the current status of the entity.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UpdateTimestamp\";s:11:\"description\";s:55:\"Timestamp
  which tells the creation date for the entity.\";}s:15:\"PendingDeletion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:60:\"Indicates
  whether the Elasticsearch domain is being deleted.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OptionState\";s:11:\"description\";s:67:\"Provides
  the <code>OptionState</code> for the Elasticsearch domain.\";}s:10:\"UpdateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UpdateTimestamp\";s:11:\"description\";s:59:\"Timestamp
  which tells the last updated time for the entity.\";}s:13:\"UpdateVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/UIntValue\";s:11:\"description\";s:44:\"Specifies
  the latest version for the entity.\";}}s:8:\"required\";a:3:{i:0;s:12:\"CreationDate\";i:1;s:10:\"UpdateDate\";i:2;s:5:\"State\";}s:4:\"type\";s:6:\"object\";}s:14:\"PolicyDocument\";O:8:\"stdClass\":2:{s:11:\"description\";s:400:\"Access
  policy rules for an Elasticsearch domain service endpoints. For more information,
  see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\"
  target=\"_blank\">Configuring Access Policies</a> in the <i>Amazon Elasticsearch
  Service Developer Guide</i>. The maximum size of a policy document is 100 KB.\";s:4:\"type\";s:6:\"string\";}s:52:\"PurchaseReservedElasticsearchInstanceOfferingRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"Container
  for parameters to <code>PurchaseReservedElasticsearchInstanceOffering</code>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"InstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InstanceCount\";s:11:\"description\";s:49:\"The
  number of Elasticsearch instances to reserve.\";}s:15:\"ReservationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ReservationToken\";s:11:\"description\";s:58:\"A
  customer-specified identifier to track this reservation.\";}s:39:\"ReservedElasticsearchInstanceOfferingId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/GUID\";s:11:\"description\";s:67:\"The
  ID of the reserved Elasticsearch instance offering to purchase.\";}}s:8:\"required\";a:2:{i:0;s:39:\"ReservedElasticsearchInstanceOfferingId\";i:1;s:15:\"ReservationName\";}s:4:\"type\";s:6:\"object\";}s:53:\"PurchaseReservedElasticsearchInstanceOfferingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Represents
  the output of a <code>PurchaseReservedElasticsearchInstanceOffering</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ReservationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ReservationToken\";s:11:\"description\";s:65:\"The
  customer-specified identifier used to track this reservation.\";}s:31:\"ReservedElasticsearchInstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/GUID\";s:11:\"description\";s:67:\"Details
  of the reserved Elasticsearch instance which was purchased.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RecurringCharge\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"Contains
  the specific price and frequency of a recurring charges for a reserved Elasticsearch
  instance, or for a reserved Elasticsearch instance offering.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"RecurringChargeAmount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:44:\"The
  monetary amount of the recurring charge.\";}s:24:\"RecurringChargeFrequency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  frequency of the recurring charge.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"RecurringChargeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RecurringCharge\";}s:4:\"type\";s:5:\"array\";}s:17:\"RemoveTagsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:200:\"Container
  for the parameters to the <code><a>RemoveTags</a></code> operation. Specify the
  <code>ARN</code> for the Elasticsearch domain from which you want to remove the
  specified <code>TagKey</code>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/ARN\";s:11:\"description\";s:109:\"Specifies
  the <code>ARN</code> for the Elasticsearch domain from which you want to delete
  the specified tags.\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:94:\"Specifies
  the <code>TagKey</code> list which you want to remove from the Elasticsearch domain.\";}}s:8:\"required\";a:2:{i:0;s:3:\"ARN\";i:1;s:7:\"TagKeys\";}s:4:\"type\";s:6:\"object\";}s:16:\"ReservationToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:5;s:4:\"type\";s:6:\"string\";}s:29:\"ReservedElasticsearchInstance\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Details
  of a reserved Elasticsearch instance.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:67:\"The
  currency code for the reserved Elasticsearch instance offering.\";}s:8:\"Duration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:75:\"The
  duration, in seconds, for which the Elasticsearch instance is reserved.\";}s:26:\"ElasticsearchInstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:62:\"The
  number of Elasticsearch instances that have been reserved.\";}s:25:\"ElasticsearchInstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ESPartitionInstanceType\";s:11:\"description\";s:74:\"The
  Elasticsearch instance type offered by the reserved instance offering.\";}s:10:\"FixedPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:106:\"The
  upfront fixed charge you will paid to purchase the specific reserved Elasticsearch
  instance offering. \";}s:13:\"PaymentOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/ReservedElasticsearchInstancePaymentOption\";s:11:\"description\";s:78:\"The
  payment option as defined in the reserved Elasticsearch instance offering.\";}s:16:\"RecurringCharges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RecurringChargeList\";s:11:\"description\";s:106:\"The
  charge to your account regardless of whether you are creating any domains using
  the instance offering.\";}s:15:\"ReservationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ReservationToken\";s:11:\"description\";s:60:\"The
  customer-specified identifier to track this reservation.\";}s:31:\"ReservedElasticsearchInstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/GUID\";s:11:\"description\";s:42:\"The
  unique identifier for the reservation.\";}s:39:\"ReservedElasticsearchInstanceOfferingId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  offering identifier.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UpdateTimestamp\";s:11:\"description\";s:33:\"The
  time the reservation started.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"The
  state of the reserved Elasticsearch instance.\";}s:10:\"UsagePrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:91:\"The
  rate you are charged for each hour for the domain that is using this reserved instance.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ReservedElasticsearchInstanceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ReservedElasticsearchInstance\";}s:4:\"type\";s:5:\"array\";}s:37:\"ReservedElasticsearchInstanceOffering\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Details
  of a reserved Elasticsearch instance offering.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:67:\"The
  currency code for the reserved Elasticsearch instance offering.\";}s:8:\"Duration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:89:\"The
  duration, in seconds, for which the offering will reserve the Elasticsearch instance.\";}s:25:\"ElasticsearchInstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ESPartitionInstanceType\";s:11:\"description\";s:74:\"The
  Elasticsearch instance type offered by the reserved instance offering.\";}s:10:\"FixedPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:105:\"The
  upfront fixed charge you will pay to purchase the specific reserved Elasticsearch
  instance offering. \";}s:13:\"PaymentOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/ReservedElasticsearchInstancePaymentOption\";s:11:\"description\";s:63:\"Payment
  option for the reserved Elasticsearch instance offering\";}s:16:\"RecurringCharges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RecurringChargeList\";s:11:\"description\";s:106:\"The
  charge to your account regardless of whether you are creating any domains using
  the instance offering.\";}s:39:\"ReservedElasticsearchInstanceOfferingId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/GUID\";s:11:\"description\";s:56:\"The
  Elasticsearch reserved instance offering identifier.\";}s:10:\"UsagePrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:88:\"The
  rate you are charged for each hour the domain that is using the offering is running.\";}}s:4:\"type\";s:6:\"object\";}s:41:\"ReservedElasticsearchInstanceOfferingList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/ReservedElasticsearchInstanceOffering\";}s:4:\"type\";s:5:\"array\";}s:42:\"ReservedElasticsearchInstancePaymentOption\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:11:\"ALL_UPFRONT\";i:1;s:15:\"PARTIAL_UPFRONT\";i:2;s:10:\"NO_UPFRONT\";}s:4:\"type\";s:6:\"string\";}s:30:\"ResourceAlreadyExistsException\";O:8:\"stdClass\":0:{}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":0:{}s:7:\"RoleArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:20;s:4:\"type\";s:6:\"string\";}s:22:\"ServiceSoftwareOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  current options of an Elasticsearch domain service software options.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"AutomatedUpdateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/DeploymentCloseDateTimeStamp\";s:11:\"description\";s:153:\"Timestamp,
  in Epoch time, until which you can manually request a service software update. After
  this date, we automatically update your service software.\";}s:11:\"Cancellable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:162:\"<code>True</code>
  if you are able to cancel your service software version update. <code>False</code>
  if you are not able to cancel your service software version. \";}s:14:\"CurrentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:67:\"The
  current service software version that is present on the domain.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"The
  description of the <code>UpdateStatus</code>.\";}s:10:\"NewVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"The
  new service software version if one is available.\";}s:15:\"UpdateAvailable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:154:\"<code>True</code>
  if you are able to update you service software version. <code>False</code> if you
  are not able to update your service software version. \";}s:12:\"UpdateStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DeploymentStatus\";s:11:\"description\";s:218:\"The
  status of your service software update. This field can take the following values:
  <code>ELIGIBLE</code>, <code>PENDING_UPDATE</code>, <code>IN_PROGRESS</code>, <code>COMPLETED</code>,
  and <code>NOT_ELIGIBLE</code>.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ServiceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:239:\"The
  endpoint to which service requests are submitted. For example, <code>search-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.es.amazonaws.com</code>
  or <code>doc-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.es.amazonaws.com</code>.\";s:4:\"type\";s:6:\"string\";}s:15:\"SnapshotOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Specifies
  the time, in UTC format, when the service takes a daily automated snapshot of the
  specified Elasticsearch domain. Default value is <code>0</code> hours.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"AutomatedSnapshotStartHour\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerClass\";s:11:\"description\";s:162:\"Specifies
  the time, in UTC format, when the service takes a daily automated snapshot of the
  specified Elasticsearch domain. Default value is <code>0</code> hours.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SnapshotOptionsStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Status
  of a daily automated snapshot.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SnapshotOptions\";s:11:\"description\";s:76:\"Specifies
  the daily snapshot options specified for the Elasticsearch domain.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:51:\"Specifies
  the status of a daily automated snapshot.\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:46:\"StartElasticsearchServiceSoftwareUpdateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:209:\"Container
  for the parameters to the <code><a>StartElasticsearchServiceSoftwareUpdate</a></code>
  operation. Specifies the name of the Elasticsearch domain that you wish to schedule
  a service software update on.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:78:\"The
  name of the domain that you want to update to the latest service software.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:47:\"StartElasticsearchServiceSoftwareUpdateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  result of a <code>StartElasticsearchServiceSoftwareUpdate</code> operation. Contains
  the status of the update.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"ServiceSoftwareOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ServiceSoftwareOptions\";s:11:\"description\";s:64:\"The
  current status of the Elasticsearch service software update.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"StartTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"StorageSubTypeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:359:\"
  SubType of the given storage type. List of available sub-storage options: For \"instance\"
  storageType we wont have any storageSubType, in case of \"ebs\" storageType we will
  have following valid storageSubTypes <ol> <li>standard</li> <li>gp2</li> <li>io1</li>
  </ol> Refer <code><a>VolumeType</a></code> for more information regarding above
  EBS storage options. \";s:4:\"type\";s:6:\"string\";}s:11:\"StorageType\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"StorageTypes
  represents the list of storage related types and their attributes that are available
  for given InstanceType. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"StorageSubTypeName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/StorageSubTypeName\";}s:17:\"StorageTypeLimits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StorageTypeLimitList\";s:11:\"description\";s:59:\"List
  of limits that are applicable for given storage type. \";}s:15:\"StorageTypeName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StorageTypeName\";}}s:4:\"type\";s:6:\"object\";}s:16:\"StorageTypeLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Limits
  that are applicable for given storage type. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"LimitName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LimitName\";s:11:\"description\";s:699:\"
  Name of storage limits that are applicable for given storage type. If <code> <a>StorageType</a>
  </code> is ebs, following storage options are applicable <ol> <li>MinimumVolumeSize</li>
  Minimum amount of volume size that is applicable for given storage type.It can be
  empty if it is not applicable. <li>MaximumVolumeSize</li> Maximum amount of volume
  size that is applicable for given storage type.It can be empty if it is not applicable.
  <li>MaximumIops</li> Maximum amount of Iops that is applicable for given storage
  type.It can be empty if it is not applicable. <li>MinimumIops</li> Minimum amount
  of Iops that is applicable for given storage type.It can be empty if it is not applicable.
  </ol> \";}s:11:\"LimitValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/LimitValueList\";s:11:\"description\";s:67:\"
  Values for the <code> <a>StorageTypeLimit$LimitName</a> </code> . \";}}s:4:\"type\";s:6:\"object\";}s:20:\"StorageTypeLimitList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/StorageTypeLimit\";}s:4:\"type\";s:5:\"array\";}s:15:\"StorageTypeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StorageType\";}s:4:\"type\";s:5:\"array\";}s:15:\"StorageTypeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"
  Type of the storage. List of available storage options: <ol> <li>instance</li> Inbuilt
  storage available for the given Instance <li>ebs</li> Elastic block storage that
  would be attached to the given Instance </ol> \";s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Specifies
  a key value pair for a resource tag.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:136:\"Specifies
  the <code>TagKey</code>, the name of the tag. Tag keys must be unique for the Elasticsearch
  domain to which they are attached.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:280:\"Specifies
  the <code>TagValue</code>, the value assigned to the corresponding tag key. Tag
  values can be null and do not have to be unique in a tag set. For example, you can
  have a key value pair in a tag set of <code>project : Trinity</code> and <code>cost-center
  : Trinity</code>\";}}s:8:\"required\";a:2:{i:0;s:3:\"Key\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:11:\"description\";s:158:\"A
  string of length from 1 to 128 characters that specifies the key for a Tag. Tag
  keys must be unique for the Elasticsearch domain to which they are attached.\";s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"TagList\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  list of <code>Tag</code> \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:8:\"TagValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:145:\"A
  string of length from 0 to 256 characters that specifies the value for a Tag. Tag
  values can be null and do not have to be unique in a tag set.\";s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:9:\"UIntValue\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:38:\"UpdateElasticsearchDomainConfigRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"Container
  for the parameters to the <code><a>UpdateElasticsearchDomain</a></code> operation.
  Specifies the type and number of instances in the domain cluster.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"AccessPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:45:\"IAM
  access policy as a JSON-formatted string.\";}s:15:\"AdvancedOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AdvancedOptions\";s:11:\"description\";s:437:\"Modifies
  the advanced option to allow references to indices in an HTTP request body. Must
  be <code>false</code> when configuring access to individual sub-resources. By default,
  the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\"
  target=\"_blank\">Configuration Advanced Options</a> for more information.\";}s:14:\"CognitoOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CognitoOptions\";s:11:\"description\";s:271:\"Options
  to specify the Cognito user and identity pools for Kibana authentication. For more
  information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\"
  target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.\";}s:10:\"EBSOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EBSOptions\";s:11:\"description\";s:66:\"Specify
  the type and size of the EBS volume that you want to use. \";}s:26:\"ElasticsearchClusterConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchClusterConfig\";s:11:\"description\";s:71:\"The
  type and number of instances to instantiate for the domain cluster.\";}s:20:\"LogPublishingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LogPublishingOptions\";s:11:\"description\";s:135:\"Map
  of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options
  to publish a given type of Elasticsearch log.\";}s:15:\"SnapshotOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SnapshotOptions\";s:11:\"description\";s:112:\"Option
  to set the time, in UTC format, for the daily automated snapshot. Default value
  is <code>0</code> hours. \";}s:10:\"VPCOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/VPCOptions\";s:11:\"description\";s:303:\"Options
  to specify the subnets and security groups for VPC endpoint. For more information,
  see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc\"
  target=\"_blank\">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch
  Service Domains</i>\";}}s:4:\"type\";s:6:\"object\";}s:39:\"UpdateElasticsearchDomainConfigResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  result of an <code>UpdateElasticsearchDomain</code> request. Contains the status
  of the Elasticsearch domain being updated.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DomainConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchDomainConfig\";s:11:\"description\";s:48:\"The
  status of the updated Elasticsearch domain. \";}}s:8:\"required\";a:1:{i:0;s:12:\"DomainConfig\";}s:4:\"type\";s:6:\"object\";}s:15:\"UpdateTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:33:\"UpgradeElasticsearchDomainRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"
  Container for request parameters to <code> <a>UpgradeElasticsearchDomain</a> </code>
  operation. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:16:\"PerformCheckOnly\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:141:\"
  This flag, when set to True, indicates that an Upgrade Eligibility Check needs to
  be performed. This will not actually perform the Upgrade. \";}s:13:\"TargetVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchVersionString\";s:11:\"description\";s:70:\"The
  version of Elasticsearch that you intend to upgrade the domain to.\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:13:\"TargetVersion\";}s:4:\"type\";s:6:\"object\";}s:34:\"UpgradeElasticsearchDomainResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"
  Container for response returned by <code> <a>UpgradeElasticsearchDomain</a> </code>
  operation. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:16:\"PerformCheckOnly\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:141:\"
  This flag, when set to True, indicates that an Upgrade Eligibility Check needs to
  be performed. This will not actually perform the Upgrade. \";}s:13:\"TargetVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ElasticsearchVersionString\";s:11:\"description\";s:70:\"The
  version of Elasticsearch that you intend to upgrade the domain to.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"UpgradeHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"History
  of the last 10 Upgrades and Upgrade Eligibility Checks.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"StartTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StartTimestamp\";s:11:\"description\";s:86:\"UTC
  Timestamp at which the Upgrade API call was made in \"yyyy-MM-ddTHH:mm:ssZ\" format.\";}s:9:\"StepsList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/UpgradeStepsList\";s:11:\"description\";s:162:\"
  A list of <code> <a>UpgradeStepItem</a> </code> s representing information about
  each step performed as pard of a specific Upgrade or Upgrade Eligibility Check.
  \";}s:11:\"UpgradeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UpgradeName\";s:11:\"description\";s:42:\"A
  string that describes the update briefly\";}s:13:\"UpgradeStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UpgradeStatus\";s:11:\"description\";s:182:\"
  The overall status of the update. The status can take one of the following values:
  <ul> <li>In Progress</li> <li>Succeeded</li> <li>Succeeded with Issues</li> <li>Failed</li>
  </ul> \";}}s:4:\"type\";s:6:\"object\";}s:18:\"UpgradeHistoryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/UpgradeHistory\";}s:4:\"type\";s:5:\"array\";}s:11:\"UpgradeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"UpgradeStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"IN_PROGRESS\";i:1;s:9:\"SUCCEEDED\";i:2;s:21:\"SUCCEEDED_WITH_ISSUES\";i:3;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:11:\"UpgradeStep\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:17:\"PRE_UPGRADE_CHECK\";i:1;s:8:\"SNAPSHOT\";i:2;s:7:\"UPGRADE\";}s:4:\"type\";s:6:\"string\";}s:15:\"UpgradeStepItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Represents
  a single step of the Upgrade or Upgrade Eligibility Check workflow.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Issues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Issues\";s:11:\"description\";s:100:\"A
  list of strings containing detailed information about the errors encountered in
  a particular step.\";}s:15:\"ProgressPercent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:79:\"The
  Floating point value representing progress percentage of a particular step.\";}s:11:\"UpgradeStep\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UpgradeStep\";s:11:\"description\";s:157:\"
  Represents one of 3 steps that an Upgrade or Upgrade Eligibility Check does through:
  <ul> <li>PreUpgradeCheck</li> <li>Snapshot</li> <li>Upgrade</li> </ul> \";}s:17:\"UpgradeStepStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UpgradeStatus\";s:11:\"description\";s:199:\"
  The status of a particular step during an upgrade. The status can take one of the
  following values: <ul> <li>In Progress</li> <li>Succeeded</li> <li>Succeeded with
  Issues</li> <li>Failed</li> </ul> \";}}s:4:\"type\";s:6:\"object\";}s:16:\"UpgradeStepsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UpgradeStepItem\";}s:4:\"type\";s:5:\"array\";}s:10:\"UserPoolId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:55;s:9:\"minLength\";i:1;s:7:\"pattern\";s:19:\"[\\w-]+_[0-9a-zA-Z]+\";s:4:\"type\";s:6:\"string\";}s:14:\"VPCDerivedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:264:\"Options
  to specify the subnets and security groups for VPC endpoint. For more information,
  see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\"
  target=\"_blank\"> VPC Endpoints for Amazon Elasticsearch Service Domains</a>.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:107:\"The
  availability zones for the Elasticsearch domain. Exists only if the domain was created
  with VPCOptions.\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:47:\"Specifies
  the security groups for VPC endpoint.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:39:\"Specifies
  the subnets for VPC endpoint.\";}s:5:\"VPCId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:95:\"The
  VPC Id for the Elasticsearch domain. Exists only if the domain was created with
  VPCOptions.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"VPCDerivedInfoStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"
  Status of the VPC options for the specified Elasticsearch domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VPCDerivedInfo\";s:11:\"description\";s:66:\"
  Specifies the VPC options for the specified Elasticsearch domain.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";s:11:\"description\";s:80:\"
  Specifies the status of the VPC options for the specified Elasticsearch domain.\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:10:\"VPCOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:264:\"Options
  to specify the subnets and security groups for VPC endpoint. For more information,
  see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\"
  target=\"_blank\"> VPC Endpoints for Amazon Elasticsearch Service Domains</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:47:\"Specifies
  the security groups for VPC endpoint.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:39:\"Specifies
  the subnets for VPC endpoint.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ValidationException\";O:8:\"stdClass\":0:{}s:10:\"VolumeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:261:\"
  The type of EBS volume, standard, gp2, or io1. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\"
  target=\"_blank\">Configuring EBS-based Storage</a>for more information.\";s:4:\"enum\";a:3:{i:0;s:8:\"standard\";i:1;s:3:\"gp2\";i:2;s:3:\"io1\";}s:4:\"type\";s:6:\"string\";}}"
...
