---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:32:\"They Said So - Say it
  with style\";s:11:\"description\";s:246:\"They Said So has more than 1 million+
  quotes in the database, the largest such database in the world. And Quotes API gives
  easy way to access the data. Random quotes, quote of the day and bible verses are
  all accessible from this simple REST API.\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"orthosie\";s:3:\"url\";s:21:\"http://theysaidso.com\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/53aa4aaee4b051a76d24056f_medium\";s:20:\"x-mashape-categories\";a:2:{i:0;s:9:\"Education\";i:1;s:13:\"Entertainment\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:66:\"https://market.mashape.com/orthosie/they-said-so-say-it-with-style\";}}"
host: theysaidso.p.mashape.com
basePath: ""
paths:
  /authors:
    get:
      description: List of authors available in the system
      operationId: authors
  /categories:
    get:
      description: List of Random Quote Categories Available in the system
      operationId: categories
  /qod:
    get:
      description: Quote of the day
      operationId: qod
      produces:
      - application/json
      parameters:
      - name: category
        in: query
        description: Category of the desired QOD.
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /qod/categories:
    get:
      description: Get the categories for QOD
      operationId: qod-categories
      produces:
      - application/json
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /quote:
    get:
      description: Random Quote
      operationId: quote
      produces:
      - application/json
      parameters:
      - name: author
        in: query
        description: Random quote from the given author
      - name: category
        in: query
        description: Category(tag) from which you want the resulting quote from
      - name: maxlength
        in: query
        description: Maximum length of resulting quote
      - name: minlength
        in: query
        description: Minimum required length of the resulting quote
      - name: query
        in: query
        description: Query String to query. These words will be searched in the quote
          and the matched quotes will be returned.
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /bible/verse:
    get:
      description: Bible random verse
      operationId: verse
      produces:
      - application/json
      parameters:
      - name: book
        in: query
        description: Which book you want the verse from?
      - name: chapter
        in: query
        description: Which chapter of the book you need the random verse from?
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /bible/vod:
    get:
      description: Bible Verse of the day
      operationId: vod
      produces:
      - application/json
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
definitions: !php/object "O:8:\"stdClass\":3:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Succes\";}s:8:\"contents\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Content\";}}}s:6:\"Succes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"Content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"quote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}"
...
