---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:12:\"Hockey - NHL\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:34:\"http://developer.stats.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:345:\"The
  API calls below can be used to test the Input and Output of our API endpoints.  You'll
  need an API key and an assigned secret to access the live data and so if you haven't
  contacted us yet, now is the time!  Our sales staff would be happy to set you up
  with trial access so you can begin to evaluate the product. NHL - National Hockey
  League\";s:12:\"x-mashery-id\";s:4:\"1371\";}"
host: api.stats.com
basePath: /
paths:
  /stats/hockey/nhl/teams/{teamId}:
    get:
      operationId: NHL-TeamsTeams
      summary: The teams endpoint will be your source for team na...
      description: The teams endpoint will be your source for team names, locations,
        abbreviations, and IDs.
      tags:
      - Teams
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.n Default
          - Blank (returns all teams).
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get team lists for a different season, enter the year as
          YYYY.n   Note: Seasons that span years like NHL 2013-2014 would be entered
          as 2013. n  Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & venue names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/events/{eventId}:
    get:
      operationId: NHL-IfpermissionedforalleventinformationSchedules,scores,boxscores,play-by-play
      summary: If you are permissioned for the /events resource, ...
      description: If you are permissioned for the /events resource, you have access
        to the highest level of game data including live scores, box scores, and play-by-play.
      tags:
      - Schedules, scores, box scores, play-by-play
      parameters:
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box or pbp requests.n   Default - basic
          score data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: box
        type: string
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with box.n  Default
          - box score data will not be returned
        in: query
        required: false
        enum:
        - "True"
        - "false"
      - name: pbp
        type: boolean
        description: Returns the play-by-play for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with pbp.n  Default
          - pbp data will not be returned
        in: query
        required: false
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NHL 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n  Ignored
          if eventId is used.n Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Returns games in the specified eventRound only. Rounds are only
          relevant when eventTypeId = 2 (Postseason) is selectedn  Default - all rounds
          combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/events/teams/{teamId}:
    get:
      operationId: NHL-Ifpermissionedforalleventinformation-scheduleforoneteamonlySchedules,scores,boxscores,play-by-play
      summary: This endpoint allows you to select schedule and sc...
      description: This endpoint allows you to select schedule and score information
        for just one team.  Getting information for a single team returns only schedule
        and score information.  If you want detailed event information, you use the
        example about with the eventId.
      tags:
      - Schedules, scores, box scores, play-by-play
      parameters:
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.  'box'
          and 'pbp' parameters are not allowed because you are requesting schedule
          information for a team, not an individual event.n   Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NHL 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n Default
          - All event types
        in: query
        required: true
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Returns games in the specified eventRound only. Rounds are only
          relevant when eventTypeId = 2 (Postseason) is selectedn  Default - all rounds
          combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/box/{eventId}:
    get:
      operationId: NHL-Ifpermissionedforjustschedules,scoresandboxscoresSchedules,scores,boxscores,play-by-play
      summary: The box/ resource provides scores/schedules and bo...
      description: The box/ resource provides scores/schedules and box score information
        for NHL events.  (Play-by-play is not an option.)
      tags:
      - Schedules, scores, box scores, play-by-play
      parameters:
      - name: eventId
        type: integer
        description: OPTIONAL - Use the eventId when you want a single game.
        in: path
        required: true
      - name: box
        type: boolean
        description: OPTIONAL - By default, the box score is NOT included in the result
          (no parameter or box=false).  If box=true, the box score will be included
          when the event is in-progress or final events.
        in: query
        required: false
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'OPTIONAL - If entered, the events for that date will be returned.
          If not entered, the default is to return the events for the current date.  For
          sports like American Football (NHL, CFB) and Soccer, all the games for the
          current game week are returned.  Format: YYYYMMDD or YYYY-MM-DD.'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NHL 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.   nnDefault
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Returns games in the specified eventRound only. Rounds are only
          relevant when eventTypeId = 2 (Postseason) is selectedn  Default - all rounds
          combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/box/teams/{teamId}:
    get:
      operationId: NHL-Ifpermissionedforjustschedules,scoresandboxscores-foroneteamonlySchedules,scores,boxscores,play-by-play
      summary: The box/ resource provides scores/schedules and bo...
      description: The box/ resource provides scores/schedules and box score information
        for NHL events.
      tags:
      - Schedules, scores, box scores, play-by-play
      parameters:
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.n
          The 'box' parameter is not allowed because you are requesting schedule information
          for a team, not an individual event.n   Default - basic score data will
          be returned using date or season, if entered, else the current days events
          will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'OPTIONAL - If entered, the events for that date will be returned.
          If not entered, the default is to return the events for the current date.  For
          sports like American Football (NHL, CFB) and Soccer, all the games for the
          current game week are returned.  Format: YYYYMMDD or YYYY-MM-DD.'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NHL 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n  Ignored
          if eventId is used.n Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Returns games in the specified eventRound only. Rounds are only
          relevant when eventTypeId = 2 (Postseason) is selectedn  Default - all rounds
          combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/scores/{eventId}:
    get:
      operationId: NHL-IfpermissionedforjustschedulesandscoresSchedules,scores,boxscores,play-by-play
      summary: The scores/ resource provides score and schedule i...
      description: The scores/ resource provides score and schedule information for
        NHL events.
      tags:
      - Schedules, scores, box scores, play-by-play
      parameters:
      - name: eventId
        type: integer
        description: OPTIONAL - Use the eventId when you want a single game.
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'OPTIONAL - If entered, the events for that date will be returned.
          If not entered, the default is to return the events for the current date.  For
          sports like American Football (NHL, CFB) and Soccer, all the games for the
          current game week are returned.  Format: YYYYMMDD or YYYY-MM-DD.'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NHL 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n  Ignored
          if eventId is used.n Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Returns games in the specified eventRound only. Rounds are only
          relevant when eventTypeId = 2 (Postseason) is selectedn  Default - all rounds
          combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/scores/teams/{teamId}:
    get:
      operationId: NHL-Ifpermissionedforjustschedulesandscores-foroneteamonlySchedules,scores,boxscores,play-by-play
      summary: The scores/ resource provides score and schedule i...
      description: The scores/ resource provides score and schedule information for
        NHL events.
      tags:
      - Schedules, scores, box scores, play-by-play
      parameters:
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.n   Default
          - basic score data will be returned using date or season, if entered, else
          the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'OPTIONAL - If entered, the events for that date will be returned.
          If not entered, the default is to return the events for the current date.  For
          sports like American Football (NHL, CFB) and Soccer, all the games for the
          current game week are returned.  Format: YYYYMMDD or YYYY-MM-DD.'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NHL 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n  Ignored
          if eventId is used.n Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Returns games in the specified eventRound only. Rounds are only
          relevant when eventTypeId = 2 (Postseason) is selectedn  Default - all rounds
          combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/standings/:
    get:
      operationId: NHL-StandingsStandings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - Standings
      parameters:
      - name: expanded
        type: boolean
        description: Expanded includes additional data points for each team.n Default
          - false
        in: query
        required: false
      - name: conference
        type: boolean
        description: Conference returns teams ranked by conference instead of division.n
          Default - false
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NHL 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/standings/teams/{teamId}:
    get:
      operationId: NHL-StandingsforasingleteamStandings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - Standings
      parameters:
      - name: teamId
        type: integer
        description: If used, data for that team will be returned.
        in: path
        required: true
      - name: expanded
        type: boolean
        description: Expanded includes additional data points for each team.n Default
          - false
        in: query
        required: false
      - name: conference
        type: boolean
        description: Conference returns teams ranked by conference instead of division.n
          Default - false
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NHL 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/participants/:
    get:
      operationId: NHL-PlayerssinceseasonYYYYParticipants
      summary: This will return anyone who has played since the b...
      description: This will return anyone who has played since the beginning of the
        entered year (season).
      tags:
      - Participants
      parameters:
      - name: sinceYearLast
        type: integer
        description: Begin listing players with this season.  Enter as YYYY.
        in: query
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/participants/teams/{teamId}:
    get:
      operationId: NHL-HistoricalRostersParticipants
      summary: Historical rosters provide biographical informatio...
      description: Historical rosters provide biographical information for players
        that played for a team in a single specified season.
      tags:
      - Participants
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return roster for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: 'Enter the year as YYYY.n Note: Seasons that span years like
          NHL 2013-2014 would be entered as 2013.'
        in: query
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/participants/{playerId}:
    get:
      operationId: NHL-SingleplayerParticipants
      summary: This returns only the selected player.
      tags:
      - Participants
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/allStarParticipants/:
    get:
      operationId: NHL-All-StargameplayersParticipants
      summary: This will return anyone who has played in an NHL A...
      description: This will return anyone who has played in an NHL All-Star game.
      tags:
      - Participants
      parameters:
      - name: season
        type: integer
        description: Enter year as YYYY.n  Default - The current season.
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/players/{playerId}:
    get:
      operationId: NHL-Playerstats-CareerStatistics
      summary: Enter only the playerId and 'enc=true' to get a pl...
      description: Enter only the playerId and 'enc=true' to get a player's career
        stats.  Anything else is ignored when 'enc=true'.
      tags:
      - Statistics
      parameters:
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: enc
        type: boolean
        description: Encyclopedia - If 'true', full career and season-by-season totals
          will be returned.n   Notes:n  The encyclopedia is valid for a single player
          only.  If playerId is omitted, 'enc=true' will be ignored.n  Default - the
          current season
        in: query
        required: false
      - name: careerOnly
        type: boolean
        description: For a single player's career stats, only to be used in conjunction
          with 'enc=true'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/players/{playerId}/events/{eventId}:
    get:
      operationId: NHL-PlayersinglegamestatsStatistics
      summary: NHL - Player statistics for one game.
      tags:
      - Statistics
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/players/{playerId}/events/:
    get:
      operationId: NHL-Playergame-by-gamestatsStatistics
      summary: NHL - Player's individual game logs.
      tags:
      - Statistics
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/players/{playerId}/teams/{teamId}:
    get:
      operationId: NHL-Playerstatswhileononeteam.Statistics
      summary: This is used when a player is on more than one tea...
      description: This is used when a player is on more than one team in a season
        and you want only the stats for that team.
      tags:
      - Statistics
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: teamId
        type: integer
        description: To get statistics for the player above on one team only, enter
          team ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/players/{playerId}/:
    get:
      operationId: NHL-PlayersplitsStatistics
      summary: NHL - Player splits (breakdowns).
      tags:
      - Statistics
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: splitId
        type: string
        description: Enter the stat split to be returned.n * If 'all' is used, then
          all the splits are returned.n * If not used, only the official totals will
          be returned (default = -1).n * Otherwise, the entered split is returned.n
          -- A full list of the available splitId codes can be found using the u00e2u0080u0098decodesu00e2u0080u0099
          resource.
        in: query
        required: true
        default: "-1"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/teams/{teamId}/:
    get:
      operationId: NHL-TeamsplitsStatistics
      summary: NHL - Team splits (breakdowns).
      tags:
      - Statistics
      parameters:
      - name: teamId
        type: integer
        description: Team ID.
        in: path
        required: true
      - name: splitId
        type: string
        description: Enter the stat split to be returned.n * If 'all' is used, then
          all the splits are returned.n * If not used, only the official totals will
          be returned (default = -1).n * Otherwise, the entered split is returned.n
          -- A full list of the available splitId codes can be found using the u00e2u0080u0098decodesu00e2u0080u0099
          resource.
        in: query
        required: true
        default: "-1"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/teams/{teamId}/events/{eventId}:
    get:
      operationId: NHL-TeamsinglegamestatsStatistics
      summary: NHL - Team stats
      tags:
      - Statistics
      parameters:
      - name: teamId
        type: integer
        description: Team ID.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/teams/{teamId}/events/:
    get:
      operationId: NHL-Teamgame-by-gamestatsStatistics
      summary: NHL - Team's individual game logs.
      tags:
      - Statistics
      parameters:
      - name: teamId
        type: integer
        description: Team ID.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/coaches/{coachId}:
    get:
      operationId: NHL-Coachstats-CareerStatistics
      summary: NHL - Career stats for a single coach
      tags:
      - Statistics
      parameters:
      - name: coachId
        type: integer
        description: Coach Id.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Result will return only coach stats for the specific eventType.n
          Default - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: enc
        type: boolean
        description: The encyclopedia returns full career and season-by-season totals.n
          Notes:n  The encyclopedia is valid for a single coach only.  If coachId
          is omitted, 'enc=true' will be ignored.n  If 'enc=true', the seasonId will
          be ignored if included.n  Default - the current season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of coach & team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/coaches/{coachId}/teams/{teamId}:
    get:
      operationId: NHL-CoachstatswhileononeteamStatistics
      summary: This is used when a coach is on more than one team...
      description: This is used when a coach is on more than one team in a season
        and you want only the stats for that team.
      tags:
      - Statistics
      parameters:
      - name: coachId
        type: integer
        description: Coach Id.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only coach stats for the specific eventType.n
          Default - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: teamId
        type: integer
        description: To get statistics for the coach above on one team only, enter
          team ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of coach & team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/stats/coaches/teams/{teamId}:
    get:
      operationId: NHL-Allcoachstatsforoneteam-Year-to-dateStatistics
      summary: This will return all stats for all coaches on a te...
      description: This will return all stats for all coaches on a team in a given
        season.
      tags:
      - Statistics
      parameters:
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only coach stats for the specific eventType.n
          Default - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: teamId
        type: integer
        description: To get all coach stats for one team, enter team ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of coach & team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/transactions/:
    get:
      operationId: NHL-TransactionsTransactions
      summary: NHL - Get all transactions
      tags:
      - Transactions
      parameters:
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/transactions/players/{playerId}:
    get:
      operationId: NHL-TransactionsbyplayerTransactions
      summary: NHL - Player transactions
      tags:
      - Transactions
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/transactions/players/{playerId}/teams/{teamId}/:
    get:
      operationId: NHL-TransactionsbyplayeronaspecificteamTransactions
      summary: NHL - Player transactions
      tags:
      - Transactions
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: teamId
        type: integer
        description: To get information for the above player on only one team, enter
          the appropriate team ID.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/transactions/teams/{teamId}:
    get:
      operationId: NHL-TransactionsbyteamTransactions
      summary: NHL - Team transactions
      tags:
      - Transactions
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/injuries/:
    get:
      operationId: NHL-InjuriesInjuries
      summary: NHL - Get all Injuries
      tags:
      - Injuries
      parameters:
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: healed
        type: boolean
        description: 'Include injuries that have healed (ended)?n  Default - false:'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/injuries/players/{playerId}:
    get:
      operationId: NHL-InjuriesbyplayerInjuries
      summary: NHL - Player Injuries
      tags:
      - Injuries
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: healed
        type: boolean
        description: 'Include injuries that have healed (ended)?n  Default - false:'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/injuries/players/{playerId}/teams/{teamId}:
    get:
      operationId: NHL-InjuriesbyplayeronaspecificteamInjuries
      summary: By default, results include all injuries for a pla...
      description: By default, results include all injuries for a player (a) during
        the time period selected, (b) if the injury has not healed and (c) for all
        the teams the player was on during the time period.n To return only those
        injuries while a player is on a specific team, you must include /teams/:teamId
        in the URI.
      tags:
      - Injuries
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: teamId
        type: integer
        description: To get information for the above player on only one team, enter
          the appropriate team ID.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: healed
        type: boolean
        description: Include injuries that have healed (ended)?n  Default - false
          (return only injuries still in effect).
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/injuries/teams/{teamId}:
    get:
      operationId: NHL-InjuriesbyteamInjuries
      summary: NHL - Team Injuries
      tags:
      - Injuries
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: healed
        type: boolean
        description: 'Include injuries that have healed (ended)?n  Default - false:'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/injuryDetails/:
    get:
      operationId: NHL-InjuryDetailsInjuryDetails
      summary: NHL - Get all injury details
      tags:
      - Injury Details
      parameters:
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY. n  Default
          - the current season
        in: query
        required: false
      - name: lastUpdatedStartDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: lastUpdatedEndDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/injuryDetails/players/{playerId}:
    get:
      operationId: NHL-InjuryDetailsbyplayerInjuryDetails
      summary: NHL - Injury Details for one player
      tags:
      - Injury Details
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY. n  Default
          - the current season
        in: query
        required: false
      - name: lastUpdatedStartDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: lastUpdatedEndDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/injuryDetails/teams/{teamId}:
    get:
      operationId: NHL-InjuryDetailsbyteamInjuryDetails
      summary: NHL - Team injury details
      tags:
      - Injury Details
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY. n  Default
          - the current season
        in: query
        required: false
      - name: lastUpdatedStartDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: lastUpdatedEndDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/playerNews/:
    get:
      operationId: NHL-PlayernewsPlayerNews
      summary: NHL - Get all player news
      tags:
      - Player News
      parameters:
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/playerNews/players/{playerId}:
    get:
      operationId: NHL-PlayernewsbyplayerPlayerNews
      summary: NHL - Player news for one player
      tags:
      - Player News
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/playerNews/players/{playerId}/teams/{teamId}:
    get:
      operationId: NHL-PlayernewsbyplayeronaspecificteamPlayerNews
      summary: NHL - Player news for one player
      tags:
      - Player News
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/playerNews/teams/{teamId}:
    get:
      operationId: NHL-PlayernewsbyteamPlayerNews
      summary: NHL - Team player news
      tags:
      - Player News
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/leaders/:
    get:
      operationId: NHL-LeadersLeaders
      summary: NHL - Leaders
      tags:
      - Leaders
      parameters:
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.  (The decodes resource provides
          a list of available codes.)n  Default - Goals Scored
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties), utilizing ranked players only if nonQualifiers is false/null;
          else will utilize ordered players.
        in: query
        required: false
      - name: sortType
        type: string
        description: To return 'worst' players (trailers) rather than 'best' players
          (leaders) in a category, select sortType = worst. Trailers are not available
          for every leaderCategoryId.n  Default - If the sortType parameter is not
          used, leaders will be returned.
        in: query
        required: false
        enum:
        - worst
      - name: eventTypeId
        type: integer
        description: Result will return only games for the specific eventType.n Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like NHL 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: teamId
        type: integer
        description: To get data for players on one team only, enter the teamId.n  Default
          - all players
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/hockey/nhl/dailyLeaders/:
    get:
      operationId: NHL-DailyLeadersLeaders
      summary: NHL - Daily Leaders
      tags:
      - Leaders
      parameters:
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.n  Default - Blank (returns goals).
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "6"
        - "7"
        - "15"
        - "16"
        - "17"
        - "24"
      - name: date
        type: string
        description: 'Leaders in games played on specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties).
        in: query
        required: false
      - name: conferenceId
        type: integer
        description: Leaders among specified conference only.n  Default - all NHL
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: eventTypeId
        type: integer
        description: Leaders among games in the specified eventType only.n  Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Leaders among games in the specified eventRound only. Rounds
          are only relevant when eventTypeId = 2 (Postseason) is selectedn  Default
          - all rounds combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: teamId
        type: integer
        description: To get data for players on one team only, enter the teamId.n  Default
          - all players
        in: query
        required: false
      - name: languageId
        type: string
[...]
