---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:7:\"Cricket\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:34:\"http://developer.stats.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:324:\"The
  API calls below can be used to test the Input and Output of our API endpoints.  You'll
  need an API key and an assigned secret to access the live data and so if you haven't
  contacted us yet, now is the time!  Our sales staff would be happy to set you up
  with trial access so you can begin to evaluate the product. Cricket\";s:12:\"x-mashery-id\";s:4:\"2110\";}"
host: api.stats.com
basePath: /
paths:
  /stats/cricket/leagues/:
    get:
      operationId: Cricket-LeaguesCricket-Leagues
      summary: The cricket leagues endpoint serves as a decode fo...
      description: The cricket leagues endpoint serves as a decode for the available
        leagues names, abbreviations, and URI paths.
      tags:
      - Cricket - Leagues
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/teams/{teamId}/:
    get:
      operationId: Cricket-TeamsCricket-Teams
      summary: Team information.
      tags:
      - Cricket - Teams
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: teamId
        type: integer
        description: A teamId returns information for that team only.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get team lists for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & venue names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/events/{eventId}/:
    get:
      operationId: Cricket-IfpermissionedforalleventinformationCricket-Schedules,scores,boxscores,andplay-by-plays
      summary: Access to this events endpoint will provide you wi...
      description: Access to this events endpoint will provide you with the highest
        level of game data including live scores, box scores, and play-by-plays when
        applicable.  The 'eventId', 'box', and 'pbp' parameters below are only applicable
        for a specific game.n Events will also provide you with schedule data.
      tags:
      - Cricket - Schedules, scores, box scores, and play-by-plays
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box request.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: pbp
        type: boolean
        description: Returns the play-by-play for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'pbp=true'.n  Default
          - pbp data will not be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: seriesId
        type: integer
        description: Will return events from a specific series. See the league specific
          series decode endpoint for a complete list of series available for any given
          league.n Default - No series restrictions
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return events for the specified eventType only. See the
          league specific eventTypes decode endpoint for a complete list of event
          types available for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/events/teams/{teamId}/:
    get:
      operationId: Cricket-Ifpermissionedforalleventinformation-foroneteamonlyCricket-Schedules,scores,boxscores,andplay-by-plays
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information).
      tags:
      - Cricket - Schedules, scores, box scores, and play-by-plays
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: teamId
        type: integer
        description: A teamId returns information for that team only.
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: seriesId
        type: integer
        description: Will return events from a specific series. See the league specific
          series decode endpoint for a complete list of series available for any given
          league.n Default - No series restrictions
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return events for the specified eventType only. See the
          league specific eventTypes decode endpoint for a complete list of event
          types available for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/box/{eventId}/:
    get:
      operationId: Cricket-Ifpermissionedforschedules,scores,andboxscoresonlyCricket-Schedules,scores,boxscores,andplay-by-plays
      summary: Access to this events endpoint will provide you wi...
      description: Access to this events endpoint will provide you with live scores
        and box scores when applicable.  The 'eventId' and 'box' parameters below
        are only applicable for a specific game. The 'box' endpoint will also provide
        you with schedule data.
      tags:
      - Cricket - Schedules, scores, box scores, and play-by-plays
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box request.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: seriesId
        type: integer
        description: Will return events from a specific series. See the league specific
          series decode endpoint for a complete list of series available for any given
          league.n Default - No series restrictions
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return events for the specified eventType only. See the
          league specific eventTypes decode endpoint for a complete list of event
          types available for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/box/teams/{teamId}/:
    get:
      operationId: Cricket-Ifpermissionedforschedules,scores,andboxscoresonly-foroneteamonlyCricket-Schedules,scores,boxscores,andplay-by-plays
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information).
      tags:
      - Cricket - Schedules, scores, box scores, and play-by-plays
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: teamId
        type: integer
        description: A teamId returns information for that team only.
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: seriesId
        type: integer
        description: Will return events from a specific series. See the league specific
          series decode endpoint for a complete list of series available for any given
          league.n Default - No series restrictions
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return events for the specified eventType only. See the
          league specific eventTypes decode endpoint for a complete list of event
          types available for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/scores/{eventId}/:
    get:
      operationId: Cricket-IfpermissionedforjustschedulesandscoresCricket-Schedules,scores,boxscores,andplay-by-plays
      summary: The scores/ resource provides score and schedule i...
      description: The scores/ resource provides score and schedule information for
        events.
      tags:
      - Cricket - Schedules, scores, box scores, and play-by-plays
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.n Default - basic score data will be returned using date or season,
          if entered, else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: seriesId
        type: integer
        description: Will return events from a specific series. See the league specific
          series decode endpoint for a complete list of series available for any given
          league.n Default - No series restrictions
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return events for the specified eventType only. See the
          league specific eventTypes decode endpoint for a complete list of event
          types available for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/scores/teams/{teamId}/:
    get:
      operationId: Cricket-Ifpermissionedforjustschedulesandscores-foroneteamonlyCricket-Schedules,scores,boxscores,andplay-by-plays
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information).
      tags:
      - Cricket - Schedules, scores, box scores, and play-by-plays
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.n
          Default - basic score data will be returned using date or season, if entered,
          else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: seriesId
        type: integer
        description: Will return events from a specific series. See the league specific
          series decode endpoint for a complete list of series available for any given
          league.n Default - No series restrictions
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return events for the specified eventType only. See the
          league specific eventTypes decode endpoint for a complete list of event
          types available for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/standings/:
    get:
      operationId: Cricket-StandingsCricket-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - Cricket - Standings
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return standings for the specified eventType only. See the
          league specific eventTypes decode endpoint for a complete list of event
          types available for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/standings/teams/{teamId}/:
    get:
      operationId: Cricket-StandingsforasingleteamCricket-Standings
      summary: Standings for a single team.
      tags:
      - Cricket - Standings
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return standings for the specified eventType only. See the
          league specific eventTypes decode endpoint for a complete list of event
          types available for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/participants/:
    get:
      operationId: Cricket-PlayersCricket-Participants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        players and can be used to return information on a single player, a single
        teams roster, or all teams rosters within the league.
      tags:
      - Cricket - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: season
        type: integer
        description: Anyone who played during the requested year.  Enter year as YYYY.n  Default
          - current rosters
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/participants/teams/{teamId}/:
    get:
      operationId: Cricket-AllplayersonasingleteamCricket-Participants
      summary: Including a team ID (required) will limit rosters ...
      description: Including a team ID (required) will limit rosters returned to the
        selected team only.
      tags:
      - Cricket - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: teamId
        type: integer
        description: Provide team ID to return roster for one team.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/participants/{playerId}/:
    get:
      operationId: Cricket-SingleplayerCricket-Participants
      summary: Including a player ID (required) will limit data r...
      description: Including a player ID (required) will limit data returned to the
        selected player only.
      tags:
      - Cricket - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/stats/players/{playerId}/:
    get:
      operationId: Cricket-Playerstats-CareerCricket-Statistics
      summary: Cricket - Career stats for a single player
      tags:
      - Cricket - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: seriesId
        type: integer
        description: Will return stats from a specific series. See the league specific
          series decode endpoint for a complete list of series available for any given
          league.n Default - No series restrictions
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return stats for the specified eventType only. See the league
          specific eventTypes decode endpoint for a complete list of event types available
          for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: enc
        type: boolean
        description: The encyclopedia returns full career and season-by-season totals.n  The
          encyclopedia is valid for a single player only.
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/stats/teams/{teamId}/:
    get:
      operationId: Cricket-TeamstatsCricket-Statistics
      summary: Cricket - Team stats
      tags:
      - Cricket - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: teamId
        type: integer
        description: A teamId returns information for that team only.
        in: path
        required: true
      - name: seriesId
        type: integer
        description: Will return stats from a specific series. See the league specific
          series decode endpoint for a complete list of series available for any given
          league.n Default - No series restrictions
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return stats for the specified eventType only. See the league
          specific eventTypes decode endpoint for a complete list of event types available
          for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/leaders/:
    get:
      operationId: Cricket-LeadersCricket-Leaders
      summary: Cricket - Leaders
      tags:
      - Cricket - Leaders
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.  The decodes resource provides a
          list of available codes. n  Default - Blank (returns Bowling).
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties).
        in: query
        required: false
      - name: sortType
        type: string
        description: To return 'worst' players (trailers) rather than 'best' players
          (leaders) in a category, select sortType = worst. Traliers are not available
          for every leaderCategoryId.n  Default - If the sortType parameter is not
          used, leaders will be returned.
        in: query
        required: false
        enum:
        - worst
      - name: seriesId
        type: integer
        description: Will return leaders from a specific series. See the league specific
          series decode endpoint for a complete list of series available for any given
          league.n Default - No series restrictions
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Leaders will be returned for games included in the specified
          eventType. See the league specific eventTypes decode endpoint for a complete
          list of event types available for any given league.n  Default - All event
          types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: teamId
        type: integer
        description: To get data for players on one team only, enter the teamId.n  Default
          - all players
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/cricket/{leaguePath}/worldRankings/teams/:
    get:
      operationId: Cricket-TeamWorldRankingsCricket-TeamWorldRankings
      summary: ICC Team World Rankings
      tags:
      - Cricket - Team World Rankings
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - icc
      - name: season
        type: integer
        description: 'To get team lists for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Will return events for the specified eventType only. See the
          league specific eventTypes decode endpoint for a complete list of event
          types available for any given league.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
        - "15"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/cricket/icc/stories/headlines/:
    get:
      operationId: ICC-HeadlinesCricket-Stories,Headlines,Images
      summary: List of headlines.
      tags:
      - Cricket - Stories, Headlines, Images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/cricket/icc/articles/headlines/:
    get:
      operationId: ICC-HeadlinesArticlesCricket-Stories,Headlines,Images
      summary: List of headlines.
      tags:
      - Cricket - Stories, Headlines, Images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/cricket/icc/stories/recent/:
    get:
      operationId: ICC-RecentstoriesCricket-Stories,Headlines,Images
      summary: Recent stories for the selected league.
      tags:
      - Cricket - Stories, Headlines, Images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/cricket/icc/articles/recent/:
    get:
      operationId: ICC-RecentArticlesCricket-Stories,Headlines,Images
      summary: Recent stories for the selected league.
      tags:
      - Cricket - Stories, Headlines, Images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/cricket/icc/stories/{storyId}/:
    get:
      operationId: ICC-FullstoryCricket-Stories,Headlines,Images
      summary: Get the full story for a storyId found in headline...
      description: Get the full story for a storyId found in headlines or stories.
      tags:
      - Cricket - Stories, Headlines, Images
      parameters:
      - name: storyId
        type: integer
        description: storyId
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/cricket/icc/articles/{storyId}/:
    get:
      operationId: ICC-FullArticleCricket-Stories,Headlines,Images
      summary: Get the full article for a storyId found in headli...
      description: Get the full article for a storyId found in headlines or articles.
      tags:
      - Cricket - Stories, Headlines, Images
      parameters:
      - name: storyId
        type: integer
        description: storyId
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/cricket/icc/images/list/:
    get:
      operationId: ICC-ListofavailableimagesCricket-Stories,Headlines,Images
      summary: List of available images.
      tags:
      - Cricket - Stories, Headlines, Images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      - name: originId
        type: integer
        description: Origin of given images.n  Default - All origins are returned
          when nothing is selected
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/cricket/icc/photos/list/:
    get:
      operationId: ICC-ListofavailablephotosCricket-Stories,Headlines,Images
      summary: List of available photos.
      tags:
      - Cricket - Stories, Headlines, Images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      - name: originId
        type: integer
        description: Origin of given images.n  Default - All origins are returned
          when nothing is selected
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/cricket/icc/images/{imageSize}/{imageId}/:
    get:
      operationId: RetrieveimageCricket-Stories,Headlines,Images
      summary: ""
      tags:
      - Cricket - Stories, Headlines, Images
      parameters:
      - name: imageSize
        type: string
        description: Options are:n  'p128', 'p256', 'p512', 'pMax'
        in: path
        required: true
        enum:
        - p128
        - p256
        - p512
        - pMax
      - name: imageId
        type: integer
        description: Photo ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/cricket/icc/photos/{imageSize}/{imageId}/:
    get:
      operationId: RetrievePhotoCricket-Stories,Headlines,Images
      summary: ""
      tags:
      - Cricket - Stories, Headlines, Images
      parameters:
      - name: imageSize
        type: string
        description: Options are:n  'p128', 'p256', 'p512', 'pMax'
        in: path
        required: true
        enum:
        - p128
        - p256
        - p512
        - pMax
      - name: imageId
        type: integer
        description: Photo ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /decode/cricket/{leaguePath}/{decodeType}:
    get:
      operationId: Cricket-DecodesCricket-Decodes
      summary: Cricket - Decodes
      tags:
      - Cricket - Decodes
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the cricket/leagues
          endpoint
        in: path
        required: true
        enum:
        - aus
        - bang
        - clt20
        - eng
        - hkcs
        - ind
        - ipl
        - icc
        - nz
        - oth
        - pak
        - ranji
        - rdc
        - shef
        - safr
        - srlk
        - wind
        - women
        - youth
        - zim
      - name: decodeType
        type: integer
        description: The data type to be decoded.
        in: path
        required: true
        enum:
        - batStyles
        - eventStatuses
        - eventTypes
        - leaderCategories
        - resultTypes
        - seasonStructure
        - series
        - skillTypes
        - tours
        - tvStations
        - venues
      - name: allSeasons
        type: boolean
        description: For seasonStructure only. To get complete history of league,
          select allSeasons=TRUE. Only those permissioned for all historic data will
          be able to utilize the 'allSeasons' option.n  Default - false
        in: query
        required: false
      - name: languageId
        type: string
        description: For venues only. Select ID to change language of venue names.
          Not all languages available for every name.n  Default - English is returned
          when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
