---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:14:\"Baseball - MLB\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:34:\"http://developer.stats.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:344:\"The
  API calls below can be used to test the Input and Output of our API endpoints.  You'll
  need an API key and an assigned secret to access the live data and so if you haven't
  contacted us yet, now is the time!  Our sales staff would be happy to set you up
  with trial access so you can begin to evaluate the product. MLB - Major League Baseball\";s:12:\"x-mashery-id\";s:4:\"1550\";}"
host: api.stats.com
basePath: /
paths:
  /stats/baseball/mlb/teams/{teamId}:
    get:
      operationId: MLB-TeamsMLB-Teams
      summary: The teams endpoint will be your source for team na...
      description: The teams endpoint will be your source for team names, locations,
        abbreviations, and IDs.  You can get information about a single team by including
        the teamId.  If you do not include a teamId, you will get all the teams for
        the league
      tags:
      - MLB - Teams
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.n Default
          - Blank (returns all teams).
        in: path
        required: true
      - name: season
        type: integer
        description: To get team lists for a different season, enter the year as YYYY.n
          Default - the current season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & venue names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/events/{eventId}:
    get:
      operationId: MLB-IfpermissionedforalleventinformationMLB-Schedules,scores,boxscores,play-by-play,tvl
      summary: Access to this events endpoint will provide you wi...
      description: Access to this events endpoint will provide you with the highest
        level of game data including live scores, box scores, play-by-play, and pitch
        type/velocity/location information.  The first 4 parameters (eventId, box,
        pbp, and tvl) are only applicable for a specific game.n Events will also provide
        you with schedule data.
      tags:
      - MLB - Schedules, scores, box scores, play-by-play, tvl
      parameters:
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box, pbp (play-by-play) and tvl parameters.n
          Default - Basic score & schedule data for the data will be returned using
          date or season, if entered, else the current days events will be returned
        in: path
        required: true
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: pbp
        type: boolean
        description: Returns the play-by-play for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'pbp=true'.n  Default
          - pbp data will not be returned
        in: query
        required: false
      - name: tvl
        type: boolean
        description: Returns the play-by-play along with pitch type, velocity, & location
          for a specific in-progress or concluded event.  An eventId must also be
          entered in conjunction with 'tvl=true'.n Default - tvl data will not be
          returned
        in: query
        required: false
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n This parameter
          is ignored in an eventId is used.n Format: YYYYMMDD or YYYY-MM-DD.n  Default
          - Blank - All the games for the current day.'
        in: query
        required: false
      - name: season
        type: integer
        description: To get scores for a different season, enter the year as YYYY.n
          Default - the current season
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All game types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/events/teams/{teamId}:
    get:
      operationId: MLB-Ifpermissionedforalleventinformation-foroneteamonlyMLB-Schedules,scores,boxscores,play-by-play,tvl
      summary: This endpoint allows you to select schedule and sc...
      description: This endpoint allows you to select schedule and score information
        for just one team.  Getting information for a single team returns only schedule
        and score information.  If you want detailed event information (box, pbp,
        tvl), refer to the endpoint example with the eventId.
      tags:
      - MLB - Schedules, scores, box scores, play-by-play, tvl
      parameters:
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.  'box',
          'pbp', and 'tvl' parameters are not allowed because you are requesting schedule
          information for a team, not an individual event.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: To get scores for a different season, enter the year as YYYY.n
          Default - the current season
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All game types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/box/{eventId}:
    get:
      operationId: MLB-Ifpermissionedforjustschedules,scoresandboxscoresMLB-Schedules,scores,boxscores,play-by-play,tvl
      summary: The box/ resource provides scores/schedules and bo...
      description: The box/ resource provides scores/schedules and box score information
        for MLB events.  (Play-by-play is not an option.)
      tags:
      - MLB - Schedules, scores, box scores, play-by-play, tvl
      parameters:
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box request.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: To get scores for a different season, enter the year as YYYY.n
          Default - the current season
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All game types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/box/teams/{teamId}:
    get:
      operationId: MLB-Ifpermissionedforjustschedules,scoresandboxscores-foroneteamonlyMLB-Schedules,scores,boxscores,play-by-play,tvl
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information.
      tags:
      - MLB - Schedules, scores, box scores, play-by-play, tvl
      parameters:
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.n
          The 'box' parameter is not allowed because you are requesting schedule information
          for a team, not an individual event.n Default - basic score data will be
          returned using date or season, if entered, else the current days events
          will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return games from a specific date.n Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: To get scores for a different season, enter the year as YYYY.n
          Default - the current season
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All game types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/scores/{eventId}:
    get:
      operationId: MLB-IfpermissionedforjustschedulesandscoresMLB-Schedules,scores,boxscores,play-by-play,tvl
      summary: The scores/ resource provides score and schedule i...
      description: The scores/ resource provides score and schedule information for
        MLB events. (Box and Play-by-play are not options.)
      tags:
      - MLB - Schedules, scores, box scores, play-by-play, tvl
      parameters:
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.n Default - basic score data will be returned using date or season,
          if entered, else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: To get scores for a different season, enter the year as YYYY.n
          Default - the current season
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All game types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/scores/teams/{teamId}:
    get:
      operationId: MLB-Ifpermissionedforjustschedulesandscores-foroneteamonlyMLB-Schedules,scores,boxscores,play-by-play,tvl
      summary: The scores/ resource provides score and schedule i...
      description: The scores/ resource provides score and schedule information for
        MLB events.
      tags:
      - MLB - Schedules, scores, box scores, play-by-play, tvl
      parameters:
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.n
          Default - basic score data will be returned using date or season, if entered,
          else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return games from a specific date.n Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: To get scores for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All game types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/standings/:
    get:
      operationId: MLB-StandingsMLB-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - MLB - Standings
      parameters:
      - name: expanded
        type: boolean
        description: Expanded includes additional data points for each team.n Default
          - false
        in: query
        required: false
      - name: wildCard
        type: boolean
        description: Default - false
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: To get standings for a different season, enter the year as YYYY.n
          Default - the current season
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/standings/teams/{teamId}:
    get:
      operationId: MLB-StandingsforasingleteamMLB-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - MLB - Standings
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: expanded
        type: boolean
        description: Expanded includes additional data points for each team.n Default
          - false
        in: query
        required: false
      - name: wildCard
        type: boolean
        description: Default - false
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: To get standings for a different season, enter the year as YYYY.n
          Default - the current season
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/participants/:
    get:
      operationId: MLB-AllplayerssinceseasonYYYYMLB-Participants
      summary: This will return anyone who has played since the b...
      description: This will return anyone who has played since the beginning of the
        entered year.
      tags:
      - MLB - Participants
      parameters:
      - name: sinceYearLast
        type: integer
        description: Anyone who last played since the requested year.  Enter year
          as YYYY.n  Default -
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/participants/teams/{teamId}:
    get:
      operationId: MLB-HistoricalRostersMLB-Participants
      summary: Historical rosters provide biographical informatio...
      description: Historical rosters provide biographical information for players
        that played for a team in a single specified season.
      tags:
      - MLB - Participants
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return roster for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: Enter the year as YYYY.
        in: query
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/participants/{playerId}:
    get:
      operationId: MLB-SingleplayerMLB-Participants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        players and can be used to return information on a single player, a single
        teams roster, all teams rosters within the league, or all free agents.
      tags:
      - MLB - Participants
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: freeAgent
        type: string
        description: Indicates whether Free Agents should be included in participants
          list.n  Default - no free agents will be returned in the results.
        in: query
        required: false
        enum:
        - "Y"
        - O
      - name: freeAgentSinceYear
        type: integer
        description: Applicable only if you have also requested to have Free Agents
          returned in the results.  Enter year as YYYY.n  Default - all current free
          agents
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/allStarParticipants/:
    get:
      operationId: MLB-All-StarGameplayersMLB-Participants
      summary: This will return anyone who has played in an MLB A...
      description: This will return anyone who has played in an MLB All-Star Game.
      tags:
      - MLB - Participants
      parameters:
      - name: season
        type: integer
        description: Enter year as YYYY.n  Default - The current season.
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/umpires/:
    get:
      operationId: MLB-UmpiresMLB-Participants
      summary: The umpires endpoint provides biographical informa...
      description: The umpires endpoint provides biographical information for umpires.
      tags:
      - MLB - Participants
      parameters:
      - name: sinceYearLast
        type: integer
        description: Returns all umpires who participated since the requested year.  Enter
          year as YYYY.
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of umpire & country names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/umpires/{umpireId}:
    get:
      operationId: MLB-SingleumpireMLB-Participants
      summary: The umpires endpoint provides biographical informa...
      description: The umpires endpoint provides biographical information on a single
        umpire.
      tags:
      - MLB - Participants
      parameters:
      - name: umpireId
        type: integer
        description: To get information on a specific umpire, enter their ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of umpire & country names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/mlbid/:
    get:
      operationId: MLB-AllplayerssinceseasonYYYYMLB-MLBIds
      summary: This will return anyone who has played since the b...
      description: This will return anyone who has played since the beginning of the
        entered year.
      tags:
      - MLB - MLB Ids
      parameters:
      - name: sinceYearLast
        type: integer
        description: Anyone who last played since the requested year.  Enter year
          as YYYY.n  Default -
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/mlbid/teams/{teamId}:
    get:
      operationId: MLB-HistoricalRostersMLB-MLBIds
      summary: Historical rosters provide MLB ids for players tha...
      description: Historical rosters provide MLB ids for players that played for
        a team in a single specified season.
      tags:
      - MLB - MLB Ids
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return roster for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: Enter the year as YYYY.
        in: query
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/mlbid/{playerId}:
    get:
      operationId: MLB-SingleplayerMLB-MLBIds
      summary: The mlbid endpoint provides MLB ids for players. I...
      description: The mlbid endpoint provides MLB ids for players. It can be used
        to return MLB ids on a single player, a single teams roster, all teams rosters
        within the league, or all free agents.
      tags:
      - MLB - MLB Ids
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: freeAgent
        type: string
        description: Indicates whether Free Agents should be included in the list.n  Default
          - no free agents will be returned in the results.
        in: query
        required: false
        enum:
        - "Y"
        - O
      - name: freeAgentSinceYear
        type: integer
        description: Applicable only if you have also requested to have Free Agents
          returned in the results.  Enter year as YYYY.n  Default - all current free
          agents
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/players/{playerId}:
    get:
      operationId: MLB-Playerstats-CareerMLB-Statistics
      summary: MLB - Career stats for a single player
      tags:
      - MLB - Statistics
      parameters:
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for games in the specified eventType only.n  Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Statistics among games in the specified eventRound only. Rounds
          are only relevant when eventTypeId = 2 (Postseason) is selectedn  Default
          - all rounds
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: enc
        type: boolean
        description: The 'encyclopedia returns full career and season-by-season totals.n
          Notes:n  The encyclopedia is valid for a single player only.  If playerId
          is omitted, 'enc=true' will be ignored.n  If 'enc=true', the seasonId will
          be ignored if included.n  Default - the current season
        in: query
        required: false
      - name: careerOnly
        type: boolean
        description: For a single player's career stats, only to be used in conjunction
          with 'enc=true'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/players/{playerId}/events/{eventId}:
    get:
      operationId: MLB-PlayersinglegamestatsMLB-Statistics
      summary: MLB - Single game stats for a single player
      tags:
      - MLB - Statistics
      parameters:
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/players/{playerId}/events/:
    get:
      operationId: MLB-Playergame-by-gamestatsMLB-Statistics
      summary: MLB - Player game logs.
      tags:
      - MLB - Statistics
      parameters:
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Games logs for the specified eventType only.n  Default - Regular
          Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Statistics among games in the specified eventRound only. Rounds
          are only relevant when eventTypeId = 2 (Postseason) is selectedn  Default
          - all rounds
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/players/{playerId}/teams/{teamId}:
    get:
      operationId: MLB-Playerstatswhileononeteam.MLB-Statistics
      summary: This is used when a player is on more than one tea...
      description: This is used when a player is on more than one team in a season
        and you want only stats for one specific team.
      tags:
      - MLB - Statistics
      parameters:
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: teamId
        type: integer
        description: To get statistics for the player above on one team only, enter
          team ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for games in the specified eventType only.n  Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Statistics among games in the specified eventRound only. Rounds
          are only relevant when eventTypeId = 2 (Postseason) is selectedn  Default
          - all rounds combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/players/{playerId}/:
    get:
      operationId: MLB-PlayersplitsMLB-Statistics
      summary: MLB - Player splits (breakdowns).
      tags:
      - MLB - Statistics
      parameters:
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: splitId
        type: string
        description: Enter the stat split to be returned. (The decodes resource provides
          a list of available codes.)n  1. If omitted, only official total stats (splitId
          = -1) will be returned. n  2. If 'all', all the splits are returned.n  3.
          Otherwise, the entered split is returned.n  Default - Official totals (splitId
          = -1)
        in: query
        required: true
        default: "-1"
      - name: eventTypeId
        type: integer
        description: Splits for games in the specified eventType only.n  Default -
          Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Splits among games in the specified eventRound only. Rounds are
          only relevant when eventTypeId = 2 (Postseason) is selectedn  Default -
          all rounds combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/teams/{teamId}/:
    get:
      operationId: MLB-TeamsplitsMLB-Statistics
      summary: MLB - Team splits (breakdowns).
      tags:
      - MLB - Statistics
      parameters:
      - name: teamId
        type: integer
        description: Team ID.
        in: path
        required: true
      - name: splitId
        type: string
        description: Enter the stat split to be returned. (The decodes resource provides
          a list of available codes.)n  1. If omitted, only official total stats (splitId
          = -1) will be returned. n  2. If 'all', all the splits are returned.n  3.
          Otherwise, the entered split is returned.n  Default - Official totals (splitId
          = -1)
        in: query
        required: true
        default: "-1"
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Splits for games in the specified eventType only.n  Default -
          Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Game logs among games in the specified eventRound only. Rounds
          are only relevant when eventTypeId = 2 (Postseason) is selectedn  Default
          - all rounds combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/teams/{teamId}/events/{eventId}:
    get:
      operationId: MLB-TeamsinglegamestatsMLB-Statistics
      summary: MLB - Single game stats for a team
      tags:
      - MLB - Statistics
      parameters:
      - name: teamId
        type: integer
        description: Team ID.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Game ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/teams/{teamId}/events/:
    get:
      operationId: MLB-Teamgame-by-gamestatsMLB-Statistics
      summary: MLB - Team game logs.
      tags:
      - MLB - Statistics
      parameters:
      - name: teamId
        type: integer
        description: Team ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Game logs for games in the specified eventType only.n  Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Game logs among games in the specified eventRound only. Rounds
          are only relevant when eventTypeId = 2 (Postseason) is selectedn  Default
          - all rounds combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/coaches/{coachId}:
    get:
      operationId: MLB-Coachstats-CareerMLB-Statistics
      summary: MLB - Career stats for a single coach
      tags:
      - MLB - Statistics
      parameters:
      - name: coachId
        type: integer
        description: Coach Id.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Result will return only coach stats for the specific eventType.n
          Default - Regular Season
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Statistics among games in the specified eventRound only. Rounds
          are only relevant when eventTypeId = 2 (Postseason) is selectedn  Default
          - all rounds combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: splitId
        type: string
        description: Enter the stat split to be returned. (The decodes resource provides
          a list of available codes.)n  1. If omitted, only total stats (splitId =
          0) will be returned. n  2. If 'all', all the splits are returned.n  3. Otherwise,
          the entered split is returned.n  Default - totals (splitId = 0)
        in: query
        required: false
      - name: enc
        type: boolean
        description: The encyclopedia returns full career and season-by-season totals.n
          Notes:n  The encyclopedia is valid for a single coach only.  If coachId
          is omitted, 'enc=true' will be ignored.n  If 'enc=true', the seasonId will
          be ignored if included.n  Default - the current season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of umpires. Not all languages available
          for every name.n  Default - English is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/coaches/{coachId}/teams/{teamId}:
    get:
      operationId: MLB-CoachstatswhileononeteamMLB-Statistics
      summary: This is used when a coach is on more than one team...
      description: This is used when a coach is on more than one team in a season
        and you want only the stats for that team.
      tags:
      - MLB - Statistics
      parameters:
      - name: coachId
        type: integer
        description: Coach Id.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like MLB 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only coach stats for the specific eventType.n
          Default - Regular Season
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Statistics among games in the specified eventRound only. Rounds
          are only relevant when eventTypeId = 2 (Postseason) is selectedn  Default
          - all rounds combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: splitId
        type: string
        description: Enter the stat split to be returned. (The decodes resource provides
          a list of available codes.)n  1. If omitted, only total stats (splitId =
          0) will be returned. n  2. If 'all', all the splits are returned.n  3. Otherwise,
          the entered split is returned.n  Default - totals (splitId = 0)
        in: query
        required: false
      - name: teamId
        type: integer
        description: To get statistics for the coach above on one team only, enter
          team ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of coach & team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/coaches/teams/{teamId}:
    get:
      operationId: MLB-Allcoachstatsforoneteam-Year-to-dateMLB-Statistics
      summary: This will return all stats for all coaches on a te...
      description: This will return all stats for all coaches on a team in a given
        season.
      tags:
      - MLB - Statistics
      parameters:
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n   Note:
          Seasons that span years like MLB 2013-2014 would be entered as 2013. n  Default
          - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Result will return only coach stats for the specific eventType.n
          Default - Regular Season
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
      - name: eventRoundId
        type: integer
        description: Statistics among games in the specified eventRound only. Rounds
          are only relevant when eventTypeId = 2 (Postseason) is selectedn  Default
          - all rounds combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: splitId
        type: string
        description: Enter the stat split to be returned. (The decodes resource provides
          a list of available codes.)n  1. If omitted, only total stats (splitId =
          0) will be returned. n  2. If 'all', all the splits are returned.n  3. Otherwise,
          the entered split is returned.n  Default - totals (splitId = 0)
        in: query
        required: false
      - name: teamId
        type: integer
        description: To get all coach stats for one team, enter team ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of coach & team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/stats/umpires/{umpireId}:
    get:
      operationId: MLB-Umpirestats-Year-to-dateMLB-Statistics
      summary: MLB - Season stats for a single umpire
      tags:
      - MLB - Statistics
      parameters:
      - name: umpireId
        type: integer
        description: Umpire Id.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for games in the specified eventType only.n  Default
          - Regular Season
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: eventRoundId
        type: integer
        description: Statistics among games in the specified eventRound only. Rounds
          are only relevant when eventTypeId = 2 (Postseason) is selectedn  Default
          - all rounds combined
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
      - name: languageId
        type: string
        description: Select ID to change language of umpire. Not all languages available
          for every name.n  Default - English is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/transactions/:
    get:
      operationId: MLB-TransactionsMLB-Transactions
      summary: MLB - Get all transactions
      tags:
      - MLB - Transactions
      parameters:
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/transactions/players/{playerId}/:
    get:
      operationId: MLB-TransactionsbyplayerMLB-Transactions
      summary: MLB - Player transactions
      tags:
      - MLB - Transactions
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/transactions/players/{playerId}/teams/{teamId}/:
    get:
      operationId: MLB-TransactionsbyplayeronaspecificteamMLB-Transactions
      summary: MLB - Player transactions
      tags:
      - MLB - Transactions
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: teamId
        type: integer
        description: To get information for the above player on only one team, enter
          the appropriate team ID.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/transactions/teams/{teamId}:
    get:
      operationId: MLB-TransactionsbyteamMLB-Transactions
      summary: MLB - Team transactions
      tags:
      - MLB - Transactions
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/injuries/:
    get:
      operationId: MLB-injuriesMLB-Injuries
      summary: MLB - Get all injuries
      tags:
      - MLB - Injuries
      parameters:
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/injuries/players/{playerId}/:
    get:
      operationId: MLB-InjuriesbyplayerMLB-Injuries
      summary: MLB - Player Injuries
      tags:
      - MLB - Injuries
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/injuries/players/{playerId}/teams/{teamId}/:
    get:
      operationId: MLB-InjuriesbyplayeronaspecificteamMLB-Injuries
      summary: MLB - Player Injuries
      tags:
      - MLB - Injuries
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: teamId
        type: integer
        description: To get information for the above player on only one team, enter
          the appropriate team ID.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/injuries/teams/{teamId}:
    get:
      operationId: MLB-InjuriesbyteamMLB-Injuries
      summary: MLB - Team injuries
      tags:
      - MLB - Injuries
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/injuryDetails/:
    get:
      operationId: MLB-InjuryDetailsMLB-InjuryDetails
      summary: MLB - Get all injury details
      tags:
      - MLB - Injury Details
      parameters:
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY. n  Default
          - the current season
        in: query
        required: false
      - name: lastUpdatedStartDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: lastUpdatedEndDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/injuryDetails/players/{playerId}:
    get:
      operationId: MLB-InjuryDetailsbyplayerMLB-InjuryDetails
      summary: MLB - Injury Details for one player
      tags:
      - MLB - Injury Details
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY. n  Default
          - the current season
        in: query
        required: false
      - name: lastUpdatedStartDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: lastUpdatedEndDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/injuryDetails/teams/{teamId}:
    get:
      operationId: MLB-InjuryDetailsbyteamMLB-InjuryDetails
      summary: MLB - Team injury details
      tags:
      - MLB - Injury Details
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY. n  Default
          - the current season
        in: query
        required: false
      - name: lastUpdatedStartDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: lastUpdatedEndDate
        type: string
        description: 'If used, lastUpdatedStartDate and lastUpdatedEndDate must both
          be entered.  All items between the two dates (inclusive) will be returned.n  Format:
          YYYYMMDD or YYYY-MM-DD.n  Default - If not used, the last 7 days items will
          be returned.'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/playerNews/:
    get:
      operationId: MLB-PlayernewsMLB-PlayerNews
      summary: MLB - Get all player news
      tags:
      - MLB - Player News
      parameters:
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/playerNews/players/{playerId}:
    get:
      operationId: MLB-PlayernewsbyplayerMLB-PlayerNews
      summary: MLB - Player news for one player
      tags:
      - MLB - Player News
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/playerNews/players/{playerId}/teams/{teamId}/:
    get:
      operationId: MLB-PlayernewsbyplayeronaspecificteamMLB-PlayerNews
      summary: MLB - Player news for one player
      tags:
      - MLB - Player News
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: To get data for a different season, enter the year as YYYY.n  Default
          - the current season
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/playerNews/teams/{teamId}:
    get:
      operationId: MLB-PlayernewsbyteamMLB-PlayerNews
      summary: MLB - Team player news
      tags:
      - MLB - Player News
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like MLB 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/baseball/mlb/leaders/:
    get:
      operationId: MLB-LeadersMLB-Leaders
      summary: MLB - Leaders
      tags:
      - MLB - Leaders
      parameters:
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.  The decodes resource provides a
          list of available codes. n  Default - Blank (returns batting average).
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties), utilizing ranked players only if nonQualifiers is false/null;
          else will utilize ordered players.
        in: query
        required: false
      - name: nonQualifiers
        type: boolean
        description: Should non-qualifiers be returned?n  Default - false
        in: query
        required: false
      - name: sortType
        type: string
        description: To return 'worst' players (trailers) rather than 'best' players
          (leaders) in a category, select sortType = worst. Trailers are not available
          for every leaderCategoryId.n  Default - If the sortType parameter is not
          used, leaders will be returned.
        in: query
        required: false
        enum:
        - worst
      - name: conferenceId
[...]
