---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:17:\"Basketball - WCBK\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:34:\"http://developer.stats.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:350:\"The
  API calls below can be used to test the Input and Output of our API endpoints.  You'll
  need an API key and an assigned secret to access the live data and so if you haven't
  contacted us yet, now is the time!  Our sales staff would be happy to set you up
  with trial access so you can begin to evaluate the product. WCBK - Women's College
  Basketball\";s:12:\"x-mashery-id\";s:4:\"1627\";}"
host: api.stats.com
basePath: /
paths:
  /stats/basketball/wcbk/teams/{teamId}:
    get:
      operationId: WCBK-TeamsWCBK-Teams
      summary: ""
      tags:
      - WCBK - Teams
      parameters:
      - name: teamId
        type: integer
        description: A teamId returns information for that team only.  If entered,
          then the conferenceId is ignored.
        in: path
        required: true
      - name: conferenceId
        type: integer
        description: A conferenceId returns teams in the selected conference.
        in: query
        required: false
      - name: collegeSubDivisionId
        type: string
        description: Entering a collegeSubDivisionId will return only the teams in
          that division
        in: query
        required: false
        enum:
        - "1"
        - other
      - name: season
        type: integer
        description: 'To get team lists for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & venue names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/events/{eventId}:
    get:
      operationId: WCBK-IfpermissionedforalleventinformationWCBK-Schedules,scores,boxscores
      summary: Access to this events endpoint will provide you wi...
      description: Access to this events endpoint will provide you with the highest
        level of game data including live scores and box scores.  The first 2 parameters
        (eventId, box) are only applicable for a specific game.n Events will also
        provide you with schedule data.
      tags:
      - WCBK - Schedules, scores, box scores
      parameters:
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box request.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: conferenceId
        type: integer
        description: A conferenceId returns teams in the selected conference.
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: top25PollId
        type: integer
        description: If used, will return only games involving top 25 teams for the
          selected pollId. Only applicable for a single day's games, and therefore
          must be used in conjunction with the &date paramenter, or the default (current
          day) call.
        in: query
        required: false
        enum:
        - "1"
        - "3"
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: tournamentId
        type: integer
        description: Schedule will be returned for games for this tournament.n  Default
          - Regular Season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/events/teams/{teamId}:
    get:
      operationId: WCBK-Ifpermissionedforalleventinformation-foroneteamonlyWCBK-Schedules,scores,boxscores
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information.
      tags:
      - WCBK - Schedules, scores, box scores
      parameters:
      - name: teamId
        type: integer
        description: ""
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: top25PollId
        type: integer
        description: If used, will return only games involving top 25 teams for the
          selected pollId. Only applicable for a single day's games, and therefore
          must be used in conjunction with the &date paramenter, or the default (current
          day) call.
        in: query
        required: false
        enum:
        - "1"
        - "3"
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: tournamentId
        type: integer
        description: Schedule will be returned for games for this tournament.n  Default
          - Regular Season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/box/{eventId}:
    get:
      operationId: WCBK-Ifpermissionedforjustschedules,scoresandboxscoresWCBK-Schedules,scores,boxscores
      summary: The box/ resource provides scores/schedules and bo...
      description: The box/ resource provides scores/schedules and box score information
        for WCBK events.
      tags:
      - WCBK - Schedules, scores, box scores
      parameters:
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box request.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: conferenceId
        type: integer
        description: A conferenceId returns teams in the selected conference.
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: top25PollId
        type: integer
        description: If used, will return only games involving top 25 teams for the
          selected pollId. Only applicable for a single day's games, and therefore
          must be used in conjunction with the &date paramenter, or the default (current
          day) call.
        in: query
        required: false
        enum:
        - "1"
        - "3"
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: tournamentId
        type: integer
        description: Schedule will be returned for games for this tournament.n  Default
          - Regular Season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/box/teams/{teamId}:
    get:
      operationId: WCBK-Ifpermissionedforjustschedules,scoresandboxscores-foroneteamonlyWCBK-Schedules,scores,boxscores
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information.
      tags:
      - WCBK - Schedules, scores, box scores
      parameters:
      - name: teamId
        type: integer
        description: ""
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: top25PollId
        type: integer
        description: If used, will return only games involving top 25 teams for the
          selected pollId. Only applicable for a single day's games, and therefore
          must be used in conjunction with the &date paramenter, or the default (current
          day) call.
        in: query
        required: false
        enum:
        - "1"
        - "3"
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: tournamentId
        type: integer
        description: Schedule will be returned for games for this tournament.n  Default
          - Regular Season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/scores/{eventId}:
    get:
      operationId: WCBK-IfpermissionedforjustschedulesandscoresWCBK-Schedules,scores,boxscores
      summary: The scores/ resource provides score and schedule i...
      description: The scores/ resource provides score and schedule information for
        WCBK events.  (Box is not an option.)
      tags:
      - WCBK - Schedules, scores, box scores
      parameters:
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.n Default - basic score data will be returned using date or season,
          if entered, else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: top25PollId
        type: integer
        description: If used, will return only games involving top 25 teams for the
          selected pollId. Only applicable for a single day's games, and therefore
          must be used in conjunction with the &date paramenter, or the default (current
          day) call.
        in: query
        required: false
        enum:
        - "1"
        - "3"
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: tournamentId
        type: integer
        description: Schedule will be returned for games for this tournament.n  Default
          - Regular Season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/scores/teams/{teamId}:
    get:
      operationId: WCBK-Ifpermissionedforjustschedulesandscores-foroneteamonlyWCBK-Schedules,scores,boxscores
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information.
      tags:
      - WCBK - Schedules, scores, box scores
      parameters:
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.n
          Default - basic score data will be returned using date or season, if entered,
          else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: top25PollId
        type: integer
        description: If used, will return only games involving top 25 teams for the
          selected pollId. Only applicable for a single day's games, and therefore
          must be used in conjunction with the &date paramenter, or the default (current
          day) call.
        in: query
        required: false
        enum:
        - "1"
        - "3"
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: tournamentId
        type: integer
        description: Schedule will be returned for games for this tournament.n  Default
          - Regular Season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/standings/:
    get:
      operationId: WCBK-StandingsWCBK-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - WCBK - Standings
      parameters:
      - name: expanded
        type: boolean
        description: Expanded includes additional data points for each team.n Default
          - false
        in: query
        required: false
      - name: conferenceId
        type: integer
        description: A conferenceId returns teams in the selected conference.
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/standings/teams/{teamId}:
    get:
      operationId: WCBK-StandingsforasingleteamWCBK-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - WCBK - Standings
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: expanded
        type: boolean
        description: Expanded includes additional data points for each team.n Default
          - false
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/participants/:
    get:
      operationId: WCBK-PlayersWCBK-Participants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        players and can be used to return information on a single player, a single
        teams roster, all teams rosters within the league, or all free agents.
      tags:
      - WCBK - Participants
      parameters:
      - name: sinceYearLast
        type: integer
        description: Anyone who last played since the requested year.  Enter year
          as YYYY.n  Default -
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/participants/teams/{teamId}:
    get:
      operationId: WCBK-AllplayersonasingleteamWCBK-Participants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        players and can be used to return information on a single player, a single
        teams roster, all teams rosters within the league, or all free agents.
      tags:
      - WCBK - Participants
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return roster for one team.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/participants/{playerId}:
    get:
      operationId: WCBK-SingleplayerWCBK-Participants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        players and can be used to return information on a single player, a single
        teams roster, all teams rosters within the league, or all free agents.
      tags:
      - WCBK - Participants
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/polls/:
    get:
      operationId: WCBK-PollsWCBK-Polls
      summary: College Basketball polls
      tags:
      - WCBK - Polls
      parameters:
      - name: pollId
        type: integer
        description: The decodes resource provides a list of available codes.n Default
          - Associated Press
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get polls for a different season, enter the year as YYYY.n
          Note: Seasons that span years like WCBK 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: pollDate
        type: string
        description: 'Returns the most recent poll less than or equal to the date
          entered.n Format: YYYYMMDD or YYYY-MM-DD.n  Default - the most recent poll'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/polls/teams/{teamId}:
    get:
      operationId: WCBK-PollinfoforoneteamWCBK-Polls
      summary: College Basketball polls
      tags:
      - WCBK - Polls
      parameters:
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: pollId
        type: integer
        description: The decodes resource provides a list of available codes.n Default
          - Associated Press
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get polls for a different season, enter the year as YYYY.n
          Note: Seasons that span years like WCBK 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/stats/players/{playerId}:
    get:
      operationId: WCBK-Playerstats-CareerWCBK-Statistics
      summary: WCBK - Season stats for a single player
      tags:
      - WCBK - Statistics
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for games in the specified eventType only.n  Default
          - All games (reg/post combined)
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: enc
        type: boolean
        description: The 'encyclopedia returns full career and season-by-season totals.n
          Notes:n  The encyclopedia is valid for a single player only.  If playerId
          is omitted, 'enc=true' will be ignored.n  If 'enc=true', the seasonId will
          be ignored if included.n  Default - the current season
        in: query
        required: false
      - name: careerOnly
        type: boolean
        description: For a single player's career stats, only to be used in conjunction
          with 'enc=true'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/stats/players/{playerId}/events/{eventId}:
    get:
      operationId: WCBK-PlayersinglegamestatsWCBK-Statistics
      summary: WCBK - Season stats for a single player
      tags:
      - WCBK - Statistics
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/stats/players/{playerId}/events/:
    get:
      operationId: WCBK-Playergame-by-gamestatsWCBK-Statistics
      summary: WCBK - A player's stats, game-by-game.
      tags:
      - WCBK - Statistics
      parameters:
      - name: playerId
        type: integer
        description: Player ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for games in the specified eventType only.n  Default
          - All games (reg/post combined)
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/stats/players/{playerId}/:
    get:
      operationId: WCBK-PlayersplitsWCBK-Statistics
      summary: WCBK - Player splits (breakdowns).
      tags:
      - WCBK - Statistics
      parameters:
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: splitId
        type: string
        description: Enter the stat split to be returned. (The decodes resource provides
          a list of available codes.)n  1. If omitted, only official total stats (splitId
          = -1) will be returned. n  2. If 'all', all the splits are returned.n  3.
          Otherwise, the entered split is returned.n  Default - Official totals (splitId
          = -1)
        in: query
        required: true
        default: "-1"
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: eventTypeId
        type: integer
        description: Statistics for games in the specified eventType only.n  Default
          - All games (reg/post combined)
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/stats/teams/{teamId}/:
    get:
      operationId: WCBK-TeamsplitsWCBK-Statistics
      summary: WCBK - Team splits (breakdowns).
      tags:
      - WCBK - Statistics
      parameters:
      - name: teamId
        type: integer
        description: Team ID.
        in: path
        required: true
      - name: splitId
        type: string
        description: Enter the stat split to be returned. (The decodes resource provides
          a list of available codes.)n  1. If omitted, only official total stats (splitId
          = -1) will be returned. n  2. If 'all', all the splits are returned.n  3.
          Otherwise, the entered split is returned.n  Default - Official totals (splitId
          = -1)
        in: query
        required: true
        default: "-1"
      - name: eventTypeId
        type: integer
        description: Statistics for games in the specified eventType only.n  Default
          - All games (reg/post combined)
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/stats/teams/{teamId}/events/{eventId}:
    get:
      operationId: WCBK-TeamsinglegamestatsWCBK-Statistics
      summary: WCBK - A team's stats, game-by-game.
      tags:
      - WCBK - Statistics
      parameters:
      - name: teamId
        type: integer
        description: Team ID.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/stats/teams/{teamId}/events/:
    get:
      operationId: WCBK-Teamgame-by-gameWCBK-Statistics
      summary: WCBK - A team's stats, game-by-game.
      tags:
      - WCBK - Statistics
      parameters:
      - name: teamId
        type: integer
        description: Team ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for games in the specified eventType only.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/leaders/:
    get:
      operationId: WCBK-LeadersWCBK-Leaders
      summary: WCBK - Leaders
      tags:
      - WCBK - Leaders
      parameters:
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.  The decodes resource provides a
          list of available codes. n  Default - Blank (returns Minutes).
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties), utilizing ranked players only if nonQualifiers is false/null;
          else will utilize ordered players.
        in: query
        required: false
      - name: nonQualifiers
        type: boolean
        description: Should non-qualifiers be returned?n  Default - false
        in: query
        required: false
      - name: sortType
        type: string
        description: To return 'worst' players (trailers) rather than 'best' players
          (leaders) in a category, select sortType = worst. Traliers are not available
          for every leaderCategoryId.n  Default - If the sortType parameter is not
          used, leaders will be returned.
        in: query
        required: false
        enum:
        - worst
      - name: conferenceId
        type: integer
        description: A conferenceId returns teams in the selected conference.
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Leaders among games in the specified eventType only.n  Default
          - All games (reg/post combined)
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: teamId
        type: integer
        description: To get data for players on one team only, enter the teamId.n  Default
          - all players
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/teamLeaders/:
    get:
      operationId: WCBK-TeamLeadersWCBK-TeamLeaders
      summary: WCBK - Team Leaders
      tags:
      - WCBK - Team Leaders
      parameters:
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.  The decodes resource provides a
          list of available codes. n  Default - Blank (returns Points per Game).
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties).
        in: query
        required: false
      - name: nonQualifiers
        type: boolean
        description: Should non-qualifiers be returned?n  Default - false
        in: query
        required: false
      - name: sortType
        type: string
        description: To return 'worst' teams (trailers) rather than 'best' teams (leaders)
          in a category, select sortType = worst. Traliers are not available for every
          leaderCategoryId.n  Default - If the sortType parameter is not used, leaders
          will be returned.
        in: query
        required: false
        enum:
        - worst
      - name: conferenceId
        type: integer
        description: A conferenceId returns teams in the selected conference.
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Leaders among games in the specified eventType only.n  Default
          - All games (reg/post combined)
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/wcbk/dailyLeaders/:
    get:
      operationId: WCBK-DailyLeadersWCBK-DailyLeaders
      summary: WCBK - Daily Leaders
      tags:
      - WCBK - Daily Leaders
      parameters:
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.n  Default - Blank (returns points).
        in: query
        required: false
        enum:
        - "3"
        - "6"
        - "15"
        - "18"
        - "21"
        - "27"
        - "33"
        - "39"
      - name: date
        type: string
        description: 'Leaders in games played on specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties), utilizing ranked players only if nonQualifiers is false/null;
          else will utilize ordered players.
        in: query
        required: false
      - name: conferenceId
        type: integer
        description: Leaders among specified conference only. For example, Big Ten
          = 114. See conferences decode endpoint for full list.n  Default - all WCBK
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Leaders among games in the specified eventType only.n  Default
          - all event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: eventRoundId
        type: integer
        description: Leaders among games in the specified eventRound only. See eventRounds
          decode endpoint for full list.n  Default - all rounds
        in: query
        required: false
      - name: teamId
        type: integer
        description: To get data for players on one team only, enter the teamId.n  Default
          - all players
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/stories/recent/:
    get:
      operationId: WCBK-RecentstoriesWCBK-Stories,Headlines,Images
      summary: Recent stories for the selected league.
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/articles/recent/:
    get:
      operationId: WCBK-RecentArticlesWCBK-Stories,Headlines,Images
      summary: Recent stories for the selected league.
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/stories/recent/teams/{teamId}/:
    get:
      operationId: WCBK-RecentstoriesbyteamWCBK-Stories,Headlines,Images
      summary: Recent stories for the selected league/team.
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: teamId
        type: integer
        description: ID of the team in the selected league.
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/articles/recent/teams/{teamId}/:
    get:
      operationId: WCBK-RecentArticlesbyteamWCBK-Stories,Headlines,Images
      summary: Recent stories for the selected league/team.
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: teamId
        type: integer
        description: ID of the team in the selected league.
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/stories/{storyId}/:
    get:
      operationId: WCBK-FullstoryWCBK-Stories,Headlines,Images
      summary: Get the full story for a storyId found in headline...
      description: Get the full story for a storyId found in headlines or stories.
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: storyId
        type: integer
        description: storyId
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/articles/{storyId}/:
    get:
      operationId: WCBK-FullArticleWCBK-Stories,Headlines,Images
      summary: Get the full article for a storyId found in headli...
      description: Get the full article for a storyId found in headlines or articles.
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: storyId
        type: integer
        description: storyId
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/stories/previews/events/{eventId}/:
    get:
      operationId: WCBK-Previews-Availableforoneevent,WCBKNCAATournamentonlyWCBK-Stories,Headlines,Images
      summary: Preview for one specific event, must identify leag...
      description: Preview for one specific event, must identify league, and eventId
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: eventId
        type: integer
        description: Enter event ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/stories/recaps/events/{eventId}/:
    get:
      operationId: WCBK-Recaps-AvailableforoneeventWCBK-Stories,Headlines,Images
      summary: Recap for one specific event, must identify sport,...
      description: Recap for one specific event, must identify sport, league, and
        eventId
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: eventId
        type: integer
        description: Enter event ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/articles/recaps/events/{eventId}/:
    get:
      operationId: WCBK-RecapsArticles-AvailableforoneeventWCBK-Stories,Headlines,Images
      summary: Recap for one specific event, must identify sport,...
      description: Recap for one specific event, must identify sport, league, and
        eventId
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: eventId
        type: integer
        description: Enter event ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/images/list/:
    get:
      operationId: WCBK-ListofavailableimagesWCBK-Stories,Headlines,Images
      summary: List of available images.
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      - name: originId
        type: integer
        description: Origin of given images.n  Default - All origins are returned
          when nothing is selected
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/photos/list/:
    get:
      operationId: WCBK-ListofavailablephotosWCBK-Stories,Headlines,Images
      summary: List of available photos.
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      - name: originId
        type: integer
        description: Origin of given images.n  Default - All origins are returned
          when nothing is selected
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/images/{imageSize}/{imageId}/:
    get:
      operationId: RetrieveimageWCBK-Stories,Headlines,Images
      summary: ""
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: imageSize
        type: string
        description: Options are:n  'p128', 'p256', 'p512', 'pMax'
        in: path
        required: true
        enum:
        - p128
        - p256
        - p512
        - pMax
      - name: imageId
        type: integer
        description: Photo ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/basketball/wcbk/photos/{imageSize}/{imageId}/:
    get:
      operationId: RetrievePhotoWCBK-Stories,Headlines,Images
      summary: ""
      tags:
      - WCBK - Stories, Headlines, Images
      parameters:
      - name: imageSize
        type: string
        description: Options are:n  'p128', 'p256', 'p512', 'pMax'
        in: path
        required: true
        enum:
        - p128
        - p256
        - p512
        - pMax
      - name: imageId
        type: integer
        description: Photo ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /decode/basketball/wcbk/{decodeType}:
    get:
      operationId: WCBK-DecodesWCBK-Decodes
      summary: WCBK - Decodes
      tags:
      - WCBK - Decodes
      parameters:
      - name: decodeType
        type: integer
        description: The data type to be decoded.
        in: path
        required: true
        enum:
        - collegeSubDivisions
        - conferences
        - divisions
        - dnpTypes
        - eventRounds
        - eventStatuses
        - eventTypes
        - leaderCategories
        - playDetails
        - playEvents
        - polls
        - positions
        - regions
        - seasonStructure
        - splits
        - tournaments
        - tvStations
        - venues
      - name: season
        type: integer
        description: 'For seasonStructure only. To get structure for a single season,
          enter the year as YYYY.n Note: Seasons that span years like NBA 2013-2014
          would be entered as 2013.n  Default - the current season'
        in: query
        required: false
      - name: allSeasons
        type: boolean
        description: For seasonStructure only. To get complete history of league,
          select allSeasons=TRUE. Only those permissioned for all historic data will
          be able to utilize the 'allSeasons' option.n  Default - false
        in: query
        required: false
      - name: languageId
        type: string
        description: For venues only. Select ID to change language of venue names.
          Not all languages available for every name.n  Default - English is returned
          when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
