---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:6:\"Soccer\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:34:\"http://developer.stats.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:323:\"The
  API calls below can be used to test the Input and Output of our API endpoints.  You'll
  need an API key and an assigned secret to access the live data and so if you haven't
  contacted us yet, now is the time!  Our sales staff would be happy to set you up
  with trial access so you can begin to evaluate the product. Soccer\";s:12:\"x-mashery-id\";s:4:\"1787\";}"
host: api.stats.com
basePath: /
paths:
  /stats/soccer/leagues/:
    get:
      operationId: Soccer-LeaguesSoccer-Leagues
      summary: The soccer leagues endpoint serves as a decode for...
      description: The soccer leagues endpoint serves as a decode for the available
        leagues names, abbrevaitions, and URI paths.
      tags:
      - Soccer - Leagues
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/teams/{teamId}:
    get:
      operationId: Soccer-TeamsSoccer-Teams
      summary: The teams endpoint will be your source for team na...
      description: The teams endpoint will be your source for team names, locations,
        abbreviations, and IDs.  You can get information about a single team by including
        the teamId.  If you do not include a teamId, you will get all the teams for
        the league
      tags:
      - Soccer - Teams
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get events for a different sub-season, enter the sub-season
          integer value.n  Default - the current sub-season
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Events will be returned for the specified eventType.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Events will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - all rounds
        in: query
        required: false
      - name: allTeams
        type: boolean
        description: The /teams endpoint will by default return only teams in the
          most recent round. In order to see all teams in a league with multiple rounds,
          set allTeams to true.
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & venue names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/matches/{eventId}:
    get:
      operationId: Soccer-IfpermissionedfortheTIER6+/matchesendpoint(alleventinfo,uptoplaybyplays)Soccer-Schedules,scores,boxscores,play-by-play,andcommentary
      summary: Access to the matches endpoint will provide you wi...
      description: Access to the matches endpoint will provide you with live scores,
        box scores, and play-by-plays.  The box, pbp, & touches parameters are only
        available when a single game is selected.n Simple schedules are also available
        via the events endpoint.
      tags:
      - Soccer - Schedules, scores, box scores, play-by-play, and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box, pbp, and touches parameters.n Default
          - basic score data will be returned using date or season, if entered, else
          the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: pbp
        type: boolean
        description: Returns the play-by-play for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'pbp=true'.n  Default
          - pbp data will not be returned
        in: query
        required: false
      - name: touches
        type: boolean
        description: Returns touch data, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'touches=true'.n  Default - touch data will not be returned
        in: query
        required: false
      - name: breakdowns
        type: boolean
        description: Returns breakdown data, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'breakdowns=true'.n  Default - breakdown data will not be returned
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all events
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get events for a different sub-season, enter the sub-season
          integer value.n  Default - the current sub-season
        in: query
        required: false
      - name: week
        type: integer
        description: Will return all events from a specific week number.n Default
          - all weeks
        in: query
        required: false
      - name: originalWeek
        type: integer
        description: Will return all events from a specific original week number.n
          Default - all weeks
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Events will be returned for the specified eventType.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Events will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - all rounds
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/insights/{eventId}:
    get:
      operationId: Soccer-Ifpermissionedforthe/insightsendpoint(alleventinfo,uptoinsights)Soccer-Schedules,scores,boxscores,play-by-play,andcommentary
      summary: Access to the insights endpoint will provide you w...
      description: Access to the insights endpoint will provide you with the highest
        level of game data including live scores, box scores, play-by-play, manual
        commentary, and reporter insights.  The box, pbp, touches, commentary and
        insights parameters are only available when a single game is selected.n Simple
        schedules are also available via the insights endpoint.
      tags:
      - Soccer - Schedules, scores, box scores, play-by-play, and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box, pbp, touches, commentary parameters.n
          Default - basic score data will be returned using date or season, if entered,
          else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: pbp
        type: boolean
        description: Returns the play-by-play for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'pbp=true'.n  Default
          - pbp data will not be returned
        in: query
        required: false
      - name: touches
        type: boolean
        description: Returns touch data, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'touches=true'.n  Default - touch data will not be returned
        in: query
        required: false
      - name: autoCommentary
        type: boolean
        description: Returns automated commentary, when available, for a specific
          in-progress or concluded event.  An eventId must also be entered in conjunction
          with 'autoCommentary=true'.n  Default - Automated commentary will not be
          returned
        in: query
        required: false
      - name: commentary
        type: boolean
        description: Returns manual commentary, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'commentary=true'.n  Default - Commentary will not be returned
        in: query
        required: false
      - name: insights
        type: boolean
        description: Returns reporter insights, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'insights=true'.n  Default - Insights WILL be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all events
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get events for a different sub-season, enter the sub-season
          integer value.n  Default - the current sub-season
        in: query
        required: false
      - name: week
        type: integer
        description: Will return all events from a specific week number.n Default
          - all weeks
        in: query
        required: false
      - name: originalWeek
        type: integer
        description: Will return all events from a specific original week number.n
          Default - all weeks
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Events will be returned for the specified eventType.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Events will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - all rounds
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/comm/{eventId}:
    get:
      operationId: Soccer-Ifpermissionedforthe/commendpoint(alleventinfo,uptomanualcommentary)Soccer-Schedules,scores,boxscores,play-by-play,andcommentary
      summary: Access to the comm endpoint will provide you with ...
      description: Access to the comm endpoint will provide you with the highest level
        of game data including live scores, box scores, play-by-play, and manual commentary.  The
        box, pbp, touches & commentary parameters are only available when a single
        game is selected.n Simple schedules are also available via the comm endpoint.
      tags:
      - Soccer - Schedules, scores, box scores, play-by-play, and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box, pbp, touches, commentary parameters.n
          Default - basic score data will be returned using date or season, if entered,
          else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: pbp
        type: boolean
        description: Returns the play-by-play for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'pbp=true'.n  Default
          - pbp data will not be returned
        in: query
        required: false
      - name: touches
        type: boolean
        description: Returns touch data, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'touches=true'.n  Default - touch data will not be returned
        in: query
        required: false
      - name: autoCommentary
        type: boolean
        description: Returns automated commentary, when available, for a specific
          in-progress or concluded event.  An eventId must also be entered in conjunction
          with 'autoCommentary=true'.n  Default - Automated commentary will not be
          returned
        in: query
        required: false
      - name: commentary
        type: boolean
        description: Returns manual commentary, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'commentary=true'.n  Default - Commentary will not be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all events
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get events for a different sub-season, enter the sub-season
          integer value.n  Default - the current sub-season
        in: query
        required: false
      - name: week
        type: integer
        description: Will return all events from a specific week number.n Default
          - all weeks
        in: query
        required: false
      - name: originalWeek
        type: integer
        description: Will return all events from a specific original week number.n
          Default - all weeks
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Events will be returned for the specified eventType.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Events will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - all rounds
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/autoComm/{eventId}:
    get:
      operationId: Soccer-Ifpermissionedforthe/autoCommendpoint(alleventinfo,uptoautomatedcommentary)Soccer-Schedules,scores,boxscores,play-by-play,andcommentary
      summary: Access to the autoComm endpoint will provide you w...
      description: Access to the autoComm endpoint will provide you with live scores,
        box scores, play-by-play, and automated commentary.  The box, pbp, touches
        & commentary parameters are only available when a single game is selected.n
        Simple schedules are also available via the autoComm endpoint.
      tags:
      - Soccer - Schedules, scores, box scores, play-by-play, and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box, pbp, touches, commentary parameters.n
          Default - basic score data will be returned using date or season, if entered,
          else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: pbp
        type: boolean
        description: Returns the play-by-play for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'pbp=true'.n  Default
          - pbp data will not be returned
        in: query
        required: false
      - name: touches
        type: boolean
        description: Returns touch data, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'touches=true'.n  Default - touch data will not be returned
        in: query
        required: false
      - name: autoCommentary
        type: boolean
        description: Returns automated commentary, when available, for a specific
          in-progress or concluded event.  An eventId must also be entered in conjunction
          with 'autoCommentary=true'.n  Default - Automated commentary will not be
          returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all events
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get events for a different sub-season, enter the sub-season
          integer value.n  Default - the current sub-season
        in: query
        required: false
      - name: week
        type: integer
        description: Will return all events from a specific week number.n Default
          - all weeks
        in: query
        required: false
      - name: originalWeek
        type: integer
        description: Will return all events from a specific original week number.n
          Default - all weeks
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Events will be returned for the specified eventType.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Events will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - all rounds
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/events/{eventId}:
    get:
      operationId: Soccer-Ifpermissionedforthe/eventsendpoint(alleventinfo,uptoplaybyplays)Soccer-Schedules,scores,boxscores,play-by-play,andcommentary
      summary: Access to the events endpoint will provide you wit...
      description: Access to the events endpoint will provide you with live scores,
        box scores, and play-by-plays.  The box, pbp, & touches parameters are only
        available when a single game is selected.n Simple schedules are also available
        via the events endpoint.
      tags:
      - Soccer - Schedules, scores, box scores, play-by-play, and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box, pbp, and touches parameters.n Default
          - basic score data will be returned using date or season, if entered, else
          the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: pbp
        type: boolean
        description: Returns the play-by-play for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'pbp=true'.n  Default
          - pbp data will not be returned
        in: query
        required: false
      - name: touches
        type: boolean
        description: Returns touch data, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'touches=true'.n  Default - touch data will not be returned
        in: query
        required: false
      - name: breakdowns
        type: boolean
        description: Returns breakdown data, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'breakdowns=true'.n  Default - breakdown data will not be returned
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all events
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get events for a different sub-season, enter the sub-season
          integer value.n  Default - the current sub-season
        in: query
        required: false
      - name: week
        type: integer
        description: Will return all events from a specific week number.n Default
          - all weeks
        in: query
        required: false
      - name: originalWeek
        type: integer
        description: Will return all events from a specific original week number.n
          Default - all weeks
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Events will be returned for the specified eventType.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Events will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - all rounds
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/box/{eventId}:
    get:
      operationId: Soccer-Ifpermissionedforthe/boxendpoint(alleventinfo,uptoboxscores)Soccer-Schedules,scores,boxscores,play-by-play,andcommentary
      summary: Access to the box endpoint will provide you with l...
      description: Access to the box endpoint will provide you with live scores and
        box scores.  The box parameter is only available when a single game is selected.n
        Simple schedules are also available via the box endpoint.
      tags:
      - Soccer - Schedules, scores, box scores, play-by-play, and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box parameter.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all events
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get events for a different sub-season, enter the sub-season
          integer value.n  Default - the current sub-season
        in: query
        required: false
      - name: week
        type: integer
        description: Will return all events from a specific week number.n Default
          - all weeks
        in: query
        required: false
      - name: originalWeek
        type: integer
        description: Will return all events from a specific original week number.n
          Default - all weeks
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Events will be returned for the specified eventType.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Events will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - all rounds
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/scores/{eventId}:
    get:
      operationId: Soccer-Ifpermissionedforthe/scoresendpoint(scoresandschedulesonly)Soccer-Schedules,scores,boxscores,play-by-play,andcommentary
      summary: Access to the scores endpoint will provide you wit...
      description: Access to the scores endpoint will provide you with schedules and
        live scores only.
      tags:
      - Soccer - Schedules, scores, box scores, play-by-play, and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.n Default - basic score data will be returned using date or season,
          if entered, else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all events
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get events for a different sub-season, enter the sub-season
          integer value.n  Default - the current sub-season
        in: query
        required: false
      - name: week
        type: integer
        description: Will return all events from a specific week number.n Default
          - all weeks
        in: query
        required: false
      - name: originalWeek
        type: integer
        description: Will return all events from a specific original week number.n
          Default - all weeks
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Events will be returned for the specified eventType.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Events will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - all rounds
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/projections/{eventId}:
    get:
      operationId: Soccer-ProjectionsSoccer-Projections
      summary: The soccer projections endpoint provides pre-match...
      description: The soccer projections endpoint provides pre-match and live projections
        of a particular match.
      tags:
      - Soccer - Projections
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: eventId
        type: integer
        description: To get the projection of a match, enter its ID.
        in: path
        required: true
      - name: oddsbyevent
        type: boolean
        description: Get match odds by play by play event sequencen  Default - odds
          by events will not be returned
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/participants/:
    get:
      operationId: Soccer-PlayersSoccer-Participants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        players and can be used to return information on a single player, a single
        teams roster, or all teams rosters within the league.
      tags:
      - Soccer - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: sinceYearLast
        type: integer
        description: Anyone who last played since the requested year.  Enter year
          as YYYY.n  Default - Current rosters for all teams in league
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/participants/teams/{teamId}:
    get:
      operationId: Soccer-AllplayersonasingleteamSoccer-Participants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        players and can be used to return information on a single player, a single
        teams roster, or all teams rosters within the league.
      tags:
      - Soccer - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: teamId
        type: integer
        description: Provide team ID to return roster for one team.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/participants/{playerId}:
    get:
      operationId: Soccer-SingleplayerSoccer-Participants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        players and can be used to return information on a single player, a single
        teams roster, or all teams rosters within the league.
      tags:
      - Soccer - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/referees/:
    get:
      operationId: Soccer-RefereesSoccer-Participants
      summary: The referees endpoint provides biographical inform...
      description: The referees endpoint provides biographical information for referees.
        Default call returns all active refs.
      tags:
      - Soccer - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: sinceYearLast
        type: integer
        description: Returns all referees who participated since the requested year.  Enter
          year as YYYY.n If no year selected, all active referees will be returned.
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of referee & country names. Not
          all languages available for every name.n  Default - English is returned
          when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/referees/{refereeId}:
    get:
      operationId: Soccer-SinglerefereeSoccer-Participants
      summary: The referees endpoint provides biographical inform...
      description: The referees endpoint provides biographical information on a single
        referee.
      tags:
      - Soccer - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: refereeId
        type: integer
        description: To get information on a specific referee, enter their ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of referee & country names. Not
          all languages available for every name.n  Default - English is returned
          when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/standings/:
    get:
      operationId: Soccer-StandingsSoccer-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - Soccer - Standings
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: expanded
        type: boolean
        description: Expanded includes additional data points for each team. Not avaialble
          for live standings.n Default - false
        in: query
        required: false
      - name: live
        type: boolean
        description: Where available, live standings reflect projected standings based
          on in-progress matches.n  Default - false, live standings will not be returned
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get standings for a different sub-season, enter the sub-season
          integer value.n  Default - the current sub-season
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Standings will be returned for the specified eventType.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Standings will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - Latest round
        in: query
        required: false
      - name: conferenceId
        type: integer
        description: Standings will be returned for the specified conference only.n  Default
          - When used without eventTypeId and eventRoundId, will default to latest
          round
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/standings/teams/{teamId}:
    get:
      operationId: Soccer-StandingsforasingleteamSoccer-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - Soccer - Standings
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: teamId
        type: integer
        description: Provide team ID to return standings for one team.
        in: path
        required: true
      - name: expanded
        type: boolean
        description: Expanded includes additional data points for each team. Not avaialble
          for live standings.n Default - false
        in: query
        required: false
      - name: live
        type: boolean
        description: Where available, live standings reflect projected standings based
          on in-progress matches.n  Default - false, live standings will not be returned
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To standings for a different sub-season, enter the sub-season
          integer value.n  Default - the current sub-season
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Standings will be returned for the specified eventType.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Events will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - Latest round
        in: query
        required: false
      - name: conferenceId
        type: integer
        description: Standings will be returned for the specified conference only.n  Default
          - When used without eventTypeId and eventRoundId, will default to latest
          round
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/stats/players/{playerId}:
    get:
      operationId: Soccer-Playerstats-CareerSoccer-Statistics
      summary: Soccer - Career stats for a single player
      tags:
      - Soccer - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: enc
        type: boolean
        description: The encyclopedia returns full career and season-by-season totals.n  Default
          - when false, returns the current season only
        in: query
        required: false
      - name: careerOnly
        type: boolean
        description: For a single player's career stats, only to be used in conjunction
          with 'enc=true'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Statistics for matches in the specified eventType only.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Statistics will be returned for the specified round. Must be
          used in conjunction with eventTypeId. See the eventRounds decode endpoint
          for rounds specific to each league & event type.n Default - All rounds combined
        in: query
        required: false
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team and players names
          (where available).n  Default - English
        in: query
        required: false
      - name: breakdowns
        type: boolean
        description: Returns breakdown data, when available.n  Default - breakdown
          data will not be returned
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/stats/players/{playerId}/events/{eventId}:
    get:
      operationId: Soccer-PlayersinglegamestatsSoccer-Statistics
      summary: Soccer - Single game stats for one player
      tags:
      - Soccer - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team and players names
          (where available).n  Default - English
        in: query
        required: false
      - name: breakdowns
        type: boolean
        description: Returns breakdown data, when available.n  Default - breakdown
          data will not be returned
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/stats/players/{playerId}/events/:
    get:
      operationId: Soccer-Playergame-by-gamelogsSoccer-Statistics
      summary: Soccer - game-by-game statistics for a single play...
      description: Soccer - game-by-game statistics for a single player
      tags:
      - Soccer - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for matches in the specified eventType only.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Statistics will be returned for the specified round. Must be
          used in conjunction with eventTypeId. See the eventRounds decode endpoint
          for rounds specific to each league & event type.n Default - All rounds combined
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get statistics for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To statistics for a different sub-season, enter the sub-season
          integer value.n  Default - the most recent sub-season
        in: query
        required: false
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team and players names
          (where available).n  Default - English
        in: query
        required: false
      - name: breakdowns
        type: boolean
        description: Returns breakdown data, when available.n  Default - breakdown
          data will not be returned
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/stats/players/{playerId}/teams/{teamId}:
    get:
      operationId: Soccer-PlayerstatswhileononeteamSoccer-Statistics
      summary: Soccer - Season stats for a single player
      tags:
      - Soccer - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: teamId
        type: integer
        description: To get statistics for the player above on one team only, enter
          team ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for matches in the specified eventType only.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Statistics will be returned for the specified round. Must be
          used in conjunction with eventTypeId. See the eventRounds decode endpoint
          for rounds specific to each league & event type.n Default - All rounds combined
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get statistics for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To statistics for a different sub-season, enter the sub-season
          integer value.n  Default - the most recent sub-season
        in: query
        required: false
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team and players names
          (where available).n  Default - English
        in: query
        required: false
      - name: breakdowns
        type: boolean
        description: Returns breakdown data, when available.n  Default - breakdown
          data will not be returned
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/mls/stats/players/{playerId}/:
    get:
      operationId: Soccer-PlayerSplitsSoccer-Statistics
      summary: Soccer - Season stats for a single player
      tags:
      - Soccer - Statistics
      parameters:
      - name: playerId
        type: integer
        description: Player Id.
        in: path
        required: true
      - name: splitId
        type: string
        description: For MLS only, enter the split to be returned. The splitTypes
          decode provides a list of all available codes.n  1. If omitted, only total
          stats (splitId = 0) will be returned.n  2. If 'all', all the splits are
          returned.n  3. Otherwise, the entered split is returned.n  Default - totals
          (splitId = 0)
        in: query
        required: true
        default: "0"
      - name: eventTypeId
        type: integer
        description: Statistics for matches in the specified eventType only.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Statistics will be returned for the specified round. Must be
          used in conjunction with eventTypeId. See the eventRounds decode endpoint
          for rounds specific to each league & event type.n Default - All rounds combined
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get statistics for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To statistics for a different sub-season, enter the sub-season
          integer value.n  Default - the most recent sub-season
        in: query
        required: false
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team and players names
          (where available).n  Default - English
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/stats/teams/{teamId}:
    get:
      operationId: Soccer-Teamstats-Year-to-dateSoccer-Statistics
      summary: Soccer - Season stats for a single team
      tags:
      - Soccer - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: teamId
        type: integer
        description: Team Id.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for matches in the specified eventType only.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Statistics will be returned for the specified round. Must be
          used in conjunction with eventTypeId. See the eventRounds decode endpoint
          for rounds specific to each league & event type.n Default - All rounds combined
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get statistics for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To statistics for a different sub-season, enter the sub-season
          integer value.n  Default - the most recent sub-season
        in: query
        required: false
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team and players names
          (where available).n  Default - English
        in: query
        required: false
      - name: breakdowns
        type: boolean
        description: Returns breakdown data, when available.n  Default - breakdown
          data will not be returned
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/stats/teams/{teamId}/events/{eventId}:
    get:
      operationId: Soccer-TeamsinglegamestatsSoccer-Statistics
      summary: Soccer - Single game stats for one team
      tags:
      - Soccer - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: teamId
        type: integer
        description: Team Id.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team and players names
          (where available).n  Default - English
        in: query
        required: false
      - name: breakdowns
        type: boolean
        description: Returns breakdown data, when available.n  Default - breakdown
          data will not be returned
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/stats/teams/{teamId}/events/:
    get:
      operationId: Soccer-Teamgame-by-gamelogsSoccer-Statistics
      summary: Soccer - game-by-game statistics for a single team...
      description: Soccer - game-by-game statistics for a single team
      tags:
      - Soccer - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: teamId
        type: integer
        description: Team Id.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for matches in the specified eventType only.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Statistics will be returned for the specified round. Must be
          used in conjunction with eventTypeId. See the eventRounds decode endpoint
          for rounds specific to each league & event type.n Default - All rounds combined
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get statistics for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To statistics for a different sub-season, enter the sub-season
          integer value.n  Default - the most recent sub-season
        in: query
        required: false
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team and players names
          (where available).n  Default - English
        in: query
        required: false
      - name: breakdowns
        type: boolean
        description: Returns breakdown data, when available.n  Default - breakdown
          data will not be returned
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/mls/stats/teams/{teamId}/:
    get:
      operationId: Soccer-TeamSplitsSoccer-Statistics
      summary: Soccer - Season stats for a single team
      tags:
      - Soccer - Statistics
      parameters:
      - name: teamId
        type: integer
        description: Team Id.
        in: path
        required: true
      - name: splitId
        type: string
        description: For MLS only, enter the split to be returned. The splitTypes
          decode provides a list of all available codes.n  1. If omitted, only total
          stats (splitId = 0) will be returned.n  2. If 'all', all the splits are
          returned.n  3. Otherwise, the entered split is returned.n  Default - totals
          (splitId = 0)
        in: query
        required: true
        default: "0"
      - name: eventTypeId
        type: integer
        description: Statistics for matches in the specified eventType only.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Statistics will be returned for the specified round. Must be
          used in conjunction with eventTypeId. See the eventRounds decode endpoint
          for rounds specific to each league & event type.n Default - All rounds combined
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get statistics for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To statistics for a different sub-season, enter the sub-season
          integer value.n  Default - the most recent sub-season
        in: query
        required: false
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team and players names
          (where available).n  Default - English
        in: query
        required: false
      - name: breakdowns
        type: boolean
        description: Returns breakdown data, when available.n  Default - breakdown
          data will not be returned
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/stats/referees/{refereeId}:
    get:
      operationId: Soccer-Refereestats-Year-to-dateSoccer-Statistics
      summary: Soccer - Season stats for all active referees, or ...
      description: Soccer - Season stats for all active referees, or a single referee
      tags:
      - Soccer - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: refereeId
        type: integer
        description: Referee Id.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Statistics for matches in the specified eventType only.n  Default
          - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Statistics will be returned for the specified round. Must be
          used in conjunction with eventTypeId. See the eventRounds decode endpoint
          for rounds specific to each league & event type.n Default - All rounds combined
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get statistics for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To statistics for a different sub-season, enter the sub-season
          integer value.n  Default - the most recent sub-season
        in: query
        required: false
      - name: languageId
        type: integer
        description: Enter a language ID to change language of referee names (where
          available).n  Default - English
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/leaders/:
    get:
      operationId: Soccer-LeadersSoccer-Leaders
      summary: Soccer - Leaders
      tags:
      - Soccer - Leaders
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.  The decodes resource provides a
          list of available codes. n  Default - Blank (returns Goals).
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties), utilizing ranked players only if nonQualifiers is false/null;
          else will utilize ordered players.
        in: query
        required: false
      - name: nonQualifiers
        type: boolean
        description: Should non-qualifiers be returned?n  Default - false
        in: query
        required: false
      - name: sortType
        type: string
        description: To return 'worst' players (trailers) rather than 'best' players
          (leaders) in a category, select sortType = worst. Trailers are not available
          for every leaderCategoryId.n  Default - If the sortType parameter is not
          used, leaders will be returned.
        in: query
        required: false
        enum:
        - worst
      - name: eventTypeId
        type: integer
        description: Leaders will be returned for the specified eventType.n  Default
          - Regular Season when available, otherwise the lowest eventTypeId
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Leaders will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - Lowest eventRoundId
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get leaders for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get leaders for a different sub-season, enter the sub-season
          integer value.n  Default - the most recent sub-season
        in: query
        required: false
      - name: teamId
        type: integer
        description: To get leaders on one specific team only, enter the teamId.n  Default
          - leaders on all teams
        in: query
        required: false
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team and players names
          (where available).n  Default - English
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/teamLeaders/:
    get:
      operationId: Soccer-TeamLeadersSoccer-Leaders
      summary: Soccer - Team Leaders
      tags:
      - Soccer - Leaders
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.  The decodes resource provides a
          list of available codes. n  Default - Blank (returns Goals).
        in: query
        required: false
      - name: sortType
        type: string
        description: To return 'worst' teams (trailers) rather than 'best' teams (leaders)
          in a category, select sortType = worst. Trailers are not available for every
          leaderCategoryId.n  Default - If the sortType parameter is not used, leaders
          will be returned.
        in: query
        required: false
        enum:
        - worst
      - name: eventTypeId
        type: integer
        description: Leaders will be returned for the specified eventType.n  Default
          - Regular Season when available, otherwise the lowest eventTypeId
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
      - name: eventRoundId
        type: integer
        description: Leaders will be returned for the specified round. Must be used
          in conjunction with eventTypeId. See the eventRounds decode endpoint for
          rounds specific to each league & event type.n Default - Lowest eventRoundId
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get leaders for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: subSeason
        type: integer
        description: To get leaders for a different sub-season, enter the sub-season
          integer value.n  Default - the most recent sub-season
        in: query
        required: false
      - name: languageId
        type: integer
        description: Enter a language ID to change language of team names (where available).n  Default
          - English
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/injuries/:
    get:
      operationId: Soccer-InjuriesSoccer-Injuries
      summary: Soccer - Get all Injuries
      tags:
      - Soccer - Injuries
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: healed
        type: boolean
        description: 'Include injuries that have healed (ended)?n  Default - false:'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/injuries/players/{playerId}:
    get:
      operationId: Soccer-InjuriesbyplayerSoccer-Injuries
      summary: Soccer - Player Injuries
      tags:
      - Soccer - Injuries
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: healed
        type: boolean
        description: 'Include injuries that have healed (ended)?n  Default - false:'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/soccer/{leaguePath}/injuries/players/{playerId}/teams/{teamId}:
    get:
      operationId: Soccer-InjuriesbyplayeronaspecificteamSoccer-Injuries
      summary: By default, results include all injuries for a pla...
      description: By default, results include all injuries for a player (a) during
        the time period selected, (b) if the injury has not healed and (c) for all
        the teams the player was on during the time period.n To return only those
        injuries while a player is on a specific team, you must include /teams/:teamId
        in the URI.
      tags:
      - Soccer - Injuries
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the soccer/leagues
          endpoint
        in: path
        required: true
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: teamId
        type: integer
        description: To get information for the above player on only one team, enter
          the appropriate team ID.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
[...]
