---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:17:\"Olympics - Summer\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:34:\"http://developer.stats.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:334:\"The
  API calls below can be used to test the Input and Output of our API endpoints.  You'll
  need an API key and an assigned secret to access the live data and so if you haven't
  contacted us yet, now is the time!  Our sales staff would be happy to set you up
  with trial access so you can begin to evaluate the product. Olympics - Summer\";s:12:\"x-mashery-id\";s:4:\"3848\";}"
host: api.stats.com
basePath: /
paths:
  /stats/oly/smr_oly/{discipline}/medals/:
    get:
      operationId: Olympics-MedalsMedals
      summary: ""
      tags:
      - Medals
      parameters:
      - name: discipline
        type: string
        description: Select Discipline
        in: path
        required: true
        enum:
        - AN
        - AL
        - AQ
        - AR
        - AT
        - BA
        - BD
        - BK
        - BV
        - BX
        - CS
        - CA
        - CF
        - CK
        - CQ
        - CB
        - CM
        - CR
        - CY
        - CT
        - DV
        - EQ
        - FE
        - FS
        - FB
        - GO
        - GY
        - GA
        - GR
        - HB
        - HO
        - HK
        - JP
        - JU
        - LX
        - MP
        - MB
        - OW
        - PE
        - PO
        - RQ
        - RO
        - RU
        - SA
        - SH
        - SO
        - SB
        - SW
        - SY
        - TT
        - TK
        - TE
        - GT
        - TR
        - TG
        - VO
        - WP
        - WL
        - WR
      - name: gender
        type: string
        description: Returns the gender selected.n  Default - All genders are returned
        in: query
        required: false
        enum:
        - M
        - W
      - name: season
        type: string
        description: Returns season selected n Default current season
        in: query
        required: false
      - name: alltime
        type: boolean
        description: Returns All seasons n Default current season
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/oly/SMR_OLY/bios/{playerId}:
    get:
      operationId: Olympics-BiosBios
      summary: Returns Olympic bios
      tags:
      - Bios
      parameters:
      - name: playerId
        type: string
        description: Provide player ID to return information. n List returns list
          of players with bios
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/oly/smr_oly/{discipline}/participants/:
    get:
      operationId: Olympics-ParticipantsParticipants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        athletes and can be used to return information on an athlete.
      tags:
      - Participants
      parameters:
      - name: discipline
        type: string
        description: Select Discipline
        in: path
        required: true
        enum:
        - AQ
        - AR
        - AT
        - BD
        - BK
        - BV
        - BX
        - CS
        - CA
        - CF
        - CB
        - CM
        - CR
        - CY
        - CT
        - DV
        - EQ
        - FE
        - FB
        - GO
        - GY
        - GA
        - GR
        - HB
        - HO
        - JU
        - MP
        - OW
        - RO
        - RU
        - SA
        - SH
        - SW
        - SY
        - TT
        - TK
        - TE
        - GT
        - TR
        - VO
        - WP
        - WL
        - WR
      - name: gender
        type: string
        description: Returns the gender selected.n  Default - All genders are returned
        in: query
        required: false
        enum:
        - M
        - W
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/oly/smr_oly/{discipline}/participants/teams/{teamId}/:
    get:
      operationId: Olympics-SingleTeamParticipants
      summary: This returns only the selected team.
      tags:
      - Participants
      parameters:
      - name: discipline
        type: string
        description: Select Discipline
        in: path
        required: true
        enum:
        - AQ
        - AR
        - AT
        - BD
        - BK
        - BV
        - BX
        - CS
        - CA
        - CF
        - CB
        - CM
        - CR
        - CY
        - CT
        - DV
        - EQ
        - FE
        - FB
        - GO
        - GY
        - GA
        - GR
        - HB
        - HO
        - JU
        - MP
        - OW
        - RO
        - RU
        - SA
        - SH
        - SW
        - SY
        - TT
        - TK
        - TE
        - GT
        - TR
        - VO
        - WP
        - WL
        - WR
      - name: teamId
        type: integer
        description: To get information on a specific team, enter the team ID.
        in: path
        required: true
      - name: gender
        type: string
        description: Returns the gender selected.n  Default - All genders are returned
        in: query
        required: false
        enum:
        - M
        - W
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/oly/smr_oly/{discipline}/teams/:
    get:
      operationId: Olympics-TeamsTeams
      summary: Returns Olympic Teams
      tags:
      - Teams
      parameters:
      - name: discipline
        type: string
        description: Select Discipline
        in: path
        required: true
        enum:
        - AQ
        - AR
        - AT
        - BD
        - BK
        - BV
        - BX
        - CS
        - CA
        - CF
        - CB
        - CM
        - CR
        - CY
        - CT
        - DV
        - EQ
        - FE
        - FB
        - GO
        - GY
        - GA
        - GR
        - HB
        - HO
        - JU
        - MP
        - OW
        - RO
        - RU
        - SA
        - SH
        - SW
        - SY
        - TT
        - TK
        - TE
        - GT
        - TR
        - VO
        - WP
        - WL
        - WR
      - name: teamId
        type: integer
        description: A teamId returns information for that team only.
        in: query
        required: true
      - name: gender
        type: string
        description: Returns the gender selected.n  Default - All genders are returned
        in: query
        required: false
        enum:
        - M
        - W
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/oly/smr_oly/{discipline}/events/:
    get:
      operationId: Olympics-EventsEvents
      summary: Live results
      tags:
      - Events
      parameters:
      - name: discipline
        type: string
        description: Select Discipline
        in: path
        required: true
        enum:
        - AQ
        - AR
        - AT
        - BD
        - BK
        - BV
        - BX
        - CS
        - CA
        - CF
        - CB
        - CM
        - CR
        - CY
        - CT
        - DV
        - EQ
        - FE
        - FB
        - GO
        - GY
        - GA
        - GR
        - HB
        - HO
        - JU
        - MP
        - OW
        - RO
        - RU
        - SA
        - SH
        - SW
        - SY
        - TT
        - TK
        - TE
        - GT
        - TR
        - VO
        - WP
        - WL
        - WR
      - name: gender
        type: string
        description: Returns the gender selected.n  Default - All genders are returned
        in: query
        required: false
        enum:
        - M
        - W
      - name: phaseId
        type: string
        description: Returns the phase entered.n  Default - All phases are returned
        in: query
        required: false
      - name: season
        type: integer
        description: Enter the year as YYYY. Discipline must be selected or Date must
          be entered to return season data.n Default - the current season
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/oly/smr_oly/{discipline}/standings/:
    get:
      operationId: Olympics-StandingsStandings
      summary: Returns Olympics standings
      tags:
      - Standings
      parameters:
      - name: discipline
        type: string
        description: Select Discipline
        in: path
        required: true
        enum:
        - AR
        - BD
        - BK
        - BV
        - BX
        - FE
        - FB
        - HB
        - HO
        - JU
        - RU
        - TT
        - TK
        - TE
        - VO
        - WP
        - WR
      - name: season
        type: integer
        description: Enter the year as YYYY.n Default - the current season
        in: query
        required: false
      - name: gender
        type: string
        description: Returns the gender selected.n  Default - All genders are returned
        in: query
        required: false
        enum:
        - M
        - W
      - name: pool
        type: string
        description: Returns the pool standings.n  Default - False, full standings
          are returned
        in: query
        required: false
        enum:
        - "True"
        - "False"
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/oly/smr_oly/{discipline}/schedule/:
    get:
      operationId: Olympics-ScheduleSchedule
      summary: Returns the olympic schedule
      tags:
      - Schedule
      parameters:
      - name: discipline
        type: string
        description: Select Discipline
        in: path
        required: true
        enum:
        - AQ
        - AR
        - AT
        - BD
        - BK
        - BV
        - BX
        - CS
        - CA
        - CF
        - CB
        - CM
        - CR
        - CY
        - CT
        - DV
        - EQ
        - FE
        - FB
        - GO
        - GY
        - GA
        - GR
        - HB
        - HO
        - JU
        - MP
        - OW
        - RO
        - RU
        - SA
        - SH
        - SW
        - SY
        - TT
        - TK
        - TE
        - GT
        - TR
        - VO
        - WP
        - WL
        - WR
      - name: gender
        type: string
        description: Returns the gender selected.n  Default - All genders are returned
        in: query
        required: false
        enum:
        - M
        - W
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/oly/smr_oly/stories/headlines/:
    get:
      operationId: Olympics-RecentStoriesOlympics-Headlines,stories,images
      summary: List of recent stories.
      tags:
      - Olympics - Headlines, stories, images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/oly/smr_oly/articles/headlines/:
    get:
      operationId: Olympics-RecentArticlesOlympics-Headlines,stories,images
      summary: List of recent articles.
      tags:
      - Olympics - Headlines, stories, images
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/oly/smr_oly/stories/{storyId}/:
    get:
      operationId: Olympics-FullstoryOlympics-Headlines,stories,images
      summary: Get the full story for a storyId found in headline...
      description: Get the full story for a storyId found in headlines or stories.
      tags:
      - Olympics - Headlines, stories, images
      parameters:
      - name: storyId
        type: integer
        description: storyId
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/oly/smr_oly/articles/{storyId}/:
    get:
      operationId: Olympics-FullArticleOlympics-Headlines,stories,images
      summary: Get the full article for a storyId found in headli...
      description: Get the full article for a storyId found in headlines or articles.
      tags:
      - Olympics - Headlines, stories, images
      parameters:
      - name: storyId
        type: integer
        description: storyId
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/oly/smr_oly/images/{imageSize}/{imageId}/:
    get:
      operationId: RetrieveimageOlympics-Headlines,stories,images
      summary: ""
      tags:
      - Olympics - Headlines, stories, images
      parameters:
      - name: imageSize
        type: string
        description: Options are:n  'p128', 'p256', 'p512', 'pMax'
        in: path
        required: true
        enum:
        - p128
        - p256
        - p512
        - pMax
      - name: imageId
        type: integer
        description: Photo ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/oly/smr_oly/photos/{imageSize}/{imageId}/:
    get:
      operationId: RetrievePhotoOlympics-Headlines,stories,images
      summary: ""
      tags:
      - Olympics - Headlines, stories, images
      parameters:
      - name: imageSize
        type: string
        description: Options are:n  'p128', 'p256', 'p512', 'pMax'
        in: path
        required: true
        enum:
        - p128
        - p256
        - p512
        - pMax
      - name: imageId
        type: integer
        description: Photo ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /decode/oly/smr_oly/{decodeType}/:
    get:
      operationId: Olympics-DecodesDecodes
      summary: Olympics - Decodes
      tags:
      - Decodes
      parameters:
      - name: decodeType
        type: integer
        description: The data type to be decoded.
        in: path
        required: true
        enum:
        - disciplines
        - genders
        - medals
        - eventRounds
        - eventTypes
        - eventUnitTypes
        - phases
        - phaseTypes
        - olympicVenues
        - resultMetrics
        - seasonStructure
        - units
      - name: languageId
        type: string
        description: Not all languages available for every decode.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
