---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:5:\"Rugby\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:34:\"http://developer.stats.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:322:\"The
  API calls below can be used to test the Input and Output of our API endpoints.  You'll
  need an API key and an assigned secret to access the live data and so if you haven't
  contacted us yet, now is the time!  Our sales staff would be happy to set you up
  with trial access so you can begin to evaluate the product. Rugby\";s:12:\"x-mashery-id\";s:4:\"2112\";}"
host: api.stats.com
basePath: /
paths:
  /stats/rugby/leagues/:
    get:
      operationId: Rugby-LeaguesRugby-Leagues
      summary: The rugby leagues endpoint serves as a decode for ...
      description: The rugby leagues endpoint serves as a decode for the available
        leagues names, abbreviations, and URI paths.
      tags:
      - Rugby - Leagues
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/teams/{teamId}/:
    get:
      operationId: Rugby-TeamsRugby-Teams
      summary: Team information.
      tags:
      - Rugby - Teams
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: teamId
        type: integer
        description: A teamId returns information for that team only.  If entered,
          then the conferenceId is ignored.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get team lists for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & venue names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/events/{eventId}/:
    get:
      operationId: Rugby-IfpermissionedforalleventinformationRugby-Schedules,scores,boxscoresandcommentary
      summary: Access to this events endpoint will provide you wi...
      description: Access to this events endpoint will provide you with the highest
        level of game data including live scores, box scores, and commentary when
        applicable.  The 'eventId', 'box', and 'commentary' parameters below are only
        applicable for a specific game.n Events will also provide you with schedule
        data.
      tags:
      - Rugby - Schedules, scores, box scores and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box request.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: commentary
        type: boolean
        description: Returns commentary, when available, for a specific in-progress
          or concluded event.  An eventId must also be entered in conjunction with
          'commentary=true'.n  Default - Commentary will not be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/events/teams/{teamId}/:
    get:
      operationId: Rugby-Ifpermissionedforalleventinformation-foroneteamonlyRugby-Schedules,scores,boxscoresandcommentary
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information).
      tags:
      - Rugby - Schedules, scores, box scores and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: teamId
        type: integer
        description: Provide team ID to return events for one team.
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/box/{eventId}/:
    get:
      operationId: Rugby-Ifpermissionedforschedules,scores,andboxscoresonlyRugby-Schedules,scores,boxscoresandcommentary
      summary: Access to this events endpoint will provide you wi...
      description: Access to this events endpoint will provide you with live scores
        and box scores when applicable.  The 'eventId' and 'box' parameters below
        are only applicable for a specific game.n the rugbybox endpoint will also
        provide you with schedule data.
      tags:
      - Rugby - Schedules, scores, box scores and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box request.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all events from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get events for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/box/teams/{teamId}/:
    get:
      operationId: Rugby-Ifpermissionedforschedules,scores,andboxscoresonly-foroneteamonlyRugby-Schedules,scores,boxscoresandcommentary
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information).
      tags:
      - Rugby - Schedules, scores, box scores and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: teamId
        type: integer
        description: Provide team ID to return events for one team.
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/scores/{eventId}/:
    get:
      operationId: Rugby-IfpermissionedforjustschedulesandscoresRugby-Schedules,scores,boxscoresandcommentary
      summary: The scores/ resource provides score and schedule i...
      description: The scores/ resource provides score and schedule information for
        events.
      tags:
      - Rugby - Schedules, scores, box scores and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.n Default - basic score data will be returned using date or season,
          if entered, else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/scores/teams/{teamId}/:
    get:
      operationId: Rugby-Ifpermissionedforjustschedulesandscores-foroneteamonlyRugby-Schedules,scores,boxscoresandcommentary
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information.
      tags:
      - Rugby - Schedules, scores, box scores and commentary
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/standings/:
    get:
      operationId: Rugby-StandingsRugby-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - Rugby - Standings
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/standings/teams/{teamId}/:
    get:
      operationId: Rugby-StandingsforasingleteamRugby-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - Rugby - Standings
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/participants/:
    get:
      operationId: Rugby-PlayersRugby-Participants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        players and can be used to return information on a single player, a single
        teams roster, or all teams rosters within the league.
      tags:
      - Rugby - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: sinceYearLast
        type: integer
        description: Anyone who last played since the requested year.  Enter year
          as YYYY.n  Default - current rosters
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/participants/teams/{teamId}/:
    get:
      operationId: Rugby-AllplayersonasingleteamRugby-Participants
      summary: Including a team ID will limit rosters returned to...
      description: Including a team ID will limit rosters returned to the selected
        team only.
      tags:
      - Rugby - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: teamId
        type: integer
        description: Provide team ID to return roster for one team.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/participants/{playerId}/:
    get:
      operationId: Rugby-SingleplayerRugby-Participants
      summary: Including a player ID will limit data returned to ...
      description: Including a player ID will limit data returned to the selected
        player only.
      tags:
      - Rugby - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/stats/players/{playerId}/:
    get:
      operationId: Rugby-Playerstats-CareerRugby-Statistics
      summary: Rugby - Career stats for a single player
      tags:
      - Rugby - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: enc
        type: boolean
        description: The encyclopedia returns full career and season-by-season totals.n  The
          encyclopedia is valid for a single player only.  If playerId is omitted,
          'enc=true' will be ignored.
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/stats/players/{playerId}/events/{eventId}:
    get:
      operationId: Rugby-PlayersinglegamestatsRugby-Statistics
      summary: Rugby - Single game stats for a player
      tags:
      - Rugby - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/stats/players/{playerId}/events/:
    get:
      operationId: Rugby-Playergame-by-gamestatsRugby-Statistics
      summary: Rugby - A player's stats, game-by-game.
      tags:
      - Rugby - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: playerId
        type: integer
        description: Player ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/stats/teams/{teamId}/:
    get:
      operationId: Rugby-TeamstatsRugby-Statistics
      summary: Rugby - Team stats
      tags:
      - Rugby - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: teamId
        type: integer
        description: TeamId.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/stats/teams/{teamId}/events/{eventId}:
    get:
      operationId: Rugby-TeamsinglegamestatsRugby-Statistics
      summary: Rugby - A team's stats, game-by-game.
      tags:
      - Rugby - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: teamId
        type: integer
        description: TeamId.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/stats/teams/{teamId}/events/:
    get:
      operationId: Rugby-Teamgame-by-gameRugby-Statistics
      summary: Rugby - A team's stats, game-by-game.
      tags:
      - Rugby - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: teamId
        type: integer
        description: TeamId.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/rugby/{leaguePath}/leaders/:
    get:
      operationId: Rugby-LeadersRugby-Leaders
      summary: Rugby - Leaders
      tags:
      - Rugby - Leaders
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.  The decodes resource provides a
          list of available codes. n  Default - Blank (returns Points).
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties), utilizing ranked players only if nonQualifiers is false/null;
          else will utilize ordered players.
        in: query
        required: false
      - name: sortType
        type: string
        description: To return 'worst' players (trailers) rather than 'best' players
          (leaders) in a category, select sortType = worst. Traliers are not available
          for every leaderCategoryId.n  Default - If the sortType parameter is not
          used, leaders will be returned.
        in: query
        required: false
        enum:
        - worst
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: teamId
        type: integer
        description: To get data for players on one team only, enter the teamId.n  Default
          - all players
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/rugby/{leaguePath}/images/list/:
    get:
      operationId: ListofavailableimagesRugby-Images
      summary: List of available images.
      tags:
      - Rugby - Images
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint. For generic all rugby leagues, select general.
        in: path
        required: true
        enum:
        - general
        - rlc
        - rwc
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      - name: originId
        type: integer
        description: Origin of given images.n  Default - All origins are returned
          when nothing is selected
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/rugby/{leaguePath}/photos/list/:
    get:
      operationId: ListofavailablephotosRugby-Images
      summary: List of available photos.
      tags:
      - Rugby - Images
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint. For generic all rugby leagues, select general.
        in: path
        required: true
        enum:
        - general
        - rlc
        - rwc
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      - name: originId
        type: integer
        description: Origin of given images.n  Default - All origins are returned
          when nothing is selected
        in: query
        required: false
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/rugby/{leaguePath}/images/{imageSize}/{imageId}/:
    get:
      operationId: RetrieveimageRugby-Images
      summary: ""
      tags:
      - Rugby - Images
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint. For generic all rugby leagues, select general.
        in: path
        required: true
        enum:
        - general
        - rlc
        - rwc
      - name: imageSize
        type: string
        description: Options are:n  'p128', 'p256', 'p512', 'pMax'
        in: path
        required: true
        enum:
        - p128
        - p256
        - p512
        - pMax
      - name: imageId
        type: integer
        description: Photo ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /editorial/rugby/{leaguePath}/photos/{imageSize}/{imageId}/:
    get:
      operationId: RetrievePhotoRugby-Images
      summary: ""
      tags:
      - Rugby - Images
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint. For generic all rugby leagues, select general.
        in: path
        required: true
        enum:
        - general
        - rlc
        - rwc
      - name: imageSize
        type: string
        description: Options are:n  'p128', 'p256', 'p512', 'pMax'
        in: path
        required: true
        enum:
        - p128
        - p256
        - p512
        - pMax
      - name: imageId
        type: integer
        description: Photo ID
        in: path
        required: true
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /decode/rugby/{leaguePath}/{decodeType}:
    get:
      operationId: Rugby-DecodesRugby-Decodes
      summary: Rugby - Decodes
      tags:
      - Rugby - Decodes
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the rugby/leagues
          endpoint
        in: path
        required: true
        enum:
        - sumint
        - t14
      - name: decodeType
        type: integer
        description: The data type to be decoded.
        in: path
        required: true
        enum:
        - coverageLevels
        - divisions
        - eventRounds
        - eventStatuses
        - eventTypes
        - matchOfficials
        - outcomes
        - positions
        - replacementTypes
        - seasonStructure
        - splits
        - tvStations
        - venues
      - name: languageId
        type: string
        description: For venues only. Select ID to change language of venue names.
          Not all languages available for every name.n  Default - English is returned
          when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
