---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:18:\"Basketball - Other\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:34:\"http://developer.stats.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:335:\"The
  API calls below can be used to test the Input and Output of our API endpoints.  You'll
  need an API key and an assigned secret to access the live data and so if you haven't
  contacted us yet, now is the time!  Our sales staff would be happy to set you up
  with trial access so you can begin to evaluate the product. Basketball - Other\";s:12:\"x-mashery-id\";s:4:\"1938\";}"
host: api.stats.com
basePath: /
paths:
  /stats/basketball/leagues/:
    get:
      operationId: Basketball-LeaguesBasketball-Leagues
      summary: The basketball leagues endpoint serves as a decode...
      description: The basketball leagues endpoint serves as a decode for the available
        leagues names, abbreviations, and URI paths.
      tags:
      - Basketball - Leagues
      parameters:
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/teams/{teamId}:
    get:
      operationId: Basketball-TeamsBasketball-Teams
      summary: ""
      tags:
      - Basketball - Teams
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: teamId
        type: integer
        description: A teamId returns information for that team only.  If entered,
          then the conferenceId is ignored.
        in: path
        required: true
      - name: season
        type: integer
        description: 'To get team lists for a different season, enter the year as
          YYYY.n Note: Seasons that span years like NBA 2013-2014 would be entered
          as 2013.n  Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & venue names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/events/{eventId}:
    get:
      operationId: Basketball-IfpermissionedforalleventinformationBasketball-Schedules,scores,andboxscores
      summary: Access to this events endpoint will provide you wi...
      description: Access to this events endpoint will provide you with the highest
        level of game data including live scores and box scores when applicable.  The
        'eventId' and 'box' parameters below are only applicable for a specific game.n
        Events will also provide you with schedule data.
      tags:
      - Basketball - Schedules, scores, and box scores
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box request.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: week
        type: integer
        description: Enter a week number in conjunction with a season to return events
          for the specified week. n Default - If not used, week will be ignored.
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/events/teams/{teamId}:
    get:
      operationId: Basketball-Ifpermissionedforalleventinformation-foroneteamonlyBasketball-Schedules,scores,andboxscores
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information).
      tags:
      - Basketball - Schedules, scores, and box scores
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: teamId
        type: integer
        description: ""
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: startDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: endDate
        type: string
        description: 'If used, startDate and endDate must both be entered.  All items
          between the two dates (inclusive) will be returned.n  Format: YYYYMMDD or
          YYYY-MM-DD.n  Default - If not used, the last 7 days items will be returned.'
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: week
        type: integer
        description: Enter a week number in conjunction with a season to return events
          for the specified week. n Default - If not used, week will be ignored.
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/box/{eventId}:
    get:
      operationId: Basketball-Ifpermissionedforjustschedules,scoresandboxscoresBasketball-Schedules,scores,andboxscores
      summary: The box/ resource provides scores/schedules and bo...
      description: The box/ resource provides scores/schedules and box score information
        for NBA events.  (Play-by-play & Shot Charts are not available in the box
        endpoint.)
      tags:
      - Basketball - Schedules, scores, and box scores
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.  Must be populated to use the box request.n Default - basic score
          data will be returned using date or season, if entered, else the current
          days events will be returned
        in: path
        required: true
      - name: box
        type: boolean
        description: Returns the box score for a specific in-progress or concluded
          event.  An eventId must also be entered in conjunction with 'box=true'.n  Default
          - box score data will not be returned
        in: query
        required: false
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: week
        type: integer
        description: Enter a week number in conjunction with a season to return events
          for the specified week. n Default - If not used, week will be ignored.
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/box/teams/{teamId}:
    get:
      operationId: Basketball-Ifpermissionedforjustschedules,scoresandboxscores-foroneteamonlyBasketball-Schedules,scores,andboxscores
      summary: The box/ resource provides scores/schedules and bo...
      description: The box/ resource provides scores/schedules and box score information
        for NBA events. However, box scores are available for a single game only,
        and so cannot be accessed here when all events for a single team are returned.
        This endpoint should be used for team schedules & scores only.
      tags:
      - Basketball - Schedules, scores, and box scores
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.n
          The 'box' parameter is not allowed because you are requesting schedule information
          for a team, not an individual event.n Default - basic score data will be
          returned using date or season, if entered, else the current days events
          will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'OPTIONAL - If entered, the events for that date will be returned.
          If not entered, the default is to return the events for the current date.  Format:
          YYYYMMDD or YYYY-MM-DD.'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: week
        type: integer
        description: Enter a week number in conjunction with a season to return events
          for the specified week. n Default - If not used, week will be ignored.
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/scores/{eventId}:
    get:
      operationId: Basketball-IfpermissionedforjustschedulesandscoresBasketball-Schedules,scores,andboxscores
      summary: The scores/ resource provides score and schedule i...
      description: The scores/ resource provides score and schedule information for
        events.
      tags:
      - Basketball - Schedules, scores, and box scores
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: eventId
        type: integer
        description: Provide a specific eventID when you want information on a single
          game.n Default - basic score data will be returned using date or season,
          if entered, else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, all games
          from the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: week
        type: integer
        description: Enter a week number in conjunction with a season to return events
          for the specified week. n Default - If not used, week will be ignored.
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/scores/teams/{teamId}:
    get:
      operationId: Basketball-Ifpermissionedforjustschedulesandscores-foroneteamonlyBasketball-Schedules,scores,andboxscores
      summary: This gets the event (schedule) information for jus...
      description: This gets the event (schedule) information for just one team.  (Use
        the example above to return detailed event information.
      tags:
      - Basketball - Schedules, scores, and box scores
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: teamId
        type: integer
        description: Provide a teamId when you want information for just that team.n
          Default - basic score data will be returned using date or season, if entered,
          else the current days events will be returned
        in: path
        required: true
      - name: linescore
        type: boolean
        description: Linescores are only returned when requested and will be returned
          for all events in the results.n  Default - false, line score data will not
          be returned
        in: query
        required: false
      - name: date
        type: string
        description: 'Will return all games from a specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get scores for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: week
        type: integer
        description: Enter a week number in conjunction with a season to return events
          for the specified week. n Default - If not used, week will be ignored.
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: languageId
        type: string
        description: Select ID to change language of player names, team names, and
          venues. Not all languages available for every name.n  Default - English
          is returned when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/standings/:
    get:
      operationId: Basketball-StandingsBasketball-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - Basketball - Standings
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: expanded
        type: boolean
        description: Expanded includes additional data points for each team.n Default
          - false
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/standings/teams/{teamId}:
    get:
      operationId: Basketball-StandingsforasingleteamBasketball-Standings
      summary: The standings endpoint will provide the league sta...
      description: The standings endpoint will provide the league standings, including
        all team data relevant to standings.
      tags:
      - Basketball - Standings
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: teamId
        type: integer
        description: Provide team ID to return information for one team.
        in: path
        required: true
      - name: expanded
        type: boolean
        description: Expanded includes additional data points for each team.n Default
          - false
        in: query
        required: false
      - name: season
        type: integer
        description: 'To get standings for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n
          Default - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/participants/:
    get:
      operationId: Basketball-PlayersBasketball-Participants
      summary: The participants endpoint provides biographical in...
      description: The participants endpoint provides biographical information for
        players and can be used to return information on a single player, a single
        teams roster, or all teams rosters within the league.
      tags:
      - Basketball - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: sinceYearLast
        type: integer
        description: Anyone who last played since the requested year.  Enter year
          as YYYY.n  Default - current rosters
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/participants/teams/{teamId}:
    get:
      operationId: Basketball-AllplayersonasingleteamBasketball-Participants
      summary: Including a team ID will limit rosters returned to...
      description: Including a team ID will limit rosters returned to the selected
        team only.
      tags:
      - Basketball - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: teamId
        type: integer
        description: Provide team ID to return roster for one team.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/participants/{playerId}:
    get:
      operationId: Basketball-SingleplayerBasketball-Participants
      summary: Including a player ID will limit data returned to ...
      description: Including a player ID will limit data returned to the selected
        player only.
      tags:
      - Basketball - Participants
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/stats/players/{playerId}:
    get:
      operationId: Basketball-Playerstats-CareerBasketball-Statistics
      summary: Basketball - Career stats for a single player
      tags:
      - Basketball - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: enc
        type: boolean
        description: The encyclopedia returns full career and season-by-season totals.n  The
          encyclopedia is valid for a single player only.  If playerId is omitted,
          'enc=true' will be ignored.
        in: query
        required: false
      - name: careerOnly
        type: boolean
        description: For a single player's career stats, only to be used in conjunction
          with 'enc=true'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/stats/players/{playerId}/events/{eventId}:
    get:
      operationId: Basketball-PlayersinglegamestatsBasketball-Statistics
      summary: Basketball - Single game stats for a player
      tags:
      - Basketball - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/stats/players/{playerId}/events/:
    get:
      operationId: Basketball-Playergame-by-gamestatsBasketball-Statistics
      summary: Basketball - A player's stats, game-by-game.
      tags:
      - Basketball - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: playerId
        type: integer
        description: Player ID.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/stats/players/{playerId}/:
    get:
      operationId: Basketball-PlayersplitsBasketball-Statistics
      summary: Basketball - Player splits (breakdowns).
      tags:
      - Basketball - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: playerId
        type: integer
        description: To get information on a specific player, enter their ID.
        in: path
        required: true
      - name: splitId
        type: string
        description: Enter the stat split to be returned. (The decodes resource provides
          a list of available codes.)n  1. If omitted, only official total stats (splitId
          = -1) will be returned.n  2. If 'all', all the splits are returned.n  3.
          Otherwise, the entered split is returned.
        in: query
        required: true
        default: "-1"
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team & player names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/stats/teams/{teamId}/:
    get:
      operationId: Basketball-TeamsplitsBasketball-Statistics
      summary: Basketball - Team splits (breakdowns).
      tags:
      - Basketball - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: teamId
        type: integer
        description: TeamId.
        in: path
        required: true
      - name: splitId
        type: string
        description: Enter the stat split to be returned. (The decodes resource provides
          a list of available codes.)n  1. If omitted, only official total stats (splitId
          = -1) will be returned.n  2. If 'all', all the splits are returned.n  3.
          Otherwise, the entered split is returned.
        in: query
        required: true
        default: "-1"
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team  names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/stats/teams/{teamId}/events/{eventId}:
    get:
      operationId: Basketball-TeamsinglegamestatsBasketball-Statistics
      summary: Basketball - A team's stats, game-by-game.
      tags:
      - Basketball - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: teamId
        type: integer
        description: TeamId.
        in: path
        required: true
      - name: eventId
        type: integer
        description: Statistics for a single game.
        in: path
        required: true
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/stats/teams/{teamId}/events/:
    get:
      operationId: Basketball-Teamgame-by-gameBasketball-Statistics
      summary: Basketball - A team's stats, game-by-game.
      tags:
      - Basketball - Statistics
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: teamId
        type: integer
        description: TeamId.
        in: path
        required: true
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of team  names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/leaders/:
    get:
      operationId: Basketball-LeadersBasketball-Leaders
      summary: Basketball - Leaders
      tags:
      - Basketball - Leaders
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.  The decodes resource provides a
          list of available codes. n  Default - Blank (returns Minutes).
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties), utilizing ranked players only if nonQualifiers is false/null;
          else will utilize ordered players.
        in: query
        required: false
      - name: nonQualifiers
        type: boolean
        description: Should non-qualifiers be returned?n  Default - false
        in: query
        required: false
      - name: sortType
        type: string
        description: To return 'worst' players (trailers) rather than 'best' players
          (leaders) in a category, select sortType = worst. Trailers are not available
          for every leaderCategoryId.n  Default - If the sortType parameter is not
          used, leaders will be returned.
        in: query
        required: false
        enum:
        - worst
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "0"
        - "1"
        - "2"
        - "3"
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: teamId
        type: integer
        description: To get data for players on one team only, enter the teamId.n  Default
          - all players
        in: query
        required: false
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/teamLeaders/:
    get:
      operationId: Basketball-LeadersBasketball-TeamLeaders
      summary: Basketball - Team Leaders
      tags:
      - Basketball - Team Leaders
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.  The decodes resource provides a
          list of available codes. n  Default - Blank (returns Minutes).
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of team leaders to be returned.n  You can
          return all leaders with the word 'all' instead of a number.n  Default -
          Top 10 (plus ties), utilizing ranked players only if nonQualifiers is false/null;
          else will utilize ordered players.
        in: query
        required: false
      - name: sortType
        type: string
        description: To return 'worst' players (trailers) rather than 'best' players
          (leaders) in a category, select sortType = worst. Trailers are not available
          for every leaderCategoryId.n  Default - If the sortType parameter is not
          used, leaders will be returned.
        in: query
        required: false
        enum:
        - worst
      - name: season
        type: integer
        description: 'To get data for a different season, enter the year as YYYY.n
          Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.n  Default
          - the current season'
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Schedule will be returned for games included in the specified
          eventType.n  Default - All event types
        in: query
        required: false
        enum:
        - "1"
        - "2"
      - name: languageId
        type: string
        description: Select ID to change language of team names. Not all languages
          available for every name.n  Default - English is returned when no ID is
          selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /stats/basketball/{leaguePath}/dailyLeaders/:
    get:
      operationId: Basketball-DailyLeadersBasketball-DailyLeaders
      summary: Basketball - Daily Leaders
      tags:
      - Basketball - Daily Leaders
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: leaderCategoryId
        type: integer
        description: Only one category per query.n  Default - Blank (returns points).
        in: query
        required: false
        enum:
        - "3"
        - "6"
        - "15"
        - "18"
        - "21"
        - "27"
        - "33"
        - "39"
      - name: date
        type: string
        description: 'Leaders in games played on specific date.n Format: YYYYMMDD
          or YYYY-MM-DD.n  Default - if a specific game isn''t requested, games from
          the current date will be returned'
        in: query
        required: false
      - name: topCount
        type: integer
        description: This is the number of leaders to be returned.n  You can return
          all leaders with the word 'all' instead of a number.n  Default - Top 10
          (plus ties), utilizing ranked players only if nonQualifiers is false/null;
          else will utilize ordered players.
        in: query
        required: false
      - name: conferenceId
        type: integer
        description: Leaders among specified conference only. See conferences decode
          endpoint for full list.n  Default - all conferences
        in: query
        required: false
      - name: eventTypeId
        type: integer
        description: Leaders among games in the specified eventType only. See eventTypes
          decode endpoint for full list.n  Default - all event types
        in: query
        required: false
      - name: eventRoundId
        type: integer
        description: Leaders among games in the specified eventRound only. See eventRounds
          decode endpoint for full list.n  Default - all rounds
        in: query
        required: false
      - name: teamId
        type: integer
        description: To get data for players on one team only, enter the teamId.n  Default
          - all players
        in: query
        required: false
      - name: languageId
        type: string
        description: Select ID to change language of player & team names. Not all
          languages available for every name.n  Default - English is returned when
          no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /decode/basketball/{leaguePath}/{decodeType}:
    get:
      operationId: Basketball-DecodesBasketball-Decodes
      summary: Basketball - Decodes
      tags:
      - Basketball - Decodes
      parameters:
      - name: leaguePath
        type: string
        description: Enter league uriPath - full list available in the basketball/leagues
          endpoint
        in: path
        required: true
        enum:
        - acb
        - cbachn
        - euroleague
        - nbadl
        - wnba
      - name: decodeType
        type: integer
        description: The data type to be decoded.
        in: path
        required: true
        enum:
        - conferences
        - coverageLevels
        - divisions
        - dnpTypes
        - eventRounds
        - eventStatuses
        - eventTypes
        - injuryStatuses
        - leaderCategories
        - playDetails
        - playEvents
        - positions
        - seasonStructure
        - splits
        - tournaments
        - transactionTypes
        - tvStations
        - venues
      - name: season
        type: integer
        description: 'For seasonStructure only. To get structure for a single season,
          enter the year as YYYY.n Note: Seasons that span years like NBA 2013-2014
          would be entered as 2013.n  Default - the current season'
        in: query
        required: false
      - name: allSeasons
        type: boolean
        description: For seasonStructure only. To get complete history of league,
          select allSeasons=TRUE. Only those permissioned for all historic data will
          be able to utilize the 'allSeasons' option.n  Default - false
        in: query
        required: false
      - name: languageId
        type: string
        description: For venues only. Select ID to change language of venue names.
          Not all languages available for every name.n  Default - English is returned
          when no ID is selected.
        in: query
        required: false
        enum:
        - "-1"
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: accept
        type: string
        description: Preferred response type.n  Default - json
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
