---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:20:\"support@wavecell.com\";s:4:\"name\";s:17:\"Wavecell
  Dev team\";s:3:\"url\";s:21:\"https://wavecell.com/\";}s:11:\"description\";s:159:\"This
  API allows Wavecell customers to originate request to send SMS messages anywhere
  in the World. The messages can be send individually or as a bulk request.\";s:14:\"termsOfService\";s:31:\"https://wavecell.com/terms.html\";s:5:\"title\";s:16:\"Wavecell.Sms.Api\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"messaging\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#050917\";s:3:\"url\";s:68:\"https://pbs.twimg.com/profile_images/766560979630952448/XIUTg1a4.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:48:\"https://api.wavecell.com/swagger/v1/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:12:\"wavecell.com\";s:11:\"x-preferred\";b:1;}"
host: api.wavecell.com
basePath: /
paths:
  /sms/v1/status:
    get:
      consumes: []
      deprecated: false
      operationId: SmsV1StatusGet
      responses:
        204:
          description: No Content
      tags:
      - StatusPage
  /sms/v1/{subAccountId}/many:
    post:
      consumes:
      - application/json
      - text/json
      - application/json-patch+json
      deprecated: false
      operationId: SendManyMessages
      parameters:
      - in: path
        name: subAccountId
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/BulkSmsRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BulkSmsResponse'
        204:
          description: No Content
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: InternalServerError
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - SmsApi
  /sms/v1/{subAccountId}/many/compact:
    post:
      consumes:
      - application/json
      - text/json
      - application/json-patch+json
      deprecated: false
      operationId: SendManyMessagesInCompactForm
      parameters:
      - in: path
        name: subAccountId
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/BulkSmsRequestCompact'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BulkSmsResponse'
        204:
          description: No Content
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: InternalServerError
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - SmsApi
  /sms/v1/{subAccountId}/single:
    post:
      consumes:
      - application/json
      - text/json
      - application/json-patch+json
      deprecated: false
      operationId: SendSingleMessage
      parameters:
      - in: path
        name: subAccountId
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/SmsRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SmsResponse'
        204:
          description: No Content
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: InternalServerError
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - SmsApi
produces: []
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:14:\"BulkSmsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"clientBatchId\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:20;s:4:\"type\";s:6:\"string\";}s:25:\"includeMessagesInResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"messages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SmsRequest\";}s:4:\"type\";s:5:\"array\";}s:8:\"template\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SmsTemplate\";}}s:8:\"required\";a:1:{i:0;s:8:\"messages\";}s:4:\"type\";s:6:\"object\";}s:21:\"BulkSmsRequestCompact\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"clientBatchId\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:20;s:4:\"type\";s:6:\"string\";}s:12:\"destinations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:25:\"includeMessagesInResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"template\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SmsTemplate\";}}s:8:\"required\";a:2:{i:0;s:12:\"destinations\";i:1;s:8:\"template\";}s:4:\"type\";s:6:\"object\";}s:15:\"BulkSmsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"acceptedCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"batchId\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:13:\"clientBatchId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"messages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SmsResponse\";}s:4:\"type\";s:5:\"array\";}s:13:\"rejectedCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"errorId\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"SmsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientMessageId\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:20;s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:28:\"^\\+{0,1}[1-9]{1}[0-9]{6,14}$\";s:4:\"type\";s:6:\"string\";}s:8:\"encoding\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"AUTO\";i:1;s:7:\"GSM7bit\";i:2;s:7:\"UNICODE\";}s:4:\"type\";s:6:\"string\";}s:6:\"expiry\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"scheduled\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:16;s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"destination\";}s:4:\"type\";s:6:\"object\";}s:11:\"SmsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"clientMessageId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/SmsStatus\";}s:4:\"umid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"SmsStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SmsTemplate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"encoding\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"AUTO\";i:1;s:7:\"GSM7bit\";i:2;s:7:\"UNICODE\";}s:4:\"type\";s:6:\"string\";}s:6:\"expiry\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"scheduled\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:16;s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
