---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:27:\"Front Accounting Simple
  API\";s:11:\"description\";s:176:\"This is a simple REST API as a Front Accounting
  module [https://github.com/cambell-prince/FrontAccountingSimpleAPI](https://github.com/cambell-prince/FrontAccountingSimpleAPI).\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:24:\"cambell.prince@gmail.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"GPL
  V2.0\";s:3:\"url\";s:57:\"https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html\";}s:7:\"version\";s:7:\"2.4-1.6\";}"
host: demo.saygoweb.com
basePath: /frontaccounting/modules/api
paths:
  /bankaccounts:
    get:
      tags:
      - bankaccounts
      summary: List Bank Accounts
      operationId: listBankAccounts
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/BankAccount'
      deprecated: false
    post:
      tags:
      - bankaccounts
      summary: Add Bank Account
      operationId: addBankAccount
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: Bank Account to be added
        required: true
        schema:
          $ref: '#/definitions/BankAccount'
      responses:
        201:
          description: successful operation
          schema:
            properties:
              account_code:
                type: string
            type: object
      deprecated: false
  /bankaccounts/{id}:
    get:
      tags:
      - bankaccounts
      summary: Get Bank Account by id
      operationId: getBankAccount
      produces:
      - application/json
      parameters:
      - name: bankAccountId
        in: path
        description: ID of Bank Account to return
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            type: object
            $ref: '#/definitions/BankAccount'
      deprecated: false
    put:
      tags:
      - bankaccounts
      summary: Update Bank Account
      operationId: updateBankAccount
      produces:
      - application/json
      parameters:
      - name: bankAccountId
        in: path
        description: ID of Bank Account to update
        required: true
        type: string
      - name: body
        in: body
        description: Bank Account to be updated
        required: true
        schema:
          $ref: '#/definitions/BankAccount'
      responses:
        200:
          description: successful operation
          schema:
            properties:
              account_code:
                type: string
            type: object
      deprecated: false
    delete:
      tags:
      - bankaccounts
      summary: Delete Bank Account
      operationId: deleteBankAccount
      produces:
      - application/json
      parameters:
      - name: bankAccountId
        in: path
        description: ID of Bank Account to delete
        required: true
        type: string
      responses:
        200:
          description: successful operation
      deprecated: false
  /dimensions:
    get:
      tags:
      - dimensions
      summary: List all Dimensions
      operationId: listDimensions
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Dimension'
      deprecated: false
    post:
      tags:
      - dimensions
      summary: Add Dimension
      operationId: addDimension
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: Dimension to be added
        required: true
        schema:
          $ref: '#/definitions/Dimension'
      responses:
        201:
          description: successful operation
          schema:
            properties:
              id:
                type: string
            type: object
      deprecated: false
  /dimensions/{id}:
    get:
      tags:
      - dimensions
      summary: Get Dimension by id
      operationId: getDimension
      produces:
      - application/json
      parameters:
      - name: dimensionId
        in: path
        description: ID of Dimension to return
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: successful operation
          schema:
            type: object
            $ref: '#/definitions/Dimension'
      deprecated: false
    put:
      tags:
      - dimensions
      summary: Update Dimension
      operationId: updateDimension
      produces:
      - application/json
      parameters:
      - name: dimensionId
        in: path
        description: ID of Dimension to update
        required: true
        type: integer
        format: int64
      - name: body
        in: body
        description: Dimension to be updated
        required: true
        schema:
          $ref: '#/definitions/Dimension'
      responses:
        200:
          description: successful operation
          schema:
            properties:
              id:
                type: string
            type: object
      deprecated: false
    delete:
      tags:
      - dimensions
      summary: Delete Dimension
      operationId: deleteDimension
      produces:
      - application/json
      parameters:
      - name: dimensionId
        in: path
        description: ID of Dimension to delete
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: successful operation
      deprecated: false
  /glaccounts:
    get:
      tags:
      - glaccounts
      summary: List all GL Accounts
      operationId: listGLAccounts
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/GLAccount'
      deprecated: false
    post:
      tags:
      - glaccounts
      summary: Add GL Account
      operationId: addGLAccount
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: GL Account to be added
        required: true
        schema:
          $ref: '#/definitions/GLAccount'
      responses:
        201:
          description: successful operation
          schema:
            properties:
              account_code:
                type: string
            type: object
      deprecated: false
  /glaccounts/{id}:
    get:
      tags:
      - glaccounts
      summary: Get GL Account by id
      operationId: getGLAccount
      produces:
      - application/json
      parameters:
      - name: glAccountId
        in: path
        description: ID of GL Account to return
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            type: object
            $ref: '#/definitions/GLAccount'
      deprecated: false
    put:
      tags:
      - glaccounts
      summary: Update GL Account
      operationId: updateGLAccount
      produces:
      - application/json
      parameters:
      - name: glAccountId
        in: path
        description: ID of GL Account to update
        required: true
        type: string
      - name: body
        in: body
        description: GL Account to be updated
        required: true
        schema:
          $ref: '#/definitions/GLAccount'
      responses:
        200:
          description: successful operation
          schema:
            properties:
              account_code:
                type: string
            type: object
      deprecated: false
    delete:
      tags:
      - glaccounts
      summary: Delete GL Account
      operationId: deleteGLAccount
      produces:
      - application/json
      parameters:
      - name: glAccountId
        in: path
        description: ID of GL Account to delete
        required: true
        type: string
      responses:
        200:
          description: successful operation
      deprecated: false
  /journal:
    get:
      tags:
      - journal
      summary: List Journal Entries
      operationId: listJournalEntries
      produces:
      - application/json
      parameters:
      - name: from
        in: path
        description: filter start date
        required: false
        type: string
      - name: to
        in: path
        description: filter end date
        required: false
        type: string
      - name: ref
        in: path
        description: reference to filter by
        required: false
        type: string
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/JournalEntry'
      deprecated: false
    post:
      tags:
      - journal
      summary: Add Journal Entry
      operationId: addJournalEntry
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: Journal Entry to be added
        required: true
        schema:
          $ref: '#/definitions/JournalEntry'
      responses:
        201:
          description: successful operation
          schema:
            properties:
              account_code:
                type: string
            type: object
      deprecated: false
  /journal/{type}/{id}:
    get:
      tags:
      - journal
      summary: Get Journal Entry by type and id
      operationId: getJournalEntry
      produces:
      - application/json
      parameters:
      - name: journalType
        in: path
        description: Type of Journal Entry to return
        required: true
        type: string
      - name: journalId
        in: path
        description: ID of Journal Entry to return
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            type: object
            $ref: '#/definitions/JournalEntry'
      deprecated: false
    delete:
      tags:
      - journal
      summary: Void Journal Entry
      operationId: voidJournalEntry
      produces:
      - application/json
      parameters:
      - name: journalType
        in: path
        description: Type of Journal Entry to void
        required: true
        type: string
      - name: journalId
        in: path
        description: ID of Journal Entry to void
        required: true
        type: string
      responses:
        200:
          description: successful operation
      deprecated: false
  /journal/{id}:
    put:
      tags:
      - journal
      summary: Update Journal Entry
      operationId: updateJournalEntry
      produces:
      - application/json
      parameters:
      - name: journalId
        in: path
        description: ID of Journal Entry to update
        required: true
        type: string
      - name: body
        in: body
        description: Journal Entry to be updated
        required: true
        schema:
          $ref: '#/definitions/JournalEntry'
      responses:
        200:
          description: successful operation
          schema:
            properties:
              account_code:
                type: string
            type: object
      deprecated: false
  /sales:
    get:
      tags:
      - sales
      summary: List Sales
      operationId: getSales
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: object
            $ref: '#/definitions/Sale'
      deprecated: false
    put:
      tags:
      - sales
      summary: Update Sale
      operationId: addSale
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: object
            $ref: '#/definitions/Sale'
      deprecated: false
    post:
      tags:
      - sales
      summary: Add Sale
      operationId: addSale
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: object
            $ref: '#/definitions/Sale'
      deprecated: false
  /sales/id:
    get:
      tags:
      - sales
      summary: Fetch Sale by id
      operationId: getSale
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: object
            $ref: '#/definitions/Sale'
      deprecated: false
definitions: !php/object "O:8:\"stdClass\":5:{s:11:\"BankAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"A
  Bank Account\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Unique
  id used to reference a Bank Account\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:1:\"1\";}s:12:\"account_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Account
  GL code\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"1060\";}s:12:\"account_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Type
  of the account\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:1:\"0\";}s:9:\"bank_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Name
  of the bank at which this account is held\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Some
  Bank\";}s:12:\"bank_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Address
  of the Bank\";s:4:\"type\";s:6:\"string\";}s:17:\"bank_account_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Name
  of the account\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Anne X Ample\";}s:19:\"bank_account_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Account
  number used by the Bank\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"12-3456-789123-00\";}s:14:\"bank_curr_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Currency
  of the account\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"USD\";}s:13:\"dflt_curr_act\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"True
  (1) if this account is the default account\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:1:\"0\";}s:15:\"bank_charge_act\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"GL
  account to which bank charges are assigned\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"5690\";}s:20:\"last_reconciled_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Date
  up to which this account was reconciled\";s:4:\"type\";s:4:\"date\";s:7:\"example\";s:10:\"2017-12-01\";}s:24:\"ending_reconcile_balance\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Account
  balance at last reconcile\";s:4:\"type\";s:6:\"number\";s:7:\"example\";s:5:\"12.34\";}s:8:\"inactive\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"True
  if this account is not active\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:1:\"0\";}}s:4:\"type\";s:6:\"object\";s:6:\"format\";s:0:\"\";}s:9:\"Dimension\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"A
  Dimension\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Unique
  id used to reference a Dimension\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:1:\"1\";}s:9:\"reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Unique
  short human readable reference\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"PROJECT1\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  longer human readable name\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:29:\"Project
  1: Building buildings\";}s:4:\"memo\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"A
  longer memo\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Some memo\";}}s:4:\"type\";s:6:\"object\";s:6:\"format\";s:0:\"\";}s:9:\"GLAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"A
  GLAccount\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"account_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Unique
  short human readable id used to reference a GLAccount\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"1060\";}s:13:\"account_code2\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Secondary
  account code, may be blank\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:12:\"account_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  longer name for the account\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"My
  Bank Savings Account\";}s:12:\"account_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Type
  of the account\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:8:\"inactive\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Zero
  if account is active\";s:4:\"type\";s:3:\"int\";s:7:\"example\";s:1:\"0\";}}s:4:\"type\";s:6:\"object\";s:6:\"format\";s:0:\"\";}s:12:\"JournalEntry\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"A
  single Journal Entry\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Unique
  id used to reference a Journal Entry\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:1:\"1\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Transaction
  type is the type of document this Journal Entry represents, e.g. Invoice, Delivery,
  GRN etc.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:2:\"10\";}s:12:\"journal_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Date
  of Journal Entry\";s:4:\"type\";s:4:\"date\";s:7:\"example\";s:10:\"2018-06-21\";}s:13:\"document_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Date
  of related document\";s:4:\"type\";s:4:\"date\";s:7:\"example\";s:10:\"2018-06-21\";}s:10:\"event_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Date
  of related event\";s:4:\"type\";s:4:\"date\";s:7:\"example\";s:10:\"2018-06-21\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Currency
  \";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"USD\";}s:12:\"document_ref\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  of the related document\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"INV123456\";}s:9:\"reference\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Reference
  for this Journal Entry\";s:8:\"required\";s:5:\"false\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"18
  001\";}}s:4:\"type\";s:6:\"object\";s:6:\"format\";s:0:\"\";}s:4:\"Sale\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"A
  Sale\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Unique
  id used to reference a Sale\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:1:\"1\";}}s:4:\"type\";s:6:\"object\";s:6:\"format\";s:0:\"\";}}"
...
