---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:480:\"<fullname>Amazon
  Elastic File System</fullname> <p>Amazon Elastic File System (Amazon EFS) provides
  simple, scalable file storage for use with Amazon EC2 instances in the AWS Cloud.
  With Amazon EFS, storage capacity is elastic, growing and shrinking automatically
  as you add and remove files, so your applications have the storage they need, when
  they need it. For more information, see the <a href=\"http://docs.aws.amazon.com/efs/latest/ug/api-reference.html\">User
  Guide</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:26:\"Amazon
  Elastic File System\";s:7:\"version\";s:10:\"2015-02-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:101:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticfilesystem-2015-02-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:17:\"elasticfilesystem\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"amazonaws_elasticfilesystem\";s:4:\"type\";s:7:\"openapi\";}}"
host: elasticfilesystem.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":63:{s:12:\"AwsAccountId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"BadRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:125:\"Returned
  if the request is malformed or contains an error such as an invalid parameter value
  or a missing required parameter.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateFileSystemRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"CreationToken\";s:11:\"tokenstring\";s:15:\"PerformanceMode\";s:14:\"generalPurpose\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"CreationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CreationToken\";s:11:\"description\";s:88:\"String
  of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.\";}s:9:\"Encrypted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Encrypted\";s:11:\"description\";s:409:\"A
  boolean value that, if true, creates an encrypted file system. When creating an
  encrypted file system, you have the option of specifying a <a>CreateFileSystemRequest$KmsKeyId</a>
  for an existing AWS Key Management Service (AWS KMS) customer master key (CMK).
  If you don't specify a CMK, then the default CMK for Amazon EFS, <code>/aws/elasticfilesystem</code>,
  is used to protect the encrypted file system. \";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KmsKeyId\";s:11:\"description\";s:978:\"<p>The
  id of the AWS KMS CMK that will be used to protect the encrypted file system. This
  parameter is only required if you want to use a non-default CMK. If this parameter
  is not specified, the default CMK for Amazon EFS is used. This id can be in one
  of the following formats:</p> <ul> <li> <p>Key ID - A unique identifier of the key.
  For example, <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p> </li> <li> <p>ARN
  - An Amazon Resource Name for the key. For example, <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>
  </li> <li> <p>Key alias - A previously created display name for a key. For example,
  <code>alias/projectKey1</code>.</p> </li> <li> <p>Key alias ARN - An Amazon Resource
  Name for a key alias. For example, <code>arn:aws:kms:us-west-2:444455556666:alias/projectKey1</code>.</p>
  </li> </ul> <p>Note that if the KmsKeyId is specified, the <a>CreateFileSystemRequest$Encrypted</a>
  parameter must be set to true.</p>\";}s:15:\"PerformanceMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PerformanceMode\";s:11:\"description\";s:402:\"The
  <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code>
  performance mode for most file systems. File systems using the <code>maxIO</code>
  performance mode can scale to higher levels of aggregate throughput and operations
  per second with a tradeoff of slightly higher latencies for most file operations.
  This can't be changed after the file system has been created.\";}}s:8:\"required\";a:1:{i:0;s:13:\"CreationToken\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateMountTargetRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"FileSystemId\";s:11:\"fs-01234567\";s:8:\"SubnetId\";s:15:\"subnet-1234abcd\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"FileSystemId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FileSystemId\";s:11:\"description\";s:59:\"ID
  of the file system for which to create the mount target.\";}s:9:\"IpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";s:11:\"description\";s:68:\"Valid
  IPv4 address within the address range of the specified subnet.\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecurityGroups\";s:11:\"description\";s:124:\"Up
  to five VPC security group IDs, of the form <code>sg-xxxxxxxx</code>. These must
  be for the same VPC as subnet specified.\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";s:11:\"description\";s:44:\"ID
  of the subnet to add the mount target in.\";}}s:8:\"required\";a:2:{i:0;s:12:\"FileSystemId\";i:1;s:8:\"SubnetId\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateTagsRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"FileSystemId\";s:11:\"fs-01234567\";s:4:\"Tags\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:4:\"Name\";s:5:\"Value\";s:12:\"MyFileSystem\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:92:\"Array
  of <code>Tag</code> objects to add. Each <code>Tag</code> object is a key-value
  pair. \";}}s:8:\"required\";a:1:{i:0;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:13:\"CreationToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:23:\"DeleteFileSystemRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:12:\"FileSystemId\";s:11:\"fs-01234567\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteMountTargetRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"MountTargetId\";s:13:\"fsmt-12340abc\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteTagsRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"FileSystemId\";s:11:\"fs-01234567\";s:7:\"TagKeys\";a:1:{i:0;s:4:\"Name\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagKeys\";s:11:\"description\";s:27:\"List
  of tag keys to delete.\";}}s:8:\"required\";a:1:{i:0;s:7:\"TagKeys\";}s:4:\"type\";s:6:\"object\";}s:17:\"DependencyTimeout\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  service timed out trying to fulfill the request, and the client should try the call
  again.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeFileSystemsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeFileSystemsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"FileSystems\";a:1:{i:0;O:8:\"stdClass\":9:{s:12:\"CreationTime\";s:12:\"1481841524.0\";s:13:\"CreationToken\";s:11:\"tokenstring\";s:12:\"FileSystemId\";s:11:\"fs-01234567\";s:14:\"LifeCycleState\";s:9:\"available\";s:4:\"Name\";s:12:\"MyFileSystem\";s:20:\"NumberOfMountTargets\";i:1;s:7:\"OwnerId\";s:12:\"012345678912\";s:15:\"PerformanceMode\";s:14:\"generalPurpose\";s:11:\"SizeInBytes\";O:8:\"stdClass\":1:{s:5:\"Value\";i:6144;}}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"FileSystems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/FileSystemDescriptions\";s:11:\"description\";s:34:\"Array
  of file system descriptions.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:54:\"Present
  if provided by caller in the request (String).\";}s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:171:\"Present
  if there are more file systems than returned in the response (String). You can use
  the <code>NextMarker</code> in the subsequent request to fetch the descriptions.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"DescribeMountTargetSecurityGroupsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"MountTargetId\";s:13:\"fsmt-12340abc\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:41:\"DescribeMountTargetSecurityGroupsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"SecurityGroups\";a:1:{i:0;s:11:\"sg-fghi4567\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecurityGroups\";s:11:\"description\";s:25:\"Array
  of security groups.\";}}s:8:\"required\";a:1:{i:0;s:14:\"SecurityGroups\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeMountTargetsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:12:\"FileSystemId\";s:11:\"fs-01234567\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeMountTargetsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:12:\"MountTargets\";a:1:{i:0;O:8:\"stdClass\":7:{s:12:\"FileSystemId\";s:11:\"fs-01234567\";s:9:\"IpAddress\";s:9:\"192.0.0.2\";s:14:\"LifeCycleState\";s:9:\"available\";s:13:\"MountTargetId\";s:13:\"fsmt-12340abc\";s:18:\"NetworkInterfaceId\";s:12:\"eni-cedf6789\";s:7:\"OwnerId\";s:12:\"012345678912\";s:8:\"SubnetId\";s:15:\"subnet-1234abcd\";}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:95:\"If
  the request included the <code>Marker</code>, the response returns that value in
  this field.\";}s:12:\"MountTargets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/MountTargetDescriptions\";s:11:\"description\";s:99:\"Returns
  the file system's mount targets as an array of <code>MountTargetDescription</code>
  objects.\";}s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:198:\"If
  a value is present, there are more mount targets to return. In a subsequent request,
  you can provide <code>Marker</code> in your request with this value to retrieve
  the next set of mount targets.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeTagsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:12:\"FileSystemId\";s:11:\"fs-01234567\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeTagsResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"Tags\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:4:\"Name\";s:5:\"Value\";s:12:\"MyFileSystem\";}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:93:\"If
  the request included a <code>Marker</code>, the response returns that value in this
  field.\";}s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:236:\"If
  a value is present, there are more tags to return. In a subsequent request, you
  can provide the value of <code>NextMarker</code> as the value of the <code>Marker</code>
  parameter in your next request to retrieve the next set of tags.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:86:\"Returns
  tags associated with the file system as an array of <code>Tag</code> objects. \";}}s:8:\"required\";a:1:{i:0;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:9:\"Encrypted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"FileSystemAlreadyExists\";O:8:\"stdClass\":4:{s:11:\"description\";s:106:\"Returned
  if the file system you are trying to create already exists, with the creation token
  you provided.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:12:\"FileSystemId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FileSystemId\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:2:{i:0;s:9:\"ErrorCode\";i:1;s:12:\"FileSystemId\";}s:4:\"type\";s:6:\"object\";}s:21:\"FileSystemDescription\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"Description
  of the file system.\";s:7:\"example\";O:8:\"stdClass\":8:{s:12:\"CreationTime\";s:12:\"1481841524.0\";s:13:\"CreationToken\";s:11:\"tokenstring\";s:12:\"FileSystemId\";s:11:\"fs-01234567\";s:14:\"LifeCycleState\";s:8:\"creating\";s:20:\"NumberOfMountTargets\";i:0;s:7:\"OwnerId\";s:12:\"012345678912\";s:15:\"PerformanceMode\";s:14:\"generalPurpose\";s:11:\"SizeInBytes\";O:8:\"stdClass\":1:{s:5:\"Value\";i:0;}}s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:79:\"Time
  that the file system was created, in seconds (since 1970-01-01T00:00:00Z).\";}s:13:\"CreationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CreationToken\";s:11:\"description\";s:39:\"Opaque
  string specified in the request.\";}s:9:\"Encrypted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Encrypted\";s:11:\"description\";s:75:\"A
  boolean value that, if true, indicates that the file system is encrypted.\";}s:12:\"FileSystemId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FileSystemId\";s:11:\"description\";s:46:\"ID
  of the file system, assigned by Amazon EFS.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KmsKeyId\";s:11:\"description\";s:127:\"The
  id of an AWS Key Management Service (AWS KMS) customer master key (CMK) that was
  used to protect the encrypted file system.\";}s:14:\"LifeCycleState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/LifeCycleState\";s:11:\"description\";s:35:\"Lifecycle
  phase of the file system.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:207:\"You
  can add tags to a file system, including a <code>Name</code> tag. For more information,
  see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS
  returns the value in this field. \";}s:20:\"NumberOfMountTargets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MountTargetCount\";s:11:\"description\";s:109:\"Current
  number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.\";}s:7:\"OwnerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccountId\";s:11:\"description\";s:147:\"AWS
  account that created the file system. If the file system was created by an IAM user,
  the parent account to which the user belongs is the owner.\";}s:15:\"PerformanceMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PerformanceMode\";s:11:\"description\";s:52:\"The
  <code>PerformanceMode</code> of the file system.\";}s:11:\"SizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FileSystemSize\";s:11:\"description\";s:680:\"Latest
  known metered size (in bytes) of data stored in the file system, in bytes, in its
  <code>Value</code> field, and the time at which that size was determined in its
  <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number
  of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the
  size of a consistent snapshot of the file system, but it is eventually consistent
  when there are no writes to the file system. That is, the value will represent actual
  size only if the file system is not modified for a period longer than a couple of
  hours. Otherwise, the value is not the exact size the file system was at any instant
  in time. \";}}s:8:\"required\";a:8:{i:0;s:7:\"OwnerId\";i:1;s:13:\"CreationToken\";i:2;s:12:\"FileSystemId\";i:3;s:12:\"CreationTime\";i:4;s:14:\"LifeCycleState\";i:5;s:20:\"NumberOfMountTargets\";i:6;s:11:\"SizeInBytes\";i:7;s:15:\"PerformanceMode\";}s:4:\"type\";s:6:\"object\";}s:22:\"FileSystemDescriptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/FileSystemDescription\";}s:4:\"type\";s:5:\"array\";}s:12:\"FileSystemId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"FileSystemInUse\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Returned
  if a file system has mount targets.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:23:\"FileSystemLimitExceeded\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"Returned
  if the AWS account has already created maximum number of file systems allowed per
  account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:18:\"FileSystemNotFound\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"Returned
  if the specified <code>FileSystemId</code> does not exist in the requester's AWS
  account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:14:\"FileSystemSize\";O:8:\"stdClass\":4:{s:11:\"description\";s:591:\"Latest
  known metered size (in bytes) of data stored in the file system, in its <code>Value</code>
  field, and the time at which that size was determined in its <code>Timestamp</code>
  field. Note that the value does not represent the size of a consistent snapshot
  of the file system, but it is eventually consistent when there are no writes to
  the file system. That is, the value will represent the actual size only if the file
  system is not modified for a period longer than a couple of hours. Otherwise, the
  value is not necessarily the exact size the file system was at any instant in time.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:160:\"Time
  at which the size of data, returned in the <code>Value</code> field, was determined.
  The value is the integer number of seconds since 1970-01-01T00:00:00Z.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/FileSystemSizeValue\";s:11:\"description\";s:71:\"Latest
  known metered size (in bytes) of data stored in the file system.\";}}s:8:\"required\";a:1:{i:0;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:19:\"FileSystemSizeValue\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:33:\"IncorrectFileSystemLifeCycleState\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Returned
  if the file system's life cycle state is not \"created\".\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:25:\"IncorrectMountTargetState\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Returned
  if the mount target is not in the correct state for the operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:19:\"InternalServerError\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Returned
  if an error occurred on the server side.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:9:\"IpAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"IpAddressInUse\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"Returned
  if the request specified an <code>IpAddress</code> that is already in use in the
  subnet.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:14:\"LifeCycleState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"creating\";i:1;s:9:\"available\";i:2;s:8:\"deleting\";i:3;s:7:\"deleted\";}s:4:\"type\";s:6:\"string\";}s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"MaxItems\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:38:\"ModifyMountTargetSecurityGroupsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"MountTargetId\";s:13:\"fsmt-12340abc\";s:14:\"SecurityGroups\";a:1:{i:0;s:11:\"sg-abcd1234\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecurityGroups\";s:11:\"description\";s:43:\"Array
  of up to five VPC security group IDs.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"MountTargetConflict\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"Returned
  if the mount target would violate one of the specified restrictions based on the
  file system's existing mount targets.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:16:\"MountTargetCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:22:\"MountTargetDescription\";O:8:\"stdClass\":5:{s:11:\"description\";s:41:\"Provides
  a description of a mount target.\";s:7:\"example\";O:8:\"stdClass\":7:{s:12:\"FileSystemId\";s:11:\"fs-01234567\";s:9:\"IpAddress\";s:9:\"192.0.0.2\";s:14:\"LifeCycleState\";s:8:\"creating\";s:13:\"MountTargetId\";s:13:\"fsmt-12340abc\";s:18:\"NetworkInterfaceId\";s:12:\"eni-cedf6789\";s:7:\"OwnerId\";s:12:\"012345678912\";s:8:\"SubnetId\";s:15:\"subnet-1234abcd\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"FileSystemId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FileSystemId\";s:11:\"description\";s:61:\"ID
  of the file system for which the mount target is intended.\";}s:9:\"IpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";s:11:\"description\";s:69:\"Address
  at which the file system may be mounted via the mount target.\";}s:14:\"LifeCycleState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/LifeCycleState\";s:11:\"description\";s:36:\"Lifecycle
  state of the mount target.\";}s:13:\"MountTargetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MountTargetId\";s:11:\"description\";s:32:\"System-assigned
  mount target ID.\";}s:18:\"NetworkInterfaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NetworkInterfaceId\";s:11:\"description\";s:85:\"ID
  of the network interface that Amazon EFS created when it created the mount target.\";}s:7:\"OwnerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccountId\";s:11:\"description\";s:38:\"AWS
  account ID that owns the resource.\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";s:11:\"description\";s:32:\"ID
  of the mount target's subnet.\";}}s:8:\"required\";a:4:{i:0;s:13:\"MountTargetId\";i:1;s:12:\"FileSystemId\";i:2;s:8:\"SubnetId\";i:3;s:14:\"LifeCycleState\";}s:4:\"type\";s:6:\"object\";}s:23:\"MountTargetDescriptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/MountTargetDescription\";}s:4:\"type\";s:5:\"array\";}s:13:\"MountTargetId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"MountTargetNotFound\";O:8:\"stdClass\":4:{s:11:\"description\";s:89:\"Returned
  if there is no mount target with the specified ID found in the caller's account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:18:\"NetworkInterfaceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"NetworkInterfaceLimitExceeded\";O:8:\"stdClass\":4:{s:11:\"description\";s:388:\"
  The calling account has reached the ENI limit for the specific AWS region. Client
  should try to delete some ENIs or get its account limit raised. For more information,
  see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Appendix_Limits.html\">Amazon
  VPC Limits</a> in the Amazon Virtual Private Cloud User Guide (see the Network interfaces
  per VPC entry in the table). \";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:23:\"NoFreeAddressesInSubnet\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"Returned
  if <code>IpAddress</code> was not specified in the request and there are no free
  IP addresses in the subnet.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:15:\"PerformanceMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:14:\"generalPurpose\";i:1;s:5:\"maxIO\";}s:4:\"type\";s:6:\"string\";}s:13:\"SecurityGroup\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"SecurityGroupLimitExceeded\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"Returned
  if the size of <code>SecurityGroups</code> specified in the request is greater than
  five.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:21:\"SecurityGroupNotFound\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"Returned
  if one of the specified security groups does not exist in the subnet's VPC.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SecurityGroup\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}s:8:\"SubnetId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SubnetNotFound\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"Returned
  if there is no subnet with ID <code>SubnetId</code> provided in the request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:11:\"description\";s:162:\"A
  tag is a key-value pair. Allowed characters: letters, whitespace, and numbers, representable
  in UTF-8, and the following characters:<code> + - = . _ : /</code> \";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:61:\"Tag
  key (String). The key can't start with <code>aws:</code>.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:21:\"Value
  of the tag key.\";}}s:8:\"required\";a:2:{i:0;s:3:\"Key\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:6:\"TagKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:4:\"type\";s:5:\"array\";}s:8:\"TagValue\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:27:\"UnsupportedAvailabilityZone\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:8:\"required\";a:1:{i:0;s:9:\"ErrorCode\";}s:4:\"type\";s:6:\"object\";}}"
...
