---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:215:\"Stackdriver
  Error Reporting groups and counts similar errors from cloud services. The Stackdriver
  Error Reporting API provides a way to report new errors and read access to error
  groups and their associated errors.\n\";s:5:\"title\";s:27:\"Stackdriver Error Reporting\";s:7:\"version\";s:7:\"v1beta1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"google\";s:3:\"url\";s:74:\"https://clouderrorreporting.googleapis.com/$discovery/rest?version=v1beta1\";s:7:\"version\";s:2:\"v1\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:19:\"clouderrorreporting\";}"
host: clouderrorreporting.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":14:{s:20:\"DeleteEventsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Response
  message for deleting error events.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:215:\"A
  description of the context in which an error occurred.\nThis data should be provided
  by the application when reporting an error,\nunless the\nerror report has been generated
  automatically from Google App Engine logs.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"httpRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/HttpRequestContext\";s:11:\"description\";s:66:\"The
  HTTP request which was processed when the error was\ntriggered.\";}s:14:\"reportLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SourceLocation\";s:11:\"description\";s:372:\"The
  location in the source code where the decision was made to\nreport the error, usually
  the place where it was logged.\nFor a logged exception this would be the source
  line where the\nexception is logged, usually close to the place where it was\ncaught.
  This value is in contrast to `Exception.cause_location`,\nwhich describes the source
  line where the exception was thrown.\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:399:\"The
  user who caused or was affected by the crash.\nThis can be a user ID, an email address,
  or an arbitrary token that\nuniquely identifies the user.\nWhen sending an error
  report, leave this field empty if the user was not\nlogged in. In this case the\nError
  Reporting system will use other data, such as remote IP address, to\ndistinguish
  affected users. See `affected_users_count` in\n`ErrorGroupStats`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ErrorEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"An
  error event which is returned by the Error Reporting system.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorContext\";s:11:\"description\";s:51:\"Data
  about the context in which the error occurred.\";}s:9:\"eventTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"Time
  when the event occurred as provided in the error report.\nIf the report did not
  contain a timestamp, the time the error was received\nby the Error Reporting system
  is used.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  stack trace that was reported or logged by the service.\";s:4:\"type\";s:6:\"string\";}s:14:\"serviceContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ServiceContext\";s:11:\"description\";s:55:\"The
  `ServiceContext` for which this error was reported.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ErrorGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Description
  of a group of similar error events.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"groupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Group
  IDs are unique for a given project. If the same kind of error\noccurs in different
  service contexts, it will receive the same group ID.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  group resource name.\nExample: <code>projects/my-project-123/groups/my-groupid</code>\";s:4:\"type\";s:6:\"string\";}s:14:\"trackingIssues\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Associated
  tracking issues.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TrackingIssue\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ErrorGroupStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"Data
  extracted for a specific group based on certain filter criteria,\nsuch as a given
  time period and/or service filter.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"affectedServices\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"Service
  contexts with a non-zero error count for the given filter\ncriteria. This list can
  be truncated if multiple services are affected.\nRefer to `num_affected_services`
  for the total count.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ServiceContext\";}s:4:\"type\";s:5:\"array\";}s:18:\"affectedUsersCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:610:\"Approximate
  number of affected users in the given group that\nmatch the filter criteria.\nUsers
  are distinguished by data in the `ErrorContext` of the\nindividual error events,
  such as their login name or their remote\nIP address in case of HTTP requests.\nThe
  number of affected users can be zero even if the number of\nerrors is non-zero if
  no data was provided from which the\naffected user could be deduced.\nUsers are
  counted based on data in the request\ncontext that was provided in the error report.
  If more users are\nimplicitly affected, such as due to a crash of the whole service,\nthis
  is not reflected here.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Approximate
  total number of events in the given group that match\nthe filter criteria.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"firstSeenTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"Approximate
  first occurrence that was ever seen for this group\nand which matches the given
  filter criteria, ignoring the\ntime_range that was specified in the request.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ErrorGroup\";s:11:\"description\";s:54:\"Group
  data that is independent of the filter criteria.\";}s:12:\"lastSeenTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"Approximate
  last occurrence that was ever seen for this group and\nwhich matches the given filter
  criteria, ignoring the time_range\nthat was specified in the request.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:19:\"numAffectedServices\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  total number of services with a non-zero error count for the given\nfilter criteria.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"representative\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ErrorEvent\";s:11:\"description\";s:340:\"An
  arbitrary event that is chosen as representative for the whole group.\nThe representative
  event is intended to be used as a quick preview for\nthe whole group. Events in
  the group are usually sufficiently similar\nto each other such that showing an arbitrary
  representative provides\ninsight into the characteristics of the group as a whole.\";}s:11:\"timedCounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"Approximate
  number of occurrences over time.\nTimed counts returned by ListGroups are guaranteed
  to be:\n\n- Inside the requested time interval\n- Non-overlapping, and\n- Ordered
  by ascending time.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimedCount\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"HttpRequestContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:213:\"HTTP
  request data that is related to a reported error.\nThis data should be provided
  by the application when reporting an error,\nunless the\nerror report has been generated
  automatically from Google App Engine logs.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  type of HTTP request, such as `GET`, `POST`, etc.\";s:4:\"type\";s:6:\"string\";}s:8:\"referrer\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  referrer information that is provided with the request.\";s:4:\"type\";s:6:\"string\";}s:8:\"remoteIp\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"The
  IP address from which the request originated.\nThis can be IPv4, IPv6, or a token
  which is derived from the\nIP address, depending on the data that has been provided\nin
  the error report.\";s:4:\"type\";s:6:\"string\";}s:18:\"responseStatusCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  HTTP response status code for the request.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  URL of the request.\";s:4:\"type\";s:6:\"string\";}s:9:\"userAgent\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  user agent information that is provided with the request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListEventsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Contains
  a set of requested error events.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"errorEvents\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  error events which match the given request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ErrorEvent\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"If
  non-empty, more results are available.\nPass this token, along with the same query
  parameters as the first\nrequest, to view the next page of results.\";s:4:\"type\";s:6:\"string\";}s:14:\"timeRangeBegin\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  timestamp specifies the start time to which the request was restricted.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListGroupStatsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Contains
  a set of requested error group stats.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"errorGroupStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  error group stats which match the given request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ErrorGroupStats\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"If
  non-empty, more results are available.\nPass this token, along with the same query
  parameters as the first\nrequest, to view the next page of results.\";s:4:\"type\";s:6:\"string\";}s:14:\"timeRangeBegin\";O:8:\"stdClass\":3:{s:11:\"description\";s:244:\"The
  timestamp specifies the start time to which the request was restricted.\nThe start
  time is set based on the requested time range. It may be adjusted\nto a later time
  if a project has exceeded the storage quota and older data\nhas been deleted.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ReportErrorEventResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Response
  for reporting an individual error event.\nData may be added to this message in the
  future.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"ReportedErrorEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"An
  error event which is reported to the Error Reporting system.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorContext\";s:11:\"description\";s:68:\"[Optional]
  A description of the context in which the error occurred.\";}s:9:\"eventTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"[Optional]
  Time when the event occurred.\nIf not provided, the time when the event was received
  by the\nError Reporting system will be used.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:266:\"[Required]
  A message describing the error. The message can contain an\nexception stack in one
  of the supported programming languages and formats.\nIn that case, the message is
  parsed and detailed exception information\nis returned when retrieving the error
  event again.\";s:4:\"type\";s:6:\"string\";}s:14:\"serviceContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ServiceContext\";s:11:\"description\";s:64:\"[Required]
  The service context in which this error has occurred.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ServiceContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Describes
  a running service that sends errors.\nIts version changes over time and multiple
  versions can run in parallel.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:413:\"An
  identifier of the service, such as the name of the\nexecutable, job, or Google App
  Engine service name. This field is expected\nto have a low number of values that
  are relatively stable over time, as\nopposed to `version`, which can be changed
  whenever new code is deployed.\n\nContains the service name for error reports extracted
  from Google\nApp Engine logs or `default` if the App Engine default service is used.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Represents
  the source code version that the developer provided,\nwhich could represent a version
  label or a Git SHA-1 hash, for example.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SourceLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:269:\"Indicates
  a location in the source code of the service for which\nerrors are reported.\nThis
  data should be provided by the application when reporting an error,\nunless the
  error report has been generated automatically from Google App\nEngine logs. All
  fields are optional.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"filePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  source code filename, which can include a truncated relative\npath, or a full path
  from a production machine.\";s:4:\"type\";s:6:\"string\";}s:12:\"functionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"Human-readable
  name of a function or method.\nThe value can include optional context like the class
  or package name.\nFor example, `my.package.MyClass.method` in case of Java.\";s:4:\"type\";s:6:\"string\";}s:10:\"lineNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"1-based.
  0 indicates that the line number is unknown.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TimedCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"The
  number of errors in a given time period.\nAll numbers are approximate since the
  error events are sampled\nbefore counting them.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Approximate
  number of occurrences in the given time period.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"End
  of the time period to which `count` refers (excluded).\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Start
  of the time period to which `count` refers (included).\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TrackingIssue\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Information
  related to tracking the progress on resolving the error.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"A
  URL pointing to a related entry in an issue tracking system.\nExample: https://github.com/user/project/issues/4\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
