---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:25:\"Indian Mobile Number Info\";s:11:\"description\";s:175:\"Just
  give any indian 10-digit mobile number and get its information easily via this api.
  (Currently not supported-now also supports mnp status checking in few major networks.)\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"blaazetech\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/53aa37ebe4b07e1f4ebea65b_medium\";s:20:\"x-mashape-categories\";a:1:{i:0;s:4:\"Data\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:63:\"https://market.mashape.com/blaazetech/indian-mobile-number-info\";}}"
host: indianmobilenumberinfo.p.mashape.com
basePath: ""
paths:
  /index.php:
    get:
      description: Check any Indian Mobile Number's Information.
      operationId: indian-mobile-number-info
      produces:
      - application/json
      parameters:
      - name: mobilenos
        in: query
        description: 10-digit mobile number(s) each separated by a comma.
        required: true
      responses:
        200:
          description: ~
          schema:
            type: array
definitions: !php/object "O:8:\"stdClass\":1:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"MobileNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Series\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"NetworkCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"AreaCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"AreaDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Corporation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"OwnerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
