---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:79:\"The recommended
  REST API endpoints to be used when integrating with PatientView\";s:14:\"termsOfService\";s:35:\"https://www.patientview.org/#/terms\";s:5:\"title\";s:11:\"PatientView\";s:7:\"version\";s:3:\"1.0\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:46:\"https://www.patientview.org/images/pv-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.5.0\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:40:\"https://www.patientview.org/api/api-docs\";s:7:\"version\";s:3:\"1.2\";}}s:14:\"x-providerName\";s:15:\"patientview.org\";s:11:\"x-preferred\";b:1;}"
host: www.patientview.org
basePath: /
paths:
  /auth/login:
    post:
      deprecated: false
      description: Authenticate using username and password, returns token, which
        must be added to X-Auth-Token in header of all future requests
      operationId: logIn
      parameters:
      - description: credentials
        in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/Credentials'
      produces:
      - '*/*'
      responses:
        200:
          description: Description was not specified
          schema:
            $ref: '#/definitions/UserToken'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Log In
      tags:
      - auth-controller
  /auth/logout/{token}:
    delete:
      deprecated: false
      description: Log Out
      operationId: logOut
      parameters:
      - description: token
        in: path
        name: token
        required: true
        type: string
      produces:
      - '*/*'
      responses:
        200:
          description: Description was not specified
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
      summary: Log Out
      tags:
      - auth-controller
  /auth/{token}/basicuserinformation:
    get:
      deprecated: false
      description: Once logged in and have a token, get basic user information including
        group role membership
      operationId: getBasicUserInformation
      parameters:
      - description: token
        in: path
        name: token
        required: true
        type: string
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Get Basic User Information
      tags:
      - auth-controller
  /patient/{userId}/basic:
    get:
      deprecated: false
      description: Given a User ID, get basic patient information for a user from
        clinical data stored in FHIR
      operationId: getBasicPatientDetails
      parameters:
      - description: userId
        format: int64
        in: path
        name: userId
        required: true
        type: integer
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Patient'
            type: array
            uniqueItems: false
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Get Basic Patient Information
      tags:
      - patient-controller
  /patientmanagement/diagnoses:
    get:
      deprecated: false
      description: getPatientManagementDiagnoses
      operationId: getPatientManagementDiagnoses
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Code'
            type: array
            uniqueItems: false
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: getPatientManagementDiagnoses
      tags:
      - patient-management-controller
  /patientmanagement/lookuptypes:
    get:
      deprecated: false
      description: getPatientManagementLookupTypes
      operationId: getPatientManagementLookupTypes
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/LookupType'
            type: array
            uniqueItems: false
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: getPatientManagementLookupTypes
      tags:
      - patient-management-controller
  /patientmanagement/validate:
    post:
      deprecated: false
      description: validatePatientManagement
      operationId: validatePatientManagement
      parameters:
      - description: patientManagement
        in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/PatientManagement'
      produces:
      - application/json
      responses:
        200:
          description: Description was not specified
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: validatePatientManagement
      tags:
      - patient-management-controller
  /patientmanagement/{userId}/group/{groupId}/identifier/{identifierId}:
    get:
      deprecated: false
      description: getPatientManagement
      operationId: getPatientManagement
      parameters:
      - description: userId
        format: int64
        in: path
        name: userId
        required: true
        type: integer
      - description: groupId
        format: int64
        in: path
        name: groupId
        required: true
        type: integer
      - description: identifierId
        format: int64
        in: path
        name: identifierId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PatientManagement'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: getPatientManagement
      tags:
      - patient-management-controller
    post:
      deprecated: false
      description: savePatientManagement
      operationId: savePatientManagement
      parameters:
      - description: userId
        format: int64
        in: path
        name: userId
        required: true
        type: integer
      - description: groupId
        format: int64
        in: path
        name: groupId
        required: true
        type: integer
      - description: identifierId
        format: int64
        in: path
        name: identifierId
        required: true
        type: integer
      - description: patientManagement
        in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/PatientManagement'
      produces:
      - application/json
      responses:
        200:
          description: Description was not specified
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: savePatientManagement
      tags:
      - patient-management-controller
  /patientmanagement/{userId}/group/{groupId}/identifier/{identifierId}/surgeries:
    post:
      deprecated: false
      description: savePatientManagementSurgeries
      operationId: savePatientManagementSurgeries
      parameters:
      - description: userId
        format: int64
        in: path
        name: userId
        required: true
        type: integer
      - description: groupId
        format: int64
        in: path
        name: groupId
        required: true
        type: integer
      - description: identifierId
        format: int64
        in: path
        name: identifierId
        required: true
        type: integer
      - description: patientManagement
        in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/PatientManagement'
      produces:
      - application/json
      responses:
        200:
          description: Description was not specified
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: savePatientManagementSurgeries
      tags:
      - patient-management-controller
  /user/{userId}/availableobservationheadings:
    get:
      deprecated: false
      description: Given a User ID retrieve a list of available observation types
        for that user (where they have observation data).
      operationId: getAvailableObservationHeadings
      parameters:
      - description: userId
        format: int64
        in: path
        name: userId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/ObservationHeading'
            type: array
            uniqueItems: false
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Get Available Observations Types For a User
      tags:
      - observation-heading-controller
  /user/{userId}/observations:
    get:
      deprecated: false
      description: Given a User ID and search parameters, retrieve a page of observations.
      operationId: getObservationsByCodes
      parameters:
      - description: userId
        format: int64
        in: path
        name: userId
        required: true
        type: integer
      - description: code
        in: query
        items:
          type: string
        name: code
        required: true
        type: array
        uniqueItems: false
      - description: limit
        format: int64
        in: query
        name: limit
        required: true
        type: integer
      - description: offset
        format: int64
        in: query
        name: offset
        required: true
        type: integer
      - description: orderDirection
        in: query
        name: orderDirection
        required: true
        type: string
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FhirObservationPage'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Get Observations of Multiple Types For a User
      tags:
      - observation-controller
  /user/{userId}/observations/{code}:
    get:
      deprecated: false
      description: Given a User ID and observation code, retrieve all observations.
      operationId: getObservationsByCode
      parameters:
      - description: userId
        format: int64
        in: path
        name: userId
        required: true
        type: integer
      - description: code
        in: path
        name: code
        required: true
        type: string
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/FhirObservation'
            type: array
            uniqueItems: false
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Get Observations of a Certain Type For a User
      tags:
      - observation-controller
  /user/{userId}/observations/{code}/patiententered:
    get:
      deprecated: false
      description: Given a User ID and observation code, retrieve patient entered
        observations.
      operationId: getPatientEnteredObservationsByCode
      parameters:
      - description: userId
        format: int64
        in: path
        name: userId
        required: true
        type: integer
      - description: code
        in: path
        name: code
        required: true
        type: string
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/FhirObservation'
            type: array
            uniqueItems: false
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Get patient entered Observations of a Certain Type For a User
      tags:
      - observation-controller
  /user/{userId}/patiententeredobservationheadings:
    get:
      deprecated: false
      description: Given a User ID retrieve a list of available observation types
        for that user (where they have patient entered observation data).
      operationId: getPatientEnteredObservationHeadings
      parameters:
      - description: userId
        format: int64
        in: path
        name: userId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/ObservationHeading'
            type: array
            uniqueItems: false
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Get Available Patient Entered Observations Types For a User
      tags:
      - observation-heading-controller
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":40:{s:6:\"ApiKey\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"expired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"expiryDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"BaseGroup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"groupType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Lookup\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"lastImportDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"parentCodes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"shortName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"visible\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"visibleToJoin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:8:\"Category\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"friendlyDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"hidden\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"icd10Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"number\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:4:\"Code\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"codeCategories\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CodeCategory\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:8:\"codeType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Lookup\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"displayOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"externalStandards\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CodeExternalStandard\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:15:\"fullDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"hideFromPatients\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:19:\"patientFriendlyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"removedExternally\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"sourceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:11:\"PATIENTVIEW\";i:1;s:11:\"NHS_CHOICES\";}s:4:\"type\";s:6:\"string\";}s:12:\"standardType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Lookup\";}}}s:12:\"CodeCategory\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:20:\"CodeExternalStandard\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"codeString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"externalStandard\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExternalStandard\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:12:\"ContactPoint\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"contactPointType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ContactPointType\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:16:\"ContactPointType\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"lookupType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LookupType\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:16:\"UNIT_WEB_ADDRESS\";i:1;s:17:\"TRUST_WEB_ADDRESS\";i:2;s:13:\"PV_ADMIN_NAME\";i:3;s:14:\"PV_ADMIN_PHONE\";i:4;s:14:\"PV_ADMIN_EMAIL\";i:5;s:20:\"UNIT_ENQUIRIES_PHONE\";i:6;s:20:\"UNIT_ENQUIRIES_EMAIL\";i:7;s:17:\"APPOINTMENT_PHONE\";i:8;s:17:\"APPOINTMENT_EMAIL\";i:9;s:17:\"OUT_OF_HOURS_INFO\";}s:4:\"type\";s:6:\"string\";}}}s:11:\"Credentials\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"apiKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:51:\"Entry\xABlong,Map\xABstring,List\xABFhirObservation\xBB\xBB\xBB\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"key\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/Entry\xABstring,List\xABFhirObservation\xBB\xBB\";}s:4:\"type\";s:5:\"array\";}}}s:39:\"Entry\xABstring,List\xABFhirObservation\xBB\xBB\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"key\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FhirObservation\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"ExternalStandard\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Feature\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"FhirAllergy\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"confidenceLevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"infoSource\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"reaction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"recordedDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"substance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"FhirCondition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:8:\"asserter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"fullDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"FhirContact\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"system\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"use\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"FhirEncounter\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"encounterType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:12:\"observations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FhirObservation\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:10:\"procedures\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FhirProcedure\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"FhirIdentifier\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"FhirObservation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"applies\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"bodySite\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"comments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"comparator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"diagram\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"temporaryUuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"units\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"FhirObservationPage\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"#/definitions/Entry\xABlong,Map\xABstring,List\xABFhirObservation\xBB\xBB\xBB\";}s:4:\"type\";s:5:\"array\";}s:13:\"totalElements\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:11:\"FhirPatient\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:8:\"address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"contacts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FhirContact\";}s:4:\"type\";s:5:\"array\";}s:11:\"dateOfBirth\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"dateOfBirthNoTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"forename\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:9:\"groupCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"identifiers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FhirIdentifier\";}s:4:\"type\";s:5:\"array\";}s:8:\"postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"practitioners\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FhirPractitioner\";}s:4:\"type\";s:5:\"array\";}s:7:\"surname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"FhirPractitioner\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:8:\"address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"allowInviteGp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"contacts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FhirContact\";}s:4:\"type\";s:5:\"array\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"groupCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"inviteDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"FhirProcedure\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"bodySite\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Group\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":22:{s:8:\"address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"childGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"contactPoints\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ContactPoint\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"fhirResourceId\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:13:\"groupFeatures\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GroupFeature\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:9:\"groupType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Lookup\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"lastImportDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:9:\"locations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"parentGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}s:8:\"postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"sftpUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shortName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"visible\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"visibleToJoin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:12:\"GroupFeature\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"feature\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:9:\"GroupRole\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Role\";}}}s:4:\"Link\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"displayOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"linkType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Lookup\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Location\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"web\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Lookup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"descriptionFriendly\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"displayOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"lookupType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LookupType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"LookupType\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:22:{i:0;s:5:\"GROUP\";i:1;s:4:\"MENU\";i:2;s:4:\"ROLE\";i:3;s:13:\"CODE_STANDARD\";i:4;s:9:\"CODE_TYPE\";i:5;s:12:\"FEATURE_TYPE\";i:6;s:17:\"RELATIONSHIP_TYPE\";i:7;s:10:\"IDENTIFIER\";i:8;s:18:\"CONTACT_POINT_TYPE\";i:9;s:14:\"STATISTIC_TYPE\";i:10;s:9:\"NEWS_TYPE\";i:11;s:6:\"GENDER\";i:12;s:18:\"IBD_CROHNSLOCATION\";i:13;s:31:\"IBD_CROHNSPROXIMALTERMINALILEUM\";i:14;s:18:\"IBD_CROHNSPERIANAL\";i:15;s:19:\"IBD_CROHNSBEHAVIOUR\";i:16;s:12:\"IBD_UCEXTENT\";i:17;s:20:\"IBD_EGIMCOMPLICATION\";i:18;s:24:\"IBD_SURGERYMAINPROCEDURE\";i:19;s:17:\"IBD_SMOKINGSTATUS\";i:20;s:17:\"IBD_FAMILYHISTORY\";i:21;s:9:\"LINK_TYPE\";}s:4:\"type\";s:6:\"string\";}}}s:18:\"ObservationHeading\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"decimalPlaces\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"defaultPanel\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"defaultPanelOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"heading\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"infoLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"maxGraph\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"minGraph\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"normalRange\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"observationHeadingGroups\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ObservationHeadingGroup\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:5:\"units\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"ObservationHeadingGroup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"panel\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"panelOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:7:\"Patient\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"diagnosisCodes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Code\";}s:4:\"type\";s:5:\"array\";}s:13:\"fhirAllergies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FhirAllergy\";}s:4:\"type\";s:5:\"array\";}s:14:\"fhirConditions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FhirCondition\";}s:4:\"type\";s:5:\"array\";}s:14:\"fhirEncounters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FhirEncounter\";}s:4:\"type\";s:5:\"array\";}s:16:\"fhirObservations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FhirObservation\";}s:4:\"type\";s:5:\"array\";}s:11:\"fhirPatient\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FhirPatient\";}s:17:\"fhirPractitioners\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FhirPractitioner\";}s:4:\"type\";s:5:\"array\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:17:\"PatientManagement\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"condition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FhirCondition\";}s:10:\"encounters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FhirEncounter\";}s:4:\"type\";s:5:\"array\";}s:9:\"groupCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"observations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FhirObservation\";}s:4:\"type\";s:5:\"array\";}s:7:\"patient\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FhirPatient\";}s:13:\"practitioners\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FhirPractitioner\";}s:4:\"type\";s:5:\"array\";}}}s:4:\"Role\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:7:\"PATIENT\";i:1;s:10:\"UNIT_ADMIN\";i:2;s:11:\"STAFF_ADMIN\";i:3;s:19:\"DISEASE_GROUP_ADMIN\";i:4;s:15:\"SPECIALTY_ADMIN\";i:5;s:12:\"GLOBAL_ADMIN\";i:6;s:8:\"GP_ADMIN\";i:7;s:6:\"MEMBER\";i:8;s:6:\"PUBLIC\";i:9;s:14:\"UNIT_ADMIN_API\";i:10;s:8:\"IMPORTER\";}s:4:\"type\";s:6:\"string\";}s:7:\"visible\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:5:\"Route\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"controller\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"displayOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"lookup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Lookup\";}s:11:\"templateUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"UUID\";O:8:\"stdClass\":0:{}s:4:\"User\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":28:{s:6:\"apiKey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/ApiKey\";}s:13:\"canSwitchUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"changePassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"contactNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"currentLogin\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"currentLoginIpAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"dateOfBirth\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"dummy\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"emailVerified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"forename\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"groupRoles\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GroupRole\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:26:\"hideSecretWordNotification\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"identifiers\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:9:\"lastLogin\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"lastLoginIpAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"latestDataReceivedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/BaseGroup\";}s:22:\"latestDataReceivedDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"locked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"picture\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"roleDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"secretWordIsSet\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"surname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"userFeatures\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserFeature\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"UserFeature\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"feature\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"optInDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"optInHidden\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"optInStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"optOutHidden\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:9:\"UserToken\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":24:{s:12:\"auditActions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"checkSecretWord\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"externalStandards\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExternalStandard\";}s:4:\"type\";s:5:\"array\";}s:13:\"groupFeatures\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}s:4:\"type\";s:5:\"array\";}s:21:\"groupMessagingEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"mustSetSecretWord\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"patientFeatures\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}s:4:\"type\";s:5:\"array\";}s:28:\"patientMessagingFeatureTypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"patientRoles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Role\";}s:4:\"type\";s:5:\"array\";}s:6:\"routes\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Route\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:10:\"secretWord\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"secretWordChoices\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:17:\"secretWordIndexes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"secretWordToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"securityRoles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Role\";}s:4:\"type\";s:5:\"array\";}s:20:\"shouldEnterCondition\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"staffFeatures\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}s:4:\"type\";s:5:\"array\";}s:10:\"staffRoles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Role\";}s:4:\"type\";s:5:\"array\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:12:\"userFeatures\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}s:4:\"type\";s:5:\"array\";}s:10:\"userGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/BaseGroup\";}s:4:\"type\";s:5:\"array\";}}}}"
...
