---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Student API\";s:11:\"description\";s:23:\"This
  is the Student API\";s:7:\"version\";s:5:\"1.0.0\";}"
host: students-3scale.apps.rhsademo.net
basePath: /v1
paths:
  /students/{id}:
    get:
      summary: Find Student by ID
      description: Allows submission of admission applications from local reading
        and scoring systems to the main campus SISn
      parameters:
      - name: id
        in: path
        description: Student Identifier
        required: true
        type: number
        format: double
      tags:
      - Students
      responses:
        200:
          description: Students
          schema:
            type: array
            items:
              $ref: '#/definitions/Student'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /students/{id}/academic-status:
    get:
      summary: Find Student Academic Status by ID
      description: Allows submission of admission applications from local reading
        and scoring systems to the main campus SISn
      parameters:
      - name: id
        in: path
        description: Student Identifier
        required: true
        type: number
        format: double
      tags:
      - Students
      responses:
        200:
          description: Students
          schema:
            type: array
            items:
              $ref: '#/definitions/Student'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /students/{id}/affiliations:
    get:
      summary: Find Student Affiliations by ID
      description: Allows submission of admission applications from local reading
        and scoring systems to the main campus SISn
      parameters:
      - name: id
        in: path
        description: Student Identifier
        required: true
        type: number
        format: double
      tags:
      - Students
      responses:
        200:
          description: Students
          schema:
            type: array
            items:
              $ref: '#/definitions/Student'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /students/{id}/all:
    get:
      summary: Get all core data about a student
      description: Allows submission of admission applications from local reading
        and scoring systems to the main campus SISn
      parameters:
      - name: id
        in: path
        description: Student Identifier
        required: true
        type: number
        format: double
      tags:
      - Students
      responses:
        200:
          description: Students
          schema:
            type: array
            items:
              $ref: '#/definitions/Student'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /students/{id}/contacts:
    get:
      summary: Find Student Contacts by ID
      description: Allows submission of admission applications from local reading
        and scoring systems to the main campus SISn
      parameters:
      - name: id
        in: path
        description: Student Identifier
        required: true
        type: number
        format: double
      tags:
      - Students
      responses:
        200:
          description: Students
          schema:
            type: array
            items:
              $ref: '#/definitions/Student'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /students/{id}/demographic:
    get:
      summary: Find Student demographic information (contacts, address, phone etc)
        by ID
      description: Allows submission of admission applications from local reading
        and scoring systems to the main campus SISn
      parameters:
      - name: id
        in: path
        description: Student Identifier
        required: true
        type: number
        format: double
      tags:
      - Students
      responses:
        200:
          description: Students
          schema:
            type: array
            items:
              $ref: '#/definitions/Student'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /students/{id}/dob:
    get:
      summary: Find Student date of birth by ID
      description: Allows submission of admission applications from local reading
        and scoring systems to the main campus SISn
      parameters:
      - name: id
        in: path
        description: Student Identifier
        required: true
        type: number
        format: double
      tags:
      - Students
      responses:
        200:
          description: Students
          schema:
            type: array
            items:
              $ref: '#/definitions/Student'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /students/{id}/gender:
    get:
      summary: Find Student gender by ID
      description: Allows submission of admission applications from local reading
        and scoring systems to the main campus SISn
      parameters:
      - name: id
        in: path
        description: Student Identifier
        required: true
        type: number
        format: double
      tags:
      - Students
      responses:
        200:
          description: Students
          schema:
            type: array
            items:
              $ref: '#/definitions/Student'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":2:{s:7:\"Student\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Students
  First Name\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Student's
  last name.\";}s:5:\"major\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Major
  of the Student\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
