---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"This is the Central
  service server.\n\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:15:\"Central service\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"HAnt
  team\";s:5:\"email\";s:25:\"ioana.tanase@info.uaic.ro\";s:3:\"url\";s:44:\"http://students.info.uaic.ro/~ovidiu.vultur/\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: spital.ro
basePath: /v1
paths:
  /alerts:
    post:
      tags:
      - alert
      summary: Alert emergency team
      description: Alert the service that is an issue on hospital.
      operationId: alert
      produces:
      - application/json
      - application/xml
      parameters:
      - in: body
        name: body
        description: Created user object
        required: false
        schema:
          $ref: '#/definitions/Alert'
      responses:
        200:
          description: Successful operation
    get:
      tags:
      - alert
      summary: Returns a list of all active alerts.
      description: Information about active alerts.
      operationId: getAlerts
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Alert'
      security:
      - users_auth:
        - login
  /alerts/{id}:
    get:
      tags:
      - alert
      summary: Returns the active alert with ID
      description: ""
      operationId: getAlertById
      produces:
      - application/json
      - application/xml
      parameters:
      - in: path
        name: id
        description: ID of alerrt that needs to be fetched
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: Successful operation
        404:
          description: Alert not found
      security:
      - users_auth:
        - login
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":1:{s:5:\"Alert\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"hospital\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Hospital
  Status\";}}}}"
...
