---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":13:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:17:\"team@appveyor.com\";s:4:\"name\";s:13:\"AppVeyor
  Team\";s:3:\"url\";s:31:\"https://www.appveyor.com/about/\";}s:11:\"description\";s:869:\"AppVeyor
  is a hosted continuous integration service which runs on Microsoft\nWindows.  The
  AppVeyor REST API provides a RESTful way to interact with the\nAppVeyor service.
  \ This includes managing projects, builds, deployments,\nand the teams that build
  them.\n\nAdditional help and discussion of the AppVeyor REST API is available at\nhttp://help.appveyor.com/discussions\n\nThis
  Swagger definition is an **unofficial** description of the AppVeyor\nREST API maintained
  at https://github.com/kevinoid/appveyor-swagger\nPlease report any issues or suggestions
  for this Swagger definition at\nhttps://github.com/kevinoid/appveyor-swagger/issues/new\n\n####
  API Conventions\n\nFields which are missing from update operations (`PUT` requests)
  are\ntypically reset to their default values.  So although most fields are not\ntechnically
  required, they should usually be specified in practice.\n\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:42:\"AppVeyor
  End User License Agreement (EULA)\";s:3:\"url\";s:30:\"https://www.appveyor.com/eula/\";}s:14:\"termsOfService\";s:42:\"https://www.appveyor.com/terms-of-service/\";s:5:\"title\";s:8:\"AppVeyor\";s:7:\"version\";s:12:\"0.20180519.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:91:\"https://api.apis.guru/v2/cache/logo/https_www.appveyor.com_assets_img_appveyor-logo-256.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:79:\"https://raw.githubusercontent.com/kevinoid/appveyor-swagger/master/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"appveyor.com\";s:16:\"x-unofficialSpec\";b:1;s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"appveyor\";s:4:\"type\";s:7:\"openapi\";}}"
host: ci.appveyor.com
basePath: /api
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":90:{s:15:\"AccessRightName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"Delete\";i:1;s:6:\"Deploy\";i:2;s:8:\"RunBuild\";i:3;s:6:\"Update\";i:4;s:4:\"View\";}s:4:\"type\";s:6:\"string\";}s:14:\"AceAccessRight\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"allowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AccessRightName\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:24:\"AceAccessRightDefinition\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AccessRightName\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:8:\"Artifact\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:9:\"minLength\";i:0;s:5:\"title\";s:15:\"Deployment
  name\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"Path
  glob of artifact files.\nNote that updateProject does not require path, but omitting
  path\nresults in post-build error \"Collecting artifacts... Value cannot\nbe null.
  \ Parameter name: input\"\n\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactType\";}}s:8:\"required\";a:1:{i:0;s:4:\"path\";}s:4:\"type\";s:6:\"object\";}s:13:\"ArtifactModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"fileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Deployment
  name\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactType\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"This
  property has not been observed in JSON responses, but is\npresent and nil in XML
  responses.\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ArtifactType\";O:8:\"stdClass\":3:{s:11:\"description\";s:364:\"Possible
  values from `Push-AppveyorArtifact` cmdlet `-Type` parameter.\n\nThe web UI only
  allows selection of `Auto`, `WebDeployPackage`, and\nunspecified (which it sends
  as the empty string but functions like\nomitting the property) for `updateProject`.\n\nAny
  string can be sent and will be saved/returned, but only these\nvalues have a function
  (as far as I am aware).\";s:4:\"enum\";a:10:{i:0;s:4:\"Auto\";i:1;s:17:\"AzureCloudService\";i:2;s:23:\"AzureCloudServiceConfig\";i:3;s:23:\"ElasticBeanstalkPackage\";i:4;s:4:\"File\";i:5;s:12:\"NuGetPackage\";i:6;s:14:\"OctopusPackage\";i:7;s:11:\"SsdtPackage\";i:8;s:16:\"WebDeployPackage\";i:9;s:3:\"Zip\";}s:4:\"type\";s:6:\"string\";}s:5:\"Build\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BuildLookupModel\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Timestamped\";}i:2;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:10:\"authorName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"authorUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"buildNumber\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:8:\"commitId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"committed\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"committerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"committerUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"finished\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"isTag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"jobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Always
  empty in getProjectHistory and startDeployment responses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/BuildJob\";}s:4:\"type\";s:5:\"array\";}s:15:\"messageExtended\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"messages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildMessage\";}s:4:\"type\";s:5:\"array\";}s:13:\"pullRequestId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:15:\"pullRequestName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"started\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Status\";}}s:4:\"type\";s:6:\"object\";}}}s:14:\"BuildCloudName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:3:\"gce\";i:1;s:10:\"pro-vs2013\";i:2;s:11:\"pro-win2016\";i:3;s:10:\"pro-vs2017\";i:4;s:6:\"ubuntu\";}s:4:\"type\";s:6:\"string\";}s:8:\"BuildJob\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"allowFailure\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"artifactsCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:22:\"compilationErrorsCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:24:\"compilationMessagesCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:24:\"compilationWarningsCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:16:\"failedTestsCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"messagesCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:6:\"osType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/OSType\";}s:16:\"passedTestsCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:10:\"testsCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}}s:16:\"BuildLookupModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"buildId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"BuildMessage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BuildMessageCategory\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"BuildMessageCategory\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:11:\"information\";i:1;s:7:\"warning\";}s:4:\"type\";s:6:\"string\";}s:9:\"BuildMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"msbuild\";i:1;s:4:\"none\";i:2;s:6:\"script\";}s:4:\"type\";s:6:\"string\";}s:26:\"BuildNotificationFrequency\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"all\";i:1;s:9:\"myCommits\";i:2;s:4:\"none\";}s:4:\"type\";s:6:\"string\";}s:17:\"BuildStartRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:11:\"accountName\";s:17:\"your-account-name\";s:6:\"branch\";s:6:\"master\";s:20:\"environmentVariables\";O:8:\"stdClass\":2:{s:11:\"another_var\";s:13:\"another
  value\";s:6:\"my_var\";s:5:\"value\";}s:11:\"projectSlug\";s:21:\"project-slug-from-url\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"accountName\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:6:\"branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"commitId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"environmentVariables\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:11:\"projectSlug\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"pullRequestId\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Can
  not be used with `branch` or `commitId`\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:11:\"accountName\";i:1;s:11:\"projectSlug\";}s:4:\"type\";s:6:\"object\";}s:16:\"BuildWorkerImage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"buildCloudName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BuildCloudName\";}s:18:\"buildWorkerImageId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BuildWorkerImageName\";}s:6:\"osType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/OSType\";}}s:8:\"required\";a:2:{i:0;s:18:\"buildWorkerImageId\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:20:\"BuildWorkerImageName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:15:\"Previous
  Ubuntu\";i:1;s:27:\"Previous Visual Studio 2013\";i:2;s:27:\"Previous Visual Studio
  2015\";i:3;s:27:\"Previous Visual Studio 2017\";i:4;s:6:\"Ubuntu\";i:5;s:18:\"Visual
  Studio 2013\";i:6;s:18:\"Visual Studio 2015\";i:7;s:18:\"Visual Studio 2017\";i:8;s:26:\"Visual
  Studio 2017 Preview\";i:9;s:5:\"WMF 5\";}s:4:\"type\";s:6:\"string\";}s:20:\"CollaboratorAddition\";O:8:\"stdClass\":5:{s:11:\"description\";s:130:\"Technically
  `roleId` has default value 0 and is not required, but\nsince role 0 never exists
  it would always cause a 404 response.\n\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"email\";s:14:\"john@smith.com\";s:6:\"roleId\";i:3040;}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:6:\"roleId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:6:\"roleId\";}s:4:\"type\";s:6:\"object\";}s:18:\"CollaboratorUpdate\";O:8:\"stdClass\":5:{s:11:\"description\";s:155:\"Technically
  `userId` and `roleId` have default value 0 and are not\nrequired, but since user
  0 and role 0 never exist it would always cause\na 404 response.\n\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"roleId\";i:3040;s:6:\"userId\";i:2018;}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"roleId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"userId\";i:1;s:6:\"roleId\";}s:4:\"type\";s:6:\"object\";}s:10:\"DeployMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"providers\";i:1;s:4:\"none\";i:2;s:6:\"script\";}s:4:\"type\";s:6:\"string\";}s:10:\"Deployment\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeploymentLookupModel\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Timestamped\";}i:2;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:11:\"environment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeploymentEnvironment\";}s:4:\"jobs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DeploymentJob\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}}s:22:\"DeploymentCancellation\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:12:\"deploymentId\";i:123;}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"deploymentId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:12:\"deploymentId\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeploymentEnvironment\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/DeploymentEnvironmentLookupModel\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Timestamped\";}i:2;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"accountId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"projectsMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:189:\"0
  is \"Any project can be deployed to the environment\"\n1 is \"Only selected projects
  can be deployed to the environment\"\n2 is \"All except selected projects can be
  deployed to the environment\"\";s:4:\"enum\";a:3:{i:0;i:0;i:1;i:1;i:2;i:2;}s:4:\"type\";s:7:\"integer\";}s:18:\"securityDescriptor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SecurityDescriptor\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:276:\"Comma-separated
  list of environment tags for dynamic grouping.\nAppears that any input is accepted.
  \ The returned value only\ncontains case-preserving but insensitive unique values
  where\nspaces around \",\" are removed but otherwise preserved.  Empty\nvalues and
  items are allowed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:29:\"DeploymentEnvironmentAddition\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"production\";s:8:\"provider\";s:3:\"FTP\";s:8:\"settings\";O:8:\"stdClass\":2:{s:20:\"environmentVariables\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"my-var\";s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"isEncrypted\";b:0;s:5:\"value\";s:3:\"123\";}}}s:16:\"providerSettings\";a:3:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"server\";s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"isEncrypted\";b:0;s:5:\"value\";s:16:\"ftp.myserver.com\";}}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"username\";s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"isEncrypted\";b:0;s:5:\"value\";s:8:\"ftp-user\";}}i:2;O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"password\";s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"isEncrypted\";b:1;s:5:\"value\";s:8:\"password\";}}}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DeploymentProviderType\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/DeploymentEnvironmentSettings\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:8:\"provider\";i:2;s:8:\"settings\";}s:4:\"type\";s:6:\"object\";}s:39:\"DeploymentEnvironmentDeploymentsResults\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"deployments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/EnvironmentDeploymentModel\";}s:4:\"type\";s:5:\"array\";}s:11:\"environment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeploymentEnvironment\";}}s:8:\"required\";a:2:{i:0;s:11:\"environment\";i:1;s:11:\"deployments\";}s:4:\"type\";s:6:\"object\";}s:32:\"DeploymentEnvironmentLookupModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"deploymentEnvironmentId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DeploymentProviderType\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DeploymentEnvironmentProject\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"isSelected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:9:\"projectId\";i:1;s:4:\"name\";i:2;s:10:\"isSelected\";}s:4:\"type\";s:6:\"object\";}s:29:\"DeploymentEnvironmentSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"environmentVariables\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StoredNameValue\";}s:4:\"type\";s:5:\"array\";}s:13:\"notifications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/NotificationProviderSettings\";}s:4:\"type\";s:5:\"array\";}s:16:\"providerSettings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StoredNameValue\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:36:\"DeploymentEnvironmentSettingsResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"environment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/DeploymentEnvironmentWithSettings\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DeploymentEnvironmentWithSettings\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeploymentEnvironment\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"environmentAccessKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"projects\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Projects
  available for selection in UI.\nOnly present in response from getEnvironmentSettings.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/DeploymentEnvironmentProject\";}s:4:\"type\";s:5:\"array\";}s:16:\"selectedProjects\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Project
  IDs of selected projects\";s:5:\"items\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/DeploymentEnvironmentSettings\";}}s:4:\"type\";s:6:\"object\";}}s:7:\"example\";O:8:\"stdClass\":4:{s:23:\"deploymentEnvironmentId\";i:3018;s:20:\"environmentAccessKey\";s:13:\"gi3ttevuk7123\";s:4:\"name\";s:10:\"production\";s:8:\"settings\";O:8:\"stdClass\":3:{s:20:\"environmentVariables\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"my-var\";s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"isEncrypted\";b:0;s:5:\"value\";s:3:\"123\";}}}s:8:\"provider\";s:3:\"FTP\";s:16:\"providerSettings\";a:3:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"server\";s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"isEncrypted\";b:0;s:5:\"value\";s:16:\"ftp.myserver.com\";}}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"username\";s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"isEncrypted\";b:0;s:5:\"value\";s:8:\"ftp-user\";}}i:2;O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"password\";s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"isEncrypted\";b:1;s:5:\"value\";s:8:\"password\";}}}}}}s:13:\"DeploymentJob\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"messagesCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}}s:21:\"DeploymentLookupModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BuildLookupModel\";}s:12:\"deploymentId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:8:\"finished\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"started\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Status\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DeploymentNotificationFrequency\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:3:\"all\";i:1;s:4:\"none\";}s:4:\"type\";s:6:\"string\";}s:18:\"DeploymentProvider\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"onBranch\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:22:\"onEnvironmentVariables\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StoredNameValue\";}s:4:\"type\";s:5:\"array\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DeploymentProviderType\";}s:16:\"providerSettings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StoredNameValue\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"provider\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeploymentProviderType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:5:\"Agent\";i:1;s:9:\"AzureBlob\";i:2;s:7:\"AzureCS\";i:3;s:11:\"AzureWebJob\";i:4;s:7:\"BinTray\";i:5;s:3:\"FTP\";i:6;s:6:\"GitHub\";i:7;s:5:\"NuGet\";i:8;s:2:\"S3\";i:9;s:11:\"SqlDatabase\";i:10;s:9:\"WebDeploy\";i:11;s:7:\"Webhook\";}s:4:\"type\";s:6:\"string\";}s:22:\"DeploymentStartRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":6:{s:11:\"accountName\";s:17:\"your-account-name\";s:10:\"buildJobId\";s:12:\"sfke9239ydzf\";s:12:\"buildVersion\";s:5:\"1.2.0\";s:15:\"environmentName\";s:21:\"environment-to-deploy\";s:20:\"environmentVariables\";O:8:\"stdClass\":2:{s:11:\"another_var\";s:13:\"another
  value\";s:6:\"server\";s:12:\"myserver.com\";}s:11:\"projectSlug\";s:21:\"project-slug-from-url\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"accountName\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"buildJobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Optional
  job id with artifacts if build contains multiple jobs.\";s:4:\"type\";s:6:\"string\";}s:12:\"buildVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Build
  to deploy\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"environmentName\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:20:\"environmentVariables\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:11:\"projectSlug\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:15:\"environmentName\";i:1;s:11:\"accountName\";i:2;s:11:\"projectSlug\";i:3;s:12:\"buildVersion\";}s:4:\"type\";s:6:\"object\";}s:14:\"EncryptRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"plainValue\";s:9:\"encryptme\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"plainValue\";O:8:\"stdClass\":2:{s:7:\"default\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"EnvironmentDeploymentModel\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeploymentLookupModel\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProjectLookupModel\";}}s:4:\"type\";s:6:\"object\";}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"modelState\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:166:\"When
  present, this property is a map of property names in the format\n`request.<capitalized
  name>` to an `Array` of validation error\nmessage strings for the property.\n\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:9:\"GroupName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:7:\"Account\";i:1;s:16:\"BuildEnvironment\";i:2;s:4:\"Deny\";i:3;s:12:\"Environments\";i:4;s:8:\"Projects\";i:5;s:5:\"Roles\";i:6;s:4:\"User\";i:7;s:5:\"Users\";}s:4:\"type\";s:6:\"string\";}s:16:\"GroupPermissions\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GroupName\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PermissionState\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:11:\"permissions\";}s:4:\"type\";s:6:\"object\";}s:9:\"HostEntry\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"host\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"host\";i:1;s:2:\"ip\";}s:4:\"type\";s:6:\"object\";}s:20:\"HttpMethodRestricted\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:3:\"GET\";i:1;s:4:\"POST\";}s:4:\"type\";s:6:\"string\";}s:3:\"Job\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Timestamped\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"finished\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"started\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Status\";}}s:4:\"type\";s:6:\"object\";}}}s:16:\"MSBuildVerbosity\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"quiet\";i:1;s:7:\"minimal\";i:2;s:6:\"normal\";i:3;s:8:\"detailed\";}s:4:\"type\";s:6:\"string\";}s:28:\"NotificationProviderSettings\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/NotificationProviderType\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/NotificationSettings\";}}s:8:\"required\";a:2:{i:0;s:8:\"provider\";i:1;s:8:\"settings\";}s:4:\"type\";s:6:\"object\";}s:24:\"NotificationProviderType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:8:\"Campfire\";i:1;s:5:\"Email\";i:2;s:17:\"GitHubPullRequest\";i:3;s:7:\"HipChat\";i:4;s:5:\"Slack\";i:5;s:7:\"Webhook\";i:6;s:11:\"VSOTeamRoom\";}s:4:\"type\";s:6:\"string\";}s:20:\"NotificationSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:753:\"This
  type is the union of the settings types for each of the various\nnotification types
  supported by the API.  The properties correspond to\nthe following notification
  types:\n\n#### All Types\n- onBuildSuccess\n- onBuildFailure\n- onBuildStatusChanged\n\n####
  Campfire\n- account\n- authToken\n- room\n- template\n\n#### Email\n- subjectTemplate\n-
  bodyTemplate\n- recipients\n- recipientsValue\n\n#### GitHubPullRequest\n- authToken\n-
  template\n\n#### HipChat\n- authToken\n- from\n- room\n- template\n- serverUrl\n\n####
  Slack\n- incomingWebhookUrl\n- authToken\n- channel\n- template\n\n#### Webhook\n-
  method\n- url\n- headers\n- headersValue\n- addCustomRequestBody\n- customRequestBodyContentType\n-
  customRequestBody\n\n#### VSOTeamRoom\n- vsoAccount\n- username\n- password\n- room\n-
  template\n\";s:10:\"properties\";O:8:\"stdClass\":26:{s:5:\"$type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/NotificationSettingsType\";}s:7:\"account\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"addCustomRequestBody\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"authToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StoredValue\";}s:12:\"bodyTemplate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"customRequestBody\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"customRequestBodyContentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StoredNameValue\";}s:4:\"type\";s:5:\"array\";}s:12:\"headersValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"incomingWebhookUrl\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/HttpMethodRestricted\";}s:14:\"onBuildFailure\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"onBuildStatusChanged\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"onBuildSuccess\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StoredValue\";}s:10:\"recipients\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:15:\"recipientsValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"room\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"serverUrl\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:15:\"subjectTemplate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"template\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"vsoAccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"NotificationSettingsType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:61:\"Appveyor.Models.CampfireNotificationSettings,
  Appveyor.Models\";i:1;s:58:\"Appveyor.Models.EmailNotificationSettings, Appveyor.Models\";i:2;s:70:\"Appveyor.Models.GitHubPullRequestNotificationSettings,
  Appveyor.Models\";i:3;s:60:\"Appveyor.Models.HipChatNotificationSettings, Appveyor.Models\";i:4;s:58:\"Appveyor.Models.SlackNotificationSettings,
  Appveyor.Models\";i:5;s:60:\"Appveyor.Models.WebhookNotificationSettings, Appveyor.Models\";i:6;s:64:\"Appveyor.Models.VSOTeamRoomNotificationSettings,
  Appveyor.Models\";}s:4:\"type\";s:6:\"string\";}s:9:\"NuGetFeed\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Timestamped\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"isPrivateProject\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:17:\"publishingEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}}s:13:\"OSServiceName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:3:\"iis\";i:1;s:7:\"mongodb\";i:2;s:4:\"msmq\";i:3;s:14:\"mssql2008r2sp2\";i:4;s:16:\"mssql2008r2sp2rs\";i:5;s:12:\"mssql2012sp1\";i:6;s:14:\"mssql2012sp1rs\";i:7;s:9:\"mssql2014\";i:8;s:11:\"mssql2014rs\";i:9;s:9:\"mssql2016\";i:10;s:5:\"mysql\";i:11;s:10:\"postgresql\";}s:4:\"type\";s:6:\"string\";}s:6:\"OSType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"Ubuntu\";i:1;s:7:\"Windows\";}s:4:\"type\";s:6:\"string\";}s:14:\"PermissionName\";O:8:\"stdClass\":3:{s:11:\"description\";s:637:\"Available
  permission names.  The names correspond to the following groups:\n#### AccountPermission\n-
  ManageApplicationAuthorizations\n- UpdateAccountDetails\n- UpdateBillingDetails\n####
  BuildEnvironmentPermission\n- ConfigureBuildEnvironment\n#### DenyPermission\n-
  DenyAllProjectsEnvironments\n#### EnvironmentsPermission\n- DeployToEnvironment\n-
  ManageEnvironments\n- UpdateEnvironmentSettings\n#### ProjectsPermission\n- ManageProjects\n-
  RunProjectBuild\n- UpdateProjectSettings\n#### RolesPermission\n- AddRole\n- DeleteRole\n-
  UpdateRoleDetails\n#### UserPermission\n- ConfigureApiKeys\n#### UsersPermission\n-
  AddUser\n- DeleteUser\n- UpdateUserDetails\n\";s:4:\"enum\";a:18:{i:0;s:31:\"ManageApplicationAuthorizations\";i:1;s:20:\"UpdateAccountDetails\";i:2;s:20:\"UpdateBillingDetails\";i:3;s:25:\"ConfigureBuildEnvironment\";i:4;s:27:\"DenyAllProjectsEnvironments\";i:5;s:19:\"DeployToEnvironment\";i:6;s:18:\"ManageEnvironments\";i:7;s:25:\"UpdateEnvironmentSettings\";i:8;s:14:\"ManageProjects\";i:9;s:15:\"RunProjectBuild\";i:10;s:21:\"UpdateProjectSettings\";i:11;s:7:\"AddRole\";i:12;s:10:\"DeleteRole\";i:13;s:17:\"UpdateRoleDetails\";i:14;s:16:\"ConfigureApiKeys\";i:15;s:7:\"AddUser\";i:16;s:10:\"DeleteUser\";i:17;s:17:\"UpdateUserDetails\";}s:4:\"type\";s:6:\"string\";}s:15:\"PermissionState\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"allowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"State
  of the named permission.  `true` to allow, `false` to deny,\nmissing to inherit.\n\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PermissionName\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:12:\"PlatformName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:3:\"ARM\";i:1;s:7:\"Any
  CPU\";i:2;s:3:\"x64\";i:3;s:3:\"x86\";}s:4:\"type\";s:6:\"string\";}s:7:\"Project\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProjectLookupModel\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Timestamped\";}i:2;O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":19:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:7:\"minimum\";i:0;s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:29:\"alwaysBuildClosedPullRequests\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"builds\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Only
  non-empty for response from getProjects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:30:\"enableDeploymentInPullRequests\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:35:\"enableSecureVariablesInPullRequests\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:47:\"enableSecureVariablesInPullRequestsFromSameRepo\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"isPrivate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"nuGetFeed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NuGetFeed\";s:11:\"description\";s:40:\"Not
  present in response from addProject.\";}s:16:\"repositoryBranch\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Not
  present in response from addProject.\";s:4:\"type\";s:6:\"string\";}s:14:\"repositoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"repositoryScm\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RepositoryScm\";}s:14:\"repositoryType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RepositoryProvider\";}s:13:\"rollingBuilds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:37:\"rollingBuildsDoNotCancelRunningBuilds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:32:\"rollingBuildsOnlyForPullRequests\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:28:\"saveBuildCacheInPullRequests\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"securityDescriptor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SecurityDescriptor\";s:11:\"description\";s:131:\"Not
  present in response from addProject. Not always present in response from getProjects
  (only after updateProject or startBuild?).\";}s:30:\"skipBranchesWithoutAppveyorYml\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:272:\"Comma-separated
  list of project tags for dynamic grouping.\nAppears that any input is accepted.
  \ The returned value only\ncontains case-preserving but insensitive unique values
  where\nspaces around \",\" are removed but otherwise preserved.  Empty\nvalues and
  items are allowed.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}}}s:15:\"ProjectAddition\";O:8:\"stdClass\":5:{s:11:\"description\";s:92:\"`repositoryAuthentication`
  is only used for git, mercurial, subversion `repositoryProvider`.\";s:7:\"example\";O:8:\"stdClass\":2:{s:14:\"repositoryName\";s:22:\"FeodorFitsner/demo-app\";s:18:\"repositoryProvider\";s:6:\"gitHub\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"repositoryAuthentication\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/RepositoryAuthenticationType\";}s:14:\"repositoryName\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"URL
  when repositoryProvider is git, mercurial, subversion username/project when repositoryProvider
  is gitHub\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"repositoryPassword\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Required
  if repositoryAuthentication is credentials\";s:6:\"format\";s:8:\"password\";s:4:\"type\";s:6:\"string\";}s:18:\"repositoryProvider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RepositoryProvider\";}s:18:\"repositoryUsername\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Required
  if repositoryAuthentication is credentials\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:18:\"repositoryProvider\";i:1;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:19:\"ProjectBranchesMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"exclude\";i:1;s:7:\"include\";}s:4:\"type\";s:6:\"string\";}s:24:\"ProjectBuildNumberUpdate\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:15:\"nextBuildNumber\";i:35;}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"nextBuildNumber\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:15:\"nextBuildNumber\";}s:4:\"type\";s:6:\"object\";}s:19:\"ProjectBuildResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ProjectConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":86:{s:17:\"afterBuildScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:18:\"afterDeployScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:16:\"afterTestScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:9:\"artifacts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Artifact\";}s:4:\"type\";s:5:\"array\";}s:25:\"assemblyFileVersionFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"assemblyInfoFile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"assemblyInformationalVersionFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"assemblyVersionFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"beforeBuildScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:19:\"beforeDeployScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:20:\"beforePackageScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:17:\"beforeTestScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:12:\"branchesMode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProjectBranchesMode\";}s:10:\"buildCloud\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:9:\"buildMode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/BuildMode\";}s:12:\"buildScripts\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Only
  set/used when `buildMode` is `script`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:12:\"cacheEntries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:10:\"cloneDepth\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"cloneFolder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"cloneScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:13:\"configuration\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:27:\"configureNuGetAccountSource\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:27:\"configureNuGetProjectSource\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"deployMode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DeployMode\";}s:13:\"deployScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:11:\"deployments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeploymentProvider\";}s:4:\"type\";s:5:\"array\";}s:33:\"disableNuGetPublishOnPullRequests\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:39:\"doNotIncrementBuildNumberOnPullRequests\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:33:\"dotnetCsprojAssemblyVersionFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"dotnetCsprojFile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"dotnetCsprojFileVersionFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:38:\"dotnetCsprojInformationalVersionFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"dotnetCsprojPackageVersionFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"dotnetCsprojVersionFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"environmentVariables\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StoredNameValue\";}s:4:\"type\";s:5:\"array\";}s:26:\"environmentVariablesMatrix\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/StoredNameValueMatrix\";}s:4:\"type\";s:5:\"array\";}s:15:\"excludeBranches\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:15:\"forceHttpsClone\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"hostsEntries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HostEntry\";}s:4:\"type\";s:5:\"array\";}s:13:\"hotFixScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:15:\"includeBranches\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:22:\"includeNuGetReferences\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"initScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:14:\"installScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:19:\"matrixAllowFailures\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"Although
  the names and values are not enforced, the combinations which are meaningful are
  documented at https://www.appveyor.com/docs/build-configuration/#allow-failing-jobs\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/StoredNameValueMatrix\";}s:4:\"type\";s:5:\"array\";}s:12:\"matrixExcept\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/StoredNameValueMatrix\";}s:4:\"type\";s:5:\"array\";}s:13:\"matrixExclude\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/StoredNameValueMatrix\";}s:4:\"type\";s:5:\"array\";}s:16:\"matrixFastFinish\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"matrixOnly\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/StoredNameValueMatrix\";}s:4:\"type\";s:5:\"array\";}s:7:\"maxJobs\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:17:\"msBuildInParallel\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"msBuildProjectFileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"msBuildVerbosity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MSBuildVerbosity\";}s:13:\"notifications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/NotificationProviderSettings\";}s:4:\"type\";s:5:\"array\";}s:19:\"onBuildErrorScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:20:\"onBuildFinishScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:21:\"onBuildSuccessScripts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:16:\"onlyCommitsFiles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:15:\"operatingSystem\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BuildWorkerImageName\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:5:\"title\";s:18:\"Build
  worker image\";s:4:\"type\";s:5:\"array\";}s:25:\"packageAspNetCoreProjects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:32:\"packageAzureCloudServiceProjects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:28:\"packageDotnetConsoleProjects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"packageNuGetProjects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"packageNuGetSymbols\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:29:\"packageWebApplicationProjects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:38:\"packageWebApplicationProjectsBeanstalk\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:36:\"packageWebApplicationProjectsOctopus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:34:\"packageWebApplicationProjectsXCopy\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"patchAssemblyInfo\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"patchDotnetCsproj\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PlatformName\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"services\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OSServiceName\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:5:\"title\";s:45:\"OS
  services to start during the build process\";s:4:\"type\";s:5:\"array\";}s:12:\"shallowClone\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:26:\"skipBranchWithPullRequests\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"skipCommitsFiles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:11:\"skipNonTags\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"skipTags\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"stacks\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UnknownType\";}s:8:\"maxItems\";i:0;s:4:\"type\";s:5:\"array\";}s:14:\"testAssemblies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:14:\"testCategories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:20:\"testCategoriesMatrix\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:18:\"testCategoriesMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"exclude\";i:1;s:7:\"include\";}s:4:\"type\";s:6:\"string\";}s:8:\"testMode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestMode\";}s:11:\"testScripts\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Only
  set/used when `testMode` is `script`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Script\";}s:4:\"type\";s:5:\"array\";}s:29:\"xamarinRegisterAndroidProduct\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"xamarinRegisterIosProduct\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProjectDeployment\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"deployment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}s:8:\"required\";a:2:{i:0;s:7:\"project\";i:1;s:10:\"deployment\";}s:4:\"type\";s:6:\"object\";}s:22:\"ProjectDeploymentModel\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeploymentLookupModel\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"environment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/DeploymentEnvironmentLookupModel\";}}s:4:\"type\";s:6:\"object\";}}}s:25:\"ProjectDeploymentsResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"deployments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ProjectDeploymentModel\";}s:4:\"type\";s:5:\"array\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ProjectHistory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"builds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:4:\"type\";s:5:\"array\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ProjectLookupModel\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"accountName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:4:\"slug\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"projectId\";}s:4:\"type\";s:6:\"object\";}s:22:\"ProjectSettingsResults\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"build\";O:8:\"stdClass\":3:{s:7:\"project\";s:14:\"MySolution.sln\";s:11:\"publish_wap\";b:1;s:9:\"verbosity\";s:7:\"minimal\";}s:7:\"version\";s:11:\"1.0.{build}\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"buildClouds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StringValueObject\";}s:4:\"type\";s:5:\"array\";}s:16:\"defaultImageName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BuildWorkerImage\";}s:4:\"type\";s:5:\"array\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ProjectWithConfiguration\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ProjectWithConfiguration\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}i:1;O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":21:{s:9:\"accountId\";i:2;s:11:\"accountName\";s:6:\"appvyr\";s:6:\"builds\";a:0:{}s:13:\"configuration\";O:8:\"stdClass\":44:{s:17:\"afterBuildScripts\";a:0:{}s:18:\"afterDeployScripts\";a:0:{}s:16:\"afterTestScripts\";a:0:{}s:9:\"artifacts\";a:0:{}s:25:\"assemblyFileVersionFormat\";s:9:\"{version}\";s:16:\"assemblyInfoFile\";s:17:\"**\\AssemblyInfo.*\";s:34:\"assemblyInformationalVersionFormat\";s:9:\"{version}\";s:21:\"assemblyVersionFormat\";s:9:\"{version}\";s:18:\"beforeBuildScripts\";a:0:{}s:19:\"beforeDeployScripts\";a:0:{}s:17:\"beforeTestScripts\";a:0:{}s:9:\"buildMode\";s:7:\"msbuild\";s:12:\"buildScripts\";a:0:{}s:13:\"configuration\";a:0:{}s:10:\"deployMode\";s:9:\"providers\";s:13:\"deployScripts\";a:0:{}s:11:\"deployments\";a:0:{}s:20:\"environmentVariables\";a:0:{}s:26:\"environmentVariablesMatrix\";a:0:{}s:15:\"excludeBranches\";a:0:{}s:12:\"hostsEntries\";a:0:{}s:15:\"includeBranches\";a:0:{}s:11:\"initScripts\";a:0:{}s:14:\"installScripts\";a:0:{}s:19:\"matrixAllowFailures\";a:0:{}s:16:\"matrixFastFinish\";b:0;s:16:\"msBuildVerbosity\";s:7:\"minimal\";s:13:\"notifications\";a:0:{}s:19:\"onBuildErrorScripts\";a:0:{}s:21:\"onBuildSuccessScripts\";a:0:{}s:15:\"operatingSystem\";a:0:{}s:32:\"packageAzureCloudServiceProjects\";b:0;s:20:\"packageNuGetProjects\";b:0;s:29:\"packageWebApplicationProjects\";b:0;s:34:\"packageWebApplicationProjectsXCopy\";b:0;s:17:\"patchAssemblyInfo\";b:0;s:8:\"platform\";a:0:{}s:8:\"services\";a:0:{}s:12:\"shallowClone\";b:0;s:14:\"testAssemblies\";a:0:{}s:14:\"testCategories\";a:0:{}s:20:\"testCategoriesMatrix\";a:0:{}s:8:\"testMode\";s:4:\"auto\";s:11:\"testScripts\";a:0:{}}s:7:\"created\";s:33:\"2014-08-16T00:52:15.6604826+00:00\";s:17:\"ignoreAppveyorYml\";b:0;s:9:\"isPrivate\";b:0;s:4:\"name\";s:8:\"demo-app\";s:15:\"nextBuildNumber\";i:1;s:9:\"nuGetFeed\";O:8:\"stdClass\":4:{s:7:\"created\";s:33:\"2014-08-16T00:52:16.9886427+00:00\";s:2:\"id\";s:21:\"demo-app-tw5iw2wk3bl1\";s:4:\"name\";s:16:\"Project
  demo-app\";s:17:\"publishingEnabled\";b:0;}s:9:\"projectId\";i:43682;s:16:\"repositoryBranch\";s:6:\"master\";s:14:\"repositoryName\";s:22:\"FeodorFitsner/demo-app\";s:13:\"repositoryScm\";s:3:\"git\";s:14:\"repositoryType\";s:6:\"gitHub\";s:18:\"securityDescriptor\";O:8:\"stdClass\":2:{s:22:\"accessRightDefinitions\";a:4:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"View\";s:4:\"name\";s:4:\"View\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Run
  build\";s:4:\"name\";s:8:\"RunBuild\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Update
  settings\";s:4:\"name\";s:6:\"Update\";}i:3;O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Delete
  project\";s:4:\"name\";s:6:\"Delete\";}}s:8:\"roleAces\";a:2:{i:0;O:8:\"stdClass\":4:{s:12:\"accessRights\";a:4:{i:0;O:8:\"stdClass\":2:{s:7:\"allowed\";b:1;s:4:\"name\";s:4:\"View\";}i:1;O:8:\"stdClass\":2:{s:7:\"allowed\";b:1;s:4:\"name\";s:8:\"RunBuild\";}i:2;O:8:\"stdClass\":2:{s:7:\"allowed\";b:1;s:4:\"name\";s:6:\"Update\";}i:3;O:8:\"stdClass\":2:{s:7:\"allowed\";b:1;s:4:\"name\";s:6:\"Delete\";}}s:7:\"isAdmin\";b:1;s:4:\"name\";s:13:\"Administrator\";s:6:\"roleId\";i:4;}i:1;O:8:\"stdClass\":4:{s:12:\"accessRights\";a:4:{i:0;O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"View\";}i:1;O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"RunBuild\";}i:2;O:8:\"stdClass\":1:{s:4:\"name\";s:6:\"Update\";}i:3;O:8:\"stdClass\":1:{s:4:\"name\";s:6:\"Delete\";}}s:7:\"isAdmin\";b:0;s:4:\"name\";s:4:\"User\";s:6:\"roleId\";i:5;}}}s:30:\"skipBranchesWithoutAppveyorYml\";b:0;s:4:\"slug\";s:12:\"demo-app-335\";s:13:\"versionFormat\";s:11:\"1.0.{build}\";s:9:\"webhookId\";s:10:\"rca5vb5qqu\";s:10:\"webhookUrl\";s:56:\"https://ci.appveyor.com/api/github/webhook?id=rca5vb5qqu\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"buildPriority\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProjectConfiguration\";}s:13:\"customYmlName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ignoreAppveyorYml\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"nextBuildNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"repositoryAuthentication\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/RepositoryAuthenticationType\";}s:18:\"repositoryUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"scheduleCrontabExpression\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Build
  schedule as an NCrontab Expression.  See https://github.com/atifaziz/NCrontab/wiki/Crontab-Expression\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:67:\"https://www.appveyor.com/docs/build-configuration/#scheduled-builds\";}s:4:\"type\";s:6:\"string\";}s:12:\"sshPublicKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"statusBadgeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"versionFormat\";O:8:\"stdClass\":3:{s:9:\"minLength\";i:7;s:7:\"pattern\";s:11:\"[{]build[}]\";s:4:\"type\";s:6:\"string\";}s:9:\"webhookId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"webhookUrl\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:13:\"versionFormat\";i:1;s:13:\"configuration\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:28:\"RepositoryAuthenticationType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:11:\"credentials\";i:1;s:3:\"ssh\";}s:4:\"type\";s:6:\"string\";}s:18:\"RepositoryProvider\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:9:\"bitBucket\";i:1;s:3:\"git\";i:2;s:6:\"gitHub\";i:3;s:6:\"gitLab\";i:4;s:4:\"kiln\";i:5;s:9:\"mercurial\";i:6;s:5:\"stash\";i:7;s:10:\"subversion\";i:8;s:3:\"vso\";}s:4:\"type\";s:6:\"string\";}s:13:\"RepositoryScm\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"git\";i:1;s:9:\"mercurial\";i:2;s:10:\"subversion\";}s:4:\"type\";s:6:\"string\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Timestamped\";}i:1;O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"isSystem\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:6:\"roleId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"roleId\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:130:\"Technically
  `roleId` has default value 0 and is not required, but\nsince role 0 never exists
  it would always cause a 404 response.\n\";}s:7:\"RoleAce\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"accessRights\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AceAccessRight\";}s:4:\"type\";s:5:\"array\";}s:7:\"isAdmin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"roleId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"RoleAddition\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"My
  Role\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:14:\"RoleWithGroups\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Role\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"groups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/GroupPermissions\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:7:\"example\";O:8:\"stdClass\":5:{s:7:\"created\";s:33:\"2014-03-18T20:12:08.4749886+00:00\";s:6:\"groups\";a:7:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"Deny\";s:11:\"permissions\";a:1:{i:0;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:61:\"Deny
  all projects and environments, unless explicitly allowed\";s:4:\"name\";s:27:\"DenyAllProjectsEnvironments\";}}}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"Projects\";s:11:\"permissions\";a:4:{i:0;O:8:\"stdClass\":3:{s:7:\"allowed\";b:1;s:11:\"description\";s:48:\"Create,
  delete projects, update project settings\";s:4:\"name\";s:14:\"ManageProjects\";}i:1;O:8:\"stdClass\":3:{s:7:\"allowed\";b:1;s:11:\"description\";s:23:\"Update
  project settings\";s:4:\"name\";s:21:\"UpdateProjectSettings\";}i:2;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:18:\"Run
  project builds\";s:4:\"name\";s:15:\"RunProjectBuild\";}i:3;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:21:\"Delete
  project builds\";s:4:\"name\";s:19:\"DeleteProjectBuilds\";}}}i:2;O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"Environments\";s:11:\"permissions\";a:3:{i:0;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:52:\"Create,
  delete projects, update environment settings\";s:4:\"name\";s:18:\"ManageEnvironments\";}i:1;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:27:\"Update
  environment settings\";s:4:\"name\";s:25:\"UpdateEnvironmentSettings\";}i:2;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:21:\"Deploy
  to environment\";s:4:\"name\";s:19:\"DeployToEnvironment\";}}}i:3;O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Account\";s:11:\"permissions\";a:1:{i:0;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:22:\"Update
  account details\";s:4:\"name\";s:20:\"UpdateAccountDetails\";}}}i:4;O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"Users\";s:11:\"permissions\";a:3:{i:0;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:12:\"Add
  new user\";s:4:\"name\";s:7:\"AddUser\";}i:1;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:19:\"Update
  user details\";s:4:\"name\";s:17:\"UpdateUserDetails\";}i:2;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:11:\"Delete
  user\";s:4:\"name\";s:10:\"DeleteUser\";}}}i:5;O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"Roles\";s:11:\"permissions\";a:3:{i:0;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:12:\"Add
  new role\";s:4:\"name\";s:7:\"AddRole\";}i:1;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:19:\"Update
  role details\";s:4:\"name\";s:17:\"UpdateRoleDetails\";}i:2;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:11:\"Delete
  role\";s:4:\"name\";s:10:\"DeleteRole\";}}}i:6;O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"User\";s:11:\"permissions\";a:1:{i:0;O:8:\"stdClass\":3:{s:7:\"allowed\";b:0;s:11:\"description\";s:17:\"Generate
  API keys\";s:4:\"name\";s:16:\"ConfigureApiKeys\";}}}}s:8:\"isSystem\";b:0;s:4:\"name\";s:7:\"My
  Role\";s:6:\"roleId\";i:3040;}}s:6:\"Script\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ScriptLanguage\";}s:6:\"script\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"script\";}s:4:\"type\";s:6:\"object\";}s:14:\"ScriptLanguage\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"cmd\";i:1;s:2:\"ps\";i:2;s:4:\"pwsh\";}s:4:\"type\";s:6:\"string\";}s:18:\"SecurityDescriptor\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"accessRightDefinitions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AceAccessRightDefinition\";}s:4:\"type\";s:5:\"array\";}s:8:\"roleAces\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/RoleAce\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:9:\"cancelled\";i:1;s:10:\"cancelling\";i:2;s:6:\"failed\";i:3;s:6:\"queued\";i:4;s:7:\"running\";i:5;s:7:\"success\";}s:4:\"type\";s:6:\"string\";}s:15:\"StoredNameValue\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StoredValue\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:21:\"StoredNameValueMatrix\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"variables\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StoredNameValue\";}}s:4:\"type\";s:6:\"object\";}s:11:\"StoredValue\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"isEncrypted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"Encrypted
  values can be created using the encryptValue operation.\n\nEmpty environment variables
  are represented by missing (null) value\nrather than an empty string.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"StringValueObject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TestMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"auto\";i:1;s:4:\"none\";i:2;s:6:\"script\";}s:4:\"type\";s:6:\"string\";}s:11:\"Timestamped\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"created\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UnknownType\";O:8:\"stdClass\":3:{s:11:\"description\";s:333:\"A
  schema for values which have an undocumented/unknown type.\n\nAlthough the type
  of such values could be left unspecified according to\nJSON Schema (and by extension
  OpenAPI 2.0), such unspecified types cause\ntool failures (e.g. swagger-codegen).
  \ So this type can be used as a\nplaceholder to prevent errors and document the
  behavior.\n\";s:4:\"enum\";a:1:{i:0;s:7:\"unknown\";}s:4:\"type\";s:6:\"string\";}s:11:\"UserAccount\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Timestamped\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/UserAccountSettings\";}i:2;O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:7:\"minimum\";i:0;s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:11:\"accountName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:8:\"fullName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"isCollaborator\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:7:\"isOwner\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:7:\"minimum\";i:0;s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:8:\"password\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"password\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:6:\"roleId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:8:\"roleName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:8:\"fullName\";i:1;s:5:\"email\";}s:4:\"type\";s:6:\"object\";}}s:7:\"example\";O:8:\"stdClass\":7:{s:5:\"email\";s:14:\"john@smith.com\";s:23:\"failedBuildNotification\";s:3:\"all\";s:8:\"fullName\";s:10:\"John
  Smith\";s:32:\"notifyWhenBuildStatusChangedOnly\";b:1;s:6:\"roleId\";i:4;s:27:\"successfulBuildNotification\";s:3:\"all\";s:6:\"userId\";i:3019;}}s:23:\"UserAccountRolesResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  roles property contains all roles, not only the role for which the user is a member.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"roles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Role\";}s:4:\"type\";s:5:\"array\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserAccount\";}}s:4:\"type\";s:6:\"object\";}s:19:\"UserAccountSettings\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"failedBuildNotification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BuildNotificationFrequency\";}s:28:\"failedDeploymentNotification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/DeploymentNotificationFrequency\";}s:32:\"notifyWhenBuildStatusChangedOnly\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:102:\"Note
  that this value is `true` on user creation, but behaves as\n`false` when not specified
  on update.\n\";s:4:\"type\";s:7:\"boolean\";}s:37:\"notifyWhenDeploymentStatusChangedOnly\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:102:\"Note
  that this value is `true` on user creation, but behaves as\n`false` when not specified
  on update.\n\";s:4:\"type\";s:7:\"boolean\";}s:27:\"successfulBuildNotification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BuildNotificationFrequency\";}s:32:\"successfulDeploymentNotification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/DeploymentNotificationFrequency\";}}s:8:\"required\";a:4:{i:0;s:27:\"successfulBuildNotification\";i:1;s:23:\"failedBuildNotification\";i:2;s:32:\"successfulDeploymentNotification\";i:3;s:28:\"failedDeploymentNotification\";}s:4:\"type\";s:6:\"object\";}s:12:\"UserAddition\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":6:{s:15:\"confirmPassword\";s:8:\"password\";s:5:\"email\";s:14:\"john@smith.com\";s:8:\"fullName\";s:10:\"John
  Smith\";s:16:\"generatePassword\";b:0;s:8:\"password\";s:8:\"password\";s:6:\"roleId\";i:4;}s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"confirmPassword\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"password\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:8:\"fullName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"generatePassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"password\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"password\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:6:\"roleId\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Technically
  `roleId` has default value 0 and is not required, but\nsince role 0 never exists
  it would always cause a 404 response.\n\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:8:\"fullName\";i:1;s:5:\"email\";i:2;s:6:\"roleId\";}s:4:\"type\";s:6:\"object\";}}"
...
