---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:224:\"Taxamo\u2019s
  elegant suite of APIs and comprehensive reporting dashboard enables digital merchants
  to easily comply with EU regulatory requirements on tax calculation, evidence collection,
  tax return creation and data storage.\";s:5:\"title\";s:6:\"Taxamo\";s:7:\"version\";s:1:\"1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"payment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:64:\"https://api.apis.guru/v2/cache/logo/http_i.imgur.com_C7ouKJt.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:30:\"https://api.taxamo.com/swagger\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"taxamo.com\";}"
host: api.taxamo.com
basePath: /
paths:
  /api/v1/dictionaries/countries:
    get:
      operationId: getCountriesDict
      parameters:
      - description: Should only countries with tax supported be listed?
        in: query
        name: tax_supported
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getCountriesDictOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Countries
      tags:
      - dictionaries
  /api/v1/dictionaries/currencies:
    get:
      operationId: getCurrenciesDict
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getCurrenciesDictOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Currencies
      tags:
      - dictionaries
  /api/v1/dictionaries/product_types:
    get:
      operationId: getProductTypesDict
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getProductTypesDictOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Product types
      tags:
      - dictionaries
  /api/v1/geoip:
    get:
      operationId: locateMyIP
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/locateMyIPOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Locate IP
      tags:
      - geoip
  /api/v1/geoip/{ip}:
    get:
      operationId: locateGivenIP
      parameters:
      - description: IP address.
        in: path
        name: ip
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/locateGivenIPOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Locate provided IP
      tags:
      - geoip
  /api/v1/reports/domestic/summary:
    get:
      operationId: getDomesticSummaryReport
      parameters:
      - description: Output format. 'xml' and 'csv' values are accepted. Default format
          - json
        in: query
        name: format
        required: false
        type: string
      - description: ISO 2-letter country code which will be used for determining
          which country is domestic.
        in: query
        name: country_code
        required: true
        type: string
      - description: ISO 3-letter currency code, e.g. EUR or USD. Defaults to the
          one assigned to MOSS calculations for a given country code.
        in: query
        name: currency_code
        required: false
        type: string
      - description: Period start month in yyyy-MM format.
        in: query
        name: start_month
        required: true
        type: string
      - description: Period end month in yyyy-MM format.
        in: query
        name: end_month
        required: true
        type: string
      - description: Which date should be used for FX.
        in: query
        name: fx_date_type
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getDomesticSummaryReportOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Calculate domestic summary
      tags:
      - reporting
  /api/v1/reports/eu/vies:
    get:
      operationId: getEuViesReport
      parameters:
      - description: Length of report period. 'month', 'quarter' and 'year' values
          are accepted. Required only if Large Filer Format is requested.
        in: query
        name: period_length
        required: false
        type: string
      - description: Sequence number used to generate report in Large Filer Format.
          If not specified then '0000000001' will be used.
        in: query
        name: lff_sequence_number
        required: false
        type: string
      - description: Which transformation should be applied. Please note that transformation
          will be applied only for xml and csv formats.
        in: query
        name: transformation
        required: false
        type: string
      - description: ISO 3-letter currency code, e.g. EUR or USD. Defaults to the
          one assigned to MOSS calculations for a given country code.
        in: query
        name: currency_code
        required: false
        type: string
      - description: Period end month in yyyy-MM format.
        in: query
        name: end_month
        required: true
        type: string
      - description: MOSS-assigned tax ID - if not provided, merchant's national tax
          number will be used.
        in: query
        name: tax_id
        required: false
        type: string
      - description: Period start month in yyyy-MM format.
        in: query
        name: start_month
        required: true
        type: string
      - description: ISO 2-letter country code which will be used for determining
          which country is domestic.
        in: query
        name: eu_country_code
        required: true
        type: string
      - description: Which date should be used for FX.
        in: query
        name: fx_date_type
        required: false
        type: string
      - description: Output format. 'xml', 'csv' and 'lff' (only for Ireland) values
          are accepted as well
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getEuViesReportOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Calculate EU VIES report
      tags:
      - reporting
  /api/v1/settlement/detailed_refunds:
    get:
      operationId: getDetailedRefunds
      parameters:
      - description: Output format. 'json' or 'csv'. Default value is 'json'
        in: query
        name: format
        required: false
        type: string
      - description: Comma separated list of 2-letter country codes
        in: query
        name: country_codes
        required: false
        type: string
      - description: 'Take only refunds issued at or after the date. Format: yyyy-MM-dd'
        in: query
        name: date_from
        required: false
        type: string
      - description: 'Take only refunds issued at or before the date. Format: yyyy-MM-dd'
        in: query
        name: date_to
        required: false
        type: string
      - description: Limit (no more than 1000, defaults to 100).
        in: query
        name: limit
        required: false
        type: number
      - description: Offset. Defaults to 0
        in: query
        name: offset
        required: false
        type: number
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getDetailedRefundsOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Detailed refunds
      tags:
      - settlement
  /api/v1/settlement/refunds:
    get:
      operationId: getRefunds
      parameters:
      - description: Output format. 'csv' value is accepted as well
        in: query
        name: format
        required: false
        type: string
      - description: MOSS country code, used to determine currency. If ommited, merchant
          default setting is used.
        in: query
        name: moss_country_code
        required: false
        type: string
      - description: Tax region key, defaults to EU for backwards compatibility.
        in: query
        name: tax_region
        required: false
        type: string
      - description: 'Take only refunds issued at or after the date. Format: yyyy-MM-dd'
        in: query
        name: date_from
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getRefundsOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Fetch refunds
      tags:
      - settlement
  /api/v1/settlement/summary/{quarter}:
    get:
      operationId: getSettlementSummary
      parameters:
      - description: MOSS country code, used to determine currency. If ommited, merchant
          default setting is used.
        in: query
        name: moss_country_code
        required: false
        type: string
      - description: Tax region key
        in: query
        name: tax_region
        required: false
        type: string
      - description: Period start month in yyyy-MM format. Either quarter or start-month
          and end-month have to be provided.
        in: query
        name: start_month
        required: false
        type: string
      - description: Period end month in yyyy-MM format. Either quarter or start-month
          and end-month have to be provided.
        in: query
        name: end_month
        required: false
        type: string
      - description: Quarter in yyyy-MM format. If start-date and end-date are provided,
          quarter is ignored and should be set to 'range'.
        in: path
        name: quarter
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getSettlementSummaryOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Fetch summary
      tags:
      - settlement
  /api/v1/settlement/{quarter}:
    get:
      operationId: getSettlement
      parameters:
      - description: MOSS-assigned tax ID - if not provided, merchant's national tax
          number will be used. Deprecated, please use tax-id.
        in: query
        name: moss_tax_id
        required: false
        type: string
      - description: ISO 3-letter currency code, e.g. EUR or USD. If provided, all
          amounts will be coerced for this currency. Defaults to region's currency
          code.
        in: query
        name: currency_code
        required: false
        type: string
      - description: Period end month in yyyy-MM format. Either quarter or start-month
          and end-month have to be provided.
        in: query
        name: end_month
        required: false
        type: string
      - description: MOSS-assigned tax ID - if not provided, merchant's national tax
          number will be used. Deprecated, please use tax-id.
        in: query
        name: tax_id
        required: false
        type: string
      - description: Set to 'order_date' to show only refunds for the transactions
          in the selected reporting period. Set to 'refund_timestamp' to show refunds
          that were created in the selected reporting period. Do not set to use the
          default region's setting.
        in: query
        name: refund_date_kind_override
        required: false
        type: string
      - description: Period start month in yyyy-MM format. Either quarter or start-month
          and end-month have to be provided.
        in: query
        name: start_month
        required: false
        type: string
      - description: 'MOSS country code, used to determine currency/region. If ommited,
          merchant default setting is used. Deprecated: please use tax-country-code.'
        in: query
        name: moss_country_code
        required: false
        type: string
      - description: Output format. 'csv' value is accepted as well
        in: query
        name: format
        required: false
        type: string
      - description: 'Tax entity country code, used to determine currency/region. '
        in: query
        name: tax_country_code
        required: false
        type: string
      - description: Quarter in yyyy-MM format. If start-date and end-date are provided,
          quarter is ignored and should be set to 'range'.
        in: path
        name: quarter
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getSettlementOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Fetch settlement
      tags:
      - settlement
  /api/v1/stats/settlement/by_country:
    get:
      operationId: getSettlementStatsByCountry
      parameters:
      - description: Date from in yyyy-MM format.
        in: query
        name: date_from
        required: true
        type: string
      - description: Date to in yyyy-MM format.
        in: query
        name: date_to
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getSettlementStatsByCountryOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Settlement by country
      tags:
      - statistics
  /api/v1/stats/settlement/by_taxation_type:
    get:
      operationId: getSettlementStatsByTaxationType
      parameters:
      - description: Date from in yyyy-MM format.
        in: query
        name: date_from
        required: true
        type: string
      - description: Date to in yyyy-MM format.
        in: query
        name: date_to
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getSettlementStatsByTaxationTypeOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Settlement by tax type
      tags:
      - statistics
  /api/v1/stats/settlement/daily:
    get:
      operationId: getDailySettlementStats
      parameters:
      - description: Interval type - day, week, month.
        in: query
        name: interval
        required: true
        type: string
      - description: Date from in yyyy-MM format.
        in: query
        name: date_from
        required: true
        type: string
      - description: Date to in yyyy-MM format.
        in: query
        name: date_to
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getDailySettlementStatsOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Settlement stats over time
      tags:
      - statistics
  /api/v1/stats/transactions:
    get:
      operationId: getTransactionsStats
      parameters:
      - description: Date from in yyyy-MM format.
        in: query
        name: date_from
        required: true
        type: string
      - description: Date to in yyyy-MM format.
        in: query
        name: date_to
        required: true
        type: string
      - description: Interval. Accepted values are 'day', 'week' and 'month'.
        in: query
        name: interval
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getTransactionsStatsOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Transaction stats
      tags:
      - statistics
  /api/v1/stats/transactions/by_country:
    get:
      operationId: getTransactionsStatsByCountry
      parameters:
      - description: Global currency code to use for conversion - in addition to country's
          currency if rate is available. Conversion is indicative and based on most-recent
          rate from ECB.
        in: query
        name: global_currency_code
        required: false
        type: string
      - description: Date from in yyyy-MM format.
        in: query
        name: date_from
        required: true
        type: string
      - description: Date to in yyyy-MM format.
        in: query
        name: date_to
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getTransactionsStatsByCountryOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Settlement by country
      tags:
      - statistics
  /api/v1/tax/calculate:
    get:
      operationId: calculateSimpleTax
      parameters:
      - description: 'Product type, according to dictionary /dictionaries/product_types. '
        in: query
        name: product_type
        required: false
        type: string
      - description: Invoice address/postal_code
        in: query
        name: invoice_address_city
        required: false
        type: string
      - description: First 6 digits of buyer's credit card prefix.
        in: query
        name: buyer_credit_card_prefix
        required: false
        type: string
      - description: Currency code for transaction - e.g. EUR.
        in: query
        name: currency_code
        required: true
        type: string
      - description: Invoice address/region
        in: query
        name: invoice_address_region
        required: false
        type: string
      - description: Unit price.
        in: query
        name: unit_price
        required: false
        type: number
      - description: Quantity Defaults to 1.
        in: query
        name: quantity
        required: false
        type: number
      - description: ' Buyer''s tax number - EU VAT number for example. If using EU
          VAT number, it is possible to provide country code in it (e.g. IE1234567X)
          or simply use billing_country_code field for that. In the first case, if
          billing_country_code value was provided, it will be overwritten with country
          code value extracted from VAT number - but only if the VAT has been verified
          properly.'
        in: query
        name: buyer_tax_number
        required: false
        type: string
      - description: Two-letter ISO country code, e.g. FR. Use it to force country
          code for tax calculation.
        in: query
        name: force_country_code
        required: false
        type: string
      - description: Order date in yyyy-MM-dd format, in merchant's timezone. If provided
          by the API caller, no timezone conversion is performed. Default value is
          current date and time. When using public token, the default value is used.
        in: query
        name: order_date
        required: false
        type: string
      - description: Amount. Required if total amount or both unit price and quantity
          are not provided.
        in: query
        name: amount
        required: false
        type: number
      - description: Billing two letter ISO country code.
        in: query
        name: billing_country_code
        required: false
        type: string
      - description: Invoice address/postal_code
        in: query
        name: invoice_address_postal_code
        required: false
        type: string
      - description: Total amount. Required if amount or both unit price and quantity
          are not provided.
        in: query
        name: total_amount
        required: false
        type: number
      - description: If the transaction is in a country supported by Taxamo, but the
          tax is not calculated due to merchant settings or EU B2B transaction for
          example.
        in: query
        name: tax_deducted
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/calculateSimpleTaxOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Simple tax
      tags:
      - tax
    post:
      operationId: calculateTax
      parameters:
      - description: Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/calculateTaxIn'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/calculateTaxOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Calculate tax
      tags:
      - tax
  /api/v1/tax/location/calculate:
    get:
      operationId: calculateTaxLocation
      parameters:
      - description: Billing two letter ISO country code.
        in: query
        name: billing_country_code
        required: false
        type: string
      - description: First 6 digits of buyer's credit card prefix.
        in: query
        name: buyer_credit_card_prefix
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/calculateTaxLocationOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Calculate location
      tags:
      - tax
  /api/v1/tax/vat_numbers/{tax_number}/validate:
    get:
      operationId: validateTaxNumber
      parameters:
      - description: Two-letter ISO country code.
        in: query
        name: country_code
        required: false
        type: string
      - description: Tax number
        in: path
        name: tax_number
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/validateTaxNumberOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Validate VAT number
      tags:
      - tax
  /api/v1/transactions:
    get:
      operationId: listTransactions
      parameters:
      - description: Filtering expression
        in: query
        name: filter_text
        required: false
        type: string
      - description: Offset
        in: query
        name: offset
        required: false
        type: integer
      - description: Return only transactions with a note field set.
        in: query
        name: has_note
        required: false
        type: boolean
      - description: Taxamo provided transaction key or custom id
        in: query
        name: key_or_custom_id
        required: false
        type: string
      - description: Three letter ISO currency code.
        in: query
        name: currency_code
        required: false
        type: string
      - description: Order date to in yyyy-MM-dd format.
        in: query
        name: order_date_to
        required: false
        type: string
      - description: If true, results are sorted in descending order.
        in: query
        name: sort_reverse
        required: false
        type: boolean
      - description: Limit (no more than 1000, defaults to 100).
        in: query
        name: limit
        required: false
        type: integer
      - description: Transaction invoice number.
        in: query
        name: invoice_number
        required: false
        type: string
      - description: Comma separated list of two letter ISO tax country codes.
        in: query
        name: tax_country_codes
        required: false
        type: string
      - description: Comma separated list of of transaction statuses. 'N' - unconfirmed
          transaction, 'C' - confirmed transaction.
        in: query
        name: statuses
        required: false
        type: string
      - description: Taxamo provided original transaction key
        in: query
        name: original_transaction_key
        required: false
        type: string
      - description: Order date from in yyyy-MM-dd format.
        in: query
        name: order_date_from
        required: false
        type: string
      - description: Return only transactions with total amount greater than given
          number. Transactions with total amount equal to a given number (e.g. 0)
          are not returned.
        in: query
        name: total_amount_greater_than
        required: false
        type: string
      - description: Output format - supports 'csv' value for this operation.
        in: query
        name: format
        required: false
        type: string
      - description: Return only transactions with total amount less than a given
          number. Transactions with total amount equal to a given number (e.g. 1)
          are not returned.
        in: query
        name: total_amount_less_than
        required: false
        type: string
      - description: Two letter ISO tax country code.
        in: query
        name: tax_country_code
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/listTransactionsOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Browse transactions
      tags:
      - transactions
    post:
      operationId: createTransaction
      parameters:
      - description: Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/createTransactionIn'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/createTransactionOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Store transaction
      tags:
      - transactions
  /api/v1/transactions/{key}:
    delete:
      operationId: cancelTransaction
      parameters:
      - description: Transaction key
        in: path
        name: key
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/cancelTransactionOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Delete transaction
      tags:
      - transactions
    get:
      operationId: getTransaction
      parameters:
      - description: Transaction key
        in: path
        name: key
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/getTransactionOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Retrieve transaction data.
      tags:
      - transactions
    put:
      operationId: updateTransaction
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        type: string
      - description: Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/updateTransactionIn'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/updateTransactionOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Update transaction
      tags:
      - transactions
  /api/v1/transactions/{key}/confirm:
    post:
      operationId: confirmTransaction
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        type: string
      - description: Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/confirmTransactionIn'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/confirmTransactionOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Confirm transaction
      tags:
      - transactions
  /api/v1/transactions/{key}/invoice/refunds/{refund_note_number}/send_email:
    post:
      operationId: emailRefund
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        type: string
      - description: Refund note id.
        in: path
        name: refund_note_number
        required: true
        type: string
      - description: Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/emailRefundIn'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/emailRefundOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Email credit note
      tags:
      - invoices
  /api/v1/transactions/{key}/invoice/send_email:
    post:
      operationId: emailInvoice
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        type: string
      - description: Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/emailInvoiceIn'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/emailInvoiceOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Email invoice
      tags:
      - invoices
  /api/v1/transactions/{key}/payments:
    get:
      operationId: listPayments
      parameters:
      - description: Max record count (no more than 100, defaults to 10).
        in: query
        name: limit
        required: false
        type: string
      - description: How many records need to be skipped, defaults to 0.
        in: query
        name: offset
        required: false
        type: string
      - description: Transaction key.
        in: path
        name: key
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/listPaymentsOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: List payments
      tags:
      - payments
    post:
      operationId: createPayment
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        type: string
      - description: Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/createPaymentIn'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/createPaymentOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Register a payment
      tags:
      - payments
  /api/v1/transactions/{key}/payments/capture:
    post:
      operationId: capturePayment
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/capturePaymentOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Capture payment
      tags:
      - payments
  /api/v1/transactions/{key}/refunds:
    get:
      operationId: listRefunds
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/listRefundsOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Get transaction refunds
      tags:
      - refunds
    post:
      operationId: createRefund
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        type: string
      - description: Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/createRefundIn'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/createRefundOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Create a refund
      tags:
      - refunds
  /api/v1/transactions/{key}/unconfirm:
    post:
      operationId: unconfirmTransaction
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        type: string
      - description: Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/unconfirmTransactionIn'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/unconfirmTransactionOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Un-confirm the transaction
      tags:
      - transactions
  /api/v1/verification/sms:
    post:
      operationId: createSMSToken
      parameters:
      - description: Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/createSMSTokenIn'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/createSMSTokenOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Create SMS token
      tags:
      - verification
  /api/v1/verification/sms/{token}:
    get:
      operationId: verifySMSToken
      parameters:
      - description: Provided token.
        in: path
        name: token
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/verifySMSTokenOut'
        400:
          description: Validation failed, see JSON body response for details.
        401:
          description: Incorrect token
      summary: Verify SMS token
      tags:
      - verification
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":97:{s:1:\"C\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"day\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Date
  for stats in yyyy-MM-dd format.\";s:4:\"type\";s:6:\"string\";}s:7:\"day_raw\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Date
  for stats in yyyy-MM-dd'T'hh:mm:ss'Z' format.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Transaction
  status (C or N).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Transaction
  count.\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:1:\"N\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"day\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Date
  for stats in yyyy-MM-dd format.\";s:4:\"type\";s:6:\"string\";}s:7:\"day_raw\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Date
  for stats in yyyy-MM-dd'T'hh:mm:ss'Z' format.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Transaction
  status (C or N).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Transaction
  count.\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:21:\"additional_currencies\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"invoice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/additional_currency\";s:11:\"description\";s:31:\"Invoicing
  currency information.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"additional_currency\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Amount
  (w/o TAX) in designated currency.\";s:4:\"type\";s:6:\"number\";}s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"3-letter
  ISO currency code.\";s:4:\"type\";s:6:\"string\";}s:7:\"fx_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Foreign
  exchange rate used in calculation\";s:4:\"type\";s:6:\"number\";}s:10:\"tax_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Tax
  amount in designated currency.\";s:4:\"type\";s:6:\"number\";}s:12:\"total_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Total
  amount in designated currency.\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:10:\"by_country\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Three-letter
  ISO currency code.\";s:4:\"type\";s:6:\"string\";}s:16:\"tax_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Two
  letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:16:\"tax_country_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Country
  name\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Tax
  amount\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"by_status\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:1:\"C\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Confirmed
  transactions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/C\";}s:4:\"type\";s:5:\"array\";}s:1:\"N\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"New
  transactions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/N\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"by_taxation_type\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"deducted_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Number
  of tax deducted transactions.\";s:4:\"type\";s:6:\"number\";}s:6:\"eu_b2b\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Total
  EU B2B transaction count.\";s:4:\"type\";s:7:\"integer\";}s:8:\"eu_taxed\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Total
  EU Taxed transaction count.\";s:4:\"type\";s:7:\"integer\";}s:11:\"taxed_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Number
  of taxed transactions.\";s:4:\"type\";s:6:\"number\";}s:18:\"transactions_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Total
  number of transactions\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:20:\"calculateSimpleTaxIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Amount.
  Required if total amount or both unit price and quantity are not provided.\";s:4:\"type\";s:6:\"number\";}s:20:\"billing_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Billing
  two letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:24:\"buyer_credit_card_prefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"First
  6 digits of buyer's credit card prefix.\";s:4:\"type\";s:6:\"string\";}s:16:\"buyer_tax_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:372:\"
  Buyer's tax number - EU VAT number for example. If using EU VAT number, it is possible
  to provide country code in it (e.g. IE1234567X) or simply use billing_country_code
  field for that. In the first case, if billing_country_code value was provided, it
  will be overwritten with country code value extracted from VAT number - but only
  if the VAT has been verified properly.\";s:4:\"type\";s:6:\"string\";}s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Currency
  code for transaction - e.g. EUR.\";s:4:\"type\";s:6:\"string\";}s:18:\"force_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Two-letter
  ISO country code, e.g. FR. Use it to force country code for tax calculation.\";s:4:\"type\";s:6:\"string\";}s:20:\"invoice_address_city\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Invoice
  address/postal_code\";s:4:\"type\";s:6:\"string\";}s:27:\"invoice_address_postal_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Invoice
  address/postal_code\";s:4:\"type\";s:6:\"string\";}s:22:\"invoice_address_region\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Invoice
  address/region\";s:4:\"type\";s:6:\"string\";}s:10:\"order_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"Order
  date in yyyy-MM-dd format, in merchant's timezone. If provided by the API caller,
  no timezone conversion is performed. Default value is current date and time. When
  using public token, the default value is used.\";s:4:\"type\";s:6:\"string\";}s:12:\"product_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Product
  type, according to dictionary /dictionaries/product_types. \";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Quantity
  Defaults to 1.\";s:4:\"type\";s:6:\"number\";}s:12:\"tax_deducted\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"If
  the transaction is in a country supported by Taxamo, but the tax is not calculated
  due to merchant settings or EU B2B transaction for example.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"total_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Total
  amount. Required if amount or both unit price and quantity are not provided.\";s:4:\"type\";s:6:\"number\";}s:10:\"unit_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Unit
  price.\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:13:\"currency_code\";}s:4:\"type\";s:6:\"object\";}s:21:\"calculateSimpleTaxOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"storage_required_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Fields
  required for transaction storage (can be added later - it's up to merchant software).
  Depends on the region/transaction type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/storage_required_fields\";}s:4:\"type\";s:5:\"array\";}s:19:\"tax_required_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Fields
  required for tax calculation. Depends on the region/transaction type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tax_required_fields\";}s:4:\"type\";s:5:\"array\";}s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/transaction\";s:11:\"description\";s:16:\"Transaction
  data\";}}s:4:\"type\";s:6:\"object\";}s:14:\"calculateTaxIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/input_transaction\";s:11:\"description\";s:17:\"Transaction
  data.\";}}s:8:\"required\";a:1:{i:0;s:11:\"transaction\";}s:4:\"type\";s:6:\"object\";}s:22:\"calculateTaxLocationIn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"billing_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Billing
  two letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:24:\"buyer_credit_card_prefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"First
  6 digits of buyer's credit card prefix.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"calculateTaxLocationOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:20:\"billing_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Billing
  two letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:24:\"buyer_credit_card_prefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"First
  6 digits of buyer's credit card prefix.\";s:4:\"type\";s:6:\"string\";}s:8:\"buyer_ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"IP
  address of the buyer in dotted decimal (IPv4) or text format (IPv6).\";s:4:\"type\";s:6:\"string\";}s:9:\"countries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/countries\";s:11:\"description\";s:120:\"Map
  of countries calculated from evidence provided. This value is not stored and is
  available only upon tax calculation.\";}s:8:\"evidence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/evidence\";s:11:\"description\";s:34:\"Tax
  country of residence evidence.\";}s:16:\"tax_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Two-letter
  ISO country code, e.g. FR. This code applies to detected/set country for transaction,
  but can be set using manual mode.\";s:4:\"type\";s:6:\"string\";}s:12:\"tax_deducted\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"If
  the transaction is in a country supported by Taxamo, but the tax is not calculated
  due to merchant settings or EU B2B transaction for example.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"tax_supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Is
  tax calculation supported for a detected tax location?\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:15:\"calculateTaxOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"storage_required_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Fields
  required for transaction storage (can be added later - it's up to merchant software).
  Depends on the region/transaction type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/storage_required_fields\";}s:4:\"type\";s:5:\"array\";}s:19:\"tax_required_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Fields
  required for tax calculation. Depends on the region/transaction type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tax_required_fields\";}s:4:\"type\";s:5:\"array\";}s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/transaction\";s:11:\"description\";s:16:\"Transaction
  data\";}}s:4:\"type\";s:6:\"object\";}s:20:\"cancelTransactionOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Was
  operation successful?\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"capturePaymentOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Was
  the operation successful?\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:20:\"confirmTransactionIn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/input_transaction_update\";s:11:\"description\";s:12:\"Transaction.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"confirmTransactionOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"storage_required_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Fields
  required for transaction storage (can be added later - it's up to merchant software).
  Depends on the region/transaction type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/storage_required_fields\";}s:4:\"type\";s:5:\"array\";}s:19:\"tax_required_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Fields
  required for tax calculation. Depends on the region/transaction type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tax_required_fields\";}s:4:\"type\";s:5:\"array\";}s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/transaction\";s:11:\"description\";s:16:\"Transaction
  data\";}}s:4:\"type\";s:6:\"object\";}s:9:\"countries\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"by_2003_rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:42:\"Used
  when merchant uses 2003 EU VAT rules.\";}s:10:\"by_billing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:40:\"Country
  detected by billing country code\";}s:5:\"by_cc\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:45:\"Country
  detected by credit card number prefix\";}s:5:\"by_ip\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:22:\"Country
  detected by IP\";}s:13:\"by_tax_number\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:35:\"Country
  detected from EU TAX number\";}s:8:\"by_token\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:31:\"Country
  detected from SMS token\";}s:8:\"detected\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:36:\"Country
  detected from other evidence\";}s:6:\"forced\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:27:\"Country
  forced by paramters\";}s:15:\"guessed_from_ip\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:53:\"Country
  guessed from IP due to lack of other evidence\";}s:32:\"other_commercially_relevant_info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:41:\"Additional
  evidence held by the merchant.\";}s:16:\"self_declaration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";s:11:\"description\";s:34:\"Self
  declared country as evidence.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"country\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"callingCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of phone number calling codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"cca2\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Two
  letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:4:\"cca3\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Three
  letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:4:\"ccn3\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Country
  ISO 3-digit code.\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Two
  letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:9:\"code_long\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Three
  letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:7:\"codenum\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Country
  ISO 3-digit code.\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  of currencies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Country
  name.\";s:4:\"type\";s:6:\"string\";}s:23:\"tax_number_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"VAT
  number country code. Important for Greece.\";s:4:\"type\";s:6:\"string\";}s:10:\"tax_region\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Tax
  region code - e.g. EU, US, NO, JP...\";s:4:\"type\";s:6:\"string\";}s:13:\"tax_supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"True
  if tax calculation supported for this country.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"country_schema\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"callingCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of phone number calling codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"cca2\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Two
  letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:4:\"cca3\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Three
  letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:4:\"ccn3\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Country
  ISO 3-digit code.\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Two
  letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:9:\"code_long\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Three
  letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:7:\"codenum\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Country
  ISO 3-digit code.\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  of currencies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Country
  name.\";s:4:\"type\";s:6:\"string\";}s:23:\"tax_number_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"VAT
  number country code. Important for Greece.\";s:4:\"type\";s:6:\"string\";}s:10:\"tax_region\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Tax
  region code - e.g. EU, US, NO, JP...\";s:4:\"type\";s:6:\"string\";}s:13:\"tax_supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"True
  if tax calculation supported for this country.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:15:\"createPaymentIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Amount
  that has been paid. Use negative value to register refunds.\";s:4:\"type\";s:6:\"number\";}s:19:\"payment_information\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Additional
  payment information.\";s:4:\"type\";s:6:\"string\";}s:17:\"payment_timestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"When
  the payment was received in yyyy-MM-dd'T'HH:mm:ss(.SSS)'Z' format (24 hour, UTC
  timezone). Defaults to current date and time.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"amount\";}s:4:\"type\";s:6:\"object\";}s:16:\"createPaymentOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Was
  the operation successful?\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"createRefundIn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"Amount
  (without tax) to be refunded. Either amount or total amount is required. In case
  of line key and custom id missing, only total_amount can be used.\";s:4:\"type\";s:6:\"number\";}s:9:\"custom_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Line
  custom identifier. If neither line key or custom id is provided, the refund amount
  will be assigned to lines in order.\";s:4:\"type\";s:6:\"string\";}s:8:\"line_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Line
  identifier. If neither line key or custom id is provided, the refund amount will
  be assigned to lines in order.\";s:4:\"type\";s:6:\"string\";}s:13:\"refund_reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Refund
  reason, displayed on the credit note.\";s:4:\"type\";s:6:\"string\";}s:12:\"total_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"Total
  amount, including tax, to be refunded. Either amount or total amount is required.
  In case of line key and custom id missing, only total_amount can be used.\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:15:\"createRefundOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"refunded_tax_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Total
  tax amount, that was refunded for this line.\";s:4:\"type\";s:6:\"number\";}s:21:\"refunded_total_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Total
  amount, including tax, that was refunded for this line.\";s:4:\"type\";s:6:\"number\";}s:10:\"tax_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Calculated
  tax amount, that was refunded in this call.\";s:4:\"type\";s:6:\"number\";}s:12:\"total_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Total
  amount, including tax, that was refunded in this call.\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:16:\"createSMSTokenIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Two
  letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:9:\"recipient\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Recipient
  phone number.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"country_code\";i:1;s:9:\"recipient\";}s:4:\"type\";s:6:\"object\";}s:17:\"createSMSTokenOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:223:\"Always
  set to true. Success means that the message has been queued for delivery. In some
  cases message may be undelivered at the end, e.g. mobile number is blacklisted.
  API errors are signalled with appropriate error codes.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:19:\"createTransactionIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"manual_mode\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Use
  manual mode, bypassing country detection. Only allowed with private token. This
  flag allows to use original_transaction_key field\";s:4:\"type\";s:7:\"boolean\";}s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/input_transaction\";s:11:\"description\";s:12:\"Transaction.\";}}s:8:\"required\";a:1:{i:0;s:11:\"transaction\";}s:4:\"type\";s:6:\"object\";}s:20:\"createTransactionOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"storage_required_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Fields
  required for transaction storage (can be added later - it's up to merchant software).
  Depends on the region/transaction type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/storage_required_fields\";}s:4:\"type\";s:5:\"array\";}s:19:\"tax_required_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Fields
  required for tax calculation. Depends on the region/transaction type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tax_required_fields\";}s:4:\"type\";s:5:\"array\";}s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/transaction\";s:11:\"description\";s:16:\"Transaction
  data\";}}s:4:\"type\";s:6:\"object\";}s:15:\"currency_schema\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Currency
  3-letter ISO code.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Currency
  description.\";s:4:\"type\";s:6:\"string\";}s:7:\"isocode\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Currency
  3-letter ISO code.\";s:4:\"type\";s:6:\"string\";}s:6:\"isonum\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Currency
  iso numeric code.\";s:4:\"type\";s:7:\"integer\";}s:10:\"minorunits\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Number
  of minor units for currency.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Field's
  key.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Field's
  value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"emailInvoiceIn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"buyer_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Email
  to send the invoice. If not provided, transaction.buyer_email will be used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"emailInvoiceOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Was
  operation successful?\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"emailRefundIn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"buyer_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Email
  to send the credit note/refund note. If not provided, transaction.buyer_email will
  be used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"emailRefundOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Was
  operation successful?\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"evidence\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"by_2003_rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:42:\"Used
  when merchant uses 2003 EU VAT rules.\";}s:10:\"by_billing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:40:\"Country
  detected by billing country code\";}s:5:\"by_cc\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:45:\"Country
  detected by credit card number prefix\";}s:5:\"by_ip\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:22:\"Country
  detected by IP\";}s:17:\"by_payment_method\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:35:\"Country
  detected by payment method.\";}s:13:\"by_tax_number\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:35:\"Country
  detected from EU TAX number\";}s:8:\"by_token\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:31:\"Country
  detected from SMS token\";}s:6:\"forced\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:27:\"Country
  forced by paramters\";}s:15:\"guessed_from_ip\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:53:\"Country
  guessed from IP due to lack of other evidence\";}s:32:\"other_commercially_relevant_info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:80:\"Additional
  evidence held by the merchant. Can be used only with a private token.\";}s:16:\"self_declaration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/evidence_schema\";s:11:\"description\";s:74:\"Self
  declared country as evidence. Requires merchant setting to be active.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"evidence_schema\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"evidence_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Type
  of evidence.\";s:4:\"type\";s:6:\"string\";}s:14:\"evidence_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Value
  provided as evidence - for example IP address.\";s:4:\"type\";s:6:\"string\";}s:21:\"resolved_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Country
  code that was resolved using this evidence.\";s:4:\"type\";s:6:\"string\";}s:4:\"used\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"If
  the evidence was used to match the actual country.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"getCountriesDictIn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"tax_supported\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Should
  only countries with tax supported be listed?\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:19:\"getCountriesDictOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"dictionary\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Countries
  dictionary.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/country_schema\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"getCurrenciesDictOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"dictionary\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Currency
  dictionary.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/currency_schema\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"getDailySettlementStatsIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"date_from\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Date
  from in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:7:\"date_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Date
  to in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:8:\"interval\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Interval
  type - day, week, month.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"date_from\";i:1;s:7:\"date_to\";i:2;s:8:\"interval\";}s:4:\"type\";s:6:\"object\";}s:26:\"getDailySettlementStatsOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"settlement_daily\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Daily
  settlement stats\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/settlement_daily_stats_schema\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"getDetailedRefundsIn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"country_codes\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Comma
  separated list of 2-letter country codes\";s:4:\"type\";s:6:\"string\";}s:9:\"date_from\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Take
  only refunds issued at or after the date. Format: yyyy-MM-dd\";s:4:\"type\";s:6:\"string\";}s:7:\"date_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Take
  only refunds issued at or before the date. Format: yyyy-MM-dd\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Output
  format. 'json' or 'csv'. Default value is 'json'\";s:4:\"type\";s:6:\"string\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Limit
  (no more than 1000, defaults to 100).\";s:4:\"type\";s:6:\"number\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Offset.
  Defaults to 0\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:21:\"getDetailedRefundsOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"report\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Detailed
  refunds report\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/report\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"getDomesticSummaryReportIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"ISO
  2-letter country code which will be used for determining which country is domestic.\";s:4:\"type\";s:6:\"string\";}s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"ISO
  3-letter currency code, e.g. EUR or USD. Defaults to the one assigned to MOSS calculations
  for a given country code.\";s:4:\"type\";s:6:\"string\";}s:9:\"end_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Period
  end month in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Output
  format. 'xml' and 'csv' values are accepted. Default format - json\";s:4:\"type\";s:6:\"string\";}s:12:\"fx_date_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Which
  date should be used for FX.\";s:4:\"type\";s:6:\"string\";}s:11:\"start_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Period
  start month in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"country_code\";i:1;s:9:\"end_month\";i:2;s:11:\"start_month\";}s:4:\"type\";s:6:\"object\";}s:27:\"getDomesticSummaryReportOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Three-letter
  ISO currency code.\";s:4:\"type\";s:6:\"string\";}s:23:\"domestic_refunds_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Domestic
  sales refunds amount.\";s:4:\"type\";s:6:\"number\";}s:27:\"domestic_refunds_tax_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Domestic
  sales refunds tax amout.\";s:4:\"type\";s:6:\"number\";}s:21:\"domestic_sales_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Domestic
  sales amount.\";s:4:\"type\";s:6:\"number\";}s:19:\"domestic_tax_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Domestic
  sales tax amout.\";s:4:\"type\";s:6:\"number\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Period
  end date in yyyy-MM-dd'T'hh:mm:ss'Z' format.\";s:4:\"type\";s:6:\"string\";}s:23:\"eu_tax_deducted_refunds\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"EU
  deducted tax sales.\";s:4:\"type\";s:6:\"number\";}s:21:\"eu_tax_deducted_sales\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"EU
  deducted tax sales.\";s:4:\"type\";s:6:\"number\";}s:21:\"global_refunds_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Global
  sales refunds amount. This includes refunds from domestic country too.\";s:4:\"type\";s:6:\"number\";}s:25:\"global_refunds_tax_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Global
  sales refunds amount. This includes refunds from domestic country too.\";s:4:\"type\";s:6:\"number\";}s:19:\"global_sales_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Global
  sales amount. This includes sales from domestic country too.\";s:4:\"type\";s:6:\"number\";}s:23:\"global_sales_tax_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Global
  sales amount. This includes sales from domestic country too.\";s:4:\"type\";s:6:\"number\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Period
  start date in yyyy-MM-dd'T'hh:mm:ss'Z' format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"getEuViesReportIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"ISO
  3-letter currency code, e.g. EUR or USD. Defaults to the one assigned to MOSS calculations
  for a given country code.\";s:4:\"type\";s:6:\"string\";}s:9:\"end_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Period
  end month in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:15:\"eu_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"ISO
  2-letter country code which will be used for determining which country is domestic.\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Output
  format. 'xml', 'csv' and 'lff' (only for Ireland) values are accepted as well\";s:4:\"type\";s:6:\"string\";}s:12:\"fx_date_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Which
  date should be used for FX.\";s:4:\"type\";s:6:\"string\";}s:19:\"lff_sequence_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Sequence
  number used to generate report in Large Filer Format. If not specified then '0000000001'
  will be used.\";s:4:\"type\";s:6:\"string\";}s:13:\"period_length\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Length
  of report period. 'month', 'quarter' and 'year' values are accepted. Required only
  if Large Filer Format is requested.\";s:4:\"type\";s:6:\"string\";}s:11:\"start_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Period
  start month in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:6:\"tax_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"MOSS-assigned
  tax ID - if not provided, merchant's national tax number will be used.\";s:4:\"type\";s:6:\"string\";}s:14:\"transformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Which
  transformation should be applied. Please note that transformation will be applied
  only for xml and csv formats.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"end_month\";i:1;s:15:\"eu_country_code\";i:2;s:11:\"start_month\";}s:4:\"type\";s:6:\"object\";}s:18:\"getEuViesReportOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Three-letter
  ISO currency code.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Period
  end date in yyyy-MM-dd'T'hh:mm:ss'Z' format.\";s:4:\"type\";s:6:\"string\";}s:6:\"report\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Settlement
  report.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/report\";}s:4:\"type\";s:5:\"array\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Period
  start date in yyyy-MM-dd'T'hh:mm:ss'Z' format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"getProductTypesDictOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"dictionary\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Product
  type dictionary.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/product_type_schema\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"getRefundsIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"date_from\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Take
  only refunds issued at or after the date. Format: yyyy-MM-dd\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Output
  format. 'csv' value is accepted as well\";s:4:\"type\";s:6:\"string\";}s:17:\"moss_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"MOSS
  country code, used to determine currency. If ommited, merchant default setting is
  used.\";s:4:\"type\";s:6:\"string\";}s:10:\"tax_region\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Tax
  region key, defaults to EU for backwards compatibility.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"date_from\";}s:4:\"type\";s:6:\"object\";}s:13:\"getRefundsOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"report\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Refunds
  report.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/report\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"getSettlementIn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"ISO
  3-letter currency code, e.g. EUR or USD. If provided, all amounts will be coerced
  for this currency. Defaults to region's currency code.\";s:4:\"type\";s:6:\"string\";}s:9:\"end_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Period
  end month in yyyy-MM format. Either quarter or start-month and end-month have to
  be provided.\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Output
  format. 'csv' value is accepted as well\";s:4:\"type\";s:6:\"string\";}s:17:\"moss_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"MOSS
  country code, used to determine currency/region. If ommited, merchant default setting
  is used. Deprecated: please use tax-country-code.\";s:4:\"type\";s:6:\"string\";}s:11:\"moss_tax_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"MOSS-assigned
  tax ID - if not provided, merchant's national tax number will be used. Deprecated,
  please use tax-id.\";s:4:\"type\";s:6:\"string\";}s:25:\"refund_date_kind_override\";O:8:\"stdClass\":2:{s:11:\"description\";s:237:\"Set
  to 'order_date' to show only refunds for the transactions in the selected reporting
  period. Set to 'refund_timestamp' to show refunds that were created in the selected
  reporting period. Do not set to use the default region's setting.\";s:4:\"type\";s:6:\"string\";}s:11:\"start_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Period
  start month in yyyy-MM format. Either quarter or start-month and end-month have
  to be provided.\";s:4:\"type\";s:6:\"string\";}s:16:\"tax_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Tax
  entity country code, used to determine currency/region. \";s:4:\"type\";s:6:\"string\";}s:6:\"tax_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"MOSS-assigned
  tax ID - if not provided, merchant's national tax number will be used. Deprecated,
  please use tax-id.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"getSettlementOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"end_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Period
  end date in yyyy-MM-dd'T'hh:mm:ss'Z' format.\";s:4:\"type\";s:6:\"string\";}s:12:\"fx_rate_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Date
  of ECB FX rate used for conversions in yyyy-MM-dd'T'hh:mm:ss'Z' format. Applies
  to tax regions where \";s:4:\"type\";s:6:\"string\";}s:10:\"indicative\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"If
  the quarter isn't closed yet, tax amount is indicative, as we cannot determine FX
  rate or all transactions yet.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"report\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Settlement
  report.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/report\";}s:4:\"type\";s:5:\"array\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Period
  start date in yyyy-MM-dd'T'hh:mm:ss'Z' format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"getSettlementStatsByCountryIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"date_from\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Date
  from in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:7:\"date_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Date
  to in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"date_from\";i:1;s:7:\"date_to\";}s:4:\"type\";s:6:\"object\";}s:30:\"getSettlementStatsByCountryOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"by_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Settlement
  stats.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/by_country\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"getSettlementStatsByTaxationTypeIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"date_from\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Date
  from in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:7:\"date_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Date
  to in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"date_from\";i:1;s:7:\"date_to\";}s:4:\"type\";s:6:\"object\";}s:35:\"getSettlementStatsByTaxationTypeOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"by_taxation_type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/by_taxation_type\";s:11:\"description\";s:35:\"Settlements
  stats by taxation type.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"getSettlementSummaryIn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"end_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Period
  end month in yyyy-MM format. Either quarter or start-month and end-month have to
  be provided.\";s:4:\"type\";s:6:\"string\";}s:17:\"moss_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"MOSS
  country code, used to determine currency. If ommited, merchant default setting is
  used.\";s:4:\"type\";s:6:\"string\";}s:11:\"start_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Period
  start month in yyyy-MM format. Either quarter or start-month and end-month have
  to be provided.\";s:4:\"type\";s:6:\"string\";}s:10:\"tax_region\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Tax
  region key\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"getSettlementSummaryOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/summary\";s:11:\"description\";s:19:\"Settlement
  summary.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"getTransactionOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"storage_required_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Fields
  required for transaction storage (can be added later - it's up to merchant software).
  Depends on the region/transaction type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/storage_required_fields\";}s:4:\"type\";s:5:\"array\";}s:19:\"tax_required_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Fields
  required for tax calculation. Depends on the region/transaction type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tax_required_fields\";}s:4:\"type\";s:5:\"array\";}s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/transaction\";s:11:\"description\";s:16:\"Transaction
  data\";}}s:4:\"type\";s:6:\"object\";}s:31:\"getTransactionsStatsByCountryIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"date_from\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Date
  from in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:7:\"date_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Date
  to in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:20:\"global_currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"Global
  currency code to use for conversion - in addition to country's currency if rate
  is available. Conversion is indicative and based on most-recent rate from ECB.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"date_from\";i:1;s:7:\"date_to\";}s:4:\"type\";s:6:\"object\";}s:32:\"getTransactionsStatsByCountryOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"by_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Settlement
  stats.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/by_country\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"getTransactionsStatsIn\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"date_from\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Date
  from in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:7:\"date_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Date
  to in yyyy-MM format.\";s:4:\"type\";s:6:\"string\";}s:8:\"interval\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Interval.
  Accepted values are 'day', 'week' and 'month'.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"date_from\";i:1;s:7:\"date_to\";}s:4:\"type\";s:6:\"object\";}s:23:\"getTransactionsStatsOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"by_status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/by_status\";s:11:\"description\";s:36:\"Transaction
  stats grouped by status.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"input_transaction\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":31:{s:21:\"additional_currencies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/additional_currencies\";s:11:\"description\";s:114:\"Additional
  currency information - can be used to receive additional information about invoice
  in another currency.\";}s:20:\"billing_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Billing
  two letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:24:\"buyer_credit_card_prefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"First
  6 digits of buyer's credit card prefix.\";s:4:\"type\";s:6:\"string\";}s:11:\"buyer_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Buyer's
  declared email address.\";s:4:\"type\";s:6:\"string\";}s:8:\"buyer_ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"IP
  address of the buyer in dotted decimal (IPv4) or text format (IPv6).\";s:4:\"type\";s:6:\"string\";}s:10:\"buyer_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Buyer's
  name - first name and last name or company name.\";s:4:\"type\";s:6:\"string\";}s:16:\"buyer_tax_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:372:\"
  Buyer's tax number - EU VAT number for example. If using EU VAT number, it is possible
  to provide country code in it (e.g. IE1234567X) or simply use billing_country_code
  field for that. In the first case, if billing_country_code value was provided, it
  will be overwritten with country code value extracted from VAT number - but only
  if the VAT has been verified properly.\";s:4:\"type\";s:6:\"string\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Additional
  information about the transaction - for example if the evidence has been amended.\";s:4:\"type\";s:6:\"string\";}s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Currency
  code for transaction - e.g. EUR.\";s:4:\"type\";s:6:\"string\";}s:11:\"custom_data\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Custom
  data related to transaction.\";s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Custom
  fields, stored as key-value pairs. This property is not processed and used mostly
  with Taxamo-built helpers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/custom_fields\";}s:4:\"type\";s:5:\"array\";}s:9:\"custom_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Custom
  identifier provided upon transaction creation.\";s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Free-form
  field for storing customer id.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Transaction
  description.\";s:4:\"type\";s:6:\"string\";}s:8:\"evidence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/evidence\";s:11:\"description\";s:34:\"Tax
  country of residence evidence.\";}s:18:\"force_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Two-letter
  ISO country code, e.g. FR. Use it to force country code for tax calculation.\";s:4:\"type\";s:6:\"string\";}s:15:\"invoice_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/invoice_address\";s:11:\"description\";s:16:\"Invoice
  address.\";}s:12:\"invoice_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Invoice
  date of issue.\";s:4:\"type\";s:6:\"string\";}s:14:\"invoice_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Invoice
  number.\";s:4:\"type\";s:6:\"string\";}s:13:\"invoice_place\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Invoice
  place of issue.\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Additional
  note related to transaction state - for example if the transaction was created in
  a 'catch-all' mode or the VAT number re-check for subscriptions has failed.\";s:4:\"type\";s:6:\"string\";}s:10:\"order_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"Order
  date in yyyy-MM-dd format, in merchant's timezone. If provided by the API caller,
  no timezone conversion is performed. Default value is current date and time. When
  using public token, the default value is used.\";s:4:\"type\";s:6:\"string\";}s:24:\"original_transaction_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"Use
  data and evidence from original transaction. Tax will be re-calculated, but evidence
  won't be re-checked. This parameter is taken into account only when 'manual' flag
  is raised.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"Transaction
  status: 'N' - new, 'C' - confirmed. Can use 'C' in store-transaction! with private-token
  to create confirmed transaction, otherwise 'N' is default status. Not applicable
  for update-transaction!.\";s:4:\"type\";s:6:\"string\";}s:14:\"sub_account_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Sub
  account identifier.\";s:4:\"type\";s:6:\"string\";}s:11:\"supply_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Supply
  date in yyyy-MM-dd format.\";s:4:\"type\";s:6:\"string\";}s:16:\"tax_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Two-letter
  ISO country code, e.g. FR. This code applies to detected/set country for transaction,
  but can be set using manual mode.\";s:4:\"type\";s:6:\"string\";}s:8:\"tax_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/tax_data_schema\";s:11:\"description\";s:74:\"Tax
  additional information - e.g. US sales tax exemption certificate data.\";}s:12:\"tax_deducted\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"True
  if the transaction is deducted from tax and no tax is applied (it is untaxed). Either
  set automatically when VAT number validates with VIES correctly, but can also be
  provided in manual mode.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"transaction_lines\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Transaction
  lines.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/input_transaction_line\";}s:4:\"type\";s:5:\"array\";}s:18:\"verification_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Verification
  token\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:13:\"currency_code\";i:1;s:17:\"transaction_lines\";}s:4:\"type\";s:6:\"object\";}s:22:\"input_transaction_line\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Amount.
  Required if total amount or both unit price and quantity are not provided.\";s:4:\"type\";s:6:\"number\";}s:13:\"custom_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Custom
  fields, stored as key-value pairs. This property is not processed and used mostly
  with Taxamo-built helpers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/custom_fields\";}s:4:\"type\";s:5:\"array\";}s:9:\"custom_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Custom
  id, provided by ecommerce software.\";s:4:\"type\";s:6:\"string\";}s:17:\"deducted_tax_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Deducted
  tax rate, calculated by taxamo.\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Line
  contents description.\";s:4:\"type\";s:6:\"string\";}s:11:\"informative\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"If
  the line is provided for informative purposes. Such line must have :tax-rate and
  optionally :tax-name - if not, API validation will fail for this line.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"line_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Generated
  line key.\";s:4:\"type\";s:6:\"string\";}s:12:\"product_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Internal
  product code, used for invoicing for example.\";s:4:\"type\";s:6:\"string\";}s:16:\"product_tax_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"External
  product tax code for a line, for example TIC in US Sales tax.\";s:4:\"type\";s:6:\"string\";}s:12:\"product_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Product
  type, according to dictionary /dictionaries/product_types. \";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Quantity
  Defaults to 1.\";s:4:\"type\";s:6:\"number\";}s:11:\"supply_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Date
  of supply in yyyy-MM-dd format.\";s:4:\"type\";s:6:\"string\";}s:8:\"tax_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Tax
  name, calculated by taxamo.  Can be overwritten when informative field is true.\";s:4:\"type\";s:6:\"string\";}s:8:\"tax_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Tax
  rate, calculated by taxamo. Must be provided when informative field is true.\";s:4:\"type\";s:6:\"number\";}s:12:\"total_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Total
  amount. Required if amount or both unit price and quantity are not provided.\";s:4:\"type\";s:6:\"number\";}s:15:\"unit_of_measure\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Unit
  of measure.\";s:4:\"type\";s:6:\"string\";}s:10:\"unit_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Unit
  price.\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:9:\"custom_id\";}s:4:\"type\";s:6:\"object\";}s:24:\"input_transaction_update\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":31:{s:21:\"additional_currencies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/additional_currencies\";s:11:\"description\";s:114:\"Additional
  currency information - can be used to receive additional information about invoice
  in another currency.\";}s:20:\"billing_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Billing
  two letter ISO country code.\";s:4:\"type\";s:6:\"string\";}s:24:\"buyer_credit_card_prefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"First
  6 digits of buyer's credit card prefix.\";s:4:\"type\";s:6:\"string\";}s:11:\"buyer_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Buyer's
  declared email address.\";s:4:\"type\";s:6:\"string\";}s:8:\"buyer_ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"IP
  address of the buyer in dotted decimal (IPv4) or text format (IPv6).\";s:4:\"type\";s:6:\"string\";}s:10:\"buyer_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Buyer's
  name - first name and last name or company name.\";s:4:\"type\";s:6:\"string\";}s:16:\"buyer_tax_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:372:\"
  Buyer's tax number - EU VAT number for example. If using EU VAT number, it is possible
  to provide country code in it (e.g. IE1234567X) or simply use billing_country_code
  field for that. In the first case, if billing_country_code value was provided, it
  will be overwritten with country code value extracted from VAT number - but only
  if the VAT has been verified properly.\";s:4:\"type\";s:6:\"string\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Additional
  information about the transaction - for example if the evidence has been amended.\";s:4:\"type\";s:6:\"string\";}s:13:\"currency_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Currency
  code for transaction - e.g. EUR.\";s:4:\"type\";s:6:\"string\";}s:11:\"custom_data\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Custom
  data related to transaction.\";s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Custom
  fields, stored as key-value pairs. This property is not processed and used mostly
  with Taxamo-built helpers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/custom_fields\";}s:4:\"type\";s:5:\"array\";}s:9:\"custom_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Custom
  identifier provided upon transaction creation.\";s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Free-form
  field for storing customer id.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Transaction
  description.\";s:4:\"type\";s:6:\"string\";}s:8:\"evidence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/evidence\";s:11:\"description\";s:34:\"Tax
  country of residence evidence.\";}s:18:\"force_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Two-letter
  ISO country code, e.g. FR. Use it to force country code for tax calculation.\";s:4:\"type\";s:6:\"string\";}s:15:\"invoice_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/invoice_address\";s:11:\"description\";s:16:\"Invoice
  address.\";}s:12:\"invoice_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Invoice
  date of issue.\";s:4:\"type\";s:6:\"string\";}s:14:\"invoice_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Invoice
  number.\";s:4:\"type\";s:6:\"string\";}s:13:\"invoice_place\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Invoice
  place of issue.\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Additional
  note related to transaction state - for example if the transaction was created in
  a 'catch-all' mode or the VAT number re-check for subscriptions has failed.\";s:4:\"type\";s:6:\"string\";}s:10:\"order_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"Order
  date in yyyy-MM-dd format, in merchant's timezone. If provided by the API caller,
  no timezone conversion is performed. Default value is current date and time. When
  using public token, the default value is used.\";s:4:\"type\";s:6:\"string\";}s:24:\"original_transaction_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"Use
  data and evidence from original transaction. Tax will be re-calculated, but evidence
  won't be re-checked. This parameter is taken into account only when 'manual' flag
  is raised.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"Transaction
  status: 'N' - new, 'C' - confirmed. Can use 'C' in store-transaction! with private-token
  to create confirmed transaction, otherwise 'N' is default status. Not applicable
  for update-transaction!.\";s:4:\"type\";s:6:\"string\";}s:14:\"sub_account_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Sub
  account identifier.\";s:4:\"type\";s:6:\"string\";}s:11:\"supply_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Supply
  date in yyyy-MM-dd format.\";s:4:\"type\";s:6:\"string\";}s:16:\"tax_country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Two-letter
  ISO country code, e.g. FR. This code applies to detected/set country for transaction,
  but can be set using manual mode.\";s:4:\"type\";s:6:\"string\";}s:8:\"tax_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/tax_data_schema\";s:11:\"description\";s:74:\"Tax
[...]
