---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:13:\"KartrocketAPI\";s:11:\"description\";s:39:\"All
  the api's you need are listed here.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:55:\"http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT\";}}"
host: purujit.kartrocket.co
basePath: /api
paths:
  /category:
    get:
      tags:
      - Category and Categories
      description: Get Category
      summary: Get Category
      operationId: Get_Category
      produces:
      - application/json
      parameters:
      - name: id
        in: query
        required: true
        type: integer
        description: category id
      responses:
        200:
          description: Category details
          schema:
            $ref: '#/definitions/getCategoryResponse'
  /categories:
    get:
      tags:
      - Category and Categories
      description: Get Categories
      summary: Get Categories
      operationId: Get_Categories
      produces:
      - application/json
      parameters:
      - name: level
        in: query
        required: true
        type: integer
        description: Up to which level you want the API to traverse in category tree
      - name: parent
        in: query
        required: true
        type: integer
        description: parent category
      responses:
        200:
          description: Category details
          schema:
            $ref: '#/definitions/categoriesResponse'
  /product:
    get:
      tags:
      - Product
      description: get specified product
      summary: get specified product
      operationId: get_product
      produces:
      - application/json
      parameters:
      - name: id
        in: query
        required: true
        type: integer
        description: product id
      - name: sku
        in: query
        required: false
        type: string
        description: Product SKU
      responses:
        200:
          description: Json formatted product details
          schema:
            $ref: '#/definitions/getProductResponse'
  /get_invoice:
    get:
      tags:
      - Order
      description: get pdf file of invoice
      operationId: get_invoice
      summary: Get Invoice
      produces:
      - application/json
      parameters:
      - name: order_id
        in: query
        required: true
        type: integer
        description: order id
      responses:
        200:
          description: Pdf file
  /products:
    get:
      tags:
      - Product
      description: Get all products in specific category
      operationId: getSpecificProducts
      summary: Get Specific Product
      produces:
      - application/json
      parameters:
      - name: category
        in: query
        required: true
        type: integer
        description: specific category id
      responses:
        200:
          description: Json formatted products in specified category
          schema:
            $ref: '#/definitions/getProductsResponse'
  /search_all_products:
    get:
      tags:
      - Product
      description: Search products
      operationId: searchProduct
      summary: Search Product
      produces:
      - application/json
      parameters:
      - name: filter_name
        in: query
        required: true
        type: string
        description: name of the filter
      responses:
        200:
          description: Search results
          schema:
            $ref: '#/definitions/searchResponse'
  /addproduct:
    post:
      tags:
      - Product
      description: Add product
      operationId: addProduct
      summary: Add Product
      produces:
      - application/json
      parameters:
      - name: data
        in: body
        required: true
        description: product data
        schema:
          $ref: '#/definitions/addProductRequest'
      responses:
        200:
          description: Product added
          schema:
            $ref: '#/definitions/addProductResponse'
  /cart/addMultiple:
    post:
      tags:
      - Cart
      description: add multiple cart items
      operationId: addToCart
      summary: Add to cart
      produces:
      - application/json
      parameters:
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/addToCartRequest'
      responses:
        200:
          description: addToCartResponse
          schema:
            $ref: '#/definitions/addToCartResponse'
  /checkout/cart/apiViewCart:
    get:
      tags:
      - Cart
      description: View Cart
      operationId: viewCart
      summary: View Cart
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: List of items in cart
          schema:
            $ref: '#/definitions/viewCartResponse'
  /removeProAPI:
    post:
      tags:
      - Cart
      description: Remove product from cart
      operationId: removeCartProduct
      summary: Remove Product from Cart
      produces:
      - application/json
      parameters:
      - name: remproapi
        in: body
        required: true
        schema:
          $ref: '#/definitions/remProApiRequest'
      responses:
        200:
          description: Product removed
          schema:
            $ref: '#/definitions/remProApiResponse'
  /emptyCartAPI:
    get:
      tags:
      - Cart
      description: Empty cart
      operationId: emptyCart
      summary: Empty Cart
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Empty Cart Response
          schema:
            $ref: '#/definitions/emptyCartResponse'
  /stock:
    get:
      tags:
      - Product
      description: Update stock
      summary: Update Stock
      operationId: updateProductStock
      produces:
      - application/json
      parameters:
      - name: sku
        in: query
        required: true
        type: string
        description: sku of product'
      - name: qty
        in: query
        required: false
        type: string
        description: quantity of product
      - name: price
        in: query
        required: true
        type: string
        description: price of product
      responses:
        200:
          description: Update stoke response
          schema:
            $ref: '#/definitions/updateStokeResponse'
  /optionstock:
    get:
      tags:
      - Product
      description: Update Option stock
      summary: Update Option Stock
      operationId: updateStock
      produces:
      - application/json
      parameters:
      - name: sku
        in: query
        required: true
        type: string
        description: sku of product
      - name: option_sku
        in: query
        required: true
        type: string
        description: sku of product option
      - name: qty
        in: query
        required: false
        type: string
        description: product option quantity
      - name: price
        in: query
        required: false
        type: string
        description: product option price
      - name: weight
        in: query
        required: false
        type: string
        description: product option weight
      responses:
        200:
          description: json response of result
          schema:
            $ref: '#/definitions/updateStockResponse'
  /convert_currency:
    post:
      tags:
      - Currency
      description: Convert Currency
      operationId: convertCurrency
      summary: Convert Currency
      produces:
      - application/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/convertCurrencyRequest'
      responses:
        200:
          description: Convert Currency response
          schema:
            $ref: '#/definitions/convertCurrencyResponse'
  /list_currency:
    get:
      tags:
      - Currency
      description: List Currency
      operationId: listCurrency
      summary: List Currency
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Response of list_currency
          schema:
            $ref: '#/definitions/listCurrencyResponse'
  /login:
    post:
      tags:
      - Login
      description: Login to store
      operationId: login
      summary: Login
      produces:
      - application/json
      parameters:
      - name: route
        in: body
        required: true
        schema:
          $ref: '#/definitions/loginRequest'
      responses:
        200:
          description: Login Success
          schema:
            $ref: '#/definitions/loginResponse'
  /register:
    post:
      tags:
      - Register
      description: Register Request
      operationId: register
      summary: Register
      produces:
      - application/json
      parameters:
      - name: register
        in: body
        required: true
        schema:
          $ref: '#/definitions/registerRequest'
      responses:
        200:
          description: Register Success
          schema:
            $ref: '#/definitions/registerResponse'
  /best_sellers:
    get:
      tags:
      - Best Seller
      description: Best Seller Product
      summary: Get Best Seller Product
      operationId: bestSellerProduct
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: best Seller Response
          schema:
            $ref: '#/definitions/bestSellerResponse'
  /orders:
    get:
      tags:
      - Order
      description: Get Orders
      operationId: getOrder
      summary: Get Order
      produces:
      - application/json
      parameters:
      - name: order_id
        in: query
        required: false
        type: string
        description: Order id
      - name: version
        in: query
        required: false
        type: string
        description: Order id
      responses:
        200:
          description: Response in json format
          schema:
            $ref: '#/definitions/getOrderResponse'
  /addorder:
    post:
      tags:
      - Order
      description: Add new order
      operationId: addorder
      summary: Add Order
      produces:
      - application/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/addOrderRequest'
      responses:
        200:
          description: Order added Successfully
          schema:
            $ref: '#/definitions/addOrderResponse'
  /coupons:
    get:
      tags:
      - Coupon
      description: Get coupons
      operationId: coupons
      summary: Get Coupon
      produces:
      - application/json
      parameters:
      - name: code
        in: query
        required: false
        type: string
        description: coupon code
      - name: date_from
        in: query
        required: false
        type: string
        description: from which date
      - name: page
        in: query
        required: false
        type: string
        description: page number
      - name: date_to
        in: query
        required: false
        type: string
        description: to which date in unix dateTime format
      responses:
        200:
          description: Json response of request
          schema:
            $ref: '#/definitions/couponResponse'
  /ordercount:
    get:
      tags:
      - Order
      description: Count orders
      operationId: orderCount
      summary: Get Order Count
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Json response
          schema:
            $ref: '#/definitions/orderCountResponse'
  /productcount:
    get:
      tags:
      - Product
      description: Get count of products
      operationId: productCount
      summary: Get Product Count
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Json response of count
          schema:
            $ref: '#/definitions/productCountResponse'
  /addchannelproduct:
    post:
      tags:
      - Channel Products
      description: add channel product
      operationId: addChannelProductRequest
      summary: Add Channel Product
      produces:
      - application/json
      parameters:
      - name: data
        in: body
        description: data of product in json format
        schema:
          $ref: '#/definitions/addChannelProductRequest'
      responses:
        200:
          description: Json response
          schema:
            $ref: '#/definitions/addChannelProductResponse'
  /channelproducts:
    get:
      tags:
      - Product
      description: get channel product
      operationId: channelproducts
      summary: Get Channel Product
      produces:
      - application/json
      parameters:
      - name: channel_id
        in: query
        required: true
        type: string
        description: channe id
      - name: kartrocket_product_id
        in: query
        required: true
        type: string
        description: kartrocket product id
      - name: channel_product_sku
        in: query
        required: true
        type: string
        description: sku of product in channel
      - name: page
        in: query
        required: true
        type: string
        description: page number
      responses:
        200:
          description: json encoded response
          schema:
            $ref: '#/definitions/getChannelProductResponse'
  /updateorders:
    get:
      tags:
      - Order
      description: Update order
      operationId: updateOrder
      summary: Update Order
      produces:
      - application/json
      parameters:
      - name: order_id
        in: query
        required: true
        type: string
        description: order id
      - name: order_status_id
        in: query
        required: true
        type: string
        description: order status id
      - name: courier_company
        in: query
        required: true
        type: string
        description: Name of courier company
      - name: awb_number
        in: query
        required: true
        type: string
        description: AWB number of order
      responses:
        200:
          description: Order updated Successfully
          schema:
            $ref: '#/definitions/updateOrderResponse'
  /getInformationPages:
    get:
      tags:
      - getInformationPages
      description: ""
      operationId: getInformationPages
      summary: Get Information Pages
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getInformationPagesResponse'
  /getMenu:
    get:
      tags:
      - Menu
      description: ""
      operationId: getMenu
      summary: Get Menu
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getMenuResponse'
  /storeLocation:
    get:
      tags:
      - Store
      description: ""
      summary: Get Store Location
      operationId: storeLocation
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/storeLocationResponse'
  /storePaymentmethods:
    get:
      tags:
      - Store
      description: ""
      operationId: storePaymentmethods
      summary: Payment Methods
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/storePaymentmethodsResponse'
  /storeFooter:
    get:
      tags:
      - Store
      description: ""
      summary: Footer
      operationId: storeFooter
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/storeFooterResponse'
  /getWishlist:
    get:
      tags:
      - WishList
      description: ""
      operationId: getWishlist
      summary: WishList
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getWishlistResponse'
  /getBanner:
    get:
      tags:
      - getBanner
      description: ""
      operationId: getBanner
      summary: Get Banner
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getBannerResponse'
  /getstaticblock:
    get:
      tags:
      - getstaticblock
      description: ""
      operationId: getstaticblock
      summary: Get Static Block
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getstaticblockResponse'
  /getcarousel:
    get:
      tags:
      - getcarousel
      description: ""
      summary: Get Carousel
      operationId: getcarousel
      produces:
      - application/json
      parameters:
      - name: layout_id
        in: query
        required: true
        type: integer
        description: ""
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getcarouselResponse'
  /getlayouts:
    get:
      tags:
      - Layout
      description: ""
      summary: Get Layout
      operationId: getlayouts
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getlayoutsResponse'
  /components:
    post:
      tags:
      - Components
      description: ""
      summary: Add Components
      operationId: components
      produces:
      - application/json
      parameters:
      - name: data
        in: body
        description: data of product in json format
        schema:
          $ref: '#/definitions/componentsRequest'
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/componentsResponse'
  /getcomponents:
    get:
      tags:
      - Components
      description: ""
      summary: Get Components
      operationId: getcomponents
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getcomponentsResponse'
  /getstoreID:
    get:
      tags:
      - Store
      description: ""
      summary: Get Store Id
      operationId: getstoreID
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getstoreIDResponse'
  /storecomponents:
    post:
      tags:
      - Store
      description: ""
      summary: Add Store-Components
      operationId: storecomponents
      produces:
      - application/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/storecomponentsRequest'
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/storecomponentsResponse'
  /storeheaderfooter:
    post:
      tags:
      - Store
      description: ""
      summary: Store Header Footer
      operationId: storeheaderfooter
      produces:
      - application/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/storeheaderfooterRequest'
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/storeheaderfooterResponse'
  /getstorecomponents:
    get:
      tags:
      - Store
      description: ""
      summary: Get Store-Components
      operationId: getstorecomponents
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getstorecomponentsResponse'
  /getsortbyproducts:
    get:
      tags:
      - Product
      description: ""
      summary: Get Sort By Product
      operationId: getsortbyproducts
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getsortbyproductsResponse'
  /getproductsfilter:
    get:
      tags:
      - Filter
      description: ""
      summary: Get Product Filter
      operationId: getproductsfilter
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getproductsfilterResponse'
  /activeapp:
    get:
      tags:
      - Apps
      description: ""
      summary: Get Active App
      operationId: activeapp
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/activeappResponse'
  /getHomePageSeo:
    get:
      tags:
      - HomePageSeo
      description: ""
      summary: Get HomePageSeo
      operationId: getHomePageSeo
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getHomePageSeoResponse'
  /getCopyrights:
    get:
      tags:
      - Copyrights
      description: ""
      summary: Get Copyrights
      operationId: getCopyrights
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getCopyrightsResponse'
  /updateBanner:
    post:
      description: ""
      summary: Update Banner
      operationId: updateBanner
      parameters:
      - description: updateBanner
        in: formData
        name: banner
        required: true
        type: file
      produces:
      - application/json
      consumes:
      - multipart/form-data
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/updateBannerResponse'
      tags:
      - Banner
  /updateBannerData:
    post:
      description: ""
      summary: Update BannerData
      consumes:
      - application/json
      operationId: updateBannerData
      parameters:
      - description: ""
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/updateBannerDataRequest'
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/updateBannerDataResponse'
      tags:
      - Banner
  /addCart:
    post:
      description: ""
      operationId: addCart
      summary: Add Cart
      parameters:
      - description: ""
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/addCartRequest'
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/addCartResponse'
      tags:
      - Cart
  /addCompare:
    post:
      description: ""
      summary: Add to Compare
      operationId: addCompare
      consumes:
      - application/json
      parameters:
      - description: ""
        in: body
        name: product_id
        schema:
          $ref: '#definitions/addCompareRequest'
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/addCompareResponse'
      tags:
      - Compare
  /addWishlist:
    post:
      description: ""
      summary: Add WishList
      operationId: addWishlist
      parameters:
      - description: ""
        in: body
        name: id
        schema:
          $ref: '#definitions/addWishlistRequest'
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/addWishlistResponse'
      tags:
      - WishList
  /categoryPagewidgets:
    get:
      description: ""
      summary: Get category Page Widgets
      operationId: categoryPagewidgets
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/categoryPagewidgetsResponse'
      tags:
      - Pagewidgets
  /checkPincodestatus:
    get:
      description: ""
      summary: Check Pincode Status
      operationId: checkPincodestatus
      parameters:
      - description: ""
        in: body
        name: id
        required: true
        schema:
          $ref: '#/definitions/checkPincodestatusRequest'
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/checkPincodestatusResponse'
      tags:
      - Pincodes
  /compareList:
    get:
      description: ""
      summary: Get Compare List
      operationId: compareList
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/compareListResponse'
      tags:
      - Compare
  /deleteBanner:
    post:
      description: ""
      summary: Delete Banner
      operationId: deleteBanner
      tags:
      - Banner
      produces:
      - application/json
      parameters:
      - name: id
        in: body
        required: true
        schema:
          $ref: '#/definitions/deleteBannerRequest'
      responses:
        200:
          description: Banner Deleted Successfully
          schema:
            $ref: '#/definitions/deleteBannerResponse'
  /discountedProducts:
    get:
      description: ""
      summary: Get Discounted Product
      operationId: discountedProducts
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/discountProductsResponse'
      tags:
      - Product
  /facebookFan:
    get:
      description: ""
      summary: Get Facebook Fans
      operationId: facebookFan
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/facebookFanResponse'
      tags:
      - FacebookFan
  /faviconImage:
    post:
      description: ""
      summary: Add Favicon Image
      operationId: faviconImage
      consumes:
      - multipart/form-data
      parameters:
      - description: ""
        in: formData
        name: config_icon
        required: true
        type: file
      produces:
      - text
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/faviconImageResponse'
      tags:
      - Favicon Image
  /getBlogs:
    get:
      description: ""
      summary: Get Blogs
      operationId: getBlogs
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getBlogsResponse'
      tags:
      - Blogs
  /getCart:
    get:
      description: ""
      operationId: getCart
      summary: Get Cart
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getCartResponse'
      tags:
      - Cart
  /getCurrency:
    get:
      description: ""
      summary: Get Currency
      operationId: getCurrency
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getCurrencyResponse'
      tags:
      - Currency
  /getInstagramfeed:
    get:
      description: ""
      summary: Get Instagram Feed
      operationId: getInstagramfeed
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getInstagramFeedResponse'
      tags:
      - Instagram
  /getSociallogin:
    get:
      description: ""
      summary: Get Social Login
      operationId: getSociallogin
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getSocialloginResponse'
      tags:
      - Social Login
  /getTestimonials:
    get:
      description: ""
      summary: Get Testimonials
      operationId: getTestimonials
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/getTestimonialsResponse'
      tags:
      - Testimonials
  /imageDimensions:
    get:
      description: ""
      summary: Get Image Dimensions
      operationId: imageDimensions
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/imageDimensionsResponse'
      tags:
      - Image Dimensions
  /latestProducts:
    get:
      description: ""
      summary: Get Latest Products
      operationId: latestProducts
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/latestProductsResponse'
      tags:
      - Product
  /othersAlsoBought:
    get:
      description: Get Others Also Bought Products
      summary: Others Also Bouoght
      operationId: othersAlsoBought
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/othersAlsoBoughtResponse'
      tags:
      - Products
  /productFilter:
    get:
      description: ""
      summary: Get Product Filter
      operationId: productFilter
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/productFilterResponse'
      tags:
      - Filter
  /productPageListofApp:
    get:
      description: ""
      operationId: productPageListofApp
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/productPageListofAppResponse'
      tags:
      - productPageListofApp
  /productRatingdicount:
    get:
      description: ""
      operationId: productRatingdicount
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/productRatingdiscountResponse'
      tags:
      - productRatingdicount
  /scrollTotop:
    post:
      consumes:
      - multipart/form-data
      description: ""
      operationId: scrollTotop
      parameters:
      - description: ""
        in: formData
        name: config_bottomtotop_height
        type: integer
        required: false
      - description: ""
        in: formData
        name: config_bottomtotop_status
        type: integer
        required: true
      - description: ""
        in: formData
        name: config_bottomtotop_width
        type: integer
        required: false
      - description: ""
        in: formData
        name: config_bottomtotop_image
        type: file
        required: false
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/scrollTotopResponse'
      tags:
      - scrollTotop
  /setCurrency:
    post:
      consumes:
      - application/json
      description: ""
      operationId: setCurrency
      parameters:
      - description: ""
        in: body
        name: currency_code
        schema:
          $ref: '#/definitions/setCurrencyRequest'
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/setCurrencyResponse'
      tags:
      - setCurrency
  /showcase:
    get:
      description: ""
      operationId: showcase
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/showcaseResponse'
      tags:
      - showcase
  /soldoutImage:
    post:
      description: ""
      operationId: soldoutImage
      consumes:
      - multipart/form-data
      parameters:
      - description: ""
        in: formData
        name: config_soldout_image
        required: true
        type: file
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/soldoutImageResponse'
      tags:
      - soldoutImage
  /subscription:
    get:
      description: ""
      operationId: subscription
      parameters:
      - description: ""
        in: body
        name: email
        schema:
          $ref: '#/definitions/subscriptionRequest'
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/subscriptionResponse'
      tags:
      - subscription
  /twitterFeed:
    get:
      description: ""
      operationId: twitterFeed
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/twitterFeedResponse'
      tags:
      - twitterFeed
  /uploadImage:
    post:
      description: ""
      operationId: uploadImage
      consumes:
      - multipart/form-data
      parameters:
      - description: ""
        in: formData
        name: image
        required: true
        type: file
      produces:
      - application/json
      responses:
        200:
          description: Request successfully sent
          schema:
            $ref: '#/definitions/uploadImageResponse'
      tags:
      - uploadImage
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":96:{s:19:\"getCategoryResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"Get
  Category\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";O:8:\"stdClass\":4:{s:2:\"id\";i:1;s:4:\"name\";s:11:\"Accessories\";s:11:\"description\";s:0:\"\";s:4:\"href\";s:74:\"http://saahil.kartrocket.co/index.php?route=product/category&category_id=1\";}}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:8:\"category\";}}s:18:\"categoriesResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:14:\"Get
  Categories\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";O:8:\"stdClass\":4:{s:2:\"id\";i:1;s:4:\"name\";s:11:\"Accessories\";s:11:\"description\";s:0:\"\";s:4:\"href\";s:74:\"http://saahil.kartrocket.co/index.php?route=product/category&category_id=1\";}}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:8:\"category\";}}s:18:\"getProductResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"Get
  Products\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";O:8:\"stdClass\":4:{s:2:\"id\";i:1;s:4:\"name\";s:11:\"Accessories\";s:11:\"description\";s:0:\"\";s:4:\"href\";s:74:\"http://saahil.kartrocket.co/index.php?route=product/category&category_id=1\";}}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:8:\"category\";}}s:19:\"getProductsResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"Get
  Products\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";O:8:\"stdClass\":4:{s:2:\"id\";i:1;s:4:\"name\";s:11:\"Accessories\";s:11:\"description\";s:0:\"\";s:4:\"href\";s:74:\"http://saahil.kartrocket.co/index.php?route=product/category&category_id=1\";}}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:8:\"category\";}}s:14:\"searchResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"Get
  Products\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";O:8:\"stdClass\":4:{s:2:\"id\";i:1;s:4:\"name\";s:11:\"Accessories\";s:11:\"description\";s:0:\"\";s:4:\"href\";s:74:\"http://saahil.kartrocket.co/index.php?route=product/category&category_id=1\";}}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:8:\"category\";}}s:17:\"addProductRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"Get
  Products\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  Name\";s:7:\"example\";s:5:\"Jeans\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Product
  description\";s:7:\"example\";s:16:\"New Design Jeans\";}s:10:\"meta_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Product
  Meta Title\";}s:16:\"meta_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Product
  Meta Description\";}s:12:\"meta_keyword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Product
  meta keyword\";}s:12:\"manufacturer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"manufacturer\";}s:3:\"sku\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Unique
  SKU of product\";s:7:\"example\";s:4:\"SKU1\";}s:5:\"model\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Product
  model\";s:7:\"example\";s:2:\"X1\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:20:\"Product
  Price in INR\";s:7:\"example\";s:4:\"1000\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:16:\"Product
  quantity\";s:7:\"example\";s:2:\"10\";}s:8:\"shipping\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"provided
  or not (0/1)\";s:7:\"example\";s:1:\"1\";}s:8:\"subtract\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Subtract
  or not (0/1)\";s:7:\"example\";s:1:\"1\";}s:5:\"image\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"image
  path\";s:7:\"example\";s:27:\"data/product_main_image.jpg\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"available
  or not (0/1)\";s:7:\"example\";s:1:\"1\";}s:7:\"keyword\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  Name\";s:7:\"example\";s:0:\"\";}s:3:\"upc\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"UPC\";s:7:\"example\";s:9:\"893789939\";}s:4:\"asin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"ASIN\";s:7:\"example\";s:11:\"DFJ788H8D8H\";}s:4:\"isbn\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"ISBN\";s:7:\"example\";s:8:\"33289793\";}s:3:\"ean\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"EAN\";s:7:\"example\";s:7:\"8612368\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Product
  weight\";s:7:\"example\";s:1:\"2\";}s:6:\"length\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Product
  Length\";s:7:\"example\";s:2:\"10\";}s:5:\"width\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Product
  width\";s:7:\"example\";s:2:\"20\";}s:6:\"height\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Product
  height\";s:7:\"example\";s:1:\"5\";}s:12:\"tax_class_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"tax
  class id\";s:7:\"example\";s:1:\"9\";}s:15:\"download_images\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"download
  images (0/1)\";s:7:\"example\";s:1:\"1\";}s:13:\"product_image\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"Product
  image paths\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:4:{i:0;s:24:\"data/product_image_1.jpg\";i:1;s:24:\"data/product_image_2.jpg\";i:2;s:24:\"data/product_image_3.jpg\";i:3;s:24:\"data/product_image_n.jpg\";}}s:14:\"product_option\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:15:\"Product
  Options\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"Option One\";a:2:{i:0;O:8:\"stdClass\":5:{s:11:\"option_name\";s:16:\"Option
  1 value 1\";s:8:\"quantity\";s:2:\"10\";s:10:\"option_sku\";s:4:\"OOV1\";s:6:\"weight\";s:3:\"0.4\";s:8:\"subtract\";s:1:\"1\";}i:1;O:8:\"stdClass\":5:{s:11:\"option_name\";s:16:\"Option
  1 value 2\";s:8:\"quantity\";s:1:\"5\";s:10:\"option_sku\";s:4:\"OOV2\";s:6:\"weight\";s:3:\"1.2\";s:8:\"subtract\";s:1:\"0\";}}s:10:\"Option
  Two\";a:2:{i:0;O:8:\"stdClass\":5:{s:11:\"option_name\";s:16:\"Option 2 value 1\";s:8:\"quantity\";s:2:\"10\";s:10:\"option_sku\";s:4:\"OTV1\";s:6:\"weight\";s:3:\"0.4\";s:8:\"subtract\";s:1:\"1\";}i:1;O:8:\"stdClass\":5:{s:11:\"option_name\";s:16:\"Option
  2 value 2\";s:8:\"quantity\";s:1:\"5\";s:10:\"option_sku\";s:3:\"OV2\";s:6:\"weight\";s:3:\"1.2\";s:8:\"subtract\";s:1:\"1\";}}}}s:17:\"product_attribute\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"Product
  attributes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":3:{s:5:\"group\";s:17:\"Attribute
  Group 1\";s:4:\"name\";s:11:\"Attribute 1\";s:11:\"description\";s:17:\"Attribute
  Value 1\";}i:1;O:8:\"stdClass\":3:{s:5:\"group\";s:17:\"Attribute Group 2\";s:4:\"name\";s:11:\"Attribute
  2\";s:11:\"description\";s:17:\"Attribute Value 2\";}}}s:16:\"product_category\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"Product
  category\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:3:{i:0;s:25:\"Category
  One>Category Two\";i:1;s:27:\"Category One>Category Three\";i:2;s:13:\"Category
  Four\";}}}}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:18:\"addProductResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"Add
  Product response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:13:\"product_added\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"151\";}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:13:\"product_added\";}}s:16:\"addToCartRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:11:\"Addnto
  cart\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"payload\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"products\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":2:{s:10:\"product_id\";i:1;s:8:\"quantity\";i:1;}}}}}}s:8:\"required\";a:1:{i:0;s:7:\"payload\";}}s:17:\"addToCartResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"addToCartRequest\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:64:\"Success:
  You have added Product 1</a> to your shopping cart</a>!\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"1
  item(s) - Rs.10\";}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:5:\"total\";}}s:16:\"viewCartResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:17:\"View
  Cart details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:8:\"products\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":11:{s:10:\"product_id\";i:1;s:3:\"key\";i:1;s:5:\"thumb\";s:267:\"http://res.cloudinary.com/kartrocket/image/fetch/w_250,q_80,h_150,c_pad,b_white,f_auto,fl_progressive/http%3A%2F%2Fkartrocket-mtp.s3.amazonaws.com%2Fall-
  \    stores%2Fimage_anchal%2Fdata%2Flogo%2F11474109494709-Aurelia-Yellow-Woven-Design-Kurta-3291474109494344-1.jpg\";s:4:\"name\";s:9:\"Product
  1\";s:5:\"model\";s:2:\"P1\";s:3:\"sku\";s:9:\"GY893D832\";s:6:\"option\";a:0:{}s:8:\"quantity\";s:1:\"1\";s:5:\"stock\";b:1;s:5:\"price\";s:4:\"1000\";s:5:\"total\";s:4:\"1000\";}}}s:6:\"totals\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":5:{s:4:\"code\";s:9:\"sub_total\";s:5:\"title\";s:9:\"Sub-Total\";s:4:\"text\";s:5:\"Rs.10\";s:5:\"value\";i:10;s:10:\"sort_order\";s:1:\"1\";}i:1;O:8:\"stdClass\":5:{s:4:\"code\";s:9:\"sub_total\";s:5:\"title\";s:9:\"Sub-Total\";s:4:\"text\";s:5:\"Rs.10\";s:5:\"value\";i:10;s:10:\"sort_order\";s:1:\"1\";}}}}s:8:\"required\";a:3:{i:0;s:7:\"success\";i:1;s:8:\"products\";i:2;s:6:\"totals\";}}s:16:\"remProApiRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"rem
  Product Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"remproapi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"product\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";}}}}}s:17:\"remProApiResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"rem
  Product Response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"success\";b:1;}}s:3:\"msg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"Removed
  Successfully\";}}}s:17:\"emptyCartResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"Empty
  Cart Response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"success\";b:1;}}s:3:\"msg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Cart
  Empty\";}}}s:19:\"updateStokeResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"Empty
  Cart Response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"success\";b:1;}}s:3:\"msg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:34:\"Product
  with mentioned SKU updated\";}}}s:18:\"bestSellerResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"Best
  Seller Response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"success\";b:1;}}s:10:\"bestseller\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":12:{s:10:\"product_id\";s:1:\"8\";s:5:\"model\";s:2:\"P8\";s:3:\"SKU\";s:2:\"P8\";s:4:\"name\";s:9:\"Product
  8\";s:5:\"thumb\";s:193:\"http://res.cloudinary.com/kartrocket/image/fetch/w_300,q_80,h_500,c_pad,b_white,f_auto,fl_progressive/http%3A%2F%2Fkartrocket-
  mtp.s3.amazonaws.com%2Fall-stores%2Fimage_anchal%2Fdata%2Fnew8.jpg\";s:10:\"zoom_thumb\";s:76:\"http://kartrocket-mtp.s3.amazonaws.com/all-stores/image_anchal/data/new8.jpg\";s:11:\"description\";s:24:\"This
  is a Test Product..\";s:5:\"price\";s:8:\"Rs.1,000\";s:7:\"special\";s:6:\"Rs.750\";s:3:\"tax\";b:0;s:8:\"quantity\";s:1:\"0\";s:6:\"status\";s:1:\"1\";}}}}}s:12:\"loginRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Login
  Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"abcd@xyz.com\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"doDOJk332\";}}}s:13:\"loginResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:14:\"Login
  Response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:8:\"customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"customer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"60\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"John\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Doe\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"abcd@gmail.com\";}s:9:\"telephone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"1234567890\";}s:6:\"mobile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"0987654321\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";}s:10:\"date_added\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2016-11-16
  07:12:14\";}s:16:\"date_last_action\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2016-11-16
  07:12:14\";}}}}}s:15:\"registerRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"Register
  Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"email\";i:1;s:8:\"password\";i:2;s:9:\"firstname\";}}s:16:\"registerResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"Register
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:8:\"customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"60\";}}}s:20:\"listCurrencyResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:22:\"List
  Currency response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"GBP\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"GBP\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Pound
  Sterling\";}s:11:\"symbol_left\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"\xA3\";}s:12:\"symbol_right\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"@\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"0.01190000\";}}}s:3:\"USD\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"USD\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"US
  Dollar\";}s:11:\"symbol_left\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"$\";}s:12:\"symbol_right\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"@\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"0.01470000\";}}}s:3:\"INR\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"INR\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Indian
  Rupee\";}s:11:\"symbol_left\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Rs.\";}s:12:\"symbol_right\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"1.000000\";}}}}}}}s:22:\"convertCurrencyRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"Convert
  Currency request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"43\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"USD\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"USD\";}}}s:23:\"convertCurrencyResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Convert
  Currency response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"134.893781312\";}}}s:19:\"updateStockResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:27:\"Update
  product option stock\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"addOrderRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"add
  order request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":26:{s:15:\"import_order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"channel_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"address_1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"telephone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"payment_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"payment_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"shipping_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"shipping_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"order_status_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"products\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":9:{s:4:\"name\";s:16:\"Apple
  iPhone 4Sx\";s:5:\"model\";s:6:\"MB0010\";s:3:\"sku\";s:6:\"MB0010\";s:8:\"quantity\";i:1;s:8:\"subtract\";i:1;s:5:\"price\";i:145;s:5:\"total\";i:145;s:3:\"tax\";d:6.9047619047618998;s:6:\"reward\";i:0;}i:1;O:8:\"stdClass\":9:{s:4:\"name\";s:15:\"Apple
  iPhone 4C\";s:5:\"model\";s:6:\"MB0011\";s:3:\"sku\";s:6:\"MB0011\";s:8:\"quantity\";i:1;s:8:\"subtract\";i:1;s:5:\"price\";i:149;s:5:\"total\";i:149;s:3:\"tax\";d:6.9047619047618998;s:6:\"reward\";i:0;}}}s:6:\"totals\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"handling\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"low_order_fee\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"sub_total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"weight_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:16:\"addOrderResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"Order
  added Successfully\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"order_added\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:16:\"getOrderResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Order
  fetched succesfully\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"orders\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"properties\";O:8:\"stdClass\":53:{s:8:\"order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"invoice_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"store_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"telephone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"shipping_lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"shipping_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"shipping_postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"shipping_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"order_total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"entered_weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"routing_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"date_added\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"import_order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"order_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"order_status_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"payment_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"product_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"product_price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"product_tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tax_class\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"option\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"option_value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"courier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"awb_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"coupon_total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ebs_emi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ebs_emi_fee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"payment_fee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"store_credit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"handling\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"low_order_fee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"shipping\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"sub_total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"transaction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"voucher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"option_sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"couponResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"List
  of coupons available\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"coupon_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"discount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"date_start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"date_end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:18:\"orderCountResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Order
  fetched succesfully\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"success_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"success_sale\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:20:\"productCountResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Order
  fetched succesfully\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"addChannelProductRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Order
  fetched succesfully\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"channel_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"kartrocket_product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"kartrocket_product_sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"channel_product_sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:25:\"addChannelProductResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Order
  fetched succesfully\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"channel_product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"getChannelProductResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Order
  fetched succesfully\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:18:\"channel_product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"channel_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"channel_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"kartrocket_product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"kartrocket_product_sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"channel_product_sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"channel_price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"option_quanity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"option_price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"option_sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"date_added\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:19:\"updateOrderResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:30:\"Json
  response of update Orders\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"order_update\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:27:\"getInformationPagesResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:22:\"Status
  of request sent\";s:7:\"example\";b:1;}s:12:\"Informations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";a:4:{i:0;O:8:\"stdClass\":4:{s:2:\"id\";i:4;s:11:\"description\";s:352:\"All
  information, products and services displayed on the {store_url} website constitute
  an &quot;invitation to offer&quot;. Your order for purchase constitutes your &quot;offer&quot;
  which shall be subject to the terms and conditions as listed below. {store_url}
  website has the right to accept or reject your offer without assigning any reason
  thereof.\";s:5:\"title\";s:18:\"Terms & Conditions\";s:4:\"href\";s:52:\"http://webbuilder.kartrocket.co/terms-and-conditions\";}i:1;O:8:\"stdClass\":4:{s:2:\"id\";i:6;s:11:\"description\";s:179:\"<b>Domestic
  Shipping:</b><br />\r\n\t<br />\r\n\t<span><u>WE OFFER FREE SHIPPING ANYWHERE IN
  INDIA</u></span></span> <span>Please allow 1-3 working days for your order to be
  dispatched.\";s:5:\"title\";s:20:\"Shipping and Returns\";s:4:\"href\";s:52:\"http://webbuilder.kartrocket.co/shipping-and-returns\";}i:2;O:8:\"stdClass\":4:{s:2:\"id\";i:8;s:11:\"description\";s:309:\"<span><b>We
  protect your\r\nprivacy.</b><span><br>\r\nOur privacy policy\r\nis simple: any information
  you give us stays with us. We do not rent, sell,\r\nlend, or otherwise distribute
  your personal information to anyone for any\r\nreason. This includes your contact
  information, as well as specific order\r\ninformation.\";s:5:\"title\";s:14:\"Privacy
  Policy\";s:4:\"href\";s:46:\"http://webbuilder.kartrocket.co/privacy-policy\";}i:3;O:8:\"stdClass\":4:{s:2:\"id\";i:10;s:11:\"description\";s:31:\"Enter
  your affiliate terms here\";s:5:\"title\";s:15:\"Affiliate Terms\";s:4:\"href\";s:47:\"http://webbuilder.kartrocket.co/affiliate-terms\";}}}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"Count
  of returned pages\";s:7:\"example\";i:4;}}}s:15:\"getMenuResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"json
  encoded array data\";s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":5:{s:2:\"id\";i:12;s:4:\"name\";s:10:\"Category
  1\";s:8:\"children\";a:2:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";i:2;s:4:\"name\";s:13:\"SubCategory
  1\";s:4:\"href\";s:57:\"http://webbuilder.kartrocket.co/category-1/sub-category-a\";}i:1;O:8:\"stdClass\":3:{s:2:\"id\";i:4;s:4:\"name\";s:13:\"SubCategory
  2\";s:4:\"href\";s:57:\"http://webbuilder.kartrocket.co/category-1/sub-category-b\";}}s:6:\"column\";i:1;s:4:\"href\";s:42:\"http://webbuilder.kartrocket.co/category-1\";}}}s:7:\"setting\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"setting
  values\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"orientation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"layout\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:21:\"storeLocationResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:13:\"storelocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";O:8:\"stdClass\":7:{s:10:\"store_name\";s:10:\"Webbuilder\";s:11:\"store_owner\";s:8:\"Shashank\";s:15:\"store_address_2\";s:0:\"\";s:15:\"store_address_1\";s:0:\"\";s:10:\"store_city\";s:0:\"\";s:14:\"store_postcode\";s:0:\"\";s:15:\"store_telephone\";s:10:\"8800091852\";}}}}s:27:\"storePaymentmethodsResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:14:\"paymentmethods\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"free_checkout\";O:8:\"stdClass\":3:{s:4:\"code\";s:13:\"free_checkout\";s:5:\"title\";s:13:\"Free
  checkout\";s:10:\"sort_order\";s:1:\"1\";}}}}}s:19:\"storeFooterResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Information\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"Terms
  and Conditions\";s:4:\"href\";s:52:\"http://webbuilder.kartrocket.co/terms-and-conditions\";}i:1;O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"Shipping
  and Returns\";s:4:\"href\";s:52:\"http://webbuilder.kartrocket.co/shipping-and-returns\";}i:2;O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"Privacy
  Policy\";s:4:\"href\";s:46:\"http://webbuilder.kartrocket.co/privacy-policy\";}}}s:16:\"customer
  service\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";a:4:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"Contact
  Us\";s:4:\"href\";s:42:\"http://webbuilder.kartrocket.co/contact-us\";}i:1;O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"Returns\";s:4:\"href\";s:38:\"http://webbuilder.kartrocket.co/return\";}i:2;O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"Site
  Map\";s:4:\"href\";s:39:\"http://webbuilder.kartrocket.co/sitemap\";}i:3;O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Gift
  Vouchers\";s:4:\"href\";s:39:\"http://webbuilder.kartrocket.co/voucher\";}}}s:6:\"Extras\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";a:4:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Tell
  a Friend\";s:4:\"href\";s:45:\"http://webbuilder.kartrocket.co/tell-a-friend\";}i:1;O:8:\"stdClass\":2:{s:5:\"title\";s:6:\"Brands\";s:4:\"href\";s:44:\"http://webbuilder.kartrocket.co/manufacturer\";}i:2;O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"Affiliates\";s:4:\"href\";s:49:\"http://webbuilder.kartrocket.co/affiliate-account\";}i:3;O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"Specials\";s:4:\"href\";s:40:\"http://webbuilder.kartrocket.co/specials\";}}}s:10:\"my
  account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";a:5:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"My
  Account\";s:4:\"href\";s:42:\"http://webbuilder.kartrocket.co/my-account\";}i:1;O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Order
  History\";s:4:\"href\";s:41:\"http://webbuilder.kartrocket.co/my-orders\";}i:2;O:8:\"stdClass\":2:{s:5:\"title\";s:9:\"Wish
  List\";s:4:\"href\";s:40:\"http://webbuilder.kartrocket.co/wishlist\";}i:3;O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"Newsletter\";s:4:\"href\";s:42:\"http://webbuilder.kartrocket.co/newsletter\";}i:4;O:8:\"stdClass\":2:{s:5:\"title\";s:11:\"Track
  Order\";s:4:\"href\";s:61:\"http://webbuilder.kartrocket.co/index.php?route=account/track\";}}}}}s:10:\"copyrights\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"KARTROCKET.COM\";}}}s:19:\"getWishlistResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"data
  not found\";}s:8:\"wishlist\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";a:0:{}}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}}}s:17:\"getBannerResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:7:\"banners\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":5:{s:2:\"id\";s:1:\"7\";s:5:\"title\";s:7:\"banner1\";s:4:\"link\";s:25:\"category-1/sub-category-a\";s:5:\"image\";s:38:\"data/banners/main-banner-970x376-1.jpg\";s:5:\"thumb\";s:155:\"http://res.cloudinary.com/kartrocket/image/fetch//http://kartrocket-mtp.s3.amazonaws.com/all-stores/image_webbuilder/data/banners/main-banner-970x376-1.jpg\";}i:1;O:8:\"stdClass\":5:{s:2:\"id\";s:1:\"8\";s:5:\"title\";s:7:\"banner2\";s:4:\"link\";s:27:\"category-2/sub-category-a-5\";s:5:\"image\";s:36:\"data/banners/main-banner-970x376.jpg\";s:5:\"thumb\";s:153:\"http://res.cloudinary.com/kartrocket/image/fetch//http://kartrocket-mtp.s3.amazonaws.com/all-stores/image_webbuilder/data/banners/main-banner-970x376.jpg\";}}}s:7:\"setting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"banner_slide_autoplay\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";}s:23:\"banner_slide_transition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"slideleft\";}s:22:\"banner_transition_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:3000;}s:14:\"navigator_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"verticalcentered\";}}}}}}}s:22:\"getstaticblockResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"staticblocks\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";O:8:\"stdClass\":2:{s:1:\"1\";O:8:\"stdClass\":7:{s:12:\"module_title\";O:8:\"stdClass\":1:{s:1:\"1\";s:33:\"Image
  banner (position Promotion)\";}s:11:\"description\";O:8:\"stdClass\":1:{s:1:\"1\";s:942:\"&lt;div
  class=&quot;row-fluid&quot;&gt;\r\n&lt;div class=&quot;span6&quot; style=&quot;float:left;margin-right:20px;width:370px&quot;&gt;\r\n&lt;p&gt;&lt;img
  alt=&quot;&quot; src=&quot;http://fashionstyle.kartrocket.co/image_fashionstyle/data/banners/Un66titled.png&quot;
  style=&quot;width: 370px; height: 215px;&quot; /&gt;&lt;/p&gt;\r\n&lt;/div&gt;\r\n\r\n&lt;div
  class=&quot;span6&quot; style=&quot;float:left;margin-right:10px;width:370px&quot;&gt;\r\n&lt;p&gt;&lt;img
  alt=&quot;&quot; src=&quot;http://fashionstyle.kartrocket.co/image_fashionstyle/data/banners/dU2ntitled.png&quot;
  style=&quot;width: 370px; height: 215px;&quot; /&gt;&lt;/p&gt;\r\n&lt;/div&gt;\r\n\r\n&lt;div
  class=&quot;span6&quot; style=&quot;float:left;margin-right:10px;width:370px&quot;&gt;\r\n&lt;p&gt;&lt;img
  alt=&quot;&quot; p=&quot;&quot; src=&quot;http://fashionstyle.kartrocket.co/image_fashionstyle/data/banners/U87ntitled.png&quot;
  /&gt;&lt;/p&gt;\r\n&lt;/div&gt;\r\n&lt;/div&gt;\r\n\";}s:9:\"layout_id\";s:1:\"1\";s:8:\"position\";s:14:\"content_bottom\";s:6:\"status\";s:1:\"0\";s:12:\"module_class\";s:0:\"\";s:10:\"sort_order\";s:1:\"4\";}s:1:\"2\";O:8:\"stdClass\":7:{s:12:\"module_title\";O:8:\"stdClass\":1:{s:1:\"1\";s:0:\"\";}s:11:\"description\";O:8:\"stdClass\":1:{s:1:\"1\";s:384:\"&lt;h3&gt;&amp;nbsp;&lt;/h3&gt;\r\n\r\n&lt;div
  class=&quot;newsletter-submit&quot;&gt;&lt;!--&lt;input alt=&quot;username&quot;
  class=&quot;inputbox&quot; name=&quot;email&quot; size=&quot;31&quot; type=&quot;text&quot;
  value=&quot;Type your email&quot; /&gt;&lt;input class=&quot;button&quot; name=&quot;Submit&quot;
  type=&quot;submit&quot; value=&quot;Go&quot; /&gt;--&gt;&lt;/div&gt;\r\n\";}s:9:\"layout_id\";s:5:\"99999\";s:8:\"position\";s:10:\"footer_top\";s:6:\"status\";s:1:\"0\";s:12:\"module_class\";s:0:\"\";s:10:\"sort_order\";i:2;}}}}}}}s:19:\"getcarouselResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:8:\"accounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Returns
  \"data not found\", if not carousel found in given layout\";s:7:\"example\";s:14:\"data
  not found\";}}}s:18:\"getlayoutsResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"an
  array containing different layout id's and names\";s:7:\"example\";a:48:{i:0;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:1:\"6\";s:4:\"name\";s:7:\"Account\";}i:1;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"47\";s:4:\"name\";s:22:\"Account
  downloads Page\";}i:2;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"46\";s:4:\"name\";s:17:\"Address
  book Page\";}i:3;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"10\";s:4:\"name\";s:9:\"Affiliate\";}i:4;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"43\";s:4:\"name\";s:22:\"Affiliate
  account page\";}i:5;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"41\";s:4:\"name\";s:27:\"Affiliate
  registration page\";}i:6;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"42\";s:4:\"name\";s:35:\"Affiliate
  registration success page\";}i:7;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"24\";s:4:\"name\";s:13:\"Blog
  Category\";}i:8;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"23\";s:4:\"name\";s:9:\"Blog
  Home\";}i:9;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"25\";s:4:\"name\";s:9:\"Blog
  Page\";}i:10;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"53\";s:4:\"name\";s:10:\"Brand
  List\";}i:11;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"52\";s:4:\"name\";s:10:\"Brand
  Page\";}i:12;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"34\";s:4:\"name\";s:4:\"Cart\";}i:13;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:1:\"3\";s:4:\"name\";s:8:\"Category\";}i:14;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"45\";s:4:\"name\";s:20:\"Change
  Password Page\";}i:15;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:1:\"7\";s:4:\"name\";s:8:\"Checkout\";}i:16;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"18\";s:4:\"name\";s:15:\"Checkout
  Sucess\";}i:17;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:1:\"8\";s:4:\"name\";s:7:\"Contact\";}i:18;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"28\";s:4:\"name\";s:15:\"Contact
  Success\";}i:19;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"17\";s:4:\"name\";s:15:\"Deal
  of the day\";}i:20;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:1:\"4\";s:4:\"name\";s:7:\"Default\";}i:21;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"44\";s:4:\"name\";s:29:\"Edit
  account information page\";}i:22;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"15\";s:4:\"name\";s:25:\"Facebook
  Store - Category\";}i:23;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"12\";s:4:\"name\";s:21:\"Facebook
  Store - Home\";}i:24;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"13\";s:4:\"name\";s:24:\"Facebook
  Store - Product\";}i:25;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"14\";s:4:\"name\";s:23:\"Facebook
  Store - Search\";}i:26;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:1:\"1\";s:4:\"name\";s:4:\"Home\";}i:27;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"11\";s:4:\"name\";s:11:\"Information\";}i:28;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"19\";s:4:\"name\";s:10:\"Login
  Page\";}i:29;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"20\";s:4:\"name\";s:11:\"Logout
  Page\";}i:30;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:1:\"5\";s:4:\"name\";s:12:\"Manufacturer\";}i:31;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"51\";s:4:\"name\";s:23:\"Newsletter
  subscription\";}i:32;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"16\";s:4:\"name\";s:11:\"OneCheckOut\";}i:33;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"36\";s:4:\"name\";s:18:\"Order
  History Page\";}i:34;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"37\";s:4:\"name\";s:22:\"Order
  Information Page\";}i:35;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:1:\"2\";s:4:\"name\";s:7:\"Product\";}i:36;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"40\";s:4:\"name\";s:19:\"Product
  Return Page\";}i:37;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"49\";s:4:\"name\";s:22:\"Product
  return request\";}i:38;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"21\";s:4:\"name\";s:17:\"Registration
  Page\";}i:39;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"22\";s:4:\"name\";s:25:\"Registration
  Success Page\";}i:40;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"48\";s:4:\"name\";s:18:\"Rewards
  Point Page\";}i:41;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"26\";s:4:\"name\";s:6:\"Search\";}i:42;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:1:\"9\";s:4:\"name\";s:7:\"Sitemap\";}i:43;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"38\";s:4:\"name\";s:18:\"Special
  Offer Page\";}i:44;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"39\";s:4:\"name\";s:18:\"Tell
  a Friend Page\";}i:45;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"50\";s:4:\"name\";s:16:\"Transaction
  page\";}i:46;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"27\";s:4:\"name\";s:7:\"Voucher\";}i:47;O:8:\"stdClass\":2:{s:9:\"layout_id\";s:2:\"35\";s:4:\"name\";s:9:\"Wish
  List\";}}}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:16:\"count
  of layouts\";s:7:\"example\";i:48;}}}s:17:\"componentsRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:14:\"Add
  components\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"elem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"theme\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:18:\"componentsResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:10:\"components\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Data
  inserted\";}}}s:21:\"getcomponentsResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"elem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"theme\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";a:7:{i:0;O:8:\"stdClass\":6:{s:2:\"id\";s:1:\"2\";s:3:\"url\";s:19:\"/images/Header2.png\";s:4:\"type\";s:6:\"header\";s:4:\"name\";s:8:\"Header
  2\";s:4:\"elem\";s:7:\"header2\";s:5:\"theme\";s:7:\"Fashion\";}i:1;O:8:\"stdClass\":6:{s:2:\"id\";s:1:\"3\";s:3:\"url\";s:19:\"/images/Header3.png\";s:4:\"type\";s:6:\"header\";s:4:\"name\";s:8:\"Header
  3\";s:4:\"elem\";s:7:\"header3\";s:5:\"theme\";s:7:\"Fashion\";}i:2;O:8:\"stdClass\":6:{s:2:\"id\";s:1:\"4\";s:3:\"url\";s:19:\"/images/Header4.png\";s:4:\"type\";s:6:\"header\";s:4:\"name\";s:8:\"Header
  4\";s:4:\"elem\";s:7:\"header4\";s:5:\"theme\";s:7:\"Fashion\";}i:3;O:8:\"stdClass\":6:{s:2:\"id\";s:1:\"5\";s:3:\"url\";s:19:\"/images/Footer1.png\";s:4:\"type\";s:6:\"footer\";s:4:\"name\";s:8:\"Footer
  1\";s:4:\"elem\";s:7:\"footer1\";s:5:\"theme\";s:7:\"Fashion\";}i:4;O:8:\"stdClass\":6:{s:2:\"id\";s:1:\"7\";s:3:\"url\";s:19:\"/images/Banner1.png\";s:4:\"type\";s:6:\"banner\";s:4:\"name\";s:8:\"Banner
  1\";s:4:\"elem\";s:7:\"banner1\";s:5:\"theme\";s:7:\"Fashion\";}i:5;O:8:\"stdClass\":6:{s:2:\"id\";s:1:\"9\";s:3:\"url\";s:23:\"/images/ThreeColumn.png\";s:4:\"type\";s:6:\"static\";s:4:\"name\";s:12:\"Three
  Column\";s:4:\"elem\";s:12:\"three-column\";s:5:\"theme\";s:6:\"Common\";}i:6;O:8:\"stdClass\":6:{s:2:\"id\";s:2:\"10\";s:3:\"url\";s:21:\"/images/TwoColumn.png\";s:4:\"type\";s:6:\"static\";s:4:\"name\";s:10:\"Two
  Column\";s:4:\"elem\";s:10:\"two-column\";s:5:\"theme\";s:6:\"Common\";}}}}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:9;}}}s:18:\"getstoreIDResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:17:\"status
  of request\";}s:8:\"store_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:54312;s:11:\"description\";s:16:\"id
  of your store\";}}}s:22:\"storecomponentsRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"Json
  request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"store_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:54312;}s:9:\"layout_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:12;}}}s:23:\"storecomponentsResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:10:\"components\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"data
  updated!\";}}}s:24:\"storeheaderfooterRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"store_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:54312;}}}s:25:\"storeheaderfooterResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:6:\"header\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"data
  updated!\";}}}s:25:\"getsortbyproductsResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";a:6:{i:0;O:8:\"stdClass\":3:{s:4:\"text\";s:7:\"Default\";s:5:\"value\";s:17:\"p.product_id-DESC\";s:4:\"href\";s:29:\"&sort=p.product_id&order=DESC\";}i:1;O:8:\"stdClass\":3:{s:4:\"text\";s:3:\"New\";s:5:\"value\";s:17:\"p.date_added-DESC\";s:4:\"href\";s:29:\"&sort=p.date_added&order=DESC\";}i:2;O:8:\"stdClass\":3:{s:4:\"text\";s:12:\"Name
  (A - Z)\";s:5:\"value\";s:11:\"pd.name-ASC\";s:4:\"href\";s:23:\"&sort=pd.name&order=ASC\";}i:3;O:8:\"stdClass\":3:{s:4:\"text\";s:12:\"Name
  (Z - A)\";s:5:\"value\";s:12:\"pd.name-DESC\";s:4:\"href\";s:24:\"&sort=pd.name&order=DESC\";}i:4;O:8:\"stdClass\":3:{s:4:\"text\";s:18:\"Price
  (Low > High)\";s:5:\"value\";s:11:\"p.price-ASC\";s:4:\"href\";s:23:\"&sort=p.price&order=ASC\";}i:5;O:8:\"stdClass\":3:{s:4:\"text\";s:18:\"Price
  (High > Low)\";s:5:\"value\";s:12:\"p.price-DESC\";s:4:\"href\";s:24:\"&sort=p.price&order=DESC\";}}}}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:6;}}}s:26:\"getstorecomponentsResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"store_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"layout_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":4:{s:3:\"cid\";i:4;s:4:\"type\";s:6:\"header\";s:4:\"elem\";s:7:\"header4\";s:4:\"data\";a:0:{}}i:1;O:8:\"stdClass\":4:{s:3:\"cid\";i:5;s:4:\"type\";s:6:\"footer\";s:4:\"elem\";s:7:\"footer1\";s:4:\"data\";a:0:{}}i:2;O:8:\"stdClass\":22:{s:13:\"heading1Color\";s:4:\"#000\";s:13:\"heading2Color\";s:4:\"#000\";s:13:\"heading3Color\";s:4:\"#000\";s:14:\"pageLinksColor\";s:7:\"#2f2b2b\";s:13:\"bodyTextColor\";s:4:\"#000\";s:13:\"saleTextColor\";s:3:\"red\";s:11:\"borderColor\";s:4:\"#eee\";s:12:\"buttonColor1\";s:4:\"#fff\";s:12:\"buttonColor2\";s:4:\"#000\";s:16:\"buttonTextColor1\";s:4:\"#000\";s:16:\"buttonTextColor2\";s:4:\"#fff\";s:12:\"sbuttonColor\";s:4:\"#fff\";s:16:\"sbuttonTextColor\";s:4:\"#000\";s:14:\"textFieldColor\";s:4:\"#fff\";s:18:\"textFieldTextColor\";s:4:\"#ddd\";s:13:\"showAddToCart\";b:1;s:16:\"showAddToCompare\";b:1;s:17:\"showAddToWishlist\";b:1;s:14:\"showStarRating\";b:1;s:22:\"showDiscountPercentage\";b:1;s:5:\"font1\";O:8:\"stdClass\":2:{s:6:\"family\";s:10:\"Montserrat\";s:8:\"category\";s:10:\"sans-serif\";}s:5:\"font2\";O:8:\"stdClass\":2:{s:6:\"family\";s:10:\"Montserrat\";s:8:\"category\";s:10:\"sans-serif\";}}}}}}}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}}}s:25:\"getproductsfilterResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":40:{s:9:\"speedmenu\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"spepedresults\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"see_more_trigger\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"count_products\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"nofollow\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"track_google\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"is_ajax\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"menu_filters\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"values_selected\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"values_no_selected\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"categories\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"heading_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"see_more_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"remove_filter_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"pricerange_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"no_data_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"manufacturer_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"category_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"search_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"search_filter_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"entry_selected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"entry_select_filter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"txt_select_on_select\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"category_style\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"isset_subcategories\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"price_range_is_not_selected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"price_range_script\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:29:\"values_no_selected_categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:26:\"values_selected_categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"MaxPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"MinPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"intivalprice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"SymbolLeft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SymbolRight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"price_view\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PriceUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"PriceAjaxUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"array_prices_values\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"prices\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"intMax\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"intMin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:16:\"ajex_category_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:17:\"activeappResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"setting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"image_width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"image_height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"layout_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sort_order\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"uninstall\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:22:\"getHomePageSeoResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
  response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"meta_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"meta_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"meta_keyword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:21:\"getCopyrightsResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Json
[...]
