---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:60:\"An
  API to enable creating and using machine learning models.\";s:5:\"title\";s:36:\"Google
  Cloud Machine Learning Engine\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:16:\"machine_learning\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:52:\"https://ml.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:2:\"ml\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"google_ml\";s:4:\"type\";s:7:\"openapi\";}}"
host: ml.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":37:{s:19:\"GoogleApi__HttpBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:1267:\"Message
  that represents an arbitrary HTTP body. It should only be used for\npayload formats
  that can't be represented as JSON, such as raw binary or\nan HTML page.\n\n\nThis
  message can be used both in streaming and non-streaming API methods in\nthe request
  as well as the response.\n\nIt can be used as a top-level request field, which is
  convenient if one\nwants to extract parameters from either the URL or HTTP template
  into the\nrequest fields and also want access to the raw HTTP body.\n\nExample:\n\n
  \   message GetResourceRequest {\n      // A unique request id.\n      string request_id
  = 1;\n\n      // The raw HTTP body is bound to this field.\n      google.api.HttpBody
  http_body = 2;\n    }\n\n    service ResourceService {\n      rpc GetResource(GetResourceRequest)
  returns (google.api.HttpBody);\n      rpc UpdateResource(google.api.HttpBody) returns
  (google.protobuf.Empty);\n    }\n\nExample with streaming methods:\n\n    service
  CaldavService {\n      rpc GetCalendar(stream google.api.HttpBody)\n        returns
  (stream google.api.HttpBody);\n      rpc UpdateCalendar(stream google.api.HttpBody)\n
  \       returns (stream google.api.HttpBody);\n    }\n\nUse of this type only changes
  how the request and response bodies are\nhandled, all other features will continue
  to work unchanged.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  HTTP Content-Type string representing the content type of the body.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"HTTP
  body binary data.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:10:\"extensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Application
  specific response metadata. Must be set in the first response\nfor streaming APIs.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:57:\"GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  observed value of a metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"objectiveValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  objective value at this training step.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"trainingStep\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  global training step for this metric.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GoogleCloudMlV1__AutoScaling\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Options
  for automatically scaling a model.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"minNodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:993:\"Optional.
  The minimum number of nodes to allocate for this model. These\nnodes are always
  up, starting from the time the model is deployed, so the\ncost of operating this
  model will be at least\n`rate` * `min_nodes` * number of hours since last billing
  cycle,\nwhere `rate` is the cost per node-hour as documented in\n[pricing](https://cloud.google.com/ml-engine/pricing#prediction_pricing),\neven
  if no predictions are performed. There is additional cost for each\nprediction performed.\n\nUnlike
  manual scaling, if the load gets too heavy for the nodes\nthat are up, the service
  will automatically add nodes to handle the\nincreased load as well as scale back
  as traffic drops, always maintaining\nat least `min_nodes`. You will be charged
  for the time in which additional\nnodes are used.\n\nIf not specified, `min_nodes`
  defaults to 0, in which case, when traffic\nto a model stops (and after a cool-down
  period), nodes will be shut down\nand no charges will be incurred until traffic
  to the model resumes.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GoogleCloudMlV1__CancelJobRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Request
  message for the CancelJob method.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"GoogleCloudMlV1__Capability\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"availableAccelerators\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Available
  accelerators for the capability.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:28:\"ACCELERATOR_TYPE_UNSPECIFIED\";i:1;s:16:\"NVIDIA_TESLA_K80\";i:2;s:17:\"NVIDIA_TESLA_P100\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:8:\"TRAINING\";i:2;s:16:\"BATCH_PREDICTION\";i:3;s:17:\"ONLINE_PREDICTION\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"GoogleCloudMlV1__GetConfigResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Returns
  service account information associated with a project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"serviceAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  service account Cloud ML uses to access resources in the project.\";s:4:\"type\";s:6:\"string\";}s:21:\"serviceAccountProject\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  project number for `service_account`.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GoogleCloudMlV1__HyperparameterOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:275:\"Represents
  the result of a single hyperparameter tuning trial from a\ntraining job. The TrainingOutput
  object that is returned on successful\ncompletion of a training job with hyperparameter
  tuning includes a list\nof HyperparameterOutput objects, one for each successful
  trial.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"allMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"All
  recorded object metrics for this trial. This field is not currently\npopulated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:71:\"#/definitions/GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric\";}s:4:\"type\";s:5:\"array\";}s:11:\"finalMetric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:71:\"#/definitions/GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric\";s:11:\"description\";s:47:\"The
  final objective metric seen for this trial.\";}s:15:\"hyperparameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:40:\"The
  hyperparameters given to this trial.\";s:4:\"type\";s:6:\"object\";}s:7:\"trialId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  trial id for these results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"GoogleCloudMlV1__HyperparameterSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  a set of hyperparameters to optimize.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"goal\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Required.
  The type of goal to use for tuning. Available types are\n`MAXIMIZE` and `MINIMIZE`.\n\nDefaults
  to `MAXIMIZE`.\";s:4:\"enum\";a:3:{i:0;s:21:\"GOAL_TYPE_UNSPECIFIED\";i:1;s:8:\"MAXIMIZE\";i:2;s:8:\"MINIMIZE\";}s:4:\"type\";s:6:\"string\";}s:23:\"hyperparameterMetricTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:340:\"Optional.
  The Tensorflow summary tag name to use for optimizing trials. For\ncurrent versions
  of Tensorflow, this tag name should exactly match what is\nshown in Tensorboard,
  including all scopes.  For versions of Tensorflow\nprior to 0.12, this should be
  only the tag passed to tf.Summary.\nBy default, \"training/hptuning/metric\" will
  be used.\";s:4:\"type\";s:6:\"string\";}s:17:\"maxParallelTrials\";O:8:\"stdClass\":3:{s:11:\"description\";s:472:\"Optional.
  The number of training trials to run concurrently.\nYou can reduce the time it takes
  to perform hyperparameter tuning by adding\ntrials in parallel. However, each trail
  only benefits from the information\ngained in completed trials. That means that
  a trial does not get access to\nthe results of trials running at the same time,
  which could reduce the\nquality of the overall optimization.\n\nEach trial will
  use the same scale tier and machine types.\n\nDefaults to one.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"maxTrials\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Optional.
  How many training trials should be attempted to optimize\nthe specified hyperparameters.\n\nDefaults
  to one.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"params\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Required.
  The set of parameters to tune.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GoogleCloudMlV1__ParameterSpec\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GoogleCloudMlV1__Job\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  a training or prediction job.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Output
  only. When the job was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Output
  only. When the job processing was completed.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Output
  only. The details of a failure or a cancellation.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:482:\"`etag`
  is used for optimistic concurrency control as a way to help\nprevent simultaneous
  updates of a job from overwriting each other.\nIt is strongly suggested that systems
  make use of the `etag` in the\nread-modify-write cycle to perform job updates in
  order to avoid race\nconditions: An `etag` is returned in the response to `GetJob`,
  and\nsystems are expected to put that etag in the request to `UpdateJob` to\nensure
  that their change will be applied to the same version of the job.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Required.
  The user-specified id of the job.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:288:\"Optional.
  One or more labels that you can add, to organize your jobs.\nEach label is a key-value
  pair, where both the key and the value are\narbitrary strings that you supply.\nFor
  more information, see the documentation on\n<a href=\"/ml-engine/docs/how-tos/resource-labels\">using
  labels</a>.\";s:4:\"type\";s:6:\"object\";}s:15:\"predictionInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/GoogleCloudMlV1__PredictionInput\";s:11:\"description\";s:44:\"Input
  parameters to create a prediction job.\";}s:16:\"predictionOutput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/GoogleCloudMlV1__PredictionOutput\";s:11:\"description\";s:34:\"The
  current prediction job result.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Output
  only. When the job processing was started.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Output
  only. The detailed state of a job.\";s:4:\"enum\";a:8:{i:0;s:17:\"STATE_UNSPECIFIED\";i:1;s:6:\"QUEUED\";i:2;s:9:\"PREPARING\";i:3;s:7:\"RUNNING\";i:4;s:9:\"SUCCEEDED\";i:5;s:6:\"FAILED\";i:6;s:10:\"CANCELLING\";i:7;s:9:\"CANCELLED\";}s:4:\"type\";s:6:\"string\";}s:13:\"trainingInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GoogleCloudMlV1__TrainingInput\";s:11:\"description\";s:42:\"Input
  parameters to create a training job.\";}s:14:\"trainingOutput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GoogleCloudMlV1__TrainingOutput\";s:11:\"description\";s:32:\"The
  current training job result.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GoogleCloudMlV1__ListJobsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Response
  message for the ListJobs method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"jobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  list of jobs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GoogleCloudMlV1__Job\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Optional.
  Pass this token as the `page_token` field of the request for a\nsubsequent call.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GoogleCloudMlV1__ListLocationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Locations
  where at least one type of CMLE capability is available.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GoogleCloudMlV1__Location\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Optional.
  Pass this token as the `page_token` field of the request for a\nsubsequent call.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"GoogleCloudMlV1__ListModelsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Response
  message for the ListModels method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"models\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  list of models.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/GoogleCloudMlV1__Model\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Optional.
  Pass this token as the `page_token` field of the request for a\nsubsequent call.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GoogleCloudMlV1__ListVersionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Response
  message for the ListVersions method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Optional.
  Pass this token as the `page_token` field of the request for a\nsubsequent call.\";s:4:\"type\";s:6:\"string\";}s:8:\"versions\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  list of versions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/GoogleCloudMlV1__Version\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GoogleCloudMlV1__Location\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Capabilities
  available in the location.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/GoogleCloudMlV1__Capability\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GoogleCloudMlV1__ManualScaling\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Options
  for manually scaling a model.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"nodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:276:\"The
  number of nodes to allocate for this model. These nodes are always up,\nstarting
  from the time the model is deployed, so the cost of operating\nthis model will be
  proportional to `nodes` * number of hours since\nlast billing cycle plus the cost
  for each prediction performed.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GoogleCloudMlV1__Model\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"Represents
  a machine learning solution.\n\nA model can have multiple versions, each of which
  is a deployed, trained\nmodel ready to receive prediction requests. The model itself
  is just a\ncontainer.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"defaultVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GoogleCloudMlV1__Version\";s:11:\"description\";s:286:\"Output
  only. The default version of the model. This version will be used to\nhandle prediction
  requests that do not specify a version.\n\nYou can change the default version by
  calling\n[projects.methods.versions.setDefault](/ml-engine/reference/rest/v1/projects.models.versions/setDefault).\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Optional.
  The description specified for the model when it was created.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:484:\"`etag`
  is used for optimistic concurrency control as a way to help\nprevent simultaneous
  updates of a model from overwriting each other.\nIt is strongly suggested that systems
  make use of the `etag` in the\nread-modify-write cycle to perform model updates
  in order to avoid race\nconditions: An `etag` is returned in the response to `GetModel`,
  and\nsystems are expected to put that etag in the request to `UpdateModel` to\nensure
  that their change will be applied to the model as intended.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:290:\"Optional.
  One or more labels that you can add, to organize your models.\nEach label is a key-value
  pair, where both the key and the value are\narbitrary strings that you supply.\nFor
  more information, see the documentation on\n<a href=\"/ml-engine/docs/how-tos/resource-labels\">using
  labels</a>.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Required.
  The name specified for the model when it was created.\n\nThe model name must be
  unique within the project it is created in.\";s:4:\"type\";s:6:\"string\";}s:23:\"onlinePredictionLogging\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Optional.
  If true, enables StackDriver Logging for online prediction.\nDefault is false.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"regions\";O:8:\"stdClass\":3:{s:11:\"description\";s:467:\"Optional.
  The list of regions where the model is going to be deployed.\nCurrently only one
  region per model is supported.\nDefaults to 'us-central1' if nothing is set.\nNote:\n*
  \  No matter where a model is deployed, it can always be accessed by\n    users
  from anywhere, both for online and batch prediction.\n*   The region for a batch
  prediction job is set by the region field when\n    submitting the batch prediction
  job and does not take its value from\n    this field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"GoogleCloudMlV1__OperationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Represents
  the metadata of the long-running operation.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  time the operation was submitted.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  time operation processing completed.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:23:\"isCancellationRequested\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Indicates
  whether a request to cancel this operation has been made.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:81:\"The
  user labels, inherited from the model or the model version being\noperated on.\";s:4:\"type\";s:6:\"object\";}s:9:\"modelName\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Contains
  the name of the model associated with the operation.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  operation type.\";s:4:\"enum\";a:7:{i:0;s:26:\"OPERATION_TYPE_UNSPECIFIED\";i:1;s:14:\"CREATE_VERSION\";i:2;s:14:\"DELETE_VERSION\";i:3;s:12:\"DELETE_MODEL\";i:4;s:12:\"UPDATE_MODEL\";i:5;s:14:\"UPDATE_VERSION\";i:6;s:13:\"UPDATE_CONFIG\";}s:4:\"type\";s:6:\"string\";}s:13:\"projectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Contains
  the project number associated with the operation.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  time operation processing started.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GoogleCloudMlV1__Version\";s:11:\"description\";s:51:\"Contains
  the version associated with the operation.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GoogleCloudMlV1__ParameterSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  a single hyperparameter to optimize.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"categoricalValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Required
  if type is `CATEGORICAL`. The list of possible categories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"discreteValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:240:\"Required
  if type is `DISCRETE`.\nA list of feasible points.\nThe list should be in strictly
  increasing order. For instance, this\nparameter might have possible settings of
  1.5, 2.5, and 4.0. This list\nshould not contain more than 1,000 values.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:8:\"maxValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"Required
  if typeis `DOUBLE` or `INTEGER`. This field\nshould be unset if type is `CATEGORICAL`.
  This value should be integers if\ntype is `INTEGER`.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"minValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Required
  if type is `DOUBLE` or `INTEGER`. This field\nshould be unset if type is `CATEGORICAL`.
  This value should be integers if\ntype is INTEGER.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"parameterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Required.
  The parameter name must be unique amongst all ParameterConfigs in\na HyperparameterSpec
  message. E.g., \"learning_rate\".\";s:4:\"type\";s:6:\"string\";}s:9:\"scaleType\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"Optional.
  How the parameter should be scaled to the hypercube.\nLeave unset for categorical
  parameters.\nSome kind of scaling is strongly recommended for real or integral\nparameters
  (e.g., `UNIT_LINEAR_SCALE`).\";s:4:\"enum\";a:4:{i:0;s:4:\"NONE\";i:1;s:17:\"UNIT_LINEAR_SCALE\";i:2;s:14:\"UNIT_LOG_SCALE\";i:3;s:22:\"UNIT_REVERSE_LOG_SCALE\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Required.
  The type of the parameter.\";s:4:\"enum\";a:5:{i:0;s:26:\"PARAMETER_TYPE_UNSPECIFIED\";i:1;s:6:\"DOUBLE\";i:2;s:7:\"INTEGER\";i:3;s:11:\"CATEGORICAL\";i:4;s:8:\"DISCRETE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GoogleCloudMlV1__PredictRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Request
  for predictions to be issued against a trained model.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"httpBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GoogleApi__HttpBody\";s:11:\"description\";s:39:\"\nRequired.
  The prediction request body.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GoogleCloudMlV1__PredictionInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Represents
  input parameters for a prediction job.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"batchSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:269:\"Optional.
  Number of records per batch, defaults to 64.\nThe service will buffer batch_size
  number of records in memory before\ninvoking one Tensorflow prediction call internally.
  So take the record\nsize and memory available into consideration when setting this
  parameter.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"dataFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Required.
  The format of the input data files.\";s:4:\"enum\";a:5:{i:0;s:23:\"DATA_FORMAT_UNSPECIFIED\";i:1;s:4:\"JSON\";i:2;s:4:\"TEXT\";i:3;s:9:\"TF_RECORD\";i:4;s:14:\"TF_RECORD_GZIP\";}s:4:\"type\";s:6:\"string\";}s:10:\"inputPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Required.
  The Google Cloud Storage location of the input data files.\nMay contain wildcards.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"maxWorkerCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Optional.
  The maximum number of workers to be used for parallel processing.\nDefaults to 10
  if not specified.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"modelName\";O:8:\"stdClass\":2:{s:11:\"description\";s:191:\"Use
  this field if you want to use the default version for the specified\nmodel. The
  string must use the following format:\n\n`\"projects/<var>[YOUR_PROJECT]</var>/models/<var>[YOUR_MODEL]</var>\"`\";s:4:\"type\";s:6:\"string\";}s:10:\"outputPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Required.
  The output Google Cloud Storage location.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Required.
  The Google Compute Engine region to run the prediction job in.\";s:4:\"type\";s:6:\"string\";}s:14:\"runtimeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"Optional.
  The Google Cloud ML runtime version to use for this batch\nprediction. If not set,
  Google Cloud ML will pick the runtime version used\nduring the CreateVersion request
  for this model version, or choose the\nlatest stable version when model version
  information is not available\nsuch as when the model is specified by uri.\";s:4:\"type\";s:6:\"string\";}s:13:\"signatureName\";O:8:\"stdClass\":2:{s:11:\"description\";s:371:\"Optional.
  The name of the signature defined in the SavedModel to use for\nthis job. Please
  refer to\n[SavedModel](https://tensorflow.github.io/serving/serving_basic.html)\nfor
  information about how to use signatures.\n\nDefaults to\n[DEFAULT_SERVING_SIGNATURE_DEF_KEY](https://www.tensorflow.org/api_docs/python/tf/saved_model/signature_constants)\n,
  which is \"serving_default\".\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Use
  this field if you want to specify a Google Cloud Storage path for\nthe model to
  use.\";s:4:\"type\";s:6:\"string\";}s:11:\"versionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:269:\"Use
  this field if you want to specify a version of the model to use. The\nstring is
  formatted the same way as `model_version`, with the addition\nof the version information:\n\n`\"projects/<var>[YOUR_PROJECT]</var>/models/<var>YOUR_MODEL/versions/<var>[YOUR_VERSION]</var>\"`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GoogleCloudMlV1__PredictionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Represents
  results of a prediction job.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"errorCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  number of data instances which resulted in errors.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"nodeHours\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Node
  hours used by the batch prediction job.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"outputPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  output Google Cloud Storage location provided at the job creation time.\";s:4:\"type\";s:6:\"string\";}s:15:\"predictionCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  number of generated predictions.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GoogleCloudMlV1__SetDefaultVersionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Request
  message for the SetDefaultVersion request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"GoogleCloudMlV1__TrainingInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  input parameters for a training job.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"args\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Optional.
  Command line arguments to pass to the program.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"hyperparameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/GoogleCloudMlV1__HyperparameterSpec\";s:11:\"description\";s:45:\"Optional.
  The set of Hyperparameters to tune.\";}s:6:\"jobDir\";O:8:\"stdClass\":2:{s:11:\"description\";s:289:\"Optional.
  A Google Cloud Storage path in which to store training outputs\nand other data needed
  for training. This path is passed to your TensorFlow\nprogram as the 'job_dir' command-line
  argument. The benefit of specifying\nthis field is that Cloud ML validates the path
  for use in training.\";s:4:\"type\";s:6:\"string\";}s:10:\"masterType\";O:8:\"stdClass\":2:{s:11:\"description\";s:2204:\"Optional.
  Specifies the type of virtual machine to use for your training\njob's master worker.\n\nThe
  following types are supported:\n\n<dl>\n  <dt>standard</dt>\n  <dd>\n  A basic machine
  configuration suitable for training simple models with\n  small to moderate datasets.\n
  \ </dd>\n  <dt>large_model</dt>\n  <dd>\n  A machine with a lot of memory, specially
  suited for parameter servers\n  when your model is large (having many hidden layers
  or layers with very\n  large numbers of nodes).\n  </dd>\n  <dt>complex_model_s</dt>\n
  \ <dd>\n  A machine suitable for the master and workers of the cluster when your\n
  \ model requires more computation than the standard machine can handle\n  satisfactorily.\n
  \ </dd>\n  <dt>complex_model_m</dt>\n  <dd>\n  A machine with roughly twice the
  number of cores and roughly double the\n  memory of <code suppresswarning=\"true\">complex_model_s</code>.\n
  \ </dd>\n  <dt>complex_model_l</dt>\n  <dd>\n  A machine with roughly twice the
  number of cores and roughly double the\n  memory of <code suppresswarning=\"true\">complex_model_m</code>.\n
  \ </dd>\n  <dt>standard_gpu</dt>\n  <dd>\n  A machine equivalent to <code suppresswarning=\"true\">standard</code>
  that\n  also includes a single NVIDIA Tesla K80 GPU. See more about\n  <a href=\"/ml-engine/docs/how-tos/using-gpus\">\n
  \ using GPUs for training your model</a>.\n  </dd>\n  <dt>complex_model_m_gpu</dt>\n
  \ <dd>\n  A machine equivalent to\n  <code suppresswarning=\"true\">complex_model_m</code>
  that also includes\n  four NVIDIA Tesla K80 GPUs.\n  </dd>\n  <dt>complex_model_l_gpu</dt>\n
  \ <dd>\n  A machine equivalent to\n  <code suppresswarning=\"true\">complex_model_l</code>
  that also includes\n  eight NVIDIA Tesla K80 GPUs.\n  </dd>\n  <dt>standard_p100</dt>\n
  \ <dd>\n  A machine equivalent to <code suppresswarning=\"true\">standard</code>
  that\n  also includes a single NVIDIA Tesla P100 GPU. The availability of these\n
  \ GPUs is in the Alpha launch stage.\n  </dd>\n  <dt>complex_model_m_p100</dt>\n
  \ <dd>\n  A machine equivalent to\n  <code suppresswarning=\"true\">complex_model_m</code>
  that also includes\n  four NVIDIA Tesla P100 GPUs. The availability of these GPUs
  is in\n  the Alpha launch stage.\n  </dd>\n</dl>\n\nYou must set this value when
  `scaleTier` is set to `CUSTOM`.\";s:4:\"type\";s:6:\"string\";}s:11:\"packageUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"Required.
  The Google Cloud Storage location of the packages with\nthe training program and
  any additional dependencies.\nThe maximum number of package URIs is 100.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"parameterServerCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:296:\"Optional.
  The number of parameter server replicas to use for the training\njob. Each replica
  in the cluster will be of the type specified in\n`parameter_server_type`.\n\nThis
  value can only be used when `scale_tier` is set to `CUSTOM`.If you\nset this value,
  you must also set `parameter_server_type`.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"parameterServerType\";O:8:\"stdClass\":2:{s:11:\"description\";s:297:\"Optional.
  Specifies the type of virtual machine to use for your training\njob's parameter
  server.\n\nThe supported values are the same as those described in the entry for\n`master_type`.\n\nThis
  value must be present when `scaleTier` is set to `CUSTOM` and\n`parameter_server_count`
  is greater than zero.\";s:4:\"type\";s:6:\"string\";}s:12:\"pythonModule\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Required.
  The Python module name to run after installing the packages.\";s:4:\"type\";s:6:\"string\";}s:13:\"pythonVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Optional.
  The version of Python used in training. If not set, the default\nversion is '2.7'.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Required.
  The Google Compute Engine region to run the training job in.\";s:4:\"type\";s:6:\"string\";}s:14:\"runtimeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Optional.
  The Google Cloud ML runtime version to use for training.  If not\nset, Google Cloud
  ML will choose the latest stable version.\";s:4:\"type\";s:6:\"string\";}s:9:\"scaleTier\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Required.
  Specifies the machine types, the number of replicas for workers\nand parameter servers.\";s:4:\"enum\";a:6:{i:0;s:5:\"BASIC\";i:1;s:10:\"STANDARD_1\";i:2;s:9:\"PREMIUM_1\";i:3;s:9:\"BASIC_GPU\";i:4;s:9:\"BASIC_TPU\";i:5;s:6:\"CUSTOM\";}s:4:\"type\";s:6:\"string\";}s:11:\"workerCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"Optional.
  The number of worker replicas to use for the training job. Each\nreplica in the
  cluster will be of the type specified in `worker_type`.\n\nThis value can only be
  used when `scale_tier` is set to `CUSTOM`. If you\nset this value, you must also
  set `worker_type`.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"workerType\";O:8:\"stdClass\":2:{s:11:\"description\";s:281:\"Optional.
  Specifies the type of virtual machine to use for your training\njob's worker nodes.\n\nThe
  supported values are the same as those described in the entry for\n`masterType`.\n\nThis
  value must be present when `scaleTier` is set to `CUSTOM` and\n`workerCount` is
  greater than zero.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GoogleCloudMlV1__TrainingOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Represents
  results of a training job. Output only.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"completedTrialCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  number of hyperparameter tuning trials that completed successfully.\nOnly set for
  hyperparameter tuning jobs.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"consumedMLUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  amount of ML units consumed by the job.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:25:\"isHyperparameterTuningJob\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  this job is a hyperparameter tuning job.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"trials\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Results
  for individual Hyperparameter trials.\nOnly set for hyperparameter tuning jobs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/GoogleCloudMlV1__HyperparameterOutput\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GoogleCloudMlV1__Version\";O:8:\"stdClass\":3:{s:11:\"description\";s:349:\"Represents
  a version of the model.\n\nEach version is a trained model deployed in the cloud,
  ready to handle\nprediction requests. A model can have multiple versions. You can
  get\ninformation about all of the versions of a given model by calling\n[projects.models.versions.list](/ml-engine/reference/rest/v1/projects.models.versions/list).\n\nLINT.IfChange\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"autoScaling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GoogleCloudMlV1__AutoScaling\";s:11:\"description\";s:266:\"Automatically
  scale the number of nodes used to serve the model in\nresponse to increases and
  decreases in traffic. Care should be\ntaken to ramp up traffic according to the
  model's ability to scale\nor you will start seeing increases in latency and 429
  response codes.\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Output
  only. The time the version was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:13:\"deploymentUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:571:\"Required.
  The Google Cloud Storage location of the trained model used to\ncreate the version.
  See the\n[overview of model\ndeployment](/ml-engine/docs/concepts/deployment-overview)
  for more\ninformation.\n\nWhen passing Version to\n[projects.models.versions.create](/ml-engine/reference/rest/v1/projects.models.versions/create)\nthe
  model service uses the specified location as the source of the model.\nOnce deployed,
  the model version is hosted by the prediction service, so\nthis location is useful
  only as a historical record.\nThe total number of model files can't exceed 1000.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Optional.
  The description specified for the version when it was created.\";s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Output
  only. The details of a failure or a cancellation.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:488:\"`etag`
  is used for optimistic concurrency control as a way to help\nprevent simultaneous
  updates of a model from overwriting each other.\nIt is strongly suggested that systems
  make use of the `etag` in the\nread-modify-write cycle to perform model updates
  in order to avoid race\nconditions: An `etag` is returned in the response to `GetVersion`,
  and\nsystems are expected to put that etag in the request to `UpdateVersion` to\nensure
  that their change will be applied to the model as intended.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:9:\"isDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:261:\"Output
  only. If true, this version will be used to handle prediction\nrequests that do
  not specify a version.\n\nYou can change the default version by calling\n[projects.methods.versions.setDefault](/ml-engine/reference/rest/v1/projects.models.versions/setDefault).\";s:4:\"type\";s:7:\"boolean\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:298:\"Optional.
  One or more labels that you can add, to organize your model\nversions. Each label
  is a key-value pair, where both the key and the value\nare arbitrary strings that
  you supply.\nFor more information, see the documentation on\n<a href=\"/ml-engine/docs/how-tos/resource-labels\">using
  labels</a>.\";s:4:\"type\";s:6:\"object\";}s:11:\"lastUseTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Output
  only. The time the version was last used for prediction.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:13:\"manualScaling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GoogleCloudMlV1__ManualScaling\";s:11:\"description\";s:367:\"Manually
  select the number of nodes to use for serving the\nmodel. You should generally use
  `auto_scaling` with an appropriate\n`min_nodes` instead, but this option is available
  if you want more\npredictable billing. Beware that latency and error rates will
  increase\nif the traffic exceeds that capability of the system to serve it based\non
  the selected number of nodes.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Required.The
  name specified for the version when it was created.\n\nThe version name must be
  unique within the model it is created in.\";s:4:\"type\";s:6:\"string\";}s:14:\"runtimeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"Optional.
  The Google Cloud ML runtime version to use for this deployment.\nIf not set, Google
  Cloud ML will choose a version.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Output
  only. The state of a version.\";s:4:\"enum\";a:5:{i:0;s:7:\"UNKNOWN\";i:1;s:5:\"READY\";i:2;s:8:\"CREATING\";i:3;s:6:\"FAILED\";i:4;s:8:\"DELETING\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GoogleIamV1__AuditConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:1476:\"Specifies
  the audit configuration for a service.\nThe configuration determines which permission
  types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig
  must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices`
  and a specific service,\nthe union of the two AuditConfigs is used for that service:
  the log_types\nspecified in each AuditConfig are enabled, and the exempted_members
  in each\nAuditConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n
  \   {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \             \"exempted_members\": [\n                \"user:foo@gmail.com\"\n
  \             ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n
  \           },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n
  \         ]\n        },\n        {\n          \"service\": \"fooservice.googleapis.com\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \           },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\":
  [\n                \"user:bar@gmail.com\"\n              ]\n            }\n          ]\n
  \       }\n      ]\n    }\n\nFor fooservice, this policy enables DATA_READ, DATA_WRITE
  and ADMIN_READ\nlogging. It also exempts foo@gmail.com from DATA_READ logging, and\nbar@gmail.com
  from DATA_WRITE logging.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"auditLogConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  configuration for logging of each type of permission.\nNext ID: 4\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/GoogleIamV1__AuditLogConfig\";}s:4:\"type\";s:5:\"array\";}s:15:\"exemptedMembers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"Specifies
  a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`,
  `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"GoogleIamV1__AuditLogConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:415:\"Provides
  the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\":
  [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\":
  [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\":
  \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE'
  logging, while exempting\nfoo@gmail.com from DATA_READ logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"exemptedMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Specifies
  the identities that do not cause logging for this type of\npermission.\nFollows
  the same format of Binding.members.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"logType\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  log type that this config enables.\";s:4:\"enum\";a:4:{i:0;s:20:\"LOG_TYPE_UNSPECIFIED\";i:1;s:10:\"ADMIN_READ\";i:2;s:10:\"DATA_WRITE\";i:3;s:9:\"DATA_READ\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GoogleIamV1__Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Associates
  `members` with a `role`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GoogleType__Expr\";s:11:\"description\";s:237:\"The
  condition that is associated with this binding.\nNOTE: an unsatisfied condition
  will not allow user access via current\nbinding. Different bindings, including their
  conditions, are examined\nindependently.\nThis field is GOOGLE_INTERNAL.\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:908:\"Specifies
  the identities requesting access for a Cloud Platform resource.\n`members` can have
  the following values:\n\n* `allUsers`: A special identifier that represents anyone
  who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`:
  A special identifier that represents anyone\n   who is authenticated with a Google
  account or a service account.\n\n* `user:{emailid}`: An email address that represents
  a specific Google\n   account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n*
  `serviceAccount:{emailid}`: An email address that represents a service\n   account.
  For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`:
  An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n\n*
  `domain:{domain}`: A Google Apps domain name that represents all the\n   users of
  that domain. For example, `google.com` or `example.com`.\n\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Role
  that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or
  `roles/owner`.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GoogleIamV1__Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:910:\"Defines
  an Identity and Access Management (IAM) policy. It is used to\nspecify access control
  policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`.
  A `Binding` binds a list of\n`members` to a `role`, where the members can be user
  accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named
  list of permissions\ndefined by IAM.\n\n**Example**\n\n    {\n      \"bindings\":
  [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n
  \           \"group:admins@example.com\",\n            \"domain:google.com\",\n
  \           \"serviceAccount:my-other-app@appspot.gserviceaccount.com\",\n          ]\n
  \       },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\":
  [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\nFor a description of IAM
  and its features, see the\n[IAM developer's guide](https://cloud.google.com/iam).\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"auditConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Specifies
  cloud audit logging configuration for this policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/GoogleIamV1__AuditConfig\";}s:4:\"type\";s:5:\"array\";}s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Associates
  a list of `members` to a `role`.\n`bindings` with no members will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GoogleIamV1__Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:606:\"`etag`
  is used for optimistic concurrency control as a way to help\nprevent simultaneous
  updates of a policy from overwriting each other.\nIt is strongly suggested that
  systems make use of the `etag` in the\nread-modify-write cycle to perform policy
  updates in order to avoid race\nconditions: An `etag` is returned in the response
  to `getIamPolicy`, and\nsystems are expected to put that etag in the request to
  `setIamPolicy` to\nensure that their change will be applied to the same version
  of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the
  existing\npolicy is overwritten blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:8:\"iamOwned\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Version
  of the `Policy`. The default version is 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GoogleIamV1__SetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `SetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GoogleIamV1__Policy\";s:11:\"description\";s:224:\"REQUIRED:
  The complete policy to be applied to the `resource`. The size of\nthe policy is
  limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud
  Platform services (such as Projects)\nmight reject them.\";}s:10:\"updateMask\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"OPTIONAL:
  A FieldMask specifying which fields of the policy to modify. Only\nthe fields in
  the mask will be modified. If no mask is provided, the\nfollowing default mask is
  used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.\";s:6:\"format\";s:16:\"google-fieldmask\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GoogleIamV1__TestIamPermissionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Request
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"The
  set of permissions to check for the `resource`. Permissions with\nwildcards (such
  as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GoogleIamV1__TestIamPermissionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GoogleLongrunning__ListOperationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  response message for Operations.ListOperations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of operations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/GoogleLongrunning__Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GoogleLongrunning__Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a\nnetwork API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"If
  the value is `false`, it means the operation is still in progress.\nIf `true`, the
  operation is completed, and either `error` or `response` is\navailable.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/GoogleRpc__Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:281:\"Service-specific
  metadata associated with the operation.  It typically\ncontains progress information
  and common metadata such as create time.\nSome services might not provide such metadata.
  \ Any method that returns a\nlong-running operation should document the metadata
  type, if any.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"The
  server-assigned name, which is only unique within the same service that\noriginally
  returns it. If you use the default HTTP mapping, the\n`name` should have the format
  of `operations/some/unique/name`.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:492:\"The
  normal response of the operation in case of success.  If the original\nmethod returns
  no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.
  \ If the original method is standard\n`Get`/`Create`/`Update`, the response should
  be the resource.  For other\nmethods, the response should have the type `XxxResponse`,
  where `Xxx`\nis the original method name.  For example, if the original method name\nis
  `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GoogleProtobuf__Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"GoogleRpc__Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GoogleType__Expr\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"Represents
  an expression text. Example:\n\n    title: \"User account presence\"\n    description:
  \"Determines whether the request has a user account\"\n    expression: \"size(request.user)
  > 0\"\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"An
  optional description of the expression. This is a longer text which\ndescribes the
  expression, e.g. when hovered over it in a UI.\";s:4:\"type\";s:6:\"string\";}s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"Textual
  representation of an expression in\nCommon Expression Language syntax.\n\nThe application
  context of the containing message determines which\nwell-known feature set of CEL
  is supported.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"An
  optional string indicating the location of the expression for error\nreporting,
  e.g. a file name and a position in the file.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"An
  optional title for the expression, i.e. a short string describing\nits purpose.
  This can be used e.g. in UIs which allow to enter the\nexpression.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
