---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:5:\"1.0.1\";s:5:\"title\";s:10:\"Podium
  API\";s:11:\"description\";s:740:\"----\n> The API enables you to GET and POST information
  to Podium. All of the APIs are RESTful endpoints. The The Podium API is bundled
  in with your current pricing.\n\n\n----\n# Authorization\n\nWe use basic authorization.\n
  \   Authorization: \"token goes here\"\nThe API token can be found on the [Settings
  page](https://app.podium.com/#//settings)\n\n\n\nExamples\nAll requests are provided
  a code snippet in several languages. You can submit requests by running them through
  POSTMAN.\n\nPagination\nAll collection requests are paginated. You can page through
  the elements of the collection by making a \n\n# Help\nIf you need help, please
  contact Podium Support at [(833) 276-3486](833-276-3486) or by chatting in from
  the [Podium dashboard](app.podium.com).\";s:7:\"contact\";O:8:\"stdClass\":0:{}}"
host: platform.podium.com
basePath: /api/v2
paths:
  /organizations/{orgId}/locations:
    get:
      description: This endpoint requires an organization Id. This Id will be given
        upon request by Podium.
      summary: Fetch locations by Organization Id
      tags:
      - Organization
      - Location
      operationId: LocationsByOrgIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: orgId
        in: path
        required: true
        type: integer
        format: int64
        description: The Organization ID
      - name: page[number]
        in: query
        required: false
        type: integer
        format: int64
        description: ""
      - name: page[size]
        in: query
        required: false
        type: integer
        format: int64
        description: ""
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              locations:
                description: ""
                type: array
                items:
                  $ref: '#/definitions/Location'
              meta:
                $ref: '#/definitions/Meta'
          headers: []
  /locations/{locationId}/invites:
    get:
      tags:
      - Invitation
      summary: Get Invitations by Location
      description: 'Returns all the Invitations sent for a given Location and optional
        date range. '
      operationId: InvitationsByLocationGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: locationId
        in: path
        required: true
        type: integer
        format: int64
        description: The Location ID
      - name: page[number]
        in: query
        required: false
        type: integer
        format: int64
        description: ""
      - name: page[size]
        in: query
        required: false
        type: integer
        format: int64
        description: ""
      - name: fromDate
        in: query
        required: false
        type: string
        format: date
        description: ""
      - name: toDate
        in: query
        required: false
        type: string
        format: date
        description: ""
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              invites:
                description: ""
                type: array
                items:
                  $ref: '#/definitions/Invitation'
              meta:
                $ref: '#/definitions/Meta'
          headers: []
  /users/{userId}/summary:
    get:
      tags:
      - User
      summary: Get Summary by User Id
      description: Returns a summary for the User
      operationId: SummaryByUserIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: userId
        in: path
        required: true
        type: integer
        format: int64
        description: The User ID
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              summary:
                $ref: '#/definitions/UserSummary'
          headers: []
  /locations/{locationId}/summary:
    get:
      tags:
      - Location
      summary: Get Summary by Location Id
      description: Returns a summary for the Location
      operationId: SummaryByLocationIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: locationId
        in: path
        required: true
        type: integer
        format: int64
        description: The Location ID
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              summary:
                $ref: '#/definitions/LocationSummary'
          headers: []
  /locations/{locationId}/reviews:
    get:
      tags:
      - Reviews
      summary: Get Reviews by Location
      description: 'Returns all the Invitations sent for a given Location and optional
        date range. '
      operationId: ReviewsByLocationGet
      parameters:
      - name: locationId
        in: path
        description: ""
        required: true
        type: integer
        format: int64
      - name: page[number]
        in: query
        required: false
        type: integer
        format: int64
        description: ""
      - name: page[size]
        in: query
        required: false
        type: integer
        format: int64
        description: ""
      - name: fromDate
        in: query
        required: false
        type: string
        format: date
        description: ""
      - name: toDate
        in: query
        required: false
        type: string
        format: date
        description: ""
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              reviews:
                description: ""
                type: array
                items:
                  $ref: '#/definitions/Review'
              meta:
                $ref: '#/definitions/Meta'
          headers: []
      deprecated: false
  /locations/{locationId}/sites/summary:
    get:
      tags:
      - Location
      summary: Get Summaries for websites by Location Id
      description: Returns the summaries for websites linked to the given Location
      operationId: SiteSummaryByLocationIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: locationId
        in: path
        required: true
        type: integer
        format: int64
        description: The Location ID
      - name: page[number]
        in: query
        required: false
        type: integer
        format: int64
        description: ""
      - name: page[size]
        in: query
        required: false
        type: integer
        format: int64
        description: ""
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              siteSummary:
                description: ""
                type: array
                items:
                  $ref: '#/definitions/SiteSummary'
              meta:
                $ref: '#/definitions/Meta'
          headers: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:10:\"Invitation\";O:8:\"stdClass\":4:{s:5:\"title\";s:10:\"Invitation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  Invitation ID\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"phoneNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  Phone number the invitation was sent to\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:18:\"^\\+?[1-9]\\d{1,14}$\";}s:18:\"lastInvitationSent\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:14:\"organizationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  Organization ID\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  Date and time the Invitation was created\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"updatedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  Date and time the Invitation was wupdated\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"reviewPageUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  User ID of the user that sent the invitation\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"test\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:10:\"locationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  Location ID\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"customerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  ID of the customer\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  customers email\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}}s:8:\"required\";a:9:{i:0;s:2:\"id\";i:1;s:18:\"lastInvitationSent\";i:2;s:10:\"locationId\";i:3;s:10:\"customerId\";i:4;s:14:\"organizationId\";i:5;s:6:\"userId\";i:6;s:9:\"createdAt\";i:7;s:9:\"updatedAt\";i:8;s:4:\"test\";}}s:8:\"Location\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"Location\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"locationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  Location ID.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"locationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  Location name.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"locationId\";}}s:4:\"Meta\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Meta\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"A\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:4:\"Page\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Page\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:6:\"Review\";O:8:\"stdClass\":4:{s:5:\"title\";s:6:\"Review\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  Review ID\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"siteReviewId\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:119:\"AIe9_BFhqAtkXvUqdYNeMuBBGjaAfP1dwRMNJqBhfGoZ3jjQGAYvKSvgxBC1Tcid6lfxAZFPcp2PAbdIZSk-2TmAANNTgljfMu88GAX2a6BWmpOFxYITyyk\";}s:8:\"siteName\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"facebook\";}s:10:\"locationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  Location ID\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  Date and time the Invitation was created\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"publishDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  Date and time the Invitation was created\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"updatedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  Date and time the Invitation was wupdated\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"rating\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";d:5;}s:10:\"reviewBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:29:\"friendly
  and thurough service\";}s:18:\"reviewInvitationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  Invitation Id\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"reviewUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:6:\"author\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"John
  Doe\";}s:8:\"authorId\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:7:\"example\";N;}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:6:\"rating\";i:2;s:9:\"createdAt\";i:3;s:9:\"updatedAt\";i:4;s:11:\"publishDate\";i:5;s:10:\"locationId\";}}s:11:\"SiteSummary\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"SiteSummary\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"averageRating\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";d:4.9400000000000004;}s:11:\"reviewCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:146;}s:8:\"siteName\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"facebook\";}}}s:11:\"UserSummary\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"UserSummary\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"averageRating\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";d:4.9699999999999998;}s:7:\"clicked\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:19;}s:11:\"inviteCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:24;}s:11:\"recommended\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:3;}s:8:\"userName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  Users Username\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"John Doe\";}}}s:15:\"LocationSummary\";O:8:\"stdClass\":3:{s:5:\"title\";s:15:\"LocationSummary\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"averageRating\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";d:4.9699999999999998;}s:9:\"clickRate\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";d:41.119999999999997;}s:11:\"inviteCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:5749;}s:11:\"recommended\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1367;}s:12:\"totalReviews\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:2574;}}}}"
...
