---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:19:\"ops@neutrinoapi.com\";s:4:\"name\";s:12:\"Neutrino
  API\";s:3:\"url\";s:28:\"https://www.neutrinoapi.com/\";}s:11:\"description\";s:23:\"The
  general-purpose API\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:47:\"https://www.neutrinoapi.com/api/LICENSE-MIT.txt\";}s:5:\"title\";s:11:\"NeutrinoAPI\";s:7:\"version\";s:5:\"3.3.5\";s:21:\"x-apisguru-categories\";a:5:{i:0;s:5:\"email\";i:1;s:9:\"messaging\";i:2;s:7:\"telecom\";i:3;s:8:\"location\";i:4;s:4:\"text\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:95:\"https://api.apis.guru/v2/cache/logo/https_www.neutrinoapi.com_img_NEUTRINO_LOGO_NOBG_126x65.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:44:\"https://www.neutrinoapi.com/api/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"neutrinoapi.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"neutrinoapi\";s:4:\"type\";s:7:\"openapi\";}}"
host: neutrinoapi.com
basePath: /
paths:
  /bad-word-filter:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Detect bad words, swear words and profanity in a given text
      operationId: BadWordFilterPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The text content to check. This can be either a URL to load content
          from or an actual content string
        in: query
        name: content
        required: true
        type: string
      - description: The character to use to censor out the bad words found
        in: query
        name: censor-character
        required: false
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/BadWordFilterResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Bad Word Filter
      tags:
      - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /bin-lookup:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: 'Perform a BIN (Bank Identification Number) or IIN (Issuer Identification
        Number) lookup. See: https://www.neutrinoapi.com/api/bin-lookup/'
      operationId: BinLookupPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The BIN or IIN number (the first 6 digits of a credit card number)
        in: query
        name: bin-number
        required: true
        type: string
      - description: Pass in a customers remote IP address. The API will then determine
          the country of the IP address and match it against the BIN country. This
          feature is designed for fraud prevention and detection checks.
        in: query
        name: customer-ip
        required: false
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/BinLookupResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: BIN Lookup
      tags:
      - E-commerce
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /code-highlight:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Code highlight will take raw source code and convert into nicely
        formatted HTML with syntax and keyword highlighting
      operationId: CodeHighlightPost
      parameters:
      - description: The source content. This can be either a URL to load from or
          an actual content string
        in: query
        name: content
        required: true
        type: string
      - description: The code type. See the API docs for all supported types
        in: query
        name: type
        required: true
        type: string
      - default: false
        description: Add links on source code keywords to the relevant language documentation
        in: query
        name: add-keyword-links
        required: false
        type: boolean
      responses:
        200:
          description: ""
          examples: []
          schema:
            format: binary
            type: string
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Code Highlight
      tags:
      - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /convert:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: A powerful unit and currency conversion tool
      operationId: ConvertPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The value to convert from
        in: query
        name: from-value
        required: true
        type: string
      - description: The type of the value to convert from
        in: query
        name: from-type
        required: true
        type: string
      - description: The type to convert to
        in: query
        name: to-type
        required: true
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/ConvertResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Convert
      tags:
      - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /email-validate:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Parse, validate and clean an email address
      operationId: EmailValidatePost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The email address
        in: query
        name: email
        required: true
        type: string
      - default: false
        description: Automatically attempt to fix typos in the address
        in: query
        name: fix-typos
        required: false
        type: boolean
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/EmailValidateResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Email Validate
      tags:
      - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /email-verify:
    post:
      description: SMTP based email address verification
      operationId: EmailVerifyPost
      parameters:
      - description: An email address
        in: query
        name: email
        required: true
        type: string
      - description: Automatically attempt to fix typos in the address
        in: query
        name: fix-typos
        required: false
        type: boolean
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/EmailVerifyResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Email Verify
      tags:
      - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /geocode-address:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Geocode an address, partial address or the name of a location
      operationId: GeocodeAddressPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The address or partial address to try and locate
        in: query
        name: address
        required: true
        type: string
      - description: The ISO 2-letter country code to be biased towards (default is
          no country bias)
        in: query
        name: country-code
        required: false
        type: string
      - default: en
        description: 'The language to display results in, available languages are:
          de, en, es, fr, it, pt, ru'
        in: query
        name: language-code
        required: false
        type: string
      - default: false
        description: If no matches are found for the given address, start performing
          a recursive fuzzy search until a geolocation is found. We use a combination
          of approximate string matching and data cleansing to find possible location
          matches
        in: query
        name: fuzzy-search
        required: false
        type: boolean
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/GeocodeAddressResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Geocode Address
      tags:
      - Geolocation
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /geocode-reverse:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Convert a geographic coordinate (latitude and longitude) into a
        real world address or location.
      operationId: GeocodeReversePost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The location latitude
        format: double
        in: query
        name: latitude
        required: true
        type: number
      - description: The location longitude
        format: double
        in: query
        name: longitude
        required: true
        type: number
      - default: en
        description: 'The language to display results in, available languages are:
          de, en, es, fr, it, pt, ru'
        in: query
        name: language-code
        required: false
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/GeocodeReverseResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Geocode Reverse
      tags:
      - Geolocation
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /hlr-lookup:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Connect to the global mobile cellular network and retrieve the
        status of a mobile device
      operationId: HlrLookupPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: A phone number
        in: query
        name: number
        required: true
        type: string
      - description: ISO 2-letter country code, assume numbers are based in this country.
          If not set numbers are assumed to be in international format (with or without
          the leading + sign)
        in: query
        name: country-code
        required: false
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/HlrLookupResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: HLR Lookup
      tags:
      - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /host-reputation:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Check the reputation of an IP address or domain against a comprehensive
        list of blacklists and blocklists (DNSBLs)
      operationId: HostReputationPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: An IPv4 address or a domain name. If you supply a domain name
          it will be checked against the URI DNSBL list
        in: query
        name: host
        required: true
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/HostReputationResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Host Reputation
      tags:
      - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /html-clean:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Clean and sanitize untrusted HTML
      operationId: HtmlCleanPost
      parameters:
      - description: The HTML content. This can be either a URL to load HTML from
          or an actual HTML content string
        in: query
        name: content
        required: true
        type: string
      - description: 'The level of sanitization, possible values are: plain-text,
          simple-text, basic-html, basic-html-with-images, advanced-html'
        in: query
        name: output-type
        required: true
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            format: binary
            type: string
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: HTML Clean
      tags:
      - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /html-extract-tags:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Extract specific HTML tag contents or attributes from complex HTML
        or XHTML content
      operationId: HtmlExtractTagsPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The HTML content. This can be either a URL to load HTML from
          or an actual HTML content string
        in: query
        name: content
        required: true
        type: string
      - description: The HTML tag(s) to extract data from. This can just be a simple
          tag name like 'img' OR a CSS/jQuery style selector
        in: query
        name: tag
        required: true
        type: string
      - description: If set, then extract data from the specified tag attribute. If
          not set, then data will be extracted from the tags inner content
        in: query
        name: attribute
        required: false
        type: string
      - description: The base URL to replace into realive links
        in: query
        name: base-url
        required: false
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/HtmlExtractResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: HTML Extract
      tags:
      - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /html5-render:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Render HTML and HTML5 content to PDF, JPG or PNG
      operationId: Html5RenderPost
      parameters:
      - description: ""
        enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The HTML content. This can be either a URL to load HTML from
          or an actual HTML content string
        in: query
        name: content
        required: true
        type: string
      - default: PDF
        description: 'Which format to output, available options are: PDF, PNG, JPG'
        in: query
        name: format
        required: false
        type: string
      - default: A4
        description: 'Set the document page size, can be one of: A0 - A9, B0 - B10,
          Comm10E, DLE or Letter'
        in: query
        name: page-size
        required: false
        type: string
      - description: The document title
        in: query
        name: title
        required: false
        type: string
      - default: 0
        description: The document margin (in mm)
        format: int32
        in: query
        name: margin
        required: false
        type: integer
      - default: 0
        description: The document left margin (in mm)
        format: int32
        in: query
        name: margin-left
        required: false
        type: integer
      - default: 0
        description: The document right margin (in mm)
        format: int32
        in: query
        name: margin-right
        required: false
        type: integer
      - default: 0
        description: The document top margin (in mm)
        format: int32
        in: query
        name: margin-top
        required: false
        type: integer
      - default: 0
        description: The document bottom margin (in mm)
        format: int32
        in: query
        name: margin-bottom
        required: false
        type: integer
      - default: false
        description: Set the document to lanscape orientation
        in: query
        name: landscape
        required: false
        type: boolean
      - default: 1
        description: Set the zoom factor when rendering the page (2.0 for double size,
          0.5 for half size)
        format: double
        in: query
        name: zoom
        required: false
        type: number
      - default: false
        description: Render the final document in grayscale
        in: query
        name: grayscale
        required: false
        type: boolean
      - default: false
        description: Use @media print CSS styles to render the document
        in: query
        name: media-print
        required: false
        type: boolean
      - default: false
        description: Activate all @media queries before rendering. This can be useful
          if you wan't to render the mobile version of a responsive website
        in: query
        name: media-queries
        required: false
        type: boolean
      - default: false
        description: Generate real (fillable) PDF forms from HTML forms
        in: query
        name: forms
        required: false
        type: boolean
      - description: 'Inject custom CSS into the HTML. e.g. ''body { background-color:
          red;}'''
        in: query
        name: css
        required: false
        type: string
      - default: 1024
        description: If rendering to an image format (PNG or JPG) use this image width
          (in pixels)
        format: int32
        in: query
        name: image-width
        required: false
        type: integer
      - description: If rendering to an image format (PNG or JPG) use this image height
          (in pixels). The default is automatic which dynamically sets the image height
          based on the content
        format: int32
        in: query
        name: image-height
        required: false
        type: integer
      responses:
        200:
          description: ""
          examples: []
          schema:
            format: binary
            type: string
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: HTML5 Render
      tags:
      - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /image-resize:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: 'Resize an image and output as either JPEG or PNG. See: https://www.neutrinoapi.com/api/image-resize/'
      operationId: ImageResizePost
      parameters:
      - description: The URL to the source image
        in: query
        name: image-url
        required: true
        type: string
      - description: Width to resize to (in px)
        format: int32
        in: query
        name: width
        required: true
        type: integer
      - description: Height to resize to (in px)
        format: int32
        in: query
        name: height
        required: true
        type: integer
      - default: png
        description: The output image format, can be either png or jpg
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            format: binary
            type: string
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Image Resize
      tags:
      - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /image-watermark:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: 'Watermark one image with another image. See: https://www.neutrinoapi.com/api/image-watermark/'
      operationId: ImageWatermarkPost
      parameters:
      - description: The URL to the source image
        in: query
        name: image-url
        required: true
        type: string
      - description: The URL to the watermark image
        in: query
        name: watermark-url
        required: true
        type: string
      - default: 50
        description: The opacity of the watermark (0 to 100)
        format: int32
        in: query
        name: opacity
        required: false
        type: integer
      - default: png
        description: The output image format, can be either png or jpg
        in: query
        name: format
        required: false
        type: string
      - default: center
        description: 'The position of the watermark image, possible values are: center,
          top-left, top-center, top-right, bottom-left, bottom-center, bottom-right'
        in: query
        name: position
        required: false
        type: string
      - description: If set resize the resulting image to this width (preserving aspect
          ratio)
        format: int32
        in: query
        name: width
        required: false
        type: integer
      - description: If set resize the resulting image to this height (preserving
          aspect ratio)
        format: int32
        in: query
        name: height
        required: false
        type: integer
      responses:
        200:
          description: ""
          examples: []
          schema:
            format: binary
            type: string
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Image Watermark
      tags:
      - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /ip-blocklist:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: The IP Blocklist API will detect potentially malicious or dangerous
        IP addresses
      operationId: IpBlocklistPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: An IPv4 address
        in: query
        name: ip
        required: true
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/IpBlocklistResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: IP Blocklist
      tags:
      - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /ip-info:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Get location information about an IP address and do reverse DNS
        (PTR) lookups.
      operationId: IpInfoPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The IP address
        in: query
        name: ip
        required: true
        type: string
      - default: false
        description: Do a reverse DNS (PTR) lookup. This option can add extra delay
          to the request so only use it if you need it
        in: query
        name: reverse-lookup
        required: false
        type: boolean
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/IpInfoResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: IP Info
      tags:
      - Geolocation
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /ip-probe:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Analyze and extract provider information for an IP address
      operationId: IpProbePost
      parameters:
      - description: ""
        enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: IPv4 or IPv6 address
        in: query
        name: ip
        required: true
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/IpProbeResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: IP Probe
      tags:
      - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /phone-playback:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Make an automated call to any valid phone number and playback an
        audio message
      operationId: PhonePlaybackPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The phone number to call. Must be valid international format
        in: query
        name: number
        required: true
        type: string
      - description: 'A URL to a valid audio file. Accepted audio formats are: MP3,
          WAV, OGG'
        in: query
        name: audio-url
        required: true
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/PhonePlaybackResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Phone Playback
      tags:
      - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /phone-validate:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Parse, validate and get location information about a phone number
      operationId: PhoneValidatePost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The phone number
        in: query
        name: number
        required: true
        type: string
      - description: ISO 2-letter country code, assume numbers are based in this country.
          If not set numbers are assumed to be in international format (with or without
          the leading + sign)
        in: query
        name: country-code
        required: false
        type: string
      - description: Pass in a users IP address and we will assume numbers are based
          in the country of the IP address
        in: query
        name: ip
        required: false
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/PhoneValidateResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Phone Validate
      tags:
      - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /phone-verify:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Make an automated call to any valid phone number and playback a
        unique security code
      operationId: PhoneVerifyPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The phone number to send the verification code to
        in: query
        name: number
        required: true
        type: string
      - default: 6
        description: The number of digits to use in the security code (between 4 and
          12)
        format: int32
        in: query
        name: code-length
        required: false
        type: integer
      - description: Pass in your own security code. This is useful if you have implemented
          TOTP or similar 2FA methods. If not set then we will generate a secure random
          code (only numerical security codes are currently supported)
        format: int32
        in: query
        name: security-code
        required: false
        type: integer
      - default: 800
        description: The delay in milliseconds between the playback of each security
          code
        format: int32
        in: query
        name: playback-delay
        required: false
        type: integer
      - description: ISO 2-letter country code, assume numbers are based in this country.
          If not set numbers are assumed to be in international format (with or without
          the leading + sign)
        in: query
        name: country-code
        required: false
        type: string
      - default: en
        description: 'The language to playback the verification code in, available
          languages are: de - German, en - English, es - Spanish, fr - Fench, it -
          Italian, pt - Portuguese, ru - Russian'
        in: query
        name: language-code
        required: false
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/PhoneVerifyResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Phone Verify
      tags:
      - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /qr-code:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: 'Generate a QR code as a PNG image. See: https://www.neutrinoapi.com/api/qr-code/'
      operationId: QrCodePost
      parameters:
      - description: The content to encode into the QR code (e.g. a URL or a phone
          number)
        in: query
        name: content
        required: true
        type: string
      - default: 250
        description: The width of the QR code (in px)
        format: int32
        in: query
        name: width
        required: false
        type: integer
      - default: 250
        description: The height of the QR code (in px)
        format: int32
        in: query
        name: height
        required: false
        type: integer
      - default: '#000000'
        description: The QR code foreground color (you should always use a dark color
          for this)
        in: query
        name: fg-color
        required: false
        type: string
      - default: '#ffffff'
        description: The QR code background color (you should always use a light color
          for this)
        in: query
        name: bg-color
        required: false
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            format: binary
            type: string
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: QR Code
      tags:
      - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /sms-verify:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Send a unique security code to any mobile device via SMS
      operationId: SmsVerifyPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The phone number to send a verification code to
        in: query
        name: number
        required: true
        type: string
      - default: 5
        description: The number of digits to use in the security code (must be between
          4 and 12)
        format: int32
        in: query
        name: code-length
        required: false
        type: integer
      - description: ass in your own security code. This is useful if you have implemented
          TOTP or similar 2FA methods. If not set then we will generate a secure random
          code (only numerical security codes are currently supported)
        format: int32
        in: query
        name: security-code
        required: false
        type: integer
      - description: ISO 2-letter country code, assume numbers are based in this country.
          If not set numbers are assumed to be in international format (with or without
          the leading + sign)
        in: query
        name: country-code
        required: false
        type: string
      - default: en
        description: 'The language to send the verification code in, available languages
          are: de - German, en - English, es - Spanish, fr - Fench, it - Italian,
          pt - Portuguese, ru - Russian'
        in: query
        name: language-code
        required: false
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/SmsVerifyResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: SMS Verify
      tags:
      - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /url-info:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Parse, analyze and retrieve content from the supplied URL
      operationId: UrlInfoPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The URL to process
        in: query
        name: url
        required: true
        type: string
      - description: If this URL responds with html, text, json or xml then return
          the response. This option is useful if you want to perform further processing
          on the URL content
        in: query
        name: fetch-content
        required: true
        type: boolean
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/UrlInfoResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: URL Info
      tags:
      - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /user-agent-info:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Parse, validate and get detailed user-agent information from a
        user agent string
      operationId: UserAgentInfoPost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: A user-agent string
        in: query
        name: user-agent
        required: true
        type: string
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/UserAgentInfoResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: User Agent Info
      tags:
      - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /verify-security-code:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Check if a security code from one of the verify APIs is valid
      operationId: VerifySecurityCodePost
      parameters:
      - enum:
        - camel
        in: query
        name: output-case
        required: false
        type: string
      - description: The security code to verify
        format: int32
        in: query
        name: security-code
        required: true
        type: integer
      responses:
        200:
          description: ""
          examples: []
          schema:
            $ref: '#/definitions/VerifySecurityCodeResponse'
        400:
          description: Your API request has been rejected. Check the error code for
            details
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: You have failed to authenticate or are using an invalid API
            path
        default:
          description: We messed up, sorry! Your request has caused a fatal exception
      security:
      - api-key: []
        user-id: []
      summary: Verify Security Code
      tags:
      - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":23:{s:8:\"ApiError\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"apiError\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"API
  error code. If set and > 0 then an API error has occurred your request could not
  be completed\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"apiErrorMsg\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"API
  error message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"apiError\";i:1;s:11:\"apiErrorMsg\";}s:5:\"title\";s:9:\"API
  Error\";s:4:\"type\";s:6:\"object\";}s:21:\"BadWordFilterResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"badWordsList\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of the bad words found\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"badWordsTotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Total
  number of bad words detected\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"censoredContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  censored content (only set if censor-character has been set)\";s:4:\"type\";s:6:\"string\";}s:5:\"isBad\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Does
  the text contain bad words\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:4:{i:0;s:12:\"badWordsList\";i:1;s:13:\"badWordsTotal\";i:2;s:15:\"censoredContent\";i:3;s:5:\"isBad\";}s:5:\"title\";s:24:\"Bad
  Word Filter Response\";s:4:\"type\";s:6:\"object\";}s:17:\"BinLookupResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":16:{s:9:\"cardBrand\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  card brand (e.g. Visa or Mastercard)\";s:4:\"type\";s:6:\"string\";}s:12:\"cardCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  card category (if known)\";s:4:\"type\";s:6:\"string\";}s:8:\"cardType\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  card type, will always be one of: DEBIT, CREDIT, CHARGE CARD\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Full
  country name of the issuer\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"ISO
  2-letter country code of the issuer\";s:4:\"type\";s:6:\"string\";}s:13:\"ipBlocklisted\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"True
  if the customer IP is listed on one of our blocklists, see the IP Blocklist API
  for more details\";s:4:\"type\";s:7:\"boolean\";}s:12:\"ipBlocklists\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"An
  array of strings indicating which blocklists this IP is listed on\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"ipCity\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  city name (if detectable) from the customer IP\";s:4:\"type\";s:6:\"string\";}s:9:\"ipCountry\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  country detected from the customer IP\";s:4:\"type\";s:6:\"string\";}s:13:\"ipCountryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  ISO 2-letter country code detected from the customer IP\";s:4:\"type\";s:6:\"string\";}s:12:\"ipMatchesBin\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"True
  if the customer IP address country matches the BIN country\";s:4:\"type\";s:7:\"boolean\";}s:8:\"ipRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  region name (if detectable) from the customer IP\";s:4:\"type\";s:6:\"string\";}s:6:\"issuer\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  card issuer (if known)\";s:4:\"type\";s:6:\"string\";}s:11:\"issuerPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  card issuer phone number (if known)\";s:4:\"type\";s:6:\"string\";}s:13:\"issuerWebsite\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  card issuer website (if known)\";s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Is
  this a valid BIN or IIN number\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:16:{i:0;s:7:\"country\";i:1;s:6:\"ipCity\";i:2;s:12:\"ipMatchesBin\";i:3;s:8:\"cardType\";i:4;s:12:\"cardCategory\";i:5;s:13:\"ipCountryCode\";i:6;s:9:\"ipCountry\";i:7;s:6:\"issuer\";i:8;s:13:\"ipBlocklisted\";i:9;s:5:\"valid\";i:10;s:12:\"ipBlocklists\";i:11;s:13:\"issuerWebsite\";i:12;s:11:\"countryCode\";i:13;s:8:\"ipRegion\";i:14;s:9:\"cardBrand\";i:15;s:11:\"issuerPhone\";}s:5:\"title\";s:19:\"BIN
  Lookup Response\";s:4:\"type\";s:6:\"object\";}s:9:\"Blacklist\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"isListed\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"true
  if listed, false if not\";s:4:\"type\";s:7:\"boolean\";}s:8:\"listHost\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"the
  domain/hostname of the DNSBL\";s:4:\"type\";s:6:\"string\";}s:8:\"listName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"the
  name of the DNSBL\";s:4:\"type\";s:6:\"string\";}s:10:\"listRating\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"the
  list rating [1-3] with 1 being the best rating and 3 the lowest rating\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"responseTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"the
  DNSBL server response time in milliseconds\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"txtRecord\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"the
  TXT record returned for this listing (if listed)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:8:\"isListed\";i:1;s:8:\"listHost\";i:2;s:10:\"listRating\";i:3;s:8:\"listName\";i:4;s:9:\"txtRecord\";i:5;s:12:\"responseTime\";}s:5:\"title\";s:9:\"Blacklist\";s:4:\"type\";s:6:\"object\";}s:15:\"ConvertResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"fromType\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  type of the value being converted from\";s:4:\"type\";s:6:\"string\";}s:9:\"fromValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  value being converted from\";s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  result of the conversion\";s:4:\"type\";s:6:\"string\";}s:6:\"toType\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  type being converted to\";s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Was
  the coversion successful and produced a valid result\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:5:{i:0;s:5:\"valid\";i:1;s:6:\"result\";i:2;s:9:\"fromValue\";i:3;s:6:\"toType\";i:4;s:8:\"fromType\";}s:5:\"title\";s:16:\"Convert
  Response\";s:4:\"type\";s:6:\"object\";}s:21:\"EmailValidateResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  email domain\";s:4:\"type\";s:6:\"string\";}s:11:\"domainError\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"True
  if this address has a domain error (e.g. no valid mail server records)\";s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  full email address (this could be different to the supplied address if fix-typos
  is used)\";s:4:\"type\";s:6:\"string\";}s:12:\"isDisposable\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"True
  if this address is a disposable, temporary or darknet related email address\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isFreemail\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"True
  if this address is a free-mail address\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isPersonal\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"True
  if this address belongs to a person. False if this is a role based address, e.g.
  admin@, help@, office@, etc.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  email service provider domain\";s:4:\"type\";s:6:\"string\";}s:11:\"syntaxError\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"True
  if this address has a syntax error\";s:4:\"type\";s:7:\"boolean\";}s:10:\"typosFixed\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"True
  if typos have been fixed\";s:4:\"type\";s:7:\"boolean\";}s:5:\"valid\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Is
  this a valid email\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:10:{i:0;s:5:\"valid\";i:1;s:11:\"syntaxError\";i:2;s:6:\"domain\";i:3;s:11:\"domainError\";i:4;s:10:\"isFreemail\";i:5;s:5:\"email\";i:6;s:12:\"isDisposable\";i:7;s:10:\"typosFixed\";i:8;s:10:\"isPersonal\";i:9;s:8:\"provider\";}s:5:\"title\";s:23:\"Email
  Validate Response\";s:4:\"type\";s:6:\"object\";}s:19:\"EmailVerifyResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  email domain\";s:4:\"type\";s:6:\"string\";}s:11:\"domainError\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"True
  if this address has a domain error (e.g. no valid mail server records)\";s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  full email address (this could be different to the supplied address if typos-fixed
  is true)\";s:4:\"type\";s:6:\"string\";}s:10:\"isCatchAll\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"True
  if this email domain has a catch-all policy (it will accept mail for any username)\";s:4:\"type\";s:7:\"boolean\";}s:12:\"isDisposable\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"True
  if this address is a disposable, temporary or darknet related email address\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isFreemail\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"True
  if this address is a free-mail address\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isPersonal\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"True
  if this address is for a person. False if this is a role based address, e.g. admin@,
  help@, office@, etc.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  email service provider domain\";s:4:\"type\";s:6:\"string\";}s:12:\"smtpResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  raw SMTP response message received during verification\";s:4:\"type\";s:6:\"string\";}s:10:\"smtpStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  SMTP verification status for the address (see API docs for full details)\";s:4:\"type\";s:6:\"string\";}s:11:\"syntaxError\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"True
  if this address has a syntax error\";s:4:\"type\";s:7:\"boolean\";}s:10:\"typosFixed\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"True
  if typos have been fixed\";s:4:\"type\";s:7:\"boolean\";}s:5:\"valid\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Is
  this a valid email address (syntax and domain is valid)\";s:4:\"type\";s:7:\"boolean\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"True
  if this address has passed SMTP verification. Check the smtp-status and smtp-response
  fields for specific verification details\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:14:{i:0;s:5:\"valid\";i:1;s:8:\"verified\";i:2;s:5:\"email\";i:3;s:10:\"typosFixed\";i:4;s:11:\"syntaxError\";i:5;s:11:\"domainError\";i:6;s:6:\"domain\";i:7;s:8:\"provider\";i:8;s:10:\"isFreemail\";i:9;s:12:\"isDisposable\";i:10;s:10:\"isPersonal\";i:11;s:10:\"smtpStatus\";i:12;s:12:\"smtpResponse\";i:13;s:10:\"isCatchAll\";}s:5:\"title\";s:21:\"Email
  Verify Response\";s:4:\"type\";s:6:\"object\";}s:22:\"GeocodeAddressResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"found\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  number of possible matching locations found\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Array
  of matching location objects\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"found\";i:1;s:9:\"locations\";}s:5:\"title\";s:24:\"Geocode
  Address Response\";s:4:\"type\";s:6:\"object\";}s:22:\"GeocodeReverseResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  fully formatted address\";s:4:\"type\";s:6:\"string\";}s:17:\"addressComponents\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:126:\"The
  components which make up the address such as road, city, state etc. May also include
  additional metadata about the address\";s:4:\"type\";s:6:\"object\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  city of the location\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  country of the location\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  ISO 2-letter country code of the location\";s:4:\"type\";s:6:\"string\";}s:5:\"found\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"True
  if these coordinates map to a real location\";s:4:\"type\";s:7:\"boolean\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  postal code for the location\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  state of the location\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:7:\"country\";i:1;s:5:\"found\";i:2;s:7:\"address\";i:3;s:4:\"city\";i:4;s:11:\"countryCode\";i:5;s:10:\"postalCode\";i:6;s:5:\"state\";i:7;s:17:\"addressComponents\";}s:5:\"title\";s:24:\"Geocode
  Reverse Response\";s:4:\"type\";s:6:\"object\";}s:17:\"HlrLookupResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":19:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  phone number country\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Number
  location ISO 2-letter country code\";s:4:\"type\";s:6:\"string\";}s:9:\"hlrStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  HLR lookup status. See API docs for specific status details\";s:4:\"type\";s:6:\"string\";}s:8:\"hlrValid\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"Was
  the HLR lookup successful. If true then this is a working and registered cell-phone
  or mobile device (SMS and phone calls will be delivered)\";s:4:\"type\";s:7:\"boolean\";}s:4:\"imsi\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  mobile IMSI number (only set if HLR lookup valid)\";s:4:\"type\";s:6:\"string\";}s:24:\"internationalCallingCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Numbers
  international calling code\";s:4:\"type\";s:6:\"string\";}s:19:\"internationalNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Number
  represented in international format\";s:4:\"type\";s:6:\"string\";}s:8:\"isMobile\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Is
  this a mobile number\";s:4:\"type\";s:7:\"boolean\";}s:8:\"isPorted\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Has
  this number been ported to another network\";s:4:\"type\";s:7:\"boolean\";}s:9:\"isRoaming\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Is
  this number currently roaming from its origin country\";s:4:\"type\";s:7:\"boolean\";}s:11:\"localNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Number
  represented in local format\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Number
  location (could be a city, region or country)\";s:4:\"type\";s:6:\"string\";}s:3:\"mcc\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  mobile MCC number (only set if HLR lookup valid)\";s:4:\"type\";s:6:\"string\";}s:3:\"mnc\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  mobile MNC number (only set if HLR lookup valid)\";s:4:\"type\";s:6:\"string\";}s:4:\"msin\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  mobile MSIN number (only set if HLR lookup valid)\";s:4:\"type\";s:6:\"string\";}s:10:\"numberType\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  number type, possible values are: mobile, fixed-line, premium-rate, toll-free, voip,
  unknown\";s:4:\"type\";s:6:\"string\";}s:11:\"numberValid\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Is
  this a valid phone number (mobile or otherwise)\";s:4:\"type\";s:7:\"boolean\";}s:13:\"originNetwork\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  origin mobile carrier name (only set if HLR lookup valid)\";s:4:\"type\";s:6:\"string\";}s:13:\"portedNetwork\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"If
  the number has been ported, the ported to mobile carrier name (only set if HLR lookup
  valid)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:19:{i:0;s:11:\"numberValid\";i:1;s:24:\"internationalCallingCode\";i:2;s:3:\"mnc\";i:3;s:10:\"numberType\";i:4;s:8:\"hlrValid\";i:5;s:9:\"hlrStatus\";i:6;s:13:\"portedNetwork\";i:7;s:4:\"imsi\";i:8;s:3:\"mcc\";i:9;s:19:\"internationalNumber\";i:10;s:11:\"localNumber\";i:11;s:11:\"countryCode\";i:12;s:8:\"isPorted\";i:13;s:4:\"msin\";i:14;s:8:\"location\";i:15;s:13:\"originNetwork\";i:16;s:8:\"isMobile\";i:17;s:9:\"isRoaming\";i:18;s:7:\"country\";}s:5:\"title\";s:19:\"HLR
  Lookup Response\";s:4:\"type\";s:6:\"object\";}s:22:\"HostReputationResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"isListed\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Is
  this host blacklisted\";s:4:\"type\";s:7:\"boolean\";}s:9:\"listCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  number of DNSBL's the host is listed on\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"lists\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"An
  array of objects for each DNSBL checked\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Blacklist\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"isListed\";i:1;s:5:\"lists\";i:2;s:9:\"listCount\";}s:5:\"title\";s:24:\"Host
  Reputation Response\";s:4:\"type\";s:6:\"object\";}s:19:\"HtmlExtractResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  total number of values extracted\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Array
  of extracted values\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:6:\"values\";}s:5:\"title\";s:21:\"HTML
  Extract Response\";s:4:\"type\";s:6:\"object\";}s:19:\"IpBlocklistResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":16:{s:10:\"blocklists\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"An
  array of strings indicating which blocklists this IP is listed on (empty if not
  listed)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  IP address\";s:4:\"type\";s:6:\"string\";}s:5:\"isBot\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"IP
  is hosting a malicious bot or is part of a botnet\";s:4:\"type\";s:7:\"boolean\";}s:9:\"isDshield\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"IP
  has been flagged on DShield (dshield.org)\";s:4:\"type\";s:7:\"boolean\";}s:12:\"isExploitBot\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"IP
  is hosting an exploit finding bot or exploit scanning software\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isHijacked\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"hijacked
  netblocks or netblocks controlled by criminal organizations\";s:4:\"type\";s:7:\"boolean\";}s:8:\"isListed\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Is
  this IP on a blocklist\";s:4:\"type\";s:7:\"boolean\";}s:9:\"isMalware\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"IP
  is involved in distributing malware\";s:4:\"type\";s:7:\"boolean\";}s:7:\"isProxy\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"IP
  has been detected as an anonymous web proxy or anonymous HTTP proxy\";s:4:\"type\";s:7:\"boolean\";}s:9:\"isSpamBot\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"IP
  address is hosting a spam bot, comment spamming or other spamming software\";s:4:\"type\";s:7:\"boolean\";}s:8:\"isSpider\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"IP
  is a hostile spider or crawler\";s:4:\"type\";s:7:\"boolean\";}s:9:\"isSpyware\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"IP
  is being used by spyware, malware, botnets or for other malicious activities\";s:4:\"type\";s:7:\"boolean\";}s:5:\"isTor\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"IP
  is coming from a Tor node\";s:4:\"type\";s:7:\"boolean\";}s:5:\"isVpn\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"IP
  has been detected as coming from a VPN hosting provider\";s:4:\"type\";s:7:\"boolean\";}s:8:\"lastSeen\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  last time this IP was seen on a blocklist (in Unix time or 0 if not listed recently)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"listCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  number of blocklists the IP is listed on\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:16:{i:0;s:2:\"ip\";i:1;s:5:\"isBot\";i:2;s:12:\"isExploitBot\";i:3;s:9:\"isMalware\";i:4;s:8:\"isSpider\";i:5;s:9:\"isDshield\";i:6;s:9:\"listCount\";i:7;s:7:\"isProxy\";i:8;s:10:\"isHijacked\";i:9;s:5:\"isTor\";i:10;s:9:\"isSpyware\";i:11;s:9:\"isSpamBot\";i:12;s:8:\"isListed\";i:13;s:5:\"isVpn\";i:14;s:8:\"lastSeen\";i:15;s:10:\"blocklists\";}s:5:\"title\";s:21:\"IP
  Blocklist Response\";s:4:\"type\";s:6:\"object\";}s:14:\"IpInfoResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  city name (if detectable)\";s:4:\"type\";s:6:\"string\";}s:13:\"continentCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"ISO
  2-letter continent code\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Full
  country name\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"ISO
  2-letter country code\";s:4:\"type\";s:6:\"string\";}s:8:\"hostname\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  IPs hostname (only set if reverse-lookup has been used)\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Location
  latitude\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Location
  longitude\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Full
  region name (if detectable)\";s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Is
  this a valid IP address\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:9:{i:0;s:5:\"valid\";i:1;s:7:\"country\";i:2;s:8:\"hostname\";i:3;s:4:\"city\";i:4;s:11:\"countryCode\";i:5;s:8:\"latitude\";i:6;s:6:\"region\";i:7;s:9:\"longitude\";i:8;s:13:\"continentCode\";}s:5:\"title\";s:16:\"IP
  Info Response\";s:4:\"type\";s:6:\"object\";}s:15:\"IpProbeResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  city name (if detectable)\";s:4:\"type\";s:6:\"string\";}s:13:\"continentCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"ISO
  2-letter continent code\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Full
  country name\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"ISO
  2-letter country code\";s:4:\"type\";s:6:\"string\";}s:8:\"hostname\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  IPs hostname (PTR)\";s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  IP address\";s:4:\"type\";s:6:\"string\";}s:9:\"isHosting\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"True
  if this IP belongs to a hosting company. Note that this can still be true even if
  the provider type is VPN/proxy, this occurs in the case that the IP is detected
  as both types\";s:4:\"type\";s:7:\"boolean\";}s:5:\"isIsp\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"True
  if this IP belongs to an ISP. Note that this can still be true even if the provider
  type is VPN/proxy, this occurs in the case that the IP is detected as both types\";s:4:\"type\";s:7:\"boolean\";}s:19:\"providerDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"A
  description of the provider, usually extracted from the providers website or WHOIS
  record\";s:4:\"type\";s:6:\"string\";}s:14:\"providerDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  domain name of the provider\";s:4:\"type\";s:6:\"string\";}s:12:\"providerType\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  detected provider type. See API docs for specific provider type details\";s:4:\"type\";s:6:\"string\";}s:15:\"providerWebsite\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  website URL for the provider\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Full
  region name (if detectable)\";s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Is
  this a valid IPv4 or IPv6 address\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:14:{i:0;s:5:\"valid\";i:1;s:7:\"country\";i:2;s:12:\"providerType\";i:3;s:11:\"countryCode\";i:4;s:8:\"hostname\";i:5;s:14:\"providerDomain\";i:6;s:4:\"city\";i:7;s:15:\"providerWebsite\";i:8;s:2:\"ip\";i:9;s:6:\"region\";i:10;s:19:\"providerDescription\";i:11;s:13:\"continentCode\";i:12;s:9:\"isHosting\";i:13;s:5:\"isIsp\";}s:5:\"title\";s:17:\"IP
  Probe Response\";s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  fully formatted address\";s:4:\"type\";s:6:\"string\";}s:17:\"addressComponents\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:126:\"The
  components which make up the address such as road, city, state etc. May also include
  additional metadata about the address\";s:4:\"type\";s:6:\"object\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  city of the location\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  country of the location\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  ISO 2-letter country code of the location\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  location latitude\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  location longitude\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  postal code for the location\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  state of the location (if applicable)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:7:\"country\";i:1;s:7:\"address\";i:2;s:4:\"city\";i:3;s:11:\"countryCode\";i:4;s:8:\"latitude\";i:5;s:10:\"postalCode\";i:6;s:9:\"longitude\";i:7;s:5:\"state\";i:8;s:17:\"addressComponents\";}s:5:\"title\";s:8:\"Location\";s:4:\"type\";s:6:\"object\";}s:21:\"PhonePlaybackResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"calling\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"True
  if the call is being made now\";s:4:\"type\";s:7:\"boolean\";}s:12:\"number-valid\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Is
  this a valid phone number\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:7:\"calling\";i:1;s:12:\"number-valid\";}s:5:\"title\";s:23:\"Phone
  Playback Response\";s:4:\"type\";s:6:\"object\";}s:21:\"PhoneValidateResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  phone number country\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Number
  location ISO 2-letter country code\";s:4:\"type\";s:6:\"string\";}s:24:\"internationalCallingCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Numbers
  international calling code\";s:4:\"type\";s:6:\"string\";}s:19:\"internationalNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Number
  represented in international format\";s:4:\"type\";s:6:\"string\";}s:8:\"isMobile\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Is
  this a mobile number\";s:4:\"type\";s:7:\"boolean\";}s:11:\"localNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Number
  represented in local format\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Number
  location (could be a city, region or country)\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  number type, possible values are: mobile, fixed-line, premium-rate, toll-free, voip,
  unknown\";s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Is
  this a valid phone number\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:9:{i:0;s:5:\"valid\";i:1;s:24:\"internationalCallingCode\";i:2;s:11:\"countryCode\";i:3;s:8:\"location\";i:4;s:8:\"isMobile\";i:5;s:4:\"type\";i:6;s:19:\"internationalNumber\";i:7;s:11:\"localNumber\";i:8;s:7:\"country\";}s:5:\"title\";s:23:\"Phone
  Validate Response\";s:4:\"type\";s:6:\"object\";}s:19:\"PhoneVerifyResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"calling\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"True
  if the call is being made now\";s:4:\"type\";s:7:\"boolean\";}s:11:\"numberValid\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Is
  this a valid phone number\";s:4:\"type\";s:7:\"boolean\";}s:12:\"securityCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"The
  security code generated, you can save this code to perform your own verification
  or you can use the Verify Security Code API\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"numberValid\";i:1;s:7:\"calling\";i:2;s:12:\"securityCode\";}s:5:\"title\";s:21:\"Phone
  Verify Response\";s:4:\"type\";s:6:\"object\";}s:17:\"SmsVerifyResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"numberValid\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Is
  this a valid phone number\";s:4:\"type\";s:7:\"boolean\";}s:12:\"securityCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"The
  security code generated, you can save this code to perform your own verification
  or you can use the Verify Security Code API\";s:4:\"type\";s:6:\"string\";}s:4:\"sent\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"True
  if the SMS has been sent\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:11:\"numberValid\";i:1;s:12:\"securityCode\";i:2;s:4:\"sent\";}s:5:\"title\";s:19:\"SMS
  Verify Response\";s:4:\"type\";s:6:\"object\";}s:15:\"UrlInfoResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":23:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  actual content this URL responded with. Only set if the 'fetch-content' option was
  used\";s:4:\"type\";s:6:\"string\";}s:15:\"contentEncoding\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  encoding type the URL uses\";s:4:\"type\";s:6:\"string\";}s:11:\"contentSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  size of the URL content in bytes\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  content-type the URL points to\";s:4:\"type\";s:6:\"string\";}s:6:\"httpOk\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"True
  if this URL responded with an HTTP OK (200) status\";s:4:\"type\";s:7:\"boolean\";}s:12:\"httpRedirect\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"True
  if this URL responded with a HTTP redirect\";s:4:\"type\";s:7:\"boolean\";}s:10:\"httpStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  HTTP status code this URL responded with\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"httpStatusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  HTTP status message assoicated with the status code\";s:4:\"type\";s:6:\"string\";}s:8:\"loadTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  time taken to load the URL content (in seconds)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"query\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:43:\"A
  key:value map of the URL query paramaters\";s:4:\"type\";s:6:\"object\";}s:4:\"real\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Is
  this URL actually serving real content\";s:4:\"type\";s:7:\"boolean\";}s:10:\"serverCity\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Server
  IP geo-location: full city name (if detectable)\";s:4:\"type\";s:6:\"string\";}s:13:\"serverCountry\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Server
  IP geo-location: full country name\";s:4:\"type\";s:6:\"string\";}s:17:\"serverCountryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Server
  IP geo-location: ISO 2-letter country code\";s:4:\"type\";s:6:\"string\";}s:14:\"serverHostname\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  server hostname (PTR)\";s:4:\"type\";s:6:\"string\";}s:8:\"serverIp\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  IP address of the server hosting this URL\";s:4:\"type\";s:6:\"string\";}s:10:\"serverName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  name of the server software hosting this URL\";s:4:\"type\";s:6:\"string\";}s:12:\"serverRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Server
  IP geo-location: full region name (if detectable)\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  fully qualified URL. This may be different to the URL requested if http-redirect
  is True\";s:4:\"type\";s:6:\"string\";}s:7:\"urlPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"The
  URL path\";s:4:\"type\";s:6:\"string\";}s:7:\"urlPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  URL port\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"urlProtocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  URL protocol (usually http or https)\";s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Is
  this a valid well-formed URL\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:23:{i:0;s:17:\"httpStatusMessage\";i:1;s:12:\"serverRegion\";i:2;s:5:\"query\";i:3;s:10:\"serverName\";i:4;s:7:\"urlPort\";i:5;s:13:\"serverCountry\";i:6;s:4:\"real\";i:7;s:10:\"serverCity\";i:8;s:7:\"urlPath\";i:9;s:3:\"url\";i:10;s:5:\"valid\";i:11;s:14:\"serverHostname\";i:12;s:8:\"loadTime\";i:13;s:6:\"httpOk\";i:14;s:11:\"contentSize\";i:15;s:10:\"httpStatus\";i:16;s:17:\"serverCountryCode\";i:17;s:15:\"contentEncoding\";i:18;s:8:\"serverIp\";i:19;s:11:\"urlProtocol\";i:20;s:11:\"contentType\";i:21;s:12:\"httpRedirect\";i:22;s:7:\"content\";}s:5:\"title\";s:17:\"URL
  Info Response\";s:4:\"type\";s:6:\"object\";}s:21:\"UserAgentInfoResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"browserName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Browser
  software name\";s:4:\"type\";s:6:\"string\";}s:9:\"isAndroid\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"True
  if this is an Android based mobile user agent\";s:4:\"type\";s:7:\"boolean\";}s:5:\"isIos\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"True
  if this is an iOS based mobile user agent\";s:4:\"type\";s:7:\"boolean\";}s:8:\"isMobile\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"True
  if this is a mobile user-agent\";s:4:\"type\";s:7:\"boolean\";}s:11:\"mobileBrand\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Mobile
  device brand\";s:4:\"type\";s:6:\"string\";}s:13:\"mobileBrowser\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Mobile
  device browser\";s:4:\"type\";s:6:\"string\";}s:11:\"mobileModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Mobile
  device model\";s:4:\"type\";s:6:\"string\";}s:18:\"mobileScreenHeight\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Mobile
  device screen height (in px)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"mobileScreenWidth\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Mobile
  device screen width (in px)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"operatingSystem\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Operating
  system\";s:4:\"type\";s:6:\"string\";}s:21:\"operatingSystemFamily\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  operating system family name, this is the OS name without any version information\";s:4:\"type\";s:6:\"string\";}s:22:\"operatingSystemVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  operating system version number (if detectable)\";s:4:\"type\";s:6:\"string\";}s:8:\"producer\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Producer
  or manufacturer\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  user-agent type, possible values are: desktop-browser, email-client, feed-reader,
  software-library, media-player, mobile-browser, robot, unknown\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Software
  version\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:15:{i:0;s:17:\"mobileScreenWidth\";i:1;s:11:\"mobileBrand\";i:2;s:11:\"mobileModel\";i:3;s:8:\"producer\";i:4;s:11:\"browserName\";i:5;s:18:\"mobileScreenHeight\";i:6;s:8:\"isMobile\";i:7;s:4:\"type\";i:8;s:7:\"version\";i:9;s:15:\"operatingSystem\";i:10;s:13:\"mobileBrowser\";i:11;s:9:\"isAndroid\";i:12;s:5:\"isIos\";i:13;s:21:\"operatingSystemFamily\";i:14;s:22:\"operatingSystemVersion\";}s:5:\"title\";s:24:\"User
  Agent Info Response\";s:4:\"type\";s:6:\"object\";}s:26:\"VerifySecurityCodeResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"True
  if the code is valid\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:8:\"verified\";}s:5:\"title\";s:29:\"Verify
  Security Code Response\";s:4:\"type\";s:6:\"object\";}}"
...
