---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:32:\"Official REST API
  for Bitrise.io\";s:5:\"title\";s:11:\"Bitrise API\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"Bitrise
  Support\";s:3:\"url\";s:30:\"https://www.bitrise.io/contact\";s:5:\"email\";s:22:\"letsconnect@bitrise.io\";}s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"name\";s:3:\"MIT\";}s:7:\"version\";s:3:\"0.1\";}"
host: api.bitrise.io
basePath: /v0.1
paths:
  /addons:
    get:
      security:
      - PersonalAccessToken: []
      description: List all the available Bitrise addons
      produces:
      - application/json
      tags:
      - addons
      summary: Get list of available Bitrise addons
      operationId: addons-list
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AddonsListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /addons/{addon-id}:
    get:
      security:
      - PersonalAccessToken: []
      description: Show details of a specific Bitrise addon
      produces:
      - application/json
      tags:
      - addons
      summary: Get a specific Bitrise addon
      operationId: addons-show
      parameters:
      - type: string
        description: Addon ID
        name: addon-id
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AddonsShowResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps:
    get:
      security:
      - PersonalAccessToken: []
      description: List all the apps available for the authenticated account, including
        those that are owned by other users or Organizations.
      produces:
      - application/json
      tags:
      - application
      summary: Get list of the apps
      operationId: app-list
      parameters:
      - enum:
        - last_build_at
        - created_at
        type: string
        description: 'Order of the applications: sort them based on when they were
          created or the time of their last build'
        name: sort_by
        in: query
      - type: string
        description: Slug of the first app in the response
        name: next
        in: query
      - type: integer
        description: 'Max number of elements per page (default: 50)'
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AppListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/register:
    post:
      security:
      - PersonalAccessToken: []
      description: 'Add a new app to Bitrise. This is the first step of the app registration
        process. To successfully set it up, you need to provide the required app parameters:
        your git provider, the repository URL, the slug of the repository as it appears
        at the provider, and the slug of the owner of the repository. Read more about
        the app creation process in our [detailed guide](https://devcenter.bitrise.io/api/adding-and-managing-apps/#adding-a-new-app).'
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - app-setup
      summary: Add a new app
      operationId: app-create
      parameters:
      - description: App parameters
        name: app
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.AppUploadParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AppRespModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: Get the details of a specific app by providing the app slug. You
        can get the app slug by calling the [/apps](https://api-docs.bitrise.io/#/application/app-list)
        endpoint or by opening the app on bitrise.io and copying the slug from the
        URL.
      produces:
      - application/json
      tags:
      - application
      summary: Get a specific app
      operationId: app-show
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AppShowResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/addons:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List all the provisioned addons for the authorized apps
      produces:
      - application/json
      tags:
      - addons
      summary: Get list of the addons for apps
      operationId: addon-list-by-app
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AppAddOnsListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/android-keystore-files:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List all the android keystore files that have been uploaded to
        a specific app.
      produces:
      - application/json
      tags:
      - android-keystore-file
      summary: Get a list of the android keystore files
      operationId: android-keystore-file-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Slug of the first android keystore file in the response
        name: next
        in: query
      - type: integer
        description: Max number of build certificates per page is 50.
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProjectFileStorageListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    post:
      security:
      - PersonalAccessToken: []
      description: Add a new Android keystore file to an app
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - android-keystore-file
      summary: Create an Android keystore file
      operationId: android-keystore-file-create
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - description: Android keystore file parameters
        name: android-keystore-file
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.AndroidKeystoreFileUploadParams'
      responses:
        201:
          description: Created
          schema:
            type: object
            $ref: '#/definitions/v0.ProjectFileStorageResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/avatar-candidates:
    post:
      security:
      - PersonalAccessToken: []
      description: Add new avatar candidates to a specific app
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - avatar-candidate
      summary: Create avatar candidates
      operationId: avatar-candidate-create
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - description: Avatar candidate parameters
        name: avatar-candidate
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.AvatarCandidateCreateBulkParams'
      responses:
        201:
          description: Created
          schema:
            type: object
            $ref: '#/definitions/v0.AvatarCandidateCreateResponseItems'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/avatar-candidates/{avatar-slug}:
    patch:
      security:
      - PersonalAccessToken: []
      description: Promotes an avatar candidate for an app
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - avatar-candidate
      summary: Promote an avatar candidate
      operationId: avatar-candidate-promote
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Avatar candidate slug
        name: avatar-slug
        in: path
        required: true
      - description: Avatar promote parameters
        name: avatar-promote-params
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.AvatarPromoteParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AvatarPromoteResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/bitrise.yml:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: Get the full `bitrise.yml` configuration of an application, by
        providing the app slug. It returns the current `bitrise.yml` that is stored
        on bitrise.io in full, including the trigger map, the different workflows
        and the Steps.
      produces:
      - text/plain
      tags:
      - application
      summary: Get bitrise.yml of a specific app
      operationId: app-config-datastore-show
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      responses:
        200:
          description: '{the bitrise.yml in yml format}'
          schema:
            type: string
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    post:
      security:
      - PersonalAccessToken: []
      description: Upload a new bitrise.yml for your application.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - app-setup
      summary: Upload a new bitrise.yml for your application.
      operationId: app-config-create
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - description: App config parameters
        name: app-config
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.AppConfigRequestParam'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AppConfigRespModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/branches:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List the existing branches of the repository of a specified Bitrise
        app.
      produces:
      - application/json
      tags:
      - application
      summary: List the branches of an app's repository
      operationId: branch-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BranchListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/build-certificates:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List all the build certificates that have been uploaded to a specific
        app. Read more in our [Listing the uploaded iOS code signing files of an app](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#listing-the-uploaded-ios-code-signing-files-of-an-app)
        guide.
      produces:
      - application/json
      tags:
      - build-certificate
      summary: Get a list of the build certificates
      operationId: build-certificate-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Slug of the first build certificate in the response
        name: next
        in: query
      - type: integer
        description: Max number of build certificates per page is 50.
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildCertificateListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    post:
      security:
      - PersonalAccessToken: []
      description: Create a temporary pre-signed upload URL for the build certificate
        and upload the file to AWS with a simple `curl` request. To complete the uploading
        process and view your files on the Code Signing tab of your app, continue
        with the [POST /apps/{app-slug}/build-certificates/{build-certificate-slug}/uploaded](https://api-docs.bitrise.io/#/build-certificate/build-certificate-confirm)
        endpoint. Read more in our [Creating and uploading an iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#creating--uploading-an-ios-code-signing-file)
        guide.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - build-certificate
      summary: Create a build certificate
      operationId: build-certificate-create
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - description: Build certificate parameters such as file name and its file size
        name: build-certificate
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.BuildCertificateUploadParams'
      responses:
        201:
          description: Created
          schema:
            type: object
            $ref: '#/definitions/v0.BuildCertificateResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/build-certificates/{build-certificate-slug}:
    get:
      security:
      - PersonalAccessToken: []
      description: Retrieve data of a specific build certificate. You can fetch the
        build certificate slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list)
        endpoint to list all available build certificates of an app. Read more in
        our [Getting a specific iOS code signing file's data](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#getting-a-specific-ios-code-signing-files-data)
        guide.
      produces:
      - application/json
      tags:
      - build-certificate
      summary: Get a specific build certificate
      operationId: build-certificate-show
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build certificate slug
        name: build-certificate-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildCertificateResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    delete:
      security:
      - PersonalAccessToken: []
      description: Delete an app's build certificate. You can fetch the build certificate
        slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list)
        endpoint to list all available build certificates of an app. Read more in
        our [Deleting an iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#deleting-an-ios-code-signing-file)
        guide.
      produces:
      - application/json
      tags:
      - build-certificate
      summary: Delete a build certificate
      operationId: build-certificate-delete
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build certificate slug
        name: build-certificate-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildCertificateResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    patch:
      security:
      - PersonalAccessToken: []
      description: Update an uploaded build certificate's attributes. You can fetch
        the build certificate slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list)
        endpoint. Read more in our [Updating an uploaded iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#confirming-the-ios-code-signing-file-upload)
        guide.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - build-certificate
      summary: Update a build certificate
      operationId: build-certificate-update
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build certificate slug
        name: build-certificate-slug
        in: path
        required: true
      - description: Build certificate parameters
        name: build-certificate
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.BuildCertificateUpdateParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildCertificateResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/build-certificates/{build-certificate-slug}/uploaded:
    post:
      security:
      - PersonalAccessToken: []
      description: This is the last step of uploading a build certificate to Bitrise.
        Confirm the build certificate upload and view the file on the Code Signing
        tab of a specific app. Read more in our [Confirming the iOS code signing file
        upload](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#confirming-the-ios-code-signing-file-upload)
        guide.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - build-certificate
      summary: Confirm a build certificate upload
      operationId: build-certificate-confirm
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build certificate slug
        name: build-certificate-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildCertificateResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/build-requests:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List the existing open build requests of a specified Bitrise app
      produces:
      - application/json
      tags:
      - build-request
      summary: List the open build requests for an app
      operationId: build-request-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildRequestListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/build-requests/{build-request-slug}:
    patch:
      security:
      - PersonalAccessToken: []
      description: Update a specific build request of a specific app
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - build-request
      summary: Update a build request
      operationId: build-request-update
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build request slug
        name: build-request-slug
        in: path
        required: true
      - description: Build request parameters
        name: build-request
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.BuildRequestUpdateParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildRequestUpdateResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/build-workflows:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List the workflows that were triggered at any time for a given
        Bitrise app. Note that it might list workflows that are currently not defined
        in the app's `bitrise.yml` configuration - and conversely, workflows that
        were never triggered will not be listed even if they are defined in the `bitrise.yml`
        file.
      produces:
      - application/json
      tags:
      - builds
      summary: List the workflows of an app
      operationId: build-workflow-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildWorkflowListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/builds:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: 'List all the builds of a specified Bitrise app. Set parameters
        to filter builds: for example, you can search for builds run with a given
        workflow or all builds that were triggered by Pull Requests. It returns all
        the relevant data of the build.'
      produces:
      - application/json
      tags:
      - builds
      summary: List all builds of an app
      operationId: build-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - enum:
        - running_first
        - created_at
        type: string
        description: 'Order of builds: sort them based on when they were created or
          the time when they were triggered'
        name: sort_by
        in: query
      - type: string
        description: The branch which was built
        name: branch
        in: query
      - type: string
        description: The name of the workflow used for the build
        name: workflow
        in: query
      - type: string
        description: The commit message of the build
        name: commit_message
        in: query
      - type: string
        description: The event that triggered the build (push, pull-request, tag)
        name: trigger_event_type
        in: query
      - type: integer
        description: The id of the pull request that triggered the build
        name: pull_request_id
        in: query
      - type: integer
        description: The build number
        name: build_number
        in: query
      - type: integer
        description: List builds run after a given date (Unix Timestamp)
        name: after
        in: query
      - type: integer
        description: List builds run before a given date (Unix Timestamp)
        name: before
        in: query
      - type: integer
        description: 'The status of the build: not finished (0), successful (1), failed
          (2), aborted with failure (3), aborted with success (4)'
        name: status
        in: query
      - type: string
        description: Slug of the first build in the response
        name: next
        in: query
      - type: integer
        description: 'Max number of elements per page (default: 50)'
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    post:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: 'Trigger a new build. Specify an app slug and at least one parameter
        out of three: a git tag or git commit hash, a branch, or a workflow ID. You
        can also set specific parameters for Pull Request builds and define additional
        environment variables for your build. [Check out our detailed guide](https://devcenter.bitrise.io/api/build-trigger/).'
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - builds
      summary: Trigger a new build
      operationId: build-trigger
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - description: Build trigger parameters
        name: build_params
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.BuildTriggerParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildTriggerRespModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/builds/{build-slug}:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: Get the specified build of a given Bitrise app. You need to provide
        both an app slug and a build slug. You can get the build slug either by calling
        the [/builds](https://api-docs.bitrise.io/#/builds/build-list) endpoint or
        by clicking on the build on bitrise.io and copying the slug from the URL.
        The endpoint returns all the relevant data of the build.
      produces:
      - application/json
      tags:
      - builds
      summary: Get a build of a given app
      operationId: build-show
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build slug
        name: build-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildShowResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/builds/{build-slug}/abort:
    post:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: Abort a specific build. Set an abort reason with the `abort_reason`
        parameter. Use the `abort_with_success` parameter to abort a build but still
        count it as a successful one.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - builds
      summary: Abort a specific build
      operationId: build-abort
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build slug
        name: build-slug
        in: path
        required: true
      - description: Build abort parameters
        name: build-abort-params
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.BuildAbortParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildAbortResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        429:
          description: Too Many Requests
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/builds/{build-slug}/artifacts:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List all build artifacts that have been generated for an app's
        build. You can use the created build artifact slugs from the response output
        to retrieve data of a specific build artifact with the [GET/apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-show)
        endpoint or update a build artifact with the [PATCH/apps](https://api-docs.bitrise.io/#/build-artifact/artifact-update)
        endpoint.
      produces:
      - application/json
      tags:
      - build-artifact
      summary: Get a list of all build artifacts
      operationId: artifact-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build slug
        name: build-slug
        in: path
        required: true
      - type: string
        description: Slug of the first build artifact in the response
        name: next
        in: query
      - type: integer
        description: Max number of build artifacts per page is 50.
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ArtifactListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/builds/{build-slug}/artifacts/{artifact-slug}:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: Retrieve data of a specific build artifact. The response output
        contains a time-limited download url (expires in 10 minutes) and a public
        install page URL. You can view the build artifact with both URLs, but the
        public install page url will not work unless you [enable it](https://devcenter.bitrise.io/tutorials/deploy/bitrise-app-deployment/#enabling-public-page-for-the-app).
      produces:
      - application/json
      tags:
      - build-artifact
      summary: Get a specific build artifact
      operationId: artifact-show
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build slug
        name: build-slug
        in: path
        required: true
      - type: string
        description: Artifact slug
        name: artifact-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ArtifactShowResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    delete:
      security:
      - PersonalAccessToken: []
      description: Delete a build artifact of an app's build. The required parameters
        are app slug, build slug and artifact slug. You can fetch the build artifact
        slug if you first list all build artifacts of an app with the [/apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-list)
        endpoint.
      produces:
      - application/json
      tags:
      - build-artifact
      summary: Delete a build artifact
      operationId: artifact-delete
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build slug
        name: build-slug
        in: path
        required: true
      - type: string
        description: Artifact slug
        name: artifact-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ArtifactDeleteResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    patch:
      security:
      - PersonalAccessToken: []
      description: Update the `is_public_page_enabled` attribute of your app's build.
        The required parameters are app slug, build slug and artifact slug. You can
        fetch the build artifact slug if you first list all build artifacts of an
        app with the [GET /apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-list)
        endpoint.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - build-artifact
      summary: Update a build artifact
      operationId: artifact-update
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build slug
        name: build-slug
        in: path
        required: true
      - type: string
        description: Artifact slug
        name: artifact-slug
        in: path
        required: true
      - description: Artifact parameters
        name: artifact-params
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.ArtifactUpdateParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ArtifactShowResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/builds/{build-slug}/bitrise.yml:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: Get the bitrise.yml file of one of the builds of a given app. This
        will return the `bitrise.yml` configuration with which the build ran. You
        can compare it to [the current bitrise.yml configuration](https://api-docs.bitrise.io/#/application/app-config-datastore-show)
        of the app.
      produces:
      - text/plain
      tags:
      - builds
      summary: Get the bitrise.yml of a build
      operationId: build-bitrise-yml-show
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build slug
        name: build-slug
        in: path
        required: true
      responses:
        200:
          description: '{the bitrise.yml in yml format}'
          schema:
            type: string
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/builds/{build-slug}/log:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: Get the build log of a specified build of a Bitrise app. You can
        get the build slug either by calling the [/builds](https://api-docs.bitrise.io/#/builds/build-list)
        endpoint or by clicking on the build on bitrise.io and copying the slug from
        the URL.
      produces:
      - application/json
      tags:
      - builds
      summary: Get the build log of a build
      operationId: build-log
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Build slug
        name: build-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildLogInfoResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/finish:
    post:
      security:
      - PersonalAccessToken: []
      description: Save the application after registering it on Bitrise and registering
        an SSH key (and, optionally, adding a webhook). With this endpoint you can
        define the initial configuration, define application-level environment variables,
        determine the project type, and set an Organization to be the owner of the
        app. Read more about the app registration process in our [detailed guide](https://devcenter.bitrise.io/api/adding-and-managing-apps/#adding-a-new-app).
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - app-setup
      summary: Save the application at the end of the app registration process
      operationId: app-finish
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - description: App finish parameters
        name: app
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.AppFinishParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AppFinishRespModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/generic-project-files:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List all the generic project files that have been uploaded to a
        specific app. Read more in our [Listing the uploaded files of an app](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#listing-the-uploaded-files-of-an-app)
        guide.
      produces:
      - application/json
      tags:
      - generic-project-file
      summary: Get a list of the generic project files
      operationId: generic-project-file-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Slug of the first generic project file in the response
        name: next
        in: query
      - type: integer
        description: Max number of build certificates per page is 50.
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProjectFileStorageListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    post:
      security:
      - PersonalAccessToken: []
      description: Create a temporary pre-signed upload URL (expires in 10 minutes)
        for the generic project file and upload it to AWS with a simple `curl` request.
        To complete the uploading process and view your files on the Code Signing
        tab of your app, continue with the [POST /apps/{app-slug}/generic-project-files/{generic-project-file-slug}/uploaded](https://api-docs.bitrise.io/#/generic-project-file/generic-project-file-confirm)
        endpoint. Read more in our [Creating and uploading files to Generic File Storage](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#creating-and-uploading-files-to-generic-file-storage)
        guide.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - generic-project-file
      summary: Create a generic project file
      operationId: generic-project-files-create
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - description: Generic project file parameters
        name: generic-project-file
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.ProjectFileStorageUploadParams'
      responses:
        201:
          description: Created
          schema:
            type: object
            $ref: '#/definitions/v0.ProjectFileStorageResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/generic-project-files/{generic-project-file-slug}:
    get:
      security:
      - PersonalAccessToken: []
      description: Retrieve data of a specific generic project file to check its attributes
        and optionally modify them with the [PATCH /apps/](https://api-docs.bitrise.io/#/generic-project-file/generic-project-file-update)
        endpoint. Read more in our [Retrieving a specific file's data](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#retrieving-a-specific-files-data)
        guide.
      produces:
      - application/json
      tags:
      - generic-project-file
      summary: Get a specific generic project file
      operationId: generic-project-file-show
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Generic project file slug
        name: generic-project-file-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProjectFileStorageResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    delete:
      security:
      - PersonalAccessToken: []
      description: Delete an app's generic project file. You can fetch an app's generic
        project file slug if you first list all the uploaded files with the [GET /apps/{app-slug}/generic-project-files](https://api-docs.bitrise.io/#/generic-project-file/generic-project-file-list)
        endpoint. Read more in our [Deleting a file](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#deleting-a-file)
        guide.
      produces:
      - application/json
      tags:
      - generic-project-file
      summary: Delete a generic project file
      operationId: generic-project-file-delete
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Generic project file slug
        name: generic-project-file-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProjectFileStorageResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    patch:
      security:
      - PersonalAccessToken: []
      description: Update a generic project file's attributes. You can fetch an app's
        generic project file slug if you first list all the uploaded files with the
        [GET /apps/{app-slug}/generic-project-files](https://api-docs.bitrise.io/#/generic-project-file/generic-project-file-list)
        endpoint. Read more in our [Updating an uploaded file](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#updating-an-uploaded-file)
        guide.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - generic-project-file
      summary: Update a generic project file
      operationId: generic-project-file-update
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Generic project file slug
        name: generic-project-file-slug
        in: path
        required: true
      - description: Generic project file parameters
        name: generic-project-file
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.ProjectFileStorageDocumentUpdateParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProjectFileStorageResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/generic-project-files/{generic-project-file-slug}/uploaded:
    post:
      security:
      - PersonalAccessToken: []
      description: This is the last step of uploading a generic project file to Bitrise.
        Confirm the generic project file upload and view the file on the Code Signing
        tab of a specific app. Read more in our [Confirming the upload](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#confirming-the-file-upload)
        guide.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - generic-project-file
      summary: Confirm a generic project file upload
      operationId: generic-project-file-confirm
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Generic project file slug
        name: generic-project-file-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProjectFileStorageResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/outgoing-webhooks:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List all the outgoing webhooks registered for a specified Bitrise
        app. This returns all the relevant data of the webhook, including the slug
        of the webhook and its URL.
      produces:
      - application/json
      tags:
      - outgoing-webhook
      summary: List the outgoing webhooks of an app
      operationId: outgoing-webhook-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Slug of the first webhook in the response
        name: next
        in: query
      - type: integer
        description: 'Max number of elements per page (default: 50)'
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AppWebhookListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    post:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: 'Create an outgoing webhook for a specified Bitrise app: this can
        be used to send build events to a specified URL with custom headers. Currently,
        only build events can trigger outgoing webhooks.'
      produces:
      - application/json
      tags:
      - outgoing-webhook
      summary: Create an outgoing webhook for an app
      operationId: outgoing-webhook-create
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - description: App webhook creation params
        name: app-webhook-create-params
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.AppWebhookCreateParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AppWebhookCreatedResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/outgoing-webhooks/{app-webhook-slug}:
    put:
      security:
      - PersonalAccessToken: []
      description: 'Update an existing outgoing webhook (URL, events, secrets and
        headers) for a specified Bitrise app. Even if you do not want to change one
        of the parameters, you still have to provide that parameter as well: simply
        use its existing value.'
      produces:
      - application/json
      tags:
      - outgoing-webhook
      summary: Update an outgoing webhook of an app
      operationId: outgoing-webhook-update
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: App webhook slug
        name: app-webhook-slug
        in: path
        required: true
      - description: App webhook update params
        name: app-webhook-update-params
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.AppWebhookUpdateParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AppWebhookResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    delete:
      security:
      - PersonalAccessToken: []
      description: Delete an existing outgoing webhook for a specified Bitrise app.
      produces:
      - application/json
      tags:
      - outgoing-webhook
      summary: Delete an outgoing webhook of an app
      operationId: outgoing-webhook-delete
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: App webhook slug
        name: app-webhook-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.AppWebhookDeletedResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/outgoing-webhooks/{app-webhook-slug}/delivery-items:
    get:
      security:
      - PersonalAccessToken: []
      description: List all the delivery items of an outgoing webhook of a Bitrise
        application
      produces:
      - application/json
      tags:
      - webhook-delivery-item
      summary: List the webhook delivery items of an app
      operationId: webhook-delivery-item-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: App webhook slug
        name: app-webhook-slug
        in: path
        required: true
      - type: string
        description: Slug of the first delivery item in the response
        name: next
        in: query
      - type: integer
        description: 'Max number of elements per page (default: 50)'
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.WebhookDeliveryItemShowResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/outgoing-webhooks/{app-webhook-slug}/delivery-items/{webhook-delivery-item-slug}:
    get:
      security:
      - PersonalAccessToken: []
      description: Get the specified delivery item of an outgoing webhook of a Bitrise
        application
      produces:
      - application/json
      tags:
      - webhook-delivery-item
      summary: Get a specific delivery item of a webhook
      operationId: webhook-delivery-item-show
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: App webhook slug
        name: app-webhook-slug
        in: path
        required: true
      - type: string
        description: Webhook delivery item slug
        name: webhook-delivery-item-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.WebhookDeliveryItemResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/outgoing-webhooks/{app-webhook-slug}/delivery-items/{webhook-delivery-item-slug}/redeliver:
    post:
      security:
      - PersonalAccessToken: []
      description: Re-deliver the delivery item of a specified webhook of a Bitrise
        application
      produces:
      - application/json
      tags:
      - webhook-delivery-item
      summary: Re-deliver the webhook delivery items of an app
      operationId: webhook-delivery-item-redeliver
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: App webhook slug
        name: app-webhook-slug
        in: path
        required: true
      - type: string
        description: Webhook delivery item slug
        name: webhook-delivery-item-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/provisioning-profiles:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List all the provisioning profiles that have been uploaded to a
        specific app. Read more in our [Listing the uploaded iOS code signing files
        of an app](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#listing-the-uploaded-ios-code-signing-files-of-an-app)
        guide.
      produces:
      - application/json
      tags:
      - provisioning-profile
      summary: Get a list of the provisioning profiles
      operationId: provisioning-profile-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Slug of the first provisioning profile in the response
        name: next
        in: query
      - type: integer
        description: 'Max number of elements per page (default: 50)'
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProvisionProfileListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    post:
      security:
      - PersonalAccessToken: []
      description: Create a temporary pre-signed upload URL (expires in 10 minutes)
        for the provisioning profile and upload it to AWS with a simple `curl` request.
        To complete the upload process, continue with the [POST /apps/{app-slug}/provisioning-profiles/{provisioning-profile-slug}/uploaded](https://api-docs.bitrise.io/#/provisioning-profile/provisioning-profile-confirm)
        endpoint. Read more in our [Creating and uploading an iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#creating--uploading-an-ios-code-signing-file)
        guide.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - provisioning-profile
      summary: Create a provisioning profile
      operationId: provisioning-profile-create
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - description: Provisioning profile parameters such as file name and file size
        name: provisioning-profile
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.ProvisionProfileUploadParams'
      responses:
        201:
          description: Created
          schema:
            type: object
            $ref: '#/definitions/v0.ProvisionProfileResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/provisioning-profiles/{provisioning-profile-slug}:
    get:
      security:
      - PersonalAccessToken: []
      description: Retrieve data of a specific provisioning profile. You can fetch
        the provisioning profile's slug if you call the [GET /apps/{app-slug}/provisioning-profiles](https://api-docs.bitrise.io/#/provisioning-profile/provisioning-profile-list)
        endpoint. Read more in our [Getting a specific iOS code signing file's data](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#getting-a-specific-ios-code-signing-files-data)
        guide.
      produces:
      - application/json
      tags:
      - provisioning-profile
      summary: Get a specific provisioning profile
      operationId: provisioning-profile-show
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Provisioning profile slug
        name: provisioning-profile-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProvisionProfileResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    delete:
      security:
      - PersonalAccessToken: []
      description: Delete an app's provisioning profile. You can fetch the provisioning
        profile's slug if you call the [GET /apps/{app-slug}/provisioning-profiles](https://api-docs.bitrise.io/#/provisioning-profile/provisioning-profile-list)
        endpoint. Read more in our [Deleting an iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#deleting-an-ios-code-signing-file)
        guide.
      produces:
      - application/json
      tags:
      - provisioning-profile
      summary: Delete a provisioning profile
      operationId: provisioning-profile-delete
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Provisioning profile slug
        name: provisioning-profile-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProvisionProfileResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
    patch:
      security:
      - PersonalAccessToken: []
      description: Update an uploaded provisioning profile's attributes. You can fetch
        the provisioning profile's slug if you call the [GET /apps/{app-slug}/provisioning-profiles](https://api-docs.bitrise.io/#/provisioning-profile/provisioning-profile-list)
        endpoint. Read more in our [Updating an uploaded iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#confirming-the-ios-code-signing-file-upload)
        guide.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - provisioning-profile
      summary: Update a provisioning profile
      operationId: provisioning-profile-update
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Provisioning profile slug
        name: provisioning-profile-slug
        in: path
        required: true
      - description: Provisioning profile parameters
        name: provisioning-profile
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.ProvProfileDocumentUpdateParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProvisionProfileResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/provisioning-profiles/{provisioning-profile-slug}/uploaded:
    post:
      security:
      - PersonalAccessToken: []
      description: This is the last step of the upload process. Confirm the provisioning
        profile upload and view the file on the Code Signing tab of a specific app.
        Read more in our [Confirming the iOS code signing file upload](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#confirming-the-ios-code-signing-file-upload)
        guide.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - provisioning-profile
      summary: Confirm a provisioning profile upload
      operationId: provisioning-profile-confirm
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - type: string
        description: Provisioning profile slug
        name: provisioning-profile-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ProvisionProfileResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/register-ssh-key:
    post:
      security:
      - PersonalAccessToken: []
      description: Add an SSH-key to a specific app. After creating an app, you need
        to register the SSH key so that Bitrise will be able to access and clone your
        repository during the build process. This requires the app slug of your newly
        created app.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - app-setup
      summary: Add an SSH-key to a specific app
      operationId: ssh-key-create
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      - description: SSH key parameters
        name: ssh-key
        in: body
        required: true
        schema:
          type: object
          $ref: '#/definitions/v0.SSHKeyUploadParams'
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.SSHKeyRespModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/register-webhook:
    post:
      security:
      - PersonalAccessToken: []
      description: '[Register an incoming webhook](https://devcenter.bitrise.io/api/incoming-and-outgoing-webhooks/#incoming-webhooks)
        for a specific application. You can do this during the app registration process
        or at any other time in an app''s life. When calling this endpoint, a webhook
        is registered at your git provider: this is necessary to automatically trigger
        builds on Bitrise.'
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - app-setup
      summary: Register an incoming webhook for a specific application
      operationId: app-webhook-create
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.WebhookRespModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /apps/{app-slug}/test-devices:
    get:
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      description: List registered test devices of all members of a specified Bitrise
        app
      produces:
      - application/json
      tags:
      - test-devices
      summary: List the test devices for an app
      operationId: test-device-list
      parameters:
      - type: string
        description: App slug
        name: app-slug
        in: path
        required: true
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.TestDeviceListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /builds:
    get:
      security:
      - PersonalAccessToken: []
      description: List all the Bitrise builds that can be accessed with the authenticated
        account. Filter builds based on their owner, using the owner slug, or the
        status of the build.
      produces:
      - application/json
      tags:
      - builds
      summary: List all builds
      operationId: build-list-all
      parameters:
      - type: string
        description: The slug of the owner of the app or apps
        name: owner_slug
        in: query
      - type: boolean
        description: 'Indicates whether the build has started yet (true: the build
          hasn''t started)'
        name: is_on_hold
        in: query
      - type: integer
        description: 'The status of the build: not finished (0), successful (1), failed
          (2), aborted with failure (3), aborted with success (4)'
        name: status
        in: query
      - type: string
        description: Slug of the first build in the response
        name: next
        in: query
      - type: integer
        description: 'Max number of elements per page (default: 50)'
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.BuildListAllResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /me:
    get:
      security:
      - PersonalAccessToken: []
      description: Shows the authenticated users profile data
      produces:
      - application/json
      tags:
      - user
      summary: Get your profile data
      operationId: user-profile
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.UserProfileRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /me/activities:
    get:
      security:
      - PersonalAccessToken: []
      description: List all the Bitrise activity events
      produces:
      - application/json
      tags:
      - activity
      summary: Get list of Bitrise activity events
      operationId: activity-list
      parameters:
      - type: string
        description: Slug of the first activity event in the response
        name: next
        in: query
      - type: integer
        description: 'Max number of elements per page (default: 50)'
        name: limit
        in: query
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.ActivityEventListResponseModel'
        400:
          description: Bad Request
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        401:
          description: Unauthorized
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        404:
          description: Not Found
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
        500:
          description: Internal Server Error
          schema:
            type: object
            $ref: '#/definitions/service.StandardErrorRespModel'
  /me/plan:
    get:
      security:
      - PersonalAccessToken: []
      description: 'Get the subscription of the user: the current plan, any pending
        plans, and the duration of a trial period if applicable'
      produces:
      - application/json
      tags:
      - user
      summary: The subscription plan of the user
      operationId: user-plan
      responses:
        200:
          description: OK
          schema:
            type: object
            $ref: '#/definitions/v0.UserPlanRespModel'
        400:
          description: Bad Request
[...]
