---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:5:\"2.0.0\";s:5:\"title\";s:11:\"Top
  Stories\";s:11:\"description\";s:80:\"The Top Stories API provides lists of articles
  and associated images by section.\";s:4:\"logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:36:\"img/logo_api_top_stories_150x150.png\";}}"
host: api.nytimes.com
basePath: /svc/topstories/v2
paths:
  /{section}.{format}:
    get:
      summary: Top Stories
      description: The Top Stories API returns a list of articles and associated images
        currently on the specified section.  Support JSON and JSONP.n
      parameters:
      - name: section
        in: path
        description: The section the story appears in.
        required: true
        type: string
        enum:
        - home
        - opinion
        - world
        - national
        - politics
        - upshot
        - nyregion
        - business
        - technology
        - science
        - health
        - sports
        - arts
        - books
        - movies
        - theater
        - sundayreview
        - fashion
        - tmagazine
        - food
        - travel
        - magazine
        - realestate
        - automobiles
        - obituaries
        - insider
        x-consoleDefault: home
      - name: format
        in: path
        description: if this is JSONP or JSON
        required: true
        type: string
        enum:
        - json
        - jsonp
        x-consoleDefault: json
      - name: callback
        in: query
        description: The name of the function the API call results will be passed
          to. Required when using JSONP. This parameter has only one valid value per
          section. The format is {section_name}TopStoriesCallback.n
        required: false
        type: string
      tags:
      - Stories
      responses:
        200:
          description: An array of articles
          schema:
            type: object
            properties:
              results:
                type: array
                items:
                  $ref: '#/definitions/Article'
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:7:\"Article\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:7:\"section\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"subsection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"abstract\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"thumbnail_standard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"short_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"byline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"item_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"updated_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"created_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"published_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"material_type_facet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"kicker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"des_facet\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"org_facet\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"per_facet\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"geo_facet\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"multimedia\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subtype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:12:\"related_urls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"suggested_link_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}"
...
