---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:80:\"The Top Stories
  API provides lists of articles and associated images by section.\";s:14:\"termsOfService\";s:32:\"http://developer.nytimes.com/tou\";s:5:\"title\";s:11:\"Top
  Stories\";s:7:\"version\";s:5:\"2.0.0\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:35:\"http://developer.nytimes.com/signup\";}s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"media\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:92:\"https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:97:\"https://raw.githubusercontent.com/NYTimes/public_api_specs/master/top_stories/top_stories_v2.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"nytimes.com\";s:13:\"x-serviceName\";s:11:\"top_stories\";}"
host: api.nytimes.com
basePath: /svc/topstories/v2
paths:
  /{section}.{format}:
    get:
      description: The Top Stories API returns a list of articles and associated images
        currently on the specified section.  Support JSON and JSONP.n
      parameters:
      - description: The section the story appears in.
        enum:
        - home
        - opinion
        - world
        - national
        - politics
        - upshot
        - nyregion
        - business
        - technology
        - science
        - health
        - sports
        - arts
        - books
        - movies
        - theater
        - sundayreview
        - fashion
        - tmagazine
        - food
        - travel
        - magazine
        - realestate
        - automobiles
        - obituaries
        - insider
        in: path
        name: section
        required: true
        type: string
        x-consoleDefault: home
      - description: if this is JSONP or JSON
        enum:
        - json
        - jsonp
        in: path
        name: format
        required: true
        type: string
        x-consoleDefault: json
      - description: The name of the function the API call results will be passed
          to. Required when using JSONP. This parameter has only one valid value per
          section. The format is {section_name}TopStoriesCallback.n
        in: query
        name: callback
        required: false
        type: string
      responses:
        200:
          description: An array of articles
          schema:
            properties:
              results:
                items:
                  $ref: '#/definitions/Article'
                type: array
            type: object
      summary: Top Stories
      tags:
      - Stories
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:7:\"Article\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:8:\"abstract\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"byline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"created_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"des_facet\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"geo_facet\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"item_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"kicker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"material_type_facet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"multimedia\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"subtype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"org_facet\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"per_facet\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"published_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"related_urls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"suggested_link_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"section\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"short_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"subsection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"thumbnail_standard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"updated_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
