---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:312:\"The Geographic
  API extends the Semantic API, using a linked data approach to enhance location concepts
  used in The New York Times' controlled vocabulary and data resources which combine
  them with the GeoNames database, an authoritative and free to use database of global
  geographical places, names and features.\n\";s:14:\"termsOfService\";s:32:\"http://developer.nytimes.com/tou\";s:5:\"title\";s:10:\"Geographic\";s:7:\"version\";s:5:\"1.0.0\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:35:\"http://developer.nytimes.com/signup\";}s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"media\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:92:\"https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:89:\"https://raw.githubusercontent.com/NYTimes/public_api_specs/master/geo_api/geo_api_v2.json\";s:7:\"version\";s:3:\"2.0\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"nytimes.com\";s:13:\"x-serviceName\";s:7:\"geo_api\";}"
host: api.nytimes.com
basePath: /svc/semantic/v2/geocodes
paths:
  /query.json:
    get:
      description: Geographic API
      parameters:
      - description: A displayable name for the specified place.
        in: query
        name: name
        required: false
        type: string
      - description: The latitude of the specified place.n
        in: query
        name: latitude
        type: string
      - description: The longitude of the specified place.
        in: query
        name: longitude
        type: string
      - description: The elevation of the specified place, in meters.
        in: query
        name: elevation
        required: false
        type: integer
      - description: Along with ne, forms a bounded box using the longitude and latitude
          coordinates specified as the southwest corner. The search results are limited
          to the resulting box. Two float values, separated by a comma `latitude,longitude`
          <br/> The ne parameter is required to use this parameter.
        in: query
        name: sw
        required: false
        type: string
      - description: 'Search keywords to perform a text search on the fields: web_description,
          event_name and venue_name. ''AND'' searches can be performed by wrapping
          query terms in quotes. If you do not specify a query, all results will be
          returned.n'
        in: query
        name: query
        required: false
        type: string
      - description: Filters search results based on the facets provided.  For more
          information on the values you can filter on, see Facets.n
        in: query
        name: filter
        required: false
        type: string
      - description: Start date to end date in the following format- YYYY-MM-DD:YYYY-MM-DD
        in: query
        name: date_range
        required: false
        type: string
      - default: 0
        description: When facets is set to 1, a count of all facets will be included
          in the response.
        enum:
        - 0
        - 1
        in: query
        name: facets
        type: integer
      - description: 'Sorts your results on the fields specified. <br/> `sort_value1+[asc
          | desc],sort_value2+[asc|desc],[...]`<br/> Appending +asc to a facet or
          response will sort results on that value in ascending order. Appending +desc
          to a facet or response  will sort results in descending order. You can sort
          on multiple fields. You can sort on any facet. For the list of responses
          you can sort on, see the Sortable Field column in the Response table. <br/><br/>If
          you are doing a spatial search with the ll parameter, you can also sort
          by the distance from the center of the search: dist+[asc | desc] <br/> **Note:**
          either +asc or +desc is required when using the sort parameter.n'
        in: query
        name: sort
        type: string
      - default: 20
        description: Limits the number of results returned
        in: query
        name: limit
        type: integer
      - default: 0
        description: Sets the starting point of the result set
        in: query
        name: offset
        type: integer
      responses:
        200:
          description: An array of events
          schema:
            properties:
              results:
                items:
                  $ref: '#/definitions/Event'
                type: array
            type: object
      summary: Geographic API
      tags:
      - Events
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:5:\"Event\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"critic_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"event_detail_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"event_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"event_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"event_schedule_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"festival\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"film_rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"free\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"kid_friendly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"last_chance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"last_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"long_running_show\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"previews_and_openings\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"recur_days\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"recurring_start_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"times_pick\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"web_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
