---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:11:\"description\";s:440:\"With the Article
  Search API, you can search New York Times articles from Sept. 18, 1851 to today,
  retrieving headlines, abstracts, lead paragraphs, links to associated multimedia
  and other article metadata.  \n\n Note: In URI examples and field names, italics
  indicate placeholders for variables or values. Brackets [ ] indicate optional items.
  Parentheses ( ) are not a convention \u2014 when URIs include parentheses, interpret
  them literally.\";s:14:\"termsOfService\";s:32:\"http://developer.nytimes.com/tou\";s:5:\"title\";s:14:\"Article
  Search\";s:7:\"version\";s:5:\"1.0.0\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:35:\"http://developer.nytimes.com/signup\";}s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"media\";i:1;s:6:\"search\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:92:\"https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:103:\"https://raw.githubusercontent.com/NYTimes/public_api_specs/master/article_search/article_search_v2.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"nytimes.com\";s:13:\"x-serviceName\";s:14:\"article_search\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"nytimes_article_search\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.nytimes.com
basePath: /svc/search/v2
paths: ~
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:3:\"Doc\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"abstract\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"blog\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:6:\"byline\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"original\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"person\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"document_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"headline\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"kicker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"main\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"lead_paragraph\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"multimedia\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"subtype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"news_desK\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"print_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pub_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"section_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"slideshow_credits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"snippet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"subsection_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"type_of_material\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"word_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
