---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:61:\"Get lists of NYT
  Articles based on shares, emails, and views.\";s:14:\"termsOfService\";s:32:\"http://developer.nytimes.com/tou\";s:5:\"title\";s:12:\"Most
  Popular\";s:7:\"version\";s:5:\"2.0.0\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:35:\"http://developer.nytimes.com/signup\";}s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"media\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:58:\"https://static01.nyt.com/images/icons/t_logo_291_black.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:107:\"https://raw.githubusercontent.com/NYTimes/public_api_specs/master/most_popular_api/most_popular_api_v2.json\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:11:\"nytimes.com\";s:13:\"x-serviceName\";s:16:\"most_popular_api\";s:11:\"x-preferred\";b:1;}"
host: api.nytimes.com
basePath: /svc/mostpopular/v2
paths:
  /mostemailed/{section}/{time-period}.json:
    get:
      description: ""
      operationId: GET_mostemailed-section-time-period-json
      parameters: []
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: An array of Articles
          schema:
            properties:
              copyright:
                type: string
              num_results:
                type: integer
              results:
                items:
                  $ref: '#/definitions/ArticleWithCountType'
                type: array
              status:
                type: string
            type: object
        400:
          description: ""
          examples:
            application/json:
              copyright: Copyright (c) 2016 The New York Times Company.  All Rights
                Reserved.
              errors:
              - Param 'period' is invalid.
              results: []
              status: ERROR
          schema:
            properties:
              copyright:
                type: string
              errors:
                items:
                  type: string
                type: array
              results:
                items: []
                type: array
              status:
                type: string
            type: object
        403:
          description: ""
          examples:
            application/xml: <h1>Developer Over Qps</h1>
          schema:
            type: object
      security:
      - api-key: []
      summary: Most Emailed by Section & Time Period
    parameters:
    - $ref: '#/parameters/Section'
    - $ref: '#/parameters/TimePeriod'
  /mostshared/{section}/{time-period}.json:
    get:
      description: ""
      operationId: GET_mostshared-section-time-period-json
      parameters: []
      responses:
        200:
          description: An array of Articles
          examples:
            application/json:
              copyright: Copyright (c) 2016 The New York Times Company.  All Rights
                Reserved.
              num_results: 24
              results:
              - abstract: Timothy D. Cook, Appleu2019s chief, said the governmentu2019s
                  request to bypass security on the phone used by Syed Rizwan Farook
                  had u201cchillingu201d implications.
                asset_id: 100000004214575
                byline: By ERIC LICHTBLAU and KATIE BENNER
                column: ""
                des_facet:
                - IPHONE
                geo_facet: ""
                media:
                - caption: Timothy D. Cook, the chief executive of Apple, released
                    a letter to customers several hours after a California judge ordered
                    the company to unlock an iPhone used by one of the shooters in
                    a recent attack that killed 14 people in San Bernardino.
                  copyright: Jeff Chiu/Associated Press
                  media-metadata:
                  - format: Standard Thumbnail
                    height: 75
                    url: http://static01.nyt.com/images/2016/02/18/world/18Appleletter-web/18Appleletter-web-thumbStandard.jpg
                    width: 75
                  subtype: photo
                  type: image
                org_facet:
                - APPLE INC
                per_facet:
                - COOK, TIMOTHY D
                published_date: "2016-02-18"
                section: Technology
                source: The New York Times
                title: Apple Fights Order to Unlock San Bernardino Gunmanu2019s iPhone
                total_shares: 1
                url: http://www.nytimes.com/2016/02/18/technology/apple-timothy-cook-fbi-san-bernardino.html
              status: OK
          schema:
            properties:
              copyright:
                type: string
              num_results:
                type: integer
              results:
                items:
                  $ref: '#/definitions/Article'
                type: array
              status:
                type: string
            type: object
        400:
          description: ""
          examples:
            application/json:
              copyright: Copyright (c) 2016 The New York Times Company.  All Rights
                Reserved.
              errors:
              - 'Please specify a supported period, options are: 1,7,30'
              results: []
              status: ERROR
          schema:
            properties:
              copyright:
                type: string
              errors:
                items:
                  type: string
                type: array
              results:
                items: []
                type: array
              status:
                type: string
            type: object
      security:
      - api-key: []
      summary: Most Shared by Section & Time Period
    parameters:
    - $ref: '#/parameters/Section'
    - $ref: '#/parameters/TimePeriod'
  /mostviewed/{section}/{time-period}.json:
    get:
      description: ""
      operationId: GET_mostviewed-section-time-period-json
      parameters: []
      responses:
        200:
          description: An array of Articles
          examples:
            application/json:
              copyright: Copyright (c) 2016 The New York Times Company.  All Rights
                Reserved.
              num_results: 121
              results:
              - abstract: Republicans have parked themselves so far to the right for
                  so many years that itu2019s not clear if they can hear how deranged
                  they sound.
                adx_keywords: Supreme Court (US);McConnell, Mitch;Scalia, Antonin;Obama,
                  Barack;Kirk, Mark Steven;Republican Party;Senate;Cornyn, John;Collins,
                  Susan M
                asset_id: 100000004229487
                byline: By THE EDITORIAL BOARD
                column: Editorial
                des_facet: ""
                geo_facet: ""
                id: 100000004229487
                media: ""
                org_facet:
                - SUPREME COURT (US)
                per_facet:
                - MCCONNELL, MITCH
                published_date: "2016-02-25"
                section: Opinion
                source: The New York Times
                title: Senate Republicans Lose Their Minds on a Supreme Court Seat
                type: Article
                url: http://www.nytimes.com/2016/02/25/opinion/senate-republicans-lose-their-minds-on-a-supreme-court-seat.html
                views: 1
              status: OK
          schema:
            properties:
              copyright:
                type: string
              num_results:
                type: integer
              results:
                items:
                  $ref: '#/definitions/Article'
                type: array
              status:
                type: string
            type: object
      security:
      - api-key: []
      summary: Most Viewed by Section & Time Period
    parameters:
    - $ref: '#/parameters/Section'
    - $ref: '#/parameters/TimePeriod'
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:7:\"Article\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:8:\"abstract\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"byline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"column\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"des_facet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DesFacet\";}s:9:\"geo_facet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/GeoFacet\";}s:5:\"media\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";a:2:{i:0;s:5:\"array\";i:1;s:6:\"string\";}}s:9:\"org_facet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/OrgFacet\";}s:9:\"per_facet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PerFacet\";}s:14:\"published_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"section\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ArticleWithCountType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:8:\"abstract\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"byline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"column\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"count_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"des_facet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DesFacet\";}s:9:\"geo_facet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/GeoFacet\";}s:5:\"media\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"media-metadata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"subtype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";s:19:\"x-runscope/nullable\";b:1;s:25:\"x-runscope/nullable/value\";s:2:\"''\";}s:9:\"org_facet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/OrgFacet\";}s:9:\"per_facet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PerFacet\";}s:14:\"published_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"section\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"DesFacet\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";a:2:{i:0;s:5:\"array\";i:1;s:6:\"string\";}}s:8:\"GeoFacet\";O:8:\"stdClass\":3:{s:4:\"enum\";a:1:{i:0;s:0:\"\";}s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";a:3:{i:0;s:5:\"array\";i:1;s:4:\"null\";i:2;s:6:\"string\";}}s:8:\"OrgFacet\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";a:2:{i:0;s:5:\"array\";i:1;s:4:\"null\";}}s:8:\"PerFacet\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";a:2:{i:0;s:5:\"array\";i:1;s:4:\"null\";}}}"
...
