---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:149:\"The Archive API
  provides lists of NYT articles by month going back to 1851.  You can use it to build
  your own local database of NYT article metadata.\";s:14:\"termsOfService\";s:32:\"http://developer.nytimes.com/tou\";s:5:\"title\";s:7:\"Archive\";s:7:\"version\";s:5:\"1.0.0\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:35:\"http://developer.nytimes.com/signup\";}s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"media\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:92:\"https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:94:\"https://raw.githubusercontent.com/NYTimes/public_api_specs/master/archive_api/archive_api.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"nytimes.com\";s:13:\"x-serviceName\";s:7:\"archive\";}"
host: api.nytimes.com
basePath: /svc/archive/v1
paths:
  /{year}/{month}.json:
    get:
      description: The Archive API provides lists of NYT articles by month going back
        to 1851.  Simply pass in the year and month you want and it returns a JSON
        object with all articles for that month.n
      parameters:
      - default: 2016
        description: The year (e.g. 2016).
        format: int32
        in: path
        maximum: 2030
        minimum: 1851
        name: year
        required: true
        type: integer
        x-consoleDefault: "2016"
      - default: 1
        description: The month number (e.g. 1 for January).
        format: int32
        in: path
        maximum: 12
        minimum: 1
        name: month
        required: true
        type: integer
        x-consoleDefault: "1"
      responses:
        200:
          description: The docs requested.
          schema:
            properties:
              response:
                properties:
                  docs:
                    items:
                      $ref: '#/definitions/Doc'
                    type: array
                  meta:
                    properties:
                      hits:
                        type: integer
                      offset:
                        type: integer
                      time:
                        type: integer
                    type: object
                type: object
            type: object
      summary: Archive API
      tags:
      - Archive
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:3:\"Doc\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"abstract\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"blog\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:6:\"byline\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"original\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"person\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"document_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"headline\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"kicker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"main\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"lead_paragraph\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"multimedia\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"subtype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"news_desK\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"print_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pub_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"section_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"slideshow_credits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"snippet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"subsection_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"type_of_material\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"word_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
