---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:11:\"description\";s:901:\"The Semantic
  API complements the Articles API. With the Semantic API, you get access to the long
  list of people, places, organizations and other locations, entities and descriptors
  that make up the controlled vocabulary used as metadata by The New York Times (sometimes
  referred to as Times Tags and used for Times Topics pages).\n\nThe Semantic API
  uses concepts which are, by definition, terms in The New York Times controlled vocabulary.
  Like the way facets are used in the Articles API, concepts are a good way to uncover
  articles of interest in The New York Times archive, and at the same time, limit
  the scope and number of those articles. The Semantic API maps to external semantic
  data resources, in a fashion consistent with the idea of linked data. The Semantic
  API also provides combination and relationship information to other, similar concepts
  in The New York Times controlled vocabulary.\n\";s:14:\"termsOfService\";s:32:\"http://developer.nytimes.com/tou\";s:5:\"title\";s:8:\"Semantic\";s:7:\"version\";s:5:\"2.0.0\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:35:\"http://developer.nytimes.com/signup\";}s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"media\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:92:\"https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:96:\"https://raw.githubusercontent.com/NYTimes/public_api_specs/master/semantic_api/semantic_api.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"nytimes.com\";s:13:\"x-serviceName\";s:12:\"semantic_api\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"nytimes_semantic_api\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.nytimes.com
basePath: /svc/semantic/v2/concept
paths: ~
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:7:\"Concept\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:9:\"ancestors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConceptRelation\";}s:4:\"type\";s:5:\"array\";}s:12:\"article_list\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"byline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"concepts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"nytd_des\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"nytd_org\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"nytd_per\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"document_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"type_of_material\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"combinations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"combination_note\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"combination_source_concept_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:31:\"combination_source_concept_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"combination_source_concept_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"combination_target_concept_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:31:\"combination_target_concept_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"combination_target_concept_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"concept_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"concept_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"concept_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"concept_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"concept_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"concept_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"descendants\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConceptRelation\";}s:4:\"type\";s:5:\"array\";}s:12:\"is_times_tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"concept_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"concept_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"concept_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"concept_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"is_times_tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"link_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"link_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"mapping_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"relation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"scope_notes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"scope_note\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"scope_note_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"scope_note_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:16:\"search_api_query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"taxonomy\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"source_concept_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"source_concept_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"source_concept_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"source_concept_vernacular\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"target_concept_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"target_concept_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"target_concept_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"target_concept_vernacular\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"taxonomic_relation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"taxonomic_verification_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"vernacular\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ConceptRelation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"concept_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"concept_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"concept_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"concept_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"concept_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"concept_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"is_times_tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"vernacular\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
