---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:70:\"Writes
  log entries and manages your Stackdriver Logging configuration.\";s:5:\"title\";s:19:\"Stackdriver
  Logging\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:57:\"https://logging.googleapis.com/$discovery/rest?version=v2\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:7:\"logging\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"google_logging\";s:4:\"type\";s:7:\"openapi\";}}"
host: logging.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":30:{s:13:\"BucketOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:974:\"BucketOptions
  describes the bucket boundaries used to create a histogram for the distribution.
  The buckets can be in a linear sequence, an exponential sequence, or each bucket
  can be specified explicitly. BucketOptions does not include the number of values
  in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for
  the values that are counted for that bucket. The upper bound of a bucket must be
  strictly greater than the lower bound. The sequence of N buckets for a distribution
  consists of an underflow bucket (number 0), zero or more finite buckets (number
  1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous:
  the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i -
  1. The buckets span the whole range of finite values: lower bound of the underflow
  bucket is -infinity and the upper bound of the overflow bucket is +infinity. The
  finite buckets are so-called because both bounds are finite.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"explicitBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Explicit\";s:11:\"description\";s:21:\"The
  explicit buckets.\";}s:18:\"exponentialBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Exponential\";s:11:\"description\";s:24:\"The
  exponential buckets.\";}s:13:\"linearBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Linear\";s:11:\"description\";s:18:\"The
  linear bucket.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:341:\"A
  generic empty message that you can re-use to avoid defining duplicated empty messages
  in your APIs. A typical example is to use it as the request or the response type
  of an API method. For instance:\nservice Foo {\n  rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n}\nThe JSON representation for Empty is empty
  JSON object {}.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Explicit\";O:8:\"stdClass\":3:{s:11:\"description\";s:406:\"Specifies
  a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets.
  Bucket i has the following boundaries:Upper bound (0 <= i < N-1): boundsi  Lower
  bound (1 <= i < N); boundsi - 1The bounds field must contain at least one element.
  If bounds has only one element, then there are no finite buckets, and that single
  element is the common boundary of the overflow and underflow buckets.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"bounds\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  values must be monotonically increasing.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Exponential\";O:8:\"stdClass\":3:{s:11:\"description\";s:410:\"Specifies
  an exponential sequence of buckets that have a width that is proportional to the
  value of the lower bound. Each bucket represents a constant relative uncertainty
  on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets.
  Bucket i has the following boundaries:Upper bound (0 <= i < N-1): scale * (growth_factor
  ^ i).  Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1)).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"growthFactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 1.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"numFiniteBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"scale\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:11:\"HttpRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"A
  common proto for logging HTTP requests. Only contains semantics defined by the HTTP
  specification. Product-specific logging information MUST be defined in a separate
  message.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:14:\"cacheFillBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  number of HTTP response bytes inserted into cache. Set only when a cache fill was
  attempted.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"cacheHit\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Whether
  or not an entity was served from cache (with or without validation).\";s:4:\"type\";s:7:\"boolean\";}s:11:\"cacheLookup\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Whether
  or not a cache lookup was attempted.\";s:4:\"type\";s:7:\"boolean\";}s:30:\"cacheValidatedWithOriginServer\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Whether
  or not the response was validated with the origin server before being served from
  cache. This field is only meaningful if cache_hit is True.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"latency\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  request processing latency on the server, from the time the request was received
  until the response was sent.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Protocol
  used for the request. Examples: \"HTTP/1.1\", \"HTTP/2\", \"websocket\"\";s:4:\"type\";s:6:\"string\";}s:7:\"referer\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  referer URL of the request, as defined in HTTP/1.1 Header Field Definitions (http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).\";s:4:\"type\";s:6:\"string\";}s:8:\"remoteIp\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"The
  IP address (IPv4 or IPv6) of the client that issued the HTTP request. Examples:
  \"192.168.1.1\", \"FE80::0202:B3FF:FE1E:8329\".\";s:4:\"type\";s:6:\"string\";}s:13:\"requestMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  request method. Examples: \"GET\", \"HEAD\", \"PUT\", \"POST\".\";s:4:\"type\";s:6:\"string\";}s:11:\"requestSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  size of the HTTP request message in bytes, including the request headers and the
  request body.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"requestUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"The
  scheme (http, https), the host name, the path and the query portion of the URL that
  was requested. Example: \"http://example.com/some/info?color=red\".\";s:4:\"type\";s:6:\"string\";}s:12:\"responseSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  size of the HTTP response message sent back to the client, in bytes, including the
  response headers and the response body.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"serverIp\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  IP address (IPv4 or IPv6) of the origin server that the request was sent to.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  response code indicating the status of response. Examples: 200, 404.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"userAgent\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  user agent sent by the client. Example: \"Mozilla/4.0 (compatible; MSIE 6.0; Windows
  98; Q312461; .NET CLR 1.0.3705)\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LabelDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  description of a label.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  human-readable description for the label.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  label key.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  type of data that can be assigned to the label.\";s:4:\"enum\";a:3:{i:0;s:6:\"STRING\";i:1;s:4:\"BOOL\";i:2;s:5:\"INT64\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Linear\";O:8:\"stdClass\":3:{s:11:\"description\";s:382:\"Specifies
  a linear sequence of buckets that all have the same width (except overflow and underflow).
  Each bucket represents a constant absolute uncertainty on the specific value in
  the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following
  boundaries:Upper bound (0 <= i < N-1): offset + (width * i).  Lower bound (1 <=
  i < N): offset + (width * (i - 1)).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"numFiniteBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Lower
  bound of the first bucket.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListExclusionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Result
  returned from ListExclusions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"exclusions\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"A
  list of exclusions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LogExclusion\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:198:\"If
  there might be more results than appear in this response, then nextPageToken is
  included. To get the next set of results, call the same method again using the value
  of nextPageToken as pageToken.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListLogEntriesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  parameters to ListLogEntries.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:388:\"Optional.
  A filter that chooses which log entries to return. See Advanced Logs Filters. Only
  log entries that match the filter are returned. An empty filter matches all log
  entries in the resources listed in resource_names. Referencing a parent resource
  that is not listed in resource_names will cause the filter to return no results.
  The maximum length of the filter is 20000 characters.\";s:4:\"type\";s:6:\"string\";}s:7:\"orderBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:400:\"Optional.
  How the results should be sorted. Presently, the only permitted values are \"timestamp
  asc\" (default) and \"timestamp desc\". The first option returns entries in order
  of increasing values of LogEntry.timestamp (oldest first), and the second option
  returns entries in order of decreasing timestamps (newest first). Entries with equal
  timestamps are returned in order of their insert_id values.\";s:4:\"type\";s:6:\"string\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"Optional.
  The maximum number of results to return from this request. Non-positive values are
  ignored. The presence of next_page_token in the response indicates that more results
  might be available.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:266:\"Optional.
  If present, then retrieve the next batch of results from the preceding call to this
  method. page_token must be the value of next_page_token from the previous response.
  The values of other method parameters should be identical to those in the previous
  call.\";s:4:\"type\";s:6:\"string\";}s:10:\"projectIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:282:\"Deprecated.
  Use resource_names instead. One or more project identifiers or project numbers from
  which to retrieve log entries. Example: \"my-project-1A\". If present, these project
  identifiers are converted to resource name format and added to the list of resources
  in resource_names.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"resourceNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"Required.
  Names of one or more parent resources from which to retrieve log entries:\n\"projects/[PROJECT_ID]\"\n\"organizations/[ORGANIZATION_ID]\"\n\"billingAccounts/[BILLING_ACCOUNT_ID]\"\n\"folders/[FOLDER_ID]\"\nProjects
  listed in the project_ids field are added to this list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListLogEntriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Result
  returned from ListLogEntries.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"A
  list of log entries. If entries is empty, nextPageToken may still be returned, indicating
  that more entries may exist. See nextPageToken for more information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:624:\"If
  there might be more results than those appearing in this response, then nextPageToken
  is included. To get the next set of results, call this method again using the value
  of nextPageToken as pageToken.If a value for next_page_token appears and the entries
  field is empty, it means that the search found no log entries so far but it did
  not have time to search all the possible log entries. Retry the method with this
  value for page_token to continue the search. Alternatively, consider speeding up
  the search by changing your filter to specify a single log name or resource type,
  or to narrow the time range of the search.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListLogMetricsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Result
  returned from ListLogMetrics.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"metrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  list of logs-based metrics.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LogMetric\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:194:\"If
  there might be more results than appear in this response, then nextPageToken is
  included. To get the next set of results, call this method again using the value
  of nextPageToken as pageToken.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListLogsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Result
  returned from ListLogs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"logNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"A
  list of log names. For example, \"projects/my-project/syslog\" or \"organizations/123/cloudresourcemanager.googleapis.com%2Factivity\".\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"If
  there might be more results than those appearing in this response, then nextPageToken
  is included. To get the next set of results, call this method again using the value
  of nextPageToken as pageToken.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"ListMonitoredResourceDescriptorsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Result
  returned from ListMonitoredResourceDescriptors.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"If
  there might be more results than those appearing in this response, then nextPageToken
  is included. To get the next set of results, call this method again using the value
  of nextPageToken as pageToken.\";s:4:\"type\";s:6:\"string\";}s:19:\"resourceDescriptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  list of resource descriptors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/MonitoredResourceDescriptor\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListSinksResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Result
  returned from ListSinks.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:198:\"If
  there might be more results than appear in this response, then nextPageToken is
  included. To get the next set of results, call the same method again using the value
  of nextPageToken as pageToken.\";s:4:\"type\";s:6:\"string\";}s:5:\"sinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"A
  list of sinks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LogSink\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"LogEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"An
  individual entry in a log.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"httpRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HttpRequest\";s:11:\"description\";s:91:\"Optional.
  Information about the HTTP request associated with this log entry, if applicable.\";}s:8:\"insertId\";O:8:\"stdClass\":2:{s:11:\"description\";s:413:\"Optional.
  A unique identifier for the log entry. If you provide a value, then Stackdriver
  Logging considers other log entries in the same project, with the same timestamp,
  and with the same insert_id to be duplicates which can be removed. If omitted in
  new log entries, then Stackdriver Logging assigns its own unique identifier. The
  insert_id is also used to order log entries that have the same timestamp value.\";s:4:\"type\";s:6:\"string\";}s:11:\"jsonPayload\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:85:\"The log entry payload, represented
  as a structure that is expressed as a JSON object.\";s:4:\"type\";s:6:\"object\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:107:\"Optional.
  A set of user-defined (key, value) data that provides additional information about
  the log entry.\";s:4:\"type\";s:6:\"object\";}s:7:\"logName\";O:8:\"stdClass\":2:{s:11:\"description\";s:1080:\"Required.
  The resource name of the log to which this log entry belongs:\n\"projects/[PROJECT_ID]/logs/[LOG_ID]\"\n\"organizations/[ORGANIZATION_ID]/logs/[LOG_ID]\"\n\"billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID]\"\n\"folders/[FOLDER_ID]/logs/[LOG_ID]\"\nA
  project number may optionally be used in place of PROJECT_ID. The  project number
  is translated to its corresponding PROJECT_ID internally  and the log_name field
  will contain PROJECT_ID in queries and exports.[LOG_ID] must be URL-encoded within
  log_name. Example: \"organizations/1234567890/logs/cloudresourcemanager.googleapis.com%2Factivity\".
  [LOG_ID] must be less than 512 characters long and can only include the following
  characters: upper and lower case alphanumeric characters, forward-slash, underscore,
  hyphen, and period.For backward compatibility, if log_name begins with a forward-slash,
  such as /projects/..., then the log entry is ingested as usual but the forward-slash
  is removed. Listing the log entry will not show the leading slash and filtering
  for a log name with a leading slash will never return any results.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/MonitoredResourceMetadata\";s:11:\"description\";s:150:\"Output
  only. Additional metadata about the monitored resource. Only k8s_container, k8s_pod,
  and k8s_node MonitoredResources have this field populated.\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryOperation\";s:11:\"description\";s:86:\"Optional.
  Information about an operation associated with the log entry, if applicable.\";}s:12:\"protoPayload\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:137:\"The
  log entry payload, represented as a protocol buffer. Some Google Cloud Platform
  services use this field for their log entry payloads.\";s:4:\"type\";s:6:\"object\";}s:16:\"receiveTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Output
  only. The time the log entry was received by Stackdriver Logging.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoredResource\";s:11:\"description\";s:232:\"Required.
  The primary monitored resource associated with this log entry. Example: a log entry
  that reports a database error would be associated with the monitored resource designating
  the particular database that reported the error.\";}s:8:\"severity\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Optional.
  The severity of the log entry. The default value is LogSeverity.DEFAULT.\";s:4:\"enum\";a:9:{i:0;s:7:\"DEFAULT\";i:1;s:5:\"DEBUG\";i:2;s:4:\"INFO\";i:3;s:6:\"NOTICE\";i:4;s:7:\"WARNING\";i:5;s:5:\"ERROR\";i:6;s:8:\"CRITICAL\";i:7;s:5:\"ALERT\";i:8;s:9:\"EMERGENCY\";}s:4:\"type\";s:6:\"string\";}s:14:\"sourceLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/LogEntrySourceLocation\";s:11:\"description\";s:81:\"Optional.
  Source code location information associated with the log entry, if any.\";}s:6:\"spanId\";O:8:\"stdClass\":2:{s:11:\"description\";s:259:\"Optional.
  The span ID within the trace associated with the log entry. For Stackdriver Trace
  spans, this is the same format that the Stackdriver Trace API v2 uses: a 16-character
  hexadecimal encoding of an 8-byte array, such as <code>\"000000000000004a\"</code>.\";s:4:\"type\";s:6:\"string\";}s:11:\"textPayload\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  log entry payload, represented as a Unicode string (UTF-8).\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:682:\"Optional.
  The time the event described by the log entry occurred. This time is used to compute
  the log entry's age and to enforce the logs retention period. If this field is omitted
  in a new log entry, then Stackdriver Logging assigns it the current time. Timestamps
  have nanosecond accuracy, but trailing zeros in the fractional seconds might be
  omitted when the timestamp is displayed.Incoming log entries should have timestamps
  that are no more than the logs retention period in the past, and no more than 24
  hours in the future. Log entries outside those time boundaries will not be available
  when calling entries.list, but those log entries can still be exported with LogSinks.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"trace\";O:8:\"stdClass\":2:{s:11:\"description\";s:251:\"Optional.
  Resource name of the trace associated with the log entry, if any. If it contains
  a relative resource name, the name is assumed to be relative to //tracing.googleapis.com.
  Example: projects/my-projectid/traces/06796866738c859f2f19b7cfb3214824\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LogEntryOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Additional
  information about a potentially long-running operation with which a log entry is
  associated.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"first\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Optional.
  Set this to True if this is the first log entry in the operation.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"Optional.
  An arbitrary operation identifier. Log entries with the same identifier are assumed
  to be part of the same operation.\";s:4:\"type\";s:6:\"string\";}s:4:\"last\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Optional.
  Set this to True if this is the last log entry in the operation.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"producer\";O:8:\"stdClass\":2:{s:11:\"description\";s:195:\"Optional.
  An arbitrary producer identifier. The combination of id and producer must be globally
  unique. Examples for producer: \"MyDivision.MyBigCompany.com\", \"github.com/MyProject/MyApplication\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"LogEntrySourceLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Additional
  information about the source code location that produced the log entry.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"file\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Optional.
  Source file name. Depending on the runtime environment, this might be a simple name
  or a fully-qualified name.\";s:4:\"type\";s:6:\"string\";}s:8:\"function\";O:8:\"stdClass\":2:{s:11:\"description\";s:364:\"Optional.
  Human-readable name of the function or method being invoked, with optional context
  such as the class or package name. This information may be used in contexts such
  as the logs viewer, where a file and line number are less meaningful. The format
  can vary by language. For example: qual.if.ied.Class.method (Java), dir/package.func
  (Go), function (Python).\";s:4:\"type\";s:6:\"string\";}s:4:\"line\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Optional.
  Line within the source file. 1-based; 0 indicates no line number available.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"LogExclusion\";O:8:\"stdClass\":3:{s:11:\"description\";s:374:\"Specifies
  a set of log entries that are not to be stored in Stackdriver Logging. If your project
  receives a large volume of logs, you might be able to use exclusions to reduce your
  chargeable logs. Exclusions are processed after log sinks, so you can export log
  entries before they are excluded. Audit log entries and log entries from Amazon
  Web Services are never excluded.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Optional.
  A description of this exclusion.\";s:4:\"type\";s:6:\"string\";}s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"Optional.
  If set to True, then this exclusion is disabled and it does not exclude any log
  entries. You can use exclusions.patch to change the value of this field.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:337:\"Required.
  An advanced logs filter that matches the log entries to be excluded. By using the
  sample function, you can exclude less than 100% of the matching log entries. For
  example, the following filter matches 99% of low-severity log entries from load
  balancers:\n\"resource.type=http_load_balancer severity<ERROR sample(insertId, 0.99)\"\n\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"Required.
  A client-assigned identifier, such as \"load-balancer-exclusion\". Identifiers are
  limited to 100 characters and can include only letters, digits, underscores, hyphens,
  and periods.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"LogLine\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Application
  log line emitted while processing a request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"logMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"App-provided
  log message.\";s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Severity
  of this log entry.\";s:4:\"enum\";a:9:{i:0;s:7:\"DEFAULT\";i:1;s:5:\"DEBUG\";i:2;s:4:\"INFO\";i:3;s:6:\"NOTICE\";i:4;s:7:\"WARNING\";i:5;s:5:\"ERROR\";i:6;s:8:\"CRITICAL\";i:7;s:5:\"ALERT\";i:8;s:9:\"EMERGENCY\";}s:4:\"type\";s:6:\"string\";}s:14:\"sourceLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SourceLocation\";s:11:\"description\";s:54:\"Where
  in the source code this log message was written.\";}s:4:\"time\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Approximate
  time when this log entry was made.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"LogMetric\";O:8:\"stdClass\":3:{s:11:\"description\";s:386:\"Describes
  a logs-based metric. The value of the metric is the number of log entries that match
  a logs filter in a given time interval.Logs-based metric can also be used to extract
  values from logs and create a a distribution of the values. The distribution records
  the statistics of the extracted values along with an optional histogram of the values
  as specified by the bucket options.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"bucketOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BucketOptions\";s:11:\"description\";s:194:\"Optional.
  The bucket_options are required when the logs-based metric is using a DISTRIBUTION
  value type and it describes the bucket boundaries used to create a histogram of
  the extracted values.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Optional.
  A description of this metric, which is used in documentation.\";s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Required.
  An advanced logs filter which is used to match log entries. Example:\n\"resource.type=gae_app
  AND severity>=ERROR\"\nThe maximum length of the filter is 20000 characters.\";s:4:\"type\";s:6:\"string\";}s:15:\"labelExtractors\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:766:\"Optional.
  A map from a label key string to an extractor expression which is used to extract
  data from a log entry field and assign as the label value. Each label key specified
  in the LabelDescriptor must have an associated extractor expression in this map.
  The syntax of the extractor expression is the same as for the value_extractor field.The
  extracted value is converted to the type defined in the label descriptor. If the
  either the extraction or the type conversion fails, the label will have a default
  value. The default value for a string label is an empty string, for an integer label
  its 0, and for a boolean label its false.Note that there are upper bounds on the
  maximum number of labels and the number of active time series that are allowed in
  a project.\";s:4:\"type\";s:6:\"object\";}s:16:\"metricDescriptor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MetricDescriptor\";s:11:\"description\";s:1001:\"Optional.
  The metric descriptor associated with the logs-based metric. If unspecified, it
  uses a default metric descriptor with a DELTA metric kind, INT64 value type, with
  no labels and a unit of \"1\". Such a metric counts the number of log entries matching
  the filter expression.The name, type, and description fields in the metric_descriptor
  are output only, and is constructed using the name and description field in the
  LogMetric.To create a logs-based metric that records a distribution of log values,
  a DELTA metric kind with a DISTRIBUTION value type must be used along with a value_extractor
  expression in the LogMetric.Each label in the metric descriptor must have a matching
  label name as the key and an extractor expression as the value in the label_extractors
  map.The metric_kind and value_type fields in the metric_descriptor cannot be updated
  once initially configured. New labels can be added in the metric_descriptor, but
  existing labels cannot be modified except for their description.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:675:\"Required.
  The client-assigned metric identifier. Examples: \"error_count\", \"nginx/requests\".Metric
  identifiers are limited to 100 characters and can include only the following characters:
  A-Z, a-z, 0-9, and the special characters _-.,+!*',()%/. The forward-slash character
  (/) denotes a hierarchy of name pieces, and it cannot be the first character of
  the name.The metric identifier in this field must not be URL-encoded (https://en.wikipedia.org/wiki/Percent-encoding).
  However, when the metric identifier appears as the [METRIC_ID] part of a metric_name
  API parameter, then the metric identifier must be URL-encoded. Example: \"projects/my-project/metrics/nginx%2Frequests\".\";s:4:\"type\";s:6:\"string\";}s:14:\"valueExtractor\";O:8:\"stdClass\":2:{s:11:\"description\";s:979:\"Optional.
  A value_extractor is required when using a distribution logs-based metric to extract
  the values to record from a log entry. Two functions are supported for value extraction:
  EXTRACT(field) or REGEXP_EXTRACT(field, regex). The argument are:  1. field: The
  name of the log entry field from which the value is to be  extracted.  2. regex:
  A regular expression using the Google RE2 syntax  (https://github.com/google/re2/wiki/Syntax)
  with a single capture  group to extract data from the specified log entry field.
  The value  of the field is converted to a string before applying the regex.  It
  is an error to specify a regex that does not include exactly one  capture group.The
  result of the extraction must be convertible to a double type, as the distribution
  always records double values. If either the extraction or the conversion to double
  fails, then those values are not recorded in the distribution.Example: REGEXP_EXTRACT(jsonPayload.request,
  \".*quantity=(\\d+).*\")\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"Deprecated.
  The API version that created or updated this metric. The v2 format is used by default
  and cannot be changed.\";s:4:\"enum\";a:2:{i:0;s:2:\"V2\";i:1;s:2:\"V1\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"LogSink\";O:8:\"stdClass\":3:{s:11:\"description\";s:306:\"Describes
  a sink used to export log entries to one of the following destinations in any project:
  a Cloud Storage bucket, a BigQuery dataset, or a Cloud Pub/Sub topic. A logs filter
  controls which log entries are exported. The sink must be created within a project,
  organization, billing account, or folder.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:404:\"Required.
  The export destination:\n\"storage.googleapis.com/[GCS_BUCKET]\"\n\"bigquery.googleapis.com/projects/[PROJECT_ID]/datasets/[DATASET]\"\n\"pubsub.googleapis.com/projects/[PROJECT_ID]/topics/[TOPIC_ID]\"\nThe
  sink's writer_identity, set when the sink is created, must have permission to write
  to the destination or else the log entries are not exported. For more information,
  see Exporting Logs With Sinks.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Deprecated.
  This field is ignored when creating or updating sinks.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:222:\"Optional.
  An advanced logs filter. The only exported log entries are those that are in the
  resource owning the sink and that match the filter. For example:\nlogName=\"projects/[PROJECT_ID]/logs/[LOG_ID]\"
  AND severity>=ERROR\n\";s:4:\"type\";s:6:\"string\";}s:15:\"includeChildren\";O:8:\"stdClass\":2:{s:11:\"description\";s:816:\"Optional.
  This field applies only to sinks owned by organizations and folders. If the field
  is false, the default, only the logs owned by the sink's parent resource are available
  for export. If the field is true, then logs from all the projects, folders, and
  billing accounts contained in the sink's parent resource are also available for
  export. Whether a particular log entry from the children is exported depends on
  the sink's filter expression. For example, if this field is true, then the filter
  resource.type=gce_instance would export all Compute Engine VM instance log entries
  from all projects in the sink's parent. To only export entries from certain child
  projects, filter on the project part of the log name:\nlogName:(\"projects/test-project1/\"
  OR \"projects/test-project2/\") AND\nresource.type=gce_instance\n\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:287:\"Required.
  The client-assigned sink identifier, unique within the project. Example: \"my-syslog-errors-to-pubsub\".
  Sink identifiers are limited to 100 characters and can include only the following
  characters: upper and lower-case alphanumeric characters, underscores, hyphens,
  and periods.\";s:4:\"type\";s:6:\"string\";}s:19:\"outputVersionFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Deprecated.
  The log entry format to use for this sink's exported log entries. The v2 format
  is used by default and cannot be changed.\";s:4:\"enum\";a:3:{i:0;s:26:\"VERSION_FORMAT_UNSPECIFIED\";i:1;s:2:\"V2\";i:2;s:2:\"V1\";}s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Deprecated.
  This field is ignored when creating or updating sinks.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:14:\"writerIdentity\";O:8:\"stdClass\":2:{s:11:\"description\";s:553:\"Output
  only. An IAM identity&mdash;a service account or group&mdash;under which Stackdriver
  Logging writes the exported log entries to the sink's destination. This field is
  set by sinks.create and sinks.update, based on the setting of unique_writer_identity
  in those methods.Until you grant this identity write-access to the destination,
  log entry exports from this sink will fail. For more information, see Granting access
  for a resource. Consult the destination service's documentation to determine the
  appropriate IAM roles to assign to the identity.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MetricDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Defines
  a metric type and its schema. Once a metric descriptor is created, deleting or altering
  it stops data collection and makes the metric type's existing data unusable.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"A
  detailed description of the metric, which can be used in documentation.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:271:\"A
  concise name for the metric, which can be displayed in user interfaces. Use sentence
  case without an ending period, for example \"Request count\". This field is optional
  but it is recommended to be set for any metrics associated with user-visible concepts,
  such as Quota.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:316:\"The
  set of labels that can be used to describe a specific instance of this metric type.
  For example, the appengine.googleapis.com/http/server/response_latencies metric
  type has a label for the HTTP response code, response_code, so you can look at latencies
  for successful responses or just for responses that failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:10:\"metricKind\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Whether
  the metric records instantaneous values, changes to a value, etc. Some combinations
  of metric_kind and value_type might not be supported.\";s:4:\"enum\";a:4:{i:0;s:23:\"METRIC_KIND_UNSPECIFIED\";i:1;s:5:\"GAUGE\";i:2;s:5:\"DELTA\";i:3;s:10:\"CUMULATIVE\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  resource name of the metric descriptor.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"The
  metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined
  custom metric types have the DNS name custom.googleapis.com. Metric types should
  use a natural hierarchical grouping. For example:\n\"custom.googleapis.com/invoice/paid/amount\"\n\"appengine.googleapis.com/http/server/response_latencies\"\n\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:1422:\"The
  unit in which the metric value is reported. It is only applicable if the value_type
  is INT64, DOUBLE, or DISTRIBUTION. The supported units are a subset of The Unified
  Code for Units of Measure (http://unitsofmeasure.org/ucum.html) standard:Basic units
  (UNIT)\nbit bit\nBy byte\ns second\nmin minute\nh hour\nd dayPrefixes (PREFIX)\nk
  kilo (10**3)\nM mega (10**6)\nG giga (10**9)\nT tera (10**12)\nP peta (10**15)\nE
  exa (10**18)\nZ zetta (10**21)\nY yotta (10**24)\nm milli (10**-3)\nu micro (10**-6)\nn
  nano (10**-9)\np pico (10**-12)\nf femto (10**-15)\na atto (10**-18)\nz zepto (10**-21)\ny
  yocto (10**-24)\nKi kibi (2**10)\nMi mebi (2**20)\nGi gibi (2**30)\nTi tebi (2**40)GrammarThe
  grammar also includes these connectors:\n/ division (as an infix operator, e.g.
  1/s).\n. multiplication (as an infix operator, e.g. GBy.d)The grammar for a unit
  is as follows:\nExpression = Component { \".\" Component } { \"/\" Component } ;\n\nComponent
  = ( [ PREFIX ] UNIT | \"%\" ) [ Annotation ]\n          | Annotation\n          |
  \"1\"\n          ;\n\nAnnotation = \"{\" NAME \"}\" ;\nNotes:\nAnnotation is just
  a comment if it follows a UNIT and is  equivalent to 1 if it is used alone. For
  examples,  {requests}/s == 1/s, By{transmitted}/s == By/s.\nNAME is a sequence of
  non-blank printable ASCII characters not  containing '{' or '}'.\n1 represents dimensionless
  value 1, such as in 1/s.\n% represents dimensionless value 1/100, and annotates
  values giving  a percentage.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"Whether
  the measurement is an integer, a floating-point number, etc. Some combinations of
  metric_kind and value_type might not be supported.\";s:4:\"enum\";a:7:{i:0;s:22:\"VALUE_TYPE_UNSPECIFIED\";i:1;s:4:\"BOOL\";i:2;s:5:\"INT64\";i:3;s:6:\"DOUBLE\";i:4;s:6:\"STRING\";i:5;s:12:\"DISTRIBUTION\";i:6;s:5:\"MONEY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MonitoredResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:711:\"An
  object representing a resource that can be used for monitoring, logging, billing,
  or other purposes. Examples include virtual machine instances, databases, and storage
  devices such as disks. The type field identifies a MonitoredResourceDescriptor object
  that describes the resource's schema. Information in the labels field identifies
  the actual resource and its attributes according to the schema. For example, a particular
  Compute Engine VM instance could be represented by the following object, because
  the MonitoredResourceDescriptor for \"gce_instance\" has labels \"instance_id\"
  and \"zone\":\n{ \"type\": \"gce_instance\",\n  \"labels\": { \"instance_id\": \"12345678901234\",\n
  \             \"zone\": \"us-central1-a\" }}\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:191:\"Required.
  Values for all of the labels listed in the associated monitored resource descriptor.
  For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\",
  and \"zone\".\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"Required.
  The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor
  object. For example, the type of a Compute Engine VM instance is gce_instance.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"MonitoredResourceDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:481:\"An
  object that describes the schema of a MonitoredResource object using a type name
  and a set of labels. For example, the monitored resource descriptor for Google Compute
  Engine VM instances has a type of \"gce_instance\" and specifies the use of the
  labels \"instance_id\" and \"zone\" to identify particular VM instances.Different
  APIs can support different monitored resource types. APIs generally provide a list
  method that returns the monitored resource descriptors used by the API.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Optional.
  A detailed description of the monitored resource type that might be used in documentation.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"Optional.
  A concise name for the monitored resource type that might be displayed in user interfaces.
  It should be a Title Cased Noun Phrase, without any article or other determiners.
  For example, \"Google Cloud SQL Database\".\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"Required.
  A set of labels used to describe instances of this monitored resource type. For
  example, an individual Google Cloud SQL database is identified by values for the
  labels \"database_id\" and \"zone\".\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:389:\"Optional.
  The resource name of the monitored resource descriptor: \"projects/{project_id}/monitoredResourceDescriptors/{type}\"
  where {type} is the value of the type field in this object and {project_id} is a
  project ID that provides API-specific context for accessing the type. APIs that
  do not use project information can use the resource name format \"monitoredResourceDescriptors/{type}\".\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"Required.
  The monitored resource type. For example, the type \"cloudsql_database\" represents
  databases in Google Cloud SQL. The maximum length of this value is 256 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"MonitoredResourceMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:377:\"Auxiliary
  metadata for a MonitoredResource object. MonitoredResource objects contain the minimum
  set of information to uniquely identify a monitored resource instance. There is
  some other useful auxiliary metadata. Google Stackdriver Monitoring & Logging uses
  an ingestion pipeline to extract metadata for cloud resources of all types , and
  stores the metadata in this message.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"systemLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:483:\"Output only. Values for predefined
  system metadata labels. System labels are a kind of metadata extracted by Google
  Stackdriver. Stackdriver determines what system labels are useful and how to obtain
  their values. Some examples: \"machine_image\", \"vpc\", \"subnet_id\", \"security_group\",
  \"name\", etc. System label values can be only strings, Boolean values, or a list
  of strings. For example:\n{ \"name\": \"my-test-instance\",\n  \"security_group\":
  [\"a\", \"b\", \"c\"],\n  \"spot_instance\": false }\n\";s:4:\"type\";s:6:\"object\";}s:10:\"userLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:51:\"Output
  only. A map of user-defined metadata labels.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RequestLog\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Complete
  log information about a single HTTP request to an App Engine application.\";s:10:\"properties\";O:8:\"stdClass\":32:{s:16:\"appEngineRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"App
  Engine release version.\";s:4:\"type\";s:6:\"string\";}s:5:\"appId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Application
  that handled this request.\";s:4:\"type\";s:6:\"string\";}s:4:\"cost\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"An
  indication of the relative cost of serving this request.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Time
  when the request finished.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"finished\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  this request is finished or active.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"first\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"Whether
  this is the first RequestLog entry for this request. If an active request has several
  RequestLog entries written to Stackdriver Logging, then this field will be set for
  one of them.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Internet
  host and port number of the resource being requested.\";s:4:\"type\";s:6:\"string\";}s:11:\"httpVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"HTTP
  version of request. Example: \"HTTP/1.1\".\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"An
  identifier for the instance that handled the request.\";s:4:\"type\";s:6:\"string\";}s:13:\"instanceIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"If
  the instance processing this request belongs to a manually scaled module, then this
  is the 0-based index of the instance. Otherwise, this value is -1.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Origin
  IP address.\";s:4:\"type\";s:6:\"string\";}s:7:\"latency\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Latency
  of the request.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:4:\"line\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  list of log lines emitted by the application while serving this request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LogLine\";}s:4:\"type\";s:5:\"array\";}s:10:\"megaCycles\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Number
  of CPU megacycles used to process request.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Request
  method. Example: \"GET\", \"HEAD\", \"PUT\", \"POST\", \"DELETE\".\";s:4:\"type\";s:6:\"string\";}s:8:\"moduleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Module
  of the application that handled this request.\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:368:\"The
  logged-in user who made the request.Most likely, this is the part of the user's
  email before the @ sign. The field value is the same for different requests from
  the same user, but different users can have similar names. This information is also
  available to the application via the App Engine Users API.This field will be populated
  starting with App Engine 1.9.21.\";s:4:\"type\";s:6:\"string\";}s:11:\"pendingTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Time
  this request spent in the pending request queue.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:8:\"referrer\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Referrer
  URL of request.\";s:4:\"type\";s:6:\"string\";}s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"Globally
  unique identifier for a request, which is based on the request start time. Request
  IDs for requests which started later will compare greater as strings than those
  for requests which started earlier.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:250:\"Contains
  the path and query portion of the URL that was requested. For example, if the URL
  was \"http://example.com/app?name=val\", the resource would be \"/app?name=val\".
  The fragment identifier, which is identified by the # character, is not included.\";s:4:\"type\";s:6:\"string\";}s:12:\"responseSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Size
  in bytes sent back to client by request.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"sourceReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"Source
  code for the application that handled this request. There can be more than one source
  reference per deployed application if source code is distributed among multiple
  repositories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SourceReference\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Time
  when the request started.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"HTTP
  response status code. Example: 200, 404.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"taskName\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Task
  name of the request, in the case of an offline request.\";s:4:\"type\";s:6:\"string\";}s:13:\"taskQueueName\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Queue
  name of the request, in the case of an offline request.\";s:4:\"type\";s:6:\"string\";}s:7:\"traceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Stackdriver
  Trace identifier for this request.\";s:4:\"type\";s:6:\"string\";}s:11:\"urlMapEntry\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"File
  or class that handled the request.\";s:4:\"type\";s:6:\"string\";}s:9:\"userAgent\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"User
  agent that made the request.\";s:4:\"type\";s:6:\"string\";}s:9:\"versionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Version
  of the application that handled this request.\";s:4:\"type\";s:6:\"string\";}s:17:\"wasLoadingRequest\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Whether
  this was a loading request for the instance.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SourceLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Specifies
  a location in a source code file.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"file\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Source
  file name. Depending on the runtime environment, this might be a simple name or
  a fully-qualified name.\";s:4:\"type\";s:6:\"string\";}s:12:\"functionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:350:\"Human-readable
  name of the function or method being invoked, with optional context such as the
  class or package name. This information is used in contexts such as the logs viewer,
  where a file and line number are less meaningful. The format can vary by language.
  For example: qual.if.ied.Class.method (Java), dir/package.func (Go), function (Python).\";s:4:\"type\";s:6:\"string\";}s:4:\"line\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Line
  within the source file.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SourceReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"A
  reference to a particular snapshot of the source tree used to build and deploy an
  application.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"repository\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Optional.
  A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\"\";s:4:\"type\";s:6:\"string\";}s:10:\"revisionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"The
  canonical and persistent identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"WriteLogEntriesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  parameters to WriteLogEntries.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"dryRun\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"Optional.
  If true, the request should expect normal response, but the entries won't be persisted
  nor exported. Useful for checking whether the logging API endpoints are working
  properly before sending valuable data.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:1132:\"Required.
  The log entries to send to Stackdriver Logging. The order of log entries in this
  list does not matter. Values supplied in this method's log_name, resource, and labels
  fields are copied into those log entries in this list that do not include values
  for their corresponding fields. For more information, see the LogEntry type.If the
  timestamp or insert_id fields are missing in log entries, then this method supplies
  the current time or a unique identifier, respectively. The supplied values are chosen
  so that, among the log entries that did not supply their own values, the entries
  earlier in the list will sort before the entries later in the list. See the entries.list
  method.Log entries with timestamps that are more than the logs retention period
  in the past or more than 24 hours in the future will not be available when calling
  entries.list. However, those log entries can still be exported with LogSinks.To
  improve throughput and to avoid exceeding the quota limit for calls to entries.write,
  you should try to include several log entries in this list, rather than calling
  this method for each individual log entry.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}s:4:\"type\";s:5:\"array\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:230:\"Optional.
  Default labels that are added to the labels field of all log entries in entries.
  If a log entry already has a label with the same key as a label in this parameter,
  then the log entry's label is not changed. See LogEntry.\";s:4:\"type\";s:6:\"object\";}s:7:\"logName\";O:8:\"stdClass\":2:{s:11:\"description\";s:516:\"Optional.
  A default log resource name that is assigned to all log entries in entries that
  do not specify a value for log_name:\n\"projects/[PROJECT_ID]/logs/[LOG_ID]\"\n\"organizations/[ORGANIZATION_ID]/logs/[LOG_ID]\"\n\"billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID]\"\n\"folders/[FOLDER_ID]/logs/[LOG_ID]\"\n[LOG_ID]
  must be URL-encoded. For example, \"projects/my-project-id/logs/syslog\" or \"organizations/1234567890/logs/cloudresourcemanager.googleapis.com%2Factivity\".
  For more information about log names, see LogEntry.\";s:4:\"type\";s:6:\"string\";}s:14:\"partialSuccess\";O:8:\"stdClass\":2:{s:11:\"description\";s:351:\"Optional.
  Whether valid entries should be written even if some other entries fail due to INVALID_ARGUMENT
  or PERMISSION_DENIED errors. If any entry is not written, then the response status
  is the error associated with one of the failed entries and the response includes
  error details keyed by the entries' zero-based index in the entries.write method.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoredResource\";s:11:\"description\";s:267:\"Optional.
  A default monitored resource object that is assigned to all log entries in entries
  that do not specify a value for resource. Example:\n{ \"type\": \"gce_instance\",\n
  \ \"labels\": {\n    \"zone\": \"us-central1-a\", \"instance_id\": \"00000000000000000000\"
  }}\nSee LogEntry.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"WriteLogEntriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Result
  returned from WriteLogEntries. empty\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
