---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:42:\"BETA Tezos API,
  this may change frequently\";s:7:\"version\";s:5:\"0.0.2\";s:5:\"title\";s:8:\"TezosAPI\";s:14:\"termsOfService\";s:24:\"http://swagger.io/terms/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:16:\"office@bitfly.at\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: betaapi.tezex.info
basePath: /v2
paths:
  /account/{account}:
    get:
      tags:
      - Account
      summary: Get Account
      description: Get Acccount
      operationId: getAccount
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: account
        in: path
        description: The account
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Account
          schema:
            $ref: '#/definitions/Account'
  /account/{account}/delegated:
    get:
      tags:
      - Account
      summary: Get Delegations to this account
      description: Get that have been made to this Account
      operationId: getDelegationsToAccount
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: account
        in: path
        description: The account to which delegations have been made
        required: true
        type: string
      - name: before
        in: query
        description: Only Return Delegations before this blocklevel
        required: false
        type: integer
      responses:
        default:
          description: Returns the matching Delegations
          schema:
            type: array
            items:
              $ref: '#/definitions/Delegation'
  /account/{account}/delegations:
    get:
      tags:
      - Account
      summary: Get Delegations of this account
      description: Get Delegations this Account has made
      operationId: getDelegationsForAccount
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: account
        in: path
        description: The account for which to retrieve Delegations
        required: true
        type: string
      - name: before
        in: query
        description: Only Return Delegations before this blocklevel
        required: false
        type: integer
      responses:
        default:
          description: Returns the matching Delegations
          schema:
            type: array
            items:
              $ref: '#/definitions/Delegation'
  /account/{account}/endorsements:
    get:
      tags:
      - Account
      summary: Get Endorsements this Account has made
      description: Get Endorsements this Account has made
      operationId: getEndorsementsForAccount
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: account
        in: path
        description: The account for which to retrieve Endorsements
        required: true
        type: string
      - name: before
        in: query
        description: Only Return Delegations before this blocklevel
        required: false
        type: integer
      responses:
        default:
          description: Returns the matching Endorsements
          schema:
            type: array
            items:
              $ref: '#/definitions/Endorsement'
  /account/{account}/transactions/incomming:
    get:
      tags:
      - Account
      summary: Get Transaction
      description: Get incoming Transactions for a specific Account
      operationId: getTransactionForAccountIncomming
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: account
        in: path
        description: The account for which to retrieve incomming Transactions
        required: true
        type: string
      - name: before
        in: query
        description: Only Return transactions before this blocklevel
        required: false
        type: integer
      responses:
        default:
          description: Returns the matching Transactions
          schema:
            $ref: '#/definitions/Transactions'
  /account/{account}/transactions/outgoing:
    get:
      tags:
      - Account
      summary: Get Transaction
      description: Get outgoing Transactions for a specific Account
      operationId: getTransactionForAccountOutgoing
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: account
        in: path
        description: The account for which to retrieve outgoing Transactions
        required: true
        type: string
      - name: before
        in: query
        description: Only return transactions before this blocklevel
        required: false
        type: integer
      responses:
        default:
          description: Returns the matching Transactions
          schema:
            $ref: '#/definitions/Transactions'
  /block/{blockhash}:
    get:
      tags:
      - Block
      summary: Get Block By Blockhash
      description: Get a block by its hash
      operationId: getBlock
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: blockhash
        in: path
        description: The hash of the Block to retrieve
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Block
          schema:
            $ref: '#/definitions/Block'
  /block/{blockhash}/operations:
    get:
      tags:
      - Block
      summary: Get operations of a block, sorted
      description: Get the maximum Level we have seen, Blocks at this level may become
        abandoned Blocks later on
      operationId: getBlockOperationsSorted
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: blockhash
        in: path
        description: The hash of the Block to retrieve
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Block
          schema:
            $ref: '#/definitions/BlockOperationsSorted'
  /block/{blockhash}/operations/delegations:
    get:
      tags:
      - Block
      summary: Get Delegations of a Block
      description: Get all Delegations of a specific Block
      operationId: getBlockDelegations
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: blockhash
        in: path
        description: Blockhash
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Delegations
          schema:
            type: array
            items:
              $ref: '#/definitions/Delegation'
  /block/{blockhash}/operations/endorsements:
    get:
      tags:
      - Block
      summary: Get Endorsements of a Block
      description: Get all Endorsements of a specific Block
      operationId: getBlockEndorsements
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: blockhash
        in: path
        description: Blockhash
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Endorsements
          schema:
            type: array
            items:
              $ref: '#/definitions/Endorsement'
  /block/{blockhash}/operations/originations:
    get:
      tags:
      - Block
      summary: Get Originations of a Block
      description: Get all Originations of a spcific Block
      operationId: getBlockOriginations
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: blockhash
        in: path
        description: Blockhash
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Originations
          schema:
            type: array
            items:
              $ref: '#/definitions/Origination'
  /block/{blockhash}/operations/transactions:
    get:
      tags:
      - Block
      summary: Get Transactions of Block
      description: Get all Transactions of a spcific Block
      operationId: getBlockTransaction
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: blockhash
        in: path
        description: Blockhash
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Transactions
          schema:
            type: array
            items:
              $ref: '#/definitions/Transaction'
  /blocks/all:
    get:
      tags:
      - Block
      summary: 'Get All Blocks '
      description: Get all Blocks
      operationId: BlocksAll
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: page
        in: query
        description: Pagination, 200 tx per page max
        required: false
        type: number
      - name: order
        in: query
        description: ASC or DESC
        required: false
        type: string
        enum:
        - ASC
        - DESC
      - name: limit
        in: query
        description: Results per Page
        required: false
        type: integer
      responses:
        405:
          description: Invalid input
        default:
          description: Returns the matching Blocks
          schema:
            $ref: '#/definitions/BlocksAll'
  /blocks/recent:
    get:
      tags:
      - Block
      summary: returns the last 25 blocks
      description: Get all Blocks for a specific Level
      operationId: recentBlocks
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters: []
      responses:
        405:
          description: Invalid input
        default:
          description: Returns the 25 latest Blocks
          schema:
            type: array
            items:
              $ref: '#/definitions/Block'
  /blocks/{level}:
    get:
      tags:
      - Block
      summary: Get All Blocks for a specific Level
      description: Get all Blocks for a specific Level
      operationId: BlocksByLevel
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: level
        in: path
        description: The level of the Blocks to retrieve, includes abandoned
        required: true
        type: number
      responses:
        405:
          description: Invalid input
        default:
          description: Returns the matching Blocks
          schema:
            type: array
            items:
              $ref: '#/definitions/Block'
  /blocks/{startlevel}/{stoplevel}:
    get:
      tags:
      - Block
      summary: Get All Blocks for a specific Level-Range
      description: Get all Blocks for a specific Level-Range
      operationId: BlocksByLevelRange
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: startlevel
        in: path
        description: lowest blocklevel to return
        required: true
        type: number
      - name: stoplevel
        in: path
        description: highest blocklevel to return
        required: true
        type: number
      responses:
        405:
          description: Invalid input
        default:
          description: Returns the matching Blocks
          schema:
            $ref: '#/definitions/BlockRange'
  /delegation/{delegation_hash}:
    get:
      tags:
      - Delegation
      summary: Get Delegation
      description: Get a specific Delegation
      operationId: getDelegation
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: delegation_hash
        in: path
        description: The hash of the Origination to retrieve
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Delegation
          schema:
            $ref: '#/definitions/Delegation'
  /endorsement/for/{block_hash}:
    get:
      tags:
      - Endorsement
      summary: Get Endorsement
      description: Get a specific Endorsement
      operationId: getEndorsementForBlock
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: block_hash
        in: path
        description: blockhash
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Endorsements
          schema:
            type: array
            items:
              $ref: '#/definitions/Endorsement'
  /endorsement/{endorsement_hash}:
    get:
      tags:
      - Endorsement
      summary: Get Endorsement
      description: Get a specific Endorsement
      operationId: getEndorsement
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: endorsement_hash
        in: path
        description: The hash of the Endorsement to retrieve
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Endorsement
          schema:
            $ref: '#/definitions/Endorsement'
  /maxLevel:
    get:
      tags:
      - Blockchain
      summary: Get Max Blockheight
      description: Get the maximum Level we have seen
      operationId: blockheight
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters: []
      responses:
        default:
          description: Returns the max Blockheight
          schema:
            $ref: '#/definitions/Level'
  /network:
    get:
      tags:
      - Network
      summary: Get Network Information
      description: Get Network Information
      operationId: network
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters: []
      responses:
        default:
          description: Returns NetworkInfo
          schema:
            $ref: '#/definitions/NetworkInfo'
  /operation/{operation_hash}:
    get:
      tags:
      - Operation
      summary: Get Operation
      description: Get a specific Operation
      operationId: getOperation
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: operation_hash
        in: path
        description: The hash of the Operation to retrieve
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Operation
          schema:
            $ref: '#/definitions/Operation'
  /origination/{origination_hash}:
    get:
      tags:
      - Origination
      summary: Get Origination
      description: Get a specific Origination
      operationId: getOrigination
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: origination_hash
        in: path
        description: The hash of the Origination to retrieve
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Origination
          schema:
            $ref: '#/definitions/Origination'
  /price/{denominator}/{numerator}/{period}:
    get:
      tags:
      - Market
      summary: Candlestick Data
      description: Returns CandleStick Prices
      operationId: candlestick
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: denominator
        in: path
        description: which currency
        required: true
        type: string
      - name: numerator
        in: path
        description: to which currency
        required: true
        type: string
      - name: period
        in: path
        description: Timeframe of one candle
        required: true
        type: string
      responses:
        405:
          description: Invalid input
        default:
          description: Returns Candlestick Data
          schema:
            type: array
            items:
              $ref: '#/definitions/Candlestick'
  /stats/overview:
    get:
      tags:
      - Stats
      summary: Returns some basic Info
      operationId: getStatsOverview
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters: []
      responses:
        default:
          description: Returns prices and some network info
          schema:
            $ref: '#/definitions/StatsOverview'
  /stats/{group}/{stat}/{period}:
    get:
      tags:
      - Stats
      summary: Get Statistics
      description: Get Statistics
      operationId: getStatistics
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: group
        in: path
        description: Block, Transaction, etc
        required: true
        type: string
      - name: stat
        in: path
        required: true
        type: string
      - name: period
        in: path
        required: true
        type: string
      - name: start_time
        in: query
        required: false
        type: string
        format: date-time
      - name: end_time
        in: query
        required: false
        type: string
        format: date-time
      responses:
        default:
          description: Returns the matching Values
          schema:
            type: array
            items:
              $ref: '#/definitions/Stats'
  /ticker/{numerator}:
    get:
      tags:
      - Market
      summary: Get Ticker for a specific Currency
      description: Returns BTC, USD, EUR and CNY Prices
      operationId: ticker
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: numerator
        in: path
        description: The level of the Blocks to retrieve
        required: true
        type: string
      responses:
        405:
          description: Invalid input
        default:
          description: Returns the matching Blocks
          schema:
            $ref: '#/definitions/Ticker'
  /transaction/{transaction_hash}:
    get:
      tags:
      - Transaction
      summary: Get Transaction
      description: Get a specific Transaction
      operationId: getTransaction
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: transaction_hash
        in: path
        description: The hash of the Transaction to retrieve
        required: true
        type: string
      responses:
        default:
          description: Returns the matching Transaction
          schema:
            $ref: '#/definitions/Transaction'
  /transactions/all:
    get:
      tags:
      - Transaction
      summary: Get All Transactions
      description: Get all Transactions
      operationId: TransactionsAll
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: page
        in: query
        description: Pagination, 200 tx per page max
        required: false
        type: number
      - name: order
        in: query
        description: ASC or DESC
        required: false
        type: string
        enum:
        - ASC
        - DESC
      - name: limit
        in: query
        description: Results per Page
        required: false
        type: integer
      responses:
        405:
          description: Invalid input
        default:
          description: Returns the matching Transactions
          schema:
            $ref: '#/definitions/TransactionRange'
  /transactions/recent:
    get:
      tags:
      - Transaction
      summary: Returns the last 50 Transactions
      operationId: getTransactionsRecent
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters: []
      responses:
        default:
          description: Returns latest 50 Transactions
          schema:
            type: array
            items:
              $ref: '#/definitions/Transaction'
  /transactions/{startlevel}/{stoplevel}:
    get:
      tags:
      - Transaction
      summary: Get All Transactions for a specific Level-Range
      description: Get all Transactions for a specific Level-Range
      operationId: TransactionsByLevelRange
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: startlevel
        in: path
        description: lowest blocklevel to return
        required: true
        type: number
      - name: stoplevel
        in: path
        description: highest blocklevel to return
        required: true
        type: number
      - name: page
        in: query
        description: Pagination, 200 tx per page max
        required: false
        type: number
      - name: order
        in: query
        description: ASC or DESC
        required: false
        type: string
        enum:
        - ASC
        - DESC
      - name: limit
        in: query
        description: Results per Page
        required: false
        type: integer
      responses:
        405:
          description: Invalid input
        default:
          description: Returns the matching Transactions
          schema:
            $ref: '#/definitions/TransactionRange'
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":22:{s:5:\"Block\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:4:\"hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"net_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"proto\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"successors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ChainStatus\";}}s:11:\"predecessor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"validation_pass\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"chain_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"operations_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"operations_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"baker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"seed_nonce_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"proof_of_work_nonce\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"signature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"operations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BlockOperationsSorted\";}}}s:11:\"ChainStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"chain_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:5:\"Level\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:11:\"NetworkInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"max_level\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"blocktime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"transactions_24h\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"oeprations_24h\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"BlockOperationsSorted\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";}}s:12:\"originations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Origination\";}}s:11:\"delegations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Delegation\";}}s:12:\"endorsements\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Endorsement\";}}}}s:9:\"Operation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"transaction\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";}s:11:\"origination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Origination\";}s:10:\"delegation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Delegation\";}}}s:11:\"Transaction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"public_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"block_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"counter\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TransactionOperation\";}}}}s:20:\"TransactionOperation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TezosScript\";}}}s:11:\"TezosScript\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"int\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"prim\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"args\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TezosScript\";}}}}s:12:\"Transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";}}s:11:\"Origination\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"public_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"fee\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"counter\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/OriginationOperation\";}}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"block_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:20:\"OriginationOperation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"manager_pubkey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"balance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"spendable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"delegateable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"delegate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"script\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TezosScript\";}s:7:\"storage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TezosScript\";}}}s:6:\"Ticker\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"BTC\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"CNY\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"USD\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"EUR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"Candlestick\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:1:\"o\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"h\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"l\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"c\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"vol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:10:\"Delegation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"public_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"fee\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"counter\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"delegate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"block_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:11:\"Endorsement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"block\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"endorsed_block\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slot\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:10:\"BlockRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"maxBlockLevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"blocks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Block\";}}}}s:16:\"TransactionRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"maxBlockLevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";}}s:13:\"total_results\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"current_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:9:\"BlocksAll\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"maxBlockLevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"blocks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Block\";}}s:13:\"total_results\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"current_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"StatsOverview\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"price_usd\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"price_btc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"block_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:20:\"Blocktime
  in seconds\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:11:\"description\";s:40:\"stats
  aggregated over the last 25 blocks\";}s:5:\"Stats\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"stat_group\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"stat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:11:\"description\";s:44:\"See
  StatsDescription for all valid Endpoints\";}s:7:\"Account\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"operation_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"sent_transaction_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"recv_transaction_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"origination_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"delegation_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"delegated_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"endorsement_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"first_seen\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"last_seen\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"balance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"total_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"total_received\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"baked_blocks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:19:\"Account
  Information\";}}"
...
