---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1191:\"<p>AWS
  Performance Insights enables you to monitor and explore different dimensions of
  database load based on data captured from a running RDS instance. The guide provides
  detailed information about Performance Insights data types, parameters and errors.
  For more information about Performance Insights capabilities see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_PerfInsights.html\">Using
  Amazon RDS Performance Insights </a> in the <i>Amazon RDS User Guide</i>.</p> <p>
  The AWS Performance Insights API provides visibility into the performance of your
  RDS instance, when Performance Insights is enabled for supported engine types. While
  Amazon CloudWatch provides the authoritative source for AWS service vended monitoring
  metrics, AWS Performance Insights offers a domain-specific view of database load
  measured as Average Active Sessions and provided to API consumers as a 2-dimensional
  time-series dataset. The time dimension of the data provides DB load data for each
  time point in the queried time range, and each time point decomposes overall load
  in relation to the requested dimensions, such as SQL, Wait-event, User or Host,
  measured at that time point.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:24:\"AWS
  Performance Insights\";s:7:\"version\";s:10:\"2018-02-27\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:86:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/pi-2018-02-27.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:2:\"pi\";}"
host: pi.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: For a specific time period, retrieve the top <code>N</code> dimension
        keys for a metric.
      operationId: DescribeDimensionKeys
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDimensionKeysRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeDimensionKeysResponse'
        480:
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        481:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        482:
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
  /#GetResourceMetrics:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieve Performance Insights metrics for a set of data sources,
        over a time period. You can provide specific dimension groups and dimensions,
        and provide aggregation and filtering criteria for each group.
      operationId: GetResourceMetrics
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetResourceMetricsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetResourceMetricsResponse'
        480:
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        481:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        482:
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":30:{s:9:\"DataPoint\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"A
  timestamp, and a single numerical value, which together represent a measurement
  at a particular point in time.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ISOTimestamp\";s:11:\"description\";s:75:\"The
  time, in epoch format, associated with a particular <code>Value</code>.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:69:\"The
  actual value associated with a particular <code>Timestamp</code>.\";}}s:8:\"required\";a:2:{i:0;s:9:\"Timestamp\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:14:\"DataPointsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataPoint\";}s:4:\"type\";s:5:\"array\";}s:28:\"DescribeDimensionKeysRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ISOTimestamp\";s:11:\"description\";s:299:\"<p>The
  date and time specifying the end of the requested time series data. The value specified
  is <i>exclusive</i> - data points less than (but not equal to) <code>EndTime</code>
  will be returned.</p> <p>The value for <code>EndTime</code> must be later than the
  value for <code>StartTime</code>.</p>\";}s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/MetricQueryFilterMap\";s:11:\"description\";s:301:\"<p>One
  or more filters to apply in the request. Restrictions:</p> <ul> <li> <p>Any number
  of filters by the same dimension, as specified in the <code>GroupBy</code> or <code>Partition</code>
  parameters.</p> </li> <li> <p>A single filter for any other dimension in this dimension
  group.</p> </li> </ul>\";}s:7:\"GroupBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionGroup\";s:11:\"description\";s:358:\"A
  specification for how to aggregate the data points from a query result. You must
  specify a valid dimension group. Performance Insights will return all of the dimensions
  within that group, unless you provide the names of specific dimensions within that
  group. You can also request that Performance Insights return a limited number of
  values for a dimension.\";}s:10:\"Identifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:291:\"<p>An
  immutable, AWS Region-unique identifier for a data source. Performance Insights
  gathers metrics from this data source.</p> <p>To use an Amazon RDS instance as a
  data source, you specify its <code>DbiResourceId</code> value - for example: <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code>
  </p>\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:220:\"The
  maximum number of items to return in the response. If more items exist than the
  specified <code>MaxRecords</code> value, a pagination token is included in the response
  so that the remaining results can be retrieved. \";}s:6:\"Metric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:364:\"<p>The
  name of a Performance Insights metric to be measured.</p> <p>Valid values for <code>Metric</code>
  are:</p> <ul> <li> <p> <code>db.load.avg</code> - a scaled representation of the
  number of active sessions for the database engine.</p> </li> <li> <p> <code>db.sampledload.avg</code>
  - the raw number of active sessions for the database engine.</p> </li> </ul>\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:199:\"An
  optional pagination token provided by a previous request. If this parameter is specified,
  the response includes only records beyond the token, up to the value specified by
  <code>MaxRecords</code>.\";}s:11:\"PartitionBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionGroup\";s:11:\"description\";s:140:\"For
  each dimension specified in <code>GroupBy</code>, specify a secondary dimension
  to further subdivide the partition keys in the response.\";}s:15:\"PeriodInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:633:\"<p>The
  granularity, in seconds, of the data points returned from Performance Insights.
  A period can be as short as one second, or as long as one day (86400 seconds). Valid
  values are:</p> <ul> <li> <p> <code>1</code> (one second)</p> </li> <li> <p> <code>60</code>
  (one minute)</p> </li> <li> <p> <code>300</code> (five minutes)</p> </li> <li> <p>
  <code>3600</code> (one hour)</p> </li> <li> <p> <code>86400</code> (twenty-four
  hours)</p> </li> </ul> <p>If you don't specify <code>PeriodInSeconds</code>, then
  Performance Insights will choose a value for you, with a goal of returning roughly
  100-200 data points in the response.</p>\";}s:11:\"ServiceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceType\";s:11:\"description\";s:133:\"The
  AWS service for which Performance Insights will return metrics. The only valid value
  for <i>ServiceType</i> is: <code>RDS</code> \";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ISOTimestamp\";s:11:\"description\";s:380:\"<p>The
  date and time specifying the beginning of the requested time series data. You can't
  specify a <code>StartTime</code> that's earlier than 7 days ago. The value specified
  is <i>inclusive</i> - data points equal to or greater than <code>StartTime</code>
  will be returned.</p> <p>The value for <code>StartTime</code> must be earlier than
  the value for <code>EndTime</code>.</p>\";}}s:8:\"required\";a:6:{i:0;s:11:\"ServiceType\";i:1;s:10:\"Identifier\";i:2;s:9:\"StartTime\";i:3;s:7:\"EndTime\";i:4;s:6:\"Metric\";i:5;s:7:\"GroupBy\";}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeDimensionKeysResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"AlignedEndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ISOTimestamp\";s:11:\"description\";s:247:\"The
  end time for the returned dimension keys, after alignment to a granular boundary
  (as specified by <code>PeriodInSeconds</code>). <code>AlignedEndTime</code> will
  be greater than or equal to the value of the user-specified <code>Endtime</code>.\";}s:16:\"AlignedStartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ISOTimestamp\";s:11:\"description\";s:250:\"The
  start time for the returned dimension keys, after alignment to a granular boundary
  (as specified by <code>PeriodInSeconds</code>). <code>AlignedStartTime</code> will
  be less than or equal to the value of the user-specified <code>StartTime</code>.\";}s:4:\"Keys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/DimensionKeyDescriptionList\";s:11:\"description\";s:39:\"The
  dimension keys that were requested.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:199:\"An
  optional pagination token provided by a previous request. If this parameter is specified,
  the response includes only records beyond the token, up to the value specified by
  <code>MaxRecords</code>.\";}s:13:\"PartitionKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ResponsePartitionKeyList\";s:11:\"description\";s:152:\"If
  <code>PartitionBy</code> was present in the request, <code>PartitionKeys</code>
  contains the breakdown of dimension keys by the specified partitions.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DimensionGroup\";O:8:\"stdClass\":4:{s:11:\"description\";s:289:\"A
  logical grouping of Performance Insights metrics for a related subject area. For
  example, the <code>db.sql</code> dimension group consists of the following dimensions:
  <code>db.sql.id</code>, <code>db.sql.db_id</code>, <code>db.sql.statement</code>,
  and <code>db.sql.tokenized_id</code>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:778:\"<p>A
  list of specific dimensions from a dimension group. If this parameter is not present,
  then it signifies that all of the dimensions in the group were requested, or are
  present in the response.</p> <p>Valid values for elements in the <code>Dimensions</code>
  array are:</p> <ul> <li> <p>db.user.id</p> </li> <li> <p>db.user.name</p> </li>
  <li> <p>db.host.id</p> </li> <li> <p>db.host.name</p> </li> <li> <p>db.sql.id</p>
  </li> <li> <p>db.sql.db_id</p> </li> <li> <p>db.sql.statement</p> </li> <li> <p>db.sql.tokenized_id</p>
  </li> <li> <p>db.sql_tokenized.id</p> </li> <li> <p>db.sql_tokenized.db_id</p> </li>
  <li> <p>db.sql_tokenized.statement</p> </li> <li> <p>db.wait_event.name</p> </li>
  <li> <p>db.wait_event.type</p> </li> <li> <p>db.wait_event_type.name</p> </li> </ul>\";}s:5:\"Group\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:339:\"<p>The
  name of the dimension group. Valid values are:</p> <ul> <li> <p> <code>db.user</code>
  </p> </li> <li> <p> <code>db.host</code> </p> </li> <li> <p> <code>db.sql</code>
  </p> </li> <li> <p> <code>db.sql_tokenized</code> </p> </li> <li> <p> <code>db.wait_event</code>
  </p> </li> <li> <p> <code>db.wait_event_type</code> </p> </li> </ul>\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:62:\"The
  maximum number of items to fetch for this dimension group.\";}}s:8:\"required\";a:1:{i:0;s:5:\"Group\";}s:4:\"type\";s:6:\"object\";}s:23:\"DimensionKeyDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"An
  array of descriptions and aggregated values for each dimension within a dimension
  group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DimensionMap\";s:11:\"description\";s:58:\"A
  map of name-value pairs for the dimensions in the group.\";}s:10:\"Partitions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MetricValuesList\";s:11:\"description\";s:104:\"If
  <code>PartitionBy</code> was specified, <code>PartitionKeys</code> contains the
  dimensions that were.\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:80:\"The
  aggregated metric value for the dimension(s), over the requested time range.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DimensionKeyDescriptionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DimensionKeyDescription\";}s:4:\"type\";s:5:\"array\";}s:12:\"DimensionMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"Double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:25:\"GetResourceMetricsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ISOTimestamp\";s:11:\"description\";s:300:\"<p>The
  date and time specifiying the end of the requested time series data. The value specified
  is <i>exclusive</i> - data points less than (but not equal to) <code>EndTime</code>
  will be returned.</p> <p>The value for <code>EndTime</code> must be later than the
  value for <code>StartTime</code>.</p>\";}s:10:\"Identifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:291:\"<p>An
  immutable, AWS Region-unique identifier for a data source. Performance Insights
  gathers metrics from this data source.</p> <p>To use an Amazon RDS instance as a
  data source, you specify its <code>DbiResourceId</code> value - for example: <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code>
  </p>\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:220:\"The
  maximum number of items to return in the response. If more items exist than the
  specified <code>MaxRecords</code> value, a pagination token is included in the response
  so that the remaining results can be retrieved. \";}s:13:\"MetricQueries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MetricQueryList\";s:11:\"description\";s:161:\"An
  array of one or more queries to perform. Each query must specify a Performance Insights
  metric, and can optionally specify aggregation and filtering criteria.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:199:\"An
  optional pagination token provided by a previous request. If this parameter is specified,
  the response includes only records beyond the token, up to the value specified by
  <code>MaxRecords</code>.\";}s:15:\"PeriodInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:633:\"<p>The
  granularity, in seconds, of the data points returned from Performance Insights.
  A period can be as short as one second, or as long as one day (86400 seconds). Valid
  values are:</p> <ul> <li> <p> <code>1</code> (one second)</p> </li> <li> <p> <code>60</code>
  (one minute)</p> </li> <li> <p> <code>300</code> (five minutes)</p> </li> <li> <p>
  <code>3600</code> (one hour)</p> </li> <li> <p> <code>86400</code> (twenty-four
  hours)</p> </li> </ul> <p>If you don't specify <code>PeriodInSeconds</code>, then
  Performance Insights will choose a value for you, with a goal of returning roughly
  100-200 data points in the response.</p>\";}s:11:\"ServiceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceType\";s:11:\"description\";s:133:\"The
  AWS service for which Performance Insights will return metrics. The only valid value
  for <i>ServiceType</i> is: <code>RDS</code> \";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ISOTimestamp\";s:11:\"description\";s:380:\"<p>The
  date and time specifying the beginning of the requested time series data. You can't
  specify a <code>StartTime</code> that's earlier than 7 days ago. The value specified
  is <i>inclusive</i> - data points equal to or greater than <code>StartTime</code>
  will be returned.</p> <p>The value for <code>StartTime</code> must be earlier than
  the value for <code>EndTime</code>.</p>\";}}s:8:\"required\";a:5:{i:0;s:11:\"ServiceType\";i:1;s:10:\"Identifier\";i:2;s:13:\"MetricQueries\";i:3;s:9:\"StartTime\";i:4;s:7:\"EndTime\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetResourceMetricsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"AlignedEndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ISOTimestamp\";s:11:\"description\";s:240:\"The
  end time for the returned metrics, after alignment to a granular boundary (as specified
  by <code>PeriodInSeconds</code>). <code>AlignedEndTime</code> will be greater than
  or equal to the value of the user-specified <code>Endtime</code>.\";}s:16:\"AlignedStartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ISOTimestamp\";s:11:\"description\";s:243:\"The
  start time for the returned metrics, after alignment to a granular boundary (as
  specified by <code>PeriodInSeconds</code>). <code>AlignedStartTime</code> will be
  less than or equal to the value of the user-specified <code>StartTime</code>.\";}s:10:\"Identifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:291:\"<p>An
  immutable, AWS Region-unique identifier for a data source. Performance Insights
  gathers metrics from this data source.</p> <p>To use an Amazon RDS instance as a
  data source, you specify its <code>DbiResourceId</code> value - for example: <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code>
  </p>\";}s:10:\"MetricList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/MetricKeyDataPointsList\";s:11:\"description\";s:113:\"An
  array of metric results,, where each array element contains all of the data points
  for a particular dimension.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:199:\"An
  optional pagination token provided by a previous request. If this parameter is specified,
  the response includes only records beyond the token, up to the value specified by
  <code>MaxRecords</code>.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ISOTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"InternalServiceError\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  request failed due to an unknown error.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidArgumentException\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"One
  of the arguments provided is invalid for this request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Limit\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:19:\"MetricKeyDataPoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"A
  time-ordered series of data points, correpsonding to a dimension of a Performance
  Insights metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DataPoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DataPointsList\";s:11:\"description\";s:83:\"An
  array of timestamp-value pairs, representing measurements over a period of time.\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ResponseResourceMetricKey\";s:11:\"description\";s:48:\"The
  dimension(s) to which the data points apply.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"MetricKeyDataPointsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MetricKeyDataPoints\";}s:4:\"type\";s:5:\"array\";}s:11:\"MetricQuery\";O:8:\"stdClass\":4:{s:11:\"description\";s:364:\"A
  single query to be processed. You must provide the metric to query. If no other
  parameters are specified, Performance Insights returns all of the data points for
  that metric. You can optionally request that the data points be aggregated by dimension
  group ( <code>GroupBy</code>), and return only those data points that match your
  criteria (<code>Filter</code>).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/MetricQueryFilterMap\";s:11:\"description\";s:274:\"<p>One
  or more filters to apply in the request. Restrictions:</p> <ul> <li> <p>Any number
  of filters by the same dimension, as specified in the <code>GroupBy</code> parameter.</p>
  </li> <li> <p>A single filter for any other dimension in this dimension group.</p>
  </li> </ul>\";}s:7:\"GroupBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionGroup\";s:11:\"description\";s:358:\"A
  specification for how to aggregate the data points from a query result. You must
  specify a valid dimension group. Performance Insights will return all of the dimensions
  within that group, unless you provide the names of specific dimensions within that
  group. You can also request that Performance Insights return a limited number of
  values for a dimension.\";}s:6:\"Metric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:364:\"<p>The
  name of a Performance Insights metric to be measured.</p> <p>Valid values for <code>Metric</code>
  are:</p> <ul> <li> <p> <code>db.load.avg</code> - a scaled representation of the
  number of active sessions for the database engine.</p> </li> <li> <p> <code>db.sampledload.avg</code>
  - the raw number of active sessions for the database engine.</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:6:\"Metric\";}s:4:\"type\";s:6:\"object\";}s:20:\"MetricQueryFilterMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"MetricQueryList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MetricQuery\";}s:8:\"maxItems\";i:15;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:16:\"MetricValuesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Double\";}s:4:\"type\";s:5:\"array\";}s:22:\"NotAuthorizedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  user is not authorized to perform this request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ResponsePartitionKey\";O:8:\"stdClass\":4:{s:11:\"description\";s:183:\"If
  <code>PartitionBy</code> was specified in a <code>DescribeDimensionKeys</code> request,
  the dimensions are returned in an array. Each element in the array specifies one
  dimension. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DimensionMap\";s:11:\"description\";s:66:\"A
  dimension map that contains the dimension(s) for this partition.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Dimensions\";}s:4:\"type\";s:6:\"object\";}s:24:\"ResponsePartitionKeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ResponsePartitionKey\";}s:4:\"type\";s:5:\"array\";}s:25:\"ResponseResourceMetricKey\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"An
  object describing a Performance Insights metric and one or more dimensions for that
  metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DimensionMap\";s:11:\"description\";s:36:\"The
  valid dimensions for the metric.\";}s:6:\"Metric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:364:\"<p>The
  name of a Performance Insights metric to be measured.</p> <p>Valid values for <code>Metric</code>
  are:</p> <ul> <li> <p> <code>db.load.avg</code> - a scaled representation of the
  number of active sessions for the database engine.</p> </li> <li> <p> <code>db.sampledload.avg</code>
  - the raw number of active sessions for the database engine.</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:6:\"Metric\";}s:4:\"type\";s:6:\"object\";}s:11:\"ServiceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"RDS\";}s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StringList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}"
...
