---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"Organization\";s:11:\"description\";s:144:\"This
  is an organization API that I use to keep track of companies who are doing interesting
  things in the API space, or at least they should be.\";s:14:\"termsOfService\";s:40:\"http://kinlane.com/terms-of-service.html\";s:7:\"version\";s:2:\"v2\";}"
host: organization.api.kinlane.com
basePath: /
paths:
  /organization/:
    get:
      summary: get organizations
      description: get organizations
      operationId: getOrganizations
      parameters:
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: query
        in: query
        description: a text query to search across organizations
        required: true
        type: string
      responses:
        200:
          description: organization response
          schema:
            type: array
            items:
              $ref: '#/definitions/organization'
      tags:
      - Organizations
    post:
      summary: add new organization
      description: add new organization
      operationId: addOrganization
      parameters:
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: name
        in: formData
        description: name of organization
        required: false
        type: string
      - name: details
        in: formData
        description: details for the organization
        required: false
        type: string
      - name: summary
        in: formData
        description: sumary of the organization
        required: false
        type: string
      - name: url
        in: formData
        description: unique url for the organization
        required: true
        type: string
      - name: phone
        in: formData
        description: phone for the organization
        required: false
        type: string
      - name: email
        in: formData
        description: email for the organization
        required: false
        type: string
      - name: address
        in: formData
        description: primary address of the organization
        required: false
        type: integer
      - name: city
        in: formData
        description: primary city of the organization
        required: false
        type: string
      - name: state
        in: formData
        description: primary state of the organization
        required: false
        type: string
      - name: postal_code
        in: formData
        description: primary postal code of the organization
        required: false
        type: string
      - name: country
        in: formData
        description: primary country of the organization
        required: false
        type: string
      - name: rank
        in: formData
        description: ranking for the organization
        required: false
        type: integer
      - name: location
        in: formData
        description: primary location of the organization
        required: false
        type: string
      - name: photo
        in: formData
        description: primary photo of the organization
        required: false
        type: string
      responses:
        200:
          description: organization response
          schema:
            type: array
            items:
              $ref: '#/definitions/organization'
      tags:
      - Organizations
  /organization/{organization_id}/:
    get:
      summary: get organization
      description: get organization
      operationId: getOrganization
      parameters:
      - name: organization_id
        in: path
        description: the unique id for organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: organization response
          schema:
            type: array
            items:
              $ref: '#/definitions/organization'
      tags:
      - Organizations
    put:
      summary: update organization
      description: update organization
      operationId: updateOrganization
      parameters:
      - name: organization_id
        in: path
        description: the unique id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: name
        in: formData
        description: name of organization
        required: true
        type: string
      - name: details
        in: formData
        description: details for the organization
        required: false
        type: string
      - name: summary
        in: formData
        description: sumary of the organization
        required: false
        type: string
      - name: url
        in: formData
        description: unique url for the organization
        required: true
        type: string
      - name: phone
        in: formData
        description: phone for the organization
        required: false
        type: string
      - name: email
        in: formData
        description: email for the organization
        required: false
        type: string
      - name: address
        in: formData
        description: primary address of the organization
        required: false
        type: integer
      - name: city
        in: formData
        description: primary city of the organization
        required: false
        type: string
      - name: state
        in: formData
        description: primary state of the organization
        required: false
        type: string
      - name: postal_code
        in: formData
        description: primary postal code of the organization
        required: false
        type: string
      - name: country
        in: formData
        description: primary country of the organization
        required: false
        type: string
      - name: rank
        in: formData
        description: ranking for the organization
        required: false
        type: integer
      - name: location
        in: formData
        description: primary location of the organization
        required: false
        type: string
      - name: photo
        in: formData
        description: primary photo of the organization
        required: false
        type: string
      responses:
        200:
          description: organization response
          schema:
            type: array
            items:
              $ref: '#/definitions/organization'
      tags:
      - Organizations
    delete:
      summary: delete organization
      description: delete organization
      operationId: deleteOrganization
      parameters:
      - name: organization_id
        in: path
        description: the unique id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: organization response
          schema:
            type: array
            items:
              $ref: '#/definitions/organization'
      tags:
      - Organizations
  /organization/{organization_id}/tags/:
    get:
      summary: retrieve organization tags
      description: retrieve organization tags
      operationId: getOrganizationTags
      parameters:
      - name: organization_id
        in: path
        description: id for organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: Organization Tags Response
          schema:
            type: array
            items:
              $ref: '#/definitions/tag'
      tags:
      - Tags
    post:
      summary: add tag to organization
      description: add tag for organization
      operationId: addOrganizationTag
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: tag
        in: formData
        description: tag name
        required: true
        type: string
      responses:
        200:
          description: Organization Response
          schema:
            type: array
            items:
              $ref: '#/definitions/tag'
      tags:
      - Tags
  /organization/{organization_id}/tags/{tag}:
    delete:
      summary: delete a organization tag
      description: deletes a tag applied to organization
      operationId: deleteOrganizationTag
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: string
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: tag
        in: path
        description: tag to remove from organization
        required: true
        type: string
      responses:
        200:
          description: Organization Tag Response
          schema:
            type: array
            items:
              $ref: '#/definitions/tag'
      tags:
      - Tags
  /organization/{organization_id}/notes/:
    get:
      summary: retrieve an APIs notes
      description: Returns the notes for an API
      operationId: getOrganizationNotes
      parameters:
      - name: organization_id
        in: path
        description: id for the API
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the API
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the API
        required: true
        type: string
      responses:
        200:
          description: API Notes Response
          schema:
            type: array
            items:
              $ref: '#/definitions/note'
      tags:
      - Notes
    post:
      summary: add an Organization note
      description: Add a note for the organization
      operationId: addOrganizationNote
      parameters:
      - name: organization_id
        in: path
        description: id for the api item
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the API
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the API
        required: true
        type: string
      - name: type
        in: formData
        description: type of the note
        required: true
        type: string
      - name: note
        in: formData
        description: the full text of note
        required: true
        type: string
      responses:
        200:
          description: API Note Response
          schema:
            type: array
            items:
              $ref: '#/definitions/note'
      tags:
      - Notes
  /organization/{organization_id}/notes/{note_id}:
    delete:
      summary: delete an organization note
      description: Deletes a note for a organization
      operationId: deleteOrganizationNote
      parameters:
      - name: organization_id
        in: path
        description: id for the API
        required: true
        type: string
      - name: appid
        in: query
        description: your appid for accessing the API
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the API
        required: true
        type: string
      - name: note_id
        in: path
        description: id for the note
        required: true
        type: string
      responses:
        200:
          description: API Note Response
          schema:
            type: array
            items:
              $ref: '#/definitions/note'
      tags:
      - Notes
  /organization/{organization_id}/apis/:
    get:
      summary: retrieve organization APIs
      description: Returns the APIs for an organization
      operationId: getAPIsForOrganization
      parameters:
      - name: organization_id
        in: path
        description: id for organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: Organization API Response
          schema:
            type: array
            items:
              $ref: '#/definitions/api'
      tags:
      - APIs
    post:
      summary: add API to organization
      description: add API for organization
      operationId: addOrganizationAPI
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: api_id
        in: formData
        description: API unique ID
        required: true
        type: string
      responses:
        200:
          description: Organization API Response
          schema:
            type: array
            items:
              $ref: '#/definitions/api'
      tags:
      - APIs
  /organization/{organization_id}/apis/{api_id}:
    delete:
      summary: delete a organization API
      description: deletes a API applied to organization
      operationId: deleteOrganizationAPI
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: string
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: api_id
        in: path
        description: unique ID for API to remove from organization
        required: true
        type: string
      responses:
        200:
          description: Organization A Response
          schema:
            type: array
            items:
              $ref: '#/definitions/api'
      tags:
      - APIs
  /organization/{organization_id}/buildingblocks/:
    get:
      summary: retrieve organization building blocks
      description: retrieve organization building blocks
      operationId: getOrganizationBuildingBlocks
      parameters:
      - name: organization_id
        in: path
        description: id for organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: Organization Tags Response
          schema:
            type: array
            items:
              $ref: '#/definitions/buildingblock'
      tags:
      - Building Blocks
    post:
      summary: add building block to organization
      description: add building block for organization
      operationId: addOrganizationBuildingBlock
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: building_block_id
        in: formData
        description: building block unique id
        required: true
        type: integer
        format: id
      - name: tools_id
        in: formData
        description: tool id for the building block
        required: false
        type: integer
        format: id
      - name: url
        in: formData
        description: url for the building block
        required: false
        type: string
      responses:
        200:
          description: Organization Building Block Response
          schema:
            type: array
            items:
              $ref: '#/definitions/buildingblock'
      tags:
      - Building Blocks
  /organization/{organization_id}/buildingblocks/{building_block_id}:
    delete:
      summary: delete a organization building block
      description: delete a organization building block
      operationId: deleteOrganizationBuildingBlock
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: string
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: building_block_id
        in: path
        description: building block to remove from organization
        required: true
        type: string
      responses:
        200:
          description: Organization Building Block Response
          schema:
            type: array
            items:
              $ref: '#/definitions/tag'
      tags:
      - Building Blocks
  /organization/{organization_id}/tools/:
    get:
      summary: retrieve organization tools
      description: Returns the tols for an organization
      operationId: getOrganizationTools
      parameters:
      - name: organization_id
        in: path
        description: id for organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: Organization Tool Response
          schema:
            type: array
            items:
              $ref: '#/definitions/tool'
      tags:
      - Tools
    post:
      summary: add tool to organization
      description: add tool for organization
      operationId: addOrganizationTool
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: tool_id
        in: formData
        description: the unique tool id
        required: false
        type: integer
        format: id
      - name: url
        in: formData
        description: url for the tool
        required: false
        type: string
      responses:
        200:
          description: Organization Tool Response
          schema:
            type: array
            items:
              $ref: '#/definitions/tool'
      tags:
      - Tools
  /organization/{organization_id}/tools/{tool_id}:
    delete:
      summary: delete a organization tool
      description: deletes a tool applied to organization
      operationId: getOrganizationTool
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: string
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: tool_id
        in: path
        description: tool to remove from organization
        required: true
        type: string
      responses:
        200:
          description: Organization Tool Response
          schema:
            type: array
            items:
              $ref: '#/definitions/tool'
      tags:
      - Tools
  /organization/{organization_id}/images/:
    get:
      summary: retrieve organization images
      description: Returns the images for an organization
      operationId: getOrganizationImages
      parameters:
      - name: organization_id
        in: path
        description: id for organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: Organization Images Response
          schema:
            type: array
            items:
              $ref: '#/definitions/image'
      tags:
      - Images
    post:
      summary: add image to organization
      description: add image for organization
      operationId: addOrganizationImage
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: path
        in: formData
        description: image path
        required: true
        type: string
      - name: type
        in: formData
        description: image type
        required: true
        type: string
      - name: name
        in: formData
        description: image name
        required: true
        type: string
      responses:
        200:
          description: Organization Image Response
          schema:
            type: array
            items:
              $ref: '#/definitions/image'
      tags:
      - Images
  /organization/{organization_id}/images/{image_id}:
    delete:
      summary: delete a organization image
      description: deletes a image applied to organization
      operationId: deleteOrganizationImage
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: string
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: image_id
        in: path
        description: id for the image to remove from organization
        required: true
        type: string
      responses:
        200:
          description: Organization Image Response
          schema:
            type: array
            items:
              $ref: '#/definitions/image'
      tags:
      - Images
  /organization/{organization_id}/locations/:
    get:
      summary: retrieve organization locations
      description: Returns the locations for an organization
      operationId: getOrganizationLocations
      parameters:
      - name: organization_id
        in: path
        description: id for organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: Organization Locations Response
          schema:
            type: array
            items:
              $ref: '#/definitions/locations'
      tags:
      - Locations
    post:
      summary: add location to organization
      description: add location for organization
      operationId: addOrganizationLocation
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: description
        in: formData
        description: location description
        required: true
        type: string
      - name: address1
        in: formData
        description: location address 1
        required: false
        type: string
      - name: address2
        in: formData
        description: location address 2
        required: false
        type: string
      - name: city
        in: formData
        description: location city
        required: false
        type: string
      - name: state_code
        in: formData
        description: location state code
        required: false
        type: string
      - name: zip_code
        in: formData
        description: location zip code
        required: false
        type: string
      - name: country_code
        in: formData
        description: location country code
        required: false
        type: string
      - name: latitude
        in: formData
        description: location latitude
        required: false
        type: string
      - name: longitude
        in: formData
        description: location longitude
        required: false
        type: string
      responses:
        200:
          description: Organization Location Response
          schema:
            type: array
            items:
              $ref: '#/definitions/locations'
      tags:
      - Locations
  /organization/{organization_id}/locations/{location_id}:
    delete:
      summary: delete a organization tag
      description: delete a organization tag
      operationId: deleteorganizationLocation
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: string
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: location_id
        in: path
        description: id of location to remove from organization
        required: true
        type: string
      responses:
        200:
          description: Organization Tag Response
          schema:
            type: array
            items:
              $ref: '#/definitions/tag'
      tags:
      - Locations
  /organization/{organization_id}/logs/:
    get:
      summary: retrieve organization logs
      description: retrieve organization logs
      operationId: getOrganizationLogs
      parameters:
      - name: organization_id
        in: path
        description: id for organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: Organization Log Response
          schema:
            type: array
            items:
              $ref: '#/definitions/log'
      tags:
      - Logs
    post:
      summary: add log to organization
      description: add log to organization
      operationId: addOrganizationLog
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: type
        in: formData
        description: type of log entry
        required: true
        type: string
      - name: details
        in: formData
        description: log details
        required: true
        type: string
      responses:
        200:
          description: Organization Log Response
          schema:
            type: array
            items:
              $ref: '#/definitions/log'
      tags:
      - Logs
  /organization/{organization_id}/logs/{log_id}:
    delete:
      summary: delete a organization log
      description: delete a organization log
      operationId: deleteOrganizationLog
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: string
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: log_id
        in: path
        description: id for the log
        required: true
        type: string
      responses:
        200:
          description: Organization Log Response
          schema:
            type: array
            items:
              $ref: '#/definitions/log'
      tags:
      - Logs
  /organization/{organization_id}/screenshots/:
    get:
      summary: retrieve organization screenshots
      description: retrieve organization screenshots
      operationId: getOrganizationScreenshots
      parameters:
      - name: organization_id
        in: path
        description: id for organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: Organization Screenshot Response
          schema:
            type: array
            items:
              $ref: '#/definitions/screenshot'
      tags:
      - Screenshots
    post:
      summary: add screenshots to organization
      description: add screenshots for organization
      operationId: addOrganizationScreenshot
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: path
        in: formData
        description: image path
        required: true
        type: string
      - name: type
        in: formData
        description: image type
        required: true
        type: string
      - name: name
        in: formData
        description: image name
        required: true
        type: string
      responses:
        200:
          description: Organization Screenshot Response
          schema:
            type: array
            items:
              $ref: '#/definitions/screenshot'
      tags:
      - Screenshots
  /organization/{organization_id}/screenshots/{screenshot_id}:
    delete:
      summary: delete a organization screenshot
      description: delete a organization screenshot
      operationId: deleteOrganizationScreenshot
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: string
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: screenshot_id
        in: path
        description: id of the screenshot to remove from organization
        required: true
        type: string
      responses:
        200:
          description: Organization Tag Response
          schema:
            type: array
            items:
              $ref: '#/definitions/screenshot'
      tags:
      - Screenshots
  /organization/{organization_id}/urls/:
    get:
      summary: retrieve organization url
      description: retrieve organization url
      operationId: getOrganizationURLs
      parameters:
      - name: organization_id
        in: path
        description: id for organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      responses:
        200:
          description: Organization URL Response
          schema:
            type: array
            items:
              $ref: '#/definitions/url'
      tags:
      - URLs
    post:
      summary: add URL to organization
      description: add URL for organization
      operationId: addOrganizationURL
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: formData
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: formData
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: type
        in: formData
        description: type of url
        required: true
        type: string
      - name: url
        in: formData
        description: the url
        required: true
        type: string
      - name: name
        in: formData
        description: a name for the url
        required: true
        type: string
      responses:
        200:
          description: Organization URL Response
          schema:
            type: array
            items:
              $ref: '#/definitions/url'
      tags:
      - URLs
  /organization/{organization_id}/urls/{url_id}:
    delete:
      summary: delete a organization url
      description: delete a organization url
      operationId: deleteOrganizationURL
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: string
      - name: appid
        in: query
        description: your appid for accessing the organization
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the organization
        required: true
        type: string
      - name: url_id
        in: path
        description: id for the url
        required: true
        type: string
      responses:
        200:
          description: Organization URL Response
          schema:
            type: array
            items:
              $ref: '#/definitions/url'
      tags:
      - URLs
  /organization/{organization_id}/definitions/export/apisjson/.14/:
    get:
      summary: export an apis.json definition
      description: export an apis.json definition
      operationId: exportOrganizationAPIsJSON
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the API
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the API
        required: true
        type: string
      responses:
        200:
          description: API Definition Response
          schema:
            type: array
            items:
              $ref: '#/definitions/definition'
      tags:
      - Definitions
  /organization/{organization_id}/definitions/export/apisjson/.14/master/:
    get:
      summary: export an apis.json master definition
      description: export an apis.json master definition
      operationId: exportOrganizationAPIsJSON
      parameters:
      - name: organization_id
        in: path
        description: id for the organization
        required: true
        type: integer
        format: id
      - name: appid
        in: query
        description: your appid for accessing the API
        required: true
        type: string
      - name: appkey
        in: query
        description: your appkey for accessing the API
        required: true
        type: string
      responses:
        200:
          description: API Definition Response
          schema:
            type: array
            items:
              $ref: '#/definitions/definition'
      tags:
      - Definitions
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":12:{s:12:\"organization\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:15:\"organization_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"unique
  id of the organization\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"name
  of the organization\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"details
  for the organization\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"summary
  of the organization\";s:4:\"type\";s:6:\"string\";}s:9:\"post_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"date
  the organization was posted\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"primary
  URL for the organization\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"primary
  phone for the organization\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"primary
  email for the organization\";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"primary
  address for the organizaiton\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"primary
  city for the organizaiton\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"primary
  state for the organizaiton\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"primary
  postal code for the organizaiton\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"primary
  country for the organizaiton\";s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"rank
  for the organizaiton\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"primary
  location for the organizaiton\";s:4:\"type\";s:6:\"string\";}s:5:\"photo\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"primary
  photo for the organizaiton\";s:4:\"type\";s:6:\"string\";}}}s:3:\"api\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"api_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"id
  for the api item\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"label\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"title
  of the api item\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"url
  for the api item\";s:4:\"type\";s:6:\"string\";}s:9:\"item_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"date
  applied to the api item\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"raw
  details for the api item\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:2:\"id\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"status
  of the api item\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:2:\"id\";}s:14:\"public_comment\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"any
  public comment for the api item\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:2:\"id\";}s:13:\"original_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"orignal
  date for the api item\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";}s:6:\"author\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"author
  for the api item\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:2:\"id\";}s:9:\"processed\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"has
  the api item been processed\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:2:\"id\";}s:6:\"domain\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"root
  domain for the api item\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:2:\"id\";}s:14:\"screenshot_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"screenshot
  url for the api item\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:2:\"id\";}s:12:\"resolved_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"resolved
  url for the api item\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:2:\"id\";}s:14:\"weekly_summary\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"include
  in weekly summary\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:2:\"id\";}s:14:\"weekly_roundup\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"include
  in weekly roundup\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:2:\"id\";}}}s:3:\"tag\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"tag_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"id
  for the tag\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"text
  tag\";s:4:\"type\";s:6:\"string\";}s:9:\"api_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"number
  of items api with tag\";s:4:\"type\";s:7:\"integer\";}}}s:4:\"note\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"note_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"id
  for the api item\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"type
  of note\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"text
  of note\";s:4:\"type\";s:6:\"string\";}}}s:3:\"url\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"note_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"id
  for the API\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"the
  type of url\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"url
  for the url\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"name
  of the url\";s:4:\"type\";s:6:\"string\";}}}s:5:\"image\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"api_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"id
  for the API\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:8:\"image_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"id
  for the image\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"name
  of the image\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"path
  of the image\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"type
  of image\";s:4:\"type\";s:6:\"string\";}}}s:10:\"screenshot\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"api_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"id
  for the API\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:13:\"screenshot_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"id
  for the screenshot\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"name
  of the screenshot\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"path
  of the screenshot\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"type
  of screenshot\";s:4:\"type\";s:6:\"string\";}}}s:13:\"buildingblock\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"api_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"id
  for the API\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:18:\"building_block_api\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"id
  for the building block\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:15:\"organization_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"id
  for the organization\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:7:\"tool_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"id
  for the tool\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"url
  of the building block\";s:4:\"type\";s:6:\"string\";}}}s:3:\"log\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"api_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"id
  for the API\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"type
  of log\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"text
  of note\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"details
  of log\";s:4:\"type\";s:6:\"string\";}s:8:\"log_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"log
  date\";s:4:\"type\";s:6:\"string\";}}}s:4:\"tool\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"tool_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"id
  for the tool\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"name
  of tool\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"details
  of the tool\";s:4:\"type\";s:6:\"string\";}s:9:\"post_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"date
  tool was posted\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"primary
  url for tool\";s:4:\"type\";s:6:\"string\";}}}s:9:\"locations\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"location_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"id
  for the location\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:2:\"id\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"description
  of the location\";s:4:\"type\";s:6:\"string\";}s:8:\"address1\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"first
  address for the location\";s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"second
  address for the location\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"city
  for the location\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"state
  for the location\";s:4:\"type\";s:6:\"string\";}s:9:\"post_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"postal
  code for the location\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"country
  for the location\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"latitude
  for the location\";s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"longitude
  for the location\";s:4:\"type\";s:6:\"string\";}}}s:10:\"definition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"url
  for the definition\";s:4:\"type\";s:6:\"string\";}}}}"
...
