---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:7:\"MSGraph\";s:11:\"description\";s:7:\"MSGraph\";s:7:\"version\";s:3:\"2.0\";}"
host: service.org
basePath: /
paths:
  /me/drive/items/{item-id}:
    patch:
      summary: Response
      description: Here is an example of the response. This response is truncated
        for readability.
      parameters:
      - name: if-match
        in: header
        description: If this request header is included and the eTag (or cTag) provided
          does not match the current eTag on the folder, a 412 Precondition Failed
          response is returned.
        required: false
        type: string
      - name: item-id
        in: path
        required: true
        type: string
      security:
      - microsoftAccount: []
      responses:
        200:
          description: ""
          schema:
            type: collection
      operationId: DriveItems
  /me/drive/root:/{item-path}:/content:
    put:
      summary: Response
      description: Here is an example of the response.
      parameters:
      - name: item-path
        in: path
        required: true
        type: string
      security:
      - microsoftAccount: []
      responses:
        201:
          description: ""
          schema:
            type: collection
      operationId: 5d968fec-6bb3-4e2c-927c-aed29c60de89
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":126:{s:30:\"microsoft_graph_driveRecipient\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"The
  email address for the recipient, if the recipient has an associated email address.\";}s:5:\"alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"The
  alias of the domain object, for cases where an email address is unavailable (e.g.
  security groups).\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  unique identifier for the recipient in the directory.\";}}}s:37:\"microsoft_graph_alternativeSecurityId\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"identityProvider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"int64\";}}}s:31:\"microsoft_graph_assignedLicense\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"disabledPlans\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:73:\"A
  collection of the unique identifiers for plans that have been disabled.\";}s:5:\"skuId\";O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"guid\";s:11:\"description\";s:34:\"The
  unique identifier for the SKU.\";}}}s:28:\"microsoft_graph_assignedPlan\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"assignedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:275:\"The
  date and time at which the plan was assigned; for example: 2013-01-02T19:32:30Z.
  The Timestamp type represents date and time information using ISO 8601 format and
  is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
  this: '2014-01-01T00:00:00Z'\";}s:16:\"capabilityStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"For
  example, \u201CEnabled\u201D.\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  name of the service; for example, \u201CExchange\u201D.\";}s:13:\"servicePlanId\";O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"guid\";s:11:\"description\";s:40:\"A
  GUID that identifies the service plan.\";}}}s:26:\"microsoft_graph_attachment\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  MIME type.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Read-only.\";}s:8:\"isInline\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:65:\"true
  if the attachment is an inline attachment; otherwise, false.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:190:\"The
  Timestamp type represents date and time information using ISO 8601 format and is
  always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
  '2014-01-01T00:00:00Z'\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  attachment's file name.\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:38:\"The
  length of the attachment in bytes.\";}}}s:24:\"microsoft_graph_attendee\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/microsoft_graph_responseStatus\";s:11:\"description\";s:112:\"The
  attendee's response (none, accepted, declined, etc.) for the event and date-time
  that the response was sent.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  attendee type: Required, Optional, Resource.\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/microsoft_graph_emailAddress\";s:11:\"description\";s:51:\"Includes
  the name and SMTP address of the attendee.\";}}}s:36:\"microsoft_graph_attendeeAvailability\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"attendee\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/microsoft_graph_attendeeBase\";s:11:\"description\";s:110:\"The
  type of attendee - whether it's a person or a resource, and whether required or
  optional if it's a person.\";}s:12:\"availability\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"The
  availability status of the attendee. Possible values are: free, tentative, busy,
  oof, workingElsewhere, unknown.\";}}}s:28:\"microsoft_graph_attendeeBase\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:181:\"The
  type of attendee. Possible values are: required, optional, resource. Currently if
  the attendee is a person, findMeetingTimes always considers the person is of the
  Required type.\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/microsoft_graph_emailAddress\";s:11:\"description\";s:51:\"Includes
  the name and SMTP address of the attendee.\";}}}s:21:\"microsoft_graph_audio\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:5:\"album\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  title of the album for this audio file.\";}s:11:\"albumArtist\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  artist named on the album for the audio file.\";}s:6:\"artist\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  performing artist for the audio file.\";}s:7:\"bitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:26:\"Bitrate
  expressed in kbps.\";}s:9:\"composers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  name of the composer of the audio file.\";}s:9:\"copyright\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Copyright
  information for the audio file.\";}s:4:\"disc\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:49:\"The
  number of the disc this audio file came from.\";}s:9:\"discCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:40:\"The
  total number of discs in this album.\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:53:\"Duration
  of the audio file, expressed in milliseconds\";}s:5:\"genre\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  genre of this audio file.\";}s:6:\"hasDrm\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:66:\"Indicates
  if the file is protected with digital rights management.\";}s:17:\"isVariableBitrate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:57:\"Indicates
  if the file is encoded with a variable bitrate.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  title of the audio file.\";}s:5:\"track\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:65:\"The
  number of the track on the original disc for this audio file.\";}s:10:\"trackCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:68:\"The
  total number of tracks on the original disc for this audio file.\";}s:4:\"year\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:37:\"The
  year the audio file was recorded.\";}}}s:39:\"microsoft_graph_automaticRepliesSetting\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"externalAudience\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:195:\"The
  set of audience external to the signed-in user's organization who will receive the
  ExternalReplyMessage, if Status is AlwaysEnabled or Scheduled. Possible values are:
  none, contactsOnly, all.\";}s:20:\"externalReplyMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"The
  automatic reply to send to the specified external audience, if Status is AlwaysEnabled
  or Scheduled.\";}s:20:\"internalReplyMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"The
  automatic reply to send to the audience internal to the signed-in user's organization,
  if Status is AlwaysEnabled or Scheduled.\";}s:20:\"scheduledEndDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/microsoft_graph_dateTimeTimeZone\";s:11:\"description\";s:87:\"The
  date and time that automatic replies are set to end, if Status is set to Scheduled.\";}s:22:\"scheduledStartDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/microsoft_graph_dateTimeTimeZone\";s:11:\"description\";s:89:\"The
  date and time that automatic replies are set to begin, if Status is set to Scheduled.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Configurations
  status for automatic replies. Possible values are: disabled, alwaysEnabled, scheduled.\";}}}s:24:\"microsoft_graph_calendar\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"changeKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:197:\"Identifies
  the version of the calendar object. Every time the calendar is changed, ChangeKey
  \ changes as well. This allows Exchange to apply changes to the correct version
  of the object. Read-only.\";}s:5:\"color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:250:\"Specifies
  the color theme to distinguish the calendar from other calendars in a UI. The property
  values are: LightBlue=0, LightGreen=1, LightOrange=2, LightGray=3, LightYellow=4,
  LightTeal=5, LightPink=6, LightBrown=7, LightRed=8, MaxColor=9, Auto=-1\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  group's unique identifier. Read-only.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  calendar name.\";}}}s:29:\"microsoft_graph_calendarGroup\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"changeKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:201:\"Identifies
  the version of the calendar group. Every time the calendar group is changed, ChangeKey
  changes as well. This allows Exchange to apply changes to the correct version of
  the object. Read-only.\";}s:7:\"classId\";O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"guid\";s:11:\"description\";s:32:\"The
  class identifier. Read-only.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  group's unique identifier. Read-only.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  group name.\";}}}s:21:\"microsoft_graph_chart\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:54:\"Represents
  the height, in points, of the chart object.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"Gets
  a chart based on its position in the collection. Read-only.\";}s:4:\"left\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:81:\"The
  distance, in points, from the left side of the chart to the worksheet origin.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Represents
  the name of a chart object.\";}s:3:\"top\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:147:\"Represents
  the distance, in points, from the top edge of the object to the top of row 1 (on
  a worksheet) or the top of the chart area (on a chart).\";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:53:\"Represents
  the width, in points, of the chart object.\";}}}s:25:\"microsoft_graph_chartaxis\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"majorUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"Represents
  the interval between two major tick marks. Can be set to a numeric value or an empty
  string.  The returned value is always a number.\";}s:7:\"maximum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:166:\"Represents
  the maximum value on the value axis.  Can be set to a numeric value or an empty
  string (for automatic axis values).  The returned value is always a number.\";}s:7:\"minimum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"Represents
  the minimum value on the value axis. Can be set to a numeric value or an empty string
  (for automatic axis values).  The returned value is always a number.\";}s:9:\"minorUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"Represents
  the interval between two minor tick marks. \"Can be set to a numeric value or an
  empty string (for automatic axis values). The returned value is always a number.\";}}}s:30:\"microsoft_graph_chartAxisTitle\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Represents
  the axis title.\";}s:7:\"visible\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:57:\"A
  boolean that specifies the visibility of an axis title.\";}}}s:31:\"microsoft_graph_chartDataLabels\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:185:\"DataLabelPosition
  value that represents the position of the data label. Possible values are: None,
  Center, InsideEnd, InsideBase, OutsideEnd, Left, Right, Top, Bottom, BestFit, Callout.\";}s:9:\"separator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"String
  representing the separator used for the data labels on a chart.\";}s:14:\"showBubbleSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"Boolean
  value representing if the data label bubble size is visible or not.\";}s:16:\"showCategoryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:77:\"Boolean
  value representing if the data label category name is visible or not.\";}s:13:\"showLegendKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:74:\"Boolean
  value representing if the data label legend key is visible or not.\";}s:14:\"showPercentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:74:\"Boolean
  value representing if the data label percentage is visible or not.\";}s:14:\"showSeriesName\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"Boolean
  value representing if the data label series name is visible or not.\";}s:9:\"showValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:69:\"Boolean
  value representing if the data label value is visible or not.\";}}}s:25:\"microsoft_graph_chartFont\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"bold\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:35:\"Represents
  the bold status of font.\";}s:5:\"color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"HTML
  color code representation of the text color. E.g. #FF0000 represents Red.\";}s:6:\"italic\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:41:\"Represents
  the italic status of the font.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Font
  name (e.g. \"Calibri\")\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:26:\"Size
  of the font (e.g. 11)\";}s:9:\"underline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"Type
  of underline applied to the font. Possible values are: None, Single.\";}}}s:30:\"microsoft_graph_chartGridLines\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"visible\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:68:\"Boolean
  value representing if the axis gridlines are visible or not.\";}}}s:27:\"microsoft_graph_chartLegend\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"overlay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:90:\"Boolean
  value for whether the chart legend should overlap with the main body of the chart.\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Represents
  the position of the legend on the chart. Possible values are: Top, Bottom, Left,
  Right, Corner, Custom.\";}s:7:\"visible\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"A
  boolean value the represents the visibility of a ChartLegend object.\";}}}s:31:\"microsoft_graph_chartLineFormat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"HTML
  color code representing the color of lines in the chart.\";}}}s:26:\"microsoft_graph_chartPoint\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Returns
  the value of a chart point. Read-only.\";}}}s:27:\"microsoft_graph_chartSeries\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Represents
  the name of a series in a chart.\";}}}s:26:\"microsoft_graph_chartTitle\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"overlay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:76:\"Boolean
  value representing if the chart title will overlay the chart or not.\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Represents
  the title text of a chart.\";}s:7:\"visible\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"A
  boolean value the represents the visibility of a chart title object.\";}}}s:46:\"microsoft_graph_chunkeduploadsessiondescriptor\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"microsoft_graph_contact\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":39:{s:13:\"assistantName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  name of the contact's assistant.\";}s:8:\"birthday\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:214:\"The
  contact's birthday. The Timestamp type represents date and time information using
  ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014
  would look like this: '2014-01-01T00:00:00Z'\";}s:15:\"businessAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/microsoft_graph_physicalAddress\";s:11:\"description\";s:31:\"The
  contact's business address.\";}s:16:\"businessHomePage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  business home page of the contact.\";}s:14:\"businessPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:37:\"The
  contact's business phone numbers.\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:43:\"The
  categories associated with the contact.\";}s:9:\"changeKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:176:\"Identifies
  the version of the contact. Every time the contact is changed, ChangeKey changes
  as well. This allows Exchange to apply changes to the correct version of the object.\";}s:8:\"children\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:36:\"The
  names of the contact's children.\";}s:11:\"companyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name of the contact's company.\";}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:224:\"The
  time the contact was created. The Timestamp type represents date and time information
  using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan
  1, 2014 would look like this: '2014-01-01T00:00:00Z'\";}s:10:\"department\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  contact's department.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  contact's display name.\";}s:14:\"emailAddresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:30:\"The
  contact's email addresses.\";}s:6:\"fileAs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  name the contact is filed under.\";}s:10:\"generation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  contact's generation.\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  contact's given name.\";}s:11:\"homeAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/microsoft_graph_physicalAddress\";s:11:\"description\";s:27:\"The
  contact's home address.\";}s:10:\"homePhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:33:\"The
  contact's home phone numbers.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  contact's unique identifier. Read-only.\";}s:11:\"imAddresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:47:\"The
  contact's instant messaging (IM) addresses.\";}s:8:\"initials\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  contact's initials.\";}s:8:\"jobTitle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  contact\u2019s job title.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:225:\"The
  time the contact was modified. The Timestamp type represents date and time information
  using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan
  1, 2014 would look like this: '2014-01-01T00:00:00Z'\";}s:7:\"manager\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name of the contact's manager.\";}s:10:\"middleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  contact's middle name.\";}s:11:\"mobilePhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  contact's mobile phone number.\";}s:8:\"nickName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  contact's nickname.\";}s:14:\"officeLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  location of the contact's office.\";}s:12:\"otherAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/microsoft_graph_physicalAddress\";s:11:\"description\";s:32:\"Other
  addresses for the contact.\";}s:14:\"parentFolderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  ID of the contact's parent folder.\";}s:13:\"personalNotes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  user's notes about the contact.\";}s:10:\"profession\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  contact's profession.\";}s:10:\"spouseName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  name of the contact's spouse.\";}s:7:\"surname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  contact's surname.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  contact's title.\";}s:15:\"yomiCompanyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  phonetic Japanese company name of the contact.\";}s:13:\"yomiGivenName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  phonetic Japanese given name (first name) of the contact.\";}s:11:\"yomiSurname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  phonetic Japanese surname (last name)  of the contact.\";}s:5:\"photo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/microsoft_graph_profilePhoto\";s:11:\"description\";s:67:\"Optional
  contact picture. You can get or set a photo for a contact.\";}}}s:29:\"microsoft_graph_contactFolder\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  folder's display name.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Unique
  identifier of the contact folder. Read-only.\";}s:14:\"parentFolderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  ID of the folder's parent folder.\";}}}s:28:\"microsoft_graph_conversation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"hasAttachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:88:\"Indicates
  whether any of the posts within this Conversation has at least one attachment.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  conversations's unique identifier. Read-only.\";}s:21:\"lastDeliveredDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:190:\"The
  Timestamp type represents date and time information using ISO 8601 format and is
  always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
  '2014-01-01T00:00:00Z'\";}s:7:\"preview\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"A
  short summary from the body of the latest post in this converstaion.\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"The
  topic of the conversation. This property can be set when the conversation is created,
  but it cannot be updated.\";}s:13:\"uniqueSenders\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:55:\"All
  the users that sent a message to this Conversation.\";}}}s:34:\"microsoft_graph_conversationThread\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"ccRecipients\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:34:\"The
  Cc: recipients for the thread.\";}s:14:\"hasAttachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:82:\"Indicates
  whether any of the posts within this thread has at least one attachment.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Read-only.\";}s:8:\"isLocked\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:34:\"Indicates
  if the thread is locked.\";}s:21:\"lastDeliveredDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:190:\"The
  Timestamp type represents date and time information using ISO 8601 format and is
  always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
  '2014-01-01T00:00:00Z'\";}s:7:\"preview\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"A
  short summary from the body of the latest post in this converstaion.\";}s:12:\"toRecipients\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:34:\"The
  To: recipients for the thread.\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"The
  topic of the conversation. This property can be set when the conversation is created,
  but it cannot be updated.\";}s:13:\"uniqueSenders\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:49:\"All
  the users that sent a message to this thread.\";}}}s:32:\"microsoft_graph_dateTimeTimeZone\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"dateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"microsoft_graph_deleted\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Represents
  the state of the deleted item.\";}}}s:22:\"microsoft_graph_device\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:14:\"accountEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"true
  if the account is enabled; otherwise, false. Required.\";}s:22:\"alternativeSecurityIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:103:\"The
  any operator is required for filter expressions on multi-valued properties. Not
  nullable. Required.\";}s:29:\"approximateLastSignInDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:190:\"The
  Timestamp type represents date and time information using ISO 8601 format and is
  always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
  '2014-01-01T00:00:00Z'\";}s:8:\"deviceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Unique
  client specified GUID to represent the device. Required.\";}s:14:\"deviceMetadata\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"deviceVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"int64\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  display name for the device. Required.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  unique identifier for the device. Inherited from directoryObject. Key, Not nullable.
  Read-only.\";}s:11:\"isCompliant\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:91:\"true
  if the device complies with Mobile Device Management (MDM) policies; otherwise,
  false.\";}s:9:\"isManaged\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:103:\"true
  if the device is managed by a Mobile Device Management (MDM) app such as Intune;
  otherwise, false.\";}s:26:\"onPremisesLastSyncDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:266:\"The
  last time at which the object was synced with the on-premises directory.The Timestamp
  type represents date and time information using ISO 8601 format and is always in
  UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: '2014-01-01T00:00:00Z'\";}s:21:\"onPremisesSyncEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:241:\"true
  if this object is synced from an on-premises directory; false if this object was
  originally synced from an on-premises directory but is no longer synced; null if
  this object has never been synced from an on-premises directory (default).\";}s:15:\"operatingSystem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  type of operating system on the device. Required.\";}s:22:\"operatingSystemVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  version of the operating system on the device. Required.\";}s:11:\"physicalIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:13:\"Not
  nullable.\";}s:9:\"trustType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:31:\"microsoft_graph_directoryObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"A
  Guid that is the unique identifier for the object; for example, 12345678-9abc-def0-1234-56789abcde.
  Key. Not nullable. Read-only.\";}}}s:29:\"microsoft_graph_directoryRole\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  description for the directory role. Read-only.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  display name for the directory role. Read-only.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"The
  unique identifier for the directory role. Inherited from directoryObject. Key, Not
  nullable, Read-only.\";}s:14:\"roleTemplateId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:234:\"The
  id of the directoryRoleTemplate that this role is based on. The property must be
  specified when activating a directory role in a tenant with a POST operation. After
  the directory role has been activated, the property is read only.\";}}}s:37:\"microsoft_graph_directoryRoleTemplate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  description to set for the directory role. Read-only.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  display name to set for the directory role. Read-only.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:241:\"The
  unique identifier for the template. Inherited from directoryObject. You specify
  the id of the directory role template for the roleTemplateId property in the POST
  request activate a directoryRole in a tenant. Key, Not nullable. Read-only.\";}}}s:21:\"microsoft_graph_drive\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  unique identifier of the drive. Read-only.\";}s:9:\"driveType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:218:\"Describes
  the type of drive represented by this resource. OneDrive personal drives will return
  personal. OneDrive for Business will return business. SharePoint document libraries
  will return documentLibrary. Read-only.\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/microsoft_graph_identitySet\";s:11:\"description\";s:47:\"Optional.
  The user account that owns the drive.\";}s:5:\"quota\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/microsoft_graph_quota\";s:11:\"description\";s:60:\"Optional.
  Information about the drive's storage space quota.\";}s:4:\"root\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/microsoft_graph_driveItem\";s:11:\"description\";s:40:\"The
  root folder of the drive. Read-only.\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:54:\"All
  items contained in the drive. Read-only. Nullable.\";}s:7:\"special\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:72:\"Collection
  of common folders available in OneDrive. Read-only. Nullable.\";}}}s:25:\"microsoft_graph_driveItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":32:{s:5:\"audio\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/microsoft_graph_audio\";s:11:\"description\";s:56:\"Audio
  metadata, if the item is an audio file. Read-only.\";}s:4:\"cTag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"An
  eTag for the content of the item. This eTag is not changed if only the metadata
  is changed. Note This property is not returned if the item is a folder. Read-only.\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"stream\";s:11:\"description\";s:50:\"The
  content stream, if the item represents a file.\";}s:9:\"createdBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/microsoft_graph_identitySet\";s:11:\"description\";s:80:\"Identity
  of the user, device, and application which created the item. Read-only.\";}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:42:\"Date
  and time of item creation. Read-only.\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/microsoft_graph_deleted\";s:11:\"description\";s:59:\"Information
  about the deleted state of the item. Read-only.\";}s:4:\"eTag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"eTag
  for the entire item (metadata + content). Read-only.\";}s:4:\"file\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/microsoft_graph_file\";s:11:\"description\";s:48:\"File
  metadata, if the item is a file. Read-only.\";}s:14:\"fileSystemInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/microsoft_graph_fileSystemInfo\";s:11:\"description\";s:46:\"File
  system information on client. Read-write.\";}s:6:\"folder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/microsoft_graph_folder\";s:11:\"description\";s:52:\"Folder
  metadata, if the item is a folder. Read-only.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"The
  unique identifier of the item within the Drive. Read-only.\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/microsoft_graph_image\";s:11:\"description\";s:51:\"Image
  metadata, if the item is an image. Read-only.\";}s:14:\"lastModifiedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/microsoft_graph_identitySet\";s:11:\"description\";s:86:\"Identity
  of the user, device, and application which last modified the item. Read-only.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:52:\"Date
  and time the item was last modified. Read-only.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/microsoft_graph_geoCoordinates\";s:11:\"description\";s:60:\"Location
  metadata, if the item has location data. Read-only.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  name of the item (filename and extension). Read-write.\";}s:7:\"package\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/microsoft_graph_package\";s:11:\"description\";s:161:\"If
  present, indicates that this item is a package instead of a folder or file. Packages
  are treated like files in some contexts and folders in others. Read-only.\";}s:15:\"parentReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/microsoft_graph_itemReference\";s:11:\"description\";s:57:\"Parent
  information, if the item has a parent. Read-write.\";}s:5:\"photo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/microsoft_graph_photo\";s:11:\"description\";s:50:\"Photo
  metadata, if the item is a photo. Read-only.\";}s:10:\"remoteItem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/microsoft_graph_remoteItem\";s:11:\"description\";s:98:\"Remote
  item data, if the item is shared from a drive other than the one being accessed.
  Read-only.\";}s:12:\"searchResult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/microsoft_graph_searchResult\";s:11:\"description\";s:64:\"Search
  metadata, if the item is from a search result. Read-only.\";}s:6:\"shared\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/microsoft_graph_shared\";s:11:\"description\";s:123:\"Indicates
  that the item has been shared with others and provides information about the shared
  state of the item. Read-only.\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:37:\"Size
  of the item in bytes. Read-only.\";}s:13:\"specialFolder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/microsoft_graph_specialFolder\";s:11:\"description\";s:93:\"If
  the current item is also available as a special folder, this facet is returned.
  Read-only.\";}s:5:\"video\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/microsoft_graph_video\";s:11:\"description\";s:50:\"Video
  metadata, if the item is a video. Read-only.\";}s:9:\"webDavUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"webUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"URL
  that displays the resource in the browser. Read-only.\";}s:13:\"createdByUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/microsoft_graph_user\";s:11:\"description\";s:80:\"Identity
  of the user, device, and application which created the item. Read-only.\";}s:18:\"lastModifiedByUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/microsoft_graph_user\";s:11:\"description\";s:86:\"Identity
  of the user, device, and application which last modified the item. Read-only.\";}s:8:\"children\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:138:\"Collection
  containing Item objects for the immediate children of Item. Only items representing
  folders have children. Read-only. Nullable.\";}s:10:\"thumbnails\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:128:\"Collection
  containing ThumbnailSet objects associated with the item. For more info, see getting
  thumbnails. Read-only. Nullable.\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:57:\"The
  set of permissions for the item. Read-only. Nullable.\";}}}s:28:\"microsoft_graph_emailAddress\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  email address of the person or entity.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  display name of the person or entity.\";}}}s:22:\"microsoft_graph_entity\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Read-only.\";}}}s:21:\"microsoft_graph_event\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":36:{s:9:\"attendees\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:42:\"The
  collection of attendees for the event.\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_itemBody\";s:11:\"description\";s:50:\"The
  body of the message associated with the event.\";}s:11:\"bodyPreview\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  preview of the message associated with the event.\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:41:\"The
  categories associated with the event.\";}s:9:\"changeKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:179:\"Identifies
  the version of the event object. Every time the event is changed, ChangeKey changes
  as well. This allows Exchange to apply changes to the correct version of the object.\";}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:190:\"The
  Timestamp type represents date and time information using ISO 8601 format and is
  always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
  '2014-01-01T00:00:00Z'\";}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/microsoft_graph_dateTimeTimeZone\";s:11:\"description\";s:50:\"The
  date, time, and time zone that the event ends.\";}s:14:\"hasAttachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:41:\"Set
  to true if the event has attachments.\";}s:7:\"iCalUId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"A
  unique identifier that is shared by all instances of an event across different calendars.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Read-only.\";}s:10:\"importance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  importance of the event: Low = 0, Normal = 1, High = 2. Possible values are: Low,
  Normal, High.\";}s:8:\"isAllDay\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:39:\"Set
  to true if the event lasts all day.\";}s:11:\"isCancelled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"Set
  to true if the event has been canceled.\";}s:11:\"isOrganizer\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"Set
  to true if the message sender is also the organizer.\";}s:12:\"isReminderOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:63:\"Set
  to true if an alert is set to remind the user of the event.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:190:\"The
  Timestamp type represents date and time information using ISO 8601 format and is
  always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
  '2014-01-01T00:00:00Z'\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_location\";s:11:\"description\";s:26:\"The
  location of the event.\";}s:16:\"onlineMeetingUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"A
  URL for an online meeting.\";}s:9:\"organizer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/microsoft_graph_recipient\";s:11:\"description\";s:27:\"The
  organizer of the event.\";}s:19:\"originalEndTimeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:162:\"The
  end time zone that was set when the event was created. A value of tzone://Microsoft/Customindicates
  that a legacy custom time zone was set in desktop Outlook.\";}s:13:\"originalStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:190:\"The
  Timestamp type represents date and time information using ISO 8601 format and is
  always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
  '2014-01-01T00:00:00Z'\";}s:21:\"originalStartTimeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"The
  start time zone that was set when the event was created. A value of tzone://Microsoft/Custom
  indicates that a legacy custom time zone was set in desktop Outlook.\";}s:10:\"recurrence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/microsoft_graph_patternedRecurrence\";s:11:\"description\";s:37:\"The
  recurrence pattern for the event.\";}s:26:\"reminderMinutesBeforeStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:81:\"The
  number of minutes before the event start time that the reminder alert occurs.\";}s:17:\"responseRequested\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:87:\"Set
  to true if the sender would like a response when the event is accepted or declined.\";}s:14:\"responseStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/microsoft_graph_responseStatus\";s:11:\"description\";s:68:\"Indicates
  the type of response sent in response to an event message.\";}s:11:\"sensitivity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Possible
  values are: Normal, Personal, Private, Confidential.\";}s:14:\"seriesMasterId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  categories assigned to the item.\";}s:6:\"showAs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:175:\"The
  status to show: Free = 0, Tentative = 1, Busy = 2, Oof = 3, WorkingElsewhere = 4,
  Unknown = -1. Possible values are: Free, Tentative, Busy, Oof, WorkingElsewhere,
  Unknown.\";}s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/microsoft_graph_dateTimeTimeZone\";s:11:\"description\";s:52:\"The
  date, time, and time zone that the event starts.\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  text of the event's subject line.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:158:\"The
  event type: SingleInstance = 0, Occurrence = 1, Exception = 2, SeriesMaster = 3.
  Possible values are: SingleInstance, Occurrence, Exception, SeriesMaster.\";}s:7:\"webLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"The
  URL to open the event in Outlook Web App.The event will open in the browser if you
  are logged in to your mailbox via Outlook Web App. You will be prompted to login
  if you are not already logged in with the browser.This URL can be accessed from
  within an iFrame.\";}s:11:\"attachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:120:\"The
  collection of fileAttachment and itemAttachment attachments for the event. Navigation
  property. Read-only. Nullable.\";}s:8:\"calendar\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_calendar\";s:11:\"description\";s:69:\"The
  calendar that contains the event. Navigation property. Read-only.\";}s:9:\"instances\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:69:\"The
  instances of the event. Navigation property. Read-only. Nullable.\";}}}s:28:\"microsoft_graph_eventmessage\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":28:{s:13:\"bccRecipients\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:36:\"The
  Bcc: recipients for the message.\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_itemBody\";s:11:\"description\";s:24:\"The
  body of the message.\";}s:11:\"bodyPreview\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  first 255 characters of the message body.\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:43:\"The
  categories associated with the message.\";}s:12:\"ccRecipients\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:35:\"The
  Cc: recipients for the message.\";}s:9:\"changeKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  version of the message.\";}s:14:\"conversationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  ID of the conversation the email belongs to.\";}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:42:\"The
  date and time the message was created.\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/microsoft_graph_recipient\";s:11:\"description\";s:44:\"The
  mailbox owner and sender of the message.\";}s:14:\"hasAttachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"Indicates
  whether the message has attachments.\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"importance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  importance of the message: Low, Normal, High.\";}s:17:\"internetMessageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  message ID in the format specified by RFC2822.\";}s:26:\"isDeliveryReceiptRequested\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a read receipt is requested for the message.\";}s:7:\"isDraft\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:90:\"Indicates
  whether the message is a draft. A message is a draft if it hasn't been sent yet.\";}s:6:\"isRead\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"Indicates
  whether the message has been read.\";}s:22:\"isReadReceiptRequested\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a read receipt is requested for the message.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:47:\"The
  date and time the message was last changed.\";}s:18:\"meetingMessageType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:127:\"The
  type of event message: None, MeetingRequest, MeetingCancelled, MeetingAccepted,
  MeetingTenativelyAccepted, MeetingDeclined.\";}s:14:\"parentFolderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  unique identifier for the message's parent mailFolder.\";}s:16:\"receivedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:43:\"The
  date and time the message was received.\";}s:7:\"replyTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:41:\"The
  email addresses to use when replying.\";}s:6:\"sender\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/microsoft_graph_recipient\";s:11:\"description\";s:58:\"The
  account that is actually used to generate the message.\";}s:12:\"sentDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:39:\"The
  date and time the message was sent.\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  subject of the message.\";}s:12:\"toRecipients\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:35:\"The
  To: recipients for the message.\";}s:10:\"uniqueBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_itemBody\";s:11:\"description\";s:74:\"The
  part of the body of the message that is unique to the current message.\";}s:7:\"webLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:561:\"The
  URL to open the message in Outlook Web App.You can append an ispopout argument to
  the end of the URL to change how the message is displayed. If ispopout is not present
  or if it is set to 1, then the message is shown in a popout window. If ispopout
  is set to 0, then the browser will show the message in the Outlook Web App review
  pane.The message will open in the browser if you are logged in to your mailbox via
  Outlook Web App. You will be prompted to login if you are not already logged in
  with the browser.This URL can be accessed from within an iFrame.\";}}}s:25:\"microsoft_graph_extension\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Read-only.\";}}}s:20:\"microsoft_graph_file\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"hashes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/microsoft_graph_hashes\";s:11:\"description\";s:61:\"Hashes
  of the file's binary content, if available. Read-only.\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:144:\"The
  MIME type for the file. This is determined by logic on the server and might not
  be the value provided when the file was uploaded. Read-only.\";}}}s:30:\"microsoft_graph_fileAttachment\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"contentBytes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  binary contents of the file.\";}s:9:\"contentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  ID of the attachment in the Exchange store.\";}s:15:\"contentLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"The
  Uniform Resource Identifier (URI) that corresponds to the location of the content
  of the attachment.\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  content type of the attachment.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  attachment ID.\";}s:8:\"isInline\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"Set
  to true if this is an inline attachment.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:56:\"The
  date and time when the attachment was last modified.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:147:\"The
  name representing the text that is displayed below the icon representing the embedded
  attachment.This does not need to be the actual file name.\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:36:\"The
  size in bytes of the attachment.\";}}}s:30:\"microsoft_graph_fileSystemInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:55:\"The
  UTC date and time the file was created on a client.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:61:\"The
  UTC date and time the file was last modified on a client.\";}}}s:30:\"microsoft_graph_filterCriteria\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"criterion1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"criterion2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"dynamicCriteria\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"filterOn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:30:\"microsoft_graph_filterDateTime\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  date in ISO8601 format used to filter data.\";}s:11:\"specificity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:268:\"How
  specific the date should be used to keep data. For example, if the date is 2005-04-02
  and the specifity is set to \"month\", the filter operation will keep all rows with
  a date in the month of april 2009. Possible values are: Year, Monday, Day, Hour,
  Minute, Second.\";}}}s:22:\"microsoft_graph_folder\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"childCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:63:\"Number
  of children contained immediately within this container.\";}}}s:32:\"microsoft_graph_formatProtection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"formulaHidden\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:154:\"Indicates
  if Excel hides the formula for the cells in the range. A null value indicates that
  the entire range doesn't have uniform formula hidden setting.\";}s:6:\"locked\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:129:\"Indicates
  if Excel locks the cells in the object. A null value indicates that the entire range
  doesn't have uniform lock setting.\";}}}s:30:\"microsoft_graph_geoCoordinates\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"altitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"float\";s:11:\"description\";s:83:\"Optional.
  The altitude (height), in feet,  above sea level for the item. Read-only.\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"float\";s:11:\"description\";s:60:\"Optional.
  The latitude, in decimal, for the item. Read-only.\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"float\";s:11:\"description\";s:61:\"Optional.
  The longitude, in decimal, for the item. Read-only.\";}}}s:21:\"microsoft_graph_group\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":30:{s:20:\"allowExternalSenders\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:98:\"Default
  is false. Indicates if people external to the organization can send messages to
  the group.\";}s:23:\"autoSubscribeNewMembers\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:243:\"Default
  is false. Indicates if new members added to the group will be auto-subscribed to
  receive email notifications. You can set this property in a PATCH request for the
  group; do not set it in the initial POST request that creates the group.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"An
  optional description for the group.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:153:\"The
  display name for the group. This property is required when a group is created and
  it cannot be cleared during updates. Supports $filter and $orderby.\";}s:10:\"groupTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:274:\"Specifies
  the type of group to create. Possible values are Unified to create an Office 365
  group, or DynamicMembership for dynamic groups.  For all other group types, like
  security-enabled groups and email-enabled security groups, do not set this property.
  Supports $filter.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"The
  unique identifier for the group. Inherited from directoryObject. Key. Not nullable.
  Read-only.\";}s:18:\"isSubscribedByMail\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:103:\"Default
  value is true. Indicates whether the current user is subscribed to receive email
  conversations.\";}s:4:\"mail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"The
  SMTP address for the group, for example, \"serviceadmins@contoso.onmicrosoft.com\".
  Read-only. Supports $filter.\";}s:11:\"mailEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:199:\"Specifies
  whether the group is mail-enabled. If the securityEnabled property is also true,
  the group is a mail-enabled security group; otherwise, the group is a Microsoft
  Exchange distribution group.\";}s:12:\"mailNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"The
  mail alias for the group. This property must be specified when a group is created.
  Supports $filter.\";}s:26:\"onPremisesLastSyncDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:305:\"Indicates
  the last time at which the group was synced with the on-premises directory.The Timestamp
  type represents date and time information using ISO 8601 format and is always in
  UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: '2014-01-01T00:00:00Z'.
  Read-only. Supports $filter.\";}s:28:\"onPremisesSecurityIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:128:\"Contains
  the on-premises security identifier (SID) for the group that was synchronized from
  on-premises to the cloud. Read-only.\";}s:21:\"onPremisesSyncEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:268:\"true
  if this group is synced from an on-premises directory; false if this group was originally
  synced from an on-premises directory but is no longer synced; null if this object
  has never been synced from an on-premises directory (default). Read-only. Supports
  $filter.\";}s:14:\"proxyAddresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:122:\"The
  any operator is required for filter expressions on multi-valued properties. Read-only.
  Not nullable. Supports $filter.\";}s:15:\"securityEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:223:\"Specifies
  whether the group is a security group. If the mailEnabled property is also true,
  the group is a mail-enabled security group; otherwise it is a security group. Must
  be false for Office 365 groups. Supports $filter.\";}s:11:\"unseenCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:72:\"Count
  of posts that the current  user has not seen since his last visit.\";}s:10:\"visibility\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:129:\"Specifies
  the visibility of an Office 365 group. Possible values are: Private, Public, or
  empty (which is interpreted as Public).\";}s:15:\"acceptedSenders\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:180:\"The
  list of users or groups that are allowed to create post's or calendar events in
  this group. If this list is non-empty then only users or groups listed here are
  allowed to post.\";}s:8:\"calendar\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_calendar\";s:11:\"description\";s:32:\"The
  group's calendar. Read-only.\";}s:12:\"calendarView\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:46:\"The
  calendar view for the calendar. Read-only.\";}s:13:\"conversations\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:26:\"The
  group's conversations.\";}s:17:\"createdOnBehalfOf\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/microsoft_graph_directoryObject\";s:11:\"description\";s:115:\"The
  user (or application) that created the group. NOTE: This is not set if the user
  is an administrator. Read-only.\";}s:5:\"drive\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/microsoft_graph_drive\";s:11:\"description\";s:29:\"The
  group's drive. Read-only.\";}s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:28:\"The
  group's calendar events.\";}s:8:\"memberOf\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:105:\"Groups
  that this group is a member of. HTTP Methods: GET (supported for all groups). Read-only.
  Nullable.\";}s:7:\"members\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:255:\"Users
  and groups that are members of this group. HTTP Methods: GET (supported for all
  groups), POST (supported for Office 365 groups, security groups and mail-enabled
  security groups), DELETE (supported for Office 365 groups and security groups) Nullable.\";}s:6:\"owners\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:333:\"The
  owners of the group. The owners are a set of non-admin users who are allowed to
  modify this object. Limited to 10 owners. HTTP Methods: GET (supported for all groups),
  POST (supported for Office 365 groups, security groups and mail-enabled security
  groups), DELETE (supported for Office 365 groups and security groups). Nullable.\";}s:5:\"photo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/microsoft_graph_profilePhoto\";s:11:\"description\";s:25:\"The
  group's profile photo\";}s:15:\"rejectedSenders\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:107:\"The
  list of users or groups that are not allowed to create posts or calendar events
  in this group. Nullable\";}s:7:\"threads\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:43:\"The
  group's conversation threads. Nullable.\";}}}s:22:\"microsoft_graph_hashes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"crc32Hash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  CRC32 value of the file (if available). Read-only.\";}s:8:\"sha1Hash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"SHA1
  hash for the contents of the file (if available). Read-only.\";}s:12:\"quickXorHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:128:\"A
  proprietary hash of the file that can be used to determine if the contents of the
  file have changed (if available). Read-only.\";}}}s:20:\"microsoft_graph_icon\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:50:\"Represents
  the index of the icon in the given set.\";}s:3:\"set\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:367:\"Represents
  the set that the icon is part of. Possible values are: Invalid, ThreeArrows, ThreeArrowsGray,
  ThreeFlags, ThreeTrafficLights1, ThreeTrafficLights2, ThreeSigns, ThreeSymbols,
  ThreeSymbols2, FourArrows, FourArrowsGray, FourRedToBlack, FourRating, FourTrafficLights,
  FiveArrows, FiveArrowsGray, FiveRating, FiveQuarters, ThreeStars, ThreeTriangles,
  FiveBoxes.\";}}}s:24:\"microsoft_graph_identity\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:285:\"The
  identity's display name. Note that this may not always be available or up to date.
  For example, if a user changes their display name, the API may show the new value
  in a future response, but the items associated with the user won't show up as having
  changed when using find changes\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Unique
  identifier for the identity.\";}}}s:27:\"microsoft_graph_identitySet\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"application\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_identity\";s:11:\"description\";s:54:\"Optional.
  The application associated with this action.\";}s:6:\"device\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_identity\";s:11:\"description\";s:49:\"Optional.
  The device associated with this action.\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_identity\";s:11:\"description\";s:47:\"Optional.
  The user associated with this action.\";}}}s:21:\"microsoft_graph_image\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:52:\"Optional.
  Height of the image, in pixels. Read-only.\";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:51:\"Optional.
  Width of the image, in pixels. Read-only.\";}}}s:39:\"microsoft_graph_inferenceClassification\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Read-only.\";}}}s:47:\"microsoft_graph_inferenceClassificationOverride\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"classifyAs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:123:\"Specifies
  how incoming messages from a specific sender should always be classified as. Possible
  values are: focused, other.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  unique identifier of the override. Read-only.\";}s:18:\"senderEmailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/microsoft_graph_emailAddress\";s:11:\"description\";s:77:\"The
  email address information of the sender for whom the override is created.\";}}}s:30:\"microsoft_graph_itemAttachment\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  content type of the attachment.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  attachment ID.\";}s:8:\"isInline\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:95:\"Set
  to true if the attachment is inline, such as an embedded image within the body of
  the item.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:56:\"The
  last time and date that the attachment was modified.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  display name of the attachment.\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:36:\"The
  size in bytes of the attachment.\";}}}s:24:\"microsoft_graph_itemBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  content of the item.\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  type of the content. Possible values are Text and HTML.\";}}}s:29:\"microsoft_graph_itemReference\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"driveId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Unique
  identifier of the OneDrive instance that contains the item. Read-only.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Unique
  identifier of the item in the drive. Read-only.\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Path
  that can be used to navigate to the item. Read-only.\";}}}s:34:\"microsoft_graph_licenseUnitsDetail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"int64\";}s:9:\"suspended\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"int64\";}s:7:\"warning\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"int64\";}}}s:26:\"microsoft_graph_localeInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:278:\"A
  locale representation for the user, which includes the user's preferred language
  and country/region. For example, \"en-us\". The language component follows 2-letter
  codes as defined in ISO 639-1, and the country component follows 2-letter codes
  as defined in ISO 3166-1 alpha-2.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"A
  name representing the user's locale in natural language, for example, \"English
  (United States)\".\";}}}s:24:\"microsoft_graph_location\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/microsoft_graph_physicalAddress\";s:11:\"description\";s:35:\"The
  street address of the location.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  name associated with the location.\";}s:20:\"locationEmailAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Optional
  email address of the location.\";}}}s:34:\"microsoft_graph_locationconstraint\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"isRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:325:\"The
  client requests the service to include in the response a meeting location for the
  meeting. If this is true and all the resources are busy, findMeetingTimes will not
  return any meeting time suggestions. If this is false and all the resources are
  busy, findMeetingTimes would still look for meeting times without locations.\";}s:9:\"locations\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:90:\"Constraint
  information for one or more locations that the client requests for the meeting.\";}s:15:\"suggestLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:73:\"The
  client requests the service to suggest one or more meeting locations.\";}}}s:38:\"microsoft_graph_locationConstraintItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"resolveAvailability\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:278:\"If
  set to true and the specified resource is busy, findMeetingTimes looks for another
  resource that is free. If set to false and the specified resource is busy, findMeetingTimes
  returns the resource best ranked in the user's cache without checking if it's free.
  Default is true.\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/microsoft_graph_physicalAddress\";s:11:\"description\";s:35:\"The
  street address of the location.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  name associated with the location.\";}s:20:\"locationEmailAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Optional
  email address of the location.\";}}}s:31:\"microsoft_graph_mailboxSettings\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"automaticRepliesSetting\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/microsoft_graph_automaticRepliesSetting\";s:11:\"description\";s:118:\"Configuration
  settings to automatically notify the sender of an incoming email with a message
  from the signed-in user.\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/microsoft_graph_localeInfo\";s:11:\"description\";s:89:\"The
  locale information for the user, including the preferred language and country/region.\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  default time zone for the user's mailbox.\";}}}s:26:\"microsoft_graph_mailFolder\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"childFolderCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:68:\"The
  number of immediate child mailFolders in the current mailFolder.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  mailFolder's display name.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"The
  mailFolder's unique identifier. You can use the following well-known names to access
  the corresponding folder: Inbox, Drafts, SentItems, DeletedItems.\";}s:14:\"parentFolderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  unique identifier for the mailFolder's parent mailFolder.\";}s:14:\"totalItemCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:38:\"The
  number of items in the mailFolder.\";}s:15:\"unreadItemCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:55:\"The
  number of items in the mailFolder marked as unread.\";}}}s:37:\"microsoft_graph_meetingTimeSuggestion\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"attendeeAvailability\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:89:\"An
  array that shows the availability status of each attendee for this meeting suggestion.\";}s:10:\"confidence\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:74:\"A
  percentage that represents the likelhood of all the attendees attending.\";}s:9:\"locations\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:110:\"An
  array that specifies the name and geographic location of each meeting location for
  this meeting suggestion.\";}s:15:\"meetingTimeSlot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_timeSlot\";s:11:\"description\";s:40:\"A
  time period suggested for the meeting.\";}s:21:\"organizerAvailability\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:142:\"Availability
  of the meeting organizer for this meeting suggestion. Possible values are: free,
  tentative, busy, oof, workingElsewhere, unknown.\";}s:16:\"suggestionReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Reason
  for suggesting the meeting time.\";}}}s:44:\"microsoft_graph_meetingTimeSuggestionsResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"emptySuggestionsReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:181:\"A
  reason for not returning any meeting suggestions. Possible values are: attendeesUnavailable,
  attendeesUnavailableOrUnknown, locationsUnavailable, organizerUnavailable, or unknown.\";}s:22:\"meetingTimeSuggestions\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:32:\"An
  array of meeting suggestions.\";}}}s:23:\"microsoft_graph_message\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":28:{s:13:\"bccRecipients\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:36:\"The
  Bcc: recipients for the message.\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_itemBody\";s:11:\"description\";s:24:\"The
  body of the message.\";}s:11:\"bodyPreview\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  first 255 characters of the message body.\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:43:\"The
  categories associated with the message.\";}s:12:\"ccRecipients\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:35:\"The
  Cc: recipients for the message.\";}s:9:\"changeKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  version of the message.\";}s:14:\"conversationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  ID of the conversation the email belongs to.\";}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:42:\"The
  date and time the message was created.\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/microsoft_graph_recipient\";s:11:\"description\";s:44:\"The
  mailbox owner and sender of the message.\";}s:14:\"hasAttachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"Indicates
  whether the message has attachments.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"Unique
  identifier for the message (note that this value may change if a message is moved
  or altered)\";}s:10:\"importance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  importance of the message: Low, Normal, High.\";}s:23:\"inferenceClassification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:157:\"The
  classification of the message for the user, based on inferred relevance or importance,
  or on an explicit override. Possible values are: focused or other.\";}s:17:\"internetMessageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  message ID in the format specified by RFC2822.\";}s:26:\"isDeliveryReceiptRequested\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a read receipt is requested for the message.\";}s:7:\"isDraft\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:90:\"Indicates
  whether the message is a draft. A message is a draft if it hasn't been sent yet.\";}s:6:\"isRead\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"Indicates
  whether the message has been read.\";}s:22:\"isReadReceiptRequested\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a read receipt is requested for the message.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:47:\"The
  date and time the message was last changed.\";}s:14:\"parentFolderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  unique identifier for the message's parent mailFolder.\";}s:16:\"receivedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:43:\"The
  date and time the message was received.\";}s:7:\"replyTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:41:\"The
  email addresses to use when replying.\";}s:6:\"sender\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/microsoft_graph_recipient\";s:11:\"description\";s:58:\"The
  account that is actually used to generate the message.\";}s:12:\"sentDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:39:\"The
  date and time the message was sent.\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  subject of the message.\";}s:12:\"toRecipients\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:35:\"The
  To: recipients for the message.\";}s:10:\"uniqueBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_itemBody\";s:11:\"description\";s:194:\"The
  part of the body of the message that is unique to the current message. uniqueBody
  is not provided by default but can be retrieved for a given message by use of the
  ?$select=uniqueBody query.\";}s:7:\"webLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:561:\"The
  URL to open the message in Outlook Web App.You can append an ispopout argument to
  the end of the URL to change how the message is displayed. If ispopout is not present
  or if it is set to 1, then the message is shown in a popout window. If ispopout
  is set to 0, then the browser will show the message in the Outlook Web App review
  pane.The message will open in the browser if you are logged in to your mailbox via
  Outlook Web App. You will be prompted to login if you are not already logged in
  with the browser.This URL can be accessed from within an iFrame.\";}}}s:48:\"microsoft_graph_multivaluelegacyextendedproperty\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  property identifier. Read-only.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:32:\"A
  collection of property values.\";}}}s:25:\"microsoft_graph_namedItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name of the object. Read-only.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:134:\"Indicates
  what type of reference is associated with the name. Possible values are: String,
  Integer, Double, Boolean, Range. Read-only.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/microsoft_graph_range\";s:11:\"description\";s:109:\"Represents
  the formula that the name is defined to refer to. E.g. =Sheet14!$B$2:$H$12, =4.75,
  etc. Read-only.\";}s:7:\"visible\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:47:\"Specifies
  whether the object is visible or not.\";}}}s:33:\"microsoft_graph_opentypeextension\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"extensionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"A
  unique text identifier for an open type data extension. Required.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"A
  fully qualified identifier that concatenates the extension type with the extensionName.
  Read-only.\";}}}s:28:\"microsoft_graph_organization\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":19:{s:13:\"assignedPlans\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:73:\"The
  collection of service plans associated with the tenant. Not nullable.\";}s:14:\"businessPhones\";O:8:\"stdClass\":1:{s:4:\"type\";s:10:\"collection\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"countryLetterCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  display name for the tenant.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  unique identifier for the tenant. Inherited from directoryObject. Key. Not nullable.
  Read-only.\";}s:27:\"marketingNotificationEmails\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:13:\"Not
  nullable.\";}s:26:\"onPremisesLastSyncDateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:14:\"datetimeoffset\";}s:21:\"onPremisesSyncEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"preferredLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"provisionedPlans\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:13:\"Not
  nullable.\";}s:35:\"securityComplianceNotificationMails\";O:8:\"stdClass\":1:{s:4:\"type\";s:10:\"collection\";}s:36:\"securityComplianceNotificationPhones\";O:8:\"stdClass\":1:{s:4:\"type\";s:10:\"collection\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"technicalNotificationMails\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:13:\"Not
  nullable.\";}s:15:\"verifiedDomains\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:68:\"The
  collection of domains associated with this tenant. Not nullable.\";}}}s:27:\"microsoft_graph_outlookitem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"categories\";O:8:\"stdClass\":1:{s:4:\"type\";s:10:\"collection\";}s:9:\"changeKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:190:\"The
  Timestamp type represents date and time information using ISO 8601 format and is
  always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
  '2014-01-01T00:00:00Z'\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Read-only.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:190:\"The
  Timestamp type represents date and time information using ISO 8601 format and is
  always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
  '2014-01-01T00:00:00Z'\";}}}s:23:\"microsoft_graph_package\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:31:\"microsoft_graph_passwordprofile\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:29:\"forceChangePasswordNextSignIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:77:\"true
  if the user must change her password on the next login; otherwise false.\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:313:\"The
  password for the user. This property is required when a user is created. It can
  be updated, but the user will be required to change the password on the next login.
  The password must satisfy minimum requirements as specified by the user\u2019s passwordPolicies
  property. By default, a strong password is required.\";}}}s:35:\"microsoft_graph_patternedrecurrence\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"pattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/microsoft_graph_recurrencePattern\";s:11:\"description\";s:26:\"The
  frequency of an event.\";}s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/microsoft_graph_recurrenceRange\";s:11:\"description\";s:25:\"The
  duration of an event.\";}}}s:26:\"microsoft_graph_permission\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"The
  unique identifier of the permission among all permissions on the item. Read-only.\";}s:9:\"grantedTo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/microsoft_graph_identitySet\";s:11:\"description\";s:98:\"For
  user type permissions, the details of the users & applications for this permission.
  Read-only.\";}s:13:\"inheritedFrom\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/microsoft_graph_itemReference\";s:11:\"description\";s:111:\"Provides
  a reference to the ancestor of the current permission, if it is inherited from an
  ancestor. Read-only.\";}s:10:\"invitation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/microsoft_graph_sharingInvitation\";s:11:\"description\";s:76:\"Details
  of any associated sharing invitation for this permission. Read-only.\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/microsoft_graph_sharingLink\";s:11:\"description\";s:97:\"Provides
  the link details of the current permission, if it is a link type permissions. Read-only.\";}s:5:\"roles\";O:8:\"stdClass\":1:{s:4:\"type\";s:10:\"collection\";}s:7:\"shareId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"A
  unique token for this permission. Read-only.\";}}}s:21:\"microsoft_graph_photo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"cameraMake\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Camera
  manufacturer. Read-only.\";}s:11:\"cameraModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Camera
  model. Read-only.\";}s:19:\"exposureDenominator\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:74:\"The
  denominator for the exposure time fraction from the camera. Read-only.\";}s:17:\"exposureNumerator\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:72:\"The
  numerator for the exposure time fraction from the camera. Read-only.\";}s:7:\"fNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:44:\"The
  F-stop value from the camera. Read-only.\";}s:11:\"focalLength\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:44:\"The
  focal length from the camera. Read-only.\";}s:3:\"iso\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"int64\";s:11:\"description\";s:41:\"The
  ISO value from the camera. Read-only.\";}s:13:\"takenDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:60:\"Represents
  the date and time the photo was taken. Read-only.\";}}}s:31:\"microsoft_graph_physicalAddress\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"The
  city.\";}s:15:\"countryOrRegion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"The
  country or region. It's a free-format string value, for example, \"United States\".\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  postal code.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"The
  state.\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"The
  street.\";}}}s:20:\"microsoft_graph_post\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/microsoft_graph_itemBody\";s:11:\"description\";s:80:\"The
  contents of the post. This is a default property. This property can be null.\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:40:\"The
  categories associated with the post.\";}s:9:\"changeKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:170:\"Identifies
  the version of the post. Every time the post is changed, ChangeKey changes as well.
  This allows Exchange to apply changes to the correct version of the object.\";}s:14:\"conversationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Unique
  ID of the conversation. Read-only.\";}s:20:\"conversationThreadId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Unique
  ID of the conversation thread. Read-only.\";}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:232:\"Specifies
  when the post was created. The DateTimeOffset type represents date and time information
  using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan
  1, 2014 would look like this: '2014-01-01T00:00:00Z'\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/microsoft_graph_recipient\";s:11:\"description\";s:122:\"Used
  in delegate access scenarios. Indicates who posted the message on behalf of another
  user. This is a default property.\";}s:14:\"hasAttachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:83:\"Indicates
  whether the post has at least one attachment. This is a default property.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Read-only.\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:238:\"Specifies
  when the post was last modified. The DateTimeOffset type represents date and time
  information using ISO 8601 format and is always in UTC time. For example, midnight
  UTC on Jan 1, 2014 would look like this: '2014-01-01T00:00:00Z'\";}s:15:\"newParticipants\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"collection\";s:11:\"description\";s:77:\"Conversation
  participants that were added to the thread as part of this post.\";}s:16:\"receivedDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"datetimeoffset\";s:11:\"description\";s:233:\"Specifies
  when the post was received. The DateTimeOffset type represents date and time information
  using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan
  1, 2014 would look like this: '2014-01-01T00:00:00Z'\";}s:6:\"sender\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/microsoft_graph_recipient\";s:11:\"description\";s:180:\"Contains
  the address of the sender. The value of Sender is assumed to be the address of the
[...]
