---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:58:\"Build applications
  using the world's most powerful imagery\";s:5:\"title\";s:12:\"Getty Images\";s:7:\"version\";s:1:\"3\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:93:\"https://api.apis.guru/v2/cache/logo/http_developers.gettyimages.com_images_getty-api-logo.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:42:\"https://api.gettyimages.com/swagger/docs/3\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"gettyimages.com\";}"
host: api.gettyimages.com
basePath: /
paths:
  /v3/artists/images:
    get:
      consumes: []
      deprecated: false
      operationId: Artists_GetImagesByArtist
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - description: Name of artist for desired images
        in: query
        name: artist_name
        required: true
        type: string
      - collectionFormat: multi
        description: Comma separated list of fields. Allows restricting which fields
          are returned. If no fields are selected, the summary_set of fields are returned.
        enum:
        - id
        - alternative_ids
        - asset_family
        - asset_type
        - collection_code
        - collection_name
        - comp
        - date_submitted
        - keywords
        in: query
        items:
          enum:
          - id
          - alternative_ids
          - asset_family
          - asset_type
          - collection_code
          - collection_name
          - comp
          - date_submitted
          - keywords
          type: string
        name: fields
        required: false
        type: array
      - description: Identifies page to return. Default page is 1.
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Specifies page size. Default page_size is 10, maximum page_size
          is 100.
        format: int32
        in: query
        name: page_size
        required: false
        type: integer
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
      summary: '***BETA*** Search for images by a photographer'
      tags:
      - Artists
  /v3/artists/videos:
    get:
      consumes: []
      deprecated: false
      operationId: Artists_GetVideosByArtist
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - description: Name of artist for desired images
        in: query
        name: artist_name
        required: true
        type: string
      - collectionFormat: multi
        description: Comma separated list of fields. Allows restricting which fields
          are returned. If no fields are selected, the summary_set of fields are returned.
        enum:
        - id
        - alternative_ids
        - asset_family
        - asset_type
        - caption
        - collection_code
        - collection_name
        - comp
        - date_submitted
        - keywords
        - license_model
        - title
        in: query
        items:
          enum:
          - id
          - alternative_ids
          - asset_family
          - asset_type
          - caption
          - collection_code
          - collection_name
          - comp
          - date_submitted
          - keywords
          - license_model
          - title
          type: string
        name: fields
        required: false
        type: array
      - description: Identifies page to return. Default page is 1.
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Specifies page size. Default page_size is 10, maximum page_size
          is 100.
        format: int32
        in: query
        name: page_size
        required: false
        type: integer
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
      summary: '***BETA*** Search for videos by a photographer'
      tags:
      - Artists
  /v3/asset-changes/change-sets:
    put:
      consumes: []
      deprecated: false
      operationId: AssetChanges_PutAssetChanges
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Specifies the id of the channel for the asset data. Valid channel
          ids can be found in the results of the Get Partner Channel query.
        format: int32
        in: query
        name: channel_id
        required: true
        type: integer
      - description: Specifies the number of assets to return. The default is 10;
          maximum is 500.
        format: int32
        in: query
        name: batch_size
        required: false
        type: integer
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AssetChanges'
        403:
          description: Your access token does not authorize access to this resource
        404:
          description: The channel you specified does not exist
      summary: Generates asset changes.
      tags:
      - AssetChanges
  /v3/asset-changes/change-sets/{change-set-id}:
    delete:
      consumes: []
      deprecated: false
      operationId: AssetChanges_DeleteAssetChanges
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - format: int64
        in: path
        name: change-set-id
        required: true
        type: integer
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
        403:
          description: Your access token does not authorize access to this resource
        404:
          description: Transaction was not found
      summary: Confirm asset changes acknowledges receipt of asset changes.
      tags:
      - AssetChanges
  /v3/asset-changes/channels:
    get:
      consumes: []
      deprecated: false
      operationId: AssetChanges_GetPartnerChannel
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PartnerChannelList'
      summary: Retrieves the channel data for the partner. This data can be used to
        populate the channel_id parameter in the Put Asset Changes query.
      tags:
      - AssetChanges
  /v3/asset-registrations:
    post:
      consumes:
      - application/json
      - text/json
      deprecated: false
      operationId: AssetRegistration_Register
      parameters:
      - description: Specify JSON containing an array of asset ids to register.  Limited
          to 500 asset ids per call.
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/RegisterAssetsRequest'
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: Success - The assets were successfully registered.
          schema:
            $ref: '#/definitions/Object'
        401:
          description: AuthorizationTokenRequired - Authorization token was missing
            or not valid.
        500:
          description: AssetRegistrationFailed - There was a failure when registering
            assets.
      summary: Register a list of customer assets.
      tags:
      - AssetRegistration
  /v3/boards:
    get:
      consumes: []
      deprecated: false
      operationId: Boards_GetAllBoards
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Search for boards the user owns or has been invited to as an
          editor.
        enum:
        - owned
        - invited
        in: query
        name: board_relationship
        required: false
        type: string
      - description: Request results starting at a page number (default is 1).
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Request number of boards to return in each page. (default is
          30).
        format: int32
        in: query
        name: pageSize
        required: false
        type: integer
      - description: Sort the list of boards by last update date or name. Defaults
          to date_last_updated_descending.
        enum:
        - date_last_updated_descending
        - date_last_updated_ascending
        - name_ascending
        - name_decending
        in: query
        name: sort_order
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BoardList'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
      summary: '***BETA*** Get all boards that the user participates in'
      tags:
      - Boards
    post:
      consumes:
      - application/json
      - text/json
      deprecated: false
      operationId: Boards_CreateBoard
      parameters:
      - description: Specify a name and description of the board to create (name is
          required).
        in: body
        name: new_board
        required: true
        schema:
          $ref: '#/definitions/BoardInfo'
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/BoardCreated'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
      summary: '***BETA*** Create a new board'
      tags:
      - Boards
  /v3/boards/{board_id}:
    delete:
      consumes: []
      deprecated: false
      operationId: Boards_DeleteBoard
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - in: path
        name: board_id
        required: true
        type: string
      produces: []
      responses:
        204:
          description: ""
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        403:
          description: InsufficientAccess
        404:
          description: BoardNotFound
      summary: '***BETA*** Delete a board'
      tags:
      - Boards
    get:
      consumes: []
      deprecated: false
      operationId: Boards_GetBoard
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - in: path
        name: board_id
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BoardDetail'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        404:
          description: BoardNotFound
      summary: '***BETA*** Get assets and metadata for a specific board'
      tags:
      - Boards
    put:
      consumes:
      - application/json
      - text/json
      deprecated: false
      operationId: Boards_UpdateBoard
      parameters:
      - description: Specify a new name and description for the board (name is required).
        in: body
        name: board_info
        required: true
        schema:
          $ref: '#/definitions/BoardInfo'
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - in: path
        name: board_id
        required: true
        type: string
      produces: []
      responses:
        204:
          description: Updated
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        403:
          description: InsufficientAccess
        404:
          description: BoardNotFound
      summary: '***BETA*** Update a board'
      tags:
      - Boards
  /v3/boards/{board_id}/assets:
    delete:
      consumes: []
      deprecated: false
      operationId: Boards_RemoveAssets
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - in: path
        name: board_id
        required: true
        type: string
      - collectionFormat: multi
        description: List the assets to be removed from the board.
        in: query
        items:
          type: string
        name: asset_ids
        required: true
        type: array
      produces: []
      responses:
        204:
          description: No Content
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        403:
          description: InsufficientAccess
        404:
          description: BoardNotFound
      summary: '***BETA*** Remove assets from a board'
      tags:
      - Boards
    put:
      consumes:
      - application/json
      - text/json
      deprecated: false
      operationId: Boards_AddAssets
      parameters:
      - description: List assets to add to the board.
        in: body
        name: board_assets
        required: true
        schema:
          items:
            $ref: '#/definitions/BoardAsset'
          type: array
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - in: path
        name: board_id
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/AddBoardAssetsResult'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        403:
          description: InsufficientAccess
        404:
          description: BoardNotFound
      summary: '***BETA*** Add assets to a board'
      tags:
      - Boards
  /v3/boards/{board_id}/assets/{asset_id}:
    delete:
      consumes: []
      deprecated: false
      operationId: Boards_RemoveAsset
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - in: path
        name: asset_id
        required: true
        type: string
      - in: path
        name: board_id
        required: true
        type: string
      produces: []
      responses:
        204:
          description: No Content
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        403:
          description: InsufficientAccess
        404:
          description: BoardNotFound
      summary: '***BETA*** Remove an asset from a board'
      tags:
      - Boards
    put:
      consumes: []
      deprecated: false
      operationId: Boards_AddAsset
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - in: path
        name: asset_id
        required: true
        type: string
      - in: path
        name: board_id
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Object'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        403:
          description: AssetNotFound
        404:
          description: BoardNotFound
      summary: '***BETA*** Add an asset to a board'
      tags:
      - Boards
  /v3/boards/{board_id}/comments:
    get:
      consumes: []
      deprecated: false
      operationId: Boards_GetComments
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - in: path
        name: board_id
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CommentsList'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        404:
          description: BoardNotFound
      summary: '***BETA*** Get comments from a board'
      tags:
      - Boards
    post:
      consumes:
      - application/json
      - text/json
      deprecated: false
      operationId: Boards_AddComment
      parameters:
      - description: Comment to be added to the board.
        in: body
        name: comment
        required: true
        schema:
          $ref: '#/definitions/CommentRequest'
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - in: path
        name: board_id
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/CommentCreated'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        403:
          description: InsufficientAccess
        404:
          description: BoardNotFound
      summary: '***BETA*** Add a comment to a board'
      tags:
      - Boards
  /v3/boards/{board_id}/comments/{comment_id}:
    delete:
      consumes: []
      deprecated: false
      operationId: Boards_DeleteComment
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - in: path
        name: board_id
        required: true
        type: string
      - in: path
        name: comment_id
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        204:
          description: CommentDeleted
          schema:
            $ref: '#/definitions/Object'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        403:
          description: InsufficientAccess
        404:
          description: BoardNotFound
      summary: '***BETA*** Delete a comment from a board'
      tags:
      - Boards
  /v3/collections:
    get:
      consumes: []
      deprecated: false
      operationId: Collections_GetCollections
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Collections.CollectionsList'
        401:
          description: Unauthorized
      summary: Gets collections applicable for the customer.
      tags:
      - Collections
  /v3/countries:
    get:
      consumes: []
      deprecated: false
      operationId: Countries_GetCountries
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Countries.CountriesList'
        401:
          description: Unauthorized
      summary: Gets countries codes and names.
      tags:
      - Countries
  /v3/downloads:
    get:
      consumes: []
      deprecated: false
      operationId: Downloads_GetDownloads
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: If specified, returns the list of previously downloaded images
          for all users in your company. Your account must be enabled for this functionality.
          Contact your Getty Images account rep for more information. Default is false.
        in: query
        name: company_downloads
        required: false
        type: boolean
      - description: If specified, select assets downloaded on or before this date.
          Dates should be submitted in ISOrn                8601 format (i.e., YYYY-MM-DD
          hh:mm:ss.sss). If time is omitted, midnight is assumed. Date/times are UTC.
        format: date-time
        in: query
        name: end_date
        required: false
        type: string
      - description: Identifies page to return. Default is 1.
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Specifies page size. Default is 30, maximum page_size is 100.
        format: int32
        in: query
        name: page_size
        required: false
        type: integer
      - description: Specifies product type to be included in the previous download
          results. To get previous iStockPhoto credit downloads, credit_pack must
          be selected.
        enum:
        - easy_access
        - editorial_subscription
        - image_pack
        - premium_access
        - royalty_free_subscription
        - credit_pack
        in: query
        name: product_type
        required: false
        type: string
      - description: If specified, select assets downloaded on or after this date.
          Dates should be submitted in ISOrn                8601 format (i.e., YYYY-MM-DD
          hh:mm:ss.sss). If time is omitted, midnight is assumed. Date/times are UTC.
        format: date-time
        in: query
        name: start_date
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Downloads.GetDownloadsResponse'
        400:
          description: Bad request
        401:
          description: AuthorizationTokenRequired
        403:
          description: Forbidden
      summary: Returns information about a customer's downloaded assets.
      tags:
      - Downloads
  /v3/downloads/images/{id}:
    post:
      consumes:
      - application/json
      - text/json
      deprecated: false
      description: The single step download call returns either a redirect or a response
        message with the URI to download the largestrn                image available.rn                Returns
        HTTP status code 303 Redirect to download URI or HTTP status code 200.
      operationId: Downloads_PostDownloads
      parameters:
      - description: <remarks>rn                    Additional information required
          from specific customers when downloading. rn                    Only users
          who have been set up with a project code by Getty Images Sales need to use
          this field.rn                </remarks>
        in: body
        name: download_details
        required: false
        schema:
          $ref: '#/definitions/GettyImages.Models.Downloads.PremiumAccessDownloadData'
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: <remarks>rn                    Id of image to download.rn                </remarks>
        in: path
        name: id
        required: true
        type: string
      - description: <remarks>rn                    Specifies whether to auto-download
          the image. If true is specified, a 303 SeeOther status is returned with
          arn                    Location header set to the location of the image.rn                    If
          false is specified, the download URI will be returned in the response message.rn                </remarks>
        in: query
        name: auto_download
        required: false
        type: boolean
      - description: <remarks>rn                    File Type expressed with three
          character file extension.rn                </remarks>
        enum:
        - eps
        - jpg
        in: query
        name: file_type
        required: false
        type: string
      - description: <remarks>rn                    Specifies the pixel height of
          the particular image to download.rn                    Available heights
          can be found in the images/{ids} response for the specific image.rn                    If
          left blank, it will return the largest available size.rn                </remarks>
        in: query
        name: height
        required: false
        type: string
      - description: <remarks>rn                    Identifier of the instance for
          the selected product offering type.rn                </remarks>
        format: int32
        in: query
        name: product_id
        required: false
        type: integer
      - description: <remarks>rn                    Product type.rn                </remarks>
        enum:
        - easy_access
        - editorial_subscription
        - image_pack
        - premium_access
        - royalty_free_subscription
        - credit_pack
        in: query
        name: product_type
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
        303:
          description: See Other
        400:
          description: InvalidRequestParameterValue
        401:
          description: AuthorizationTokenRequired
        404:
          description: ImageNotFound
      summary: Download an image
      tags:
      - Downloads
  /v3/downloads/videos/{id}:
    post:
      consumes: []
      deprecated: false
      description: The single step download call returns either a redirect or a response
        message with the URI to download the largestrn                video available.rn                Returns
        HTTP status code 303 Redirect to download URI or HTTP status code 200.
      operationId: Downloads_PostVideoDownloads
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: <remarks>rn                    Id of video to download.rn                </remarks>
        in: path
        name: id
        required: true
        type: string
      - description: <remarks>rn                    Specifies whether to auto-download
          the video. If true is specified, a 303 SeeOther status is returned with
          arn                    Location header set to the location of the video.rn                    If
          false is specified, the download URI will be returned in the response message.rn                </remarks>
        in: query
        name: auto_download
        required: false
        type: boolean
      - description: <remarks>rn                    Identifier of the instance for
          the selected product offering type.rn                </remarks>
        format: int32
        in: query
        name: product_id
        required: false
        type: integer
      - description: Specifies the size to be downloaded.
        in: query
        name: size
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
        303:
          description: See Other
        400:
          description: ProductIdNotSpecified
        401:
          description: AuthorizationTokenRequired
        404:
          description: VideoNotFound
      summary: Download a video
      tags:
      - Downloads
  /v3/downloads/{id}: []
  /v3/events:
    get:
      consumes: []
      deprecated: false
      description: Returns an array of event metadata
      operationId: Events_GetBatch
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - collectionFormat: multi
        description: A comma separated list of fields to return in the response.
        enum:
        - id
        - child_event_count
        - editorial_segments
        - hero_image
        - image_count
        - location
        - name
        - start_date
        - type
        in: query
        items:
          enum:
          - id
          - child_event_count
          - editorial_segments
          - hero_image
          - image_count
          - location
          - name
          - start_date
          - type
          type: string
        name: fields
        required: false
        type: array
      - collectionFormat: multi
        description: A comma separated list of event ids.
        in: query
        items:
          format: int32
          type: integer
        name: ids
        required: false
        type: array
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Events.EventsResult'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        404:
          description: EventNotFound
      summary: Get metadata for multiple events
      tags:
      - Events
  /v3/events/{id}:
    get:
      consumes: []
      deprecated: false
      description: Returns an array of event metadata
      operationId: Events_Get
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - description: An event id.
        format: int32
        in: path
        name: id
        required: true
        type: integer
      - collectionFormat: multi
        description: A comma separated list of fields to return in the response.
        enum:
        - id
        - child_event_count
        - editorial_segments
        - hero_image
        - image_count
        - location
        - name
        - start_date
        - type
        in: query
        items:
          enum:
          - id
          - child_event_count
          - editorial_segments
          - hero_image
          - image_count
          - location
          - name
          - start_date
          - type
          type: string
        name: fields
        required: false
        type: array
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Events.Event'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
        404:
          description: EventNotFound
      summary: Get metadata for a single event
      tags:
      - Events
  /v3/images:
    get:
      consumes: []
      deprecated: false
      description: ""
      operationId: Images_GetBatch
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - collectionFormat: multi
        description: Specifies one or more image ids to return. Use comma delimiter
          when requesting multiple ids.
        in: query
        items:
          type: string
        name: ids
        required: true
        type: array
      - collectionFormat: multi
        description: Specifies fields to return. Defaults to 'summary_set'.
        enum:
        - allowed_use
        - alternative_ids
        - artist
        - artist_title
        - asset_family
        - call_for_image
        - caption
        - city
        - collection_code
        - collection_id
        - collection_name
        - color_type
        - comp
        - copyright
        - country
        - credit_line
        - date_camera_shot
        - date_created
        - date_submitted
        - detail_set
        - display_set
        - download_sizes
        - downloads
        - editorial_segments
        - editorial_source
        - entity_details
        - event_ids
        - graphical_style
        - id
        - istock_licenses
        - keywords
        - largest_downloads
        - license_model
        - links
        - max_dimensions
        - orientation
        - people
        - prestige
        - preview
        - product_types
        - quality_rank
        - referral_destinations
        - state_province
        - summary_set
        - thumb
        - title
        - uri_oembed
        in: query
        items:
          enum:
          - allowed_use
          - alternative_ids
          - artist
          - artist_title
          - asset_family
          - call_for_image
          - caption
          - city
          - collection_code
          - collection_id
          - collection_name
          - color_type
          - comp
          - copyright
          - country
          - credit_line
          - date_camera_shot
          - date_created
          - date_submitted
          - detail_set
          - display_set
          - download_sizes
          - downloads
          - editorial_segments
          - editorial_source
          - entity_details
          - event_ids
          - graphical_style
          - id
          - istock_licenses
          - keywords
          - largest_downloads
          - license_model
          - links
          - max_dimensions
          - orientation
          - people
          - prestige
          - preview
          - product_types
          - quality_rank
          - referral_destinations
          - state_province
          - summary_set
          - thumb
          - title
          - uri_oembed
          type: string
        name: fields
        required: false
        type: array
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Images.ImagesDetail'
        400:
          description: InvalidParameterValue
        401:
          description: AuthorizationTokenRequired
        403:
          description: UnauthorizedDisplaySize
        404:
          description: ImageNotFound
      summary: Get metadata for multiple images by supplying multiple image ids
      tags:
      - Images
  /v3/images/{id}:
    get:
      consumes: []
      deprecated: false
      description: ""
      operationId: Images_Get
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - description: An image id. For more than one image please use the /v3/images
          endpoint.
        in: path
        name: id
        required: true
        type: string
      - collectionFormat: multi
        description: Specifies fields to return. Defaults to 'summary_set'.
        enum:
        - allowed_use
        - alternative_ids
        - artist
        - artist_title
        - asset_family
        - call_for_image
        - caption
        - city
        - collection_code
        - collection_id
        - collection_name
        - color_type
        - comp
        - copyright
        - country
        - credit_line
        - date_camera_shot
        - date_created
        - date_submitted
        - detail_set
        - display_set
        - download_sizes
        - downloads
        - editorial_segments
        - editorial_source
        - entity_details
        - event_ids
        - graphical_style
        - id
        - istock_licenses
        - keywords
        - largest_downloads
        - license_model
        - links
        - max_dimensions
        - orientation
        - people
        - prestige
        - preview
        - product_types
        - quality_rank
        - referral_destinations
        - state_province
        - summary_set
        - thumb
        - title
        - uri_oembed
        in: query
        items:
          enum:
          - allowed_use
          - alternative_ids
          - artist
          - artist_title
          - asset_family
          - call_for_image
          - caption
          - city
          - collection_code
          - collection_id
          - collection_name
          - color_type
          - comp
          - copyright
          - country
          - credit_line
          - date_camera_shot
          - date_created
          - date_submitted
          - detail_set
          - display_set
          - download_sizes
          - downloads
          - editorial_segments
          - editorial_source
          - entity_details
          - event_ids
          - graphical_style
          - id
          - istock_licenses
          - keywords
          - largest_downloads
          - license_model
          - links
          - max_dimensions
          - orientation
          - people
          - prestige
          - preview
          - product_types
          - quality_rank
          - referral_destinations
          - state_province
          - summary_set
          - thumb
          - title
          - uri_oembed
          type: string
        name: fields
        required: false
        type: array
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Images.ImagesDetail'
        400:
          description: InvalidParameterValue
        401:
          description: AuthorizationTokenRequired
        403:
          description: UnauthorizedDisplaySize
        404:
          description: ImageNotFound
      summary: Get metadata for a single image by supplying one image id
      tags:
      - Images
  /v3/images/{id}/similar:
    get:
      consumes: []
      deprecated: false
      operationId: Images_GetSimilarImages
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - description: Identifies an existing image
        in: path
        name: id
        required: true
        type: string
      - collectionFormat: multi
        description: Specifies fields to return. Defaults to 'summary_set'.
        enum:
        - accessrestriction
        - allowed_use
        - alternative_ids
        - artist
        - asset_family
        - call_for_image
        - caption
        - collection_code
        - collection_id
        - collection_name
        - color_type
        - comp
        - copyright
        - date_camera_shot
        - date_created
        - detail_set
        - display_set
        - editorial_segments
        - editorial_source
        - entity_details
        - event_ids
        - graphical_style
        - id
        - keywords
        - largest_downloads
        - license_model
        - max_dimensions
        - orientation
        - people
        - prestige
        - preview
        - product_types
        - quality_rank
        - referral_destinations
        - summary_set
        - thumb
        - title
        - uri_oembed
        in: query
        items:
          enum:
          - accessrestriction
          - allowed_use
          - alternative_ids
          - artist
          - asset_family
          - call_for_image
          - caption
          - collection_code
          - collection_id
          - collection_name
          - color_type
          - comp
          - copyright
          - date_camera_shot
          - date_created
          - detail_set
          - display_set
          - editorial_segments
          - editorial_source
          - entity_details
          - event_ids
          - graphical_style
          - id
          - keywords
          - largest_downloads
          - license_model
          - max_dimensions
          - orientation
          - people
          - prestige
          - preview
          - product_types
          - quality_rank
          - referral_destinations
          - summary_set
          - thumb
          - title
          - uri_oembed
          type: string
        name: fields
        required: false
        type: array
      - description: Identifies page to return. Default is 1.
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Specifies page size. Default is 30, maximum page_size is 100.
        format: int32
        in: query
        name: page_size
        required: false
        type: integer
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
        400:
          description: InvalidParameterValue
        401:
          description: AuthorizationTokenRequired
        403:
          description: UnauthorizedDisplaySize
        404:
          description: ImageNotFound
      summary: Search for images similar to an image
      tags:
      - Images
  /v3/products:
    get:
      consumes: []
      deprecated: false
      operationId: Products_GetProducts
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - collectionFormat: multi
        description: Comma separated list of fields. Allows product download requirements
          to be returned.
        enum:
        - download_requirements
        in: query
        items:
          enum:
          - download_requirements
          type: string
        name: fields
        required: false
        type: array
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Products.ProductsResult'
        400:
          description: InvalidParameterValue
        401:
          description: Unauthorized
      summary: Get Products
      tags:
      - Products
  /v3/purchased-assets:
    get:
      consumes: []
      deprecated: false
      operationId: Purchases_GetPreviousAssetPurchases
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: If specified, retrieves previous purchases on or before this
          date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).
        format: date-time
        in: query
        name: end_date
        required: false
        type: string
      - description: Identifies page to return. Default is 1.
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Specifies page size. Default is 75, maximum page_size is 100.
        format: int32
        in: query
        name: page_size
        required: false
        type: integer
      - description: If specified, retrieves previous purchases on or after this date.
          Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).
        format: date-time
        in: query
        name: start_date
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Purchases.PreviousAssetPurchases'
        400:
          description: PageNumberLessThanOne
        401:
          description: Unauthorized
      summary: Get Previously Purchased Images and Video
      tags:
      - Purchases
  /v3/purchased-images:
    get:
      consumes: []
      deprecated: false
      operationId: Purchases_GetPreviousPurchases
      parameters:
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: true
        type: string
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: If specified, retrieves previous purchases on or before this
          date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).
        format: date-time
        in: query
        name: end_date
        required: false
        type: string
      - description: Identifies page to return. Default is 1.
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Specifies page size. Default is 75, maximum page_size is 100.
        format: int32
        in: query
        name: page_size
        required: false
        type: integer
      - description: If specified, retrieves previous purchases on or after this date.
          Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).
        format: date-time
        in: query
        name: start_date
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Purchases.PreviousPurchases'
        400:
          description: PageNumberLessThanOne
        401:
          description: Unauthorized
      summary: Get Previously Purchased Images
      tags:
      - Purchases
  /v3/search/events:
    get:
      consumes: []
      deprecated: false
      operationId: Search_GetEvents
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - description: Filters to events that start on or after this date. Use ISO 8601
          format (e.g., 1999-12-31).
        format: date-time
        in: query
        name: date_from
        required: false
        type: string
      - description: Filters to events that start on or before this date. Use ISO
          8601 format (e.g., 1999-12-31).
        format: date-time
        in: query
        name: date_to
        required: false
        type: string
      - description: Filters to events with a matching editorial segment.
        enum:
        - archival
        - entertainment
        - news
        - publicity
        - royalty
        - sport
        in: query
        name: editorial_segment
        required: false
        type: string
      - collectionFormat: multi
        description: Specifies fields to return. Default set is 'id','name','start_date'.
        enum:
        - id
        - child_event_count
        - editorial_segments
        - hero_image
        - image_count
        - keywords
        - location
        - name
        - start_date
        - type
        in: query
        items:
          enum:
          - id
          - child_event_count
          - editorial_segments
          - hero_image
          - image_count
          - keywords
          - location
          - name
          - start_date
          - type
          type: string
        name: fields
        required: false
        type: array
      - description: Request results starting at a page number (default is 1, maximum
          is 50).
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Request number of images to return in each page.
        format: int32
        in: query
        name: page_size
        required: false
        type: integer
      - description: Filters to events related to this phrase
        in: query
        name: phrase
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Search.EventsSearchResult'
        400:
          description: InvalidParameterValue
        401:
          description: AuthorizationTokenRequired
        403:
          description: UnauthorizedDisplaySize
      summary: Search for events
      tags:
      - Search
  /v3/search/images:
    get:
      consumes: []
      deprecated: false
      operationId: Search_GetImagesByPhrase
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - collectionFormat: multi
        description: Filter based on the age of individuals in an image.
        enum:
        - newborn
        - baby
        - child
        - teenager
        - young_adult
        - adult
        - adults_only
        - mature_adult
        - senior_adult
        - months_0_1
        - months_2_5
        - months_6_11
        - months_12_17
        - months_18_23
        - years_2_3
        - years_4_5
        - years_6_7
        - years_8_9
        - years_10_11
        - years_12_13
        - years_14_15
        - years_16_17
        - years_18_19
        - years_20_24
        - years_20_29
        - years_25_29
        - years_30_34
        - years_30_39
        - years_35_39
        - years_40_44
        - years_40_49
        - years_45_49
        - years_50_54
        - years_50_59
        - years_55_59
        - years_60_64
        - years_60_69
        - years_65_69
        - years_70_79
        - years_80_89
        - over_90
        - over_100
        in: query
        items:
          enum:
          - newborn
          - baby
          - child
          - teenager
          - young_adult
          - adult
          - adults_only
          - mature_adult
          - senior_adult
          - months_0_1
          - months_2_5
          - months_6_11
          - months_12_17
          - months_18_23
          - years_2_3
          - years_4_5
          - years_6_7
          - years_8_9
          - years_10_11
          - years_12_13
          - years_14_15
          - years_16_17
          - years_18_19
          - years_20_24
          - years_20_29
          - years_25_29
          - years_30_34
          - years_30_39
          - years_35_39
          - years_40_44
          - years_40_49
          - years_45_49
          - years_50_54
          - years_50_59
          - years_55_59
          - years_60_64
          - years_60_69
          - years_65_69
          - years_70_79
          - years_80_89
          - over_90
          - over_100
          type: string
        name: age_of_people
        required: false
        type: array
      - description: Search for images by specific artists (free-text, comma-separated
          list of artists).
        in: query
        name: artists
        required: false
        type: string
      - collectionFormat: multi
        description: Filter by collection codes (comma-separated list). Include or
          exclude based on collections_filter_type.
        in: query
        items:
          type: string
        name: collection_codes
        required: false
        type: array
      - description: Provides searching based on specified collection(s).
        enum:
        - include
        - exclude
        in: query
        name: collections_filter_type
        required: false
        type: string
      - description: 'Filter based on predominant color in an image. Use 6 character
          hexidecimal format (e.g., #002244). Note: when specified, results will not
          contain editorial images.'
        in: query
        name: color
        required: false
        type: string
      - collectionFormat: multi
        description: Filter based on image composition.
        enum:
        - abstract
        - candid
        - close_up
        - copy_space
        - cut_out
        - full_frame
        - full_length
        - headshot
        - looking_at_camera
        - macro
        - portrait
        - sparse
        - still_life
        - three_quarter_length
        - waist_up
        in: query
        items:
          enum:
          - abstract
          - candid
          - close_up
          - copy_space
          - cut_out
          - full_frame
          - full_length
          - headshot
          - looking_at_camera
          - macro
          - portrait
          - sparse
          - still_life
          - three_quarter_length
          - waist_up
          type: string
        name: compositions
        required: false
        type: array
      - description: Restrict search results to embeddable images. The default is
          false.
        in: query
        name: embed_content_only
        required: false
        type: boolean
      - collectionFormat: multi
        description: Filter search results based on the ethnicity of individuals in
          an image.
        enum:
        - black
        - caucasian
        - east_asian
        - hispanic_latino
        - japanese
        - middle_eastern
        - mixed_race_person
        - multiethnic_group
        - native_american_first_nations
        - pacific_islander
        - south_asian
        - southeast_asian
        in: query
        items:
          enum:
          - black
          - caucasian
          - east_asian
          - hispanic_latino
          - japanese
          - middle_eastern
          - mixed_race_person
          - multiethnic_group
          - native_american_first_nations
          - pacific_islander
          - south_asian
          - southeast_asian
          type: string
        name: ethnicity
        required: false
        type: array
      - collectionFormat: multi
        description: Filter based on specific events
        in: query
        items:
          format: int32
          type: integer
        name: event_ids
        required: false
        type: array
      - description: Excludes images containing nudity. The default is false.
        in: query
        name: exclude_nudity
        required: false
        type: boolean
      - collectionFormat: multi
        description: Specifies fields to return. Defaults to 'summary_set'.
        enum:
        - accessrestriction
        - allowed_use
        - alternative_ids
        - artist
        - asset_family
        - call_for_image
        - caption
        - collection_code
        - collection_id
        - collection_name
        - color_type
        - comp
        - copyright
        - date_camera_shot
        - date_created
        - detail_set
        - display_set
        - editorial_segments
        - editorial_source
        - entity_details
        - event_ids
        - graphical_style
        - id
        - keywords
        - largest_downloads
        - license_model
        - max_dimensions
        - orientation
        - people
        - prestige
        - preview
        - product_types
        - quality_rank
        - referral_destinations
        - summary_set
        - thumb
        - title
        - uri_oembed
        in: query
        items:
          enum:
          - accessrestriction
          - allowed_use
          - alternative_ids
          - artist
          - asset_family
          - call_for_image
          - caption
          - collection_code
          - collection_id
          - collection_name
          - color_type
          - comp
          - copyright
          - date_camera_shot
          - date_created
          - detail_set
          - display_set
          - editorial_segments
          - editorial_source
          - entity_details
          - event_ids
          - graphical_style
          - id
          - keywords
          - largest_downloads
          - license_model
          - max_dimensions
          - orientation
          - people
          - prestige
          - preview
          - product_types
          - quality_rank
          - referral_destinations
          - summary_set
          - thumb
          - title
          - uri_oembed
          type: string
        name: fields
        required: false
        type: array
      - collectionFormat: multi
        description: Return only images having a specific file type.
        enum:
        - eps
        - jpg
        in: query
        items:
          enum:
          - eps
          - jpg
          type: string
        name: file_types
        required: false
        type: array
      - collectionFormat: multi
        description: Filter based on graphical style of the image.
        enum:
        - fine_art
        - illustration
        - photography
        in: query
        items:
          enum:
          - fine_art
          - illustration
          - photography
          type: string
        name: graphical_styles
        required: false
        type: array
      - collectionFormat: multi
        description: Return only images tagged with specific keyword(s). Specify using
          a comma-separated list of keyword Ids. If keyword Ids and phrase are both
          specified, only those images matching the query phrase which also contain
          the requested keyword(s) are returned.
        in: query
        items:
          format: int32
          type: integer
        name: keyword_ids
        required: false
        type: array
      - collectionFormat: multi
        description: Specifies the image licensing model(s).
        enum:
        - rights_managed
        - royalty_free
        in: query
        items:
          enum:
          - rights_managed
          - royalty_free
          type: string
        name: license_models
        required: false
        type: array
      - description: Filter based on minimum size requested.
        enum:
        - x_small
        - small
        - medium
        - large
        - x_large
        - xx_large
        in: query
        name: minimum_size
        required: false
        type: string
      - collectionFormat: multi
        description: Filter based on the number of people in the image.
        enum:
        - none
        - one
        - two
        - group
        in: query
        items:
          enum:
          - none
          - one
          - two
          - group
          type: string
        name: number_of_people
        required: false
        type: array
      - collectionFormat: multi
        description: Return only images with selected aspect ratios.
        enum:
        - horizontal
        - vertical
        - square
        - panoramic_horizontal
        - panoramic_vertical
        in: query
        items:
          enum:
          - horizontal
          - vertical
          - square
          - panoramic_horizontal
          - panoramic_vertical
          type: string
        name: orientations
        required: false
        type: array
      - description: Request results starting at a page number (default is 1).
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Request number of images to return in each page.
        format: int32
        in: query
        name: page_size
        required: false
        type: integer
      - description: Search images using a search phrase.
        in: query
        name: phrase
        required: false
        type: string
      - description: Restrict search results to prestige images. The default is false.
        in: query
        name: prestige_content_only
        required: false
        type: boolean
      - collectionFormat: multi
        description: Filter images to those having product types from the selected
          list.
        enum:
        - easy_access
        - editorial_subscription
        - image_pack
        - premium_access
        - royalty_free_subscription
        - credit_pack
        in: query
        items:
          enum:
          - easy_access
          - editorial_subscription
          - image_pack
          - premium_access
          - royalty_free_subscription
          - credit_pack
          type: string
        name: product_types
        required: false
        type: array
      - description: Select sort order of results.
        enum:
        - best_match
        - most_popular
        - newest
        in: query
        name: sort_order
        required: false
        type: string
      - collectionFormat: multi
        description: Return only images associated with specific people (using a comma-delimited
          list).
        in: query
        items:
          type: string
        name: specific_people
        required: false
        type: array
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Search.SearchResults[GettyImages.Models.Search.ImageSearchItem]'
        400:
          description: InvalidParameterValue
        401:
          description: AuthorizationTokenRequired
        403:
          description: UnauthorizedDisplaySize
      summary: Search for both creative and editorial images
      tags:
      - Search
  /v3/search/images/creative:
    get:
      consumes: []
      deprecated: false
      operationId: Search_GetCreativeImagesByPhrase
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - collectionFormat: multi
        description: Filter based on the age of individuals in an image.
        enum:
        - newborn
        - baby
        - child
        - teenager
        - young_adult
        - adult
        - adults_only
        - mature_adult
        - senior_adult
        - months_0_1
        - months_2_5
        - months_6_11
        - months_12_17
        - months_18_23
        - years_2_3
        - years_4_5
        - years_6_7
        - years_8_9
        - years_10_11
        - years_12_13
        - years_14_15
        - years_16_17
        - years_18_19
        - years_20_24
        - years_20_29
        - years_25_29
        - years_30_34
        - years_30_39
        - years_35_39
        - years_40_44
        - years_40_49
        - years_45_49
        - years_50_54
        - years_50_59
        - years_55_59
        - years_60_64
        - years_60_69
        - years_65_69
        - years_70_79
        - years_80_89
        - over_90
        - over_100
        in: query
        items:
          enum:
          - newborn
          - baby
          - child
          - teenager
          - young_adult
          - adult
          - adults_only
          - mature_adult
          - senior_adult
          - months_0_1
          - months_2_5
          - months_6_11
          - months_12_17
          - months_18_23
          - years_2_3
          - years_4_5
          - years_6_7
          - years_8_9
          - years_10_11
          - years_12_13
          - years_14_15
          - years_16_17
          - years_18_19
          - years_20_24
          - years_20_29
          - years_25_29
          - years_30_34
          - years_30_39
          - years_35_39
          - years_40_44
          - years_40_49
          - years_45_49
          - years_50_54
          - years_50_59
          - years_55_59
          - years_60_64
          - years_60_69
          - years_65_69
          - years_70_79
          - years_80_89
          - over_90
          - over_100
          type: string
        name: age_of_people
        required: false
        type: array
      - description: Search for images by specific artists (free-text, comma-separated
          list of artists).
        in: query
        name: artists
        required: false
        type: string
      - collectionFormat: multi
        description: Filter by collection codes (comma-separated list). Include or
          exclude based on collections_filter_type.
        in: query
        items:
          type: string
        name: collection_codes
        required: false
        type: array
      - description: Use to include or exclude collections from search.
        enum:
        - include
        - exclude
        in: query
        name: collections_filter_type
        required: false
        type: string
      - description: 'Filter based on predominant color in an image. Use 6 character
          hexidecimal format (e.g., #002244).'
        in: query
        name: color
        required: false
        type: string
      - collectionFormat: multi
        description: Filter based on image composition.
        enum:
        - abstract
        - candid
        - close_up
        - copy_space
        - cut_out
        - full_frame
        - full_length
        - headshot
        - looking_at_camera
        - macro
        - portrait
        - sparse
        - still_life
        - three_quarter_length
        - waist_up
        in: query
        items:
          enum:
          - abstract
          - candid
          - close_up
          - copy_space
          - cut_out
          - full_frame
          - full_length
          - headshot
          - looking_at_camera
          - macro
          - portrait
          - sparse
          - still_life
          - three_quarter_length
          - waist_up
          type: string
        name: compositions
        required: false
        type: array
      - description: Restrict search results to embeddable images. The default is
          false.
        in: query
        name: embed_content_only
        required: false
        type: boolean
      - collectionFormat: multi
        description: Filter search results based on the ethnicity of individuals in
          an image.
        enum:
        - black
        - caucasian
        - east_asian
        - hispanic_latino
        - japanese
        - middle_eastern
        - mixed_race_person
        - multiethnic_group
        - native_american_first_nations
        - pacific_islander
        - south_asian
        - southeast_asian
        in: query
        items:
          enum:
          - black
          - caucasian
          - east_asian
          - hispanic_latino
          - japanese
          - middle_eastern
          - mixed_race_person
          - multiethnic_group
          - native_american_first_nations
          - pacific_islander
          - south_asian
          - southeast_asian
          type: string
        name: ethnicity
        required: false
        type: array
      - description: Excludes images containing nudity. The default is false.
        in: query
        name: exclude_nudity
        required: false
        type: boolean
      - collectionFormat: multi
        description: Specifies fields to return. Defaults to 'summary_set'.
        enum:
        - allowed_use
        - alternative_ids
        - artist
        - asset_family
        - call_for_image
        - caption
        - collection_code
        - collection_id
        - collection_name
        - color_type
        - comp
        - copyright
        - date_camera_shot
        - date_created
        - detail_set
        - display_set
        - graphical_style
        - id
        - keywords
        - largest_downloads
        - license_model
        - max_dimensions
        - orientation
        - prestige
        - preview
        - product_types
        - quality_rank
        - referral_destinations
        - summary_set
        - thumb
        - title
        - uri_oembed
        in: query
        items:
          enum:
          - allowed_use
          - alternative_ids
          - artist
          - asset_family
          - call_for_image
          - caption
          - collection_code
          - collection_id
          - collection_name
          - color_type
          - comp
          - copyright
          - date_camera_shot
          - date_created
          - detail_set
          - display_set
          - graphical_style
          - id
          - keywords
          - largest_downloads
          - license_model
          - max_dimensions
          - orientation
          - prestige
          - preview
          - product_types
          - quality_rank
          - referral_destinations
          - summary_set
          - thumb
          - title
          - uri_oembed
          type: string
        name: fields
        required: false
        type: array
      - collectionFormat: multi
        description: Return only images having a specific file type.
        enum:
        - eps
        - jpg
        in: query
        items:
          enum:
          - eps
          - jpg
          type: string
        name: file_types
        required: false
        type: array
      - collectionFormat: multi
        description: Filter based on graphical style of the image.
        enum:
        - fine_art
        - illustration
        - photography
        in: query
        items:
          enum:
          - fine_art
          - illustration
          - photography
          type: string
        name: graphical_styles
        required: false
        type: array
      - collectionFormat: multi
        description: Return only images tagged with specific keyword(s). Specify using
          a comma-separated list of keyword Ids. If keyword Ids and phrase are both
          specified, only those images matching the query phrase which also contain
          the requested keyword(s) are returned.
        in: query
        items:
          format: int32
          type: integer
        name: keyword_ids
        required: false
        type: array
      - collectionFormat: multi
        description: Specifies the image licensing model(s).
        enum:
        - rights_managed
        - royalty_free
        in: query
        items:
          enum:
          - rights_managed
          - royalty_free
          type: string
        name: license_models
        required: false
        type: array
      - description: Filter based on minimum size requested.
        enum:
        - x_small
        - small
        - medium
        - large
        - x_large
        - xx_large
        in: query
        name: minimum_size
        required: false
        type: string
      - collectionFormat: multi
        description: Filter based on the number of people in the image.
        enum:
        - none
        - one
        - two
        - group
        in: query
        items:
          enum:
          - none
          - one
          - two
          - group
          type: string
        name: number_of_people
        required: false
        type: array
      - collectionFormat: multi
        description: Return only images with selected aspect ratios.
        enum:
        - horizontal
        - vertical
        - square
        - panoramic_horizontal
        - panoramic_vertical
        in: query
        items:
          enum:
          - horizontal
          - vertical
          - square
          - panoramic_horizontal
          - panoramic_vertical
          type: string
        name: orientations
        required: false
        type: array
      - description: Request results starting at a page number (default is 1).
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Request number of images to return in each page.
        format: int32
        in: query
        name: page_size
        required: false
        type: integer
      - description: Search images using a search phrase.
        in: query
        name: phrase
        required: false
        type: string
      - description: Restrict search results to prestige images. The default is false.
        in: query
        name: prestige_content_only
        required: false
        type: boolean
      - collectionFormat: multi
        description: Filter images to those having product types from the selected
          list.
        enum:
        - easy_access
        - editorial_subscription
        - image_pack
        - premium_access
        - royalty_free_subscription
        - credit_pack
        in: query
        items:
          enum:
          - easy_access
          - editorial_subscription
          - image_pack
          - premium_access
          - royalty_free_subscription
          - credit_pack
          type: string
        name: product_types
        required: false
        type: array
      - description: Select sort order of results.
        enum:
        - best_match
        - most_popular
        - newest
        in: query
        name: sort_order
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Search.CreativeImageSearchResults'
        400:
          description: InvalidParameterValue
        401:
          description: AuthorizationTokenRequired
        403:
          description: UnauthorizedDisplaySize
      summary: Search for creative images only
      tags:
      - Search
  /v3/search/images/editorial:
    get:
      consumes: []
      deprecated: false
      operationId: Search_GetEditorialImagesByPhrase
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - collectionFormat: multi
        description: Filter based on the age of individuals in an image.
        enum:
        - newborn
        - baby
        - child
        - teenager
        - young_adult
        - adult
        - adults_only
        - mature_adult
        - senior_adult
        - months_0_1
        - months_2_5
        - months_6_11
        - months_12_17
        - months_18_23
        - years_2_3
        - years_4_5
        - years_6_7
        - years_8_9
        - years_10_11
        - years_12_13
        - years_14_15
        - years_16_17
        - years_18_19
        - years_20_24
        - years_20_29
        - years_25_29
        - years_30_34
        - years_30_39
        - years_35_39
        - years_40_44
        - years_40_49
        - years_45_49
        - years_50_54
        - years_50_59
        - years_55_59
        - years_60_64
        - years_60_69
        - years_65_69
        - years_70_79
        - years_80_89
        - over_90
        - over_100
        in: query
        items:
          enum:
          - newborn
          - baby
          - child
          - teenager
          - young_adult
          - adult
          - adults_only
          - mature_adult
          - senior_adult
          - months_0_1
          - months_2_5
          - months_6_11
          - months_12_17
          - months_18_23
          - years_2_3
          - years_4_5
          - years_6_7
          - years_8_9
          - years_10_11
          - years_12_13
          - years_14_15
          - years_16_17
          - years_18_19
          - years_20_24
          - years_20_29
          - years_25_29
          - years_30_34
          - years_30_39
          - years_35_39
          - years_40_44
          - years_40_49
          - years_45_49
          - years_50_54
          - years_50_59
          - years_55_59
          - years_60_64
          - years_60_69
          - years_65_69
          - years_70_79
          - years_80_89
          - over_90
          - over_100
          type: string
        name: age_of_people
        required: false
        type: array
      - description: Search for images by specific artists (free-text, comma-separated
          list of artists).
        in: query
        name: artists
        required: false
        type: string
      - collectionFormat: multi
        description: Filter by collections (comma-separated list of collection codes).
          Include or exclude based on collections_filter_type.
        in: query
        items:
          type: string
        name: collection_codes
        required: false
        type: array
      - description: Use to include or exclude collections from search.
        enum:
        - include
        - exclude
        in: query
        name: collections_filter_type
        required: false
        type: string
      - collectionFormat: multi
        description: Filter based on image composition.
        enum:
        - abstract
        - candid
        - close_up
        - copy_space
        - cut_out
        - full_frame
        - full_length
        - headshot
        - looking_at_camera
        - macro
        - portrait
        - sparse
        - still_life
        - three_quarter_length
        - waist_up
        in: query
        items:
          enum:
          - abstract
          - candid
          - close_up
          - copy_space
          - cut_out
          - full_frame
          - full_length
          - headshot
          - looking_at_camera
          - macro
          - portrait
          - sparse
          - still_life
          - three_quarter_length
          - waist_up
          type: string
        name: compositions
        required: false
        type: array
      - collectionFormat: multi
        description: Return only events with a matching editorial segment.
        enum:
        - archival
        - entertainment
        - news
        - publicity
        - royalty
        - sport
        in: query
        items:
          enum:
          - archival
          - entertainment
          - news
          - publicity
          - royalty
          - sport
          type: string
        name: editorial_segments
        required: false
        type: array
      - description: Restrict search results to embeddable images. The default is
          false.
        in: query
        name: embed_content_only
        required: false
        type: boolean
      - description: Return only images that are created on or before this date. Use
          ISO 8601 format (e.g., 1999-12-31).
        format: date-time
        in: query
        name: end_date
        required: false
        type: string
      - collectionFormat: multi
        description: specify linked data entity uri.
        in: query
        items:
          type: string
        name: entity_uris
        required: false
        type: array
      - collectionFormat: multi
        description: Filter search results based on the ethnicity of individuals in
          an image.
        enum:
        - black
        - caucasian
        - east_asian
        - hispanic_latino
        - japanese
        - middle_eastern
        - mixed_race_person
        - multiethnic_group
        - native_american_first_nations
        - pacific_islander
        - south_asian
        - southeast_asian
        in: query
        items:
          enum:
          - black
          - caucasian
          - east_asian
          - hispanic_latino
          - japanese
          - middle_eastern
          - mixed_race_person
          - multiethnic_group
          - native_american_first_nations
          - pacific_islander
          - south_asian
          - southeast_asian
          type: string
        name: ethnicity
        required: false
        type: array
      - collectionFormat: multi
        description: Filter based on specific events
        in: query
        items:
          format: int32
          type: integer
        name: event_ids
        required: false
        type: array
      - description: Excludes images containing nudity. The default is false.
        in: query
        name: exclude_nudity
        required: false
        type: boolean
      - collectionFormat: multi
        description: Specifies fields to return. Defaults to 'summary_set'.
        enum:
        - allowed_use
        - alternative_ids
        - artist
        - asset_family
        - call_for_image
        - caption
        - collection_code
        - collection_id
        - collection_name
        - color_type
        - comp
        - copyright
        - date_camera_shot
        - date_created
        - detail_set
        - display_set
        - editorial_segments
        - editorial_source
        - entity_details
        - event_ids
        - graphical_style
        - id
        - keywords
        - largest_downloads
        - license_model
        - max_dimensions
        - orientation
        - people
        - preview
        - product_types
        - quality_rank
        - referral_destinations
        - summary_set
        - thumb
        - title
        - uri_oembed
        in: query
        items:
          enum:
          - allowed_use
          - alternative_ids
          - artist
          - asset_family
          - call_for_image
          - caption
          - collection_code
          - collection_id
          - collection_name
          - color_type
          - comp
          - copyright
          - date_camera_shot
          - date_created
          - detail_set
          - display_set
          - editorial_segments
          - editorial_source
          - entity_details
          - event_ids
          - graphical_style
          - id
          - keywords
          - largest_downloads
          - license_model
          - max_dimensions
          - orientation
          - people
          - preview
          - product_types
          - quality_rank
          - referral_destinations
          - summary_set
          - thumb
          - title
          - uri_oembed
          type: string
        name: fields
        required: false
        type: array
      - collectionFormat: multi
        description: Return only images having a specific file type.
        enum:
        - eps
        - jpg
        in: query
        items:
          enum:
          - eps
          - jpg
          type: string
        name: file_types
        required: false
        type: array
      - collectionFormat: multi
        description: Filter based on graphical style of the image.
        enum:
        - photography
        - illustration
        in: query
        items:
          enum:
          - photography
          - illustration
          type: string
        name: graphical_styles
        required: false
        type: array
      - collectionFormat: multi
        description: Return only images tagged with specific keyword(s). Specify using
          a comma-separated list of keyword Ids. If keyword Ids and phrase are both
          specified, only those images matching the query phrase which also contain
          the requested keyword(s) are returned.
        in: query
        items:
          format: int32
          type: integer
        name: keyword_ids
        required: false
        type: array
      - description: Filter search results based on minimum quality ranking. Possible
          values 1, 2, 3 with 1 being best.
        format: int32
        in: query
        name: minimum_quality_rank
        required: false
        type: integer
      - description: Filter based on minimum size requested.
        enum:
        - x_small
        - small
        - medium
        - large
        - x_large
        - xx_large
        in: query
        name: minimum_size
        required: false
        type: string
      - collectionFormat: multi
        description: Filter based on the number of people in the image.
        enum:
        - none
        - one
        - two
        - group
        in: query
        items:
          enum:
          - none
          - one
          - two
          - group
          type: string
        name: number_of_people
        required: false
        type: array
      - collectionFormat: multi
        description: Return only images with selected aspect ratios.
        enum:
        - horizontal
        - vertical
        - square
        - panoramic_horizontal
        - panoramic_vertical
        in: query
        items:
          enum:
          - horizontal
          - vertical
          - square
          - panoramic_horizontal
          - panoramic_vertical
          type: string
        name: orientations
        required: false
        type: array
      - description: Request results starting at a page number (default is 1).
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Request number of images to return in each page.
        format: int32
        in: query
        name: page_size
        required: false
        type: integer
      - description: Search images using a search phrase.
        in: query
        name: phrase
        required: false
        type: string
      - collectionFormat: multi
        description: Filter images to those having product types from the selected
          list.
        enum:
        - easy_access
        - editorial_subscription
        - image_pack
        - premium_access
        - royalty_free_subscription
        - credit_pack
        in: query
        items:
          enum:
          - easy_access
          - editorial_subscription
          - image_pack
          - premium_access
          - royalty_free_subscription
          - credit_pack
          type: string
        name: product_types
        required: false
        type: array
      - description: Select sort order of results.
        enum:
        - best_match
        - most_popular
        - newest
        - oldest
        in: query
        name: sort_order
        required: false
        type: string
      - collectionFormat: multi
        description: Return only images associated with specific people (using a comma-delimited
          list).
        in: query
        items:
          type: string
        name: specific_people
        required: false
        type: array
      - description: Return only images that are created on or after this date. Use
          ISO 8601 format (e.g., 1999-12-31).
        format: date-time
        in: query
        name: start_date
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Search.EditorialImageSearchResults'
        400:
          description: InvalidParameterValue
        401:
          description: AuthorizationTokenRequired
        403:
          description: UnauthorizedDisplaySize
      summary: Search for editorial images only
      tags:
      - Search
  /v3/search/videos:
    get:
      consumes: []
      deprecated: false
      operationId: Search_GetVideosByPhrase
      parameters:
      - description: Provide a header to specify the language of result values.
        in: header
        name: Accept-Language
        required: false
        type: string
      - description: Provide access token in the format of 'Bearer {token}'.
        in: header
        name: Authorization
        required: false
        type: string
      - collectionFormat: multi
        description: Provides filtering according to the age of individuals in a video.
        enum:
        - newborn
        - baby
        - child
        - teenager
        - young_adult
        - adult
        - adults_only
        - mature_adult
        - senior_adult
        - months_0_1
        - months_2_5
        - months_6_11
        - months_12_17
        - months_18_23
        - years_2_3
        - years_4_5
        - years_6_7
        - years_8_9
        - years_10_11
        - years_12_13
        - years_14_15
        - years_16_17
        - years_18_19
        - years_20_24
        - years_20_29
        - years_25_29
        - years_30_34
        - years_30_39
        - years_35_39
        - years_40_44
        - years_40_49
        - years_45_49
        - years_50_54
        - years_50_59
        - years_55_59
        - years_60_64
        - years_60_69
        - years_65_69
        - years_70_79
        - years_80_89
        - over_90
        - over_100
        in: query
        items:
          enum:
          - newborn
          - baby
          - child
          - teenager
          - young_adult
          - adult
          - adults_only
          - mature_adult
          - senior_adult
          - months_0_1
          - months_2_5
          - months_6_11
          - months_12_17
          - months_18_23
          - years_2_3
          - years_4_5
          - years_6_7
          - years_8_9
          - years_10_11
          - years_12_13
          - years_14_15
          - years_16_17
          - years_18_19
          - years_20_24
          - years_20_29
          - years_25_29
          - years_30_34
          - years_30_39
          - years_35_39
          - years_40_44
          - years_40_49
          - years_45_49
          - years_50_54
          - years_50_59
          - years_55_59
          - years_60_64
          - years_60_69
          - years_65_69
          - years_70_79
          - years_80_89
          - over_90
          - over_100
          type: string
        name: age_of_people
        required: false
        type: array
      - collectionFormat: multi
        description: Provides filtering by collection code.
        in: query
        items:
          type: string
        name: collection_codes
        required: false
        type: array
      - description: Provides searching based on specified collection(s).
        enum:
        - include
        - exclude
        in: query
        name: collections_filter_type
        required: false
        type: string
      - description: Excludes images containing nudity. The default is false.
        in: query
        name: exclude_nudity
        required: false
        type: boolean
      - collectionFormat: multi
        description: Specifies fields to return. Defaults to 'summary_set'.
        enum:
        - allowed_use
        - artist
        - asset_family
        - caption
        - clip_length
        - collection_code
        - collection_id
        - collection_name
        - color_type
        - comp
        - copyright
        - date_created
        - detail_set
        - display_set
        - editorial_segments
        - entity_details
        - era
        - id
        - keywords
        - largest_downloads
        - license_model
        - mastered_to
        - originally_shot_on
        - preview
        - product_types
        - referral_destinations
        - shot_speed
        - source
        - summary_set
        - thumb
        - title
        - istock_licenses
        in: query
        items:
          enum:
          - allowed_use
          - artist
          - asset_family
          - caption
          - clip_length
          - collection_code
          - collection_id
          - collection_name
          - color_type
          - comp
          - copyright
          - date_created
          - detail_set
          - display_set
          - editorial_segments
          - entity_details
          - era
          - id
          - keywords
          - largest_downloads
          - license_model
          - mastered_to
          - originally_shot_on
          - preview
          - product_types
          - referral_destinations
          - shot_speed
          - source
          - summary_set
          - thumb
          - title
          - istock_licenses
          type: string
        name: fields
        required: false
        type: array
      - description: Filters according to the digital video format available on a
          film asset.
        enum:
        - sd
        - hd
        - fourK
        in: query
        name: format_available
        required: false
        type: string
      - collectionFormat: multi
        description: Return only images tagged with specific keyword(s). Specify using
          a comma-separated list of keyword Ids. If keyword Ids and phrase are both
          specified, only those images matching the query phrase which also contain
          the requested keyword(s) are returned.
        in: query
        items:
          format: int32
          type: integer
[...]
