---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:58:\"Build applications
  using the world's most powerful imagery\";s:5:\"title\";s:12:\"Getty Images\";s:7:\"version\";s:1:\"3\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:93:\"https://api.apis.guru/v2/cache/logo/http_developers.gettyimages.com_images_getty-api-logo.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:42:\"https://api.gettyimages.com/swagger/docs/3\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"gettyimages.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"gettyimages\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.gettyimages.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":96:{s:20:\"AddBoardAssetsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"assets_added\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BoardAsset\";}s:4:\"type\";s:5:\"array\";}s:16:\"assets_not_added\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Asset\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"asset_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"date_added\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DisplaySize\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AssetChanges\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"change_set_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Contains
  the identifier for the change-set resource. Passed into ConfirmAssetChanges requests
  to confirm receipt of the asset changes in the response.\";s:4:\"type\";s:6:\"string\";}s:14:\"changed_assets\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Contains
  a list of ChangedAssetList results for the query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ChangedAssetDetail\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"BoardAsset\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"asset_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"asset_id\";}s:4:\"type\";s:6:\"object\";}s:23:\"BoardCommentPermissions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"can_add_comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"BoardCreated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"BoardDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"asset_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"assets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Asset\";}s:4:\"type\";s:5:\"array\";}s:13:\"comment_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"date_last_updated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BoardPermissions\";}}s:4:\"type\";s:6:\"object\";}s:9:\"BoardInfo\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:9:\"BoardList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"board_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"boards\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BoardListBoard\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BoardListBoard\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"asset_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"board_relationship\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"date_last_updated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"hero_asset\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Asset\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BoardPermissions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"can_add_assets\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"can_delete_board\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"can_invite_to_board\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"can_remove_assets\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"can_update_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"can_update_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ChangedAssetDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:26:\"asset_changed_utc_datetime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Contains
  the date of the asset change.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"asset_lifecycle\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Contains
  the type of change this asset change is. (i.e. \"New,\" \"Updated\" or \"Deleted\")\";s:4:\"type\";s:6:\"string\";}s:10:\"asset_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Contains
  the type of asset this asset change is (i.e. \"Image\").\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Contains
  the Id for the asset change.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Contains
  the asset download URL for assets with an AssetLifecycle of \"New.\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Collaborator\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Comment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"created_by\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Collaborator\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CommentPermissions\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CommentCreated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CommentPermissions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"can_delete_comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CommentRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CommentsList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"comments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}s:4:\"type\";s:5:\"array\";}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BoardCommentPermissions\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DisplaySize\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GettyImages.Models.AllowedUse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"how_can_i_use_it\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Indicates
  how the asset can be used\";s:4:\"type\";s:6:\"string\";}s:12:\"release_info\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Indicates
  release status\";s:4:\"type\";s:6:\"string\";}s:18:\"usage_restrictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Indicates
  asset usage restriction, if any\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GettyImages.Models.Artists.DisplaySize\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"aspect_ratio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"is_watermarked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GettyImages.Models.Artists.ImageSearchItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:15:\"alternative_ids\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:12:\"asset_family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"asset_type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"Image\";i:1;s:4:\"Film\";}s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"collection_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"collection_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"date_submitted\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/GettyImages.Models.Artists.DisplaySize\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/GettyImages.Models.Artists.Keyword\";}s:4:\"type\";s:5:\"array\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"max_dimensions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GettyImages.Models.MaxDimensions\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"GettyImages.Models.Artists.ImageSearchResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/GettyImages.Models.Artists.ImageSearchItem\";}s:4:\"type\";s:5:\"array\";}s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:34:\"GettyImages.Models.Artists.Keyword\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"keyword_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GettyImages.Models.Artists.VideoSearchItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:15:\"alternative_ids\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:12:\"asset_family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"asset_type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"Image\";i:1;s:4:\"Film\";}s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"collection_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"collection_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"date_submitted\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/GettyImages.Models.Artists.DisplaySize\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/GettyImages.Models.Artists.Keyword\";}s:4:\"type\";s:5:\"array\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"GettyImages.Models.Artists.VideoSearchResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"videos\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/GettyImages.Models.Artists.VideoSearchItem\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GettyImages.Models.Collections.Collection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"asset_family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"product_types\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:46:\"GettyImages.Models.Collections.CollectionsList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"collections\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/GettyImages.Models.Collections.Collection\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GettyImages.Models.Countries.CountriesList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"countries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/GettyImages.Models.Countries.Country\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GettyImages.Models.Countries.Country\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"iso_alpha_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"iso_alpha_3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GettyImages.Models.CuratedSets.CuratedSet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"assets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"date_last_updated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"hero_image_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"set_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:49:\"GettyImages.Models.Customers.CustomerInfoResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"email_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"is_active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"user_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"GettyImages.Models.Download\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"agreement_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"product_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:49:\"GettyImages.Models.Downloads.GetDownloadsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"downloads\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:72:\"#/definitions/GettyImages.Models.Downloads.GetDownloadsResponse.Download\";}s:4:\"type\";s:5:\"array\";}s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:58:\"GettyImages.Models.Downloads.GetDownloadsResponse.Download\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"agreement_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"asset_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"date_downloaded\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"download_details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:79:\"#/definitions/GettyImages.Models.Downloads.GetDownloadsResponse.DownloadDetails\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"product_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"size_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"thumb_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/GettyImages.Models.Downloads.User\";}}s:4:\"type\";s:6:\"object\";}s:65:\"GettyImages.Models.Downloads.GetDownloadsResponse.DownloadDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"download_notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"project_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:54:\"GettyImages.Models.Downloads.PremiumAccessDownloadData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"download_notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"project_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GettyImages.Models.Downloads.User\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"middle_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GettyImages.Models.Events.Event\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"child_event_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"editorial_segments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"hero_image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/GettyImages.Models.HeroImage\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"image_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GettyImages.Models.LocationEvent\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GettyImages.Models.Events.EventsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"events\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/GettyImages.Models.Events.Event\";}s:4:\"type\";s:5:\"array\";}s:16:\"events_not_found\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GettyImages.Models.HeroImage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/GettyImages.Models.HeroImageDisplaySize\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GettyImages.Models.HeroImageDisplaySize\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"is_watermarked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GettyImages.Models.IStockLicense\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"credits\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"license_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GettyImages.Models.Images.EditorialSource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GettyImages.Models.Images.ImageDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":41:{s:11:\"allowed_use\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/GettyImages.Models.AllowedUse\";}s:15:\"alternative_ids\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"artist_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"asset_family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"asset_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"call_for_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"collection_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"collection_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"collection_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"color_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"credit_line\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"date_camera_shot\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"date_submitted\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/GettyImages.Models.Images.ImageDetailDisplaySize\";}s:4:\"type\";s:5:\"array\";}s:14:\"download_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/GettyImages.Models.Images.ImageDownloadSize\";}s:4:\"type\";s:5:\"array\";}s:18:\"editorial_segments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"editorial_source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/GettyImages.Models.Images.EditorialSource\";}s:9:\"event_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:15:\"graphical_style\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"istock_licenses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GettyImages.Models.IStockLicense\";}s:4:\"type\";s:5:\"array\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GettyImages.Models.Keyword\";}s:4:\"type\";s:5:\"array\";}s:17:\"largest_downloads\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/GettyImages.Models.Images.ImageDownloadSize\";}s:4:\"type\";s:5:\"array\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GettyImages.Models.Images.Link\";}s:4:\"type\";s:5:\"array\";}s:14:\"max_dimensions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GettyImages.Models.MaxDimensions\";}s:11:\"orientation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"people\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"prestige\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"product_types\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"quality_rank\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"referral_destinations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/GettyImages.Models.ReferralDestination\";}s:4:\"type\";s:5:\"array\";}s:14:\"state_province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"uri_oembed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"GettyImages.Models.Images.ImageDetailDisplaySize\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Indicates
  the height in pixels\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"is_watermarked\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Indicates
  whether the image is watermarked.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Identifies
  the name of the display size\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Identifies
  the URI for the image\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Indicates
  the width in pixels\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:52:\"GettyImages.Models.Images.ImageDownloadAuthorization\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"agreement_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"product_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"GettyImages.Models.Images.ImageDownloadSize\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"bytes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"downloads\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/GettyImages.Models.Images.ImageDownloadAuthorization\";}s:4:\"type\";s:5:\"array\";}s:6:\"height\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"media_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:7:\"x_small\";i:1;s:5:\"small\";i:2;s:6:\"medium\";i:3;s:5:\"large\";i:4;s:7:\"x_large\";i:5;s:8:\"xx_large\";}s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GettyImages.Models.Images.ImagesDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/GettyImages.Models.Images.ImageDetail\";}s:4:\"type\";s:5:\"array\";}s:16:\"images_not_found\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GettyImages.Models.Images.Link\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"rel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GettyImages.Models.Keyword\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"entity_types\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"entity_uris\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"keyword_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"relevance\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GettyImages.Models.LocationEvent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"state_province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"venue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GettyImages.Models.MaxDimensions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"height\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"width\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GettyImages.Models.Orders.AssetIdFromOrder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GettyImages.Models.Orders.OrderDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"assets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/GettyImages.Models.Orders.AssetIdFromOrder\";}s:4:\"type\";s:5:\"array\";}s:10:\"end_client\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/GettyImages.Models.Orders.OrderNotes\";}s:10:\"order_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GettyImages.Models.Orders.OrderNotes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"licensee_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ordered_by\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"project_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"purchase_order_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"GettyImages.Models.Products.DownloadRequirements\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"is_note_required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"is_project_code_required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"project_codes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GettyImages.Models.Products.OverageDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"overages_reached\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"remaining\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:35:\"GettyImages.Models.Products.Product\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:14:\"agreement_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"application_website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"credits_remaining\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"download_limit\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"download_limit_duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"download_limit_reset_utc_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"download_requirements\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/GettyImages.Models.Products.DownloadRequirements\";}s:19:\"downloads_remaining\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"expiration_utc_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"imagepack_resolution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"overage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/GettyImages.Models.Products.OverageDetails\";}s:36:\"premium_access_download_requirements\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/GettyImages.Models.Products.DownloadRequirements\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"active\";i:1;s:8:\"inactive\";}s:4:\"type\";s:6:\"string\";}s:12:\"team_credits\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:10:\"easyaccess\";i:1;s:21:\"editorialsubscription\";i:2;s:9:\"imagepack\";i:3;s:13:\"premiumaccess\";i:4;s:23:\"royaltyfreesubscription\";i:5;s:10:\"creditpack\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GettyImages.Models.Products.ProductsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"products\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/GettyImages.Models.Products.Product\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:50:\"GettyImages.Models.Purchases.PreviousAssetPurchase\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"asset_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"asset_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"date_purchased\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"download_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"file_size_in_bytes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"size_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"thumb_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:51:\"GettyImages.Models.Purchases.PreviousAssetPurchases\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"previous_purchases\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/GettyImages.Models.Purchases.PreviousAssetPurchase\";}s:4:\"type\";s:5:\"array\";}s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:45:\"GettyImages.Models.Purchases.PreviousPurchase\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"date_purchased\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"image_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"thumb_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"GettyImages.Models.Purchases.PreviousPurchases\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"previous_purchases\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/GettyImages.Models.Purchases.PreviousPurchase\";}s:4:\"type\";s:5:\"array\";}s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GettyImages.Models.ReferralDestination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"site_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:57:\"GettyImages.Models.Search.CreativeImageSearchLightResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/GettyImages.Models.Search.ImageSearchLightItemCreative\";}s:4:\"type\";s:5:\"array\";}s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:52:\"GettyImages.Models.Search.CreativeImageSearchResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/GettyImages.Models.Search.ImageSearchItemCreative\";}s:4:\"type\";s:5:\"array\";}s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:52:\"GettyImages.Models.Search.CreativeVideoSearchResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"videos\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/GettyImages.Models.Search.VideoSearchItem\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:53:\"GettyImages.Models.Search.EditorialImageSearchResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/GettyImages.Models.Search.ImageSearchItemEditorial\";}s:4:\"type\";s:5:\"array\";}s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GettyImages.Models.Search.EditorialSource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:53:\"GettyImages.Models.Search.EditorialVideoSearchResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"videos\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/GettyImages.Models.Search.VideoSearchItem\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:44:\"GettyImages.Models.Search.EventsSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"events\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/GettyImages.Models.Events.Event\";}s:4:\"type\";s:5:\"array\";}s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GettyImages.Models.Search.ImageSearchItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":31:{s:11:\"allowed_use\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/GettyImages.Models.AllowedUse\";}s:15:\"alternative_ids\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"asset_family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"call_for_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"collection_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"collection_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"collection_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"color_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"date_camera_shot\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/GettyImages.Models.Search.ImageSearchItemDisplaySize\";}s:4:\"type\";s:5:\"array\";}s:18:\"editorial_segments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"event_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:15:\"graphical_style\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"istock_licenses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GettyImages.Models.IStockLicense\";}s:4:\"type\";s:5:\"array\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GettyImages.Models.Keyword\";}s:4:\"type\";s:5:\"array\";}s:17:\"largest_downloads\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/GettyImages.Models.Download\";}s:4:\"type\";s:5:\"array\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"max_dimensions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GettyImages.Models.MaxDimensions\";}s:11:\"orientation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"people\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"prestige\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"product_types\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"quality_rank\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"referral_destinations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/GettyImages.Models.ReferralDestination\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"uri_oembed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:49:\"GettyImages.Models.Search.ImageSearchItemCreative\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":27:{s:11:\"allowed_use\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/GettyImages.Models.AllowedUse\";}s:15:\"alternative_ids\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"asset_family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"call_for_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"collection_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"collection_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"collection_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"color_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"date_camera_shot\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/GettyImages.Models.Search.ImageSearchItemDisplaySize\";}s:4:\"type\";s:5:\"array\";}s:15:\"graphical_style\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GettyImages.Models.Keyword\";}s:4:\"type\";s:5:\"array\";}s:17:\"largest_downloads\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/GettyImages.Models.Download\";}s:4:\"type\";s:5:\"array\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"max_dimensions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GettyImages.Models.MaxDimensions\";}s:11:\"orientation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"prestige\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"product_types\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"quality_rank\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"referral_destinations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/GettyImages.Models.ReferralDestination\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"uri_oembed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:52:\"GettyImages.Models.Search.ImageSearchItemDisplaySize\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"is_watermarked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:50:\"GettyImages.Models.Search.ImageSearchItemEditorial\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":30:{s:11:\"allowed_use\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/GettyImages.Models.AllowedUse\";}s:15:\"alternative_ids\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"asset_family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"call_for_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"collection_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"collection_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"collection_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"color_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"date_camera_shot\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/GettyImages.Models.Search.ImageSearchItemDisplaySize\";}s:4:\"type\";s:5:\"array\";}s:18:\"editorial_segments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"editorial_source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/GettyImages.Models.Search.EditorialSource\";}s:9:\"event_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:15:\"graphical_style\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GettyImages.Models.Keyword\";}s:4:\"type\";s:5:\"array\";}s:17:\"largest_downloads\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/GettyImages.Models.Download\";}s:4:\"type\";s:5:\"array\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"max_dimensions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GettyImages.Models.MaxDimensions\";}s:11:\"orientation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"people\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"product_types\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"quality_rank\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"referral_destinations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/GettyImages.Models.ReferralDestination\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"uri_oembed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:54:\"GettyImages.Models.Search.ImageSearchLightItemCreative\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/GettyImages.Models.Search.ImageSearchItemDisplaySize\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:82:\"GettyImages.Models.Search.SearchResults[GettyImages.Models.Search.ImageSearchItem]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/GettyImages.Models.Search.ImageSearchItem\";}s:4:\"type\";s:5:\"array\";}s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GettyImages.Models.Search.VideoSearchItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":25:{s:11:\"allowed_use\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/GettyImages.Models.AllowedUse\";}s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"asset_family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"clip_length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"collection_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"collection_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"collection_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"color_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/GettyImages.Models.Search.VideoSearchItemDisplaySize\";}s:4:\"type\";s:5:\"array\";}s:3:\"era\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"istock_licenses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GettyImages.Models.IStockLicense\";}s:4:\"type\";s:5:\"array\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GettyImages.Models.Keyword\";}s:4:\"type\";s:5:\"array\";}s:17:\"largest_downloads\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/GettyImages.Models.Download\";}s:4:\"type\";s:5:\"array\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"mastered_to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"originally_shot_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"product_types\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:21:\"referral_destinations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/GettyImages.Models.ReferralDestination\";}s:4:\"type\";s:5:\"array\";}s:10:\"shot_speed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:52:\"GettyImages.Models.Search.VideoSearchItemDisplaySize\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"aspect_ratio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"is_watermarked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:88:\"GettyImages.Models.Search.VideoSearchResults[GettyImages.Models.Artists.VideoSearchItem]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"result_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"videos\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/GettyImages.Models.Artists.VideoSearchItem\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GettyImages.Models.Videos.VideoDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":27:{s:11:\"allowed_use\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/GettyImages.Models.AllowedUse\";}s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"asset_family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"clip_length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"collection_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"collection_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"collection_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"color_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"date_submitted\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"display_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/GettyImages.Models.Videos.VideoDetailDisplaySize\";}s:4:\"type\";s:5:\"array\";}s:14:\"download_sizes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/GettyImages.Models.Videos.VideoDownloadSize\";}s:4:\"type\";s:5:\"array\";}s:18:\"editorial_segments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"era\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"istock_licenses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GettyImages.Models.IStockLicense\";}s:4:\"type\";s:5:\"array\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/GettyImages.Models.Keyword\";}s:4:\"type\";s:5:\"array\";}s:13:\"license_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"mastered_to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"originally_shot_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"product_types\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:21:\"referral_destinations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/GettyImages.Models.ReferralDestination\";}s:4:\"type\";s:5:\"array\";}s:10:\"shot_speed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"GettyImages.Models.Videos.VideoDetailDisplaySize\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"aspect_ratio\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Identifies
  the URI for the image\";s:4:\"type\";s:6:\"string\";}s:14:\"is_watermarked\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Indicates
  whether the image is watermarked.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Identifies
  the name of the display size\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Identifies
  the URI for the image\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:52:\"GettyImages.Models.Videos.VideoDownloadAuthorization\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"agreement_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"product_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"GettyImages.Models.Videos.VideoDownloadSize\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"bit_depth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"broadcast_video_standard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"compression\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"content_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"downloads\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/GettyImages.Models.Videos.VideoDownloadAuthorization\";}s:4:\"type\";s:5:\"array\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"frame_rate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"frame_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"interlaced\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GettyImages.Models.Videos.VideosDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"videos\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/GettyImages.Models.Videos.VideoDetail\";}s:4:\"type\";s:5:\"array\";}s:16:\"videos_not_found\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GettyImages.Services.Core.SecurityToken\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:13:\"ActAsSystemId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"AdminId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"AuthId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ClientIP\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ClientId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Expires\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"RememberedUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"RenewalEnds\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"SecureOnly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"SystemId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"SystemRole\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:14:\"CustomerFacing\";i:1;s:5:\"Admin\";i:2;s:10:\"Automation\";}s:4:\"type\";s:6:\"string\";}s:6:\"UserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"VisitorId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"invitation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"share\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"PartnerChannel\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"partner_channel\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"asset_family\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Specifies
  the asset family for the channel (e.g. \"editorial\" or \"creative\")\";s:4:\"type\";s:6:\"string\";}s:10:\"asset_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Specifies
  channel's asset type (i.e. \"image\", \"film\")\";s:4:\"type\";s:6:\"string\";}s:10:\"channel_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Specifies
  the identification number for the channel\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"channel_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Specifies
  the channel type (i.e. \"New,\" \"Updated\" or \"Deleted\")\";s:4:\"type\";s:6:\"string\";}s:18:\"notification_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Specifies
  the current count of notifications pending in the channel\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:28:\"oldest_notification_date_utc\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Specifies
  the date of the oldest notification currently in the channel in UTC\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"start_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"PartnerChannelList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"channels\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PartnerChannel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"RegisterAssetsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Specify
  request containing the list of asset ids you want to register.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"asset_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Specifies
  the list of asset ids you want to register.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"System.Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"asset_usage\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Specifies
  the id, usage quantity, and date of when an asset was used.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"asset_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  the Id of the asset that was used.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Specifies
  the number of times the asset was used.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"usage_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Identifies
  the date the asset was used, in ISO 8601 format (e.g., YYYY-MM-DD), time is not
  needed.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"report_usage_batch_request\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Specifies
  the request information for the Batch Usages endpoint.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"asset_usages\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Identifies
  the list of asset id, usage count and date of usage combinations to record.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/asset_usage\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"report_usage_batch_response\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Specifies
  the response from the Batch Usages endpoint.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"invalid_assets\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Identifies
  a list of asset ids submitted that did not match known Getty asset ids.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:28:\"total_asset_usages_processed\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Specifies
  the number of asset usage records that were successfully recorded.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
