---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:8:\"beneship\";}s:5:\"title\";s:12:\"paccurate.io\";s:7:\"version\";s:5:\"0.1.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"transport\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_beneship_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:53:\"http://api.paccurate.io/static/api/0.1.1/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"paccurate.io\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"paccurate\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.paccurate.io
paths:
  /:
    post:
      description: a pure-JSON endpoint for packing requests.n
      parameters:
      - description: complete set of items, boxes, and parameters to pack.
        in: body
        name: pack
        schema:
          $ref: '#/definitions/Pack'
      responses:
        200:
          description: Successful pack.
          schema:
            properties:
              boxes:
                description: List of boxes, packed, with their contained items.
                items:
                  $ref: '#/definitions/Box'
                type: array
              built:
                description: build timestamp of engine.
                type: string
              leftovers:
                description: items left over that could not be packed into any available
                  boxes.
                items:
                  $ref: '#/definitions/Item'
                type: array
              lenBoxes:
                description: cardinality of all packed boxes
                type: integer
              lenItems:
                description: cardinality of all items
                type: integer
              lenLeftovers:
                description: cardinality of items unabled to be packed
                type: integer
              packTime:
                description: seconds spent in packing
                type: number
              renderTime:
                description: seconds spent in rendering and placement instruction
                  creation of packing solution
                type: number
              scripts:
                description: additional javascripts for any image loading.
                type: string
              styles:
                description: additional styles for pack images
                type: string
              svgs:
                description: all box SVG images
                type: string
              title:
                description: title of packing result, when applicable.
                type: string
              totalCost:
                description: total estimated cost of all packed boxes, when applicable,
                  in cents.
                type: integer
              totalTime:
                description: seconds spent generating response, total.
                type: number
              version:
                description: version of engine
                type: string
            title: PackResponse
            type: object
        400:
          description: Bad request. Malformed or some other problem occurred processing
            the request.
          schema:
            $ref: '#/definitions/Error'
        422:
          description: Invalid input. The request was well-formed, but the parameters
            were contradictory, invalid, or otherwise somehow unable to be processed.
            More information will be contained in the error details.
          schema:
            $ref: '#/definitions/Error'
        429:
          description: Rate limited. Without an API key, only 10 unique requests are
            allowed per day for testing or demonstration purposes. Note that a randomized
            pack repeated is only a single unique request.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'
      operationId: .post
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":12:{s:3:\"Box\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BoxProperties\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:17:\"dimensionalWeight\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"the
  calculated dimensional weight of this box, if applicable.\";s:4:\"type\";s:6:\"number\";}s:21:\"dimensionalWeightUsed\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"whether
  or not dimensional weight was used for this box.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}s:5:\"title\";s:5:\"items\";s:4:\"type\";s:5:\"array\";}s:3:\"svg\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"raw
  svg of visualization.\";s:4:\"type\";s:6:\"string\";}s:9:\"volumeMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"total
  volume of the box.\";s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:15:\"volumeRemaining\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"remaining
  volume of the box.\";s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:10:\"volumeUsed\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"utilized
  volume of the box.\";s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:17:\"volumeUtilization\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"percentage
  of volume utilized by packed items.\";s:7:\"maximum\";i:1;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:9:\"weightNet\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"total
  weight of box's contents, not including the box's empty (tare) weight.\";s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:15:\"weightRemaining\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"remaining
  weight of the box.\";s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:10:\"weightUsed\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"utilized
  weight of the box.\";s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:17:\"weightUtilization\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"percentage
  of weight utilized by packed items.\";s:7:\"maximum\";i:1;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:24:\"A
  completed, packed box.\";}s:13:\"BoxProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"dimensions\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Point\";}}s:11:\"description\";s:37:\"the
  [height,length,width] of the box.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"name
  for the type of box.\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":3:{s:11:\"description\";s:398:\"Fixed
  price of the container, in whole units of currency, default USD cents. This can
  represent the cost of a flat rate carton, the cost of the actual carton materials,
  or it can include any other flat fees that may need to be added on a <i>per-carton</i>
  basis, such as handling, accessorial surchages, oversize fees, etc. This value is
  <i>added</i> to any rate table rates defined for the carton.\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:9:\"rateTable\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RateTable\";}}s:11:\"description\";s:546:\"An
  optional rate table definition for improved carton selection and pricing optimization.
  Defaults are included using retail rates for FedEx and UPS if carrier and service
  is provided, but optimization can be improved with more data passed in a carton's
  specific rate table. Methods are <ol><li>Provide carrier, service, and zone.</li><li>Provide
  all acceptable weights and prices to use for the carton, similar to actual carrier
  rate tables.</li><li>Provide the coefficients required for a simple linear weight-dependent
  pricing model.</li></ol>\";}s:9:\"weightMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"maximum
  allowable gross weight for the box, i.e., all packed item weights plus the weightTare.\";s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:10:\"weightTare\";O:8:\"stdClass\":4:{s:7:\"default\";i:0;s:11:\"description\";s:81:\"weight
  of the container when empty or otherwise unladen, i.e., of the box itself.\";s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:9:\"weightMax\";i:1;s:10:\"dimensions\";}s:4:\"type\";s:6:\"object\";}s:7:\"BoxType\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BoxProperties\";}}s:11:\"description\";s:33:\"box
  types to be used for packing.\";}s:10:\"BoxTypeSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"box
  type sets for useful defaults.\";s:4:\"enum\";a:4:{i:0;s:4:\"usps\";i:1;s:5:\"fedex\";i:2;s:6:\"pallet\";i:3;s:8:\"customer\";}s:4:\"type\";s:6:\"string\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:600;s:7:\"minimum\";i:100;s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"message\";i:1;s:4:\"code\";}s:4:\"type\";s:6:\"object\";}s:4:\"Item\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ItemProperties\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"the
  sequence at which the item was packed.\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"any
  relevant information or warnings about the packing of the item.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Point\";}}s:11:\"description\";s:66:\"the
  [x,y,z] placement point of the back-bottom corner of the item.\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:24:\"a
  specific, packed item.\";}s:14:\"ItemProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"general
  properties of an item\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"designated
  color name for the item in pack visualizations.\";s:4:\"type\";s:6:\"string\";}s:10:\"dimensions\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Point\";}}s:11:\"description\";s:42:\"the
  length, width, and height of the item.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"name
  or description of item for your reference.\";s:4:\"type\";s:6:\"string\";}s:5:\"refId\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"item
  type reference identifier passed backed from request.\";s:4:\"type\";s:7:\"integer\";}s:8:\"sequence\";O:8:\"stdClass\":2:{s:11:\"description\";s:444:\"A
  sequence value for the item. This is intended for aisle-bin locations, e.g., aisle
  11 bin 20 can be '1120'. Combined with maxSequenceDistance, you can restrict cartons
  to only have contents from within a certain range. This is very helpful for cartonization
  when picking efficiency is paramount. Sequence can also be used to pre-sort items
  for efficient packing on any arbitrary number, such as item weight instead of the
  default item volume.\";s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"weight
  of this single packed item.\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:6:\"weight\";i:1;s:10:\"dimensions\";}s:4:\"type\";s:6:\"object\";}s:7:\"ItemSet\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ItemProperties\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"quantity
  of items of this type in this item set\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:35:\"set
  of items sharing a common type.\";}s:4:\"Pack\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":29:{s:17:\"allowableOverhang\";O:8:\"stdClass\":3:{s:7:\"default\";i:-1;s:11:\"description\";s:161:\"The
  amount an item can overhang lower items that it is placed upon. The units are whatever
  units the box and item dimensions are given in. By convention, inches.\";s:4:\"type\";s:6:\"number\";}s:11:\"boxTypeSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:245:\"predefined
  box types to be used, separated by commas. Will be overridden by boxTypes. Acceptable
  values are <ul><li>\"fedex\"--FedEx OneRate</li><li>\"usps\"--USPS Priority Flat
  Rate</li><li>\"pallet\"--full-, half-, and quarter-sized 48\"x40\" pallets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BoxTypeSet\";}s:4:\"type\";s:5:\"array\";}s:8:\"boxTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"box
  type definitions for packing, will override boxTypeSets defined.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/BoxType\";}s:4:\"type\";s:5:\"array\";}s:9:\"cohortMax\";O:8:\"stdClass\":3:{s:7:\"default\";i:2;s:11:\"description\";s:306:\"the
  maximum number of contiguous cohorts for a given item type within a single container.
  E.g., if you pack 40 chairs in a single container, a cohortMax of 2 could yield
  one (all 40 chairs in a single block if space is availabe) or two (say, 25 chairs
  in one corner and 15 in the other) contiguous cohorts.\";s:4:\"type\";s:7:\"integer\";}s:13:\"cohortPacking\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:141:\"if
  selected, will ensure that all like items will be packed together, in no more than
  [cohortMax] different groups within a single container.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"coordOrder\";O:8:\"stdClass\":5:{s:11:\"description\";s:594:\"If
  placementStyle is set to \"default\", coordOrder sets the placement priority of
  axes ascendingly. \"0,1,2\" would search for placement points along the Z(length,\"2\"),
  then Y(width,\"1\"), and finally X(height\"0\"). Keep in mind that in the default
  rendering the \"up\" direction is X and the other axes follow the right-hand rule.\nThis
  is useful for different packing methods. E.g., Utilizing \"2,0,1\" would pack a
  shipping container first in the Y(width) direction, then in the X(height) direction,
  and finally in the Z(length) direction, replication a floor-to-ceiling, front-to-back
  loading method.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"maxLength\";i:3;s:9:\"minLength\";i:3;s:4:\"type\";s:5:\"array\";}s:7:\"corners\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:63:\"only
  pack items at valid corner points of other items (optimal)\";s:4:\"type\";s:7:\"boolean\";}s:3:\"eye\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Point\";}}s:11:\"description\";s:180:\"The
  x,y,z coordinates of the virtual eye looking at the package for visualization purposes.
  Default is isometric, \"1,1,1\". To generate a side view, one could use \"0.001,1.0,0.001\".\";}s:7:\"imgSize\";O:8:\"stdClass\":3:{s:7:\"default\";i:400;s:11:\"description\";s:33:\"width
  of rendered SVGs in pixels.\";s:4:\"type\";s:7:\"integer\";}s:13:\"includeImages\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:43:\"include
  inline images, default is always on\";s:4:\"type\";s:7:\"boolean\";}s:14:\"includeScripts\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:55:\"include
  inline javascripts and styles for base template\";s:4:\"type\";s:7:\"boolean\";}s:9:\"interlock\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:117:\"alternates
  layFlat orientation by layer, so as to create an interlocked placement pattern and
  improve item stability.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"itemSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"item
  set definitions if not creating random items.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/ItemSet\";}s:4:\"type\";s:5:\"array\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"issued
  API key.\";s:4:\"type\";s:6:\"string\";}s:7:\"layFlat\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:104:\"aligns
  all items laying flat. If possible, it may create a \"brick-laying\" pattern to
  increase stability.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"maxSequenceDistance\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"This
  is the maximum distance allowable between two sequence values of items packed in
  a common box. E.g., \"Distance\" for an item sequence composed of aisle/bin combinations
  of \"0401\" and \"1228\" has a sequence distance of \\|1228 - 401\\| = 827\";s:4:\"type\";s:7:\"integer\";}s:1:\"n\";O:8:\"stdClass\":3:{s:7:\"default\";i:5;s:11:\"description\";s:206:\"number
  of random items to generate and the quantity of each if \"random\" is set to true.
  a value of 5 would create 5 different items with a quantity of 5 each, making the
  total item quantity equal to n&sup2;\";s:4:\"type\";s:7:\"integer\";}s:10:\"packOrigin\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Point\";}}s:11:\"description\";s:348:\"the
  x,y,z coordinates of an optional packing origin. A packing origin is used to create
  more balanced packing for situations where load needs to be considered. E.g., for
  a 40\"x48\" pallet, a packOrigin representing the middle of the pallet, \"0,20,24\",
  would cause placement to minimize the distance of the packed items from the center
  of the pallet.\";}s:14:\"placementStyle\";O:8:\"stdClass\":4:{s:7:\"default\";s:7:\"default\";s:11:\"description\";s:221:\"How
  to place items. 'default' will defer to coordOrder, 'corner' minimizes distance
  to rear, bottom corner, 'wedge' minimizes distance to middle of bottom, back edge,
  'mound' minimizes distance to center of carton bottom.\";s:4:\"enum\";a:5:{i:0;s:7:\"default\";i:1;s:6:\"corner\";i:2;s:5:\"wedge\";i:3;s:5:\"mound\";i:4;s:3:\"orb\";}s:4:\"type\";s:6:\"string\";}s:6:\"random\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:19:\"create
  random items\";s:4:\"type\";s:7:\"boolean\";}s:18:\"randomMaxDimension\";O:8:\"stdClass\":3:{s:7:\"default\";i:10;s:11:\"description\";s:72:\"maximum
  item dimension along a single axis for randomly generated items.\";s:4:\"type\";s:7:\"integer\";}s:15:\"randomMaxWeight\";O:8:\"stdClass\":3:{s:7:\"default\";i:10;s:11:\"description\";s:49:\"maximum
  item weight for randomly generated items.\";s:4:\"type\";s:7:\"integer\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Array
  of packing rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rule\";}s:4:\"type\";s:5:\"array\";}s:4:\"seed\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:107:\"if
  random is selected, seed the random number generator to deterministically generate
  random items to pack.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"sequenceHeatMap\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:229:\"Colorize
  items solely by their sequence value, light when sequence is high, dark when it
  is low. Useful for indicating item bin location, weight, or other sequence property
  that may not be apparent from the default visualization.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"sequenceSort\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:394:\"Whether
  or not the items should be initially sorted by their sequence value instead of their
  volume. This is not always useful, as the default \"biggest-first\" volume sort
  is very effective for items, and constraining by maxSequenceDistance is applied
  regardless of this field. That said, for doing custom pre-sorts such as weight-based
  instead of volume based, this value should be set to true.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"template\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"template
  name for markup generation.\";s:4:\"enum\";a:3:{i:0;s:9:\"demo.tmpl\";i:1;s:12:\"shipapp.tmpl\";i:2;s:9:\"boat.tmpl\";}s:4:\"type\";s:6:\"string\";}s:11:\"usableSpace\";O:8:\"stdClass\":5:{s:7:\"default\";d:0.5;s:11:\"description\";s:81:\"estimate
  of percentage space in boxes that is usable, i.e., not packing material.\";s:7:\"maximum\";i:1;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:4:\"zone\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"<b>[experimental]</b>
  the shipping zone in order to use basic zone-based price optimization.\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Point\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"vector
  definition used for points, dimensions, and other spacial purposes.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:1:\"x\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:29:\"x
  coordinate, used as height.\";s:4:\"type\";s:6:\"number\";}s:1:\"y\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:28:\"y
  coordinate, used as width.\";s:4:\"type\";s:6:\"number\";}s:1:\"z\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:29:\"z
  coordinate, used as length.\";s:4:\"type\";s:6:\"number\";}}s:5:\"title\";s:5:\"Point\";s:4:\"type\";s:6:\"object\";}s:9:\"RateTable\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"basePrice\";O:8:\"stdClass\":2:{s:11:\"description\";s:301:\"The
  basePrice can be found by estimating the lowest weight-based rate available for
  a given service, in the example above, solving for basePrice for a $10, 1lb package
  with the already-solved priceIncreaseRate yields <pre>$10 = $5/lb * 1lb + basePrice<br/>$10
  = $5 + basePrice<br/>basePrice = $5</pre>\";s:4:\"type\";s:6:\"number\";}s:7:\"carrier\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"carrier
  name for rate table to use\";s:4:\"type\";s:6:\"string\";}s:9:\"dimFactor\";O:8:\"stdClass\":2:{s:11:\"description\";s:491:\"This
  is the Dimensional Weight divisor. It is given in units of volume per unit weight,
  e.g., the standard of \"139\" represents 139 cubic inches per pound, and is used
  to convert the total volume of a carton into a functional minimum weight to be used
  when rating the carton. E.g., a carton with dimensions 10\" x 10\" x 13.9\" would
  yield a volume of 1390 cubic inches. This yields <pre>cartonEffectiveMinimumWeight
  = 1390in&sup3; / 139in&sup3;/lb<br/>cartonEffectiveMinimumWeight = 10lbs</pre>\";s:4:\"type\";s:6:\"number\";}s:17:\"priceIncreaseRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:909:\"Instead
  of providing the full rate table, you can list a carton \"basePrice\" and a carton
  \"priceIncreaseRate\". These two values will be used in a simple linear model to
  guess carton price, i.e., <pre>cartonPrice = priceIncreaseRate * cartonWeight +
  basePrice</pre> Oftentimes, this will be enough to get accurate carton selections
  without needing to send complete customer-based rates. It's worth considering, as
  the prices are only estimates to be used in carton selection, with final rating
  of cartons happening outside of paccurate. This is the predicted rate of increase
  for a weight-based pricing model. The simplest way to find a servicable value is
  to take <pre>priceIncreaseRate = (maximumPrice - minimumPrice)/(maximumWeight -
  minimumWeight)</pre> In the example above, this would yield <pre>priceIncreaseRate
  = ($20-$10)/(3lbs-1lb)<br/>priceIncreaseRate = $10/2lbs<br/>priceIncreaseRate =
  $5/lb</pre>\";s:4:\"type\";s:6:\"number\";}s:5:\"rates\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"list
  of prices to use for the weight that corresponds to its index, e.g., [10, 15, 20]
  would be $10 for 1lb, $15 for 2lbs, $20 for 3lbs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"service
  name for rate table to use\";s:4:\"type\";s:6:\"string\";}s:7:\"weights\";O:8:\"stdClass\":3:{s:11:\"description\";s:445:\"list
  of weights to use for the rate that corresponds to its index, e.g., [1, 2, 3] would
  mean 1lb for the minimum rate ($10), 2lbs for the second rate ($15), and 3lbs for
  the highest rate ($20). Note that if the highest value from this list is less than
  the weightMax of the carton, all carton weights exceeding the maximum from this
  list up to the carton weightMax will not pro-rate but will be estimated at the maximum
  value in the rate table.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"zone
  of rate table to use\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:9:\"RateTable\";s:4:\"type\";s:6:\"object\";}s:4:\"Rule\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Rule
  definition for packing constraints.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"itemRefId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"reference
  ID for the item the rule applies to.\";s:4:\"type\";s:7:\"integer\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:5100:\"Rule
  type for this definition. Valid operation values include\n<ul>\n  <li>\n    <h3>exclude</h3>\n
  \   <p><b>itemRefId</b> is excluded from being packed in the same carton with all
  <b>targetItemRefIds</b></p>\n    <pre>{\n  \"operation\": \"exclude\",\n  \"itemRefId\":
  0,\n  \"targetItemRefIds\": [1,2]\n}</pre>\n\n\n  </li>\n  <li>\n    <h3>exclude-all</h3>\n
  \   <p><b>itemRefId</b> is excluded from being packed in the same carton with all
  items without its refId</p>\n    <pre>{\n  \"operation\": \"exclude-all\",\n  \"itemRefId\":
  0\n}</pre>\n\n\n  </li>\n  <li>\n    <h3>pack-as-is</h3>\n    <p>Each individual
  item with <b>itemRefId</b> is packed in a carton matching its exact dimensions,
  i.e., it is assumed the item is ship-ready and bypasses being placed in a box. If
  you have an item quantity of 6, it will place the items in 6 boxes.</p>\n    <pre>{\n
  \ \"operation\": \"pack-as-is\",\n  \"itemRefId\": 0\n}</pre>\n\n\n  </li>\n  <li>\n
  \   <h3>irregular</h3>\n    <p>There are two types of irregular item packings right
  now, \"nesting\" and \"roll\".</p>\n    <ul>\n      <li>\n        <h4>\"nesting\"</h4>
  \n        <p>\"nesting\" is where the first item has full dimensions, and subsequent
  items have diminished dimensions. E.g.,\n        a flower pot may have dimensions
  of 6\" x 6\" x 6\", but additional flower pots can nest in the first pot, and have\n
  \       effective dimensions of 1\" x 6\" x 6\". These cases are almost always have
  a single direction that nesting can occur\n        in--two pots must both be right-side
  up and one on top of the other if they are to nest--so the rule options must\n        reflect
  these restrictions.<p/>\n        <p><b>\"options\"</b> contents:</p>\n        <table>\n
  \         <tr><th>key</th><th>value</th><th>description</th></tr>\n          <tr><td>type</td><td>\"nesting\"</td></tr>\n
  \         <tr><td>additionalDimensionsX</td><td><i>number</i></td></tr>\n          <tr><td>additionalDimensionsY</td><td><i>number</i></td></tr>\n
  \         <tr><td>additionalDimensionsZ</td><td><i>number</i></td></tr>\n          <tr><td>nestingOrientation</td><td>0,
  1, or 2</td><td>axis index of direction of stacking (0 for vertical/X/\"dinner plates\",
  1 for shorter-horizontal/Y/\"shopping carts\", 2 for long-horizontal/Z/\"newsstand
  magazines\")</td></tr>\n          <tr><td>nestingLimit</td><td><i>integer</i></td><td>total
  number of nested items allowed in a single \"stack\"</td></tr>\n        </table>\n
  \       <pre>{\n  \"operation\": \"irregular\",\n  \"itemRefId\": 0,\n  \"options\":
  {\n    \"type\": \"nesting\",\n    \"additionalDimensionsX\": 1.0,\n    \"additionalDimensionsY\":
  6.0,\n    \"additionalDimensionsZ\": 6.0,\n    \"nestingOrientation\": 0,\n    \"nestingLimit\":
  5\n  }\n}</pre>\n      </li>\n      <li>\n        <h4>\"roll\"</h4> \n        <p>A
  rolled irregular item is simply where the item dimensions X, Y, and Z, represent
  the thickness, width, and total\n        length of a material meant to be rolled
  up (possibly on a spool, dowel, etc.) and shipped as such. Marked this way, the
  bounding box\n        of the roll cylinder will be used as its shipping dimensions.
  E.g., a roll has a width 60 inches and a diameter of 12 inches,\n        it will
  be shipped as if it were a 12\" x 12\" x 60\" item. Rolls can have a maximum allowable
  diameter, and any rolls that must be\n        split will have their weights calculated
  on a pro-rated basis of the total length and weight in the item contents.<p/>\n
  \       <p><b>\"options\"</b> contents:</p>\n        <table>\n          <tr><th>key</th><th>value</th><th>description</th></tr>\n
  \         <tr><td>type</td><td>\"roll\"</td></tr>\n          <tr><td>innerDiameter</td><td><i>number</i></td><td>the
  inner diameter of any dowel or tube used that serves as the initial diameter of
  the roll.</td></tr>\n          <tr><td>spoolWeight</td><td><i>number</i></td><td>the
  additional weight of each spool or dowel if applicable</td></tr>\n          <tr><td>maxDiameter</td><td><i>number</i></td><td>the
  maximum acceptable diameter of a resultant roll.</td></tr>\n          <tr><td>maxWeight</td><td><i>number</i></td><td>the
  maximum acceptable weight of a resultant roll.</td></tr>\n          <tr><td>minRollLength</td><td><i>number</i></td><td>the
  minimum length above which rolling will occur. E.g., if less than 12\" remain, ship
  it flat without rolling.</td></tr>\n        </table>\n      <pre>{\n  \"operation\":
  \"irregular\",\n  \"itemRefId\": 0,\n  \"options\": {\n    \"type\": \"roll\",\n
  \   \"innerDiameter\": 1.0,\n    \"spoolWeight\": 1.0,\n    \"maxDiameter\": 8.0,\n
  \   \"maxWeight\": 150,\n    \"minRollLength\": 12\n  }\n}</pre>\n      </li>\n
  \   </ul>\n  </li>\n  <li>\n    <h3>lock-orientation</h3>\n    <p><b>itemRefId</b>
  is locked from rotation of its original dimensions, with axes of rotation excepted
  by <b>freeAxes</b></p>\n    <p><b>\"options\"</b> contents:</p>\n       <table>\n
  \        <tr><th>key</th><th>value</th><th>description</th></tr>\n         <tr><td>freeAxes</td><td>array</td><td>Array
  of axis indices to be allowed rotational freedom. E.g., [0] for only yaw allowed,
  [0,1] for yaw and roll.</td></tr>\n       </table>\n    <pre>{\n  \"operation\":
  \"lock-orientation\",\n  \"itemRefId\": 0,\n  \"options\": {\n    \"freeAxes\":
  [0,1]\n  }\n}</pre>\n\n\n  </li>\n</ul>\n\";s:4:\"enum\";a:5:{i:0;s:7:\"exclude\";i:1;s:11:\"exclude-all\";i:2;s:10:\"pack-as-is\";i:3;s:9:\"irregular\";i:4;s:16:\"lock-orientation\";}s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"additional
  key-value options to pass for rule based on operation type.\";s:4:\"type\";s:6:\"object\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"array
  of supplementary parameters to pass for rule, mostly deprecated. may be different
  from options.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"targetItemRefIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"target
  item reference IDs that the rule applies to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:9:\"operation\";}s:4:\"type\";s:6:\"object\";}}"
...
