---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"client.proto\";s:7:\"version\";s:7:\"1alpha1\";}"
host: api.appscode.com
basePath: /
paths:
  /_appscode/api/cloud/v1alpha1/disks/json:
    get:
      operationId: List
      parameters:
      - in: query
        name: cluster
        required: false
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/v1alpha1DiskListResponse'
      tags:
      - Disks
    post:
      operationId: Create
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/v1alpha1DiskCreateRequest'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Disks
  /_appscode/api/cloud/v1alpha1/disks/{name}/json:
    get:
      operationId: Describe
      parameters:
      - in: path
        name: name
        required: true
        type: string
      - in: query
        name: cluster
        required: false
        type: string
      - in: query
        name: provider
        required: false
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/v1alpha1DiskDescribeResponse'
      tags:
      - Disks
  /_appscode/api/cloud/v1alpha1/disks/{uid}/json:
    delete:
      operationId: Delete
      parameters:
      - in: path
        name: uid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Disks
  /_appscode/api/kubernetes/v1alpha1/actions/copy/json:
    put:
      operationId: Copy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/v1alpha1CopyResourceRequest'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Clients
  /_appscode/api/kubernetes/v1alpha1/clusters/{cluster}/namespaces/{namespace}/configmaps/{name}/actions/edit/json:
    post:
      operationId: EditConfigMap
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: namespace
        required: true
        type: string
      - in: path
        name: name
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/v1alpha1ConfigMapEditRequest'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      summary: Followings are type specific actions api, that can be applied upon
        fixed resources.
      tags:
      - Clients
  /_appscode/api/kubernetes/v1alpha1/clusters/{cluster}/namespaces/{namespace}/secrets/{name}/actions/edit/json:
    post:
      operationId: EditSecret
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: namespace
        required: true
        type: string
      - in: path
        name: name
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/v1alpha1SecretEditRequest'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Clients
  /_appscode/api/kubernetes/v1alpha1/clusters/{cluster}/persistentvolumeclaims/{name}/actions/register/json:
    post:
      operationId: RegisterPersistentVolumeClaim
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: name
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/v1alpha1PersistentVolumeClaimRegisterRequest'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Clients
  /_appscode/api/kubernetes/v1alpha1/clusters/{cluster}/persistentvolumeclaims/{name}/actions/unregister/json:
    delete:
      operationId: UnregisterPersistentVolumeClaim
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Clients
  /_appscode/api/kubernetes/v1alpha1/clusters/{cluster}/persistentvolumes/{name}/actions/register/json:
    post:
      operationId: RegisterPersistentVolume
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: name
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/v1alpha1PersistentVolumeRegisterRequest'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Clients
  /_appscode/api/kubernetes/v1alpha1/clusters/{cluster}/persistentvolumes/{name}/actions/unregister/json:
    delete:
      operationId: UnregisterPersistentVolume
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Clients
  /_appscode/api/kubernetes/v1alpha1/clusters/{cluster}/{type}/json:
    get:
      operationId: List
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: type
        required: true
        type: string
      - in: query
        name: namespace
        required: false
        type: string
      - in: query
        name: api_version
        required: false
        type: string
      - format: boolean
        in: query
        name: include_metrics
        required: false
        type: boolean
      - description: map type is not supported by grpc-gateway as query params.nhttps://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/query.go#L57nhttps://github.com/grpc-ecosystem/grpc-gateway/issues/316nmap<string,
          string> label_selector = 6;nexample label_selector=environment=production,tier=frontend.
        in: query
        name: selector
        required: false
        type: string
      - in: query
        name: fieldSelector
        required: false
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/v1alpha1ListResourceResponse'
      tags:
      - Clients
    post:
      operationId: Create
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: type
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/v1alpha1CreateResourceRequest'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Clients
  /_appscode/api/kubernetes/v1alpha1/clusters/{cluster}/{type}/{name}/json:
    delete:
      operationId: Delete
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: type
        required: true
        type: string
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Clients
    get:
      operationId: Describe
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: type
        required: true
        type: string
      - in: path
        name: name
        required: true
        type: string
      - in: query
        name: namespace
        required: false
        type: string
      - in: query
        name: raw
        required: false
        type: string
      - format: boolean
        in: query
        name: include_metrics
        required: false
        type: boolean
      - in: query
        name: api_version
        required: false
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/v1alpha1DescribeResourceResponse'
      tags:
      - Clients
    put:
      operationId: Update
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: type
        required: true
        type: string
      - in: path
        name: name
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/v1alpha1UpdateResourceRequest'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/dtypesVoidResponse'
      tags:
      - Clients
  /_appscode/api/kubernetes/v1alpha1/clusters/{cluster}/{type}/{name}/reverse/{targetType}/json:
    get:
      operationId: ReverseIndex
      parameters:
      - in: path
        name: cluster
        required: true
        type: string
      - in: path
        name: type
        required: true
        type: string
      - in: path
        name: name
        required: true
        type: string
      - in: path
        name: targetType
        required: true
        type: string
      - in: query
        name: namespace
        required: false
        type: string
      - in: query
        name: api_version
        required: false
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/v1alpha1ListResourceResponse'
      tags:
      - Clients
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":316:{s:28:\"ClusterAlertClusterAlertSpec\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"alert_interval\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"check\";O:8:\"stdClass\":2:{s:5:\"title\";s:195:\"Icinga
  CheckCommand name\nValues are in\n   any_http\n   component_status\n   json_path\n
  \  node_exists\n   pod_exists\n   kube_event\n   certificate_expiry\n   hello_icinga\n
  \  dig\n   dns\n   dummy\n   icmp\";s:4:\"type\";s:6:\"string\";}s:14:\"check_interval\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"receivers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/v1alpha1AlertReceiver\";}s:4:\"type\";s:5:\"array\";}s:4:\"vars\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DeploymentDeploymentStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"available_replicas\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"conditions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/v1alpha1ResourceCondition\";}s:4:\"type\";s:5:\"array\";}s:19:\"observed_generation\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"replicas\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"unavailable_replicas\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"updated_replicas\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:45:\"ElasticsearchSpecElasticsearchClusterTopology\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"client\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ElasticsearchSpecElasticsearchNode\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ElasticsearchSpecElasticsearchNode\";}s:6:\"master\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ElasticsearchSpecElasticsearchNode\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ElasticsearchSpecElasticsearchNode\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"prefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"replicas\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"IngressAuthOption\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"basic\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/IngressBasicAuth\";}s:3:\"tls\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IngressTLSAuth\";}}s:4:\"type\";s:6:\"object\";}s:16:\"IngressBasicAuth\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"realm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"secret_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"IngressFrontendRule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"auth\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/IngressAuthOption\";}s:4:\"port\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"IngressHTTPIngressBackend\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"backend_rule\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"header_rule\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"host_names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"rewrite_rule\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"service_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"service_port\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"IngressHTTPIngressPath\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"backend\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/IngressHTTPIngressBackend\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"IngressHTTPIngressRuleValue\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"no_TLS\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"boolean\";s:4:\"type\";s:7:\"boolean\";}s:9:\"node_port\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"paths\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/IngressHTTPIngressPath\";}s:4:\"type\";s:5:\"array\";}s:4:\"port\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"IngressIngressBackend\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"backend_rule\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"host_names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"service_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"service_port\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"IngressIngressRule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"HTTP\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/IngressHTTPIngressRuleValue\";}s:3:\"TCP\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/IngressTCPIngressRuleValue\";}s:4:\"host\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"IngressIngressTLS\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"hosts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"ref\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/kubernetesv1alpha1ObjectReference\";}s:11:\"secret_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"IngressTCPIngressRuleValue\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"ALPN\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"backend\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/IngressIngressBackend\";}s:6:\"no_TLS\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"boolean\";s:4:\"type\";s:7:\"boolean\";}s:9:\"node_port\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"port\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"IngressTLSAuth\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"error_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:11:\"secret_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"verify_client\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"KubeResourceListCertificates\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/v1alpha1Certificate\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"KubeResourceListClusterAlerts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/v1alpha1ClusterAlert\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:35:\"KubeResourceListClusterRoleBindings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/v1alpha1ClusterRoleBinding\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"KubeResourceListClusterRoles\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/v1alpha1ClusterRole\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"KubeResourceListConfigMaps\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/kubernetesv1alpha1ConfigMap\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"KubeResourceListCronJobs\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/v1alpha1CronJob\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"KubeResourceListDaemonSets\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/v1alpha1DaemonSet\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"KubeResourceListDeployments\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/v1alpha1Deployment\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"KubeResourceListDormantDatabases\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/v1alpha1DormantDatabase\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:31:\"KubeResourceListElasticsearches\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/v1alpha1Elasticsearch\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"KubeResourceListEvents\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/kubernetesv1alpha1Event\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"KubeResourceListIncidents\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/v1alpha1Incident\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"KubeResourceListIngresses\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/v1alpha1Ingress\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"KubeResourceListJobs\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/v1alpha1Job\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"KubeResourceListMemcacheds\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/v1alpha1Memcached\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"KubeResourceListMongodbs\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/v1alpha1Mongodb\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"KubeResourceListMysqls\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/v1alpha1Mysql\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"KubeResourceListNamespaces\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/kubernetesv1alpha1Namespace\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"KubeResourceListNodeAlerts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/v1alpha1NodeAlert\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"KubeResourceListNodes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/kubernetesv1alpha1Node\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:38:\"KubeResourceListPersistentVolumeClaims\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/kubernetesv1alpha1PersistentVolumeClaim\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:33:\"KubeResourceListPersistentVolumes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/kubernetesv1alpha1PersistentVolume\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"KubeResourceListPodAlerts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/v1alpha1PodAlert\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"KubeResourceListPods\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/kubernetesv1alpha1Pod\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"KubeResourceListPostgreses\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/v1alpha1Postgres\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"KubeResourceListPrometheuses\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/v1alpha1Prometheus\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"KubeResourceListRecoveries\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/v1alpha1Recovery\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"KubeResourceListRedises\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/v1alpha1Redis\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"KubeResourceListReplicaSets\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/v1alpha1ReplicaSet\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:38:\"KubeResourceListReplicationControllers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/kubernetesv1alpha1ReplicationController\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"KubeResourceListRepositories\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/v1alpha1Repository\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"KubeResourceListRestics\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/v1alpha1Restic\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"KubeResourceListRoleBindings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/v1alpha1RoleBinding\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"KubeResourceListRoles\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Role\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"KubeResourceListSearchResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/v1alpha1SearchResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"KubeResourceListSecrets\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/kubernetesv1alpha1Secret\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:31:\"KubeResourceListServiceMonitors\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/v1alpha1ServiceMonitor\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"KubeResourceListServices\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/kubernetesv1alpha1Service\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"KubeResourceListSnapshots\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/v1alpha1Snapshot\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"KubeResourceListStashSnapshots\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/v1alpha1StashSnapshot\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"KubeResourceListStatefulSets\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/v1alpha1StatefulSet\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"KubeResourceListStorageClasses\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/v1alpha1StorageClass\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MetricsDataPoint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"NodeAlertNodeAlertSpec\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"alert_interval\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"check\";O:8:\"stdClass\":2:{s:5:\"title\";s:82:\"Icinga
  CheckCommand name\nValues are in\n   influx_query\n   node_disk\n   node_status\";s:4:\"type\";s:6:\"string\";}s:14:\"check_interval\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"node_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"receivers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/v1alpha1AlertReceiver\";}s:4:\"type\";s:5:\"array\";}s:8:\"selector\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:4:\"vars\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:28:\"NodeNodeStatusAttachedVolume\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"device_path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"NodeNodeStatusContainerImage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"size_bytes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:25:\"NodeNodeStatusNodeAddress\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"NodeNodeStatusNodeSystemInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"architecture\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"bootID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"container_runtime_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"kernel_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"kube_proxy_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"kubelet_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"machineID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"operating_system\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"os_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"systemUUID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"NodeStatusCapacity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"cpu\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"memory\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"pods\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"storage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"PodAlertPodAlertSpec\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"alert_interval\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"check\";O:8:\"stdClass\":2:{s:5:\"title\";s:91:\"Icinga
  CheckCommand name\nValues are in\n   influx_query\n   pod_status\n   volume\n   kube_exec\";s:4:\"type\";s:6:\"string\";}s:14:\"check_interval\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pod_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"receivers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/v1alpha1AlertReceiver\";}s:4:\"type\";s:5:\"array\";}s:8:\"selector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"vars\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:32:\"PostgresSpecPostgresArchiverSpec\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"storage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/v1alpha1SnapshotStorageSpec\";}}s:4:\"type\";s:6:\"object\";}s:24:\"PrometheusPrometheusSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Specification
  of the desired behavior of the Prometheus cluster.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"alerting\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/v1alpha1AlertSpec\";s:11:\"description\";s:34:\"Define
  details regarding alerting.\";}s:10:\"base_image\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Base
  image to use for a Prometheus deployment.\";s:4:\"type\";s:6:\"string\";}s:15:\"external_labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:131:\"The
  labels to add to any time series or alerts when communicating with\nexternal systems
  (federation, remote storage, Alertmanager).\";s:4:\"type\";s:6:\"object\";}s:12:\"external_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  external URL the Prometheus instances will be available under. This is\nnecessary
  to generate correct URLs. This is necessary if Prometheus is not\nserved from root
  of a DNS name.\";s:4:\"type\";s:6:\"string\";}s:18:\"image_pull_secrets\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/kubernetesv1alpha1LocalObjectReference\";}s:5:\"title\";s:133:\"An
  optional list of references to secrets in the same namespace\nto use for pulling
  prometheus and alertmanager images from registries\";s:4:\"type\";s:5:\"array\";}s:13:\"node_selector\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:45:\"Define
  which Nodes the Pods are scheduled on.\";s:4:\"type\";s:6:\"object\";}s:6:\"paused\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"When
  a Prometheus deployment is paused, no actions except for deletion\nwill be performed
  on the underlying objects.\";s:6:\"format\";s:7:\"boolean\";s:4:\"type\";s:7:\"boolean\";}s:8:\"replicas\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Number
  of instances to deploy for a Prometheus deployment.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"retention\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Time
  duration Prometheus shall retain data for.\";s:4:\"type\";s:6:\"string\";}s:12:\"route_prefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:291:\"The
  route prefix Prometheus registers HTTP handlers for. This is useful,\nif using ExternalURL
  and a proxy is rewriting HTTP routes of a request,\nand the actual ExternalURL is
  still true, but the server serves requests\nunder a different route prefix. For
  example for use with `kubectl proxy`.\";s:4:\"type\";s:6:\"string\";}s:13:\"rule_selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"A
  selector to select which ConfigMaps to mount for loading rule files from.\";s:4:\"type\";s:6:\"string\";}s:7:\"secrets\";O:8:\"stdClass\":3:{s:11:\"description\";s:421:\"Secrets
  is a list of Secrets in the same namespace as the Prometheus\nobject, which shall
  be mounted into the Prometheus Pods.\nThe Secrets are mounted into /etc/prometheus/secrets/<secret-name>.\nSecrets
  changes after initial creation of a Prometheus object are not\nreflected in the
  running Pods. To change the secrets mounted into the\nPrometheus Pods, the object
  must be deleted and recreated with the new list\nof secrets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"service_account_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"ServiceAccountName
  is the name of the ServiceAccount to use to run the\nPrometheus Pods.\";s:4:\"type\";s:6:\"string\";}s:24:\"service_monitor_selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"ServiceMonitors
  to be selected for target discovery.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Version
  of Prometheus to be deployed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"PrometheusPrometheusStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"available_replicas\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"paused\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Represents
  whether any actions on the underlaying managed objects are\nbeing performed. Only
  delete actions will be performed.\";s:6:\"format\";s:7:\"boolean\";s:4:\"type\";s:7:\"boolean\";}s:8:\"replicas\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Total
  number of non-terminated pods targeted by this Prometheus deployment\n(their labels
  match the selector).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"unavailable_replicas\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"updated_replicas\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"RecoverySpecLocalSpec\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"mountPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"volumeSource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/v1VolumeSource\";}}s:4:\"type\";s:6:\"object\";}s:23:\"SearchResultResultEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"raw\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ServiceMonitorEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Endpoint
  defines a scrapeable endpoint serving Prometheus metrics.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"interval\";O:8:\"stdClass\":2:{s:5:\"title\";s:43:\"Interval
  at which metrics should be scraped\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"HTTP
  path to scrape for metrics.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"Name
  of the service port this endpoint refers to. Mutually exclusive with targetPort.\";s:4:\"type\";s:6:\"string\";}s:6:\"scheme\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"HTTP
  scheme to use for scraping.\";s:4:\"type\";s:6:\"string\";}s:11:\"target_port\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Name
  or number of the target port of the endpoint. Mutually exclusive with port.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ServiceMonitorNamespaceSelector\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"any\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Boolean
  describing whether all namespaces are selected in contrast to a\nlist restricting
  them.\";s:6:\"format\";s:7:\"boolean\";s:4:\"type\";s:7:\"boolean\";}s:11:\"match_names\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of namespace names.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ServiceMonitorServiceMonitorSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"ServiceMonitorSpec
  contains specification parameters for a ServiceMonitor.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"endpoints\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ServiceMonitorEndpoint\";}s:4:\"type\";s:5:\"array\";}s:9:\"job_label\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  label to use to retrieve the job name from.\";s:4:\"type\";s:6:\"string\";}s:18:\"namespace_selector\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ServiceMonitorNamespaceSelector\";s:11:\"description\";s:78:\"Selector
  to select which namespaces the Endpoints objects are discovered from.\";}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Selector
  to select Endpoints objects.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ServiceStatusLoadBalancerIngress\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"IP\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"host_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SpecCertificateStorage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"secret\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/kubernetesv1alpha1LocalObjectReference\";}s:5:\"vault\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SpecVaultStore\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SpecChallengeProvider\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"dns\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/SpecDNSChallengeProvider\";}s:4:\"http\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/SpecHTTPChallengeProvider\";}}s:4:\"type\";s:6:\"object\";}s:24:\"SpecDNSChallengeProvider\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"credential_secret_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SpecDeploymentStrategy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"rolling_update\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/SpecRollingUpdateDeployment\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SpecFileGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"retentionPolicyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"SpecHTTPChallengeProvider\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"ingress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/kubernetesv1alpha1ObjectReference\";}}s:4:\"type\";s:6:\"object\";}s:8:\"SpecPort\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"node_port\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"port\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"target_port\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SpecRetentionPolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"dry_run\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"boolean\";s:4:\"type\";s:7:\"boolean\";}s:10:\"keep_daily\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"keep_hourly\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"keep_last\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"keep_monthly\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"keep_tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"keep_weekly\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"keep_yearly\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"prune\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"boolean\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"SpecRollbackConfig\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"revision\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SpecRollingUpdateDeployment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"max_surge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"max_unavailable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SpecVaultStore\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"prefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"StatusCertificateCondition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"last_update_time\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"StatusCertificateDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"account_ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"cert_stable_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"cert_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"not_after\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"not_before\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"serial_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"StatusIncidentNotification\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"checkOutput\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"firstTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"lastTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"StatusRestoreStats\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phase\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"corev1LocalObjectReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"LocalObjectReference
  contains enough information to let you locate the\nreferenced object inside the
  same namespace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:5:\"title\";s:175:\"Name
  of the referent.\nMore info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names\nTODO:
  Add other useful fields. apiVersion, kind, uid?\n+optional\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"corev1ObjectFieldSelector\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"ObjectFieldSelector
  selects an APIVersioned field of an object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"apiVersion\";O:8:\"stdClass\":2:{s:5:\"title\";s:87:\"Version
  of the schema the FieldPath is written in terms of, defaults to \"v1\".\n+optional\";s:4:\"type\";s:6:\"string\";}s:9:\"fieldPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Path
  of the field to select in the specified API version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"corev1ObjectReference\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"apiVersion\";O:8:\"stdClass\":2:{s:5:\"title\";s:38:\"API
  version of the referent.\n+optional\";s:4:\"type\";s:6:\"string\";}s:9:\"fieldPath\";O:8:\"stdClass\":2:{s:5:\"title\";s:660:\"If
  referring to a piece of an object instead of an entire object, this string\nshould
  contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].\nFor
  example, if the object reference is to a container within a pod, this would take
  on a value like:\n\"spec.containers{name}\" (where \"name\" refers to the name of
  the container that triggered\nthe event) or if no container name is specified \"spec.containers[2]\"
  (container with\nindex 2 in this pod). This syntax is chosen only to have some well-defined
  way of\nreferencing a part of an object.\nTODO: this design is not final and this
  field is subject to change in the future.\n+optional\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:5:\"title\";s:121:\"Kind
  of the referent.\nMore info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds\n+optional\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:5:\"title\";s:121:\"Name
  of the referent.\nMore info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names\n+optional\";s:4:\"type\";s:6:\"string\";}s:9:\"namespace\";O:8:\"stdClass\":2:{s:5:\"title\";s:125:\"Namespace
  of the referent.\nMore info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/\n+optional\";s:4:\"type\";s:6:\"string\";}s:15:\"resourceVersion\";O:8:\"stdClass\":2:{s:5:\"title\";s:189:\"Specific
  resourceVersion to which this reference is made, if any.\nMore info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency\n+optional\";s:4:\"type\";s:6:\"string\";}s:3:\"uid\";O:8:\"stdClass\":2:{s:5:\"title\";s:119:\"UID
  of the referent.\nMore info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids\n+optional\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:161:\"ObjectReference
  contains enough information to let you inspect or modify the referred object.\n+k8s:deepcopy-gen:interfaces=k8s.io/apimachinery/pkg/runtime.Object\";s:4:\"type\";s:6:\"object\";}s:27:\"corev1ResourceFieldSelector\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"containerName\";O:8:\"stdClass\":2:{s:5:\"title\";s:69:\"Container
  name: required for volumes, optional for env vars\n+optional\";s:4:\"type\";s:6:\"string\";}s:7:\"divisor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/resourceQuantity\";s:5:\"title\";s:79:\"Specifies
  the output format of the exposed resources, defaults to \"1\"\n+optional\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"Required:
  resource to select\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:90:\"ResourceFieldSelector
  represents container resources (cpu, memory) and their output format\";s:4:\"type\";s:6:\"object\";}s:18:\"dtypesVoidResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:26:\"kubernetesv1alpha1Affinity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"node_affinity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/kubernetesv1alpha1NodeAffinity\";}s:12:\"pod_affinity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/kubernetesv1alpha1PodAffinity\";}s:17:\"pod_anti_affinity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/kubernetesv1alpha1PodAntiAffinity\";}}s:4:\"type\";s:6:\"object\";}s:27:\"kubernetesv1alpha1ConfigMap\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Meta\";}}s:4:\"type\";s:6:\"object\";}s:38:\"kubernetesv1alpha1ConfigMapKeySelector\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Selects
  a key from a ConfigMap.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  key to select.\";s:4:\"type\";s:6:\"string\";}s:22:\"local_object_reference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/kubernetesv1alpha1ObjectReference\";s:11:\"description\";s:29:\"The
  ConfigMap to select from.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"kubernetesv1alpha1EnvVar\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Name
  of the environment variable. Must be a C_IDENTIFIER.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"title\";s:429:\"Variable
  references $(VAR_NAME) are expanded\nusing the previous defined environment variables
  in the container and\nany service environment variables. If a variable cannot be
  resolved,\nthe reference in the input string will be unchanged. The $(VAR_NAME)\nsyntax
  can be escaped with a double $$, ie: $$(VAR_NAME). Escaped\nreferences will never
  be expanded, regardless of whether the variable\nexists or not.\nDefaults to \"\".\n+optional\";s:4:\"type\";s:6:\"string\";}s:10:\"value_from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/kubernetesv1alpha1EnvVarSource\";s:5:\"title\";s:92:\"Source
  for the environment variable's value. Cannot be used if value is not empty.\n+optional\";}}s:4:\"type\";s:6:\"object\";}s:30:\"kubernetesv1alpha1EnvVarSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"EnvVarSource
  represents a source for the value of an EnvVar.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"config_map_key_ref\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/kubernetesv1alpha1ConfigMapKeySelector\";s:5:\"title\";s:39:\"Selects
  a key of a ConfigMap.\n+optional\";}s:9:\"field_ref\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/kubernetesv1alpha1ObjectFieldSelector\";s:5:\"title\";s:174:\"Selects
  a field of the pod: supports metadata.name, metadata.namespace, metadata.labels,
  metadata.annotations,\nspec.nodeName, spec.serviceAccountName, status.podIP.\n+optional\";}s:18:\"resource_field_ref\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/kubernetesv1alpha1ResourceFieldSelector\";s:5:\"title\";s:168:\"Selects
  a resource of the container: only resources limits and requests\n(limits.cpu, limits.memory,
  requests.cpu and requests.memory) are currently supported.\n+optional\";}s:14:\"secret_key_ref\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/kubernetesv1alpha1SecretKeySelector\";s:5:\"title\";s:58:\"Selects
  a key of a secret in the pod's namespace\n+optional\";}}s:4:\"type\";s:6:\"object\";}s:23:\"kubernetesv1alpha1Event\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"first_timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"last_timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Meta\";}s:6:\"reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/kubernetesv1alpha1EventSource\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"kubernetesv1alpha1EventSource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"component\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"host\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:38:\"kubernetesv1alpha1GroupVersionResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"kubernetesv1alpha1LabelSelector\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"match_expressions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/kubernetesv1alpha1LabelSelectorRequirement\";}s:4:\"type\";s:5:\"array\";}s:12:\"match_labels\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:42:\"kubernetesv1alpha1LabelSelectorRequirement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:38:\"kubernetesv1alpha1LocalObjectReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"LocalObjectReference
  contains enough information to let you locate the\nreferenced object inside the
  same namespace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:5:\"title\";s:151:\"Name
  of the referent.\nMore info: http://kubernetes.io/docs/user-guide/identifiers#names\nTODO:
  Add other useful fields. apiVersion, kind, uid?\n+optional\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"kubernetesv1alpha1Namespace\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Meta\";}s:4:\"spec\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/v1alpha1NamespaceNamespaceSpec\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/v1alpha1NamespaceStatus\";}}s:4:\"type\";s:6:\"object\";}s:22:\"kubernetesv1alpha1Node\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"is_master\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"boolean\";s:4:\"type\";s:7:\"boolean\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Meta\";}s:7:\"metrics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/v1alpha1Metrics\";}s:4:\"spec\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/v1alpha1NodeSpec\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/v1alpha1NodeNodeStatus\";}}s:4:\"type\";s:6:\"object\";}s:30:\"kubernetesv1alpha1NodeAffinity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:52:\"preferred_during_scheduling_ignored_during_execution\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/kubernetesv1alpha1PreferredSchedulingTerm\";}s:4:\"type\";s:5:\"array\";}s:51:\"required_during_scheduling_ignored_during_execution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/kubernetesv1alpha1NodeSelector\";}}s:4:\"type\";s:6:\"object\";}s:30:\"kubernetesv1alpha1NodeSelector\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"node_selector_terms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/kubernetesv1alpha1NodeSelectorTerm\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:41:\"kubernetesv1alpha1NodeSelectorRequirement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"kubernetesv1alpha1NodeSelectorTerm\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"match_expressions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/kubernetesv1alpha1NodeSelectorRequirement\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:37:\"kubernetesv1alpha1ObjectFieldSelector\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"ObjectFieldSelector
  selects an APIVersioned field of an object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"api_version\";O:8:\"stdClass\":2:{s:5:\"title\";s:87:\"Version
  of the schema the FieldPath is written in terms of, defaults to \"v1\".\n+optional\";s:4:\"type\";s:6:\"string\";}s:10:\"field_path\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Path
  of the field to select in the specified API version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"kubernetesv1alpha1ObjectReference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"namespace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"resource_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"kubernetesv1alpha1PersistentVolume\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Meta\";}s:4:\"spec\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/v1alpha1PersistentVolumePersistentVolumeSpec\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/v1alpha1PersistentVolumePersistentVolumeStatus\";}}s:4:\"type\";s:6:\"object\";}s:39:\"kubernetesv1alpha1PersistentVolumeClaim\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Meta\";}s:4:\"spec\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/kubernetesv1alpha1PersistentVolumeClaimSpec\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:70:\"#/definitions/v1alpha1PersistentVolumeClaimPersistentVolumeClaimStatus\";}}s:4:\"type\";s:6:\"object\";}s:43:\"kubernetesv1alpha1PersistentVolumeClaimSpec\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"access_modes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"resources\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/v1alpha1PersistentVolumeClaimSpecResourceRequirements\";}s:18:\"storage_class_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"volume_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"kubernetesv1alpha1Pod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"app\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Meta\";}s:7:\"metrics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/v1alpha1Metrics\";}s:4:\"spec\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/kubernetesv1alpha1PodSpec\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/v1alpha1PodPodStatus\";}}s:4:\"type\";s:6:\"object\";}s:29:\"kubernetesv1alpha1PodAffinity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:52:\"preferred_during_scheduling_ignored_during_execution\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/kubernetesv1alpha1WeightedPodAffinityTerm\";}s:4:\"type\";s:5:\"array\";}s:51:\"required_during_scheduling_ignored_during_execution\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/kubernetesv1alpha1PodAffinityTerm\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:33:\"kubernetesv1alpha1PodAffinityTerm\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"label_selector\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/kubernetesv1alpha1LabelSelector\";}s:10:\"namespaces\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"topology_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"kubernetesv1alpha1PodAntiAffinity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:52:\"preferred_during_scheduling_ignored_during_execution\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/kubernetesv1alpha1WeightedPodAffinityTerm\";}s:4:\"type\";s:5:\"array\";}s:51:\"required_during_scheduling_ignored_during_execution\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/kubernetesv1alpha1PodAffinityTerm\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"kubernetesv1alpha1PodSpec\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"containers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/v1alpha1PodSpecContainer\";}s:4:\"type\";s:5:\"array\";}s:18:\"image_pull_secrets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"node_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"node_selector\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:20:\"service_account_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"volumes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/kubernetesv1alpha1Volume\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:41:\"kubernetesv1alpha1PreferredSchedulingTerm\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"preference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/kubernetesv1alpha1NodeSelectorTerm\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:39:\"kubernetesv1alpha1ReplicationController\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"app\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Meta\";}s:4:\"spec\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/v1alpha1ReplicationControllerSpec\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/v1alpha1ReplicationControllerStatus\";}}s:4:\"type\";s:6:\"object\";}s:39:\"kubernetesv1alpha1ResourceFieldSelector\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"container_name\";O:8:\"stdClass\":2:{s:5:\"title\";s:69:\"Container
  name: required for volumes, optional for env vars\n+optional\";s:4:\"type\";s:6:\"string\";}s:7:\"divisor\";O:8:\"stdClass\":2:{s:5:\"title\";s:79:\"Specifies
  the output format of the exposed resources, defaults to \"1\"\n+optional\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"Required:
  resource to select\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:90:\"ResourceFieldSelector
  represents container resources (cpu, memory) and their output format\";s:4:\"type\";s:6:\"object\";}s:38:\"kubernetesv1alpha1ResourceRequirements\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"limits\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:8:\"requests\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:24:\"kubernetesv1alpha1Secret\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Meta\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"kubernetesv1alpha1SecretKeySelector\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"SecretKeySelector
  selects a key of a Secret.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  key of the secret to select from.  Must be a valid secret key.\";s:4:\"type\";s:6:\"string\";}s:22:\"local_object_reference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/kubernetesv1alpha1ObjectReference\";s:11:\"description\";s:61:\"The
  name of the secret in the pod's namespace to select from.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"kubernetesv1alpha1Service\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"app\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/v1alpha1Meta\";}s:4:\"spec\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/v1alpha1ServiceSpec\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/v1alpha1ServiceStatus\";}}s:4:\"type\";s:6:\"object\";}s:28:\"kubernetesv1alpha1Toleration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"effect\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"toleration_seconds\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"kubernetesv1alpha1Volume\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"volumeSource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/v1VolumeSource\";}}s:4:\"type\";s:6:\"object\";}s:29:\"kubernetesv1alpha1VolumeMount\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"mount_path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"read_only\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"boolean\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:41:\"kubernetesv1alpha1WeightedPodAffinityTerm\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"pod_affinity_term\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/kubernetesv1alpha1PodAffinityTerm\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"resourceQuantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:2758:\"Quantity
  is a fixed-point representation of a number.\nIt provides convenient marshaling/unmarshaling
  in JSON and YAML,\nin addition to String() and Int64() accessors.\n\nThe serialization
  format is:\n\n<quantity>        ::= <signedNumber><suffix>\n  (Note that <suffix>
  may be empty, from the \"\" case in <decimalSI>.)\n<digit>           ::= 0 | 1 |
  ... | 9\n<digits>          ::= <digit> | <digit><digits>\n<number>          ::=
  <digits> | <digits>.<digits> | <digits>. | .<digits>\n<sign>            ::= \"+\"
  | \"-\"\n<signedNumber>    ::= <number> | <sign><number>\n<suffix>          ::=
  <binarySI> | <decimalExponent> | <decimalSI>\n<binarySI>        ::= Ki | Mi | Gi
  | Ti | Pi | Ei\n  (International System of units; See: http://physics.nist.gov/cuu/Units/binary.html)\n<decimalSI>
  \      ::= m | \"\" | k | M | G | T | P | E\n  (Note that 1024 = 1Ki but 1000 =
  1k; I didn't choose the capitalization.)\n<decimalExponent> ::= \"e\" <signedNumber>
  | \"E\" <signedNumber>\n\nNo matter which of the three exponent forms is used, no
  quantity may represent\na number greater than 2^63-1 in magnitude, nor may it have
  more than 3 decimal\nplaces. Numbers larger or more precise will be capped or rounded
  up.\n(E.g.: 0.1m will rounded up to 1m.)\nThis may be extended in the future if
  we require larger or smaller quantities.\n\nWhen a Quantity is parsed from a string,
  it will remember the type of suffix\nit had, and will use the same type again when
  it is serialized.\n\nBefore serializing, Quantity will be put in \"canonical form\".\nThis
  means that Exponent/suffix will be adjusted up or down (with a\ncorresponding increase
  or decrease in Mantissa) such that:\n  a. No precision is lost\n  b. No fractional
  digits will be emitted\n  c. The exponent (or suffix) is as large as possible.\nThe
  sign will be omitted unless the number is negative.\n\nExamples:\n  1.5 will be
  serialized as \"1500m\"\n  1.5Gi will be serialized as \"1536Mi\"\n\nNOTE: We reserve
  the right to amend this canonical format, perhaps to\n  allow 1.5 to be canonical.\nTODO:
  Remove above disclaimer after all bikeshedding about format is over,\n  or after
  March 2015.\n\nNote that the quantity will NEVER be internally represented by a\nfloating
  point number. That is the whole point of this exercise.\n\nNon-canonical values
  will still parse as long as they are well formed,\nbut will be re-emitted in their
  canonical form. (So always use canonical\nform, or don't diff.)\n\nThis format is
  intended to make it difficult to use these numbers without\nwriting some sort of
  special handling code in the hopes that that will\ncause implementors to also use
  a fixed point implementation.\n\n+protobuf=true\n+protobuf.embed=string\n+protobuf.options.marshal=false\n+protobuf.options.(gogoproto.goproto_stringer)=false\n+k8s:deepcopy-gen=true\n+k8s:openapi-gen=true\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"v1AWSElasticBlockStoreVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:289:\"Represents
  a Persistent Disk resource in AWS.\n\nAn AWS EBS disk must exist before mounting
  to a container. The disk\nmust also be in the same AWS zone as the kubelet. An AWS
  EBS disk\ncan only be mounted as read/write once. AWS EBS volumes support\nownership
  management and SELinux relabeling.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"fsType\";O:8:\"stdClass\":2:{s:5:\"title\";s:388:\"Filesystem
  type of the volume that you want to mount.\nTip: Ensure that the filesystem type
  is supported by the host operating system.\nExamples: \"ext4\", \"xfs\", \"ntfs\".
  Implicitly inferred to be \"ext4\" if unspecified.\nMore info: https://kubernetes.io/docs/concepts/storage/volumes#awselasticblockstore\nTODO:
  how do we prevent errors in the filesystem from compromising the machine\n+optional\";s:4:\"type\";s:6:\"string\";}s:9:\"partition\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:270:\"The
  partition in the volume that you want to mount.\nIf omitted, the default is to mount
  by volume name.\nExamples: For volume /dev/sda1, you specify the partition as \"1\".\nSimilarly,
  the volume partition for /dev/sda is \"0\" (or you can leave the property empty).\n+optional\";s:4:\"type\";s:7:\"integer\";}s:8:\"readOnly\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:210:\"Specify
  \"true\" to force and set the ReadOnly property in VolumeMounts to \"true\".\nIf
  omitted, the default is \"false\".\nMore info: https://kubernetes.io/docs/concepts/storage/volumes#awselasticblockstore\n+optional\";s:4:\"type\";s:7:\"boolean\";}s:8:\"volumeID\";O:8:\"stdClass\":2:{s:5:\"title\";s:153:\"Unique
  ID of the persistent disk resource in AWS (Amazon EBS volume).\nMore info: https://kubernetes.io/docs/concepts/storage/volumes#awselasticblockstore\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"v1AzureDiskVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"AzureDisk
  represents an Azure Data Disk mount on the host and bind mount to the pod.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"cachingMode\";O:8:\"stdClass\":2:{s:5:\"title\";s:57:\"Host
  Caching mode: None, Read Only, Read Write.\n+optional\";s:4:\"type\";s:6:\"string\";}s:8:\"diskName\";O:8:\"stdClass\":2:{s:5:\"title\";s:45:\"The
  Name of the data disk in the blob storage\";s:4:\"type\";s:6:\"string\";}s:7:\"diskURI\";O:8:\"stdClass\":2:{s:5:\"title\";s:41:\"The
  URI the data disk in the blob storage\";s:4:\"type\";s:6:\"string\";}s:6:\"fsType\";O:8:\"stdClass\":2:{s:5:\"title\";s:177:\"Filesystem
  type to mount.\nMust be a filesystem type supported by the host operating system.\nEx.
  \"ext4\", \"xfs\", \"ntfs\". Implicitly inferred to be \"ext4\" if unspecified.\n+optional\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:5:\"title\";s:201:\"Expected
  values Shared: multiple blob disks per storage account  Dedicated: single blob disk
  per storage account  Managed: azure managed data disk (only in managed availability
  set). defaults to shared\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:104:\"Defaults
  to false (read/write). ReadOnly here will force\nthe ReadOnly setting in VolumeMounts.\n+optional\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:33:\"v1AzureFilePersistentVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"AzureFile
  represents an Azure File Service mount on the host and bind mount to the pod.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"readOnly\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:104:\"Defaults
  to false (read/write). ReadOnly here will force\nthe ReadOnly setting in VolumeMounts.\n+optional\";s:4:\"type\";s:7:\"boolean\";}s:10:\"secretName\";O:8:\"stdClass\":2:{s:5:\"title\";s:67:\"the
  name of secret that contains Azure Storage Account Name and Key\";s:4:\"type\";s:6:\"string\";}s:15:\"secretNamespace\";O:8:\"stdClass\":2:{s:5:\"title\";s:117:\"the
  namespace of the secret that contains Azure Storage Account Name and Key\ndefault
  is the same as the Pod\n+optional\";s:4:\"type\";s:6:\"string\";}s:9:\"shareName\";O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"Share
  Name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"v1AzureFileVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"AzureFile
  represents an Azure File Service mount on the host and bind mount to the pod.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"readOnly\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:104:\"Defaults
  to false (read/write). ReadOnly here will force\nthe ReadOnly setting in VolumeMounts.\n+optional\";s:4:\"type\";s:7:\"boolean\";}s:10:\"secretName\";O:8:\"stdClass\":2:{s:5:\"title\";s:67:\"the
  name of secret that contains Azure Storage Account Name and Key\";s:4:\"type\";s:6:\"string\";}s:9:\"shareName\";O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"Share
  Name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"v1CSIPersistentVolumeSource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"driver\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Driver
  is the name of the driver to use for this volume.\nRequired.\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:104:\"Optional:
  The value to pass to ControllerPublishVolumeRequest.\nDefaults to false (read/write).\n+optional\";s:4:\"type\";s:7:\"boolean\";}s:12:\"volumeHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"VolumeHandle
  is the unique volume name returned by the CSI volume\nplugin\u2019s CreateVolume
  to refer to the volume on all subsequent calls.\nRequired.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:67:\"Represents
  storage that is managed by an external CSI volume driver\";s:4:\"type\";s:6:\"object\";}s:30:\"v1CephFSPersistentVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"Represents
  a Ceph Filesystem mount that lasts the lifetime of a pod\nCephfs volumes do not
  support ownership management or SELinux relabeling.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"monitors\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:139:\"Required:
  Monitors is a collection of Ceph monitors\nMore info: https://releases.k8s.io/HEAD/examples/volumes/cephfs/README.md#how-to-use-it\";s:4:\"type\";s:5:\"array\";}s:4:\"path\";O:8:\"stdClass\":2:{s:5:\"title\";s:90:\"Optional:
  Used as the mounted root, rather than the full Ceph tree, default is /\n+optional\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:202:\"Optional:
  Defaults to false (read/write). ReadOnly here will force\nthe ReadOnly setting in
  VolumeMounts.\nMore info: https://releases.k8s.io/HEAD/examples/volumes/cephfs/README.md#how-to-use-it\n+optional\";s:4:\"type\";s:7:\"boolean\";}s:10:\"secretFile\";O:8:\"stdClass\":2:{s:5:\"title\";s:185:\"Optional:
  SecretFile is the path to key ring for User, default is /etc/ceph/user.secret\nMore
  info: https://releases.k8s.io/HEAD/examples/volumes/cephfs/README.md#how-to-use-it\n+optional\";s:4:\"type\";s:6:\"string\";}s:9:\"secretRef\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/v1SecretReference\";s:5:\"title\";s:187:\"Optional:
  SecretRef is reference to the authentication secret for User, default is empty.\nMore
  info: https://releases.k8s.io/HEAD/examples/volumes/cephfs/README.md#how-to-use-it\n+optional\";}s:4:\"user\";O:8:\"stdClass\":2:{s:5:\"title\";s:153:\"Optional:
  User is the rados user name, default is admin\nMore info: https://releases.k8s.io/HEAD/examples/volumes/cephfs/README.md#how-to-use-it\n+optional\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"v1CephFSVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"Represents
  a Ceph Filesystem mount that lasts the lifetime of a pod\nCephfs volumes do not
  support ownership management or SELinux relabeling.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"monitors\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:139:\"Required:
  Monitors is a collection of Ceph monitors\nMore info: https://releases.k8s.io/HEAD/examples/volumes/cephfs/README.md#how-to-use-it\";s:4:\"type\";s:5:\"array\";}s:4:\"path\";O:8:\"stdClass\":2:{s:5:\"title\";s:90:\"Optional:
  Used as the mounted root, rather than the full Ceph tree, default is /\n+optional\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:202:\"Optional:
  Defaults to false (read/write). ReadOnly here will force\nthe ReadOnly setting in
  VolumeMounts.\nMore info: https://releases.k8s.io/HEAD/examples/volumes/cephfs/README.md#how-to-use-it\n+optional\";s:4:\"type\";s:7:\"boolean\";}s:10:\"secretFile\";O:8:\"stdClass\":2:{s:5:\"title\";s:185:\"Optional:
  SecretFile is the path to key ring for User, default is /etc/ceph/user.secret\nMore
  info: https://releases.k8s.io/HEAD/examples/volumes/cephfs/README.md#how-to-use-it\n+optional\";s:4:\"type\";s:6:\"string\";}s:9:\"secretRef\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/corev1LocalObjectReference\";s:5:\"title\";s:187:\"Optional:
  SecretRef is reference to the authentication secret for User, default is empty.\nMore
  info: https://releases.k8s.io/HEAD/examples/volumes/cephfs/README.md#how-to-use-it\n+optional\";}s:4:\"user\";O:8:\"stdClass\":2:{s:5:\"title\";s:153:\"Optional:
  User is the rados user name, default is admin\nMore info: https://releases.k8s.io/HEAD/examples/volumes/cephfs/README.md#how-to-use-it\n+optional\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"v1CinderVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:235:\"Represents
  a cinder volume resource in Openstack.\nA Cinder volume must exist before mounting
  to a container.\nThe volume must also be in the same region as the kubelet.\nCinder
  volumes support ownership management and SELinux relabeling.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"fsType\";O:8:\"stdClass\":2:{s:5:\"title\";s:258:\"Filesystem
  type to mount.\nMust be a filesystem type supported by the host operating system.\nExamples:
  \"ext4\", \"xfs\", \"ntfs\". Implicitly inferred to be \"ext4\" if unspecified.\nMore
  info: https://releases.k8s.io/HEAD/examples/mysql-cinder-pd/README.md\n+optional\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:189:\"Optional:
  Defaults to false (read/write). ReadOnly here will force\nthe ReadOnly setting in
  VolumeMounts.\nMore info: https://releases.k8s.io/HEAD/examples/mysql-cinder-pd/README.md\n+optional\";s:4:\"type\";s:7:\"boolean\";}s:8:\"volumeID\";O:8:\"stdClass\":2:{s:5:\"title\";s:122:\"volume
  id used to identify the volume in cinder\nMore info: https://releases.k8s.io/HEAD/examples/mysql-cinder-pd/README.md\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"v1ConfigMapProjection\";O:8:\"stdClass\":3:{s:11:\"description\";s:357:\"Adapts
  a ConfigMap into a projected volume.\n\nThe contents of the target ConfigMap's Data
  field will be presented in a\nprojected volume as files using the keys in the Data
  field as the file names,\nunless the items element is populated with specific mappings
  of keys to paths.\nNote that this is identical to a configmap volume source without
  the default\nmode.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/v1KeyToPath\";}s:5:\"title\";s:492:\"If
  unspecified, each key-value pair in the Data field of the referenced\nConfigMap
  will be projected into the volume as a file whose name is the\nkey and content is
  the value. If specified, the listed keys will be\nprojected into the specified paths,
  and unlisted keys will not be\npresent. If a key is specified which is not present
  in the ConfigMap,\nthe volume setup will error unless it is marked optional. Paths
  must be\nrelative and may not contain the '..' path or start with '..'.\n+optional\";s:4:\"type\";s:5:\"array\";}s:20:\"localObjectReference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/corev1LocalObjectReference\";}s:8:\"optional\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:68:\"Specify
  whether the ConfigMap or it's keys must be defined\n+optional\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"v1ConfigMapVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:325:\"Adapts
  a ConfigMap into a volume.\n\nThe contents of the target ConfigMap's Data field
  will be presented in a\nvolume as files using the keys in the Data field as the
  file names, unless\nthe items element is populated with specific mappings of keys
  to paths.\nConfigMap volumes support ownership management and SELinux relabeling.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"defaultMode\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:310:\"Optional:
  mode bits to use on created files by default. Must be a\nvalue between 0 and 0777.
  Defaults to 0644.\nDirectories within the path are not affected by this setting.\nThis
  might be in conflict with other options that affect the file\nmode, like fsGroup,
  and the result can be other mode bits set.\n+optional\";s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/v1KeyToPath\";}s:5:\"title\";s:492:\"If
  unspecified, each key-value pair in the Data field of the referenced\nConfigMap
  will be projected into the volume as a file whose name is the\nkey and content is
  the value. If specified, the listed keys will be\nprojected into the specified paths,
  and unlisted keys will not be\npresent. If a key is specified which is not present
  in the ConfigMap,\nthe volume setup will error unless it is marked optional. Paths
  must be\nrelative and may not contain the '..' path or start with '..'.\n+optional\";s:4:\"type\";s:5:\"array\";}s:20:\"localObjectReference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/corev1LocalObjectReference\";}s:8:\"optional\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:68:\"Specify
  whether the ConfigMap or it's keys must be defined\n+optional\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"v1DownwardAPIProjection\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"Represents
  downward API info for projecting into a projected volume.\nNote that this is identical
  to a downwardAPI volume source without the default\nmode.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/v1DownwardAPIVolumeFile\";}s:5:\"title\";s:51:\"Items
  is a list of DownwardAPIVolume file\n+optional\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"v1DownwardAPIVolumeFile\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"fieldRef\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/corev1ObjectFieldSelector\";s:5:\"title\";s:107:\"Required:
  Selects a field of the pod: only annotations, labels, name and namespace are supported.\n+optional\";}s:4:\"mode\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:270:\"Optional:
  mode bits to use on this file, must be a value between 0\nand 0777. If not specified,
  the volume defaultMode will be used.\nThis might be in conflict with other options
  that affect the file\nmode, like fsGroup, and the result can be other mode bits
  set.\n+optional\";s:4:\"type\";s:7:\"integer\";}s:4:\"path\";O:8:\"stdClass\":2:{s:5:\"title\";s:199:\"Required:
  Path is  the relative path name of the file to be created. Must not be absolute
  or contain the '..' path. Must be utf-8 encoded. The first item of the relative
  path must not start with '..'\";s:4:\"type\";s:6:\"string\";}s:16:\"resourceFieldRef\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/corev1ResourceFieldSelector\";s:5:\"title\";s:168:\"Selects
  a resource of the container: only resources limits and requests\n(limits.cpu, limits.memory,
  requests.cpu and requests.memory) are currently supported.\n+optional\";}}s:5:\"title\";s:88:\"DownwardAPIVolumeFile
  represents information to create the file containing the pod field\";s:4:\"type\";s:6:\"object\";}s:25:\"v1DownwardAPIVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"DownwardAPIVolumeSource
  represents a volume containing downward API info.\nDownward API volumes support
  ownership management and SELinux relabeling.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"defaultMode\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:310:\"Optional:
  mode bits to use on created files by default. Must be a\nvalue between 0 and 0777.
  Defaults to 0644.\nDirectories within the path are not affected by this setting.\nThis
  might be in conflict with other options that affect the file\nmode, like fsGroup,
  and the result can be other mode bits set.\n+optional\";s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/v1DownwardAPIVolumeFile\";}s:5:\"title\";s:53:\"Items
  is a list of downward API volume file\n+optional\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"v1EmptyDirVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Represents
  an empty directory for a pod.\nEmpty directory volumes support ownership management
  and SELinux relabeling.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"medium\";O:8:\"stdClass\":2:{s:5:\"title\";s:246:\"What
  type of storage medium should back this directory.\nThe default is \"\" which means
  to use the node's default medium.\nMust be an empty string (default) or Memory.\nMore
  info: https://kubernetes.io/docs/concepts/storage/volumes#emptydir\n+optional\";s:4:\"type\";s:6:\"string\";}s:9:\"sizeLimit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/resourceQuantity\";s:5:\"title\";s:417:\"Total
  amount of local storage required for this EmptyDir volume.\nThe size limit is also
  applicable for memory medium.\nThe maximum usage on memory medium EmptyDir would
  be the minimum value between\nthe SizeLimit specified here and the sum of memory
  limits of all containers in a pod.\nThe default is nil which means that the limit
  is undefined.\nMore info: http://kubernetes.io/docs/user-guide/volumes#emptydir\n+optional\";}}s:4:\"type\";s:6:\"object\";}s:16:\"v1FCVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"Represents
  a Fibre Channel volume.\nFibre Channel volumes can only be mounted as read/write
  once.\nFibre Channel volumes support ownership management and SELinux relabeling.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"fsType\";O:8:\"stdClass\":2:{s:5:\"title\";s:256:\"Filesystem
  type to mount.\nMust be a filesystem type supported by the host operating system.\nEx.
  \"ext4\", \"xfs\", \"ntfs\". Implicitly inferred to be \"ext4\" if unspecified.\nTODO:
  how do we prevent errors in the filesystem from compromising the machine\n+optional\";s:4:\"type\";s:6:\"string\";}s:3:\"lun\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:40:\"Optional:
  FC target lun number\n+optional\";s:4:\"type\";s:7:\"integer\";}s:8:\"readOnly\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:114:\"Optional:
  Defaults to false (read/write). ReadOnly here will force\nthe ReadOnly setting in
  VolumeMounts.\n+optional\";s:4:\"type\";s:7:\"boolean\";}s:10:\"targetWWNs\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:52:\"Optional:
  FC target worldwide names (WWNs)\n+optional\";s:4:\"type\";s:5:\"array\";}s:5:\"wwids\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:152:\"Optional:
  FC volume world wide identifiers (wwids)\nEither wwids or combination of targetWWNs
  and lun must be set, but not both simultaneously.\n+optional\";s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"v1FlexVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"FlexVolume
  represents a generic volume resource that is\nprovisioned/attached using an exec
  based plugin.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"driver\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Driver
  is the name of the driver to use for this volume.\";s:4:\"type\";s:6:\"string\";}s:6:\"fsType\";O:8:\"stdClass\":2:{s:5:\"title\";s:181:\"Filesystem
  type to mount.\nMust be a filesystem type supported by the host operating system.\nEx.
  \"ext4\", \"xfs\", \"ntfs\". The default filesystem depends on FlexVolume script.\n+optional\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:49:\"Optional:
  Extra command options if any.\n+optional\";s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"boolean\";s:5:\"title\";s:114:\"Optional:
  Defaults to false (read/write). ReadOnly here will force\nthe ReadOnly setting in
  VolumeMounts.\n+optional\";s:4:\"type\";s:7:\"boolean\";}s:9:\"secretRef\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/corev1LocalObjectReference\";s:5:\"title\";s:277:\"Optional:
  SecretRef is reference to the secret object containing\nsensitive information to
  pass to the plugin scripts. This may be\nempty if no secret object is specified.
  If the secret object\ncontains more than one secret, all secrets are passed to the
  plugin\nscripts.\n+optional\";}}s:4:\"type\";s:6:\"object\";}s:21:\"v1FlockerVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"Represents
  a Flocker volume mounted by the Flocker agent.\nOne and only one of datasetName
  and datasetUUID should be set.\nFlocker volumes do not support ownership management
  or SELinux relabeling.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"datasetName\";O:8:\"stdClass\":2:{s:5:\"title\";s:118:\"Name
  of the dataset stored as metadata -> name on the dataset for Flocker\nshould be
  considered as deprecated\n+optional\";s:4:\"type\";s:6:\"string\";}s:11:\"datasetUUID\";O:8:\"stdClass\":2:{s:5:\"title\";s:77:\"UUID
  of the dataset. This is unique identifier of a Flocker dataset\n+optional\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"v1GCEPersistentDiskVolumeSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:321:\"Represents
  a Persistent Disk resource in Google Compute Engine.\n\nA GCE PD must exist before
  mounting to a container. The disk must\nalso be in the same GCE project and zone
  as the kubelet. A GCE PD\ncan only be mounted as read/write once or read-only many
  times. GCE\nPDs support ownership management and SELinux relabeling.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"fsType\";O:8:\"stdClass\":2:{s:5:\"title\";s:385:\"Filesystem
  type of the volume that you want to mount.\nTip: Ensure that the filesystem type
  is supported by the host operating system.\nExamples: \"ext4\", \"xfs\", \"ntfs\".
  Implicitly inferred to be \"ext4\" if unspecified.\nMore info: https://kubernetes.io/docs/concepts/storage/volumes#gcepersistentdisk\nTODO:
  how do we prevent errors in the filesystem from compromising the machine\n+optional\";s:4:\"type\";s:6:\"string\";}s:9:\"partition\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:351:\"The
  partition in the volume that you want to mount.\nIf omitted, the default is to mount
  by volume name.\nExamples: For volume /dev/sda1, you specify the partition as \"1\".\nSimilarly,
  the volume partition for /dev/sda is \"0\" (or you can leave the property empty).\nMore
  info: https://kubernetes.io/docs/concepts/storage/volumes#gcepersistentdisk\n+optional\";s:4:\"type\";s:7:\"integer\";}s:6:\"pdName\";O:8:\"stdClass\":2:{s:5:\"title\";s:153:\"Unique
[...]
