---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:28:\"support@nfusionsolutions.com\";s:4:\"name\";s:17:\"nFusion
  Solutions\";s:3:\"url\";s:36:\"https://nfusionsolutions.com/contact\";s:9:\"x-twitter\";s:15:\"nfusionsolution\";}s:11:\"description\";s:597:\"nFusion
  Solutions provides REST and streaming APIs that deliver enterprise-grade financial
  data. Data sets include real-time and historical pricing for Spot prices of precious
  metals such as Gold, Silver, Platinum, and Palladium, exchange rates for major currency
  pairs, exchange rates for Crypto Currencies such as BTC, ETH, and LTC. All API access
  requires authentication. In order to be issued access credentials you must first
  enter into a service agreement with nFusion Solutions and acquire a commercial license.
  For information on how to obtain a licence contact sales@nfusionsolutions.com.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Commercial
  License\";s:3:\"url\";s:56:\"https://nfusionsolutions.com/metals/solutions/data-tools\";}s:5:\"title\";s:36:\"nFusion
  Solutions Market Data API v1\";s:7:\"version\";s:1:\"1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"financial\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:87:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_nfusionsolution_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:55:\"https://api.nfusionsolutions.biz/swagger/1/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:20:\"nfusionsolutions.biz\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"nfusionsolutions_biz\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.nfusionsolutions.biz
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:8:\"Interval\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"high\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"last\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"low\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"open\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"IntervalCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"baseCurrency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"intervals\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Interval\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"symbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Rate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"symbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:28:\"Response[IntervalCollection]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IntervalCollection\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"requestedCurrency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"requestedSymbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Response[Rate]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rate\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"requestedCurrency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"requestedSymbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"Response[Summary]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Summary\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"requestedCurrency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"requestedSymbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Summary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"ask\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"baseCurrency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"bid\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"high\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"last\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"low\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"oneDayChange\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"oneDayPercentChange\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"oneDayValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"open\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"symbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timeStamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
