---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"WattTime Client\";s:7:\"version\";s:5:\"1.0.0\";}"
host: api2.watttime.org
paths:
  /v2/login:
    get:
      operationId: getToken
      produces:
      - application/json
      responses:
        200:
          description: Successfully retrieved the country/region and postal code associated
            with the deviceId.
          schema:
            $ref: '#/definitions/Token'
        401:
          description: Authentication failed or user doesn't have permissions for
            requested operation.
  /v2/ba-from-loc:
    get:
      operationId: getBalancingAuthorityByLocation
      produces:
      - application/json
      parameters:
      - name: latitude
        in: query
        required: true
        type: number
        format: double
      - name: longitude
        in: query
        required: true
        type: number
        format: double
      responses:
        200:
          description: The request was successful
          schema:
            $ref: '#/definitions/BalancingAuthority'
        400:
          description: The request could not be understood or was missing required
            parameters.
        401:
          description: Authentication failed or user doesn't have permissions for
            requested operation.
        403:
          description: Access denied.
        404:
          description: Resource was not found.
        405:
          description: Requested method is not supported for resource.
  /v2/index:
    get:
      operationId: getIndex
      produces:
      - application/json
      parameters:
      - name: ba
        in: query
        required: true
        type: string
      - name: style
        in: query
        required: true
        type: string
        enum:
        - percent
        - rating
        - switch
      responses:
        200:
          description: The request was successful
          schema:
            $ref: '#/definitions/Index'
        400:
          description: The request could not be understood or was missing required
            parameters.
        401:
          description: Authentication failed or user doesn't have permissions for
            requested operation.
        403:
          description: Access denied.
        404:
          description: Resource was not found.
        405:
          description: Requested method is not supported for resource.
  /v2/data:
    get:
      operationId: getData
      produces:
      - application/json
      parameters:
      - name: ba
        in: query
        required: true
        type: string
      - name: starttime
        in: query
        required: true
        type: string
        format: date-time
      - name: endtime
        in: query
        required: true
        type: string
        format: date-time
      responses:
        200:
          description: The request was successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Data'
        400:
          description: The request could not be understood or was missing required
            parameters.
        401:
          description: Authentication failed or user doesn't have permissions for
            requested operation.
        403:
          description: Access denied.
        404:
          description: Resource was not found.
        405:
          description: Requested method is not supported for resource.
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:5:\"Token\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"BalancingAuthority\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"abbrev\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Index\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"ba\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"validUntil\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"switch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"percent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"freq\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"market\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"point_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:9:\"frequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int32\";}s:6:\"market\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ba\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"datatype\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:4:\"MOER\";i:1;s:10:\"GENERATION\";i:2;s:6:\"EXPORT\";i:3;s:6:\"IMPORT\";i:4;s:9:\"GEN_RENEW\";i:5;s:4:\"LOAD\";i:6;s:3:\"LMP\";i:7;s:7:\"LMP_ENE\";i:8;s:8:\"LMP_LOSS\";i:9;s:8:\"LMP_CONG\";i:10;s:7:\"LMP_GHG\";i:11;s:6:\"TEMP_C\";}}}}}"
...
