---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:15:\"nitro@bbc.co.uk\";s:4:\"name\";s:18:\"Open
  Nitro Project\";s:3:\"url\";s:27:\"http://developer.bbc.co.uk/\";}s:11:\"description\";s:91:\"BBC
  Nitro is the BBC's application programming interface (API) for BBC Programmes Metadata.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"Nitro
  Public License\";s:3:\"url\";s:47:\"https://developer.bbc.co.uk/nitropubliclicence/\";}s:14:\"termsOfService\";s:27:\"http://www.bbc.co.uk/terms/\";s:5:\"title\";s:9:\"BBC
  Nitro\";s:7:\"version\";s:5:\"1.0.0\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:41:\"https://developer.bbc.co.uk/user/register\";}s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"media\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:105:\"https://api.apis.guru/v2/cache/logo/https_github.com_Mermade_bbcparse_blob_master_nitroApi_nitro-logo.png\";}s:8:\"x-origin\";a:2:{i:0;O:8:\"stdClass\":3:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:35:\"https://github.com/mermade/bbcparse\";s:7:\"version\";s:5:\"1.3.1\";}s:3:\"url\";s:39:\"http://programmes.api.bbc.com/nitro/api\";}i:1;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:79:\"https://raw.githubusercontent.com/Mermade/bbcparse/master/nitroApi/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"bbc.com\";s:6:\"x-tags\";a:4:{i:0;s:3:\"BBC\";i:1;s:21:\"programme
  information\";i:2;s:7:\"iPlayer\";i:3;s:13:\"iPlayer Radio\";}s:16:\"x-unofficialSpec\";b:1;s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"bbc\";s:4:\"type\";s:7:\"openapi\";}}"
host: programmes.api.bbc.com
basePath: /nitro/api
paths: ~
produces:
- application/json
- application/xml
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":219:{s:10:\"ErrorModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"fault\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"detail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"errorcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"faultString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:23:\"accurate_programme_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/dateRange\";}s:13:\"accurate_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/broadcastTime\";}s:12:\"actual_start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"advertising_allowed\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:10:\"[a-z0-9_]+\";s:4:\"type\";s:6:\"string\";}s:11:\"affected_by\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"filter\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:11:\"description\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:11:\"description\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"alternate_images_mixin\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"alternate_images\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"alternate_image\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"alternate_images\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"alternate_image\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"template_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"template_url\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"template_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"template_url\";i:1;s:16:\"alternate_images\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:16:\"alternate_images\";}s:4:\"type\";s:6:\"object\";}s:15:\"ancestor_titles\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"brand\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:7:\"episode\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"brand\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:16:\"containers_title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/containers_title\";}s:7:\"episode\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"containers_title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/containers_title\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:18:\"presentation_title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/presentation_title\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:18:\"presentation_title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/presentation_title\";}s:6:\"series\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:6:\"series\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ancestors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/reference\";}s:16:\"ancestors_titles\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"brand\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:7:\"episode\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"brand\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:16:\"containers_title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/containers_title\";}s:7:\"episode\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"containers_title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/containers_title\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:18:\"presentation_title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/presentation_title\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:18:\"presentation_title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/presentation_title\";}s:6:\"series\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:6:\"series\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"availability\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":10:{s:23:\"accurate_programme_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/accurate_programme_time\";}s:12:\"actual_start\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/actual_start\";}s:18:\"availability-debug\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/availability-debug\";}s:15:\"availability_of\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/availability_of\";}s:4:\"type\";s:5:\"array\";}s:17:\"availability_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/availability_type\";}s:23:\"media_availability_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/media_availability_time\";}s:9:\"media_set\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/media_set\";}s:4:\"type\";s:5:\"array\";}s:17:\"revocation_status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/revocation_status\";}s:14:\"scheduled_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/scheduled_time\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/status\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:17:\"availability_type\";}s:4:\"type\";s:6:\"object\";}s:18:\"availability-debug\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"availability_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/pidReference\";}s:20:\"media_profile_groups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/media_profile_groups\";}s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/serviceReference\";}s:9:\"territory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:15:\"availability_of\";}s:4:\"type\";s:6:\"object\";}s:18:\"availability_mixin\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"availability\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/status\";}s:13:\"version_types\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"version_type\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"version_type\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"availability\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/status\";}s:13:\"version_types\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"version_type\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"version_type\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:12:\"version_type\";}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:12:\"version_type\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:13:\"version_types\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:12:\"version_type\";}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:12:\"version_type\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:13:\"version_types\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"availability_of\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"result_type\";i:1;s:3:\"pid\";i:2;s:4:\"href\";}s:4:\"type\";s:6:\"object\";}s:17:\"availability_type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:3:{i:0;s:8:\"ondemand\";i:1;s:9:\"simulcast\";i:2;s:7:\"webcast\";}}s:20:\"available_media_sets\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"media_sets\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"media_set\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"#text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"media_sets\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"media_set\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"#text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:9:\"media_set\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:9:\"media_set\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:16:\"available_mixins\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"availabilities\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"availabilities\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"availability\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"accurate_end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"accurate_start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:29:\"available_versions_media_sets\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/available_versions_media_sets\";}s:22:\"media_availability_end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:24:\"media_availability_start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"payment_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"scheduled_end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"scheduled_start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:29:\"available_versions_media_sets\";}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"availability\";}s:4:\"type\";s:6:\"object\";}s:12:\"availability\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"accurate_end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"accurate_start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:29:\"available_versions_media_sets\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/available_versions_media_sets\";}s:22:\"media_availability_end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:24:\"media_availability_start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"payment_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"scheduled_end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"scheduled_start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:29:\"available_versions_media_sets\";}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"availability\";i:1;s:14:\"availabilities\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:14:\"availabilities\";}s:4:\"type\";s:6:\"object\";}s:20:\"available_simulcasts\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"available\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"available_versions_element\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/available_versions_element\";}}s:8:\"required\";a:2:{i:0;s:26:\"available_versions_element\";i:1;s:9:\"available\";}s:4:\"type\";s:6:\"object\";}s:18:\"available_versions\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"available\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"available_versions_element\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/available_versions_element\";}}s:8:\"required\";a:2:{i:0;s:26:\"available_versions_element\";i:1;s:9:\"available\";}s:4:\"type\";s:6:\"object\";}s:26:\"available_versions_element\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"version\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"available_mixins\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/available_mixins\";}s:19:\"competition_warning\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:125:\"^(-)?P(?:([0-9,.]*)Y)?(?:([0-9,.]*)M)?(?:([0-9,.]*)W)?(?:([0-9,.]*)D)?(?:T(?:([0-9,.]*)H)?(?:([0-9,.]*)M)?(?:([0-9,.]*)S)?)?$\";s:4:\"type\";s:6:\"string\";}s:17:\"guidance_warnings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/guidance_warnings\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:5:\"types\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:7:\"version\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"available_mixins\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/available_mixins\";}s:19:\"competition_warning\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:125:\"^(-)?P(?:([0-9,.]*)Y)?(?:([0-9,.]*)M)?(?:([0-9,.]*)W)?(?:([0-9,.]*)D)?(?:T(?:([0-9,.]*)H)?(?:([0-9,.]*)M)?(?:([0-9,.]*)S)?)?$\";s:4:\"type\";s:6:\"string\";}s:17:\"guidance_warnings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/guidance_warnings\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:5:\"types\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"types\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"types\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"available_versions_media_sets\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"media_sets\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"media_set\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"actual_start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"territories\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"media_sets\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"media_set\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"actual_start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"territories\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"territory\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:9:\"media_set\";}s:4:\"type\";s:6:\"object\";}s:9:\"territory\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:9:\"media_set\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:18:\"available_webcasts\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"available\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"available_versions_element\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/available_versions_element\";}}s:8:\"required\";a:2:{i:0;s:26:\"available_versions_element\";i:1;s:9:\"available\";}s:4:\"type\";s:6:\"object\";}s:5:\"brand\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":24:{s:22:\"alternate_images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/alternate_images_mixin\";}s:18:\"availability_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/availability_mixin\";}s:19:\"contributions_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/contributions_mixin\";}s:9:\"embargoed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/embargoed\";}s:20:\"expected_child_count\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/expected_child_count\";}s:10:\"franchises\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/franchises\";}s:15:\"genre_groupings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/genre_groupings\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:10:\"image_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/image_link\";}s:12:\"images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/images_mixin\";}s:13:\"is_embeddable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/is_embeddable\";}s:9:\"items_for\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/items_for\";}s:17:\"master_brand_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/master_brand_link\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:19:\"previous_next_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/previous_next_mixin\";}s:17:\"programme_formats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/programme_formats\";}s:14:\"programme_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/programme_type\";}s:13:\"related_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/related_links\";}s:18:\"release_date_group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/release_date_group\";}s:8:\"synopses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/synopses\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}s:12:\"updated_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/updated_time\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/uri\";}}s:8:\"required\";a:4:{i:0;s:3:\"pid\";i:1;s:7:\"partner\";i:2;s:12:\"updated_time\";i:3;s:9:\"embargoed\";}s:4:\"type\";s:6:\"object\";}s:9:\"broadcast\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":18:{s:15:\"ancestor_titles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ancestor_titles\";}s:16:\"ancestors_titles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ancestors_titles\";}s:12:\"broadcast_of\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/broadcast_of\";}s:4:\"type\";s:5:\"array\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:3:\"ids\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ids\";}s:10:\"image_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/image_link\";}s:12:\"images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/images_mixin\";}s:18:\"is_audio_described\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/is_audio_described\";}s:10:\"is_blanked\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/is_blanked\";}s:11:\"is_critical\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/is_critical\";}s:9:\"is_repeat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/is_repeat\";}s:12:\"is_simulcast\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/is_simulcast\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:14:\"published_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/published_time\";}s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/serviceReference\";}s:7:\"tx_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/tx_time\";}s:12:\"updated_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/updated_time\";}}s:8:\"required\";a:2:{i:0;s:3:\"pid\";i:1;s:7:\"partner\";}s:4:\"type\";s:6:\"object\";}s:13:\"broadcastTime\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/dateRange\";}i:1;O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"duration\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:125:\"^(-)?P(?:([0-9,.]*)Y)?(?:([0-9,.]*)M)?(?:([0-9,.]*)W)?(?:([0-9,.]*)D)?(?:T(?:([0-9,.]*)H)?(?:([0-9,.]*)M)?(?:([0-9,.]*)S)?)?$\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:12:\"broadcast_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/pidReference\";}s:11:\"broadcaster\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/sid\";}}s:8:\"required\";a:3:{i:0;s:4:\"href\";i:1;s:3:\"sid\";i:2;s:11:\"result_type\";}s:4:\"type\";s:6:\"object\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"catalogue_number\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"chapter\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/item\";}s:4:\"clip\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":31:{s:19:\"advertising_allowed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/advertising_allowed\";}s:22:\"alternate_images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/alternate_images_mixin\";}s:15:\"ancestor_titles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ancestor_titles\";}s:9:\"ancestors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ancestors\";}s:16:\"ancestors_titles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ancestors_titles\";}s:18:\"availability_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/availability_mixin\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/caption\";}s:7:\"clip_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/clip_of\";}s:19:\"contributions_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/contributions_mixin\";}s:9:\"embargoed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/embargoed\";}s:15:\"genre_groupings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/genre_groupings\";}s:12:\"genre_groups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/genre_groups\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:10:\"image_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/image_link\";}s:12:\"images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/images_mixin\";}s:13:\"is_embeddable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/is_embeddable\";}s:9:\"items_for\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/items_for\";}s:17:\"master_brand_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/master_brand_link\";}s:10:\"media_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/media_type\";}s:25:\"original_version_duration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/original_version_duration\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:19:\"previous_next_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/previous_next_mixin\";}s:17:\"programme_formats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/programme_formats\";}s:13:\"related_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/related_links\";}s:18:\"release_date_group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/release_date_group\";}s:8:\"synopses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/synopses\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}s:12:\"updated_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/updated_time\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/uri\";}s:14:\"versions_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/versions_mixin\";}}s:8:\"required\";a:5:{i:0;s:3:\"pid\";i:1;s:7:\"partner\";i:2;s:12:\"updated_time\";i:3;s:9:\"embargoed\";i:4;s:19:\"advertising_allowed\";}s:4:\"type\";s:6:\"object\";}s:7:\"clip_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/pidReference\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"collection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/group-body\";}s:19:\"competition_warning\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"containers_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"context\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"cascades_to_descendants\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:3:\"pid\";i:1;s:11:\"result_type\";}s:4:\"type\";s:6:\"object\";}s:19:\"contributions_mixin\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"contributions\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"contributions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:32:\"contributions_mixin_contribution\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/contributions_mixin_contribution\";}s:4:\"type\";s:5:\"array\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"contributions_mixin_contribution\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/contributions_mixin_contribution\";}s:4:\"type\";s:5:\"array\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"contributions\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:13:\"contributions\";}s:4:\"type\";s:6:\"object\";}s:32:\"contributions_mixin_contribution\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"contribution\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"character_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"contribution\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"character_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"contributions_mixin_contributor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/contributions_mixin_contributor\";}s:11:\"credit_role\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"#text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:31:\"contributions_mixin_contributor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/contributions_mixin_contributor\";}s:11:\"credit_role\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"#text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:12:\"contribution\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:12:\"contribution\";}s:4:\"type\";s:6:\"object\";}s:31:\"contributions_mixin_contributor\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"contributor\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:36:\"contributions_mixin_contributor_name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/contributions_mixin_contributor_name\";}s:11:\"contributor\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:36:\"contributions_mixin_contributor_name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/contributions_mixin_contributor_name\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}}s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}}s:8:\"required\";a:1:{i:0;s:11:\"contributor\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:11:\"contributor\";}s:4:\"type\";s:6:\"object\";}s:36:\"contributions_mixin_contributor_name\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"given\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"given\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"presentation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"presentation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:11:\"contributor\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"contributor_name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/contributor_name\";}s:14:\"contributor_to\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/contributor_to\";}s:4:\"type\";s:5:\"array\";}s:14:\"disambiguation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/disambiguation\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:3:\"ids\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ids\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}}s:8:\"required\";a:2:{i:0;s:3:\"pid\";i:1;s:7:\"partner\";}s:4:\"type\";s:6:\"object\";}s:16:\"contributor_name\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"given\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"given\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"presentation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"presentation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:14:\"contributor_to\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"result_type\";i:1;s:4:\"href\";}s:4:\"type\";s:6:\"object\";}s:12:\"credits_time\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"squeeze_end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"squeeze_start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"data\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"datum\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/datum\";}}s:4:\"type\";s:6:\"object\";}s:9:\"dateRange\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"date_range\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/dateRange\";}s:5:\"datum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"dependency_on\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"filter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"deprecated\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"deprecated_since\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:30:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}.*$\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"replaced_by\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"replacement_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:16:\"deprecated_since\";}s:4:\"type\";s:6:\"object\";}s:26:\"deprecatedReferenceElement\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/referenceAttributes\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/deprecationAttributes\";}}}s:21:\"deprecationAttributes\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"deprecated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"deprecated_since\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:30:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}.*$\";s:4:\"type\";s:6:\"string\";}s:11:\"replaced_by\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"deprecated\";i:1;s:16:\"deprecated_since\";i:2;s:11:\"replaced_by\";}s:4:\"type\";s:6:\"object\";}s:12:\"deprecations\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"deprecated\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/deprecated\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"dimensions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"disambiguation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"embargoed\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:4:\"true\";i:1;s:5:\"false\";}}s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"episode\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":34:{s:19:\"advertising_allowed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/advertising_allowed\";}s:22:\"alternate_images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/alternate_images_mixin\";}s:15:\"ancestor_titles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ancestor_titles\";}s:9:\"ancestors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ancestors\";}s:16:\"ancestors_titles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ancestors_titles\";}s:18:\"availability_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/availability_mixin\";}s:19:\"contributions_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/contributions_mixin\";}s:9:\"embargoed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/embargoed\";}s:10:\"episode_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/episode_of\";}s:15:\"genre_groupings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/genre_groupings\";}s:12:\"genre_groups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/genre_groups\";}s:12:\"has_guidance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/has_guidance\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:10:\"image_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/image_link\";}s:12:\"images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/images_mixin\";}s:13:\"is_embeddable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/is_embeddable\";}s:10:\"is_stacked\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/is_stacked\";}s:9:\"items_for\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/items_for\";}s:17:\"master_brand_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/master_brand_link\";}s:10:\"media_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/media_type\";}s:25:\"original_version_duration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/original_version_duration\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:18:\"presentation_title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/presentation_title\";}s:19:\"previous_next_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/previous_next_mixin\";}s:17:\"programme_formats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/programme_formats\";}s:14:\"programme_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/programme_type\";}s:13:\"related_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/related_links\";}s:18:\"release_date_group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/release_date_group\";}s:8:\"synopses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/synopses\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}s:12:\"updated_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/updated_time\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/uri\";}s:14:\"versions_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/versions_mixin\";}}s:8:\"required\";a:5:{i:0;s:3:\"pid\";i:1;s:7:\"partner\";i:2;s:12:\"updated_time\";i:3;s:9:\"embargoed\";i:4;s:19:\"advertising_allowed\";}s:4:\"type\";s:6:\"object\";}s:10:\"episode_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/pidReference\";}s:5:\"error\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/code\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/data\";}s:10:\"error-name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/error-name\";}s:4:\"expr\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/expr\";}s:13:\"format-string\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/format-string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/message\";}s:9:\"retryable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/retryable\";}s:14:\"xquery-version\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/xquery-version\";}}s:8:\"required\";a:8:{i:0;s:4:\"code\";i:1;s:10:\"error-name\";i:2;s:14:\"xquery-version\";i:3;s:7:\"message\";i:4;s:13:\"format-string\";i:5;s:9:\"retryable\";i:6;s:4:\"expr\";i:7;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:10:\"error-name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/error\";}}s:4:\"type\";s:6:\"object\";}s:20:\"expected_child_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"expr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"feed\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"deprecations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/deprecations\";}s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/filters\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mixins\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/mixins\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"release_status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/release_status_type\";}s:5:\"sorts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/sorts\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"href\";i:1;s:4:\"name\";i:2;s:3:\"rel\";i:3;s:5:\"title\";}s:4:\"type\";s:6:\"object\";}s:5:\"feeds\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"deployment_root\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"deprecations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/deprecations\";}s:4:\"feed\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/feed\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"filter\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"depends_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deprecated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"deprecated_since\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:30:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}.*$\";s:4:\"type\";s:6:\"string\";}s:16:\"guaranteed_until\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:30:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}.*$\";s:4:\"type\";s:6:\"string\";}s:9:\"max_value\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"min_value\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"multiple_values\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"option\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/option\";}s:4:\"type\";s:5:\"array\";}s:6:\"prefer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"prohibits\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/prohibits\";}s:4:\"type\";s:5:\"array\";}s:14:\"release_status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/release_status_type\";}s:11:\"replaced_by\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:5:\"title\";i:2;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:7:\"filters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"filter\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/filter\";}s:4:\"type\";s:5:\"array\";}s:16:\"unstable_filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/unstable_filters\";}}s:4:\"type\";s:6:\"object\";}s:11:\"focus_point\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:1:\"x\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:1:\"y\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"for_programme\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"for_programmes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"for_programme\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/for_programme\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"format\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"#text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"format_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"format-string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"franchise\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/group-body\";}s:10:\"franchises\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/reference\";}s:7:\"gallery\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/group-body\";}s:5:\"genre\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"#text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"genreGroupingsType\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"genre_group\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/genre_group\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"genreGroupsType\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/deprecatedReferenceElement\";}i:1;O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"genre_group\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/genre_group\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}}s:11:\"genre_group\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"genres\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"genre\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/genre\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"genres\";}s:4:\"type\";s:6:\"object\";}s:15:\"genre_groupings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/genreGroupingsType\";}s:12:\"genre_groups\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/genreGroupsType\";}s:10:\"group-body\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":15:{s:22:\"alternate_images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/alternate_images_mixin\";}s:9:\"embargoed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/embargoed\";}s:14:\"for_programmes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/for_programmes\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:3:\"ids\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ids\";}s:12:\"images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/images_mixin\";}s:17:\"master_brand_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/master_brand_link\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:13:\"related_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/related_links\";}s:9:\"scheduled\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/scheduled\";}s:8:\"synopses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/synopses\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}s:12:\"updated_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/updated_time\";}s:7:\"url_key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/url_key\";}}s:8:\"required\";a:4:{i:0;s:3:\"pid\";i:1;s:9:\"embargoed\";i:2;s:7:\"partner\";i:3;s:12:\"updated_time\";}s:4:\"type\";s:6:\"object\";}s:17:\"guidance_warnings\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"warnings\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"warning_items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/warning_items\";}s:13:\"warning_texts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/warning_texts\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"warning_items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/warning_items\";}s:13:\"warning_texts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/warning_texts\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:12:\"has_guidance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"highlight\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/item\";}s:2:\"id\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"#text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"authority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"identifier\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"#text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"authority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"identifiers\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"identifier\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/identifier\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:10:\"identifier\";}s:4:\"type\";s:6:\"object\";}s:3:\"ids\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/id\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:5:\"image\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"embargoed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/embargoed\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:10:\"shoot_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"source_asset\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/source_asset\";}s:8:\"synopses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/synopses\";}s:12:\"template_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"pid\";i:1;s:9:\"embargoed\";i:2;s:7:\"partner\";}s:4:\"type\";s:6:\"object\";}s:10:\"image_link\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"image\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:1;s:4:\"type\";s:6:\"object\";s:7:\"x-anyOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/deprecationAttributes\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"image\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:12:\"template_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"template_url\";}s:4:\"type\";s:6:\"object\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:12:\"template_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"template_url\";i:1;s:5:\"image\";}}}}}s:8:\"required\";a:1:{i:0;s:5:\"image\";}s:4:\"type\";s:6:\"object\";}s:12:\"images_mixin\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"images\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"image\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"image\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"inherited_from\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"template_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"template_url\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:14:\"inherited_from\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"template_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"template_url\";i:1;s:6:\"images\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:6:\"images\";}s:4:\"type\";s:6:\"object\";}s:18:\"is_audio_described\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"is_blanked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"is_concrete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"is_critical\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"is_downloadable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"is_embeddable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"is_external\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"is_repeat\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"is_signed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"is_simulcast\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"is_stacked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"is_streamable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"item\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":24:{s:16:\"catalogue_number\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/catalogue_number\";}s:19:\"contributions_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/contributions_mixin\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:3:\"ids\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ids\";}s:12:\"images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/images_mixin\";}s:7:\"item_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/item_of\";}s:10:\"music_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/music_code\";}s:7:\"offsets\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/offsets\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:11:\"play_events\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/play_events\";}s:9:\"publisher\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/publisher\";}s:12:\"record_label\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/record_label\";}s:14:\"recording_date\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/recording_date\";}s:13:\"release_title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/release_title\";}s:11:\"snippet_url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/snippet_url\";}s:12:\"source_media\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/source_media\";}s:8:\"synopses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/synopses\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}s:12:\"track_number\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/track_number\";}s:10:\"track_side\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/track_side\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"updated_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/updated_time\";}}s:8:\"required\";a:2:{i:0;s:3:\"pid\";i:1;s:7:\"partner\";}s:4:\"type\";s:6:\"object\";}s:7:\"item_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/reference\";}s:9:\"items_for\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/reference\";}s:4:\"long\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"master_brand\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"colour\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"competition_warning\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}}s:8:\"required\";a:2:{i:0;s:4:\"href\";i:1;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:5:\"ident\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:10:\"image_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/image_link\";}s:12:\"images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/images_mixin\";}s:23:\"master_brand_date_range\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"mid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/mid\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/name\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/position\";}s:8:\"synopses\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"long\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/long\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/medium\";}s:5:\"short\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/short\";}}s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}s:7:\"url_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:3:\"mid\";i:1;s:7:\"partner\";}s:4:\"type\";s:6:\"object\";}s:17:\"master_brand_link\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"master_brand\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"master_brand\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"mid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/mid\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"href\";i:1;s:3:\"mid\";i:2;s:11:\"result_type\";}s:4:\"type\";s:6:\"object\";}s:3:\"mid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/mid\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"href\";i:1;s:3:\"mid\";i:2;s:11:\"result_type\";i:3;s:12:\"master_brand\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:12:\"master_brand\";}s:4:\"type\";s:6:\"object\";}s:23:\"media_availability_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/dateRange\";}s:19:\"media_profile_group\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"#text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"context\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"territory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"transport\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"media_profile_groups\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"media_profile_group\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/media_profile_group\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"media_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"media_type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:5:\"Video\";i:1;s:5:\"Audio\";}}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"mid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"mixin\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"affected_by\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/affected_by\";}s:4:\"type\";s:5:\"array\";}s:13:\"dependency_on\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/dependency_on\";}s:4:\"type\";s:5:\"array\";}s:10:\"depends_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deprecated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"deprecated_since\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:30:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}.*$\";s:4:\"type\";s:6:\"string\";}s:16:\"guaranteed_until\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:30:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}.*$\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"prohibits\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/prohibits\";}s:4:\"type\";s:5:\"array\";}s:14:\"release_status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/release_status_type\";}s:11:\"replaced_by\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"title\";}s:4:\"type\";s:6:\"object\";}s:6:\"mixins\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"mixin\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/mixin\";}s:4:\"type\";s:5:\"array\";}s:15:\"unstable_mixins\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/unstable_mixins\";}}s:4:\"type\";s:6:\"object\";}s:5:\"music\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/item\";}s:10:\"music_code\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:8;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"next\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"href\";}s:4:\"type\";s:6:\"object\";}s:5:\"nitro\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";b:1;s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"deprecations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/deprecations\";}s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/filters\";}s:6:\"mixins\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/mixins\";}s:10:\"pagination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/pagination\";}s:7:\"results\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/results\";}s:5:\"sorts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/sorts\";}}}s:9:\"offset_in\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"programme\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}}s:8:\"required\";a:3:{i:0;s:9:\"programme\";i:1;s:7:\"version\";i:2;s:4:\"href\";}s:4:\"type\";s:6:\"object\";}s:7:\"offsets\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"offset_in\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/offset_in\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"option\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"release_status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/release_status_type\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"value\";i:1;s:5:\"title\";}s:4:\"type\";s:6:\"object\";}s:25:\"original_version_duration\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"version\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:125:\"^(-)?P(?:([0-9,.]*)Y)?(?:([0-9,.]*)M)?(?:([0-9,.]*)W)?(?:([0-9,.]*)D)?(?:T(?:([0-9,.]*)H)?(?:([0-9,.]*)M)?(?:([0-9,.]*)S)?)?$\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:7:\"version\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"duration\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:125:\"^(-)?P(?:([0-9,.]*)Y)?(?:([0-9,.]*)M)?(?:([0-9,.]*)W)?(?:([0-9,.]*)D)?(?:T(?:([0-9,.]*)H)?(?:([0-9,.]*)M)?(?:([0-9,.]*)S)?)?$\";s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}}s:8:\"required\";a:2:{i:0;s:3:\"pid\";i:1;s:4:\"href\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:3:\"pid\";i:1;s:4:\"href\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:5:\"other\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/item\";}s:10:\"pagination\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"next\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/next\";}s:8:\"previous\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/previous\";}}s:4:\"type\";s:6:\"object\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:3:\"pid\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:23:\"([a-z0-9\\.\\-]+|.*PID.*)\";s:4:\"type\";s:6:\"string\";}s:12:\"pidReference\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:3:\"pid\";i:1;s:11:\"result_type\";}s:4:\"type\";s:6:\"object\";}s:10:\"play_event\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:15:\"played_in_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/played_in_links\";}s:4:\"type\";s:5:\"array\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"synopses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/synopses\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:11:\"play_events\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"play_event\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/play_event\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"played_in_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"played_in\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"played_in\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"presentation_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"previous\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"href\";}s:4:\"type\";s:6:\"object\";}s:19:\"previous_next_mixin\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"previous_next\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"next\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/reference\";}s:8:\"previous\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/reference\";}s:13:\"previous_next\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"next\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/reference\";}s:8:\"previous\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/reference\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:13:\"previous_next\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:13:\"previous_next\";}s:4:\"type\";s:6:\"object\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"programme_formats\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"format\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/format\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"format\";}s:4:\"type\";s:6:\"object\";}s:14:\"programme_type\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:9:\"prohibits\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"filter\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"mixin\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"filter\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"mixin\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"promoted_by\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"promoted_for\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"promotion\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"context\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/context\";}s:8:\"end_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/end_time\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/priority\";}s:11:\"promoted_by\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/promoted_by\";}s:12:\"promoted_for\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/promoted_for\";}s:12:\"promotion_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/promotion_of\";}s:13:\"related_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/related_links\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/start_time\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/status\";}s:8:\"synopses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/synopses\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}s:12:\"updated_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/updated_time\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/uri\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/url\";}}s:8:\"required\";a:3:{i:0;s:3:\"pid\";i:1;s:7:\"partner\";i:2;s:12:\"updated_time\";}s:4:\"type\";s:6:\"object\";}s:12:\"promotion_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/pidReference\";}s:18:\"publication_rights\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"#text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"context\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"territory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"transport\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"published_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/broadcastTime\";}s:9:\"publisher\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"record_label\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:14:\"recording_date\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:10;s:9:\"minLength\";i:4;s:4:\"type\";s:6:\"string\";}s:9:\"reference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/referenceAttributes\";}i:1;O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:1;s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"href_deprecated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"result_type_deprecated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}}s:19:\"referenceAttributes\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"href\";i:1;s:11:\"result_type\";}s:4:\"type\";s:6:\"object\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"related_link\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"availability\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"is_external\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/is_external\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/position\";}s:8:\"synopses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/synopses\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/uri\";}}s:8:\"required\";a:1:{i:0;s:3:\"pid\";}s:4:\"type\";s:6:\"object\";}s:13:\"related_links\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"related_link\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/related_link\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"release_date_group\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"release_date\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:30:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}.*$\";s:4:\"type\";s:6:\"string\";}s:12:\"release_year\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:8:\"[0-9]{4}\";s:4:\"type\";s:6:\"string\";}s:18:\"release_year_month\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:17:\"[0-9]{4}-[0-9]{2}\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"release_status_type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:4:{i:0;s:5:\"alpha\";i:1;s:4:\"beta\";i:2;s:9:\"supported\";i:3;s:10:\"deprecated\";}}s:13:\"release_title\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":26:{s:12:\"availability\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/availability\";}s:5:\"brand\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/brand\";}s:9:\"broadcast\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/broadcast\";}s:7:\"chapter\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/chapter\";}s:4:\"clip\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/clip\";}s:10:\"collection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/collection\";}s:11:\"contributor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/contributor\";}s:7:\"episode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:9:\"franchise\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/franchise\";}s:7:\"gallery\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/gallery\";}s:9:\"highlight\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/highlight\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/image\";}s:12:\"master_brand\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/master_brand\";}s:9:\"more_than\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"music\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/music\";}s:5:\"other\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/other\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"promotion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/promotion\";}s:6:\"season\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/season\";}s:6:\"series\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/series\";}s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/service\";}s:6:\"speech\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/speech\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"version_group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/version_group\";}s:6:\"window\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/window\";}}s:8:\"required\";a:2:{i:0;s:4:\"page\";i:1;s:9:\"page_size\";}s:4:\"type\";s:6:\"object\";}s:9:\"retryable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"revocation_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"schedule_date\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:30:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}.*$\";s:4:\"type\";s:6:\"string\";}s:9:\"scheduled\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"scheduled_publication_rights\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"publication_rights\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/publication_rights\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"scheduled_time\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"season\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/group-body\";}s:6:\"series\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":27:{s:22:\"alternate_images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/alternate_images_mixin\";}s:15:\"ancestor_titles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ancestor_titles\";}s:9:\"ancestors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ancestors\";}s:16:\"ancestors_titles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ancestors_titles\";}s:18:\"availability_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/availability_mixin\";}s:19:\"contributions_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/contributions_mixin\";}s:9:\"embargoed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/embargoed\";}s:20:\"expected_child_count\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/expected_child_count\";}s:15:\"genre_groupings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/genre_groupings\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:10:\"image_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/image_link\";}s:12:\"images_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/images_mixin\";}s:13:\"is_embeddable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/is_embeddable\";}s:9:\"items_for\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/items_for\";}s:17:\"master_brand_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/master_brand_link\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:3:\"pid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/pid\";}s:19:\"previous_next_mixin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/previous_next_mixin\";}s:17:\"programme_formats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/programme_formats\";}s:14:\"programme_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/programme_type\";}s:13:\"related_links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/related_links\";}s:18:\"release_date_group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/release_date_group\";}s:9:\"series_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/series_of\";}s:8:\"synopses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/synopses\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/title\";}s:12:\"updated_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/updated_time\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/uri\";}}s:8:\"required\";a:4:{i:0;s:3:\"pid\";i:1;s:7:\"partner\";i:2;s:12:\"updated_time\";i:3;s:9:\"embargoed\";}s:4:\"type\";s:6:\"object\";}s:9:\"series_of\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/pidReference\";}s:7:\"service\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":15:{s:10:\"date_range\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/date_range\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/description\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/identifiers\";}s:3:\"ids\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ids\";}s:11:\"is_concrete\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/is_concrete\";}s:15:\"is_downloadable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/is_downloadable\";}s:13:\"is_streamable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/is_streamable\";}s:17:\"master_brand_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/master_brand_link\";}s:10:\"media_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/media_type\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/name\";}s:7:\"partner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partner\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/region\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/sid\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}s:12:\"updated_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/updated_time\";}}s:8:\"required\";a:2:{i:0;s:3:\"sid\";i:1;s:7:\"partner\";}s:4:\"type\";s:6:\"object\";}s:16:\"serviceReference\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"
[...]
